[2018-09-29 14:49] ThomasKranitsas commented on #1351
Contest https://www.topcoder.com/challenges/30072036 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:53] #1364 closed

[2018-09-29 14:53] ThomasKranitsas commented on #1364
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072032<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:53] ThomasKranitsas commented on #1507
Contest https://www.topcoder.com/challenges/30072057 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:54] Gauravseta commented on #1361
@ThomasKranitsas i investigated its working well .

[2018-09-29 14:55] #1361 closed

[2018-09-29 14:55] ThomasKranitsas commented on #1361
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072034<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:56] ThomasKranitsas commented on #1385
Contest https://www.topcoder.com/challenges/30072027 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:58] #1357 closed

[2018-09-29 14:59] ThomasKranitsas commented on #1357
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072035<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 15:03] cwdcwd commented on #1575
Can you try again? We were probably having an issue with the API gateway at that time.

`payload.result.success` looks like the format from the previous v3 API which is why I want to confirm that you're hitting the v5 endpoint

[2018-09-29 15:05] ThomasKranitsas commented on #1428
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 15:06] ThomasKranitsas commented on #1428
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072039<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 15:07] #1482 closed

[2018-09-29 15:07] ThomasKranitsas commented on #1482
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072052<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 15:08] ThomasKranitsas commented on #1428
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 15:10] suppermancool commented on #1351
done inn https://github.com/topcoder-platform/community-app/pull/1627

[2018-09-29 15:10] ThomasKranitsas commented on #1428
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 15:11] ThomasKranitsas commented on #1478
Contest https://www.topcoder.com/challenges/30071831 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 15:12] ThomasKranitsas commented on #1428
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 15:12] ThomasKranitsas commented on #1428
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 15:14] ThomasKranitsas commented on #1428
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 15:44] suppermancool commented on #1478
done in https://github.com/topcoder-platform/community-app/pull/1628

[2018-09-29 15:45] ThomasKranitsas commented on #1436
Contest https://www.topcoder.com/challenges/30072042 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 15:55] suppermancool commented on #1436
done in https://github.com/topcoder-platform/community-app/pull/1629

[2018-09-29 16:15] ThomasKranitsas commented on #1505
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 16:27] #1457 closed

[2018-09-29 16:27] ThomasKranitsas commented on #1457
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072049<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 16:31] #1385 closed

[2018-09-29 16:31] ThomasKranitsas commented on #1429
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30072040 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 16:31] ThomasKranitsas commented on #1385
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072027<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 16:39] sumitdaga commented on #1451
PR #1631
@ThomasKranitsas
i don't have linux mint 18 :) but i am guessing the issue is because of fixed width on the button and hence this should fix the issue ...

[2018-09-29 16:41] sumitdaga commented on #1483
@akmarif
are you working on this issue ?

[2018-09-29 16:45] sumitdaga commented on #1594
@ThomasKranitsas  FYI
the payment for this issue is already in my PACTS
but its hard to keep track of payments :)

[2018-09-29 16:46] ThomasKranitsas commented on #1594
Ok, thanks for letting me know

[2018-09-29 17:40] akmarif commented on #1302
@cwdcwd I'm getting `{"message":"Failed to add team member. 422 error making request PUT https://api.github.com/teams/2454329/memberships/akmarif: \"Unprocessable Entity\".","code":"Unprocessable Entity"}`

I worked on few more issues. Is it possible to add me manually, please?

[2018-09-29 18:16] ThomasKranitsas commented on #1399
Contest https://www.topcoder.com/challenges/30072024 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 18:17] sumitdaga commented on #1399
@ThomasKranitsas
i can see this issue in IE 11 , hence assigning it to myself ...
when the button is disabled then this issue can be seen but when it is enabled it is ok

[2018-09-29 18:27] PrakashDurlabhji commented on #1374
@ThomasKranitsas its done #1633

[2018-09-29 18:46] sumitdaga commented on #1399
PR #1635

[2018-09-29 21:00] rashmi73 commented on #1369
@ThomasKranitsas Pr ready #1636

[2018-09-29 21:07] ThomasKranitsas commented on #1300
Contest https://www.topcoder.com/challenges/30071999 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 21:11] khushimehta03 commented on #1414
releasing it as not able to find why its happening. it is open now.

[2018-09-29 21:12] ThomasKranitsas commented on #1414
Contest https://www.topcoder.com/challenges/30071998 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 22:36] birdofpreyru commented on #1575
@cwdcwd the service in `topcoder-react-lib` returns a promise, which resolves on success (2xx code), and rejects on non-2xx codes. I think, it should be enough to handle errors gracefully (and should you really need additional data, you can add them to the error object).

[2018-09-30 00:01] jomadoye commented on #1362
@ThomasKranitsas I recently had to format my laptop, and I tried setting up this app again, I have been getting this error `Unauthorized`.
I am logged in on both `accounts.topcoder-dev.com` and `local.topcoder.com`.
Any ideas. I'm using mac OS mojave. thanks.

[2018-09-30 01:41] suppermancool commented on #1362
@jomadoye i used to have this problem, go to chrome setting and remove all cookie relate to topcoder-dev.com work for me

[2018-09-30 03:13] jomadoye commented on #1362
@suppermancool Please can you share me a sample of your `/etc/hosts` file?

[2018-09-30 03:14] nahidshahin commented on #1483
@sumitdaga yes I'm working. Please let me try few more hours, thanks

[2018-09-30 04:39] sumitdaga commented on #1343
@rashmi73
i think you are assigned to #1414 too
do you mind releasing one of these issues ?

[2018-09-30 04:57] sumitdaga commented on #1575
@cwdcwd
refer http://take.ms/yCoXY

[2018-09-30 05:15] jomadoye commented on #1362
Update: Fixed, I am working on this now.

[2018-09-30 06:48] rashmi73 commented on #1343
@sumitdaga sorry to say but it was solved by me long back, when i took it at that time itself, i just needed to inform @ThomasKranitsas that it is working fine already.I just forgot to mention my comment and i started taking new issues as its already done and forgot to add label.so doing it now. thanks @sumitdaga for pointing out here and now i will actively work on 1414 and finish it off within 1

[2018-09-30 08:37] rashmi73 commented on #1414
@ThomasKranitsas
1. currently when we switch from landscape to potrait in device section , devices which wre added and being able to see the list of devices, these devices go to bottom of screen, so do i need to place it on top  of the page under Your devices label? as i feel it shud be the correct place for it.

[2018-09-30 08:40] rashmi73 commented on #1414
@ThomasKranitsas ok understood doing it.

[2018-09-30 09:51] rashmi73 commented on #1414
@ThomasKranitsas screenshot for reference
similar to devices all other will look.

<img width="201" alt="1414_1" src="https://user-images.githubusercontent.com/41687423/46256167-87749a00-c4c4-11e8-88e6-7ef776b1a463.png">

[2018-09-30 11:06] PrakashDurlabhji commented on #1300
@ThomasKranitsas there will be no cutoffs and stroke will be proper now. #1638

[2018-09-30 12:53] sandipanghos commented on #1453
@ThomasKranitsas is it  open for pickup.
Can i work on it?

[2018-09-30 12:54] ThomasKranitsas commented on #1453
no, this was fixed. I'm waiting for @cwdcwd to add @akmarif to the org so I can close the ticket

[2018-09-30 12:58] ThomasKranitsas commented on #1476
Contest https://www.topcoder.com/challenges/30072051 has been updated - it has been assigned to sandipanghosh64.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:00] sandipanghos commented on #1476
@ThomasKranitsas  i am working on this

[2018-09-30 13:04] #1594 closed

[2018-09-30 13:04] #1343 closed

[2018-09-30 13:05] ThomasKranitsas commented on #1343
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072059<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:27] #1436 closed

[2018-09-30 13:27] ThomasKranitsas commented on #1351
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072036<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:27] ThomasKranitsas commented on #1436
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072042<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:28] ThomasKranitsas commented on #1451
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:29] ThomasKranitsas commented on #1451
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072047<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:30] #1463 closed

[2018-09-30 13:30] ThomasKranitsas commented on #1399
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:31] ThomasKranitsas commented on #1463
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072050<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:31] ThomasKranitsas commented on #1451
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:33] ThomasKranitsas commented on #1451
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:35] ThomasKranitsas commented on #1451
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:35] ThomasKranitsas commented on #1451
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:37] ThomasKranitsas commented on #1451
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:38] ThomasKranitsas commented on #1399
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30072024 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:38] #1437 closed

[2018-09-30 13:39] ThomasKranitsas commented on #1437
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072043<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:40] #1300 closed

[2018-09-30 13:41] ThomasKranitsas commented on #1300
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071999<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:41] #1427 closed

[2018-09-30 13:42] ThomasKranitsas commented on #1427
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072038<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:44] #1374 closed

[2018-09-30 13:45] ThomasKranitsas commented on #1374
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072028<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:46] #1478 closed

[2018-09-30 13:47] ThomasKranitsas commented on #1478
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071831<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:49] ThomasKranitsas commented on #1507
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:52] #1342 closed

[2018-09-30 13:59] ThomasKranitsas commented on #1370
[500]: Challenge for the updated issue 1370 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 13:59] ThomasKranitsas commented on #1370
[500]: Challenge for the updated issue 1370 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 14:03] Gauravseta commented on #1370
@thomaskranitsas can i take this?

[2018-09-30 14:04] ThomasKranitsas commented on #1370
Sure

[2018-09-30 14:11] ThomasKranitsas commented on #1370
[500]: Challenge for the updated issue 1370 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 17:30] ThomasKranitsas commented on #1480
Contest https://www.topcoder.com/challenges/30071834 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 20:34] Gauravseta commented on #1370
@ThomasKranitsas Pr dne #1639

[2018-09-30 20:36] Gauravseta commented on #1483
@ThomasKranitsas can i take this ? if akmarif not working

[2018-09-30 20:40] ThomasKranitsas commented on #1413
Contest https://www.topcoder.com/challenges/30072022 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-30 20:40] ThomasKranitsas commented on #1370
[500]: Challenge for the updated issue 1370 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-01 07:02] sandipanghos commented on #1476
@ThomasKranitsas I think i have fixed it.
Added autofocus={true} on the ReatSelect component.
But not able to commit for 12 hours as i am in office.
I am also not able to test it in IOS as i don't have iphone and can't find any ios emulator.
Can you suggest an ios emulator.

[2018-10-01 07:02] sandipanghos commented on #1476
@ThomasKranitsas
Please inform if i should remove my self from assignee as it crosses 24 hours

[2018-10-01 07:58] sumitdaga commented on #1480
@ThomasKranitsas
we can take two approaches here
1) re-use the already installed react-slick (carousel) which already has touch support but will take some more work , or
2) use a library like [react-touch](https://www.npmjs.com/package/react-touch) and just add the swipe events
let me know what you prefer ?

[2018-10-01 09:12] sushilshinde commented on #1569
@liuliquan @ThomasKranitsas sent you guys one email, let's discuss there.

[2018-10-01 09:36] sandipanghos commented on #1476
@ThomasKranitsas
Currently i cannot continue as i am in office and don't have access to my machine.

Can i continue rest of the work with the remaining hours.
Now i am removing myself from assignee.i have 3 hours left.
After i start again i will work for 3 hours.

[2018-10-01 09:52] ThomasKranitsas commented on #1569
I didn't get any email

[2018-10-01 10:04] jomadoye commented on #1476
I am working on this

[2018-10-01 10:34] Gauravseta commented on #1476
@jomadaye even i could have taken this issue or someone else , but sandip has taken it and solved it, so it wud be better to keep this issue with him and let him get chance to complete it as he solved it.

[2018-10-01 10:38] Gauravseta commented on #1476
@jomadaye just for 3hrs delay i feel not a good idea to take someones hardwork if the persons approach is correct.as even u and i hold issues for more than 24 hrs many times. this was just my suggestion..rest u can do as u wish  it doesnt matter

[2018-10-01 14:17] gurmeetb commented on #1363
@Gauravseta to replicate do this:
1. Go to change password and enter new password as "123456789012345678901234567890123456789012345678901234567890123A"
2. Click Save

This changes password - now try to login with new password, you should be able to login and now try change password again, it will not allow you.

@ThomasKranitsas While testing I was using TonyJ credentials so I did changed to above

[2018-10-01 14:56] sumitdaga commented on #1575
@cwdcwd
i am not sure why the [V5 API](https://tc-submission-api-dev.herokuapp.com/docs/#/Submissions/createSubmission) is sending inconsistent error object !
the upload success object is like the swagger doc
so yes like you said for 4XX cases this PR is working and for 5XX errors it seems to be sending only `message: string` object in its payload, so we may have to check for that ..

[2018-10-01 15:18] ThomasKranitsas commented on #1575
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-01 15:27] ThomasKranitsas commented on #1480
If we already use `react-slick` in other parts of the platform, let's stick with it.
Otherwise, feel free to add a new library.

[2018-10-01 15:34] sumitdaga commented on #1480
`react-slick` is being used at a couple of places but using it here requires a bit more effort !
New library will be easier to use, just plug and play most likely.

[2018-10-01 15:55] sandipanghos commented on #1476
@ThomasKranitsas @Gauravseta  i am working on it.
Don't wait for me as i am having problem in testing and will take time.
@jomadoye you and anyone can assign it if they want .
@ThomasKranitsas @Gauravseta  Can i raise the PR if i complete it or i should stop work .

[2018-10-01 18:28] ThomasKranitsas commented on #1575
[500]: Challenge for the updated issue 1575 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-01 18:28] ThomasKranitsas commented on #1575
[500]: Challenge for the updated issue 1575 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-01 18:28] ThomasKranitsas commented on #1575
Contest https://www.topcoder.com/challenges/30072107 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-01 18:28] ThomasKranitsas commented on #1575
Contest https://www.topcoder.com/challenges/30072107 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-01 18:42] hokienick opened #1643 "[$30] Change G+ to Instagram in Footer"
**Describe the bug**
We don't use G+ to socialize to members, so we can remove this and instead put an Instagram logo there that links to: https://www.instagram.com/topcoder/

[2018-10-01 18:42] hokienick commented on #1643
@ThomasKranitsas

[2018-10-01 18:46] PrakashDurlabhji commented on #1643
@ThomasKranitsas can i take this if open for pickup thanks

[2018-10-01 19:45] #1575 closed

[2018-10-01 21:59] birdofpreyru commented on #1363
@gurmeetb @Gauravseta @ThomasKranitsas
Please, set *TonyJ* password back to *appirio123* and do not change it anymore. Use a different account to test credentials related functionality, as *TonyJ* has admin privileges, and it is useful for lots of other testing, which can't be done without it.

[2018-10-01 22:03] Gauravseta commented on #1363
@ThomasKranitsas unable to login using any of ccredentials? is backend down?

@birdofpreyru will surely take anote of it, even though password was not changed by me.

[2018-10-02 14:50] ThomasKranitsas commented on #1328
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 14:50] ThomasKranitsas commented on #1387
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 14:50] ThomasKranitsas commented on #1428
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 14:50] ThomasKranitsas commented on #1373
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 14:50] ThomasKranitsas commented on #1399
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 14:50] ThomasKranitsas commented on #1429
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 14:50] ThomasKranitsas commented on #1451
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 14:53] ThomasKranitsas commented on #1399
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 14:55] ThomasKranitsas commented on #1399
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 14:57] ThomasKranitsas commented on #1453
Contest https://www.topcoder.com/challenges/30072048 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 14:57] ThomasKranitsas commented on #1399
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 14:58] ThomasKranitsas commented on #1399
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30072024 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 15:00] ThomasKranitsas commented on #1399
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 15:37] ajefts commented on #1262
@ThomasKranitsas Can you get some attention on this one for @hokienick please?

[2018-10-02 15:38] ThomasKranitsas commented on #1262
@topcoder-platform/topcodercompetitors this is open for pickup. I've also increased the prize :)

[2018-10-02 15:38] ThomasKranitsas commented on #1262
Contest https://www.topcoder.com/challenges/30072016 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 15:39] ThomasKranitsas commented on #1373
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30072029 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 15:51] ThomasKranitsas commented on #1262
Contest https://www.topcoder.com/challenges/30072016 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 15:51] ThomasKranitsas commented on #1476
please raise a PR if this is ready

[2018-10-02 15:51] ThomasKranitsas commented on #1643
Contest https://www.topcoder.com/challenges/30072170 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 15:51] ThomasKranitsas commented on #1643
Contest https://www.topcoder.com/challenges/30072170 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 15:51] ThomasKranitsas commented on #1643
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-10-02 15:52] ThomasKranitsas commented on #1480
Ok, sounds good.

[2018-10-02 15:52] ThomasKranitsas commented on #1483
sure

[2018-10-02 15:54] ThomasKranitsas commented on #1370
please disregard the labes

[2018-10-02 15:55] nahidshahin commented on #1643
@ThomasKranitsas I want to work on it.

[2018-10-02 15:55] ThomasKranitsas commented on #1643
Contest https://www.topcoder.com/challenges/30072170 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 15:56] PrakashDurlabhji commented on #1643
@nahidshahin its with me already

[2018-10-02 15:56] nahidshahin commented on #1643
@PrakashDurlabhji, I don't have topcoder-x permission to assign myself

[2018-10-02 15:56] ThomasKranitsas commented on #1643
@PrakashDurlabhji took it exactly the same second you posted :)

[2018-10-02 15:57] PrakashDurlabhji commented on #1643
@nahidshahin i took before you. just because it takes approx 10 sec to recevie comment automatically , it feels i was late. but i wasnt.

[2018-10-02 15:59] nahidshahin commented on #1643
okay @PrakashDurlabhji it's yours

[2018-10-02 15:59] ThomasKranitsas commented on #1370
[500]: Challenge for the updated issue 1370 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 15:59] ThomasKranitsas commented on #1370
[500]: Challenge for the updated issue 1370 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 15:59] ThomasKranitsas commented on #1370
[500]: Challenge for the updated issue 1370 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 15:59] ThomasKranitsas commented on #1370
[500]: Challenge for the updated issue 1370 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 16:03] ThomasKranitsas commented on #1370
[500]: Challenge for the updated issue 1370 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 16:14] ThomasKranitsas commented on #1370
[500]: Challenge for the updated issue 1370 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-02 18:05] suppermancool commented on #1262
done in https://github.com/topcoder-platform/community-app/pull/1645

[2018-10-02 18:25] hokienick opened #1646 "Footer update for the Legacy Apps"
**Describe the bug**
The footer was updated in the Community App.  See https://www.topcoder.com/my-dashboard for reference.

We now need this to be updated in Legacy apps such as the Forums.

@ajefts @ThomasKranitsas

[2018-10-02 20:05] Gauravseta commented on #1413
@ThomasKranitsas raising Pr within 15mins

[2018-10-02 20:37] hokienick opened #1647 "[$1] Route some Blockchain Pages to Contentful"
The [homepage](https://blockchain.topcoder.com/) for Blockchain is currently routed to it's Contentful page.  The [learn page](https://blockchain.topcoder.com/learn) has just been completed in Contentful and needs to be routed appropriately.

Similar to the [Topcoder Root Route](https://app.contentful.com/spaces/b5f1djy59z3a/entries/2z6DvIzyhKQ0YusYGsaQc6) in Contentful, I have created a [Blockcha

[2018-10-02 20:43] hokienick opened #1648 "Update CSS so that link color is #006DEA"
**Describe the bug**
The Design Team has informed us that the color of our links are wrong.  Please make the global change of links to use #006DEA in our CSS.

@kkartunov

[2018-10-02 20:58] Gauravseta commented on #1413
#1649 @ThomasKranitsas  rr

[2018-10-02 21:17] PrakashDurlabhji commented on #1643
@ThomasKranitsas its done. just needed svg file for instagram so that it can be added. can you please provide it , so i raise PR immediately. or i am thinking to raise PR with same svg but links to google plus as of now, then later once svg is given i will change it .

[2018-10-02 22:45] hokienick opened #1650 "Change border-top of cards to a new color #26ade9"
**Describe the bug**
Currently the border at the top of the component "Card" is a shade of blue that does not adhere to our brand guidelines.  Please change this color in the CSS to: #26ade9

@kkartunov

[2018-10-03 04:56] suppermancool commented on #1476
done in https://github.com/topcoder-platform/community-app/pull/1652

[2018-10-03 07:45] sumitdaga commented on #1480
@ThomasKranitsas

PR #1653
also i fixed some, media-query screen size present in javascript, issues which i missed in one of my previous fixes!

[2018-10-03 16:07] harshitmehta123 commented on #1288
Hi @ThomasKranitsas,
Thanks for working on this
When you click on the match it directs to /detail and not to the contest page. The hyperlink seems to correct but there is a redirect there which might be causing this. Can you take a look into it again :)

[2018-10-03 16:22] ThomasKranitsas opened #1654 "[$20] Fix wrong links in Marathon Match graph"
Follow-up from https://github.com/topcoder-platform/community-app/issues/1288

When you click on the match popup from the graph it directs to /detail and not to the contest page. The hyperlink seems to correct but there is a redirect there which might be causing this.

[2018-10-03 16:27] ThomasKranitsas commented on #1643
@dedywahyudi can you please help on this?

[2018-10-03 16:32] dedywahyudi commented on #1643
@ThomasKranitsas @PrakashDurlabhji
Check below
[32px_logo-instagram.svg.zip](https://github.com/topcoder-platform/community-app/files/2442845/32px_logo-instagram.svg.zip)

[2018-10-03 16:33] PrakashDurlabhji commented on #1643
@dedywahyudi thanks.
@ThomasKranitsas raising PR within 10 mins.

[2018-10-03 18:48] hokienick opened #1655 "TCO Hall of Fame handles link to member profile"
**Describe the bug**
Currently the member handles shown on the [TCO Hall of Fame](https://www.topcoder.com/community/hall-of-fame/tco/) pages as text.  We would like them to go to their member profiles.

ex:
https://www.topcoder.com/members/ **handle**

@kkartunov

[2018-10-03 19:17] PrakashDurlabhji commented on #1643
@ThomasKranitsas #1656 PR ready

[2018-10-03 19:27] ThomasKranitsas commented on #1400
Contest https://www.topcoder.com/challenges/30072023 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-03 23:00] hokienick opened #1657 "Looker Tags - Various Bugs/Features"
1. Return numerical values need commas.  ex: `654321` should be `654,321`

2. Ability to limit the number of rows rendered in a table.

3. Ability to pass a boolean that will determine whether or not to have the rows numbered.

_boolean is false:_
[code]

_boolean is true:_
[code]

4. If no "headerName" is provided as a parameter, do not display any header.

Currently if headerName does not appear

[2018-10-04 04:43] ThomasKranitsas commented on #1483
Contest https://www.topcoder.com/challenges/30072053 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 07:27] sumitdaga commented on #1483
@ThomasKranitsas
PR #1658

[2018-10-04 12:41] ThomasKranitsas opened #1660 "[$80] Fix issues with the birth date field in Basic Info page"
1. There's no way to go back in years. A user should be able to change the years without having to go back month by month.
2. Currently, the default placeholder is today's date. Modify the DatePicker component in `/src/shared/components/challenge-listing/Filters/DatePicker.jsx` to be able to show a placeholder instead of today's date and update the basic info form to show a placeholder text instea

[2018-10-04 12:41] ThomasKranitsas commented on #1660
Contest https://www.topcoder.com/challenges/30072312 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 12:43] ThomasKranitsas commented on #1660
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-10-04 12:47] ThomasKranitsas commented on #1660
Contest https://www.topcoder.com/challenges/30072312 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 15:32] ThomasKranitsas commented on #1657
Contest https://www.topcoder.com/challenges/30072325 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 15:32] ThomasKranitsas commented on #1657
Contest https://www.topcoder.com/challenges/30072325 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 15:33] ThomasKranitsas commented on #1657
Contest https://www.topcoder.com/challenges/30072325 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 15:33] ThomasKranitsas commented on #1657
@topcoder-platform/topcodercompetitors this one is open for pickup! Go for it!

[2018-10-04 15:34] ThomasKranitsas commented on #1657
Contest https://www.topcoder.com/challenges/30072325 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 15:39] ThomasKranitsas commented on #1657
Contest https://www.topcoder.com/challenges/30072325 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 15:41] ThomasKranitsas commented on #1483
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 15:44] #1413 closed

[2018-10-04 15:44] ThomasKranitsas commented on #1413
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072022<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 15:45] #1262 closed

[2018-10-04 15:45] ThomasKranitsas commented on #1262
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072016<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 15:46] #1476 closed

[2018-10-04 15:46] ThomasKranitsas commented on #1476
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072051<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 15:48] ThomasKranitsas commented on #1483
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30072053 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 15:55] gurmeetb commented on #1657
@ThomasKranitsas @hokienick can you kindly add how to replicate the issue? I did try a search for Looker tags in codebase but found none.

[code]

[2018-10-04 15:59] ThomasKranitsas commented on #1657
That looker thing is a new addition. Make sure to fetch the latest code from `develop`

[2018-10-04 17:37] hokienick opened #1662 "[$40] Adding <br> tag in Contentful WYSIWYG creates too many breaks"
**Describe the bug**
When adding a break tag (<br>) to create space between text, tables, etc, the system adds more break tags than necessary

**To Reproduce**
Steps to reproduce the behavior:
1. Within a Content Block or Banner, write some text.
2. Press "return" or "enter" to go to a new line and write more text.
3. Preview the result.  Notice how one text of line follows another. That's fine, b

[2018-10-04 17:47] ThomasKranitsas commented on #1662
Contest https://www.topcoder.com/challenges/30072327 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 17:47] ThomasKranitsas commented on #1662
Contest https://www.topcoder.com/challenges/30072327 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 17:48] ThomasKranitsas commented on #1662
@topcoder-platform/topcodercompetitors this is open for pickup!

[2018-10-04 17:48] ThomasKranitsas commented on #1662
Contest https://www.topcoder.com/challenges/30072327 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-04 20:44] PrakashDurlabhji commented on #1400
@ThomasKranitsas PR done #1664

[2018-10-04 21:14] Gauravseta commented on #1660
@ThomasKranitsas
1.is changing library expected? such an implementation anywhere else where i can refer from?
2.what is the placeholder to be shown then?

[2018-10-05 07:50] sumitdaga commented on #1592
@ThomasKranitsas @ajefts

[2018-10-05 09:07] sumitdaga commented on #1662
@ThomasKranitsas
how to reproduce/test this issue?
is the WYSIWYG  part of the community app ?

[2018-10-05 10:29] sumitdaga commented on #1662
@hokienick
i don't think there is any issue on the community app side!
its possible that the two extra `<br>`  are because the `<br>` statement itself is on a new line
so possibly,
1. you press enter , a `<br>` is introduced
2. on the next line you write `<br>` and then again press enter which introduces another `<br>`

so total 3 `<br>` statements
if you could try writing the `<br>` statement inl

[2018-10-05 12:36] gurmeetb commented on #1657
`6. Option to put the list data in a scrolling window pane within the page and the option to determine the window pane's height (in pixels) and width (in pixels or percentage).`

@ThomasKranitsas @hokienick Just so I am clear on this - we are asking that users of component will pass in width/height and we would draw scrollable area for the same width/height ?

Also for Reqt 5, I didn't quite get i

[2018-10-05 14:08] ThomasKranitsas commented on #1657
Re. 6: Correct

Re. 5: Correct, we need to support a more readable format.

[2018-10-05 14:12] gurmeetb commented on #1657
`Re. 5: Correct, we need to support a more readable format.`
Did you had chance to look at PDF which has more readable format, does that work - it is just `"` assignment and we can fix it. It is working - the pdf has it - look for comments like `Table having list without &q;`.

[2018-10-05 16:07] hokienick commented on #1662
I'll keep that in mind!  Thanks @sumitdaga

[2018-10-05 17:38] ThomasKranitsas commented on #1302
@akmarif you should've received an email to join the org.

Please accept the invitation and then go to the challenge forum and use the x.topcoder.com link to register with Topcoder-X otherwise I can't pay you for your work.

[2018-10-05 17:42] ThomasKranitsas commented on #1420
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30072058 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-05 17:48] ThomasKranitsas commented on #1373
will process the payment manually

[2018-10-05 17:48] #1373 closed

[2018-10-05 17:50] #1328 closed

[2018-10-05 17:50] #1451 closed

[2018-10-05 17:50] #1387 closed

[2018-10-05 17:53] #1400 closed

[2018-10-05 17:55] ThomasKranitsas commented on #1426
@nahidshahin I see there's a pending invitation for you to join our org.

Please check your emails, accept the invitation, go to the challenge forum and use the x.topcoder.com link to register with Topcoder-X otherwise I can't pay you for your work.

Thank you!

[2018-10-05 17:56] ThomasKranitsas commented on #1428
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30072039 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-05 17:57] ThomasKranitsas commented on #1429
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30072040 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-05 17:57] ThomasKranitsas commented on #1370
[500]: Challenge for the updated issue 1370 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-05 17:57] ThomasKranitsas commented on #1370
[500]: Challenge for the updated issue 1370 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-05 17:57] ThomasKranitsas commented on #1370
[500]: Challenge for the updated issue 1370 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-05 18:36] sumitdaga commented on #1662
@hokienick
i am guessing you are adding content from the [contentful](https://www.contentful.com/) dashboard
if so, i am afraid we can't really do anything about this

[2018-10-05 18:47] hokienick commented on #1657
@gurmeetb I just copied and pasted the line from your pdf:

`<Looker lookerId="1146" table='[{"headerName": "Copilot","property": "copilot.handle"},{"headerName": "Completed challenges","property": "challenge.count"}]' />`

Nothing appeared when previewing.

Check out the "Copiloted Challenges" section here: https://community-app.topcoder-dev.com/examples/contentful/viewport/3dc5n0lC1iUuWymsUUWEGm

[2018-10-05 20:32] gurmeetb commented on #1657
@hokienick  Can you try with Looker examples UI taking updated code from MR ?

[2018-10-06 09:13] gurmeetb commented on #1657
Sorry just saw the `Your tests failed on CircleCI` - looking into lint issues, will update soon.

[2018-10-06 13:07] rashmi73 commented on #1414
@ThomasKranitsas can you please review this thanks

[2018-10-06 13:09] rashmi73 commented on #1369
@thomaskranitsas payment for this is not visible in my list. can you please recheck. all other payments are visible. this one is not credited yet. thanks

[2018-10-06 16:01] gurmeetb commented on #1657
`@hokienick Can you try with Looker examples UI taking updated code from MR ?`

@hokienick did you had chance to test ☝️

[2018-10-06 17:38] #1369 closed

[2018-10-06 17:39] ThomasKranitsas commented on #1369
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072031<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-06 17:39] ThomasKranitsas commented on #1369
seems like the payment wasn't processed. You should see the payment in your PACTs in the next 24h

[2018-10-06 18:46] nahidshahin commented on #1426
@ThomasKranitsas I checked my email but I can't find anything. What can I do?

[2018-10-07 05:17] ThomasKranitsas commented on #1302
Contest https://www.topcoder.com/challenges/30072000 has been updated - it has been assigned to akmarif83.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-07 05:19] ThomasKranitsas commented on #1305
Contest https://www.topcoder.com/challenges/30071550 has been updated - it has been assigned to akmarif83.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-07 05:34] Gauravseta commented on #1302
@ThomasKranitsas how many issues will akmarif take? he is assigned to two issues.

[2018-10-07 05:37] PrakashDurlabhji commented on #1302
@ThomasKranitsas @akmarif kindly don't violate rule.I want one as u r assigned to other issue
https://github.com/topcoder-platform/community-app/issues/1449
this one.
@ThomasKranitsas u can verify .
@akmarif u please unassign urself from one. I want it. else I will unassign u as I don't have any issue pending.
@Gauravseta u are already working on one so even u cannot take it.

[2018-10-07 05:37] ThomasKranitsas commented on #1449
Contest https://www.topcoder.com/challenges/30072046 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-07 05:38] ThomasKranitsas commented on #1449
Contest https://www.topcoder.com/challenges/30072046 has been updated - it has been assigned to akmarif83.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-07 05:38] PrakashDurlabhji commented on #1449
@akmarif my mistake it was already with u. apologies .

[2018-10-07 05:39] PrakashDurlabhji commented on #1302
@ThomasKranitsas @akmarif kindly ignore my above comment. it was a mistake. sincere apologies. I guess akmarif got rights just now.

[2018-10-07 07:40] ThomasKranitsas commented on #1446
Contest https://www.topcoder.com/challenges/30072045 has been updated - it has been assigned to akmarif83.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-07 07:41] ThomasKranitsas commented on #1453
Contest https://www.topcoder.com/challenges/30072048 has been updated - it has been assigned to akmarif83.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-07 07:43] ThomasKranitsas commented on #1326
Contest https://www.topcoder.com/challenges/30072006 has been updated - it has been assigned to akmarif83.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-07 09:08] ThomasKranitsas commented on #1426
Contest https://www.topcoder.com/challenges/30072037 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-07 11:46] ThomasKranitsas commented on #1657
@hokienick this has been fixed and should be deployed in dev shortly. Please test on your side and let me know if you need more changes

[2018-10-07 11:55] ThomasKranitsas commented on #1657
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30072325 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-08 05:55] JayaDhaka opened #1666 "[$80] Unable to view profile"
User is not able to view profile here https://www.topcoder.com/members/willwest/ after login. Please fix the issue.

[2018-10-08 07:26] JayaDhaka opened #1667 "Unable to update profile"
user handle: Alex_Z_

For the above handle, we have updated the profile information (first name, last name, DOB and country) in our database but the changes are not reflecting here https://www.topcoder.com/settings/profile

Please check and fix the issue.

[2018-10-08 12:53] sushilshinde opened #1668 "CMS error on mm-feature-experiment branch"
<img width="520" alt="screen shot 2018-10-08 at 6 18 00 pm" src="https://user-images.githubusercontent.com/683231/46610053-3baa9c00-cb27-11e8-9255-f1796226f5ae.png">

[2018-10-08 16:34] hokienick commented on #1657
Thanks for looking into this @gurmeetb !  Unfortunately when attempting to display a table without &q; throw an "Empty Array" error.  I believe having the single quotes for the table parameter and double quotes inside is confusing to Contentful.

[code]

[2018-10-08 16:37] hokienick commented on #1544
@ThomasKranitsas can we get a guide on how to accomplish this?  Part of the ask was to have a redirect option within Contentful.  There are other sites we are needing to redirect

[2018-10-08 17:03] ThomasKranitsas opened #1669 "[$20] Looker issue"
@gurmeetb this is a follow-up for the fix you did in the `Looker` implementation.

It seems like if we add this:
[code]
in Contentful, the data is not showing properly.

Example: https://community-app.topcoder-dev.com/examples/contentful/viewport/3dc5n0lC1iUuWymsUUWEGm

See how it shows `Empty array!` even though we use the code from the snippet above.

[2018-10-08 17:07] ThomasKranitsas commented on #1669
Contest https://www.topcoder.com/challenges/30072431 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-08 17:17] ThomasKranitsas commented on #1669
here are few screenshots showing what is actually being rendered from the contentful content:

<img width="1396" alt="screenshot 2018-10-08 at 20 16 46" src="https://user-images.githubusercontent.com/4612921/46623710-32293000-cb37-11e8-93fa-7014f62211d1.png">
<img width="1396" alt="screenshot 2018-10-08 at 20 16 56" src="https://user-images.githubusercontent.com/4612921/46623714-35242080-cb37-11e8

[2018-10-08 17:45] gurmeetb commented on #1669
<Looker lookerId="1146" tableHeight="200px" tableWidth="auto"  table="[{'headerName': 'Copilot','property': 'copilot.handle'},{'headerName': 'Completed challenges','property': 'challenge.count}]" />

@ThomasKranitsas @hokienick Kindly use ☝️ in Contentful with the code fix. This should work fine. Do let me know if you still see issues. I have added the update format to  Looker examples too.

[2018-10-08 17:47] gurmeetb commented on #1657
@hokienick added the fix in #1669

[2018-10-08 18:00] #1669 closed

[2018-10-08 18:01] ThomasKranitsas commented on #1669
Thanks @gurmeetb for the quick fix!

[2018-10-08 18:01] ThomasKranitsas commented on #1669
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072431<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-08 18:39] gurmeetb commented on #1657
@hokienick I see we are mixing `&q` and `" / ' ` combinations. Do we want to support both formats or we are updating to be in sync with one only?

I came back to verify the fix and now see the others with `&q` are failing since I was under assumption
we are replacing them with new suggested format.

https://community-app.topcoder-dev.com/examples/contentful/viewport/3dc5n0lC1iUuWymsUUWEGm

[2018-10-09 08:54] sushilshinde opened #1672 "PWA not working on prod"
![screen shot 2018-10-09 at 2 22 37 pm](https://user-images.githubusercontent.com/683231/46657850-e4f89d00-cbce-11e8-8a9e-43bae929009c.png)

[2018-10-09 09:29] ThomasKranitsas commented on #1657
I've processed the payment manually

[2018-10-09 09:29] #1657 closed

[2018-10-09 09:55] #1453 closed

[2018-10-09 09:55] #1449 closed

[2018-10-09 09:56] #1446 closed

[2018-10-09 09:56] #1326 closed

[2018-10-09 09:56] ThomasKranitsas commented on #1453
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072048<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-09 09:56] #1305 closed

[2018-10-09 09:56] ThomasKranitsas commented on #1449
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072046<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-09 09:57] #1302 closed

[2018-10-09 09:57] ThomasKranitsas commented on #1305
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071550<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-09 10:01] ThomasKranitsas commented on #1326
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072006<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-09 10:01] ThomasKranitsas commented on #1302
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072000<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-09 10:20] ThomasKranitsas commented on #1420
Will process this manually

[2018-10-09 10:20] #1420 closed

[2018-10-09 10:31] ThomasKranitsas commented on #1399
Will process this manually

[2018-10-09 10:34] ThomasKranitsas commented on #1399
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-09 11:21] sushilshinde opened #1673 "Ongoing MMs will support old app"
There is a change in the listing page. If the match is legacy (track: "DATA_SCIENCE", subTrack: "MARATHON_MATCH"), detail will be shown on the legacy app. In that cases, id attribute represents round id, and detail URL will look like this

`https://community.topcoder.com/tc?module=MatchDetails&rd={id}`

All the hyperlinks for the ongoing MM should have above pattern.

Although, for finished MMs de

[2018-10-09 11:34] #1672 closed

[2018-10-09 12:31] sushilshinde opened #1674 "[$80] mm-features-experiment branch : Details Page Change"
Details page change

1. Add handle color logic based on ranking on registrants and submissions tab
https://github.com/topcoder-platform/community-app/blob/develop/src/shared/utils/tc.js#L100.  The color should be based on their rating for the specific challenge type. If there is no rating for that challenge type, then keep the default colors for the handle display.

2. Bring the date and time clos

[2018-10-09 12:51] ThomasKranitsas commented on #1428
the payment has been processed

[2018-10-09 12:51] #1428 closed

[2018-10-09 12:53] ThomasKranitsas commented on #1429
will process this manually

[2018-10-09 12:53] #1429 closed

[2018-10-09 12:55] ThomasKranitsas commented on #1370
I'll process the payment manually

[2018-10-09 12:55] #1370 closed

[2018-10-09 13:59] ThomasKranitsas commented on #1480
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-09 14:00] ThomasKranitsas commented on #1362
@jomadoye you're still not a member of the org. Please check your email and accept the invitation

[2018-10-09 14:07] ThomasKranitsas commented on #1480
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30071834 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-09 15:53] ThomasKranitsas opened #1675 "[$20] Looker final fixes"
- Fix issue with extra row when using a numbered table
- Add tooltip (`title` property) to support large text

[2018-10-09 15:57] jomadoye commented on #1362
@ThomasKranitsas I just checked my email again including spam, I have not received any invite.

[2018-10-09 15:57] jomadoye commented on #1362
omadoyejed@gmail.com

[2018-10-09 15:57] ThomasKranitsas commented on #1362
@cwdcwd can you please check this?

[2018-10-09 15:59] ThomasKranitsas commented on #1675
[400]: Failed to create challenge. Detail: com.informix.asf.IfxASFException: Attempt to connect to database server (informixoltp_tcp) failed.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-09 16:13] ThomasKranitsas commented on #1675
Contest https://www.topcoder.com/challenges/30072461 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-09 16:13] ThomasKranitsas commented on #1675
Contest https://www.topcoder.com/challenges/30072461 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-09 16:14] ThomasKranitsas commented on #1675
Contest https://www.topcoder.com/challenges/30072461 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-09 16:14] #1675 closed

[2018-10-09 16:15] ThomasKranitsas commented on #1675
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072461<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-09 17:46] hokienick commented on #1647
@ThomasKranitsas - You may be able to assist here!

[2018-10-09 22:41] NehaSharma02 opened #1677 "[$1] Spacing required on profile page"
There is no space between “Since” and “September” on the profile pages.

Need to fix spacing.

![inkedinkedinkedimage 1 _li](https://user-images.githubusercontent.com/37835397/46702869-6b9a9200-cc42-11e8-99a2-53e5e3f21091.jpg)

@birdofpreyru
@ajefts
@RiteshTC

[2018-10-10 09:28] PrakashDurlabhji commented on #1677
@ThomasKranitsas can i get this?  il raise PR immdiatly

[2018-10-10 09:29] ThomasKranitsas commented on #1677
it's not open for pickup

[2018-10-10 09:29] ThomasKranitsas commented on #1677
I've already fixed that

[2018-10-10 09:31] PrakashDurlabhji commented on #1677
@ThomasKranitsas ok. anymore open pickup soon?

[2018-10-10 09:31] ThomasKranitsas commented on #1677
yes, I'll open more tickets today. Stay tuned!

[2018-10-10 09:31] #1677 closed

[2018-10-10 09:32] ThomasKranitsas commented on #1677
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072503<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-10 12:36] #1643 closed

[2018-10-10 12:37] ThomasKranitsas commented on #1643
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072170<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-10 12:42] ThomasKranitsas commented on #1654
please check https://community-app.topcoder-dev.com/members/tourist/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH

[2018-10-10 12:42] #1578 closed

[2018-10-10 12:43] ThomasKranitsas commented on #1578
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071881<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-10 12:44] ThomasKranitsas commented on #1667
@JayaDhaka where did you modify the data? I mean, which table?

Can you provide more info as this is not enough to understand what the issue could be.

[2018-10-10 18:14] hokienick opened #1679 "TCO Hall of Fame - Member handles should link to profiles"
Currently the member handles on the [TCO Hall of Fame](https://www.topcoder.com/community/hall-of-fame/tco/) page are just text.  We would like these handles to link to their profile.

For this purpose, please make sure they do not turn blue or have underlines under them like normal links, they should look as they do now, but just link to their profiles.

If the member is a "Champion" make sure th

[2018-10-10 18:15] hokienick opened #1680 "Fix the size of Blogfeed Component in Contentful"
Please see [this document](https://docs.google.com/document/d/1RZm1Bqei2flYmR5GJTsPRvaaTs8CRsStosHBs2nmAMQ/edit) for description of issue.

@kkartunov

[2018-10-10 19:13] ajefts opened #1681 "Add financial institution to settings"
Add "Financial Institution" to the dropdown for service providers.  This will allow users to enter financial institutions that they have accounts with.  Some financial customers require this for participation in certain challenges.

![image](https://user-images.githubusercontent.com/3812270/46759880-76831000-cc9e-11e8-843f-961c2dbd31ee.png)

Use the icon that we currently use for "Payments".

[2018-10-10 19:13] ajefts commented on #1681
@urwithat think we could do this as a quick add?

[2018-10-10 19:21] ThomasKranitsas commented on #1462
Closing this one as it's no longer needed

[2018-10-10 19:21] #1462 closed

[2018-10-10 19:21] ThomasKranitsas commented on #1460
Closing this one as it's no longer needed

[2018-10-10 19:21] #1460 closed

[2018-10-10 21:19] hokienick opened #1682 "Remove "padding-bottom:0" from content blocks"
Currently there is a parameter that is setting padding-bottom:0 and making things uneven in the content block.  Please remove this.  Doing so will activate the "padding" in the next specificity.

@kkartunov

[2018-10-10 23:37] hokienick opened #1683 "Header Margins need to be changed"
Currently Margins for headers are "30px 0 10px"  This should change to "10px 0"

@kkartunov

[2018-10-11 00:06] hokienick opened #1684 "Header for Accordion Component should be H2 instead of H1"
We have changed the headers globally, but for some reason the Accordion headers were not affected.  Please make sure those headers take from the global css and change it to H2.

@kkartunov

[2018-10-11 03:53] dedywahyudi commented on #1391
@ThomasKranitsas
Function to check new email already in use should be new feature i think.
Not remember we have that on previous build.

[2018-10-11 05:20] RiteshTC commented on #1667
Both informix and Dynamo Db tables MemberTrait, MemberProfile

[2018-10-11 05:28] #1147 closed

[2018-10-11 06:32] kkartunov commented on #1648
This requires an update in https://github.com/topcoder-platform/topcoder-react-ui-kit
I do not have push access currently to this repo. Will need to ask @birdofpreyru to provide.

[2018-10-11 06:35] kkartunov commented on #1650
@hokienick could you point me to see which card is in question? There are multiple possibilities. Could you provide a screenshot?

[2018-10-11 06:52] kkartunov commented on #1650
Should be fixed by db0fcc2cb53050747fa3392e6890db1d256b994b

[2018-10-11 06:52] #1650 closed

[2018-10-11 11:18] ThomasKranitsas commented on #1391
Should I close this ticket?

[2018-10-11 12:33] ThomasKranitsas commented on #1681
@urwithat I've made the required changes on the backend and I'll push the frontend changes in a bit.

Though, you'll either have to run the script to init the lookups again or add the new value into the DB manually since we don't have POST/PUT support on the lookup endpoints.

[2018-10-11 12:35] ThomasKranitsas commented on #1667
That's interesting...

So, when you modify the data from the Settings page it reflects the changes in dynamo DB but when you modify the data directly in dynamo DB you don't see the changes in the settings page?

I'm not exactly sure how to reproduce the issue.

[2018-10-11 12:47] ThomasKranitsas commented on #1681
Fixed

[2018-10-11 12:47] #1681 closed

[2018-10-11 13:52] ThomasKranitsas commented on #1674
For the first requirement, the API already returns the color (as `colorStyle`) for each user so we don't need to use the logic from the `utils/tc.js` file.

Example:

[code]

[2018-10-11 13:54] ThomasKranitsas commented on #1674
Contest https://www.topcoder.com/challenges/30072579 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 13:55] ThomasKranitsas commented on #1674
Contest https://www.topcoder.com/challenges/30072579 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 13:55] ThomasKranitsas commented on #1674
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-10-11 13:57] ThomasKranitsas commented on #1440
This is not really needed. The user may don't want to type but just scroll in the list

[2018-10-11 13:57] #1440 closed

[2018-10-11 14:00] ThomasKranitsas commented on #1363
@Gauravseta thanks for the investigation on this one.

[2018-10-11 14:00] #1363 closed

[2018-10-11 14:01] ThomasKranitsas commented on #1363
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071860<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 14:03] ThomasKranitsas commented on #1392
@vic-topcoder ?

[2018-10-11 14:07] #1389 closed

[2018-10-11 14:08] kkartunov commented on #1668
Can not reproduce: https://drive.google.com/file/d/1qBEqXq1j6gbA0wwvO6BotnrcJaPlzQXy/view

[2018-10-11 14:08] #1668 closed

[2018-10-11 14:08] #1395 closed

[2018-10-11 14:09] ThomasKranitsas commented on #1407
Closing this one as it's not a valid issue

[2018-10-11 14:09] #1407 closed

[2018-10-11 14:11] ThomasKranitsas commented on #1572
We need to make sure both the registration page and the settings page read the countries from the same table.

We created a lookup endpoint for the countries but it's not yet in prod.

[2018-10-11 14:14] ThomasKranitsas commented on #1468
Contest https://www.topcoder.com/challenges/30071864 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 14:14] #1468 closed

[2018-10-11 14:14] ThomasKranitsas commented on #1468
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071864<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 14:15] ThomasKranitsas commented on #1674
Contest https://www.topcoder.com/challenges/30072579 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 14:29] #1424 closed

[2018-10-11 14:30] #1350 closed

[2018-10-11 14:31] #1331 closed

[2018-10-11 14:31] ThomasKranitsas commented on #1331
Contest https://www.topcoder.com/challenges/30072007 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 14:31] ThomasKranitsas commented on #1350
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071858<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 14:37] ThomasKranitsas opened #1685 "[$15] Fix new password label"
URL: https://community-app.topcoder-dev.com/settings/account

The `New password` label has a weird border. This should be fixed.

<img width="1397" alt="screenshot 2018-10-11 at 17 34 35" src="https://user-images.githubusercontent.com/4612921/46811857-3befa500-cd7c-11e8-993b-2c2e58d2bce8.png">

[2018-10-11 14:38] ThomasKranitsas commented on #1347
cannot reproduce

[2018-10-11 14:38] #1347 closed

[2018-10-11 14:41] ThomasKranitsas commented on #1685
Contest https://www.topcoder.com/challenges/30072582 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 14:42] ThomasKranitsas commented on #1685
@topcoder-platform/topcodercompetitors new ticket!

[2018-10-11 14:46] ThomasKranitsas commented on #1685
Contest https://www.topcoder.com/challenges/30072582 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 15:03] gurmeetb commented on #1674
kindly assign me

[2018-10-11 15:19] hokienick commented on #1648
@birdofpreyru can you please help @kkartunov out with this?

[2018-10-11 15:20] vic-topcoder commented on #1392
In general yes - required fields are on top, but in this case I wonder what dictates the structure of the page. I would love to have a second pass on the whole form, as for example we have:

- Labels are left-aligned; they should be right-aligned to make it easy for the user to identify the field, right now there is a gap between element and field;
- certain fields are dependent on the country - z

[2018-10-11 15:44] nahidshahin commented on #1685
@ThomasKranitsas raised a PR https://github.com/topcoder-platform/community-app/pull/1686

[2018-10-11 15:46] ThomasKranitsas commented on #1647
Contest https://www.topcoder.com/challenges/30072595 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 15:46] ThomasKranitsas commented on #1647
this is not open for pickup.
I've fixed this

[2018-10-11 15:46] ThomasKranitsas commented on #1647
Contest https://www.topcoder.com/challenges/30072595 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 15:46] ThomasKranitsas commented on #1647
Contest https://www.topcoder.com/challenges/30072595 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 15:48] ThomasKranitsas commented on #1392
I'm not quite sure what needs to be done :)

Do we need to rethink about the overall layout of our forms?

[2018-10-11 15:52] cwdcwd commented on #1362
@jomadoye I've manually invited you to the org. Can you please check again?

[2018-10-11 16:13] #1647 closed

[2018-10-11 16:14] ThomasKranitsas commented on #1647
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072595<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 17:14] gets0ul commented on #1674
@ThomasKranitsas
1. API always return `colorStyle: "color: #000000"` for all registrants.
   Example:
[code]
3. Disable winners tab for legacy matches. Can you show me how to get these legacy matches?

Thanks

[2018-10-11 17:17] ThomasKranitsas commented on #1674
1. That’s not the case. I believe it depends on the challenge and the member rating.

If you check with an old ui prototype challenge, there are members with rating and there are valid colors.

3. @sushilshinde can you help with this?

[2018-10-11 17:42] gets0ul commented on #1674
1. The registrants field of the API response from `https://api.topcoder.com/v4/challenges/${challengeId}` always have reliability of null and plain black 000000 colorStyle for all registrants.

Example: https://api.topcoder.com/v4/challenges/30072008

[2018-10-11 17:49] sushilshinde commented on #1674
@gets0ul @ThomasKranitsas

There are few matches which show winners, here is one

https://test-community-app.topcoder-dev.com/challenges/16337

[2018-10-11 17:54] gets0ul commented on #1674
@ThomasKranitsas
You were right. For challenge id, @sushilshinde provided. The registrants in fact have defined colorStyle.

@sushilshinde
What constitutes a match is legacy?

Thanks

[2018-10-11 17:57] sushilshinde commented on #1674
http://api.topcoder-dev.com/v4/challenges/16337

If subTrack: "MARATHON_MATCH"

@gets0ul

[2018-10-11 17:58] gets0ul commented on #1674
@sushilshinde Thanks

[2018-10-11 18:42] #1685 closed

[2018-10-11 18:43] ThomasKranitsas commented on #1685
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072582<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 19:02] nahidshahin commented on #1426
@ThomasKranitsas the issue is merged. Can you please complete the payment? Thanks

[2018-10-11 19:08] ThomasKranitsas commented on #1426
Of course :)

[2018-10-11 19:08] #1426 closed

[2018-10-11 19:09] ThomasKranitsas commented on #1426
Please do let me know if there are more tickets where the payment wasn't processed

[2018-10-11 19:12] ThomasKranitsas commented on #1426
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072037<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-11 20:09] ajefts opened #1687 "Topgear Leaderboard Update"
Add the following columns to the topgear leaderboard:

- Wins
- Total Earnings

[2018-10-11 20:09] ajefts commented on #1687
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1325289

[2018-10-11 21:47] gets0ul commented on #1674
@sushilshinde @ThomasKranitsas PR is done and ready for review.

[2018-10-12 09:59] kkartunov commented on #1648
or @ajefts ?

[2018-10-12 10:40] birdofpreyru commented on #1648
@kkartunov @hokienick access given

[2018-10-12 12:31] kkartunov commented on #1680
are those same viewports? Can you point me to the name/title of viewport `ZDESwJrkSAOsikiueUiKI`?

[2018-10-12 12:38] kkartunov commented on #1684
@hokienick please, point to an example. I do not understand which headers are in question?

[2018-10-12 12:44] #1682 closed

[2018-10-12 17:07] hokienick commented on #1680
Sure!  Here is the viewport: https://app.contentful.com/spaces/b5f1djy59z3a/entries/ZDESwJrkSAOsikiueUiKI

[2018-10-12 18:02] hokienick opened #1690 "The "Learn" dropdown from the menu is currently not clickable but needs to be."
Please make the "Learn" menu item on the top header bar link to https://www.topcoder.com/community/learn

Also assure that this works on legacy pages such as the forums as well.

[2018-10-12 18:04] hokienick commented on #1655
Duplicate

[2018-10-12 18:04] #1655 closed

[2018-10-12 18:06] hokienick commented on #1572
All Countries

[2018-10-12 18:40] hokienick opened #1691 "Data Science How To page - Image is deformed"
On the [Data Science How To page](https://www.topcoder.com/community/data-science/how-to-compete) ([Viewport](https://app.contentful.com/spaces/b5f1djy59z3a/entries/4JY0bIXRo4yguOggiGYmCg))the icon next to "beginning a match" on the left side bar seems to be squished.

This image is the same size as all the other icon images so it seems weird that it would look so different.

[2018-10-12 19:11] hokienick opened #1692 "When creating Cards in Contentful the bottom gets clipped."
This can be solved by increase the padding at the bottom of the container, but we do not want this to be a global change.  Is there a way to increase the padding of the container if a card is recognized?

Please use this viewport as an example: https://app.contentful.com/spaces/b5f1djy59z3a/entries/vTN2qPNsXuiws2G2UyyE2

[2018-10-12 20:33] hokienick opened #1693 "Google Calendar IFrame is not responsive"
The[ Events Calendar](https://www.topcoder.com/community/events) ([Viewport](https://app.contentful.com/spaces/b5f1djy59z3a/entries/5ylEiWAjPqSUycO6ssAkgo?previousEntries=6pTNNoF9wQuCy2c6qIk4yI)) on our site is not mobile friendly.  It is currently in an iFrame and doesn't scale correctly.

After a quick google search I came across this article, which may help! https://answers.squarespace.com/ques

[2018-10-12 20:39] hokienick commented on #1684
Sorry about that!  Check out https://blockchain.topcoder.com/learn

You can see that first accordion section (clickable text to the left changes text to the right), the header is not correct.  [The viewport](https://app.contentful.com/spaces/b5f1djy59z3a/entries/2FrZBDUlFK4WgQSgws6Yeg?previousEntries=ZDESwJrkSAOsikiueUiKI) accepts just the text for this title. The title should use an h2 tag that m

[2018-10-12 20:41] hokienick commented on #1662
Ok, thank you for looking into this!  @ThomasKranitsas we can consider this closed.

[2018-10-12 20:53] ThomasKranitsas commented on #1662
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-13 12:31] #1662 closed

[2018-10-13 12:34] ThomasKranitsas commented on #1662
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072327<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-13 15:12] ThomasKranitsas commented on #1314
Contest https://www.topcoder.com/challenges/30072645 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-13 15:12] ThomasKranitsas commented on #1314
Contest https://www.topcoder.com/challenges/30072645 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-13 15:12] #1314 closed

[2018-10-13 15:12] ThomasKranitsas commented on #1315
Contest https://www.topcoder.com/challenges/30072646 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-13 15:13] ThomasKranitsas commented on #1315
Contest https://www.topcoder.com/challenges/30072646 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-13 15:13] #1315 closed

[2018-10-13 15:13] ThomasKranitsas commented on #1314
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072645<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-13 15:13] ThomasKranitsas commented on #1315
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072646<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-13 15:16] #1507 closed

[2018-10-13 15:17] ThomasKranitsas commented on #1314
[400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-13 15:18] ThomasKranitsas commented on #1483
will process this manually

[2018-10-13 15:18] #1483 closed

[2018-10-13 15:18] ThomasKranitsas commented on #1315
[400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-13 17:41] #1674 closed

[2018-10-13 17:42] ThomasKranitsas commented on #1674
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072579<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-14 14:16] nahidshahin commented on #1685
Hi @ThomasKranitsas,
I am not quite familiar with payment step but I'm getting `Accruing` state for this payment for a long time. See the screenshot :
![screen shot 2018-10-14 at 8 11 49 pm](https://user-images.githubusercontent.com/1224995/46917880-95123f80-cfed-11e8-8076-f5a669df9589.png)

Is it a problem?

[2018-10-14 14:18] ThomasKranitsas commented on #1685
Hi @nahidshahin,

Please refer to this page https://help.topcoder.com/hc/en-us/sections/203968098-Getting-Paid

My guess is that you need to complete a tax form before you can get paid.

You can also raise a ticket at help.topcoder.com to get more help from the right folks.

[2018-10-14 14:54] nahidshahin commented on #1685
@ThomasKranitsas I completed the tax form. All got and able to withdraw few some payment from other challenges. Let me raise a ticket. Thanks

[2018-10-14 16:31] Dara-K opened #1694 "Links to Studio Site To Be Updated"
**Describe the bug**
We have a couple of links on our site who still point to our old Topcoder Studio site which is no longer available.

**To Reproduce**
Steps to reproduce the behavior:
When going to Manage submission page,  on pressing the download icon to receive and check our submission, it takes us to the old Studio.

![image](https://user-images.githubusercontent.com/25185079/46919386-6c874

[2018-10-15 08:30] kkartunov commented on #1684
@hokienick we should better update the styling to match the one for H2 instead of switching to H2 elements. There is special click handlers assigned so those should be better divs. You OK with this?

[2018-10-15 08:43] #1683 closed

[2018-10-15 08:54] kkartunov commented on #1692
@hokienick We do not need touching the container. We could increase the bottom-margin of a card. This will fix it. I suggest `bottom-margin: 1em` OK?

[2018-10-15 09:37] kkartunov commented on #1690
@hokienick I pushed a commit that fixes this but only for the community-app. I do not know how to update legacy pages nor have access to do so. Probably we need @ajefts or @birdofpreyru to explain then we could eventually handle fixes in legacy pages.

[2018-10-15 09:41] jomadoye commented on #1362
I have joined, thanks.

[2018-10-15 09:41] ThomasKranitsas commented on #1362
Contest https://www.topcoder.com/challenges/30072033 has been updated - it has been assigned to omadoyejed.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-15 11:19] kkartunov commented on #1687
@ajefts https://api.topcoder.com/v4/looks/458/run/json/ this is the related API look. We need `wins` and `totalEarnings` is the response. We do have currently `challengecount` and `points` available but I am not sure if those match expected?

[2018-10-15 13:52] sushilshinde opened #1695 "[$150] mm-features-experiment branch : Contentful error pop-up removal"
1. Find out why this pop-up is there on the `mm-feature-experiment` branch, and fix it
<img width="520" alt="screen shot 2018-10-08 at 6 18 00 pm" src="https://user-images.githubusercontent.com/683231/46955062-a7ed4880-d0af-11e8-96b5-3c6f9a156de1.png">

2. Any error related to contentful shouldn't block the UI from rendering, descriptive errors should be thrown to the console.

[2018-10-15 13:56] ThomasKranitsas commented on #1695
Contest https://www.topcoder.com/challenges/30072686 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-15 13:56] ThomasKranitsas commented on #1695
Contest https://www.topcoder.com/challenges/30072686 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-15 13:56] ThomasKranitsas commented on #1695
@topcoder-platform/topcodercompetitors new ticket available for pickup!

[2018-10-15 14:51] ThomasKranitsas commented on #1695
Contest https://www.topcoder.com/challenges/30072686 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-15 17:28] hokienick commented on #1684
Yes that sounds good to me!

[2018-10-15 17:29] hokienick commented on #1690
@kkartunov figured that may be the issue.  I'll contact @ajefts and see what he says.  Thanks for pushing to community-app!

[2018-10-15 18:05] hokienick opened #1696 "Links have a background upon mouseover. Needs to be removed."
Here are examples of where we are seeing the mouseover background that hasn't been there before:

<img width="256" alt="screen shot 2018-10-15 at 11 04 37 am" src="https://user-images.githubusercontent.com/1373998/46969197-245d3880-d06a-11e8-8416-785a6bce68eb.png">
<img width="351" alt="screen shot 2018-10-15 at 11 01 56 am" src="https://user-images.githubusercontent.com/1373998/46969198-245d3880-

[2018-10-15 18:58] ajefts commented on #1687
@kkartunov Please check the latest api:  https://api.topcoder.com/v4/looks/458/run/json/

Thanks.

[2018-10-15 20:37] birdofpreyru commented on #1695
@gurmeetb `2z6DvIzyhKQ0YusYGsaQc6` is the valid ID of the root Contentful Route component for Topcoder site. In prod and dev it works fine.

[2018-10-15 21:04] gurmeetb commented on #1695
Thanks @birdofpreyru for confirming the validity of the URL.

What would be good way to test CMS URLs ? I always get 404 even via Postman and hence CMS error on front-end, I can add logic to skip this error on front-end but that wouldn't bring up the page still, which is our target. `The URL should return data back. `

[2018-10-15 21:07] birdofpreyru commented on #1695
Does it work right for you if you run the code from **develop** or **master** branch?

[2018-10-15 21:13] gurmeetb commented on #1695
I just tried with develop - says `Unauthorized`

[2018-10-15 21:14] birdofpreyru commented on #1695
Did you set Contentful API keys?

[2018-10-15 22:16] gets0ul commented on #1654
Hi @rashmi73, are you still working on this?
I want to work on this if you release it. Thanks.

[2018-10-16 05:44] kkartunov commented on #1687
@ajefts update available for review here: https://community-app.topcoder-dev.com/__community__/wipro/leaderboard
I was not able to find differences but only duplicates. Looks that `wins` = `points` and `Total Earnings` = `# of Challenges`. Again is this desired behavior?

[2018-10-16 06:31] #1684 closed

[2018-10-16 06:49] #1692 closed

[2018-10-16 07:16] gurmeetb commented on #1695
@ThomasKranitsas I am actively working on this now, it was too late here yest so had to halt the work.

[2018-10-16 10:09] ThomasKranitsas commented on #1695
Hey @gurmeetb! I don't see any changes related to the 2nd point.

What we need is to NOT show the "CMS related error" popup nor block the rest of the page from rendering if there's an issue with Contentful and just don't render the depended component or show an error message instead of the component.

Something like `Failed to render the CMS component` or similar.

A contentful issue should not bl

[2018-10-16 10:13] gurmeetb commented on #1695
@ThomasKranitsas Ok so for the issue, we should show a friendly error to UI (for case without the fix for CMS) and skip you mean?

[2018-10-16 10:39] gurmeetb commented on #1695
ok, that sounds fine. Let me move that to console error and not as JS error.

[2018-10-16 12:03] sushilshinde commented on #1695
@gurmeetb lint issues

[2018-10-16 12:38] gurmeetb commented on #1695
oops my bad, missed to run lint check. Pushed in fix for the same.

[2018-10-16 12:53] #1673 closed

[2018-10-16 15:53] ThomasKranitsas opened #1699 "[$60] Deep linking to How To Compete - Extras and FAQs"
We need to be able to deep link (using `href="#<section name>"`) to an Extra or FAQ section in the How To Compete page.

This should auto expand the section.

Example URL: https://www.topcoder.com/community/design/how-to-compete

Example deep link: `https://www.topcoder.com/community/design/how-to-compete#Properly Declaring Your Files` (I know this should be URL encoded :) )

[2018-10-16 15:54] ThomasKranitsas commented on #1699
Contest https://www.topcoder.com/challenges/30072734 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-16 15:54] ThomasKranitsas commented on #1699
@topcoder-platform/topcodercompetitors new ticket!

[2018-10-16 15:57] ThomasKranitsas commented on #1699
Contest https://www.topcoder.com/challenges/30072734 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-16 16:17] hokienick opened #1700 "Ability To Create A Slider"
In the effort to convert our Track Homepages such as: https://www.topcoder.com/community/competitive-programming we will need a way to duplicate the scrolling of the different tracks, but in a way that can be helpful for future needs.

<img width="838" alt="screen shot 2018-10-16 at 8 53 14 am" src="https://user-images.githubusercontent.com/1373998/47029665-f686fb00-d120-11e8-8a9d-7e036ad84f4e.png

[2018-10-16 19:10] hokienick commented on #1690
Creating another ticket for Tony.  This can be considered closed now.

[2018-10-16 19:10] #1690 closed

[2018-10-16 19:12] hokienick opened #1701 "The "Learn" dropdown from the menu is currently not clickable in Legacy Apps but needs to be."
Please make the "Learn" menu item on the top header bar link to https://www.topcoder.com/community/learn

This has been completed on the community app but needs to be updated in legacy apps.

@ajefts @skyhit

[2018-10-16 19:16] hokienick opened #1702 "Consolidate Email Signup Options"
On the [Preferences page](https://www.topcoder.com/settings/preferences), please remove the following lines and their switch:

- General Newsletter
- iOS Newsletter
- TCO Newsletter
- Predix Newsletter
- Cognitive Newsletter

@ajefts

[2018-10-16 19:26] hokienick opened #1703 "Ability to Anchor to sections (components) on a page."
There are many times we would like to insert a button link in a banner that when clicked would scroll down to the pertinent information on the page.

There are 2 asks for this ticket:

**1. The ability to anchor to a particular section of the page**
Whether a Content Block or a Viewport with other components comprising it, please allow us to have the ability to anchor to that section.  For example

[2018-10-16 20:28] ajefts commented on #1702
@urwithat can you get this one done for us?

[2018-10-16 20:29] ajefts commented on #1701
@skyhit more generally on this one, would you be able to get the header nav and footer updated in the legacy apps to match what we have in community-app?

[2018-10-17 06:29] #1679 closed

[2018-10-17 06:37] kkartunov commented on #1680
Those look same to me. Should be as this is same viewport created in Contentful. I think this is not issue but was due to some screen resizing or etc. Check bellow/again and confirm closing this:
![screenshot from 2018-10-17 09-30-48](https://user-images.githubusercontent.com/5585002/47066824-00c3fa80-d1f0-11e8-81ff-b513fbe9e907.png)
![screenshot from 2018-10-17 09-30-45](https://user-images.githu

[2018-10-17 06:37] kkartunov commented on #1680
@hokienick ^^^

[2018-10-17 06:51] kkartunov commented on #1691
@hokienick This is the original image. It is 192x192px on left it is resized equally to 60x60px thus apspect ratio is same as original and not transformed. If it looks squished we need new icon image made. See original:
![](https://images.ctfassets.net/b5f1djy59z3a/6wa5wi5p3qCUii0Y2y6kcM/3bfae9317c7f8c11371fcd6000da5ebf/ds-match-begin.png)

[2018-10-17 08:33] kkartunov commented on #1693
Fixed in Contentful https://app.contentful.com/spaces/b5f1djy59z3a/entries/5ylEiWAjPqSUycO6ssAkgo?previousEntries=6pTNNoF9wQuCy2c6qIk4yI

[2018-10-17 08:33] #1693 closed

[2018-10-17 08:55] kkartunov commented on #1703
@hokienick
1. Is already present. You can anchor by `id`. Just add `id="anchorId"` to the desired target. Then in the button/link use `<PrimaryButton to="#anchorId">Go To Challenges</PrimaryButton>`. I have made an example here: https://app.contentful.com/spaces/b5f1djy59z3a/entries/6pBFje1uCIw4OKk8U4uuKo

2. Not sure if global scroll handler can capture and animate. Have to check that but it will

[2018-10-17 14:58] hokienick commented on #1703
@kkartunov

1. So the ask for this is to anchor to the beginning of the entire content block in your example.  Sometimes a header does not lead off the page so we are unable to provide an "id" to a tag.  Sometimes it may be a viewport that contains a row of cards, we may want to anchor there as well.

2. Sounds good!  Let's bind those listeners :)

[2018-10-17 15:00] hokienick commented on #1691
It's strange.  Sometimes it seems squished, but when i resize the window it looks fine.  Let's close this ticket.

[2018-10-17 15:00] #1691 closed

[2018-10-17 15:03] hokienick commented on #1680
Sorry, thomas made our contentful page live.  Please refer to the doc on what the height should look like.  You can roughly estimate the height that you see there.

[2018-10-17 17:47] hokienick commented on #1700
Workaround was found.  This should be toward the bottom on the priority list.

[2018-10-18 02:52] urwithat commented on #1702
Sure @ajefts

[2018-10-18 06:08] urwithat commented on #1702
@dedywahyudi - Let us know when you push the changes to Dev

[2018-10-18 06:36] #1648 closed

[2018-10-18 07:50] dedywahyudi commented on #1702
@urwithat This is the PR, need merged with DEV
https://github.com/topcoder-platform/community-app/pull/1704

[2018-10-18 08:38] urwithat commented on #1702
I've merged the PR

[2018-10-18 08:59] harshitmehta123 commented on #1288
Hey @ThomasKranitsas Did you get a chance to fix that? :)

[2018-10-18 11:52] ThomasKranitsas commented on #1654
@gets0ul feel free to pick this. It's been a long time since @rashmi73 took it but didn't complete it

[2018-10-18 11:53] ThomasKranitsas commented on #1288
@harshitmehta123 the ticket is still open for pickup https://github.com/topcoder-platform/community-app/issues/1654

[2018-10-18 12:09] nahidshahin commented on #1654
@ThomasKranitsas Can I pick it up?

[2018-10-18 12:10] ThomasKranitsas commented on #1654
sure

[2018-10-18 12:10] ThomasKranitsas commented on #1654
Contest https://www.topcoder.com/challenges/30072219 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-18 12:18] gets0ul commented on #1654
It's been 3 days since I asked, but I guess now it's @nahidshahin 's. Good luck!

[2018-10-18 15:34] hokienick opened #1705 "Route Track Homepages to new Viewport"
These Track Homepages were built with the Track Homepage components:
- [Development](https://www.topcoder.com/community/development)
- [Design](https://www.topcoder.com/community/design)
- [Data Science](https://www.topcoder.com/community/data-science)
- [Competitive Programming](https://www.topcoder.com/community/competitive-programming)

This did not allow us to customize the page easily.  I hav

[2018-10-18 16:02] hokienick opened #1706 "Cards should be the same width when in a row or grid"
Cards are positioned well on the page when in a row or grid, but if one card's title is shorter than the others, the entire card's width doesn't match the others and throws off the balance of the page.

This can be seen on the [Anemoi Landing Page ](https://www.topcoder.com/lp/anemoi)as well as the [Statistics](https://www.topcoder.com/community/statistics) page.

[2018-10-18 18:02] nahidshahin commented on #1654
@ThomasKranitsas raised a PR https://github.com/topcoder-platform/community-app/pull/1707

[2018-10-19 05:39] #1705 closed

[2018-10-19 06:51] kkartunov commented on #1703
@hokienick ready. We can now anchor to viewports, content blocks(also inside other viewports). Check the example how to use it: https://app.contentful.com/spaces/b5f1djy59z3a/entries/6pBFje1uCIw4OKk8U4uuKo

[2018-10-19 06:51] #1703 closed

[2018-10-19 13:10] gurmeetb commented on #1695
@ThomasKranitsas @sushilshinde What's the updates here? Can we mark this CLOSED ?

[2018-10-19 15:59] #1362 closed

[2018-10-19 16:02] ThomasKranitsas commented on #1699
what's the status on this one?

[2018-10-19 16:04] ThomasKranitsas commented on #1660
Sorry for the delay! I missed the notification for this one.

1. If possible, please don't change the library. If not, it should be fine.
2. `Birth date` or `Date of birth` should work.

[2018-10-19 16:05] #1654 closed

[2018-10-19 16:06] ThomasKranitsas commented on #1654
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072219<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:17] ThomasKranitsas commented on #1306
We should not show any error popup if the user canceled the linking of an external account.

[2018-10-19 17:17] ThomasKranitsas commented on #1306
Contest https://www.topcoder.com/challenges/30072955 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:17] ThomasKranitsas commented on #1306
Contest https://www.topcoder.com/challenges/30072955 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:17] ThomasKranitsas commented on #1306
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-10-19 17:18] ThomasKranitsas commented on #1312
Contest https://www.topcoder.com/challenges/30072004 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:18] #1312 closed

[2018-10-19 17:18] ThomasKranitsas commented on #1312
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072004<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:19] ThomasKranitsas commented on #1318
Contest https://www.topcoder.com/challenges/30072956 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:19] ThomasKranitsas commented on #1318
Contest https://www.topcoder.com/challenges/30072956 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:19] ThomasKranitsas commented on #1318
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-10-19 17:19] ThomasKranitsas commented on #1336
Contest https://www.topcoder.com/challenges/30072957 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:19] ThomasKranitsas commented on #1336
Contest https://www.topcoder.com/challenges/30072957 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:19] ThomasKranitsas commented on #1336
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-10-19 17:20] ThomasKranitsas commented on #1378
Contest https://www.topcoder.com/challenges/30072958 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:20] ThomasKranitsas commented on #1378
Contest https://www.topcoder.com/challenges/30072958 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:20] ThomasKranitsas commented on #1306
Contest https://www.topcoder.com/challenges/30072955 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:22] ThomasKranitsas commented on #1378
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-10-19 17:28] ThomasKranitsas commented on #1438
Contest https://www.topcoder.com/challenges/30072959 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:28] ThomasKranitsas commented on #1438
Contest https://www.topcoder.com/challenges/30072959 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:28] ThomasKranitsas commented on #1438
Do not show a validation error if the new email field is empty

[2018-10-19 17:28] ThomasKranitsas commented on #1438
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-10-19 17:29] khushimehta03 commented on #1336
@ThomasKranitsas its injustice.I have already tried 5 times to register and it was always an issue and I even pasted error log of screen. it shud be given to me idealy. kindly provide the link here so I can register again.

[2018-10-19 17:30] ThomasKranitsas commented on #1438
Contest https://www.topcoder.com/challenges/30072959 has been updated - it has been assigned to akmarif83.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:31] khushimehta03 commented on #1336
@ThomasKranitsas nahidshahin can be unassigned again, as I commnted 1 minute before he even took it. ofcourse nahid knows English well, he can see my comment and can understand as even he was in same situation once.

[2018-10-19 17:31] ThomasKranitsas commented on #1336
Apologies for the inconvenience!

@cwdcwd can you please take care of @khushimehta03's case? ☝️

[2018-10-19 17:32] ThomasKranitsas commented on #1448
Contest https://www.topcoder.com/challenges/30072960 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:32] ThomasKranitsas commented on #1448
Contest https://www.topcoder.com/challenges/30072960 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:33] ThomasKranitsas commented on #1448
@topcoder-platform/topcodercompetitors this is open for pickup!

[2018-10-19 17:33] ThomasKranitsas commented on #1448
Contest https://www.topcoder.com/challenges/30072960 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:34] khushimehta03 commented on #1448
@ThomasKranitsas @sumitdaga has already taken one. atleast give me this if not the other one.

[2018-10-19 17:36] khushimehta03 commented on #1336
@ThomasKranitsas do I need to accept any form or agreement and submit it? if it is then please send me llink of it or shall I register to anyone of challenge so automatically form will be shown and I need to accept it? is it so?

[2018-10-19 17:36] ThomasKranitsas commented on #1448
@khushimehta03 I don't see any other ticket in @sumitdaga's name. Some tickets I see are in review/on hold.

Please understand that I cannot assign you to any ticket until you're successfully registered with Topcoder-X.

I've already asked an admin to resolve your issue.

[2018-10-19 17:39] khushimehta03 commented on #1448
@ThomasKranitsas ok I understand, but atleast kindly tell everyone that if someones comment then its with them till I get register link.

[2018-10-19 17:41] ThomasKranitsas commented on #1592
[500]: Challenge for the updated issue 1592 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:41] ThomasKranitsas commented on #1336
If you had registered on the challenge we launched, it should ask you to agree to our terms.
Then, once you're registered, you should be able to find the link which I posted on the challenge forum and register with Topcoder-X.

Though, sometimes this doesn't work so we need help from the admins to add you to the repo.

[2018-10-19 17:48] ThomasKranitsas commented on #1455
Contest https://www.topcoder.com/challenges/30072961 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:48] ThomasKranitsas commented on #1455
Contest https://www.topcoder.com/challenges/30072961 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 17:48] ThomasKranitsas commented on #1455
The issue is that the validation popup prevents the form from submitting when the user presses the button the first time.

[2018-10-19 17:48] ThomasKranitsas commented on #1455
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-10-19 17:48] #1456 closed

[2018-10-19 17:54] ThomasKranitsas commented on #1458
cannot reproduce

[2018-10-19 17:54] #1458 closed

[2018-10-19 17:56] ThomasKranitsas commented on #1481
Logged on Trello. Closing for now

[2018-10-19 17:56] #1481 closed

[2018-10-19 17:56] khushimehta03 commented on #1455
@ThomasKranitsas pls give me this atleast. I wana work on it.

[2018-10-19 17:57] khushimehta03 commented on #1455
@topcoder-platform/topcodercompetitors its taken by me already.kindly do not assign urself.thank you.

[2018-10-19 17:57] ThomasKranitsas commented on #1455
Ok, go ahead and work on it.

Just note that I can't pay you until you're registered with Topcoder-X

[2018-10-19 17:57] khushimehta03 commented on #1455
@ThomasKranitsas can you please atleast remove open for pickup label if possible.thank you.

[2018-10-19 17:58] khushimehta03 commented on #1455
@ThomasKranitsas but once m added to repo.i will be paid. am I correct? then m ok with it. thanks

[2018-10-19 17:59] ThomasKranitsas commented on #1488
Logged on Trello. Closing for now

[2018-10-19 17:59] #1488 closed

[2018-10-19 17:59] ThomasKranitsas commented on #1490
Logged on Trello. Closing for now

[2018-10-19 17:59] #1490 closed

[2018-10-19 18:03] ThomasKranitsas commented on #1455
Yes, of course, you'll be paid.

[2018-10-19 18:04] sumitdaga commented on #1448
@ThomasKranitsas
i don't think we can do much about this!
https://justmarkup.com/log/2016/01/showing-the-alternative-text-while-images-are-loading/
firefox shows the `alt` text before the image is loaded

[2018-10-19 18:07] ThomasKranitsas commented on #1448
Can you at least make the alt text invisible? https://stackoverflow.com/questions/12667926/hide-alt-tag-in-firefox

I don't really think it's useful anyways.

[2018-10-19 18:18] #1518 closed

[2018-10-19 18:19] ThomasKranitsas commented on #1519
The placeholder text should be the same everywhere

[2018-10-19 18:19] ThomasKranitsas commented on #1519
Contest https://www.topcoder.com/challenges/30072965 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 18:19] ThomasKranitsas commented on #1519
Contest https://www.topcoder.com/challenges/30072965 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 18:19] ThomasKranitsas commented on #1519
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-10-19 18:34] ThomasKranitsas commented on #1520
Contest https://www.topcoder.com/challenges/30072966 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 18:34] PrakashDurlabhji commented on #1519
@ThomasKranitsas PR ready #1710

[2018-10-19 18:38] PrakashDurlabhji commented on #1520
@ThomasKranitsas can you please clarify a bit on this issue? i am confused as description doesnt seem to look proper.

[2018-10-19 18:39] PrakashDurlabhji commented on #1520
@ThomasKranitsas what is voice over? i dont see any such option on my windows 10? can you please guide thanks

[2018-10-19 18:48] sumitdaga commented on #1448
@ThomasKranitsas
PR #1711

[2018-10-19 18:49] ThomasKranitsas commented on #1520
I think it's called `narrator` on Windows.

[2018-10-19 18:54] #1448 closed

[2018-10-19 18:54] ThomasKranitsas commented on #1448
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072960<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-19 18:55] ajefts commented on #1702
@dedywahyudi @urwithat It looks like the front end is not updating the state of the switch when it's saved.  I need to refresh the page to get the UI to reflect the current state of the preference.

[2018-10-19 19:02] ThomasKranitsas commented on #1702
@ajefts I just tried in prod and it seems like the API is timing out (`504 Gateway Timeout Error`) thus the UI stucks in the same state.

Indeed, when refreshing the page, the preferences are saved.
Maybe the API is broken and doesn't `return` any response?

[2018-10-19 19:03] ThomasKranitsas commented on #1702
<img width="1399" alt="screenshot 2018-10-19 at 22 02 59" src="https://user-images.githubusercontent.com/4612921/47238408-c6727d00-d3ea-11e8-926a-b568a6d7decd.png">

[2018-10-19 21:36] gets0ul commented on #1378
@ThomasKranitsas Is this still valid? Are you able to reproduce it?

[2018-10-19 21:55] ThomasKranitsas commented on #1378
Yes, I was able to reproduce it today. I’ll attach a screen recording as soon as I can.

[2018-10-19 21:59] gets0ul commented on #1378
Thanks

[2018-10-20 04:07] akmarif commented on #1438
@ThomasKranitsas PR https://github.com/topcoder-platform/community-app/pull/1712

[2018-10-20 06:42] nahidshahin commented on #1336
@ThomasKranitsas raised a PR https://github.com/topcoder-platform/community-app/pull/1713

[2018-10-20 10:32] #1336 closed

[2018-10-20 10:32] ThomasKranitsas commented on #1336
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072957<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-20 16:47] ThomasKranitsas commented on #1699
Contest https://www.topcoder.com/challenges/30072734 has been updated - it has been assigned to omadoyejed.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-20 17:37] jomadoye commented on #1699
Hi @ThomasKranitsas Can you confirm that the code for that page is contained in this repository. I have searched everywhere and can't find it. Also when I try to navigate to the page on my local dev setup it changes the URL to `https://www.topcoder-dev.com/community/design/how-to-compete`

[2018-10-20 17:42] ThomasKranitsas commented on #1699
Hi @jomadoye ! The content of the page is being fetched from Contentful (the CMS we use).

The code that renders that content is inside the https://github.com/topcoder-platform/community-app/tree/develop/src/shared/containers/TrackHomePages directory

[2018-10-20 17:57] jomadoye commented on #1699
Thanks @ThomasKranitsas, any ideas on the changing URL?

[2018-10-20 18:38] gurmeetb commented on #1306
@rashmi73 Are you working on this?

@ThomasKranitsas As per Bug Bash rules, if MR is not raised the ticket should be opened.  Can you assign me this as it has been more than 24 hrs ?

[2018-10-20 18:44] ThomasKranitsas commented on #1306
Considering the difficulty (low) of this ticket and that 24h already have passed, I'm opening this for pickup.

[2018-10-20 18:50] ThomasKranitsas commented on #1306
Contest https://www.topcoder.com/challenges/30072955 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-20 18:51] gets0ul commented on #1378
I'm unable to reproduce it so I'm releasing this back to open.

[2018-10-20 18:54] ThomasKranitsas commented on #1378
Contest https://www.topcoder.com/challenges/30072958 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-20 19:01] rashmi73 commented on #1306
@ThomasKranitsas i am working on it. going to raise PR in half hr.its not done.

[2018-10-20 19:05] ThomasKranitsas commented on #1318
Contest https://www.topcoder.com/challenges/30072956 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-20 19:08] PrakashDurlabhji commented on #1520
@ThomasKranitsas working on it.

[2018-10-20 19:10] khushimehta03 commented on #1455
@ThomasKranitsas acitvley working

[2018-10-20 20:08] gurmeetb commented on #1306
@ThomasKranitsas since we don't want to show this error to the user, which is valid as per node modules we are using for social login , we could redirect error to console, this way user doesn't see it and continue their work.

Kindly suggest if that would be acceptable solution.

[2018-10-20 20:09] ThomasKranitsas commented on #1306
Yes, that would be acceptable.

[2018-10-20 20:28] #1306 closed

[2018-10-20 20:28] ThomasKranitsas commented on #1306
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072955<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-20 22:10] jomadoye commented on #1699
Hi @ThomasKranitsas ,
I did some digging around and I think the `contentful data` would need to be updated to add the steps for `FAQ and Extra` here (https://github.com/topcoder-platform/community-app/blob/f26ee94553fff5776fc7352f2d4b62449a7ce497/src/shared/components/TrackHomePages/HowToCompetePage/StepByStep/index.jsx#L50). And then I would need to use the `title` of the steps you create as the

[2018-10-21 07:40] sumitdaga commented on #1378
@ThomasKranitsas
i can't see any popup as of now when user toggles on any community!

[2018-10-21 08:38] ThomasKranitsas commented on #1378
Contest https://www.topcoder.com/challenges/30072958 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-21 08:39] gurmeetb commented on #1378
@ThomasKranitsas let me give a shot and update in few hrs

[2018-10-21 14:48] gurmeetb commented on #1378
@ThomasKranitsas I see the problem. It is all because we are delaying the click handler by 1000 ms, so what happens is when we first switch off first one, and then by the time we do second one, the control has reached back componentWillReceiveProps(), which refreshes it.

I did a test with removing the delay and it worked fine. Tried several times - didn't see issue then.

But before I push the fi

[2018-10-21 15:10] ThomasKranitsas commented on #1378
@gurmeetb if removing the delay doesn't affect anything, then this approach is acceptable.

I don't recall right now why we added that.

[2018-10-21 15:19] #1378 closed

[2018-10-21 15:20] ThomasKranitsas commented on #1378
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072958<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-21 19:47] rashmi73 commented on #1318
@ThomasKranitsas its completed raising PR

[2018-10-21 20:51] rashmi73 commented on #1318
@ThomasKranitsas Pr raised #1717

[2018-10-21 21:08] PrakashDurlabhji commented on #1520
@ThomasKranitsas narrator is wokring , but on going through each checkbox , no such dialog appears in black.i guess its already solved. will i be paid something to investigate?

[2018-10-22 16:14] hokienick opened #1719 "Ability to change background of Countdown Component"
The Countdown component is great!  We would like to use it in other parts of the website but would like the ability to change the background, whether it be an image or plain color.

[2018-10-22 16:23] hokienick opened #1720 "Dictate the number of rows the leaderboards show"
We would like to use the TCO leaderboards on the track homepages, but most of them are very long and take up a majority of the page.  Can we introduce a parameter that allows us to choose the number of rows the leaderboard shows?

In addition, I noticed that randomly some competitor's avatars do not show (is there an issue with the api calls?) but it is random, which members they are each time the

[2018-10-22 18:39] gurmeetb commented on #1695
@ThomasKranitsas 🤔  ??

[2018-10-22 19:05] ajefts opened #1721 "Send more info to segment"
We make a call at https://github.com/topcoder-platform/community-app/blob/f26ee94553fff5776fc7352f2d4b62449a7ce497/src/client/index.jsx#L27 that sends info to Segment, which we can then leverage downstream in other tools.  I'd like to add the following if possible:

1.  list of groups that the user belongs to
2. the tracks that the user belongs to (http://api.topcoder.com/v3/members/TonyJ/)

[2018-10-22 19:06] ajefts commented on #1721
@sushilshinde could we do this as a quick add?  Maybe @ThomasKranitsas can help...

[2018-10-23 06:49] #1696 closed

[2018-10-23 07:06] #1687 closed

[2018-10-23 09:01] #1695 closed

[2018-10-23 09:03] ThomasKranitsas commented on #1695
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072686<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-23 09:05] ThomasKranitsas commented on #1520
Contest https://www.topcoder.com/challenges/30072966 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-23 09:06] ThomasKranitsas commented on #1520
@gurmeetb can you please fix all tickets related to "screen readers"? I'll update the prize accordingly.

[2018-10-23 09:13] ThomasKranitsas commented on #1721
1. Do you only need the group IDs?

[2018-10-23 13:10] ThomasKranitsas commented on #1252
Contest https://www.topcoder.com/challenges/30070407 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-23 13:33] ajefts commented on #1721
ideally both id/name, but what options do we have?

[2018-10-23 13:43] ThomasKranitsas commented on #1721
The `/groups` endpoint returns data like this:

[code]

[2018-10-23 14:04] ThomasKranitsas commented on #1252
I fixed the link in `My submissions` page.
The old `STUDIO` link is also used in the `Submissions/winners` tabs but I wasn't sure how to test thus didn't want to touch that code.

@ajefts @cwdcwd if you can provide a challenge ID where I can test those tabs, I can also fix the links there.

Closing this ticket as the scope of this was fixed.

[2018-10-23 14:04] #1252 closed

[2018-10-23 14:05] ThomasKranitsas commented on #1252
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30070407<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-23 15:22] #1721 closed

[2018-10-23 15:22] ThomasKranitsas commented on #1721
@ajefts I've fixed this. Let me know if it works as expected. Should be deployed in dev shortly.

[2018-10-23 17:04] hokienick opened #1722 "URL's to specific filters on Challenge Listings page does not route to that page"
ex: Going here: https://www.topcoder.com/challenges?filter[tracks][develop]=true&bucket=openForRegistration

Should take me to development challenges that are open for registration.  However, this link displays all challenges that are open or not.

[2018-10-24 06:30] kkartunov commented on #1720
@hokienick Implemented as `memberLimit` property. Add it to the JSON controlling the component(App Component).

Avatars are hosted by our cdn that sometimes have issues. It works in prod but fails in dev. We are not in control of this thus I suggest we leave it there as it is.

[2018-10-24 06:30] #1720 closed

[2018-10-24 07:32] urwithat commented on #1488
This has been resolved..

[2018-10-24 07:45] kkartunov commented on #1719
@hokienick added extraStyles via JSON as other components do support

[2018-10-24 07:45] #1719 closed

[2018-10-24 13:33] ThomasKranitsas commented on #1660
@Gauravseta what's the status on this one?

It's been quite some time without any progress.

[2018-10-24 13:59] Gauravseta commented on #1660
@ThomasKranitsas yes working on it. will update immediately.

[2018-10-24 14:40] ThomasKranitsas commented on #1660
Thank you! We need to complete this one ASAP

[2018-10-24 17:04] #1706 closed

[2018-10-24 17:04] hokienick commented on #1706
Figured out the issue with the grid.

[2018-10-24 18:05] hokienick opened #1723 "Ability to add other content to Countdown Component"
I am receiving a request for our Countdown banner to add extra buttons and/or text such as "Add to Calendar" or to view the date/time in their timezone.  Is this possible?

[2018-10-24 18:12] hokienick opened #1724 "Header Font Updates"
For `<h1> to <h5>`  Please review this doc and make sure that the css matches up even in specific components (I noticed that in some components such as the Accordion, the header tags do not match in other areas).

I think for the most part, the sizes and line-heights are correct, but the font-weight (the number in the parenthesis) is definitely off in some of these headers.

![topcoder typography

[2018-10-24 23:59] ajefts commented on #1694
@cwdcwd can we get this on someone's plate now that we have the design download URLs fixed?  I think we can use the OR links for everything....

[2018-10-25 06:16] kkartunov commented on #1706
@hokienick I delayed this as wanted to confirm if we want all cards to take 100% width of the parent container. This will work well for grids but will expand stand-alone cards. OK with that?

[2018-10-25 08:48] kkartunov commented on #1723
@hokienick can we just use a `contentBlock` below it and add there what is needed? You are asking me here to "embed" the whole functionality of it inside the counter...is this really worth the effort?

[2018-10-25 17:43] cwdcwd commented on #1694
@ThomasKranitsas can you push on this one a little?

[2018-10-25 17:45] ajefts commented on #1694
Duplicate tracked at https://github.com/topcoder-platform/community-app/issues/1252

[2018-10-25 17:45] #1694 closed

[2018-10-26 15:51] hokienick commented on #1723
I guess we can do this is if eliminate bottom padding from Countdown Block and top padding from Content Block

[2018-10-26 15:51] #1723 closed

[2018-10-26 16:05] hokienick opened #1725 "TCO Leaderboard - Message for Empty Rounds"
Clicking on Rounds 2-4 for the Leaderboard results in nothing being displayed.

Instead could we just have a message that appears in that area saying "Round Has Not Begun" or something similar?

[2018-10-27 07:05] kkartunov commented on #1723
@hokienick yeah they both have `extraStyles` support now thus it is totally doable.

[2018-10-28 05:36] callmekatootie opened #1726 "Member was able to submit for a cancelled contest"
**Describe the bug**
This contest - https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30073107 has been cancelled. I did that by going to OR and editing the project's status to cancelled. You can see that in direct, the project's status is cancelled.

However, it appears that a member was able to submit after the contest was cancelled. I am not sure how - OR showed the registrati

[2018-10-29 09:46] kkartunov commented on #1724
@hokienick we should be careful approaching this. In community app heading styles are defined here:
https://github.com/topcoder-platform/community-app/blob/develop/src/styles/_global/_typography.scss
they, in turn, are using/based predefined styles from our react-ui-kit repo: https://github.com/topcoder-platform/topcoder-react-ui-kit/blob/fd36c09f6e09282fe93089788a7bcd851eabe299/src/styles/_mixins

[2018-10-29 10:14] kkartunov commented on #1725
Will land in prod with next release...

[2018-10-29 10:14] #1725 closed

[2018-10-29 11:06] sushilshinde opened #1727 "[$80]mm-develop-merge branch : resolve all build errors"
Resolve all build errors for the branch https://github.com/topcoder-platform/community-app/tree/mm-develop-merge

And for these commands

`npm run build:dev`

`npm run build`

[2018-10-29 11:28] ThomasKranitsas commented on #1727
Contest https://www.topcoder.com/challenges/30073404 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-29 11:29] ThomasKranitsas commented on #1727
Contest https://www.topcoder.com/challenges/30073404 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-29 11:29] ThomasKranitsas commented on #1727
Contest https://www.topcoder.com/challenges/30073404 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-29 11:30] ThomasKranitsas commented on #1727
Contest https://www.topcoder.com/challenges/30073404 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-29 13:00] nahidshahin commented on #1727
@ThomasKranitsas @sushilshinde raised a PR https://github.com/topcoder-platform/community-app/pull/1728.

Now *npm run build:dev* is working

[2018-10-29 13:49] sushilshinde commented on #1727
Thanks @nahidshahin

[2018-10-29 13:49] #1727 closed

[2018-10-29 13:51] ThomasKranitsas commented on #1727
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30073404<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-29 14:12] sushilshinde opened #1729 "[$50]mm-develop-merge branch : Upgrade to challenge api v4"
Currently, the branch `mm-develop-merge`is using v3 challenge API  `/v3/challenges` and `/v3/challenges/{id}` endpoints

Upgrade to v4 `/v4/challenges` and `/v4/challenges/{id}` endpoints

Implement configuration based solution, NO HARDCODING

**Repos :**

https://github.com/topcoder-platform/community-app/tree/mm-develop-merge
https://github.com/topcoder-platform/topcoder-react-lib/tree/new-devel

[2018-10-29 14:13] sushilshinde commented on #1729
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-10-29 14:14] ThomasKranitsas commented on #1729
Contest https://www.topcoder.com/challenges/30073407 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-29 14:14] ThomasKranitsas commented on #1729
Contest https://www.topcoder.com/challenges/30073407 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-29 14:15] ThomasKranitsas commented on #1729
Contest https://www.topcoder.com/challenges/30073407 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-29 16:44] ThomasKranitsas commented on #1660
@Gauravseta still waiting for this one...

[2018-10-29 16:44] ThomasKranitsas commented on #1660
Please open it for pickup if you can't complete it in the next few hours. Thank you

[2018-10-29 20:59] NehaSharma02 opened #1730 "Learn more buttons reloads same page"
On the link "https://www.topcoder.com/solutions/" all Learn More buttons only reloads same page.
Please check and fix.

@RiteshTC
@ajefts
@birdofpreyru

![image 3](https://user-images.githubusercontent.com/37835397/47679697-e1af6a80-dbea-11e8-9c66-30a1145854ca.png)

[2018-10-30 07:55] sushilshinde commented on #1729
@nahidshahin what's the estimate for this?

[2018-10-30 08:41] nahidshahin commented on #1729
@sushilshinde I'll try another 4/5 hrs, if I can't progress I'll open it for others to try. Thanks

[2018-10-30 12:32] nahidshahin commented on #1729
@sushilshinde I'm massed up.  Opening this issue for others to try.

[2018-10-30 12:36] sushilshinde commented on #1729
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-10-30 13:45] #1729 closed

[2018-10-30 13:45] ThomasKranitsas commented on #1729
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-30 13:46] BetterCallSky opened #1731 "annoying flickering of challenge details"
Steps:
- open challenge details
- challenge details are visible (from SSR)
- after 2-4s there is a loader
- challenge details are visible again

It's very easy to notice it if you open any link from `#dev-challenges` from Slack.

I reported it multiple times on Slack, but it seems nobody cares :wink:

[2018-10-30 16:57] ThomasKranitsas commented on #1699
@topcoder-platform/topcodercompetitors opening this for pickup

[2018-10-30 16:58] ThomasKranitsas commented on #1699
Contest https://www.topcoder.com/challenges/30072734 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-30 16:59] ThomasKranitsas commented on #1699
Also doubled the prize :)

[2018-10-30 17:03] ThomasKranitsas commented on #1699
Contest https://www.topcoder.com/challenges/30072734 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-31 16:47] sushilshinde opened #1732 "[$50]Fix lint issues"
Expected Work: `npm run lint` shouldn't cause any error or warning

Do it for these repos :

https://github.com/topcoder-platform/community-app/tree/mm-develop-merge
https://github.com/topcoder-platform/topcoder-react-lib/tree/new-develop-mm

Create PR for the changes

[2018-10-31 16:48] ThomasKranitsas commented on #1732
Contest https://www.topcoder.com/challenges/30073540 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-31 17:10] sushilshinde commented on #1732
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-10-31 17:22] ThomasKranitsas commented on #1732
Contest https://www.topcoder.com/challenges/30073540 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-10-31 20:51] hokienick commented on #1724
Yes.  According to our UI Design Team, this is the official stance on our headers across our sites.

[2018-11-01 09:09] kkartunov opened #1734 "Challenge listing automatic reload inconsistent results to initial load"
**Describe the bug**
The challenge listing component will automatically reload all challenges once per configured amount of time(currently 300s). When this occurs results are different than those loaded initially but should no be.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/challenges?bucket=openForRegistration
2. Wait for page to and note the count of `Ope

[2018-11-01 09:14] kkartunov commented on #1734
@ThomasKranitsas could this go via tcX?

[2018-11-01 15:56] sushilshinde commented on #1732
@rashmi73 are you working on this?

[2018-11-01 16:13] nahidshahin commented on #1732
@sushilshinde I want to work on it if @rashmi73 doesn't.

[2018-11-01 16:38] rashmi73 commented on #1732
@sushilshinde yes i am working on it. PR within few mins, else i will open it up for pickup

[2018-11-01 19:16] rashmi73 commented on #1732
@nahidshahin @sushilshinde all is done near to complete it. it will be surely completed within few mins

[2018-11-01 21:13] ajefts commented on #1533
Thanks @birdofpreyru !

[2018-11-01 21:13] #1533 closed

[2018-11-01 22:20] rashmi73 commented on #1732
@ThomasKranitsas @sushilshinde
PR on both repos

https://github.com/topcoder-platform/topcoder-react-lib/pull/29
https://github.com/topcoder-platform/community-app/pull/1735

[2018-11-02 12:17] sumitdaga commented on #1699
@ThomasKranitsas
oops .. i assigned myself to this before i slept that day and completely forgot about it the next morning...
where will the links show for FAQs and Extras ..in the left sidebar ...something like this?
http://take.ms/SHiFJ

[2018-11-02 13:32] sumitdaga commented on #1699
@ThomasKranitsas
for some reason https://www.topcoder.com/community/design/how-to-compete#Submit%20Your%20Design link does not take you to the respective section

[2018-11-02 13:33] ThomasKranitsas commented on #1699
it's working for me...

What browser are you using?

[2018-11-02 13:42] sumitdaga commented on #1699
PR #1736
let me know if it works!

[2018-11-04 04:44] sumitdaga commented on #1699
@ThomasKranitsas
i forgot to change the tag

[2018-11-05 05:43] sushilshinde commented on #1732
Thanks @rashmi73 it's all working.

[2018-11-05 05:43] #1732 closed

[2018-11-05 05:44] ThomasKranitsas commented on #1732
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30073540<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-05 07:07] sushilshinde opened #1738 "[$100]Fix listing issues : Stalled issues and bucket issues (It's urgent)"
For the branch `mm-develop-merge`
1. Fix Stalled issues, which are not there on the production

<img width="1650" alt="mm-deveop-merge" src="https://user-images.githubusercontent.com/683231/47982785-029a2300-e0f7-11e8-8f49-0e96d95a0986.png">

2. These stalled items are missing from `Open for registration` bucket they should be under this bucket.

3. My Challenges bucket isn't displayed - all the c

[2018-11-05 07:08] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-05 07:08] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-05 07:09] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-05 07:12] nahidshahin commented on #1738
Can I work on this, please?

[2018-11-05 07:13] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-05 07:14] sushilshinde commented on #1738
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-11-05 07:15] rashmi73 commented on #1738
@nahidshahin i took this once @sushilshinde added open for pickup tag.

[2018-11-05 07:17] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-05 07:49] kkartunov commented on #1724
@hokienick how we gonna proceed with this?
I suggest we create a list of Contentful components and places where headings need to be updated and then solve one by one. Could you provide when there is some time for it, after TCO?

[2018-11-06 10:15] sushilshinde commented on #1738
@rashmi73 are you working on this?

[2018-11-06 10:21] sushilshinde opened #1739 "[$50]My Challenges bucket isn't displaying"
`My Challenges` bucket isn't displayed for the  branch 'mm-develop-merge' - fix it

Compare results with topcoder.com/challenges for reference

Run in production mode locally

npm run build
npm start

Create PR for changes

Repo : https://github.com/topcoder-platform/community-app/tree/mm-develop-merge

[2018-11-06 10:21] ThomasKranitsas commented on #1739
Contest https://www.topcoder.com/challenges/30073851 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-06 10:29] sushilshinde commented on #1738
@prasadadarkar30 this is urgent

[2018-11-06 10:30] rashmi73 commented on #1738
@sushilshinde but m working on it. i am going to raise PR soon.

[2018-11-06 10:31] sushilshinde commented on #1738
@rashmi73 it's over 24 hours

[2018-11-06 10:33] gurmeetb commented on #1739
Duplicate of ? |Should have ref for quick pickup

[2018-11-06 10:34] prasadadarkar30 commented on #1738
@sushilshinde i will urgently. but please explain pt 1 and 2 a bit. m confused with them. pt 3 is clear.

[2018-11-06 10:34] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-06 10:37] ThomasKranitsas commented on #1739
Contest https://www.topcoder.com/challenges/30073851 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-06 10:41] sushilshinde commented on #1738
@prasadadarkar30

1. some challenges are stalled on `mm-develop-merge` branch and not on the topcoder.com/challenges, run production mode.

2. All these items which are displayed as 'Stalled' should be part of `Open for registration` bucket, which is not.

Compare `https://topcoder.com/challenges` vs `http://beta-community-app.topcoder.com/challenges`

[2018-11-06 21:44] prasadadarkar30 commented on #1738
@sushilshinde isnt relaoding of app not available on npm start? because after saving any changes , app doesnt reload.

[2018-11-06 22:50] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-07 01:15] sushilshinde commented on #1738
Instruction to run an app

[code]
Check **Deployment and Execution** section in the doc for details
https://github.com/topcoder-platform/community-app/blob/develop/README.md

[2018-11-07 01:17] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-07 14:50] ThomasKranitsas opened #1740 "[$70] Update the email verification pages"
Recently, we updated the backend so the `PUT /members/{handle}` endpoint accepts a `successUrl` and a `failUrl` parameter.

This was done so the verification link we are sending to the user points to the API and then the API can redirect to the correct page (successUrl/failUrl).

As part of this ticket, you need to:

1. Add the `successUrl/failUrl` parameters to the `PUT /members/{handle}` call wh

[2018-11-07 14:50] ThomasKranitsas commented on #1740
Contest https://www.topcoder.com/challenges/30073947 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-07 14:51] ThomasKranitsas commented on #1740
@topcoder-platform/topcodercompetitors this is open for pickup!

[2018-11-07 14:52] sunildahiya commented on #1740
I want to work in this issue.

[2018-11-07 14:53] ThomasKranitsas commented on #1740
Contest https://www.topcoder.com/challenges/30073947 has been updated - it has been assigned to asmn.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-07 14:53] ThomasKranitsas commented on #1740
Contest https://www.topcoder.com/challenges/30073947 has been updated - it has been assigned to prasadadarkar30.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-07 15:05] ThomasKranitsas commented on #1740
Contest https://www.topcoder.com/challenges/30073947 has been updated - it has been assigned to sunil.saini.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-07 15:05] ThomasKranitsas commented on #1740
Hey guys! Seems like 3 ppl tried to pick this up at the same time :)

Though @sunildahiya posted first so it would be fair if he works on this.

[2018-11-07 15:29] prasadadarkar30 commented on #1740
@ThomasKranitsas we were not together.
sunil commented long back, then after 2 minutes i clicked on assign yourself, but asmn clicked it few miliseconds before me, hence automatically he was unassigned by me.

[2018-11-07 21:07] sunildahiya commented on #1740
@ThomasKranitsas I am getting following error while running the project in `develop` branch. It is working fine in `master` branch.
Error:
community-app/src/shared/services/communities.js:36
_topcoderReactLib.services.communities.getService = getService;
TypeError: Cannot set property getService of #<Object> which has only a getter

[2018-11-08 04:06] sushilshinde commented on #1738
@Gauravseta when are you submitting it?

[2018-11-08 05:14] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-08 05:16] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-08 05:17] sushilshinde commented on #1738
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-11-08 05:35] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-08 05:35] sushilshinde commented on #1738
@gurmeetb please do

[2018-11-08 05:36] Gauravseta commented on #1738
@sushilshinde PR #1741

[2018-11-08 05:37] sushilshinde commented on #1738
That's old code @gurmeetb

[2018-11-08 05:38] sushilshinde commented on #1738
If the fix is is in topcoder-lib it needs to be fixed there, package.json should' be updated

[2018-11-08 05:40] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-08 05:43] gurmeetb commented on #1738
@sushilshinde who is working on this? I see @Gauravseta is raising MR after I picked up item, while he was sitting with item for a day plus?

[2018-11-08 05:44] gurmeetb commented on #1738
@sushilshinde kindly confirm :point_up:

[2018-11-08 05:44] sushilshinde commented on #1738
@gurmeetb your please go ahead and work on it.

[2018-11-08 05:44] gurmeetb commented on #1738
Thanks @sushilshinde

[2018-11-08 05:46] gurmeetb commented on #1738
Yes looking at it now..

[2018-11-08 05:47] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-08 07:50] gurmeetb commented on #1738
@sushilshinde what is best way to test the v3/v4 APIs at `topcoder-react-lib` ?

[2018-11-08 10:07] sushilshinde commented on #1738
https://github.com/topcoder-platform/topcoder-react-lib/tree/new-develop-mm branch is already configured to use v4 API

Here you can check data model differences

https://api.topcoder.com/v4/challenges
https://api.topcoder.com/v3/challenges

[2018-11-08 10:34] sushilshinde commented on #1738
@gurmeetb just paginate via results like this you will marathon matches also. We need to support MARATHON_MATCH and DEVELOP_MARATHON_MATCH as well.

`https://api.topcoder.com/v4/challenges/?filter=status%3DCOMPLETED&limit=50&offset=0`

[2018-11-08 10:38] Gauravseta commented on #1738
@sushilshinde why these links where not given to me?
https://api.topcoder.com/v4/challenges
https://api.topcoder.com/v3/challenges

anyways i can complete this if given chance, as these links were only thing i missed.

[2018-11-08 10:40] sushilshinde commented on #1738
@Gauravseta if this goes for open pickup again, please take it up

[2018-11-08 10:50] gurmeetb commented on #1738
@sushilshinde The API is at fault, if API doesn't returns `currentPhases` in the response, it goes to `STALLED` stage. The best place for this fix is on server side of the APIs. We can add code to check for dates but that would be kind of adding redundant code in `topcoder-react-lib`.

Take a case for below DEVELOP_MARATHON_MATCH where we get back `currentPhases`, it is shown fine on UI :
"name":

[2018-11-08 10:55] gurmeetb commented on #1738
@sushilshinde ☝️

[2018-11-08 11:00] sushilshinde commented on #1738
Ok, let fix it in the lib first if the current phase is missing then compute otherwise use whatever is providexd @gurmeetb

[2018-11-08 11:00] gurmeetb commented on #1738
@sushilshinde thanks

[2018-11-08 11:37] sushilshinde opened #1743 "[$50]Filestack component not working"
**Problem :**

For the branch `mm-develop-merge` Filestack uploader component not working.

It's already working the current production and development (`develop and master` branches) versions

<img width="1341" alt="screen shot 2018-11-08 at 4 49 47 pm" src="https://user-images.githubusercontent.com/683231/48196259-12746a00-e378-11e8-88c6-e019d79dd6e4.png">

Fix it in the mm-develop-merge branch

[2018-11-08 11:37] ThomasKranitsas commented on #1743
Contest https://www.topcoder.com/challenges/30073999 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-08 11:38] gurmeetb commented on #1738
@sushilshinde how do we include local Topcoder-react-lib in community-app? I followed the README of Topcoder-react-lib and added following but `npm i` cannot find it

[code]

[2018-11-08 11:42] sushilshinde commented on #1738
There are many solutions

but this is simple fork `topcoder-react-lib`, build, commit dist folder and use

`topcoder-react-lib": "git+https://github.com/{your-repo-here}/topcoder-react-lib#new-develop-mm
`

[2018-11-08 11:48] ThomasKranitsas commented on #1743
Contest https://www.topcoder.com/challenges/30073999 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-08 11:49] sushilshinde commented on #1743
https://github.com/topcoder-platform/community-app/tree/mm-develop-merge

[2018-11-08 11:50] sushilshinde commented on #1743
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-11-08 11:50] ThomasKranitsas commented on #1743
Contest https://www.topcoder.com/challenges/30073999 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-08 11:52] ThomasKranitsas commented on #1743
Contest https://www.topcoder.com/challenges/30073999 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-08 11:54] sushilshinde commented on #1743
@rashmi73 please help submit it quick all these issues are urgent.

[2018-11-08 11:55] gurmeetb commented on #1738
Thanks README suggested me above so was taking it but this helps. Testing fix.

[2018-11-08 11:57] rashmi73 commented on #1743
@sushilshinde can you please clarify, how to reproduce it?
i will compare it and fix it immediately..

[2018-11-08 12:02] sushilshinde commented on #1743
It's on Listing > Details > Submission page

`https://beta-community-app.topcoder.com/challenges/30071194 (old uploader)`
`https://www.topcoder.com/challenges/30071194 (new uploader - we want this one)`

Click on submit button or run your local project in the production mode for a better set of the challenges. I'm not able to post a new challenge on dev for some reason.

Instruction to run an app

[2018-11-08 12:05] ThomasKranitsas commented on #1743
Contest https://www.topcoder.com/challenges/30073999 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-08 12:07] ThomasKranitsas commented on #1743
Contest https://www.topcoder.com/challenges/30073999 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-08 12:07] ThomasKranitsas commented on #1743
Contest https://www.topcoder.com/challenges/30073999 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-08 12:32] gurmeetb commented on #1738
@sushilshinde looks like I was looking at wrong file, I will open it as I am done with 8 hrs, I will pick up again in 8 hrs, if we don't have solution.

[2018-11-08 12:37] sushilshinde commented on #1738
@gurmeetb do you have an solution.

[2018-11-08 12:40] rashmi73 commented on #1738
@sushilshinde i agree with gurmeetb. testing even a single chnage takes 15+ mins to build because of production build. hot reloading only on  dev. is it possible to have it on prod?

[2018-11-08 12:48] sushilshinde commented on #1738
@gurmeetb @rashmi73 i understand but as long as you are working on the solution it's ok to keep the ticket even beyond 8 hours, just inform me.

[2018-11-08 12:57] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-08 12:59] gurmeetb commented on #1738
@sushilshinde yes, I know the RCA and know the cause of the issue, finding the right file which is changing the status is trick, where I got blocked hence unlocked tickets for others.

I will continue my work on it.

[2018-11-08 15:24] ThomasKranitsas opened #1744 "Failure to load external links prevent the profile page from loading"
**Describe the bug**
Logged from a member on slack:
All profiles are not working
`GET https://api.topcoder.com/v3/members/Sky_/externalLinks 500`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/members/Sky_
2. See error

**Expected behavior**
The rest of the page should load properly and just show a nice error message that there was an issue loading the externa

[2018-11-08 15:38] ThomasKranitsas commented on #1744
Contest https://www.topcoder.com/challenges/30074025 has been updated - it has been assigned to prasadadarkar30.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-08 16:22] gurmeetb commented on #1738
@sushilshinde the fix is working with dev env, testing with prod, will raise MR in few mins.

[2018-11-08 17:34] gurmeetb commented on #1738
@sushilshinde fix is ready, having merge issues with fork, resolving them and will open MR.

[2018-11-08 17:58] gurmeetb commented on #1738
@sushilshinde it is read, kindly verify ☝️

[2018-11-08 19:38] rashmi73 commented on #1743
@sushilshinde raising PR within few mins.

[2018-11-08 19:47] rashmi73 commented on #1743
@sushilshinde PR ready #1747

[2018-11-09 02:12] sushilshinde commented on #1743
@rashmi73 I see this error after clicking on submit button.

<img width="1660" alt="screen shot 2018-11-09 at 7 41 50 am" src="https://user-images.githubusercontent.com/683231/48238957-04affa80-e3f3-11e8-87f3-c85fdc9269cc.png">

[2018-11-14 07:22] JayaDhaka opened #1751 "Topgear leaderboard is not loading"
In the below link not able to see the topgear leaderboard
https://topgear.topcoder.com/leaderboard

![image 28](https://user-images.githubusercontent.com/34749364/48466471-05d69280-e80c-11e8-9590-eaead8467cf0.png)

Please check and fix the issue.

@ajefts

[2018-11-14 08:02] ThomasKranitsas commented on #1743
Contest https://www.topcoder.com/challenges/30073999 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-14 08:03] sushilshinde commented on #1743
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-11-14 08:08] ThomasKranitsas commented on #1743
Contest https://www.topcoder.com/challenges/30073999 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-14 08:14] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-14 08:15] sushilshinde commented on #1738
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-11-14 08:18] ThomasKranitsas commented on #1738
Contest https://www.topcoder.com/challenges/30073811 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-14 08:35] gurmeetb commented on #1738
@nahidshahin 1st is fixed, look at MR. Thought to flag you so you don't invest time there.

[2018-11-14 08:53] JohnPranay commented on #1751
Development team could you please solve this issue on high priority based.  Thank you.

[2018-11-14 09:51] sushilshinde commented on #1743
@suppermancool are you creating PR soon?

[2018-11-14 09:57] suppermancool commented on #1743
i'm done in
https://github.com/topcoder-platform/community-app/pull/1753
The current version of filestack-js doesn't work on this branch so i updated to new version 1.7.7
pls run `npm i` before building

[2018-11-14 11:53] sushilshinde commented on #1743
@suppermancool this is good. I will close as accepted.

Are you seeing this situation local env even though I'm registered for the challenge?

![topcoder-x - migrate to dynamodb and bug fixes 2018-11-14 17-22-49](https://user-images.githubusercontent.com/683231/48480971-fc602100-e831-11e8-9948-5912f1b1b562.png)

[2018-11-14 12:00] suppermancool commented on #1743
@sushilshinde no, just see it sometime on production

[2018-11-14 12:01] sushilshinde commented on #1743
ok thanks

[2018-11-14 12:02] #1743 closed

[2018-11-14 12:02] ThomasKranitsas commented on #1743
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30073999<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-14 13:20] sushilshinde opened #1754 "[$50]Direct MM not showing as part of Data Science filter | mm-develop-merge branch"
`https://beta-community-app.topcoder.com/challenges?bucket=openForRegistration` (mm-develop-merge is deployed here)

API call : https://api.topcoder.com/v4/challenges/?filter=status%3DACTIVE&limit=50&offset=0

![1](https://user-images.githubusercontent.com/683231/48485116-00923b80-e83e-11e8-8992-e33919247a8e.png)

![2](https://user-images.githubusercontent.com/683231/48485120-01c36880-e83e-11e8-81

[2018-11-14 13:33] sushilshinde commented on #1738
@nahidshahin Shall I assign this https://github.com/topcoder-platform/community-app/issues/1754 as well to you if you have a bandwidth. It's related to current issues.

[2018-11-14 13:57] gurmeetb commented on #1738
@sushilshinde #1754 is already fixed as part of https://github.com/topcoder-platform/community-app/pull/1746, if I am not wrong. Please check once.

[2018-11-14 14:11] gurmeetb commented on #1738
@sushilshinde I just verified - and yes my MR has fixed that already. If you want I can raise new MR for #1754 - see attached.

![1](https://user-images.githubusercontent.com/14284629/48487799-456da080-e845-11e8-9e15-f5dcbcfb51cc.jpg)

[2018-11-14 14:16] sushilshinde commented on #1738
@gurmeet, that's a different issue. This is related to Direct-MM.

[2018-11-15 03:45] #1738 closed

[2018-11-15 03:45] ThomasKranitsas commented on #1738
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-15 03:47] sushilshinde opened #1755 "[$35]Fix Stalled issue | For the branch mm-develop-merge"
Fix Stalled issues, which are not there on the production

<img width="1650" alt="47982785-029a2300-e0f7-11e8-8f49-0e96d95a0986" src="https://user-images.githubusercontent.com/683231/48528989-36273b00-e8b7-11e8-8ed6-c981c041b072.png">

Compare results with topcoder.com/challenges(v3 API) for reference.

Run in production mode(v4 API), there is data model difference in v3 and v4 API.

Instruction t

[2018-11-15 03:50] sushilshinde commented on #1755
@gurmeetb I'm just diving these issues for the https://github.com/topcoder-platform/community-app/issues/1738

so that you get paid for your ealier work

[2018-11-15 03:50] ThomasKranitsas commented on #1755
Contest https://www.topcoder.com/challenges/30074452 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-15 03:52] ThomasKranitsas commented on #1755
Contest https://www.topcoder.com/challenges/30074452 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-15 03:53] sushilshinde opened #1756 "[$35]My Challenges bucket not showing up | For the branch mm-develop-merge"
My Challenges bucket isn't displayed - all the challenges which I'm registered for should be under this bucket

<img width="3600" alt="topcoder challenges 2018-11-15 09-24-08" src="https://user-images.githubusercontent.com/683231/48529305-733ffd00-e8b8-11e8-951d-8e72e888bd9c.png">

Compare results with topcoder.com/challenges(v3 API) for reference.

Run in production mode(v4 API), there is data mo

[2018-11-15 03:53] ThomasKranitsas commented on #1756
Contest https://www.topcoder.com/challenges/30074453 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-15 03:56] gurmeetb commented on #1756
@sushilshinde let me give one try again today, as got 2-3 hrs...

[2018-11-15 03:56] ThomasKranitsas commented on #1756
Contest https://www.topcoder.com/challenges/30074453 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-15 03:56] gurmeetb commented on #1756
@sushilshinde but I don't see OPEN-FOR-PICKUP, can I still assign myself ?

[2018-11-15 03:57] sushilshinde commented on #1756
@gurmeetb try now

[2018-11-15 03:57] ThomasKranitsas commented on #1756
Contest https://www.topcoder.com/challenges/30074453 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-15 03:57] sushilshinde commented on #1756
@gurmeetb accidentally deleted your comment sorry about that

[2018-11-15 04:01] gurmeetb commented on #1754
@sushilshinde I know this issue I think, so you can assign me this. I will fix this along with other.

[2018-11-15 04:02] ThomasKranitsas commented on #1754
Contest https://www.topcoder.com/challenges/30074454 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-15 04:02] ThomasKranitsas commented on #1754
Contest https://www.topcoder.com/challenges/30074454 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-15 04:02] ThomasKranitsas commented on #1754
Contest https://www.topcoder.com/challenges/30074454 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-15 04:21] sushilshinde opened #1757 "[$35]Open for registration bucket doesn't show on going MM | For the branch mm-develop-merge"
On `mm-develop-merge` branch, this is urgent try to submit asap

`https://beta-community-app.topcoder.com/challenges?bucket=openForRegistration`

Open for registration bucket doesn't show ongoing legacy MMs
`(track: "DATA_SCIENCE", subTrack: "MARATHON_MATCH")
`
![mm-mising](https://user-images.githubusercontent.com/683231/48529983-b3ed4580-e8bb-11e8-95bf-f110d9465238.png)

Where on production they

[2018-11-15 04:29] gurmeetb commented on #1754
@sushilshinde it is challenge creation issue. The list of technologies in challenge doesn't contains `Data Science` and hence it is GREEN. If we fix the challenge, it will fix the UI. Or are you saying all challenges with `subtrack=DEVELOP_MARATHON_MATCH` should also see

![](https://user-images.githubusercontent.com/683231/48485370-9fb73300-e83e-11e8-99e0-668add704f6f.png)

If latter is correct,

[2018-11-15 04:38] gurmeetb commented on #1754
@sushilshinde ☝️

[2018-11-15 04:41] sushilshinde commented on #1754
@gurmeetb yes

`subtrack=DEVELOP_MARATHON_MATCH` is a marathon match

[2018-11-15 04:41] gurmeetb commented on #1754
ok pushing in MR in 2 mins..

[2018-11-15 05:41] sushilshinde commented on #1754
ok, testing.

[2018-11-15 05:52] gurmeetb commented on #1754
are you on slack ?

[2018-11-15 05:55] gurmeetb commented on #1755
@sushilshinde since this was already merged, marking it as Review to complete the process.

[2018-11-15 06:06] sushilshinde commented on #1754
@gurmeetb this is good, thank you.

[2018-11-15 06:06] #1754 closed

[2018-11-15 06:06] ThomasKranitsas commented on #1754
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30074454<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-15 06:07] gurmeetb commented on #1756
@sushilshinde no worries. I need to head out right now. If you feel this is urgent, please feel free to open it else I will address it in few hrs...

[2018-11-15 06:07] sushilshinde commented on #1754
@gurmeetb yes I'm slack

[2018-11-15 06:38] ThomasKranitsas commented on #1740
Contest https://www.topcoder.com/challenges/30073947 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-15 06:43] kkartunov commented on #1751
@JohnPranay this issue is known and solved by 2e75d27becd227384c4a538d776ba995779ec325. It will land in production with next release.

[2018-11-15 06:43] #1751 closed

[2018-11-15 09:59] sushilshinde commented on #1755
Yes thanks @gurmeetb

[2018-11-15 09:59] #1755 closed

[2018-11-15 10:00] ThomasKranitsas commented on #1755
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30074452<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-15 10:01] sushilshinde commented on #1757
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-11-15 10:02] sushilshinde commented on #1756
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-11-15 10:04] #1135 closed

[2018-11-15 10:16] #1125 closed

[2018-11-15 10:17] #1102 closed

[2018-11-15 10:31] #854 closed

[2018-11-15 10:32] #1126 closed

[2018-11-15 12:58] ThomasKranitsas commented on #1756
Contest https://www.topcoder.com/challenges/30074453 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-15 14:21] #1131 closed

[2018-11-15 14:32] suppermancool commented on #1756
@sushilshinde the api v4 always return list of my challenges empty
https://api.topcoder.com/v4/members/diazz/challenges/?filter=status%3DACTIVE&limit=50&offset=0
but api v3 return correct list of my challenges
https://api.topcoder.com/v3/members/diazz/challenges/?filter=status%3DACTIVE&limit=50&offset=0

this is server issue, can you check with server guy?

[2018-11-15 17:01] sushilshinde commented on #1756
@skyhit can help please

[2018-11-16 00:50] skyhit commented on #1756
@sushilshinde @suppermancool the problem is fixed

[2018-11-16 02:53] sushilshinde commented on #1756
Thanks @skyhit

[2018-11-16 03:38] suppermancool commented on #1756
thanks @skyhit . @sushilshinde the my challenges work now, pls check again

[2018-11-16 03:41] sushilshinde commented on #1756
Will check @suppermancool

Can you also have a look at https://github.com/topcoder-platform/community-app/issues/1757

[2018-11-16 03:43] ThomasKranitsas commented on #1757
Contest https://www.topcoder.com/challenges/30074455 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-16 03:44] suppermancool commented on #1756
@sushilshinde checking , thanks

[2018-11-16 03:46] sushilshinde commented on #1756
@suppermancool where is PR for this?

[2018-11-16 05:20] suppermancool commented on #1757
@sushilshinde i will get challenge ""TCO19 Yaw Misalignment" (this challenge is show as Develop but don't appear at mm-develop-merge branch )

In v4 the challenge info is at:
https://api.topcoder.com/v4/challenges/?filter=status%3DACTIVE&limit=1&offset=3&subTrack=MARATHON_MATCH

in "Registration" phase of challenge, the "phaseStatus" is "Scheduled", right now to show this challenge in mm-develop-m

[2018-11-16 05:34] sushilshinde commented on #1757
@skyhit comments?

[2018-11-16 05:36] sushilshinde commented on #1756
@suppermancool what you did here :)

Yeah working :)

[2018-11-16 05:38] suppermancool commented on #1756
@sushilshinde i just investigated the bug, it is take time for debuging, expecially in production mode

[2018-11-16 05:39] #1756 closed

[2018-11-16 05:40] ThomasKranitsas commented on #1756
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30074453<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-16 06:46] sushilshinde opened #1759 "[$30]Submission Rejected | For the branch mm-develop-merge"
_`mm-develop-merge` branch is deployed at
`https://beta-community-app.topcoder.com/challenges/30074211/submit`_

When I submit the zip file it shows this console error, and submission is rejected

<img width="938" alt="screen shot 2018-11-16 at 11 14 12 am" src="https://user-images.githubusercontent.com/683231/48602467-3e57a700-e999-11e8-804a-debff6a9c1d8.png">

Instruction to run an app in produc

[2018-11-16 06:46] ThomasKranitsas commented on #1759
Contest https://www.topcoder.com/challenges/30074543 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-16 06:46] sushilshinde commented on #1759
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-11-16 06:47] ThomasKranitsas commented on #1759
Contest https://www.topcoder.com/challenges/30074543 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-16 06:48] ThomasKranitsas commented on #1759
Contest https://www.topcoder.com/challenges/30074543 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-16 06:48] ThomasKranitsas commented on #1759
Contest https://www.topcoder.com/challenges/30074543 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-16 06:51] #504 closed

[2018-11-16 06:52] sushilshinde commented on #454
Done

[2018-11-16 06:52] #454 closed

[2018-11-16 06:52] #453 closed

[2018-11-16 06:52] #820 closed

[2018-11-16 06:52] #817 closed

[2018-11-16 06:53] #845 closed

[2018-11-16 06:54] #814 closed

[2018-11-16 06:56] #540 closed

[2018-11-16 06:56] #821 closed

[2018-11-16 06:56] #822 closed

[2018-11-16 07:00] ThomasKranitsas commented on #1759
Contest https://www.topcoder.com/challenges/30074543 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-17 02:01] sushilshinde commented on #1757
@skyhit is doing some investigation he will reply

@suppermancool keep this issue with you.

[2018-11-17 12:18] rashmi73 commented on #1759
@sushilshinde is it working perfectly fine on develop branch?

[2018-11-17 13:54] rashmi73 commented on #1759
@sushilshinde found the solution i guess currentphases are null hence all the issue, replacing it with allphases if currentphases is array of length 0.

[2018-11-17 14:43] rashmi73 commented on #1759
@sushilshinde why suddenly am i not allowed to submit zip folder?
it says in console that forbidden.

and following is response header received in XHR response

<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Message>
<RequestId>7704825170724E5F</RequestId>
<HostId>
huWnp6dQHsOkadxhNGxKf6JCmbTjBdfzhG3Br1qm5FsDyzgRhq+wDTmefldqMjuwxJrWY73mzvQ=
</HostId>
</Error>

[2018-11-17 14:56] rashmi73 commented on #1759
@sushilshinde PR #1760

[2018-11-17 14:58] rashmi73 commented on #1414
@ThomasKranitsas @sushilshinde can u please review this?

[2018-11-17 14:59] rashmi73 commented on #1318
@sushilshinde @ThomasKranitsas kindly review above

[2018-11-17 15:06] Gauravseta commented on #1660
@ThomasKranitsas waitign for review

[2018-11-17 15:44] Gauravseta commented on #1307
@ThomasKranitsas even this one.

[2018-11-18 05:29] sushilshinde commented on #1759
@rashmi73

Still submissionPhaseId is undefined after your fix

![doesnt exist](https://user-images.githubusercontent.com/683231/48669037-f2d00500-eb20-11e8-8a7d-d47a0e049537.png)

Check it on production

![submissionphaseid exists](https://user-images.githubusercontent.com/683231/48669039-fa8fa980-eb20-11e8-8804-00b89c698d01.png)

[2018-11-18 05:59] rashmi73 commented on #1759
@sushilshinde can you provide me backend response of challenges?

on hitting api.topcoder.com/v4/challenges i found

many times in allphases array we get "phasetype: submission " ,but it doesnt have id property, hence it is giving undefined even though if conditions were satisfied.

i am asking for backend response because suddenly topcoder is giving me submission not allowed on my topcoder handle

[2018-11-18 06:40] sushilshinde commented on #1759
Regarding `AccessDenied` error, probably it is because of the CORS issues not user specific

[2018-11-18 07:01] rashmi73 commented on #1759
@sushilshinde probably CORS was ok on my machine, trying it again as m not able to see backend response.

[2018-11-18 08:19] rashmi73 commented on #1759
@sushilshinde
1.when cors enabled, i get console error on visitng localhost:3000
2. when cors disabled, i get no error.

then i head to challenge page and visit the challenge.
and click on submit to submission, when i pick a zip file and it shows uploading page and then it says in 403 forbidden in console.

[2018-11-18 08:32] rashmi73 commented on #1759
@sushilshinde its confirmed id is not received in response of itself.

below is object:

{
			"updatedAt": "2018-11-16T16:29Z",
			"createdAt": "2018-11-12T00:04Z",
			"createdBy": "151743",
			"updatedBy": "151743",
			"technologies": ["Node.js"],
			"status": "ACTIVE",
			"track": "DEVELOP",
			"subTrack": "CODE",
			"name": "Topcoder-X - Migrate to DynamoDB and bug fixes",
			"reviewType": "COM

[2018-11-18 08:33] rashmi73 commented on #1759
@sushilshinde whereas id present for some challenges.
so u want me to change at backend?
because there is no work around for this on frontend if id not received at all.

[2018-11-18 08:36] sushilshinde commented on #1759
Can you share a challenges for which ID exists and it doesnt @rashmi73

[2018-11-18 08:41] rashmi73 commented on #1759
@sushilshinde just 5mins

[2018-11-18 08:42] ThomasKranitsas commented on #1759
Contest https://www.topcoder.com/challenges/30074543 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-18 08:50] rashmi73 commented on #1759
@sushilshinde
1. I observed that challenge for which id exists are only those whose subtrack is "MARATHON_MATCH",
rest all doesnt have id in currentphases and allphases.
below is one of the subtrack=MARATHO_MATCH challenge which has id in phases.

{
			"createdBy": "system",
			"status": "ACTIVE",
			"track": "DATA_SCIENCE",
			"subTrack": "MARATHON_MATCH",
			"name": "Mercury Challenge Period 2 -

[2018-11-18 10:43] sushilshinde commented on #1759
@rashmi73 please keep the ticket with you. Need some more info from my side so please wait.

[2018-11-18 11:09] rashmi73 commented on #1759
@sushilshinde ok no problem.
But can you please tell where is repo of backend?
 for "api.topcoder.com/v3/challenges" and "api.topcoder.com/v4/challenges"

[2018-11-18 12:19] sushilshinde commented on #1759
Those are private repos

[2018-11-18 12:56] rashmi73 commented on #1759
@sushilshinde ok waiting.

[2018-11-18 17:13] PrakashDurlabhji commented on #1455
@ThomasKranitsas it is working fine now.

[2018-11-18 17:17] PrakashDurlabhji commented on #1744
@ThomasKranitsas can i take this if prasad not available?

[2018-11-18 17:17] ThomasKranitsas commented on #1744
Contest https://www.topcoder.com/challenges/30074025 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-19 17:33] rashmi73 commented on #1759
@sushilshinde any updates?

[2018-11-20 09:02] sushilshinde commented on #1759
@rashmi73 I did some research on this I found current phases are empty but the id the in the submission phase is the mysterious one, I did not found that in details call `challenges/{id}`. Can you investigate further?

**Reference :**
https://github.com/topcoder-platform/community-app/blob/develop/src/shared/components/SubmissionPage/Submit/index.jsx#L56

https://github.com/topcoder-platform/commu

[2018-11-20 09:06] sushilshinde commented on #1759
@kkartunov can you help @rashmi73 in case she needs it. I'll be off rest of the day today.

[2018-11-20 15:29] sushilshinde commented on #1759
@rashmi73 are you looking at this if not please open for pic up

[2018-11-20 15:37] rashmi73 commented on #1759
@sushilshinde yes ofcourse i am looking into it, actually id column needs to be added at backend repo so i get it on frontend because in topcoder-react-lib no such manipulation done where id may be removed. so backend needs to be checked i feel. or topcoder-react-lib?

[2018-11-20 15:38] rashmi73 commented on #1759
@sushilshinde will give it a try once again. logging topcoder-react-lib

[2018-11-21 03:36] sushilshinde commented on #1759
@rashmi73 `submissionPhaseId` has no co-relation with index ids.

Look at this in `develop` branch and v3 api which is current production code

this is details call - http://api.topcoder-dev.com/v3/challenges/30054164

but I'm not able find this `submissionPhaseId` here also, so there must be some other call

![image](https://user-images.githubusercontent.com/683231/48817429-792c5700-ed6c-11e8-985

[2018-11-21 13:47] ThomasKranitsas commented on #1759
Contest https://www.topcoder.com/challenges/30074543 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 13:48] sushilshinde commented on #1759
@rashmi73 this problem resolved from the backend but thank you for investigating the issues processing payment

[2018-11-21 13:48] #1759 closed

[2018-11-21 13:48] ThomasKranitsas commented on #1759
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30074543<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 16:50] #1699 closed

[2018-11-21 16:50] ThomasKranitsas commented on #1699
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072734<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 17:13] #1318 closed

[2018-11-21 17:13] ThomasKranitsas commented on #1318
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072956<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 17:14] #1438 closed

[2018-11-21 17:15] ThomasKranitsas commented on #1438
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072959<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 17:18] #1519 closed

[2018-11-21 17:19] ThomasKranitsas commented on #1519
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072965<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 17:21] #1414 closed

[2018-11-21 17:21] ThomasKranitsas commented on #1414
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071998<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 17:35] #1355 closed

[2018-11-21 17:36] ThomasKranitsas commented on #1355
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071859<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 18:11] #1455 closed

[2018-11-21 18:12] ThomasKranitsas commented on #1455
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072961<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 18:12] #1366 closed

[2018-11-21 18:12] ThomasKranitsas commented on #1366
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071882<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 18:14] #1399 closed

[2018-11-21 18:15] #1480 closed

[2018-11-21 18:38] ThomasKranitsas commented on #1505
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30072056 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 18:45] #1472 closed

[2018-11-21 18:46] ThomasKranitsas commented on #1472
Contest https://www.topcoder.com/challenges/30074846 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 18:47] #1444 closed

[2018-11-21 18:47] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 18:48] ThomasKranitsas commented on #1444
Contest https://www.topcoder.com/challenges/30074847 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 18:49] #1505 closed

[2018-11-21 18:49] ThomasKranitsas commented on #1505
Contest https://www.topcoder.com/challenges/30074848 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 18:49] ThomasKranitsas commented on #1505
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 18:49] ThomasKranitsas commented on #1444
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 18:49] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-21 19:43] ThomasKranitsas commented on #1740
@Gauravseta what's the status on this? It's been a week since you started working on it

[2018-11-21 19:45] Gauravseta commented on #1740
@ThomasKranitsas yes working on it, will complete immediately on priority

[2018-11-21 20:14] ThomasKranitsas commented on #1744
what's the status on this one?

[2018-11-21 20:14] ThomasKranitsas commented on #1520
@gurmeetb what's the status on this one?

[2018-11-21 20:15] ThomasKranitsas commented on #1381
what's the status here?

Is this still a valid issue?

[2018-11-22 03:05] skyhit commented on #1757
@sushilshinde @suppermancool this should be fixed, please check

[2018-11-22 07:05] sushilshinde commented on #1757
a fix is done on the backend, thanks for investigating the issues.

[2018-11-22 07:05] #1757 closed

[2018-11-22 07:05] ThomasKranitsas commented on #1757
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30074455<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-22 10:11] gurmeetb commented on #1520
@ThomasKranitsas Sorry completely missed this one. I am currently blocked in some other work, so opening it up, will revisit this later if still not fixed.

[2018-11-22 13:42] ThomasKranitsas commented on #1520
Contest https://www.topcoder.com/challenges/30072966 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-22 20:57] ThomasKranitsas commented on #1740
Any update on this?
We need to complete this ASAP.

If you haven't started on this yet, I would like to add it on a challenge I'm planning to run. Please respond ASAP.

[2018-11-22 20:59] Gauravseta commented on #1740
@ThomasKranitsas please dont add . i will complete it now itself.

[2018-11-22 21:03] ThomasKranitsas commented on #1740
thank you

[2018-11-22 21:04] #1520 closed

[2018-11-22 21:04] ThomasKranitsas commented on #1520
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072966<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-22 21:30] Gauravseta commented on #1740
@ThomasKranitsas just a minor doubt.
can you please tell what will be sucessUrl and fail Url? i will raise PR nowitself. m confused with urls

[2018-11-22 21:32] Gauravseta commented on #1740
@ThomasKranitsas
is this fail url?
path={`${base}/account/email-verification/failure`}

and successurl is currently this:
path={`${base}/account/email-verification/success/:handle/:token/:newEmail/:oldEmail/:jwtToken`}

which should turn into something like
path={`${base}/account/email-verification/success`}

am i correct?

[2018-11-22 21:32] ThomasKranitsas commented on #1740
That sounds correct

[2018-11-22 21:34] Gauravseta commented on #1740
@ThomasKranitsas
so
profile.successUrl= "/account/email-verification/success";
profile.failUrl= "/account/email-verification/failure";

or do i need to consider "${base}" too? . m confused with that

[2018-11-22 21:35] ThomasKranitsas commented on #1740
the `base` should also be included as the API is not aware of the frontend base URL

[2018-11-22 21:38] Gauravseta commented on #1740
@ThomasKranitsas so finally it turns to
profile.successUrl= "http://www.topcoder.com/account/email-verification/success";
profile.failUrl = "http://www.topcoder.com/account/email-verification/failure"

will raise PR now, removing http call from success page.

[2018-11-22 22:07] Gauravseta commented on #1740
@ThomasKranitsas PR #1766

[2018-11-22 22:48] ThomasKranitsas opened #1767 "[$30] The gender is not being repopulated after saving the user's info"
## How to reproduce:

1. Delete your basic_info trait `DELETE https://api.topcoder.com/v3/members/{handle}/traits?traitIds=basic_info` (you'll need to use your JWT for this. You can grab your JWT by checking the console log from the Topcoder Dashboard page https://www.topcoder.com/my-dashboard)
2. Go to the settings page
3. Enter your details along with Gender
4. Click on Save Changes
5. You'll no

[2018-11-22 22:49] ThomasKranitsas commented on #1767
Contest https://www.topcoder.com/challenges/30074970 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-22 22:49] ThomasKranitsas commented on #1767
Contest https://www.topcoder.com/challenges/30074970 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-22 22:49] ThomasKranitsas commented on #1767
@topcoder-platform/topcodercompetitors this is open for pickup!

[2018-11-23 00:12] ThomasKranitsas commented on #1767
Contest https://www.topcoder.com/challenges/30074970 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-23 01:34] suppermancool commented on #1767
@ThomasKranitsas done in https://github.com/topcoder-platform/community-app/pull/1768

[2018-11-23 10:29] #1767 closed

[2018-11-23 10:30] ThomasKranitsas commented on #1767
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30074970<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-23 13:42] ThomasKranitsas commented on #1740
Contest https://www.topcoder.com/challenges/30073947 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-23 13:43] #1740 closed

[2018-11-23 13:43] ThomasKranitsas commented on #1740
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30073947<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-23 13:44] Gauravseta commented on #1740
@ThomasKranitsas thanks

[2018-11-23 13:46] Gauravseta commented on #1744
@ThomasKranitsas shall i take this?

[2018-11-23 13:47] ThomasKranitsas commented on #1744
No, this has been added to the scope of this challenge https://www.topcoder.com/challenges/30074966

[2018-11-26 12:08] ThomasKranitsas commented on #1660
@topcoder-platform/topcodercompetitors this is open for pickup. We need to fix this ASAP so please do not assign yourself if you're not sure you can fix it. I'll also increase the price a bit.

[2018-11-26 12:08] ThomasKranitsas commented on #1660
Contest https://www.topcoder.com/challenges/30072312 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-26 12:11] ThomasKranitsas commented on #1660
Contest https://www.topcoder.com/challenges/30072312 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-26 15:29] ThomasKranitsas commented on #1660
how much time do you need?

[2018-11-26 15:33] nahidshahin commented on #1660
@ThomasKranitsas 3rd option could be make the date field editable so that user can type previous year. It should be faster to implement.

[2018-11-26 15:38] ThomasKranitsas commented on #1660
Does that help https://github.com/airbnb/react-dates/pull/1106 ?

[2018-11-26 15:50] nahidshahin commented on #1660
Thanks @ThomasKranitsas, seems useful.

[2018-11-26 17:31] nahidshahin commented on #1660
@ThomasKranitsas the library is working now. Need to fix CSS and few other issues.

[2018-11-26 23:08] NehaSharma02 commented on #1730
@birdofpreyru Please look into it.

[2018-11-27 04:14] nahidshahin commented on #1660
@ThomasKranitsas raising PR shortly. Still need to fix some CSS issue.

[2018-11-27 08:05] kkartunov commented on #1730
This is on the WP instance and belongs there not here...

[2018-11-27 14:33] nahidshahin commented on #1660
@ThomasKranitsas raised PR https://github.com/topcoder-platform/community-app/pull/1769, addressed both 1 & 2

[2018-11-27 15:06] hokienick commented on #1724
Hello @kkartunov ok just starting to get settled in once again!  Yes, so we need to continue this effort. I am confident that you understand what our goal is here.

So let's go over this together to realize what the true issue is and the best way to solve it, as I'd rather not have just a patch for this where it can just break later.

It sounds like we are unable to make the changes globally as it

[2018-11-27 15:31] hokienick opened #1770 "Update TCO Hall of Fame page with TCO18 Entry"
TCO18 has completed!  Now it is time to create the hall of fame page for this event.

Here is the [Google Spreadsheet with the data that you will need](https://docs.google.com/spreadsheets/d/1R7HYbmW0KtqglnbDhI20IKFoGbwhi5dM9IfwaeZ4AyM/edit?usp=sharing).

Don't forget to update the "All Time Champions" List accordingly as well!

Following this post, I will provide the images that you will need.  I

[2018-11-27 15:42] hokienick commented on #1770
**Top Banner**

Dallas, Texas
November 13-16, 2018
60k prize money
34 Countries
6 Champions
89 Finalists

![tco18_banner](https://user-images.githubusercontent.com/1373998/49092942-6e3d5f00-f263-11e8-9358-900678e2b53b.png)

[2018-11-27 15:44] hokienick commented on #1770
**Did You Know?**

![tco18_southfork](https://user-images.githubusercontent.com/1373998/49093013-9036e180-f263-11e8-81e0-957a26d266dc.png)

TCO18 was held at the Southfork Ranch in Dallas, Texas where the famous show, Dallas was actually filmed at! All the finalists got to take a tour of the ranch and see the house first hand!

![tco18_russiabroadcast](https://user-images.githubusercontent.com/137

[2018-11-27 16:02] hokienick commented on #1770
**Photos of Champions** - Will not include those that have repeated, since you may duplicate from Contentful

**ngoctay**
![ngoctay](https://user-images.githubusercontent.com/1373998/49094083-af367300-f265-11e8-845b-e7be97390152.png)

**kondakovdmitry**
![kondakovdmitry](https://user-images.githubusercontent.com/1373998/49094239-13593700-f266-11e8-92ae-7014087e26af.png)

**MoulyG** - Previous Cham

[2018-11-27 16:42] hokienick opened #1771 "Dashboard Banner Layout - Video"
I noticed this layout when there is text and a video.  The same should apply if there is text and a photo.

In an effort for things to look symmetrical, we currently have this:

<img width="1409" alt="screen shot 2018-11-27 at 4 19 28 pm" src="https://user-images.githubusercontent.com/1373998/49095300-777cfa80-f268-11e8-9663-2f32976474d7.png">

I noticed that on the video side there was right padd

[2018-11-27 18:33] hokienick opened #1772 "Update Topcoder Open Member Programs Page"
**This ticket replaces Jessie's email that she sent us.**
Please make the following updates to the [Topcoder Open Members Page](https://www.topcoder.com/community/member-programs/topcoder-open/):

- Change "TCO18 Live Broadcast Schedule" title with "All Things Related to the TCO18 Finals"

- Replace text "_Our annual tournament is happening! Don't miss any of the live action of the event. Save the

[2018-11-27 18:48] hokienick commented on #1701
This seems to be working.  Closing.

[2018-11-27 18:48] #1701 closed

[2018-11-27 18:53] Gauravseta commented on #1307
@ThomasKranitsas can we do something about this. i want to finish this and get paid.its hanging since long time.thanks

[2018-11-27 20:19] ThomasKranitsas commented on #1307
@Gauravseta your solution is not working simply because the API endpoint you're calling doesn't exist.

This will require backend changes before it works.

Did you try if you can set the photo to `null` or `undefined` using the `PUT /members/{handle}/photo` endpoint?

[2018-11-28 12:38] #1660 closed

[2018-11-28 12:39] ThomasKranitsas commented on #1660
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072312<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-11-28 13:43] kkartunov commented on #1724
Yes. Better said: to each default theme of component

It will need to implement a default theme

[2018-11-30 09:50] m-yadav opened #1774 "Private community members receiving public community submission link"
**Describe the bug**
Members of private community are facing issues while accessing the submission link via public topcoder link. Example : Topgear members receive submission links pointing to public platform (https:://www.topcoder.com/challenges/<<challengeID>challengeID>/submit/) instead of  community specific (https:://topggear.topcoder.com/challenges/<<challengeID>challengeID>/submit/) link. T

[2018-11-30 10:14] m-yadav opened #1775 "[$50]Submission Page issue"
**Describe the bug**
Community specific users when land to public domain topcoder.com for submission, the submission page keeps on showing a revolving circle instead of space for uploading the .zip submission.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/challenges/30074795/submit'
2. You'll see a revolving circle in place of space for browsing the .zip fil

[2018-11-30 10:15] RiteshTC commented on #1775
@cwdcwd @sushilshinde

[2018-11-30 10:16] RiteshTC commented on #1774
@cwdcwd @sushilshinde

[2018-12-03 08:53] sushilshinde opened #1778 "[$40]Fix score display issues | branch v4-merge-develop-base"
Repo - https://github.com/topcoder-platform/community-app/tree/v4-merge-develop-base

For Past MM Challenges(https://beta-community-app.topcoder.com/challenges/17338)
http://api.topcoder.com/v4/challenges/17338

that means isMM === true

![screen shot 2018-12-03 at 6 13 10 pm](https://user-images.githubusercontent.com/683231/49374387-2a48cf00-f727-11e8-8b03-eee2484fd2b0.png)

**Nothing should chan

[2018-12-03 09:14] sushilshinde commented on #1778
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-12-03 09:18] ThomasKranitsas commented on #1778
Contest https://www.topcoder.com/challenges/30075776 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-03 09:19] ThomasKranitsas commented on #1778
Contest https://www.topcoder.com/challenges/30075776 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-03 09:19] ThomasKranitsas commented on #1778
Contest https://www.topcoder.com/challenges/30075776 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-03 09:19] ThomasKranitsas commented on #1778
Contest https://www.topcoder.com/challenges/30075776 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-03 09:19] ThomasKranitsas commented on #1778
Contest https://www.topcoder.com/challenges/30075776 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-03 09:19] sushilshinde commented on #1778
@gurmeetb

Added this comment in case you missed

[2018-12-03 09:57] gurmeetb commented on #1778
@sushilshinde thanks, I think I saw that note before. Working on it

[2018-12-03 10:13] gurmeetb commented on #1778
@sushilshinde is there any specific challenge I can use in dev env or will need to use prod env for testing ?

[2018-12-03 10:32] gurmeetb commented on #1778
Also what should we show for other than MM - leave the same scores ?