[2019-07-18 18:10] r0hit-gupta commented on #2746
Please assign me

[2019-07-18 18:19] r0hit-gupta commented on #2757
Please assign me

[2019-07-18 18:19] romitgit commented on #2893
Where is the invitation?

[2019-07-18 18:21] veshu commented on #2893
@romitgit Can you please check your email with subject "has invited you to join the @topcoder-platform organ"

[2019-07-18 18:21] r0hit-gupta commented on #2753
Please assign me

[2019-07-18 18:22] cwdcwd commented on #2757
Contest https://www.topcoder.com/challenges/30096155 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 18:22] cwdcwd commented on #2753
Contest https://www.topcoder.com/challenges/30096079 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 18:35] PrakashDurlabhji commented on #2871
@veshu it requires change on another repo, topcoder-react-ui-kit.

PR for same https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/7

[2019-07-18 18:38] cwdcwd commented on #2908
Contest https://www.topcoder.com/challenges/30095968 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 18:40] r0hit-gupta commented on #2821
Please assign me

[2019-07-18 18:44] cwdcwd commented on #2821
Contest https://www.topcoder.com/challenges/30096002 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 18:44] PrakashDurlabhji commented on #2908
@veshu PR https://github.com/topcoder-platform/community-app/pull/2941

[2019-07-18 18:46] r0hit-gupta commented on #2808
Please assign me

[2019-07-18 18:47] Oanh-and-only-Oanh commented on #2808
@r0hit-gupta , please make sure you're finishing the other tickets before working on others :)

[2019-07-18 18:48] cwdcwd commented on #2754
Contest https://www.topcoder.com/challenges/30096077 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 18:49] r0hit-gupta commented on #2808
@Oanh-and-only-Oanh yes. I am finishing every ticket and then moving on to the next. :)

[2019-07-18 18:55] r0hit-gupta commented on #2808
@Oanh-and-only-Oanh this was by mistake. Please add open for pickup label.

[2019-07-18 18:58] PrakashDurlabhji commented on #2754
@veshu PR https://github.com/topcoder-platform/community-app/pull/2943

[2019-07-18 18:59] romitgit commented on #2748
Please assign this to me.

[2019-07-18 19:02] r0hit-gupta commented on #2748
@romitgit I have already submitted the PR

[2019-07-18 19:02] r0hit-gupta commented on #2804
Please assign me

[2019-07-18 19:03] cwdcwd commented on #2835
Contest https://www.topcoder.com/challenges/30096047 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 19:04] romitgit commented on #2744
Please assign this to me.

[2019-07-18 19:06] r0hit-gupta commented on #2796
Please assign me

[2019-07-18 19:09] cwdcwd commented on #2744
@romitgit, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 19:15] cwdcwd commented on #2744
[500]: Challenge for the updated issue 2744 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 19:17] cwdcwd commented on #2744
@romitgit, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 19:18] PrakashDurlabhji commented on #2835
@veshu PR https://github.com/topcoder-platform/community-app/pull/2945

[2019-07-18 19:19] r0hit-gupta commented on #2829
Please assign me

[2019-07-18 19:19] romitgit commented on #2744
I'm not able to assign this.

[2019-07-18 19:19] romitgit commented on #2744
Please help.

[2019-07-18 19:23] cwdcwd commented on #2744
[500]: Challenge for the updated issue 2744 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 19:27] cwdcwd commented on #2810
Contest https://www.topcoder.com/challenges/30096053 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 19:35] cwdcwd commented on #2744
[500]: Challenge for the updated issue 2744 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 19:36] PrakashDurlabhji commented on #2810
@veshu I doubt it can be achieved as read the official docs of react-dates.
those are hardcoded strings and there is no way given to send custom text to it.

waiting for your feedback?

[2019-07-18 19:37] cwdcwd commented on #2743
Contest https://www.topcoder.com/challenges/30096154 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 19:39] PrakashDurlabhji commented on #2810
@veshu till then taking another issue

[2019-07-18 19:46] r0hit-gupta commented on #2822
Please assign me

[2019-07-18 19:50] cwdcwd commented on #2744
[500]: Challenge for the updated issue 2744 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 19:50] PrakashDurlabhji commented on #2809
@Oanh-and-only-Oanh @veshu can i get this? is it open or nahid will update on it? i wanted to try this one

[2019-07-18 19:50] cwdcwd commented on #2744
[500]: Challenge for the updated issue 2744 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 19:51] cwdcwd commented on #2796
Contest https://www.topcoder.com/challenges/30096075 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:02] cwdcwd commented on #2789
Contest https://www.topcoder.com/challenges/30096065 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:05] cwdcwd commented on #2906
Contest https://www.topcoder.com/challenges/30096227 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:05] cwdcwd commented on #2906
Contest https://www.topcoder.com/challenges/30096227 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:07] cwdcwd commented on #2744
[500]: Challenge for the updated issue 2744 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:15] cwdcwd commented on #2905
Contest https://www.topcoder.com/challenges/30096230 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:15] cwdcwd commented on #2905
Contest https://www.topcoder.com/challenges/30096230 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:18] cwdcwd commented on #2828
Contest https://www.topcoder.com/challenges/30095960 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:18] cwdcwd commented on #2904
Contest https://www.topcoder.com/challenges/30096231 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:18] cwdcwd commented on #2904
Contest https://www.topcoder.com/challenges/30096231 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:24] cwdcwd commented on #2899
Contest https://www.topcoder.com/challenges/30096232 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:24] cwdcwd commented on #2899
Contest https://www.topcoder.com/challenges/30096232 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:30] PrakashDurlabhji commented on #2828
@veshu PR https://github.com/topcoder-platform/community-app/pull/2949

[2019-07-18 20:33] cwdcwd commented on #2826
Contest https://www.topcoder.com/challenges/30095995 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:34] cwdcwd commented on #2898
Contest https://www.topcoder.com/challenges/30096233 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:34] cwdcwd commented on #2898
Contest https://www.topcoder.com/challenges/30096233 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:41] cwdcwd commented on #2897
Contest https://www.topcoder.com/challenges/30096234 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:41] cwdcwd commented on #2897
Contest https://www.topcoder.com/challenges/30096234 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:51] cwdcwd commented on #2881
Contest https://www.topcoder.com/challenges/30096020 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:51] cwdcwd commented on #2896
Contest https://www.topcoder.com/challenges/30096235 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 20:51] cwdcwd commented on #2896
Contest https://www.topcoder.com/challenges/30096235 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:00] cwdcwd commented on #2877
Contest https://www.topcoder.com/challenges/30096236 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:00] cwdcwd commented on #2877
Contest https://www.topcoder.com/challenges/30096236 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:02] cwdcwd commented on #2895
Contest https://www.topcoder.com/challenges/30096237 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:02] cwdcwd commented on #2895
Contest https://www.topcoder.com/challenges/30096237 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:03] cwdcwd commented on #2888
Contest https://www.topcoder.com/challenges/30096239 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:03] cwdcwd commented on #2888
Contest https://www.topcoder.com/challenges/30096239 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:06] cwdcwd commented on #2885
Contest https://www.topcoder.com/challenges/30096241 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:06] cwdcwd commented on #2885
Contest https://www.topcoder.com/challenges/30096241 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:09] cwdcwd commented on #2886
Contest https://www.topcoder.com/challenges/30096244 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:10] cwdcwd commented on #2886
Contest https://www.topcoder.com/challenges/30096244 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:11] cwdcwd commented on #2912
Contest https://www.topcoder.com/challenges/30096243 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:12] cwdcwd commented on #2883
Contest https://www.topcoder.com/challenges/30096245 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:12] cwdcwd commented on #2879
Contest https://www.topcoder.com/challenges/30096246 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:12] cwdcwd commented on #2879
Contest https://www.topcoder.com/challenges/30096246 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:14] cwdcwd commented on #2883
Contest https://www.topcoder.com/challenges/30096245 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:15] cwdcwd commented on #2878
Contest https://www.topcoder.com/challenges/30096247 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:15] cwdcwd commented on #2878
Contest https://www.topcoder.com/challenges/30096247 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:20] cwdcwd commented on #2875
Contest https://www.topcoder.com/challenges/30096248 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:20] cwdcwd commented on #2875
Contest https://www.topcoder.com/challenges/30096248 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:21] PrakashDurlabhji commented on #2826
@veshu kindly read description in PR. thankyou
https://github.com/topcoder-platform/topcoder-react-utils/pull/35

[2019-07-18 21:21] cwdcwd commented on #2870
Contest https://www.topcoder.com/challenges/30096249 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:21] cwdcwd commented on #2870
Contest https://www.topcoder.com/challenges/30096249 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:24] cwdcwd commented on #2868
Contest https://www.topcoder.com/challenges/30096252 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:24] cwdcwd commented on #2868
Contest https://www.topcoder.com/challenges/30096252 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:27] cwdcwd commented on #2883
Contest https://www.topcoder.com/challenges/30096245 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:30] cwdcwd commented on #2866
Contest https://www.topcoder.com/challenges/30096256 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:30] cwdcwd commented on #2866
Contest https://www.topcoder.com/challenges/30096256 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:34] PrakashDurlabhji commented on #2883
@mishacucicea can you please tell where does this page comes from?

because it is not found in community-app repo, this page is somewhere else and then after succefull authentication we redirect

[2019-07-18 21:35] cwdcwd commented on #2862
Contest https://www.topcoder.com/challenges/30096257 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:35] cwdcwd commented on #2862
Contest https://www.topcoder.com/challenges/30096257 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:38] cwdcwd commented on #2861
Contest https://www.topcoder.com/challenges/30096258 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:39] cwdcwd commented on #2861
Contest https://www.topcoder.com/challenges/30096258 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:39] cwdcwd commented on #2886
Contest https://www.topcoder.com/challenges/30096244 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:41] cwdcwd commented on #2860
Contest https://www.topcoder.com/challenges/30096259 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:41] cwdcwd commented on #2860
Contest https://www.topcoder.com/challenges/30096259 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:45] cwdcwd commented on #2859
Contest https://www.topcoder.com/challenges/30096261 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:45] cwdcwd commented on #2859
Contest https://www.topcoder.com/challenges/30096261 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:46] PrakashDurlabhji commented on #2886
@veshu PR https://github.com/topcoder-platform/community-app/pull/2950

[2019-07-18 21:50] cwdcwd commented on #2885
Contest https://www.topcoder.com/challenges/30096241 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 21:56] PrakashDurlabhji commented on #2885
@veshu PR https://github.com/topcoder-platform/community-app/pull/2951

[2019-07-18 22:07] cwdcwd commented on #2786
Contest https://www.topcoder.com/challenges/30096068 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 22:13] cwdcwd commented on #2748
Contest https://www.topcoder.com/challenges/30096114 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 22:32] cwdcwd commented on #2809
Contest https://www.topcoder.com/challenges/30096046 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 22:33] cwdcwd commented on #2822
Contest https://www.topcoder.com/challenges/30096000 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 22:33] PrakashDurlabhji commented on #2786
@veshu PR https://github.com/topcoder-platform/community-app/pull/2952

[2019-07-18 22:34] cwdcwd commented on #2829
Contest https://www.topcoder.com/challenges/30095994 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 22:44] PrakashDurlabhji commented on #2809
@veshu PR https://github.com/topcoder-platform/topcoder-react-utils/pull/36

[2019-07-18 22:46] cwdcwd commented on #2817
Contest https://www.topcoder.com/challenges/30096043 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 22:46] cwdcwd commented on #2857
Contest https://www.topcoder.com/challenges/30096264 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 22:46] cwdcwd commented on #2857
Contest https://www.topcoder.com/challenges/30096264 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 22:57] cwdcwd commented on #2858
Contest https://www.topcoder.com/challenges/30096265 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 22:57] cwdcwd commented on #2858
Contest https://www.topcoder.com/challenges/30096265 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 22:59] rashmi73 commented on #2907
@Oanh-and-only-Oanh ready https://github.com/topcoder-platform/community-app/pull/2953

[2019-07-18 23:00] rashmi73 commented on #2696
@sushilshinde can we close this now?

[2019-07-18 23:00] cwdcwd commented on #2834
Contest https://www.topcoder.com/challenges/30096266 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:00] cwdcwd commented on #2834
Contest https://www.topcoder.com/challenges/30096266 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:02] mishacucicea commented on #2851
The fields have placeholders, which are getting read, so not sure if we need to change the approach. @Oanh-and-only-Oanh?

[2019-07-18 23:03] cwdcwd commented on #2883
Contest https://www.topcoder.com/challenges/30096245 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:03] cwdcwd commented on #2833
Contest https://www.topcoder.com/challenges/30096267 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:03] cwdcwd commented on #2833
Contest https://www.topcoder.com/challenges/30096267 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:05] cwdcwd commented on #2827
Contest https://www.topcoder.com/challenges/30096268 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:05] cwdcwd commented on #2827
Contest https://www.topcoder.com/challenges/30096268 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:07] cwdcwd commented on #2818
Contest https://www.topcoder.com/challenges/30096042 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:07] cwdcwd commented on #2815
Contest https://www.topcoder.com/challenges/30096269 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:07] cwdcwd commented on #2815
Contest https://www.topcoder.com/challenges/30096269 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:07] cwdcwd commented on #2814
Contest https://www.topcoder.com/challenges/30096270 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:07] cwdcwd commented on #2814
Contest https://www.topcoder.com/challenges/30096270 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:08] cwdcwd commented on #2815
Contest https://www.topcoder.com/challenges/30096269 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:11] cwdcwd commented on #2813
Contest https://www.topcoder.com/challenges/30096271 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:11] cwdcwd commented on #2813
Contest https://www.topcoder.com/challenges/30096271 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:13] cwdcwd commented on #2812
Contest https://www.topcoder.com/challenges/30096272 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:13] cwdcwd commented on #2812
Contest https://www.topcoder.com/challenges/30096272 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:14] cwdcwd commented on #2800
Contest https://www.topcoder.com/challenges/30096273 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:14] cwdcwd commented on #2800
Contest https://www.topcoder.com/challenges/30096273 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:16] PrakashDurlabhji commented on #2883
@veshu @mishacucicea PR https://github.com/appirio-tech/accounts-app/pull/221

[2019-07-18 23:17] cwdcwd commented on #2798
Contest https://www.topcoder.com/challenges/30096274 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:17] cwdcwd commented on #2798
Contest https://www.topcoder.com/challenges/30096274 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:18] cwdcwd commented on #2904
Contest https://www.topcoder.com/challenges/30096231 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:18] mishacucicea commented on #2793
seems duplicate of #2834

[2019-07-18 23:18] cwdcwd commented on #2795
Contest https://www.topcoder.com/challenges/30096275 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:18] cwdcwd commented on #2795
Contest https://www.topcoder.com/challenges/30096275 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:25] PrakashDurlabhji commented on #2904
@veshu PR https://github.com/appirio-tech/accounts-app/pull/222

[2019-07-18 23:26] cwdcwd commented on #2792
Contest https://www.topcoder.com/challenges/30096276 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:26] cwdcwd commented on #2792
Contest https://www.topcoder.com/challenges/30096276 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:26] cwdcwd commented on #2791
Contest https://www.topcoder.com/challenges/30096277 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:27] cwdcwd commented on #2791
Contest https://www.topcoder.com/challenges/30096277 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:31] cwdcwd commented on #2787
Contest https://www.topcoder.com/challenges/30096279 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:31] cwdcwd commented on #2788
Contest https://www.topcoder.com/challenges/30096278 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:31] cwdcwd commented on #2787
Contest https://www.topcoder.com/challenges/30096279 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:31] cwdcwd commented on #2788
Contest https://www.topcoder.com/challenges/30096278 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:31] cwdcwd commented on #2815
Contest https://www.topcoder.com/challenges/30096269 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:34] cwdcwd commented on #2785
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:34] cwdcwd commented on #2785
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:34] cwdcwd commented on #2784
Contest https://www.topcoder.com/challenges/30096281 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:34] cwdcwd commented on #2784
Contest https://www.topcoder.com/challenges/30096281 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:37] cwdcwd commented on #2783
Contest https://www.topcoder.com/challenges/30096284 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:37] cwdcwd commented on #2783
Contest https://www.topcoder.com/challenges/30096284 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:37] PrakashDurlabhji commented on #2815
@veshu PR https://github.com/appirio-tech/accounts-app/pull/223

[2019-07-18 23:39] mishacucicea commented on #2779
might be fixed by #2783

[2019-07-18 23:40] cwdcwd commented on #2781
Contest https://www.topcoder.com/challenges/30096287 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:40] cwdcwd commented on #2781
Contest https://www.topcoder.com/challenges/30096287 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:42] cwdcwd commented on #2782
Contest https://www.topcoder.com/challenges/30096289 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:42] cwdcwd commented on #2782
Contest https://www.topcoder.com/challenges/30096289 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:44] cwdcwd commented on #2776
Contest https://www.topcoder.com/challenges/30096293 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:44] cwdcwd commented on #2776
Contest https://www.topcoder.com/challenges/30096293 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:44] cwdcwd commented on #2778
Contest https://www.topcoder.com/challenges/30096291 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:44] cwdcwd commented on #2780
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:44] cwdcwd commented on #2780
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:44] cwdcwd commented on #2777
Contest https://www.topcoder.com/challenges/30096292 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:44] cwdcwd commented on #2778
Contest https://www.topcoder.com/challenges/30096291 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:44] cwdcwd commented on #2777
Contest https://www.topcoder.com/challenges/30096292 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:44] cwdcwd commented on #2785
Contest https://www.topcoder.com/challenges/30096296 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:44] cwdcwd commented on #2785
Contest https://www.topcoder.com/challenges/30096296 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:46] cwdcwd commented on #2791
Contest https://www.topcoder.com/challenges/30096277 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:46] mishacucicea commented on #2761
The placeholders are in place of labels. Introducing labels, might change the design of the page.

[2019-07-18 23:46] cwdcwd commented on #2767
Contest https://www.topcoder.com/challenges/30096300 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:47] cwdcwd commented on #2767
Contest https://www.topcoder.com/challenges/30096300 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:47] cwdcwd commented on #2772
Contest https://www.topcoder.com/challenges/30096298 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:47] cwdcwd commented on #2772
Contest https://www.topcoder.com/challenges/30096298 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:48] PrakashDurlabhji commented on #2791
@veshu PR https://github.com/appirio-tech/accounts-app/pull/224

[2019-07-18 23:49] cwdcwd commented on #2780
[500]: Challenge for the updated issue 2780 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:49] cwdcwd commented on #2780
[500]: Challenge for the updated issue 2780 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:50] cwdcwd commented on #2768
[500]: Challenge for the updated issue 2768 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:50] cwdcwd commented on #2768
[500]: Challenge for the updated issue 2768 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:50] PrakashDurlabhji commented on #2764
@mishacucicea one of my PR fixes this. hence taking it too myself. thank you

[2019-07-18 23:51] mishacucicea commented on #2758
Will be fixed by #2772.

[2019-07-18 23:51] cwdcwd commented on #2780
Contest https://www.topcoder.com/challenges/30096304 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:52] cwdcwd commented on #2767
Contest https://www.topcoder.com/challenges/30096300 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:52] cwdcwd commented on #2760
Contest https://www.topcoder.com/challenges/30096306 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:52] cwdcwd commented on #2760
Contest https://www.topcoder.com/challenges/30096306 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:55] cwdcwd commented on #2768
[500]: Challenge for the updated issue 2768 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:55] cwdcwd commented on #2768
[500]: Challenge for the updated issue 2768 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:55] mishacucicea commented on #2769
This is debatable, no script is good in case javascript is disabled.

[2019-07-18 23:55] cwdcwd commented on #2764
[500]: Challenge for the updated issue 2764 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:55] cwdcwd commented on #2764
[500]: Challenge for the updated issue 2764 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:55] cwdcwd commented on #2764
[504]: Failed to create challenge.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:55] cwdcwd commented on #2764
[504]: Failed to create challenge.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:56] cwdcwd commented on #2762
[500]: Challenge for the updated issue 2762 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:56] cwdcwd commented on #2762
[500]: Challenge for the updated issue 2762 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:56] cwdcwd commented on #2774
Contest https://www.topcoder.com/challenges/30096312 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:56] cwdcwd commented on #2762
[504]: Failed to create challenge.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:56] cwdcwd commented on #2762
[504]: Failed to create challenge.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:56] cwdcwd commented on #2774
Contest https://www.topcoder.com/challenges/30096312 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:57] cwdcwd commented on #2764
[500]: Challenge for the updated issue 2764 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:57] cwdcwd commented on #2764
[500]: Challenge for the updated issue 2764 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:57] cwdcwd commented on #2764
[500]: Challenge for the updated issue 2764 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:57] cwdcwd commented on #2773
Contest https://www.topcoder.com/challenges/30096314 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:57] cwdcwd commented on #2773
Contest https://www.topcoder.com/challenges/30096314 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:58] Oanh-and-only-Oanh commented on #2755
@r0hit-gupta, please update your tickets with "tcx_readyforreview label if it's ready. thanks

[2019-07-18 23:58] cwdcwd commented on #2770
[504]: Failed to create challenge.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:58] cwdcwd commented on #2770
[504]: Failed to create challenge.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:58] cwdcwd commented on #2771
Contest https://www.topcoder.com/challenges/30096316 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:59] cwdcwd commented on #2771
Contest https://www.topcoder.com/challenges/30096316 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:59] cwdcwd commented on #2775
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 23:59] cwdcwd commented on #2775
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:01] cwdcwd commented on #2738
Contest https://www.topcoder.com/challenges/30096320 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:02] cwdcwd commented on #2764
[504]: Failed to create challenge.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:02] cwdcwd commented on #2764
[504]: Failed to create challenge.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:02] cwdcwd commented on #2738
Contest https://www.topcoder.com/challenges/30096320 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:03] cwdcwd commented on #2763
[500]: Challenge for the updated issue 2763 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:03] cwdcwd commented on #2763
[500]: Challenge for the updated issue 2763 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:05] PrakashDurlabhji commented on #2767
@veshu PR https://github.com/appirio-tech/accounts-app/pull/225

[2019-07-19 00:07] cwdcwd commented on #2766
[500]: Challenge for the updated issue 2766 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:07] cwdcwd commented on #2766
[500]: Challenge for the updated issue 2766 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:07] cwdcwd commented on #2766
[504]: Failed to create challenge.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:07] cwdcwd commented on #2766
[504]: Failed to create challenge.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:08] cwdcwd commented on #2763
[500]: Challenge for the updated issue 2763 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:08] cwdcwd commented on #2763
[500]: Challenge for the updated issue 2763 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:13] cwdcwd commented on #2766
Contest https://www.topcoder.com/challenges/30096330 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:13] cwdcwd commented on #2766
Contest https://www.topcoder.com/challenges/30096330 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:16] PrakashDurlabhji commented on #2770
@veshu PR https://github.com/appirio-tech/accounts-app/pull/226

[2019-07-19 00:16] cwdcwd commented on #2770
[500]: Challenge for the updated issue 2770 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:17] cwdcwd commented on #2775
Contest https://www.topcoder.com/challenges/30096331 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:17] cwdcwd commented on #2775
Contest https://www.topcoder.com/challenges/30096331 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:19] cwdcwd commented on #2770
Contest https://www.topcoder.com/challenges/30096332 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:19] cwdcwd commented on #2770
Contest https://www.topcoder.com/challenges/30096332 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:19] cwdcwd commented on #2776
Contest https://www.topcoder.com/challenges/30096293 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:21] PrakashDurlabhji commented on #2776
@veshu PR https://github.com/appirio-tech/accounts-app/pull/227

[2019-07-19 00:24] cwdcwd commented on #2778
Contest https://www.topcoder.com/challenges/30096291 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:28] PrakashDurlabhji commented on #2778
@veshu PR https://github.com/appirio-tech/accounts-app/pull/221 handles this too

[2019-07-19 00:34] cwdcwd commented on #2762
Contest https://www.topcoder.com/challenges/30096333 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:34] cwdcwd commented on #2762
Contest https://www.topcoder.com/challenges/30096333 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:35] PrakashDurlabhji commented on #2762
@veshu PR https://github.com/appirio-tech/accounts-app/pull/228

[2019-07-19 00:40] PrakashDurlabhji commented on #2774
@veshu this has been taken care in one of my PR, hence marking ready

[2019-07-19 00:40] cwdcwd commented on #2774
Contest https://www.topcoder.com/challenges/30096312 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:46] cwdcwd commented on #2768
Contest https://www.topcoder.com/challenges/30096334 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:46] cwdcwd commented on #2768
Contest https://www.topcoder.com/challenges/30096334 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:47] PrakashDurlabhji commented on #2768
@veshu PR https://github.com/appirio-tech/accounts-app/pull/229

[2019-07-19 00:51] cwdcwd commented on #2777
Contest https://www.topcoder.com/challenges/30096292 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 00:51] PrakashDurlabhji commented on #2777
@veshu this PR covers it https://github.com/appirio-tech/accounts-app/pull/226

[2019-07-19 00:55] cwdcwd commented on #2743
Contest https://www.topcoder.com/challenges/30096154 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 01:00] PrakashDurlabhji commented on #2743
@veshu PR https://github.com/topcoder-platform/community-app/pull/2957

[2019-07-19 01:13] cwdcwd commented on #2764
Contest https://www.topcoder.com/challenges/30096335 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 01:42] cwdcwd commented on #2819
Contest https://www.topcoder.com/challenges/30096018 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 03:44] dzanchett commented on #2906
@veshu PR https://github.com/appirio-tech/accounts-app/pull/230

[2019-07-19 04:38] cwdcwd commented on #2877
Contest https://www.topcoder.com/challenges/30096236 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 05:47] cwdcwd commented on #2906
Contest https://www.topcoder.com/challenges/30096227 has been updated - it has been assigned to paccode.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 05:48] gurmeetb commented on #2906
@dzanchett kindly do not unassign yourself, it helps Topcoder pay you for your work.

[2019-07-19 06:16] veshu commented on #2755
I think he is not able to update the ticket till he comes online I will be making those as ready for review.

[2019-07-19 06:18] veshu commented on #2854
@r0hit-gupta Please fix the https://github.com/topcoder-platform/community-app/pull/2914

[2019-07-19 06:32] sushilshinde opened #2959 "[$160]Blanket Testing Task"
Details :

![For tasks from Sushil - Google Sheets 2019-07-19 12-01-41](https://user-images.githubusercontent.com/683231/61514162-010e5200-aa1d-11e9-81d7-b258e1f89739.png)

See attachment

[tasks from Sushil.xlsx](https://github.com/topcoder-platform/community-app/files/3409760/tasks.from.Sushil.xlsx)

[2019-07-19 06:33] sumitdaga commented on #2772
Please assign this to me!

[2019-07-19 06:36] veshu commented on #2772
@sumitdaga Can you please register here https://www.topcoder.com/challenges/30095935/?type=develop&nocache=true&tab=details and use this link to register https://x.topcoder.com/api/v1/github/teams/registration/462d863d-9f1a-4179-a215-29f71a551e4f-1563464121672

[2019-07-19 06:37] cwdcwd commented on #2772
Contest https://www.topcoder.com/challenges/30096298 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 06:38] cwdcwd commented on #2959
Contest https://www.topcoder.com/challenges/30096343 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 06:38] cwdcwd commented on #2959
Contest https://www.topcoder.com/challenges/30096343 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 06:39] sushilshinde commented on #2959
Thanks @nithyaasworld

[2019-07-19 06:39] sumitdaga commented on #2772
@veshu
i have done both, but i still need to be added to some group i guess, i cannot modify labels on issues, etc
thanks

[2019-07-19 07:06] r0hit-gupta commented on #2755
@Oanh-and-only-Oanh @veshu I am unable to assign myself or change labels. What should I do?

[2019-07-19 07:08] veshu commented on #2755
@r0hit-gupta Can you please register here https://www.topcoder.com/challenges/30095935/?type=develop&nocache=true&tab=details and then use this link to register https://x.topcoder.com/api/v1/github/teams/registration/462d863d-9f1a-4179-a215-29f71a551e4f-1563464121672

[2019-07-19 07:12] sumitdaga commented on #2772
PR at https://github.com/appirio-tech/accounts-app/pull/231

[2019-07-19 07:15] r0hit-gupta commented on #2755
Still receiving `{"version":"v3","result":{"success":false,"status":403,"content":{"message":"Failed to authenticate token."}}}` :(

[2019-07-19 07:29] r0hit-gupta commented on #2876
Please assign me

[2019-07-19 07:32] r0hit-gupta commented on #2854
@veshu done.

[2019-07-19 07:37] veshu commented on #2915
@topcoder-platform/topcodercompetitors

Please follow the bug bash rule. One of issue we are seeing is "Pull requests are not passing automated tests"
PR needs to pass all tests and lint issues before picking next ticket.

Thanks for cooperation.

[2019-07-19 08:14] cwdcwd commented on #2889
Contest https://www.topcoder.com/challenges/30096023 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 08:14] sumitdaga commented on #2889
@veshu
i cannot reproduce this issue, can you give an example when it does not work!

[2019-07-19 08:28] cwdcwd commented on #2876
Contest https://www.topcoder.com/challenges/30096169 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 08:34] r0hit-gupta commented on #2759
Please assign me

[2019-07-19 08:36] cwdcwd commented on #2759
Contest https://www.topcoder.com/challenges/30096071 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 08:45] veshu commented on #2889
@sumitdaga Are you using this tool https://www.nvaccess.org/?

[2019-07-19 08:51] sumitdaga commented on #2889
@veshu no i am using the [narrator](https://support.microsoft.com/en-in/help/22798/windows-10-complete-guide-to-narrator) app that comes with windows 10

[2019-07-19 08:56] veshu commented on #2889
@sumitdaga This was raised using [NVD] tool. Some member has used title to define the tool they have used. Please check with NVD once, it must be replicable. Else we can ask QA reviewer to confirm.

Have you checked the video in attachment? It is reading improperly.

[2019-07-19 09:14] r0hit-gupta commented on #2794
Please assign me

[2019-07-19 09:16] r0hit-gupta commented on #2794
PR at https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/8

[2019-07-19 09:21] r0hit-gupta commented on #2796
Please assign me

[2019-07-19 09:23] r0hit-gupta commented on #2796
PR at https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/9

[2019-07-19 09:24] gurmeetb commented on #2854
@r0hit-gupta we will need a new PR for this, using `qa-accessibility` as base. I changed the base on PR and see huge lot of changes.

[2019-07-19 09:25] r0hit-gupta commented on #2854
@gurmeetb sure. Working on it

[2019-07-19 09:31] sumitdaga commented on #2889
@veshu  i think i don't have access to the attachment video!
but i used the NVD tool and it seems to read the correct amount

[2019-07-19 09:31] r0hit-gupta commented on #2854
New PR #2964

[2019-07-19 09:48] veshu commented on #2889
@sumitdaga https://apps.topcoder.com/forums/?module=Thread&threadID=940852&start=0

There are credentials shared for one drive.

The issue is it is not reading correctly. like it should be able read as "First prize is $1000, second prize 500" on hover but it said "one $1000, 2 500". Please check the video.

Regarding assignment yes you can pick another. I will get confirm with QA member till. Than

[2019-07-19 09:52] veshu commented on #2889
@drasticdpk @tosha5252 Can you please check if above issue is replicable or not.

[2019-07-19 10:40] cwdcwd commented on #2796
Contest https://www.topcoder.com/challenges/30096075 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 10:40] cwdcwd commented on #2794
Contest https://www.topcoder.com/challenges/30096015 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 10:49] mishacucicea commented on #2915
@topcoder-platform/topcodercompetitors
For the issues labeled with Login/Registration the repo to use is  https://github.com/appirio-tech/accounts-app and the `qa-accessibility` branch.
Existing PRs to the `dev` branch need to be recreated. I'm apologize for the inconvenience.

[2019-07-19 10:52] sumitdaga commented on #2915
@mishacucicea
is it ok to just change the base branch ?
it seems ok in my case https://github.com/appirio-tech/accounts-app/pull/231
let me know if i should create a new PR?

[2019-07-19 10:54] mishacucicea commented on #2915
@sumitdaga It's perfect. The `dev` and `qa-accessibility` are basically the same, but we want to keep track of these items separately.

[2019-07-19 10:59] cwdcwd commented on #2782
Contest https://www.topcoder.com/challenges/30096289 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 11:02] cwdcwd commented on #2896
Contest https://www.topcoder.com/challenges/30096235 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 11:14] sumitdaga commented on #2782
PR at https://github.com/appirio-tech/accounts-app/pull/232

[2019-07-19 11:24] r0hit-gupta commented on #2808
Please assign me

[2019-07-19 11:25] r0hit-gupta commented on #2808
PR at https://github.com/topcoder-platform/topcoder-react-utils/pull/37

[2019-07-19 11:56] PrakashDurlabhji commented on #2786
@gurmeetb new PR https://github.com/topcoder-platform/community-app/pull/2965

[2019-07-19 12:02] gurmeetb commented on #2786
@PrakashDurlabhji the tests are still failing. Please make sure you mark `tcx_ReadyForReview` only when tests and lint issues pass as mentioned in Bug Bash rule - https://github.com/topcoder-platform/community-app/issues/2915

[2019-07-19 12:05] nahidshahin commented on #2896
PR https://github.com/appirio-tech/accounts-app/pull/233

[2019-07-19 12:14] cwdcwd commented on #2853
Contest https://www.topcoder.com/challenges/30095989 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 12:28] nahidshahin commented on #2853
@cwdcwd we need 2 PRs https://github.com/appirio-tech/accounts-app/pull/234 & https://github.com/topcoder-platform/community-app/pull/2966

[2019-07-19 12:35] r0hit-gupta commented on #2905
Please assign me

[2019-07-19 12:37] r0hit-gupta commented on #2905
PR at https://github.com/appirio-tech/accounts-app/pull/235

[2019-07-19 12:48] cwdcwd commented on #2905
Contest https://www.topcoder.com/challenges/30096230 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 13:12] r0hit-gupta commented on #2888
Please assign me

[2019-07-19 13:13] r0hit-gupta commented on #2888
PR at https://github.com/appirio-tech/accounts-app/pull/236

[2019-07-19 13:13] veshu commented on #2915
@topcoder-platform/topcodercompetitors

For contrast related issues, please get help from @Dara-K for selecting the correct color(if color is branding colors of topcoder, e.g. member rating, theme colors)

[2019-07-19 13:14] cwdcwd commented on #2888
Contest https://www.topcoder.com/challenges/30096239 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 13:15] veshu commented on #2888
@r0hit-gupta I hope you are passing minimum AA WCAG level of contrast ratio

[2019-07-19 13:18] veshu commented on #2915
@topcoder-platform/topcodercompetitors

Please note that we are targeting minimum **WCAG level AA**

[2019-07-19 14:02] Dara-K commented on #2905
@r0hit-gupta Kindly use #df1e07 for the red error

[2019-07-19 14:17] benoitrion commented on #2912
@cwdcwd Hi, how can I access the screenshot inside the sharepoint ?
It seems that my outlook account needs to be added.

[2019-07-19 14:23] codeMinter commented on #2915
Steps to run the app locally (will help if this is your first time working on this repo):
[code]

[2019-07-19 14:29] cwdcwd commented on #2859
Contest https://www.topcoder.com/challenges/30096261 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 14:52] vl-ti commented on #2764
Could you please specify PR number? Thank you.

[2019-07-19 15:23] benoitrion commented on #2912
@cwdcwd @veshu Is the registration page code inside community-app ? I can't find anything inside the code base.

[2019-07-19 15:26] PrakashDurlabhji commented on #2886
@gurmeetb PR updated

[2019-07-19 15:30] codeMinter commented on #2886
@PrakashDurlabhji will check in sometime.

[2019-07-19 15:49] PrakashDurlabhji commented on #2885
@codeMinter new PR  and new PR raised at topcoder-react-ui-kit

https://github.com/topcoder-platform/community-app/pull/2968

https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/10

[2019-07-19 16:11] cwdcwd commented on #2890
Contest https://www.topcoder.com/challenges/30095985 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 16:18] PrakashDurlabhji commented on #2890
@codeMinter PR at topcoder-react-utils https://github.com/topcoder-platform/topcoder-react-utils/pull/38

[2019-07-19 16:21] Dara-K commented on #2907
@rashmi73 I am late to the party, but please use the #006AD7 for the button color. This will be the new blue color for all our main buttons.

[2019-07-19 16:32] rashmi73 commented on #2907
@Dara-K  sure

[2019-07-19 16:37] cwdcwd commented on #2892
Contest https://www.topcoder.com/challenges/30096038 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 16:46] PrakashDurlabhji commented on #2764
@codeMinter @vl-ti following is PR which solves it:

https://github.com/topcoder-platform/community-app/pull/2943

[2019-07-19 16:52] PrakashDurlabhji commented on #2754
@codeMinter request you to review my PR of this issue first because it covers everything and also my commit was before @gets0ul commit for the issue https://github.com/topcoder-platform/community-app/issues/2818 and PR which getsoul raised was https://github.com/topcoder-platform/community-app/pull/2955

ideally issue which getsoul took shall be given to me as approached he used is same as mine th

[2019-07-19 17:05] r0hit-gupta commented on #2888
@veshu yes I am passing the minimum AA WCAG level of contrast ratio

[2019-07-19 17:32] PrakashDurlabhji commented on #2892
@codeMinter PR https://github.com/topcoder-platform/community-app/pull/2969

[2019-07-19 17:37] veshu commented on #2888
Thanks now you should be able to assign and update label. Could you please check and let me know

[2019-07-19 17:37] romitgit commented on #2880
PR for this issue : https://github.com/appirio-tech/accounts-app/pull/238

[2019-07-19 17:38] romitgit commented on #2877
PR for this issue : https://github.com/appirio-tech/accounts-app/pull/237

[2019-07-19 17:40] PrakashDurlabhji commented on #2889
@veshu I am able to replicate hence trying to solve it

[2019-07-19 17:41] cwdcwd commented on #2889
Contest https://www.topcoder.com/challenges/30096023 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 17:50] cwdcwd commented on #2812
Contest https://www.topcoder.com/challenges/30096272 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 18:03] romitgit commented on #2812
PR for this issue: https://github.com/appirio-tech/accounts-app/pull/239

[2019-07-19 18:08] cwdcwd commented on #2775
Contest https://www.topcoder.com/challenges/30096331 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 18:16] cwdcwd commented on #2834
Contest https://www.topcoder.com/challenges/30096266 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 18:18] r0hit-gupta commented on #2905
@Dara-K done. PR at https://github.com/appirio-tech/accounts-app/pull/240

[2019-07-19 18:20] r0hit-gupta commented on #2888
@veshu yes it works now. Thanks a lot.

[2019-07-19 18:24] cwdcwd commented on #2910
Contest https://www.topcoder.com/challenges/30095963 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 18:27] marioskranitsas commented on #2859
PR https://github.com/topcoder-platform/community-app/issues/2859

[2019-07-19 18:35] PrakashDurlabhji commented on #2775
@codeMinter PR https://github.com/appirio-tech/accounts-app/pull/242

[2019-07-19 18:39] cwdcwd commented on #2798
Contest https://www.topcoder.com/challenges/30096274 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 18:39] cwdcwd commented on #2833
Contest https://www.topcoder.com/challenges/30096267 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 18:41] r0hit-gupta commented on #2798
PR at https://github.com/appirio-tech/accounts-app/pull/243

[2019-07-19 18:44] cwdcwd commented on #2800
Contest https://www.topcoder.com/challenges/30096273 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 18:44] cwdcwd commented on #2889
Contest https://www.topcoder.com/challenges/30096023 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 18:52] r0hit-gupta commented on #2800
PR at https://github.com/appirio-tech/accounts-app/pull/243

[2019-07-19 18:55] romitgit commented on #2834
PR for this issue : https://github.com/appirio-tech/accounts-app/pull/244

[2019-07-19 19:01] cwdcwd commented on #2740
Contest https://www.topcoder.com/challenges/30096123 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 19:16] cwdcwd commented on #2788
Contest https://www.topcoder.com/challenges/30096278 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 19:18] r0hit-gupta commented on #2788
https://github.com/appirio-tech/accounts-app/pull/245

[2019-07-19 19:32] cwdcwd commented on #2792
Contest https://www.topcoder.com/challenges/30096276 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 19:38] kkartunov opened #2972 "New theme for Contentful tabs"
design https://marvelapp.com/5554efd/screen/59388694/handoff

[2019-07-19 19:39] kkartunov opened #2973 "Theme support for leaderboards"
design https://marvelapp.com/5554efd/screen/59388694/handoff

[2019-07-19 19:40] PrakashDurlabhji commented on #2833
@codeMinter PR  at accounts app https://github.com/appirio-tech/accounts-app/pull/246

[2019-07-19 19:41] kkartunov opened #2974 "Styles support for TCOButton components."
Styles support for TCOButton components

prototype https://github.com/topcoder-platform/topcoder-react-utils/blob/82071f02bdf8f620a32eb0c985ff6b6b20a55cd4/src/shared/components/Button/index.jsx#L61

[2019-07-19 19:46] cwdcwd commented on #2789
Contest https://www.topcoder.com/challenges/30096065 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 19:46] cwdcwd commented on #2814
Contest https://www.topcoder.com/challenges/30096270 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 19:50] r0hit-gupta commented on #2814
PR at https://github.com/appirio-tech/accounts-app/pull/247

[2019-07-19 19:57] PrakashDurlabhji commented on #2789
@codeMinter PR https://github.com/topcoder-platform/community-app/pull/2975

[2019-07-19 20:01] cwdcwd commented on #2875
Contest https://www.topcoder.com/challenges/30096248 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 20:03] r0hit-gupta commented on #2875
https://github.com/appirio-tech/accounts-app/pull/243

[2019-07-19 20:09] cwdcwd commented on #2868
Contest https://www.topcoder.com/challenges/30096252 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 20:32] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 20:34] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 20:34] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 20:34] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 20:38] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 20:38] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 20:40] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 20:40] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 21:49] PrakashDurlabhji commented on #2868
@codeMinter PR https://github.com/appirio-tech/accounts-app/pull/248

[2019-07-19 22:00] cwdcwd commented on #2787
Contest https://www.topcoder.com/challenges/30096279 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 22:01] PrakashDurlabhji commented on #2787
@codeMinter  then what alt text is to be displayed?

[2019-07-19 22:18] rashmi73 commented on #2907
@codeMinter  PR updated https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/11

and new PR https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/11

[2019-07-19 22:36] cwdcwd commented on #2836
Contest https://www.topcoder.com/challenges/30096040 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-19 22:47] cwdcwd commented on #2902
Contest https://www.topcoder.com/challenges/30095970 has been updated - it has been assigned to paccode.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-20 00:03] Dara-K commented on #2858
Please use #006AD7 as the new blue color for the button.

[2019-07-20 00:07] Dara-K commented on #2903
Please use #006AD7 for the button color.

[2019-07-20 00:09] Dara-K commented on #2775
That button is disabled now and will become enabled once the user fills all the fields.

[2019-07-20 00:51] cwdcwd commented on #2887
Contest https://www.topcoder.com/challenges/30096024 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-20 01:13] cwdcwd commented on #2738
Contest https://www.topcoder.com/challenges/30096320 has been updated - it has been assigned to paccode.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-20 02:31] cwdcwd commented on #2771
Contest https://www.topcoder.com/challenges/30096316 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-20 03:55] nahidshahin commented on #2763
PR https://github.com/appirio-tech/accounts-app/pull/249

[2019-07-20 03:58] cwdcwd commented on #2763
Contest https://www.topcoder.com/challenges/30096408 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-20 03:58] cwdcwd commented on #2763
Contest https://www.topcoder.com/challenges/30096408 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-20 03:58] cwdcwd commented on #2763
Contest https://www.topcoder.com/challenges/30096408 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-20 04:05] dzanchett commented on #2906
Sorry, I need to redo the PR to change the base branch `dev`-> `qa-accessibility.
Otherwise old commits were being included.

[2019-07-20 04:56] veshu commented on #2912
@benoitrion Please check https://apps.topcoder.com/forums/?module=Thread&threadID=940852&start=0

[2019-07-20 05:02] veshu commented on #2912
@benoitrion login and registration related code is at https://github.com/appirio-tech/accounts-app

Challenge listing/detail and submission page related code is in this repository.

cc @mishacucicea

[2019-07-20 05:09] veshu commented on #2810
@PrakashDurlabhji Let me get back to you in few minutes.

[2019-07-20 05:29] veshu commented on #2810
This can help https://github.com/airbnb/react-dates/issues/495
All labels are configurable using phrases.

But we are waiting for feedback whether to fix or not please wait till. I will update you once we confirmed. Thanks!

[2019-07-20 05:33] sushilshinde commented on #2810
@PrakashDurlabhji @veshu please go ahead and fix above reference solves the problem

[2019-07-20 07:14] cwdcwd commented on #2899
Contest https://www.topcoder.com/challenges/30096232 has been updated - it has been assigned to nac]-[i.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-20 09:05] sanjaytopcoder opened #2979 "Leaderboard on MM is not showing up for below MM's"
**Describe the bug**
Copilot has done multiple submissions on our below 4 MM's, however leaderboard tab is not visible at all. At manually changing the url to "tab=details", it shows as a blank leaderboard.
For all contest, Copilot has submitted solutions with marathontester 1 and 2, and these submissions are already known to work fine
https://www.topcoder.com/challenges/30095821 temp34
https://ww

[2019-07-20 09:07] sanjaytopcoder commented on #2979
<img width="1199" alt="Screen Shot 2019-07-20 at 2 34 34 PM" src="https://user-images.githubusercontent.com/31354656/61576801-e068f980-aafb-11e9-949a-45cca7e36b5e.png">

[2019-07-20 09:08] sanjaytopcoder commented on #2979
<img width="1338" alt="Screen Shot 2019-07-20 at 2 37 51 PM" src="https://user-images.githubusercontent.com/31354656/61576807-fd9dc800-aafb-11e9-817c-4dda01e8d105.png">

[2019-07-20 11:20] rashmi73 commented on #2696
@nithyaasworld @sushilshinde any updates on this?

[2019-07-20 13:56] rashmi73 commented on #2889
@veshu @codeMinter ready https://github.com/topcoder-platform/community-app/pull/2980

[2019-07-20 13:59] cwdcwd commented on #2858
Contest https://www.topcoder.com/challenges/30096265 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-20 14:03] nithyaasworld commented on #2696
Hey @rashmi73

is the above issue resolved?

[2019-07-20 14:31] dzanchett commented on #2906
@veshu PR appirio-tech/accounts-app#250.

[2019-07-20 14:31] dzanchett commented on #2738
@veshu PR appirio-tech/accounts-app#251

[2019-07-20 16:53] sushilshinde commented on #2599
@codeMinter please deploy on dev env and get help sign off from @nithyaasworld

[2019-07-20 17:06] Dara-K commented on #2904
Please use #006AD7 as the new blue color for the button.

[2019-07-20 17:17] Dara-K commented on #2888
You can use these color updates:
Text link "Forgot your password": #006DEA
Github, Gooogle, Facebook, etc. + "Or LOGIN WITH":  #6B6B6B
Show Button: let’s have a white button, border color #C3C3C8 and text color #47474F
Copyright text: #6B6B6B

[2019-07-20 17:22] Dara-K commented on #2886
Please use #555555 color for the handle.

[2019-07-20 17:24] Dara-K commented on #2885
Please use #006dea color for the forum posts

[2019-07-20 17:27] Dara-K commented on #2883
Please use the #006DEA  blue color for "JOIN NOW" to keep consistency with the other links on the site.

[2019-07-20 17:28] cwdcwd commented on #2739
[500]: Challenge for the updated issue 2739 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-20 17:53] Dara-K commented on #2882
Please use #006DEA as the link color in all the places.
For the red text: #EA1900
Register button: #006AD7
All  gray text on timeline bar: #D5D5D5
"Prizes": #6B6B6B
Login button: let’s have a white button, border color #C3C3C8 and text color #47474F
The Submit button is in disabled state, if we would make it darker it would look active.
The tag should be updates should be part of a larger task of

[2019-07-20 18:25] cwdcwd commented on #2739
[500]: Challenge for the updated issue 2739 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-20 18:41] Dara-K commented on #2796
Please use #006AD7 as the new blue color for the button.

[2019-07-20 18:47] Dara-K commented on #2794
Please change the color of the Unregister button to #EA1900

[2019-07-20 18:54] Dara-K commented on #2797
@r0hit-gupta  Please change the green color to #328732

[2019-07-20 18:57] Dara-K commented on #2842
@r0hit-gupta Please change the color to #6b6b6b

[2019-07-20 18:58] Dara-K commented on #2844
Please change the color of the gray text to #6b6b6b.

[2019-07-20 19:00] Dara-K commented on #2843
@r0hit-gupta You can use here #6b6b6b color as well

[2019-07-20 19:01] Dara-K commented on #2778
Let's use #006DEA color for the blue link here.

[2019-07-20 22:00] cwdcwd commented on #2765
Contest https://www.topcoder.com/challenges/30096069 has been updated - it has been assigned to sexta13.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-21 11:27] r0hit-gupta commented on #2888
@Dara-K I have changed the colors. Thanks.

[2019-07-21 11:29] r0hit-gupta commented on #2796
@Dara-K I have changed the color. Thanks.

[2019-07-21 11:31] r0hit-gupta commented on #2794
@Dara-K I have changed the color. Thanks.

[2019-07-21 11:34] r0hit-gupta commented on #2797
@Dara-K I have changed the color. Thanks.

[2019-07-21 11:35] r0hit-gupta commented on #2843
@Dara-K I have changed the color. Thanks.

[2019-07-21 14:03] rashmi73 commented on #2907
@codeMinter @sushilshinde PR for qa-accesility at topcoder-react-ui-kit
https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/13

[2019-07-21 14:26] rashmi73 commented on #2858
@codeMinter @veshu @mishacucicea  unable to find page for it, can you please help in which repo it is?

[2019-07-21 14:29] rashmi73 commented on #2359
@sushilshinde waiting here

[2019-07-21 14:34] rashmi73 commented on #2696
@nithyaasworld it is working fine on https://beta-community-app.topcoder.com/challenges. could you please confirm?

[2019-07-21 14:47] PrakashDurlabhji commented on #2904
@Dara-K @codeMinter PR updated according to above

[2019-07-21 14:49] codeMinter commented on #2907
@rashmi73 let's only keep single PR, we can edit the old one for new base branch. I have updated and closed topcoder-platform/topcoder-react-ui-kit#13

[2019-07-21 14:50] PrakashDurlabhji commented on #2903
@Dara-K @codeMinter code updatd according to above.
PR #2928

[2019-07-21 14:50] sushilshinde commented on #2907
I have reverted the PR for now on community-app please PR again and test

@codeMinter @rashmi73

[2019-07-21 14:53] PrakashDurlabhji commented on #2885
@Dara-K @codeMinter  PR updated according to above.

both PR
#2968
 https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/10

[2019-07-21 15:29] codeMinter commented on #2599
@sushilshinde PR raised, looks like some deployment issue for DEV in PR. Can you take a look and merge and deploy when you get a chance so we can pass to QA for verification?

[2019-07-21 16:20] veshu commented on #2858
@rashmi73 If you are searching for code then please check https://github.com/appirio-tech/accounts-app this code for Login/Registration related issues. Let us know if it doesn't help

[2019-07-21 16:32] rashmi73 commented on #2858
@veshu as given in attachement, screen is not login/registration, it is actually home page, but i dont find any such screen in accounts app.

I already saw login/registration page there is no learn more button present in  it.

[2019-07-21 16:42] veshu commented on #2858
@rashmi73 Ok Please keep this as hold and pick another. I will get back to you later, whether if this page was on scope or not. You can keep this assigned to you and work on another, probably this might be not in scope.

[2019-07-21 18:31] cwdcwd commented on #2738
Contest https://www.topcoder.com/challenges/30096320 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-21 18:32] mishacucicea commented on #2738
Adjusting prize as it impacts the Register page as well. @dzanchett see details in the code review.

[2019-07-21 20:20] cwdcwd commented on #2832
Contest https://www.topcoder.com/challenges/30095991 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-21 21:22] gets0ul commented on #2832
Notes: CircleCI test somehow failed with the lint check.

[2019-07-22 04:06] cwdcwd commented on #2766
Contest https://www.topcoder.com/challenges/30096330 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 04:10] romitgit commented on #2766
PR for this issue is : https://github.com/appirio-tech/accounts-app/pull/253

[2019-07-22 04:11] veshu commented on #2915
@topcoder-platform/topcodercompetitors

We still have more than `$900` in purse, and we have merged few code, so chances of remaining issue is already fixed is high, pick the issue and if you find that this already fixed by another issue you got $$ just referencing any pull requests that fixes(whether you fixed that or other had).

Let's  crush the remaining issues and help member with less capabi

[2019-07-22 04:12] cwdcwd commented on #2773
Contest https://www.topcoder.com/challenges/30096314 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 04:13] romitgit commented on #2773
Already fixed in this PR: https://github.com/appirio-tech/accounts-app/pull/239/files

[2019-07-22 05:14] tosha5252 commented on #2755
...

[2019-07-22 05:14] sushilshinde opened #2985 "[$50]Fix lint issues on "qa-accessibility-fix-lint" branch"
1. Check out https://github.com/topcoder-platform/community-app/tree/qa-accessibility-fix-lint
2. Run
    `> npm run lint`
3. Causes validation erros like
[code]
4. Fix all the proptype validation issues and do not change lint rules
5. Your changes should not break any functionality, please do smoke test locally
5. PR to `qa-accessibility-fix-lint`

[2019-07-22 05:26] sushilshinde commented on #2985
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-07-22 05:32] cwdcwd commented on #2985
Contest https://www.topcoder.com/challenges/30096450 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 05:33] cwdcwd commented on #2985
Contest https://www.topcoder.com/challenges/30096450 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 05:34] cwdcwd commented on #2909
Contest https://www.topcoder.com/challenges/30095967 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 05:40] cwdcwd commented on #2985
Contest https://www.topcoder.com/challenges/30096450 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 05:52] tosha5252 commented on #2755
failed testing at https://test-community-app.topcoder-dev.com/challenges...

Tab skips over 'Filters' from Search Bar, going down to My Challenges.

[2019-07-22 06:10] tosha5252 commented on #2754
failed testing at https://test-community-app.topcoder-dev.com/challenges...

Tab skips over 'Community' link....from 'Tracks' to 'SRMs', in the next row...

[2019-07-22 06:26] tosha5252 commented on #2754
Env:

OS: Windows 10
Browser: Chrome

[2019-07-22 06:26] tosha5252 commented on #2755
Env:

OS: Windows 10
Browser: Chrome

[2019-07-22 06:27] tosha5252 commented on #2886
Unable to verify at topcoder-dev.com...receiving a 404 error when attempting to access member profiles.

[2019-07-22 06:30] tosha5252 commented on #2910
Passed testing at https://www.topcoder-dev.com/challenges/

Env:

Windows 10
Browser: Chrome, latest version

[2019-07-22 07:00] lakshmiathreya commented on #2754
.. Verified the same on MacOS/Safari - fix not working...

[2019-07-22 07:14] mishacucicea commented on #2767
@Dara-K is the #757584 suggested color ok here?

[2019-07-22 07:34] r0hit-gupta commented on #2755
@tosha5252 looks like the code isn't deployed properly. I am unable to see the modifications I made in the DOM.

[2019-07-22 09:03] cwdcwd commented on #2760
Contest https://www.topcoder.com/challenges/30096306 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 09:25] sushilshinde commented on #2740
Wait for 15 mins

[2019-07-22 10:38] cwdcwd commented on #2831
Contest https://www.topcoder.com/challenges/30095993 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 10:42] cwdcwd commented on #2827
Contest https://www.topcoder.com/challenges/30096268 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 10:54] lakshmiathreya commented on #2740
<img width="1507" alt="Screenshot 2019-07-22 at 4 23 48 PM" src="https://user-images.githubusercontent.com/51733042/61627347-27dabb80-ac9d-11e9-8694-5306557e5d32.png">
Aria attributes not set ...

[2019-07-22 11:04] cwdcwd commented on #2780
Contest https://www.topcoder.com/challenges/30096304 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 11:10] drasticdpk commented on #2815
Hello Tema,
Here is feedback for this issue.
1. Unable to open link by hitting Enter Key (Whenever get focused on link button. )
2. Extra link has been displayed after tabbing 'Single Sign On' button.
![image](https://user-images.githubusercontent.com/25297859/61627710-278fef80-aca0-11e9-8083-06b624d2f618.png)
![image](https://user-images.githubusercontent.com/25297859/61627919-a8e78200-aca0-11e9-

[2019-07-22 11:12] lakshmiathreya commented on #2815
Please also clarify reg ARIA attributes setting for elements ...

[2019-07-22 11:46] drasticdpk commented on #2906
Passed testing at https://accounts.topcoder-dev.com/member/forgot-password
Env:
Windows 10
Browser: Chrome, latest version

[2019-07-22 11:51] drasticdpk commented on #2764
Passed testing at https://test-community-app.topcoder-dev.com/members/TonyJ
Env:
Windows 10
Browser: Chrome, latest version

[2019-07-22 11:55] drasticdpk commented on #2762
Passed testing at https://accounts.topcoder-dev.com/member
Env:
Windows 10
Browser: Chrome, latest version

[2019-07-22 12:16] asadath1395 commented on #2780
@veshu This is happening because of the link inside the list element, inorder to disable that we need to modify the Link element and add tabIndex to that which is inside topcoder-react-utils. What to do now?

[2019-07-22 12:21] asadath1395 commented on #2781
@veshu I am not able to understand this, can you please give more detail on this one?

[2019-07-22 12:23] asadath1395 commented on #2784
@veshu We need to change the alt text right?

[2019-07-22 12:24] veshu commented on #2781
@mishacucicea Please check here

[2019-07-22 12:25] cwdcwd commented on #2785
Contest https://www.topcoder.com/challenges/30096296 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 12:35] asadath1395 commented on #2785
@veshu I can't seem to find the component referenced here either in accounts repo nor community-app, can you please verify its present there

[2019-07-22 12:37] cwdcwd commented on #2901
Contest https://www.topcoder.com/challenges/30095983 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 12:38] mishacucicea commented on #2784
@asadath1395  correct

[2019-07-22 12:42] asadath1395 commented on #2784
@mishacucicea I can't seem to find that page in either repo? Which repo/branch that is present?

[2019-07-22 12:57] mishacucicea commented on #2781
@asadath1395 Take a look here: https://www.w3.org/WAI/tutorials/forms/labels/

[2019-07-22 13:02] mishacucicea commented on #2784
Sorry this is part of home page which is out of scope for now.

[2019-07-22 13:03] mishacucicea commented on #2780
@asadath1395 This is part of the homepage which is out of scope for now.

[2019-07-22 13:04] asadath1395 commented on #2781
@mishacucicea Even this is part of homepage i guess

[2019-07-22 13:10] asadath1395 commented on #2852
@mishacucicea This needs change in topcoder-react-utils, is it in scope?

[2019-07-22 14:14] cwdcwd commented on #2862
Contest https://www.topcoder.com/challenges/30096257 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 14:28] afrisalyp commented on #2862
Hi,
Where we can find the repo project?

The bug is related to the main page of topcoder.com.
I can't find the page source code on the community-app project.

[2019-07-22 16:36] cwdcwd commented on #2823
Contest https://www.topcoder.com/challenges/30095999 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 17:22] asadath1395 commented on #2820
@veshu I don't understand what is the problem in this, if we try to change something, it will break the design

[2019-07-22 17:51] Gauravseta commented on #2985
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/2989

[2019-07-22 17:53] asadath1395 commented on #2911
@veshu This is happening because of an iframe created at ```src/client/index.jsx``` in ```authenticate``` function. There is also a TODO in that which says ```TODO: The iframe injected into the page by this call turns out to be visible as a tiny nob (~3x3 px). It has html ID `tc-accounts-iframe (as specified in this call). We should hide it by adding the proper side in our stylesheet, or to figure

[2019-07-22 18:02] cwdcwd commented on #2911
Contest https://www.topcoder.com/challenges/30096153 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 18:04] cwdcwd commented on #2902
Contest https://www.topcoder.com/challenges/30095970 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-22 18:05] tosha5252 commented on #2766
Tab index is now set

[2019-07-22 18:11] tosha5252 commented on #2788
verified working

[2019-07-22 18:31] tosha5252 commented on #2775
(disabled) color changed to #C3C1C1
Contrast Ratio: 1.79:1...does not meet WCAG requirements

[2019-07-22 20:05] tosha5252 commented on #2904
Button color changed to #006AD7

[2019-07-22 20:17] tosha5252 commented on #2767
Button color is now #59a7ff...which still fails WCAG standards...please change to the new blue color #006AD7

[2019-07-22 20:29] tosha5252 commented on #2888
Forgot your password: set at #0079ce, instead of #006DEA

Env:
Windows 10
Browser: Chrome, up to date

[2019-07-22 21:57] Dara-K commented on #2767
#006AD7 is the new blue color for the button - that is correct

[2019-07-22 22:11] tosha5252 commented on #2768
Per DaraK's comment on another ticket, the color should be changed to #006DEA , instead of #0079ce...
can you please change and re-submit?  Thanks

Reference ticket:
https://github.com/topcoder-platform/community-app/issues/2888

Env:

WIndows 10
Browser: Chrome

[2019-07-22 22:13] tosha5252 commented on #2905
Verified

[2019-07-22 22:17] codeMinter commented on #2907
@tosha5252 can you add more details, what steps used where it failed? Try to add some screenshots, this looks to me like we didn't merge topcoder-platform/topcoder-react-ui-kit#11

@sushilshinde can you take a look to confirm we merged react-ui ?

[2019-07-22 22:22] tosha5252 commented on #2886
color set to rgb(157, 159, 160) = #9D9FA0, please change to #555555, per DaraK's comment above

[2019-07-22 22:23] tosha5252 commented on #2886
Env:

Windows 10
Browser: Chrome

[2019-07-22 22:36] codeMinter commented on #2740
@r0hit-gupta we need to make the change for Mobile Header too. Can you add PR for the mobile header too?

[2019-07-22 22:37] tosha5252 commented on #2776
Color of text set at #A3A3AE, which does not pass WCAG standards.

Env:

Windows 10
Browser: Chrome

[2019-07-22 23:09] codeMinter commented on #2817
@veshu @Oanh-and-only-Oanh https://github.com/topcoder-platform/community-app/issues/2740 already takes care of the requirement in this ticket. Do we still need this?

[2019-07-23 02:55] Nachiappa commented on #2895
I tried to reproduce this issue , but couldn't . Here is my recording

[Topcoder - Google Chrome 2019-07-23 08-20-22.zip](https://github.com/topcoder-platform/community-app/files/3419984/Topcoder.-.Google.Chrome.2019-07-23.08-20-22.zip)

[2019-07-23 03:17] veshu commented on #2852
@asadath1395 Yes please.

[2019-07-23 03:20] cwdcwd commented on #2847
Contest https://www.topcoder.com/challenges/30096049 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:20] cwdcwd commented on #2839
Contest https://www.topcoder.com/challenges/30096052 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:21] cwdcwd commented on #2884
Contest https://www.topcoder.com/challenges/30095987 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:21] cwdcwd commented on #2894
Contest https://www.topcoder.com/challenges/30096017 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:21] cwdcwd commented on #2801
Contest https://www.topcoder.com/challenges/30096115 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:23] cwdcwd commented on #2816
Contest https://www.topcoder.com/challenges/30096048 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:23] cwdcwd commented on #2811
Contest https://www.topcoder.com/challenges/30096051 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:23] cwdcwd commented on #2806
Contest https://www.topcoder.com/challenges/30096056 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:24] cwdcwd commented on #2805
Contest https://www.topcoder.com/challenges/30096059 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:24] cwdcwd commented on #2802
Contest https://www.topcoder.com/challenges/30096104 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:25] cwdcwd commented on #2900
Contest https://www.topcoder.com/challenges/30095977 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:26] cwdcwd commented on #2869
Contest https://www.topcoder.com/challenges/30095982 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:26] cwdcwd commented on #2855
Contest https://www.topcoder.com/challenges/30095988 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:26] cwdcwd commented on #2867
Contest https://www.topcoder.com/challenges/30096159 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:26] cwdcwd commented on #2864
Contest https://www.topcoder.com/challenges/30096162 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:26] cwdcwd commented on #2804
Contest https://www.topcoder.com/challenges/30096061 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:26] cwdcwd commented on #2898
Contest https://www.topcoder.com/challenges/30096233 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:26] cwdcwd commented on #2897
Contest https://www.topcoder.com/challenges/30096234 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:27] cwdcwd commented on #2879
Contest https://www.topcoder.com/challenges/30096246 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:27] cwdcwd commented on #2878
Contest https://www.topcoder.com/challenges/30096247 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:27] cwdcwd commented on #2870
Contest https://www.topcoder.com/challenges/30096249 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:27] cwdcwd commented on #2866
Contest https://www.topcoder.com/challenges/30096256 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:27] cwdcwd commented on #2861
Contest https://www.topcoder.com/challenges/30096258 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:27] cwdcwd commented on #2860
Contest https://www.topcoder.com/challenges/30096259 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:28] cwdcwd commented on #2857
Contest https://www.topcoder.com/challenges/30096264 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:29] cwdcwd commented on #2813
Contest https://www.topcoder.com/challenges/30096271 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:29] cwdcwd commented on #2795
Contest https://www.topcoder.com/challenges/30096275 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:29] cwdcwd commented on #2783
Contest https://www.topcoder.com/challenges/30096284 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:29] cwdcwd commented on #2912
Contest https://www.topcoder.com/challenges/30096243 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:30] cwdcwd commented on #2827
Contest https://www.topcoder.com/challenges/30096268 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:32] cwdcwd commented on #2820
Contest https://www.topcoder.com/challenges/30096003 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:35] cwdcwd commented on #2895
Contest https://www.topcoder.com/challenges/30096237 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:35] cwdcwd commented on #2852
Contest https://www.topcoder.com/challenges/30095990 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:35] cwdcwd commented on #2739
[500]: Challenge for the updated issue 2739 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:48] veshu commented on #2820
@asadath1395 I will get back to you on this later. please continue with other issues for now. Thanks!

[2019-07-23 03:48] cwdcwd commented on #2852
Contest https://www.topcoder.com/challenges/30095990 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:57] PrakashDurlabhji commented on #2847
@veshu this has been already cover in PR of issue https://github.com/topcoder-platform/community-app/issues/2828

[2019-07-23 03:57] cwdcwd commented on #2847
Contest https://www.topcoder.com/challenges/30096049 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 03:58] cwdcwd commented on #2813
Contest https://www.topcoder.com/challenges/30096271 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 04:13] veshu commented on #2915
@topcoder-platform/topcodercompetitors

The prize amount is doubled for these remaining issues.

Issue prize ranges from minimum $20 to $80, please join to get higher prize.  Thanks!

[2019-07-23 04:18] anonymousjaggu commented on #2852
@veshu shall I make merge request in the `topcoder-react-utils` project for this?

[2019-07-23 04:20] cwdcwd commented on #2783
Contest https://www.topcoder.com/challenges/30096284 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 04:23] romitgit commented on #2783
PR for this issue is : https://github.com/appirio-tech/accounts-app/pull/255

[2019-07-23 04:25] cwdcwd commented on #2912
Contest https://www.topcoder.com/challenges/30096243 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 04:26] cwdcwd commented on #2852
Contest https://www.topcoder.com/challenges/30095990 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 04:26] lakshmiathreya commented on #2812
Verified source - Issue is fixed. The elements mentioned have level 2 header now. But would like @drasticdpk to check on JAWS as well before updating Tag to QA Pass.

[2019-07-23 04:40] anonymousjaggu commented on #2852
PR sent here https://github.com/topcoder-platform/topcoder-react-utils/pull/41

[2019-07-23 04:42] veshu commented on #2857
This is related to home page which is out of scope for now.

[2019-07-23 04:48] cwdcwd commented on #2805
Contest https://www.topcoder.com/challenges/30096059 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 04:56] cwdcwd commented on #2827
Contest https://www.topcoder.com/challenges/30096268 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 05:03] cwdcwd commented on #2866
Contest https://www.topcoder.com/challenges/30096256 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 05:19] veshu commented on #2755
@tosha5252 This looks fixed, in live site i can't select the filters button using keyboard, after search box tab goes to challenges while in above site i can go to filters button after search box and pressing enter key I can open the filter options.

cc @lakshmiathreya @drasticdpk

[2019-07-23 05:23] PrakashDurlabhji commented on #2754
@tosha5252 it is working fine at https://test-community-app.topcoder-dev.com/challenges

it focuses compete tracks and community in sequence.

can you please confirm again?

[2019-07-23 05:37] cwdcwd commented on #2806
Contest https://www.topcoder.com/challenges/30096056 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 05:38] lakshmiathreya commented on #2754
Verified focus moves to Community as expected - MacOS/Chrome & Win 10/Edge (browserstack). Moving to QA Pass.

[2019-07-23 05:41] veshu commented on #2740
@r0hit-gupta Please open separate PR for the mobile, so that we don't have revert the changes

[2019-07-23 06:08] codeMinter commented on #2817
@veshu can you please suggest if we would need this, to me it makes no sense, since #2740 aria-label is read as it is <a/> ?

@lakshmiathreya thoughts ☝️ ?

[2019-07-23 06:12] veshu commented on #2817
@codeMinter Lets not merge this and close. You can close the merge request.

[2019-07-23 06:15] cwdcwd commented on #2884
Contest https://www.topcoder.com/challenges/30095987 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 06:18] lakshmiathreya commented on #2755
Fixed in https://test-community-app.topcoder-dev.com/challenges. Verified on MacOS/Chrome and Win 10/Edge (browserstack). Moving to QA Pass.

[2019-07-23 06:21] veshu commented on #2751
@Dara-K Can we use this color b8b8b9 for this one?
![image](https://user-images.githubusercontent.com/2202045/61687482-37f8a680-ad42-11e9-83a4-eed5056fdc60.png)

Please suggest the color for this. Thanks!

[2019-07-23 06:23] asadath1395 commented on #2884
@veshu This seems to be working properly even in the attached video. You can confirm this by visiting other websites, even that also operates(look-wise) the same way as topcoder website

[2019-07-23 06:27] cwdcwd commented on #2898
Contest https://www.topcoder.com/challenges/30096233 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 06:27] veshu commented on #2884
Thanks! @asadath1395 Checking with QA team

@drasticdpk @lakshmiathreya Could you please confirm if we should fix this or not?

[2019-07-23 06:39] lakshmiathreya commented on #2817
Agreed - this is a duplicate of #2740.

[2019-07-23 06:50] codeMinter commented on #2817
Thanks @veshu @lakshmiathreya - closed the related PR.

[2019-07-23 06:52] asadath1395 commented on #2898
@veshu Not working anymore in latest JAWS, can you please confirm?

[2019-07-23 06:52] cwdcwd commented on #2894
Contest https://www.topcoder.com/challenges/30096017 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 06:55] mishacucicea commented on #2898
@asadath1395 What is not working anymore? Please be very specific.

[2019-07-23 06:55] asadath1395 commented on #2898
The issue is not reproducible in latest JAWS

[2019-07-23 07:00] mishacucicea commented on #2776
@tosha5252 - on what environment did you tested this? I can see in the code change that the color is #A3A3AE ?

[2019-07-23 07:09] sushilshinde commented on #2985
Thanks @Gauravseta will check today

[2019-07-23 07:15] asadath1395 commented on #2878
@veshu This is not reproducible in latest NVDA version. Please verify

[2019-07-23 07:17] asadath1395 commented on #2870
@veshu @mishacucicea This is part of home page and out of scope. Please confirm

[2019-07-23 07:17] codeMinter commented on #2907
@sushilshinde updated topcoder-platform/topcoder-react-ui-kit#11 - let's merge and deploy that and then test this.

[2019-07-23 07:20] asadath1395 commented on #2869
@veshu @mishacucicea Can you please give a challenge ID where i can reproduce this? Thanks

[2019-07-23 07:33] asadath1395 commented on #2804
@veshu This is already fixed i guess

[2019-07-23 07:36] veshu commented on #2804
Yes,  label is not updated

[2019-07-23 08:02] cwdcwd commented on #2897
Contest https://www.topcoder.com/challenges/30096234 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 08:05] codeMinter commented on #2863
@veshu this is also duplicate of #2740, closing related PR

[2019-07-23 08:07] codeMinter commented on #2740
@r0hit-gupta we have related issues to this, can you help get this done ASAP ?

[2019-07-23 08:10] cwdcwd commented on #2870
Contest https://www.topcoder.com/challenges/30096249 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 08:11] mishacucicea commented on #2870
@asadath1395 No, it's still about the login, I corrected the link, it had `/members` instead of `/member`.

[2019-07-23 08:22] codeMinter commented on #2752
@r0hit-gupta please fix all your issues with `tcx_Feedback` first before picking any more issues.

[2019-07-23 08:32] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 08:32] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 08:32] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 08:33] cwdcwd commented on #2864
Contest https://www.topcoder.com/challenges/30096162 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 08:35] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 08:35] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 08:38] cwdcwd commented on #2855
Contest https://www.topcoder.com/challenges/30095988 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 08:39] mishacucicea commented on #2878
@asadath1395 This talks about mouse-over, not switching through items with tab.
You can read more about it here: https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Metadata_On_Hover

[2019-07-23 08:39] asadath1395 commented on #2855
@veshu Can you open this test challenge https://www.topcoder.com/challenges/30095347 or provide me other challenge id where i can reproduce this?
Thanks

[2019-07-23 08:47] mishacucicea commented on #2878
@drasticdpk Do you know any site where hovering on links/buttons work?

[2019-07-23 09:06] cwdcwd commented on #2870
Contest https://www.topcoder.com/challenges/30096249 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 09:12] mishacucicea commented on #2898
@asadath1395 Seems like, tested on the latest `qa-accessibility branch`.

[2019-07-23 09:13] mishacucicea commented on #2898
@tosha5252 / @drasticdpk Can you confirm?

[2019-07-23 09:35] asadath1395 commented on #2898
@mishacucicea I tested it on latest JAWS version and i couldn't reproduce

[2019-07-23 09:38] sadathanwar17 commented on #2878
@mishacucicea I tried for mouse-over itself and it worked for me

[2019-07-23 10:16] drasticdpk commented on #2812
Operating System: Windows
Browser: Chrome
Screen Reader: JAWS
Tested Link : https://accounts.topcoder-dev.com/member/registration

[2019-07-23 11:28] drasticdpk commented on #2834
Operating System: Windows
Browser: Chrome
Tested URL : https://accounts.topcoder-dev.com/member/registration
Screen Reader : JAWS

[2019-07-23 11:35] veshu commented on #2785
This is not in scope.
cc @mishacucicea

[2019-07-23 12:44] mishacucicea commented on #2815
The change specific to this issue was just adjusting the tabindex to allow tab navigation
The link in 2 was there all along, check the prod: https://accounts.topcoder.com/member

If that's an issue from an accessibility perspective, we could treat it separately.

Does that make sense, can we accept this issue?

[2019-07-23 12:55] rashmi73 commented on #2359
@harshitmehta123 @thomaskranitsas @nithyaasworld @sushilshinde can anyone atleast please respond?

[2019-07-23 13:32] #2974 closed

[2019-07-23 13:42] mishacucicea commented on #2869
@drasticdpk Any idea what type of challenge is needed to get the additional screen/pop-up?

[2019-07-23 13:46] mishacucicea commented on #2898
@asadath1395 I agree with you, was just asking for confirmation from the testers.

[2019-07-23 14:01] veshu commented on #2869
@mishacucicea This is NDA related project. If we have NDA required then this popup will come. I am trying to create the challenge with NDA but not able to run on dev.

[2019-07-23 14:12] r0hit-gupta commented on #2740
@codeMinter working on it

[2019-07-23 14:12] cwdcwd commented on #2839
Contest https://www.topcoder.com/challenges/30096052 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 14:24] PrakashDurlabhji commented on #2743
@codeMinter  both updated PR https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/14

https://github.com/topcoder-platform/community-app/pull/2957

[2019-07-23 14:30] cwdcwd commented on #2802
Contest https://www.topcoder.com/challenges/30096104 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 14:43] #2985 closed

[2019-07-23 14:43] cwdcwd commented on #2985
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096450<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 15:09] lakshmiathreya commented on #2792
@r0hit-gupta @codeMinter : the Member profile page in Topcoder-dev.com throws up 404 - pls let us know your testing process. Fyi - @drasticdpk.

[2019-07-23 15:10] lakshmiathreya commented on #2792
@nkumar @sushilshinde - fyi ...

[2019-07-23 15:36] veshu commented on #2869
@asadath1395 Please check with this challenge https://www.topcoder-dev.com/challenges/30055273?nocache=true

Challenge Id : 30055273

[2019-07-23 16:25] romitgit commented on #2881
PR for this issue : https://github.com/topcoder-platform/community-app/pull/2993

Dependent PR
PR for topcoder-react-ui-kit : https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/15

[2019-07-23 16:32] Dara-K commented on #2751
Please use #AAAAAB. The above color is not in the gray palette we use.

[2019-07-23 16:46] anonymousjaggu commented on #2835
@PrakashDurlabhji please check feedback in PR

[2019-07-23 16:51] veshu commented on #2915
Test Accounts for dev : pshah_manager/topcoder123 | pshah_copilot/topcoder123 | pshah_customer/topcoder123 | pat_monahan/topcoder123!
Ghostar/appirio123

[2019-07-23 17:03] asadath1395 commented on #2869
@veshu I am not able to get the popup with any of the given credentials

[2019-07-23 17:05] veshu commented on #2869
Yes, I am checking with it with admin team, I will get back here as soon as I get the solution

[2019-07-23 17:41] r0hit-gupta commented on #2740
@codeMinter please review.

[2019-07-23 17:45] anonymousjaggu commented on #2892
@PrakashDurlabhji please check the comment in PR.

[2019-07-23 17:58] r0hit-gupta commented on #2745
@Dara-K can you please suggest the color for this one? Thanks.

[2019-07-23 18:23] veshu commented on #2751
@r0hit-gupta did you changed on react-ui-kit? if so please reference the PR here to verification by architect too.

[2019-07-23 18:24] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 18:24] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 18:26] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 18:26] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 18:26] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 18:26] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 18:28] r0hit-gupta commented on #2751
@veshu I haven't made any changes yet. Waiting for the reply from @Dara-K. Will refer the new PR once done.

[2019-07-23 18:46] veshu commented on #2751
Where does this color variable defined then $tc-gray-30? per codemintor this should be defined on react ui kit. @r0hit-gupta

[2019-07-23 19:08] rashmi73 commented on #2359
@harshitmehta123 @ThomasKranitsas @nithyaasworld @sushilshinde some reply would be really helpful from anybody. keeping aside other tasks this task was taken at priority and completed to best.but then it disappoints that no one is ready to reply anything whether this task is ignored? it will be merged later? PR is not proper?

efforts are wasted? I am in real need of money hence it is a discourage

[2019-07-23 19:17] codeMinter commented on #2744
@romitgit I see you removed your assignment from this ticket, please confirm if you are going to work on this or want us to mark this `OpenForPickup`. Thanks

[2019-07-23 19:48] anonymousjaggu commented on #2854
@r0hit-gupta please check the comment in MR

[2019-07-23 20:15] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 20:15] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 20:15] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 20:16] codeMinter commented on #2915
@topcoder-platform/topcodercompetitors please keep an eye on your branch conflicts and resolve them ASAP for PRs to be reviewed and merged. Thanks

[2019-07-23 20:17] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 20:17] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 20:30] mishacucicea commented on #2868
@PrakashDurlabhji Please look at the PR comments.

[2019-07-23 20:32] mishacucicea commented on #2833
@PrakashDurlabhji See PR comments.

[2019-07-23 20:43] codeMinter commented on #2818
@veshu this is already fixed as part of #2754

[2019-07-23 21:11] codeMinter commented on #2891
@romitgit kindly create new PR, your PR had lot of other changes, and main fix for this ticket was not there, we need PR with ticket specific changes only. Not sure why your PR had 15 file changes.

Please create new PR with fix for this ticket.

[2019-07-23 21:18] codeMinter commented on #2831
@veshu Duplicate of https://github.com/topcoder-platform/community-app/issues/2819

[2019-07-23 22:22] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 22:22] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 22:24] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 22:24] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 22:24] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 22:26] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 22:26] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 22:27] mishacucicea commented on #2815
@drasticdpk - Are you OK with marking this issue as solved? And treat other accessibility issues that are unrelated to this ticket as separate.

[2019-07-23 22:44] mishacucicea commented on #2790
Fixed by #2834

[2019-07-23 23:19] mishacucicea commented on #2767
File already changed in that location, reverting won't have any effect.
Opening for pickup.

[2019-07-23 23:32] mishacucicea commented on #2878
@tosha5252 / @drasticdpk Can you take a look over this issue to double-check?

[2019-07-23 23:35] PrakashDurlabhji commented on #2767
@mishacucicea i did not understand what u mean? i can complete this in some time, please do not unassign me.

[2019-07-23 23:35] cwdcwd commented on #2767
Contest https://www.topcoder.com/challenges/30096300 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-23 23:39] mishacucicea commented on #2767
@PrakashDurlabhji - you were inactive, so I had to do this, sorry.

[2019-07-24 03:50] lakshmiathreya opened #2996 "[$20]"Topcoder handle" name foreground and background colors - consistent change across all pages per WCAG 2 AA contrast ratio"
**Describe the bug**
Refer [MSFT-228]

**To Reproduce**
Refer [MSFT-228] - verify on across all pages on Community and Accounts pages.

**Expected behavior**
Consistent foreground and background colors across all pages for Topcoder handle.

**Desktop (please complete the following information):**
 - OS: Any
 - Browser: Any
 - Version [e.g. 22]

**Smartphone (please complete the following informati

[2019-07-24 03:51] lakshmiathreya commented on #2996
Fyi - @nithyaasworld @drasticdpk @tosha5252

[2019-07-24 04:06] cwdcwd commented on #2739
[500]: Challenge for the updated issue 2739 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 04:08] cwdcwd commented on #2846
Contest https://www.topcoder.com/challenges/30096181 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 04:09] veshu commented on #2869
@asadath1395 please check with this challenge id 30055275

[2019-07-24 04:46] cwdcwd commented on #2845
Contest https://www.topcoder.com/challenges/30096184 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 04:46] anonymousjaggu commented on #2845
This will be fixed by https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/9

[2019-07-24 04:51] cwdcwd commented on #2844
Contest https://www.topcoder.com/challenges/30096192 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 05:01] cwdcwd commented on #2842
Contest https://www.topcoder.com/challenges/30096178 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 05:03] cwdcwd commented on #2840
Contest https://www.topcoder.com/challenges/30096182 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 05:05] drasticdpk commented on #2815
Hi @mishacucicea , It would be great if we solved the issue at a same time which is known issue (Caused by current changes). Or you want to create another ticket for above issue please confirm.
cc @veshu @lakshmiathreya

[2019-07-24 05:06] cwdcwd commented on #2830
Contest https://www.topcoder.com/challenges/30096176 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 05:50] mishacucicea opened #3001 "[$40] Login/Register Page SSO links should be able to be navigated to using enter key"
**Steps to Reproduce**
1. Go to Members login:https://accounts.topcoder.com/member. 2. Press the tab key to navigate through the interactive elements on the page. 3. Focus the SSO links (github, facebook, etc) and hit Enter.

**Expected Result**
The links should be navigated to (e.g. the same action as if we click on them) when using the Enter key.

**Actual Result**
Nothing happens when the a lin

[2019-07-24 05:52] mishacucicea commented on #2815
Added a new issue to treat that exact problem, let's continue there.
@drasticdpk @lakshmiathreya Can we mark this one as a QA Pass?

[2019-07-24 05:54] cwdcwd commented on #3001
Contest https://www.topcoder.com/challenges/30096630 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 06:07] drasticdpk commented on #2815
Thank you @mishacucicea.

[2019-07-24 06:25] cwdcwd commented on #3001
Contest https://www.topcoder.com/challenges/30096630 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 06:39] cwdcwd commented on #2883
Contest https://www.topcoder.com/challenges/30096245 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 06:41] PrakashDurlabhji commented on #2883
@veshu @mishacucicea @codeMinter PR updated https://github.com/appirio-tech/accounts-app/pull/221

[2019-07-24 06:45] mfikria commented on #2912
@veshu are all these issues open for public?

[2019-07-24 06:46] veshu commented on #2912
@mfikria Yes, for all topcoder member.

[2019-07-24 06:49] cwdcwd commented on #2849
Contest https://www.topcoder.com/challenges/30096189 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 06:56] afrisalyp commented on #2849
Related to:
https://github.com/topcoder-platform/community-app/issues/2802

The Design, Development, Data Science are switches/toggles and not Button.

Fixed by
https://github.com/topcoder-platform/community-app/pull/2997

[2019-07-24 06:56] PrakashDurlabhji commented on #2768
@veshu @tosha5252 new PR raised https://github.com/appirio-tech/accounts-app/pull/260

[2019-07-24 07:00] PrakashDurlabhji commented on #2775
@veshu @tosha5252 why is PR reverted for it?
https://github.com/appirio-tech/accounts-app/pull/259
confused

[2019-07-24 07:01] cwdcwd commented on #2902
Contest https://www.topcoder.com/challenges/30095970 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 07:06] PrakashDurlabhji commented on #2767
@mishacucicea sorry for delay.
@veshu @tosha5252 new PR https://github.com/appirio-tech/accounts-app/pull/261

[2019-07-24 07:08] PrakashDurlabhji commented on #2776
@tosha5252 color is changed as mentioned in issue description. is there anything missed?
@mishacucicea

[2019-07-24 07:15] veshu commented on #2775
@mishacucicea FYI

[2019-07-24 07:24] mfikria commented on #2912
@veshu could you invite me to the repo so i could self-assigned the issue?

[2019-07-24 07:33] cwdcwd commented on #2841
Contest https://www.topcoder.com/challenges/30096191 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 07:40] veshu commented on #2912
@mfikria Please check here for challenge detail and other info https://github.com/topcoder-platform/community-app/issues/2915 also check the forum for other info.

[2019-07-24 07:42] mfikria commented on #2912
@veshu alright thanks!

[2019-07-24 08:01] veshu commented on #2803
@codeMinter I think this is covered by https://github.com/topcoder-platform/community-app/issues/2754?

[2019-07-24 08:04] cwdcwd commented on #2799
Contest https://www.topcoder.com/challenges/30096172 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 08:11] PrakashDurlabhji commented on #2803
@veshu @codeMinter yes i covered it

[2019-07-24 08:12] cwdcwd commented on #2803
Contest https://www.topcoder.com/challenges/30096171 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 08:13] mishacucicea commented on #2775
@PrakashDurlabhji Please follow the issues/conversations.
If an issue it's QA Fail or tcx_Feedback it needs to be addressed.
By default a 'QA Fail' needs to be reverted, but if you answer fast it won't be.
Please do the adjustments and create another pull request, it's a simple change.

[2019-07-24 08:20] PrakashDurlabhji commented on #2791
@veshu @tosha5252 @mishacucicea PR updated

[2019-07-24 08:25] PrakashDurlabhji commented on #2833
@mishacucicea @veshu PR updated

[2019-07-24 08:31] cwdcwd commented on #2799
Contest https://www.topcoder.com/challenges/30096172 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 08:39] cwdcwd commented on #2912
Contest https://www.topcoder.com/challenges/30096243 has been updated - it has been assigned to mfikria.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 08:41] veshu commented on #2820
@drasticdpk Can you please share input here https://github.com/topcoder-platform/community-app/issues/2820#issuecomment-513875769

[2019-07-24 08:44] PrakashDurlabhji commented on #2868
@mishacucicea PR updated

@veshu @tosha5252

[2019-07-24 08:52] PrakashDurlabhji commented on #2908
@veshu @vl-ti  PR updated

[2019-07-24 08:59] PrakashDurlabhji commented on #2835
@anonymousjaggu PR updated

[2019-07-24 09:12] PrakashDurlabhji commented on #2903
@codeMinter PR updated #2928

[2019-07-24 09:14] PrakashDurlabhji commented on #2778
@veshu @codeMinter Pr updated

[2019-07-24 09:17] PrakashDurlabhji commented on #2810
@veshu @sushilshinde sure will update it immediately, but dont know what is key for backward and forward button. no where in docs those specific keys are mentioned. can you please help a bit more?

[2019-07-24 09:19] PrakashDurlabhji commented on #2787
@veshu is this home page in scope?

[2019-07-24 09:20] veshu commented on #2787
@PrakashDurlabhji No it is out of scope for now.

[2019-07-24 09:23] PrakashDurlabhji commented on #2774
@veshu @codeMinter this issue https://github.com/topcoder-platform/community-app/issues/2868 PR solves it

and PR is  appirio-tech/accounts-app#248

[2019-07-24 09:30] romitgit commented on #2744
Done with changes. This is fixed in https://github.com/topcoder-platform/community-app/pull/2993

[2019-07-24 09:31] PrakashDurlabhji commented on #2892
@anonymousjaggu PR updated

[2019-07-24 09:36] cwdcwd commented on #2744
[500]: Challenge for the updated issue 2744 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 10:11] lakshmiathreya commented on #2880
Verified on Win 10 Edge, Firefox and Chrome/MacOS Chrome.

[2019-07-24 10:16] romitgit commented on #2870
@mishacucicea Which repo is this? Where is the code for this one?

[2019-07-24 10:18] sushilshinde commented on #2907
@codeMinter https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/11#issuecomment-514208837

[2019-07-24 10:35] lakshmiathreya commented on #2877
Tab skips 'Back to Login' - goes direct to 'Privacy Policy' from 'Continue'.

[2019-07-24 10:38] #2979 closed

[2019-07-24 11:12] lakshmiathreya commented on #2738
Verified with MacOS/Chrome (voiceover), Win10 Chrome/FF (Jaws) - tab focus and screen reader work correctly for all OAth provider links.

[2019-07-24 11:29] rashmi73 commented on #2696
@sushilshinde @nithyaasworld even here my efforts are wasted? will I atleast get paid for this? response is expected atleast here.

[2019-07-24 11:47] sushilshinde commented on #2792
@lakshmiathreya @r0hit-gupta @codeMinter, please do not refer to www.topcoder-dev,

Use https://test-community-app.topcoder-dev.com/

https://test-community-app.topcoder-dev.com/members/TonyJ is working for me

[2019-07-24 11:51] sushilshinde commented on #2759
@r0hit-gupta @anonymousjaggu why review label is removed I see code review passed here
https://github.com/topcoder-platform/community-app/pull/2962

[2019-07-24 11:57] nithyaasworld commented on #2696
@rashmi73

Sorry I missed to notice your above comment.

I don't think we still have the SSF fixes in the beta environment. We should be checking this on with Server Side Rendering Fixes.

[2019-07-24 12:01] rashmi73 commented on #2696
@nithyaasworld can you please help me a bit?

can you please ask @sushilshinde via slack to comment on https://github.com/topcoder-platform/community-app/issues/2359

[2019-07-24 12:12] sushilshinde commented on #2359
Your efforts will not be wasted that I can guarranty you. This do not happen often I apologize for this one but there are/were some other internal priorities, so everybody is busy with that.

I can't attend this right away, but this is on my list.

[2019-07-24 13:39] codeMinter commented on #2829
@r0hit-gupta please create separate PR per ticket.

[2019-07-24 13:39] codeMinter commented on #2822
@r0hit-gupta please create separate PR per ticket.

[2019-07-24 13:49] Oanh-and-only-Oanh commented on #2996
@veshu, please assign prize amount and open for tcx pickup.

[2019-07-24 14:12] Oanh-and-only-Oanh commented on #2877
@romitgit, did not pass QA. See above comment thread.

[2019-07-24 15:32] cwdcwd commented on #2771
Contest https://www.topcoder.com/challenges/30096316 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 16:04] PrakashDurlabhji commented on #2771
@veshu @gets0ul I guess it is already completed by one of my PR. will confirm you shortly

[2019-07-24 16:31] drasticdpk commented on #2878
Hi @mishacucicea / @tosha5252, It worked me too (on NVDA version 2019.1.1). For now please close this issue.

[2019-07-24 16:36] veshu commented on #2996
@Oanh-and-only-Oanh I remember there was similar issue already worked. I will check that and update this issue accordingly.

@codeMinter Please help me to find the issue which is similar. Thanks!

[2019-07-24 16:39] rashmi73 commented on #2359
@sushilshinde thanks for the response, Yes I see there are many Accesiblity issues open/reviewed and merged, till then waiting no problem. I just wanted to bring it your notice that this issue is pending, as you commented so I am assured now. thanks

[2019-07-24 16:41] veshu commented on #2996
Ok found the similar issue https://github.com/topcoder-platform/community-app/issues/2886, I hoped that issue will covered all 5 rating band.

Since we have only covered 1 (gray rated member) we need to update for
- green
- gold
- red
- black

@Dara-K Please provide the color for this bands. Thanks!

[2019-07-24 16:41] PrakashDurlabhji commented on #2996
@veshu it was with me, this is issue you are talking about https://github.com/topcoder-platform/community-app/issues/2886.

Am I correct? then can i get this issue?

[2019-07-24 16:42] codeMinter commented on #2996
Sorry @veshu just saw but looks like you found one. 👍

[2019-07-24 16:43] PrakashDurlabhji commented on #2996
@veshu we both commented on exact same time. what a timing

[2019-07-24 16:46] veshu commented on #2996
@PrakashDurlabhji Yes you can pick as long as you don't have pending issues/PRs. Thanks!

[2019-07-24 16:49] cwdcwd commented on #2996
Contest https://www.topcoder.com/challenges/30096709 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 16:49] cwdcwd commented on #2996
Contest https://www.topcoder.com/challenges/30096709 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 16:51] cwdcwd commented on #2996
Contest https://www.topcoder.com/challenges/30096709 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 16:56] veshu commented on #2870
@romitgit This is related to home page, removing from scope for now.

cc @mishacucicea please correct if I get wrong.

[2019-07-24 17:08] veshu commented on #2887
@sushilshinde @anonymousjaggu @gets0ul Since this looks merged marking the label as ready for QA.

Revert me if I am wrong. Thanks!

[2019-07-24 17:14] veshu commented on #2810
@PrakashDurlabhji See you will override like this https://github.com/airbnb/react-dates/issues/495#issuecomment-300649358,

Key for every phrases are here https://github.com/airbnb/react-dates/blob/master/src/defaultPhrases.js

So if you override following phrases as in that comment it should work
[code]

[2019-07-24 17:15] veshu commented on #2839
@r0hit-gupta Any update on this. Thanks!

[2019-07-24 17:21] drasticdpk commented on #2820
Hi @veshu / @asadath1395 , currently the header is not on structure way in give page. Here is the reference to update header in correct way.
https://monosnap.com/file/if2uhgKAjb4bPCTZy9GW3rE0YRlaQv
https://www.nomensa.com/blog/2017/how-structure-headings-web-accessibility
Please let me know for anything.

[2019-07-24 17:23] PrakashDurlabhji commented on #2810
@veshu doing it immediately

[2019-07-24 18:46] drasticdpk commented on #2898
Hi @mishacucicea , since screen reader JAWS is showing unexpected behaviour for each time. If developer are unable to replicate the issue with JAWS screen reader , you can close the issue.
Here is the reference link (Page is redirected after reading userName fields automatically)
https://monosnap.com/file/oQnRF1EH20LyrSuB2buucvpNgJfkye

[2019-07-24 18:53] gets0ul commented on #2771
@PrakashDurlabhji @veshu
Can you put the link of the PR you mentioned?

[2019-07-24 18:57] gets0ul commented on #2915
Why are for some issues, they stay the same, not doubled?

[2019-07-24 19:25] PrakashDurlabhji commented on #2810
@veshu @codeMinter PR https://github.com/topcoder-platform/community-app/pull/3010

[2019-07-24 20:04] Dara-K commented on #2996
@veshu  Here are the other colors for the handles:

•	Gray: #555555
•	Pastel-Blue: #5656F4
•	Green: #328732
•	Gold: #9A6D00
•	Red: #EA1900
•	Black: #151516

[2019-07-24 20:12] r0hit-gupta commented on #2839
@veshu working on it too but fixing previous PRs on priority.

[2019-07-24 20:14] nithyaasworld commented on #2599
@codeMinter As part of this ticket, let us fix the copyright info in this page too https://accounts.topcoder.com/sso-login/?app=member

Thanks.

![image](https://user-images.githubusercontent.com/5114190/61825317-b9088880-ae7d-11e9-9bac-141f89757a96.png)

[2019-07-24 20:15] r0hit-gupta commented on #2792
@lakshmiathreya I had tested it by injecting my changes into the link provided in the description above.

[2019-07-24 20:19] r0hit-gupta commented on #2751
@veshu it is already defined in react UI kit. Please review. The change should pass the AA requirement now.

[2019-07-24 20:22] r0hit-gupta commented on #2822
@codeMinter will do that.

[2019-07-24 20:53] kkartunov opened #3011 "[undefined] Attachments is not getting focused while pressing tab key in the support popup."
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3012 "[undefined] [Safari_Chrome] inconsistency in bullet items read out"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3013 "[undefined] "Support" button have not blue highlight when user focus on it using tab"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3014 "[undefined] [Chrome] User profile icon and search icon not read out"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3015 "[undefined] [Edge] The NVDA still read item name when user try to mouse hover outside area of them"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3016 "[undefined] [Firefox] At enable high contrast of windows accessibility page image not visible"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3017 "[undefined] [Firefox] Color and contrast of text over the image not match with WACG standards"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3018 "[undefined] [Firefox] Support button does not focus from keyboard tabbing."
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3019 "[undefined] [Firefox] Text parallel to the image but not use heading element"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3020 "[undefined] [Firefox] Unordered bulleted list are present"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3021 "[undefined] [Firefox][Narrator] Unordered list narrate multiple times"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3022 "[undefined] [safari] - Register button is not selected using tab key"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3023 "[undefined] [Safari] - Support button is read out with previous text in same line"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3024 "[undefined] [Safari] [voiceover] Contact us field title are read twice"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3025 "[undefined] [Safari] [voiceover] Error message in contact us window field are not read out by voiceover"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3026 "[undefined] [Safari] Cancel and send buttons are not focus visible"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:53] kkartunov opened #3027 "[undefined] [Safari] Find new member box is not selected but readout text inside box"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3028 "[undefined] [Safari] Login and Join button are read out as one button"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3029 "[undefined] [Safari] Register button is read out as register link"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3030 "[undefined] [safari] Search icon is not focused nor read out as search icon"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3031 "[undefined] [Safari] Support buttons is not focus visible"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3032 "[undefined] All page content must be contained by landmarks"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3033 "[undefined] "Login" button foreground and background colors missed WCAG 2 AA contrast ratio"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3034 "[undefined] Elements must have sufficient color contrast"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3035 "[undefined] 'Find members by username or skill' textbox doesn't have associated label."
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3036 "[undefined] Form elements must have labels"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3037 "[undefined] Frames must have title attribute"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3038 "[undefined] Id attribute value must be unique"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3039 "[undefined] Letter, Word and paragraph spacing issue"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3040 "[undefined] Links must have discernible text"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3041 "[undefined] Page must contain a level-one heading"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3042 "[undefined] Social media icons do not have appropriate labels."
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3043 "[undefined] Space between word separator / in paragraph"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3044 "[undefined] The <html> element does not have a lang attribute"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3045 "[undefined] The NVDA doesn't read "Facebook/ Twitter/ LinkedIn/ Instagram " icons name when user try to mouse hover on them"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3046 "[undefined] The NVDA doesn't read link in sub-menu when user try to mouse hover on them"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:54] kkartunov opened #3047 "[undefined] The NVDA doesn't read the all items in the footer-menu when user try to mouse hover on them"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:55] kkartunov opened #3048 "[undefined] Title of the page doesn't have 'topcoder' in it. It should be 'Community - Accessibility Testing | Topcoder'."
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:55] kkartunov opened #3049 "[undefined] Topcoder Handle contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:55] kkartunov opened #3050 "[undefined] User can't access the sub-menus on the Compete, Tracks and Community"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:55] kkartunov opened #3051 "[undefined] User can't focus on the "COMPETE" and "COMMUNITY" items on the header using tab"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:55] kkartunov opened #3052 "[undefined] User can't focus on the "Topcoder handle" and "Search" icon in the top right using tab"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:55] kkartunov opened #3053 "[undefined] User can't focus on the 'Attachments' item using tab"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:55] kkartunov opened #3054 "[undefined] User have to press tab key two time to focus on item in the sub-menu"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 20:55] kkartunov opened #3055 "[undefined] When user focus on the search button via tab key Focus is not visible"
**Steps to Reproduce**
undefined

**Expected Result**
undefined

**Actual Result**
undefined

**Device**: undefined
**Operating System**: undefined
**Browser**: undefined

**WCAG Category**: undefined
**WCAG Level**: undefined
**WCAG Success Criterion**: undefined
**Screen Reader Used**: undefined
**Accessibility Audit Tool used**: undefined

**Attachment**
undefined

[2019-07-24 21:06] nithyaasworld commented on #2888
@veshu @tosha5252

1. "Forgot your password" and "Join Now" links still have the old colour.
2. The colours are hard-coded instead of changing the variable's value. Please confirm if this is a good practice. For a similar issue, the other developer has fixed the variable [here](https://github.com/appirio-tech/accounts-app/pull/222/files) instead of hard-coding which looks good to me.

Thanks.

[2019-07-24 21:14] #3031 closed

[2019-07-24 21:14] #3032 closed

[2019-07-24 21:14] #3033 closed

[2019-07-24 21:14] #3034 closed

[2019-07-24 21:14] #3035 closed

[2019-07-24 21:14] #3036 closed

[2019-07-24 21:14] #3037 closed

[2019-07-24 21:14] #3038 closed

[2019-07-24 21:14] #3039 closed

[2019-07-24 21:14] #3040 closed

[2019-07-24 21:14] #3041 closed

[2019-07-24 21:14] #3042 closed

[2019-07-24 21:14] #3043 closed

[2019-07-24 21:14] #3044 closed

[2019-07-24 21:14] #3045 closed

[2019-07-24 21:14] #3046 closed

[2019-07-24 21:14] #3047 closed

[2019-07-24 21:14] #3048 closed

[2019-07-24 21:14] #3049 closed

[2019-07-24 21:14] #3050 closed

[2019-07-24 21:14] #3051 closed

[2019-07-24 21:14] #3052 closed

[2019-07-24 21:14] #3053 closed

[2019-07-24 21:14] #3054 closed

[2019-07-24 21:14] #3055 closed

[2019-07-24 21:14] #3011 closed

[2019-07-24 21:14] #3012 closed

[2019-07-24 21:14] #3013 closed

[2019-07-24 21:14] #3014 closed

[2019-07-24 21:14] #3015 closed

[2019-07-24 21:14] #3016 closed

[2019-07-24 21:14] #3017 closed

[2019-07-24 21:14] #3018 closed

[2019-07-24 21:14] #3019 closed

[2019-07-24 21:14] #3020 closed

[2019-07-24 21:14] #3021 closed

[2019-07-24 21:14] #3022 closed

[2019-07-24 21:14] #3023 closed

[2019-07-24 21:14] #3024 closed

[2019-07-24 21:14] #3025 closed

[2019-07-24 21:14] #3026 closed

[2019-07-24 21:14] #3027 closed

[2019-07-24 21:14] #3028 closed

[2019-07-24 21:14] #3029 closed

[2019-07-24 21:14] #3030 closed

[2019-07-24 21:14] nithyaasworld commented on #2888
CC: @Dara-K @mishacucicea @nkumar-topcoder

[2019-07-24 21:29] Dara-K commented on #2745
@r0hit-gupta I have updated the color pallette we use for TC in particular the dark shades of color: https://marvelapp.com/c7h2a6h/screen/59648056/handoff

For your question:
On development: green shape with Cd and TCO text should be # 258205
On design: blue shape and TCO text should be # 0076A5
On MM: orange shape and TCO text should be # BA4C00

[2019-07-24 21:34] mishacucicea commented on #2767
@PrakashDurlabhji Approved, made some changes myself to avoid too many feedback loops (next time will reject).
Please don't treat the items superficially, reuse existing colors  (define them in the tc-ui-variables.scss if they are not there), if something doesn't look good, ask don't just try to minimally satisfy the requirements.

@tosha5252 , @Dara-K The button text color was changed to white to

[2019-07-24 21:51] ThomasKranitsas commented on #3001
[500]: Challenge for the updated issue 3001 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-24 21:51] ThomasKranitsas commented on #3001
[500]: Challenge for the updated issue 3001 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-24 21:55] ThomasKranitsas commented on #3001
Contest https://www.topcoder.com/challenges/30096712 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-24 21:58] codeMinter commented on #2792
I used local setup when verified and worked fine, most of time I run local in PROD mode to make sure everything comes up fine.

[2019-07-24 22:06] cwdcwd commented on #3001
Contest https://www.topcoder.com/challenges/30096712 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:13] cwdcwd commented on #2996
Contest https://www.topcoder.com/challenges/30096713 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:17] cwdcwd commented on #2996
Contest https://www.topcoder.com/challenges/30096713 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:21] cwdcwd commented on #2912
@tc-mfikria, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:25] cwdcwd commented on #2912
Contest https://www.topcoder.com/challenges/30096714 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:31] cwdcwd commented on #2912
Contest https://www.topcoder.com/challenges/30096714 has been updated - it has been assigned to mfikria.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:36] cwdcwd commented on #2911
Contest https://www.topcoder.com/challenges/30096715 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:36] cwdcwd commented on #2911
Contest https://www.topcoder.com/challenges/30096715 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:38] cwdcwd commented on #2911
Contest https://www.topcoder.com/challenges/30096715 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:43] cwdcwd commented on #2908
Contest https://www.topcoder.com/challenges/30096719 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:43] cwdcwd commented on #2907
Contest https://www.topcoder.com/challenges/30096722 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:43] cwdcwd commented on #2905
Contest https://www.topcoder.com/challenges/30096725 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:43] cwdcwd commented on #2904
Contest https://www.topcoder.com/challenges/30096727 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:44] cwdcwd commented on #2906
Contest https://www.topcoder.com/challenges/30096724 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:45] cwdcwd commented on #2899
Contest https://www.topcoder.com/challenges/30096731 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:45] cwdcwd commented on #2909
Contest https://www.topcoder.com/challenges/30096733 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:48] cwdcwd commented on #2903
Contest https://www.topcoder.com/challenges/30096737 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:48] cwdcwd commented on #2902
Contest https://www.topcoder.com/challenges/30096738 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:48] cwdcwd commented on #2909
Contest https://www.topcoder.com/challenges/30096733 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:48] cwdcwd commented on #2900
Contest https://www.topcoder.com/challenges/30096739 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:48] cwdcwd commented on #2910
[500]: Challenge for the updated issue 2910 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:48] cwdcwd commented on #2910
[500]: Challenge for the updated issue 2910 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:48] cwdcwd commented on #2908
Contest https://www.topcoder.com/challenges/30096719 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:49] cwdcwd commented on #2901
[500]: Challenge for the updated issue 2901 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:49] cwdcwd commented on #2901
[500]: Challenge for the updated issue 2901 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:49] cwdcwd commented on #2907
Contest https://www.topcoder.com/challenges/30096722 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:50] cwdcwd commented on #2898
[500]: Challenge for the updated issue 2898 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:50] cwdcwd commented on #2898
[500]: Challenge for the updated issue 2898 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:50] cwdcwd commented on #2898
[500]: Challenge for the updated issue 2898 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:50] cwdcwd commented on #2896
[500]: Challenge for the updated issue 2896 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:50] cwdcwd commented on #2906
Contest https://www.topcoder.com/challenges/30096724 has been updated - it has been assigned to paccode.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:50] cwdcwd commented on #2896
Contest https://www.topcoder.com/challenges/30096741 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:50] cwdcwd commented on #2897
[500]: Challenge for the updated issue 2897 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:50] cwdcwd commented on #2897
[500]: Challenge for the updated issue 2897 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:50] cwdcwd commented on #2905
Contest https://www.topcoder.com/challenges/30096725 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:50] cwdcwd commented on #2903
Contest https://www.topcoder.com/challenges/30096737 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:51] cwdcwd commented on #2902
Contest https://www.topcoder.com/challenges/30096738 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:52] cwdcwd commented on #2896
Contest https://www.topcoder.com/challenges/30096741 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:52] cwdcwd commented on #2910
Contest https://www.topcoder.com/challenges/30096744 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:54] cwdcwd commented on #2901
[500]: Challenge for the updated issue 2901 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:55] cwdcwd commented on #2897
[500]: Challenge for the updated issue 2897 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:55] cwdcwd commented on #2898
[504]: Failed to create challenge.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:55] cwdcwd commented on #2894
Contest https://www.topcoder.com/challenges/30096746 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:55] cwdcwd commented on #2898
[504]: Failed to create challenge.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 22:59] cwdcwd commented on #2901
Contest https://www.topcoder.com/challenges/30096747 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:00] cwdcwd commented on #2897
[504]: Failed to create challenge.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:00] cwdcwd commented on #2897
[504]: Failed to create challenge.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:01] cwdcwd commented on #2910
Contest https://www.topcoder.com/challenges/30096744 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:01] cwdcwd commented on #2898
Contest https://www.topcoder.com/challenges/30096749 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:02] cwdcwd commented on #2904
Contest https://www.topcoder.com/challenges/30096727 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:02] cwdcwd commented on #2901
Contest https://www.topcoder.com/challenges/30096747 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:02] cwdcwd commented on #2898
Contest https://www.topcoder.com/challenges/30096749 has been updated - it has been assigned to sadathanwar17.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:04] cwdcwd commented on #2897
Contest https://www.topcoder.com/challenges/30096750 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:05] cwdcwd commented on #2885
Contest https://www.topcoder.com/challenges/30096756 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:05] cwdcwd commented on #2892
Contest https://www.topcoder.com/challenges/30096755 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:05] cwdcwd commented on #2882
Contest https://www.topcoder.com/challenges/30096757 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:05] cwdcwd commented on #2887
Contest https://www.topcoder.com/challenges/30096758 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:06] cwdcwd commented on #2880
Contest https://www.topcoder.com/challenges/30096760 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:06] cwdcwd commented on #2886
Contest https://www.topcoder.com/challenges/30096759 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:06] cwdcwd commented on #2880
Contest https://www.topcoder.com/challenges/30096760 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:06] cwdcwd commented on #2884
Contest https://www.topcoder.com/challenges/30096761 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:06] cwdcwd commented on #2881
Contest https://www.topcoder.com/challenges/30096765 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:07] cwdcwd commented on #2883
Contest https://www.topcoder.com/challenges/30096762 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:07] cwdcwd commented on #2879
Contest https://www.topcoder.com/challenges/30096769 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:07] cwdcwd commented on #2878
Contest https://www.topcoder.com/challenges/30096771 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:09] cwdcwd commented on #2870
Contest https://www.topcoder.com/challenges/30096782 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:10] cwdcwd commented on #2889
[500]: Challenge for the updated issue 2889 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:10] cwdcwd commented on #2890
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:10] cwdcwd commented on #2890
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2890
[500]: Challenge for the updated issue 2890 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2889
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2889
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2888
[500]: Challenge for the updated issue 2888 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2890
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2890
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2868
Contest https://www.topcoder.com/challenges/30096798 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2891
[500]: Challenge for the updated issue 2891 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2888
[500]: Challenge for the updated issue 2888 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2888
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2888
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2891
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2891
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2889
[500]: Challenge for the updated issue 2889 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2889
[500]: Challenge for the updated issue 2889 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:11] cwdcwd commented on #2877
Contest https://www.topcoder.com/challenges/30096801 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:12] cwdcwd commented on #2889
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:12] cwdcwd commented on #2889
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:12] cwdcwd commented on #2888
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:12] cwdcwd commented on #2888
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2876
[500]: Challenge for the updated issue 2876 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2876
[500]: Challenge for the updated issue 2876 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2869
Contest https://www.topcoder.com/challenges/30096817 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2871
[500]: Challenge for the updated issue 2871 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2871
[500]: Challenge for the updated issue 2871 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2872
[500]: Challenge for the updated issue 2872 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2876
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2876
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2873
[500]: Challenge for the updated issue 2873 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2873
[500]: Challenge for the updated issue 2873 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2873
[500]: Challenge for the updated issue 2873 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2872
[500]: Challenge for the updated issue 2872 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2872
[500]: Challenge for the updated issue 2872 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2875
[500]: Challenge for the updated issue 2875 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:13] cwdcwd commented on #2874
[500]: Challenge for the updated issue 2874 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:14] cwdcwd commented on #2873
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:14] cwdcwd commented on #2873
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:14] cwdcwd commented on #2874
[500]: Challenge for the updated issue 2874 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:14] cwdcwd commented on #2874
[500]: Challenge for the updated issue 2874 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:14] cwdcwd commented on #2875
[500]: Challenge for the updated issue 2875 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:14] cwdcwd commented on #2875
[500]: Challenge for the updated issue 2875 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:14] cwdcwd commented on #2872
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:14] cwdcwd commented on #2872
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:14] cwdcwd commented on #2871
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:14] cwdcwd commented on #2871
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:15] cwdcwd commented on #2874
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:15] cwdcwd commented on #2874
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:15] cwdcwd commented on #2875
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:15] cwdcwd commented on #2875
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:17] cwdcwd commented on #2825
Contest https://www.topcoder.com/challenges/30096863 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:18] cwdcwd commented on #2856
Contest https://www.topcoder.com/challenges/30096870 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:20] cwdcwd commented on #2855
Contest https://www.topcoder.com/challenges/30096891 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:20] cwdcwd commented on #2861
[500]: Challenge for the updated issue 2861 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:20] cwdcwd commented on #2801
Contest https://www.topcoder.com/challenges/30096897 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:21] cwdcwd commented on #2864
[500]: Challenge for the updated issue 2864 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:21] cwdcwd commented on #2864
[500]: Challenge for the updated issue 2864 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:21] cwdcwd commented on #2861
[500]: Challenge for the updated issue 2861 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:21] cwdcwd commented on #2861
[500]: Challenge for the updated issue 2861 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:21] cwdcwd commented on #2865
[500]: Challenge for the updated issue 2865 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:22] cwdcwd commented on #2842
[500]: Challenge for the updated issue 2842 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:22] cwdcwd commented on #2858
[500]: Challenge for the updated issue 2858 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:22] cwdcwd commented on #2858
[500]: Challenge for the updated issue 2858 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:22] cwdcwd commented on #2864
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:22] cwdcwd commented on #2864
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:22] cwdcwd commented on #2842
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:22] cwdcwd commented on #2842
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:23] cwdcwd commented on #2849
[500]: Challenge for the updated issue 2849 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:24] mishacucicea commented on #2791
@PrakashDurlabhji Please take a look at the login page and change styling so that focusing will also change put the links in a selection rectangle.
![image](https://user-images.githubusercontent.com/1721199/61835141-47333d80-ae83-11e9-9a14-f1edd685d6aa.png)

[2019-07-24 23:24] cwdcwd commented on #2861
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:24] cwdcwd commented on #2861
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:25] cwdcwd commented on #2858
[500]: Challenge for the updated issue 2858 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:25] cwdcwd commented on #2858
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-24 23:25] cwdcwd commented on #2858
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for lazybaer via Topcoder X```