[2020-05-27 10:59] SathyaJayabal commented on #4407
verified on test env

<img width="1440" alt="Screenshot 2020-05-27 at 4 17 36 PM" src="https://user-images.githubusercontent.com/58783823/83011204-20abd900-a037-11ea-99ae-7c86bf0f35ad.png">
<img width="1440" alt="Screenshot 2020-05-27 at 4 28 16 PM" src="https://user-images.githubusercontent.com/58783823/83011226-299caa80-a037-11ea-9d42-80868d92ac5f.png">
<img width="1440" alt="Screenshot 2020-05-

[2020-05-27 11:01] SathyaJayabal commented on #4405
verified in test
<img width="1440" alt="Screenshot 2020-05-27 at 4 30 16 PM" src="https://user-images.githubusercontent.com/58783823/83011413-72ecfa00-a037-11ea-8d83-3ea11ac6b085.png">
<img width="1440" alt="Screenshot 2020-05-27 at 4 30 27 PM" src="https://user-images.githubusercontent.com/58783823/83011433-7a140800-a037-11ea-8652-015a148f7d8a.png">

[2020-05-27 11:07] sushilshinde commented on #4428
https://github.com/topcoder-platform/challenge-api/issues/133

[2020-05-27 11:09] crazyk07 commented on #4429
Contest https://www.topcoder.com/challenges/30126887 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-27 11:20] SathyaJayabal opened #4430 "[$60]Challenge Details: Eligible events section not displayed"
V5 URL: https://beta-community-app.topcoder.com/challenges/d9c74629-762f-4464-9753-ebd982c7990f

V4 URL: https://www.topcoder.com/challenges/30106190
<img width="1440" alt="Screenshot 2020-05-27 at 4 49 36 PM" src="https://user-images.githubusercontent.com/58783823/83013121-1939ff00-a03a-11ea-9405-0d3a1dac5f90.png">
<img width="1440" alt="Screenshot 2020-05-27 at 4 48 20 PM" src="https://user-imag

[2020-05-27 11:25] SathyaJayabal commented on #4430
FYI: This issue  was  tested on production backend. Please use the given urls to compare
V5 URL: https://beta-community-app.topcoder.com/challenges/d9c74629-762f-4464-9753-ebd982c7990f
V4 URL: https://www.topcoder.com/challenges/30106190

[2020-05-27 11:29] crazyk07 commented on #4430
Contest https://www.topcoder.com/challenges/30126891 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-27 11:29] crazyk07 commented on #4430
Contest https://www.topcoder.com/challenges/30126891 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-27 11:32] crazyk07 commented on #4406
Contest https://www.topcoder.com/challenges/30126892 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-27 11:32] crazyk07 commented on #4406
Contest https://www.topcoder.com/challenges/30126892 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-27 11:33] lakshmiathreya commented on #4401
<img width="1679" alt="Screenshot 2020-05-27 at 4 59 23 PM" src="https://user-images.githubusercontent.com/51733042/83014135-c9f4ce00-a03b-11ea-9e2a-20231d3970df.png">
<img width="1678" alt="Screenshot 2020-05-27 at 5 00 22 PM" src="https://user-images.githubusercontent.com/51733042/83014146-d0834580-a03b-11ea-9b0e-05bf7ec163a8.png">
<img width="1636" alt="Screenshot 2020-05-27 at 5 01 12 PM" src=

[2020-05-27 11:43] lakshmiathreya commented on #4403
Sub track filter working as expected.
<img width="1635" alt="Screenshot 2020-05-27 at 5 07 37 PM" src="https://user-images.githubusercontent.com/51733042/83015019-69669080-a03d-11ea-8dfc-8f9a555e61b9.png">
<img width="1635" alt="Screenshot 2020-05-27 at 5 08 01 PM" src="https://user-images.githubusercontent.com/51733042/83015035-6d92ae00-a03d-11ea-8936-1fde866e7dfe.png">

[2020-05-27 11:46] ThomasKranitsas commented on #4383
This issue is because we're passing the user handle as `memberId` instead of the user ID.
Should we update the react lib to:
- Call the members API to fetch the user ID?
- Call the challenges API using the user ID from the above call?

cc @sushilshinde @rootelement

[2020-05-27 11:49] SathyaJayabal commented on #4401
Sort working for all options

[2020-05-27 11:54] SathyaJayabal commented on #4404
@simranb86 , please do add for all sub
<img width="1440" alt="Screenshot 2020-05-27 at 5 21 40 PM" src="https://user-images.githubusercontent.com/58783823/83015944-d4fd2d80-a03e-11ea-8f81-64448475def1.png">
tracks ( you can find the list in the subtracks filter dropdown.
<img width="1440" alt="Screenshot 2020-05-27 at 5 21 34 PM" src="https://user-images.githubusercontent.com/58783823/83015923-cdd

[2020-05-27 11:55] ThomasKranitsas commented on #4393
Currently, we're passing multiple group IDs as `groupIds` (eg https://api.topcoder-dev.com/v5/challenges/?groupIds=20000010%2C20000043&status=Active&perPage=50&page=1)

The V5 does not support that. It only accepts a `group` parameter which is a group name.

How should we handle this?

@sushilshinde @rootelement

[2020-05-27 12:36] sushilshinde commented on #4393
@ThomasKranitsas starting a discussion on slack

[2020-05-27 13:12] narekcat commented on #4414
@sushilshinde @SathyaJayabal @lakshmiathreya - Will you give me compensation for my efforts?

[2020-05-27 13:33] luizrrodrigues commented on #4380
@lakshmiathreya which env you check the registrant's tab?

![](https://user-images.githubusercontent.com/51733042/83011129-03770a80-a037-11ea-9e13-2908744e48e6.png)

[2020-05-27 13:57] luizrrodrigues commented on #4408
@mtwomey Working on this right now, plan to complete today.

[2020-05-27 13:58] luizrrodrigues commented on #4394
@SathyaJayabal This one will be next, I'm plan to complete between today and tomorrow.

[2020-05-27 14:57] luizrrodrigues commented on #4408
**UPDATE**: Currently we have an issue to get registrants from the challenge. Tracking the request here: https://github.com/topcoder-platform/community-app/issues/4381#issuecomment-634379496

[2020-05-27 15:24] rootelement commented on #4393
@ThomasKranitsas we're going to have to add a GET body like ES does for filtering on GroupIds, because they'll blow the query limit too quickly. Can you add this and update the swagger?

[2020-05-27 15:33] rootelement commented on #4381
This call will have to be proxied by the Community App backend using a challenge api m2m on behalf of the current user and filter the results correctly.

[2020-05-27 15:52] simranb86 commented on #4376
discussed with @sushilshinde  , waiting for direction we take to solve this.

[2020-05-27 21:17] PrakashDurlabhji commented on #4420
@sushilshinde your comment implemented in PR https://github.com/topcoder-platform/community-app/pull/4432

[2020-05-27 23:31] simranb86 commented on #4404
@SathyaJayabal Sure, mapping to all challenge types supported by challenge-api ( `curl -X GET "https://api.topcoder.com/v5/challenge-types?page=1&perPage=20" -H "accept: application/json"` ), I would need description for below like provided for TEST_SUITES

- TEST_SCENARIOS
- RIA_BUILD_COMPETITION
- CONTENT_CREATION
- SPECIFICATION
- TASK
- AUTOMATED_TESTING
- COPILOT_POSTING
- DESIGN

[2020-05-27 23:38] simranb86 commented on #4430
@sushilshinde @rootelement can you help how do we get events from challenge-api, I don't see any placeholder on API response for `curl -X GET "https://api.topcoder.com/v5/challenges/:challengeId" -H "accept: application/json"` ?

[2020-05-28 00:17] rashmi73 commented on #4429
@sushilshinde @rootelement  we need finalSubmissionGuidelines property in api response.

1. hit https://api.topcoder-dev.com/v5/challenges/?id=2b8e84ea-656c-4ee5-bf1d-7030b50d2e9a
2. observe the response doesnt have "finalSubmissionGuidelines" property hence block is hidden on details page.
3. I see challenge-api repo needs modification to include "finalSubmissionGuidelines" property in response w

[2020-05-28 00:40] rootelement commented on #4429
No, final guideline submissions were removed in v5. When data is migrated forward into v5, Final Guideline Submissions were appended onto the challenge spec.

[2020-05-28 03:42] SathyaJayabal commented on #4429
@rootelement in that case can you check the migration script please as none of the migrated challenges have the final submission guidelines ?

cc @sushilshinde

[2020-05-28 04:15] SathyaJayabal commented on #4380
@luizrrodrigues , we used the v4  build  (qa env) to chk the registrants list to make sure the user is not already registered to the   challenges before trying to register from the  V5  build  (test env). Let me know if  you need more information.

[2020-05-28 04:34] simranb86 commented on #4404
@lakshmiathreya @Oanh-and-only-Oanh fyi too ☝️

[2020-05-28 05:12] SathyaJayabal opened #4433 "Notifications: Links to challenge from notifications must be in new format"
User  cred: jcori/appirio123

1. Go to Notifications page https://test-community-app.topcoder-dev.com/notifications
or
1. Open notifications popup from header.

2. Click on challenge related notification

expected url format:https://test-community-app.topcoder-dev.com/challenges/2b8e84ea-656c-4ee5-bf1d-7030b50d2e9a
actual url format:https://test-community-app.topcoder-dev.com/challenges/30048648

[2020-05-28 05:29] rootelement commented on #4393
This is implemented on dev, however it's an AND search. If you

[code]
It will only return challenges in _both_ of those group ids. So please implement with the expectation that it will retrieve challenge in either group A or group B in the near future. Also, please note that is a GET with a body, not a query string. We did that so we can filter on multiple UUIDs and not blow out the query string

[2020-05-28 06:01] SathyaJayabal opened #4434 "Contentful pages: Challenge url format must be in new format"
There are many contentful pages where there are links to challenge details. These challenge URLs are in V4 format. It should be in the new format

Expected URL format:  https://test-community-app.topcoder-dev.com/challenges/50a59121-0100-42fb-a7b5-329b3702bf00
Actual URL format: https://test-community-app.topcoder-dev.com/challenges/30120975

Example Pages:
https://test-community-app.topcoder-dev.

[2020-05-28 06:05] crazyk07 commented on #4384
Contest https://www.topcoder.com/challenges/30126379 has been updated - sr_jr has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-28 06:06] crazyk07 commented on #4384
Contest https://www.topcoder.com/challenges/30126379 has been updated - sr_jr has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-28 06:06] crazyk07 commented on #4384
Contest https://www.topcoder.com/challenges/30126379 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-28 06:25] crazyk07 commented on #4375
Contest https://www.topcoder.com/challenges/30126384 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-28 06:37] simranb86 commented on #4406
@rootelement @sushilshinde I see this is a backend issue (challenge-api), look at response of below APIs:

https://api.topcoder-dev.com/v4/challenges/?status=PAST&perPage=50&page=1
https://api.topcoder-dev.com/v5/challenges/?status=Completed&perPage=50&page=1

[2020-05-28 06:46] sushilshinde commented on #4420
Thanks @PrakashDurlabhji will merge later today

[2020-05-28 07:06] simranb86 commented on #4375
@SathyaJayabal @sushilshinde what can I use to compare this with? What is expected challenges count here ? any reference point

[2020-05-28 07:14] SathyaJayabal commented on #4375
@simranb86 Compare with V4 challenge count in production backend as all challenges have been migrated in prod.
V5 : https://beta-community-app.topcoder.com/challenges?
V4 :  https://www.topcoder.com/challenges?

@sushilshinde , we can compare with dev backend too once all challenges are migrated in dev. Please let us know when thats done
ref:https://topcoder.slack.com/archives/G012CL5GF71/p1590507

[2020-05-28 07:27] simranb86 commented on #4375
@SathyaJayabal so we are saying we only have PROD data on challenges-api being used V5 ? Because if we are adding more challenges in V5 for this integration testing, then results cannot be same.

[2020-05-28 07:27] sushilshinde commented on #4375
Also compare beta vs production

[2020-05-28 07:31] sushilshinde commented on #4434
@kkartunov how are you adding these challenges?

[2020-05-28 07:33] sushilshinde commented on #4434
@SathyaJayabal this link is not working
https://test-community-app.topcoder.com/__community__/comcast/explore

[2020-05-28 07:37] SathyaJayabal commented on #4434
@sushilshinde
https://test-community-app.topcoder-dev.com/__community__/comcast/explore

please add dan_developer to comcast community/group

[2020-05-28 07:39] SathyaJayabal commented on #4375
@simranb86 please confirm up with @rootelement about the frequency of the data sync up between the v4 and v5 backends (both on prod and dev)

cc  @sushilshinde

[2020-05-28 07:55] simranb86 commented on #4375
@rootelement  can you confirm we are not having any other challenges on V5 other than what are coming from V4 else this comparison doesn't sounds right here and its too difficult to do one by one comparison for each challenge being returned between V4 and V5 ?

[2020-05-28 08:06] sushilshinde opened #4435 "[$70]Implement backward compatibility for legacy challenge urls(v4)"
Resolve legacy challenge ID(v4) to new Challenge ID (v5)

1. Whenever there is a route request with legacy challenge ID `https://<domain>/challenges/<legacyId>`
eg. `https://www.topcoder.com/challenges/30108180`

2. Intercept route request and call `https://<apidomain>/v5/challenges?legacyId=<legacy id>`
eg. `https://api.topcoder.com/v5/challenges?legacyId=30108180`

3. Read `id`
[code]

4. Change

[2020-05-28 08:08] kkartunov commented on #4434
@SathyaJayabal this will be handled by https://github.com/topcoder-platform/community-app/issues/4435

[2020-05-28 08:16] sushilshinde commented on #4433
This will be done from the backend as well as https://github.com/topcoder-platform/community-app/issues/4435

[2020-05-28 08:20] SathyaJayabal commented on #4434
@sushilshinde @kkartunov , we will close this with #4435

[2020-05-28 08:31] sushilshinde commented on #4435
@cagdas001 not yet open for pickup

[2020-05-28 08:35] cagdas001 commented on #4435
You said so?

[2020-05-28 08:36] sushilshinde commented on #4435
Paste mistake sorry about that.

[2020-05-28 08:41] crazyk07 commented on #4435
Contest https://www.topcoder.com/challenges/30126939 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-28 08:41] crazyk07 commented on #4435
Contest https://www.topcoder.com/challenges/30126939 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-28 10:59] sushilshinde commented on #4420
@SathyaJayabal This issue will be resolved by https://github.com/topcoder-platform/community-app/issues/4435

@PrakashDurlabhji you will be paid for your efforts on this ticket

[2020-05-28 11:03] sushilshinde commented on #4414
@narekcat $50 was for the full fix

[2020-05-28 11:18] PrakashDurlabhji commented on #4420
@sushilshinde thanks

[2020-05-28 11:18] sushilshinde commented on #4383
@ThomasKranitsas will this work?

https://github.com/topcoder-platform/community-app/pull/4432/files

[2020-05-28 11:31] narekcat commented on #4414
@sushilshinde Ok

[2020-05-28 11:49] SathyaJayabal opened #4436 "[$40]Open for review bucket: Some challenges have empty tags"
https://test-community-app.topcoder-dev.com/challenges?bucket=reviewOpportunities

<img width="1440" alt="Screenshot 2020-05-28 at 5 18 24 PM" src="https://user-images.githubusercontent.com/58783823/83137749-4dc7bc80-a107-11ea-81fa-2730538c96dc.png">

[2020-05-28 11:56] SathyaJayabal commented on #4402
verified on beta and test
[4402_beta.mov.zip](https://github.com/topcoder-platform/community-app/files/4695308/4402_beta.mov.zip)
[4402_test.mov.zip](https://github.com/topcoder-platform/community-app/files/4695309/4402_test.mov.zip)

[2020-05-28 12:08] sushilshinde commented on #4378
@luizrrodrigues why dint send it for review, are you waiting for other dependencies to finish?

Or Shall I merge this?

[2020-05-28 12:10] sushilshinde commented on #4393
https://github.com/topcoder-platform/challenge-api/issues/134

[2020-05-28 12:11] ThomasKranitsas commented on #4393
@sushilshinde
This will also require frontend changes to:
1. Use the UUIDs instead of the legacy IDs
2. Pass them in the request body instead of the query string

[2020-05-28 12:12] sushilshinde commented on #4393
ok, once we have API issues resolved I will change label.

Let me know once you have a PR after the api fix

[2020-05-28 12:15] lakshmiathreya commented on #4354
@SathyaJayabal @kkartunov - let's close this only after assigning the correct milestone.

[2020-05-28 12:16] lakshmiathreya commented on #4353
@SathyaJayabal @kkartunov let's close this only after assigning the correct milestone.

[2020-05-28 12:49] SathyaJayabal commented on #4380
@luizrrodrigues verified on test and beta
Getting the following error on test
https://test-community-app.topcoder-dev.com/challenges/8d5dd850-d275-4948-8678-793c1f4a6925
user:dan_developer/dantopcoder123
The user is not currently registered to the challenge
<img width="1440" alt="Screenshot 2020-05-28 at 6 03 17 PM" src="https://user-images.githubusercontent.com/58783823/83141621-9f734580-a10d-11e

[2020-05-28 12:50] SathyaJayabal commented on #4380
cc @sushilshinde

[2020-05-28 12:56] SathyaJayabal commented on #4353
verified on prod
<img width="1440" alt="Screenshot 2020-05-28 at 6 25 31 PM" src="https://user-images.githubusercontent.com/58783823/83144199-ab143b80-a110-11ea-8ef9-a7c783e54e54.png">

[2020-05-28 12:56] #4353 closed

[2020-05-28 13:12] SathyaJayabal commented on #4354
verified on prod for the example article.
 As per @kkartunov  the rest of the articles will support the hyphen format when the hyphen slug is enabled in contentful

<img width="1440" alt="Screenshot 2020-05-28 at 6 40 38 PM" src="https://user-images.githubusercontent.com/58783823/83145780-f891a800-a112-11ea-8c83-d22d22a649ae.png">
<img width="1440" alt="Screenshot 2020-05-28 at 6 40 53 PM" src="ht

[2020-05-28 13:12] #4354 closed

[2020-05-28 15:05] rootelement commented on #4429
This is available in dev and is currently being updated:
http://api.topcoder-dev.com/v5/challenges/5f94881b-5d64-4c92-b43e-df5f0cf93dfe

Please give some time for it to finish.

[2020-05-28 16:06] luizrrodrigues commented on #4378
@sushilshinde yes, waiting for add SRM type in ‘challengeTypes’ endpoint, because if rest now paga will load, but will show alert about no able to find SRM type.

[2020-05-28 16:10] sushilshinde commented on #4378
Ok let's wait then

[2020-05-28 17:04] luizrrodrigues commented on #4380
@SathyaJayabal for now, we need to watch the API return. When the user successfully registered the return will show like this:
![image](https://user-images.githubusercontent.com/7029641/83171097-f8ca7d00-a0eb-11ea-8be9-ee0b2297bcf7.png)
`created`
`createdBy`

-----

Not sure if what we do in v5 will show up in v4.

[2020-05-29 03:07] simranb86 commented on #4384
@SathyaJayabal I have tried several challenges but not able to register. We don't see My Challenges because the count of my challenges is 0. Can you help register dan_developer to few challenges so I can continue work on this ?

@sushilshinde FYI ☝️

[2020-05-29 03:17] SathyaJayabal commented on #4404
@simranb86 , here are a few
Test scenarios- "Provide simple, easy information about what to test"
Content creation- "Generate topic ideas as a blog, video, infographic, or other format"
Specification- "Document requirements to be satisfied for design, product, or service"
Design- "Prepare the visual sketch or the plans for a website, feature, app, etc"
Task- "An assigned piece of work"
Will get th

[2020-05-29 03:22] SathyaJayabal commented on #4384
@simranb86 , according to @luizrrodrigues #4380 , we should be able to register in v5.
Please see comment
https://github.com/topcoder-platform/community-app/issues/4380#issuecomment-635474635

@luizrrodrigues can you please take a look ?

[2020-05-29 03:29] SathyaJayabal commented on #4384
@simranb86 also, dan_developer was already registered for many challenges (62) and as part of the challenge migration, the registrants details should also should have been carried over during the migration.

@sushilshinde please check and flag James if this is a data migration/api issue.

[2020-05-29 03:36] SathyaJayabal commented on #4384
@simranb86 , this may also help you. The my challenges section was displayed in sushil's version of the V5 integration branch (https://github.com/topcoder-platform/community-app/issues/4384#issuecomment-632447911)

You can find the code here:
https://github.com/topcoder-platform/community-app/tree/feature-challenge-v5-sushil
https://github.com/topcoder-platform/topcoder-react-lib/tree/feature-chal

[2020-05-29 04:05] luizrrodrigues commented on #4384
@SathyaJayabal

cc @sushilshinde

Okay, I can take a look at this, currently, I'm working in the Details page.

[2020-05-29 05:16] simranb86 commented on #4404
Thanks @SathyaJayabal I will add them - sorry could you also help short code for
`TASK: 'Task',` like we have `SPECIFICATION: 'Specification (Sp)',` - I see TASK is new item.

[2020-05-29 05:29] simranb86 commented on #4411
@SathyaJayabal @lakshmiathreya I am not sure why we holding this for some other fix ? This issue is very different from #4384 and my PR does fixes this. If there is some issue with PR, please flag so we can close this.

[2020-05-29 05:37] SathyaJayabal commented on #4411
@simranb86 the issue here is recommended challenges. This section should not show challenges the user is already registered to.
If you compare V4 and V5 (user:dan_developer/dantopcoder123), you can see the two challenges that show up in V5 must not show up.
V4 Url:  https://qa-community-app.topcoder-dev.com/challenges/30051825
V5 Url: https://test-community-app.topcoder-dev.com/challenges/8d5dd850

[2020-05-29 05:38] SathyaJayabal commented on #4404
@simranb86 we could go  with "Tk"

cc @Oanh-and-only-Oanh @lakshmiathreya

[2020-05-29 06:38] sushilshinde commented on #4411
@SathyaJayabal  This issue was about displaying card which was resolved, you can open another issue filtering out registered challenges.

[2020-05-29 07:08] crazyk07 commented on #4435
Contest https://www.topcoder.com/challenges/30126939 has been updated - sr_jr has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 07:09] crazyk07 commented on #4435
Contest https://www.topcoder.com/challenges/30126939 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 07:12] simranb86 commented on #4411
yes @sushilshinde agree. @SathyaJayabal let's handle that in separate ticket.

[2020-05-29 07:12] PrakashDurlabhji commented on #4435
@sushilshinde can I try it?

[2020-05-29 07:14] simranb86 commented on #4404
Sure, will do. So we waiting on 3 items last and then I will update PR as ready to merge, my PR already has all changes shared above, so once I get the pending values, it is just putting them and updating PR to merge.

PR https://github.com/topcoder-platform/community-app/pull/4437

[2020-05-29 07:18] lakshmiathreya commented on #4300
@dushyantb @sushilshinde @SathyaJayabal - Added this Issue to v5 Integration since it was planned for inclusion at this milestone.

[2020-05-29 07:24] sushilshinde commented on #4435
already assigned @PrakashDurlabhji

[2020-05-29 07:25] rashmi73 commented on #4429
@rootelement can I proceed with this now?

[2020-05-29 07:35] sushilshinde commented on #4429
@rashmi73 please go ahead

[2020-05-29 07:35] sushilshinde commented on #4436
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

[2020-05-29 07:37] crazyk07 commented on #4436
Contest https://www.topcoder.com/challenges/30127072 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 07:38] crazyk07 commented on #4436
Contest https://www.topcoder.com/challenges/30127072 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 07:39] PrakashDurlabhji commented on #4436
@sushilshinde if no tags present then no need to show those gray blank boxes correct?

[2020-05-29 07:42] sushilshinde commented on #4406
@rootelement need your help

[2020-05-29 08:05] sushilshinde commented on #4384
@simranb86 @SathyaJayabal if you test on beta. You should have **My Challenges** already there, so how the fix is dependent on other issues?

This should fetch my challenges

https://github.com/topcoder-platform/challenge-api/blob/3be96fea0fb23480747272434b73be3d846f7ed9/docs/swagger.yaml#L206

[2020-05-29 08:10] crazyk07 commented on #4412
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 08:10] crazyk07 commented on #4410
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 08:11] crazyk07 commented on #4409
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 08:11] crazyk07 commented on #4407
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 08:11] crazyk07 commented on #4405
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 08:12] crazyk07 commented on #4403
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 08:12] crazyk07 commented on #4402
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 08:12] crazyk07 commented on #4401
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 08:13] crazyk07 commented on #4379
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 08:30] SathyaJayabal opened #4438 "[$60]Challenge listings: Recommended challenges must not include challenges the user is registered to"
Challenge listings: Recommended challenges must not include challenges the user is registered to
If you compare V4 and V5 (user:dan_developer/dantopcoder123), you can see the two challenges that show up in V5 must not show up.
V4 Url: https://qa-community-app.topcoder-dev.com/challenges/30051825
V5 Url: https://test-community-app.topcoder-dev.com/challenges/8d5dd850-d275-4948-8678-793c1f4a6925
<im

[2020-05-29 08:31] SathyaJayabal commented on #4411
Recommended challenges issue tracked here #4438  @sushilshinde

[2020-05-29 08:33] kkartunov opened #4439 "Update NewsletterSignupForMembers component"
In scope:
- Make the button hidden for members that are already registered, show only for not yet registered members.
- add `theme` parameter to support different button styles
- Add new parameters to [NewsletterSignupForMembers component](https://github.com/topcoder-platform/community-app/blob/develop/docs/contentful/custom-inline-components-in-markdown-fields.md#newslettersignupformembers) to su

[2020-05-29 08:47] sushilshinde commented on #4438
Exclude these challenges

https://github.com/topcoder-platform/challenge-api/blob/3be96fea0fb23480747272434b73be3d846f7ed9/docs/swagger.yaml#L206

[2020-05-29 09:12] sushilshinde commented on #4436
Yes

[2020-05-29 09:24] crazyk07 commented on #4438
Contest https://www.topcoder.com/challenges/30127102 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 09:28] crazyk07 commented on #4438
Contest https://www.topcoder.com/challenges/30127102 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-29 11:04] PrakashDurlabhji commented on #4436
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/4440

[2020-05-29 14:19] narekcat commented on #4438
@SathyaJayabal @sushilshinde - The member dan_developer registered to one challenge, to see list of challenges go to [here](https://api.topcoder-dev.com/v5/challenges?perPage=50&page=1&memberId=40152905).
![image](https://user-images.githubusercontent.com/11549629/83269876-c0ed3380-a1d8-11ea-91e1-b15b303a9a4c.png)
That challenge is non of shown above. I have tested in my local machine and it works

[2020-05-29 14:41] rootelement commented on #4430
This has to be migrated. Working on adding this to the metadata object. it will be as such:
[code]

[2020-05-29 14:46] rootelement commented on #4430
it gets id, event_desc, and event_short_desc

[2020-05-29 16:51] rootelement commented on #4430
This is done in dev:
http://api.topcoder-dev.com/v5/challenges?legacyId=30051154

Will run on prod overnight

[2020-05-29 17:01] sushilshinde commented on #4438
@narekcat @SathyaJayabal can you test and fix that against production data?

[2020-05-29 17:16] Oanh-and-only-Oanh opened #4441 "[$30] Not able to navigation back to challenge listings from Challenge details page"
When you are on the challenge details page of any challenge, clicking "all challenges" on the top navigation does not work.

Steps to reproduce:
Go to: https://www.topcoder.com/challenges/30127027?tab=details
click on: All Challenges
![image](https://user-images.githubusercontent.com/47536078/83286887-8f9f4400-a195-11ea-8027-7292fd7c47d5.png)
Behavior: does not take user back to Challenge Listings

[2020-05-29 17:52] narekcat commented on #4438
@sushilshinde - I have tested against production data and V5 api, but there are two challenges and I couldn't register non of them. I can test it if I can register one of this challenges:
http://local.topcoder-dev.com:3000/challenges/d9c74629-762f-4464-9753-ebd982c7990f
http://local.topcoder-dev.com:3000/challenges/55cff8bd-c622-412d-9683-ed85398044f7
Also I have tested it against V4 api and produ

[2020-05-30 04:41] SathyaJayabal commented on #4380
@luizrrodrigues , after registration we dont get the challenge returned in this v5 api call (for user dan_developer)
https://api.topcoder-dev.com/v5/challenges?perPage=50&page=1&memberId=40152905
This call should return challenges the member is registered to.

[2020-05-30 04:44] SathyaJayabal opened #4442 "[$30]Challenge details: Failed api calls"
https://test-community-app.topcoder-dev.com/challenges/47534b84-7025-41b5-8550-1eb5126e8eb5
user:dan-developer/dantopcoder123
There is a failed api call to v5 challenges api
<img width="1440" alt="Screenshot 2020-05-30 at 10 08 31 AM" src="https://user-images.githubusercontent.com/58783823/83319692-4f57c880-a25e-11ea-9e46-1accdce1f5e9.png">
<img width="1440" alt="Screenshot 2020-05-30 at 10 08 34

[2020-05-30 04:48] SathyaJayabal commented on #4438
@sushilshinde I think we need to wait for
- the api to return all the correct challenges registered by the user.
- the user is able to register successfully to a challenge.

[2020-05-30 05:04] simranb86 commented on #4435
@sushilshinde I have this ready but testing with few challenges, will share PR in next few hrs

[2020-05-30 05:07] sushilshinde commented on #4435
Sure

[2020-05-30 12:05] sushilshinde commented on #4438
@narekcat wait for other issues to fix, keep this ticket with you. And you can still pick up other issues.

[2020-05-30 12:06] sushilshinde commented on #4438
@SathyaJayabal please mention those other issues

[2020-05-30 12:07] sushilshinde commented on #4442
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-05-30 12:07] crazyk07 commented on #4442
Contest https://www.topcoder.com/challenges/30127208 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-30 12:08] sushilshinde commented on #4435
@simranb86 waiting for PR

[2020-05-30 12:08] crazyk07 commented on #4442
Contest https://www.topcoder.com/challenges/30127208 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-30 12:09] sushilshinde commented on #4430
@simranb86 waiting on PR

[2020-05-30 12:12] rashmi73 commented on #4429
@sushilshinde it is completed raising PR

[2020-05-30 12:15] sushilshinde commented on #4429
Sure

[2020-05-30 12:19] narekcat commented on #4438
@sushilshinde Ok.

[2020-05-30 12:35] sushilshinde commented on #4404
@simranb86 why this is still in draft?

[2020-05-30 12:39] sushilshinde commented on #4381
@luizrrodrigues update on this?

[2020-05-30 12:40] sushilshinde commented on #4394
@luizrrodrigues update?

[2020-05-30 15:17] luizrrodrigues commented on #4381
@sushilshinde Working on this, searching about as make the calls be done in a proxy. I see this working in `develop` branch, but in v5 integration has a lot of changes.

[2020-05-30 18:47] simranb86 commented on #4430
PRs:
- https://github.com/topcoder-platform/topcoder-react-lib/pull/176
- https://github.com/topcoder-platform/community-app/pull/4443

[2020-05-30 18:48] simranb86 commented on #4430
Sorry I thought I already pushed it, has it ready once received the info. Pushed in PRs now.

[2020-05-30 18:50] simranb86 commented on #4404
Awaiting for more details from @SathyaJayabal and @Oanh-and-only-Oanh on this, there are still for which details are not shared like what should be shown in tooltip.

Once I receive them, I will update PR for them. Look here https://github.com/topcoder-platform/community-app/pull/4437/files (line no 25/29/30 all of which are blank, so once I receive info, I need to update that there and this PR sh

[2020-05-30 18:55] simranb86 commented on #4435
@sushilshinde this is giving some issues like at times it keeps showing loading, trying to resolve it. Don't want to giving a breaking PR. Working on fixing the same, will raise PR as soon as fixed.

[2020-05-30 23:10] rashmi73 commented on #4429
@rootelement "finalSubmissionGuidelines" is missing at
http://api.topcoder-dev.com/v5/challenges/5f94881b-5d64-4c92-b43e-df5f0cf93dfe

kindly confirm

[2020-05-30 23:33] PrakashDurlabhji commented on #4442
@sushilshinde few more hrs as confused between recomended challenges or displayRecommended challenges call flow.

[2020-05-31 04:31] simranb86 commented on #4435
Found the issue, trying to fix it now. Sorry i am new to react so had to learn some stuff.

[2020-05-31 05:38] simranb86 commented on #4404
@SathyaJayabal @Oanh-and-only-Oanh can you help provide pending info so we can close this ?

[2020-05-31 07:21] #4412 closed

[2020-05-31 07:22] crazyk07 commented on #4412
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126635<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-31 07:24] #4144 closed

[2020-05-31 07:24] #4379 closed

[2020-05-31 07:24] #4401 closed

[2020-05-31 07:24] #4402 closed

[2020-05-31 07:24] #4403 closed

[2020-05-31 07:24] #4405 closed

[2020-05-31 07:24] #4407 closed

[2020-05-31 07:24] #4409 closed

[2020-05-31 07:24] #4411 closed

[2020-05-31 07:24] crazyk07 commented on #4410
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126536<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-31 07:24] crazyk07 commented on #4379
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126382<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-31 07:24] crazyk07 commented on #4401
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126726<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-31 07:24] crazyk07 commented on #4403
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126533<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-31 07:24] crazyk07 commented on #4402
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126719<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-31 07:24] crazyk07 commented on #4407
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126535<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-31 07:24] crazyk07 commented on #4409
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126534<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-31 07:24] crazyk07 commented on #4411
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126545<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-31 07:24] crazyk07 commented on #4405
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126866<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-31 08:07] sushilshinde commented on #4442
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-05-31 08:08] crazyk07 commented on #4442
Contest https://www.topcoder.com/challenges/30127208 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-31 09:27] simranb86 commented on #4435
PRs
- https://github.com/topcoder-platform/topcoder-react-lib/pull/177
- https://github.com/topcoder-platform/community-app/pull/4444

[2020-05-31 09:28] simranb86 commented on #4406
@rootelement ☝️

[2020-05-31 10:17] narekcat commented on #4442
@sushilshinde @SathyaJayabal I have fixed this issue. Please see pull request https://github.com/topcoder-platform/community-app/pull/4445.

[2020-05-31 11:25] sushilshinde commented on #4442
Thanks @narekcat will merge

[2020-05-31 16:02] Oanh-and-only-Oanh commented on #4300
Moving this to lowest priority. The public subcommunities are not something we're highlighting or focusing on.

[2020-05-31 16:47] SathyaJayabal commented on #4404
@simranb86
RIA_BUILD_COMPETITION- legacy we don't do this anymore (you need not add tooltip for this type)
AUTOMATED_TESTING- Challenges were submissions are auto-scored against a set of automated test cases
COPILOT_POSTING- A post made to the copilot community which asks them to come back with a proposal for your project. This proposal typically includes a suggested gameplan, an estimated budget

[2020-05-31 18:18] simranb86 commented on #4404
Thanks @SathyaJayabal

@sushilshinde PR for the same https://github.com/topcoder-platform/community-app/pull/4437

[2020-05-31 23:35] rashmi73 commented on #4429
@rootelement @sushilshinde waiting here

[2020-06-01 03:04] SathyaJayabal commented on #4438
https://github.com/topcoder-platform/community-app/issues/4384
https://github.com/topcoder-platform/community-app/issues/4380

[2020-06-01 04:31] lakshmiathreya commented on #4307
cc @mtwomey @sachin-maheshwari - Matt and Sachin - this should move to Accounts App repo right?

[2020-06-01 05:02] SathyaJayabal opened #4447 "Challenge Details: Contest Deadlines date/times are incorrect"
Contest deadline dates and times do not match with V4 dates and times. The checkpoint review deadline is  also missing for design challenges.
user: not logged in
V4 URL:https://www.topcoder.com/challenges/30126014
V5 URL:https://beta-community-app.topcoder.com/challenges/fbd47239-43dc-4f50-8d0d-739dfe82191a
<img width="1440" alt="Screenshot 2020-06-01 at 10 29 29 AM" src="https://user-images.githu

[2020-06-01 05:06] SathyaJayabal opened #4448 "[$50]Challenge Details: Checkpoint prize details missing for design contests"
Checkpoint prize details missing for design contests
user: not logged in
V4 URL:https://www.topcoder.com/challenges/30126014
V5 URL:https://beta-community-app.topcoder.com/challenges/fbd47239-43dc-4f50-8d0d-739dfe82191a
<img width="1440" alt="Screenshot 2020-06-01 at 10 34 21 AM" src="https://user-images.githubusercontent.com/58783823/83377605-af33a800-a3f3-11ea-9a24-6dde3c7095e3.png">

[2020-06-01 05:08] SathyaJayabal opened #4449 "Challenge details: TCO20 tag is missing"
TCO20 tag is missing
user: not logged in
V4 URL:https://www.topcoder.com/challenges/30126014
V5 URL:https://beta-community-app.topcoder.com/challenges/fbd47239-43dc-4f50-8d0d-739dfe82191a

<img width="1440" alt="Screenshot 2020-06-01 at 10 37 12 AM" src="https://user-images.githubusercontent.com/58783823/83377688-06d21380-a3f4-11ea-8b89-a6e217e6eed5.png">

[2020-06-01 05:12] SathyaJayabal opened #4450 "[$50]Challenge Details: Challenge Spec is missing for design challenges"
Challenge Spec is missing in V5 for design challenges
user: not logged in
Contest deadline dates and times do not match with V4 dates and times. The checkpoint review deadline is also missing for design challenges.
V4 URL:https://www.topcoder.com/challenges/30126014
<img width="1440" alt="Screenshot 2020-06-01 at 10 40 08 AM" src="https://user-images.githubusercontent.com/58783823/83377813-6fb98b8

[2020-06-01 05:58] SathyaJayabal opened #4451 "Challenge Details: Sub track details incorrect for Marathon Match"
Sub track details incorrect for Marathon Match
user:dan_developer/dantopcoder123
V4 URL:https://qa-community-app.topcoder-dev.com/challenges/30056520
V5 URL:https://test-community-app.topcoder-dev.com/challenges/87893c8f-2d93-4be5-b4c1-2e1efb28a7a7
<img width="1440" alt="Screenshot 2020-06-01 at 11 23 17 AM" src="https://user-images.githubusercontent.com/58783823/83380203-fcffde80-a3fa-11ea-8d54-e

[2020-06-01 06:00] SathyaJayabal commented on #4436
Verified on test env
<img width="1440" alt="Screenshot 2020-06-01 at 11 29 37 AM" src="https://user-images.githubusercontent.com/58783823/83380281-32a4c780-a3fb-11ea-897f-c79326763799.png">

[2020-06-01 06:21] SathyaJayabal opened #4452 "[$30]Challenge Details: Recommended thrive articles should ignore "other" tag"
Recommended thrive articles should ignore "other" tag. In this example recommended articles are displayed even though only the other tag is present.
User:not logged in

V4 URL:https://qa-community-app.topcoder-dev.com/challenges/30056664?tab=details
V5 URL:https://test-community-app.topcoder-dev.com/challenges/50a59121-0100-42fb-a7b5-329b3702bf00

<img width="1440" alt="Screenshot 2020-06-01 at 11

[2020-06-01 07:04] SathyaJayabal commented on #4438
@narekcat , recommended challenges should also not include the current challenge
V5: https://beta-community-app.topcoder.com/challenges/7b880e3f-160e-45b3-a619-c75ecfe3cc4e?tab=details
V4 URL:https://www.topcoder.com/challenges/30126519
This  challenge includes the current challenge in the recommended challenges section
cc @sushilshinde
<img width="1440" alt="Screenshot 2020-06-01 at 12 32 04 PM"

[2020-06-01 07:05] crazyk07 commented on #4436
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-01 07:40] sushilshinde commented on #4447
@SathyaJayabal did you debug API response?

[2020-06-01 07:50] crazyk07 commented on #4436
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30127072<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-01 08:08] #4436 closed

[2020-06-01 09:50] sushilshinde commented on #4435
https://github.com/topcoder-platform/topcoder-react-lib/pull/177#issuecomment-636748286

[2020-06-01 10:31] sushilshinde commented on #4380
https://github.com/topcoder-platform/challenge-api/issues/141

[2020-06-01 10:34] sushilshinde commented on #4378
@luizrrodrigues please check comments here https://github.com/topcoder-platform/challenge-api/issues/131#issuecomment-636095500

[2020-06-01 10:45] sushilshinde commented on #4452
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-01 10:47] SathyaJayabal commented on #4404
@simranb86 , we still see some cases where the tooltip is empty
<img width="1440" alt="Screenshot 2020-06-01 at 4 16 37 PM" src="https://user-images.githubusercontent.com/58783823/83401870-5ed43e80-a423-11ea-8134-0a8b3f683e44.png">

[2020-06-01 10:49] crazyk07 commented on #4452
Contest https://www.topcoder.com/challenges/30127342 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-01 10:50] crazyk07 commented on #4452
Contest https://www.topcoder.com/challenges/30127342 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-01 10:55] sushilshinde commented on #4451
Background  :

All the legacy marathon matches that were created by OLD MM UI are represented by
`subTrack: MARAHTHON_MATCH`

Then there was a change, and we started to create Marathon matches from direct app, they are represented by

`subTrack: "DEVELOP_MARATHON_MATCH`

Regardless of the source of the MM, tag `Marathon Match`

[2020-06-01 10:55] sushilshinde commented on #4451
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-01 10:57] crazyk07 commented on #4451
Contest https://www.topcoder.com/challenges/30127348 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-01 10:58] SathyaJayabal commented on #4442
@sushilshinde verified on test env. The api call does not fail now.
<img width="1440" alt="Screenshot 2020-06-01 at 4 27 25 PM" src="https://user-images.githubusercontent.com/58783823/83402699-d8b8f780-a424-11ea-954e-4684eb5de9de.png">

[2020-06-01 10:58] crazyk07 commented on #4451
Contest https://www.topcoder.com/challenges/30127348 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-01 11:01] sushilshinde commented on #4449
I compared API, it doesn't return the tag

[2020-06-01 11:03] sushilshinde commented on #4449
https://api.topcoder.com/v5/challenges/fbd47239-43dc-4f50-8d0d-739dfe82191a

vs

https://api.topcoder.com/v4/challenges/30126014

[2020-06-01 11:05] SathyaJayabal commented on #4430
@simranb86 , Cannot  seethe eligible events section on beta
<img width="1440" alt="Screenshot 2020-06-01 at 4 33 28 PM" src="https://user-images.githubusercontent.com/58783823/83403184-d0ad8780-a425-11ea-8113-53f567092166.png">

[2020-06-01 11:13] SathyaJayabal commented on #4447
No

[2020-06-01 12:03] SathyaJayabal commented on #4430
@sushilshinde , can see the  eligible events on dev, but not on prod
example: https://beta-community-app.topcoder.com/challenges/d9c74629-762f-4464-9753-ebd982c7990f
cc @rootelement
<img width="1440" alt="Screenshot 2020-06-01 at 5 31 58 PM" src="https://user-images.githubusercontent.com/58783823/83407218-e161fb80-a42d-11ea-8186-76cf976ca0f1.png">

[2020-06-01 12:06] SathyaJayabal commented on #4450
https://github.com/topcoder-platform/challenge-api/issues/143

[2020-06-01 12:06] SathyaJayabal commented on #4449
https://github.com/topcoder-platform/challenge-api/issues/144

[2020-06-01 12:07] SathyaJayabal commented on #4448
https://github.com/topcoder-platform/challenge-api/issues/145

[2020-06-01 12:13] SathyaJayabal commented on #4447
https://api.topcoder.com/v5/challenges/fbd47239-43dc-4f50-8d0d-739dfe82191a
https://api.topcoder.com/v4/challenges/30126014

Phases details are not matching between V4 and V5

[2020-06-01 12:26] SathyaJayabal commented on #4429
@rashmi73 , the finalSubmissionGuidelines will be  part of contest spec. So I don't think we will need front-end  change  here.

[2020-06-01 12:31] SathyaJayabal commented on #4447
https://github.com/topcoder-platform/challenge-api/issues/146

[2020-06-01 12:49] SathyaJayabal commented on #4429
@rootelement @sushilshinde
while some of the contests now have Final Submission Guidelines, some contests are still missing that section

example where final submission guidelines is present
https://beta-community-app.topcoder.com/challenges/0a2b2f4a-548e-4311-8714-9c28a663f25c
https://www.topcoder.com/challenges/30126528
<img width="1440" alt="Screenshot 2020-06-01 at 6 04 32 PM" src="https://use

[2020-06-01 12:54] SathyaJayabal commented on #4406
https://github.com/topcoder-platform/challenge-api/issues/142

[2020-06-01 12:54] narekcat commented on #4452
@sushilshinde @SathyaJayabal I have fixed this issue. Please see pull request https://github.com/topcoder-platform/community-app/pull/4453.

[2020-06-01 12:55] SathyaJayabal commented on #4394
@sushilshinde will this be taken care of by  #4435 ?

[2020-06-01 13:00] SathyaJayabal commented on #4384
https://github.com/topcoder-platform/challenge-api/issues/140

[2020-06-01 13:03] SathyaJayabal commented on #4377
https://github.com/topcoder-platform/community-app/pull/4446

@sushilshinde , this PR mentions this issue

[2020-06-01 13:11] crazyk07 commented on #4377
Contest https://www.topcoder.com/challenges/30127395 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-01 13:11] crazyk07 commented on #4377
Contest https://www.topcoder.com/challenges/30127395 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-01 13:20] narekcat commented on #4438
@SathyaJayabal I have checked it and it works as expected:
V5: https://beta-community-app.topcoder.com/challenges/7b880e3f-160e-45b3-a619-c75ecfe3cc4e?tab=details
![image](https://user-images.githubusercontent.com/11549629/83412876-f3429f00-a42b-11ea-9ad9-c6e0bbe53d46.png)

[2020-06-01 13:39] ThomasKranitsas commented on #4393
The API has been fixed https://github.com/topcoder-platform/challenge-api/commit/4c93b66d05cad1931907a9740c10b02a2f64a59a

Now need to do the changes from https://github.com/topcoder-platform/community-app/issues/4393#issuecomment-635300162

[2020-06-01 14:06] sachin-maheshwari commented on #4433
@SathyaJayabal @sushilshinde  FYI,
As discussed with @mtwomey, once the issue https://github.com/topcoder-platform/community-app/issues/4435 get fixed, this issue priority automatically will down from P1.

[2020-06-01 14:59] Oanh-and-only-Oanh commented on #4307
@lakshmiathreya correct. I put it the ticket here for easier tracking but it belongs with Accounts App

[2020-06-01 16:28] sushilshinde commented on #4384
@simranb86 This is what I think

1. Existing logic loads many challenges in advance, that should change in the new implementation.
2. Everything should be on-demand/lazy load.
3. Only 10 challenges every bucket should display.
4. The next set of challenges should be loaded by pagination.
5. So by default for logged-in user should see 3 buckets
   i. My Challenges load 1-10 if present
   ii. Open f

[2020-06-01 16:33] sushilshinde commented on #4384
@SathyaJayabal FYI

[2020-06-01 16:35] #4343 closed

[2020-06-01 18:11] PrakashDurlabhji commented on #4451
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/4454

[2020-06-01 19:04] m-yadav opened #4455 "Sign Up button on website results in 404"
**Describe the bug**
The signup button on the header of the website takes the user to a page which shows 404

**To Reproduce**
Steps to reproduce the behavior:
1. open browser incognito mode
2. go to topcoder.com
3. select "Sign Up" button in header (upper right-hand corner)
![image](https://user-images.githubusercontent.com/45197181/83444173-9d401c80-a468-11ea-94ef-a2fb2c7b720c.png)
4. The redire

[2020-06-01 19:04] m-yadav commented on #4455
cc @Oanh-and-only-Oanh

[2020-06-01 19:05] Oanh-and-only-Oanh commented on #4455
thanks. will get this resolved ASAP.

[2020-06-01 19:19] Oanh-and-only-Oanh commented on #4455
fixed

[2020-06-01 19:19] #4455 closed

[2020-06-01 19:29] rootelement commented on #4384
When you query the challenge api, the headers return data relevant to that request. The header `X-Total` contains the number of total challenges that match the search criteria.

<img width="1055" alt="Screen Shot 2020-06-01 at 3 28 36 PM" src="https://user-images.githubusercontent.com/5400156/83446427-a7d4c480-a41c-11ea-92ae-1f70c56b399e.png">
 You should be able to hit a challenge API url for eac

[2020-06-01 20:26] rootelement commented on #4450
This is confirmed fixed in dev:
http://api.topcoder-dev.com/v4/challenges/30021358
http://api.topcoder-dev.com/v5/challenges?legacyId=30021358

[2020-06-01 20:36] simranb86 commented on #4404
oh yea found few more, this time compare one-to-one so would need details on below:

- IDEA_GENERATION
-  SECURITY
-  PROCESS
-  TESTING_COMPETITION
-  COMPONENT_PRODUCTION
-  DEPLOYMENT
-  RIA_COMPONENT_COMPETITION
-  SPEC_REVIEW
-  REPORTING
-  FRONT_END_FLASH
-  MARATHON
-  GENERIC_SCORECARDS

Both short codes and long description for all of the above.

[2020-06-01 20:49] simranb86 commented on #4435
@sushilshinde resolved.

[2020-06-01 20:51] simranb86 commented on #4430
@SathyaJayabal yes, this is data issue, plz make sure you test with challenge which has events in it - try this via postman `https://api.topcoder-dev.com/v5/challenges/<challengeId>` to see if that challenge has events there in response.

[2020-06-02 00:57] sushilshinde commented on #4435
Thanks

[2020-06-02 03:15] Oanh-and-only-Oanh commented on #4404
DEA_GENERATION
SECURITY-  legacy we don't do this anymore (you need not add tooltip for this type)
PROCESS- legacy we don't do this anymore (you need not add tooltip for this type)
TESTING_COMPETITION- legacy we don't do this anymore (you need not add tooltip for this type)
COMPONENT_PRODUCTION-  legacy we don't do this anymore (you need not add tooltip for this type)
DEPLOYMENT- legacy we don't d

[2020-06-02 03:59] rootelement commented on #4393
@ThomasKranitsas please confirm you're making the changes

[2020-06-02 05:50] SathyaJayabal commented on #4438
@narekcat , its strange, it works as expected now. I will let you know in case I come across any more of these examples.

[2020-06-02 05:51] narekcat commented on #4438
@SathyaJayabal Okay.

[2020-06-02 05:53] SathyaJayabal commented on #4438
@narekcat , please check as logged out user. We can still see the current challenge in recommended challenges.
https://beta-community-app.topcoder.com/challenges/7b880e3f-160e-45b3-a619-c75ecfe3cc4e?tab=details
<img width="1440" alt="Screenshot 2020-06-02 at 11 22 33 AM" src="https://user-images.githubusercontent.com/58783823/83484803-60554380-a4c3-11ea-98e7-2919d19a8c71.png">

[2020-06-02 05:53] SathyaJayabal commented on #4438
@narekcat please check above edit

[2020-06-02 05:55] narekcat commented on #4438
@SathyaJayabal Okay.

[2020-06-02 06:08] SathyaJayabal commented on #4450
@rootelement , the below doesn't return the new id for the challenge. So not able to verify if the challenge spec is displayed on the challenge details page.
http://api.topcoder-dev.com/v5/challenges?legacyId=30021358

[2020-06-02 06:08] SathyaJayabal commented on #4450
cc @sushilshinde

[2020-06-02 07:08] narekcat commented on #4438
@SathyaJayabal I can check if user is logged in before showing recommended challenges, but there is nothing about that in challenge specification and this form [thread](https://apps.topcoder.com/forums/?module=Thread&threadID=950302&start=0) the copilot said, that even if user isn't logged in, we must show recommended challenges.  Also if I hide recommended challenges then I need to hide recommend

[2020-06-02 07:24] simranb86 commented on #4404
Thanks @Oanh-and-only-Oanh , can you help for this also, looks like it was missed
- IDEA_GENERATION

[2020-06-02 08:12] SathyaJayabal commented on #4438
@narekcat , we have a misunderstanding. The requirement is that the current challenge itself must not be displayed in the recommended challenges section. In the example above we are looking at the  challenge spec for the challenge "Project UBahn | Integrate Elasticsearch in API" . This same challenge is also displayed in recommended challenges which is incorrect.

please compare:
https://beta-comm

[2020-06-02 08:14] simranb86 commented on #4404
Should I use one like Content Creation, as they are almost on same lines
IDEA_GENERATION: 'Generate ideas as a blog, video, infographic, or other format' ?

[2020-06-02 08:18] simranb86 commented on #4404
PR https://github.com/topcoder-platform/community-app/pull/4456

[2020-06-02 09:21] harshitmehta15 opened #4457 "Final Results visible for MM before closure of Review Phase"
**Describe the bug**
Members reported and they have been easily accessing details about final results from the JSON file in the Network Tab of browser console. The API used to fetch submissions of all the members is also returning **ReviewSummittion** score which is the final score.

If we want to make the final score available then we should make it available on the UI, otherwise, we should get i

[2020-06-02 09:43] sushilshinde commented on #4406
As per this update, I'm keeping this issue on hold until data is up to date.

[2020-06-02 09:47] crazyk07 commented on #4448
Contest https://www.topcoder.com/challenges/30127613 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-02 09:58] sushilshinde commented on #4448
To fix this issue
Use details API call -
http://api.topcoder-dev.com/v5/challenges/741f427e-9f4c-4735-9448-45afaf21455e

(call with legacy challenge id for ref, don't use it http://api.topcoder-dev.com/v5/challenges?legacyId=30047827)

Context:
[code]

[2020-06-02 09:58] sushilshinde commented on #4448
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-02 10:02] crazyk07 commented on #4448
Contest https://www.topcoder.com/challenges/30127613 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-02 10:05] sushilshinde commented on #4450
@SathyaJayabal check `metadata` object

[2020-06-02 10:10] SathyaJayabal commented on #4450
@sushilshinde , I see the id under metadata, thanks

[2020-06-02 10:10] sushilshinde commented on #4428
waiting for correct api data

[2020-06-02 10:17] SathyaJayabal commented on #4450
@sushilshinde , not able to see the challenge spec on the frontend, even though the challenge spec is being returned from the api call
http://api.topcoder-dev.com/v5/challenges/75a9e765-e3e7-4d05-a5f6-94358f52498a

https://test-community-app.topcoder-dev.com/challenges/75a9e765-e3e7-4d05-a5f6-94358f52498a

<img width="1440" alt="Screenshot 2020-06-02 at 3 42 33 PM" src="https://user-images.githubu

[2020-06-02 10:24] ThomasKranitsas commented on #4393
@sushilshinde @rootelement I'm trying to fix this one but it's not working as expected. Feel free to get another developer to look into this if you want and if he can fix it first, he can get paid but I'll still be looking into this

[2020-06-02 10:30] SathyaJayabal commented on #4452
Verified on test env. Working as expected.
No recommended articles displayed  for other tag
https://test-community-app.topcoder-dev.com/challenges/76c85229-a222-4a89-9682-1ab3bf10893e
<img width="1440" alt="Screenshot 2020-06-02 at 3 56 42 PM" src="https://user-images.githubusercontent.com/58783823/83509975-e4babd00-a4e9-11ea-8f65-8a0aa43ad6f3.png">
Recommended abtilces displayed for tech tags
htt

[2020-06-02 10:39] sushilshinde commented on #4450
That needs front-end fix

[2020-06-02 10:56] SathyaJayabal commented on #4377
verified on test env. The Open for Registration bucket challenges match the V4 challenges
<img width="1440" alt="Screenshot 2020-06-02 at 4 23 01 PM" src="https://user-images.githubusercontent.com/58783823/83512191-7e379e00-a4ed-11ea-8385-ceb8b36d82a6.png">
<img width="1440" alt="Screenshot 2020-06-02 at 4 23 06 PM" src="https://user-images.githubusercontent.com/58783823/83512238-8a236000-a4ed-11e

[2020-06-02 10:57] SathyaJayabal commented on #4451
verified on test env
<img width="1440" alt="Screenshot 2020-06-02 at 4 26 02 PM" src="https://user-images.githubusercontent.com/58783823/83512414-ca82de00-a4ed-11ea-9b44-05f26ebd5171.png">

[2020-06-02 11:22] SathyaJayabal commented on #4430
@simranb86, on testing after the data migration in dev. I can see  the events in the api response, but not in the front end. Can you please take a look.
cc @sushilshinde
https://test-community-app.topcoder-dev.com/challenges/3c56f0ad-5060-443f-990a-94c384ec41d3
http://api.topcoder-dev.com/v5/challenges/3c56f0ad-5060-443f-990a-94c384ec41d3
V4 URL:https://qa-community-app.topcoder-dev.com/challenges

[2020-06-02 11:46] SathyaJayabal commented on #4428
@sushilshinde , we can see the code repo and env  in the api response, but not in the front-end
V5  URL: https://test-community-app.topcoder-dev.com/challenges/c08e55f8-c0e5-48e3-9f60-36d91d12705d
V4: https://qa-community-app.topcoder-dev.com/challenges/30051802
http://api.topcoder-dev.com/v5/challenges/c08e55f8-c0e5-48e3-9f60-36d91d12705d
<img width="1440" alt="Screenshot 2020-06-02 at 5 11 43 PM

[2020-06-02 11:58] SathyaJayabal commented on #4447
@sushilshinde @rootelement phases matching in dev env after migration of data
<img width="1440" alt="Screenshot 2020-06-02 at 3 49 45 PM" src="https://user-images.githubusercontent.com/58783823/83517344-5f89d500-a4f6-11ea-8165-0fca83b8c13e.png">

[2020-06-02 12:20] sushilshinde commented on #4435
@simranb86 Now tests are failing https://circleci.com/gh/topcoder-platform/topcoder-react-lib/966

[2020-06-02 12:23] sushilshinde commented on #4450
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-02 12:26] crazyk07 commented on #4450
Contest https://www.topcoder.com/challenges/30127638 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-02 12:28] sushilshinde commented on #4376
if we reduce calls then this issue will be resolved automatically.

https://github.com/topcoder-platform/community-app/issues/4384#issuecomment-636970584

Just three calls, we can chain them in promises

[2020-06-02 12:29] crazyk07 commented on #4450
Contest https://www.topcoder.com/challenges/30127638 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-02 12:32] sushilshinde commented on #4383
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-02 12:34] crazyk07 commented on #4383
Contest https://www.topcoder.com/challenges/30127639 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-02 13:06] crazyk07 commented on #4383
Contest https://www.topcoder.com/challenges/30127639 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-02 13:25] sushilshinde commented on #4428
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-02 13:27] sushilshinde commented on #4404
@SathyaJayabal @Oanh-and-only-Oanh please help

[2020-06-02 13:30] crazyk07 commented on #4428
Contest https://www.topcoder.com/challenges/30126884 has been updated - it has been assigned to khushimehta03.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-02 13:31] narekcat commented on #4438
@SathyaJayabal Ok, sorry that was my mistake. I'll be more attentive.

[2020-06-02 14:06] luizrrodrigues commented on #4380
@SathyaJayabal I'm working in another issue to get the registrants from the challenge, check this comment: https://github.com/topcoder-platform/community-app/issues/4381#issuecomment-634360658

[2020-06-02 14:55] Oanh-and-only-Oanh commented on #4404
Idea generation- generate feasible concepts for products, apps, features, etc.

[2020-06-02 15:59] sushilshinde commented on #4450
@PrakashDurlabhji please do not work on this

[2020-06-02 16:01] crazyk07 commented on #4393
Contest https://www.topcoder.com/challenges/30127673 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-02 16:02] crazyk07 commented on #4393
Contest https://www.topcoder.com/challenges/30127673 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-02 16:19] PrakashDurlabhji commented on #4450
@sushilshinde any more issues opening soon?

[2020-06-02 16:20] sushilshinde commented on #4450
Not today, it will be tomorrow

[2020-06-02 20:44] narekcat commented on #4448
@SathyaJayabal @sushilshinde Something wrong with beck end. I can't reproduce the issue.
![image](https://user-images.githubusercontent.com/11549629/83567473-ad243300-a532-11ea-9b84-16c9cbf7e184.png)
![image](https://user-images.githubusercontent.com/11549629/83567540-c5944d80-a532-11ea-8c44-35d6977e2221.png)

[2020-06-02 21:55] rashmi73 commented on #4383
@sushilshinde we are passing userid as of now in call, whereas I feel memberId should be sent.

but i do not find "memberId" in state.profile.info object, hence it is required

console shows no error.

[2020-06-02 22:04] crazyk07 commented on #4428
Contest https://www.topcoder.com/challenges/30126884 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-02 22:55] rootelement commented on #4448
Challenges were re-migrated. They all got new UUIDs. You can use this one:
http://api.topcoder-dev.com/v5/challenges?legacyId=30048648
http://api.topcoder-dev.com/v5/challenges/8e48e825-1f82-48d6-9c99-de2671fd3302

[2020-06-03 00:20] PrakashDurlabhji commented on #4428
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/4458

[2020-06-03 00:50] simranb86 commented on #4435
PR https://github.com/topcoder-platform/topcoder-react-lib/pull/178

[2020-06-03 00:55] narekcat commented on #4448
@rootelement Ok. Thanks.

[2020-06-03 02:09] simranb86 commented on #4430
@SathyaJayabal The backend impl was changed, it is re-work to be done here. The metadata was an object but now it has been updated to be an array.

@sushilshinde FYI ☝️

[2020-06-03 04:26] rootelement commented on #4430
I apologize @simranb86 , metadata was always intended to be an array of objects with {type, value}.

See here:
http://api.topcoder-dev.com/v5/challenges/ce01f468-e5cc-4c03-abe6-0e625af94ec1

Events is no different:
http://api.topcoder-dev.com/v5/challenges/3c56f0ad-5060-443f-990a-94c384ec41d3

[2020-06-03 04:47] simranb86 commented on #4430
Thanks @rootelement

@SathyaJayabal @sushilshinde give me like 30 mins, will raise new PR for the changes. Thanks

[2020-06-03 05:44] SathyaJayabal commented on #4450
@sushilshinde , changes not yet deployed.
<img width="1440" alt="Screenshot 2020-06-03 at 11 14 24 AM" src="https://user-images.githubusercontent.com/58783823/83600092-67478900-a58b-11ea-93d6-72c415e726f0.png">

[2020-06-03 06:23] luizrrodrigues commented on #4378
@sushilshinde Done, PRs updated.

- Using v4 API to get SRMs challenges.

[2020-06-03 07:49] simranb86 commented on #4404
PR #4456

[2020-06-03 08:56] narekcat commented on #4448
@SathyaJayabal @sushilshinde  The checkpoint prizes can have different values. Need I display each of them, like challenge prizes ? What about reliability bonus ? I have checked challenge-api repository and there are nothing about reliability bonus.

[2020-06-03 09:17] sushilshinde commented on #4448
@Oanh-and-only-Oanh @SathyaJayabal please help

[2020-06-03 09:26] SathyaJayabal commented on #4448
@narekcat , as far as I know checkpoint prizes have the same values, example either 5 prizes of $100, or 10 prizes of $50 etc. If you did see an example where there were different amounts for checkpoint prizes, please share the link.

[2020-06-03 09:28] narekcat commented on #4448
@SathyaJayabal Ok. Does `prizeSets` include reliability bonus ?

[2020-06-03 09:37] SathyaJayabal commented on #4448
@Oanh-and-only-Oanh can  you help with reliability bonus? Do we still offer reliability bonus? @narecat, do you have any example of an existing challenge with reliability bonus.

[2020-06-03 09:40] narekcat commented on #4448
@SathyaJayabal No I haven't. I have check all active challenges, but there is no reliability bonus. Actually I can remove code associated with reliability bonus.

[2020-06-03 09:42] SathyaJayabal commented on #4448
@narekcat , lets wait for @Oanh-and-only-Oanh 's reply regarding reliability bonus.

[2020-06-03 09:43] narekcat commented on #4448
@SathyaJayabal Ok.

[2020-06-03 10:46] sushilshinde commented on #4430
@simranb86 please link PR

[2020-06-03 11:12] sushilshinde commented on #4378
ok thanks @luizrrodrigues

[2020-06-03 11:13] sushilshinde commented on #4393
@luizrrodrigues please PR this fix

[2020-06-03 11:15] sushilshinde commented on #4378
https://github.com/topcoder-platform/community-app/pull/4415

[2020-06-03 12:39] SathyaJayabal commented on #4435
@simranb86 , verified on test and beta envs.

The challenge details page is displayed correctly, however, step 4 is  not done
Change URL to https://<domain>/challenges/<id>
eg. https://www.topcoder.com/challenges/55cff8bd-c622-412d-9683-ed85398044f7

The page still has the  older format URL
https://test-community-app.topcoder-dev.com/challenges/30056664
https://beta-community-app.topcoder.com/chal

[2020-06-03 12:43] sushilshinde commented on #4383
@rashmi73 please share API call examples

[2020-06-03 12:46] sushilshinde commented on #4438
@narekcat please PR asap

[2020-06-03 12:48] narekcat commented on #4438
@sushilshinde I am waiting to this issues to be fixed.
https://github.com/topcoder-platform/community-app/issues/4384
https://github.com/topcoder-platform/community-app/issues/4380

[2020-06-03 12:49] sushilshinde commented on #4438
ok :)

[2020-06-03 12:59] SathyaJayabal commented on #4428
@PrakashDurlabhji , the links section doesnt match in some cases still.
cc @sushilshinde
v5 url: https://test-community-app.topcoder-dev.com/challenges/50859ea5-2a30-4449-ba83-0fdf2ba09953
v4 url: https://qa-community-app.topcoder-dev.com/challenges/30056657
<img width="1440" alt="Screenshot 2020-06-03 at 6 28 07 PM" src="https://user-images.githubusercontent.com/58783823/83639238-07bb9e80-a5c8-11

[2020-06-03 13:08] SathyaJayabal commented on #4404
Verified on test and beta
<img width="1440" alt="Screenshot 2020-06-03 at 6 35 40 PM" src="https://user-images.githubusercontent.com/58783823/83640139-574e9a00-a5c9-11ea-91eb-bf65176e1c68.png">
<img width="1440" alt="Screenshot 2020-06-03 at 6 37 45 PM" src="https://user-images.githubusercontent.com/58783823/83640153-5d447b00-a5c9-11ea-8d74-39de2f0c8493.png">

[2020-06-03 13:08] crazyk07 commented on #4404
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-03 13:18] PrakashDurlabhji commented on #4428
checking

[2020-06-03 13:24] SathyaJayabal commented on #4378
@luizrrodrigues @sushilshinde Dashboard is now displayed on test and dev. I will create new issues for other issues found within the page.
<img width="1440" alt="Screenshot 2020-06-03 at 6 53 30 PM" src="https://user-images.githubusercontent.com/58783823/83641779-9d0c6200-a5cb-11ea-9394-97089a19ca3c.png">
<img width="1440" alt="Screenshot 2020-06-03 at 11 14 24 AM" src="https://user-images.githubu

[2020-06-03 13:26] #4378 closed

[2020-06-03 13:27] crazyk07 commented on #4378
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126383<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-03 13:28] #4404 closed

[2020-06-03 13:29] crazyk07 commented on #4404
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126532<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-03 13:36] SathyaJayabal opened #4460 "[$50]My Dashboard: My Active challenges tab counts are incorrect"
V5 Url:https://test-community-app.topcoder-dev.com/my-dashboard
V4 Url:https://qa-community-app.topcoder-dev.com/my-dashboard

user: dan_developer/dantopcoder123

The Challenges in the "My Active  Challenges" include past challenges and the counts do not match the V4.
<img width="1440" alt="Screenshot 2020-06-03 at 7 05 32 PM" src="https://user-images.githubusercontent.com/58783823/83643076-3d16bb

[2020-06-03 13:38] RishiRajSahu commented on #4316
@Oanh-and-only-Oanh what's the priority on this, Do we have to plan for solutions for this is there any other dependent issues/features related to this ?

[2020-06-03 13:47] SathyaJayabal opened #4461 "[$25]My Dashboard: My communities - challenge count and Purse cash is not displayed"
v4 url: https://www.topcoder.com/my-dashboard
v5 url: https://beta-community-app.topcoder.com/my-dashboard

Challenge count and Purse cash is not retrieved for sub communities. Please compare comcast community data in the screenshots.

<img width="1440" alt="Screenshot 2020-06-03 at 7 10 05 PM" src="https://user-images.githubusercontent.com/58783823/83643910-46545780-a5ce-11ea-843b-51a14017966d.pn

[2020-06-03 14:17] SathyaJayabal commented on #4451
@sushilshinde , verified on beta.
<img width="1440" alt="Screenshot 2020-06-03 at 7 47 16 PM" src="https://user-images.githubusercontent.com/58783823/83647902-0e034800-a5d3-11ea-92c1-37efad2ff8ed.png">

[2020-06-03 14:32] SathyaJayabal commented on #4452
@sushilshinde verified on beta
<img width="1440" alt="Screenshot 2020-06-03 at 8 01 45 PM" src="https://user-images.githubusercontent.com/58783823/83649684-18bedc80-a5d5-11ea-94e4-09342b864487.png">

[2020-06-03 14:42] Oanh-and-only-Oanh commented on #4448
Can we keep reliability bonus as an option feature that copilots can decided to add or remove?

[2020-06-03 15:02] Oanh-and-only-Oanh commented on #4316
@RishiRajSahu, I don't believe there are any dependencies. As you know, we're integrating to challenge v5 api so if you can plan for solution to this issue if there are no blockers then, that would be great. thank you.

[2020-06-03 15:05] narekcat commented on #4448
@Oanh-and-only-Oanh If you asking my opinion, then we can.

[2020-06-03 15:22] Oanh-and-only-Oanh commented on #4448
I meant, don't remove code associated with reliability bonus. keep it as option.

[2020-06-03 15:24] narekcat commented on #4448
@Oanh-and-only-Oanh Ok. I understand.

[2020-06-03 16:11] sushilshinde commented on #4460
@SathyaJayabal aren't this similar to other data issues?

[2020-06-03 16:14] sushilshinde commented on #4435
@simranb86 please provide patch

[2020-06-03 16:34] sushilshinde commented on #4448
@narekcat please PR in 12 hours

[2020-06-03 16:35] narekcat commented on #4448
@sushilshinde I'll finish this issue in an hours.

[2020-06-03 16:42] sushilshinde commented on #4460
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-03 16:45] crazyk07 commented on #4460
Contest https://www.topcoder.com/challenges/30127968 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-03 16:46] crazyk07 commented on #4460
Contest https://www.topcoder.com/challenges/30127968 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-03 17:27] Oanh-and-only-Oanh commented on #4381
@luizrrodrigues any updates on this?

[2020-06-03 17:29] narekcat commented on #4448
@sushilshinde I have fixed this issue. Please see pull request https://github.com/topcoder-platform/community-app/pull/4462.

[2020-06-03 17:34] luizrrodrigues commented on #4381
@Oanh-and-only-Oanh This one is almost done, just waiting for confirmation about missing data in API `colorStyle` and `rating`, @rootelement in meeting right now and will check about this.

[2020-06-03 17:40] Oanh-and-only-Oanh commented on #4460
@luizrrodrigues, reassigning priority to P2. Please focus on P1 and P0 for now. thank you

[2020-06-03 19:26] simranb86 commented on #4430
@sushilshinde this is pending for @rootelement to provide a challenge which has events in valid format. I already flagged him on slack and waiting for him to provide one which could be used for development and then can pass to qa to validate it.

[2020-06-03 19:34] simranb86 commented on #4435
@SathyaJayabal checking, i did test the step 4, let me check if missed the change in PR.

[2020-06-03 22:50] PrakashDurlabhji commented on #4450
@sushilshinde here is PR which fixes it https://github.com/topcoder-platform/community-app/pull/4464

Also,

1. v4 chalenge detail response has "introduction" property, which is shown under the title "Challenge Summary".
2. so if "introduction" property is present then "Challenge summary" block will be visible.
3. whereas in v5 challenge response there is no "introduction" property present due to

[2020-06-04 00:06] rashmi73 commented on #4383
@sushilshinde apology for delay

[2020-06-04 02:18] sushilshinde commented on #4450
@PrakashDurlabhji we will wait for @rootelement to reply

[2020-06-04 04:00] luizrrodrigues commented on #4408
The main problem here is about missing `registrants` and `submissions` from API V5 return.

**Fixes done in Draft PR:**
- Fixed SSR flow to get new UUID from challenge
- Added support to receive lagacyId and UUID in routes
- Update `getChallengeRegistrants()`:
  - Execute only in SSR
  - Get roleId via `getResourceRoleId()`
  - Call `/resources` with m2mToken
- That validation if received challeng

[2020-06-04 04:03] luizrrodrigues commented on #4381
This was fixed in PRs:
https://github.com/topcoder-platform/community-app/pull/4431
https://github.com/topcoder-platform/topcoder-react-lib/pull/179

Both in Draft mode for now, because have blocking items:
https://github.com/topcoder-platform/community-app/issues/4408#issuecomment-638588422

[2020-06-04 04:54] PrakashDurlabhji commented on #4450
@sushilshinde I hope I am allowed to take other issues till then

[2020-06-04 04:55] sushilshinde commented on #4450
Yep

[2020-06-04 05:19] simranb86 commented on #4435
@sushilshinde  https://github.com/topcoder-platform/community-app/pull/4465

[2020-06-04 07:17] SathyaJayabal commented on #4435
@sushilshinde @simranb86 , verified  on beta and test. Redirection works as expected.
[redirect.mov.zip](https://github.com/topcoder-platform/community-app/files/4728163/redirect.mov.zip)

[2020-06-04 07:20] rootelement commented on #4430
Events is now a first class object:
http://api.topcoder-dev.com/v5/challenges?legacyId=30051173

Also, metadata is `{name, value}`, not `{type, value}`
http://api.topcoder-dev.com/v5/challenges?legacyId=30048648

please update accordingly and see my big update in slack for today.

[2020-06-04 07:22] rootelement commented on #4408
- Submissions will have to come from the Submissions api.
- Resources API now returns Rating on the resource object. The color will have to be computed on the frontend.
- Filter by Role ID is now working.

[2020-06-04 08:01] rootelement commented on #4450
This has been fixed by the latest migration. Introduction is prepended on the challenge description.

See here:
http://api.topcoder-dev.com/v4/challenges/30048648
http://api.topcoder-dev.com/v5/challenges?legacyId=30048648

[2020-06-04 08:14] SathyaJayabal commented on #4448
Verified on beta and test. Checkpoint prizes displayed  as expected.
<img width="1440" alt="Screenshot 2020-06-04 at 1 40 43 PM" src="https://user-images.githubusercontent.com/58783823/83732226-5b31f900-a669-11ea-9cf2-e6bb7e60211c.png">
<img width="1440" alt="Screenshot 2020-06-04 at 1 41 11 PM" src="https://user-images.githubusercontent.com/58783823/83732291-73a21380-a669-11ea-95e9-2c6e4b195682.p

[2020-06-04 08:23] SathyaJayabal opened #4466 "[$65] Challenge Listings/Details page loads a blank page"
https://test-community-app.topcoder-dev.com/challenges
loads a blank page in test env.
<img width="1440" alt="Screenshot 2020-06-04 at 1 49 27 PM" src="https://user-images.githubusercontent.com/58783823/83732962-76513880-a66a-11ea-97ab-6f8fed23a747.png">

[2020-06-04 08:32] SathyaJayabal commented on #4466
Also happening on the challenge details page
<img width="1440" alt="Screenshot 2020-06-04 at 2 01 13 PM" src="https://user-images.githubusercontent.com/58783823/83733913-e3190280-a66b-11ea-8610-43561043d613.png">

[2020-06-04 08:33] SathyaJayabal commented on #4466
cc @sushilshinde @lakshmiathreya

[2020-06-04 11:00] sushilshinde commented on #4466
This probably because the api payload is changed.

This is urgent issue. Please PR in 2 hours.

[2020-06-04 11:03] crazyk07 commented on #4466
[500]: Challenge for the updated issue 4466 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-04 11:10] PrakashDurlabhji commented on #4466
@sushilshinde before 2hours I will update and complete it

[2020-06-04 11:28] kkartunov opened #4467 "TCO21 site"
Create TCO21 site.

[2020-06-04 11:33] kkartunov opened #4468 "Footer - Add "Challenge Pipeline" Under Community"
It should link to http://www.topcoder.com/community/pipeline

[2020-06-04 11:57] PrakashDurlabhji commented on #4466
@sushilshinde it is solved raising PR

[2020-06-04 12:12] PrakashDurlabhji commented on #4466
@sushilshinde kindly verify https://github.com/topcoder-platform/community-app/pull/4469
PR

[2020-06-04 12:49] sushilshinde commented on #4466
ok thanks @PrakashDurlabhji

[2020-06-04 13:48] SathyaJayabal opened #4470 "[$30]Dashboard: remove legacy links from dashboard"
Dashboard: remove legacy links from dashboard : remove the below two links from the My dashboard page

<img width="1440" alt="Screenshot 2020-06-04 at 12 06 34 PM" src="https://user-images.githubusercontent.com/58783823/83764851-12456900-a698-11ea-8d17-30f9fbe21bfc.png">
<img width="1440" alt="Screenshot 2020-06-04 at 12 07 03 PM" src="https://user-images.githubusercontent.com/58783823/83764852-14

[2020-06-04 14:04] SathyaJayabal commented on #4466
verified on beta and test
<img width="1440" alt="Screenshot 2020-06-04 at 7 32 22 PM" src="https://user-images.githubusercontent.com/58783823/83766689-589bc780-a69a-11ea-9ed9-7a35e532ad67.png">
<img width="1440" alt="Screenshot 2020-06-04 at 7 32 24 PM" src="https://user-images.githubusercontent.com/58783823/83766726-618c9900-a69a-11ea-8ef7-bf878be58093.png">
<img width="1440" alt="Screenshot 2020

[2020-06-04 14:11] SathyaJayabal commented on #4428
@sushilshinde @PrakashDurlabhji , Not matching for the below. Was working previously.

v4:https://qa-community-app.topcoder-dev.com/challenges/30051802
v5:https://test-community-app.topcoder-dev.com/challenges/8d6ab1a3-f433-4c25-be7f-3060ec268113

<img width="1440" alt="Screenshot 2020-06-04 at 7 39 05 PM" src="https://user-images.githubusercontent.com/58783823/83767375-33f41f80-a69b-11ea-8d26-d44

[2020-06-04 14:16] SathyaJayabal commented on #4435
Reverified on test and beta after data model update (https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
Works as expected:
[redir.mov.zip](https://github.com/topcoder-platform/community-app/files/4730592/redir.mov.zip)

[2020-06-04 14:21] PrakashDurlabhji commented on #4428
@SathyaJayabal @sushilshinde Yes I realized it while  getting some references info
which mentioned "type" field is changed to "name" in metadata after my PR.hence it is not working now.

shall I raise a new PR with changes?

[2020-06-04 14:31] SathyaJayabal commented on #4448
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
v5 prod url :https://beta-community-app.topcoder.com/challenges/6a92af4d-328d-430b-a3a2-d8397513ffe8
v4 prod url: https://www.topcoder.com/challenges/30126014
v5 dev url: https://test-community-app.topcoder-dev.com/challenges/bec3ff26-5369-4bcf-9556-813bad5ab8ca
v4 dev url:https:

[2020-06-04 14:32] PrakashDurlabhji commented on #4428
@SathyaJayabal @sushilshinde here is new PR having latest changes as per latest api changes.
https://github.com/topcoder-platform/community-app/pull/4471

[2020-06-04 16:54] luizrrodrigues commented on #4408
Thanks @rootelement, one more question about `registrants` return:

- Not include `registrants.submissionDate`, so I need to get from **submissions_api** and merge in the frontend, right?

[2020-06-04 17:31] PrakashDurlabhji commented on #4450
@rootelement @sushilshinde @SathyaJayabal thanks for prepending to description.

But then it wont be possible to see title "Full Description & Project Guide" as it wont be possible to split description property.

hence a separate introductionProperty guarantees the title "Full Description & Project Guide"

[2020-06-04 21:44] simranb86 commented on #4430
Thanks @rootelement

@sushilshinde PR for the same https://github.com/topcoder-platform/topcoder-react-lib/pull/180

[2020-06-04 22:17] jswheeler commented on #4350
@Oanh-and-only-Oanh any update on this?

[2020-06-05 02:13] rootelement commented on #4408
Correct

On Thu, Jun 4, 2020 at 12:55 PM Luiz Ricardo Rodrigues <
notifications@github.com> wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.com/> / Topcoder
Blog: topcoder.com/blog / twitter: @Topcoder
<https://twitter.com/topcoder>201 S Capitol Ave, Indianapolis,

[2020-06-05 02:30] rootelement commented on #4450
No, we're not having separate fields anymore. It's all one field. So change
the layout of the page. That'll be fine. Just make one HTML field that
displays challenge.description.

On Thu, Jun 4, 2020 at 1:32 PM PrakashDurlabhji <notifications@github.com>
wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder

[2020-06-05 04:33] SathyaJayabal commented on #4436
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
<img width="1440" alt="Screenshot 2020-06-05 at 10 02 49 AM" src="https://user-images.githubusercontent.com/58783823/83837327-be786580-a713-11ea-9732-b40fa90dc0d7.png">
<img width="1440" alt="Screenshot 2020-06-05 at 10 02 51 AM" src="https://user-images.githubusercontent.com/587

[2020-06-05 04:37] SathyaJayabal commented on #4412
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
<img width="1440" alt="Screenshot 2020-06-05 at 10 06 02 AM" src="https://user-images.githubusercontent.com/58783823/83837517-42cae880-a714-11ea-807a-f0e1ec5e0489.png">
<img width="1440" alt="Screenshot 2020-06-05 at 10 06 22 AM" src="https://user-images.githubusercontent.com/587

[2020-06-05 04:40] SathyaJayabal commented on #4411
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
<img width="1440" alt="Screenshot 2020-06-05 at 10 09 10 AM" src="https://user-images.githubusercontent.com/58783823/83837687-aead5100-a714-11ea-8f38-a21371505c36.png">
<img width="1440" alt="Screenshot 2020-06-05 at 10 09 34 AM" src="https://user-images.githubusercontent.com/587

[2020-06-05 04:43] SathyaJayabal commented on #4410
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
<img width="1440" alt="Screenshot 2020-06-05 at 10 11 27 AM" src="https://user-images.githubusercontent.com/58783823/83837802-182d5f80-a715-11ea-9cb0-b8707c221f6a.png">

[2020-06-05 04:45] SathyaJayabal commented on #4409
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)

<img width="1440" alt="Screenshot 2020-06-05 at 10 14 16 AM" src="https://user-images.githubusercontent.com/58783823/83837915-5aef3780-a715-11ea-85ba-0a1648cd934c.png">
<img width="1440" alt="Screenshot 2020-06-05 at 10 14 19 AM" src="https://user-images.githubusercontent.com/58

[2020-06-05 04:48] SathyaJayabal opened #4472 "[$30]Past Challenges : loads a blank page sometimes"
https://beta-community-app.topcoder.com/challenges?bucket=past
https://test-community-app.topcoder-dev.com/challenges?bucket=past

<img width="1440" alt="Screenshot 2020-06-05 at 10 16 18 AM" src="https://user-images.githubusercontent.com/58783823/83838070-d4872580-a715-11ea-8232-2bcb3b8ffe70.png">
<img width="1440" alt="Screenshot 2020-06-05 at 10 16 38 AM" src="https://user-images.githubusercont

[2020-06-05 04:56] SathyaJayabal commented on #4405
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
<img width="1440" alt="Screenshot 2020-06-05 at 10 25 02 AM" src="https://user-images.githubusercontent.com/58783823/83838455-dbfafe80-a716-11ea-8392-ba65d2f1bc71.png">
<img width="1440" alt="Screenshot 2020-06-05 at 10 25 05 AM" src="https://user-images.githubusercontent.com/587

[2020-06-05 04:57] SathyaJayabal commented on #4404
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
<img width="1440" alt="Screenshot 2020-06-05 at 10 26 04 AM" src="https://user-images.githubusercontent.com/58783823/83838516-0baa0680-a717-11ea-8a82-1a036cee1653.png">
<img width="1440" alt="Screenshot 2020-06-05 at 10 26 17 AM" src="https://user-images.githubusercontent.com/587

[2020-06-05 05:02] SathyaJayabal commented on #4403
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
<img width="1440" alt="Screenshot 2020-06-05 at 10 31 59 AM" src="https://user-images.githubusercontent.com/58783823/83838784-d18d3480-a717-11ea-84c2-424cda1f0f9b.png">
<img width="1440" alt="Screenshot 2020-06-05 at 10 32 02 AM" src="https://user-images.githubusercontent.com/587

[2020-06-05 05:04] SathyaJayabal commented on #4402
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
<img width="1440" alt="Screenshot 2020-06-05 at 10 31 59 AM" src="https://user-images.githubusercontent.com/58783823/83838912-2af56380-a718-11ea-9800-8825d0e1d95e.png">
<img width="1440" alt="Screenshot 2020-06-05 at 10 32 02 AM" src="https://user-images.githubusercontent.com/587

[2020-06-05 05:28] SathyaJayabal opened #4473 "[$30]Open for registration bucket: <time> to register must be <time> to go"
Open for registration: <time> to register must be <time> to go

V5 URL: https://test-community-app.topcoder-dev.com/challenges?bucket=openForRegistration
V4 URL: https://qa-community-app.topcoder-dev.com/challenges?bucket=openForRegistration
<img width="1440" alt="Screenshot 2020-06-05 at 10 48 11 AM" src="https://user-images.githubusercontent.com/58783823/83839961-018a0700-a71b-11ea-8ec8-02c7de5e

[2020-06-05 05:56] SathyaJayabal opened #4474 "[$40]Open for registration: Challenge phases are incorrect"
Open for registration: Challenge phases are incorrect
V5 URL: https://test-community-app.topcoder-dev.com/challenges?bucket=openForRegistration
V4 URL: https://qa-community-app.topcoder-dev.com/challenges?bucket=openForRegistration
<img width="1440" alt="Screenshot 2020-06-05 at 11 00 27 AM" src="https://user-images.githubusercontent.com/58783823/83841830-3e57fd00-a71f-11ea-94ac-158d198fa118.png">

[2020-06-05 06:05] SathyaJayabal commented on #4401
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)

[sort beta.mov.zip](https://github.com/topcoder-platform/community-app/files/4734209/sort.beta.mov.zip)

[2020-06-05 06:11] SathyaJayabal commented on #4392
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)

[2020-06-05 06:16] SathyaJayabal commented on #4379
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
<img width="1440" alt="Screenshot 2020-06-05 at 11 42 04 AM" src="https://user-images.githubusercontent.com/58783823/83843157-0900de80-a722-11ea-8481-a77620a83ca6.png">

[2020-06-05 06:16] SathyaJayabal commented on #4378
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
<img width="1440" alt="Screenshot 2020-06-05 at 11 45 47 AM" src="https://user-images.githubusercontent.com/58783823/83843213-2766da00-a722-11ea-9116-d2087a11c687.png">
<img width="1440" alt="Screenshot 2020-06-05 at 11 45 56 AM" src="https://user-images.githubusercontent.com/587

[2020-06-05 06:21] simranb86 commented on #4435
@Oanh-and-only-Oanh @SathyaJayabal so we are good to close this ?

[2020-06-05 06:27] SathyaJayabal commented on #4451
Reverified on test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
<img width="1440" alt="Screenshot 2020-06-05 at 11 50 59 AM" src="https://user-images.githubusercontent.com/58783823/83843933-ab6d9180-a723-11ea-83d0-f4e15cd036ea.png">

[2020-06-05 06:29] SathyaJayabal commented on #4435
@simranb86 , we need to verify some of the dependent issues. Will close later in the day  if everything is fine.

[2020-06-05 06:33] SathyaJayabal commented on #4452
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)

<img width="1440" alt="Screenshot 2020-06-05 at 12 02 02 PM" src="https://user-images.githubusercontent.com/58783823/83844357-744bb000-a724-11ea-8045-4ef055e6b5fb.png">
<img width="1440" alt="Screenshot 2020-06-05 at 12 02 19 PM" src="https://user-images.githubusercontent.com/58

[2020-06-05 06:42] SathyaJayabal commented on #4447
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
<img width="1440" alt="Screenshot 2020-06-05 at 12 04 24 PM" src="https://user-images.githubusercontent.com/58783823/83845053-c6410580-a725-11ea-9da3-ad3754553519.png">
<img width="1440" alt="Screenshot 2020-06-05 at 12 08 40 PM" src="https://user-images.githubusercontent.com/587

[2020-06-05 06:48] SathyaJayabal commented on #4442
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
<img width="1440" alt="Screenshot 2020-06-05 at 12 16 24 PM" src="https://user-images.githubusercontent.com/58783823/83845471-921a1480-a726-11ea-9c38-4d80145e6e94.png">
<img width="1440" alt="Screenshot 2020-06-05 at 12 17 35 PM" src="https://user-images.githubusercontent.com/587

[2020-06-05 06:52] SathyaJayabal commented on #4377
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)
<img width="1440" alt="Screenshot 2020-06-05 at 12 19 45 PM" src="https://user-images.githubusercontent.com/58783823/83845626-e4f3cc00-a726-11ea-92f0-89221e9dcac0.png">
<img width="1440" alt="Screenshot 2020-06-05 at 12 19 48 PM" src="https://user-images.githubusercontent.com/587

[2020-06-05 07:03] crazyk07 commented on #4472
Contest https://www.topcoder.com/challenges/30128296 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-05 07:04] sushilshinde commented on #4472
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-05 07:04] sushilshinde commented on #4472
This is related to the latest payload changes.

[2020-06-05 07:06] sushilshinde commented on #4474
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-05 07:08] crazyk07 commented on #4474
Contest https://www.topcoder.com/challenges/30128305 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-05 07:08] sushilshinde commented on #4430
Thanks @simranb86

[2020-06-05 07:11] crazyk07 commented on #4474
Contest https://www.topcoder.com/challenges/30128305 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-05 07:13] crazyk07 commented on #4472
Contest https://www.topcoder.com/challenges/30128296 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-05 07:15] SathyaJayabal opened #4475 "Challenge listings page: Api error"
https://test-community-app.topcoder-dev.com/challenges?
V5 Challenge api returns "memberId\" is not allowed" error in dev.
user:jcori/appirio123

https://api.topcoder-dev.com/v5/challenges?status=Active&memberId=40029484
No error in prod  env
https://api.topcoder.com/v5/challenges?status=Active&memberId=22778049

<img width="1440" alt="Screenshot 2020-06-05 at 12 43 01 PM" src="https://user-images

[2020-06-05 09:29] SathyaJayabal commented on #4428
verified on test env
<img width="1440" alt="Screenshot 2020-06-05 at 2 54 19 PM" src="https://user-images.githubusercontent.com/58783823/83860571-0c559380-a73d-11ea-84e0-398d03856b62.png">
<img width="1440" alt="Screenshot 2020-06-05 at 2 56 07 PM" src="https://user-images.githubusercontent.com/58783823/83860632-20999080-a73d-11ea-8db9-59584ca14df7.png">
<img width="1440" alt="Screenshot 2020-06-0

[2020-06-05 09:46] SathyaJayabal commented on #4428
verified on beta env
<img width="1440" alt="Screenshot 2020-06-05 at 3 00 24 PM" src="https://user-images.githubusercontent.com/58783823/83861357-1d52d480-a73e-11ea-94e7-2e8dd1e30756.png">
<img width="1440" alt="Screenshot 2020-06-05 at 3 02 15 PM" src="https://user-images.githubusercontent.com/58783823/83861507-4a06ec00-a73e-11ea-8822-c3a48a3a8169.png">
<img width="1440" alt="Screenshot 2020-06-0

[2020-06-05 10:21] sushilshinde commented on #4475
@rootelement please help

[2020-06-05 12:25] sushilshinde commented on #4408
@luizrrodrigues even on current production submissions are coming from v5 submission API

[2020-06-05 12:55] SathyaJayabal commented on #4408
@sushilshinde in V4  we get an array of submitters and their submissions from the  challenge api. The  actual submission from the submission id is got submissions api. In V5 this initial information is not present.

<img width="446" alt="Screenshot 2020-06-05 at 6 23 06 PM" src="https://user-images.githubusercontent.com/58783823/83878456-d541ab00-a759-11ea-8c02-71acc7773678.png">

[2020-06-05 14:36] rootelement commented on #4475
Working on this. This will have to change to calling the resources api to get challenge ids, then call the GET /v5/challenges with a search body of `{ids: [uuid, uuid, uuid]}`

[2020-06-05 14:59] SathyaJayabal commented on #4430
verified on beta
<img width="1440" alt="Screenshot 2020-06-05 at 8 23 46 PM" src="https://user-images.githubusercontent.com/58783823/83891652-24440c00-a76b-11ea-939e-042a6bf532a3.png">
<img width="1440" alt="Screenshot 2020-06-05 at 8 24 41 PM" src="https://user-images.githubusercontent.com/58783823/83891668-2a39ed00-a76b-11ea-95e4-c83ea30a921d.png">

[2020-06-05 16:28] luizrrodrigues commented on #4408
@rootelement Thanks.

fyi: **submissions_api** not allow new challenge `UUID`. (I'm using `legacyId` for now.)
![image](https://user-images.githubusercontent.com/7029641/83839780-54d86700-a6d3-11ea-9ac6-8143564fe8ac.png)

[2020-06-05 16:31] luizrrodrigues commented on #4408
@sushilshinde : @SathyaJayabal is right, I'll need additional work to merge submission initial data in challenge details return and also to update new vars/params return from v5 API in Submissions Page.

[2020-06-05 16:40] sushilshinde commented on #4473
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-05 16:41] sushilshinde commented on #4470
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-05 16:42] crazyk07 commented on #4473
Contest https://www.topcoder.com/challenges/30128443 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-05 16:43] crazyk07 commented on #4470
Contest https://www.topcoder.com/challenges/30128444 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-05 16:43] crazyk07 commented on #4473
Contest https://www.topcoder.com/challenges/30128443 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-05 16:45] crazyk07 commented on #4470
Contest https://www.topcoder.com/challenges/30128444 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-05 17:41] narekcat commented on #4473
@SathyaJayabal @sushilshinde I have fixed this issue. Please see pull request https://github.com/topcoder-platform/community-app/pull/4476

[2020-06-05 18:29] rashmi73 commented on #4474
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/4477

[2020-06-05 21:03] PrakashDurlabhji commented on #4472
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/4478

[2020-06-05 21:46] PrakashDurlabhji commented on #4450
@sushilshinde it should be working as expected https://github.com/topcoder-platform/community-app/pull/4464 PR

[2020-06-05 23:13] cagdas001 commented on #4470
PR: #4479

[2020-06-06 02:40] sushilshinde commented on #4474
Thanks @rashmi73

[2020-06-06 02:42] sushilshinde commented on #4472
Thanks @PrakashDurlabhji

[2020-06-06 02:42] sushilshinde commented on #4473
Thanks @narekcat

[2020-06-06 03:08] sushilshinde commented on #4450
Thanks @PrakashDurlabhji

[2020-06-06 03:41] sushilshinde commented on #4376
Just wait for My Challenges bucket to finish. Till that time waiting placeholder animation should display.

[2020-06-06 04:40] SathyaJayabal commented on #4473
@narekcat , the  "to register" text  has been updated to "to go" in the below place. This should be "to register" as before.
<img width="1440" alt="Screenshot 2020-06-06 at 10 09 30 AM" src="https://user-images.githubusercontent.com/58783823/83936121-ea601d80-a7dd-11ea-94a8-acc7bac656c8.png">

[2020-06-06 04:47] SathyaJayabal commented on #4377
@sushilshinde @ThomasKranitsas , Past Challenges and Ongoing challenges are  displayed under Open for Registration bucket in production backend.

<img width="1440" alt="Screenshot 2020-06-06 at 10 15 22 AM" src="https://user-images.githubusercontent.com/58783823/83936201-e2ed4400-a7de-11ea-9219-3d392d2fbcaf.png">

[2020-06-06 04:53] SathyaJayabal commented on #4472
verified on beta and test
<img width="1440" alt="Screenshot 2020-06-06 at 10 22 52 AM" src="https://user-images.githubusercontent.com/58783823/83936271-bab21500-a7df-11ea-8cce-02af92f6bd69.png">
<img width="1440" alt="Screenshot 2020-06-06 at 10 22 56 AM" src="https://user-images.githubusercontent.com/58783823/83936274-c00f5f80-a7df-11ea-8ccf-6a9953f7e72e.png">

[2020-06-06 04:56] SathyaJayabal commented on #4407
Reverified on beta and test after data model update
(https://topcoder.slack.com/archives/G012CL5GF71/p1591254930370200)

[2020-06-06 05:01] SathyaJayabal commented on #4474
Verified on test
<img width="1440" alt="Screenshot 2020-06-06 at 10 28 03 AM" src="https://user-images.githubusercontent.com/58783823/83936369-bb977680-a7e0-11ea-918e-527a359e5436.png">
<img width="1440" alt="Screenshot 2020-06-06 at 10 28 07 AM" src="https://user-images.githubusercontent.com/58783823/83936373-c0f4c100-a7e0-11ea-995d-7d1042824849.png">

[2020-06-06 05:06] SathyaJayabal commented on #4470
verified on test and beta
<img width="1440" alt="Screenshot 2020-06-06 at 10 35 04 AM" src="https://user-images.githubusercontent.com/58783823/83936469-8a6b7600-a7e1-11ea-81cd-aec91f3e7b14.png">
<img width="1440" alt="Screenshot 2020-06-06 at 10 35 06 AM" src="https://user-images.githubusercontent.com/58783823/83936470-91928400-a7e1-11ea-9f24-de3210777ea4.png">
<img width="1440" alt="Screenshot 20

[2020-06-06 08:18] SathyaJayabal commented on #4450
@sushilshinde @PrakashDurlabhji  , the challenge  spec shows up, but the headings and formatting are missing in design challenges.
<img width="1440" alt="Screenshot 2020-06-06 at 1 44 28 PM" src="https://user-images.githubusercontent.com/58783823/83939607-f5c24180-a7fb-11ea-9230-8262d7ca9150.png">
<img width="1440" alt="Screenshot 2020-06-06 at 1 44 30 PM" src="https://user-images.githubuserconten

[2020-06-06 08:20] sushilshinde commented on #4450
@PrakashDurlabhji can you check

[2020-06-06 08:27] narekcat commented on #4473
@SathyaJayabal I have changed "to go" to "to register" in the left of challenge status bar. Please see pull request https://github.com/topcoder-platform/community-app/pull/4480.

[2020-06-06 09:11] #4452 closed

[2020-06-06 09:12] crazyk07 commented on #4452
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30127342<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-06 09:17] SathyaJayabal commented on #4451
@rootelement @sushilshinde ,  I dont see any Marathon match contest in prod backend after the latest data migration.
Looks like none of the MM challenges were migrated. Examples of challenges I could not find in V5
https://www.topcoder.com/challenges/30127161
https://www.topcoder.com/challenges/30126597
https://www.topcoder.com/challenges/30122959
https://www.topcoder.com/challenges/30123028

[2020-06-06 09:18] sushilshinde commented on #4451
@SathyaJayabal please open issue on challenge api share on slack in integration channel

[2020-06-06 09:25] #4449 closed

[2020-06-06 09:26] #4448 closed

[2020-06-06 09:26] #4447 closed

[2020-06-06 09:27] crazyk07 commented on #4448
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30127613<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-06 09:40] #4442 closed

[2020-06-06 09:40] crazyk07 commented on #4442
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30127208<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-06 09:40] #4430 closed

[2020-06-06 09:41] crazyk07 commented on #4430
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126891<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-06 09:41] crazyk07 commented on #4428
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126884<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-06 09:56] SathyaJayabal commented on #4420
verified on beta
example URL:
https://beta-community-app.topcoder.com/members/Standlove/details/?track=DEVELOP&subTrack=ASSEMBLY_COMPETITION
[rating_hist.mov.zip](https://github.com/topcoder-platform/community-app/files/4739788/rating_hist.mov.zip)

[2020-06-06 09:56] #4420 closed

[2020-06-06 09:56] sushilshinde commented on #4473
thanks @narekcat merging now

[2020-06-06 09:56] crazyk07 commented on #4420
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126688<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-06 10:04] sushilshinde commented on #4383
@rootelement fyi

[2020-06-06 10:06] crazyk07 commented on #4383
Contest https://www.topcoder.com/challenges/30127639 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-06 10:11] PrakashDurlabhji commented on #4450
@sushilshinde @SathyaJayabal @rootelement  as mentioned earlier in comments.

in V4:
1.  there were 2 properties hence 2 different section were visible and we were able to add that yellow block in between.

in V5:
1. now we have just whole content in a single property "description" so its not possible to show that yellow block. because how to split text in between without any logic?

For "Challeng

[2020-06-06 10:13] sushilshinde commented on #4450
@rootelement

[2020-06-06 10:16] sushilshinde commented on #4461
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-06 10:17] SathyaJayabal commented on #4429
@sushilshinde , not able to verify because the above challenges have not been migrated during the latest migration
https://github.com/topcoder-platform/challenge-api/issues/149

[2020-06-06 10:17] crazyk07 commented on #4461
Contest https://www.topcoder.com/challenges/30128535 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-06 10:18] sushilshinde commented on #4475
Thanks @rootelement please tag once this is resolved.

[2020-06-06 10:22] SathyaJayabal commented on #4434
@sushilshinde , these challenges not yet migrated on prod
https://github.com/topcoder-platform/challenge-api/issues/149

[2020-06-06 10:41] crazyk07 commented on #4461
Contest https://www.topcoder.com/challenges/30128535 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-06 10:42] SathyaJayabal commented on #4474
@sushilshinde , we will close this after verification on beta

[2020-06-06 10:42] #4472 closed

[2020-06-06 10:43] crazyk07 commented on #4472
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30128296<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-06 10:44] #4470 closed

[2020-06-06 10:44] crazyk07 commented on #4470
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30128444<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-06 10:52] ThomasKranitsas commented on #4377
@SathyaJayabal perhaps the phase was still open when you tested? Can you get me the challenge  ID please so I can debug? I don't see that challenge when going to the "Open for registration" bucket on my end

[2020-06-06 10:57] crazyk07 commented on #4435
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126939<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-06 10:59] SathyaJayabal commented on #4451
https://github.com/topcoder-platform/challenge-api/issues/149

[2020-06-06 11:05] SathyaJayabal commented on #4377
@ThomasKranitsas , the registration was not open when I tested. Try without logging in
https://beta-community-app.topcoder.com/challenges

These are the challenge ids:
https://beta-community-app.topcoder.com/challenges/5626dc7b-3bfa-45f7-bc1a-df57f5fb4c12
https://beta-community-app.topcoder.com/challenges/a9d54976-bbd9-4667-b323-38d53e525825

Closed contest:https://beta-community-app.topcoder.com/

[2020-06-06 11:06] rashmi73 commented on #4460
@sushilshinde can I try this? It's 3 days since last comment. I will immediately solve it

[2020-06-06 11:36] SathyaJayabal commented on #4433
@sushilshinde , not able to verify as the example challenge has not been migrated
[notif.mov.zip](https://github.com/topcoder-platform/community-app/files/4739897/notif.mov.zip)
![Uploading Screenshot 2020-06-06 at 5.05.18 PM.png…]()

[2020-06-06 11:41] SathyaJayabal commented on #4394
@sushilshinde not able to verify this as the challenges in the leaderboard are not yet migrated
<img width="1440" alt="Screenshot 2020-06-06 at 5 09 49 PM" src="https://user-images.githubusercontent.com/58783823/83943311-aa6a5c00-a818-11ea-82a0-c7e72510e0c1.png">
<img width="1440" alt="Screenshot 2020-06-06 at 5 09 30 PM" src="https://user-images.githubusercontent.com/58783823/83943316-b0f8d380-a8

[2020-06-06 11:45] rashmi73 commented on #4384
@sushilshinde can I try with this?

[2020-06-06 11:52] SathyaJayabal commented on #4394
https://github.com/topcoder-platform/challenge-api/issues/149

[2020-06-06 12:07] SathyaJayabal commented on #4473
verified on test and beta
<img width="1440" alt="Screenshot 2020-06-06 at 5 29 20 PM" src="https://user-images.githubusercontent.com/58783823/83943776-35992100-a81c-11ea-8013-5adc87d46d99.png">
<img width="1440" alt="Screenshot 2020-06-06 at 5 29 23 PM" src="https://user-images.githubusercontent.com/58783823/83943784-3f228900-a81c-11ea-957d-d64615237eca.png">

[2020-06-06 12:07] crazyk07 commented on #4473
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-06 13:26] narekcat commented on #4473
@SathyaJayabal @sushilshinde Will this issue be processed for payment?

[2020-06-06 18:50] narekcat commented on #4461
@SathyaJayabal @sushilshinde I have tried to fix issue using develop beck-end, but couldn't, because I am not a member of comcast/topgear community. How can I connect to that community ?

[2020-06-06 20:33] #4473 closed

[2020-06-06 20:33] simranb86 commented on #4384
@rashmi73 stop commenting on every other ticket, there are reasons why the tickets are taking longer.

[2020-06-06 20:34] crazyk07 commented on #4473
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30128443<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-07 01:27] sushilshinde commented on #4384
@rashmi73 please don't do that.

Wait for tickets to open again.

[2020-06-07 04:34] simranb86 commented on #4384
@sushilshinde PRs for the same here, as discussed over slack
- https://github.com/topcoder-platform/topcoder-react-lib/pull/181
- https://github.com/topcoder-platform/community-app/pull/4481

I did test around various scenarios so look forward to QA feedback on this :fine

[2020-06-07 04:43] simranb86 commented on #4376
Thanks, working on it

[2020-06-07 06:25] SathyaJayabal commented on #4384
@simranb86 , Not all challenges are displayed under the My Challenges bucket.
cc @sushilshinde
For example
user : dan_developer, only 1 out of 63 challenges are displayed
user : jcori, 0 out of 23 challenges are displayed
<img width="1440" alt="Screenshot 2020-06-07 at 11 53 18 AM" src="https://user-images.githubusercontent.com/58783823/83961910-8d379b00-a8b5-11ea-9f85-6f1f36aeb836.png">
<img widt

[2020-06-07 06:33] simranb86 commented on #4384
@SathyaJayabal did you check the response of this API call ?

https://api.topcoder-dev.com/v5/resources/40152905/challenges

Do note whatever challenge list this API gives back, My Challenges will show only Active Challenges out of it.

This is migration issue if we are expecting so many challenges to be shown.

[2020-06-07 06:41] simranb86 commented on #4384
@SathyaJayabal @sushilshinde checking on logic for showing that `late` part.

[2020-06-07 06:54] SathyaJayabal opened #4482 "[$40]Challenge Details: Source file formats section is missing"
V5 URL:https://beta-community-app.topcoder.com/challenges/5776a168-9c4a-43ea-9a69-a5f369777b3a
V4 URL:https://www.topcoder.com/challenges/30127937
Challenge Details: Source file formats section is missing
<img width="1440" alt="Screenshot 2020-06-07 at 12 21 24 PM" src="https://user-images.githubusercontent.com/58783823/83962265-b823ee00-a8b9-11ea-90a1-41b260821876.png">
<img width="1440" alt="Scr

[2020-06-07 07:36] simranb86 commented on #4384
@sushilshinde added fix to not show that Register part for My Challenges here - https://github.com/topcoder-platform/community-app/pull/4483

Do note this was additional work needed, as the code wasn't migrated at all from develop and hence we saw this issue. So had to bring in logic from develop branch, using new api logic in.

[2020-06-07 07:39] sushilshinde commented on #4384
@simranb86 thanks will take care of the extra efforts

[2020-06-07 07:42] sushilshinde commented on #4384
https://github.com/topcoder-platform/community-app/pull/4483

[2020-06-07 07:54] simranb86 commented on #4384
https://github.com/topcoder-platform/community-app/pull/4484

[2020-06-07 07:57] sushilshinde commented on #4482
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-07 07:58] crazyk07 commented on #4482
Contest https://www.topcoder.com/challenges/30128606 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-07 08:01] simranb86 commented on #4383
being discussed with @rootelement over slack for the API call to use, as none available right now, as per my knowledge

[2020-06-07 08:05] narekcat commented on #4461
@SathyaJayabal @sushilshinde Can you add me to the comcast/topgear community ?

[2020-06-07 08:06] crazyk07 commented on #4482
Contest https://www.topcoder.com/challenges/30128606 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-07 08:06] sushilshinde commented on #4461
Use dan developer user on dev

[2020-06-07 08:17] sushilshinde commented on #4384
@simranb86 as My Challenges takes time to display

We might need this #4376 to look it good :)

[2020-06-07 08:24] sushilshinde commented on #4384
@SathyaJayabal we will wait for #4376 to come for deploy that will add better user experience to My Challenges loading.

[2020-06-07 08:26] narekcat commented on #4461
@sushilshinde I have tried to use dan_developer on dev, but the problem is that there are no challenges in groups, where dan_developer is a member.

[2020-06-07 08:27] sushilshinde commented on #4461
Ok let me get approval to add you to the Comcast group

[2020-06-07 08:28] narekcat commented on #4461
@sushilshinde Ok, my topcoder handle is Narekvar90.

[2020-06-07 08:29] sushilshinde commented on #4461
Ok thanks

[2020-06-07 08:36] songzy12 opened #4485 "Mismatch of environment variable: NODE_ENV vs NODE_CONFIG_ENV?"
**Describe the bug**
I just started reading throught this project's document and do some tests.
1. I noticed that in the docs (e.g., README.md, contentful-configuration.md, Verification.md, etc.), and docker files (build.sh, Dockerfile), the environment variable `NODE_CONFIG_ENV` is mentioned and initialized.
2. However, in the nodejs files (package.json, src/server/index.js, src/shared/index.js),

[2020-06-07 08:40] songzy12 commented on #4485
If this is a bug, I can help to do the code fix.

[2020-06-07 08:57] SathyaJayabal commented on #4384
@sushilshinde @simranb86 , meanwhile we can address the rest of the issues.
1. Hiding time to register  - verified, works as expected
<img width="1440" alt="Screenshot 2020-06-07 at 2 10 58 PM" src="https://user-images.githubusercontent.com/58783823/83964353-0e992880-a8ca-11ea-9f54-3074c96c10e8.png">

2. user: dan_developer
api response only returns 1 active challenge for this user.
https://api.to

[2020-06-07 09:08] simranb86 commented on #4384
@SathyaJayabal Part 3 is also API bug, so what API filter for `https://api.topcoder-dev.com/v5/resources/40159097/challenges` is doing, since we send the other filter params along like `status=Active` and perPage info along, so API is breaking here and giving us back OR condition instead of AND condition

@rootelement can you check this too ☝️

[2020-06-07 09:21] simranb86 commented on #4376
@sushilshinde
PR
- https://github.com/topcoder-platform/community-app/pull/4486
- https://github.com/topcoder-platform/topcoder-react-lib/pull/182

[2020-06-07 09:21] simranb86 commented on #4375
@sushilshinde
PR
- https://github.com/topcoder-platform/community-app/pull/4486
- https://github.com/topcoder-platform/topcoder-react-lib/pull/182

[2020-06-07 09:21] simranb86 commented on #4376
Also as discussed over slack, bumped up perPage from 50 to 99 now.

[2020-06-07 09:22] sushilshinde commented on #4376
ok. thanks will review and merge

[2020-06-07 09:27] sushilshinde commented on #4485
@songzy12 which branch you were looking at?

[2020-06-07 09:31] songzy12 commented on #4485
@sushilshinde  the `develop` branch.

[2020-06-07 09:33] songzy12 commented on #4485
Just checked, this problem also exsits on the `master` branch.

[2020-06-07 09:33] sushilshinde commented on #4485
Ok I'm taking a note o this ticket.

We will not address this right away. I'll let you know about the fixing part.

And thanks for going through the code and observing the issue.

[2020-06-07 09:34] songzy12 commented on #4485
Sure, thanks!

[2020-06-07 10:18] cagdas001 commented on #4470
@SathyaJayabal @sushilshinde @crazyk07

Could you please close the payment task? Looks like it's stuck in the Iterative Review phase https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30128444

[2020-06-07 14:01] Oanh-and-only-Oanh commented on #4461
Is dan developer not part of Comcast group? We can add that user to the group.

[2020-06-07 14:05] narekcat commented on #4461
@Oanh-and-only-Oanh No, dan_developer isn't Comcast group member. If we add dan_developer to Comcast group, then we also need to create new challenges in that group in dev beck-end.

[2020-06-07 17:22] rashmi73 commented on #4482
@sushilshinde @rootelement here is PR https://github.com/topcoder-platform/community-app/pull/4487

also make sure metadata array has object present with name "fileTypes" in v5 api, because currently it is not present in v5 response and also once available in v5 it wont be visible unless my PR is merged because "type" is renamed to "name" in metadata.

[2020-06-07 18:17] simranb86 commented on #4482
@rashmi73 test with http://api.topcoder-dev.com/v5/challenges?legacyId=30048648

@SathyaJayabal FYI too for testing ☝️

[2020-06-07 20:50] mtwomey commented on #4461
@sushilshinde It's fine to add him to that group. It's also fine to add Dan_Developer.

[2020-06-08 03:58] luizrrodrigues commented on #4380
@SathyaJayabal @sushilshinde @Oanh-and-only-Oanh

This one was fixed in PRs from issue https://github.com/topcoder-platform/community-app/issues/4408 :
https://github.com/topcoder-platform/community-app/pull/4431
https://github.com/topcoder-platform/topcoder-react-lib/pull/179

[2020-06-08 04:47] simranb86 commented on #4377
@SathyaJayabal @sushilshinde I have fixed this issue also in my PR. Can you try where you have deployed my PR?

[2020-06-08 04:49] SathyaJayabal commented on #4482
@rashmi73 @sushilshinde ,we are getting a blank page on loading challenge details page for design contests, with error related to file types. Please see screenshot.

The api does return the "fileTypes" in the meta data array.
http://api.topcoder-dev.com/v5/challenges?legacyId=30048648
http://api.topcoder.com/v5/challenges?legacyId=30127937
<img width="1440" alt="Screenshot 2020-06-08 at 10 15 10 A

[2020-06-08 04:57] SathyaJayabal commented on #4384
@sushilshinde , we still need help form @rootelement for issues 2 and 3 mentioned above

[2020-06-08 04:58] sushilshinde commented on #4482
@rashmi73 please patch

[2020-06-08 05:06] luizrrodrigues commented on #4408
The main problem here is about missing `registrants` and `submissions` from API V5 return.

**Fixes done in PR:**
- Fixed SSR flow to get new UUID from challenge
- Added support to receive lagacyId and UUID in routes
- Update `getChallengeRegistrants()`:
  - Execute call via tc proxy
  - Get roleId via `getResourceRoleId()`
  - Call `/resources` via tc proxy
- Added `getChallengeSubmissions()`:

[2020-06-08 05:26] SathyaJayabal opened #4488 "Challenge filters: The challenge filter counts have incorrect values before the correct values are updated"
When we first load the challenge listings page, the challenge filters on the right column get updated with incorrect counts. The correct counts are updated after a few seconds
<img width="1440" alt="Screenshot 2020-06-08 at 10 54 14 AM" src="https://user-images.githubusercontent.com/58783823/83995297-a48a8d00-a976-11ea-99d2-adacf8fe15e0.png">
<img width="1440" alt="Screenshot 2020-06-08 at 10 55 0

[2020-06-08 05:27] SathyaJayabal commented on #4376
verified on beta and test.
[4376.mov.zip](https://github.com/topcoder-platform/community-app/files/4744011/4376.mov.zip)

[2020-06-08 05:31] rashmi73 commented on #4482
@sushilshinde patching

[2020-06-08 05:48] SathyaJayabal commented on #4377
@simranb86 , we still see these challenges under open for registration after your PR is deployed. (https://github.com/topcoder-platform/community-app/pull/4486 - this is the PR you are referring to right?)
<img width="1440" alt="Screenshot 2020-06-08 at 11 16 07 AM" src="https://user-images.githubusercontent.com/58783823/83996420-c5081680-a979-11ea-963b-c08e0d9f7c5f.png">

[2020-06-08 05:59] sushilshinde commented on #4482
Reverting code.

[2020-06-08 06:14] SathyaJayabal commented on #4375
@simranb86 , @sushilshinde  We can now see challenges in all the buckets. But there are many  issues with  the challenges  displayed.

1. Migration issue : MM challenges and some other challenges were not migrated during the last data migration
https://github.com/topcoder-platform/challenge-api/issues/148
https://github.com/topcoder-platform/challenge-api/issues/149

2. Many completed challenges a

[2020-06-08 06:28] simranb86 commented on #4377
Thanks @SathyaJayabal - then that might need some change, not sure about it then, i would let @ThomasKranitsas come back on this.

[2020-06-08 06:44] simranb86 commented on #4375
@SathyaJayabal 2/3/4/5 is already covered in separate ticket I guess and they weren't part of this ticket - the main part was to get the numbers in which weren't coming earlier. The challenges are displayed this way due to data as I see from snapshots. The timezone issue I have already highlighted before also to @sushilshinde - need to dig into chat history. This maybe due to different env, hosted

[2020-06-08 06:51] rashmi73 commented on #4482
@sushilshinde that failure is due to my code?

[2020-06-08 06:52] sushilshinde commented on #4482
Yes

[2020-06-08 06:54] simranb86 commented on #4384
@SathyaJayabal I see part 3 could be a code issue, I am pushing one PR in next few mins, let's try with that.

@sushilshinde fyi too ☝️

[2020-06-08 06:57] SathyaJayabal commented on #4375
@sushilshinde , shall we open new issues to address these problems individually?

cc @simranb86

[2020-06-08 07:05] simranb86 commented on #4375
@SathyaJayabal that would sound fair to be frank. My board is clean so @sushilshinde can assign them to be fine once we have them in. Addressing one at a time sounds reasonable, as we need to check API and each such challenge. But do we have list of challenges or these are just some of them? I think it would be fair to get list of challenges, this way developers can check what V4 and V5 API is ret

[2020-06-08 07:12] SathyaJayabal commented on #4375
@simranb86 , what do you mean by list of challenges in your above comment ?

[2020-06-08 07:20] sushilshinde commented on #4375
@SathyaJayabal QA comments aren't related to this particular issue scope.

How is 1 to 5 related to this issue?

Open new issues for each observation.

[2020-06-08 07:24] sushilshinde commented on #4482
@rashmi73 are you sending PR? please do that 4 hours

[2020-06-08 07:28] crazyk07 commented on #4488
Contest https://www.topcoder.com/challenges/30128683 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-08 07:29] crazyk07 commented on #4488
Contest https://www.topcoder.com/challenges/30128683 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-08 07:35] sushilshinde opened #4490 "[$40] Add animation placeholder for changing buckets"
When member clicks on any of the bucket left-hand listing panel should show loading animation placeholder.

![Topcoder Challenges 2020-06-08 13-04-08](https://user-images.githubusercontent.com/683231/84004061-9e9da780-a988-11ea-9e09-5907c5c14e22.png)

[2020-06-08 07:38] crazyk07 commented on #4490
Contest https://www.topcoder.com/challenges/30128695 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-08 07:38] crazyk07 commented on #4490
Contest https://www.topcoder.com/challenges/30128695 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-08 07:38] crazyk07 commented on #4490
Contest https://www.topcoder.com/challenges/30128695 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-08 07:38] crazyk07 commented on #4490
Contest https://www.topcoder.com/challenges/30128695 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-08 07:39] simranb86 commented on #4488
@sushilshinde @SathyaJayabal I think we are also expecting values here for Open for Registration and ongoing to be like final values, but that is not possible here - right now what we see as final values are something done by front-end after running all bucket policy. We would need metadata support in V5 API for this where @rootelement can help adding support to V5 /Challenges API to return someth

[2020-06-08 07:42] narekcat commented on #4461
@sushilshinde Can you add me or dan_developer to comcast group ?

[2020-06-08 07:53] sushilshinde commented on #4461
@narekcat please test, you should be part of the group.

You if you are running in the prod mode

1. go to localhost:3000
2.  Search for `Comcast Community` link
3. Navigate from here for each change.

[2020-06-08 07:54] simranb86 commented on #4384
@sushilshinde PR for Part 3 feedback above, there was one bug also in code which is fixed.
- https://github.com/topcoder-platform/topcoder-react-lib/pull/183

@SathyaJayabal after merge of this PR, you should see similar behaviour for Part 3 like for Part 2 since the API (`https://api.topcoder-dev.com/v5/resources/40159097/challenges` ) returns `[]` in V5, so once @rootelement fixes migration, we

[2020-06-08 07:54] narekcat commented on #4461
@sushilshinde Ok, thank you.

[2020-06-08 07:55] rashmi73 commented on #4482
@sushilshinde it is completed I just forgot to mention it here PR https://github.com/topcoder-platform/community-app/pull/4489

[2020-06-08 07:55] sushilshinde commented on #4461
and on dev dan_developer is already for Comcast group (dev env)

[2020-06-08 08:01] narekcat commented on #4461
Ok, thanks.

[2020-06-08 08:01] simranb86 commented on #4375
I mean list all challenges which are in wrong bucket when you open new tickets.
BTW as also flagged by @sushilshinde we can move this to `QA Pass` as the issues are not related to original requirement here.

[2020-06-08 08:11] SathyaJayabal commented on #4375
@simranb86 , there are too many to list every challenge. I will give examples for each sub issue and we can go from there. Most cases fixing the example case should fix all similar challenges.

[2020-06-08 08:13] SathyaJayabal commented on #4375
Marking this as pass as we now have challenges listed for all buckets. Will track the issues 1-5 with new issues

[2020-06-08 08:45] SathyaJayabal commented on #4435
@simranb86 @sushilshinde , sometimes the redirection does not work. Please see the attached video. We get the following error
<img width="1440" alt="Screenshot 2020-06-08 at 2 15 03 PM" src="https://user-images.githubusercontent.com/58783823/84010590-7f0b7c80-a992-11ea-8f11-d16028597dc1.png">

[redir.mov.zip](https://github.com/topcoder-platform/community-app/files/4744807/redir.mov.zip)

[2020-06-08 09:08] SathyaJayabal opened #4491 "[$30]Challenge Listings: Sometimes the challenges do not load and the animation placeholder is displayed for a long time"
https://test-community-app.topcoder-dev.com/challenges

Sometimes the challenges do not load and the animation placeholder is displayed for a long time.

Please see attached video.
[perf.mov.zip](https://github.com/topcoder-platform/community-app/files/4744929/perf.mov.zip)

[2020-06-08 09:12] simranb86 commented on #4435
@SathyaJayabal works as expected, see attached

[4435.mov.zip](https://github.com/topcoder-platform/community-app/files/4744945/4435.mov.zip)

[2020-06-08 09:30] SathyaJayabal opened #4492 "[$40]Private Challenge: Member of child group is not able to view challenge belonging to parent group"
Groups have hierarchy. Members of the child group will have upward visibility (members of child group will be able to view all challenges belonging to the parent group). In V5, this scenario is not working. The member of a child group is not able to view the challenge belonging to the parent group.

Example:
User : topcoderconnect/appirio123
Parent group: "A newer group"
Child group: "V5 1.1 Level

[2020-06-08 09:36] SathyaJayabal commented on #4435
@simranb86 , I know it works sometimes, but I did face this problem many times today. @sushilshinde too faced the issue. Even now I see this happening. Maybe we can observe this for some more time.
<img width="1440" alt="Screenshot 2020-06-08 at 3 05 03 PM" src="https://user-images.githubusercontent.com/58783823/84015467-81bda000-a999-11ea-904d-d0b68e90ee5c.png">

[2020-06-08 09:38] lakshmiathreya commented on #4492
cc @dushyantb

[2020-06-08 09:43] lakshmiathreya commented on #4435
the Challenge is not loading even for Admin user:
<img width="1656" alt="Screenshot 2020-06-08 at 3 10 05 PM" src="https://user-images.githubusercontent.com/51733042/84016184-8767b580-a99a-11ea-9953-0dabbf27969e.png">

[2020-06-08 11:29] SathyaJayabal commented on #4384
@simranb86 , @sushilshinde  #3 is verified
<img width="1440" alt="Screenshot 2020-06-08 at 4 57 28 PM" src="https://user-images.githubusercontent.com/58783823/84025543-665a9100-a9a9-11ea-8cd4-d0dc01e85f3f.png">

[2020-06-08 11:39] SathyaJayabal commented on #4384
@rootelement , not all challenges registered by the user are returned by the api. Api response only returns 1 active challenge for this user.
https://api.topcoder-dev.com/v5/resources/40152905/challenges
In v4 the user is registered to 63 active challenges, but we see only 1 here.

[2020-06-08 12:10] crazyk07 commented on #4491
Contest https://www.topcoder.com/challenges/30128753 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-08 12:10] crazyk07 commented on #4491
Contest https://www.topcoder.com/challenges/30128753 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-08 12:13] SathyaJayabal commented on #4408
@luizrrodrigues @sushilshinde , challenge details page is throwing an error
<img width="1440" alt="Screenshot 2020-06-08 at 5 42 28 PM" src="https://user-images.githubusercontent.com/58783823/84029086-75444200-a9af-11ea-855c-210466c49356.png">

[2020-06-08 12:13] SathyaJayabal commented on #4381
@luizrrodrigues @sushilshinde , https://github.com/topcoder-platform/community-app/issues/4408#issuecomment-640565242

[2020-06-08 12:15] SathyaJayabal commented on #4380
@sushilshinde @luizrrodrigues
https://github.com/topcoder-platform/community-app/issues/4408#issuecomment-640565242

[2020-06-08 12:50] rootelement commented on #4450
This is an artifact of design challenges and dev challenges being separate. Just move this to the bottom after the spec. Do not do any logic to split specifications. No API fix is needed here.

[2020-06-08 13:00] rootelement commented on #4384
Ok @simranb86 , I've reviewed this. Because of the need to combine queries for a member along with other challenge filters, I've re-enabled the `v5/challenges?memberId=00000` endpoint. This was disabled because we were unsure of the nature of security around it, but it seems like this is necessary to get v1 out the door. I will log it as tech debt to make sure this doesn't leave any vulnerabilitie

[2020-06-08 13:02] rootelement commented on #4488
There's no metadata support, as that doesn't follow REST standard. You would need to hit the api with a `?perPage=1` for each query you need and use the `X-Total` header for these. These api calls take about 28ms in production from ES so the impact is minimal

[2020-06-08 13:03] PrakashDurlabhji commented on #4450
@SathyaJayabal @sushilshinde as clarified above i will add yellow block at bottom after description.

@rootelement am I correct with understanding?

[2020-06-08 13:11] luizrrodrigues commented on #4408
@SathyaJayabal can you attach a screenshot of error in console?

@rootelement looks like we getting error “internal server error” when try get registrants from some projects.

[2020-06-08 14:07] lakshmiathreya opened #4493 "Challenge Details: Fails to load"
After the latest deployment today - Challenge details fail to load:
<img width="1665" alt="Screenshot 2020-06-08 at 7 34 46 PM" src="https://user-images.githubusercontent.com/51733042/84039754-59e13300-a9bf-11ea-8e15-bc3320252819.png">

[2020-06-08 14:07] lakshmiathreya commented on #4493
cc @SathyaJayabal

[2020-06-08 14:14] lakshmiathreya commented on #4493
v4 Challenge Details as reference for the same challenge:
<img width="1622" alt="Screenshot 2020-06-08 at 7 41 47 PM" src="https://user-images.githubusercontent.com/51733042/84040622-76ca3600-a9c0-11ea-8abf-60cc765f8f6e.png">

[2020-06-08 14:43] rootelement commented on #4493
I just tried clicking a listing, got to the details page and got the not found error, but if I try the API with that same ID, it works fine:
works: http://api.topcoder-dev.com/v5/challenges/d741f46c-fb1b-4ead-8112-4c2a674b3c7f
doesn't work: https://test-community-app.topcoder-dev.com/challenges/d741f46c-fb1b-4ead-8112-4c2a674b3c7f

This has to be a frontend issue.

[2020-06-08 15:00] SathyaJayabal commented on #4493
@sushilshinde @luizrrodrigues

[2020-06-08 15:43] rootelement commented on #4475
This works in dev:
[code]

[2020-06-08 15:47] Oanh-and-only-Oanh commented on #4350
@jswheeler, this requires community app backend update. however, we can't interrupt v5 challenge work right now so we will need to wait until the first PROD release before resuming work on this ticket.

[2020-06-08 15:52] rootelement commented on #4450
Yes, this is as designed

[2020-06-08 15:53] rootelement commented on #4408
Debugging this now

[2020-06-08 16:00] ThomasKranitsas commented on #4377
Hi @simranb86 @SathyaJayabal I’ve seen the same in the past with challenges that are supposed to be closed but some of their phases were left open. I’d assume this is an issue in the autopilot that’s not closing the phases properly. For example, the challenge http://api.topcoder.com/v5/challenges/fc360538-7997-4515-9b4f-832e93ff114c is showing in the Open for registration bucket and it’s supposed

[2020-06-08 16:20] rootelement commented on #4408
I need IDs to confirm and if this is in dev or prod please as well @SathyaJayabal

[2020-06-08 16:24] rootelement commented on #4408
Again, this returns data from the API:
http://api.topcoder-dev.com/v5/challenges/d741f46c-fb1b-4ead-8112-4c2a674b3c7f

In the resource api, i'm seeing these errors:
[code]

What is calling `GET v5/resource-roles`? That should be from a system with an m2m, not a frontend. @luizrrodrigues  Can you please provide the API calls that you're making so I can confirm?

[2020-06-08 16:27] SathyaJayabal commented on #4408
@rootelement , this happens in both dev and prod and foe all challenges. This is the same issue documented here
https://github.com/topcoder-platform/community-app/issues/4493

here are a few examples:
https://test-community-app.topcoder-dev.com/challenges/d741f46c-fb1b-4ead-8112-4c2a674b3c7f
https://beta-community-app.topcoder.com/challenges/e4b154cc-4430-453c-ba76-3cf47d05dedc

[2020-06-08 16:32] luizrrodrigues commented on #4408
@rootelement This call is via proxy:
https://github.com/topcoder-platform/topcoder-react-lib/blob/ff9f3785c65ec6f742af21f9bcf2776fbd860a1b/src/services/challenges.js#L557-L576

https://github.com/topcoder-platform/topcoder-react-lib/blob/ff9f3785c65ec6f742af21f9bcf2776fbd860a1b/src/services/api.js#L294-L314

[2020-06-08 16:37] rootelement commented on #4408
Pushing an update to resources to increase logging

[2020-06-08 22:39] PrakashDurlabhji commented on #4450
@sushilshinde new PR https://github.com/topcoder-platform/community-app/pull/4494

[2020-06-08 22:56] rootelement commented on #4408
I was able to view this challenge details, and register for the challenge in dev.
<img width="1372" alt="Screen Shot 2020-06-08 at 6 56 04 PM" src="https://user-images.githubusercontent.com/5400156/84088103-c22d1600-a9b9-11ea-89fc-58f45207c05c.png">

I'm still seeing an issue with the submissions page. I just get a white page.

[2020-06-09 02:52] sushilshinde commented on #4493
working now

[2020-06-09 03:33] SathyaJayabal commented on #4435
Reducing the priority as this is an intermittent issue.

[2020-06-09 03:34] crazyk07 commented on #4482
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30128606<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-09 03:43] SathyaJayabal commented on #4450
@sushilshinde @rootelement @PrakashDurlabhji , the formatting is still missing https://github.com/topcoder-platform/community-app/issues/4450#issuecomment-640011225

I am reducing the priority as the main issue is resolved.

[2020-06-09 03:47] SathyaJayabal opened #4495 "[$40]Challenge listings: subtrack details not displayed"
Challenge listings: subtrack details not displayed
<img width="1440" alt="Screenshot 2020-06-09 at 9 14 54 AM" src="https://user-images.githubusercontent.com/58783823/84103920-fd6b2b80-aa31-11ea-9615-59bf836efedf.png">

[2020-06-09 04:07] SathyaJayabal opened #4496 "Challenge details: Submissions tab loads a blank page"
https://test-community-app.topcoder-dev.com/challenges/2bc66064-329d-4602-ab39-b5874d5e5986?tab=submissions
user:not logged in
<img width="1440" alt="Screenshot 2020-06-09 at 9 35 28 AM" src="https://user-images.githubusercontent.com/58783823/84104998-a87ce480-aa34-11ea-8003-412f23283773.png">

[2020-06-09 04:12] SathyaJayabal opened #4497 "[$40]Challenge Details: Winners tab loads a blank page"
`Challenge Details: Winners tab loads a blank page
https://test-community-app.topcoder-dev.com/challenges/933dd04e-be39-4ed0-93bd-ba26a8f376a9?tab=winners

<img width="1440" alt="Screenshot 2020-06-09 at 6 39 30 PM" src="https://user-images.githubusercontent.com/58783823/84151169-96c12e80-aa80-11ea-9b29-98037b543e72.png">

[2020-06-09 04:37] SathyaJayabal opened #4498 "[$70]Challenge details: submit button not enabled for registered users"
Challenge details: submit button not enabled for registered users even though the  submission phase is open.
https://test-community-app.topcoder-dev.com/challenges/2bc66064-329d-4602-ab39-b5874d5e5986

<img width="1440" alt="Screenshot 2020-06-09 at 10 05 46 AM" src="https://user-images.githubusercontent.com/58783823/84106511-f398f680-aa38-11ea-8c35-102a1043e2af.png">

[2020-06-09 04:40] SathyaJayabal opened #4499 "[$30]Challenge Details: Contest status is incorrect"
https://test-community-app.topcoder-dev.com/challenges/2bc66064-329d-4602-ab39-b5874d5e5986

<img width="1440" alt="Screenshot 2020-06-09 at 10 08 14 AM" src="https://user-images.githubusercontent.com/58783823/84106640-54c0ca00-aa39-11ea-9114-24c5615005ea.png">

[2020-06-09 05:06] simranb86 commented on #4435
@SathyaJayabal @sushilshinde did you guys had a chance to look at console if there are any errors there when you saw the issue?

[2020-06-09 05:10] simranb86 commented on #4488
Thanks @rootelement - let me see that

[2020-06-09 05:12] SathyaJayabal commented on #4493
not yet working on beta
https://beta-community-app.topcoder.com/challenges/de5379a2-5c3c-46bc-879b-029a813f47a7
<img width="1440" alt="Screenshot 2020-06-09 at 10 39 13 AM" src="https://user-images.githubusercontent.com/58783823/84108344-9bb0be80-aa3d-11ea-9be1-c2faf399bcc4.png">
Also not working on test for  design   challenges
https://test-community-app.topcoder-dev.com/challenges/5d4e5332-9012-

[2020-06-09 05:14] SathyaJayabal commented on #4435
@simranb86 , there  is  some issue  with the challenge details page at present, but I  will try to get that information for you when the present issue is resolved (https://github.com/topcoder-platform/community-app/issues/4493)

[2020-06-09 05:30] SathyaJayabal commented on #4495
Can be observed on beta too
<img width="1440" alt="Screenshot 2020-06-09 at 10 59 33 AM" src="https://user-images.githubusercontent.com/58783823/84109472-5a6dde00-aa40-11ea-90eb-bd6e8f876c76.png">

[2020-06-09 06:22] simranb86 commented on #4488
@rootelement follow up question on your note here - https://github.com/topcoder-platform/community-app/issues/4488#issuecomment-640588612 - what is the API to find openForRegistration challenges / OnGoing Challenges ? For My Challenges we use /v5/challenges?memberId=xxxx but i don’t see a way to get count for others ?

[2020-06-09 06:25] simranb86 commented on #4383
@rootelement we need V5 API support like `/v5/challenges?memberHandle=sr_jr` - I don't see way we can load other userId

[2020-06-09 07:02] simranb86 commented on #4491
@SathyaJayabal @sushilshinde what is load time we looking at since we have lot of backend calls going on, so that maybe causing this issue I guess.

[2020-06-09 07:07] kkartunov opened #4500 "Profile settings - skills update"
1) a member should be able to add [newly added](https://docs.google.com/spreadsheets/d/1JRuRpP6K7vqi0s9bCDiGIlBnhhD37gxvKQWixgxrRJU/edit#gid=0) skills to their profiles
2) these skills should be able to be "verified" if member wins a challenge tagged with this new skill

BUG:
Member has participated in two challenges with react.js tags in it. (also other tags like scss, html5) but does not have it

[2020-06-09 07:09] simranb86 commented on #4384
@rootelement we still need to migrate user registrations to V5 else @SathyaJayabal cannot verify and close this ticket. The work on this is done from my side and tested, we are waiting for you to migrate all registrations from V4 to V5. Please flag once done so @SathyaJayabal can verify the same.

@sushilshinde FYI ☝️

[2020-06-09 07:12] SathyaJayabal commented on #4491
@simranb86 , Sometimes the page loads within 2 seconds, other times takes more than 3 or 4 minutes. I am not sure if this is due to performance issue or something else.

[2020-06-09 07:14] simranb86 commented on #4491
Ok I have changed the logic a bit, pushing a PR in few mins for #4383 which should speed this up.

[2020-06-09 07:16] simranb86 commented on #4383
@sushilshinde PRs for the same
- https://github.com/topcoder-platform/topcoder-react-lib/pull/184
- https://github.com/topcoder-platform/community-app/pull/4501

Note also changed logic for User Challenges loading so it is faster now with less calls going in so this should also fix #4491 - @SathyaJayabal please help verify both once the changes are merged and deployed.

[2020-06-09 07:17] simranb86 commented on #4491
@sushilshinde this should also speed this page up, https://github.com/topcoder-platform/community-app/issues/4383#issuecomment-641083893 - so moving to review so we can test once the changes are merged and will address if we still see issues.

[2020-06-09 08:19] kkartunov opened #4502 "Develop Policy Pages - Contentful based"
Desktop: https://marvelapp.com/22595fi6/screen/67508151
Mobile: https://marvelapp.com/e21fai1/screen/67567449

Links should be:
- BUSSINESS -> https://www.topcoder.com/
- COMMUNITY -> https://www.topcoder.com/community/learn

Should reuse standard TC footer.

Desired URL address of the pages is http://topcoder.com/policy/[XYZ]. Link to policy from TC footer - "Policies"

Testing URL: https://commu

[2020-06-09 08:29] kkartunov opened #4503 "Add support for switching tabs via URL query parameters"
For example https://www.topcoder.com/community/statistics

One should be able to link to a particular tab page/state.

Testing: This can be tested on dev here https://www.topcoder-dev.com/community/statistics but note that on dev stats do not work and will display an error "lookerApi: Not Found" which is not an issue. Dev can be used to test this.

[2020-06-09 08:45] sushilshinde opened #4504 "[30]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-06-09 08:47] sushilshinde commented on #4461
Update on this @narekcat ?

[2020-06-09 08:48] sushilshinde opened #4505 "[$30] review type needs auth token"
1. Hit this url https://test-community-app.topcoder-dev.com/challenges
2. Check newtwork console
3. This call doesn't have token `https://api.topcoder-dev.com/v5/reviewTypes`

Fix: add Auth token to the call

@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integratio

[2020-06-09 08:49] #4504 closed

[2020-06-09 08:53] crazyk07 commented on #4505
Contest https://www.topcoder.com/challenges/30128910 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-09 09:30] crazyk07 commented on #4505
Contest https://www.topcoder.com/challenges/30128910 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-09 09:42] PrakashDurlabhji commented on #4450
@SathyaJayabal @sushilshinde regarding formatting I have least control on it as whatever styles present in description property is being seen and there are inline styles present in it.
will check on it and revert back but can you please send any latest challenge links so that I can verify too. I will checkmyself too

[2020-06-09 10:30] crazyk07 commented on #4492
Contest https://www.topcoder.com/challenges/30128920 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-09 11:02] #4475 closed

[2020-06-09 11:13] narekcat commented on #4461
@sushilshinde I have spend more then 8 hours, yesterday, but still can't fix it. The problem is with groups api. If you give me more time, I'll try fix it in next 4 hours.

[2020-06-09 11:15] sushilshinde commented on #4461
Sure

In cases please add status in the issue comments

Communication is important

Find me on Topcoder community slack

[2020-06-09 11:16] sushilshinde commented on #4482
@rashmi73 please PR this again, I had to revert for other reason.

nothing to do with you code.

[2020-06-09 11:19] narekcat commented on #4461
@sushilshinde Ok. Thank you.

[2020-06-09 11:20] #4493 closed

[2020-06-09 11:59] sushilshinde commented on #4384
@simranb86 why so many calls, though every call is sam?
![Desktop 2020-06-09 17-27-34](https://user-images.githubusercontent.com/683231/84144997-c53a0c00-aa76-11ea-8163-d91e9db19d52.png)

[2020-06-09 12:28] sushilshinde commented on #4495
Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-09 12:30] crazyk07 commented on #4495
Contest https://www.topcoder.com/challenges/30128949 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-09 12:32] sushilshinde commented on #4383
@simranb86 please raise topcoer react lib PR again.

I had to revert it for some other reason

[2020-06-09 12:59] SathyaJayabal commented on #4493
working now
<img width="1440" alt="Screenshot 2020-06-09 at 6 28 38 PM" src="https://user-images.githubusercontent.com/58783823/84150151-177f2b00-aa7f-11ea-9eb8-482aa430d0ea.png">

<img width="1440" alt="Screenshot 2020-06-09 at 6 28 36 PM" src="https://user-images.githubusercontent.com/58783823/84150138-10581d00-aa7f-11ea-905c-7b11f57853f5.png">

[2020-06-09 13:03] SathyaJayabal commented on #4498
closing this for now as fix for https://github.com/topcoder-platform/community-app/issues/4381 was reverted.

[2020-06-09 13:04] SathyaJayabal commented on #4496
closing this for now as fix for #4381 was reverted.

[2020-06-09 13:04] #4496 closed

[2020-06-09 13:13] sushilshinde commented on #4497
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-09 13:14] sushilshinde commented on #4499
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-09 13:16] crazyk07 commented on #4497
Contest https://www.topcoder.com/challenges/30128956 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-09 13:17] crazyk07 commented on #4499
Contest https://www.topcoder.com/challenges/30128959 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-09 13:18] crazyk07 commented on #4499
Contest https://www.topcoder.com/challenges/30128959 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-09 13:22] crazyk07 commented on #4497
Contest https://www.topcoder.com/challenges/30128956 has been updated - it has been assigned to khushimehta03.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-09 13:27] rashmi73 commented on #4482
@sushilshinde sure

[2020-06-09 13:34] rashmi73 commented on #4499
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/4506

[2020-06-09 13:35] crazyk07 commented on #4495
Contest https://www.topcoder.com/challenges/30128949 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-09 13:43] rashmi73 commented on #4495
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/4507

[2020-06-09 13:43] crazyk07 commented on #4492
Contest https://www.topcoder.com/challenges/30128920 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-09 14:39] SathyaJayabal commented on #4495
@sushilshinde , test env looks good after this fix by @rootelement
https://topcoder.slack.com/archives/CCXM6QZQC/p1591712790349200?thread_ts=1591710851.349100&cid=CCXM6QZQC
<img width="1440" alt="Screenshot 2020-06-09 at 8 07 47 PM" src="https://user-images.githubusercontent.com/58783823/84161443-e9084c80-aa8c-11ea-99f4-324f49fdbf7c.png">

But we still have the issue on beta
<img width="1440" alt=

[2020-06-09 14:49] rashmi73 commented on #4495
@SathyaJayabal I am unable to see the https://topcoder.slack.com/archives/CCXM6QZQC/p1591712790349200?thread_ts=1591710851.349100&cid=CCXM6QZQC

 but can you please tell me difference with beta and test environment? I mean different branches are deployed?

also I have made an update in PR now it should work now

[2020-06-09 14:56] rashmi73 commented on #4482
@sushilshinde here is PR again https://github.com/topcoder-platform/community-app/pull/4508

[2020-06-09 15:01] lakshmiathreya commented on #4384
For the timing latency issue in My Challenges, @SathyaJayabal pls log a different Issue. Closing this since My Challenges is now loading.

[2020-06-09 15:01] crazyk07 commented on #4384
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-09 15:17] SathyaJayabal commented on #4495
@rashmi73 , the change was in the DB. The code is the same on both branches.

[2020-06-09 16:06] SathyaJayabal commented on #4495
@rashmi73 @sushilshinde ,beta also is fine now after  the backend fix by @rootelement .
<img width="1440" alt="Screenshot 2020-06-09 at 9 34 45 PM" src="https://user-images.githubusercontent.com/58783823/84172070-2ffc3f00-aa99-11ea-88f2-4fd6c62f30a3.png">

[2020-06-09 16:07] #4495 closed

[2020-06-09 16:07] crazyk07 commented on #4495
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-09 17:53] narekcat commented on #4461
@sushilshinde I need to do change api version from v3 to v5, when getting user groups (https://github.com/topcoder-platform/topcoder-react-lib/blob/integration-v5-challenge-api/src/actions/auth.js#L19). There are pull request https://github.com/topcoder-platform/topcoder-react-lib/pull/152, this pull request contains the changes that I need. Can you merge this pull request ? Need I create new pull

[2020-06-09 18:36] PrakashDurlabhji commented on #3583
@veshu this has not been paid yet to me, can we please close this?

[2020-06-09 18:38] PrakashDurlabhji commented on #4466
@sushilshinde this has closed by @SathyaJayabal , I guess it is not paid yet. can you please check on it

[2020-06-09 20:15] simranb86 commented on #4383
@sushilshinde https://github.com/topcoder-platform/topcoder-react-lib/pull/186

[2020-06-09 20:19] simranb86 commented on #4376
@Oanh-and-only-Oanh @SathyaJayabal should we close this as it has been in QA Pass since 2 days now ?

[2020-06-09 20:19] simranb86 commented on #4375
@Oanh-and-only-Oanh @SathyaJayabal should we close this as it has been in QA Pass since 2 days now ?

[2020-06-09 20:22] simranb86 commented on #4435
Sure, @SathyaJayabal exactly my point, we are pushing so many changes, so might be backend is failing or some other fix due to which we started seeing the errors, redirect is fine. But since so many changes are being done, and after 2-3 days if things start failing, we shouldn't go back to old issue, as we have pushed so many changes and expecting a fix on top of that, wouldn't be fair.

[2020-06-09 21:05] PrakashDurlabhji commented on #4505
@sushilshinde

1. is latest topcoder-react-lib used?
2. also this reviewTypes api works fine and has auth token when user is logged in.

so do you want that without authentication as well if someone visits challenge-detail page then it should work? because I investigated and it works fine if user is logged in.

[2020-06-09 21:10] crazyk07 commented on #4497
Contest https://www.topcoder.com/challenges/30128956 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-09 22:05] rashmi73 commented on #4497
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/4509

[2020-06-09 22:37] Oanh-and-only-Oanh commented on #4376
@lakshmiathreya @SathyaJayabal, please close ticket if it's passed on Beta.

[2020-06-10 02:28] sushilshinde commented on #4450
@SathyaJayabal please close this issue, open new issue for styling with low priority

[2020-06-10 02:49] SathyaJayabal commented on #4375
@simranb86 ,  was just waiting for @sushilshinde to add the tcx_accepted label, otherwise your payment will not be processed.

[2020-06-10 02:58] SathyaJayabal commented on #4435
@simranb86, that would be the case for most tickets, but in this case we dint have much chance to try the redirection before we closed it. The issue started happening/was noticed after we started using the redirection feature a lot. I don't believe it is because of something else. But If you find that the fix requires extra effort than was originally in scope, we can always create a new ticket  wi

[2020-06-10 02:59] SathyaJayabal commented on #4376
Waiting for tcx_accepted label @sushilshinde, we can close this.

[2020-06-10 03:03] SathyaJayabal commented on #4450
@sushilshinde , marked this as pass. We can close once the tcx_accepted label is added.
I will create a new issue for styling.

[2020-06-10 03:41] SathyaJayabal commented on #4451
@sushilshinde ,we can close this. tcx_accepted label needed

[2020-06-10 03:46] SathyaJayabal commented on #4434
verified on beta
<img width="1440" alt="Screenshot 2020-06-10 at 9 14 21 AM" src="https://user-images.githubusercontent.com/58783823/84224699-d2004380-aafa-11ea-915e-43cf6634e19a.png">

[2020-06-10 03:47] SathyaJayabal commented on #4434
@sushilshinde , we can close this. tcx_accepted label needed.

[2020-06-10 04:20] SathyaJayabal commented on #4429
verified on beta
<img width="1440" alt="Screenshot 2020-06-10 at 9 47 42 AM" src="https://user-images.githubusercontent.com/58783823/84226544-af245e00-aaff-11ea-913b-cd106247ff1d.png">
<img width="1440" alt="Screenshot 2020-06-10 at 9 48 41 AM" src="https://user-images.githubusercontent.com/58783823/84226558-b481a880-aaff-11ea-8360-bc645e3119a7.png">
@sushilshinde , we cam close this. tcx_accepted

[2020-06-10 04:22] SathyaJayabal commented on #4433
verified on beta
[notif.mov.zip](https://github.com/topcoder-platform/community-app/files/4756159/notif.mov.zip)

@sushilshinde , we can close this. tcx_accepted label needed.

[2020-06-10 04:28] SathyaJayabal commented on #4394
verified on beta
<img width="1440" alt="Screenshot 2020-06-10 at 9 56 47 AM" src="https://user-images.githubusercontent.com/58783823/84226927-bc8e1800-ab00-11ea-902e-b49ca4e30d92.png">
<img width="1440" alt="Screenshot 2020-06-10 at 9 56 49 AM" src="https://user-images.githubusercontent.com/58783823/84226934-c1eb6280-ab00-11ea-9e08-fe95875df0a0.png">
<img width="1440" alt="Screenshot 2020-06-10 at

[2020-06-10 04:32] SathyaJayabal commented on #4474
@sushilshinde , closing this. We can match V4  data  with V5 after the backend sync.

[2020-06-10 04:32] #4474 closed

[2020-06-10 04:33] crazyk07 commented on #4474
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30128305<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-10 04:33] simranb86 commented on #4435
Sure, let's first get it to state we can replicate. I just tried again (https://test-community-app.topcoder-dev.com/challenges/30056660), but in vain.

[2020-06-10 04:41] SathyaJayabal commented on #4435
@simranb86 , here is the screenshot with console error. I could replicate this even now.

<img width="1440" alt="Screenshot 2020-06-10 at 10 09 42 AM" src="https://user-images.githubusercontent.com/58783823/84227721-bd27ae00-ab02-11ea-86ab-0369f0984d9b.png">

[2020-06-10 04:46] SathyaJayabal commented on #4435
@simranb86
[redir.mov.zip](https://github.com/topcoder-platform/community-app/files/4756222/redir.mov.zip)
Happening for logged in user too.
<img width="1440" alt="Screenshot 2020-06-10 at 10 15 15 AM" src="https://user-images.githubusercontent.com/58783823/84227978-6a9ac180-ab03-11ea-8dbc-5772918464ba.png">

[2020-06-10 05:04] simranb86 commented on #4435
@SathyaJayabal I cleared the cache and can replicate now. Let's wait for @sushilshinde to merge changes for #4383 since we have changed that API call now so I think this issue will be gone now.

@sushilshinde can you please help push changes for #4383 ?

[2020-06-10 05:09] SathyaJayabal commented on #4384
@simranb86 , I could see #3 in beta. Could you please take a look.

<img width="1440" alt="Screenshot 2020-06-10 at 10 19 37 AM" src="https://user-images.githubusercontent.com/58783823/84229158-8489d380-ab06-11ea-84b9-23829213f6b0.png">
<img width="1440" alt="Screenshot 2020-06-10 at 10 35 28 AM" src="https://user-images.githubusercontent.com/58783823/84229168-894e8780-ab06-11ea-8288-bc04c78decfe.

[2020-06-10 05:10] SathyaJayabal commented on #4384
@lakshmiathreya , reopening this as we still need registrations from V4 to be migrated to V5.

I am reducing the priority as the main issue is fixed.

[2020-06-10 05:16] simranb86 commented on #4384
@SathyaJayabal
https://api.topcoder.com/v5/resources/22778049/challenges is gone now, we have received new API to use which is part of #4383 PR, kindly test again once that is deployed.

[2020-06-10 05:18] simranb86 commented on #4384
@SathyaJayabal `reopening this as we still need registrations from V4 to be migrated to V5.` is not part of initial requirement for this ticket. Please open a new ticket and can look into this issue.

[2020-06-10 05:25] SathyaJayabal commented on #4384
@simranb86 , This still needs additional testing as you have mentioned that we are going to use a new api. This ticket is not ready to be closed now. The description says that the "My Challenge" bucket is not displayed. That doesn't mean, just the display of the my challenges bucket is in scope.  We also need to display correct data under that. We will consider moving the v4 registration migration

[2020-06-10 05:33] simranb86 commented on #4384
ok

[2020-06-10 05:39] SathyaJayabal opened #4510 "[$50]Challenge Specification : Style issues"
The styles on the challenge spec do not match with V4.
https://beta-community-app.topcoder.com/challenges/9598b9b7-7a6d-4c82-ad04-9e60435ffe88
https://www.topcoder.com/challenges/30127483

<img width="1440" alt="Screenshot 2020-06-10 at 10 56 28 AM" src="https://user-images.githubusercontent.com/58783823/84230224-1eeb1680-ab09-11ea-830c-f66f129ab380.png">
<img width="1440" alt="Screenshot 2020-06-

[2020-06-10 05:43] SathyaJayabal commented on #4450
@sushilshinde , sorry we cant  close this yet, We still have to merge the latest pr and verify.

[2020-06-10 07:26] SathyaJayabal commented on #4499
verified on test
<img width="1440" alt="Screenshot 2020-06-10 at 12 46 25 PM" src="https://user-images.githubusercontent.com/58783823/84239085-9fb20e80-ab19-11ea-9164-68bf91939a4a.png">

[2020-06-10 07:32] SathyaJayabal opened #4511 "[$40]Winners Tab: Prize amount not displayed."
Winners Tab: Prize amount not displayed.

https://test-community-app.topcoder-dev.com/challenges/ba7c5cce-aa84-4207-89fc-ec4e3c0dd990?tab=winners
v4 url for comparison:https://qa-community-app.topcoder-dev.com/challenges/30055457?tab=winners

[2020-06-10 07:40] SathyaJayabal commented on #4497
verified on test.

<img width="1440" alt="Screenshot 2020-06-10 at 1 07 44 PM" src="https://user-images.githubusercontent.com/58783823/84240310-785c4100-ab1b-11ea-8620-7132ddadab86.png">

[2020-06-10 11:42] #4434 closed

[2020-06-10 11:45] #4375 closed

[2020-06-10 11:46] crazyk07 commented on #4375
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126384<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-10 11:50] SathyaJayabal commented on #4377
@ThomasKranitsas , @sushilshinde @lakshmiathreya , lets test this after the data sync.

[2020-06-11 02:50] sushilshinde commented on #4435
Yes will do today.

[2020-06-11 02:55] sushilshinde commented on #4505
Why there is an error then?

[2020-06-11 02:55] crazyk07 commented on #4511
Contest https://www.topcoder.com/challenges/30129376 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 02:55] crazyk07 commented on #4511
Contest https://www.topcoder.com/challenges/30129376 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 03:15] simranb86 commented on #4488
@sushilshinde @Oanh-and-only-Oanh Moving this to HOLD till https://github.com/topcoder-platform/challenge-api/issues/163 is fixed.

[2020-06-11 03:29] SathyaJayabal commented on #4482
@Oanh-and-only-Oanh , this was also reverted with the rest on tuesday. New PR is merged now- We will test and close it.

[2020-06-11 03:30] SathyaJayabal commented on #4482
verified on test env

<img width="1440" alt="Screenshot 2020-06-11 at 8 59 57 AM" src="https://user-images.githubusercontent.com/58783823/84341968-0ab72000-abc2-11ea-973b-ada4e9bf1919.png">

[2020-06-11 03:31] #4482 closed

[2020-06-11 03:38] SathyaJayabal commented on #4497
verified on beta
<img width="1440" alt="Screenshot 2020-06-11 at 9 05 56 AM" src="https://user-images.githubusercontent.com/58783823/84342348-fe7f9280-abc2-11ea-87fa-08b84a858bfc.png">
<img width="1440" alt="Screenshot 2020-06-11 at 9 06 38 AM" src="https://user-images.githubusercontent.com/58783823/84342368-07706400-abc3-11ea-8017-c94802104e7d.png">
<img width="1440" alt="Screenshot 2020-06-11 at

[2020-06-11 03:47] luizrrodrigues commented on #4381
@sushilshinde
PR: https://github.com/topcoder-platform/community-app/pull/4513

@SathyaJayabal This will fix tabs not showing in Challenge Details (this was problem with fields `numRegistrants` and `numSubmissions` changed in V5 to `numOfRegistrants` and `numOfSubmissions`, but note if try click in both tab will show blank screen, but this will cover here: https://github.com/topcoder-platform/comm

[2020-06-11 04:27] SathyaJayabal commented on #4499
@sushilshinde @rashmi73 , I dont see the updates on beta.
<img width="1440" alt="Screenshot 2020-06-11 at 9 55 31 AM" src="https://user-images.githubusercontent.com/58783823/84345029-e5c6ab00-abc9-11ea-9b8f-3c69ffd69d9c.png">

[2020-06-11 06:48] #4497 closed

[2020-06-11 06:49] crazyk07 commented on #4497
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30128956<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 07:26] sushilshinde commented on #4380
@luizrrodrigues PR?

[2020-06-11 07:31] luizrrodrigues commented on #4380
@sushilshinde
https://github.com/topcoder-platform/topcoder-react-lib/pull/187
https://github.com/topcoder-platform/community-app/pull/4512

[2020-06-11 07:32] sushilshinde commented on #4380
ok. thanks @luizrrodrigues

[2020-06-11 07:59] simranb86 commented on #4383
new PR https://github.com/topcoder-platform/community-app/pull/4514

[2020-06-11 08:04] SathyaJayabal commented on #4435
tracking this in a new issue

[2020-06-11 08:04] #4435 closed

[2020-06-11 08:06] SathyaJayabal opened #4515 "Implement backward compatibility for legacy challenge urls(v4) - Sometimes redirection does not work"
https://github.com/topcoder-platform/community-app/issues/4435#issuecomment-641716574

example:https://test-community-app.topcoder-dev.com/challenges/30056660

[2020-06-11 08:15] SathyaJayabal commented on #4499
Verified on beta.

<img width="1440" alt="Screenshot 2020-06-11 at 1 43 57 PM" src="https://user-images.githubusercontent.com/58783823/84361672-a14b0780-abe9-11ea-9dc3-e0b4112fcd9a.png">
<img width="1440" alt="Screenshot 2020-06-11 at 1 45 03 PM" src="https://user-images.githubusercontent.com/58783823/84361779-c770a780-abe9-11ea-9442-35e73d5dd8ae.png">

[2020-06-11 08:15] #4499 closed

[2020-06-11 08:16] crazyk07 commented on #4499
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30128959<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 08:24] crazyk07 commented on #4490
Contest https://www.topcoder.com/challenges/30128695 has been updated - nursoltan-s has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 08:25] crazyk07 commented on #4490
Contest https://www.topcoder.com/challenges/30128695 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 08:29] SathyaJayabal commented on #4381
@sushilshinde @luizrrodrigues , submissions and registrants tabs are displayed.
Checkpoints tabs is not displayed. Will be tracked in a new issue.
<img width="1440" alt="Screenshot 2020-06-11 at 1 58 55 PM" src="https://user-images.githubusercontent.com/58783823/84363003-b7f25e00-abeb-11ea-8c9f-246719ea821a.png">

[2020-06-11 08:29] crazyk07 commented on #4381
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 08:30] #4381 closed

[2020-06-11 08:31] crazyk07 commented on #4381
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126380<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 08:37] SathyaJayabal opened #4516 "[$40]Challenge Details: Checkpoints tab not displayed"
Challenge Details: Checkpoints tab not displayed for design challenges with checkpoint phase
Examples:
Dev backend:
V5 URL: https://test-community-app.topcoder-dev.com/challenges/4bccb4bb-b0a1-4046-8da0-69e4027fbc1a
V4 URL: https://qa-community-app.topcoder-dev.com/challenges/30021775
Prod backend
V5 URL:https://beta-community-app.topcoder.com/challenges/6b29e50f-fe49-47a8-a949-f96a00c22448
V4 URL

[2020-06-11 08:39] SathyaJayabal opened #4517 "[$50]Challenge details: Registrants tab is loading a blank page"
Challenge details: Registrants tab is loading a blank page
example:
https://beta-community-app.topcoder.com/challenges/3b25dfed-fea6-4999-8b9a-19a681e42202?tab=registrants
<img width="1440" alt="Screenshot 2020-06-11 at 2 08 50 PM" src="https://user-images.githubusercontent.com/58783823/84363998-2388fb00-abed-11ea-8f49-c48cc283ec45.png">

[2020-06-11 08:43] crazyk07 commented on #4517
Contest https://www.topcoder.com/challenges/30129392 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 08:45] crazyk07 commented on #4517
Contest https://www.topcoder.com/challenges/30129392 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 08:51] sushilshinde commented on #4492
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-11 08:51] crazyk07 commented on #4492
Contest https://www.topcoder.com/challenges/30128920 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 09:02] #3583 closed

[2020-06-11 09:04] crazyk07 commented on #3583
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113144<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 09:04] simranb86 commented on #4515
@SathyaJayabal @sushilshinde as per last comment, this seems now fixed - just tested on test env several times and it redirects fine https://test-community-app.topcoder-dev.com/challenges/30056660 .

[2020-06-11 09:21] PrakashDurlabhji commented on #4505
@sushilshinde I hope topcoder-react-lib is integrated perfectly and no different version because code seems ok at topcoder-react-lib, update you again in sometime

[2020-06-11 09:24] SathyaJayabal commented on #4515
@sushilshinde , please hold off on opening this  for pickup until we can verify if this is already fixed in the latest deployment.

cc: @simranb86

[2020-06-11 09:24] SathyaJayabal commented on #4383
verified on test and beta
<img width="1440" alt="Screenshot 2020-06-11 at 2 37 20 PM" src="https://user-images.githubusercontent.com/58783823/84367507-f559ea00-abf1-11ea-9bd3-b5c7cbd285ac.png">
<img width="1440" alt="Screenshot 2020-06-11 at 2 43 13 PM" src="https://user-images.githubusercontent.com/58783823/84367530-fdb22500-abf1-11ea-9427-2b8048beed5f.png">

[2020-06-11 09:32] SathyaJayabal opened #4519 "[$40]Stats history, challenges tab displays an error"
The Stats History page - challenges page throws the following error.
Cal to challenge api , memberId filter must have member id instead of handle.

https://beta-community-app.topcoder.com/members/Standlove/details/?track=DEVELOP&subTrack=DESIGN&tab=challenges
<img width="1440" alt="Screenshot 2020-06-11 at 2 59 08 PM" src="https://user-images.githubusercontent.com/58783823/84369322-4cf95500-abf4-1

[2020-06-11 09:45] SathyaJayabal commented on #4491
@simranb86 @sushilshinde , I still see this issue.
[perf.mov.zip](https://github.com/topcoder-platform/community-app/files/4763950/perf.mov.zip)

[2020-06-11 09:50] SathyaJayabal commented on #4491
Another example on beta.
[perf_beta.mov.zip](https://github.com/topcoder-platform/community-app/files/4763982/perf_beta.mov.zip)

[2020-06-11 09:51] PrakashDurlabhji commented on #4450
@sushilshinde @SathyaJayabal here is new PR https://github.com/topcoder-platform/community-app/pull/4518

[2020-06-11 10:00] nursoltan-s commented on #4511
PR: [4520](https://github.com/topcoder-platform/community-app/pull/4520)

[2020-06-11 10:09] crazyk07 commented on #4519
Contest https://www.topcoder.com/challenges/30129401 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 10:09] crazyk07 commented on #4516
Contest https://www.topcoder.com/challenges/30129402 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 10:09] crazyk07 commented on #4519
Contest https://www.topcoder.com/challenges/30129401 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 10:09] crazyk07 commented on #4516
Contest https://www.topcoder.com/challenges/30129402 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 10:15] #4383 closed

[2020-06-11 10:16] crazyk07 commented on #4383
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30127639<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 11:28] lakshmiathreya commented on #4515
Seems intermittent - <img width="1630" alt="Screenshot 2020-06-11 at 4 55 11 PM" src="https://user-images.githubusercontent.com/51733042/84380266-b08b7e80-ac04-11ea-9fd8-7e6a8179efe6.png">

[2020-06-11 11:28] SathyaJayabal commented on #4515
@sushilshinde @simranb86 , we still face the issue.
<img width="1440" alt="Screenshot 2020-06-11 at 4 57 14 PM" src="https://user-images.githubusercontent.com/58783823/84380308-c00ac780-ac04-11ea-9bc1-f429cc2e586a.png">

<img width="1440" alt="Screenshot 2020-06-11 at 4 54 33 PM" src="https://user-images.githubusercontent.com/58783823/84380280-b6815f80-ac04-11ea-8972-4a6c6a0073e9.png">

[2020-06-11 12:53] #2359 closed

[2020-06-11 12:53] crazyk07 commented on #2359
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-11 13:31] SathyaJayabal commented on #4380
@luizrrodrigues @sushilshinde , getting the following error when trying to register.
https://beta-community-app.topcoder.com/challenges/2085b835-6b1b-4e2f-a126-289948de9b59
https://test-community-app.topcoder-dev.com/challenges/68a1cb52-a313-4130-8900-87a21959fdae
(user: tester1234/appirio123)
<img width="1440" alt="Screenshot 2020-06-11 at 6 57 50 PM" src="https://user-images.githubusercontent.co

[2020-06-11 13:36] luizrrodrigues commented on #4380
@rootelement Looks like `/resource-roles` not working with `isActive=true` filter?

[2020-06-11 13:41] SathyaJayabal opened #4521 "[$40]Submissions tab loads a blank page"
Challenge Details: Submissions tab loads a blank page (except for design contests)
https://beta-community-app.topcoder.com/challenges/0b8e65fe-49df-4045-9703-d5dfde10edd0?tab=submissions

<img width="1440" alt="Screenshot 2020-06-11 at 7 10 57 PM" src="https://user-images.githubusercontent.com/58783823/84391989-5942d980-ac17-11ea-9847-4fbea6f374ae.png">

[2020-06-11 14:55] rootelement commented on #4380
@luizrrodrigues checking

[2020-06-11 14:55] sushilshinde commented on #4511
being deployed wait for 25 mins

[2020-06-11 14:57] narekcat commented on #4438
@SathyaJayabal @sushilshinde I have fixed this issue. It works in my local machine with dev beck end. Please see pull request https://github.com/topcoder-platform/community-app/pull/4522.

[2020-06-11 15:01] rootelement commented on #4380
Deploying a fix now. Please try in 10min

[2020-06-11 15:11] nursoltan-s commented on #4517
I tried to GET request to https://api.topcoder-dev.com/v5/resources?challengeId=5d4e5332-9012-44ca-a364-f477d2a0ea5c with auth token, but i got 500 'internal server error'.

1) We need to fetch resources with challengeId, that gives us registrants information. But /GET resources/ route is private and needs auth token to access. How can we request if user is not logged in?
@rootelement

[2020-06-11 15:28] luizrrodrigues commented on #4380
@rootelement Now receiving `Internal server error`

[2020-06-11 16:09] sushilshinde commented on #4438
Thanks @narekcat

[2020-06-11 17:05] rootelement commented on #4517
Any call that needs auth needs to go through the community app proxy, not direct to the API.

[2020-06-11 17:27] rootelement commented on #4380
@luizrrodrigues please try now.

[2020-06-11 17:32] luizrrodrigues commented on #4380
@rootelement Looks good now, thanks.

@SathyaJayabal Please check now.

[2020-06-11 17:39] narekcat commented on #4461
@sushilshinde @SathyaJayabal I have a problem with this request community-app.topcoder-dev.com/community-app-assets/api/tc-communities?groups%5B0%5D=c7fcf1b8-a0f7-4efe-8aba-e6337eec85b4&groups%5B1%5D=72a0b8a0-aa45-44f7-86c2-bf9de6321e5b&groups%5B2%5D=32ff09a8-ffcd-438c-91c5-1e3423519549&groups%5B3%5D=b42e4f94-c168-4fa6-8ac7-08e33a7d9f41&groups%5B4%5D=b8fe66cc-935f-4986-a1cf-5e1dee943e8a&groups%5B5

[2020-06-11 23:58] simranb86 commented on #4491
@SathyaJayabal not able to replicate - see here https://youtu.be/kZpljrXy2PQ - I try several times in this video. Can you hold on and show the full flow as you say it loads, so what is time it takes to load and can you also enable your console logs while recording so we can see what is going on ?

[2020-06-11 23:58] PrakashDurlabhji commented on #4516
@sushilshinde I anaylzed well.

there is no checkpoints array present in v5 urls

https://api.topcoder.com/v5/challenges/6b29e50f-fe49-47a8-a949-f96a00c22448?
http://api.topcoder-dev.com/v5/challenges?legacyId=30021775

whereas available in v4
http://api.topcoder-dev.com/v4/challenges/30021775

hence it fails because a check is applied at checkpoints tab

[2020-06-12 00:26] simranb86 commented on #4515
@SathyaJayabal @sushilshinde here is root cause of the problem. So once we fix #4505 , this intermedittent will be fixed. If you want I can try to push a fix for #4505 today ? Feel free to assign that to me if other developer cannot fix it and then let's see how it fix goes about it.

<img width="1406" alt="issue_ 4515" src="https://user-images.githubusercontent.com/40840038/84451592-2e856f00-ac71

[2020-06-12 03:11] codejamtc opened #4524 "Community Statistics page winning count issue"
![image](https://user-images.githubusercontent.com/42398485/84460761-5ef8e900-ac30-11ea-88fd-ec4931ee1fc8.png)

1. Open https://www.topcoder.com/community/statistics
2. Go to `QA`
3. Check the challenge win count

**Actual:** for most of the members the count is wrong I guess

https://www.topcoder.com/members/winterflame -  69 BH Wins + Maybe some Code challenges with QA tag
https://www.topcoder.c

[2020-06-12 03:27] SathyaJayabal commented on #4384
@sushilshinde @lakshmiathreya , closing  this ticket. Lets track  the pending issues in separate issues.

[2020-06-12 03:27] #4384 closed

[2020-06-12 03:28] crazyk07 commented on #4384
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126379<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-12 04:30] SathyaJayabal commented on #4491
@simranb86 , here is the  console logs.
<img width="1440" alt="Screenshot 2020-06-12 at 9 57 30 AM" src="https://user-images.githubusercontent.com/58783823/84464933-6d2c2100-ac93-11ea-89ed-6881fa1a2e49.png">
I will upload the video shortly

[2020-06-12 04:41] SathyaJayabal commented on #4511
verified on beta and test
<img width="1440" alt="Screenshot 2020-06-12 at 10 09 17 AM" src="https://user-images.githubusercontent.com/58783823/84465606-13c4f180-ac95-11ea-8c19-3d8e11825f4a.png">
<img width="1440" alt="Screenshot 2020-06-12 at 10 10 58 AM" src="https://user-images.githubusercontent.com/58783823/84465613-1b849600-ac95-11ea-8d97-63c47a309359.png">

[2020-06-12 04:48] SathyaJayabal commented on #4450
verified on teat and beta
<img width="1440" alt="Screenshot 2020-06-12 at 10 14 27 AM" src="https://user-images.githubusercontent.com/58783823/84465850-b1202580-ac95-11ea-9585-4da611a426ab.png">
<img width="1440" alt="Screenshot 2020-06-12 at 10 14 30 AM" src="https://user-images.githubusercontent.com/58783823/84465863-b67d7000-ac95-11ea-9321-8a973ad9772b.png">
<img width="1440" alt="Screenshot 20

[2020-06-12 04:56] SathyaJayabal commented on #4491
@simranb86 , here is the video
https://drive.google.com/file/d/1zEkevRrbsHOuSADv9ucK5cIzLPcu0dNo/view?usp=sharing

[2020-06-12 05:01] SathyaJayabal commented on #4438
verified on beta
<img width="1440" alt="Screenshot 2020-06-12 at 10 23 51 AM" src="https://user-images.githubusercontent.com/58783823/84466794-e0d02d00-ac97-11ea-8c86-c7ddf291f917.png">

[2020-06-12 05:11] SathyaJayabal commented on #4438
@narekcat
The prize section is not formatted correctly and data  is displayed twice
<img width="1440" alt="Screenshot 2020-06-12 at 10 36 54 AM" src="https://user-images.githubusercontent.com/58783823/84467115-bd59b200-ac98-11ea-9a6b-c2338bebb9a9.png">

[2020-06-12 05:22] nursoltan-s commented on #4519
community-app: [4519](https://github.com/topcoder-platform/community-app/pull/4525)
topcoder-react-lib: [4519](https://github.com/topcoder-platform/topcoder-react-lib/pull/189)

[2020-06-12 05:25] SathyaJayabal commented on #4380
@luizrrodrigues @sushilshinde , registration works as expected on test env. But I see the same error still on beta
<img width="1440" alt="Screenshot 2020-06-12 at 10 54 01 AM" src="https://user-images.githubusercontent.com/58783823/84467928-2c380a80-ac9b-11ea-9069-d5c3b3cc6207.png">

[2020-06-12 05:27] SathyaJayabal commented on #4380
@luizrrodrigues , also on test env, after successful registration, the register button doesn't turn to unregister button automatically. We need to refresh the page to see the Unregister button.

[2020-06-12 06:02] luizrrodrigues commented on #4380
@SathyaJayabal But change to **Unregister** but have some delay, because of a lot of unnecessary loop running after that. We'll cover this in another issue.

Check:
[Screen Recording 2020-06-12 at 02.59.30.mov.zip](https://github.com/topcoder-platform/community-app/files/4769012/Screen.Recording.2020-06-12.at.02.59.30.mov.zip)

[2020-06-12 06:04] SathyaJayabal commented on #3122
@sushilshinde , @lakshmiathreya , this issue is also happening with the V5 challenge api.
[counts.mov.zip](https://github.com/topcoder-platform/community-app/files/4769025/counts.mov.zip)

[2020-06-12 06:06] luizrrodrigues commented on #4380
@rootelement we have the same issue in Prod now.

[2020-06-12 06:36] simranb86 commented on #4491
Don't have access to it, can you push to YouTube maybe or share shareable link ?

[2020-06-12 06:54] SathyaJayabal commented on #4491
@simranb86 gave you access. I have attached the video here too.
[4491.mp4.zip](https://github.com/topcoder-platformccommunity-app/files/4769197/4491.mp4.zip)

[2020-06-12 07:31] narekcat commented on #4438
@SathyaJayabal Ok, I am working on it.

[2020-06-12 08:12] SathyaJayabal commented on #4380
@luizrrodrigues , getting the unable to register error for some users on test env too.
example: topcoderconnect/appirio123
https://test-community-app.topcoder-dev.com/challenges/68a1cb52-a313-4130-8900-87a21959fdae
<img width="1440" alt="Screenshot 2020-06-12 at 1 37 03 PM" src="https://user-images.githubusercontent.com/58783823/84480223-da4eaf00-acb1-11ea-8707-396b1b98b081.png">
<img width="1440"

[2020-06-12 08:16] SathyaJayabal commented on #4380
cc @sushilshinde

[2020-06-12 08:27] sushilshinde commented on #4516
ok so this is an API issue?

[2020-06-12 08:41] crazyk07 commented on #4521
Contest https://www.topcoder.com/challenges/30129500 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-12 08:43] crazyk07 commented on #4521
Contest https://www.topcoder.com/challenges/30129500 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-12 09:35] #4450 closed

[2020-06-12 09:35] #4511 closed

[2020-06-12 09:36] crazyk07 commented on #4450
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30127638<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-12 09:36] crazyk07 commented on #4511
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129376<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-12 10:40] narekcat commented on #4438
@SathyaJayabal I can't reproduce issue, because it shows error when I trying to open one of the challenges.
![image](https://user-images.githubusercontent.com/11549629/84494380-71b80000-acba-11ea-8486-f6f1cb5cc0fe.png)
I have tried to find out the problem, but couldn't. Do you know what is the reason of this error ?

[2020-06-12 11:04] SathyaJayabal commented on #4438
@narekcat , I can see the challenge details fine. Please share the challenge id for which you are getting this error.
example:
https://test-community-app.topcoder-dev.com/challenges/6d98a924-fdc5-470e-84ab-7506fd45a4c6
Also can u look at the empty icon for the marathon matches shown in the below screenshot.
<img width="1440" alt="Screenshot 2020-06-12 at 4 32 12 PM" src="https://user-images.github

[2020-06-12 11:18] narekcat commented on #4438
@SathyaJayabal I see this error for every challenge. I have merged `integration-v5-challenge-api` into my branch and after that it start to fail.

[2020-06-12 11:24] SathyaJayabal commented on #4438
@sushilshinde , can you help out here.
@narekcat , what is your slack id?

[2020-06-12 11:25] narekcat commented on #4438
@SathyaJayabal My slack id is Narek

[2020-06-12 13:54] rootelement commented on #4516
This is not an api issue. You will need to call to the submissions api with the submissionPhaseId:
https://api.topcoder-dev.com/v5/submissions?submissionPhaseId=775498

[code]

[2020-06-12 13:57] narekcat commented on #4438
@SathyaJayabal @sushilshinde I have tested in `integration-v5-challenge-api` branch and error still exist. I think the problem is with this commit github.com/topcoder-platform/topcoder-react-lib/commit/1ac7225d6f49c438ad1d820fa31edef7234907d8. I have checked out to commit before that one by running commant `git checkout 4be3737977d12dfbd1f9f06e917b78bad5423c48`, built topcoder-react-lib in my mach

[2020-06-12 15:16] #4505 closed

[2020-06-12 15:16] crazyk07 commented on #4505
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-12 15:37] luizrrodrigues commented on #4380
@sushilshinde PR's:
https://github.com/topcoder-platform/topcoder-react-lib/pull/190
https://github.com/topcoder-platform/community-app/pull/4526

[2020-06-13 05:19] SathyaJayabal commented on #4438
@narekcat , we see the issue on the latest build on test env. But it seems to be working fine on beta env.
@sushilshinde , please help.

[2020-06-13 05:31] SathyaJayabal commented on #4519
Verified on beta and test
<img width="1440" alt="Screenshot 2020-06-13 at 11 00 35 AM" src="https://user-images.githubusercontent.com/58783823/84560836-27d82400-ad65-11ea-84f3-3312bf473e57.png">
<img width="1440" alt="Screenshot 2020-06-13 at 11 00 44 AM" src="https://user-images.githubusercontent.com/58783823/84560839-2e669b80-ad65-11ea-9163-2de4a362b35a.png">

[2020-06-13 05:37] SathyaJayabal opened #4527 "Display Stats History: Members challenges using V4 API"
Stats History: Members challenges are not displayed

example:
V4 URL:https://qa-community-app.topcoder-dev.com/members/Standlove/details/?track=DEVELOP&subTrack=CODE&tab=challenges
V5 URL: https://test-community-app.topcoder-dev.com/members/Standlove/details/?track=DEVELOP&subTrack=CODE&tab=challenges

The V5 API call used is this and does not return any challenges for the  user : https://api.topc

[2020-06-13 07:00] narekcat commented on #4438
@SathyaJayabal I'll check it again.

[2020-06-13 08:37] narekcat commented on #4438
@SathyaJayabal @sushilshinde  I have fixed UI issue with recommended challenges prize, see pull request https://github.com/topcoder-platform/community-app/pull/4528.
![image](https://user-images.githubusercontent.com/11549629/84564428-9f608000-ad72-11ea-973a-876ca8750e39.png)
The V5 api doesn't return `subTrack` field in challenge object, that way the marathon matches icon is empty. If we don't ne

[2020-06-13 08:52] songzy12 opened #4529 "Minor typo in error message when environment variable is not configured."
**Describe the bug**
The right quote is missing from the error prompt message when environment variable is not set:
`environment : 'master' is not configured for space : 'default.`

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout to `develop` branch, do not set any environment variable.
2. Install requirements, run build, and start the dev app by running the commands:
[code]
3. Go to

[2020-06-13 09:41] SathyaJayabal commented on #4438
@narekcat , we can see the subtrack in the listings page, so V% api should have that data. . I will  open another issue, if the fix includes additional effort. Let us know. cc @sushilshinde

<img width="1440" alt="Screenshot 2020-06-13 at 3 09 13 PM" src="https://user-images.githubusercontent.com/58783823/84565632-06d4fa80-ad88-11ea-92b2-1a361b3bec22.png">

<img width="1440" alt="Screenshot 2020-0