[2020-06-13 09:51] narekcat commented on #4438
@SathyaJayabal Ok, I can fix this issue. It requires additional efforts, please open new issue.

[2020-06-13 11:45] luizrrodrigues commented on #4380
@sushilshinde hotfix: https://github.com/topcoder-platform/topcoder-react-lib/pull/191

[2020-06-13 12:37] PrakashDurlabhji commented on #4516
@rootelement @sushilshinde  I guess there is some misunderstanding from your side or I am not able interpret it. Let me explain my best till now.

1. Kindly go to https://www.topcoder.com/challenges/30126386?tab=checkpoints and see the checkpoints page.
2. Now go to http://api.topcoder.com/v4/challenges/30126386 you would checkpoints array.
3. Now the content of checkpoints array is

[code]
4. "Fe

[2020-06-14 02:34] sushilshinde commented on #4438
yes, please open it

[2020-06-14 04:26] luizrrodrigues opened #4530 "colorStyle need calculated in Frontend"
**Describe the bug**
Before **challenges-api** returning `colorStyle` from DB, this sets the color of the handle by rating. In V5 this need be done by FE following this: https://www.topcoder.com/community/competitive-programming/how-to-compete/ratings

**To Reproduce**
Steps to reproduce the behavior:
1. Go to challenge details
2. Click on Registrants or Submissions
3. See all handle have black co

[2020-06-14 04:31] SathyaJayabal opened #4531 "[$30]Subtrack missing for MM challenges in recommended challenges section"
https://github.com/topcoder-platform/community-app/issues/4438#issuecomment-643598986

[2020-06-14 04:36] SathyaJayabal opened #4532 "Challenge details page throwing an error"
Challenge details page throwing an error on Test Env for all challenges
example:
https://test-community-app.topcoder-dev.com/challenges/fc906e83-d2ee-4ec5-9edb-b4a7ecdf49c6
<img width="1440" alt="Screenshot 2020-06-13 at 10 45 46 AM" src="https://user-images.githubusercontent.com/58783823/84584819-9cbf6280-ae26-11ea-8c1b-a3e9fb7b375a.png">

[2020-06-14 04:37] SathyaJayabal commented on #4532
The details page works now
<img width="1440" alt="Screenshot 2020-06-13 at 10 45 46 AM" src="https://user-images.githubusercontent.com/58783823/84584831-c5dff300-ae26-11ea-94c8-227bb2265636.png">

[2020-06-14 04:43] SathyaJayabal opened #4533 ""Failed to Authenticate token" api error on Challenge Listings for some users"
"Failed to Authenticate token" error on Challenge Listings for some users and the page keeps on loading.
https://beta-community-app.topcoder.com/challenges?
User: lakshmiathreya (admin user)

<img width="1616" alt="Screenshot 2020-06-12 at 11 40 10 AM" src="https://user-images.githubusercontent.com/58783823/84584906-8bc32100-ae27-11ea-9336-aca83acad5ec.png">

<img width="1260" alt="Screenshot 2020

[2020-06-14 05:55] mtwomey commented on #4408
@luizrrodrigues I'm curious about what going on with this one - are we wanting on any changes from anyone else or is this one progressing?

[2020-06-14 06:27] luizrrodrigues commented on #4408
@mtwomey Waiting for change in API:
https://github.com/topcoder-platform/resources-api/issues/31
https://github.com/topcoder-platform/submissions-api/issues/181

[2020-06-14 08:43] sushilshinde commented on #4533
@lakshmiathreya please share user details

[2020-06-14 09:00] sushilshinde commented on #4461
@rootelement need help here

Groups API doesn't support UUIDs and resources API doesn't return legacy IDS. It will be very latent to call for each.

[2020-06-14 09:19] sushilshinde commented on #4533
Please explain "Some Users"?

[2020-06-14 09:23] crazyk07 commented on #4531
Contest https://www.topcoder.com/challenges/30129658 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-14 09:24] crazyk07 commented on #4531
Contest https://www.topcoder.com/challenges/30129658 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-14 09:26] sushilshinde commented on #3122
This will stay until we implement  https://github.com/topcoder-platform/community-app/issues/4435#issue-626305919

[2020-06-14 09:29] sushilshinde commented on #4515
@simranb86 do we need review types for no-auth calls?

[2020-06-14 09:41] sushilshinde commented on #4527
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-14 09:42] crazyk07 commented on #4527
Contest https://www.topcoder.com/challenges/30129659 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-14 10:24] sushilshinde commented on #4461
@narekcat please include changes from the https://github.com/topcoder-platform/topcoder-react-lib/pull/152 in your work.

[2020-06-14 10:28] crazyk07 commented on #4527
Contest https://www.topcoder.com/challenges/30129659 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-14 10:29] narekcat commented on #4461
@sushilshinde Ok.

[2020-06-14 16:30] nursoltan-s commented on #4517
@rootelement Hi. Sorry for delay. Is this endpoint correct?
http://local.topcoder-dev.com:3000/community-app-assets/api/challenges/7b8b51cf-10d3-46cb-afa8-651a48bd8a3a/registrants
Request Method: GET

- I get `Expected parameter accessToken` error. I'm sending with access token.

[2020-06-14 20:12] mtwomey commented on #4408
OK thank you @luizrrodrigues

[2020-06-14 21:06] rootelement commented on #4408
@sushilshinde why is this changing now? There are no unauthed endpoints on the resources API. Can we do this as it's been done up until now and we can reevaluate after V5 1.0 release?

[2020-06-14 21:06] rootelement commented on #4408
@sushilshinde why is this changing now? There are no unauthed endpoints on the resources API. Can we do this as it's been done up until now and we can reevaluate after V5 1.0 release?

[2020-06-14 23:25] rashmi73 commented on #4527
@sushilshinde we need to change at challenge-api repo such that

https://api.topcoder-dev.com/v5/challenges?orderBy=submissionEndDate%20desc&status=Completed&hasUserSubmittedForReview=true&track=DEVELOP&subTrack=CODE&memberId=310233

this returns array

[2020-06-15 00:10] simranb86 commented on #4491
@sushilshinde based on logs, I am assuming this is causing the issue, haven't been able to reproduce locally. PR is here https://github.com/topcoder-platform/topcoder-react-lib/pull/192

[2020-06-15 00:30] simranb86 commented on #4515
@sushilshinde no review types is auth based call. I guess that is reason why we say animation forever in other ticket also - I have pushed one PR to make sure we check for auth before making call to challenge-api.

That change should also fix #4505

Let's revisit once that PR is merged.

[2020-06-15 02:09] nursoltan-s commented on #4517
PR: [4517](https://github.com/topcoder-platform/community-app/pull/4534)

[2020-06-15 02:14] nursoltan-s commented on #4517
Hi. `challenge.registrants` returning empty array. Is resources API fixed yet?

[2020-06-15 02:42] nursoltan-s commented on #4521
[PR 4521](https://github.com/topcoder-platform/community-app/pull/4535)

[2020-06-15 03:34] SathyaJayabal commented on #4438
Verified on test and beta
<img width="1440" alt="Screenshot 2020-06-15 at 8 50 14 AM" src="https://user-images.githubusercontent.com/58783823/84615643-30f0fe80-aee7-11ea-9afb-6cfe2467fe79.png">
<img width="1440" alt="Screenshot 2020-06-15 at 9 03 54 AM" src="https://user-images.githubusercontent.com/58783823/84615657-39493980-aee7-11ea-9859-8653fa4d5afc.png">

[2020-06-15 03:35] #4519 closed

[2020-06-15 03:35] crazyk07 commented on #4519
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129401<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-15 04:30] SathyaJayabal commented on #4533
@sushilshinde , it has been observed only for the one user : lakshmiathreya

[2020-06-15 04:31] sushilshinde commented on #4533
Please reduce priority.

[2020-06-15 05:33] sushilshinde commented on #4521
Thanks @nursoltan-s

[2020-06-15 05:42] sushilshinde commented on #4517
not yet, it will return only with the token that we are trying to solve.

https://github.com/topcoder-platform/resources-api/issues/31

[2020-06-15 06:59] SathyaJayabal commented on #4517
@nursoltan-s @sushilshinde , We can still see the problem on test env
https://test-community-app.topcoder-dev.com/challenges/4bc9acfe-2850-4738-8660-fb55727e1e4f?tab=registrants
<img width="1440" alt="Screenshot 2020-06-15 at 12 28 34 PM" src="https://user-images.githubusercontent.com/58783823/84626998-c0a4a600-af03-11ea-81aa-dcb35fae04e8.png">
The issue seems to be fixed on  beta  env
https://bet

[2020-06-15 07:04] SathyaJayabal commented on #4521
Verified on beta and test
<img width="1440" alt="Screenshot 2020-06-15 at 12 33 02 PM" src="https://user-images.githubusercontent.com/58783823/84627424-8b4c8800-af04-11ea-9692-d0ffb9c73761.png">
<img width="1440" alt="Screenshot 2020-06-15 at 12 34 02 PM" src="https://user-images.githubusercontent.com/58783823/84627432-90a9d280-af04-11ea-9ecb-9ed73a4007a9.png">

[2020-06-15 07:08] SathyaJayabal opened #4536 "[$40]Submissions tab: Submissions table does not display submissions data"
Submissions tab: Submissions table does not display submissions data
https://beta-community-app.topcoder.com/challenges/adb02d6f-dcc6-4fcc-b7a4-a16c7d173839?tab=submissions
There are a few API fails.
Ref issue: https://github.com/topcoder-platform/submissions-api/issues/181
<img width="1440" alt="Screenshot 2020-06-15 at 12 36 16 PM" src="https://user-images.githubusercontent.com/58783823/84627626

[2020-06-15 07:13] SathyaJayabal opened #4537 "[$40]Registrants tab : Registrants table does not display registrants details"
Registrants tab : Registrants table does not display registrants details
https://beta-community-app.topcoder.com/challenges/adb02d6f-dcc6-4fcc-b7a4-a16c7d173839?tab=registrants
API ref issue: https://github.com/topcoder-platform/resources-api/issues/31
<img width="1440" alt="Screenshot 2020-06-15 at 12 41 56 PM" src="https://user-images.githubusercontent.com/58783823/84628127-b8e60100-af05-11ea-81

[2020-06-15 07:35] SathyaJayabal commented on #4532
@sushilshinde. We now see the issue on  both beta and test env. It is intermittent and the page sometimes loads on  refreshing. This issue occurs only in the logged out state.

<img width="1440" alt="Screenshot 2020-06-15 at 12 45 32 PM" src="https://user-images.githubusercontent.com/58783823/84629982-d1a3e600-af08-11ea-88c0-fcad0466ff0a.png">

<img width="1440" alt="Screenshot 2020-06-15 at 1 03

[2020-06-15 07:42] SathyaJayabal commented on #4532
@sushilshinde , for logged in users, we get this error. This is also intermittent.
example urls:
https://beta-community-app.topcoder.com/challenges/728f0685-391d-437d-bf23-cbb84b2bb627
https://test-community-app.topcoder-dev.com/challenges/4bc9acfe-2850-4738-8660-fb55727e1e4f
<img width="1440" alt="Screenshot 2020-06-15 at 12 45 32 PM" src="https://user-images.githubusercontent.com/58783823/846305

[2020-06-15 08:07] nursoltan-s commented on #4490
[PR 4490](https://github.com/topcoder-platform/community-app/pull/4538)

[2020-06-15 08:10] narekcat commented on #4492
@SathyaJayabal @sushilshinde I have tested this issue in my local machine, development environment and V5 api and it works correctly. See screenshot:
![image](https://user-images.githubusercontent.com/11549629/84633224-20e61880-af01-11ea-83a6-6a2ce1d31712.png)

[2020-06-15 08:53] narekcat commented on #4531
@SathyaJayabal @sushilshinde I have fixed this issue. Please see pull request https://github.com/topcoder-platform/community-app/pull/4539.

[2020-06-15 11:29] #4438 closed

[2020-06-15 11:30] crazyk07 commented on #4438
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30127102<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-15 12:54] sushilshinde commented on #4408
@luizrrodrigues we will split these tickets into two and will assign you separately

[2020-06-15 12:54] #4408 closed

[2020-06-15 12:54] crazyk07 commented on #4408
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-15 12:58] SathyaJayabal commented on #4517
@nursoltan-s @sushilshinde , this is working on test env with the latest build
<img width="1440" alt="Screenshot 2020-06-15 at 6 27 28 PM" src="https://user-images.githubusercontent.com/58783823/84660105-fe222700-af35-11ea-82eb-e9c820d3bdb1.png">

[2020-06-15 12:59] #4517 closed

[2020-06-15 12:59] crazyk07 commented on #4517
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129392<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-15 12:59] crazyk07 commented on #4537
Contest https://www.topcoder.com/challenges/30129769 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-15 12:59] #4521 closed

[2020-06-15 12:59] crazyk07 commented on #4536
Contest https://www.topcoder.com/challenges/30129770 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-15 12:59] crazyk07 commented on #4521
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129500<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-15 13:00] crazyk07 commented on #4536
Contest https://www.topcoder.com/challenges/30129770 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-15 13:00] sushilshinde commented on #4408
https://github.com/topcoder-platform/community-app/issues/4536
https://github.com/topcoder-platform/community-app/issues/4537

[2020-06-15 13:00] SathyaJayabal commented on #4408
Fixed along with
https://github.com/topcoder-platform/community-app/issues/4521
https://github.com/topcoder-platform/community-app/issues/4517

[2020-06-15 13:01] crazyk07 commented on #4537
Contest https://www.topcoder.com/challenges/30129769 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-15 13:14] rootelement commented on #4516
Yes, if this is the case, those checkpoints are being referred to by their ID. The new IDs are UUIDs. We can treat it like Github where a hash is referred to by the first chunk of the hash. So in that case, show "Feedback 9146ff17", splitting it on the first `-`

I'm not sure that's the best solution, but that's the similar solution to what we have now. We _could_ also look up the handles for the

[2020-06-15 13:30] SathyaJayabal commented on #4531
verified on test and beta
<img width="1440" alt="Screenshot 2020-06-15 at 6 56 04 PM" src="https://user-images.githubusercontent.com/58783823/84663131-5ce99f80-af3a-11ea-9e65-f4739cbce4a7.png">
<img width="1440" alt="Screenshot 2020-06-15 at 6 58 37 PM" src="https://user-images.githubusercontent.com/58783823/84663144-62df8080-af3a-11ea-9872-9e65313642cc.png">

[2020-06-15 13:30] #4531 closed

[2020-06-15 13:30] crazyk07 commented on #4531
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129658<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-15 13:42] SathyaJayabal commented on #4490
verified on test and beta
[4490.mov.zip](https://github.com/topcoder-platform/community-app/files/4780578/4490.mov.zip)

[2020-06-15 13:43] #4490 closed

[2020-06-15 13:43] crazyk07 commented on #4490
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30128695<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-15 15:13] Oanh-and-only-Oanh commented on #4306
closing issue because we will not have the new Member/Customer selection page on Community App. Everyone will be assigned Member when they sign up from Community App.

[2020-06-15 15:14] #4306 closed

[2020-06-15 15:33] SathyaJayabal commented on #4491
@sushilshinde @simranb86 , we still see this issue
Test env - Logged in  user
<img width="1440" alt="Screenshot 2020-06-15 at 8 58 12 PM" src="https://user-images.githubusercontent.com/58783823/84676619-59124900-af4b-11ea-8f66-eda134a5f3e5.png">
Beta Env - Logged in user
<img width="1440" alt="Screenshot 2020-06-15 at 8 58 14 PM" src="https://user-images.githubusercontent.com/58783823/84676669-689

[2020-06-16 02:15] nursoltan-s opened #4540 "Challenge listing tags overflow on mobile view."
**Describe the bug**
When challenge tags are 5 or more, tags are overflow from main container.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'topcoder.com/challenges'
2. Click on 'plus button of any challenge'
3. See tags are broken.

**Expected behavior**
I think tags should be rendered in new line when overflow

**Screenshots**
[Screenshot](https://gyazo.com/9ff92407d476ef4feab1540

[2020-06-16 04:39] crazyk07 commented on #4460
Contest https://www.topcoder.com/challenges/30127968 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-16 05:07] crazyk07 commented on #4393
Contest https://www.topcoder.com/challenges/30127673 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-16 05:13] sushilshinde commented on #4527
@rootelement need you advice on this

[2020-06-16 08:01] simranb86 commented on #4491
@sushilshinde opening since not sure what else could be causing this.

[2020-06-16 08:36] sushilshinde opened #4541 "[$50]Call looping"
1. Got to [listing page]( https://test-community-app.topcoder-dev.com[/challenges) or [details page](https://test-community-app.topcoder-dev.com/challenges/14cecae1-2646-43be-8804-d9f4cd668f05)
2. Check Debugger > Network tab
3. This call is being made in a loop
https://api.topcoder-dev.com/v5/resources/8547899/challenges
<img width="1368" alt="Thomas test challenge 9 June 2020-06-16 14-04-27" src

[2020-06-16 08:40] crazyk07 commented on #4541
Contest https://www.topcoder.com/challenges/30129885 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-16 09:23] kkartunov opened #4542 "Themes support for dropdown component"
Add themes support to the existing dropdown component. New theme design like FAQ section from https://marvelapp.com/dhhd877/screen/67158505

Test URL: http://community-app.topcoder-dev.com/examples/contentful/viewport/4GPiJa2vnl8UzhLYlPkYOb

[2020-06-16 10:06] luizrrodrigues commented on #4380
@sushilshinde https://github.com/topcoder-platform/topcoder-react-lib/pull/193

[2020-06-16 10:49] luizrrodrigues commented on #4393
@rootelement Is not allowed to `fetch GET` with `body`:
https://ermakovich.name/posts/can-i-send-http-get-request-with-body-form-browser/

[2020-06-16 10:55] crazyk07 commented on #4393
Contest https://www.topcoder.com/challenges/30127673 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-16 11:02] luizrrodrigues commented on #4393
**WIP PR**: https://github.com/topcoder-platform/topcoder-react-lib/pull/194

- Updated group `addMember()` call
- Updated `auth.js` to use V5 API
- Updated `reduceGroupIds` to use `id` instead `oldId`

-----

TODO: Need a API solution here, because we can't pass body in GET request: https://github.com/topcoder-platform/community-app/issues/4393#issuecomment-644688278

[2020-06-16 11:19] sushilshinde commented on #4380
Thanks @luizrrodrigues

[2020-06-16 11:33] sushilshinde commented on #4532
@SathyaJayabal please reduce dependencies for intermittent occurrences

[2020-06-16 12:42] rootelement commented on #4527
These are the available filters on Challenge Search:
[code]

There is no filter/property for `hasUserSubmittedForReview`, and also no subTrack.

@ThomasKranitsas is there a way to get subTrack?

For submission, i'm not sure where this comes from. It _should_ come from the Submissions api, and you can filter `GET /v5/challenges` with a body of `ids` to get multiple challenges at once. I'll dig on t

[2020-06-16 12:47] luizrrodrigues commented on #4530
Fix need be applied here:
https://github.com/topcoder-platform/topcoder-react-lib/pull/195/files

[2020-06-16 12:48] luizrrodrigues commented on #4537
@sushilshinde PR's:
https://github.com/topcoder-platform/topcoder-react-lib/pull/195
https://github.com/topcoder-platform/community-app/pull/4543

[2020-06-16 13:15] lakshmiathreya commented on #4533
<img width="1672" alt="Screenshot 2020-06-16 at 6 44 46 PM" src="https://user-images.githubusercontent.com/51733042/84779071-8ae5e700-b001-11ea-81eb-2ce49aac4059.png">
<img width="1642" alt="Screenshot 2020-06-16 at 6 44 55 PM" src="https://user-images.githubusercontent.com/51733042/84779086-920cf500-b001-11ea-9e6a-fb1aeeb0ee49.png">

[2020-06-16 13:24] #4533 closed

[2020-06-16 14:40] SathyaJayabal commented on #4380
@sushilshinde @luizrrodrigues , registration verified on beta and test.
But this issue still exists. Unable to register for some users (example: topcoderconnect/appirio123)
https://github.com/topcoder-platform/community-app/issues/4380#issuecomment-643138554

This is discussed here with @rootelement
https://topcoder.slack.com/archives/G012CL5GF71/p1592310796010300

reducing the priority as the iss

[2020-06-16 15:02] #4380 closed

[2020-06-16 15:03] crazyk07 commented on #4380
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126381<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-16 15:08] ThomasKranitsas commented on #4527
The legacy `subTrack` maps to the `typeId` property from V5.

@rootelement we can add support for searching based on `type` (search by `Type.name` or `Type.abbreviation` to make it similar to v4)

[2020-06-16 15:10] SathyaJayabal commented on #4498
Reopening this @sushilshinde

[2020-06-16 15:13] lakshmiathreya commented on #4537
<img width="1655" alt="Screenshot 2020-06-16 at 8 39 06 PM" src="https://user-images.githubusercontent.com/51733042/84792703-cee0e800-b011-11ea-96a6-74eaa795854e.png">
<img width="1366" alt="Screenshot 2020-06-16 at 8 41 19 PM" src="https://user-images.githubusercontent.com/51733042/84792713-d43e3280-b011-11ea-8ecf-5994240672ab.png">

[2020-06-16 15:18] SathyaJayabal commented on #4537
Verified on beta and test. @sushilshinde , will open a new issue to track issues within the table content
<img width="1440" alt="Screenshot 2020-06-16 at 8 47 56 PM" src="https://user-images.githubusercontent.com/58783823/84793432-b1f8e480-b012-11ea-94cc-f17d5c511a05.png">

[2020-06-16 15:47] ThomasKranitsas commented on #4527
The API has been updated to support filtering challenges by `type` (which is basically the same as the subTrack from v4).

Example: http://api.topcoder-dev.com/v5/challenges?type=FIRST_2_FINISH

[2020-06-16 16:09] harshitmehta15 opened #4544 "Google Indexing: Challenge Pages and Member Profiles"
There is definitely something wrong with the Google indexing of our challenges and member profile pages on community-app.

Example 1
I used to search for Petr Topcoder and get Petr's profile right on the top. I see TCO17/18 interview now

Example 2:

I used to search  CDC Text Topcoder and get the challenge link. No challenges are coming up in google search anymore.  Something when you search a un

[2020-06-16 16:41] #4537 closed

[2020-06-16 16:42] crazyk07 commented on #4537
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129769<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-17 01:25] rashmi73 commented on #4527
@sushilshinde update you in few hours

[2020-06-17 01:29] rashmi73 commented on #4161
@sushilshinde @crazyk07 I am unable to see this in pacts yet, can you please check it? sorry for reminding after 2 months

[2020-06-17 01:34] rashmi73 commented on #3545
@sushilshinde I am unable to see this too in pacts, can you please check? @crazyk07

[2020-06-17 03:50] sushilshinde opened #4545 "[$30]Find this call on community app"
Processing payment for this

https://github.com/topcoder-platform/community-app/issues/3545

[2020-06-17 03:52] crazyk07 commented on #4545
Contest https://www.topcoder.com/challenges/30130010 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-17 03:52] crazyk07 commented on #4545
Contest https://www.topcoder.com/challenges/30130010 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-17 04:07] SathyaJayabal opened #4546 "[$60]Registrants tab : Registrants table issues"
examples:
V5 URL: https://beta-community-app.topcoder.com/challenges/ad26ade8-aa6f-4623-bb65-ac510c70bef3?tab=registrants
V4 URL: https://www.topcoder.com/challenges/30128601?tab=registrants
Registration Date Column:
1. By default the registrants  table must be sorted by registration date (earliest to latest). The registrants table is not sorted. Also clicking on the sort icon for the  registratio

[2020-06-17 04:11] SathyaJayabal commented on #4546
@sushilshinde @lakshmiathreya FYI: the rating for some users in the table mismatches with prod. But the prod rating is wrong. V5 displays the correct rating.

[2020-06-17 05:40] SathyaJayabal opened #4547 "Performance issue - It takes nearly a minute to load all the buckets on the listings page for a logged in user"
My Challenges: Performance issue - It takes nearly a minute to all the buckets including the My Challenges bucket. V4 only takes less than 8 seconds.
https://beta-community-app.topcoder.com/challenges?

[perf_listings.mp4.zip](https://github.com/topcoder-platform/community-app/files/4790520/perf_listings.mp4.zip)

In comparison, for the not logged in user, the loading time is faster
[not logged in

[2020-06-17 05:55] simranb86 commented on #4541
@sushilshinde PR https://github.com/topcoder-platform/topcoder-react-lib/pull/196

[2020-06-17 05:58] simranb86 commented on #4547
@SathyaJayabal try after changes for #4541 are merged, should be faster than a minute.

[2020-06-17 06:11] SathyaJayabal commented on #4547
@simranb86 ,thanks.

[2020-06-17 06:37] SathyaJayabal opened #4548 "[$20]Registration: Challenge terms displayed even if the user has already agreed to the terms"
Registration: Challenge terms displayed even if the user has already agreed to the terms. Onclicking on agree nothing happens and the user cannot proceed to register. We see the following error in the api response
https://api.topcoder.com/v2/terms/21303/agree
https://beta-community-app.topcoder.com/challenges/adb02d6f-dcc6-4fcc-b7a4-a16c7d173839
user:picachui
<img width="1440" alt="Screenshot 2020

[2020-06-17 06:48] SathyaJayabal opened #4549 "[$50]Registration: Loading a blank page when trying to register to Marathon Match contest"
Registration: Loading a blank page when trying to register to Marathon Match contest
https://beta-community-app.topcoder.com/challenges/3724cf55-e2ab-427e-a30f-863c750a277c
user:picachui

<img width="1440" alt="Screenshot 2020-06-17 at 12 11 21 PM" src="https://user-images.githubusercontent.com/58783823/84864423-47888880-b094-11ea-8a5e-742098e250e3.png">

Test: https://test-community-app.topcoder-

[2020-06-17 07:13] SathyaJayabal commented on #4541
verified on beta
The resources api call is not made from the  challenge listings or details page.
https://api.topcoder-dev.com/v5/resources/8547899/challenges

<img width="1440" alt="Screenshot 2020-06-17 at 12 41 30 PM" src="https://user-images.githubusercontent.com/58783823/84866930-0a25fa00-b098-11ea-81ad-a17c6b03b7c6.png">
<img width="1440" alt="Screenshot 2020-06-17 at 12 42 30 PM" src="https

[2020-06-17 07:15] nursoltan-s commented on #4460
Hi.

In dashboard page, V4 API used "userDetails", but V5 doesn't have that attribute. How can i fetch "userDetails" and "userRoles" for V5?

@rootelement

[2020-06-17 07:27] SathyaJayabal commented on #4547
@simranb86 @sushilshinde , there is no improvement in the time even after removing the  resources call (#4541 )

[4547.mp4.zip](https://github.com/topcoder-platform/community-app/files/4790945/4547.mp4.zip)

[2020-06-17 07:40] nursoltan-s commented on #4460
[Screenshot](https://monosnap.com/file/k4ASk5UL8nTk4hv6wCVWy1jfNj5zAB?idx=undefined&total=16)

[2020-06-17 08:20] SathyaJayabal commented on #4546
@Oanh-and-only-Oanh for point #4 above, is there any specific reason to not show the rating column for Bug Hunts challenges, currently ?

[2020-06-17 09:35] ThomasKranitsas commented on #4460
To fetch the user roles, you need to call the Resources API https://api.topcoder-dev.com/v5/resources/docs

To fetch the user's active challenges you need to filter based on the `status` query parameter.

Example: http://api.topcoder-dev.com/v5/challenges?status=Active&memberId=40029484
This call will fetch all `Active` challenges for the user `jcori` ☝️

[2020-06-17 10:29] luizrrodrigues commented on #4536
@sushilshinde PR's is ready:
https://github.com/topcoder-platform/topcoder-react-lib/pull/197
https://github.com/topcoder-platform/community-app/pull/4550

-----

- Get challenge submissions from `V5 /submissions`
- Remove scan reviews type from `submissions.review[]`
  - AV Scan, SonarQube Review, and Virus Scan
- Merge submissions with challenge details return
- Fix sort arrow icons from table

[2020-06-17 11:09] sushilshinde commented on #4536
Thanks @luizrrodrigues

[2020-06-17 11:10] crazyk07 commented on #4498
Contest https://www.topcoder.com/challenges/30130184 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-17 11:11] crazyk07 commented on #4498
Contest https://www.topcoder.com/challenges/30130184 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-17 11:43] crazyk07 commented on #4549
Contest https://www.topcoder.com/challenges/30130196 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-17 11:44] crazyk07 commented on #4549
Contest https://www.topcoder.com/challenges/30130196 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-17 12:08] sushilshinde commented on #4548
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-17 12:10] #4541 closed

[2020-06-17 12:11] crazyk07 commented on #4548
Contest https://www.topcoder.com/challenges/30130201 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-17 12:11] crazyk07 commented on #4541
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129885<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-17 12:22] crazyk07 commented on #4548
Contest https://www.topcoder.com/challenges/30130201 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-17 12:34] PrakashDurlabhji commented on #4516
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/4551

[2020-06-17 12:43] SathyaJayabal commented on #4536
@luizrrodrigues for not logged in users, we must hide the submissions tab. Right  now, we show the submissions tab  with number of submissions, but the table is empty.
example:https://www.topcoder.com/challenges/30127007?tab=submissions

Is that right @sushilshinde .

<img width="1440" alt="Screenshot 2020-06-17 at 6 12 44 PM" src="https://user-images.githubusercontent.com/58783823/84899386-395360

[2020-06-17 12:53] luizrrodrigues commented on #4536
@SathyaJayabal Thanks, I'll fix that.

[2020-06-17 13:13] SathyaJayabal opened #4552 "[$40]Submissions Tab: submissions table issues"
V4 URL: https://www.topcoder.com/challenges/30127007?tab=submissions
V5  URL: https://beta-community-app.topcoder.com/challenges/6b219116-4aac-4bb0-8a9d-6ec76e2d4c24?tab=submissions

1. When there are more than one submission for a user, we must display the user only once.

2. User rating colour must be reflected on the handle and rating. #4530

3. Initial Final Scores not displayed
<img width="14

[2020-06-17 15:04] ajefts commented on #4544
Fyi, Matt and I are trying a couple things to help on this one.

1. Adding an additional google sitemap to assist with indexing our pages.

I think this will help the "duplicate page" issue, the odd URL,  and the ranking of some pages over time. This mostly addresses #2 above.

@harshitmehta15 I think the case of petr not being at the top of the search results is more a factor of google rankings c

[2020-06-17 15:08] cagdas001 commented on #4548
What is the password of `picachui` user?

[2020-06-17 15:45] cagdas001 commented on #4548
@sushilshinde @SathyaJayabal

[2020-06-17 16:19] rootelement commented on #4548
Did you try `appirio123`?

[2020-06-17 16:21] nursoltan-s commented on #4460
Thank you

[2020-06-17 16:44] SathyaJayabal commented on #4548
@cagdas001 , thats my production user id. Please use your handle.

[2020-06-17 16:45] cagdas001 commented on #4548
@rootelement Yes I tried it, didn't work. The issue is that, the login link redirects me to the https://accounts.topcoder.com domain while the beta domain is actually https://beta-community-app.topcoder.com

I couldn't find a login link on beta instance so can't login with `appirio123`

[2020-06-17 16:47] cagdas001 commented on #4548
Okay, thank you. I thought it won't prompt me the dialog with my own username since I already agreed them before, but it did. Now I can reproduce

[2020-06-17 16:50] SathyaJayabal commented on #4548
@cagdas001 , beta uses production backend and you can use your topcoder handle to test.Let me get a test user  ready for you

[2020-06-17 16:52] SathyaJayabal commented on #4548
Yes, thats the error. The Front end prompts even when the user is already agreed to the terms. We need to check if the user is already agreed, before displaying the prompt.

[2020-06-17 17:56] nursoltan-s commented on #4460
[PR](https://github.com/topcoder-platform/community-app/pull/4553)

[2020-06-17 20:32] Oanh-and-only-Oanh commented on #4552
@SathyaJayabal, we will leave the ratings in for QA and f2f

[2020-06-17 22:03] rashmi73 commented on #4527
@rootelement @sushilshinde @ThomasKranitsas what about "hasUserSubmittedForReview"?

[2020-06-17 23:30] cagdas001 commented on #4548
Releasing as I'm currently having some issues with `node-gyp` on my Windows machine

[2020-06-17 23:33] crazyk07 commented on #4548
Contest https://www.topcoder.com/challenges/30130201 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 00:53] luizrrodrigues commented on #4498
@sushilshinde PR: https://github.com/topcoder-platform/community-app/pull/4554

- Fixed check if challenge registration is open
- Removed references to old return `allPhases` and update with `phases`

------

News issues found:
- If click in submit page return 404, because the router has legacyId validation. (waiting for confirmation)
- If use legacyId and try access page, this works, but getting

[2020-06-18 01:57] sushilshinde commented on #4460
Thanks @nursoltan-s @ThomasKranitsas

[2020-06-18 02:38] sushilshinde commented on #4491
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-18 04:01] SathyaJayabal commented on #4516
Checkpoint tab not yet displayed
<img width="1440" alt="Screenshot 2020-06-18 at 9 29 36 AM" src="https://user-images.githubusercontent.com/58783823/84976806-6f382900-b146-11ea-9823-94b22d7190af.png">

[2020-06-18 04:18] SathyaJayabal commented on #4492
@narekcat, the issue was not fixed. There was some update in the groups backend, that resulted in the challenge being available to all users. Can you test now please?

[2020-06-18 04:18] SathyaJayabal commented on #4492
cc @sushilshinde

[2020-06-18 04:19] narekcat commented on #4492
@SathyaJayabal Ok, I'll test it again.

[2020-06-18 04:47] SathyaJayabal commented on #4460
verified on beta. Active challenges displays correct challenges
<img width="1440" alt="Screenshot 2020-06-18 at 10 14 22 AM" src="https://user-images.githubusercontent.com/58783823/84979204-824df780-b14c-11ea-8152-2f9d27247217.png">

[2020-06-18 05:11] simranb86 commented on #4547
then maybe we need to note the time challenges API take to respond to each call and time it used to take in V4 and go from there.

[2020-06-18 05:28] Oanh-and-only-Oanh commented on #4546
@sushilshinde, we can show ratings for bug hunts.

[2020-06-18 05:35] SathyaJayabal commented on #4380
@luizrrodrigues @sushilshinde , we are getting an error when trying to register for any challenge
exmaple:
https://test-community-app.topcoder-dev.com/challenges/2bc66064-329d-4602-ab39-b5874d5e5986 (topcoderconnect/appirio123)
https://beta-community-app.topcoder.com/challenges/ad7eb0b9-2b06-4c51-81d6-e8c80a690995 (picachui)

reference slack discussion with Thomas: https://topcoder.slack.com/archi

[2020-06-18 05:45] SathyaJayabal opened #4556 "[$40]Error displayed when loading challenge"
Challenge Details page displaying this error for the below challenge. This issue is not observed for other challenges.
https://test-community-app.topcoder-dev.com/challenges/7e41ed74-8a79-4845-9e7b-ad0df1b43cd2
The api seems to be returning correct data
http://api.topcoder-dev.com/v5/challenges/7e41ed74-8a79-4845-9e7b-ad0df1b43cd2
<img width="1440" alt="Screenshot 2020-06-18 at 11 14 32 AM" src="h

[2020-06-18 05:51] narekcat commented on #4549
@SathyaJayabal @sushilshinde I have fixed this issue. Please see pull request https://github.com/topcoder-platform/community-app/pull/4555

[2020-06-18 05:53] SathyaJayabal opened #4557 "My Active Challenges : Issues"
https://beta-community-app.topcoder.com/my-dashboard??tab=submissions
https://test-community-app.topcoder-dev.com/my-dashboard?tab=submissions (topcoderconnect/appirio123)
1. The tag in the challenge card must display the subtrack, and not the track.
2. The challenge phases and timelines are incorrect
3. The challenge card must have a button for any action applicable to the user. For example if th

[2020-06-18 07:03] luizrrodrigues commented on #4536
@sushilshinde PR is ready: https://github.com/topcoder-platform/community-app/pull/4558

[2020-06-18 07:29] SathyaJayabal opened #4559 "[$50]My Challenges bucket: Challenge not displayed in the My challenges bucket, even though the user is registered to the challenge"
https://beta-community-app.topcoder.com/challenges?bucket=my
user:picachui

The user picachui is registered to  below challenge
https://beta-community-app.topcoder.com/challenges/0e19815e-fb7e-4a8c-bb52-6e5c6c101818
<img width="1440" alt="Screenshot 2020-06-18 at 12 49 07 PM" src="https://user-images.githubusercontent.com/58783823/84990872-66098500-b163-11ea-97d2-2e16fa3a152d.png">

But the challe

[2020-06-18 07:42] luizrrodrigues commented on #4380
@SathyaJayabal @sushilshinde terms still loading from v2 API, I think we'll need to update that.

@SathyaJayabal Can you create a new ticket to track this?

[2020-06-18 08:04] SathyaJayabal opened #4560 "Subtrack code not displayed for certain subtracks"
https://test-community-app.topcoder-dev.com/challenges?
Sub track code not displayed for certain  sub tracks, example "Task" sub track.
<img width="1440" alt="Screenshot 2020-06-18 at 1 31 35 PM" src="https://user-images.githubusercontent.com/58783823/84994451-56d90600-b168-11ea-8842-07447202a7b7.png">

[2020-06-18 08:27] SathyaJayabal opened #4561 "Filtering by subtrack: "No Live Challenges found in All Challenges" message displayed before filtered challenges are displayed"
Challenge Listings
Actual: Filtering by subtrack "Task": "No Live Challenges found in All Challenges" message displayed before filtered challenges are displayed.
Expected: The loading animation  must be displayed before the filtered challenges are displayed.
https://test-community-app.topcoder-dev.com/challenges?filter[subtracks][0]=e885273d-aeda-42c0-917d-bfbf979afbba

[subtrack filter.mov.zip](h

[2020-06-18 08:38] SathyaJayabal opened #4562 "[$50]Registration : Error on registering"
https://github.com/topcoder-platform/community-app/issues/4380#issuecomment-645785333

[2020-06-18 08:39] SathyaJayabal commented on #4380
tracking here #4562

[2020-06-18 08:45] sushilshinde commented on #4549
Thanks @narekcat

[2020-06-18 09:25] sushilshinde commented on #4516
@sushilshinde I anaylzed well.

there is no checkpoints array present in v5 urls

https://api.topcoder.com/v5/challenges/6b29e50f-fe49-47a8-a949-f96a00c22448?
http://api.topcoder-dev.com/v5/challenges?legacyId=30021775

whereas available in v4
http://api.topcoder-dev.com/v4/challenges/30021775

hence it fails because a check is applied at checkpoints tab

[2020-06-18 09:31] crazyk07 commented on #4559
[500]: Challenge for the updated issue 4559 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 09:31] crazyk07 commented on #4559
Contest https://www.topcoder.com/challenges/30130307 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 09:31] crazyk07 commented on #4559
Contest https://www.topcoder.com/challenges/30130307 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 09:41] nursoltan-s commented on #4559
Community App: [PR](https://github.com/topcoder-platform/community-app/pull/4563)
Topcoder React Lib: [PR](https://github.com/topcoder-platform/topcoder-react-lib/pull/198)

[2020-06-18 09:42] nursoltan-s commented on #4559
FYI, In some reason, My Challenges Bucket Updates after couple of seconds.
![Screenshot from 2020-06-18 17-39-45](https://user-images.githubusercontent.com/7783676/85005237-15a61d80-b18b-11ea-8871-75b7cbea197d.png)

[2020-06-18 09:42] crazyk07 commented on #4516
Contest https://www.topcoder.com/challenges/30129402 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 09:45] ThomasKranitsas commented on #4527
That info should come from the Submission API https://tc-submission-api-dev.herokuapp.com/docs/

@rootelement correct me if I'm wrong

[2020-06-18 09:46] sushilshinde commented on #4559
@nursoltan-s thats known issue

[2020-06-18 09:47] crazyk07 commented on #4562
Contest https://www.topcoder.com/challenges/30130310 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 09:48] crazyk07 commented on #4562
Contest https://www.topcoder.com/challenges/30130310 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 09:56] crazyk07 commented on #4557
Contest https://www.topcoder.com/challenges/30130311 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 09:57] crazyk07 commented on #4557
Contest https://www.topcoder.com/challenges/30130311 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 10:00] crazyk07 commented on #4556
Contest https://www.topcoder.com/challenges/30130312 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 10:01] crazyk07 commented on #4556
Contest https://www.topcoder.com/challenges/30130312 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 10:02] crazyk07 commented on #4552
Contest https://www.topcoder.com/challenges/30130313 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 10:04] crazyk07 commented on #4552
Contest https://www.topcoder.com/challenges/30130313 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 10:18] sushilshinde commented on #4548
@PrakashDurlabhji wait for confirmation on v5 terms API shift

[2020-06-18 10:28] crazyk07 commented on #4516
Contest https://www.topcoder.com/challenges/30129402 has been updated - PkDurlabhji has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 10:29] crazyk07 commented on #4516
Contest https://www.topcoder.com/challenges/30129402 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 10:36] crazyk07 commented on #4546
Contest https://www.topcoder.com/challenges/30130319 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 10:36] crazyk07 commented on #4546
Contest https://www.topcoder.com/challenges/30130319 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-18 11:20] SathyaJayabal commented on #4549
@sushilshinde @narekcat , unable to verify this because of issue #4562

[2020-06-18 11:26] SathyaJayabal commented on #4536
verified on beta and test
<img width="1440" alt="Screenshot 2020-06-18 at 4 54 14 PM" src="https://user-images.githubusercontent.com/58783823/85014739-7847eb00-b184-11ea-8716-5190dbe1b7bf.png">
<img width="1440" alt="Screenshot 2020-06-18 at 4 54 18 PM" src="https://user-images.githubusercontent.com/58783823/85014796-91509c00-b184-11ea-8c96-019c4faaa33c.png">

[2020-06-18 11:38] SathyaJayabal opened #4564 "[$50]Display of # of submissions link for not logged in users"
In V5, we have removed the display of the submissions tab on the challenge details page for not logged in users. We have several places where the # of submissions is a link to the submissions  tab of the challenge details page. Example: The challenge listings page
<img width="1440" alt="Screenshot 2020-06-18 at 5 01 29 PM" src="https://user-images.githubusercontent.com/58783823/85015377-7cc0d380-b

[2020-06-18 11:59] PrakashDurlabhji commented on #4516
@sushilshinde both PR are required. at frontend as well as topcoder-react-lib.

#4551
https://github.com/topcoder-platform/topcoder-react-lib/pull/199

out of which 1 is already merged of frontend hence only topcoder-react-lib need to be merged

[2020-06-18 12:03] PrakashDurlabhji commented on #4516
<img width="756" alt="Capture" src="https://user-images.githubusercontent.com/28830240/85017849-cb706c80-b189-11ea-8c11-c04d08a35d3f.PNG">

Verification  screenshot

[2020-06-18 12:07] sushilshinde commented on #4516
ok thanks @PrakashDurlabhji

[2020-06-18 15:27] mtwomey commented on #4316
It seems this is _super_ complicated for what it is? EMR, Hadoop, Hive, Scoop, ...etc? All technologies we aren't really using anywhere else in our core stuff. I think this should be rearchitected to a solution where skills are simply stored in a database and verified upon challenge submission.  (cc: @Oanh-and-only-Oanh @ajefts  @RishiRajSahu )

[2020-06-18 15:42] Oanh-and-only-Oanh commented on #4564
@SathyaJayabal, please redirect to the details tab of the challenge details page for logged out users.

[2020-06-18 15:47] Oanh-and-only-Oanh commented on #4316
@mtwomey, yes, I will defer to you on best technical approach here. Basically, we need to be able to 1) store member skills 2) be able to verify the skills open challenge "win".

[2020-06-18 17:14] mtwomey commented on #4316
@Oanh-and-only-Oanh ok. @RishiRajSahu can you take a moment and think about how the plan would look to do this and the timeline and the potential budget? If you can get a draft of something, we can review / revise together. That way Oanh will have something she can prioritize and seek funding for.

[2020-06-18 18:30] ajefts commented on #4316
Just my 2 cents here...and not trying to make it more complicated, but it's probably worth catching up with Will and Lazybaer on skills since I think they may have a target vision for computing/tracking member skills.

[2020-06-18 18:32] Oanh-and-only-Oanh commented on #4316
Haha we just had a slack convo about looping in all the key people for a
larger conversation.

On Thu, Jun 18, 2020 at 11:30 AM ajefts <notifications@github.com> wrote:

--

<https://www.topcoder.com/>

*Oanh Tran*

Product Manager, Community App

732-353-9457

www.topcoder.com  | @topcoder <http://twitter.com/topcoder>

[2020-06-18 20:08] simranb86 commented on #4556
@sushilshinde PR https://github.com/topcoder-platform/topcoder-react-lib/pull/200

[2020-06-19 04:26] SathyaJayabal commented on #4498
@luizrrodrigues @sushilshinde , verified on test and beta. The submit button is enabled
<img width="1440" alt="Screenshot 2020-06-19 at 9 48 18 AM" src="https://user-images.githubusercontent.com/58783823/85096596-6c0a6f00-b212-11ea-9be9-0fbc9fc261c3.png">

<img width="1440" alt="Screenshot 2020-06-19 at 9 45 15 AM" src="https://user-images.githubusercontent.com/58783823/85096591-66ad2480-b212-11ea

[2020-06-19 04:37] SathyaJayabal opened #4565 "[$40]Submission: 404 error is displayed when clicking on submit button"
Submission: 404 error is displayed when clicking on submit button
example:
https://beta-community-app.topcoder.com/challenges/3724cf55-e2ab-427e-a30f-863c750a277c/submit
(user must be registered)
https://test-community-app.topcoder-dev.com/challenges/68a1cb52-a313-4130-8900-87a21959fdae
(user:dan_developer/dantopcoder123)

<img width="1440" alt="Screenshot 2020-06-19 at 10 05 50 AM" src="https://u

[2020-06-19 04:38] SathyaJayabal commented on #4565
ref comment :https://github.com/topcoder-platform/community-app/issues/4498#issuecomment-645703849

[2020-06-19 05:08] SathyaJayabal commented on #4516
@sushilshinde @PrakashDurlabhji , according to this comment
https://github.com/topcoder-platform/community-app/issues/4516#issuecomment-643282797
we should sue the submissions api to get the checkpoint details.

But the api call used here is the older V2 call.
https://api.topcoder.com/v2/design/challenges/checkpoint/30127234

@sushilshinde , please confirm if this is the right approach.
<img width

[2020-06-19 05:17] luizrrodrigues commented on #4393
**UPDATE**:
- Fix done in API not working, if use `groups[]=xxxx` looks like not filtered and API return all challenges:
[code]
.
- All challenges returning empty data in `groups`field

cc @sushilshinde @rootelement

[2020-06-19 05:18] SathyaJayabal commented on #4564
@sushilshinde , for not logged in users when clicking on  #of submissions it should redirect to the details tab.
We already have a similar implementation in prod(V4), where the # of submissions link redirects to the details tab when  the number of submissions is 0.
Example:
https://beta-community-app.topcoder.com/challenges/8803f7db-2bbf-42c3-af20-ac88f43c642f?tab=submissions
should redirect to
ht

[2020-06-19 05:46] simranb86 commented on #4552
@Sushil what all type of challenges we looking for here :point_up:

[2020-06-19 05:51] simranb86 commented on #4552
Also in /submissions api response, in review I see some have 2 like below and some have only 1 and some none. So what goes as Initial and Final Score ?

0: {score: 100, updatedBy: "MeaSS8yPG4VIer4XalVqOAYhnCNecGfN@clients",…}
1: {score: 100, updatedBy: "maE2maBSv9fRVHjSlC31LFZSq6VhhZqC@clients",…}

[2020-06-19 06:15] simranb86 commented on #4552
Also for `User rating colour must be reflected on the handle and rating.` - where do we get color styles? Can you share style/rating mapping ?

@sushilshinde ☝️

[2020-06-19 06:26] SathyaJayabal opened #4566 "[$40]Registration not reflecting for some challenges."
Example: User picachui  is registered to the below challenge
https://beta-community-app.topcoder.com/challenges/184a4437-7ee0-4b30-a614-6850ea9f1b86
The challenge belongs to a wipro-all group the user is a member of.

The challenge shows up under my challenges in the listings page:
<img width="1440" alt="Screenshot 2020-06-18 at 12 48 59 PM" src="https://user-images.githubusercontent.com/58783823/

[2020-06-19 07:25] nursoltan-s commented on #4557
Community App: [PR](https://github.com/topcoder-platform/community-app/pull/4567)
Topcoder React Lib: [PR](https://github.com/topcoder-platform/topcoder-react-lib/pull/201)

[2020-06-19 07:30] harshitmehta15 commented on #4544
Thanks @ajefts.  That would help!

I did some investigation in Google Search Console and still looking at what happened to member profile pages. Having Petr's profile on the top with "Petr Topcoder"  was always there, even my search history shows that I clicked on it on May 31st.

It was always on top and now days not even in the first 383 pages, concerns me.  (I haven't checked further) Writing a

[2020-06-19 08:07] PrakashDurlabhji commented on #4516
@SathyaJayabal Yes to my best it is right approach, as earlier I messed up in analyzing the flow and I even confused @rootelement I believe.Hence after digging up I came to know flow is simple.

@sushilshinde is aware of flow.

Waiting for confirmation.

[2020-06-19 09:07] sushilshinde commented on #4516
@skyhit any idea?

[2020-06-19 09:09] sushilshinde commented on #4516
@PrakashDurlabhji follow this https://github.com/topcoder-platform/community-app/issues/4516#issuecomment-643282797

[2020-06-19 09:23] SathyaJayabal opened #4568 "Review Opportunities Bucket: Api calls"
To get the review opportunities bucket details, both the Prod V4 and V5 integration branch on beta is using the V3 call
https://api.topcoder.com/v3/reviewOpportunities?limit=1000&offset=0

@sushilshinde, Does this have to be updated to V5 ?
<img width="1440" alt="Screenshot 2020-06-19 at 2 51 55 PM" src="https://user-images.githubusercontent.com/58783823/85117462-88bb9c80-b23c-11ea-8a23-2f1844cb1b

[2020-06-19 09:41] PrakashDurlabhji commented on #4516
@sushilshinde are you sure? because it does not match the relevant data and also till now we were using same v2 call though I am aware we are upgrading.

1. I feel even if we have migrated then we should be using a endpoint similar to /design/checkpoint and pass "ChallengeId"?
2. @rootelement should take a look again at data being received because it nowhere matches the data.

rest I would impleme

[2020-06-19 09:54] SathyaJayabal commented on #4516
@PrakashDurlabhji , we do not use this call in production. This was used before V4.

[2020-06-19 10:14] SathyaJayabal commented on #4377
@sushilshinde , @lakshmiathreya , @ThomasKranitsas , we still have these issues after the data migration and sync.

I will open a new issue for this. This seems to be an api issue

[2020-06-19 10:20] SathyaJayabal opened #4569 "Challenge phases are out of sync between V4 and V5"
We can see many challenges that are closed still in the active challenges. Also many of the Ongoing challenges in Open for registration. On looking at the api responses we can see that the api responses for  V4 and V5 have different data.

Examples:
https://www.topcoder.com/challenges/30128012  - Closed
https://beta-community-app.topcoder.com/challenges/7f9b4dfc-14b8-463d-9651-c06cbb842d6d - Ongoi

[2020-06-19 10:21] SathyaJayabal commented on #4377
tracked here
https://github.com/topcoder-platform/community-app/issues/4569

[2020-06-19 10:34] PrakashDurlabhji commented on #4516
@rootelement @SathyaJayabal
sorry for dragging it long

1. can you please go to https://www.topcoder.com/challenges/30127234?tab=checkpoints
2. data present in checkpoints tab is coming from here https://api.topcoder.com/v2/design/challenges/checkpoint/30127234

can you please correct me if i am wrong? even i am running prod locally and verifying it in few minutes where this call was used in produ

[2020-06-19 10:37] SathyaJayabal commented on #4516
@PrakashDurlabhji , yes you are right, this call is used in prod.

[2020-06-19 10:48] PrakashDurlabhji commented on #4516
@SathyaJayabal then I hope my solution is accepted because prod using same api, and also if we wish to move to v5, then I feel same endpoint should be moved to v5, and I still feel @rootelement may have mistaken the endpoint interpretation in hurry.

Hence lets see what are inputs from @rootelement  because I myself mistaken the checkpoints array then pasted a huge explanation which was irrelevant

[2020-06-19 10:50] PrakashDurlabhji commented on #4516
@SathyaJayabal Yes it is used I just confirmed running locally

Request URL: https://api.topcoder.com/v2/design/challenges/checkpoint/30126386
Request Method: GET
Status Code: 200

[2020-06-19 12:11] SathyaJayabal commented on #4406
https://topcoder.slack.com/archives/CCXM6QZQC/p1592487653380600
removing the hold label

[2020-06-19 12:26] SathyaJayabal commented on #4406
The past contests that show up on V5 are very old contest back from 2004 @sushilshinde
<img width="1440" alt="Screenshot 2020-06-19 at 5 54 07 PM" src="https://user-images.githubusercontent.com/58783823/85132235-f9bb7e00-b255-11ea-8dc9-30c845e418b3.png">
<img width="1440" alt="Screenshot 2020-06-19 at 5 55 23 PM" src="https://user-images.githubusercontent.com/58783823/85132291-148df280-b256-11ea-8

[2020-06-19 12:42] SathyaJayabal commented on #4406
cc @lakshmiathreya

[2020-06-19 13:44] #4460 closed

[2020-06-19 13:44] crazyk07 commented on #4460
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30127968<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-20 01:51] crazyk07 commented on #4565
Contest https://www.topcoder.com/challenges/30130498 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-20 01:51] crazyk07 commented on #4565
Contest https://www.topcoder.com/challenges/30130498 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-20 01:53] sushilshinde commented on #4527
@rashmi73 please PR or unassing yourself

[2020-06-20 01:53] crazyk07 commented on #4564
Contest https://www.topcoder.com/challenges/30130499 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-20 01:53] sushilshinde commented on #4568
@rootelement so we should continue v3 here?

[2020-06-20 01:55] rootelement commented on #4568
@sushilshinde yes, we don't have a review API yet

[2020-06-20 01:56] crazyk07 commented on #4566
Contest https://www.topcoder.com/challenges/30130500 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-20 01:57] sushilshinde commented on #4552
@SathyaJayabal @Oanh-and-only-Oanh

[2020-06-20 01:57] crazyk07 commented on #4566
Contest https://www.topcoder.com/challenges/30130500 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-20 01:58] crazyk07 commented on #4564
Contest https://www.topcoder.com/challenges/30130499 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-20 06:35] nursoltan-s commented on #4546
Hi.
How can i fetch submission resource?
Is `/resources/{challengeId}` correct? That seems returning only registrants?

@rootelement

[2020-06-20 06:39] simranb86 commented on #4552
@sushilshinde I am done with 1 and 2, I need confirmation on how to map scores before I push PR.

@Oanh-and-only-Oanh @SathyaJayabal can you confirm ☝️ ?

[2020-06-20 06:41] simranb86 commented on #4566
@SathyaJayabal kindly provide a challenge and use for local setup else not possible to test groups. As per my knowledge of the projects, groups are assigned by Topcoder team. So kindly provide a test which could be run on test env, so I can use the same on local setup to find the issue.

[2020-06-20 07:36] nursoltan-s commented on #4564
[PR](https://github.com/topcoder-platform/community-app/pull/4570)

[2020-06-20 08:24] PrakashDurlabhji commented on #4516
@sushilshinde can we close this? @SathyaJayabal

[2020-06-20 19:27] luizrrodrigues commented on #4393
☝️ Was fixed.

[2020-06-21 03:39] nursoltan-s commented on #4546
![image](https://user-images.githubusercontent.com/7783676/85216130-ae1ee680-b3b3-11ea-8fe2-0b01429066a5.png)

Now, resources api returning `submissionDate` correctly.

[2020-06-21 03:41] nursoltan-s commented on #4546
[PR](https://github.com/topcoder-platform/community-app/pull/4571)

[2020-06-21 03:42] nursoltan-s commented on #4546
For timezone issues, Is adding 4 hours to date solves problem? Or should i set timezone to moment() call? If so which timezone should it be?

[2020-06-22 02:14] sushilshinde commented on #4546
@SathyaJayabal please clarify this

@nursoltan-s something like this `moment().local().format`

@rootelement your opinion?

[2020-06-22 02:18] sushilshinde commented on #4568
@SathyaJayabal we can close this one

[2020-06-22 02:21] sushilshinde commented on #4552
@simranb86 skip item # 2 as it will be implemented separately

and PR

[2020-06-22 02:25] sushilshinde commented on #4527
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-06-22 02:57] SathyaJayabal commented on #4546
@sushilshinde , I don't think we should be adding 4 hours in the  front-end.

[2020-06-22 03:02] SathyaJayabal commented on #4559
verified
<img width="1440" alt="Screenshot 2020-06-22 at 8 32 01 AM" src="https://user-images.githubusercontent.com/58783823/85244637-e7faf600-b462-11ea-9841-47e3fa86ff30.png">

[2020-06-22 03:06] sushilshinde commented on #4546
Yes, no hard coding.
@nursoltan-s display local time

[2020-06-22 03:07] SathyaJayabal commented on #4556
Verified
<img width="1440" alt="Screenshot 2020-06-22 at 8 35 29 AM" src="https://user-images.githubusercontent.com/58783823/85244793-59d33f80-b463-11ea-8ce8-e92d40627668.png">

[2020-06-22 03:25] SathyaJayabal commented on #4557
@nursoltan-s
1. The subtrack tag when clicked on must filter the challenge listings based on subtrack. This filter must be updated
for example the V4 filter was  "https://www.topcoder.com/challenges?filter[subtracks][0]=BUG_HUNT"
And we need to update to "https://beta-community-app.topcoder.com/challenges?filter[subtracks][0]=a93544bc-c165-4af4-b55e-18f3593b457a"

2. Submit button and Role is miss

[2020-06-22 03:33] SathyaJayabal opened #4572 "My Challenges Bucket: Few challenges display the time to register section"
For the My Challenges section the "Time to Register" section must not be shown.
https://test-community-app.topcoder-dev.com/challenges?
(jcori/appirio123)
https://beta-community-app.topcoder.com/challenges?
<img width="1440" alt="Screenshot 2020-06-22 at 8 56 06 AM" src="https://user-images.githubusercontent.com/58783823/85245905-abc99480-b466-11ea-8fb7-6de44e97f2bb.png">

<img width="1440" alt="S

[2020-06-22 03:41] SathyaJayabal commented on #4564
@nursoltan-s @sushilshinde, I don'
<img width="1440" alt="Screenshot 2020-06-22 at 9 10 24 AM" src="https://user-images.githubusercontent.com/58783823/85246444-49719380-b468-11ea-949a-2304e3129afc.png">
t see the fix on beta or test

<img width="1440" alt="Screenshot 2020-06-22 at 9 10 01 AM" src="https://user-images.githubusercontent.com/58783823/85246436-44144900-b468-11ea-8d20-7260e6cdaa2c.png"

[2020-06-22 04:12] SathyaJayabal commented on #4566
@simranb86
https://test-community-app.topcoder-dev.com/challenges/2a3460ef-fb04-4609-958a-e7aad41dd321?tab=registrants
dan_developer/dantopcoder123

[2020-06-22 04:14] nursoltan-s commented on #4546
@sushilshinde @SathyaJayabal
Thanks for the feedback.

Changed timezone calculation to `moment().local().format`

[2020-06-22 04:16] #4498 closed

[2020-06-22 04:17] crazyk07 commented on #4498
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130184<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-22 04:18] #4536 closed

[2020-06-22 04:19] crazyk07 commented on #4536
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129770<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-22 04:27] SathyaJayabal commented on #4406
https://github.com/topcoder-platform/challenge-api/issues/142#issuecomment-647267402

[2020-06-22 04:34] SathyaJayabal commented on #4569
https://github.com/topcoder-platform/challenge-api/issues/186

[2020-06-22 04:46] PrakashDurlabhji commented on #4516
@SathyaJayabal any updates on this?

[2020-06-22 04:50] SathyaJayabal commented on #4516
@PrakashDurlabhji , we are  waiting for confirmation from @rootelement before we close it.

[2020-06-22 05:36] nursoltan-s commented on #4564
@SathyaJayabal
Hi. I fixed this error. Can you check again? Thanks.

[2020-06-22 05:42] SathyaJayabal opened #4573 "[$50]Challenge Listings sometimes loads a blank page"
Challenge Listings sometimes loads a blank page.
https://test-community-app.topcoder-dev.com/challenges?
<img width="1440" alt="Screenshot 2020-06-22 at 11 11 10 AM" src="https://user-images.githubusercontent.com/58783823/85252321-1f749d00-b479-11ea-9395-d5a8e6dbb4c7.png">

Observed only from 22 Jun.

[2020-06-22 05:43] crazyk07 commented on #4527
Contest https://www.topcoder.com/challenges/30129659 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-22 05:44] SathyaJayabal commented on #4564
@nursoltan-s , you will have to PR again.

[2020-06-22 05:49] simranb86 commented on #4552
@sushilshinde I have already implemented # 1 and # 2, I am waiting for information on how to map reviews to complete # 3

[2020-06-22 06:17] nursoltan-s commented on #4564
[PR](https://github.com/topcoder-platform/community-app/pull/4574)

[2020-06-22 06:18] simranb86 commented on #4527
@SathyaJayabal @rootelement I don't this this member data has been migrated to V5, ex: this API returns me [] -
[code]

[2020-06-22 06:21] simranb86 commented on #4566
Thanks @SathyaJayabal - looking into it. One Request - can you please remove labels like `Need clarification` going ahead when information is provided, helps me filter quick than going through each assigned ticket to check?

[2020-06-22 06:22] rashmi73 commented on #4527
@sushilshinde that was the same thing I was waiting for and said its returning blank [] and it was made open for pickup meanwhile, can I get it back?

[2020-06-22 06:23] SathyaJayabal opened #4575 "[$40]Sub community filter not working"
The sub community filter is not working
example:
https://beta-community-app.topcoder.com/challenges?communityId=wipro
communityId filter has to be updated to work with V5.

<img width="1440" alt="Screenshot 2020-06-22 at 11 52 26 AM" src="https://user-images.githubusercontent.com/58783823/85254906-e3443b00-b47e-11ea-85d0-c387f1230e2f.png">
<img width="1440" alt="Screenshot 2020-06-22 at 11 52 34 A

[2020-06-22 06:27] simranb86 commented on #4566
@SathyaJayabal can you please reverify this once, I do see it working fine on test env.

<img width="1365" alt="issue_4566" src="https://user-images.githubusercontent.com/40840038/85255282-97de5c80-b47f-11ea-8b27-b57597ae68be.png">

[2020-06-22 06:35] simranb86 commented on #4566
Also tested locally,
<img width="1363" alt="issue_4566_local" src="https://user-images.githubusercontent.com/40840038/85255759-86e21b00-b480-11ea-8621-4132f2ee252d.png">

Code looks like but I do see there is network issue on your side. See the network icon with Red Cross on your snapshot. Can you try incognito mode or fresh browser window ?

[2020-06-22 06:37] simranb86 commented on #4566
@sushilshinde what status we put here as QA need to reverify ? Should it be `Ready FOR QA` ?

[2020-06-22 06:39] simranb86 commented on #4527
lol - you never responded back for 4 days and your API and my API calls are quite different. Not possible now, as I have started analysis and making code changes too for other fields.

[2020-06-22 06:43] simranb86 commented on #4527
lol - your and my API calls are quite different. You need to drill down to the issue than just checking developer logs and saying this should have data to show.

[2020-06-22 06:48] SathyaJayabal commented on #4527
https://github.com/topcoder-platform/challenge-api/issues/187

[2020-06-22 06:49] rashmi73 commented on #4527
@simranb86 thanks for enlightement that issues are to be drilled down, else I couldnt have ever made out.

[2020-06-22 06:51] rashmi73 commented on #4527
@SathyaJayabal same thing was said by me here https://github.com/topcoder-platform/community-app/issues/4527#issuecomment-643836621

at that time you did not take any action? or I was missing something to grab your attention?

[2020-06-22 06:53] SathyaJayabal commented on #4566
@simranb86 add the ready for qa label in case your fix is ready and doesn't require any further actions like merge or deployment

[2020-06-22 06:57] SathyaJayabal commented on #4527
@rashmi73 , I think there was action taken after your comment and @rootelement and @ThomasKranitsas had given you more inputs. You have been unassigned because there was no response to this comment
https://github.com/topcoder-platform/community-app/issues/4527#issuecomment-646919540
In case you need further data or you are waiting for some clarifications on an issue, please update it in the issue

[2020-06-22 07:01] rashmi73 commented on #4527
@SathyaJayabal No issue that it was made open for pickup, I am ok with that.

Issue is action taken by you by opening a ticket and adding a label need clarification immediately, which could have done by you on my comment as well , because replies where delayed by 1 day.

I will make sure to tag you in my every comment even though simranb dint but still an action was immediate from your side.

Than

[2020-06-22 07:05] simranb86 commented on #4572
@SathyaJayabal @sushilshinde Looks like the developer added lot of unnecessary code changes in there, So many file changes to fix #4559 wasn't needed, it needed only a small change on react-lib to fix #4559, developer had to update logic to pipe response of getChallenges and getUserChallenges response and that's it. I see huge lot of files were changed in #4559 , which may break many more things.

[2020-06-22 07:38] SathyaJayabal commented on #4467
@kkartunov, @sushilshinde. except for the below issue, other pages look good.
(Content not in scope)
The regional pages are missing the footer
<img width="1440" alt="Screenshot 2020-06-22 at 1 04 27 PM" src="https://user-images.githubusercontent.com/58783823/85260876-01169d80-b489-11ea-9dd0-cef6a842e54f.png">
<img width="1440" alt="Screenshot 2020-06-22 at 1 04 55 PM" src="https://user-images.gith

[2020-06-22 07:51] nursoltan-s commented on #4557
@SathyaJayabal
[PR](https://github.com/topcoder-platform/community-app/pull/4577)

[2020-06-22 07:51] nursoltan-s commented on #4557
![Screenshot from 2020-06-22 15-50-03](https://user-images.githubusercontent.com/7783676/85262351-3bd80000-b4a0-11ea-9b34-1a3559f43dee.png)

[2020-06-22 07:55] SathyaJayabal commented on #4566
@simranb86 , You are correct, this example on test works correctly. But I still have the issue with the original contest on beta, where  the member handle is not present on the registrants table too.

This is not an issue with  private group challenges. Let's put this on hold until registration is fixed and we can retest the original contest.

[2020-06-22 07:58] nursoltan-s commented on #4564
@sushilshinde Can you merge this PR?

[2020-06-22 07:59] nursoltan-s commented on #4557
@sushilshinde Can you merge this PR?

[2020-06-22 08:01] SathyaJayabal commented on #4467
@kkartunov , user dropdown menu is hidden in some pages
example:
https://community-app.topcoder-dev.com/__community__/tco21/competition-overview/algorithm
https://community-app.topcoder-dev.com/__community__/tco21/competition-overview/qa
<img width="1440" alt="Screenshot 2020-06-22 at 1 30 46 PM" src="https://user-images.githubusercontent.com/58783823/85263369-b26b0280-b48c-11ea-8749-7dc51fae6d39.

[2020-06-22 09:01] SathyaJayabal commented on #4566
Same challenge, two registrants, the register button behaviour is different for the two users
<img width="1440" alt="Screenshot 2020-06-22 at 2 27 50 PM" src="https://user-images.githubusercontent.com/58783823/85268915-c74b9400-b494-11ea-836e-efcbbafb4a4a.png">
<img width="1406" alt="Screenshot 2020-06-22 at 2 20 45 PM" src="https://user-images.githubusercontent.com/58783823/85268947-d29ebf80-b494

[2020-06-22 09:04] SathyaJayabal commented on #4467
The user menu issues is fixed
<img width="1440" alt="Screenshot 2020-06-22 at 2 33 32 PM" src="https://user-images.githubusercontent.com/58783823/85269349-5fe21400-b495-11ea-8a91-9459f467055d.png">

[2020-06-22 09:11] SathyaJayabal commented on #4566
@simranb86 , here is another example you can look at
https://beta-community-app.topcoder.com/challenges/0e19815e-fb7e-4a8c-bb52-6e5c6c101818?tab=registrants
user: customeruser/appirio123
<img width="1440" alt="Screenshot 2020-06-22 at 2 40 03 PM" src="https://user-images.githubusercontent.com/58783823/85270008-52795980-b496-11ea-92aa-415770219304.png">
<img width="1440" alt="Screenshot 2020-06-22

[2020-06-22 09:38] PrakashDurlabhji commented on #4548
@sushilshinde shall I proceed with this?

[2020-06-22 09:43] #4545 closed

[2020-06-22 09:43] crazyk07 commented on #4545
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130010<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-22 09:47] sushilshinde commented on #4546
dont test on beta yet

[2020-06-22 10:02] sushilshinde commented on #4548
Yes use terms v5 api

[2020-06-22 10:20] crazyk07 commented on #4575
Contest https://www.topcoder.com/challenges/30130676 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-22 10:21] crazyk07 commented on #4573
Contest https://www.topcoder.com/challenges/30130677 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-22 10:21] crazyk07 commented on #4573
Contest https://www.topcoder.com/challenges/30130677 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-22 10:22] crazyk07 commented on #4575
Contest https://www.topcoder.com/challenges/30130676 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-22 10:55] SathyaJayabal commented on #4389
Resolved
<img width="1440" alt="Screenshot 2020-06-22 at 4 24 38 PM" src="https://user-images.githubusercontent.com/58783823/85279959-e5b98b80-b4a4-11ea-8ea1-c5c281c88d81.png">

[2020-06-22 10:55] #4389 closed

[2020-06-22 11:01] SathyaJayabal commented on #4129
<img width="1440" alt="Screenshot 2020-06-22 at 4 19 02 PM" src="https://user-images.githubusercontent.com/58783823/85279535-32e92d80-b4a4-11ea-904b-f981c5870f6a.png">

[2020-06-22 11:05] lakshmiathreya commented on #4564
For Zero and non-Zero #Submissions - the #Submissions link has Challenge Details link of the Challenge and successfully redirects to the respective Challenge Detail page.
<img width="1302" alt="Screenshot 2020-06-22 at 4 27 59 PM" src="https://user-images.githubusercontent.com/51733042/85280772-6d53ca00-b4a6-11ea-8686-d64cab776870.png">
![Uploading Screenshot 2020-06-22 at 4.28.16 PM.png…]()

[2020-06-22 11:40] lakshmiathreya commented on #4546
1. Registration Date is sorted earliest to latest by default. Sorting on Registration Date is working as expected.
2. Timezone comparison with v4 is not possible in Test.
3. Submission Date is not consistently present.
4. Rating is not present.
5. Rating color is shown.
6. No rating so cant test this.
<img width="1395" alt="Screenshot 2020-06-22 at 5 08 50 PM" src="https://user-images.githubuserco

[2020-06-22 11:41] luizrrodrigues commented on #4565
@sushilshinde PR: https://github.com/topcoder-platform/community-app/pull/4578

- Updated route regex validation to allow UUID and legacyId
- Fixed props issue with SubmissionPage

[2020-06-22 11:42] lakshmiathreya commented on #4546
<img width="1345" alt="Screenshot 2020-06-22 at 5 12 06 PM" src="https://user-images.githubusercontent.com/51733042/85283772-89a63580-b4ab-11ea-8a70-6fb05f6793be.png">

[2020-06-22 13:01] SathyaJayabal commented on #4546
@nursoltan-s , please use colours mentioned here
https://github.com/topcoder-platform/community-app/issues/4289#issuecomment-619785058

[2020-06-22 13:02] SathyaJayabal commented on #4552
@simranb86 , rating colour details
https://github.com/topcoder-platform/community-app/issues/4289#issuecomment-619785058

[2020-06-22 13:03] SathyaJayabal commented on #4530
Colour mapping
https://github.com/topcoder-platform/community-app/issues/4289#issuecomment-619785058

[2020-06-22 13:41] rootelement commented on #4569
@SathyaJayabal @lakshmiathreya Can you guys install this browser extension so when you show API output, it's clearer to read?

https://chrome.google.com/webstore/detail/json-formatter/bcjindcccaagfpapjjmafapmmgkkhgoa?hl=en

Also, if you're showing comparisons like this, it helps me if you not only provide the links, but pull out the v5:updated, v4:updatedAt properties for comparison. I'm going to

[2020-06-22 13:43] rootelement commented on #4569
I'm sorry, nevermind about the updated property. i forgot that's not provided by v4

[2020-06-22 14:46] luizrrodrigues commented on #4393
@sushilshinde PRs:
https://github.com/topcoder-platform/topcoder-react-lib/pull/194
https://github.com/topcoder-platform/community-app/pull/4580

- Fixed `getRestActiveChallenges()` to use filter
- Updated `filter.groupIds` to `filter.groups`
- Fix challenges filter `mapToBackend()`
- Added backend filter to getRestActiveChallenges
- Fix warning about propTypes
- Update auth tests to support v5 AP

[2020-06-22 14:48] sushilshinde commented on #4393
Thanks @luizrrodrigues will review and merge

[2020-06-22 15:06] SathyaJayabal commented on #4565
verified on test and beta
<img width="1440" alt="Screenshot 2020-06-22 at 8 35 37 PM" src="https://user-images.githubusercontent.com/58783823/85303369-047d4980-b4c8-11ea-856d-272772543316.png">
<img width="1440" alt="Screenshot 2020-06-22 at 8 35 50 PM" src="https://user-images.githubusercontent.com/58783823/85303403-0d6e1b00-b4c8-11ea-94a4-572f98387180.png">

[2020-06-22 22:57] PrakashDurlabhji commented on #4548
@sushilshinde working

[2020-06-23 04:38] simranb86 commented on #4566
@SathyaJayabal let me check and get back on this soon.

[2020-06-23 04:40] simranb86 commented on #4552
Thanks @SathyaJayabal will update the PR with the new color codes.

@Oanh-and-only-Oanh @sushilshinde I am still waiting for confirmation on how to map Initial and Final Reviews from response. Can one of you please help so we can take this ticket ahead ?

[2020-06-23 04:44] #4565 closed

[2020-06-23 04:45] crazyk07 commented on #4565
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130498<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 05:06] SathyaJayabal commented on #4467
@kkartunov, User menu issue in the below pages
https://community-app.topcoder.com/__community__/tco21/sponsors
<img width="1440" alt="Screenshot 2020-06-23 at 10 35 37 AM" src="https://user-images.githubusercontent.com/58783823/85362918-4f857400-b53d-11ea-85f3-b1eb6b160d32.png">

[2020-06-23 05:28] SathyaJayabal commented on #4546
@nursoltan-s
4. Time difference is still there between V4 and V5
<img width="1440" alt="Screenshot 2020-06-23 at 10 57 09 AM" src="https://user-images.githubusercontent.com/58783823/85364282-6a0d1c80-b540-11ea-8af8-b0f33f0db6d0.png">
<img width="1440" alt="Screenshot 2020-06-23 at 10 57 13 AM" src="https://user-images.githubusercontent.com/58783823/85364293-6f6a6700-b540-11ea-8971-fac86017314f.png

[2020-06-23 05:33] nursoltan-s commented on #4546
1. Changed color codes of user
2. Only Design challenges doesn't have rating column
3. Removed design contest users' color.

[PR](https://github.com/topcoder-platform/community-app/pull/4581)

[2020-06-23 05:37] nursoltan-s commented on #4546
@SathyaJayabal @sushilshinde
time calculation is based on local time. Does it  mean beta and test environment have different time settings?

[2020-06-23 06:00] #4556 closed

[2020-06-23 06:01] #4564 closed

[2020-06-23 06:01] crazyk07 commented on #4556
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130312<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 06:01] crazyk07 commented on #4564
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130499<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 06:34] SathyaJayabal opened #4582 "[$50]Submission Page: View My Submissions button (design contest) loads a blank page"
Submission Page: View My Submissions button (design contest) loads a blank page

https://test-community-app.topcoder-dev.com/challenges/2a3460ef-fb04-4609-958a-e7aad41dd321
user: dan_developer/dantopcoder123
<img width="1440" alt="Screenshot 2020-06-23 at 12 02 34 PM" src="https://user-images.githubusercontent.com/58783823/85368805-8f525880-b549-11ea-87ae-8c0c71534d32.png">
<img width="1440" alt="

[2020-06-23 06:41] nursoltan-s commented on #4575
1. where community Id should come from?  "challenge.metadata" or "challenge.events" ?
2. How can i fetch all communityId's from API?

@rootelement @sushilshinde

[2020-06-23 06:42] nursoltan-s commented on #4575
And can you please create some challenges as "Blockchain community" for testing purpose? Thanks

[2020-06-23 06:52] nursoltan-s commented on #4573
@SathyaJayabal
Error says "userChallenges is not a function". Isn't that temporary deployment issue? I'm loading challenge listing many times and not getting this issue.

[2020-06-23 06:53] nursoltan-s commented on #4573
Please confirm if you're still getting this error.

[2020-06-23 07:01] PrakashDurlabhji commented on #4548
@SathyaJayabal was it ever working perfectly?

1. I remember when agreement used to be seen by me and I register than nothing happens.
2. then i refresh the challenge page and i am found to be registered. so is this expected flow?
3. also can you please give some test challenges where i may not have agreed yet.

[2020-06-23 07:06] SathyaJayabal opened #4583 "[$50]Marathon Match: Once a member has submitted "My Submissions" and "Submissions" tab must be displayed"
Challenge details page for a marathon match:
Once a member has submitted "My Submissions" tab and "Submissions" tab must be displayed
example:
https://beta-community-app.topcoder.com/challenges/3724cf55-e2ab-427e-a30f-863c750a277c

User picachui has submitted to the challenge
<img width="1440" alt="Screenshot 2020-06-23 at 12 32 07 PM" src="https://user-images.githubusercontent.com/58783823/853712

[2020-06-23 07:17] SathyaJayabal opened #4584 "[$40]Unregister button must be disabled once the member submits to the challenge"
Unregister button must be disabled once the member submits to the challenge.
example:
https://test-community-app.topcoder-dev.com/challenges/68a1cb52-a313-4130-8900-87a21959fdae
user: dan_developer/dantopcoder123
<img width="1440" alt="Screenshot 2020-06-23 at 12 46 00 PM" src="https://user-images.githubusercontent.com/58783823/85372577-ae53e900-b54f-11ea-980d-fae08e0d4da8.png">

[2020-06-23 07:26] SathyaJayabal commented on #4575
@nursoltan-s
Please check this link for blockchain challenges. You can also refer to how the sub community filter is used here. This is part fix for #4393
https://test-community-app.topcoder-dev.com/__community__/blockchain/challenges?communityId=blockchain
jcori/appiro123
<img width="1440" alt="Screenshot 2020-06-23 at 12 52 34 PM" src="https://user-images.githubusercontent.com/58783823/85373230-

[2020-06-23 07:29] SathyaJayabal commented on #4573
@nursoltan-s , I am still getting this error on beta and test envs. I see this issue mostly when I access the listings page after a break.

[2020-06-23 07:42] sushilshinde opened #4585 "[$50]Payment task for #4161"
https://github.com/topcoder-platform/community-app/issues/4161

[2020-06-23 07:45] crazyk07 commented on #4585
Contest https://www.topcoder.com/challenges/30130829 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 07:47] crazyk07 commented on #4585
Contest https://www.topcoder.com/challenges/30130829 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 07:50] #4585 closed

[2020-06-23 07:50] crazyk07 commented on #4582
Contest https://www.topcoder.com/challenges/30130831 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 07:51] crazyk07 commented on #4582
Contest https://www.topcoder.com/challenges/30130831 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 07:53] crazyk07 commented on #4585
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130829<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 08:09] PrakashDurlabhji commented on #4548
@sushilshinde I guess terms api not yet on V5 because this is not working

https://api.topcoder.com/v5/terms/detail/21303

Need clarification label was removed by me mistakenly.

[2020-06-23 08:13] SathyaJayabal commented on #4552
@simranb86 , for BH and F2F , the rating column is displayed in V5. It was hidden in V4. But no changes needed as we have decided to keep the rating columns for F2F and BH.(https://github.com/topcoder-platform/community-app/issues/4552#issuecomment-645608619)

[2020-06-23 08:20] SathyaJayabal commented on #4552
@simranb86 , the typeId in the response refers to the type of review. For example typeId "68c5a381-c8ab-48af-92a7-7a869a4ee6c3" may refer to virus scan review, etc.
We will have to map the initial and final scores to the corresponding  typeIds. @sushilshinde , please help with mapping.

[2020-06-23 08:41] SathyaJayabal opened #4586 "Submissions : Submissions made from V5 FE not reflected in the submissions table"
example:
https://test-community-app.topcoder-dev.com/challenges/68a1cb52-a313-4130-8900-87a21959fdae
user:tester1234/appirio123
Expected:
1. Submission displayed on  the submissions table
2. Submission date reflected on the  registrants tab
3. Submission confirmation email received

Actual
1. Submission is NOT displayed on  the submissions table
2. Submission date is NOT reflected on the  registra

[2020-06-23 08:58] kkartunov commented on #4467
@SathyaJayabal thanks. This issue is now fixed.

Please, keep this ticket open until 1 July, the actual TCO21 release.

[2020-06-23 09:49] SathyaJayabal commented on #4546
@nursoltan-s , lets track the timezone issue seperately.

[2020-06-23 09:50] nursoltan-s commented on #4546
Okay. I created PR for above comments.

[2020-06-23 09:50] nursoltan-s commented on #4546
Pr

[2020-06-23 09:52] SathyaJayabal commented on #4393
verified on test
<img width="1440" alt="Screenshot 2020-06-23 at 3 22 04 PM" src="https://user-images.githubusercontent.com/58783823/85389641-558f4b00-b565-11ea-86c4-18a4cd29d87c.png">
<img width="1440" alt="Screenshot 2020-06-23 at 3 22 09 PM" src="https://user-images.githubusercontent.com/58783823/85389667-5cb65900-b565-11ea-8e00-e4eef7e99c0c.png">

[2020-06-23 09:57] SathyaJayabal opened #4587 "[$40]User details not displayed on header"
User details not displayed on header
https://beta-community-app.topcoder.com/challenges?
<img width="1440" alt="Screenshot 2020-06-23 at 3 24 37 PM" src="https://user-images.githubusercontent.com/58783823/85389992-cdf60c00-b565-11ea-9866-4c11f9d73b85.png">

Looks good on test env,
<img width="1440" alt="Screenshot 2020-06-23 at 3 26 10 PM" src="https://user-images.githubusercontent.com/58783823/85

[2020-06-23 10:31] SathyaJayabal commented on #4557
@nursoltan-s , many of the sub track filters are not working.
example the Marathon match is not mapped. Code is mapped to "Challenge"

[2020-06-23 10:42] SathyaJayabal commented on #4557
@nursoltan-s , Clicking on submit form the dashboard loads a blank page. This was working before your latest fix.
<img width="1440" alt="Screenshot 2020-06-23 at 4 11 58 PM" src="https://user-images.githubusercontent.com/58783823/85394543-58da0500-b56c-11ea-8cd9-74f8f5ad6085.png">

[2020-06-23 10:53] PrakashDurlabhji commented on #4548
@SathyaJayabal @sushilshinde can anyone please raise a ticket v5 terms api migration on respective repo? Apology for removing need clarification label earlier

[2020-06-23 11:23] SathyaJayabal commented on #4548
@PrakashDurlabhji , please see below documentation for v5 terms.  https://github.com/topcoder-platform/terms-service/blob/dev/docs/swagger.yaml

[2020-06-23 12:16] sushilshinde commented on #4573
@nursoltan-s @SathyaJayabal please reduce the priority

and please do not work on this

[2020-06-23 12:21] #4393 closed

[2020-06-23 12:22] #4559 closed

[2020-06-23 12:22] sushilshinde commented on #4548
@luizrrodrigues can you also guide @PrakashDurlabhji in implementation as your issues also related.

[2020-06-23 12:23] crazyk07 commented on #4393
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30127673<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 12:23] crazyk07 commented on #4559
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130307<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 12:27] SathyaJayabal commented on #4586
The submissions submitted from the V5 integration branch can be seen in the DB
<img width="1516" alt="Screenshot 2020-06-23 at 2 29 39 PM" src="https://user-images.githubusercontent.com/58783823/85403423-f50b0880-b57a-11ea-9249-ecad452e5376.png">
This could be because the submissions api is being called with the legacy challenge id.

[2020-06-23 12:28] sushilshinde commented on #4586
@callmekatootie can you check on email part?

[2020-06-23 12:31] crazyk07 commented on #4586
Contest https://www.topcoder.com/challenges/30130879 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 12:32] crazyk07 commented on #4583
Contest https://www.topcoder.com/challenges/30130887 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 12:33] luizrrodrigues commented on #4548
@PrakashDurlabhji Instead `https://api.topcoder.com/v5/terms/detail/21303` you need to use `https://api.topcoder-dev.com/v5/terms/b11da5cd-713f-478d-90f4-f679ef53ee95` to get details.

@sushilshinde I think this one is a duplication of #4562

Both issues need to update the terms to use V5 API.

[2020-06-23 12:34] crazyk07 commented on #4583
Contest https://www.topcoder.com/challenges/30130887 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 12:43] PrakashDurlabhji commented on #4548
@sushilshinde thanks.

Also I am actively trying to make a call from postman.
and yes @luizrrodrigues I just debugged and found mapping that 'terms/detail/21303' is now /terms/uuid'.

@SathyaJayabal @luizrrodrigues I do not find in swagger https://github.com/topcoder-platform/terms-service/blob/dev/docs/swagger.yaml
the api to get all terms of challenge by challengeId.

1. In prod rite now there i

[2020-06-23 12:52] SathyaJayabal commented on #4552
@simranb86 , noticed incorrect submission count for this one challenge
https://beta-community-app.topcoder.com/challenges/ad26ade8-aa6f-4623-bb65-ac510c70bef3?tab=submissions
<img width="1440" alt="Screenshot 2020-06-23 at 6 20 58 PM" src="https://user-images.githubusercontent.com/58783823/85405701-6f895780-b57e-11ea-9bbe-f7e9690831b0.png">

[2020-06-23 12:56] SathyaJayabal commented on #4546
verified on beta
<img width="1440" alt="Screenshot 2020-06-23 at 6 24 57 PM" src="https://user-images.githubusercontent.com/58783823/85406119-f4747100-b57e-11ea-880d-477be1b41bc3.png">
<img width="1440" alt="Screenshot 2020-06-23 at 6 25 14 PM" src="https://user-images.githubusercontent.com/58783823/85406137-fc341580-b57e-11ea-902b-86a83ab4d60f.png">

[2020-06-23 12:56] #4546 closed

[2020-06-23 12:57] crazyk07 commented on #4546
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130319<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 12:58] crazyk07 commented on #4586
Contest https://www.topcoder.com/challenges/30130879 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-23 13:02] PrakashDurlabhji commented on #4548
@SathyaJayabal @sushilshinde @luizrrodrigues

Though I feel its not correct usage of api, I am bit confused.

1. I just tried in POSTMAN https://api.topcoder.com/v5/terms?legacyId=30130750
and passed tokenV3 in authorization .
2. It says "You are not allowed to perform this action".

 I feel everything is smooth for terms details but not for getting all terms of a challenge.

[2020-06-23 13:47] rashmi73 commented on #4586
@sushilshinde @callmekatootie I feel for email configuration need to be changed at AWS side? or a an event listener is written which would be triggered when upload is made to S3? I just checked submission-api repo and create submission function.

@lakshmiathreya on challenge my submission tab should be visible with submissions made so far?

@sushilshinde shall I cover  submission not reflected in

[2020-06-23 13:53] PrakashDurlabhji commented on #4548
@SathyaJayabal waiting for endpoint

just for note down: http://localhost:3000/challenges/847bc43a-53c1-4cdd-a2ac-d3a7eb5ee25c

[2020-06-23 14:28] rootelement commented on #4516
@SathyaJayabal @PrakashDurlabhji @sushilshinde I've reviewed this with @ThomasKranitsas and I think we need to leave this as is for now. We don't have anything in Submissions API to do it, and it's not something that should be added to the challenge response. Please log this on the community app repo as a TechDebt item, and we'll get it in the pipeline for the submissions api or somewhere where it

[2020-06-23 14:37] PrakashDurlabhji commented on #4516
@sushilshinde @rootelement I hope something would be paid for my extensive efforts and explanation.

[2020-06-23 14:43] rootelement commented on #4548
You need to use the array of terms on the challenge response, then call the terms api for details. Right now there's no multi-id filter, so you'll have to hit it for each. The order of operations here should be:
1. Filter the challenge's terms on roleId for submitter
2. Loop through those terms IDs calling the terms api

This is similar to how it's done in the resources api:

https://github.com/to

[2020-06-23 15:26] luizrrodrigues commented on #4548
@PrakashDurlabhji Please check about duplication with @sushilshinde
I'm already implementing this in issue #4562

[2020-06-23 15:47] callmekatootie commented on #4586
I am not sure either. Sending emails is not currently a feature on the submission api... Waiting for an update on Slack here.

[2020-06-23 17:13] adroc-tc commented on #4544
@ajefts @mtwomey
Do we have a plan of attack on this one? Anything I can help with?
- Understanding how to fix the issue (research on what google recommends for handling canonical URL)
- How to fix it on our site (when can we update?) and tracking
- Do we need to find a google expert in the community (or check with them directly via Jessie/members)
- An estimated date we want to corral this by?

C

[2020-06-23 19:46] ajefts commented on #4544
@adroc-tc @harshitmehta15 So far we added a sitemap and informed google about it.  There had previously been one, but at some point seems to have been replaced by the marketing sitemaps. Wating to see if that has any impact as it re-indexes. Are you able to help us identify other possible issues with the indexing?

[2020-06-23 22:33] luizrrodrigues commented on #4562
@sushilshinde PR's is ready:
https://github.com/topcoder-platform/topcoder-react-lib/pull/203
https://github.com/topcoder-platform/community-app/pull/4588

-----

- Updated terms to use V5 API

-----

@SathyaJayabal Before we go with QA we'll need API fix, check bellow:

@rootelement When try to agree the term API return error `Unauthorized`, but the term was agreed, check:
![}|](https://user-imag

[2020-06-23 22:52] rootelement commented on #4562
@ThomasKranitsas please check this at the start of your day

[2020-06-24 01:50] Oanh-and-only-Oanh commented on #4582
@SathyaJayabal, is it only showing a blank page when you click on "view my submissions" from that page after you submit?
![image](https://user-images.githubusercontent.com/47536078/85487881-3fdc4e80-b582-11ea-8ff4-7c7df35ae1e8.png)

Does it work if you click on "View Submissions" from the challenge details page?
![image](https://user-images.githubusercontent.com/47536078/85487972-626e6780-b582-11e

[2020-06-24 02:50] sushilshinde commented on #4572
@simranb86 @SathyaJayabal it's P2 we can cover that in new listing spec impl

[2020-06-24 02:51] sushilshinde commented on #4587
Need nav update sync with develop branch

[2020-06-24 03:26] sushilshinde commented on #4562
@SathyaJayabal please wait for API for fix

[2020-06-24 03:35] sushilshinde commented on #4586
@Oanh-and-only-Oanh

[2020-06-24 04:28] nursoltan-s commented on #4557
[PR](https://github.com/topcoder-platform/community-app/pull/4589)

Error cause:
In `My challenges` page, `challenge.details` state was `null`. We need to add `getChallengeDetails` action for grab this state.

Fixed in above PR.
@sushilshinde

[2020-06-24 04:29] sushilshinde commented on #4557
Thanks @nursoltan-s

[2020-06-24 05:11] Oanh-and-only-Oanh commented on #4586
I'm not sure what sends out the email confirmation but it is a current feature we have.

[2020-06-24 05:23] SathyaJayabal commented on #4406
The  past contests now return the latest contests first.
Will retest again after sync and migration scripts are fixed.
https://github.com/topcoder-platform/challenge-api/issues/192
https://github.com/topcoder-platform/challenge-api/issues/186

[2020-06-24 05:42] SathyaJayabal opened #4590 "[$40]Design contests: Once a member has submitted "View Submissions" button must be displayed"
Design contests: Once a member has submitted "View Submissions" button must be displayed on the challenge details page.
https://test-community-app.topcoder-dev.com/challenges/8cabd850-7d44-4036-a5a1-90d38b7f7733
user: TonyJ/appirio123

<img width="1440" alt="Screenshot 2020-06-24 at 11 11 15 AM" src="https://user-images.githubusercontent.com/58783823/85505238-8033df00-b60b-11ea-9e00-027e6843eaaa.p

[2020-06-24 05:43] SathyaJayabal commented on #4582
@Oanh-and-only-Oanh , "View Submissions" button is not displayed in V5.
https://github.com/topcoder-platform/community-app/issues/4590

[2020-06-24 05:45] SathyaJayabal commented on #4516
@sushilshinde @PrakashDurlabhji , marking this as pass as per this comment
https://github.com/topcoder-platform/community-app/issues/4516#issuecomment-648194267

[2020-06-24 05:50] SathyaJayabal opened #4591 "Challenge details - checkpoints tab upgrade from V2 api"
The challenge details, checkpoints tab uses this api to get checkpoint feedback
https://api.topcoder.com/v2/design/challenges/checkpoint/30127234
This functionality must be moved to the v5 submissions api.

[2020-06-24 05:50] SathyaJayabal commented on #4516
https://github.com/topcoder-platform/community-app/issues/4591

[2020-06-24 07:55] SathyaJayabal commented on #4586
@sushilshinde @Oanh-and-only-Oanh  , lets track the email in new issue

[2020-06-24 07:56] SathyaJayabal opened #4592 "Email not sent on submission"
example:
https://test-community-app.topcoder-dev.com/challenges/68a1cb52-a313-4130-8900-87a21959fdae
user:tester1234/appirio123

Expected:
Submission confirmation email received

Actual
Submission confirmation email NOT received

[2020-06-24 08:03] SathyaJayabal commented on #4586
@sushilshinde @callmekatootie , the submissions dynamo table has the legacy challenge id for older submissions and the new UUID for the newer submissions. Below are two example of submissions made using v4 and v5.
<img width="1579" alt="Screenshot 2020-06-24 at 1 15 29 PM" src="https://user-images.githubusercontent.com/58783823/85519292-e37b3c80-b61e-11ea-8658-15120754fc3e.png">
<img width="1562"

[2020-06-24 08:26] SathyaJayabal commented on #4557
@nursoltan-s , this issue is still present
https://github.com/topcoder-platform/community-app/issues/4557#issuecomment-648056357
Please try filtering by Marathon match tag and Code tag here. The F2F and Test Suites work fine.
https://test-community-app.topcoder-dev.com/my-dashboard
jcori/appirio123

[2020-06-24 11:16] sushilshinde opened #4594 "A: Apply new challenge fetch policy to listinig page"
I. Implement for non-auth users
II. The change applies to these challenge buckets

1. All Challenges
2. Open for registration
3. Ongoing challenges

III.  It should work with all the filters
IV. Count panel should show correct counts
V. Sorting and searching should be remote

[2020-06-24 11:21] sushilshinde opened #4595 "B: Apply new challenge fetch policy to listinig page"
I. Implement for auth users
II. The change applies to these challenge buckets

1. All Challenges
2. My Challenges

III.  It should work with all the filters
IV. Count panel should show correct counts
V. Sorting and searching should be remote

[2020-06-24 11:24] sushilshinde opened #4596 "C: Apply new challenge fetch policy to listinig page"
I. Implement for auth and non-auth users
II. The change applies to these challenge buckets

1. Open for review
2. Open for registration
3. Ongoing challenges

III.  It should work with all the filters
IV. Count panel should show correct counts
V. Sorting and searching should be remote

[2020-06-24 11:27] sushilshinde opened #4597 "D: Apply new challenge fetch policy to listinig page"
I. Implement for auth and non-auth users
II. The change applies to these challenge buckets

1. Open for review
2. Past challenges

III.  It should work with all the filters
IV. Count panel should show correct counts
V. Sorting and searching should be remote

[2020-06-24 11:37] sushilshinde commented on #4586
@luizrrodrigues does sub api returns for UUIDs?

[2020-06-24 11:42] crazyk07 commented on #4590
Contest https://www.topcoder.com/challenges/30130984 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-24 11:42] crazyk07 commented on #4590
Contest https://www.topcoder.com/challenges/30130984 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-24 11:46] #4548 closed

[2020-06-24 11:46] crazyk07 commented on #4548
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130201<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-24 12:59] SathyaJayabal commented on #4587
@sushilshinde , this also has the effect on the accounts settings page
https://beta-community-app.topcoder.com/settings/account
<img width="1440" alt="Screenshot 2020-06-24 at 6 27 58 PM" src="https://user-images.githubusercontent.com/58783823/85560751-957b2e80-b648-11ea-959e-89d9ddcc86fd.png">

[2020-06-24 13:25] rootelement commented on #4562
The problem that @ThomasKranitsas fixed is that the terms api wasn't failing correctly, it was proceeding to the next middleware. See here:
https://github.com/topcoder-platform/terms-service/pull/27/files

So while this will now throw an error when this call is made, we're not sure why that call should be failing. Can you give us steps to reproduce? You're calling with a JWT of what user? Is this

[2020-06-24 17:12] rootelement commented on #4562
FYI - we're almost done debugging this. We found the root of the issue and have tested most of it. Will update shortly.

[2020-06-24 17:31] luizrrodrigues commented on #4562
@rootelement cool, thanks.

Let me know if need more details.

[2020-06-24 17:52] rootelement commented on #4562
@luizrrodrigues Please try now. All our tests pass in dev. I will be pushing to Prod momentarily.

[2020-06-24 18:57] luizrrodrigues commented on #4562
@rootelement Working well now. Thanks.

@sushilshinde @SathyaJayabal I'll need to do an additional fix in FE.

[2020-06-24 19:14] hokienick opened #4598 "Update "Gig Work" link in Navi"
Please change the "Gig Work" link in the navi to point to https://www.topcoder.com/community/gigs instead of https://www.topcoder.com/community/taas

[2020-06-25 03:05] rootelement commented on #4569
Please review. The example here lines up now:
http://api.topcoder.com/v4/challenges/30128012
http://api.topcoder.com/v5/challenges?legacyId=30128012

[2020-06-25 03:10] nursoltan-s commented on #4557
Hi. Sorry for late response. Fixed above errors. Please check again.

[PR](https://github.com/topcoder-platform/community-app/pull/4599)

[2020-06-25 03:11] nursoltan-s commented on #4557
@sushilshinde  @SathyaJayabal

[2020-06-25 03:45] simranb86 commented on #4552
@SathyaJayabal @sushilshinde can you help with mapping api if there is one ? Since others are done, I will close this once I hear back on mapping.

[2020-06-25 04:50] SathyaJayabal commented on #4552
@lakshmiathreya , can you help getting the mapping details for @simranb86 . What reviewTypeIds will map to the initial and final scores that is displayed on the submissions table on the challenge details page.

[2020-06-25 04:53] SathyaJayabal commented on #4557
@nursoltan-s , please make sure all the subracks are mapped correctly.
<img width="1440" alt="Screenshot 2020-06-25 at 10 21 44 AM" src="https://user-images.githubusercontent.com/58783823/85655916-c5b8e080-b6cd-11ea-97d8-1909d4e30ec7.png">

[2020-06-25 05:54] SathyaJayabal opened #4600 "TCO tag missing on challenge listings page for TCO eligible challenges"
TCO tag missing on challenge listings page for TCO eligible challenges
https://www.topcoder.com/challenges?bucket=openForRegistration&filter[tracks][design]=true
https://beta-community-app.topcoder.com/challenges?bucket=openForRegistration&filter[tracks][design]=true
<img width="1440" alt="Screenshot 2020-06-25 at 11 22 55 AM" src="https://user-images.githubusercontent.com/58783823/85663152-631812

[2020-06-25 06:03] SathyaJayabal opened #4601 "Do not display purse when prize money is 0"
Challenge listings: when prize money is 0, do not display purse.
https://www.topcoder.com/challenges?bucket=openForRegistration&filter[tracks][data_science]=true
https://beta-community-app.topcoder.com/challenges?bucket=openForRegistration&filter[tracks][data_science]=true

<img width="1440" alt="Screenshot 2020-06-25 at 11 32 15 AM" src="https://user-images.githubusercontent.com/58783823/85664215

[2020-06-25 06:04] luizrrodrigues commented on #4586
@sushilshinde Nope, currently getting an error if try pass UUID, I have reported this here:
https://github.com/topcoder-platform/submissions-api/issues/179

[2020-06-25 06:20] nursoltan-s commented on #4557
I've checked subtracks of filter. There are 38 items.
![Screenshot from 2020-06-25 14-19-39](https://user-images.githubusercontent.com/7783676/85666425-0412c780-b6ef-11ea-81ca-ed34736ced86.png)

[2020-06-25 06:24] SathyaJayabal commented on #4557
@nursoltan-s thanks 🙏

[2020-06-25 07:13] nursoltan-s commented on #4575
@sushilshinde @SathyaJayabal @rootelement

Hi. I've question for this one.
We're filtering by sub-communities using `groupIds` field.
But some `groupIds` array is empty from returning `CommunityFilters`. For example: in TCO20 community, groupIds is empty. How can we handle if groupId is empty?

![Screenshot from 2020-06-25 15-09-38](https://user-images.githubusercontent.com/7783676/85673215-412e88

[2020-06-25 07:48] SathyaJayabal opened #4602 "My Challenges Bucket: Must include challenges the user is a resource of (eg copilot, reviewer etc)"
My Challenges Bucket: Must include challenges the user is a resource of (eg copilot, reviewer etc)

Example:
user picachui is a reviewer for challenge
http://www.topcoder.com/challenge-details/30131098
https://beta-community-app.topcoder.com/challenges/d9b51702-711f-4ee4-93ab-5af4271e83f3
user picachui is copilot for challenge
http://www.topcoder.com/challenge-details/30130833
https://beta-communi

[2020-06-25 08:50] luizrrodrigues commented on #4562
@sushilshinde Hotfix is ready:
https://github.com/topcoder-platform/topcoder-react-lib/pull/204
https://github.com/topcoder-platform/community-app/pull/4603

[2020-06-25 14:19] #4516 closed

[2020-06-25 14:20] crazyk07 commented on #4516
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30129402<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-25 19:06] Oanh-and-only-Oanh opened #4604 "Navi issue from Gig page"
Check out my screen recording in trying to go from one gig job to another.

[2020-06-25 19:28] #4604 closed

[2020-06-25 20:51] luizrrodrigues commented on #4582
@sushilshinde PR's are ready:
https://github.com/topcoder-platform/topcoder-react-lib/pull/205
https://github.com/topcoder-platform/community-app/pull/4605

-----

- Fix prop type of `challengeId` from **Number** to **String**
- Updated submission calls to use v3 token instead v2
- Added checkErrorV5 to submission services
- Update submission to use UUID instead legacyId (this pending API fix)

--

[2020-06-26 02:51] kavinkuma6 opened #4606 "RSS Feed is not working"
Here is the url:
http://feeds.topcoder.com/challenges/feed?list=active&contestType=all

It was working 2 days back.

[2020-06-26 03:55] SathyaJayabal commented on #4562
@luizrrodrigues @sushilshinde
1.
https://beta-community-app.topcoder.com/challenges/0084eae1-4eb9-4def-bf53-e39f13b6d12b
The "Standard terms for Topcoder Competitions V2.2" was displayed even though the user  had already agreed to it previously in V4 (user picachui). When clicking on agree, the terms pop-up did not close as expected and the agree button  was enabled  again. Clicking  on agree agai

[2020-06-26 03:57] SathyaJayabal commented on #4549
verified on beta
<img width="1440" alt="Screenshot 2020-06-26 at 9 27 11 AM" src="https://user-images.githubusercontent.com/58783823/85818793-3f64d300-b78f-11ea-8856-60b6f5a721d1.png">

[2020-06-26 03:58] #4549 closed

[2020-06-26 03:58] crazyk07 commented on #4549
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130196<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-26 05:17] SathyaJayabal commented on #4562
@sushilshinde , @luizrrodrigues lets track the above issues in separate tickets

[2020-06-26 05:20] SathyaJayabal opened #4607 "[$50]Registration: TC Competitions V2.2 Issue"
https://beta-community-app.topcoder.com/challenges/0084eae1-4eb9-4def-bf53-e39f13b6d12b
The "Standard terms for Topcoder Competitions V2.2" was displayed even though the user had already agreed to it previously in V4 (user picachui). When clicking on agree, the terms pop-up did not close as expected and the agree button was enabled again. Clicking on agree again, gives an api error that the user h

[2020-06-26 05:22] SathyaJayabal opened #4608 "Registrants table or # of registrants not updated for some contests"
On accessing the above challenge again and clicking on register, the user was able to register and the register button changed to unregister. But the registration tab is not displayed nor is the number of registrants updated on the listings page. This issue is happening only for few contests. Example:
https://beta-community-app.topcoder.com/challenges/d06475ea-8b93-4998-820c-d55a96d16972
https://b

[2020-06-26 05:23] SathyaJayabal opened #4609 "[$200]Registration issue for Challenges requiring NDA"
For a challenge requiring NDA (https://beta-community-app.topcoder.com/challenges/e77d97be-a576-4d62-966b-3a46b2d3f530) the NDA popup is displayed even though user (picachui) has already agreed to it previously (in V4)
The terms are not displayed completely and there is no agree button to continue.
<img width="1440" alt="Screenshot 2020-06-26 at 9 09 25 AM" src="https://user-images.githubuserconte

[2020-06-26 05:24] SathyaJayabal commented on #4562
https://github.com/topcoder-platform/community-app/issues/4609
https://github.com/topcoder-platform/community-app/issues/4608
https://github.com/topcoder-platform/community-app/issues/4607

[2020-06-26 05:41] SathyaJayabal opened #4610 "[$50]Challenge Listings loading a blank page for some users"
https://test-community-app.topcoder-dev.com/challenges
user:TCConnCopilot

<img width="1440" alt="Screenshot 2020-06-26 at 10 57 31 AM" src="https://user-images.githubusercontent.com/58783823/85823795-ddf73100-b79b-11ea-88e2-49edfa72e429.png">

[2020-06-26 06:00] SathyaJayabal commented on #4610
Happns in beta too
user:lakshmiaConMgr
<img width="1415" alt="Screenshot 2020-06-26 at 11 20 12 AM" src="https://user-images.githubusercontent.com/58783823/85825562-2fa1ba80-b7a0-11ea-8466-0a0d257ef165.png">
<img width="1407" alt="Screenshot 2020-06-26 at 11 21 32 AM" src="https://user-images.githubusercontent.com/58783823/85825590-3defd680-b7a0-11ea-9f48-19c3ab80b091.png">

[2020-06-26 09:55] sushilshinde commented on #4607
@rootelement terms API v2 data not migrated to terms API v5 backend

[2020-06-26 11:05] SathyaJayabal commented on #4608
This seems like a  data sync issue. When I register/unregister to a challenge whose registrants have  not yet been migrated , the V4 registrations are synced and  I can see the table of registrants. And registrations work as expected.The  registrants count is also updated on the listings page. This should be fixed when the registrations are synced with V4.
https://github.com/topcoder-platform/chal

[2020-06-26 12:12] rootelement commented on #4607
@sushilshinde Terms data is not migrated regularly. There's no forward sync on it. Migration of terms happened back in April. When it's hooked up to v5, you'll have to agree to them again.

[2020-06-26 12:27] harshitmehta15 commented on #4289
Hey @hokienick Can you make sure this is part of the - new stuff that needs to be done as soon as v5 is done!

[2020-06-26 14:24] Oanh-and-only-Oanh opened #4611 "Topgear changes"
We need below changes to home page of topgear.topcoder.com

1. The order of the content needs to be modified in the home page of topgear.topcoder.com. In the attached screenshot, I marked the content with the numbers. Please refer the attachment.

2. One link to be added to “Leverage the crowd" section.

a. Link label is ‘Reusable Components’

b. URL is https://wipro365.sharepoint.com/sites/ipgate

[2020-06-26 14:26] Oanh-and-only-Oanh commented on #4611
![image](https://user-images.githubusercontent.com/47536078/85867838-551dcc80-b77e-11ea-8ddf-9a09a411f3cd.png)

[2020-06-26 14:31] crazyk07 commented on #4607
Contest https://www.topcoder.com/challenges/30131348 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-26 14:32] crazyk07 commented on #4607
Contest https://www.topcoder.com/challenges/30131348 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-26 14:33] #4562 closed

[2020-06-26 14:34] crazyk07 commented on #4562
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130310<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-26 14:37] crazyk07 commented on #4609
Contest https://www.topcoder.com/challenges/30131350 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-26 14:38] crazyk07 commented on #4609
Contest https://www.topcoder.com/challenges/30131350 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-06-26 15:27] SathyaJayabal commented on #4557
@nursoltan-s , the submit button must not be displayed for challenges in other phases
user: TonyJ

<img width="1440" alt="Screenshot 2020-06-26 at 8 35 21 PM" src="https://user-images.githubusercontent.com/58783823/85873963-85ea1a00-b7ef-11ea-9d25-215169650558.png">

Also when  we  access the dashboard, all the challenges are  displayed at first. Only on refreshing  the page can we see only the ac

[2020-06-27 06:17] simranb86 commented on #4597
@sushilshinde FYI `Open for Review` we use V3 API, as it is not supported on V5, please check once and confirm on this?

[2020-06-27 19:41] simranb86 commented on #4566
@SathyaJayabal sorry for the delay on this, will wind up this now in next few hrs.

[2020-06-29 05:31] SathyaJayabal opened #4612 "Review Opportunities bucket: API call upgrade from V3"
Upgrade the V3 api call  to get the review opportunities
https://api.topcoder.com/v3/reviewOpportunities?limit=1000&offset=0

[2020-06-29 13:22] narekcat commented on #4492
Hello @SathyaJayabal . Sorry for the late reply, I was very busy last week. I have tested this issue again and now I get the same error in my local machine. I have observed the code and find out that the problem is this challenge api. It doesn't checks if the challenge belongs to parent group. For that I need to make changes in https://github.com/topcoder-platform/challenge-api repository. Can you

[2020-06-29 13:31] SathyaJayabal commented on #4492
@narekcat , I have created the ticket in the challenge api.
https://github.com/topcoder-platform/challenge-api/issues/197
This update will be made by the api team. Please update your comments in the issue adding any details on how it is an api issue.

[2020-06-29 13:40] narekcat commented on #4492
@SathyaJayabal Thanks. Need I write comment in newly created issue, for clarification?

[2020-06-29 15:27] SathyaJayabal commented on #4492
Yes, if you have more details to add.

[2020-06-29 15:28] narekcat commented on #4492
@SathyaJayabal No, I haven't.

[2020-06-30 01:42] sushilshinde commented on #4610
@SathyaJayabal please share password for dev account

[2020-06-30 02:32] luizrrodrigues commented on #4582
**Additional Fixes:** (PR's updated)
- Updated submissions field names to match with V5 API
- Update **deleteSubmissionDone** to use V5 API
- Updated propType

-----

Currently, API returns not consistent, posted details here: https://github.com/topcoder-platform/submissions-api/issues/179#issuecomment-651465738

[2020-06-30 07:48] sushilshinde opened #4614 "Add support for custom link on navi menu logo"
https://github.com/topcoder-platform/navigation-component/issues/177

[2020-06-30 08:41] SathyaJayabal commented on #4614
http://tco21.topcoder.com/
Clicking on Logo for logged in user takes user to 404
http://tco21.topcoder.com/my-dashboard
[logo.mov.zip](https://github.com/topcoder-platform/community-app/files/4850490/logo.mov.zip)

Clicking on logo for not logged in user takes user to topcoder home page
[logo_not loggen in.mov.zip](https://github.com/topcoder-platform/community-app/files/4850497/logo_not.loggen.in

[2020-06-30 08:44] kkartunov commented on #4614
@shttp://beta-community-app.topcoder.com/__community__/tco21

[2020-06-30 09:00] SathyaJayabal commented on #4297
verified on beta
<img width="1440" alt="Screenshot 2020-06-30 at 2 23 05 PM" src="https://user-images.githubusercontent.com/58783823/86106441-2edd9100-bade-11ea-9d54-4f1a207c1478.png">

[2020-06-30 09:00] SathyaJayabal commented on #4614
verified on beta
[logo.mov 2.zip](https://github.com/topcoder-platform/community-app/files/4850640/logo.mov.2.zip)

[2020-06-30 10:14] luizrrodrigues commented on #4609
@rootelement V5 Terms missing **docusignTemplateId** to **DocuSignable** term type:

![image](https://user-images.githubusercontent.com/7029641/86114528-08e5cb80-baa1-11ea-8932-2031237f9d92.png)

swagger file:
https://github.com/topcoder-platform/terms-service/blob/624ca31a830ab448af91c96776ba5ccd91336df1/docs/swagger.yaml#L204-L205

V2 return:
![image](https://user-images.githubusercontent.com/70

[2020-06-30 11:51] SathyaJayabal opened #4616 "The settings and my profile links from the user menu dropdown are not working in TCO21 prod site"
The settings and my profile links from the user menu dropdown are not working in TCO21 prod site
<img width="1440" alt="Screenshot 2020-06-30 at 5 08 53 PM" src="https://user-images.githubusercontent.com/58783823/86122785-03ff3700-baf6-11ea-9afb-0beffe279c88.png">

cc @sushilshinde

[2020-06-30 12:23] SathyaJayabal commented on #4616
The profile link works now

[2020-06-30 14:06] rootelement commented on #4608
This should be fixed as of Sunday Night with the updated sync. If you're seeing issues here, please link Challenge UUIDs and/or LegacyIDs. The issue was the sync was not updating the numberOfRegistrants and numberOfSubmissions counts when data was brought forward, but if you register for a challenge, that would trigger the ES processor which _does_ update those counts. So you wouldn't see it at fi

[2020-06-30 14:35] rootelement commented on #4609
@luizrrodrigues i _think_ this was due to the docusignable template id being wrong in the config. Deploying now and testing.

[2020-06-30 14:42] rootelement commented on #4609
Looks like it works in dev:
![Screen Shot 2020-06-30 at 10 41 45 AM](https://user-images.githubusercontent.com/5400156/86139951-53297580-babe-11ea-9b7d-2e7f42124076.png)

[2020-06-30 22:49] luizrrodrigues commented on #4609
@rootelement This returning well now,  but now jump in a new issue:

1) When try to request `/v5/terms/docusignViewURL` receiving this error:
`Login to DocuSign server failed.`

![image](https://user-images.githubusercontent.com/7029641/86184250-2a2ed200-bb0a-11ea-8a60-54eb0840a1f0.png)

-----

2) Looks like not need pass **returnUrl** anymore, but instead need pass **tabs**, can you help with thi

[2020-07-01 03:08] simranb86 commented on #4552
@sushilshinde it has been like more than a week now, should we take off scoring part and address it as separate issue ? I have the other 2 in place in PR shared already.

[2020-07-01 03:09] simranb86 commented on #4552
1 & 2 are already completed here - topcoder-platform/topcoder-react-lib#202

[2020-07-01 03:47] sushilshinde commented on #4582
@luizrrodrigues so we have to wait?

[2020-07-01 04:03] SathyaJayabal commented on #4616
verified on dev
[settings.mov.zip](https://github.com/topcoder-platform/community-app/files/4855566/settings.mov.zip)

[2020-07-01 04:11] SathyaJayabal commented on #4552
@simranb86 , lets see if Mithun can help
https://github.com/topcoder-platform/submissions-api/issues/186

[2020-07-01 04:14] luizrrodrigues commented on #4582
@sushilshinde Yes, added details here: https://github.com/topcoder-platform/submissions-api/issues/179#issuecomment-651465738

[2020-07-01 06:10] SathyaJayabal opened #4619 "[$50]Review Opportunity detail: Phase timelines and duration is incorrect"
https://www.topcoder.com/challenges/30123373/review-opportunities
https://beta-community-app.topcoder.com/challenges/30123373/review-opportunities

<img width="1440" alt="Screenshot 2020-07-01 at 11 37 13 AM" src="https://user-images.githubusercontent.com/58783823/86209107-72dc9e80-bb8f-11ea-9d19-8fc5bdcf47ef.png">

[2020-07-01 07:28] SathyaJayabal commented on #4616
verified on prod
[settings.mov 2.zip](https://github.com/topcoder-platform/community-app/files/4856315/settings.mov.2.zip)

[2020-07-01 07:28] #4616 closed

[2020-07-01 07:38] SathyaJayabal opened #4620 "Members api: failed to fetch error on challenge listings and details pages"
https://beta-community-app.topcoder.com/challenges?

<img width="1440" alt="Screenshot 2020-07-01 at 1 06 32 PM" src="https://user-images.githubusercontent.com/58783823/86216606-ec7a8980-bb9b-11ea-9d8d-90132faf7a7f.png">

[2020-07-01 07:40] sushilshinde commented on #4602
@rootelement please guide on this

[2020-07-01 08:16] SathyaJayabal commented on #4608
@rootelement , there are a few registrations that are not synced.

For example
https://www.topcoder.com/challenges/30130750?tab=registrants
https://beta-community-app.topcoder.com/challenges/d06475ea-8b93-4998-820c-d55a96d16972?tab=registrants

the last few registrations are not synced.
<img width="1440" alt="Screenshot 2020-07-01 at 1 44 28 PM" src="https://user-images.githubusercontent.com/58783

[2020-07-01 08:19] SathyaJayabal opened #4621 "[$40]Registrants count does not match with list of registrants"
https://beta-community-app.topcoder.com/challenges/d06475ea-8b93-4998-820c-d55a96d16972?tab=registrants
Registrants count does not math with list of registrants
<img width="1440" alt="Screenshot 2020-07-01 at 1 47 07 PM" src="https://user-images.githubusercontent.com/58783823/86220734-a1fc0b80-bba1-11ea-8459-e19cfee2a098.png">

[2020-07-01 09:08] SathyaJayabal commented on #4568
@sushilshinde @lakshmiathreya , the review opportunity details page also uses the V3 calls.

To get the challenge details
https://api.topcoder.com/v3/reviewOpportunities/30126150

To apply for a review opportunity
https://api.topcoder.com/v3/reviewOpportunities/30126150/applications?reviewApplicationRoleIds=9

<img width="1440" alt="Screenshot 2020-07-01 at 2 35 23 PM" src="https://user-images.git

[2020-07-01 09:36] luizrrodrigues commented on #4582
@sushilshinde PR's updated and read to review:
https://github.com/topcoder-platform/topcoder-react-lib/pull/205
https://github.com/topcoder-platform/community-app/pull/4605

-----

**Additional fixes:**
- Removed `submissionPhaseId` of submission `POST`
- Updated submissions management to always load submission as componentDidMount

[2020-07-01 09:47] SathyaJayabal commented on #4608
Another example @rootelement :
https://www.topcoder.com/challenges/30131891?tab=registrants
https://beta-community-app.topcoder.com/challenges/dd6b3627-f720-4868-8a84-ee0c85a154a9
Even after registering to this challenge the counts are not updated.

[registration.mov.zip](https://github.com/topcoder-platform/community-app/files/4856612/registration.mov.zip)

[2020-07-01 10:26] kkartunov commented on #4467
@SathyaJayabal we can close this one now.

[2020-07-01 13:41] #4467 closed

[2020-07-01 16:29] rootelement commented on #4609
Status update here. Everything works except for the Docusign Callback. Working on that now.

[2020-07-01 17:17] sushilshinde commented on #4568
@rootelement is there v3 sync with v5?

[2020-07-01 17:58] rootelement commented on #4568
@sushilshinde not sure i understand the question... Are you saying that you're going to keep community app on v3 for this, so changes in v5 propagate back? If so, yes, when some action is taken in v5, it propagates through the legacy challenge processor and legacy challenge resource processor into informix, so this should work fine.

There was a problem with the legacy-challenge-resource-processor

[2020-07-01 22:09] luizrrodrigues commented on #4583
@sushilshinde PR's is ready:
https://github.com/topcoder-platform/community-app/pull/4622

[2020-07-02 03:11] SathyaJayabal commented on #4582
verified on beta  and test
<img width="1440" alt="Screenshot 2020-07-02 at 8 37 53 AM" src="https://user-images.githubusercontent.com/58783823/86312164-bbec2b80-bc3f-11ea-8a90-ff3762d892c9.png">
<img width="1440" alt="Screenshot 2020-07-02 at 8 39 35 AM" src="https://user-images.githubusercontent.com/58783823/86312183-c60e2a00-bc3f-11ea-8f51-d355003f8d0d.png">

[2020-07-02 03:20] SathyaJayabal commented on #4582
@sushilshinde @lakshmiathreya ,
We have a  couple of known issues with the "My submissions" page. Do you want to handle these now?
https://github.com/topcoder-platform/community-app/issues/4371
https://github.com/topcoder-platform/community-app/issues/4212

[2020-07-02 03:27] SathyaJayabal commented on #4532
Closing this as its not observed now.

[2020-07-02 03:27] #4532 closed

[2020-07-02 03:31] SathyaJayabal opened #4623 "Challenge details page throwing "Unable to load Challenge" error for some users"
Challenge details page throwing "Unable to load Challenge" error for some users

examples:
https://beta-community-app.topcoder.com/challenges/0e19815e-fb7e-4a8c-bb52-6e5c6c101818
https://beta-community-app.topcoder.com/challenges/0084eae1-4eb9-4def-bf53-e39f13b6d12b?tab=registrants
This issue is observed for only this user and the  above challenges are displayed correctly for not logged in users.

[2020-07-02 04:29] SathyaJayabal commented on #4586
@luizrrodrigues , FYI we can now see the v5 submissions but not the older v4 submissions.
<img width="1440" alt="Screenshot 2020-07-02 at 9 58 29 AM" src="https://user-images.githubusercontent.com/58783823/86316527-9a447180-bc4a-11ea-93a8-e42d444a04c9.png">

[2020-07-02 04:31] SathyaJayabal commented on #4583
verified on beta
<img width="1440" alt="Screenshot 2020-07-02 at 10 00 49 AM" src="https://user-images.githubusercontent.com/58783823/86316677-0030f900-bc4b-11ea-8605-819364acce14.png">

[2020-07-02 04:58] luizrrodrigues commented on #4586
@SathyaJayabal I think this not ready in Prod yet, @rootelement right?

[2020-07-02 05:18] SathyaJayabal commented on #4586
Yes, I can see both v4 and v5 submission on dev. Only v5 submissions on prod.

[2020-07-02 05:23] SathyaJayabal commented on #4573
@sushilshinde , I dont see  this anymore. Closing this.

[2020-07-02 05:23] #4573 closed

[2020-07-02 05:23] crazyk07 commented on #4573
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 05:26] callmekatootie commented on #4586
@luizrrodrigues @SathyaJayabal If that's referring to the changes of Issue 179 in submission api, I am confirming that the changes are not yet in prod. Only in dev. The changes are ready for prod though so let's wait for @rootelement to merge them in.

[2020-07-02 10:46] #4614 closed

[2020-07-02 10:51] crazyk07 commented on #4583
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 10:51] crazyk07 commented on #4582
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 10:58] #4568 closed

[2020-07-02 11:01] sushilshinde commented on #4586
@callmekatootie thanks for the update. Can tag me once they are on prod?

[2020-07-02 11:03] #4297 closed

[2020-07-02 11:08] crazyk07 commented on #4610
Contest https://www.topcoder.com/challenges/30131995 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 11:08] crazyk07 commented on #4610
Contest https://www.topcoder.com/challenges/30131995 has been updated - it has been assigned to _sushilshinde.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 11:09] crazyk07 commented on #4619
Contest https://www.topcoder.com/challenges/30131996 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 11:10] SathyaJayabal commented on #4610
shared on slack

[2020-07-02 11:10] sushilshinde commented on #4619
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-07-02 11:15] crazyk07 commented on #4619
Contest https://www.topcoder.com/challenges/30131996 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 11:16] #4406 closed

[2020-07-02 11:16] crazyk07 commented on #4406
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 11:17] SathyaJayabal commented on #4297
verified on prod
<img width="1440" alt="Screenshot 2020-07-02 at 4 41 35 PM" src="https://user-images.githubusercontent.com/58783823/86352115-f0cda200-bc82-11ea-8184-4ab44024f452.png">

[2020-07-02 11:17] crazyk07 commented on #4584
Contest https://www.topcoder.com/challenges/30131997 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 11:17] SathyaJayabal commented on #4614
verified don prod

[2020-07-02 11:19] crazyk07 commented on #4584
Contest https://www.topcoder.com/challenges/30131997 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 11:37] sushilshinde commented on #4552
Sorry about this we were focusing on P0s and P1s

[2020-07-02 11:38] sushilshinde commented on #4552
@rootelement https://github.com/topcoder-platform/submissions-api/issues/186#issuecomment-652952077

[2020-07-02 11:42] crazyk07 commented on #4587
Contest https://www.topcoder.com/challenges/30131998 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 11:42] crazyk07 commented on #4587
Contest https://www.topcoder.com/challenges/30131998 has been updated - it has been assigned to _sushilshinde.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 11:44] crazyk07 commented on #4587
Contest https://www.topcoder.com/challenges/30131998 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 17:05] crazyk07 commented on #4582
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 17:07] crazyk07 commented on #4583
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-02 17:37] rootelement commented on #4609
This is unblocked from the API side. @luizrrodrigues is working on cleaning up the UI.

[2020-07-02 17:37] rootelement commented on #4608
All examples here line up for me @SathyaJayabal. Please review.

[2020-07-02 17:41] rootelement commented on #4569
Is this still an issue? After the recent sync update and fixes to the legacy processors, this seems to be fine.

[2020-07-02 17:42] rootelement commented on #4566
Please let me know if this is still an issue. I believe this was a data sync issue that does not exist anymore.

[2020-07-02 17:51] rootelement commented on #4602
@sushilshinde @SathyaJayabal , i _believe_ this is due to an issue we had with the legacy-challenge-resource-processor. Can you please re-test?

Because Picachui is not showing up on the API side here either, so that means their username is not associated with the challenge.
http://api.topcoder-dev.com/v5/resources?challengeId=d72fd406-f08c-441f-b44f-13316acb94da
<img width="1480" alt="Screenshot

[2020-07-02 18:17] rootelement commented on #4527
I don't know where this stands @sushilshinde . Please let me know if this is still an open issue or not and relate it to the issue on challenge api as well:
https://github.com/topcoder-platform/challenge-api/issues/187

If I make this API call in prod for picachui:
https://api.topcoder.com/v5/challenges?memberId=22778049&sortBy=created&sortOrder=desc

It returns challenges. I think one of the issu

[2020-07-02 19:29] mtwomey commented on #4586
@rootelement is merging this tonight

[2020-07-02 19:32] mtwomey commented on #4569
Yes kindly reconfirm this one due to recent updates.

[2020-07-02 20:21] mtwomey commented on #4623
Ok I think we got this one, while troubleshooting we found an issue with permissions for the submissions reviewTypes call. We updated that API via hotfix: https://github.com/topcoder-platform/submissions-api/pull/187

Kindly retest.

[2020-07-02 20:38] narekcat commented on #4619
Hi @SathyaJayabal @sushilshinde . Are there new endpoints to get review opportunities for V5 api ?

[2020-07-03 02:43] crazyk07 commented on #4621
Contest https://www.topcoder.com/challenges/30132029 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-03 02:43] crazyk07 commented on #4621
Contest https://www.topcoder.com/challenges/30132029 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-03 02:44] sushilshinde commented on #4620
@SathyaJayabal I can't reproduce this

[2020-07-03 02:45] sushilshinde commented on #4619
no, it will v3 as it is.

[2020-07-03 03:45] SathyaJayabal commented on #4623
verified on beta
<img width="1440" alt="Screenshot 2020-07-03 at 9 15 18 AM" src="https://user-images.githubusercontent.com/58783823/86429623-beb55200-bd0d-11ea-8939-f97f261e4e06.png">

[2020-07-03 04:10] SathyaJayabal commented on #4602
@rootelement @sushilshinde ,

Lets take this example:
https://beta-community-app.topcoder.com/challenges/d9b51702-711f-4ee4-93ab-5af4271e83f3
https://www.topcoder.com/challenges/30131098

User picachui is a Reviewer
<img width="1440" alt="Screenshot 2020-07-03 at 9 29 37 AM" src="https://user-images.githubusercontent.com/58783823/86430381-bbbb6100-bd0f-11ea-8b22-23d4264f2064.png">

But the resourc

[2020-07-03 04:26] SathyaJayabal commented on #4608
@rootelement , the registrations are lining up when you run the migration script, but the real time sync is not happening as expected. For the above example: two more users registered after you last checked. This must have been synced realtime(with a lag if 1-5 mins). But as you can see these have not been synced to v5.
<img width="1440" alt="Screenshot 2020-07-03 at 9 54 38 AM" src="https://user-

[2020-07-03 04:41] SathyaJayabal commented on #4566
@rootelement @simranb86 , I don't see this anymore

[2020-07-03 04:41] #4566 closed

[2020-07-03 04:41] crazyk07 commented on #4566
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-03 05:36] SathyaJayabal commented on #4527
@rootelement , the api call https://api.topcoder.com/v5/challenges?memberId=22778049&sortBy=created&sortOrder=desc returns only active challenges.

We will need completed challenges data for the Stats history page.

cc @sushilshinde @lakshmiathreya

[2020-07-03 05:39] SathyaJayabal commented on #4569
Still an issue @rootelement @mtwomey
https://github.com/topcoder-platform/challenge-api/issues/186#issuecomment-653355484

[2020-07-03 07:54] narekcat commented on #4619
@sushilshinde Ok, thank you.

[2020-07-03 09:30] #4623 closed

[2020-07-03 09:36] SathyaJayabal commented on #4491
@sushilshinde @lakshmiathreya This issue has not been observed recently. Closing it for now.

[2020-07-03 09:36] #4491 closed

[2020-07-03 09:36] crazyk07 commented on #4491
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-03 09:38] SathyaJayabal commented on #4530
Colour mapping is being taken care of the respective issues #4546 and #4552. cc @luizrrodrigues @sushilshinde @lakshmiathreya

[2020-07-03 09:38] #4530 closed

[2020-07-03 09:43] SathyaJayabal commented on #4561
Not able to reproduce now.

[2020-07-03 09:43] #4561 closed

[2020-07-03 09:45] SathyaJayabal commented on #4377
@sushilshinde @lakshmiathreya we can close this one, once billing issue is resolved.

[2020-07-03 09:46] SathyaJayabal commented on #4560
Not able to reproduce.

[2020-07-03 09:46] #4560 closed

[2020-07-03 09:50] SathyaJayabal commented on #4515
@sushilshinde, issue is not observed now.
cc @lakshmiathreya

[2020-07-03 09:50] #4515 closed

[2020-07-03 10:12] narekcat commented on #4619
@sushilshinde @SathyaJayabal . I have fixed this issue. Please see pull requests:
https://github.com/topcoder-platform/community-app/pull/4624
https://github.com/topcoder-platform/topcoder-react-lib/pull/206

[2020-07-04 01:48] simranb86 commented on #4566
@SathyaJayabal isn't Topcoder paying members when they spend time on tickets anymore? Even one more ticket I see which I wasn't able to replicate and QA said fix is not working and today saw it was closed, saying QA cannot replicate the issue anymore. Not sure what's going on ?

@sushilshinde had opened that ticket but there was no fix after my last fix which code was merged but never reverted but

[2020-07-04 02:10] crazyk07 commented on #4575
Contest https://www.topcoder.com/challenges/30130676 has been updated - sr_jr has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-04 02:11] crazyk07 commented on #4575
Contest https://www.topcoder.com/challenges/30130676 has been updated - sr_jr has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-04 02:12] crazyk07 commented on #4575
Contest https://www.topcoder.com/challenges/30130676 has been updated - sr_jr has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-04 02:13] simranb86 commented on #4575
@sushilshinde I think I know the issue, but not able to assign myself.

[2020-07-04 02:13] crazyk07 commented on #4575
Contest https://www.topcoder.com/challenges/30130676 has been updated - sr_jr has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-04 02:13] lakshmiathreya commented on #4569
Pls note that the discrepancies across V4 (Prod) & V5 (Beta) are largely due to pending Data migration issues which are work in progress currently: https://github.com/topcoder-platform/challenge-api/issues?q=is%3Aissue+is%3Aopen+label%3AP0

[2020-07-04 02:27] crazyk07 commented on #4575
Contest https://www.topcoder.com/challenges/30130676 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-04 02:39] sushilshinde commented on #4609
@luizrrodrigues waiting for PR

[2020-07-04 02:41] lakshmiathreya commented on #4610
This issue seems to be seen regardless of Role:
-- Copilot Role in V4 (Prod) showing Listings as expected -
<img width="1414" alt="Screenshot 2020-07-04 at 8 07 14 AM" src="https://user-images.githubusercontent.com/51733042/86503645-b45a8d00-bdcd-11ea-9ac1-d958f6bee3e6.png">
-- the Same User in V5 (Beta) showing Blank page for Listings -
<img width="1414" alt="Screenshot 2020-07-04 at 8 08 07 AM"

[2020-07-04 03:01] simranb86 commented on #4527
@sushilshinde as discussed marking this on Hold and removing assignment, so we can open this when api is ready.

[2020-07-04 03:29] lakshmiathreya commented on #4610
@SathyaJayabal pls add your Beta & Prod Screenshots (Copilot role in Prod) here for comparison ...

[2020-07-04 03:43] SathyaJayabal commented on #4610
Copliot role user: picachui
V5 (Beta)
<img width="1440" alt="Screenshot 2020-07-04 at 9 13 04 AM" src="https://user-images.githubusercontent.com/58783823/86504495-9e04ff00-bdd6-11ea-9157-c5d2ba83dd45.png">
V4 (Prod)
<img width="1440" alt="Screenshot 2020-07-04 at 9 13 12 AM" src="https://user-images.githubusercontent.com/58783823/86504499-aa895780-bdd6-11ea-9341-76612b4a1167.png">

[2020-07-04 03:52] SathyaJayabal commented on #4566
@simranb86 , there has been a lot of fixes in the frontend, backend, m2m token usage and  data sync and migration in the last couple of weeks, that could have fixed these issues. This specific issue was caused by data sync which is now resolved.
https://github.com/topcoder-platform/community-app/issues/4566#issuecomment-653139423.

When testing these issues earlier, it was reproducible and you can

[2020-07-04 10:35] luizrrodrigues commented on #4609
@sushilshinde I'm waiting for API fix.

@rootelement Working on this.

[2020-07-04 13:34] SathyaJayabal opened #4625 "Subtrack tag missing in review opportunities details page"
Subtrack tag missing in review opportunities details page
Example:
https://beta-community-app.topcoder.com/challenges/30126150/review-opportunities
https://www.topcoder.com/challenges/30126150/review-opportunities
<img width="1440" alt="Screenshot 2020-07-04 at 7 03 16 PM" src="https://user-images.githubusercontent.com/58783823/86513598-1bf1f600-be29-11ea-8279-243d82e587b5.png">
<img width="1440"

[2020-07-04 13:38] SathyaJayabal commented on #4619
verified on beta
<img width="1440" alt="Screenshot 2020-07-04 at 7 04 41 PM" src="https://user-images.githubusercontent.com/58783823/86513615-4c399480-be29-11ea-9a80-c62b3536cb58.png">
<img width="1440" alt="Screenshot 2020-07-04 at 7 04 45 PM" src="https://user-images.githubusercontent.com/58783823/86513628-670c0900-be29-11ea-9435-c39399664855.png">

[2020-07-05 02:03] simranb86 commented on #4575
@sushilshinde @rootelement this looks like API issue too - https://api.topcoder-dev.com/v5/challenges?group=20000010 returns nothing,  (20000010 is group id for blockchain)

[2020-07-06 05:12] kkartunov opened #4626 "Competitive programming page under Compete"
Should link to https://www.topcoder.com/community/arena page.

[2020-07-06 06:11] sushilshinde commented on #4586
@rootelement @callmekatootie do we have a deployment confirmation?

[2020-07-06 06:12] callmekatootie commented on #4586
Yes - The fix is in production

[2020-07-06 07:20] SathyaJayabal opened #4627 "Submission Tab: Initial and Final Scores"
https://github.com/topcoder-platform/submissions-api/issues/186

[2020-07-06 07:21] SathyaJayabal commented on #4552
@simranb86 , we are tracking the score issue (3) in a separate ticket.
https://github.com/topcoder-platform/community-app/issues/4627

[2020-07-06 07:26] SathyaJayabal commented on #4586
Submissions made from both V5 and V4 are reflected on the submissions table. verified on beta
<img width="1440" alt="Screenshot 2020-07-06 at 12 21 17 PM" src="https://user-images.githubusercontent.com/58783823/86566821-ee6f8e80-bf87-11ea-8627-554cab657ce9.png">

[2020-07-06 07:43] SathyaJayabal commented on #4592
Verified on beta after fix
https://github.com/topcoder-platform/submissions-api/issues/179

Email received on submission from V5
<img width="1440" alt="Screenshot 2020-07-06 at 1 12 35 PM" src="https://user-images.githubusercontent.com/58783823/86568373-650d8b80-bf8a-11ea-8a78-f93d4be9c3a9.png">

[2020-07-06 09:35] SathyaJayabal opened #4628 "[$50] Getting error on submission for private challenges"
https://beta-community-app.topcoder.com/challenges/d9b51702-711f-4ee4-93ab-5af4271e83f3/submit
user: CustomerUser/appirio123

Same user is able to submit for other challenges. Other users are able to submit to this challenge. This issues is observed with the specific user for this specific challenge.
example: Customer user was able to submit to "https://beta-community-app.topcoder.com/challenges/0

[2020-07-06 09:36] SathyaJayabal commented on #4628
@sushilshinde
https://github.com/topcoder-platform/submissions-api/issues/188

[2020-07-06 09:38] SathyaJayabal commented on #4628
cc @luizrrodrigues

[2020-07-06 14:20] luizrrodrigues commented on #4609
@rootelement API returning error `Requesting Signature via template failed.`

![image](https://user-images.githubusercontent.com/7029641/86603640-a138f000-bf7a-11ea-896d-657cd30ccafd.png)

[2020-07-06 17:42] dmessing opened #4629 "Registered, but not showing in OR"
I registered in incognito with Mess at this challenge

https://beta-community-app.topcoder.com/challenges/4888baa8-1618-4fde-839d-c79608e68303?tab=registrants

**To Reproduce**
Steps to reproduce the behavior:
1. I registered for the challenge
2. I show up in the registrants list here: https://beta-community-app.topcoder.com/challenges/4888baa8-1618-4fde-839d-c79608e68303?tab=registrants
3. Naviga

[2020-07-06 17:46] dmessing commented on #4629
tried submitting too, and the submission works but not in OR

[2020-07-06 17:47] Oanh-and-only-Oanh commented on #4629
@SathyaJayabal @sushilshinde  FYI.

[2020-07-06 18:00] SathyaJayabal commented on #4629
Thanks @dmessing ,
Registrations made from V5 do not show up in OR. We are tracking it here.
https://github.com/topcoder-platform/challenge-api/issues/204#issuecomment-654159305

But submissions made from V5 were showing up in OR after yesterdays fix. I will look into it again and retest.
https://github.com/topcoder-platform/challenge-api/issues/204#issuecomment-654050241

[2020-07-06 19:43] mtwomey commented on #4350
So my thinking here is right after the first release of V5 in Community-App (but before we start working on performance enhancements for community-app), we tackle this. Basically two parts:

1. Community-app needs to fire an event when this happens (@sushilshinde your part)
2. Event has to be received and email generated (@sachin-maheshwari your part)

But will need you two to coordinate on this p

[2020-07-06 19:51] Oanh-and-only-Oanh commented on #4305
updated by Matt

[2020-07-06 19:51] #4305 closed

[2020-07-07 04:02] lakshmiathreya commented on #4629
cc @mtwomey @sushilshinde - great catch by Mess! - this is an immediate scenario we will face once we cut V5 over to Prod ...

[2020-07-07 04:27] sachin-maheshwari commented on #4350
Sure @mtwomey

[2020-07-07 04:39] SathyaJayabal commented on #4629
Retested the submissions issue. Unless the registrations are not synced, submissions also don't get synced.
https://github.com/topcoder-platform/challenge-api/issues/204#issuecomment-654585563

[2020-07-07 04:49] SathyaJayabal opened #4630 "Registration Confirmation email not sent on registration"
Registration  Confirmation email not sent on registration to a challenge.

[2020-07-07 04:50] SathyaJayabal commented on #4630
cc @lakshmiathreya

[2020-07-07 06:50] sushilshinde commented on #4610
@SathyaJayabal @lakshmiathreya this is hard to test on beta with multiple users. Please share users on test env.

[2020-07-07 07:22] #4366 closed

[2020-07-07 09:59] SathyaJayabal commented on #4610
https://github.com/topcoder-platform/community-app/issues/4610#issue-646022565 @sushilshinde

[2020-07-07 10:02] #4592 closed

[2020-07-07 10:10] SathyaJayabal commented on #4610
https://github.com/topcoder-platform/community-app/issues/4610#issue-646022565
@sushilshinde

[2020-07-07 14:48] Oanh-and-only-Oanh commented on #4629
closing becuase this is a known and duplicate issue.

[2020-07-07 14:48] #4629 closed

[2020-07-07 15:11] Oanh-and-only-Oanh commented on #4569
closing because this is a duplicate issue

[2020-07-07 15:11] #4569 closed

[2020-07-07 15:17] #4582 closed

[2020-07-07 15:18] crazyk07 commented on #4582
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130831<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-07 15:18] #4291 closed

[2020-07-07 15:19] #4583 closed

[2020-07-07 15:19] crazyk07 commented on #4291
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123536<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-07 15:19] #4586 closed

[2020-07-07 15:19] crazyk07 commented on #4583
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130887<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-07 15:27] #4377 closed

[2020-07-07 15:27] crazyk07 commented on #4377
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30127395<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-07 17:27] dmessing opened #4632 "[$50]Submission emails link you to old url"
**Describe the bug**
Make a submission on beta

**To Reproduce**
Check your mail.

**Expected behavior**
Email link should go to a GUID I believe?

**Screenshots**

Hi mess, Thanks for submitting to Reclamation Streamflow Forecasting Design Challenge.  We received your submission and are processing it. You will see additional notifications as we perform reviews on your submission.   Please return

[2020-07-07 18:01] Oanh-and-only-Oanh commented on #4632
@sushilshinde @lakshmiathreya @SathyaJayabal FYI

[2020-07-07 21:38] luizrrodrigues commented on #4590
@sunildahiya PR is ready: https://github.com/topcoder-platform/community-app/pull/4633

[2020-07-08 01:48] sushilshinde commented on #4632
@Oanh-and-only-Oanh this is should be opened on submission ali as well.

[2020-07-08 02:07] luizrrodrigues commented on #4587
@sushilshinde Update:

Looks like **members_api** V5 not ready or getting problems in Prod.

Endpoints returning **404 Error**:
[code]

cc @rootelement

[2020-07-08 02:09] luizrrodrigues commented on #4584
@sushilshinde Fixed with https://github.com/topcoder-platform/community-app/pull/4633

[2020-07-08 02:12] sushilshinde commented on #4587
Member api v5 is not in the scope

We will have stick to current prod version.

Pass legacy id

[2020-07-08 05:43] SathyaJayabal commented on #4374
verified on beta (develop)
<img width="1440" alt="Screenshot 2020-07-08 at 11 12 04 AM" src="https://user-images.githubusercontent.com/58783823/86881408-e8a2b600-c10b-11ea-911b-d87c2bca085b.png">

[2020-07-08 05:51] SathyaJayabal commented on #4165
@kkartunov @hokienick
`Single Round Match (SRM) Reminders - Attention Competitive Programmers!  If there is any newsletter you are subscribing too, it better be this one.  Receive updates when a new SRM event is scheduled.
`

I think the "too" must be "to" in the above text.

[2020-07-08 06:17] SathyaJayabal commented on #4439
verified on dev(develop branch)
[4439.mov.zip](https://github.com/topcoder-platform/community-app/files/4888842/4439.mov.zip)

[2020-07-08 08:34] kkartunov opened #4635 "Change the color of the white outline button to dark green"
For the green outline button, the green border in the visited state should stay the same as the default one #137D60

(example: the View button here: https://marvelapp.com/prototype/535c9ga/screen/69629930)

[2020-07-08 08:37] SathyaJayabal commented on #4165
marking as pass as per comments
https://topcoder.slack.com/archives/C53KB3T7Z/p1594189377249000?thread_ts=1594065168.241700&cid=C53KB3T7Z

[2020-07-08 08:38] SathyaJayabal commented on #4626
@kkartunov , in both the header and footer?

[2020-07-08 08:45] SathyaJayabal opened #4636 "Add Practice link under Compete in the footer"
Add Practice link under Compete in the footer to reflect nav.
Link to:https://www.topcoder.com/community/practice

<img width="1440" alt="Screenshot 2020-07-08 at 2 13 14 PM" src="https://user-images.githubusercontent.com/58783823/86897676-5d361e80-c125-11ea-9863-44b3cf9be273.png">
<img width="1440" alt="Screenshot 2020-07-08 at 2 13 27 PM" src="https://user-images.githubusercontent.com/58783823/8

[2020-07-08 09:29] SathyaJayabal commented on #4439
verified on prod
[Uploading 4439_prod.mov.zip…]()

[2020-07-08 09:29] #4439 closed

[2020-07-08 09:37] SathyaJayabal commented on #4165
verified on prod
<img width="1440" alt="Screenshot 2020-07-08 at 3 05 22 PM" src="https://user-images.githubusercontent.com/58783823/86903087-7bebe380-c12c-11ea-81e7-b3f4d14bc438.png">

[2020-07-08 09:37] #4165 closed

[2020-07-08 09:37] SathyaJayabal commented on #4374
verified on prod
<img width="1440" alt="Screenshot 2020-07-08 at 3 04 47 PM" src="https://user-images.githubusercontent.com/58783823/86903029-64acf600-c12c-11ea-9fcf-2649cb42d7a0.png">

[2020-07-08 09:37] #4374 closed

[2020-07-08 09:53] SathyaJayabal commented on #4636
verified on dev env(feature branch)
<img width="1440" alt="Screenshot 2020-07-08 at 3 22 25 PM" src="https://user-images.githubusercontent.com/58783823/86904847-e43bc480-c12e-11ea-8b21-a6e10c5b8300.png">

[2020-07-08 09:53] SathyaJayabal commented on #4626
verified on dev env (feature branch)
<img width="1440" alt="Screenshot 2020-07-08 at 3 20 44 PM" src="https://user-images.githubusercontent.com/58783823/86904686-b0609f00-c12e-11ea-8289-7dfe161d51de.png">
<img width="1440" alt="Screenshot 2020-07-08 at 3 20 49 PM" src="https://user-images.githubusercontent.com/58783823/86904880-ee5dc300-c12e-11ea-9910-b55d4b53078c.png">

[2020-07-08 10:14] SathyaJayabal opened #4637 "[$40]My Submissions page: Next Phase detail is incorrect"
My Submissions page: Next Phase detail is incorrect

<img width="1440" alt="Screenshot 2020-07-08 at 3 42 47 PM" src="https://user-images.githubusercontent.com/58783823/86906875-d3408280-c131-11ea-8eba-7c5e3aa25ae7.png">
<img width="1440" alt="Screenshot 2020-07-08 at 3 43 29 PM" src="https://user-images.githubusercontent.com/58783823/86906894-d9cefa00-c131-11ea-94f3-034a30138d73.png">

[2020-07-08 10:19] SathyaJayabal commented on #4590
Verified on beta
<img width="1440" alt="Screenshot 2020-07-08 at 3 36 11 PM" src="https://user-images.githubusercontent.com/58783823/86907328-78f3f180-c132-11ea-9776-0e274791f0a2.png">

[2020-07-08 10:24] SathyaJayabal commented on #4584
verified on beta
<img width="1440" alt="Screenshot 2020-07-08 at 3 52 54 PM" src="https://user-images.githubusercontent.com/58783823/86907836-47c7f100-c133-11ea-820d-8f8d256bbddf.png">

[2020-07-08 10:26] #4584 closed

[2020-07-08 10:27] crazyk07 commented on #4584
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30131997<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-08 10:27] #4590 closed

[2020-07-08 10:28] crazyk07 commented on #4590
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130984<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-08 10:31] SathyaJayabal commented on #4632
https://github.com/topcoder-platform/submissions-api/issues/189

[2020-07-08 10:36] SathyaJayabal commented on #4620
@sushilshinde
closing this as it can be tracked in #4587

[2020-07-08 10:36] #4620 closed

[2020-07-08 10:49] sushilshinde commented on #4637
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-07-08 10:50] crazyk07 commented on #4637
Contest https://www.topcoder.com/challenges/30132295 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-08 11:04] crazyk07 commented on #4637
Contest https://www.topcoder.com/challenges/30132295 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-08 12:33] SathyaJayabal commented on #4632
https://github.com/topcoder-platform/submissions-api/issues/189#issuecomment-655448365

@callmekatootie
The submissions api uses the legacy challenge id while creating the submission record in the DB. I think this is what will be used by the submissions processor while sending out the emails and in further processing.
@sushilshinde @rootelement @dushyantb
Please provide any suggestions on where to

[2020-07-08 14:22] narekcat commented on #4637
Hello @SathyaJayabal . It shows 0 s. until current deadline ends, in challenge details page, but in my submissions page it shows 0H 0M even if current phase end. Need I change it to be identical with challenge details page ?

[2020-07-08 15:05] rootelement commented on #4609
I just tried that very same POST with my jcori dev account, which has these roles:
[code]

And it worked fine. I got the URL by POSTing from Postman, opened the url returned in the browser, signed the document, and was given the `{'message': 'success'}` return.

I was even notified of the signature because I own the demo instance:
<img width="1304" alt="Screen Shot 2020-07-08 at 11 04 27 AM" src="

[2020-07-08 15:28] mtwomey commented on #4609
@luizrrodrigues / @sushilshinde Further notes:

**Test Token**
[code]

**Curl**
[code]

**Request Response (200)**
[code]

[2020-07-08 16:17] sushilshinde commented on #4597
yes

[2020-07-08 16:19] #4619 closed

[2020-07-08 16:20] crazyk07 commented on #4619
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30131996<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-08 16:41] luizrrodrigues commented on #4587
@sushilshinde Ah okay, sorry.

Not related to UUID here, but I have changed in the past ticket to load user details from V5 API, I'll compare the V3 and V5 if both are same I'll revert that change.

Thanks.

[2020-07-08 16:49] SathyaJayabal commented on #4637
Yes, please make it similar to what is on the challenge details page.

[2020-07-08 16:56] narekcat commented on #4637
@SathyaJayabal Ok, thank you.

[2020-07-08 18:00] narekcat commented on #4637
@SathyaJayabal @sushilshinde I have fixed this issue. Please see pull request https://github.com/topcoder-platform/community-app/pull/4638.

[2020-07-08 23:22] luizrrodrigues commented on #4587
@sushilshinde PR is ready: https://github.com/topcoder-platform/topcoder-react-lib/pull/207

[2020-07-09 03:15] luizrrodrigues commented on #4609
Let me check this again and back with the results.

[2020-07-09 05:49] mtwomey commented on #4602
## Regarding adding reviewers in OR and having them show up to the V5 API
@SathyaJayabal the resources api call in the browser is unauthenticated. The unauthenticated call will only return submitters. For this call to return other resources, it needs to be passed an m2m token. We confirmed that the same request, using Postman and an m2m token does return all the resources (including you as a revie

[2020-07-09 06:08] SathyaJayabal commented on #4602
cc  @rootelement

[2020-07-09 08:40] m-yadav opened #4639 ""All Challenges" navigation link not working"
**Describe the bug**
When on a challenge listing page, clicking on compete shows a panel that houses options like All challenges, competitive programming, gig work, and practice. Out of these 4 options, all except "All challenges" redirects the user to appropriate locations on the portal. "All challenges" is not associated with any links.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2020-07-09 08:44] m-yadav commented on #4639
cc: @Oanh-and-only-Oanh

[2020-07-09 09:25] SathyaJayabal commented on #4468
verified on dev (feature branch)
<img width="1440" alt="Screenshot 2020-07-09 at 2 54 58 PM" src="https://user-images.githubusercontent.com/58783823/87022535-3d216080-c1f4-11ea-94e5-d31a8f037064.png">

[2020-07-09 09:42] SathyaJayabal commented on #4091
verified on dev (feature branch)

[2020-07-09 12:01] SathyaJayabal commented on #4611
verified on dev (feature branch)

[2020-07-09 12:25] SathyaJayabal commented on #4611
<img width="1440" alt="Screenshot 2020-07-09 at 5 18 08 PM" src="https://user-images.githubusercontent.com/58783823/87037541-ffc7cd80-c209-11ea-8d10-b1464c3edfdf.png">

<img width="1440" alt="Screenshot 2020-07-09 at 5 19 36 PM" src="https://user-images.githubusercontent.com/58783823/87039162-664deb00-c20c-11ea-8075-5acba05adb3d.png">
<img width="1440" alt="Screenshot 2020-07-09 at 5 22 14 PM" src

[2020-07-09 13:46] lakshmiathreya commented on #4639
cc @SathyaJayabal

[2020-07-09 14:20] SathyaJayabal commented on #4639
Closing this as this is a known issue. It will be fixed soon.
https://github.com/topcoder-platform/community-app/issues/4441
cc @lakshmiathreya @m-yadav

[2020-07-09 14:21] #4639 closed

[2020-07-09 14:41] sushilshinde commented on #4610
@SathyaJayabal share the user for whom it works and it doesn't

[2020-07-09 14:46] SathyaJayabal commented on #4610
@sushilshinde
Dev env:
user who gets an error:TCConnCopilot (password shared on slsck)
users who dont get an error: tester1234/appirio123, dan_developer/dantopcoder123

[2020-07-09 15:04] sushilshinde commented on #4632
@callmekatootie

[2020-07-09 16:54] luizrrodrigues commented on #4609
@mtwomey @rootelement @sushilshinde

API looks like working well now, I'll push PR shortly.

[2020-07-09 19:54] mtwomey commented on #4602
Ok - @rootelement 's fix has corrected this issue. **Note** It still takes a long time to update because the 9 **_authenticated_** calls to: https://api.topcoder.com/v5/challenges/?status=Active&perPage=99&page=2 take a long time each. That is a separate issue. @SathyaJayabal Kindly re-test

[2020-07-10 00:03] luizrrodrigues commented on #4609
@rootelement When backend receives a return from DocuSign and set this as completed:
https://github.com/topcoder-platform/terms-service/blob/36c2b4d8bdecf9470961807ab5b2088e10d77348/src/services/DocusignService.js#L86

The backend should now return this terms `agree: true` right?

[2020-07-10 03:01] luizrrodrigues commented on #4609
@rootelement
Return looks good to **dan_developer** user, but getting error to **luizrrodrigues** user:

[code]

Error when request `https://api.topcoder-dev.com/v5/terms/docusignViewURL`

[code]

[2020-07-10 06:02] SathyaJayabal commented on #4587
verified on beta. cc @sushilshinde @luizrrodrigues
<img width="1440" alt="Screenshot 2020-07-10 at 11 31 48 AM" src="https://user-images.githubusercontent.com/58783823/87121706-fe95af80-c2a0-11ea-8612-50a6f76b283e.png">

[2020-07-10 06:36] SathyaJayabal commented on #4637
verified on beta
<img width="1440" alt="Screenshot 2020-07-10 at 11 37 14 AM" src="https://user-images.githubusercontent.com/58783823/87124084-af05b280-c2a5-11ea-8ca4-5870f8d127a0.png">
<img width="1440" alt="Screenshot 2020-07-10 at 11 37 33 AM" src="https://user-images.githubusercontent.com/58783823/87124114-c0e75580-c2a5-11ea-9767-a93bd9cff0e8.png">

[2020-07-10 07:03] SathyaJayabal commented on #4602
@mtwomey @rootelement ,  I was able  to see the above challenge under My Challenges bucket for user picachui, where picachui is a reviewer.

But there are several other examples where this doesn't work as expected:
1. picachui user is a manager for the the below contest (for past many days).
https://beta-community-app.topcoder.com/challenges/dfb8c1e0-3173-4150-987c-3fea61da2548
https://www.topcode

[2020-07-10 09:19] SathyaJayabal commented on #4632
@sushilshinde , both the submission and registration confirmation emails have the legacy id in the challenge details URL.
1. Registration Confirmation Email:
<img width="1229" alt="Screenshot 2020-07-10 at 2 39 57 PM" src="https://user-images.githubusercontent.com/58783823/87137931-49242580-c2bb-11ea-8741-ceac6ea13bcc.png">

Sample link "https://www.topcoder.com/challenges/30132287/submit/"
Here w

[2020-07-10 09:32] SathyaJayabal opened #4641 "[$40]Forums link from challenge details does not have Category Id"
The link to challenge forums does not have the category id
v4 Prod
https://www.topcoder.com/challenges/30132287
Link to  forums is: https://apps.topcoder.com/forums/?module=Category&categoryID=111636
v5 Beta
https://beta-community-app.topcoder.com/challenges/3cfa4e31-1758-4e65-aa73-61caa1d5154f
Link to forums is: https://apps.topcoder.com/forums/?module=Category&categoryID=0

<img width="1440" alt

[2020-07-10 13:22] crazyk07 commented on #4641
Contest https://www.topcoder.com/challenges/30132585 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-10 13:23] crazyk07 commented on #4641
Contest https://www.topcoder.com/challenges/30132585 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-11 04:12] mtwomey commented on #4602
Basically - this works for being a reviewer, but it doesn't work properly for some other roles. Known roles where this isn't working:

* manager

Known working

* Reviewer
* Observer
* Submitter

@rootelement This is going to be that same fix we did for reviewer on Thursday...

[2020-07-11 14:25] SathyaJayabal opened #4642 "[$40]Challenges do not show up under My Challenge Bucket for some users"
On registering to a challenge from V5, the user is seen  under the list of registrants in the registrants tab and can also see the Unregister and Submit buttons.

But this challenge does not show up under my challenges bucket even though the api call returns this challenge
https://api.topcoder.com/v5/challenges?memberId=MMM.

<img width="1127" alt="Screenshot 2020-07-11 at 7 52 06 PM" src="https:/

[2020-07-11 21:20] simranb86 commented on #4552
PR https://github.com/topcoder-platform/topcoder-react-lib/pull/202/

[2020-07-13 08:41] SathyaJayabal commented on #4642
User: picachui
`https://api.topcoder.com/v5/challenges?memberId=MMM` returns all the challenges the user is a resource of, but the my challenges bucket does not display these challenges.

This is observed only for this user.

User

: CustomerUser/appirio123 , works fine

Please see screenshots for user picachui, you can see all the challenges in My challenge stab in the dashboard page, But not in

[2020-07-13 08:43] SathyaJayabal commented on #4602
@mtwomey @sushilshinde @lakshmiathreya
The my challenges displays all the challenges the user is a resource of except for some users (tracked here #4642).

[2020-07-13 08:43] #4602 closed

[2020-07-13 08:55] SathyaJayabal commented on #4630
Registration confirmation mail sent on registration.

[2020-07-13 08:55] #4630 closed

[2020-07-13 09:01] SathyaJayabal commented on #4628
@mtwomey @lakshmiathreya @sushilshinde
Raising priority as users will be blocked from submitting to any challenge belonging to a group.

[2020-07-13 09:09] #4637 closed

[2020-07-13 09:09] sushilshinde commented on #4642
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-07-13 09:10] crazyk07 commented on #4637
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30132295<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-13 09:10] crazyk07 commented on #4642
Contest https://www.topcoder.com/challenges/30132707 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-13 09:14] crazyk07 commented on #4642
Contest https://www.topcoder.com/challenges/30132707 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-13 09:15] sushilshinde commented on #4632
@SathyaJayabal got the point. We need to resolve

`https://www.topcoder.com/challenges/<legacyID>/submit/` to https://www.topcoder.com/challenges/<UUID>/submit/

[2020-07-13 09:21] crazyk07 commented on #4632
Contest https://www.topcoder.com/challenges/30132709 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-13 09:22] sushilshinde commented on #4632
Provide backward compatibility to the legacy email link

1. Whenever there is a route request with legacy challenge ID `https://www.topcoder.com/challenges/<legacyID>/submit/`
2. Intercept route request and call `https://<apidomain>/v5/challenges?legacyId=<legacy id>`
3. Read `id`
[code]
4. Change URL to `https://www.topcoder.com/challenges/<UUID>/submit/`
5. So any legacy URL will be served after

[2020-07-13 10:26] SathyaJayabal commented on #4626
verified on beta(develop branch)
<img width="1440" alt="Screenshot 2020-07-13 at 3 48 20 PM" src="https://user-images.githubusercontent.com/58783823/87293698-5130cf00-c520-11ea-9f2b-9ecc6eaa9ea6.png">

<img width="1440" alt="Screenshot 2020-07-13 at 3 48 25 PM" src="https://user-images.githubusercontent.com/58783823/87294274-2004ce80-c521-11ea-9a82-a7b8dfcca10f.png">

[2020-07-13 10:28] SathyaJayabal commented on #4635
verified on beta(develop branch)
<img width="1440" alt="Screenshot 2020-07-13 at 3 56 13 PM" src="https://user-images.githubusercontent.com/58783823/87294485-80940b80-c521-11ea-9acb-9b4ab526cace.png">

[2020-07-13 10:30] SathyaJayabal commented on #4636
verified on beta(develop branch)
<img width="1440" alt="Screenshot 2020-07-13 at 3 59 06 PM" src="https://user-images.githubusercontent.com/58783823/87294774-d8cb0d80-c521-11ea-8d9a-c92a75b0b860.png">

[2020-07-13 10:31] SathyaJayabal commented on #4611
Verified on beta(develop branch)

<img width="1440" alt="Screenshot 2020-07-13 at 3 40 07 PM" src="https://user-images.githubusercontent.com/58783823/87294437-6f4aff00-c521-11ea-8dd5-b153a67fa5ef.png">
<img width="1440" alt="Screenshot 2020-07-13 at 3 40 53 PM" src="https://user-images.githubusercontent.com/58783823/87294489-81c53880-c521-11ea-9251-b30aab4a24f6.png">
<img width="1440" alt="Screens

[2020-07-13 10:35] SathyaJayabal commented on #4468
verified in beta(develop branch)

<img width="1440" alt="Screenshot 2020-07-13 at 3 49 27 PM" src="https://user-images.githubusercontent.com/58783823/87295326-a53cb300-c522-11ea-9aaf-1cf3081c28ae.png">

[2020-07-13 11:21] crazyk07 commented on #4632
Contest https://www.topcoder.com/challenges/30132709 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-13 12:38] #4587 closed

[2020-07-13 12:38] crazyk07 commented on #4587
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30131998<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-13 12:44] SathyaJayabal commented on #4611
verified on prod
<img width="1440" alt="Screenshot 2020-07-13 at 6 11 07 PM" src="https://user-images.githubusercontent.com/58783823/87305648-77f90080-c534-11ea-8a3a-a7f60f874c2d.png">
<img width="1440" alt="Screenshot 2020-07-13 at 6 11 28 PM" src="https://user-images.githubusercontent.com/58783823/87305684-83e4c280-c534-11ea-8a59-d70bf991a937.png">
<img width="1440" alt="Screenshot 2020-07-13 at

[2020-07-13 12:44] #4611 closed

[2020-07-13 12:44] SathyaJayabal commented on #4468
verified on prod
<img width="1440" alt="Screenshot 2020-07-13 at 6 13 25 PM" src="https://user-images.githubusercontent.com/58783823/87305731-96f79280-c534-11ea-82c2-15ea219ae202.png">

[2020-07-13 12:44] #4468 closed

[2020-07-13 12:45] SathyaJayabal commented on #4626
verified in prod
<img width="1440" alt="Screenshot 2020-07-13 at 6 14 52 PM" src="https://user-images.githubusercontent.com/58783823/87305889-cefed580-c534-11ea-90e4-e7cebea8da0e.png">
<img width="1440" alt="Screenshot 2020-07-13 at 6 14 57 PM" src="https://user-images.githubusercontent.com/58783823/87305904-d58d4d00-c534-11ea-9856-315ea279f9fa.png">

[2020-07-13 12:45] #4626 closed

[2020-07-13 12:47] SathyaJayabal commented on #4635
verified on prod
<img width="1440" alt="Screenshot 2020-07-13 at 6 16 15 PM" src="https://user-images.githubusercontent.com/58783823/87306010-03729180-c535-11ea-9b9a-5665cf7f8e28.png">

[2020-07-13 12:47] #4635 closed

[2020-07-13 12:48] SathyaJayabal commented on #4636
verified on prod
<img width="1440" alt="Screenshot 2020-07-13 at 6 17 14 PM" src="https://user-images.githubusercontent.com/58783823/87306092-22712380-c535-11ea-88ec-37c3f242cfcf.png">

[2020-07-13 12:48] #4636 closed

[2020-07-13 13:34] luizrrodrigues commented on #4641
@sushilshinde PR is ready: https://github.com/topcoder-platform/community-app/pull/4646

-----

- Fixed `forumId` in Challenge Details tab (related in this issue)
- Fixed `forumId` in Challenge Specification (to design challenge)
- Fixed `forumId` in Challenge card in listing page
- Fixed forumId in IosCard
- Fixed mock/test data

[2020-07-13 14:28] SathyaJayabal commented on #4641
@luizrrodrigues , can you help me locate where the below are displayed on the FE
Fixed `forumId` in Challenge card in listing page
Fixed `forumId` in IosCard

[2020-07-13 14:31] sushilshinde commented on #4552
@simranb86 tests are failing

https://circleci.com/gh/topcoder-platform/topcoder-react-lib/1108

[2020-07-13 15:05] sushilshinde commented on #4557
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-07-13 15:17] luizrrodrigues commented on #4641
@SathyaJayabal
- Listing Challenge Card: This is in challenge listing page **My Challenges**, this was showing the next submissions count. (but looks like this was removed now, I updated this too in case of this icon back to the card.
- iOS card: This was showing in Dashboard, but looks like not showing any (I think just show when have an active iOS challenge)

[2020-07-13 15:39] SathyaJayabal commented on #4641
Thanks @luizrrodrigues

[2020-07-13 15:50] SathyaJayabal commented on #4641
verified on beta
<img width="1440" alt="Screenshot 2020-07-13 at 9 18 17 PM" src="https://user-images.githubusercontent.com/58783823/87325102-a552a800-c54e-11ea-81ee-c34f88226062.png">
<img width="1440" alt="Screenshot 2020-07-13 at 9 19 34 PM" src="https://user-images.githubusercontent.com/58783823/87325123-ab488900-c54e-11ea-81a4-2e5f918487b2.png">

[2020-07-14 03:33] mtwomey commented on #4609
Hoping to have the first draft of API updates tomorrow (7/13/2020). (Thomas K is working this)

[2020-07-14 03:37] mtwomey commented on #4628
@sushilshinde had you said you were working with Mithun?

[2020-07-14 06:19] sushilshinde commented on #4628
Yes, tagged you on conversation with him

[2020-07-14 07:39] narekcat commented on #4642
Hello @SathyaJayabal @sushilshinde This issue now works correctly, after this two line changes:
https://github.com/topcoder-platform/resources-api/blob/develop/config/default.js#L9
https://github.com/topcoder-platform/resources-api/blob/develop/src/services/ResourceService.js#L354
If user's challenges becomes more then one thousand then some challenges won't show again. I can change this lines htt

[2020-07-14 13:35] SathyaJayabal opened #4647 "Registrants Duplicated in the registrants list for some challenges"
Registrants Duplicated in the registrants list for some challenges
example
https://beta-community-app.topcoder.com/challenges/ca14c0f3-b29e-4826-a6bb-560d8448cd9b?tab=registrants
<img width="1440" alt="Screenshot 2020-07-14 at 7 03 51 PM" src="https://user-images.githubusercontent.com/58783823/87431815-cbd31a80-c604-11ea-8c11-eed79f3c3ea5.png">

[2020-07-14 13:40] SathyaJayabal opened #4648 "[$40]Register button active and submit button disabled even after user is registered"
Register button active and submit button disabled even after user is registered
examples:
user: picachui
https://beta-community-app.topcoder.com/challenges/2ce9c4cb-b4ce-4aa5-9807-d3f655860732?tab=registrants
https://beta-community-app.topcoder.com/challenges/a64f4d95-0074-4c1a-96f1-91fa4320beca?tab=registrants
https://beta-community-app.topcoder.com/challenges/339964ff-69fe-42f4-b97f-1f67e8561c75

[2020-07-14 13:46] SathyaJayabal commented on #4642
@sushilshinde @narekcat
I am able to see the challenge under my challenges now

<img width="1440" alt="Screenshot 2020-07-14 at 7 16 05 PM" src="https://user-images.githubusercontent.com/58783823/87433082-83b4f780-c606-11ea-9a08-c181a8c77c37.png">

[2020-07-14 14:43] mtwomey commented on #4628
Mithun working this: https://topcoder.slack.com/archives/G012CL5GF71/p1594639585155000

[2020-07-14 14:45] mtwomey commented on #4609
Thomas still working.

[2020-07-14 15:05] mtwomey commented on #4628
So this works with user tokens but not M2M tokens, is that the case? For example, this doesn't return anything with an active / current M2M:

[code]

[2020-07-15 01:49] luizrrodrigues commented on #4621
@sushilshinde This one we need to wait for https://github.com/topcoder-platform/challenge-api/issues/201

Currently when challenge showing the wrong num of registrants if register or unregister will update the count and sync again.

[2020-07-15 02:21] callmekatootie commented on #4628
@mtwomey Did I understand that right? You are able to access the submissions for the contest with id `2ce9c4cb-b4ce-4aa5-9807-d3f655860732` with user token but not with m2m token? If yes, could you kindly give more info here

1. Do you get back an empty array or an error when using m2m tokens? If an error, could you kindly share the error message.
2. What are the scopes on your m2m token?

This ma

[2020-07-15 02:28] sushilshinde commented on #4628
@SathyaJayabal please share another example

[2020-07-15 02:29] sushilshinde commented on #4648
@luizrrodrigues dint we fix this?

[2020-07-15 03:27] SathyaJayabal commented on #4647
This  was fixed by James

[2020-07-15 03:27] #4647 closed

[2020-07-15 03:36] mtwomey commented on #4628
@callmekatootie Hold one moment, @SathyaJayabal is going to get us an other test data set. It's possible I wasn't looking at it quite right.

[2020-07-15 03:45] luizrrodrigues commented on #4648
@sushilshinde Yes, this was fixed.

@SathyaJayabal Looks like working well here:
https://beta-community-app.topcoder.com/challenges/a64f4d95-0074-4c1a-96f1-91fa4320beca?tab=registrants
and
https://beta-community-app.topcoder.com/challenges/339964ff-69fe-42f4-b97f-1f67e8561c75?tab=registrants

Groups test can't test because I haven't access to the group.

![image](https://user-images.githubusercont

[2020-07-15 04:11] SathyaJayabal commented on #4610
@sushilshinde , this was caused by the user not having the "Topcoder User" role. Thanks @mtwomey for helping us to identify this.

cc @lakshmiathreya

[2020-07-15 04:11] #4610 closed

[2020-07-15 04:11] crazyk07 commented on #4610
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-15 04:35] SathyaJayabal commented on #4628
@callmekatootie, we can use the same challenge (we have new UUID due to data migration)

https://beta-community-app.topcoder.com/challenges/0ea10b6f-c089-457b-8c08-b01be006b25e
https://www.topcoder.com/challenges/30131098

User for whom we get the error:
CustomerUser/appirio123
User role: Topcoder User

User for whom we do **NOT** get the error:
lakshmiathreya
User role: Admin

@mtwomey @callmekat

[2020-07-15 04:51] SathyaJayabal commented on #4648
@luizrrodrigues , This issue is not consistent. I still see the blue register button for this challenge even though I am regsitered
https://beta-community-app.topcoder.com/challenges/a64f4d95-0074-4c1a-96f1-91fa4320beca?tab=registrants
user: picachui

You can replicate the issue with following user
user: CustomerUser/appirio123
Challenge: https://beta-community-app.topcoder.com/challenges/0ea10b6f

[2020-07-15 05:45] SathyaJayabal opened #4649 "Challenge Listings missing challenges for logged in user"
For logged in user, very few challenges are listed
example:
user : CustomerUser/appirio123
Only 4 challenges listed on v5 as opposed to 54 on Prod(v4)

This is an api issue as only 4 challenges returned for this call from the FE
https://api.topcoder.com/v5/challenges/?status=Active&perPage=99&page=1

cc @lakshmiathreya @sushilshinde @mtwomey @rootelement
<img width="1440" alt="Screenshot 2020-07-1

[2020-07-15 06:04] SathyaJayabal commented on #4527
@simranb86 , please check again as the api now returns completed challenges.

[2020-07-15 06:25] luizrrodrigues commented on #4648
@SathyaJayabal Thanks for give more examples.

@sushilshinde I have found the issue, is about miss match var type, `userId` in auth return is **String** type and `memberId` in registrants is **Number** type.

I think this need be fixed in API to keep data type consistent, but if you want we handle this in FE, I'll push a hot fix to this one.

[2020-07-15 06:37] SathyaJayabal commented on #4492
@sushilshinde , issue fixed on api side and working as expected.
https://github.com/topcoder-platform/challenge-api/issues/197
cc @lakshmiathreya

[2020-07-15 06:37] crazyk07 commented on #4492
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-15 06:47] #4641 closed

[2020-07-15 06:47] crazyk07 commented on #4641
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30132585<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-15 06:52] SathyaJayabal commented on #4642
wait for https://github.com/topcoder-platform/community-app/issues/4649

[2020-07-15 06:54] narekcat commented on #4492
@SathyaJayabal @sushilshinde This issue fixed on back end side, but I spent time to observe and find that the issue is with "challenge-api". Will you pay me some compensation for my efforts ?

[2020-07-15 08:13] sushilshinde commented on #4492
Sure don't worry

[2020-07-15 08:39] narekcat commented on #4492
@sushilshinde Ok, thanks.

[2020-07-15 09:09] SathyaJayabal commented on #4648
cc @mtwomey @rootelement @lakshmiathreya

[2020-07-15 10:13] SathyaJayabal commented on #4649
Looks good now. Could have been data sync or migration issue
<img width="1440" alt="Screenshot 2020-07-15 at 3 43 06 PM" src="https://user-images.githubusercontent.com/58783823/87533227-e9aa8900-c6b1-11ea-920d-780b01845c6c.png">

[2020-07-15 10:13] #4649 closed

[2020-07-15 10:17] SathyaJayabal commented on #4642
@sushilshinde, not sure how this is fixed, but I see the all the challenges under my challenges bucket now.

[2020-07-15 10:17] #4642 closed

[2020-07-15 10:17] crazyk07 commented on #4642
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-15 15:42] sushilshinde commented on #4648
@luizrrodrigues please PR

[2020-07-15 15:43] crazyk07 commented on #4648
Contest https://www.topcoder.com/challenges/30133108 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-15 15:43] crazyk07 commented on #4648
Contest https://www.topcoder.com/challenges/30133108 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-15 16:45] crazyk07 commented on #4492
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30128920<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-15 21:30] luizrrodrigues commented on #4648
@sushilshinde PR is ready: https://github.com/topcoder-platform/topcoder-react-lib/pull/208

- Fixed `memberId` comparation with different data type
- Also fixed snapshot test related with https://github.com/topcoder-platform/community-app/issues/4552

[2020-07-15 21:31] luizrrodrigues commented on #4552
@sushilshinde My latest PR to `topcoder-react-lib` fix that.
https://github.com/topcoder-platform/topcoder-react-lib/pull/208

[2020-07-16 02:27] sushilshinde commented on #4552
they thanks @luizrrodrigues

[2020-07-16 02:53] sushilshinde commented on #4609
@ThomasKranitsas updates on this?

[2020-07-16 04:05] crazyk07 commented on #4557
Contest https://www.topcoder.com/challenges/30130311 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-16 04:28] SathyaJayabal commented on #4552
@simranb86 @sushilshinde ,  Dont see the the submissions on the  submissions table for all challenges.
<img width="1440" alt="Screenshot 2020-07-16 at 9 55 21 AM" src="https://user-images.githubusercontent.com/58783823/87626723-ba942600-c74a-11ea-8055-dc5f75f6877e.png">

<img width="1440" alt="Screenshot 2020-07-16 at 9 54 57 AM" src="https://user-images.githubusercontent.com/58783823/87626643-7bf

[2020-07-16 04:29] SathyaJayabal commented on #4648
verified on Beta
<img width="1440" alt="Screenshot 2020-07-16 at 9 56 19 AM" src="https://user-images.githubusercontent.com/58783823/87626705-a819ec80-c74a-11ea-8064-2637a7bc8d06.png">
<img width="1440" alt="Screenshot 2020-07-16 at 9 56 29 AM" src="https://user-images.githubusercontent.com/58783823/87626768-d3044080-c74a-11ea-8bdd-52fe5ef34560.png">

[2020-07-16 04:30] SathyaJayabal commented on #4628
verified on beta
<img width="1440" alt="Screenshot 2020-07-16 at 9 58 13 AM" src="https://user-images.githubusercontent.com/58783823/87626801-e44d4d00-c74a-11ea-8ec1-54abef046986.png">

[2020-07-16 04:48] SathyaJayabal commented on #4628
@rootelement @mtwomey @lakshmiathreya, user is able to submit for the challenge belonging to a the test group. As James said in the call, the submissions api accesses the challenge using the `tcwebservice`. The `tcwebservice` is added as a member to the test group.

Will `tcwebservice` be a default member to any group? How do we make sure of that?
<img width="1591" alt="Screenshot 2020-07-16 at 10

[2020-07-16 04:54] lakshmiathreya commented on #4610
Listings for 'lakshmiacopilot' after Topcoder User role was added:
<img width="1652" alt="Screenshot 2020-07-16 at 10 22 31 AM" src="https://user-images.githubusercontent.com/51733042/87628366-65f2aa00-c74e-11ea-9131-854688bb0ae4.png">

[2020-07-16 05:25] SathyaJayabal opened #4650 "[$50]Subcommunity filter does not include private groups"
Subcommunity  filter does not include  private groups
https://www.topcoder.com/challenges?
https://beta-community-app.topcoder.com/challenges?

cc @lakshmiathreya @Oanh-and-only-Oanh @sushilshinde

<img width="1440" alt="Screenshot 2020-07-16 at 10 19 56 AM" src="https://user-images.githubusercontent.com/58783823/87628277-304dc100-c74e-11ea-9e52-a80b7e05fdfd.png">
<img width="1440" alt="Screenshot

[2020-07-16 05:46] rootelement commented on #4628
cc @cwdcwd ?

[2020-07-16 07:09] rootelement commented on #4609
@sushilshinde I'm working with Thomas. He has a to-do list for the start of his day. We should have this functioning in dev today. I will update when I get back to my desk.

@luizrrodrigues There will be a change in how you implement this. Couple things:
First, we removed the stupid `noauth` thing. If you pass JWT, it uses it, if you don't, it doesn't. M2M and Admin JWT don't need to pass `?member

[2020-07-16 07:33] SathyaJayabal commented on #4091
Verified on prod. Works as expected.

[2020-07-16 07:33] #4091 closed

[2020-07-16 08:24] SathyaJayabal commented on #4502
@kkartunov, what do you mean  by
[code]

[2020-07-16 08:28] #4648 closed

[2020-07-16 08:29] crazyk07 commented on #4648
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133108<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-16 09:13] kkartunov commented on #4502
@SathyaJayabal I mean links in navi
![Screenshot 2020-07-16 12:12:28](https://user-images.githubusercontent.com/5585002/87653074-b02f5780-c75d-11ea-8403-be6f937948e8.png)
and footer at page bottom.

[2020-07-16 10:42] SathyaJayabal commented on #4502
Thanks @kkartunov , one more question?
Will this format not work https://www.topcoder-dev.com/policy?

[2020-07-16 10:44] SathyaJayabal commented on #4502
verified on dev
<img width="1440" alt="Screenshot 2020-07-16 at 3 50 50 PM" src="https://user-images.githubusercontent.com/58783823/87662071-4de74e80-c77f-11ea-9dc3-81420d51e548.png">
<img width="498" alt="Screenshot 2020-07-16 at 3 51 08 PM" src="https://user-images.githubusercontent.com/58783823/87662092-550e5c80-c77f-11ea-944d-7e116173544e.png">
<img width="1440" alt="Screenshot 2020-07-16 at 4

[2020-07-16 14:02] kkartunov commented on #4502
Thank You @SathyaJayabal!

[2020-07-16 14:14] rootelement commented on #4628
According to @cwdcwd, when a group gets created, Support has been fielding adding `tcwebservice` user to that group. So for any groups you've created for testing, please add that group.

This problem goes away when we move submission api v5.

Keep in mind that this could actually throw off the group counts in v4 vs. v5 that we were talking about yesterday.

cc: @mtwomey

[2020-07-16 14:42] callmekatootie commented on #4628
Does this mean that the ticket in submission api gets closed as well? Is the issue resolved?

[2020-07-16 14:46] SathyaJayabal commented on #4628
@callmekatootie yes right, I will close it right away.

[2020-07-16 14:48] rootelement commented on #4628
Reopening this to pay Mithun for his time researching.

[2020-07-16 14:50] crazyk07 commented on #4628
Contest https://www.topcoder.com/challenges/30133195 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-16 14:50] crazyk07 commented on #4628
Contest https://www.topcoder.com/challenges/30133195 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-16 14:53] #4628 closed

[2020-07-16 14:58] crazyk07 commented on #4628
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133195<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-16 17:11] Oanh-and-only-Oanh commented on #4606
To consider if we rebuild RSS feed or utilize notifications

[2020-07-16 19:17] luizrrodrigues commented on #4609
@rootelement cool, looks good, I'll start with updates tonight (my time)

And thanks for raise the payment, I appreciated that.

[2020-07-16 20:37] rootelement commented on #4609
This is confirmed working.

Get Terms with User JWT
[code]
response:
[code]

Get Docusign Envelope URL
[code]

Get Status for User again (first request), response should now be:
[code]

The webhook can take 4 or 5 seconds to call back. You'll have to show an animation or something...

[2020-07-17 03:29] SathyaJayabal commented on #4552
Raising the priority.

[2020-07-17 06:22] kkartunov commented on #4101
@Oanh-and-only-Oanh @SathyaJayabal testing URL is https://community-app.topcoder-dev.com/__community__/wipro

[2020-07-17 07:10] SathyaJayabal commented on #4101
@kkartunov, Topgear site on dev env works as on prod except for the below differences.
Home page:
1. Initiate Project URL includes user_id param in prod while it is missing here.
PROD: https://topgear-app.wipro.com/topcoder_projects/initiate_project?user_id=xxxxxx
FEATURE BRANCH: https://topgear-app.wipro.com/topcoder_projects/initiate_project

2. Differences in style in the home page and footer

[2020-07-17 07:37] kkartunov commented on #4101
Thanks @SathyaJayabal! @Oanh-and-only-Oanh ^^^, fyi

[2020-07-17 07:45] SathyaJayabal commented on #4648
@sushilshinde , tested this again. Looks good.
<img width="1440" alt="Screenshot 2020-07-17 at 1 02 02 PM" src="https://user-images.githubusercontent.com/58783823/87761366-f7394d80-c82e-11ea-9f8c-e9ad01e5ae38.png">
<img width="1440" alt="Screenshot 2020-07-17 at 1 10 46 PM" src="https://user-images.githubusercontent.com/58783823/87761434-133cef00-c82f-11ea-8047-bffa71b10d43.png">

[2020-07-17 07:48] SathyaJayabal commented on #4552
This fix was reverted. Submissions are visible now. Reducing the priority.
<img width="1440" alt="Screenshot 2020-07-17 at 1 17 26 PM" src="https://user-images.githubusercontent.com/58783823/87761928-e76e3900-c82f-11ea-9095-cd4783a52d41.png">

[2020-07-17 08:03] SathyaJayabal commented on #4552
https://github.com/topcoder-platform/community-app/issues/4552#issue-640432688
Only 1 and 2 in scope for this ticket

cc @sushilshinde

[2020-07-17 09:44] m-yadav opened #4654 "SSO mapped users able to change email"
**Describe the bug**
Wipro SSO users are able to change their email addresses via profile settings. Since the users are coming from Wipro authentications, email change for such users should not be allowed.

**To Reproduce**

1. Logg in via WIpro SSO on topgear.topcoder.com
2. Go to profile section --> Accounts
3. As per the below snippet, the user is able to change the email and send over the veri

[2020-07-17 11:37] SathyaJayabal commented on #4654
cc @Oanh-and-only-Oanh @lakshmiathreya

[2020-07-17 14:35] rootelement commented on #4609
@luizrrodrigues Any update here?

[2020-07-17 14:56] kkartunov commented on #4101
Thanks, @Oanh-and-only-Oanh. @SathyaJayabal we will continue with that as it is...