[2020-03-03 11:35] SathyaJayabal commented on #3550
@LieutenantRoger , the search from the header in the test env is redirecting the user to the search results page of the dev env(legacy page). Please see video.
The migrated search results page works fine when accessed using the url. The search functionality works fine.
[search.mov.zip](https://github.com/topcoder-platform/community-app/files/4281032/search.mov.zip)

[2020-03-03 11:40] LieutenantRoger commented on #3550
Thanks, will take a look at the navigation issue.

[2020-03-03 13:27] LieutenantRoger commented on #3575
Hi @sumitdaga

Sorry for the late response, we have got a base branch now,  could you please work on `hot-fix-delete-submission` branch:

https://github.com/topcoder-platform/topcoder-react-lib/tree/hot-fix-delete-submission

Thanks

[2020-03-03 14:37] sumitdaga commented on #3575
Hey @LieutenantRoger
i updated the existing MR https://github.com/topcoder-platform/topcoder-react-lib/pull/124 to use the above branch and there were no conflicts , so i guess its fine!

[2020-03-04 05:38] SathyaJayabal commented on #3992
Verified on dev env
Testing with user thomaskranitsas for the topcoder, topgear, cognitive communities. Compared the data on the profile with the data returned by members api.
Note: Profile history pages are not available for private groups.

<img width="1440" alt="Screenshot 2020-03-04 at 11 06 46 AM" src="https://user-images.githubusercontent.com/58783823/75848531-7b52e180-5e08-11ea-9c8d-5188d68

[2020-03-04 09:00] SathyaJayabal commented on #4005
This issue is now fixed
<img width="1439" alt="Screenshot 2020-03-04 at 2 29 59 PM" src="https://user-images.githubusercontent.com/58783823/75862247-a77c5b80-5e24-11ea-99b5-d15d0ae67924.png">

[2020-03-04 09:00] #4005 closed

[2020-03-04 09:27] SathyaJayabal commented on #3991
this issue is fixed now
<img width="1440" alt="Screenshot 2020-03-04 at 2 32 37 PM" src="https://user-images.githubusercontent.com/58783823/75862476-05a93e80-5e25-11ea-9648-2cad764e1426.png">

[2020-03-04 09:27] #3991 closed

[2020-03-04 09:29] SathyaJayabal commented on #4008
This is working now
<img width="1440" alt="Screenshot 2020-03-04 at 2 58 49 PM" src="https://user-images.githubusercontent.com/58783823/75864896-b6fda380-5e28-11ea-8949-3b4b6d8b3825.png">

[2020-03-04 12:34] kkartunov opened #4061 "Update fetch service of Contentful"
Fetch service of Contentful is hitting API rate limits for pages with large number of models. Increase the wait time to avoid problems like it.

Test: https://community-app.topcoder.com/examples/contentful/viewport/4yKPWM9C02JNg0vhtuh2TI
Expected: Render the page instead of showing "Too Many Requests"

[2020-03-04 12:34] SathyaJayabal commented on #3992
There seems to be an integration issue. When the user clicks on the my profile link from their username drop down menu (in the respective community sites), they are directed to the public stats page. They should be directed to the respective community profile page
[profile.mov.zip](https://github.com/topcoder-platform/community-app/files/4287254/profile.mov.zip)

[2020-03-04 12:48] SathyaJayabal commented on #4026
verified on dev env
<img width="1440" alt="Screenshot 2020-03-04 at 6 15 45 PM" src="https://user-images.githubusercontent.com/58783823/75880912-377dcd80-5e44-11ea-8dd3-d43e70e55a31.png">
@LieutenantRoger , as this problem happens only on dev env, I am closing this issue.

[2020-03-04 12:48] #4026 closed

[2020-03-05 06:59] LieutenantRoger commented on #3575
Hmm, I believe you will have to merge `hot-fix-delete-submission` back into your local branch and verify, even though there's no conflict. The original base branch is very old, I don't think we can merge the PR like this.

[2020-03-05 07:06] sumitdaga commented on #3575
ok, sure, i will verify it when i can and let you know!

[2020-03-05 07:43] SathyaJayabal commented on #3992
Verified on dev (develop branch)
Note: Only topgear community is in scope.
<img width="1440" alt="Screenshot 2020-03-05 at 1 06 33 PM" src="https://user-images.githubusercontent.com/58783823/75958742-dd801500-5ee2-11ea-8dd1-8913b903965d.png">
<img width="1440" alt="Screenshot 2020-03-05 at 1 06 37 PM" src="https://user-images.githubusercontent.com/58783823/75958752-e244c900-5ee2-11ea-8a40-46f5c9d2

[2020-03-05 08:02] LieutenantRoger commented on #4010
Hi @Oanh-and-only-Oanh

After some discussion with @urwithat , this ticket seems not an issue.
It seems by design that we only show top 10 result returned if there are more than 10 result.

Could you please take a more deep look about whether there's issue on this screen  ?

Thank you.

[2020-03-05 08:04] LieutenantRoger commented on #4010
Also, please take a look at below steps as well to see if this is a valid issue on this screen:

1. visit https://www.topcoder.com/search/members/?q=java (note, at bottom table, it shows 10 results)
2. click the first member card in the result list at the top table, then click <- button in the browser to go back to the search result screen.
3. scroll down to the bottom table, it still display 10 r

[2020-03-05 11:08] lakshmiathreya commented on #3988
@sushilshinde

[2020-03-05 11:08] lakshmiathreya commented on #4032
@sushilshinde

[2020-03-05 12:31] urwithat commented on #3988
This is on dev

[2020-03-05 12:54] urwithat commented on #4032
This issue seems to be related to lookup api url. This does not have any relation with member service or any of its releases.

[2020-03-06 05:21] urwithat commented on #4032
I see this issue only on dev environment, this is because a mapping is missing in nginx, we will need help from our DevOps Team to resolve this.

URL like the following are throwing an exception on our development environment:
https://api.topcoder-dev.com/v4/looks/1143/run/json - as looks service is not available

Whereas looking at production
https://api.topcoder.com/v4/looks/1143/run/json - as l

[2020-03-06 05:24] SathyaJayabal commented on #4032
@Gunasekar-K , can you help with this please?

[2020-03-06 05:30] SathyaJayabal commented on #3988
Verified on dev
<img width="1440" alt="Screenshot 2020-03-06 at 10 59 46 AM" src="https://user-images.githubusercontent.com/58783823/76055423-9dc83480-5f99-11ea-84fa-08b674f017bf.png">

[2020-03-06 05:58] SathyaJayabal commented on #3999
<img width="1440" alt="Screenshot 2020-03-06 at 11 28 02 AM" src="https://user-images.githubusercontent.com/58783823/76056831-930f9e80-5f9d-11ea-85f1-d08bb95e56f7.png">
<img width="1440" alt="Screenshot 2020-03-06 at 11 28 07 AM" src="https://user-images.githubusercontent.com/58783823/76056839-9a36ac80-5f9d-11ea-8428-acd8b5240441.png">

[2020-03-06 07:13] veshu commented on #4021
@Oanh-and-only-Oanh It won't catch the above cases where challenge is created wrongly. Instead can we introduce some tag(e.g. dummy) etc so we can filter not to show the such challenges. also in that we can completely hide them from listing as well recommended.

[2020-03-06 08:51] sushilshinde opened #4071 "Remove $ sign from stats page"
Go to : https://community-app.topcoder.com/community/statistics
Before loading actual number, place holder text had $ sign, which needs to be removed

<img width="1162" alt="Screen Shot 2020-03-06 at 2 17 32 PM (2) 2020-03-06 14-17-56" src="https://user-images.githubusercontent.com/683231/76067593-a7f82c00-5fb5-11ea-8f1d-e411d0fc1228.png">

[2020-03-06 08:51] sushilshinde commented on #4071
FYI @Dara-K @Oanh-and-only-Oanh @urwithat

[2020-03-06 09:50] SathyaJayabal commented on #3999
verified on prod
<img width="1440" alt="Screenshot 2020-03-06 at 3 19 25 PM" src="https://user-images.githubusercontent.com/58783823/76072373-e396f400-5fbd-11ea-8ea6-2262f21fb732.png">

[2020-03-06 09:50] #3999 closed

[2020-03-06 09:51] SathyaJayabal commented on #3988
verified on prod
<img width="1440" alt="Screenshot 2020-03-06 at 3 20 42 PM" src="https://user-images.githubusercontent.com/58783823/76072493-1640ec80-5fbe-11ea-8de4-40ea81c541ff.png">

[2020-03-06 09:51] #3988 closed

[2020-03-06 10:00] SathyaJayabal commented on #3992
verified on prod
topgear profile
<img width="1626" alt="Screenshot 2020-03-06 at 1 40 36 PM" src="https://user-images.githubusercontent.com/58783823/76073062-0d9ce600-5fbf-11ea-9564-be89a1ab5b7b.png">

topgear empty profile
<img width="1573" alt="Screenshot 2020-03-06 at 2 40 11 PM" src="https://user-images.githubusercontent.com/58783823/76072894-c6165a00-5fbe-11ea-9787-a029bac3d85a.png">

public

[2020-03-06 10:00] #3992 closed

[2020-03-06 10:49] SathyaJayabal opened #4072 "TCO20 site is not loading"
Go to: https://tco20.topcoder.com/
There is an error "Cannot read property 'fields' of undefined" on the page.
Note: no console logs
Issue is seen in the beta and dev environments too

cc @kkartunov
<img width="1440" alt="Screenshot 2020-03-06 at 4 17 45 PM" src="https://user-images.githubusercontent.com/58783823/76077076-09c09200-5fc6-11ea-94db-020df6b20a91.png">

[2020-03-06 10:54] SathyaJayabal commented on #4072
cc @lakshmiathreya @sushilshinde

[2020-03-06 13:47] Oanh-and-only-Oanh commented on #4010
Looks like this is not a valid issue. Closing ticket.

[2020-03-06 13:47] #4010 closed

[2020-03-06 15:16] SathyaJayabal commented on #4072
@kkartunov @sushilshinde @ThomasKranitsas
looks good in dev and beta
<img width="1440" alt="Screenshot 2020-03-06 at 8 44 50 PM" src="https://user-images.githubusercontent.com/58783823/76096049-65514680-5feb-11ea-9fde-d11113459774.png">
<img width="1440" alt="Screenshot 2020-03-06 at 8 44 52 PM" src="https://user-images.githubusercontent.com/58783823/76096099-7bf79d80-5feb-11ea-9ace-c4f45b2692af.p

[2020-03-06 16:03] SathyaJayabal commented on #4072
verified on production.
<img width="1440" alt="Screenshot 2020-03-06 at 9 32 20 PM" src="https://user-images.githubusercontent.com/58783823/76100036-080cc380-5ff2-11ea-972d-96d0bcf3d68f.png">

[2020-03-06 16:03] #4072 closed

[2020-03-06 16:13] SathyaJayabal opened #4075 "Topcoder Communities"
Some of the communities listed below are not working on production
https://beta-community-app.topcoder.com/

Communities that are. not working:
https://beta-community-app.topcoder.com/__community__/iot
https://beta-community-app.topcoder.com/__community__/mobile
https://beta-community-app.topcoder.com/__community__/qa
https://beta-community-app.topcoder.com/__community__/srmx
https://beta-communit

[2020-03-06 16:18] panjikharisma opened #4076 "[BUG] Fluctuating Challenge Deadline"
**Description**
The deadline of some challenges are changing (e.g. -/+ 10h) without the consent of PM/Copilot. It  has made [several members failing to submit/finish their submission properly](https://apps.topcoder.com/forums/?module=Thread&threadID=951482&start=0).

**To Reproduce - Sample Cases**
It's a server-side problem, and we don't know how to trigger this. But we've compiled a little list

[2020-03-07 02:03] #4035 closed

[2020-03-07 08:34] LieutenantRoger commented on #3550
The fixes to the issues above are deployed under `test` environment

[2020-03-07 09:22] LieutenantRoger commented on #3986
Closing the thread as related problem are resolved in Challenges.

[2020-03-07 09:22] #3986 closed

[2020-03-07 09:22] crazyk07 commented on #3986
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-07 09:24] LieutenantRoger commented on #3987
Closing the ticket as related problems are resolved in Challenges

[2020-03-07 09:24] #3987 closed

[2020-03-09 03:41] kkartunov opened #4077 "Relink About in footer to Learn page"
https://www.topcoder.com/community/about will be deprecated and replaced with https://www.topcoder.com/community/learn thus relink "ABOUT US" in the footer.

[2020-03-09 03:46] kkartunov commented on #4071
@sushilshinde $ is intended to be. It shows the prize currency. Actually there is no way currently to show it after loading of API data is completed.

[2020-03-09 05:09] SathyaJayabal commented on #3474
Verified on dev env (hot fix branch) and  topcoder-react-lib version "1000.6.3"
<img width="1440" alt="Screenshot 2020-03-09 at 10 38 47 AM" src="https://user-images.githubusercontent.com/58783823/76184505-38bb4b80-61f2-11ea-83c0-a22dc33f2208.png">

[2020-03-09 05:30] SathyaJayabal commented on #3550
Verified on test (feature branch)
<img width="1440" alt="Screenshot 2020-03-09 at 10 58 50 AM" src="https://user-images.githubusercontent.com/58783823/76185403-2262bf00-61f5-11ea-9407-208a8093c0f6.png">

[2020-03-09 09:51] sushilshinde commented on #3547
Production deployment on hold as production `v5/lookups API` isn't ready yet.

@Oanh-and-only-Oanh @drasticdpk

[2020-03-09 10:22] m-yadav opened #4080 "User unable to view profile page"
**Describe the bug**
Member is unable to view the profile at topcoder.com/member/username. The page loads blank and error in console can be seen as "Uncaught (in promise) TypeError: Cannot read property 'SRM' of null"

Reference usernames : Computer_Col , Emp1730

**To Reproduce**
Steps to reproduce the behavior:
1. Go to topcoder.com/member/username
2. open browser console
3. See error

**Expecte

[2020-03-09 10:30] sushilshinde commented on #4071
@kkartunov @LieutenantRoger

We are not removing `$` sign from post rendered text. That's `loading...` text has`$loading...`

[2020-03-09 11:12] drasticdpk commented on #4037
Verified on Beta Env :
![image](https://user-images.githubusercontent.com/25297859/76206744-b009d300-6224-11ea-908f-6830563c5817.png)

But there is typo on Taas page. Shall I create new issue for it or we can fix here too ?  cc @luizrrodrigues @SathyaJayabal
![image](https://user-images.githubusercontent.com/25297859/76207389-cd8b6c80-6225-11ea-8a31-6f480289af96.png)

[2020-03-09 11:37] drasticdpk commented on #3474
Verified on  Beta Env :
![image](https://user-images.githubusercontent.com/25297859/76209671-8a7fc800-622a-11ea-8213-78c951defcb8.png)

[2020-03-09 11:44] lakshmiathreya commented on #4037
verified on Beta - but the typo "technolgies" called out above is still there - should be fixed.
<img width="1658" alt="Screenshot 2020-03-09 at 5 13 24 PM" src="https://user-images.githubusercontent.com/51733042/76210082-5d7ee580-6229-11ea-9815-8e54a188bae7.png">

[2020-03-09 11:45] sushilshinde commented on #4037
@luizrrodrigues please check

[2020-03-09 11:47] LieutenantRoger commented on #3474
Thank you @drasticdpk

[2020-03-09 11:50] luizrrodrigues commented on #4037
@drasticdpk Yes, please create a new ticket, the issue not related to this one.

@sushilshinde looks like double QA in this one:

This was a comment about previous QA (37min ago), so the "still there" no valid. :D

[2020-03-09 12:23] drasticdpk opened #4081 "Typo on Taas page"
1. Go to Taas page https://www.topcoder.com/community/taas
2. Go to SALESFORCE DEVELOPERS section.
3.  There is technolgies instead of technologies.

![image](https://user-images.githubusercontent.com/25297859/76207389-cd8b6c80-6225-11ea-8a31-6f480289af96.png)

_Originally posted by @drasticdpk in https://github.com/topcoder-platform/community-app/issues/4037#issuecomment-596465151_

[2020-03-09 12:33] luizrrodrigues commented on #4081
@kkartunov This is about typo in Salesforce Developers card.

[2020-03-09 13:45] kkartunov commented on #4081
@drasticdpk @luizrrodrigues fixed.

[2020-03-09 13:45] #4081 closed

[2020-03-09 16:36] lakshmiathreya commented on #3278
@sushilshinde @Oanh-and-only-Oanh this is continuing to fail - verified on Beta with 0.23.02. Pls advise reg timeline for fix.

[2020-03-09 16:37] lakshmiathreya commented on #3360
@Oanh-and-only-Oanh @sushilshinde pls advise reg timeline for fix.

[2020-03-09 18:42] Oanh-and-only-Oanh opened #4082 "Private member profiles should be open up in a new browser tab"
~1) **Behavior**: When a Topgear member clicks a member's handle, it navigates user to the public domain i.e. https://www.topcoder.com/members/Rinal~

~**Expected behavior**: When a Topgear member clicks a member's handle, user is navigated to the member's profile page WITHIN Topgear's domain.  i.e. https://topgear.topcoder.com/members/Rinal~

~2) If the member's handle is NOT part of Topgear's gr

[2020-03-09 19:26] Oanh-and-only-Oanh commented on #4021
@veshu, Let's introduce "Dummy challenge" tag so we can exclude them from the recommendations.

[2020-03-09 20:36] arnavvats opened #4083 "[$60]Rating Graph Not Shown in Profile"
**Describe the bug**
I've participated in two rated SRMs in the arena, and I can see my current rating in the arena. But when I open my profile in the topcoder website, it says I have not yet participated in any match and I cannot see any rating history. Please look into it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://www.topcoder.com/members/arnavvats](https://www.topcode

[2020-03-10 02:51] sushilshinde commented on #3360
@Oanh-and-only-Oanh please help with the priority

[2020-03-10 03:17] LieutenantRoger commented on #4082
@Oanh-and-only-Oanh   For #1,  we seems not having a challenge that can allow us to reproduce this in the `topgear` domain right now.  https://topgear.topcoder-dev.com/challenges , all the challenges in this page can't display detail. So where we can find a member to click under `topgear` domain in development envrionment?

[2020-03-10 03:35] LieutenantRoger commented on #4082
#2, why a topgear user is able to click a member's handle in public domain ?  I seems could only think up that this scenario will happen only when a topgear user try to fill the link in the browser directly like this:  https://topgear.topcoder.com/members/Rinal

[2020-03-10 03:44] LieutenantRoger commented on #4082
FYI, I have draft a challenge spec for this ticket, please take a look:
https://docs.google.com/document/d/1FzTgw7HcOicgOzlWyMd1AmPHId5F9FljRWyVn2MI9_A/edit?usp=sharing

[2020-03-10 04:01] LieutenantRoger opened #4084 "Improve the build workflow on community-app"
**Describe the bug**
Merge the code in `build-improvement` into `develop`
We have try to improve the build experience long ago, but the code is not merged yet.

The changed code now is on the `build-tune` branch

**Additional context**

The original is on: `build-improvement` branch.
The original ticket link is: https://github.com/topcoder-platform/community-app/issues/3335
The code change is:  ht

[2020-03-10 04:19] Oanh-and-only-Oanh commented on #3360
@sushilshinde, this is low priority. I'll put this on the TO DO column but ON HOLD until we wrap up other more pressing issues.

[2020-03-10 04:20] LieutenantRoger commented on #4002
Hi @Oanh-and-only-Oanh , For this ticket, I have draft two challenge specs for them, please take a look :

https://docs.google.com/document/d/1FzTgw7HcOicgOzlWyMd1AmPHId5F9FljRWyVn2MI9_A/edit?usp=sharing

https://docs.google.com/document/d/1PpTLByyoXtNpgFjrYODDoaQAp0hdyvJwk93kLDA2Va0/edit?usp=sharing

[2020-03-10 04:25] Oanh-and-only-Oanh commented on #3278
@lakshmiathreya @sushilshinde, adding this issue to list of hot-fixes to be worked on soon.

[2020-03-10 04:27] Oanh-and-only-Oanh commented on #2382
@SathyaJayabal,  We need to `hide the save` filters feature.

[2020-03-10 05:45] luizrrodrigues opened #4085 "Notifications - Challenges item need be clickable and go to Challenge page"
The challenge notification should take the user to the. challenge details page on clicking it. Will this be implemented after API integration?

[2020-03-10 09:05] macs054 commented on #4085
Verified in Test Env.

[2020-03-10 09:08] macs054 commented on #4057
Verified in Test Env.

[2020-03-10 09:11] macs054 commented on #3337
Verified in Test Env

[2020-03-10 10:28] macs054 commented on #4013
When switching between Active Challenges and Notifications tab the latest notification gets added to the list. The notifications also appear in Completed Challenges tab.
[issue_4013_test.zip](https://github.com/topcoder-platform/community-app/files/4311758/issue_4013_test.zip)

[2020-03-10 15:01] luizrrodrigues commented on #4013
@macs054 This one was fixed and ready to review.

[2020-03-10 17:00] macs054 commented on #4013
Verified in Test Env

[2020-03-10 17:31] Oanh-and-only-Oanh commented on #4082
@atif, please help with question 1 above.

[2020-03-10 17:32] Oanh-and-only-Oanh commented on #4082
question 2. @LieutenantRoger, a scenario would be...

[2020-03-11 01:48] LieutenantRoger commented on #4082
Question 1:  I found two challenges that allowing us to see a member handle.

https://topgear.topcoder-dev.com/challenges/30055960?tab=registrants
https://topgear.topcoder-dev.com/challenges/30055753?tab=registrants

For this, it looks we need to find all areas on the topgear site where it shows a member's handle, this looks like a side task.

@Oanh-and-only-Oanh

1) I think we need a separate tas

[2020-03-11 02:08] LieutenantRoger commented on #4082
https://docs.google.com/document/d/1QEvbKQ9xPKqMZqWv_Fu9SQOMBQaWAAM39bpMj_yTDuc/edit?usp=sharing

Here's a challenge spec to find all the URLs which contain member handle link under the `topgear` domain.

[2020-03-11 02:43] Oanh-and-only-Oanh commented on #4082
Question 2: takes this challenge for example, https://topgear.topcoder.com/challenges/30118814, it's a public challenge but it's also made available on topgear. So if a topgear user goes into the registrant or submission tabs of that challenge and clicks on a public member's handle, it will take the user to the public domain. We want to change it so if it is a public handle, the topgear member sho

[2020-03-11 03:08] LieutenantRoger commented on #4082
I don't have access to above challenge.  I think we need to setup a test challenge under topgear.topcoder-dev.com while we can use `TonyJ` user to visit, and this challenge will contain both topgear user and public user in registration and submission tab.

We will perhaps setup up more public handles in topgear domain in other areas (identified here: https://docs.google.com/document/d/1QEvbKQ9xPKq

[2020-03-11 03:18] Oanh-and-only-Oanh commented on #4082
@lakshmiathreya, can you help with the above? We need to set up a test challenge under  topgear.topcoder-dev.com

[2020-03-11 03:32] Oanh-and-only-Oanh opened #4086 "View Member stats history for Private communities."
Currently, the member stats data for public and private communities are being provided and displayed on the front end.
Member stats history data for public communities are available and displayed on the front end.
Member stats history data for private communities will display the public stats history, so we have removed the link for now until we can get data populated to dynamodb via the data load

[2020-03-11 03:40] SathyaJayabal commented on #3360
This will be fixed as part of #3278

[2020-03-11 03:40] #3360 closed

[2020-03-11 03:47] LieutenantRoger opened #4088 "Migrate the Setting page into private group, e.g. `topgear`"
**Describe the bug**
Migrate the Setting page into private group: `topgear`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://topgear.topcoder-dev.com/members/TonyJ`
2. Hover the user `TonyJ` in the top right area of the header to show a sub-header
3. Click on 'SETTINGS' under the sub-header
4. The site will navigate user to `TonyJ` public setting screen right now.

**Expected b

[2020-03-11 04:41] LieutenantRoger commented on #3278
This ticket seems containing two issues:

1. one is about the sub-community filter
2. one is about the the number of filters applied count is not updated on the filter button

@SathyaJayabal  Could you please re-create a ticket for the number 2 above ?

[2020-03-11 05:26] macs054 commented on #4085
@luizrrodrigues

When clicking the red/gray dot it should only remove the dot but instead it also directs the user to the challenge details page.

[2020-03-11 05:29] LieutenantRoger opened #4089 "[$40] Changing the `Sub community` doesn't cause the number on the Filters button change"
**Describe the bug**
The count number on the filter button is not updated when we change the `Sub community` on the filter section.

**To Reproduce**
Steps to reproduce the behavior:
1. Click 'Filters' button to open up the filter panel
2. Try to change the 'Sub Community` to a different one
3. The count number on the filter button should be updated accordingly.

**Expected behavior**
Changing `Su

[2020-03-11 05:49] LieutenantRoger commented on #4088
Hi @Oanh-and-only-Oanh

Here's a challenge spec for this ticket, please take a look:  https://docs.google.com/document/d/1-Zwb5QGPm2ByzAb_HE9LKtiEEefPScTCJA5HGSxvID4/edit?usp=sharing

[2020-03-11 07:02] macs054 commented on #4037
Verified in Prod
![image](https://user-images.githubusercontent.com/1199534/76390907-4109b700-63a9-11ea-8388-158a6de6bc98.png)

[2020-03-11 07:02] #4037 closed

[2020-03-11 07:04] m-yadav opened #4090 "Togpear UI behaving Differently"
**Describe the bug**
The UI for Topgear behaves differently for the user when "my challenges" is selected by the user. Number of challenges shown are different at each refresh. Changes in the name of the challenge has also been observed.

The user reported that the screen showed three challenges, then got back to show 2 challenges to the user.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-03-11 07:05] m-yadav commented on #4090
cc @Oanh-and-only-Oanh

[2020-03-11 07:08] macs054 commented on #3474
Verified in Prod
![image](https://user-images.githubusercontent.com/1199534/76391269-1c620f00-63aa-11ea-978d-dbf39ee26a05.png)

[2020-03-11 07:08] #3474 closed

[2020-03-11 07:08] crazyk07 commented on #3474
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30115720<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-11 07:20] SathyaJayabal commented on #4055
@sachin-maheshwari @luizrrodrigues , broadcast notifications are not seen for some users.
eg: TonyJ, Mess, tester1234 etc
We can see broadcast notifications for the following user : dan_developer

[2020-03-11 08:08] SathyaJayabal commented on #4055
@sachin-maheshwari @luizrrodrigues , for challenge specific notifications, the users do not get the notification when the checkpoint review ends.
Notifications for challenge spec modification and submission upload is displayed.

[2020-03-11 08:42] kkartunov opened #4091 "Thrive search click on item in results dropdown fix"
We got a bug report about case where click on the dropdown item in Thrive search results does not work. Details:

- video https://www.dropbox.com/s/sun0gz5mpkc88qp/cannotclickonThrivelinks.mp4?dl=0
- Slack link https://topcodercommunity.slack.com/archives/C0HEL2N1L/p1583862052045000
- OS - Windows/Mac
- Browser - Chrome/Safari
- Resolution - 1680 x 911 and 1366 x 768

[2020-03-11 09:23] SathyaJayabal commented on #4091
@kkartunov , I am not able to reproduce this issue on mac with Chrome/Firefox/Safari
[thrive ser.mov.zip](https://github.com/topcoder-platform/community-app/files/4317211/thrive.ser.mov.zip)

[2020-03-11 10:34] macs054 commented on #3550
Verified in Beta
![image](https://user-images.githubusercontent.com/1199534/76407812-e54e2680-63c6-11ea-9636-d7140a89c6c5.png)

[2020-03-11 10:45] sushilshinde opened #4093 "[$55] Fix dev mode issue"
`npm run dev` throws an error in browser console on `develop` branch, the listing page doesn't load. Though `npm run build && npm start` works fine.

Please PR to https://github.com/topcoder-platform/community-app/tree/hot-fix-build-on-develop

[2020-03-11 10:53] LieutenantRoger commented on #4093
Adding one snapshot for this issue:
![image](https://user-images.githubusercontent.com/2875203/76409199-09126c00-63c9-11ea-822a-4ca7bef7472d.png)

The expected output after the fix:
When we launch the app using `npm run dev`, besides the challenge listing page, all the other functionality in the community-app should work as before.

[2020-03-11 10:56] LieutenantRoger commented on #4093
Hey @topcoder-platform/topcodercompetitors

This ticket is open, please come to pick it up,

Thanks

[2020-03-11 11:08] crazyk07 commented on #4089
Contest https://www.topcoder.com/challenges/30119035 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-11 11:09] crazyk07 commented on #4093
Contest https://www.topcoder.com/challenges/30119038 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-11 11:10] crazyk07 commented on #3278
Contest https://www.topcoder.com/challenges/30119039 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-11 11:10] crazyk07 commented on #2382
Contest https://www.topcoder.com/challenges/30119040 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-11 11:11] crazyk07 commented on #4093
Contest https://www.topcoder.com/challenges/30119038 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-11 11:17] LieutenantRoger commented on #2382
Hi @topcoder-platform/topcodercompetitors
This ticket is open, please come to pick it up, thanks.

[2020-03-11 11:17] LieutenantRoger commented on #3278
Hi @topcoder-platform/topcodercompetitors
This ticket is open, please come to pick it up, thanks.

[2020-03-11 11:17] LieutenantRoger commented on #3122
Hi @topcoder-platform/topcodercompetitors
This ticket is open, please come to pick it up, thanks.

[2020-03-11 11:17] LieutenantRoger commented on #4089
Hi @topcoder-platform/topcodercompetitors
This ticket is open, please come to pick it up, thanks.

[2020-03-11 11:17] crazyk07 commented on #2382
Contest https://www.topcoder.com/challenges/30119040 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-11 11:19] crazyk07 commented on #4089
Contest https://www.topcoder.com/challenges/30119035 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-11 11:25] LieutenantRoger commented on #2382
FYI @rashmi73  Please note: you just need to comment out the related frontend code, don't delete them as we will restore this section once we got the service back.  I have updated the first post to include this as well.

[2020-03-11 11:31] macs054 opened #4095 "Search Result - Mouse cursor does not change into hand icon when hovering over profiles"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-03-11 11:40] SathyaJayabal commented on #4055
@sachin-maheshwari @luizrrodrigues , When the challenge spec for the challenge"30055753" is modified, we can observe the following. this is the registrants list:
<img width="1182" alt="Screenshot 2020-03-11 at 5 06 55 PM" src="https://user-images.githubusercontent.com/58783823/76413060-bd58c600-63ba-11ea-81de-592fc8c1881e.png">

No notification for dan_developer
<img width="1440" alt="Screenshot 2

[2020-03-11 11:44] macs054 opened #4096 "About and Contact link under RSS link leads to incorrect pages"
**Describe the bug**
About and Contact link under RSS link leads to incorrect pages

**To Reproduce**
Steps to reproduce the behavior:
1. Click 'About' link under Get the RSS feed link
2. Click 'Contact' link under Get the RSS feed link

**Expected behavior**
Should lead to correct pages

**Actual behavior**
1. About link leads to: https://www.topcoder.com/about-the-2018-topcoder-open/
2. Contact

[2020-03-11 12:09] sachin-maheshwari commented on #4055
As checked quickly for dan_developer, no notification issue -  not getting 'dan_devloper' in corresponding challenge api call i.e. https://api.topcoder-dev.com/v4/challenges/30055753/resources

[2020-03-11 14:23] luizrrodrigues commented on #4055
@SathyaJayabal this coming from backend:

![image](https://user-images.githubusercontent.com/7029641/76427077-a0a49a00-638a-11ea-9f14-0878d8fbc0ed.png)

[2020-03-11 14:24] luizrrodrigues commented on #4055
eg: TonyJ, Mess, tester1234 etc
We can see broadcast notifications for the following user : dan_developer

I'm able to see to TonyJ user, can you share login info to:
Mess and tester1234

Thanks

[2020-03-11 14:28] luizrrodrigues commented on #4055
@sachin-maheshwari I don't see any notification from `notifications.autopilot.events` yet. Is this the right type to challenge autopilot events right?

[2020-03-11 16:11] SathyaJayabal commented on #4055
password for both: appirio123

[2020-03-11 20:50] rashmi73 commented on #2382
@LieutenantRoger PR https://github.com/topcoder-platform/community-app/pull/4097

[2020-03-11 21:56] luizrrodrigues commented on #4085
@macs054 Fixed and ready to QA.
642e6ddf49515fb6e305437d9031c0ebc2fc1a97

cc @Oanh-and-only-Oanh

[2020-03-11 21:57] PrakashDurlabhji commented on #4089
@LieutenantRoger it is done in https://github.com/topcoder-platform/community-app/pull/4098

[2020-03-12 02:01] LieutenantRoger commented on #2382
@rashmi73  please resolve the failed tests

[2020-03-12 02:05] LieutenantRoger commented on #4089
@PrakashDurlabhji  please fix the failed tests.

[2020-03-12 02:37] LieutenantRoger commented on #4093
Hi @gets0ul   Have you tried to upgrade the version of topcoder-react-utils version in community-app, instead of using the post-install steps ?  As it sounds that upgrading the the lib version is more better.

[2020-03-12 04:04] SathyaJayabal commented on #4055
@luizrrodrigues , we had to remove the notifications for submission uploaded event as per. the below discussion.
https://topcoder.slack.com/archives/CG2J9RH70/p1583878405014700?thread_ts=1583858564.012400&cid=CG2J9RH70

On a submission being uploaded,  the notification is not displayed, but the pink dot is shown when a submission is uploaded.
<img width="1440" alt="Screenshot 2020-03-12 at 9 31 15

[2020-03-12 04:13] LieutenantRoger commented on #4093
This appears to be an legacy issue.  Will accept the fix for now.

[2020-03-12 04:30] SathyaJayabal commented on #4085
@luizrrodrigues , verified on test env

[2020-03-12 05:28] SathyaJayabal commented on #4015
@bug-verification-helper help

[2020-03-12 05:40] luizrrodrigues commented on #4055
@SathyaJayabal Thanks for check.
We need to wait for @sachin-maheshwari remove this from backend return.

[2020-03-12 06:53] SathyaJayabal commented on #3550
verified on production
<img width="1440" alt="Screenshot 2020-03-12 at 12 16 23 PM" src="https://user-images.githubusercontent.com/58783823/76495088-2f351c00-645c-11ea-9e7f-5eee97628e59.png">
<img width="1440" alt="Screenshot 2020-03-12 at 12 16 30 PM" src="https://user-images.githubusercontent.com/58783823/76495099-34926680-645c-11ea-8fc2-e27815d6411d.png">

[2020-03-12 06:54] #3550 closed

[2020-03-12 07:28] PrakashDurlabhji commented on #4089
@LieutenantRoger test passing now

[2020-03-12 08:18] luizrrodrigues commented on #4055
@SathyaJayabal Thanks for check. This was fixed.
af2c92680330db0a56f99c2b09d0bff3a2b89516

[2020-03-12 08:50] SathyaJayabal commented on #4055
Still see it @luizrrodrigues . See video for reference
[sub notif.mov.zip](https://github.com/topcoder-platform/community-app/files/4323165/sub.notif.mov.zip)

@sachin-maheshwari @luizrrodrigues , Marking this as fail until all the above issues are fixed. But let me know if you need any specific scenario tested.

[2020-03-12 09:40] SathyaJayabal commented on #4008
reopening this, as I can find it on the dev env again
<img width="1440" alt="Screenshot 2020-03-12 at 3 09 33 PM" src="https://user-images.githubusercontent.com/58783823/76507867-81ce0280-6473-11ea-982c-5f35a37c720e.png">

[2020-03-12 11:57] rashmi73 commented on #2382
@LieutenantRoger yes updating it in sometime

[2020-03-12 13:49] gets0ul commented on #4093
@LieutenantRoger community-app uses older babel while topcoder-react-utils in navigation-component uses the new @babel one.  Updating it might break the functionality.

Failed previous attempt to initiate upgrading babel version for community-app shows that it is little bit challenging: https://www.topcoder.com/challenges/30103266/?type=develop
In that challenge, topcoder-react-lib is the componen

[2020-03-12 15:51] hokienick opened #4100 "Contentful Slider Disappears"
**Describe the bug**
After the slider auto-scrolls to the end, the next time it scrolls it becomes blank and keeps scrolling through blank items.

**Expected behavior**
The slider should start from the beginning after it has reached the end.

[2020-03-12 16:36] LieutenantRoger commented on #4093
Thanks @gets0ul , yes, I realized this after discussing with the team.

[2020-03-12 18:55] luizrrodrigues commented on #4055
@SathyaJayabal I have fixed the issue when msg isRead but no isSeen.

Now we need backend update, @sachin-maheshwari we need to remove `submission.notification.create` type from backend return.

[2020-03-12 19:37] rashmi73 commented on #2382
@LieutenantRoger PR updated

[2020-03-13 02:31] Oanh-and-only-Oanh opened #4101 "Update Topgear site so it’s mostly controlled by Contentful similar to zurich and cs"
Currently, other than the banner and the FAQ page Topgear's portal is all hard coded into the app. We want to make it so it's controlled by Contentful.

[2020-03-13 02:47] Oanh-and-only-Oanh commented on #4002
@LieutenantRoger
1.  https://docs.google.com/document/d/1FzTgw7HcOicgOzlWyMd1AmPHId5F9FljRWyVn2MI9_A/edit?usp=sharing look good
2. https://docs.google.com/document/d/1PpTLByyoXtNpgFjrYODDoaQAp0hdyvJwk93kLDA2Va0/edit this spec if fine but this is a much lower priority. Can you create a separate ticket for this issue and we can assign it P4 priority.

[2020-03-13 04:57] sachin-maheshwari commented on #4055
Please check message is same but 'id' is different that mean same message is published twice.

[2020-03-13 05:05] sachin-maheshwari commented on #4055
@SathyaJayabal  Can please summarize the issues which i need to address.

[2020-03-13 05:41] SathyaJayabal commented on #4055
@sachin-maheshwari ,
1. Broadcast notifications not showing up for some users
eg: TonyJ, Mess, tester1234 etc
We can see broadcast notifications for the following user : dan_developer
2. Checkpoint review end notification is not displayed for all users.
3. Challenge spec modified notification is displaying inconsistently for different users ( https://github.com/topcoder-platform/community-app/issu

[2020-03-13 05:54] SathyaJayabal commented on #4089
verified on dev
<img width="1440" alt="Screenshot 2020-03-13 at 11 21 05 AM" src="https://user-images.githubusercontent.com/58783823/76593743-26f0e580-651d-11ea-9809-7a8a149855a3.png">

[2020-03-13 06:02] SathyaJayabal opened #4102 "[$10] Challenge Listings: Filter count is not updated when review type filter is applied"
1. Go to challenge listings page
2. Click on Open for review
3. Filter the list using review type drop down.
4. The filter count on the filter is not updated

**Additional Context**

This is an additional fix for this ticket: https://github.com/topcoder-platform/community-app/issues/4089

The work should be done against: `hot-fix-filter-count`
Please use `npm run build` && `npm start` to verify yo

[2020-03-13 06:26] macs054 opened #4103 "Settings/Profile - Graduated checkbox is misplaced in Education tab"
**Describe the bug**
Graduation checkbox is misplaced in Education tab

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/settings/profile#education
2. Check the Graduated checkbox

**Expected behavior**
The checkbox should be beside the Graduated label

**Screenshots**
![image](https://user-images.githubusercontent.com/1199534/76595360-5fe98400-6536-11ea-8fec-9e5

[2020-03-13 06:31] crazyk07 commented on #4102
Contest https://www.topcoder.com/challenges/30119218 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-13 06:55] SathyaJayabal opened #4104 "Notification Backend Integration: All competitors should get challenge spec modified notification"
At present only submitters get the challenge spec modified notification. All members registered to te challenge must get the challenge spec modified notification.

[2020-03-13 07:02] SathyaJayabal opened #4105 "Notification Backend Integration : Multiple notifications"
When a member has more than one role (eg: copilot and reviewer) in a challenge,  then they should receive any challenge notification only once.
Similarly for broadcast notifications, if the member belongs to more than one of the filters used, they should receive the notification only once.
cc @macs054

[2020-03-13 07:02] SathyaJayabal commented on #4055
3: a is tracked here #4104
3:  b. is tracked here #4105

[2020-03-13 07:03] SathyaJayabal commented on #4104
cc @macs054

[2020-03-13 07:11] kkartunov commented on #4100
Test url: https://community-app.topcoder.com/examples/contentful/slider/7CVn4Rglib0w2UUoID5wIw

Expected:
- Slides to be visible after the end and return to the beginning
- There should be gray arrows around the slider

[2020-03-13 07:12] kkartunov commented on #4100
@SathyaJayabal FYI

[2020-03-13 07:24] sachin-maheshwari commented on #4055
1  is tracked here https://github.com/topcoder-platform/tc-notifications/issues/182

[2020-03-13 07:36] LieutenantRoger commented on #4102
Hi @topcoder-platform/topcodercompetitors   this ticket is open.

[2020-03-13 07:37] LieutenantRoger commented on #4089
@PrakashDurlabhji
FYI, we open up a new ticket for an additional similar issue to fix here: https://github.com/topcoder-platform/community-app/issues/4102  can take a look if you are interested.
Thank you,

[2020-03-13 07:43] crazyk07 commented on #4102
Contest https://www.topcoder.com/challenges/30119218 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-13 07:52] macs054 commented on #2382
Save Filter button is gone, but I think Clear Filter button should not be removed too
![image](https://user-images.githubusercontent.com/1199534/76600762-831a3080-6542-11ea-9b1a-2c83fe2c5809.png)

[2020-03-13 08:04] LieutenantRoger commented on #2382
Hi @rashmi73  it appears we only should hide the `Save Filter` button.
https://take.ms/3gwfM

I might have provided wrong snapshot above.
Could you please fix it accordingly ? It seems easier if we re-create a new branch to work on in this case.

Here it is `hot-fix-hide-save-filter-btn`

[2020-03-13 08:17] kkartunov commented on #4100
Here is test url on beta http://beta-community-app.topcoder.com/examples/contentful/slider/7CVn4Rglib0w2UUoID5wIw

[2020-03-13 08:19] luizrrodrigues commented on #4055
@SathyaJayabal create this one too:

[2020-03-13 08:48] LieutenantRoger commented on #4002
I seems posted a wrongly specs,
For the first spec, it should be for this ticket: https://github.com/topcoder-platform/community-app/issues/4082

The original first spec should be this one, it is for `My Dashboard`
1. https://docs.google.com/document/d/16dEjk0dlgyTg9Ptzx8V1olpryyHryXwFaF1nd7N24H4/edit

https://docs.google.com/document/d/16dEjk0dlgyTg9Ptzx8V1olpryyHryXwFaF1nd7N24H4/edit?usp=sharing

[2020-03-13 08:51] SathyaJayabal commented on #4100
Verified that on auto scrolling to the end , the sliders start again from the beginning. Grey arrows around the slider are present.

[2020-03-13 08:53] macs054 commented on #4061
Too Many Request still appears
![image](https://user-images.githubusercontent.com/1199534/76605188-00e23a00-654b-11ea-8286-4b235252fe23.png)

[2020-03-13 09:04] macs054 commented on #4077
Verified in Beta

[2020-03-13 09:08] rashmi73 commented on #2382
@LieutenantRoger yes I know clear filter is removed, same thought came to me that why would anyone remove clear filter, but then as ur screenshot showed that complete red box need to be removed hence I did it.

so clear filter will remain as it is, only save filter will be removed? so now subcommunity dropdown wont extend as clear filter is present at same place.

I hope it will be ok?

[2020-03-13 09:10] macs054 commented on #4059
Verified in Beta
![image](https://user-images.githubusercontent.com/1199534/76606606-823acc00-654d-11ea-9c95-3463e57b6a09.png)

[2020-03-13 09:11] SathyaJayabal commented on #4061
@kkartunov , this issue is still happening (3 out of 5 times)
<img width="1440" alt="Screenshot 2020-03-13 at 2 40 24 PM" src="https://user-images.githubusercontent.com/58783823/76606698-bfe12a00-6538-11ea-9b26-fe0b8b669b40.png">

[2020-03-13 09:28] kkartunov commented on #4061
@SathyaJayabal probably network related. This patch is attempting to fix it and if it does not succeed sure does not make it worst. It actually works for me here is a video that proofs: http://beta-community-app.topcoder.com/examples/contentful/viewport/4yKPWM9C02JNg0vhtuh2TI

Let's keep this one open for further dev/testing and move forward.

[2020-03-13 09:39] LieutenantRoger commented on #2382
That's correct, only need to hide the `Save Filter` button, and don't remove the related code.
Yes, subcommunity dropdown should be remain as is.

Thank you

[2020-03-13 10:03] sachin-maheshwari commented on #4104
{
    "id": "733ed472:170d302c354:-7b8b",
    "result": {
        "success": true,
        "status": 200,
        "metadata": null,
        "content": [
            {
                "id": 1078643,
                "projectId": 30055753,
                "name": null,
                "role": "Manager",
                "phaseId": null,
                "submissions": [],
                "properties":

[2020-03-13 10:46] SathyaJayabal opened #4108 "Notification Backend Integration: Remove submission.notification.create type from backend return"
We need to remove submission.notification.create type from backend return as we not longer display submission uploaded notifications.

[2020-03-13 10:47] SathyaJayabal commented on #4055
tracked here #4108

[2020-03-13 10:53] SathyaJayabal commented on #4104
@sushilshinde @dushyantb , for reference please see https://github.com/topcoder-platform/community-app/issues/4055#issuecomment-597584585

dan_developer is a registered to the specific contest, but the corresponding api call does not return that user.

[2020-03-13 11:21] LieutenantRoger commented on #4082
We need similar challenges in below private group as well in order to test the result:

https://cs.topcoder-dev.com/challenges
https://veterans.topcoder-dev.com/challenges
https://blockchain.topcoder-dev.com/challenges?communityId=blockchain
https://cognitive.topcoder-dev.com/challenges?communityId=cognitive

[2020-03-13 11:38] LieutenantRoger opened #4109 "My dashboard earning and stats fixes"
**Describe the bug**
We changed `/stats` API in backend, it was originally returning member stats as an object, but now the `stats api` will return member stats in an array.

the `My earning and stats` section on My Dashboard is no longer working.
1) We need to define a defaultGroupId in the codebase with value 10, use it to loop the stats array returned from `/stats` API call, and find the stats

[2020-03-13 11:38] LieutenantRoger commented on #4109
Specs attached: https://docs.google.com/document/d/1PpTLByyoXtNpgFjrYODDoaQAp0hdyvJwk93kLDA2Va0/edit?usp=sharing

[2020-03-13 11:40] LieutenantRoger commented on #4002
@Oanh-and-only-Oanh  the ticket for #2 above is created here: https://github.com/topcoder-platform/community-app/issues/4109

Could you please take a look the new spec for #1 above as well, thanks ?

[2020-03-13 13:04] sachin-maheshwari commented on #4105
Fixing on https://github.com/topcoder-platform/tc-notifications/tree/bug/rate-limit

[2020-03-13 21:07] luizrrodrigues commented on #4014
Challenge launched: http://www.topcoder.com/challenge-details/30119357/?type=develop

[2020-03-14 00:12] rashmi73 commented on #2382
@LieutenantRoger new PR pointing to new branch https://github.com/topcoder-platform/community-app/pull/4110

[2020-03-14 00:51] PrakashDurlabhji commented on #4102
@LieutenantRoger it is done in https://github.com/topcoder-platform/community-app/pull/4111

[2020-03-14 01:44] LieutenantRoger commented on #4102
Hi @PrakashDurlabhji

For the `review type` filter, I think you will need to cover below scenario:

https://take.ms/eHZA6

1. User switch to 'Open For Review'
2. User changed the `Review Type`, the filter button count number increase by 1, which is good.
3. When user switch to other category in the snapshot: such as `All Challenges` category in above snapshot, the filter count number should not co

[2020-03-14 04:13] sushilshinde opened #4112 "Past Challenges (MMs) are returning empty"
Steps to reproduce : 1-4

![Topcoder Challenges 2020-03-14 09-40-13](https://user-images.githubusercontent.com/683231/76674694-384af800-65d8-11ea-89bb-94b2e579312d.png)

Problem # 1

Calls : https://api.topcoder.com/v4/challenges/?filter=status%3DCOMPLETED&limit=50&offset=750
doesn't include filter `Data Science`

Problem # 2

UI is not showing challenges even though calls are returning the respon

[2020-03-14 04:18] sushilshinde commented on #4112
FYI @dmessing

[2020-03-14 11:23] dmessing commented on #4112
Maybe v5 helps here?

[2020-03-14 11:54] LieutenantRoger commented on #4112
Hi @dmessing

We will need to discuss about how to resolve this.

Some background info: in order to resolve this ticket:  https://github.com/topcoder-platform/community-app/issues/3610 we made a configuration time (currently, 30 seconds)

So if we don't find a result with the filters applied within the configured time above, we would stop continuing to request data, and show user with the `No chal

[2020-03-14 14:58] LieutenantRoger commented on #4084
The ticket is waiting the `hot-fix` tickets to merge.

[2020-03-14 22:47] PrakashDurlabhji commented on #4102
@LieutenantRoger PR update and covers all case mentioned above and I guess all scenarios are covered.

[2020-03-16 02:40] RishiRajSahu commented on #2376
@Oanh-and-only-Oanh Haven't touched skills, but for investigation @luizrrodrigues could you check the api endpoint(s) which are returning those data and share them here on the ticket, so that we can reach to right owner ?

[2020-03-16 04:01] SathyaJayabal commented on #4077
verified on beta (develop branch)

[2020-03-16 04:05] SathyaJayabal commented on #4059
verified on beta(develop)
<img width="1440" alt="Screenshot 2020-03-16 at 9 33 00 AM" src="https://user-images.githubusercontent.com/58783823/76722364-4b410200-6769-11ea-816b-5b3b620ebb60.png">

[2020-03-16 04:17] SathyaJayabal commented on #4100
@kkartunov, the slider is not auto scrolling.
On using the grey arrows , the first slides is displayed upon reaching the end of the slides.

[2020-03-16 05:17] SathyaJayabal opened #4114 "Checkpoint Review Notification"
To track discussions
https://topcoder.slack.com/archives/CG2J9RH70/p1584083663037900

For Design:
1. Event- Checkpoint screening starts
Message-  "Checkpoint screening phase is now open. You may now begin screening  checkpoint submissions."
Target audience- screeners for that particular design challenge
2. Event- Checkpoint Review starts
Message- "Checkpoint Review is now open. You may now begin r

[2020-03-16 05:18] SathyaJayabal commented on #4055
#2 tracked here #4114

[2020-03-16 05:20] luizrrodrigues commented on #4114
@sachin-maheshwari Let me know when this one is ready in backend.

[2020-03-16 06:50] kkartunov commented on #4100
@SathyaJayabal auto-scrolling is an option that is configurable from Contentful. It was disabled for other reasons. I enabled it for your request. Thanks

[2020-03-16 06:52] SathyaJayabal commented on #4100
Verified on beta(develop branch)
@kkartunov , verified that after the slider auto-scrolls to the end, the slider starts from the beginning.
Grey arrows around the slider are present.

[2020-03-16 06:58] SathyaJayabal commented on #4102
@LieutenantRoger , open for review page is blank.
<img width="1440" alt="Screenshot 2020-03-16 at 12 26 57 PM" src="https://user-images.githubusercontent.com/58783823/76730552-83543f00-6781-11ea-9f2b-185f3cddd7a8.png">

[2020-03-16 07:19] PrakashDurlabhji commented on #4102
@SathyaJayabal @LieutenantRoger surely not failing due to my PR as mine PR just have a single life if statement

[2020-03-16 07:26] LieutenantRoger commented on #4102
I have tracked down the issue, there's an API failed in dev environment where the test is using.   Let me clarify a bit about the issue.

[2020-03-16 07:44] kkartunov commented on #3984
Left a redirect notice on the community-app page: https://www.topcoder.com/community/how-it-works/privacy-policy/

[2020-03-16 10:12] SathyaJayabal commented on #4100
Verified on production
@kkartunov , verified that after the slider auto-scrolls to the end, the slider starts from the beginning.
Grey arrows around the slider are present.

[2020-03-16 10:12] #4100 closed

[2020-03-16 10:14] SathyaJayabal commented on #4059
verified on production
<img width="1440" alt="Screenshot 2020-03-16 at 3 43 33 PM" src="https://user-images.githubusercontent.com/58783823/76746093-ef906c00-679c-11ea-8246-315a598bb2ee.png">

[2020-03-16 10:14] #4059 closed

[2020-03-16 10:15] SathyaJayabal commented on #4077
verified on production

[2020-03-16 10:15] #4077 closed

[2020-03-16 10:17] #4084 closed

[2020-03-16 10:21] #4093 closed

[2020-03-16 10:21] crazyk07 commented on #4093
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30119038<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-16 11:53] LieutenantRoger commented on #4102
Hi @SathyaJayabal

It seems the API is working now.  https://www.topcoder-dev.com/challenges?bucket=reviewOpportunities

Could you please re-check  ?  Thank you

[2020-03-16 12:08] sachin-maheshwari commented on #4114
@Oanh-and-only-Oanh  @luizrrodrigues  @SathyaJayabal  #1, here "target audience" is not clear to me, please explain with example. And that is for "Design challenge" only ? what about other challenges ?
As I checked for Live Design Challenge https://www.topcoder.com/challenges/30119422 , corresponding backend api - v4/challenges/30119422/resources is giving only one "Primary Screener" i.e. "leben"

[2020-03-16 13:33] SathyaJayabal commented on #4114
@Dara-K @Oanh-and-only-Oanh , I think checkpoint review phase is only applicable for design contests. Other challenges will not have this notification. Am I correct?

@Dara-K , Do design challenges have a reviewer role or is it done by the copilot (actual review by the client) ?

cc @sachin-maheshwari

[2020-03-16 13:34] SathyaJayabal commented on #4102
@LieutenantRoger Verified on dev env
<img width="1440" alt="Screenshot 2020-03-16 at 7 03 41 PM" src="https://user-images.githubusercontent.com/58783823/76763377-ffb64480-67b8-11ea-90d6-9e4b084a4978.png">

[2020-03-16 14:11] SathyaJayabal commented on #2382
@LieutenantRoger verified.
<img width="1440" alt="Screenshot 2020-03-16 at 7 39 46 PM" src="https://user-images.githubusercontent.com/58783823/76766502-1d39dd00-67be-11ea-9363-7d6ae2aa0a10.png">
![Uploading Screenshot 2020-03-16 at 7.40.31 PM.png…]()

[2020-03-16 14:21] LieutenantRoger commented on #3575
https://take.ms/Nvb5F

The delete operation is returning 204 succeeded, though after we refresh the page,  the deleted submission comes back.   This might be a backend issue.

I'll approve this PR for now.

[2020-03-16 18:18] Oanh-and-only-Oanh commented on #4071
putting this issue on hold for now.

[2020-03-16 18:20] Oanh-and-only-Oanh commented on #4088
putting this on hold for now.

[2020-03-16 18:22] Oanh-and-only-Oanh commented on #4061
@SathyaJayabal @kkartunov, is this ticket in the wrong column?

[2020-03-16 19:15] Dara-K commented on #4114
@SathyaJayabal  Yes, the reviewer is the copilot for design challenges who acts in the name of the customer.

[2020-03-17 03:46] SathyaJayabal commented on #4061
@Oanh-and-only-Oanh , I have updated the column, thanks

[2020-03-17 03:50] SathyaJayabal commented on #4114
@sachin-maheshwari , to summarise

When checkpoint screening starts, "Checkpoint screening phase is now open. You may now begin screening checkpoint submissions." to Primary Screener

When checkpoint review starts, ""Checkpoint Review is now open. You may now begin reviewing checkpoint submissions." to the Copilot.

cc @Oanh-and-only-Oanh @Dara-K

[2020-03-17 07:36] SathyaJayabal commented on #3575
@LieutenantRoger , for MM "My Submissions " does not have delete option.
<img width="1212" alt="Screenshot 2020-03-17 at 12 16 47 PM" src="https://user-images.githubusercontent.com/58783823/76832528-7736b300-684f-11ea-8308-86e5f6873b59.png">
Develop Challenges do not have option to view/delete submissions

For design challenges there does not seem to be any api call to delete the submission and th

[2020-03-17 09:07] macs054 opened #4117 "Dashboard - My Communities tab labels are in white font"
**Describe the bug**
Dashboard - My Communities tab labels are in white font

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/my-dashboard
2. Click on My Communities tab

**Expected behavior**
The labels should be in black

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1199534/7684

[2020-03-17 13:00] LieutenantRoger commented on #3575
Hi @SathyaJayabal

I tried the challenge in your video recording,

it looks we can delete the bottom two submissions.  See the snapshot: https://take.ms/p425s
I tried to delete the second submission in the design challenge.

The one presented in your recording might be a wrong submission.

[2020-03-17 13:11] SathyaJayabal opened #4118 "Thrive: Some images are not loading"
Thrive: Some images are not loading

Example:
<img width="1440" alt="Screenshot 2020-03-17 at 6 40 45 PM" src="https://user-images.githubusercontent.com/58783823/76859216-deb82700-687e-11ea-806b-206655cf9dde.png">

[2020-03-17 13:13] SathyaJayabal commented on #4118
verified on dev
<img width="1440" alt="Screenshot 2020-03-17 at 6 42 20 PM" src="https://user-images.githubusercontent.com/58783823/76859316-13c47980-687f-11ea-9224-08ae79d80328.png">

[2020-03-17 14:12] SathyaJayabal commented on #3575
@LieutenantRoger
1. The submission(209121) you have deleted for challenge (30054692) and user (TonyJ) is visible again.
2. I am not able to delete any of the three submissions for TonyJ, The api call for delete is not placed.
3. When logged in dan_developer and trying to delete a submission, the api returns an error
<img width="1440" alt="Screenshot 2020-03-17 at 7 27 00 PM" src="https://user-imag

[2020-03-17 14:24] SathyaJayabal commented on #4118
@LieutenantRoger , some of the profile images are not displaying on the TCO20 leaderboards (Dev Environment)
<img width="1440" alt="Screenshot 2020-03-17 at 7 52 45 PM" src="https://user-images.githubusercontent.com/58783823/76865626-01e7d400-6889-11ea-92d9-328ab1583a7f.png">

[2020-03-17 14:36] Oanh-and-only-Oanh commented on #4086
Testing criteria:
1. public member only -> other people public profile only
2. public+private(some group let's say topgear) member  -> other people public profile only + other people private(topgear only) profile
3. private(eg - topgear) member only -> other people public profile only + other people private(topgear only) profile only

[2020-03-17 14:37] SathyaJayabal commented on #4118
@LieutenantRoger , adding to the original issue on production.
<img width="1440" alt="Screenshot 2020-03-17 at 8 05 14 PM" src="https://user-images.githubusercontent.com/58783823/76866836-b3d3d000-688a-11ea-80f8-d28b742caaf3.png">
<img width="1440" alt="Screenshot 2020-03-17 at 8 05 26 PM" src="https://user-images.githubusercontent.com/58783823/76866854-b9c9b100-688a-11ea-9523-451d5a1e2849.png">
c

[2020-03-17 14:56] SathyaJayabal commented on #4118
verified on beta(hot fix branch)
<img width="1440" alt="Screenshot 2020-03-17 at 8 23 45 PM" src="https://user-images.githubusercontent.com/58783823/76868800-6f95ff00-688d-11ea-9f52-4d0a70dedb15.png">
<img width="1440" alt="Screenshot 2020-03-17 at 8 23 58 PM" src="https://user-images.githubusercontent.com/58783823/76868859-7f154800-688d-11ea-83a4-6be353b049e1.png">
<img width="1440" alt="Screensh

[2020-03-17 18:46] luizrrodrigues opened #4120 "Notifications - Remove "Completed Challenges" until Backend is ready"
- Remove **Completed Challenges** tab from listing page
- Change **Active Challenges** tab to just **Challenges**
- The **Challenges** tab will show both Active and Completed challenges notifications for now

[2020-03-17 22:40] fehimaltinisik commented on #4080
I just registered on TopCoder and can reproduce same error on Chrome version 80.0.3987.149

I am able to edit my profile on settings page and I can see changes I made for blink of time. Then page turns into blank. I can view _Dashboard_ and _Payment_ pages if I click buttons fast enough before page turns into blank.

I can view any other user's profile except my own one, following _"https://www.to

[2020-03-18 06:20] LieutenantRoger commented on #3575
Hi @sushilshinde

Please clarify above, we seems not on the same page for this ticket.

[2020-03-18 07:12] SathyaJayabal commented on #4114
cc @luizrrodrigues

[2020-03-18 08:17] SathyaJayabal commented on #4108
verified on dev

[2020-03-18 08:40] SathyaJayabal commented on #4105
Verified on dev

[2020-03-18 08:54] SathyaJayabal opened #4121 "Notifications Backend integration: Public group logic changes"
Public group logic changes - now excluding group like ["!CS", "!Zurich", "!Topgear"]

When a group is included in the filter like "groups": ["TestGroup"],  then all members of the TestGroup will receive the notifications.

When a group is excluded in the filter like "groups": ["!TestGroup"], then all members excluding the members of TestGroup will receive the notifications.

So for example to send

[2020-03-18 08:58] SathyaJayabal commented on #4121
verified on dev
When the groups filter is empty, then all users should receive the notification. But users belonging to any group. (eg:cognitive) do not receive the notification.

[2020-03-18 09:36] LieutenantRoger commented on #3575
Seems the same file can't be deleted, I switched to another MM challenge, and tried the delete operation
https://monosnap.com/file/jUjg2N1mBeqKsfNLvIuvE6V5emtO9t

[2020-03-18 09:55] SathyaJayabal opened #4122 "Notification: Link in broadcast messages"
Expected: Clicking the broadcast message must take the. user to the respective page

Actual: The link is displayed as part of the broadcast message

cc @sachin-maheshwari
<img width="1440" alt="Screenshot 2020-03-18 at 3 24 14 PM" src="https://user-images.githubusercontent.com/58783823/76948078-95beac00-692c-11ea-9b20-aca215ef699f.png">

[2020-03-18 09:57] kkartunov commented on #4053
Tests:
- community - https://community-app.topcoder.com/examples/contentful/contentblock/x0Qo7c5N1yQELR11LDhdD
- thrive - https://community-app.topcoder-dev.com/examples/contentful/article/7auxO4Dvh5YhPaVpUddPse?space=EDU

[2020-03-18 10:29] SathyaJayabal commented on #4120
verified on test env
<img width="1406" alt="Screenshot 2020-03-18 at 3 58 26 PM" src="https://user-images.githubusercontent.com/58783823/76951237-5a72ac00-6931-11ea-9913-cd6c1bae52a3.png">

[2020-03-18 11:50] SathyaJayabal commented on #4114
verified on test env
<img width="1440" alt="Screenshot 2020-03-18 at 5 19 26 PM" src="https://user-images.githubusercontent.com/58783823/76957899-a6771e00-693c-11ea-8251-49671274a9dc.png">

[2020-03-18 12:04] SathyaJayabal commented on #4121
@sachin-maheshwari , When a ! is used, the members who do not belong to the group do not get the notification.
Example:
Users TonyJ and dan_developer

TonyJ is a member of Blockchain, dan_developer is not.

If the groups filter is "groups": ["Blockchain"] then the notification is displayed correctly(only for tonyj), but if the groups filter is "groups": ["!Blockchain"], then the notification is no

[2020-03-18 19:16] luizrrodrigues commented on #4122
@Oanh-and-only-Oanh Please confirm this.

We going to use the link directly in the Notification body with the highlighted test (in e.g. above the Topcoder will be blue like "View all Notifications". Or we'll make the whole notification item as a link, as we have in Challenge Notifications type?

[2020-03-18 19:20] Oanh-and-only-Oanh commented on #4122
@luizrrodrigues, the notification item should take them to the respective page.

[2020-03-18 19:21] luizrrodrigues commented on #4122
@Oanh-and-only-Oanh Yep, this requirement is okay.

Question is about if not will show link in notification body level, like the example above (screenshot) only Topcoder will be a link.

[2020-03-18 19:27] luizrrodrigues commented on #4122
If follow example above, notifications with a link will show like this:
<img width="469" alt="image" src="https://user-images.githubusercontent.com/7029641/76999414-5ba5d800-6935-11ea-9eb3-a0531ec9c91e.png">

[2020-03-18 20:24] Oanh-and-only-Oanh commented on #4122
@luizrrodrigues, see below
<img width="607" alt="Screen Shot 2020-03-18 at 1 20 40 PM" src="https://user-images.githubusercontent.com/47536078/77004116-cd712800-691b-11ea-8990-6adc32d6dc4a.png">

[2020-03-18 20:31] luizrrodrigues commented on #4122
Okay, I just update **Sachin:3 public group testing Topcoder** to confirm :)

I think not a better way, think about we add a new field to API response with the URL and make whole notification item as a link, like challenge items.

But this change will need to do in the backend, so we can do this later.

I'll make the updates like the request above.

[2020-03-19 08:00] LieutenantRoger commented on #4082
@Oanh-and-only-Oanh

Is it possible a public member only can register a private group challenge ?

It seems impossible given the current business logic as the private group challenge won't be visiable to public member.

[2020-03-19 10:54] SathyaJayabal commented on #4121
@sachin-maheshwari , verified on test env.
When a group is included in the filter like "groups": ["TestGroup"], then all members of the TestGroup receive the notifications.

When a group is excluded in the filter like "groups": ["!TestGroup"], then all members excluding the members of TestGroup receive the notifications.

[2020-03-19 15:46] Oanh-and-only-Oanh opened #4123 "Migrate V5 Challenge API to Community App"
Begin work on April 1, 2020
API copilots- @ThomasKranitsas and @callmekatootie
Front end copilot- @LieutenantRoger
Branch:
https://github.com/topcoder-platform/community-app/tree/feature-challenge-v5

https://github.com/topcoder-platform/topcoder-react-lib/tree/feature-challenge-v5

V5 Challenge API migration should help with resolving the following Challenge issues:
1) https://github.com/topcoder

[2020-03-20 17:13] Oanh-and-only-Oanh commented on #3984
@kkartunov,  please don't close tickets until it's been confirmed by either me or QA. please disable this  page completely. The link should just redirect user to marketing page

[2020-03-20 17:34] Oanh-and-only-Oanh opened #4124 "Change "TaaS" navigation to "Gig Work""
Change the "Taas" label in the top navigation to say: Gig Work

[2020-03-20 17:55] hokienick opened #4125 "Header Navi: Landing Pages to Thrive"
All track landing pages should know link to their category in Thrive:

- Competitive Programming: https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming
- Data Science: https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=
- Design: https://www.topcoder.com/thrive/tracks?track=Design&tax=
- Development: https://www.topcoder.com/thrive/tracks?track=Development&tax=
- QA:

[2020-03-21 10:33] LieutenantRoger commented on #4082
@Oanh-and-only-Oanh

Please try to click the member-handles under this screen:

https://topgear.topcoder-dev.com/challenges/30055646?tab=registrants

https://topgear.topcoder-dev.com/members/tester1234  (Here is an example when a user is not having stats data).

https://topgear.topcoder-dev.com/members/dan_developer (Here is another example when a user is having stats data).

[2020-03-21 19:32] luizrrodrigues commented on #4122
@SathyaJayabal I'm done the implementation and build is running (ready to QA in 20min).

But need to fix links in notifications items.

![Screen Shot 2020-03-21 at 16 03 30](https://user-images.githubusercontent.com/7029641/77234955-e5051680-6b90-11ea-8794-2ff4d868ee59.png)

Need to change **herf** to **href**

[2020-03-21 19:39] luizrrodrigues commented on #4122
The build is done:
![image](https://user-images.githubusercontent.com/7029641/77235196-90629b00-6b92-11ea-8044-f77334810055.png)

[2020-03-22 03:52] Oanh-and-only-Oanh commented on #4082
@LieutenantRoger, a public member cannot register for a private group challenge because it will not be visible on the public domain.

[2020-03-22 04:08] LieutenantRoger commented on #4082
Right , so topgear user under topgear domain won't able to click a public member to visit its profile, this will lead to point 2 above will never happen.

So for a topgear user who does't have history data, could you check wheather this meet expectation above ?

[2020-03-22 15:38] kkartunov opened #4126 "TC Footer - Privacy Policy link"
Update it to https://www.topcoder.com/privacy-policy/.
With the completion of it delete https://www.topcoder.com/community/how-it-works/privacy-policy/ and close this and #3984

[2020-03-22 17:06] Oanh-and-only-Oanh commented on #4082
Correct

[2020-03-23 02:05] LieutenantRoger commented on #4082
`>>  topgear user can click on public member but it will show below`

Could you please tell how a topgear user click on public member's handle ?   In another word, will public members show up on topgear.topcoder.com site ?

[2020-03-23 03:09] Oanh-and-only-Oanh commented on #4082
all public challenges are visible on the topgear site so if a public member registers for a public challenge, a topgear user would be able to see the public user's handle in the topgear site.

[2020-03-23 03:21] LieutenantRoger commented on #4082
Ah, got it, that clarifies this.

[2020-03-23 04:01] SathyaJayabal commented on #4055
#4104
except for this issue everything else works fine.
I am marking this as pass.

[2020-03-23 05:10] SathyaJayabal commented on #4122
verified on test env
<img width="1440" alt="Screenshot 2020-03-23 at 10 39 26 AM" src="https://user-images.githubusercontent.com/58783823/77283546-a1c2b900-6cf2-11ea-94b0-c4aa539e0063.png">
<img width="1440" alt="Screenshot 2020-03-23 at 10 39 30 AM" src="https://user-images.githubusercontent.com/58783823/77283562-ac7d4e00-6cf2-11ea-9ee6-f2ed74ac05fa.png">

[2020-03-23 05:20] SathyaJayabal commented on #4118
verified on beta ( develop branch)
<img width="1440" alt="Screenshot 2020-03-23 at 10 47 25 AM" src="https://user-images.githubusercontent.com/58783823/77284138-fd417680-6cf3-11ea-94ee-c5ddf5e6d884.png">
<img width="1440" alt="Screenshot 2020-03-23 at 10 47 38 AM" src="https://user-images.githubusercontent.com/58783823/77284154-06324800-6cf4-11ea-9aaf-b519474f1f3d.png">
<img width="1440" alt="Scre

[2020-03-23 05:22] SathyaJayabal commented on #4102
Verified on beta
<img width="1440" alt="Screenshot 2020-03-23 at 10 52 11 AM" src="https://user-images.githubusercontent.com/58783823/77284302-5f01e080-6cf4-11ea-9d4b-a86f1a63488e.png">

[2020-03-23 05:24] SathyaJayabal commented on #2382
verified on beta
<img width="1440" alt="Screenshot 2020-03-23 at 10 53 43 AM" src="https://user-images.githubusercontent.com/58783823/77284402-9bcdd780-6cf4-11ea-898d-d7a599a7b1c7.png">

[2020-03-23 05:26] SathyaJayabal commented on #4089
verified on beta
<img width="1440" alt="Screenshot 2020-03-23 at 10 55 19 AM" src="https://user-images.githubusercontent.com/58783823/77284500-d3d51a80-6cf4-11ea-9e0b-23b52087e8f7.png">

[2020-03-23 06:46] SathyaJayabal opened #4129 "[$50]Challenge Listing: Ongoing challenges Sort by Current phase does not work as expected"
Go to challenge listing
select Ongoing Challenges filter
select "Sort by Current Phase"

actual: the results are not sorted by the current phase
expected: the results must be sorted by current phase

Note: unable to add attachments. will upload later

[2020-03-23 08:41] LieutenantRoger commented on #4082
Hi @Oanh-and-only-Oanh

Does this look fine when a topgear user visit public member's profile screen ?

https://take.ms/34K4P

[2020-03-23 09:31] SathyaJayabal commented on #4118
verified on production
<img width="1440" alt="Screenshot 2020-03-23 at 2 55 27 PM" src="https://user-images.githubusercontent.com/58783823/77301904-72be3e80-6d16-11ea-873e-7fb5097e5042.png">
<img width="1440" alt="Screenshot 2020-03-23 at 2 55 37 PM" src="https://user-images.githubusercontent.com/58783823/77302106-cf215e00-6d16-11ea-98e2-c0b171b4647f.png">
<img width="1440" alt="Screenshot 2020-03

[2020-03-23 09:31] #4118 closed

[2020-03-23 09:34] SathyaJayabal commented on #4102
verified on prod.
<img width="1440" alt="Screenshot 2020-03-23 at 3 02 56 PM" src="https://user-images.githubusercontent.com/58783823/77302517-743c3680-6d17-11ea-9508-17004df27cc4.png">

[2020-03-23 09:34] #4102 closed

[2020-03-23 09:34] crazyk07 commented on #4102
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30119218<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-23 09:37] SathyaJayabal commented on #2382
verified on prod
<img width="1440" alt="Screenshot 2020-03-23 at 3 05 09 PM" src="https://user-images.githubusercontent.com/58783823/77302703-bc5b5900-6d17-11ea-804d-7dfb15a85bc0.png">

[2020-03-23 09:37] #2382 closed

[2020-03-23 09:37] crazyk07 commented on #2382
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30119040<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-23 09:37] SathyaJayabal commented on #4089
verified on prod
<img width="1440" alt="Screenshot 2020-03-23 at 3 06 10 PM" src="https://user-images.githubusercontent.com/58783823/77302815-ed3b8e00-6d17-11ea-81fa-2984bc4cdb28.png">

[2020-03-23 09:37] #4089 closed

[2020-03-23 09:37] crazyk07 commented on #4089
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30119035<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-23 20:54] Oanh-and-only-Oanh opened #4130 "Ratings number not updating on member profile"
Issue: the rating number for Code is not updating after a dev challenge even though the graph updated.

Expected behavior: the rating number should update appropriately after dev challenges as well as the cooresponding graph

To reproduce
1. Go to: https://www.topcoder.com/members/birdofpreyru/details/?track=DEVELOP&subTrack=CODE
2. see rating in yellow read 1664 but graph reads 1809
3. rating num

[2020-03-24 02:28] Oanh-and-only-Oanh commented on #4082
That's correct.

[2020-03-24 04:33] LieutenantRoger commented on #4088
In this ticket, we plan to support these private groups firstly to have `Settings` page:

https://topgear.topcoder-dev.com/challenges
https://cs.topcoder-dev.com/challenges
https://veterans.topcoder-dev.com/challenges
https://blockchain.topcoder-dev.com/challenges?communityId=blockchain
https://cognitive.topcoder-dev.com/challenges?communityId=cognitive

[2020-03-24 09:49] SathyaJayabal opened #4133 "Images are not rendered when sharing the contest link on social media and slack"
https://topcodercommunity.slack.com/archives/C0HEL2N1L/p1584962260055100

[2020-03-24 09:57] SathyaJayabal opened #4134 "Not able to view profile page for user: CADEdgeXTC-20"
A blank page is displayed on accessing the profile of member: CADEdgeXTC-20
<img width="1425" alt="Screenshot 2020-03-24 at 3 25 16 PM" src="https://user-images.githubusercontent.com/58783823/77412455-e8dca700-6de3-11ea-95f3-846d458fdeeb.png">

[2020-03-24 09:57] SathyaJayabal commented on #4134
reported on slack
https://topcodercommunity.slack.com/archives/C0HEL2N1L/p1585003361065700

[2020-03-24 10:01] LieutenantRoger commented on #4088
Hi @Oanh-and-only-Oanh

Could you tell why the deployed code in community#dev environment and my local deployed version are different for cs community ?   https://take.ms/BJid1

Actually I tried otherwise private groups as well.

Right now, it seems only topgear private group are the same between deployed locally and community#dev environment.  https://take.ms/xq4Ou
@SathyaJayabal  has confirmed `

[2020-03-24 10:04] LieutenantRoger commented on #4134
The work is done against `hot-fix-profile-page`

[2020-03-24 10:05] LieutenantRoger commented on #4134
Test url: https://www.topcoder.com/members/CADEdgeXTC-20

[2020-03-24 11:43] SathyaJayabal commented on #4134
verified on beta (hot fix branch)
<img width="1440" alt="Screenshot 2020-03-24 at 5 12 14 PM" src="https://user-images.githubusercontent.com/58783823/77421920-b1292b80-6df2-11ea-8768-0aab024739a3.png">

[2020-03-24 12:01] sachin-maheshwari commented on #4104
@SathyaJayabal  as checked randomly on prod for API v4/challenges/{challenge-id}/resources , getting correct data. So could be data syncing issue at DEV. Lets test it on Beta. Hopefully it should work there.

[2020-03-24 12:02] SathyaJayabal commented on #4133
Closing this issues as it is no longer reproducible.
https://topcodercommunity.slack.com/archives/C0HEL2N1L/p1585048461067200?thread_ts=1584962260.055100&cid=C0HEL2N1L

[2020-03-24 12:02] #4133 closed

[2020-03-24 15:47] Oanh-and-only-Oanh opened #4136 "testing"
sdfsdf

[2020-03-24 15:49] #4136 closed

[2020-03-25 08:28] kkartunov commented on #4091
It appears this bug is related to clicking on the gray area of the search item not on the item text or image. @SathyaJayabal can you QA that and document it?

[2020-03-25 15:18] Oanh-and-only-Oanh commented on #4088
Hi @LieutenantRoger, I'm not sure about the why there's a difference between CS dev and your local version. I can look into it. Until then, let's narrow down the scope so excludes any private community with this issue. As long as we can get this complete for Topgear...

[2020-03-25 15:41] LieutenantRoger commented on #4088
Sure

[2020-03-26 03:04] LieutenantRoger opened #4137 "Make the stats history data to support groupIds query params and use new API to render the stats history UI"
1. Community-app - Allowing seeing stats history for topgear / other communities. Was disable during last release.
- code access:
https://github.com/topcoder-platform/community-app/tree/feature-stats-history

2. Community-app - Change Stats History web service call to fetch data by passing groupsId, as we did for member stats, and use the retrieved stats from new API to render the UI.

Please make

[2020-03-26 03:28] SathyaJayabal commented on #4088
Verified for Topgear
<img width="1440" alt="Screenshot 2020-03-26 at 8 53 37 AM" src="https://user-images.githubusercontent.com/58783823/77607296-decfbb00-6f3f-11ea-861d-04737bd02623.png">

[2020-03-26 03:52] LieutenantRoger commented on #4088
Thanks

[2020-03-26 07:02] lakshmiathreya commented on #4088
As seen on Beta with wipro login:
<img width="1664" alt="Screenshot 2020-03-26 at 12 27 49 PM" src="https://user-images.githubusercontent.com/51733042/77619059-6c6dd380-6f5d-11ea-8e94-701d94b4fbdd.png">

[2020-03-26 07:03] lakshmiathreya commented on #4088
Settings link from the Profile redirects to Prod. Only the direct url shown above loads the Beta Settings page.

[2020-03-26 07:18] lakshmiathreya commented on #4088
All Settings sanity checked for this Profile on Beta. The changes seem to be set correctly.

[2020-03-26 08:28] LieutenantRoger commented on #4088
Hi @lakshmiathreya  yes, it was due to the `beta environment`, when we use topgear.topcoder.com to access the topgear group, the navigation will work correctly.

[2020-03-26 11:17] lakshmiathreya commented on #4088
Verified on topgear.topcoder.com via Wipro login.

[2020-03-26 11:17] #4088 closed

[2020-03-26 11:47] sushilshinde opened #4140 "Notification pop-up inconsistent"
@luizrrodrigues sometimes I see this pop-up

![Topcoder Challenges 2020-03-26 17-00-20](https://user-images.githubusercontent.com/683231/77643520-828f8a00-6f85-11ea-8289-c7711a18ed4b.png)

and sometimes I see this

![Topcoder Challenges 2020-03-26 17-11-40](https://user-images.githubusercontent.com/683231/77643549-93d89680-6f85-11ea-9fe9-d1ffc6a13df5.png)

FYI @Oanh-and-only-Oanh @SathyaJayabal

[2020-03-26 11:49] SathyaJayabal opened #4141 "remove Notifications Settings link"
Hide notifications settings link until settings page is ready

[2020-03-26 11:51] SathyaJayabal commented on #4141
The notification settings button and related text must be removed from the notification popup empty state.
![Topcoder Challenges 2020-03-26 17-11-40](https://user-images.githubusercontent.com/58783823/77643909-2e38da00-6f86-11ea-8884-80ca5b4d785a.png)

[2020-03-26 11:54] SathyaJayabal commented on #3337
Bell icon is in active state but the notifications popup and the notifications page do not display any notifications
<img width="1440" alt="Screenshot 2020-03-26 at 5 21 41 PM" src="https://user-images.githubusercontent.com/58783823/77644084-81ab2800-6f86-11ea-8f97-5f86fa7e9e65.png">

@luizrrodrigues , this could be because of the older submission uploaded notifications returned by the backend, bu

[2020-03-26 11:58] SathyaJayabal commented on #4120
verified on beta(feature branch)
<img width="1440" alt="Screenshot 2020-03-26 at 5 27 56 PM" src="https://user-images.githubusercontent.com/58783823/77644555-2fb6d200-6f87-11ea-86c3-bff0d87085c8.png">

[2020-03-26 12:01] SathyaJayabal commented on #4114
@Oanh-and-only-Oanh @Dara-K @sachin-maheshwari @sushilshinde
On testing in beta, it became clear that the checkpoint screening is done by the "Checkpoint Screener" role and not "Primary Screener" as perviously mentioned.

We need to update the code to reflect this. The Checkpoint Screener must get the Checkpoint Screening Start notification.

[2020-03-26 12:41] SathyaJayabal commented on #3337
cc @sachin-maheshwari

[2020-03-26 13:26] SathyaJayabal commented on #4141
@luizrrodrigues , need to remove the settings icon from the mobile view too
<img width="500" alt="Screenshot 2020-03-26 at 6 53 45 PM" src="https://user-images.githubusercontent.com/58783823/77651928-80342c80-6f93-11ea-8a3a-5d92a9cb76da.png">

[2020-03-26 13:27] SathyaJayabal commented on #4122
Verified by @sushilshinde  beta(feature branch)

[2020-03-26 13:54] SathyaJayabal commented on #4114
@Oanh-and-only-Oanh @sachin-maheshwari @sushilshinde
Checkpoint screening start notification was not received.
On looking into it, the event for checkpoint screening start was not published by OR.
Other events like checkpoint screening end, checkpoint review start etc were published. I have contacted support to help with resetting the contest phases so that we can try testing again.

The checkpoin

[2020-03-26 16:01] Oanh-and-only-Oanh commented on #4140
@Dara-K, from a UI perspective, when should members see the above?

[2020-03-26 16:02] Oanh-and-only-Oanh commented on #4141
Update text to "check your notification settings"

[2020-03-26 16:04] Dara-K commented on #4140
When they have read all notifications. That's also why the "Mark all as read" link is not there anymore.

[2020-03-26 16:11] SathyaJayabal commented on #4140
@Oanh-and-only-Oanh , the. issue is members should see the empty state only when they do not have any notifications.  But sometimes for the same user, they see both the above randomly. Sometimes it shows the empty state and sometimes with notifications.

[2020-03-26 16:11] SathyaJayabal commented on #4140
cc @sushilshinde

[2020-03-26 16:36] luizrrodrigues commented on #4140
@Oanh-and-only-Oanh @Dara-K @SathyaJayabal

Yeah, the issue here is about sometimes the notifications items not loaded.

This happen after login if refresh back to normal. I'll check this one.

[2020-03-26 17:07] ab668685 opened #4142 "Not receiving QA challenges notification."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as User
2. Select as QA challenger

**Expected behavior**
Should receive a notification whenever a new challenge is in uploaded  .

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

[2020-03-26 17:12] ab668685 opened #4143 "No challenges found in My Challenges message even though user has multiple challenges"
No challenges found in My Challenges message even though  user has multiple challenges

**To Reproduce**
Steps to reproduce the behavior:
1. Login as user.
2. Click on any project link.
3. Click on < icon or goback
4. View the my challenges

**Expected behavior**
All the challenges should display

**Screenshots**

![image](https://user-images.githubusercontent.com/61318135/77675499-0875fa00-6fb3-1

[2020-03-26 18:49] Oanh-and-only-Oanh commented on #3547
Holding deployment. We need to do several things beforehand. 1) examine the current devices data of the members to see if the data is "worth" retaining and migrating. 2) IF the data is worth migrating, we need a plan to do so, 3) IF the data is NOT worth migrating, we can start from ground zero and let members know to please update their devices.

[2020-03-26 21:59] luizrrodrigues commented on #4141
@SathyaJayabal Done.

[2020-03-26 22:01] luizrrodrigues commented on #3337
@SathyaJayabal Yep, we need to remove this from backend return.

[2020-03-27 00:16] luizrrodrigues commented on #4140
@sushilshinde I can't reproduce this one anymore, maybe was API instability?
Can you recheck and let me know if still able to see the issue?

cc @SathyaJayabal

Thanks

[2020-03-27 02:21] luizrrodrigues commented on #4140
**UPDATE**
I have found the issue, this happen when user token is changed. It is updated regularly over a period of time.

Working on fix.

[2020-03-27 02:40] SathyaJayabal commented on #4141
@Oanh-and-only-Oanh @luizrrodrigues , I am sorry there was some misunderstanding. This is the text I was talking about.
<img width="639" alt="Screenshot 2020-03-27 at 8 07 27 AM" src="https://user-images.githubusercontent.com/58783823/
77715647-2454bc80-7002-11ea-8c97-e78e2b2c0c8b.png">

We need to hide the button and also hide this text as it refers to the settings.

[2020-03-27 02:43] luizrrodrigues commented on #4141
@SathyaJayabal Ah okay, so keep **Notification Settings** in button and hide both, button and text bellow.

Right?

[2020-03-27 03:10] SathyaJayabal commented on #4141
@Oanh-and-only-Oanh , yes right.

[2020-03-27 06:19] SathyaJayabal commented on #4114
@Oanh-and-only-Oanh @sachin-maheshwari @sushilshinde ,  checkpoint screening notification was also received when testing today
![Topcoder Challenges 2020-03-27 11-42-24](https://user-images.githubusercontent.com/58783823/77727750-fcc11c80-7020-11ea-8090-76eee5d642b1.png)

[2020-03-27 06:22] SathyaJayabal commented on #3337
Sure @luizrrodrigues

[2020-03-27 06:23] SathyaJayabal commented on #4108
https://github.com/topcoder-platform/community-app/issues/3337#issuecomment-604387623

@sachin-maheshwari , we need to remove the older submission uploaded notifications from the backend

[2020-03-27 06:34] sandhiyakavi commented on #4082
Tested the Fix.The Topgear user is still able to see the public member's handle details.

I have also attached video for better clarity.

![image](https://user-images.githubusercontent.com/55895538/77728560-c84e6000-7022-11ea-8ed8-5698c0fa2b11.png)

[issue#4082_video.zip](https://github.com/topcoder-platform/community-app/files/4391880/issue.4082_video.zip)

[2020-03-27 14:47] LieutenantRoger commented on #4082
Hi @SathyaJayabal

It seems you are using wrong url when testing.

Please always use url format like `topgear.topcoder-dev.com` with sub-domain at the head of the url.

Current deployment URL like `community-app.topcoder-dev.com/__community__/wipro` won't work.

[2020-03-27 15:16] SathyaJayabal commented on #4082
cc @sandhiyakavi .

[2020-03-28 19:50] luizrrodrigues commented on #4140
@SathyaJayabal @sushilshinde
This was fixed and ready for QA in Beta.

[2020-03-28 20:29] luizrrodrigues commented on #4141
@SathyaJayabal Fixed and deployed in Beta server.

[2020-03-29 04:24] SathyaJayabal commented on #4141
@luizrrodrigues , verified on beta
<img width="1398" alt="Screenshot 2020-03-29 at 9 52 19 AM" src="https://user-images.githubusercontent.com/58783823/77840284-2c982d80-71a3-11ea-90f8-e7f6022f2713.png">

[2020-03-29 04:25] SathyaJayabal commented on #4140
@luizrrodrigues , verified on beta. The notifications load correctly every time.

[2020-03-29 12:40] Dara-K opened #4144 "Blank Page when Trying to Submit"
**Describe the bug**
When members are trying to submit on Design Challenges they are seeing a blank page as per attached document.

**To Reproduce**
The bug was reported for this challenge (checkpoint phase) https://www.topcoder.com/challenges/30120209 but I was told it happens to other challenges as well for other members.
Steps to reproduce the behavior:
1. Press on Submit button.
2. The Submit

[2020-03-29 12:55] Dara-K commented on #4144
Adding @jonimazumder to the conversation as well

[2020-03-29 13:36] callmekatootie opened #4145 "Add "Paypal" as a challenge tag"
**Is your feature request related to a problem? Please describe.**
Cannot find the tag "Paypal" for challenges

**Describe the solution you'd like**
Need a new tag "Paypal" to add to challenges

**Describe alternatives you've considered**
None

**Additional context**
This will denote integration with Paypal

[2020-03-30 03:51] SathyaJayabal opened #4146 "Update Checkpoint Screening notification receiver f rom "Primary Screener" to "Checkpoint Screener""
Update Checkpoint Screening notification receiver f rom "Primary Screener" to "Checkpoint Screener"

[2020-03-30 03:52] SathyaJayabal commented on #4114
This issue will be tracked in #4146

[2020-03-30 04:12] SathyaJayabal opened #4147 "Spec modified event is not published by TC Direct"
Spec modified event is not published by TC Direct.

Make sure the the spec modified event is only considered for active contests and not for draft contests

[2020-03-30 06:36] LieutenantRoger commented on #4137
Also please only test `topgear` group for now.

[2020-03-30 06:36] LieutenantRoger commented on #4137
FYI @urwithat @Oanh-and-only-Oanh

[2020-03-30 07:07] SathyaJayabal commented on #4033
Verified the various tracks, groups and skills filter in dev backend.

[2020-03-30 07:09] SathyaJayabal opened #4149 "Notifications : Phase 1"
This release will have in scope:
https://github.com/topcoder-platform/community-app/issues/3337 (to dropdown)
https://github.com/topcoder-platform/community-app/issues/4013 (to details page)

Other sub issues:
Community App
https://github.com/topcoder-platform/community-app/issues/4141
https://github.com/topcoder-platform/community-app/issues/4140
https://github.com/topcoder-platform/community-app

[2020-03-30 08:05] SathyaJayabal commented on #4137
@LieutenantRoger , was able to view both the public and private stats history page for the user standlove. There are a few inconsistencies in the data like the below
1. Even though the ratings are different for the design, architecture and assembly tracks(for public and private history), the challenge details are all the same
<img width="1440" alt="Screenshot 2020-03-30 at 1 27 46 PM" src="https:/

[2020-03-30 08:19] SathyaJayabal commented on #4141
verified on beta (develop branch). Settings link and icon removed.
<img width="1433" alt="Screenshot 2020-03-30 at 1 47 10 PM" src="https://user-images.githubusercontent.com/58783823/77890469-20889a80-728d-11ea-841d-a9152160e2f7.png">

<img width="502" alt="Screenshot 2020-03-30 at 1 46 07 PM" src="https://user-images.githubusercontent.com/58783823/77890456-1bc3e680-728d-11ea-85e9-de1698a0a5e9.png

[2020-03-30 08:21] SathyaJayabal commented on #4140
Verified on beta (develop branch)

[2020-03-30 08:23] SathyaJayabal commented on #4120
verified on beta. (develop branch)
<img width="1440" alt="Screenshot 2020-03-30 at 1 52 59 PM" src="https://user-images.githubusercontent.com/58783823/77890917-d05e0800-728d-11ea-9c48-03e68e49fba2.png">

[2020-03-30 08:30] SathyaJayabal commented on #4114
verified on beta (develop branch)
<img width="1440" alt="Screenshot 2020-03-30 at 1 55 57 PM" src="https://user-images.githubusercontent.com/58783823/77891214-41052480-728e-11ea-9ee1-9d1971ef1377.png">
![Topcoder Challenges 2020-03-30 13-58-07](https://user-images.githubusercontent.com/58783823/77891588-ce487900-728e-11ea-85db-c953ab675c64.png)

[2020-03-30 08:31] SathyaJayabal commented on #4108
New notifications on submission upload are not created. But the above issues. exists
https://github.com/topcoder-platform/community-app/issues/4108#issuecomment-604836108

[2020-03-30 08:33] SathyaJayabal opened #4150 "Remove older submission created notifications from DB"
Remove older submission created notifications from DB
https://github.com/topcoder-platform/community-app/issues/4108#issuecomment-604836108

[2020-03-30 08:35] SathyaJayabal commented on #4085
verified on beta (develop)

[2020-03-30 08:37] SathyaJayabal commented on #4057
verified on beta(develop)
<img width="1440" alt="Screenshot 2020-03-30 at 1 52 59 PM" src="https://user-images.githubusercontent.com/58783823/77892109-ab6a9480-728f-11ea-9a84-b020c3f06bbd.png">

[2020-03-30 08:39] SathyaJayabal commented on #4055
verified on beta (develop).
Broadcast notifications
Checkpoint review and Checkpoint Screening notifications

Spec modified notification is deferred to release 2.

[2020-03-30 08:40] SathyaJayabal commented on #4041
verified on beta(develop)
<img width="1440" alt="Screenshot 2020-03-30 at 1 52 59 PM" src="https://user-images.githubusercontent.com/58783823/77892362-25028280-7290-11ea-9a3e-184d5fb0a309.png">

[2020-03-30 08:41] SathyaJayabal commented on #4040
verified on beta (develop)
<img width="1440" alt="Screenshot 2020-03-30 at 1 52 59 PM" src="https://user-images.githubusercontent.com/58783823/77892471-49f6f580-7290-11ea-97d4-1b5e2fc17d77.png">

[2020-03-30 08:43] SathyaJayabal commented on #4013
verified on beta(develop)
<img width="1440" alt="Screenshot 2020-03-30 at 1 52 59 PM" src="https://user-images.githubusercontent.com/58783823/77892598-7b6fc100-7290-11ea-875e-455e4949e3bd.png">

[2020-03-30 08:46] SathyaJayabal commented on #3337
verified on beta(develop)
<img width="1440" alt="Screenshot 2020-03-30 at 1 55 57 PM" src="https://user-images.githubusercontent.com/58783823/77892917-f20cbe80-7290-11ea-9146-419d9dcdb0f2.png">

[2020-03-30 09:47] LieutenantRoger commented on #4137
Hi @SathyaJayabal

As have discussed, this is the expected behavior due to the testing data preparation.

Btw, I have re-deployed the feature using topcoder-react-lib#v1000.14.0 to dev env for QA.

[2020-03-30 11:15] SathyaJayabal commented on #4137
@LieutenantRoger for the. topcoder stats history page(public) there should not abe any group id passed right?

[2020-03-30 11:36] SathyaJayabal commented on #4137
@LieutenantRoger for the call to stats history page for topgear, there are. two group ids passed. Topgear group is "20000000", why is the other id passed ?
<img width="1440" alt="Screenshot 2020-03-30 at 5 04 38 PM" src="https://user-images.githubusercontent.com/58783823/77908237-bd0c6600-72a8-11ea-8499-b803698857c9.png">

[2020-03-30 11:38] LieutenantRoger commented on #4137
It's expected as well, please refer the `stats` call for reference when you are checking `history` call.

[2020-03-30 11:49] SathyaJayabal commented on #4051
@kkartunov , do you the url where these changes could be tested?

[2020-03-30 11:55] #4033 closed

[2020-03-30 12:00] LieutenantRoger commented on #4137
Correct, when there is no group id provided in the request,  the history data with groupId=10 will be returned by default.

[2020-03-30 12:09] SathyaJayabal commented on #4040
verified on prod
<img width="1440" alt="Screenshot 2020-03-30 at 5 38 46 PM" src="https://user-images.githubusercontent.com/58783823/77910790-59386c00-72ad-11ea-81a9-b6b464fac91d.png">

[2020-03-30 12:09] #4040 closed

[2020-03-30 12:12] SathyaJayabal commented on #4041
verified on prod
<img width="1440" alt="Screenshot 2020-03-30 at 5 38 46 PM" src="https://user-images.githubusercontent.com/58783823/77910996-b46a5e80-72ad-11ea-951b-150a7a8370b4.png">

[2020-03-30 12:12] #4041 closed

[2020-03-30 12:13] SathyaJayabal commented on #4141
verified on prod
<img width="479" alt="Screenshot 2020-03-30 at 5 42 46 PM" src="https://user-images.githubusercontent.com/58783823/77911148-f693a000-72ad-11ea-8c51-47502310a97d.png">
<img width="501" alt="Screenshot 2020-03-30 at 5 43 03 PM" src="https://user-images.githubusercontent.com/58783823/77911154-f8f5fa00-72ad-11ea-8a70-770056dcab6d.png">

[2020-03-30 12:13] #4141 closed

[2020-03-30 12:14] SathyaJayabal commented on #4140
verified on prod.

[2020-03-30 12:14] #4140 closed

[2020-03-30 12:15] SathyaJayabal commented on #4057
verified on prod
<img width="1440" alt="Screenshot 2020-03-30 at 5 38 46 PM" src="https://user-images.githubusercontent.com/58783823/77911323-43777680-72ae-11ea-8c63-8c5a9498783b.png">

[2020-03-30 12:19] #4057 closed

[2020-03-30 12:23] SathyaJayabal commented on #4055
verified on prod
<img width="1440" alt="Screenshot 2020-03-30 at 5 53 01 PM" src="https://user-images.githubusercontent.com/58783823/77911951-53dc2100-72af-11ea-8dfe-938a71273a82.png">

[2020-03-30 12:23] #4055 closed

[2020-03-30 12:25] SathyaJayabal commented on #4085
verified on prod
[notif.mov.zip](https://github.com/topcoder-platform/community-app/files/4402628/notif.mov.zip)

[2020-03-30 12:25] #4085 closed

[2020-03-30 12:27] SathyaJayabal commented on #4105
verified on prod
<img width="1440" alt="Screenshot 2020-03-30 at 5 53 01 PM" src="https://user-images.githubusercontent.com/58783823/77912242-d2d15980-72af-11ea-923f-4ae4a84470d7.png">

[2020-03-30 12:27] #4105 closed

[2020-03-30 12:28] SathyaJayabal commented on #4108
verified on prod.

[2020-03-30 12:28] #4108 closed

[2020-03-30 12:30] SathyaJayabal commented on #4114
Verified on prod.
<img width="1440" alt="Screenshot 2020-03-30 at 5 53 01 PM" src="https://user-images.githubusercontent.com/58783823/77912462-3d829500-72b0-11ea-8fd1-7cbd4eaa7d7c.png">

[2020-03-30 12:30] #4114 closed

[2020-03-30 12:31] SathyaJayabal commented on #4120
verified on prod
<img width="1440" alt="Screenshot 2020-03-30 at 5 38 46 PM" src="https://user-images.githubusercontent.com/58783823/77912553-6145db00-72b0-11ea-86ad-da2970678b92.png">

[2020-03-30 12:31] #4120 closed

[2020-03-30 12:32] SathyaJayabal commented on #4121
Can not be verified on production until a broadcast message is posted with the above filters.

[2020-03-30 12:32] #4121 closed

[2020-03-30 12:33] SathyaJayabal commented on #4122
can be verified on production only when a broadcast message with a link is published.

[2020-03-30 12:33] #4122 closed

[2020-03-30 12:37] SathyaJayabal commented on #4013
verified on prod
<img width="1440" alt="Screenshot 2020-03-30 at 5 38 46 PM" src="https://user-images.githubusercontent.com/58783823/77912818-e204d700-72b0-11ea-8cf6-394a4b2273e5.png">

[2020-03-30 12:37] #4013 closed

[2020-03-30 12:39] SathyaJayabal commented on #3337
verified on prod
<img width="1440" alt="Screenshot 2020-03-30 at 5 53 01 PM" src="https://user-images.githubusercontent.com/58783823/77913216-7cfdb100-72b1-11ea-9417-5b453f04c667.png">

[2020-03-30 12:39] #3337 closed

[2020-03-30 12:53] #4149 closed

[2020-03-30 12:54] SathyaJayabal commented on #4149
verified on prod

[2020-03-30 13:02] SathyaJayabal opened #4152 "Refreshing the notifications page takes the user to 404 page"
go to https://www.topcoder.com/notifications
Refreshing the page

expected: notification page is displayed
actual: 404 page is displayed

please refer to video
[notif 404.mov.zip](https://github.com/topcoder-platform/community-app/files/4402868/notif.404.mov.zip)

[2020-03-30 13:07] SathyaJayabal commented on #4144
@Dara-K , is this. still happening? I was able to submit to a design challenge(not the one mentioned above though)

[2020-03-30 13:08] Dara-K commented on #4144
Yes, is happening - this happened yesterday to one member

[2020-03-30 13:10] SathyaJayabal commented on #4144
@Oanh-and-only-Oanh , This issue seems to be happening to some users. I was not able to reproduce it.
cc @Dara-K

[2020-03-30 13:20] adroc-tc commented on #4130
@Oanh-and-only-Oanh checking in on this issue - is there a date to tackle this issue?

[2020-03-30 13:24] harshitmehta123 commented on #3483
Hey, @Oanh-and-only-Oanh We have the next MM on April 17th and we also have two important customer matches starting in mid-April. It will be great to get this fixed to help us in Member and Customer Experience.

[2020-03-30 20:22] kkartunov commented on #4061
@SathyaJayabal can we QA that again please? There is commit claiming to fix it...

[2020-03-31 03:29] SathyaJayabal commented on #4091
@kkartunov , clicking on the grey area also causes the issue.  The entire grey box is clickable and must take the user to the article, not just the text and image area.

The video attached to. the issue description shows. that even clicking on the actual text. does not. work sometimes(which I cannot still reproduce)

[2020-03-31 03:35] SathyaJayabal commented on #3641
@kkartunov @Oanh-and-only-Oanh , since newsletter preferences were the only section present under email preferences, now the email tab is empty. We should remove the email tab too as it is not a good UX to have an empty tab.

<img width="1440" alt="Screenshot 2020-03-31 at 9 01 12 AM" src="https://user-images.githubusercontent.com/58783823/77984136-6184bb80-732e-11ea-8448-54b16b76a17f.png">

[2020-03-31 04:49] SathyaJayabal commented on #4137
@LieutenantRoger , I am. passing this one as per clarifications above. The public and topgear stats history pages are displayed for the user standlove. The group id is passed in the history call.

[2020-03-31 05:03] SathyaJayabal commented on #3983
verified on test
<img width="1439" alt="Screenshot 2020-03-31 at 10 33 14 AM" src="https://user-images.githubusercontent.com/58783823/77988925-10c78f80-733b-11ea-841d-7a5ab35a4542.png">

[2020-03-31 05:19] SathyaJayabal commented on #3984
@kkartunov ,  the link https://www.topcoder.com/community/how-it-works/privacy-policy/ should redirect to https://www.topcoder.com/privacy-policy/

The link does not redirect to the marketing site page and still has a redirect notice.
<img width="1440" alt="Screenshot 2020-03-31 at 10 47 52 AM" src="https://user-images.githubusercontent.com/58783823/77989772-3d7ca680-733d-11ea-95b8-02eb1dab864e.pn

[2020-03-31 05:28] SathyaJayabal commented on #4061
@kkartunov , got the error 5 out of 6 times.

If you try to open the above in in two tabs at the same time you get the error.

<img width="1436" alt="Screenshot 2020-03-31 at 10 56 53 AM" src="https://user-images.githubusercontent.com/58783823/77990198-62254e00-733e-11ea-8bd6-e7ed2052b913.png">

[2020-03-31 05:49] sandhiyakavi commented on #4124
Tested the issue.It is working as expected.

![image](https://user-images.githubusercontent.com/55895538/77991414-7159cb00-7341-11ea-93f6-c63c193111c9.png)

[2020-03-31 06:29] SathyaJayabal commented on #4082
@LieutenantRoger
When accessing the profile of a topgear user. the profile is displayed correctly within the topgear site.
But when accessing the profile of the member who does not belong to topgear group, we do not get the new page with "This member does not have a profile on this sub community " message. Please also refer to video.
[private profile.mov.zip](https://github.com/topcoder-platform/c

[2020-03-31 06:32] sandhiyakavi commented on #4125
Tested the issue.All track landing pages are landing to their respective category in Thrive.

But after directing to the page they are not pointing to the Tracks in the header.Instead it is pointing/showing  the Explore in the header.

Attached screenshot as well as video of the same.

![image](https://user-images.githubusercontent.com/55895538/77993763-67869680-7346-11ea-8aff-9e7d51cd1a29.png)

[

[2020-03-31 06:36] SathyaJayabal commented on #4126
verified on test
[footer privacy.mov.zip](https://github.com/topcoder-platform/community-app/files/4407176/footer.privacy.mov.zip)

[2020-03-31 06:43] SathyaJayabal commented on #4125
@Oanh-and-only-Oanh  @kkartunov , the nav must reflect the selected track like in production now.
<img width="1411" alt="Screenshot 2020-03-31 at 12 12 33 PM" src="https://user-images.githubusercontent.com/58783823/77995200-f5638100-7348-11ea-9f61-f0ad6e75b846.png">

[2020-03-31 07:14] SathyaJayabal commented on #4082
The 'tester1234' user is a public user who does not belong to the topgear group.  When clicking on the user's handle(from public contest registrant list) the below screen is displayed.
<img width="1440" alt="Screenshot 2020-03-31 at 11 54 09 AM" src="https://user-images.githubusercontent.com/58783823/77997380-f3032600-734c-11ea-97ff-3902f27bb1d9.png">

But this is wrong and the expected screen sho

[2020-03-31 07:18] LieutenantRoger commented on #4082
Hi @Oanh-and-only-Oanh

Could you please confirm above snapshot is correct or not ?

We can get tester1234's profile data like this, https://monosnap.com/file/2VuWojABcot1YwlL2tz5zeti2GloNA

Though the actual data in the response is empty like this: https://monosnap.com/file/ANfAQfhZP6j3zMtJa939LAUMngOivX

From this comment above, https://github.com/topcoder-platform/community-app/issues/4082#issu

[2020-03-31 07:39] LieutenantRoger commented on #4082
Maybe we need to make the /:handle api to support groupIds query parameter as well, so when we visit topgear.topcoder-dev.com/test1234,  the API should not return any data back as `test1234` doesn't belong to `topgear` group.

[2020-03-31 08:40] SathyaJayabal commented on #4053
verified on test
<img width="501" alt="Screenshot 2020-03-31 at 2 04 38 PM" src="https://user-images.githubusercontent.com/58783823/78005562-5abf6e00-7359-11ea-87c4-9142026cbcd4.png">
<img width="499" alt="Screenshot 2020-03-31 at 2 09 41 PM" src="https://user-images.githubusercontent.com/58783823/78005569-5dba5e80-7359-11ea-8da8-f7bc2144ef09.png">

[2020-03-31 09:17] SathyaJayabal commented on #4137
verified on dev(develop branch)
<img width="1440" alt="Screenshot 2020-03-31 at 2 20 32 PM" src="https://user-images.githubusercontent.com/58783823/78006786-0a491000-735b-11ea-8672-a11e836a73c3.png">
<img width="1440" alt="Screenshot 2020-03-31 at 2 20 43 PM" src="https://user-images.githubusercontent.com/58783823/78006819-159c3b80-735b-11ea-98c6-390d9e682a83.png">
<img width="1440" alt="Screensho

[2020-03-31 09:21] LieutenantRoger commented on #4137
Thanks @SathyaJayabal

[2020-03-31 09:24] SathyaJayabal commented on #4134
@LieutenantRoger , this one is already fixed on production.
<img width="1435" alt="Screenshot 2020-03-31 at 2 54 22 PM" src="https://user-images.githubusercontent.com/58783823/78010049-8b0a0b00-735f-11ea-9243-f8a2d146ca3b.png">

[2020-03-31 09:34] SathyaJayabal commented on #4134
verified on beta(develop)
<img width="1440" alt="Screenshot 2020-03-31 at 3 04 05 PM" src="https://user-images.githubusercontent.com/58783823/78011213-e8eb2280-7360-11ea-996c-91c3f2396a2f.png">

[2020-03-31 09:35] kkartunov commented on #3641
@SathyaJayabal we need to keep it because of:
1. All other tabs are external and load in new page thus can't begin with new one which breaks tabs.
2. We could add email preferences for general newsletter latter in this section.

Please, feel free to proceed with this one.

[2020-03-31 09:35] LieutenantRoger commented on #3483
Hi @topcoder-platform/topcodercompetitors

We increased the prize for this ticket, please come to help us resolve this ticket.

Thank you.

[2020-03-31 09:40] kkartunov commented on #4125
@SathyaJayabal this is a bug in the navigation module and has to be fixed in new ticket. It appears that it does not correctly highlight the active link. I think we should proceed with this as it is and have it fixed separately. cc @Oanh-and-only-Oanh

[2020-03-31 09:44] kkartunov commented on #3984
@SathyaJayabal this one is okay. We decided to keep the warning until all related fixes are merged. I will remove it when we are done. Related to redirection it is not possible to automatically redirect reroutes thus we decided to remove legacy URL.
This one is good to go! cc @Oanh-and-only-Oanh

[2020-03-31 09:47] kkartunov commented on #4051
@SathyaJayabal when testing this one note:
- we decided to have different theme from the marketing site thus it looks different
test here https://test-community-app.topcoder-dev.com/examples/contentful/viewport/f7JWRi9xxxsRQItjL1w6e

[2020-03-31 09:49] kkartunov commented on #4061
@SathyaJayabal okay thanks. Removing this from PR. We continue without it as we did last time...

[2020-03-31 09:50] crazyk07 commented on #3483
Contest https://www.topcoder.com/challenges/30115324 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-03-31 09:50] rashmi73 commented on #3483
@LieutenantRoger let me try once again

[2020-03-31 09:56] luizrrodrigues opened #4154 "Notifications - Implement Google Analytics event tracking"
Google Analytics needs to track all events bellow:

- Open popup notifications;
- Click "Mark All Read";
- Click in "Mark Notifications As Read";
- Click in Notification item, if is a challenge type;
- Event "Mark All Notifications As Seen";
- Visite Notifications Details page;

[2020-03-31 10:25] SathyaJayabal commented on #3641
@kkartunov , marking this as pass as per comment above.

[2020-03-31 10:28] SathyaJayabal commented on #4125
@luizrrodrigues , van you please help

[2020-03-31 10:29] SathyaJayabal commented on #3984
@kkartunov marking this as pass based on comment above.

[2020-03-31 10:31] luizrrodrigues commented on #4125
@SathyaJayabal Sure, I'll take a look today.

[2020-03-31 10:41] SathyaJayabal commented on #4051
Verified on test

- indentation
- line numbering

<img width="1436" alt="Screenshot 2020-03-31 at 4 10 24 PM" src="https://user-images.githubusercontent.com/58783823/78017635-2c965a00-736a-11ea-9f8b-8563f14f2e01.png">

[2020-03-31 14:51] Oanh-and-only-Oanh commented on #4125
@SathyaJayabal, let's proceed with this and mark as "Passed QA" so we can deploy. Can you open a new ticket for the navi issue and assign to @luizrrodrigues? Please label ticket as Navi and add to the "Later" column on the Issues Board. We'll do a hot fix in a few weeks to resolved.

[2020-04-01 04:06] SathyaJayabal commented on #4125
Tracking the Nav issue here
https://github.com/topcoder-platform/navigation-component/issues/168

[2020-04-01 05:41] SathyaJayabal commented on #4082
@LieutenantRoger , we tested only the member handles on the registrants list of a challenge. Can you provide the results of the challenge mentioned here so that we can test all the pages identified ?
https://github.com/topcoder-platform/community-app/issues/4082#issuecomment-597407107

[2020-04-01 07:17] Dara-K commented on #4144
What can we do to help here? @Oanh-and-only-Oanh @SathyaJayabal

[2020-04-01 11:36] LieutenantRoger commented on #4082
Hi @SathyaJayabal  please see this file

https://docs.google.com/document/d/1h89l4a060GlHJoZtHFurACXT9UuX8Ft9OfpJeuYwNfc/edit?usp=sharing

[2020-04-01 15:06] rashmi73 commented on #3483
@LieutenantRoger PR is ready https://github.com/topcoder-platform/community-app/pull/4156

[2020-04-01 15:44] Oanh-and-only-Oanh commented on #4082
@LieutenantRoger and @SathyaJayabal,

[2020-04-01 16:35] LieutenantRoger commented on #4082
ok thanks @Oanh-and-only-Oanh @SathyaJayabal

1. https://github.com/topcoder-platform/community-app/issues/4082#issuecomment-606456009

as mentioned here, we will have to make '/:handle' accept groupid as well. @urwithat :point_up:

[2020-04-01 17:17] Oanh-and-only-Oanh opened #4157 "Update Privacy URL on Forums footer"
Expected behavior:
Direct to marketing site page: https://www.topcoder.com/privacy-policy/

[2020-04-01 17:19] Oanh-and-only-Oanh commented on #4157
similar to this issue #3984, we need to update footer on Forums legacy app to the new URL https://www.topcoder.com/privacy-policy/

[2020-04-02 02:59] SathyaJayabal commented on #4147
@sachin-maheshwari , we need to make sure the. notification is sent only on active challenges modifictaion.

[2020-04-02 05:04] kkartunov opened #4158 "Update TC Footer to new design"
TC Footer should be updated to meet new design https://marvelapp.com/535c9ga/screen/66441662/handoff

[2020-04-02 06:12] Jobee1 commented on #3641
Tested in Beta environment: Only E-mail Preferences is displayed.
![3641](https://user-images.githubusercontent.com/48575864/78216200-03e0a280-74d9-11ea-86ef-79eb4eb022e8.png)

[2020-04-02 06:23] sandhiyakavi commented on #4053
verified on Beta env,working as expected.

<img width="357" alt="font_check1" src="https://user-images.githubusercontent.com/55895538/78216848-608f8d80-74d8-11ea-87b8-3bace32c78e6.PNG">
<img width="303" alt="font_check2" src="https://user-images.githubusercontent.com/55895538/78216853-64231480-74d8-11ea-818a-0ffc919b6e3a.PNG">

[2020-04-02 06:27] Jobee1 commented on #4124
Tested in Beta Environment: "Gig Work" is displayed.

![4124](https://user-images.githubusercontent.com/48575864/78216590-f1b33400-74d9-11ea-90a2-1af4c4655789.png)

[2020-04-02 06:32] sandhiyakavi commented on #4125
Tested in Beta environment.Working as expected.

Attached video for reference.

[beta_env_issue#4125.zip](https://github.com/topcoder-platform/community-app/files/4419228/beta_env_issue.4125.zip)

[2020-04-02 06:35] Jobee1 commented on #4126
Tested on Beta Environment: Clicking on the "Privacy Policy" redirects to "https://www.topcoder.com/privacy-policy/".

[privacy_policy.zip](https://github.com/topcoder-platform/community-app/files/4419229/privacy_policy.zip)

![Screenshot_40](https://user-images.githubusercontent.com/48575864/78217518-fc6ec880-74db-11ea-955e-6901054d4920.png)

[2020-04-02 06:42] sandhiyakavi commented on #4051
Verified indentation and line numbering in Beta environment,working as expected.

![image](https://user-images.githubusercontent.com/55895538/78218293-2d023280-74db-11ea-82af-590e34c6ce52.png)

[2020-04-02 06:53] sandhiyakavi commented on #3984
verified the issue,Working as expected

Privacy link in Challenges page.
![image](https://user-images.githubusercontent.com/55895538/78219130-8e76d100-74dc-11ea-9d58-f6570af145bb.png)

Privacy policy link in Footer
![image](https://user-images.githubusercontent.com/55895538/78219227-bd8d4280-74dc-11ea-8ca0-a8f0433e7be5.png)

[2020-04-02 06:54] SathyaJayabal commented on #3983
verified on beta(develop)
<img width="1431" alt="Screenshot 2020-04-02 at 12 23 19 PM" src="https://user-images.githubusercontent.com/58783823/78219242-c7af4100-74dc-11ea-9494-0a5820fbaef6.png">

[2020-04-02 08:12] kkartunov opened #4159 "Thrive tags fix"
Tags break when on two lines and when many of them present. Example: https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&tax=SRM%20Editorials

Need to fix.

[2020-04-02 08:16] sachin-maheshwari commented on #4147
@SathyaJayabal as per @dushyantb response - https://topcoder.slack.com/archives/CG2J9RH70/p1585814073150000 There is no way to trigger the specification modifcation events from Direct-app. It can be possible through API.
BTW, tc-notification backend is working fine on Production. sharing screen in which modification event received and generated notification accordingly.
<img width="1440" alt="Scre

[2020-04-02 10:18] callmekatootie opened #4160 "Add Amazon QLDB as a challenge Tag"
**Is your feature request related to a problem? Please describe.**
Cannot find the tag "QLDB" from Amazon for challenges

**Describe the solution you'd like**
Need a new tag "QLDB" for challenges

**Describe alternatives you've considered**
None

**Additional context**
This will denote integration with Amazon's Ledger Database

[2020-04-02 10:51] sushilshinde opened #4161 "[$50] Stalled challenge issue"
https://www.topcoder.com/challenges/30117605 is not stalled

but listing https://www.topcoder.com/challenges

shows it as Stalled

![Topcoder Challenges 2020-04-02 16-17-46](https://user-images.githubusercontent.com/683231/78241141-8ed39400-74fd-11ea-9860-b430dd9d7116.png)

Please fix and PR to the `listing-fix` branch, this is P0 please submit in 4 hours.

https://github.com/topcoder-platform/com

[2020-04-02 10:53] sushilshinde commented on #4161
@topcoder-platform/topcodercompetitors

[2020-04-02 10:55] crazyk07 commented on #4161
Contest https://www.topcoder.com/challenges/30121580 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-02 10:56] crazyk07 commented on #4161
Contest https://www.topcoder.com/challenges/30121580 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-02 11:44] SathyaJayabal commented on #3641
verified on prod
<img width="1440" alt="Screenshot 2020-04-02 at 5 13 33 PM" src="https://user-images.githubusercontent.com/58783823/78245564-4fa94100-7505-11ea-9a94-66f02f8c4850.png">

[2020-04-02 11:44] #3641 closed

[2020-04-02 11:46] SathyaJayabal commented on #3983
verified on prod
<img width="1432" alt="Screenshot 2020-04-02 at 5 14 43 PM" src="https://user-images.githubusercontent.com/58783823/78245742-9f880800-7505-11ea-91f9-d9267e67366d.png">

[2020-04-02 11:46] #3983 closed

[2020-04-02 11:48] sandhiyakavi commented on #4051
verified in Prod.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/78245923-e7a72a80-7505-11ea-9c05-9b7fe5620f13.png)

[2020-04-02 11:49] SathyaJayabal commented on #4053
verified on prod
<img width="495" alt="Screenshot 2020-04-02 at 5 17 59 PM" src="https://user-images.githubusercontent.com/58783823/78246002-0dccca80-7506-11ea-9386-a35adebd84c2.png">
<img width="503" alt="Screenshot 2020-04-02 at 5 18 10 PM" src="https://user-images.githubusercontent.com/58783823/78246008-12917e80-7506-11ea-8a48-1f68afa06f43.png">

[2020-04-02 11:49] #4053 closed

[2020-04-02 11:51] sandhiyakavi commented on #4126
verified on Prod.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/78246168-5a180a80-7506-11ea-8d77-c32af22cba2c.png)

[2020-04-02 11:54] SathyaJayabal commented on #4124
verified on prod
<img width="1440" alt="Screenshot 2020-04-02 at 5 23 39 PM" src="https://user-images.githubusercontent.com/58783823/78246422-c135bf00-7506-11ea-9407-b051048f6240.png">

[2020-04-02 11:54] #4124 closed

[2020-04-02 11:54] SathyaJayabal commented on #4125
verified. on prod
[tracks.mov.zip](https://github.com/topcoder-platform/community-app/files/4420791/tracks.mov.zip)

[2020-04-02 11:54] #4125 closed

[2020-04-02 11:54] sandhiyakavi commented on #3984
Verified in Prod.Working as expected.

Privacy policy link in footer

![image](https://user-images.githubusercontent.com/55895538/78246411-bbd87480-7506-11ea-9fb8-b037018996a9.png)

Privacy link in challenges page

![image](https://user-images.githubusercontent.com/55895538/78246483-dad70680-7506-11ea-9add-e8013bbcba9f.png)

[2020-04-02 11:55] #4126 closed

[2020-04-02 11:56] #4051 closed

[2020-04-02 11:57] #3984 closed

[2020-04-02 12:28] sandhiyakavi commented on #2385
Size of Review type dropdown box under Filters is smaller sometimes.

![image](https://user-images.githubusercontent.com/55895538/78249142-7b2f2a00-750b-11ea-8f7a-374ab251e996.png)

[2020-04-02 14:18] LieutenantRoger commented on #3483
@rashmi73  Your change is the same with your previous submission, which failed in QA phase.
Please try other options, or please open this up for others to try.

[2020-04-02 14:37] rashmi73 commented on #3483
@LieutenantRoger sometime

[2020-04-02 14:46] sushilshinde commented on #4161
@rashmi73 any solution? 4 hours over

[2020-04-02 14:51] rashmi73 commented on #4161
@sushilshinde sometime actively on it, mainly its a backend side issues, where phases are being on details page and not on listing page

[2020-04-02 14:56] sushilshinde commented on #4161
https://api.topcoder.com/v4/challenges/?filter=id%3D30117605

this is returning the phases, which is a listing call not details

[2020-04-02 14:58] rashmi73 commented on #4161
@sushilshinde solved

[2020-04-02 14:59] sushilshinde commented on #4161
@LieutenantRoger please review

[2020-04-02 15:02] LieutenantRoger commented on #4161
Hi @rashmi73  where's the PR ?

[2020-04-02 15:02] rashmi73 commented on #4161
@LieutenantRoger raising just 2 minutes

[2020-04-02 15:06] rashmi73 commented on #4161
@LieutenantRoger PR https://github.com/topcoder-platform/community-app/pull/4163

[2020-04-02 15:54] LieutenantRoger commented on #4161
![image](https://user-images.githubusercontent.com/2875203/78270341-48058e80-753d-11ea-96f1-f96c9748f14e.png)

Thanks, the issue is not presented now.

[2020-04-02 19:42] Oanh-and-only-Oanh opened #4164 "Add General Newsletter switch to Email Preferences."

[2020-04-02 19:46] Oanh-and-only-Oanh commented on #4147
Closing this ticket. No longer valid

[2020-04-02 19:46] #4147 closed

[2020-04-02 19:52] rashmi73 commented on #3483
@LieutenantRoger it is no more reproducible

[2020-04-02 22:49] hokienick opened #4165 "Add General Newsletter switch to Email Preferences in Settings"
We should keep the original layout as it was previously but this section should contain several switches.

Currently, all members are automatically registered for the General Newsletter and have the ability to unsubscribe in the email, however, we should also give them the opportunity to unsubscribe via our preferences.

Switch Turned ON: add contact to the tag in  Mailchimp.
Switch Turned OFF: un

[2020-04-02 22:53] hokienick opened #4166 "[$60]Incorrect URL to My Dashboard in Forums Navigation"
To Replicate:
1. Go to the Topcoder Forums: https://apps.topcoder.com/forums/

2. Mouseover your handle in the top right and mouseover "Dashboard".  Notice the url has an extra slash after topcoder.com/

3.  This causes the link to reroute to an old version of the dashboard from two years ago.
<img width="1717" alt="Screen Shot 2020-04-02 at 3 50 03 PM" src="https://user-images.githubusercontent.c

[2020-04-02 22:55] hokienick opened #4167 "Remove "Invitation Letter" and "Referrals" from Preferences Sidebar"
We aren't sure where these options came from, nevertheless there are dead links in these 2 sections.  Please remove them from the sidebar.

![Screen Shot 2020-04-02 at 1 48 00 PM](https://user-images.githubusercontent.com/1373998/78307308-76ae4580-74fa-11ea-9efb-e2e7cd596426.png)

[2020-04-03 03:52] Oanh-and-only-Oanh commented on #4144
@Dara-K, we need to be able to reproduce this bug in order to fix it. The best is if a member faces the issues, they should record their screen

[2020-04-03 04:34] sandhiyakavi commented on #4161
Verified in Beta as well in Prod,working as Expected in both Environment.

<img width="953" alt="challenge_stalled_check" src="https://user-images.githubusercontent.com/55895538/78324397-3dc1af80-7592-11ea-9e77-dd9715bfea09.PNG">

Prod Environment:

<img width="945" alt="challenge_stalled_prod" src="https://user-images.githubusercontent.com/55895538/78324406-43b79080-7592-11ea-917a-c918fc703728.PN

[2020-04-03 05:25] SathyaJayabal commented on #4154
verified on test env
<img width="1124" alt="Screenshot 2020-04-03 at 10 37 58 AM" src="https://user-images.githubusercontent.com/58783823/78326759-c8a5a880-7598-11ea-8cfd-15ccd27f4bd1.png">

[2020-04-03 05:39] SathyaJayabal commented on #4154
verified on beta. Unable to test the following because there are no unseen/unread notifications on prod backend .
Click "Mark All Read"
Click in "Mark Notifications As Read"
Event "Mark All Notifications As Seen"
<img width="1132" alt="Screenshot 2020-04-03 at 11 07 10 AM" src="https://user-images.githubusercontent.com/58783823/78327875-77e37f00-759b-11ea-9037-82a3507e4ac1.png">

[2020-04-03 05:46] luizrrodrigues commented on #4154
Thanks @SathyaJayabal

@Oanh-and-only-Oanh Please let me know if the events above are fine or if need add/remove.
Sent invite to Google Analytics account:
https://analytics.google.com/analytics/web/#/report/content-event-events/a161803421w226847870p214772878/_u.date00=20200326&_u.date01=20200403&explorer-segmentExplorer.segmentId=analytics.eventAction&explorer-table.plotKeys=%5B%5D

Also, please l

[2020-04-03 06:01] sandhiyakavi commented on #2706
@SathyaJayabal  Not able to replicate the issue since the feature has been changed.

![image](https://user-images.githubusercontent.com/55895538/78329118-7c5d6700-759e-11ea-885c-b104c8a43c33.png)

[2020-04-03 06:02] SathyaJayabal commented on #2706
closing this as its obsolete now.

[2020-04-03 06:02] #2706 closed

[2020-04-03 08:05] sandhiyakavi commented on #3547
We are able to add the same device with same specification multiple times,

<img width="941" alt="device" src="https://user-images.githubusercontent.com/55895538/78338185-edf1e100-75af-11ea-9e4b-bd517f043099.PNG">

![image](https://user-images.githubusercontent.com/55895538/78338018-9e131a00-75af-11ea-971b-ed7888ac3dd3.png)

![image](https://user-images.githubusercontent.com/55895538/78338057-aec3

[2020-04-03 08:15] SathyaJayabal commented on #3547
@Oanh-and-only-Oanh @LieutenantRoger , a couple of minor issues:

1. Able to add same devices multiple times.
https://github.com/topcoder-platform/community-app/issues/3547#issuecomment-608292179

2. Icons are a bit different from production
<img width="120" alt="Screenshot 2020-04-03 at 1 37 49 PM" src="https://user-images.githubusercontent.com/58783823/78338509-8e480580-75b0-11ea-8c6d-7ab8b78a0b

[2020-04-03 08:28] SathyaJayabal commented on #3547
@Oanh-and-only-Oanh @LieutenantRoger for laptops and desktops, since we have "any" for model and manufacturer, "Any" is displayed on device list. Is that fine?
<img width="351" alt="Screenshot 2020-04-03 at 1 56 12 PM" src="https://user-images.githubusercontent.com/58783823/78340094-20e9a400-75b3-11ea-9f9d-637e6947d93c.png">

[2020-04-03 09:03] sandhiyakavi commented on #3221
Tested in Prod. UnRegister button becomes inactive once the user submits for the challenge.

<img width="917" alt="unregister button_inactive" src="https://user-images.githubusercontent.com/55895538/78342962-c272f480-75b7-11ea-80e9-8c2c4f0d5434.PNG">

<img width="928" alt="submitted" src="https://user-images.githubusercontent.com/55895538/78342982-cd2d8980-75b7-11ea-9258-db9261a1508f.PNG">

cc: @S

[2020-04-03 09:14] SathyaJayabal commented on #3221
Closing this as it. is no more reproducible.

[2020-04-03 09:14] #3221 closed

[2020-04-03 09:25] SathyaJayabal commented on #4104
closing this as spec modified notification is not in scope now
https://github.com/topcoder-platform/community-app/issues/4147#issuecomment-608067304

[2020-04-03 09:25] #4104 closed

[2020-04-03 09:43] sandhiyakavi commented on #2616
Search box is working fine in Prod now.Fetching both related username and skills.

![image](https://user-images.githubusercontent.com/55895538/78347079-8a6eb000-75bd-11ea-80ea-4ab3bf098bcd.png)

![image](https://user-images.githubusercontent.com/55895538/78347092-90649100-75bd-11ea-8c78-b2c7b7b30540.png)

cc: @SathyaJayabal

[2020-04-03 10:17] #2616 closed

[2020-04-03 13:07] LieutenantRoger commented on #3483
Hello, @harshitmehta123  could you please confirm the issue still exists ?

[2020-04-03 15:42] Oanh-and-only-Oanh commented on #3547
@SathyaJayabal and @LieutenantRoger,
1) Able to add same devices multiple times.
#3547 (comment). Please resolved. There shouldn't be multiple for the same devices
2) Icons are a bit different from production. Not an issue.
3) The delete confirmation message is not aligned correctly. Please center the delete message.

[2020-04-03 16:13] #4164 closed

[2020-04-03 16:15] Oanh-and-only-Oanh commented on #4166
similar to this issue #3984, we need to update footer on Forums legacy app to the new URL https://www.topcoder.com/privacy-policy/

[2020-04-03 16:15] #4157 closed

[2020-04-03 21:22] Oanh-and-only-Oanh commented on #4130
@adroc-tc, we'll try to tackle this next week.

[2020-04-04 00:36] Oanh-and-only-Oanh commented on #4154
@luizrrodrigues, can you add, "click notification event". We want to know how many people click on the notification vs just marking it as "read".
Can we also add, when the user just clicks on the bell icon to read their notifications. We want to know how many click to see the drop down but don't make any subsequent actions such as "mark as read".

What are the 2 Google analytics IDs?

[2020-04-04 00:47] Oanh-and-only-Oanh commented on #4160
Adding to this spreadsheet for tracking https://docs.google.com/spreadsheets/d/1FGP7Ly9JFHtaXP9F_InSJT8Qyb9E5t3zTASoQTcyMww/edit#gid=0

[2020-04-04 00:47] #4160 closed

[2020-04-04 00:50] Oanh-and-only-Oanh commented on #4145
added to spreadsheet tracker https://docs.google.com/spreadsheets/d/1FGP7Ly9JFHtaXP9F_InSJT8Qyb9E5t3zTASoQTcyMww/edit#gid=0

[2020-04-04 00:50] #4145 closed

[2020-04-04 00:52] luizrrodrigues commented on #4154
@Oanh-and-only-Oanh

Do you mean when clicking in an item and go to the challenge page? Or when click in URL inside notification?
When clicking in challenge item type, we already track this: **Notification Item**, I can change text here if needed.

-----

We already tracking this: **Open Notification Popup**, again I can change text here if needed.

-----

Sorry, have just one GA ID, another is Go

[2020-04-04 00:53] Oanh-and-only-Oanh commented on #4142
Added this feature request to roadmap. closing ticket.

[2020-04-04 00:53] #4142 closed

[2020-04-04 00:56] Oanh-and-only-Oanh commented on #4154
@luizrrodrigues, please use first account.

 Please change to **Open Notification Dropdown**

[2020-04-04 01:13] ab668685 opened #4169 "Users project Submission are accepted before the challenge has started"
Users project Submission are accepted before the challenge has started.

Steps
1. Go to 'topcoder.com'
2. Select any challenges.
3. Register any challenges. e.g. - Topcoder fun QA challenges.
4.  View the Challenge is yet to start i.e future date.
5. View the Submit button gets enabled.

**Expected behavior**
User Submission should not be enabled (Submission button should not be enabled) before th

[2020-04-04 01:20] skyhit commented on #4130
@Oanh-and-only-Oanh , the main reason is the data is retrieved from different backend apis.

1. 1664 is from api call https://api.topcoder.com/v3/members/birdofpreyru/stats
2. while 1809 is getting from https://api.topcoder.com/v3/members/birdofpreyru/stats/history

so here are two solutions.

1. update the UI to use just the last rating of last challenge from #2.
2. we need to research into the v

[2020-04-04 01:24] luizrrodrigues commented on #4154
@Oanh-and-only-Oanh

1. Ok
2. Ok
3. This is when the change between tabs in Details page: Active Challenges / Complete Challenges / Notifications
4. We have 2 different types of notification item here:
a) Challenge type: This is linked with a challenge, so each item have the challenge ID, so the whole notification item area is clickable.
b) Broadcast type: Don't have a challenge linked, the link c

[2020-04-04 02:27] Oanh-and-only-Oanh commented on #4075
These communities have been retired.

[2020-04-04 02:27] #4075 closed

[2020-04-04 02:30] Oanh-and-only-Oanh commented on #4030
duplicate

[2020-04-04 02:30] #4030 closed

[2020-04-04 02:32] Oanh-and-only-Oanh commented on #4022
added tag to spreadsheet https://docs.google.com/spreadsheets/d/1FGP7Ly9JFHtaXP9F_InSJT8Qyb9E5t3zTASoQTcyMww/edit#gid=0

[2020-04-04 02:32] #4022 closed

[2020-04-04 07:10] Dara-K commented on #4144
Noted on that @Oanh-and-only-Oanh . Should the member keep the browser console open when doing so or anything similar?

[2020-04-04 08:45] LieutenantRoger opened #4170 "Email preference can't be seen"
**Describe the bug**
Email preference can't be seen on setting screen.

https://monosnap.com/file/JmWWBCmoxSxpT2quLU1s6lXOlHIrDG

**To Reproduce**
Steps to reproduce the behavior:
1. Login the communtiy-app
2. visit https://www.topcoder.com/settings/preferences

**Expected behavior**
Email preference should show up and work without problem.

**Screenshots**
https://monosnap.com/file/JmWWBCmoxSxpT2

[2020-04-04 09:11] LieutenantRoger commented on #4144
Hi, @Dara-K  yes, it's better to include the console in the recording as well if the console's showing errors.

I seemed not able to reproduce, please see the recording: https://monosnap.com/file/WmSm0ZZuyOqTsxcV0ogAWcE0nv0EYx

[2020-04-04 09:17] LieutenantRoger opened #4171 "Console error when we visit a design challenge detail page directly"
**Describe the bug**
Console error happened when we visit a design challenge detail page directly in the browser

**To Reproduce**
Steps to reproduce the behavior:
1. Visit https://www.topcoder.com/challenges/30120715
2. Open up the console and see the errors

**Expected behavior**
The console should not report error

**Screenshots**
https://monosnap.com/file/XnyxVVwSmnmYu1s4mfeJ9iPrFp1e83

**Addi

[2020-04-04 09:19] LieutenantRoger commented on #4144
Though I found another issue related to console on a design challenge detail page here:
https://github.com/topcoder-platform/community-app/issues/4171

@Dara-K it looks different with your one created here.

[2020-04-04 09:20] LieutenantRoger commented on #4134
Hi @SathyaJayabal

I think we should we close this ticket.

[2020-04-04 10:15] urwithat commented on #4082
@Oanh-and-only-Oanh - @LieutenantRoger and I have discussed this, we need to sync up to agree on the direction forward.

[2020-04-04 12:14] Dara-K commented on #4144
Thanks @LieutenantRoger  for looking into this. I let the  @jonimazumder  know to share a video recording for us next time when submitting.

I see the other error report. Not sure how it's affecting the challenge though. Hope it can be fixed.

[2020-04-04 12:20] skyhit commented on #3392
@Oanh-and-only-Oanh @sushilshinde  per testing, I can see the page. like

![image](https://user-images.githubusercontent.com/58106/78450465-4e1c7c00-76b1-11ea-91bb-d0299ebd401f.png)

but one interesting thing is when looking at the networking, it keeps calling api like

https://api.topcoder.com/v4/challenges/?filter=status%3DACTIVE%26technologies%3D&limit=50&offset=0, but for challenge detail page

[2020-04-04 12:33] #4170 closed

[2020-04-04 12:34] LieutenantRoger commented on #4170
Close this as this is an expected behavior:  https://github.com/topcoder-platform/community-app/issues/3641

[2020-04-04 12:48] LieutenantRoger commented on #4171
Hi @urwithat

Can you see this error ?  It happens when we visit this API with not enough params.

`https://api.topcoder-dev.com/v4/challenges/?filter=status%3DACTIVE%26technologies%3D&limit=50&offset=0`

See the error report:

![image](https://user-images.githubusercontent.com/2875203/78451038-7c9c5600-76b5-11ea-894a-39ed8977cf1d.png)

 and the query detail:

![image](https://user-images.githubus

[2020-04-04 12:48] jonimazumder commented on #4144
Hello Friends,

I have attached drive link below where you can see the exact problem that I am facing.
There are two videos.
1. Submit page blank screen.mov- As discussed earlier the blank screen appears again and again and self refreshes every time after2-3 seconds on its own.
2. Challenge page refreshes by itself, not able to view my challenges. It shows up for 2-3 seconds and self refreshes.

P

[2020-04-04 13:07] LieutenantRoger commented on #3547
Hi @Oanh-and-only-Oanh

2. Regarding the implementation flow,  will it be fine if for a user who added the same device twice, we simply ignore his second add operation without showing extra popup ?

[2020-04-04 14:47] jonimazumder commented on #4144
Hello,

Please find the blank submit screen, Photos with console code shown.
https://drive.google.com/drive/folders/1GBo2JtQMhBrW4zHhjN7ysrUn4rO2UPKn?usp=sharing

Is video of the same screen is required along with console ?

[2020-04-05 10:14] LieutenantRoger commented on #4144
Hi @jonimazumder

Thanks for the detail videos and the console logs.  These are detail enough for us. :)

For the 1
I can see you are filtering the challenges on challenge list screen for design track, filtering challenges are not working well with V3 challenge APIs, we have been in the process of using the new V5 challenge API now. And if the issues remained with V5 API, we will try to resolve it

[2020-04-05 10:29] jonimazumder commented on #4144
Hi @LieutenantRoger For blank screen issue. I am logging in that scenario but on pressing submit button it logouts automatically

[2020-04-05 10:30] jonimazumder commented on #4144
Please do some work around for the blank screen issue as I am not able to submit to any challenge and its crucial.

[2020-04-05 10:38] LieutenantRoger commented on #4144
I'm not sure your scenario, see the submission page on my side: https://monosnap.com/file/kmKMoEO5lBdCeMae0DPMphV0SvgYxq

Maybe you could
1) Try another browser: e.g. firefox to perform the submit operation.
2) Try to use your Chrome in incognite mode, I suspect it might be relevant with your current Chrome setting.

3) As a always working work-around,  please email to support@topcoder.com with yo

[2020-04-05 11:20] LieutenantRoger commented on #4144
Hello @Oanh-and-only-Oanh

It's strange with the @jonimazumder 's environment that clicking `submit` button on challenge detail screen would logout him.

But as a general solution,

We can show this screen if a member is not login but managed to reach the `/submit` page of a challenge

![image](https://user-images.githubusercontent.com/2875203/78473146-d9a91200-7770-11ea-88db-33ece7cea038.png)

Pl

[2020-04-05 12:22] jonimazumder commented on #4144
@LieutenantRoger
Even I tried in Incognito of Chrome and firefox browser. But problem is still there.
After clicking the submit button from the challenge screen. Blank screen comes.

[2020-04-05 12:29] LieutenantRoger commented on #4144
@jonimazumder  Hmmm, it's strange, I could only reproduce the blank screen without login to the site.

Have you run into this screen before ?   When I login, I can submit without problem:  see the recording I have shared above: https://monosnap.com/file/kmKMoEO5lBdCeMae0DPMphV0SvgYxq

So I can't be sure if this is an issue on our site except the confirmed issues above.

I suggest you to take optio

[2020-04-05 12:31] jonimazumder commented on #4144
[Blank screen.docx](https://github.com/topcoder-platform/community-app/files/4433581/Blank.screen.docx)

[2020-04-05 12:32] jonimazumder commented on #4144
@LieutenantRoger
I have already mailed to support.topcoder way back, but issue was not resolved.

I guess the main issue is that the site refreshes by itself and then presented with total blank screen

[2020-04-05 12:33] jonimazumder commented on #4144
502 Bad Gateway

this message appears on the blank screen

[2020-04-05 12:35] jonimazumder commented on #4144
@LieutenantRoger
I have seen the video of your account "Submit screen" which stays normal and doesnot refreshes by itself.
For me the refreshes thing happens and blank screen comes up.

[2020-04-05 12:42] LieutenantRoger commented on #4144
Glad that you have contact support,  thanks for the `Blank screen.docx`.

I have resolved related console errors, the result is mentioned here https://github.com/topcoder-platform/community-app/issues/4144#issuecomment-609400617

Once we confirmed that, I can start the process of pushing the fix to production.

I think refreshing issue should be another issue, we will try to fix that after we comp

[2020-04-05 12:49] jonimazumder commented on #4144
Thankyou @LieutenantRoger
So is the problem identified, like what went wrong.
And why its only appearing for me.

[2020-04-05 12:55] LieutenantRoger commented on #4144
Like mentioned above, I haven't been able to reproduce this sceario:  "After login, then click submit button to reach `/submit` page would lead to a blank screen"

But I have reproduced this scenario: "without login, and reach the `/submit` page would lead to a blank screen", so right now I would expect my fix might fix your scenario as well which I couldn't reproduce.

In general, now you shouldn

[2020-04-05 12:59] jonimazumder commented on #4144
Appreciate your efforts @LieutenantRoger.

ok got it.

But any idea why its only happening to me and not you or many others.
like is there any site issue?

[2020-04-05 13:03] LieutenantRoger commented on #4144
No idea from my side now, we will let you know after we deploy this change. https://github.com/topcoder-platform/community-app/issues/4144#issuecomment-609400617 and see if you are still encountering the issue.

[2020-04-05 13:10] jonimazumder commented on #4144
ok @LieutenantRoger

Hoping and praying that things get fixed soon. Actually these are causing a great deal of troubles for me.
Wasting a huge amount of time on mailing back and forth for submission related issues and in even viewing the challenges.

Its like after opening the challenge screem i have only got 2-3 seconds and i am shooting on challenge links. or they are lost for another shutdown .

[2020-04-05 13:17] LieutenantRoger commented on #4144
ok, you are welcome.

Like mentioned above, always use this link to view the challenge list screen for now,
`https://www.topcoder.com/challenges`  (without any filters applied)

[2020-04-05 17:43] Dara-K commented on #4144
Thank you for looking into this @LieutenantRoger . Could you let us know here when the fix for #4144 will be deployed?

[2020-04-05 20:48] Oanh-and-only-Oanh commented on #3547
Hi @LieutenantRoger, that's find but we need to add a why for the user to know that it's a device they've already entered so they don't think it's a bug. Can we add a popup message that says, "Looks like you've already entered this device."

[2020-04-06 00:07] LieutenantRoger commented on #4144
@Dara-K  once we confirmed the result mentioned here https://github.com/topcoder-platform/community-app/issues/4144#issuecomment-609400617 ,  we can start to deploy it, the deploying process will cost 1 or 2 days.

[2020-04-06 00:10] LieutenantRoger commented on #3547
Sure

[2020-04-06 05:00] sandhiyakavi commented on #3222
The issue is not happening now.

![image](https://user-images.githubusercontent.com/55895538/78524442-99d63f00-77f1-11ea-9277-c32892552992.png)

cc: @SathyaJayabal

[2020-04-06 05:28] Oanh-and-only-Oanh commented on #4144
Let's change the message to say "You must be logged in to access this page"

[2020-04-06 05:51] sandhiyakavi commented on #3300
'My earnings and Stats' section is not available.It is obsolete now.

![image](https://user-images.githubusercontent.com/55895538/78526763-aca04200-77f8-11ea-8b6c-7ba3a0506b97.png)

cc: @SathyaJayabal

[2020-04-06 05:55] mkagenius commented on #3300
Hmm, is the earnings feature removed completely? It was a good feature, why
is tc getting rid of good features..god knows

On Mon, 6 Apr 2020 at 11:21, sandhiyakavi <notifications@github.com> wrote:

[2020-04-06 06:07] LieutenantRoger commented on #4144
Hi @Oanh-and-only-Oanh

Actually I think current text is better.

The real criteria for accessing the submit page is that a member is login AND reigstered the corresponding challenge.

So login only won't be The only criteria For accessing the submit page.
What do you think ?

[2020-04-06 06:14] sandhiyakavi commented on #3398
It is working now.
Development Leaderboard:

![image](https://user-images.githubusercontent.com/55895538/78527860-a364a480-77fb-11ea-897c-16f68289bdb1.png)

QA Leaderboard:

![image](https://user-images.githubusercontent.com/55895538/78527967-e292f580-77fb-11ea-8ff1-ae36b45f35f9.png)

cc: @SathyaJayabal

[2020-04-06 06:28] Oanh-and-only-Oanh commented on #4144
Hm, we need to give more direction to the user. How about "You are not authorized to access this page" and give option for user to "Go to Challenge Details"?

[2020-04-06 07:06] #3222 closed

[2020-04-06 07:07] SathyaJayabal commented on #3300
@mkagenius , no it is not removed. This is hidden for now, till the fix is available.

[2020-04-06 07:08] #3398 closed

[2020-04-06 08:08] LieutenantRoger commented on #3547
![image](https://user-images.githubusercontent.com/2875203/78536686-cfdee780-7820-11ea-980b-46fd5376d63b.png)

Popup message is added like this.

[2020-04-06 08:31] LieutenantRoger commented on #4171
Putting this as `On hold` as this looks like a v4 API issue, we are migrating the challenges API to v5, so once the migration is done, we will try to fix it against v5 API.

[2020-04-06 09:12] SathyaJayabal commented on #3547
1. When you edit the device and click on save without updating any field, you get the "Looks lie you have already entered this device" error. The error must not be displayed in keeping with the existing behaviour.

2. A device is checked for uniqueness only when all the four DDs are filled. For example I am able to add the. below device twice because I have not filled in the OS value. Is this the

[2020-04-06 09:43] LieutenantRoger commented on #3547
ok, thanks.  I think success message has included in production. You can simply add a device successfully to see it.

Will take a look at the edit issue.

[2020-04-06 09:56] LieutenantRoger commented on #4144
Ok, added a button to allow member navigate back to challenge detail page like this:

![image](https://user-images.githubusercontent.com/2875203/78546362-d88aea00-782f-11ea-979d-2473423742b3.png)

[2020-04-06 10:23] jonimazumder commented on #4144
I checked today but blank screen is still coming. And in console it says Topcoder API blocked by CORS Policy (what does that mean?). I am attaching in a doc about this api loading issue.

[Check error.docx](https://github.com/topcoder-platform/community-app/files/4437691/Check.error.docx)

[2020-04-06 10:24] jonimazumder commented on #4144
<img width="1459" alt="Screenshot 2020-04-06 at 3 50 02 PM" src="https://user-images.githubusercontent.com/20997307/78548676-cc4a6100-781e-11ea-83d4-0ff125bf1632.png">

[2020-04-06 10:32] LieutenantRoger commented on #4144
We just started to test the blank screen fix, we will push it to production ASAP, please be more patient.

Hmmm, I'm not able to reproduce the cross origin error, as well, please see my console with my own account, it's strange.
![image](https://user-images.githubusercontent.com/2875203/78548946-2b66a080-7834-11ea-9d44-c65d3bc59f18.png)

[2020-04-06 10:39] LieutenantRoger commented on #4144
@jonimazumder  are you in a network that has some restriction ? If so, you will have to setup a VPN.

[2020-04-06 10:53] sandhiyakavi commented on #4144
Tested in dev environment.Working as expected.

<img width="960" alt="error_submiy" src="https://user-images.githubusercontent.com/55895538/78551191-ed14b580-7822-11ea-9da7-c87c6e93a900.PNG">

[2020-04-06 11:32] LieutenantRoger commented on #3547
1. The error message is removed under this sceario

2. Hmmm,  in my opinion this should be expected, so I didn't change anything for this point.

3. `Success message` popup is displayed when we add a device successfully, so the error popup message is following the same style, (success is using green color, error is using red color).

[2020-04-06 11:41] sandhiyakavi commented on #3547
working as expected

![image](https://user-images.githubusercontent.com/55895538/78554870-8d6dd880-7829-11ea-828e-f31a0e6048ee.png)

[2020-04-06 11:56] SathyaJayabal commented on #3547
@LieutenantRoger , I am not sure of the red colour used in the error message. I am marking this as QA pass as its a minor issue. @Oanh-and-only-Oanh Do we have a style guide for it? I could not find it in this guide
https://zeroheight.com/1g0pfacwv/p/4098cf-buttons--links/b/62b18f

[2020-04-06 12:10] jonimazumder commented on #4144
@LieutenantRoger  I am checking on the VPN and behaviour after connecting to other networks

[2020-04-06 12:11] SathyaJayabal commented on #3547
verified delete conf message is centered
<img width="536" alt="Screenshot 2020-04-06 at 5 40 37 PM" src="https://user-images.githubusercontent.com/58783823/78557103-d1fb7300-782d-11ea-8e86-3a4fecbea3d9.png">

[2020-04-06 13:16] harshitmehta123 commented on #3483
@LieutenantRoger is it in production?
Where should I check?

[2020-04-06 14:26] Oanh-and-only-Oanh opened #4174 "[$20]Privacy policy link on login page shows 404 error"

[2020-04-06 14:30] Oanh-and-only-Oanh commented on #4174
Describe the bug:
1) go to https://accounts.topcoder.com/member?retUrl=http:%2F%2Fwww.topcoder.com%2F
2) click on Privacy link at bottom of page
![image](https://user-images.githubusercontent.com/47536078/78569111-f462a180-77d7-11ea-933f-2324bad0f858.png)
3) see error

Expected behavior:
1) go to https://accounts.topcoder.com/member?retUrl=http:%2F%2Fwww.topcoder.com%2F
2) click on Privacy link at

[2020-04-06 14:56] Oanh-and-only-Oanh commented on #3547
@Dara-K, can you provide GUI KIT for this message?

[2020-04-06 15:15] Dara-K commented on #3547
This is how a modal with buttons and title should look: https://marvelapp.com/5554efd/screen/66554187
If you need the exact design, I can do that. In this case the delete button should be the pink one from our GUI KIT and be on the right side, and the cancel should be on left side outlined.

[2020-04-06 15:47] Oanh-and-only-Oanh commented on #4130
@skyhit,

Please go with solution #1. "update the UI to use just the last rating of last challenge from #2."

[2020-04-06 15:54] Oanh-and-only-Oanh commented on #3392
@skyhit, looks like this might be a challenge V4 api issue and we're currently migrating to challenge V5 api. That migration should be complete in of April, so let's put this on hold until migration is done to see if it is still an issue.

[2020-04-06 17:48] harshitmehta123 commented on #4130
Hey @Oanh-and-only-Oanh @skyhit there is a bigger issue here,  I think the loader is not updating stats in Dynamo properly.

Take a look at tourisr

So tourist's rating should be - from (history)
{"challengeId":17900,"challengeName":"SRM 782","date":"2020-03-28T00:00:00.000Z","rating":3751.0,"placement":1,"percentile":99.9552

Howver in stats
DATA_SCIENCE":{"challenges":603,"wins":35,"mostRecentEv

[2020-04-06 22:33] panjikharisma commented on #4076
Another sample case with API response + before & after print screen:
* [Woodburn Insurance CMS Mobile Site Challenge - Checkpoint](https://www.topcoder.com/challenges/30119207)
   Noticed by: kharm, petetebe, idblack

[code]

@Oanh-and-only-Oanh : Just to let you know, I've added a new sample case with a better documentation. Let me know if you need some critical data to help, so I can record that

[2020-04-07 04:02] SathyaJayabal opened #4176 "Comcast Home: Update Banner Content"
The text on the banner should be updated.

<img width="1440" alt="Screenshot 2020-04-07 at 9 21 23 AM" src="https://user-images.githubusercontent.com/58783823/78628739-ae2e4080-78b2-11ea-9369-2f655f6c7944.png">
<img width="1440" alt="Screenshot 2020-04-07 at 9 24 42 AM" src="https://user-images.githubusercontent.com/58783823/78628752-b6867b80-78b2-11ea-97f9-0d4656217e3b.png">

[2020-04-07 04:07] SathyaJayabal opened #4177 "Comcast Home : Banner text size"
The text on the banner seems to be smaller than the Zurich site
<img width="1440" alt="Screenshot 2020-04-07 at 9 34 53 AM" src="https://user-images.githubusercontent.com/58783823/78628944-547a4600-78b3-11ea-8137-6e7f0e80b6a1.png">

[2020-04-07 04:08] SathyaJayabal opened #4178 "Comcast Home : Content issue : text size"
The text size is smaller when compared to the Topcoder in the Time of Covid-19 page

<img width="1440" alt="Screenshot 2020-04-07 at 9 36 15 AM" src="https://user-images.githubusercontent.com/58783823/78629045-91ded380-78b3-11ea-8d88-f11164594b96.png">

[2020-04-07 04:20] SathyaJayabal opened #4179 "Comcast Home: Paid Projects - Browse All Comcast Work link does not load the page"
Comcast Home: Paid Projects - Browse All Comcast Work link does not load the page
[browse.mov.zip](https://github.com/topcoder-platform/community-app/files/4442020/browse.mov.zip)

[2020-04-07 04:26] SathyaJayabal opened #4180 "Comcast Home: Webinars- content issue"
<img width="1055" alt="Screenshot 2020-04-07 at 9 54 56 AM" src="https://user-images.githubusercontent.com/58783823/78629927-0adf2a80-78b6-11ea-8667-c36e80935520.png">

[2020-04-07 04:34] SathyaJayabal opened #4181 "Comcast Home: What's Next - content issue"
<img width="605" alt="Screenshot 2020-04-07 at 10 02 46 AM" src="https://user-images.githubusercontent.com/58783823/78630332-167f2100-78b7-11ea-9244-e686fd22b8aa.png">

[2020-04-07 04:36] SathyaJayabal opened #4182 "Comcast Home: What's Next - Get Started link is incorrect"
The get started button must link to
https://beta-community-app.topcoder.com/__community__/comcast/explore

Actual: Get started links to
https://beta-community-app.topcoder.com/__community__/explore

<img width="1384" alt="Screenshot 2020-04-07 at 10 06 16 AM" src="https://user-images.githubusercontent.com/58783823/78630489-7a094e80-78b7-11ea-9dc6-def3646c0ab3.png">

[2020-04-07 04:48] SathyaJayabal opened #4183 "Comcast All Pages: Page loading issue"
Comcast All Pages: When you click on any link and come back to the Comcast page the page does not load

[back.mov.zip](https://github.com/topcoder-platform/community-app/files/4442086/back.mov.zip)

[2020-04-07 05:35] SathyaJayabal opened #4184 "Comcast: Give Back - Content Issues"
1. Expected: Two placeholder projects must come before the. "About Comcast Cares Day" section.
Actual: One placeholder project after the "About Comcast Cares Day" section.

<img width="1440" alt="Screenshot 2020-04-07 at 11 02 36 AM" src="https://user-images.githubusercontent.com/58783823/78633484-66fa7c80-78bf-11ea-801a-2686d9f29d05.png">

2. Is this section required?
<img width="945" alt="Screen

[2020-04-07 05:53] SathyaJayabal commented on #4179
I am not able to reproduce this issue now. @kkartunov. Closing this for now.
Could be because of #4183

[2020-04-07 05:53] #4179 closed

[2020-04-07 05:57] SathyaJayabal commented on #4183
@kkartunov , the pages do not load sometimes even when you access them from the nav.
[page laoding issue.mov.zip](https://github.com/topcoder-platform/community-app/files/4442286/page.laoding.issue.mov.zip)

[2020-04-07 06:57] SathyaJayabal opened #4185 "Comcast Explore: Page is not yet complete"
<img width="1440" alt="Screenshot 2020-04-07 at 12 27 05 PM" src="https://user-images.githubusercontent.com/58783823/78639176-1e48c080-78cb-11ea-8683-9ac5f6a0b0d1.png">

[2020-04-07 07:59] skyhit commented on #3392
@Oanh-and-only-Oanh sure.

[2020-04-07 08:30] SathyaJayabal opened #4188 "Comcast Work Page: Community filter issue"
1. On clicking on work from the nav, open opportunities on the platform  filtered for Comcast work is displayed.
<img width="1393" alt="Screenshot 2020-04-07 at 1 58 13 PM" src="https://user-images.githubusercontent.com/58783823/78647378-252a0000-78d8-11ea-8778-256f16edba9b.png">

2. Work: Auto redirect to open opportunities on the platform filtered for Comcast work
The sub communities filter is n

[2020-04-07 08:31] kkartunov opened #4189 "Create new Comcast Community"
as per title...

[2020-04-07 08:55] SathyaJayabal commented on #3547
@Dara-K , sorry for the misunderstanding, we wanted the kit for this error message.
https://github.com/topcoder-platform/community-app/issues/3547#issuecomment-609641431

[2020-04-07 15:32] LieutenantRoger commented on #3483
Hi @harshitmehta123

I mean the members are not able reproducing these when deploying the code locally as discussed above.

So can you please try the current production page to see if the issue remains ?

This ticket has been opened for very long time. I'm suspecting the issue might be in the deployed environment.

[2020-04-07 15:57] asandlin commented on #4188
3. Learn: can this open the Thrive page in another window? it opens in the same window now but there's no way to get back to the comcast portal other than using the back button or typing the address in again

[2020-04-07 17:58] Oanh-and-only-Oanh opened #4192 "Open Thrive in new window"
When user clicks on "Learn" tab in navigation, open THRIVE in a separate tab.

[2020-04-07 17:59] Oanh-and-only-Oanh commented on #4188
@asandlin, created a separate ticket for you issue.  https://github.com/topcoder-platform/community-app/issues/4192

[2020-04-07 21:14] Dara-K commented on #3547
Yes, I was saying we don't have that component in the GUI KIT now.  We keep updating it as we go on and we need things.

I designed it now here: https://marvelapp.com/5ij7312/screen/67963488

[2020-04-08 00:40] LieutenantRoger commented on #3547
Hi @Dara-K
I think we are discussing the tostar message in this snapshot.  ![image](https://user-images.githubusercontent.com/2875203/78536686-cfdee780-7820-11ea-980b-46fd5376d63b.png)

But I can see you have re-designed the popup https://marvelapp.com/5ij7312/screen/67963488

By the way, we have merged the functionality code into `develop` branch for this ticket.

@Oanh-and-only-Oanh  do we need

[2020-04-08 02:57] SathyaJayabal opened #4194 "Profile Settings: Update popup style"
Update the confirmation popup on. the profile settings popups to
https://marvelapp.com/5ij7312/screen/67963488

[2020-04-08 02:59] SathyaJayabal commented on #3547
@LieutenantRoger @Dara-K @Oanh-and-only-Oanh  If we are updating the style, we need to do so for all the pages on the profile settings.  So, creating new issue to track the  design update to the pop-ups.

#4194

[2020-04-08 06:22] luizrrodrigues commented on #4152
@Oanh-and-only-Oanh We're investigating this one.

Talking with @sushilshinde and checking if is a problem with Loader Balancer.

[2020-04-08 06:59] luizrrodrigues commented on #4152
@Oanh-and-only-Oanh Confirmed, this was problem with Balancer, @sushilshinde Added the path to Balancer and fixed.

https://www.topcoder.com/notifications

I think we don't need a QA here and just close this one.

[2020-04-08 07:38] SathyaJayabal commented on #4152
verified on production.

[2020-04-08 07:38] #4152 closed

[2020-04-08 07:49] Dara-K commented on #3547
Oh okay - I thought you're referring to the modal. Thanks for the clarification.

We don't have a style defined for the tostar message neither, but the modal window is also following the old style as well. I will re-design these 2 to follow the existing style on the site and send you later today.

[2020-04-08 08:02] kkartunov opened #4195 "Update header and footer for Comcast"
Footer as per design.
Header to be as close as possible per design.

[2020-04-08 08:38] SathyaJayabal commented on #4195
Header and footer updated.

<img width="1440" alt="Screenshot 2020-04-08 at 2 02 30 PM" src="https://user-images.githubusercontent.com/58783823/78762832-0728d200-79a2-11ea-9734-7a9cf78cfdbc.png">

Header has minor style issue
<img width="1406" alt="Screenshot 2020-04-08 at 2 04 38 PM" src="https://user-images.githubusercontent.com/58783823/78763181-730b3a80-79a2-11ea-90b5-f4b0cdcaf361.png">
![Uplo

[2020-04-08 10:10] lakshmiathreya commented on #4195
@SathyaJayabal - pls add Env label too ...

[2020-04-08 10:10] lakshmiathreya commented on #4195
and milestone ...

[2020-04-08 10:43] SathyaJayabal commented on #4176
Verified on production
<img width="1440" alt="Screenshot 2020-04-08 at 4 12 33 PM" src="https://user-images.githubusercontent.com/58783823/78775421-cf2a8a80-79b3-11ea-8d6e-4f52be913c44.png">

[2020-04-08 10:43] #4176 closed

[2020-04-08 10:46] SathyaJayabal commented on #4195
Verified on prod
<img width="1410" alt="Screenshot 2020-04-08 at 4 14 38 PM" src="https://user-images.githubusercontent.com/58783823/78775610-1dd82480-79b4-11ea-97de-806abd5ee0e4.png">
<img width="1421" alt="Screenshot 2020-04-08 at 4 14 50 PM" src="https://user-images.githubusercontent.com/58783823/78775622-22044200-79b4-11ea-8af0-748f90a2608c.png">

[2020-04-08 10:46] #4195 closed

[2020-04-08 11:01] SathyaJayabal commented on #4182
verified on production
<img width="1440" alt="Screenshot 2020-04-08 at 4 29 32 PM" src="https://user-images.githubusercontent.com/58783823/78776908-39dcc580-79b6-11ea-81d3-beaec2f456cb.png">

[2020-04-08 11:01] #4182 closed

[2020-04-08 11:05] SathyaJayabal commented on #4181
@kkartunov Still present.
<img width="1440" alt="Screenshot 2020-04-08 at 4 34 18 PM" src="https://user-images.githubusercontent.com/58783823/78777262-d99a5380-79b6-11ea-90db-361535a92774.png">

[2020-04-08 11:08] SathyaJayabal commented on #4180
verified on prod
<img width="1440" alt="Screenshot 2020-04-08 at 4 38 23 PM" src="https://user-images.githubusercontent.com/58783823/78777561-647b4e00-79b7-11ea-8cdd-3f12072f8d6e.png">

[2020-04-08 11:08] #4180 closed

[2020-04-08 11:09] SathyaJayabal commented on #4183
The issue does not happen in production.
[comcast_4183.mov.zip](https://github.com/topcoder-platform/community-app/files/4450021/comcast_4183.mov.zip)

[2020-04-08 11:09] #4183 closed

[2020-04-08 11:17] SathyaJayabal commented on #4178
@kkartunov Still present
<img width="1440" alt="Screenshot 2020-04-08 at 4 45 32 PM" src="https://user-images.githubusercontent.com/58783823/78778201-875a3200-79b8-11ea-8743-a3be30bd4264.png">

[2020-04-08 11:29] Dara-K commented on #3547
Here are the notification states: https://marvelapp.com/11607af4/screen/67982872

The one to use in the above case is the Warning one.

The modal window should be designed like this: https://marvelapp.com/11607af4/screen/67982871 (the above example with blue buttons is from the old Topcoder style 2013).

The guidelines for this GUI KIT are these ones: https://marvelapp.com/c7h2a6h/screen/59648056

[2020-04-08 11:30] Dara-K commented on #4194
@SathyaJayabal  Please update to this style for the current layout: https://marvelapp.com/11607af4/screen/67982871

[2020-04-08 11:40] SathyaJayabal commented on #3547
@Dara-K , thank you.
We will track these updates in #4194

[2020-04-08 11:40] SathyaJayabal commented on #4194
Here are the notification states: https://marvelapp.com/11607af4/screen/67982872

The one to use in the above case is the Warning one.

The modal window should be designed like this: https://marvelapp.com/11607af4/screen/67982871 (the above example with blue buttons is from the old Topcoder style 2013).

The guidelines for this GUI KIT are these ones: https://marvelapp.com/c7h2a6h/screen/59648056

[2020-04-08 11:41] SathyaJayabal commented on #4177
Verified on production,
<img width="1440" alt="Screenshot 2020-04-08 at 5 08 28 PM" src="https://user-images.githubusercontent.com/58783823/78780018-97bfdc00-79bb-11ea-86b0-757e3c247458.png">

[2020-04-08 11:41] #4177 closed

[2020-04-08 11:50] SathyaJayabal commented on #4184
Verified on production
Missing "View Challenge" button on the sample challenges.

[2020-04-08 11:55] sandhiyakavi opened #4197 "Comcast Home : Overlapping between Home menu and Comcast Community dropdown."
**Describe the bug**
There is a overlapping between Home menu and Comcast Community dropdown.

Steps:
1. open 'https://comcast.topcoder.com/'
2. Check the header.

Expected behavior:
No overlapping between Home menu and Comcast Community dropdown in the header.

**Screenshots**
![image](https://user-images.githubusercontent.com/55895538/78781248-dadd7780-79da-11ea-825b-5a3d27c9a3da.png)

[2020-04-08 12:04] SathyaJayabal commented on #4197
@kkartunov happens when you resize the browser.

[2020-04-08 12:13] SathyaJayabal commented on #4178
<img width="1440" alt="Screenshot 2020-04-08 at 5 42 01 PM" src="https://user-images.githubusercontent.com/58783823/78782915-6990cb00-79c0-11ea-889b-089abf036750.png">

[2020-04-08 12:15] SathyaJayabal commented on #4185
verified on production
<img width="1440" alt="Screenshot 2020-04-08 at 5 44 26 PM" src="https://user-images.githubusercontent.com/58783823/78783045-a230a480-79c0-11ea-9c66-2544ce9eb973.png">

[2020-04-08 12:15] #4185 closed

[2020-04-08 12:19] SathyaJayabal opened #4198 "Comcast: Banner Content issue- Font style is different from design"
Font style is different from design on the Home, Explore and Give back pages.

<img width="1440" alt="Screenshot 2020-04-08 at 5 46 35 PM" src="https://user-images.githubusercontent.com/58783823/78783333-179c7500-79c1-11ea-8a7d-46e2cdb5e540.png">

[2020-04-08 12:29] SathyaJayabal opened #4199 "Comcast header: UI Issues"
1. Community dropdown must more to. the left
2. Community dropdown text must be in lower case
3. Topcoder logo must be smaller
<img width="1412" alt="Screenshot 2020-04-08 at 2 03 13 PM" src="https://user-images.githubusercontent.com/58783823/78784267-a8278500-79c2-11ea-93fc-64f6248de185.png">
<img width="1406" alt="Screenshot 2020-04-08 at 2 04 38 PM" src="https://user-images.githubusercontent.co

[2020-04-08 12:34] SathyaJayabal opened #4200 "Comcast: Logout does not redirect the user to any page after logging out"
On logging out the user must be directed to the Comcast home page
<img width="1440" alt="Screenshot 2020-04-08 at 6 02 44 PM" src="https://user-images.githubusercontent.com/58783823/78784587-3865ca00-79c3-11ea-978c-072f05382fe5.png">

Actual: user is not redirected to any page
<img width="1440" alt="Screenshot 2020-04-08 at 6 04 10 PM" src="https://user-images.githubusercontent.com/58783823/787846

[2020-04-08 12:36] sandhiyakavi opened #4201 "Comcast Settings: Pop up button styles are different from the Topcoder site."
Description:
Pop up button styles are different from the Topcoder site.

Steps:
1. Go to 'https://www.topcoder.com/settings/profile#language'
2. Click Delete icon for an exisitng language.
3. Check the pop up message.

Expected behavior:
Pop up button styles should be same.

**Screenshots**
Comcast Popup:

<img width="370" alt="popup_comcast" src="https://user-images.githubusercontent.com/55895538

[2020-04-08 12:42] SathyaJayabal opened #4202 "Comcast Explore: Paid Projects section must be Paid Work"
"Paid Projects" section must be "Paid Work". We already have a "Paid Projects" section on the home page.
cc @Oanh-and-only-Oanh
<img width="1440" alt="Screenshot 2020-04-08 at 6 10 47 PM" src="https://user-images.githubusercontent.com/58783823/78785214-5aac1780-79c4-11ea-8059-56ffbd2985b4.png">.

<img width="1440" alt="Screenshot 2020-04-08 at 6 10 33 PM" src="https://user-images.githubusercontent

[2020-04-08 13:30] kkartunov commented on #4202
@SathyaJayabal updated

[2020-04-08 13:31] kkartunov commented on #4201
@sandhiyakavi they won't be the same. Comcast header won't match TC header.

[2020-04-08 13:34] kkartunov commented on #4197
@SathyaJayabal mobile responsive is not in the scope

[2020-04-08 13:43] kkartunov commented on #4178
@SathyaJayabal fixed

[2020-04-08 13:44] kkartunov commented on #4181
@SathyaJayabal what is the issue here?

[2020-04-08 13:45] kkartunov commented on #4184
@SathyaJayabal which challenge? :) Why opening tickets for mock texts?

[2020-04-08 13:47] kkartunov commented on #4198
@SathyaJayabal style is per design. What is the issue here?

[2020-04-08 13:49] kkartunov commented on #4192
@SathyaJayabal this is now ready to test on beta

[2020-04-08 13:54] SathyaJayabal commented on #4181
@kkartunov , newline after "site" and "oppotunities"

[2020-04-08 13:55] SathyaJayabal commented on #4184
@kkartunov , they are sample projects right? So we need a button to view the project/challenge. Maybe defer it until we know more about the content.

[2020-04-08 13:56] SathyaJayabal commented on #4198
@kkartunov , font weight is more. Its bolder.

[2020-04-08 15:37] Oanh-and-only-Oanh commented on #3547
@SathyaJayabal and @LieutenantRoger, let's update the popup message to the GUI KIT guidelines. Is this the last remaining issue for devices?

[2020-04-08 15:41] SathyaJayabal commented on #3547
@Oanh-and-only-Oanh , wont it be better to update the popup messages for all the settings pages (education, work etc) together as a separate activity as all these pages use the same older style ?

#4194 can be used to track this.

[2020-04-08 15:49] #4189 closed

[2020-04-08 15:50] SathyaJayabal commented on #4197
closing as per above comment

[2020-04-08 15:50] #4197 closed

[2020-04-08 18:53] aaabbott opened #4204 "Comcast: Home page - Change "Paid Projects" to "Projects""
nm

[2020-04-08 18:53] aaabbott commented on #4204
@Oanh-and-only-Oanh I don't have the ability to assign or to tag (I don't think). can you give me that ability or assign to Kiril yourself?

[2020-04-08 19:15] aaabbott opened #4205 "Comcast: Give Back page - Change to match structure of Home page"
Customer feedback is they like the Give Back page but would like to modify so that it shows Give Back opportunities as well. They are envisioning a separate track of challenges that would be similar to our Coding for Good stuff - e.g. tech needs for non profits that members of this group could join to donate their services.

We can reuse the header image and content.

We want to have the paid proj

[2020-04-09 09:57] SathyaJayabal commented on #4201
@kkartunov , some of the button styles are not applied correctly for comcast
<img width="1422" alt="Screenshot 2020-04-09 at 3 25 44 PM" src="https://user-images.githubusercontent.com/58783823/78883072-9dc6c300-7a76-11ea-825c-31aa3cb255b0.png">

[2020-04-09 09:57] SathyaJayabal opened #4206 "Comcast Work Page: Clicking on a challenge gives a 404 error"
Expected:

Clicking on a challenge from the listings page must take the user to the challenge detail page
https://comcast.topcoder.com/work?communityId=comcast&tab=details

Actual:
Clicking on a challenge from the listings page throws a 404 error.
[comcast challenge link.mov.zip](https://github.com/topcoder-platform/community-app/files/4455417/comcast.challenge.link.mov.zip)

[2020-04-09 10:02] SathyaJayabal commented on #4206
@kkartunov similar issue when you click on back from challenge details. Same issue for the submit button from challenge details.
[challenge details back.mov.zip](https://github.com/topcoder-platform/community-app/files/4455461/challenge.details.back.mov.zip)

[2020-04-09 15:04] kkartunov commented on #4204
@aaabbott done.

[2020-04-09 15:04] #4204 closed

[2020-04-09 15:17] sushilshinde opened #4207 "Shows "no access"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-04-09 15:18] sushilshinde opened #4208 "Shows "no access" page"
I have to refresh multiple times to see the Comcast community page, this is not happening with TopGear or any other private community.

This is happening on beta and production as well.

![Topcoder 2020-04-09 20-12-27](https://user-images.githubusercontent.com/683231/78910985-4e4abc00-7aa3-11ea-83cb-3458bafa2406.png)

The work will be done against `hot-fix-accessing-comcast`

[2020-04-09 15:21] sushilshinde commented on #4208
@Oanh-and-only-Oanh

[2020-04-09 16:39] SathyaJayabal commented on #4208
@sushilshinde @kkartunov , This issue happens to me but the page displays after a second without any refresh needed. Please see attached video.
cc @Oanh-and-only-Oanh
[comcast.mov.zip](https://github.com/topcoder-platform/community-app/files/4457480/comcast.mov.zip)

[2020-04-09 16:45] Jobee1 opened #4209 "Even when there are no any registrants for the challenges, the submission count is displayed as 1."
For the challenges where the registrants count is 0, the submission count is displayed as 1.

Attached video/screenshot file for reference:

![Screenshot_1](https://user-images.githubusercontent.com/48575864/78919518-ba342100-7ab1-11ea-82c4-661d2e518c76.png)

[No_registrants_Submission_count_1.zip](https://github.com/topcoder-platform/community-app/files/4457507/No_registrants_Submission_count_1.z

[2020-04-09 16:48] Jobee1 opened #4210 "Error message is displayed while trying to unregister from the registered challenges."

[2020-04-09 16:58] Jobee1 opened #4211 "Clicking on the connect dropbox from the submission page displayed error message."
While clicking on the "Connect Dropbox" button to submit the file, Error (400) message is displayed.

Attached video/screenshot for reference:

![Screenshot_3](https://user-images.githubusercontent.com/48575864/78920643-6f1b0d80-7ab3-11ea-9e9a-9f3f7ca6a55b.png)
[Dropbox_error.zip](https://github.com/topcoder-platform/community-app/files/4457561/Dropbox_error.zip)

[2020-04-09 17:05] Jobee1 opened #4212 "[$80] Allow member to download submitted file for Design challenges"
Describe bug:
While trying to download the submitted file for Design/Idea Generation challenge, it shows following message.
"**Attention!
The following error has occurred: Cannot Download Submission
Reason: You don't have permission to perform the operation you requested.**"

Attached video/screenshot for reference:
![Screenshot_4](https://user-images.githubusercontent.com/48575864/78921275-61b253

[2020-04-09 17:07] Jobee1 opened #4213 "[$60]The deleted file in the list is still visible after clicking on the back button and viewing it again."
After deleting the submitted file and clicking on the back button, the submitted file is still displayed.

Attached video for reference:

[Deleted_Submission_Still_displayed.zip](https://github.com/topcoder-platform/community-app/files/4457606/Deleted_Submission_Still_displayed.zip)

**About Fix**

1.Please fix and PR to `hot-fix-rating-visible-delete-button` branch

https://github.com/topcoder-pl

[2020-04-09 17:17] Jobee1 opened #4214 "The "Cancel" and "Delete Submission" button touched the border of the pop-up box."
The outer-boundary of the pop-up and the button should have some gap in between them.

Attached screenshot for the reference:
![Screenshot_61](https://user-images.githubusercontent.com/48575864/78922295-01bcac00-7ab6-11ea-8bb9-3151f1f8784f.png)

[2020-04-09 20:55] aaabbott opened #4215 "Comcast: Give Back - Change title to Comcast Gives Back"
1. On the Give Back page, change "Comcast Supports You" to "Comcast Gives Back" and add then add some lorem ipsum under that.
2. Below this, add a panel on the left for Comcast Cares with a button to learn more and another to sign up now (these don’t have to work).
3. On the right lets add a panel for Comcast Codes for Good with a brief description under that which explains this is an opportunity

[2020-04-09 20:55] aaabbott commented on #4215
1. On the Give Back page, change "Comcast Supports You" to "Comcast Gives Back" and add then add some lorem ipsum under that.
2. Below this, add a panel on the left for Comcast Cares with a button to learn more and another to sign up now (these don’t have to work).
3. On the right lets add a panel for Comcast Codes for Good with a brief description under that which explains this is an opportunity

[2020-04-09 21:16] hokienick commented on #3972
Issue with external link in thrive.  Closing.

[2020-04-09 21:26] hokienick commented on #3969
This can be solved by my team, but may need a push to production.

[2020-04-09 21:41] Oanh-and-only-Oanh commented on #4154
Ok i think i understand 4b.

[2020-04-09 21:44] hokienick commented on #3972
This wasn't the case seemingly.

[2020-04-09 21:45] #4202 closed

[2020-04-09 21:55] Oanh-and-only-Oanh opened #4216 "Topcoder profile in LinkedIn"

[2020-04-09 21:56] Oanh-and-only-Oanh commented on #4216
Describe bug:
When I share my Topcoder profile in linkedin, it is loading empty image like this.
![image](https://user-images.githubusercontent.com/47536078/78944185-2f800180-7a72-11ea-89a8-9732fe29d164.png)

[2020-04-09 21:57] Oanh-and-only-Oanh opened #4217 "Add Copilot and MVP badges to profiles"

[2020-04-09 22:00] Oanh-and-only-Oanh commented on #4217
@Dara-K, can you help with providing badge logo for MVP and copilot?
@hokienick, can you provide MVP list?
@crazyk07, can you provide co-pilot list?

[2020-04-09 22:03] hokienick commented on #3968
Related to #3972

[2020-04-09 22:07] #4207 closed

[2020-04-09 22:09] hokienick commented on #3963
Link updated

[2020-04-09 22:09] #3963 closed

[2020-04-10 01:50] sushilshinde commented on #4208
It should show loading indicator if there is waiting

https://github.com/topcoder-platform/community-app/blob/94148104526449e6d461f59e089f21e28ede6474/src/shared/containers/tc-communities/Loader.jsx#L74

but it’s throwing

https://github.com/topcoder-platform/community-app/blob/94148104526449e6d461f59e089f21e28ede6474/src/shared/containers/tc-communities/Loader.jsx#L99

for a render

[2020-04-10 04:08] SathyaJayabal commented on #4144
verified on beta
<img width="1423" alt="Screenshot 2020-04-10 at 9 37 34 AM" src="https://user-images.githubusercontent.com/58783823/78961414-fb0e5300-7b0e-11ea-9b6e-1853058c34a7.png">

[2020-04-10 04:15] SathyaJayabal commented on #4161
verified on beta
<img width="1440" alt="Screenshot 2020-04-10 at 9 45 07 AM" src="https://user-images.githubusercontent.com/58783823/78961715-0ada6700-7b10-11ea-91cd-a188f9c1b2e9.png">

[2020-04-10 04:57] SathyaJayabal opened #4218 "Cleanup existing device data from backend"
Cleanup existing device data from backend DB. Members will select from structured data values from the new UI.

#3547

[2020-04-10 04:59] SathyaJayabal commented on #4218
cc @sushilshinde

[2020-04-10 05:12] SathyaJayabal commented on #4210
Also happens when you try to register to a challenge. These two issues happen sometimes.

[2020-04-10 05:28] sandhiyakavi commented on #3547
Working as expected.

![image](https://user-images.githubusercontent.com/55895538/78965087-08d7ce80-7b37-11ea-9866-6d421ccdcb5a.png)

[2020-04-10 06:22] luizrrodrigues commented on #4154
@Oanh-and-only-Oanh

2. Already updated. cc @SathyaJayabal

4. So currently way is fine?

[2020-04-10 07:14] SathyaJayabal opened #4219 "Submissions Page: Error when trying to upload submission from one drive"
Submissions Page: Error when trying to upload submission from one drive

<img width="1440" alt="Screenshot 2020-04-10 at 12 43 47 PM" src="https://user-images.githubusercontent.com/58783823/78971370-07070e80-7b29-11ea-8882-c7ceba4e0f00.png">

[2020-04-10 07:18] SathyaJayabal commented on #4209
@lakshmiathreya , this also happens on production.

[2020-04-10 07:37] lakshmiathreya commented on #4211
cc @dushyantb

[2020-04-10 08:15] sandhiyakavi opened #4220 "Test suites stats : Incorrect challenges and Wins count"
Description:
Incorrect challenges and Wins count in the Test Suites Statistics.

Steps to reproduce:

1. Go to 'https://www.topcoder.com/members/SandhiyaA/details/?track=DEVELOP&subTrack=TEST_SUITES&tab=challenges'
2. Check the number of challenges and wins displayed.

Expected behavior:
Correct count of the number of challenges and wins should be displayed.

Screenshots:

<img width="959" alt="Te

[2020-04-10 09:29] SathyaJayabal opened #4222 "My Submissions page: Submissions not showing up"
Register to a design challenge and upload a submission (user :TCConnCopilot). Click on "View My Submissions" button. The recently uploaded submission is not displayed. The "View Submissions" button is also not available from the challenge details page. The user gets the submission confirmation email though. Please see video for reference.

https://drive.google.com/open?id=1LT2zMv4wkOff411FLPWW1HLA

[2020-04-10 09:34] lakshmiathreya commented on #4222
cc @dushyantb

[2020-04-10 10:01] SathyaJayabal opened #4223 "Submit button: "You are not authorized to access this page" error"
Register to a challenge and then click on submit.

You get the following error
You are not authorized to access this page. Please see attached video.

[submit.mov.zip](https://github.com/topcoder-platform/community-app/files/4461017/submit.mov.zip)

[2020-04-10 10:05] SathyaJayabal commented on #4223
@lakshmiathreya @dushyantb , this happens occasionally and sometimes works on refreshing the page. This is not just for new registrants. Also happens even when you have already submitted for the challenge.

[2020-04-10 10:07] Jobee1 opened #4224 "Error message displayed while submitting the file."
After user selects and submits the file, Error message is displayed.

** Oh, that’s embarrassing! The file couldn’t be uploaded, I’m so sorry.

Cannot read property 'allPhases' of undefined **

Attached video/screenshot for reference:

![Screenshot_2](https://user-images.githubusercontent.com/48575864/78982957-ed72c080-7b42-11ea-9850-0430d47f0c60.png)
[Error_message_for_file_Submission.zip](https:

[2020-04-10 10:09] SathyaJayabal commented on #4224
@dushyantb @lakshmiathreya , This issue also happens occasionally.

[2020-04-10 10:57] SathyaJayabal commented on #4222
@dushyantb @lakshmiathreya  , looks like it takes a few hours for the submissions to show up.

[2020-04-10 11:14] sandhiyakavi commented on #4222
The submission is not showing up in OR page also.(user : dan_developer)

[#4222.zip](https://github.com/topcoder-platform/community-app/files/4461262/4222.zip)

cc: @dushyantb @lakshmiathreya

[2020-04-10 12:38] kkartunov commented on #4215
@aaabbott this is ready for review.

[2020-04-10 12:43] aaabbott commented on #4215
@kkartunov which environment?

[2020-04-10 12:44] kkartunov commented on #4215
prod
https://comcast.topcoder.com/give-back

[2020-04-10 12:46] aaabbott commented on #4215
Great, now i see it. must have needed to refresh my cache

[2020-04-10 12:46] #4215 closed

[2020-04-10 13:35] SathyaJayabal commented on #4192
verified on beta (feature branch)
[thrive link.mov.zip](https://github.com/topcoder-platform/community-app/files/4461713/thrive.link.mov.zip)

[2020-04-10 13:42] SathyaJayabal commented on #4206
Verified on beta(feature branch)
[comcast_work links.mov.zip](https://github.com/topcoder-platform/community-app/files/4461739/comcast_work.links.mov.zip)

[2020-04-10 13:44] SathyaJayabal commented on #4188
#2 is working as we are able to filter by comcast. Reducing the priority as only #1 is present

[2020-04-10 13:49] SathyaJayabal commented on #4201
Closing this as this seems to be a problem with all sub communities

[2020-04-10 13:49] #4201 closed

[2020-04-10 14:19] SathyaJayabal opened #4228 "Comcast : All pages - "Failed to fetch sub communities listing" error occasionally"
"Failed to fetch sub communities listing" error is displayed occasionally.

<img width="1440" alt="Screenshot 2020-04-10 at 7 22 30 PM" src="https://user-images.githubusercontent.com/58783823/78997437-32f3b580-7b64-11ea-92c2-a256efa83403.png">

[2020-04-11 15:01] pr4shan7 commented on #4083
I am also facing the same problem. @arnavvats
I had participated in SRM 782 but it is still not visible on my profile.
topcoder id: [pr4shan7](https://topcoder.com/members/pr4shan7)

[2020-04-12 06:19] SathyaJayabal opened #4231 "[$60]Accessing the profile settings page directly by URL gives "document is not defined" error"
Access any of the profiles settings links using the URL
Examples
https://www.topcoder.com/settings/profile
https://www.topcoder.com/settings/tools
https://www.topcoder.com/settings/profile#communities

The below error is thrown.
<img width="1440" alt="Screenshot 2020-04-12 at 11 48 07 AM" src="https://user-images.githubusercontent.com/58783823/79061980-7f99d680-7cb3-11ea-8c23-102429848dca.png">

A

[2020-04-12 20:43] SimranSinghBansal commented on #4231
I am also facing the same issue.

[2020-04-13 04:34] sandhiyakavi commented on #4208
Tested in Beta Environment.Comcast community page is displayed without any refresh.

[#4208.zip](https://github.com/topcoder-platform/community-app/files/4468009/4208.zip)

[2020-04-13 05:29] SathyaJayabal commented on #4082
@Oanh-and-only-Oanh @LieutenantRoger , I have a couple of questions regarding the new requirements. According to the new requirement, when. a user clicks on the member handle in topgear domain, the public member profile must be displayed on a new tab
1.   How about users who are members only in the topgear community.  Will these members have a public profile page ?
2.  These are pages identified o

[2020-04-13 06:57] harshitmehta123 commented on #3483
@LieutenantRoger Sorry for being late on this. I think it's occurring anymore. Thanks a lot for this. :D

[2020-04-13 11:38] dushyantb commented on #4224
Not relevant for the submission processor

[2020-04-13 14:25] LieutenantRoger commented on #4082
Hi @SathyaJayabal

1) No, they don't. We only distinguish the  member stats and member stats history based on the community we are in on the Profile screen. (member profile data on the Profile screen will be identical across different communities.

2) I will need to do some more changes for these.

I think we can follow this logic.

When we login as a topgear user.  (topgear.topcoder-dev.com)
Clic

[2020-04-13 15:17] SathyaJayabal commented on #4208
Verified on production

[comcast_loadingscreen.mov.zip](https://github.com/topcoder-platform/community-app/files/4470056/comcast_loadingscreen.mov.zip)

[2020-04-13 15:17] #4208 closed

[2020-04-13 15:21] Jobee1 commented on #4144
**Verified on Beta Environment:**
![4144 beta](https://user-images.githubusercontent.com/48575864/79132701-836c4c80-7dca-11ea-9234-ed96dc509783.png)

**Verified on Production Environment:**
![Screenshot_2](https://user-images.githubusercontent.com/48575864/79132728-8e26e180-7dca-11ea-9148-17d82e22c74d.png)

[2020-04-13 15:21] LieutenantRoger commented on #3483
@harshitmehta123  I think you meant this is not occurring anymore, right ?  That's awesome, not sure if this is caused by a side effect change, our members and I had difficulty to reproduce this.

[2020-04-13 15:22] Oanh-and-only-Oanh commented on #4082
@SathyaJayabal, this new flow is intended to help keep a Topgear user from leaving Topgear domain when they click on public member link in the Topgear page. Before, clicking on public  member link will direct them to public profile on Topcoder and there's no way to navigate back to Topgear. This new approach will open public profile in a new window so Topgear member can still have their Topgear ta

[2020-04-13 15:24] Jobee1 commented on #3547
Working as expected verified on Beta Environment:
[3547_beta.zip](https://github.com/topcoder-platform/community-app/files/4470126/3547_beta.zip)

[2020-04-13 15:25] Jobee1 commented on #3547
Working on expected verified on Production environment:
[3547_production.zip](https://github.com/topcoder-platform/community-app/files/4470133/3547_production.zip)

[2020-04-13 15:26] SathyaJayabal commented on #4144
@jonimazumder, are you still facing the issue of blank screen when trying to submit.

[2020-04-13 15:27] Jobee1 commented on #4161
**Verified on Beta Environment:**
![4161_beta](https://user-images.githubusercontent.com/48575864/79133297-81ef5400-7dcb-11ea-9dd8-3d40a51b886e.png)

[2020-04-13 15:28] Jobee1 commented on #4161
**Verified on Production environment:**
![4161_production](https://user-images.githubusercontent.com/48575864/79133325-903d7000-7dcb-11ea-9831-0dbc32d476ff.png)

[2020-04-13 15:28] SathyaJayabal commented on #4144
@LieutenantRoger @Dara-K @Oanh-and-only-Oanh , correct message is displayed when user accesses the submit page without logging in/ registering.
Can we close the issue. The other issues reported by @jonimazumder are not reproducible by QA or. @LieutenantRoger. Please advice.

[2020-04-13 15:33] #3547 closed

[2020-04-13 15:34] crazyk07 commented on #4161
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-13 15:36] crazyk07 commented on #4161
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-13 15:42] SathyaJayabal commented on #4082
@Oanh-and-only-Oanh @LieutenantRoger , so on the topgear domain:

-  clicking on public member's handle will open the public profile in a new tab (eg: www.topcoder-dev.com/members/dan_developer).

- clicking on topgear member's handle will open the topgear profile in a new tab (eg: topgear.topcoder-dev.com/members/TonyJ)

[2020-04-13 15:42] harshitmehta123 commented on #3483
@LieutenantRoger yeah thanks a lot whatever helped :D

[2020-04-13 15:42] #3483 closed

[2020-04-13 15:42] crazyk07 commented on #3483
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-13 15:51] LieutenantRoger commented on #4082
I think in your case, both will be opened with topgear.topcoder-dev.com/members/xxxx, as the login member is from topgear domain.  We don't have a public profile and topgear profile distinguish.

We only distinguish their stats and stats history.  For example, if a member A belongs to both public community and topgear community.

When a topgear user on topgear domain visits A profile, we show A's

[2020-04-13 15:55] SathyaJayabal commented on #4082
@LieutenantRoger , but according to @Oanh-and-only-Oanh's comments above, it says new approach will open public profile in new window.
"Before, clicking on public member link will direct them to public profile on Topcoder and there's no way to navigate back to Topgear. This new approach will open public profile in a new window so Topgear member can still have their Topgear tab open to navigate bac

[2020-04-13 16:09] LieutenantRoger commented on #4082
Hmmm, this is good discussion.

@Oanh-and-only-Oanh  We don't distignish between 'public profile' or 'topgear profile'. We only distinguish 'public stats' or 'topgear stats'.

So we will have to follow below url redirection.

Login as Topgear user: (current browser url is: topgear.topcoder.com/xxxxxxx)
Click any member handle will open up the member's profile in a new tab with this url: topgear.to

[2020-04-13 17:33] jonimazumder commented on #4144
@SathyaJayabal  the issue is still there. Just checked but again getting blank screen problem

[2020-04-13 17:37] jonimazumder commented on #4144
@SathyaJayabal @LieutenantRoger  I even tried with tor but issue still there.

[2020-04-13 17:53] hokienick opened #4234 "[$60]Fix content at the bottom of Challenge Details pages"
I realized when working on creating a challenge with Kiril that the links at the bottom of the challenge details page that come with every challenge are pointing to the help center, which we are no longer using

Example challenge: https://www.topcoder.com/challenges/30122094

The content should be reviewed, and if we are going to use the same links, please have them link the the Thrive article ins

[2020-04-13 20:34] kkartunov opened #4235 "Comcast work challenges back link not working"
1. Go to http://comcast.topcoder.com/give-back
2. Click "REGISTER" on some challenge cards.
3. When the page load backlink is not working.
<img width="1680" alt="Screen Shot 2020-04-13 at 1 27 32 PM" src="https://user-images.githubusercontent.com/5585002/79158570-3cd51d00-7ddf-11ea-8d11-443bedbd2cb3.png">

Expected link to work and go back to the origin page on click.

[2020-04-13 20:40] aaabbott opened #4236 "Comcast: Give Back | Second section layout and copy updates"
If doable, we'd like to slightly tweak the layout of the second section of the page and update the copy. If the layout part is not safely doable for tomorrow (Tuesday), when the customer demos, we can skip this and just make the copy updates.

1. Layout update - instead of two sections, left and right, its a single section where the links are on the bottom. Note these links do not have to work; in

[2020-04-13 20:40] aaabbott commented on #4236
@Oanh-and-only-Oanh I have already reviewed this with @kkartunov and he's comfortable its doable tonight

[2020-04-14 00:22] nithyaasworld commented on #3329
Confirming that this is still an issue

[2020-04-14 00:49] nithyaasworld opened #4237 "Settings: All the personal info are missing except the profile pic"
**In the Settings page, All my previously entered data, except the profile-pic, are missing.** However I could see my skills and other relevant data in my member-profile page.

![image](https://user-images.githubusercontent.com/5114190/79174001-fa2f3700-7e16-11ea-8981-bd5e926cdf74.png)
![image](https://user-images.githubusercontent.com/5114190/79174148-6b6eea00-7e17-11ea-89ae-e6b28315d1de.png)
![i

[2020-04-14 00:50] nithyaasworld commented on #4237
@SathyaJayabal Please lower the priority if its only for my account.

[2020-04-14 01:05] nithyaasworld opened #4238 "Request to add Vue JS as a Skill"
This ticket is to add Vue JS to the Skill list if its not already present.

I couldn't verify the Skill List as its empty for me. (Raised another bug for this)

This issue was originally reported here: https://github.com/topcoder-platform/Training-Challenges/issues/57

[2020-04-14 01:05] nithyaasworld commented on #4238
CC: @Oanh-and-only-Oanh

[2020-04-14 01:21] nithyaasworld opened #4239 "[$60]HTTP 404 error when navigating to community overview from payment page"
**Steps to Reproduce:**
1. Navigate to the landing page / Home page https://www.topcoder.com/
2. Log in or register
3. Click on COMMUNITY button
4. Click on the Payments
5. When in "Payments" page click hover over COMMUNITY and click on "Overview"

**Actual Result:**
404 Http Error, Resource not found page is shown

**Expected Results**
The url (https://www.topcoder.com/community/members/) suggest

[2020-04-14 01:21] nithyaasworld commented on #4239
This bug was originally reported here: https://github.com/topcoder-platform/Training-Challenges/issues/58

[2020-04-14 01:36] nithyaasworld opened #4240 "[ UX / Usability bug ] Remove the register button from tracks when user is logged in"
**Steps to Reproduce:**

1. Navigate to the landing page / Home page https://www.topcoder.com/
2. Log in or register
3. Click on COMMUNITY button
4. Click on the Tracks
5. Click on Design or Development or QA or Competitive Programming

**Actual**
1. There is a 'How to compete' and 'Register with Topcoder' buttons in the content area

**Expected Results**
1. When I am already logged and registered

[2020-04-14 01:37] nithyaasworld commented on #4240
This bug was originally reported here: https://github.com/topcoder-platform/Training-Challenges/issues/60

[2020-04-14 03:15] Oanh-and-only-Oanh commented on #4238
Added Vue JS to doc below
https://docs.google.com/spreadsheets/d/1FGP7Ly9JFHtaXP9F_InSJT8Qyb9E5t3zTASoQTcyMww/edit#gid=0

[2020-04-14 03:15] Oanh-and-only-Oanh commented on #4238
going to close this for now.

[2020-04-14 03:15] #4238 closed

[2020-04-14 03:18] Oanh-and-only-Oanh commented on #4237
@SathyaJayabal can you verify if this is happening to other members? I'm not seeing this issue on my end.

[2020-04-14 03:30] sandhiyakavi commented on #4159
Tested in Test environment.Working as expected.

Competitive programming

![image](https://user-images.githubusercontent.com/55895538/79182341-83f7f800-7e49-11ea-89eb-b0732ff83140.png)

Data Science:

![image](https://user-images.githubusercontent.com/55895538/79182490-e224db00-7e49-11ea-98b1-d2fb3b686123.png)

Design:

![image](https://user-images.githubusercontent.com/55895538/79182553-0a143e80-

[2020-04-14 03:30] aaabbott opened #4241 "Comcast: Give Back | Challenge Ids"
Can we update the challenges displayed on the Give Back page to be the following three challenge IDs from the Comcast group?

- 30122217
- 30122226
- 30122216

[2020-04-14 03:30] aaabbott commented on #4241
cc @kkartunov

[2020-04-14 03:37] Oanh-and-only-Oanh commented on #4082
Hmmm, this is not quite right either...

[2020-04-14 03:37] sandhiyakavi commented on #4167
Tested in Test Environment. Invitation letter and Referrals are removed.

![image](https://user-images.githubusercontent.com/55895538/79183435-6d06d500-7e4c-11ea-8a8d-fce04122f830.png)

[2020-04-14 03:47] sandhiyakavi commented on #3956
Tested in Test Environment.Ellipsis consist of 3 dots in Search and Article title.

<img width="956" alt="#3956" src="https://user-images.githubusercontent.com/55895538/79183987-f965c780-7e4d-11ea-95fd-b56c492b4939.PNG">

Featured articles

<img width="957" alt="#3956_1" src="https://user-images.githubusercontent.com/55895538/79184012-071b4d00-7e4e-11ea-98d8-749441f411fc.PNG">

[2020-04-14 04:33] sandhiyakavi commented on #4158
Overlapping occurs with footer in My profile page.

![image](https://user-images.githubusercontent.com/55895538/79186349-55cbe580-7e54-11ea-8bcc-6f21c3a9dbc4.png)

@kkartunov  while clicking on the links in Footer, it is directing to Dev environment pages,is it the expected behaviour? Please clarify my doubt

<img width="959" alt="11" src="https://user-images.githubusercontent.com/55895538/7918638

[2020-04-14 04:34] SathyaJayabal commented on #4082
@LieutenantRoger for the below section, there is no change right as this is the current bahaviour ?  The testing scope will be only on topgear domain. Am I correct?
Login as Public user: (current browser url is: www.topcoder-dev.com/xxxxxxxx)
Click any member handle will open up the member's profile in current browser tab, with this Url:
www.topcoder-dev.com/members/the_member_handle.

[2020-04-14 04:41] sandhiyakavi commented on #4091
Tested in Test Environment. Search not working

[4091_fails.zip](https://github.com/topcoder-platform/community-app/files/4473142/4091_fails.zip)

[2020-04-14 04:53] sandhiyakavi commented on #4159
cc: @SathyaJayabal

[2020-04-14 04:54] sandhiyakavi commented on #4091
cc: @SathyaJayabal

[2020-04-14 04:54] sandhiyakavi commented on #4167
cc: @SathyaJayabal

[2020-04-14 04:54] sandhiyakavi commented on #3956
cc: @SathyaJayabal

[2020-04-14 04:54] sandhiyakavi commented on #4158
cc: @SathyaJayabal

[2020-04-14 04:59] skyhit commented on #4083
@topcoder-platform/tcxcommunity
@topcoder-platform/topcodercompetitors

[2020-04-14 05:02] skyhit commented on #4234
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors

[2020-04-14 05:02] crazyk07 commented on #4083
Contest https://www.topcoder.com/challenges/30122230 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-14 05:02] crazyk07 commented on #4083
Contest https://www.topcoder.com/challenges/30122230 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-14 05:04] crazyk07 commented on #4234
Contest https://www.topcoder.com/challenges/30122231 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-14 05:04] skyhit commented on #4213
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors

[2020-04-14 05:06] crazyk07 commented on #4234
Contest https://www.topcoder.com/challenges/30122231 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```