[2019-04-03 14:08] ThomasKranitsas commented on #2288
Contest https://www.topcoder.com/challenges/30087932 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-03 14:08] ThomasKranitsas commented on #2288
Contest https://www.topcoder.com/challenges/30087932 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-03 14:17] sumitdaga commented on #2288
@ThomasKranitsas
off develop branch right ?

[2019-04-03 14:32] skyhit commented on #2284
@systic @sushilshinde can you give me access to https://www.topcoder.com/direct/contest/detail?projectId=30087721? My Handle is `FireIce`, I need to understand the situation in more detail

[2019-04-03 15:38] sushilshinde commented on #2288
@sumitdaga @ThomasKranitsas use `hot-fixes` please

[2019-04-03 19:32] sumitdaga commented on #2288
@sushilshinde  @ThomasKranitsas
PR at #2289

[2019-04-04 02:31] tmalbonph opened #2290 "Challenge page and listing does not show correct submission counts"
**Describe the bug**

Submission tab is missing in Challenge page while the page for listing challenges does not show the correct number of submissions for the listed projects.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Challenge listing page at `https://www.topcoder.com/challenges?`
2. Register to a project you want to participate with like: `https://www.topcoder.com/challenges/

[2019-04-04 06:17] #2288 closed

[2019-04-04 06:18] ThomasKranitsas commented on #2288
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087932<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-04 10:42] JayaDhaka commented on #2284
@adroc-tc

[2019-04-04 14:57] Oanh-and-only-Oanh commented on #2016
@sushilshinde is this complete? Can we close it?

[2019-04-05 06:25] systic commented on #2284
@skyhit You are added to the project
https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087721

[2019-04-05 07:43] ThomasKranitsas opened #2294 "[$20] re-type password field is not hiding the tip on blur"
**Describe the bug**
The re-type password field is not hiding the tip on blur

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the account settings page
2. Focus on the re-type password field
3. Focus on the new password field
4. See error

**Expected behavior**
The tip should be hidden on blur.

**Screenshots**
![Account Info _ TopCoder 2019-04-05 12-48-31](https://user-images.githubus

[2019-04-05 07:46] ThomasKranitsas commented on #2294
Contest https://www.topcoder.com/challenges/30088040 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-05 07:46] ThomasKranitsas commented on #2294
Contest https://www.topcoder.com/challenges/30088040 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-05 08:02] sumitdaga commented on #2294
@ThomasKranitsas
i cannot reproduce it!

[2019-04-05 12:55] ThomasKranitsas commented on #2294
Please see the attached screencast
[screencast 2019-04-05 18-18-34.mp4.zip](https://github.com/topcoder-platform/community-app/files/3047951/screencast.2019-04-05.18-18-34.mp4.zip)

[2019-04-05 13:14] sumitdaga commented on #2294
@ThomasKranitsas
ok so for ex when new password field is in focus(and tooltip visible) and user clicks on show checkbox in the same field ...should the tooltip disappear or remain ?

[2019-04-05 13:37] ThomasKranitsas commented on #2294
We just need to make sure there are no issues with overlapping tooltips

[2019-04-05 13:49] sumitdaga commented on #2294
@ThomasKranitsas
PR at https://github.com/topcoder-platform/community-app/pull/2296

[2019-04-05 15:20] #2294 closed

[2019-04-05 15:21] ThomasKranitsas commented on #2294
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088040<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-05 19:15] ThomasKranitsas commented on #2192
Contest https://www.topcoder.com/challenges/30087010 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-05 23:25] NehaSharma02 opened #2299 "[$10] Mistype on settings page"
On settings page, accounts tab.
Double quote symbol instead of a apostrophe symbol

![Inkedimage (2)_LI](https://user-images.githubusercontent.com/37835397/55661229-330df680-5828-11e9-9903-82314fa14ef0.jpg)

@ajefts

[2019-04-06 07:05] ThomasKranitsas commented on #2299
@topcoder-platform/topcodercompetitors this is open for pickup.
Please also check the rest of the text related to SSO users for typos as part of this ticket.

[2019-04-06 07:07] ThomasKranitsas commented on #2299
Contest https://www.topcoder.com/challenges/30088085 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-06 07:07] ThomasKranitsas commented on #2299
Contest https://www.topcoder.com/challenges/30088085 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-06 07:11] ThomasKranitsas commented on #2299
Contest https://www.topcoder.com/challenges/30088085 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-06 07:11] ThomasKranitsas commented on #2299
PR on `hot-fixes` please

[2019-04-06 07:25] sumitdaga commented on #2299
@ThomasKranitsas
#2300

[2019-04-06 07:30] #2299 closed

[2019-04-06 07:31] ThomasKranitsas commented on #2299
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088085<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-06 10:51] kkartunov commented on #2016
@sushilshinde @Oanh-and-only-Oanh this is now in `hot-fixes` branch. Can be tested...
For CS the configured viewport that will load is: https://app.contentful.com/spaces/b5f1djy59z3a/entries/5mnW0rH0XWs6D04XYxs9vf

For TopGear there is none. I do not have access to its space.

[2019-04-08 18:35] #2057 closed

[2019-04-08 18:38] ThomasKranitsas commented on #2061
This is open for pickup

[2019-04-08 18:40] ThomasKranitsas commented on #2061
Contest https://www.topcoder.com/challenges/30088202 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-08 18:40] ThomasKranitsas commented on #2061
Contest https://www.topcoder.com/challenges/30088202 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-08 18:40] ThomasKranitsas commented on #2066
fixed

[2019-04-08 18:40] #2066 closed

[2019-04-08 18:40] ThomasKranitsas commented on #2061
Contest https://www.topcoder.com/challenges/30088202 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-08 18:41] gurmeetb commented on #2061
@ThomasKranitsas does this goes on branch `hot-fixes` ?

[2019-04-08 18:42] ThomasKranitsas commented on #2061
Yes, please

[2019-04-08 18:47] ThomasKranitsas commented on #2137
@Oanh-and-only-Oanh perhaps we should hide the ones that aren't available?

[2019-04-08 19:00] Oanh-and-only-Oanh commented on #2137
@ThomasKranitsas I'm good with that approach.

[2019-04-08 19:10] ThomasKranitsas commented on #2063
@marioskranitsas, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-08 19:10] ThomasKranitsas commented on #2063
@topcoder-platform/topcodercompetitors this is open for pickup

[2019-04-08 19:10] ThomasKranitsas commented on #2063
@marioskranitsas, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-08 19:11] ThomasKranitsas commented on #2063
@marioskranitsas please use this link https://x.topcoder.com/api/v1/github/teams/registration/9a654b5f-7c0f-40d5-a847-077db8c1af9a-1554750668359 to register with tcx

[2019-04-08 19:12] ThomasKranitsas commented on #2063
hey @sumitdaga, @marioskranitsas was assigned on this one but is not yet registered with tcx

[2019-04-08 19:12] sumitdaga commented on #2063
@ThomasKranitsas
should i unassign ?

[2019-04-08 19:13] ThomasKranitsas commented on #2063
Contest https://www.topcoder.com/challenges/30088203 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-08 19:13] ThomasKranitsas commented on #2063
Contest https://www.topcoder.com/challenges/30088203 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-08 19:13] ThomasKranitsas commented on #2063
Contest https://www.topcoder.com/challenges/30088203 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-08 19:13] ThomasKranitsas commented on #2063
Contest https://www.topcoder.com/challenges/30088203 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-08 19:14] r0hit-gupta commented on #2063
I am sorry. I didn't read the comments properly.

[2019-04-08 19:18] ThomasKranitsas commented on #2063
Contest https://www.topcoder.com/challenges/30088203 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-08 19:19] ThomasKranitsas commented on #2063
@marioskranitsas PR on `hot-fixes`

[2019-04-08 20:11] ThomasKranitsas commented on #2096
@topcoder-platform/topcodercompetitors this is open for pickup and needs to be checked and fixed in all subpages in the settings page

[2019-04-08 20:13] ThomasKranitsas commented on #2096
Contest https://www.topcoder.com/challenges/30088204 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-08 20:13] ThomasKranitsas commented on #2096
Contest https://www.topcoder.com/challenges/30088204 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-08 20:14] ThomasKranitsas commented on #2096
Contest https://www.topcoder.com/challenges/30088204 has been updated - it has been assigned to applehit16.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-08 20:15] #2063 closed

[2019-04-08 20:16] ThomasKranitsas commented on #2063
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088203<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-08 20:35] Gauravseta commented on #2096
@ThomasKranitsas any more open for pickup soon?

[2019-04-08 20:36] ThomasKranitsas commented on #2096
Yes, I'll open more tomorrow. Stay tuned!

[2019-04-09 06:47] liqiang372 commented on #2096
@ThomasKranitsas can you please verify the validity of ticket? https://drive.google.com/file/d/1_p7XdcDOfgosnK_BAkyP7VeZm8GD2lxC/view?usp=sharing

The notification doesn't show up for me.

But I found there is a `delete` button in profile page, desktop webpage however doesn't have this
https://ibb.co/pKj37tm

[2019-04-09 06:50] ThomasKranitsas commented on #2096
@liqiang372 ignore the `delete` button for now.

The notifications seem to have many issues. Can you please fix them across the settings page?
The notifications should be properly shown when the data gets updated and should be dismissed when you change tab/page.

Let me know if the effort is too much for this.
I may have to run a challenge for this if it needs a lot of effort.

[2019-04-09 07:07] #2061 closed

[2019-04-09 07:08] applehit16 commented on #2096
@ThomasKranitsas To fix them, I need to first understand what the issue is... I tried to follow the op's instruction, and nothing happens to me. https://drive.google.com/open?id=1_p7XdcDOfgosnK_BAkyP7VeZm8GD2lxC

So to my understanding now, the issue has become that notification doesn't show up when you delete an item. I'll look into this first, and see if It will be dismissed when switching tabs

[2019-04-09 07:08] ThomasKranitsas commented on #2061
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088202<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-09 07:12] ThomasKranitsas commented on #2096
Correct, the notification should show up when you edit anything in your settings/traits.

Again, let me know if the effort is too much for this ticket

[2019-04-09 07:14] applehit16 commented on #2096
@ThomasKranitsas looking into it, will keep you updated

[2019-04-09 09:23] sushilshinde commented on #2016
I'll get the access for you

[2019-04-10 03:38] Oanh-and-only-Oanh commented on #1942
@sushilshinde can we close this or is something pending?

[2019-04-10 10:15] sushilshinde commented on #1942
@ajefts I'm not totally aware of this part
[code]
API is serving two values now, from the API side we can close there weren't any frontend changes for this.

[2019-04-10 13:33] ThomasKranitsas commented on #1942
@sushilshinde let's close this ticket as the frontend part was completed and it's deployed.

If backend changes are needed, better to track them on the backend repo.

[2019-04-10 13:33] #1942 closed

[2019-04-10 13:34] ThomasKranitsas commented on #1942
Contest https://www.topcoder.com/challenges/30088344 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-10 13:34] ThomasKranitsas commented on #1942
Contest https://www.topcoder.com/challenges/30088344 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-11 03:06] liqiang372 commented on #2096
@ThomasKranitsas this is ready for review https://github.com/topcoder-platform/community-app/pull/2303

[2019-04-12 07:19] kkartunov opened #2306 "Update the size of the fonts on TCO themes in accordance to design"
![Topcoder Typography](https://user-images.githubusercontent.com/5585002/56019090-74147800-5d0c-11e9-8e18-3d39d6ef4661.png)

[2019-04-12 16:45] hokienick opened #2307 "Formatting Of Content In A Card"
We may need to re-model the way a card is created.

Let's take this [Contentful Card Row](https://app.contentful.com/spaces/b5f1djy59z3a/entries/4fr7QZfF2qh9PWEhtBmOZ3?previousEntries=38TqynTX01qD0k0AyrzrSv,7s3Ly1IkNlOcxaS1787GRg,5Dr60B2YW7U7VYwfeUiIeA) as an example and it's [preview](https://community-app.topcoder.com/examples/contentful/viewport/4fr7QZfF2qh9PWEhtBmOZ3).

Notice in the preview h

[2019-04-15 12:17] urwithat opened #2309 "New User Registration - Redirect to My Profile, Blank screen"
**Describe the bug**
When I register a new user and complete my activation process. The user lands to the member traits page. I enter only the mandatory details and redirect to my Profile and see a blank page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/'
2. Click on 'Join Topcoder'
3. Enter the details and register a new users. Note: do not register via so

[2019-04-15 13:16] urwithat commented on #2309
Its takes a while for the users to be available on the v2 service

[2019-04-15 13:16] #2309 closed

[2019-04-16 05:26] m-yadav commented on #762
copilot reported user facing registration issue in the following challenge https://www.topcoder.com/challenges/30088501

Console shows a 500 status with message : failed to create the forum wrapper

But the user is registered and can be seen once the user does a hard refresh.

![error](https://user-images.githubusercontent.com/45197181/56183946-09c64500-6036-11e9-86de-840e88beeef5.png)

[2019-04-16 21:54] NehaSharma02 opened #2313 "Issue in creating new account on Topcoder"
After creating an account the verification link didn't go on the registered email to activate the account which shows the account had not created.
If going back a step to fill them out again, it will not accept username and the email as the account had already been created.

Also, please check if it is particularly with the UK region.

cc @ajefts

[2019-04-17 06:10] kkartunov commented on #1987
Tests:
https://app.contentful.com/spaces/b5f1djy59z3a/entries/7GVSVjV0EtQpOftve8u6AM
and
https://community-app.topcoder.com/examples/contentful/slider/7GVSVjV0EtQpOftve8u6AM

[2019-04-17 06:10] #1987 closed

[2019-04-17 06:12] kkartunov commented on #1981
@sushilshinde this is not more relevant, right?

[2019-04-17 06:41] kkartunov commented on #2307
@hokienick we can have this with some CSS sugar. No code update required. Check the https://app.contentful.com/spaces/b5f1djy59z3a/entries/5BPWTXQVlFrfH6w5FHZncr?previousEntries=38TqynTX01qD0k0AyrzrSv,7s3Ly1IkNlOcxaS1787GRg,5Dr60B2YW7U7VYwfeUiIeA,4fr7QZfF2qh9PWEhtBmOZ3 and its preview.
What do you think?

[2019-04-17 07:24] ThomasKranitsas commented on #2313
@urwithat any idea if this is an issue with the API which isn't publishing the events on kafka or with the processor which isn't sending the emails?

[2019-04-17 07:33] kkartunov commented on #2306
@hokienick I create some test playgrounds for this:

Banner
https://app.contentful.com/spaces/b5f1djy59z3a/entries/21f5XTWua5sRS21FEoh2Dk

ContentBlock
https://app.contentful.com/spaces/b5f1djy59z3a/entries/9ZLM37LR4MDKjMIEfrqXw

Now, it is unclear what to me what needs to change. Can we work it out together?

[2019-04-17 07:57] ThomasKranitsas opened #2314 "[$40] The tooltip text is wrong on new email field"
**Describe the bug**
The tooltip text is wrong on the new email field

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://community-app.topcoder-dev.com/settings/account
2. Click on Change Email
3. Enter any invalid email
4. Notice that the tooltip text is correct
5. Enter the existing email as the new email
6. Notice that the tooltip text is correct
7. Now modify the new email
8.

[2019-04-17 07:59] ThomasKranitsas commented on #2314
Contest https://www.topcoder.com/challenges/30088661 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-17 08:59] #2314 closed

[2019-04-17 09:00] ThomasKranitsas commented on #2314
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088661<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-18 09:45] ThomasKranitsas commented on #2096
Contest https://www.topcoder.com/challenges/30088204 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-18 09:45] #2096 closed

[2019-04-18 09:46] ThomasKranitsas commented on #2096
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088204<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-18 19:47] #2307 closed

[2019-04-20 15:28] ThomasKranitsas opened #2320 "[$30] Remove check from password tooltip"
**Describe the bug**
Currently, the tooltip says "new password cannot be the same as old one". This is wrong as we don't know the user's password thus we can't check it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://community-app.topcoder-dev.com/settings/account
2. Focus on the new password field
3. See error

**Expected behavior**
That text should be removed

**Screenshots*

[2019-04-20 15:28] ThomasKranitsas commented on #2320
PR on `hot-fixes`

[2019-04-20 15:34] ThomasKranitsas commented on #2320
Contest https://www.topcoder.com/challenges/30088839 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 15:34] ThomasKranitsas commented on #2320
Contest https://www.topcoder.com/challenges/30088839 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 15:41] marioskranitsas commented on #2320
the `oldPassword` is filled in the previous field

[2019-04-20 15:42] ThomasKranitsas commented on #2320
🤦‍♂️ my bad. Closing this one.

[2019-04-20 15:42] #2320 closed

[2019-04-20 15:42] ThomasKranitsas commented on #2320
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 15:47] ThomasKranitsas commented on #2080
PR on `hot-fixes`

[2019-04-20 15:50] ThomasKranitsas commented on #2080
Contest https://www.topcoder.com/challenges/30088840 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 15:50] ThomasKranitsas commented on #2080
Contest https://www.topcoder.com/challenges/30088840 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 15:51] rashmi73 commented on #2080
@marioskranitsas it is not open for pickup yet

[2019-04-20 15:51] ThomasKranitsas commented on #2080
Contest https://www.topcoder.com/challenges/30088840 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 15:54] ThomasKranitsas commented on #2080
@rashmi73 TCX is kinda messed up so I'm not adding the `tcxOpenForPickup` label immediately. It's usually added automatically but if someone picks the ticket up, it'll skip it and will add the `tcxAssigned`.

If you see me adding a prize on a ticket, feel free to jump in and self-assign.

FYI, I'll open a couple more soon 😉

[2019-04-20 15:54] ThomasKranitsas commented on #2052
Contest https://www.topcoder.com/challenges/30088841 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 15:54] ThomasKranitsas commented on #2052
Contest https://www.topcoder.com/challenges/30088841 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 15:54] ThomasKranitsas commented on #2052
Contest https://www.topcoder.com/challenges/30088841 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 15:54] ThomasKranitsas commented on #2052
@topcoder-platform/topcodercompetitors open for pickup

[2019-04-20 15:55] ThomasKranitsas commented on #2052
Contest https://www.topcoder.com/challenges/30088841 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 15:55] ThomasKranitsas commented on #2052
Contest https://www.topcoder.com/challenges/30088841 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 15:56] nahidshahin commented on #2052
@gurmeetb I assigned myself

[2019-04-20 15:56] ThomasKranitsas commented on #2052
Contest https://www.topcoder.com/challenges/30088841 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 15:57] ThomasKranitsas commented on #2132
Contest https://www.topcoder.com/challenges/30088843 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 15:58] ThomasKranitsas commented on #2132
Contest https://www.topcoder.com/challenges/30088843 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 15:59] ThomasKranitsas commented on #2132
Contest https://www.topcoder.com/challenges/30088843 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 16:03] gurmeetb commented on #2052
@nahidshahin looks like we both clicked assignee at the same time.

[2019-04-20 16:24] #2080 closed

[2019-04-20 16:24] ThomasKranitsas commented on #2080
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088840<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 16:26] ThomasKranitsas commented on #2087
@topcoder-platform/topcodercompetitors open for pickup

[2019-04-20 16:28] ThomasKranitsas commented on #2087
Delete is not implemented on the API.

Remove the buttons from the UI.

PR on `hot-fixes`

[2019-04-20 16:29] ThomasKranitsas commented on #2087
Contest https://www.topcoder.com/challenges/30088844 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 16:29] ThomasKranitsas commented on #2087
Contest https://www.topcoder.com/challenges/30088844 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 16:29] ThomasKranitsas commented on #2132
@rashmi73 PR on `hot-fixes` please

[2019-04-20 16:29] nahidshahin commented on #2052
@ThomasKranitsas PR https://github.com/topcoder-platform/community-app/pull/2322

[2019-04-20 16:31] ThomasKranitsas commented on #2087
Contest https://www.topcoder.com/challenges/30088844 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 16:44] nahidshahin commented on #2052
@ThomasKranitsas created new PR https://github.com/topcoder-platform/community-app/pull/2323

[2019-04-20 16:48] #2052 closed

[2019-04-20 16:49] ThomasKranitsas commented on #2052
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088841<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-20 18:22] #2087 closed

[2019-04-20 18:22] ThomasKranitsas commented on #2087
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088844<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-21 06:52] gurmeetb commented on #2192
@ThomasKranitsas can you open this so I can give second try?

[2019-04-21 07:04] PrakashDurlabhji commented on #2192
@ThomasKranitsas sorry for delaying. you can open it as I failed rather I open myself now

[2019-04-21 07:06] ThomasKranitsas commented on #2192
Contest https://www.topcoder.com/challenges/30087010 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-21 07:21] rashmi73 commented on #2132
@ThomasKranitsas Also under Tools-> Devices, Tools-> service providers, Tools -> subscription same thing follows, shall i cover those too? under this ticket? if possible can you please raise prize by few?

[2019-04-21 10:59] ThomasKranitsas commented on #2132
Sure, thanks!

[2019-04-21 10:59] ThomasKranitsas commented on #2132
Contest https://www.topcoder.com/challenges/30088843 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-21 11:06] ThomasKranitsas commented on #2097
@topcoder-platform/topcodercompetitors this is open for pickup

[2019-04-21 11:06] ThomasKranitsas commented on #2097
PR on `hot-fixes`

[2019-04-21 11:13] ThomasKranitsas commented on #2097
Contest https://www.topcoder.com/challenges/30088872 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-21 11:13] ThomasKranitsas commented on #2097
Contest https://www.topcoder.com/challenges/30088872 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-21 11:14] ThomasKranitsas commented on #2097
Contest https://www.topcoder.com/challenges/30088872 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-21 11:36] ThomasKranitsas commented on #2137
@topcoder-platform/topcodercompetitors open for pickup

Let's remove the following:
- Behance
- Twitter
- Linkedin

PR on `hot-fixes`

[2019-04-21 11:38] #2097 closed

[2019-04-21 11:40] ThomasKranitsas commented on #2097
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088872<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-21 11:43] ThomasKranitsas commented on #2137
Contest https://www.topcoder.com/challenges/30088874 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-21 11:43] ThomasKranitsas commented on #2137
Contest https://www.topcoder.com/challenges/30088874 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-21 11:45] ThomasKranitsas commented on #2137
Contest https://www.topcoder.com/challenges/30088874 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-21 12:04] #2137 closed

[2019-04-21 12:07] ThomasKranitsas commented on #2137
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088874<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-21 16:08] nahidshahin commented on #2192
@ThomasKranitsas tried with `TonyJ` but no challenges of `IDEA_GENERATION` found. Can you please create test data?

[2019-04-21 16:25] ThomasKranitsas commented on #2192
Let's close this for now as it seems not reproducible. We may open it later if we manage to reproduce it again.

[2019-04-21 16:25] #2192 closed

[2019-04-21 16:25] ThomasKranitsas commented on #2192
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-22 00:21] rashmi73 commented on #2132
@ThomasKranitsas PR https://github.com/topcoder-platform/community-app/pull/2327

[2019-04-22 11:07] m-yadav opened #2328 "SRM : Stats Data not visible in UI"
**Describe the bug**
Past challenges data for SRM is not being reflected on User's end. The rating along with rank and number of contest are visible but not the details info. Its coming out to be zero. Interesting to note that the data can be fetched via api endpoint but not visible on UI front.

**To Reproduce**
Steps to reproduce the behavior:
We can take example of any users : tourist.
1. Go to

[2019-04-22 11:12] RiteshTC commented on #2328
![](https://github.trello.services/images/mini-trello-icon.png) [Past SRM History is not populated](https://trello.com/c/WMCL6eql/44-past-srm-history-is-not-populated)

[2019-04-24 05:31] m-yadav opened #2329 "[$100] False submission count on challenge page"
**Describe the bug**
User reported that when he just launched a challenge (https://www.topcoder.com/challenges/30088979) and right after it went live and had no registrants obviously yet, the page  still shows 1 submission. Ideally the submission count should be coming out to be zero as.

Kindly refer the screenshot below. You can take in account any design challenge. As of now this can be seen in

[2019-04-24 15:47] rashmi73 commented on #2132
@thomaskranitsas sorry for delay

[2019-04-24 19:50] rashmi73 commented on #2132
@ThomasKranitsas PR update

[2019-04-25 06:23] #2132 closed

[2019-04-25 06:24] ThomasKranitsas commented on #2132
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30088843<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-25 20:51] gurmeetb opened #2333 "Avatar change doesn't propagates change to Forums"
**Describe the bug**
Changing Avatar on Topcoder.com, changes it on Profile and homepage right icon but doesn't propagates the change to forums.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/profile'
2. Change Avatar
3. Goto any registered challenge, try posting in forums or scroll through previous posts in forums
4. You still see previous Avatar, t

[2019-04-26 11:01] #2306 closed

[2019-04-26 19:14] hokienick opened #2336 "Executing Mailchimp Javascript"
There is a script that we are trying to run in Mailchimp that should return a list of links to old Mailchimp Newsletters.

As you mentioned in our chat, it turns out that when react triggers it is parsed at raw text and messes things up.  Below please find the code snippet we are trying to accomplish.

[code]

[2019-04-26 22:18] NehaSharma02 opened #2337 "Request to add new Skill option"
A member has requested to add a new skill named "Vue.js" in the options to select skills on member's profile.
![Inkedimage_LI](https://user-images.githubusercontent.com/37835397/56839138-d6d64980-689e-11e9-9c2b-d45bca7ef036.jpg)

cc @RiteshTC

[2019-04-27 08:34] ThomasKranitsas commented on #2082
@topcoder-platform/topcodercompetitors this is now open for pickup
PR on `hot-fixes`

[2019-04-27 08:35] ThomasKranitsas commented on #2094
@topcoder-platform/topcodercompetitors this is now open for pickup
PR on `hot-fixes`

The fix would be to only allow numbers.

[2019-04-27 08:41] ThomasKranitsas commented on #2082
[500]: Challenge for the updated issue 2082 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 08:41] ThomasKranitsas commented on #2082
[500]: Challenge for the updated issue 2082 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 08:42] ThomasKranitsas commented on #2082
[500]: Challenge for the updated issue 2082 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 08:42] ThomasKranitsas commented on #2082
[500]: Challenge for the updated issue 2082 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 08:42] ThomasKranitsas commented on #2082
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 08:42] ThomasKranitsas commented on #2082
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 08:43] ThomasKranitsas commented on #2082
Contest https://www.topcoder.com/challenges/30089257 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 08:44] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 08:44] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 08:44] ThomasKranitsas commented on #2082
Contest https://www.topcoder.com/challenges/30089257 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 08:44] ThomasKranitsas commented on #2082
Contest https://www.topcoder.com/challenges/30089257 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 08:44] ThomasKranitsas commented on #2082
Contest https://www.topcoder.com/challenges/30089257 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 08:45] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 08:45] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 09:23] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 09:23] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 09:23] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 09:23] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 09:25] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 09:25] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-27 10:11] gurmeetb commented on #2082
@ThomasKranitsas it's done and ready for review.

[2019-04-27 10:14] #2082 closed

[2019-04-27 10:14] ThomasKranitsas commented on #2082
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30089257<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-28 11:02] rashmi73 commented on #2094
@ThomasKranitsas PR in 15 minutes

[2019-04-28 13:36] rashmi73 commented on #2094
@ThomasKranitsas PR https://github.com/topcoder-platform/community-app/pull/2340
Implementation for zip validation is similar as birthdate

[2019-04-28 13:44] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-28 13:44] ThomasKranitsas commented on #2094
[502]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-28 13:44] ThomasKranitsas commented on #2094
[502]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-28 13:46] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-28 13:46] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-28 13:46] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-28 13:46] ThomasKranitsas commented on #2094
[502]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-28 13:46] ThomasKranitsas commented on #2094
[502]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 06:45] RiteshTC commented on #2337
May be later

[2019-04-29 06:45] #2337 closed

[2019-04-29 07:30] RiteshTC opened #2341 "[$40] Unable to access profile is home country code and competition country code are both null"
**Describe the bug**
Unable to see profile after login.

**To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Access your profile. (Ensure your profile has a valid address set).

**Expected behavior**
1. Profile should be loaded.

**Screenshots**
<img width="1033" alt="ToUpperCase" src="https://user-images.githubusercontent.com/5771673/56881548-638b2e00-6a7e-11e9-81b5-5d885407f740.png">

[2019-04-29 09:19] ThomasKranitsas commented on #2341
@topcoder-platform/topcodercompetitors this is open for pickup.

PR on `hot-fixes`

[2019-04-29 09:26] ThomasKranitsas commented on #2341
[500]: Challenge for the updated issue 2341 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 09:26] ThomasKranitsas commented on #2341
[500]: Challenge for the updated issue 2341 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 09:26] ThomasKranitsas commented on #2341
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 09:26] ThomasKranitsas commented on #2341
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 09:28] ThomasKranitsas commented on #2341
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 09:28] ThomasKranitsas commented on #2341
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 09:30] ThomasKranitsas commented on #2341
[500]: Challenge for the updated issue 2341 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 09:31] ThomasKranitsas commented on #2341
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 09:31] ThomasKranitsas commented on #2341
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 11:10] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 11:10] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 11:10] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 11:11] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 11:11] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:00] ThomasKranitsas commented on #2094
Paid manually

[2019-04-29 13:07] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:07] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:07] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:07] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:07] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:07] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:07] ThomasKranitsas commented on #2094
Payment failed: [504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:07] ThomasKranitsas commented on #2094
Payment failed: [504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:13] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:15] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:15] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:15] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:17] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:18] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 13:18] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 18:52] nahidshahin commented on #2341
@ThomasKranitsas I put a null check to prevent this NPE by https://github.com/topcoder-platform/community-app/pull/2342

[2019-04-29 19:00] ThomasKranitsas commented on #2341
Contest https://www.topcoder.com/challenges/30089425 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 19:00] ThomasKranitsas commented on #2341
paid manually

[2019-04-29 19:04] ThomasKranitsas commented on #2341
Contest https://www.topcoder.com/challenges/30089425 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 19:04] ThomasKranitsas commented on #2341
please disregard the labels

[2019-04-29 19:04] #2341 closed

[2019-04-29 19:04] ThomasKranitsas commented on #2341
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30089425<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 21:35] ThomasKranitsas commented on #2094
Payment failed: [500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 21:35] ThomasKranitsas commented on #2094
Payment failed: [500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 21:36] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 21:36] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 21:36] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 21:36] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 21:43] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-29 21:43] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 07:51] kkartunov commented on #2306
@hokienick in prod.
Follows:
![image (5)](https://user-images.githubusercontent.com/5585002/56947453-ede29900-6b35-11e9-9b63-6a5a510b4cee.png)

[2019-04-30 12:40] ThomasKranitsas commented on #1391
This has been fixed

[2019-04-30 12:40] #1391 closed

[2019-04-30 12:42] ThomasKranitsas commented on #1510
This has been fixed

[2019-04-30 12:42] #1510 closed

[2019-04-30 12:42] ThomasKranitsas commented on #1526
This has been fixed

[2019-04-30 12:42] #1526 closed

[2019-04-30 12:50] ThomasKranitsas commented on #1744
Fixed

[2019-04-30 12:50] #1744 closed

[2019-04-30 12:51] ThomasKranitsas commented on #1572
Can you please check again. Should be fixed now

[2019-04-30 12:51] ThomasKranitsas commented on #1566
This should be fixed now. Can you please check again?

[2019-04-30 13:03] ThomasKranitsas commented on #2094
Payment failed: [500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 13:03] ThomasKranitsas commented on #2094
Payment failed: [500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 13:03] ThomasKranitsas commented on #2094
Payment failed: [500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 13:04] ThomasKranitsas commented on #2094
Payment failed: [504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 13:04] ThomasKranitsas commented on #2094
Payment failed: [504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 16:48] ThomasKranitsas opened #2343 "[$40] Issue when loading member profiles that have a space on their handle"
**Describe the bug**
Can't load member profiles if the handle includes a space.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/members/Thiygau%20GK
2. See error

**Expected behavior**
Need to update the regex checks we're doing to allow spaces

**Screenshots**
<img width="1382" alt="Screenshot 2019-04-30 at 19 46 42" src="https://user-images.githubusercontent

[2019-04-30 16:56] ThomasKranitsas commented on #2343
[500]: Challenge for the updated issue 2343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 16:56] ThomasKranitsas commented on #2343
[500]: Challenge for the updated issue 2343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 16:56] ThomasKranitsas commented on #2343
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 16:56] ThomasKranitsas commented on #2343
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:13] ThomasKranitsas commented on #2343
[500]: Challenge for the updated issue 2343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:14] ThomasKranitsas commented on #2343
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:14] ThomasKranitsas commented on #2343
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:29] ThomasKranitsas commented on #2343
will pay manually

[2019-04-30 18:35] ThomasKranitsas commented on #2343
Payment failed: [500]: Challenge for the updated issue 2343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:36] ThomasKranitsas commented on #2343
[500]: Challenge for the updated issue 2343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:36] ThomasKranitsas commented on #2343
[500]: Challenge for the updated issue 2343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:36] ThomasKranitsas commented on #2343
[500]: Challenge for the updated issue 2343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:36] ThomasKranitsas commented on #2343
[500]: Challenge for the updated issue 2343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:37] ThomasKranitsas commented on #2343
[500]: Challenge for the updated issue 2343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:37] ThomasKranitsas commented on #2343
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:37] ThomasKranitsas commented on #2343
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:38] ThomasKranitsas commented on #2343
[500]: Challenge for the updated issue 2343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:38] ThomasKranitsas commented on #2343
[500]: Challenge for the updated issue 2343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:41] ThomasKranitsas commented on #2343
[500]: Challenge for the updated issue 2343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:41] ThomasKranitsas commented on #2343
[500]: Challenge for the updated issue 2343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:42] ThomasKranitsas commented on #2343
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-04-30 18:42] ThomasKranitsas commented on #2343
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-01 13:12] Dara-K commented on #1566
Yes, it's fixed. Thanks!

[2019-05-01 16:12] #2343 closed

[2019-05-01 16:16] ThomasKranitsas commented on #2343
Contest https://www.topcoder.com/challenges/30089731 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-01 16:16] ThomasKranitsas commented on #2343
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-01 16:21] ThomasKranitsas commented on #2094
Payment failed: [500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-01 16:22] ThomasKranitsas commented on #2094
Payment failed: [500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-01 16:22] ThomasKranitsas commented on #2094
Payment failed: [500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-01 16:22] ThomasKranitsas commented on #2094
Payment failed: [504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-01 16:22] ThomasKranitsas commented on #2094
Payment failed: [504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-01 18:38] ThomasKranitsas commented on #2172
This has been fixed

[2019-05-01 18:38] #2172 closed

[2019-05-01 18:44] #2094 closed

[2019-05-01 18:52] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-01 18:52] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-01 18:53] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-01 18:53] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-01 18:53] ThomasKranitsas commented on #2094
[500]: Challenge for the updated issue 2094 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-01 18:54] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-01 18:54] ThomasKranitsas commented on #2094
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-03 19:02] hokienick opened #2345 "Statistics Page - Extend Line over Numbers"
Currently on our [Statistics Page](https://www.topcoder.com/community/statistics) for all the tables that are numbered, the number does not have a line that is extended above and below it as they do in the other columns.  Can we please have this line extended?

[2019-05-03 20:12] hokienick opened #2346 "Active Page of Navigation Bar (White)"
Currently it is not known which page of the navigation bar someone is on.  To fix this, we should create it so that the current tab is highlighted in White Text.

[2019-05-06 11:00] sushilshinde commented on #1859
@skyhit there is a problem with forum creation

When I try to register for a `design` challenge

![Insurance Renewals Monitoring Dashboard Design Concepts Challenge 2019-05-06 16-24-52](https://user-images.githubusercontent.com/683231/57221220-f5b1aa00-701b-11e9-93bb-8de2993862d6.png)

when I reload I don't see the orange button and if I try to register again, I get this

![Insurance Renewals Moni

[2019-05-06 19:18] hokienick commented on #2346
Example:  If you are on the Design Statistics page it looks like this:

<img width="1547" alt="Screen Shot 2019-05-06 at 12 15 14 PM" src="https://user-images.githubusercontent.com/1373998/57249008-b160e280-6ff8-11e9-85aa-bb019ac8e858.png">

Notice how all the tabs are the same color, you wouldn't know which page you were on otherwise.  My recommendation is to bold/whiten when on the specific page

[2019-05-06 20:07] Dara-K opened #2348 "TCO19 Headings Update"
For reference:  https://marvelapp.com/17dai3f6/screen/45383283/handoff

To update the texts on the following pages based on the headings mentioned below:

**1.Homepage:**
**1.1 Main Banner: d**escription of the track like for Copilot Tournament the text below it: “We are happy to announce a special opportunity for Topcoder copilots….”
=> text should be: Body Size – MD (15px / 25px)

**1.2 TCO19 &

[2019-05-09 13:15] kkartunov commented on #2346
https://www.topcoder.com/community/statistics/development
Done.

[2019-05-09 13:15] #2346 closed

[2019-05-13 09:06] kkartunov commented on #2348
@Dara-K updates available for preview here: https://beta-community-app.topcoder.com/__community__/tco19

[2019-05-13 09:08] kkartunov commented on #2345
@hokienick updates available here: https://beta-community-app.topcoder.com/community/statistics

[2019-05-13 09:08] #2345 closed

[2019-05-13 13:52] sushilshinde commented on #1859
Resolved

[2019-05-13 13:52] #1859 closed

[2019-05-13 13:54] Dara-K commented on #2348
Hi @kkartunov

Nice updates - the site is looking better now, but I still notice some items that are not improved.

1.5, 2., 3.1 Table text is not updated, 4.2, 4.5, 6.1 , 8

Can you fix these too?

[2019-05-16 09:14] m-yadav opened #2359 "[$50]Marathon Matches details not shown to the user"
Details page for marathon challenges is not working for users. Its giving error "ailed to get member marathons".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/members/</InsertHandle/>/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH&tab=statistics'
2. You ll be able to see the records along with the chart for rating.
3. Click on challenges will take you t

[2019-05-17 21:27] hokienick opened #2361 "Duplicate TCO19 to create TCO20"
Time to start building TCO20!  Please work your magic and duplicate everything under TCO19 home and set for TCO20.

[2019-05-17 21:38] hokienick opened #2362 "Move TCO19 Copilot Leaderboards"
Please add the track leaderboards to the “copilot tournament” page and remove those links from the nav.  The buttons that are on the copilot tournament page should now scroll down to the respective leaderboard and make sure only the top 10 get listed to save some scrolling.

[2019-05-20 06:55] kkartunov commented on #2362
Completed.

[2019-05-20 06:55] #2362 closed

[2019-05-20 09:56] kkartunov commented on #2361
Done.

[2019-05-20 09:56] #2361 closed

[2019-05-20 21:51] Oanh-and-only-Oanh commented on #2284
@sushilshinde @ThomasKranitsas, where are we on this?

[2019-05-21 00:25] NehaSharma02 opened #2363 "Log in /Join Topcoder button not working on mobile(iPhone) for Topcoder.com"
On mobile, the 'Login' and 'Join Topcoder' button on Topcoder.com site is not working on Chrome/Safari browser.

Steps to reproduce
1. Go to https://www.topcoder.com/
2. Click on login button / Join Topcoder button (does not work)

Browser Details:
Chrome (iPhone)  - Not Working
Safari (iPhone) - Not Working

But, on Topcoder.com click on Dropdown and go to Community (top left) is giving normal lo

[2019-05-21 11:22] sushilshinde opened #2365 "null checking"
For this user, null values are throwing an error and breaking the page

https://www.topcoder.com/members/amirassov

[2019-05-21 15:31] cwdcwd commented on #1997
![](https://github.trello.services/images/mini-trello-icon.png) [Challenge Attachments Download issue](https://trello.com/c/zXAVk5Qp/48-challenge-attachments-download-issue)

[2019-05-21 21:27] hokienick opened #2367 "Challenges Component in Contentful"
Currently we have a Challenges Block but does not contain any parameters of what it should display.  Currently this is the way the Challenges Block displays on our Veterans page:

<img width="1080" alt="Screen Shot 2019-05-21 at 2 13 14 PM" src="https://user-images.githubusercontent.com/1373998/58131137-b87c1900-7bd2-11e9-8881-2df2a474070f.png">

I think those boxes are ok, but would like to exten

[2019-05-23 17:21] Oanh-and-only-Oanh commented on #2363
@RiteshTC i thought this was resolved? can we close it?

[2019-05-23 18:04] Oanh-and-only-Oanh commented on #2284
@sushilshinde how's this going?

[2019-05-28 15:52] hokienick opened #2375 "Create Page That Maps Content Modules and what they Render To"
Vic is asking for a page that he can visit that lists all of our Contentful Content Models so that he can see a catalog essentially of what each one does / looks like.  I know we have that one page we made with Daniela with several components, but Vic would like to see what ALL of them do.

**Short But Sweet:**
Create a page (internally) with a list of links with the name of each content model.  W

[2019-05-28 17:18] ajefts commented on #2375
I assume we'll extend the info on this page?  https://github.com/topcoder-platform/community-app/blob/develop/docs/contentful/index.md

[2019-05-28 17:38] ThomasKranitsas commented on #2016
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-28 17:40] #2016 closed

[2019-05-28 17:43] #1941 closed

[2019-05-28 18:35] #1094 closed

[2019-05-28 18:38] ThomasKranitsas commented on #1094
Contest https://www.topcoder.com/challenges/30091906 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-28 18:38] ThomasKranitsas commented on #1094
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-28 18:54] #2363 closed

[2019-05-29 06:38] luizrrodrigues opened #2376 "Verified Skill: Backend API did not update when member win a related challenge"
This PR is just to **Frontend**, **Backend API** already returning **CHALLENGE** and **USER_ENTERED** in `source` of `skills` data.

QA Question:
- Backend API already add **CHALLENGE** source to skill when member win a Challenge?

Looks like not working, check this profile below, you can see **QA** in skill WITHOUT **Verified** mark:
https://beta-community-app.topcoder.com/members/sdgun
![image](

[2019-05-29 10:53] kkartunov commented on #2348
Remaining after the last merge:
4.5

[2019-05-29 12:12] #2348 closed

[2019-05-29 12:22] kkartunov commented on #2375
It will be best if we extend existing docs with examples...I am just not sure how to approach it. We currently have https://community-app.topcoder.com/examples/contentful/viewport/7yVst7wTJIalmNhRoUNAWp we use as playground. It pretty much shows most used componets...

[2019-05-29 17:22] nithyaasworld opened #2379 "work/language/education profile page V2"
This is to add some more features to the Work/Language/Education Sections of the Profile Page:

1. Add "Edit" Option to Edit already added Work, Language, Education and Hobby
3. Add Delete-Confirmation-Popup (just like in Hobbies screen)
4. Add an option to make the End-Date as "Present" for Work-End-Date and Education-End-Date
(This is to indicate that the person is still with that School or the

[2019-05-29 17:23] nithyaasworld commented on #2379
@gurmeetb @Oanh-and-only-Oanh

[2019-05-29 18:08] luizrrodrigues commented on #2376
@urwithat Please me know when you have a chance to check this one.

Thanks.

[2019-05-29 18:28] Oanh-and-only-Oanh commented on #2379
@gurmeetb, please help move move this forward. thank you.

[2019-05-29 19:21] nithyaasworld commented on #2234
I am not able to reproduce this in https://topgear.topcoder-dev.com/ environment

In the chrome-screenshot provided in the ticket, Next Deadline info is missing. It could be the reason for Submit button being disabled in Chrome.
In Firefox-screenshot, Next Deadline info is present and thus Submit button is enabled

May be, the page in Chrome is not loaded properly for the user.

[2019-05-29 19:30] nithyaasworld commented on #2379
@Oanh-and-only-Oanh @gurmeetb  I have also added Hobbies to No:1 above.

[2019-05-30 01:48] gurmeetb commented on #2379
@Oanh-and-only-Oanh Sure, will get this rolling today.

[2019-05-30 03:05] nithyaasworld opened #2380 "Challenge Listing Page: Regarding the filters Design/Development/Datascience"
**Describe the bug**
When Development and Datascience filter alone are set to Yes (Without Design being set to Yes), it fetches only Dev Challenges and not the DataScience Challenges

**To Reproduce**
1. Go to https://www.topcoder.com/challenges
2. Set Design filter to "off"
3. Check the results

**Expected behavior**
Both Dev and Data Science Challenges should show up

**Actual behavior**
Only De

[2019-05-30 03:06] nithyaasworld commented on #2380
@sushilshinde I do not have permission to assign this issue to yourself. Please check this. Thanks.

[2019-05-30 04:41] nithyaasworld commented on #2380
I am Sorry, I misinterpreted as there were no Data Science challenges in the main page. Data-Science challenges are listed after expanding the list.

[2019-05-30 04:41] #2380 closed

[2019-05-30 05:41] nithyaasworld opened #2381 "[$40]Challenge Listing Page: Sub community dropdown has only one value"
**Describe the bug**
Sub community filter has only one value

**To Reproduce**

1. Go to https://www.topcoder.com/challenges
2. Expand the Filters and check the Sub Community Dropdown value

**Expected behavior**
I think it had Blockchain community, etc

**Actual behavior**
Now it has only one value "All"

**Screenshots**
![image](https://user-images.githubusercontent.com/5114190/58611098-a46ba200

[2019-05-30 05:42] nithyaasworld commented on #2381
@sushilshinde Can I please have access to assign this issue to you? Currently I do not have permission to edit the assignee.

[2019-05-30 05:46] nithyaasworld opened #2382 "[$40] Challenge Listing Screen: Save-Filter is not working, we will hide the `Save-Filter` for now"
**Describe the bug**
Save Filter is not working. It shows "Failed to Save the filter" message on trying to save the filter

**To Reproduce**
Pre-requisite: User is already logged in topcoder.com
1. Go to https://www.topcoder.com/challenges?
2. Expand the Filters and add some filters
3. Click Save Filter and check

**Expected behavior**
We should hide the `Save Filter` section in the filter panel a

[2019-05-30 05:47] nithyaasworld commented on #2382
@sushilshinde Tagging you as I am not able to assign this to you!

[2019-05-30 05:58] nithyaasworld opened #2383 "Challenge Listing Page: Challenges are not displayed in Past Challenges for some Subtrack and Keyword Filters"
**Describe the bug**
Challenges are not displayed in Past Challenges for some Subtrack filters (Example: Bug Hunt, Design)
Similary When Keyword filter is applied in Past Challenges, it displays only half the results and the remaining are displayed like boxes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/challenges?
2. Click on Past Challenges
3. Then apply t

[2019-05-30 06:00] nithyaasworld commented on #2383
@sushilshinde Tagging you as I am not able to assign this to you! Please check. Thanks.

[2019-05-30 13:42] dmessing commented on #2382
Should this be re-written from scratch?  Maybe remove for now if busted?

[2019-05-30 13:46] dmessing opened #2384 "Challenge listing filtering is not working"
**Describe the bug**
https://www.topcoder.com/challenges?filter[tracks][data_science]=true&filter[tracks][develop]=true seems to only load develop

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/challenges?filter[tracks][data_science]=true&filter[tracks][develop]=true
2. Scroll down to should see data science and dev projects
3. Only see dev projects
I do see a

[2019-05-30 13:47] dmessing commented on #2384
@sushilshinde

[2019-05-31 07:15] sushilshinde commented on #2384
Thanks @dmessing, looking at it

[2019-05-31 07:18] sushilshinde commented on #2284
Deployed on production!

[2019-05-31 07:20] adroc-tc commented on #2284
@sushilshinde I found an issue (thanks for putting it on production!) the issue is when we have a single- round challenge this should be hidden
<img width="1278" alt="Screen Shot 2019-05-31 at 3 19 38 AM" src="https://user-images.githubusercontent.com/15901238/58688610-f1df2200-8352-11e9-93ff-0b474be6b5a6.png">

[2019-05-31 08:52] nithyaasworld opened #2385 "Challenge Listing Page: Date range filter looks misaligned in "Open for review" challenges"
**Describe the bug**
Date range filter looks misaligned in "Open for review" challenges

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/challenges
2. Click on "Open for review"
3. Expand the filter and Check the Date range

**Expected behavior**
It should be same like in other pages

**Screenshots**

![image](https://user-images.githubusercontent.com/5114190/58

[2019-05-31 09:06] nithyaasworld opened #2386 "Challenge listing page: Keywords(Tech Stacks) are not displayed for "Open for review" challenges"
**Describe the bug**
Keywords(Tech Stacks) are not displayed for "Open for review" challenges

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/challenges
2. Click on "Open for review" filter from the right panel
3. Check the challenges listed

**Expected behavior**
It should have Tech Stack displayed just like the other screens.

**Screenshots**
![image](https:/

[2019-05-31 10:24] sushilshinde commented on #2284
@adroc-tc yes, on it, will patch it.

[2019-05-31 10:58] sushilshinde commented on #2384
@dmessing

please look at this video, I was able to see both types of challenges with the filter link

@nithyaasworld can you verify

https://monosnap.com/file/sXNQQLnetuQxZ1rZ27lrlcuhCG1mjT

[2019-05-31 11:06] sushilshinde commented on #2382
Service is down

<img width="1269" alt="DevTools - www topcoder com:challenges 2019-05-31 16-35-51" src="https://user-images.githubusercontent.com/683231/58702023-44a3f280-83c2-11e9-8fe8-45d346fb78b5.png">

[2019-05-31 11:14] sushilshinde commented on #2381
@topcoder-platform/topcodercompetitors this is open for pickup.

PR on `hot-fixes-1` branch,

[2019-05-31 11:16] ThomasKranitsas commented on #2381
Contest https://www.topcoder.com/challenges/30092214 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-31 11:16] ThomasKranitsas commented on #2381
Contest https://www.topcoder.com/challenges/30092214 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-31 11:17] sushilshinde commented on #2365
deployed

[2019-05-31 11:17] #2365 closed

[2019-05-31 11:24] sushilshinde commented on #2359
@m-yadav any handle with lot of MMs?

[2019-05-31 11:27] sushilshinde commented on #2281
@urwithat db entry?

[2019-05-31 11:38] sushilshinde commented on #2270
Fixed

![Screen Shot 2019-05-31 at 5 06 26 PM](https://user-images.githubusercontent.com/683231/58703556-a8c8b580-83c6-11e9-819f-46caea240a38.png)

[2019-05-31 11:38] #2270 closed

[2019-05-31 11:39] #2234 closed

[2019-05-31 12:27] kkartunov commented on #2375
Demo pages created and added to all listed content types in the docs: https://github.com/topcoder-platform/community-app/blob/develop/docs/contentful/index.md

[2019-05-31 12:27] #2375 closed

[2019-05-31 12:28] nithyaasworld commented on #2384
Yes @sushilshinde

Hi @dmessing It seems the MM matches were not displayed as the filter "Most Recent" was applied by default and there was no MM matches posted recently. So Old MM matches are not displayed. It can be seen if Challenge list is expanded by clicking "View More".

It can also be seen if the filter is set to Prize High to Low.

![image](https://user-images.githubusercontent.com/511419

[2019-05-31 12:59] sushilshinde opened #2387 "[$100] SSF - My Challenges bucket differs from production and actual data"
Serverside filtering issues observed on **My Challenges** bucket

Steps to reproduce the behavior:

1. https://beta-community-app.topcoder.com/challenges

<img width="3604" alt="Topcoder Challenges 2019-05-31 18-24-30" src="https://user-images.githubusercontent.com/683231/58707129-a3bd3380-83d1-11e9-8044-cc2af86b7199.png">

**Expected behavior**
It should show all my challenges

**Desktop (please

[2019-05-31 13:17] cwdcwd commented on #2382
I don't believe` lc1-user-settings-service` has been live for a couple years tbh...

[2019-05-31 15:35] Ardavel commented on #2359
I have reported the issue for my handle: "Ardavel". However, I've participated only in two MMs.

[2019-05-31 15:37] Oanh-and-only-Oanh commented on #2376
@luizrrodrigues, is this only the case if the member originally added the skill himself but later he wins a challenge with that same skill tag? The data loader is not updating that new SOURCE to be CHALLENGE. Is this correct?

[2019-05-31 16:04] Oanh-and-only-Oanh opened #2388 "Zurich loading public challenges with direct URL"
All topcoder challenges are visible on the challenge listing page on the Zurich portal. This should not be the case. Only Zurich challenges should be visible.

This is only an issue with hitting the URL directly https://zurich.topcoder.com/challenges vs. navigating to it

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://zurich.topcoder.com/challenges
2. See error (all Topcoder ch

[2019-05-31 16:11] Oanh-and-only-Oanh commented on #2388
@sushilshinde can you please resolve. This is P2 because portal will go live with customer by June 6 and this issue is a big concern. thx

[2019-05-31 17:06] nithyaasworld commented on #2376
Yes, correct @Oanh-and-only-Oanh . I am not sure if thats the only the case. But that was the only case I was able to test with the existing data.

I have few questions regarding the function.

1. Source will be updated to Challenge when user wins the first place? or any winning place (second or third place) is also considered?
2. If the skills of the Challenge which the user has won, is not alrea

[2019-05-31 17:14] Oanh-and-only-Oanh commented on #2376
@urwithat, can you help any Nithya's questions above?

@nithyaasworld @luizrrodrigues From a use case, we want the Verified Skill symbol to appear for any winning place.

[2019-05-31 18:43] ThomasKranitsas commented on #2381
Contest https://www.topcoder.com/challenges/30092214 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-31 19:01] suppermancool commented on #2381
@sushilshinde done in https://github.com/topcoder-platform/community-app/pull/2389

[2019-05-31 19:39] nithyaasworld opened #2390 "Beta community app: Grey boxes displayed before loading the results"
**To Reproduce**
1. Go to https://beta-community-app.topcoder.com/challenges
2. Apply any filter or navigate to any options present in the right pane
3. Check the results

**Actual behavior**
It displays Grey box before displaying the results.

**Expected behavior**
No Grey boxes

**Screenshots**

![image](https://user-images.githubusercontent.com/5114190/58730471-e438a380-8409-11e9-9497-b5fb6b774

[2019-05-31 19:40] nithyaasworld commented on #2390
@sushilshinde I am not able to set the Performance label for this, as I do not have permission.

[2019-05-31 19:52] nithyaasworld opened #2391 "[$100] Beta-Community-app: Design, Development, DataScience filter combinations are not working correctly"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://beta-community-app.topcoder.com/challenges
2. Try various combinations of Design, Dev and Data Science filters

**Actual behavior**
1. When Design and Data Science filter is selected, it displays only Design Challenges
2. When Design and Dev alone are selected, it displays all challenges including Data Science

[2019-05-31 19:53] nithyaasworld commented on #2391
Tagging @sushilshinde

[2019-05-31 20:10] nithyaasworld opened #2392 "Beta-community-app: When certain combinations of filters are applied, screen flickers continuously"
**These were the steps I followed before the screen flickering occurs.
But this happens for certain other combination of filters too (which I am not able to reproduce easily)**

1. Go to https://beta-community-app.topcoder.com/challenges
2. Choose Android in the Keyword field
3. Once the results are loaded, remove the Android Keyword
4. Enter "QA" keyword. Once the results are loaded, remove it
5.

[2019-05-31 20:11] gurmeetb commented on #2379
@Oanh-and-only-Oanh @nithyaasworld please see comments inline

- Add "Edit" Option to Edit already added Work, Language, Education and Hobby
[Guri]: Ok, will get it done

- Add Lookup list for Industry (in Work section) and Major (in Education section)
[Guri]: Let's move this to separate ticket else we will need to wait for V5 Lookup APIs to be ready which we don't know when.

- Add Delete-Confirm

[2019-05-31 20:34] nithyaasworld opened #2393 "Challenge Listing Page: After returning from challenge details page, UI of Filter values looks broken"
**To Reproduce**
1. Go to https://www.topcoder.com/challenges and expand the filter
2. Click on any challenge and go into challenge details page
3. Click back and check the filter values

**Actual behavior**
UI of filter values are broken. Please see screenshot below.

**Screenshots**
![image](https://user-images.githubusercontent.com/5114190/58733213-8b6d0900-8411-11e9-8953-a9024b1bd950.png)

[2019-05-31 20:34] nithyaasworld commented on #2393
Tagging @sushilshinde

[2019-05-31 20:36] Oanh-and-only-Oanh commented on #2379
@gurmeetb  @nithyaasworld please see comments inline

Add "Edit" Option to Edit already added Work, Language, Education and Hobby
[Guri]: Ok, will get it done
[Oanh]: Thanks

Add Lookup list for Industry (in Work section) and Major (in Education section)
[Guri]: Let's move this to separate ticket else we will need to wait for V5 Lookup APIs to be ready which we don't know when.
[Oanh]: done

Add D

[2019-06-01 03:01] nithyaasworld commented on #2381
@ThomasKranitsas @sushilshinde when verifying this fix, we also need to make sure that it still works if we return from Challenge Details Page. Related issue: https://github.com/topcoder-platform/community-app/issues/2393

[2019-06-01 06:51] gurmeetb commented on #2379
@Oanh-and-only-Oanh please see comments below:

Add an option to make the End-Date as "Present" for Work-End-Date and Education-End-Date
(This is to indicate that the person is still with that School or the company)
[Guri]: I think we don't need to do this, if we make it Present Date, it will be issue later. Rather a condition check we can put like for Education, if person says Graduated, then we

[2019-06-01 21:34] gurmeetb commented on #2379
@Oanh-and-only-Oanh Should we also make all fields on `Devices`, `Software`, `Service Providers` etc consistent too with the changes we plan to make above.

I am working on detailed specs, will share for review as soon as ready.

[2019-06-03 07:44] sushilshinde opened #2395 "$50 | New Nav - "Challenges" navigation not working from Dashboard"
**Describe the bug**

"Challenges" navigation not working from the dashboard

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://test-community-app.topcoder-dev.com/my-dashboard`
2. Click on WORK > Compete > All Challenges
3. Challenge page doesn't load, this is an issue is consistent for most of the navigation links present on the page

**Expected behavior**

The respective targe

[2019-06-03 07:51] sushilshinde opened #2396 "$75 | New Nav - Need "default" navigation back to dashboard"
**Describe the bug**

There is no way to go back to Dashboard

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://test-community-app.topcoder-dev.com/challenges` or
https://test-community-app.topcoder-dev.com/members/TonyJ or any other page
2. There is no link to go back to Dashboard

**Expected behavior**
Member should be able to click and go back to dashboard from any page of th

[2019-06-03 08:12] sushilshinde opened #2397 "New Nav - Need margin on challenge page"
**Describe the bug**

"Challenges" navigation not working from the dashboard

**To Reproduce**

Steps to reproduce the behavior:
1. Go to `https://test-community-app.topcoder-dev.com/challenges`
2. The content area needs more margin

**Expected behavior**

The respective target page should be loaded.

**Screenshots**

![Topcoder Challenges 2019-06-03 13-35-58](https://user-images.githubusercontent

[2019-06-03 09:34] sushilshinde commented on #2359
@skyhit please have a look

[2019-06-03 10:07] skyhit commented on #2359
@sushilshinde check https://api.topcoder.com/v4/members/ardavel/mms/?filter=status%3DPAST%26isRatedForMM%3Dtrue&orderBy=endDate%20desc&limit=36&offset=0, it returns

[code]

long time ago, we used a separate indexes for marathon matches and srms matches, for now, I think we should members/ardavel/challenges instead of members/ardavel/mms/

what do you think?

[2019-06-03 10:09] sushilshinde commented on #2381
@suppermancool can you PR to `hot-fixes-3`

[2019-06-03 10:37] urwithat commented on #2281
@NehaSharma02 & @sushilshinde - This has been fixed, kindly verify and close.

[2019-06-03 10:45] urwithat commented on #2376
@Oanh-and-only-Oanh - I'm not aware of this functionality

[2019-06-03 10:47] sushilshinde opened #2398 "New Nav - Mobile View UI Issues"
1. Logo not in the center

![not-in-the center](https://user-images.githubusercontent.com/683231/58796325-9cd53180-861a-11e9-974a-e1709be7ccb8.png)

2. Text, not divider not aligned with text, also there is no `X` button to close the popup

![Screenshot_20190603-160049](https://user-images.githubusercontent.com/683231/58796495-0b19f400-861b-11e9-81e3-5206b8af2f6d.png)

3. TBD

**Smartphone **
 - D

[2019-06-03 10:51] #638 closed

[2019-06-03 10:51] #8 closed

[2019-06-03 10:52] #642 closed

[2019-06-03 10:52] #374 closed

[2019-06-03 10:53] #542 closed

[2019-06-03 10:53] #551 closed

[2019-06-03 10:54] #550 closed

[2019-06-03 10:54] #9 closed

[2019-06-03 10:54] #445 closed

[2019-06-03 10:55] #577 closed

[2019-06-03 10:55] ThomasKranitsas commented on #577
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-03 10:56] #560 closed

[2019-06-03 10:56] #557 closed

[2019-06-03 10:56] #563 closed

[2019-06-03 10:57] #777 closed

[2019-06-03 10:58] #601 closed

[2019-06-03 10:58] #769 closed

[2019-06-03 10:59] #762 closed

[2019-06-03 10:59] #694 closed

[2019-06-03 10:59] #680 closed

[2019-06-03 10:59] #850 closed

[2019-06-03 10:59] #849 closed

[2019-06-03 11:00] #794 closed

[2019-06-03 11:05] #1957 closed

[2019-06-03 11:05] #1981 closed

[2019-06-03 11:14] ThomasKranitsas commented on #2390
That was as per the designs. This is called "content placeholder". Should we get rid of that and show a loading indicator instead?

cc @sushilshinde @Oanh-and-only-Oanh

[2019-06-03 11:58] suppermancool commented on #2381
@sushilshinde done in
https://github.com/topcoder-platform/community-app/pull/2399

[2019-06-03 14:14] ThomasKranitsas commented on #2391
@topcoder-platform/topcodercompetitors this is open for pickup.

PR on `server_side_filtering` branch.

[2019-06-03 14:17] ThomasKranitsas commented on #2391
Contest https://www.topcoder.com/challenges/30092402 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-03 14:17] ThomasKranitsas commented on #2391
Contest https://www.topcoder.com/challenges/30092402 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-03 14:22] ThomasKranitsas commented on #2387
@topcoder-platform/topcodercompetitors this is open for pickup.

PR on `server_side_filtering` branch.

[2019-06-03 14:25] ThomasKranitsas commented on #2392
Contest https://www.topcoder.com/challenges/30092403 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-03 14:25] ThomasKranitsas commented on #2392
Contest https://www.topcoder.com/challenges/30092403 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-03 14:26] ThomasKranitsas commented on #2387
Contest https://www.topcoder.com/challenges/30092404 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-03 14:28] ThomasKranitsas commented on #2387
Contest https://www.topcoder.com/challenges/30092404 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-03 14:31] ThomasKranitsas commented on #2398
@sushilshinde what's the `3. TBD` here?

[2019-06-03 14:34] ThomasKranitsas commented on #2397
@sushilshinde this doesn't look like a valid issue to me as this seems to be a secondary header.

It will look ugly if we add a margin.

[2019-06-03 14:39] sushilshinde commented on #2390
@ThomasKranitsas is right

[2019-06-03 15:50] Oanh-and-only-Oanh commented on #2379
@gurmeetb, See inline comments below:

1) Add an option to make the End-Date as "Present" for Work-End-Date and Education-End-Date
(This is to indicate that the person is still with that School or the company)
[Guri]: I think we don't need to do this, if we make it Present Date, it will be issue later. Rather a condition check we can put like for Education, if person says Graduated, then we make E

[2019-06-03 16:28] Oanh-and-only-Oanh commented on #2390
@ThomasKranitsas @sushilshinde, going to discuss with Vic.

[2019-06-03 16:51] Oanh-and-only-Oanh commented on #2386
@sushilshinde can we assign to someone or pick this up for pickup?

[2019-06-03 16:57] Oanh-and-only-Oanh commented on #2397
I don't think this is an issue but will confirm with Vic.

[2019-06-03 17:08] vic-topcoder commented on #2396
The Dashboard is displayed when the user clicks on Work and is logged in. If they're not logged in, the home page of the community website should be displayed instead.

<img width="1282" alt="Screen Shot 2019-06-03 at 10 08 10 AM" src="https://user-images.githubusercontent.com/8484061/58820479-9083b100-85e7-11e9-80a4-b0fef12b5367.png">

[2019-06-03 17:12] vic-topcoder commented on #2397
The challenge listing should be listed under a track, as a secondary level page.
<img width="1282" alt="Screen Shot 2019-06-03 at 10 11 14 AM" src="https://user-images.githubusercontent.com/8484061/58820658-09830880-85e8-11e9-97d2-a592f1dbf4cf.png">

Once a challenge is loaded, the navigation should accommodate the challenge header and replace the second level navigation with the header. This is t

[2019-06-03 17:17] vic-topcoder commented on #2390
The place holder was designed to be animated so that we just populate content into a predetermined space instead of jumping the page. This design was inspired by the way Facebook loads the feed with grayed out content placeholders. The whole loading of the page should be pre-rendered to reduce the need of loading indicator.

[2019-06-03 17:19] Oanh-and-only-Oanh commented on #2390
@nithyaasworld, are the placeholders animated?

[2019-06-03 18:05] Oanh-and-only-Oanh opened #2400 "New Nav- move Contentful content over to new navigation UI"
**Describe the bug**
Not all content pages have the new nav UI but still Contentful navigation components

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://beta-community-app.topcoder.com/members/TonyJ

2. Click on any pages under Tracks and Community topbar navigation
![image](https://user-images.githubusercontent.com/47536078/58823429-83b68b80-85ee-11e9-88d2-05894bd0ed3d.png)
!

[2019-06-03 18:24] Oanh-and-only-Oanh opened #2401 "New Nav - "Challenges" navigation not working from Profile Page"
Describe the bug

"Challenges" navigation not working from any of the member profile or settings pages

To Reproduce
Steps to reproduce the behavior:

Go to https://test-community-app.topcoder-dev.com/members/TonyJ
Click on WORK > Compete > All Challenges
Challenge page doesn't load, this is an issue is consistent for most of the navigation links present on the page
![image](https://user-images.gi

[2019-06-03 18:38] Oanh-and-only-Oanh commented on #2396
@ThomasKranitsas, the navigation menu should always be expanded once member is logged in.

[2019-06-03 18:49] ThomasKranitsas commented on #2386
This may be a backend issue. I need to check before opening this for pickup

[2019-06-03 19:14] nithyaasworld commented on #2390
No @Oanh-and-only-Oanh , Placeholders are not animated.

Other thing is that, If we have only few results, say just 2 in the page, then what happens is, it shows lots of such placeholder till it covers the whole view-port. Once the results are available, its shows the 2 results and the extra placeholders are gone. It just doesn't look good to see!!

Video here:

[placeholder issues.zip](https://gi

[2019-06-03 19:15] Oanh-and-only-Oanh opened #2402 "New Nav- "Settings" page not working"
**Describe the bug**
"Settings" navigation not working from member profile dropdown menu

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test-community-app.topcoder-dev.com/members/TonyJ
2. Click on "settings"
![image](https://user-images.githubusercontent.com/47536078/58827940-1cea9f80-85f9-11e9-9de5-16d3ef12d049.png)
3. See error. Settings page doesn't load, this is an issue

[2019-06-03 19:28] nithyaasworld commented on #2386
Just a note: when I apply "Keywords" filter in the above page, it works. Just the Tech Stack is not displayed on UI.

[2019-06-03 22:01] vic-topcoder opened #2403 "Navigation section page and second level nav structure"
**Describe the bug**
When a section is selected in the first-level navigation (a section has its own second-level navigation), the main page of the section should be listed and selected in the second-level navigation.

**To Reproduce**

- Select a section;
- A page is loaded, and and the first second level item appears selected (bold, underlined).
- Click on the selected item
- A new page is loade

[2019-06-03 22:08] vic-topcoder commented on #2396
To accomodate the missing navigation options from the sidebar, let's introduce a second-level navigation that lists all current navigation items once the user is logged in. In the attachment above Dashboard/Challenges/History/Payments, etc., are in the sidebar. Instead, to accommodate the intermediate state let's use the secondary menu.

We should have a new secondary navigation with the following

[2019-06-04 10:16] mhikeo commented on #2391
@ThomasKranitsas Kindly assign this to me. Thanks.

[2019-06-04 10:28] ThomasKranitsas commented on #2392
Contest https://www.topcoder.com/challenges/30092403 has been updated - it has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 10:35] ThomasKranitsas commented on #2391
@mhikeo I'll ask an admin to add you to the org. You can start working on this and I'll assign this later to you.

[2019-06-04 11:23] ThomasKranitsas commented on #2387
Contest https://www.topcoder.com/challenges/30092404 has been updated - it has been assigned to nauhil.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 11:36] ThomasKranitsas commented on #2391
Contest https://www.topcoder.com/challenges/30092402 has been updated - it has been assigned to mhykol.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 14:35] nithyaasworld opened #2404 "Beta-community-app: Challenge-listing-page loading speed has to be improved"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://beta-community-app.topcoder.com/challenges?
2. Check the page load speed

**Actual behavior**
It takes 5 to 6 seconds to load the Challenge-listing-page in beta-community-app, which is same as the load-time of the same page in Production.

**Expected behavior**
Load time has to be improved.

[2019-06-04 16:10] Oanh-and-only-Oanh commented on #2390
thanks @nithyaasworld. I understand what you're saying. I think this UX is not ideal. Let's work on getting the challenge listings page to load faster (I saw some threads about this) so we can limit the amount of time users see these grey boxes. Then we can revisit this issue if we need to. How does that sound?

[2019-06-04 16:15] Oanh-and-only-Oanh commented on #2388
hey @sushilshinde, can you let me know if you've had a chance to take a look at this issue? We're on a tight deadline with Zurich to have this in working order by the end of this week.
@tonyj

[2019-06-04 16:33] nithyaasworld commented on #2390
Yes, that sounds good! 👍

[2019-06-04 17:41] cwdcwd commented on #2388
@topcoder-platform/tcxcommunity open for pickup

[2019-06-04 17:42] cwdcwd commented on #2388
@topcoder-platform/topcodercompetitors open for pickup

[2019-06-04 17:53] ThomasKranitsas commented on #2392
Contest https://www.topcoder.com/challenges/30092403 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 17:54] nithyaasworld opened #2405 "$20 | New Nav: User Menu popup is overlapping with the Sub Community"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test-community-app.topcoder-dev.com/challenges
2. Login
3. Click on the user name present at the right side of the new nav
4. Check the User popup

**Actual behavior**
Sub  Community is overlapping with the User Popup

**Screenshots**
![image](https://user-images.githubusercontent.com/5114190/58901903-b6ac6c80-871f-11e9-9fbd-be58ba

[2019-06-04 18:51] nithyaasworld opened #2406 "$50 | New Nav: Business is not displayed. Only Work is displayed"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test-community-app.topcoder-dev.com/challenges
2. **Do not login**
3. Check the new nav

**Actual behavior**
Only Work is present. Business is not present

**Expected behavior**
Business should be present and expanded by default.

**Screenshots**

![image](https://user-images.githubusercontent.com/5114190/58905637-d6e02980-8727-11e

[2019-06-04 19:08] nithyaasworld opened #2407 "New Nav: When the screen is resized, second level selection moves"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test-community-app.topcoder-dev.com/challenges
2. Login
3. Click on Work -> Compete
4. All Challenges in the Second Level is selected and has a Green mark underneath it to indicate its the active section
5. Resize the window and observe the Green mark.

**Actual behavior**
Green mark moves When the screen is resized.

**Expected be

[2019-06-04 19:15] nithyaasworld commented on #2407
Same issue exists with First Level Selection Pointer too.

![image](https://user-images.githubusercontent.com/5114190/58907163-283de800-872b-11e9-9532-fc85e0ccfc75.png)

[2019-06-04 19:35] nithyaasworld opened #2408 "New nav: when moving from one page to another, first level menu gets collapsed"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test-community-app.topcoder-dev.com/
2. Login
3. Go to Work -> Compete -> All Challenges
4. Click on one of the challenges
5. Observe that the section "Work" is collapsed in the First Level Nav bar
6. Click on the Work and expand it
7. Click back button present in the challenge details page
7. Observe that the section "Work" is col

[2019-06-04 19:38] Oanh-and-only-Oanh commented on #2403
@nithyaasworld is this the same as https://github.com/topcoder-platform/community-app/issues/2408

[2019-06-04 20:16] nithyaasworld commented on #2403
No @Oanh-and-only-Oanh They are different.

[2019-06-04 23:08] nauhil commented on #2387
I've digged into and found the root of issue is pagination fetch data

For example from my account

1)
Due to just fetch first 50 records of challenges when Bucket is All Challenges, so The challenge `
Project zu Hause | VSCode IDE - Part 1` is not included in the first 50 records.

So there're only 4 challenges as picture displayed
![Alt text](https://monosnap.com/image/l3PpSkaaAw9SuQS2udNR5NR4C5

[2019-06-04 23:14] Oanh-and-only-Oanh commented on #2400
@kkartunov, do you have bandwidth for this?

[2019-06-05 06:35] nauhil commented on #2387
Option A
Fetch all user challenges when fetch challenges  every time.

Option B
Fetch challenges and user challenges both use same sort

However, both options cannot make sure fetch all my challenges when Bucket is All challenges

Any thoughts?

[2019-06-05 06:38] gurmeetb commented on #2392
@ThomasKranitsas the route cause of this looks like since we are hitting backend onChange of filters, it takes some time for round-trip and if we quickly change the filters, it sends another request to update the filter.

I think we will see this behavior until we have a waiting spinner which doesn't allows user to change the filters until previous request is complete. I am not sure if we want to

[2019-06-05 15:54] ThomasKranitsas commented on #2388
Contest https://www.topcoder.com/challenges/30092648 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-05 15:54] ThomasKranitsas commented on #2388
Contest https://www.topcoder.com/challenges/30092648 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-05 16:17] ThomasKranitsas commented on #2388
Contest https://www.topcoder.com/challenges/30092648 has been updated - it has been assigned to mearaj.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-05 19:03] mearaj commented on #2388
Need some help as I am working for the first time on this project.
The route http://local.topcoder-dev.com:3000/__community__/zurich is displaying the following error on screen
Cannot read property 'buckets' of undefined
Also I have cloned the repo with develop branch.
Please correct me if I am doing something wrong.

[2019-06-05 19:35] nithyaasworld commented on #2383
As part of this ticket, we should also fix and verify this: https://github.com/topcoder-platform/community-app/issues/1992

[2019-06-05 19:49] nithyaasworld commented on #2383
@sushilshinde We have increased the Priority for this from P3 to P2. CC: @ThomasKranitsas

[2019-06-05 21:05] cwdcwd commented on #2388
I'm not sure on that error but if you try with any community you should see the same issue. For instance https://www.topcoder.com/challenges?communityId=blockchain loads all the challenges, not just the blockchain ones (if there are any)

[2019-06-06 04:48] sushilshinde commented on #2383
We will cover this in server-side filtering @nithyaasworld can you log this issue with `Performance` label on beta if that still exists.

FYI... @ThomasKranitsas

[2019-06-06 05:02] sushilshinde commented on #2359
@skyhit please go ahead, I'll link issues

[2019-06-06 05:03] skyhit commented on #2359
@sushilshinde change in api side, or directly use member/<handle>/challenges, I think we should drop the usage of `members/ardavel/mms/`

[2019-06-06 05:04] sushilshinde commented on #2359
this is not working

https://api.topcoder.com/v4/members/ardavel/challenges/?filter=status%3DPAST%26isRatedForMM%3Dtrue&orderBy=endDate%20desc&limit=36&offset=0

[2019-06-06 05:07] gurmeetb commented on #2388
@mearaj you need to set contentful settings, let me know if you want to pick it up back, I just saw your note - I can share the settings via slack to you so you can setup this app locally.

[2019-06-06 05:09] skyhit commented on #2359
@sushilshinde  try

https://api.topcoder.com/v4/members/ardavel/challenges/?filter=status%3DCOMPLETED%26subTrack%3DDEVELOP_MARATHON_MATCH&limit=36&offset=0

[2019-06-06 05:11] sushilshinde commented on #2359
Thanks, this also works now

https://api.topcoder.com/v4/members/ardavel/challenges/?filter=status%3DCOMPLETED%26subTrack%3DMARATHON_MATCH&limit=36&offset=0

[2019-06-06 05:16] ThomasKranitsas commented on #2359
Contest https://www.topcoder.com/challenges/30092667 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 05:16] ThomasKranitsas commented on #2359
Contest https://www.topcoder.com/challenges/30092667 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 05:32] sushilshinde commented on #2359
The current call is failing to pull past marathon matches because endpoint and filter params are outdated. This fix is to update endpoint and filter params to include PAST Marathon matches. Past marathon matches are of two types (on system level, users do not care)
[code]
GET call :

https://api.topcoder.com/v4/members/ardavel/challenges/?filter=status%3DCOMPLETED%26subTrack%3DMARATHON_MATCH,DEVEL

[2019-06-06 05:45] ThomasKranitsas commented on #2359
Contest https://www.topcoder.com/challenges/30092667 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 05:46] rashmi73 commented on #2359
@sushilshinde is it just front end change?

[2019-06-06 05:49] sushilshinde commented on #2359
@rashmi73 yes, it is P1 and urgent

[2019-06-06 06:29] nithyaasworld commented on #2383
This exact issue is not present in SSF , but we have a similar one https://github.com/topcoder-platform/community-app/issues/2391

Priority of this issue has been set to P2 (Resolve in 3 days). Can we get all SSF fixes in 3 days and deploy to production?

Your thoughts please? @sushilshinde

[2019-06-06 06:50] kkartunov commented on #2400
@Oanh-and-only-Oanh yes. As we spoke on Slack this will be delayed until new navi reactJS development completes.

[2019-06-06 06:58] sushilshinde opened #2410 "SSF - Activate Animation on loading placeholder in the listing page"
ENV - https://beta-community-app.topcoder.com/challenges

Currently, loading placeholder is not animating

![Screen Shot 2019-06-06 at 12 18 53 PM](https://user-images.githubusercontent.com/683231/59013084-c11d5200-8856-11e9-8b67-21f2002621ab.png)

**Expected animation :**

![1_HKYdyDaqw4OlUN3JgRix1A](https://user-images.githubusercontent.com/683231/59012415-0a6ca200-8855-11e9-8c24-7f989f7f8282.gi

[2019-06-06 09:29] gurmeetb commented on #2392
@ThomasKranitsas how do we want to address this?

[2019-06-06 10:07] ThomasKranitsas commented on #2392
@sushilshinde @Oanh-and-only-Oanh ☝️

[2019-06-06 11:55] sushilshinde opened #2416 "[$80] SSF - My Challenges bucket doesn't show up for this filter"
For this filter https://beta-community-app.topcoder.com/challenges?filter[tracks][design]=true&filter[tracks][develop]=true

1. `My Challenges` bucket doesn't show up even though I have `design` and `develop` challenges
2. `View more` is invisible

[2019-06-06 13:47] ThomasKranitsas commented on #2410
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

PR on `server_side_rendering` branch

[2019-06-06 13:47] ThomasKranitsas commented on #2416
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

PR on `server_side_rendering` branch

[2019-06-06 13:52] ThomasKranitsas commented on #2410
[500]: Challenge for the updated issue 2410 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 13:57] ThomasKranitsas commented on #2410
[500]: Challenge for the updated issue 2410 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 13:57] ThomasKranitsas commented on #2410
[500]: Challenge for the updated issue 2410 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 13:57] ThomasKranitsas commented on #2410
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 13:57] ThomasKranitsas commented on #2410
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 13:58] ThomasKranitsas commented on #2416
[500]: Challenge for the updated issue 2416 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 13:58] ThomasKranitsas commented on #2416
[500]: Challenge for the updated issue 2416 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 13:58] ThomasKranitsas commented on #2416
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 13:58] ThomasKranitsas commented on #2416
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 14:02] PrakashDurlabhji commented on #2416
@ThomasKranitsas please assign to me.i wana work, unable to assign myself thanks

[2019-06-06 14:02] ThomasKranitsas commented on #2410
Contest https://www.topcoder.com/challenges/30092764 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 14:03] ThomasKranitsas commented on #2410
Contest https://www.topcoder.com/challenges/30092764 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 14:04] ThomasKranitsas commented on #2416
Contest https://www.topcoder.com/challenges/30092765 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 14:04] ThomasKranitsas commented on #2416
Contest https://www.topcoder.com/challenges/30092765 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 14:09] Gauravseta commented on #2410
@ThomasKranitsas unable to assign myself even after being added to repo. can you please assign this to me, I have initiated work already

[2019-06-06 14:18] ThomasKranitsas commented on #2410
Contest https://www.topcoder.com/challenges/30092764 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 14:51] Oanh-and-only-Oanh commented on #2392
@gurmeetb @ThomasKranitsas, go ahead with the spinner solution. Thanks.

Also, what's the average loading time on the first/previous request? Is it a bigger performance issue we want to look at as well?

[2019-06-06 14:53] gurmeetb commented on #2392
@Oanh-and-only-Oanh thanks for confirming, will try to get spinner implemented in next few hrs and push in PR.

[2019-06-06 14:54] Oanh-and-only-Oanh commented on #2388
@gurmeetb, let's open this up for pickup again. This is urgent.

[2019-06-06 15:23] Gauravseta commented on #2410
@thomaskranitsas can you please paste topcoderx signup link?

[2019-06-06 15:25] ThomasKranitsas commented on #2410
https://x.topcoder.com/api/v1/github/teams/registration/52be55db-1c9f-4703-a3c5-cd8c0caddc84-1559834714982

[2019-06-06 15:26] ThomasKranitsas commented on #2410
@Gauravseta why do you need a TCX link?

[2019-06-06 15:26] gurmeetb commented on #2416
@PrakashDurlabhji use this link to get on repo - https://x.topcoder.com/api/v1/github/teams/registration/52be55db-1c9f-4703-a3c5-cd8c0caddc84-1559834714982 - you should be able to assign yourself then.

[2019-06-06 15:27] ThomasKranitsas commented on #2416
@gurmeetb - @PrakashDurlabhji has been invited to our org. @PrakashDurlabhji you need to check your email and accept the invitation.

[2019-06-06 15:29] ThomasKranitsas commented on #2388
Contest https://www.topcoder.com/challenges/30092648 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 16:03] mhikeo commented on #2416
@ThomasKranitsas is this taken?

[2019-06-06 16:03] ThomasKranitsas commented on #2416
Yes

[2019-06-06 16:08] ThomasKranitsas commented on #2388
Contest https://www.topcoder.com/challenges/30092648 has been updated - it has been assigned to mhykol.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 18:31] Oanh-and-only-Oanh commented on #2392
@gurmeetb, we are working on placeholder animation (which would be fixed via https://github.com/topcoder-platform/community-app/issues/2410 ).  Would the placeholder animation work instead of the spinner to keep user from changing the filters until previous request is complete? No need to have both if the placerhold animation is sufficient. @nithyaasworld

[2019-06-06 18:38] nithyaasworld commented on #2392
Hi @gurmeetb Please check this scenario as well:

1. Go to https://beta-community-app.topcoder.com/challenges?filter%5Btracks%5D%5Bdesign%5D=true&filter%5Btracks%5D%5Bdevelop%5D=true
2. Click on My challenges from the right side
3. Notice that the screen flickers

[2019-06-06 18:39] nithyaasworld commented on #2392
In the above case, user sends only one request to the backend.

[2019-06-06 18:43] gurmeetb commented on #2392
@Oanh-and-only-Oanh yes that would work perfect, as I see we plan to show only one animation, is that assumption right seeing the ticket #2410 ?

I will wait for that to come in, then we can decide on this, I will move this to On Hold till then.

@nithyaasworld I guess #2410 will take care of this scenario too, since we are doing auto adjust of the screen, Initial screen will have smaller size ani

[2019-06-06 18:56] ThomasKranitsas commented on #2416
Contest https://www.topcoder.com/challenges/30092765 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-06 20:54] rashmi73 commented on #2359
@sushilshinde PR has been raised at both repos.
Primary change is at topcoder-react-lib to change param and url.

currently at develop branch PR has been raised

and here PR is raised on hot-fixes-3 for minor model change.

https://github.com/topcoder-platform/community-app/pull/2417
https://github.com/topcoder-platform/topcoder-react-lib/pull/70

[2019-06-07 07:56] ThomasKranitsas commented on #2390
Closing this as it's being corrected here https://github.com/topcoder-platform/community-app/issues/2410

[2019-06-07 07:56] #2390 closed

[2019-06-07 08:40] ThomasKranitsas opened #2418 "Clean up feature-new-nav branch"
As part of this issue, you need to revert the commit https://github.com/topcoder-platform/community-app/commit/25d2892c0e7b286b1a373f77120b28dce2483eee from the `feature-new-nav` branch and merge the code from the `master` branch into `feature-new-nav`.

![Commits · topcoder-platform_community-app 2019-06-07 14-03-42](https://user-images.githubusercontent.com/4612921/59091767-b4f9c900-8918-11e9-8e

[2019-06-07 08:41] ThomasKranitsas commented on #2418
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-06-07 08:42] ThomasKranitsas commented on #2418
[CANCELED] Please ignore this.

[2019-06-07 08:43] ThomasKranitsas commented on #2418
Contest https://www.topcoder.com/challenges/30092809 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-07 08:44] ThomasKranitsas commented on #2418
Contest https://www.topcoder.com/challenges/30092809 has been updated - it has been assigned to _sushilshinde.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-07 11:27] sushilshinde commented on #2404
@ThomasKranitsas please ignore for now, I will chat with @nithyaasworld

[2019-06-07 11:40] #2391 closed

[2019-06-07 11:40] ThomasKranitsas commented on #2391
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30092402<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-07 11:40] ThomasKranitsas commented on #2416
@PrakashDurlabhji any update?

[2019-06-07 11:41] ThomasKranitsas commented on #2410
@Gauravseta any update?

[2019-06-07 12:03] Gauravseta commented on #2410
@ThomasKranitsas suddenly not able to see image attached. it shows nothing. can you please recheck it?

[2019-06-07 12:06] PrakashDurlabhji commented on #2416
@ThomasKranitsas yes working

[2019-06-07 12:37] ThomasKranitsas commented on #2410
It’s working fine for me. What exactly are you seeing?

It’s very important to complete this ASAP. Do not hold an issue if you can’t fix it

[2019-06-07 14:46] Gauravseta commented on #2410
@thomaskranitsas just completely blur diagrams of challenge page can be seen.grey boxes i can fix it.

[2019-06-07 14:54] ThomasKranitsas commented on #2410
I don't get it. Can you please post a screenshot? The images are showing up correctly on my end. I tried 2 different computers and on my mobile and everything it works correctly

[2019-06-07 15:12] Gauravseta commented on #2410
![Screenshot_20190607-204029](https://user-images.githubusercontent.com/16337895/59114421-c23ca500-8964-11e9-8322-a49413ed71fd.png)

[2019-06-07 15:12] Gauravseta commented on #2410
![Screenshot_20190607-204037](https://user-images.githubusercontent.com/16337895/59114451-d1235780-8964-11e9-9c3d-9bdf283e7e44.png)

[2019-06-07 15:47] ThomasKranitsas commented on #2410
What's the issue exactly? Seems like you can see the images just fine.

This is what I see https://monosnap.com/file/hZ03kODlv0BBcAqMz5OEeN7mEIkPWs

You are expected to create the animation shown in the second image.

[2019-06-07 17:05] #724 closed

[2019-06-07 17:21] luizrrodrigues commented on #2402
@Oanh-and-only-Oanh
This is related to #2401

[2019-06-07 17:29] luizrrodrigues commented on #2408
@Oanh-and-only-Oanh this related to #2397

[2019-06-07 17:37] luizrrodrigues commented on #2401
@Oanh-and-only-Oanh This is Duplicate of #2395

[2019-06-07 17:38] luizrrodrigues commented on #2401
Duplicate of #2395

[2019-06-07 17:42] codejamtc opened #2419 "[All the links] Click on navigation links loads a new page in the same tab"
1. Open the application and login using valid credentials
2. Click Menu > Work > Track > QA

**Actual:** Click on navigation links loads a new page in the same tab

**Expected:** The navigation is designed to load a page on a click. Each click on navigation links should load a new page.

**Reproducibility Rate:** 3/3

**Environment:** HP Pavilion x360 14 inch; Windows 10

**Browser:** Chrome 75.0.

[2019-06-07 17:43] codejamtc commented on #2419
![image](https://user-images.githubusercontent.com/42398485/59123042-e925b780-8921-11e9-977c-7e134b8428e6.png)

[2019-06-07 17:44] gurmeetb commented on #2388
@mhikeo any updates ?

[2019-06-07 17:47] kiranmaroju opened #2420 "There is no Notifications button on left side of User Name"
**Pre-Requisite**

**Steps to Reproduce**

1. Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder
3. Check the Notifications button on left side of User Name

**Actual behavior**
There is no Notifications button on left side of User Name

**Expected behavior**
Notifications button should be on left side of User Name

**Screen shots/video**
![image](https://use

[2019-06-07 17:49] codejamtc opened #2421 "Common Issue > Currently selected items on the menu reload the page"
![image](https://user-images.githubusercontent.com/42398485/59123327-9698cb00-8922-11e9-964d-e16b98f393ab.png)
![image](https://user-images.githubusercontent.com/42398485/59123340-9c8eac00-8922-11e9-8712-b6f2c3539e00.png)

1. Open the application and login using valid credentials
2. Click Menu > Work > Tracks
3. Default Competitive programming is selected
4. Click Competitive programming

**Actual

[2019-06-07 17:51] HongHT opened #2422 "Can't open Settings page"
### Reproduction Steps: ###

1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with account: dan_developer/dantopcoder123
3. Try to click on arrow beside avatar
4. Click on Settings item and observe result

### Expected Result: ###
Direct to settings page without any Error.

### Actual Result: ###
Can not open Settings page.

### Screenshots or screencast: ###

See comment

#

[2019-06-07 17:51] luizrrodrigues commented on #2408
Duplicate of #2397

[2019-06-07 17:51] #2408 closed

[2019-06-07 17:52] codejamtc opened #2423 "The current Menu selection is not shown on the IE11 and Edge"
![image](https://user-images.githubusercontent.com/42398485/59123570-2474b600-8923-11e9-9ca6-2269206c3265.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Click Menu > Work > Tracks
4. Default Competitive programming is selected

**Actual:** Current Menu selection is not shown on the IE11 and Edge

**Expected:** Should show a blue li

[2019-06-07 17:52] kiranmaroju opened #2424 "Clicking on "All projects", Not navigating to All projects page"
**Pre-Requisite**

**Steps to Reproduce**

1. Navigate to "https://test-community-app.topcoder-dev.com/"
2. Login to Topcoder
3. Click on User Name handle -->then Click on "All projects"

**Actual behavior**
Not navigating to All projects page

**Expected behavior**
User should be navigate to All projects page

**Screen shots/video**
https://i.imgur.com/VsLC6sn.png
![image](https://user-images.git

[2019-06-07 17:53] luizrrodrigues commented on #2397
Please ref. more info in #2408

[2019-06-07 17:53] HongHT opened #2425 "Can't open Payments page"
### Reproduction Steps: ###

1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with account: dan_developer/dantopcoder123
3. Try to click on arrow beside avatar
4. Click on Payments item and observe result

### Expected Result: ###
Direct to Payments page without any Error.

### Actual Result: ###
Show error page with message "502 error occurred"

### Screenshots or screencas

[2019-06-07 17:53] luizrrodrigues commented on #2402
Duplicate of #2395

[2019-06-07 17:53] #2402 closed

[2019-06-07 17:53] #2401 closed

[2019-06-07 17:54] codejamtc opened #2426 "User avatar is broken on the IE11"
![image](https://user-images.githubusercontent.com/42398485/59123666-64d43400-8923-11e9-8a2d-71ac1e364fdc.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer

**Actual:** User avatar is broken on the IE11

**Expected:** Should display the user avatar

**Reproducibility Rate:** 3/3

**Environment:** HP Pavilion x360 14 inch; Windows 10

**B

[2019-06-07 17:56] HongHT opened #2427 "Can't open "All projects" page"
### Reproduction Steps: ###

1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with account: dan_developer/dantopcoder123
3. Try to click on arrow beside avatar
4. Click on "All projects" item and observe result

### Expected Result: ###
Direct to "All projects" page without any Error.

### Actual Result: ###
Can't open "All projects" page.

### Screenshots or screencast: ###

[2019-06-07 17:56] codejamtc opened #2428 "Menu is broken on the IE11"
![image](https://user-images.githubusercontent.com/42398485/59123735-9c42e080-8923-11e9-9d3d-323c928893eb.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer

**Actual:** Menu is broken on the IE11

**Expected:** Should display the menu without a UI issue

**Reproducibility Rate:** 3/3

**Environment:** HP Pavilion x360 14 inch; Windows 10

[2019-06-07 17:56] codejamtc commented on #2428
Browser: IE11

[2019-06-07 17:57] DonPablito opened #2429 "$ symbol shown on the Community Statistics page"
**Describe the bug**
$ symbol shown in front of text on Community Statistics page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Work from navigation bar
2. Click on Community> Statistics
3. Scroll down to General Statistics
4. See error

**Actual Behaviour**
$ symbol shown before the text.

**Expected behavior**
**$** symbol should not be shown in front of text.

**Screenshots**
<img

[2019-06-07 17:57] alexandreeva opened #2430 "Hover state is not displayed"
**Reproduction Steps**
1. Open the test URL and log in
2. Click on Work
3. Click on Compete
4. Hover over Competitive programming
5. Click on Tracks
6. Hover over the opened menu items

**Expected results**
When the user hovers over a menu items, the hover over state is displayed

**Actual results**
When the user hovers over a menu items, the hover over state is not displayed

**Screenshot**
![scr

[2019-06-07 18:00] coderkid19 opened #2431 "Already opened navigation tab should not be clickable."
**Describe the bug**
Already opened navigation tab is clickable.

**To Reproduce**
A clear and concise description of what the bug is.
1. Open  https://test-community-app.topcoder-dev.com/challenges
2. Login with dan_developer
3. Click on any Navigation tab ex- "Compete"
4. Navigation Suboption opened.
5. Again Move the mouse to same tab.
6. Mouse pointer changed to hand sign .

**Expected behavio

[2019-06-07 18:01] codejamtc opened #2432 "All Sub menus> Sub-menu has an item after the menu name"
![image](https://user-images.githubusercontent.com/42398485/59124052-4d497b00-8924-11e9-8f48-a7059363951b.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Tap Menu > Work > Tracks

**Actual:** Sub-menu should not display that extra item

**Reproducibility Rate:** 3/3

**Environment:** Pixel XL, Android 9

**Browser:** Chrome 75.0.377

[2019-06-07 18:02] HongHT opened #2433 ""All challenges" page can't open"
### Reproduction Steps: ###

1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with account: dan_developer/dantopcoder123
2. Try to open Settings page with url: https://test-community-app.topcoder-dev.com/settings/profile
3. Then Click Work menu
4. Click on "Compete" item
5. Click on "All challenges" item and observe page

### Expected Result: ###
"All challenges" page open c

[2019-06-07 18:03] HongHT opened #2434 ""Members" page can't open"
### Reproduction Steps: ###

1.Open https://test-community-app.topcoder-dev.com/challenges
2. Login with account: dan_developer/dantopcoder123
2. Try to open Me page with url: https://test-community-app.topcoder-dev.com/settings/profile
3. Click on arrow beside avatar
4. Click on "Image avatar" and observe page

### Expected Result: ###
"Members" page open correctly.

### Actual Result: ###
URL is

[2019-06-07 18:03] codejamtc opened #2435 "Short bio UI issue"
![image](https://user-images.githubusercontent.com/42398485/59124174-9ef20580-8924-11e9-8f28-cd0bc7ae4a19.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Tap Menu > Profile icon

**Actual:** Short bio UI issue

**Expected:** Short Bio should display on a single line

**Reproducibility Rate:** 3/3

**Environment:** Pixel XL, Android

[2019-06-07 18:04] kiranmaroju opened #2436 "Collapse icon is not displayed when User-Menu is in Open state"
**Pre-Requisite**

**Steps to Reproduce**

1. Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder
3. Click on User Name handle

**Actual behavior**
Collapse icon is not displayed when User-Menu is in Open state

**Expected behavior**
Collapse icon should be displayed when User-Menu is in Open state

**Screen shots/video**
![image](https://user-images.githubuse

[2019-06-07 18:04] codejamtc opened #2437 "Notification page displays a 'Log Out' option"
![image](https://user-images.githubusercontent.com/42398485/59124244-d19bfe00-8924-11e9-8b95-9eab8839679b.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Tap Menu > Profile icon
4. Tap Notifications

**Actual:** Notification page displays a 'Log Out' option

**Expected:** Should remove the logout option

**Reproducibility Rate:** 3/

[2019-06-07 18:05] HongHT opened #2438 "Should have space between title and arrow icon on mobile"
### Reproduction Steps: ###

1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with account: dan_developer/dantopcoder123
2. Then click 'Work' menu
3. Click on "Compete" item and observe

### Expected Result: ###
Should have space between title and arrow icon

### Actual Result: ###
Haven't space between title and arrow icon

### Screenshots or screencast: ###

See comment

#

[2019-06-07 18:07] codejamtc opened #2439 "Back button is not displayed on the Notification page"
![image](https://user-images.githubusercontent.com/42398485/59124386-1c1d7a80-8925-11e9-92e0-075dd8f50b54.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Tap Menu > Profile icon
4. Tap Notifications
5. Tap Top left corner of the notification

**Actual:** Back button is not displayed on the Notification page

**Expected:** Should sho

[2019-06-07 18:07] HongHT opened #2440 "The title on submenu can't show immediately on mobile in the first time"
### Reproduction Steps: ###

1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with account: dan_developer/dantopcoder123
2. Try to click on menu icon on the top left
3. Click on items on submenu and observe

### Expected Result: ###
The title on submenu should show immediately on mobile.

### Actual Result: ###
The title on submenu can't show immediately on mobile in the fir

[2019-06-07 18:08] codejamtc opened #2441 "'Notification Settings' button is not working on the Notification page"
![image](https://user-images.githubusercontent.com/42398485/59124462-4838fb80-8925-11e9-902f-ac34cc9d46f2.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Tap Menu > Profile icon
4. Tap Notifications
5. Tap 'Notification Settings' button

**Actual:** 'Notification Settings' button is not working on the Notification page

**Expected:*

[2019-06-07 18:08] coderkid19 opened #2442 ""Competitive programming" sub menu available in both the tab "Compete" and "Tracks""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with dan_developer
3. Click on Navigation tab "Compete" and check sub menu
4. Click on Navigation tab "Tracks" and check sub menu
5. Look for sub menu in both tab
6. "Competitive programming" sub menu ava

[2019-06-07 18:08] DonPablito opened #2443 "Hovering on MM icon isn't showing the full name of Marathon match"
**Describe the bug**
When the user hovers over the Cd icon beside the Challenges name the information box is opened showing the user further information about the type of challenge it is. This isn't happening with hovering over MM challenges

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app and Login.
2. Click on Work> Compete> All Challenges
3. Hover over any MM marked challenge.

[2019-06-07 18:09] HongHT opened #2444 "Topcoder icon and Work menu doesn't align center horizotal on mobile"
### Reproduction Steps: ###

1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with account: dan_developer/dantopcoder123
3. Try to click on menu icon on the top left
4. Then observe Topcoder icon and Work menu

### Expected Result: ###
Topcoder icon and Work menu should align center horizotal on mobile.

### Actual Result: ###
Topcoder icon and Work menu doesn't align center

[2019-06-07 18:13] codejamtc opened #2445 "Profile drop down close button is not visible"
![image](https://user-images.githubusercontent.com/42398485/59124698-03619480-8926-11e9-8685-78e9eb8596ec.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Tap Menu > Profile icon

**Actual:** Profile drop down close button is not visible

**Expected:** Should display the close button

**Reproducibility Rate:** 3/3

**Environment:** i

[2019-06-07 18:14] codejamtc opened #2446 "Bio goes out of the screen area"
![image](https://user-images.githubusercontent.com/42398485/59124743-1bd1af00-8926-11e9-9f06-b11d1e6dad6c.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Tap Menu > Profile icon

**Actual:** Bio goes out of the screen area

**Expected:** Should display the bio within the page area

**Reproducibility Rate:** 3/3

**Environment:** iPh

[2019-06-07 18:16] alexandreeva opened #2447 "No back button to return from user menu"
**Reproduction steps:**

1.  Open the test URL and log in
2. Click on the user drop down menu at the top right corner
3. Observe

**Expected result:**
After opening the user menu, the user is able to go back by clicking on a go back button

**Actual result:**
After opening the user menu, there is no go back button to return to the previous page

**Frequency:**
5/5

**Device/Browser/OS:**

Device:

[2019-06-07 18:16] coderkid19 opened #2448 "After click on profile arrow arrow, drop down drawer opens and arrow remains download direction"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with dan_developer
3. Click on logged in profile arrow i.e top right corner
4. Drawer window opened.
5. Arrow next to profile remains same.

**Expected behavior**
Upon click on profile arrow, after the dr

[2019-06-07 18:16] codejamtc opened #2449 "Only Notification page title is visible when opening"
![image](https://user-images.githubusercontent.com/42398485/59124831-56d3e280-8926-11e9-85a5-811be6887b4a.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Tap Menu > Profile icon
4. Tap Notifications

**Actual:** Only Notification page title is visible when opening

**Expected:** Should display the title and the description. There is

[2019-06-07 18:17] mhikeo commented on #2388
@gurmeetb Apologies. Opening this up.

[2019-06-07 18:19] alexandreeva opened #2450 "No switch to business option on mobile web"
**Reproduction steps:**

1. Open the test URL and log in
2. Click on the user drop down menu at the top right corner
3. Observe

**Expected result:**
There is an option to switch to business in the user menu on mobile web, like there is on desktop

**Actual result:**
There is no switch to business option on mobile web

**Frequency:**
5/5

**Device/Browser/OS:**

Device: Axon ZTE A20170

OS: Androi

[2019-06-07 18:20] coderkid19 opened #2451 "No way to identify already visited menus"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with dan_developer
3. Click on any Navigation tab ex- "Tracks" then click on QA
4. QA page opens.
5. CLick on Browser back button.
6. Click on Navigation tab "Tracks"
7. There is no indication that "QA" w

[2019-06-07 18:21] DonPablito opened #2452 "Filtering challenges by Date Range isn't working"
**Describe the bug**
The user applies a  specific Date Range filter from the filter menu but the challenges aren't filtered accordingly

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app and Login
2. Click on 'Work> Compete> All challenges
3. Click on Filter and select some Date Range as the filter
4. The Challenges are reloaded but still, some challenges are shown which fall out o

[2019-06-07 18:22] codejamtc opened #2453 "$50 | Common > Navigation menu go to other domain when we access the pages via the menu"
![image](https://user-images.githubusercontent.com/42398485/59125186-39ebdf00-8927-11e9-96d7-16e57e82a010.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Tap Menu > Work > Tracks > QA

**Actual:** Navigation menu changes to a different one when we access the pages via the menu

**Expected:** All the pages should have the same naviga

[2019-06-07 18:23] kiranmaroju opened #2454 "Collapse icon is not displayed when Sub-items menu is open"
**Pre-Requisite**

**Steps to Reproduce**

1. In Mobile, Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder
3. Click on Hamburger Menu(Left side)-->Work-->Tracks
4. When Sub-items menu is open, check the icon on right side of the "Tracks" header

**Actual behavior**
Collapse icon is not displayed when Sub-items menu is open

**Expected behavior**
Collapse ico

[2019-06-07 18:25] coderkid19 opened #2455 "Underscore line below the sub menu did not appear when hovering mouse to sun menu"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with dan_developer
3. Click on any Navigation tab ex- "Tracks"
4. Hover mouse "Data Science"
5. Underscore line below the "Data Science" did not appear when hovering mouse to sun menu

**Expected behavior

[2019-06-07 18:29] codejamtc opened #2456 "Top part of the page is hidden by the sub menu"
![image](https://user-images.githubusercontent.com/42398485/59125553-46bd0280-8928-11e9-860a-202e819fb87e.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Tap Menu > Work > Compete

**Actual:** Top part of the page is hidden by the sub menu

**Expected:** Should display the content below the sub menu

**Reproducibility Rate:** 3/3

*

[2019-06-07 18:29] alexandreeva opened #2457 "$10 | 'Work' is not highlighted even though subsection selected"
**Reproduction steps:**

1. Open the test URL and log in
2. Click on the hamburger menu at the top left corner
3. Click on Work
4. Click on Community
5. Click on the hamburger menu at the top left corner
6. Observe which items are highlighted

**Expected result:**
'Work' navigation item stays highlighted if it's subsection is selected

**Actual result:**
'Work' navigation item is not highlighted e

[2019-06-07 18:30] VanitaW opened #2458 "Work Submenu Missing"
***Reproduction Steps:***
1.  In a browser, go to  https://test-community-app.topcoder-dev.com/challenges
2.  Click on Work
3. Observe that a submenu does not appear.

***Expected Results:***
A submenu with the following options:  Topcoder Community, Development, Analytics &AI, QA,
Competitive Programming, Topcoder Open per design specs.

***Actual Results:***
No submenu appears.

***Screenshots o

[2019-06-07 18:30] kiranmaroju opened #2459 "Menu has occupied full page view in Mobile"
**Pre-Requisite**

**Steps to Reproduce**

1. In Mobile, Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder
3. Click on User Name icon on Right side

**Actual behavior**
Menu has occupied full page view in Mobile

**Expected behavior**
Menu should not occupy full page, user should be able to view content existing behind the menu

**Screen shots/video**
![imag

[2019-06-07 18:37] hokienick opened #2460 "Google Chrome - Autofill Country During Registration"
**Describe the bug**
From Luca on the Harvard team:

I have experienced this too.

**To Reproduce**
Steps to reproduce the behavior:
1. Go To Registration Page in Chrome
2. Begin Typing "United States"
<img width="394" alt="Screen Shot 2019-06-07 at 11 31 53 AM" src="https://user-images.githubusercontent.com/1373998/59125742-1a00ef00-8918-11e9-992d-ca0035129a73.png">
<img width="407" alt="Screen S

[2019-06-07 18:37] agnelvishal commented on #2455
Same as https://github.com/topcoder-platform/community-app/issues/2430 which tells hover state is not displayed

[2019-06-07 18:38] alexandreeva opened #2461 "User menu is not displayed as expected"
**Reproduction steps:**

1. Open the test URL and log in
2. Open the user menu at the top right corner
3. Observe

**Expected result:**
The user menu is displayed as shown in the marvel app screen

**Actual result:**
The user menu is displayed as if not designed yet

**Frequency:**
5/5

**Device/Browser/OS:**

Device: Axon ZTE A20170

OS: Android 7.1.1

Browser/s:
Chrome

**Screenshot:**

![screen

[2019-06-07 18:41] HongHT commented on #2422
![1](https://user-images.githubusercontent.com/26895101/59126071-566f3200-898e-11e9-8db5-3bb40fec43df.png)

[2019-06-07 18:42] DonPablito opened #2462 "TopCoder Logo isn't in the middle of the screen as shown in the designs"
**Description**
On top of the Page the Topcoder Logo should be in the middle of the screen but it's left shifted

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test-community-app.topcoder-dev.com/challenges and Login
2. Now on top navigation bar the topcoder logo is left shifted.

**Expected behavior**
The Topcoder logo should be in the middle of the screen

**Screenshots**

!

[2019-06-07 18:42] HongHT commented on #2425
![2](https://user-images.githubusercontent.com/26895101/59126204-abab4380-898e-11e9-8adf-5ec8f7a94305.png)

[2019-06-07 18:42] hokienick commented on #1572
@ThomasKranitsas Sorry this still has not been fixed

[2019-06-07 18:42] codejamtc opened #2463 "Arrow is not focused below the Work menu"
![image](https://user-images.githubusercontent.com/42398485/59126209-1c6c4480-892a-11e9-93b1-48495faa0a85.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Click Menu > Work

**Actual:** Arrow is not focused below the Work menu

**Expected:** Arrow should display below the work menu

**Reproducibility Rate:** 3/3

**Environment:** HP

[2019-06-07 18:43] alexandreeva opened #2464 "Drop down arrow is too close to the title"
**Reproduction steps:**

1. Open the test URL and log in
2. Open the hamburger menu at the top left corner
3. Click on Work > Compete
4. Observe the placement of the drop down arrow

**Expected result:**
There is a space between the title of a section and the drop down arrow as shown in the marvel app screens

**Actual result:**
There is no space between the title of a section and the drop down ar

[2019-06-07 18:43] kiranmaroju opened #2465 "Edge Browser: Current Sub-Item is not underlined"
**Pre-Requisite**

**Steps to Reproduce**

1. Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder
3. Clikc on Work -->Tracks

**Actual behavior**
Current Sub-Item is not underlined

**Expected behavior**
Current selected sub-item should be underlined as specified in spec document(https://marvelapp.com/89423f8/screen/54465717)

**Screen shots/video**
![Applicat

[2019-06-07 18:44] HongHT commented on #2433
![3](https://user-images.githubusercontent.com/26895101/59126308-f9c04700-898e-11e9-9a6d-0ab1a1528b03.png)

[2019-06-07 18:45] codejamtc opened #2466 "Profile icon is missing on the profile drop down"
![image](https://user-images.githubusercontent.com/42398485/59126327-70772900-892a-11e9-8778-08134528ceb3.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Click Menu > Profile avatar

**Actual:** Profile icon is missing on the profile drop down

**Expected:** Should display the profile icon

**Reproducibility Rate:** 3/3

**Environme

[2019-06-07 18:46] codejamtc opened #2467 "UI Issue on the sub-menu section"
![image](https://user-images.githubusercontent.com/42398485/59126426-b207d400-892a-11e9-92fb-7eb6080aba91.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Click Menu > Work > Compete

**Actual:** UI Issue on the sub-menu section

**Expected:** Should remove the extra line

**Reproducibility Rate:** 3/3

**Environment:** HP Pavilion x

[2019-06-07 18:47] HongHT commented on #2434
![4](https://user-images.githubusercontent.com/26895101/59126450-558ad000-898f-11e9-8531-a1b41e4b3855.png)

[2019-06-07 18:49] coderkid19 opened #2468 "Active state Underscore line movement happens when switching navigation tab"
**Describe the bug**
Active state Underscore line movement happens when switching navigation tabs

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with dan_developer
3. Click on WORK
4. Click on "Track" or switch to other tab ex- "Compete"
5. Active state Underscore line movement happens.
6. This movement is not desirable

*

[2019-06-07 18:50] alexandreeva opened #2469 "Close button in the user menu is not displayed in portrait mode"
**Reproduction steps:**

1. Open the test URL and log in
2. Open the user menu at the top right corner
3. Switch to landscape mode and observe the close button
4. Switch back to portrait mode and observe if there is a close button

**Expected result:**
The close button in user menu is displayed in both portrait and landscape mode

**Actual result:**
The close button in the user menu only appears i

[2019-06-07 18:51] coderHacker opened #2470 "Main page menu is not as expected"
**Describe the bug**
In main page menu is not displayed as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test-community-app.topcoder-dev.com/challenges'
2. Login with valid user name and password

**Expected behavior**
Main page menu should be as expected

**Screenshots**
![chrome_9NnKnfZaIZ](https://user-images.githubusercontent.com/5110867/59126571-ffb02b00-8982-

[2019-06-07 18:52] HongHT commented on #2444
![5](https://user-images.githubusercontent.com/26895101/59126742-0002f300-8990-11e9-932b-0857db320c72.png)

[2019-06-07 18:52] sraarum opened #2471 "No minimum characters set for first name and last name in Edit profile"
**Describe the bug**

*
![Screenshot_20190608-000853](https://user-images.githubusercontent.com/41059603/59126756-751bfb80-8983-11e9-96f1-2299b05aa389.png)
*To Reproduce**
1. In Mobile, Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder
3. Click on menus - Settings - Profile
4. Edit profile by entering first name as single character and last name as single ch

[2019-06-07 18:52] HongHT commented on #2438
![6](https://user-images.githubusercontent.com/26895101/59126787-1741e080-8990-11e9-8e63-d5c6b0611fd8.png)

[2019-06-07 18:53] HongHT commented on #2440
![7](https://user-images.githubusercontent.com/26895101/59126801-23c63900-8990-11e9-8050-d373599479ee.png)

[2019-06-07 18:54] satkanhub opened #2472 "No results display when the filter on data science is set to off"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Click on Data Science filter as OFF

**Expected behavior**
Resulted to be displayed as per filters

**Screenshots**
![image](https://user-images.githubusercontent.com/51492004/59126639-daf98a80-8965-11e9-8e4d-57b35409ad01.pn

[2019-06-07 18:54] agnelvishal opened #2473 "Icons Missing"
**Icons Missing**
When accessing the user section in mobile, 404 error is returned for the following two files.
1. https://test-community-app.topcoder-dev.com/images/right-arrow.svg
2. https://test-community-app.topcoder-dev.com/images/icon-bell-red.svg

**To Reproduce**
1. Go to https://test-community-app.topcoder-dev.com/challenges from a smartphone.
2. Click on the user icon at the top right co

[2019-06-07 18:55] nithyaasworld commented on #2471
If you are reporting this bug as part of Bug Hunt, Please re-check the instructions. We are looking for only issues around New Navigation.

[2019-06-07 18:55] alexandreeva opened #2474 "Topcoder logo is not centered in mobile web"
**Reproduction steps:**

1. Open the test URL and log in
2. Observe the placement of the topcoder logo

**Expected result:**
The topcoder logo is centered as shown in the marvel app screens

**Actual result:**
The topcoder logo in not centered

**Frequency:**
5/5

**Device/Browser/OS:**

Device: Axon ZTE A20170

OS: Android 7.1.1

Browser/s:
Chrome

**Screenshot:**

![screenshot5](https://user-ima

[2019-06-07 18:56] codejamtc opened #2475 "Work arrow position is misplaced when user switches the orientation"
![image](https://user-images.githubusercontent.com/42398485/59126966-02cbfc80-892c-11e9-81dc-9c8f098738da.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Portrait)
3. Tap Menu > Work > Tracks
4. Go to Landscape view
5. Click Menu

**Actual:** Work arrow position is misplaced when user switches the orientation

**Expected:** Should alw

[2019-06-07 18:56] nithyaasworld commented on #2472
@satkanhub Please read the challenge instructions carefully. We are looking for issues only around the New Navigation.

[2019-06-07 18:57] codejamtc opened #2476 "Notification page title or description is not displayed"
![image](https://user-images.githubusercontent.com/42398485/59126922-e16b1080-892b-11e9-875b-bf72135c957e.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Portrait)
3. Tap Menu > Work > Tracks
4. Go to Landscape view
5. Click Menu > Profile > Notifications

**Actual:** Notification page title or description is not displayed

**Expected

[2019-06-07 18:57] sraarum commented on #2471
Okay. This can be removed.

[2019-06-07 18:57] #2471 closed

[2019-06-07 18:57] coderHacker opened #2477 "Setting tab is not working"
**Describe the bug**
setting tab is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'user name on menu toolbar'
2. Click on 'down arrow'
3. Click on setting

**Expected behavior**
setting page should open

**Screenshots**
![chrome_AqI4VnqIoE](https://user-images.githubusercontent.com/5110867/59126992-14d98980-8984-11e9-934a-84c4be280f5b.png)

**Desktop (please complete the

[2019-06-07 18:58] coderkid19 opened #2478 "[Mobile][Chrome] Active state color not shown as per design in Mobile browser"
**Describe the bug**
Active state bar color not shown as per design in Mobile browser

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with dan_developer
3. Click on top left drawer.
4. Click on WORK  then Compete
5. Look for active state bar color

**Expected behavior**
active state bar color should be as per design

**Scre

[2019-06-07 19:00] kiranmaroju opened #2479 "Sub-Item underline highlighter is not changing position when window is resized"
**Pre-Requisite**

**Steps to Reproduce**

1. Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder
3. Click Work-->Tracks,
4, Try Resizing the window size, and check the Sub-Item underline highlighter

**Actual behavior**
Sub-Item underline highlighter is not changing position when window is resized

**Expected behavior**
Sub-Item underline highlighter should c

[2019-06-07 19:00] satkanhub opened #2480 "Lag in displaying the challenge"
**Describe the bug**
On clicking the challenge details, it is taking time to open the challenge. The browser is processing for long to open the details of challenge

**To Reproduce**
Steps to reproduce the behavior:
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Click on challenge "TC3 Code 01"

**Expected behavior**
Challenge details to be available as soon o

[2019-06-07 19:02] codejamtc opened #2481 "Below page position is also changing when scrolling through the profile menu"
![image](https://user-images.githubusercontent.com/42398485/59127294-e5e3f900-892c-11e9-960b-2a97eeda8550.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Portrait)
3. Tap Menu > Work > Tracks
4. Click Menu > Profile > scroll the items
5. Click close
6. Check the page position

**Actual:** Below page position is also changing when scro

[2019-06-07 19:03] sraarum opened #2482 "UI: Topcoder logo has no colours"
**Describe the bug**
Topcoder logo has no colours, displayed in black and white theme.
**To Reproduce**
Steps to reproduce the behavior:
1. In Mobile, Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder
3. Verify the logo on top

*Expected behavior**
Logo to be displayed in colours.

**Screenshots**
Attached screenshot.
![Screenshot_20190608-002443](https://us

[2019-06-07 19:05] kiranmaroju opened #2483 "Item Header's font is changing when Window is resized"
**Pre-Requisite**

**Steps to Reproduce**

1. Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder
3. Click Work-->Tracks,
4, Try Resizing the window size, and check font displayed for the "Tracks" Header

**Actual behavior**
Item Header's font is changing when Window is resized

**Expected behavior**
Item Header's font should not when Window is resized

**Scre

[2019-06-07 19:05] HongHT commented on #2427
https://gyazo.com/fd22f670d4d9bc32196b6d15a8930b1d

[2019-06-07 19:05] coderkid19 opened #2484 "[Windows][Chrome] After clicking near right bar, Community tab is getting highlighted"
**Describe the bug**
After clicking near right bar, Community tab is getting highlighted
**To Reproduce**
Steps to reproduce the behavior:
1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with dan_developer
3. Click on WORK
4. Click on right bar where WORK was present before
6. clicking on right most empty space, Community tab getting highlighted
Please refer attached video

[2019-06-07 19:08] alexandreeva opened #2485 "Broken layout of the notification page"
**Reproduction steps:**

1.  Open the test URL and log in
2. Open the user menu at the top right corner
3. Click on Notifications
4. Scroll the top part of the screen displaying "Good job! You're all caught up" up and down
5. Observe the bottom of the screen

**Expected result:**
Only the notification screen is displayed; no other menu items are displayed below it, or they are displayed but not cu

[2019-06-07 19:10] agnelvishal opened #2486 "Fonts are missing in mobile view when side bar section is accessed."
**Fonts are missing**
The following font files give a 404 error when "Compete", "Tracks" and "Community" section is accessed from a mobile from the top navbar.
1. https://test-community-app.topcoder-dev.com/fonts/barlow-condensed-v3-latin-600.woff2
2. https://test-community-app.topcoder-dev.com/fonts/barlow-condensed-v3-latin-600.woff
3. https://test-community-app.topcoder-dev.com/fonts/barlow-con

[2019-06-07 19:12] coderkid19 opened #2487 "[Mobile][Chrome]After click on profile full page is filled up and no back option in mobile"
**Describe the bug**
After click on profile full page is filled up and no back option in mobile

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://test-community-app.topcoder-dev.com/challenges in Mobile Chrome
2. Login with dan_developer
3. click on profile
4. Full page filled up and no back option to navigate back to previous page

**Expected behavior**
In Mobile either full page

[2019-06-07 19:13] coderHacker opened #2488 "Notification bell icon is not available at header bar"
**Describe the bug**
Notification bell icon is not available at header bar

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' https://test-community-app.topcoder-dev.com/challenges'
2. login with valid username and password
3. Go to header bar

**Expected behavior**
Notification bell icon shod available

**Screenshots**
![chrome_F9y8F13WnW](https://user-images.githubusercontent.com/5110

[2019-06-07 19:14] #2281 closed

[2019-06-07 19:15] alexandreeva opened #2489 "Notification text in landscape mode is not displayed by default"
**Reproduction steps:**

1. Open the test URL and log in
2. Open the user menu at the top right corner
3. Click on Notifications
4. Enter the landscape mode
5. Observe
6. Scroll down in the section between the green tab "Notifications" and the blue button "Notification Settings"

**Expected result:**
The text about notifications is displayed by default when entering landscape mode. The text is fix

[2019-06-07 19:15] NehaSharma02 commented on #2460
@ajefts

[2019-06-07 19:17] coderkid19 opened #2490 "[Windows][Chrome] Mouse hand clickable got enabled when hover in empty space between profile icon and next bar"
**Describe the bug**
Mouse hand clickable got enabled when hover mouse in empty space between profile icon and next bar

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with dan_developer
3. Hove mouse  in empty space between profile icon and next bar
5. Mouse changed to hand clickable.
6. Upon click nothing happens

**Expec

[2019-06-07 19:19] satkanhub opened #2491 "Contact Us Form is not cleared after submission of query"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Click on Support at the bottom of the page.
4. Enter the details of the issue and click Send
5. A Thank you message appears and then click OK
6. Click on Support again
7. Form is still having the old details ( Name & Email e

[2019-06-07 19:19] kiranmaroju opened #2492 "[Mobile]: Sub-items navigation is not smooth in Mobile"
**Pre-Requisite**

**Steps to Reproduce**

1. In Mobile browser, Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder(if not already logged in)
3. Click Work-->Compete

**Actual behavior**
Sub-items navigation is not smooth in Mobile, Item's header is displayed after 3-4 secs

**Expected behavior**
Item's header should be displayed in real-time(i.e. immedietly

[2019-06-07 19:21] codejamtc opened #2493 "Notification popup window is opened by default when user switches the orientation"
1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Portrait)
3. Tap Menu > Profile
4. Go to Landscape (No notification window displayed)
5. Tap Menu > Profile
6. Go to Portrait (Notification window displayed)
7. Close the notification
8. Go to Landscape (Notification window displayed)

**Actual:** Notification popup window is opened by default

[2019-06-07 19:22] sraarum opened #2494 "Functional: Tapping on "Competitive Programming" doesn't load anything"
**Describe the bug**
Functional: Tapping on "Competitive Programming" doesn't load anything. The webpage shows "Completing login, one moment place".

*To Reproduce**
1. In Mobile, Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder
3. Go to settings - Edit Profile.
4. Tap on Menu - Work - Compete - competitive Programming

Expected behavior*

Should display th

[2019-06-07 19:25] codejamtc opened #2495 "Different font loaded for the sub menu titles"
1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Portrait)
3. Tap Menu > Work > Compete

**Actual:** Different font loaded for the sub menu titles

**Expected:** Should display the same font for the sub menus as well

**Reproducibility Rate:** 3/3

**Environment:** iPad Air 2, iOS 12.2

**Browser:** Safari 12

[2019-06-07 19:30] sraarum opened #2496 "Functional: Tapping on Topcoder logo doesn't navigate to any page"
**Describe the bug**
Tapping on Topcoder logo doesn't navigate to any page.

**To Reproduce**
Steps to reproduce the behavior:
1. In Mobile, Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder
3. settings - Edit Profile
4. Now tap on Topcoder logo to navigate to home page
5. It doesn't do anything

**Expected behavior**
Tapping the logo should navigate to home

[2019-06-07 19:31] coderHacker opened #2497 "Sub menu does not started from selected main menu option"
**Describe the bug**
Sub menu starts from selected main menu option

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' https://test-community-app.topcoder-dev.com/challenges'
2. login with valid user name and password
3. Click on WORK tab
4. Click on design
5. Check allignment of sub menu

**Expected behavior**
Sub menu starts from selected main menu option

**Screenshots**
![chrome_dBr

[2019-06-07 19:32] coderkid19 opened #2498 "When browser window size changes from original to small and back to original then navigation tabs fail to restore back to original"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with dan_developer
3. Click on navigation tab "Tracks"
4. Sub menu displayed.
5. Now, decrease browser window size, Navigation option changed similar to mobile view.
6. Maximize from here.
7. Navigation t

[2019-06-07 19:35] alexandreeva opened #2499 "The user is taken to topcoder home page after logging out"
**Reproduction steps:**

1. Open the test URL and log in
2. Click on the user drop down menu
3. Click on log out
4. Observe
5. Click on the back button of the browser

**Expected result:**
The user stays on challenges page after logging out

**Actual result:**
The user is taken to topcoder home page after logging out; clicking on the back button of the browser takes them back to challenges page

*

[2019-06-07 19:38] agnelvishal commented on #2488
Same as https://github.com/topcoder-platform/community-app/issues/2420

[2019-06-07 19:41] sraarum opened #2500 "Functional: Tapping on All projects doesn't redirect to any page."
**Describe the bug**
Functional: Tapping on All projects doesn't redirect to any page.

**To Reproduce**
Steps to reproduce the behavior:
1. In Mobile, Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder
3. Tap on drop-down next to Profile photo
4. Tap on All projects

**Expected behavior**
Tapping on All Projects should navigate to a page or show the projects

[2019-06-07 19:45] alexandreeva opened #2501 "Selected section is not highlighted in IE11"
**Reproduction steps:**

1. Open the test URL and sign in
2. Click on Work > Compete
3. Observe the All challenges menu item

**Expected result:**
Selected menu items have a green line under them to show they are selected

**Actual result:**
Selected menu items are not highlighted with a green line under them

**Frequency:**
5/5

**Device/Browser/OS:**

Device: Laptop

OS: Windows 10 pro 64-bit

B

[2019-06-07 19:47] coderkid19 opened #2502 "Active state underscore not shown below the submenu when user not logged in"
**Describe the bug**
Active state underscore not shown below the submenu when user not logged in to portal.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://test-community-app.topcoder-dev.com/challenges
2. Do not login
3. Click on WORK then Compete
4. Look for active state.
5. Active state underscore not below sub-menu.
6. Underscore shown in extreme left of layout

**Expected b

[2019-06-07 19:54] alexandreeva opened #2503 "Drop down arrow is not displayed correctly in logged out state"
**Reproduction steps:**
prereq.: the user is logged out

1. Open the test URL
2. Click on the hamburger menu at the top left corner
3. Click on Compete
4. Observe

**Expected result:**
Drop down arrow appears next to 'Compete' text

**Actual result:**
A weird icon appears instead of the drop down arrow next to 'Compete' text in logged out state

**Frequency:**
5/5

**Device/Browser/OS:**

Device:

[2019-06-07 19:56] VanitaW opened #2504 "Accessibility Issue: Cannot Access Menu Items Using Keyboard"
***Reproduction Steps:***
1. Go to https://test-community-app.topcoder-dev.com/challenges
2. Sign in with username: dan_developer  password: dantopcoder123
3. Click on 'log in'
4.  Navigate the site using only the keyboard.
5. Observe that  the navigation bar is inaccessible using the keyboard

***Expected Behavior***
To be able to navigate the menu using only the keyboard

***Actual Behavior***
N

[2019-06-07 19:57] codejamtc opened #2505 "Username cut off from the top"
![image](https://user-images.githubusercontent.com/42398485/59130269-96a1c680-8934-11e9-8727-b18d59c5fab8.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Profile

**Actual:** Username cut off from the top

**Expected:** Should have some spacing from the above

**Reproducibility Rate:** 3/3

**Environment:** iP

[2019-06-07 19:57] sraarum opened #2506 "UX: Drop down symbol is not displayed for "Work" tab."
**Describe the bug**
UX: Drop down symbol is not displayed for "Work" tab.

**To Reproduce**
Steps to reproduce the behavior:
1. In Mobile, Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder
3. Click on Menus on Top left corner
4. Works is displayed without any drop-down.
5. User will not understand if there are further options under Works unless clicked on i

[2019-06-07 19:59] codejamtc opened #2507 "Notification option is too close to the short Bio"
1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Profile

**Actual:** Notification option is too close to the short Bio

**Expected:** Should have some spacing

**Reproducibility Rate:** 3/3

**Environment:** iPhone 5S, iOS 12.2

**Browser:** Safari 12

[2019-06-07 20:02] satkanhub opened #2508 "Compete is having a hipen " - " next to it in the display"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and click on the menu bar on the top left
2. Click on Work
3. Click on Compete

**Expected behavior**
On the screen, it should display only Compete

**Screenshots**
![Screenshot_20190607-212605_Chrome](https://user-images.githubusercontent.com/51492004/59

[2019-06-07 20:05] alexandreeva opened #2509 "The secondary menu appears connected to the topcoder logo instead of the section they belong to"
**Reproduction steps:**

1. Open the test URL and log in
2. Click on Work in the header
3. Click on Compete
4. Observe the position of the triangle-like shape showing the connection of the opened secondary menu to the main menu

**Expected result:**
The secondary menu is displayed as being connected to the corresponding main menu item

**Actual result:**
The secondary menu is displayed as being co

[2019-06-07 20:05] codejamtc commented on #2437
Expected: Should remove the logout option, to do that we have to display the notification on the entire screen

[2019-06-07 20:06] satkanhub opened #2510 "Filters in Track are not producing the results promptly"
**Describe the bug**
Filters in Track are not producing the results promptly

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Click on Tracks and uncheck Development and Data Science.

**Expected behavior**
Results to be displayed as per track

**Screenshots**
![Screenshot_20190607-214311_Chrome](https://user-images.githubusercontent.com/514920

[2019-06-07 20:09] sraarum opened #2511 "Functional: Accepting the topgear user consent throws an error."
**Describe the bug**
Functional: Accepting the topgear user consent throws an error.

**To Reproduce**
Steps to reproduce the behavior:
1. In Mobile, Navigate to "https://test-community-app.topcoder-dev.com/challenges"
2. Login to Topcoder
3. Tap on drop-down next to user profile photo
4. Settings - Account
5. Tap on User consent button to accept
6. Throws an error

**Expected behavior**
Either th

[2019-06-07 20:11] satkanhub opened #2512 "UI is not responding to the On / Off against the Tracks"
**Describe the bug**
UI is not responding to the On / Off against the Tracks

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Click on Track
4. Randomly keep trying On / Off for the tracks.

**Expected behavior**
UI should respond to the input promptly. However, there is no response and it is not allowing to change the On / Off and page seems t

[2019-06-07 20:14] alexandreeva opened #2513 "Unable to close the drop down user menu by clicking on the screen in IE11"
**Reproduction steps:**

1. Open the test URL and log in
2. Click on the drop down user menu at the top right corner
3. Click anywhere on the screen to try and close it

**Expected result:**
The user is able to close the drop down user menu by clicking anywhere on the screen

**Actual result:**
The user is not able to close the drop down user menu by clicking anywhere on the screen in IE11 unlike

[2019-06-07 20:15] codejamtc opened #2514 "More button and Arrow spacing issue"
![image](https://user-images.githubusercontent.com/42398485/59131134-14ff6800-8937-11e9-9a30-05cecc59bafe.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Work > More

**Actual:** No spacing in between the arrow icon and the more text

**Expected:** Should have some spacing https://marvelapp.com/89423f8/screen/

[2019-06-07 20:18] codejamtc opened #2515 "More button arrow direction issue when user expand the menu"
![image](https://user-images.githubusercontent.com/42398485/59131218-614aa800-8937-11e9-9258-929ed2a70a9e.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Work > More

**Actual:** Arrow still points to down

**Expected:** Arrow should point upwards https://marvelapp.com/89423f8/screen/54465717

**Reproducibilit

[2019-06-07 20:18] satkanhub opened #2516 "Unable to save filters with keywords"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Filters
3. Select keywords "ActionScript" and Save Filter

**Expected behavior**
Filters to apply with the keywords selected. Currently, it is unable to save filters.

**Screenshots**
![Screenshot_20190607-214749_Chrome](https://use

[2019-06-07 20:25] alexandreeva opened #2517 "The user profile is only displayed after reloading the page"
**Reproduction steps:**

1. Open the test URL and log in
2. Open the user drop down menu at the top right corner
3. Click on the green box to open the member profile
4. Observe the change in URL
5. Reload the page
6. Observe

**Expected result:**
The user is taken to their member profile when they open it through the user menu

**Actual result:**
The user remains on the same page after opening the

[2019-06-07 20:26] codejamtc opened #2518 "More drop down is still open when we access the work menu again"
https://www.screencast.com/t/F0fyNsBSrqC

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Work > More
4. Tap on the topcoder logo will go to the main page (Challenges)
5. Tap Menu > Work

**Actual:** More drop down is still open when we access the work menu again

**Expected:** More menu options should be collapsed

[2019-06-07 20:30] codejamtc opened #2519 "More option is not closing when user tap on other menus"
https://www.screencast.com/t/0Pygiruagy

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Work > More
4. Tap on the Track or Compete menu

**Actual:** More option is not closing when user tap on other menus

**Expected:** More menu options should close when the user tries to tap on another menu

**Reproducibility Rat

[2019-06-07 20:31] alexandreeva opened #2520 "Endless loading after opening setting in IE11"
**Reproduction steps:**

1. Open the test URL and log in
2. Open the drop down user menu and click on settings
3. Reload the page for the Settings to open
4. Observe

**Expected result:**
Setting page is accessible

**Actual result:**
In IE11, the user is unable to access the Setting page; it loads endlessly

**Frequency:**
5/5

**Device/Browser/OS:**

Device: Laptop

OS: Windows 10 pro 64-bit

Br

[2019-06-07 20:46] codejamtc opened #2521 "“More” tab is not swapping position with the first element to the left of the tab"
https://www.screencast.com/t/Gr2VNvQ8

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Work > More > Community

**Actual:** “More” tab is not swapping position with the first element to the left of the tab

**Expected:** Selecting an option from the “More” tab should become visible and swap position with the first e

[2019-06-07 20:58] codejamtc opened #2522 "All Devices> Page won't navigate to the default selected sub menu"
1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Work > Complete > Default Sub-menu is All Challenges (Page is in that page)
4. Tap Menu > Work > Tracks > Default Sub-menu is Competitive programming (Still in the challenges page)
5. Tap Menu > More > Community > Default Sub-menu is TCO (Still in the challenges page)

[2019-06-07 20:58] VanitaW opened #2523 "Profile Menu Does Not Display The Correct Items"
**Describe the bug**
The profile menu is not display the item defined in the requirements.

**To Reproduce**
Steps to reproduce the behavior:
1. Open safari browser on iOS mobile device.
2.  Go to https://test-community-app.topcoder-dev.com/challenges .
2. Click on 'Login'
3. Sign in using username: dan_developer password: dantopcoder123 . If you are redirected to  to the Topcoder live site, go to

[2019-06-07 20:59] VanitaW commented on #2523
I still do not have access to assign labels.

[2019-06-07 21:03] vic-tian commented on #2419
I'm confused what is the bug reported here. Each pages should be loaded on clicking on the new navigation menu. What is the wrong behavior, can you please elaborate? Thanks

[2019-06-07 21:04] codejamtc commented on #2419
@vic-tian

![image](https://user-images.githubusercontent.com/42398485/59133533-f9e42680-893d-11e9-89a4-4af757fd5926.png)

https://docs.google.com/document/d/1-ExQxNCncwH8YNcuFl-bq0PwteBoaoefPeo-BBGw_XQ/edit

[2019-06-07 21:06] NehaSharma02 commented on #2460
@sushilshinde @urwithat

[2019-06-07 21:15] satkanhub opened #2524 "Menu path is not as per Marvelapp under WORK"
**Describe the bug**
Menu path is not as per Marvelapp under WORK

**To Reproduce**
Steps to reproduce the behavior:
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work

**Expected behavior**
Menu path is not as per Marvelapp

**Screenshots**
![image](https://user-images.githubusercontent.com/51492004/59133955-f078af80-8979-11e9-85ef-01bb88a581d0.png)

**Desktop (plea

[2019-06-07 21:16] alexandreeva opened #2525 "First item in secondary menu is selected by default"
**Reproduction steps:**

1. Open the test URL and log in
2. Click on Work
3. Click on Complete
4. Observe the opened secondary menu
5. Click on Tracks and repeat step 4
6. Click on Community and repeat step 4

**Expected result:**
No menu items are selected in the secondary menu unless the user selects it

**Actual result:**
The first menu item is selected in the secondary menu even though the use

[2019-06-07 21:19] alexandreeva commented on #2447
Chrome version: 74.0.3729.157

[2019-06-07 21:19] alexandreeva commented on #2450
Chrome version: 74.0.3729.157

[2019-06-07 21:19] alexandreeva commented on #2457
Chrome version: 74.0.3729.157

[2019-06-07 21:19] alexandreeva commented on #2461
Chrome version: 74.0.3729.157

[2019-06-07 21:19] alexandreeva commented on #2464
Chrome version: 74.0.3729.157

[2019-06-07 21:20] alexandreeva commented on #2469
Chrome version: 74.0.3729.157

[2019-06-07 21:20] alexandreeva commented on #2474
Chrome version: 74.0.3729.157

[2019-06-07 21:20] alexandreeva commented on #2485
Chrome version: 74.0.3729.157

[2019-06-07 21:20] alexandreeva commented on #2489
Chrome version: 74.0.3729.157

[2019-06-07 21:21] alexandreeva commented on #2503
Chrome version: 74.0.3729.157

[2019-06-07 21:22] satkanhub opened #2526 "Unable to login when navigated through WORK->Competitive Programming"
**Describe the bug**
Unable to login when navigated through WORK->Competitive Programming. Screen was stuck in below as shown in screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL
2. Click on Work
3. Click on Competitive Programming
4. Enter the user credentials and Signin

**Expected behavior**
User should be able to login to see the details under Competitive Prog

[2019-06-07 21:37] satkanhub opened #2527 "Hover over the menu is not highlighting as expected in Marvelapp"
**Describe the bug**
Hover over the menu is not highlighting as expected in Marvelapp

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Click on Tracks
4. Hover over the menu options

**Expected behavior**
Hover over the menu should highlight as per Marvelapp

**Screenshots**
![image](https://user-images.githubusercontent.com/51492004/59134805-d

[2019-06-07 22:20] satkanhub opened #2528 "Profile menu is not matching with Marvelapp option"
**Describe the bug**
Profile menu is not matching with Marvelapp option

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on user profile

**Expected behavior**
Menu options are not matching with MarvelApp.

**Screenshots**
![image](https://user-images.githubusercontent.com/51492004/59135094-fd979d80-897d-11e9-82fe-4a97f8421195.png)

**Smartphone:**
 - Dev

[2019-06-07 22:33] VanitaW opened #2529 "Profile Settings Only Display if The Page Is Refreshed"
**Describe the bug**
Profile settings will not display until the browser will refresh

**To Reproduce**
1.  Steps to reproduce the behavior:
2.  Open safari browser on iOS mobile device.
3.  Go to https://test-community-app.topcoder-dev.com/challenges .
4.  Click on 'Login'
5.  Sign in using username: dan_developer password: dantopcoder123 . If you are redirected to to the Topcoder live site, go t

[2019-06-07 22:56] alexandreeva opened #2530 "Menu items displayed incorrectly when entering portrait/landscape view"
**Reproduction steps:**

1. In portrait mode, open the test URL and log in
2. Click on the hamburger menu and select Compete
3. Switch to landscape view
4. Observe
5. Click on Tracks
6. Switch back to portrait mode
7. Click on the hamburger menu
8. Observe

**Expected result:**
When the user switches from portrait to landscape view and reverse, the menu items are displayed correctly and as they us

[2019-06-07 22:57] alexandreeva commented on #2530
Frequency: 5/5

[2019-06-07 23:06] alexandreeva opened #2531 "No option to exit notifications on iPad"
**Reproduction steps:**
prereq.: the user is in portrait mode

1. Open the test URL and log in
2. Click on the user menu in the top right corner
3. Click on Notifications
4. Observe
5. Try going back

**Expected result:**
There is a back or close button to exit notifications

**Actual result:**
The user is unable to exit notifications; there is no exit or back button. The browser back button close

[2019-06-07 23:13] VanitaW opened #2532 "All Challenges Page Does Not Display After Viewing Member Profile"
**Describe the bug**
The challenges will not display after viewing the member profile.

**To Reproduce**

Steps to reproduce the behavior:
1. Open safari browser on iOS mobile device.
2. Go to https://test-community-app.topcoder-dev.com/challenges .
3. Click on 'Login'
4. Sign in using username: dan_developer password: dantopcoder123 . If you are redirected to to the Topcoder live site, go to http

[2019-06-07 23:16] codejamtc opened #2533 "Duplicate Work menus displayed"
![image](https://user-images.githubusercontent.com/42398485/59138041-5fd9a980-8950-11e9-9e91-6b4b5c853240.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Work (All the sub-menus are listed horizontally)
4. Go to Portrait view
5. Tap Menu > Work
6. Go to Landscape view

**Actual:** Duplicate Work menus displaye

[2019-06-07 23:18] alexandreeva opened #2534 "Opened user menu is not displayed after switching orientation"
**Reproduction steps:**

1. In the portrait view, open the URL and log in
2. Open the user menu at the top right corner
3. Switch to landscape view and observe
4. Switch back to portrait view and close the menu
5. Switch to landscape view and open the drop down user menu
6. Switch back to portrait view and observe

**Expected result:**
If the user menu is opened in portrait view, it should be open

[2019-06-07 23:22] codejamtc opened #2535 "Work menu display the sub-menus of Compete, Tracks or Community"
https://www.screencast.com/t/UsLrr9LBqrZ3

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Work > Tracks (You can see sub items Competitive programming, Data Science, Design, Development and QA)
4. Go to Portrait view
5. Tap Menu

**Actual:** Work menu display the sub-menus of Compete, Tracks or Community

**Expecte

[2019-06-07 23:25] codejamtc opened #2536 "Sub menu arrow is not pointing to the correct menu"
![image](https://user-images.githubusercontent.com/42398485/59138230-9d8b0200-8951-11e9-894b-29f489aa51d2.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Portrait)
3. Tap Menu > Work > Community
4. Go to Landscape view

**Actual:** Sub menu arrow is not pointing to the correct menu

**Expected:** Should point to the correct item

**Re

[2019-06-07 23:29] alexandreeva opened #2537 "Opened notification screen in not displayed when switching to landscape view"
**Reproduction steps:**

1. In the portrait view, open the test URL and log in
2. Open on the user menu in the top right corner
3. Open Notifications
4. Switch to landscape view and observe

**Expected result:**
The user stays on the notifications screen after switching to landscape view

**Actual result:**
After switching to landscape view, the notification screen is not displayed even though it

[2019-06-07 23:31] codejamtc opened #2538 "Main menu arrow is not pointing to the correct location"
![image](https://user-images.githubusercontent.com/42398485/59138395-708b1f00-8952-11e9-99b0-44436bb9095f.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Work
4. Go to Portrait view
5. Tap hamburger menu

**Actual:** Main menu arrow is not pointing to the correct location

**Expected:** Should point to the cor

[2019-06-07 23:39] alexandreeva opened #2539 "Topcoder main page is displayed after logging in"
**Reproduction steps:**
prereq.: the user is logged out

1. Open the test URL
2. Click LOGIN at the top right corner
3. Enter the credentials and proceed
4. Observe

**Expected result:**
The user stays on the challenges page after logging in

**Actual result:**
The user is redirected to topcoder home page after logging in

**Frequency:**
5/5

**Device/Browser/OS:**

Device: iPad (5th generation)

[2019-06-07 23:45] PrakashDurlabhji commented on #2416
@ThomasKranitsas PR https://github.com/topcoder-platform/community-app/pull/2540

[2019-06-07 23:51] alexandreeva opened #2541 "Unable to deselect 'Work' menu item in portrait view"
**Reproduction steps:**

1. In portrait view, open the test URL and log in
2. Click on the hamburger menu at the top left corner
3. Click on 'Work'
4. Try clicking on 'Work' again
5. Click on the topcoder logo in the header
6. Close the hamburger menu
7. Open the hamburger menu and observe

**Expected result:**
The user is able to deselect Work menu item by either clicking on it, clicking on the t

[2019-06-08 01:09] codejamtc opened #2542 "$75 | Common > Accessing the page directly won't highlight the submenu"
![image](https://user-images.githubusercontent.com/42398485/59140200-23ae4500-8960-11e9-89b3-9ffcaf82fcf3.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Click Menu > Work > Tracks >

- Competitive programming: https://test-community-app.topcoder-dev.com/community/competitive-programming
- Data Science: https://test-community-app.to

[2019-06-08 01:43] Gauravseta commented on #2410
@ThomasKranitsas tried but failing, near to solution but approach is failing.

[2019-06-08 01:51] alexandreeva opened #2543 "Drop down More menu appears at 175% zoom while Community appears at 200%"
**Reproduction steps:**

1. Open the test URL and log in
2. Click on 'Work' > Community
3. Zoom in 175%
4. Observe the menu items in the header
5. Zoom in 200%
6. Observe the items in the header

**Expected result:**
Community menu item appears at 175% because there is enough space in the header for it. Or More drop down menu appears at both 175% and 200%

**Actual result:**
Drop down More menu ap

[2019-06-08 01:52] alexandreeva opened #2544 "Drop down More menu is not highlighted even though an item in it selected"
**Reproduction steps:**

1. Open the test URL and log in
2. Click on 'Work' in the header
3. Zoom in 175%
4. Click on the More drop down menu
5. Click on Community
6. Observe

**Expected result:**
The More drop down menu is highlighted when an item in it is selected. Or the selected item (in this case Community) is displayed instead of the drop down More menu

**Actual result:**
The More drop down

[2019-06-08 01:53] alexandreeva opened #2545 "a bar to scroll down the main page appears in the user menu at 250%"
**Reproduction steps:**

1. Open the test URL and log in
2. Zoom in 250%
3. Open the user menu at the top right corner
4. Observe the scrolling bars in the right
5. Scroll down the most right bar
6. Close the user menu
7. Observe

**Expected result:**
The user is not able to scroll down the main page when the user menu is open and the user does not see the main page

**Actual result:**
When the us

[2019-06-08 01:54] alexandreeva opened #2546 "The green line highlighting the selected menu item misplaced when zooming in"
**Reproduction steps:**

1. Open the test URL and log in
2. Click on 'Work' in the header
3. Click on 'Community'
4. Zoom in
5. Observe the placement of the green line that highlights the selected menu item

**Expected result:**
The green line highlighting the selected menu item is displayed under the selected item

**Actual result:**
The green line highlighting the selected menu item gets misplac

[2019-06-08 01:54] alexandreeva opened #2547 "The green line highlighting the selected menu item misplaced when zooming out"
1. Open the test URL and log in
2. Click on 'Work' in the header
3. Click on 'Community'
4. Zoom out
5. Observe the placement of the green line that highlights the selected menu item

**Expected result:**
The green line highlighting the selected menu item is displayed under the selected item

**Actual result:**
The green line highlighting the selected menu item gets misplaced when zooming out

**F

[2019-06-08 01:55] alexandreeva opened #2548 "undesigned user menu appears when zooming in 250%"
**Reproduction steps:**

1. Open the test URL and log in
2. Zoom in 250%
3. Open the user menu at the top right corner
4. Observe

**Expected result:**
The designed user menu is displayed

**Actual result:**
The undesigned user menu is displayed at 250%

**Frequency:** 5/5

**Device/Browser/OS:**

Device: Laptop

OS: Windows 10 pro 64-bit

Browser/s:
Chrome 75.0.3770.80

**Resolution:** 1600 x 900

[2019-06-08 01:56] alexandreeva opened #2549 "user menu flickers when scrolling down at 250% in IE11"
**Reproduction steps:**

1. Open the test URL and log in
2. Zoom in 250%
3. Open the user menu at the top right corner
4. Scroll down
5. Observe

**Expected result:**
The page doesn't flicker when the user scrolls down in the user menu

**Actual result:**
The page flickers when the user scrolls down in the user menu at 250% zoom

**Frequency:** 5/5

**Device/Browser/OS:**

Device: Laptop

OS: Wind

[2019-06-08 02:03] codejamtc opened #2550 "Click on another item won't hide the user drop down (Compared to Chrome and Firefox)"
https://www.screencast.com/t/b2VHMggPGfY

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Click Menu > Work > Tracks
4. Click on User avatar
5. Click Menu > Work > Tracks > Competitive programming or any other

**Expected:** Should hide the user drop down

**Environment:** HP Pavilion x360 14 inch; Windows 10

**Browser:** IE11 | Microsof

[2019-06-08 02:05] alexandreeva commented on #2530
same issue occurs on desktop when switching between 250% zoom and lesser zoom (Chrome 75.0.3770.80)

[2019-06-08 02:21] alexandreeva opened #2551 "'More' drop down menu remains opened after selecting other menu items"
**Reproduction steps:**

1. Open the test URL and log in
2. Click on 'Work' in the header
3. Zoom in 175%
4. Click on the 'More' drop down menu in the header
5. Click on other menu items (for example, 'Compete')

**Expected result:**
The 'More' drop down menu hides after the user selects a different menu item in the header

**Actual result:**
The 'More' drop down menu remains open even after selec

[2019-06-08 03:37] codejamtc opened #2552 "Sub menu and main menu both displayed at the same time"
https://www.screencast.com/t/rbbjjLTSp

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Portrait )
3. Tap Menu > Work
4. Go to Landscape view
5. Tap Compete > Main menu and Sub menu both displayed at the same time
6. Tap Tracks > Main menu and Sub menu both displayed at the same time
7. Tap Community > Main menu and Sub menu both displayed

[2019-06-08 04:09] coderHacker opened #2553 "At help page,it ask you to login again"
**Describe the bug**
When you go to help from the dropdown, it goes to help page but it ask you to login again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'right side dropdown'
2. Click on 'help'
3. It redirect to help page but you can see at right side it ask you to login again.
4. click on sign in
5.Login page opens

**Expected behavior**
It should not ask you to login again

**

[2019-06-08 04:26] VaishaliSanthosh opened #2554 "Currently selected item is not highlighted when accessing the application with Keyboard Only"
**Describe the bug**
Currently selected item is not highlighted when accessing the application with Keyboard Only

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test-community-app.topcoder-dev.com/challenges?'
2. After sign in  Navigate to last challenge in the page using keyboard only
3. Press tab key
4. Cannot see where the navigation is leading to, no menu/options/texts ar

[2019-06-08 06:10] coderHacker opened #2555 "When you click on profile dropdown,unable to go back to home screen"
**Describe the bug**
When you click on profile dropdown,unable to go back to home screen at Ios.No back button enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'right profile dropdown'
2. Try to go Back to home screen
3. Back button disabled.

**Expected behavior**
Back button should be enabled or have option to go back to home page

**Screenshots**
![Copy of IMG_7960](https://

[2019-06-08 06:21] coderHacker opened #2556 "Notification Screen doesnot have setting icon and back button on Ios device"
**Describe the bug**
Notification screen does not have back arrow icon and setting icon on Ios device

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'right profile dropdown'
2. Click on 'Notification'
3. Dont have back button and setting icon on Ios device

**Expected behavior**
Notification screen should have setting icon and back arrow option

**Screenshots**
<img width="375" alt="F

[2019-06-08 06:29] ThomasKranitsas commented on #2410
Ok, please keep in mind that you can only keep issues for 24h. If you fail to fix it, please release the issue so someone else can give it a try.

Thank you

[2019-06-08 07:05] VaishaliSanthosh opened #2557 "Sub community dropdown is hiding the Switch to business option"
**Describe the bug**
Sub community dropdown is hiding the Switch to business option from user profile menu

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test-community-app.topcoder-dev.com/challenges?
2. Click on filters button
3. Click on drop down near user name
4. Notice the Sub community dropdown is hiding the Switch to business option from user profile menu

**Expected b

[2019-06-08 07:15] coderHacker opened #2558 "Notification page has logout option on Ios device"
**Describe the bug**
Notification pagehas logout option on IOS Device

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'right profile dropdown'
2. Click on 'notification'
3. Notification page has logout option

**Expected behavior**
Logout option should not be available in notification page

**Screenshots**
![IMG_7962](https://user-images.githubusercontent.com/5110867/59143703-299d3800-

[2019-06-08 07:21] satkanhub opened #2559 "Hover on Logo is displaying inappropriate details."
**Describe the bug**
Hover on Logo is displaying inappropriate details.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Hover on Topcode Logo

**Expected behavior**
No text should be displayed on Hovering Topcoder logo

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.c

[2019-06-08 07:23] coderHacker opened #2560 ""Notification settings" button is not working at notification screen on ios device"
**Describe the bug**
"Notification settings" button is not working at notification screen on ios device

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'right profile dropdown menu'
2. Click on 'notification'
3. Click on 'Notification settings'

**Expected behavior**
Notification setting button should work

**Screenshots**
![IMG_7962](https://user-images.githubusercontent.com/5110867/5

[2019-06-08 07:26] Jacob15 opened #2561 "[General] User is not navigating back to previous link visited"
**Describe the bug**
The user is not navigating back to the previous link visited.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test-community-app.topcoder-dev.com/challenges'
2. Click on 'Work'
3. Click on 'Community'
4. Click on 'TCO'
5. Page is navigating to 'https://www.topcoder.com/community/member-programs/topcoder-open/'
6. Click Back button in the browser.
7. User i

[2019-06-08 07:30] satkanhub opened #2562 "Text for Logout is showing in InitCaps"
**Describe the bug**
Text for Logout is showing in InitCaps and it is not the same in Marvel App

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Click on Profile

**Expected behavior**
**Log out** is expected, instead of **Log Out**.

**Screenshots**
![image](https://user-images.githubusercontent.com/51492004/59143871-da95d980-89cf-11e9-88b2-0

[2019-06-08 07:33] satkanhub opened #2563 "My Dashboard not found"
**Describe the bug**
**My Dashboard** not found

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Click on Profile

**Expected behavior**
Menu should have **My Dashboard** option.

**Screenshots**
![image](https://user-images.githubusercontent.com/51492004/59143899-5728b800-89d0-11e9-970d-6f0c26d48c8e.png)

**Desktop:**
 - OS: Windows 10 Home
 -

[2019-06-08 07:33] coderHacker opened #2564 "Unwanted Text is displayed below for a second when you scroll on Notification page"
**Describe the bug**
Unwanted Text is displayed when you scroll on Notification page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' Profile dropdown'
2. Click on 'Notification'
3. Scroll up and down

**Expected behavior**
unwanted text should not displayed on notification page

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete t

[2019-06-08 07:40] satkanhub opened #2565 "Menu to have Help center"
**Describe the bug**
Menu to have Help center

**To Reproduce**
Steps to reproduce the behavior:
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Click on Profile

**Expected behavior**
Menu to have **Help center**. It is now showing as **Help** only.

**Screenshots**
![image](https://user-images.githubusercontent.com/51492004/59143976-2a28d500-89d1-11e9-9649-13

[2019-06-08 07:46] satkanhub opened #2566 "Account & Security to be displayed in user menu"
**Describe the bug**
Account & Security to be displayed in user profile menu

**To Reproduce**
Steps to reproduce the behavior:
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Click on Profile

**Expected behavior**
Account & Security option to be available under user profile menu.

**Screenshots**
![image](https://user-images.githubusercontent.com/51492004/591

[2019-06-08 07:54] satkanhub opened #2567 "Hover State has inappropriate text on screen"
**Describe the bug**
Hover State has inappropriate text on screen

**To Reproduce**
Steps to reproduce the behavior:
Steps to reproduce the behavior:
1. Open the test URL
2. Reduce the window size of brwoser until you see Menu bar at the top left.
3. Hover on Menu Bar and observe

**Expected behavior**
Hovering on the menu bar at the left should not display any inappropriate text.

**Screenshots**

[2019-06-08 07:58] satkanhub opened #2568 "Hover on Close has inappropriate text"
**Describe the bug**
Hover on Close has inappropriate text

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL
2. Reduce the window size of browser until you see Menu bar at the top left.
3. Click on Menu Bar.
4. Hover on Close " X " symbol and observe

**Expected behavior**
Hovering on  Close " X " symbol should not display any inappropriate text.

**Screenshots**
If applicabl