[2018-06-11 19:31] youdare commented on #1003
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:32] youdare commented on #1000
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:32] youdare commented on #995
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:32] youdare commented on #993
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:32] youdare commented on #990
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:32] youdare commented on #972
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:32] youdare commented on #965
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Minor

[2018-06-11 19:33] youdare commented on #962
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:33] youdare commented on #961
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:33] youdare commented on #960
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:33] youdare commented on #958
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:33] youdare commented on #957
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:33] youdare commented on #956
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:33] youdare commented on #954
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Minor

[2018-06-11 19:34] youdare commented on #951
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:34] youdare commented on #950
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:34] youdare commented on #949
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:34] youdare commented on #945
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:34] youdare commented on #942
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:34] youdare commented on #940
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:35] youdare commented on #937
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:35] youdare commented on #933
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:35] youdare commented on #931
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:35] youdare commented on #929
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:35] youdare commented on #925
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Blocker

[2018-06-11 19:36] youdare commented on #920
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:36] youdare commented on #916
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:36] youdare commented on #914
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:36] youdare commented on #912
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:37] youdare commented on #912
Update- Please  give invalid Email ID, Which is not belong to paypal account

[2018-06-11 19:37] youdare commented on #908
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:37] youdare commented on #904
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:37] youdare commented on #903
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:37] youdare commented on #901
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:37] youdare commented on #899
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:38] youdare commented on #897
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:38] youdare commented on #894
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:39] youdare commented on #893
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Major

[2018-06-11 19:40] youdare commented on #891
@ThomasKranitsas Labels for this issue:
PD - Member - Migration
Minor

[2018-06-11 23:28] birdofpreyru commented on #879
Was duplicated in #887, closing this ticket, to take care about the issue there.

[2018-06-11 23:28] #879 closed

[2018-06-11 23:52] birdofpreyru commented on #888
@iammtong was it working recently at all?

@ajefts my current guess is that we miss some Dropbox-related configuration in our Filestack account, as per these instructions: https://www.filestack.com/docs/dropbox-integration Wanna fix it?

[2018-06-12 00:45] iammtong commented on #888
It was my first time trying to connect with dropbox, not sure if it was working earlier.

Thanks
Tong

On 12 Jun BE 2561, at 06:52, Dr. Sergey Pogodin <notifications@github.com<mailto:notifications@github.com>> wrote:

@iammtong<https://github.com/iammtong> was it working recently at all?

@ajefts<https://github.com/ajefts> my current guess is that we miss some Dropbox-related configuration in our

[2018-06-12 00:47] birdofpreyru commented on #864
done

[2018-06-12 00:47] #864 closed

[2018-06-12 07:21] JayaDhaka opened #1058 "Challenge not visible on topcoder.com"
When a challenge technology is set to Data Science, the challenge details are not visible on topcoder.com.
Getting this issue with below challenges:
https://www.topcoder.com/challenges/30062822
https://www.topcoder.com/challenges/30057606
https://www.topcoder.com/challenges/30063682

![image](https://user-images.githubusercontent.com/34749364/41275475-9f93667a-6e3e-11e8-9d39-ab93dce26541.png)
![im

[2018-06-12 09:50] JayaDhaka opened #1059 "Unlink account from Topcoder profile page"
User handle: ronesim

Above user wants to remove the linked account other than Github from here: https://www.topcoder.com/settings/profile/

@birdofpreyru

[2018-06-12 21:16] ajefts opened #1060 "Updates for CS and Contentful"
1. Add a page named Catalog. It should be a blank viewport that we can add content to.

2. Add a content type that allows us to add content in this format:

![image](https://user-images.githubusercontent.com/3812270/41317745-257e5fb8-6e64-11e8-8466-567db9870eb7.png)

[2018-06-12 21:16] ajefts commented on #1060
@birdofpreyru Any chance we could do this tomorrow?

[2018-06-12 21:20] ajefts opened #1061 "Contentful - Content Block Updates"
1. The sites break when you add images to the text area.

![image](https://user-images.githubusercontent.com/3812270/41317959-bb81eaa2-6e64-11e8-86d7-fb26614b9657.png)

2. Lists don't seem to work.  It displays the first item with no bullet and seems to drop the remaining items.

3. Tables don't see to display.  If I create a table I'm seeing he top left cell, but nothing else.

[2018-06-12 21:22] birdofpreyru commented on #1060
sure

[2018-06-13 10:52] ThomasKranitsas commented on #921
This is part of the legacy website and not the community app. Closing this ticket as it's not a valid issue

[2018-06-13 10:52] #921 closed

[2018-06-13 10:55] ThomasKranitsas commented on #911
This is not part of the community app. It's part of the legacy site. Closing this ticket

[2018-06-13 10:55] #911 closed

[2018-06-13 16:07] ajefts opened #1062 "Create content model for Tutorial/Editorial Pages"
We'd like to create a generic content model that we can use for tutorials and editorial-like content.  The components of it will be:

title
author
text (can include images and formatting)
date published
tags

It would be very similar to a blog post format, and we'd like to be able to reuse it for many purposes.  For example, we should use it to support SRM editorials, Data Science tutorials, etc.

[2018-06-13 16:08] ajefts opened #1063 "Create content model for blog"
We'll need the blog listing as well as individual posts

[2018-06-13 20:53] ThomasKranitsas commented on #973
Although I was not able to reproduce that issue, I got few errors so I'll just mark this as Major instead of Critical

[2018-06-13 20:56] sjbr commented on #973
Ok, there is a video in the comments of 2 different ways to reproduce this bug

[2018-06-13 21:12] kkartunov commented on #1063
@ajefts What about following structure?

[contentful-export-blog-update.zip](https://github.com/topcoder-platform/community-app/files/2099878/contentful-export-blog-update.zip)

Please download, unzip and import to review using the cli:
`contentful space import --space-id <DESTINATION_SPACE_ID> --content-file contentful-export-blog-update.json --content-model-only`

The file updates our [TC base c

[2018-06-13 21:14] ThomasKranitsas commented on #973
Got it

[2018-06-13 21:50] ThomasKranitsas commented on #1014
That's part of the legacy page not the community app. Closing the ticket

[2018-06-13 21:50] #1014 closed

[2018-06-13 21:51] ThomasKranitsas commented on #1025
That is part of the legacy page and not the community app. Closing this ticket.

[2018-06-13 21:51] #1025 closed

[2018-06-13 21:52] ThomasKranitsas commented on #1024
Duplicate of #973

[2018-06-13 21:52] #1024 closed

[2018-06-13 21:55] ThomasKranitsas commented on #1019
@ajefts @cwdcwd was that fixed on your end? I remember that was a config issue and not related to the code itself.

[2018-06-13 21:57] ThomasKranitsas commented on #1016
that's part of the legacy page and not the community app

[2018-06-13 21:57] #1016 closed

[2018-06-13 21:57] ThomasKranitsas commented on #1015
This is not a blocker issue

[2018-06-13 22:02] ThomasKranitsas commented on #1013
That's part of the legacy site not the community app. Closing the ticket

[2018-06-13 22:02] #1013 closed

[2018-06-13 22:07] ThomasKranitsas commented on #1019
Duplicate of https://github.com/topcoder-platform/community-app/issues/1006

[2018-06-13 22:07] #1019 closed

[2018-06-13 22:09] ThomasKranitsas commented on #1023
duplicate of https://github.com/topcoder-platform/community-app/issues/1005

[2018-06-13 22:09] #1023 closed

[2018-06-13 22:11] ThomasKranitsas commented on #1002
This is part of the legacy page not the community app.

[2018-06-13 22:11] #1002 closed

[2018-06-13 22:11] ThomasKranitsas commented on #1001
That's part of the legacy page and not the community app

[2018-06-13 22:11] #1001 closed

[2018-06-13 22:12] ThomasKranitsas commented on #999
That's part of the legacy page and not the community app

[2018-06-13 22:12] #999 closed

[2018-06-13 22:12] ThomasKranitsas commented on #998
That's part of the legacy page and not the community app

[2018-06-13 22:12] #998 closed

[2018-06-13 22:12] ThomasKranitsas commented on #997
That's part of the legacy page and not the community app

[2018-06-13 22:12] #997 closed

[2018-06-13 22:18] ThomasKranitsas commented on #982
Duplicate of #987 the challenges tab is not implemented so it won't show up for any track/subTrack

[2018-06-13 22:18] #982 closed

[2018-06-13 22:21] ThomasKranitsas commented on #975
that's part of the legacy app and not the community app

[2018-06-13 22:21] #975 closed

[2018-06-13 22:21] ThomasKranitsas commented on #974
that's part of the legacy app and not the community app

[2018-06-13 22:21] #974 closed

[2018-06-13 22:21] ThomasKranitsas commented on #971
duplicate of #1005 it's the same thing actually

[2018-06-13 22:21] #971 closed

[2018-06-13 22:22] ThomasKranitsas commented on #968
that's part of the legacy app and not the community app

[2018-06-13 22:22] #968 closed

[2018-06-13 22:23] ThomasKranitsas commented on #967
that's part of the legacy app and not the community app

[2018-06-13 22:23] #967 closed

[2018-06-13 22:28] vic-topcoder commented on #1062
@ajefts Several questions:

- What formatting is supported in the Content (text)?
- Do you have an excerpt for public view as part of it, and should it be show in different page (like a category page)?
- If you have except, do you have a header image/preview image for category listing?
- Do we have a related challenge link for the editorial (if it is an analysis of solutions on a marathon match or

[2018-06-13 23:12] birdofpreyru commented on #1062
@ajefts we don't need new models for these, this are covered by _Route_ and _Viewport_ components (probably with some pending enhancements to them). Give me a few days to better assess their current performance, clean-up small sins, and document the current state of things.

@vic-topcoder I did not get, what do you mean by _except_? For text blocks we have high level setup to support anything you

[2018-06-13 23:21] birdofpreyru commented on #1063
@kkartunov what is the purpose of _blog_ object? I think, we don't need it. For blog, it is enough to have _Blog Post_ and _Person_ objects. For the listing you can just query _Blog Post_ objects, probably by category/tag, and that's it.

Also, we should be careful with imrpoting test stuff into main Contentful space, as there seems to be no easy way to revert it ;)

I guess, not at the moment: cu

[2018-06-13 23:32] vic-topcoder commented on #1062
If we follow the Wordpress post structure, they have some more fields to a post - like a short piece of text that is displayed only on specific pages, which is different from the main body. There are also other fields - like the header image that I've mentioned.

Good to know we need full support for MD as style. In this case I would defer to using the challenge page styling as default for a post.

[2018-06-13 23:43] birdofpreyru commented on #1062
Wordpress data model comes with blog posts in mind. For Tutorials/Editorials in Contentful, I believe, we should forget about Wordpress model. It will will be more like this: you need a new tutorial - you create such tutorial page, with the content to show at that page; do you need a content page that shows the list of relevant tutorials, with brief abstracts - you create it as independent page, a

[2018-06-13 23:45] vic-topcoder commented on #1062
I would expect to be able to edit the related Abstract and Tutorial content at the same interface. Abstract === Excerpt

[2018-06-13 23:51] birdofpreyru commented on #1062
Well, such Wordpress-like entries will be covered by blog post objects in https://github.com/topcoder-platform/community-app/issues/1063, we can use those for tutorials.

[2018-06-14 02:29] youdare commented on #915
@ThomasKranitsas

This defect is duplicate of #899

[2018-06-14 02:31] birdofpreyru commented on #887
Presumably fixed, but I was not able to carefuly test the delete button functionality. @Dara-K can you try it on some design challenge in prod website?

[2018-06-14 02:33] birdofpreyru commented on #872
Fixed

[2018-06-14 02:33] #872 closed

[2018-06-14 02:34] #828 closed

[2018-06-14 03:44] kkartunov commented on #1063
@birdofpreyru yes we can query `Blog Post` objects but we need the `Blog` object as it gives us far more flexibility than it brings confusion in our case. Main reasons to have it are:
- We could support multiple blogs not just one single blog. Say we want at some point community level  blogs or product blogs. Via the `Blog` object we control posts ownership. Otherwise we do not have way to know wh

[2018-06-14 03:53] kkartunov commented on #1063
Visuals of `Blog Post` and `Person` objects to ease the pain of importing and speed up discussion:
![screenshot from 2018-06-14 06-46-05](https://user-images.githubusercontent.com/5585002/41390722-881aae42-6f9f-11e8-970e-445535688efc.png)
![screenshot from 2018-06-14 06-46-20](https://user-images.githubusercontent.com/5585002/41390727-8c46d52c-6f9f-11e8-867f-df512ad7c882.png)

[2018-06-14 04:09] kkartunov commented on #1062
It also looks to me that the `Blog Post` object from #1063 meets all criteria required here. We can re-use it. Probably rename `Blog Post` to just `Post` and tell content writers they should use it for posts, tutorials, editorials and etc.?
Regarding abstract it is included by design as Description === Abstract === Excerpt but we can rename it as we want.

[2018-06-14 09:54] ThomasKranitsas commented on #948
that's part of the legacy app and not the community app

[2018-06-14 09:54] #948 closed

[2018-06-14 09:54] ThomasKranitsas commented on #947
that's part of the legacy app and not the community app

[2018-06-14 09:54] #947 closed

[2018-06-14 09:54] ThomasKranitsas commented on #946
that's part of the legacy app and not the community app

[2018-06-14 09:54] #946 closed

[2018-06-14 09:56] ThomasKranitsas commented on #941
duplicate

[2018-06-14 09:59] winterflame commented on #941
Please note that this one is reported earlier than #1018.

[2018-06-14 10:05] ThomasKranitsas commented on #930
that's part of the legacy app and not the community app

[2018-06-14 10:05] #930 closed

[2018-06-14 10:05] ThomasKranitsas commented on #928
that's part of the legacy app and not the community app

[2018-06-14 10:05] #928 closed

[2018-06-14 10:05] ThomasKranitsas commented on #927
that's part of the legacy app and not the community app

[2018-06-14 10:05] #927 closed

[2018-06-14 10:06] ThomasKranitsas commented on #926
that's part of the legacy app and not the community app

[2018-06-14 10:06] #926 closed

[2018-06-14 10:06] ThomasKranitsas commented on #924
that's part of the legacy app and not the community app

[2018-06-14 10:06] #924 closed

[2018-06-14 10:06] ThomasKranitsas commented on #923
that's part of the legacy app and not the community app

[2018-06-14 10:06] #923 closed

[2018-06-14 10:06] ThomasKranitsas commented on #922
that's part of the legacy app and not the community app

[2018-06-14 10:06] #922 closed

[2018-06-14 10:08] ThomasKranitsas commented on #910
duplicate

[2018-06-14 10:08] #910 closed

[2018-06-14 10:09] ThomasKranitsas commented on #909
I believe the current password should NEVER be returned by the API.
Returning the decrypted password in the API response is a serious security issue.

[2018-06-14 10:09] ThomasKranitsas commented on #906
that's part of the legacy app and not the community app

[2018-06-14 10:09] #906 closed

[2018-06-14 10:10] ThomasKranitsas commented on #905
that's part of the legacy app and not the community app

[2018-06-14 10:10] #905 closed

[2018-06-14 10:10] ThomasKranitsas commented on #902
that's part of the legacy app and not the community app

[2018-06-14 10:10] #902 closed

[2018-06-14 10:10] ThomasKranitsas commented on #900
that's part of the legacy app and not the community app

[2018-06-14 10:10] #900 closed

[2018-06-14 10:10] ThomasKranitsas commented on #896
that's part of the legacy app and not the community app

[2018-06-14 10:10] #896 closed

[2018-06-14 10:11] ThomasKranitsas commented on #892
Duplicate of #987 the challenges tab is not implemented so it won't show up for any track/subTrack

[2018-06-14 10:11] #892 closed

[2018-06-14 10:12] ThomasKranitsas commented on #941
Good catch!

[2018-06-14 10:12] ThomasKranitsas commented on #1018
duplicate of https://github.com/topcoder-platform/community-app/issues/941

[2018-06-14 10:12] #1018 closed

[2018-06-14 10:16] ThomasKranitsas commented on #1057
This is a minor issue

[2018-06-14 10:48] ThomasKranitsas commented on #1041
duplicate

[2018-06-14 10:48] #1041 closed

[2018-06-14 10:49] youdare commented on #1041
Agree

[2018-06-14 10:50] ThomasKranitsas commented on #1039
Duplicate of #987 the challenges tab is not implemented so it won't show up for any track/subTrack

[2018-06-14 10:50] #1039 closed

[2018-06-14 10:51] ThomasKranitsas commented on #1038
duplicate

[2018-06-14 10:51] #1038 closed

[2018-06-14 10:52] ThomasKranitsas commented on #1036
that's part of the legacy app and not the community app

[2018-06-14 10:52] #1036 closed

[2018-06-14 10:52] ThomasKranitsas commented on #1034
that's part of the legacy app and not the community app

[2018-06-14 10:52] #1034 closed

[2018-06-14 10:52] ThomasKranitsas commented on #1033
that's part of the legacy app and not the community app

[2018-06-14 10:52] #1033 closed

[2018-06-14 10:52] ThomasKranitsas commented on #1032
that's part of the legacy app and not the community app

[2018-06-14 10:52] #1032 closed

[2018-06-14 10:56] ThomasKranitsas commented on #1031
that's part of the legacy app and not the community app

[2018-06-14 10:56] #1031 closed

[2018-06-14 10:56] ThomasKranitsas commented on #1030
that's part of the legacy app and not the community app

[2018-06-14 10:56] #1030 closed

[2018-06-14 10:56] ThomasKranitsas commented on #1000
that's part of the legacy app and not the community app

[2018-06-14 10:56] #1000 closed

[2018-06-14 11:07] ThomasKranitsas commented on #1027
duplicate

[2018-06-14 11:07] #1027 closed

[2018-06-14 11:09] ThomasKranitsas commented on #993
duplicate

[2018-06-14 11:09] #993 closed

[2018-06-14 11:11] ThomasKranitsas commented on #962
duplicate

[2018-06-14 11:11] #962 closed

[2018-06-14 11:11] ThomasKranitsas commented on #961
that's part of the legacy app and not the community app

[2018-06-14 11:11] #961 closed

[2018-06-14 11:12] ThomasKranitsas commented on #958
duplicate

[2018-06-14 11:12] #958 closed

[2018-06-14 11:15] youdare commented on #958
@ThomasKranitsas , I dont see any duplicate issue , please check again

[2018-06-14 11:22] birdofpreyru commented on #1063
@kkartunov but, I don't quite see how `Blog` object will make it possible to create a new blog without adding any code to **community-app**? Also, with such approach, people will have to manually add each blog post to a blog object. It might look the same what we do for viewports, etc., but it is, in fact, different, because we assume to have much more blog posts in a blog, than you would have con

[2018-06-14 11:30] youdare commented on #962
@ThomasKranitsas , There is no Duplicate Detect for this , Please check again

[2018-06-14 11:42] ThomasKranitsas commented on #958
https://github.com/topcoder-platform/community-app/issues/943

[2018-06-14 11:44] youdare commented on #958
@ThomasKranitsas Thanks , Sorry for the Trouble.

[2018-06-14 11:45] ThomasKranitsas commented on #962
Oh, actually https://github.com/topcoder-platform/community-app/issues/1003 is duplicate of this but since both are yours, I believe it's fine, right?

[2018-06-14 11:49] youdare commented on #962
@ThomasKranitsas
1003 is for "0" Wins in challenge.

960 is for  No Ratting in Challenge

If you think if we fix 960 is enough, i am okay do mark 1003 as duplicate

[2018-06-14 11:51] ThomasKranitsas commented on #962
yeah, the same change will fix both so it's essentially the same issue with 0/undefined/null being treated the same way.

I'm keeping 1003 as I've already counted it and I'm marking this as a duplicate. It's the same thing ;)

[2018-06-14 11:51] ThomasKranitsas commented on #945
that's part of the legacy app and not the community app

[2018-06-14 11:51] #945 closed

[2018-06-14 11:51] ThomasKranitsas commented on #942
that's part of the legacy app and not the community app

[2018-06-14 11:51] #942 closed

[2018-06-14 11:52] ThomasKranitsas commented on #940
that's part of the legacy app and not the community app

[2018-06-14 11:52] #940 closed

[2018-06-14 11:52] ThomasKranitsas commented on #937
that's part of the legacy app and not the community app

[2018-06-14 11:52] #937 closed

[2018-06-14 11:53] ThomasKranitsas commented on #916
that's part of the legacy app and not the community app

[2018-06-14 11:53] #916 closed

[2018-06-14 11:53] ThomasKranitsas commented on #914
that's part of the legacy app and not the community app

[2018-06-14 11:53] #914 closed

[2018-06-14 11:53] ThomasKranitsas commented on #912
that's part of the legacy app and not the community app

[2018-06-14 11:53] #912 closed

[2018-06-14 11:53] ThomasKranitsas commented on #908
that's part of the legacy app and not the community app

[2018-06-14 11:53] #908 closed

[2018-06-14 11:53] ThomasKranitsas commented on #904
that's part of the legacy app and not the community app

[2018-06-14 11:53] #904 closed

[2018-06-14 11:53] ThomasKranitsas commented on #903
that's part of the legacy app and not the community app

[2018-06-14 11:53] #903 closed

[2018-06-14 11:53] ThomasKranitsas commented on #901
that's part of the legacy app and not the community app

[2018-06-14 11:53] #901 closed

[2018-06-14 11:53] youdare commented on #962
Thank for update.

[2018-06-14 12:03] youdare commented on #893
@ThomasKranitsas
We have duplicate issue Need to close this issue #932

[2018-06-14 12:04] ThomasKranitsas commented on #932
duplicate of https://github.com/topcoder-platform/community-app/issues/893

[2018-06-14 12:04] #932 closed

[2018-06-14 12:07] ThomasKranitsas commented on #987
duplicate of https://github.com/topcoder-platform/community-app/issues/925

[2018-06-14 12:07] #987 closed

[2018-06-14 12:08] ThomasKranitsas commented on #920
This is out of scope

[2018-06-14 12:08] #920 closed

[2018-06-14 12:10] #915 closed

[2018-06-14 12:16] ThomasKranitsas commented on #929
duplicate of https://github.com/topcoder-platform/community-app/issues/894

[2018-06-14 12:16] #929 closed

[2018-06-14 12:39] birdofpreyru commented on #1060
Read in dev

[2018-06-14 13:47] kkartunov commented on #1063
@birdofpreyru we can drop **publish date**. There is `updatedAt` maintained as per [here](https://www.contentful.com/developers/docs/references/content-delivery-api/#/introduction/common-resource-attributes). It probably gets updated when state change draft -> public.

We always need some code in **community-app** when we add new blog this we can't avoid. But the thing is to avoid model change in

[2018-06-14 14:43] birdofpreyru commented on #1063
I guess, `updatedAt` is the time of last update, not necessarily of draft > public state change. But that's fine, we can just show that under **Last updated** label, for most cases it is more useful information than when the post was first published.

Probably, if `revision` equals `1`, then `updateAt` really holds the publish date.

[2018-06-14 19:45] birdofpreyru commented on #1061
All fixed and released to prod

[2018-06-14 19:45] #1061 closed

[2018-06-14 19:46] birdofpreyru commented on #1060
released to prod

[2018-06-14 19:46] #1060 closed

[2018-06-14 19:46] birdofpreyru commented on #1058
fixed

[2018-06-14 19:46] #1058 closed

[2018-06-14 20:26] hokienick opened #1066 "Dashboard Announcement Does Not Close"
Clicking the "X" on the Dashboard Announcement does not close/minimize the banner anymore.  https://www.topcoder.com/my-dashboard

[2018-06-14 20:28] hokienick opened #1067 "Hall of Fame Page No Longer Loading"
The data seems to be loading but the page is stuck with the loading animation.

https://community-app.topcoder-dev.com/hall-of-fame/tco/

[2018-06-14 20:52] hokienick opened #1068 "Content Block For Embed Links"
Please create a way to allow to embed items such as Google Calendar and Youtube Videos.  Thanks!

[2018-06-14 22:13] birdofpreyru commented on #1068
Actually, for YouTube videos just copy-pasting of their embed code into Markdown works fine:

<iframe width="560" height="315" src="https://www.youtube.com/embed/BEX-FTB-xq8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

I guess, same for other embed codes.

[2018-06-15 00:01] birdofpreyru commented on #1067
fixed

[2018-06-15 00:01] #1067 closed

[2018-06-15 00:02] birdofpreyru commented on #1066
seems to work after re-deploying the site, even without touching any related code. Closing the issue for now, let's keep an eye on the announcement behavior going forward

[2018-06-15 00:02] #1066 closed

[2018-06-15 00:02] #1068 closed

[2018-06-15 14:35] Dara-K commented on #887
The  2 icons work now but the modal window is not well styled. Check below.
![modal](https://user-images.githubusercontent.com/25185079/41473595-652cf150-70c2-11e8-9953-639c9c56a19d.png)

[2018-06-15 18:56] ajefts opened #1069 "Enable leaderboard for blockchain"
API:  http://api.topcoder.com/v4/looks/1037/run/json

[2018-06-19 07:27] kkartunov commented on #886
Wo

[2018-06-19 07:27] #886 closed

[2018-06-19 09:12] kkartunov commented on #1063
@birdofpreyru @ajefts Are we agreed on the model structure? Does anyone want to add/remove some fileds or make changes? I want to close this and commit the changes to the TC conf space when we ready...

[2018-06-19 10:35] ajefts opened #1072 "topgear group not showing in sub community filter on challenges for some users"
Some users are reporting that the groups they are in are not showing up in the group dropdown on the challenge listings page and also the header on topgear.topcoder.com.

![image](https://user-images.githubusercontent.com/3812270/41592541-e76e6af2-738a-11e8-99aa-fdb3f4aee6f0.png)

[2018-06-19 10:36] ajefts commented on #1072
@birdofpreyru Can you check this one please? I'm able to see the group, but the issue seems to be happening for SSO users.

[2018-06-19 11:13] birdofpreyru commented on #1072
@ajefts I also see the groups. It should be API problem, I guess it does not properly message user groups for SSO users?

[2018-06-19 21:32] cwdcwd commented on #825
I'm still seeing a failure of logstash to push data into ES. `User: anonymous is not authorized to perform: es:ESHttpPost on resource: topcoder`
@urwithat can you take a look at this repo, specifically [this conf](https://github.com/appirio-tech/tc-logstash-conf/blob/master/conf/members-es-conf.j2#L188) to see if we need to get that updated to include credentials to connect to the ES API?

[2018-06-20 15:25] ajefts opened #1073 "CS site"
Make the banner on cs.topcoder.com/challenges contentful.

[2018-06-20 15:25] ajefts commented on #1073
@birdofpreyru could you take this one or assign it to someone?

[2018-06-22 08:33] sharathkumaranbu opened #1076 "Issue with Review Opportunity page for Assembly competitions"
E.g. Let's take the below Assembly challenge

https://www.topcoder.com/challenges/30065962/review-opportunities

In the above Assembly competition, Copilot might have assigned himself as one of the reviewer. In the review opportunities page, It was showing as

OPEN POSITIONS:
0.5 PRIMARY REVIEWERS & 0.5 SECONDARY REVIEWERS

Ideally there should be only 1 position (Primary or Secondary), depending

[2018-06-22 16:48] birdofpreyru opened #1077 "Update CDN / Webpack build handling"
Currently, when the app is re-deployed, for a short time AWS will have both old and new instances of the app running side-by-side, which creates problems when requests for newly compiled assets land to the old instances and this is cached by ClouldFront CDN.

Probably, we should use something like https://github.com/matrus2/webpack-s3-uploader to upload all assets generated by Webpack to S3 bucket

[2018-06-22 17:03] birdofpreyru commented on #1077
To add more context:
![image](https://user-images.githubusercontent.com/20144632/41789188-c3fef336-764e-11e8-8fcb-f038e2eca73e.png)

[2018-06-23 13:24] sushilshinde opened #1078 "Community App Performance : General Report"
Community app challenge listing page is very slow compared to the number of actions that it can perform. It should be one of the fast pages in the app as community members are most likely to come to listing looking for new exciting challenges.

Community app (https://www.topcoder.com/challenges) on production with moderate internet speed performs very badly. I have done and audit and profiling of

[2018-06-23 16:20] birdofpreyru commented on #1077
FYI @ajefts @mtwomey

What we briefly discussed in Slack, it happens cause now ClouldFront CDN directly hits **community-app** to get any CSS/JS assets.

There is a proper fix: to update our deployment flow so that all assets generated during the build are uploaded to S3 bucket, and then reconfigure CDN so that it gets all CSS/JS assets from S3 bucket. It will solve the problem as the assets from

[2018-06-25 14:16] dmessing commented on #1078
Let's remove past challenges all together and show only if someone wants to view pasts challenges.

[2018-06-25 17:57] ajefts commented on #1078
Past challenges are removed from the main UI, but maybe the app is still fetching them for some reason...

[2018-06-25 18:41] birdofpreyru opened #1079 "Optimization of links coming from Contentful content"
Right now these links are rendered as `<a>` elements, which reloads the app each time we move between them. We should render them as `<Link>` to ensure optimal behavior.

[2018-06-26 16:36] hokienick opened #1081 "Content in Preview looks different when going into Production"
When I prepare the viewport in Contentful and preview the content, it looks the way I want to:
<img width="1066" alt="preview_privacypolicy" src="https://user-images.githubusercontent.com/1373998/41926361-f0ea2410-7923-11e8-95c5-089a9f357222.png">

When it goes into prod it looks different (smaller font, smaller spaces between sentences):

<img width="944" alt="privacy policy" src="https://user-im

[2018-06-26 16:59] vic-topcoder commented on #1078
Also an interesting read about react-specific optimizations with potential to further optimize the pages and our approach towards performant front-end: https://medium.com/airbnb-engineering/recent-web-performance-fixes-on-airbnb-listing-pages-6cd8d93df6f4.

[2018-06-26 18:54] hokienick opened #1082 "Links do not appear in color."
Here is the link in Contentful:

<img width="743" alt="link_contentful" src="https://user-images.githubusercontent.com/1373998/41933071-adf0f026-7937-11e8-8d9f-c7edc961ccc6.png">

Here is what it looks like in Production:

<img width="1072" alt="link_prod" src="https://user-images.githubusercontent.com/1373998/41933083-b6586244-7937-11e8-9ce4-346056b8a347.png">

[2018-06-26 22:29] hokienick opened #1083 "Superscript tag does not superscript in preview or production"
<sup></sup>

Does not have any effect in Content Block

[2018-06-27 18:54] hokienick opened #1086 "Dashboard Text"
Can we have a WYSIWYG for the text in the Dashboard?  Jessie was trying to create a new paragraph in her announcement but it wouldn't let her.

[2018-06-28 07:56] #1073 closed

[2018-06-28 08:00] birdofpreyru commented on #1086
@hokienick do you mean for the text inside announcements in the dash? WYSIWYG is tricky at the moment; updating it to Markdown editor, with support of any html tags, the same as it works for `ContentBlock`s, sure, can be done fast.

[2018-06-28 18:23] hokienick opened #1087 "Direct Linking to Filtered Challenge Listing Page - broken"
Attempting to link to all open DS challenges does not work.  Ex:

https://www.topcoder.com/challenges/?filter[tracks][data_science]=true

[2018-06-30 03:28] RiteshTC opened #1092 "Design Submit button doesn't seem to work"
The design submission page submit button doesn't work. Looks like the click event is not being wired.
Please resolve ASAP

example https://www.topcoder.com/challenges/30067294/submit

@birdofpreyru
cc @ajefts

[2018-06-30 10:29] #1092 closed

[2018-06-30 15:42] birdofpreyru commented on #1087
Figured out that it actually worked, but not when you prepended `?` by `/` after `challenges`.
I've pushed a patch to make it work either way, with `/` or without it in front of `?`. Should be in prod in ~10 mins.

f95a15a914fa62f9f24ffe7874e1d031aabb34d7

[2018-06-30 15:42] #1087 closed

[2018-07-01 11:44] Dara-K opened #1093 "Dashboard Articles"
Can we update the rss feed that populates the blog articles on the dashboard?

Right now they are not updating anymore.

[2018-07-03 18:14] ajefts opened #1094 "[$1] Test"
## A new issue body header

A new issue body content with ***bold*** text and a [link](https://github.com/ngoctay/Luettich-test/issues/).

[2018-07-05 18:52] hokienick opened #1095 "Unable to view formulas and code correctly in Content Blocks"
Attempting to create blocks of code with < pre > and/or < code > do not format correctly.  All tabs and spaces are stripped so everything appears in one column.

Should look like this:

<img width="519" alt="screen shot 2018-07-05 at 11 50 29 am" src="https://user-images.githubusercontent.com/1373998/42342062-e5f05df4-8049-11e8-9323-12ce9103d31b.png">

But it looks like this:

<img width="727" alt

[2018-07-05 19:38] hokienick commented on #1095
Also of note, if there are empty lines in between code it breaks the block and formatting stops.

[2018-07-06 05:44] RiteshTC commented on #762
@birdofpreyru can you please check this.

This issue is being reported by a lot of users. I don't have specific details but can provide some handles like jkeam, dubeynidhi007 who face this issue continuously.
It looks like the registration succeeds, but the registration button doesn't change the status.

A subsequent clicking on the register button, raises the error 400, you have already registere

[2018-07-06 11:32] birdofpreyru commented on #762
:point_up: @sushilshinde I guess, this also related to what we discuss in our email thread about API / ES, etc.

[2018-07-06 13:47] PereViki opened #1097 "Stock art bulk upload in comma-separated format does not work at design challenge submission"
**Actual result**
I placed my comma separated links in the respective stock art text box, but nothing has happened

**Expected result**
The URLs should have been automatically spread out into different text boxes.

Safari 11.1 on OS X El Capitan

[2018-07-06 13:52] birdofpreyru commented on #1072
Seems to still be an issue.

[2018-07-06 15:55] RiteshTC commented on #762
cc: @cwdcwd

[2018-07-06 15:55] birdofpreyru commented on #1097
@PereViki it should be space (or white-space / tab / new-line) separated list of links, cause comma, in principle, is allowed inside URLs, thus we can't use it as separator :)

[2018-07-06 15:55] #1097 closed

[2018-07-06 16:42] birdofpreyru opened #1099 "Somebody added back to community-app the old stylesheets that have been moved to topcoder-react-ui-kit before!!! Should be carefully eliminated!"

[2018-07-06 16:45] birdofpreyru commented on #1099
@ThomasKranitsas, I guess this comes from one of your challenges that moved stuff from *topcoder-app* to *community-app*? Instead of properly upgrading the code on the way, somebody just returned old styles to https://github.com/topcoder-platform/community-app/tree/new-develop/src/styles instead of upgrading the code that depends on them to use topcoder-react-ui-kit properly?

[2018-07-06 17:01] ThomasKranitsas commented on #1099
@birdofpreyru perhaps. Can you point the exact commit that introduced that?

[2018-07-06 17:08] birdofpreyru commented on #1099
@ThomasKranitsas oh, actually, my bad. After double-checking, it looks like I thought that I moved more styling to _topcoder-react-ui-kit_, than I actually did.

[2018-07-06 17:10] #1099 closed

[2018-07-06 17:37] birdofpreyru commented on #1095
@hokienick this is partially fixed: if you input codeblocks as

it will be rendered fine.

To fix HTML `<code>` blocks with empty lines inside them will demand a bit of extra efforts.

[2018-07-09 07:01] sushilshinde opened #1102 "mm-feature-experiment branch : TESTING : UI not updated for registration and unregister"
Can we add an intentional delay after registration and registration before next call to fetch registrants details?

@birdofpreyru @a-lowe

[2018-07-09 07:04] sushilshinde opened #1103 "mm-feature-experiment : TESTING : submission UI not displaying"
It was working when @birdofpreyru worked on it

<img width="1635" alt="screen shot 2018-07-09 at 12 32 53 pm" src="https://user-images.githubusercontent.com/683231/42435463-4d0c301c-8374-11e8-98ed-1dc2ad8feb4f.png">

[2018-07-09 07:21] JayaDhaka opened #1104 "Please add option in community app to upload checkpoint submission"
A UI PRototype challenge run in multiple rounds. Online Review allows uploading to checkpoint submissions but there is no option to upload Checkpoint submission in the Community App.

@birdofpreyru Please check and do the needful.

Challenge link: https://software.topcoder.com/review/actions/ViewProjectDetails?method=viewProjectDetails&pid=30066941

https://www.topcoder.com/challenges/30066941/?ty

[2018-07-09 10:09] birdofpreyru commented on #1102
Although, not the best practice, we can. How large should it be? 1 / 3 / 5 seconds?

[2018-07-09 11:13] sushilshinde commented on #1102
Let's try with 3 secs

[2018-07-09 18:12] ajefts opened #1106 "[$30] Profile - Bio"
Make sure Bio info gets migrated.  i.e. All user bio info is in informix now.  If we're staving the same bio info as "traits" (address, etc), then existing info needs to be migrated or a double read/write needs to happen...?

[2018-07-09 18:13] ajefts opened #1107 "[$20] Profile - clean up dropdown list data"
Let's make sure we have appropriate info in all dropdowns.

Gender: I'd like to make this more inclusive.  Can we do Male, Female, Prefer not to answer, Custom...where custom would provide a freeform text field to let the user specify?

[2018-07-09 18:13] ajefts opened #1108 "[$40] Profile - required fields"
Let's review the required fields.

Basic Info Required Fields:

- First Name
- Last Name
- Country

What is "Current Location" supposed to refer? I'm thinking we should remove it.

[2018-07-09 18:14] ajefts opened #1109 "Profile - context help on fields"
We need help text on a lot of the fields that aren't self explanatory.

[2018-07-09 18:17] ajefts opened #1110 "Profile - payment icon"
Payment icon isn't very obvious

[2018-07-09 18:23] hokienick commented on #1095
I'll try those ticks!  Thank you.

[2018-07-09 18:30] hokienick commented on #1095
Is it possible to control padding?  Specifically on the top and bottom:

<img width="746" alt="screen shot 2018-07-09 at 11 29 53 am" src="https://user-images.githubusercontent.com/1373998/42469060-789a1522-836b-11e8-9178-7b7e41bfe8b1.png">

<img width="1019" alt="screen shot 2018-07-09 at 11 29 38 am" src="https://user-images.githubusercontent.com/1373998/42469061-78b267a8-836b-11e8-84fe-274c8303

[2018-07-09 20:45] ajefts opened #1111 "CS - minor updates to challenges page"
1. Please remove the newsletter section at the bottom of the challenges page.

2. Update the date in the footer to 2018.  Let's do this across the board.

[2018-07-09 20:46] ajefts commented on #1111
@birdofpreyru Think you could do this one?

[2018-07-09 22:39] birdofpreyru opened #1112 "Get rid of `newChallengeDetails` prop"
The `newChallengeDetails` prop was used in the challenge listing during transition from legacy to the new challenge details page. It is still in the codebase, though it seems that we are already using the new challenge details pages all around, and sure not coming back to the legacy one. We should get rid of the prop, and any logic relying on it.

[2018-07-09 23:01] birdofpreyru commented on #1104
@skyhit @ajefts can we double-check whether API v3 handles checkpoint submissions correctly? Cause the code at **community-app** side looks like it should be already working: https://github.com/topcoder-platform/community-app/blob/develop/src/shared/components/SubmissionPage/Design/index.jsx#L92-L144 : it takes the list of active challenge phases, reported by API for challenge details, and if ther

[2018-07-09 23:20] birdofpreyru opened #1113 "Markdown renderer does not distinguish inline and block code tokens"
`markdown-it` in its stream of tokens generated from Markdown markup, create tokens with _code inline_ type for inline code segments, and with _fence_ type for block code segments. Both have _code_ value set for their `tag` field, in result our customized markdown renderer renders both of them into `<code>` blocks, that are either both inline, or both blocks, in result we cannot control margins ar

[2018-07-10 01:19] #1111 closed

[2018-07-10 01:20] #887 closed

[2018-07-10 01:43] ajefts opened #1114 "Profile - move consent option"
![image](https://user-images.githubusercontent.com/3812270/42484459-18d09a2a-83c1-11e8-8a75-50e19ced1f07.png)

Move the consent toggle so it's an option at the bottom of the basic profile page.

[2018-07-10 06:00] sushilshinde commented on #1103
@a-lowe yes

[2018-07-10 09:52] birdofpreyru commented on #1103
@sushilshinde I am lost in the part, how the regular MMs will work then? Are we redirectling to the legacy MM engine page for them? Is it taken into account @a-lowe ?

[2018-07-10 15:23] dedywahyudi commented on #1110
@urwithat

Other payment icon variations based on our Topcoder Nucleo icons

![screenshot 2018-07-10 22 05 08](https://user-images.githubusercontent.com/4476442/42520147-c265c76c-848f-11e8-8cbd-b88842990ccb.png)

[2018-07-10 17:16] hokienick opened #1116 "Link Styling"
Can you please remove the Underline from links?  The site will look cleaner that way :)

[2018-07-10 17:29] a-lowe commented on #1103
@birdofpreyru @sushilshinde
I would need some clarification on this as well.  The mm-feature-experiment branch removed the call to the legacy MM endpoint.  This means that the legacy marathon matches would also need to be returned by the v4 challenges endpoint ( and include any legacy specific fields, such as the 'rd' id ).

[2018-07-10 17:32] birdofpreyru commented on #1103
Isn't it doing it at the moment?

[2018-07-10 18:03] sushilshinde commented on #1103
@a-lowe you are right all the challenges and mms will be returned by v4/challenges endpoint

[2018-07-10 21:39] hokienick opened #1118 "<p> Styling"
Please change/add the following for default p-tags.

Font size to 20px
line-height = 1.5
padding from 5px to 10px

Here is an example of what it should look like:

<img width="1298" alt="screen shot 2018-07-10 at 10 28 18 am" src="https://user-images.githubusercontent.com/1373998/42539180-191e4138-844f-11e8-9be5-320f1571af0d.png">

[2018-07-11 01:27] birdofpreyru opened #1119 "Track homepages rely on "showdown" library for Markdown rendering, while we already use "markdown-it" in other parts of the app"
We should get rid of the _showdown_.

[2018-07-11 02:57] #1118 closed

[2018-07-11 02:57] #1116 closed

[2018-07-11 11:35] sushilshinde opened #1120 "Usability Suggestion : Challenge Details Page"
I think it will be nice to have back button on details page just like submission screen

![abc missing details portal architecture](https://user-images.githubusercontent.com/683231/42568940-7232135c-852c-11e8-9311-1accc10c4a55.png)

Similar to the submission page

![screen shot 2018-07-11 at 4 59 40 pm](https://user-images.githubusercontent.com/683231/42568947-7c4676a8-852c-11e8-90be-086b8969b99a.

[2018-07-12 01:20] hokienick opened #1121 "Ordered Lists do not appear in production but do appear in Preview"
<img width="1153" alt="screen shot 2018-07-11 at 6 19 28 pm" src="https://user-images.githubusercontent.com/1373998/42607304-0453043a-8537-11e8-9105-67195a58f0df.png">

[2018-07-12 01:30] #1072 closed

[2018-07-12 01:59] ajefts commented on #1072
@aah-74 Can you please confirm that you can see the topgear community in the dropdowns now?  Thanks.

[2018-07-12 05:07] aah-74 commented on #1072
Tony,

Yes Now I can see the TopGear community in the drop down list. PFB screenshot.

[cid:image005.jpg@01D419CC.42531170]

Thanks for closing this.

@Smitha M V (Global Delivery Enablement)<mailto:smitha.kumaran@wipro.com> @Umesha H S (Global Delivery Enablement)<mailto:umesha.hassan@wipro.com>  Please check.

Regards,
[http://marketing.wiprodigital.com/apps/wipro-esig/assets/images/logo-01.png]

[2018-07-12 14:49] birdofpreyru commented on #1120
@Dara-K what do you think?

[2018-07-12 20:45] #1121 closed

[2018-07-12 20:46] #1120 closed

[2018-07-14 01:10] Dara-K commented on #1120
Hey, I missed this as the email got into my spam.

I discussed with Vic the idea of adding a back icon, when we started designing this page, but it would unbalance the page / have the items not to be left aligned anymore. Besides, most of the TC users know to use the Back from Browser to get to previous page.

[2018-07-14 02:08] birdofpreyru commented on #1120
But in the dev team Slack, both Tony and Victor told to go for it, thus I added it.

[2018-07-14 13:41] Dara-K commented on #1120
I guess Vic changed his mind then... so even if it won't look aligned, it's fine.

[2018-07-14 14:09] sushilshinde commented on #1120
@Dara-K if you have an idea about how back button/link should look like. I wanted to only suggest the navigation but it should also fit in app UX wise.

[2018-07-14 16:18] Dara-K commented on #1120
It's good how you used it now. Just make the space between the arrow and title little smaller.

[2018-07-16 05:46] JayaDhaka opened #1124 "Error: Failed to load RSS feed"
Steps to reproduce the above error are:

1. Login accounts.topcoder.com
2. When a user tried to access dashboard https://www.topcoder.com/my-dashboard
3. A box popped up saying "Error: Failed to load RSS feed "

@birdofpreyru Please check and fix the issue.

Error console logs:
![image 1](https://user-images.githubusercontent.com/34749364/42744405-fd50625c-88e9-11e8-8b31-bf43b0eb6815.png)

[2018-07-16 09:00] sushilshinde opened #1125 "mm-feature-experiment branch : Navigation is wrong"
All legacy MM matches from the listing are hitting old legacy app for details, it should follow the navigation as other challenges

`https://test-community-app.topcoder-dev.com/challenges/{id}`

![mm-legacy](https://user-images.githubusercontent.com/683231/42750494-0e83a69a-8905-11e8-8768-de758e71b916.png)

**Details (unexpected)**

![deta](https://user-images.githubusercontent.com/683231/42750557

[2018-07-16 09:16] sushilshinde opened #1126 "mm-feature-experiment branch : Past MM not showing up"
For this filter, nothing shows up

`https://test-community-app.topcoder-dev.com/challenges/?filter[tracks][data_science]=true&bucket=past`

[2018-07-16 10:00] birdofpreyru commented on #1126
@a-lowe, please check & fix

[2018-07-16 10:01] birdofpreyru commented on #1125
@a-lowe, please check & fix

[2018-07-16 11:52] sushilshinde opened #1127 "mm-feature-experiment branch : Listing breaking on TEST Env"
This page is breaking with user logged in

`https://test-community-app.topcoder-dev.com/challenges`

@a-lowe I can't test further because of this

[2018-07-16 14:38] sushilshinde opened #1128 "mm-feature-experiment branch : MM not displayed in the listing"
This challenge do exist **This is test MM - do not register - only for MM-V4 testers** in

`https://api.topcoder.com/v4/challenges/`

but not displayed in neither **My Challenges** bucket nor Open for registration bucket

[2018-07-16 18:31] a-lowe commented on #1127
@sushilshinde I'm unable to replicate this issue.  Can you tell me what browser and account this is happening with?  Also, are there any error messages in the developer console?  Thanks.

[2018-07-16 18:44] a-lowe commented on #1128
@sushilshinde Is this issue happening at https://test-community-app.topcoder-dev.com/challenges or a different deploy? Thanks.

[2018-07-16 20:16] birdofpreyru opened #1130 "UI color updates"
@Dara-K:

[2018-07-16 21:24] a-lowe commented on #1126
@sushilshinde
This is caused by the api responding with a '429 Too Many Requests' error.  This also affects code and design challenges, but because they are more plentiful than data science challenges, the listing is filled (or partially filled) before this error occurs.

I don't believe that the code for the track filters has changed.  Does the threshold for the 429 error need to adjusted for the

[2018-07-16 23:42] birdofpreyru commented on #1124
This is also related to #1093, and the root cause is that Topcoder blog was updated without testing of update compatibility with any code that shows some of blog articles, pulling them from blog's RSS. I have updated RSS URL some days ago, but it still does not work remotely (although, works perfectly locally). I suspect this should be a misconfiguration of AWS setup, or nginx.

[2018-07-16 23:54] birdofpreyru commented on #1124
I have pinged *lazybaer* in Slack about the problem

[2018-07-17 00:10] birdofpreyru commented on #1125
@a-lowe and this one? It looks to me, the details of legacy MMs are supported now by `/v4/challenges/{ID}`, e.g. https://api.topcoder-dev.com/v4/challenges/13798 so challenge details for legacy MMs should be shown in the same page as for other challenges.

[2018-07-17 00:13] a-lowe commented on #1125
@birdofpreyru Sounds good, I'm just finishing the normalization for those right now.

[2018-07-17 00:16] birdofpreyru commented on #1125
Ok, so, in my current understanding, the details, registrants, submittions tabs should work for them, the link to challenge forum should work, the registration / unregistration should, presumably, also work via v4 api. And only for submission I am not sure. @sushilshinde should submission button for the legacy MMs still redirect to legacy submission page, that allows to enter code and send it for

[2018-07-17 03:41] a-lowe commented on #1125
@sushilshinde
Some potential issues:
1. No prizes field for legacy MMs.  This means that the 'winners' tab will show '$N/A' for each winner.
2. The 'winners' field for challenges does not implement the photoURL field that the v3 API did.  This means that the winner avatars on the Challenge Listing will be the standard placeholder portrait.  Currently no winners are shown on the Challenge Listing,

[2018-07-17 04:15] skyhit commented on #1125
1. yes. there is no prizes.
2. can we dynmically form the url using handle ?

[2018-07-17 11:41] birdofpreyru commented on #1125
@skyhit I believe not, e.g. my avatar has this address:
https://topcoder-prod-media.s3.amazonaws.com/member/profile/birdofpreyru-1474623113239.jpeg

[2018-07-17 13:00] sushilshinde commented on #1125
@birdofpreyru for past legacy matches all the buttons should be disabled

[2018-07-17 13:02] sushilshinde commented on #1125
@skyhit is there a way to pull winners?

@a-lowe what else you find missing in order to display legacy matches?

[2018-07-17 13:06] sushilshinde commented on #1126
@skyhit this is weird?

[2018-07-17 13:07] sushilshinde commented on #1127
This is resolved

[2018-07-17 13:07] #1127 closed

[2018-07-17 13:10] sushilshinde commented on #1126
@a-lowe
Same code on beta prod not showing past MMs

https://beta-community-app.topcoder.com/challenges?filter[tracks][data_science]=true&bucket=past

[2018-07-17 13:11] skyhit commented on #1126
@a-lowe which request is send for past challenges?

[2018-07-17 13:12] sushilshinde commented on #1128
No longer a problem, I can see it now

[2018-07-17 13:12] #1128 closed

[2018-07-17 13:14] sushilshinde commented on #1103
Working now

[2018-07-17 13:14] #1103 closed

[2018-07-17 13:30] sushilshinde opened #1131 "mm-feature-experiment branch : Can't unregister for the challenge"
https://test-community-app.topcoder-dev.com/challenges/30052113

https://beta-community-app.topcoder.com/challenges/30067759

[2018-07-17 13:46] birdofpreyru commented on #1131
@sushilshinde it works for me at https://beta-community-app.topcoder.com/challenges/30067759

[2018-07-17 13:51] birdofpreyru commented on #1126
@sushilshinde have you tried to call the API? https://api.topcoder.com/v4/challenges/?filter=status%3DCOMPLETED&limit=50&offset=0 , and further offsets, do not return any MMs, as far as I can see.

[2018-07-17 13:53] birdofpreyru commented on #1125
@sushilshinde and for new MMs that follow legacy format, with code submission to scoring engine?

[2018-07-17 13:57] sushilshinde commented on #1131
UI is disabled

![this is test mm do not register only for mm v4 testers](https://user-images.githubusercontent.com/683231/42821951-6a08ff68-89f7-11e8-9744-1249ff37207c.png)

[2018-07-17 14:01] sushilshinde commented on #1125
New will MM will not have any connection with the legacy format

any example?

[2018-07-17 14:30] birdofpreyru commented on #1126
@skyhit ok, but the current logic of _Data Science_ filter is not to show only MMs, it also shows any challenges tagged with _Data Science_ tag, etc. Thus frontend does not add `subTrack=MARATHON_MATCH` to its API calls.

[2018-07-17 14:35] birdofpreyru commented on #1125
https://community.topcoder.com/tc?module=MatchDetails&rd=17203 - the ongoing 2018 TCO MM 3 challenge. How will we support such challenges if we do what you ask here, until you get correct support of them in API and frontend?

[2018-07-17 14:39] birdofpreyru commented on #1131
Ah, ok, but you have submitted to this MM already. The current logic is: you cannot unregister if you have submitted to the challenge.

[2018-07-17 15:01] sushilshinde commented on #1125
Working on a transition plan with Mess and Chris, will keep you updated.

[2018-07-17 16:08] ajefts commented on #1069
@birdofpreyru would you mind hooking the blockchain leaderboard to the API above?  Let's not enable the nav yet though.  Thanks.

[2018-07-17 22:38] a-lowe commented on #1126
@sushilshinde @birdofpreyru @skyhit
Some more information on the problem, it looks like there have been a few issues affecting MMs in the Challenge Listing:

1. For past challenges we're using this query: (https://api.topcoder.com/v4/challenges/?filter=status%3DCOMPLETED).  There are very few legacy MMs being returning by this.  The reason for this may be that most legacy MMs appear to have ```cur

[2018-07-18 03:14] birdofpreyru commented on #1069
@ajefts ok, it will up shortly, ~5 mins from now, at https://community-app.topcoder-dev.com/__community__/blockchain/leaderboard

There are these mismatches in the field names between current API response and what is expected by the leaderboard:
`challenge_stats.registrant_handle` should be `challenge_stats.winner_handle`
`challenge_stats.tco_points` should be just `points`

Also, the actual place

[2018-07-18 03:43] ajefts commented on #1069
Thanks.  I added the points field so that shows now.

Can you fix the sorting so it's sorted by points desc?  I think right now it's sorting by count of challenges.

You're right on the placements not matching.  We're still working on that...

[2018-07-18 04:15] ajefts commented on #1069
@birdofpreyru because of the way looker works, I had to name the column "handle" for winner_handle.  Can you adjust for that?  I can change the other API's for leaderboards to match if we need to.

[2018-07-18 12:46] sushilshinde commented on #1126
@a-lowe where is the code committed for this fix.

[2018-07-18 12:48] sushilshinde commented on #1126
@skyhit please comment on the issues that @a-lowe mentioned.

I think we had a discussion before about DRAFT challenges, they shouldn't be there even in ES.

[2018-07-18 14:03] skyhit commented on #1126
@sushilshinde

1. probably, you are right, https://api.topcoder.com/v4/challenges/?filter=subTrack%3DMARATHON_MATCH, there are 630 matches. I am looking into.
2. right.
3. DEVELOP_MARATHON_MATCH are banner marathon matches

[2018-07-18 15:31] birdofpreyru commented on #1069
@ajefts updated

[2018-07-18 15:57] skyhit commented on #1126
@a-lowe @sushilshinde  @birdofpreyru  the problem should be fixed, can you help double check

[2018-07-18 16:21] a-lowe commented on #1126
@skyhit Looks good, thanks.

[2018-07-18 16:59] #1130 closed

[2018-07-18 16:59] #1124 closed

[2018-07-18 16:59] #1093 closed

[2018-07-19 04:43] dedywahyudi commented on #1110
@ajefts @urwithat Can you help which icon we should use to change current payment icon?

[2018-07-19 16:51] ajefts opened #1132 "Add catalog page for Topgear"
Add a blank page/viewport on topgear.  It will be used to build a catalog just like we did for the cs site.  Don't add it to the top nav yet.

[2018-07-19 16:51] ajefts commented on #1132
@birdofpreyru think you could do this one in the next couple of days please?

[2018-07-19 16:51] ajefts commented on #1132
fyi @aah-74

[2018-07-20 00:29] birdofpreyru commented on #1132
@ajefts it is ready in dev.

The page: https://community-app.topcoder-dev.com/__community__/wipro/catalog (right at the moment it is not possible to access TopGear community in dev, it stucks in infinit authentication loop, I guess there is some problem with member service, preventing the app to pull user groups).

The viewport in Contentful: https://app.contentful.com/spaces/b5f1djy59z3a/entries/

[2018-07-20 10:53] kkartunov commented on #1063
Done.

[2018-07-20 10:53] #1063 closed

[2018-07-20 18:25] NehaSharma02 opened #1134 "Blank page after selecting details for payments"
Steps to reproduce:

1. Visit payment.topcoder.com
2. Made payment for a member on a project
3. If select the details, the blank(white) page will appear

@birdofpreyru
@ajefts

[2018-07-20 21:22] cwdcwd commented on #1134
@NehaSharma02 this is the wrong repo. Please move this issue to [here](https://github.com/topcoder-platform/topcoder-payment-tool)

[2018-07-21 00:01] a-lowe commented on #1125
Hi @sushilshinde, just wanted to follow up on the previous commits and see if there is anything else that needs to be changed or fixed for legacy MMs in Community App.  Thanks.

[2018-07-23 09:54] sushilshinde opened #1135 "mm-feature-experiment branch : Add new features on MM details page"
### Specs
Add support for two new features for MMs

1. Submissions grouped by the handle (I have done some modifications)

These are rough specs, @birdofpreyru @skyhit please do comment on these

#### UI/UX
Omit red blocks from the implementation

![screen shot 2018-07-24 at 7 19 37 pm](https://user-images.githubusercontent.com/683231/43143169-c22c9508-8f77-11e8-97ff-6cb9204642f8.png)

### API Dep

[2018-07-24 10:22] ajefts commented on #1132
Thanks @birdofpreyru

btw...the dev login is ok now...

[2018-07-24 10:29] ajefts commented on #1132
@birdofpreyru What would it take to get this content put into it's own space?

[2018-07-24 17:39] birdofpreyru commented on #1132
@ajefts As I told before, it should not be too difficult to do.

[2018-07-24 18:08] ajefts commented on #1132
mind spinning up a challenge for it? I'd like to set us up so we can specify the space per site.  It's becoming pretty cluttered and I want to be able to leverage the user provisioning per space...

[2018-07-24 19:30] kkartunov commented on #1132
@birdofpreyru please if you do so also consider add [environment](https://www.contentful.com/developers/docs/references/content-management-api/#/reference/environments) support too. This will enable dev/prod setups per space which will be very useful for development needs.

[2018-07-24 20:37] hokienick opened #1136 "Formatting in Content Blocks on How-To pages"
Content blocks in the "How To" pages are not acting like a typical content block in a viewport.  Ex:

**Writing Content in Contentful**
<img width="772" alt="screen shot 2018-07-17 at 11 40 09 am" src="https://user-images.githubusercontent.com/1373998/43164666-95535e62-8f46-11e8-8cea-3cec9d0d1aa9.png">

**Output**
<img width="756" alt="screen shot 2018-07-17 at 11 40 01 am" src="https://user-image

[2018-07-24 22:49] birdofpreyru commented on #1132
Ok, here we go: https://www.topcoder.com/challenges/30068306

[2018-07-26 14:54] NehaSharma02 opened #1137 "To remove decimal place and put comma in member count"
Take out the decimal place and round to nearest dollar and put in a comma into the community member count from Topgear Homepage.

![image 1](https://user-images.githubusercontent.com/37835397/43271278-bc248e06-9114-11e8-98ff-0a5586ebd6d8.png)

@ajefts @birdofpreyru

[2018-07-28 08:22] sushilshinde opened #1138 "Community App Performance : Server Calls"
The goal of this report is to identify non-essential components that are in between the user and first user interaction.

**Browser**: Google Canary
**URL**: https://beta-community-app.topcoder.com/challenges
**Audit Tool:** Chrome Lighthouse
**Lighthouse Audit Profile**: Desktop, Simulated Fast 3G, 4x slowdown CPU throttling

It took more than 18 secs to become page interactive for the logged-in

[2018-07-30 09:28] JayaDhaka opened #1139 "Issue in timezone calculations"
Website:  https://www.topcoder.com/challenges/30068438/?type=develop&tab=submissions

Online Review: https://software.topcoder.com/review/actions/ViewProjectDetails?method=viewProjectDetails&pid=30068438

For the above challenge, the user with this handle shubhamranjan is the first to submit for the challenge on 29th July 2018 at 13:00hrs but the submission time reflecting in OR and website is inc

[2018-07-30 14:51] ajefts commented on #1137
@birdofpreyru can you do this change this week?

[2018-07-31 14:15] #1137 closed

[2018-07-31 14:15] #1136 closed

[2018-08-01 19:29] hokienick opened #1141 "Formatting of <p> and header tags"
The content blocks in the "FAQ" and "Extras" are not the same as the content displayed in the section above.  For example:

For Header Tags

**padding-top: 10px;** will be needed

For paragraph tags, I've noticed that even though I double space in the WYSIWYG there is no spacing whatsoever for new paragraphs.  Could we get:

**padding: 10px 0;**

This will make content look much better!  Thank you

[2018-08-01 20:20] hokienick commented on #1141
That being said, it seems italics aren't working in the How-To content section either.

[2018-08-02 09:13] JayaDhaka opened #1142 "Getting error when trying to access a challenge"
When trying to access this challenge https://www.topcoder.com/challenges/30068678/?type=develop an error message popped up saying "cannot read property 'forEach' of undefined"

Please check and resolve.

![image 5](https://user-images.githubusercontent.com/34749364/43574457-d9cb6900-9661-11e8-90e1-5f9689cd4e3d.png)

@birdofpreyru

[2018-08-02 18:28] jmpld40 opened #1143 "TCO eligible challenges"
hey instead of "2019 Topcoder Open" can we use the TCO19 logo. see here on the challenge details page.
https://www.topcoder.com/challenges/30068680

[2018-08-03 17:26] birdofpreyru commented on #1141
@hokienick should be fine now, please open a new issues if you still see irregularities (please, with a link to the page, where they happen)

[2018-08-03 17:26] #1141 closed

[2018-08-03 17:28] birdofpreyru commented on #1142
@JayaDhaka fixed, though it looks like there is some problem with that challenge at the backend side: (1) API response for that challenge missed some data that all challenges have; (2) it looks like a private payment, though it is visible to me after fixes, and I don't know what is the *Styx* project, thus probably should not be able to see it.

[2018-08-03 17:28] #1142 closed

[2018-08-03 17:34] birdofpreyru commented on #1139
@JayaDhaka it is not *community-app* problem, I believe, but a long time known API bug, which I am not sure why is not solved still. The api tells *2018-07-28T09:33:51Z* is the time of *shubhamranjan*'s submission i.e. it wrongly claims that the date/time are given in UTC+0 timezone.

[2018-08-04 11:53] birdofpreyru opened #1144 "Broken mobile layout at challenge details page"
https://www.topcoder.com/challenges/30068755/?type=develop&nocache=true
https://www.topcoder.com/challenges/30068553/?type=develop&nocache=true

[2018-08-05 16:47] birdofpreyru commented on #1132
@ajefts @kkartunov

**Update here**

I run the challenge with $800/$400 prizes, got 1 submission, which passed with a minimal score 80.33, which resulted from a split decision: one reviewer (**MonicaMurani**) failed it with 73.17 as incorrect implementation, which also breaks existing functionality; while the second reviewer (**reynard2007**) approved the submission with 87.5 score. I tested submi

[2018-08-06 05:41] kkartunov commented on #1132
I faced the same situation with navi/menu functionality challenge. It is so unpleasant hence the idea to take things in own hands is logical.
We are allowed as copilots to reset the score of an inappropriate review. Probably it was late to do so...?

[2018-08-06 12:26] sushilshinde commented on #1135
@birdofpreyru we have API support for this submission page. Please assign this task.

![screen shot 2018-08-06 at 5 54 37 pm](https://user-images.githubusercontent.com/683231/43716507-ee682568-99a1-11e8-8f26-5ba628a18f70.png)

[2018-08-06 13:33] ajefts commented on #1132
@birdofpreyru I cases like this I like to add a 3rd reviewer.  Since you already took the time to do the review, do you want formally fill out the scorecard and let the submission naturally fail.

Raising the issue to support is also appropriate so we can address review performance issues.

I'd prefer to repost a challenge instead of doing it as a task...

[2018-08-06 13:54] ajefts opened #1147 "tco19 Leaderboards"
Please hook up the following leaderboards:

Copilot:  http://api.topcoder.com/v4/looks/1067/run/json
Algo:  TDB
MM:  TBD
Dev:  http://api.topcoder.com/v4/looks/1059/run/json
F2F: http://api.topcoder.com/v4/looks/1061/run/json
Design:  http://api.topcoder.com/v4/looks/1068/run/json
QA:  http://api.topcoder.com/v4/looks/1058/run/json

[2018-08-06 14:30] ajefts commented on #1147
Hi @kkartunov

Here are the leaderboard APIs that we have so far.  Can you get them hooked up to the site?

[2018-08-06 14:48] birdofpreyru commented on #1132
@ajefts sure, I am happy to follow the way you say. Just need somebody's help then to re-open the challenge, add the scorecard, and fix the payments that have been done already.

[2018-08-06 15:01] ajefts commented on #1132
@riteshtc is up to speed and can help

[2018-08-07 08:50] kkartunov commented on #1147
Sure. Here they are:

Copilot: https://community-app.topcoder-dev.com/examples/contentful/tabs/3mBvbq4fbq6GIyqsiUWQY0
Algo: TDB
MM: TBD
Dev: https://community-app.topcoder-dev.com/examples/contentful/tabs/3o2PEqH4MgcmWa4co462KM
F2F: https://community-app.topcoder-dev.com/examples/contentful/tabs/3QATlOyqPmgqOMcyEKIkMY
Design: https://community-app.topcoder-dev.com/examples/contentful/tabs/3PlNpppb

[2018-08-07 19:08] jmpld40 commented on #882
hey @ajefts @birdofpreyru can we get this done asap? thanks much

[2018-08-08 11:28] birdofpreyru commented on #1132
@ajefts works in prod, if you access as https://community-app.topcoder.com/__community__/wipro/catalog
Indeed, it is shadowed by Home page if you go to http://topgear.topcoder.com/catalog I'll correct it later today

[2018-08-08 17:26] birdofpreyru commented on #1132
@ajefts
As of now, catalogs looks fine at: https://community-app.topcoder-dev.com/__community__/wipro/catalog
I believe, once last updates are in prod, it will also work there.

[2018-08-08 17:34] ajefts commented on #1132
ok, thanks.  I was trying to load it at www.topcoder.com/catalog

On Wed, Aug 8, 2018 at 1:26 PM Dr. Sergey Pogodin <notifications@github.com>
wrote:

[2018-08-08 17:41] birdofpreyru commented on #882
@jmpld40

Check this out: https://community-app.topcoder-dev.com/__community__/veterans

I have "contentfulized" the page, so further corrections can be done here: https://app.contentful.com/spaces/b5f1djy59z3a/entries/40IAAw08Z2meqMu24CEM0O

[2018-08-09 09:09] sushilshinde opened #1148 "UI Suggestions : Dashboard : Remove extra space, add animations"
_This is not a bug, don't fix it_

The current dashboard UI has a lot of whitespaces. And elements doesn't interact with the user visually (there is no feedback)

### Current UI

![loose 1](https://user-images.githubusercontent.com/683231/43889301-6e453b68-9be1-11e8-807a-e2a0d0300ff8.png)
![loose2](https://user-images.githubusercontent.com/683231/43889568-30a28e9a-9be2-11e8-998d-34d87b72d1af.png)

[2018-08-09 11:54] birdofpreyru commented on #1148
:point_up: @Dara-K

[2018-08-09 12:06] ThomasKranitsas commented on #1148
Another improvement would be to hide (maybe in a separate tab) the challenges where you have the `observer` role.

[2018-08-09 13:25] ajefts commented on #1148
@vic-topcoder ^^^

[2018-08-09 13:57] ajefts opened #1149 "Saving track - issue with UI"
When I save a track, the UI is not reflecting that it's saved until I refresh the page.

![image](https://user-images.githubusercontent.com/3812270/43903470-83a9f718-9bba-11e8-94f2-37accccdfb90.png)

[2018-08-09 14:16] vic-topcoder commented on #1148
There is a general need to update the TC UI to the latest from TC. The need to update the navigation is more pressing than the small changes in general UI. Let's talk about visual updates to community app before we start modifying small things.

[2018-08-09 16:19] ajefts commented on #1108
![](https://github.trello.services/images/mini-trello-icon.png) [Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-topcoder-x-for-bug-tickets)

[2018-08-09 16:20] ajefts commented on #1147
![](https://github.trello.services/images/mini-trello-icon.png) [Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-topcoder-x-for-bug-tickets)

[2018-08-09 16:20] ajefts commented on #1114
![](https://github.trello.services/images/mini-trello-icon.png) [Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-topcoder-x-for-bug-tickets)

[2018-08-09 16:21] ajefts commented on #1107
![](https://github.trello.services/images/mini-trello-icon.png) [Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-topcoder-x-for-bug-tickets)

[2018-08-09 16:23] ajefts commented on #1106
![](https://github.trello.services/images/mini-trello-icon.png) [Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-topcoder-x-for-bug-tickets)

[2018-08-09 16:26] ajefts opened #1150 "[$100] Profile shows in tablet view by default"
When I load the page in a standard browser size, the left menu icons are collapsing to tablet view.  It should be expanded with the labels...

![image](https://user-images.githubusercontent.com/3812270/43912112-5672b400-9bcf-11e8-90b3-408ab7fa15e6.png)

[2018-08-09 16:26] ajefts commented on #1150
![](https://github.trello.services/images/mini-trello-icon.png) [Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-topcoder-x-for-bug-tickets)

[2018-08-09 16:28] ajefts opened #1151 "Profile Setting UI Cleanup"
Clean up the UI for the settings pages.  We just need to focus on cleaning up the form layout.

Here is the design update.

https://marvelapp.com/1816996g/screen/45448641

Don't worry about the header/footer for now.  Just focus on the form layout and any font/sizing/spacing.

[2018-08-09 16:29] ajefts commented on #1151
![](https://github.trello.services/images/mini-trello-icon.png) [Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-topcoder-x-for-bug-tickets)

[2018-08-09 17:08] ajefts commented on #1149
![](https://github.trello.services/images/mini-trello-icon.png) [Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-topcoder-x-for-bug-tickets)

[2018-08-09 17:10] ajefts opened #1152 "[$15] Profile Settings - Move Skills above Education"
Reorder the left nav so Skills is 2nd.

![image](https://user-images.githubusercontent.com/3812270/43914326-9c447d0a-9bd5-11e8-9bb0-f694566d130c.png)

[2018-08-09 17:11] ajefts commented on #1152
![](https://github.trello.services/images/mini-trello-icon.png) [Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-topcoder-x-for-bug-tickets)

[2018-08-09 17:12] ajefts opened #1153 "[$20] Profile Settings: Device Types"
Add the following to the list:

- Wearable
- Other

[2018-08-09 17:12] ajefts commented on #1153
![](https://github.trello.services/images/mini-trello-icon.png) [Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-topcoder-x-for-bug-tickets)

[2018-08-09 17:14] ajefts opened #1154 "Profile Settings - Add Service Providers"
Add the following to the Types:

- Television
- Other

[2018-08-09 17:14] ajefts commented on #1154
![](https://github.trello.services/images/mini-trello-icon.png) [Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-topcoder-x-for-bug-tickets)

[2018-08-09 17:18] ajefts opened #1155 "[$50] Profile Settings - email change verification issue"
When I get the email after I change my email and select the option to "Disagree" with the change, I'm getting this:

![image](https://user-images.githubusercontent.com/3812270/43914732-ad872ec2-9bd6-11e8-8a8a-3cf0f12c293b.png)

[2018-08-09 17:21] ajefts opened #1156 "[$20] Profile Settings - button text wrapping"
Buttons with longer labels seem to be wrapping.  Here is an example:

![image](https://user-images.githubusercontent.com/3812270/43914899-2709ed02-9bd7-11e8-9c50-75e0975720b6.png)

[2018-08-10 06:07] kkartunov commented on #1147
Is this card on private board? I get "Card not found." error. What is it about and how it is related to tco19 leaderboards?

[2018-08-10 07:39] sushilshinde commented on #1135
@birdofpreyru I think submitter changed UI for all types of challenges. Spec was to just use this new UI for MM pages and normalize new data model to old UI. Because Rank and history on the UI doesn't make sense for dev and design.

We need to fix this.

[2018-08-10 13:13] birdofpreyru commented on #1135
@sushilshinde oh, I understood it that we want to update the tab in similar way for all challenge types (that's also what @ajefts told at some point, that we want to have those expandable rows for all challenges), so that what I asked for the F2F specs

In principle, it makes sense, e.g. this challenge: https://www.topcoder.com/challenges/30068755?tab=submissions where the winner did 3 submissions

[2018-08-10 13:51] birdofpreyru commented on #1135
@sushilshinde just hiding two Rank columns?

[2018-08-10 17:39] ThomasKranitsas commented on #1106
@ajefts We changed the implementation so we read/write the bio from/to the `description` property of the `MemberProfiles` table.

Anything else pending on this ticket?

[2018-08-10 17:42] ThomasKranitsas commented on #1114
@ajefts do we still need this? In this challenge https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069040 every time a user updates his/her profile data we show this https://marvelapp.com/8gc9e84/screen/44675024 modal and we set the user consent property based on the answer from this modal.

I think we can close this ticket

[2018-08-10 17:43] ThomasKranitsas commented on #1150
The issue is that we're using the wrong breakpoints.

[2018-08-10 19:47] cwdcwd commented on #1156
Contest https://www.topcoder.com/challenges/30069249 has been created for this ticket.

[2018-08-10 19:49] cwdcwd commented on #1156
Contest https://www.topcoder.com/challenges/30069249 has been updated - the new changes has been updated for this ticket.

[2018-08-10 19:49] cwdcwd commented on #1156
Contest https://www.topcoder.com/challenges/30069249 has been updated - the new changes has been updated for this ticket.

[2018-08-10 20:25] ThomasKranitsas commented on #1156
Contest https://www.topcoder.com/challenges/30069249 has been updated - it has been assigned to lazybaer.

[2018-08-11 09:10] sushilshinde commented on #1135
Yeah

[2018-08-11 11:47] ThomasKranitsas commented on #1153
I'll fix that by myself as it also requires backend changes

[2018-08-11 11:54] ThomasKranitsas commented on #1153
Contest https://www.topcoder.com/challenges/30069258 has been created for this ticket.

[2018-08-11 11:54] ThomasKranitsas commented on #1153
Contest https://www.topcoder.com/challenges/30069258 has been updated - the new changes has been updated for this ticket.

[2018-08-11 11:54] ThomasKranitsas commented on #1153
Contest https://www.topcoder.com/challenges/30069258 has been updated - it has been assigned to thomaskranitsas.

[2018-08-11 12:37] #1153 closed

[2018-08-11 12:37] ThomasKranitsas commented on #1153
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069258

[2018-08-11 17:03] ThomasKranitsas commented on #1150
Contest https://www.topcoder.com/challenges/30069265 has been created for this ticket.

[2018-08-11 17:03] ThomasKranitsas commented on #1150
Contest https://www.topcoder.com/challenges/30069265 has been updated - the new changes has been updated for this ticket.

[2018-08-11 17:04] ThomasKranitsas commented on #1150
Update the breakpoints based on the following requirements:
### Desktop
Anything from `1025px` and above

### Tablet
From `769px` to `1024px`

### Mobile
Anything bellow `768px`

[2018-08-11 17:12] ThomasKranitsas commented on #1155
Contest https://www.topcoder.com/challenges/30069267 has been created for this ticket.

[2018-08-11 17:12] ThomasKranitsas commented on #1155
Contest https://www.topcoder.com/challenges/30069267 has been updated - the new changes has been updated for this ticket.

[2018-08-11 17:13] gurmeetb commented on #1154
@Thomas can you please assign this to me ?

[2018-08-11 17:13] ThomasKranitsas commented on #1154
Contest https://www.topcoder.com/challenges/30069270 has been created for this ticket.

[2018-08-11 17:14] ThomasKranitsas commented on #1154
Contest https://www.topcoder.com/challenges/30069270 has been updated - the new changes has been updated for this ticket.

[2018-08-11 17:15] ThomasKranitsas commented on #1152
Contest https://www.topcoder.com/challenges/30069273 has been created for this ticket.

[2018-08-11 17:15] ThomasKranitsas commented on #1152
Contest https://www.topcoder.com/challenges/30069273 has been updated - the new changes has been updated for this ticket.

[2018-08-11 17:16] ThomasKranitsas commented on #1154
@gurmeetb you can start working on this. I'll assign the ticket to you in a bit

[2018-08-11 17:17] ThomasKranitsas commented on #1149
Contest https://www.topcoder.com/challenges/30069275 has been created for this ticket.

[2018-08-11 17:17] ThomasKranitsas commented on #1149
Contest https://www.topcoder.com/challenges/30069275 has been updated - the new changes has been updated for this ticket.

[2018-08-11 17:32] ThomasKranitsas commented on #1107
I'm not really sure if it's a good idea to allow a user to set anything as a gender.
I believe just `Male`, `Female`, `Prefer not to answer` is enough.

[2018-08-11 17:33] ThomasKranitsas commented on #1154
Contest https://www.topcoder.com/challenges/30069270 has been updated - it has been assigned to gurmeetb.

[2018-08-11 17:33] narekcat commented on #1155
@ThomasKranitsas please assign this issue to me. I follow the link provided in challenge forum and I didn't get any error.

[2018-08-11 17:34] ThomasKranitsas commented on #1155
Contest https://www.topcoder.com/challenges/30069267 has been updated - it has been assigned to Narekvar90.

[2018-08-11 17:35] ThomasKranitsas commented on #1155
@narekcat it's yours ;) Follow the same process on other tickets. Just comment on the ticket and I'll add you.

[2018-08-11 17:36] narekcat commented on #1155
@ThomasKranitsas Ok, thank you very much.

[2018-08-11 17:37] asadath1395 commented on #1150
I would like to work on this one

[2018-08-11 17:39] ThomasKranitsas commented on #1150
Contest https://www.topcoder.com/challenges/30069265 has been updated - it has been assigned to thomaskranitsas.

[2018-08-11 17:39] ThomasKranitsas commented on #1150
@asadath1395 are you registered on this https://www.topcoder.com/challenges/30069264?tab=details challenge?
If not please register and follow the link from the challenge forum otherwise I can't add you to any ticket

[2018-08-11 17:41] ThomasKranitsas commented on #1107
Contest https://www.topcoder.com/challenges/30069278 has been created for this ticket.

[2018-08-11 17:41] ThomasKranitsas commented on #1107
Contest https://www.topcoder.com/challenges/30069278 has been updated - the new changes has been updated for this ticket.

[2018-08-11 17:43] ThomasKranitsas commented on #1150
Contest https://www.topcoder.com/challenges/30069265 has been updated - it has been assigned to sadathanwar17.

[2018-08-11 17:43] ThomasKranitsas commented on #1150
Ok, I've assigned this ticket to you.

[2018-08-11 17:56] ThomasKranitsas commented on #1150
@asadath1395 please keep working on this ticket. Ignore the changes on the assignees. I'm doing some tests

[2018-08-11 17:57] ThomasKranitsas commented on #1150
Contest https://www.topcoder.com/challenges/30069265 has been updated - it has been assigned to thomaskranitsas.

[2018-08-11 17:57] ThomasKranitsas commented on #1150
Contest https://www.topcoder.com/challenges/30069265 has been updated - it has been assigned to sadathanwar17.

[2018-08-11 18:01] ThomasKranitsas commented on #1150
Contest https://www.topcoder.com/challenges/30069265 has been updated - it has been assigned to thomaskranitsas.

[2018-08-11 18:02] ThomasKranitsas commented on #1150
Contest https://www.topcoder.com/challenges/30069265 has been updated - it has been assigned to sadathanwar17.

[2018-08-11 18:11] ThomasKranitsas commented on #1057
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:11] #1057 closed

[2018-08-11 18:12] ThomasKranitsas commented on #1054
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:12] #1054 closed

[2018-08-11 18:12] ThomasKranitsas commented on #1052
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:12] #1052 closed

[2018-08-11 18:12] ThomasKranitsas commented on #1051
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:12] #1051 closed

[2018-08-11 18:17] gurmeetb commented on #1156
@Thomas please assign me this

[2018-08-11 18:17] ThomasKranitsas commented on #1156
Contest https://www.topcoder.com/challenges/30069249 has been updated - it has been assigned to gurmeetb.

[2018-08-11 18:25] ThomasKranitsas commented on #996
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:25] #996 closed

[2018-08-11 18:26] ThomasKranitsas commented on #994
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:26] #994 closed

[2018-08-11 18:26] ThomasKranitsas commented on #992
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:26] #992 closed

[2018-08-11 18:26] #991 closed

[2018-08-11 18:27] ThomasKranitsas commented on #988
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:27] #988 closed

[2018-08-11 18:27] ThomasKranitsas commented on #984
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:27] #984 closed

[2018-08-11 18:28] ThomasKranitsas commented on #972
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:28] #972 closed

[2018-08-11 18:28] ThomasKranitsas commented on #965
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:28] #965 closed

[2018-08-11 18:28] ThomasKranitsas commented on #964
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:28] #964 closed

[2018-08-11 18:29] ThomasKranitsas commented on #960
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:29] #960 closed

[2018-08-11 18:29] ThomasKranitsas commented on #957
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:29] #957 closed

[2018-08-11 18:29] ThomasKranitsas commented on #954
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:29] #954 closed

[2018-08-11 18:29] ThomasKranitsas commented on #953
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:29] #953 closed

[2018-08-11 18:30] ThomasKranitsas commented on #951
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:30] #951 closed

[2018-08-11 18:30] ThomasKranitsas commented on #950
Closing this as it's no longer a valid issue. That part of the platform will be replaced by the updated page.

[2018-08-11 18:30] #950 closed

[2018-08-11 18:30] Gauravseta commented on #1152
@ThomasKranitsas please assign me to this issue. i have started working and near to complete it.

[2018-08-11 18:31] ThomasKranitsas commented on #1152
@Gauravseta are you registered on this https://www.topcoder.com/challenges/30069264?tab=details challenge?
If not please register and follow the link from the challenge forum otherwise I can't add you to any ticket

[2018-08-11 18:32] ThomasKranitsas commented on #949
Closing this as it'll be replaced by the updated page.

[2018-08-11 18:32] #949 closed

[2018-08-11 18:32] ThomasKranitsas commented on #944
Closing this as it'll be replaced by the updated page.

[2018-08-11 18:32] #944 closed

[2018-08-11 18:32] ThomasKranitsas commented on #943
Closing this as it'll be replaced by the updated page.

[2018-08-11 18:32] #943 closed

[2018-08-11 18:32] ThomasKranitsas commented on #939
Closing this as it'll be replaced by the updated page.

[2018-08-11 18:32] #939 closed

[2018-08-11 18:33] ThomasKranitsas commented on #935
Closing this as it'll be replaced by the updated page.

[2018-08-11 18:33] #935 closed

[2018-08-11 18:33] ThomasKranitsas commented on #933
Closing this as it'll be replaced by the updated page.

[2018-08-11 18:33] #933 closed

[2018-08-11 18:33] PrakashDurlabhji commented on #1107
i am not able to assing it. @ThomasKranitsas can you please assing? working on it. to whomsoever wana take please note i have already taken it

[2018-08-11 18:34] ThomasKranitsas commented on #931
Configuration issue. Not a valid issues on this repo

[2018-08-11 18:34] #931 closed

[2018-08-11 18:35] ThomasKranitsas commented on #1107
@PrakashDurlabhji are you registered on this https://www.topcoder.com/challenges/30069264?tab=details challenge?
If not please register and follow the link from the challenge forum otherwise I can't add you to any ticket

[2018-08-11 18:35] ThomasKranitsas commented on #1152
Contest https://www.topcoder.com/challenges/30069273 has been updated - it has been assigned to gauravseta.

[2018-08-11 18:35] ThomasKranitsas commented on #1152
Ok, I've assigned this to you

[2018-08-11 18:36] Gauravseta commented on #1152
@ThomasKranitsas yes i registered already

[2018-08-11 18:38] PrakashDurlabhji commented on #1107
@ThomasKranitsas its done. can you please check?

[2018-08-11 18:40] ThomasKranitsas commented on #1107
Did you get any invitation on your email? I still can't find you

[2018-08-11 18:41] ThomasKranitsas commented on #1107
Did you use this https://x.topcoder.com/api/v1/github/teams/registration/887210ad-9ed5-4641-b0ff-12b1d8191d63-1533938364810 link?

[2018-08-11 18:41] ThomasKranitsas commented on #919
Closing this as it'll be replaced by the updated page.

[2018-08-11 18:41] #919 closed

[2018-08-11 18:42] ThomasKranitsas commented on #917
Closing this as it'll be replaced by the updated page.

[2018-08-11 18:42] #917 closed

[2018-08-11 18:42] PrakashDurlabhji commented on #1107
@ThomasKranitsas its finally done i guess. can you please try once more thanks

[2018-08-11 18:42] ThomasKranitsas commented on #1107
Contest https://www.topcoder.com/challenges/30069278 has been updated - it has been assigned to PkDurlabhji.

[2018-08-11 18:43] ThomasKranitsas commented on #1107
Done

[2018-08-11 18:44] ThomasKranitsas commented on #909
Closing as it's not a valid issue

[2018-08-11 18:44] #909 closed

[2018-08-11 18:45] ThomasKranitsas commented on #899
Closing this as it'll be replaced by the updated page.

[2018-08-11 18:45] #899 closed

[2018-08-11 18:45] ThomasKranitsas commented on #897
Closing this as it'll be replaced by the updated page.

[2018-08-11 18:45] #897 closed

[2018-08-11 18:45] ThomasKranitsas commented on #893
Closing this as it'll be replaced by the updated page.

[2018-08-11 18:45] #893 closed

[2018-08-11 18:45] ThomasKranitsas commented on #891
Closing this as it'll be replaced by the updated page.

[2018-08-11 18:45] #891 closed

[2018-08-11 18:47] rashmi73 commented on #1149
@ThomasKranitsas i work on this ,not able to,assigning me?

[2018-08-11 18:47] ThomasKranitsas commented on #1149
Contest https://www.topcoder.com/challenges/30069275 has been updated - it has been assigned to rashmi73.

[2018-08-11 18:47] ThomasKranitsas commented on #1149
Sure thing!

[2018-08-11 19:57] gurmeetb commented on #1156
@ThomasKranitsas Sorry I cannot change status to "Ready for review" - Kindly validate, it fixed and pushed in.

[2018-08-11 19:58] ThomasKranitsas commented on #1156
Will check.. Thanks!

[2018-08-11 20:34] Gauravseta commented on #1152
@ThomasKranitsas i am not able to change the label. can you pleas help thanks.
can you please mark it ready for review as PR has been raised. #1160

[2018-08-11 20:35] Gauravseta commented on #1152
@ThomasKranitsas wont i be able to change the labels?

[2018-08-11 20:36] ThomasKranitsas commented on #1152
I'm not sure what's wrong with this repo... I guess only copilots/admins can modify the tickets.

Not something to worry though. Just a comment is enough ;)

[2018-08-11 20:37] Gauravseta commented on #1152
@ThomasKranitsas ok np thanks. any more open for pickup issues in this contest? thanks

[2018-08-11 20:38] ThomasKranitsas commented on #1152
Yeah, there will be more tickets soon

[2018-08-11 20:58] PrakashDurlabhji commented on #1107
@ThomasKranitsas why no label change possible? its ready and PR raised.

#1161

[2018-08-11 20:59] ThomasKranitsas commented on #1107
I believe only copilots/admins can modify the tickets on this repo. Don't worry about that. Just comment on the ticket and I'll update it

[2018-08-11 21:05] #1152 closed

[2018-08-11 21:05] ThomasKranitsas commented on #1152
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069273

[2018-08-11 21:10] #1156 closed

[2018-08-11 21:10] ThomasKranitsas commented on #1156
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069249

[2018-08-11 21:16] #1107 closed

[2018-08-11 21:17] ThomasKranitsas commented on #1107
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069278

[2018-08-11 21:25] rashmi73 commented on #1149
On running npm run dev, then going to settings profile page, then updatng bio/desc , then clicking on save changes,
Error popup comes saying " unable to connect to , please contact support@topcoder.com".
am i only one getting such error?
@ThomasKranitsas

[2018-08-11 21:42] ThomasKranitsas opened #1162 "[$100] Profile - Basic info validation"
Currently, the `Save Changes` button is enabled only when the form is valid but there's no indication about the required fields which is bad UX.

You need to:
- Add a `* Required` text with a small red (use `$tc-red-110`) font (use `11px`) next to the field label.
- Always keep the `Save Changes` button enabled.
- Mimic the validation error of the rest of the traits and show a similar message when

[2018-08-11 21:43] ThomasKranitsas commented on #1162
@topcoder-platform/topcodercompetitors  new ticket available for pickup

[2018-08-11 21:46] ThomasKranitsas commented on #1162
Contest https://www.topcoder.com/challenges/30069282 has been created for this ticket.

[2018-08-11 21:47] PrakashDurlabhji commented on #1162
can you please assign it to me thanks

[2018-08-11 21:47] ThomasKranitsas commented on #1162
Contest https://www.topcoder.com/challenges/30069282 has been updated - it has been assigned to PkDurlabhji.

[2018-08-11 21:47] ThomasKranitsas commented on #1162
Done

[2018-08-11 21:48] ThomasKranitsas commented on #1162
Contest https://www.topcoder.com/challenges/30069282 has been updated - the new changes has been updated for this ticket.

[2018-08-11 21:52] ThomasKranitsas commented on #1149
testing...

[2018-08-11 21:57] ThomasKranitsas commented on #1149
Please do a `git pull`. I've made some backend changes that may cause this issue on your end because you're using an outdated version. Let me know if that doesn't work. I just tried and it worked fine on my end.

[2018-08-11 22:04] ThomasKranitsas opened #1163 "[$80] Profile - Fix flickering issue on the basic info page"
Currently, when you open the `Basic Info` page in the `Profile` settings page, the page is re-rendering few times and until the page stops re-rendering and becomes stable, if the user changes anything, it will reset to the original value.

That creates a terrible UX.

This needs to be fixed so the page works smoothly and doesn't "flicker" anymore.

Video:
- http://take.ms/VKlHd

**Please note that

[2018-08-11 22:05] ThomasKranitsas commented on #1163
@topcoder-platform/topcodercompetitors new ticket available for pickup

[2018-08-11 22:09] ThomasKranitsas commented on #1163
Contest https://www.topcoder.com/challenges/30069284 has been created for this ticket.

[2018-08-11 22:11] ThomasKranitsas commented on #1163
Contest https://www.topcoder.com/challenges/30069284 has been updated - the new changes has been updated for this ticket.

[2018-08-11 22:23] ThomasKranitsas opened #1164 "[$30] Profile - Fix member statistics layout"
As you can see in the image below, each statistics group is centered and has a fixed width which doesn't look good.

<img width="1445" alt="screen shot 2018-08-12 at 01 19 49" src="https://user-images.githubusercontent.com/4612921/43996558-e7c5ef30-9dcd-11e8-8afd-64e54e5e74f1.png">

You need to fix that so it matches the current implementation of the live site (https://www.topcoder.com/members/tho

[2018-08-11 22:25] ThomasKranitsas commented on #1043
@topcoder-platform/topcodercompetitors new ticket available for pickup

[2018-08-11 22:27] ThomasKranitsas commented on #1164
Contest https://www.topcoder.com/challenges/30069286 has been created for this ticket.

[2018-08-11 22:28] #918 closed

[2018-08-11 22:29] ThomasKranitsas commented on #1043
Contest https://www.topcoder.com/challenges/30069287 has been created for this ticket.

[2018-08-11 22:29] ThomasKranitsas commented on #1043
Contest https://www.topcoder.com/challenges/30069287 has been updated - the new changes has been updated for this ticket.

[2018-08-11 22:29] ThomasKranitsas commented on #1164
Contest https://www.topcoder.com/challenges/30069286 has been updated - the new changes has been updated for this ticket.

[2018-08-11 22:31] ThomasKranitsas commented on #1151
holding this one until https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069040 is merged

[2018-08-11 23:00] ThomasKranitsas commented on #1163
@Colinh84, please sign-up with Topcoder X tool

[2018-08-11 23:03] ThomasKranitsas commented on #1163
Contest https://www.topcoder.com/challenges/30069284 has been updated - it has been assigned to Colinh84.

[2018-08-12 01:05] suppermancool commented on #1043
@ThomasKranitsas i can't assign myself to this ticket or change the label, pls give me permission, thanks

[2018-08-12 01:05] suppermancool commented on #1164
@ThomasKranitsas i can't assign myself to this ticket or change the label, pls give me permission, thanks

[2018-08-12 01:34] meggamind commented on #1164
working on this, please assign it to me

[2018-08-12 06:29] gurmeetb commented on #1151
Is this ready for pickup? if yes, could you assign me?

[2018-08-12 08:12] suppermancool commented on #1043
Right now the server api return empty skill, nothing to do with the client app right now, pls check

https://api.topcoder-dev.com/v3/members/wendell/skills

[2018-08-12 09:32] Gauravseta commented on #1151
@ThomasKranitsas i am near to start working on it. can you please assign it to me. thanks

[2018-08-12 09:35] ThomasKranitsas commented on #1151
@gurmeetb @Gauravseta please see my comment above. This will be open for pickup once the challenge is completed and the code is merged ;)

[2018-08-12 09:36] ThomasKranitsas commented on #1043
Contest https://www.topcoder.com/challenges/30069287 has been updated - it has been assigned to diazz.

[2018-08-12 09:37] ThomasKranitsas commented on #1043
@suppermancool let me check that.. I may have to do some fixes on the backend first. I'll keep you updated

[2018-08-12 09:38] ThomasKranitsas commented on #1164
@meggamind are you registered on this https://www.topcoder.com/challenges/30069264?tab=details challenge?
If not please register and follow the link from the challenge forum otherwise I can't add you to any ticket

[2018-08-12 12:47] gurmeetb commented on #1164
is this still open for pickup? if yes, kindly assign me as i am already registered on challenge. Thanks.

[2018-08-12 12:51] Gauravseta commented on #1164
@ThomasKranitsas even m registered on this challenge u can assign it to me too.

[2018-08-12 12:53] ThomasKranitsas commented on #1164
Contest https://www.topcoder.com/challenges/30069286 has been updated - it has been assigned to gurmeetb.

[2018-08-12 12:54] ThomasKranitsas commented on #1164
@gurmeetb I'm assigning this to you as I haven't heard back from @meggamind and you asked first

[2018-08-12 13:16] gurmeetb commented on #1164
Thanks - working on it now

[2018-08-12 15:34] sandipanghos commented on #668
Please assign me the ticket sandipanghosh64@gmail.com username  sandipanghos and put appropriate label.

@cdngirl after each ticket complete do i need to create a pull request using the link
https://x.topcoder.com/api/v1/github/teams/registration/887210ad-9ed5-4641-b0ff-12b1d8191d63-1533938364810

[2018-08-12 15:59] gurmeetb commented on #1164
@ThomasKranitsas It is coming up fine for me - https://cl.ly/2I3u2a162i3r

Kindly suggest if I am not looking at right place ?

[2018-08-12 16:02] ThomasKranitsas commented on #1164
@gurmeetb example: https://community-app.topcoder-dev.com/members/TonyJ

[2018-08-12 16:03] ThomasKranitsas commented on #1164
I get the same when I run the app locally.
Note that the production site shows the legacy page which doesn't have that issue.

[2018-08-12 16:06] ThomasKranitsas commented on #1150
@asadath1395 just checking on this. It's been 22 hours since you started working on it. Note that you can only keep a ticket for 24h then you have to open it for pickup again.

[2018-08-12 16:07] ThomasKranitsas commented on #1155
@narekcat  just checking on this. It's been 23 hours since you started working on it. Note that you can only keep a ticket for 24h then you have to open it for pickup again.

[2018-08-12 16:10] sadathanwar17 commented on #1150
@ThomasKranitsas Little bit busy right now, so won't be able to complete this. Please open it for others to pick it up.

[2018-08-12 16:11] ThomasKranitsas commented on #1150
@topcoder-platform/topcodercompetitors this is now open for pickup

[2018-08-12 16:11] sandipanghos commented on #1150
@ThomasKranitsas  please assign me the ticket.

[2018-08-12 16:12] ThomasKranitsas commented on #1150
Contest https://www.topcoder.com/challenges/30069265 has been updated - it has been assigned to sandipanghosh64.

[2018-08-12 16:12] ThomasKranitsas commented on #1150
@sandipanghos sure

[2018-08-12 16:13] sandipanghos commented on #1150
Thanks

[2018-08-12 16:13] ThomasKranitsas commented on #989
@topcoder-platform/topcodercompetitors new ticket available for pickup

[2018-08-12 16:14] ThomasKranitsas commented on #1047
@topcoder-platform/topcodercompetitors new ticket available for pickup

[2018-08-12 16:26] Gauravseta commented on #989
@ThomasKranitsas can you please assign me this. thanks

[2018-08-12 16:27] ThomasKranitsas commented on #989
Contest https://www.topcoder.com/challenges/30069297 has been updated - it has been assigned to gauravseta.

[2018-08-12 16:29] ThomasKranitsas commented on #1150
There are many ways to do it but what I recommend is:
- Fork the repo
- Clone your forked repo locally (eg `git clone https://github.com/ThomasKranitsas/community-app`
- Add our repo as `upstream` (eg `git remote add upstream https://github.com/topcoder-platform/community-app`)
- `git fetch upstream` (always do that before you create a new branch to get the latest code)
- Create a new branch `git

[2018-08-12 16:31] narekcat commented on #1155
@ThomasKranitsas I were busy last 24 hours, just can't complete another challenge, so won't be able to complete this. Please open it for others to pick it up. Sorry for inconveniences.

[2018-08-12 16:32] ThomasKranitsas commented on #1155
No worries!

@topcoder-platform/topcodercompetitors this is now available for pickup

[2018-08-12 16:56] meggamind commented on #1164
@ThomasKranitsas it was night here when you messaged. Was sleeping that’s why I didn’t reply? Also I was registered for the challenge already that’s I came here to the bugs. anyways isn’t there a 24 hour wait period ? You waited 8 hours. Lol

[2018-08-12 17:09] ThomasKranitsas commented on #1164
Sorry @meggamind but your account doesn't show up in the assignees list until you use the link I posted on the challenge forum to register to our Topcoder-X platform which means I can't really give you any ticket until you register there.
As you can see in the other ticket's I'm waiting for 24h before I remove anyone from a ticket.

The 24h wait period starts when you pick up a ticket (when I assi

[2018-08-12 19:45] rashmi73 commented on #1149
@ThomasKranitsas sometime it works , sometimes it doesnt. working on it.PR soon.

[2018-08-12 19:57] ThomasKranitsas commented on #1149
Ok, thanks for the update

[2018-08-12 20:10] ThomasKranitsas commented on #1155
Contest https://www.topcoder.com/challenges/30069267 has been updated - it has been assigned to gurmeetb.

[2018-08-12 20:11] gurmeetb commented on #1164
@thomas - it’s fine, kindly fee free to reassign to @meggarmind, i will pick up something else.

[2018-08-12 20:11] ThomasKranitsas commented on #1164
@meggamind are you still interested on this?

[2018-08-12 20:12] gurmeetb commented on #1155
please assign me this

[2018-08-12 20:25] ThomasKranitsas commented on #1150
@sandipanghos why do you need the backend code? We don't have a single code base for the backend. There are many microservices that have a separate code base.

The scope of this ticket is to fix the styles of all sub-pages of the settings page to update the breakpoints based on the requirements above. You also need to make sure the layout is not broken after your changes.

[2018-08-12 20:43] sandipanghos commented on #1150
@ThomasKranitsas ok.

[2018-08-12 22:27] ThomasKranitsas commented on #1048
Contest https://www.topcoder.com/challenges/30069300 has been updated - it has been assigned to gets0ul.

[2018-08-12 23:42] ekundayo-ab commented on #1163
Hi @ThomasKranitsas can I get access to work on this issue?

[2018-08-13 00:07] ekundayo-ab commented on #1164
@ThomasKranitsas can you assign me to this ticket?

[2018-08-13 02:14] suppermancool commented on #1164
@ThomasKranitsas can you assign me to this ticket?

[2018-08-13 02:14] suppermancool commented on #1163
hi @ThomasKranitsas can you assign me to this ticket?

[2018-08-13 02:15] suppermancool commented on #1047
@ThomasKranitsas can you assign me to this ticket?

[2018-08-13 09:48] ThomasKranitsas commented on #1047
Contest https://www.topcoder.com/challenges/30069298 has been updated - it has been assigned to diazz.

[2018-08-13 09:49] ThomasKranitsas commented on #1047
Sure, it's yours

[2018-08-13 09:49] ThomasKranitsas commented on #1163
Contest https://www.topcoder.com/challenges/30069284 has been updated - it has been assigned to ekundayo.

[2018-08-13 09:49] ThomasKranitsas commented on #1163
@ekundayo-ab it's yours

[2018-08-13 09:50] ThomasKranitsas commented on #1164
You're both assigned to another ticket.

[2018-08-13 09:54] #1048 closed

[2018-08-13 09:55] ThomasKranitsas commented on #1048
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069300

[2018-08-13 09:58] ThomasKranitsas commented on #1043
This ticket requires more fixes. I'll open a new ticket

[2018-08-13 10:00] suppermancool commented on #1047
@ThomasKranitsas  fixed in https://github.com/topcoder-platform/community-app/pull/1166 pls check

[2018-08-13 10:01] suppermancool commented on #1164
@ThomasKranitsas i finished https://github.com/topcoder-platform/community-app/issues/1047, pls assigned me to this ticket

[2018-08-13 10:02] ThomasKranitsas opened #1167 "[$140] Profile - Change skills implementation in settings page"
<img width="1402" alt="screen shot 2018-08-13 at 12 59 28" src="https://user-images.githubusercontent.com/4612921/44025412-c07a42e2-9ef8-11e8-9e93-cc98a8388fa6.png">

Currently, the app saves the skills as `traits`.

You need to update the logic of that page to save the skills in the same way as the legacy app (https://github.com/appirio-tech/topcoder-app/).

[2018-08-13 10:03] ThomasKranitsas commented on #1167
@topcoder-platform/topcodercompetitors new ticket available for pickup

[2018-08-13 10:03] suppermancool commented on #1167
@ThomasKranitsas pls add me to this ticket

[2018-08-13 10:04] suppermancool commented on #1164
@ThomasKranitsas pls add me to the ticket https://github.com/topcoder-platform/community-app/issues/1167 first

[2018-08-13 10:05] sumitdaga commented on #1167
@ThomasKranitsas
if you could add me to one of the tickets you are not adding @suppermancool to :)

[2018-08-13 10:06] ThomasKranitsas commented on #1167
@suppermancool it's yours

@sumitdaga which one do you want?

[2018-08-13 10:07] ThomasKranitsas commented on #1167
Contest https://www.topcoder.com/challenges/30069326 has been created for this ticket.

[2018-08-13 10:07] ThomasKranitsas commented on #1167
Contest https://www.topcoder.com/challenges/30069326 has been updated - the new changes has been updated for this ticket.

[2018-08-13 10:07] ThomasKranitsas commented on #1167
Contest https://www.topcoder.com/challenges/30069326 has been updated - it has been assigned to diazz.

[2018-08-13 10:08] #1047 closed

[2018-08-13 10:08] sumitdaga commented on #1167
@ThomasKranitsas
only two tickets have open-for-pickup label ...not sure if they are actually available!

[2018-08-13 10:08] ThomasKranitsas commented on #1047
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069298

[2018-08-13 10:10] ThomasKranitsas commented on #1164
Contest https://www.topcoder.com/challenges/30069286 has been updated - it has been assigned to daga_sumit.

[2018-08-13 10:14] ThomasKranitsas commented on #1162
@PrakashDurlabhji any update? Please remember that you can only keep a ticket for 24h.

[2018-08-13 10:15] ThomasKranitsas commented on #1149
@rashmi73 any update? Please remember that you can only keep a ticket for 24h.

[2018-08-13 11:47] PrakashDurlabhji commented on #1162
@ThomasKranitsas yes MR will be raised within few hrs.

[2018-08-13 11:48] ThomasKranitsas commented on #1162
Ok

[2018-08-13 11:51] JayaDhaka commented on #1139
@birdofpreyru Can I please tell me the correct Github repo for this issue?

[2018-08-13 11:56] ThomasKranitsas commented on #1139
@JayaDhaka is that issue the same with this one https://github.com/appirio-tech/ap-submission-microservice/issues/36 ?

[2018-08-13 12:06] JayaDhaka commented on #1139
@ThomasKranitsas No, In the issue that I have raised the date of submission is correct only the time of submission is reflecting wrong.

[2018-08-13 12:22] #1164 closed, assigned to sumitdaga

[2018-08-13 14:52] ThomasKranitsas commented on #1167
Does it work if you run the app against the production API?

My guess is that the dev db is not populated properly so the skills are missing there.

[2018-08-13 14:52] suppermancool commented on #1167
i check in the project https://github.com/appirio-tech/topcoder-app/, it use the same api for getting list but different parameter and it return empty
https://api.topcoder-dev.com/v3/tags/?filter=domain%3DSKILLS%26status%3DAPPROVED

[2018-08-13 15:03] ThomasKranitsas commented on #1167
This one https://api.topcoder-dev.com/v3/tags/ returns all skills

[2018-08-13 15:04] ThomasKranitsas commented on #989
@Gauravseta any update?

[2018-08-13 15:05] ThomasKranitsas commented on #1150
@sandipanghos any update?

[2018-08-13 15:06] suppermancool commented on #1167
@ThomasKranitsas the production work. Can i do base on production api?

[2018-08-13 15:07] ThomasKranitsas commented on #1167
yes

[2018-08-13 16:37] birdofpreyru commented on #1135
@sushilshinde updated

[2018-08-13 16:45] gurmeetb commented on #1155
@ThomasKranitsas I would like to open this for others, as I have tried few options but in vain.

[2018-08-13 16:45] ThomasKranitsas commented on #1155
@topcoder-platform/topcodercompetitors this is now available

[2018-08-13 16:54] sandipanghos commented on #1150
@ThomasKranitsas working on it .The labels are showing with image .
fixing the alignment of UI

[2018-08-13 16:55] ThomasKranitsas commented on #1150
Ok, thanks for the update.

[2018-08-13 17:09] gets0ul commented on #1155
Please assign me.
Thanks.

[2018-08-13 17:09] ThomasKranitsas commented on #1155
Contest https://www.topcoder.com/challenges/30069267 has been updated - it has been assigned to gets0ul.

[2018-08-13 17:17] suppermancool commented on #1167
@ThomasKranitsas fixed in https://github.com/topcoder-platform/community-app/pull/1169, pls check with production api

[2018-08-13 17:18] Tim15 commented on #1043
Is this open to work on?

[2018-08-13 17:19] ThomasKranitsas commented on #1043
I'll probably be after https://github.com/topcoder-platform/community-app/issues/1167 is closed

[2018-08-13 17:32] ThomasKranitsas commented on #1167
Contest https://www.topcoder.com/challenges/30069326 has been updated - the new changes has been updated for this ticket.

[2018-08-13 17:32] ThomasKranitsas commented on #1167
Thanks @suppermancool!
I've also increased the payment a bit.

[2018-08-13 17:32] #1167 closed

[2018-08-13 17:33] ThomasKranitsas commented on #1167
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069326

[2018-08-13 17:38] ThomasKranitsas commented on #1043
Contest https://www.topcoder.com/challenges/30069287 has been updated - the new changes has been updated for this ticket.

[2018-08-13 17:39] ThomasKranitsas commented on #1043
Contest https://www.topcoder.com/challenges/30069287 has been updated - it has been assigned to thomaskranitsas.

[2018-08-13 17:39] ThomasKranitsas commented on #1043
This works just fine. It's a backend issue in the dev environment. Running it against production works fine.

See screenshot:
<img width="1493" alt="screen shot 2018-08-13 at 20 37 51" src="https://user-images.githubusercontent.com/4612921/44048011-dd3778e2-9f38-11e8-9ded-2cfd6ae53a56.png">

[2018-08-13 17:39] #1043 closed

[2018-08-13 17:39] ThomasKranitsas commented on #1043
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069287

[2018-08-13 18:47] KevinLeigh commented on #646
@birdofpreyru Hey there, I will start working on this issue now, currently I cannot assign it to myself as it seems I am not authorised to, while I work on issue please could you post the link the I need to use to authorise myself to pick up issue or assign ticket to me. Much appreciated

[2018-08-13 20:32] Gauravseta commented on #989
@ThomasKranitsas its working perfectly fine in "new-develop" branch. i invested a lot of time in it investigating.i could have done some other issue too.

[2018-08-13 20:34] ThomasKranitsas commented on #989
Sure, let me check

[2018-08-13 20:37] rashmi73 commented on #1149
@ThomasKranitsas it is showing error popup, can you please check into it. not able to solve this due to error popup on clicking save changes

[2018-08-13 20:39] birdofpreyru commented on #646
Hey, @KevinLeigh , I believe, it is actually not a part of the ongoing bug bash: this is an old issue, that was a part of some bug bush long time ago, and just was not closed properly. Sorry about the confusion.

[2018-08-13 20:39] #646 closed

[2018-08-13 20:43] Gauravseta commented on #989
@ThomasKranitsas ok waiting for your comment.

[2018-08-13 20:43] ThomasKranitsas commented on #646
Contest https://www.topcoder.com/challenges/30069369 has been created for this ticket.

[2018-08-13 20:45] KevinLeigh commented on #646
Thank you @birdofpreyru for the update, much appreciated. @ThomasKranitsas I will upgrade dependencies for free, no cash and only for a skills endorsement on LinkedIn, is that okay?

[2018-08-13 20:46] ThomasKranitsas commented on #989
Seems like it was fixed here https://github.com/topcoder-platform/community-app/commit/091c2ab0b90c7cbc8a69ce952ac9abadcb393280

[2018-08-13 20:48] ThomasKranitsas commented on #646
@KevinLeigh I'm not sure if we really need that. Upgrading the dependencies can be tricky and will require a lot of investigation to make sure we don't break anything.

And definitely, there's no need to do any free work ;)
There will be other tickets to work on. I'll let you know

[2018-08-13 20:49] Gauravseta commented on #989
@ThomasKranitsas No the change u mentioned above is not related to this at all.i dont know how it has started working. but can i get something for time spent?

[2018-08-13 20:50] #989 closed

[2018-08-13 20:50] ThomasKranitsas commented on #989
Absolutely

[2018-08-13 20:50] ThomasKranitsas commented on #989
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069297

[2018-08-13 20:51] Gauravseta commented on #989
@ThomasKranitsas  thanks

[2018-08-13 20:52] ThomasKranitsas commented on #1149
I'm not getting any error popup. Can you please post a screenshot or a screencast?

Please respond soon as it's been more than 24h since you started on this ticket

[2018-08-13 20:53] rashmi73 commented on #1149
@ThomasKranitsas ok will paste error now.

[2018-08-13 20:55] ThomasKranitsas commented on #1162
Can I get an update, please?

[2018-08-13 20:56] KevinLeigh commented on #646
@ThomasKranitsas Cool thank you so much Thomas, will be ready when there is an update on some new tickets. Also I really do not mind putting in the effort for any kind of development :). Here is my LinkedIn profile -> https://www.linkedin.com/in/kevin-leigh-crain-414769101/

[2018-08-13 21:01] ThomasKranitsas commented on #1007
Not valid issue

[2018-08-13 21:01] #1007 closed

[2018-08-13 21:03] ThomasKranitsas commented on #986
You should show the existing loading indicator while the data is being loaded instead of the "Not found.." message.

[2018-08-13 21:03] rashmi73 commented on #1149
@ThomasKranitsas below is screenshot:
<img width="944" alt="untitled" src="https://user-images.githubusercontent.com/41687423/44057927-306d726a-9f6a-11e8-8fd3-8d89f427a2e6.png">

dan_developer / dantopcoder123

 I enter localhost:3000 , main page opens, then i click on settings profile page from the list, then edit one of the fields and click save.

is there any different user to be used?

[2018-08-13 21:03] ThomasKranitsas commented on #986
This should be fixed for all types of challenges and not just SRMs

[2018-08-13 21:05] ThomasKranitsas commented on #646
@KevinLeigh fyi https://github.com/topcoder-platform/community-app/issues/986 this is now open for pickup

[2018-08-13 21:06] Gauravseta commented on #1162
@ThomasKranitsas can i take this if prakashdurlabhji fails to? i can start working on it nowitself. thanks

[2018-08-13 21:06] ThomasKranitsas commented on #986
Contest https://www.topcoder.com/challenges/30069371 has been created for this ticket.

[2018-08-13 21:06] ThomasKranitsas commented on #986
Contest https://www.topcoder.com/challenges/30069371 has been updated - the new changes has been updated for this ticket.

[2018-08-13 21:07] ThomasKranitsas commented on #1162
@PrakashDurlabhji any updates?

@Gauravseta sure, if @PrakashDurlabhji won't complete this, it's yours

[2018-08-13 21:07] ThomasKranitsas commented on #986
Contest https://www.topcoder.com/challenges/30069371 has been updated - the new changes has been updated for this ticket.

[2018-08-13 21:07] ThomasKranitsas commented on #1149
My guess is that some data is missing. You can use `TonyJ/appririo123`

[2018-08-13 21:07] KevinLeigh commented on #646
@ThomasKranitsas Thank you Thomas, please could you assign the issue to me? because for some reason I cannot assign the issue.

[2018-08-13 21:08] ThomasKranitsas commented on #986
Contest https://www.topcoder.com/challenges/30069371 has been updated - it has been assigned to kevin.crain.

[2018-08-13 21:08] ThomasKranitsas commented on #986
@KevinLeigh it's yours

[2018-08-13 21:11] KevinLeigh commented on #986
@ThomasKranitsas Thank you Thomas!

[2018-08-13 21:26] rashmi73 commented on #1149
@ThomasKranitsas its working now. PR within  few hrs thanks

[2018-08-13 21:27] ThomasKranitsas commented on #1149
Ok, please note that you can only keep a ticket for 24h which means you're already late :)

[2018-08-13 21:38] KevinLeigh commented on #986
I have forked and cloned repo. I am now installing the correct node version and fetching dependencies. After that I will run solution to to reproduce issue and fix accordingly. This should not take too long from what I read in the description.

I just want to verify is it 'develop-new' branch that I need to work off of ?

[2018-08-13 21:41] ThomasKranitsas commented on #986
Correct, the work is to be done based on the `new-develop` branch.
You may want to take a look here https://github.com/topcoder-platform/community-app/issues/1150#issuecomment-412354461

[2018-08-13 21:43] #1155 closed

[2018-08-13 21:43] ThomasKranitsas commented on #1155
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069267

[2018-08-13 21:45] ThomasKranitsas commented on #1162
@Gauravseta I'll wait 20 more minutes. Then the ticket is yours

[2018-08-13 21:47] KevinLeigh commented on #986
Please could you tell me the endpoint to use to login as well as password for username pshah_manager ?

[2018-08-13 21:50] ThomasKranitsas commented on #986
The password should be: `topcoder123`.

The login URL should be: https://accounts.topcoder-dev.com/member?retUrl=http:%2F%2Flocal.topcoder-dev.com:3000%2Fmy-dashboard%2F&utm_source=community-app-main

[2018-08-13 21:53] KevinLeigh commented on #986
Perfect it works and I have managed to reproduce issue :)

[2018-08-13 22:05] ThomasKranitsas commented on #1162
Contest https://www.topcoder.com/challenges/30069282 has been updated - it has been assigned to gauravseta.

[2018-08-13 22:05] ThomasKranitsas commented on #1162
Since it's been a long time and I didn't get any response after many warnings, I'm removing @PrakashDurlabhji and I'm assigning @Gauravseta to this.

[2018-08-13 22:30] KevinLeigh commented on #986
Is there another repo that has a deployment script that is generating server side javascript code and deploying code to AWS which is being used by community-app repo?

[2018-08-13 22:37] ThomasKranitsas commented on #986
Maybe
https://github.com/topcoder-platform/topcoder-react-lib but I’m not sure.

I’m on mobile now so I can’t check.

What needs to be fixed here is that the app should show the loading indicator while the data is being loaded instead of the error message.

It should not show “sorry, no rated srms found” and then (after the API call was made render the data.

[2018-08-13 22:38] ThomasKranitsas commented on #986
I’ll look for more details tomorrow as it’s late here.

[2018-08-13 22:43] KevinLeigh commented on #986
All good, I will investigate further into where “Sorry, no rated srms found” is coming from.

[2018-08-13 23:06] KevinLeigh commented on #986
So I was using  `https://www.topcoder-dev.com/members/petr/details/...` link to test because `local.topcoder-dev.com:3000` fails with HTTP status code `500` with error message `Unauthorized`. I cannot test properly locally because of this error.  Please see screenshots below:

<img width="529" alt="screen shot 2018-08-14 at 00 57 36" src="https://user-images.githubusercontent.com/32452072/44062665

[2018-08-13 23:11] ThomasKranitsas commented on #986
Check the forum of this challenge
https://www.topcoder.com/challenges/30069264 to see how to get rid of this error

[2018-08-13 23:28] KevinLeigh commented on #986
Perfect it works, it was because of Contentful environment variables not being set. Thank you.

[2018-08-13 23:39] KevinLeigh commented on #986
@ThomasKranitsas

I am not able to reproduce issue locally and can only reproduce via url `https://www.topcoder-dev.com/members/petr/details/...`. Which leads me to suspect that a `redeploy` to `https://www.topcoder-dev.com` should fix this issue because no where in the code can I find a reference to 'Sorry, no rated SRM found' message and the message may have been removed in previous changes/comm

[2018-08-14 06:26] sumitdaga commented on #1149
@ThomasKranitsas
please assign it to me whenever you decide to move on!

[2018-08-14 07:54] ThomasKranitsas commented on #1149
@rashmi73 it's been way too long since you got this ticket. If you can't create a PR in the next 1 hour, I'll give this ticket to @sumitdaga

[2018-08-14 07:56] ThomasKranitsas commented on #986
Contest https://www.topcoder.com/challenges/30069371 has been updated - the new changes has been updated for this ticket.

[2018-08-14 07:57] ThomasKranitsas commented on #986
Hmm... Ok, thanks for looking at this. I'll make a $30 payment for your effort

[2018-08-14 07:57] #986 closed

[2018-08-14 07:57] ThomasKranitsas commented on #986
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069371

[2018-08-14 08:01] ThomasKranitsas commented on #1163
@ekundayo-ab any progress on this? Please note that you can only keep a ticket for 24h. Then you have to open it for others to pick it up

[2018-08-14 08:02] ThomasKranitsas commented on #1150
@sandipanghos I'm afraid I'll have to remove you from this ticket as it's been way too long since you started.

[2018-08-14 08:04] nauhil commented on #1150
Can I pick up this issue ?

[2018-08-14 08:06] ThomasKranitsas commented on #1150
@nauhil sure! Can you please register on Topcoder X using this link https://x.topcoder.com/api/v1/github/teams/registration/887210ad-9ed5-4641-b0ff-12b1d8191d63-1533938364810

Otherwise I won't be able to assign you to the ticket and pay you

[2018-08-14 08:07] ThomasKranitsas commented on #1150
Contest https://www.topcoder.com/challenges/30069265 has been updated - it has been assigned to nauhil.

[2018-08-14 08:13] ekundayo-ab commented on #1163
Hi @ThomasKranitsas how do I open it up back? also is there a way I can get access to work on tickets by assigning myself to issues any time so that I'm not blocked especially when I"m ready to work, since our time zones are different?

[2018-08-14 08:14] KevinLeigh commented on #1163
@ThomasKranitsas Hey Thomas, please could you assign ticket to me ?

[2018-08-14 08:17] ThomasKranitsas commented on #1163
Contest https://www.topcoder.com/challenges/30069284 has been updated - it has been assigned to kevin.crain.

[2018-08-14 08:17] ThomasKranitsas commented on #1163
@ekundayo-ab no, I don't think so. You'll have to comment on the ticket.

[2018-08-14 08:42] KevinLeigh commented on #1163
@ThomasKranitsas I am not getting the same issue as shown in the video from this issues description, please see verification video here -> https://youtu.be/82Ajnep4Jm0

[2018-08-14 08:51] sushilshinde commented on #1135
Ok thanks @birdofpreyru

This is breaking though

https://beta-community-app.topcoder.com/challenges/30068935?tab=submissions

[2018-08-14 08:55] ThomasKranitsas commented on #1163
@KevinLeigh to reproduce the issue, you need to start typing immediately when the page loads. If you leave it for few seconds, it'll load completely so it won't flicker

[2018-08-14 08:58] KevinLeigh commented on #1163
Thank you for the update Thomas, I will re-test, maybe we should disable short bio field until the page is fully loaded? That should fix the issue.

[2018-08-14 09:02] KevinLeigh commented on #1163
I will also try remove those multiple renders as that cannot be good :)

[2018-08-14 10:12] KevinLeigh commented on #1163
The issue looks like `componentWillReceiveProps` is being called multiple times and calls setState every time which afterwards render gets called each time. I will see if I can reduce `componentWillReceiveProps` calls or try only get page to render on the last call to `componentWillReceiveProps`, cause it looks like we still need `componentWillReceiveProps` for the page to fully function.

[2018-08-14 10:31] sumitdaga commented on #1149
so, i already looked at the issue and i think it is caused because the endpoint **updateUserTrait** is returning only a subset of the fields after a successful update and so the rest of the fields retain their old value ...
i also noticed another issue when updating some fields and when the update fails on the backend, but cannot reproduce it now
@ThomasKranitsas

[2018-08-14 11:02] ThomasKranitsas commented on #1149
So, this is a backend issue?

[2018-08-14 11:11] sumitdaga commented on #1149
i think so, yes

[2018-08-14 11:14] ThomasKranitsas commented on #1150
Payment failed: [500]: Failed to activate challenge. Detail: javax.ejb.EJBTransactionRolledbackException

[2018-08-14 11:52] suppermancool commented on #1149
@ThomasKranitsas can i take this if @sumitdaga fails, i think i can fix this bug ? thanks

[2018-08-14 11:53] suppermancool commented on #1149
@ThomasKranitsas can i take this ticket if @sumitdaga fail? i think i can fix this bug, thanks

[2018-08-14 12:12] ThomasKranitsas commented on #1149
@sumitdaga are you ok with that? ☝️

[2018-08-14 12:17] sumitdaga commented on #1149
sure!

[2018-08-14 12:28] birdofpreyru commented on #1135
@sushilshinde good catch :) fixed.

[2018-08-14 12:28] KevinLeigh commented on #1163
@ThomasKranitsas Hey there, I have managed to significantly reduce multiple rendering issue on screen `settings > profile > basic info`, please see PR here -> https://github.com/topcoder-platform/community-app/pull/1172

[2018-08-14 14:29] sumitdaga commented on #1162
@ThomasKranitsas
calling dibs in case you decide to move on :)

[2018-08-14 14:35] urwithat commented on #1162
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 14:40] suppermancool commented on #1162
@ThomasKranitsas can i take this ticket if @Gauravseta fail? thanks

[2018-08-14 14:41] Gauravseta commented on #1162
@ThomasKranitsas i will complete this.

[2018-08-14 14:49] Gauravseta commented on #1162
@ThomasKranitsas . will soon raise PR.

[2018-08-14 15:03] ThomasKranitsas commented on #1162
Awesome! Thanks @Gauravseta

[2018-08-14 16:27] nahidshahin commented on #445
Hi, can you please assign this ticket to me? I don't have the permission. Thanks

[2018-08-14 16:28] ThomasKranitsas commented on #445
@nahidshahin this ticket is not part of my bug bash.

[2018-08-14 16:32] #1150 closed

[2018-08-14 18:04] ThomasKranitsas commented on #1163
Contest https://www.topcoder.com/challenges/30069284 has been updated - the new changes has been updated for this ticket.

[2018-08-14 18:05] #1163 closed

[2018-08-14 18:05] ThomasKranitsas commented on #1163
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069284

[2018-08-14 18:06] ThomasKranitsas opened #1173 "Profile - Performance issue"
The performance has been significantly dropped when switching sub-pages (eg from Profile to Tools).

The performance between the deployed version in https://community-app.topcoder-dev.com/ and running locally the code from `new-develop` is huge.

This needs to be fixed.

Video: http://take.ms/X7mw5

[2018-08-14 18:07] suppermancool commented on #1173
@ThomasKranitsas  pls assiggn to me

[2018-08-14 18:08] ThomasKranitsas commented on #1173
@suppermancool that was actually something that @KevinLeigh was working on because I thought the issue was introduced by his changes.

If @KevinLeigh doesn't want this ticket, it's yours.

[2018-08-14 18:08] KevinLeigh commented on #1173
@ThomasKranitsas Please assign ticket to me :)

[2018-08-14 18:11] ThomasKranitsas commented on #1173
Contest https://www.topcoder.com/challenges/30069466 has been created for this ticket.

[2018-08-14 18:11] ThomasKranitsas commented on #1173
Contest https://www.topcoder.com/challenges/30069466 has been updated - the new changes has been updated for this ticket.

[2018-08-14 18:11] ThomasKranitsas commented on #1173
Contest https://www.topcoder.com/challenges/30069466 has been updated - it has been assigned to kevin.crain.

[2018-08-14 19:02] hokienick opened #1174 "Veterans - Learn Page [Launch Contentful]"
I have recreated the Learn page from: https://veterans.topcoder.com/learn in Contentful

I'm pretty sure everything is formatted correctly although it looks messed up in Preview mode (as does the Veterans home so I feel like it is ok).

The only thing that may need to be reviewed is that the join button on the Learn page needs to be blue, but I feel as thought it will be rendered grey.

[2018-08-14 19:39] ThomasKranitsas commented on #1173
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 19:54] ThomasKranitsas commented on #1053
The delete icon should be moved to the top-right corner on mobile.

[2018-08-14 19:56] ThomasKranitsas commented on #981
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 19:57] ThomasKranitsas commented on #941
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 19:58] #934 closed

[2018-08-14 19:58] #941 closed

[2018-08-14 19:59] ThomasKranitsas commented on #1056
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 19:59] sandipanghos commented on #981
@ThomasKranitsas please assign me the ticket

[2018-08-14 20:00] ThomasKranitsas commented on #981
Contest https://www.topcoder.com/challenges/30069469 has been created for this ticket.

[2018-08-14 20:01] ThomasKranitsas commented on #941
Contest https://www.topcoder.com/challenges/30069470 has been created for this ticket.

[2018-08-14 20:01] ThomasKranitsas commented on #941
Contest https://www.topcoder.com/challenges/30069470 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:02] ThomasKranitsas commented on #981
Contest https://www.topcoder.com/challenges/30069469 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:03] ThomasKranitsas opened #1175 "[$20] Profile - user challenges style issue"
## Steps to reproduce

- Go to https://community-app.topcoder.com/members/thomaskranitsas/details/?track=DEVELOP&subTrack=CODE&tab=challenges
- Click on the menu icon to toggle the tracks.
- Observe. The `Winner` tags are shown on top.

<img width="1378" alt="screen shot 2018-08-14 at 23 01 40" src="https://user-images.githubusercontent.com/4612921/44115304-38935a70-a016-11e8-957f-413184a02406.png

[2018-08-14 20:03] ThomasKranitsas commented on #1056
Contest https://www.topcoder.com/challenges/30069472 has been created for this ticket.

[2018-08-14 20:03] ThomasKranitsas commented on #1056
Contest https://www.topcoder.com/challenges/30069472 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:03] ThomasKranitsas commented on #1175
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:04] ThomasKranitsas commented on #981
Contest https://www.topcoder.com/challenges/30069469 has been updated - it has been assigned to sandipanghosh64.

[2018-08-14 20:05] ThomasKranitsas commented on #925
This usually happens when the challenges are private. Not a valid issue.

[2018-08-14 20:05] #925 closed

[2018-08-14 20:05] ThomasKranitsas commented on #979
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:06] ThomasKranitsas commented on #1055
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:07] ThomasKranitsas commented on #1175
Contest https://www.topcoder.com/challenges/30069473 has been created for this ticket.

[2018-08-14 20:07] ThomasKranitsas commented on #1175
Contest https://www.topcoder.com/challenges/30069473 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:08] ThomasKranitsas commented on #1040
Remove the `Learn more` link.

[2018-08-14 20:08] ThomasKranitsas commented on #1040
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:09] ThomasKranitsas commented on #1010
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:09] ThomasKranitsas commented on #979
Contest https://www.topcoder.com/challenges/30069475 has been created for this ticket.

[2018-08-14 20:09] ThomasKranitsas commented on #979
Contest https://www.topcoder.com/challenges/30069475 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:10] ThomasKranitsas commented on #1055
Contest https://www.topcoder.com/challenges/30069477 has been created for this ticket.

[2018-08-14 20:10] ThomasKranitsas commented on #1055
Contest https://www.topcoder.com/challenges/30069477 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:11] KevinLeigh commented on #1175
@ThomasKranitsas Hey Thomas, am I allowed to pick up more than one ticket ?

[2018-08-14 20:11] ThomasKranitsas commented on #1008
Can't reproduce. Must have been fixed

[2018-08-14 20:11] #1008 closed

[2018-08-14 20:12] ThomasKranitsas commented on #1040
Contest https://www.topcoder.com/challenges/30069479 has been created for this ticket.

[2018-08-14 20:12] ThomasKranitsas commented on #1040
Contest https://www.topcoder.com/challenges/30069479 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:13] KevinLeigh commented on #1175
I can fix this one quite quickly :)

[2018-08-14 20:13] ThomasKranitsas commented on #1175
No, you have to finish your ticket to pick up the next one

[2018-08-14 20:13] ThomasKranitsas commented on #1175
Or, you can leave your ticket to pickup another one

[2018-08-14 20:13] ThomasKranitsas commented on #1010
Contest https://www.topcoder.com/challenges/30069481 has been created for this ticket.

[2018-08-14 20:13] ThomasKranitsas commented on #1010
Contest https://www.topcoder.com/challenges/30069481 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:14] KevinLeigh commented on #1175
All good will finish the one I am working on now, it is performance related with a lot of testing and profiling so I do not think I will be done in time to pick up this issue.

[2018-08-14 20:16] ThomasKranitsas commented on #973
This has been fixed

[2018-08-14 20:16] #973 closed

[2018-08-14 20:25] ThomasKranitsas commented on #936
Closing this one.  We don't have a list of the `valid` fields at the moment

[2018-08-14 20:25] #936 closed

[2018-08-14 20:26] ThomasKranitsas commented on #956
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:28] ThomasKranitsas commented on #894
Contest https://www.topcoder.com/challenges/30069484 has been created for this ticket.

[2018-08-14 20:28] ThomasKranitsas commented on #959
Remove the `View other members` button as the page doesn't exist anymore.

[2018-08-14 20:29] ThomasKranitsas commented on #959
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:29] ThomasKranitsas commented on #963
This page has been replaced

[2018-08-14 20:29] #963 closed

[2018-08-14 20:29] ThomasKranitsas commented on #969
This page has been replaced

[2018-08-14 20:29] #969 closed

[2018-08-14 20:30] ThomasKranitsas commented on #894
Contest https://www.topcoder.com/challenges/30069484 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:30] ThomasKranitsas commented on #956
Contest https://www.topcoder.com/challenges/30069485 has been created for this ticket.

[2018-08-14 20:30] ThomasKranitsas commented on #956
Contest https://www.topcoder.com/challenges/30069485 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:32] KevinLeigh commented on #1175
@ThomasKranitsas Thank you Thomas, I will do my best to finish performance issue as quick as possible.

Please see PR for this issue here -> https://github.com/topcoder-platform/community-app/pull/1176

[2018-08-14 20:32] #1175 closed

[2018-08-14 20:32] ThomasKranitsas commented on #959
Contest https://www.topcoder.com/challenges/30069487 has been created for this ticket.

[2018-08-14 20:33] ThomasKranitsas commented on #959
Contest https://www.topcoder.com/challenges/30069487 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:33] ThomasKranitsas commented on #1175
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069473

[2018-08-14 20:33] ThomasKranitsas commented on #970
this page has been replaced

[2018-08-14 20:33] #970 closed

[2018-08-14 20:34] ThomasKranitsas commented on #976
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:35] ThomasKranitsas commented on #978
Will be fixed in #976

[2018-08-14 20:35] #978 closed

[2018-08-14 20:36] ThomasKranitsas commented on #1028
This has been fixed in the latest version

[2018-08-14 20:36] #1028 closed

[2018-08-14 20:38] ThomasKranitsas commented on #976
Contest https://www.topcoder.com/challenges/30069489 has been created for this ticket.

[2018-08-14 20:38] ThomasKranitsas commented on #976
Contest https://www.topcoder.com/challenges/30069489 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:38] ThomasKranitsas commented on #966
Will be fixed in https://github.com/topcoder-platform/community-app/issues/985

[2018-08-14 20:38] #966 closed

[2018-08-14 20:38] ThomasKranitsas commented on #985
Should also fix #966 as part of this ticket

[2018-08-14 20:39] ThomasKranitsas commented on #983
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:39] ThomasKranitsas commented on #985
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:40] ThomasKranitsas commented on #990
Fixed

[2018-08-14 20:40] #990 closed

[2018-08-14 20:41] ThomasKranitsas commented on #995
Fixed

[2018-08-14 20:41] #995 closed

[2018-08-14 20:42] ThomasKranitsas opened #1177 "[$15] Profile - Style issue when deleting a long link"
See screenshot:

<img width="1326" alt="screen shot 2018-08-14 at 23 41 31" src="https://user-images.githubusercontent.com/4612921/44117320-a664807e-a01b-11e8-8454-c1d3b2aaeb3b.png">

[2018-08-14 20:42] ThomasKranitsas commented on #1177
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:43] ThomasKranitsas commented on #983
Contest https://www.topcoder.com/challenges/30069491 has been created for this ticket.

[2018-08-14 20:43] ThomasKranitsas commented on #1003
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:43] ThomasKranitsas commented on #1011
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:43] ThomasKranitsas commented on #985
Contest https://www.topcoder.com/challenges/30069493 has been created for this ticket.

[2018-08-14 20:43] ThomasKranitsas commented on #985
Contest https://www.topcoder.com/challenges/30069493 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:43] ThomasKranitsas commented on #1012
This has been removed

[2018-08-14 20:43] #1012 closed

[2018-08-14 20:44] gets0ul commented on #985
Is this open for current bug bash?
Please assign me

[2018-08-14 20:44] ThomasKranitsas commented on #1026
I can't reproduce that

[2018-08-14 20:44] #1026 closed

[2018-08-14 20:45] ThomasKranitsas commented on #985
Contest https://www.topcoder.com/challenges/30069493 has been updated - it has been assigned to gets0ul.

[2018-08-14 20:45] ThomasKranitsas commented on #985
@gets0ul yep, I'm opening lots of tickets for pickup

[2018-08-14 20:46] ThomasKranitsas commented on #1177
Contest https://www.topcoder.com/challenges/30069495 has been created for this ticket.

[2018-08-14 20:46] ThomasKranitsas commented on #1177
Contest https://www.topcoder.com/challenges/30069495 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:46] gets0ul commented on #985
@ThomasKranitsas what is the password for pshah_manager account?

[2018-08-14 20:46] ThomasKranitsas commented on #1029
It shouldn't allow duplicate entries

[2018-08-14 20:47] ThomasKranitsas commented on #985
Should be `topcoder123`

[2018-08-14 20:47] ThomasKranitsas commented on #1003
Contest https://www.topcoder.com/challenges/30069497 has been created for this ticket.

[2018-08-14 20:47] ThomasKranitsas commented on #1003
Contest https://www.topcoder.com/challenges/30069497 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:47] ThomasKranitsas commented on #1029
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:47] ThomasKranitsas commented on #1011
Contest https://www.topcoder.com/challenges/30069499 has been created for this ticket.

[2018-08-14 20:47] ThomasKranitsas commented on #1011
Contest https://www.topcoder.com/challenges/30069499 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:48] ThomasKranitsas commented on #1037
Fixed

[2018-08-14 20:48] #1037 closed

[2018-08-14 20:48] ThomasKranitsas commented on #1044
Not a valid issue

[2018-08-14 20:48] #1044 closed

[2018-08-14 20:49] ThomasKranitsas commented on #1045
Cannot reproduce. Must have been fixed

[2018-08-14 20:49] #1045 closed

[2018-08-14 20:50] ThomasKranitsas commented on #1046
Invalid issue

[2018-08-14 20:50] #1046 closed

[2018-08-14 20:50] ThomasKranitsas commented on #1029
Contest https://www.topcoder.com/challenges/30069502 has been created for this ticket.

[2018-08-14 20:51] sandipanghos commented on #981
@ThomasKranitsas the repo is community-app? what is the password of pshah_manager

[2018-08-14 20:52] ThomasKranitsas commented on #981
I'm not sure why you're asking about the repo. Obviously, it's this one we're working on.

The password is `topcoder123`

[2018-08-14 20:52] ThomasKranitsas commented on #981
All work is to be done in this repo based on the latest code in the `new-develop` branch.

[2018-08-14 20:52] ThomasKranitsas commented on #1029
Contest https://www.topcoder.com/challenges/30069502 has been updated - the new changes has been updated for this ticket.

[2018-08-14 20:52] sandipanghos commented on #981
@ThomasKranitsas  while running from localhost:3000 can i generate the issue?

[2018-08-14 20:54] ThomasKranitsas commented on #981
You'll have to add `local.topcoder-dev.com` to your hosts file. (See the README.md).
Then you will have to visit the URL http://local.topcoder-dev.com:3000/members/petr/details/?track=DATA_SCIENCE&subTrack=SRM&tab=Past%20srm

[2018-08-14 20:54] ThomasKranitsas commented on #1050
Not a valid issue

[2018-08-14 20:54] #1050 closed

[2018-08-14 20:55] ThomasKranitsas commented on #1049
I believe you can grab the icon from https://github.com/appirio-tech/topcoder-app/ if it's not already in this repo

[2018-08-14 20:56] ThomasKranitsas commented on #1049
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 20:58] KevinLeigh commented on #1173
I found out that `renderTabContent` is being called three times

[2018-08-14 20:58] ThomasKranitsas commented on #913
Duplicate of https://github.com/topcoder-platform/community-app/issues/983 ?

[2018-08-14 20:58] #913 closed

[2018-08-14 20:58] ThomasKranitsas commented on #1173
Can this be fixed?

[2018-08-14 20:59] Gauravseta commented on #1162
@ThomasKranitsas can you please take a look into it?
how is it looking ? ok ? as it meets your requirement ? also it updates you on my progress
<img width="858" alt="untitled1" src="https://user-images.githubusercontent.com/16337895/44118206-fb5f6028-a032-11e8-86fa-3575a4e38017.png">

[2018-08-14 20:59] ThomasKranitsas commented on #907
invalid issue

[2018-08-14 20:59] #907 closed

[2018-08-14 20:59] ThomasKranitsas commented on #1049
Contest https://www.topcoder.com/challenges/30069503 has been created for this ticket.

[2018-08-14 20:59] ThomasKranitsas commented on #1049
Contest https://www.topcoder.com/challenges/30069503 has been updated - the new changes has been updated for this ticket.

[2018-08-14 21:00] ThomasKranitsas commented on #1162
@cwdcwd what do you think on the above?

I believe the `* Required` text should be slightly smaller.

[2018-08-14 21:01] Gauravseta commented on #1162
@ThomasKranitsas Required text is 11px and label is 12px , thats why hardly any difference visible.
shall i make it 10 or 9px ? and paste screenshot?

[2018-08-14 21:03] ThomasKranitsas commented on #1162
yes, please

[2018-08-14 21:03] Gauravseta commented on #1162
@ThomasKranitsas screenshot with 10px.
<img width="858" alt="untitled2" src="https://user-images.githubusercontent.com/16337895/44118393-925a77d8-a033-11e8-9189-d2818fe44789.png">

[2018-08-14 21:03] ThomasKranitsas commented on #1162
Looks good to me

[2018-08-14 21:04] Gauravseta commented on #1162
@ThomasKranitsas screenshot with 9px.
<img width="859" alt="untitled3" src="https://user-images.githubusercontent.com/16337895/44118444-c086c62a-a033-11e8-82c0-d0dcfcfe93b3.png">

[2018-08-14 21:04] ThomasKranitsas commented on #980
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 21:05] ThomasKranitsas commented on #1162
Let's go with 10px

[2018-08-14 21:05] ThomasKranitsas commented on #1015
Not a valid issue

[2018-08-14 21:05] #1015 closed

[2018-08-14 21:06] ThomasKranitsas commented on #1035
It was built this way. Not a valid issue

[2018-08-14 21:06] #1035 closed

[2018-08-14 21:07] ThomasKranitsas commented on #1053
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 21:07] ThomasKranitsas commented on #977
![](https://github.trello.services/images/mini-trello-icon.png) [Bug Bash - Topcoder-X for Bug Tickets](https://trello.com/c/nyRjqZic/51-bug-bash-topcoder-x-for-bug-tickets)

[2018-08-14 21:08] ThomasKranitsas commented on #938
invalid issue

[2018-08-14 21:08] #938 closed

[2018-08-14 21:08] ThomasKranitsas commented on #980
Contest https://www.topcoder.com/challenges/30069505 has been created for this ticket.

[2018-08-14 21:08] ThomasKranitsas commented on #980
Contest https://www.topcoder.com/challenges/30069505 has been updated - the new changes has been updated for this ticket.

[2018-08-14 21:09] Gauravseta commented on #1162
@ThomasKranitsas Also to my assumption on your requirements ,
this shud be error text in basic info.

"first name, last name , Gender , T shirt size , address information, Current location cannot be empty. Birth date is incomplete or have an invalid date".

kindly correct me if wrong so i can complete it as everything looks clear now.

[2018-08-14 21:09] ThomasKranitsas commented on #1162
Sounds correct to me

[2018-08-14 21:10] Gauravseta commented on #1162
@ThomasKranitsas will soon raise PR.

[2018-08-14 21:11] ThomasKranitsas commented on #1053
Contest https://www.topcoder.com/challenges/30069507 has been created for this ticket.

[2018-08-14 21:11] ThomasKranitsas commented on #1053
Contest https://www.topcoder.com/challenges/30069507 has been updated - the new changes has been updated for this ticket.

[2018-08-14 21:11] ThomasKranitsas commented on #977
Contest https://www.topcoder.com/challenges/30069509 has been created for this ticket.

[2018-08-14 21:11] ThomasKranitsas commented on #977
Contest https://www.topcoder.com/challenges/30069509 has been updated - the new changes has been updated for this ticket.

[2018-08-14 21:15] suppermancool commented on #1177
@ThomasKranitsas pls assigned to me

[2018-08-14 21:16] ThomasKranitsas commented on #1177
Contest https://www.topcoder.com/challenges/30069495 has been updated - it has been assigned to diazz.

[2018-08-14 21:18] sandipanghos commented on #981
@ThomasKranitsas all the box have data.even on the given url  https://www.topcoder-dev.com/members/petr/details/?track=DATA_SCIENCE&subTrack=SRM&tab=Past%20srm and url http://local.topcoder-dev.com:3000/members/petr/details/?track=DATA_SCIENCE&subTrack=SRM&tab=Past%20srm above also.

[2018-08-14 21:19] KevinLeigh commented on #1173
It can, it just looks like it is going to have to investigate further to find and remove the root cause of multiple tab content renders instead of putting a band aid on the issue. I also found that basic info tab content gets reloaded again if you select a new tab from basic info tab.

[2018-08-14 21:25] ThomasKranitsas commented on #1173
Ok, for now, we just need a solution so the page is not so laggy.

[2018-08-14 21:27] sandipanghos commented on #1056
@ThomasKranitsas  please assign me the ticket

[2018-08-14 21:28] ThomasKranitsas commented on #1056
Contest https://www.topcoder.com/challenges/30069472 has been updated - it has been assigned to sandipanghosh64.

[2018-08-14 21:37] suppermancool commented on #1177
@ThomasKranitsas pls check https://github.com/topcoder-platform/community-app/pull/1178, thanks

[2018-08-14 21:39] sandipanghos commented on #1056
@ThomasKranitsas  I have checked in Google chrome mobile view .The button View  Ratting History and View Rating Distribution are there.

Chrome-Mobile-Member is a button?

[2018-08-14 21:41] #1177 closed

[2018-08-14 21:42] ThomasKranitsas commented on #1177
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069495

[2018-08-14 21:43] ThomasKranitsas commented on #1056
Contest https://www.topcoder.com/challenges/30069472 has been updated - the new changes has been updated for this ticket.

[2018-08-14 21:43] ThomasKranitsas commented on #1056
Seems like this was an issue in the old code and it's been fixed now

[2018-08-14 21:43] #1056 closed

[2018-08-14 21:44] ThomasKranitsas commented on #1056
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069472

[2018-08-14 21:56] sandipanghos commented on #1055
@ThomasKranitsas on chrome mobile view i can see the complete graph if i drag it.Is this require a fix?

[2018-08-14 21:57] ThomasKranitsas commented on #1055
Yes, it needs to be fixed so it fits in the screen

[2018-08-14 22:00] sandipanghos commented on #1049
@ThomasKranitsas please assign me this ticket

[2018-08-14 22:01] ThomasKranitsas commented on #1049
Should I remove you from the other ticket?

[2018-08-14 22:04] sandipanghos commented on #1049
yes

[2018-08-14 22:05] ThomasKranitsas commented on #1049
Contest https://www.topcoder.com/challenges/30069503 has been updated - it has been assigned to sandipanghosh64.

[2018-08-14 22:35] KevinLeigh commented on #1173
@ThomasKranitsas I have created a PR here with profile performance enhancements -> https://github.com/topcoder-platform/community-app/pull/1179.

In my opinion it is still slow, however to fix the entire profile lagging issues it is a lot more work because it requires rework on how the profile page and all the profile tabs are loaded from top to bottom.

[2018-08-14 22:38] KevinLeigh commented on #976
@ThomasKranitsas Hey Thomas, please could you assign this issue to me, also is there a way I can assign issues to myself just in case you are sleeping ?

[2018-08-14 22:39] ThomasKranitsas commented on #976
Contest https://www.topcoder.com/challenges/30069489 has been updated - it has been assigned to kevin.crain.

[2018-08-14 22:42] ThomasKranitsas commented on #976
@topcoder-platform/topcodercompetitors since you can’t assign yourself to any ticket, you can:
- Comment on the ticket that you’re working on it.
- Create a pull request
- Comment that the ticket is ready for review
- Pick up another ticket

[2018-08-14 22:44] KevinLeigh commented on #976
@ThomasKranitsas Thank you so much Thomas, will do my best to complete as many issues as I can tonight along with the other repo Members.

[2018-08-14 22:52] nqviet commented on #1011
@ThomasKranitsas : Can you assign me this ticket, I'm going to work on it.

[2018-08-14 22:53] sandipanghos commented on #1049
@ThomasKranitsas In the asset folder i cannot find the srm logo

[2018-08-14 22:56] KevinLeigh commented on #976
@ThomasKranitsas It looks like the API does not return the list of contests sorted by date desc.

[2018-08-14 23:00] KevinLeigh commented on #976
@ThomasKranitsas Is there maybe a sort parameter that I can pass to API endpoint -> `https://api.topcoder-dev.com/v3/members/{member}/srms/?filter=status%3Dpast%26isRatedForSRM%3Dtrue&limit=36&offset=72`

[2018-08-14 23:16] sandipanghos commented on #1049
@ThomasKranitsas i found the logo

[2018-08-14 23:43] sandipanghos commented on #1049
@ThomasKranitsas  please review it

[2018-08-15 00:00] sandipanghos commented on #1049
@ThomasKranitsas please tell why the build failed.issue is fixed
![screenshot from 2018-08-15 05-08-33](https://user-images.githubusercontent.com/16544084/44124749-5f269978-a04c-11e8-8254-2e915d42d446.png)

[2018-08-15 00:05] KevinLeigh commented on #980
Completing issue now :)

[2018-08-15 00:16] KevinLeigh commented on #980
PR for changes are here -> https://github.com/topcoder-platform/community-app/pull/1183

[2018-08-15 05:25] suppermancool commented on #1055
@ThomasKranitsas can you assign to me

[2018-08-15 06:17] suppermancool commented on #1055
@ThomasKranitsas fixed in https://github.com/topcoder-platform/community-app/pull/1184, pls check, thanks

[2018-08-15 06:18] suppermancool commented on #1053
@ThomasKranitsas can you assign to me

[2018-08-15 06:37] suppermancool commented on #1053
@ThomasKranitsas fixed in https://github.com/topcoder-platform/community-app/pull/1185, pls check, thanks

[2018-08-15 06:38] suppermancool commented on #1040
@ThomasKranitsas can you assign to me

[2018-08-15 06:48] narekcat commented on #983
@ThomasKranitsas I would like to work on this issue.

[2018-08-15 07:41] sandipanghos commented on #1049
@ThomasKranitsas the build got passed now and merged into new-develop.
Please mark it as ready for review.
And assign me another ticket

[2018-08-15 07:46] sandipanghos commented on #979
@ThomasKranitsas  please assign me the ticket

[2018-08-15 07:55] suppermancool commented on #1040
[screencast 2018-08-15 14-51-35.mp4.zip](https://github.com/topcoder-platform/community-app/files/2289559/screencast.2018-08-15.14-51-35.mp4.zip)

[2018-08-15 07:56] suppermancool commented on #1029
@ThomasKranitsas can you assign to me

[2018-08-15 08:55] suppermancool commented on #1029
fixed in https://github.com/topcoder-platform/community-app/pull/1186, pls check , thanks

[2018-08-15 08:57] suppermancool commented on #1010
@ThomasKranitsas : Can you assign me this ticket, I'm going to work on it.

[2018-08-15 10:00] ThomasKranitsas commented on #1029
Contest https://www.topcoder.com/challenges/30069502 has been updated - it has been assigned to diazz.

[2018-08-15 10:01] ThomasKranitsas commented on #1040
Contest https://www.topcoder.com/challenges/30069479 has been updated - it has been assigned to diazz.

[2018-08-15 10:01] #1040 closed

[2018-08-15 10:02] ThomasKranitsas commented on #1053
Contest https://www.topcoder.com/challenges/30069507 has been updated - it has been assigned to diazz.

[2018-08-15 10:02] ThomasKranitsas commented on #1055
Contest https://www.topcoder.com/challenges/30069477 has been updated - it has been assigned to diazz.

[2018-08-15 10:03] ThomasKranitsas commented on #980
Contest https://www.topcoder.com/challenges/30069505 has been updated - it has been assigned to kevin.crain.

[2018-08-15 10:03] ThomasKranitsas commented on #1011
Contest https://www.topcoder.com/challenges/30069499 has been updated - it has been assigned to nqv2018.

[2018-08-15 10:04] ThomasKranitsas commented on #983
Contest https://www.topcoder.com/challenges/30069491 has been updated - it has been assigned to Narekvar90.

[2018-08-15 10:04] ThomasKranitsas commented on #979
Contest https://www.topcoder.com/challenges/30069475 has been updated - it has been assigned to sandipanghosh64.

[2018-08-15 10:04] ThomasKranitsas commented on #1010
Contest https://www.topcoder.com/challenges/30069481 has been updated - it has been assigned to diazz.

[2018-08-15 10:08] ThomasKranitsas commented on #976
How does the legacy app fetches the SRMs? https://github.com/appirio-tech/topcoder-app/

[2018-08-15 10:14] gets0ul commented on #985
Please check the PR. Thanks.

[2018-08-15 10:16] #985 closed

[2018-08-15 10:16] ThomasKranitsas commented on #985
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069493

[2018-08-15 10:44] gets0ul commented on #977
@ThomasKranitsas Please assign me. Thanks

[2018-08-15 11:09] suppermancool commented on #1010
i don't know why but look like the image doesn't exist in this case it is:
https://topcoder-dev-media.s3.amazonaws.com/member/profile/Ghostar-12345.jpg

@ThomasKranitsas in this case can i display default image if the image is broken?

[2018-08-15 11:09] ThomasKranitsas commented on #977
Contest https://www.topcoder.com/challenges/30069509 has been updated - it has been assigned to gets0ul.

[2018-08-15 11:10] ThomasKranitsas commented on #1010
yes, default image sounds good

[2018-08-15 11:36] suppermancool commented on #1003
done in https://github.com/topcoder-platform/community-app/pull/1188, pls check, thanks

[2018-08-15 11:37] ThomasKranitsas commented on #1003
Contest https://www.topcoder.com/challenges/30069497 has been updated - it has been assigned to diazz.

[2018-08-15 11:37] suppermancool commented on #959
@ThomasKranitsas : Can you assign me this ticket, I'm going to work on it.

[2018-08-15 11:38] ThomasKranitsas commented on #959
Contest https://www.topcoder.com/challenges/30069487 has been updated - it has been assigned to diazz.

[2018-08-15 11:43] #1003 closed

[2018-08-15 11:43] ThomasKranitsas commented on #1003
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069497

[2018-08-15 11:51] suppermancool commented on #959
@ThomasKranitsas done in https://github.com/topcoder-platform/community-app/pull/1189, pls check, thanks

[2018-08-15 11:51] suppermancool commented on #956
@ThomasKranitsas : Can you assign me this ticket, I'm going to work on it.

[2018-08-15 11:54] ThomasKranitsas commented on #956
Contest https://www.topcoder.com/challenges/30069485 has been updated - it has been assigned to diazz.

[2018-08-15 11:54] ThomasKranitsas commented on #956
@suppermancool  please fix the open PRs before you start working on this one

[2018-08-15 12:05] nqviet commented on #1011
@ThomasKranitsas :
The copilot fulfilment value at the member profile page is the raw data from the Redux store: `state.COPILOT.fulfilment`, and its value in the member profile copilot detail page is formatted by `percentileFunc` function (`memberStats.js:135`) before displaying. That function rounds the number to an integer.

My solutions are:
Assuming that the server always returns Copilot's Ful

[2018-08-15 12:16] suppermancool commented on #894
@ThomasKranitsas right now the Add A Web Link box already check the invalid url can you check that?

[2018-08-15 12:18] suppermancool commented on #956
i fixed the error in PRs, can you assign me to this task?

right now the linked accounts list is ok, but the External Link text box is overlap the beneath list, can i fix that?

![viber-image](https://user-images.githubusercontent.com/5815182/44147833-f6d4459a-a0bf-11e8-96a0-dde6f197c2fc.jpg)

[2018-08-15 12:34] ThomasKranitsas commented on #956
sounds good

[2018-08-15 12:37] ThomasKranitsas commented on #1011
You should show 2 decimal places in all cases. (`toFixed(2)`)

[2018-08-15 12:39] #977 closed

[2018-08-15 12:39] ThomasKranitsas commented on #977
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069509

[2018-08-15 12:40] #959 closed

[2018-08-15 12:40] ThomasKranitsas commented on #959
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069487

[2018-08-15 12:43] #1010 closed

[2018-08-15 12:43] ThomasKranitsas commented on #1010
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069481

[2018-08-15 12:48] #1055 closed

[2018-08-15 12:48] ThomasKranitsas commented on #1055
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069477

[2018-08-15 12:51] ThomasKranitsas opened #1191 "Profile - The rating distribution graph is not completely shown on mobile"
<img width="1455" alt="screen shot 2018-08-15 at 15 50 09" src="https://user-images.githubusercontent.com/4612921/44148952-f3a1eac0-a0a2-11e8-9862-844a29bc4309.png">

The rating distribution graph is causing a horizontal scrollbar on mobile.

[2018-08-15 12:55] ThomasKranitsas commented on #1191
Contest https://www.topcoder.com/challenges/30069532 has been created for this ticket.

[2018-08-15 12:55] ThomasKranitsas commented on #1191
Contest https://www.topcoder.com/challenges/30069532 has been updated - the new changes has been updated for this ticket.

[2018-08-15 13:01] ThomasKranitsas opened #1192 "[$80] Profile - Issue when visiting another member's profile"
Video: http://take.ms/nxlLM9

As you can see in the video above, when you visit a profile then go back (without refreshing the page or doing a fresh load of the page) and then visiting another profile, the app shows the data from the previous profile and it changes the data as it's loading the new one which looks odd.

This needs to be fixed.

[2018-08-15 13:02] #1029 closed

[2018-08-15 13:02] ThomasKranitsas commented on #1029
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069502

[2018-08-15 13:05] #980 closed

[2018-08-15 13:06] ThomasKranitsas commented on #980
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069505

[2018-08-15 13:06] ThomasKranitsas commented on #1192
Contest https://www.topcoder.com/challenges/30069535 has been created for this ticket.

[2018-08-15 13:07] ThomasKranitsas commented on #1192
Contest https://www.topcoder.com/challenges/30069535 has been updated - the new changes has been updated for this ticket.

[2018-08-15 13:13] suppermancool commented on #956
fixed in https://github.com/topcoder-platform/community-app/pull/1193, pls check, thanks

[2018-08-15 13:15] suppermancool commented on #894
fixed in https://github.com/topcoder-platform/community-app/pull/1194, pls check, thanks

<img width="753" alt="screen shot 2018-08-15 at 7 47 25 pm" src="https://user-images.githubusercontent.com/5815182/44149895-df10f996-a0c7-11e8-9d55-f20e18c8fb4a.png">

[2018-08-15 13:17] suppermancool commented on #1192
@ThomasKranitsas : Can you assign me this ticket,

[2018-08-15 13:19] ThomasKranitsas commented on #894
Contest https://www.topcoder.com/challenges/30069484 has been updated - it has been assigned to diazz.

[2018-08-15 13:27] suppermancool commented on #1192
@ThomasKranitsas : Can you assign me this ticket,

[2018-08-15 13:27] suppermancool commented on #1191
@ThomasKranitsas fixed in https://github.com/topcoder-platform/community-app/pull/1195, pls check, thanks

[2018-08-15 13:30] ThomasKranitsas commented on #1192
Contest https://www.topcoder.com/challenges/30069535 has been updated - it has been assigned to diazz.

[2018-08-15 13:30] ThomasKranitsas commented on #1192
@suppermancool it's your but please fix your open PRs before you work on this.

Thanks

[2018-08-15 13:32] #956 closed

[2018-08-15 13:32] ThomasKranitsas commented on #956
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069485

[2018-08-15 13:33] ThomasKranitsas commented on #1191
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069532

[2018-08-15 13:57] ThomasKranitsas opened #1197 "[$30] Profile - Hobby - Textarea resize issue"
- When you focus on the textarea, it changes size.
<img width="1455" alt="screen shot 2018-08-15 at 16 56 58" src="https://user-images.githubusercontent.com/4612921/44151801-48c4016a-a0ac-11e8-87bf-b07201909b06.png">

- When you resize the textarea, you can easily break the layout.
<img width="1455" alt="screen shot 2018-08-15 at 16 57 07" src="https://user-images.githubusercontent.com/4612921/441

[2018-08-15 14:01] ThomasKranitsas commented on #1197
Contest https://www.topcoder.com/challenges/30069537 has been created for this ticket.

[2018-08-15 14:01] ThomasKranitsas commented on #1197
Contest https://www.topcoder.com/challenges/30069537 has been updated - the new changes has been updated for this ticket.

[2018-08-15 14:09] gets0ul commented on #1197
Please assign me.

[2018-08-15 14:10] ThomasKranitsas commented on #1197
Contest https://www.topcoder.com/challenges/30069537 has been updated - it has been assigned to gets0ul.

[2018-08-15 15:10] gets0ul commented on #1197
"When you focus on the textarea, it changes size."
Cannot reproduce this one. The textarea is just fine whenever I focus on it.
Can you check it again? Thanks

[2018-08-15 15:16] ThomasKranitsas commented on #1197
I'm using the grammarly chrome extension so maybe that's causing the issue.

If you force the textarea to be 100% it'll solve the issue

[2018-08-15 15:25] ThomasKranitsas commented on #1011
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069499

[2018-08-15 15:35] ThomasKranitsas commented on #1162
@Gauravseta any update?

[2018-08-15 15:39] ThomasKranitsas commented on #1151
@topcoder-platform/topcodercompetitors we'll handle this ticket as a separate code challenge.

You can find the challenge here https://www.topcoder.com/challenges/30069539/?type=develop

The registration phase will open in a few minutes.

[2018-08-15 15:41] nauhil commented on #1162
If @Gauravseta did not finish it on time, please assign me

[2018-08-15 15:46] ThomasKranitsas commented on #1162
Yes, of course. If @Gauravseta won't complete it, it's yours

[2018-08-15 15:58] Gauravseta commented on #1162
@ThomasKranitsas its done raising Pr within 20mins.

[2018-08-15 16:02] ThomasKranitsas commented on #1162
Sounds good, thank you

[2018-08-15 16:05] Gauravseta commented on #1162
@ThomasKranitsas shall i paste some screenshots here of validation?

[2018-08-15 16:08] ThomasKranitsas commented on #1162
Yeah, feel free to do that

[2018-08-15 16:09] Gauravseta commented on #1162
<img width="664" alt="untitled4" src="https://user-images.githubusercontent.com/16337895/44158956-bcbf5700-a0d3-11e8-9da7-4ed1cb34d831.png">

[2018-08-15 16:10] Gauravseta commented on #1162
@ThomasKranitsas i hope its at correct position and similar to education behaviour. m raising PR now.

[2018-08-15 16:12] ThomasKranitsas commented on #1162
Looks good

[2018-08-15 16:13] Gauravseta commented on #1192
@ThomasKranitsas can i take this? as supermancool wud be busy in solving open PR.

[2018-08-15 16:13] sumitdaga commented on #1192
or me :)
@ThomasKranitsas

[2018-08-15 16:18] hokienick commented on #1095
Any update on this ticket?

[2018-08-15 16:26] ThomasKranitsas commented on #1192
@suppermancool sure, the ticket has your name ;)

[2018-08-15 16:29] #894 closed

[2018-08-15 16:30] ThomasKranitsas commented on #894
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069484

[2018-08-15 16:34] #1086 closed

[2018-08-15 16:57] gets0ul commented on #1197
Can you share the screencast when focusing the textarea?
Because I'm unable to reproduce it. The textarea size is just fine, it is not shrinking or enlarging when focused.

[2018-08-15 17:29] #1162 closed

[2018-08-15 17:30] ThomasKranitsas commented on #1162
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069282

[2018-08-15 17:30] Gauravseta commented on #1162
@ThomasKranitsas can you please check this.

[2018-08-15 17:30] Gauravseta commented on #1162
@ThomasKranitsas thanks

[2018-08-15 17:36] birdofpreyru commented on #1086
@hokienick not sure, why you closed this one? I believe, making dashboard announcement text working the same way as text in ContentBlocks is still a thing todo.

[2018-08-15 17:38] birdofpreyru commented on #1095
F2F did not work out. I could clear this myself, but probably it is not that high priority, as code blocks entered with Markdown's ``` do work well.

[2018-08-15 17:42] #1197 closed

[2018-08-15 17:42] ThomasKranitsas commented on #1197
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069537

[2018-08-15 17:44] ThomasKranitsas commented on #1049
@sandipanghos the fix is not completely correct. Please see my comment on the pull request and update your pull request.

[2018-08-15 18:03] suppermancool commented on #1192
hi @ThomasKranitsas i updated the topcoder-react-lib for supporting action for clearing profile, pls check this PR first
https://github.com/topcoder-platform/topcoder-react-lib/pull/21

[2018-08-15 18:05] Gauravseta commented on #1162
@ThomasKranitsas any more issues open for pickup soon? waiting .thanks

[2018-08-15 18:07] ThomasKranitsas commented on #1162
Maybe.. Not sure yet. I'll inform everyone if I open any new ticket

[2018-08-15 18:19] suppermancool commented on #1192
PR for this issue is done at
https://github.com/topcoder-platform/community-app/pull/1201
pls check

[2018-08-15 18:38] #1192 closed

[2018-08-15 18:38] ThomasKranitsas commented on #1192
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069535

[2018-08-16 08:01] ThomasKranitsas commented on #1173
@KevinLeigh will you complete this ticket?

[2018-08-16 08:05] KevinLeigh commented on #1173
@ThomasKranitsas Good morning Thomas, yes I will complete it latest by EOD.

[2018-08-16 08:06] ThomasKranitsas commented on #1173
Good morning! Thanks for the update!

[2018-08-16 08:25] ThomasKranitsas commented on #983
@narekcat seems like this has been fixed. Thank you for looking into that. I'll pay you 50% of the original price for your effort

[2018-08-16 08:26] ThomasKranitsas commented on #983
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069491

[2018-08-16 08:27] ThomasKranitsas commented on #1049
@sandipanghos please see my comment on your pull request. If you don't fix it ASAP, I'll open the ticket for pickup

[2018-08-16 08:27] ThomasKranitsas commented on #976
@KevinLeigh any update here?

[2018-08-16 08:27] Gauravseta commented on #1049
@ThomasKranitsas can you please assign me if he fails? thanks

[2018-08-16 08:28] ThomasKranitsas commented on #979
@sandipanghos any update here?

[2018-08-16 08:29] narekcat commented on #983
@ThomasKranitsas Ok, thank you very much.

[2018-08-16 08:30] PrakashDurlabhji commented on #976
@ThomasKranitsas kevinleigh has two issues assigned to himself? will u assign it to me this one if he fails. and i will make sure to complete on time from now.

[2018-08-16 08:31] ThomasKranitsas commented on #976
Hi @PrakashDurlabhji, @KevinLeigh got the 2nd ticket after he created a PR for the other one.
The PR wasn't correct thus he has 2 tickets.

Of course, if @KevinLeigh can't complete it, I'll assign you

[2018-08-16 08:33] KevinLeigh commented on #976
@ThomasKranitsas Hey Thomas, you can assign this ticket/issue to @PrakashDurlabhji :)

[2018-08-16 08:34] ThomasKranitsas commented on #976
Contest https://www.topcoder.com/challenges/30069489 has been updated - it has been assigned to PkDurlabhji.

[2018-08-16 08:37] KevinLeigh commented on #976
@ThomasKranitsas @PrakashDurlabhji Just a heads up, it would be a good idea to check if scrolling down page to load more SRMs will still keep the list sorted by date desc.

[2018-08-16 08:55] sushilshinde opened #1202 "Implement Filestack for dev and MM submissions: Use V5 submission API"
Use Filestack for submission of dev and MM submissions

V5 Submission API : https://tc-submission-api-dev.herokuapp.com/docs/

@birdofpreyru what should be a base branch for this change as this is an independent change

FYI... @BadalZ @cwdcwd @callmekatootie

[2018-08-16 10:17] sushilshinde opened #1203 "Challenge API to My Challenges Bucket"
Currently, this endpoint is servicing member challenges but challenge data model is different from the standard listing data model

`https://api.topcoder.com/v4/members/{id}/challenges/`

I want to unify this with the standard listing data model, one difference I do find here is `userDetails` object @birdofpreyru what are restrictions posed on roles

@skyhit do you find any creative to solve this

[2018-08-16 10:46] ThomasKranitsas opened #1204 "[$50] Profile - Issue when accessing the accounts settings page via URL"
If you visit the URL https://community-app.topcoder-dev.com/settings/account you will get the following error:

[code]

That is probably because somewhere we're calling `React.cloneElement()` with `null` as parameter.
You need to find the root of this issue and fix it.

Screenshot:
<img width="1415" alt="screen shot 2018-08-16 at 13 45 31" src="https://user-images.githubusercontent.com/4612921/442

[2018-08-16 10:46] ThomasKranitsas commented on #1204
@topcoder-platform/topcodercompetitors new ticket

[2018-08-16 10:51] ThomasKranitsas commented on #1204
Contest https://www.topcoder.com/challenges/30069600 has been created for this ticket.

[2018-08-16 10:52] rashmi73 commented on #1204
@ThomasKranitsas can u please assign it to me thanks

[2018-08-16 10:52] ThomasKranitsas commented on #1204
Contest https://www.topcoder.com/challenges/30069600 has been updated - the new changes has been updated for this ticket.

[2018-08-16 10:53] ThomasKranitsas commented on #1204
Contest https://www.topcoder.com/challenges/30069600 has been updated - it has been assigned to rashmi73.

[2018-08-16 11:34] birdofpreyru commented on #1202
@sushilshinde I think, **mm-feature-experiment**, to not block possibility to release from **new-develop** to production, even if something goes wrong with submission API. I just merged the latest **new-develop** into **mm-feature-experiment** to sync them.

[2018-08-16 11:59] birdofpreyru commented on #1203
@sushilshinde as I remember, UI relies on roles to decide, which buttons and links to show at challenge details page, and in dashboard (like forum, register / submit / OR / Direct / etc).

[2018-08-16 12:09] sharathkumaranbu opened #1205 "Problem with Review Opportunity page"
Recently in multiple instances, there is always problem with review opportunities page.

Though the challenge shows up in the review opportunity listing page, If I click on the individual challenge apply option, It loads an empty page with lot of console errors.

All of sudden after some hours, If I check the page it would have started working properly. Not sure what is happening and the behaviour

[2018-08-16 12:26] sharathkumaranbu commented on #1205
It started working now. Couldn't understand why there is a lag.

[2018-08-16 12:41] sushilshinde commented on #1203
ok thanks @birdofpreyru

[2018-08-16 12:53] sumitdaga commented on #979
can i take this one?
@ThomasKranitsas

[2018-08-16 12:54] ThomasKranitsas commented on #979
@sumitdaga sure, I'll add you since @sandipanghos is not responding

[2018-08-16 12:54] ThomasKranitsas commented on #979
Contest https://www.topcoder.com/challenges/30069475 has been updated - it has been assigned to daga_sumit.

[2018-08-16 13:07] sumitdaga commented on #979
@ThomasKranitsas
refer http://take.ms/HKqKv
in my local deployment the loader works in IE 11 though there is layout issue i noticed which is not limited to srm but present in all pages with such stats

[2018-08-16 13:10] sumitdaga commented on #979
[Screencast 2018-08-16.mp4.zip](https://github.com/topcoder-platform/community-app/files/2293764/Screencast.2018-08-16.mp4.zip)
a screenacst showing that the loader works in IE 11

[2018-08-16 13:13] ThomasKranitsas commented on #979
Can you please fix the layout issue?

[2018-08-16 13:13] ThomasKranitsas commented on #979
Contest https://www.topcoder.com/challenges/30069475 has been updated - the new changes has been updated for this ticket.

[2018-08-16 14:01] sumitdaga commented on #979
@ThomasKranitsas
this is ready for review ...if you haven't already noticed!

[2018-08-16 16:22] #979 closed, assigned to sumitdaga

[2018-08-16 16:29] ThomasKranitsas commented on #1049
Contest https://www.topcoder.com/challenges/30069503 has been updated - it has been assigned to gauravseta.

[2018-08-16 16:29] ThomasKranitsas commented on #1049
@Gauravseta please do start working on it

[2018-08-16 17:02] ThomasKranitsas opened #1208 "[$60] Profile - Deleting an entry in the user traits should show the user consent popup"
## Current behavior
Currently, if you edit anything in the profile settings page, the app will show the user consent popup.

If you delete any entry (eg a hobby) it won't show the user consent popup.

## Expected behavior
The app should show the user consent popup when deleting an entry.

[2018-08-16 17:03] KevinLeigh commented on #1208
@ThomasKranitsas Hey Thomas, I would like to pick up issue :)

[2018-08-16 17:06] ThomasKranitsas commented on #1208
Contest https://www.topcoder.com/challenges/30069648 has been updated - the new changes has been updated for this ticket.

[2018-08-16 17:08] ThomasKranitsas commented on #1208
Contest https://www.topcoder.com/challenges/30069648 has been updated - it has been assigned to kevin.crain.

[2018-08-16 17:17] KevinLeigh commented on #1208
@ThomasKranitsas Thank you, much appreciated

[2018-08-16 20:09] rashmi73 commented on #1204
@ThomasKranitsas i spent time on it, but m confused

1.why are u hitting url with "community-app" prepend in url?
2. If we remove it then its normal url and it is working perfectly. why are u checking different environment?
3. is there any else repo which is to be seen?

some indication wud be helpful.

[2018-08-16 20:25] #1049 closed

[2018-08-16 20:26] ThomasKranitsas commented on #1049
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069503

[2018-08-16 20:27] ThomasKranitsas commented on #1204
www.topcoder.com points to the legacy code https://github.com/appirio-tech/topcoder-app

the code from this repo is deployed under community-app.topcoder.com

We use nginx to configure which routes render the code from which repo but using `community-app` instead of `www` ensures that what you see is coming from this repo.

For example:
Compare https://community-app.topcoder.com/members/thomaskran

[2018-08-16 20:30] ThomasKranitsas commented on #1208
The other ticket is under review.

If @KevinLeigh won't complete this ticket, it's yours.

[2018-08-16 20:32] rashmi73 commented on #1204
@ThomasKranitsas so i need to look at "new-master" branch of this repo? and raise PR against "new-master"?

[2018-08-16 20:33] ThomasKranitsas commented on #1204
No, you still need to work based on the new-develop branch

[2018-08-16 20:39] rashmi73 commented on #1204
@ThomasKranitsas ok then on deploying locally, and visiting locally "http://localhost:3000",

i get page with all links where i can reach out to each page, and then reaching to "http://localhost:3000/settings/account" works well.

then how wud i reproduce that error locally?
where to go after deploying locally? which link?

[2018-08-16 20:51] KevinLeigh commented on #1208
@ThomasKranitsas @Gauravseta Hey Guys, I have started working on issue now, I have been super busy, I should be complete in 30 - 45 mins :)

[2018-08-16 21:09] KevinLeigh commented on #1208
Done, here is the PR -> https://github.com/topcoder-platform/community-app/pull/1210

[2018-08-16 21:12] PrakashDurlabhji commented on #976
@ThomasKranitsas i am 99% done, just need dummy data which petr profile has of SRMS.
tonyj profile doesnt have past SRM hence not able to check it.
on accessing petr profile locally it says unauthorized.

please help with a profile which has SRM.

[2018-08-16 21:14] KevinLeigh commented on #976
@PrakashDurlabhji Hey there, you can check this forum here -> https://apps.topcoder.com/forums/?module=Thread&threadID=922282&start=0, to see how to resolve unauthorized issue. It has to do with not setting Contentful environment variables.

[2018-08-16 21:42] PrakashDurlabhji commented on #976
@ThomasKranitsas Mr raised . thanks

[2018-08-17 04:09] sushilshinde opened #1212 "Details page broke on Beta-v4 : mm-features-experiments branch"
For these results

`https://beta-community-app.topcoder.com/challenges?filter[tracks][data_science]=true&bucket=past`

Details page doesn't work, here is an example

`https://beta-community-app.topcoder.com/challenges/17230`

<img width="685" alt="screen shot 2018-08-17 at 9 38 16 am" src="https://user-images.githubusercontent.com/683231/44247331-4b7dc200-a201-11e8-938f-bb6aa097d5ba.png">

Probabl

[2018-08-17 10:41] ThomasKranitsas opened #1213 "[$60] Profile - Issue with change email functionality"
Once you type in a new email and hit `send verification email`  ...a green box pops up which says `your account information has been updated` and the button changes to `send verification email` again.
Clicking on which again shows the same message and so on.

## Expected behavior

- The `Send verification email` button should be hidden once you click it.
- The notification should say `Verification

[2018-08-17 10:45] ThomasKranitsas commented on #1213
Contest https://www.topcoder.com/challenges/30069729 has been created for this ticket.

[2018-08-17 10:45] ThomasKranitsas commented on #1213
Contest https://www.topcoder.com/challenges/30069729 has been updated - the new changes has been updated for this ticket.

[2018-08-17 10:47] sumitdaga commented on #1213
can you assign it to me?

[2018-08-17 10:47] ThomasKranitsas commented on #1213
Contest https://www.topcoder.com/challenges/30069729 has been updated - it has been assigned to daga_sumit.

[2018-08-17 11:45] sumitdaga commented on #1213
@ThomasKranitsas
please check the PR and let me know if i have missed something

[2018-08-17 12:59] birdofpreyru commented on #1212
Fixed

[2018-08-17 12:59] #1212 closed

[2018-08-17 13:02] ThomasKranitsas commented on #1204
Assuming that you've configured everything properly based on the README.md, it should be http://local.topcoder-dev.com:3000/settings/account

[2018-08-17 13:02] ThomasKranitsas commented on #1204
@rashmi73 can you give me an ETA?
It's urgent to complete this ticket ASAP.

[2018-08-17 13:07] ThomasKranitsas commented on #1213
Contest https://www.topcoder.com/challenges/30069729 has been updated - the new changes has been updated for this ticket.

[2018-08-17 13:10] sumitdaga commented on #1204
please assign it to me, when you decide to move on!

[2018-08-17 13:10] ThomasKranitsas commented on #1204
@rashmi73 I'm assigning this to someone else as this is super urgent and it's already been 24h since you started working on this.

The issue you were facing was not a blocker that prevented you from working. Everything is documented in the readme.md

[2018-08-17 13:11] ThomasKranitsas commented on #1204
Contest https://www.topcoder.com/challenges/30069600 has been updated - it has been assigned to daga_sumit.

[2018-08-17 13:27] #1213 closed

[2018-08-17 13:28] ThomasKranitsas commented on #1213
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069729

[2018-08-17 14:16] #976 closed

[2018-08-17 14:16] ThomasKranitsas commented on #976
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069489

[2018-08-17 14:19] sumitdaga commented on #1204
@ThomasKranitsas
please see if this fixes the issue!

[2018-08-17 14:37] #1204 closed

[2018-08-17 14:37] ThomasKranitsas commented on #1204
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069600

[2018-08-17 14:44] rashmi73 commented on #1204
@ThomasKranitsas yes everything was configured properly, but i feel it shud be in more detail which link goes where  because even after investing time in it i was confused though completely aware about other components.

[2018-08-17 14:47] #1151 closed

[2018-08-17 15:40] Gauravseta commented on #1208
@thomaskranitsas any issues open for pickup?

[2018-08-17 15:42] ThomasKranitsas commented on #1208
@Gauravseta we don't have any other tickets right now. Feel free to open a new ticket if you find any issue with the member profile page or the settings page.

[2018-08-17 15:52] Gauravseta commented on #1208
sure

[2018-08-18 19:28] ThomasKranitsas opened #1223 "[$30] Profile - Fixes on the skills page"
## Screenshot:
<img width="1361" alt="screen shot 2018-08-18 at 22 19 57" src="https://user-images.githubusercontent.com/4612921/44302605-12df0500-a335-11e8-8d6e-31d53f34da25.png">

## Current behavior

The skills are shown twice which makes the page too long.

## Expected behavior

- We should only show the skills under the `Your skills` section
- Reduce the bottom margin of each skill to `55px`

[2018-08-18 19:28] ThomasKranitsas commented on #1223
@topcoder-platform/topcodercompetitors new ticket

[2018-08-18 19:29] KevinLeigh commented on #1223
@ThomasKranitsas Please assign to me :)

[2018-08-18 19:32] Gauravseta commented on #1223
@thomaskranitsas can you please assign to me

[2018-08-18 19:32] ThomasKranitsas commented on #1223
It was assigned to @KevinLeigh

[2018-08-18 19:32] Gauravseta commented on #1223
@thomaskranitsas i guess kevin already working on another issue.

[2018-08-18 19:32] ThomasKranitsas commented on #1223
Contest https://www.topcoder.com/challenges/30069753 has been created for this ticket.

[2018-08-18 19:32] ThomasKranitsas commented on #1223
Contest https://www.topcoder.com/challenges/30069753 has been updated - the new changes has been updated for this ticket.

[2018-08-18 19:33] ThomasKranitsas commented on #1223
Contest https://www.topcoder.com/challenges/30069753 has been updated - it has been assigned to kevin.crain.

[2018-08-18 19:33] ThomasKranitsas commented on #1223
The other tickets are ready to be merged. I'm just holding them because I need confirmation from the PM on those.

[2018-08-18 19:33] Gauravseta commented on #1223
@thomaskranitsas any more to come from ur side  ? or i need to search on my own?

[2018-08-18 19:34] ThomasKranitsas commented on #1223
None at the moment but we will probably run a second round of bug bash soon.

[2018-08-18 19:36] KevinLeigh opened #1224 "Remove occurrences of eslint-disable and fix existing jslint errors"
#### Description

The project has 165 occurrences of `eslint-disable` across files, which is suppressing lots of jslint errors in js/jsx files. Having `eslint-disable` in a file can end up in a Developer(s) making the same error, without realising he/she has, because running projects npm command -> `npm run lint:js` the new jslint error will not show up.

#### Screenshot

<img width="685" alt="443

[2018-08-18 19:38] KevinLeigh commented on #1224
Hey @birdofpreyru , please could you have a look into this ticket/issue? If it is confirmed by you I would be more than happy to complete.

[2018-08-18 19:53] KevinLeigh commented on #1223
@ThomasKranitsas Basically done, however I cannot test my changes because I am getting an error while adding a skill, is there maybe a test account with skills added to that I can use to login to locally and test changes ?

- Current error while adding a skill:

<img width="1190" alt="screen shot 2018-08-18 at 21 49 56" src="https://user-images.githubusercontent.com/32452072/44302825-ed4ffc80-a330

[2018-08-18 19:59] ThomasKranitsas commented on #1223
You can run `sudo NODE_CONFIG_ENV=production PORT=80 npm run dev` to run the app locally against the production API which works perfectly fine and test with your account.

[2018-08-18 20:03] KevinLeigh commented on #1223
@ThomasKranitsas After command unfortunately I get unauthorised screen now, which I have fixed for a local develop build already.

[2018-08-18 20:03] KevinLeigh commented on #1223
<img width="1166" alt="screen shot 2018-08-18 at 22 01 31" src="https://user-images.githubusercontent.com/32452072/44302896-83385700-a332-11e8-8772-2b2b0ace5e57.png">

[2018-08-18 20:04] ThomasKranitsas commented on #1223
Oh, that's because you need to add `127.0.0.1	local.topcoder.com` to your hosts file (`/etc/hosts`) and then visit local.topcoder.com (without the `-dev` suffix)

[2018-08-18 20:16] KevinLeigh commented on #1223
@ThomasKranitsas Thank you for the update, I am getting the same issue with url `http://local.topcoder.com/settings/profile`, maybe it could be because I need to use alternative Contentful values for CONTENTFUL_CDN_API_KEY, CONTENTFUL_PREVIEW_API_KEY & CONTENTFUL_SPACE_ID ?

[2018-08-18 20:26] KevinLeigh commented on #1223
@ThomasKranitsas Thank you so much for the help, and I understand :). Please see PR here -> https://github.com/topcoder-platform/community-app/pull/1226

[2018-08-18 20:39] ThomasKranitsas commented on #1223
Thanks @KevinLeigh for the quick fix!

[2018-08-18 20:39] #1223 closed

[2018-08-18 20:39] ThomasKranitsas commented on #1223
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069753

[2018-08-18 20:40] KevinLeigh commented on #1223
Anytime @ThomasKranitsas :)

[2018-08-18 23:45] birdofpreyru commented on #1174
It made it to prod, thus closing the ticket.

[2018-08-18 23:45] #1174 closed

[2018-08-19 15:30] #1095 closed

[2018-08-20 17:46] ajefts opened #1227 "Blockchain and cognitive sites not recognizing membership"
I'm a member of the groups, but when I visit the sites it's not showing me as registered for the community.

[2018-08-20 17:46] ajefts commented on #1227
@birdofpreyru can you check this one?

fyi @cwdcwd

[2018-08-20 20:00] ajefts commented on #1108
@urwithat @ThomasKranitsas Please make only the above 3 fields required on the basic info page.  Everything else should be optional.

[2018-08-20 20:03] ajefts commented on #1106
@ThomasKranitsas @urwithat On my profile in prod, country is not showing although it is set to USA in the DB...

![image](https://user-images.githubusercontent.com/3812270/44363570-8c403a00-a492-11e8-829c-afd926587f2d.png)

[2018-08-20 20:03] ThomasKranitsas commented on #1108
How about the following?
- birthdate
- gender
- address info

[2018-08-20 20:04] ajefts opened #1228 "[$20] Profile - hide some tabs for now"
Edited:  Please hide education/work/organization/language from the UI for now.

[2018-08-20 20:05] ThomasKranitsas commented on #1106
Good catch!

I know why. It’s because in the new UI it’s “United States of America”.

We’ll have to think of how to catch such cases.

[2018-08-20 20:06] Gauravseta commented on #1108
@thomaskranitsas if it becomes open for pickup then will i get this? as it was implemented by me.thanks

[2018-08-20 20:06] ajefts opened #1229 "[$50] Profile - Communities not working"
When I load the communities page, it should be showing me as a member of the communities I'm in.  However, it's not.  For example, I'm in blockchain and cognitive, but this is what I see:

![image](https://user-images.githubusercontent.com/3812270/44363718-fb1d9300-a492-11e8-8342-b559c05e548a.png)

[2018-08-20 20:07] ajefts opened #1230 "[$20] Profile - remove some communities"
Remove IOS and Predix communities from the options list on the communities tab.

![image](https://user-images.githubusercontent.com/3812270/44363741-0ec8f980-a493-11e8-9a1a-c35aa2d73e4b.png)

[2018-08-20 20:13] dmessing opened #1231 "[$30] profile - uploading profile pic"
It works but doesn't refresh the picture so it doesn't look like it works.

Definitly low priority

[2018-08-20 20:14] dmessing commented on #1108
@Gauravseta I say fix it, I think @ThomasKranitsas is out right now

[2018-08-20 20:15] dmessing commented on #1108
@ThomasKranitsas those should be optional

[2018-08-20 20:15] ThomasKranitsas commented on #1108
This will require backend fixes as well.

[2018-08-20 20:19] ThomasKranitsas commented on #1108
Please do the frontend changes and I’ll do the backend work

[2018-08-20 20:19] dmessing opened #1232 "[$40] profile -- languages"
Fine to leave for now but should this be some sort of type ahead?

[2018-08-20 20:20] Gauravseta commented on #1108
@thomaskranitsas to be done on backend too? or only front end?

[2018-08-20 20:20] ThomasKranitsas commented on #1108
You only have to work on the frontend

[2018-08-20 20:22] ThomasKranitsas commented on #1230
@topcoder-platform/topcodercompetitors new ticket!

[2018-08-20 20:22] dmessing opened #1233 "[$10] profile -- personalization spelled differently in on paragraph"
You can opt out from personalisation any time in the future in at Preferences > Personalization.