[2020-08-28 06:19] #4800 closed

[2020-08-28 06:19] #4819 closed

[2020-08-28 06:53] crazyk07 commented on #4792
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-28 07:57] SathyaJayabal commented on #4806
verified on staging(develop branch)
<img width="1440" alt="Screenshot 2020-08-28 at 1 26 00 PM" src="https://user-images.githubusercontent.com/58783823/91536259-14833080-e932-11ea-8876-9c9aee6a8f00.png">

[2020-08-28 07:57] SathyaJayabal commented on #4727
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2020-08-28 at 1 24 43 PM" src="https://user-images.githubusercontent.com/58783823/91536190-f6b5cb80-e931-11ea-899e-c2e4331cf9d7.png">
<img width="1440" alt="Screenshot 2020-08-28 at 1 26 49 PM" src="https://user-images.githubusercontent.com/58783823/91536299-2664d380-e932-11ea-9fdb-ce5f2359693b.png">

[2020-08-28 08:14] SathyaJayabal commented on #4716
verified on staging(develop branch)
<img width="1440" alt="Screenshot 2020-08-28 at 1 40 43 PM" src="https://user-images.githubusercontent.com/58783823/91537796-7d6ba800-e934-11ea-922e-c6e0bb585dcd.png">

[2020-08-28 08:30] SathyaJayabal commented on #4826
verified on staging. @kkartunov is the font of the "No Results" ok?
<img width="1440" alt="Screenshot 2020-08-28 at 1 58 15 PM" src="https://user-images.githubusercontent.com/58783823/91539322-c0c71600-e936-11ea-9701-19b87d8c7d0f.png">

<img width="1440" alt="Screenshot 2020-08-28 at 1 58 07 PM" src="https://user-images.githubusercontent.com/58783823/91539301-bc026200-e936-11ea-98a4-7498ee810997.p

[2020-08-28 08:50] SathyaJayabal commented on #4792
@PrakashDurlabhji , this causes redirection of legacy challenges to fail
example:
https://www.topcoder.com/challenges/30138145
should redirect to
https://www.topcoder.com/challenges/91fcb713-cfe5-4670-94e9-2d378eb4625b

[2020-08-28 09:45] PrakashDurlabhji commented on #4792
@SathyaJayabal Let me check again as I dont think it would have happened due to my code

[2020-08-28 09:47] sushilshinde commented on #4792
this returns the object

[code]

this returns the array

[code]

[2020-08-28 09:58] sushilshinde commented on #4782
@cagdas001 thanks, will merge this on monday.

[2020-08-28 09:58] sushil commented on #4787
Folks. Please stop using @sushil handle here. Its sending me notifications, and not the intended individual.

<img width="976" alt="handle" src="https://user-images.githubusercontent.com/108484/91548493-707a9480-e8f3-11ea-8d79-d40f75b71a17.png">

[2020-08-28 10:09] cagdas001 commented on #4527
@Oanh-and-only-Oanh FYI, this is not a quick fix as it requires API change, explained in the above comment

@rootelement @callmekatootie

[2020-08-28 10:12] PrakashDurlabhji commented on #4792
@sushilshinde yes than [0] is required

[2020-08-28 10:23] PrakashDurlabhji commented on #4792
@SathyaJayabal above example u gave above is redirecting

[2020-08-28 10:52] SathyaJayabal commented on #4806
verified on prod
<img width="1440" alt="Screenshot 2020-08-28 at 4 21 45 PM" src="https://user-images.githubusercontent.com/58783823/91553220-a9922380-e94a-11ea-8d12-8226b80053b5.png">
<img width="1440" alt="Screenshot 2020-08-28 at 4 21 55 PM" src="https://user-images.githubusercontent.com/58783823/91553234-af880480-e94a-11ea-8c5e-4526d82516e7.png">

[2020-08-28 10:55] SathyaJayabal commented on #4716
verified on prod
<img width="1440" alt="Screenshot 2020-08-28 at 4 23 48 PM" src="https://user-images.githubusercontent.com/58783823/91553355-e3632a00-e94a-11ea-8fd0-7779ffac8456.png">

[2020-08-28 10:55] SathyaJayabal commented on #4727
verified on prod
<img width="1440" alt="Screenshot 2020-08-28 at 4 24 39 PM" src="https://user-images.githubusercontent.com/58783823/91553442-07267000-e94b-11ea-89d1-496b997042ed.png">

[2020-08-28 10:55] #4716 closed

[2020-08-28 10:56] crazyk07 commented on #4716
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136487<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-28 10:56] #4727 closed

[2020-08-28 10:57] crazyk07 commented on #4727
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136486<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-28 10:57] #4806 closed

[2020-08-28 10:57] crazyk07 commented on #4806
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30138404<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-28 11:06] SathyaJayabal commented on #4713
verified in prod
<img width="1440" alt="Screenshot 2020-08-28 at 4 33 28 PM" src="https://user-images.githubusercontent.com/58783823/91554292-7a7cb180-e94c-11ea-87c4-55f2607b227d.png">

[2020-08-28 11:06] #4713 closed

[2020-08-28 11:06] crazyk07 commented on #4713
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136117<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-28 11:19] PrakashDurlabhji commented on #4792
@sushilshinde it is solved now perfectly, raising a new PR

[2020-08-28 11:23] PrakashDurlabhji commented on #4792
@sushilshinde @SathyaJayabal this PR is perfect now https://github.com/topcoder-platform/topcoder-react-lib/pull/234

[2020-08-28 13:14] arnandosimanjuntak commented on #4787
@SathyaJayabal I have tried it and clear my browser cached, but still can't register and getting the same error message.

![image](https://user-images.githubusercontent.com/30616976/91564506-eec64d80-e96a-11ea-9a3c-024508ad77c6.png)

[2020-08-28 13:18] SathyaJayabal commented on #4787
@arnandosimanjuntak thanks.
@rootelement , looks like this issue is not fixed by #4800

[2020-08-28 18:16] jswheeler opened #4830 "Multiple XXS issues found on H1"
**Describe the bug**
Issues are listed in Jira
- https://topcoder.atlassian.net/browse/VULN-1581
- https://topcoder.atlassian.net/browse/VULN-1896
- https://topcoder.atlassian.net/browse/VULN-1890
- https://topcoder.atlassian.net/browse/VULN-1807

**To Reproduce**
Steps to reproduce the behavior:
See each individual Jira issue listed above

**Expected behavior**
A clear and concise description of

[2020-08-28 18:53] luizrrodrigues commented on #4575
@SathyaJayabal This one waiting for env vars set.

@sushilshinde Let me know when done.

[2020-08-28 20:42] luizrrodrigues commented on #4739
@SathyaJayabal The review opportunities still have v4 API in challenges details.

In V4 API we look for QA in tags to check if is a `QA` is present.

So I see these are learning challenges, if not a QA track, so maybe QA tag was wrong added?

[2020-08-28 21:10] tmalbonph opened #4831 "Member Rank color is not consistent"
**Describe the bug**
Member Rank color is not consistent. Please note that coder rank is very important when you need it to show up on your accomplishment portfolio or you are aspiring to get a work a gig-work with better pay for a weekly base job.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit your profile, (replace TMALBONPH with your handle) https://www.topcoder.com/members/TMALBON

[2020-08-29 07:20] luizrrodrigues commented on #4730
@sushilshinde PRs ready ☝️

[2020-08-29 07:41] SathyaJayabal commented on #4739
@luizrrodrigues , Let's discuss this with @sushilshinde on Monday

[2020-08-30 13:43] rootelement commented on #4809
This is fixed in prod:
https://www.topcoder.com/challenges/c74d6aa8-0724-40a5-b177-3bf05b36e046

[2020-08-30 21:06] tmalbonph commented on #4831
see similar issue created by @VanitaW here: https://github.com/topcoder-platform/community-app/issues/4794

[2020-08-30 21:21] rootelement commented on #4747
Fixed in prod data. Please confirm

[2020-08-30 21:26] cagdas001 commented on #4747
@rootelement I still see it in the response:
https://api.topcoder.com/v5/challenges/118cb7f0-25e9-40e5-83ee-bd6fb3514e1d

[2020-08-30 21:32] luizrrodrigues commented on #4752
@narekcat API was updated, please do needed changes.

[2020-08-31 03:55] SathyaJayabal commented on #4739
@luizrrodrigues , in V4 we did not have QA as a separate track.

All other buckets use V5 while Open for review still uses V4. We need to use the same mapping V5 uses for the other buckets, so that it is consistent.  So for example for the above challenge, even though it is tagged with QA, it will still show up under develop track (in the other other buckets). Only challenges with subtrack "BUG_HU

[2020-08-31 03:58] SathyaJayabal commented on #4809
verified in prod
<img width="1440" alt="Screenshot 2020-08-31 at 9 27 45 AM" src="https://user-images.githubusercontent.com/58783823/91681495-4089f600-eb6c-11ea-9bdd-3dea95c7c96e.png">

[2020-08-31 03:58] #4809 closed

[2020-08-31 05:51] sushilshinde commented on #4575
I'll set this today

[2020-08-31 05:55] sushilshinde commented on #4747
@rootelement please help

[2020-08-31 05:57] narekcat commented on #4752
@luizrrodrigues Ok, thank you.

[2020-08-31 06:20] sushilshinde commented on #4723
@nursoltan-s it's breaking again

![CF Dev F2F and Task 2020-08-31 11-50-22](https://user-images.githubusercontent.com/683231/91688687-2eb24e00-eb80-11ea-80b7-9d0bd0ebd312.png)

I'm reverting again.

[2020-08-31 07:01] SathyaJayabal commented on #4747
verified on staging
<img width="1440" alt="Screenshot 2020-08-31 at 12 30 28 PM" src="https://user-images.githubusercontent.com/58783823/91691761-d2eac380-eb85-11ea-98e5-3daa30d3bbe2.png">
<img width="1440" alt="Screenshot 2020-08-31 at 12 30 35 PM" src="https://user-images.githubusercontent.com/58783823/91691776-d9793b00-eb85-11ea-9774-69a7882de63d.png">

[2020-08-31 07:09] SathyaJayabal commented on #4792
verified on staging
<img width="1436" alt="Screenshot 2020-08-31 at 12 38 06 PM" src="https://user-images.githubusercontent.com/58783823/91692391-f2ceb700-eb86-11ea-88dd-3b2482517dab.png">

[2020-08-31 08:27] SathyaJayabal commented on #4730
@luizrrodrigues, a few of the ratings are incorrect.
example
https://staging-community-app.topcoder.com/challenges/bee2d53e-d7f1-403e-8541-84d0a207f0ca?tab=submissions
<img width="1440" alt="Screenshot 2020-08-31 at 1 55 10 PM" src="https://user-images.githubusercontent.com/58783823/91699392-de43ec00-eb91-11ea-8cc9-975bd8f916ee.png">

[2020-08-31 08:44] sushilshinde commented on #4782
@rootelement we are switching back to the original solution, waited for your reply though.

[2020-08-31 10:28] luizrrodrigues commented on #4730
@SathyaJayabal Looks like this is a API issue, check:

yypark : https://staging-community-app.topcoder.com/members/yypark/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH

gardn999 : https://staging-community-app.topcoder.com/members/gardn999/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH

kukusi : https://staging-community-app.topcoder.com/members/kukusi/details/?track=DATA_SCIENCE&subTra

[2020-08-31 10:37] luizrrodrigues commented on #4674
@PrakashDurlabhji Checking status on this one.

[2020-08-31 10:45] SathyaJayabal commented on #4575
verified on prod
<img width="1440" alt="Screenshot 2020-08-31 at 3 57 27 PM" src="https://user-images.githubusercontent.com/58783823/91712327-2ae4f280-eba5-11ea-93a6-680066e92da4.png">

[2020-08-31 10:47] sushilshinde commented on #4730
@urwithat

[2020-08-31 10:59] SathyaJayabal commented on #4782
@cagdas001 , All challenges are displayed under My Challenges
<img width="1440" alt="Screenshot 2020-08-31 at 2 57 02 PM" src="https://user-images.githubusercontent.com/58783823/91713269-0ee25080-eba7-11ea-90a7-203396376a62.png">

[2020-08-31 10:59] crazyk07 commented on #4510
Payment failed: [500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-31 11:01] SathyaJayabal commented on #4730
@luizrrodrigues, the submissions table must display rating that is same as what is displayed here. Form where do we get the rating data for the submissions table? Is it a submissions api issue?
yypark : https://staging-community-app.topcoder.com/members/yypark/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH
gardn999 : https://staging-community-app.topcoder.com/members/gardn999/details/?track=D

[2020-08-31 11:28] tmalbonph commented on #4782
Visiting "My Challenges" link here https://staging-community-app.topcoder.com/challenges/?bucket=my **gives the wrong Challenges listing**

![Screenshot from 2020-08-31 19-26-15](https://user-images.githubusercontent.com/3745678/91715288-ef0b5680-ebbf-11ea-9aee-29399d01fef5.png)

[2020-08-31 11:39] tanyo13 opened #4834 "Hyphens in an email address for registration"
Hello, according to your support teams' suggestion, I'm filing a bug report.

**Describe the bug**
A hyphen ("-") is not accepted in an email address.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the account setting page: "https://www.topcoder.com/settings/account"
2. Press the "Change Email" button.
3. In "New Email" field, enter an email address that contains hyphens, such as "xx

[2020-08-31 12:08] cagdas001 commented on #4782
@SathyaJayabal Looks like one of my commits was not involved in the PR. It will be fixed after merging this https://github.com/topcoder-platform/topcoder-react-lib/pull/236 and deployed

[2020-08-31 12:21] narekcat commented on #4752
@SathyaJayabal @sushilshinde I have fixed this issue, please see pull request https://github.com/topcoder-platform/topcoder-react-lib/pull/237.

[2020-08-31 12:26] luizrrodrigues commented on #4730
The rating is not consistent, check graph (challenge historic) and rating on top, not same:

<img width="1155" alt="image" src="https://user-images.githubusercontent.com/7029641/91719633-10daee00-eb6c-11ea-97c0-c73673bc801b.png">

[2020-08-31 13:19] SathyaJayabal commented on #4730
@luizrrodrigues @sushilshinde , we are tracking this here https://github.com/topcoder-platform/community-app/issues/4794.

As the other issues in the ticket are fixed, we can go ahead.

[2020-08-31 13:21] narekcat commented on #4461
@SathyaJayabal @sushilshinde I have tested this issue again and it works as expected. See screanshot:
![image](https://user-images.githubusercontent.com/11549629/91724405-55877900-ebae-11ea-8629-56d5cbe710a7.png)

[2020-08-31 15:43] dukeprashanth opened #4835 "Competition were not filtered properly"
**Certain data science competitions was not filtered properly**
I would usually access topcoder website only with datascience filter turned on. I recently came across an issue were certain datascience competition would only show up only when all three filters were turned on. (Please note that these competitions were clearly labeled as datascience competitions)

**To Reproduce**
Steps to reproduce

[2020-08-31 15:44] #4835 closed

[2020-08-31 17:18] hokienick commented on #4826
Yes the font is ok for now.

[2020-08-31 19:57] #4598 closed

[2020-08-31 20:35] crazyk07 commented on #4723
Contest https://www.topcoder.com/challenges/30136485 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-31 20:38] ajefts opened #4836 "SEO: server side loading"
**Describe the bug**

Advice from Google:

[code]

[2020-09-01 03:17] luizrrodrigues commented on #4723
@cagdas001 Any progress in this one?

[2020-09-01 03:29] SathyaJayabal commented on #4739
verified on staging
<img width="1440" alt="Screenshot 2020-09-01 at 8 58 26 AM" src="https://user-images.githubusercontent.com/58783823/91791671-57dee700-ec31-11ea-99a0-972ce660d12c.png">

[2020-09-01 04:50] luizrrodrigues commented on #4781
@lakshmiathreya @SathyaJayabal this one is
Duplicate of #4298

[2020-09-01 04:55] luizrrodrigues commented on #4765
Another example:
https://beta-community-app.topcoder.com/challenges/30139563
https://www.topcoder.com/challenges/6d79cf9c-d751-4f86-ab9d-10a34c1ef790

[2020-09-01 05:21] luizrrodrigues commented on #4831
@rootelement API returning different rating in `/MEMBER/stats` and `/MEMBERS/stats/history`:

![image](https://user-images.githubusercontent.com/7029641/91797768-c607b780-ebf9-11ea-9c80-9b3a122ff104.png)

[2020-09-01 05:21] luizrrodrigues commented on #4794
@rootelement API returning different rating in `/MEMBER/stats` and `/MEMBERS/stats/history`:

![image](https://user-images.githubusercontent.com/7029641/91797768-c607b780-ebf9-11ea-9c80-9b3a122ff104.png)

[2020-09-01 05:23] #4781 closed

[2020-09-01 05:46] SathyaJayabal commented on #4831
@luizrrodrigues , the colour shown is forums and online review is out of scope for us. We need to make sure what we display on challenge details and member profiles/stats history page is correct.

For the api issue we already have https://github.com/topcoder-platform/community-app/issues/4794

[2020-09-01 05:48] #4831 closed

[2020-09-01 10:35] PrakashDurlabhji commented on #4674
@luizrrodrigues http://api.topcoder.com/v5/challenges/6901ad3c-f107-4947-b9f0-4c1548a0bf03

it gives you are not allowed to access this group

[2020-09-01 11:06] SathyaJayabal commented on #4674
@PrakashDurlabhji you need your user token to access this challenge. You cannot access the api response directly through the browser.
Use the below link after logging in
https://www.topcoder.com/challenges/6901ad3c-f107-4947-b9f0-4c1548a0bf03

[2020-09-01 11:21] SathyaJayabal commented on #4461
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2020-09-01 at 4 50 53 PM" src="https://user-images.githubusercontent.com/58783823/91843454-62ba6b80-ec73-11ea-9bf5-cd4650e2db1b.png">

[2020-09-01 11:43] SathyaJayabal commented on #4826
verified in staging(develop branch)
<img width="1440" alt="Screenshot 2020-09-01 at 5 07 51 PM" src="https://user-images.githubusercontent.com/58783823/91845114-3eac5980-ec76-11ea-8022-3702afee1275.png">
<img width="1440" alt="Screenshot 2020-09-01 at 5 12 03 PM" src="https://user-images.githubusercontent.com/58783823/91845139-4835c180-ec76-11ea-8dfe-992dbbcc5a85.png">

Also includes some content

[2020-09-01 11:46] SathyaJayabal commented on #4730
verified on staging(develop branch)
<img width="1440" alt="Screenshot 2020-09-01 at 5 13 50 PM" src="https://user-images.githubusercontent.com/58783823/91845323-9054e400-ec76-11ea-9a70-40ff148f6bc3.png">

[2020-09-01 12:07] SathyaJayabal commented on #4461
The challenge count and purse cash only includes challenges the user is registered to. It should include all challenges

[2020-09-01 12:10] SathyaJayabal commented on #4739
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2020-09-01 at 5 40 04 PM" src="https://user-images.githubusercontent.com/58783823/91849770-31916980-ec7a-11ea-9695-6105cf47852f.png">

[2020-09-01 12:12] SathyaJayabal commented on #4575
verified on staging(develop branch)
<img width="1440" alt="Screenshot 2020-09-01 at 5 40 57 PM" src="https://user-images.githubusercontent.com/58783823/91849927-6a314300-ec7a-11ea-8d82-01a3548cbbe2.png">
<img width="1440" alt="Screenshot 2020-09-01 at 5 41 03 PM" src="https://user-images.githubusercontent.com/58783823/91849942-6f8e8d80-ec7a-11ea-8027-e169e4febbff.png">

[2020-09-01 12:13] SathyaJayabal commented on #4792
verified on staging(develop branch)
<img width="1440" alt="Screenshot 2020-09-01 at 5 42 26 PM" src="https://user-images.githubusercontent.com/58783823/91850034-8e8d1f80-ec7a-11ea-8973-dd068c609492.png">

[2020-09-01 12:14] SathyaJayabal commented on #4747
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2020-09-01 at 5 43 22 PM" src="https://user-images.githubusercontent.com/58783823/91850140-b2506580-ec7a-11ea-9076-82afe3605a8c.png">

[2020-09-01 13:05] SathyaJayabal commented on #4575
verified on prod
<img width="1440" alt="Screenshot 2020-09-01 at 6 34 11 PM" src="https://user-images.githubusercontent.com/58783823/91854773-db282900-ec81-11ea-97d7-220a8fb562f6.png">
<img width="1440" alt="Screenshot 2020-09-01 at 6 34 18 PM" src="https://user-images.githubusercontent.com/58783823/91854784-e0857380-ec81-11ea-9bbb-63040b08c389.png">

[2020-09-01 13:06] crazyk07 commented on #4575
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-01 13:08] SathyaJayabal commented on #4747
verified on prod
<img width="1440" alt="Screenshot 2020-09-01 at 6 38 10 PM" src="https://user-images.githubusercontent.com/58783823/91855110-538eea00-ec82-11ea-9ba9-de7a39e79891.png">

[2020-09-01 13:10] #4747 closed

[2020-09-01 13:11] crazyk07 commented on #4747
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30138277<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-01 13:11] SathyaJayabal commented on #4792
verified on prod
<img width="1440" alt="Screenshot 2020-09-01 at 6 39 24 PM" src="https://user-images.githubusercontent.com/58783823/91855351-af597300-ec82-11ea-86a3-4da877743d50.png">

[2020-09-01 13:11] #4792 closed

[2020-09-01 13:11] crazyk07 commented on #4792
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30138278<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-01 13:13] SathyaJayabal commented on #4730
verified on prod
<img width="1440" alt="Screenshot 2020-09-01 at 6 43 04 PM" src="https://user-images.githubusercontent.com/58783823/91855589-05c6b180-ec83-11ea-96cb-cc43fa8594d3.png">

[2020-09-01 13:13] #4730 closed

[2020-09-01 13:14] crazyk07 commented on #4730
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136594<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-01 13:14] SathyaJayabal commented on #4739
verified on prod
<img width="1440" alt="Screenshot 2020-09-01 at 6 44 18 PM" src="https://user-images.githubusercontent.com/58783823/91855744-327ac900-ec83-11ea-8e05-8e3ae42a6edf.png">

[2020-09-01 13:14] #4739 closed

[2020-09-01 13:15] crazyk07 commented on #4739
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136683<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-01 13:15] #4575 closed

[2020-09-01 13:15] crazyk07 commented on #4575
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130676<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-01 13:16] SathyaJayabal commented on #4826
verified on prod
<img width="1440" alt="Screenshot 2020-09-01 at 6 45 37 PM" src="https://user-images.githubusercontent.com/58783823/91855873-68b84880-ec83-11ea-8fc5-bfe62bb56da8.png">
<img width="1440" alt="Screenshot 2020-09-01 at 6 45 40 PM" src="https://user-images.githubusercontent.com/58783823/91855885-6e159300-ec83-11ea-971b-684622808db0.png">

[2020-09-01 13:16] #4826 closed

[2020-09-01 13:41] rootelement commented on #4510
@fikzzzy what is your Topcoder handle?

[2020-09-01 13:47] fikzzzy commented on #4510
fikzzzy

[2020-09-01 13:47] SathyaJayabal commented on #4787
@arnandosimanjuntak , what is your topcoder handle?

[2020-09-01 13:57] crazyk07 commented on #4510
Payment failed: [500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-01 14:04] crazyk07 commented on #4510
Contest https://www.topcoder.com/challenges/30137528 has been updated - mfikria has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-01 14:13] crazyk07 commented on #4510
Payment failed: [500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-01 14:14] crazyk07 commented on #4510
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-01 15:20] rootelement commented on #4510
I'm not sure what is up with this issue. Going to pay it out via a direct payment. Closing this out.

[2020-09-01 15:21] #4510 closed

[2020-09-01 15:21] crazyk07 commented on #4510
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-01 16:08] Oanh-and-only-Oanh commented on #4678
@SathyaJayabal, this looks like it's an issue for "new member registration flow". Can you test that flow to see if the issue is still there?

[2020-09-01 16:12] Oanh-and-only-Oanh commented on #4594
@sushil, for @LieutenantRoger to begin these performance tickets, he is currently waiting for the metadata.json change at client side to incorporate the group features. Can you give update on that work and when we can expect that to be complete so @LieutenantRoger can begin his work?

[2020-09-01 16:21] Oanh-and-only-Oanh commented on #4659
https://marvelapp.com/prototype/797cb4i/screen/71547769

[2020-09-01 19:17] luizrrodrigues commented on #4723
@cagdas001 Any status? We need closed this one ASAP.

Thanks

[2020-09-01 20:27] arnandosimanjuntak commented on #4787
@SathyaJayabal My handle is ndondo_

[2020-09-02 00:23] cagdas001 commented on #4723
PR: #4842

[2020-09-02 03:06] SathyaJayabal commented on #4787
@arnandosimanjuntak , thank you. We are still working on this issue and hope to resolve it soon.

[2020-09-02 03:06] luizrrodrigues commented on #4674
@PrakashDurlabhji any progress on this one?

[2020-09-02 03:11] SathyaJayabal commented on #4674
@luizrrodrigues , this is na api issue. for challenges in approval stage, winners data is not returned by the api. The api returns winners data only when the challenge is completed.
Check the api response for example challenge `6901ad3c-f107-4947-b9f0-4c1548a0bf03` using https://tc-challenge-comparison.herokuapp.com/ (along with your token.

[2020-09-02 03:14] SathyaJayabal commented on #4782
@sumitdaga @tmalbonph , can one of you verify if the "My Challenges" bucket is working fine for you ?

[2020-09-02 03:18] cagdas001 commented on #4782
@SathyaJayabal the fix is deployed to the prod? If it's not, they'll need to test it out with staging env

[2020-09-02 03:18] SathyaJayabal commented on #4787
@rootelement , reproduced this issue with new test user
picachui_/appirio123
I think the issue is with the special character in the handle `picachui_`
<img width="1440" alt="Screenshot 2020-09-02 at 8 47 38 AM" src="https://user-images.githubusercontent.com/58783823/91928195-0bf77500-ecf9-11ea-8405-dc164dc54509.png">

[2020-09-02 03:20] SathyaJayabal commented on #4782
@sumitdaga @tmalbonph , the url to test this is `https://staging-community-app.topcoder.com/challenges?`

[2020-09-02 03:21] tmalbonph commented on #4782
@SathyaJayabal Visiting "My Challenges" link here https://staging-community-app.topcoder.com/challenges/?bucket=my **gives the correct Challenges listing**

![Screenshot from 2020-09-02 11-18-46](https://user-images.githubusercontent.com/3745678/91928278-3a337f80-ed0e-11ea-99ec-60680358b311.png)

The **Online Review Listing** here: https://software.topcoder.com/review/actions/ListProjects

![Scree

[2020-09-02 03:22] SathyaJayabal commented on #4782
@tmalbonph, Thank you

[2020-09-02 03:28] SathyaJayabal commented on #4782
@sushilshinde @lakshmiathreya , can one of you please verify my challenges works fine on staging for admin user?

[2020-09-02 03:30] SathyaJayabal commented on #4572
@cagdas001 , looks like this one is fixed by #4782 , can u confirm please?

[2020-09-02 03:32] luizrrodrigues commented on #4674
@SathyaJayabal We tracking fix in this one right?
https://github.com/topcoder-platform/challenge-api/issues/267

[2020-09-02 03:37] SathyaJayabal commented on #4674
@luizrrodrigues topcoder-platform/challenge-api#267 is a data issue with one challenge that is completed.

This issue is not tracked on api side yet. I will create an issue and link it here

[2020-09-02 03:40] SathyaJayabal commented on #4674
tracked here
https://github.com/topcoder-platform/challenge-api/issues/286

[2020-09-02 04:07] SathyaJayabal commented on #4782
Verified if the `my challenges` bucket for the following roles on staging
[code]

[2020-09-02 05:57] SathyaJayabal opened #4844 "[$50]Topgear submissions page"
For all topgear challenges, regardless of what domain you access the challenge on, it should only allow the URL upload option.

![51324179-0a2f5e00-1a90-11e9-9293-587cd21de4ec](https://user-images.githubusercontent.com/58783823/91937267-2f2d1f00-ed0f-11ea-9035-4ab07a6c8ef0.png)

[2020-09-02 05:59] sumitdaga commented on #4782
@SathyaJayabal  yes, it is fixed here https://staging-community-app.topcoder.com/challenges/?bucket=my
I can see all my challenges in `My Challenges` bucket.

Thanks

[2020-09-02 06:13] SathyaJayabal commented on #4782
thanks @sumitdaga ,

verified with admin role
<img width="1481" alt="Screenshot 2020-09-02 at 11 25 46 AM" src="https://user-images.githubusercontent.com/58783823/91938377-8c29d480-ed11-11ea-9451-74fa1caec4be.png">

[2020-09-02 07:05] SathyaJayabal commented on #4723
verified on staging
<img width="1440" alt="Screenshot 2020-09-02 at 12 10 15 PM" src="https://user-images.githubusercontent.com/58783823/91942582-ce0a4900-ed18-11ea-9e81-6af33156f9fe.png">
<img width="1440" alt="Screenshot 2020-09-02 at 12 14 55 PM" src="https://user-images.githubusercontent.com/58783823/91942589-d2cefd00-ed18-11ea-8d76-4b37ac8d2fd0.png">
<img width="1440" alt="Screenshot 2020-09-

[2020-09-02 07:23] sushilshinde commented on #4844
@luizrrodrigues this might help the developer

https://github.com/topcoder-platform/community-app/issues/1873

[2020-09-02 09:03] lakshmiathreya commented on #4811
<img width="1482" alt="Screenshot 2020-09-02 at 2 32 36 PM" src="https://user-images.githubusercontent.com/51733042/91961719-3103dc00-ed29-11ea-893c-24e4b8367a3f.png">

[2020-09-02 09:08] lakshmiathreya commented on #4811
@RiteshTC pls give us additional details regarding the latest status ... Topgear login is working fine for us as you can see in my screenshot above ...

[2020-09-02 10:24] SathyaJayabal commented on #4782
Verified my challenges bucket on staging (develop branch)

[2020-09-02 10:24] SathyaJayabal commented on #4723
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2020-09-02 at 3 43 10 PM" src="https://user-images.githubusercontent.com/58783823/91969945-8abdd380-ed34-11ea-981a-2d246887f273.png">
<img width="1440" alt="Screenshot 2020-09-02 at 3 45 39 PM" src="https://user-images.githubusercontent.com/58783823/91969957-91e4e180-ed34-11ea-9914-2a551a25d109.png">
<img width="1440" alt="Scre

[2020-09-02 16:00] Oanh-and-only-Oanh commented on #4510
@fikzzzy, payment was paid via TASK for this ticket to you. https://www.topcoder.com/direct/contest/detail?projectId=30140347

[2020-09-02 16:43] crazyk07 commented on #4527
Topcoder-X only supports a single assignee on a ticket to avoid issues with payment<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-02 16:44] Oanh-and-only-Oanh commented on #4527
@callmekatootie, can you help give us estimate on level of effort to update submission api to resolve this ticket?

[2020-09-02 17:45] tmalbonph commented on #4794
Why are the latest ratings' history values have lower values?

[2020-09-02 17:56] tmalbonph commented on #4794
**Last February 15 2020 at around 7:48:12 PHT time, I have 1941 ratings**

![Screenshot from 2020-02-15 07-48-12](https://user-images.githubusercontent.com/3745678/92019120-af439b00-ed88-11ea-9fb9-85b91e9e06eb.png)

[2020-09-02 18:11] tmalbonph commented on #4794
@luizrrodrigues @Oanh-and-only-Oanh Also check this **on March 17, 2020 at around 12:17:32 PHT, I won an F2F and my rank color is still YELLOW**

![Screenshot from 2020-03-17 12-17-32](https://user-images.githubusercontent.com/3745678/92020427-ab187d00-ed8a-11ea-881c-7086231691fc.png)

[2020-09-02 18:36] tmalbonph commented on #4794
@Oanh-and-only-Oanh @luizrrodrigues **The V5 maximumRating: 1669, it should be maximumRating: 1941**

![Screenshot from 2020-09-03 02-35-24](https://user-images.githubusercontent.com/3745678/92022715-42cb9a80-ed8e-11ea-9d1e-daac6fbe5e34.png)

[2020-09-02 20:24] hokienick opened #4847 "Create URL for New Activate Success Welcome Page"
@kkartunov and I are building a 50/50 landing page for those who click the activation link after registering with Topcoder.  This currently points to the [Practice Page](https://www.topcoder.com/community/practice).

Please create a url for topcoder.com/start

[2020-09-02 20:31] hokienick opened #4848 "Create 50/50 Member Welcome Page"
@kkartunov will be creating this page and will have the url being created in ticket #4847 .

This page should not have a header navigation and only 2 buttons.  One that goes to the [Gigs Listings](www.topcoder.com/gigs) page on one that goes to the [Practice](https://www.topcoder.com/community/practice) page.

[2020-09-02 20:39] hokienick opened #4849 "Update Registration Email in Sendgrid to direct to New 50/50 Page"
We have an email that goes out to a person after they have registered at Topcoder.  This email is located in SendGrid.  Please update the url to redirect to the url created in Ticket #4847 .

If you need help with this, I can assist.

[2020-09-03 03:24] arnandosimanjuntak commented on #4787
@SathyaJayabal  Does the issue really come from using the special character in the handle?

If yes - I don't mind removing the special character from my handle if it can be a solution and prevent I facing this issue again in the future. I also noticed that the other members who didn't use the special character in their handle didn't face this issue.

[2020-09-03 03:59] SathyaJayabal commented on #4782
@tmalbonph @sumitdaga , this fix has been released. Can one of you please verify on production.
https://www.topcoder.com/challenges?
Thank you both for your help with testing this issue.

[2020-09-03 04:07] tmalbonph commented on #4782
@SathyaJayabal Viewing now the link here: https://www.topcoder.com/challenges/?bucket=my **Display correct challenges I am register with**
![Screenshot from 2020-09-03 12-05-45](https://user-images.githubusercontent.com/3745678/92070161-ed1ede80-eddd-11ea-9ce9-b85a9fd1b85c.png)

**Verification via Online Review**
![Screenshot from 2020-09-03 12-06-05](https://user-images.githubusercontent.com/3745

[2020-09-03 04:07] crazyk07 commented on #4782
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 04:08] SathyaJayabal commented on #4787
@arnandosimanjuntak , yes, it is because of the special character in the handle. We will try  and fix this issue so that you can continue using your handle.

[2020-09-03 04:09] SathyaJayabal commented on #4782
@tmalbonph Thanks.

[2020-09-03 04:10] #4782 closed

[2020-09-03 04:11] crazyk07 commented on #4782
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30137842<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 04:18] SathyaJayabal commented on #4461
This issue seems to be fixed on production
<img width="1440" alt="Screenshot 2020-09-03 at 9 45 10 AM" src="https://user-images.githubusercontent.com/58783823/92070709-73312a00-edca-11ea-97df-0f65b6d4a1d3.png">

[2020-09-03 04:18] crazyk07 commented on #4461
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 04:18] #4461 closed

[2020-09-03 04:18] tmalbonph commented on #4787
@SathyaJayabal I think this is a DNS issue - it happen to me all the time because I am getting the IP address of most of the topcoder IP address and save it into my /etc/hosts via a script. I rerun that script to update the IP address.

[2020-09-03 04:19] crazyk07 commented on #4461
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30128535<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 04:25] SathyaJayabal commented on #4723
verified on production
<img width="1440" alt="Screenshot 2020-09-03 at 9 36 01 AM" src="https://user-images.githubusercontent.com/58783823/92071133-8e506980-edcb-11ea-87e9-e5bebfd8e000.png">

<img width="1440" alt="Screenshot 2020-09-03 at 9 35 59 AM" src="https://user-images.githubusercontent.com/58783823/92071118-88f31f00-edcb-11ea-8d27-1e271d3faf2a.png">

[2020-09-03 04:26] crazyk07 commented on #4723
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136485<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 04:27] SathyaJayabal commented on #4787
@tmalbonph , thanks. Will ask the dev to look into it.

[2020-09-03 05:36] m-yadav opened #4850 "Results not being updated on Challenge page correctly."
**Describe the bug**

The results of a challenge are not being properly reflected on the Challenge details page. For example in challenge  https://www.topcoder.com/challenges/a073a64c-0bb1-4104-9ae0-028654b7196e?tab=winners , winners in Challenge details and OR are different. Looks like the challenge is not getting updated from OR to Dynamo and hence the mismatch.

**To Reproduce**
Steps to reprod

[2020-09-03 05:50] callmekatootie commented on #4527
@Oanh-and-only-Oanh Can you kindly let me know what information about the submission needs to be provided for anonymous users. Sounds like you are not interested in the submission itself, but more with the statistics / attributes of the submission... Wish to confirm

[2020-09-03 06:01] sandhiyakavi opened #4851 "Late by label overlaps Submission count at the Open for Review Challenges listing"
Description:
Late by label overlaps Submission count at the Open for Review Challenges listing

Steps to Reproduce:
1. Go to the Challenge listings page.
2. Click the Open for Review in the right side bar.
3. Check the displayed Late by label and submission count of the challenges listed.

Expected behavior:
Late by label should not overlap Submission count at the Open for Review Challenges listin

[2020-09-03 06:31] sandhiyakavi opened #4852 "Filter by Keywords supports partial matching of Technology."
Description:
Filter by Keyword  supports partial matching of Technology.If filtered with technology 'Java' , the challenges related to 'JavaScript' technology is also getting displayed.

Steps to reproduce:
1. Go to the Challenge listings page.
2. Click the Filters button.
3. Enter 'Java' in the Keywords search.
4. Check the challenges filtered.

Expected behavior:
Only Challenges related to Java

[2020-09-03 07:07] sandhiyakavi opened #4853 "RSSFeed page is not displayed on clicking the RSS Feed link at Challenge listings page."
Description:
RSSFeed page is not displayed on clicking the RSS Feed link at Challenge listings page.

Steps to reproduce:
1. Go to the challenge listings page.
2. Click on RSS Feed link at the right side bar.
3. Check if the RSS Feed page is getting displayed.

Screenshots:
<img width="959" alt="RSSFeed" src="https://user-images.githubusercontent.com/55895538/92082443-81e60400-edff-11ea-8322-984b1

[2020-09-03 07:45] SathyaJayabal commented on #4527
@callmekatootie , you are right, we are more interested in the stats/attributes of the submission
@cagdas001 , can you provide details on what you need?

[2020-09-03 10:23] crazyk07 commented on #4755
Contest https://www.topcoder.com/challenges/30140425 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 10:23] luizrrodrigues commented on #4755
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/<milestone-branch>
https://github.com/topcoder-platform/topcoder-react-lib/tree/<milestone-branch>

run `npm run test` before PR

[2020-09-03 10:30] SathyaJayabal commented on #4755
@topcoder-platform/tcxcommunity

[2020-09-03 10:30] crazyk07 commented on #4756
Contest https://www.topcoder.com/challenges/30140428 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 10:33] luizrrodrigues commented on #4756
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-09-03 10:37] crazyk07 commented on #4756
Contest https://www.topcoder.com/challenges/30140428 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 10:38] crazyk07 commented on #4755
Contest https://www.topcoder.com/challenges/30140425 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 10:40] crazyk07 commented on #4758
Contest https://www.topcoder.com/challenges/30140432 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 10:41] crazyk07 commented on #4764
Contest https://www.topcoder.com/challenges/30140433 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 10:42] crazyk07 commented on #4765
Contest https://www.topcoder.com/challenges/30140434 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 10:57] SathyaJayabal commented on #4764
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-v1.3
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-v1.3

run npm run test before PR

[2020-09-03 10:57] SathyaJayabal commented on #4765
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-v1.3
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-v1.3

run npm run test before PR

[2020-09-03 10:59] luizrrodrigues commented on #4756
@narekcat Thanks for join on this one.

Please use these branches:
https://github.com/topcoder-platform/community-app/tree/milestone-v1.3
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-v1.3

[2020-09-03 10:59] luizrrodrigues commented on #4755
@cagdas001 Thanks for join on this one.

Please use these branches:
https://github.com/topcoder-platform/community-app/tree/milestone-v1.3
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-v1.3

[2020-09-03 12:01] cagdas001 commented on #4755
@luizrrodrigues This issue applies to all challenge types (not only the design type) It's an API issue regarding the inconsistent dates.

For e.g. https://api.topcoder.com/v5/challenges/1691118f-7734-422d-b8b6-d5df9f94f852

[code]

You can see `challenge.submissionEndDate` is `2020-08-14T11:42:05Z` while the actual submission phase end date is `2020-11-01T07:18:00Z` (see `scheduledEndDate` of the

[2020-09-03 12:30] narekcat commented on #4756
@luizrrodrigues Ok.

[2020-09-03 12:40] SathyaJayabal commented on #4758
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-v1.3
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-v1.3

run npm run test before PR

[2020-09-03 12:41] SathyaJayabal commented on #4764
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-v1.3
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-v1.3

run `npm run test` before PR

[2020-09-03 12:42] SathyaJayabal commented on #4765
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-v1.3
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-v1.3

run `npm run test` before PR

[2020-09-03 12:47] crazyk07 commented on #4764
[500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 12:52] cagdas001 commented on #4755
PR: #4854

[2020-09-03 13:09] SathyaJayabal commented on #4755
@luizrrodrigues @sushilshinde , should we get this fixed form api side instead of working around it.

[2020-09-03 13:13] SathyaJayabal commented on #4850
cc @lakshmiathreya

[2020-09-03 13:23] fikzzzy commented on #4764
@SathyaJayabal i can see the download list in beta
![image](https://user-images.githubusercontent.com/52533791/92120485-4d843f00-ee23-11ea-8205-9ab4d8646c2e.png)

[2020-09-03 13:32] SathyaJayabal commented on #4764
@fikzzzy , beta is now v4. refer to production or statging for v5

[2020-09-03 13:46] SathyaJayabal commented on #4850
@m-yadav , were the winners updated after the challenge was completed by any chance?

[2020-09-03 14:33] cagdas001 commented on #4765
PR: #4855

It was showing the articles for only Design track. See here: https://github.com/topcoder-platform/community-app/pull/4855/files#diff-62e47fd2e59644bd99702dbf0778ae50L247

I guess we have no restriction to show articles, so simply removed this condition. It will show articles for all tracks

[2020-09-03 14:34] crazyk07 commented on #4758
Contest https://www.topcoder.com/challenges/30140432 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 14:35] luizrrodrigues commented on #4765
@Oanh-and-only-Oanh @SathyaJayabal Please confirm about show related articles for all tracks.

[2020-09-03 14:43] SathyaJayabal commented on #4765
@luizrrodrigues @cagdas001 , Thats odd, we do not show articles only for design track, as related articles are based on tech tags and design challenges do not have tech tags.

[2020-09-03 14:47] SathyaJayabal commented on #4765
@cagdas001 ,
https://github.com/topcoder-platform/community-app/commit/185d342286d5ee90fb11aba81d3846a3beb5dc25#diff-62e47fd2e59644bd99702dbf0778ae50
it should be not equal to design track, when the track updates were made, there was typo.

[2020-09-03 14:48] Oanh-and-only-Oanh commented on #4844
@SathyaJayabal @lakshmiathreya, here is my Topgear screenshot from this morning.
There's a popup on top that says Topgear submission process has changed for Topgear. Member must enter URL instead of uploading a file. However, I don't have the option to enter a URL only file upload option.
Challenge link: https://topgear.topcoder.com/challenges/79f2249e-9571-40b2-9f8b-f59c286c1a3d/submit

<img widt

[2020-09-03 14:52] Oanh-and-only-Oanh commented on #4844
<img width="1676" alt="Screen Shot 2020-09-03 at 7 52 00 AM" src="https://user-images.githubusercontent.com/47536078/92131101-69072f80-edba-11ea-82e4-e8e90298af9f.png">

[2020-09-03 15:24] Oanh-and-only-Oanh commented on #2069
@luizrrodrigues, can you please open this ticket up for pick up. thanks

[2020-09-03 15:26] crazyk07 commented on #2069
Contest https://www.topcoder.com/challenges/30100383 has been updated - jcori has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 15:31] narekcat commented on #4756
Must "Add Submissions" button be enabled, when challenge is legacy Marathon match ?

[2020-09-03 15:35] SathyaJayabal commented on #4674
@rootelement @Oanh-and-only-Oanh @sushilshinde , based on our call, we will let the winners tab display only on challenge completion

[2020-09-03 15:35] crazyk07 commented on #4674
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 15:39] luizrrodrigues commented on #4756
@narekcat Need enable button if the submission phase is open. Legacy MMs are an old challenges so this phase already closed.

[2020-09-03 15:43] rootelement commented on #4527
This page is making a call that isn't valid in V5:
https://test-community-app.topcoder-dev.com/members/Standlove/details/?track=DEVELOP&subTrack=CODE&tab=challenges

This is the call:
`https://api.topcoder-dev.com/v5/challenges?orderBy=submissionEndDate%20desc&status=Completed&hasUserSubmittedForReview=true&track=DEVELOP&subTrack=CODE&memberId=310233`

- Order by is wrong, it should be sortBy&sort

[2020-09-03 15:48] rootelement commented on #2069
As a start, this Challenges page is making an invalid call to v5:
https://api.topcoder-dev.com/v5/challenges?status=PAST&isRatedForMM=true&tag=Marathon%20Match&memberId=Egor

Please refer to the swagger for the appropriate call. I believe this should look like this:
https://api.topcoder-dev.com/v5/challenges?status=Completed&tags[]=Marathon%20Match&memberId=14970299

or
https://api.topcoder-dev.co

[2020-09-03 15:50] Oanh-and-only-Oanh commented on #4852
@sandhiyakavi, thanks for this filing this tickets but we actually do want to allow partial matching so this is acceptable.

[2020-09-03 15:50] #4852 closed

[2020-09-03 15:51] SathyaJayabal commented on #4752
verified on staging
<img width="1440" alt="Screenshot 2020-09-03 at 9 19 32 PM" src="https://user-images.githubusercontent.com/58783823/92137831-482af280-ee2b-11ea-888a-0e115f28f607.png">
<img width="1440" alt="Screenshot 2020-09-03 at 9 19 35 PM" src="https://user-images.githubusercontent.com/58783823/92137863-537e1e00-ee2b-11ea-9bee-a17bc5116f76.png">

[2020-09-03 15:51] Oanh-and-only-Oanh commented on #4853
closing. we have a ticket for this issue already.

[2020-09-03 15:51] #4853 closed

[2020-09-03 15:58] luizrrodrigues commented on #2069
@rootelement Thanks for the details.

@Oanh-and-only-Oanh I think we good to open this one, the fix will take of both.

[2020-09-03 16:03] cagdas001 commented on #4527
@rootelement Yes I know this. This was discussed in previous comments too, I will fix that call. But the issue is that, V5 Challenge API doesn't have `hasUserSubmittedForReview` filter, so we'll have to get this info from Submission API

So accessing Submission API without token is still needed.

I will turn back here soon for the required fields from API

[2020-09-03 17:09] narekcat commented on #4756
@SathyaJayabal @luizrrodrigues I have fixed this issue, please see pull request https://github.com/topcoder-platform/community-app/pull/4856.

[2020-09-03 17:20] cagdas001 commented on #4758
PR: #4857

[2020-09-03 17:45] Oanh-and-only-Oanh opened #4858 "Add legacy ID to new submission ID"
Problem: when design copilots post checkpoint feedback, they refer to submission numbers. These submission numbers come from OR. However, designers are not able to correlate their submission to these submission numbers because what they see in the front-end of CA is a different set of numbers.

New feature requirement:
Add legacy submission ID found in OR underneath new submission ID in light grey

[2020-09-03 18:22] rootelement commented on #4527
What exactly does "Has user submitted for review" mean? Just that they submitted to the challenge at least once?

[2020-09-03 18:35] cagdas001 commented on #4527
That's correct, only these challenges are listed.

[2020-09-03 19:21] cagdas001 commented on #4527
Here is a brief summary of the page

![chrome_2020-09-03_21-39-10](https://user-images.githubusercontent.com/28513447/92155831-a7d7cc80-ee30-11ea-9cc7-9a54ea57f746.png)

For the role field, I believe it's always "Submitter" since this is the profile page and not the dashboard page (which shows challenges with other role types too, like copilot,manager etc) If my understanding is correct, it will b

[2020-09-03 19:24] cagdas001 commented on #4527
**IMPORTANT NOTE** These apply only to this ticket. I see there are other similar issues too, about the profile & stats page. Other issues may require another fields/changes. I have not looked at them

[2020-09-03 23:22] crazyk07 commented on #4760
Contest https://www.topcoder.com/challenges/30140508 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-03 23:24] luizrrodrigues commented on #4760
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-v1.3
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-v1.3

run `npm run test` before PR

[2020-09-03 23:39] crazyk07 commented on #4760
Contest https://www.topcoder.com/challenges/30140508 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-04 01:09] luizrrodrigues commented on #4758
@cagdas001 My Submissions page missing 2 information:
- **The challenge has ended** - instead that showing **0H 0M left**
- **Ends: Thursday 09/03/20 10:06 PM**

![image](https://user-images.githubusercontent.com/7029641/92188121-18cbb400-ee32-11ea-8645-059c981f9a9f.png)

[2020-09-04 01:30] m-yadav commented on #4850
@SathyaJayabal  for  https://www.topcoder.com/challenges/cb39113a-2286-4521-9df5-02334d6c3476 the winners were not updated after the challenge was marked completed.

For challenge  https://www.topcoder.com/challenges/a073a64c-0bb1-4104-9ae0-028654b7196e , the winners are reflecting but are not correct.

In short, both are marked completed but winners didn't get updated in them as per OR.

[2020-09-04 02:11] shubham9455999082 opened #4859 "profile rating is not updating from last 2 months"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-09-04 02:54] luizrrodrigues commented on #4755
@SathyaJayabal I think we can move this one forward because helper already created and present in existing code. But agree, we need get this fixed in API side.

[2020-09-04 02:55] SathyaJayabal commented on #4850
@rootelement , the v4 and v5 api responses both return different data for the winners for the above two challenges. Can you look into it please?

[2020-09-04 03:04] SathyaJayabal commented on #4625
We do not display the sub track data anymore.

[2020-09-04 03:04] #4625 closed

[2020-09-04 05:17] sandhiyakavi commented on #4765
Tested in Staging Environment.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/92202008-eca74600-eeb8-11ea-80f0-89f2ebaebfcb.png)
![image](https://user-images.githubusercontent.com/55895538/92202032-f761db00-eeb8-11ea-857b-06a68701eec2.png)

Design Challenge:

![image](https://user-images.githubusercontent.com/55895538/92202104-2b3d0080-eeb9-11ea-8b6e-ef4abd4e8b16.

[2020-09-04 05:25] sandhiyakavi commented on #4755
Tested.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/92202637-6be94980-eeba-11ea-8b1f-1f90f7638ebd.png)

[2020-09-04 05:59] sandhiyakavi commented on #4758
Tested.View Submission loads the my submission page successfully.

![image](https://user-images.githubusercontent.com/55895538/92204635-e1efaf80-eebe-11ea-9086-44b93b6462a6.png)
![image](https://user-images.githubusercontent.com/55895538/92204747-1a8f8900-eebf-11ea-9dbe-368c76311b88.png)

[2020-09-04 09:52] hbaidouri opened #4860 "View Old Challenge"
**Describe the bug**
Could not view my old challenge from the following link : https://www.topcoder.com/members/MoroccoMIT/details/?track=DEVELOP&subTrack=CODE&tab=challenges

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Community' version
2. Login using a developper account
3. Click on the alias of the developper a the top bar
4. Go to 'My Profile' Tab
5. Scroll down to 'DEVELOPMEN

[2020-09-04 10:16] fikzzzy commented on #4764
@SathyaJayabal fixed in https://github.com/topcoder-platform/community-app/pull/4861

[2020-09-04 10:55] cagdas001 commented on #4760
PR: #4862

[2020-09-04 14:26] callmekatootie commented on #4527
Thank you @cagdas001 for the details

@rootelement Submission API right now allows only the user that submitted to retrieve details about their submission (besides the admin of course). For other users to get the details, we could perhaps filter out the details that we return. Let me know how you would like to proceed here.

[2020-09-04 14:40] cagdas001 commented on #4527
@callmekatootie In addition, I forgot to add. We might need a property to filter out user's last submission as well, in case of multiple submission from the same user.  `updatedAt` would be enough for this I think. Edited the above comment as well

[2020-09-04 14:51] cagdas001 commented on #4527
Btw, To determine the last submission in OR, it takes the `updated` in account right? not the `created`? or it takes both (the newer one of `created` and `updated` dates)? Even though user creates his own submission and can't update it anymore, someone from support/admin team can still update this submission, and, in this case, the updated submission will be taken into account for review. Is my un

[2020-09-04 15:22] callmekatootie commented on #4527
Noted @cagdas001 . As for the OR bit, I'm not sure. Somebody else might have to answer that since I am not familiar with OR's internals...

[2020-09-04 15:42] Oanh-and-only-Oanh commented on #4860
Thank you for filing this ticket. This is a known bug and our team is working on fixing. Closing this ticket but you can track the status of the work with this other ticket. https://github.com/topcoder-platform/community-app/issues/4527

[2020-09-04 15:42] #4860 closed

[2020-09-04 15:44] cagdas001 commented on #4527
@sushilshinde @Oanh-and-only-Oanh @rootelement if we can get an answer about this matter it would be better because it will affect the necessary fields (`updated` or `created`), as well as the implementation. In case of multiple submissions from the same user, how it determines the last submission? which field it uses? `createdAt`, `updatedAt`, both? or another implementation?

[2020-09-04 15:46] hbaidouri commented on #4860
Great. Thanks 👍

[2020-09-04 15:46] #4674 closed

[2020-09-04 15:47] crazyk07 commented on #4674
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134487<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-04 16:27] lstkz opened #4863 "Challenge history is empty in user profile"
**Describe the bug**
The challenge history is empty in the user profile. API returns an empty array.

**To Reproduce**
open
https://www.topcoder.com/members/Sky_/details/?track=DEVELOP&subTrack=CODE&tab=challenges

**Expected behavior**
There should be challenges.

**Screenshots**
![image](https://user-images.githubusercontent.com/4478684/92262909-1c1b7a00-eedc-11ea-92f7-e845d6c43899.png)

[2020-09-04 16:30] lstkz opened #4864 "Can't register to any challenge"
**Describe the bug**
I cannot register for any challenge.

**To Reproduce**
- Open challenge
- Click register

**Expected behavior**
I should be able to register.

**Screenshots**
![image](https://user-images.githubusercontent.com/4478684/92263273-a532b100-eedc-11ea-8016-90587a9366ea.png)

[2020-09-04 16:47] Oanh-and-only-Oanh commented on #4863
Thanks for filing this ticket. This is a known bug and our team is working on fixing. Closing this ticket but you can track the status of the work with this other ticket. #4527

[2020-09-04 16:47] #4863 closed

[2020-09-04 16:49] Oanh-and-only-Oanh commented on #4527
@cwdcwd, can you help with this question about OR/Submission API?  In case of multiple submissions from the same user, how it determines the last submission? which field it uses? createdAt, updatedAt, both? or another implementation?

[2020-09-04 16:52] Oanh-and-only-Oanh commented on #4864
I am not able to reproduce this issue. @SathyaJayabal @lakshmiathreya, can you try?

[2020-09-04 17:13] SathyaJayabal commented on #4864
its the member handle with special character issue @Oanh-and-only-Oanh . This member's handle is `sky_`
Tracking here
https://github.com/topcoder-platform/community-app/issues/4787

[2020-09-04 17:13] #4864 closed

[2020-09-04 17:13] Oanh-and-only-Oanh commented on #4847
@kkartunov, what's the proposed new URL for the new 50/50 page? FYI @luizrrodrigues

[2020-09-04 17:24] SathyaJayabal commented on #4864
@lstkz, We are working on fixing this issue, meanwhile please contact support to get yourself registered.

[2020-09-04 17:34] Oanh-and-only-Oanh opened #4865 "Redirect new signup"
**Problem**: Currently, when a new user creates an account, a message below is shown to them. This kills their web experience.

![image](https://user-images.githubusercontent.com/47536078/92269583-544d9900-ee99-11ea-96cb-d382e1b2d8fe.png)

New Feature: We want to update this message to give new users a cleaner navigation experience.
1) We want to change the message to read:
2) We want to add 3 but

[2020-09-04 20:56] luizrrodrigues commented on #4787
@SathyaJayabal Use `encodeURI(memberHandle)` before call API works, like @rootelement said in Slack.

I'll check if need changed in more calls and then push to QA.

[2020-09-05 01:05] crazyk07 commented on #4787
Contest https://www.topcoder.com/challenges/30140635 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-05 01:05] crazyk07 commented on #4787
Contest https://www.topcoder.com/challenges/30140635 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-05 01:50] luizrrodrigues commented on #4714
@SathyaJayabal I think this will be a problem with Admins/CA/CP because

[2020-09-07 04:31] crazyk07 commented on #4844
Contest https://www.topcoder.com/challenges/30140740 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-07 04:31] crazyk07 commented on #4844
Contest https://www.topcoder.com/challenges/30140740 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-07 06:43] luizrrodrigues commented on #4844
@sushilshinde This already fixed by myself and be included in next QA merge (today)

[2020-09-07 06:51] crazyk07 commented on #4844
Contest https://www.topcoder.com/challenges/30140740 has been updated - luizrrodrigues has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-07 06:51] crazyk07 commented on #4844
Contest https://www.topcoder.com/challenges/30140740 has been updated - luizrrodrigues has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-07 06:52] crazyk07 commented on #4844
Contest https://www.topcoder.com/challenges/30140740 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-07 08:07] kkartunov commented on #4848
Required look and feel: https://marvelapp.com/prototype/535c9ga/screen/72461895

[2020-09-07 08:34] SathyaJayabal commented on #4760
verified on staging
<img width="1440" alt="Screenshot 2020-09-07 at 2 03 05 PM" src="https://user-images.githubusercontent.com/58783823/92366588-fcba6200-f112-11ea-809f-a6504f26c44e.png">

[2020-09-07 08:35] SathyaJayabal commented on #4787
@luizrrodrigues , still see the issue
<img width="1440" alt="Screenshot 2020-09-07 at 2 04 58 PM" src="https://user-images.githubusercontent.com/58783823/92366757-30958780-f113-11ea-8d42-175dc0fd2c74.png">

user:picachui_/appirio123

[2020-09-07 08:36] kkartunov opened #4867 "Add gig work category to Thrive"
We need Gig Work category in Thrive. Therefore changes needed are:
- Homepage - new section as per https://marvelapp.com/prototype/1hei31bg/screen/71426374
- Category page - as per https://marvelapp.com/prototype/1hei31bg/screen/72463989

[2020-09-07 08:42] kkartunov opened #4868 "Gig Work - fixes #2"
- For the gig listing page, move the last 3 columns  more to the right side so the skills can fit better
- https://drive.google.com/file/d/1TPW56QgujZ4oe-zy0Vcr5nHAyF83mhke/view?usp=sharing
- For the GiG EDU page, fix the modal window style to look the same as the TCO20 and TCO21 ones (on leaderboards)

[2020-09-07 08:47] SathyaJayabal commented on #4844
verified on staging
<img width="1440" alt="Screenshot 2020-09-07 at 2 16 37 PM" src="https://user-images.githubusercontent.com/58783823/92368035-ce3d8680-f114-11ea-9361-129c844c49de.png">
<img width="1440" alt="Screenshot 2020-09-07 at 2 16 48 PM" src="https://user-images.githubusercontent.com/58783823/92368053-d39ad100-f114-11ea-8181-b7debed1ed1e.png">

[2020-09-07 09:02] luizrrodrigues commented on #4787
Registration allow these special characters: ` - _ . { } [ ] `

I'm was using `encodeURIComponent()`, This function encodes special characters, with the exception of: `* @ - _ + . /`

@rootelement I think API need accept characters not encoded by `encodeURIComponent()`, let me know your thoughts.

[2020-09-07 14:34] luizrrodrigues commented on #4764
@fikzzzy Please check feedback here: https://github.com/topcoder-platform/community-app/pull/4861#pullrequestreview-483600445

[2020-09-07 15:32] SathyaJayabal commented on #4756
verified on staging
<img width="1440" alt="Screenshot 2020-09-07 at 8 59 31 PM" src="https://user-images.githubusercontent.com/58783823/92402399-1a0c2200-f14d-11ea-9b96-83addc843365.png">

[2020-09-07 15:51] luizrrodrigues commented on #4764
@rootelement V5 missing `documents` field. (this present in V4 with auth)

[2020-09-08 03:19] SathyaJayabal commented on #4731
tracked in #4794

[2020-09-08 03:19] #4731 closed

[2020-09-08 08:50] kkartunov commented on #4847
@Oanh-and-only-Oanh it should be www.topcoder.com/start

[2020-09-08 11:27] SathyaJayabal commented on #4844
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2020-09-08 at 4 55 52 PM" src="https://user-images.githubusercontent.com/58783823/92470598-4af36200-f1f4-11ea-9622-bb705f3bd370.png">

[2020-09-08 11:57] SathyaJayabal commented on #4765
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-09-08 at 5 26 03 PM" src="https://user-images.githubusercontent.com/58783823/92473673-88f28500-f1f8-11ea-84cb-55b84ffbc59f.png">

[2020-09-08 11:59] SathyaJayabal commented on #4758
verified on staging(develop)
<img width="1440" alt="Screenshot 2020-09-08 at 5 29 30 PM" src="https://user-images.githubusercontent.com/58783823/92473911-e2f34a80-f1f8-11ea-96df-e0a91e2da1a6.png">

[2020-09-08 11:59] SathyaJayabal commented on #4760
verified on staging
<img width="1440" alt="Screenshot 2020-09-08 at 5 28 27 PM" src="https://user-images.githubusercontent.com/58783823/92473840-c525e580-f1f8-11ea-9103-f44815638007.png">

[2020-09-08 12:02] SathyaJayabal commented on #4756
verified on staging
<img width="1440" alt="Screenshot 2020-09-08 at 5 31 37 PM" src="https://user-images.githubusercontent.com/58783823/92474269-2e0d5d80-f1f9-11ea-88e2-c825f9e95a3d.png">

[2020-09-08 12:28] SathyaJayabal commented on #4755
verified on staging
<img width="1440" alt="Screenshot 2020-09-08 at 5 33 14 PM" src="https://user-images.githubusercontent.com/58783823/92474415-6a40be00-f1f9-11ea-8b1f-e5c286a2430f.png">

[2020-09-08 12:28] SathyaJayabal commented on #4752
verified on staging(develop)
<img width="1440" alt="Screenshot 2020-09-08 at 5 34 10 PM" src="https://user-images.githubusercontent.com/58783823/92474486-8c3a4080-f1f9-11ea-9948-9911e0f02088.png">

[2020-09-08 12:30] SathyaJayabal commented on #4683
verified on staging(develop)
<img width="1440" alt="Screenshot 2020-09-08 at 5 57 51 PM" src="https://user-images.githubusercontent.com/58783823/92476796-2354c780-f1fd-11ea-827d-bb2bc712222b.png">

[2020-09-08 13:54] SathyaJayabal commented on #4683
verified on prod
<img width="1440" alt="Screenshot 2020-09-08 at 7 23 07 PM" src="https://user-images.githubusercontent.com/58783823/92485631-d2e36700-f208-11ea-8ac7-8760ec4d37aa.png">

[2020-09-08 13:54] #4683 closed

[2020-09-08 13:55] SathyaJayabal commented on #4765
tested on prod
<img width="1440" alt="Screenshot 2020-09-08 at 7 25 04 PM" src="https://user-images.githubusercontent.com/58783823/92485822-0a521380-f209-11ea-80b8-399214a3bbb8.png">

[2020-09-08 13:56] SathyaJayabal commented on #4844
tested on prod
<img width="1440" alt="Screenshot 2020-09-08 at 7 26 04 PM" src="https://user-images.githubusercontent.com/58783823/92485940-2b1a6900-f209-11ea-8c22-c1f1bf21f878.png">

[2020-09-08 13:59] SathyaJayabal commented on #4760
verified on prod
<img width="1440" alt="Screenshot 2020-09-08 at 7 27 47 PM" src="https://user-images.githubusercontent.com/58783823/92486241-79c80300-f209-11ea-9e9a-f7dec5be70a3.png">

[2020-09-08 14:00] SathyaJayabal commented on #4758
verified on prod
<img width="1440" alt="Screenshot 2020-09-08 at 7 29 42 PM" src="https://user-images.githubusercontent.com/58783823/92486404-ada32880-f209-11ea-8d7c-c2189d2c62a2.png">

[2020-09-08 14:04] SathyaJayabal commented on #4756
tested on prod
<img width="1440" alt="Screenshot 2020-09-08 at 7 33 59 PM" src="https://user-images.githubusercontent.com/58783823/92486935-4639a880-f20a-11ea-8e8b-7cf8de929328.png">

[2020-09-08 14:07] SathyaJayabal commented on #4755
<img width="1440" alt="Screenshot 2020-09-08 at 7 33 59 PM" src="https://user-images.githubusercontent.com/58783823/92487274-aa5c6c80-f20a-11ea-9c8b-ffae3531bece.png">

[2020-09-08 14:08] SathyaJayabal commented on #4752
verified on prod
<img width="1440" alt="Screenshot 2020-09-08 at 7 38 13 PM" src="https://user-images.githubusercontent.com/58783823/92487430-dc6dce80-f20a-11ea-8d92-1f645eb6576c.png">

[2020-09-08 14:09] #4844 closed

[2020-09-08 14:09] crazyk07 commented on #4844
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140740<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 14:09] #4765 closed

[2020-09-08 14:10] crazyk07 commented on #4765
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140434<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 14:10] #4760 closed

[2020-09-08 14:10] crazyk07 commented on #4760
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140508<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 14:10] #4758 closed

[2020-09-08 14:11] crazyk07 commented on #4758
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140432<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 14:11] #4756 closed

[2020-09-08 14:11] crazyk07 commented on #4756
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140428<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 14:11] #4755 closed

[2020-09-08 14:11] crazyk07 commented on #4755
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140425<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 14:12] #4752 closed

[2020-09-08 14:12] crazyk07 commented on #4752
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30138276<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 14:41] kkartunov commented on #4868
@SathyaJayabal this is ready for QA.
Test urls:
- gig EDU page https://test-community-app.topcoder-dev.com/community/getting-the-gig

[2020-09-08 15:10] Oanh-and-only-Oanh commented on #4373
resolved and closed along with https://github.com/topcoder-platform/community-app/issues/4683

[2020-09-08 15:10] #4373 closed

[2020-09-08 15:11] ajefts commented on #4527
You can use createdAt for checking the most recent one.

[2020-09-08 15:36] Oanh-and-only-Oanh commented on #4112
@LieutenantRoger, will this issue be resolved once the new listing performance is upgraded?

[2020-09-08 15:49] Oanh-and-only-Oanh commented on #3392
@SathyaJayabal @lakshmiathreya, is this front-end or backend issue?

[2020-09-08 16:07] LieutenantRoger commented on #4112
I think so, as long as the V5 API can return past MMs challenges.

I haven't check the detail, the corresponding requirement seems changed, and the `past challenges` bucket looks should be removed

[2020-09-08 16:49] Oanh-and-only-Oanh commented on #2213
@luizrrodrigues, can you open this ticket for pickup?

[2020-09-08 16:52] Oanh-and-only-Oanh commented on #4441
@luizrrodrigues, please open this ticket for pick up.

[2020-09-08 16:55] Oanh-and-only-Oanh commented on #4350
@Dara-K, can you help with design for this new button? I will have the user story ready later today.

[2020-09-08 17:22] Oanh-and-only-Oanh opened #4874 "[$45] Clear previous filtering cache on Listings page"
Issues: Currently, the user's previous filter settings are persistent/saved so when they visit topcoder.com/challenges in the future, their filters are saved. This causes confusion because it may show "no active challenges available".

#3607 - Remove feature added by this ticket

Expected behavior: clear member's search filters when they visit www.topcoder.com/challenges.

[2020-09-08 18:07] luizrrodrigues commented on #2213
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-20200917
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200917

run `npm run` test before PR

[2020-09-08 18:09] crazyk07 commented on #4441
Contest https://www.topcoder.com/challenges/30141016 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 18:09] crazyk07 commented on #4441
Contest https://www.topcoder.com/challenges/30141016 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 18:12] luizrrodrigues commented on #2213
@Oanh-and-only-Oanh I'll need to clone this issue, because this one already `Paid` then both don't track this anymore.

[2020-09-08 18:12] luizrrodrigues commented on #4441
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-20200917
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200917

run `npm run` test before PR

[2020-09-08 18:29] luizrrodrigues opened #4875 "[$50] All SRM challenges are not listed"
![image](https://user-images.githubusercontent.com/42398485/54493668-95667d80-48a0-11e9-93bd-456319306c9a.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/tourist/details/?track=DATA_SCIENCE&subTrack=SRM&tab=Past%20srm
3. Click Past SRM

**Actual:** All SRM challenges are not listed

**Expected:** Should show all 269 challenges

**Reproducibility Rate:** 3

[2020-09-08 18:29] crazyk07 commented on #4875
Contest https://www.topcoder.com/challenges/30141020 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 18:30] crazyk07 commented on #4875
Contest https://www.topcoder.com/challenges/30141020 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 18:31] luizrrodrigues commented on #4875
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-20200917
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200917

run `npm run` test before PR

[2020-09-08 18:32] luizrrodrigues commented on #2213
@Oanh-and-only-Oanh closed this one, follow up here: https://github.com/topcoder-platform/community-app/issues/4875

cc @SathyaJayabal

[2020-09-08 18:32] #2213 closed

[2020-09-08 18:33] luizrrodrigues commented on #4875
@cagdas001 Thanks for join on this.

Please make sure to see whole history here: https://github.com/topcoder-platform/community-app/issues/2213

[2020-09-08 18:37] luizrrodrigues commented on #4714
@sushilshinde Need confirmation in this one. https://github.com/topcoder-platform/community-app/issues/4714#issuecomment-675240370

[2020-09-08 18:40] cagdas001 commented on #4875
@luizrrodrigues it calls old APIs, will they be replaced by V5?

[2020-09-08 18:50] luizrrodrigues commented on #4875
@cagdas001 Yes, if not available in v5, please let me know.

[2020-09-08 20:18] luizrrodrigues commented on #4527
@cagdas001 Let me know if need anything else..

[2020-09-08 20:34] Oanh-and-only-Oanh commented on #4874
@SathyaJayabal, the current UX of automatically cashing user's last filter settings is confusing.

[2020-09-08 20:42] narekcat commented on #4441
@Oanh-and-only-Oanh @luizrrodrigues I have started to work on this issue, I find that 'All Challenges' link works for some challenges and doesn't working for others. It will take little bit more time, I'll finish in next 16 hours.

[2020-09-08 20:42] luizrrodrigues commented on #4847
@kkartunov This URL will be created in Contentful right?

[2020-09-08 20:44] cagdas001 commented on #4527
@luizrrodrigues we're now waiting for the backend team to implement necessary changes

[2020-09-08 21:10] Oanh-and-only-Oanh commented on #4441
thank you @narekcat.

[2020-09-08 21:14] luizrrodrigues commented on #4527
@cagdas001 Oh okay, I see.

Can you confirm if below is what you need:

---------

In short, we need the following fields from /submissions?memberId=<userId> (or another endpoint, if you'll implement a new one) It should not mandate a JWT token for responding
[code]

----------
----------

About **field**, isn't always `Submitter`, check here: https://beta-community-app.topcoder.com/members/luizrr

[2020-09-08 21:19] cagdas001 commented on #4527
@luizrrodrigues

Yeah, I already updated my comment to reflect latest changes. The comment https://github.com/topcoder-platform/community-app/issues/4527#issuecomment-686706937 explains what is needed

Then I'm afraid this will sophisticates things more as we'll need to call `resource-api` for each challenge. It makes too many requests in total, for e.g. makes 100 requests if we'd have 100 challen

[2020-09-08 21:26] cagdas001 commented on #4527
I don't know how backend team will achieve this, but if you ask my thoughts, IMHO the cleanest way here is to implement a single endpoint for user stats/history. Something like `/members/<memberId>/stats` What are the benefits?

- It returns only what it needs. You don't need an extra effort to omit unwanted/secret fields like Submission API endpoint.
- Since you can use M2M token, you don't need

[2020-09-08 21:37] luizrrodrigues commented on #4527
@cagdas001 Okay, thanks for all information. I'll figure with API team and then back to you.

[2020-09-08 21:57] crazyk07 commented on #4874
Contest https://www.topcoder.com/challenges/30141035 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 21:57] luizrrodrigues commented on #4874
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-20200917
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200917

run `npm run` test before PR

[2020-09-08 21:58] crazyk07 commented on #4678
Contest https://www.topcoder.com/challenges/30141036 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 21:58] luizrrodrigues commented on #4678
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-20200917
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200917

run `npm run` test before PR

[2020-09-08 21:59] crazyk07 commented on #4874
Contest https://www.topcoder.com/challenges/30141035 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 22:02] crazyk07 commented on #4678
Contest https://www.topcoder.com/challenges/30141036 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-08 23:07] luizrrodrigues commented on #4298
@rootelement Checking status on this one

[2020-09-08 23:24] rashmi73 commented on #4874
@luizrrodrigues can you please provide exact steps? as link mentioned in issue descrption is of different issue. waiting

[2020-09-08 23:27] rootelement commented on #4298
Working through migration of winners points. I'm not sure where it should live. I should have an update tomorrow my time.

[2020-09-08 23:31] PrakashDurlabhji commented on #4678
@luizrrodrigues any video reference which reproduces the issue? as it is working mostly

[2020-09-09 04:07] SathyaJayabal commented on #3392
@Oanh-and-only-Oanh , the scores are displayed now
<img width="1440" alt="Screenshot 2020-09-09 at 9 36 46 AM" src="https://user-images.githubusercontent.com/58783823/92553231-0a412a80-f280-11ea-83c5-787c38ef41c9.png">

[2020-09-09 04:07] #3392 closed

[2020-09-09 04:13] SathyaJayabal commented on #4874
@rashmi73 , please see updated description. The tracks selection was being saved for the user. But this feature must be removed and every time the user access the listings page, all filters must be cleared.
cc @Oanh-and-only-Oanh

[2020-09-09 04:19] SathyaJayabal commented on #4076
@Oanh-and-only-Oanh , looks like the v4 challenge api response had the incorrect data, based on api response data posted above, This could have been fixed in V5 challenge api. Let us wait to see if this still happens in V5 challenge api.

@rootelement , thoughts?

[2020-09-09 04:23] SathyaJayabal commented on #4868
@kkartunov , Do we have an issue for the gigs edu page? This issue is about fixes to the gigs details page.

[2020-09-09 05:03] luizrrodrigues commented on #4874
Thanks @SathyaJayabal

[2020-09-09 07:42] #4817 closed

[2020-09-09 07:43] sushilshinde opened #4876 "Change group IDs comparison to group domain comparision for tc-communities"
Details...coming...soon

[2020-09-09 07:56] SathyaJayabal commented on #4867
@kkartunov , gigs category page is not loading
<img width="1440" alt="Screenshot 2020-09-09 at 1 25 36 PM" src="https://user-images.githubusercontent.com/58783823/92570820-f9a0ac80-f29f-11ea-9329-a35ca8d30717.png">

[2020-09-09 08:11] SathyaJayabal commented on #4868
For the modal on the edu page.
1. There is too much space above the heading
2. Modal is closed by the `X` sign on the top right, where as in the TCO modals, we have a `RETURN TO PAGE` button

<img width="1440" alt="Screenshot 2020-09-09 at 1 39 57 PM" src="https://user-images.githubusercontent.com/58783823/92572463-1a6a0180-f2a2-11ea-9984-7f8bea461cfb.png">
<img width="1440" alt="Screenshot 2020-0

[2020-09-09 08:27] luizrrodrigues commented on #4678
@SathyaJayabal can you re-test this one please?

[2020-09-09 08:29] kkartunov commented on #4868
@SathyaJayabal
1. Is content. I reduced the top space.
2. This is a generic modal thus should not have the button as it could be at any page or even part of it.

This one is good to go. Thank You

[2020-09-09 08:38] SathyaJayabal commented on #4678
@luizrrodrigues @Oanh-and-only-Oanh , I registered  as a new user and updated their profile with all fields. I did not face any problem with saving the profile details.

Can we have more information on how to reproduce this issue?

[2020-09-09 08:49] luizrrodrigues commented on #4875
@cagdas001 Any progress on this?

[2020-09-09 10:10] SathyaJayabal commented on #4867
verified on staging
<img width="1440" alt="Screenshot 2020-09-09 at 3 39 30 PM" src="https://user-images.githubusercontent.com/58783823/92585536-b7349b00-f2b2-11ea-93cf-ffd11878d705.png">
<img width="1440" alt="Screenshot 2020-09-09 at 2 39 06 PM" src="https://user-images.githubusercontent.com/58783823/92585557-bbf94f00-f2b2-11ea-8acd-5d6790948717.png">

[2020-09-09 10:19] SathyaJayabal commented on #4867
@kkartunov
1. Gig Work must be below QA
<img width="1440" alt="Screenshot 2020-09-09 at 3 45 55 PM" src="https://user-images.githubusercontent.com/58783823/92586495-eef01280-f2b3-11ea-9ce9-8aa4ac286811.png">

2. Clicking on How To category from GIGS  from thrive home page opens the correct page, however the category selected on the left is incorrect.The How To category under QA is selected.
[gigs.

[2020-09-09 10:38] narekcat commented on #4441
@Oanh-and-only-Oanh @luizrrodrigues When user goes to challenge details page, does 'Compete' sub menu be opened ?
I need to make changes in https://github.com/topcoder-platform/navigation-component repository to fix this issue. Need I create fork from that repository ?

[2020-09-09 13:41] cagdas001 commented on #4875
The code looks at these fields:
[code]

The current call:
https://api.topcoder.com/v4/members/tourist/srms/?filter=status%3Dpast%26isRatedForSRM%3Dtrue&limit=36&offset=0

which returns

[code]
doesn't have `userSRMDetails` that contains all these necessary information like score placement etc

V5 equivalent of this call:
https://api.topcoder.com/v5/members/tourist/stats/history which doesnt return

[2020-09-09 13:47] narekcat commented on #4441
@Oanh-and-only-Oanh @luizrrodrigues I have fixed this issue, it works on my local machine.

[2020-09-09 13:50] cagdas001 commented on #4527
An update: I realized that [member-api ](https://github.com/topcoder-platform/member-api)already has a similar structure as I explained, including helper functions, `allowNoToken` etc.

So, maybe with just a small modification, the `/members/<handle>/stats/history` may return all necessary fields. Take a look how it looks like currently: https://api.topcoder.com/v5/members/Standlove/stats/history

[2020-09-09 13:57] skyhit commented on #4659
@Oanh-and-only-Oanh how are we going to save the data, through APIs? are they ready?

[2020-09-09 14:13] kkartunov commented on #4867
@SathyaJayabal thanks.
1. The tree and its items are and should be sorted alphabetically. Will will follow that and skip design as it is wrong about the correct place.
2. Fix pushed for that and deploying on text&stage...

[2020-09-09 15:15] Oanh-and-only-Oanh commented on #4678
I was not able to reproduce this issue. Will close for now. Thank you.

[2020-09-09 15:15] crazyk07 commented on #4678
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-09 15:41] SathyaJayabal commented on #4867
Thanks @kkartunov , verified on staging

[2020-09-09 16:02] Oanh-and-only-Oanh commented on #4076
@panjikharisma, please let us know if you're still experience this issue. Thank you.

[2020-09-09 16:04] Oanh-and-only-Oanh commented on #4441
thanks. Please PR for @luizrrodrigues to review and QA to verify fix.

[2020-09-09 16:05] narekcat commented on #4441
@Oanh-and-only-Oanh Ok.

[2020-09-09 16:38] narekcat commented on #4441
@luizrrodrigues I have fixed this issue, please see pull request https://github.com/topcoder-platform/navigation-component/pull/181.

[2020-09-09 17:51] luizrrodrigues commented on #4874
@rashmi73 Any progress on this one?

[2020-09-09 17:55] rashmi73 commented on #4874
@luizrrodrigues yes actively on it sometime required

[2020-09-09 20:30] kkartunov commented on #4847
@luizrrodrigues yes and it also need to be opened in LB in AWS. @sushilshinde is aware of that.

[2020-09-09 21:30] panjikharisma commented on #4076
Hi @Oanh-and-only-Oanh & @SathyaJayabal : I'll be paying attention to the schedules for several challenges in the next 7 days, and will get back to you next week. This bug is something that come out of nowhere in the previous records. Thanks!

[2020-09-09 23:07] rashmi73 commented on #4874
@luizrrodrigues PR https://github.com/topcoder-platform/community-app/pull/4882

[2020-09-10 01:39] luizrrodrigues commented on #4874
@rashmi73 Check feedback here: https://github.com/topcoder-platform/community-app/pull/4882#pullrequestreview-485508138

[2020-09-10 02:24] SathyaJayabal commented on #4847
verified on staging
<img width="1440" alt="Screenshot 2020-09-10 at 7 53 04 AM" src="https://user-images.githubusercontent.com/58783823/92674351-be9f8700-f33a-11ea-8125-6ce3c78cc5fc.png">

[2020-09-10 02:24] SathyaJayabal commented on #4848
verified on staging
<img width="1440" alt="Screenshot 2020-09-10 at 7 53 04 AM" src="https://user-images.githubusercontent.com/58783823/92674341-b8a9a600-f33a-11ea-9b7e-91fa8a527c42.png">

[2020-09-10 02:57] luizrrodrigues commented on #2069
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-20200910
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200910

run `npm run test` before PR

[2020-09-10 03:16] crazyk07 commented on #4606
Contest https://www.topcoder.com/challenges/30141145 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-10 03:16] luizrrodrigues commented on #4606
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

run `npm run test` before PR

[2020-09-10 03:18] SathyaJayabal commented on #4441
verified on staging (feature branch)
[nav.mov.zip](https://github.com/topcoder-platform/community-app/files/5199002/nav.mov.zip)

[2020-09-10 04:06] crazyk07 commented on #4687
Contest https://www.topcoder.com/challenges/30141149 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-10 04:07] luizrrodrigues commented on #4687
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to:

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

run `npm run test` before PR

[2020-09-10 04:08] crazyk07 commented on #2069
Contest https://www.topcoder.com/challenges/30100383 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-10 04:13] crazyk07 commented on #4294
Contest https://www.topcoder.com/challenges/30141152 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-10 04:13] luizrrodrigues commented on #4294
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

run `npm run test` before PR

[2020-09-10 04:28] sandhiyakavi commented on #4868
Verified in Staging Env.

![image](https://user-images.githubusercontent.com/55895538/92681705-5320de00-f369-11ea-899a-4248c7835481.png)

![image](https://user-images.githubusercontent.com/55895538/92681728-65028100-f369-11ea-99a3-4cf78fb31e98.png)

[2020-09-10 04:29] luizrrodrigues commented on #4668
@Oanh-and-only-Oanh This one working well:
![image](https://user-images.githubusercontent.com/7029641/92681799-00153f80-f305-11ea-9e70-968567d729c5.png)

[2020-09-10 04:32] Oanh-and-only-Oanh commented on #4668
Ok. We can close it then. Thank you.

On Wed, Sep 9, 2020 at 9:29 PM Luiz Ricardo Rodrigues <
notifications@github.com> wrote:

<https://www.topcoder.com/>

*Oanh Tran*

Product Manager, Community App

732-353-9457

www.topcoder.com  | @topcoder <http://twitter.com/topcoder>

[2020-09-10 04:34] #4668 closed

[2020-09-10 04:37] luizrrodrigues commented on #4606
@Oanh-and-only-Oanh This one looks like domain/DNS issue:

![image](https://user-images.githubusercontent.com/7029641/92682179-140d7100-f306-11ea-87a3-89bfdcd16f34.png)

[2020-09-10 04:37] sandhiyakavi commented on #4867
Verified in Staging environment.

![image](https://user-images.githubusercontent.com/55895538/92682180-a9425100-f36a-11ea-9993-e40e73329aec.png)

![image](https://user-images.githubusercontent.com/55895538/92682221-c840e300-f36a-11ea-8361-7e84235f83e7.png)

[2020-09-10 04:43] crazyk07 commented on #4294
Contest https://www.topcoder.com/challenges/30141152 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-10 04:43] sandhiyakavi commented on #4848
Verified on Staging Env.

![image](https://user-images.githubusercontent.com/55895538/92682478-6b91f800-f36b-11ea-96c4-a8e138bd76bb.png)

[2020-09-10 04:46] sandhiyakavi commented on #4847
Verified on Staging Env

![image](https://user-images.githubusercontent.com/55895538/92682650-d7746080-f36b-11ea-8762-b242f058e171.png)

[2020-09-10 04:51] sandhiyakavi commented on #4441
Verified on staging.
[#4441.zip](https://github.com/topcoder-platform/community-app/files/5199217/4441.zip)

[2020-09-10 05:13] crazyk07 commented on #4734
Contest https://www.topcoder.com/challenges/30141160 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-10 05:13] luizrrodrigues commented on #4734
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to:

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

run `npm run test` before PR

[2020-09-10 05:18] luizrrodrigues commented on #4814
@Oanh-and-only-Oanh Agree with @SathyaJayabal, this one is duplicate of #4527

I think we good to closed.

[2020-09-10 05:24] Oanh-and-only-Oanh commented on #4814
Ok

On Wed, Sep 9, 2020 at 10:18 PM Luiz Ricardo Rodrigues <
notifications@github.com> wrote:

<https://www.topcoder.com/>

*Oanh Tran*

Product Manager, Community App

732-353-9457

www.topcoder.com  | @topcoder <http://twitter.com/topcoder>

[2020-09-10 05:29] luizrrodrigues commented on #4814
Duplicate of #4527

[2020-09-10 05:29] #4814 closed

[2020-09-10 05:52] crazyk07 commented on #4745
Contest https://www.topcoder.com/challenges/30141163 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-10 05:53] luizrrodrigues commented on #4745
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to:

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

run `npm run test` before PR

[2020-09-10 05:55] crazyk07 commented on #4745
Contest https://www.topcoder.com/challenges/30141163 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-10 05:57] crazyk07 commented on #4687
Contest https://www.topcoder.com/challenges/30141149 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-10 05:59] crazyk07 commented on #4734
Contest https://www.topcoder.com/challenges/30141160 has been updated - it has been assigned to khushimehta03.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-10 08:01] kkartunov opened #4887 "OG meta tags for Thrive pages"
Should be fixed:
Article page:
- title
- description
- og:title
- og:image
- og:description
- twitter:description
- twitter:image

Home page/Search page/Track page:
- title
- description
- og:title
- og:description
- twitter:description

[2020-09-10 08:02] kkartunov opened #4888 "Thrive search - no results update"
If a user types in something that we do not have, the dropdown should still appear with "no results".

However, if the user press the return button after their query, they should be taken to the search results page, which should display a message "No results found"

[2020-09-10 08:19] kkartunov opened #4889 "Thrive -filtering by date does not work"
Replication Steps:

1. Go to Development Category
2. Click "Show Filter"
3. Set "Begin Date" to  Jan 1, 2017 and make sure end date is present date.
4. Click "Apply Filter"
5. Notice that an article from 2009 is still displayed toward the top.

[2020-09-10 08:55] kkartunov opened #4890 "Gig work listing page - add dropdowns"
Scope:
Add location and sort dropdowns and related functionality to gig listing page as per design https://marvelapp.com/prototype/f0i4ece/screen/72092704

[2020-09-10 08:59] kkartunov opened #4891 "Gig work application page"
Should be functional and follow design https://marvelapp.com/prototype/f0i4ece/screen/72147213
Exact fields are TBD by the team.

[2020-09-10 10:43] sandhiyakavi commented on #4441
Verified on Production.Working as expected.

[#4441.zip](https://github.com/topcoder-platform/community-app/files/5201071/4441.zip)

[2020-09-10 10:44] #4441 closed

[2020-09-10 10:44] swathi-tanuboddi commented on #4811
![Capture](https://user-images.githubusercontent.com/71073813/92719398-b0745980-f380-11ea-9e19-58937579763e.JPG)

hi this is the error coming after logging in to topgear.topcoder.com

[2020-09-10 10:45] crazyk07 commented on #4441
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141016<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-10 10:46] swathi-tanuboddi commented on #4811
it is logging in fine, but instead of home page; the above error is coming

[2020-09-10 10:56] sandhiyakavi commented on #4868
Verified on Production.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/92720358-736b8f80-f39f-11ea-945a-e06afadef05a.png)

![image](https://user-images.githubusercontent.com/55895538/92720525-af065980-f39f-11ea-83c5-45cc99d5edff.png)

[2020-09-10 11:01] sandhiyakavi commented on #4867
Verified on Production.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/92720891-3bb11780-f3a0-11ea-8816-d88de0784f1c.png)

![image](https://user-images.githubusercontent.com/55895538/92721022-63a07b00-f3a0-11ea-832c-0eaa268f5d0d.png)

[2020-09-10 11:05] #4867 closed

[2020-09-10 11:05] #4868 closed

[2020-09-10 11:11] sandhiyakavi commented on #4848
Member Welcome page URL redirecting to some other page.

![image](https://user-images.githubusercontent.com/55895538/92721624-59cb4780-f3a1-11ea-87db-2e75e3ff7752.png)

[2020-09-10 11:12] sandhiyakavi commented on #4847
Member Welcome page URL redirecting to some other page.

![image](https://user-images.githubusercontent.com/55895538/92721624-59cb4780-f3a1-11ea-87db-2e75e3ff7752.png)

[#4847_fail.zip](https://github.com/topcoder-platform/community-app/files/5201188/4847_fail.zip)

[2020-09-10 11:30] sushilshinde commented on #4847
@Kiril this https://www.topcoder-dev.com/start is always re-directed https://www.topcoder.com/start-typ-ing/

[2020-09-10 12:12] sandhiyakavi commented on #4847
Retested on Production.Working as Expected.

![image](https://user-images.githubusercontent.com/55895538/92727095-94d17900-f3a9-11ea-91b1-77d533ef68ed.png)

[2020-09-10 12:12] sandhiyakavi commented on #4848
Retested on Prod.Working as Expected.

![image](https://user-images.githubusercontent.com/55895538/92727065-86835d00-f3a9-11ea-9047-c7a0b3af6f1a.png)

[2020-09-10 13:03] #4847 closed

[2020-09-10 13:03] #4848 closed

[2020-09-10 14:15] Oanh-and-only-Oanh commented on #4849
@mtwomey, please update the url to www.topcoder.com/start

[2020-09-10 14:32] rashmi73 commented on #4874
@luizrrodrigues updated PR

[2020-09-10 15:23] PrakashDurlabhji commented on #4745
@luizrrodrigues it is working fine can you please confirm

[2020-09-10 15:28] hokienick opened #4894 "[$35] Update Blog Link in Header Nav to open in a new tab."

[2020-09-10 18:00] Oanh-and-only-Oanh commented on #4894
closing this issue because it's a duplicate of https://github.com/topcoder-platform/community-app/issues/4347

[2020-09-10 18:00] #4894 closed

[2020-09-10 18:04] Oanh-and-only-Oanh commented on #4361
@sandhiyakavi @SathyaJayabal , can you close this if it's been resolved?

[2020-09-10 18:21] Oanh-and-only-Oanh commented on #4659
The api is not ready. Working on this now.

[2020-09-10 19:11] luizrrodrigues commented on #3342
@Oanh-and-only-Oanh I think this one is not valid anymore, because this was with v4 API.

And now is related to this one: https://github.com/topcoder-platform/community-app/issues/4488

[2020-09-10 19:50] #3342 closed

[2020-09-10 20:46] kkartunov opened #4895 "[$40] Redirect /community/gigs to /gigs"
**Current behavior:**
When user visits https://www.topcoder.com/community/gigs, they
see screenshot below
![image](https://user-images.githubusercontent.com/47536078/92966762-f686f700-f42c-11ea-912e-2a1667093fd8.png)

**Expected behavior:**
When user visits https://www.topcoder.com/community/gigs automatically redirect them to https://www.topcoder.com/gigs. There should not be the existing URL or

[2020-09-10 20:52] khushimehta03 commented on #4734
@luizrrodrigues unable to reproduce, already working

[2020-09-10 21:06] luizrrodrigues commented on #4734
@khushimehta03 If you test with previous link (beta) please ignore this one, beta currently using v4 API.

Please test in Prod: https://www.topcoder.com/challenges/21ba3d19-3f7a-4abc-8d28-7c932887f0f6

[2020-09-10 21:06] kkartunov opened #4896 "Clicking an article on Thrive listings still contains bad url path for new articles"
1. In Thrive search type `10 years`
2. Click on the result
3. URL is https://www.topcoder.com/thrive/articles/10%20YEARS%20OF%20PROBLEM%20WRITING:%20MY%20FAVORITE%20PROBLEMS
4. It has to be https://www.topcoder.com/thrive/articles/10-years-of-problem-writing-my-favorite-problems

[2020-09-10 21:51] crazyk07 commented on #4687
Contest https://www.topcoder.com/challenges/30141149 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-10 21:58] luizrrodrigues commented on #4698
Hey @rootelement before we able to implement this in FE, we'll need add new feature to Notification API:

1. Endpoint to dismiss a notification or multiple notification items;
2. Able to filter by `dismiss=false`

[2020-09-10 22:42] luizrrodrigues commented on #4698
Hey @sachin-maheshwari before we able to implement this in FE, we'll need add new feature to Notification API:

1. Endpoint to dismiss a notification or multiple notification items;
2. Able to filter by `dismiss=false`

[2020-09-10 22:50] luizrrodrigues commented on #4875
Thanks @cagdas001 , let me check with API team.

[2020-09-10 23:01] luizrrodrigues commented on #4811
@SathyaJayabal @lakshmiathreya are you able to reproduce this?

[2020-09-11 01:19] luizrrodrigues commented on #4745
@PrakashDurlabhji If you checked with previous link shared on top, please ignore.

Test in production: https://www.topcoder.com/challenges?bucket=past

[2020-09-11 03:24] #4361 closed

[2020-09-11 04:57] sachin-maheshwari commented on #4698
@luizrrodrigues we have endpoint PUT https://api.topcoder-dev.com/v5/notifications/<id>/read , which can clear notification logically (by changing "read" flag to 1 in the backend and at time of fectching we need to give like https://api.topcoder-dev.com/v5/notifications/?platform=community&**read=false**&limit=20)
Hopefully it will help.

[2020-09-11 05:08] SathyaJayabal commented on #4698
@sachin-maheshwari @luizrrodrigues , we have two separate  things to track from the FE, read and dismiss. Read will remove the dot next to the notification and dismiss will remove the notification from the popup.

cc @Oanh-and-only-Oanh

[2020-09-11 05:16] sachin-maheshwari commented on #4698
@SathyaJayabal I think at Connect, it is managing by "seen" and "read" flag. Please check one time at Connect.

[2020-09-11 06:23] SathyaJayabal commented on #4698
@sachin-maheshwari , I checked in connect, in connect when u mark as read, then the notification disappears, but in  community when  u mark as read only the dot next to it disappears. We had a cross icon next to the notification to dismiss the notification.

@Oanh-and-only-Oanh , we need to decide on the UX before we go forward.

[2020-09-11 08:08] kkartunov opened #4897 "TCO21 Algo leaderboard fix"
https://tco21.topcoder.com/competition-overview/algorithm/leaderboard

Should display `TOTAL SCORE` properly.
Rename `# OF CHALLENGES` to `# OF MATCHES`

[2020-09-11 08:31] luizrrodrigues commented on #4698
@SathyaJayabal Thanks for additional information.

@sachin-maheshwari I was thinking about using the `seen` or `read` to control this in the popup, but if we look at the design, this is more like an additional feature.

So we need to follow this flow:
- When opening the notification popup, an item with `seen=false` will show a red mark. FE will call `/seen` to mark visible notifications as read (s

[2020-09-11 16:10] rootelement commented on #4527
Member API is owned by @urwithat. He will have to provide the correct way to get this information.

[2020-09-11 16:10] Oanh-and-only-Oanh commented on #4606
@luizrrodrigues, can you hide this RSS feed feature for now? We don't want a broken feature on our app in the meantime.

[2020-09-11 16:27] rootelement commented on #4787
Open here: https://github.com/topcoder-platform/challenge-api/issues/289

[2020-09-11 16:27] rootelement commented on #4594
This says waiting for an API fix, but I see no action or linked issue here. @Oanh-and-only-Oanh @sushilshinde please confirm what's needed here or clean up the label please.

[2020-09-11 16:28] rootelement commented on #4488
This has the waiting-for-api label, but the mentioned issue was closed June 10th. Please queue this for fix/release, and/or remove the label.

[2020-09-11 16:28] Oanh-and-only-Oanh commented on #4659
@urwithat, can you help add the ability to store this new data field into the member API?

[2020-09-11 16:29] luizrrodrigues commented on #4606
@Oanh-and-only-Oanh Sure, I'll push this update today and make ready to next release, looks good?

[2020-09-11 16:31] luizrrodrigues commented on #4787
Thanks @rootelement

[2020-09-11 16:45] Oanh-and-only-Oanh opened #4898 "[$30] Hide RSS feature from front-end"
See title

[2020-09-11 16:54] Oanh-and-only-Oanh commented on #4256
@SathyaJayabal, is this still an issue?

[2020-09-11 16:55] Oanh-and-only-Oanh commented on #4245
@sandhiyakavi, can you verify if this is still an issue?

[2020-09-11 16:56] Oanh-and-only-Oanh commented on #4171
@LieutenantRoger 1) is this still an issue? 2) if it's still an issue, what's the impact on the end user?

[2020-09-11 16:57] Oanh-and-only-Oanh commented on #4031
@lakshmiathreya, can you verify if this is still an issue?

[2020-09-11 16:58] Oanh-and-only-Oanh commented on #4169
@SathyaJayabal, can you verify please?

[2020-09-11 17:01] Oanh-and-only-Oanh commented on #3429
@SathyaJayabal, can you please verify if this is still an issue? Use case is if support had to submit on behalf of a member. The submission should show the member's handle, not the support team.

[2020-09-11 17:25] crazyk07 commented on #4488
Contest https://www.topcoder.com/challenges/30128683 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-11 17:30] Oanh-and-only-Oanh commented on #4687
hi @rashmi73, any updates?

[2020-09-11 17:31] Oanh-and-only-Oanh commented on #4527
@urwithat, can you please help with above?

[2020-09-11 19:50] crazyk07 commented on #4895
Contest https://www.topcoder.com/challenges/30141465 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-11 19:56] crazyk07 commented on #4895
Contest https://www.topcoder.com/challenges/30141465 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-11 19:57] crazyk07 commented on #4895
Contest https://www.topcoder.com/challenges/30141465 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-11 20:00] crazyk07 commented on #4707
Contest https://www.topcoder.com/challenges/30141466 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-11 20:01] crazyk07 commented on #4347
Contest https://www.topcoder.com/challenges/30141467 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-11 20:02] crazyk07 commented on #4347
Contest https://www.topcoder.com/challenges/30141467 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-11 20:08] gets0ul commented on #4347
Which branch to use?

[2020-09-11 20:11] Oanh-and-only-Oanh commented on #4347
Can you work on the ticket and wait for branch update?

[2020-09-11 20:12] Oanh-and-only-Oanh commented on #4347
Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

[2020-09-11 20:12] Oanh-and-only-Oanh commented on #4347
run npm run test before PR

[2020-09-11 20:23] crazyk07 commented on #4707
Contest https://www.topcoder.com/challenges/30141466 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-11 20:29] cagdas001 commented on #4707
@Oanh-and-only-Oanh which branch to use? the following is valid for this issue too?

[2020-09-11 20:34] Oanh-and-only-Oanh commented on #4707
Correct

On Fri, Sep 11, 2020 at 1:29 PM Cagdas U. <notifications@github.com> wrote:

<https://www.topcoder.com/>

*Oanh Tran*

Product Manager, Community App

732-353-9457

www.topcoder.com  | @topcoder <http://twitter.com/topcoder>

[2020-09-11 22:11] rashmi73 commented on #4687
@Oanh-and-only-Oanh @luizrrodrigues PR https://github.com/topcoder-platform/community-app/pull/4899

[2020-09-11 22:25] luizrrodrigues commented on #4745
@PrakashDurlabhji Can you link the PR here please?

[2020-09-11 22:26] luizrrodrigues commented on #4734
@khushimehta03 Any progress in this one?

[2020-09-11 22:31] cagdas001 commented on #4707
It currently call V3 API http://api.topcoder.com/v3/members/abhi_393 Does this call need to be replaced by V5? Or it will be fixed based on V3?

[2020-09-11 22:40] mtwomey commented on #4849
This is done, but note: This is not a change to sendgrid. This is controlled by the returnUrl param that is in the URI for the registration page (accounts-app). For example, `https://accounts.topcoder.com/member/registration?retUrl=https://www.topcoder.com/start` this will cause the link in the email to be: `https://www.topcoder.com/start`

I changed this for the marketing site (so that non-busine

[2020-09-11 22:40] #4849 closed

[2020-09-11 22:43] cagdas001 commented on #4707
I'm assuming it will be replaced by V5.

In this case, http://api.topcoder.com/v5/members/abhi_393 returns `null` for

[2020-09-11 22:59] luizrrodrigues commented on #4802
@Oanh-and-only-Oanh This one looks like PR is ready, but not set to any milestone.

@fikzzzy this ready to review?

[2020-09-11 23:50] Oanh-and-only-Oanh commented on #4802
Let’s add to next Tuesday’s milestone. Thanks

On Fri, Sep 11, 2020 at 3:59 PM Luiz Ricardo Rodrigues <
notifications@github.com> wrote:

<https://www.topcoder.com/>

*Oanh Tran*

Product Manager, Community App

732-353-9457

www.topcoder.com  | @topcoder <http://twitter.com/topcoder>

[2020-09-11 23:54] PrakashDurlabhji commented on #4745
@luizrrodrigues even in production working fine

[2020-09-12 00:33] luizrrodrigues commented on #4745
@PrakashDurlabhji Which browser ware you using?

Chrome (Windows):

![image](https://user-images.githubusercontent.com/7029641/92982824-5c4ba100-f476-11ea-8e86-f32f30f40f5b.png)

[2020-09-12 00:46] Gauravseta commented on #4895
@luizrrodrigues PR https://github.com/topcoder-platform/community-app/pull/4901 ready

[2020-09-12 00:48] PrakashDurlabhji commented on #4745
@luizrrodrigues Chrome windows 10 I am using

[2020-09-12 00:55] crazyk07 commented on #4734
Contest https://www.topcoder.com/challenges/30141160 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-12 00:57] luizrrodrigues commented on #4745
@PrakashDurlabhji same here.

@SathyaJayabal @lakshmiathreya are you still seeing the issue?

[2020-09-12 04:29] SathyaJayabal commented on #4745
@luizrrodrigues , yes, the issue is still present. @PrakashDurlabhji compare with beta to see how it should be.

[2020-09-12 04:32] SathyaJayabal commented on #4256
@Oanh-and-only-Oanh , yes this is still present.

[2020-09-12 04:34] SathyaJayabal commented on #4169
@ab668685, do you have any current example ?

[2020-09-12 04:38] SathyaJayabal commented on #3429
@Oanh-and-only-Oanh , I am not able to access the above challenge. But we did test and fix this issue during the v5 integration
https://github.com/topcoder-platform/community-app/issues/4667

[2020-09-12 04:38] #3429 closed

[2020-09-12 05:55] narekcat commented on #2069
@luizrrodrigues Any updates on this issue?

[2020-09-12 07:39] luizrrodrigues commented on #4745
Thanks @SathyaJayabal

@PrakashDurlabhji If you still no able to reproduce, please open the issue. Thanks.

[2020-09-12 07:45] PrakashDurlabhji commented on #4745
@luizrrodrigues one more try, in 1 hour I will release if failed

[2020-09-12 08:44] crazyk07 commented on #4745
Contest https://www.topcoder.com/challenges/30141163 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-12 10:34] rashmi73 commented on #4734
@luizrrodrigues PR https://github.com/topcoder-platform/community-app/pull/4902

[2020-09-12 11:17] LieutenantRoger commented on #4171
@Oanh-and-only-Oanh  From the recording, it looked like the V4 API doesn't accept the scenario without technologies params.  But when we try the challenge link provided, there is no error with V5.

The impact is the challenge detail can't be seen if I remember correctly.

[2020-09-12 22:28] luizrrodrigues commented on #2069
@narekcat I'm reviewing this right now.

[2020-09-13 12:54] panjikharisma commented on #4076
@Oanh-and-only-Oanh & @SathyaJayabal just a little update, I'm on the track on this one currently (4 days - around 10/11 challenges tracked). Will get back to you after after I got 7 day screenshots.

[2020-09-13 15:46] urwithat commented on #4527
@rootelement, @cagdas001, @luizrrodrigues - we have stats and stats history data of members exposed:
https://api.topcoder.com/v5/members/Standlove/stats
https://api.topcoder.com/v5/members/Standlove/stats/history

What are the exact details required from the API?

[2020-09-13 15:58] urwithat commented on #4659
@Oanh-and-only-Oanh - we have the work traits endpoint exposed already. The new attributes can be passed to the same endpoint.
An issue might arise while reading old records in our data store that don't have jobDescription, achievements & technologies attributes, that can be easily handled on the front end.

Sample CURL for fetching:
curl --location --request GET 'https://api.topcoder-dev.com/v5/m

[2020-09-13 21:18] luizrrodrigues commented on #4707
@cagdas001 Yes, need replace with V5.

@urwithat can you please help with this?

v3: `"homeCountryCode":"356"`
v5: `"homeCountryCode":null`

[2020-09-13 21:54] cagdas001 commented on #4707
@luizrrodrigues @urwithat Note that `356` is also not a valid value, and that's the cause of the current issue (it currently calls V3 and gets already `356` as response). It should be `IND` (i.e. India) for this member. See https://api.topcoder.com/v3/members/lookup/countries response for country codes.

[2020-09-13 22:55] luizrrodrigues commented on #4707
@cagdas001 I see. Also about V5 equivalent, I think this is https://api.topcoder.com/v5/members/lookup/countries

https://github.com/topcoder-platform/member-api/blob/a82df848115244946ddc8d4eb3decf5e2f5f770e/docs/swagger.yaml#L1235

But looks like this not ready.

Let wait for @urwithat

[2020-09-13 23:51] luizrrodrigues commented on #4294
@gets0ul Please check feedback here: https://github.com/topcoder-platform/community-app/pull/4892#pullrequestreview-487351673

[2020-09-14 03:51] SathyaJayabal commented on #4898
verified on staging
<img width="425" alt="Screenshot 2020-09-14 at 9 20 12 AM" src="https://user-images.githubusercontent.com/58783823/93042009-a34eb780-f66b-11ea-861e-eaaf45a8d405.png">
<img width="433" alt="Screenshot 2020-09-14 at 9 20 42 AM" src="https://user-images.githubusercontent.com/58783823/93042016-a8136b80-f66b-11ea-81e3-0246a9d41bd5.png">

[2020-09-14 04:34] luizrrodrigues commented on #4784
@rootelement Any update on this one?

[2020-09-14 04:42] sandhiyakavi commented on #4245
Closing the issue as comparison is between the number of open positions for review and number of registrants of the challenge.

![image](https://user-images.githubusercontent.com/55895538/93044548-1d913300-f690-11ea-9d51-33de4bb2e728.png)

[2020-09-14 04:42] #4245 closed

[2020-09-14 04:53] RiteshTC opened #4906 "Code Challenge should display the latest submission"
If a user uploads multiple submissions in a code challenge, only the the latest one is retained in OR.
The rest of the submissions are marked as deleted.

Front end should have the same logic, to keep artefacts consistent.

[2020-09-14 05:02] gets0ul commented on #4294
@luizrrodrigues Fixed.

[2020-09-14 06:15] luizrrodrigues commented on #4527
Hey @urwithat,

@cagdas001 request check if possible to add more field to `/members/<handle>/stats/history` endpoint

[code]

@cagdas001 Please confirm ☝️

[2020-09-14 06:23] sandhiyakavi commented on #4874
Verified on Staging.

[#4874.zip](https://github.com/topcoder-platform/community-app/files/5216459/4874.zip)

[2020-09-14 06:32] SathyaJayabal commented on #2069
@luizrrodrigues @narekcat ,
1. Challenge name must link to challenge details page
2. Points always displayed as 0 even when the user has a placement
<img width="1440" alt="Screenshot 2020-09-14 at 11 59 26 AM" src="https://user-images.githubusercontent.com/58783823/93051364-f92e5a00-f681-11ea-8808-e990c14fec47.png">

[2020-09-14 06:35] luizrrodrigues commented on #2069
@SathyaJayabal I think we can track issue with data binding in this one: https://github.com/topcoder-platform/community-app/issues/4527

[2020-09-14 06:36] SathyaJayabal commented on #2069
Ok, @luizrrodrigues

[2020-09-14 06:40] SathyaJayabal commented on #4527
@cagdas001 @luizrrodrigues , we also need this to work for all sub tracks, like marathon matches and web designs etc.

[2020-09-14 06:48] luizrrodrigues commented on #4527
@SathyaJayabal Added `tags`, we can get these information from `tags` and `tracks`

[2020-09-14 07:10] #4780 closed

[2020-09-14 07:14] SathyaJayabal commented on #4527
@luizrrodrigues , I mean challenge cards for different sub tracks may have different details. We need to make sure, we get all of that in the request above.

[2020-09-14 07:42] luizrrodrigues commented on #4527
@SathyaJayabal Ah okay.

@cagdas001 Please make sure to check `/src/shared/components/ChallengeTile/index.jsx` and add more details to your request if needed.

[2020-09-14 07:45] luizrrodrigues commented on #4875
@urwithat Can we add more details/field to `history`:
https://api.topcoder.com/v5/members/tourist/stats/history

to match with v4 api:
https://api.topcoder.com/v4/members/tourist/srms/?filter=status%3Dpast%26isRatedForSRM%3Dtrue&limit=36&offset=0

[2020-09-14 08:08] SathyaJayabal commented on #2069
@luizrrodrigues , verified challenge link.

Also the "No challenges are found" message is displayed before the challenges load.

[2020-09-14 09:56] luizrrodrigues commented on #2069
@SathyaJayabal Fixed, ready for QA

[2020-09-14 09:58] SathyaJayabal commented on #2069
@luizrrodrigues , verified, Thank you.

[2020-09-14 10:29] SathyaJayabal commented on #4895
verified
[4895.mov.zip](https://github.com/topcoder-platform/community-app/files/5217824/4895.mov.zip)

[2020-09-14 10:39] SathyaJayabal commented on #4745
verified
<img width="1440" alt="Screenshot 2020-09-14 at 4 06 24 PM" src="https://user-images.githubusercontent.com/58783823/93076203-9f8b5700-f6a4-11ea-8ad1-6acb8488f67b.png">

[2020-09-14 10:41] SathyaJayabal commented on #4347
verified
[4347.mov.zip](https://github.com/topcoder-platform/community-app/files/5217893/4347.mov.zip)

[2020-09-14 10:46] SathyaJayabal commented on #4687
verified
<img width="1440" alt="Screenshot 2020-09-14 at 4 14 45 PM" src="https://user-images.githubusercontent.com/58783823/93076860-9cdd3180-f6a5-11ea-949e-4ff2422325e1.png">

[2020-09-14 11:27] mfikria commented on #4802
@luizrrodrigues yes it should be ready to review

[2020-09-14 11:43] cagdas001 commented on #4527
Current endpoint should already handle this situation. It includes histories in different fields/tracks. Check the response type of https://api.topcoder.com/v5/members/tourist/stats/history

![2020-09-14_14-31-41](https://user-images.githubusercontent.com/28513447/93080946-233e4700-f697-11ea-9fa5-e1c8c3526428.png)

Thus, I don't think we need `tags` for this issue @luizrrodrigues please check

You

[2020-09-14 11:49] SathyaJayabal commented on #4888
If a user types in something that we do not have, the dropdown appears with "no results".

However, if the user press the return button after their query, the search results page, with message message "No results found" is not displayed. The search results page keeps on loading.
<img width="1440" alt="Screenshot 2020-09-14 at 5 18 38 PM" src="https://user-images.githubusercontent.com/58783823/9308

[2020-09-14 11:55] SathyaJayabal commented on #4896
verified on test
<img width="1440" alt="Screenshot 2020-09-14 at 5 24 32 PM" src="https://user-images.githubusercontent.com/58783823/93082828-3826d480-f6af-11ea-8c1d-b563d3830ced.png">

[2020-09-14 12:03] SathyaJayabal opened #4910 "[$50]Blank page on listing page on dev env"
Blank page on listing page on dev env
<img width="1440" alt="Screenshot 2020-09-14 at 4 07 34 PM" src="https://user-images.githubusercontent.com/58783823/93083574-6ce75b80-f6b0-11ea-9d7c-71d63652a6aa.png">

[2020-09-14 12:05] SathyaJayabal commented on #4910
verified on dev env
<img width="1440" alt="Screenshot 2020-09-14 at 5 34 53 PM" src="https://user-images.githubusercontent.com/58783823/93083714-a4560800-f6b0-11ea-9fa0-aca268088e53.png">

[2020-09-14 12:49] skyhit commented on #4858
https://github.com/topcoder-platform/community-app/pull/4903

[2020-09-14 12:58] SathyaJayabal commented on #4888
verified on staging
<img width="1440" alt="Screenshot 2020-09-14 at 6 27 06 PM" src="https://user-images.githubusercontent.com/58783823/93088803-049c7800-f6b8-11ea-86fb-79bbeb104419.png">

[2020-09-14 13:05] SathyaJayabal commented on #4889
verified on staging
<img width="1440" alt="Screenshot 2020-09-14 at 6 33 50 PM" src="https://user-images.githubusercontent.com/58783823/93089502-06b30680-f6b9-11ea-8438-5777f0a8713e.png">

[2020-09-14 13:16] SathyaJayabal commented on #4887
@kkartunov , I don't find the below meta tag

Article page:
`title`
Home page/Search page/Track page:
`title`

[2020-09-14 13:23] kkartunov commented on #4887
@SathyaJayabal `title` is the `<title>` in head.

[2020-09-14 13:24] SathyaJayabal commented on #4887
oh ok :)

[2020-09-14 15:58] #4171 closed

[2020-09-14 16:04] Oanh-and-only-Oanh commented on #4606
@sushilshinde, can you help with this?

[2020-09-14 16:18] Oanh-and-only-Oanh commented on #4488
@PrakashDurlabhji, please share update. FYI @luizrrodrigues

[2020-09-14 16:19] Oanh-and-only-Oanh commented on #4906
closing this ticket as this issue will be resolved along with this https://github.com/topcoder-platform/community-app/issues/4527

[2020-09-14 16:19] #4906 closed

[2020-09-14 17:00] hokienick opened #4912 "Abandonment Ad Code added to gig pages."
Add code snippet to gig listings and gig description pages.

[2020-09-14 17:03] Oanh-and-only-Oanh commented on #4912
@luizrrodrigues, please do a hot fix release for this ticket for this Wednesday. It will be a release for this just. @kkartunov is working on the ticket but please have it ready for QA by Tuesday India morning time for @SathyaJayabal to verify.

[2020-09-14 17:27] ThomasKranitsas commented on #4787
@rootelement @sushilshinde @luizrrodrigues @Oanh-and-only-Oanh  I don't see how this is an API issue.

I created a user on dev with the username `thomas{}` and I tried to make the following:

[code]

and it worked just fine.
It even worked using the encoded version of the handle (`thomas%7B%7D`).

<img width="1105" alt="Screenshot 2020-09-14 at 7 05 28 PM" src="https://user-images.githubuserconten

[2020-09-14 17:32] luizrrodrigues commented on #4787
@ThomasKranitsas special character like  `{}` was fixed with https://github.com/topcoder-platform/topcoder-react-lib/pull/246

Put `encodeURIComponent()` don't encode `- _ . { } [ ]`

If you try register with `picachui_` will fail.

[2020-09-14 17:34] ThomasKranitsas commented on #4787
Nope. `picachui_` worked just fine.
<img width="1110" alt="Screenshot 2020-09-14 at 8 34 11 PM" src="https://user-images.githubusercontent.com/4612921/93118926-ac6e7180-f6c9-11ea-8990-e5c181f0d03c.png">

[2020-09-14 17:40] luizrrodrigues commented on #4787
@ThomasKranitsas I think this working because you was using m2m token right?

Can you try using member token?

![image](https://user-images.githubusercontent.com/7029641/93119399-1ff78b00-f698-11ea-814b-b1fc6502b815.png)

![image](https://user-images.githubusercontent.com/7029641/93119415-271e9900-f698-11ea-9e41-3f1710e5e9d0.png)

[2020-09-14 17:45] Oanh-and-only-Oanh commented on #4298
@rootelement, can you give an update?

[2020-09-14 17:48] cagdas001 commented on #4527
@urwithat Here is an high-level overview of the page:  https://github.com/topcoder-platform/community-app/issues/4527#issuecomment-686706937 (ignore the API names, cause they'll be changed since you'll provide them over a single endpoint)

Generally, we need

* [Challenge Name](#challenge-name)
* [Challenge End Date](#challenge-end-date)
* [User's roles in challenge](#user-roles)
* [User's effecti

[2020-09-14 17:54] luizrrodrigues commented on #4698
@sachin-maheshwari Any update in this one?

[2020-09-14 17:57] luizrrodrigues commented on #4858
@skyhit Please PR to https://github.com/topcoder-platform/community-app/tree/submissionId-hotfix

[2020-09-14 18:15] ThomasKranitsas commented on #4787
@luizrrodrigues I was even able to register on a challenge using my `thomas{}` account just fine.

<img width="1568" alt="Screenshot 2020-09-14 at 9 09 47 PM" src="https://user-images.githubusercontent.com/4612921/93122196-c3fc2900-f6ce-11ea-9683-526606b2d5f4.png">

The error you're seeing is only possible to be thrown when you're trying to create a resource for another member and you don't have f

[2020-09-14 18:45] sachin-maheshwari commented on #4698
@SathyaJayabal, why there are two different UX. Still unable to understand, either we should fix the UX in Connect too ?

[2020-09-14 18:47] sachin-maheshwari commented on #4698
Look at this for other organization. Initial blue color suggesting new notifications
<img width="1392" alt="Screenshot 2020-09-15 at 12 12 03 AM" src="https://user-images.githubusercontent.com/6467888/93125449-c79ca980-f6e8-11ea-9af8-d753d27f289c.png">
 are available.

[2020-09-14 18:49] sachin-maheshwari commented on #4698
Once i clicked, its blue color disappear ("seen").
<img width="1488" alt="Screenshot 2020-09-15 at 12 12 18 AM" src="https://user-images.githubusercontent.com/6467888/93125585-ff0b5600-f6e8-11ea-9e1a-bbc2c98fcff8.png">

[2020-09-14 18:50] sachin-maheshwari commented on #4698
There is cross icon to dismiss the notification ("read").
<img width="1077" alt="Screenshot 2020-09-15 at 12 12 52 AM" src="https://user-images.githubusercontent.com/6467888/93125765-3974f300-f6e9-11ea-836e-d0f59cc93e59.png">

[2020-09-14 18:51] sachin-maheshwari commented on #4698
So only two cases are possible - seen and read (dismiss).

[2020-09-14 18:53] Oanh-and-only-Oanh commented on #4698
@sachin-maheshwari, without the ability to remove or clear all the notifications from the popup, it starts to become very cluttered.

[2020-09-14 19:00] sachin-maheshwari commented on #4698
@Oanh-and-only-Oanh We can user this endpoint PUT https://api.topcoder-dev.com/v5/notifications/{id}/read  to remove the notifications

[2020-09-14 19:04] Oanh-and-only-Oanh commented on #4698
we want the user to clear/remove all notifications in the drop down regardless if it's is "seen" or "read".

[2020-09-14 19:04] sachin-maheshwari commented on #4698
PUT https://api.topcoder-dev.com/v5/notifications/read will remove all notifications.

[2020-09-14 19:06] sachin-maheshwari commented on #4698
only we need to take care at time of fetching (or making notification list) , we should use this call - GET https://api.topcoder-dev.com/v5/notifications/?platform=community&read=false&limit=20)

[2020-09-14 19:10] sachin-maheshwari commented on #4698
Here is only confusion with name of the endpoint i.e. "read", would be more appropriate if we use "dismiss". Otherwise functionality wise its same.

[2020-09-14 19:11] luizrrodrigues commented on #4698
@sachin-maheshwari yeah, I see your point here, but if we use 'read' to dismiss, we'll lose ability to read a notification item and keep this in popup.

Example:
- I see notification about a event;
- Click to see details
- Is a big text, so want read this late
- when back to read this, I go to popup, but notification event is gone, so need click in "View All Notifications"

@Oanh-and-only-Oanh if

[2020-09-14 19:17] Oanh-and-only-Oanh commented on #4657
See dev console screenshot

<img width="1645" alt="Screen Shot 2020-09-14 at 12 16 35 PM" src="https://user-images.githubusercontent.com/47536078/93128346-2da31580-f684-11ea-8a92-7523f733d14d.png">

[2020-09-14 19:18] Oanh-and-only-Oanh commented on #4698
@luizrrodrigues, you're correct that would create a problem we don't want.

[2020-09-14 19:19] luizrrodrigues commented on #4787
@ThomasKranitsas please try with 'picachui_' (check credentials above) or create a new user with _ in name

[2020-09-14 19:40] Oanh-and-only-Oanh opened #4913 "[$50] sticky buttons on filters"
Current issue:
There is a delay when turning the track filters on/off on the challenge listings page.
How to reproduce issue:
1. got to https://www.topcoder.com/challenges?
2. turn off or on any track toggle i.e. Design toggle

![image](https://user-images.githubusercontent.com/47536078/93130805-e880e280-f687-11ea-941b-8e98343d4b09.png)

3. see slight delay in the front-end

Expected behavior:
Fil

[2020-09-14 19:42] cagdas001 commented on #4787
@ThomasKranitsas @luizrrodrigues at this line: https://github.com/topcoder-platform/resources-api/blob/dd4044c41f154c5afb4e75ed33c4ffc77258550a/src/common/helper.js#L168

_.lowerCase ignores such characters like `_-` so you'll get `testusername` when you use `_.lowerCase("testusername_")` Ref: https://lodash.com/docs/4.17.15#lowerCase

If you use `_.toLower` I think the issue will be resolved

[2020-09-14 19:49] ThomasKranitsas commented on #4787
@cagdas001 you're right. Indeed, I added some logging and tested on dev with the account `thomas_` and seems like it's fetching the ID for `thomas` instead of `thomas_`. I replaced `lowerCase` with `toLower` and pending deployment. This should be fixed shortly.

[2020-09-14 19:50] crazyk07 commented on #4913
Contest https://www.topcoder.com/challenges/30141722 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-14 19:50] crazyk07 commented on #4256
Contest https://www.topcoder.com/challenges/30141723 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-14 19:51] ThomasKranitsas commented on #4787
Fixed and verified on dev.
cc @rootelement

[2020-09-14 19:51] crazyk07 commented on #4657
Contest https://www.topcoder.com/challenges/30141724 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-14 19:54] crazyk07 commented on #4913
Contest https://www.topcoder.com/challenges/30141722 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-14 19:54] cagdas001 commented on #4913
@Oanh-and-only-Oanh branch?

[2020-09-14 20:00] Oanh-and-only-Oanh commented on #4913
Submit in 8 hours and PR to:

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

run npm run test before PR

[2020-09-14 20:03] Oanh-and-only-Oanh commented on #4256
Submit in 8 hours and PR to:

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

run npm run test before PR

[2020-09-14 20:03] crazyk07 commented on #4256
Contest https://www.topcoder.com/challenges/30141723 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-14 20:03] Oanh-and-only-Oanh commented on #4657
Submit in 8 hours and PR to:

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

run npm run test before PR

[2020-09-14 20:05] Oanh-and-only-Oanh commented on #4031
@lakshmiathreya, what's the end user impact of this error here? If there isn't an impact, can you please close?

[2020-09-14 20:11] luizrrodrigues commented on #4787
Thanks @cagdas001 @ThomasKranitsas

[2020-09-14 20:15] luizrrodrigues commented on #4787
@SathyaJayabal @lakshmiathreya please run QA in Dev.

https://github.com/topcoder-platform/challenge-api/issues/289

[2020-09-14 20:43] crazyk07 commented on #4657
Contest https://www.topcoder.com/challenges/30141724 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-14 21:07] gets0ul commented on #4657
How to access the Topgear profile page in local DEV deployment?

[2020-09-14 21:08] Oanh-and-only-Oanh commented on #4657
@luizrrodrigues can you help?

[2020-09-14 21:17] luizrrodrigues commented on #4910
@SathyaJayabal @lakshmiathreya Added additional fixes.

Ready for QA.

[2020-09-14 21:24] luizrrodrigues commented on #4657
@gets0ul In dev home page, click in "TopGear (Wipro) community" link:

![image](https://user-images.githubusercontent.com/7029641/93139632-7cb66e00-f6b7-11ea-9c86-89baf409a0a7.png)

[2020-09-14 21:34] gets0ul commented on #4657
@luizrrodrigues For the Topgear front page, challenges or leaderboard, I can access it finely.

But how to access the profile page https://topgear.topcoder.com/members/standlove in local environment? Can you provide the steps?
Thanks.

[2020-09-14 21:39] hokienick opened #4916 "Insert Chatbot Script For Gig Pages"
Please add this script for a chatbot feature on Gig pages only:

[code]

[2020-09-14 22:06] luizrrodrigues commented on #4657
@gets0ul You can add 'topgear.topcder-dev.com' to host file:

[code]

But in my test here, looks like we'll need help from @sushilshinde or @kkartunov to get Contentful tokens to Dev env.

`

[2020-09-15 02:57] SathyaJayabal commented on #4787
verified on dev
Able to register with "picachui_"

[2020-09-15 03:04] tmalbonph opened #4920 "Registration Date for some registrants on challenge page is less than Challenge Started date"
**Describe the bug**
The registration date for some registrants on challenge page is less than Challenge Started date.

**To Reproduce**
Steps to reproduce the behavior:

Date shown using **Timezone: Asia/Manila**

1. Go to https://www.topcoder.com/challenges/1140fca1-dfd1-4c7e-8603-1b45f4dfb343?tab=registrants
2. Click on **Show Deadlines**, just below the **Submit** button, to display "Challenge

[2020-09-15 03:13] SathyaJayabal commented on #4910
verified.

[2020-09-15 03:17] tmalbonph commented on #4920
At around **Sep 15, 2020 10:57**, the challenge have 13 registrants and look at the registration date. The newly registered user should be **listed at the bottom**. *Not on top of my registration*.

**registrants_13.png**
![registrants_13](https://user-images.githubusercontent.com/3745678/93161246-be412a80-f744-11ea-8dd4-93026d78452c.png)

[2020-09-15 03:48] SathyaJayabal commented on #4912
verified on test, tracking code present in header for gigs listings and gigs details pages.
<img width="1440" alt="Screenshot 2020-09-15 at 9 07 49 AM" src="https://user-images.githubusercontent.com/58783823/93163136-fab85a80-f733-11ea-8988-7b8db45635ba.png">
<img width="1440" alt="Screenshot 2020-09-15 at 9 08 34 AM" src="https://user-images.githubusercontent.com/58783823/93163145-01df6880-f734-1

[2020-09-15 04:55] tmalbonph commented on #4920
@Oanh-and-only-Oanh At around **Sep 15, 2020 12:01 PM**, the challenge have 14 registrants and user *banerjeesourish* appears between *Ksys* and *fadilfaisal*.  The **banerjeesourish** registration date should be **Sep 15, 2020 12:01** and not **Sep 15, 2020 08:01** .

![registrants_14](https://user-images.githubusercontent.com/3745678/93167123-82ad5d00-f752-11ea-9f19-95f9b922d804.png)

[2020-09-15 05:11] sandhiyakavi commented on #4910
Verified

![image](https://user-images.githubusercontent.com/55895538/93167955-bbeaca80-f75c-11ea-805d-d3283b135a5a.png)

[2020-09-15 05:11] sandhiyakavi commented on #4898
Verified on staging.

![image](https://user-images.githubusercontent.com/55895538/93168127-24d24280-f75d-11ea-8b8b-c92bb8394bff.png)

[2020-09-15 05:18] sandhiyakavi commented on #4896
Verified on staging.

![image](https://user-images.githubusercontent.com/55895538/93168608-4253dc00-f75e-11ea-94ac-5b4418b49ed4.png)

[2020-09-15 05:22] kkartunov commented on #4912
@SathyaJayabal yep, it should be on all pages.

[2020-09-15 05:23] SathyaJayabal commented on #2069
verified on staging. Points details to be tracked in #4527

[2020-09-15 05:28] SathyaJayabal commented on #4912
@kkartunov ,thanks

[2020-09-15 05:34] kkartunov opened #4921 "Gig job page updates"
https://marvelapp.com/prototype/f0i4ece/screen/72094627

1. add - Sign Up For Newsletter
2. Forum Link - point link here: https://apps.topcoder.com/forums/?module=ThreadList&forumID=703475

[2020-09-15 05:48] SathyaJayabal commented on #4787
verified on prod.
<img width="1440" alt="Screenshot 2020-09-15 at 11 15 38 AM" src="https://user-images.githubusercontent.com/58783823/93170412-d3b65480-f744-11ea-987e-bdeab55d38d2.png">
@arnandosimanjuntak @istkz, you should be able to register to challenges now.

[2020-09-15 05:49] SathyaJayabal commented on #4864
@lstkz, you should be able to register now

[2020-09-15 05:49] crazyk07 commented on #4787
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 05:51] #4787 closed

[2020-09-15 05:52] crazyk07 commented on #4787
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140635<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 05:53] PrakashDurlabhji commented on #4488
@Oanh-and-only-Oanh @luizrrodrigues it is working fine already

[2020-09-15 05:54] crazyk07 commented on #4913
Contest https://www.topcoder.com/challenges/30141722 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 05:55] PrakashDurlabhji commented on #4913
@luizrrodrigues buttons are toggling immediately without any lag, do you want me to modify some other things related to button? there is an outline being shown on button, do you want me to remove it? @Oanh-and-only-Oanh

[2020-09-15 05:56] sandhiyakavi commented on #4895
verified on staging.

[#4895.zip](https://github.com/topcoder-platform/community-app/files/5222739/4895.zip)

[2020-09-15 05:58] SathyaJayabal commented on #4912
verified on staging(develop)
<img width="1440" alt="Screenshot 2020-09-15 at 11 27 52 AM" src="https://user-images.githubusercontent.com/58783823/93171356-8fc44f00-f746-11ea-86f7-b8e5a895e973.png">

[2020-09-15 06:00] SathyaJayabal commented on #4347
verified on staging (develop)
[4347.mov 2.zip](https://github.com/topcoder-platform/community-app/files/5222747/4347.mov.2.zip)

[2020-09-15 06:05] SathyaJayabal commented on #4687
verified on staging(develop)
<img width="1440" alt="Screenshot 2020-09-15 at 11 34 28 AM" src="https://user-images.githubusercontent.com/58783823/93171927-930c0a80-f747-11ea-9663-cb5bed6e6911.png">

[2020-09-15 06:08] SathyaJayabal commented on #4745
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-09-15 at 11 36 55 AM" src="https://user-images.githubusercontent.com/58783823/93172160-f26a1a80-f747-11ea-8b3d-c6659631bce0.png">

[2020-09-15 06:11] SathyaJayabal commented on #4874
verified on staging
[4874.mov.zip](https://github.com/topcoder-platform/community-app/files/5222790/4874.mov.zip)

[2020-09-15 06:11] sandhiyakavi commented on #4889
Verified on staging.

![image](https://user-images.githubusercontent.com/55895538/93172363-afb73b00-f765-11ea-9277-2b63fca19e30.png)

[2020-09-15 06:16] SathyaJayabal commented on #4887
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-09-15 at 11 43 27 AM" src="https://user-images.githubusercontent.com/58783823/93172723-08c4a600-f749-11ea-8d50-fa5b3b3d0b5e.png">
<img width="1440" alt="Screenshot 2020-09-15 at 11 44 29 AM" src="https://user-images.githubusercontent.com/58783823/93172736-0e21f080-f749-11ea-86bb-80a09f59b9fa.png">

[2020-09-15 06:16] sandhiyakavi commented on #4888
Verified on staging.

![image](https://user-images.githubusercontent.com/55895538/93172725-5f8ca880-f766-11ea-99c6-b9a73b8f73c6.png)

![image](https://user-images.githubusercontent.com/55895538/93172761-6fa48800-f766-11ea-880c-fad5b10af17f.png)

[2020-09-15 06:39] SathyaJayabal commented on #4488
@PrakashDurlabhji , its not working as expected, please see attached video.

@sushilshinde @LieutenantRoger , this will be fixed along with the performance fixes right?
[4488.mov.zip](https://github.com/topcoder-platform/community-app/files/5222905/4488.mov.zip)

[2020-09-15 07:03] SathyaJayabal opened #4922 "Topgear: Blank page on challenge listings when filtering by subcommunity"
1. go to https://topgear.topcoder.com/challenges?communityId=wipro

Blank page is displayed with following console error

<img width="1440" alt="Screenshot 2020-09-15 at 12 30 02 PM" src="https://user-images.githubusercontent.com/58783823/93176795-6c51d200-f74f-11ea-8a7d-a33dd0457b48.png">

cc @sushilshinde

[2020-09-15 09:42] lakshmiathreya commented on #4031
This error is not seen. The api call returns success.

[2020-09-15 09:42] #4031 closed

[2020-09-15 10:56] SathyaJayabal commented on #4912
verified on prod
<img width="1440" alt="Screenshot 2020-09-15 at 4 25 41 PM" src="https://user-images.githubusercontent.com/58783823/93202338-29ecbd00-f770-11ea-9892-179277193b23.png">

[2020-09-15 10:56] #4912 closed

[2020-09-15 10:58] SathyaJayabal commented on #2069
verified on prod
<img width="1440" alt="Screenshot 2020-09-15 at 4 27 39 PM" src="https://user-images.githubusercontent.com/58783823/93202518-70421c00-f770-11ea-8521-795386b144f6.png">

[2020-09-15 10:58] #2069 closed

[2020-09-15 10:58] crazyk07 commented on #2069
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30100383<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 11:00] SathyaJayabal commented on #4347
verified on prod
[blog link.mov.zip](https://github.com/topcoder-platform/community-app/files/5224384/blog.link.mov.zip)

[2020-09-15 11:00] #4347 closed

[2020-09-15 11:00] crazyk07 commented on #4347
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141467<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 11:01] SathyaJayabal commented on #4687
verified on prod
<img width="1440" alt="Screenshot 2020-09-15 at 4 31 07 PM" src="https://user-images.githubusercontent.com/58783823/93202799-efcfeb00-f770-11ea-9e39-ff9fe81e6277.png">

[2020-09-15 11:01] #4687 closed

[2020-09-15 11:02] crazyk07 commented on #4687
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141149<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 11:04] SathyaJayabal commented on #4745
verified on prod
<img width="1440" alt="Screenshot 2020-09-15 at 4 33 21 PM" src="https://user-images.githubusercontent.com/58783823/93203006-49d0b080-f771-11ea-94d0-9d0b37fe4512.png">

[2020-09-15 11:04] #4745 closed

[2020-09-15 11:05] crazyk07 commented on #4745
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141163<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 11:06] SathyaJayabal commented on #4874
verified on prod
[clear filter.mov.zip](https://github.com/topcoder-platform/community-app/files/5224414/clear.filter.mov.zip)

[2020-09-15 11:06] #4874 closed

[2020-09-15 11:06] crazyk07 commented on #4874
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141035<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 11:08] SathyaJayabal commented on #4895
verified on prod
[gigs redirection.mov.zip](https://github.com/topcoder-platform/community-app/files/5224424/gigs.redirection.mov.zip)

[2020-09-15 11:08] #4895 closed

[2020-09-15 11:08] crazyk07 commented on #4895
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141465<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 11:10] crazyk07 commented on #4898
Contest https://www.topcoder.com/challenges/30141856 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 11:10] crazyk07 commented on #4898
Contest https://www.topcoder.com/challenges/30141856 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 11:11] SathyaJayabal commented on #4898
verified on prod
<img width="1440" alt="Screenshot 2020-09-15 at 4 40 03 PM" src="https://user-images.githubusercontent.com/58783823/93203510-2fe39d80-f772-11ea-8f61-3b04842f438f.png">

[2020-09-15 11:11] crazyk07 commented on #4910
Contest https://www.topcoder.com/challenges/30141857 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 11:11] crazyk07 commented on #4910
Contest https://www.topcoder.com/challenges/30141857 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 11:13] SathyaJayabal commented on #4910
verified on prod  and dev
<img width="1440" alt="Screenshot 2020-09-15 at 4 42 18 PM" src="https://user-images.githubusercontent.com/58783823/93203686-7b964700-f772-11ea-9b62-732e6c64d14c.png">
<img width="1440" alt="Screenshot 2020-09-15 at 4 42 21 PM" src="https://user-images.githubusercontent.com/58783823/93203714-80f39180-f772-11ea-9e98-7e380ac41d35.png">

[2020-09-15 11:15] crazyk07 commented on #4898
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 11:17] crazyk07 commented on #4910
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 11:17] sushilshinde commented on #4606
@Gunasekar-K is looking into it

[2020-09-15 11:21] SathyaJayabal commented on #4889
verified on prod
<img width="1440" alt="Screenshot 2020-09-15 at 4 50 38 PM" src="https://user-images.githubusercontent.com/58783823/93204367-9cab6780-f773-11ea-9624-c0ca94ee953a.png">

[2020-09-15 11:21] #4889 closed

[2020-09-15 11:21] #4910 closed

[2020-09-15 11:22] crazyk07 commented on #4910
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141857<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 11:22] #4898 closed

[2020-09-15 11:22] crazyk07 commented on #4898
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141856<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-15 11:24] SathyaJayabal commented on #4888
verified on prod
<img width="1440" alt="Screenshot 2020-09-15 at 4 53 21 PM" src="https://user-images.githubusercontent.com/58783823/93204610-0461b280-f774-11ea-81db-d5fabfa7331f.png">
<img width="1440" alt="Screenshot 2020-09-15 at 4 53 27 PM" src="https://user-images.githubusercontent.com/58783823/93204630-0cb9ed80-f774-11ea-8719-e8e7233af002.png">

[2020-09-15 11:24] #4888 closed

[2020-09-15 11:25] SathyaJayabal commented on #4896
verified on prod
<img width="1440" alt="Screenshot 2020-09-15 at 4 54 31 PM" src="https://user-images.githubusercontent.com/58783823/93204716-3115ca00-f774-11ea-9216-6317821d11c4.png">

[2020-09-15 11:25] #4896 closed

[2020-09-15 11:27] SathyaJayabal commented on #4887
verified on prod
<img width="1440" alt="Screenshot 2020-09-15 at 4 55 53 PM" src="https://user-images.githubusercontent.com/58783823/93204884-7639fc00-f774-11ea-8f86-877248006b1e.png">
<img width="1440" alt="Screenshot 2020-09-15 at 4 56 24 PM" src="https://user-images.githubusercontent.com/58783823/93204899-7cc87380-f774-11ea-9814-320c30286ab3.png">

[2020-09-15 11:27] #4887 closed

[2020-09-15 11:44] SathyaJayabal commented on #4922
@luizrrodrigues , even on topcoder listings pages, we see api errors when  we filter on sub-community and then reload the page
<img width="1440" alt="Screenshot 2020-09-15 at 5 12 20 PM" src="https://user-images.githubusercontent.com/58783823/93206374-eba6cc00-f776-11ea-889c-ff18b4d94010.png">

[2020-09-15 12:49] sushilshinde commented on #4811
@swathi-tanuboddi please ping me on topcoder community slack, my handle `Sushil`

[2020-09-15 12:51] sushilshinde commented on #4112
@Oanh-and-only-Oanh is this issue irrelevant now?

[2020-09-15 12:52] ajefts commented on #2069
@Oanh-and-only-Oanh I'm not seeing this one fixed in prod.  For example, https://www.topcoder.com/members/wleite/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH&tab=challenges

[2020-09-15 12:54] swathi-tanuboddi commented on #4811
Hi Sushil,

I’m not sure where to ping you. Can you share me some link of the topgear community slack

Thanks & Regards,
Swathi Tanuboddi
Project Engineer | MAS-OEA-AUTOMATION
M: +91 6302806879/ 9491227240
Wipro Limited
Hyderabad, India
CEP-ORACLE - Automation – Virtual Demo’s – 7th Sep to 22nd Sep,2020

From: Sushil Shinde <notifications@github.com>
Sent: Tuesday, September 15, 2020 6:20 PM
To: t

[2020-09-15 13:06] luizrrodrigues commented on #4794
@urwithat Can you help in this one?
https://github.com/topcoder-platform/community-app/issues/4794#issuecomment-684296507

[2020-09-15 13:13] SathyaJayabal commented on #2069
@luizrrodrigues , a blank page is displayed for the above user
https://www.topcoder.com/members/wleite/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH&tab=challenges

<img width="1440" alt="Screenshot 2020-09-15 at 6 42 57 PM" src="https://user-images.githubusercontent.com/58783823/93214838-4ba36f80-f783-11ea-91bb-b7287f35a13c.png">

[2020-09-15 13:14] SathyaJayabal opened #4926 "[$50] Blank page displayed on challenges tab of MM stats history page for some users"
https://github.com/topcoder-platform/community-app/issues/2069#issuecomment-692705342

[2020-09-15 13:20] luizrrodrigues commented on #4913
@Oanh-and-only-Oanh can you share which OS and browser was tested?

@SathyaJayabal @lakshmiathreya Please let me know if are you able to reproduce this one.

[2020-09-15 13:43] luizrrodrigues commented on #2069
@SathyaJayabal I'll check (Weird I was testing this user when reviewing the fix)

[2020-09-15 14:29] SathyaJayabal commented on #2069
@luizrrodrigues , tracking it #4926

[2020-09-15 14:32] SathyaJayabal commented on #4913
@luizrrodrigues , i dont see a  significant lag. Please see the attached video.
[tracks.mov.zip](https://github.com/topcoder-platform/community-app/files/5225614/tracks.mov.zip)

[2020-09-15 15:22] Oanh-and-only-Oanh commented on #4527
Regarding #4527 (comment), correct that for the profile page, these will all "Submitter" roles so.

[2020-09-15 15:23] Oanh-and-only-Oanh commented on #4606
@mtwomey @jswheeler, can we switch this domain back on again?

[2020-09-15 15:28] Oanh-and-only-Oanh opened #4927 "Login button not working for Zurich"
Current behavior:
The log in button for zurich.topcoder.com does not work for IE. When you click on it, no action occurs.
Kindly check and help resolve the issue. It was not observed earlier.

[2020-09-15 15:29] Oanh-and-only-Oanh commented on #4927
Submit in 8 hours and PR to:

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

run npm run test before PR

[2020-09-15 15:30] Oanh-and-only-Oanh commented on #4927
In dev home page, click in "Zurich community" link

[2020-09-15 15:33] Oanh-and-only-Oanh commented on #4112
I don't want to close this yet until new listing performance is upgraded and this issue is fixed along with it.

[2020-09-15 15:33] sushilshinde opened #4928 "navigation-component as a package"
Issues - https://github.com/topcoder-platform/navigation-component/issues/183

Currently, it is used in community app from the branch

[code]

but it should be used

[code]

[2020-09-15 15:35] Oanh-and-only-Oanh commented on #4913
I'm seeing the lag when using macOS majove version 10.14.6 in Chrome

[2020-09-15 15:53] mtwomey commented on #4606
Need a working destination to point it to. It _was_ pointing to `tc1-rss-service.herokuapp.com`. This no longer appear to be a valid destination. Who owns this feed app?

[2020-09-15 15:57] Oanh-and-only-Oanh opened #4929 "[$25] The spacer shouldn't be right up against the number - needs spacing"
Issue:
there is a spacing issue.
![image](https://user-images.githubusercontent.com/47536078/93234798-9a281e00-f731-11ea-99c7-95d72fe3a3ed.png)

Expected behavior:
The spacer shouldn't be right up against the number - needs spacing

[2020-09-15 15:59] Oanh-and-only-Oanh commented on #4929
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to:

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

run npm run test before PR

[2020-09-15 16:08] sushilshinde commented on #4657
check console call is passing new uuid to v3 members API with a terrible number of groups.

https://api.topcoder.com/v3/members/standlove/stats?groupIds=b7f7c0f8-8ee8-409e-9e5c-33404983b635,ad3a3938-10aa-4103-b8e1-8b16af1bf47c,92bd6f2e-7b51-4f8d-ab1c-708a6b15bad2,053eb23f-d32d-490b-8882-7390306ed5c1,6a2b5e6e-12b3-43a4-9a57-4a014f47f546,c9ff85ce-58e4-41f8-8981-45b1b9239fa4,2dc2e635-9149-41ff-a9e9-0

[2020-09-15 16:13] LieutenantRoger commented on #4488
@Oanh-and-only-Oanh   Correct, the issue will be resolved with performance fixes

[2020-09-15 16:21] cagdas001 commented on #4929
PR: #4930

[2020-09-15 16:27] cagdas001 commented on #4527
@Oanh-and-only-Oanh I first thought the same since this is the profile page and not the dashboard, but as @luizrrodrigues has shown in his comment https://github.com/topcoder-platform/community-app/issues/4527#issuecomment-689139954, the beta/V4 shows all roles. So are you sure about this decision?

[2020-09-15 16:53] cagdas001 commented on #4927
@Oanh-and-only-Oanh I think community-app doesn't support IE at all

@luizrrodrigues @sushilshinde can you please confirm?

[2020-09-15 16:58] Oanh-and-only-Oanh commented on #4927
@cagdas001 we do. It's not a primary browser but we do need to support IE.

[2020-09-15 17:06] cagdas001 commented on #4927
I meant, it currently doesn't support as far as I see. Do you mean we "should" support? Or it's currently supporting?

[2020-09-15 17:14] ThomasKranitsas commented on #4784
The endpoint is now public. Please try again @luizrrodrigues

[2020-09-15 18:01] rootelement commented on #4784
Just to clarify, the endpoint is public _in dev_. I will schedule a prod push soon.

[2020-09-15 18:42] ajaysaini9782 opened #4931 "Wipro users are not automatically added in Wipro-All group during new top gear account creation"
**Describe the bug**
During new top gear account creation, members are not automatically added in Wipro-All group.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new top gear account using Wipro SSO id and email id.
2. will not automatically add in Wipro-All group

**Expected behavior**
During new top gear account creation, members should be automatically added in Wipro-All group.

*

[2020-09-15 19:47] nithyaasworld opened #4932 "Challenge details page -> Registrants tab: Some of the handles are repeated twice"
**Describe the bug**
Some of the registrants are shown twice
**To Reproduce**
Steps to reproduce the behavior:
1. Go to challenge details page (ex: https://www.topcoder.com/challenges/6d33bded-9b76-44ce-b478-994dd2f9b26b?tab=registrants )
2. Check that some of the registrants handles are repeated twice and thus showing an increased total count

**Expected behavior**
Registrants list should be uniq

[2020-09-15 19:53] nithyaasworld commented on #4932
![image](https://user-images.githubusercontent.com/5114190/93257948-44985380-f7bb-11ea-96c7-968f8ded8b4b.png)

[2020-09-15 20:01] Oanh-and-only-Oanh commented on #4932
@luizrrodrigues @SathyaJayabal, is this a duplicate of another ticket?

[2020-09-15 20:03] Oanh-and-only-Oanh commented on #4931
@lakshmiathreya, is this an accounts app or groups ID issue?

[2020-09-16 01:39] tmalbonph commented on #4920
@Oanh-and-only-Oanh

Case 2 - similar case happening on another challenge like the following: https://www.topcoder.com/challenges/3e6e0f7d-6a62-4fb3-ba6d-27b0091f12bf?tab=registrants

Here, at around **Sep 16, 2020 08:03**, I initially registered on it; so it means, I am the only registrants, refer to **case2_01.png** below.

**case2_01.png**
![case2_01](https://user-images.githubusercontent.com/3

[2020-09-16 02:32] tmalbonph commented on #4920
@Oanh-and-only-Oanh

Case 3 - similar case happening on another challenge like the following: https://www.topcoder.com/challenges/5b8711ba-9f56-4c0c-9a00-97f7d8f0f563?tab=registrants

Here, at around **Sep 16, 2020 08:34**, I initially registered on it; so it means, I am the only registrants, refer to **case3_01.png** below.

**case3_01.png**
![case3_01](https://user-images.githubusercontent.com/3

[2020-09-16 03:22] SathyaJayabal commented on #4932
@Oanh-and-only-Oanh , yes this is a duplicate
https://github.com/topcoder-platform/challenge-api/issues/265

[2020-09-16 05:57] kkartunov commented on #4916
@hokienick chatbot window/button overlaps support window/button
![Screenshot from 2020-09-16 08-23-43](https://user-images.githubusercontent.com/5585002/93297768-a0360180-f7fa-11ea-84dc-9d0ae832b760.png)

[2020-09-16 06:29] lakshmiathreya commented on #4927
cc @sandhiyakavi @SathyaJayabal - pls verify on IE and update ...

[2020-09-16 06:31] sandhiyakavi commented on #4927
Verified

[#4927_pass.zip](https://github.com/topcoder-platform/community-app/files/5230094/4927_pass.zip)

[2020-09-16 07:36] cagdas001 commented on #4927
@sandhiyakavi  Isn't this browser Edge?

[2020-09-16 08:22] sandhiyakavi commented on #4927
@cagdas001 Please check the recent edited comment.

[2020-09-16 08:25] arnandosimanjuntak commented on #4787
@SathyaJayabal It works! Thank you guys for fixed this issue

[2020-09-16 09:20] cagdas001 commented on #4927
OK, I see. In local environment, I can't even open the Zurich community (other pages as well). That's why I have doubts about the current IE support of the community-app. Are other functionalities working properly on IE?

[2020-09-16 10:17] sandhiyakavi opened #4934 "Challenge listings Page: Getting Error message for some challenges/tasks in Open for review section."
Description:
Getting Error message for some challenges/tasks in Open for review section in challenge listings page.

Steps:
1. Go to Challenge listings page
2. Click the Open for Review section.
3. Click the challenge/tasks displayed in the Open for review challenge listings

![image](https://user-images.githubusercontent.com/55895538/93324609-1d8c6100-f851-11ea-8d3d-30f3a029bb24.png)

[2020-09-16 15:44] crazyk07 commented on #4920
Contest https://www.topcoder.com/challenges/30142117 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-16 15:44] Oanh-and-only-Oanh commented on #4920
Submit in 8 hours and PR to:

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

run npm run test before PR

[2020-09-16 15:46] crazyk07 commented on #4920
Contest https://www.topcoder.com/challenges/30142117 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-16 15:48] sachin-maheshwari opened #4937 "Need to test this PR for "New Auth Flow""
PR - https://github.com/topcoder-platform/community-app/pull/4935

Expecting following functionalities need to be tested -

- Login
- Logout
- Refresh Token
- Zurich
- Topgear

[2020-09-16 15:50] Oanh-and-only-Oanh commented on #4937
@lakshmiathreya @SathyaJayabal @sandhiyakavi FYI

[2020-09-16 15:51] sachin-maheshwari commented on #4937
@luizrrodrigues  please discuss with @sushilshinde. I already discussed my plan with him.

[2020-09-16 15:54] sachin-maheshwari commented on #4937
<img width="1453" alt="Screenshot 2020-09-16 at 9 23 17 PM" src="https://user-images.githubusercontent.com/6467888/93361794-e0c96580-f862-11ea-9a0e-15bba535529f.png">
I think existing issue, Topgear - Return url is null.

[2020-09-16 15:58] sachin-maheshwari commented on #4937
<img width="1161" alt="Screenshot 2020-09-16 at 9 26 52 PM" src="https://user-images.githubusercontent.com/6467888/93362243-63eabb80-f863-11ea-882d-b26d6338e3d1.png">
Know issue - I didn't find this forbidden page to change the link url "Register or Login here" . Same for Topgear.

[2020-09-16 16:02] Oanh-and-only-Oanh commented on #4937
Known issue- https://github.com/topcoder-platform/community-app/issues/4931. Need to resolve as well as part of the new flow.

[2020-09-16 16:04] Oanh-and-only-Oanh commented on #4707
@urwithat, need your help here please.

[2020-09-16 16:07] Oanh-and-only-Oanh commented on #4256
@narekcat, please provide update asap.

[2020-09-16 16:08] Oanh-and-only-Oanh commented on #4913
@PrakashDurlabhji, any updates?

[2020-09-16 16:08] narekcat commented on #4256
@Oanh-and-only-Oanh I'll finish in an hour.

[2020-09-16 16:09] Oanh-and-only-Oanh commented on #4875
@cagdas001, please provide status update.

[2020-09-16 16:14] Oanh-and-only-Oanh commented on #4932
reopening so we can track this ticket on the Front-end

[2020-09-16 16:21] narekcat commented on #4256
@Oanh-and-only-Oanh @SathyaJayabal I have fixed this issue, see pull request https://github.com/topcoder-platform/community-app/pull/4938.

[2020-09-16 16:22] rootelement commented on #4527
After talking with Lazy, this information is an aggregate across systems, not system calls. None of the core business APIs will have all this information in one call. Also, we cannot open up the submissions api to token-less calls, because that houses customer information and an update of a query the wrong way could expose data publicly that we don't want.

That being said, this page needs to be p

[2020-09-16 16:31] Oanh-and-only-Oanh commented on #4527
@cagdas001 @luizrrodrigues, checked with internal team and we want to show all "Roles" currently seen in beta/V4 and not just "Submitter" roles.

[2020-09-16 16:36] luizrrodrigues commented on #4934
@Oanh-and-only-Oanh This issue coming from some private tasks (or payment tickets) showing in Open to Review list:

![image](https://user-images.githubusercontent.com/7029641/93366174-27966b80-f821-11ea-9826-2a55dece2d64.png)

This coming from endpoint:
https://api.topcoder.com/v3/reviewOpportunities?limit=1000&offset=0

[code]

[2020-09-16 16:42] cagdas001 commented on #4527
@rootelement if we'll move forward with your proposal, we'll need a new endpoint for collecting submissions with M2M token:

And, the other (and major) issue is resource-api. We need to make one request for each challenge to get role details. This will cause a situation like https://github.com/topcoder-platform/community-app/issues/4714#issuecomment-675240370, will end up with hundreds of requests

[2020-09-16 16:45] cagdas001 commented on #4875
any update? @luizrrodrigues @urwithat

[2020-09-16 16:47] rootelement commented on #4527
You can with `v5/resources/:memberId/challenges` Have you tried that?

[2020-09-16 16:47] rootelement commented on #4527
Not sure why you say you need a new endpoint for submissions using an m2m, that's how the submissions api works. Please check the swagger.

[2020-09-16 16:49] cagdas001 commented on #4527
Anonymous users also should be able to view the page. So getting all these info without token should be possible

[2020-09-16 16:54] crazyk07 commented on #4657
Contest https://www.topcoder.com/challenges/30141724 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-16 17:09] Oanh-and-only-Oanh commented on #4858
@skyhit @luizrrodrigues, is this in DEV for QA?

[2020-09-16 17:17] luizrrodrigues commented on #4858
I'll deploy today

[2020-09-16 17:18] luizrrodrigues commented on #4858
Updated PR: https://github.com/topcoder-platform/community-app/pull/4933

[2020-09-16 17:24] Oanh-and-only-Oanh opened #4939 "Add return URL to account activation email link"
**Current behavior:**
When a user creates a TC account, the account activation email link is static which mean all new users to directed to https://api.topcoder.com/pub/activation.html?code=2GN2IW81KTM&retUrl=https://www.topcoder.com/community/practice

See screenshot of activation email with status URL
![image](https://user-images.githubusercontent.com/47536078/93371726-aa123180-f807-11ea-8215-b2

[2020-09-16 17:26] cagdas001 commented on #4527
Yes I know this endpoint. It returns only challengeIds we need roles

[2020-09-16 18:35] rootelement commented on #4527
For level-set context, here is the page in v4 community app (since the link has changed since this was posted):
https://beta-community-app.topcoder.com/members/Standlove/details/?track=DEVELOP&subTrack=CODE&tab=challenges

[2020-09-16 19:07] luizrrodrigues commented on #4858
@skyhit Solution using `legacyId` but API return `legacySubmissionId`

![image](https://user-images.githubusercontent.com/7029641/93380821-228fe700-f836-11ea-9a20-764dbbe08e78.png)

cc @rashmi73

[2020-09-16 19:24] Oanh-and-only-Oanh commented on #4927
@cagdas001, I'll let back to you about decision tomorrow.

[2020-09-16 19:25] Oanh-and-only-Oanh opened #4940 "V1.0 Auto scoring/Leaderboard for SkillBuilders (without architecture change)"
****Current Behavior:**
1. Go to: any "Skill Builder" Challenge such as https://www.topcoder.com/challenges/e77074c0-774a-4e69-b69f-2d54ecf48260
2. Register and submit to challenge
3. You do not get feedback or score on your submission until challenge review phase is closed

**Expected Behavior:****
1. Go to: any "Skill Builder" Challenge such as https://www.topcoder.com/challenges/e77074c0-774a-4

[2020-09-16 21:23] gets0ul commented on #4920
@tmalbonph For all those 3 challenges you mentioned above, how do you do the registration process? Was it the normal way, via register button in challenge details page?

[2020-09-16 21:26] tmalbonph commented on #4920
@gets0ul I register the normal way - using click on the Register button when is it active (color is blue).

[2020-09-16 22:24] gets0ul commented on #4920
@tmalbonph @Oanh-and-only-Oanh

All the registration dates come from the backend API,
so this is a backend issue rather than community-app one, as what community-app does is only formatting those dates in the local user's time zone (for display purpose).

I assume all dates are saved in UTC.

**case 1 - Profile Tags API - Target Datetime & Dataset Generator Script**
https://www.topcoder.com/challe

[2020-09-16 22:32] tmalbonph commented on #4920
@gets0ul These error happen after the V5 api. So the bug must be in there.

[2020-09-16 22:39] luizrrodrigues commented on #4937
@sushilshinde @sachin-maheshwari This is Ready for QA in QA env, right?

[2020-09-16 22:41] luizrrodrigues commented on #4875
@Oanh-and-only-Oanh We need help with **member-aip** here. https://github.com/topcoder-platform/community-app/issues/4875#issuecomment-691882176

[2020-09-16 23:25] luizrrodrigues commented on #4784
@ThomasKranitsas @rootelement Looks like deploy to dev fails:

https://app.circleci.com/pipelines/github/topcoder-platform/terms-service/114/workflows/99c030e2-95f9-463f-a1df-1dd3475388c2

[2020-09-17 00:19] rootelement commented on #4784
Did you try it? Sometimes that happens if the health check fails. See if the api works, i'll look into why that failed

[2020-09-17 00:22] luizrrodrigues commented on #4784
Yep, received `No token provided`

[2020-09-17 01:34] sushilshinde commented on #4937
Yes.

[2020-09-17 01:43] luizrrodrigues commented on #4256
@narekcat Checkpoints counts looks good, but Submissions still incorrect.

[2020-09-17 04:12] sandhiyakavi commented on #4890
In Sort by dropdown instead of Latest Added Ascending,it is displayed as Latest Added Descending.

![image](https://user-images.githubusercontent.com/55895538/93418438-6130aa80-f8e5-11ea-89ac-1aaee20a71e2.png)

@kkartunov  Needed clarification for the below

1.  In Marvel app design, I am able to view the information about gig work and FAQ which is not available in the actual implementation.Are th

[2020-09-17 04:44] sandhiyakavi commented on #4921
@kkartunov Needed clarification for below.

I am able to subscribe and subscribed success message is shown.But do we get any mail regarding that?Also if I enter the same Email ID multiple times,it is not showing any error and success message is getting displayed.Is it expected behavior?

[subscribe_gig weekly updated.zip](https://github.com/topcoder-platform/community-app/files/5236349/subscribe_g

[2020-09-17 05:00] sandhiyakavi commented on #4294
Verified on staging(Develop).Working as Expected

![image](https://user-images.githubusercontent.com/55895538/93422021-d30cf200-f8ed-11ea-8ca6-22525484e5e5.png)
![image](https://user-images.githubusercontent.com/55895538/93422038-e029e100-f8ed-11ea-9eeb-80f8e57e08b4.png)
![image](https://user-images.githubusercontent.com/55895538/93422081-fc2d8280-f8ed-11ea-9e1f-f6f0c6f513c6.png)

[2020-09-17 05:16] sandhiyakavi commented on #4734
Verified .Working as expected.

[Filter_challenge_type.zip](https://github.com/topcoder-platform/community-app/files/5236491/Filter_challenge_type.zip)
[Filter_F2F_type.zip](https://github.com/topcoder-platform/community-app/files/5236492/Filter_F2F_type.zip)
[Filter_task_type.zip](https://github.com/topcoder-platform/community-app/files/5236493/Filter_task_type.zip)

[2020-09-17 05:27] sandhiyakavi commented on #4929
Verified.Working as Expected.

![image](https://user-images.githubusercontent.com/55895538/93423679-7d3a4900-f8f1-11ea-859b-fb24ce3243eb.png)

[2020-09-17 06:16] luizrrodrigues commented on #4858
@sandhiyakavi Ready For Review

[2020-09-17 06:55] sandhiyakavi commented on #4858
Verified .Working as Expected.

![image](https://user-images.githubusercontent.com/55895538/93430708-0f484e80-f8fe-11ea-86df-dfb8692dfdd6.png)
![image](https://user-images.githubusercontent.com/55895538/93430783-28e99600-f8fe-11ea-91b0-cfe38d41e094.png)

[2020-09-17 07:04] urwithat commented on #4707
Hi @luizrrodrigues, @cagdas001 -

While designing the member v5 APIs, we have depreciated some of the endpoints in the process, and lookup has been depreciated.
We would encourage using the lookups microservice which follows v5 standards.
The URL - https://api.topcoder.com/v5/lookups/countries
Repo - https://github.com/topcoder-platform/lookups-api/blob/develop/docs/swagger.yaml

@Oanh-and-only-Oa

[2020-09-17 07:29] urwithat commented on #4875
@cagdas001, @luizrrodrigues  -

Would not suggest using "https://api.topcoder.com/v5/members/tourist/stats/history" as an alternative to "https://api.topcoder.com/v4/members/tourist/srms/?filter=status%3Dpast%26isRatedForSRM%3Dtrue&limit=36&offset=0"
The purpose and meaning of both APIs are divergent.

@Oanh-and-only-Oanh - I'm not sure of an alternative API for this, will enquire and get back.

[2020-09-17 07:44] sandhiyakavi commented on #4802
1. The Size of the Font is increased.

![image](https://user-images.githubusercontent.com/55895538/93435412-63563180-f904-11ea-9d2f-5fe9f22b4a14.png)

2. The font family differs from v4.

![image](https://user-images.githubusercontent.com/55895538/93435669-baf49d00-f904-11ea-8fa7-0b61595b3fb1.png)

3. Indentation issue exists.

![image](https://user-images.githubusercontent.com/55895538/93435883-f

[2020-09-17 07:47] narekcat commented on #4256
@luizrrodrigues I think I fixed submissions count in this issue https://github.com/topcoder-platform/community-app/issues/4681.

[2020-09-17 07:59] kkartunov commented on #4921
Yes, it is expected behavior. There **won't be** a message sent to the email that registers.
This is good to go. Thanks

[2020-09-17 08:11] kkartunov commented on #4890
@sandhiyakavi @SathyaJayabal
Please focus on the ticket scope, thank You!
1. We decided to remove that section. The design here is outdated. It is okay to be without as it is currently is.
2. Yes, it is needed. When you type it suggests options to choose from. You need to click on the option to trigger the action. We are good with that.
3. Yes
4. This could be a bug(I can't reproduce it tho') that

[2020-09-17 08:29] sandhiyakavi commented on #4294
Verified on Staging.

![image](https://user-images.githubusercontent.com/55895538/93443099-29d4f480-f90b-11ea-9729-2c3120298fbd.png)
![image](https://user-images.githubusercontent.com/55895538/93443293-378a7a00-f90b-11ea-993a-4fd56fb962dd.png)
![image](https://user-images.githubusercontent.com/55895538/93443559-4a04b380-f90b-11ea-9c23-5c17a71d5d5f.png)

[2020-09-17 08:34] sandhiyakavi commented on #4858
Verified on Staging.

![image](https://user-images.githubusercontent.com/55895538/93445071-d7e09e80-f90b-11ea-9953-760732eb298d.png)
![image](https://user-images.githubusercontent.com/55895538/93445258-eaf36e80-f90b-11ea-938a-3e03e331152c.png)

[2020-09-17 08:42] sandhiyakavi commented on #4929
Verified on staging.

![image](https://user-images.githubusercontent.com/55895538/93447153-0f9c1600-f90d-11ea-9e8a-f3a27e44acc8.png)

[2020-09-17 08:51] sandhiyakavi commented on #4734
Verified on staging.

[Filter_Challenge type.zip](https://github.com/topcoder-platform/community-app/files/5237673/Filter_Challenge.type.zip)
[Filter_F2F type.zip](https://github.com/topcoder-platform/community-app/files/5237674/Filter_F2F.type.zip)
[Filter_task type.zip](https://github.com/topcoder-platform/community-app/files/5237677/Filter_task.type.zip)

[2020-09-17 09:56] cagdas001 commented on #4707
@urwithat OK, I'll use the new lookups API. But member-api also has an issue, it returns `null` for `homeCountryCode` http://api.topcoder.com/v5/members/abhi_393

[2020-09-17 11:02] SathyaJayabal commented on #4921
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-09-17 at 4 31 42 PM" src="https://user-images.githubusercontent.com/58783823/93462048-4c630f80-f903-11ea-8a64-59d9530d4175.png">

[2020-09-17 11:07] SathyaJayabal commented on #4890
verified on staging (develop)
@kkartunov , there is no way to verify whether the sorting works as the created and updated information is not displayed.
<img width="1440" alt="Screenshot 2020-09-17 at 4 37 21 PM" src="https://user-images.githubusercontent.com/58783823/93462519-15412e00-f904-11ea-8f78-b32c1c4b5c1e.png">

[2020-09-17 11:17] ThomasKranitsas commented on #4784
@luizrrodrigues I just triggered the deployment again. Will keep you posted

[2020-09-17 11:25] ThomasKranitsas commented on #4784
@rootelement the deployment failed again. Can you please look into this?

[2020-09-17 12:21] harshitmehta15 opened #4947 "Marathon Leaderboard displays Max Rating(SRM, MM) should display MM Rating"
The user rating displayed on MM leaderboard is max(SRMrating, MMrating). Should be MM rating.

[2020-09-17 12:22] harshitmehta15 commented on #4947
@Oanh-and-only-Oanh
I think this got changed after v5 updates, can we revert this back?

[2020-09-17 12:34] SathyaJayabal commented on #4929
verified on prod
<img width="1440" alt="Screenshot 2020-09-17 at 6 03 57 PM" src="https://user-images.githubusercontent.com/58783823/93470870-2ee87280-f910-11ea-992e-de8d666b1606.png">

[2020-09-17 12:40] SathyaJayabal commented on #4858
verified on prod
<img width="1440" alt="Screenshot 2020-09-17 at 6 09 21 PM" src="https://user-images.githubusercontent.com/58783823/93471430-f7c69100-f910-11ea-8f3f-358b5ff03449.png">

[2020-09-17 12:40] cagdas001 commented on #4929
@SathyaJayabal There is no payment task for this issue

[2020-09-17 12:41] SathyaJayabal commented on #4929
reopening for payment processing

[2020-09-17 12:45] SathyaJayabal commented on #4734
verified on prod
[type filter.mov.zip](https://github.com/topcoder-platform/community-app/files/5239127/type.filter.mov.zip)

[2020-09-17 12:48] SathyaJayabal commented on #4294
verified on prod
<img width="1440" alt="Screenshot 2020-09-17 at 6 16 49 PM" src="https://user-images.githubusercontent.com/58783823/93472209-fe093d00-f911-11ea-9d45-126d15b001c2.png">
<img width="1440" alt="Screenshot 2020-09-17 at 6 17 15 PM" src="https://user-images.githubusercontent.com/58783823/93472258-0d888600-f912-11ea-8d38-ff0cbb5fe5d2.png">
<img width="1440" alt="Screenshot 2020-09-17 at

[2020-09-17 12:50] crazyk07 commented on #4734
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-17 12:51] SathyaJayabal commented on #4921
verified on prod
<img width="1440" alt="Screenshot 2020-09-17 at 6 20 20 PM" src="https://user-images.githubusercontent.com/58783823/93472642-92739f80-f912-11ea-94b7-a17cc23878a7.png">

[2020-09-17 12:51] #4921 closed

[2020-09-17 12:53] crazyk07 commented on #4294
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-17 12:54] SathyaJayabal commented on #4929
@luizrrodrigues @sushilshinde , the TCX challenge was not created for this ticket. Can you please take a look?

[2020-09-17 12:58] SathyaJayabal commented on #4890
verified on prod
<img width="1440" alt="Screenshot 2020-09-17 at 6 27 37 PM" src="https://user-images.githubusercontent.com/58783823/93473376-905e1080-f913-11ea-92df-44e556349dc4.png">

[2020-09-17 12:58] #4890 closed

[2020-09-17 13:00] SathyaJayabal commented on #4734
reopening for payment processing

[2020-09-17 13:00] crazyk07 commented on #4734
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-17 14:47] mtwomey commented on #4875
This should live in v5-challenge-api. I don't think it's there at present though, so we may need to stick with the older APIs until this part gets figured out. @rootelement please correct me if I've mis-stated this.

[2020-09-17 14:51] rootelement commented on #4875
@mtwomey is correct. I'll have to find what ES index houses this information and bring it over to v5.

[2020-09-17 15:13] Oanh-and-only-Oanh commented on #4875
So we should use "https://api.topcoder.com/v4/members/tourist/srms/?filter=status%3Dpast%26isRatedForSRM%3Dtrue&limit=36&offset=0" until @rootelement can house in v5?
@

[2020-09-17 15:15] #4858 closed

[2020-09-17 15:23] Oanh-and-only-Oanh commented on #4875
@rootelement, how long do you think it'll take to bring it over to v5? I'm trying to understand if it's worth waiting for v5 if it's quick or if @cagdas001 should move forward with resolving it in the interim with the older apis.

[2020-09-17 15:25] crazyk07 commented on #4947
Contest https://www.topcoder.com/challenges/30142336 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-17 15:26] Oanh-and-only-Oanh commented on #4947
Submit in 8 hours and PR to:

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

run npm run test before PR

[2020-09-17 15:30] crazyk07 commented on #4947
Contest https://www.topcoder.com/challenges/30142336 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-17 15:33] Oanh-and-only-Oanh commented on #4947
@cagdas001, please resolve this ticket first https://github.com/topcoder-platform/community-app/issues/4875. The other is high priority.

[2020-09-17 15:39] cagdas001 commented on #4947
@Oanh-and-only-Oanh its waiting for API Team

[2020-09-17 15:43] narekcat commented on #4256
@luizrrodrigues Any update on this issue ?

[2020-09-17 15:51] narekcat commented on #4657
@Oanh-and-only-Oanh @luizrrodrigues I have tested this issue in development environment and it's working as expected, see screenshots:
![image](https://user-images.githubusercontent.com/11549629/93495413-25b2d200-f91f-11ea-9c2c-c35e1bb7edca.png)
![image](https://user-images.githubusercontent.com/11549629/93495425-28adc280-f91f-11ea-8a65-0bcf83b1566e.png)

Also there aren't errors in console.

[2020-09-17 15:53] crazyk07 commented on #4294
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-17 15:54] crazyk07 commented on #4734
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-17 15:56] Oanh-and-only-Oanh commented on #4657
I'm seeing this issue in PROD. We were try in a different environment either beta or testing? @luizrrodrigues @sandhiyakavi?

[2020-09-17 15:57] narekcat commented on #4657
@Oanh-and-only-Oanh Can you add my user to topgear community? My userhandle is Narekvar90.

[2020-09-17 16:14] cagdas001 commented on #4947
@Oanh-and-only-Oanh which branch I'll target for this one? Milestone is `Release by 10/8/2020` but there is no branch for it. I'm targeting `milestone-20200924` ?

[2020-09-17 16:19] Oanh-and-only-Oanh commented on #4947
Yes target https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

[2020-09-17 17:43] Oanh-and-only-Oanh opened #4948 "[$40] Hide Delete Submission button for Design submissions"
**Current Behavior:**

Members unable to delete previous submissions.  Nothing was deleted after clicking the Delete Submission button.
![image](https://user-images.githubusercontent.com/47536078/93507550-b616f580-f8d2-11ea-8127-5f5655de5114.png)

**Expected Behavior:**
This is a non-working UI so we want to hide that Delete Submission button from the front-end so it doesn't confuse members. The b

[2020-09-17 17:45] crazyk07 commented on #4948
Contest https://www.topcoder.com/challenges/30142347 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-17 17:45] crazyk07 commented on #4948
Contest https://www.topcoder.com/challenges/30142347 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-17 17:54] Oanh-and-only-Oanh opened #4949 "Challenges tab broken for all tracks"
**Current Behavior:**

Challenges tab is broken for all tracks.
1. Go to https://www.topcoder.com/members/ShindouHikaru/details/?track=DEVELOP&subTrack=FIRST_2_FINISH&tab=challenges
2. See message that there are no successful challenges found.
![image](https://user-images.githubusercontent.com/47536078/93509212-46096f00-f8d4-11ea-84fe-25cae06462be.png)

**Expected Behavior:**
Clicking on the Chall

[2020-09-17 17:57] crazyk07 commented on #4926
Contest https://www.topcoder.com/challenges/30142353 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-17 17:57] crazyk07 commented on #4926
Contest https://www.topcoder.com/challenges/30142353 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-17 17:58] Oanh-and-only-Oanh commented on #4949
NOTE: MM past challenges is out of scope as that is a separate issue tracked here https://github.com/topcoder-platform/community-app/issues/4926 and https://github.com/topcoder-platform/community-app/issues/4112

[2020-09-17 17:58] crazyk07 commented on #4949
Contest https://www.topcoder.com/challenges/30142354 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-17 18:00] crazyk07 commented on #4949
Contest https://www.topcoder.com/challenges/30142354 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-17 18:07] rootelement commented on #4594
@sushilshinde @Oanh-and-only-Oanh Is this waiting on anything from API side?

[2020-09-17 18:13] Oanh-and-only-Oanh commented on #4594
@LieutenantRoger anything you need from API for this ticket?

[2020-09-17 18:24] Oanh-and-only-Oanh opened #4950 "Ad space on Challenge Listings page"

[2020-09-17 18:59] rootelement commented on #4784
Deploy succeeded. Please test @luizrrodrigues

[2020-09-17 19:00] panjikharisma commented on #4076
Hi @Oanh-and-only-Oanh & @SathyaJayabal , here are some updates on this issue.

I've tracked 11 challenges through out Sep 11-Sep 17 2020 GMT+7, once a day at a random time. Here are the screenshots for each challenge, both on the Challenge List & Challenge Detail:
https://drive.google.com/drive/folders/11f49Av9D2l1euqNe-Euh6b046TXDj7Tm?usp=sharing

Overall I didn't see any significant fluctuation

[2020-09-17 19:04] Oanh-and-only-Oanh commented on #4927
@cagdas001, so you should be able to navigate to zurich community. @SathyaJayabal, can you help? I don't have IE to test myself.

[2020-09-17 19:05] panjikharisma commented on #4076
P.s.: You may use/save the screenshots also for future use, I just do an analysis at a glance just now :)

[2020-09-17 19:29] Oanh-and-only-Oanh commented on #4802
@fikzzzy, please see feedback from @SathyaJayabal above

[2020-09-17 19:42] cagdas001 commented on #4947
It basically shows whatever it gets from resources-api in the `rating` field.

For e.g. https://api.topcoder.com/v5/resources?challengeId=457fe241-0687-4f60-a379-a3979a0d7210&roleId=732339e7-8e30-49d7-9198-cccf9451e221 You can take the member [Kriii](https://www.topcoder.com/members/kriii) for reference, as the issue exists & reproducible with this member.

resources-api gets the `rating` directly

[2020-09-17 19:56] Oanh-and-only-Oanh commented on #3122
@SathyaJayabal, can you verify if this issue still exists? otherwise, please close.

[2020-09-17 20:03] cagdas001 commented on #4947
Looks like `/members/<handle>/stats` returns all ratings. @rootelement If you get ratings from this endpoint you can access all

[2020-09-17 20:06] cagdas001 commented on #4947
Ops. sorry for confusion. resource-api doesn't call member-api. directly queries from db https://github.com/topcoder-platform/resources-api/blob/4edee0c7e666439e99e984c551f3753c447a9e0e/src/common/helper.js#L154

[2020-09-17 20:55] cagdas001 commented on #4927
On IE, I'm able to access the Zurich community with https://staging-community-app.topcoder.com/, but unable to do so on local environment (tried with both dev & prod build). I can't open even the challenge listing page on local environment (with IE). All work well with Chrome

See the screencast: https://streamable.com/io3i5x (this is prod build but it's same with dev build too)

[2020-09-17 20:57] Oanh-and-only-Oanh commented on #4947
@cagdas001, member registration tab shows MAX Rating out of all the rating member has and Submission tab shows MM Rating. They should not how different ratings. Both tabs should show MM Rating.

[2020-09-17 21:04] Oanh-and-only-Oanh commented on #4927
@lakshmiathreya, we need your help here. Zurich's primary browser is IE so we need to update Community App so it is supported by IE. Key functionalities include: view and search challenges on listings page, view challenge details, register for challenge, submit challenge, access to challenge forums. What do we need to do? Do we need to update our dev environment to support IE?

[2020-09-17 21:05] gets0ul commented on #4920
Fix needs to be made in https://github.com/topcoder-platform/legacy-challenge-migration-script as this is likely to happen when migrating resources of challenge from v4/Informix to v5 Dynamo/ES

https://github.com/topcoder-platform/legacy-challenge-migration-script/blob/bcb299a9725ac3600656da6195cdd04497b6a7d8/src/services/resourceService.js#L120-L145

[code]

Judging from v4 API data, it seems th

[2020-09-17 21:05] Oanh-and-only-Oanh opened #4951 "Update submission confirmation email with new copy to include Gig work"

[2020-09-17 21:09] cagdas001 commented on #4947
@Oanh-and-only-Oanh on my side, submissions tab also show wrong rating.

| Profile | Submissions Tab |
| ---- | ---- |
| ![chrome_2020-09-18_00-03-55](https://user-images.githubusercontent.com/28513447/93528236-b3ec7f80-f942-11ea-8a6b-a76cc9d839bd.png) | ![chrome_2020-09-18_00-04-48](https://user-images.githubusercontent.com/28513447/93528272-c1a20500-f942-11ea-8621-7a3c30949fc7.png) |

The issue

[2020-09-17 21:12] cagdas001 commented on #4927
If the decision is to support IE, we'll probably end up adding some polyfills, it needs investigation & comprehensive testing though

[2020-09-17 21:46] Oanh-and-only-Oanh commented on #4947
@cagdas001 looks like MM ratings was fixed not long ago before it's now broken again. check out this closed ticket. https://github.com/topcoder-platform/community-app/issues/4730 Maybe it can help? Also @luizrrodrigues was the member who fixed it so maybe he can shed some light.

[2020-09-17 21:57] cagdas001 commented on #4947
@Oanh-and-only-Oanh This issue has been closed without fixing the wrong rating issue: https://github.com/topcoder-platform/community-app/issues/4730#issuecomment-683772452

[2020-09-17 22:05] PrakashDurlabhji commented on #4926
@SathyaJayabal @Oanh-and-only-Oanh on which branch PR to be made?

[2020-09-17 22:11] Oanh-and-only-Oanh commented on #4926
PR to:

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

run npm run test before PR

[2020-09-17 22:12] Oanh-and-only-Oanh commented on #4949
Submit in 8 hours and PR to:

https://github.com/topcoder-platform/community-app/tree/milestone-20200924
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200924

run npm run test before PR

[2020-09-18 02:31] crazyk07 commented on #4734
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-18 02:48] SathyaJayabal commented on #4850
https://github.com/topcoder-platform/challenge-api/issues/267

[2020-09-18 02:51] SathyaJayabal commented on #4932
https://github.com/topcoder-platform/challenge-api/issues/265#issuecomment-694413390

[2020-09-18 02:51] #4932 closed

[2020-09-18 03:07] SathyaJayabal commented on #3122
@Oanh-and-only-Oanh , yes it does, but this should also be fixed as part of the performance fix

[2020-09-18 03:15] tmalbonph commented on #4920
@gets0ul Just to inform you that I have unregistered with Case 2 and 3 challenges

[2020-09-18 04:15] #4294 closed

[2020-09-18 04:19] #4734 closed

[2020-09-18 04:19] crazyk07 commented on #4294
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141152<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-18 04:20] crazyk07 commented on #4734
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141160<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-18 04:22] Oanh-and-only-Oanh commented on #4929
@cagdas001, I'm going to post payment to you via a private Task for this ticket.

[2020-09-18 04:26] #4929 closed

[2020-09-18 04:32] Oanh-and-only-Oanh commented on #4707
@callmekatootie FYI

[2020-09-18 04:37] callmekatootie commented on #4707
The endpoint to get the list of countries is https://api.topcoder.com/v5/lookups/countries (and https://api.topcoder-dev.com/v5/lookups/countries for the dev equivalent).

This api supports pagination with a default value of 20 items per page. I am not sure I understand the issue completely - but you would need to call this endpoint to lookup for values...

The swagger spec for the api - https://g

[2020-09-18 04:38] callmekatootie commented on #4707
@cagdas001 Let me know what you need w.r.t looking up the countries and I can guide you on how best to call the api...

[2020-09-18 04:43] Oanh-and-only-Oanh commented on #4707
@cagdas001 @callmekatootie, when member's create an account, they have to enter their country. We show this on the FE on their profile page. See below for example:
![image](https://user-images.githubusercontent.com/47536078/93556929-a62cff00-f92e-11ea-9bbd-d5e0cf325bc9.png)
However, some member profiles are not displaying country on the FE such as https://www.topcoder.com/members/abhi_393

[2020-09-18 06:04] urwithat commented on #4794
@cagdas001 - v3 member stats should be working fine but seems the v5 stats need a fix. Figuring out the route cause will take a couple of days.

[2020-09-18 07:08] SathyaJayabal opened #4952 "Display message when login popup is blocked by pop-up blocker"
When the user clicks on login button, and the browser uses a popup blocker, the following screen is displayed. There should a message similar to "Please go to settings and disable pop-up blocker" so that the user knows what the problem is.

<img width="1440" alt="Screenshot 2020-09-18 at 12 33 43 PM" src="https://user-images.githubusercontent.com/58783823/93567032-999abc00-f9ab-11ea-9a20-f1edfac08

[2020-09-18 07:26] SathyaJayabal opened #4953 "[$50] Problem with accessing community app after token expires after 10 mins"
1. Login to community app using auth0
2. Go to any community app page (example: listings page)
3. Wait for 10 mins
4. Errors displayed on the console and user not able to use the community app site anymore.
<img width="1440" alt="Screenshot 2020-09-18 at 12 52 36 PM" src="https://user-images.githubusercontent.com/58783823/93568790-5130cd80-f9ae-11ea-915b-c220d4bc1f91.png">
<img width="1440" alt="S

[2020-09-18 07:37] SathyaJayabal opened #4954 "Login popup must be resized to display all content when error message is displayed"
Login popup must be resized to display all content when error message is displayed
<img width="1440" alt="Screenshot 2020-09-18 at 12 59 10 PM" src="https://user-images.githubusercontent.com/58783823/93569884-d2d52b00-f9af-11ea-8b2e-c4e66565ad60.png">

[2020-09-18 07:37] cagdas001 commented on #4794
@urwithat if you're talking about the issue #4947 we're getting the rating from resources-api there. The issue is that resources-api returns the maxRating instead of particular rating for the track. Neither frontend nor the resources-api calls member-api. resources-api directly gets/queries Member Stats from DB.

You can take a look at this comment: https://github.com/topcoder-platform/community-a

[2020-09-18 08:03] cagdas001 commented on #4707
@callmekatootie Okay, thanks for the info about new lookups api. After testing with different pagination parameters, looks like it returns all countries. (but supports `perPage` up to 100, we'll need to call it a few times to gather all)

@urwithat However, the member-api `/members/<handle>` endpoint needs a fix as well. It returns `null` for `homeCountryCode`, for some members For instance https: