[2019-07-25 22:01] crazyk07 commented on #3078
[500]: Challenge for the updated issue 3078 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-25 22:01] crazyk07 commented on #3078
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-25 22:01] crazyk07 commented on #3078
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-25 22:04] crazyk07 commented on #3084
[500]: Challenge for the updated issue 3084 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-25 22:04] crazyk07 commented on #3084
[500]: Challenge for the updated issue 3084 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-25 22:04] crazyk07 commented on #3084
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-25 22:04] crazyk07 commented on #3084
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-25 22:11] crazyk07 commented on #3084
Contest https://www.topcoder.com/challenges/30097721 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-25 22:11] crazyk07 commented on #3084
Contest https://www.topcoder.com/challenges/30097721 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-25 22:13] Dara-K commented on #3096
Our regular font size text is 15px so the following should happen:
1. Line height should be minimum 22px ( we now have it at 25px) so I'd say we're good.
2. Space following paragraphs should be 30px.
3. Letter spacing (tracking) for regular text should be 2
4. Word spacing: 2.5

[2019-07-25 22:15] crazyk07 commented on #2888
Contest https://www.topcoder.com/challenges/30097088 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-25 22:16] mishacucicea commented on #2888
@r0hit-gupta I would say to update only the variable values that are impacting this. Raising a bit the prize on this one, please make sure you take your time when verifying the change before the PR, so that we don't break anything.
@nkumar-topcoder Will `https://github.com/appirio-tech/accounts-app/blob/dev/app/styles/tc-ui-variables.scss`? be replaced with something else in the future?

[2019-07-25 22:18] Dara-K commented on #3092
We can add a label of 15px before textbox, white which would say "Search Members:"

[2019-07-25 22:24] Dara-K commented on #3091
Copyright menu color:  # 959596
Menu colors: # 555555

[2019-07-25 22:28] Dara-K commented on #3090
We should use the default button here with gray borders. The one with blue borders is more of a leftover from an older version of the site. Default buttons (first ones from here): https://community-app.topcoder-dev.com/examples/buttons/

[2019-07-25 22:30] mishacucicea commented on #2770
Closing as per my comments above.

[2019-07-25 22:30] #2770 closed

[2019-07-25 22:39] PrakashDurlabhji commented on #2873
@codeMinter PR updated https://github.com/topcoder-platform/community-app/pull/2933

[2019-07-25 22:39] PrakashDurlabhji commented on #2838
@codeMinter PR updated https://github.com/topcoder-platform/community-app/pull/2933

[2019-07-25 22:45] Dara-K commented on #3074
This is more about the contrast between image and text which depends on the image largely.

Here is a darker image to use for this page
![Banner accessibility](https://user-images.githubusercontent.com/25185079/61913843-0ef53300-af47-11e9-820b-bc8a0bbe4780.png)

[2019-07-25 22:51] mishacucicea commented on #2800
@r0hit-gupta The SSO links are focusable, privacy policy are already done.
You need to take care of `Forgot your password?` link, `LOG IN` button and `Join Now` Link. I can give it a prize boost.

[2019-07-25 22:52] crazyk07 commented on #2800
Contest https://www.topcoder.com/challenges/30097300 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-25 23:16] mishacucicea commented on #2896
@nahidshahin This doesn't fix the mouse-over issue. Can you try to find another solution?

[2019-07-25 23:20] nahidshahin commented on #2896
@mishacucicea I don't found any issue regarding mouse-over at description. What is the issue here?

[2019-07-25 23:33] crazyk07 commented on #2853
Contest https://www.topcoder.com/challenges/30097101 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-25 23:43] afrisalyp commented on #2909
This is related to two PR.
https://github.com/topcoder-platform/community-app/pull/2988
And
https://github.com/topcoder-platform/topcoder-react-utils/pull/42

[2019-07-25 23:54] mishacucicea commented on #2896
@nahidshahin The issue is that if you use a screen-reader (e.g. https://www.nvaccess.org/download/), it won't readout the title (https://www.mediacurrent.com/blog/dont-rely-title-attribute-accessibility-seo/).

@drasticdpk / @tosha5252  Not sure if this would make much sense in the context of a screen-reader (e.g. a visually impaired person won't hover over items). We can have a fix to show a titl

[2019-07-26 03:40] crazyk07 commented on #2877
Contest https://www.topcoder.com/challenges/30096801 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 03:49] romitgit commented on #2877
Already fixed and merged here https://github.com/appirio-tech/accounts-app/pull/237

[2019-07-26 04:12] drasticdpk commented on #2741
Operating System: Windows
Browser: Chrome
https://test-community-app.topcoder-dev.com/challenges

[2019-07-26 04:21] drasticdpk commented on #2836
Operating System: Windows
Browser: Chrome
Page : https://test-community-app.topcoder-dev.com/challenges

[2019-07-26 04:47] nkumar-topcoder commented on #2771
Node #2762 is already pushed to prod and verified, but no way this conflicts but extends page title

[2019-07-26 04:50] gets0ul commented on #2771
@nkumar-topcoder
As I said before, that fix is done in not quite proper way
as

https://github.com/appirio-tech/accounts-app/pull/263#issuecomment-515306438

Can I get a little bump on the prize for all the reasons I have stated previously?
Thanks.

[2019-07-26 05:01] drasticdpk commented on #2786
Operating System: Windows
Browser: Chrome
URL: https://test-community-app.topcoder-dev.com/challenges

[2019-07-26 05:12] drasticdpk commented on #2796
Operating System: macOS
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges/30055274

[2019-07-26 05:34] nithyaasworld opened #3122 "Some challenges are not shown when revisiting the Challenge Listing page from Challenge details page"
1. Go to https://www.topcoder.com/challenges
2. Observe the counts displayed in the right panel
3. Click on any challenge and then click back (Use the Back button present in the UI)
4. Check the count in the right panel

Actual:
Right panel count got reduced. Also on clicking the sections "On going Challenges" or "Open for registration", it shows only less number of challenges than expected.

Expe

[2019-07-26 05:36] nithyaasworld opened #3123 "Dashboard banner shows code when collapsed"
Dashboard banner shows code when collapsed

![image](https://user-images.githubusercontent.com/5114190/61928242-7934c480-af95-11e9-941c-7a8918c76ade.png)

[2019-07-26 05:41] kkartunov commented on #3097
See https://dequeuniversity.com/rules/axe/3.1/link-name

[2019-07-26 05:44] crazyk07 commented on #3097
Contest https://www.topcoder.com/challenges/30097737 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 05:44] crazyk07 commented on #3097
Contest https://www.topcoder.com/challenges/30097737 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 06:50] drasticdpk commented on #2834
Passed:
Windows:
Browser : Chrome/Edge/Firefox

[2019-07-26 06:50] #2834 closed

[2019-07-26 06:53] crazyk07 commented on #2834
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097198<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 06:59] crazyk07 commented on #3085
Contest https://www.topcoder.com/challenges/30097738 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 06:59] crazyk07 commented on #3085
Contest https://www.topcoder.com/challenges/30097738 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:00] crazyk07 commented on #3083
Contest https://www.topcoder.com/challenges/30097739 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:00] crazyk07 commented on #3083
Contest https://www.topcoder.com/challenges/30097739 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:00] anonymousjaggu commented on #2846
@codeMinter updated MR please check

[2019-07-26 07:02] kkartunov commented on #3094
**This is in other repo https://github.com/appirio-tech/accounts-app Your fix should be patch against it.**

[2019-07-26 07:07] kkartunov commented on #3099
@topcoder-platform/topcodercompetitors this is now open for pickup

[2019-07-26 07:07] crazyk07 commented on #3094
Contest https://www.topcoder.com/challenges/30097740 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:07] crazyk07 commented on #3094
Contest https://www.topcoder.com/challenges/30097740 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:08] kkartunov commented on #3120
@topcoder-platform/topcodercompetitors this open for pickup

[2019-07-26 07:08] kkartunov commented on #3118
@topcoder-platform/topcodercompetitors this open for pickup

[2019-07-26 07:08] kkartunov commented on #3101
@topcoder-platform/topcodercompetitors this open for pickup

[2019-07-26 07:09] kkartunov commented on #3097
@topcoder-platform/topcodercompetitors this open for pickup

[2019-07-26 07:09] Gauravseta commented on #3099
@kkartunov PR on?

[2019-07-26 07:10] crazyk07 commented on #3099
Contest https://www.topcoder.com/challenges/30097742 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:10] crazyk07 commented on #3099
Contest https://www.topcoder.com/challenges/30097742 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:10] kkartunov commented on #3099
`qa-accessibility` thanks

[2019-07-26 07:10] drasticdpk commented on #2883
@PrakashDurlabhji  @veshu @mishacucicea Only changing foreground color may not enough on this issue.  Here is the reference
https://monosnap.com/file/Zrlhw15VKnR4YzJZTZqr093r5DOhNO
https://monosnap.com/file/zazepWpd6MH1n7djAHtK1mPutS5n7h

[2019-07-26 07:12] crazyk07 commented on #3099
Contest https://www.topcoder.com/challenges/30097742 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:13] kkartunov commented on #3096
@topcoder-platform/topcodercompetitors this open for pickup. Please, PR against `qa-accessibility`. Follow ticket spec and Dara-K notes. Thanks

[2019-07-26 07:13] crazyk07 commented on #3077
Contest https://www.topcoder.com/challenges/30097743 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:15] crazyk07 commented on #3077
Contest https://www.topcoder.com/challenges/30097743 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:15] kkartunov commented on #3095
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:17] crazyk07 commented on #3095
Contest https://www.topcoder.com/challenges/30097688 has been updated - it has been assigned to mfikria.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:17] kkartunov commented on #3094
@topcoder-platform/topcodercompetitors this is open for pickup.

[2019-07-26 07:18] kkartunov commented on #3093
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:18] kkartunov commented on #3092
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:18] kkartunov commented on #3091
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:20] kkartunov commented on #3090
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:21] kkartunov commented on #3090
Please, replace the button with the one Dara-K suggested.

[2019-07-26 07:21] kkartunov commented on #3089
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:21] kkartunov commented on #3087
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:21] kkartunov commented on #3086
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:21] kkartunov commented on #3085
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:22] kkartunov commented on #3084
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:22] kkartunov commented on #3083
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:22] kkartunov commented on #3082
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:22] kkartunov commented on #3081
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:23] kkartunov commented on #3080
@crazyk07 PR against `qa-accessibility` branch.

[2019-07-26 07:23] kkartunov commented on #3079
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:23] kkartunov commented on #3078
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:23] kkartunov commented on #3077
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:24] kkartunov commented on #3075
@topcoder-platform/topcodercompetitors this is open for pickup. PR against `qa-accessibility` branch.

[2019-07-26 07:24] crazyk07 commented on #3090
Contest https://www.topcoder.com/challenges/30097745 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:24] crazyk07 commented on #3090
Contest https://www.topcoder.com/challenges/30097745 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:26] kkartunov commented on #3074
Done.

[2019-07-26 07:26] #3074 closed

[2019-07-26 07:27] crazyk07 commented on #3075
Contest https://www.topcoder.com/challenges/30097746 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:27] crazyk07 commented on #3075
Contest https://www.topcoder.com/challenges/30097746 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:28] kkartunov commented on #3072
@topcoder-platform/topcodercompetitors open for pickup. PRs against `qa-accessibility`.

[2019-07-26 07:29] kkartunov commented on #3071
@topcoder-platform/topcodercompetitors open for pickup. PRs against `qa-accessibility` branch.

[2019-07-26 07:30] kkartunov commented on #3069
@topcoder-platform/topcodercompetitors open for pickup. PRs against `qa-accessibility` branch.

[2019-07-26 07:33] crazyk07 commented on #3069
Contest https://www.topcoder.com/challenges/30097749 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:34] crazyk07 commented on #3069
Contest https://www.topcoder.com/challenges/30097749 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:38] crazyk07 commented on #3072
Contest https://www.topcoder.com/challenges/30097750 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:38] crazyk07 commented on #3072
Contest https://www.topcoder.com/challenges/30097750 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:39] crazyk07 commented on #3071
[500]: Challenge for the updated issue 3071 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:39] crazyk07 commented on #3071
[500]: Challenge for the updated issue 3071 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:39] kkartunov opened #3124 "New theme for Contentful naviMenus"
We need to implement a new theme for Contentful naviMenus. Design spec https://marvelapp.com/5554efd

It is the footer menu at the bottom.

[2019-07-26 07:39] crazyk07 commented on #3071
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:40] crazyk07 commented on #3071
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:45] crazyk07 commented on #3071
Contest https://www.topcoder.com/challenges/30097752 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:45] crazyk07 commented on #3071
Contest https://www.topcoder.com/challenges/30097752 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:48] crazyk07 commented on #3101
[500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:50] crazyk07 commented on #3101
Contest https://www.topcoder.com/challenges/30097685 has been updated - it has been assigned to asmn.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:50] drasticdpk commented on #2812
Operating System: Windows
Browser: Chrome
URL: https://accounts.topcoder.com/member/registration

[2019-07-26 07:50] crazyk07 commented on #2812
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:53] crazyk07 commented on #2874
Contest https://www.topcoder.com/challenges/30097090 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 07:57] lakshmiathreya commented on #2905
Verified color set to #df1e07 for the Red Error message - Win10/Chrome and FF; MacOS/Chrome and Edge.

[2019-07-26 07:57] #2905 closed

[2019-07-26 07:57] crazyk07 commented on #2905
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096725<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 08:07] drasticdpk commented on #2859
Operating System: macOS
Browser: Chrome
URL : https://accounts.topcoder-dev.com/member/registration

[2019-07-26 08:08] lakshmiathreya commented on #2788
Completed MacOS/Chrome Voice Over test. Fix is working. Request @drasticdpk to test on Windows Jaws and close after verification.

[2019-07-26 08:19] drasticdpk commented on #2788
@lakshmiathreya  verified on Windows with NVDA/JAWS/Narrator.

[2019-07-26 08:19] crazyk07 commented on #2788
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 08:22] #2788 closed

[2019-07-26 08:22] crazyk07 commented on #2788
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097296<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 08:29] drasticdpk commented on #2803
@veshu @lakshmiathreya  it seems the code has not deployed yet on production.

[2019-07-26 08:34] afrisalyp commented on #2874
The feature uses react-select. https://www.npmjs.com/package/react-select
Need changes on the module.

[2019-07-26 08:39] afrisalyp commented on #2848
Related with:
https://github.com/topcoder-platform/community-app/issues/2813

Solved by:
https://github.com/appirio-tech/accounts-app/pull/256

[2019-07-26 08:42] crazyk07 commented on #2848
Contest https://www.topcoder.com/challenges/30097754 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 08:42] crazyk07 commented on #2848
Contest https://www.topcoder.com/challenges/30097754 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 08:46] romitgit commented on #2861
@mishacucicea  Which repo to use for this?

[2019-07-26 08:48] drasticdpk commented on #2850
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges

[2019-07-26 08:50] crazyk07 commented on #2861
Contest https://www.topcoder.com/challenges/30097755 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 08:50] crazyk07 commented on #2861
Contest https://www.topcoder.com/challenges/30097755 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 09:19] drasticdpk commented on #2805
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges

[2019-07-26 09:20] romitgit commented on #2861
@veshu  Which repo to use for this?

[2019-07-26 09:22] veshu commented on #2803
@drasticdpk @lakshmiathreya It must on be only dev for now. We will add the Ready for Prod QA once @sushilshinde deploys to prod.

Sorry for the confusion.

[2019-07-26 09:22] lakshmiathreya commented on #2819
@veshu Pls let us know the challenge created with event to test this. @drasticdpk fyi...

[2019-07-26 09:24] veshu commented on #2819
@lakshmiathreya @drasticdpk We are still not be able to add eligible events on dev environment.

I will get back as soon as I got help. Thanks!

[2019-07-26 09:26] romitgit commented on #2860
PR for this issue : https://github.com/appirio-tech/accounts-app/pull/265

[2019-07-26 09:43] r0hit-gupta commented on #2800
@mishacucicea done. Please review.

[2019-07-26 09:46] veshu commented on #2819
@drasticdpk @lakshmiathreya Is this challenge https://www.topcoder-dev.com/challenges/30041559 works?

[2019-07-26 09:50] drasticdpk commented on #2841
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges/30055274/submit

[2019-07-26 10:10] drasticdpk commented on #2842
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges/30055274/submit

[2019-07-26 10:16] anonymousjaggu commented on #2854
Duplicate with #2825

[2019-07-26 10:26] veshu commented on #2823
@asadath1395 This is not correct fix, please see the example here how this should be read https://www.youtube.com/watch?v=Vsj1MIg-gf8

[2019-07-26 10:36] drasticdpk commented on #2825
@lakshmiathreya @veshu @mishacucicea , i am unable to test it , since that social link are disabled.
Ref Link : https://test-community-app.topcoder-dev.com/challenges/30055274

[2019-07-26 10:39] r0hit-gupta commented on #2888
@mishacucicea please review.

[2019-07-26 10:43] nkumar-topcoder commented on #2853
Dependency testing on community_app, On Hold to be taken once community app issue is merged https://github.com/topcoder-platform/community-app/pull/2966 @sushilshinde
To be tested jointly via community-app --> account app

[2019-07-26 10:48] crazyk07 commented on #3090
Contest https://www.topcoder.com/challenges/30097745 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 10:50] r0hit-gupta commented on #3090
PR at https://github.com/topcoder-platform/community-app/pull/3127

[2019-07-26 10:52] drasticdpk commented on #2844
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges/30055274/submit

[2019-07-26 11:00] drasticdpk commented on #2835
Operating System: Windows
Browser: Chrome
Url : https://test-community-app.topcoder-dev.com/challenges/30055274/submit

[2019-07-26 11:11] drasticdpk commented on #2802
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges

[2019-07-26 11:13] nkumar-topcoder commented on #2877
@romitgit post merge, QA verified and it didn't pass hence, it came back. Please check above thread for reason.

[2019-07-26 11:16] r0hit-gupta commented on #3096
@kkartunov the attachment link says access denied.
![image](https://user-images.githubusercontent.com/16841686/61947155-1c033800-afc2-11e9-82de-f7e459948d0f.png)

[2019-07-26 11:17] drasticdpk commented on #2837
Operating System: Windows
Browser: Chrome
https://test-community-app.topcoder-dev.com/challenges

[2019-07-26 11:23] crazyk07 commented on #3093
Contest https://www.topcoder.com/challenges/30097692 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 11:26] drasticdpk commented on #2772
Operating System: Windows/Android
Browser: Chrome
Page: https://accounts.topcoder.com/member

[2019-07-26 11:31] drasticdpk commented on #2757
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges

[2019-07-26 11:36] drasticdpk commented on #2771
Operating System: Windows
Browser: Chrome
https://accounts.topcoder-dev.com/member/registration

[2019-07-26 11:40] drasticdpk commented on #2750
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges

[2019-07-26 11:44] crazyk07 commented on #3085
Contest https://www.topcoder.com/challenges/30097738 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 11:59] r0hit-gupta commented on #3096
@veshu does it require new credentials?

[2019-07-26 12:03] Dara-K commented on #3096
You can use these ones:
username: msft-copilots@topcodermsft.onmicrosoft.com
PW:MSFTcopilots!@#$ (

[2019-07-26 12:03] crazyk07 commented on #3071
Contest https://www.topcoder.com/challenges/30097752 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 12:03] drasticdpk commented on #2767
No updated suggested color, please update accordingly.

![image](https://user-images.githubusercontent.com/25297859/61950443-8a012c80-afcd-11e9-9b4b-7f52000a520a.png)

[2019-07-26 12:17] romitgit commented on #3097
Access denied for the linked files.

[2019-07-26 12:20] PrakashDurlabhji commented on #2767
@mishacucicea it has become really difficult to cope up with colors because in mostly all mine tickets I had to update color twice hence its all confusion. I will work on it again, and as all reviewers are not adding feedback label on ticket hence it becomes more difficult. rather than marking code review fail on PR, also feedback label should be added on original ticket then it becomes smooth to

[2019-07-26 12:26] crazyk07 commented on #3087
Contest https://www.topcoder.com/challenges/30097701 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 12:26] r0hit-gupta commented on #3087
Duplicate of https://github.com/topcoder-platform/community-app/issues/3071

[2019-07-26 12:33] crazyk07 commented on #3097
Contest https://www.topcoder.com/challenges/30097737 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 12:36] PrakashDurlabhji commented on #3106
@kkartunov PR https://github.com/topcoder-platform/community-app/pull/3131

[2019-07-26 12:36] r0hit-gupta commented on #3097
Already fixed by https://github.com/topcoder-platform/community-app/pull/2970

[2019-07-26 12:37] drasticdpk commented on #2819
@veshu  which credential  are you using ? I am unable from ToneyJ. Thanks FYI @lakshmiathreya

[2019-07-26 12:41] drasticdpk commented on #2749
Operating System: Windows
Browser: Chrome
URL : https://www.topcoder.com/challenges

[2019-07-26 12:42] crazyk07 commented on #3091
Contest https://www.topcoder.com/challenges/30097696 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 12:42] crazyk07 commented on #3094
Contest https://www.topcoder.com/challenges/30097740 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 12:45] r0hit-gupta commented on #3094
Fixed by https://github.com/topcoder-platform/community-app/pull/2966

[2019-07-26 12:51] drasticdpk commented on #2783
@mishacucicea  @romitgit
Still does not found lang attribute, please update accordingly.
![image](https://user-images.githubusercontent.com/25297859/61952621-0991fa00-afd4-11e9-87b6-a19249250c93.png)

[2019-07-26 12:57] drasticdpk commented on #2748
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges

[2019-07-26 13:00] PrakashDurlabhji commented on #3091
@r0hit-gupta  I guess this is completed by one of your PR?

[2019-07-26 13:01] PrakashDurlabhji commented on #3071
@r0hit-gupta  this is completed by me in a PR

[2019-07-26 13:02] PrakashDurlabhji commented on #3087
@r0hit-gupta  this is completed by one of my PR

[2019-07-26 13:03] PrakashDurlabhji commented on #3092
@kkartunov @Dara-K can you please provide creds for this?
https://topcodermsft-my.sharepoint.com/personal/msft-copilots_topcodermsft_onmicrosoft_com/Documents/Forms/All.aspx?cid=d201e9b0-60ca-4f87-97bc-5041dbbfc8f1&FolderCTID=0x0120005C598A51049FC14CBA882E1AEE168F51&id=%2Fpersonal%2Fmsft-copilots_topcodermsft_onmicrosoft_com%2FDocuments%2F[FAST]

[2019-07-26 13:03] drasticdpk commented on #2742
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges

[2019-07-26 13:03] Dara-K commented on #2767
@mishacucicea  @PrakashDurlabhji  Please update both buttons to the same blue color: 006AD7.

We are redesigning the Login and Registration page as we speak, so this page will be updated soon.

Thank you.

[2019-07-26 13:06] crazyk07 commented on #3084
Contest https://www.topcoder.com/challenges/30097721 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 13:08] crazyk07 commented on #2771
Contest https://www.topcoder.com/challenges/30097505 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 13:10] drasticdpk commented on #2776
@mishacucicea still having issue, I am not sure whether it is deployed or not. @lakshmiathreya FYI
![image](https://user-images.githubusercontent.com/25297859/61953689-c5542900-afd6-11e9-9085-86962f456a8d.png)

[2019-07-26 13:43] #2812 closed

[2019-07-26 13:44] crazyk07 commented on #2812
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097266<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 13:57] crazyk07 commented on #3089
Contest https://www.topcoder.com/challenges/30097698 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 14:02] r0hit-gupta commented on #3071
@PrakashDurlabhji reviewers will close this PR if your PR already solves the problem. :)

[2019-07-26 14:21] crazyk07 commented on #3092
Contest https://www.topcoder.com/challenges/30097695 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 14:25] asadath1395 commented on #2823
@veshu Lets open this one

[2019-07-26 15:56] crazyk07 commented on #2874
Contest https://www.topcoder.com/challenges/30097090 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 16:01] r0hit-gupta commented on #2874
@veshu can you please increase the prize for this ticket? It took a lot of debugging to solve the issue. Thanks

[2019-07-26 16:12] veshu commented on #2874
@r0hit-gupta sure.

[2019-07-26 16:12] crazyk07 commented on #2874
Contest https://www.topcoder.com/challenges/30097090 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 16:24] r0hit-gupta commented on #2874
@veshu thanks a lot :)

[2019-07-26 16:35] hokienick commented on #3086
Register Button no longer appears on page.

[2019-07-26 16:35] #3086 closed

[2019-07-26 16:35] crazyk07 commented on #3086
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 16:35] hokienick commented on #3079
Register button no longer appears on this page.

[2019-07-26 16:35] #3079 closed

[2019-07-26 16:35] crazyk07 commented on #3079
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 17:14] crazyk07 commented on #3097
Contest https://www.topcoder.com/challenges/30097737 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 18:54] codeMinter commented on #2829
@veshu we cannot track it to Prod deployment such cases, so we can close one and keep one, marking the other as Duplicate.

Let's get PR for #2822 as it is superset of this ticket.

[2019-07-26 18:58] r0hit-gupta commented on #2829
Duplicate of #2822

[2019-07-26 19:03] crazyk07 commented on #3096
Contest https://www.topcoder.com/challenges/30097687 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 19:04] r0hit-gupta commented on #3096
@Dara-K for points 3 & 4, what is the unit of the value? It is `px` right?

[2019-07-26 19:17] hokienick opened #3136 "[$10] Links do not contain underline and have the wrong active color"
**Description**
Using the General Theme for Content Blocks in Contentful, if links are created using Markdown, an underline should appear underneath when published

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/community/accessibility-testing
2. Scroll down and notice that the links within the text do not contain underlines
4. See error

**Expected behavior**

[2019-07-26 19:39] kkartunov commented on #3136
File to update: https://github.com/topcoder-platform/community-app/blob/develop/src/shared/components/Contentful/ContentBlock/themes/general.scss

@topcoder-platform/topcodercompetitors opening for pickup. PRs against `qa-accessibility` branch.

[2019-07-26 19:43] crazyk07 commented on #3136
Contest https://www.topcoder.com/challenges/30097806 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 19:43] crazyk07 commented on #3136
Contest https://www.topcoder.com/challenges/30097806 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 19:44] crazyk07 commented on #3136
Contest https://www.topcoder.com/challenges/30097806 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 19:44] kkartunov commented on #3097
No @r0hit-gupta . This ticket is for all links on that page! Please, update or reopen it for pickup if you won't.

[2019-07-26 19:50] Gauravseta commented on #3099
@kkartunov PR https://github.com/topcoder-platform/community-app/pull/3138

[2019-07-26 19:50] kkartunov commented on #3136
@r0hit-gupta it fails the tests! Please, **always** run `npm test` before creating PRs about `Contentful` labels!

[2019-07-26 19:55] PrakashDurlabhji commented on #2828
@codeMinter Pr updated

[2019-07-26 19:55] r0hit-gupta commented on #3097
@kkartunov both the attachment screenshots and steps to reproduce describe only a single link with the issue. I could not find other links with the same issue. Please review

[2019-07-26 20:08] r0hit-gupta commented on #3136
@kkartunov sorry about that. I have update the PR. Please review.

[2019-07-26 20:09] kkartunov commented on #3097
@r0hit-gupta those in the footer need to be handled too.

[2019-07-26 20:14] codeMinter commented on #2828
@Oanh-and-only-Oanh @veshu Should this read as prizes as `tab` or `contentinfo` ? Ex: `1st prize $1000, tab` or `1st prize $1000, contentinfo` ?

[2019-07-26 20:15] r0hit-gupta commented on #3097
@kkartunov we don't need to add labels to the footer links. They already have text that is visible to screen readers.

[2019-07-26 20:28] PrakashDurlabhji commented on #2828
@codeMinter it should be "1st prize $1000" and nothing else. I am searching such that link or button are not called.

[2019-07-26 20:40] mishacucicea commented on #2861
@romitgit This is out of scope for now.

[2019-07-26 20:42] crazyk07 commented on #3136
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097806<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 20:45] mishacucicea commented on #2800
@r0hit-gupta Did you took care of the other focusable items discussed above?

[2019-07-26 20:47] codeMinter commented on #2744
@veshu @sushilshinde @nkumar-topcoder we fixed the color-palette in react-ui which takes care of this issue, so we don't need the PR for this. Please take this issue ahead for QA testing.

[2019-07-26 20:52] mishacucicea commented on #2825
@drasticdpk I was able to click on the share label and then use tab to go through social links and the screen-reader worked, try again.

[2019-07-26 21:03] r0hit-gupta commented on #2800
@mishacucicea yes I did.

[2019-07-26 21:41] mishacucicea commented on #2763
@drasticdpk / @tosha5252 Is this issue referring to individual input fields not having a label?

[2019-07-26 21:44] crazyk07 commented on #3106
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097686<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 21:57] kkartunov commented on #3097
@r0hit-gupta you are right. Sorry, but have to mark this as duplicate and cancel it. Thanks for your feedback!

[2019-07-26 21:58] #3097 closed

[2019-07-26 21:58] crazyk07 commented on #3097
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 22:09] crazyk07 commented on #3099
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097742<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 22:11] crazyk07 commented on #3093
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097692<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 22:14] crazyk07 commented on #3092
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097695<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 22:24] crazyk07 commented on #2892
Contest https://www.topcoder.com/challenges/30096755 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 22:27] #3094 closed

[2019-07-26 22:27] crazyk07 commented on #3094
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-26 22:30] PrakashDurlabhji commented on #2892
@anonymousjaggu taking it back to me as it was already with me before and here is video of verification

[2019-07-27 02:16] veshu commented on #2828
@PrakashDurlabhji @codeMinter  link or button should be called if it is link or button. They are useful info.

https://www.youtube.com/watch?v=cOmehxAU_4s

You can check with github itself, it has great accessibility. e.g. if you go to fork number of a  repo in header. It will not just read as XX. instead it say "link, xx users forked this repository"

So users knows this is link which is linked t

[2019-07-27 04:49] tc-mfikria commented on #3095
@kkartunov resolved in https://github.com/topcoder-platform/topcoder-react-utils/pull/43

[2019-07-27 04:51] crazyk07 commented on #3118
Contest https://www.topcoder.com/challenges/30097684 has been updated - it has been assigned to mfikria.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 06:22] nithyaasworld commented on #2859
@drasticdpk @marioskranitsas "Or Login with" which is not a link, is also underlined.

[2019-07-27 08:17] PrakashDurlabhji commented on #2828
@veshu possible to raise amount? due to increase in efforts?

[2019-07-27 08:21] PrakashDurlabhji commented on #2743
@Oanh-and-only-Oanh @veshu @sushilshinde PR for this is merged, but on hold label is added?
did not understand

[2019-07-27 10:15] nithyaasworld opened #3140 "I am not able to Add/Delete Skills and not able to save Email Preferences"
Issue1: In Settings --> Profile --> Skills: I am not able to add or remove Skills. Seeing the following error in the console.

![image](https://user-images.githubusercontent.com/5114190/61993144-f9862300-b084-11e9-9b54-672a8cb94d61.png)
![image](https://user-images.githubusercontent.com/5114190/61993149-10c51080-b085-11e9-92bf-62d7a408f6fe.png)

Issue2: In Settings -> Preferences --> Email: I am n

[2019-07-27 10:24] r0hit-gupta commented on #3097
@veshu @kkartunov will I not be paid for this?

[2019-07-27 12:31] PrakashDurlabhji commented on #2908
@vl-ti Pr updated https://github.com/topcoder-platform/community-app/pull/2941

[2019-07-27 12:32] PrakashDurlabhji commented on #2873
@codeMinter PR updated #2933

[2019-07-27 12:33] PrakashDurlabhji commented on #2892
@anonymousjaggu updated PR https://github.com/topcoder-platform/community-app/pull/2969 and video is in PR.

[2019-07-27 12:51] crazyk07 commented on #2856
Contest https://www.topcoder.com/challenges/30096870 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 12:52] r0hit-gupta commented on #2856
@veshu prize for this ticket is yet to be doubled.

[2019-07-27 12:55] r0hit-gupta commented on #2856
@veshu currently this issue affects only the page https://www.topcoder.com/challenges/30095347 because of the image in the description. Please review.

[2019-07-27 13:19] crazyk07 commented on #3101
Contest https://www.topcoder.com/challenges/30097685 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 13:19] r0hit-gupta commented on #3101
Already fixed. PR at https://github.com/topcoder-platform/community-app/pull/2981

[2019-07-27 13:42] lakshmiathreya commented on #2833
Verified on Mac/Chrome with VoiceOver. Working fine. @drasticdpk pls update and close after testing on Windows.

[2019-07-27 13:43] lakshmiathreya commented on #2738
Verified on Mac/Chrome with VoiceOver. Working fine. @drasticdpk pls update and close after testing on Windows.

[2019-07-27 13:43] lakshmiathreya commented on #2814
Errors are not heard in Mac/Chrome Voice over. @drasticdpk - pls check on Windows.

[2019-07-27 14:03] drasticdpk commented on #2814
Errors are not heard Windows/JAWS. @nkumar-topcoder please confirm it was deployed on production correctly.
https://monosnap.com/file/BkzrjKFWAXGadZ2TZOPyvpV23Du3D8

[2019-07-27 14:31] crazyk07 commented on #2811
Contest https://www.topcoder.com/challenges/30097824 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:33] crazyk07 commented on #2756
Contest https://www.topcoder.com/challenges/30097832 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:34] crazyk07 commented on #2781
Contest https://www.topcoder.com/challenges/30097834 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:39] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:39] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:41] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:41] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:47] crazyk07 commented on #2785
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:47] crazyk07 commented on #2785
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:48] crazyk07 commented on #2867
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:48] crazyk07 commented on #2867
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:48] crazyk07 commented on #2857
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:48] crazyk07 commented on #2857
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:53] crazyk07 commented on #2807
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:53] crazyk07 commented on #2807
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:57] crazyk07 commented on #2787
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:57] crazyk07 commented on #2787
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 14:59] crazyk07 commented on #2807
Contest https://www.topcoder.com/challenges/30097855 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 15:03] crazyk07 commented on #2787
Contest https://www.topcoder.com/challenges/30097856 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 15:15] crazyk07 commented on #2867
Contest https://www.topcoder.com/challenges/30097857 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 15:15] crazyk07 commented on #2867
Contest https://www.topcoder.com/challenges/30097857 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 15:24] drasticdpk commented on #2738
@mishacucicea  @lakshmiathreya , Screen reader is working as expected on Windows-JAWS/NVDA too. But ALT text is not showing while disabling the image , here is the reference image.
![image](https://user-images.githubusercontent.com/25297859/61996252-04a37800-b0b2-11e9-9581-f657d9250be9.png)

[2019-07-27 15:58] rashmi73 commented on #3001
@veshu PR for this isse at accounts-app repo.
https://github.com/appirio-tech/accounts-app/pull/271

[2019-07-27 16:13] crazyk07 commented on #2895
Contest https://www.topcoder.com/challenges/30097858 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 16:13] crazyk07 commented on #2895
Contest https://www.topcoder.com/challenges/30097858 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 16:17] drasticdpk commented on #2776
@PrakashDurlabhji
 We can still see the old color code , here is the reference.
![image](https://user-images.githubusercontent.com/25297859/61996883-77fcb800-b0b9-11e9-90ed-5f17ecc1b34e.png)
I am not sure this code has merged successfully or not FYI @veshu  @mishacucicea @tosha5252 @lakshmiathreya
https://github.com/appirio-tech/accounts-app/pull/227/files

[2019-07-27 16:41] tosha5252 commented on #2776
I am still seeing #a3a3ae

[2019-07-27 16:44] drasticdpk commented on #2833
Verified on Windows-Edge/Chrome with JAWS and NVDA

[2019-07-27 16:44] #2833 closed

[2019-07-27 16:45] crazyk07 commented on #2833
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097329<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 16:45] PrakashDurlabhji commented on #2776
@tosha5252 code is merged but i guess deployment issues.
@drasticdpk

[2019-07-27 16:55] tosha5252 commented on #2792
Observed, still skipping icons

Env:
Windows 10
Browser: Chrome, up to date

[2019-07-27 17:18] crazyk07 commented on #2784
Contest https://www.topcoder.com/challenges/30097864 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 17:22] crazyk07 commented on #2780
Contest https://www.topcoder.com/challenges/30097865 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 17:24] crazyk07 commented on #2816
Contest https://www.topcoder.com/challenges/30097866 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 18:16] crazyk07 commented on #2899
Contest https://www.topcoder.com/challenges/30096731 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 18:16] r0hit-gupta commented on #2899
@veshu this ticket prize is also yet to be doubled.

[2019-07-27 18:17] r0hit-gupta commented on #2899
Already fixed by PR https://github.com/appirio-tech/accounts-app/pull/251

[2019-07-27 18:18] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 18:18] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 19:16] codeMinter commented on #2996
@Dara-K I see we have PR for this issue from @rashmi73 based on color suggested, but only passing are RED and Black AA level. Can you help get AA level passing color codes ?

[2019-07-27 19:19] crazyk07 commented on #2839
Contest https://www.topcoder.com/challenges/30097394 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:04] crazyk07 commented on #3082
[500]: Challenge for the updated issue 3082 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:04] crazyk07 commented on #3082
[500]: Challenge for the updated issue 3082 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:07] crazyk07 commented on #3082
Contest https://www.topcoder.com/challenges/30097876 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:10] crazyk07 commented on #3078
Contest https://www.topcoder.com/challenges/30097877 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:11] crazyk07 commented on #3081
Contest https://www.topcoder.com/challenges/30097878 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:13] codeMinter commented on #2828
@veshu yes, I think but we cannot keep role empty, it will by default pickup considering best option, which in this case it calls it `group`, I saw it read when no role provided as `1st prize is $1000, group`

[2019-07-27 20:19] codeMinter commented on #2903
@veshu @sushilshinde PR closed as this is NOT AN ISSUE anymore in base repo. So closed PR.

[2019-07-27 20:21] PrakashDurlabhji commented on #2903
@veshu @codeMinter anything if i can get for efforts?

[2019-07-27 20:29] crazyk07 commented on #2840
Contest https://www.topcoder.com/challenges/30097373 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:33] r0hit-gupta commented on #2840
@veshu ticket prize yet to be doubled. Thanks!

[2019-07-27 20:51] crazyk07 commented on #2801
Contest https://www.topcoder.com/challenges/30096897 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:51] crazyk07 commented on #2807
Contest https://www.topcoder.com/challenges/30097855 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:52] crazyk07 commented on #2811
Contest https://www.topcoder.com/challenges/30097824 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:52] crazyk07 commented on #2816
Contest https://www.topcoder.com/challenges/30097866 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:54] crazyk07 commented on #2811
Contest https://www.topcoder.com/challenges/30097824 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:55] crazyk07 commented on #2795
Contest https://www.topcoder.com/challenges/30097880 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:55] crazyk07 commented on #2795
Contest https://www.topcoder.com/challenges/30097880 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:58] mishacucicea commented on #2783
@drasticdpk Somehow the latest version of the `qa-accessibility` branch was not deployed. Tested it locally and it's there.
![image](https://user-images.githubusercontent.com/1721199/61999477-5526cf80-b0ca-11e9-983d-a3afa7c8271c.png)

[2019-07-27 20:59] crazyk07 commented on #2765
Contest https://www.topcoder.com/challenges/30097881 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 20:59] crazyk07 commented on #2765
Contest https://www.topcoder.com/challenges/30097881 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 21:25] mishacucicea commented on #2767
@drasticdpk This issue talks about Show button, not Login, so please don't fail the issue if it's respecting the initial requirements.

We can treat login in another issue (although it might be fixed already in other branches), let's close this one, too much overhead for a 1 line change.

[2019-07-27 21:25] crazyk07 commented on #3075
Contest https://www.topcoder.com/challenges/30097746 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 21:29] mishacucicea commented on #2776
@nkumar-topcoder @sushilshinde Is this a deployment issue?

[2019-07-27 21:36] mishacucicea commented on #2800
@r0hit-gupta I see just the .privacy-policy class changed, is the adjustment somewhere else?

[2019-07-27 21:40] codeMinter commented on #2907
@rashmi73 I see the issue, looks like changes done by you have got updated due to some other PR, can you create new PR and use color code as `$tc-dark-blue-110`. Kindly mark me on PR as soon as done.

[2019-07-27 21:43] codeMinter commented on #2893
@romitgit ☝️ - kindly push new PR with fix asap.

[2019-07-27 21:45] codeMinter commented on #2883
@PrakashDurlabhji ☝️

[2019-07-27 21:58] r0hit-gupta commented on #2800
@mishacucicea I did not get you. In what way it has changed? I haven't done any kind of adjustment.

[2019-07-27 22:04] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 22:06] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 22:06] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 22:12] mishacucicea commented on #2888
@r0hit-gupta Contrast is not good :(
![image](https://user-images.githubusercontent.com/1721199/61999810-0715ca00-b0d2-11e9-86b1-9f5d2c9bc845.png)

[2019-07-27 22:27] mishacucicea commented on #2738
@dzanchett You need to add title on img as well so that it shows correctly (https://stackoverflow.com/questions/5386570/how-to-display-alt-text-for-an-image-in-chrome)

[2019-07-27 22:33] crazyk07 commented on #2879
Contest https://www.topcoder.com/challenges/30096769 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 22:34] crazyk07 commented on #2862
Contest https://www.topcoder.com/challenges/30097888 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 22:34] crazyk07 commented on #2862
Contest https://www.topcoder.com/challenges/30097888 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 22:35] crazyk07 commented on #2884
@tosha5252 @drasticdpk @lakshmiathreya  Can we Check on this?  Probably missed it earlier.  Will mark on hold in the mean time

[2019-07-27 22:40] #2878 closed

[2019-07-27 22:40] crazyk07 commented on #2878
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 22:42] crazyk07 commented on #2900
Contest https://www.topcoder.com/challenges/30096739 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 22:45] mishacucicea commented on #2800
@r0hit-gupta  Looking again over the code changes, I don't see how `Forgot your password?` link, `LOG IN` button and `Join Now` Link were fixed, so testing might reject your fix.

[2019-07-27 23:09] mishacucicea commented on #2868
@PrakashDurlabhji Are you posting an update?

[2019-07-27 23:14] crazyk07 commented on #2864
Contest https://www.topcoder.com/challenges/30097365 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-27 23:19] PrakashDurlabhji commented on #2868
@mishacucicea yes just some time

[2019-07-28 02:26] romitgit commented on #2893
ok. Will fix it asap.

[2019-07-28 02:49] tc-mfikria commented on #3110
@hokienick it cannot be fixed because the attachment field is on zendesk form which is not in `community-app` but fetch and initialized directly from topcoder.zendesk.com

[2019-07-28 03:01] tc-mfikria commented on #3070
@hokienick the style need to be changed directly from zendesk setting

[2019-07-28 04:08] dzanchett commented on #2738
@mishacucicea Title added. I also had to edit the `app/styles/tc/account.scss` file to solve this.

[2019-07-28 04:43] tc-mfikria commented on #3118
@kkartunov @hokienick resolved in https://github.com/topcoder-platform/community-app/pull/3146

[2019-07-28 04:48] crazyk07 commented on #3082
Contest https://www.topcoder.com/challenges/30097876 has been updated - it has been assigned to mfikria.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 04:52] tc-mfikria commented on #3082
@kkartunov It cannot be fixed because the form is a zendesk form that is not part of `connect-app`

[2019-07-28 05:14] veshu commented on #2806
@asadath1395 Please check this. Thanks!

[2019-07-28 05:22] veshu commented on #2872
@topcoder-platform/topcodercompetitors this is open for pickup.

[2019-07-28 05:29] lakshmiathreya commented on #2885
This one looks good for contrast ratio via WAVE and heard via Mac VoiceOver too - pls check on Windows @drasticdpk  @tosha5252

[2019-07-28 05:32] tosha5252 commented on #2885
@lakshmiathreya @drasticdpk looks good on Windows

[2019-07-28 05:33] crazyk07 commented on #2872
Contest https://www.topcoder.com/challenges/30097891 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 05:33] #2885 closed

[2019-07-28 05:34] crazyk07 commented on #2885
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096756<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 05:48] crazyk07 commented on #3077
Contest https://www.topcoder.com/challenges/30097743 has been updated - it has been assigned to mfikria.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 05:49] veshu commented on #2828
@codeMinter I confirmed it should be `contentinfo`

@PrakashDurlabhji Please fix if you haven't noticed above confirmation.

[2019-07-28 05:59] tc-mfikria commented on #3077
@kkartunov resolved in https://github.com/topcoder-platform/community-app/pull/3147

[2019-07-28 06:09] crazyk07 commented on #2872
Contest https://www.topcoder.com/challenges/30097891 has been updated - it has been assigned to mfikria.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 06:17] drasticdpk commented on #2876
Verified on
MAC -Chrome/Safari
Windows - Chrome/Edge

[2019-07-28 06:18] #2876 closed

[2019-07-28 06:19] crazyk07 commented on #2876
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097059<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 06:19] tosha5252 commented on #2854
Verified working

Env:
Windows 10
Browser: Chrome

[2019-07-28 06:21] tc-mfikria commented on #2872
@veshu resolved in https://github.com/topcoder-platform/community-app/pull/3148

[2019-07-28 06:25] crazyk07 commented on #2862
Contest https://www.topcoder.com/challenges/30097888 has been updated - it has been assigned to mfikria.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 06:48] tosha5252 commented on #2745
Text and shape color for the icons are not changed to what DaraK has in the comment

Green shape and text color is  # 5cc900
Blue Shape and color is  # 15acec
Orange shape and color is #f d7d00

Please change to:
On development: green shape with Cd and TCO text should be # 258205
On design: blue shape and TCO text should be # 0076A5
On MM: orange shape and TCO text should be # BA4C00

Env:
Windows

[2019-07-28 06:50] drasticdpk commented on #2887
Passed on Windows  Chrome but fail on Edge browser, here is the reference  FYI @lakshmiathreya @veshu
https://monosnap.com/file/aGMOa3p6ogBWrpr8F6yMBJsqTlzDdf

[2019-07-28 06:52] drasticdpk commented on #2789
Verified on Chrome/Edge Browser.

[2019-07-28 06:53] #2789 closed

[2019-07-28 06:54] crazyk07 commented on #2789
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097400<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 07:20] tosha5252 commented on #2768
Color has been changed to #0096ff

Per DaraK's comment on another ticket, the color should be changed to #006DEA

Reference ticket:
#2888

Env:
WIndows 10
Browser: Chrome

[2019-07-28 07:29] PrakashDurlabhji commented on #2768
@veshu prize for this ticket was not doubled while for other issues it was doubled. can you please do it if possible?

[2019-07-28 07:38] PrakashDurlabhji commented on #2768
@tosha5252 @veshu @codeMinter new PR according to above comment. https://github.com/appirio-tech/accounts-app/pull/273

[2019-07-28 07:46] rashmi73 commented on #2889
@veshu yes updating, and i will paste verification video for same

[2019-07-28 07:59] drasticdpk commented on #2766
@mishacucicea ,  User has set tab index 0, which does not meet the expected result. Please update accordingly.
Expected : The tab index value is suppose to accept the positive integers meaning it should accept values like 1 and above , not 0 or -1.

![image](https://user-images.githubusercontent.com/25297859/62003902-c05db980-b13d-11e9-9a9a-8c5d0cfcac7f.png)

[2019-07-28 07:59] nkumar-topcoder commented on #2776
But code is correct pointing to color: #3A3A3A; could be cache issue, I have refreshed the cache now can you please check and confirm @mishacucicea @drasticdpk @tosha5252 @PrakashDurlabhji

[2019-07-28 08:03] #2865 closed

[2019-07-28 08:05] crazyk07 commented on #2865
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097061<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 08:05] #2843 closed

[2019-07-28 08:06] crazyk07 commented on #2843
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097391<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 08:17] drasticdpk commented on #2821
Verified on Windows Chrome/Edge.

[2019-07-28 08:17] #2821 closed

[2019-07-28 08:18] crazyk07 commented on #2821
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097322<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 08:19] drasticdpk commented on #2739
Verified on google chrome.

[2019-07-28 08:19] #2739 closed

[2019-07-28 08:20] crazyk07 commented on #2739
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097487<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 08:33] nkumar-topcoder commented on #2814
@drasticdpk could be cache, i have refreshed can you pls reverify ?

[2019-07-28 08:36] drasticdpk commented on #2820
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges/30055274

[2019-07-28 08:44] veshu commented on #2915
@topcoder-platform/topcodercompetitors
Hello members, we have last 10 issues for open pickup, let us know if anything. Suggest your prize to fix this we can accept if justifiable amount and effort. Thanks!

https://github.com/topcoder-platform/community-app/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3AAccessibility+label%3Atcx_OpenForPickup

[2019-07-28 08:47] crazyk07 commented on #2828
Contest https://www.topcoder.com/challenges/30097359 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 08:48] veshu commented on #2828
@PrakashDurlabhji prize is bumped to double, please update the status of issue and PR if you made changes. Thanks!

[2019-07-28 08:51] veshu commented on #2887
@drasticdpk Is this passed on test environment with edge on windows?

[2019-07-28 09:02] nkumar-topcoder commented on #2814
@mishacucicea this is not working on edge browser. Can you reassign please.

[2019-07-28 09:08] nkumar-topcoder commented on #2897
Please #2866 & #2897 has same fix.

[2019-07-28 09:10] drasticdpk commented on #2887
@veshu yes it is working on test environment with edge. For the same i was uploaded reference video too.
https://monosnap.com/file/aGMOa3p6ogBWrpr8F6yMBJsqTlzDdf

[2019-07-28 09:17] drasticdpk commented on #2752
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges

[2019-07-28 09:27] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 09:27] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 09:27] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 09:29] drasticdpk commented on #2911
Operating System: Windows
Browser: Chrome
URL  : https://test-community-app.topcoder-dev.com/challenges/30055275

[2019-07-28 09:29] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 09:29] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 09:39] drasticdpk commented on #2902
Operating System: Windows
Browser: Chrome
URL :https://test-community-app.topcoder-dev.com/challenges/30055274/submit

[2019-07-28 09:46] sushilshinde commented on #2803
@veshu what's the PR for this?

[2019-07-28 09:59] drasticdpk commented on #2897
Operating System: Windows
Browser: Chrome
URL : https://accounts.topcoder-dev.com/member/registration

[2019-07-28 10:02] drasticdpk commented on #2873
Operating System: Windows
Browser: Chrome
URL :  https://test-community-app.topcoder-dev.com/challenges/30055274

[2019-07-28 10:26] veshu commented on #2803
https://github.com/topcoder-platform/community-app/pull/2943

[2019-07-28 10:46] drasticdpk commented on #2866
https://accounts.topcoder-dev.com/#!/member/registration
In google chrome there are 6 regions but firefox 5, please update accordingly.
https://monosnap.com/file/FMoi3g53HewEQG93NooLhubOJVurej

[2019-07-28 11:05] drasticdpk commented on #2853
Unable to see the title attribute., please update accordingly.
![image](https://user-images.githubusercontent.com/25297859/62005755-9fa25d80-b157-11e9-906e-10558cf4ca0a.png)

[2019-07-28 11:18] drasticdpk commented on #2846
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges/30055274/submit

[2019-07-28 11:25] drasticdpk commented on #2840
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges/30055274/submit

[2019-07-28 11:34] drasticdpk commented on #2839
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges

[2019-07-28 11:37] mishacucicea commented on #2766
@drasticdpk , if the tabindex is 0, it means when using tab key, it will cycle through the items in the order they appear on the page, so the expected functionality is correct. Using tab-key will navigate the user to the country field and it will not be skipped like before.

Positive values for tabindex are used if a special order of items is required (which is not the case here).

As the function

[2019-07-28 11:41] mishacucicea commented on #2776
Issue looks OK on dev as well.
![image](https://user-images.githubusercontent.com/1721199/62006157-b770e600-b145-11e9-98bd-d554960e0810.png)

[2019-07-28 11:49] drasticdpk commented on #2832
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges/30055274

[2019-07-28 11:57] mishacucicea commented on #2814
@r0hit-gupta Please try to fix the issue on Edge.

[2019-07-28 11:58] drasticdpk commented on #2824
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges/30055274

[2019-07-28 12:17] drasticdpk commented on #2825
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges/30055274

[2019-07-28 12:24] drasticdpk commented on #2822
Operating System: Windows
Browser: Chrome
URL :  https://test-community-app.topcoder-dev.com/challenges/30055274

[2019-07-28 12:28] tosha5252 commented on #2767
Button color showing still not changed....it is still #59a7ff...please change to the new blue color #006AD7
Env:
Windows 10
Browser: Chrome

[2019-07-28 12:33] tosha5252 commented on #2759
Readout is still inconsistent when hovering with mouse.

Env: Windows 10
Browser: Chrome

[2019-07-28 12:39] tosha5252 commented on #2800
Forgot your password, Privacy Policy and Join Now link are still not in focus when tabbing.

Env:
Windows 10
Browser: Chrome

[2019-07-28 12:48] tosha5252 commented on #2798
Verified

Env:
Windows 10
Browser: Chrome

[2019-07-28 12:54] tosha5252 commented on #2797
Color has been changed to # 258025
Please change to # 258205

Env:
Windows 10
Browser: Chrome

[2019-07-28 12:56] mishacucicea commented on #2767
@tosha5252 The Show button is fixed:
![image](https://user-images.githubusercontent.com/1721199/62006939-2a7f5a00-b150-11e9-91db-b426f717ead7.png)

[2019-07-28 13:11] drasticdpk commented on #2799
Does not found first level heading.
https://monosnap.com/file/IwZawGuZkSrhqjs9yby0vaucJE9SR6

[2019-07-28 13:20] kkartunov commented on #3101
@r0hit-gupta thanks!

[2019-07-28 13:20] #3101 closed

[2019-07-28 13:20] crazyk07 commented on #3101
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 13:21] tosha5252 commented on #2740
Verified

Env: Windows 10
Browser: Chrome and Edge

[2019-07-28 13:22] drasticdpk commented on #2811
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges

[2019-07-28 13:24] kkartunov commented on #3095
@tc-mfikria https://github.com/topcoder-platform/community-app/pull/3139#issuecomment-515762610

[2019-07-28 13:26] nkumar-topcoder commented on #2738
@drasticdpk @mishacucicea  @lakshmiathreya This has been re-fixed post "tcx_feedback"

[2019-07-28 13:29] drasticdpk commented on #2810
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges

[2019-07-28 13:34] drasticdpk commented on #2738
Verified.

[2019-07-28 15:03] #2756 closed

[2019-07-28 15:03] #2780 closed

[2019-07-28 15:03] crazyk07 commented on #2756
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 15:03] crazyk07 commented on #2780
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 15:03] crazyk07 commented on #2781
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 15:03] #2781 closed

[2019-07-28 15:03] #2784 closed

[2019-07-28 15:03] #2785 closed

[2019-07-28 15:03] #2787 closed

[2019-07-28 15:03] #2857 closed

[2019-07-28 15:03] #2861 closed

[2019-07-28 15:03] crazyk07 commented on #2784
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 15:03] crazyk07 commented on #2787
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 15:03] crazyk07 commented on #2861
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 15:03] #2870 closed

[2019-07-28 15:03] crazyk07 commented on #2870
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 15:10] crazyk07 commented on #2857
Contest https://www.topcoder.com/challenges/30097903 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 15:10] crazyk07 commented on #2857
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 15:14] crazyk07 commented on #2785
Contest https://www.topcoder.com/challenges/30097904 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 15:14] crazyk07 commented on #2785
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 15:32] nkumar-topcoder commented on #2853
@mishacucicea  @drasticdpk  I verified for PR merge code for frameTitle and it's there . @sushilshinde can you check for dependency at community-app package.json references "tc-accounts": "git+https://github.com/appirio-tech/accounts-app.git#dev is pointing to `qa-accessiblity` branch ?

[2019-07-28 15:58] tosha5252 commented on #2776
![Annotation 2019-07-28 105444](https://user-images.githubusercontent.com/6400904/62009572-81703980-b126-11e9-8734-7dc4b51e98d5.png)
![Annotation 2019-07-28 105621](https://user-images.githubusercontent.com/6400904/62009573-81703980-b126-11e9-83f3-1180bddd2f85.png)

Still seeing the same thing....checked Firefox, Chrome, Edge and using WAVE tool

[2019-07-28 16:50] drasticdpk commented on #2887
Verified on Edge too.

[2019-07-28 16:50] #2887 closed

[2019-07-28 16:51] crazyk07 commented on #2887
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096758<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 17:13] sexta13 commented on #3095
this issue is related with this:
https://github.com/topcoder-platform/community-app/issues/2852
The PR https://github.com/topcoder-platform/topcoder-react-utils/pull/43 solves both

[2019-07-28 17:13] sexta13 commented on #2852
this issue is related with this:
https://github.com/topcoder-platform/community-app/issues/3095
The PR https://github.com/topcoder-platform/topcoder-react-utils/pull/43 solves both

[2019-07-28 17:17] veshu commented on #2996
@Dara-K Can you please help us here, Thanks!

[2019-07-28 18:09] r0hit-gupta commented on #2745
@tosha5252 please check on https://test-community-app.topcoder-dev.com/challenges

It is showing the correct colors. You might need to run `npm install` again as the `react-ui-kit` was updated with the new colors. Also, I am using `#006ad7` for the blue shape as I could not find the color `#0076A5` in the palette https://marvelapp.com/c7h2a6h/screen/59648056/handoff . All the colors are passing WC

[2019-07-28 18:12] r0hit-gupta commented on #2797
@tosha5252 as per the color palette, it is `#258025`. @Dara-K please confirm.

[2019-07-28 18:33] codeMinter commented on #2804
@veshu this issue is working fine on base repo code. Also PR raised by @r0hit-gupta has no changes hence closed PR. Please take it ahead for QA verification.

@sushilshinde FYI ☝️

[2019-07-28 18:43] codeMinter commented on #2907
@rashmi73 any updates here ?

[2019-07-28 18:56] r0hit-gupta commented on #2888
@mishacucicea fixed. I am sorry, the issue did not mention the login button so skipped it earlier. Please review now :)

[2019-07-28 18:59] r0hit-gupta commented on #2814
@mishacucicea looking into the issues.

[2019-07-28 19:01] rashmi73 commented on #2907
@codeMinter just 10 minutes

[2019-07-28 19:05] rashmi73 commented on #2907
@codeMinter @veshu PR is now https://github.com/topcoder-platform/community-app/pull/3149

[2019-07-28 19:14] r0hit-gupta commented on #2804
@codeMinter some other PR was merged with the same changes. Thus it showed 0 changes in my PR after that.

[2019-07-28 19:15] codeMinter commented on #3140
@nithyaasworld is this on DEV / TEST or PROD ?

[2019-07-28 19:17] nithyaasworld commented on #3140
This is on Production. I happened to see this when performing Smoke test for Accessibility in Beta.

[2019-07-28 19:21] codeMinter commented on #2799
@anonymousjaggu ☝️

[2019-07-28 19:23] codeMinter commented on #2792
@tosha5252 Can you add more details here ? You mean is it showing for some and not for some ?

[2019-07-28 19:30] codeMinter commented on #3140
@nithyaasworld can you re-try? Works fine for me on PROD and beta.

[2019-07-28 19:33] r0hit-gupta commented on #2800
@tosha5252 @mishacucicea working for me on local.

@mishacucicea here are the code changes.

Privacy Policy - https://github.com/appirio-tech/accounts-app/pull/243

Forgot your password - https://github.com/r0hit-gupta/accounts-app/blob/2c4432ef75e27e9512ff4f6e558345c0a3fa0cea/app/styles/tc/login.scss#L35

Join Now - https://github.com/r0hit-gupta/accounts-app/blob/2c4432ef75e27e9512ff4f6e558345c0

[2019-07-28 19:41] nithyaasworld commented on #3140
Yeah, just tried @codeMinter . I still see the same issue. Please find the video below.

[skills, email not working for me.zip](https://github.com/topcoder-platform/community-app/files/3439509/skills.email.not.working.for.me.zip)

[2019-07-28 20:01] crazyk07 commented on #2828
Contest https://www.topcoder.com/challenges/30097359 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 20:04] tosha5252 commented on #2748
Color changed to #6b6b6b, which passes WCAG standard

Operating System: Windows
Browser: Chrome

[2019-07-28 20:04] #2748 closed

[2019-07-28 20:05] crazyk07 commented on #2748
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096977<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-28 20:38] PrakashDurlabhji commented on #2828
@veshu taking to myself again as contentinfo role was already in PR. just needed minor updates

[2019-07-28 20:49] PrakashDurlabhji commented on #2883
@Dara-K can you please provide value for background color to match above requirements?
because according to your comment foreground color is changed but background-color is left out.

@veshu

[2019-07-28 20:53] PrakashDurlabhji commented on #2868
@mishacucicea PR updated

[2019-07-28 20:55] PrakashDurlabhji commented on #2776
@tosha5252 @mishacucicea is my PR correct then? or still deployment issue?

[2019-07-28 21:14] PrakashDurlabhji commented on #2767
@tosha5252 @drasticdpk @sushilshinde  can we close this?

[2019-07-28 21:15] PrakashDurlabhji commented on #2871
@veshu just sometime updating

[2019-07-28 21:29] rashmi73 commented on #2889
@veshu suddenly it has stopped working, i remember it was working well. watching it

[2019-07-28 22:51] Dara-K commented on #2996
Hi @veshu @codeMinter ,
When I set those color codes, I tested them to pass the AA test and they show up well for me. Did I miss anything in its testing?

Here's a short video how I did it (tested all the 4 above colors: grays,purples. greens, gold):
https://drive.google.com/file/d/1O6hEtFxEWG30rDSqGG9nuTcO_D8jKN4g/view?usp=sharing

[2019-07-28 23:06] afrisalyp commented on #2866
@drasticdpk Done. new PR added.

[2019-07-28 23:48] crazyk07 commented on #2849
@veshu Can you verify that the other fix should fix this?  Also, want to try to tag this differently so I don't count them in tcx-readyforreview

[2019-07-29 03:22] #3095 closed

[2019-07-29 03:22] crazyk07 commented on #3095
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 03:53] tosha5252 commented on #2881
@sushilshinde What tool is being used to check color contrast issues?  I'm checking with the WAVE tool and there are still many issues with the page...also I can see there are some buttons that don't have the changed blue color, which should be #006AD7 for all blue button background and text.

[2019-07-29 03:55] sushilshinde commented on #2881
@tosha5252 please ask on the slack

[2019-07-29 03:55] crazyk07 commented on #2858
Out of scope

[2019-07-29 03:55] #2858 closed

[2019-07-29 03:55] crazyk07 commented on #2858
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 04:25] tosha5252 commented on #3113
@sushilshinde Where do we go to verify this changed?

[2019-07-29 07:08] m-yadav opened #3151 "Users unable to submit for Challenges via Google Drive or Dropbox"
**Describe the bug**
Users are unable to upload the submission through either Google Drive or Dropbox. it gives "redirect_uri_mismatch" error when trying to connect to drive or dropbox.

**To Reproduce**
Steps to reproduce the behavior:
1. Register to any challenge and try to submit the solution.

![image](https://user-images.githubusercontent.com/45197181/62028116-20fffb80-b1fd-11e9-8194-fa80546e

[2019-07-29 07:53] veshu commented on #2806
@topcoder-platform/topcodercompetitors this is open for pickup easy fix with highest prize. Thanks!

[2019-07-29 07:53] sumitdaga commented on #3090
@veshu @crazyk07 @sushilshinde
this is a duplicate with #2907 and its PR has already been accepted !

[2019-07-29 08:10] Dara-K commented on #3096
@r0hit-gupta That's right. Those are pixels too based.

[2019-07-29 08:13] sushilshinde commented on #2854
@r0hit-gupta which PR did fix this issue?

[2019-07-29 08:15] r0hit-gupta commented on #2854
@sushilshinde it was https://github.com/topcoder-platform/community-app/pull/3057

[2019-07-29 08:31] veshu commented on #2889
@rashmi73 Any update on this thanks!

[2019-07-29 08:41] tosha5252 commented on #2910
Verified working

Env: Windows 10
Browser: Chrome and Edge

[2019-07-29 08:41] #2910 closed

[2019-07-29 08:41] crazyk07 commented on #2910
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096744<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 08:45] tosha5252 commented on #2764
Verified working

Env: Windows 10
Chrome and Edge

[2019-07-29 08:45] #2764 closed

[2019-07-29 08:45] crazyk07 commented on #2764
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097550<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 08:45] veshu commented on #3113
@tosha5252 and @drasticdpk This issue is common for many other issues. And not particular issue, it just updated of brand color. If there is any issue with contrast or color you will have other respective issues. So closing this issue for clarity. Thanks!

[2019-07-29 08:55] tosha5252 commented on #2755
Verified working

Env: Windows 10
Chrome and Edge

[2019-07-29 08:55] #2755 closed

[2019-07-29 08:55] crazyk07 commented on #2755
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097516<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 08:59] tosha5252 commented on #2886
Env:
Windows 10
Browser: Chrome

[2019-07-29 08:59] #2886 closed

[2019-07-29 08:59] crazyk07 commented on #2886
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096759<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 09:03] tosha5252 commented on #2850
Verified working

Env: Windows 10
Chrome and Edge

[2019-07-29 09:03] #2850 closed

[2019-07-29 09:04] crazyk07 commented on #2850
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097069<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 09:08] tosha5252 commented on #2844
Verified changed
https://www.topcoder.com/challenges/30096225/submit

Env: Window 10
Browser: Chrome

[2019-07-29 09:08] #2844 closed

[2019-07-29 09:08] crazyk07 commented on #2844
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097157<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 09:16] tosha5252 commented on #2842
Color still #a3a3ae...verified on Chrome, Edge and with WAVE tool

Pls change to #6b6b6b

[2019-07-29 09:18] tosha5252 commented on #2754
Verified working

Env: Windows 10
Browser: Chrome and Edge

[2019-07-29 09:18] #2754 closed

[2019-07-29 09:18] crazyk07 commented on #2754
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097539<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 09:20] tosha5252 commented on #2841
Verified working at https://www.topcoder.com/challenges/30095032/submit

Env: Windows 10
Browsers: Chrome and Edge

[2019-07-29 09:20] #2841 closed

[2019-07-29 09:20] crazyk07 commented on #2841
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097120<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 09:25] tosha5252 commented on #2837
Verified working

Operating System: Windows
Browser: Chrome and Edge

[2019-07-29 09:25] #2837 closed

[2019-07-29 09:25] crazyk07 commented on #2837
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097362<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 09:30] tosha5252 commented on #2836
Not working in Chrome browser.

Works in Edge browser.

Operating System: Windows 10

[2019-07-29 09:34] tosha5252 commented on #2786
Verified Working

OS: Windows 10
Browsers: Chrome and Edge

[2019-07-29 09:34] #2786 closed

[2019-07-29 09:34] crazyk07 commented on #2786
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097311<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 09:36] mishacucicea commented on #2775
@PrakashDurlabhji  You introduced a color that's not needed and the contrast was still not fixed.
@Dara-K While fixing the colors, I've noticed that disabled buttons have an opacity which will make them less visible, even if the Tool says that contrast is OK. Not sure exactly if we should used other errors.
![image](https://user-images.githubusercontent.com/1721199/62037908-60c6e300-b1fd-11e9-857b

[2019-07-29 09:40] veshu commented on #2849
@crazyk07 Yes it is fixed with https://github.com/topcoder-platform/community-app/pull/2997

[2019-07-29 09:41] tosha5252 commented on #2750
Color changed to #6b6b6b

Operating System: Windows
Browser: Chrome

[2019-07-29 09:41] #2750 closed

[2019-07-29 09:41] crazyk07 commented on #2750
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097537<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 09:43] mishacucicea commented on #2775
@PrakashDurlabhji Please do not pick-up new items to work on if you have pending items already, if needed I will enforce that.

[2019-07-29 09:43] tosha5252 commented on #2749
Verified changed

Operating System: Windows
Browser: Chrome

[2019-07-29 09:43] #2749 closed

[2019-07-29 09:43] crazyk07 commented on #2749
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097551<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 09:47] tosha5252 commented on #2742
Changed to #6b6b6b

Operating System: Windows
Browser: Chrome and Edge

[2019-07-29 09:47] #2742 closed

[2019-07-29 09:47] crazyk07 commented on #2742
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097474<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 09:47] drasticdpk commented on #2874
Operating System: Windows
Browser: Chrome
URL : https://test-community-app.topcoder-dev.com/challenges

[2019-07-29 09:53] veshu commented on #2996
Thanks @Dara-K your provided code looks good.

@codeMinter @rashmi73 The issue is current fix is fixing the data on list of registrants as it looks coming from API

https://monosnap.com/file/LTLjN1IPvwYO8n97TffPWsyvIhdnLi

@sushilshinde @Oanh-and-only-Oanh @crazyk07 Please guide here where to fix this issue which needs to be one API.

[2019-07-29 09:54] tosha5252 commented on #2892
Works in Edge but not in Chrome...

OS: Windows 10
Browsers: Edge and Chrome

[2019-07-29 09:58] tosha5252 commented on #2768
verified changed

Env:
WIndows 10
Browser: Chrome

[2019-07-29 10:01] tosha5252 commented on #2743
Operating System: Windows
Browser: Chrome

[2019-07-29 10:05] tosha5252 commented on #2888
Verified changed to #006AD7

OS: Windows 10
Browser: Chrome

[2019-07-29 11:04] PrakashDurlabhji commented on #2892
@tosha5252 I guess it never worked in chrome before, will see the issue of chrome, But requirement of this issue is already met I feel.

[2019-07-29 12:20] sushilshinde commented on #3140
Something with @nithyaasworld 's account

FYI... @urwithat

[2019-07-29 12:34] crazyk07 commented on #2824
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 12:34] crazyk07 commented on #2911
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 12:36] crazyk07 commented on #2896
Contest https://www.topcoder.com/challenges/30096741 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 12:37] r0hit-gupta commented on #2896
Already fixed by PR https://github.com/appirio-tech/accounts-app/pull/244
@veshu ticket prize yet to be doubled. Thanks!

[2019-07-29 12:40] tosha5252 commented on #2775
The color has been changed to #5d5d66, but would also like to know from @Dara-K if opacity level needs to be adjusted or removed...@mishacucicea, would another issue be created to change the opacity level, or just use this one?

[2019-07-29 12:46] tosha5252 commented on #2798
Verified
Env:
Windows 10
Browser: Chrome, Edge

[2019-07-29 12:46] crazyk07 commented on #2798
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 12:48] #2798 closed

[2019-07-29 12:48] crazyk07 commented on #2798
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097285<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 12:50] tosha5252 commented on #2892
@PrakashDurlabhji Chrome coverage is important...so we can't pass it if it is tested in Chrome browser and not working

[2019-07-29 12:56] crazyk07 commented on #2806
Contest https://www.topcoder.com/challenges/30097302 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 12:56] tosha5252 commented on #2892
[TinyTake by MangoApps-29-07-2019-07-53-34.zip](https://github.com/topcoder-platform/community-app/files/3442307/TinyTake.by.MangoApps-29-07-2019-07-53-34.zip)

This is what I am seeing in Chrome

[2019-07-29 12:59] mishacucicea commented on #2775
@tosha5252 - We'll use a new one if needed, to keep it simple.

[2019-07-29 12:59] tosha5252 commented on #2880
In production env, tab still skips 'get reset link' and 'back to login'

[2019-07-29 13:14] crazyk07 commented on #2775
Contest https://www.topcoder.com/challenges/30097377 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 13:14] crazyk07 commented on #2791
Contest https://www.topcoder.com/challenges/30097399 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 13:15] r0hit-gupta commented on #2791
Already fixed by PR https://github.com/appirio-tech/accounts-app/pull/266

@veshu ticket prize yet to be doubled. Thanks!

[2019-07-29 13:34] veshu commented on #2896
@mishacucicea please check the prize part. Thanks!

[2019-07-29 13:35] crazyk07 commented on #2828
Contest https://www.topcoder.com/challenges/30097359 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 13:38] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 13:38] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 13:40] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 13:40] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 13:43] r0hit-gupta commented on #2847
@PrakashDurlabhji @codeMinter this has been solved by PR https://github.com/topcoder-platform/community-app/pull/3157

[2019-07-29 14:08] nithyaasworld commented on #2842
Make sure not to hard-code any colours unless and until directed. Use variables always.

[2019-07-29 14:13] PrakashDurlabhji commented on #2847
@veshu @codeMinter rohit has copied my PR and nothing else.you can check it.

these both PR  code are same:
https://github.com/topcoder-platform/community-app/pull/2949/files
https://github.com/topcoder-platform/community-app/pull/3157/files

@codeMinter if his code will be considered than why not mine?

[2019-07-29 14:16] PrakashDurlabhji commented on #2828
@veshu @codeMinter rohit has copied my PR and nothing else.you can check it.

these both PR code are same:
https://github.com/topcoder-platform/community-app/pull/2949/files
https://github.com/topcoder-platform/community-app/pull/3157/files

@codeMinter if his code will be considered than why not mine?

[2019-07-29 14:50] codeMinter commented on #2828
@PrakashDurlabhji I don't see his PR has been reviewed yet. Even if it is same,  it will be considered as he doesn't has failing tests,  as I see in the PR.

Plus after repeated requests you didn't care to fix PR.  If you are not responding,  PR will be Closed and ticket opened for pickup for other participants who can make exact copy of your solution making sure PR has no issues.

This is rule an

[2019-07-29 15:00] PrakashDurlabhji commented on #2828
@codeMinter but there is no difference in PR, even I can make same commit in my PR which he did.

[2019-07-29 15:07] Oanh-and-only-Oanh commented on #2893
@romitgit, what's the status on this?

[2019-07-29 15:07] crazyk07 commented on #2893
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 15:09] Oanh-and-only-Oanh commented on #2814
@r0hit-gupta, what's the status on this?

[2019-07-29 15:09] PrakashDurlabhji commented on #2814
@veshu @codeMinter isnt that a rule that new issues cannot be picked up unless we solve previous feedbacks?
or is it allowed for few peoples?

I do not have any problem particularly but it disappoints

[2019-07-29 15:10] PrakashDurlabhji commented on #2814
@Oanh-and-only-Oanh and I commented simultaneously. what a timing.

[2019-07-29 15:14] PrakashDurlabhji commented on #2814
@codeMinter can you please say something on my above comment? It hurts when hard work is taken directly like this. If he would have taken anyother open issues , then it wont be a problem but it is surely not a good thing I feel.

[2019-07-29 15:18] Dara-K commented on #2775
For this one, let's change the color of the Join button and Show button when disabled to #6B6B6B. No need to use transparency for them as that will lower the contrast only and will make it difficult to perceive for the users.

[2019-07-29 15:18] sushilshinde commented on #2794
@veshu @codeMinter @r0hit-gupta  I made a release "topcoder-react-ui-kit": "1.0.4"

Also updated community-app it will be reflected in 20 mins,

Please clear cache and test

[2019-07-29 15:21] mishacucicea commented on #2776
@PrakashDurlabhji @tosha5252 @drasticdpk  It's very odd, the code is there, it works when I access it (as seen in the screenshot).

Have you tried a hard refresh or incognito window?

[2019-07-29 15:23] mishacucicea commented on #2767
@tosha5252 Please try again in incognito window.

[2019-07-29 15:26] drasticdpk commented on #2738
verified on MAC/Chrome

[2019-07-29 15:27] #2738 closed

[2019-07-29 15:27] mishacucicea commented on #2896
@r0hit-gupta I don't understand what you're saying? Contact me on slack.

[2019-07-29 15:27] crazyk07 commented on #2738
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097460<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 15:38] cwdcwd commented on #2996
Those values are hard coded in the challenge API [here](https://github.com/appirio-tech/ap-challenge-microservice/blob/dev/src/main/java/com/appirio/service/challenge/Helper.java#L101)

[2019-07-29 15:50] drasticdpk commented on #2741
Verified on.
Operating System: Windows
Browser: Chrome

[2019-07-29 15:50] #2741 closed

[2019-07-29 15:51] crazyk07 commented on #2741
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097418<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 15:58] nkumar-topcoder commented on #2814
@mishacucicea @r0hit-gupta can you pls let me know if this issue is now only on Edge but working on chrome ?

[2019-07-29 16:02] nkumar-topcoder commented on #2880
@tosha5252 can you pls try browser incognito mode for chrome and edge please.

[2019-07-29 16:05] nkumar-topcoder commented on #2776
@tosha5252 can you please check.

[2019-07-29 16:16] nkumar-topcoder commented on #2783
@drasticdpk can you please recheck, I have refreshed the cache

[2019-07-29 16:28] drasticdpk commented on #2751
As suggested by @lakshmiathreya, Verified the color code  provided by designer on production env.
Operating System: Windows
Browser: Chrome

[2019-07-29 16:29] #2751 closed

[2019-07-29 16:29] crazyk07 commented on #2751
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097523<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:32] drasticdpk commented on #2752
Operating System: Windows
Browser: Chrome

[2019-07-29 16:35] drasticdpk commented on #2757
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-29 16:36] #2757 closed

[2019-07-29 16:36] crazyk07 commented on #2757
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097528<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:40] drasticdpk commented on #2771
Verified on.
Operating System: Windows
Browser: Chrome

[2019-07-29 16:40] #2771 closed

[2019-07-29 16:40] crazyk07 commented on #2771
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097505<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:40] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:40] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:40] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:41] crazyk07 commented on #2752
Payment failed: [500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:41] crazyk07 commented on #2752
Payment failed: [500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:42] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:42] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:45] drasticdpk commented on #2772
Operating System: Windows/Android
Browser: Chrome

[2019-07-29 16:47] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:47] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:47] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:47] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:47] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:48] #2772 closed

[2019-07-29 16:48] crazyk07 commented on #2772
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097502<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:48] lakshmiathreya commented on #2842
@Sushil I verified on multiple browsers in Mac on Prod - the color is #a3a3ae.
<img width="1651" alt="Screenshot 2019-07-29 at 10 16 53 PM" src="https://user-images.githubusercontent.com/51733042/62066391-d1e2b680-b24e-11e9-9874-c36dae8ffd08.png">

[2019-07-29 16:48] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:48] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:49] Dara-K commented on #2883
@PrakashDurlabhji  Please use #006AD7  for the link color and the links should be underlined as well. I have updated the blue color for buttons and links to #006AD7. Background color can stay the same.

[2019-07-29 16:55] drasticdpk commented on #2796
Operating System: macOS
Browser: Chrome

[2019-07-29 16:55] #2796 closed

[2019-07-29 16:56] crazyk07 commented on #2796
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097310<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 16:57] drasticdpk commented on #2803
Operating System: macOS
Browser: Chrome

[2019-07-29 16:57] #2803 closed

[2019-07-29 16:58] crazyk07 commented on #2803
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097282<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 17:02] drasticdpk commented on #2907
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-29 17:04] #2907 closed

[2019-07-29 17:04] crazyk07 commented on #2907
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096722<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 17:07] drasticdpk commented on #2897
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-29 17:07] #2897 closed

[2019-07-29 17:08] crazyk07 commented on #2897
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096750<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 17:12] drasticdpk commented on #2902
verified on
Operating System: Windows
Browser: Chrome

[2019-07-29 17:12] #2902 closed

[2019-07-29 17:13] crazyk07 commented on #2902
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096738<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 17:18] drasticdpk commented on #2873
Topcoder handle does not focus using tab.

[2019-07-29 17:23] drasticdpk commented on #2840
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-29 17:23] #2840 closed

[2019-07-29 17:24] crazyk07 commented on #2840
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097373<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 17:26] drasticdpk commented on #2839
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-29 17:26] #2839 closed

[2019-07-29 17:27] crazyk07 commented on #2839
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097394<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 17:29] drasticdpk commented on #2835
Operating System: Windows
Browser: Chrome

[2019-07-29 17:29] #2835 closed

[2019-07-29 17:30] crazyk07 commented on #2835
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097138<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 17:32] drasticdpk commented on #2832
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-29 17:32] #2832 closed

[2019-07-29 17:33] crazyk07 commented on #2832
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097273<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 17:34] drasticdpk commented on #2846
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-29 17:35] #2846 closed

[2019-07-29 17:35] crazyk07 commented on #2846
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097104<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 17:37] r0hit-gupta commented on #2814
@nkumar-topcoder @mishacucicea working for me on Mac/Chrome.

[2019-07-29 17:46] drasticdpk commented on #2825
Verified on
Operating System: Windows/JAWS
Browser: Chrome

[2019-07-29 17:46] #2825 closed

[2019-07-29 17:47] crazyk07 commented on #2825
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096863<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 17:49] drasticdpk commented on #2822
Verified on,
Operating System: Windows
Browser: Chrome

[2019-07-29 17:50] #2822 closed

[2019-07-29 17:50] crazyk07 commented on #2822
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097318<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 18:00] r0hit-gupta commented on #2814
@codeMinter @veshu @PrakashDurlabhji I really do not feel I have taken over your work wrongfully. The issue was marked as open for pickup and I simply raised a PR against it. I agree that I missed this feedback which could have been addressed earlier but I believe to err is human.
I have been resolving all of my feedbacks before proceeding with other issues. It's just this one issue which got left

[2019-07-29 18:05] drasticdpk commented on #2820
@veshu , Since some header are not showing in Test env due to configuration/Setup dependency. It would be great if we  could setup all scenario in test environment , so it has less chance to miss all scenario by developer.
For example ELIGIBLE EVENTS:
![image](https://user-images.githubusercontent.com/25297859/62070645-a1a11500-b25a-11e9-8a2e-ef55c105356d.png)

[2019-07-29 18:07] drasticdpk commented on #2811
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-29 18:08] #2811 closed

[2019-07-29 18:08] crazyk07 commented on #2811
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097824<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 18:10] cwdcwd commented on #2862
this is not a login issue. This is on the home/landing page of the site

![image](https://user-images.githubusercontent.com/1504607/62071484-a1792900-b20a-11e9-9a09-2b25b416f5b0.png)

[2019-07-29 18:12] r0hit-gupta commented on #2828
@PrakashDurlabhji sometimes a problem can only be solved in a single way. Everyone would come up with the same solution if someone asks them to solve `2+2`. Would you then claim they copied your solution?

[2019-07-29 18:12] crazyk07 commented on #2859
Contest https://www.topcoder.com/challenges/30097083 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 18:12] tosha5252 commented on #2854
This is not working in the production environment in Chrome browser.  None of the links in the footer are being read out.

[2019-07-29 18:13] drasticdpk commented on #2810
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-29 18:13] #2810 closed

[2019-07-29 18:14] crazyk07 commented on #2810
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097212<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 18:16] PrakashDurlabhji commented on #2883
@Dara-K shall we keep just changing color in the scope of ticket because making it underline for text may conflict with other PR codes because i guess tickets are raised already for making links text underline, also major scope of requirement is to change colors, so would not like to add things which would delay it more further, as I am in hurry to close issues which meets requirement immediately.

[2019-07-29 18:18] drasticdpk commented on #2805
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-29 18:18] #2805 closed

[2019-07-29 18:19] crazyk07 commented on #2805
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097279<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 18:19] r0hit-gupta commented on #2896
@mishacucicea can you please provide me with the slack details? I do not have any information about the Slack channel. Thanks!
Also, the fix is working for me on hover too. Please confirm on https://accounts.topcoder-dev.com/member/registration. If there is still an issue, please let me know the screen reader being used so I can test using the same reader. Thanks!

[2019-07-29 18:20] drasticdpk commented on #2802
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-29 18:21] #2802 closed

[2019-07-29 18:21] crazyk07 commented on #2802
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096985<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 18:26] PrakashDurlabhji commented on #2883
@Dara-K I guess mine another PR had covered this issue too of changing color, so #006AD7 is present now and can be tested i feel, so kindly ignore my above comment and I have added underline code to make join now visible as link

new PR link is: https://github.com/appirio-tech/accounts-app/pull/277

[2019-07-29 18:28] PrakashDurlabhji commented on #2776
@tosha5252 @mishacucicea such similar deployment issue is found even on nahids PR, though his PR merged but still no code on environment, I guess this kind of problem is on similar line. am I correct?

[2019-07-29 19:04] crazyk07 commented on #3089
Contest https://www.topcoder.com/challenges/30097698 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 19:09] PrakashDurlabhji commented on #2775
@mishacucicea sorry for delay  but all will be tested now and perfect, wont take time now. I am raising PR now which satisfies above comment of Dara-K, I also saw your commits on my PR which is merged now, thanks for that.

[2019-07-29 19:16] r0hit-gupta commented on #2814
@nkumar-topcoder @mishacucicea @Oanh-and-only-Oanh for me, errors are being read on both Mac/Chrome using VoiceOver & Windows/Edge using JAWS.
Test URL - https://accounts.topcoder-dev.com/member/registration
Please check if the page isn't cached.

P.S. Topcoder cache management surely has some issues. Even on the production env, I have to refresh several times to see the latest challenges and chal

[2019-07-29 19:19] PrakashDurlabhji commented on #2775
@mishacucicea @tosha5252 new PR and locally tested perfectly. https://github.com/appirio-tech/accounts-app/pull/278

[2019-07-29 19:24] kkartunov commented on #3077
@talesforce PR was failing tests. Please, fix and resubmit.

[2019-07-29 19:32] Oanh-and-only-Oanh commented on #2791
@veshu @r0hit-gupta, doubling prize amount.

[2019-07-29 19:33] crazyk07 commented on #2791
Contest https://www.topcoder.com/challenges/30097399 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 19:33] r0hit-gupta commented on #2794
@sushilshinde working for me. Button color is `#ea1900` as Dara-K suggested and passes WCAG AA requirement.

Test URL - https://test-community-app.topcoder-dev.com/challenges

[2019-07-29 19:35] Oanh-and-only-Oanh commented on #2760
@asadath1395, there is still a conflict. Please resolve.

[2019-07-29 19:35] crazyk07 commented on #3001
@rashmi73  Will you be able to work on this ticket in the next 12 hours?  We have upgraded this ticket to a P0 and will increase price as well.  You have a code review failure that needs to be addressed.  Thank you!

[2019-07-29 19:36] crazyk07 commented on #3001
Contest https://www.topcoder.com/challenges/30096712 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 19:44] Oanh-and-only-Oanh commented on #2877
removing @romitgit due to no action/response.

[2019-07-29 19:47] Oanh-and-only-Oanh commented on #2868
@PrakashDurlabhji, what's the status on this?

[2019-07-29 19:48] Oanh-and-only-Oanh commented on #2860
@romitgit, please fix conflicts.

[2019-07-29 19:51] PrakashDurlabhji commented on #2868
@Oanh-and-only-Oanh just 5 mins, and I hope highlight here means focused. correct?

because I am not able to acess following link it is not working.
https://topcodermsft-my.sharepoint.com/personal/pd-topcoder_topcodermsft_onmicrosoft_com/Documents/Forms/All.aspx?cid=63cedfe6%2D52a5%2D4f33%2D9399%2D00e26b7dd4a2&FolderCTID=0x0120005C598A51049FC14CBA882E1AEE168F51&id=%2Fpersonal%2Fpd%2Dtopcoder%5Ftop

[2019-07-29 19:59] PrakashDurlabhji commented on #2868
@mishacucicea here is verification screenshot for join button. is this expected?
![2868](https://user-images.githubusercontent.com/28830240/62078144-8558a480-b269-11e9-8f79-af471357bc60.png)

[2019-07-29 20:05] PrakashDurlabhji commented on #2868
@mishacucicea PR updated https://github.com/appirio-tech/accounts-app/pull/248

[2019-07-29 20:08] crazyk07 commented on #2877
Contest https://www.topcoder.com/challenges/30096801 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 20:13] crazyk07 commented on #2877
Contest https://www.topcoder.com/challenges/30096801 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 20:13] PrakashDurlabhji commented on #2809
@veshu @sexta13 new PR https://github.com/topcoder-platform/topcoder-react-utils/pull/46

[2019-07-29 20:16] r0hit-gupta commented on #2877
Already fixed by PR https://github.com/appirio-tech/accounts-app/pull/237/

Test URL - https://accounts.topcoder-dev.com/sso-login/?app=member

[2019-07-29 20:20] PrakashDurlabhji commented on #2890
@sexta13 new PR https://github.com/topcoder-platform/topcoder-react-utils/pull/47

[2019-07-29 20:21] PrakashDurlabhji commented on #2908
@veshu releasing it as wont be able to complete it.

[2019-07-29 20:49] Oanh-and-only-Oanh commented on #2883
passed code review per TonyJ

[2019-07-29 20:53] crazyk07 commented on #2880
@nkumar-topcoder  Partially confirmed what @tosha5252  said:

What works:
1. Tab button does go through each selection (Works on a screenreader as well)

What does NOT Work:
1. "Back to Login" link is not **Visually** highlighted when it is actually highlighted.

[2019-07-29 20:58] mishacucicea commented on #2760
@asadath1395 , your fix became obsolete, because the qa-accessibility branch already has **title** attribute, and adding another attribute will make the screen-reader pronounce one additional time the related text.

[2019-07-29 21:14] PrakashDurlabhji commented on #2871
@veshu @codeMinter new PR https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/20

[2019-07-29 21:15] PrakashDurlabhji commented on #2871
@veshu can you please double the prize it was left out while you doubled others. thank you

[2019-07-29 21:15] crazyk07 commented on #3001
Contest https://www.topcoder.com/challenges/30096712 has been updated - it has been assigned to sexta13.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 21:24] Oanh-and-only-Oanh commented on #2827
please review code PR https://github.com/appirio-tech/accounts-app/pull/256

[2019-07-29 21:27] crazyk07 commented on #2908
Contest https://www.topcoder.com/challenges/30096719 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 21:30] PrakashDurlabhji commented on #2826
@veshu new PR https://github.com/topcoder-platform/topcoder-react-utils/pull/48

[2019-07-29 21:31] Oanh-and-only-Oanh commented on #2813
please review code PR appirio-tech/accounts-app#256

[2019-07-29 21:39] mishacucicea commented on #2775
@PrakashDurlabhji
 - You've introduced an unneeded css class
 - Raised complexity because you missed the `opacity` keyword in the discussion above and the Join didn't had enough contrast in grey because of the default opacity of 0.3.

I have fix it, take a look at the PR, hope you learn from it.

[2019-07-29 21:43] mishacucicea commented on #2776
I can see your change on the environment, so from my side, it's good. But testers need to confirm as well, in case we miss other details.

[2019-07-29 21:46] PrakashDurlabhji commented on #2777
@mishacucicea i solved this perfectly. kindly check here verification.

![2777](https://user-images.githubusercontent.com/28830240/62085116-6ca3bb00-b278-11e9-9022-5220ef067881.png)

[2019-07-29 21:51] PrakashDurlabhji commented on #2777
@mishacucicea here is PR https://github.com/appirio-tech/accounts-app/pull/279

[2019-07-29 21:57] PrakashDurlabhji commented on #2775
@mishacucicea thanks for help but you said we will handle opacity in another ticket so I did not touch it.

[2019-07-29 22:01] Oanh-and-only-Oanh commented on #2778
code review pass PR https://github.com/appirio-tech/accounts-app/pull/221

[2019-07-29 22:15] mishacucicea commented on #2791
@r0hit-gupta - I'm sorry, but the PR you're linking is fixing the Login page, and this ticket is about the Register page, which is not working in the referenced PR (I tested it).

Try to stick to the rule "1 ticket = 1 PR", which makes it easy for everyone.

[2019-07-29 22:33] crazyk07 commented on #2862
OOO

[2019-07-29 22:33] #2862 closed

[2019-07-29 22:33] crazyk07 commented on #2862
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 22:34] rashmi73 commented on #3001
@sexta13 I am solving it and it is completed.

[2019-07-29 22:37] rashmi73 commented on #3001
@sexta13 also your issue looks complicated and may have focusing issues of outline.I am raising PR in 2mins

[2019-07-29 22:38] tc-mfikria commented on #3077
@kkartunov updated

[2019-07-29 22:44] sexta13 commented on #3001
@rashmi73 , true :) I've closed my PR. Just fix the conflict files please.

[2019-07-29 22:45] rashmi73 commented on #3001
@sexta13 I am raising new PR itself to avoid confusions, I did try to work on original PR and commited changes but still conflicts. hence making fresh PR thanks

[2019-07-29 22:55] rashmi73 commented on #3001
@sexta13 @crazyk07 PR is https://github.com/appirio-tech/accounts-app/pull/281

[2019-07-29 22:57] nithyaasworld commented on #2760
Hey @mishacucicea "Merged for QA" and "Ready for QA" are used by Architects ( @sushilshinde and @nkumar-topcoder )

Can you please remove those labels and add tcx_ReadyForReview?

If it has passed code review, please add "Code Review Passed" label on the corresponding "PR"

[2019-07-29 23:07] rashmi73 commented on #2859
@crazyk07 @veshu @nithyaasworld  PR https://github.com/appirio-tech/accounts-app/pull/282

[2019-07-29 23:57] crazyk07 commented on #2880
Contest https://www.topcoder.com/challenges/30096760 has been updated - it has been assigned to sexta13.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-29 23:59] sexta13 commented on #2880
@crazyk07 I've created a PR to fix what's not working

[2019-07-30 00:23] nithyaasworld commented on #2767
@mishacucicea I tried in incognito and I still do not see the expected colour. Am I missing something?

![image](https://user-images.githubusercontent.com/5114190/62091396-4f79e700-b28e-11e9-805a-c8aaf1d456eb.png)

[2019-07-30 00:28] nithyaasworld commented on #2767
@mishacucicea I tested this on Windows Chrome. Can you confirm that you checked it on Windows Chrome too? Thanks.

[2019-07-30 01:00] nithyaasworld commented on #2791
@mishacucicea Can you provide the PR # that fixes this issue?

[2019-07-30 01:05] nithyaasworld commented on #2783
@nkumar-topcoder @mishacucicea Unfortunately its still the same.

![image](https://user-images.githubusercontent.com/5114190/62092787-26f4eb80-b294-11e9-86f9-0638be221ece.png)

[2019-07-30 01:08] ajefts commented on #2814
@Oanh-and-only-Oanh I did a test of this.  It does announce the error message now that is below the username input field:

![image](https://user-images.githubusercontent.com/3812270/62092868-f2a60e80-b244-11e9-9dd5-85fbcb7ca40e.png)

I'm not sure if this is being covered elsewhere, but we should also announce the tooltip for username format so the user knows what the allowed format is.

[2019-07-30 01:12] nithyaasworld commented on #2763
This issue is only about Registration Form and not individual input fields.

@drasticdpk @tosha5252 Please "Pass" this if it meets the above. Thanks.

[2019-07-30 01:16] ajefts commented on #2760
Tested at https://accounts.topcoder-dev.com/member.

Passed

[2019-07-30 01:19] ajefts commented on #2766
Test in dev passed.

[2019-07-30 01:23] ajefts commented on #2767
I tested this on Mac Chrome and I'm not seeing the update.  Here is what I see:

![image](https://user-images.githubusercontent.com/3812270/62093403-2b46e780-b247-11e9-8263-f2a49bae1cb3.png)

[2019-07-30 01:25] nithyaasworld commented on #2767
Hi @ajefts Can you please enter some value for the input fields and then check the Show button Colour? Thank You.

[2019-07-30 01:28] ajefts commented on #2773
Passed in dev.

[2019-07-30 01:34] ajefts commented on #2776
I tested this in dev and prod and I'm not able to see any change:

![image](https://user-images.githubusercontent.com/3812270/62093776-87f6d200-b248-11e9-9637-5d8ea6b912dd.png)

@nkumar-topcoder Maybe we need to check the deploy or cloudfront cache?

[2019-07-30 01:37] ajefts commented on #2767
@nithyaasworld When I enter values or click on it the contrast is ok.

[2019-07-30 02:06] dmessing commented on #2763
Looks like this is done

[2019-07-30 02:07] crazyk07 commented on #2880
#283

[2019-07-30 02:26] skyhit commented on #2996
@cwdcwd these are the color style from the legacy system, so we are going to change it?

also here - https://github.com/topcoder-platform/tc-elasticsearch-feeder-service/blob/423d70e4f31b1fef1117d8da28f90489df8e5ba7/src/main/java/com/appirio/service/challengefeeder/manager/ChallengeFeederUtil.java#L84

probably, we should return rating, and let the frontend determine that?

[2019-07-30 02:57] tosha5252 commented on #2747
Changed to #151516, which pass WCAG standard

[2019-07-30 03:06] crazyk07 commented on #2884
No Repo

[2019-07-30 03:06] #2884 closed

[2019-07-30 03:06] crazyk07 commented on #2884
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 03:10] romitgit commented on #2820
Should I commit a fix for this @drasticdpk ?

[2019-07-30 03:17] romitgit commented on #2893
@Oanh-and-only-Oanh Here is the new PR with changes https://github.com/topcoder-platform/community-app/pull/3160

[2019-07-30 03:19] crazyk07 commented on #2854
@sushilshinde  Same thing here.  Not working in Production.  More context:

When tabbing through the icons, they are read out properly, but when hovering with the mouse on the FB Icon, it just says "F".

Using NVDA.

[2019-07-30 03:24] romitgit commented on #2881
Whats the status?

[2019-07-30 03:25] tosha5252 commented on #2776
@mishacucicea checked in both dev and prod, in both Chrome incognito and Windows 10 Edge InPrivate and still showing the same thing...a3a3ae

[2019-07-30 03:26] crazyk07 commented on #2851
https://github.com/topcoder-platform/community-app/issues/2763 Covered by this.

[2019-07-30 03:26] #2851 closed

[2019-07-30 03:27] crazyk07 commented on #2769
Agreed.

[2019-07-30 03:27] #2769 closed

[2019-07-30 03:44] tosha5252 commented on #2791
Verified working

OS: Windows 10
Browser: Chrome and Edge

[2019-07-30 03:52] nkumar-topcoder commented on #2773
@drasticdpk @tosha5252 @lakshmiathreya this issue is same as #2812 PR 239 and it is already pushed to prod, verified and closed. Please reverify in prod.

[2019-07-30 03:53] tosha5252 commented on #2783
I'm able to see it in Chrome
@nithyaasworld

![Annotation 2019-07-29 225155](https://user-images.githubusercontent.com/6400904/62099414-94ccf300-b253-11e9-8f87-4df488c482f3.png)

[2019-07-30 03:57] nithyaasworld commented on #2783
Awesome! I can see too. Please add the respective labels. Thanks.

[2019-07-30 03:58] tosha5252 commented on #2854
@sushilshinde still getting the same thing, not working for me in Chrome

[2019-07-30 04:04] crazyk07 commented on #2761
Duplicate of other changes being made

[2019-07-30 04:04] #2761 closed

[2019-07-30 04:09] nkumar-topcoder commented on #2767
@nithyaasworld could be cache issue, refreshed cloudfront. pls check

[2019-07-30 04:18] nkumar-topcoder commented on #2766
@drasticdpk Since no change has been made post prod push and it's reverified in DEV, pls check in Prod and close the ticket. Also, refer to mishacucicea explanation above. Thanks.

[2019-07-30 04:19] tosha5252 commented on #2773
Veri
![Annotation 2019-07-29 231827](https://user-images.githubusercontent.com/6400904/62100415-4c173900-b257-11e9-80b6-0eadf898eb02.png)
fied on Chrome, WIndows 10

[2019-07-30 04:20] tosha5252 commented on #2773
C

[2019-07-30 04:20] #2773 closed

[2019-07-30 04:21] crazyk07 commented on #2773
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097501<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 04:22] crazyk07 commented on #3075
@callmekatootie, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 04:27] tosha5252 commented on #2766
Verified correct....tab-index is set to '0' in prod...which is acceptable

[2019-07-30 04:28] #2766 closed

[2019-07-30 04:29] crazyk07 commented on #2766
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097512<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 04:33] tosha5252 commented on #2883
Verified color changed to #006AD7

OS: WIndows 10
Browser: Chrome

[2019-07-30 04:37] crazyk07 commented on #3075
Contest https://www.topcoder.com/challenges/30097746 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 04:50] romitgit commented on #2860
@Oanh-and-only-Oanh Fixed conflicts and updated the request.

[2019-07-30 04:50] romitgit commented on #2860
@Oanh-and-only-Oanh https://github.com/appirio-tech/accounts-app/pull/265

[2019-07-30 04:57] lakshmiathreya commented on #2877
@nkumar @glenn pls review - did you test it in Dev? ... 'Back to Login' continues to get skipped. I checked it in Mac/Chrome Incognito.. fyi @drasticdpk @tosha5252

[2019-07-30 05:17] lakshmiathreya commented on #2877
Chrome Version 75.0.3770.142 (Official Build) (64-bit)

[2019-07-30 05:21] nkumar-topcoder commented on #2877
Version 75.0.3770.100 (Official Build) (64-bit) (the release .100) works without issue. TBD

[2019-07-30 05:22] tosha5252 commented on #2740
Checked using WAVE tool in Chrome Browser...no aria label issues...verified passing

[2019-07-30 05:22] lakshmiathreya commented on #2877
Since this is the latest version of Chrome - setting status to QA Fail.

[2019-07-30 05:23] tosha5252 commented on #2740
OS: Windows 10

[2019-07-30 05:23] #2740 closed

[2019-07-30 05:23] crazyk07 commented on #2740
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097421<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 05:46] sushilshinde commented on #2996
@skyhit for now let's only change color codes

[2019-07-30 06:02] kkartunov commented on #3096
@r0hit-gupta missing updates for:

[2019-07-30 06:10] sushilshinde commented on #2996
@skyhit @veshu @Dara-K here is the change and few things are missing from the requirements

[code]

[2019-07-30 06:12] nkumar-topcoder commented on #2888
@tosha5252 actually its not #006AD7, the PR merge file has #0096ff; can you recheck

[2019-07-30 06:14] veshu commented on #2996
@sushilshinde @skyhit
yellow is Gold(9A6D00)
orange (BA4C00)

[2019-07-30 06:15] tosha5252 commented on #2888
@nkumar-topcoder yes I will re-check

[2019-07-30 06:18] sushilshinde commented on #2996
[code]
@veshu please review the change

[2019-07-30 06:24] veshu commented on #2996
@sushilshinde looks good. Thanks!

[2019-07-30 06:28] tosha5252 commented on #2888
@nkumar-topcoder Indeed there were changes to the new color 006ad7...but sometimes it reverts back for some reason...I think some people push more than the branch that is changed sometimes? or either there are dup tickets...I see that some things have gone back...but there are 0 contrast issues at this time....which we were told to move on as passing until after the end of this run...

![Capture-1

[2019-07-30 06:29] nkumar-topcoder commented on #2760
@mishacucicea this PR is closed appirio-tech/accounts-app#254. But it has been verified, can you pls check

[2019-07-30 06:56] rashmi73 commented on #2996
@veshu @sushilshinde shall i update PR make changes above?

and yes yellow is gold, I assumed it in my PR

[2019-07-30 07:00] drasticdpk commented on #3099
Verified on Windows/Chrome.

[2019-07-30 07:06] crazyk07 commented on #3075
Contest https://www.topcoder.com/challenges/30097746 has been updated - it has been assigned to mfikria.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 07:07] nkumar-topcoder commented on #2791
@r0hit-gupta based on PR 266, this issue #2791 and #2800 appears to have common fix. Can you please confirm. FYI @mishacucicea @nithyaasworld

[2019-07-30 07:13] kkartunov commented on #3096
@r0hit-gupta please let's constraint updates only to `General` theme.

[2019-07-30 07:24] veshu commented on #2996
@rashmi73 yes please update accordingly. Thanks!

[2019-07-30 07:32] sushilshinde commented on #2873
@lakshmiathreya @drasticdpk this was a merge fix, will update today

[2019-07-30 07:38] nkumar-topcoder commented on #2776
@tosha5252 re-check in topcoder-dev.com. I just verified the code its actually  #3A3A3A; I have refreshed CDN.

[2019-07-30 07:39] sushilshinde commented on #2854
This is the case where code is in the production

This was the PR that was approved
https://github.com/topcoder-platform/community-app/pull/3057/files

And same code is in the production
https://github.com/topcoder-platform/community-app/blob/master/src/shared/components/challenge-detail/Specification/SideBar/ShareSocial.jsx

also here is the screenshot

![Sample Challenge for Test for Accessibili

[2019-07-30 07:42] maxceem commented on #1975
Recently one member participated in my F2F. This member is an active Topcoder participant but it appeared that he didn't know how to get feedback about F2F challenges. I'd like to attach the conversation I had with the member to highlight what is confusing in the current UI and workflow of getting feedback for F2F challenges.

![image](https://user-images.githubusercontent.com/146016/62109417-d656

[2019-07-30 07:50] sushilshinde commented on #2842
@crazyk07 @nithyaasworld @crazyk07 this another case where code is present on the production

https://github.com/topcoder-platform/community-app/pull/2931/files

https://github.com/topcoder-platform/topcoder-react-ui-kit/blob/fdfe7fd7cff05490dd87abe3f44542ec28fbbe0f/src/styles/_mixins/variables.scss#L28

https://github.com/topcoder-platform/community-app/blob/894e4486f05201b26ffa041cb1d8e5d502eb07

[2019-07-30 07:55] sushilshinde commented on #2836
Code is present there on the production

https://github.com/topcoder-platform/community-app/pull/2977/files

https://github.com/topcoder-platform/community-app/blob/894e4486f05201b26ffa041cb1d8e5d502eb07f9/src/shared/components/TopcoderHeader/desktop/SubMenu/Item/index.jsx#L21

[2019-07-30 07:58] drasticdpk commented on #3106
@kkartunov , To test exact scenario, we need different test account with level (eg. black, yellow, red etc). Can you please setup below test account accordingly.
 Test Accounts: pshah_manager/topcoder123 | pshah_copilot/topcoder123 | lakshmiathreya  >> Topcoder123

![image](https://user-images.githubusercontent.com/25297859/62111280-f337b700-b2cf-11e9-8fb9-1a5b3c7ba275.png)

[2019-07-30 08:31] drasticdpk commented on #3093
Verified on Chrome Browser.

[2019-07-30 08:58] r0hit-gupta commented on #2814
@ajefts @Oanh-and-only-Oanh tooltips are handled in issue https://github.com/topcoder-platform/community-app/issues/2813

[2019-07-30 09:21] sushilshinde commented on #2881
@tosha5252 Can you share screenshots?

[2019-07-30 09:25] gets0ul commented on #2836
This is tested on local production. Chrome. Windows 10

https://drive.google.com/file/d/12q8B1p2gYqymrIskj50ywl-anWbkPjHh/view?usp=sharing

[2019-07-30 09:38] lakshmiathreya commented on #2888
Verified Log In is fixed to #006ad7.  @nkumar-topcoder - could you let us know what the issue is since this color seems correctly set as per Designer recommendation?

[2019-07-30 09:39] lakshmiathreya commented on #2854
This is working on Chrome/Prod url - could you double check @tosha5252

[2019-07-30 09:40] lakshmiathreya commented on #2892
This is working as expected in Chrome - latest version. Could you double check @tosha5252. fyi @nkumar @sushil

[2019-07-30 09:41] lakshmiathreya commented on #2854
fyi @nkumar-topcoder @sushilshinde

[2019-07-30 09:53] nkumar-topcoder commented on #2888
ok fine will move ahead with Dev merge @lakshmiathreya

[2019-07-30 09:58] #2972 closed

[2019-07-30 10:03] kkartunov commented on #3071
@PrakashDurlabhji and @r0hit-gupta who was 1st ready to implement this fix?
@PrakashDurlabhji which PR you refer to?

[2019-07-30 10:06] lakshmiathreya commented on #2881
@sushilshinde this is a generic Issue - we need a list of fixes that actually went into this Issue fix. Currently WAVE shows 14 contrast errors.

[2019-07-30 10:14] r0hit-gupta commented on #2791
@mishacucicea @nkumar-topcoder yes, both the issues have a common fix. This issue can be said to be a subset of issue https://github.com/topcoder-platform/community-app/issues/2800 .

The CSS used in PR https://github.com/appirio-tech/accounts-app/pull/266 applies to the `LOG IN` & `JOIN NOW` hyperlink for both the login and registration pages.

I am able to see the changes correctly on the test U

[2019-07-30 10:23] r0hit-gupta commented on #2868
@PrakashDurlabhji please resolve merge conflicts. Thanks!

[2019-07-30 10:31] lakshmiathreya commented on #2836
Working on Win/Chrome Jaws reads on mouse over of Sub menu items. @tosha5252 pls double check. fyi - @nkumar-topcoder @sushilshinde

[2019-07-30 10:36] PrakashDurlabhji commented on #2868
@mishacucicea @r0hit-gupta  done

[2019-07-30 10:48] lakshmiathreya commented on #2820
@nkumar-topcoder @sushilshinde - this is one of the Env dependent issues as raised in the call yesterday. Unable to test it completely in Dev. Heading structure as visible in Dev was tested and passed by @drasticdpk. Hence failed in Prod. @drasticdpk - could you add image of this page on Dev to clarify?

[2019-07-30 10:56] crazyk07 commented on #3091
Contest https://www.topcoder.com/challenges/30097696 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 10:56] r0hit-gupta commented on #3091
Copyright Message - Fixed by PR https://github.com/topcoder-platform/community-app/pull/2932
Menu Items - Fixed by PR https://github.com/topcoder-platform/community-app/pull/3062

[2019-07-30 11:08] nithyaasworld commented on #2767
@nkumar-topcoder Can you please deploy this fix again to dev environment? Seems like its not available.

[2019-07-30 11:12] sushilshinde commented on #3096
Already deployed

[2019-07-30 11:20] nithyaasworld commented on #2877
Its failing for me too. Tested on Windows Chrome Version 75.0.3770.142 (Official Build) (64-bit)

[2019-07-30 11:32] r0hit-gupta commented on #2877
@nithyaasworld @lakshmiathreya this is really strange. Its now failing for me too on both production and dev environments.

However, when run locally everything seems to work fine. Please see if the code is deployed properly.

Commit Link - https://github.com/appirio-tech/accounts-app/commit/aa20e3d23de059671da1471fc6776e681a9ee2a3

[2019-07-30 11:36] drasticdpk commented on #2854
@lakshmiathreya  still I am having issue. Please confirm.
https://monosnap.com/file/PQpBGL8XJrECAs9WvwgXgT9P9zyT45

[2019-07-30 11:48] r0hit-gupta commented on #2746
Fixed by PR https://github.com/topcoder-platform/community-app/pull/2962

[2019-07-30 11:57] r0hit-gupta commented on #2867
@sushilshinde @mishacucicea unable to reproduce this.

Test URL - https://www.topcoder.com/challenges
Env - Windows/Chrome
Screen Reader Used - NVDA

[2019-07-30 11:59] nithyaasworld commented on #2767
Show button when not in focused (Gray colour) has right contrast. Whereas, when its focused (blue button), its not of the expected contrast.

[2019-07-30 12:01] mishacucicea commented on #2760
@nkumar-topcoder This issue was probably fixed by another PR that introduced title attribute, but not sure if we can identify it easily.

[2019-07-30 12:03] lakshmiathreya commented on #2854
@drasticdpk - you are right - Chrome on Mac reads out Facebook correctly on Voice Over. Chrome on Window 10 Jaws reads it out as F.

[2019-07-30 12:03] drasticdpk commented on #2814
@ajefts   now it is working as expected.
here is the reference link
https://monosnap.com/file/CUuS1OJbs6LoDUefcrzf5LAoqELBuq

[2019-07-30 12:04] #2814 closed

[2019-07-30 12:04] crazyk07 commented on #2814
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097267<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 12:07] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 12:07] r0hit-gupta commented on #2854
@lakshmiathreya @drasticdpk @sushilshinde it might be due to the fact that the facebook is not exactly an icon image but a `div`.

https://github.com/topcoder-platform/community-app/blob/a56a0f8ccc5b047eab986609aafd6dbd3818e9f4/src/shared/components/challenge-detail/Specification/SideBar/ShareSocial.jsx#L43

[2019-07-30 12:09] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 12:09] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 12:13] r0hit-gupta commented on #2795
@sushilshinde @Oanh-and-only-Oanh @codeMinter unable to reproduce.
Device: Desktop/Laptop
Operating System: Windows
Browser: Edge
Screen Reader Used: NVDA

Test URL - https://accounts.topcoder.com/member/registration

[2019-07-30 12:27] tosha5252 commented on #2836
Video of what I get on NVDA Win/Chrome

[TinyTake30-07-2019-07-23-21.zip](https://github.com/topcoder-platform/community-app/files/3446718/TinyTake30-07-2019-07-23-21.zip)

[2019-07-30 12:28] drasticdpk commented on #2775
The color code suggested by @Dara-K has not been updated.
![image](https://user-images.githubusercontent.com/25297859/62129109-9cdd6f00-b2f5-11e9-8265-19ac035529d7.png)

[2019-07-30 12:34] drasticdpk commented on #3092
Verified on Chrome Browser.

[2019-07-30 12:37] nithyaasworld commented on #2776
@nkumar-topcoder This one is still failing too.

![image](https://user-images.githubusercontent.com/5114190/62129659-eaa5a780-b2f4-11e9-9020-e8920fe31b21.png)

[2019-07-30 12:39] lakshmiathreya commented on #2792
@tosha5252 could you upload a video to explain the issue?

[2019-07-30 12:47] Dara-K commented on #2797
@r0hit-gupta  That's right.

[2019-07-30 12:49] r0hit-gupta commented on #2797
@tosha5252 this seems to be a typo by Dara. Please review again. Thanks!

[2019-07-30 12:53] lakshmiathreya commented on #2759
@tosha5252 pls check once more - it is working for me Windows 10/Chrome/NVDA - reading out Data Science and Filters consistently...

[2019-07-30 12:56] lakshmiathreya commented on #2792
Clarification - in Dev we are unable to add Skills to Member profile. @nkumar-topcoder  @sushilshinde @crazyk07 @Oanh-and-only-Oanh - pls take a call on this - we could merge the fix to Prod and test it there directly if you are confident about the code review. fyi - @tosha5252 @drasticdpk

[2019-07-30 12:58] crazyk07 commented on #2791
Contest https://www.topcoder.com/challenges/30097399 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 13:03] r0hit-gupta commented on #2894
@sushilshinde @codeMinter @veshu unable to reproduce the issue. The video attached with the issue is already showing the correct way of how a select box should be read out by a screen reader. Please review.

Device: Desktop/Laptop
Operating System: Windows
Browser: Edge
Screen Reader Used: NVDA

[2019-07-30 13:04] crazyk07 commented on #2894
Contest https://www.topcoder.com/challenges/30096746 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 13:04] crazyk07 commented on #2795
Contest https://www.topcoder.com/challenges/30097880 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 13:05] crazyk07 commented on #2867
Contest https://www.topcoder.com/challenges/30097857 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 13:13] crazyk07 commented on #2879
Contest https://www.topcoder.com/challenges/30096769 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 13:15] r0hit-gupta commented on #2879
@sushilshinde @mishacucicea @codeMinter unable to reproduce this.

Test URL - https://accounts.topcoder.com/member
Env - Windows/Edge
Screen Reader Used - NVDA

[2019-07-30 13:16] lakshmiathreya commented on #2797
Pls confirm - is it #258025 - if so its working fine. @tosha5252 - pls review once @r0hit-gupta responds and set to QA Pass.

[2019-07-30 13:18] nkumar-topcoder commented on #2767
@nithyaasworld @ajefts can I push to prod as verified. Or is contrast still an issue ?

[2019-07-30 13:19] r0hit-gupta commented on #2797
@lakshmiathreya @tosha5252 it is `#258025` and can be verified here - https://marvelapp.com/c7h2a6h/screen/59648056/handoff for color `$tc-green-110`

[2019-07-30 13:29] lakshmiathreya commented on #2745
@r0hit-gupta could you clarify the final decision on all 3 colors pls so we have a consistent reference ... fyi @tosha5252 @drasticdpk

[2019-07-30 13:34] r0hit-gupta commented on #2745
@lakshmiathreya @tosha5252 as per @Dara-K original comment, all the colors were specified in the palette link except the blue color `#0076A5`. I think this might be a typo, so used one of the blue colors from the given palette link which passed the WCAG AA requirement. I hope this clears it up.

@Dara-K Please confirm once again.

[2019-07-30 13:41] crazyk07 commented on #2767
Contest https://www.topcoder.com/challenges/30097511 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 13:42] r0hit-gupta commented on #2767
PR at https://github.com/appirio-tech/accounts-app/pull/286

[2019-07-30 13:45] r0hit-gupta commented on #2767
@nithyaasworld @nkumar-topcoder @mishacucicea please review.

[2019-07-30 13:46] PrakashDurlabhji commented on #2767
@r0hit-gupta it is with me, i am on it , why did u unassign me?

[2019-07-30 13:46] crazyk07 commented on #2767
Contest https://www.topcoder.com/challenges/30097511 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 13:47] r0hit-gupta commented on #2767
@sushilshinde please confirm.

[2019-07-30 13:49] PrakashDurlabhji commented on #2767
@sushilshinde i am waiting for above discussion to end due to deployment issue and its not open for pickup and started taking issues, i need to see whether my other issues are also taken, i just came online

[2019-07-30 14:07] crazyk07 commented on #2801
Contest https://www.topcoder.com/challenges/30096897 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 14:09] r0hit-gupta commented on #2801
@sushilshinde @veshu @codeMinter unable to test the website using the provided website http://www.cynthiasays.com. No results are shown for the scan. It is very likely that all these errors stated above are fixed in other PRs. How shall I proceed?

[2019-07-30 14:10] PrakashDurlabhji commented on #2776
@sushilshinde I hope I can wait for discussion above, I am still confused whether deployment issue exist? because locally all working.

also, I guess rohit has been given special privilges to unassign me and start assigning it, though discussion is going on ticket and not a feedback pending since days.

[2019-07-30 14:18] PrakashDurlabhji commented on #2791
@nithyaasworld @mishacucicea  my PR also solved it

[2019-07-30 14:24] PrakashDurlabhji commented on #2892
@tosha5252 Request you to resolve discussion at earliest because people are waiting to just take my issues and copy PR rather than picking up new tickets.

watching QA fail label people have started directly unassigning me hence afraid if even this is taken suddenly.

@sushilshinde

[2019-07-30 14:26] crazyk07 commented on #2816
Already fixed

[2019-07-30 14:26] #2816 closed

[2019-07-30 14:26] crazyk07 commented on #2816
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 14:27] crazyk07 commented on #2801
Duplicate

[2019-07-30 14:27] #2801 closed

[2019-07-30 14:27] crazyk07 commented on #2801
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 14:34] nkumar-topcoder commented on #2877
@r0hit-gupta I verified and code is merged correctly i am not expert but using variable could be causing $tc-dark-blue-70, can we use direct hex values ?
can you reverify now. refreshed the cache now in dev accounts.topcoder-dev.com

[2019-07-30 14:39] sushilshinde commented on #2892
@PrakashDurlabhji don't panic, nobody will take your issues. Please focus on open issues, there are many.
Issues that were not active have re-assigned.

[2019-07-30 14:41] r0hit-gupta commented on #2877
@nkumar-topcoder I guess there is a problem with deployment only. Here is one case:

Actual code - https://github.com/appirio-tech/accounts-app/blob/58f4a94d28c5a2b42257fbf3bf5eb54d93ea46b6/app/views/sso/sso-login.jade#L21

Code on dev -
![image](https://user-images.githubusercontent.com/16841686/62138885-0ebdb480-b306-11e9-8a8b-cca26b8546a3.png)

It is not showing the tabindex property on the `<a

[2019-07-30 15:06] lakshmiathreya commented on #2881
Moving to QA Pass based on overall progress on contrast - however, this will be an ongoing exercise in fixing contrast. Consensus with @Glenn @sushilshinde @nkumar-topcoder - this is a generic issue on contrast - cannot be verified specifically.

[2019-07-30 15:09] lakshmiathreya commented on #2776
Continue to see a3a3ae ...

[2019-07-30 15:10] nithyaasworld commented on #2776
@lakshmiathreya  Yeah, but based on our Slack conversations, made this to "QA Pass"

[2019-07-30 15:17] drasticdpk commented on #3096
@Dara-K , We may need  your help to verify this issue, since text are displaying quite different.
![image](https://user-images.githubusercontent.com/25297859/62141950-29dff280-b30d-11e9-9028-158f55d68cee.png)

[2019-07-30 15:19] lakshmiathreya commented on #2892
Moving to Pass - verified in Chrome and Edge ... fyi @tosha5252 @drasticdpk

[2019-07-30 15:21] r0hit-gupta commented on #3096
@Dara-K this is why I asked about the units. It kinda looks weird. Please review.

[2019-07-30 15:24] lakshmiathreya commented on #2797
Moving to Pass based on confirmation that #258025 is the intended color. fyi @tosha5252 @drasticdpk

[2019-07-30 15:28] lakshmiathreya commented on #2767
As discussed in the review call this evening, there is consensus that we can put this issue On Hold - take it off the Prod merge list and resume review of this later. Updating Label. @drasticdpk @tosha5252 fyi

[2019-07-30 15:39] lakshmiathreya commented on #2759
Moving to Pass based on verification with NVDA ... fyi - @tosha5252 @drasticdpk

[2019-07-30 15:45] drasticdpk commented on #2775
Hi @PrakashDurlabhji ,
Below is my finding , pease suggest if i was wrong. It would be great if you share your finding screenshot too.
https://monosnap.com/file/xn2B7DuEzjALghY11ju9KgsS2CtEHZ
https://monosnap.com/file/fzqalFkSaMBriTYYdFqW1lfNxubcbq

[2019-07-30 15:51] sushilshinde commented on #2820
@drasticdpk there was a patch provided

https://github.com/topcoder-platform/community-app/pull/3161

Please test after 15 mins

[2019-07-30 15:58] nkumar-topcoder commented on #2877
@r0hit-gupta thanks rohit for deep diving and giving the proof. We must merge to dev in order to test in dev. (but still qa-accessibility branch also should push to dev and verifiable).

[2019-07-30 15:58] crazyk07 commented on #2745
@r0hit-gupta  Think you made a typo on "green" .  On dev I see #258025, but it should actually be 258205.  Probably a Typo.

The others I see as accurate. @lakshmiathreya @tosha5252

Chrome
Windows 10

[2019-07-30 15:59] crazyk07 commented on #2745
![image](https://user-images.githubusercontent.com/43656195/62145469-64fc0a80-b2a8-11e9-89ab-d1a0c169d0bd.png)

[2019-07-30 16:03] r0hit-gupta commented on #2745
@crazyk07 all colors are being used from https://marvelapp.com/c7h2a6h/screen/59648056/handoff . Please let me know if this palette needs to be updated.

[2019-07-30 16:06] Dara-K commented on #2745
Yes, please use #006ad7 for blue and for green is #258205

[2019-07-30 16:06] r0hit-gupta commented on #2877
@nkumar-topcoder it is working prefectly now :)

[2019-07-30 16:07] codeMinter commented on #2996
@sushilshinde @veshu we need change in PR as has conflicts, see it Is marked `Ready for QA`.

[2019-07-30 16:15] nkumar-topcoder commented on #2880
@lakshmiathreya @drasticdpk merged to `qa-accessibility` branch. In case if you have issue, let me know then I will merge to `dev` branch

[2019-07-30 16:18] drasticdpk commented on #2877
Verified on Chrome Browser.

[2019-07-30 16:27] drasticdpk commented on #2880
Verified on Chrome browser.

[2019-07-30 16:29] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:29] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:30] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:30] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:31] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:31] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:31] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:32] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:32] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:32] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:33] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:33] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:33] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:33] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:35] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:35] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:35] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:35] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:37] Oanh-and-only-Oanh commented on #3001
passed on Chrome but failed in Safari. Tabbing in Safari does not focus on Focus the SSO links (github, facebook, etc).

[2019-07-30 16:37] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:37] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:37] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:37] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:39] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:41] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:41] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:42] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:43] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:43] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:43] drasticdpk commented on #2778
Verified on Chrome browser with suggested color. FYI WAVE tool still showing error.
![image](https://user-images.githubusercontent.com/25297859/62148128-d5db0b00-b318-11e9-8644-3bbccd4c614f.png)

[2019-07-30 16:44] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:44] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:52] r0hit-gupta commented on #2854
New PR at https://github.com/topcoder-platform/community-app/pull/3164

Should solve this issue for once and all. Please review.

[2019-07-30 16:56] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:56] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:58] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:58] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:58] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:58] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:58] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:58] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 16:58] crazyk07 commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 17:00] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 17:00] crazyk07 commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 17:01] r0hit-gupta commented on #2745
@crazyk07 @lakshmiathreya new PRs - https://github.com/topcoder-platform/community-app/pull/3165 & https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/21 should solve this now. Please review.

Also, please note that PR https://github.com/topcoder-platform/community-app/pull/3165 depends upon https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/21

[2019-07-30 17:03] drasticdpk commented on #2775
Now verified on google chrome.

[2019-07-30 17:05] lakshmiathreya commented on #2745
Green and Orange shapes seem accurate - 258025 and BA4C00 resp.
But Blue shape is 006ad7 - not 0076A5. Pls clarify @r0hit-gupta @crazyk07. fyi @tosha5252 @drasticdpk

[2019-07-30 17:06] drasticdpk commented on #2774
Verified color code from https://github.com/topcoder-platform/community-app/issues/2775

[2019-07-30 17:07] r0hit-gupta commented on #2745
@lakshmiathreya check this out. https://github.com/topcoder-platform/community-app/issues/2745#issuecomment-514807435

[2019-07-30 17:08] Dara-K commented on #2745
006AD7 is the color for the links and buttons - the main blue color
0076A5 is the color for the blue for Design track.
https://marvelapp.com/c7h2a6h/screen/59648056/handoff

[2019-07-30 17:12] drasticdpk commented on #2775
@PrakashDurlabhji @Oanh-and-only-Oanh  it was pass on test server. Verified on Google chrome.

[2019-07-30 17:18] lakshmiathreya commented on #3001
@Oanh-and-only-Oanh we are focusing on Chrome only. @crazyk07 your thoughts?

[2019-07-30 17:35] crazyk07 commented on #2752
Contest https://www.topcoder.com/challenges/30098117 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 17:35] crazyk07 commented on #2752
Contest https://www.topcoder.com/challenges/30098117 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 18:01] ajefts commented on #2883
The JOIN NOW link color is not updated in prod.  These are the current colors:

![image](https://user-images.githubusercontent.com/3812270/62153442-8bcf3680-b2d2-11e9-8673-056212cadbd6.png)

[2019-07-30 18:05] ajefts commented on #2791
Verified this is working in prod.

[2019-07-30 18:07] crazyk07 commented on #2752
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30098117<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 18:08] ajefts commented on #2776
Verified in prod.

[2019-07-30 18:10] ajefts commented on #2768
Verified in prod:

![image](https://user-images.githubusercontent.com/3812270/62153959-b7065580-b2d3-11e9-9ac6-0e54642c9ebb.png)

[2019-07-30 18:14] ajefts commented on #2763
Verified in prod:

![image](https://user-images.githubusercontent.com/3812270/62154207-457ad700-b2d4-11e9-8bd0-67d4a83f7ab0.png)

[2019-07-30 18:20] ajefts commented on #2783
verified in prod.

[2019-07-30 18:24] #2763 closed

[2019-07-30 18:25] crazyk07 commented on #2763
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097535<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 18:25] #2768 closed

[2019-07-30 18:25] crazyk07 commented on #2768
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097510<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 18:28] ajefts commented on #2911
Verified in prod.

[2019-07-30 18:28] crazyk07 commented on #2791
Solved

[2019-07-30 18:28] crazyk07 commented on #2791
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 18:29] #2791 closed

[2019-07-30 18:29] crazyk07 commented on #2791
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097399<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 18:30] #2776 closed

[2019-07-30 18:31] ajefts commented on #2874
Verified in prod:

![image](https://user-images.githubusercontent.com/3812270/62155359-a1465f80-b2d6-11e9-8c51-cda39da6404b.png)

[2019-07-30 18:31] crazyk07 commented on #2776
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096968<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 18:32] #2783 closed

[2019-07-30 18:32] ajefts commented on #2873
Verified in prod

[2019-07-30 18:33] crazyk07 commented on #2783
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097405<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 18:36] ajefts commented on #2824
verified in prod.

[2019-07-30 18:43] crazyk07 commented on #2877
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 18:44] cwdcwd commented on #2752
TCX will put the `tcx_Paid` labels on when the ticket is closed

[2019-07-30 18:46] ajefts commented on #2820
Verified in prod.

[2019-07-30 18:46] crazyk07 commented on #2877
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 18:50] crazyk07 commented on #2752
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 18:51] crazyk07 commented on #2877
[400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 18:53] ajefts commented on #2747
Verified in prod.

[2019-07-30 18:55] crazyk07 commented on #2895
Contest https://www.topcoder.com/challenges/30097858 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 18:58] rashmi73 commented on #2996
@codeMinter I hope my change is correct. PR update
@sushilshinde
@veshu

[2019-07-30 18:59] r0hit-gupta commented on #2895
@veshu @codeMinter unable to reproduce. Should have been fixed by other PRs probably.

Test URL - https://accounts.topcoder.com/member
Env - Windows/Edge
Screen Reader Used - NVDA

[2019-07-30 18:59] ajefts commented on #2743
Verified in prod

[2019-07-30 19:00] crazyk07 commented on #2823
Contest https://www.topcoder.com/challenges/30097274 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 19:03] #2911 closed

[2019-07-30 19:03] crazyk07 commented on #2911
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096715<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 19:04] #2743 closed

[2019-07-30 19:04] crazyk07 commented on #2743
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097440<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 19:06] #2747 closed

[2019-07-30 19:06] crazyk07 commented on #2747
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097555<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 19:07] #2820 closed

[2019-07-30 19:08] crazyk07 commented on #2820
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097553<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 19:08] crazyk07 commented on #3120
Contest https://www.topcoder.com/challenges/30097703 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 19:09] #2824 closed

[2019-07-30 19:09] crazyk07 commented on #2824
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097495<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 19:10] #2873 closed

[2019-07-30 19:10] crazyk07 commented on #2873
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097091<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 19:15] tosha5252 commented on #2888
Passed as per comments

[2019-07-30 19:15] crazyk07 commented on #2888
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 19:19] r0hit-gupta commented on #3120
Footer Menu - Solved by PR https://github.com/topcoder-platform/community-app/pull/2992/files
Header Menu / Sub-Menus - Solved by PR https://github.com/topcoder-platform/community-app/pull/2977
Social Icons - Solved by PR https://github.com/topcoder-platform/community-app/pull/3138

[2019-07-30 19:22] r0hit-gupta commented on #2836
@tosha5252 @lakshmiathreya working for me on Windows/Chrome using NVDA.

Test URL - https://www.topcoder.com/challenges

[2019-07-30 19:29] crazyk07 commented on #3072
Contest https://www.topcoder.com/challenges/30097750 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 19:31] r0hit-gupta commented on #3072
@codeMinter @veshu unable to reproduce this.

Test URL - https://www.topcoder.com/challenges
Env - Windows/Edge
Screen Reader Used - NVDA

[2019-07-30 19:33] r0hit-gupta commented on #3077
@tc-mfikria the tests are still failing. Please look into the problem.

[2019-07-30 19:35] r0hit-gupta commented on #2872
@tc-mfikria the tests are failing. Please update the PR. Thanks

[2019-07-30 19:36] r0hit-gupta commented on #3118
@tc-mfikria the tests are failing and there are merge conflicts. Please look into it. Thanks.

[2019-07-30 19:40] r0hit-gupta commented on #2869
@veshu can we get some other challenge ID? The ones you provided do not show the NDA form for me. Please see if something can be done. Thanks!

[2019-07-30 19:43] crazyk07 commented on #3069
Contest https://www.topcoder.com/challenges/30097749 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 19:44] r0hit-gupta commented on #3069
@kkartunov unable to reproduce. The test page do not contain any bullets. Please review. https://www.topcoder.com/community/accessibility-testing

[2019-07-30 19:44] crazyk07 commented on #3078
Contest https://www.topcoder.com/challenges/30097877 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 19:45] r0hit-gupta commented on #3078
@kkartunov unable to reproduce. The test page do not contain any bullets. Please review. https://www.topcoder.com/community/accessibility-testing

[2019-07-30 19:50] Oanh-and-only-Oanh commented on #2813
QA fail- announces the field names but NOT the help text for the fields

[2019-07-30 20:06] r0hit-gupta commented on #3001
@Oanh-and-only-Oanh @lakshmiathreya @crazyk07 Safari ignores the tab key by default. Have a look at https://stackoverflow.com/questions/1848390/safari-ignoring-tabindex

 @Oanh-and-only-Oanh try holding `option` key and then press `tab` key. It works fine then.

[2019-07-30 20:14] #2874 closed

[2019-07-30 20:14] crazyk07 commented on #2874
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097090<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 20:33] crazyk07 commented on #2877
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 20:34] #3001 closed

[2019-07-30 20:35] crazyk07 commented on #3001
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096712<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 20:37] Oanh-and-only-Oanh commented on #3136
@kiril, it looks that this ticket was already closed and reopened and payment was updated. is this still an issue?

[2019-07-30 20:44] crazyk07 commented on #2877
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 21:00] #2877 closed

[2019-07-30 21:01] jmgasper commented on #2877
@crazyk07 / @r0hit-gupta - This one is complete in the backend system.  The challenge API threw a fit, but everything *should* be complete here.

[2019-07-30 21:30] crazyk07 commented on #2889
Contest https://www.topcoder.com/challenges/30097071 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 22:11] crazyk07 commented on #2807
Contest https://www.topcoder.com/challenges/30097855 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 22:13] crazyk07 commented on #2900
Contest https://www.topcoder.com/challenges/30096739 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-30 22:18] mtwomey commented on #2767
I made this color change directly (to #006AD7). PR appirio-tech/accounts-app#286 is referencing $tc-dark-blue-110 which is still not the recommended color.

[2019-07-30 23:03] mtwomey commented on #2860
This appears to have been fixed along the way - it's looks good to me in production?

[2019-07-31 01:53] crazyk07 commented on #2899
QA Reviewer: This should have already been fixed by a merge in production, please check

[2019-07-31 02:11] crazyk07 commented on #2782
QA Reviewer: I couldn't find the other ticket associated with this, but I believe this fix is in Prod already.  Please validate.

[2019-07-31 02:36] crazyk07 commented on #2867
QA reviewer, seems to be fixed already in prod, please confirm

[2019-07-31 02:40] crazyk07 commented on #2856
OOO

[2019-07-31 02:40] #2856 closed

[2019-07-31 02:40] crazyk07 commented on #2856
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 02:52] dmessing commented on #2909
In Chrome, I can' use the arrow keys to go through the menu

[2019-07-31 02:55] crazyk07 commented on #2795
QA Reviewer: Confirm if this can be repoed or not

[2019-07-31 03:11] gets0ul commented on #2836
@tosha5252
Please re-read the issue description carefully.
The expected result is, I quoted:

The requirement is to read the sub-menu item when hovering on it.

Not primary header menu.
What you did in your video is hovering on primary header menu.

Please watch my uploaded video here https://github.com/topcoder-platform/community-app/issues/2836#issuecomment-516340640

It was done on Chrome, Wind

[2019-07-31 03:27] romitgit commented on #2807
Not able to register for this challenge.

[2019-07-31 03:27] crazyk07 commented on #2807
Contest https://www.topcoder.com/challenges/30097855 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 04:01] nkumar-topcoder commented on #2760
@mishacucicea Can you pls verify #3001  (merged manually that we discussed ) https://github.com/appirio-tech/accounts-app/blob/dev/app/views/tc/login.jade and compare appirio-tech/accounts-app#254. Do you think we need only add "aria-label="Single Sign On" ? or its fine.

[2019-07-31 04:07] lakshmiathreya commented on #2845
<img width="1575" alt="Screenshot 2019-07-31 at 9 27 34 AM" src="https://user-images.githubusercontent.com/51733042/62183156-a4912800-b376-11e9-81ff-8b76b1a47f12.png">
Verified on Prod - Chrome - Mac and Win 10. Button color set to #006ad7 as recommended. Closing Issue.

[2019-07-31 04:07] #2845 closed

[2019-07-31 04:08] crazyk07 commented on #2845
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097368<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 04:08] romitgit commented on #2807
@crazyk07 I am not able to hit submit. It's disabled.

And when I directly open the url /submit, it says you are not authorized.

[2019-07-31 04:16] sushilshinde commented on #2745
kit needs deployment

[2019-07-31 04:18] nithyaasworld commented on #2868
@nkumar-topcoder Its failing. I think this it not yet deployed. Please confirm. Thanks.

[2019-07-31 04:33] nithyaasworld commented on #2777
@nkumar-topcoder I think this fix is not yet deployed. But what I am seeing is, the issue is no more an issue. It has good contrast for the social-media-texts.

Please find the screenshot below:
![image](https://user-images.githubusercontent.com/5114190/62184165-701f6b00-b37a-11e9-9da5-2bec38abf24d.png)

[2019-07-31 04:36] nithyaasworld commented on #2777
This issue seems to have already been resolved in Production too.

![image](https://user-images.githubusercontent.com/5114190/62184253-d60bf280-b37a-11e9-8d31-fdc7ab08cfc4.png)

[2019-07-31 04:38] nithyaasworld commented on #2777
@PrakashDurlabhji I am closing this issue as its no more an issue. Thanks for your effort!

[2019-07-31 04:48] nithyaasworld commented on #2883
However it passes the WCAG standards.

![image](https://user-images.githubusercontent.com/5114190/62184639-87f7ee80-b37c-11e9-81c5-5b3f070b0641.png)

[2019-07-31 04:52] afrisalyp commented on #2813
@Oanh-and-only-Oanh Can you please give us more detail how you reproduce the failure, what's the browser and the screen reader app?

The reviewer has accepted the solution.
https://github.com/appirio-tech/accounts-app/pull/256

[2019-07-31 05:06] nithyaasworld commented on #2800
Verified on production.

[2019-07-31 05:13] nithyaasworld commented on #2883
Marking it with "Prod QA Pass" as it passes the WCAG Standards.

A new ticket will be raised to address the Design Team's expectations if needed.

[2019-07-31 05:15] drasticdpk commented on #2879
Hi @r0hit-gupta , here is the reference video ,  Please try to replicate once again. FYI @veshu @lakshmiathreya please suggest what we do if the issue is not replicate on Developer's machine. Thanks!
https://monosnap.com/file/RkqNWW9l2iEMBasqp6RK8iajze8IMs

[2019-07-31 05:17] crazyk07 commented on #2900
Covered by other tickets.  One of the graphics is unique to the sample page, which which can't account for.

[2019-07-31 05:17] #2900 closed

[2019-07-31 05:17] crazyk07 commented on #2900
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 05:20] veshu commented on #2869
Ok I will try to create another.

[2019-07-31 05:21] crazyk07 commented on #2883
Closing ticket for payment.

[2019-07-31 05:21] #2883 closed

[2019-07-31 05:21] crazyk07 commented on #2883
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096762<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 05:23] crazyk07 commented on #2800
Closing for Payment

[2019-07-31 05:23] #2800 closed

[2019-07-31 05:23] crazyk07 commented on #2800
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097300<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 05:24] crazyk07 commented on #2777
Closing for payment

[2019-07-31 05:24] #2777 closed

[2019-07-31 05:25] crazyk07 commented on #2777
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097375<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 05:40] drasticdpk commented on #2894
@r0hit-gupta , i am able to replicate it on Edge browser, can you please  re-verify it. See in google chrome it is working as expected.
https://monosnap.com/file/M7qiOjJDJ7i6DxxYg8FHJPhvJMRk85

[2019-07-31 05:42] #2888 closed

[2019-07-31 05:42] crazyk07 commented on #2888
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097088<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 05:47] sachin-maheshwari commented on #2901
Unable to test due to dependency.

[2019-07-31 05:48] lakshmiathreya commented on #2879
This is working in Chrome/NVDA @nkumar-topcoder - let's take a call - we can put this On Hold since its an Edge issue? fyi @drasticdpk

[2019-07-31 05:54] nkumar-topcoder commented on #2879
@lakshmiathreya, let's not remove any label. But tag on-hold. Because it's already in prod and verified for chrome.

[2019-07-31 05:56] drasticdpk commented on #2795
HI @romitgit @crazyk07 Here I am able to replicate the issue with NVDA Version **2019.1.1**
Here is the reference video.
https://monosnap.com/file/XUDwtjNC88IOS3zmLRs0NAOpn9Qh42

[2019-07-31 06:02] drasticdpk commented on #2867
Verified with NVDA on.
Operating System: Windows
Browser: Chrome

[2019-07-31 06:04] #2867 closed

[2019-07-31 06:04] crazyk07 commented on #2867
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097857<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 06:05] nkumar-topcoder commented on #2827
this has been pushed to prod, matt verified and this can be closed

[2019-07-31 06:05] lakshmiathreya commented on #2894
As per consensus from stakeholders, we are focusing exclusively on Chrome at this time. Putting this Issue on hold since it work on Chrome. fyi - @nkumar-topcoder @sushilshinde @drasticdpk @tosha5252

[2019-07-31 06:05] crazyk07 commented on #2827
Closed for payment

[2019-07-31 06:05] #2827 closed

[2019-07-31 06:06] crazyk07 commented on #2827
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097367<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 06:07] lakshmiathreya commented on #2879
As per consensus from stakeholders, we are focusing exclusively on Chrome at this time. Putting this Issue on hold since it work on Chrome. fyi - @nkumar-topcoder @sushilshinde @drasticdpk @tosha5252

[2019-07-31 06:11] tc-mfikria commented on #3077
@r0hit-gupta could you send me a screenshot or information about the failing test?

[2019-07-31 06:11] tc-mfikria commented on #3118
@r0hit-gupta could you send me a screenshot or information about the failing test?

[2019-07-31 06:12] nkumar-topcoder commented on #2860
this is already in prod. @r0hit-gupta @drasticdpk @lakshmiathreya can you please check and close this.

[2019-07-31 06:13] lakshmiathreya commented on #2795
As per consensus from stakeholders, we are focusing exclusively on Chrome at this time. Putting this Issue on hold since it work on Chrome. fyi - @nkumar-topcoder @sushilshinde @drasticdpk @tosha5252

[2019-07-31 06:14] nithyaasworld commented on #2868
Its passing in https://accounts.topcoder-dev.com/member/registration

Note: No highlight is done when tabbing over "Terms" and "Privacy Policy" links. As its not stated in the bug description, this will not be taken care as part of this ticket.

[2019-07-31 06:17] drasticdpk commented on #2818
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-31 06:17] lakshmiathreya commented on #2836
My observation during my test is as per your comments @gets0ul @r0hit-gupta. Moving to Pass.

[2019-07-31 06:17] #2836 closed

[2019-07-31 06:18] crazyk07 commented on #2818
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097276<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 06:18] crazyk07 commented on #2836
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097133<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 06:25] #2863 closed

[2019-07-31 06:25] crazyk07 commented on #2863
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097117<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 06:37] kkartunov commented on #3118
@tc-mfikria see here https://circleci.com/gh/topcoder-platform/community-app/5571?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Please, fix and update PR. Thanks

[2019-07-31 06:44] crazyk07 commented on #3113
Contest https://www.topcoder.com/challenges/30097677 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 06:44] #3113 closed

[2019-07-31 06:44] #3091 closed

[2019-07-31 06:44] crazyk07 commented on #3091
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 06:45] crazyk07 commented on #3113
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097677<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 06:49] lakshmiathreya commented on #2909
@nkumar-topcoder @sushilshinde - Didnt notice this coming for Dev QA Testing ... did Prod merge actually happen? Could you check ...

[2019-07-31 06:50] #3087 closed

[2019-07-31 06:50] crazyk07 commented on #3087
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 06:51] kkartunov commented on #3078
@r0hit-gupta closing as not able to reproduce too.

[2019-07-31 06:51] #3078 closed

[2019-07-31 06:51] crazyk07 commented on #3078
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```