[2019-07-05 11:27] nithyaasworld commented on #2716
Hi @sushilshinde

Some more information regarding this issue.

This seems to happen only with the new users like nithyaasworld/appirio. For the old users like (TonyJ and dan_developer), I am able to register/ unregister.

From the OR error message seen in the screenshot of the original description of this ticket, it seems to be an issue with new users whose Terms has not been accepted yet.  And I

[2019-07-05 12:58] sushilshinde commented on #2695
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors open for pickup

PR on ’ssf-merged-to-new-develop’ branch

[2019-07-05 13:22] r0hit-gupta commented on #2695
Please assign me

[2019-07-05 13:24] ThomasKranitsas commented on #2695
Contest https://www.topcoder.com/challenges/30094893 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-05 14:03] nithyaasworld opened #2717 "[$70] SSF: "View more challenges" link is not displayed at a particular scenario"
This is originally reported here: https://github.com/topcoder-platform/community-app/issues/2661 Point:no: 3

Steps to reproduce:
1. Go to https://beta-community-app.topcoder.com/challenges? having already logged into the beta env
2. Observe that "My Challenges" section has "View more challenges" button (Pre-requisite for this step: User should have registered for some number of projects)
3. Click

[2019-07-05 14:04] ThomasKranitsas commented on #2717
@sushilshinde should we open this for pickup?

[2019-07-05 14:27] sushilshinde commented on #2717
Yes please

[2019-07-05 16:15] sushilshinde commented on #2696
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors open for pickup

PR on ’ssf-merged-to-new-develop’ branch

[2019-07-05 16:18] ThomasKranitsas commented on #2696
Contest https://www.topcoder.com/challenges/30094926 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-05 16:29] sushilshinde commented on #2696
@rashmi73 this is P1, please submit asap

[2019-07-05 16:59] rashmi73 commented on #2696
@sushilshinde yes sure, but is this reproducible? looking at above comments?
only one case needs to be handled or all?

[2019-07-05 18:50] nithyaasworld commented on #2696
@rashmi73
The original issue described in this ticket is resolved but another issue with the filter is introduced. That is, It fetches MM matches when Dev filter is applied.

So once this has been fixed, I will be checking all the filters available in the challenge listing page to make sure no filters are broken.

![image](https://user-images.githubusercontent.com/5114190/60713153-26d42b00-9f36-11

[2019-07-05 19:03] r0hit-gupta commented on #2695
Unable to reproduce. For me, the results take just 3-4 seconds to load after applying the said filters.

[2019-07-05 20:02] rashmi73 commented on #2696
@nithyaasworld @sushilshinde issue stated above in screenshot is not reproducible on my machine.

I visited https://beta-community-app.topcoder.com/challenges?filter[tracks][develop]=true

and i dont find any "MM" challenge on page.

so it is working perfectly fine.

what to do now then?

[2019-07-05 20:13] gurmeetb commented on #2696
@rashmi73 click view more challenges for Open for Registration

[2019-07-05 21:48] rashmi73 commented on #2696
@sushilshinde @gurmeetb @ThomasKranitsas @nithyaasworld
I analyzed complete scenario and found out that:

1.In issue #2698, prakash solved that ticket scenario perfectly  and also main title of this issue, but other scenarios started breaking.

2. so i reverted whatever prakash did, so on reverting, actual issue of 2698 comes back, so analyzed  and added additional conditions to satisfy all scenar

[2019-07-05 22:22] PrakashDurlabhji commented on #2698
@ThomasKranitsas  sory for breaking another cases, but now rashmi has done it as mentioned in comment with all cases.

[2019-07-06 05:42] sushilshinde commented on #2696
@ThomasKranitsas please review the PR?

[2019-07-06 05:46] sushilshinde commented on #2695
@nithyaasworld please help verify

[2019-07-06 06:51] gurmeetb commented on #2695
@sushilshinde this is due to bug fix for #2698 created, let's wait for the revert of the same. I see we have PR - let's merge that and then test this

@nithyaasworld @r0hit-gupta ☝️

[2019-07-08 08:11] ThomasKranitsas commented on #2717
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup.

PR on `ssf-merged-to-new-develop` branch

[2019-07-08 08:11] ThomasKranitsas commented on #2674
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup.

PR on `ssf-merged-to-new-develop` branch

[2019-07-08 08:11] ThomasKranitsas commented on #2677
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup.

PR on `ssf-merged-to-new-develop` branch

[2019-07-08 08:20] PrakashDurlabhji commented on #2599
@gurmeetb @gurmeetb can payment be initiated for this ? can be closed?

[2019-07-08 08:21] ThomasKranitsas commented on #2717
Contest https://www.topcoder.com/challenges/30095294 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:22] ThomasKranitsas commented on #2717
Contest https://www.topcoder.com/challenges/30095294 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:22] ThomasKranitsas commented on #2674
[500]: Challenge for the updated issue 2674 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:22] ThomasKranitsas commented on #2674
[500]: Challenge for the updated issue 2674 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:22] ThomasKranitsas commented on #2674
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:22] ThomasKranitsas commented on #2674
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:22] ThomasKranitsas commented on #2677
[500]: Challenge for the updated issue 2677 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:22] ThomasKranitsas commented on #2677
[500]: Challenge for the updated issue 2677 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:22] ThomasKranitsas commented on #2677
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:22] ThomasKranitsas commented on #2677
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:25] ThomasKranitsas commented on #2674
[500]: Challenge for the updated issue 2674 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:25] ThomasKranitsas commented on #2674
[500]: Challenge for the updated issue 2674 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:25] ThomasKranitsas commented on #2674
[500]: Challenge for the updated issue 2674 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:26] ThomasKranitsas commented on #2677
Contest https://www.topcoder.com/challenges/30095298 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:27] ThomasKranitsas commented on #2674
Contest https://www.topcoder.com/challenges/30095299 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:27] ThomasKranitsas commented on #2677
Contest https://www.topcoder.com/challenges/30095298 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:29] ThomasKranitsas commented on #2717
Contest https://www.topcoder.com/challenges/30095294 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 08:30] gurmeetb commented on #2599
@PrakashDurlabhji sorry this is pending for testing, I will plan to test this today and close.

[2019-07-08 11:35] kkartunov opened #2719 "$75 | Implement only one `secondaryMenu` and add flag `logged`"
@luizrrodrigues as discussed in Slack https://topcoder.slack.com/archives/GL67E1K8W/p1562249685014200 let's please implement only one `secondaryMenu` and add flag `logged`

https://github.com/topcoder-platform/community-app/blob/e3209b3ee460a0d2f08d58ee99e13472e46ac913/config/default.js#L225
https://github.com/topcoder-platform/community-app/blob/e3209b3ee460a0d2f08d58ee99e13472e46ac913/config/def

[2019-07-08 15:13] ThomasKranitsas commented on #2672
Contest https://www.topcoder.com/challenges/30095372 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 15:13] ThomasKranitsas commented on #2672
Contest https://www.topcoder.com/challenges/30095372 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-08 16:24] r0hit-gupta commented on #2672
Please assign me

[2019-07-08 16:26] r0hit-gupta commented on #2672
Will it be open soon?

[2019-07-08 16:31] Oanh-and-only-Oanh commented on #2672
@r0hit-gupta, it's assigned to someone else already. thanks.

[2019-07-08 17:31] sushilshinde commented on #2695
PR for https://github.com/topcoder-platform/community-app/issues/2696 is merged, please check test now @gurmeetb @nithyaasworld @r0hit-gupta

[2019-07-08 17:32] sushilshinde commented on #2696
@nithyaasworld PR merged for this issue

[2019-07-08 17:45] r0hit-gupta commented on #2695
@sushilshinde still unable to reproduce. Can others please help and verify if its still an issue?

[2019-07-08 20:47] Oanh-and-only-Oanh commented on #846
WIP with other projects/open tickets. Duplicate so closing

[2019-07-08 20:47] #846 closed

[2019-07-08 20:49] #2388 closed

[2019-07-08 20:51] #1260 closed

[2019-07-08 20:56] ya3ya6 opened #2720 "The download link in "My Submittions" is linked to wrong file path"
**Describe the bug**
The download link in "My Submittions" is linked to wrong id.
See the attachment: in new topcoder frontend, the download link is linked to id = 306365, while it should link to uid = 424075. (submittion id and uid are different).

(the problem doesnt exist in software.topcoder)

[2019-07-08 22:18] nithyaasworld commented on #2695
@r0hit-gupta This is still reproducible. **Please log in** (this is important) and then try the steps given in the ticket description.

[2019-07-09 03:55] sushilshinde commented on #2696
@nithyaasworld can you please verify fix

[2019-07-09 03:57] sushilshinde commented on #2717
@nahidshahin please update as we are planning deployment in a day or two

[2019-07-09 03:58] sushilshinde commented on #2695
@r0hit-gupta can we get a fix today?

[2019-07-09 04:02] sushilshinde commented on #2416
@PrakashDurlabhji this is still assigned to you, are you resolving it

because I still see issues

[2019-07-09 04:07] sushilshinde commented on #2416
https://beta-community-app.topcoder.com/challenges

This shows correct metadata
![image](https://user-images.githubusercontent.com/683231/60858652-d9ed9e80-a22c-11e9-9106-8b9e6bddfe81.png)

but if click on `View more challenges` or `My Challenges` link then it shows the wrong metadata as well as results

![image](https://user-images.githubusercontent.com/683231/60858695-0f928780-a22d-11e9-81f6-238

[2019-07-09 04:16] sushilshinde opened #2721 "[$80]SSF - My Challenges bucket issue"
1. Open https://beta-community-app.topcoder.com/challenges

2. It shows correct metadata

![image](https://user-images.githubusercontent.com/683231/60858942-25547c80-a22e-11e9-8a71-d597a74632f6.png)

3. But if click on `View more challenges` or `My Challenges` link then it shows the wrong metadata as well as results (this needs fixing)

![image](https://user-images.githubusercontent.com/683231/608

[2019-07-09 04:21] sushilshinde commented on #2721
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

PR on `ssf-merged-to-new-develop` branch

[2019-07-09 04:26] ThomasKranitsas commented on #2721
[500]: Challenge for the updated issue 2721 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-09 04:28] ThomasKranitsas commented on #2721
[500]: Challenge for the updated issue 2721 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-09 04:28] ThomasKranitsas commented on #2721
[500]: Challenge for the updated issue 2721 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-09 04:28] ThomasKranitsas commented on #2721
[500]: Challenge for the updated issue 2721 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-09 04:28] ThomasKranitsas commented on #2721
[500]: Challenge for the updated issue 2721 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-09 04:28] ThomasKranitsas commented on #2721
Contest https://www.topcoder.com/challenges/30095384 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-09 04:29] ThomasKranitsas commented on #2721
Contest https://www.topcoder.com/challenges/30095384 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-09 04:30] ThomasKranitsas commented on #2721
Contest https://www.topcoder.com/challenges/30095384 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-09 05:43] ThomasKranitsas commented on #2721
Contest https://www.topcoder.com/challenges/30095384 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-09 06:34] r0hit-gupta commented on #2695
@nithyaasworld still unable to reproduce. Can you try this in incognito mode please?

[2019-07-09 06:38] r0hit-gupta commented on #2717
Please assign me.

[2019-07-09 06:39] r0hit-gupta commented on #2695
If someone else is able to reproduce this. Please assign it to them. Thanks.

[2019-07-09 07:34] nithyaasworld commented on #2329
This is occurring again.

![image](https://user-images.githubusercontent.com/5114190/60867967-98b7b780-a249-11e9-8c10-2944fe7a67bb.png)

[2019-07-09 07:35] nithyaasworld commented on #2329
@Oanh-and-only-Oanh

[2019-07-09 07:42] nithyaasworld commented on #2695
@r0hit-gupta Yes, I tried with incognito mode only.

Can you please confirm that **you have logged in** when trying to reproduce? Because this issue, **does NOT** occur if the user is **not logged in**.

[2019-07-09 07:43] r0hit-gupta commented on #2695
@nithyaasworld yes, I had logged in.

[2019-07-09 08:11] gurmeetb commented on #2695
@nithyaasworld let’s open it for pickup and see if someone else can replicate it.

[2019-07-09 08:55] gets0ul commented on #2695
Please assign me.

[2019-07-09 09:12] sushilshinde commented on #2695
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors open for pickup

Please submit in 24 hours

PR on ’ssf-merged-to-new-develop’ branch

[2019-07-09 09:13] sushilshinde commented on #2695
Are you not able to assign yourself?

[2019-07-09 09:40] ThomasKranitsas commented on #2695
Contest https://www.topcoder.com/challenges/30094893 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-09 09:41] ThomasKranitsas commented on #2717
Contest https://www.topcoder.com/challenges/30095294 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-09 09:41] gurmeetb commented on #2717
@r0hit-gupta its on you, please push PR in 12 hrs.

[2019-07-09 10:34] rashmi73 commented on #2721
@ThomasKranitsas @sushilshinde

1.on prod master branch of "community-app" is deployed?

2. and master branch "topcoder-react-lib" was released and it is mentioned in community-app?

[2019-07-09 11:28] r0hit-gupta commented on #2717
PR #2723. Please review.

[2019-07-09 11:30] nithyaasworld commented on #2696
@sushilshinde @rashmi73

I tested the scenario given in this ticket description. I find that "My challenges" section is not displayed after removing the DataScience filter however I see the right panel a count of 8 for "My Challenges".

I did not proceed to check further on this ticket, as for every filter I apply, I have to wait for more than 45 seconds to see the result.

So I would like to test

[2019-07-09 13:11] sushilshinde commented on #2696
ok thanks

[2019-07-09 13:12] sushilshinde commented on #2721
No the comparison is between BETA and PROD check URLs in screenshot

[2019-07-09 15:32] sushilshinde commented on #2717
@nithyaasworld this is merged check after 20 mins

[2019-07-09 15:36] PrakashDurlabhji commented on #2674
@thomaskranitsas @sushilshinde PR in sometime

[2019-07-09 17:40] gets0ul commented on #2695
@sushilshinde  @nithyaasworld @ThomasKranitsas
This issue was introduced by the following PR:
https://github.com/topcoder-platform/topcoder-react-lib/pull/72

This commit to the master branch uses getAll which recursively trying to load more and more user challenges at once, which are lots of them, hence the long time.
https://github.com/topcoder-platform/topcoder-react-lib/blob/03b677d74effa8dabc

[2019-07-09 18:10] PrakashDurlabhji commented on #2674
@ThomasKranitsas @sushilshinde  PR https://github.com/topcoder-platform/community-app/pull/2725

[2019-07-09 18:25] Gauravseta commented on #2677
@nithyaasworld @ThomasKranitsas
1. isnt this the behaviour expected?

2. because we are yet to load more challenges, so at given point it sorts the available challenges by high to low.

3. then when we scroll down/click view more challenges, then the challenges which will be received may have a challenge having prize then already loaded challenges, so it will sort again.

4. so ofcourse the data a

[2019-07-09 18:52] PrakashDurlabhji commented on #2416
@sushilshinde yes I am on it, but it is working perfectly fine for

https://beta-community-app.topcoder.com/challenges?filter[tracks][design]=true&filter[tracks][develop]=true

able to see my challenges bucket and even view more button.

[2019-07-10 03:04] nithyaasworld commented on #2677
I think this should get fixed at the backend. So when the filter "prize high to low" is applied, the frontend receives the already sorted results.

[2019-07-10 04:13] nithyaasworld commented on #2705
Tracks Sub-menus are not displayed
Steps:
 Go to Tracks --> Data Science or Competitive Programming
 Click on Tracks and observe that the second level items are not displayed at this point
![image](https://user-images.githubusercontent.com/5114190/60939848-e5a59780-a2f6-11e9-909a-35d4d3eb2b27.png)

Same issue exists for Explore --> Statistics too

[2019-07-10 04:19] nithyaasworld commented on #2705
This is also observe by @Oanh-and-only-Oanh

[2019-07-10 04:46] nithyaasworld commented on #2696
@rashmi73 I have changed the label to "tcx_feedback", so you can verify the issue stated in my last comment.

As noted earlier, complete testing on this ticket will be done once #2695 is fixed.

Thanks.

[2019-07-10 05:55] sushilshinde commented on #2721
@rashmi73 is PR ready?

[2019-07-10 05:58] sushilshinde commented on #2695
@ThomasKranitsas need your comment

[2019-07-10 06:03] rashmi73 commented on #2721
@sushilshinde this is working perfectly fine, I tested it, challenges are loading perfectly.

[2019-07-10 06:34] ThomasKranitsas commented on #2695
The implementation is wrong. It's following the **eager loading** pattern which is definitely not a good idea.

The idea was to be able to load the first set of challenges, display them in the UI and then keep loading the next sets of challenges page by page and show them in the UI. This is some sort of **lazy loading**.

[2019-07-10 06:49] nithyaasworld commented on #2717
@sushilshinde

Original issue described in the ticket is fixed.

One thing, I missed to notice was "My Challenges" has an incorrect count in the scenario described in this ticket.

Please watch the video: https://www.youtube.com/watch?v=7Y8VTcvkhx8 Initially My challenges count was 13, but after returning from "My Challenges" detailed list, the count was 1.

Please let me know if a new ticket is n

[2019-07-10 09:18] sushilshinde commented on #2717
@nithyaasworld Please open another issue

[2019-07-10 09:18] ThomasKranitsas commented on #2695
@gets0ul can you please implement the above ASAP? This is urgent.

[2019-07-10 09:24] sushilshinde commented on #2677
@Gauravseta is right, with lazy loadin it will happen. Sorting should be supported by backend will work @skyhit how it can be done.

[2019-07-10 09:37] nithyaasworld opened #2726 ""My Challenges" has incorrect count in a particular scenario"
This is discovered when testing https://github.com/topcoder-platform/community-app/issues/2717#issuecomment-509932868

Steps to reproduce:

1. Go to https://beta-community-app.topcoder.com/challenges? having already logged into the beta env
2. Observe that "My Challenges" section has "View more challenges" button (Pre-requisite for this step: User should have registered for some number of projects

[2019-07-10 09:38] nithyaasworld commented on #2717
Yes. https://github.com/topcoder-platform/community-app/issues/2726 is opened.

[2019-07-10 09:41] rashmi73 commented on #2721
@sushilshinde @nithyaasworld I feel #2726 is same as this issue.

[2019-07-10 09:44] sushilshinde commented on #2717
Thanks @r0hit-gupta for helping fix this

[2019-07-10 09:44] #2717 closed

[2019-07-10 09:45] ThomasKranitsas commented on #2717
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095294<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-10 09:46] nithyaasworld commented on #2726
Latest Screenshots:
![image](https://user-images.githubusercontent.com/5114190/60959193-69767880-a325-11e9-93e8-2f0b1b569e7e.png)

![image](https://user-images.githubusercontent.com/5114190/60959355-ac385080-a325-11e9-85ff-266ed4a7563a.png)

[2019-07-10 09:48] nithyaasworld commented on #2721
No @rashmi73 Please carefully follow the steps of #2726. It should be reproducible easily. Otherwise, Please comment on the corresponding ticket.

Thanks for checking!

[2019-07-10 09:52] #2721 closed

[2019-07-10 09:52] ThomasKranitsas commented on #2721
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-10 09:58] ThomasKranitsas commented on #2693
Contest https://www.topcoder.com/challenges/30095510 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-10 09:58] ThomasKranitsas commented on #2693
Contest https://www.topcoder.com/challenges/30095510 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-10 09:59] ThomasKranitsas commented on #2693
Contest https://www.topcoder.com/challenges/30095510 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-10 10:21] nithyaasworld opened #2727 "[$70]My Challenges Bucket --> Challenges with "Late Phases" are not displayed in Beta Env"
Steps:
1. In your login, have some challenges with Late Submission/Review/IterativeReview phases
2. Click on "My challenges" in the right panel (or) click on  "View more challenges" in the "My challenges" section
3. Check the actual number of challenges displayed and the "My challenges" count.

Actual:
In Beta Env, It is not displaying the challenges with Late Phases. Also they are not counted for

[2019-07-10 10:21] sushilshinde commented on #2416
@nithyaasworld can you verify please

[2019-07-10 11:40] gets0ul commented on #2695
@ThomasKranitsas So the way the develop branch of topcoder-react-lib does is not what desired here?

[2019-07-10 12:02] r0hit-gupta commented on #2727
Please assign me

[2019-07-10 12:02] sushilshinde commented on #2727
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors open for pickup

PR on ’ssf-merged-to-new-develop’ branch

[2019-07-10 12:04] ThomasKranitsas commented on #2727
Contest https://www.topcoder.com/challenges/30095526 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-10 12:04] ThomasKranitsas commented on #2727
Contest https://www.topcoder.com/challenges/30095526 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-10 12:05] ThomasKranitsas commented on #2727
Contest https://www.topcoder.com/challenges/30095526 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-10 12:09] sushilshinde commented on #2674
@nithyaasworld FYI

[2019-07-10 12:18] nithyaasworld opened #2728 "New Nav - Selection indicator looks odd in some places"
In the following screens, the selection indicator looks odd

Screen1: Tracks --> Data Science
Screen2: Tracks --> competitive programming
Screen3: Explore --> Statistics

![image](https://user-images.githubusercontent.com/5114190/60968509-e233ff80-a33a-11e9-9557-f48ed26d9839.png)

[2019-07-10 13:14] ThomasKranitsas commented on #2695
Correct. You need to change the implementation based on my previous comment

[2019-07-10 18:09] nahidshahin commented on #2693
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/2729

[2019-07-10 18:16] gets0ul commented on #2695
@ThomasKranitsas which branch should I use for topcoder-react-lib?

[2019-07-10 18:36] r0hit-gupta commented on #2727
@nithyaasworld @sushilshinde is there any dummy account with late phases? Currently no challenge is in late phase for me.

[2019-07-10 18:43] nithyaasworld commented on #2727
Sorry, I do not know of a dummy account with late phases. This issue is found with Sushil's account (which has 4 challenges in late phases) in Beta Environment.

[2019-07-10 20:49] ThomasKranitsas commented on #2695
@sushilshinde ☝️

[2019-07-11 00:21] gets0ul commented on #2695
The PR is for develop branch on topcoder-react-lib.

[2019-07-11 03:41] nithyaasworld commented on #2416
Yes @sushilshinde "My challenges" section is not at all displayed in the challenge listing page, though I have 10 matching results for "My challenges".

![image](https://user-images.githubusercontent.com/5114190/61020508-adb45800-a3bb-11e9-8e00-d3782eba9eaa.png)

[2019-07-11 03:43] nithyaasworld commented on #2416
The above issue is also noted 2 days ago when testing https://github.com/topcoder-platform/community-app/issues/2696#issuecomment-509604971

[2019-07-11 03:55] nithyaasworld commented on #2695
@sushilshinde @ThomasKranitsas Can we please merge this PR if ready and deploy to beta for testing? As every request to fetch_matching_results takes more than 45 seconds, its getting hard for me to verify the "Ready for QA" tickets.

Thanks.

[2019-07-11 06:11] sushilshinde commented on #2695
Checking

[2019-07-11 06:14] sushilshinde commented on #2695
@ThomasKranitsas please review the submission

[2019-07-11 06:56] ThomasKranitsas commented on #2695
The implementation is not correct. What you're doing is:
- Load the first set of challenges
- Load every other set recursively and show everything at once

Sorry if my explanation wasn't clear enough. What I mean in my previous post is, we need to load and display all pages one by one.

I'm assuming the best way to do that is to move the recursion to the frontend.

The flow should be:
- Load and s

[2019-07-11 07:18] gets0ul commented on #2695
This is exactly what the current develop tree of topcoder-react-lib is doing right now, it loads and displays page one by one.

No need for a fix. Just revert the changes in `src/actions/challenge-listing.js` from this commit https://github.com/topcoder-platform/topcoder-react-lib/commit/f02ed92ec182ae651dcdb5f2812076ac26994c8a#diff-8cf4059b48130a5066e66e4a473bb4a6

That's what I did with my submi

[2019-07-11 07:45] gets0ul commented on #2695
As the issue is urgent, you can unassign me for now so maybe others can jump in with a more fitted solution.
Thank you.

[2019-07-11 07:48] ThomasKranitsas commented on #2695
I just tested. Seems to be working

[2019-07-11 07:49] ThomasKranitsas commented on #2695
@sushilshinde can you also test on your end just to be sure?

[2019-07-11 07:57] sushilshinde commented on #2695
ok I'll

[2019-07-11 08:13] r0hit-gupta commented on #2727
Its loading all fine for me. @nithyaasworld @sushilshinde ![image](https://user-images.githubusercontent.com/16841686/61033707-a3a55000-a3e1-11e9-92a6-7a08c8a63d3a.png)

[2019-07-11 08:45] kkartunov opened #2732 "Contentful updates"
Fixes included for:
- #2367
- #2659
- #2665
- #2400 initial codebase implementation

[2019-07-11 09:13] #2732 closed

[2019-07-11 09:13] #2367 closed

[2019-07-11 11:52] nithyaasworld commented on #2727
@r0hit-gupta The video attached in this ticket is taken yesterday in Sushil's account. The only difference I find was, beta env was not showing the challenges with "late phases".  You can see this in the attached video.

Since its not the case for your account, can you please check the code of Prod and Beta and analyze the possible cause for the issue observed with Sushil's account. Thanks.

CC: @

[2019-07-11 13:38] kkartunov opened #2733 "New navi should not change body background"
To reproduce go to https://test-community-app.topcoder-dev.com/community/statistics/design compare it with original https://topcoder.com/community/statistics/design change in background color noted should not be.
**This issue triggers on any page the new navi is loaded on!**

[2019-07-11 13:49] rashmi73 commented on #2359
@sushilshinde any updates on this? I do not wish to lose my efforts.

[2019-07-11 14:04] kkartunov opened #2734 "Active link not working. Submenu should expand when active link has such one"
To reproduce go to https://www.topcoder-dev.com/community/navi-test
1. `navi-test` is the current link but it is not correctly highlighted.1st item in menu and the

[2019-07-11 16:13] Oanh-and-only-Oanh commented on #2672
resolved by @fierce. on PROD

[2019-07-11 16:13] #2672 closed

[2019-07-11 16:31] Oanh-and-only-Oanh commented on #27
closing tickets dated 07/11/2017 and back

[2019-07-11 16:31] #27 closed

[2019-07-11 16:31] Oanh-and-only-Oanh commented on #446
closing tickets dated 07/11/2017 and back

[2019-07-11 16:31] #446 closed

[2019-07-11 16:31] Oanh-and-only-Oanh commented on #477
closing tickets dated 07/11/2017 and back

[2019-07-11 16:31] #477 closed

[2019-07-11 16:31] Oanh-and-only-Oanh commented on #483
closing tickets dated 07/11/2017 and back

[2019-07-11 16:31] #483 closed

[2019-07-11 16:35] Oanh-and-only-Oanh commented on #1139
closing tickets dated 07/2017 and back

[2019-07-11 16:35] #1139 closed

[2019-07-11 16:35] Oanh-and-only-Oanh commented on #1132
closing tickets dated 07/2017 and back

[2019-07-11 16:35] #1132 closed

[2019-07-11 16:35] Oanh-and-only-Oanh commented on #1104
closing tickets dated 07/2017 and back

[2019-07-11 16:35] #1104 closed

[2019-07-11 16:35] Oanh-and-only-Oanh commented on #1059
closing tickets dated 07/2017 and back

[2019-07-11 16:35] #1059 closed

[2019-07-11 16:36] Oanh-and-only-Oanh commented on #882
closing tickets dated 07/2017 and back

[2019-07-11 16:36] #882 closed

[2019-07-11 16:36] Oanh-and-only-Oanh commented on #1004
closing tickets dated 07/2017 and back

[2019-07-11 16:36] #1004 closed

[2019-07-11 16:36] Oanh-and-only-Oanh commented on #1109
closing tickets dated 07/2017 and back

[2019-07-11 16:36] #1109 closed

[2019-07-11 16:36] Oanh-and-only-Oanh commented on #1077
closing tickets dated 07/2017 and back

[2019-07-11 16:36] #1077 closed

[2019-07-11 16:36] Oanh-and-only-Oanh commented on #1078
closing tickets dated 07/2017 and back

[2019-07-11 16:36] #1078 closed

[2019-07-11 16:37] Oanh-and-only-Oanh commented on #1251
closing tickets dated 07/2017 and back

[2019-07-11 16:37] #1251 closed

[2019-07-11 16:37] Oanh-and-only-Oanh commented on #1250
closing tickets dated 07/2017 and back

[2019-07-11 16:37] #1250 closed

[2019-07-11 16:38] #536 closed

[2019-07-11 16:38] ThomasKranitsas commented on #602
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-11 16:38] #602 closed

[2019-07-11 16:38] #606 closed

[2019-07-11 16:38] #667 closed

[2019-07-11 16:38] #730 closed

[2019-07-11 16:38] #753 closed

[2019-07-11 16:38] #770 closed

[2019-07-11 16:38] #775 closed

[2019-07-11 16:38] #776 closed

[2019-07-11 16:38] #795 closed

[2019-07-11 16:38] #800 closed

[2019-07-11 16:38] #804 closed

[2019-07-11 16:38] #807 closed

[2019-07-11 16:38] #809 closed

[2019-07-11 16:39] #647 closed

[2019-07-11 16:39] #668 closed

[2019-07-11 16:39] #818 closed

[2019-07-11 16:39] ThomasKranitsas commented on #668
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-11 16:39] #834 closed

[2019-07-11 16:39] #836 closed

[2019-07-11 16:39] #843 closed

[2019-07-11 16:39] #847 closed

[2019-07-11 16:39] #793 closed

[2019-07-11 16:39] #801 closed

[2019-07-11 16:39] #808 closed

[2019-07-11 16:39] #833 closed

[2019-07-11 16:39] #867 closed

[2019-07-11 16:39] #870 closed

[2019-07-11 16:39] #873 closed

[2019-07-11 16:39] #874 closed

[2019-07-11 16:39] #885 closed

[2019-07-11 16:39] #1079 closed

[2019-07-11 16:39] #1112 closed

[2019-07-11 16:40] #819 closed

[2019-07-11 16:40] #844 closed

[2019-07-11 16:40] #855 closed

[2019-07-11 16:40] #861 closed

[2019-07-11 16:40] #888 closed

[2019-07-11 16:40] #1076 closed

[2019-07-11 16:40] #1113 closed

[2019-07-11 16:40] #1119 closed

[2019-07-11 16:40] #1138 closed

[2019-07-11 16:40] #1148 closed

[2019-07-11 16:40] #1253 closed

[2019-07-11 16:40] #1261 closed

[2019-07-11 16:40] #1276 closed

[2019-07-11 16:40] #1289 closed

[2019-07-11 16:40] #1397 closed

[2019-07-11 16:40] #1398 closed

[2019-07-11 16:40] #1401 closed

[2019-07-11 16:42] ThomasKranitsas commented on #647
Contest https://www.topcoder.com/challenges/30095598 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-11 16:42] ThomasKranitsas commented on #647
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-11 16:51] luizrrodrigues commented on #2705
@nithyaasworld Click in active link was fixed. But I see 2 issues:
1- When click in active link, the subnav blue icon not showing.
2- Not logged user, menu is collapsed by default always.

[2019-07-11 18:22] sushilshinde commented on #2599
@PrakashDurlabhji will close tomorrow.

[2019-07-11 18:44] #1406 closed

[2019-07-11 18:44] #1521 closed

[2019-07-11 18:44] #1522 closed

[2019-07-11 18:44] #1523 closed

[2019-07-11 18:44] #1524 closed

[2019-07-11 18:44] #2133 closed

[2019-07-11 18:44] #2222 closed

[2019-07-11 18:44] #2223 closed

[2019-07-11 18:45] #1329 closed

[2019-07-11 18:45] #1392 closed

[2019-07-11 18:45] #1435 closed

[2019-07-11 18:45] #2619 closed

[2019-07-11 18:49] Oanh-and-only-Oanh commented on #2379
released in July.

[2019-07-11 18:49] #2379 closed

[2019-07-11 18:50] #2062 closed

[2019-07-11 18:50] #2073 closed

[2019-07-11 18:50] #2106 closed

[2019-07-11 18:50] #2109 closed

[2019-07-11 18:50] #2153 closed

[2019-07-11 18:50] #2155 closed

[2019-07-11 18:50] #2158 closed

[2019-07-11 18:50] #2181 closed

[2019-07-11 18:50] #2191 closed

[2019-07-11 18:50] #2203 closed

[2019-07-11 18:50] #2205 closed

[2019-07-11 18:50] #2206 closed

[2019-07-11 18:50] #2212 closed

[2019-07-11 18:50] #2269 closed

[2019-07-11 18:51] #1792 closed

[2019-07-11 18:51] #1825 closed

[2019-07-11 18:51] #1827 closed

[2019-07-11 18:51] #2048 closed

[2019-07-11 18:53] #1224 closed

[2019-07-11 18:53] #1244 closed

[2019-07-11 18:53] #1267 closed

[2019-07-11 18:53] #1517 closed

[2019-07-12 02:36] nithyaasworld commented on #2695
@sushilshinde @ThomasKranitsas @gets0ul

Issues stated [here ](https://github.com/topcoder-platform/community-app/issues/2695#issue-462720143)and [here](https://github.com/topcoder-platform/community-app/issues/2695#issuecomment-507309511) still exists. Can you please check?

[2019-07-12 02:45] nithyaasworld commented on #2693
@sushilshinde Verified that the issue is fixed.

[2019-07-12 02:57] nithyaasworld commented on #2674
"View more challenges" button no longer appears in the following page:

https://beta-community-app.topcoder.com/challenges?bucket=ongoing
https://beta-community-app.topcoder.com/challenges?bucket=openForRegistration
https://beta-community-app.topcoder.com/challenges?bucket=my

Results are lazy-loaded when the user scrolls down.

@sushilshinde Please confirm if this is okay.

[2019-07-12 03:07] nithyaasworld commented on #2696
@rashmi73 Please check my last 2 comments and proceed fixing. Thanks.

[2019-07-12 03:22] nithyaasworld commented on #2676
Just an info that this is reproducible still.

[2019-07-12 03:29] #2674 closed

[2019-07-12 03:29] #2693 closed

[2019-07-12 03:30] ThomasKranitsas commented on #2674
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095299<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-12 03:30] ThomasKranitsas commented on #2693
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095510<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-12 03:31] sushilshinde commented on #2727
@r0hit-gupta are submitting a PR today?

[2019-07-12 03:48] #2416 closed

[2019-07-12 03:48] ThomasKranitsas commented on #2416
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30092765<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-12 05:14] sushilshinde commented on #2695
@gets0ul please refer to the code https://github.com/topcoder-platform/community-app/tree/server_side_filtering

Let us know if you can submit the fix today

[2019-07-12 06:30] gets0ul commented on #2695
@sushilshinde I am not sure if Ifollow. Did you mean I should make changes to `server_side_filtering` branch or `ssf-merged-to-new-develop`?

@nithyaasworld
Did you you do your check on https://beta-community-app.topcoder.com/challenges?
I see that it still has the problem.
Are you sure that it runs with updated build with my fix?

[2019-07-12 06:34] sushilshinde commented on #2695
@gets0ul  no, the same thing was working on server_side_filtering branch when @nithyaasworld tester, but after merge with the release branch this issues started popping up.

[2019-07-12 06:39] gets0ul commented on #2695
@sushilshinde I submit the PR to develop branch of topcoder-react-lib, so I didn't include the dist build in it.  You need to build by yourrself.
Have you run the build before publish the topcoder-react-lib `npm run build`?
Thanks.

[2019-07-12 07:04] ThomasKranitsas commented on #2695
Closing this one. I'll take care of the remaining fixes.

[2019-07-12 07:04] #2695 closed

[2019-07-12 07:05] ThomasKranitsas commented on #2695
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30094893<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-12 08:48] kkartunov opened #2735 "Update member cards"
We will need to reuse member cards to represent speakers as per design here: https://marvelapp.com/1g8j2156/screen/59181914

Therefore:
- fix font of the name field which is wrongly inherited but has to be Roboto
- add a new optional field description. Use style for it from the marvel above

[2019-07-12 08:56] r0hit-gupta commented on #2727
Unable to find any code difference between Prod and Beta. The Prod branch is `master`, right?

[2019-07-12 09:12] kkartunov opened #2736 "New card theme for contentBlock"
Need to create a new theme for content cards. Design https://marvelapp.com/1g8j2156/screen/59181885

The theme will cover basic styling as per design. Background color we will be able to overwrite with inline CSS.

If the image is provided to the block it has to be rendered as per design layout and look.

[2019-07-12 09:16] sushilshinde commented on #2727
@r0hit-gupta

production branch is `master` always
while beta deployments keeps changing, right branch deployed on beta is `ssf-merged-to-new-develop`

[2019-07-12 09:18] r0hit-gupta commented on #2727
@sushilshinde will compare once again with `ssf-merged-to-new-develop`.

[2019-07-12 09:40] nithyaasworld commented on #2727
Just an info that we have a similar issue logged here: https://github.com/topcoder-platform/community-app/issues/2387

[2019-07-12 09:48] gurmeetb commented on #2599
@sushilshinde This was merged to dev but it didn't took affect, I need to test this once locally and we can accept this. I will get this closed in next few hrs.

[2019-07-12 10:51] ajaysaini9782 opened #2737 "SSO Users should not be able to change their email address"
**Describe the bug**
Members who are logging on topcoder through SSO , they are able to change their email
address by self.

**Expected behavior**
SSO login users should not be able to change their email address by self.

[2019-07-12 17:01] r0hit-gupta commented on #2727
Unable to resolve. Opening up for others.

[2019-07-12 17:02] ThomasKranitsas commented on #2727
Contest https://www.topcoder.com/challenges/30095526 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-17 03:34] sushilshinde commented on #2727
@PrakashDurlabhji are you working on this?

[2019-07-17 07:02] veshu opened #2738 "[$15][MSFT-14] No “alt” text present on the third party OAuth providers"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Go to Browser settings -> Privacy -> Images and disable images for the above link.
3. Reload the page.
4. You will see there is no “alt” text available for the third party OAuth provider images.
5. The VoiceOver in macOS was not able to recognise the provider.

**Expected Result**
The images should have the alt text. This way,

[2019-07-17 07:02] veshu opened #2739 "[$10][MSFT-15] [Challenge Feed] Ensures every HTML document has a lang attribute"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. Right click > Inspect Elements
3. Check the HTML tag

**Expected Result**
Ensures every HTML document has a lang attribute

**Actual Result**
The <html> element does not have a lang attribute

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 3. Un

[2019-07-17 07:02] veshu opened #2740 "[$15][MSFT-16] [Challenge Feed] Element is in tab order and does not have accessible text"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. Right-click > Inspect Elements
3. Check the Logo code

**Expected Result**
- Element does not have text that is visible to screen readers
- aria-label attribute does not exist or is empty
- aria-labelledby attribute does not exist, references elements that do not exist or references elements th

[2019-07-17 07:02] veshu opened #2741 "[$15][MSFT-17] The link in right menu doesn't have outline when focus by keyboard"
**Steps to Reproduce**
1. Navigate to https://www.topcoder.com/challenges?
2. Select "All challenge"
3. Then use the tab key to navigate to link in right menu

**Expected Result**
The link should have blue outline when focus by tab key

**Actual Result**
The link doesn't have outline when focus by keyboard

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Catego

[2019-07-17 07:02] veshu opened #2742 "[$10][MSFT-18] [Challenge Feed] "Compete", "Tracks" and "Community" menu text contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. Check the "Compete" menu
3. Check the "Tracks" menu
4. Check the "Community" menu

**Expected Result**
Expected contrast ratio of 4.5:1

Passes AA, if you change text color to #767677New contrast ratio: 4.54

Some people with low vision experience low contrast, meaning that there aren't very ma

[2019-07-17 07:02] veshu opened #2743 "[$10][MSFT-20] [Challenge Feed] "SRMs" menu text contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. Check the "SRMs" menu

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change text color to #006FEB. New contrast ratio: 4.5
- Passes AA, if you change background color to #383846. New contrast ratio: 4.51

Some people with low vision experience low contrast, meaning t

[2019-07-17 07:02] veshu opened #2744 "[$10][MSFT-21] [Challenge Feed] Challenge icon contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. In 'My Challenges' list; check the challenge icon (eg: Cd, F2F, Wb, DF2F, FE, Wg, MM)

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #3F8300. New contrast ratio: 4.52
- Passes AA, if you change text color to #424253. New contrast ratio: 4.5

[2019-07-17 07:02] veshu opened #2745 "[$10][MSFT-22] [Challenge Feed] TCO icon contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. In 'My Challenges' list; check the TCO icon (eg: Cd, F2F, Wb, DF2F, FE, Wg, MM)

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #2C4C0F. New contrast ratio: 4.5
- Passes AA, if you change text color to #3E8000. New contrast ratio: 4.54

Some

[2019-07-17 07:02] veshu opened #2746 "[$25][MSFT-23] User cannot navigate to "Design/Development/Data Science/Filters" button using keyboard keys"
**Steps to Reproduce**
1. Navigate to https://www.topcoder.com/challenges?
2. Use the tab key to navigate to "Design/Development/Data Science/Filters" button

**Expected Result**
User can navigate to "Design/Development/Data Science/Filters" button using keyboard keys

**Actual Result**
User cannot navigate to "Design/Development/Data Science/Filters" button using keyboard keys

**Device**: Deskto

[2019-07-17 07:02] veshu opened #2747 "[$10][MSFT-24] [Challenge Feed] "Challenge phase remaining time" label contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. In 'My Challenges' list; check the "Challenge phase remaining time" label

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #171717. New contrast ratio: 4.54
- Passes AA, if you change text color to #767676. New contrast ratio: 4.54

Some peop

[2019-07-17 07:02] veshu opened #2748 "[$10][MSFT-25] [Challenge Feed] "View more challenges" button contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. In 'My Challenges' list; check the "View more challenges" button

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #17171D. New contrast ratio: 4.52
- Passes AA, if you change text color to #737373. New contrast ratio: 4.55

Some people with l

[2019-07-17 07:02] veshu opened #2749 "[$10][MSFT-26] [Challenge Feed] Value of the selected filter contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. In right side default filters; Select All challenges
3. Check the number of challenges

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #171717. New contrast ratio: 4.54
- Passes AA, if you change text color to #5C5C5C. New contrast ratio: 4.

[2019-07-17 07:02] veshu opened #2750 "[$10][MSFT-28] [Challenge Feed] "Get the RSS feed" contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials.
2. Go to "Get the RSS feed" .

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #171717. New contrast ratio: 4.54
- Passes AA, if you change text color to #767676. New contrast ratio: 4.54

Some people with low vision experience low contrast, me

[2019-07-17 07:03] veshu opened #2751 "[$10][MSFT-29] [Challenge Feed] "Topcoder 2019" contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. In the footer; check "Topcoder 2019"

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #3F3F3F. New contrast ratio: 4.54
- Passes AA, if you change text color to #6A6A6C. New contrast ratio: 4.53

Some people with low vision experience low con

[2019-07-17 07:03] veshu opened #2752 "[$10][MSFT-30] [Challenge Feed] " 2019 Topcoder. All Rights Reserved" contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. In the footer; check "© 2019 Topcoder. All Rights Reserved"

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #ECECEC. New contrast ratio: 4.51
- Passes AA, if you change text color to #919191. New contrast ratio: 4.55

Some people with low vi

[2019-07-17 07:03] veshu opened #2753 "[$10][MSFT-31] [Challenge Feed] User can't focus on the Design. Development or Data Science toggles using tab"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. Press Tab key till Design. Development or Data Science is selected

**Expected Result**
User should be able to focus on the Design. Development or Data Science toggles using tab Key

**Actual Result**
User can't focus on the Design. Development or Data Science toggles using tab Key

**Device**:

[2019-07-17 07:03] veshu opened #2754 "[$10][MSFT-32] [Challenge Feed] User can't focus on the 'Community' menu using tab"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. Press tab key till the 'Community' menu is selected

**Expected Result**
User should be able to select the Community tab using tab

**Actual Result**
User can't focus on the 'Community' menu using tab

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category

[2019-07-17 07:03] veshu opened #2755 "[$15][MSFT-33] [Challenge Feed] User can't select the 'Filters' using tab"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. Press Tab key till filter is selected

**Expected Result**
User should be able to select the filter by using the tab key

**Actual Result**
User can't select the 'Filters' using tab Key

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 2. Operable

[2019-07-17 07:03] veshu opened #2756 "[$20][MSFT-34] The NVDA doesn't read link in sub-menu when user try to mouse hover on them"
**Steps to Reproduce**
1. Navigate to https://www.topcoder.com/challenges?
2. Try to mouse hover on primary header menu: Compete/ Tracks/ Community
3. Then try to mouse hover on sub-menu of them

**Expected Result**
The NVDA should read link in sub-menu when user try to mouse hover on them

**Actual Result**
The NVDA doesn't read link in sub-menu when user try to mouse hover on them

**Device**: D

[2019-07-17 07:03] veshu opened #2757 "[$15][MSFT-35] [Challenge Feed] While tabbing the current selection is not visible. (All challenges, My Challenge, Open for registration, Ongoing challenges) using tab"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login using valid credentials
2. Press All challenges
3. Press Tab
4. Press enter and it will select My Challenge
5. Do tha same for Open for registration, Ongoing challenges

**Expected Result**
While tabbing the current selection should be marked by a rectangle. Any keyboard operable user interface has a mode of operation wh

[2019-07-17 07:03] veshu opened #2758 "[MSFT-36] [Login] user-scalable=no on <meta> tag disables zooming on mobile devices"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Open the source

[code]

**Expected Result**
Ensures <meta name="viewport"> does not disable text scaling and zooming

**Actual Result**
user-scalable=no on <meta> tag disables zooming on mobile devices

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 1. Perceivable
**WCAG Level

[2019-07-17 07:03] veshu opened #2759 "[$10][MSFT-37] The NVDA doesn't read "Data Science" and "Filters" buttons when user try to mouse hover or click on them"
**Steps to Reproduce**
1. Navigate to https://www.topcoder.com/challenges?
2. Navigate to "Design/Development/Data Science/Filters" button and try to mouse hover or click on them

**Expected Result**
The NVDA should read "Data Science" and "Filters" buttons when user try to mouse hover or click on them

**Actual Result**
The NVDA doesn't read "Data Science" and "Filters" buttons when user try to m

[2019-07-17 07:03] veshu opened #2760 "[$20][MSFT-38] [Login] SSO link won't have discernible text"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Open the source and check the SSO icon

[code]

**Expected Result**
Ensures links have discernible text

**Actual Result**
SSO link won't have discernible text

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 2. Operable
**WCAG Level**: A
**WCAG Success Criterion**: 2.4.4 Link P

[2019-07-17 07:03] veshu opened #2761 "[MSFT-39] [Login] Username and Password fields element has no labels"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Open the source and check the Username and Password fields

[code]

[code]

**Expected Result**
Ensures every form element has a label

**Actual Result**
Username and Password fields element has no labels

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 3. Understandable
**WCAG

[2019-07-17 07:03] veshu opened #2762 "[$10][MSFT-40] [Login] Member login page doesn't have titles that describe topic or purpose."
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Check the page title

**Expected Result**
Web pages have titles that describe topic or purpose. Should display as Login | Topcoder

**Actual Result**
Member login page doesn't have titles that describe topic or purpose.

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 2. Operabl

[2019-07-17 07:03] veshu opened #2763 "[$10][MSFT-41] [Registration] - Missing Form Label."
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Inspect Element
3. Observe Form Level

**Expected Result**
Registration form should have a form label.

**Actual Result**
Form label is not present.

**Device**: Desktop/Labtop
**Operating System**: macOS
**Browser**: Chrome

**WCAG Category**: 1. Perceivable
**WCAG Level**: A
**WCAG Success Criterion**: 1.1.1 Non

[2019-07-17 07:03] veshu opened #2764 "[$10][MSFT-42] User can't focus on the 'Compete' menu using tab"
**Steps to Reproduce**
1. Go tohttps://www.topcoder.com/members/doremihong
2. Press tab key till the 'Compete' menu is selected

**Expected Result**
User should be able to select the "Compete" tab using tab

**Actual Result**
User can't focus on the 'Compete' menu using tab

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 2. Operable
**WCAG Level**:

[2019-07-17 07:03] veshu opened #2765 "[$20][MSFT-44] User can't focus on the 'Attachments' item using tab"
**Steps to Reproduce**
1. Go to "https://www.topcoder.com/challenges?" and Login using valid credentials
2. Click on "Support" button
3. Press tab key till the 'Attachments' item is selected

**Expected Result**
User should be able to select the 'Attachments' item using tab

**Actual Result**
User can't focus on the 'Attachments' item using tab

**Device**: Desktop/Labtop
**Operating System**: Win

[2019-07-17 07:03] veshu opened #2766 "[$10][MSFT-45] In country field tab index value is empty."
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Inspect Element
3. Observe the country field.

**Expected Result**
The tab index value is suppose to accept the positive integers meaning it should accept values like 1 and above , not 0 or -1.

**Actual Result**
A tab index value is not set i.e empty.

**Device**: Desktop/Labtop
**Operating System**: macOS
**Brow

[2019-07-17 07:03] veshu opened #2767 "[$10][MSFT-46] [Login] "Show" button foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to Go to https://accounts.topcoder.com/member
2. Check the Show button

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #757584. New contrast ratio: 4.53
- Passes AA, if you change text color to #616161. New contrast ratio: 4.53

Some people with low vision experience low contrast, meaning that there aren't very many

[2019-07-17 07:03] veshu opened #2768 "[$10][MSFT-47] [Login] "Forgot your password?" hyperlink foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to Go to https://accounts.topcoder.com/member
2. Check the "Forgot your password?" hyperlink

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #2C2C2C. New contrast ratio: 4.53
- Passes AA, if you change text color to #0079CE. New contrast ratio: 4.54

Some people with low vision experience low contrast, meaning that

[2019-07-17 07:03] veshu opened #2769 "[MSFT-48] [Registration] A <noscript> element is present for Facebook"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Inspect Element
3. Observe no-Script element.

**Expected Result**
A <noscript> element should not be  present.

**Actual Result**
Inspect element is showing like this :
<noscript>
<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1174423269336130&amp;ev=PageView&amp;noscript=1
htt

[2019-07-17 07:03] veshu opened #2770 "[MSFT-49] [Login] Social media hyperlinks (GITHUB, GOOGLE, FACEBOOK, TWITTER, SSO) foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to Go to https://accounts.topcoder.com/member
2. Check the Social media hyperlinks (GITHUB, GOOGLE, FACEBOOK, TWITTER, SSO)

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #3A3A3A. New contrast ratio: 4.55
- Passes AA, if you change text color to #757585. New contrast ratio: 4.53

Some people with low vision experie

[2019-07-17 07:04] veshu opened #2771 "[$20][MSFT-54] [Register] Member registration page doesn't have titles that describe topic or purpose."
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Check the page title

**Expected Result**
Web pages have titles that describe topic or purpose. Should display as Register | Topcoder

**Actual Result**
Member registration page doesn't have titles that describe topic or purpose.

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG

[2019-07-17 07:04] veshu opened #2772 "[$10][MSFT-55] [Register] user-scalable=no on <meta> tag disables zooming on mobile devices"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Open the source and check

**Expected Result**
Ensures <meta name="viewport"> does not disable text scaling and zooming

**Actual Result**
user-scalable=no on <meta> tag disables zooming on mobile devices

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 1. Perceivable
**WCAG Lev

[2019-07-17 07:04] veshu opened #2773 "[$15][MSFT-56] [Registration] A heading level is skipped "Username Tips"."
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Inspect Element
3. Observe the heading level in User Name Tips.

**Expected Result**
A heading level should not be skipped.

**Actual Result**
A heading level is skipped.

**Device**: Desktop/Labtop
**Operating System**: macOS
**Browser**: Chrome

**WCAG Category**: 2. Operable
**WCAG Level**: AAA
**WCAG Success C

[2019-07-17 07:04] veshu opened #2774 "[$10][MSFT-58] [Registration] Show Button"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Inspect Element
3. Observe the

**Expected Result**
Expected contrast ratio of 4.5:1.

**Actual Result**
Element has insufficient color contrast of 1.37 (foreground color: #FFFFFF, background color: ##DCDCE0, font size: small.

**Device**: Desktop/Labtop
**Operating System**: macOS
**Browser**: Chrome

**WCAG Cate

[2019-07-17 07:04] veshu opened #2775 "[$20][MSFT-59] [Registration] - The color contrast is very low for Join Button."
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Inspect Element
3. Observe the Join Button color.

**Expected Result**
Expected contrast ratio of 4.5:1.

**Actual Result**
Element has insufficient color contrast of 1.5.1 (foreground color: #FFFFFF, background color: ##d1d3d4)

**Device**: Desktop/Labtop
**Operating System**: macOS
**Browser**: Chrome

**WCAG Ca

[2019-07-17 07:04] veshu opened #2776 "[$10][MSFT-60] [Register] "By clicking "Join" you agree to Topcoder's Terms and Privacy Policy" text foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Check the "By clicking "Join" you agree to Topcoder's Terms and Privacy Policy" text

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #3A3A3A. New contrast ratio: 4.55
- Passes AA, if you change text color to #757585. New contrast ratio: 4.53

Some people with l

[2019-07-17 07:04] veshu opened #2777 "[$10][MSFT-61] [Register] Social media icon text foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Check the Social media icon text

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #3A3A3A. New contrast ratio: 4.55
- Passes AA, if you change text color to #757585. New contrast ratio: 4.53

Some people with low vision experience low contrast, meaning that ther

[2019-07-17 07:04] veshu opened #2778 "[$10][MSFT-63] [Register] "Login" hyperlink foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Check the "Login" hyperlink text

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #2C2C2C. New contrast ratio: 4.53
- Passes AA, if you change text color to #0074C6. New contrast ratio: 4.5

Some people with low vision experience low contrast, meaning that there

[2019-07-17 07:04] veshu opened #2779 "[MSFT-64] [Member Log In][Edge] WCAG 2.0 A account member page check have one issue"
**Steps to Reproduce**
1)  Got to the page "https://accounts.topcoder.com/member" in edge broswer.
2) Use to check accessibility compliance website 'http://www.cynthiasays.com/' and enter  menederoty things with webpage URL e.g. Email ID, Web Page URL(https://accounts.topcoder.com/member),
Compliance mode(WCAG 2.0A)
3) Tick the term and condition
4) Submit the Test you site button and observe the

[2019-07-17 07:04] veshu opened #2780 "[$15][MSFT-65] User have to press tab key two time to focus on item"
**Steps to Reproduce**
1. Navigate to https://www.topcoder.com/members/doremihong
2. Try to mouse hover on primary header menu: Compete or Tracks or Community then click on black background color
3. Use the tab key to focus individual item in sub-menu

**Expected Result**
User only need to press tab key one time to focus on item

**Actual Result**
User have to press tab key two time to focus on it

[2019-07-17 07:04] veshu opened #2781 "[$15][MSFT-67] [Member] Missing form Label in Search Field"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Inspect Element
3. Observe the search field label.

**Expected Result**
Form Label should be present in Search Field

**Actual Result**
Form Label is missing in Search Field.
<input type="search" placeholder="Search" class="text-ctrl" name="s" id="search-query-mobile" autocomplete="off">
<div class="search-clear">

**Device**:

[2019-07-17 07:04] veshu opened #2782 "[$15][MSFT-68] [Login] Social Link text for icons are unclear; and may be confusing to screen readers."
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Check the code of the social media link text

[code]

**Expected Result**
The text "" is unclear without context and may be confusing to screen readers. Consider rearranging the <a></a> tags or including special screen reader text.

**Actual Result**
Social Link text for icons are unclear

**Device**: Desktop/Labtop
**Operatin

[2019-07-17 07:04] veshu opened #2783 "[$30][MSFT-69] [Member registration][Edge] Language content not define as per WCAG 2.0A"
**Steps to Reproduce**
1) Got to the page "https://accounts.topcoder.com/member/registration" in edge browser.
2) Use to check accessibility compliance website 'http://www.cynthiasays.com/' and enter menederoty things with webpage URL e.g. Email ID, Web Page URL(https://accounts.topcoder.com/member/registration),
Compliance mode(WCAG 2.0A)
3) Tick the term and condition
4) Submit the Test you site

[2019-07-17 07:04] veshu opened #2784 "[$10] [MSFT-70] [Member] Suspicious alternative text is seen in Meet our community Image"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Inspect Element
3. Observe the alternative text.

**Expected Result**
alternative text should be present.

**Actual Result**
Suspicious alternative text is found in following image:

img src="https://www.topcoder.com/wp-content/uploads/2018/04/sample-content-box-1.jpg
https://www.topcoder.com/wp-content/uploads/2018/04/sample-

[2019-07-17 07:04] veshu opened #2785 "[$10][MSFT-71] [Member] Linked image missing alternative text in User Profile Icon"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Inspect Element
3. Observe the alternative text in User Profile Icon.

**Expected Result**
Linked image alternative text should be present in User Profile Icon

**Actual Result**
Linked image alternative text is missing in User Profile Icon.

**Device**: Desktop/Labtop
**Operating System**: macOS
**Browser**: Chrome

**WCAG Ca

[2019-07-17 07:04] veshu opened #2786 "[$15][MSFT-72] [Edge]The NVDA don't read exactly item name in "Sub community" list dropdown, it read the wrong item name"
**Steps to Reproduce**
1. Navigate to https://www.topcoder.com/challenges?
2. Navigate to "Filters" button and click on it
3. Click on "Sub community" dropdown and mouse hover on any item in list

**Expected Result**
The NVDA should read exactly item name in "Sub community" list dropdown

**Actual Result**
The NVDA don't read exactly item name in "Sub community" list dropdown, it read the wrong it

[2019-07-17 07:04] veshu opened #2787 "[$10][MSFT-73] [Member] Null or empty alternative text in Feature Home"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Inspect Element
3. Observe the alternative text in User Profile Icon.

**Expected Result**
Null or empty alternative text in Feature Home should not be present.

**Actual Result**
Null or empty alternative text in Feature Home is shown as below:
<img src="https://www.topcoder.com/wp-content/uploads/2018/05/Homepage.png
https:/

[2019-07-17 07:04] veshu opened #2788 "[$10][MSFT-74] OAuth provider links not accessible via Tab"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Open VoiceOver on Mac.
3. Press tab till you go see the SSO highlight.

**Expected Result**
The other OAuth providers should be accessible on pressing Tab.

**Actual Result**
The other OAuth providers except SSO are not accessible via Tab.

**Device**: Desktop/Labtop
**Operating System**: macOS
**Browser**: Chrome

**WCAG Cate

[2019-07-17 07:04] veshu opened #2789 "[$10][MSFT-75] The NVDA doesn't read "Facebook/ Twitter/ LinkedIn/ Instagram " icons name when user try to mouse hover on them"
**Steps to Reproduce**
1. Navigate to https://www.topcoder.com/challenges?
2. Scroll to the footer
3. Try to mouse hover on "Facebook/ Twitter/ LinkedIn/ Instagram " icons

**Expected Result**
The NVDA should read "Facebook/ Twitter/ LinkedIn/ Instagram " icons name when user try to mouse hover on them

**Actual Result**
The NVDA doesn't read "Facebook/ Twitter/ LinkedIn/ Instagram " icons name wh

[2019-07-17 07:04] veshu opened #2790 "[MSFT-76] [Register] Can't access social media login via keyboard"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Focus the cursor on the first name field and click tab till the selection reaches to social media icons

**Expected Result**
Can't access social media login via keyboard

**Actual Result**

Can't access social media login via keyboard

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

*

[2019-07-17 07:05] veshu opened #2791 "[$30][MSFT-77] [Register] While tabbing the 'Login' hyperlink selection is not visible"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Focus the cursor on the first name field and click tab till the selection reaches to Login

**Expected Result**
While tabbing the current selection should be marked by a rectangle. Any keyboard operable user interface has a mode of operation where the keyboard focus indicator is visible.

**Actual Result**
User sh

[2019-07-17 07:05] veshu opened #2792 "[$40][MSFT-78] The NVDA doesn't read some icons name when user try to mouse hover or click on them"
**Steps to Reproduce**
1. Navigate to https://www.topcoder.com/members/doremihong
2. Try to mouse hover on "Skills" icons

**Expected Result**
The NVDA should read all icons name when user try to mouse hove on them.

**Actual Result**
The NVDA doesn't read some icons name when user try to mouse hover or click on them ( ex: HTML5, Illustrator, photoshop...)

**Device**: Desktop/Labtop
**Operating S

[2019-07-17 07:05] veshu opened #2793 "[MSFT-82] [Chrome] The NVDA doesn't read item name when user try to mouse hover on them"
**Steps to Reproduce**
1. Navigate to https://accounts.topcoder.com/member/registration
2. Try to mouse hover on any text-box or "GitHub/ Google/ Facbook" icons

**Expected Result**
The NVDA should read item name when user try to mouse hover on them

**Actual Result**
The NVDA doesn't read item name when user try to mouse hover on them

**Device**: Desktop/Labtop
**Operating System**: Windows
**Br

[2019-07-17 07:05] veshu opened #2794 "[$15][MSFT-83] [Member] - The contrast color is low for Unregistered Button"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/XXXXXXX
2. Inspect Element
3. Observe the color of Unregistered Button.

**Expected Result**
Expected contrast ratio of  4:5:1.

**Actual Result**
Element has insufficient color contrast Ration 2.5:1 (foreground color: #FFFFFF, background color: ###ff5b52, Contrast Ratio : 3.06:1)

**Device**: Desktop/Labtop
**Operating System**:

[2019-07-17 07:05] veshu opened #2795 "[$50][MSFT-84] [Edge] The NVDA still read item name when user try to mouse hover outside area of them"
**Steps to Reproduce**
1. Navigate to https://accounts.topcoder.com/member/registration
2. Try to mouse hover outside area of any text-box or button

**Expected Result**
The NVDA should not read item name when user try to mouse hover outside area of them

**Actual Result**
The NVDA still read item name when user try to mouse hover outside area of them

**Device**: Desktop/Labtop
**Operating System

[2019-07-17 07:05] veshu opened #2796 "[$10][MSFT-85] [Challenges] - The contrast color is low for Submit Button"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges
2. Inspect Element
3. Observe the color of Submit Button

**Expected Result**
Expected contrast ratio of  4:5:1.

**Actual Result**
Element has insufficient color Contrast Ratio :3.76:1) (foreground color: #FFFFFF, background color: #0681ff,

**Device**: Desktop/Labtop
**Operating System**: macOS
**Browser**: Chrome

**WCAG Catego

[2019-07-17 07:05] veshu opened #2797 "[$20]{MSFT-86} {Challenges} - The contrast color is low for Help Icon near Review Score"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges
2. Inspect Element
3. Observe the color of Help Icon near "REVIEW STYLE".

**Expected Result**
Expected contrast ratio of  4:5:1 should be present.

**Actual Result**
Element has insufficient color contrast Ration 2.17:1 (foreground color: #FFFFFF, background color:  #60c700)

**Device**: Desktop/Labtop
**Operating System**: macOS

[2019-07-17 07:05] veshu opened #2798 "[$10]{MSFT-88} {Member} Link color for "Privacy Policy" is not same in the page"
**Steps to Reproduce**
1. Login to https://accounts.topcoder.com/member.
2. Hover the mouse near Privacy text. Its highlighted after hovering over it.
3. Tab using keyboard all the fields. Observe whether color is changing while tabbing near Privacy text.

**Expected Result**
Color should change while tabbing with keyboard near Privacy text.

**Actual Result**
Color is not changing while tabbing n

[2019-07-17 07:05] veshu opened #2799 "[$15]{MSFT-89}{Submit} Missing first level heading"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095032/submit
2. Inspect Element
3. Observe the first level heading

**Expected Result**
First level heading should be present describing the purpose.

**Actual Result**
First level heading do not describe topic or purpose.

**Device**: Desktop/Labtop
**Operating System**: macOS
**Browser**: Chrome

**WCAG Category**: 2. Operabl

[2019-07-17 07:05] veshu opened #2800 "[$15]{MSFT-91} {Member} Focus element is not element when keyboard is used."
**Steps to Reproduce**
1. Login to https://accounts.topcoder.com/member.
2. Use Tab to navigate in the page.

**Expected Result**
Focus element should be highlighted.

2.4.7 Intent

The purpose of this success criterion is to help a person know which element has the keyboard focus.

The purpose of this success criterion is to help a person know which element among multiple elements has the keyboar

[2019-07-17 07:05] veshu opened #2801 "[$80][MSFT-95] [Challenges Feed][Chrome] 'Non-text content' and 'Info and Relationship' and 'Link purpose(In context)' and 'language of the page' and 'label and instructions', 'Name, Role, Value' not match as per WCAG 2.0 A guidline"
**Steps to Reproduce**
1) Got to the page "https://www.topcoder.com/challenges" in edge browser.
2) Use to check accessibility compliance website 'http://www.cynthiasays.com/' and enter menederoty things with webpage URL e.g. Email ID, Web Page URL(https://www.topcoder.com/challenges),
Compliance mode(WCAG 2.0A and WCAG 2.0 AA)
3) Tick the term and condition
4) Submit the Test you site button and

[2019-07-17 07:05] veshu opened #2802 "[$30][MSFT-96] Challenges page: Screen readers do not recognise the type of element and the selected state for the 'design', 'development' and 'data science' toggle controls."
**Steps to Reproduce**
1. Go to the Challenges page: https://www.topcoder.com/challenges. Ensure the screen reader is switched on. 3. Press the down arrow from the 'search challenges' text box a couple of times. 4. You will hear 'design', 'development', 'data science'. 5. Notice screen readers do not announce whether these are toggle buttons or checkboxes. Also screen readers do not announce wheth

[2019-07-17 07:05] veshu opened #2803 "[$10]{MSFT-98} {Submit} Tab button is not selecting the COMMUNITY"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095032/submit
2. Hit the Tab button.
3. Hit the Tab once again and observe the tab position.

**Expected Result**
Tab button should highlight the Community while hitting the tab button.

**Actual Result**
Tab button is not highlighting the COMMUNITY while stroke the tab button from the keyboard .

**Device**: Desktop/Labtop
**Op

[2019-07-17 07:05] veshu opened #2804 "[$30][MSFT-99] Challenges page: Screen reader doesn't announce the type of element for the 'filter' control"
**Steps to Reproduce**
1. Go to the Challenges page: https://www.topcoder.com/challenges. 2. Ensure the screen reader is switched on. 3. Press the down arrow from the 'search challenges' text box a couple of times. 4. Notice the screen reader just reads 'filter' instead of 'filter button'.

**Expected Result**
Screen reader should announce the type of element in this case as 'filter button'.

**Ac

[2019-07-17 07:05] veshu opened #2805 "[$40]{MSFT-101} Challenges page: The title of each challenge under the 'open challenges' and 'ongoing challenges' should be designated with heading level 3 to help in quick navigation for screen reader users."
**Steps to Reproduce**
1. Go to the Challenges page: https://www.topcoder.com/challenges. 2. Ensure the screen reader is switched on. 3. Pre the letter 'h' to reach the heading 'open challenges' 4. Press the down arrow key to read through the multiple challenges on the page. 5. Similarly press the letter 'h' to move to the heading 'ongoing challenges'. 6. Press the down arrow key to read through t

[2019-07-17 07:05] veshu opened #2806 "[$80]{MSFT-102} Challenges page: Screen readers announce the details of the challenge in an incorrect order."
**Steps to Reproduce**
1. Go to the Challenges page: https://www.topcoder.com/challenges. 2. Ensure the screen reader is switched on. 3. Use the down arrow key to read through the details of the challenges. 4. Notice that the screen reader reads the details in a manner which is not clear to the user. for example, it reads $1500 first and then the word 'purse' in the next line.

**Expected Result**

[2019-07-17 07:05] veshu opened #2807 "[$80][MSFT-103] [Submit] Tab button is unable to navigate in Submission Upload Page."
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095032/submit
2. Hit the Tab button.
3. Keep o hitting until it selects the Submission Upload page.
4. Then hit space bar it will open the new pop up window.
5.  Then Hit the Tab button again to navigate the icons listed, using up down arrow key.

**Expected Result**
Tab button should highlight/select the Icons present in the po

[2019-07-17 07:05] veshu opened #2808 "[$10]{MSFT-104} Challenges page: Screen reader doesn't announce the type of element for the 'save filter' and 'clear filter' controls."
**Steps to Reproduce**
1. Go to the Challenges page: https://www.topcoder.com/challenges. 2. Ensure the screen reader is on. 3. Activate the filter. 4. Use the down arrow to understand the layout of the filter. 5. Notice that the screen reader announces 'save filter' and 'clear filter' instead of 'save filter button' and 'clear filter button'.

**Expected Result**
Screen reader should announce the

[2019-07-17 07:05] veshu opened #2809 "[$30][MSFT-105] Challenges page: clear filter' and 'save filter' do not receive tab focus."
**Steps to Reproduce**
1. Go to the Challenges page: https://www.topcoder.com/challenges. 2. Activate the filter. 3. Press the tab key to navigate through the filter controls. 4. Notice that the tab key skips the 'save filter' and 'clear filter' controls.

**Expected Result**
Since these are interactive elements, the 'save filter' and 'clear filter' controls should receive tab focus.

**Actual Res

[2019-07-17 07:05] veshu opened #2810 "[$40][MSFT-106] Challenges page: Datepicker: The buttons to move to the previous and next month are being read as 'move backward to switch to previous month' and 'move forward to switch to the next month'. These labels are confusing."
**Steps to Reproduce**
1. Go to the Challenges page: https://www.topcoder.com/challenges. 2. Ensure the screen readr is switched on. 3. Activate the filter. 4. Press the tab key till you arrive at the start date field. 5. Press enter to bring up the callendar. 6. Press the tab key so that your focus is on the buttons to change the months. 7. Note the screen reader announces these buttons as 'move

[2019-07-17 07:06] veshu opened #2811 "[$40][MSFT-107] Challenges page: Datepicker: The instructions to obtain callendar shortcuts are ambiguous for screen reader users."
**Steps to Reproduce**
1. Go to the Challenges page: https://www.topcoder.com/challenges. 2. Ensure the screen readr is switched on. 3. Activate the filter. 4. Press the tab key till you arrive at the start date field. 5. Press the '?' key from the keyboard as mentioned in the instructions.6. Notice that no changes are announced by the screen readers.

**Expected Result**
There should be button 'c

[2019-07-17 07:06] veshu opened #2812 "[$10][MSFT-111] Member registration page: The 'email tips', 'user name tips' and 'password tips' are designated with level 3 headings instead of level 2."
**Steps to Reproduce**
1. Go to the Members registration page:https://accounts.topcoder.com/member/registration. 2. Ensure that the screen reader is switched on. 3. Press tab till your arrive at the 'enter your email id' text box. 4. Remove your focus from the text box and press the down arrow key. 5. Screen reader will announce 'email tips heading level 3' followed with a few tips to create a val

[2019-07-17 07:06] veshu opened #2813 "[$30][MSFT-112] Member registration page: The help content related to the 'email' 'user name' and 'password' fields is not announced when user navigates with tab key."
**Steps to Reproduce**
1. Go to the Members registration page:https://accounts.topcoder.com/member/registration. 2. Ensure that the screen reader is switched on. 3. Press tab till your arrive at the 'enter your email id' text box. 4. Notice that the screen reader doesn't announce the help content. 5. Press tab to arrive at the 'user name' and 'password' text fields and observe that the help conten

[2019-07-17 07:06] veshu opened #2814 "[$40][MSFT-113] Member registration page: Errors and alerts are not being announced for screen reader users."
**Steps to Reproduce**
1. Go to the Members registration page:https://accounts.topcoder.com/member/registration. 2. Ensure that the screen reader is switched on. 3. Press tab key till your arrive at the user name field' 4. Type a single character in the field. 6. Since one of the criteria for user name is to have a user name between 2-15 characters, an error is displayed. 7. This error is not anno

[2019-07-17 07:06] veshu opened #2815 "[$15][MSFT-116] Member login page: The links under the 'or login with' and single signon link do not receive tab focus."
**Steps to Reproduce**
1. Go to Members login:https://accounts.topcoder.com/member. 2. Press the tab key to navigate through the interactive elements on the page. 3. Notice that the links under the section 'or login with' and 'single signon' link do not receive tab focus and are completely skipped.

**Expected Result**
The links should be accessible with the tab key.

**Actual Result**
Not able to

[2019-07-17 07:06] veshu opened #2816 "[$30][MSFT-117] [Challenges Feed][Chrome] Contrast and resize text not match with WCAG 2.0 AA guidelines"
**Steps to Reproduce**
1) Got to the page "https://www.topcoder.com/challenges" in edge browser.
2) Use to check accessibility compliance website 'http://www.cynthiasays.com/' and enter menederoty things with webpage URL e.g. Email ID, Web Page URL(https://www.topcoder.com/challenges),
Compliance mode(WCAG 2.0 AA)
3) Tick the term and condition
4) Submit the Test you site button and observe the sc

[2019-07-17 07:06] veshu opened #2817 "[$10][MSFT-118] Challenges page: The topcoder logo doesn't have an alt text."
**Steps to Reproduce**
1. Go to the Challenges page: https://www.topcoder.com/challenges. 2. Ensure screen reader is switched on. 3. Press the shortcut 'ctrl + home' to make sure that you are at the top of the page. 4. Press the down arrow. 5. Notice screen reader reads 'link graphic www.topcoder'

**Expected Result**
Screen reader should announce the logo as 'link graphic topcoder logo'

**Actual

[2019-07-17 07:06] veshu opened #2818 "[$15]{MSFT-120} Challenges page: Screen reader doesn't announce the type of element for the 'compte ' and 'community' controls."
**Steps to Reproduce**
1. Go to the Challenges page: https://www.topcoder.com/challenges. 2. Ensure screen reader is on. 3. Press down arrow to read the 'compte' and 'community' controls. 3. Notice that the screen reader doesn't announce these as either buttons or links.

**Expected Result**
Compete and community controls should be announced as links since they move focus to a different page.

**A

[2019-07-17 07:06] veshu opened #2819 "[$20]{MSFT-121} Sample challenge page: The link under the heading 'eligible events' doesn't have a label indicating its purpose."
**Steps to Reproduce**
1. Go to the sample challenge page: https://clicktime.symantec.com/34CaebazimgmFxdkBZnihRc7Vc?u=https%3A%2F%2Fwww.topcoder.com%2Fchallenges%2F<sample-Sample challenge page:challengeid>?tab=details. 2. Ensure the screen reader is switched on. 3. Navigate to the heading 'eligible events'. 4. Press the down arrow key. 5. Notice that JAWS reads 'link graphic and a series of numb

[2019-07-17 07:06] veshu opened #2820 "[$40][MSFT-122] Sample challenge page: Improper heading level structure"
**Steps to Reproduce**
1. Go to the sample challenge page: https://clicktime.symantec.com/34CaebazimgmFxdkBZnihRc7Vc?u=https%3A%2F%2Fwww.topcoder.com%2Fchallenges%2F<sample-Sample challenge page:challengeid>?tab=details. 2. Ensure that the screen reader is switched on. 3. Press the letter 'h' to navigate through the list of headings on the page. 4. Notice the level of each heading. 6. The heading

[2019-07-17 07:06] veshu opened #2821 "[$30][MSFT-123] Sample challenge page: Inappropriate label for the 'show deadline' and 'hide deadline' buttons."
**Steps to Reproduce**
1. Go to the sample challenge page: https://clicktime.symantec.com/34CaebazimgmFxdkBZnihRc7Vc?u=https%3A%2F%2Fwww.topcoder.com%2Fchallenges%2F<sample-Sample challenge page:challengeid>?tab=details.
2. Ensure that the screen reader is switched on.
3. Navigate to the 'show deadline' button.
4. Notice the screen reads this as 'show deadline - arrow up' instead of just 'show dea

[2019-07-17 07:06] veshu opened #2822 "[$30][MSFT-124] Sample challenge page: Details and registrants should be tabs instead of links. Also screen readers do not announce which one of these is selected."
**Steps to Reproduce**
1. Go to the sample challenge page: https://clicktime.symantec.com/34CaebazimgmFxdkBZnihRc7Vc?u=https%3A%2F%2Fwww.topcoder.com%2Fchallenges%2F<sample-Sample challenge page:challengeid>?tab=details. 2. Ensure that the screen reader is switched on. 3. Navigate to the 'details' and 'registrants' controls either by tab or arrow keys. 4. Notice that these are being read as links

[2019-07-17 07:06] veshu opened #2823 "[$40]{MSFT-125} Sample challenge page: Screen reader reads the registrants information in a textual format and not in a tabular format."
**Steps to Reproduce**
1. Go to the sample challenge page: https://clicktime.symantec.com/34CaebazimgmFxdkBZnihRc7Vc?u=https%3A%2F%2Fwww.topcoder.com%2Fchallenges%2F<sample-Sample challenge page:challengeid>?tab=details. 2. Ensure that the screen reader is switched on. 3. Navigate to the 'registrants' control using the tab key or the arrow key. 4. Press enter on the 'registrants' control. 6. Press

[2019-07-17 07:06] veshu opened #2824 "[$40]{MSFT-126} Sample challenge page: There is a Question mark next to the content under the headings 'final review' and 'approval'. A message appears when the mouse is hovered over the ?. The tooltip is not keyboard accessible."
**Steps to Reproduce**
1. Go to the sample challenge page: https://clicktime.symantec.com/34CaebazimgmFxdkBZnihRc7Vc?u=https%3A%2F%2Fwww.topcoder.com%2Fchallenges%2F<sample-Sample challenge page:challengeid>?tab=details. 2. Ensure that the screen reader is switched on. 3. Navigate to the headings 'final review' and 'approval'. Press the down arrow till you hear 'question mark'. 5. Note that pressi

[2019-07-17 07:06] veshu opened #2825 "[$10][MSFT-127] Sample challenge page: The labels for the links under the heading 'share' are incorrectly announced by screen readers when navigating with arrow keys."
**Steps to Reproduce**
1. Go to the sample challenge page: https://clicktime.symantec.com/34CaebazimgmFxdkBZnihRc7Vc?u=https%3A%2F%2Fwww.topcoder.com%2Fchallenges%2F<sample-Sample challenge page:challengeid>?tab=details. 2. Ensure that the NVDA screen reader is switched on. 3. Navigate to the 'share' heading. 4. Press the down arrow from here to navigate to the links under this heading. 5. Note th

[2019-07-17 07:06] veshu opened #2826 "[$10][MSFT-128] Sample challenge page: The 'submit' link appears grayed out visually but it is not announced as disabled by the screen reader."
**Steps to Reproduce**
1. Go to the sample challenges page: https://clicktime.symantec.com/34CaebazimgmFxdkBZnihRc7Vc?u=https%3A%2F%2Fwww.topcoder.com%2Fchallenges%2F<sample-Sample challenge page:challengeid>?tab=details. 2. Ensure that the screen reader is switched on. 3. Navigate to the 'submit' link using the arrow keys. 4. Notice that this link appears greyed out visually however it is not ann

[2019-07-17 07:06] veshu opened #2827 "[$30][MSFT-130] Registration- Screen reader is not reading the username tips special characters"
**Steps to Reproduce**
1. login to https://accounts.topcoder.com/member.
2. Click Join now.
3. Click on the username field.
4. Username tips dialog is shown.
5. Observe the screen reader by reading its text. Screen reader is not reading this line.
-_ {} []

**Expected Result**
Screen reader should read the last line with these charecters.
-_ {} []

**Actual Result**
Screen reader is not reading th

[2019-07-17 07:06] veshu opened #2828 "[$20][MSFT-131] [Challenge Page] Prizes section is not readout by the screen reader"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095032
2. Switch on the screen reader
3. Tap on the page header and press tab button until it reaches to the prizes section
2. Listen

**Expected Result**
It should be read-out by the screen reader

**Actual Result**
Prizes section is not read out by the screen reader

**Device**: Desktop/Labtop
**Operating System**: Windows
**B

[2019-07-17 07:06] veshu opened #2829 "[$10][MSFT-133] [Challenge Page] Details, Registration and Submission tabs skipped by the screen reader"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095032
2. Switch on the screen reader
3. Tap on the page header and press tab button until it reaches to the challenge forum tab
2. Listen

**Expected Result**
It should be read-out by the screen reader

**Actual Result**
Details, Registration and Submission tabs skipped by the screen reader

**Device**: Desktop/Labtop
**Operati

[2019-07-17 07:06] veshu opened #2830 "[$15][MSFT-134] [Challenge Page] TCO Logo won't have meaningful content for the screen reader"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095032
2. Switch on the screen reader
3. Tap on the page header and press tab button until it reaches to the TCO19 logo
2. Listen

**Expected Result**
It should be read-out by the screen reader. Should set the alt text as TCO19

**Actual Result**
TCO Logo won't have meaningful content for the screen reader

**Device**: Desktop/L

[2019-07-17 07:07] veshu opened #2831 "[$10][MSFT-135] [Challenge Page] Eligible event section content is not read-out by the screen reader"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095032
2. Switch on the screen reader
3. Tap on the page header and press tab button until it reaches to the TCO19 logo
2. Press Tab key and Listen

**Expected Result**
It should be read-out by the screen reader.

**Actual Result**
Eligible event section content is not read-out by the screen reader

**Device**: Desktop/Labtop
**

[2019-07-17 07:07] veshu opened #2832 "[$10]{MSFT-136} {Challenge Page} Show Deadlines section content is not read-out by the screen reader"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095347/?type=develop&noncache=true
2. Switch on the screen reader
3. Expand the Show Deadlines
2. Press Tab key and Listen

**Expected Result**
It should be read-out by the screen reader.

**Actual Result**
Eligible event section content is not read-out by the screen reader

**Device**: Desktop/Labtop
**Operating System**: Windo

[2019-07-17 07:07] veshu opened #2833 "[$20][MSFT-137] [Login] Some social media hyperlinks missed by the screen reader"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Switch on the screen reader
3. Press Tab Key and Listen

**Expected Result**
It should be read-out by the screen reader.

**Actual Result**
Some social media hyperlinks missed by the screen reader
 - GITHUB
 - GOOGLE
 - FACEBOOK
 - TWITTER

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Ca

[2019-07-17 07:07] veshu opened #2834 "[$20][MSFT-138] [Register] Some social media hyperlinks missed by the screen reader"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Switch on the screen reader
3. Press Tab Key and Listen

**Expected Result**
It should be read-out by the screen reader.

**Actual Result**
Some social media hyperlinks missed by the screen reader
 - GITHUB
 - GOOGLE
 - FACEBOOK

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG

[2019-07-17 07:07] veshu opened #2835 "[$15][MSFT-139] [Challenge Feed] No descriptive word for number of registrant while using the screen reader"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges
2. Switch on the screen reader
3. Press Tab key until the number of registrants is focused

**Expected Result**
It should be read-out by the screen reader > Number of Registrants <Value> or Number of Registrants

**Actual Result**
No descriptive word for a number of registrants while using the screen reader

**Device**: Desktop/La

[2019-07-17 07:07] veshu opened #2836 "[$20][MSFT-143] The NVDA doesn't read link in sub-menu when user try to mouse hover on them"
**Steps to Reproduce**
1. Navigate to https://www.topcoder.com/challenges?
2. Try to mouse hover on primary header menu: Compete/ Tracks/ Community
3. Then try to mouse hover on sub-menu of them

**Expected Result**
The NVDA should read link in sub-menu when user try to mouse hover on them

**Actual Result**
The NVDA doesn't read link in sub-menu when user try to mouse hover on them

**Device**: D

[2019-07-17 07:07] veshu opened #2837 "[$15][MSFT-145] [Challenge Feed] Search button is not marked when user focus on it"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges
2. Press Tab key until Search is selected

**Expected Result**
It should be marked with a border to easily identified

**Actual Result**
Search button is not marked when user focus on it

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 2. Operable
**WCAG Level**: AA
**WCAG Success C

[2019-07-17 07:07] veshu opened #2838 "[$10][MSFT-146] [Challenge Feed] User can't focus on the user avatar using tab key"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges
2. Press Tab key until the user avatar is selected

**Expected Result**
User should be able to focus on the user avatar menu

**Actual Result**
User can't focus on the user avatar using tab key

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 2. Operable
**WCAG Level**: AA
**WCAG Su

[2019-07-17 07:07] veshu opened #2839 "[$30][MSFT-148] [Challenge Feed] Keywords, Sub Track default text should be changed because user can't get any idea when using a screen reader"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges
2. Open the Screen Reader
3. Click Filters
4. Click Keywords/Sub Track drop downs

**Expected Result**
Keywords: Keywords and Sub Track: Sub Track

**Actual Result**
Keywords: Select... and Sub Track: Select...

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 1. Perceivable
**WCAG L

[2019-07-17 07:07] veshu opened #2840 "[$15][MSFT-149] [Challenge Submission Page] Won't focus on 'I Understand and Agree' when user use the tap key"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095032/submit
2. Press tap key to go to 'I Understand and Agree'

**Expected Result**
Should be able to select that option using tab key

**Actual Result**
Won't focus on 'I Understand and Agree' when user use the tap key

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 2. Operabl

[2019-07-17 07:07] veshu opened #2841 "[$10][MSFT-151] [Challenge Submission Page] File drag and drop container won't have proper identification text for screen readers"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095032/submit
2. Press Tab key till the drag and drop section is selected

**Expected Result**
Should use proper labeling so that the user can identify the controller

**Actual Result**
File drag and drop container won't have proper identification text for screen readers

**Device**: Desktop/Labtop
**Operating System**: Windows

[2019-07-17 07:07] veshu opened #2842 "[$10][MSFT-152] [Challenge Submission Page] 'Back to challenge' button contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095032/submit and Login using valid credentials
2. Check the 'Back to challenge' button

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA, if you change background color to #3A3A3A. New contrast ratio: 4.55
- Passes AA, if you change text color to #737383. New contrast ratio: 4.54

Some people with low vision ex

[2019-07-17 07:07] veshu opened #2843 "[$10][MSFT-153] [Challenge Submission Page] 'Drag and drop your.zip file here.' text contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095032/submit and Login using valid credentials
2. Check the 'Drag and drop your.zip file here.' text

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA if you change background color to #222222. New contrast ratio: 4.54
- Passes AA if you change text color to #737380. New contrast ratio: 4.56

Some people with l

[2019-07-17 07:07] veshu opened #2844 "[$10][MSFT-154] [Challenge Submission Page] 'Files description' text contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095032/submit and Login using valid credentials
2. Check the 'Files description' text

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA if you change background color to #3A3A3A. New contrast ratio: 4.55
- Passes AA if you change text color to #757585. New contrast ratio: 4.53

Some people with low vision experi

[2019-07-17 07:07] veshu opened #2845 "[$10][MSFT-155] [Challenge Submission Page] 'Pick a file' button text contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095032/submit and Login using valid credentials
2. Check the 'Pick a file' button text

**Expected Result**
Expected contrast ratio of 4.5:1

- Passes AA if you change background color to #0073E9. New contrast ratio: 4.54
- Passes AA if you change text color to #1C1C1C. New contrast ratio: 4.54

Some people with low vision exper

[2019-07-17 07:07] veshu opened #2846 "[$10][MSFT-156] [Challenge Submission Page] 'support@topcoder.com' and '‌Topcoder terms of use' hyperlinks contrast between foreground and background colors won't meet WCAG 2 AA contrast ratio thresholds"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095032/submit and Login using valid credentials
2. Check the 'support@topcoder.com' and '‌Topcoder terms of use' hyperlinks

**Expected Result**
Expected contrast ratio of 4.5:1

'support@topcoder.com' >

- Passes AA if you change background color to #121212. New contrast ratio: 4.5
- Passes AA if you change text color to #1874E

[2019-07-17 07:07] veshu opened #2847 "[$30][MSFT-160] Detail in prize should been read automatic or can go there by keyboard, but both can't."
**Steps to Reproduce**
1. Navigate to https://www.topcoder.com/challenges?
2. Go to My Challenges/open for registration .
3. Try to go prize details form keyboard.

**Expected Result**
User should get the prize details and able to read it.

**Actual Result**
 When you go to prize with keyboard the detail of prize didn't show, and can't be read.

**Device**: Desktop/Labtop
**Operating System**: Win

[2019-07-17 07:07] veshu opened #2848 "[$15][MSFT-162] can't go to those tip by keyboard when register,can't read tips."
**Steps to Reproduce**
use chorme and JASW, Use mouse there is a tip,but  can't go there by keyboard so can't read those tips by JASW.

**Expected Result**
tell me there is a tip, read it atomaticly

**Actual Result**
skip those tips

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 2. Operable
**WCAG Level**: A
**WCAG Success Criterion**: 2.1.1 Keyb

[2019-07-17 07:07] veshu opened #2849 "[$15][MSFT-163] Screen reader didn't read out radio buttons."
**Steps to Reproduce**
1. Use chorme and JASW
2.  open https://www.topcoder.com/challenges.
3. In this page Design Development  Data Science Filters those four is button but didn't be read as a button.

**Expected Result**
Screen reader should read out those button too.

**Actual Result**
Just read the content, didn't be mention as a button.

**Device**: Desktop/Labtop
**Operating System**: Window

[2019-07-17 07:07] veshu opened #2850 "[$15][MSFT-178] [Challenge Feed] "View more challenges" button is not marked when user focus on it"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges and Login
2. Press Tab key until "View more challenges" button is selected

**Expected Result**
It should be marked with a border to easily identified

**Actual Result**
"View more challenges" button is not marked when user focus on it

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**

[2019-07-17 07:08] veshu opened #2851 "[MSFT-181] Form elements must have labels"
**Steps to Reproduce**
1. Navigate to https://accounts.topcoder.com/member
2. Right click > Inspect > Elements
3. Check input elements

**Expected Result**
The respective elements should at least have:
- aria-label attribute
- aria-labelled by attribute
- an implicit (wrapped) <label>
- an explicit <label>
- title attribute

**Actual Result**
The following input elements have missing labels

<inpu

[2019-07-17 07:08] veshu opened #2852 "[$20][MSFT-184] Id attribute value must be unique"
**Steps to Reproduce**
1. Navigate to https://www.topcoder.com/challenges/30095347
2. Right click > Inspect > Elements
3. Check
<link href="https://d2nl5eqipnb33q.cloudfront.net/static-assets/main-1562213638466.css" id="tru-style" rel="stylesheet">
<link data-chunk="challenge-details/chunk" id="tru-style" href="https://d2nl5eqipnb33q.cloudfront.net/static-assets/challenge-details/chunk-15622136384

[2019-07-17 07:08] veshu opened #2853 "[$20][MSFT-185] Frames must have title attribute"
**Steps to Reproduce**
1. Navigate to https://www.topcoder.com/challenges/30095347
2. Right click > Inspect > Elements
3. Check
<iframe id="tc-accounts-iframe" src="https://accounts.topcoder.com/connector.html" width="0" height="0"></iframe>

**Expected Result**
<frame> elements should contain a non-empty title attribute

**Actual Result**
Element doesn't have a title attribute

**Device**: Deskto

[2019-07-17 07:08] veshu opened #2854 "[$10][MSFT-186] [Challenge Feed][NVD] Facebook icon is not properly read-out by the screen reader"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095347/?type=develop&nocache=true
2. Hover over the Facebook icon

**Expected Result**
It should be "Icon Facebook"

**Actual Result**
Read-out as "f"

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 1. Perceivable
**WCAG Level**: A
**WCAG Success Criterion**: 1.3.1 Info and Relat

[2019-07-17 07:08] veshu opened #2855 "[$80][MSFT-187] Sample challenge page: Keyboard focus does not move to the popup and is not trapped in the challenge prerequisites popup."
**Steps to Reproduce**
1. Go to the sample challenge page: https://www.topcoder.com/challenges/30095347.
 2. Activate the 'register' button'.
 3. There is a poppup which appears with details about the challenge prerequisites.
4. Note that keyboard focus doesn't move to the poppup and is not trapped inside this poppup, instead we are able to access the elements in the main page.

**Expected Result*

[2019-07-17 07:08] veshu opened #2856 "[$10][MSFT-188] [Challenge Feed][Chrome] challenge page Image element has no alt attribute"
**Steps to Reproduce**
1) Got to the page "https://www.topcoder.com/challenges/<code>"
2) Use to check accessibility compliance website 'http://www.cynthiasays.com/' and enter menederoty things with webpage URL e.g. Email ID, Web Page URL(https://www.topcoder.com/challenges/<code>),
Compliance mode(WCAG 2.0A)
3) Tick the term and condition
4) Submit the Test you site button and observe the scan ou

[2019-07-17 07:08] veshu opened #2857 "[$20][MSFT-190] [Member] Contrast color is very low in the banner of "CrowdTesting"."
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2.  Click on Web Extension tool WAVE for accessibility testing.
3. Click on contrast button.
4. Now Observe the banner.

**Expected Result**
Expected contrast ratio of 4:5:1.

**Actual Result**
Element has insufficient color contrast Ration 2:34:1 (foreground color: #FFFFFF, background color: #25c089)

**Device**: Desktop/Labtop

[2019-07-17 07:08] veshu opened #2858 "[$10][MSFT-192] [Member] - Low contrast for Learn More Button"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2.  Click on Web Extension tool WAVE for accessibility testing.
3. Scroll down to Learn More and Click on contrast button.
4. Now Observe the banner.

**Expected Result**
Expected contrast ratio of 4:5:1.

**Actual Result**
Element has insufficient color contrast Ration 3:25:1 (foreground color: #FFFFFF, background color: ##278ff

[2019-07-17 07:08] veshu opened #2859 "[$20] [MSFT-193] [Registration]: Links should be underlined"
**Steps to Reproduce**
1. Launch https://accounts.topcoder.com/member/registration
2. Check the available links in the page

**Expected Result**
Links should be underlined

**Actual Result**
Links are NOT underlined

**Device**: Desktop/Labtop
**Operating System**: macOS
**Browser**: Chrome

**WCAG Category**: 1. Perceivable
**WCAG Level**: A
**WCAG Success Criterion**: 1.4.1 Use of Color
**Screen

[2019-07-17 07:08] veshu opened #2860 "[$20][MSFT-194] [Registration]: In Keyboard navigation focus is lost after "Create password" field and interactive elements are not reachable from that point"
**Steps to Reproduce**
1. Launch https://accounts.topcoder.com/member/registration
2. Navigate through TAB keys

**Expected Result**
While navigating through keyboard, the visual indicator should not be lost at any point of time. And, all interactive elements should be reachable through keyboard.

**Actual Result**
Note that visual focus is lost after "Create password" field
Hide button and other

[2019-07-17 07:08] veshu opened #2861 "[$30][MSFT-195] [Member] - Overlapping of banner causing the content to hide"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Hit Tab button from the keyboard.
3. Select the Logo Next to Topcoder .
4. Hit the Enter button and observe the appearance of the banner.

**Expected Result**
The Banner should not overlap any content.

**Actual Result**
The content is being hidden by the banner.

**Device**: Desktop/Labtop
**Operating System**: macOS
**Browse

[2019-07-17 07:08] veshu opened #2862 "[$25][MSFT-196] [Member] - Content Over Lap by Search Box"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Click on Search Icon, results in  opening the Search Box.
3. Click on Profile Icon.
4. Observe the appearance of the banner.

**Expected Result**
The Search Box  should not overlap any content.

**Actual Result**
The content of Profile icon list is being hidden by the search box.

**Device**: Desktop/Labtop
**Operating System*

[2019-07-17 07:08] veshu opened #2863 "[$10][MSFT-198] [Challenge feed][Firefox] The link Topcoder icon contain has no text"
**Steps to Reproduce**
1) Go to the web accessibility evaluation tool page http://wave.webaim.org
2)  Type 'https://www.topcoder.com/challenges' in textbox to check.
3)  Observe the Header Topcoder icon link has no text.

**Expected Result**
Topcoder icon link must be provide text within the link that describe the functionality or target of the link

**Actual Result**
Header TopCoder icon link con

[2019-07-17 07:08] veshu opened #2864 "[$60][MSFT-199] All pages: Inconsistent landmarks across pages."
**Steps to Reproduce**
1. Go to the sample challenge page: https://www.topcoder.com/challenges/30095347. 2. Ensure that the screen reader is switched on. 3. Press the letter 'r' a couple of times to navigate to the various landmarks on the page or press 'ctrl + insert + r' to view the list of landmarks on the page. 4. Note that there is no 'banner' landmark for the header, 'main landmark' for the

[2019-07-17 07:08] veshu opened #2865 "[$15][MSFT-200] [Challenge feed][Firefox] Unordered list are present in footer of the page"
**Steps to Reproduce**
1) Go to the web accessibility evaluation tool page http://wave.webaim.org
2) Type 'https://www.topcoder.com/challenges' in textbox to check.
3) Observe the footer section.

**Expected Result**
Every list must be ordered form  that  present a group of related, parallel items. Users of many assistive technologies can navigate by and within lists.

**Actual Result**
Page foote

[2019-07-17 07:08] veshu opened #2866 "[$60][MSFT-201] [Registration] JAWS : There is only one region"
**Steps to Reproduce**
1. Launch JAWS
2. Launch https://accounts.topcoder.com/member/registration in Windows / FF
3. Navigate through “R”

**Expected Result**
But there are more than one regions in the page.
Banner
Main region / Form region
Content information (Have an account and Privacy policy area)
Hope there should be another region where the “Github, Google and Facebook” links are presented

[2019-07-17 07:08] veshu opened #2867 "[$40][MSFT-203] The NVDA doesn't read link in footer-menu when user try to mouse hover on them"
**Steps to Reproduce**
1. Navigate to https://www.topcoder.com/challenges?
2. Try to mouse hover on footer menu: ABOUT US/ CONTACT US/ HELP CENTER/ PRIVACY POLICY/ TERMS

**Expected Result**
The NVDA should read link in footer-menu when user try to mouse hover on them

**Actual Result**
The NVDA doesn't read link in footer-menu when user try to mouse hover on them

**Device**: Desktop/Labtop
**Ope

[2019-07-17 07:08] veshu opened #2868 "[$15][MSFT-204] [Registration] - Join Button and Show Button is not highlighted after hitting the tab button"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Hit Tab key until we reach to Join button below.
3. Observe the Join and Show Button.

**Expected Result**
After entering all the fields the Show button and the Join button should be highlighted.

**Actual Result**
The Show Button and the Join button is not getting highlighted after hitting the tab button.

**Devi

[2019-07-17 07:08] veshu opened #2869 "[$40][MSFT-206] Sample challenge page: Errors in the form fields in the 'challenge prerequisite' popup are being displayed using only colour."
**Steps to Reproduce**
1. Go to sample challenge page: https://www.topcoder.com/challenges/30095347. 2. Activate the register button. 3. Activate the 'continue' button, the challenge prerequisites popup is displayed. 4. Type 'abc' in all the form fields such as 'first line of address', 'second line of address' etc. 5. Notice that there are red coloured markings against these fields indicating that

[2019-07-17 07:08] veshu opened #2870 "[$20][MSFT-207] [Member] - The Text is not readable in Footer Menu after getting highlighted."
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Go to the Footer.
3. Highlighted the Menu listed.
4. Observe the content.

**Expected Result**
The Text under footer Menu should be readable and clear even after highlighting.

**Actual Result**
The text appears to be unreadable after getting highlighted, as the highlighted color theme appears to be darker than that of the tex

[2019-07-17 07:09] veshu opened #2871 "[$10][MSFT-208] The "Code/ TCO19" icons doesn't have highlight when focus by keyboard"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095347?tab=details
2. Press tab key till the "Code/ TCO19" icons is selected

**Expected Result**
The "Code/ TCO19" icons should have blue highlight when focus by keyboard

**Actual Result**
The "Code/ TCO19" icons doesn't have highlight when focus by keyboard

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**

[2019-07-17 07:09] veshu opened #2872 "[$15][MSFT-209] Sample challenge page: The 'arrow' which when clicked takes the user back to the challenge feed page is being read as 'ico-arrow-big-left' by screen readers."
**Steps to Reproduce**
1. Go to the sample challenge page: https://www.topcoder.com/challenges/30095347. 2. Ensure the screen reader is switched on. 3. Press the tab key from the 'find members by username or skill' textbox. 4. Note the screen reader reads 'link graphic ico-arrow-big-left'.

**Expected Result**
The label for this link should be 'back' indicating its purpose.

**Actual Result**
The

[2019-07-17 07:09] veshu opened #2873 "[$15][MSFT-211] User can't focus on the the 'Topcoder handle' and 'Search icon' using tab"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges?bucket=my
2. Press tab key till the 'Topcoder handle' and 'Search icon' are selected

**Expected Result**
User should be able to select the 'Topcoder handle' and 'Search icon' using tab

**Actual Result**
User can't focus on the 'Topcoder handle' and 'Search icon' using tab

**Device**: Desktop/Labtop
**Operating System**: Windows

[2019-07-17 07:09] veshu opened #2874 "[$40][MSFT-212] User can't focus on the the 'Sort by' using tab"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges?bucket=my
2. Press tab key till the 'Sort by' are selected

**Expected Result**
User should be able to select the 'Sort by' using tab

**Actual Result**
User can't focus on the 'Sort by' using tab

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 2. Operable
**WCAG Level**: A
**WCAG

[2019-07-17 07:09] veshu opened #2875 "[MSFT-213] User only can focus on "Username/ Password" and can't focus on other items using tab"
**Steps to Reproduce**
1. Go to: https://accounts.topcoder.com/member
2. Use the tab key to focus on individual items in page

**Expected Result**
User should be able to select all items using tab

**Actual Result**
User only can focus on "Username/ Password" and can't focus on other items using tab

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 2

[2019-07-17 07:09] veshu opened #2876 "[$40][MSFT-214] [Challenge] Date picker is not being highlighted with the navigation keys"
**Steps to Reproduce**
1. Go to the link https://www.topcoder.com/challenges
2. Click on filter button.
3. Fill the Required fields with the tab function.
4. Go to the Date Picker using the tab keys, it opens the date picker window.
5. Use the arrow keys to select the dates as preferred.
6. Hit enter and observe the date highlighted .

**Expected Result**
The User should be able to pick the date w

[2019-07-17 07:09] veshu opened #2877 "[$25][MSFT-218] User can't focus on the the 'Back to Login PRIVACY POLICY' links using tab"
**Steps to Reproduce**
1. Go to: https://accounts.topcoder.com/sso-login/?app=member
2. Press tab key till the 'Back to Login/ PRIVACY POLICY' links are selected

**Expected Result**
User should be able to select the 'Back to Login/ PRIVACY POLICY' links using tab

**Actual Result**
User can't focus on the 'Back to Login/ PRIVACY POLICY' links using tab

**Device**: Desktop/Labtop
**Operating Syst

[2019-07-17 07:09] veshu opened #2878 "[$30][MSFT-219] The NVDA doesn't read some items when user try to mouse hover on them"
**Steps to Reproduce**
1. Navigate to https://accounts.topcoder.com/sso-login/?app=member
2. Try to mouse hover on "email or handle" text-box or "Back to Login / Privacy Policy" links or "© 2019 TOPCODER. ALL RIGHTS RESERVED" text

**Expected Result**
The NVDA should read all items when user try to mouse hover on them

**Actual Result**
The NVDA doesn't read the "email or handle" text-box or "Back

[2019-07-17 07:09] veshu opened #2879 "[$50][MSFT-220] [Edge] The NVDA still read item name when user try to mouse hover outside area of them"
**Steps to Reproduce**
1. Navigate to: https://accounts.topcoder.com/member
2. Try to mouse hover outside area of any item

**Expected Result**
The NVDA should not read item name when user try to mouse hover outside area of them

**Actual Result**
The NVDA still read item name when user try to mouse hover outside area of them

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: E

[2019-07-17 07:09] veshu opened #2880 "[$10][MSFT-221] User only can focus on "Email address" text-box and can't focus on other items using tab"
**Steps to Reproduce**
1. Go to: https://accounts.topcoder.com/member/forgot-password
2. Use the tab key to focus on individual items in page

**Expected Result**
User should be able to select all items using tab

**Actual Result**
User only can focus on "Email address" text-box and can't focus on other items using tab ( ex: "GET RESET LINK" button, "Back to Login" link,...)

**Device**: Desktop/L

[2019-07-17 07:09] veshu opened #2881 "[$40][MSFT-222] Challenge feed page: colour contrast issues."
**Steps to Reproduce**
1. Go to the Challenges page: https://www.topcoder.com/challenges.
2. Please run the automated tool.
3. Capture the colour contrast issues.

**Expected Result**
The colour contrast should comply as per the WCAG minimum contrast requirements.

**Actual Result**
The colour contrast between the background and foreground of the elements doesn't comply with WCAG minimum contrast

[2019-07-17 07:09] veshu opened #2882 "[$15][MSFT-223] Sample challenge page: Colour contrast issues."
## **Note: Summary of fixes needs are here https://github.com/topcoder-platform/community-app/issues/2882#issuecomment-516881272**

**Steps to Reproduce**
1. Go to the Sample challenge page: https://www.topcoder.com/challenges/30095347

**Expected Result**
The colour contrast should comply as per the WCAG minimum contrast requirements.

**Actual Result**
The colour contrast between the background

[2019-07-17 07:09] veshu opened #2883 "[$10][MSFT-224] "JOIN NOW" link foreground and background colors missed WCAG 2 AA contrast ratio"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Right click > Inspect Elements
3. Check the "JOIN NOW" link

**Expected Result**
- Contrast ratio should be 4.5:1
- If you want passes WCAG 2 AA, you can change text color to #0074C6. New contrast ratio: 4.5:1

**Actual Result**
Foreground Color: #0096ff
Background Color: #f6f6f6
Contrast Ratio: 2.85:1
=> Therefor, "JOIN NOW"

[2019-07-17 07:09] veshu opened #2884 "[$80][MSFT-226] [Firefox] Pages not properly rendered at high contrast set on windows"
**Steps to Reproduce**
1) Go to windows High Contrast setting page and turn on high contrast.
2) Open the firefox browser and navigate the challenge and member registration page.
3) Observer pages

**Expected Result**
Pages must be looks actual and accurate and easily operable and understable with white color background.

**Actual Result**
All the navigate pages has more dark not easily operable i

[2019-07-17 07:09] veshu opened #2885 "[$10][MSFT-227] "FORUM POSTS" link foreground and background colors missed WCAG 2 AA contrast ratio"
**Steps to Reproduce**
1. Go to: https://www.topcoder.com/members/doremihong
2. Right click > Inspect Elements
3. Check the "FORUM POSTS" link

**Expected Result**
- Contrast ratio should be 4.5:1
- If you want passes WCAG 2 AA, you can change text color to #757588. New contrast ratio: 4.5:1

**Actual Result**
Foreground Color: #55A5FF
Background Color: #FFFFFF
Contrast Ratio: 2.55:1
=> Therefor,

[2019-07-17 07:09] veshu opened #2886 "[$10][MSFT-228] "Topcoder handle" name foreground and background colors missed WCAG 2 AA contrast ratio"
**Steps to Reproduce**
1. Go to: https://www.topcoder.com/members/doremihong
2. Right click > Inspect Elements
3. Check the "Topcoder handle" name

**Expected Result**
- Contrast ratio should be 4.5:1
- If you want passes WCAG 2 AA, you can change text color to #707594. New contrast ratio: 4.5:1

**Actual Result**
Foreground Color: rgb(157, 159, 160) = #9D9FA0
Background Color: #FFFFFF
Contrast Ra

[2019-07-17 07:09] veshu opened #2887 "[$20][MSFT-229] [Challenge Feed][NVD][Common] Screen reader read-out when user focus on a empty spaces"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges
2. Hover over the empty location marked in the screenshot

**Expected Result**
Should not read-out when user point to empty locations

**Actual Result**
Screen reader read-out when user focus on empty spaces

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 1. Perceivable
**WCAG Leve

[2019-07-17 07:09] veshu opened #2888 "[$20][MSFT-230] Login page: Colour contrast issues."
**Steps to Reproduce**
1. Go to the Members login:https://accounts.topcoder.com/member

2. Please run the automated tool AXE. 3. Capture the colour contrast issues.

**Expected Result**
The colour contrast should comply as per the WCAG minimum contrast requirements.

**Actual Result**
The colour contrast between the background and foreground of the elements doesn't comply with WCAG minimum contras

[2019-07-17 07:09] veshu opened #2889 "[$30][MSFT-231] [Challenge Feed][NVD] Prizes are incorrectly read-out by the Screen reader"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges
2. Hover over the purse and then hover over the prizes

**Expected Result**
Should read-out the prizes correctly

**Actual Result**
Prizes are incorrectly read-out by the Screen reader

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 1. Perceivable
**WCAG Level**: A
**WCAG Success C

[2019-07-17 07:09] veshu opened #2890 "[$15][MSFT-232] [Challenge Details][NVD] Submit button is read-out as a submit link"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095396?tab=details
2. Click on the header and press tab key till the submit button is selected

**Expected Result**
Should read-out as Submit button because the user may get confused as it is a hyperlink

**Actual Result**
Submit button is read-out as a submit link

**Device**: Desktop/Labtop
**Operating System**: Windows
**Brow

[2019-07-17 07:10] veshu opened #2891 "[$10][MSFT-233] [Challenge Feed][NVD] Hyperlinks are not descriptive to the screen-readers"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095104
2. Check the 'Here' links

**Expected Result**
- Read about the policy. (Hyperlink the policy text)
- Learn more about how to pass screening. (Hyperlink the pass screening ink)

**Actual Result**
- Read about the policy here.
- Learn more about how to pass screening here.

**Device**: Desktop/Labtop
**Operating System**:

[2019-07-17 07:10] veshu opened #2892 "[$30][MSFT-235] [Challenge Feed][NVD][Edge] About • Contact • Help • Privacy • Terms read-out differently in Edge by the screen-readers"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges
2. Hover over 'About', check the voice of the screen-readers
3. Hover over 'Contact', check the voice of the screen-readers
4. Hover over 'Help', check the voice of the screen-readers
5. Hover over 'Privacy', check the voice of the screen-readers
6. Hover over 'Terms', check the voice of the screen-readers

**Expected Result**
Sho

[2019-07-17 07:10] veshu opened #2893 "[$30][MSFT-236] [Challenge Feed][NVD][Edge] Both names read-out when user hover over the 'Join' or 'Log In' buttons"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges (Don't Login)
2. Press tab key till Join button is selected or Login button

**Expected Result**
Should read-out both button names separately by the screen-readers

**Actual Result**
Both names read-out when user hover over the 'Join' or 'Log In' buttons

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Edge

[2019-07-17 07:10] veshu opened #2894 "[$40][MSFT-237] [Challenge Feed][NVD][Edge] Sort By list is not read-out properly by the screen-reader"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges (Don't Login)
2. Press the tab key and go to the Sort by drop-down (Important Step)
3. Press on Sort by drop down
4. Move up/down with the arrow key and listen

**Expected Result**
Should read-out the names on the list by the screen-readers

**Actual Result**
Sort By list is not read-out properly by the screen-reader

**Device**:

[2019-07-17 07:10] veshu opened #2895 "[$40][MSFT-240] [Register][NVD][Edge] Input default text read-out twice by the screen-reader"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member
2. Press Tab button to go through the form

**Expected Result**
Should read-out only one time

**Actual Result**
Input default text read-out twice by the screen-reader

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Edge

**WCAG Category**: 1. Perceivable
**WCAG Level**: A
**WCAG Success Criterion**: 1.3.1

[2019-07-17 07:10] veshu opened #2896 "[$20][MSFT-241] [Register][NVD][Edge] Social media icons are not identified correctly sometimes when hovering by the screen-reader"
**Steps to Reproduce**
1. Go to https://accounts.topcoder.com/member/registration
2. Hover over the social media icons, don't hover over the social media icon text

**Expected Result**
Should read out the name of the social media when hovering over the image

**Actual Result**
Social media icons are not identified correctly sometimes when hovering by the screen-reader

**Device**: Desktop/Labtop
*

[2019-07-17 07:10] veshu opened #2897 "[$40][MSFT-242] [Registration] JAWS : Banner region is announced differently in Windows - Chrome"
**Steps to Reproduce**
1. Launch JAWS
2. Launch "https://accounts.topcoder.com/member/registration" in Windows / Chrome
3. Navigate using R (for Regions)

**Expected Result**
It should be announced as "Banner"

**Actual Result**
Note that "Banner region" is announced as "vm dot register form form"

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG Category**: 3.

[2019-07-17 07:10] veshu opened #2898 "[MSFT-245] [Registration] JAWS : Windows / Edge : Input field labels are announced twice"
**Steps to Reproduce**
1. Launch JAWS
2. Launch "https://accounts.topcoder.com/member/registration" in Windows / Edge
3. Navigate by virtual cursor [ARROW keys)
4. Navigate through input fields

**Expected Result**
Input fields' label should be announce only once

**Actual Result**
Note that each input field's label is announced twice continuously

**Device**: Desktop/Labtop
**Operating System**:

[2019-07-17 07:10] veshu opened #2899 "[$15][MSFT-246] [Registration] High contrast : IE11 : Link images are NOT loading"
**Steps to Reproduce**
1. Set Windows machine in High contrast mode
2. Launch IE11
3. Launch https://accounts.topcoder.com/member/registration

**Expected Result**
All images should be visible in high contrast mode

**Actual Result**
Note that link image in "registration with" area are not visible in high contrast mode

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: IE 11

*

[2019-07-17 07:10] veshu opened #2900 "[$40][MSFT-247] Sample challenge page: Screen reader identifies Unlabelled graphics on the page."
**Steps to Reproduce**
1. Go to the Sample challenge page: https://www.topcoder.com/challenges/30095347. 2. Make sure that the screen reader is switched on. 3. Click on the register button to make sure that the challenge prerequisite page is open. 4. Press the key combination 'insert + ctrl + g' to bring up the dialog with all the graphics on the page. 5. Notice that the graphics do not have appro

[2019-07-17 07:10] veshu opened #2901 "[$10][MSFT-248] Sample challenge page: Challenge prerequisites popup: Unlabelled button at the end of the popup."
**Steps to Reproduce**
1. Go to the Sample challenge page: https://www.topcoder.com/challenges/30095347. 2. Ensure that the screen reader is switched on. 3. activate the register button so that the challenge prerequisites popup is displayed. 4. Press the key combination 'ctrl + insert + b' to bring up a list of buttons on the page. 5. Note there is an unlabelled button at the end of this list. 6.

[2019-07-17 07:10] veshu opened #2902 "[$10][MSFT-249] Sample challenge page: Screen reader reads an unlabelled button next to the 'pick a file' button on the submission screen."
**Steps to Reproduce**
1. Go to the Sample challenge page: https://www.topcoder.com/challenges/30095347. 2. Ensure that the screen reader is switched on. 3. Activate the 'submit' link after the registration process is completed. 4. Press the key combination 'ctrl+insert+b' to bring up a list of buttons on the page. 5. Notice that there is an 'unlabelled3' button listed next to the 'pick a file' bu

[2019-07-17 07:10] veshu opened #2903 "[$10][MSFT-251] "Save Filter" button foreground and background colors missed WCAG 2 AA contrast ratio"
**Steps to Reproduce**
1. Go to: https://www.topcoder.com/challenges
2. Click on "Filters" button in the top right
3. Click on "keyword" dropdown and select any keyword in list dropdown to "Save filter" button enable
4. Right click > Inspect Elements
5. Check the "TSave filter" button

**Expected Result**
- Contrast ratio should be 4.5:1
- If you want passes WCAG 2 AA, you can change Background Co

[2019-07-17 07:10] veshu opened #2904 "[$10][MSFT-252] "Continue" button foreground and background colors missed WCAG 2 AA contrast ratio"
**Steps to Reproduce**
1. Go to: https://accounts.topcoder.com/sso-login/?app=member
2. Right click > Inspect Elements
3. Check the "Continue" button

**Expected Result**
- Contrast ratio should be 4.5:1
- If you want passes WCAG 2 AA, you can change Background Color to #0072F0 Or you can change text color to #011565. New contrast ratio: 4.5:1

**Actual Result**
Foreground Color: #FFFFFF
Backgroun

[2019-07-17 07:10] veshu opened #2905 "[$10][MSFT-253] "Sorry!! Your SSO provider is not yet supported." error message: foreground and background colors missed WCAG 2 AA contrast ratio"
**Steps to Reproduce**
1. Go to: https://accounts.topcoder.com/sso-login/?app=member
2. Type "test" in 'email or handle' text-box
3. Click on "Continue" button
4. Right click > Inspect Elements
5. Check the "Sorry!! Your SSO provider is not yet supported." error message

**Expected Result**
- Contrast ratio should be 4.5:1
- If you want passes WCAG 2 AA, you can change text color to #EB044E. New c

[2019-07-17 07:10] veshu opened #2906 "[$10][MSFT-256] User still can back to login page by try to click outside area of "Back to login" link"
**Steps to Reproduce**
1. Navigate to: https://accounts.topcoder.com/member
2. Click on "Forgot your password?" link to go to https://accounts.topcoder.com/member/forgot-password
3. Try to click outside area of "Back to login" link ( right and left)

**Expected Result**
User won't back to login page by click outside area of "Back to login" link

**Actual Result**
Back to login page

**Device**: De

[2019-07-17 07:10] veshu opened #2907 "[$10][MSFT-257] "Login" button foreground and background colors missed WCAG 2 AA contrast ratio"
**Steps to Reproduce**
1. Open private tab and go to: https://www.topcoder.com/challenges
2. Right click > Inspect Elements
3. Check the "Login" button

**Expected Result**
- Contrast ratio should be 4.5:1
- If you want passes WCAG 2 AA, you can change text color to #0074E8. New contrast ratio: 4.5:1

**Actual Result**
Foreground Color: #0681FF
Background Color: #FFFFFF
Contrast Ratio: 3.75:1
=> T

[2019-07-17 07:10] veshu opened #2908 "[$20][MSFT-259] [Challenge Details] Final Review, Approval, Challenge links info popup can't access using tab key"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095347
2. Click on ELIGIBLE EVENTS:
3. Use tab key for few times

**Expected Result**
Should able to access the data on the info popup by tab key

**Actual Result**
Final Review, Approval, Challenge links info popup can't access using tab key

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Chrome

**WCAG C

[2019-07-17 07:10] veshu opened #2909 "[$30][MSFT-260] [Challenge Details] Compete, Tracks and Community menus can't access via arrow keys"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095347
2. Click near logo and use tab key to go to Tracks or Community
3. When user is in the Tracks menu
4. Press arrow (up/down) keys

**Expected Result**
Should be able to access the menus using arrow keys, if not user can't access those menus

**Actual Result**
Compete, Tracks and Community menus can't access via arrow keys

[2019-07-17 07:10] veshu opened #2910 "[$20][MSFT-261] [Challenge Details][NVD] Sometimes contest title "Test for Accessibility Challenge" reads-out when user hover over the main menu items"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/challenges/30095347
2. Open the Screen Reader
3. Click Compete, Tracks or Community
4. Hover over the items

**Expected Result**
Sometimes contest title "Test for Accessibility Challenge" reads-out when user hover over the main menu items

**Actual Result**
Sometimes contest title "Test for Accessibility Challenge" reads-out when user hover

[2019-07-17 07:11] veshu opened #2911 "[$20][MSFT-264] Keyboard access tab operational missing"
**Steps to Reproduce**
1) Go to the detail page 'https://www.topcoder.com/challenges/30095347?tab=details'
2) Find 'ABOUT US' in footer of the page (use virtual key to check)
3) Use tab to navigate from virtual keyboard
4) Observe the tab between instagram icon and support button are missing
5) tab after instagram icon hit enter no action perform then next tab support button popup.

**Expected Res

[2019-07-17 07:11] veshu opened #2912 "[$40][MSFT-268] [Registration] NVDA : NVDA announces "clickable" and "blank" at end of the page"
**Steps to Reproduce**
1. Launch NVDA
2. Launch "https://accounts.topcoder.com/member/registration" in Chrome
3. Navigate using virtual cursor (arrow keys)
4. Navigate to end of the page
5. After the announcement of "All rights reserved" press down arrow key

**Expected Result**
After the announcement of ""All rights reserved" if down arrow is pressed, again and again ""All rights reserved" only t

[2019-07-18 05:30] ThomasKranitsas commented on #2907
Contest https://www.topcoder.com/challenges/30095947 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 05:30] ThomasKranitsas commented on #2907
Contest https://www.topcoder.com/challenges/30095947 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 05:58] rashmi73 commented on #2907
@veshu @ThomasKranitsas are these open? or going to be open ?

[2019-07-18 06:06] gurmeetb commented on #2907
@rashmi73 Bug Bash is being launched, these will become open then. Keep an eye on slack challenge `dev-challenges` for Bug Bash launch.

[2019-07-18 07:45] ThomasKranitsas commented on #2828
Contest https://www.topcoder.com/challenges/30095960 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 07:45] ThomasKranitsas commented on #2828
Contest https://www.topcoder.com/challenges/30095960 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 07:45] ThomasKranitsas commented on #2874
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 07:45] ThomasKranitsas commented on #2874
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 07:47] ThomasKranitsas commented on #2910
Contest https://www.topcoder.com/challenges/30095963 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 07:47] ThomasKranitsas commented on #2910
Contest https://www.topcoder.com/challenges/30095963 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 07:52] ThomasKranitsas commented on #2874
Contest https://www.topcoder.com/challenges/30095964 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 07:52] ThomasKranitsas commented on #2874
Contest https://www.topcoder.com/challenges/30095964 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 07:53] ThomasKranitsas commented on #2909
Contest https://www.topcoder.com/challenges/30095967 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 07:59] ThomasKranitsas commented on #2908
Contest https://www.topcoder.com/challenges/30095968 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 07:59] ThomasKranitsas commented on #2908
Contest https://www.topcoder.com/challenges/30095968 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 07:59] r0hit-gupta commented on #2909
Is this open for pickup?

[2019-07-18 07:59] ThomasKranitsas commented on #2871
Contest https://www.topcoder.com/challenges/30095969 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 07:59] ThomasKranitsas commented on #2871
Contest https://www.topcoder.com/challenges/30095969 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 08:00] ThomasKranitsas commented on #2902
Contest https://www.topcoder.com/challenges/30095970 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 08:46] #2400 closed

[2019-07-18 08:46] #2735 closed

[2019-07-18 08:46] #2736 closed

[2019-07-18 09:01] veshu commented on #2909
@r0hit-gupta No, please wait for open for pickup label.

[2019-07-18 09:07] #1317 closed

[2019-07-18 09:08] #1308 closed

[2019-07-18 09:08] ThomasKranitsas commented on #1308
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:08] #1295 closed

[2019-07-18 09:08] #1287 closed

[2019-07-18 09:22] ThomasKranitsas commented on #2900
Contest https://www.topcoder.com/challenges/30095977 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:22] ThomasKranitsas commented on #2900
Contest https://www.topcoder.com/challenges/30095977 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:23] ThomasKranitsas commented on #2882
Contest https://www.topcoder.com/challenges/30095980 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:23] ThomasKranitsas commented on #2882
Contest https://www.topcoder.com/challenges/30095980 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:25] ThomasKranitsas commented on #2869
Contest https://www.topcoder.com/challenges/30095982 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:25] ThomasKranitsas commented on #2872
Contest https://www.topcoder.com/challenges/30095981 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:25] ThomasKranitsas commented on #2872
Contest https://www.topcoder.com/challenges/30095981 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:27] ThomasKranitsas commented on #2901
Contest https://www.topcoder.com/challenges/30095983 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:27] ThomasKranitsas commented on #2901
Contest https://www.topcoder.com/challenges/30095983 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:28] ThomasKranitsas commented on #2884
Contest https://www.topcoder.com/challenges/30095987 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:28] ThomasKranitsas commented on #2884
Contest https://www.topcoder.com/challenges/30095987 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:28] ThomasKranitsas commented on #2890
Contest https://www.topcoder.com/challenges/30095985 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:28] ThomasKranitsas commented on #2890
Contest https://www.topcoder.com/challenges/30095985 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:31] ThomasKranitsas commented on #2855
Contest https://www.topcoder.com/challenges/30095988 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:31] ThomasKranitsas commented on #2853
Contest https://www.topcoder.com/challenges/30095989 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:31] ThomasKranitsas commented on #2855
Contest https://www.topcoder.com/challenges/30095988 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:31] ThomasKranitsas commented on #2853
Contest https://www.topcoder.com/challenges/30095989 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:33] ThomasKranitsas commented on #2832
Contest https://www.topcoder.com/challenges/30095991 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:33] ThomasKranitsas commented on #2832
Contest https://www.topcoder.com/challenges/30095991 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:33] ThomasKranitsas commented on #2852
Contest https://www.topcoder.com/challenges/30095990 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:33] ThomasKranitsas commented on #2852
Contest https://www.topcoder.com/challenges/30095990 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:37] ThomasKranitsas commented on #2831
Contest https://www.topcoder.com/challenges/30095993 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:37] ThomasKranitsas commented on #2831
Contest https://www.topcoder.com/challenges/30095993 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:38] ThomasKranitsas commented on #2826
Contest https://www.topcoder.com/challenges/30095995 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:38] ThomasKranitsas commented on #2829
Contest https://www.topcoder.com/challenges/30095994 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:38] ThomasKranitsas commented on #2829
Contest https://www.topcoder.com/challenges/30095994 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:41] ThomasKranitsas commented on #2825
Contest https://www.topcoder.com/challenges/30095996 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:43] ThomasKranitsas commented on #2823
Contest https://www.topcoder.com/challenges/30095999 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:43] ThomasKranitsas commented on #2823
Contest https://www.topcoder.com/challenges/30095999 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:45] ThomasKranitsas commented on #2820
Contest https://www.topcoder.com/challenges/30096003 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:45] ThomasKranitsas commented on #2820
Contest https://www.topcoder.com/challenges/30096003 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:45] ThomasKranitsas commented on #2822
Contest https://www.topcoder.com/challenges/30096000 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:45] ThomasKranitsas commented on #2822
Contest https://www.topcoder.com/challenges/30096000 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:46] ThomasKranitsas commented on #2821
Contest https://www.topcoder.com/challenges/30096002 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:46] ThomasKranitsas commented on #2903
Contest https://www.topcoder.com/challenges/30096006 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:46] ThomasKranitsas commented on #2821
Contest https://www.topcoder.com/challenges/30096002 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:46] ThomasKranitsas commented on #2903
Contest https://www.topcoder.com/challenges/30096006 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:53] ThomasKranitsas commented on #2794
Contest https://www.topcoder.com/challenges/30096015 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:53] ThomasKranitsas commented on #2794
Contest https://www.topcoder.com/challenges/30096015 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:55] ThomasKranitsas commented on #2894
Contest https://www.topcoder.com/challenges/30096017 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:55] ThomasKranitsas commented on #2894
Contest https://www.topcoder.com/challenges/30096017 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:55] ThomasKranitsas commented on #2891
Contest https://www.topcoder.com/challenges/30096021 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:55] ThomasKranitsas commented on #2891
Contest https://www.topcoder.com/challenges/30096021 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:56] ThomasKranitsas commented on #2881
Contest https://www.topcoder.com/challenges/30096020 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:56] ThomasKranitsas commented on #2819
Contest https://www.topcoder.com/challenges/30096018 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:56] ThomasKranitsas commented on #2881
Contest https://www.topcoder.com/challenges/30096020 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:56] ThomasKranitsas commented on #2819
Contest https://www.topcoder.com/challenges/30096018 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:57] ThomasKranitsas commented on #2889
Contest https://www.topcoder.com/challenges/30096023 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:58] ThomasKranitsas commented on #2887
Contest https://www.topcoder.com/challenges/30096024 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:58] ThomasKranitsas commented on #2887
Contest https://www.topcoder.com/challenges/30096024 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:58] ThomasKranitsas commented on #2893
Contest https://www.topcoder.com/challenges/30096025 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:58] ThomasKranitsas commented on #2865
Contest https://www.topcoder.com/challenges/30096027 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:58] ThomasKranitsas commented on #2865
Contest https://www.topcoder.com/challenges/30096027 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 09:58] ThomasKranitsas commented on #2893
Contest https://www.topcoder.com/challenges/30096025 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:01] ThomasKranitsas commented on #2873
Contest https://www.topcoder.com/challenges/30096028 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:01] ThomasKranitsas commented on #2873
Contest https://www.topcoder.com/challenges/30096028 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:01] ThomasKranitsas commented on #2863
Contest https://www.topcoder.com/challenges/30096030 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:01] ThomasKranitsas commented on #2863
Contest https://www.topcoder.com/challenges/30096030 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:02] ThomasKranitsas commented on #2856
Contest https://www.topcoder.com/challenges/30096031 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:02] ThomasKranitsas commented on #2856
Contest https://www.topcoder.com/challenges/30096031 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:05] ThomasKranitsas commented on #2892
Contest https://www.topcoder.com/challenges/30096038 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:05] ThomasKranitsas commented on #2892
Contest https://www.topcoder.com/challenges/30096038 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:06] ThomasKranitsas commented on #2836
Contest https://www.topcoder.com/challenges/30096040 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:06] ThomasKranitsas commented on #2836
Contest https://www.topcoder.com/challenges/30096040 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:07] ThomasKranitsas commented on #2818
Contest https://www.topcoder.com/challenges/30096042 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:07] ThomasKranitsas commented on #2818
Contest https://www.topcoder.com/challenges/30096042 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:08] ThomasKranitsas commented on #2817
Contest https://www.topcoder.com/challenges/30096043 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:08] ThomasKranitsas commented on #2817
Contest https://www.topcoder.com/challenges/30096043 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:08] ThomasKranitsas commented on #2850
Contest https://www.topcoder.com/challenges/30096045 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:08] ThomasKranitsas commented on #2850
Contest https://www.topcoder.com/challenges/30096045 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:08] ThomasKranitsas commented on #2809
Contest https://www.topcoder.com/challenges/30096046 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:08] ThomasKranitsas commented on #2835
Contest https://www.topcoder.com/challenges/30096047 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:09] ThomasKranitsas commented on #2835
Contest https://www.topcoder.com/challenges/30096047 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:10] ThomasKranitsas commented on #2847
Contest https://www.topcoder.com/challenges/30096049 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:10] ThomasKranitsas commented on #2847
Contest https://www.topcoder.com/challenges/30096049 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:10] ThomasKranitsas commented on #2811
Contest https://www.topcoder.com/challenges/30096051 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:10] ThomasKranitsas commented on #2811
Contest https://www.topcoder.com/challenges/30096051 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:11] ThomasKranitsas commented on #2839
Contest https://www.topcoder.com/challenges/30096052 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:11] ThomasKranitsas commented on #2816
Contest https://www.topcoder.com/challenges/30096048 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:11] ThomasKranitsas commented on #2839
Contest https://www.topcoder.com/challenges/30096052 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:11] ThomasKranitsas commented on #2816
Contest https://www.topcoder.com/challenges/30096048 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:12] ThomasKranitsas commented on #2806
Contest https://www.topcoder.com/challenges/30096056 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:12] ThomasKranitsas commented on #2806
Contest https://www.topcoder.com/challenges/30096056 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:12] ThomasKranitsas commented on #2810
Contest https://www.topcoder.com/challenges/30096053 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:12] ThomasKranitsas commented on #2810
Contest https://www.topcoder.com/challenges/30096053 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:12] ThomasKranitsas commented on #2838
Contest https://www.topcoder.com/challenges/30096054 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:12] ThomasKranitsas commented on #2805
Contest https://www.topcoder.com/challenges/30096059 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:12] ThomasKranitsas commented on #2838
Contest https://www.topcoder.com/challenges/30096054 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:12] ThomasKranitsas commented on #2805
Contest https://www.topcoder.com/challenges/30096059 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:13] ThomasKranitsas commented on #2804
Contest https://www.topcoder.com/challenges/30096061 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:13] ThomasKranitsas commented on #2804
Contest https://www.topcoder.com/challenges/30096061 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:14] ThomasKranitsas commented on #2806
Contest https://www.topcoder.com/challenges/30096056 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:14] ThomasKranitsas commented on #2854
Contest https://www.topcoder.com/challenges/30096063 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:14] ThomasKranitsas commented on #2854
Contest https://www.topcoder.com/challenges/30096063 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:14] ThomasKranitsas commented on #2789
Contest https://www.topcoder.com/challenges/30096065 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:14] ThomasKranitsas commented on #2789
Contest https://www.topcoder.com/challenges/30096065 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:14] ThomasKranitsas commented on #2786
Contest https://www.topcoder.com/challenges/30096068 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:14] ThomasKranitsas commented on #2786
Contest https://www.topcoder.com/challenges/30096068 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:14] ThomasKranitsas commented on #2765
Contest https://www.topcoder.com/challenges/30096069 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:15] ThomasKranitsas commented on #2765
Contest https://www.topcoder.com/challenges/30096069 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:15] ThomasKranitsas commented on #2759
Contest https://www.topcoder.com/challenges/30096071 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:15] ThomasKranitsas commented on #2759
Contest https://www.topcoder.com/challenges/30096071 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:15] ThomasKranitsas commented on #2837
Contest https://www.topcoder.com/challenges/30096073 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:15] ThomasKranitsas commented on #2837
Contest https://www.topcoder.com/challenges/30096073 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:16] ThomasKranitsas commented on #2796
Contest https://www.topcoder.com/challenges/30096075 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:17] ThomasKranitsas commented on #2753
Contest https://www.topcoder.com/challenges/30096079 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:17] ThomasKranitsas commented on #2754
Contest https://www.topcoder.com/challenges/30096077 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:17] ThomasKranitsas commented on #2753
Contest https://www.topcoder.com/challenges/30096079 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:17] ThomasKranitsas commented on #2754
Contest https://www.topcoder.com/challenges/30096077 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:18] ThomasKranitsas commented on #2802
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:18] ThomasKranitsas commented on #2802
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:19] ThomasKranitsas commented on #2747
Contest https://www.topcoder.com/challenges/30096090 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:19] ThomasKranitsas commented on #2797
Contest https://www.topcoder.com/challenges/30096087 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:19] ThomasKranitsas commented on #2797
Contest https://www.topcoder.com/challenges/30096087 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:19] ThomasKranitsas commented on #2801
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:19] ThomasKranitsas commented on #2801
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:21] ThomasKranitsas commented on #2802
Contest https://www.topcoder.com/challenges/30096104 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:21] ThomasKranitsas commented on #2802
Contest https://www.topcoder.com/challenges/30096104 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:21] ThomasKranitsas commented on #2757
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:21] ThomasKranitsas commented on #2757
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:21] ThomasKranitsas commented on #2741
Contest https://www.topcoder.com/challenges/30096108 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:21] ThomasKranitsas commented on #2755
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:21] ThomasKranitsas commented on #2755
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:21] ThomasKranitsas commented on #2741
Contest https://www.topcoder.com/challenges/30096108 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:22] ThomasKranitsas commented on #2748
Contest https://www.topcoder.com/challenges/30096114 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:22] ThomasKranitsas commented on #2748
Contest https://www.topcoder.com/challenges/30096114 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:22] ThomasKranitsas commented on #2801
Contest https://www.topcoder.com/challenges/30096115 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:22] ThomasKranitsas commented on #2801
Contest https://www.topcoder.com/challenges/30096115 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:23] ThomasKranitsas commented on #2740
Contest https://www.topcoder.com/challenges/30096123 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:24] ThomasKranitsas commented on #2749
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:24] ThomasKranitsas commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:24] ThomasKranitsas commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:24] ThomasKranitsas commented on #2750
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:24] ThomasKranitsas commented on #2750
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:24] ThomasKranitsas commented on #2751
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:24] ThomasKranitsas commented on #2751
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:25] ThomasKranitsas commented on #2746
Contest https://www.topcoder.com/challenges/30096133 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 10:25] ThomasKranitsas commented on #2746
Contest https://www.topcoder.com/challenges/30096133 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:53] r0hit-gupta commented on #2854
Please assign me

[2019-07-18 11:54] ThomasKranitsas commented on #2750
Contest https://www.topcoder.com/challenges/30096150 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:54] ThomasKranitsas commented on #2911
Contest https://www.topcoder.com/challenges/30096153 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:54] ThomasKranitsas commented on #2743
Contest https://www.topcoder.com/challenges/30096154 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:54] ThomasKranitsas commented on #2757
Contest https://www.topcoder.com/challenges/30096155 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:54] ThomasKranitsas commented on #2911
Contest https://www.topcoder.com/challenges/30096153 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:55] rakshitjadon commented on #2825
Please assign me

[2019-07-18 11:55] ThomasKranitsas commented on #2854
Contest https://www.topcoder.com/challenges/30096063 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:56] ThomasKranitsas commented on #2867
Contest https://www.topcoder.com/challenges/30096159 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:56] ThomasKranitsas commented on #2867
Contest https://www.topcoder.com/challenges/30096159 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:58] ThomasKranitsas commented on #2825
Contest https://www.topcoder.com/challenges/30095996 has been updated - it has been assigned to rakshitjadon.rj.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:58] ThomasKranitsas commented on #2751
Contest https://www.topcoder.com/challenges/30096163 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:58] ThomasKranitsas commented on #2739
[500]: Challenge for the updated issue 2739 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:58] ThomasKranitsas commented on #2744
[500]: Challenge for the updated issue 2744 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:58] ThomasKranitsas commented on #2864
Contest https://www.topcoder.com/challenges/30096162 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:58] ThomasKranitsas commented on #2755
Contest https://www.topcoder.com/challenges/30096156 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:58] ThomasKranitsas commented on #2864
Contest https://www.topcoder.com/challenges/30096162 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:59] ThomasKranitsas commented on #2745
Contest https://www.topcoder.com/challenges/30096158 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:59] ThomasKranitsas commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 11:59] ThomasKranitsas commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:01] ThomasKranitsas commented on #2876
Contest https://www.topcoder.com/challenges/30096169 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:01] ThomasKranitsas commented on #2876
Contest https://www.topcoder.com/challenges/30096169 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:01] ThomasKranitsas commented on #2742
Contest https://www.topcoder.com/challenges/30096166 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:02] ThomasKranitsas commented on #2799
Contest https://www.topcoder.com/challenges/30096172 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:02] ThomasKranitsas commented on #2799
Contest https://www.topcoder.com/challenges/30096172 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:02] ThomasKranitsas commented on #2907
Contest https://www.topcoder.com/challenges/30095947 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:03] ThomasKranitsas commented on #2756
Contest https://www.topcoder.com/challenges/30096173 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:03] ThomasKranitsas commented on #2756
Contest https://www.topcoder.com/challenges/30096173 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:03] ThomasKranitsas commented on #2803
Contest https://www.topcoder.com/challenges/30096171 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:04] ThomasKranitsas commented on #2803
Contest https://www.topcoder.com/challenges/30096171 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:04] ThomasKranitsas commented on #2903
Contest https://www.topcoder.com/challenges/30096006 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:05] ThomasKranitsas commented on #2842
Contest https://www.topcoder.com/challenges/30096178 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:05] ThomasKranitsas commented on #2842
Contest https://www.topcoder.com/challenges/30096178 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:05] PrakashDurlabhji commented on #2903
@Oanh-and-only-Oanh @ThomasKranitsas can you please guide my how to reproduce this?

seems something different in this

[2019-07-18 12:05] ThomasKranitsas commented on #2807
Contest https://www.topcoder.com/challenges/30096175 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:06] ThomasKranitsas commented on #2807
Contest https://www.topcoder.com/challenges/30096175 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:06] ThomasKranitsas commented on #2846
Contest https://www.topcoder.com/challenges/30096181 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:06] ThomasKranitsas commented on #2846
Contest https://www.topcoder.com/challenges/30096181 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:07] ThomasKranitsas commented on #2830
Contest https://www.topcoder.com/challenges/30096176 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:07] ThomasKranitsas commented on #2830
Contest https://www.topcoder.com/challenges/30096176 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:07] ThomasKranitsas commented on #2845
Contest https://www.topcoder.com/challenges/30096184 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:07] ThomasKranitsas commented on #2845
Contest https://www.topcoder.com/challenges/30096184 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:08] ThomasKranitsas commented on #2840
Contest https://www.topcoder.com/challenges/30096182 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:08] ThomasKranitsas commented on #2848
Contest https://www.topcoder.com/challenges/30096187 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:08] ThomasKranitsas commented on #2849
Contest https://www.topcoder.com/challenges/30096189 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:08] ThomasKranitsas commented on #2849
Contest https://www.topcoder.com/challenges/30096189 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:10] ThomasKranitsas commented on #2841
Contest https://www.topcoder.com/challenges/30096191 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:11] r0hit-gupta commented on #2890
Please assign me

[2019-07-18 12:12] ThomasKranitsas commented on #2890
Contest https://www.topcoder.com/challenges/30095985 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:14] ThomasKranitsas commented on #2844
Contest https://www.topcoder.com/challenges/30096192 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:14] ThomasKranitsas commented on #2843
Contest https://www.topcoder.com/challenges/30096193 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:14] ThomasKranitsas commented on #2843
Contest https://www.topcoder.com/challenges/30096193 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:16] ThomasKranitsas commented on #2841
Contest https://www.topcoder.com/challenges/30096191 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 12:19] veshu commented on #2854
@r0hit-gupta Please use `changes for #xxxx` style of commit message.

[2019-07-18 12:49] veshu commented on #2854
@r0hit-gupta Also please use `qa-accessibility` branch.

[2019-07-18 12:56] r0hit-gupta commented on #2854
@veshu the branch `qa-accessibility` has lint errors for the latest commit. This would fail every PR if not fixed. How should I proceed?

[2019-07-18 13:03] r0hit-gupta commented on #2748
Please assign me

[2019-07-18 13:04] veshu opened #2915 "Accessibility Bug Bash Info"
Hi everyone,

Welcome to the Accessibility Bug bash. Please note some of points applicable for this bug bash.

Applicable issues label: [Accessibility](https://github.com/topcoder-platform/community-app/issues?q=is%3Aissue+is%3Aopen+label%3AAccessibility)

Branch to use: [qa-accessibility](https://github.com/topcoder-platform/community-app/tree/qa-accessibility)

For more detail please check Chall

[2019-07-18 13:30] r0hit-gupta commented on #2751
Please assign me

[2019-07-18 13:33] ThomasKranitsas commented on #2751
Contest https://www.topcoder.com/challenges/30096163 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 13:36] r0hit-gupta commented on #2750
Please assign me

[2019-07-18 13:44] r0hit-gupta commented on #2747
Please assign me

[2019-07-18 13:48] r0hit-gupta commented on #2742
Please assign me

[2019-07-18 13:52] r0hit-gupta commented on #2749
Please assign me

[2019-07-18 14:01] r0hit-gupta commented on #2745
Please assign me

[2019-07-18 14:06] r0hit-gupta commented on #2751
@veshu how do I self assign myself from now onwards? I cannot see the option.

[2019-07-18 14:06] ThomasKranitsas commented on #2745
Contest https://www.topcoder.com/challenges/30096158 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 14:09] ThomasKranitsas commented on #2750
Contest https://www.topcoder.com/challenges/30096150 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 14:17] ThomasKranitsas commented on #2749
[500]: Challenge for the updated issue 2749 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 14:17] ThomasKranitsas commented on #2749
[500]: Challenge for the updated issue 2749 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 14:19] ThomasKranitsas commented on #2749
[500]: Challenge for the updated issue 2749 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 14:19] ThomasKranitsas commented on #2749
[500]: Challenge for the updated issue 2749 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 14:20] ThomasKranitsas commented on #2853
Contest https://www.topcoder.com/challenges/30095989 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 14:22] ThomasKranitsas commented on #2749
Contest https://www.topcoder.com/challenges/30096201 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 14:22] ThomasKranitsas commented on #2749
Contest https://www.topcoder.com/challenges/30096201 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-18 14:35] veshu commented on #2915
@topcoder-platform/topcodercompetitors Please join this bug bash to solve interesting issues and help our community app more accessible, primarily for members with impairment.

[2019-07-18 14:37] nahidshahin commented on #2809
@veshu @ThomasKranitsas can't regenerate the problem. The tab is working. After finishing `End Date` `Clear filter` receives the focus. Check the screenshot:

![Selection_068](https://user-images.githubusercontent.com/1224995/61466497-d29c6280-a99b-11e9-9bae-fe4baea04719.jpg)

[2019-07-18 14:39] veshu commented on #2751
@r0hit-gupta Can you please check with this link https://x.topcoder.com/api/v1/github/teams/registration/e07056ab-46c5-407d-9323-1f20de914a6e-1563396610310

[2019-07-18 15:22] veshu commented on #2809
@nahidshahin Please try to navigate with tab without entering any value in filter input items. On disabled state it is not reachable.

[2019-07-18 16:02] romitgit commented on #2863
Please assign this to me.

[2019-07-18 16:50] romitgit commented on #2891
Please assign this to me.

[2019-07-18 16:52] r0hit-gupta commented on #2751
@veshu it says `{"version":"v3","result":{"success":false,"status":403,"content":{"message":"Failed to authenticate token."}}}`

[2019-07-18 16:53] veshu commented on #2751
@r0hit-gupta how about this https://x.topcoder.com/api/v1/github/teams/registration/462d863d-9f1a-4179-a215-29f71a551e4f-1563464121672 ?

[2019-07-18 16:58] Oanh-and-only-Oanh commented on #2809
@nahidshahin, are you still working on this so I can assign it to you?

[2019-07-18 17:00] r0hit-gupta commented on #2843
Please assign me

[2019-07-18 17:01] r0hit-gupta commented on #2751
@veshu same result. I have Github 2FA already enabled.

[2019-07-18 17:02] PrakashDurlabhji commented on #2903
@Oanh-and-only-Oanh @veshu  PR https://github.com/topcoder-platform/community-app/pull/2928

[2019-07-18 17:07] PrakashDurlabhji commented on #2882
@veshu is it possible to elaborate a bit more? where color needs to be changed? hex values if given?

[2019-07-18 17:15] veshu commented on #2882
@PrakashDurlabhji please check the attachment. it is listed on many places.

And sorry for inconvenience but please don't work on this, I will like to get fix this at last. Thanks!

[2019-07-18 17:17] romitgit commented on #2850
Please assign this to me.

[2019-07-18 17:17] cwdcwd commented on #2843
Contest https://www.topcoder.com/challenges/30096193 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 17:18] cwdcwd commented on #2850
Contest https://www.topcoder.com/challenges/30096045 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 17:19] cwdcwd commented on #2874
Contest https://www.topcoder.com/challenges/30095964 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 17:26] PrakashDurlabhji commented on #2874
@veshu PR https://github.com/topcoder-platform/community-app/pull/2930

[2019-07-18 17:27] romitgit commented on #2891
I'm not able to add tcx_ReadyForReview label

[2019-07-18 17:28] cwdcwd commented on #2873
Contest https://www.topcoder.com/challenges/30096028 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 17:34] r0hit-gupta commented on #2752
Please assign me

[2019-07-18 17:38] PrakashDurlabhji commented on #2873
@veshu PR https://github.com/topcoder-platform/community-app/pull/2933

[2019-07-18 17:38] cwdcwd commented on #2838
Contest https://www.topcoder.com/challenges/30096054 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 17:40] PrakashDurlabhji commented on #2838
@veshu this PR also covers this https://github.com/topcoder-platform/community-app/pull/2933

[2019-07-18 17:42] cwdcwd commented on #2837
Contest https://www.topcoder.com/challenges/30096073 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 17:43] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 17:43] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 17:44] r0hit-gupta commented on #2797
Please assign me

[2019-07-18 17:45] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 17:45] cwdcwd commented on #2752
[500]: Challenge for the updated issue 2752 is creating, rescheduling this event<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 17:46] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 17:46] cwdcwd commented on #2752
[400]: Failed to create challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 17:49] PrakashDurlabhji commented on #2837
@veshu can you please help  me register to see attachements?

do i need to register on https://topcodermsft-my.sharepoint.com

[2019-07-18 17:50] veshu commented on #2837
@PrakashDurlabhji please check https://www.topcoder.com/challenges/30095935 i have shared the credentials on forum

[2019-07-18 17:56] PrakashDurlabhji commented on #2837
@veshu PR https://github.com/topcoder-platform/community-app/pull/2936

[2019-07-18 17:57] cwdcwd commented on #2741
Contest https://www.topcoder.com/challenges/30096108 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 17:59] cwdcwd commented on #2893
Contest https://www.topcoder.com/challenges/30096025 has been updated - it has been assigned to Timor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 18:02] cwdcwd commented on #2856
Contest https://www.topcoder.com/challenges/30096031 has been updated - it has been assigned to cunhavictor.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 18:05] cwdcwd commented on #2871
Contest https://www.topcoder.com/challenges/30095969 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2019-07-18 18:05] r0hit-gupta commented on #2755
Please assign me

[2019-07-18 18:10] veshu commented on #2893
@romitgit can you please accept the invitation sent to you  for this repository so that you can assign yourself and update label for ready for review.