[2021-05-21 18:01] Oanh-and-only-Oanh commented on #5526
@Dara-K can you share design here.

[2021-05-21 20:27] Dara-K commented on #5526
@Oanh-and-only-Oanh  Here is the design: https://marvelapp.com/prototype/86aaj33/screen/79554452

[2021-05-23 22:39] mtwomey opened #5527 "Community-App crashes (and a new task is spun up) 146 times in 1 week"
Community-App crashes (and a new task is spun up) 146 times in 1 week.

This frequently accompanied by a "micro outage" of a minute or so. These outages are reported like this in Slack:

![image](https://user-images.githubusercontent.com/7715262/119278701-92881580-bbec-11eb-9f20-9b1d349142df.png)

These can be seen in bulk in Opsgenie here:
![image](https://user-images.githubusercontent.com/771526

[2021-05-24 15:28] Oanh-and-only-Oanh opened #5528 "Topgear redirect"
We want Topgear users to get redirected to https://topgear-app.wipro.com when they access https://topgear.topcoder.com (After login & every time when the user access this URL)

![image](https://user-images.githubusercontent.com/47536078/119370464-251aca00-bc6a-11eb-80f1-cceeec9209f6.png)

Additionally,
1) Remove `FAQ` and `Topgear Operations` on the top navigation on https://topgear.topcoder.com

[2021-05-24 18:10] ajefts opened #5529 "Winners tab broken for tasks"
**Describe the bug**
Attempting to view winner on the challenge page for tasks is not working. The page is blank and the console shows an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to and task and view the winner.  For example, https://www.topcoder.com/challenges/e5f1c4d0-ff4a-4fdf-9f66-b1f906329537?tab=winners
2. See error

[2021-05-24 18:11] ajefts commented on #5529
fyi @Oanh-and-only-Oanh

[2021-05-25 07:44] kkartunov opened #5530 "Change “Skills” to “Required Skills” on gig details page"
As per title.
<img width="438" alt="Screen Shot 2021-05-24 at 10 24 02 AM" src="https://user-images.githubusercontent.com/5585002/119459237-2c170a80-bd46-11eb-967c-902134d5e043.png">

[2021-05-25 07:45] dedywahyudi commented on #5529
@ajefts @Oanh-and-only-Oanh

I received this error when access the page. Can you help add me to the challenge first pls? So i can see the correct error.
Thank you

<img width="1678" alt="Screen Shot 2021-05-25 at 11 41 02" src="https://user-images.githubusercontent.com/4476442/119440238-1f96b000-bd4e-11eb-805b-3df8d65b8c06.png">

[2021-05-25 12:01] kkartunov commented on #5197
this is still present @luizrrodrigues @Oanh-and-only-Oanh
![Screenshot from 2021-05-25 15-00-11](https://user-images.githubusercontent.com/5585002/119494531-1287ba00-bd6a-11eb-805d-5f175e923e63.png)

[2021-05-25 12:03] SathyaJayabal commented on #5530
verified on qa env
<img width="1428" alt="Screenshot 2021-05-25 at 5 32 31 PM" src="https://user-images.githubusercontent.com/58783823/119494826-5a650c00-bd7f-11eb-9290-06eb67794052.png">

[2021-05-26 05:37] sandhiyakavi commented on #5521
@kkartunov Track -->Competitive programming/Data Science/Design/Development/QA loading continuously in both QA as well as Dev Environment.

<img width="960" alt="dev_env_thrive" src="https://user-images.githubusercontent.com/55895538/119607605-93f55000-be2f-11eb-8ca0-af624697053a.png">

![image](https://user-images.githubusercontent.com/55895538/119607774-dcad0900-be2f-11eb-80b7-0607f289523e.png)

[2021-05-26 06:42] kkartunov commented on #5521
@sandhiyakavi this looks to be env issue. Deploying that to beta for QA now...

[2021-05-26 07:36] sandhiyakavi commented on #5521
@kkartunov If we click "clear Filters" to clear the filter, "All Authors" is displayed as default in Authors field.

![image](https://user-images.githubusercontent.com/55895538/119620730-49300400-be40-11eb-8e72-5325d436f2d8.png)

https://user-images.githubusercontent.com/55895538/119620693-3d444200-be40-11eb-8304-e31a637a8269.mp4

Other things are good.
"Type author name or handle" is displayed as

[2021-05-26 20:13] Oanh-and-only-Oanh opened #5531 "Change logo to rainbow for June"
Change Topcoder logo to rainbow for June 1st.

All Topcoder sites including our MFEs.
file:///Users/Oanh/Downloads/topcoder%20icon%20pride.svg

[2021-05-27 02:47] dedywahyudi commented on #5531
@Oanh-and-only-Oanh the svg not uploaded

[2021-05-27 08:12] kkartunov opened #5534 "Category Tooltip issue"
![image](https://user-images.githubusercontent.com/42398485/73995656-e6e78300-491e-11ea-871b-b674752f4919.png)

**Target URL:** https://www.topcoder.com/thrive/search?tags[0]=Graph%20Coloring

1. Open the Application and Login as valid user
2. Click 'COMPETITIVE PROGRAMMING' title
3. Click on a tag 'Graph Coloring'
4. Hover over the options button in the Filter > Category

**Actual:** Category Too

[2021-05-27 08:13] kkartunov opened #5535 "Unrelated pop-up message is displayed"Group 9""
Target URL: https://www.topcoder.com/thrive/articles/Solving%20Problems%20Using%20Constraint%20Logic%20Programming

Open the Application and Login as valid user
Go to https://www.topcoder.com/thrive/articles/Solving%20Problems%20Using%20Constraint%20Logic%20Programming
Observe under Articles details

Actual: Unnessary pop-up message is displayed When user moves the mouse over the like or dislike b

[2021-05-27 08:14] kkartunov opened #5536 "sub category icon issue"
Target URL: https://www.topcoder.com/thrive/search?author=Mariia%20Mykhailova

### Reproduction Steps ###
1 goto https://www.topcoder.com/thrive/
2 click Data Visualization
3 click author name
4. click Data science option under category

### Expected Result ###
Should show sub category icon properly

### Actual Result ###

icon is wrongly showing

### Screenshots or screencast ###

![bandicam 2020

[2021-05-27 08:15] kkartunov opened #5537 "Clicking on empty location will activate the left side section links"
![image](https://user-images.githubusercontent.com/42398485/73997435-206ebd00-4924-11ea-8607-159e5f3a88a0.png)

**Target URL:** https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming

1. Open the Application and Login as valid user
2. Go to Competitive Programming
3. Click on empty locations in-front of the left side list

**Actual:** Clicking on an empty location will activate the

[2021-05-27 08:19] kkartunov opened #5538 "UI issue while adding long text in tags"
**Target URL:**  https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=

**To Reproduce**
1. Go to thrive page
2. Click on the SRM > apply filter
3.  Add long text in the tags

**Actual-**
Log text extract the whole page rather than wrap the text.

**Expected behavior**
Long text in tags should be wrap

**Desktop:**
 - OS: Lenovo Thinkpad; Windows 10pro
 - Browser: Firefox
 - Version: 72

[2021-05-27 08:19] kkartunov commented on #5538
![Screenshot from 2021-05-27 11-19-43](https://user-images.githubusercontent.com/5585002/119791380-741c6580-bedd-11eb-9610-cb391545abc9.png)

[2021-05-27 08:20] kkartunov opened #5539 "Clicking on the empty area after the titles will trigger the links"
![image](https://user-images.githubusercontent.com/42398485/74002602-43559d00-4935-11ea-81fd-b17d2d4937c7.png)

**Target URL:** https://www.topcoder.com/thrive

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Click in-front of the 'Design' title
3. Click in-front of the 'COMPETITIVE PROGRAMMING' title
3. Click in-front of the 'DATA SCIENCE' title
3. Cli

[2021-05-27 08:21] kkartunov opened #5540 "DATA SCIENCE icon is partially hidden"
![image](https://user-images.githubusercontent.com/42398485/74002740-b828d700-4935-11ea-8496-6eff2d8f101f.png)

**Target URL:** https://www.topcoder.com/thrive

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Check the 'DATA SCIENCE' icon

**Actual:** DATA SCIENCE icon is partially hidden

**Expected:** Should display the entire icon
https://d2nl5eqipnb

[2021-05-27 08:23] kkartunov opened #5541 "Search page "add tags" filter doesn't have validation & limit"
Title: Search page "add tags" filter doesn't have validation & limit

Target URL: https://www.topcoder.com/thrive/search?tags[0]=computer&author=All%20authors&startDate=2020-01-07T14%3A18%3A50%2B08%3A00&endDate=2020-02-07T14%3A18%3A50%2B08%3A00&track=&tax=

### Reproduction Steps ###
1. Go to Target URL
2. Go to Filter input section and add as many as inputs

### Expected Result ###
1. Adding filt

[2021-05-27 08:24] kkartunov opened #5542 "Clickable empty line displayed when user search Author > sa"
![image](https://user-images.githubusercontent.com/42398485/73998904-a42aa880-4928-11ea-816b-24e7296d65fa.png)

**Target URL:** https://www.topcoder.com/thrive/

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3.  Type 'sa' and chage the dropdown to 'Author'
4. Click on search field

**Actual:** Clickable empty line displayed when user search Author > sa

[2021-05-27 08:25] kkartunov opened #5543 "Author drop-down arrow does not change direction upon clicking"
**Describe the bug**
Author drop-down arrow in filter does not change upon clicking.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/thrive/search?tags[0]=Insight'
2. Click on arrow beside 'Author' under 'Filter'

**Expected behavior**
The arrow changes direction according to expand/collapse

**Screenshots**
If applicable, add screenshots to help explain your

[2021-05-27 15:58] Oanh-and-only-Oanh commented on #5512
@SathyaJayabal, when did this stop working?  Was it ever deployed and working?

[2021-05-28 03:11] SathyaJayabal commented on #5512
@Oanh-and-only-Oanh , I dont think it was ever working.

[2021-05-28 10:33] luizrrodrigues commented on #5526
@SathyaJayabal Deployed to QA and Beta env.

[2021-05-28 10:55] SathyaJayabal commented on #5526
@luizrrodrigues , verified on beta
<img width="1433" alt="Screenshot 2021-05-28 at 4 24 41 PM" src="https://user-images.githubusercontent.com/58783823/119973558-40226c80-bfd1-11eb-8bd8-c924bff6fc88.png">

[2021-05-28 12:41] luizrrodrigues commented on #5450
Challenge https://www.topcoder.com/challenges/08d85277-5625-4956-9450-95706ee06a87 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 12:41] luizrrodrigues commented on #5450
Challenge https://www.topcoder.com/challenges/08d85277-5625-4956-9450-95706ee06a87 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 12:46] luizrrodrigues opened #5546 "[$30] Automated Smoke Testing Fix Test Case TC_023 and TC_024"
Before Login Test Cases [TC-023] should verify All Challenges link functionality with the design, development, data science and QA toggle switches on

Before Login Test Cases [TC-024] should verify All Challenges link functionality with the design, development, data science and QA toggle switches Off

[2021-05-28 12:46] luizrrodrigues commented on #5546
Challenge https://www.topcoder.com/challenges/6ab168cf-4268-4612-b5cd-224ba622bed5 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 12:46] luizrrodrigues commented on #5546
Challenge https://www.topcoder.com/challenges/6ab168cf-4268-4612-b5cd-224ba622bed5 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 13:52] SathyaJayabal commented on #5526
verified on staging (feature branch)
<img width="1439" alt="Screenshot 2021-05-28 at 7 21 39 PM" src="https://user-images.githubusercontent.com/58783823/119994175-f85c0f00-bfe9-11eb-94c1-5292bd563c7c.png">

[2021-05-28 13:55] SathyaJayabal commented on #5530
verified on staging
<img width="1440" alt="Screenshot 2021-05-28 at 7 24 07 PM" src="https://user-images.githubusercontent.com/58783823/119994590-5ab50f80-bfea-11eb-8413-1bb31172c13a.png">

[2021-05-28 14:21] SathyaJayabal commented on #5521
verified on staging
<img width="1440" alt="Screenshot 2021-05-28 at 7 49 46 PM" src="https://user-images.githubusercontent.com/58783823/119998177-188dcd00-bfee-11eb-9750-fc18216646b3.png">
<img width="1440" alt="Screenshot 2021-05-28 at 7 50 05 PM" src="https://user-images.githubusercontent.com/58783823/119998207-1f1c4480-bfee-11eb-8a71-9f2772be3cf0.png">

[2021-05-28 15:19] dedywahyudi commented on #5531
@Oanh-and-only-Oanh @luizrrodrigues

This is ready:

![Screen Shot 2021-05-28 at 22 16 07](https://user-images.githubusercontent.com/4476442/120005744-598fdc80-c002-11eb-803a-6d6af594de45.png)

PR: https://github.com/topcoder-platform/community-app/pull/5548

[2021-05-28 15:19] SathyaJayabal opened #5549 "Update smoke test cases TC_020 and TC_006 to match search improvements"
TC_006 and TC_020
https://github.com/topcoder-platform/challenge-api/pull/408

[2021-05-28 15:23] SathyaJayabal commented on #5307
qa pass on staging

[2021-05-28 15:28] SathyaJayabal commented on #5449
verified on staging

https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2949/workflows/1f4bb6db-5e17-495e-8d02-28af3bca84c3/jobs/12671

[2021-05-28 15:30] SathyaJayabal commented on #5450
verified on staging

https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2949/workflows/1f4bb6db-5e17-495e-8d02-28af3bca84c3/jobs/12671

[2021-05-28 15:31] SathyaJayabal commented on #5452
verified on staging

https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2949/workflows/1f4bb6db-5e17-495e-8d02-28af3bca84c3/jobs/12671

[2021-05-28 15:31] SathyaJayabal commented on #5454
verified on staging

https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2949/workflows/1f4bb6db-5e17-495e-8d02-28af3bca84c3/jobs/12671

[2021-05-28 15:31] SathyaJayabal commented on #5455
verified on staging

https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2949/workflows/1f4bb6db-5e17-495e-8d02-28af3bca84c3/jobs/12671

[2021-05-28 15:32] SathyaJayabal commented on #5456
verified on staging

https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2949/workflows/1f4bb6db-5e17-495e-8d02-28af3bca84c3/jobs/12671

[2021-05-28 15:32] SathyaJayabal commented on #5457
verified on staging

https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2949/workflows/1f4bb6db-5e17-495e-8d02-28af3bca84c3/jobs/12671

[2021-05-28 15:32] SathyaJayabal commented on #5458
verified on staging

https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2949/workflows/1f4bb6db-5e17-495e-8d02-28af3bca84c3/jobs/12671

[2021-05-28 15:32] SathyaJayabal commented on #5546
verified on staging

https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2949/workflows/1f4bb6db-5e17-495e-8d02-28af3bca84c3/jobs/12671

[2021-05-28 16:14] SathyaJayabal commented on #5521
verified on prod
<img width="1440" alt="Screenshot 2021-05-28 at 9 43 06 PM" src="https://user-images.githubusercontent.com/58783823/120012938-c9e82f00-bffd-11eb-9106-d52950801060.png">
<img width="1440" alt="Screenshot 2021-05-28 at 9 43 33 PM" src="https://user-images.githubusercontent.com/58783823/120012954-cf457980-bffd-11eb-8b94-ef63b9324344.png">

[2021-05-28 16:14] #5521 closed

[2021-05-28 16:15] SathyaJayabal commented on #5526
verified on prod
<img width="1440" alt="Screenshot 2021-05-28 at 9 45 12 PM" src="https://user-images.githubusercontent.com/58783823/120013140-0451cc00-bffe-11eb-8638-786b8ee5d76d.png">

[2021-05-28 16:15] #5526 closed

[2021-05-28 16:20] SathyaJayabal commented on #5530
verified on prod
<img width="1440" alt="Screenshot 2021-05-28 at 9 49 40 PM" src="https://user-images.githubusercontent.com/58783823/120013671-a5d91d80-bffe-11eb-8b5d-5fd0e3caae69.png">

[2021-05-28 16:41] #5307 closed

[2021-05-28 16:42] SathyaJayabal commented on #5449
verified on prod
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2953/workflows/9824d1b1-d7bd-4ae2-83a2-9ce1a02e0320/jobs/12676

[2021-05-28 16:42] SathyaJayabal commented on #5450
verified on prod
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2953/workflows/9824d1b1-d7bd-4ae2-83a2-9ce1a02e0320/jobs/12676

[2021-05-28 16:42] luizrrodrigues commented on #5450
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 16:42] SathyaJayabal commented on #5451
verified on prod
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2953/workflows/9824d1b1-d7bd-4ae2-83a2-9ce1a02e0320/jobs/12676

[2021-05-28 16:42] luizrrodrigues commented on #5451
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 16:43] SathyaJayabal commented on #5452
verified on prod
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2953/workflows/9824d1b1-d7bd-4ae2-83a2-9ce1a02e0320/jobs/12676

[2021-05-28 16:43] luizrrodrigues commented on #5452
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 16:43] luizrrodrigues commented on #5452
Challenge https://www.topcoder.com/challenges/1f34aa81-6071-4aff-975d-ad5f555e937c has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 16:43] SathyaJayabal commented on #5454
verified on prod
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2953/workflows/9824d1b1-d7bd-4ae2-83a2-9ce1a02e0320/jobs/12676

[2021-05-28 16:43] luizrrodrigues commented on #5454
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 16:43] SathyaJayabal commented on #5455
verified on prod
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2953/workflows/9824d1b1-d7bd-4ae2-83a2-9ce1a02e0320/jobs/12676

[2021-05-28 16:43] luizrrodrigues commented on #5455
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 16:43] luizrrodrigues commented on #5455
Challenge https://www.topcoder.com/challenges/6686155e-44a0-418a-a949-1f364a3deb82 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 16:44] SathyaJayabal commented on #5456
verified on prod
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2953/workflows/9824d1b1-d7bd-4ae2-83a2-9ce1a02e0320/jobs/12676

[2021-05-28 16:44] luizrrodrigues commented on #5456
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 16:44] SathyaJayabal commented on #5457
verified on prod
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2953/workflows/9824d1b1-d7bd-4ae2-83a2-9ce1a02e0320/jobs/12676

[2021-05-28 16:44] luizrrodrigues commented on #5457
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 16:44] luizrrodrigues commented on #5457
Challenge https://www.topcoder.com/challenges/0de72f61-26f0-4f3b-b6ab-063eaafba66b has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 16:44] SathyaJayabal commented on #5458
verified on prod
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2953/workflows/9824d1b1-d7bd-4ae2-83a2-9ce1a02e0320/jobs/12676

[2021-05-28 16:44] luizrrodrigues commented on #5458
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 16:44] SathyaJayabal commented on #5546
verified on prod
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2953/workflows/9824d1b1-d7bd-4ae2-83a2-9ce1a02e0320/jobs/12676

[2021-05-28 16:44] luizrrodrigues commented on #5546
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 20:24] luizrrodrigues commented on #5546
Challenge https://www.topcoder.com/challenges/5cd0e318-5554-427b-aae4-a0a378e39fe7 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-28 20:25] #5546 closed

[2021-05-28 20:25] luizrrodrigues commented on #5546
Payment task has been updated: https://www.topcoder.com/challenges/5cd0e318-5554-427b-aae4-a0a378e39fe7
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `5cd0e318-5554-427b-aae4-a0a378e39fe7` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 01:57] luizrrodrigues commented on #5458
Challenge https://www.topcoder.com/challenges/78a7d287-90a5-4f08-962a-a086459d200e has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 01:57] #5458 closed

[2021-05-29 01:57] luizrrodrigues commented on #5458
Payment task has been updated: https://www.topcoder.com/challenges/78a7d287-90a5-4f08-962a-a086459d200e
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `78a7d287-90a5-4f08-962a-a086459d200e` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 01:58] #5457 closed

[2021-05-29 01:59] luizrrodrigues commented on #5457
Payment task has been updated: https://www.topcoder.com/challenges/0de72f61-26f0-4f3b-b6ab-063eaafba66b
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `0de72f61-26f0-4f3b-b6ab-063eaafba66b` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 02:00] luizrrodrigues commented on #5456
Challenge https://www.topcoder.com/challenges/c313d2bf-eded-46cf-80d3-bac0ba2a0afe has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 02:00] #5456 closed

[2021-05-29 02:00] luizrrodrigues commented on #5456
Payment task has been updated: https://www.topcoder.com/challenges/c313d2bf-eded-46cf-80d3-bac0ba2a0afe
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `c313d2bf-eded-46cf-80d3-bac0ba2a0afe` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 02:03] #5455 closed

[2021-05-29 02:03] luizrrodrigues commented on #5455
Payment task has been updated: https://www.topcoder.com/challenges/6686155e-44a0-418a-a949-1f364a3deb82
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `6686155e-44a0-418a-a949-1f364a3deb82` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 02:05] luizrrodrigues commented on #5454
Challenge https://www.topcoder.com/challenges/8d42a714-6ebd-4768-b4d4-1780787611c6 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 02:05] #5454 closed

[2021-05-29 02:06] luizrrodrigues commented on #5454
Payment task has been updated: https://www.topcoder.com/challenges/8d42a714-6ebd-4768-b4d4-1780787611c6
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `8d42a714-6ebd-4768-b4d4-1780787611c6` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 02:07] #5452 closed

[2021-05-29 02:07] luizrrodrigues commented on #5452
Payment task has been updated: https://www.topcoder.com/challenges/1f34aa81-6071-4aff-975d-ad5f555e937c
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `1f34aa81-6071-4aff-975d-ad5f555e937c` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 02:08] luizrrodrigues commented on #5451
Challenge https://www.topcoder.com/challenges/00cf3b1b-8ef1-440d-b192-d2511e076e5e has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 02:08] #5451 closed

[2021-05-29 02:08] luizrrodrigues commented on #5451
Payment task has been updated: https://www.topcoder.com/challenges/00cf3b1b-8ef1-440d-b192-d2511e076e5e
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `00cf3b1b-8ef1-440d-b192-d2511e076e5e` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 02:09] luizrrodrigues commented on #5450
Challenge https://www.topcoder.com/challenges/28c8f94e-c0cc-480e-b46d-68fa9781377f has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 02:09] #5450 closed

[2021-05-29 02:10] luizrrodrigues commented on #5450
Payment task has been updated: https://www.topcoder.com/challenges/28c8f94e-c0cc-480e-b46d-68fa9781377f
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `28c8f94e-c0cc-480e-b46d-68fa9781377f` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 02:10] #5449 closed

[2021-05-29 02:11] luizrrodrigues commented on #5449
Payment task has been updated: https://www.topcoder.com/challenges/3a8da08a-6f17-42ac-b989-0831aacf36a4
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `3a8da08a-6f17-42ac-b989-0831aacf36a4` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-29 06:28] dedywahyudi commented on #5529
@ajefts @Oanh-and-only-Oanh

We received solutions for this. I can see the Winner tab content now.

![Screen Shot 2021-05-29 at 13 17 12](https://user-images.githubusercontent.com/4476442/120060346-8e8f4400-c081-11eb-86e1-836420cba13e.png)
![Screen Shot 2021-05-29 at 13 19 08](https://user-images.githubusercontent.com/4476442/120060347-90590780-c081-11eb-913b-99c74a0e8956.png)

Question, how about

[2021-05-29 18:52] Oanh-and-only-Oanh commented on #5529
Only show for logged-in users. Thank you for checking.

[2021-05-30 01:58] dedywahyudi commented on #5529
@Oanh-and-only-Oanh Ok, cool!

@luizrrodrigues
The fix for this issue ready in this PR: https://github.com/topcoder-platform/community-app/pull/5551

[2021-05-31 05:42] harshitmehta15 opened #5553 "Add EdgeNet icon for Member Profile"
Hi Team.
Can you please help add EdgeNet icon for skills on the member profile. Here's the icon: https://drive.google.com/drive/folders/1TB3pi5QJWXUY9ye-1nvQwXnbSHDA8-GZ?usp=sharing

@Oanh-and-only-Oanh @luizrrodrigues

[2021-05-31 05:46] SathyaJayabal commented on #5553
@luizrrodrigues @Oanh-and-only-Oanh , I cant seem to add EdgeNet to my profile, I get the error "Tag id 604 is not valid"

<img width="1440" alt="Screenshot 2021-05-31 at 11 14 55 AM" src="https://user-images.githubusercontent.com/58783823/120145685-9118a780-c201-11eb-92aa-98f8712f4f14.png">

[2021-05-31 07:58] mcp111 opened #5554 "My gigs should be shown in my profile"
Why is the list of gigs I've applied to not shown in my profile?
What if I want to refer an old project description?
How would I do that?

[2021-05-31 11:21] sachin-maheshwari commented on #5528
@luizrrodrigues please update us. @Oanh-and-only-Oanh

[2021-05-31 12:16] luizrrodrigues commented on #5531
@SathyaJayabal Deployed to QA env.

[2021-05-31 12:17] luizrrodrigues commented on #5529
@SathyaJayabal Deployed to Beta env

[2021-05-31 13:52] SathyaJayabal commented on #5529
@luizrrodrigues , i still see the error on winners tab
<img width="1440" alt="Screenshot 2021-05-31 at 7 21 24 PM" src="https://user-images.githubusercontent.com/58783823/120203577-7cf69980-c245-11eb-8c99-95dac09dd40d.png">

[2021-05-31 13:55] SathyaJayabal commented on #5531
verified on qa

<img width="1440" alt="Screenshot 2021-05-31 at 7 23 50 PM" src="https://user-images.githubusercontent.com/58783823/120203925-de1e6d00-c245-11eb-8527-72e0a4baf438.png">
<img width="1438" alt="Screenshot 2021-05-31 at 7 24 07 PM" src="https://user-images.githubusercontent.com/58783823/120203936-e1b1f400-c245-11eb-8919-b467aa9e6cd4.png">

[2021-05-31 19:18] luizrrodrigues commented on #5528
@sachin-maheshwari Working on this, I'll updated ASAP.

[2021-06-01 05:41] #5445 closed

[2021-06-01 05:42] #5446 closed

[2021-06-01 05:42] #5397 closed

[2021-06-01 05:43] #5361 closed

[2021-06-01 06:12] luizrrodrigues commented on #5528
@sachin-maheshwari Deployed to Stag env Dev env

[2021-06-01 06:26] luizrrodrigues commented on #5529
@SathyaJayabal looks like I can't access this challenge, you have any other example?

[2021-06-01 07:03] SathyaJayabal commented on #5554
@mcp111 , This is an upcoming feature.

[2021-06-01 07:50] SathyaJayabal commented on #5529
@luizrrodrigues , we just need to user any v5 pure task. There are few examples on dev we can use
https://www.topcoder-dev.com/challenges/c3dc0eac-372c-4c07-9a17-683468eb5891
https://www.topcoder-dev.com/challenges/4954eea1-6af3-4b61-b6ee-53c24e3735e9
<img width="1427" alt="Screenshot 2021-06-01 at 1 19 45 PM" src="https://user-images.githubusercontent.com/58783823/120286639-1c666b80-c2dc-11eb-954

[2021-06-01 08:19] lakshmiathreya commented on #5528
<img width="1680" alt="Screenshot 2021-06-01 at 1 49 02 PM" src="https://user-images.githubusercontent.com/51733042/120290641-2b4f1d00-c2e0-11eb-8b82-62a25f14fcf9.png">
<img width="1680" alt="Screenshot 2021-06-01 at 1 42 19 PM" src="https://user-images.githubusercontent.com/51733042/120290671-330ec180-c2e0-11eb-9f78-cdc477812008.png">

[2021-06-01 08:23] lakshmiathreya commented on #5528
1. FAQ and Topgear Operations are removed from Topgear Staging - as expected.
2. Redirect to Topgear-ap working on Staging - as expected.
3. FAQ persisting in Topgear-App - is this expected
4. The User Profile pic is not centered correctly in the Topgear-App page.

[2021-06-01 08:24] lakshmiathreya commented on #5528
5. Verified both logged in and logged out scenarios - the redirect is working fine.

[2021-06-01 08:24] lakshmiathreya commented on #5528
5. Verified both logged in and logged out scenarios - the redirect is working fine.

[2021-06-01 08:39] sandhiyakavi commented on #5540
Verified on Beta Env.

![image](https://user-images.githubusercontent.com/55895538/120293531-521d4b80-c300-11eb-8641-2a7921fb0d09.png)

[2021-06-01 08:45] sandhiyakavi commented on #5539
Verified on Beta Env.

https://user-images.githubusercontent.com/55895538/120294382-18007980-c301-11eb-9ddf-f28221968d1e.mp4

[2021-06-01 08:52] sandhiyakavi commented on #5537
Verified in Beta Env

https://user-images.githubusercontent.com/55895538/120295468-1c796200-c302-11eb-8343-f42480ca3865.mp4

[2021-06-01 08:57] sandhiyakavi commented on #5536
Verified in Beta Env.

![image](https://user-images.githubusercontent.com/55895538/120296148-c953df00-c302-11eb-8dae-e0c730cca44d.png)

[2021-06-01 09:02] sandhiyakavi commented on #5535
Verified in Beta Env. 'Click to show Preference!' is shown

![image](https://user-images.githubusercontent.com/55895538/120296639-4a12db00-c303-11eb-922f-088533ecb53d.png)

[2021-06-01 09:16] luizrrodrigues opened #5556 "CircleCI deployment not updating in Deployment Dashboard"
CircleCI deployment not updating in Dashboard:
https://community-app-dev-dashboard.herokuapp.com/#/dashboard

[2021-06-01 09:22] luizrrodrigues opened #5557 "Automated Smoke Testing - Flow/Approval without jobs"
![image](https://user-images.githubusercontent.com/7029641/120299704-a0e7c880-c2a1-11eb-9f7b-353e4baf318e.png)

- Expected; Automated Smoke Testing will be called when any branch are deployed to **Stag** or **Prod** env.

[2021-06-01 10:53] luizrrodrigues commented on #5556
@SathyaJayabal This was fixed, deploying now to Stag env.

[2021-06-01 11:37] luizrrodrigues commented on #5557
@SathyaJayabal ready for QA, `fix-circleci-deployment` was deployed to Stag env, then Smoke Testing to Stag env was called:
![image](https://user-images.githubusercontent.com/7029641/120317027-810dd000-c2b4-11eb-9146-e09d67e7f029.png)

[2021-06-01 11:47] SathyaJayabal commented on #5556
verified. latest deployments reflected in dashboard
<img width="1440" alt="Screenshot 2021-06-01 at 5 16 57 PM" src="https://user-images.githubusercontent.com/58783823/120318251-43816500-c2fd-11eb-9af3-34b1aa540215.png">

[2021-06-01 12:17] SathyaJayabal commented on #5529
verified on staging (feature branch)
<img width="1440" alt="Screenshot 2021-06-01 at 5 46 35 PM" src="https://user-images.githubusercontent.com/58783823/120321839-64e45000-c301-11eb-9c57-2ddee1ecf56d.png">

[2021-06-01 14:02] SathyaJayabal commented on #5539
verified on staging (develop)

https://user-images.githubusercontent.com/58783823/120336493-08d4f800-c310-11eb-809b-4dc438dfb48e.mov

[2021-06-01 14:03] SathyaJayabal commented on #5540
verified on staging (develop)
<img width="1440" alt="Screenshot 2021-06-01 at 7 32 36 PM" src="https://user-images.githubusercontent.com/58783823/120336695-391c9680-c310-11eb-9acf-896aaf41e794.png">

[2021-06-01 14:06] SathyaJayabal commented on #5536
verified on staging (develop)
<img width="1440" alt="Screenshot 2021-06-01 at 7 35 33 PM" src="https://user-images.githubusercontent.com/58783823/120337047-97497980-c310-11eb-94a9-6aabba2a6dd9.png">
<img width="1440" alt="Screenshot 2021-06-01 at 7 35 37 PM" src="https://user-images.githubusercontent.com/58783823/120337078-9f091e00-c310-11eb-8f40-46044853b4af.png">

[2021-06-01 14:08] SathyaJayabal commented on #5535
verified on staging (develop)
<img width="1440" alt="Screenshot 2021-06-01 at 7 37 43 PM" src="https://user-images.githubusercontent.com/58783823/120337361-dd9ed880-c310-11eb-90a3-2372c4a67c5b.png">

[2021-06-01 14:09] SathyaJayabal commented on #5529
verified on staging(develop)
<img width="1440" alt="Screenshot 2021-06-01 at 7 39 20 PM" src="https://user-images.githubusercontent.com/58783823/120337630-1ccd2980-c311-11eb-9f63-627fd5ffeaf1.png">

[2021-06-01 14:11] SathyaJayabal commented on #5531
verified on staging (develop)
<img width="1424" alt="Screenshot 2021-06-01 at 7 40 08 PM" src="https://user-images.githubusercontent.com/58783823/120337837-4be39b00-c311-11eb-9110-34201ceca19c.png">
<img width="1440" alt="Screenshot 2021-06-01 at 7 40 38 PM" src="https://user-images.githubusercontent.com/58783823/120337850-4ede8b80-c311-11eb-8c4e-13d1615e4236.png">

[2021-06-01 14:13] SathyaJayabal commented on #5556
verified on staging
<img width="1440" alt="Screenshot 2021-06-01 at 7 43 03 PM" src="https://user-images.githubusercontent.com/58783823/120338186-9e24bc00-c311-11eb-8d6d-2c82e7872ec0.png">

[2021-06-01 14:15] SathyaJayabal commented on #5557
smoke tests run for develop branch on staging
<img width="1169" alt="Screenshot 2021-06-01 at 7 44 50 PM" src="https://user-images.githubusercontent.com/58783823/120338450-df1cd080-c311-11eb-9f8b-c567e10f6740.png">

[2021-06-01 15:02] Oanh-and-only-Oanh commented on #5528
@lakshmiathreya profile misalignment on topgear app side. so we can ignore.
@luizrrodrigues, we can go ahead and deploy

[2021-06-01 15:54] lakshmiathreya commented on #5528
Redirect happening as expected on Staging.
<img width="1680" alt="Screenshot 2021-06-01 at 9 22 38 PM" src="https://user-images.githubusercontent.com/51733042/120353987-ba2f5a00-c31f-11eb-9cf2-bf25e7d6eaea.png">

[2021-06-01 16:23] SathyaJayabal commented on #5539
verified on prod
https://user-images.githubusercontent.com/58783823/120358014-aede2d80-c323-11eb-8ec7-91ce625a2ea9.mov

[2021-06-01 16:23] #5539 closed

[2021-06-01 16:24] SathyaJayabal commented on #5540
verified on prod
<img width="1440" alt="Screenshot 2021-06-01 at 9 53 29 PM" src="https://user-images.githubusercontent.com/58783823/120358204-e056f900-c323-11eb-96ac-f4fd281c28e9.png">

[2021-06-01 16:24] #5540 closed

[2021-06-01 16:25] SathyaJayabal commented on #5536
verified on prod
<img width="1440" alt="Screenshot 2021-06-01 at 9 54 41 PM" src="https://user-images.githubusercontent.com/58783823/120358357-07152f80-c324-11eb-8858-b26e75a3559e.png">
<img width="1440" alt="Screenshot 2021-06-01 at 9 54 45 PM" src="https://user-images.githubusercontent.com/58783823/120358408-11cfc480-c324-11eb-8f7b-aa700cfe4c50.png">

[2021-06-01 16:25] #5536 closed

[2021-06-01 16:26] lakshmiathreya commented on #5528
Redirect verified in Prod:

https://user-images.githubusercontent.com/51733042/120358510-2b710c00-c324-11eb-9535-0cbd684ad7f2.mov

[2021-06-01 16:26] SathyaJayabal commented on #5535
verified on prod
<img width="1440" alt="Screenshot 2021-06-01 at 9 55 53 PM" src="https://user-images.githubusercontent.com/58783823/120358512-2b710c00-c324-11eb-8c4f-8afb7c233d62.png">

[2021-06-01 16:26] #5535 closed

[2021-06-01 16:28] SathyaJayabal commented on #5529
verified on prod
<img width="1440" alt="Screenshot 2021-06-01 at 9 58 05 PM" src="https://user-images.githubusercontent.com/58783823/120358750-7c810000-c324-11eb-99b8-ab90ccc4ab90.png">

[2021-06-01 16:29] SathyaJayabal commented on #5416
fixed
https://github.com/topcoder-platform/community-app/issues/5529

[2021-06-01 16:29] #5416 closed

[2021-06-01 16:29] luizrrodrigues commented on #5416
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-06-01 16:30] #5529 closed

[2021-06-01 16:31] SathyaJayabal commented on #5531
verified on prod
<img width="1438" alt="Screenshot 2021-06-01 at 10 00 43 PM" src="https://user-images.githubusercontent.com/58783823/120359106-ef8a7680-c324-11eb-95c9-27288050fd97.png">
<img width="1440" alt="Screenshot 2021-06-01 at 10 01 08 PM" src="https://user-images.githubusercontent.com/58783823/120359136-f5805780-c324-11eb-9d17-61de36d9d30c.png">

[2021-06-01 16:31] #5531 closed

[2021-06-01 16:33] SathyaJayabal commented on #5556
verified on prod
<img width="1440" alt="Screenshot 2021-06-01 at 10 02 29 PM" src="https://user-images.githubusercontent.com/58783823/120359248-1648ad00-c325-11eb-92b2-5e3623ce866e.png">

[2021-06-01 16:33] #5556 closed

[2021-06-01 16:33] SathyaJayabal commented on #5557
smoke tests run on prod
<img width="1173" alt="Screenshot 2021-06-01 at 10 03 18 PM" src="https://user-images.githubusercontent.com/58783823/120359390-3b3d2000-c325-11eb-93e0-bc7bee4f4b6e.png">

[2021-06-01 16:33] #5557 closed

[2021-06-01 16:34] lakshmiathreya commented on #5528
Verified redirect on Mobile device as well.
![IMG_8707](https://user-images.githubusercontent.com/51733042/120359436-4a23d280-c325-11eb-8738-52fc91de0bbd.PNG)

[2021-06-01 16:59] SathyaJayabal opened #5562 "Registrants count is incorrect after users unregisters from a challenge"
1. register to a challenge
2. registrants count is updated and user handle listed under registrants tab
3. unregister form the challenge

expected: Registrants count updated accordingly and user handle removed form registrants tab
actual: handle is removed from the registrants tab, but registrants count not updated

example:
https://www.topcoder.com/challenges/4c90cb40-0b80-4c79-8b2c-14438fb2920e

[2021-06-01 17:12] #5537 closed

[2021-06-02 02:50] dedywahyudi commented on #5562
@SathyaJayabal @Oanh-and-only-Oanh From screenshots problem only for F2F Challenge type?

[2021-06-02 04:09] dedywahyudi commented on #5562
@SathyaJayabal @Oanh-and-only-Oanh

For my testing on live challenge, it look the count and list of users are consistent.
Any ideas how to reproduce the problem?

![Screen Shot 2021-06-02 at 10 41 47](https://user-images.githubusercontent.com/4476442/120422604-ce606f00-c392-11eb-8183-8a7d16ebe8c4.png)
![Screen Shot 2021-06-02 at 10 42 03](https://user-images.githubusercontent.com/4476442/120422608

[2021-06-02 04:45] SathyaJayabal commented on #5562
@dedywahyudi ,can u try for these challenges
https://www.topcoder.com/challenges/4c90cb40-0b80-4c79-8b2c-14438fb2920e
https://www.topcoder.com/challenges/ecc7267d-76eb-4aa7-be2a-248e0d734b44?tab=registrants

[2021-06-02 04:54] dedywahyudi commented on #5562
@SathyaJayabal both not exists to me:

![Screen Shot 2021-06-02 at 11 53 30](https://user-images.githubusercontent.com/4476442/120425879-387c1280-c399-11eb-842b-386d62a01083.png)

[2021-06-02 04:56] SathyaJayabal commented on #5562
@dedywahyudi , ok they are topgear challenges, but i dont see the issue with all topgear challenges. let me try and get another example

[2021-06-02 05:01] SathyaJayabal commented on #5562
@dedywahyudi try this one pls
https://www.topcoder.com/challenges/7c0f4623-7312-42f7-843b-de499c2207e9?tab=registrants

[2021-06-02 05:03] SathyaJayabal commented on #5562
@dedywahyudi ,The issue is not particular to any challenge track, type or sub community. But it does happen only for some challenges, and I am not able to identify what makes these challenges different from the others.

[2021-06-02 05:16] dedywahyudi commented on #5562
@SathyaJayabal

Ok, i see the problem now at https://www.topcoder.com/challenges/7c0f4623-7312-42f7-843b-de499c2207e9?tab=registrants

Initial count: 31
After Register: 32
After Unregister: 32

![Screen Shot 2021-06-02 at 12 12 55](https://user-images.githubusercontent.com/4476442/120427525-40898180-c39c-11eb-8f2a-efd1beab18fd.png)
![Screen Shot 2021-06-02 at 12 13 22](https://user-images.githubus

[2021-06-02 05:22] SathyaJayabal commented on #5562
@dedywahyudi , the BE returns this incorrect data.

[2021-06-02 05:23] dedywahyudi commented on #5562
Missing screenshot?

[2021-06-02 05:43] RiteshTC opened #5563 "A null review record causes the Submission tab to crash."
**Describe the bug**

<img width="846" alt="Review_Score" src="https://user-images.githubusercontent.com/5771673/120429645-6199a480-c393-11eb-9a22-2b13b10c3441.png">

<img width="592" alt="Problem_At_Line" src="https://user-images.githubusercontent.com/5771673/120429657-678f8580-c393-11eb-85b7-c121e87f3e56.png">

<img width="492" alt="Review_Array" src="https://user-images.githubusercontent.com/57

[2021-06-02 05:48] SathyaJayabal commented on #5562
@dedywahyudi , I cant reproduce the issue now for the above challenges. It is working fine now. Shall we close the issue?
<img width="1440" alt="Screenshot 2021-06-02 at 11 17 47 AM" src="https://user-images.githubusercontent.com/58783823/120430165-3499c180-c394-11eb-8ab7-b98ed09774c4.png">
<img width="1440" alt="Screenshot 2021-06-02 at 11 17 54 AM" src="https://user-images.githubusercontent.com/

[2021-06-02 06:02] dedywahyudi commented on #5562
@SathyaJayabal @Oanh-and-only-Oanh

Ok, sure i'm good with close this one. The problem is intermittent.

[2021-06-02 06:10] SathyaJayabal commented on #5562
@Oanh-and-only-Oanh , issues was noticed yesterday for few challenges. But they seem to be working fine now. Closing this for now. Will reopen in case I see it again.

Thanks @dedywahyudi

[2021-06-02 06:10] #5562 closed

[2021-06-03 08:32] dedywahyudi commented on #5553
@Oanh-and-only-Oanh @SathyaJayabal
F2F is live, i'll share once we received submission.

[2021-06-03 10:03] nursoltan-s commented on #5553
Can't update skills with id 604 (EdgeNet) and 605 (Angular 11).

PATCH /v3/members/:userHandle/skills

<img width="586" alt="Screen Shot 2021-06-03 at 17 09 55" src="https://user-images.githubusercontent.com/7783676/120626539-55960b80-c495-11eb-8fa5-8c67594d2036.png">

But, these two skills are appearing on Get tags.
https://api.topcoder.com/v3/tags/?filter=domain%3DSKILLS%26status%3DAPPROVED&limi

[2021-06-03 13:31] dedywahyudi commented on #5553
@Oanh-and-only-Oanh @luizrrodrigues
Possible to check backend api?

[2021-06-04 09:44] kkartunov opened #5564 "Create TCO22 subcommunity"
1. Create it and link to Contentful similar to tco21
2. Setup tco22.topcoder.com domain and configure it

[2021-06-04 16:06] Oanh-and-only-Oanh commented on #5553
@harshitmehta15 FYI

[2021-06-04 16:32] luizrrodrigues opened #5565 "Improve TopGear redirect"

[2021-06-05 06:28] azhar029 opened #5569 "Profile not updated the details with the challenge i won."
**Describe the bug**
I won the 2nd price for [this](https://www.topcoder.com/challenges/7d902a67-b3b8-4a35-81a9-784304772039) challenge but the profile is not updated yet with the challenge information.

Topcoder username : Azhar294

**To Reproduce**
Steps to reproduce the behavior:
1. Goto the user profile for Azhar294
4. See the profile is not updated with [challenge](https://www.topcoder.com/ch

[2021-06-05 09:17] lakshmiathreya commented on #5565
@luizrrodrigues Please provide details reg the change ...

[2021-06-05 10:10] luizrrodrigues commented on #5565
@lakshmiathreya Deployed a fix to reduce redirect time from old topgear home page to new topgear-app.

[2021-06-06 04:36] azhar029 commented on #5569
Now i can see the code section in my profile. But it shows 0 wins instead of ratings. Is that the expected behaviour?

[2021-06-07 09:27] SathyaJayabal commented on #5549
@luizrrodrigues , does this fix TC_006  too?

[2021-06-07 13:15] kkartunov commented on #5541
Set the max tags count to 5.

[2021-06-07 13:41] kkartunov opened #5570 "Click on 'R Studio' will display 'R' and 'Studio' tags"
![image](https://user-images.githubusercontent.com/42398485/74030799-8b94af80-4975-11ea-9446-facc6b468ec2.png)
![image](https://user-images.githubusercontent.com/42398485/74030819-95b6ae00-4975-11ea-810f-d29172016b01.png)

**Target URL:** https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/tracks

[2021-06-07 13:54] kkartunov opened #5571 "Thrive search page - Datepicker fixes"
Replace the date picker with the new componet as used by track results page filter
![image](https://user-images.githubusercontent.com/5585002/121028794-c6e4ff80-c7b0-11eb-9385-b6cbd50c418c.png)
For instacene: https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming

![image](https://user-images.githubusercontent.com/5585002/122880884-3297a280-d343-11eb-8192-77542e0c68ee.png)

Should

[2021-06-07 20:58] mahestro opened #5572 "Fix logo and menu placement inconsistency across the site"
**Describe the bug**
Inconsistent logo and hamburger menu placement in menu bars for the mobile experience for home page and other pages (/community).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.topcoder.com on mobile
2. Go to www.topcoder.com/community
3. Compare the logo and menu placements

**Expected behavior**
Placement should be the same for a cohesive experience across t

[2021-06-08 03:07] dedywahyudi commented on #5553
Any updates here? Our F2F submitter waiting the fixes on the backend.

[2021-06-08 03:46] Oanh-and-only-Oanh commented on #5553
checking

[2021-06-08 04:48] SathyaJayabal commented on #5543
verified on beta
<img width="1440" alt="Screenshot 2021-06-08 at 10 13 12 AM" src="https://user-images.githubusercontent.com/58783823/121124201-29d2a700-c842-11eb-979d-52b8fd04d6b3.png">
<img width="1440" alt="Screenshot 2021-06-08 at 10 13 14 AM" src="https://user-images.githubusercontent.com/58783823/121124223-322ae200-c842-11eb-8a50-e1601d8367e4.png">

[2021-06-08 04:51] SathyaJayabal commented on #5542
verified on beta
<img width="1440" alt="Screenshot 2021-06-08 at 10 19 20 AM" src="https://user-images.githubusercontent.com/58783823/121124748-0c520d00-c843-11eb-89ad-0ec80987f7b0.png">

[2021-06-08 05:41] urwithat commented on #5553
@dedywahyudi & @Oanh-and-only-Oanh - This should be working now.
FYI - when any new tag/skill is added to the v3 tags API a restart of the v3 members API is required. The v3 tags data is cached by member v3 API at startup.

[2021-06-08 05:43] dedywahyudi commented on #5553
@urwithat Awesome, thanks.
I'll check with submitters

[2021-06-08 05:54] SathyaJayabal commented on #5541
verified on beta:
limit of 5 tags
limit of 40 characters per tag

https://user-images.githubusercontent.com/58783823/121130341-e7ae6300-c84b-11eb-97a8-3e87c0ee3794.mov

[2021-06-08 05:58] SathyaJayabal commented on #5538
verified on beta. limit of 40 characters per tag
<img width="1440" alt="Screenshot 2021-06-08 at 11 27 02 AM" src="https://user-images.githubusercontent.com/58783823/121130844-98b4fd80-c84c-11eb-80d5-446a5b41f732.png">

[2021-06-08 06:01] SathyaJayabal commented on #5534
verified on beta
<img width="1440" alt="Screenshot 2021-06-08 at 11 31 10 AM" src="https://user-images.githubusercontent.com/58783823/121131213-15e07280-c84d-11eb-93e7-4d31b9650cbf.png">

[2021-06-08 10:26] luizrrodrigues commented on #5549
@SathyaJayabal Yep.

[2021-06-08 10:31] SathyaJayabal commented on #5549
@luizrrodrigues , I still see TC_020 failed on the latest prod smoke test.
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/3002/workflows/404d5278-6ebf-4b4c-ad23-89365924e6e1/jobs/12754

[2021-06-08 12:29] SathyaJayabal commented on #5534
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-06-08 at 5 58 02 PM" src="https://user-images.githubusercontent.com/58783823/121184912-2ad7f880-c883-11eb-9c6a-0e2c87bf5329.png">

[2021-06-08 12:30] SathyaJayabal commented on #5541
verified on staging:
limit of 5 tags
limit of 40 characters per tag

[2021-06-08 12:33] SathyaJayabal commented on #5543
verified on staging (develop)
<img width="1440" alt="Screenshot 2021-06-08 at 6 02 29 PM" src="https://user-images.githubusercontent.com/58783823/121185481-bf425b00-c883-11eb-8c05-a3972cf60c5e.png">
<img width="1440" alt="Screenshot 2021-06-08 at 6 02 32 PM" src="https://user-images.githubusercontent.com/58783823/121185547-cb2e1d00-c883-11eb-9fc8-c76edb2f79cb.png">

[2021-06-08 12:35] SathyaJayabal commented on #5542
verified on staging(develop)
<img width="1440" alt="Screenshot 2021-06-08 at 6 03 36 PM" src="https://user-images.githubusercontent.com/58783823/121185652-e9941880-c883-11eb-9123-2e4cce614dfe.png">

[2021-06-08 12:36] SathyaJayabal commented on #5538
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-06-08 at 6 05 10 PM" src="https://user-images.githubusercontent.com/58783823/121185884-23fdb580-c884-11eb-8f6e-446b7be1a4c2.png">

[2021-06-08 14:06] SathyaJayabal commented on #5534
verified on prod
<img width="1440" alt="Screenshot 2021-06-08 at 7 35 27 PM" src="https://user-images.githubusercontent.com/58783823/121199664-be63f600-c890-11eb-8b24-4675f45d7601.png">

[2021-06-08 14:10] #5534 closed

[2021-06-08 14:17] SathyaJayabal commented on #5541
verified on prod:
limit of 5 tags
limit of 40 characters per tag

https://user-images.githubusercontent.com/58783823/121201348-15b69600-c892-11eb-8b87-f66f4a1a48b5.mov

[2021-06-08 14:17] #5541 closed

[2021-06-08 14:21] SathyaJayabal commented on #5543
verified on prod
<img width="1440" alt="Screenshot 2021-06-08 at 7 49 53 PM" src="https://user-images.githubusercontent.com/58783823/121202223-bf962280-c892-11eb-88b3-7aea0b4f0298.png">
<img width="1440" alt="Screenshot 2021-06-08 at 7 49 54 PM" src="https://user-images.githubusercontent.com/58783823/121202272-cb81e480-c892-11eb-9bf0-e4bacde14fde.png">

[2021-06-08 14:21] #5543 closed

[2021-06-08 14:22] SathyaJayabal commented on #5542
verified on prod
<img width="1440" alt="Screenshot 2021-06-08 at 7 51 36 PM" src="https://user-images.githubusercontent.com/58783823/121202514-f9ffbf80-c892-11eb-89ff-a13009c97db6.png">

[2021-06-08 14:22] #5542 closed

[2021-06-08 14:24] SathyaJayabal commented on #5538
verified on prod
<img width="1440" alt="Screenshot 2021-06-08 at 7 53 40 PM" src="https://user-images.githubusercontent.com/58783823/121202860-42b77880-c893-11eb-8aaa-478c80f2f712.png">

[2021-06-08 14:24] #5538 closed

[2021-06-09 13:14] lakshmiathreya commented on #5565
@Oanh-and-only-Oanh Please let us know if we can close this ...

[2021-06-09 16:07] Oanh-and-only-Oanh commented on #5565
this has been resolved. You can go ahead and close. Thanks

On Wed, Jun 9, 2021 at 6:14 AM lakshmiathreya ***@***.***>
wrote:

[2021-06-10 04:53] dedywahyudi commented on #5553
@Oanh-and-only-Oanh @SathyaJayabal @luizrrodrigues
Please check this PR: https://github.com/topcoder-platform/community-app/pull/5575
It look EdgeNet Skill only exists in Prod backend api.

[2021-06-10 05:38] #5565 closed

[2021-06-10 05:45] lakshmiathreya commented on #5549
@SathyaJayabal @luizrrodrigues - shall we move this out of 1.9.6 milestone so we can close the milestone?

[2021-06-10 19:40] luizrrodrigues opened #5576 "TopGear - Fix login redirect"
TopGear login redirect missing `utm_source=wipro`

[2021-06-10 19:41] luizrrodrigues commented on #5576
@SathyaJayabal @sachin-maheshwari

Deployed to Stag and Dev env

![image](https://user-images.githubusercontent.com/7029641/121586988-b16b1200-ca0a-11eb-821e-f4801467d2a2.png)

[2021-06-11 04:40] SathyaJayabal commented on #5576
@luizrrodrigues , verified on staging and dev
<img width="1440" alt="Screenshot 2021-06-11 at 10 03 29 AM" src="https://user-images.githubusercontent.com/58783823/121631682-2d159f00-ca9d-11eb-8f23-3c6575b32536.png">
<img width="1440" alt="Screenshot 2021-06-11 at 10 04 28 AM" src="https://user-images.githubusercontent.com/58783823/121631688-3272e980-ca9d-11eb-9aad-d77dc73635a9.png">

[2021-06-11 06:51] #5569 closed

[2021-06-11 15:26] luizrrodrigues opened #5577 "Automated Smoke Testing - Fix Test Cases 008, 012 and 020"
![image](https://user-images.githubusercontent.com/7029641/121710778-4b38ca80-cab0-11eb-8687-18ca7151deb2.png)

[2021-06-11 15:58] lakshmiathreya opened #5580 "Keyword Search in Title not working"
-- Keyword Search doesnt return results if the Keyword is in the Title and not in the Description of the Challenge:
-- The Sample challenge used for Automation has a unique keyword added https://www.topcoder.com/challenges/4bd5cf15-41ee-4932-927d-fda5731ec023
<img width="1680" alt="Screenshot 2021-06-11 at 9 25 55 PM" src="https://user-images.githubusercontent.com/51733042/121714798-d1c6c980-cafb-

[2021-06-11 15:58] lakshmiathreya commented on #5580
cc @ThomasKranitsas @SathyaJayabal

[2021-06-11 16:28] luizrrodrigues commented on #5553
Thanks @dedywahyudi

@SathyaJayabal Deployed to QA and BETA env.

[2021-06-11 16:31] luizrrodrigues commented on #5553
@SathyaJayabal Hold, I'll deploy this one to Stag env, BETA is busy now. (reverting Kiril branch on BETA)

[2021-06-11 16:57] lakshmiathreya commented on #5576
Verified on Prod:
<img width="1680" alt="Screenshot 2021-06-11 at 10 25 40 PM" src="https://user-images.githubusercontent.com/51733042/121723354-0a6aa100-cb04-11eb-93e8-6d11f5bc989c.png">

[2021-06-14 12:57] SathyaJayabal commented on #5576
verified on prod
<img width="1440" alt="Screenshot 2021-06-14 at 6 26 14 PM" src="https://user-images.githubusercontent.com/58783823/121895633-1346b700-cd3e-11eb-90e5-339b51ddc622.png">

[2021-06-14 12:57] #5576 closed

[2021-06-14 13:32] kkartunov commented on #5564
@SathyaJayabal QA URL is: https://beta-community-app.topcoder.com/__community__/tco22

[2021-06-14 14:11] SathyaJayabal commented on #5577
008, 012 and 020 passed smoke test
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/3028/workflows/1b1ba5c7-47a6-4885-9136-e1df2739cad6/jobs/12799

[2021-06-14 14:12] #5577 closed

[2021-06-15 03:58] SathyaJayabal commented on #5553
@luizrrodrigues @dedywahyudi , able to add edgenet skill now. But new icon is not seen yet.
<img width="1440" alt="Screenshot 2021-06-15 at 9 27 53 AM" src="https://user-images.githubusercontent.com/58783823/121990793-036db800-cdbc-11eb-8f53-8a71337c4ecc.png">

[2021-06-15 05:04] luizrrodrigues commented on #5553
@SathyaJayabal Sorry, this not deployed to Stag yet, deploying now.
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/3030/workflows/7685257f-82fd-4df0-9700-9d8620635ba8

[2021-06-15 05:38] sandhiyakavi commented on #5564
Verified on Beta Env. Everything is fine.

@kkartunov The Leaderboard contents for TCO22 is having the old TCO21 contents.is it ok for now?

Also under Overview menu --> Prizes topic --> Link for button 'View Prize Payment terms' has tco21 link (https://tco21.topcoder.com/competition-rules).
![image](https://user-images.githubusercontent.com/55895538/121998703-409b6f80-cde7-11eb-9533-cf698cbe7260.

[2021-06-15 05:45] luizrrodrigues commented on #5553
@SathyaJayabal Done, deployed in Stag env.

[2021-06-15 05:49] SathyaJayabal commented on #5553
@luizrrodrigues , verified on staging
<img width="939" alt="Screenshot 2021-06-15 at 11 19 01 AM" src="https://user-images.githubusercontent.com/58783823/121999888-92360100-cdcb-11eb-8127-eea7d4b3c66c.png">

[2021-06-15 06:08] kkartunov commented on #5564
@sandhiyakavi yes it is fine. Team is working on actual content which we will update later via Contentful when the site is connected to it.

[2021-06-19 07:33] ketzjs09 opened #5582 "Urgent need for a permanent fix for the issue related to large submission download"
In case of large submissions (larger than 300 MB or so), the OR throws an error when one tries to download such submissions. The only way to fix it is to contact support. This adds a few hours unnecessarily to the timeline - around 5-6 hours for almost every challenge.

Kindly look into this issue and fix it, as this has been going on for several months or years now.

[2021-06-21 11:49] sushilshinde opened #5590 "Part of my Gigs Impl - Add Submit re-direction from community app"
When user applies for the gigs from community-app, they should be directed to earns > my gigs page

NOTE : This may break Gigs > Apply flow as they can't apply from my gigs once they are here @Oanh-and-only-Oanh Glenn

[2021-06-22 09:50] SathyaJayabal commented on #5571
@kkartunov , i dont see any difference between prod and beta, both follow the m/d/y format with a calendar icon.

[2021-06-22 09:56] SathyaJayabal commented on #5570
verified on beta
<img width="1440" alt="Screenshot 2021-06-22 at 3 25 25 PM" src="https://user-images.githubusercontent.com/58783823/122904598-1eb56600-d36e-11eb-96ee-00bda7ecbd0b.png">

[2021-06-22 10:00] kkartunov commented on #5571
@SathyaJayabal we are updating the datepickers on thrive search page http://beta-community-app.topcoder.com/thrive/search?title=test

[2021-06-22 13:39] luizrrodrigues opened #5583 "Automated Smoke Testing - Challenge Details Test Cases"
Enable/Fix test cases to Challenge Details page.

[2021-06-22 16:19] lakshmiathreya commented on #5528
Reopening based on discussion with Topgear team. Additional feedback: to prevent landing on Community Topgear

[2021-06-22 16:22] lakshmiathreya commented on #5528
Uploading Topgear redirect.mov…

[2021-06-23 03:46] SathyaJayabal commented on #5571
verified
<img width="262" alt="Screenshot 2021-06-23 at 9 15 12 AM" src="https://user-images.githubusercontent.com/58783823/123032481-a305f880-d403-11eb-8b54-991a1706539a.png">

[2021-06-23 04:29] lakshmiathreya commented on #4137
@Oanh-and-only-Oanh I am reopening this - it appears like Code was fixed but backend data was not available. Will leave this open until we see Stats data fully. cc @urwithat @SathyaJayabal

[2021-06-23 12:59] SathyaJayabal commented on #5571
verified on staging (develop branch)
<img width="272" alt="Screenshot 2021-06-23 at 6 28 31 PM" src="https://user-images.githubusercontent.com/58783823/123100602-e3d82e80-d450-11eb-89c1-fecc1a065c57.png">

[2021-06-23 13:00] SathyaJayabal commented on #5570
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-06-23 at 6 30 03 PM" src="https://user-images.githubusercontent.com/58783823/123100810-1124dc80-d451-11eb-9170-9e02562de171.png">

[2021-06-23 13:01] SathyaJayabal commented on #5583
verified on staging
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/3057/workflows/e21af4b9-5870-4ba7-960b-75d7111ebe38/jobs/12842

[2021-06-23 13:02] SathyaJayabal commented on #5553
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-06-23 at 6 32 11 PM" src="https://user-images.githubusercontent.com/58783823/123101174-64972a80-d451-11eb-8a8c-4e7230164e37.png">

[2021-06-23 13:06] SathyaJayabal commented on #5564
verified on staging
<img width="1440" alt="Screenshot 2021-06-23 at 6 35 32 PM" src="https://user-images.githubusercontent.com/58783823/123101590-d96a6480-d451-11eb-890b-b0a71a3cb05c.png">

[2021-06-23 14:48] SathyaJayabal commented on #5571
verified on prod
<img width="255" alt="Screenshot 2021-06-23 at 8 16 36 PM" src="https://user-images.githubusercontent.com/58783823/123118221-1178a400-d460-11eb-9b38-8049f1171547.png">

[2021-06-23 14:49] SathyaJayabal commented on #5570
verified on prod
<img width="1440" alt="Screenshot 2021-06-23 at 8 18 57 PM" src="https://user-images.githubusercontent.com/58783823/123118443-44bb3300-d460-11eb-82f8-eade6dc3b032.png">

[2021-06-23 14:49] #5570 closed

[2021-06-23 14:49] #5571 closed

[2021-06-23 14:51] SathyaJayabal commented on #5553
verified on prod
<img width="1440" alt="Screenshot 2021-06-23 at 8 20 20 PM" src="https://user-images.githubusercontent.com/58783823/123118720-80ee9380-d460-11eb-999c-c0015d478711.png">

[2021-06-23 14:51] #5553 closed

[2021-06-23 15:08] SathyaJayabal commented on #5583
verified on prod
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/3059/workflows/4b073b8f-7afc-46ab-adf0-03b3cca7369b/jobs/12845

[2021-06-23 15:08] #5583 closed

[2021-06-23 15:17] SathyaJayabal commented on #5564
verified on prod
<img width="1440" alt="Screenshot 2021-06-23 at 8 46 53 PM" src="https://user-images.githubusercontent.com/58783823/123123054-2a835400-d464-11eb-9d03-308cbfe3f413.png">

content updates and domain setup pending

[2021-06-26 08:42] sushilshinde commented on #5501
Base and PR Branch ` fix-country-setting-page`

I made changes in https://github.com/topcoder-platform/community-app/commit/09b934d85a714bcef96a63a36522c1b547dbc93b but that dint work

order of display should be `newBasicInfo.homeCountryCode || newBasicInfo.competitionCountryCode`

[2021-06-26 08:44] luizrrodrigues commented on #5501
Challenge https://www.topcoder.com/challenges/60c23476-13a7-44ac-b448-e2c471c0d736 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-06-26 11:35] LieutenantRoger commented on #5590
For Option 1, do we need to show how many gigs the user has applied ?  This looks like another API required.

[2021-06-26 14:31] luizrrodrigues commented on #5501
Challenge https://www.topcoder.com/challenges/60c23476-13a7-44ac-b448-e2c471c0d736 has been assigned to gets0ul.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-06-26 14:59] LieutenantRoger commented on #5590
@SathyaJayabal @sushilshinde @Oanh-and-only-Oanh

[2021-06-26 15:25] SathyaJayabal commented on #5590
@Oanh-and-only-Oanh @sushilshinde , also do we not display option 1 when the user has not applied to any gigs yet?
<img width="559" alt="Screenshot 2021-06-26 at 8 55 00 PM" src="https://user-images.githubusercontent.com/58783823/123517833-cf9a6880-d6c0-11eb-868f-44dbb8367bc7.png">

[2021-06-26 15:49] SathyaJayabal commented on #5590
@LieutenantRoger @Oanh-and-only-Oanh @sushilshinde ,should we only display this for logged in users?

[2021-06-26 15:52] SathyaJayabal commented on #5590
Option 2 is verified on staging
<img width="1440" alt="Screenshot 2021-06-26 at 9 21 44 PM" src="https://user-images.githubusercontent.com/58783823/123518668-9663f780-d6c4-11eb-838c-fb3244693631.png">

[2021-06-27 13:13] LieutenantRoger commented on #5590
We integrated the API in the earn-app, so this feature has been implemented.

[2021-06-28 04:33] lakshmiathreya commented on #5501
@urwithat - this is also related to https://github.com/topcoder-platform/member-api/issues/24 right?

[2021-06-28 07:15] SathyaJayabal commented on #5590
@sushilshinde @LieutenantRoger , verified option1

User with gigs
<img width="1440" alt="Screenshot 2021-06-28 at 12 41 05 PM" src="https://user-images.githubusercontent.com/58783823/123595438-89ebb600-d80e-11eb-9fbb-d5dc16157f72.png">

Not logged in user
<img width="1440" alt="Screenshot 2021-06-28 at 12 42 04 PM" src="https://user-images.githubusercontent.com/58783823/123595471-91ab5a80-d80e-11e

[2021-06-28 07:44] SathyaJayabal commented on #5564
domain setup complete:
https://tco22.topcoder.com/
<img width="1440" alt="Screenshot 2021-06-28 at 1 13 04 PM" src="https://user-images.githubusercontent.com/58783823/123598874-9d991b80-d812-11eb-9691-27f7d847cbaa.png">

[2021-06-28 07:44] #5564 closed

[2021-06-28 07:51] SathyaJayabal opened #5594 "New Proxy API for My Gigs Update User Profile to interact with recruit CRM."
two new endpoints to get and update the user's resume, availability and phone number in recruit CRM
API Path:  Get /api/recruit/profile
API Path:  Post /api/recruit/profile

[2021-06-28 07:53] kkartunov opened #5595 "New theme for Contentful Tabs"
Desktop: https://marvelapp.com/prototype/ccah4h1/screen/80447501
Mobile: https://marvelapp.com/prototype/666a7di/screen/80484871

[2021-06-28 07:54] kkartunov opened #5596 "New theme for TCO leaderboards"
Dekstop: https://marvelapp.com/prototype/ccah4h1/screen/80452646
Mobile: Not present, follow desktop in responsive way.

[2021-06-28 07:56] kkartunov opened #5597 "New theme for countdown component"
Desktop: https://marvelapp.com/prototype/ccah4h1/screen/80447499
Mobile: not avail, follow desktop in responsive way

[2021-06-28 07:57] kkartunov opened #5598 "New sticky anchors component"
Desktop: https://marvelapp.com/prototype/ccah4h1/screen/80447499
Mobile: not avail, follow desktop in responsive way

[2021-06-28 07:59] kkartunov opened #5599 "New Navi component for TCO22"
Desktop: https://marvelapp.com/prototype/ccah4h1/screen/80447499
Mobile: https://marvelapp.com/prototype/666a7di/screen/80484873

[2021-06-28 08:00] kkartunov opened #5600 "New "member talk cloud" component"
Desktop: https://marvelapp.com/prototype/ccah4h1/screen/80447499

[2021-06-28 12:54] samray1103 opened #5603 "I am unable to change my profile"
**Describe the bug**
when I change the profile from setting it is showing an error message and not letting me update the profile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'topcoder.com
2. Click on setting
3. Scroll down to 'My profile
4. See the error

**Expected behavior**
I should be able to update and change profile.

**Screenshots**

https://user-images.githubusercontent.com

[2021-06-28 15:52] kavinkuma6 opened #5605 "Press Room link is broken"
**Describe the bug**
The Press Room under resource section is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/'
2. Click on 'Press Room' as marked in the screenshot
3. The attached href is `http://./staging-2021demo/resources/` which is invalid

**Expected behavior**
There should be proper url for `Press Room`

**Screenshots**
<img width="1254" alt

[2021-06-29 00:06] luizrrodrigues commented on #5501
@gets0ul Feedback: https://github.com/topcoder-platform/community-app/pull/5591#pullrequestreview-694486449

[2021-06-29 03:26] urwithat commented on #5501
Yes @lakshmiathreya, it's during the same time. The issue was pending for some time.

[2021-06-29 03:53] SathyaJayabal commented on #5590
verified option 1 and 2 on prod

[2021-06-29 03:54] #5590 closed

[2021-06-29 03:55] SathyaJayabal commented on #5594
verified on prod

[2021-06-29 03:55] #5594 closed

[2021-06-29 07:16] gets0ul commented on #5501
@luizrrodrigues PR is updated

[2021-06-29 08:08] luizrrodrigues commented on #5501
@SathyaJayabal Deployed to Test and Beta env.

[2021-06-29 09:00] SathyaJayabal commented on #5501
verified on beta
<img width="1440" alt="Screenshot 2021-06-29 at 2 28 20 PM" src="https://user-images.githubusercontent.com/58783823/123769002-76ac1980-d8e6-11eb-99e2-cac7ef313077.png">

[2021-06-30 05:37] #5313 closed

[2021-06-30 06:26] SathyaJayabal commented on #5549
verified on prod
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/3121/workflows/c072fd1a-ccfb-4d25-ae20-01c37886c304/jobs/12944

[2021-06-30 06:28] #5549 closed

[2021-06-30 06:45] SathyaJayabal commented on #5501
verified on dev env (develop branch)
<img width="1440" alt="Screenshot 2021-06-30 at 12 12 11 PM" src="https://user-images.githubusercontent.com/58783823/123914153-b8979700-d99c-11eb-8901-0b52f126ccda.png">

[2021-06-30 08:49] SathyaJayabal commented on #5501
verified on prod
<img width="1440" alt="Screenshot 2021-06-30 at 2 18 17 PM" src="https://user-images.githubusercontent.com/58783823/123931433-1f717c00-d9ae-11eb-9d41-7b911a3352d6.png">

[2021-06-30 08:49] luizrrodrigues commented on #5501
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-06-30 13:47] luizrrodrigues opened #5608 "Remove TC logo pride"
tc logo pride

[2021-06-30 14:36] SathyaJayabal commented on #5608
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-06-30 at 7 47 59 PM" src="https://user-images.githubusercontent.com/58783823/123979772-a2aac600-d9de-11eb-9027-190a7f7530bf.png">

[2021-06-30 14:58] SathyaJayabal commented on #5608
verified  on prod
<img width="1440" alt="Screenshot 2021-06-30 at 8 28 16 PM" src="https://user-images.githubusercontent.com/58783823/123983779-c15e8c00-d9e1-11eb-83dd-307ee4029a76.png">

[2021-06-30 14:58] #5608 closed

[2021-06-30 15:18] ajefts commented on #5480
cc: @harshitmehta15

[2021-06-30 16:05] luizrrodrigues commented on #5495
Challenge https://www.topcoder.com/challenges/1c193cae-636e-4c69-8f7a-9527fb2c7501 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-06-30 16:05] luizrrodrigues commented on #5495
Challenge https://www.topcoder.com/challenges/1c193cae-636e-4c69-8f7a-9527fb2c7501 has been assigned to Ansary.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-07-01 04:36] sushilshinde commented on #5501
Thank you @gets0ul @luizrrodrigues

[2021-07-01 05:08] SathyaJayabal opened #5611 "Enhancement request: Run Time configuration for Logo and Announcements"
At present, when we need an update on our logo(eg: pride month logo update) or when we have an announcement (eg: outage announcement during load tests), we require a release. We should be able to make these run time configurable, so   these changes are effortless.

cc @sushilshinde @Oanh-and-only-Oanh @lakshmiathreya

[2021-07-01 06:53] lakshmiathreya commented on #5611
cc @mtwomey

[2021-07-01 19:39] #5501 closed

[2021-07-01 19:39] luizrrodrigues commented on #5501
Payment task has been updated: https://www.topcoder.com/challenges/60c23476-13a7-44ac-b448-e2c471c0d736
*Payments Complete*
Winner: gets0ul
Copilot: luizrrodrigues
Challenge `60c23476-13a7-44ac-b448-e2c471c0d736` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-07-02 05:05] SathyaJayabal opened #5612 "My Dashboard : A lot of failing api calls are seen when accessing the dashboard"
My Dashboard : A lot of failing api calls are seen when accessing the dashboard
<img width="1440" alt="Screenshot 2021-07-02 at 10 32 30 AM" src="https://user-images.githubusercontent.com/58783823/124223324-2371db00-db21-11eb-97b7-da3312752e11.png">

[2021-07-02 05:10] SathyaJayabal opened #5613 "Error: Failed to load SRMs on my dashboard"
Login and access https://www.topcoder-dev.com/my-dashboard
we get the following error
Note: This issue is only on dev
<img width="1440" alt="Screenshot 2021-07-02 at 10 38 22 AM" src="https://user-images.githubusercontent.com/58783823/124223686-d3474880-db21-11eb-842d-851b327773f1.png">

[2021-07-02 05:39] SathyaJayabal opened #5614 "Gigs listing is loading a blank page on dev Environment"
Gigs listing is loading a blank page on dev Environment
<img width="1440" alt="Screenshot 2021-07-02 at 11 08 29 AM" src="https://user-images.githubusercontent.com/58783823/124225914-d9d7bf00-db25-11eb-9f4e-e6c6973c5835.png">

[2021-07-02 05:41] SathyaJayabal opened #5615 "Thrive Track pages are not loading on dev env"
Thrive Track pages are not loading on dev env
<img width="1440" alt="Screenshot 2021-07-02 at 11 10 12 AM" src="https://user-images.githubusercontent.com/58783823/124226068-19061000-db26-11eb-8bc0-5fa363371f8f.png">

[2021-07-02 05:50] SathyaJayabal opened #5616 "Challenge Details page is not loading for not logged in users on dev"
Challenge Details page is not loading for not logged in users on dev
<img width="1440" alt="Screenshot 2021-07-02 at 11 19 36 AM" src="https://user-images.githubusercontent.com/58783823/124226917-76e72780-db27-11eb-932d-82e63983756d.png">

[2021-07-02 06:03] SathyaJayabal opened #5617 "Statistics not loading on dev env"
Statistics not loading on dev env
https://www.topcoder-dev.com/community/statistics?tracks[All-pills]=0&tracks[Design]=0&tracks[Dev]=0&tracks[General]=0&tracks[MM]=0&tracks[QA]=0&tracks[SRM]=0
<img width="1440" alt="Screenshot 2021-07-02 at 11 33 33 AM" src="https://user-images.githubusercontent.com/58783823/124228134-5ae48580-db29-11eb-932d-771b9924fb56.png">

[2021-07-02 06:53] sandhiyakavi opened #5618 "Not getting registered for the challenge mail"
Description:

In Dev Env, we are not getting registered for the challenge mail once registered for a challenge. But the user is getting added to the Registrants list under Registrants tab.

![image](https://user-images.githubusercontent.com/55895538/124233209-9133fc00-db4d-11eb-961e-88369adb27e2.png)

[2021-07-03 13:27] kkartunov commented on #5597
canceled

[2021-07-03 13:27] #5597 closed

[2021-07-03 13:29] kkartunov commented on #5595
Here https://github.com/topcoder-platform/community-app/tree/new-tabs-theme

[2021-07-05 09:45] SathyaJayabal commented on #5595
verified
<img width="1440" alt="Screenshot 2021-07-05 at 3 14 34 PM" src="https://user-images.githubusercontent.com/58783823/124452233-d3567b00-dda3-11eb-8fbc-e1e185a63274.png">

![mobile](https://user-images.githubusercontent.com/58783823/124452150-bf127e00-dda3-11eb-9802-08045c04ddf0.jpeg)

[2021-07-05 21:28] luizrrodrigues opened #5619 "Automated Smoke Testing - Profile Settings"
- TC_001
- TC_002
- TC_003
- TC_004
- TC_005
- TC_006
- TC_007

Test Cases:
https://docs.google.com/spreadsheets/d/1qFJgu1u0SXKAHKQEUlpKgttQ5rueFpQ5nYqiLM1lMSA/edit#gid=1205378588

Currently results:
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/3146/workflows/afd5e8a8-719a-4ff8-8c4d-4c212e7c9c30/jobs/12979/parallel-runs/0/steps/0-107

[2021-07-06 00:07] luizrrodrigues opened #5620 "[$30] Automated Smoke Testing - Login TC_002 and TC_003"
- TC_002
- TC_003

Currently Results:
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/3148/workflows/e009f026-53bc-42e3-8cbf-3d8ee719995a/jobs/12982/parallel-runs/0/steps/0-107

Branch: **ast-login-fix**
https://github.com/topcoder-platform/community-app/tree/ast-login-fix

[2021-07-06 00:07] luizrrodrigues commented on #5620
Challenge https://www.topcoder.com/challenges/61d31068-61a9-457b-a6d5-6abe68068347 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-07-06 00:07] luizrrodrigues commented on #5620
Challenge https://www.topcoder.com/challenges/61d31068-61a9-457b-a6d5-6abe68068347 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-07-06 01:20] luizrrodrigues commented on #5619
Challenge https://www.topcoder.com/challenges/39eeb050-de12-42f4-ae9a-a3163909b2d6 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-07-06 01:20] luizrrodrigues commented on #5619
Challenge https://www.topcoder.com/challenges/39eeb050-de12-42f4-ae9a-a3163909b2d6 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-07-06 10:26] nursoltan-s commented on #5620
PR: https://github.com/topcoder-platform/community-app/pull/5622

[2021-07-06 10:26] nursoltan-s commented on #5620
@luizrrodrigues please check this pull request

[2021-07-06 13:51] luizrrodrigues opened #5623 "Automated Smoke Testing - Member Profile TC_004 and TC_005"
- TC_001 ✔️
- TC_002 ✔️
- TC_003 ✔️
- TC_004 ❌
- TC_005 ❌
- TC_006 ✔️
- TC_007 ✔️

**Currently Results** (7 specs, 2 failures):
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/3150/workflows/a6b36c59-51d1-4b23-85e1-9bb30b0deaeb/jobs/12985/parallel-runs/0/steps/0-107

[2021-07-06 14:00] luizrrodrigues commented on #5623
Fixed:

https://app.circleci.com/pipelines/github/topcoder-platform/community-app/3150/workflows/e9b14cb4-8c8b-4e16-b51f-7a347225484f/jobs/13004/parallel-runs/0/steps/0-107

[2021-07-06 15:17] SathyaJayabal commented on #5620
fixed
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/3166/workflows/1dfb847b-380e-406d-ab2f-4dcbc7de88a4/jobs/13014

[2021-07-06 15:17] SathyaJayabal commented on #5623
fixed
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/3166/workflows/1dfb847b-380e-406d-ab2f-4dcbc7de88a4/jobs/13014

[2021-07-06 15:19] SathyaJayabal commented on #5595
verified on staging
<img width="1440" alt="Screenshot 2021-07-06 at 8 48 36 PM" src="https://user-images.githubusercontent.com/58783823/124625656-9d94bd80-de9b-11eb-8d57-52fc8b5e556a.png">
<img width="502" alt="Screenshot 2021-07-06 at 8 48 52 PM" src="https://user-images.githubusercontent.com/58783823/124625686-a4233500-de9b-11eb-8b1f-6cca76228f92.png">

[2021-07-06 15:39] Oanh-and-only-Oanh commented on #4947
@sushil, can you help with this issue during cool down?

[2021-07-06 15:42] harshitmehta15 commented on #4947
@sushilshinde tldr;
There are two ways to solve this
1) Use Member API (instead of Resource API) to fetch the specific rating based on what type of challenge is.
2) Update Resource API to return ratings of all the tracks.

[2021-07-06 16:12] SathyaJayabal commented on #5595
verified on prod
<img width="1440" alt="Screenshot 2021-07-06 at 9 41 50 PM" src="https://user-images.githubusercontent.com/58783823/124633619-13e8ee00-dea3-11eb-88b1-be52bf85615b.png">
<img width="502" alt="Screenshot 2021-07-06 at 9 42 08 PM" src="https://user-images.githubusercontent.com/58783823/124633626-15b2b180-dea3-11eb-9a5e-535646c7653a.png">

[2021-07-06 16:12] #5595 closed

[2021-07-06 16:15] rootelement commented on #4947
Resource api will not be updated to house that information. That's not relevant to the resource, and it's only there for basic convenience on the site. This has to be updated to pull that information from the member API. Consult with @urwithat on the appropriate usage.

[2021-07-06 16:29] Oanh-and-only-Oanh opened #5627 "Map old MM link to new link and redirect"
**Current behavior:**

When user clicks a data point on the rating graph, user is taken to legacy site

**How to reproduce:**
1. go to https://www.topcoder.com/members/wleite/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH
2. click on a data point on the graph
3. you are taken to a legacy page ie. https://community.topcoder.com/tc?module=MatchDetails&rd=17778

**Expected behavior:**
When user

[2021-07-06 16:29] SathyaJayabal commented on #5620
fixed on prod
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/3169/workflows/b8742d03-8d50-4f19-8ff3-e7b7c6c31d36/jobs/13019

[2021-07-06 16:29] #5620 closed

[2021-07-06 16:30] luizrrodrigues commented on #5620
Payment task has been updated: https://www.topcoder.com/challenges/61d31068-61a9-457b-a6d5-6abe68068347
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `61d31068-61a9-457b-a6d5-6abe68068347` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-07-06 16:30] SathyaJayabal commented on #5623
fixed on prod
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/3169/workflows/b8742d03-8d50-4f19-8ff3-e7b7c6c31d36/jobs/13019

[2021-07-06 16:30] #5623 closed

[2021-07-06 16:34] Oanh-and-only-Oanh commented on #5480
Issue 4: opened separate ticker here https://github.com/topcoder-platform/community-app/issues/5627

[2021-07-06 16:36] Oanh-and-only-Oanh commented on #5627
Each MM has a Round ID in Direct, we want to map the Round ID to the Challenge ID of the MM. Where can we find that mapping?
@dushyantb, can you help us?

[2021-07-06 23:06] luizrrodrigues opened #5628 "Automated Smoke Testing - Fix store_artifacts"

[2021-07-07 03:10] nursoltan-s commented on #5619
@luizrrodrigues Hi there is a bug in profile settings page.

I get 500 error in update trait v3 api:

content: "Unable to unmarshall the string {\"traitId\":\"work\",\"data\":[{\"company\":\"New company\",\"position\":\"Architect\",\"cityTown\":\"Mumbai\",\"timePeriodFrom\":\"2016-09-12T06:30:00.000Z\",\"industry\":\"Banking\",\"working\":true,\"jobDescription\":\"<p><strong>Test</strong></p>\\n<p

[2021-07-07 03:11] nursoltan-s commented on #5619
<img width="1417" alt="Screen Shot 2021-07-07 at 11 11 02" src="https://user-images.githubusercontent.com/7783676/124694534-0ddf2580-df14-11eb-98ca-b4f9060b133d.png">

[2021-07-07 03:21] SathyaJayabal opened #5630 "Add delay of 7 seconds after user applies for a gig"
Point 1 in the below description
https://github.com/topcoder-platform/micro-frontends-earn-app/issues/143#issue-933658178

[2021-07-07 03:29] luizrrodrigues commented on #5619
@nursoltan-s Looks like issue coming only from this user. Please use different test user for now.

[2021-07-07 05:07] LieutenantRoger opened #5631 "Add externalId=xxxx param when user navigates from Community-App to Earn-App after applied a gig opportunity"
Expected behavior:

After member applied a gig opportunity successfully, and once the user click 'CHECK GIG APPLICATION STATUS' button, the app shall redirect the member to the earn-app list screen with the gig externalId=xxx added in the query string,

so that earn-app can check whether the newly applied gig is synced yet in our backend system.

[2021-07-07 08:01] SathyaJayabal commented on #5631
verified on dev
<img width="1440" alt="Screenshot 2021-07-07 at 1 29 30 PM" src="https://user-images.githubusercontent.com/58783823/124722354-9a471380-df27-11eb-96c4-abc7ac423fcf.png">

[2021-07-07 08:53] SathyaJayabal commented on #5631
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-07-07 at 2 20 47 PM" src="https://user-images.githubusercontent.com/58783823/124730154-b7331500-df2e-11eb-9fd2-293f4320936a.png">

[2021-07-07 09:54] kkartunov commented on #5599
@SathyaJayabal this one can be tested on https://beta-community-app.topcoder.com/examples/contentful/viewport/1nvm6EsPMHPLBtuGXNRMYV/

- ignore that it loads the same page all the time, we focus on the top header Navi itself in this issue

[2021-07-07 10:45] SathyaJayabal commented on #5599
@kkartunov for mobile the current sub menu selection is not highlighted

for example, this is the marathon page under competition, menu, but the marathon nav item is not highlighted.
![WhatsApp Image 2021-07-07 at 4 14 32 PM](https://user-images.githubusercontent.com/58783823/124746432-79d68380-df3e-11eb-973a-2749d67ddf81.jpeg)

[2021-07-07 11:31] SathyaJayabal commented on #5631
verified on prod

https://user-images.githubusercontent.com/58783823/124752028-f2404300-df44-11eb-8083-dc597a10f407.mov

[2021-07-07 11:31] #5631 closed

[2021-07-07 12:13] jswheeler opened #5634 "Reflected XSS in http://veterans.topcoder.com/community-app-assets/api/mock/docu-sign on the `returnUrl` GET parameter"
https://github.com/topcoder-platform/community-app/blob/cd3c65fe22ab47c559ff92cb8255ef678c5fd49b/src/server/index.js#L218

found XSS reflected in this path  http://veterans.topcoder.com/community-app-assets/api/mock/docu-sign?returnUrl=

payload = "%2balert(document.domain)%2b"
proof = http://veterans.topcoder.com/community-app-assets/api/mock/docu-sign?returnUrl=%22%2balert(document.domain)%2b%22

[2021-07-07 14:34] kkartunov commented on #5599
@SathyaJayabal it is as per design but the team is looking into that. Please hold ...

[2021-07-07 15:13] Oanh-and-only-Oanh commented on #4947
Use the member api to fetch the specific rating based on what type of challenge is needed. The api exists and here is the curl for it:
Member v3 -
curl --location --request GET 'https://api.topcoder-dev.com/v3/members/tourist/stats'
Member v5 -
curl --location --request GET 'https://api.topcoder-dev.com/v5/members/stonefeang/stats'

[2021-07-07 15:39] nursoltan-s commented on #4947
@bug-bash-helper assign me

[2021-07-07 15:40] nursoltan-s commented on #4947
@Oanh-and-only-Oanh
Hi, if it's open for pickup, can i take this issue?

[2021-07-07 15:43] Oanh-and-only-Oanh commented on #4947
hi @nursoltan-s, it's picked up by @rakibansary for now. thanks!

[2021-07-07 15:45] nursoltan-s commented on #4947
got it.

[2021-07-08 11:02] rakibansary commented on #5495
The pull request #5635 hides the DEVELOP MARATHON MATCH subtrack. A method `isHidden` has been added which can be used to arbitarily hide any subtrack.

[2021-07-08 16:08] verma-saurabh opened #5636 "User should be able to see the gig that he is enrolled in"
**Is your feature request related to a problem? Please describe.**
I was applying for a gig and want to check whether I have applied to it before or not.
As of now there is no gig apply history

**Describe the solution you'd like**
on profile, a section to check the enrolled, applied, and rejected gigs.

[2021-07-09 05:52] sdgun commented on #5599
@kkartunov Verified in mobile. Current sub menu selection is highlighted now. Also checked in desktop.

![image](https://user-images.githubusercontent.com/4592712/125029881-e91bb700-e0a7-11eb-8e5e-58bf5c859074.png)

[2021-07-09 15:40] nursoltan-s opened #5638 "[Prod] Can't update Profile Information on newly created users"
**Describe the bug**
Cannot update user traits (v3) on Profile page on production environment. Error only occurs "newly" created users. (works fine on old users)

**To Reproduce**
Steps to reproduce the behavior:
1. Login with "CustomerUser" account.
1. Go to 'https://www.topcoder.com/settings/profile'
2. Click on 'Basic Info' tab
3. Scroll down and click on 'Save Changes'
4. See error "Failed to

[2021-07-09 15:57] luizrrodrigues commented on #5638
@urwithat Can you take a look in this one please?

[2021-07-12 04:20] SathyaJayabal opened #5640 "Error while applying to gigs"
Pre-requisite: user has already applied to any of the gigs
1. Go to Gigs listings:
https://www.topcoder.com/gigs
2. Select any gigs and apply without updating any of the pre-filled information

Expected : Gig application must be successful
Actual: Following Error is displayed

<img width="1440" alt="Screenshot 2021-07-12 at 9 39 33 AM" src="https://user-images.githubusercontent.com/58783823/125230

[2021-07-12 04:23] SathyaJayabal commented on #5640
cc @kkartunov

[2021-07-12 04:34] sandhiyakavi commented on #5599
@kkartunov If we click the user handle dropdown at the top header navi , the pop up menu is getting hided behind the image.

![image](https://user-images.githubusercontent.com/55895538/125231220-4c5e5100-e315-11eb-9d3b-601970577f8b.png)

Also under Regionals menu, only the submenu Overview is getting displayed, but in the design I am able to see many sub menus. is it expected?

![image](https://us

[2021-07-12 04:58] urwithat commented on #5638
@LieutenantRoger - I'm used the following curl don't see an error:

curl --location --request GET 'https://api.topcoder.com/v3/members/customeruser/traits' \
--header 'Authorization: Bearer token'

Has something been changed?

[2021-07-12 06:22] luizrrodrigues commented on #5638
@urwithat The request need be `PUT` to update profile information:

![image](https://user-images.githubusercontent.com/7029641/125240178-25296480-e2c0-11eb-989e-4391cad8350a.png)

[2021-07-12 06:48] SathyaJayabal commented on #5638
@urwithat , looks like  the issue is with the `work` traits data for this specific user. (handle: CustomerUser). If possible can you clear that info from the DB for this user.

cc @lakshmiathreya @luizrrodrigues

[2021-07-12 06:49] urwithat commented on #5638
@luizrrodrigues - Thanks for pointing out the pout request.
I see the member's work trait is not correctly formatted.

This is the current data for work trait:
[code]

Have cleaned it up to:
[code]

This has fixed the issue of data corruption for member `customeruser`

@nursoltan-s @luizrrodrigues - can you help me understand how the following details were added to the work trait as the frontend d

[2021-07-12 06:55] SathyaJayabal commented on #5638
@urwithat , there was a requirement , and we had tested this but it go to prod and it is on hold. This data was added while testing that feature on staging (prod BE)
https://github.com/topcoder-platform/community-app/issues/4659

[2021-07-12 07:02] urwithat commented on #5638
@SathyaJayabal - Thanks for the information, I could not recollect the older req.
Hope this sorts out the issue since we have not pushed the new code in production! or do we need to look into something?

[2021-07-12 07:04] SathyaJayabal commented on #5638
@urwithat , we just needed that data cleaned up. can u just remove that trait altogether for the user please? i still see some error while adding a work.

[2021-07-12 07:29] SathyaJayabal commented on #5638
@urwithat , thank you data is good now
cc @nursoltan-s @luizrrodrigues

[2021-07-12 07:29] #5638 closed

[2021-07-12 09:06] kkartunov commented on #5599
@sandhiyakavi this issues with z-index is fixed.

[2021-07-12 09:18] sandhiyakavi commented on #5599
Verified on Staging Env. Issue resolved and the Header navi in both desktop as well as Mobile is good.

![image](https://user-images.githubusercontent.com/55895538/125261749-8858dc80-e33c-11eb-8971-e8bd6eea6433.png)

[2021-07-12 16:17] SathyaJayabal commented on #5640
this is fixed now from RCRM side
<img width="1440" alt="Screenshot 2021-07-12 at 9 46 17 PM" src="https://user-images.githubusercontent.com/58783823/125321777-aa615780-e35a-11eb-90e5-7766b6ad6a63.png">

[2021-07-12 16:17] #5640 closed

[2021-07-13 04:06] SathyaJayabal commented on #5628
artefacts uploaded and available
<img width="1440" alt="Screenshot 2021-07-13 at 9 35 43 AM" src="https://user-images.githubusercontent.com/58783823/125388784-c2b68e00-e3bd-11eb-9532-9397ed1ef16c.png">

[2021-07-13 04:06] #5628 closed

[2021-07-13 04:53] sandhiyakavi commented on #5599
Verified on Prod Env using the url https://community-app.topcoder.com/examples/contentful/viewport/1nvm6EsPMHPLBtuGXNRMYV/sponsors
![image_123986672](https://user-images.githubusercontent.com/55895538/125392742-b17f7880-e3e1-11eb-839c-ad389e8942e7.JPG)

![image](https://user-images.githubusercontent.com/55895538/125392364-feaf1a80-e3e0-11eb-8651-5c9eb4bbc721.png)

[2021-07-13 05:35] #5599 closed

[2021-07-14 06:28] sushilshinde opened #5642 "Server logs showing these errors"
Something is calling the metafiles those don't exists, that code is consuming CPU resource. This code needs to be optimized.
![CloudWatch Management Console 2021-07-14 11-52-32](https://user-images.githubusercontent.com/683231/125573822-186419f2-16e1-4e82-a1c9-5da35a7b4a9f.png)

[2021-07-14 10:26] kkartunov commented on #5600
Test URL for QA: https://qa-community-app.topcoder-dev.com/examples/contentful/viewport/5REupgS4MfQlKZkwthHFMU
Team approved the positioning of the avatars.

[2021-07-14 10:27] kkartunov commented on #5600
@SathyaJayabal this ready for QA, please.

[2021-07-14 12:24] SathyaJayabal commented on #5600
verified on qa @kkartunov
<img width="1440" alt="Screenshot 2021-07-14 at 5 52 47 PM" src="https://user-images.githubusercontent.com/58783823/125621405-01006765-bf6e-4370-9b95-126c19772c87.png">
<img width="499" alt="Screenshot 2021-07-14 at 5 53 08 PM" src="https://user-images.githubusercontent.com/58783823/125621430-defb1fd4-a609-4433-a702-0447e3253376.png">

[2021-07-14 23:38] luizrrodrigues commented on #5642
Issue coming from : https://github.com/topcoder-platform/topcoder-react-lib/blob/0fece444e72eed519ea33db680a1b44d5aad8272/src/services/terms.js#L56

[2021-07-16 04:00] luizrrodrigues commented on #5642
@SathyaJayabal Fix validation will be done in server side (AWS Log)

Changes are related with Terms and Sub-Communities, please validate items bellow:
- Access Sub-Communities via custom domain ex: https://veterans.topcoder.com/
- Access Sub-Communities via community app URL, ex: https://community-app.topcoder.com/__community__/veterans
- New user when try to access Sub-Community first time, show

[2021-07-16 04:32] rakibansary commented on #4947
Fixed in https://github.com/topcoder-platform/topcoder-react-lib/pull/312

[2021-07-16 04:35] SathyaJayabal commented on #5642
verified on staging, if terms is displayed
<img width="1440" alt="Screenshot 2021-07-16 at 10 02 00 AM" src="https://user-images.githubusercontent.com/58783823/125892274-bd92afac-85de-45f8-a3dc-4bf4f9a9561b.png">

able to access veterans site for old user on dev
<img width="1440" alt="Screenshot 2021-07-16 at 10 05 01 AM" src="https://user-images.githubusercontent.com/58783823/125892375-78986d96-2

[2021-07-16 05:29] luizrrodrigues commented on #5642
`/community/learn`:
![image](https://user-images.githubusercontent.com/7029641/125895907-ae6ae84b-a585-485a-9825-6db0654e2e82.png)

`/community/member-programs`:
![image](https://user-images.githubusercontent.com/7029641/125896289-f6d5205c-ef5a-4b21-8b39-7957ec64d107.png)

[2021-07-16 06:20] luizrrodrigues commented on #5642
**Prod**
`/community/member-programs`:
![image](https://user-images.githubusercontent.com/7029641/125901575-2deaf2df-3962-4f6c-85c6-f87dbef49614.png)

[2021-07-16 06:32] #5642 closed

[2021-07-16 07:04] SathyaJayabal commented on #5596
TCO22 leaderboard challenge history popup: Challenge link broken
https://tco22.topcoder.com/competition/development/leaderboard?tracks[dev-tco22]=0
<img width="1438" alt="Screenshot 2021-07-16 at 11 58 35 AM" src="https://user-images.githubusercontent.com/58783823/125906324-93edf60c-d900-4d78-97d1-5e6c1fd8db5f.png">

[2021-07-16 07:56] kkartunov commented on #5596
QA Link: `<ENV>/examples/contentful/viewport/4zT5nOVd9S7SQjvhNSmfix`

[2021-07-16 09:26] kkartunov commented on #5600
@SathyaJayabal @luizrrodrigues this one will be re-designed thus removing from milestone.

[2021-07-16 09:44] SathyaJayabal commented on #5596
verified on qa env
<img width="1429" alt="Screenshot 2021-07-16 at 3 13 27 PM" src="https://user-images.githubusercontent.com/58783823/125927993-dd2a59ca-59e1-4d2d-901b-8ba2183395c4.png">

<img width="642" alt="Screenshot 2021-07-16 at 3 12 39 PM" src="https://user-images.githubusercontent.com/58783823/125928010-d5d45ef9-7f7b-4378-9781-4e59765446bd.png">

<img width="1440" alt="Screenshot 2021-07-

[2021-07-20 03:54] SathyaJayabal commented on #5596
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-07-20 at 9 23 40 AM" src="https://user-images.githubusercontent.com/58783823/126259472-77dd2c4e-01e0-4ab4-b4f8-1b4fa988de88.png">
<img width="495" alt="Screenshot 2021-07-20 at 9 20 49 AM" src="https://user-images.githubusercontent.com/58783823/126259490-8b687b03-cdfb-4342-a1ab-793484354509.png">
<img width="1440" alt="Scr

[2021-07-20 13:05] SathyaJayabal commented on #5596
verified on prod
<img width="1440" alt="Screenshot 2021-07-20 at 6 33 39 PM" src="https://user-images.githubusercontent.com/58783823/126328955-0d74c5fe-5dff-4abf-89ef-28cc7b496895.png">
<img width="1440" alt="Screenshot 2021-07-20 at 6 31 14 PM" src="https://user-images.githubusercontent.com/58783823/126328972-37897e03-c1e2-47fa-8f02-e42d5fc4538d.png">
<img width="539" alt="Screenshot 2021-07-20 a

[2021-07-20 13:05] #5596 closed

[2021-07-20 13:21] SathyaJayabal opened #5650 "Notifications do not load sometimes"
The notifications api call sometimes times out and the notifications are not displayed sometimes.
This issue is intermittent.
<img width="1440" alt="Screenshot 2021-07-20 at 6 49 22 PM" src="https://user-images.githubusercontent.com/58783823/126331250-51a53eaf-6099-4c76-b248-6486d8d6e85c.png">

[2021-07-22 05:21] kkartunov opened #5651 "TCO21 leaderboards fix"
The modal with history details is using the new look&feel(TCO22) for the podium spot card - this needs to be same card as the main view is using.

[2021-07-22 07:23] kkartunov commented on #5651
Screenshot
![Screenshot from 2021-07-22 10-22-59](https://user-images.githubusercontent.com/5585002/126603017-7475f9d1-1407-43ad-b9e4-850bff91a462.png)

[2021-07-22 10:02] SathyaJayabal commented on #5651
verified on beta
<img width="1440" alt="Screenshot 2021-07-22 at 3 31 25 PM" src="https://user-images.githubusercontent.com/58783823/126622198-4bfd9dc0-3133-47dd-afc2-f83789c667a8.png">

[2021-07-23 00:17] luizrrodrigues commented on #5495
@SathyaJayabal Deployed to Beta env.

[2021-07-23 08:59] SathyaJayabal commented on #5495
verified on beta
<img width="1239" alt="Screenshot 2021-07-23 at 2 22 23 PM" src="https://user-images.githubusercontent.com/58783823/126759873-1640bcf5-821d-4e47-97a5-f4dc80f33896.png">

[2021-07-23 09:42] luizrrodrigues commented on #5495
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-07-23 10:41] SathyaJayabal commented on #5495
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-07-23 at 4 11 12 PM" src="https://user-images.githubusercontent.com/58783823/126771186-25bbd479-b8ee-41fe-b08d-5cbbe1c60539.png">

[2021-07-23 10:43] SathyaJayabal commented on #5651
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-07-23 at 4 12 41 PM" src="https://user-images.githubusercontent.com/58783823/126771314-df9e0875-82b6-431e-bc3d-4ae10086b0cd.png">

[2021-07-23 12:27] SathyaJayabal commented on #5495
verified on prod
<img width="1440" alt="Screenshot 2021-07-23 at 5 56 49 PM" src="https://user-images.githubusercontent.com/58783823/126781512-f19eee44-ab49-4d13-92a0-b6ada09a6a98.png">

[2021-07-23 12:28] luizrrodrigues commented on #5495
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-07-23 12:28] SathyaJayabal commented on #5651
verified on prod
<img width="1440" alt="Screenshot 2021-07-23 at 5 56 31 PM" src="https://user-images.githubusercontent.com/58783823/126781621-454f7170-7ecd-4e91-b184-cd1f83bca57f.png">

[2021-07-23 12:28] #5651 closed

[2021-07-23 13:21] #5495 closed

[2021-07-23 13:21] luizrrodrigues commented on #5495
Payment task has been updated: https://www.topcoder.com/challenges/1c193cae-636e-4c69-8f7a-9527fb2c7501
*Payments Complete*
Winner: Ansary
Copilot: luizrrodrigues
Challenge `1c193cae-636e-4c69-8f7a-9527fb2c7501` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-07-26 10:11] nursoltan-s opened #5654 "Extra character on gig loading indicator."
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'topcoder.com/gigs'
2. Observe ; character while gigs loading.

**Screenshots**
![Screenshot_20210726-171631_Chrome.jpg](https://user-images.githubusercontent.com/7783676/126972347-08f5a560-c934-4ba1-9457-b5c8674d6c43.jpg)

**Additional context**

https://www.github.com/topcoder-platform/community-app/tree/develop/src%2Fshared%2Fcontainers

[2021-07-27 09:21] SathyaJayabal opened #5655 "Challenge Details phases : Read from scheduledEndDate if actualEndDate is not present"
https://github.com/topcoder-platform/work-manager/issues/1219#issuecomment-885782278
https://user-images.githubusercontent.com/51733042/126515791-6efd4e85-bb90-4a63-84e3-6b85d78633a9.png

[2021-07-27 09:22] SathyaJayabal commented on #5655
cc @luizrrodrigues @lakshmiathreya

[2021-07-29 04:33] luizrrodrigues commented on #5655
@SathyaJayabal Deployed to Stag and Dev env.

[2021-07-29 05:26] SathyaJayabal commented on #5655
verified on dev
<img width="1440" alt="Screenshot 2021-07-29 at 10 25 07 AM" src="https://user-images.githubusercontent.com/58783823/127436483-e20a8065-48ee-4fe7-a721-d140125a5278.png">

[2021-07-30 06:25] SathyaJayabal opened #5656 "Private Profile Redirection"
Whenever there is link from the topgear user on the community app it should directed to
Prod : https://topgear-app.wipro.com/user-details

[2021-07-30 06:43] SathyaJayabal commented on #5656
@Oanh-and-only-Oanh @sushilshinde @rakibansary , verified on QA env cases 1 to 6.

Logged in user: tonyj (topgear user)
1. When Topgear user accesses their own profile
https://qa-community-app.topcoder-dev.com/members/TonyJ
Redirects to WIPRO login page (Will test this on beta to test redirection to https://topgear-app.wipro.com/user-details)
<img width="1440" alt="Screenshot 2021-07-30 at 12 04 1

[2021-08-02 03:41] SathyaJayabal commented on #5656
@Oanh-and-only-Oanh @sushilshinde @rakibansary , verified on Dev env.
1. logged in topgear accesses their own profile, is redirected to wipro login
https://topgear.topcoder-dev.com/members/dan_developer
<img width="1440" alt="Screenshot 2021-08-02 at 9 03 07 AM" src="https://user-images.githubusercontent.com/58783823/127801452-e1053401-2c1c-4ecf-b85e-cfe12a5926e7.png">

[2021-08-02 03:45] SathyaJayabal commented on #5656
@Oanh-and-only-Oanh ,
1. What should be the behaviour when a topgear user accesses another topgear user's member profile on the topgear site?
example: https://topgear.topcoder-dev.com/members/TonyJ (logged in as dan_developer)

2. What should be the behaviour when a topgear user accesses another public user's member profile on the topgear site?
example: https://topgear.topcoder-dev.com/members/tes

[2021-08-02 03:48] SathyaJayabal commented on #5656
@lakshmiathreya , Can you please verify the below ?
1. Login with wipro id.
2. Access https://beta-community-app.topcoder.com/__community__/wipro/members/<your handle>
3. Verify if the page is redirected to https://topgear-app.wipro.com/user-details

[2021-08-02 06:43] lakshmiathreya commented on #5656
@SathyaJayabal - verified both urls with my Wipro login - they redirect to https://topgear-app.wipro.com/user-details as expected. Will upload videos shortly.

[2021-08-02 07:27] kkartunov commented on #5412
will be handled by other.

[2021-08-02 07:27] #5412 closed

[2021-08-02 07:38] kkartunov opened #5657 "Thrive - Details page updates"
﻿-- ﻿Generic banner and def image support. When no banner is set use a default image

﻿-- ﻿Separated Categories and Tags on the left side column﻿﻿

﻿-- Ads support on the left side of articles

design: https://marvelapp.com/prototype/14fiadgj/screen/81193803

[2021-08-02 09:47] lakshmiathreya commented on #5656
https://user-images.githubusercontent.com/51733042/127841446-b6819231-790d-43ad-85c8-764c95c1a946.mov

[2021-08-02 10:08] lakshmiathreya commented on #5656
https://user-images.githubusercontent.com/51733042/127844798-624c175c-4661-4cae-82a1-1156f9a41d7d.mov

[2021-08-02 16:17] Oanh-and-only-Oanh commented on #5656
@SathyaJayabal, Topgear user should **NOT** be allowed to access another topgear user's member profile.

[2021-08-03 05:08] SathyaJayabal commented on #5656
So @Oanh-and-only-Oanh , for these cases we should redirect to public profile?

[2021-08-04 04:04] kkartunov commented on #5600
@SathyaJayabal this one is ready iteration, please QA.
It is currently on QA env: https://qa-community-app.topcoder-dev.com/examples/contentful/viewport/5REupgS4MfQlKZkwthHFMU

[2021-08-04 05:57] SathyaJayabal commented on #5600
verified on dev
<img width="1440" alt="Screenshot 2021-08-04 at 11 25 22 AM" src="https://user-images.githubusercontent.com/58783823/128129472-651247c4-ebd1-438f-a656-5f430e94a5ee.png">

[2021-08-05 11:26] SathyaJayabal commented on #5655
verified on code
<img width="697" alt="Screenshot 2021-08-05 at 4 56 13 PM" src="https://user-images.githubusercontent.com/58783823/128342412-0354a02d-9192-40ac-b981-4db75353f26f.png">

[2021-08-05 11:28] SathyaJayabal commented on #5600
verified on staging
<img width="1440" alt="Screenshot 2021-08-05 at 4 57 40 PM" src="https://user-images.githubusercontent.com/58783823/128342653-49167163-f7f8-434e-afd6-2ab656f2036c.png">
<img width="493" alt="Screenshot 2021-08-05 at 4 57 59 PM" src="https://user-images.githubusercontent.com/58783823/128342664-3e726d8c-779f-41c7-8e19-23eedc900272.png">

[2021-08-05 16:32] SathyaJayabal commented on #5655
verified in prod

[2021-08-05 16:32] #5655 closed

[2021-08-05 16:34] SathyaJayabal commented on #5600
verified on prod
<img width="1434" alt="Screenshot 2021-08-05 at 10 03 25 PM" src="https://user-images.githubusercontent.com/58783823/128387362-34382cd8-4e9b-4003-aca7-ea94cbeb319d.png">
<img width="500" alt="Screenshot 2021-08-05 at 10 03 53 PM" src="https://user-images.githubusercontent.com/58783823/128387380-9819d08e-f2a3-4bf3-b142-650ff32f8401.png">

[2021-08-05 16:34] #5600 closed

[2021-08-09 16:13] sushilshinde opened #5660 "Performance issues"
@luizrrodrigues we need to perform performance tests on the community app in the production mode. I think there are some API calls that aren't closing, which is making the app unresponsive.

We are seeing CPU and network stats spike on production.

[2021-08-10 15:17] kkartunov commented on #5657
@SathyaJayabal fyi

[2021-08-10 17:52] kkartunov commented on #5657
QA links:
https://qa-community-app.topcoder-dev.com/thrive/articles/publishing-dart-and-flutter-packages-at-pub-dev-part-1
https://qa-community-app.topcoder-dev.com/thrive/articles/preparing-to-work-with-datetime-information

[2021-08-11 04:17] SathyaJayabal commented on #5657
@kkartunov , the image is cutoff on the bottom
<img width="1440" alt="Screenshot 2021-08-11 at 9 42 31 AM" src="https://user-images.githubusercontent.com/58783823/128968645-dd7a2605-62b6-442c-9363-debc00bc1444.png">

[2021-08-11 05:54] kkartunov commented on #5657
@SathyaJayabal this should be fixed. Please re-test...

[2021-08-11 05:56] SathyaJayabal commented on #5657
Thanks @kkartunov
<img width="1440" alt="Screenshot 2021-08-11 at 11 26 10 AM" src="https://user-images.githubusercontent.com/58783823/128976962-19f340d3-ae5e-4054-a51a-a859b55beb28.png">

[2021-08-11 10:23] SathyaJayabal commented on #5657
verified on staging
![Screenshot 2021-08-11 at 15-51-37 Preparing to Work with DateTime Information](https://user-images.githubusercontent.com/58783823/129013164-a27f001b-89dd-4e39-8b4c-dae39b1ae4d3.png)
![Screenshot 2021-08-11 at 15-52-30 Publishing Dart and Flutter packages at pub dev - Part 1](https://user-images.githubusercontent.com/58783823/129013189-efcfe0f2-4f60-499b-9347-06383dba7838.png)

[2021-08-11 10:31] SathyaJayabal commented on #5657
@kkartunov , this part is different form the design
<img width="1434" alt="Screenshot 2021-08-11 at 3 59 35 PM" src="https://user-images.githubusercontent.com/58783823/129014149-b2f47ed0-64b2-49d7-a05e-d36e831d4869.png">
<img width="1439" alt="Screenshot 2021-08-11 at 4 00 39 PM" src="https://user-images.githubusercontent.com/58783823/129014190-a9f2b43e-66aa-437c-88f4-0866c65fe474.png">
.

[2021-08-11 10:35] kkartunov commented on #5657
Thanks, this is content that can be edited from Contentful. We will use it for new published articles and keep the old style for existing ones.

Please proceed with release.

[2021-08-11 13:31] #5657 closed

[2021-08-12 07:36] SathyaJayabal opened #5663 "Upgrade v3/member/stats and v3/member/stats/history to v5/member stats and v5/member/stats/history"
Upgrade v3/member/stats and v3/member/stats/history to v5/member stats and v5/member/stats/history on  the member profile and stats history pages

[2021-08-12 08:10] SathyaJayabal commented on #5663
we are getting a blank page if the user doesn't have stats yet
https://www.topcoder-dev.com/members/tester1234/
<img width="1440" alt="Screenshot 2021-08-12 at 1 39 46 PM" src="https://user-images.githubusercontent.com/58783823/129161787-278da04d-fd72-48ea-a1bd-17c0422da568.png">

[2021-08-12 08:57] SathyaJayabal commented on #5656
@rakibansary ,
for rule # 8 and #12, while accessing a members profile on the topgear site, we must load the public profile. But on dev, it loads the private profile.

Example:
pls compare
https://www.topcoder-dev.com/members/standlove and
https://topgear.topcoder-dev.com/members/standlove

<img width="1440" alt="Screenshot 2021-08-12 at 2 26 12 PM" src="https://user-images.githubusercontent.com/5

[2021-08-12 09:25] SathyaJayabal commented on #5663
@rakibansary , there are a few differences between the v3/member/stats and the v5/member/stats responses. For example for the user `standlove` the  copilot track details are not returned by v5.

Also the number of wins is not displayed correctly on the UI for the code and f2f tracks

<img width="1440" alt="Screenshot 2021-08-12 at 2 54 34 PM" src="https://user-images.githubusercontent.com/58783823

[2021-08-16 09:34] kkartunov opened #5665 "Generic referral links update"
In scope:
- Generic referral links support - from listing page and details page
- Update social share buttons on details page to include `referralId` in the link if member logged it
- Follow design https://marvelapp.com/prototype/80c404g/screen/81203940
  - [logged in case](https://marvelapp.com/prototype/80c404g/screen/81203943)
  - [anonymous case](https://marvelapp.com/prototype/80c404g/screen/

[2021-08-17 05:20] SathyaJayabal commented on #5665
@kkartunov , the location of the gig application status for logged users is different in the design than that in production. Should the referral link be below the application status or above the title ?
<img width="1430" alt="Screenshot 2021-08-17 at 10 49 00 AM" src="https://user-images.githubusercontent.com/58783823/129667831-1280373c-a7bc-4c63-922a-81888f03da4e.png">

<img width="1440" alt="Scr

[2021-08-17 05:41] kkartunov commented on #5665
@SathyaJayabal status banner is not in scope of this ticket. Referral should be above the title as on second image.

[2021-08-17 07:04] SathyaJayabal commented on #5665
@kkartunov , verified for the following cases:
1. Not logged in user: gigs listings, login modal, gigs details page.
<img width="1440" alt="Screenshot 2021-08-17 at 12 22 53 PM" src="https://user-images.githubusercontent.com/58783823/129677858-bd959f75-2c97-4448-abd3-5cabfb226921.png">

<img width="1440" alt="Screenshot 2021-08-17 at 11 58 30 AM" src="https://user-images.githubusercontent.com/5878

[2021-08-17 07:19] SathyaJayabal commented on #5665
5. Referral id added to social share buttons.
<img width="1440" alt="Screenshot 2021-08-17 at 12 47 12 PM" src="https://user-images.githubusercontent.com/58783823/129681412-6ba6ddab-341d-475a-a98e-6469bb09924c.png">
<img width="1440" alt="Screenshot 2021-08-17 at 12 47 29 PM" src="https://user-images.githubusercontent.com/58783823/129681431-7b9c4409-f017-4f48-8ee5-3609fdf312bd.png">

<img width="1

[2021-08-17 08:21] SathyaJayabal commented on #5663
Number of wins displayed correctly
<img width="1440" alt="Screenshot 2021-08-17 at 1 50 35 PM" src="https://user-images.githubusercontent.com/58783823/129690570-b3a137b5-8960-4a1f-834e-be3db7ff0a18.png">

[2021-08-18 15:59] Oanh-and-only-Oanh opened #5666 "Topgear to Topcoder redirection Issue for Challenge Listings and Details pages"
-- Non logged in Topgear member - after login - is redirected to Topgear home page instead of the respective Challenge Listings or Details page they accessed prior to login.
image
cc @SathyaJayabal

we worked on previously on this kind of issue here - topcoder-platform/community-app#5576 topcoder-platform/community-app#5565

[2021-08-18 16:00] Oanh-and-only-Oanh commented on #5666
@luizrrodrigues can you please work with @sachin-maheshwari to resolve this issue? Thank.

[2021-08-19 04:44] SathyaJayabal commented on #5665
Verified on staging:
1. Not logged in user: gigs listings, login modal, gigs details page.
<img width="1440" alt="Screenshot 2021-08-19 at 10 08 12 AM" src="https://user-images.githubusercontent.com/58783823/130008752-cdbe2b72-04a3-4908-ab83-d64e59652aae.png">
<img width="1440" alt="Screenshot 2021-08-19 at 10 08 21 AM" src="https://user-images.githubusercontent.com/58783823/130008763-a0a1f271-216

[2021-08-19 05:31] lakshmiathreya commented on #5666
Ref: https://github.com/topcoder-platform/tc-auth-lib/issues/265

[2021-08-19 06:42] SathyaJayabal commented on #5665
verified on staging that referral is reflecting on growsurf

![Screenshot from 2021-08-19 09-36-33](https://user-images.githubusercontent.com/58783823/130020423-b8e6bd47-a36a-4f22-a15d-fd28b75c9a5c.png)
![Screenshot from 2021-08-19 09-38-12](https://user-images.githubusercontent.com/58783823/130020529-a3d0d134-2dde-48f3-8b8d-32b8a85f8ebd.png)

[2021-08-19 10:10] SathyaJayabal commented on #5665
verified on prod
<img width="1440" alt="Screenshot 2021-08-19 at 3 38 03 PM" src="https://user-images.githubusercontent.com/58783823/130050848-818c3ab4-9078-4d1c-9a5f-c194e2a44ef4.png">
<img width="1440" alt="Screenshot 2021-08-19 at 3 38 05 PM" src="https://user-images.githubusercontent.com/58783823/130050872-2a4af6fe-5456-4b11-9415-2d9ca3b875ea.png">
<img width="1440" alt="Screenshot 2021-08-19

[2021-08-20 03:29] luizrrodrigues commented on #5666
@SathyaJayabal @sachin-maheshwari

Fix deployed to Dev and Stag.

[2021-08-20 03:40] SathyaJayabal commented on #5666
@lakshmiathreya , can you please help test this.

[2021-08-20 06:17] #5665 closed

[2021-08-20 07:00] luizrrodrigues commented on #5666
@lakshmiathreya @sachin-maheshwari Please hold on testing this one, I'll need use Dev and Stag to a release.
I'll ping here when this fix back to Dev and Stag.

[2021-08-20 07:53] SathyaJayabal commented on #5656
verified on dev env (develop branch)
https://docs.google.com/spreadsheets/d/1zHO3upydBs1dwbmdO_rhQZv9SPxKEYhE5UGpDVko7v4/edit#gid=794201747

[2021-08-20 07:59] SathyaJayabal commented on #5663
verified on staging (develop branch)
https://docs.google.com/spreadsheets/d/1zHO3upydBs1dwbmdO_rhQZv9SPxKEYhE5UGpDVko7v4/edit#gid=794201747

[2021-08-20 09:40] SathyaJayabal commented on #5656
verified on prod

[2021-08-20 09:40] #5656 closed

[2021-08-20 09:44] SathyaJayabal commented on #5663
verified on prod

[2021-08-20 09:44] #5663 closed

[2021-08-20 10:15] luizrrodrigues commented on #5666
@lakshmiathreya @sachin-maheshwari
Fix deployed again to Dev and Stag envs.

[2021-08-23 12:34] RiteshTC opened #5672 "Profile redirected to Topgear without SSO configuration."
**Describe the bug**
Profile redirection to topgear should check the SSO setting.

**To Reproduce**
Steps to reproduce the behavior:
1. I Login with my user.
2. Go to my profile page https://www.topcoder.com/members/ritesh_cs
3. I am being redirected to Topgear app.

**Expected behavior**
My TC account is not connected with Wipro SSO, hence I should not be redirected to Topgear app. I should see t

[2021-08-23 14:29] Oanh-and-only-Oanh commented on #5672
Hi,

This is expected behavior. If the user is logged in as a topgear user, they
should be redirected to the Topgear app.

On Mon, Aug 23, 2021 at 5:34 AM Ritesh Gupta ***@***.***>
wrote:

[2021-08-23 14:30] Oanh-and-only-Oanh commented on #5672
This is expected behavior. If the user is logged in as a topgear user, they should be redirected to the Topgear app. @SathyaJayabal, FYI

[2021-08-24 02:53] RiteshTC commented on #5672
I am logged in as a normal TC Admin, and not as a Topgear user.
I do have access to Topgear via Group membership of Wipro-All

[2021-08-24 03:16] SathyaJayabal opened #5673 "Exempt all @topcoder.com emails from getting redirected to topgear profile"
All @topcoder.com emails must be exempted from getting redirected to topgear profile and instead must load their topcoder profiles

cc @Oanh-and-only-Oanh @sushilshinde

[2021-08-25 10:05] lakshmiathreya commented on #5660
@mtwomey @Gunasekar-K - this was discussed and resolved. Please let us know if it's fine to close this Issue? cc @SathyaJayabal

[2021-08-27 08:16] SathyaJayabal opened #5674 "Private profile redirection rules"
Implemented during Shapeup cycle 4 - Topgear Profile
<img width="900" alt="Screenshot 2021-08-27 at 1 45 14 PM" src="https://user-images.githubusercontent.com/58783823/131095743-baf39c32-97d4-4ef8-b3a8-e38abee2242c.png">

[2021-08-29 12:19] kkartunov opened #5676 "Thrive - updates"
1. Add info section below the search bar as per design: https://marvelapp.com/prototype/528hj20/screen/81640444

2. Update Thrive page title to: "Tutorials And Workshops That Matter | Thrive | Topcoder"

3.  Update category section to match design: https://marvelapp.com/prototype/14fiadgj/screen/81423110

[2021-08-30 05:07] lakshmiathreya commented on #5666
@luizrrodrigues pls confirm if you have deployed the fix on Staging. I will test it later in the day today once confirmed.

[2021-08-30 05:22] luizrrodrigues commented on #5666
@lakshmiathreya Yep, branch currently deployed to Staging only.

[2021-08-31 09:35] kkartunov commented on #5326
Closing this as whole dashboard will be updated.

[2021-08-31 09:35] #5326 closed

[2021-08-31 09:37] kkartunov opened #5677 "Link the text "Topcoder Referral Program""
Link it to info page.
﻿Appears when user is logged in on /gigs page in the referr banner.

2. Update the page title for /gigs to: "Find Freelance Work | Gigs | Topcoder"

[2021-08-31 12:24] luizrrodrigues opened #5678 "Automated Smoke Testing - Fix profile test data"

[2021-08-31 14:21] lakshmiathreya commented on #5666
Verified Redirection on Staging.

[2021-09-01 05:55] SathyaJayabal commented on #5678
verified
<img width="1437" alt="Screenshot 2021-09-01 at 11 24 57 AM" src="https://user-images.githubusercontent.com/58783823/131619277-e1d0df2b-1045-41a1-a705-d7193d502c26.png">

[2021-09-01 06:18] SathyaJayabal commented on #5673
verified on dev
https://docs.google.com/spreadsheets/d/1zHO3upydBs1dwbmdO_rhQZv9SPxKEYhE5UGpDVko7v4/edit#gid=794201747

[2021-09-01 06:36] lakshmiathreya commented on #5666
- Listings and Details redirection verified on Topgear Staging.

[2021-09-01 09:43] lakshmiathreya commented on #5666
Verified redirection for Home page, Challenge Listings and Details page - Production Topgear. Verified on MacOS, iOS, FF, Chrome and Safari.

[2021-09-01 09:43] #5666 closed

[2021-09-01 10:19] SathyaJayabal commented on #5678
verified on prod
<img width="1432" alt="Screenshot 2021-09-01 at 3 48 18 PM" src="https://user-images.githubusercontent.com/58783823/131654804-4bacb4b2-48ab-46da-b143-57819616542d.png">

[2021-09-01 10:19] #5678 closed

[2021-09-01 10:40] lakshmiathreya commented on #5673
Verified on Prod:
-- With Topcoder email and handle - https://topcoder.com/members/lakshmiathreya - redirected to:

-- With Topgear handle/Wipro email - https://topgear.topcoder.com/members/lakshmiwip2306 - redirected to:
<img width="1680" alt="Screenshot 2021-09-01 at 4 01 06 PM" src="https://user-images.githubusercontent.com/51733042/131656526-1cbf7b6d-4925-45a4-a55e-1a83fe8640db.png">
-- With T

[2021-09-01 10:59] lakshmiathreya commented on #5673
-- With TC email/handle member of Wipro-all - https://topcoder.com/members/lakshmiwip2306 - redirected to:
<img width="1680" alt="Screenshot 2021-09-01 at 4 28 43 PM" src="https://user-images.githubusercontent.com/51733042/131660113-dabf7bad-0afc-486f-810a-0fd1b7cd100f.png">

[2021-09-01 11:03] lakshmiathreya commented on #5673
@SathyaJayabal - Please review the above combinations and let me know ...

[2021-09-01 11:05] SathyaJayabal commented on #5673
@lakshmiathreya , looks good

[2021-09-01 11:05] #5673 closed

[2021-09-02 09:41] kkartunov opened #5683 "Revamp my-dashboard aka slash TC"
Design: https://marvelapp.com/prototype/5deb86c/screen/81579177
Mobile: https://marvelapp.com/prototype/cfi4i9b/screen/81579082

URL change:  /my-dashboard -> /home should be the new address.

[2021-09-02 21:59] luizrrodrigues commented on #5619
@nursoltan-s checking

[2021-09-03 11:29] m-yadav opened #5686 "Typo on Community Website"
Typo has been encountered on the home page of community website.

Steps :

Go to www.topcoder.com
Scroll down to 'Our Customers Success" section on the page.
You should be able to see the typo as per the below screenshot (It should be "No Way" instead of "Now Way")
![image](https://user-images.githubusercontent.com/45197181/131998336-37e76596-add7-48b7-af1a-110dd6cc901b.png)

[2021-09-08 00:29] mhimon opened #5688 "Open Redirect Bug - Logout Page"
Check the video https://www.youtube.com/watch?v=JLkixnyiLSY

[2021-09-08 03:34] SathyaJayabal opened #5689 "Update the Gig application status bar in the gigs listings to use the new restructured my-gigs app"
Update the Gig application status bar in the gigs listings to use the new restructured my-gigs app

[2021-09-08 03:35] SathyaJayabal commented on #5689
verified on dev
<img width="1440" alt="Screenshot 2021-09-08 at 9 04 44 AM" src="https://user-images.githubusercontent.com/58783823/132442380-fb0e6137-8cdc-4d86-bda5-802a457ac6a0.png">

[2021-09-08 03:35] SathyaJayabal commented on #5689
https://github.com/topcoder-platform/community-app/pull/5687

[2021-09-08 07:40] SathyaJayabal commented on #5677
verified on dev
<img width="1440" alt="Screenshot 2021-09-08 at 1 07 31 PM" src="https://user-images.githubusercontent.com/58783823/132466750-cb6ec67b-f986-42e9-871a-f99782dd45ef.png">
<img width="1440" alt="Screenshot 2021-09-08 at 1 07 06 PM" src="https://user-images.githubusercontent.com/58783823/132466769-9bc40b3a-1262-45ac-8865-59b09b0e2ac3.png">
@kkartunov , should we also add the link in th

[2021-09-08 08:54] kkartunov commented on #5677
@SathyaJayabal not needed in not logged in case as there is link to info page when they click the Reffer a friend button.

[2021-09-09 09:44] SathyaJayabal commented on #5676
verified on qa
<img width="1440" alt="Screenshot 2021-09-09 at 3 08 25 PM" src="https://user-images.githubusercontent.com/58783823/132663136-01a04207-c088-445c-87ca-c3bc7ac5a004.png">
<img width="1440" alt="Screenshot 2021-09-09 at 3 12 14 PM" src="https://user-images.githubusercontent.com/58783823/132663177-b68dac12-5366-4b53-a24b-c54eb6418bf8.png">

[2021-09-09 11:01] luizrrodrigues opened #5691 "Challenge Details - Add "All About Topcoder" thrive link"
Adding new link to the sidebar

![Screen Shot 2021-09-03 at 09 28 54](https://user-images.githubusercontent.com/4476442/131942814-360ead20-e161-4f29-b7a6-b5b081bb99f2.png)

[2021-09-09 11:16] luizrrodrigues commented on #5691
@SathyaJayabal Deployed to Stag env

[2021-09-09 11:26] SathyaJayabal commented on #5691
verified on staging
<img width="1440" alt="Screenshot 2021-09-09 at 4 54 39 PM" src="https://user-images.githubusercontent.com/58783823/132677419-84f9abaa-d8c9-4f08-8951-e5d155c79a21.png">

[2021-09-09 12:35] SathyaJayabal commented on #5677
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-09-09 at 6 02 22 PM" src="https://user-images.githubusercontent.com/58783823/132686672-5c4056da-e853-497f-a1a7-5a20bc31505a.png">

[2021-09-09 12:40] SathyaJayabal commented on #5691
verified on staging (develop)
<img width="1440" alt="Screenshot 2021-09-09 at 6 09 47 PM" src="https://user-images.githubusercontent.com/58783823/132687422-1cedf02b-ee83-400f-9b35-970ecdabe7a3.png">

[2021-09-09 12:46] SathyaJayabal commented on #5676
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-09-09 at 6 11 51 PM" src="https://user-images.githubusercontent.com/58783823/132688197-fd6cb3b9-a1dc-4fa7-a3dd-49aafe3164cc.png">
<img width="1440" alt="Screenshot 2021-09-09 at 6 14 09 PM" src="https://user-images.githubusercontent.com/58783823/132688227-9d6a8824-7a0b-427c-8738-66bc3953a214.png">

[2021-09-09 14:17] SathyaJayabal commented on #5677
verified on prod
<img width="1440" alt="Screenshot 2021-09-09 at 7 46 06 PM" src="https://user-images.githubusercontent.com/58783823/132702712-5f18b3c9-5f97-4f1f-93c3-f7ce9129a74d.png">
<img width="1440" alt="Screenshot 2021-09-09 at 7 46 20 PM" src="https://user-images.githubusercontent.com/58783823/132702742-1e3e6719-1881-4bf1-9281-403f74b2f4f3.png">

[2021-09-09 14:17] #5677 closed

[2021-09-09 14:19] SathyaJayabal commented on #5691
verified on prod
<img width="1440" alt="Screenshot 2021-09-09 at 7 48 14 PM" src="https://user-images.githubusercontent.com/58783823/132703199-8321f63a-ee82-474f-872d-3c4c0b5ff148.png">

[2021-09-09 14:19] #5691 closed

[2021-09-09 14:22] SathyaJayabal commented on #5676
verified on prod
<img width="1440" alt="Screenshot 2021-09-09 at 7 50 24 PM" src="https://user-images.githubusercontent.com/58783823/132703496-2c100ba1-f1ec-41db-931b-1d4052d91423.png">
<img width="1440" alt="Screenshot 2021-09-09 at 7 51 12 PM" src="https://user-images.githubusercontent.com/58783823/132703704-50598a04-e013-44ea-9028-b0a7a3722c0e.png">

[2021-09-09 14:22] #5676 closed

[2021-09-10 07:49] rishabhtc opened #5695 "code is not indented in the thrive article"
Code is not intended

Steps:
Go to the thrive article  [https://www.topcoder.com/thrive/articles/Using%20Tries](https://www.topcoder.com/thrive/articles/Using%20Tries)
Scroll down to any code area on the page.
You should be able to see the code in not indented as per the below screenshot (It should be properly indented)

![image](https://user-images.githubusercontent.com/87363070/132819144-4f8f8a7

[2021-09-10 15:58] kalindipandey opened #5696 "Able to see TAAS payments for other members in Past Challenges"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/challenges'
2. Click on past challenges by logging in
3. For my tc handle "kalindikumari" I am able to see TaaS payments in the "Past Challenges"

**Expected behavior**

The user should not be able to see TaaS payments of other members

**Sc

[2021-09-10 16:20] Oanh-and-only-Oanh commented on #5696
@rootelement @luizrrodrigues

[2021-09-10 17:20] luizrrodrigues commented on #5696
@rootelement if search for 'TaaS Payment without auth, API returning some these payments (28 records), all these payments looks like unassigned:

https://api.topcoder.com/v5/challenges/?search=TaaS%20Payment&status=Completed&perPage=10&page=1&sortBy=startDate&sortOrder=desc&tracks[]=DS&tracks[]=Des&tracks[]=Dev&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK

![image](https://user-images.githubuser

[2021-09-13 11:53] SathyaJayabal commented on #5689
verified on dev (develop branch)
<img width="1440" alt="Screenshot 2021-09-13 at 5 22 19 PM" src="https://user-images.githubusercontent.com/58783823/133078786-98972ef9-6367-4d58-8c6f-763732ac3c6a.png">

[2021-09-13 15:06] SathyaJayabal commented on #5689
verified on prod
<img width="1440" alt="Screenshot 2021-09-13 at 8 35 07 PM" src="https://user-images.githubusercontent.com/58783823/133108605-dd7379d5-4fd1-4f91-b54c-b1cb3ebe04ae.png">

[2021-09-13 15:06] #5689 closed

[2021-09-14 12:37] codejamtc opened #5699 "Profile copiloting data is not displayed"
When I access a profile of a Copilot I can see some statistics about the copiloting history called "Copilot Activity" displayed on the profile, But in my profile it is not displayed

![image](https://user-images.githubusercontent.com/42398485/133258674-44703963-cd6c-4377-a591-c6f941b32676.png)

eg: https://www.topcoder.com/members/googlesmkm, https://www.topcoder.com/members/tosha5252

But when I

[2021-09-14 14:40] Oanh-and-only-Oanh commented on #5528
@SathyaJayabal @lakshmiathreya, can you please update or close out?

[2021-09-15 06:25] nursoltan-s opened #5700 "Adding External Links not working"
**Describe the bug**
Creating Linked Accounts (github, bitbucket, stackoverflow etc) is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings -> Accounts -> Linked Accounts'
2. Click on 'Github' link
3. Give Access topcoder access to github.
4. See "Loading data. This will take a few minutes." message in Settings Page
5. Go to Profile page.
6. Observe there is no Github

[2021-09-17 11:39] vicasindia opened #5701 "Profile Page Issue (Not from Dashboard)"
This issue is from profile page.
I wanted to report this issue from a long time.
When I scroll profile card overlap to footer.
Please fix this issue.

![profile](https://user-images.githubusercontent.com/62963429/133482097-c69e30c7-b95b-4b0e-afbc-d52ad14dc64e.png)

[2021-09-17 11:40] kkartunov commented on #5701
Moved this here @vicasindia

[2021-09-17 12:31] vmarpadge opened #5702 "Search Bar arrow overlapping the search icon"
When we open the search bar I can see the bottom arrow overlapping the border of the icon which does not look nice
<img width="1440" alt="Screenshot 2021-09-15 at 9 59 57 PM" src="https://user-images.githubusercontent.com/22873052/133473401-c3914155-c52d-4407-8e29-65f6ee9ace59.png">

[2021-09-17 12:31] kkartunov commented on #5702
Moved here @vmarpadge

[2021-09-20 09:49] kkartunov opened #5703 "Infinite loop detected on gig referrals banner when loading"
As per title. Infinite loop with 429 error.
Fix to free API and resources.
![Screenshot from 2021-09-20 12-48-50](https://user-images.githubusercontent.com/5585002/133983648-6b07d39f-a157-4fe9-9293-0f23fc16f731.png)

[2021-09-20 11:36] SathyaJayabal commented on #5703
A message is now displayed.
<img width="1440" alt="Screenshot 2021-09-20 at 5 05 19 PM" src="https://user-images.githubusercontent.com/58783823/133995869-20312a87-8079-45b2-9c7b-fe983d30eb25.png">

[2021-09-21 06:35] sandhiyakavi commented on #5703
Verified on Staging Env. Message: "Ops, we couldn't load your profile. Please try again later or contact support " is getting displayed now.

![image](https://user-images.githubusercontent.com/55895538/134122870-44e23776-999d-4984-9140-6342b3e94479.png)

[2021-09-21 09:08] sandhiyakavi commented on #5703
Verified on Prod Env.  Message: "Ops, we couldn't load your profile. Please try again later or contact support " is getting displayed

![image](https://user-images.githubusercontent.com/55895538/134143891-377dd943-879d-4512-ae64-c57a339cffbc.png)

[2021-09-21 09:51] #5703 closed

[2021-09-21 11:18] kkartunov opened #5706 "Add caching layer to speed initial /gigs loading"
As per title.

[2021-09-21 18:26] Oanh-and-only-Oanh opened #5707 "Remove extra pages on payment set up flow"
**Current behavior:**
WHEN user is on their payments page, https://community.topcoder.com/PactsMemberServlet?module=PaymentHistory&full_list=false,
IF user wants to set up their payments, they select "How to get paid" link on top right
![image](https://user-images.githubusercontent.com/47536078/134226613-f5516924-4ec9-4ea8-9076-e067b7bccde7.png)
THEN user is directed to https://help.topcoder.com/h

[2021-09-22 00:28] coderReview commented on #5707
Fix issue https://github.com/topcoder-platform/tc-website/pull/52

[2021-09-22 06:41] kkartunov commented on #5706
This also handles #5506
No more duplicates are present in the location dropdown.

[2021-09-23 04:45] sushilshinde opened #5708 "Submissions tab breaking for this challenge 4dd97775-493e-4bb5-b5e3-cd16aa5ab689"
https://www.topcoder.com/challenges/4dd97775-493e-4bb5-b5e3-cd16aa5ab689?tab=submissions

[2021-09-23 05:06] sushilshinde commented on #5708
fixed and available on staging for QA

[2021-09-23 05:32] sandhiyakavi commented on #5708
Verified on Staging Env. Submission tab is not breaking for the challenge.

![image](https://user-images.githubusercontent.com/55895538/134458685-ab5fa1a1-122a-41c6-b2d2-efe872ced470.png)

[2021-09-23 06:13] kkartunov opened #5709 "Referral emails tracking"
Add tracking for refer emails sent from gig details page.

[2021-09-23 09:24] sandhiyakavi commented on #5708
Verified on Staging (Production backend). Working as expected

![image](https://user-images.githubusercontent.com/55895538/134483798-36f53396-cad1-46ab-bb8e-0f5d67f70adc.png)

[2021-09-23 12:27] lakshmiathreya commented on #5708
<img width="1680" alt="Screenshot 2021-09-23 at 5 55 38 PM" src="https://user-images.githubusercontent.com/51733042/134506490-59d0bd3f-04ea-4d8d-b215-2e2b42895d43.png">

[2021-09-23 12:27] lakshmiathreya commented on #5708
Verified Submission tab for this challenge on Prod.

[2021-09-23 14:25] Oanh-and-only-Oanh opened #5712 "Display unassigned task on challenge listings page"
New feature description:

When an unassigned task is created in WM, display this unassigned task on the challenge listings page under the "open for registration" bucket.
-any authenticated member can register for the challenge
-once the ticket has been picked up by a member, the task should be removed from the "open for registration" bucket and appear under "all challenge"
-member can be unassigne

[2021-09-23 15:04] dedywahyudi commented on #5712
@Oanh-and-only-Oanh Okay, i need ask some developer help to fix all these. I'll share once i received the solution

[2021-09-24 00:13] sandhiyakavi opened #5714 "Email settings page is loading for a long time"
Description:

In Settings Preferences-> Email settings page is loading for a long time.

Note: The page is loaded and displayed if refreshed after a certain time.

![image](https://user-images.githubusercontent.com/55895538/134599559-897404aa-a316-4740-8fc2-4bf03a563c54.png)

[2021-09-24 04:35] #5708 closed

[2021-09-24 05:55] drasticdpk commented on #5712
- And challenge details should be display without login to application.
- Currently it is showing in listing page but not on details page.

Reference
https://monosnap.com/file/Op50UkkgdZ3E94KOQtIXl81Zf6VsBE
![image](https://user-images.githubusercontent.com/25297859/134625061-481fefc2-c109-41aa-b4cc-8b5916429547.png)

https://community-app.topcoder-dev.com/challenges/d2e69005-ffda-45ee-a70d-cab4d4

[2021-09-27 04:49] SathyaJayabal commented on #5683
@kkartunov , the new address seems to be
https://beta-community-app.topcoder.com/home

[2021-09-27 06:07] SathyaJayabal commented on #5683
@kkartunov , before the dashboard was available for only the logged in users. Now I think it is available to not logged in users too (as I dont see any user specific data).  Now the logged in users have the `Home` nav item for the new dashboard. But this nav item is missing for not logged in users.
<img width="1440" alt="Screenshot 2021-09-27 at 11 34 46 AM" src="https://user-images.githubusercont

[2021-09-27 06:48] sandhiyakavi commented on #5506
Verified on QA Env. The dropdown values are not duplicated now.

![image](https://user-images.githubusercontent.com/55895538/134858064-1fff6820-94a4-40ed-ad10-b28423c62030.png)

[2021-09-27 07:04] kkartunov commented on #5683
Hi @SathyaJayabal here are the comments:

1. Yes, new address is /home. I updated the ticket.
2. The design is outdated - it has to be 24h time format in UTC time.
3. We don't have blog post about it yet. There will be new slides for the launch that will be linked to posts latter. The 3th slide demoes the capability that links slides from Contentful. It is working fine and we could have linked sli

[2021-09-27 07:12] SathyaJayabal commented on #5683
@kkartunov so the /TC is the new dashboard page ? so should the www.topcoder.com/tc  load the new dashboard?

[2021-09-27 07:18] sandhiyakavi commented on #5706
Verified on Dev (QA) Env.

https://user-images.githubusercontent.com/55895538/134862019-36b3eae2-1511-49a9-b080-5ac97f4f19aa.mp4

[2021-09-27 07:35] kkartunov commented on #5683
yes. This redirect to /tc will be handled later after we relese the codebase.

[2021-09-27 10:45] sdgun commented on #5683
Verified in mobile(Android/ios) observed the below issue.

![image](https://user-images.githubusercontent.com/4592712/134894062-9444743e-8e25-4000-9811-5385bf8dc023.png)

[2021-09-27 12:14] kkartunov commented on #5683
Thanks @sdgun this is fixed in latest comit. cc @SathyaJayabal

[2021-09-27 13:06] kkartunov commented on #5683
latest updates deployed to https://staging-community-app.topcoder.com/home
@SathyaJayabal @sdgun

[2021-09-28 04:52] drasticdpk opened #5718 "Assign task is showing on Open for registration tag"
**Expectation**

Assign task should only display to Assigned user.

Note: This is regression testing of https://github.com/topcoder-platform/community-app/issues/5712

**Reference**

https://user-images.githubusercontent.com/25297859/135024907-2242b309-20cf-4648-b31e-1afc06b530c8.mp4

[2021-09-28 04:53] drasticdpk commented on #5712
Dev verification

**Basic flow**
https://user-images.githubusercontent.com/25297859/135023043-3fe78aa3-a45c-4923-9116-c8f1991d6528.mp4

**Data Science Task with forums off**

![image](https://user-images.githubusercontent.com/25297859/135022245-e055f9da-cb82-4041-a8d8-f5a63df04c6a.png)

**Design task( Updating forums after unregister the task )**

![image](https://user-images.githubusercontent.com

[2021-09-28 05:07] drasticdpk opened #5719 "Winner tab is missing for completed task"
**Steps** : Create new task/Assign it to any user and close it.

**Work Manager**

![image](https://user-images.githubusercontent.com/25297859/135026480-d4db41e4-fad1-4c25-8c6e-13d104464a8d.png)

**Community app**

![image](https://user-images.githubusercontent.com/25297859/135026545-0b0d2202-752b-47e2-9046-57a992225737.png)

[2021-09-28 05:08] drasticdpk commented on #5719
cc  @SathyaJayabal

[2021-09-28 06:11] sandhiyakavi commented on #5706
Verified on staging Env.

https://user-images.githubusercontent.com/55895538/135032767-be870d28-8c3f-4290-ab96-b3dde7568f4a.mp4

[2021-09-28 06:13] sandhiyakavi commented on #5506
Verified on Staging Env.

![image](https://user-images.githubusercontent.com/55895538/135032956-7cebdd9c-419e-4144-bd8d-2f5869088a49.png)

[2021-09-28 06:28] SathyaJayabal commented on #5683
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-09-28 at 11 56 36 AM" src="https://user-images.githubusercontent.com/58783823/135034676-4f59962b-b78f-4161-a2c9-a2a622a1969d.png">

[2021-09-28 10:15] sandhiyakavi commented on #5683
Verified in Prod

![image](https://user-images.githubusercontent.com/55895538/135068558-9f03d172-d11f-44a8-ad78-caf8c097c0f3.png)

[2021-09-28 10:16] #5683 closed

[2021-09-28 10:19] sandhiyakavi commented on #5706
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/55895538/135069054-186b5250-8b33-48ef-9168-c937b0efb06f.png)

[2021-09-28 10:19] #5706 closed

[2021-09-28 10:22] sandhiyakavi commented on #5506
Verified on Prod Env

![image](https://user-images.githubusercontent.com/55895538/135069581-8b8d530a-5286-4c90-8856-37cfb981d727.png)

[2021-09-28 10:22] #5506 closed

[2021-09-28 15:12] dedywahyudi commented on #5712
@drasticdpk so, for this challenge details page need to visible without user need to login?

[2021-09-28 15:13] dedywahyudi commented on #5712
@drasticdpk
can you explain what need to do with these 2 images?

[2021-09-28 15:16] dedywahyudi commented on #5712
@Oanh-and-only-Oanh

An unassigned task should be accompanied with a forum discussion
- So, for all unassigned task need automatically create the forum discussion? How about user select Forum Discussion Off on Step 1 of Launch New Challenge? They not overlapping?

[2021-09-28 15:54] drasticdpk commented on #5712
This is not issue, it is verification reference cc @dedywahyudi

[2021-09-28 15:57] drasticdpk commented on #5712
yes correct , challenge should be visible to public without login to application.

[2021-09-30 12:25] kkartunov opened #5721 "Start page update"
https://www.topcoder.com/start new design and update.

Desktop: https://marvelapp.com/prototype/15ff8jgj/screen/82264831
Mobile: https://marvelapp.com/prototype/15fgfedj/screen/82183678

[2021-10-01 12:00] kkartunov commented on #5721
@SathyaJayabal QA link: https://qa-community-app.topcoder-dev.com/examples/contentful/viewport/69PIeGEr86ALH5DJzjKShB
After release we will switch this new page to /start from Contentful.

[2021-10-04 07:24] kkartunov opened #5722 "Wrong links building at /home gigs"
1. Links for Gigs section at /home are wrong. Instead `https://community-app.topcoder.com/gigs...` those should use the `https://topcoder.com/gigs...` addresses.
2. View all challenges should change to /challenges.

[2021-10-04 07:31] kkartunov commented on #5722
@SathyaJayabal

[2021-10-04 07:36] kkartunov opened #5723 "Add new options to "where did you hear about this gig" in the application"
To add:

"Topcoder Newsletter"
"Referral"

[2021-10-04 07:43] kkartunov commented on #5723
@SathyaJayabal deployed on test env.

[2021-10-04 12:13] sdgun commented on #5723
Verified in dev

![image](https://user-images.githubusercontent.com/4592712/135849076-75a2d490-35ec-4f43-bc44-150e30bca5ce.png)

[2021-10-04 12:17] sdgun commented on #5722
Verified in Beta.

https://user-images.githubusercontent.com/4592712/135849898-6d385868-d280-4132-bf47-8b6faf385430.mp4

[2021-10-04 13:19] sdgun commented on #5721
In iOS the images on the animation are not loading.

ios - 14

Ex-

![Image from iOS](https://user-images.githubusercontent.com/4592712/135858333-86f4795b-834c-4115-af2c-23533bd8b4b5.png)

![Image from iOS](https://user-images.githubusercontent.com/4592712/135858340-2bde1c64-bb8e-4542-8329-d7c7234ade72.jpg)

[2021-10-04 14:17] kkartunov commented on #5721
@sdgun me, the team and other testers do see the images.
Can you make sure it is not connection issue or slow speed issue?
Some screenshots from console will help too

[2021-10-04 14:17] kkartunov commented on #5721
@SathyaJayabal can you confirm the issue?

[2021-10-04 14:30] kkartunov commented on #5721
@SathyaJayabal @sdgun looks those phones have issues with SVGs. Here are the raw srouce links for the images, do you can see them?

https://images.ctfassets.net/b5f1djy59z3a/3sAwNaFzuwGmmZPYSJikJi/0c578a37f31c4a7c6ba5b6e31fe149a9/icon-build-skills.svg
https://images.ctfassets.net/b5f1djy59z3a/3U8CiHTjU2umzKo7YF08IM/c2ab6e9c5b0c4d8bf42fe6372a239c47/icon-learn.svg
https://images.ctfassets.net/b5f1dj

[2021-10-04 14:33] SathyaJayabal commented on #5721
I can these
![samplesvg](https://user-images.githubusercontent.com/58783823/135870404-7371926a-1610-458b-98ac-0ecfb0b33202.jpeg)

[2021-10-04 19:26] luizrrodrigues commented on #5712
@dedywahyudi this one related with this PR https://github.com/topcoder-platform/community-app/pull/5713 ?

[2021-10-04 20:08] kkartunov opened #5724 "Thrive - like/dislike vulnerability"
![image](https://user-images.githubusercontent.com/5585002/135917314-3a96b910-3757-4bac-9e7a-67d17b2b35f8.png)

[2021-10-05 01:33] dedywahyudi commented on #5712
@luizrrodrigues yes, but still not complete yet.
I'll let you know later

[2021-10-05 01:50] luizrrodrigues commented on #5712
@dedywahyudi Oh okay, I'll remove from release today then.

[2021-10-05 02:45] SathyaJayabal commented on #5721
@kkartunov verified
![8148](https://user-images.githubusercontent.com/58783823/135952127-a04b8cdf-c849-41b8-a57d-8c0a9ab7348e.jpeg)

[2021-10-05 06:38] sdgun commented on #5723
Verified in Staging.

![image](https://user-images.githubusercontent.com/4592712/135972583-93c40b8f-9d2b-4e8e-97cb-59a1ecda38c6.png)

[2021-10-05 06:56] sdgun commented on #5722
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/135974744-270a2b94-147e-4167-b15e-845e4e42ae28.png)

[2021-10-05 07:22] sdgun commented on #5721
Verified in staging

![image](https://user-images.githubusercontent.com/4592712/135977931-6a94b8ca-f771-48a8-bf98-283954860fe9.png)

[2021-10-05 09:20] SathyaJayabal commented on #5721
@kkartunov , verified the test page on prod, we can update the start page
<img width="1431" alt="Screenshot 2021-10-05 at 2 49 18 PM" src="https://user-images.githubusercontent.com/58783823/135996135-d6b1636f-b8cd-4c48-9cd4-9baf2e873106.png">

[2021-10-05 09:20] #5721 closed

[2021-10-05 09:23] SathyaJayabal commented on #5723
verified on prod
<img width="1440" alt="Screenshot 2021-10-05 at 2 52 46 PM" src="https://user-images.githubusercontent.com/58783823/135996631-0afe1226-a0d8-4e7c-8d13-032ecf193bd2.png">

[2021-10-05 09:23] #5723 closed

[2021-10-05 09:25] SathyaJayabal commented on #5722
verified on prod
<img width="1440" alt="Screenshot 2021-10-05 at 2 53 38 PM" src="https://user-images.githubusercontent.com/58783823/135996927-44e79873-7a12-4124-b0ce-15485a06ba19.png">
<img width="1440" alt="Screenshot 2021-10-05 at 2 53 56 PM" src="https://user-images.githubusercontent.com/58783823/135996976-a4027b25-6060-44f2-aed8-fb8b75c21da1.png">

[2021-10-05 09:25] #5722 closed

[2021-10-05 15:57] dedywahyudi commented on #5712
@Oanh-and-only-Oanh @drasticdpk @luizrrodrigues

PR for this ready, please test & review
https://github.com/topcoder-platform/topcoder-react-lib/pull/316
https://github.com/topcoder-platform/community-app/pull/5731

[2021-10-06 08:06] luizrrodrigues opened #5732 "Remove X-Frame-Options from DocuSign request"
Reference: https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/18

[2021-10-06 09:15] sandhiyakavi commented on #5732
Verified in Dev Env.

NDA Terms:

https://user-images.githubusercontent.com/55895538/136174634-f9d0ff49-d909-4162-aad9-38f15a88b10d.mp4

Standard Terms:

https://user-images.githubusercontent.com/55895538/136174738-19aad35c-d49a-4b9f-a1ba-df19a3e2b85e.mp4

[2021-10-06 19:10] luizrrodrigues commented on #5712
@SathyaJayabal Ready for QA in Stag and Dev.

cc @dedywahyudi @Oanh-and-only-Oanh

[2021-10-07 06:41] #5732 closed, assigned to luizrrodrigues

[2021-10-07 06:45] SathyaJayabal commented on #5709
verified on staging:

1. succesful referral:

<img width="1440" alt="Screenshot 2021-10-07 at 12 05 24 PM" src="https://user-images.githubusercontent.com/58783823/136332825-59cc4220-d6fa-428e-877a-ebcc90fea320.png">
![Screenshot_20211007-094234](https://user-images.githubusercontent.com/58783823/136332953-5c1956b2-fa65-4ce6-a230-da55be593ef1.png)

error scenarios:
2. not allowed to send to yoursel

[2021-10-07 07:14] luizrrodrigues commented on #5712
Deploying to Stag and Dev again.

[2021-10-07 07:50] drasticdpk commented on #5712
Verified on Dev env.
**Without user login challenge is listing and register button is enable.**
![image](https://user-images.githubusercontent.com/25297859/136341275-33d7d3ad-730e-459d-99a8-472d8df7b376.png)

**Forums is showing for register user ( with forums enable from WM)**
![image](https://user-images.githubusercontent.com/25297859/136341692-5cc3f335-e5ad-4b6f-a194-b6f6ec5eef80.png)

**Task u

[2021-10-07 07:50] SathyaJayabal commented on #5709
verified on prod
<img width="1440" alt="Screenshot 2021-10-07 at 1 18 40 PM" src="https://user-images.githubusercontent.com/58783823/136342377-7ec38933-04f5-4bef-8ae9-12ef881bd866.png">
<img width="1440" alt="Screenshot 2021-10-07 at 1 18 57 PM" src="https://user-images.githubusercontent.com/58783823/136342400-3413f536-e375-454a-a2de-922958fbf56c.png">
<img width="1440" alt="Screenshot 2021-10-07

[2021-10-07 12:30] drasticdpk commented on #5712
Register button does not enable for Challenge type TASK
Reference :
![image](https://user-images.githubusercontent.com/25297859/136384112-f7118f33-8107-44e1-a393-f97352d14b2c.png)
Reference :
http://www.topcoder.com/challenges/5cb3c452-6196-497a-8d94-3191497ad7f8
![image](https://user-images.githubusercontent.com/25297859/136384284-16b988e4-5d21-45b7-a755-12a6cf61d5db.png)

cc @luizrrodrigues @Oan

[2021-10-11 04:20] nithyaasworld opened #5738 "Regarding the Accessibility overlay 'AccessiBe'"
**Describe the bug**
This is regarding the Accessibility overlay 'accessiBe'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.topcoder.com
2. Check the 'Accessibility overlay' icon present at the left lower corner

**Expected behavior**
This is originally reported here: https://github.com/topcoder-platform/Training-Challenges/issues/279#issuecomment-939038450

Statement by the repor

[2021-10-12 13:02] nursoltan-s opened #5739 ""Home" page's challenges total prize is wrong."
**Describe the bug**
Dashboard (Home) page's challenges component's total prize is displaying wrong prize.

**To Reproduce**
1. Go to 'https://www.topcoder.com/home'
2. Select one challenge and see total prize.
3. Click on challenge and see placement prizes.
4. See error home page's total prize and challenge detail page's prizes are not equal. Home page's prize is adding copilot's prize as well.

[2021-10-13 05:42] sandhiyakavi opened #5740 "Clicking the Submission Review tab, not redirecting to the Challenge's submission review page.[Dev Env]"
Description:

In Dev Environment, clicking the Submission Review tab is not redirecting to the Challenge's submission review page.

The URL linked to the Submission tab is https://submission-review.topcoder-dev.com/challenges/30059745 but it is getting redirected to https://submission-review.topcoder-dev.com

https://user-images.githubusercontent.com/55895538/137073749-cd2bd65b-4266-4f74-ba8f-9f6f

[2021-10-13 20:59] kkartunov commented on #5739
@SathyaJayabal this is deployed on staging for QA against real challanges.

[2021-10-14 03:10] SathyaJayabal commented on #5739
verified on staging (feature branch)
<img width="1440" alt="Screenshot 2021-10-14 at 8 39 29 AM" src="https://user-images.githubusercontent.com/58783823/137244457-08cebc6d-dab8-496a-8394-e953000f5639.png">

[2021-10-14 06:57] sandhiyakavi commented on #5739
Verified on Staging Env

![image](https://user-images.githubusercontent.com/55895538/137267063-310c8574-8a20-4e6c-ac90-7830c6564ee3.png)

[2021-10-14 08:46] #5739 closed, assigned to kkartunov

[2021-10-14 18:28] drasticdpk commented on #5712
QA pass on prod
Reference : https://github.com/topcoder-platform/work-manager/issues/1244

[2021-10-20 02:56] Oanh-and-only-Oanh commented on #5718
**Temp Solution** : we can add ‘Hide_Challenge’ group from WM and hide it from the public.
Let me inform this to copilot group too.

[2021-10-20 10:54] lakshmiathreya commented on #5718
@SathyaJayabal @LieutenantRoger @drasticdpk @ThomasKranitsas - whats the next step for this Issue? cc @Oanh-and-only-Oanh

[2021-10-20 14:44] coderhacker opened #5744 "Submission throwing error for tasks for all tracks [Dev, Design, DS and QA]"
**Describe the bug**
When trying to submit complete work through the community app. It's a throwing error. please see attached screenshot for the issue

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Task of any tracks for eg.''https://www.topcoder.com/challenges/53df552c-2c99-48cc-a0f3-2832605afa8a"
2. Click on ''Submit" button
3. See an error
4.
![image](https://user-images.githubuse

[2021-10-21 08:13] codejamtc commented on #5744
@lakshmiathreya This is not a `Task`? https://www.topcoder.com/challenges/4bbbc3d6-c762-4f11-8894-de330bad7456
This is a dev challenge? cc @coderhacker

[2021-10-21 11:30] kkartunov opened #5745 "Broken gig referral when applying to gigs"
We detected that teferreal tracking got broken.
Scope is to fix it back to normal ops.

[2021-10-21 13:56] LieutenantRoger commented on #5718
Looks the WM team will plan to fix this issue from the backend side, so I will not push forward my fixes to WM.

[2021-10-21 18:12] Oanh-and-only-Oanh opened #5747 "Font change"
**Describe the issue:** We don't own a license to use the font we are using on the community app  for web, and it’s not one of our brand fonts.

**Expected change**: Replace the use of Sofia Pro with Roboto or Barlow Condensed (headlines only). Screenshots provided by the type foundry for reference but we’re also hosting the font here: https://community-app-cdn.topcoder.com/static-assets/fonts/4d4

[2021-10-22 01:44] #5745 closed

[2021-10-22 06:49] kkartunov opened #5749 "Thrive Spooky 1 hunt P0s - 1"
In scope:
~~https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/301~~
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/288
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/188
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/173
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/149

Edit: 301 removed from release.

[2021-10-22 13:47] drasticdpk opened #5750 "CSP Enabled Verification"
**1.  The below header should be present as response CSP header**

`default-src 'none'; base-uri 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://community-app-cdn.topcoder.com https://cdn.segment.com https://www.google-analytics.com https://cdn.heapanalytics.com https://www.googletagmanager.com https://browser.sentry-cdn.com https://fast.trychameleon.com https://connect.facebook.ne

[2021-10-28 09:16] sandhiyakavi opened #5757 "Getting Error message on clicking the Challenge tab of Member Profile screen"
Description:

Getting Error message "Failed to get member subtrack challenges" on clicking the Challenge tab of Member Profile screen.
Note: This issue happens only for logged in users.

Steps to Reproduce:
1. Login to the community app.
2. Go to Member profile screen https://www.topcoder.com/members/iamtong
3.  click any of the subtrack.
4.  Click the Challenge tab.

sample: https://www.topcoder.

[2021-10-28 10:18] #5749 closed, assigned to kkartunov

[2021-10-28 10:21] #5747 closed, assigned to luizrrodrigues

[2021-11-01 03:52] coderhacker commented on #5744
This is passed on production, please attached screenshot

https://user-images.githubusercontent.com/62358241/139619344-b0c2a5a9-d0a6-434d-89fc-42c33ce2c458.mp4

[2021-11-01 03:52] #5744 closed

[2021-11-01 14:50] lakshmiathreya opened #5761 "Some Production Challenge Submissions landing in topcoder-dev bucket"
Reported by @RiteshTC ::
[problematic-submission.csv](https://github.com/topcoder-platform/community-app/files/7454037/problematic-submission.csv)
Some Production challenge submissions are landing in topcoder-dev-submissions-dmz bucket instead of prod submission bucket topcoder-submissions-dmz
eg Submission Id = 5a033a3e-0d57-442c-b5c1-a602a34457d9 .
The attached csv extract shows other submission

[2021-11-01 14:54] lakshmiathreya commented on #5761
<img width="1115" alt="prod" src="https://user-images.githubusercontent.com/51733042/139691695-e09b780d-e73c-4251-a54b-c0c41a5f5237.png">

[2021-11-02 07:58] sandhiyakavi opened #5762 "Typo error in the validation message of the Gig Application page"
Description:

Typo error in the validation message "Please, select your **reffereal**" of the Gig Application page.

![image](https://user-images.githubusercontent.com/55895538/139807535-3fe89e5e-f5ba-4eaa-9806-0cea7e5980d6.png)

[2021-11-02 09:03] kkartunov opened #5763 "Thrive spooky1 bugs - 2"
In scope are:

https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/186
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/400
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/109
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/441
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/467 related with 441
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/303
https://

[2021-11-02 18:07] kkartunov commented on #5763
@SathyaJayabal on beta please check.

[2021-11-03 05:14] sandhiyakavi commented on #5763
Verified in Beta Env.

1. https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/186
![image](https://user-images.githubusercontent.com/55895538/140010660-1f182c06-8b78-49e5-a1db-dd6ca7b50bb6.png)

2. https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/400

https://user-images.githubusercontent.com/55895538/140011077-dfb61d5c-bb33-4375-88a4-3ba0f21cda8a.mp4

3. https://gitlab.com/topcoder-thr

[2021-11-03 07:56] kkartunov opened #5764 "Contentful tabs - mobile update"
Scope: update tabs for mobile (<768px) devices as per this design https://marvelapp.com/prototype/ed9e597/screen/83121229

URL: https://tco21.topcoder.com/interviews?tracks[tco21-algorithm]=0&tracks[tco21-development]=0&tracks[tco21-f2f-interview]=0&tracks[tco21-marathon]=0&tracks[tco21-qa-track]=0&tracks[tco21-track]=0&tracks[tco21-trip-winners]=0&tracks[tco21-ui-design-track]=0

[2021-11-04 07:17] luizrrodrigues opened #5766 "Gigs apply integration API Update"
Update the get RCRM profile API `/profile` to return salaryExpectation and skill if they are presented on rcrm

[2021-11-04 08:03] SathyaJayabal commented on #5766
verified on dev
<img width="1440" alt="Screenshot 2021-11-04 at 1 33 00 PM" src="https://user-images.githubusercontent.com/58783823/140278220-80223941-e402-447e-ae7b-4cf3e53f8cbb.png">

[2021-11-04 08:19] sandhiyakavi commented on #5763
Verified in Staging Env. Working as expected.

[2021-11-04 09:11] sandhiyakavi commented on #5763
Verified in Staging Env (Smoke test). Working as expected

[2021-11-04 09:25] SathyaJayabal commented on #5766
verified on prod
<img width="1440" alt="Screenshot 2021-11-04 at 2 53 19 PM" src="https://user-images.githubusercontent.com/58783823/140289306-13da60f7-57f3-4831-9806-79a2e0347a1b.png">

[2021-11-04 09:26] #5766 closed

[2021-11-04 09:28] sandhiyakavi commented on #5763
Verified in Prod Env. Working as Expected.

[2021-11-04 09:28] #5763 closed

[2021-11-11 02:25] luizrrodrigues opened #5771 "[$2] TCX test (please ignore) 1"
Description

[2021-11-11 02:37] luizrrodrigues commented on #5771
@bug-bash-helper

[2021-11-11 02:37] luizrrodrigues commented on #5771
@bug-bash-helper assign me

[2021-11-11 02:40] luizrrodrigues commented on #5771
@bug-bash-helper assign me

[2021-11-11 02:56] luizrrodrigues commented on #5771
Challenge https://www.topcoder.com/challenges/ebd14a54-8af3-4f92-a7ff-150747f47a0a has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-11-11 02:56] luizrrodrigues commented on #5771
Challenge https://www.topcoder.com/challenges/ebd14a54-8af3-4f92-a7ff-150747f47a0a has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-11-11 02:57] luizrrodrigues commented on #5771
@bug-bash-helper unassign me

[2021-11-11 02:58] LieutenantRoger opened #5772 "[$2] Test 2 Please Ingore1"
**Describe the bug**
A clear and concise description of what the bug is.

[2021-11-11 02:58] LieutenantRoger commented on #5772
@bug-bash-helper

[2021-11-11 03:04] LieutenantRoger commented on #5771
Challenge ebd14a54-8af3-4f92-a7ff-150747f47a0a has been cancelled<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 03:04] LieutenantRoger commented on #5772
Challenge https://www.topcoder.com/challenges/ed240811-00cd-4d51-b823-e5325f3271dd has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 03:04] LieutenantRoger commented on #5772
@bug-bash-helper

[2021-11-11 03:07] LieutenantRoger commented on #5772
Challenge https://www.topcoder.com/challenges/ed240811-00cd-4d51-b823-e5325f3271dd has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 03:07] LieutenantRoger commented on #5772
Challenge https://www.topcoder.com/challenges/ed240811-00cd-4d51-b823-e5325f3271dd LieutenantRoger has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 03:09] LieutenantRoger commented on #5772
@bug-bash-helper

[2021-11-11 03:09] luizrrodrigues commented on #5772
@bug-bash-helper

[2021-11-11 03:13] LieutenantRoger commented on #5772
@bug-bash-helper

[2021-11-11 03:14] LieutenantRoger commented on #5772
@bug-bash-helper

[2021-11-11 03:16] luizrrodrigues commented on #5771
@bug-bash-helper

[2021-11-11 03:16] luizrrodrigues commented on #5772
@bug-bash-helper

[2021-11-11 03:17] LieutenantRoger commented on #5772
@bug-bash-helper

[2021-11-11 03:19] LieutenantRoger commented on #5771
@bug-bash-helper

[2021-11-11 03:19] LieutenantRoger commented on #5771
@bug-bash-helper

[2021-11-11 03:19] LieutenantRoger commented on #5771
Challenge https://www.topcoder.com/challenges/c9d6dbb0-ff5d-4b5a-aa38-8cd390de949f has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 03:25] LieutenantRoger commented on #5772
@bug-bash-helper

[2021-11-11 03:27] LieutenantRoger commented on #5772
Challenge https://www.topcoder.com/challenges/ed240811-00cd-4d51-b823-e5325f3271dd has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 03:30] LieutenantRoger opened #5773 "[$1] Test 3"
**Describe the bug**
A clear and concise description of what the bug is.

[2021-11-11 03:30] LieutenantRoger commented on #5773
Challenge https://www.topcoder.com/challenges/8c902c8d-a1be-4394-b556-4f463be47c43 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 03:31] LieutenantRoger commented on #5771
@bug-bash-helper assign me

[2021-11-11 03:31] LieutenantRoger commented on #5771
@bug-bash-helper assign me

[2021-11-11 03:31] LieutenantRoger commented on #5771
Challenge https://www.topcoder.com/challenges/c9d6dbb0-ff5d-4b5a-aa38-8cd390de949f has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 03:33] LieutenantRoger commented on #5773
@bug-bash-helper

[2021-11-11 03:34] LieutenantRoger commented on #5773
@bug-bash-helper

[2021-11-11 03:34] LieutenantRoger commented on #5773
@bug-bash-helper

[2021-11-11 03:34] LieutenantRoger commented on #5771
@bug-bash-helper

[2021-11-11 03:35] LieutenantRoger commented on #5771
@bug-bash-helper assign me

[2021-11-11 03:35] luizrrodrigues commented on #5773
@bug-bash-helper

[2021-11-11 03:35] luizrrodrigues commented on #5773
@bug-bash-helper

[2021-11-11 03:37] #5771 closed

[2021-11-11 03:37] LieutenantRoger commented on #5771
Challenge c9d6dbb0-ff5d-4b5a-aa38-8cd390de949f has been cancelled<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 03:38] LieutenantRoger commented on #5772
Challenge https://www.topcoder.com/challenges/ed240811-00cd-4d51-b823-e5325f3271dd LieutenantRoger has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 03:38] #5772 closed

[2021-11-11 03:38] LieutenantRoger commented on #5772
Challenge ed240811-00cd-4d51-b823-e5325f3271dd has been cancelled<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 03:40] #5773 closed

[2021-11-11 03:40] LieutenantRoger commented on #5773
Challenge 8c902c8d-a1be-4394-b556-4f463be47c43 has been cancelled<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-11 04:09] LieutenantRoger opened #5774 "RCRM API Update in Community App"
1. Make the Apply For Job endpoint to be able to serve the MFE while maintain all the features.
2. Make sure all the other endpoints are not getting affected related to the RCRM Endpoint

https://docs.google.com/document/d/1wjvWoOyJoEvXtB9cWmGBdYjrjj_9Zh1S5VXd-XUfsr0/edit?usp=sharing

[2021-11-11 05:44] SathyaJayabal commented on #5774
@kkartunov @LieutenantRoger , the referral field is not getting updated in rcrm, when user applies using the referral link.

[2021-11-11 08:37] SathyaJayabal commented on #5774
This is verified on staging with RCRM prod.
Working as expected
![Screenshot from 2021-11-11 10-24-25](https://user-images.githubusercontent.com/58783823/141265429-f5b7a325-3f5e-4e2d-98a0-d4deab9ff819.png)
![Screenshot from 2021-11-11 10-23-30](https://user-images.githubusercontent.com/58783823/141265440-7ca59d78-3e97-482c-ad8a-136f680214a8.png)

[2021-11-11 11:26] luizrrodrigues opened #5775 "feat: signup mail takes user to /onboard"
activate the new onboarding flow: https://platform.topcoder.com/onboard

Ref.: https://github.com/topcoder-platform/navigation-component/pull/188

[2021-11-12 07:39] LieutenantRoger opened #5780 "Tracks not updating"
**Steps to Reproduce**
1. https://www.topcoder.com/settings/profile
2. Open 'Basic info' tab
3. Scroll down and select tracks then save

**Actual Result(s)**
Fail to update user trait

**Expected Result(s)**
Should update tracks

**Environment Details**

Device(s): Laptop
Operating System:
Browser: Chrome Version 94.0.4606.81 (Official Build) (64-bit)![track-2](/uploads/7c80fd4fadbee70a2ed5efab25d

[2021-11-12 07:39] LieutenantRoger opened #5781 "[$10] Even though first name last name are required, my profile page shows empty fields"
**Summary**
Even though first name last name are required, my profile page shows empty fields . To be clear , I have entered my first name , last name on my TC Profile

**Issue Type**
Functional

**Steps**
1. Open https://www.topcoder.com/settings/profile
2. Observe on my profile there is no firstname, lastname even though it shows that they are required

**Actual result**: Even though first name

[2021-11-12 07:39] LieutenantRoger opened #5782 "Bio does not get updated"
1. Update short bio in settings page - https://www.topcoder.com/settings/profile and then save changes
2. It gets displayed in community profile but not in MFE profile
![image](/uploads/8663362e2f77934e31205c62f8f91753/image.png)

![image](/uploads/e991b6fe25e486f8f1b9b06665b2f84e/image.png)

[2021-11-12 07:39] LieutenantRoger opened #5783 "[$25] textbox validation missing"
**Steps to Reproduce**

Open the link  https://www.topcoder.com/settings/profile   <br/>
<br/>
<br/>
click First name enter as @#$

_**Actual Result(s)**<br/>_
invalid input accepted

_**Expected Result(s)**<br/>_
Should not allow invalid input ![bandicam_2021-10-22_20-20-02-835](/uploads/3dda9b51a9201f320737413f6f4ee661/bandicam_2021-10-22_20-20-02-835.mp4)

![bandicam_2021-10-22_20-20-14-092](/u

[2021-11-12 07:39] LieutenantRoger opened #5784 "Track changes not reflecting on MFE"
## Steps
Go to https://www.topcoder.com/settings/profile
Toggle all untoggled tracks in your profile
Click Save Changes
Check your profile https://www.topcoder.com/members/[handle]
Check your MFE profile https://platform.topcoder.com/profile/[handle]

## Expected Result
Changes should reflect on both profile and MFE profile

## Actual Result
Changes only reflect on My profile but not on MFE profil

[2021-11-12 07:39] LieutenantRoger opened #5785 "Avatar not getting updated"
Avatar not getting updated

**Steps to Reproduce**
1. Go to https://www.topcoder.com/settings/profile
2. Upload new Avatar
3. https://platform.topcoder.com/profile/akiransa

_**Actual Result(s)**<br/>_
Updated avatar not reflected

_**Expected Result(s)**<br/>_
Avatar updated

**Environment Details**

_**Device(s):**_
Laptop<br/>
_**Operating System:**_
Windows 10<br/>
_**Browser:**_
Google Chrome

[2021-11-12 07:40] LieutenantRoger opened #5786 "[$25] Edit option is still enabled after the hobby is deleted"
### Steps to Reproduce

1. Open https://www.topcoder.com/settings/profile#hobbies
1. Add a new hobbies and click edit
1. now delete the hobby and Observe the edit hobby option is still there.

### Screenshots or Screen Capture

![Screenshot__628_](/uploads/d0d1342d7fca9fd75da418fd157e3e52/Screenshot__628_.png)

### Current Results

Edit option is still enabled after the hobby is deleted

### Expec

[2021-11-12 07:40] LieutenantRoger opened #5787 "Cannot replace profile photo with new one"
Issue while trying to add new profile photo by replacing old one![Screenshot_2021-10-22_202227](/uploads/9d6496a605893d1aa4a24045cd44ac16/Screenshot_2021-10-22_202227.jpg)[TopCoder.7z](/uploads/af37d734dab85f24eba86e81b396bfb6/TopCoder.7z)

**Steps to Reproduce:**

1. open https://topcoder.com/settings/profile
2. click on profile photo & add photo
3. now, try to change to new photo
4. not able to

[2021-11-12 07:40] LieutenantRoger opened #5788 "Skills are not updated on either platform"
**Summary**
Skills are not updated on either platform after editing

**Issue Type**
Functional

**Steps**
1. Open https://www.topcoder.com/settings/profile
2. Remove a skill
3. Open your profile page on MFE as well as the other one, it shows the skill still present

**Actual result**: Skills are not updated on either platform

**Expected results**: Should update skill

**Snapshots/Recording**
![Ed

[2021-11-12 07:40] LieutenantRoger opened #5789 "Hobby is not getting deleted"
*Steps to Reproduce*
1.https://www.topcoder.com/settings/profile#hobbies
2. Delete a hobby and refresh the page.
3. Deleted hobby is still visible.

*Actual Result(s)*<br/>
Deleted hobby is visible

*Expected Result(s)*<br/>
Deleted hobby shouldn__ be visible

*Environment Details*

*Device(s):*
Laptop<br/>
*Operating System:*
Mac OS<br/>
*Browser:*
Safari Version 15.0 (16612.1.29.41.4, 16612)

[2021-11-12 07:40] LieutenantRoger opened #5790 "Wrong TRACKS between profile and dashboard (profile settings)"
Device: Computer
Operating System: Windows 10
Browser: Chrome Version 94

Steps to reproduce:
From https://www.topcoder.com/settings/profile#basic-info
go to TRACKS then disable all tracks and save
Then go to https://www.topcoder.com/members/mosaixel and you will see that tracks icons are no more displayed under the profile picture
Go back to https://www.topcoder.com/settings/profile#basic-info an

[2021-11-12 07:40] LieutenantRoger opened #5791 "Can't set/clean skill properly"
Go to https://www.topcoder.com/settings/profile#skills

Try Set a skill by typing `C` in the autocomple.

Scroll down to `C`

1. C is dumplicated option in the dropdown.
2. Click on 1st `C`
3. Try clean it. Not possible.

Expected: should be able to clean once skill is selected.

![Screenshot_from_2021-10-22_18-00-40](/uploads/4a0114f3129863fa706283f89322574e/Screenshot_from_2021-10-22_18-00-40.pn

[2021-11-12 07:40] LieutenantRoger opened #5792 "Github Linked accounts not syncing"
Steps:

1. Go to settings page
2. Go to Accounts -> Linked Accounts
3. Click on github icon and connect account with github
4. Go to profile page

Expected Result: It should reflect github account

Actual Result: It is not

Environment: Device: Laptop OS: MacOS Browser: Chrome

![screencast_2021-10-22_23-06-40](/uploads/3a5b4b2a759c39ac876255c100eb2d30/screencast_2021-10-22_23-06-40.mp4)

[2021-11-12 07:40] LieutenantRoger opened #5793 "Adding "AWS Glue" skill gives error"
**Steps to Reproduce**
Go to https://www.topcoder.com/settings/profile#skills

Try to add skill "AWS Glue"

Get error message (screenshot)

Page ends up completely broken

***Actual Result(s)***
Error:

" ERROR: Failed to add user skill!

We are sorry that you have encountered this problem. Please, contact our support __upport@topcoder.com_ to help us resolve it as soon as possible."

***Expected

[2021-11-12 07:40] LieutenantRoger opened #5794 "When put space initially so Name of College or University does not give caution message"
**Steps to Reproduce**

1. Go to the https://www.topcoder.com/settings/profile
2. Go to the the Education section so fill blank in the Name of College or University and click on the add education to the list

**Actual Result(s)**
When put space initially so Name of College or University does not give caution message

**Expected Result(s)**
Should provide the caution msg if enter blank

**Screen sh

[2021-11-12 07:40] LieutenantRoger opened #5795 "[$10] Can upload any type of file to Profile picture, no file validation"
**Summary**
Can upload any type of file to Profile picture

**Issue Type**
Functional

**Steps**
1. Open https://www.topcoder.com/settings/profile
2. Click upload a new avatar and select All Files from File Type and select a .zip file

**Actual result**: Can upload any type of file to Profile picture, no file validation

**Expected results**: Should have file validation

**Snapshots/Recording**
![

[2021-11-12 07:40] LieutenantRoger opened #5796 "[$25] During updating the details in jobs tab, the data entered gets lost as soon as zoom in/out on the page(before it is saved)"
1. Update your jobs profile by entering data into all the fields as shown below,
https://www.topcoder.com/settings/profile#work
![image](/uploads/011713ca93b48d0ac206b76a528a1554/image.png)

2. Before saving the data, Then try zooming in/out by pressing by pressing 'ctrl' and scrolling through mouse scroller. All the data entered gets lost

![image](/uploads/fc2a1bbb395518df8f85cea1717c4fc3/image.

[2021-11-12 07:40] LieutenantRoger opened #5797 "You can add the same skill badge multiple times into the community profile"
1. Try adding an already existing skill into the list, it still allows the skill to be added
2. Initially I had added Appium as a skill, and then I tried adding again, now I have 2 appium skill badges

![image](/uploads/228f7f6ac9c883780ba50e2a34be2e18/image.png)

[2021-11-12 07:40] LieutenantRoger opened #5798 "[$10] Hide Linked Accounts menu in the Account tab"
### Steps to Reproduce
1. Login to https://topcoder.com/
2. Go to your profile settings
3. Navigate to Account tab
4. Click on "Stack Overflow"
5. Notice the content in popup

### Screenshots or Screen Capture
![Screenshot_2021-10-22_at_8.55.17_PM](/uploads/122e2863420e926faf95bdcdab635b1b/Screenshot_2021-10-22_at_8.55.17_PM.png)

### Current Results
"Application is disabled" is shown in popup on

[2021-11-12 07:40] LieutenantRoger opened #5799 "Amazon Athena : Unable to add to skill"
**Steps to Reproduce**

Go to https://www.topcoder.com/settings/profile#skills

Try to add skill "Amazon Athena"

Get error message (screenshot)

Page ends up completely broken

***Actual Result(s)***
Error:

" ERROR: Failed to add user skill!

We are sorry that you have encountered this problem. Please, contact our support __support@topcoder.com](mailto:support@topcoder.com)_ to help us resolve i

[2021-11-12 07:40] LieutenantRoger opened #5800 "[$25] (Edge ) Error Message is missing"
Steps to Reproduce:
- go to https://www.topcoder.com/settings/account
- Click on Account
- Click on Linked Account
- Scroll down to bottom
- Click on Add Link without entering anything

Actual Result(s):
It is not showing anything Error message is missing

Expected Result(s):
Error message like Please Enter External Link should be displayed

Environment Details

Device(s): Laptop
Operating System

[2021-11-12 07:40] LieutenantRoger opened #5801 "[$25] cannot clear start date in education"
Steps:

1. Go to settings page
2. Go to education section
3. Add an education with data.
4. Edit education, and try to clear start / end date

Expected Result: It should clear start/end date. Because that field is not required

Actual Result: It cannot clear

Environment: Device: Laptop OS: MacOS Browser: Chrome

https://monosnap.com/file/ZHH0LGvtJjXlSzg0k02DNeOSPBKDCq

[2021-11-12 07:40] LieutenantRoger opened #5802 "[$25] Able to edit and save duplicate Devices"
Able to edit and save duplicate Devices

**Steps to Reproduce**
1. Go to https://www.topcoder.com/settings/profile#work
2. Devices
3. Add device
4. Try to add same device - error lists out as shown
5. Add another device with different parameters
6. Edit new device and place same as first device details

_**Actual Result(s)**<br/>_
Effectively duplicated devices
![image](/uploads/3b703302db54ebaf15

[2021-11-12 07:40] LieutenantRoger opened #5803 "Change avatar loads some time"
**Issue title:**
Change avatar loads some time

**Steps to reproduce:**
1.	Click on basic info
2.    Click on upload a new avatar
3.    upload new image and wait

**Actual result:**
 It loads for 13 secs to load the new image and save the details.

**Expected result: **
It should be done within 5secs

**Bug URL: **
https://www.topcoder.com/settings/profile#basic-info

**Environment Details: **
_	D

[2021-11-13 09:36] LieutenantRoger commented on #5787
Can't reproduce

[2021-11-13 17:13] LieutenantRoger commented on #5788
Seems not reproducible

[2021-11-13 17:32] LieutenantRoger commented on #5789
Seems not reproducible

[2021-11-13 18:11] LieutenantRoger commented on #5791
Seems not reproducible

[2021-11-13 18:15] LieutenantRoger commented on #5792
Not sure if the delay of the sync is expected, needs to investigate the backend API

[2021-11-13 18:32] LieutenantRoger commented on #5803
Appears to be backend API performance issue

[2021-11-14 06:58] LieutenantRoger commented on #5780
![image](https://user-images.githubusercontent.com/2875203/141670900-3aa8834a-1028-45ae-b8d5-345905246210.png)

[2021-11-14 06:59] LieutenantRoger commented on #5780
curl 'https://api.topcoder.com/v3/members/CustomerUser/traits' \
  -H 'authority: api.topcoder.com' \
  -H 'pragma: no-cache' \
  -H 'cache-control: no-cache' \
  -H 'sec-ch-ua: "Google Chrome";v="95", "Chromium";v="95", ";Not A Brand";v="99"' \
  -H 'authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik1rWTNNamsxTWpNeU5Ua3dRalkzTmtKR00wRkZPRVl3TmtJd1FqRXlNVUk0TUVFNE9UQkZOZyJ9.eyJod

[2021-11-14 07:16] LieutenantRoger commented on #5792
Add -
![image](https://user-images.githubusercontent.com/2875203/141671344-a0138515-ea7f-4a17-844a-ca175e3e21a2.png)

[2021-11-14 07:20] LieutenantRoger commented on #5792
Request URL: https://api.topcoder.com/v3/members/{memberhandle}/externalAccounts

This API won't be able to load externalAccounts

[2021-11-14 07:38] LieutenantRoger commented on #5792
Appears the logic of getting linked account inside the Setting page is not same with the one on the Profile page.

[2021-11-14 07:44] LieutenantRoger opened #5807 "[$40] Deleted Linked accounts showing a placeholder under accounts setting page"
![image](https://user-images.githubusercontent.com/2875203/141672257-9432bc20-40ba-4221-8e1b-7ca0a1a524ad.png)

[2021-11-14 07:47] LieutenantRoger commented on #5793
Skills in dropdown List:

Request URL: https://api.topcoder.com/v3/tags/?filter=domain%3DSKILLS%26status%3DAPPROVED&limit=1000

Add Skill

Request URL: https://api.topcoder.com/v3/members/CustomerUser/skills
Request Method: PATCH

[2021-11-14 07:57] LieutenantRoger commented on #5794
This is related to V3 members' traits API

[2021-11-14 09:24] LieutenantRoger commented on #5797
Request URL: https://api.topcoder.com/v3/tags/?filter=domain%3DSKILLS%26status%3DAPPROVED&limit=1000

[2021-11-14 09:57] LieutenantRoger commented on #5799
Skills in dropdown List:

Request URL: https://api.topcoder.com/v3/tags/?filter=domain%3DSKILLS%26status%3DAPPROVED&limit=1000

Add Skill API Failed with 404

Request URL: https://api.topcoder.com/v3/members/CustomerUser/skills
Request Method: PATCH

[2021-11-14 10:04] LieutenantRoger commented on #5802
Request URL: https://api.topcoder.com/v3/members/CustomerUser/traits

[2021-11-14 10:09] LieutenantRoger commented on #5807
Steps:

1. Add your github account on the setting#Links Account section
2. Delete it
3. Go to your profile page
4. Then click the avator in the header -> and select setting -> select Account tab -> Linked Account cateogry

Observe: the deleted github is showing a placeholder

Expected: the github block should not show up

https://monosnap.com/file/l8um8JJ0cioA10rQoCDRNy1guWpyEf

[2021-11-15 10:03] kkartunov commented on #5764
@SathyaJayabal this is currently on beta deployed. Can use this URL for QA: https://beta-community-app.topcoder.com/__community__/tco21/interviews?tracks[tco21-algorithm]=2&tracks[tco21-development]=4&tracks[tco21-track]=1

[2021-11-15 10:17] kkartunov opened #5808 "Thrive - spooky1 - 3"
In scope:
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/323
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/77
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/378

[2021-11-15 17:23] LieutenantRoger commented on #5807
Challenge https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 17:24] LieutenantRoger commented on #5801
Challenge https://www.topcoder.com/challenges/ce2ca03e-c748-4af4-9dd8-b4c512530d16 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 17:25] LieutenantRoger commented on #5800
Challenge https://www.topcoder.com/challenges/97c122c2-8400-4545-b60c-43c2bba8b309 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 17:33] LieutenantRoger commented on #5796
Challenge https://www.topcoder.com/challenges/b16c606e-8865-426f-b643-17018a4a860a has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 17:35] LieutenantRoger commented on #5790
Challenge https://www.topcoder.com/challenges/85d6f42b-2e33-4c50-9984-e9367572068d has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 17:36] LieutenantRoger commented on #5786
Challenge https://www.topcoder.com/challenges/43fb54db-20ef-4c76-916e-88a0126da48f has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 17:37] LieutenantRoger commented on #5783
Challenge https://www.topcoder.com/challenges/99759258-ad36-46de-becf-922c1391a282 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 17:37] LieutenantRoger commented on #5781
Challenge https://www.topcoder.com/challenges/7cf3a9f3-6b0e-450a-93b2-507b22d8c98e has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 17:47] LieutenantRoger commented on #5807
Challenge https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59 has been assigned to gauravseta.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 17:51] rashmi73 commented on #5786
@bug-bash-helper assign

[2021-11-15 17:51] LieutenantRoger commented on #5786
Challenge https://www.topcoder.com/challenges/43fb54db-20ef-4c76-916e-88a0126da48f has been assigned to rashmi73.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 17:51] LieutenantRoger commented on #5783
Challenge https://www.topcoder.com/challenges/99759258-ad36-46de-becf-922c1391a282 has been assigned to eisbilir.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 17:51] LieutenantRoger commented on #5783
Challenge https://www.topcoder.com/challenges/99759258-ad36-46de-becf-922c1391a282 has been assigned to eisbilir.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 17:56] rashmi73 commented on #5786
@LieutenantRoger why automatically open for pickup label added? I did "bugbash helper assign " properly

[2021-11-15 17:57] draco-malfoy commented on #5800
@bug-bash-helper assign

[2021-11-15 17:57] LieutenantRoger commented on #5800
Challenge https://www.topcoder.com/challenges/97c122c2-8400-4545-b60c-43c2bba8b309 has been assigned to malfoys76.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 19:10] draco-malfoy commented on #5800
@bug-bash-helper unassign

[2021-11-15 19:10] LieutenantRoger commented on #5800
Challenge https://www.topcoder.com/challenges/97c122c2-8400-4545-b60c-43c2bba8b309 malfoys76 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 19:28] eisbilir commented on #5783
@bug-bash-helper unassign

[2021-11-15 19:28] LieutenantRoger commented on #5783
Challenge https://www.topcoder.com/challenges/99759258-ad36-46de-becf-922c1391a282 eisbilir has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 20:52] AdamOlczak commented on #5237
@bug-bash-helper assign

[2021-11-15 20:58] AdamOlczak commented on #5790
@bug-bash-helper assign

[2021-11-15 20:58] LieutenantRoger commented on #5790
Challenge https://www.topcoder.com/challenges/85d6f42b-2e33-4c50-9984-e9367572068d has been assigned to Eterad.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 21:43] fikzzzy commented on #5801
@bug-bash-helper assign

[2021-11-15 22:32] AdamOlczak commented on #5790
@bug-bash-helper unassign

Unfortunately I will not manage to fix this one on time

[2021-11-15 22:32] LieutenantRoger commented on #5790
Challenge https://www.topcoder.com/challenges/85d6f42b-2e33-4c50-9984-e9367572068d Eterad has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-15 23:12] fikzzzy commented on #5801
@bug-bash-helper https://github.com/topcoder-platform/community-app/pull/5809 is ready for review

[2021-11-15 23:14] fikzzzy commented on #5790
@bug-bash-helper assign

[2021-11-16 00:02] phongnt commented on #5783
@bug-bash-helper assign

[2021-11-16 00:04] phongnt commented on #5783
@bug-bash-helper unassign

[2021-11-16 00:05] phongnt commented on #5783
@bug-bash-helper assign

[2021-11-16 00:37] LieutenantRoger commented on #5783
[409]: Failed to add resource to the challenge. Detail: The Task is already assigned<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 00:40] LieutenantRoger commented on #5783
[409]: Failed to add resource to the challenge. Detail: The Task is already assigned<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 01:11] LieutenantRoger commented on #5786
It looks you are resigned by another bot `gitkraken-boards`

[2021-11-16 01:53] fikzzzy commented on #5790
@LieutenantRoger the problem is when we update the basic_info trait via PUT https://api.topcoder-dev.com/v3/members/::handle/traits with empty array for `tracks`, it cannot be processed. Perhaps there are some validation in API that not allowing empty array in `tracks`. Any idea?

[2021-11-16 03:17] fikzzzy commented on #5790
@bug-bash-helper unassign

[2021-11-16 03:17] fikzzzy commented on #5796
@bug-bash-helper assign

[2021-11-16 04:04] shivam-51 commented on #5800
@bug-bash-helper assign

[2021-11-16 04:04] LieutenantRoger commented on #5800
Challenge https://www.topcoder.com/challenges/97c122c2-8400-4545-b60c-43c2bba8b309 shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 04:04] LieutenantRoger commented on #5800
shivam51 has been unassigned because this ticket doesn't have the tcx_OpenForPickup label.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 04:04] LieutenantRoger commented on #5800
Challenge https://www.topcoder.com/challenges/97c122c2-8400-4545-b60c-43c2bba8b309 shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 04:04] LieutenantRoger commented on #5800
shivam51 has been unassigned because this ticket doesn't have the tcx_OpenForPickup label.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 04:08] SathyaJayabal commented on #5764
verified on beta
![Screenshot 2021-11-16 at 09-33-10 TCO21 Finalist Interviews](https://user-images.githubusercontent.com/58783823/141901557-6138a6c8-64e6-4b61-856f-9290d500f3d6.png)
[1881F451-8D3C-4C81-9EAD-22573E842C8A.pdf](https://github.com/topcoder-platform/community-app/files/7543286/1881F451-8D3C-4C81-9EAD-22573E842C8A.pdf)

[2021-11-16 04:09] phongnt commented on #5783
@bug-bash-helper unassign

[2021-11-16 04:34] LieutenantRoger commented on #5807
@Gauravseta Please use @bug-bash-helper to assign ticket even though you are able to pick ticket directly from the repo. Thanks.

[2021-11-16 04:34] LieutenantRoger commented on #5807
Challenge https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59 gauravseta has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 04:34] LieutenantRoger commented on #5807
Challenge https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59 has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 04:35] LieutenantRoger commented on #5807
Challenge https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59 LieutenantRoger has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 04:36] LieutenantRoger commented on #5807
@bug-bash-helper assign Gauravseta

[2021-11-16 04:36] LieutenantRoger commented on #5807
Challenge https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59 has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 04:36] LieutenantRoger commented on #5807
Challenge https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59 LieutenantRoger has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 04:36] LieutenantRoger commented on #5807
Challenge https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59 has been assigned to gauravseta.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 04:36] LieutenantRoger commented on #5807
@Gauravseta I seems not able to assign you, please assign yourself.

[2021-11-16 04:38] LieutenantRoger commented on #5807
Challenge https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59 gauravseta has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 04:47] LieutenantRoger commented on #5807
Challenge https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59 has been assigned to gauravseta.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 06:47] fikzzzy commented on #5796
unassign. after ive tried, every time the browser zoom change, react will trigger its render function. So it is too difficult to check of render condition

[2021-11-16 06:47] fikzzzy commented on #5796
@bug-bash-helper unassign

[2021-11-16 06:53] fikzzzy commented on #5783
@bug-bash-helper assign

[2021-11-16 07:00] Gauravseta commented on #5807
@bug-bash-helper unassign

[2021-11-16 07:00] LieutenantRoger commented on #5807
Challenge https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59 gauravseta has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 07:10] fikzzzy commented on #5783
@bug-bash-helper https://github.com/topcoder-platform/community-app/pull/5810 is ready for review

[2021-11-16 15:03] LieutenantRoger commented on #5802
Challenge https://www.topcoder.com/challenges/9e454cce-392c-43e6-a99e-c881924fcf1c has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-16 15:03] LieutenantRoger commented on #5802
The API won't validate this, so let's see if we have frontend solution to avoid this

[2021-11-16 23:32] yoution commented on #5807
@bug-bash-helper assign

[2021-11-16 23:32] LieutenantRoger commented on #5807
Challenge https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 00:53] yoution commented on #5807
@bug-bash-helper #5811  is ready for review

[2021-11-17 00:54] yoution commented on #5802
@bug-bash-helper assign

[2021-11-17 00:54] LieutenantRoger commented on #5802
Challenge https://www.topcoder.com/challenges/9e454cce-392c-43e6-a99e-c881924fcf1c has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 01:17] yoution commented on #5802
@bug-bash-helper #5812  is ready for review

[2021-11-17 01:28] yoution commented on #5796
@bug-bash-helper assign

[2021-11-17 01:28] LieutenantRoger commented on #5796
Challenge https://www.topcoder.com/challenges/b16c606e-8865-426f-b643-17018a4a860a has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 01:32] yoution commented on #5796
@bug-bash-helper #5813 is ready for review

[2021-11-17 09:49] codejamtc commented on #5801
https://user-images.githubusercontent.com/42398485/142177427-50fc0a46-1a7d-4c5f-8b40-20af48c13240.mp4

[2021-11-17 09:51] codejamtc commented on #5783
Now the symbols are not accepted

![bandicam 2021-11-17 15-21-25-393](https://user-images.githubusercontent.com/42398485/142177736-0643153a-cd62-4a4f-83b3-38a2ceec5505.jpg)

[2021-11-17 13:31] LieutenantRoger commented on #5800
Hi @shivam-51 Please try to pick one more time, the app automaticlly unassign before due to there's not enough labels.

[2021-11-17 13:33] LieutenantRoger commented on #5786
@rashmi73 Please respond with the progress, otherwise please unassign the ticket since it has been two days passed

[2021-11-17 13:40] LieutenantRoger commented on #5798
Please let's hide the `Linked Accounts` menu on the left, so we only have My Accounts under `Account` tab.

We currently won't fix the issues in the Linked Accounts, so we will hide it for now.

https://monosnap.com/file/GKvcVFBOK6l6hWmvE7gDFmpW5NQ7f1

[2021-11-17 14:01] shivam-51 commented on #5798
@bug-bash-helper assign

[2021-11-17 14:01] LieutenantRoger commented on #5798
Challenge https://www.topcoder.com/challenges/522b1440-6b27-420c-87a2-5133cad3e1bd has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-17 15:14] shivam-51 commented on #5798
@bug-bash-helper #5814 is ready for review

[2021-11-17 16:14] kkartunov commented on #5808
@SathyaJayabal this is deploying on beta.

[2021-11-17 18:00] LieutenantRoger commented on #5798
When fixing this ticket, please make sure you only comment out code regarding the Link Account menu, because we may add this menu back later some day, so it would be easier to restore the feature quickly.

[2021-11-17 22:22] rashmi73 commented on #5786
@bug-bash-helper unassign

[2021-11-17 22:22] LieutenantRoger commented on #5786
Challenge https://www.topcoder.com/challenges/43fb54db-20ef-4c76-916e-88a0126da48f rashmi73 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 00:06] yoution commented on #5786
@bug-bash-helper assign

[2021-11-18 00:08] LieutenantRoger commented on #5807
Challenge https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59 yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 00:09] yoution commented on #5786
@bug-bash-helper assign

[2021-11-18 00:09] LieutenantRoger commented on #5802
Challenge https://www.topcoder.com/challenges/9e454cce-392c-43e6-a99e-c881924fcf1c yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 00:10] yoution commented on #5786
@bug-bash-helper assign

[2021-11-18 00:11] LieutenantRoger commented on #5796
Challenge https://www.topcoder.com/challenges/b16c606e-8865-426f-b643-17018a4a860a yoution has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 00:11] yoution commented on #5786
@bug-bash-helper assign

[2021-11-18 00:11] LieutenantRoger commented on #5786
Challenge https://www.topcoder.com/challenges/43fb54db-20ef-4c76-916e-88a0126da48f has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 00:22] yoution commented on #5786
@bug-bash-helper #5815 is ready for review

[2021-11-18 00:23] yoution commented on #5800
@bug-bash-helper assign

[2021-11-18 00:24] LieutenantRoger commented on #5800
Challenge https://www.topcoder.com/challenges/97c122c2-8400-4545-b60c-43c2bba8b309 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 00:44] yoution commented on #5800
@bug-bash-helper #5816 is ready for review

[2021-11-18 04:45] sandhiyakavi commented on #5808
Verified on Beta Env.

1. https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/323
![image_72192707](https://user-images.githubusercontent.com/55895538/142353223-66d62260-ed24-42a9-a6de-7b435086f32f.JPG)

2. https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/77  (verified with Windows Firefox browser)

https://user-images.githubusercontent.com/55895538/142353276-aa7f2b85-ca63-4754-98a3-e2d

[2021-11-18 05:21] codejamtc commented on #5796
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142356720-56a5d3a1-64f4-4bff-a65a-b5e0aea121f4.mp4

[2021-11-18 05:26] codejamtc commented on #5807
Fixed  :ok:

https://user-images.githubusercontent.com/42398485/142357110-af0ac9e9-afe9-45ca-87b2-eed62b8ab8f8.mp4

[2021-11-18 05:32] codejamtc commented on #5802
@LieutenantRoger You can add the same device without providing the `iOS`

https://user-images.githubusercontent.com/42398485/142357426-6b64afb5-12b9-4c63-bc7c-13a2d8684455.mp4

![bandicam 2021-11-18 11-01-59-310](https://user-images.githubusercontent.com/42398485/142357653-fd5d33a7-f6e4-49bc-b7f3-d59a15797dce.jpg)

https://user-images.githubusercontent.com/42398485/142357647-cc765a42-b1b8-4cd3-807

[2021-11-18 08:20] shivam-51 commented on #5798
@bug-bash-helper #5814 is ready for review

[2021-11-18 08:21] shivam-51 commented on #5798
I commented out the code except for the snapshot file, that was failing the CI tests.

[2021-11-18 10:01] SathyaJayabal commented on #5808
verified on staging
1.
![thrive1](https://user-images.githubusercontent.com/58783823/142393506-1283ab18-27e4-4c8d-ab20-6312b4278445.jpeg)
2. verified
3.
<img width="1440" alt="Screenshot 2021-11-18 at 3 30 47 PM" src="https://user-images.githubusercontent.com/58783823/142393860-da62f5b8-eb41-4d82-aba0-1cb74d0c287d.png">

[2021-11-18 10:02] SathyaJayabal commented on #5764
verified on staging
<img width="501" alt="Screenshot 2021-11-18 at 3 32 31 PM" src="https://user-images.githubusercontent.com/58783823/142394151-b02ce5e1-c907-4085-98fd-721ab1df80fb.png">

[2021-11-18 10:04] #5774 closed

[2021-11-18 10:05] #5775 closed

[2021-11-18 10:09] SathyaJayabal commented on #5774
https://github.com/topcoder-platform/micro-frontends-gigs-app/issues/64