[2019-03-15 23:04] ashokdas1 opened #2067 "Settings -> Preference -> Email Preference : Design Newsletter radio button did not enable even though Success message appeared."
Steps:
Settings -> Preference -> Email Preference
Try to enable Design Newsletter
Success message appeared but radio button did not enable

Actual:  Email Preference -> Design Newsletter radio button did not enable even though Success message appeared.

Expected: Email Preference -> Design Newsletter radio button should be enabled.

Reproducible  Rate: 3/3

Environment: Windows 10 | Browser: Chrom

[2019-03-15 23:05] codejamtc opened #2068 "Public Profile: Past SRMs are not shown"
![image](https://user-images.githubusercontent.com/42398485/54466223-df3e4f00-474c-11e9-93db-1c2e9cbb8e53.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder-dev.com/members/Egor/details/?track=DATA_SCIENCE&subTrack=SRM&tab=statistics
3. Click Past SRM

**Actual:** Past SRMs are not shown

**Expected:** Should show the Past SRMs

**Reproducibility Rate:** 3/3

**Environm

[2019-03-15 23:12] codejamtc opened #2069 "[$40] Public Profile: Past MARATHON MATCH challenges are not shown"
![image](https://user-images.githubusercontent.com/42398485/54466444-d437ee80-474d-11e9-9563-1af28f491126.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder-dev.com/members/Egor/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH&tab=statistics
3. Click Challenges

**Actual:** Past MARATHON MATCH challenges are not shown

**Expected:** Should show the Past MM

**Reprodu

[2019-03-15 23:17] ashokdas1 opened #2070 "Settings -> Profile -> Skills:Exception error shown "...contact our support ‌support@topcoder.com‌ ..." when trying to add Skills"
Steps:
Settings -> Profile -> Skills
Try to add .NET as skill set
Exception error shown "...contact our support ‌support@topcoder.com‌ ..."

Actual:  Exception error shown "...contact our support ‌support@topcoder.com‌ ..." when trying to add Skills

Expected: Should be able to add skills

Reproducible  Rate: 3/3

Environment: Windows 10 | Browser: Chrome Version 72.0.3626.96 (Official Build) (64-

[2019-03-15 23:18] ashokdas1 opened #2071 "Settings -> Profile -> Skills:Exception error shown "...contact our support ‌support@topcoder.com‌ ..." when trying to add Skills"
Steps:
Settings -> Profile -> Skills
Try to add .NET as skill set
Exception error shown "...contact our support ‌support@topcoder.com‌ ..."

Actual:  Exception error shown "...contact our support ‌support@topcoder.com‌ ..." when trying to add Skills

Expected: Should be able to add skills

Reproducible  Rate: 3/3

Environment: Windows 10 | Browser: Chrome Version 72.0.3626.96 (Official Build) (64-

[2019-03-15 23:23] codejamtc opened #2072 "Public Profile: Images are not loading"
![image](https://user-images.githubusercontent.com/42398485/54466775-642a6800-474f-11e9-8add-f50462170147.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/iamtong/details/?track=DESIGN&subTrack=WEB_DESIGNS&tab=challenges
3. Click Images button on FAST TOPCODER - PROJECT ACTIVITY WORLD MAP DESIGN CONCEPT CHALLENGE

**Actual:** Images are not loading

**Expe

[2019-03-15 23:28] codejamtc opened #2073 "Public Profile: (Common) Challenges count is not matched with the list count"
![image](https://user-images.githubusercontent.com/42398485/54466901-106c4e80-4750-11e9-8102-c5d4384fd6ab.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/iamtong/details/?track=DESIGN&subTrack=BANNERS_OR_ICONS&tab=challenges
3. Challenge count-24 but the list have only 19

**Actual:** Challenges count is not matched with the list count

**Expected:** Coun

[2019-03-15 23:30] codejamtc commented on #2072
[code]

[2019-03-15 23:37] ashokdas1 opened #2074 "Settings -> Account: Frequent refresh on account page gives "404 HTTP error""
Steps:
Settings -> Account
Frequent refresh on account page gives "404 HTTP error"

Actual:  Frequent refresh on account page gives "404 HTTP error"

Expected: "404 HTTP error" should not be coming

Reproducible  Rate: 3/3

Environment: Windows 10 | Browser: Chrome Version 72.0.3626.96 (Official Build) (64-bit)

[2019-03-15 23:37] ashokdas1 opened #2075 "Settings -> Account: Frequent refresh on account page gives "404 HTTP error""
Steps:
Settings -> Account
Frequent refresh on account page gives "404 HTTP error"

Actual:  Frequent refresh on account page gives "404 HTTP error"

Expected: "404 HTTP error" should not be coming

Reproducible  Rate: 3/3

Environment: Windows 10 | Browser: Chrome Version 72.0.3626.96 (Official Build) (64-bit)

[2019-03-15 23:40] ashokdas1 commented on #2075
![Issue_7](https://user-images.githubusercontent.com/48600675/54467216-c4e68e80-47a9-11e9-8216-17d21767d06a.PNG)

[2019-03-15 23:56] ashokdas1 opened #2076 "View public profile returns 404 HTTP Error"
Steps:
https://www.topcoder-dev.com/members/ashok.das1
Click on public profile.
Received "404 HTTP Error"

Actual: Unable to view public profile

Expected: "404 HTTP error" should not be coming

Reproducible  Rate: 3/3

Environment: Windows 10 | Browser: Chrome Version 72.0.3626.96 (Official Build) (64-bit)
![Issue_8](https://user-images.githubusercontent.com/48600675/54467569-ffe9c180-47ab-11e9-8

[2019-03-16 00:30] codejamtc opened #2077 "Settings > Account > Linked Accounts: Long time taken to load the data but sometimes it never loads"
![image](https://user-images.githubusercontent.com/42398485/54468263-cf2c6c80-4758-11e9-9c77-22b75303ae63.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder-dev.com/settings/account
3. Click Linked Accounts
4. Enter http://www.gitlab.com as a link
5. Check the link card, refresh the page and check the link card again

**Actual:** Long time taken to load the data but som

[2019-03-16 00:43] codejamtc opened #2078 "Settings > Tools: Can't edit existing items"
![image](https://user-images.githubusercontent.com/42398485/54468439-8ecdee00-475a-11e9-9409-96706197dbc5.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder-dev.com/settings/tools
3. Click Devices/Software/Service Providers/Subscriptions
4. Edit an existing item

**Actual:** Can't edit existing items

**Expected:** User should be able to the edit existing items especial

[2019-03-16 01:59] DharaniD88 opened #2079 "Settings>>Profile>>Edit any field and save always throws the same error"
**Describe the bug**
Every time same failure message is shown even if the given details are correct in Basic info of Profile settings page

**To Reproduce**
Steps to reproduce the behavior:
Open the application and login as Member
Hover over the profile avatar > Click Settings
Click Profile Tab > Basic Info
Enter data (Required fields)
Click Save changes
Actual: Error while saving the basic detail

[2019-03-16 02:05] codejamtc opened #2080 "[$30] Settings > Tools: First letter always capitalized after submitting"
![image](https://user-images.githubusercontent.com/42398485/54469448-179e5700-4766-11e9-9e72-2b173adf7dd5.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder-dev.com/settings/tools
3. Click Devices/Software/Service Providers/Subscriptions
4. Add an item

**Actual:** First letter always capitalized after submitting

**Expected:** Should not automatically capitalized the f

[2019-03-16 02:14] DharaniD88 opened #2081 "Proper validation is not In settings>>Tools>>Devices>>Fields of add devices accepting special characters"
**Describe the bug**
In settings>>Tools>>Devices>>Fields of add devices accepting special characters
and also Settings>>Tools>>Software
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as Member
2. Hover over the profile avatar > Click Settings
3.Click Tools Tab > Devices
4. Enter data (Manufacturer: :::::::::::::::::::::: os version: }}}}}}}}}}}}}})
5.Click 'Add

[2019-03-16 02:24] HongHT opened #2082 "[$40] Setting>Profile>Add Skill/Hobbies: missing "*required" text on mobile"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Profile Tab > Skills or Hobbies

**Actual:**
Missing "*required" text on mobile
**Expected**
Should show text "*required" at field [Skill] and [Hobby]/[Description].
**Screenshots**
![viber image 2019-03-16 , 09 19](https://user-images.githubuserco

[2019-03-16 02:32] codejamtc commented on #2068
https://www.topcoder.com/members/roma/details/?track=DATA_SCIENCE&subTrack=SRM&tab=Past%20srm

[2019-03-16 02:37] HongHT opened #2083 "[$60] Setting>Tool>Device: No validation message for empty field on mobile"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Tool Tab > Device
4. Click Add Device

**Actual:**
No validation message for an empty field
**Expected**
Should show a validation ("Type, Manufacturer, Model, Operating system, OS Version, OS Language cannot be empty")
**Screenshots**
No screenshot

[2019-03-16 02:41] HongHT opened #2084 "Settings>Tool>Software: No validation message for empty field on mobile"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Tool Tab > Software
4. Click Add Software

**Actual:**
No validation message for an empty field
**Expected**
Should show a validation ("Type, Name cannot be empty")
**Screenshots**
No screenshot
**Smartphone :**
 - Device: [Oppo F7], android 8.1
 -

[2019-03-16 02:44] HongHT opened #2085 "Setting>Tool>Service Provider: No validation message for empty field on mobile"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Tool Tab > Service Provider
4. Click Add Provider

**Actual:**
No validation message for an empty field
**Expected**
Should show a validation ("Type, Name cannot be empty")
**Screenshots**
No screenshot
**Smartphone :**
 - Device: [Oppo F7], androi

[2019-03-16 02:46] HongHT opened #2086 "Setting>Tool>Subscription: No validation message for empty field on mobile"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Tool Tab > Subscription
4. Click Add Subscription

**Actual:**
No validation message for an empty field
**Expected**
Should show a validation ("Name cannot be empty")
**Screenshots**
No screenshot
**Smartphone :**
 - Device: [Oppo F7], android 8.1

[2019-03-16 02:56] codejamtc opened #2087 "[$40] Settings > Profile > Basic Info: Delete profile picture is not working"
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Profile Tab > Basic Info
4. Click Delete button near the profile image

**Actual:** Delete profile picture is not working

**Expected:** User should be able to delete the profile image

**Reproducibility Rate:** 3/3

**Environment:** Google Pixel XL, Android 9.0 | Browser: Google Chrome 73.0.3683.

[2019-03-16 03:00] HongHT opened #2088 "Setting>Tool>Service Provider: broken input text if the text is too long on mobile"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Tool Tab > Service Provider
4. At field [Provider Name]: input text [testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttest]
5. Click Add Service Provider

**Actual:**
Broken input text if the text is too long on mobile

**Expected**
The

[2019-03-16 03:01] codejamtc opened #2089 "Settings > Profile > Basic Info: Delete button layout changes when user uploads a camera photo"
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Profile Tab > Basic Info
4. Click the Browse button near the profile image
5. Select Camera and take a photo and click OK
6. Look at the delete button while uploading

**Actual:** Delete button layout changes when the user uploads a camera photo

**Expected:** Delete button layout should not be ch

[2019-03-16 03:03] codejamtc opened #2090 "Settings > Profile > Basic Info: Uploaded profile image (Camera/Gallery) is not shown immediately"
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Profile Tab > Basic Info
4. Click the Browse button near the profile image
5. Select Camera and take a photo and click OK (same for the gallery photos)

**Actual:** Uploaded profile image (Camera/Gallery) is not shown immediately

**Expected:** Should update the image immediately

**Reproducibilit

[2019-03-16 03:12] HongHT opened #2091 "Setting>Tool>Add Device: broken input text if the text is too long on mobile"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Tool Tab > Add Device
4. At field [Manufacturer]/[Model]/[Operation System]/[OS version]/[OS language]: input text [testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttest]
5. Click Add Device

**Actual:**
Broken input text if the text is

[2019-03-16 03:14] codejamtc opened #2092 "Settings > Tools: Sometimes long time taken to enable the add button after adding an item"
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Tools Tab > Devices/Software/Service Providers/Subscriptions (Any Tab)
4. Add an item
5. Enter data to the empty form again as soon as you created the item
6. Look at the add button and the data in the form

**Actual:** Sometimes long time taken to enable the add button after adding an item. You c

[2019-03-16 03:18] HongHT opened #2093 "Setting>Tool>Software: broken input text if the text is too long on mobile"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Tool Tab > Software
4. At field [Name]: input text [testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttest]
5. Click Add Software

**Actual:**
Broken input text if the text is too long on mobile

**Expected**
The text should fit inside sc

[2019-03-16 03:20] codejamtc commented on #2092
![Screenshot_20190315-221513](https://user-images.githubusercontent.com/42398485/54470100-736ddd80-4770-11e9-89a5-539354da608c.png)

[2019-03-16 03:20] codejamtc commented on #2090
![Screenshot_20190315-220350](https://user-images.githubusercontent.com/42398485/54470104-7b2d8200-4770-11e9-88c9-5a583106943a.png)

[2019-03-16 03:20] codejamtc commented on #2089
![Screenshot_20190315-220404](https://user-images.githubusercontent.com/42398485/54470106-808acc80-4770-11e9-95af-50f817ecf675.png)

[2019-03-16 03:22] Zunu123 opened #2094 "Settings > Profile > Zip Code> No validation in the Zip Code field."
**Describe the bug**
Special characters are being accepted in the field of Zip Code on mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings page.
2. Click on Profile tab.
3. Input values in all the field.
4. Input special characters in the Zip code field.
5. Click on "Save Changes".
6. Observe the result.

**Expected behavior**
Error message should be displayed when invalid

[2019-03-16 03:23] codejamtc commented on #2052
![Screenshot_20190315-222253](https://user-images.githubusercontent.com/42398485/54470145-ff800500-4770-11e9-82c1-ad31d0309b81.png)

[2019-03-16 03:26] codejamtc commented on #2054
![Screenshot_20190315-222446](https://user-images.githubusercontent.com/42398485/54470164-67365000-4771-11e9-8f18-bbc29de21066.png)

[2019-03-16 03:26] codejamtc commented on #2053
![Screenshot_20190315-222455](https://user-images.githubusercontent.com/42398485/54470159-5980ca80-4771-11e9-8530-ac7612b71de2.png)

[2019-03-16 03:36] Zunu123 opened #2095 "Settings> Profile> Hobbies> Error while deleting a hobby on mobile"
**Describe the bug**
When trying to delete a hobby, it throws a error message but the hobby is being deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar and Click Settings
3. Click on 'Hobby' tab.
4. Add a hobby.
5. Click on the delete icon beside the recently added hobby.
6. Observe the result.

**Expected behavio

[2019-03-16 03:42] codejamtc opened #2096 "[$200] Settings > Tools: "Your Information has been updated' shown when switching the tabs after deleting a Devices/Software/Service Providers/Subscriptions"
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Tools Tab > Devices/Software/Service Providers/Subscriptions
4. Delete an item
5. Go to the Profile tab; "Your Information has been updated' shown

**Actual:** "Your Information has been updated' shown when switching the tabs after deleting a Devices/Software/Service Providers/Subscriptions

**Exp

[2019-03-16 03:49] HongHT opened #2097 "[$20] Setting>Account>Linked Accounts: height of button [Add Link] is changed when input alert show"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Account Tab > Linked Accounts
4. At field [Name]: input text "ke"

**Actual:**
Height of button [Add Link] is changed when input alert show

**Expected**
Height of button [Add Link] should not be changed when input alert show

**Screenshots**
<img

[2019-03-16 03:51] Zunu123 opened #2098 "[$30] Settings> Profile> Short Bio> Getting error message on "Failed to update user trait" upon entering empty spaces in "Short Bio" on mobile"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar and Click Settings
3. Click on 'Profile' tab.
4. Add empty spaces in the "Short Bio" field.
5. Click on "Save Changes".
6. Observe the result.

**Expected behavior**
A validation message should be dis

[2019-03-16 03:57] codejamtc opened #2099 "[$40] Settings > Profile > Basic Info: Keypad won't dismiss when user tap on the Birth Date field"
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Profile Tab > Basic Info
4. Tap on Last Name field
5. Tap on Birth Date field

**Actual:** Keypad won't dismiss when user tap on the Birth Date field

**Expected:** Keypad should hide

**Reproducibility Rate:** 3/3

**Environment:** Google Pixel XL, Android 9.0 | Browser: Google Chrome 73.0.3683.7

[2019-03-16 04:01] HongHT opened #2100 "Setting>Preferences>E-Mail:The Switch button doesn't changed after click"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Preferences Tab > E-Mail
4. Click button Switch

**Actual:**
Show successfully message but the button doesn't changed (have to refresh the page to see the button change)

**Expected**
The Switch button should change after click

**Screenshots**

**

[2019-03-16 04:05] codejamtc opened #2101 "Settings > Profile > Basic Info: Selecting 1919 Jan will show year as 2020 after selecting"
![image](https://user-images.githubusercontent.com/42398485/54470501-c77bc080-4776-11e9-8de1-45da112df914.png)

1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Profile Tab > Basic Info
4. Tap on Birth Date field, and select 2019 as the year
5. Click  > button till December
6. Click > again and now it will show January 1919
7. Select the date as

[2019-03-16 04:07] Zunu123 opened #2102 "Settings> Tools> Subscription> Special characters are accepted in the "Name" field under "Subscriptions"."
**Describe the bug**
When entered only special characters in the name text field, it is being accepted.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar and Click Settings
3. Click on 'Tools' tab.
4. Click on 'Subscriptions'.
5. Input special characters in the name field.
6. Click on 'Save Changes'.
7. Observe the result

[2019-03-16 04:15] Zunu123 commented on #2102
Reproducibility Rate: 3/3

[2019-03-16 04:15] Zunu123 commented on #2098
Reproducibility Rate: 3/3

[2019-03-16 04:52] Jacob15 opened #2103 "Settings >Account>Linked Account Adding External link Loading data message appears for long time"
**Describe the bug**
"Loading data. This will take a few minutes message" appears under newly added link for long time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. Click on Accounts. Click on Linked Accounts.
3. Scroll down to 'Adding external links'
4. Add a link and save.
5. Newly added links shows the message "Loading data..." for long time.

**Expected behavior**
Ne

[2019-03-16 04:52] Jacob15 commented on #2103
![LoadingData](https://user-images.githubusercontent.com/13567734/54470850-633c1980-47d5-11e9-8bd4-50565e2700e6.jpg)

[2019-03-16 05:55] kunkka97 opened #2104 "Settings>Profile>Skills Input field is not full expanded"
**Describe the bug**
The skill and hobbies input under Settings/Profile is not full-width in Edge

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings/Profile
2. Click on Skills or Hobbies
4. See the input box is not full expanded

**Expected behavior**
The input box of skills and hobbies should full expand

**Screenshots**
![image](https://user-images.githubusercontent.com/1872882

[2019-03-16 05:56] #2104 closed

[2019-03-16 05:59] liqiang372 opened #2105 "[$50] Settings>Profile>Skills input field is not fully expanded in Edge browser"
**Describe the bug**
The skill and hobbies input under Settings/Profile is not full-width in Edge

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings/Profile
2. Click on Skills or Hobbies
4. See the input box is not full expanded

**Expected behavior**
The input box of skills and hobbies should full expand

**Screenshots**
![image](https://user-images.githubusercontent.com/1872882

[2019-03-16 06:36] ashokdas1 opened #2106 "Settings -> Tools -> Service Providers: "Financial Institution" icon wrongly assigned "Internet Service Provider""
Steps:
Settings -> Tools -> Service Providers
Add "Internet Service Provider"
Add "Mobile Carrier"
Add "Television"
Add "Financial Institution"

After added four categories observed that "Financial Institution" icon wrongly assigned "Internet Service Provider"

Actual: "Financial Institution" icon wrongly assigned "Internet Service Provider"

Expected: "Financial Institution" icon should not use "

[2019-03-16 06:40] ashokdas1 opened #2107 "Settings -> Tools -> Service Providers: "Other" Category icon is not proper.It was assign with no internet or no wifi icon."
Steps:
Settings -> Tools -> Service Providers
Add "Internet Service Provider"
Add "Mobile Carrier"
Add "Television"
Add "Financial Institution"
Add "Other"

"Other" Category icon is not proper. It looks like it was assign with no internet or no wifi icon.

Actual: "Other" Category icon is not proper.It was assign with no internet or no wifi icon.

Expected: "Other" Category icon should have its ow

[2019-03-16 06:51] ashokdas1 opened #2108 "[$30] Settings -> Account -> Linked Accounts: Linked SAMLP (Wipro) account characters jumbled up."
Steps:
Settings -> Account -> Linked Accounts
Linked SAMLP (Wipro) account characters jumbled up.

Actual: Linked SAMLP (Wipro) account characters jumbled up.

Expected: Linked SAMLP (Wipro) account characters should not jumbled up.

Reproducible Rate: 3/3

Environment: Windows 10 | Browser: Chrome Version 72.0.3626.96 (Official Build) (64-bit)
![Issue_11_mobile](https://user-images.githubusercont

[2019-03-16 06:55] ashokdas1 opened #2109 "Settings -> Account -> Linked Accounts: Linked SAMLP (Wipro) linked account icon never loaded."
Steps:
Settings -> Account -> Linked Accounts
Linked SAMLP (Wipro) linked account icon never loaded.

Tried out 5 times and all time same behavior.

Actual: Linked SAMLP (Wipro) linked account icon never loaded.

Expected: Linked SAMLP (Wipro) linked account icon should be loaded properly

Reproducible Rate: 5/5

Environment: Windows 10 | Browser: Chrome Version 72.0.3626.96 (Official Build) (64-b

[2019-03-16 07:02] ashokdas1 opened #2110 "Settings -> Account -> Linked Accounts: Unable to link Github account from second time if already linked Github has been deleted."
Steps:
Settings -> Account -> Linked Accounts
Link one Github account
Delete the linked Github account
Again try to link Github account.
One pop-up opened and immediately disappeared.
Eventually unable to link Github account.

Unable to link Github account from second time if already linked Github has been deleted.

Actual: Unable to link Github account from second time if already linked Github ha

[2019-03-16 07:27] ashokdas1 opened #2111 "Settings -> Preference -> Payment: Not able to differentiate error message with normal line in Edit Payment page."
Steps:
https://community.topcoder-dev.com/tc?module=EditPaymentPreferences

Settings -> Preference -> Payment
In edit text box "Payment accrual amount (minimum $25):" set value 10
Click on save.

One new line after "Payment accrual amount (minimum $25):" appeared

It is not clear to user that this is the error message.
Error message should be in read or clearly mentioned that this with "Error:....

[2019-03-16 07:28] ThomasKranitsas commented on #2111
As clarified in the forum, those legacy pages are out of the scope of this bug hunt.

[2019-03-16 07:28] #2111 closed

[2019-03-16 07:49] ashokdas1 opened #2112 "Settings -> Tools -> Device: Device details layout issue in mobile browser with max character in all field."
Steps:

Settings -> Tools -> Device
Created two console device with max character limit.
Opened same page from Mobile Chrome browser

Device string crossing significant outside from layout

Actual: Device details layout issue in mobile browser with max character in all field.

Expected: String should be within boundary limit

Reproducible Rate: 3/3

Environment: Mobile Android| Browser: Chrome
![I

[2019-03-16 07:51] ThomasKranitsas commented on #2049
This has been fixed but it's not yet deployed. Will close the issue but it'll count for the bug hunt scoring.

[2019-03-16 07:51] #2049 closed

[2019-03-16 07:52] HongHT opened #2113 "[$40] Settings>Profile>Skill: The search keyword doesn't work if the keyword match the second word of the skill name."
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Profile Tab > Skill
4. Type `Diagrams` in the Skill search box.

**Actual:**
It doesn't show `Activity Diagrams (Tcuml)` as the search results.

**Expected**
If you type `Diagrams` in search box it will show `Activity Diagrams (Tcuml)` in the searc

[2019-03-16 07:53] #2051 closed

[2019-03-16 07:58] ThomasKranitsas commented on #2057
Can you provide more details? Is this a new account, did you do anything else before saving the hobby? I cannot reproduce this.

[2019-03-16 08:02] ThomasKranitsas commented on #2059
The flow has been modified. Pending frontend updates.

I'll close this but it's valid for the bug hunt.

[2019-03-16 08:02] #2059 closed

[2019-03-16 08:05] ThomasKranitsas commented on #2060
Invalid issue. Those pages show the member's history on the selected track.

The `Active challenges` on the upper-right corner shows your active challenges and not from the member's profile.

[2019-03-16 08:08] Jacob15 opened #2114 "Settings>Profile>Basic Info Short Bio Text charecters getting shortened when deleting characters and appending new line."
**Describe the bug**
About you -Short Bio charecters were getting reduced if lines were added at the end of the charecters.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings.
2. Click on 'Profile'.
3. Scroll down to 'Basic Info'.
4. Enter charecters upto 240.
5. Delete one charecter and make it a new line.
6. Again delete one charecter and make it a new line.
7. Now delete the w

[2019-03-16 08:20] ashokdas1 opened #2115 "Settings -> Preferences -> Email -> E-Mail Preferences: switch change not getting reflected when user change status"
Steps:
https://www.topcoder-dev.com/settings/preferences

Settings -> Preferences -> Email -> E-Mail Preferences
Change "Design Newsletter" switch status from off to on
Success message appeared on top.
But Switch did not get enabled.

Refresh page. Now "Design Newsletter" showing enabled.

Similar behaviour for on to off

"E-Mail Preferences" switch change not getting reflected when user change st

[2019-03-16 08:24] HongHT opened #2116 "Settings>Account>Linked Accounts: The delete button of link cell have wrong position in mobile"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Account Tab > Linked Accounts
4. Look into External link section

**Actual:**
The delete button of link cell have wrong position in mobile (all delete button move to top right of the page)

**Expected**
The delete button should be inside the link c

[2019-03-16 08:30] ashokdas1 opened #2117 "Settings -> Profile -> Basic Info -> Personal details: "Birth Date" accepts text in place of calendar date."
Steps:

Settings -> Profile -> Basic Info -> Personal details
Copy text string and paste in "Birth Date" field.
"Birth Date" accepts text in place of calendar date.

Actual: "Birth Date" accepts text in place of calendar date.

Expected: "Birth Date" validation should be such that user no way can paste text in calendar date field.

Reproducible Rate: 3/3

Environment: Windows 10 | Browser: Chrome

[2019-03-16 08:37] ashokdas1 opened #2118 "Settings -> Profile -> Community: Community switches on-off are not smooth."
Steps:

Settings -> Profile -> Community

Community switch on-off are not smooth.
There is flicker when change status from off to on and on to off.

Actual: Community switches on-off are not smooth.

Expected: Community switch on-off should be smooth.

Reproducible Rate: 3/3

Environment: Windows 10 | Browser: Chrome Version 72.0.3626.96 (Official Build) (64-bit)

[2019-03-16 08:39] HongHT opened #2119 "[$40] Settings>Account>Linked Accounts: The "HEADS UP!" popup doesn't fit inside the page on mobile"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Account Tab > Linked Accounts
4. Cick button [delete link]: show "HEADS UP!" popup

**Actual:**
The width of "HEADS UP!" popup is bigger than the width of screen so it is cropped

**Expected**
The "HEADS UP!" popup should be fit inside the page

**

[2019-03-16 08:52] ashokdas1 opened #2120 "Settings -> Account -> Linked Accounts: Wrongly placed delete icon in linked account page from mobile device"
Steps:
https://www.topcoder-dev.com/settings/account
Settings -> Account -> Linked Accounts
Add "www.google.com" through "External Link" edit box.
WEBLINK GOOGLE appeared in Link Accounts

Now, go to Mobile browser and fresh account settings.
Very carefully observed that one delete icon at top right corner of layout.

This delete icon has no meaning with this layout. This is not clear for which it

[2019-03-16 09:04] ashokdas1 opened #2121 "[$20] [Mobile-Chrome] Settings -> Preferences : "Email", "Forum", "Payment", "Invitation Letter" Expand/Minimize arrow icons are coming as square box"
Steps:
In Mobile Browser Chrome,
Settings -> Preferences
Click on preference.
Click on Expand icon option for "Email", "Forum", "Payment", "Invitation Letter"
Click same icon to minimize

Expand/Minimize arrow is coming as square box. Only for "Referrals" It is coming properly.
But for  "Email", "Forum", "Payment", "Invitation Letter" icon is coming as square box

Actual: "Email", "Forum", "Paymen

[2019-03-16 09:05] ashokdas1 commented on #2121
![Issue_17_mobile](https://user-images.githubusercontent.com/48600675/54473053-c2f7ec00-47f8-11e9-940d-8ec9d5d41b1a.png)

[2019-03-16 09:27] ThomasKranitsas commented on #2064
Invalid issue. I only have 1 design F2F challenge in my profile which is a private task thus it's not visible to you.

You can check the profile from a designer (eg https://www.topcoder.com/members/iamtong/details/?track=DESIGN&subTrack=DESIGN_FIRST_2_FINISH&tab=challenges)

[2019-03-16 09:27] #2064 closed

[2019-03-16 09:29] ThomasKranitsas commented on #2065
Duplicate https://github.com/topcoder-platform/community-app/issues/2059

[2019-03-16 09:29] #2065 closed

[2019-03-16 09:30] #2067 closed

[2019-03-16 09:33] ThomasKranitsas commented on #2068
@sushilshinde  @skyhit does this look like an API issue?

[2019-03-16 09:33] ThomasKranitsas commented on #2069
@sushilshinde @skyhit API issue?

[2019-03-16 10:02] kiranmaroju opened #2122 "[$100] Profile Settings: Reloading the "Communities" page redirects to "Basic Info" page"
**Steps to Reproduce**

1. Go to user's profile settings page-->Basic info (https://www.topcoder-dev.com/settings/profile)
2. Click on 'Communities' tab on left side
3. Select/Un-Select any community and check save status message at the top
4. Reload the page to check whether Communities check box button states are saved properly or not

**Actual Behaviour**
Reloading the "Communities" page redire

[2019-03-16 10:03] Jacob15 opened #2123 "Settings>Account>Linked Accounts Add Link Button change into big size while adding already added link"
**Describe the bug**

Already added link makes add link button bigger.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Account'
3. Scroll down to 'Linked Accounts'
4. Enter the already added link in the External link text box.
5. Observe that the "Add link" button becoming bigger size.

**Expected behavior**
Add link button should not become bigger size while ty

[2019-03-16 10:08] kiranmaroju opened #2124 "Profile Settings: Tools-->Software: Same icon is being displayed for all Software Types"
**Steps to Reproduce**

1. Go to  Profile settings and Tools page('https://www.topcoder-dev.com/settings/tools')
2. Click on 'Software' tab
3. Add "Browser" type software entry
4. Add "Utilities" type software entry
5. Check items are saved or not and check icons & data of the above items added

**Actual Behaviour**
Same icon is being displayed for all Software Types

**Expected behavior**
Differe

[2019-03-16 10:10] Jacob15 opened #2125 "Settings>Account>Linked Accounts User able to add already defaulted links again."
**Describe the bug**
User able to add already defaulted link as external link again(for ex:github)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Account'
3. Scroll down to 'Linked Accounts'. Click it.
4. Add "www.github.com" as external link agin.
5. Click Add link button.

**Expected behavior**
User should not able to add external link as defaulted link again

[2019-03-16 10:12] ThomasKranitsas commented on #2070
duplicate https://github.com/topcoder-platform/community-app/issues/2050

[2019-03-16 10:12] #2070 closed

[2019-03-16 10:13] ThomasKranitsas commented on #2071
duplicate https://github.com/topcoder-platform/community-app/issues/2050

[2019-03-16 10:13] #2071 closed

[2019-03-16 10:17] ThomasKranitsas commented on #2073
This is not a bug but it's a valid UX issue.

We should probably add a message to indicate that private challenges are not shown.

[2019-03-16 10:18] kiranmaroju opened #2126 "Profile Settings: Tools-->Service Providers: Same icon for "Financial Institution" and "Internet Service Provider""
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/tools'
2. Click on 'Service Providers"' tab on left side
3. Add a "Financial Institution" and "Internet Service Provider" entry
4. Check above entries are saved and check the data & icons pf the entries

**Actual Behavior**
Entries are saved with same icon for "Financial Institution" and "Internet Service Provider"

**Expected

[2019-03-16 10:19] Jacob15 opened #2127 "Settings>Account>Linked Accounts Disable feature is not present similar to that of defaulted account."
**Describe the bug**
User unable to disable the external links similar to defaulted links.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Preferences'
3. Scroll down to 'Linked Accounts'. Click on it.
4. User unable to disable the external links added right now.

**Expected behavior**
User should be able to disable the external links added.

**Screenshots**
![L

[2019-03-16 10:21] kiranmaroju opened #2128 "Profile Settings: Tools-->Service Providers: Incorrect icon for "Other" type"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/tools'
2. Click on 'Service Providers"' tab on left side
3. Add  "Other" type entry
4. Check above entrys is saved and check the data & icons of the enty

**Actual Behaviour**
Incorrect icon for  "Other" type

**Expected behavior**
Icon should be meaningful and easily convey the service provide type

**Screen shots/video**
![i

[2019-03-16 10:26] Jacob15 opened #2129 "Settings>Account>Linked Accounts Icons were not highlighted similar to that of defaulted links."
**Describe the bug**
External link icons were not highlighted in blue color similar to defaulted link when user hover mouse over it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Account'
3. Scroll down to 'Linked Accounts'. Click on Linked Accounts again.
4. Hover the mouse over the defaulted links and external links added.
5. User able to view blue color hig

[2019-03-16 10:33] kiranmaroju opened #2130 "Profile Settings: Tools-->Subscriptions: Only "Name" field displayed, "Type" field is not there"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/tools'
2. Click on 'Subscriptions"' tab on left side
3. Check fields available to enter data

**Actual Behaviour**
Only "Name" field displayed. "Type" field is not there

**Expected behavior**
For user to enter data in proper & easy way Both Type and Name fields should be there.
Type: Can be anything which topcoder thinks more

[2019-03-16 10:34] Jacob15 opened #2131 "[$30] Settings>Account>Linked Account Cursor is not turning into Hand symbol when user hover mouse over icon"
**Describe the bug**
Weblink icon for newly adding link with status(Loading data. This will take a few minutes.) mouse is not getting changed to hand symbol when user hover mouse over it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Account'
3. Scroll down to 'Linked Accounts'. Click on Linked Accounts again.
4. Add a external link.
5. Click add link button a

[2019-03-16 10:38] kiranmaroju opened #2132 "[$60] Profile Settings: Tools-->Subscriptions: "Add" button is enabled even though all required fields(Name) are blank"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/tools'
2. Click on 'Subscriptions"' tab on left side
3. Check fields available to enter data

**Actual Behavior**
"Add subscription to your list" button is enabled even though all required fields(Name) are blank

**Expected behavior**
"Add subscription to your list" button should be disabled when any of the required fields(Nam

[2019-03-16 10:43] Jacob15 opened #2133 "Settings>Account>Linked Account External links added were not displayed with the same link like of defaulted link."
**Describe the bug**
Alignment of external links displayed were not similar to that defaulted links.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Accounts'
3. Scroll down to 'Linked Accounts'. Click the Linked Accounts again.
4.  Add more external links.
5. Observe the alignment w.r.t defaulted links. They were not similar.

**Expected behavior**
Alignment of

[2019-03-16 10:44] Jacob15 commented on #2133
Alignment of external links were not similar to that defaulted links.

[2019-03-16 10:45] kiranmaroju opened #2134 "Profile Settings: Tools-->Devices: "Add" button is enabled even though all required fields are blank"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/tools'
2. Click on 'Devices"' tab on left side
3. Check fields available to enter data

**Actual Behavior**
"Add subscription to your list" button is enabled even though all required fields(Type, Manufacturer etc) are blank

**Expected behavior**
"Add subscription to your list" button should be disabled when any of the require

[2019-03-16 10:49] kiranmaroju opened #2135 "Profile Settings: Tools-->Software: "Add" button is enabled even though all required fields are blank"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/tools'
2. Click on 'Software"' tab on left side
3. Check fields available to enter data

**Actual Behaviour**
"Add subscription to your list" button is enabled even though all required fields(Type, Name etc) are blank

**Expected behavior**
"Add subscription to your list" button should be disabled when any of the required fiel

[2019-03-16 10:59] kiranmaroju opened #2136 "[$50] Profile Settings: Account-->Linked Accounts: Stackoverflow id-name not displayed, instead id-number displayed"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Linked Accounts' tab on left side
3. Add "Stackoverflow" account
4. Check the details(id-name) of the account added

**Actual Behaviour**
Stackoverflow id-name not displayed, instead id-number is displayed

**Expected behavior**
Stackoverflow id-name should be displayed(to quickly identify accoun) like gi

[2019-03-16 11:04] kiranmaroju opened #2137 "[$40] Profile Settings: Account-->Linked Accounts: Can not add few accounts(linkedIn, Behance, Twitter)"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Linked Accounts' tab on left side
3. Try to add linkedIn, Behance, Twitter accounts

**Actual Behaviour**
 Can not add few accounts(linkedIn, Behance, Twitter), these are disabled.

**Expected behavior**
User should be able to add linkedIn, Behance, Twitter accounts

**Screen shots/video**
![image](https:

[2019-03-16 11:05] Jacob15 opened #2138 "Settings>Profile>Skills Skill dropdown box to be highlighted similar to that of text box."
**Describe the bug**
Skill dropdown box to be highlighted similar to that of text boxes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Profile'
3. Scroll down to 'Skills'.
4. Observe Skill Type dropdown.
5. Its to be higlighted similar to that of text boxes.

**Expected behavior**
Skill Type dropdown were not highligted similar to that of text boxes.

**Screen

[2019-03-16 11:09] kiranmaroju opened #2139 "Profile Settings: Account-->Linked Accounts: "Add Link" button is enabled even though 'External Link' field is blank"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Linked Accounts' tab on left side
3. Check fields available to enter data

**Actual Behaviour**
"Add Link" button is enabled even though 'External Link' is blank

**Expected behavior**
"Add Link" button should be disabled when any of the required fields('External Link') are blank

**Screen shots/video**
!

[2019-03-16 11:13] kiranmaroju opened #2140 "Profile Settings: Account-->Linked Accounts: "*Required field" mark is not there on 'External Link' field"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Linked Accounts' tab on left side
3. Check fields available to enter data

**Actual Behavior**
"*Required field" mark is not there on 'External Link' field

**Expected behavior**
"*Required field" mark should be there on 'External Link' field

**Screen shots/video**
![image](https://user-images.githubuser

[2019-03-16 11:13] JudithElizabeth opened #2141 "Login via Twitter"
**Cannot Login via Twitter**
When selecting twitter as as option to log in, Firefox opens another tab, which automatically closes without allowing you to log in.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to login page
2. Click on Twitter as an option to log in
3. See error

**Expected behavior**
Should open page that asks for Twitter account details

**Video**
https://drive.google.c

[2019-03-16 11:14] JudithElizabeth commented on #2141
Major

[2019-03-16 11:18] kiranmaroju opened #2142 "Profile Settings: Account-->Linked Accounts: "Loading data. This will take a few minutes." message displayed even after 15mins"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Linked Accounts' tab on left side
3. Add any account(Stackoverflow, Github )
4. Wait for 15mins
5, Check whether the account data is loaded properly

**Actual Behaviour**
 "Loading data. This will take a few minutes." message displayed even after 15mins

**Expected behavior**
Account data should be loaded

[2019-03-16 11:21] Jacob15 opened #2143 "Settings>Profile>Hobbies Description User unable to enter new line if the user performed <160+new line operation twice."
**Describe the bug**
User unable to enter new line after user performed new line operation twice in 160th charecter twice.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile'
2. Click on 'Hobbies'
3. Scroll down to 'Description ' text box.
4. Add 160 charecters in Description text box.
5. Delete 160th charecter and add new line.
7. Now move to 160th charecter and add a charecter

[2019-03-16 11:28] kiranmaroju opened #2144 "[$70] Profile Settings: Account-->Linked Accounts: "ERROR: Failed to add web link!" error while adding valid external link"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Linked Accounts' tab on left side
3. Add any valid url link in External Link field("www.topcoder-dev.com/settings/account")

**Actual Behaviour**
"ERROR: Failed to add web link!" error displayed

**Expected behavior**
Valid external web Link should be added

**Screen shots/video**
https://dl.dropboxuserco

[2019-03-16 11:32] Jacob15 opened #2145 "Settings>Profile>Community Alert messages were not appearing again when Community switches on/off"
**Describe the bug**
Success validation message is not appearing twice when community switches between on/off state without any time interval.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile'
2. Click on 'Community'.
3. Change the Community name to on/off state immediately without any interval between two operations.
4. Observe the validation messages were not appearing twice.

[2019-03-16 11:44] JudithElizabeth opened #2146 "Cannot Change Email Prefernces"
**Options to change email preferences cannot be clicked**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Login in
2. Click on Preferences
3. Try to select or deselect an email preference option
4. See error

**Expected behavior**
Should be able to select button to make changes

**Video**
https://drive.google.com/open?id=1nK0VudOVcNYOi02Gu2

[2019-03-16 11:44] JudithElizabeth commented on #2146
Blocker/Critical

[2019-03-16 13:01] codejamtc opened #2147 "All the winning challenges are not shown"
![image](https://user-images.githubusercontent.com/42398485/54475644-a42a3300-47c1-11e9-9b46-436d65babfca.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/Wendell/details/?track=DEVELOP&subTrack=DESIGN&tab=challenges

**Actual:** There are 32 wins but only a few shown

**Expected:** Should show all the 32 challenges

**Reproducibility Rate:** 3/3

**Enviro

[2019-03-16 13:03] codejamtc commented on #2099
![image](https://user-images.githubusercontent.com/42398485/54475668-fec38f00-47c1-11e9-84a4-18bd333025f4.png)

[2019-03-16 13:14] codejamtc opened #2148 "Chart tool tip is appearing even though user focus on a different location"
https://www.screencast.com/t/fWfgj4Xp0

1. Open the application and log in as TonyJ
2. Go to https://www.topcoder.com/members/Wendell/details/?track=DEVELOP&subTrack=DEVELOPMENT
3. Go to Rating History Graph
4. Hover over the first green dot (Bar Graph) and wait for few seconds
5. After the tooltip is shown click on the outside of the chart area and it will hide
6. Hover between the APR and JUL (E

[2019-03-16 13:19] codejamtc commented on #2147
Same here as well: https://www.topcoder.com/members/Wendell/details/?track=DEVELOP&subTrack=DEVELOPMENT&tab=challenges

[2019-03-16 13:49] codejamtc opened #2149 "While scrolling; Left side profile data section goes below the footer"
![image](https://user-images.githubusercontent.com/42398485/54476188-6250bb00-47c8-11e9-9016-251904c386e8.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/Wendell
3. Scroll the page down

**Actual:** While scrolling; Left side profile data section goes below the footer

**Expected:** Should stop before the footer area

**Reproducibility Rate:** 3/3

**Envi

[2019-03-16 13:52] codejamtc opened #2150 "[$40] Badges are not shown for some members"
![image](https://user-images.githubusercontent.com/42398485/54476236-dbe8a900-47c8-11e9-863d-114236e2325d.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/winterflame
3. Click Badges

**Actual:** Badges are not shown for some members

**Expected:** Should show badges for all users

**Reproducibility Rate:** 3/3

**Environment:** HP Pavilion x360 14 inch; W

[2019-03-16 13:54] kiranmaroju opened #2151 "Public Profile: COPILOT challenges data not showing"
**Steps to Reproduce**

1. Go to any copilots public profile ex: 'https://www.topcoder.com/members/thomaskranitsas/details/?track=COPILOT&subTrack=COPILOT'
2. Check copilots challenges data

**Actual Behaviour**
COPILOT challenges data not showing

**Expected behavior**
Should show COPILOT challenges

**Screen shots/video**
![image](https://user-images.githubusercontent.com/6736067/54476251-167e30

[2019-03-16 13:58] codejamtc opened #2152 "[$30] Page width increases when user tap on the 'View Rating Distribution'"
![image](https://user-images.githubusercontent.com/42398485/54476304-b314e380-47c9-11e9-8ac7-0c5d7914881e.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/winterflame/details/?track=DEVELOP&subTrack=TEST_SCENARIOS
3. Click 'View Rating Distribution'

**Actual:** Page width increases when user tap on the 'View Rating Distribution'

**Expected:** Page width

[2019-03-16 14:02] codejamtc opened #2153 "Tool tip goes out of the screen area when user tap on it and also it will automatically load the challenge page"
1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/winterflame/details/?track=DEVELOP&subTrack=TEST_SCENARIOS
3. Click 'View Rating History'
4. Tap on 2010 point

**Actual:** Tool tip goes out of the screen area when user tap on it and also it will automatically load the challenge page

**Expected:** Should display with in the page and should not load the challeng

[2019-03-16 14:03] codejamtc opened #2154 "Tapping on a point won't open the tool tip sometimes"
1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/winterflame/details/?track=DEVELOP&subTrack=TEST_SCENARIOS
3. Click 'View Rating History'
4. Tap on 2010 point

**Actual:** Tapping on a point won't open the tool tip sometimes

**Expected:** Should display the tool tip

**Reproducibility Rate:** 3/3

**Environment:** Google Pixel XL, Android 9.0 | Browser: Google

[2019-03-16 14:03] codejamtc commented on #2154
![image](https://user-images.githubusercontent.com/42398485/54476361-5ebe3380-47ca-11e9-8199-7f21434e5e46.png)

[2019-03-16 14:04] codejamtc commented on #2153
![image](https://user-images.githubusercontent.com/42398485/54476367-77c6e480-47ca-11e9-870d-125872345e39.png)

[2019-03-16 14:08] codejamtc opened #2155 "UI Prototype chart line is not showing the correct color"
![image](https://user-images.githubusercontent.com/42398485/54476407-f754b380-47ca-11e9-9395-d170f6c4f324.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/winterflame/details/?track=DEVELOP&subTrack=UI_PROTOTYPE_COMPETITION
3. Click 'View Rating History'
4. The rating is in the blue area and Y axis color label is red

**Actual:** UI Prototype chart line is

[2019-03-16 14:09] codejamtc opened #2156 "[View Rating Distribution] Tool tip goes out of the screen area when user tap on it"
![image](https://user-images.githubusercontent.com/42398485/54476425-3e42a900-47cb-11e9-8048-487ec666e8ce.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/winterflame/details/?track=DEVELOP&subTrack=TEST_SCENARIOS
3. Click 'View Rating Distribution'
4. Tap on a bar

**Actual:** Tool tip goes out of the screen area when user tap on it

**Expected:** Should

[2019-03-16 14:12] codejamtc opened #2157 "[View Rating Distribution] Very difficult to tap on if the member count is less than 3"
[View Rating Distribution] Very difficult to tap on if the member count is less than 3

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/winterflame/details/?track=DEVELOP&subTrack=TEST_SCENARIOS
3. Click 'View Rating Distribution'
4. Tap on a bar that have 2-3 members

**Actual:** Very difficult to tap on if the member count is less than 3

**Expected:** Should

[2019-03-16 14:14] codejamtc commented on #2157
![image](https://user-images.githubusercontent.com/42398485/54476477-db9ddd00-47cb-11e9-940c-ad1b827740e3.png)

[2019-03-16 14:37] HongHT opened #2158 "UI PROTOTYPE COMPETITION/ SRM: the labels of x-axis are overlap when user tap on the 'View Rating History'"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to:
 https://www.topcoder.com/members/thomaskranitsas/details/?track=DEVELOP&subTrack=UI_PROTOTYPE_COMPETITION
And
https://www.topcoder.com/members/thomaskranitsas/details/?track=DATA_SCIENCE&subTrack=SRM

2. Click 'View Rating History'

**Actual:**
The labels of x-axis are overlap when user tap on the 'View Rating History'

**Expected**
The

[2019-03-16 14:52] HongHT opened #2159 "SRM: the labels of x-axis are overlap when user tap on the 'View Rating Distribution'"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to:
https://www.topcoder.com/members/thomaskranitsas/details/?track=DATA_SCIENCE&subTrack=SRM

2. Click 'View Rating Distribution'

**Actual:**
The labels of x-axis are overlap when user tap on the 'View Rating Distribution'

**Expected**
The labels of x-axis should not overlap when user tap on the 'View Rating Distribution'

**Screenshots**

[2019-03-16 15:07] codejamtc opened #2160 "[View Rating Distribution/View Rating History] Page width increases after viewing the tool tip"
![image](https://user-images.githubusercontent.com/42398485/54477165-266f2300-47d3-11e9-8500-d827d5f37c5b.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/winterflame/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH
3. Click 'View Rating Distribution'
4.  Click 'View Rating History'
5. Tap on a bar that has 2-3 members ('View Rating Distribution')
6. Ta

[2019-03-16 15:59] drasticdpk opened #2161 "[$20] User can upload large size of image in user profile."
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Go to 'https://www.topcoder-dev.com/settings/profile'
3. Click on 'Upload a new avatar' button.
4. Upload the image with large size.

**Expected behavior**
 User should not able to upload large image. System should prompt to user with valid information if user try to upload large size of image.

**Scree

[2019-03-16 16:07] HongHT opened #2162 "ASSEMBLY COMPETITION: chart line is not showing the correct color"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to:
 https://www.topcoder.com/members/thomaskranitsas/details/?track=DEVELOP&subTrack=ASSEMBLY_COMPETITION

2. Click 'View Rating History'

**Actual:**
chart line is not showing the correct color. The rating is in the green area and Y axis color label is red

**Expected**
Should display the Green

**Screenshots**
<img width="1208" alt="Screen

[2019-03-16 16:17] kiranmaroju opened #2163 "[$100] Profile Settings: Tools-->Devices: No Success message after adding devices"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/tools'
2. Click on 'Devices"' tab on left side
3. Add a device by filling all relevant details
4. Check Success/Error message regarding the device addition.

**Actual Behaviour**
No Success message after adding devices

**Expected behavior**
Success message should be displayed once the device is added

**Screen shots/video**
h

[2019-03-16 16:20] kiranmaroju opened #2164 "Profile Settings: Tools-->Devices: No Success message after deleting devices"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/tools'
2. Click on 'Devices"' tab on left side
3. Delete any already existing device
4. Check confirmation/success message after device deletion

**Actual Behavior**
No Success message after deleting devices

**Expected behavior**
Success message should be displayed after deletion of the device

**Screen shots/video**
https://

[2019-03-16 16:47] drasticdpk opened #2165 "[$40] Multiple request hitting on server side at Save button’s click"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Go to 'https://www.topcoder-dev.com/settings/profile'
3. Make the multiple Click (in fast way) on 'Save Changes' button.

**Expected behavior**
 Button should not have multiple clickable for user. System should not make multiple  request to server at same button's click event.

**Screenshots/Video**

![

[2019-03-16 16:52] kiranmaroju opened #2166 "Profile Settings: profile: Form data entered is not saving temporarily"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Profile"' tab
3. Enter some data(Country , City, State etc)
4. Reload the page

**Actual Behavior**
Data entered is not showing up again after reloading

**Expected behavior**
Entered data should be shown after reloading, data should be saved temporarily for some time,
Because there are several fields, us

[2019-03-16 17:02] kiranmaroju opened #2167 "Profile Settings: Profile-->Hobbies: "Add hobby to your list" button is enabled even though all required fields are blank"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Hobbies"' tab on left side
3. Check "Add hobby to your list" is disabled if no data is entered in required fields("Hobby" & "Description")

**Actual Behaviour**
"Add hobby to your list" button is enabled even though all required fields(("Hobby" & "Description") are blank

**Expected behavior**
"Add hobby

[2019-03-16 17:03] drasticdpk opened #2168 "[$20] Leading and trailing space is updating on user profile’s page"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Go to 'https://www.topcoder-dev.com/settings/profile'
3. Enter the Leading  and trailing space text in Short bio text box.
4. Click on 'Save Changes' button.

**Expected behavior**
  Leading  and trailing space of text should be trim before saving it in database.

**Screenshots/Video**
![space](https://

[2019-03-16 17:06] kiranmaroju opened #2169 "Profile Settings: Profile-->Skills: "Add skill to your list" button is enabled even though all required fields are blank"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Skills"' tab on left side
3. Check "Add skill to your list" is disabled if no data is entered in required fields("Skill")'

**Actual Behavior**
"Add skill to your list" button is enabled even though all required fields(("Skill") are blank

**Expected behavior**
"Add skill to your list" Button should be di

[2019-03-16 17:12] kiranmaroju opened #2170 "Profile Settings: Profile-->Basic Info: "Save Changes" button is enabled even though all required fields are blank"
**Steps to Reproduce**

1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info"' tab on left side
3. Check "Save Changes" button is disabled if no data is entered in required fields("Last Name")'

**Actual behavior**
"Save Changes" button is enabled even though all required fields(("Last Name") are blank

**Expected behavior**
"Save Changes" Button should be disabled when

[2019-03-16 17:18] drasticdpk opened #2171 "Search function is not working correctly on Skills page"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Go to 'https://www.topcoder-dev.com/settings/profile'
3. Click on 'Skills' menu.
4. Type 'kafka' in  skill's dropdown's search box.

**Expected behavior**
  All items with 'kafka' should be display. From skill dropdown, user can slect 'Apache Kafka'  by typing 'kafka' in textbox.

**Screenshots**
![Sear

[2019-03-16 17:25] kiranmaroju opened #2172 "Profile Settings: Profile-->Basic Info: After changing Country, is not reflecting in public profile page"
**Steps to Reproduce**
1. Login as "christina_uw" in https://www.topcoder-dev.com
2. Go to user's profile settings page( 'https://www.topcoder-dev.com/settings/profile')
3. Click on 'Basic Info"' tab on left side
4. Change "Country" and save changes
5. Verify new country is reflected in user's public profile page("https://www.topcoder-dev.com/members/christina_uw")

**Actual behavior**
New Country

[2019-03-16 17:41] drasticdpk opened #2173 "Tools > Unable to add a new subscription"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and login as TonyJ
2. Go to 'https://www.topcoder-dev.com/settings/tools'
3. Click on 'Subscriptions' menu.
4. Type the 'News Letter' in Subscriptions page's textbox.
5. Press Enter Key

**Expected behavior**
  'News Letter' should be added to Subscriptions List. User should be redirected on Subscriptions Page.

**Screenshot

[2019-03-16 17:49] kiranmaroju opened #2174 "Public Profile-->Badges: 100,500,1000 Forum post dates are incorrect"
**Steps to Reproduce**
1. Navigate to any user's public profile(who has posts more than 1000 ex: https://www.topcoder.com/members/nithyaasworld)
2. Click on Badges
3. Check 100, 500, 1000 forum post dates and verify the dates

**Actual behavior**
100, 500,1000 Forum post dates are incorrect, same date(as 1st post) is displayed.

**Expected behavior**
Should show actual date on which that post(1/10

[2019-03-16 17:56] kiranmaroju opened #2175 "Public Profile-->Badges: 50th & 100th Passing Submission dates are incorrect"
**Steps to Reproduce**

1. Navigate to any user's public profile(who has Passing Submission more than 100 ex: https://www.topcoder.com/members/nithyaasworld)
2. Click on Badges
3. Check 50, 100, Passing Submission dates and verify the dates

**Actual behavior**
100th Passing Submission date is before the 50th Passing Submission.
1st Jul 27th 2013
50th Aug 04th 2013
100th Jul 27th 2013,

**Expected

[2019-03-16 18:04] kiranmaroju opened #2176 "Public Profile-->Badges: Placement dates(25,50,100th) are incorrect"
**Steps to Reproduce**

1. Navigate to any user's public profile(who has Placements more than 100 ex: https://www.topcoder.com/members/nithyaasworld)
2. Click on Badges
3. Check 25, 50, 100th Placements dates and verify the dates

**Actual behavior**
25, 50, 100th Placements dates shown as 1st Placement Date.

**Expected behavior**
Placements dates should be the dates on which respective(25, 50, 1

[2019-03-16 18:16] kiranmaroju opened #2177 "Public Profile-->Badges: First Placement dates(25,50th) are incorrect"
**Steps to Reproduce**

1. Navigate to any user's public profile(who has First Placements more than 50 ex: https://www.topcoder.com/members/nithyaasworld)
2. Click on Badges
3. Check 25, 50th First Placements dates and verify the dates''

**Actual behavior**
First Placement dates(25,50th) are incorrect , showing 1st First placement date for 25th & 50th also.

**Expected behavior**
First Placements

[2019-03-16 18:50] kiranmaroju commented on #2064
@ThomasKranitsas , HI

iamtong's Design F2F challenges also not displaying.

![image](https://user-images.githubusercontent.com/6736067/54480074-4c83da00-484a-11e9-8df0-2a821bd7265f.png)

[2019-03-16 19:13] kiranmaroju opened #2178 "Public Profile-->Failed to load Marathon challenges"
**Steps to Reproduce**

1. Navigate to any user's(who has participated in marathons) public profile
ex: https://www.topcoder.com/members/cannab
2. Click on "MARATHON_MATCH"(https://www.topcoder.com/members/cannab/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH)
3. Click on Challenges tab(https://www.topcoder.com/members/cannab/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH&tab=challenges)

[2019-03-16 19:18] kiranmaroju opened #2179 "[$20] Public Profile-->Invalid Country Rank(0) displayed in Statistics page"
**Steps to Reproduce**

1. Navigate to any user's(who has participated in marathons) public profile
2. ex: https://www.topcoder.com/members/cannab
3. Click on "MARATHON_MATCH"(https://www.topcoder.com/members/cannab/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH)
4. Check Country rank in Statistics page.

**Actual behavior**
Country Rank(0) displayed in Statistics page

**Expected behavior**

[2019-03-16 19:20] kiranmaroju opened #2180 "Public Profile-->Invalid Rank(0) displayed in Statistics page"
**Steps to Reproduce**

1. Navigate to any user's(who has participated in marathons) public profile
2. ex: https://www.topcoder.com/members/cannab
3. Click on "MARATHON_MATCH"(https://www.topcoder.com/members/cannab/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH)
4. Check Rank in Statistics page.

**Actual behavior**
Rank(0) displayed in Statistics page

**Expected behavior**
Valid Rank shoul

[2019-03-16 19:30] kiranmaroju opened #2181 "Public Profile-->Year is not displayed in x-axis in "Rating History Graph""
**Steps to Reproduce**

1. Navigate to any user's(who has participated in SRMs) public profile (ex: https://www.topcoder.com/members/cannab)
2. Click on "SRM"(https://www.topcoder.com/members/cannab/details/?track=DATA_SCIENCE&subTrack=SRM)
3. Check Year in X-axis in  "Rating History Graph"

**Actual behavior**
Year is not displayed  x-axis in "Rating History Graph" for the members who has challen

[2019-03-16 20:05] ashokdas1 opened #2182 "[$20] Past challenges review score not proper. Showing as "NaN%""
Steps:
https://www.topcoder.com/members/thomaskranitsas/details/?track=DEVELOP&subTrack=FIRST_2_FINISH&tab=challenges

Settings -> Profile -> Basic Info -> Personal details
Some of the past challenges review score not proper. Showing as "NaN%"

Actual: Past challenges review score not proper. Showing as "NaN%"

Expected: Past challenges review score should be valid percentage

Reproducible Rate: 3

[2019-03-17 00:53] Jacob15 opened #2183 "HomePage>Profile>Profile icon Bootstrap icon still displayed after user get login with topcoder-dev."
**Describe the bug**
Bootstrap icon having login and Join Topcoder still shows near profile icon in Home page after user complete signing process

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'topcoder-dev.com'
2. Enter login credentials with TonyJ.'
3. Observe the Home page displayed.
4. Verify the bootstrap icon is present near to the profile logo.

**Expected behavior**
Bootstrap

[2019-03-17 01:00] Jacob15 opened #2184 "Settings>Profile>Basic Info Profile picture uploading is very slow."
**Describe the bug**
profile picture uploading performance is very slow when ompared to other operations.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings''
2. Click on 'Basic Info'
3. Scroll down to 'Profile Picture'. Upload picture
4. It takes 1-2 min to upload the picture

**Expected behavior**
Uploading the profile picture is taking time to load.

**Screenshots**
![Profile

[2019-03-17 01:07] Jacob15 opened #2185 "[$30] Settings>Profile>Basic Info Upload Profile Picture Browse button need to be replaced with Upload avatar like desktop"
**Describe the bug**
Upload button name to changed as "Upload avatar image" like displayed in browsers in the desktop/laptop.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Profile'
3. Scroll down to 'Basic Info'
4. Check Browse button is present instead of "Change avatar' button.

**Expected behavior**
Browse button to be changed as "upload avatar' caption in

[2019-03-17 01:21] Jacob15 opened #2186 "[$20] Settings>Profile>Basic Info User able to enter more than 240 charecters in short bio."
**Describe the bug**
User able to enter more than max charecters in the Short bio description field.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Profile'
3. Scroll down to 'Basic Info'
4. Enter 240 charecters and delete one charecter at the end.
5. Press Enter key.
6 .Again go back to 239 th charecter and start typing more charecters.
7. Save changes.
8. Use

[2019-03-17 01:35] Jacob15 opened #2187 "Settings>Profile>Basic Info Save changes is not happening when user enter more number of charecters in the location and interest."
**Describe the bug**
Save changes were not reflected in the first time when user entered more number of charecters in the Interest and location.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Profile'
3. Scroll down to 'Basic Info'
4. Edit interest and location text boxes charecters after max limit.
5. Now save changes.
6. User not shown any successful message.

[2019-03-17 01:40] Jacob15 opened #2188 "Settings>Profile>Basic Info User able to enter more number of charecters in the interest and location"
**Describe the bug**
User able to enter more number of charecteres in the location and interest text boxes in the basic info page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Profile'
3. Scroll down to 'Basic info'. Now move to short bio.
4. Edit the location and interest characters after the max limit.
5 User able to edit more number of charecters after the

[2019-03-17 02:19] Jacob15 opened #2189 "Public Profile > Profile Page contents were not displayed in new page without hitting refresh."
**Describe the bug**
Public profile contents were not displayed while opening in new tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile'
2. Click on 'Settings'
3. Scroll down to 'Basic Info'. Now click profile icon link again and select "My Profile"
4. My profile page is opening new tab but its contents were not displayed.

**Expected behavior**
Profile page contents to be d

[2019-03-17 02:50] Jacob15 opened #2190 "[$40] [IE11]Profile>Settings Profile Picture is not getting displayed"
**Describe the bug**
Profile picture is not displayed in the Settings Page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Setttings'
2. View the Profile in the right top corner.
3. Its not getting displayed.

**Expected behavior**
Profile picture to get displayed.

**Screenshots**
![Profile_Picture](https://user-images.githubusercontent.com/13567734/54484458-60046480-488d-11e9-9c98-

[2019-03-17 05:13] codejamtc opened #2191 "[View Rating History] The graph area is blank if there is no passing review submission"
![1](https://user-images.githubusercontent.com/42398485/54485593-81436180-4849-11e9-98b5-125aaf335e55.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/winterflame/details/?track=DEVELOP&subTrack=ARCHITECTURE&tab=statistics

**Actual:** The graph area is blank if there is no passing review submission

**Expected:** Should display a message "No Results Found

[2019-03-17 05:14] codejamtc opened #2192 "[$60] IDEA GENERATION challenges are not shown"
![2](https://user-images.githubusercontent.com/42398485/54485595-94563180-4849-11e9-97c8-6db7d21b85a7.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/winterflame/details/?track=DEVELOP&subTrack=IDEA_GENERATION&tab=challenges

**Actual:** IDEA GENERATION challenges are not shown

**Expected:** Should show the 2 available challenges in the list

**Reproduci

[2019-03-17 05:14] codejamtc opened #2193 "DEVELOPMENT challenges count is incorrect"
![3](https://user-images.githubusercontent.com/42398485/54485598-a506a780-4849-11e9-8751-78e718a67477.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/winterflame/details/?track=DEVELOP&subTrack=DEVELOPMENT&tab=challenges

**Actual:** DEVELOPMENT challenges count is incorrect

**Expected:** Should show 25 available challenges in the list

**Reproducibility

[2019-03-17 05:15] codejamtc opened #2194 "[$40] Date time picker is not closing when user tap on another area"
1. Open the application and login as TonyJ
2. Go to https://www.topcoder-dev.com/settings/profile
3. Click on Birth Date
4. Tap on another area

**Actual:** Date time picker is not closing when user tap on another area

**Expected:** Tap on another location should close the date time picker

**Reproducibility Rate:** 3/3

**Environment:** iPad Air, iOS 12.1.4 | Browser: Safari

[2019-03-17 05:16] codejamtc opened #2195 "UI issue in the 'Skill' drop down"
![5](https://user-images.githubusercontent.com/42398485/54485607-c7002a00-4849-11e9-93c4-0657b3b82276.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder-dev.com/settings/profile
3. Click on Skills

**Actual:** UI issue in the 'Skill' drop down

**Expected:** Should span through the entire section (Comapre with Google Chrome)

**Reproducibility Rate:** 3/3

**Environment

[2019-03-17 05:16] codejamtc opened #2196 "UI issue in the 'Hobby' text fields"
![6](https://user-images.githubusercontent.com/42398485/54485610-d7b0a000-4849-11e9-9ea5-a78b2bb1897b.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder-dev.com/settings/profile
3. Click on Hobbies

**Actual:** UI issue in the 'Hobby' text fields

**Expected:** Should span through the entire section (Comapre with Google Chrome)

**Reproducibility Rate:** 3/3

**Environm

[2019-03-17 05:17] codejamtc opened #2197 "[$20] Delete buttons are too big compared to other areas"
![7 1](https://user-images.githubusercontent.com/42398485/54485625-f747c880-4849-11e9-9adc-6b6e79d1fb3e.png)
![7 2](https://user-images.githubusercontent.com/42398485/54485626-f747c880-4849-11e9-89f2-91d1ba558d86.png)
![7 3](https://user-images.githubusercontent.com/42398485/54485627-f7e05f00-4849-11e9-936b-8df33dca8e8f.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder

[2019-03-17 05:17] codejamtc opened #2198 "UI issue in the 'Service Providers' and 'Subscriptions' textboxes"
![8 2](https://user-images.githubusercontent.com/42398485/54485629-0464b780-484a-11e9-83c2-643cb4a152d4.png)
![8 1](https://user-images.githubusercontent.com/42398485/54485630-04fd4e00-484a-11e9-9c03-b2988176a816.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder-dev.com/settings/tools
3. Click on Service Providers
4. Click on Subscriptions

**Actual:** UI issue in the

[2019-03-17 08:11] kiranmaroju opened #2199 "Public Profile > No "Developer" icon below profile pic, even though user has participated in Development activities"
**Steps to Reproduce**

1. Navigate to any user's(who has participated in Development activities) public profile (ex: https://www.topcoder.com/members/PereViki)
2. Below profile pic, check whether "Developer" icon is present or not

**Actual behavior**
No "Developer" icon

**Expected behavior**
"Developer" icon should be there, and clicking on it should focus development activities on right side.

[2019-03-17 08:14] Jacob15 opened #2200 "Settings> Tools>Devices Name of the device goes out of the modal if the user enter long charecters"
**Describe the bug**
Device information added is going out of the text box if the length of the device information is much.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Tools'
3. Scroll down to 'Devices'. Add devices with long charecters.
4. User added device information is going out of the text box.

**Expected behavior**
Added device information should not

[2019-03-17 08:25] Jacob15 commented on #2200
This is happening for all softwares, Service Provider &Subscriptions under tools section

[2019-03-17 08:26] kiranmaroju commented on #2199
Developer icon like this:

![image](https://user-images.githubusercontent.com/6736067/54487478-6e1da980-48bc-11e9-8977-6a3e3d0164b9.png)

[2019-03-17 09:07] kiranmaroju opened #2201 "Public Profile-->Badges icon+link not displayed"
**Steps to Reproduce**
Pre-requisite: Ensure that user(christina_uw) has at least 1 forum post/ 1-submission. If not create new post
1. Go to 'https://www.topcoder-dev.com/members/christina_uw'
2. Check Badges icon below the profile pic.

**Actual behavior**
Badges icon not displayed

**Expected behavior**
Badges icon should be there and clicking on it should show badges user has won

**Screen sho

[2019-03-17 14:57] kiranmaroju opened #2202 "Public Profile-->Badges: Milestones dates are incorrect"
**Steps to Reproduce**

1. Navigate to any user's public profile(who has milestones more than 50 ex: https://www.topcoder-dev.com/members/iamtong)
2. Click on Badges
3. Check 50,100,150,200th Milestones dates

**Actual behavior**
Dates are incorrect. 50th Milestone date(Jun20 2012) is before the 1st Milestone(1st Mar19.2013)

**Expected behavior**
Milestones dates should be the dates on which resp

[2019-03-17 15:07] codejamtc opened #2203 "Some contest types overlap with the win column"
1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/iamtong
3. Click on WEB DESIGNS
4. Click on menu icon (3x3 icon)

**Actual:** Some contest types overlap with the win column

**Expected:** Should not overlap

**Reproducibility Rate:** 3/3

**Environment:** Google Pixel XL, Android 9.0 | Browser: Google Chrome 73.0.3683.75

[2019-03-17 15:12] kiranmaroju opened #2204 "Public Profile-->Badges details are not showing for few members"
**Steps to Reproduce**

1. Navigate to any user's public profile( ex: https://www.topcoder-dev.com/members/ACRush)
2. Click on Badges
3. Check Badges details showing correctly or not

**Actual behavior**
Empty page displayed

**Expected behavior**
Should show member's badges details

**Screen shots/video**
https://dl.dropboxusercontent.com/s/lkrh61ihcc1pqhe/Txi77RnF0n.mp4

**Environment (please co

[2019-03-17 15:14] codejamtc opened #2205 "Image popup is not responsive"
1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/iamtong/details/?track=DESIGN&subTrack=LOGO_DESIGN
3. Click on Challenges
4. Click on the image icon

**Actual:** Image popup is not responsive

**Expected:** Should show the entire image popup within the screen area

**Reproducibility Rate:** 3/3

**Environment:** Google Pixel XL, Android 9.0 | Browser: Google Ch

[2019-03-17 15:15] codejamtc opened #2206 "1 of X goes out of the window"
1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/iamtong/details/?track=DESIGN&subTrack=LOGO_DESIGN
3. Click on Challenges
4. Click on the image icon

**Actual:** 1 of X goes out of the window

**Expected:** Should show it within the popup

**Reproducibility Rate:** 3/3

**Environment:** iPad Air, iOS 12.1.4 | Browser: Safari

[2019-03-17 15:20] codejamtc opened #2207 "'WIDGET OR MOBILE SCREEN DESIGN' challenges are not shown"
![image](https://user-images.githubusercontent.com/42398485/54493455-44558a00-489e-11e9-873a-2dea1ce3bc6f.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/iamtong/details/?track=DEVELOP&subTrack=WIDGET_OR_MOBILE_SCREEN_DESIGN
3. Click on Challenges
4. Look at the count = 9

**Actual:** 'WIDGET OR MOBILE SCREEN DESIGN' challenges are not shown

**Expected:*

[2019-03-17 15:21] codejamtc opened #2208 "'APPLICATION FRONT END DESIGN' challenges are not shown"
![image](https://user-images.githubusercontent.com/42398485/54493469-6ea74780-489e-11e9-8ec1-9e0f7ced9398.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/iamtong/details/?track=DEVELOP&subTrack=APPLICATION_FRONT_END_DESIGN
3. Click on Challenges
4. Look at the count = 7

**Actual:** 'APPLICATION FRONT END DESIGN' challenges are not shown

**Expected:** Sh

[2019-03-17 15:22] kiranmaroju opened #2209 "[$40] Public Profile-->Showing incorrect Past SRM points"
**Steps to Reproduce**

1. Navigate to any user's public profile( ex: https://www.topcoder.com/members/ACRush)
2. Click on SRM activity
3. Click on Past SRM tab
4. Check any SRM points and verify by navigating to that SRM

**Actual behavior**
Showing ZERO SRM points

**Expected behavior**
Should show points earned in that particular SRM

**Screen shots/video**
https://dl.dropboxusercontent.com/s/7

[2019-03-17 15:25] codejamtc opened #2210 "'DESIGN FIRST2FINISH' listed on two locations"
![image](https://user-images.githubusercontent.com/42398485/54493517-0311aa00-489f-11e9-92b9-207e019a3f51.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/iamtong/details/?track=DEVELOP&subTrack=FIRST_2_FINISH
3. Click on menu icon (3x3 icon)

**Actual:** 'DESIGN FIRST2FINISH' listed on two locations

**Expected:** Should display on the design section

**R

[2019-03-17 15:30] codejamtc opened #2211 "Some members SRM points/Division and Room info are not showing"
![image](https://user-images.githubusercontent.com/42398485/54493578-b7133500-489f-11e9-9331-0165392705b5.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/tourist/details/?track=DATA_SCIENCE&subTrack=SRM&tab=Past%20srm
3. Click Past SRM

**Actual:** Some members SRM points/Division and Room info are not showing

**Expected:** Should display the SRM points/

[2019-03-17 15:32] codejamtc opened #2212 "Some members clicking on division will show a white page"
1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/tourist/details/?track=DATA_SCIENCE&subTrack=SRM&tab=Past%20srm
3. Click Past SRM
4. Click Division0 in TCO19 Single Round Match 743

**Actual:** Some members clicking on division will show a white page

**Expected:** Should load the division page

**Reproducibility Rate:** 3/3

**Environment:** HP Pavilion x360 1

[2019-03-17 15:33] codejamtc commented on #2212
![image](https://user-images.githubusercontent.com/42398485/54493616-0ce7dd00-48a0-11e9-9f1f-342fb5afbb9a.png)

[2019-03-17 15:36] codejamtc opened #2213 "[$50] All SRM challenges are not listed"
![image](https://user-images.githubusercontent.com/42398485/54493668-95667d80-48a0-11e9-93bd-456319306c9a.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/tourist/details/?track=DATA_SCIENCE&subTrack=SRM&tab=Past%20srm
3. Click Past SRM

**Actual:** All SRM challenges are not listed

**Expected:** Should show all 269 challenges

**Reproducibility Rate:** 3

[2019-03-17 15:41] codejamtc opened #2214 "A badge is shown on the page"
1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/tourist/details/?track=DATA_SCIENCE&subTrack=SRM&tab=Past%20srm
3. Go to https://www.topcoder.com/members/tourist/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH
4. Click Past SRM

**Actual:** A badge is shown on the page

**Expected:** Should not show that particular badge on the page because on the desktop t

[2019-03-17 15:41] kiranmaroju opened #2215 "Public Profile-->Badges: Same dates displayed for "Rated Algorithm Competition""
**Steps to Reproduce**

1. Navigate to any user's public profile(who has "Rated Algorithm Competition"more than 25 ex: https://www.topcoder.com/members/Cosmin.ro)
2. Click on Badges
3. Check 1st,5th, 25th Rated Algorithm Competition" dates

**Actual behavior**
Same dates displayed as 1st "Rated Algorithm Competition" for the 5th & 25th also
1st - Sep 28th 2012
5th - Sep 28th 2012
25th - Sep 28th 2

[2019-03-17 15:43] codejamtc commented on #2069
https://www.topcoder.com/members/tourist/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH&tab=statistics

[2019-03-17 15:48] kiranmaroju opened #2216 "Public Profile-->Badges: Same dates displayed for "SRM Room Win""
**Steps to Reproduce**

1. Navigate to any user's public profile(who has "SRM Room Win"more than 5 ex: https://www.topcoder.com/members/Cosmin.ro)
2. Click on Badges
3. Check 1st,5th "SRM Room Win" dates

**Actual behavior**
Same dates displayed as 1st "SRM Room Win" for the 5th  also
1st - Sep 28th 2012
5th - Sep 28th 2012

**Expected behavior**
"SRM Room Win" dates should be the dates on which r

[2019-03-17 15:52] kiranmaroju opened #2217 "Public Profile-->Badges: Same dates displayed for "Solved Algorithm Problem" badges"
**Steps to Reproduce**

1. Navigate to any user's public profile(who has "Solved Algorithm Problem "more than 50 ex: https://www.topcoder.com/members/Cosmin.ro)
2. Click on Badges
3. Check 1st,10th, 50th "Solved Algorithm Problem" dates

**Actual behavior**
Same dates displayed as 1st "Solved Algorithm Problem" for the 10th & 50th also
1st - Sep 28th 2012
10th - Sep 28th 2012
50th - Sep 28th 2012

[2019-03-17 15:58] kiranmaroju opened #2218 "Public Profile-->Badges: Same dates displayed for "Successful Challenges" badges"
**Steps to Reproduce**

1. Navigate to any user's public profile(who has "Successful Challenges "more than 25 ex: https://www.topcoder.com/members/Cosmin.ro)
2. Click on Badges
3. Check 1st,5th, 25th "Successful Challenges" dates

**Actual behavior**
Same dates displayed as 1st "Successful Challenges" for the 5th & 25th also
1st - Sep 28th 2012
5th - Sep 28th 2012
25th - Sep 28th 2012

**Expected

[2019-03-17 16:20] kiranmaroju opened #2219 "Public Profile-->Forum posts are loading very slow(more than 22sec) for members who has many posts"
**Steps to Reproduce**

1. Navigate to any user's public profile(who has forum posts more than 5000 ex: https://www.topcoder.com/members/Wendell)
2. Click on "Forum posts"

**Actual behavior**
Forum posts are loading very slow(taking more than 22secs)

**Expected behavior**
Forum posts should be loaded within 22sec(most accepted time)

**Screen shots/video**
https://dl.dropboxusercontent.com/s/0e5

[2019-03-17 16:21] codejamtc opened #2220 "Tap on developer will hide the left side profile info section"
1. Open the application and login as TonyJ (Portrait)
2. Go to https://www.topcoder.com/members/Ghostar
3. Click Data Scientist
4. Click Developer

**Actual:** Tap on developer will hide the left side profile info section

**Expected:** Should not hide the profile info section

**Reproducibility Rate:** 3/3

**Environment:** iPad Air iOS 12.1.4 | Browser: Safari

[2019-03-17 16:27] kiranmaroju opened #2221 "Public Profile-->Linked Github profile showing with incorrect details"
**Steps to Reproduce**

1. Navigate to any user's public profile(who has Github linked ex: https://www.topcoder.com/members/lunarkid)
2. Check the Github details(Followers, Repositories) and verify details

**Actual behavior**
Followers, Repositories details are not matching with actual github details

**Expected behavior**
Guthub details should match with details in github profile

**Screen shots

[2019-03-17 16:32] codejamtc opened #2222 "Page responsive issue in all the competition pages"
1. Open the application and login as TonyJ (Portrait)
2. Go to https://www.topcoder.com/members/winterflame/details/?track=DEVELOP&subTrack=BUG_HUNT
3. Check all the other pages also

**Actual:** Page responsive issue in all the competition pages

**Expected:** Page should fit to the screen

**Reproducibility Rate:** 3/3

**Environment:** iPhone 5S, iOS 11.3.1 | Browser: Safari

[2019-03-17 16:36] codejamtc opened #2223 "On the web links goes out of the page area"
1. Open the application and login as TonyJ (Portrait)
2. Go to https://www.topcoder.com/members/tonyj
3. Check web links

**Actual:** On the web links goes out of the page area

**Expected:** Should show within the page

**Reproducibility Rate:** 3/3

**Environment:** iPhone 5S, iOS 11.3.1 | Browser: Safari

[2019-03-17 16:36] kiranmaroju opened #2224 "Public Profile-->Can see Private challenges details"
**Steps to Reproduce**

1. Navigate to any user's public profile(who has some private challenges ex: https://www.topcoder.com/members/lunarkid)
2. Check above user's(lunarkid) Webdesign challenges
https://www.topcoder.com/members/lunarkid/details/?track=DESIGN&subTrack=WEB_DESIGNS&tab=challenges
3. Check if private challenges details are visible

**Actual behavior**
Can see Private challenges deta

[2019-03-17 16:41] kiranmaroju opened #2225 "Public Profile-->Can't see Images in Web Design challenges"
**Steps to Reproduce**

1. Navigate to any user's public profile(who has some participted in Web Design challenges ex: https://www.topcoder.com/members/lunarkid)
2. Check above user's(lunarkid) Webdesign challenges
3. https://www.topcoder.com/members/lunarkid/details/?track=DESIGN&subTrack=WEB_DESIGNS&tab=challenges
4. Check if respective challenge's images are loading or not

**Actual behavior**

[2019-03-17 16:49] codejamtc commented on #2223
![IMG_0005](https://user-images.githubusercontent.com/42398485/54494656-aae0a500-48aa-11e9-9b35-b2127e67a2d5.PNG)

[2019-03-17 16:49] codejamtc commented on #2222
![IMG_0002](https://user-images.githubusercontent.com/42398485/54494653-a6b48780-48aa-11e9-9165-b06c18646707.PNG)
![IMG_0003](https://user-images.githubusercontent.com/42398485/54494654-a6b48780-48aa-11e9-96e7-ff07958c726a.PNG)
![IMG_0004](https://user-images.githubusercontent.com/42398485/54494655-a6b48780-48aa-11e9-8f79-3cbfc703ce38.PNG)

[2019-03-17 16:50] kiranmaroju opened #2226 "Profile Settings: After saving Tracks, details are not reflecting in profile page"
**Steps to Reproduce**

1. Navigate to profile settings page(for ex: christina_uw)
2. In the Basic info, Enable Design, Development, Data Science tracks
3. Check details(icons) are reflected in above user public profile page.

**Actual behavior**
Respective icons(Designer, Developer, Data Scientist) are reflecting in public  profile page

**Expected behavior**
Respective icons(Designer, Developer,

[2019-03-17 16:51] codejamtc commented on #2220
![IMG_0452](https://user-images.githubusercontent.com/42398485/54494689-07dc5b00-48ab-11e9-9284-f1ca6ccba461.PNG)

[2019-03-17 16:52] codejamtc commented on #2206
![IMG_0451](https://user-images.githubusercontent.com/42398485/54494701-1e82b200-48ab-11e9-925f-37b287de3237.PNG)

[2019-03-17 16:52] codejamtc commented on #2194
![IMG_0449](https://user-images.githubusercontent.com/42398485/54494711-34907280-48ab-11e9-9fa8-bf87a2b1f53b.PNG)

[2019-03-17 16:56] codejamtc commented on #2205
![Screenshot_20190317-101109](https://user-images.githubusercontent.com/42398485/54494753-a10b7180-48ab-11e9-9e1c-a1d297abc0ba.png)

[2019-03-17 16:56] codejamtc commented on #2203
![Screenshot_20190317-100449](https://user-images.githubusercontent.com/42398485/54494751-9b159080-48ab-11e9-9d13-446aa3f5aedb.png)

[2019-03-17 16:58] codejamtc commented on #2214
![Screenshot_20190317-115729](https://user-images.githubusercontent.com/42398485/54494783-fe9fbe00-48ab-11e9-9f65-1bffcf617e2a.png)

[2019-03-17 17:45] kiranmaroju opened #2227 "Profile Settings: Reloading the "Subscriptions" page redirects to "Devices" page"
**Steps to Reproduce**

1. Go to user's profile settings page-->Basic info (https://www.topcoder-dev.com/settings/tools)
2. Click on Software' tab on left side
3. Add any software item
4. Reload the page to check whether Software page is still there.

**Actual Behaviour**
Reloading the "Software" page redirects to "Devices" page. Should have separate page or marker in url to avoid this issue(ex: h

[2019-03-17 17:50] codejamtc opened #2228 "Image slider is not working"
![image](https://user-images.githubusercontent.com/42398485/54495624-365e3400-48b3-11e9-9680-e385e5a180a4.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder.com/members/abedavera/details/?track=DESIGN&subTrack=STUDIO_OTHER&tab=challenges
3. Click on 2010 TOPCODER OPEN T-SHIRT DESIGN CONTEST
4. Click >

**Actual:** Image slider is not working

**Expected:** Click on < an

[2019-03-17 17:51] kiranmaroju opened #2229 "Profile Settings: Switching between pages in Tools, deletes entered data"
**Steps to Reproduce**

1. Go to user's profile settings page-->Basic info (https://www.topcoder-dev.com/settings/tools)
2. Click on 'Device' tab on left side, enter some device details (do not add it)
3. Click on 'Software' tab on left side, enter some software details (do not add it)
4. Switch back to "Devices" page adn check whether the entered data is still there or not

**Actual Behaviour**
S

[2019-03-17 17:55] kiranmaroju opened #2230 "Profile Settings: Switching between pages in Account tab, deletes entered data"
**Steps to Reproduce**

1. Go to user's profile settings page-->Basic info (https://www.topcoder-dev.com/settings/account)
2. Click on 'Linked Accounts' tab on left side, enter some URL details (do not add it)
3. Click on 'My Account' tab on left side
4. Switch back to 'Linked Accounts'  page and check whether the entered data is still there or not

**Actual Behaviour**
Switching between pages, de

[2019-03-17 17:58] codejamtc opened #2231 "[$70] [Tools] Sometimes data entered while the data is saving, will clear the form"
![image](https://user-images.githubusercontent.com/42398485/54495706-52aea080-48b4-11e9-9245-c15a8a05fba0.png)

Common to most of the pages in tools

1. Open the application and login as TonyJ
2. Go to https://www.topcoder-dev.com/settings/tools
3. Click on Device and add a device
4. As soon as you add the device try to fillout another device
5. In few seconds those data is cleared

**Actual:** So

[2019-03-17 18:02] kiranmaroju opened #2232 "Profile Settings: Switching between pages in Profile tab, deletes entered data"
**Steps to Reproduce**

1. Go to user's profile settings page-->Basic info (https://www.topcoder-dev.com/settings/profile)
2. Click on 'Basic Info' tab on left side, enter some details (do not Save it)
3. Likewise add some details in Skills, Hobbies page(do not click on add/save)
4. Switch back to 'Basic Info'  page and check whether the entered data is still there or not

**Actual Behavior**
Swit

[2019-03-18 10:57] aah-74 commented on #1997
@ajefts Requesting your comments on this issue.  Thanks.

[2019-03-18 11:20] sushilshinde commented on #2016
@PrakashDurlabhji are we ready?

[2019-03-18 20:05] ThomasKranitsas commented on #2074
Closing this as https://github.com/topcoder-platform/community-app/issues/2075 contains more info

[2019-03-18 20:05] #2074 closed

[2019-03-18 20:05] ThomasKranitsas commented on #2075
I can't reproduce this issue based on the given description

[2019-03-18 20:05] #2075 closed

[2019-03-18 20:11] ThomasKranitsas commented on #2079
The provided information is not enough to understand the error. You should also provide screenshots or paste the console log output.

[2019-03-18 20:11] #2079 closed

[2019-03-18 20:13] ThomasKranitsas commented on #2081
Closing as we can't really prevent this but I'll count it for the bug hunt

[2019-03-18 20:13] #2081 closed

[2019-03-18 20:17] ThomasKranitsas commented on #2086
Duplicate https://github.com/topcoder-platform/community-app/issues/2083

[2019-03-18 20:17] #2086 closed

[2019-03-18 20:17] ThomasKranitsas commented on #2085
Duplicate https://github.com/topcoder-platform/community-app/issues/2083

[2019-03-18 20:17] #2085 closed

[2019-03-18 20:17] ThomasKranitsas commented on #2084
Duplicate https://github.com/topcoder-platform/community-app/issues/2083

[2019-03-18 20:17] #2084 closed

[2019-03-18 20:17] ThomasKranitsas commented on #2084
Duplicate https://github.com/topcoder-platform/community-app/issues/2083

[2019-03-18 20:19] ThomasKranitsas commented on #2089
Closing this as the delete button will be removed. It counts for the bug hunt though

[2019-03-18 20:19] #2089 closed

[2019-03-18 20:21] ThomasKranitsas commented on #2090
I don't think this is a valid issue. It takes some time to upload the picture to our backend.

[2019-03-18 20:21] #2090 closed

[2019-03-18 20:21] ThomasKranitsas commented on #2091
duplicate https://github.com/topcoder-platform/community-app/issues/2088

[2019-03-18 20:21] #2091 closed

[2019-03-18 20:23] ThomasKranitsas commented on #2092
can't reproduce

[2019-03-18 20:23] #2092 closed

[2019-03-18 20:23] ThomasKranitsas commented on #2093
duplicate https://github.com/topcoder-platform/community-app/issues/2088

[2019-03-18 20:23] #2093 closed

[2019-03-18 20:25] #2095 closed

[2019-03-18 20:27] ThomasKranitsas commented on #2096
The notifications don't seem to work properly

[2019-03-18 20:32] ThomasKranitsas commented on #2100
duplicate https://github.com/topcoder-platform/community-app/issues/2058

[2019-03-18 20:32] #2100 closed

[2019-03-18 20:38] #2101 closed

[2019-03-18 20:39] ThomasKranitsas commented on #2102
Closing as we can't really fix this but it'll count for the bug hunt

[2019-03-18 20:39] #2102 closed

[2019-03-18 20:39] ThomasKranitsas commented on #2103
duplicate https://github.com/topcoder-platform/community-app/issues/2077

[2019-03-18 20:39] #2103 closed

[2019-03-18 20:43] ThomasKranitsas commented on #2107
Duplicate https://github.com/topcoder-platform/community-app/issues/2106

[2019-03-18 20:43] #2107 closed

[2019-03-18 20:45] #2110 closed

[2019-03-18 20:46] ThomasKranitsas commented on #2112
duplicate https://github.com/topcoder-platform/community-app/issues/2088

[2019-03-18 20:46] #2112 closed

[2019-03-18 20:56] #2114 closed

[2019-03-18 20:57] ThomasKranitsas commented on #2115
duplicate

[2019-03-18 20:57] #2115 closed

[2019-03-18 20:59] ThomasKranitsas commented on #2117
It resets to the previous date on `blur`

[2019-03-18 20:59] #2117 closed

[2019-03-18 21:00] ThomasKranitsas commented on #2118
duplicate

[2019-03-18 21:00] #2118 closed

[2019-03-18 21:02] ThomasKranitsas commented on #2120
duplicate

[2019-03-18 21:02] #2120 closed

[2019-03-18 21:04] ThomasKranitsas commented on #2123
duplicate

[2019-03-18 21:04] #2123 closed

[2019-03-18 21:05] ThomasKranitsas commented on #2124
This is expected behaviour

[2019-03-18 21:05] #2124 closed

[2019-03-18 21:06] ThomasKranitsas commented on #2125
Not really an issue. Someone may want to add the link to his/her github org instead of just linking the personal profile.

[2019-03-18 21:06] #2125 closed

[2019-03-18 21:07] ThomasKranitsas commented on #2126
Duplicate

[2019-03-18 21:07] #2126 closed

[2019-03-18 21:08] ThomasKranitsas commented on #2127
Not a valid issue. The user should not be able to disable external links.

[2019-03-18 21:08] #2127 closed

[2019-03-18 21:08] ThomasKranitsas commented on #2128
duplicate

[2019-03-18 21:08] #2128 closed

[2019-03-18 21:08] ThomasKranitsas commented on #2129
Not a valid issue.

[2019-03-18 21:08] #2129 closed

[2019-03-18 21:11] ThomasKranitsas commented on #2130
This is a very broad category. I'll close this one as it'll most probably won't get fixed.

[2019-03-18 21:11] #2130 closed

[2019-03-18 21:14] ThomasKranitsas commented on #2134
duplicate

[2019-03-18 21:14] #2134 closed

[2019-03-18 21:14] ThomasKranitsas commented on #2135
duplicate

[2019-03-18 21:14] #2135 closed

[2019-03-18 21:14] ThomasKranitsas commented on #2139
duplicate

[2019-03-18 21:14] #2139 closed

[2019-03-18 21:16] ThomasKranitsas commented on #2137
Although this is expected, I believe we should hide the not-available ones.

[2019-03-18 21:31] ThomasKranitsas commented on #2138
I'm not sure I understand what the issue is here. It seems very trivial to me

[2019-03-18 21:31] #2138 closed

[2019-03-18 21:36] ThomasKranitsas commented on #2140
I don't think we need a `Required` note here. It's just one field. It can't be optional

[2019-03-18 21:36] #2140 closed

[2019-03-18 21:38] ThomasKranitsas commented on #2141
This was out of scope

[2019-03-18 21:38] #2141 closed

[2019-03-18 21:39] ThomasKranitsas commented on #2142
duplicate

[2019-03-18 21:39] #2142 closed

[2019-03-18 21:43] ThomasKranitsas commented on #2143
Expected behavior. Newline is counted as a character.

[2019-03-18 21:43] #2143 closed

[2019-03-18 21:47] ThomasKranitsas commented on #2145
This will count for the bug hunt but we'll fix it as part of another ticket

[2019-03-18 21:47] #2145 closed

[2019-03-18 21:48] ThomasKranitsas commented on #2146
duplicate

[2019-03-18 21:48] #2146 closed

[2019-03-18 21:49] ThomasKranitsas commented on #2147
The rest are private challenges that you don't have access to.

Invalid issue

[2019-03-18 21:49] #2147 closed

[2019-03-18 21:50] #2148 closed

[2019-03-18 21:52] ThomasKranitsas commented on #2151
Expected behavior.

[2019-03-18 21:52] #2151 closed

[2019-03-18 21:53] ThomasKranitsas commented on #2154
I guess this is sort of expected as there are quite many points.

[2019-03-18 21:53] #2154 closed

[2019-03-18 21:54] ThomasKranitsas commented on #2156
duplicate

[2019-03-18 21:54] #2156 closed

[2019-03-18 21:56] ThomasKranitsas commented on #2157
Sort of expected.

[2019-03-18 21:56] #2157 closed

[2019-03-18 21:58] ThomasKranitsas commented on #2159
duplicate

[2019-03-18 21:58] #2159 closed

[2019-03-18 22:00] ThomasKranitsas commented on #2162
Invalid issue

[2019-03-18 22:00] #2162 closed

[2019-03-18 22:01] ThomasKranitsas commented on #2164
duplicate

[2019-03-18 22:01] #2164 closed

[2019-03-18 22:02] ThomasKranitsas commented on #2166
Not required

[2019-03-18 22:02] #2166 closed

[2019-03-18 22:03] ThomasKranitsas commented on #2167
duplicate

[2019-03-18 22:03] #2167 closed

[2019-03-18 22:03] ThomasKranitsas commented on #2169
duplicate

[2019-03-18 22:03] #2169 closed

[2019-03-18 22:03] ThomasKranitsas commented on #2170
duplicate

[2019-03-18 22:03] #2170 closed

[2019-03-18 22:03] ThomasKranitsas commented on #2171
duplicate

[2019-03-18 22:03] #2171 closed

[2019-03-18 22:04] #2173 closed

[2019-03-18 22:07] ThomasKranitsas commented on #2174
The app displays what the API returns. It's an API issue though so I'll close it

[2019-03-18 22:07] #2174 closed

[2019-03-18 22:07] ThomasKranitsas commented on #2175
duplicate

[2019-03-18 22:07] #2175 closed

[2019-03-18 22:07] ThomasKranitsas commented on #2176
duplicate

[2019-03-18 22:07] #2176 closed

[2019-03-18 22:07] ThomasKranitsas commented on #2177
duplicate

[2019-03-18 22:07] #2177 closed

[2019-03-18 22:08] ThomasKranitsas commented on #2178
duplicate https://github.com/topcoder-platform/community-app/issues/2069

[2019-03-18 22:08] #2178 closed

[2019-03-18 22:09] ThomasKranitsas commented on #2180
duplicate

[2019-03-18 22:09] #2180 closed

[2019-03-18 22:11] ThomasKranitsas commented on #2183
out of scope

[2019-03-18 22:11] #2183 closed

[2019-03-18 22:11] ThomasKranitsas commented on #2184
This depends on your network and the picture size. Not an issue with the platform itself

[2019-03-18 22:11] #2184 closed

[2019-03-18 22:14] #2187 closed

[2019-03-18 22:14] #2188 closed

[2019-03-18 22:15] ThomasKranitsas commented on #2189
duplicate

[2019-03-18 22:15] #2189 closed

[2019-03-18 22:17] ThomasKranitsas commented on #2193
This is due to private challenges

[2019-03-18 22:17] #2193 closed

[2019-03-18 22:18] ThomasKranitsas commented on #2195
duplicate

[2019-03-18 22:18] #2195 closed

[2019-03-18 22:18] ThomasKranitsas commented on #2196
duplicate

[2019-03-18 22:18] #2196 closed

[2019-03-18 22:19] ThomasKranitsas commented on #2198
duplicate

[2019-03-18 22:19] #2198 closed

[2019-03-18 22:20] ThomasKranitsas commented on #2199
This is based on the selected tracks and not the history.

[2019-03-18 22:20] #2199 closed

[2019-03-18 22:20] ThomasKranitsas commented on #2200
duplicate

[2019-03-18 22:20] #2200 closed

[2019-03-18 22:21] #2201 closed

[2019-03-18 22:21] ThomasKranitsas commented on #2202
duplicate

[2019-03-18 22:21] #2202 closed

[2019-03-18 22:22] ThomasKranitsas commented on #2204
duplicate

[2019-03-18 22:22] #2204 closed

[2019-03-18 22:22] ThomasKranitsas commented on #2150
another case: https://www.topcoder-dev.com/members/ACRush

[2019-03-18 22:23] ThomasKranitsas commented on #2207
duplicate

[2019-03-18 22:23] #2207 closed

[2019-03-18 22:23] ThomasKranitsas commented on #2208
duplicate

[2019-03-18 22:23] #2208 closed

[2019-03-18 22:25] ThomasKranitsas commented on #2210
Those are different. They exist in both Design and Develop track

[2019-03-18 22:25] #2210 closed

[2019-03-18 22:25] ThomasKranitsas commented on #2211
duplicate

[2019-03-18 22:25] #2211 closed

[2019-03-18 22:26] ThomasKranitsas commented on #2213
This could be due to private challenges

[2019-03-18 22:26] ThomasKranitsas commented on #2214
Expected behavior

[2019-03-18 22:26] #2214 closed

[2019-03-18 22:27] ThomasKranitsas commented on #2215
duplicate

[2019-03-18 22:27] #2215 closed

[2019-03-18 22:27] ThomasKranitsas commented on #2216
duplicate

[2019-03-18 22:27] #2216 closed

[2019-03-18 22:27] ThomasKranitsas commented on #2217
duplicate

[2019-03-18 22:27] #2217 closed

[2019-03-18 22:28] ThomasKranitsas commented on #2218
duplicate

[2019-03-18 22:28] #2218 closed

[2019-03-18 22:28] ThomasKranitsas commented on #2219
out of scope

[2019-03-18 22:28] #2219 closed

[2019-03-18 22:29] #2220 closed

[2019-03-18 22:29] ThomasKranitsas commented on #2221
This is provided by a 3rd party app. Invalid issue

[2019-03-18 22:29] #2221 closed

[2019-03-18 22:32] ThomasKranitsas commented on #2224
Not a valid issue. This means the submissions are not viewable. Private challenges are not returned by the API. The filtering is happening on the backend

[2019-03-18 22:32] #2224 closed

[2019-03-18 22:33] ThomasKranitsas commented on #2226
duplicate

[2019-03-18 22:33] #2226 closed

[2019-03-18 22:33] ThomasKranitsas commented on #2227
duplicate

[2019-03-18 22:33] #2227 closed

[2019-03-18 22:34] ThomasKranitsas commented on #2228
This is actually working. Check the selected thumbnail at the bottom of the carousel.

[2019-03-18 22:34] #2228 closed

[2019-03-18 22:35] ThomasKranitsas commented on #2229
Expected behavior

[2019-03-18 22:35] #2229 closed

[2019-03-18 22:35] ThomasKranitsas commented on #2230
Expected behavior

[2019-03-18 22:35] #2230 closed

[2019-03-18 22:35] ThomasKranitsas commented on #2232
Expected behavior

[2019-03-18 22:35] #2232 closed

[2019-03-19 06:46] kkartunov commented on #2029
Landed in prod.

[2019-03-19 06:46] #2029 closed

[2019-03-19 11:35] ajefts commented on #1997
@cwdcwd This one seems to be happening for all PDF files for some reason. It's using a legacy controller (ex:  https://community.topcoder.com/tc?module=DownloadDocument&docid=27526298). I'm not sure how much of this we want to try to open up and fix vs. maybe shifting the challenge attachments to v5?

[2019-03-19 11:41] ajefts opened #2234 "Submission button not working in Chrome"
A topgear user is reporting seeing this case many times. The same challenge opened in Firefox and Chrome behaves differently. Screenshots are below.

<p></p>

In Firefox Submit button is enabled, but in chrome Submit button is disabled.

<p></p>

Handle = aswathi.nair

Last Reported = March 9, 2019

<p></p>

FireFox

![](https://productboard-files.s3.amazonaws.com/production/attachments/2fb4150e8d

[2019-03-19 11:41] ajefts commented on #2234
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1898794

[2019-03-20 07:00] kkartunov commented on #2017
Done.

[2019-03-20 07:00] #2017 closed

[2019-03-20 16:13] ThomasKranitsas commented on #2234
@ajefts I just started a bug bash. Should I include this one to get it fixed?

[2019-03-20 16:18] ThomasKranitsas commented on #2050
@ajefts @cwdcwd @urwithat it would be great to get this fixed on the dev db as it prevents us from testing on dev

[2019-03-20 16:19] ThomasKranitsas commented on #2053
This seems like a UI issue.

[2019-03-20 16:23] ThomasKranitsas commented on #2150
Contest https://www.topcoder.com/challenges/30086767 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:23] ThomasKranitsas commented on #2150
Contest https://www.topcoder.com/challenges/30086767 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:24] ThomasKranitsas commented on #2046
The fix must be done for all pages and the confirmation popup should look like the one we currently have for deleting external links.

[2019-03-20 16:25] ThomasKranitsas commented on #2046
Contest https://www.topcoder.com/challenges/30086768 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:25] ThomasKranitsas commented on #2054
Contest https://www.topcoder.com/challenges/30086769 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:25] ThomasKranitsas commented on #2046
Contest https://www.topcoder.com/challenges/30086768 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:25] ThomasKranitsas commented on #2054
Contest https://www.topcoder.com/challenges/30086769 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:26] ThomasKranitsas commented on #2083
The fix must be done for all pages

[2019-03-20 16:28] ThomasKranitsas commented on #2053
Contest https://www.topcoder.com/challenges/30086770 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:28] ThomasKranitsas commented on #2053
Contest https://www.topcoder.com/challenges/30086770 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:29] ThomasKranitsas commented on #2083
Contest https://www.topcoder.com/challenges/30086773 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:29] ThomasKranitsas commented on #2058
Contest https://www.topcoder.com/challenges/30086771 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:29] ThomasKranitsas commented on #2105
The fix must be done for all pages

[2019-03-20 16:29] ThomasKranitsas commented on #2083
Contest https://www.topcoder.com/challenges/30086773 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:29] ThomasKranitsas commented on #2058
Contest https://www.topcoder.com/challenges/30086771 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:29] ThomasKranitsas commented on #2056
Contest https://www.topcoder.com/challenges/30086772 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:29] ThomasKranitsas commented on #2056
Contest https://www.topcoder.com/challenges/30086772 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:29] ThomasKranitsas commented on #2105
Contest https://www.topcoder.com/challenges/30086774 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:29] ThomasKranitsas commented on #2105
Contest https://www.topcoder.com/challenges/30086774 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:29] ThomasKranitsas commented on #2122
Please add deep linking so we can directly link to a sub-page (tab).
This must be done for all pages.

[2019-03-20 16:30] ThomasKranitsas commented on #2083
Contest https://www.topcoder.com/challenges/30086773 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:31] ThomasKranitsas commented on #2113
Contest https://www.topcoder.com/challenges/30086775 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:31] ThomasKranitsas commented on #2122
Contest https://www.topcoder.com/challenges/30086776 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:31] ThomasKranitsas commented on #2122
Contest https://www.topcoder.com/challenges/30086776 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:31] ThomasKranitsas commented on #2113
Contest https://www.topcoder.com/challenges/30086775 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:32] ThomasKranitsas commented on #2161
Please set the max size to 2MB and show a proper error message if the selected image is larger

[2019-03-20 16:33] ThomasKranitsas commented on #2161
Contest https://www.topcoder.com/challenges/30086777 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:33] ThomasKranitsas commented on #2161
Contest https://www.topcoder.com/challenges/30086777 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:55] ThomasKranitsas commented on #2046
Contest https://www.topcoder.com/challenges/30086768 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 16:56] sumitdaga commented on #2046
@ThomasKranitsas
we can assign issues to ourselves right ?

[2019-03-20 16:57] ThomasKranitsas commented on #2105
Contest https://www.topcoder.com/challenges/30086774 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 17:00] ThomasKranitsas commented on #2083
Contest https://www.topcoder.com/challenges/30086773 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 17:02] ThomasKranitsas commented on #2054
Contest https://www.topcoder.com/challenges/30086769 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 17:03] liqiang372 commented on #2122
@ThomasKranitsas how do I pick up a ticket that is `OpenForPickup`?

[2019-03-20 17:04] ThomasKranitsas commented on #2053
Contest https://www.topcoder.com/challenges/30086770 has been updated - it has been assigned to prasadadarkar30.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 17:09] khushimehta03 commented on #2058
@ThomasKranitsas can you please assign it to me? i am nt able to assign it. anyone kindly do not take as wishing to work on it and it is with me

[2019-03-20 17:18] liqiang372 commented on #2161
I'll take this ticket

[2019-03-20 17:21] ThomasKranitsas commented on #2150
Contest https://www.topcoder.com/challenges/30086767 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 17:37] vigneshTheDev commented on #2122
I would like to work on this issue

[2019-03-20 17:45] ThomasKranitsas commented on #2113
Contest https://www.topcoder.com/challenges/30086775 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 17:47] sumitdaga commented on #2113
@ThomasKranitsas
PR at #2237

[2019-03-20 17:47] ThomasKranitsas commented on #2046
Contest https://www.topcoder.com/challenges/30086768 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 18:00] RAJKUMARRRR commented on #2056
i want to work on this issue, can you change the label

[2019-03-20 18:29] sumitdaga commented on #2046
@ThomasKranitsas
just to confirm, we need to show confirmation when deleting `Skills, Hobbies` on `Profile tab` and all four side bar items in `Tools tab`  ...right ?

[2019-03-20 19:07] vigneshTheDev commented on #2122
Hi @ThomasKranitsas, could you please share the contentful API keys in the forum?

[2019-03-20 19:09] ThomasKranitsas commented on #2046
Correct

[2019-03-20 19:11] ThomasKranitsas commented on #2058
@khushimehta03 please use this link https://x.topcoder.com/api/v1/github/teams/registration/7946e40e-f01a-4ced-a1c2-081e328c7d73-1553097709824 to access our org so you can assign yourself

[2019-03-20 19:11] ThomasKranitsas commented on #2056
@RAJKUMARRRR please use this link https://x.topcoder.com/api/v1/github/teams/registration/7946e40e-f01a-4ced-a1c2-081e328c7d73-1553097709824 to access our org so you can assign yourself

[2019-03-20 19:12] ThomasKranitsas commented on #2161
@liqiang372 please use this link https://x.topcoder.com/api/v1/github/teams/registration/7946e40e-f01a-4ced-a1c2-081e328c7d73-1553097709824 to access our org so you can assign yourself

[2019-03-20 19:14] ThomasKranitsas commented on #2122
Please use this link https://x.topcoder.com/api/v1/github/teams/registration/7946e40e-f01a-4ced-a1c2-081e328c7d73-1553097709824 to access our org so you can assign yourself.
I have also shared the contentful keys on the forum

[2019-03-20 19:15] ThomasKranitsas commented on #2161
Contest https://www.topcoder.com/challenges/30086777 has been updated - it has been assigned to liqiang372.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:16] liqiang372 commented on #2161
@ThomasKranitsas thx!

[2019-03-20 19:21] #2113 closed

[2019-03-20 19:21] ThomasKranitsas commented on #2113
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086775<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:24] ThomasKranitsas commented on #2231
The fix must be done for all pages, not just tools

[2019-03-20 19:24] ThomasKranitsas commented on #2058
Contest https://www.topcoder.com/challenges/30086771 has been updated - it has been assigned to khushimehta03.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:26] ThomasKranitsas commented on #2122
Contest https://www.topcoder.com/challenges/30086776 has been updated - it has been assigned to vignesh14thnov.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:33] ThomasKranitsas commented on #2163
[500]: Challenge for the updated issue 2163 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:33] ThomasKranitsas commented on #2163
[500]: Challenge for the updated issue 2163 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:33] ThomasKranitsas commented on #2165
[500]: Challenge for the updated issue 2165 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:33] ThomasKranitsas commented on #2165
[500]: Challenge for the updated issue 2165 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:34] ThomasKranitsas commented on #2231
[500]: Challenge for the updated issue 2231 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:34] ThomasKranitsas commented on #2163
Contest https://www.topcoder.com/challenges/30086790 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:34] ThomasKranitsas commented on #2231
[500]: Challenge for the updated issue 2231 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:34] ThomasKranitsas commented on #2163
Contest https://www.topcoder.com/challenges/30086790 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:36] ThomasKranitsas commented on #2165
Contest https://www.topcoder.com/challenges/30086791 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:36] ThomasKranitsas commented on #2165
Contest https://www.topcoder.com/challenges/30086791 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:36] ThomasKranitsas commented on #2231
Contest https://www.topcoder.com/challenges/30086792 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:36] ThomasKranitsas commented on #2231
Contest https://www.topcoder.com/challenges/30086792 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:38] iversonLv commented on #2150
When I goto  local.topcoder-dev.com/members/{handle}
Page shows me 'Unauthorized', the network show 500.

Other pages are okay

Could you please check?

[2019-03-20 19:38] ThomasKranitsas commented on #2150
Please check the challenge forum. You need to set the Contentful API keys as env vars before you run the app locally.

[2019-03-20 19:39] ThomasKranitsas commented on #2165
@raj88iitr, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 19:43] raj88iitr commented on #2165
ok

[2019-03-20 19:44] ThomasKranitsas commented on #2165
Please check the challenge forum for more instructions

[2019-03-20 19:49] raj88iitr commented on #2165
I'm working on this ticket. Topcoder X isn't working, will try later.

[2019-03-20 19:57] ThomasKranitsas commented on #2165
@raj88iitr, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 20:00] ThomasKranitsas commented on #2165
@raj88iitr please check on the challenge forum. There is a link you need to use to register on Topcoder-X

[2019-03-20 20:03] iversonLv commented on #2150
Thanks and works
BTW, it's due to the Successful-Challenges-200 css modules
I think we don't need this as there is no 200 between 100 and 250
![image](https://user-images.githubusercontent.com/4952611/54715375-41a0b080-4b8e-11e9-806f-d87e1478fa8b.png)

[2019-03-20 20:08] #2150 closed

[2019-03-20 20:09] ThomasKranitsas commented on #2150
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086767<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 20:14] ThomasKranitsas commented on #2163
Contest https://www.topcoder.com/challenges/30086790 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 21:10] vigneshTheDev commented on #2122
Couldn't fix the issue. Opening for others.
Thanks!

[2019-03-20 22:43] PrakashDurlabhji commented on #2054
@ThomasKranitsas PR at https://github.com/topcoder-platform/community-app/pull/2239

[2019-03-20 23:00] ThomasKranitsas commented on #2058
Contest https://www.topcoder.com/challenges/30086771 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 23:07] sexta13 commented on #668
can you assign it to me?

[2019-03-20 23:11] ThomasKranitsas commented on #668
Please read the rules on the challenge spec. You can only work on issues with the tcx_OpenForPickup label.

[2019-03-20 23:14] ThomasKranitsas commented on #2122
Contest https://www.topcoder.com/challenges/30086776 has been updated - it has been assigned to sexta13.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-20 23:19] sexta13 commented on #668
Yes i noticed my mistake...sorry :| That's why I deleted my comment

[2019-03-21 00:05] ThomasKranitsas commented on #2165
Contest https://www.topcoder.com/challenges/30086791 has been updated - it has been assigned to frankeros.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 00:08] sexta13 commented on #2122
I'm just facing a small issue. After npm i, i run npm run dev and i go to the setting profile page. But if I do a refresh, it says Unauthorized....
Any help would be appreciated.

[2019-03-21 00:15] iversonLv commented on #2163
I just found there are other pages have the similar problem, do you want to raise the payment for updating all of them?

This bug ticket is for the device tab, and there are other 3 tabs under setting tools tap which does not show success information after add the fields.

[2019-03-21 01:01] ThomasKranitsas commented on #2056
Contest https://www.topcoder.com/challenges/30086772 has been updated - it has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 02:08] raj88iitr commented on #2165
@frankeros you should check no one is working on ticket before assigning ticket.
@ThomasKranitsas

[2019-03-21 04:11] DharaniD88 commented on #668
@cdngirl @ThomasKranitsas  Please assign it to DharaniD88 , I am not able to assign it to myself

[2019-03-21 04:48] liqiang372 commented on #2161
@ThomasKranitsas need to confirm how to show error message, and message text

1. Is there a preferred way to show error message

something like
![image](https://user-images.githubusercontent.com/6468832/54733925-a7bf1080-4b59-11e9-9375-2388cb803c28.png)

or something like toast at top of screen
![image](https://user-images.githubusercontent.com/6468832/54733939-ca512980-4b59-11e9-9558-213fbd4bab5f

[2019-03-21 08:03] ThomasKranitsas commented on #2122
Please check the challenge forum. I have posted the Contentful API keys. You need to export them as env vars and then run the app.

[2019-03-21 08:04] ThomasKranitsas commented on #2163
Contest https://www.topcoder.com/challenges/30086790 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 08:04] ThomasKranitsas commented on #2163
Yes, please. Prize raised to $100

[2019-03-21 08:04] ThomasKranitsas commented on #577
Contest https://www.topcoder.com/challenges/30086841 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 08:07] ThomasKranitsas commented on #2161
@liqiang372
We need something like the validation error message we currently have.

Screenshot:
<img width="881" alt="Screenshot 2019-03-21 at 10 06 40" src="https://user-images.githubusercontent.com/4612921/54739512-1b483880-4bc1-11e9-9214-196c852f9eb2.png">

[2019-03-21 08:10] liqiang372 commented on #2161
@ThomasKranitsas any formality on error message?

[2019-03-21 08:11] ThomasKranitsas commented on #2161
The error should say `Please select an image smaller than 2MB`

[2019-03-21 08:13] ThomasKranitsas commented on #1543
@topcoder-platform/topcodercompetitors please read the above rules carefully.

Few extra notes:
- Please always check if someone is already working on the ticket you want to pick up. If so, please respect each other and do not change the assigned developer. Even if 24h have passed, you can tag me on the ticket and let me know that the deadline has passed and I'll take care of the rest.
- If you ca

[2019-03-21 08:15] ThomasKranitsas commented on #2165
Sorry about that @raj88iitr! I'll pay you the prize shown on this ticket to compensate for your work.

What is your Topcoder username?

@frankeros please check if someone is already working on a ticket next time.

Thank you!

[2019-03-21 08:22] ThomasKranitsas commented on #2165
@raj88iitr please register on this challenge https://www.topcoder.com/challenges/30086765/?type=develop

[2019-03-21 08:47] sexta13 commented on #2122
Releasing it because I will only be able to pick it up again later today.

[2019-03-21 08:47] ThomasKranitsas commented on #2122
@topcoder-platform/topcodercompetitors this is open for pickup

[2019-03-21 09:17] raj88iitr commented on #2165
Thanks @ThomasKranitsas
My Topcoder username: codingdrone, I've registered for challenge.

[2019-03-21 09:21] LieutenantRoger commented on #2056
Hey @ThomasKranitsas ,

So when the password is incorrect, how do we notify the user ?

[2019-03-21 09:25] ThomasKranitsas commented on #2056
Hey @LieutenantRoger ,

Please show an error like the one from the following screenshot:
<img width="881" alt="Screenshot 2019-03-21 at 10 06 40" src="https://user-images.githubusercontent.com/4612921/54743153-11780280-4bcc-11e9-87a4-febf9b3c0905.png">

[2019-03-21 09:27] ThomasKranitsas commented on #2122
@raj88iitr, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 10:39] LieutenantRoger commented on #2056
[https://take.ms/skp6M](url)

Can we show a tip like this ? To match the popup with the email invalid state on this same screen ?

[2019-03-21 11:00] #2165 closed

[2019-03-21 11:01] ThomasKranitsas commented on #2056
No, please use the one I shared above

[2019-03-21 11:01] ThomasKranitsas commented on #2165
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086791<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 11:15] LieutenantRoger commented on #2056
Ok,  https://take.ms/XL8WY  does this style look good to you ? I picked an existing one.

And this is only for client side validation, we won't check with backend about whether current password correct or wrong, right ? Because invalid only indicates a format error.

[2019-03-21 11:20] ThomasKranitsas commented on #2056
I think there's a misunderstanding here... This error is shown when you submit the form and the backend returns an error.

It's not a form validation error, it's a bad request error

[2019-03-21 11:20] ThomasKranitsas commented on #2046
Contest https://www.topcoder.com/challenges/30086768 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 12:58] LieutenantRoger commented on #2056
Hey @ThomasKranitsas,  I have read the backend codebase, it looks like the topcoder-react-lib didn't handle the error case when updating failed.

Can we use `fireErrorMessage('The old password is invalid');` to notify user about the fail ?   As I can see there are other errors in the topcoder-react-lib is using this way to alert error.

The way you showed above actually was a client validation sty

[2019-03-21 12:59] ThomasKranitsas commented on #2056
That sounds good

On Thu, 21 Mar 2019 at 14:58, LieutenantRoger <notifications@github.com>
wrote:

[2019-03-21 13:07] LieutenantRoger commented on #2056
ok, do I create a pull request on topcoder-react-lib master branch?  I didn't find a bug-bash branch on that codebase.

[2019-03-21 13:09] ThomasKranitsas commented on #2056
Please use the develop branch

On Thu, 21 Mar 2019 at 15:07, LieutenantRoger <notifications@github.com>
wrote:

[2019-03-21 13:26] iversonLv commented on #2163
Thanks.
Below is my progress:
Now the device tab is fixed, really odd, Tools tab existing use function syntax v.s. Profile tab as react component.
After I update Tools tab as react component, the error/success toastr box display, but other 3tabs under Tools tab is still have the bug.

Console shows warning: [React-redux-toastr] the toastr box was closed automatically, please check 'transitionOut'

[2019-03-21 13:40] LieutenantRoger commented on #2056
When I modify the topcoder-react-lib in the node_module, and re-build the community-app, do you know why the bundled topcoder-react-lib is not containing my update to the topcoder-react-lib ?

[2019-03-21 13:57] ThomasKranitsas commented on #2056
You also need to build the topcoder-react-lib before you replace it in the community-app

[2019-03-21 14:11] PrakashDurlabhji commented on #2054
@ThomasKranitsas new PR https://github.com/topcoder-platform/community-app/pull/2243

[2019-03-21 16:08] LieutenantRoger commented on #2056
factory:45ms building:314ms = 359ms

ERROR in ./src/index.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
ReferenceError: [BABEL] /Users/Roger/w/bb/tc/topcoder-react-lib/src/index.js: Unknown option: base.envName. Check out http://babeljs.io/docs/usage/options/ for more information about options.

A common cause of this error is the presence of a configuration options objec

[2019-03-21 17:54] r0hit-gupta commented on #2046
Please review.

[2019-03-21 18:00] LieutenantRoger commented on #2056
@ThomasKranitsas
Please check this PR against topcoder-react-lib
Thanks.
https://github.com/topcoder-platform/topcoder-react-lib/pull/48

[2019-03-21 18:11] PrakashDurlabhji commented on #2058
@ThomasKranitsas PR at https://github.com/topcoder-platform/community-app/pull/2246

[2019-03-21 18:25] #2161 closed

[2019-03-21 18:26] ThomasKranitsas commented on #2161
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086777<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:09] #2046 closed

[2019-03-21 19:10] ThomasKranitsas commented on #2046
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086768<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:18] #2054 closed

[2019-03-21 19:19] ThomasKranitsas commented on #2054
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086769<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:23] ThomasKranitsas commented on #1381
Contest https://www.topcoder.com/challenges/30071557 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:23] ThomasKranitsas commented on #1381
Closing this ticket. I'll pay you $20 for your effort to validate the issue

[2019-03-21 19:23] #1381 closed

[2019-03-21 19:24] ThomasKranitsas commented on #1381
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071557<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:24] ThomasKranitsas commented on #2053
Opening this for pickup since it's been more than 24h since you picked this and there is no update.

[2019-03-21 19:25] ThomasKranitsas commented on #2053
@topcoder-platform/topcodercompetitors this is open for pickup

[2019-03-21 19:25] #2056 closed

[2019-03-21 19:26] ThomasKranitsas commented on #2056
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086772<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:26] ThomasKranitsas commented on #2083
Opening this for pickup as it's been more than 24h and there is no update

[2019-03-21 19:27] ThomasKranitsas commented on #2083
@topcoder-platform/topcodercompetitors this is open for pickup

[2019-03-21 19:27] rashmi73 commented on #2105
@ThomasKranitsas PR within 15 minutes

[2019-03-21 19:27] ThomasKranitsas commented on #2105
Ok

[2019-03-21 19:28] ThomasKranitsas commented on #2053
Contest https://www.topcoder.com/challenges/30086770 has been updated - it has been assigned to khushimehta03.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:28] ThomasKranitsas commented on #2122
@raj88iitr please use the link from the challenge forum to register with Topcoder-X otherwise you won't get paid

[2019-03-21 19:29] ThomasKranitsas commented on #1543
@topcoder-platform/topcodercompetitors make sure to add the `tcx_ReadyForReview` label once your PR is ready for review.

[2019-03-21 19:31] rashmi73 commented on #2105
@ThomasKranitsas https://github.com/topcoder-platform/community-app/pull/2247

[2019-03-21 19:32] ThomasKranitsas commented on #2083
Contest https://www.topcoder.com/challenges/30086773 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:39] ThomasKranitsas commented on #2047
Contest https://www.topcoder.com/challenges/30086882 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:39] ThomasKranitsas commented on #2047
Contest https://www.topcoder.com/challenges/30086882 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:44] ThomasKranitsas commented on #2047
Contest https://www.topcoder.com/challenges/30086882 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:46] ThomasKranitsas commented on #2099
Contest https://www.topcoder.com/challenges/30086883 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:46] ThomasKranitsas commented on #2099
Contest https://www.topcoder.com/challenges/30086883 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:46] ThomasKranitsas commented on #2108
Contest https://www.topcoder.com/challenges/30086884 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:46] ThomasKranitsas commented on #2108
Contest https://www.topcoder.com/challenges/30086884 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:47] ThomasKranitsas commented on #2119
Contest https://www.topcoder.com/challenges/30086885 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:47] ThomasKranitsas commented on #2119
Contest https://www.topcoder.com/challenges/30086885 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:47] ThomasKranitsas commented on #2121
Contest https://www.topcoder.com/challenges/30086886 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:47] ThomasKranitsas commented on #2121
Contest https://www.topcoder.com/challenges/30086886 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:47] ThomasKranitsas commented on #2131
Contest https://www.topcoder.com/challenges/30086887 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:47] ThomasKranitsas commented on #2131
Contest https://www.topcoder.com/challenges/30086887 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:49] ThomasKranitsas commented on #2144
After doing some testing on this, I've found that the matching is not correct so, if I save `https://www.topcoder.com` I can then enter `www.topcoder.com` and it'll accept it as a valid new link but the backend will correctly identify that the same link already exists.

You need to update the match we do on the frontend so it ignores the `http://` `https://` and properly identify that the link alr

[2019-03-21 19:49] ThomasKranitsas commented on #2136
Contest https://www.topcoder.com/challenges/30086888 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:50] ThomasKranitsas commented on #2136
Contest https://www.topcoder.com/challenges/30086888 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:50] ThomasKranitsas commented on #2144
Contest https://www.topcoder.com/challenges/30086889 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:50] ThomasKranitsas commented on #2144
Contest https://www.topcoder.com/challenges/30086889 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:50] ThomasKranitsas commented on #2168
Contest https://www.topcoder.com/challenges/30086890 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:50] ThomasKranitsas commented on #2168
Contest https://www.topcoder.com/challenges/30086890 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:51] ThomasKranitsas commented on #1543
@topcoder-platform/topcodercompetitors I've opened a bunch of new issues for pick up! Let's get them fixed! 🚀

[2019-03-21 19:52] ThomasKranitsas commented on #2190
Contest https://www.topcoder.com/challenges/30086891 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:53] ThomasKranitsas commented on #2190
Contest https://www.topcoder.com/challenges/30086891 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:53] ThomasKranitsas commented on #2168
Contest https://www.topcoder.com/challenges/30086890 has been updated - it has been assigned to liqiang372.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:53] ThomasKranitsas commented on #2194
Contest https://www.topcoder.com/challenges/30086892 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:53] ThomasKranitsas commented on #2194
Contest https://www.topcoder.com/challenges/30086892 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 19:57] ThomasKranitsas commented on #2163
@topcoder-platform/topcodercompetitors this is open for pickup

[2019-03-21 20:06] ThomasKranitsas commented on #2163
Contest https://www.topcoder.com/challenges/30086790 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 20:13] ThomasKranitsas commented on #2131
Contest https://www.topcoder.com/challenges/30086887 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 20:31] PrakashDurlabhji commented on #2131
@ThomasKranitsas PR at https://github.com/topcoder-platform/community-app/pull/2248

[2019-03-21 20:33] ThomasKranitsas commented on #2144
Contest https://www.topcoder.com/challenges/30086889 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 20:33] ThomasKranitsas commented on #2163
Contest https://www.topcoder.com/challenges/30086790 has been updated - it has been assigned to dynamitechetan.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 20:34] ThomasKranitsas commented on #2099
Contest https://www.topcoder.com/challenges/30086883 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 20:35] #2131 closed

[2019-03-21 20:35] ThomasKranitsas commented on #2131
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086887<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 20:38] ThomasKranitsas commented on #2136
Contest https://www.topcoder.com/challenges/30086888 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 20:40] raj88iitr commented on #2122
I've registered.

[2019-03-21 20:44] ThomasKranitsas commented on #2122
Contest https://www.topcoder.com/challenges/30086776 has been updated - it has been assigned to codingdrone.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 20:54] ThomasKranitsas commented on #2119
Contest https://www.topcoder.com/challenges/30086885 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 20:55] #2144 closed

[2019-03-21 20:55] ThomasKranitsas commented on #2144
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086889<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 21:06] r0hit-gupta commented on #2119
Unable to reproduce this. The Modal fits exactly within the page for me.

[2019-03-21 21:08] ThomasKranitsas commented on #2119
Please try on iPhone X.

[2019-03-21 21:17] PrakashDurlabhji commented on #2136
@ThomasKranitsas PR at https://github.com/topcoder-platform/community-app/pull/2250

[2019-03-21 21:21] ThomasKranitsas commented on #2121
Contest https://www.topcoder.com/challenges/30086886 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 21:22] PrakashDurlabhji commented on #2121
@ThomasKranitsas all working properly

[2019-03-21 21:23] ThomasKranitsas commented on #2121
Contest https://www.topcoder.com/challenges/30086886 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 21:24] ThomasKranitsas commented on #2121
Ok, I'll pay $20 for the validation

[2019-03-21 21:24] #2121 closed

[2019-03-21 21:24] ThomasKranitsas commented on #2121
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086886<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 21:24] #2136 closed

[2019-03-21 21:24] ThomasKranitsas commented on #2190
Contest https://www.topcoder.com/challenges/30086891 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 21:25] ThomasKranitsas commented on #2136
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086888<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 21:26] PrakashDurlabhji commented on #2121
@ThomasKranitsas thanks no problem

[2019-03-21 21:38] r0hit-gupta commented on #2119
Was able to reproduce and fix the issue. Please review.

[2019-03-21 21:42] #2119 closed

[2019-03-21 21:42] ThomasKranitsas commented on #2119
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086885<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 21:45] ThomasKranitsas commented on #2194
Contest https://www.topcoder.com/challenges/30086892 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-21 22:09] PrakashDurlabhji commented on #2190
@ThomasKranitsas on investigating the issue , found out that it is actually a backend issue kind, where header response received for image call has certain header present, which needs to be removed and is done on backend repo in configs.

stackoverflow link:
https://stackoverflow.com/questions/27934411/images-failing-to-load-in-ie-with-dom-7009-error-unable-to-decode-in-console

Kindly go through

[2019-03-21 22:09] PrakashDurlabhji commented on #2190
<img width="937" alt="2190" src="https://user-images.githubusercontent.com/28830240/54788158-1aacb200-4c54-11e9-9299-aa886dce5739.PNG">

[2019-03-21 22:11] ThomasKranitsas commented on #2190
@cwdcwd @ajefts @sushilshinde  thoughts on this?

[2019-03-21 22:49] sexta13 commented on #2108
which user can we test?

[2019-03-21 22:53] gets0ul commented on #2099
@ThomasKranitsas
I'm on Android 7.1.2 | Chrome: 72.0.3626.121
It's working fine. The keypad is dismissed as soon as birth date or other field tapped.

[2019-03-22 00:17] ThomasKranitsas commented on #2108
Contest https://www.topcoder.com/challenges/30086884 has been updated - it has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 02:56] LieutenantRoger commented on #2108
PR locates at here: https://github.com/topcoder-platform/community-app/pull/2252

[2019-03-22 03:31] LieutenantRoger commented on #2108
I seemed accidentally merged the upstream bug-bush into my forked bug-bash branch and committed the merge to above PR,  I have reverted the merge, let me know if it is fine.

[2019-03-22 03:34] sushilshinde commented on #2016
@PrakashDurlabhji what happened?

You submitted PR and removed yourself?

[2019-03-22 03:53] sushilshinde commented on #2016
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-03-22 03:56] ThomasKranitsas commented on #2122
Contest https://www.topcoder.com/challenges/30086776 has been updated - it has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 05:40] ThomasKranitsas commented on #2016
Contest https://www.topcoder.com/challenges/30085809 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 06:14] ThomasKranitsas commented on #2194
Contest https://www.topcoder.com/challenges/30086892 has been updated - it has been assigned to liqiang372.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 07:21] #2168 closed

[2019-03-22 07:21] ThomasKranitsas commented on #2168
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086890<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 07:35] #2108 closed

[2019-03-22 07:35] ThomasKranitsas commented on #2108
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086884<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 09:28] ThomasKranitsas commented on #2194
Contest https://www.topcoder.com/challenges/30086892 has been updated - it has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 09:58] ThomasKranitsas commented on #2122
Contest https://www.topcoder.com/challenges/30086776 has been updated - it has been assigned to rakshitjadon.rj.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 10:21] rashmi73 commented on #2083
@ThomasKranitsas PR https://github.com/topcoder-platform/community-app/pull/2255

[2019-03-22 10:28] ThomasKranitsas commented on #2053
Contest https://www.topcoder.com/challenges/30086770 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 10:43] rashmi73 commented on #2053
@ThomasKranitsas https://github.com/topcoder-platform/community-app/pull/2256 ready

[2019-03-22 10:44] rashmi73 commented on #2105
@ThomasKranitsas done

[2019-03-22 11:27] #2053 closed

[2019-03-22 11:28] ThomasKranitsas commented on #2053
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086770<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 11:29] ThomasKranitsas commented on #2105
I don't see any update on the PR.

[2019-03-22 11:56] ThomasKranitsas commented on #2194
Contest https://www.topcoder.com/challenges/30086892 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 13:45] nahidshahin commented on #2194
@ThomasKranitsas I don't have a iPad at this moment to reproduce this bug. Tried on iPad emulator but not possible to reproduce. So skipping this issue and open it for others.

[2019-03-22 15:15] ThomasKranitsas commented on #2194
Contest https://www.topcoder.com/challenges/30086892 has been updated - it has been assigned to dynamitechetan.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 15:17] ThomasKranitsas commented on #2163
Contest https://www.topcoder.com/challenges/30086790 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 16:53] Oanh-and-only-Oanh commented on #2073
@oanh-and-only-oanh

[2019-03-22 16:54] ThomasKranitsas commented on #2073
@Oanh-and-only-Oanh can you please create some designs for the message I described above (if you agree with my suggestion)?

[2019-03-22 16:56] Oanh-and-only-Oanh commented on #2018
@ThomasKranitsas can you either close this ticket if it's a duplicate or update it since it's being worked on?

[2019-03-22 16:56] #2018 closed

[2019-03-22 17:05] Oanh-and-only-Oanh commented on #1992
@ThomasKranitsas how's this going?

[2019-03-22 17:09] ThomasKranitsas commented on #1992
It seems to be working on my end. I can't reproduce the issue

[2019-03-22 17:13] Oanh-and-only-Oanh commented on #1992
looks like it got resolved. let's close this ticket then.

[2019-03-22 17:14] ThomasKranitsas commented on #1992
Contest https://www.topcoder.com/challenges/30085142 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 17:14] #1992 closed

[2019-03-22 17:15] ThomasKranitsas commented on #1992
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30085142<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 17:29] Oanh-and-only-Oanh commented on #2073
@ThomasKranitsas I see 19 which doesn't match with total count of 24. I also see some listed challenges wins are for private challenges. What are some other private challenges that wouldn't show up here?

[2019-03-22 17:30] rashmi73 commented on #2083
@ThomasKranitsas updated

[2019-03-22 17:34] ThomasKranitsas commented on #2073
@Oanh-and-only-Oanh by private, I mean challenges that belong to groups (or communities) where you may not have access. For example, a TopGear member can have a history of multiple TopGear challenges in his history which you can't see unless you are also a TopGear member.

The counter shows them but you can't see the actual challenges.

Another good example is the F2F track.
We use F2F challenges

[2019-03-22 17:42] #2083 closed

[2019-03-22 17:43] ThomasKranitsas commented on #2083
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086773<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 17:50] ThomasKranitsas commented on #2016
Contest https://www.topcoder.com/challenges/30085809 has been updated - it has been assigned to liqiang372.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 18:14] Oanh-and-only-Oanh commented on #2073
what about adding another count "Total Challenges" and "Private Challenges" only when applicable?

@ThomasKranitsas  to check how we store the `wins`

[2019-03-22 19:29] ajefts commented on #2073
@Oanh-and-only-Oanh I think we may need to step back and evaluate the fields we show on these to determine if we should be showing public, private both, etc. along the same lines as the conversation we were having about private profiles in general.

[2019-03-22 21:25] cwdcwd commented on #1308
![](https://github.trello.services/images/mini-trello-icon.png) [Final Fixes upload through the submissions api seems to be broken](https://trello.com/c/uFlExxtk/13-final-fixes-upload-through-the-submissions-api-seems-to-be-broken)

[2019-03-22 21:27] rashmi73 commented on #2105
@ThomasKranitsas new PR https://github.com/topcoder-platform/community-app/pull/2258
all fixes.

mostly input box expanded everywhere except skills and hobbies. so fixed that

[2019-03-22 21:27] #2163 closed

[2019-03-22 21:27] ThomasKranitsas commented on #2163
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086790<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 21:30] ThomasKranitsas commented on #2105
Please fix the tests

[2019-03-22 21:49] ThomasKranitsas opened #2259 "[$50] Marathon Matches not loading on profile pages"
Steps to Reproduce:

1.  Visit any profile of a member that has submitted to a marathon match.  For example, https://www.topcoder.com/members/wleite/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH&tab=statistics
2.  Click the "Challenges" tab.
3.  You'll see a modal error like the one attached.

Expected Result:
1. A list of challenge cards should be displayed for all the past matches the user

[2019-03-22 21:53] ThomasKranitsas commented on #2259
Contest https://www.topcoder.com/challenges/30087005 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 21:54] ThomasKranitsas commented on #2259
Contest https://www.topcoder.com/challenges/30087005 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:16] #2105 closed

[2019-03-22 22:16] ThomasKranitsas commented on #2105
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086774<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:20] ThomasKranitsas commented on #2047
@Gauravseta please do not take a ticket if you can't complete it within 24h.

@topcoder-platform/topcodercompetitors this is open for pickup.

[2019-03-22 22:21] ThomasKranitsas commented on #2186
Contest https://www.topcoder.com/challenges/30087006 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:21] ThomasKranitsas commented on #2186
Contest https://www.topcoder.com/challenges/30087006 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:21] ThomasKranitsas commented on #2185
Contest https://www.topcoder.com/challenges/30087007 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:21] ThomasKranitsas commented on #2185
Contest https://www.topcoder.com/challenges/30087007 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:21] ThomasKranitsas commented on #2047
Contest https://www.topcoder.com/challenges/30086882 has been updated - it has been assigned to liqiang372.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:23] ThomasKranitsas commented on #2212
@ajefts @cwdcwd fyi, those are legacy pages that are broken

[2019-03-22 22:23] ThomasKranitsas commented on #2182
Contest https://www.topcoder.com/challenges/30087008 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:23] ThomasKranitsas commented on #2182
Contest https://www.topcoder.com/challenges/30087008 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:24] ThomasKranitsas commented on #2152
Contest https://www.topcoder.com/challenges/30087009 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:24] ThomasKranitsas commented on #2152
Contest https://www.topcoder.com/challenges/30087009 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:25] #2149 closed

[2019-03-22 22:26] Gauravseta commented on #2047
@ThomasKranitsas i was about to and u released

[2019-03-22 22:27] ThomasKranitsas commented on #2192
Contest https://www.topcoder.com/challenges/30087010 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:27] ThomasKranitsas commented on #2192
Contest https://www.topcoder.com/challenges/30087010 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:28] ThomasKranitsas commented on #2186
Contest https://www.topcoder.com/challenges/30087006 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:28] ThomasKranitsas commented on #2197
Contest https://www.topcoder.com/challenges/30087011 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:28] ThomasKranitsas commented on #2197
Contest https://www.topcoder.com/challenges/30087011 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:29] ThomasKranitsas commented on #2179
Contest https://www.topcoder.com/challenges/30087012 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:29] ThomasKranitsas commented on #2179
Contest https://www.topcoder.com/challenges/30087012 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:29] liqiang372 commented on #2047
@Gauravseta if you are going to make pr soon, feel free to re-assign to yourself

[2019-03-22 22:29] ThomasKranitsas commented on #2098
Contest https://www.topcoder.com/challenges/30087013 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:29] ThomasKranitsas commented on #2197
Contest https://www.topcoder.com/challenges/30087011 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:30] ThomasKranitsas commented on #2098
Contest https://www.topcoder.com/challenges/30087013 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:33] Gauravseta commented on #2047
thanks but u can work on it. its my fault i exceeded 24h without any comment.

[2019-03-22 22:38] Gauravseta commented on #2186
@ThomasKranitsas it is working perfectly i verified

[2019-03-22 22:39] ThomasKranitsas commented on #2185
Contest https://www.topcoder.com/challenges/30087007 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:44] ThomasKranitsas commented on #2182
Contest https://www.topcoder.com/challenges/30087008 has been updated - it has been assigned to sexta13.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 22:47] liqiang372 commented on #2047
@ThomasKranitsas can you confirm the ticket, seems working fine to me on both chrome and firefox https://ibb.co/q1TxKWK

[2019-03-22 22:51] sexta13 commented on #2182
when it is not NaN what should be shown? no value at all? Just "Passed review"?

[2019-03-22 22:54] Gauravseta commented on #2185
@ThomasKranitsas Pr at https://github.com/topcoder-platform/community-app/pull/2260

[2019-03-22 23:03] ThomasKranitsas commented on #2152
Contest https://www.topcoder.com/challenges/30087009 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 23:12] sexta13 commented on #2182
I did this PR https://github.com/topcoder-platform/community-app/pull/2262

[2019-03-22 23:13] ThomasKranitsas commented on #2192
Contest https://www.topcoder.com/challenges/30087010 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 23:21] ThomasKranitsas commented on #2098
Contest https://www.topcoder.com/challenges/30087013 has been updated - it has been assigned to codingdrone.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 23:43] ThomasKranitsas commented on #2179
Contest https://www.topcoder.com/challenges/30087012 has been updated - it has been assigned to applehit16.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-22 23:46] sexta13 commented on #2179
as far as I can see this issue comes from API
Check the response:
![image](https://user-images.githubusercontent.com/5584415/54858442-b2fe7180-4cfc-11e9-8838-199935de2532.png)

[2019-03-22 23:48] Gauravseta commented on #2152
@ThomasKranitsas PR https://github.com/topcoder-platform/community-app/pull/2263

[2019-03-23 00:48] ThomasKranitsas commented on #2016
Contest https://www.topcoder.com/challenges/30085809 has been updated - it has been assigned to applehit16.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-23 01:35] ThomasKranitsas commented on #2179
Contest https://www.topcoder.com/challenges/30087012 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-23 01:42] nahidshahin commented on #2179
@ThomasKranitsas what should be the valid Country Rank?

[2019-03-23 04:57] raj88iitr commented on #2098
@ThomasKranitsas PR #2264

[2019-03-23 05:04] raj88iitr commented on #2098
![image](https://user-images.githubusercontent.com/3742534/54861854-449acd00-4d57-11e9-8c27-526baf8eb1a5.png)

[2019-03-23 07:48] applehit16 commented on #2016
![image](https://user-images.githubusercontent.com/48845164/54863396-62d7dd00-4d05-11e9-98e6-a63be9865c3e.png)
How to get to the page?

[2019-03-23 09:09] ThomasKranitsas commented on #2122
Contest https://www.topcoder.com/challenges/30086776 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-23 12:40] ThomasKranitsas commented on #2098
@raj88iitr the short bio is an optional field. Can we just trim the content and omit it from the request body if it's empty instead of throwing a validation error?

[2019-03-23 12:42] ThomasKranitsas commented on #2179
It should be `N/A` or `-`

[2019-03-23 13:11] #2186 closed

[2019-03-23 13:12] ThomasKranitsas commented on #2186
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087006<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-23 13:12] ThomasKranitsas commented on #2047
Contest https://www.topcoder.com/challenges/30086882 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-23 13:12] #2047 closed

[2019-03-23 13:13] ThomasKranitsas commented on #2047
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086882<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-23 13:14] #2182 closed

[2019-03-23 13:15] ThomasKranitsas commented on #2182
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087008<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-23 13:19] #2197 closed

[2019-03-23 13:20] ThomasKranitsas commented on #2197
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087011<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-23 13:20] #2152 closed

[2019-03-23 13:20] ThomasKranitsas commented on #2152
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087009<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-23 13:43] raj88iitr commented on #2098
Ok.

[2019-03-23 15:44] #2098 closed

[2019-03-23 15:46] ThomasKranitsas commented on #2098
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087013<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-23 17:26] nahidshahin commented on #2179
@ThomasKranitsas PR https://github.com/topcoder-platform/community-app/pull/2266

[2019-03-23 20:32] rashmi73 commented on #2259
@ThomasKranitsas working

[2019-03-23 20:33] ThomasKranitsas commented on #2259
Ok, thanks for the update

[2019-03-23 20:35] r0hit-gupta commented on #2231
@ThomasKranitsas please review.

[2019-03-24 06:02] gurmeetb commented on #2192
@ThomasKranitsas taking some time as not able to replicate for mentioned but another user I tried, it worked fine. Giving me a few more hrs, else will open.

[2019-03-24 10:55] r0hit-gupta commented on #2099
I am able to reproduce this issue. May I assign this to myself?

[2019-03-24 11:24] r0hit-gupta commented on #2231
I have created another PR #2267 with less reformatting. It still includes all the necessary reformatting to pass the tests. Please review.

[2019-03-24 11:34] ThomasKranitsas commented on #2099
Contest https://www.topcoder.com/challenges/30086883 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-24 11:34] ThomasKranitsas commented on #2099
@r0hit-gupta it's yours

[2019-03-24 11:35] ThomasKranitsas commented on #2192
@gurmeetb sure, no problem. I know it's a weird issue. Take as much time as you need

[2019-03-24 11:35] ThomasKranitsas commented on #2192
Contest https://www.topcoder.com/challenges/30087010 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-24 11:36] #2179 closed

[2019-03-24 11:37] ThomasKranitsas commented on #2179
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087012<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-24 11:41] r0hit-gupta commented on #2099
Please review.

[2019-03-24 11:51] #2099 closed

[2019-03-24 11:52] ThomasKranitsas commented on #2099
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086883<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-24 13:25] sumitdaga commented on #2259
@ThomasKranitsas
can i take this one ?

[2019-03-24 13:25] ThomasKranitsas commented on #2259
Contest https://www.topcoder.com/challenges/30087005 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-24 13:25] ThomasKranitsas commented on #2259
sure

[2019-03-24 14:11] sumitdaga commented on #2259
@ThomasKranitsas
was this working at any point ?
what is the endpoint for fetching marathons for a user?

[2019-03-24 15:51] sumitdaga commented on #2259
and btw this is the commit which removed the  function `getUserMarathonMatches()`
https://github.com/topcoder-platform/topcoder-react-lib/commit/31e84ed18f4fe9a7ed3e3ad63fe844e5ba39ae02

not sure why it was removed?

[2019-03-24 16:53] luizrrodrigues opened #2269 "Challenge page timeline not match with OR"
**Describe the bug**
In Challenge page timeline showing in "screening" phase, but in OR its looks right in "review" phase.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Challenge page (ex. https://www.topcoder.com/challenges/30086489)
2. Check challenge timeline, showing "screening"
3. Go to OR of the project (ex. https://software.topcoder.com/review/actions/ViewProjectDetails?method

[2019-03-24 17:05] gurmeetb commented on #2192
@ThomasKranitsas tried this via POSTMAN too, it doesn't bring in any IDEA_GENERATION challenges for winterflame

https://api.topcoder.com/v4/members/winterflame/challenges/?limit=50&offset=0

Opening up for others since spent a good time on this.

[2019-03-24 17:17] ThomasKranitsas commented on #2192
Contest https://www.topcoder.com/challenges/30087010 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-24 18:37] sumitdaga commented on #2259
@ThomasKranitsas
PR at https://github.com/topcoder-platform/topcoder-react-lib/pull/49

let me know if it works ?

[2019-03-24 22:03] Gauravseta commented on #2185
@ThomasKranitsas please check

[2019-03-25 10:04] m-yadav opened #2270 "URL for Competitive Programming is incorrect on Forum Page"
**Describe the bug**
On the Webpage  "https://apps.topcoder.com/forums/", the link ( navbar -> learn -> competitive programming) to Competitive Programming is not correct. The URL contains space between the words

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://apps.topcoder.com/forums/'
2. Hover Over Learn followed by on competitive programming
3. Look for the URL it is being

[2019-03-25 16:55] ThomasKranitsas commented on #2016
Contest https://www.topcoder.com/challenges/30085809 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-25 19:07] ThomasKranitsas commented on #2194
Contest https://www.topcoder.com/challenges/30086892 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-25 19:33] ThomasKranitsas commented on #2192
Contest https://www.topcoder.com/challenges/30087010 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-25 20:59] gurmeetb commented on #2016
@ThomasKranitsas @sushilshinde could you guide what exactly are we looking for here?

[2019-03-25 22:46] Oanh-and-only-Oanh commented on #2016
@gurmeetb there are private communities on Topcorder such as Topgear and Zurich. A member can only access a private crowd if they have company login credentials. If a member is part of the private community but is currently signed in using their public crowd handle, they will see a 404 error message. Currently the message is unhelpful and we want to change the content so that it gives the users ti

[2019-03-26 07:57] #2194 closed

[2019-03-26 07:58] ThomasKranitsas commented on #2194
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086892<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-26 08:22] sumitdaga commented on #2259
@ThomasKranitsas
in case you missed it! PR is on topcoder-platform/topcoder-react-lib#49

[2019-03-26 08:45] ThomasKranitsas commented on #2122
Contest https://www.topcoder.com/challenges/30086776 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-26 09:13] sexta13 commented on #2122
is this closed?

[2019-03-26 09:15] ThomasKranitsas commented on #2122
it's WIP

[2019-03-26 10:07] r0hit-gupta commented on #2192
@ThomasKranitsas looks like there is an issue with the backend service. None of the challenges are received when using IDEA_GENERATION filter. I can take a look at the API code if you like.

[2019-03-26 12:17] r0hit-gupta commented on #2122
@ThomasKranitsas It's all done from my side.

[2019-03-26 20:24] gurmeetb commented on #2192
@r0hit-gupta try for user talesforce, if not wrong it was returning 1 challenge for IDEA_GENERATION.

[2019-03-27 08:41] harshitmehta123 commented on #2209
Hey @ThomasKranitsas Any idea when this will be resolved? :)

[2019-03-27 08:50] ThomasKranitsas commented on #2209
@harshitmehta123 @topcoder-platform/topcodercompetitors this is open for pickup

[2019-03-27 08:53] ThomasKranitsas commented on #2209
Contest https://www.topcoder.com/challenges/30087537 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-27 08:53] ThomasKranitsas commented on #2209
Contest https://www.topcoder.com/challenges/30087537 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-27 08:54] nahidshahin commented on #2209
Is it taken? I still see open for pick-up

[2019-03-27 08:54] ThomasKranitsas commented on #2209
Contest https://www.topcoder.com/challenges/30087537 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-27 09:54] sumitdaga commented on #2209
@ThomasKranitsas
![Selection_134](https://user-images.githubusercontent.com/7769148/55066616-2f4dd780-50a4-11e9-886b-ccc77f60baef.png)

this seems to be a problem with the backend service(probably the DB has corrupted data) ...as you can see in the screenshot , it is returning the concerned data in some cases but not in most !

[2019-03-27 16:36] hokienick commented on #1988
Seems to be completed based on DaraKs specification.

[2019-03-27 16:36] #1988 closed

[2019-03-27 19:27] r0hit-gupta commented on #2192
@gurmeetb I am not able to see any IDEA GENERATION challenges for user talesforce. Its showing 0 challenges.

[2019-03-27 19:57] r0hit-gupta commented on #2058
Is this issue being still worked upon?

[2019-03-27 20:08] PrakashDurlabhji commented on #2058
@r0hit-gupta it is being worked on.updating in few hours

[2019-03-27 20:54] #2185 closed

[2019-03-27 20:55] ThomasKranitsas commented on #2185
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087007<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-28 08:47] #2259 closed

[2019-03-28 08:48] ThomasKranitsas commented on #2259
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087005<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-28 15:17] #2122 closed

[2019-03-28 15:18] ThomasKranitsas commented on #2122
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086776<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-28 21:20] ThomasKranitsas commented on #2058
Contest https://www.topcoder.com/challenges/30086771 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 09:22] ThomasKranitsas opened #2275 "[$40] Error - Window is not defined"
**Describe the bug**
Going directly to the settings page, I'm getting a blank screen with the error `Window is not defined`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://community-app.topcoder-dev.com/settings/profile
2. See error

**Expected behavior**
The page should load

[2019-03-29 09:23] ThomasKranitsas commented on #2275
PR on `bug-bash`

[2019-03-29 09:24] ThomasKranitsas commented on #2275
Contest https://www.topcoder.com/challenges/30087708 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 09:26] ThomasKranitsas commented on #2275
Contest https://www.topcoder.com/challenges/30087708 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 09:43] ThomasKranitsas opened #2276 "[$50] 404 in email preferences for new users"
**Describe the bug**
If there are no email preferences saved yet, the page throws 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Login with `thomas.test1/topcoder123` (or create a new user)
2. Go to https://community-app.topcoder-dev.com/settings/preferences
3. See error

**Expected behavior**
The page should load without issues.

**Screenshots**
<img width="1772" alt="Screenshot 2019-

[2019-03-29 09:45] ThomasKranitsas commented on #2276
Contest https://www.topcoder.com/challenges/30087713 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 09:46] ThomasKranitsas commented on #2276
Contest https://www.topcoder.com/challenges/30087713 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 09:56] ThomasKranitsas opened #2277 "Member profile fails to load for some users"
**Describe the bug**
It seems like the data returned by the API is inconsistent and sometimes data is missing.
We need to make the profile page bulletproof by:
- Ensuring an array exists before calling `.length`
- Ensuring an array exists before calling `.map()`

You can use `lodash`'s `_.get` for this.
Eg: `object.myArray.map()` should be `_.get(object, 'myArray', []).map()`

... or you can sugge

[2019-03-29 09:57] ThomasKranitsas commented on #2277
PR on `bug-bash` branch

[2019-03-29 09:58] ThomasKranitsas commented on #2277
Contest https://www.topcoder.com/challenges/30087714 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 09:59] ThomasKranitsas commented on #2277
Contest https://www.topcoder.com/challenges/30087714 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 09:59] ThomasKranitsas commented on #2058
@Gauravseta it's critical to get this done quickly. I'll increase the payment here

[2019-03-29 09:59] ThomasKranitsas commented on #2058
Contest https://www.topcoder.com/challenges/30086771 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 10:09] ThomasKranitsas commented on #2043
Contest https://www.topcoder.com/challenges/30087715 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 10:09] ThomasKranitsas commented on #2043
Contest https://www.topcoder.com/challenges/30087715 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 10:09] ThomasKranitsas commented on #2043
Contest https://www.topcoder.com/challenges/30087715 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 10:09] #2043 closed

[2019-03-29 10:10] ThomasKranitsas commented on #2043
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087715<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 10:11] ThomasKranitsas commented on #2043
Contest https://www.topcoder.com/challenges/30087715 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 10:14] ThomasKranitsas commented on #2055
seems to be working fine now

[2019-03-29 10:14] #2055 closed

[2019-03-29 14:17] #2275 closed

[2019-03-29 14:17] ThomasKranitsas commented on #2275
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087708<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 14:19] sumitdaga commented on #2058
@ThomasKranitsas
can i take this up?

[2019-03-29 14:21] ThomasKranitsas commented on #2058
if @Gauravseta does not complete this in the next 7 hours, it's yours.

[2019-03-29 14:23] Gauravseta commented on #2058
@ThomasKranitsas will update you every second.mostly it wont be delayed

[2019-03-29 14:38] PrakashDurlabhji commented on #2277
@ThomasKranitsas I am getting following error in console:
**TypeError: Cannot read property 'profileURL' of null**

nothing related to mentioned above.
is this what expected?

[2019-03-29 14:39] ThomasKranitsas commented on #2277
@PrakashDurlabhji which profile?

[2019-03-29 14:39] PrakashDurlabhji commented on #2277
@ThomasKranitsas same profile mentioned in issue description
https://community-app.topcoder-dev.com/members/tourist

[2019-03-29 14:40] ThomasKranitsas commented on #2277
I just tried and it loaded fine...

[2019-03-29 14:41] PrakashDurlabhji commented on #2277
@ThomasKranitsas refresh it 2-3 times, it will be blank. then see console.

[2019-03-29 14:41] ThomasKranitsas commented on #2277
Got it.. Please fix that as well. I'll increase the price of the ticket

[2019-03-29 14:42] ThomasKranitsas commented on #2277
Contest https://www.topcoder.com/challenges/30087714 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-29 17:41] Gauravseta commented on #2058
@ThomasKranitsas delay observed here is due to http call it makes to save preferences.
whereas in profile tab under basic info, there is no call on toggling, but only after click save changes.

[2019-03-29 17:43] ThomasKranitsas commented on #2058
can you add a `Save Changes` button similar to what we have in the profile settings so it will only save the updated info when you click that?

[2019-03-29 17:54] Gauravseta commented on #2058
@ThomasKranitsas yes will add that

[2019-03-29 17:56] Gauravseta commented on #2058
@ThomasKranitsas may take sometime, actively working on it and update you and complete within 3 hours now mostly. will implement similar way in basic info it is

[2019-03-29 19:01] r0hit-gupta commented on #2231
I have updated the PR. Should now be much easier to review.

[2019-03-29 19:02] ThomasKranitsas commented on #2231
Will check this later today. Sorry for the delay

[2019-03-29 19:22] Gauravseta commented on #2058
@ThomasKranitsas https://github.com/facebook/react/pull/10150

[2019-03-29 19:23] ThomasKranitsas commented on #2058
not following... Can you elaborate?

[2019-03-29 19:52] Gauravseta commented on #2058
@ThomasKranitsas PR https://github.com/topcoder-platform/community-app/pull/2280

[2019-03-29 21:11] NehaSharma02 opened #2281 "Spelling correction for skill named 'Symfony'"
On the profiles page the one of the skill spelling is incorrect. It should be 'Symfony' instead of 'Sympfony'

Steps to reproduce:
1. Go to the link: https://www.topcoder.com/settings/profile
2. Add the skill named as 'Sympfony' from the drop down list.

Please refer the attached screenshot
![image](https://user-images.githubusercontent.com/37835397/55262694-99c56a00-5294-11e9-841d-bfeec18ce0f2.pn

[2019-03-29 23:37] PrakashDurlabhji commented on #2277
@ThomasKranitsas https://github.com/topcoder-platform/community-app/pull/2282

[2019-03-29 23:49] PrakashDurlabhji commented on #2190
@ThomasKranitsas any updates on this? were my efforts in right direction?

[2019-03-30 07:31] ThomasKranitsas commented on #2190
I will pay out this ticket for your effort to investigate this.

[2019-03-30 07:31] #2190 closed

[2019-03-30 07:31] ThomasKranitsas commented on #2277
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087714<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-30 07:32] ThomasKranitsas commented on #2190
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086891<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-30 08:43] Gauravseta commented on #2058
@thomaskranitsas

1.In basic info page, all 3 toggles are maintained in state under tracks array.
2.so when toggle button is changed, onchange listener is called and tracks array updated and then setState is called which rerenders and Track component reflects the change.
3. In Preferences, Same role of Track component is played by ToggleableItem, which is not reflecting change on rerender even tho

[2019-03-30 09:02] ThomasKranitsas commented on #2058
@Gauravseta your solution is not valid. We need to see the changes in real time without having to save or refresh the page.

[2019-03-30 10:31] r0hit-gupta commented on #2276
@ThomasKranitsas may I take this up?

[2019-03-30 10:31] ThomasKranitsas commented on #2276
sure

[2019-03-30 10:41] ThomasKranitsas commented on #2276
Contest https://www.topcoder.com/challenges/30087713 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-30 11:01] rashmi73 commented on #2276
@ThomasKranitsas forgot to update you it is near to be completed and PR in 30 minutes. can i take it back?

[2019-03-30 11:03] ThomasKranitsas commented on #2276
@rashmi73 if you can create a PR in the next 30 minutes, then you can take it.

@r0hit-gupta please let me know if you already worked on this... I will compensate you if you have put effort on this.

[2019-03-30 11:05] rashmi73 commented on #2276
@ThomasKranitsas thank you

[2019-03-30 11:05] ThomasKranitsas commented on #2276
Contest https://www.topcoder.com/challenges/30087713 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-30 11:14] r0hit-gupta commented on #2276
@ThomasKranitsas I had started debugging the issue. But no worries. Will take up the issue is rashmi is unable to solve.

[2019-03-30 11:33] rashmi73 commented on #2276
@ThomasKranitsas raising PR at topcoder-react-lib, can you please tell against which branch shall i raise it?

[2019-03-30 11:42] rashmi73 commented on #2276
@ThomasKranitsas ok i will raise against develop branch till then

[2019-03-30 11:47] rashmi73 commented on #2276
@ThomasKranitsas PR raised at topcoder-react-lib
https://github.com/topcoder-platform/topcoder-react-lib/pull/53

[2019-03-30 11:50] #2276 closed

[2019-03-30 11:51] ThomasKranitsas commented on #2276
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087713<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-30 11:52] r0hit-gupta commented on #2058
@ThomasKranitsas may I take this up?

[2019-03-30 11:53] ThomasKranitsas commented on #2058
@r0hit-gupta since we need this to be resolved ASAP and @Gauravseta was not able to solve this, you may take it.

[2019-03-30 11:54] Gauravseta commented on #2058
@r0hit-gupta sorry i am already active on it

[2019-03-30 11:54] ThomasKranitsas commented on #2058
@Gauravseta the 24h period has passed and your solution does not work.

[2019-03-30 11:54] Gauravseta commented on #2058
@ThomasKranitsas i will be able to solve it give me few minutes please. my PR is completed and working

[2019-03-30 11:55] ThomasKranitsas commented on #2058
Ok, you have 30 more minutes

[2019-03-30 11:55] ThomasKranitsas commented on #2058
after that, @r0hit-gupta will take this up

[2019-03-30 11:55] Gauravseta commented on #2058
@ThomasKranitsas my PR is only solution to this problem and someone else then take my efforts.

@r0hit-gupta can you please try on this till then.
https://github.com/topcoder-platform/community-app/issues/2192

there is also one more issue open for pickup.

[2019-03-30 11:56] ThomasKranitsas commented on #2058
You mean this one https://github.com/topcoder-platform/community-app/pull/2280 ?

If yes, this is not working on my end.

[2019-03-30 12:22] Gauravseta commented on #2058
@ThomasKranitsas done it is working updating PR

[2019-03-30 12:23] ThomasKranitsas commented on #2058
Make sure the tests pass

[2019-03-30 12:51] Gauravseta commented on #2058
@ThomasKranitsas it is behaving weird again. I am 100% sure my PR is solution.
dont know why browser is not reflecting values on toggling.
kindly see attached screenshot which show true values but ToggleableItem component is not reflecting it. though checked value inside ToggleableItem is also true. i checked in console and everywhere.
![2058](https://user-images.githubusercontent.com/16337895/552

[2019-03-30 13:15] ThomasKranitsas commented on #2058
Well, that's what you are supposed to fix.

[2019-03-30 15:22] r0hit-gupta commented on #2058
@ThomasKranitsas so may I take this issue up? I may have a solution.

[2019-03-30 15:23] Gauravseta commented on #2058
@ThomasKranitsas i am tired now, since 3 hours debugging and also before that invested a complete day.
i still feel my PR is solution, also revised react concepts , but dont know why html and broswer reacting this way. or i am missing just 1% and 99% it is done?

i will check whoever raises PR what modifications are done apart from my solution because same code is working in Basic Info.

@r0hit-gu

[2019-03-30 15:23] ThomasKranitsas commented on #2058
Contest https://www.topcoder.com/challenges/30086771 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-30 15:24] Gauravseta commented on #2058
@r0hit-gupta what a timing

[2019-03-30 17:49] r0hit-gupta commented on #2058
@ThomasKranitsas please review.

[2019-03-30 18:04] #2058 closed

[2019-03-30 18:04] ThomasKranitsas commented on #2058
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086771<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-30 19:17] #2231 closed

[2019-03-30 19:17] ThomasKranitsas commented on #2231
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086792<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-30 21:36] ThomasKranitsas commented on #2192
Contest https://www.topcoder.com/challenges/30087010 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-31 08:27] ThomasKranitsas commented on #2209
Contest https://www.topcoder.com/challenges/30087537 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-31 08:27] ThomasKranitsas commented on #2209
Thanks for the investigation!

[2019-03-31 08:27] #2209 closed

[2019-03-31 08:29] ThomasKranitsas commented on #2116
this has been fixed

[2019-03-31 08:29] #2116 closed

[2019-03-31 08:29] ThomasKranitsas commented on #2209
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30087537<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-31 08:41] ThomasKranitsas commented on #2076
Fixed

[2019-03-31 08:41] #2076 closed

[2019-03-31 10:59] systic opened #2284 "Round Information (Design Challenges) need to be in the top"
Hi there,

In Design challenges, we have "Round information" displayed in the bottom which is wrong. It should be originally be seen as a separate section at the top in the challenge page (please see attached screenshot).

https://www.topcoder.com/challenges/30087721/?type=design
<img width="795" alt="Screenshot 2019-03-31 at 4 24 21 PM" src="https://user-images.githubusercontent.com/15885764/5528

[2019-04-02 16:53] kkartunov commented on #2016
Handled by http://www.topcoder.com/challenge-details/30087816/?type=develop

[2019-04-03 14:06] ThomasKranitsas opened #2288 "[$40] Show empty graph if there is no data for the user's rating"
**Describe the bug**
Currently, if there is no data available, the rating graph is hidden which makes the UI look broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://beta-community-app.topcoder.com/members/thomaskranitsas/details/?track=DEVELOP&subTrack=CODE
2. See error

**Expected behavior**
An empty graph should be shown.

**Screenshots**
<img width="1792" alt="Screensho