[2017-03-09 18:53] parthshah opened #1 "Create a Skeleton app for Isomorphic React app"
Must haves
-----------
- [x] webpack2
- [x] react
- [x] redux
- [x] babel-plugin-react-css-modules (https://github.com/gajus/babel-plugin-react-css-modules)
- [x] react-svg-loader (https://github.com/boopathi/react-svg-loader)
- [x] eslint (airbnb)
- [x] stylelint
- [x] stylefmt
- [x] scss loaders
- [x] autoprefixer
- [x] unit testing ..
- [x] font loading...
- [x] axios / isomorphic-fetch
- [ ] C

[2017-03-10 17:43] parthshah opened #2 "Integrate with accounts-app for authentication"
Ref https://github.com/appirio-tech/connect-app/blob/dev/src/actions/loadUser.js

[2017-03-10 17:45] parthshah opened #3 "Add request interceptor to handle API auth"
Intercept Topcoder API calls to inject auth JWT. Interceptor should also manage refreshing tokens.

[2017-03-14 20:18] birdofpreyru commented on #1
@parthshah @vic-topcoder What is our deployment target? I mean, should our App include Express server for production deployment to Heroku or whatsover, which will serve the frontend? Or just webpack-dev-server for development, while for production we just package the App, and we place resulting bundle to be served by an external server?

[2017-03-14 20:20] vic-topcoder commented on #1
We do both, via different settings/parameters. For local environment we have node.js and the react hot reload, and other goodies. Usually done via `npm start`

The development server is node.js again, but different settings `npm build`.

@parthshah please help with the technical details :)

[2017-03-14 20:27] birdofpreyru commented on #1
Yeah, I mean, for production we just `npm build` the bundle which includes frontend code, and this code we'll be used by an external server? Or, as we were talking about isomorphyc App here, are we also going to have some backend staff here?

[2017-03-14 20:33] parthshah commented on #1
Both - we'll run an express server for production on AWS which will serve the first page request. Once the app is loaded on client side, it can request additional resources through a CDN (cloudfront + s3). So assets will also have to be packaged and deployed to an S3 bucket.

[2017-03-14 20:35] birdofpreyru commented on #1
Ok, so production server is also part of the App?

[2017-03-14 20:42] parthshah commented on #1
Yes, unless there is a better architectural pattern to handle such apps.

[2017-03-16 17:06] birdofpreyru commented on #1
@parthshah Got new questions:

1. Do we really need `stylefmt`? I don't quite understand its purpose as a part of an App. If we have `stylelint` and we demand contributors to write code which already satisfies selected `stylelint` style, why would we want to include a tool which automatically converts css/scss styles?

2. Need your opinion about SVG loading. `react-svg-loader` works fine with Webp

[2017-03-16 18:24] parthshah commented on #1
1. @vic-topcoder  can you please comment on stylefmt ?
2. There is a bug open for this - #boopathi/react-svg-loader/issues/78.  Do you fancy contributing or maybe we can at least find out if someone is actively looking into it. I prefer not forking our code path for server vs client code as much as possible. How were you thinking of handling this?

[2017-03-16 18:29] birdofpreyru commented on #1
2. There is `ignore-styles` already in the project to ignore .scss imports into React components during server-side rendering. In my current understanding, it also can be used to set a special handler for .svg imports during server-side rendering, which will properly replace .svg imports with `react-svg-loader` to imports with `react-svg`.

[2017-03-16 22:12] parthshah commented on #1
okay, let's start with the simpler approach, use different loaders? Also, I just realized that this setup might have some conflicts when using react-components repo. Just something to keep in mind, we can work through those cases as they come up.

[2017-03-16 22:23] vic-topcoder commented on #1
1. StyleFMT "is a tool that automatically formats stylesheets." What it does is reorder the source code according to the rules set by Stylelint, it doesn't convert them. It is a [complimentary tool to Stylelint ](https://stylelint.io/user-guide/complementary-tools/) that will make sure all our SCSS code is always formatted to the standards, independent of text editors. Editing CSS without restruct

[2017-03-17 00:42] birdofpreyru commented on #1
@vic-topcoder @parthshah

1. By conversion I mean, it gets an ugly formatted css or scss file as input and outputs a pretty formatted version, which follows stylelint settings for the project. Sure we can add it to the repo, so that we can run a command and it automatically fixes any problems in styles, but to me it looks like a strange thing to do. At least, I just have stylelint plugin installed

[2017-03-17 01:38] parthshah commented on #1
1. Okay so it sounds like stylefmt is similar to 'eslint --fix'. In that
case it's a good to have. Might help as a standalone tool to to fix
existing styles.
2. Awesome thanks @birdofpreyru
On Thu, Mar 16, 2017 at 5:42 PM birdofpreyru <notifications@github.com>
wrote:

[2017-03-18 01:40] birdofpreyru commented on #1
@vic-topcoder @parthshah
What is the best place to get general Topcoder fonts and stylings (I mean, the lists of fonts you typically use in the new desings, all these color variables with standard Topcoder colors, and any other stlying-related staff we would like to copy into this repo)?

[2017-03-21 18:36] parthshah opened #4 "Deploy community-app server to Dev env"
Setup it up as an express Node.js server, dockerize and push via ElasticBeanstalk.

[2017-03-24 19:55] birdofpreyru commented on #2
Done

[2017-03-24 19:55] #2 closed

[2017-03-24 19:58] birdofpreyru commented on #3
Done in an alternative way: `/src/shared/services/api.js` provides API service.

[2017-03-24 19:58] #3 closed

[2017-04-10 10:38] birdofpreyru opened #5 "HMR fails for SCSS modules with @include statements"
Hot Module Replacement (HMR) fails for SCSS modules containing `@include` statements. E.g. at the fonts test page (`/examples/fonts-test` endpoint) when you try to edit corresponding `style.scss` file while the App is running in dev mode with that page open, you'll see that most of the text will just dissapear. HMR seems to work fine in other cases, though.

[2017-04-10 10:42] birdofpreyru opened #6 "Unit test coverage"
After the last challenge there are some failing tests, also the global test coverage should be increased.

**From that submission comments**

The time for that component comes from a call to Topcoder API. That call should be mocked with standard Jest methods, and then snapshot test will be feasible.

[2017-04-10 10:55] birdofpreyru opened #7 "TC header and footer"
Topcoder header and footer should be copied into this repo, to be used in TC pages served from here.

[2017-04-10 11:00] birdofpreyru commented on #7
@vic-topcoder What these should be?
I see that in `react-components` there is a footer of the same style like the one in prod now (though, spacings, font sizes, etc. are a bit different), and there is something looking like a new version of header:
![scr-12](https://cloud.githubusercontent.com/assets/20144632/24858653/760d63d4-1ded-11e7-90db-621395881534.png)
What should we do? Should we take the

[2017-04-10 11:04] birdofpreyru opened #8 "SMP - Challenge preview and screening/review status"
Current version of SMP shows dummy submission previews and no screening / review status info.
The core problem is that TC API v3 does not allow to fetch challenges yet (or have we failed to find the right endpoints?) and TC API v2 does not provide previews and screening / review info.

[2017-04-10 11:08] birdofpreyru opened #9 "SMP - Submission download does not work"
**A comment to winning submission tells**

Probably it works, but submitter made some auth-related mistake?

[2017-04-10 11:09] birdofpreyru opened #10 "SMP - Delete submission"
Does not work because, according to the winning submission:

[2017-04-10 11:11] birdofpreyru opened #11 "SMP - Action icon color is wrong"
Now it is black, should be #444 according to specs.

[2017-04-10 11:15] birdofpreyru opened #12 "SMP - Submission table header - Wrong label colors"
Now they are black, should be #888894 according to specs.

[2017-04-10 11:17] birdofpreyru opened #13 "SMP - Server side rendering is not working"
Submission data are fetched on client-side. Which is fine to begin with, but perfection demands it to be fixed.

[2017-04-10 11:25] birdofpreyru opened #14 "SMP - The line in bottom of page header is missing"
![scr-13](https://cloud.githubusercontent.com/assets/20144632/24859467/f9acf472-1df0-11e7-9e33-bbd5d7398863.png)

[2017-04-10 11:45] birdofpreyru commented on #9
@ajefts What do you think about it? Should be working in API v2, if called correctly, right?

[2017-04-10 11:46] birdofpreyru commented on #8
@ajefts Any chances to get this functionality any soon?

[2017-04-10 11:47] birdofpreyru commented on #10
@ajefts Any chance to get this working soon? Probably, it is already supported, just not well documented?

[2017-04-10 16:27] ajefts commented on #9
I think that's an untested endpoint in v2.  Ideally, we need to get that built in v3.

In the short, short term we may need to use the legacy download controller...

https://studio.topcoder.com/?module=DownloadSubmission&sbmid=236660

[2017-04-10 16:31] ajefts commented on #10
@birdofpreyru It's actually not in v3 yet.  Here is the task for that one:  https://github.com/appirio-tech/ap-submission-microservice/issues/28

[2017-04-10 16:34] ajefts commented on #8
@birdofpreyru  For "fetching challenges", what data do you need?

For previews, did you try endpoints like this in v2?  https://api.topcoder.com/v2/design/download/236613?submissionType=preview&submissionImageTypeId=29

If not, short term patch might also be to use the legacy urls for previews:  https://studio.topcoder.com/?module=DownloadSubmission&sbmid=236611&sbt=full&sfi=1

[2017-04-11 01:34] skyhit commented on #10
@ajefts @birdofpreyru I am going to get this implemented.

[2017-04-11 15:20] vic-topcoder commented on #7
We use slightly different footers on Connect and Topcoder due to the nature of the apps. The header actually is top navigation, which again is different for the apps. Ideally the top navigation would share some similarities between the apps, but I'd say both are custom components for each app.

Ideally we'll reuse the sub-components from the nav - search, tabs, logged out/logged in avatar, logo na

[2017-04-12 09:32] birdofpreyru opened #15 "SMP - Phase end counter"
![scr-14](https://cloud.githubusercontent.com/assets/20144632/24951059/6c602aba-1f73-11e7-8ed2-1e6ca61d69f2.png)
Once the challenge is finished, the counter of time till the end of the phase shows negative number.
Also in other spot we still show when submission ends, though it is not useful once the phase is finished.
In general, we should double-check and fix all logic in the page, related phase

[2017-04-12 10:21] birdofpreyru opened #16 "ReactJS PropTypes migration"
Facebook has deprecated React.PropTypes - related functionality is now split into the separate library https://www.npmjs.com/package/prop-types. We should update our code to use it.

[2017-04-12 11:59] birdofpreyru commented on #9
@ajefts FYI: I've double-checked it. Submission downloading with API v2 seems to be non-functional, indeed. The following error message is reported:
[code]

I'll fallback for the legacy download controller for now.

[2017-04-12 12:02] birdofpreyru commented on #8
@ajefts

My misprint. I meant "fetching submissions with API v3". In particular, fetching screening status and any related info is what we are missing.

[2017-04-12 12:13] birdofpreyru commented on #14
Fixed by 5afa9e51fa1ae314bfecf7771b8c5072603ec0db

[2017-04-12 12:13] #14 closed

[2017-04-12 12:13] birdofpreyru commented on #12
Fixed by 5afa9e51fa1ae314bfecf7771b8c5072603ec0db

[2017-04-12 12:13] #12 closed

[2017-04-12 12:13] birdofpreyru commented on #11
Fixed by 5afa9e51fa1ae314bfecf7771b8c5072603ec0db

[2017-04-12 12:13] #11 closed

[2017-04-12 15:47] ajefts commented on #8
@birdofpreyru Can you point me to the latest page design please?

[2017-04-12 15:55] birdofpreyru commented on #8
@ajefts Yeap. Download this: https://drive.google.com/open?id=0B3y3SEA9cIEkTTBYYVRycmhTSTg
And look inside `/Design-and-Assets` folder inside that .zip

[2017-04-12 16:00] ajefts commented on #8
thanks.  For now, let's leave out that status until we get it added to the API response...

[2017-04-12 16:03] birdofpreyru commented on #8
Yeah, absence of that field in API response does not break the prototype, it just hides that column (this way it is compatible with development challenges, which won't have that screening info).

[2017-04-12 16:04] ajefts commented on #9
Ok.  FireIce is also running a challenge to get the endpoint added to v3.

On Wed, Apr 12, 2017 at 7:59 AM, birdofpreyru <notifications@github.com>
wrote:

[2017-04-14 14:22] birdofpreyru commented on #8
UPDATE: In the commit https://github.com/topcoder-platform/community-app/commit/960680269eb4de2f173954d5b48755dd872ec21b previes has been added with use of legacy (Studio) API.

[2017-04-14 14:23] birdofpreyru commented on #9
UPDATE: In the commit https://github.com/topcoder-platform/community-app/commit/960680269eb4de2f173954d5b48755dd872ec21b submission download is fixed with use of legacy (Studio) API.

[2017-04-14 14:24] birdofpreyru commented on #10
UPDATE: For now, until we get backend API ready, the delete submission icon has been hidden in SMP (https://github.com/topcoder-platform/community-app/commit/960680269eb4de2f173954d5b48755dd872ec21b)

[2017-04-14 14:25] birdofpreyru commented on #16
UPDATE: Will be addressed in this F2F: http://www.topcoder.com/challenge-details/30057203/?type=develop

[2017-04-14 14:25] birdofpreyru commented on #6
UPDATE: Will be addressed in this F2F: http://www.topcoder.com/challenge-details/30057203/?type=develop

[2017-04-14 14:28] birdofpreyru commented on #7
UPDATE: Is addressed in this F2F: https://www.topcoder.com/challenge-details/30057239/?type=develop (Header and Footer from Topcoder Community website it prod will be copied into `community-app` to use in the new pages. It is to prepare new pages for public release asap. Fancy theming staff will be addressed later.).

[2017-04-14 16:22] #5 closed

[2017-04-14 22:55] #13 closed

[2017-04-19 15:54] birdofpreyru commented on #7
UPDATE: F2F didn't work out, I've ported TC header and footer myself (turned out to be quite more work, than anticipated, as the header is interactive and basically had to be rewritten to use the Redux store for its state). As of commit 5dd50e4632df1651ec593a966ea17dea20d6ee52, the SMP can be safely released to prod, though some header/footer-related code enhacements and unit tests are still to be

[2017-04-19 15:56] birdofpreyru opened #17 "CSS loading issue in Dev"
As of the moment CSS loading in development environment has some problems, as it loads pre-build css file, and then loads updates from HMR as a part of JS bundle. This is not a correct setup, and should be updated.

[2017-04-19 15:57] birdofpreyru opened #18 "Font loading issue in Dev"
Loading fonts as separate files in dev leads to problems with HMR. I've changed it to load fonts as data urls within JS bundle. This solves the problem with HMR, but delays proper rendering of page in dev environment. Should be further investigated and fixed.

[2017-04-19 23:44] birdofpreyru opened #19 "Server-side rendering of the TC header"
Some data being used in the TC header are not loaded yet during server-side rendering.

[2017-04-20 17:57] ajefts commented on #7
Thanks!

On Wed, Apr 19, 2017 at 11:54 AM, birdofpreyru <notifications@github.com>
wrote:

[2017-04-21 13:24] birdofpreyru commented on #17
Resolved in 6884aad9308d928446c740946060d7091a2b30d3

[2017-04-21 13:24] #17 closed

[2017-04-22 13:39] elfman opened #20 "Error when run "npm run dev""
I just clone this repository and didn't modify any thing, when I run "npm run dev" in terminal, it shows errors. Here is the log.

[code]

[2017-04-22 14:00] birdofpreyru commented on #20
@elfman I'll look into this later. For now try a different commit. Most probably I've introduced a small bug in the latest one.

[2017-04-22 14:36] elfman commented on #20
@birdofpreyru I removed the folder 'node_modules/' and run `npm install` to install again, it could work now, I don't know why. Sorry for wasting your time.

[2017-04-22 14:36] #20 closed

[2017-04-23 12:05] maxceem opened #21 "fix:styles brakes lint:scss"
When performing `npm run fix:styles` it brakes linting for some files.

Let's say we checkout commit `f3d273d22e09b6a34f0a090cc5be377ac3dd6b79`.

### How to reproduce
1. Run `npm run lint:scss`. There are no errors

2. Run `npm run fix:styles`. It says that `10 files are formatted.`

3. Run `npm run lint:scss` again. Now we get error `declaration-empty-line-before` in two files `src/styles/_forms.

[2017-04-23 23:23] birdofpreyru commented on #19
Done in https://github.com/topcoder-platform/community-app/commit/4cea6bf9246cc84030f179efb3d95c4e54abea8c

[2017-04-23 23:23] #19 closed

[2017-04-24 22:01] birdofpreyru commented on #10
Delete submission functionality is added in https://github.com/topcoder-platform/community-app/commit/0dc601b9791fb11b75fdce068908a3349e5648b5

[2017-04-24 22:01] #10 closed

[2017-04-25 08:49] birdofpreyru commented on #18
This turns out to be more severe than I though: inclusion of fonts into bunle can easily blow it up to ~200-300 Mb (https://apps.topcoder.com/forums/?module=Thread&threadID=900978&start=0&mc=2#2193223). Will revert using url-loader, and keep looking for a better solution.

[2017-04-25 08:51] birdofpreyru opened #22 "CSS dublication in dev."
Most probably, this is not a problem in prod, as styles are optimized by CSS optimization/uglification plugin, which is not used in dev, though. Should be double-checked and enhanced.

[2017-04-26 04:10] maxceem commented on #22
There is one more possible side effect of this. DevTools in Chrome, Safari and probably other browsers work very slow. I suspect it's because css bundle file may became too big or just too many duplicate rules are being applied to the same elements, but I've not checked it.

[2017-04-29 14:00] #7 closed

[2017-04-29 14:01] birdofpreyru opened #23 "The react/wrap-multilines rule is deprecated. Please use the react/jsx-wrap-multilines rule instead."
This warning shows during `$ npm run lint:js`. Should be fixed.

[2017-04-29 14:02] birdofpreyru opened #24 "Warning: AsyncCreatableSelect: React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead. If you're not yet ready to migrate, create-react-class is available on npm as a drop-in replacement."
This warning is shown, for example, during unit testing (`npm run jest`). Code should be upgraded to avoid it.

[2017-04-29 14:04] birdofpreyru commented on #6
UPDATE: Unit test coverage was as high as 83% of branches, 93% of functions, 93% of lines and 93% of statements, but it droped low again after migration of challenge listing code into this repo.

[2017-05-03 18:42] birdofpreyru commented on #18
It turns out the fix for https://github.com/topcoder-platform/community-app/issues/17 also clears problems with HMR and `font-loader`. Thus solved.

[2017-05-03 18:42] #18 closed

[2017-05-04 07:33] birdofpreyru commented on #22
Fixed by 9f86874cbb1fcad70ef336aaa6eae1db24f54d30. The fix makes HMR of (S)CSS somewhat slower, but delivers a reasonable compromise between .css bundle size, performance of browser's developer tools, and HMR speed.

[2017-05-04 07:33] #22 closed

[2017-05-11 09:18] birdofpreyru opened #25 "Server-side rendering of the leaderboard"
It looks from the code that winner has supported server-side rendering of the page, but it does not work correctly, according to the warning in the browser console:
[code]
Probably it is related to how the mocked data are handled, and will be automatically resolved, once we move to real API for fetching leaderboard data.

[2017-05-11 09:20] birdofpreyru opened #26 "Leaderboard still uses mock backend API!"

[2017-05-11 12:53] birdofpreyru opened #27 "Minor problems with the leaderboard component"
it should not be used in Podium component.

[2017-05-15 14:43] #25 closed

[2017-05-15 14:45] birdofpreyru commented on #24
As of the commit 8c6c5b8b729c49a059c211dc9da5ca435c9ea4ba this issue is not present anymore

[2017-05-15 14:45] #24 closed

[2017-05-17 15:07] birdofpreyru opened #28 "Auth access control for Wipro community"
To be implemented

[2017-05-17 15:09] birdofpreyru opened #29 "Wipro Community - Does not work for prod"
From preliminary winning submission:

I believe, there should be a simple workaround.

[2017-05-17 15:11] birdofpreyru opened #30 "Wipro Community - Issues noted by reviewers"
1. > ./src/shared/containers/tc-communities/Header/index.jsx still contains references to 'tcCommunities.header'
From the challenge details page, this should be changed to 'tcCommunities.meta'
Should be properly updated in the following files as well :
  -- ./src/shared/reducers/leaderboard.js
  -- ./src/shared/reducers/tc-communities/header.js
2. > ChallengeListing : " For this challenge we want

[2017-05-17 15:14] birdofpreyru commented on #26
Has it been fixed in the Wipro Community challenge? - Should be double-checked!

[2017-05-17 21:51] birdofpreyru opened #31 "Regroupping of code related to challenge listings"
Now inside `/src/shared/components/` there is a bunch of components related to challenge listings, all in their own folders. We should move them to a dedicated sub-directory, e.g. `/src/shared/components/challenge-listing` just to enhance navigation around the source code.

[2017-05-17 23:20] #29 closed

[2017-05-18 00:02] birdofpreyru opened #32 "Footer in TC communities"
At the moment we re-use the standard Topcoder footer there, and it gets some problems with nav link colors:
![scr-18](https://cloud.githubusercontent.com/assets/20144632/26181121/0836de96-3b6e-11e7-82a2-8af089a84e47.png)

[2017-05-18 20:38] parthshah opened #33 "CI / CD deploy broken"
@birdofpreyru i dug around to figure out why deploys are failing, and builds are essentially timing out. Are there any dependencies that we dont currently need - react-draft-wysiwyg for eg. Mind removing those and giving it a try.

[2017-05-18 21:21] birdofpreyru commented on #33
@parthshah `react-draft-wysiwyg` was added to see whether we can use it as an editor for Topcoder Community landing/marketing pages, and there are few test components in the repo depending on it. It used to deploy successfully with this dependency, thus it should not be the root cause of the problem. Actually, between the last successfully deployed commit (71210d4c9054647d2cd9725ed9f8c158008c5992)

[2017-05-18 21:26] birdofpreyru commented on #33
So, I'd say, all dependencies are being used for something in the code. Sure, I can cut something out of the codebase, together with some sample staff (like that editor), but event if it help, it does not seems to be a good solution (basically, we'll run in the same problem as soon as we add a few more dependencies for another reason).

[2017-05-18 22:35] parthshah commented on #33
`react-draft-wysiwyg` actually failed to install for locally on more than one instance. But it seems to be passing now. I'm also working on a deploy mechanism, which I hope alleviates some of the problems. Will keep you posted.
fyi @mtwomey

[2017-05-19 09:54] birdofpreyru commented on #33
@parthshah I've cut out everything related to the editor, and, indeed, the App managed to deploy.

[2017-05-21 00:38] parthshah commented on #33
I fixed circle.yml to point to the correct deploy script. That should do it.

[2017-05-26 21:57] birdofpreyru opened #36 "Log out issue"
Now when `Log Out` is triggered via top nav menu (at the moment, we have two top nav menus in this repo: one for the main web-site, another for the TC Community mini-sites), it just redirects user to `https://www.topcoder-dev.com/logout`. This redirection does log out the user from Topcoder `accounts-app`, but it does not wipe out auth cookies associated with the `community-app` subdomain. It is n

[2017-05-26 22:43] #23 closed

[2017-05-27 17:46] #36 closed

[2017-05-30 18:04] ajefts opened #40 "Return url for login needs to be specific for the community"
Depending on the site you're hitting, the login needs to redirect the  user back to the appropriate site.  It should fallback to the default www.topcoder.com if we're not within a specific community site.

[2017-05-30 18:06] ajefts opened #41 "Community dropdown links"
Let's make these real links that go to the specific community sites:

![image](https://cloud.githubusercontent.com/assets/3812270/26597749/04c572a4-4541-11e7-95cd-1e9ed8098dd7.png)

We should probably have some kind of config for it.

[2017-05-30 18:08] #1 closed

[2017-05-30 18:08] #4 closed

[2017-05-30 18:08] #6 closed

[2017-05-30 18:08] #26 closed

[2017-05-30 18:08] #33 closed

[2017-05-31 13:23] birdofpreyru opened #43 "Challenge Listing - My Challenges are not being loaded"
My challenges are not actually loaded at the moment :(

[2017-05-31 23:01] birdofpreyru commented on #40
Fixed for the `Log In` button at the Access Denied Page of Wipro community. Pending to fix it for `Log In` buttons in header and any other places from where we can be redirected to `accounts-app` (though, these other cases are not that high priority at the moment).

[2017-05-31 23:02] birdofpreyru commented on #41
Fixed for Wipro community by hard-coding necessary redirect links into the code. Pending is a proper fix, with necessary URLs coming from the config.

[2017-06-01 21:12] ajefts opened #47 "Redirect to default homepage based on subdomain"
Depending on the subdomain/community, we should default to a specific landing page.  For example, wipro.topcoder.com should load wipro.topoder.com/community/wipro2/home

[2017-06-02 16:15] ajefts opened #49 "Add Topcoder favicon"
Add the topcoder favicon to the community app

[2017-06-04 16:31] birdofpreyru commented on #49
Done and works as of 848ce8767821c69e274885c3f6b42761a87fcb4a

[2017-06-04 16:31] #49 closed

[2017-06-04 16:32] birdofpreyru commented on #47
Done and works as of 848ce8767821c69e274885c3f6b42761a87fcb4a

[2017-06-04 16:32] #47 closed

[2017-06-04 16:32] #43 closed

[2017-06-04 16:33] #32 closed

[2017-06-04 16:33] #28 closed

[2017-06-04 16:34] #31 closed

[2017-06-05 14:31] ajefts opened #53 "Login button not showing in Safari"
I'm in Safari on a Mac.  When I load the wipro.topcoder.com site, I don't see the login button...

![image](https://cloud.githubusercontent.com/assets/3812270/26788064/03a8ccd4-49da-11e7-9d9a-91a04c0c5075.png)

[2017-06-05 15:17] birdofpreyru commented on #53
@ajefts Not sure how to help with this one. I don't have Mac, and the button is rendered fine in browsers I have in Ubuntu.

[2017-06-05 15:37] ajefts commented on #53
@birdofpreyru Can you put it out to the members?

btw...we can do a bug hunt/bash on community-app too if you think it will help.

[2017-06-05 17:50] birdofpreyru commented on #53
@ajefts Indeed :)

I believe, it is a bit too early for bug hunt/bash. At the moment most of the problems are with challenge listing, and they are there either because something is not yet properly connected with Redux, or because something is not yet supported by the backend.

[2017-06-05 18:09] ajefts commented on #53
ok.  Let's still post one-off fixes to the community as we need to.

On Mon, Jun 5, 2017 at 1:50 PM, birdofpreyru <notifications@github.com>
wrote:

[2017-06-05 18:15] ThomasKranitsas commented on #53
Hey @ajefts & @birdofpreyru! I just checked on MacOs/safari and works fine! The above screenshot is when you don't have access. Check the following screenshot:

![download](https://cloud.githubusercontent.com/assets/4612921/26796974/0d24f576-4a34-11e7-83a5-84d785d999e6.png)

[2017-06-05 18:17] birdofpreyru commented on #53
@ajefts Actually, it is not an OS specific bug.

The screen with `Log In` button, which reads `You must be authenticated to access this page` is rendered when you are not authenticated in the system.

If you are authenticated, but your user has no access granted, it shows `You are no authorized...` and no button there. Should we add something, like `Log Out` button, or any instructions how to ask

[2017-06-05 18:26] ajefts commented on #53
Ah!  Sorry guys.  My mistake.  You are correct.  This is fine as is.

[2017-06-05 18:34] ajefts commented on #40
@birdofpreyru I think we need to modify this now that we just use wipro.topcoder.com as the url for the site and not the full path for /community/wipro2/home...?

[2017-06-05 19:49] ajefts opened #54 "setup logentries.com"
Let's make sure we're setup to log to logentries.com

https://docs.logentries.com/v1.0/docs/nodejs

[2017-06-06 00:42] birdofpreyru commented on #54
@ajefts What do we want to log? All messages from client- and server-side, or just those from the server-side?

[2017-06-06 00:44] ajefts commented on #54
I was going to say server side, but with the architecture of this app is it possible to log both front and back end stuff?

If not, we have getsentry.com for front-end logging if we need it

[2017-06-06 00:54] birdofpreyru commented on #54
@ajefts Why do you prefer different services for the client- and server-side logging?

Yes, I can setup logging with logentries on both sides. They have libs both for node and for the browser. Also I can use just their nodejs library for server-side logging, and the log messages from the client side I can proxy through our server. Sure, these details will be hidden from the rest of the code, on bo

[2017-06-06 01:05] ajefts commented on #54
ok, cool.  I prefer just using 1 service, but I know Parth setup both logentries and getsentry, so I wasn't sure if we needed both in all cases.

[2017-06-06 01:09] birdofpreyru commented on #54
So, which one do you prefer? @parthshah

[2017-06-06 02:21] ajefts commented on #54
Logentries.

[2017-06-06 14:41] #54 closed

[2017-06-06 19:34] ajefts opened #57 "Create 2 new communities"
I'd like to add 2 new communities as follows:

1. Topcoder Product Development
  - This will be a community similar to Wipro.  It should be restricted to a group. It can have the same pages as well.

2. Demo Expert Community
  - This should be open to the public - no login required
  - Challenges will use a tech tag for filtering, as well as a group ID.  For example, we might want to show challeng

[2017-06-07 12:50] birdofpreyru commented on #57
@ajefts Done in 537be16594d80db0c302261731963b61bb567e97. There is another commit with small correction of authorization logic for the communities, which is still being built, as I am posting this.

Topcoder Product Development community is available at community-west.topcoder-dev.com/community/tc-prod-dev/home, and once you permit such sub-domain it will be accessible as tc-prod-dev.topcoder-dev.

[2017-06-07 14:18] ajefts opened #58 "[$100] - Add groups filter to challenge listing page"
On the challenges page, add a filter to allow the user to switch between the challenges that are in the current community (based on the group) or All challenges.  All challenges would be everything that is open (public) plus any challenges the user has access to via their groups.

We have some designs for this from challenges that chekspir ran.  We should use those designs.

[2017-06-07 15:12] birdofpreyru commented on #58
@ajefts In the design this filter is drawn as a dropdown list, which shows all communities, counts challenges for them, shows tooltips, etc.:
![screenshot](https://user-images.githubusercontent.com/20144632/26885776-dd72e150-4ba3-11e7-9f52-3b18039f08ae.png)
Implementing all this right now is doable, I guess, but will demands some efforts.

Do you want this, or just a simple switch for now, similar

[2017-06-07 15:20] ajefts commented on #58
Let's do a simpler version to start with.  Can we just do the current community you're in plus an option for All?  If possible, I think we should still keep it a dropdown so we can enhance it per the design later.  Don't worry about the different stats and states for registered, # chllenges, etc.

[2017-06-07 15:31] ajefts commented on #54
Failed to create challenge
Status code: 503
Response body:
[code]

[2017-06-07 15:31] ajefts commented on #54
Challenge created successfully
Challenge Url: https://www.topcoder.com/challenge-details/30057901/?type=develop&noncache=true

[2017-06-07 15:59] ajefts opened #60 "Create instructions for adding new community"
Create step by step instructions to add and configure a new community.

[2017-06-07 19:30] ajefts opened #61 "Make blog feed configurable"
Let's add a config so we can specify a blog feed url to use for Latest News posts.  We can use this as a sample feed:  www.topcoder.com/feed

![image](https://user-images.githubusercontent.com/3812270/26897242-ddca33aa-4b95-11e7-8282-a43d770595fa.png)

[2017-06-07 19:36] ajefts opened #62 "Integrate stats with real data"
These should be populated with real data from the api.  I think we might want to make this configurable too.  Let's chat about the api calls to determine each stat...

Challenges = Same as the All Challenges count on the /challenges page
Members = total # of people in the configured group
Prizes = sum of prizes for open challenges
Projects = we might drop this

![image](https://user-images.githubu

[2017-06-08 10:34] #30 closed

[2017-06-08 13:11] ajefts opened #63 "Submission Management UI adjustments"
Some feedback from DaraK...

1. There should be a little more space between the action buttons to limit the user from accidentally clicking the wrong action.

2. The preview image was a little too small, not sure we can see the difference on 2 different preview versions of design

![01 design - manage submissions](https://user-images.githubusercontent.com/3812270/26930124-4685b632-4c2a-11e7-95ba-f

[2017-06-08 13:59] #57 closed

[2017-06-08 14:00] #40 closed

[2017-06-08 21:38] #60 closed

[2017-06-08 21:38] #61 closed

[2017-06-08 21:38] #63 closed

[2017-06-13 20:49] ajefts opened #74 "Login and Register URL is hard coded"
It looks like the login and register links in the header for communities is hard coded to wipro.topcoder.com.  Can we make those always return to the page the user is on?

[2017-06-14 13:01] #62 closed

[2017-06-14 14:22] #74 closed

[2017-06-19 09:16] birdofpreyru opened #79 "LoadingIndicator gets incorrect image URL during server-side rendering"

[2017-06-20 19:47] ajefts opened #80 "Update leaderboard data mapping"
The api response for the leaderboard has been updated.  We need to update the app to support the new api response.

This is the latest:  https://api.topcoder.com/v4/looks/458/run/json/

[2017-06-20 19:47] ajefts commented on #80
@birdofpreyru I gave up.  It's all you :)

[2017-06-21 19:58] #79 closed

[2017-06-21 19:58] #80 closed

[2017-06-22 20:05] ajefts opened #82 "Add new community"
Please add another community.  For now, just call it community2.  The ID is 20000002.

Let's set it up to be private, like the wipro community. So, it should require login and auth to access the site.

[2017-06-22 20:05] ajefts commented on #82
@birdofpreyru Mind doing this one?

[2017-06-22 20:42] birdofpreyru commented on #82
@ajefts No problem, I'll add it tomorrow :)

[2017-06-23 09:26] birdofpreyru commented on #82
@ajefts Added: 84671f5581fea4fac8cc2b4b3e23abf24b84c904

[2017-06-26 16:14] birdofpreyru opened #85 "Dashboard: Issues noted by reviewers of the challenge - Bunch of doc comments missing"
getSRMs(params) {
    return this.private.api.get(`/srms/?${qs.stringify(params)}`)
    .then(res => (res.ok ? res.json() : new Error(res.statusText)))
    .then(res => (
      res.result.status === 200
      ? res.result.content
      : new Error(res.result.content)
    ));
  }

    return this.private.api.get(`/members/${userHandle}/srms/?${qs.stringify(params)}`)
    .then(res => (res.ok ? res.

[2017-06-26 16:16] birdofpreyru opened #86 "Dashboard: Issues noted by reviewers of the challenge - challenge loading"
In general, the logic of how challenge loading is handled should be double-checked. Especially, after a big update for challenge listing page is ready (most probably it will affect related functionality as well).

[2017-06-26 16:21] birdofpreyru opened #87 "Dashboard: Issues noted by reviewers - Various problems (yet unsorted)"
You are not using this flag~~

You are not using oldestData param at all~~ *Fixed*

There is no such configurable field~~

***Remaining issues were included into another dashboard challenge, and if there are still some problems, they should be logged another time in a fresher ticket with review feedbacks***

It's too close to the filter and there are empty space on the other side~~

[2017-06-29 12:31] birdofpreyru opened #88 "Dashboard: Auth redirect"
`/src/shared/containers/Dashboard/index.jsx` the URL inside `componentDidMount(..)` is hardcoded, while it should be generated based on the config, instead!

[2017-06-29 13:42] ajefts commented on #88
Failed to create challenge
Status code: 503
Response body:
[code]

[2017-07-03 19:54] ajefts opened #90 "Add another community"
Add another community.

1. name = taskforce
2. security = private, require login
3. challenge filtering = filter on the group
4. group_id = 20000003

[2017-07-03 21:25] #90 closed

[2017-07-03 21:44] birdofpreyru commented on #58
UPDATE: The groups filter is added, allowing to switch between all challenges / selected group the vistior has access to. Though, it is still not that beatifull, functional, as on the screenshot above (no registered/not registered status on communities, no tooltips, no challenge counts). Thus, we still keep this ticket open.

[2017-07-03 21:45] #82 closed

[2017-07-05 14:43] ajefts opened #92 "Past challenges on community sites issue"
When there are no past challenges to show on a community site, the page just seems to flicker (like the auto scroll keep attempting to load challenges).

I think the same thing happens when you get to the bottom of the auto scroll and there are no more challenges to load.

[2017-07-05 14:52] ajefts commented on #92
video of the issue

https://screencast-o-matic.com/watch/cbih27l2OT

[2017-07-06 10:16] sharathkumaranbu opened #93 "Incorrect display of Bonus for Code Challenges"
We don't have bonus for code challenges but the challenge listing page display bonus for code challenges as well when we hover on the prize money column.

See here

![image](https://user-images.githubusercontent.com/7723558/27906690-3b1071cc-6262-11e7-8045-bceda33f056b.png)

[2017-07-07 16:10] birdofpreyru commented on #93
@ajefts @skyhit I have checked it: it looks like, even we do not have reliability bonus for code challenges, backend still includes non-zero `reliabilityBonus` field into challenge objects it returns. Should be checked inside the backend.

[2017-07-10 11:30] JangoBrick opened #94 "[Windows-specific] Error on install: "Module parse failed" for font files"
The webpack build step during `npm install` takes a very long time (up to 20 minutes), requiring up to 4 GB of RAM, and then fails with hundreds of error messages similar to the following:

[code]

... and so on.

I've done some research and found out that errors like that usually stem from missing/misconfigured rules for font files, which makes no sense since:

1. Webpack is clearly configured to

[2017-07-10 11:45] birdofpreyru commented on #94
@JangoBrick Everything builds fine on Ubuntu, I guess it is either Windows-specific problem, or something is wrong with your Node setup. What if you try to change `publicPath` in `file-loader` options to empty string (`''`)?

[2017-07-10 12:39] JangoBrick commented on #94
@birdofpreyru Seems plausible, but does not appear to have changed anything.

You must be right about the problem being Windows-specific, it worked immediately on my Debian box (same Node/npm versions installed). I suppose I can set up a remote build system, so the issue is not as critical anymore, although it would still be nice to have it solved.

Thanks for your help though!

[2017-07-10 13:00] birdofpreyru commented on #94
@JangoBrick Well, I keep this issue ticket open in case you, or anybody else, figures out what should be corrected in the config to work on Windows :)

[2017-07-11 11:51] birdofpreyru opened #95 "Update to react-dates@12.2.4"
Right now we are using `react-dates@4.3.3` as a dependency. It is quite behind the current version, 12.2.4 and should be properly updated. Ensure that after update the component looks and works the same as before (at the moment it is used only in the filters panel of challenge listing pages).

[2017-07-12 21:55] birdofpreyru commented on #94
@JangoBrick I have located the problem. The rule for font loader (and some other rules) in the Webpack config uses `/src\/assets\/fonts/` regular expression. It does not match assumed paths on Windows, as it uses different path separators :( I believe, the OS-independent way to write such regular expressions is `/src[\\/]assets[\\/]fonts/`. I'll test and push the update (probably won't have time t

[2017-07-12 22:18] birdofpreyru commented on #94
Actually, I have pushed the update which is supposed to fix the Webpack build on Windows (edf205413a21360a6eca134af7d1250bb021bac0). Please tell whether it works for you, and feel free to suggest more changes to enhance the app compatibility with Windows (sure, they should not have any side-effects on Linux, which is anyway our primary target).

[2017-07-13 10:52] JangoBrick commented on #94
@birdofpreyru Thanks a lot, I would not have expected you to be actively looking for a solution exactly because this is focused primarily on Linux anyway. I have checked and can confirm that your solution works flawlessly, so thanks again!

Closing this as the issue is fixed.

[2017-07-13 10:52] #94 closed

[2017-07-15 02:33] ajefts opened #98 "Update content for taskforce community"
Please see details at https://www.topcoder.com/direct/contest/detail?projectId=30058378

[2017-07-15 02:34] ajefts commented on #98
@birdofpreyru If you can, hoping to get this done by end of Monday.

[2017-07-15 02:35] ajefts opened #99 "External links don't work"
We need to allow for external links from within the community sites.

Here are 2 examples:

https://github.com/topcoder-platform/community-app/blob/develop/src/server/tc-communities/wipro/metadata.json#L34

 https://github.com/topcoder-platform/community-app/blob/develop/src/shared/components/tc-communities/communities/wipro/Home/index.jsx#L55

[2017-07-15 09:53] birdofpreyru commented on #98
@ajefts Wierdly enough, even though I got an email saying you have shared with me a link to access the doc with specifications, when I click it, I get `You need permission` screen. Double-check, please.

Otherwise, sure, I'll get it ready in time.

[2017-07-15 23:33] birdofpreyru opened #100 "Dashboard: Double check router.get('/') in src/server/tc-communities/index.js"
It seems that in two different cases this endpoint returns responses with different shape. If it is so, it should be improved, to avoid any confusion in future.

[2017-07-15 23:43] birdofpreyru opened #101 "Community Stats: numMembers"
After Dashboard Improvement challenge reviewer noted:

stats: {
      numChallenges: filtered.length,
      numMembers: 0,
      openPrizes: `$${totalPrize.toLocaleString()}`,
    },
you just hard code numMembers as 0

Should be fixed (it used to work fine before the challenge :(

[2017-07-15 23:48] birdofpreyru opened #102 "Misc reviewer notes after the last Dashboard challenge"
My Communities tab
should not load all communities or 8 communities
see wiki
check the Sub community filter's dropdown - inside My Communities tab you should reuse the same logic, which is being used to populate this dropdown).
actually
http://local.topcoder-dev.com:3000/community-challenge-listing/JavaScript
will only show two communities
Demo Expert Community
Topcoder Product Development
But if

[2017-07-16 00:00] birdofpreyru opened #103 "keyword select requires $data option"
`keyword select requires $data option` string in console appeared after the last Dashboard challenge. Should be double-checked and eliminated.

UPDATE: It is actually a problem in `ajv`, which is being used by some of our dependencies.

[2017-07-16 00:05] #88 closed

[2017-07-16 01:43] ajefts commented on #98
@birdofpreyru I see you've commented in the doc so I assume you're ok now?

[2017-07-16 12:27] birdofpreyru commented on #98
Yes, Clinton has fixed my access rights.

[2017-07-16 12:55] birdofpreyru opened #104 "404 page is rendered without content in TC Communities"
When you visit an invalid endpoint inside some community, e.g. http://demo-expert.topcoder.com/404 a page is rendered with empty content. We should ensure, that a simple HTTP 404 Error message is shown. Note, that to see the problem, you should visit community using community-dedicated subdomain. If you access the same page as http://community-app.topcoder.com/community/demo-expert/fake-address yo

[2017-07-16 15:03] #99 closed

[2017-07-17 00:25] #98 closed

[2017-07-17 15:45] birdofpreyru opened #106 "Dashboard: Thumbnails in design challenge cards"
https://apps.topcoder.com/forums/?module=Thread&threadID=902686&start=0

There are most challenges are private without preview, but some have http://joxi.ru/brRqwjHQQYRnA1

This needs to be double-checked and implemented right.

[2017-07-17 15:55] #85 closed

[2017-07-17 15:55] #86 closed

[2017-07-17 15:55] #87 closed

[2017-07-18 12:42] birdofpreyru opened #107 "Switch and SwitchWithLabel components should use react-css-themr for styling"
The components in question are:
**Switch**: https://github.com/topcoder-platform/community-app/tree/develop/src/shared/components/Switch
**SwitchWithLabel**: https://github.com/topcoder-platform/community-app/tree/develop/src/shared/components/SwitchWithLabel

Both should be updated to properly use `react-css-themr` for their styling, and any code already using them should be also updated accordin

[2017-07-18 12:55] #100 closed

[2017-07-18 12:55] #101 closed

[2017-07-18 12:55] #102 closed

[2017-07-19 11:55] brijeshprasad89 commented on #95
@birdofpreyru I have made the change.. could you please provide me the access to push and create PR?

[2017-07-19 11:57] birdofpreyru commented on #95
@brijeshprasad89 As it is told in the specs of the corresponding F2F challenge, just submit your Git patch to the challenge, if you have resolved all requested tickets.

[2017-07-19 21:39] birdofpreyru opened #108 "Can we provide an option to enable source maps for compiled stylesheets in dev mode?"

[2017-07-20 11:24] birdofpreyru opened #109 "Icons in community stats"
`/src/shared/containers/tc-communities/CommunityStats.jsx` should be enhanced to allow to pass in as props all necessary styling (`react-css-themr`!) and icons to use for different stats. Probably, something else also should be done. The goal is to ensure that we can flexibly re-use it across all communities, that can demand custom styling and icons.

[2017-07-20 16:38] birdofpreyru opened #110 "Update of stock images in wipro community has affected images in some other communities :("

[2017-07-20 23:55] #16 closed

[2017-07-20 23:56] #95 closed

[2017-07-20 23:57] #104 closed

[2017-07-20 23:57] #107 closed

[2017-07-21 11:00] ajefts opened #112 "misc changes for topgear site"
1. Change the learn links that go to topgear.wipro.com to topgear-app.wipro.com
2. Remove the 3 bottom sections on the homepage.  Just comment them out for now since I think we'll add them back when we have better content.

![image](https://user-images.githubusercontent.com/3812270/28460810-c5fa41a2-6de1-11e7-9692-d9e4d4ff8df3.png)
3. On the challenges page, remove the latin text.
![image](https:/

[2017-07-21 11:03] ajefts commented on #112
added a 4th item

[2017-07-21 11:32] ajefts commented on #112
5.

![image](https://user-images.githubusercontent.com/3812270/28461913-d08d328c-6de6-11e7-9d71-f6e2db957220.png)

[2017-07-21 15:06] birdofpreyru opened #115 "openExternalLinkInNewPage prop in utils/router.jsx"
Now it only affects external links, which are rendered as `<a>` elements.
It makes more sense to ensure that if this prop is given, we enforce `<a>` element even for links within the app (so that the target page will be open in new tab, where the app will be started from zero).
Along with this change, it also makes sense to rename the prop accordingly.

[2017-07-24 20:56] birdofpreyru opened #123 "Dependencies for unit-testing"
Some of the dependencies added for unit-testing in a recent challenge are not that necessary, and can be (thus, should be) dropped in the favor of the standard jest tooling:
- `sinon` - it is used just in one test to spy on an object's method. I believe, the same can be achieved with Jest's mock functions;
- `mockdate`, `supertest`, `enzyme`, `redux-mock-store` - these are, probably, fine to leave

[2017-07-25 11:20] ajefts opened #124 "Add link on homepage to All challenges"
On the topgear homepage, add a link to the topgear challenges page with the All community filter on.

[2017-07-25 11:21] ajefts commented on #124
@birdofpreyru can you do this one today?  ANy ideas on a good place to incorporate a link that says something like "View All Public Challenges"?

[2017-07-25 11:37] birdofpreyru commented on #124
@ajefts Yeap, I can do it shorly.
Probaby right below the statistics block, in the center of the page?

[2017-07-25 12:13] birdofpreyru commented on #124
Or, might be better under the block with the pictures.

[2017-07-25 15:42] ajefts opened #125 "Logout link"
When logging out from a specific community, it should return the user to the homepage of that community.  Right now you go back to www.topcoder.com.

[2017-07-25 15:42] ajefts commented on #125
@birdofpreyru fyi

[2017-07-26 14:49] #109 closed

[2017-07-26 14:54] #112 closed

[2017-07-27 16:12] #124 closed

[2017-07-29 00:18] birdofpreyru opened #129 "jstimezonedetect dependency"
`jstimezonedetect` was introduced by a winner of some of the challenges to determine user timezone. Actually, `moment-timezone` (which is more useful package, related with `moment`) itself contains functionality to guess user timezone (`moment.tz.guess()`), thus we should get rid of `jstimezonedetect`

[2017-07-29 20:54] birdofpreyru opened #130 "Challenge listings are broken on very small screens"
It is not a bug introduced during the port to `community-app`, the original production challenge listing also breaks badly for the width < 320px.

[2017-07-29 21:51] birdofpreyru opened #131 "Submission Management Page is broken"
I believe, the changes in Redux store, introduced by the winner of new Challenge Details page challenge has broke it (either SMP container cannot load necessary data, or it cannot find it, thus an empty page is rendered).

[2017-07-31 00:18] #115 closed

[2017-07-31 13:33] birdofpreyru opened #132 "[$20] - Challenge Listings: Minor styling bugs at the XXS (<320px) sreen size"
![screenshot](https://user-images.githubusercontent.com/20144632/28779986-70106fd8-7605-11e7-96c2-7a8339ecea9b.png)

![screenshot](https://user-images.githubusercontent.com/20144632/28780019-94eb974c-7605-11e7-9952-f8c2ec6e9e39.png)

[2017-07-31 13:35] #130 closed

[2017-08-03 14:57] ajefts opened #135 "Formatting on topgear learn page"
@birdofpreyru Can you adjust the formatting on the topgear learn page to be the following:

![image](https://user-images.githubusercontent.com/3812270/28928177-93f3cec2-783a-11e7-83ba-370ab82f2515.png)

Thanks.

[2017-08-03 14:58] ajefts opened #136 "Open challenges in new tab"
Add a config option so that challenge details pages can open in a new tab for a given community site from the challenge listings page.

[2017-08-03 15:02] ajefts opened #137 "Configurable display options for prizes on challenge listings"
Add an option to display the prizes on the challenge listings differently for a given community.  These options will be extended, but let's start with:

1. Standard Prize (this is what we do today)
2. Hide (Don't show any prize)
3. Points (Show points instead of prizes. For now display the drPoints value from the API response)
4. Currency (we can do this separately, but we'll want an option to dis

[2017-08-03 16:01] ajefts commented on #125
Hold off on this since with the sso flow I don't think this makes sense...at least for sites that direct users straight to sso.

[2017-08-03 23:52] birdofpreyru opened #138 "Refactor ChallengeCard"
https://github.com/topcoder-platform/community-app/blob/develop/src/shared/components/challenge-listing/ChallengeCard/index.jsx

- Two react components are defined in the same module, without any good reason behind;
- One of them is implemented as a class, while it can be implemented as function (which is the preferred way for non-containers).

[2017-08-04 00:56] #135 closed

[2017-08-04 00:56] #136 closed

[2017-08-04 11:48] ajefts commented on #93
@skyhit Can you run an api fix for this one?

[2017-08-04 15:05] ajefts opened #140 "setup qa community"
Add another community:

name = QA
visibility = public, with the Join option for people to self join.
challenge filtering = filter on technology.  We'll add another tag for QA.
content = copy the tc-prod-dev for now.

[2017-08-04 15:05] ajefts commented on #140
fyi @birdofpreyru ...when you get a chance...

[2017-08-04 22:01] #137 closed

[2017-08-04 22:02] #131 closed

[2017-08-05 16:20] birdofpreyru commented on #140
@ajefts I have added it. For the moment it uses the same `groupId` as `tc-prod-dev` - it should be updated at some point. Also, filtering by `qa` tag, at the moment, also matches challenges with `qa` literals in title. It is easy to change to match only technology tags, but as we don't have `qa` tag yet, I have left it as it is for now, as the listing looks nicer with some challenges in it, and th

[2017-08-05 22:13] birdofpreyru opened #141 "SERVER-SIDE RENDERING"
After the recent update of `accounts-app`, if a visitor is authenticated, all auth tokens are properly passed to the server with each browser request. Now we should go through all code and pages and ensure that server-side rendering is properly implemented everywhere, to ensure the best possible user experience.

[2017-08-07 20:23] birdofpreyru opened #143 "Challenge Details Page: Reviewers notes to Specifications and Checkpoints challenge"
- ~~You should not show the sidebar for screen sizes < 768px (min tablet). (The issue is that you should render the sidebar below the content for screen sizes < 768px. Currently you render the sidebar below the content at 574px thus for screen sizes in range 574px - 768px the layout looks a bit weird. Check screenshot from iPhone 6 (landscape) http://take.ms/Jil9y)~~
- ~~[Sidebar] The email icon i

[2017-08-07 23:14] vic-topcoder opened #145 "Visual fixes"
*NOTE: If an issue marked as resolved below, it does not mean the fix is already in the repo, it just means it has been taken care of*

We need some small CSS tweaks on the challenge details page:

- [x] - page background should be #EBEBEB;
- [x] - page container doesn't have rounded corners;
- [x] - right column should be static width (245px), the same for the buttons;
- [x] - right column should

[2017-08-07 23:15] vic-topcoder commented on #145
@TonyJ - can you reference to the google drive if needed?

[2017-08-08 13:33] birdofpreyru opened #146 "Challenge Details: Issues noted by reviewers on Registrants, Winners, Submissions challenge"
- ~~[SUBMISSIONS] The checkmark icons are not vertically aligned and are blurred on retina screen (iMac not mobile). http://take.ms/11Liq~~ *Moved to a stand-alone ticket*

- ~~[SUBMISSIONS][MOBILE] The section title needs some padding-left and it would be great if the submission elements were centered. http://take.ms/3fSlz~~

- ~~[SUBMISSIONS][MOBILE] The space above the lock icon is too big. It

[2017-08-08 15:41] birdofpreyru opened #147 "Code-splitting should be set up"
It turns out that along with the growth of our codebase, even with all optimizations our compiled .css bundle approaches 3mb :( Also HMR is slower than it could be, as it has to de-dube css code (otherwise .css bundle is about 6mb, due to dublicated code, which blows up browser's dev tools :( This should be resolved.

[2017-08-08 16:03] birdofpreyru commented on #145
@vic-topcoder I have my copy of specs here: https://drive.google.com/open?id=0B3y3SEA9cIEkRWt2TVpXMDhQbTA

[2017-08-09 14:11] ajefts opened #149 "Show points on listing if they exist"
We added a simple way to show points on the challenge pages.  Let's add it to the listings now too.  Only display it if they exist (DR points On and has a value).

The label should just be "Points".

Should we add it to the hover, like we do for reliability bonus?

[2017-08-09 14:30] ajefts opened #150 "Add new community site"
Name: srmx
Security: require login and group

This one will only need the homepage and learn page.  We can drop the challenge and leaderboard.

[2017-08-09 15:08] #140 closed

[2017-08-09 15:51] birdofpreyru opened #151 "We are missing SVG icon for the lock on challenge details page"
.png icon is used as a temporary replacement at the moment.

[2017-08-09 16:05] #150 closed

[2017-08-09 16:06] birdofpreyru commented on #151
@vic-topcoder Can you drop me this icon as SVG (I believe, the smaller gray one, and the larger blue on on submissions tab, are the same icon)?

[2017-08-09 18:37] vic-topcoder commented on #151
[lock.svg.zip](https://github.com/topcoder-platform/community-app/files/1212496/lock.svg.zip)

[2017-08-09 18:37] vic-topcoder commented on #147
Oh wow! That's way too much CSS!

[2017-08-10 17:12] ajefts opened #154 "Add vets community"
Add another community:

name = veterans
group = 20000006
visibility = public, with the Join option for people to self join.
challenge filtering = group 20000006
content = copy the qa community for now.
pages = home, learn, challenges, leaderboard

[2017-08-10 17:13] ajefts commented on #154
fyi @dmessing

[2017-08-11 00:36] dmessing opened #155 "Fix links for reg and submissions"
Looks like it is for past challenges
<img width="840" alt="screen shot 2017-08-10 at 8 36 26 pm" src="https://user-images.githubusercontent.com/664840/29197703-9af17c98-7e0b-11e7-9184-67f18852c8e6.png">

See the url in the image
<img width="892" alt="screen shot 2017-08-10 at 8 35 02 pm" src="https://user-images.githubusercontent.com/664840/29197696-8be0ee00-7e0b-11e7-8cca-eb08a2367efb.png">

Agai

[2017-08-11 12:31] #155 closed

[2017-08-11 12:40] birdofpreyru commented on #154
@ajefts Group `20000006` is already used for `srmx` community. Is it fine?

[2017-08-11 12:44] dmessing opened #156 "Add FAQ"
Adding FAQ section / menu on Home page of Topgear.topcoder.com
2.       In FAQ section, you can add existing links for
a.       How to participate in challenge ( Text may need customization for Topgear community)
b.       Code submissions for a challenge
c.       Roles, responsibilities for reviewer and copilot

Please have a place holder for documents specific to TopGear.
We will provide those do

[2017-08-11 12:44] dmessing opened #157 "change button text on topgear home page"
The landing page has “START PROJECT “ button, please change caption to “INITIATE PROJECT”

[2017-08-11 12:45] dmessing opened #158 "move button on topgear"
On http://topgear.topcoder.com/learn page, place CONTINUE button immediately below the line “If you are accessing TopGear Learning Platform from Wipro backbone network, click on “CONTINUE” to access the platform.” For ease of access.

[2017-08-11 13:30] ajefts commented on #156
Maybe we can just add this section back and tweak the content:

[image: Inline image 1]

On Fri, Aug 11, 2017 at 8:44 AM, David Messinger <notifications@github.com>
wrote:

[2017-08-11 13:35] ajefts commented on #154
Sorry, make it 20000007

On Fri, Aug 11, 2017 at 8:40 AM, birdofpreyru <notifications@github.com>
wrote:

[2017-08-11 14:06] #154 closed

[2017-08-11 14:06] #158 closed

[2017-08-11 14:17] birdofpreyru commented on #156
@ajefts Cannot see the image

[2017-08-11 14:21] birdofpreyru commented on #156
@ajefts I guess, you mean `Learn The Basics` section at this page: http://local.topcoder-dev.com:3000/community/veterans/learn ?

[2017-08-11 14:41] #157 closed

[2017-08-11 14:42] birdofpreyru commented on #156
@dmessing A draft version is pushed to dev

[2017-08-11 15:11] #149 closed

[2017-08-16 14:09] birdofpreyru opened #159 "Challenge Details Page - Terms - Issues noted by reviewers and myself"
- http://local.topcoder.com/challenges/30057879
  It will not show  already agreed checkmarks/icon for completed/closed challenge
  *This is an API issue: no way to check whether a user has agreed to a term not related to an active challenge. Will address it eventually, when terms are moved to API v3. For now it is not a reason to keep the issue open.*

- ~~you could use different color/style for

[2017-08-17 16:50] birdofpreyru opened #160 "More staff to fix in Challenge Details page"
- ~~The way the content is toggled in the Checkpoints tab is "hacky". The same result could be achieved using SCSS.~~ *Split into a stand-alone ticket*
- ~~Links to challenge listing from tags in the header now reload the app. Their implementation should be corrected to properly move to the listing, with necessary filters activated, without reloading the app.~~
- ~~Specifications text should be in

[2017-08-18 12:12] #143 closed

[2017-08-18 14:55] birdofpreyru opened #161 "SVG for check-mark icon is missing"
![screenshot](https://user-images.githubusercontent.com/20144632/29464354-ea73e064-8435-11e7-972f-dbf60645d842.png)

@vic-topcoder drop it to me please!

[2017-08-18 15:46] birdofpreyru commented on #151
@vic-topcoder The one you attached here is different from what we have in the design:

![screenshot](https://user-images.githubusercontent.com/20144632/29466433-2d583ea0-843d-11e7-97e0-7f25bf96b822.png)

![screenshot-1](https://user-images.githubusercontent.com/20144632/29466439-2f895c36-843d-11e7-89ac-ebdb4e06420f.png)

[2017-08-18 15:47] #145 closed

[2017-08-21 16:24] birdofpreyru opened #162 "The way custom per-community styling of headers is done should be re-worked"

[2017-08-21 21:29] #147 closed

[2017-08-21 21:37] birdofpreyru opened #165 "Optimize CSS handling for code dynamically loaded code chunks"
Right now, when a component separated into a dynamically loadable code chunk is unmounted, the corresponding CSS is immediately unloaded from the browser. If a component relying on the same code chunk is created again, the JS code exectuted immediately (as it is cached by JS engine), while CSS loading takes a bit longer (even though CSS is loaded from local cache, it still requires a remote call t

[2017-08-21 21:59] birdofpreyru opened #166 "[$40] - Update TopcoderHeader and Challenge Listing to properly support links within the app"
At the moment, all links in the standard TopcoderHeader component lead to the main Topcoder website, thus they use `<a>`, which, if a link address is changed to an endpoint within Community App, reloads the app when clicked. These links should be updated to use `<Link>` from `utils/router` to seamlessly support both remote or local URLs.

The same applies to the links to the Challenge Detail pages

[2017-08-22 12:01] #156 closed

[2017-08-22 15:20] ajefts opened #167 "move topgear faq to separate page"
Can we setup another page called FAQ in topgear and move the FAQ that is currently on the homepage to the new page?

We can use the same banner image that we have on the Learn page.

FAQ should be added to the top nav.

[2017-08-22 20:38] ajefts opened #168 "topgear continue button - new window"
The continue button on the learn page should open in a new window.

[2017-08-22 22:31] #167 closed

[2017-08-22 22:31] #168 closed

[2017-08-23 14:04] birdofpreyru opened #169 "Challenge Details - Submissions - Alignment of the checkmark icons"
The checkmark icons are not vertically aligned and are blurred on retina screen (iMac not mobile). http://take.ms/11Liq

To properly fix this one, we need to get SVG version of the icon first (#161).

[2017-08-23 14:05] #146 closed

[2017-08-23 14:14] birdofpreyru opened #170 "[$120] - Challenge Details - Checkpoints - Refactor the code"
The code in `/src/shared/components/challenge-detail/Checkpoints/index.jsx` does work, but is hacky, thus should be refactored. The fix should address the following:

- Right now the component uses local state, window resize event, and some hacky code to "trim" the content when page size goes under 768 px. The same should be achieved by pure SCSS (using media mixins defined in `/src/styles/mixins/

[2017-08-23 14:15] #160 closed

[2017-08-23 14:16] #165 closed

[2017-08-24 13:07] sdgun opened #172 "[$10] - 'Next Deadline' timer is not working"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user

- Go to /challenges/30058529

- Click 'View All Deadlines'

- Check the Next Deadline: -

Actual Result(s)
-----------------------------------------------------------------
-  0d 0:0h

Expected Result(s)
-----------------------------------------------------------------
- M

[2017-08-24 13:11] sdgun opened #173 "User Handles are not displayed in rated colors"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user

- Go to /challenges/30058973

- Click 'REGISTRANTS (22)' tab

- Check the user handles

Actual Result(s)
-----------------------------------------------------------------
- User Handles are not displayed in rated colors

Expected Result(s)
---------------------------------

[2017-08-24 13:12] daft300punk commented on #170
Please assign me this.

[2017-08-24 13:14] twicoder opened #174 "[$20] - [Bug Hunt - NEW BUG]Cannot read property 'on' of undefined and resource missing"
<img width="1658" alt="2017-08-24 9 11 27" src="https://user-images.githubusercontent.com/3046795/29667977-1a24eada-8911-11e7-8542-13a6901ca765.png">

[2017-08-24 13:14] sdgun opened #175 "[$20] - Submit and Register disable button color is not correct"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user

- Go to /challenges/30058529

- Check the Submit and Register disable buttons

Actual Result(s)
-----------------------------------------------------------------
- Button color is BLUE

Expected Result(s)
-----------------------------------------------------------------
-

[2017-08-24 13:15] sdgun commented on #173
![2](https://user-images.githubusercontent.com/4592712/29668030-530822aa-88fc-11e7-82d4-796dcecbb6af.jpg)

[2017-08-24 13:15] sdgun commented on #175
![3](https://user-images.githubusercontent.com/4592712/29668023-4f752d36-88fc-11e7-8513-d870aea38c66.jpg)

[2017-08-24 13:15] Colinh84 commented on #166
Can you assign me to this issue please?

[2017-08-24 13:19] elfman commented on #132
can you assign me this?

[2017-08-24 13:21] sdgun commented on #175
![3 0](https://user-images.githubusercontent.com/4592712/29668289-40857bfe-88fd-11e7-8c87-d7328cd03f7a.jpg)

[2017-08-24 13:23] birdofpreyru commented on #170
@daft300punk Consider yourself assigned. I have just noticed that I don't have enough rights in the repo to add contributors, and without it, I cannot technically assign people who are not contributors. Once my rights corrected, I'll fix it.

[2017-08-24 13:24] twicoder opened #176 "[$30] - [Bug Hunt - NEW BUG]Web page flash when no items choosen"
1) Unselect all types of contests (design, develepment, data science)
2) It's expected to see no item, but we see many empty items
3) And the web page is flash again and again after several seconds
<img width="1643" alt="2017-08-24 9 19 17" src="https://user-images.githubusercontent.com/3046795/29668372-85030ffc-8912-11e7-9541-38b29a05da66.png">

[2017-08-24 13:24] birdofpreyru commented on #132
@elfman Consider yourself assigned. I have just noticed that I don't have enough rights in the repo to add contributors, and without it, I cannot technically assign people who are not contributors. Once my rights corrected, I'll fix it.

[2017-08-24 13:32] sdgun opened #177 "CHALLENGE LISTING page stucks when user selects any item from the filter"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL http://community-app.topcoder.com/challenges

- Login as a valid user

- Click Filters

- Expand the keyword drop down and select any item

- Observe the page and try to clear the filter, try to click on any item on the page

Actual Result(s)
--------------------------------------------------------

[2017-08-24 13:32] sdgun commented on #177
![4](https://user-images.githubusercontent.com/4592712/29668708-c60d35b8-88fe-11e7-8929-e6312a4db617.jpg)

[2017-08-24 13:35] twicoder opened #178 "[Bug Hunt - NEW BUG]Past challenges is empty and still occupy lots of page space"
<img width="1658" alt="2017-08-24 9 28 27" src="https://user-images.githubusercontent.com/3046795/29668591-605be574-8913-11e7-966e-fa22f79ead9b.png">

[2017-08-24 13:39] twicoder opened #179 "[$10] - [Bug Hunt - NEW BUG]Search contest with keyword " ", no item show"
I think "       " should be works like ""
<img width="1651" alt="2017-08-24 9 38 03" src="https://user-images.githubusercontent.com/3046795/29668983-90ec5d1c-8914-11e7-8d06-f800f0ad71d4.png">

[2017-08-24 13:40] sdgun opened #180 "[$20] - 'My challenges' section won't hide from the page when user deactivated from the filter section if user have only Dev Challenges"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL http://community-app.topcoder.com/challenges

- Login as a valid user

- Register for few Dev challenges

- Switch OFF the 'Development' and 'Data Science'

- Observe the section

Actual Result(s)
-----------------------------------------------------------------
- 'My challenges' section won't hide

[2017-08-24 13:41] sdgun commented on #180
![5](https://user-images.githubusercontent.com/4592712/29669106-037fde7c-8900-11e7-932f-56b134e95152.jpg)

[2017-08-24 13:42] Kvm87 opened #181 "[$20] - Round 1 submission date entries in round 2 column"
Steps to Reproduce
1. Login to go for http://community-app.topcoder.com/challenges?
2. Go to http://community-app.topcoder.com/challenges/30058719/?type=design
3. Select option Registrants
4. Observe column for Round1 and Round2 submissions

Screenshots
![image](https://user-images.githubusercontent.com/20595047/29669109-051b23c2-8900-11e7-907b-1da920a1f87d.png)

Expected Result:
Entries should be

[2017-08-24 13:43] sdgun opened #182 "[$10] - 'Wireframe' challenges won't have heading in the tool tip"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL http://community-app.topcoder.com/challenges

- Login as a valid user

- Switch OFF the 'Development' and 'Data Science'

- Hover over tge 'Wf' icon in a Wireframe

Actual Result(s)
-----------------------------------------------------------------
- 'Wireframe' challenges won't have heading in the

[2017-08-24 13:43] sdgun commented on #182
![6](https://user-images.githubusercontent.com/4592712/29669221-588253fa-8900-11e7-85ce-2e57e80c8c56.jpg)

[2017-08-24 13:48] sdgun opened #183 "Clicking on the Check Point ID #241486 won't expand the section"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL http://community-app.topcoder.com/challenges

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058648/?type=design

- Click 'CHECKPOINTS (7)'

- Click on the #241486

Actual Result(s)
-----------------------------------------------------------------
- Clicking on the

[2017-08-24 13:48] sdgun commented on #183
![7](https://user-images.githubusercontent.com/4592712/29669427-04f18264-8901-11e7-991e-0d729b4efa2c.jpg)

[2017-08-24 13:49] Kvm87 opened #184 "[$10] - No need of vertical parting line for last element as per design guideline"
Steps to Reproduce
1. Login to open for http://community-app.topcoder.com/challenges/30058719/?type=design
2. Click to 'View All Deadline'
3. Observe the last vertical line given after 'Winner' time details.

Screenshots :
![image](https://user-images.githubusercontent.com/20595047/29669412-01670c7c-8901-11e7-8cf9-a9746c5cef14.png)

Expected Result:
No need of vertical parting line at last as per

[2017-08-24 13:50] twicoder opened #185 "[$20] - [Bug Hunt - NEW BUG]No 'Access-Control-Allow-Origin' header is present on the requested resource"
Seach some items and see the console
<img width="1652" alt="2017-08-24 9 43 18" src="https://user-images.githubusercontent.com/3046795/29669208-45c43188-8915-11e7-985c-dbe23e166a23.png">

[2017-08-24 13:50] sdgun opened #186 "Non price winning items are also marked in green arrow icon in REGISTRANTS tab"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL http://community-app.topcoder.com/challenges

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058662/?type=design

- Click REGISTRANTS tab

- Check the winning items

Actual Result(s)
-----------------------------------------------------------------
- Non price winni

[2017-08-24 13:52] sdgun commented on #186
![8](https://user-images.githubusercontent.com/4592712/29669574-8f1e8ce8-8901-11e7-8621-65a3ba096562.jpg)

[2017-08-24 13:53] twicoder opened #187 "[$40] - [Bug Hunt - NEW BUG]n.subtracks.join is not a function Challenge-list.js:11"
1) Try to open page:
http://community-app.topcoder.com/challenges?filter[tags][0]=Java&filter[subtracks][0]=Architecture&filter[subtracks][1]=Banners/Icons&filter[subtracks][2]=Conceptualization&filter[subtracks][3]=Design&filter[subtracks][4]=First2Finish&filter[subtracks][5]=Logo%20Design&filter[subtracks][6]=RIA%20Build%20Competition&filter[subtracks][7]=Test%20Suites&filter[subtracks][8]=Wiref

[2017-08-24 13:54] sdgun opened #188 "Green arrow icon displayed in front of the winning items are not aligned properly in REGISTRANTS tab"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL http://community-app.topcoder.com/challenges

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058662/?type=design

- Click REGISTRANTS tab

- Check the green arrow icon

Actual Result(s)
-----------------------------------------------------------------
- Green arrow

[2017-08-24 13:58] Kvm87 opened #189 "[$10] - 'BUG HUNT' challenge tag has blank info on hovering a mouse over it."
Steps to Reproduce
1. Login to open http://community-app.topcoder.com/challenges?
2. Hover a mouse over a 'BH' tag for any bug hunt challenge.

Screenshots :
![image](https://user-images.githubusercontent.com/20595047/29669820-4dbe15ec-8902-11e7-8b05-e8042f4041ac.png)

Expected Result: The black comment window on mouse hovering should show details likewise in other challenge types.

Current Result

[2017-08-24 13:59] sdgun commented on #188
![8](https://user-images.githubusercontent.com/4592712/29669871-7baf619a-8902-11e7-82b4-8e4ef1c4a80f.jpg)

[2017-08-24 13:59] twicoder opened #190 "[$30] - [Bug Hunt - NEW BUG]Unexpected URL is not handled properly"
1) try to open url: http://community-app.topcoder.com/challenges/*
2) Page body is not shown
<img width="1639" alt="2017-08-24 9 59 01" src="https://user-images.githubusercontent.com/3046795/29669897-87dbeb54-8917-11e7-8332-38b8e5c81433.png">

[2017-08-24 14:00] sdgun opened #191 "[$30] - 'Forum' link is not displayed in Design Challenges"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL http://community-app.topcoder.com/challenges

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058662/?type=design

- Register for the Challenge

- Check the tabs

Actual Result(s)
-----------------------------------------------------------------
- 'Forum' link is not

[2017-08-24 14:01] sdgun commented on #191
![9](https://user-images.githubusercontent.com/4592712/29669946-bd13149c-8902-11e7-9050-2c403f752744.jpg)

[2017-08-24 14:03] twicoder opened #192 "[Bug Hunt - NEW BUG]504 Gateway Time-out"
1) Try to open URL: http://community-app.topcoder.com/challenges/10000090909090909090909090909
2) Long time no response
<img width="1066" alt="2017-08-24 10 02 41" src="https://user-images.githubusercontent.com/3046795/29670032-fb440914-8917-11e7-86f8-29e7464b5a96.png">

[2017-08-24 14:05] sdgun opened #193 "[$40] - 'Next Deadline: Submission' must change to 'Next Deadline: Checkpoint Submission' in Design Challenges"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL http://community-app.topcoder.com/challenges

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058900/?type=design

- Register for the Challenge

- Click 'View All Deadlines'

- Check the 'Next Deadline'

Actual Result(s)
----------------------------------------------

[2017-08-24 14:05] sdgun commented on #193
![10](https://user-images.githubusercontent.com/4592712/29670141-68488b94-8903-11e7-9bac-27ead7aa8e94.jpg)

[2017-08-24 14:07] sdgun opened #194 "[$30] - Search overlap with the filter section"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL http://community-app.topcoder.com/challenges

- Login as a valid user

- Hover over the search icon

Actual Result(s)
-----------------------------------------------------------------
- Search overlap with the filter section and opens below the filter controllers

Expected Result(s)
---------------

[2017-08-24 14:07] twicoder opened #195 "[Bug Hunt - NEW BUG]TypeError: n.tags.join is not a function"
1) Try to open http://community-app.topcoder.com/challenges?filter[tags][-1]=HelloWorldXXXXXXX
2) see error in console and web page will not show contest items
![2017-08-24 10 07 26](https://user-images.githubusercontent.com/3046795/29670227-a46d0248-8918-11e7-8873-ace39b16a54d.png)

[2017-08-24 14:07] sdgun commented on #194
![11](https://user-images.githubusercontent.com/4592712/29670249-b7131140-8903-11e7-96f1-6027e0b3722c.jpg)

[2017-08-24 14:12] twicoder opened #196 "[$20] - [Bug Hunt - NEW BUG] Filter with duplicate name"
1) Click save filter, but click it many times and fast, you will see duplicate items
<img width="643" alt="2017-08-24 10 09 27" src="https://user-images.githubusercontent.com/3046795/29670396-1a2d2e5e-8919-11e7-8bd6-841a4a72a996.png">

[2017-08-24 14:16] sdgun opened #197 "Page won't load in IE11 sometimes"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

Actual Result(s)
-----------------------------------------------------------------
- Page won't load in IE11 sometimes

Expected Result(s)
-----------------------------------------------------------------
- Must load the challenge page

[2017-08-24 14:16] sdgun commented on #197
![12](https://user-images.githubusercontent.com/4592712/29670661-f6a2b62a-8904-11e7-970a-88c91bd0e537.jpg)

[2017-08-24 14:18] twicoder opened #198 "[$30] - [Bug Hunt - NEW BUG]Filter list hide page footer"
1) When user create many filters, the filer list will be too long to display

<img width="969" alt="2017-08-24 10 11 35" src="https://user-images.githubusercontent.com/3046795/29670683-fe6e9b02-8919-11e7-81d8-91a40de7ab56.png">

[2017-08-24 14:18] Kvm87 opened #199 "Repetitive tags of 'Node.js' in subheading of challenge details"
Steps to Reproduce
1. Login to open http://community-app.topcoder.com/challenges/30058983/?type=develop
2. Observe tags under challenge heading title.

Screenshots :
![image](https://user-images.githubusercontent.com/20595047/29670696-19ccd5ae-8905-11e7-9087-51d8b98424b1.png)

Expected Result: Only single tag for each unique type is expected.

Current Result: Double tags for 'Node.js' type challen

[2017-08-24 14:20] sdgun opened #200 "[$60] - Underscore displayed in the 'First 2_finish' and 'Ui Prototype_competition' tags"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058991/?type=develop

- Check the tag > First 2_finish

- Go to http://community-app.topcoder.com/challenges/30058932/?type=develop

- Check the tag > Ui Prototype_competition

Actual Result(s)
----------------------------------------

[2017-08-24 14:21] sdgun commented on #200
![13](https://user-images.githubusercontent.com/4592712/29670844-95c03b1a-8905-11e7-8e79-a3d2e99a1518.jpg)

[2017-08-24 14:22] twicoder opened #201 "[Bug Hunt - NEW BUG]Filter page and Search page overlapped"
Steps:
1) Open URL: http://community-app.topcoder.com/challenges/?filter[tags][0]=HTML5
2) Open Filter
3) Move mouse to search option on upper right corner
<img width="1642" alt="2017-08-24 10 20 30" src="https://user-images.githubusercontent.com/3046795/29670916-bb8bf856-891a-11e7-81e9-95f95125d4af.png">

[2017-08-24 14:27] twicoder opened #202 "[$40] - [Bug Hunt - NEW BUG]TypeError: Cannot read property 'contains' of null"
1) Open contest page: http://community-app.topcoder.com/challenges/
2) Open Filter
3) Click on "Start Date" of "Date range"
4) Click other place but not the pop up date picker
5) The web console shows error:
challenge-listing.js:11 Uncaught TypeError: Cannot read property 'contains' of null
<img width="1256" alt="2017-08-24 10 27 13" src="https://user-images.githubusercontent.com/3046795/29671182-

[2017-08-24 14:31] sdgun opened #203 "[$40] - [Common] All the pages and tabs in the challenge details pages are not optimized for mobile view"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058880/?type=design

- Check the page layout

Actual Result(s)
-----------------------------------------------------------------
- All the pages and tabs in the challenge details pages are not optimized for mobile view

Expected Resul

[2017-08-24 14:33] sdgun commented on #203
Expected:

![14 2](https://user-images.githubusercontent.com/4592712/29671456-396c9a50-8907-11e7-9b69-cffd9eb8e336.jpg)

[2017-08-24 14:33] Kvm87 opened #204 "'Challenge forum' option is absent for past challenges."
Steps to Reproduce
1. Login to open http://community-app.topcoder.com/challenges/30058702/?type=design
2. Try to find 'Challenge Forum' option.

Screenshots :

Expected Result: Challenge Forum access and option should be there as per design spec.

Current Result:Challenge forum option absent.

Browser : Chrome Version 59.0.3071.115 (Official Build) (64-bit)
OS : Windows 8.1

[2017-08-24 14:34] Kvm87 commented on #204
![image](https://user-images.githubusercontent.com/20595047/29671498-58790c94-8907-11e7-8da0-a199ece860fa.png)

[2017-08-24 14:34] twicoder opened #205 "[$20] - [Bug Hunt - NEW BUG]Blank filters are shown in edit page but can't see in normal page"
1) Create several filters and then edit them, rename their names to blank, and click "done"
2) You will not see the blank name filters but if you edit them, they will back
3) Maybe should forbid blank filter name
<img width="639" alt="2017-08-24 10 31 13" src="https://user-images.githubusercontent.com/3046795/29671519-58e5511e-891c-11e7-8abd-3affe79e5e82.png">

[2017-08-24 14:42] sdgun opened #206 "[$80] - [Common for Design and Dev challenges] Winner tab is not selected when user click on +X users from 'Past challenges'"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- Scroll down to Past challenges

- Click on +2 in 'RUX - 72H Banking User Interface Design Challenge'

- Observe the opened page and URL: http://community-app.topcoder.com/challenges/30058868/?type=design#winner

Actual Result(s)
----

[2017-08-24 14:43] karthikbecse opened #207 "[$40] - register button enabled for winner annonced challenge"
Steps to Reproduce

  Goto http://community-app.topcoder.com/challenges/30058908/?type=develop
  Click  winner link
  Observe  Next Deadline:  and register button

Actual Result(s)
Next Deadline:  staus is register and register button  enabled

Expected Result(s)
Should show the status properly

Environment

    Device(s): Laptop
    Operating System: Windows 8.1  64bit
    Browser(s): FF 54.0.1

[2017-08-24 14:43] karthikbecse opened #208 "[$50] - SUBMISSIONS link not working"
Steps to Reproduce

  Goto http://community-app.topcoder.com/challenges/30058908/?type=develop
 click SUBMISSIONS link

Actual Result(s)
nothing happen

Expected Result(s)
Should show submissions page

Environment

    Device(s): Laptop
    Operating System: Windows 8.1  64bit
    Browser(s): FF 54.0.1

Image/Video/JS Log/Console Log
![screenshot-community-app topcoder com 2017-08-24 20-01-19](htt

[2017-08-24 14:47] sdgun opened #209 "Footer overlap with the About • Contact • Help • Privacy links"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- Scroll down the page to the bottom and check the About • Contact • Help • Privacy links

Actual Result(s)
-----------------------------------------------------------------
- Footer overlap with the About • Contact • Help • Privacy li

[2017-08-24 14:48] sdgun commented on #209
![17](https://user-images.githubusercontent.com/4592712/29672259-55e45130-8909-11e7-87c1-8785e925c6f5.jpg)

[2017-08-24 14:52] sdgun opened #210 "[$20] - [Common] Page won't focus on top once the user clicked the 'view more challenges' link in each sections"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- Click 'view more challenges' link in 'Open for registration'

- Click 'Ongoing challenges' link in 'Open for registration'

- Click 'Open for review' link in 'Open for registration'

- Observe the page position

Actual Result(s)
----

[2017-08-24 14:52] sdgun commented on #210
![17](https://user-images.githubusercontent.com/4592712/29672488-02a5230e-890a-11e7-87a0-9ce5aa9ebe58.jpg)

[2017-08-24 14:57] sdgun opened #211 "[$10] - [Common] Must display the $ sign in front of the 'RELIABILITY BONUS' price"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058888/?type=develop

- Check the > RELIABILITY BONUS: 220

Actual Result(s)
-----------------------------------------------------------------
- No $ sign displayed in front of the 'RELIABILITY BONUS' price

Expected Result(s)
-------

[2017-08-24 14:59] twicoder opened #212 "[$30] - [Bug Hunt - NEW BUG]Can't handle invalid date properly"
1) Open URL
http://community-app.topcoder.com/challenges/?filter[text]=&filter[endDate]=99999999999-09-01T04:00:00.000Z
2) The date is invalid, but it should be handled properly

[2017-08-24 15:00] sdgun commented on #211
![18](https://user-images.githubusercontent.com/4592712/29672748-be47b82e-890a-11e7-89db-60a089fde1cc.jpg)

[2017-08-24 15:00] sdgun opened #213 "[Common] 'RELIABILITY BONUS' price displayed for Design challenges also"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges?

- Hover over the 'Purse' in a design challenge

Actual Result(s)
-----------------------------------------------------------------
- 'RELIABILITY BONUS' price displayed for Design challenges also

Expected Result(s)
------------------

[2017-08-24 15:00] sdgun commented on #213
![19](https://user-images.githubusercontent.com/4592712/29672873-17037fe8-890b-11e7-88d0-2afc15df3cc8.jpg)

[2017-08-24 15:02] Kvm87 opened #214 "'Checkpoint Submission' Should be reflected as next deadline wherever applicable"
Steps to Reproduce
1. Login to open http://community-app.topcoder.com/challenges/30058925/?type=design
2. Click to view all deadline and observe the date of 'Checkpoint Submission' and what is written before 'Next Deadline'
3. Now click on 'Register' to register into challenge.
4. Observe 'Next Deadline'.
Screenshots :
![image](https://user-images.githubusercontent.com/20595047/29672756-c39eaa8a-8

[2017-08-24 15:02] sdgun opened #215 "[Common] Can't search the full challenge name in search (eg: Cloud Banking UI Prototype Challenge)"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- Enter 'Cloud Banking UI Prototype Challenge' in search

- Press Enter

Actual Result(s)
-----------------------------------------------------------------
- [Common] Can't search the full challenge name in search (eg: Cloud Banking UI

[2017-08-24 15:03] sdgun commented on #215
![20](https://user-images.githubusercontent.com/4592712/29672984-752a01be-890b-11e7-9b5f-6d3b273fdc00.jpg)

[2017-08-24 15:05] sdgun opened #216 "[$30] - [Common] Empty filter can be saved"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- Click Filter

- Click Save Filter

- Observe the 'MY FILTERS' section

Actual Result(s)
-----------------------------------------------------------------
- Empty filter can be saved

Expected Result(s)
-------------------------------

[2017-08-24 15:05] sdgun commented on #216
![21](https://user-images.githubusercontent.com/4592712/29673087-c3c08f46-890b-11e7-805f-926f95c0a223.jpg)

[2017-08-24 15:08] sdgun opened #217 "[$10] - [Common] Types first letter in to the 'Keywords' and 'Subtrack' are partially visible"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- Click Filter

- Enter w in 'Keywords'

- Enter a in 'Subtrack'

Actual Result(s)
-----------------------------------------------------------------
- Types first letter in to the 'Keywords' and 'Subtrack' are partially visible

Expect

[2017-08-24 15:08] sdgun commented on #217
![22 1](https://user-images.githubusercontent.com/4592712/29673237-3c908fde-890c-11e7-9715-c1a6a5a5ed65.jpg)
![22](https://user-images.githubusercontent.com/4592712/29673238-3cbebc06-890c-11e7-924e-0ceddb088f51.jpg)

[2017-08-24 15:12] karthikbecse opened #218 "REGISTRANTS link not working"
Steps to Reproduce

  Goto http://community-app.topcoder.com/challenges/30058472/?type=develop
 click REGISTRANTS (75) link

Actual Result(s)
nothing happen

Expected Result(s)
Should show REGISTRANTS  page

Environment

    Device(s): Laptop
    Operating System: Windows 8.1  64bit
    Browser(s): FF 54.0.1

Image/Video/JS Log/Console Log

![screenshot-community-app topcoder com 2017-08-24 20-39-

[2017-08-24 15:12] karthikbecse opened #219 "View All Deadlines button not working"
Steps to Reproduce

  Goto http://community-app.topcoder.com/challenges/30058472/?type=develop
 click REGISTRANTS (75) link
 Now click View All Deadlines button

Actual Result(s)
nothing happen

Expected Result(s)
Should show View All Deadlines box

Environment

    Device(s): Laptop
    Operating System: Windows 8.1  64bit
    Browser(s): FF 54.0.1

Image/Video/JS Log/Console Log
![screenshot-com

[2017-08-24 15:16] sdgun opened #220 "[$20] - Challenge details page hyperlink (Hover, normal, visited) colors are wrong"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058990/?type=develop

- Check the hyperlinks

Actual Result(s)
-----------------------------------------------------------------
- Challenge details page hyperlink (Hover, normal, visited) colors are wrong

Expected Result(s)
--------

[2017-08-24 15:17] sdgun commented on #220
![23](https://user-images.githubusercontent.com/4592712/29673616-6873273c-890d-11e7-8aee-307ae0eb10fa.jpg)

![23 1](https://user-images.githubusercontent.com/4592712/29673634-756e2e14-890d-11e7-8028-5bb7eb893e70.jpg)

[2017-08-24 15:20] Kvm87 opened #221 "[$80] - 'TCO18' Tag in subheading of challenge details not consistent with design spec."
Steps to Reproduce
1. Login to open http://community-app.topcoder.com/challenges/30058868/?type=design#winner
2. Observe 'TCO18' tag under heading title of the challenge
3. Also open http://community-app.topcoder.com/challenges/30058970/?type=develop
4. Observe 'TCO18' Tag at same location for this development challenge.
5. Also check 'Header' styleguide in design spec.

Screenshots :
![image](htt

[2017-08-24 15:24] sdgun opened #222 "[$20] - Clicking on tags will go to All challenges page"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058990/?type=develop

- Click C++

Actual Result(s)
-----------------------------------------------------------------
- Clicking on tags will go to All challenges page

Expected Result(s)
----------------------------------------------

[2017-08-24 15:24] sdgun commented on #222
![24](https://user-images.githubusercontent.com/4592712/29673984-79a7b90e-890e-11e7-8a5c-54bca586f198.jpg)

[2017-08-24 15:29] sdgun opened #223 "[$60] - Menu stays forever when user move the mouse down over COMPETE/LEARN/COMMUNITY"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058991/?type=develop

- Click Filter and apply any filter

- While filtering move the mouse down over COMPETE/LEARN/COMMUNITY and quickly scroll the page down

- Now scroll up you can see menu is activated and click on any empty locat

[2017-08-24 15:35] karthikbecse opened #224 "Bug hunt tool tip not loading"
Steps to Reproduce

  Goto http://community-app.topcoder.com/challenges?
  Move the cursor on bug hunt icon
  observe

Actual Result(s)
blank tool tip shown

Expected Result(s)
Should show tool tip  properly

Environment

    Device(s): Laptop
    Operating System: Windows 8.1  64bit
    Browser(s): FF 54.0.1

Image/Video/JS Log/Console Log
![dfgdf](https://user-images.githubusercontent.com/322543

[2017-08-24 15:38] sdgun opened #225 "Wrong input to the search field stuck at the middle of searching"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- Enter 'Hercules C#' as search term

- Press Enter

- No items displayed

Actual Result(s)
-----------------------------------------------------------------
- Wrong input to the search field stuck at the middle of searching
- http://c

[2017-08-24 15:40] Kvm87 opened #226 "Unregistered challenge stays in 'My challenges' category"
Steps to Reproduce
1. Login to open http://community-app.topcoder.com/challenges?
2. Go for challenge details of any challenge which is not registered by you yet.In this example, go to  http://community-app.topcoder.com/challenges/30058925/?type=design
3. Register into the challenge
4. Go back to 'My Challenges' list to see it included.
5. Again click on challenge to go to details.
6. Now, unregis

[2017-08-24 15:42] sdgun commented on #225
https://www.screencast.com/t/dCGbpsJZRGD

[2017-08-24 15:45] sdgun opened #227 "Registered Design challenges won't display in My Challenges section"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058925/?type=design

- Register for it

- Go to http://community-app.topcoder.com/challenges?

- Check the My Challenges section

Actual Result(s)
-----------------------------------------------------------------
- Registered Design c

[2017-08-24 15:48] sdgun commented on #227
![27](https://user-images.githubusercontent.com/4592712/29675100-c2129e4a-8911-11e7-8558-299a370ee224.jpg)

[2017-08-24 15:54] sdgun opened #228 "If user is in the 'Checkpoints' tab can't open the 'Winners' tab"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058214/?type=design

- Click 'Checkpoints' tab

- Click 'Winners' tab

Actual Result(s)
-----------------------------------------------------------------
- If user is in the 'Checkpoints' tab can't open the 'Winners' tab

Expected Res

[2017-08-24 15:54] sdgun commented on #228
![28](https://user-images.githubusercontent.com/4592712/29675377-9c5d875e-8912-11e7-92fc-acb6659f24b8.jpg)

[2017-08-24 16:14] sdgun commented on #226
https://www.screencast.com/t/4AzjVTkWw

[2017-08-24 16:49] daft300punk commented on #170
Check out the PR - https://github.com/topcoder-platform/community-app/pull/229

[2017-08-24 21:40] birdofpreyru commented on #172
Bug accepted, 1 point.

### Expected Fix
It looks to me that timer does work right when the challenge is active (please double-check in the code), though it shows 00:00 till the next deadline, when the challenge is over. Let's change it for completed challenges to show instead of `Next deadline: ... | Xd XX:XXh until current deadline ends` the text `The challenge is finished`. We still should be a

[2017-08-24 21:44] birdofpreyru commented on #173
Does not look like a bug for me, as the raiting colors are not used in the current version of this page either.
Though, for this I rely on the final decision of @vic-topcoder: if he says, we should use rating colors for handles here, I'll accept this and open it for fix.

[2017-08-24 21:51] birdofpreyru commented on #174
In principle, this does not look like a bug in Community App for me.
First one is caused by a 3-rd party analytics script added to `renderer.jsx` by Tony, and the resources, I believe, are requested from the backend according to the data returned from APIs. However, I'll rely on the final judgement by Tony, on whether it is a bug, and what we should do with it.

[2017-08-24 21:52] birdofpreyru commented on #174
@ajefts

[2017-08-24 21:55] birdofpreyru commented on #175
I accept it (1 point), as it is indeed different from design specs.
Though, @vic-topcoder wanna double check with you, should we make it gray or leave pale blue? Originally, it was done pale blue, because we took track-dependent color accents too seriously, so design / dev / datasci pages had these buttons blue / green / orange when active, and pale versions of these colors when disabled.

[2017-08-24 22:00] birdofpreyru commented on #176
Accepted, 3 points.
### Expected Fix
Indeed, at the moment the frontend code does not know that such (or, probably, some others as well) combination of filters cannot satisfy any challenge in principle. So, the frontend just keeps trying to find past challenges matching these fitlers. We need some elegant solution to avoid it.

[2017-08-24 22:06] birdofpreyru commented on #177
@sdgun Does not stack for me. I mean, with many combinations of filters, it keeps on showing placeholders instead of past challenges, just because it keeps on looking for such challenges (and due to backend restrictions we cannot do it in a better way), but if I press on any other element of the page, it is responsive: it immediately stop looking for past challenges, and does whatever I ask for. T

[2017-08-24 22:09] birdofpreyru commented on #178
Not a bug. In such situation it does not mean it is empty. It means, it have not found matching past challenges, but it keeps on looking, hence the placeholders (due to api restrictions, it cannot be done in a better way right now). It also dublicates #176 - once that one is fixed, you won't see this.

[2017-08-24 22:11] ordinaryname commented on #176
Can you assign me to this issue please?

[2017-08-24 22:14] birdofpreyru commented on #179
Accepted, 1 point.

### Expected Fix
When we do the free-text search we should trim the search string of whitespace-like characters, before doing the actual search (it works fine with a single whitespace now, as any challenge title usually has some single spaces).

[2017-08-24 22:16] birdofpreyru commented on #180
Accepted, 3 points.

[2017-08-24 22:19] birdofpreyru commented on #181
Accepted, 1 point.

[2017-08-24 22:20] birdofpreyru commented on #182
Accepted, 1 point

[2017-08-24 22:21] birdofpreyru commented on #183
Accepted, 3 points

[2017-08-24 22:22] birdofpreyru commented on #183
I believe, it might be fixed as a part of #170 fix, thus not opening it for Bug Bash so far.

[2017-08-24 22:24] birdofpreyru commented on #184
Accepted, 1 point

[2017-08-24 22:26] birdofpreyru commented on #176
@ordinaryname Added you to collaborators. Can you check, whether READ access is enough to self-assign?

[2017-08-24 22:28] ordinaryname commented on #176
I cannot self-assign

[2017-08-24 22:28] birdofpreyru commented on #185
In principle, this are from some 3-rd party scripts, not related to Community App. I'll rely on @ajefts judgement on what are these, and whether we should do something about these.

[2017-08-24 22:32] birdofpreyru commented on #186
I believe, it is not a bug: checkmarks show that submission has passed the checkpoint, and it is not directly related with winning money in the end. Though, I'll rely on the final say of @vic-topcoder about what is the meaning of checkmarks here.

[2017-08-24 22:35] birdofpreyru commented on #187
Accepted, 5 points.
I am not sure, whether this is a valid URL or not, from point of view of proper filters logic, but we surely should not allow a user to break the app by supplying incorrect query params in URL. So, it is necessary to check, what is the issue, and fix it properly.

[2017-08-24 22:36] birdofpreyru commented on #176
@ordinaryname and now?

[2017-08-24 22:39] birdofpreyru commented on #188
Well, this one was already noted before the bug hunt, sorry (#169)

[2017-08-24 22:40] #188 closed

[2017-08-24 22:41] birdofpreyru commented on #189
Accepted, 1 point

[2017-08-24 22:44] birdofpreyru commented on #190
Accepted, 3 points.

### Expected Fix
The routing should be corrected, to ensure that when a non-digital challenge ID is supplied in such route, it renders 404 Error page.

[2017-08-24 22:47] birdofpreyru commented on #191
Accepted, 3 points.
### Note
The challenge referenced by *sdgun* is already finished, and it is fine that you don't see forum link if you are not registered, however, I have checked with an open desing challenge, registered to it, and I see not link nor immediately, nor when I reload the page. This should be fixed.

[2017-08-24 22:49] birdofpreyru commented on #192
I'll accept it with 1 point, though it is kind of dublicate of #190

[2017-08-24 22:50] birdofpreyru commented on #190
Please also take into account #192 which is also caused by incorrect challenge ID used in URL. That should also render 404 error page.

[2017-08-24 22:52] birdofpreyru commented on #193
Accepted, 3 points.
The logic behind text in the `Next Deadline` section should be double-checked and fixed for design challenges.

[2017-08-24 22:54] birdofpreyru commented on #194
Accepted, 3 points.
The search component should expand on the top level, over any other element of the page.

[2017-08-24 22:56] birdofpreyru commented on #195
Looks like kind of dublicate of #187, but as it is a bit different, I'll accept with 1 point

[2017-08-24 22:57] birdofpreyru commented on #187
Pay attention to #195 - should be also fixed as a part of this

[2017-08-24 22:58] birdofpreyru commented on #196
Accepted, 3 points
Yeah, we should ensure such corner case is handled properly.

[2017-08-24 23:00] birdofpreyru commented on #197
Should try it myself on IE11 and think a bit about the possible reason.

[2017-08-24 23:02] birdofpreyru commented on #198
Accepted, 3 point.
Yeah, ideally, the height of the main part of the page, should be always expanded large enough to fit the filters.

[2017-08-24 23:07] birdofpreyru commented on #199
Not quite related to Community App, but a good catch, I'll accept it with 3 points.

@ajefts I believe, the reason here is that one of them comes from `platforms` data, and other one from `technologies`. Can we update such labels in the backend to ensure that if the same, like `NodeJS` can be listed in both places, it is listed as exactly the same word (then we can add frontend code to avoid such

[2017-08-24 23:09] birdofpreyru commented on #200
Accepted, 3 points.
### Expected Fix
I believe, since the original implementation of the page, the backend has been updated to return consistent names of subtracks, it should be double-checked, and updated in the frontend accordingly.

[2017-08-24 23:10] birdofpreyru commented on #201
Dublicate of #194

[2017-08-24 23:10] #201 closed

[2017-08-24 23:13] birdofpreyru commented on #202
Accepted, 3 points.
### Note
It looks to me, like this does not cause any visible problems for our app, and probably it is caused by an error in 3-rd party code, though, it would be great, if we can fix it to avoid any errors in such case.

[2017-08-24 23:16] birdofpreyru commented on #203
@sdgun Can you be more specific? For me it looks, like they behave quite correct in mobile view, and are matching the design.

[2017-08-24 23:19] birdofpreyru commented on #204
Does not look like a bug to me. We only show forum links for users who had participated in a challenge. I've checked, and I see the link for past challenges I have participated in. It might be not visible for past design challenges, but that would be a dublicate of #191

[2017-08-24 23:19] #204 closed

[2017-08-24 23:21] birdofpreyru commented on #205
Accepted, 3 points.
Indeed, we should not allow to save blank filter names.

[2017-08-24 23:21] sdgun commented on #203
@birdofpreyru Below are the actual screens. All  the elements in the contest detail page is scrambled
- Register, Submit, View buttons are too close to the right border
- Content is not readable and half of them re hidden
- etc ..

![img_3683](https://user-images.githubusercontent.com/4592712/29693024-e24c2372-8950-11e7-98a0-78d9c60cfe38.PNG)
![img_3680](https://user-images.githubusercontent.com/4

[2017-08-24 23:28] sdgun opened #230 "[$20] - Start and End Date filtering will give wrong results"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges?

- Click 'Filters'

- Set 'Date range' as Aug 01, 2017 - Aug 21, 2017

- Check the 'Predix - Integration with Alexa Voice Service' in Open for registration

- Start Aug 24, 2017 - Sept 7, 2017

Actual Result(s)
------------------------

[2017-08-24 23:28] sdgun commented on #230
![29](https://user-images.githubusercontent.com/4592712/29693242-0e7b602e-8952-11e7-9183-bdb83dec9f0b.jpg)

[2017-08-24 23:31] birdofpreyru commented on #206
Accepted, 5 points.
### Note
In general, tabs on the challenge details page are not deep-linkable. We should make them deep-linkable in a neat way. Take, as an example, how it is done to implement deep-linkable filters:
1. If you go to the page printing URL in the browser's URL field, then you do it via server-side rendering (the related Redux reducer's factory checks hash in the HTTP request obje

[2017-08-24 23:34] birdofpreyru commented on #208
Accepted, 5 points

[2017-08-24 23:35] sdgun commented on #223
![2017-08-25_5-05-05](https://user-images.githubusercontent.com/4592712/29693412-0d619dba-8953-11e7-97f3-194d6fbab677.jpg)

[2017-08-24 23:36] birdofpreyru commented on #209
Under the hoold it dublicates the issue #198

[2017-08-24 23:36] birdofpreyru commented on #198
Pay attention to #209 as well

[2017-08-24 23:39] birdofpreyru commented on #210
Accepted, 3 points.
Indeed, when the buckets are switched in the sidebar, we should scroll to the top of the page.

[2017-08-24 23:39] birdofpreyru commented on #211
Accepted, 1 point

[2017-08-24 23:41] birdofpreyru commented on #212
Accepted, 3 points.
Indeed, we should validate that dates suggested in URL query are proper, otherwise, ignore them and remove corresponding element of the query.

[2017-08-24 23:43] sdgun opened #231 "Different cd (code) icon displayed when user filter from Dev challenges only"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges?

- Switch ON 'Development'from 'Filters'

- Click 'Past challenges'

- Check the 'Commodity OCR Bakeoff'

Actual Result(s)
-----------------------------------------------------------------
- Different cd (code) icon displayed when user

[2017-08-24 23:43] sdgun commented on #231
![30](https://user-images.githubusercontent.com/4592712/29693575-1e9546a8-8954-11e7-83cd-d3754f06124d.jpg)

[2017-08-24 23:44] birdofpreyru commented on #213
It is dublicate of #93, it is backend problem: frontend just shows bonus when a challenge data object contains it. The other question is, why backend includes bonuses into challenges that are not supposed to have them. @ajefts, @skyhit  any news on this?

[2017-08-24 23:45] birdofpreyru commented on #214
Dublicate of #193

[2017-08-24 23:46] birdofpreyru commented on #193
Pay attention to #214 as well

[2017-08-24 23:49] birdofpreyru commented on #215
I'll accept it with 1 point, cause functionally it looks like dublicate of #179: you have prepended the title with whitespace. If I remove that whitespace, I can find the challenge by its full name.

[2017-08-24 23:49] #215 closed

[2017-08-24 23:50] birdofpreyru commented on #216
Accepted, 3 points

[2017-08-24 23:50] sdgun opened #232 "Invalid file downloaded when user download the submission"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058817/?type=develop (Must be a F2F and user needs to participate and uploaded a submission)

- Click Winners tab

- Click 'Download'

Actual Result(s)
-----------------------------------------------------------------
- Invalid file d

[2017-08-24 23:51] sdgun commented on #232
![31](https://user-images.githubusercontent.com/4592712/29693785-2c88a72c-8955-11e7-8d4c-34f587d557f0.jpg)

[2017-08-24 23:51] birdofpreyru commented on #217
Accepted, 1 point

[2017-08-24 23:52] birdofpreyru commented on #218
Accepted, 3 poitns, under the hood is related to #208, I believe

[2017-08-24 23:53] birdofpreyru commented on #208
Please pay attention to #218, it looks related, and should be fixed as a part of this one as well

[2017-08-24 23:54] sdgun opened #233 "[$20] - If the submission phase is over must disable the 'Update Submission' button"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058817/?type=develop (Must be a F2F and user needs to participate and uploaded a submission)

- Click 'View Submissions'

- Click 'Update Submission'

Actual Result(s)
-----------------------------------------------------------------

[2017-08-24 23:54] birdofpreyru commented on #219
Hmm... works for me. Can you double check / submit further details?

[2017-08-24 23:56] birdofpreyru commented on #220
Accepted, 1 point

[2017-08-24 23:57] sdgun opened #234 "[$30] - 'Download' button is not working"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058817/?type=develop (Must be a F2F and user needs to participate and uploaded a submission)

- Click 'View Submissions'

- Click 'Download'

Actual Result(s)
-----------------------------------------------------------------
- 'Downlo

[2017-08-24 23:57] sdgun commented on #234
![33](https://user-images.githubusercontent.com/4592712/29693927-0e371c4e-8956-11e7-909d-38ae4b4c164f.jpg)

[2017-08-24 23:57] sdgun commented on #233
![32](https://user-images.githubusercontent.com/4592712/29693893-da872e98-8955-11e7-9975-341f4b1346d4.jpg)

[2017-08-24 23:57] elfman commented on #132
@birdofpreyru what is the min screen size this page should compatible with?

[2017-08-25 00:00] birdofpreyru commented on #221
Accepted, 1 point

### Expected Fix
I would like to make the fix in a fancy way: check the new implementation for buttons, themed using `react-css-themr` in `/src/shared/components/buttons`. These tags are, basically, button-like links with different styling, so we should just add additional themes to style that standard button component as tags, and ensure that proper theme is taken from `ThemePr

[2017-08-25 00:03] sdgun opened #235 "[$30] - 'Submit' button is not working"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058925/?type=design

- Register for the challenge

- Click 'Submit'

Actual Result(s)
-----------------------------------------------------------------
- Error displayed : You are either not registered for this challenge, or it is not

[2017-08-25 00:04] birdofpreyru commented on #222
Accepted, 3 points.
### Note
Actually, it works fine now: the tags redirect to challenge listing with proper tag filters activated. Though, we need to ensure that URL is properly updated on such transition (i.e. the filter is added there)

[2017-08-25 00:06] sdgun opened #236 "[$20] - Blank page displayed when user press browser back button to go back from 'Submit' error page"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058925/?type=design

- Register for the challenge

- Click 'Submit'

- Click Browser back button and observe

Actual Result(s)
-----------------------------------------------------------------
- Blank page displayed when user press br

[2017-08-25 00:06] sdgun commented on #236
![36](https://user-images.githubusercontent.com/4592712/29694105-4b319376-8957-11e7-9931-c6597b80ebc4.jpg)

[2017-08-25 00:07] birdofpreyru commented on #223
@sdgun Not sure about this one. When I click on empty space, then move mouse out of the menu, it still collapses. Do you mean, that we should close the menu immediately if we click on its empty part (dark gray zone)? It does not look that obvious to me. @vic-topcoder ?

[2017-08-25 00:08] birdofpreyru commented on #224
Dublicates #189

[2017-08-25 00:08] #224 closed

[2017-08-25 00:09] sdgun commented on #235
![35](https://user-images.githubusercontent.com/4592712/29694057-ec2e611a-8956-11e7-881c-6ead751311b4.jpg)

[2017-08-25 00:11] birdofpreyru commented on #225
Not a bug. It does not stuck, it just keeps on searching in past challenges, but cannot find any. Due to backend restrictions , we can't do it more efficient, we just have to keep on fetching challenges in 50 challenge portions, and check whether they match the search on the frontend side.

[2017-08-25 00:16] birdofpreyru commented on #226
I believe, it does not belong to Community App, and it is a backend problem, that when we register / unregister, the results are not immediately syncronized with ElasticSearch which returns data for rendering the challenge listing. @ajefts can you check / confirm it?

[2017-08-25 00:17] birdofpreyru commented on #227
Similar to #227

[2017-08-25 00:18] sdgun opened #237 "Submissions won't display in the Challeneg listing page"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges?filter[tracks][design]=true

- Check the submissions in "Synergy - Campus Recruitment Web Application Design Challenge." = 0

- Click on the Challenge > http://community-app.topcoder.com/challenges/30058925/?type=design

- Click 'REGIST

[2017-08-25 00:19] sdgun commented on #237
![37 2](https://user-images.githubusercontent.com/4592712/29694347-1d229212-8959-11e7-9c0b-7a95619c5e1b.jpg)
![37 1](https://user-images.githubusercontent.com/4592712/29694348-1d493110-8959-11e7-93c8-d82a6799b139.jpg)

[2017-08-25 00:19] birdofpreyru commented on #228
Accepted, 3 points. Probably, related to #208

[2017-08-25 00:20] karthikbecse commented on #219
@birdofpreyru  steps updated kindly recheck

[2017-08-25 00:20] birdofpreyru commented on #208
Also check #228. Should address that one as well.

[2017-08-25 00:23] birdofpreyru commented on #132
@elfman 0px :-D
Well, we are fine if staff just does not fit into the screen cause there is not enough space. But, in the screenshots above, my problem is that `Tracks` and `Filters` loose background and hover over other elements, rather than just occupy additional row. And in the filters panel, everythings just is not aligned properly to occupy available width.

[2017-08-25 00:36] sdgun opened #238 "[$10] - Empty Tool tip displayed for Logo Design Challenge"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges?filter[tracks][design]=true&filter[subtracks][0]=Logo%20Design&bucket=past

- Hover over the Lg icon

Actual Result(s)
-----------------------------------------------------------------
- Empty Tool tip displayed for Logo Design Challeng

[2017-08-25 00:36] sdgun commented on #238
![38](https://user-images.githubusercontent.com/4592712/29694662-8da43200-895b-11e7-81e9-b6616f75b00a.jpg)

[2017-08-25 00:41] sdgun opened #239 "[Common for All] Clicking on registrants icon won't go to the correct URL"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges?filter[tracks][design]=true&filter[subtracks][0]=Logo%20Design&bucket=past

- Click on Registrants icon

Actual Result(s)
-----------------------------------------------------------------
- URL is https://www.topcoder.com/challenge-deta

[2017-08-25 00:43] sdgun opened #240 "[Common for All] Clicking on Submission icon won't go to the correct URL"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges?filter[tracks][design]=true&filter[subtracks][0]=Logo%20Design&bucket=past

- From the list click on Submissions icon

Actual Result(s)
-----------------------------------------------------------------
- page redirects to https://www.to

[2017-08-25 00:50] sdgun commented on #239
https://www.screencast.com/t/SJ4HcxPW

[2017-08-25 00:52] sdgun commented on #240
https://www.screencast.com/t/jLl3rh60a

[2017-08-25 00:56] sdgun opened #242 "[$20] - N/A is not displayed for empty checkpoint responses"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30052058/?type=design

- Expand a checkpoint

- Go to https://www.topcoder.com/challenge-details/30052058/?type=design#checkpoints

- Expand a checkpoint

Actual Result(s)
----------------------------------------------------------------

[2017-08-25 00:56] sdgun commented on #242
![39](https://user-images.githubusercontent.com/4592712/29695103-610b381c-895e-11e7-9168-d0bf8c3ad830.jpg)

[2017-08-25 00:59] iversonLv commented on #184
can not assign myself like git lab ?

[2017-08-25 01:00] sdgun opened #243 "[$30] - 4 places displayed in the new challenge details page but 3 in old page"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30052058/?type=design

- Check the Prices > 4th $50

- Go to https://www.topcoder.com/challenge-details/30052058/?type=design#checkpoints

- Check the Prices > 4th None

Actual Result(s)
-------------------------------------------------

[2017-08-25 01:01] sdgun commented on #243
![40 2](https://user-images.githubusercontent.com/4592712/29695192-f88617de-895e-11e7-8ade-7a2c94c964e1.jpg)
![40 1](https://user-images.githubusercontent.com/4592712/29695193-f8883be0-895e-11e7-94fa-6e2d7f9a9837.jpg)

[2017-08-25 01:02] sdgun opened #244 "Can't select the winner tab"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30052058/?type=design

- Click 'Winner' tab

Actual Result(s)
-----------------------------------------------------------------
- Can't select the winner tab

Expected Result(s)
----------------------------------------------------------

[2017-08-25 01:02] sdgun commented on #244
![41](https://user-images.githubusercontent.com/4592712/29695226-2c7346ac-895f-11e7-8aea-43afad0cc0ad.jpg)

[2017-08-25 01:16] chqy24 commented on #200
Assign to myself
and please grant me permission to change the label, thanks

[2017-08-25 01:22] karthikbecse opened #245 "[$30] - green mark missing"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058577/?type=design

- check CHALLENGE TERMS section

Actual Result(s)
-----------------------------------------------------------------
  green mark not visiable

Expected Result(s)
---------------------------------------------------

[2017-08-25 01:34] elfman commented on #132
I have raised a pr, but I can't change the issue's label

[2017-08-25 01:39] chqy24 commented on #200
Ready to review, PR #247

[2017-08-25 01:39] elfman commented on #179
@birdofpreyru can you assign me to this bug?

[2017-08-25 01:41] chqy24 commented on #208
Assign to my self.

[2017-08-25 01:44] karthikbecse opened #248 "result text printed instead of user profile picture"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges?filter[tags][0]=Other

- check past challenge (TCO India Regionals 2017 Development Challenge) winner column

Actual Result(s)
-----------------------------------------------------------------
results text shown

Expected Result(s)
----

[2017-08-25 01:53] karthikbecse opened #249 "Past challenge count missing"
Steps to Reproduce
-----------------------------------------------------------------

- Go to http://community-app.topcoder.com/challenges

- Scroll down to past challenge

- check Past CHALLENGE count

Actual Result(s)
-----------------------------------------------------------------
Past challenge count missing

Expected Result(s)
-----------------------------------------------------------------

[2017-08-25 02:08] iversonLv commented on #184
I can't not git push, says permission to topcoder-platform/community-app.git denied to iversonLv
....
Could you give me permission? Need assign myself in the future and git push permission.

Thanks.

[2017-08-25 02:08] karthikbecse opened #251 "[$10] - tool tip profile image layout broken"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges?filter[tags][0]=Other

- Scroll down to  past challenge

- move mouse over TeckedIn - Simpler Content Management Platform Nodejs Backend Implementation Challenge  2nd place winner

- Observe

Actual Result(s)
---------------------------

[2017-08-25 02:17] sdgun opened #252 "'RELIABILITY BONUS' displayed in a design challenge price section"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30057469/?type=design

- Check the Price section

Actual Result(s)
-----------------------------------------------------------------
- 'RELIABILITY BONUS' displayed in a design challenge price section

Expected Result(s)
---------------

[2017-08-25 02:18] sdgun commented on #252
![42](https://user-images.githubusercontent.com/4592712/29696951-c55a732c-8969-11e7-955e-46e03ec7ee50.jpg)

[2017-08-25 02:20] sdgun opened #253 "[$10] - After the text 'RELIABILITY BONUS' Below spacing is not enough"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30057469/?type=design

- Check the spacing below the 'RELIABILITY BONUS' text

Actual Result(s)
-----------------------------------------------------------------
- After the text 'RELIABILITY BONUS' Below spacing is not enough

Expected

[2017-08-25 02:20] sdgun commented on #253
![43](https://user-images.githubusercontent.com/4592712/29697004-1f2da43c-896a-11e7-8a64-0537f0f2192c.jpg)
![43 2](https://user-images.githubusercontent.com/4592712/29697005-1f2daaae-896a-11e7-96d5-9cfbf651ecc0.jpg)

[2017-08-25 02:22] sdgun opened #254 "[$20] - Winners 5-8 are missing in the 'Winners' tab"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30057469/?type=design

- Click on the 'Winners' tab

- Check the winner handles

Actual Result(s)
-----------------------------------------------------------------
- Winners 5-8 are missing in the 'Winners' tab

Expected Result(s)
-----

[2017-08-25 02:22] sdgun commented on #254
![44](https://user-images.githubusercontent.com/4592712/29697049-632d119a-896a-11e7-9698-bbd5b15758d9.jpg)

[2017-08-25 02:23] chqy24 commented on #208
ready for review, PR #255

[2017-08-25 02:24] iversonLv commented on #194
I have finish issue #184 but I can't not git push.
Can I keep on this ticket?
Thanks.

[2017-08-25 02:26] sdgun opened #256 "Participants actual profile images are not displayed in the 'Winners' tab"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30057469/?type=design

- Click on the 'Winners' tab

- Check the winner profile images

Actual Result(s)
-----------------------------------------------------------------
- Participants actual profile images are not displayed in the 'Wi

[2017-08-25 02:28] sdgun opened #257 "[$40] - Can't download the submissions from 'Winners' tab instead code displayed"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30057469/?type=design

- Click on the 'Winners' tab

- Click Download from 'johan_92'

Actual Result(s)
-----------------------------------------------------------------
- Can't download the submissions from 'Winners' tab instead code d

[2017-08-25 02:28] sdgun commented on #257
![46](https://user-images.githubusercontent.com/4592712/29697181-2d172982-896b-11e7-8fde-9e7e511b2a22.jpg)

[2017-08-25 02:29] iversonLv commented on #194
I have finish this ticket, please assign and give me permission to git push.

thanks.

[2017-08-25 02:31] sdgun commented on #256
![45](https://user-images.githubusercontent.com/4592712/29697174-2391857e-896b-11e7-8ed1-ead9e38de6fd.jpg)

[2017-08-25 02:32] iversonLv commented on #194
![image](https://user-images.githubusercontent.com/4952611/29697247-a094fc3a-8980-11e7-8f0d-2ef2629be409.png)

[2017-08-25 02:32] sdgun opened #258 "[$10] - Profile URL have extra part '/design' in 'Submission' tab"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30057469/?type=design

- Click on the 'Submission' tab

- Click 'chamdi' from the submissions

Actual Result(s)
-----------------------------------------------------------------
- Profile URL have extra part '/design' in 'Submission' ta

[2017-08-25 02:32] sdgun commented on #258
![47](https://user-images.githubusercontent.com/4592712/29697280-cc21ae94-896b-11e7-8969-8477949fee76.jpg)

[2017-08-25 02:33] iversonLv commented on #184
![image](https://user-images.githubusercontent.com/4952611/29697288-c6a41b4a-8980-11e7-9fea-9eba8bc760f5.png)

[2017-08-25 02:34] karthikbecse opened #259 "submissions link is not working"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges?

- Scroll down to  past challenge

- In past challenge section click submissions   link

- Observe

Actual Result(s)
-----------------------------------------------------------------
it redirects to viewRegistrant page

Expected Result

[2017-08-25 02:35] sdgun opened #260 "[$10] - Large empty space displayed right side of the page in 'Submission' tab"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30057469/?type=design

- Click on the 'Submission' tab

- Check the submission arrangement

Actual Result(s)
-----------------------------------------------------------------
- Large empty space displayed right side of the page in 'Subm

[2017-08-25 02:36] sdgun commented on #260
![48](https://user-images.githubusercontent.com/4592712/29697356-3a6652ec-896c-11e7-8892-df837b53b3ca.jpg)

[2017-08-25 02:36] karthikbecse opened #261 "winners link is not working"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges?

- Scroll down to  past challenge

- In past challenge (TCO RUX - 72H Banking User Interface Design Challenge) winner section click +2 circle

- Observe

Actual Result(s)
----------------------------------------------------------------

[2017-08-25 02:37] karthikbecse commented on #261
![screenshot-community-app topcoder com 2017-08-25 08-06-14](https://user-images.githubusercontent.com/3225433/29697374-64196d72-896c-11e7-92a4-c532d268fe1f.png)

[2017-08-25 02:38] daft300punk commented on #170
Is it a bug? The original site doesn't do anything when clicked on those side ids. Anyways, it is easy to fix. I will submit PR as soon as you confirm.

[2017-08-25 02:41] chqy24 commented on #182
assign to myself

[2017-08-25 02:45] #256 closed

[2017-08-25 02:45] chqy24 commented on #182
ready for review, PR #262

[2017-08-25 02:52] daft300punk commented on #170
Updated the PR, take a look. https://github.com/topcoder-platform/community-app/pull/229

[2017-08-25 02:56] vic-topcoder commented on #173
Not a bug, and we're going to redesign that particular tab soon to use the full avatar that displays more  relevant user data (like on the user search page).

[2017-08-25 02:59] vic-topcoder commented on #175
Correct: From original design point the cases are:

- Not registered - all buttons but Register are disabled (gray style by default).
- Registered - can unregister (danger button), and primary Submit
- Submitted - can unregister (danger), Submit and Manage submissions (primary)

The latest styles in https://github.com/appirio-tech/tc-ui/blob/feature/connectv2/src/styles/_buttons.scss take care of

[2017-08-25 03:03] vic-topcoder commented on #186
It is showing checkpoint win in the Round 1 column - we have X number checkpoint prize money in design challenges (usually five). Final win can only be one that passed checkpoint, but not necessarily the winning checkpoint. Not a bug

[2017-08-25 03:06] vic-topcoder commented on #223
That's a mobile interaction you're describing: on mobile to invoke the menu one has to tap to simulate hover state. On desktop it should not happen. I cannot reproduce this on my side. If your mouse is outside the menu, it should collapse. Always-persistent menu is a bug

[2017-08-25 03:07] shubhendusaurabh commented on #211
Assinginy myself

[2017-08-25 03:11] vic-topcoder opened #265 "Search menu on list items z-index problems:"
On challenge listing page bringing the user search menu causes z-index problems. The menu should be higher z-index than anything else on the page.

![screen shot](https://user-images.githubusercontent.com/8484061/29698174-8379a286-8908-11e7-99dc-4cb92c20d6e0.png)

[2017-08-25 03:12] chqy24 commented on #207
ready for review, PR #266

[2017-08-25 03:16] shubhendusaurabh commented on #211
PR #267

[2017-08-25 03:24] shubhendusaurabh commented on #189
Assigning myself

[2017-08-25 03:30] elfman commented on #179
ready for review, I can't change label

[2017-08-25 03:31] elfman commented on #190
assign myself

[2017-08-25 03:38] shubhendusaurabh commented on #189
PR #268

[2017-08-25 03:41] shubhendusaurabh commented on #191
assigning myself

[2017-08-25 03:51] elfman commented on #192
This bug is different with #190. It's cause by the server, server does not return anything response when challengeId is wrong, which make the link time out.
Except: Server returns 'null' or other error msg when challenge id is not exist. At least, don't make the link time out.

[2017-08-25 03:52] iversonLv commented on #265
@vic-topcoder see #194

[2017-08-25 03:55] shubhendusaurabh commented on #191
@birdofpreyru There is one open design challenge and can't reproduce with that.

[2017-08-25 04:00] shubhendusaurabh commented on #172
assigning myself

[2017-08-25 04:13] iversonLv commented on #220
For this page, spec content is written from Editor which has inline css, seems can't not fix via css file?

[2017-08-25 04:20] shubhendusaurabh commented on #181
assigning myself

[2017-08-25 04:42] shubhendusaurabh commented on #217
assigning myself

[2017-08-25 04:44] karthikbecse opened #270 "winner section 2nd prize winner not shown"
Steps to Reproduce
-----------------------------------------------------------------

- Go to http://community-app.topcoder.com/challenges/30052058/?type=design

- Click Winners tab

- check 2nd prize

Actual Result(s)
-----------------------------------------------------------------
2nd prize winner  missing

Expected Result(s)
-----------------------------------------------------------------
  s

[2017-08-25 04:48] sdgun commented on #223
@vic-topcoder @birdofpreyru Please give me sometime I will comment the exact steps. I can reproduce this 8/10 times

[2017-08-25 04:56] sdgun opened #271 "[$10] - MM challenges links are not working"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- Click 'Filter'

- Select 'MM' as Subtrack (http://community-app.topcoder.com/challenges?filter[subtracks][0]=Marathon%20Match)

- Click on a contest

Actual Result(s)
-----------------------------------------------------------------

[2017-08-25 04:56] daft300punk commented on #206
@birdofpreyru the # part of the url is not sent to the server, so I'm guessing we would not be able to set the state on the server side, unless of course we send the data in some other way. Also, currently, the selected tab(i.e details, registrants etc) is handled by internal react class state and not redux. Handling this with redux state will probably require a large rewrite.

I've tried a differ

[2017-08-25 04:57] sdgun commented on #271
![49](https://user-images.githubusercontent.com/4592712/29700180-06d1747a-8980-11e7-8174-1893b1da1690.jpg)

[2017-08-25 05:27] twicoder commented on #211
Sorry, I didn't found it was already picked up.

[2017-08-25 05:29] daft300punk commented on #210
Check PR https://github.com/topcoder-platform/community-app/pull/273

[2017-08-25 05:37] Colinh84 commented on #221
@shubhendusaurabh Did you tag the wrong issue here, or did you really submit a fix for the issue I am assigned?

[2017-08-25 05:38] twicoder commented on #212
ready for review, PR #272 

[2017-08-25 05:42] shubhendusaurabh commented on #221
@Colinh84 sorry my bad. I meant #211

[2017-08-25 05:42] daft300punk commented on #202
I checked, the related code is only inside code built by webpack. Any ideas how to trace it back to which file it is coming from? Unassigning myself for time being.

[2017-08-25 05:56] elfman commented on #190
PR arised.
#192 is not fixed in this PR, server should return something when chanlengeId is not exist, currently it keeps the link waiting and nothing response.

[2017-08-25 06:15] shubhendusaurabh commented on #181
@birdofpreyru This looks like service bug. The checkpoint array is empty even though checkpoint deadline has passed.

[2017-08-25 06:49] shubhendusaurabh commented on #216
assigning myself

[2017-08-25 07:02] shubhendusaurabh commented on #198
assigning muself

[2017-08-25 07:15] karthikbecse opened #276 "[$10] - keyboard shortcuts button not shown properly"
Steps to Reproduce
-----------------------------------------------------------------

- Go to http://community-app.topcoder.com/challenges

- Click filters

- Select date

- observe keyboard shortcuts button

Actual Result(s)
-----------------------------------------------------------------
keyboard shortcuts icon not fit for the layout

Expected Result(s)
-----------------------------------------

[2017-08-25 07:15] karthikbecse opened #277 "[$30] - keyboard shortcuts not working"
Steps to Reproduce
-----------------------------------------------------------------

- Go to http://community-app.topcoder.com/challenges

- Click filters

- Select date

- use keyboard shortcuts

Actual Result(s)
-----------------------------------------------------------------
keyboard shortcuts not working

Expected Result(s)
-----------------------------------------------------------------

[2017-08-25 07:20] sdgun opened #278 "[$30] - Can enter invalid values to the 'Date range' and Save the filter"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- Click 'Filter'

- Enter 'ewrewr' to the Start and End Dates

- Click 'Save Filter'

Actual Result(s)
-----------------------------------------------------------------
- Can enter invalid values to the 'Date range' and Save the filter

[2017-08-25 07:21] sdgun commented on #278
![50](https://user-images.githubusercontent.com/4592712/29703660-1b2d0f88-8994-11e7-852d-51366c20e15d.jpg)

[2017-08-25 07:22] karthikbecse opened #279 "[$30] - close button shown for Sub community dropdown box"
Steps to Reproduce
-----------------------------------------------------------------

- Go to http://community-app.topcoder.com/challenges

- Click filters

- Select Sub community

- observe

Actual Result(s)
-----------------------------------------------------------------
close button shown for dropdown value

Expected Result(s)
-----------------------------------------------------------------

[2017-08-25 07:24] sdgun opened #280 "Clear filters won't reset the 'Sub community' value to All"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- Click 'Filter'

- Set 'Sub community' value to > Topcoder Product Development

- Click 'Clear Filter'

Actual Result(s)
-----------------------------------------------------------------
- Clear filters won't reset the 'Sub community'

[2017-08-25 07:24] sdgun commented on #280
![51](https://user-images.githubusercontent.com/4592712/29703751-91cbc076-8994-11e7-85a5-346a1139fda9.jpg)

[2017-08-25 07:27] karthikbecse opened #281 "[$50] - ended date is wrong"
Steps to Reproduce
-----------------------------------------------------------------

- Go to http://community-app.topcoder.com/challenges/?

- scroll down to past challenges

- check Github Helper Service challenge end date

Actual Result(s)
-----------------------------------------------------------------
end date is sep 3

Expected Result(s)
-----------------------------------------------------

[2017-08-25 07:29] sdgun opened #282 "[$50] - Sort by: Time to submit will sort the list by Time to register"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- Sort by: Time to submit in 'My Challenges'

- Check the sorted list

Actual Result(s)
-----------------------------------------------------------------
- Sort by: Time to submit will sort the list by Time to register

Expected Result

[2017-08-25 07:37] twicoder commented on #205
PR #283

[2017-08-25 07:39] sdgun opened #284 "[$20] - Stalled challenges displayed in 'Open for registration' section"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- In the 'Open for registration' section > Sort by: Time to Register

- Check the Stalled challenges

Actual Result(s)
-----------------------------------------------------------------
- Stalled challenges displayed in 'Open for regist

[2017-08-25 07:40] sdgun commented on #284
![53](https://user-images.githubusercontent.com/4592712/29704270-b713ef28-8996-11e7-91bb-a3c4e0b97095.jpg)

[2017-08-25 07:43] karthikbecse opened #285 "[$20] - footer shown centre of the page while loading"
Steps to Reproduce

  - Goto http://community-app.topcoder.com/challenges/
  - observe while loading

Actual Result(s)
footer shown centre of the page

Expected Result(s)
Should show the footer properly

Environment

    Device(s): Laptop
    Operating System: Windows 8.1  64bit
    Browser(s): FF 54.0.1

Image/Video/JS Log/Console Log

![2017-08-25_1311](https://user-images.githubusercontent.com/

[2017-08-25 07:44] sdgun opened #286 "Sort By: Time to submit will display invalid results in Open for registration"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- Sort by: Time to submit in 'Open for registration'

- Check the sorted list

Actual Result(s)
-----------------------------------------------------------------
- Sort By: Time to submit will display invalid results in Open for regist

[2017-08-25 07:46] sdgun commented on #286
![53](https://user-images.githubusercontent.com/4592712/29704460-8d800f42-8997-11e7-9f9c-36458cb0394e.jpg)

[2017-08-25 07:48] karthikbecse opened #287 "[$20] - for few second text shown insted of profile image"
Steps to Reproduce

  - Goto http://community-app.topcoder.com/challenges/
  - Scroll down to past challenges
  - move cursor on any winners(without profile image )
  - observe

Actual Result(s)
- for few second text shown insted of profile image

Expected Result(s)
- Should show the image properly

Environment

    Device(s): Laptop
    Operating System: Windows 8.1  64bit
    Browser(s): FF 54.0

[2017-08-25 07:52] karthikbecse opened #288 "wrong Ends date shown"
Steps to Reproduce

  - Goto http://community-app.topcoder.com/challenges/
  - Check challenge end date
  - move cursor on timeline
  - observe

Actual Result(s)
- wrong Ends  date  shown

Expected Result(s)
- Should show Ends  date  properly

Environment

    Device(s): Laptop
    Operating System: Windows 8.1  64bit
    Browser(s): FF 54.0.1

Image/Video/JS Log/Console Log
![dsfdsf](https://user

[2017-08-25 08:26] sdgun opened #290 "[$10] - 3 digit values must comma separated to be consistent with the other locations"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30055839/?type=develop

- Check the first price

Actual Result(s)
-----------------------------------------------------------------
- 3 digit values are not comma separated
- $1900

Expected Result(s)
-----------------------------------

[2017-08-25 08:27] sdgun commented on #290
![55 2](https://user-images.githubusercontent.com/4592712/29705826-592222b6-899d-11e7-85a7-81fb6a75bd3f.jpg)
![55 1](https://user-images.githubusercontent.com/4592712/29705827-5924bbac-899d-11e7-9409-80cbbec1a72a.jpg)

[2017-08-25 08:32] shubhendusaurabh commented on #222
assigning myself

[2017-08-25 08:47] sdgun opened #291 "Submission tab is not working"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30049794/?type=develop

- Click on Submission tab

Actual Result(s)
-----------------------------------------------------------------
- Submission tab is not working

Expected Result(s)
--------------------------------------------------

[2017-08-25 08:48] sdgun commented on #291
![56](https://user-images.githubusercontent.com/4592712/29706661-3a696d54-89a0-11e7-8de3-cad6915cb909.jpg)

[2017-08-25 08:56] Vetteru opened #292 "[$40] - Registration deadline is missing"
## Steps to Reproduce
- access to http://community-app.topcoder.com/challenges/30058958/?type=develop

## Actual Result(s)
- Registration deadline is missing

## Expected Result(s)
- Registration deadline is shown between "Started" and "Submission"

## Environment
[code]

## Image/Video/JS Log/Console Log (If not attached here, Please check the comments section)
![screen shot 2017-08-25 at 17 27 2

[2017-08-25 09:17] yillapens commented on #193
Assign

[2017-08-25 10:03] elfman commented on #217
This bug is cause by third-party lib `react-Select`, it compute the wrong input size when user input character. set prop `autosize={false}` in `Select` can fix this, but will raise another problem, the Select input will wrap to next line while there is still a lot of space.
The best way to fix it is autosizing the input box by myself, but it will take a lot time, so I give up.

[2017-08-25 10:12] sdgun opened #294 "[$20] - Submission count is not displayed in the tab"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30056022/?type=design

- Click on Submission tab and check the count in the tab header

Actual Result(s)
-----------------------------------------------------------------
- Submission count is not displayed in the tab

Expected Result(s

[2017-08-25 10:19] sdgun commented on #294
![57 2](https://user-images.githubusercontent.com/4592712/29709946-085b9826-89ac-11e7-8653-b9a7ece3bda0.jpg)
![57 1](https://user-images.githubusercontent.com/4592712/29709947-089722ba-89ac-11e7-878f-f320331122ea.jpg)

[2017-08-25 10:20] sdgun opened #295 "Winning participants submission IDs won't match with the IDs in the Checkpoint page"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30056022/?type=design

- Click on REGISTRANTS tab (You can see 1st, 2nd and 3rd all of them won checkpoint prizes - Green icon displayed in front of the Roudn 1 Submission)

- Eg: f0rc0d3r, picachui and nPixel

- Click on Winners tab

-

[2017-08-25 10:20] sdgun commented on #295
![58 2](https://user-images.githubusercontent.com/4592712/29710231-128dc39a-89ad-11e7-8bb2-0d61c202dc23.jpg)
![58 1](https://user-images.githubusercontent.com/4592712/29710232-12c4787c-89ad-11e7-905e-841b3073c8b6.jpg)

[2017-08-25 10:21] elfman commented on #187
assign to myself

[2017-08-25 10:54] sdgun opened #296 "[$20] - [Common] Empty 2nd Prize value displayed for Design F2F Challenges"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058138/?type=design

- Check the 2nd place prize $0

Actual Result(s)
-----------------------------------------------------------------
- Empty 2nd Prize value displayed for Design F2F Challenges

Expected Result(s)
------------------

[2017-08-25 10:55] sdgun commented on #296
![59 2](https://user-images.githubusercontent.com/4592712/29711364-0da90ce0-89b2-11e7-91ef-6bf88a0ce99f.jpg)
![59 1](https://user-images.githubusercontent.com/4592712/29711365-0da99340-89b2-11e7-8e6a-44b897046dac.jpg)

[2017-08-25 10:58] twicoder commented on #202
It's a bug of react-dates, and it seems that react-dates will fix this bug later.
Details: https://github.com/airbnb/react-dates/issues/437

[2017-08-25 11:07] iversonLv commented on #182
Soory
Unassign myself..
Thx.

[2017-08-25 11:21] birdofpreyru commented on #132
@elfman I've send you invitation to the repo. I guess, you should check your email, accept it, and then you'll be able to update the labels. I'll check your PR later :)

[2017-08-25 11:25] sdgun opened #297 "[$10] - Empty Tool tip displayed for 'Studio Other' Challenges"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges?filter[subtracks][0]=Studio%20Other

- Hover over the 'O' icon

Actual Result(s)
-----------------------------------------------------------------
- Empty Tool tip displayed for 'Studio Other' Challenges

Expected Result(s)
------------

[2017-08-25 11:26] sdgun commented on #297
![60](https://user-images.githubusercontent.com/4592712/29712205-44ce564a-89b6-11e7-81c6-cbe29dfcdfd2.jpg)

[2017-08-25 11:28] #173 closed

[2017-08-25 11:32] birdofpreyru commented on #175
### Expected Fix
Ok, should be fixed according to Vic's comment above. Though, rather than adding those styles he mentioned directly to button elements, be sure just to modify themes of standard buttons in `/src/shared/components/buttons` so that the result matches the specs

[2017-08-25 11:34] #178 closed

[2017-08-25 11:36] birdofpreyru commented on #181
@shubhendusaurabh Ok. I'll double-check it myself later. Feel free to work on other staff in the meantime.

[2017-08-25 11:38] #186 closed

[2017-08-25 11:41] birdofpreyru commented on #190
@ajefts @skyhit See the last comment. It looks like when we pass a non-existing challenge ID into the backend, it just stucks, rather than returning and error (404?) right away.

[2017-08-25 11:42] birdofpreyru commented on #191
@shubhendusaurabh Hmm... I'll double-check later. I saw this problem yesterday, but probably it was due to some temporary problems in the backend.

[2017-08-25 11:44] karthikbecse opened #298 "[$10] - [DETAILS]layout is broken"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058662/?type=design

- observe description

Actual Result(s)
-----------------------------------------------------------------
- image breaks the layout

Expected Result(s)
-------------------------------------------------------------

[2017-08-25 11:48] sdgun commented on #197
@birdofpreyru I can still reproduce this issue, Won't load the site in IE11

[2017-08-25 11:49] sdgun commented on #177
@birdofpreyru Please check the video attached below;

https://www.screencast.com/t/UBec1iYzKP

[2017-08-25 11:53] sdgun commented on #223
@birdofpreyru Please check the attached video;

https://www.screencast.com/t/lzsEbOULW

[2017-08-25 11:54] birdofpreyru commented on #203
@sdgun Are you testing it on a real device? When I check mobile view in mobile emulation mode of Chrome on Ubuntu, these screens are rendered properly.

[2017-08-25 12:00] birdofpreyru commented on #206
@daft300punk I'll prefer to refactor it properly using Redux store. I believe, the amount of work is adequate to the payment: we just need one variable in the store to set the currently selected tab, one action to change it, and a bunch of trivial code to pass these variable and action to the points they need to be checked / dispatched. +That code which will take care about interaction with URL. W

[2017-08-25 12:01] #209 closed

[2017-08-25 12:03] #213 closed

[2017-08-25 12:03] #214 closed

[2017-08-25 12:06] birdofpreyru commented on #217
Well, I believe, there should be a way to apply some extra styling on our side to the markup produced by `react-select`, to compensate for this issue. Something like making a padding, or whatever is there, smaller to not hide the letters.

[2017-08-25 12:08] birdofpreyru commented on #219
Hmm... still works for me on Chrome / Ubuntu. I guess, I should really try it on FF / Windows.

[2017-08-25 12:09] sdgun commented on #203
@birdofpreyru Yes I am testing on real devices (iPhone 5 and iPhone 6s)

Device(s): iPhone 5 (Portrait Mode)
Operating System: iOS 10.3.3
Browser(s): Safari

Please check video from here: https://www.screencast.com/t/dojkrvVgkV4

Device(s): iPhone 6s (Portrait Mode)
Operating System: iOS 10.3.3
Browser(s): Safari

Please check the below screenshots

![img_1369](https://user-images.githubuserconten

[2017-08-25 12:11] birdofpreyru commented on #220
Well, we don't touch those styles that have been explicitely set as inline styles by the editor. However, on this page it is not always the case. E.g. the first blue link becomes dark gray on hover, however I don't see any inline styling for this in the page source.

[2017-08-25 12:15] birdofpreyru commented on #223
@sdgun Ahhh... I see. It looks the actual reason is that you scroll at the same time when the menu is being opened, so this interfere with JS code taking care about the menu. Accepted, 5 points.

### Expected Fix
The logic behind sub-menu expansion / collapsing should be revised to ensure that scrolling does not break it.

[2017-08-25 12:16] #225 closed

[2017-08-25 12:19] sdgun opened #299 "[$20] - When scrolling while searching 'View more challenges' displayed in the search page"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges?filter[subtracks][0]=Front-End%20Flash&filter[subtracks][1]=Development

- While filtering Scroll down and then up

- Observe the page

Actual Result(s)
-----------------------------------------------------------------
- When scrolling

[2017-08-25 12:22] birdofpreyru commented on #230
Accepted, 3 points. I believe, the problem is that now the search looks at the date of specification creation (when the challenge was first drafted, and not when it was actually started). This Predix Alexa challenge was drafted like a week before we got the green light to launch. This should be fixed.

Othewise, it is fine that the end does not fit into the search range. I believe, we should find

[2017-08-25 12:26] sdgun opened #300 "[$20] - Challenge description page code display layout issue"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30041383/?type=develop

- Scroll down to the content and check the code section

Actual Result(s)
-----------------------------------------------------------------
- Codes are displayed overlapped each lines

Expected Result(s)
--------

[2017-08-25 12:27] sdgun commented on #300
![62](https://user-images.githubusercontent.com/4592712/29714002-be417a9a-89be-11e7-8536-24cf7ee9f4c6.jpg)

[2017-08-25 12:31] birdofpreyru commented on #231
Accepted, 3 points.
Actually, the color of icon is correct: code challenges that have `Data Science` tag (current backend does not allow to make it a more elegant way) we consider to be data science, and thus color them with orange. The problem here is that such challenges are included into dev filter search, rather than into data science one. We should update fitlering logic to account for it.

[2017-08-25 12:38] birdofpreyru commented on #232
Accepted, 3 points.

@ajefts @skyhit It looks like backend problem to me. For regular F2F challenges it works fine. Though when F2F is task (just payment made, no actual submissions), calling the endpoint to download submission still downloads an empty text file, rather than responding with appropriate HTTP error. Should be corrected.

[2017-08-25 12:41] birdofpreyru commented on #233
Accepted, 3 points.
The button, indeed, should be disabled or hidden in such case.

[2017-08-25 12:42] birdofpreyru commented on #234
Accepted, 3 points.

[2017-08-25 12:43] birdofpreyru commented on #234
Current implementation was done some time ago and works for design challenges only. The fix should ensure that it also works properly for development challenges (and, if possible, the same code is used both for design and dev challenges to download submissions).

[2017-08-25 12:45] birdofpreyru commented on #235
Accepted, 3 points.

[2017-08-25 12:47] birdofpreyru commented on #236
Accepted, 3 points

[2017-08-25 12:48] birdofpreyru commented on #237
Accepted, 3 points

[2017-08-25 12:49] birdofpreyru commented on #238
Accepted, 1 point

[2017-08-25 12:50] twicoder commented on #220
PR #301

[2017-08-25 12:52] birdofpreyru commented on #239
Accepted, 1 point.

Not openning for pickup as we are pending another fix, which will allow to deeplink / select tabs on challenge details page in the correct way.

[2017-08-25 12:53] birdofpreyru commented on #240
Accepted, 1 point. Basically the same as #239 just for another icon

[2017-08-25 12:55] birdofpreyru commented on #242
Accepted, 1 point. Let's show something like `Empty feedback` in a gray color in such case.

[2017-08-25 12:57] birdofpreyru commented on #243
Accepted, 3 points. It looks to me, that new challenge details page mixes the checkpoint prize into the main place prizes as well. We should ensure that it is handled correctly.

[2017-08-25 12:58] birdofpreyru commented on #244
Looks like a dublicate of #228 for me

[2017-08-25 12:58] #244 closed

[2017-08-25 13:01] birdofpreyru commented on #245
Accepted, 3 points.

When this element was done, competitors noted that for past challenges API does not return the status of challenge terms agreements when request is done with user's credentials. So, if user has not been registered for past challenge, the check is just ignored. I guess, there might be a way to still handle it correctly, using v2 api - let's fix it, if possible.

[2017-08-25 13:04] birdofpreyru commented on #248
Not a bug. It looks like for this challenge there is indeed no winners, so printing Results linking to results look appropriate.

[2017-08-25 13:04] #248 closed

[2017-08-25 13:06] birdofpreyru commented on #249
Not a bug, it is intentional: at the moment backend does not allows us to efficiently count past challenges matching frontend filters, thus the count omitted for past challenges.

[2017-08-25 13:06] #249 closed

[2017-08-25 13:08] birdofpreyru commented on #251
Accepted, 3 points (cause it is not an easy one to notice - in many tooltips the style looks fine).

[2017-08-25 13:08] elfman commented on #217
the width of `input` is the primary problem.
when `autosize` is true, it will set input's width with inline style. so css styling rule can not override it.
When input text is more than 3 character, the input string can not be shown completely.

[2017-08-25 13:08] birdofpreyru commented on #252
Dublicates #213, I believe

[2017-08-25 13:08] #252 closed

[2017-08-25 13:10] Vetteru opened #303 "[$30] - '0' is missing (or "min" should be erased) at remaining time"
## Steps to Reproduce
- access to http://community-app.topcoder.com/challenges (see challenges that end time is now)

## Actual Result(s)
- 5d min

## Expected Result(s)
- 5d 0min or 5d

## Environment
[code]

## Image/Video/JS Log/Console Log (If not attached here, Please check the comments section)
![screen shot 2017-08-25 at 22 00 26](https://user-images.githubusercontent.com/6219446/29715299-b

[2017-08-25 13:10] birdofpreyru commented on #253
Accepted, 1 point. We should ensure that if there are many prizes on a challenge, and they occupy multiple rows; and there is the checkpoints string, then we still have enough spacing there.

[2017-08-25 13:12] elfman commented on #217
er, I find another solution, if the input's `font-size` is `10px`, `react-Select` can work well, input text can shown completely. But the character seems small, is this OK? currently the `font-size` is 15px

[2017-08-25 13:15] birdofpreyru commented on #254
Accepted, 3 points

[2017-08-25 13:16] birdofpreyru commented on #257
Accepted, 3 points

[2017-08-25 13:17] birdofpreyru commented on #258
Accepted, 3 points.

[2017-08-25 13:18] birdofpreyru commented on #259
Dublicates #240

[2017-08-25 13:18] #259 closed

[2017-08-25 13:19] birdofpreyru commented on #260
Accepted, 1 point.

[2017-08-25 13:20] birdofpreyru commented on #261
Dublicates #206

[2017-08-25 13:20] #261 closed

[2017-08-25 13:21] #265 closed

[2017-08-25 13:21] birdofpreyru commented on #270
Dublicates #254

[2017-08-25 13:21] #270 closed

[2017-08-25 13:23] birdofpreyru commented on #271
Accepted, 3 points. We should correct URLs for MM.

[2017-08-25 13:25] birdofpreyru commented on #276
Accepted, 1 point.
We should correct the style of this button, to make it look better.

[2017-08-25 13:26] birdofpreyru commented on #277
Accepted, 3 points.
The shortcuts should work.

[2017-08-25 13:28] shubhendusaurabh commented on #231
@birdofpreyru What is the expected fix here? Code challenges with data science tags should not be shown in dev track? If you have filter set to show both dev and data tracks, such challenges will still be shown with code track.

[2017-08-25 13:28] birdofpreyru commented on #278
Accepted, 3 points.
Not sure, whether we can do anything about it on our side, as it is a 3-rd party component, but if it is possible, let's fix it.

[2017-08-25 13:31] birdofpreyru commented on #279
Accepted, 3 points.
I would say, let's leave this button for all communities (it makes sense to me, as it clears this filter). But, let's ensure that when it is clicked, the `All` element is selected in the field, and that one has no such button. (Not sure, whether it is doable, but it will be cool if we can do it).

[2017-08-25 13:33] birdofpreyru commented on #280
Accepted, 3 points.
@vic-topcoder need your advice here. Should we consider this selector as a regular filter (i.e. count it inside the Filter switch which opens this panel, reset to all when Clear fitlers is clicked, and save into custom filters)?

[2017-08-25 13:35] birdofpreyru commented on #281
Accepted, 3 points. It looks specific to F2F: they can be completed, but it does not update the original finish date, introduced into Direct. We should add some logic, to use the actual completion date there.

[2017-08-25 13:38] birdofpreyru commented on #282
Accepted, 3 points. I am not actually sure, in what order does it sort challenges now, but it looks working definitely wrong. Should be fixed.

[2017-08-25 13:39] birdofpreyru commented on #284
Accepted, 3 points.

[2017-08-25 13:41] birdofpreyru commented on #285
Accepted 1 point. Indeed, it will be handy to ensure that footer cannot be higher than the bottom of window.

[2017-08-25 13:42] birdofpreyru commented on #286
Looks quite like a dublicate of #282. But, let me accept and add 2 points for this

[2017-08-25 13:43] birdofpreyru commented on #282
Also pay attention to #286. Seems to be the same problem, so both should be fixed here.

[2017-08-25 13:45] daft300punk commented on #196
Does saving filters in dev not work? I'm getting cors issue saying `Fetch API cannot load https://lc1-user-settings-service.herokuapp.com/saved-searches.`

As for the approach, I think we need to disable the save filter button unless success/failure response of filter getting saved comes back from the server. Is that fine?

[2017-08-25 13:46] birdofpreyru commented on #287
Accepted, 3 points.

[2017-08-25 13:47] birdofpreyru commented on #288
Looks like a semi-dublicate of #281, but I'll accept, 3 points.

[2017-08-25 13:47] birdofpreyru commented on #281
Pay attention to #288 this should be also fixed in the timeline tooltip.

[2017-08-25 13:49] birdofpreyru commented on #290
Accepted, 1 point. Right, the design specs also demands this separator.

[2017-08-25 13:50] birdofpreyru commented on #291
I believe, it dublicates #208

[2017-08-25 13:50] #291 closed

[2017-08-25 13:54] birdofpreyru commented on #292
Accepted, 3 points.
I believe, we should add a bit of fancy logic here. In the `Next Deadline` text we should show Registration if user is not yet registered to this challenge, and Submission (or Checkpoint) if he has registered already. In the exandable panel we add registration deadline.

[2017-08-25 13:55] twicoder commented on #238
PR #306

[2017-08-25 13:55] birdofpreyru commented on #294
Accepted, 3 points.

[2017-08-25 13:57] birdofpreyru commented on #295
Not a bug, I believe, the submissions to checkpoints and to the final round are independent, thus having different IDs.

[2017-08-25 13:57] #295 closed

[2017-08-25 13:58] birdofpreyru commented on #296
Accepted, 3 points.

[2017-08-25 14:00] birdofpreyru commented on #297
Accepted, 1 point.

[2017-08-25 14:07] birdofpreyru commented on #217
Nah, I believe, we need to maintain the size of text according to the design, it is higher priority.

[2017-08-25 14:11] birdofpreyru commented on #231
@shubhendusaurabh The icon is fine for now. We should ensure that such challenges are included into results of data science track filtering (I believe, now they are not). I think, we can still leave them in results of dev filter, as these are really belonging to both.

[2017-08-25 14:13] birdofpreyru commented on #196
@daft300punk Yes, the api for saving filters exists only in prod. The approach to disable the button until the result, looks fine to me.

[2017-08-25 15:49] birdofpreyru commented on #298
Accepted, 1 point.
I believe, we just should add `max-width` to the image styles, to ensure image sizes cannot be larger than the layout. Or, probably, to add `overflow` scrolling to make sure it is cut and can be scrolled. Or some combination of these.

[2017-08-25 15:51] birdofpreyru commented on #299
Accepted, 3 points.

[2017-08-25 15:53] birdofpreyru commented on #300
Accepted, 3 points, as it is not that easy to noticed (because such markup is not met on many challenge specs).

[2017-08-25 15:56] birdofpreyru commented on #303
Accepted, 3 points.
That text should be properly formatted. If it is more than one day, we should show Xd YYh (i.e. days and hours); once it goes under one day, we should show XXh YYmin (i.e. hours + minutes), and when it goes under 1 hour, then minutes and seconds.

[2017-08-25 16:14] shubhendusaurabh commented on #276
@birdofpreyru any design spec for this?

[2017-08-25 16:50] birdofpreyru commented on #276
@shubhendusaurabh no, just add some more padding, whatever. My concern with this button now is that the question symbol is touching the edge of the shaded background, so it looks goofy.

[2017-08-25 16:51] birdofpreyru commented on #276
Or, may be make it a square button with a smaller question symbol.

[2017-08-25 17:06] iversonLv commented on #297
What description should for  'Studio Other' tooltip?

[2017-08-25 18:05] twicoder commented on #303
PR #320

[2017-08-25 18:19] daft300punk commented on #206
Check out PR - https://github.com/topcoder-platform/community-app/pull/321

[2017-08-25 18:35] daft300punk commented on #196
I've a PR ready, but not tested on prod. Do we have a way to test things on prod? When I open challenge-details prod pages mentioned on localhost:3000 i.e. the page that lists various links, I get some strange promise rejection errors.

[2017-08-25 18:43] daft300punk commented on #196
Check out the PR - https://github.com/topcoder-platform/community-app/pull/322

[2017-08-25 18:56] ordinaryname commented on #176
Fixed issue with Pull Request #323

[2017-08-25 19:14] shubhendusaurabh commented on #243
@birdofpreyru service bug. check prize in v2 and prizes in v3 api.
https://api.topcoder.com/v3/challenges/?filter=id%3D30052058
https://api.topcoder.com/v2/design/challenges/30052058

[2017-08-25 20:46] birdofpreyru commented on #196
@daft300punk Yeah, to test locally against prod backend you run as `NODE_ENV=production PORT=80 npm run dev`, and browse the site as `local.topcoder.com`. Sure, you should first permit the app to listen on the port 80, there are some hints in README.md on how to configure it on Ubuntu.

[2017-08-25 20:49] birdofpreyru commented on #297
@vic-topcoder @ajefts How should we describe this category?

[2017-08-25 21:12] vic-topcoder commented on #280
@birdofpreyru - the filter can be in 2 pages possible: on a community; or topcoder main site.

- On/within a community, I'd assume the sub community is just a filter within all. Reset filters would clear that (we want to display all challenges from all communities on the main Topcoder website.
- Within a community the filter would represent the space and I'd assume it is always active. Removing th

[2017-08-25 21:20] vic-topcoder commented on #297
Good catch! We had a [track code document](https://docs.google.com/spreadsheets/d/14EEg-eHbiPdl6cGqXIdvNrQ27Xayb8u6JWHBVlaNI0s/edit?usp=sharing) and I think "Other" is misleading. It should be "Design" only as a generic term.

Let's try with this: "Generic design challenge". @ajefts feel free to overrule me.

[2017-08-26 00:20] Colinh84 commented on #282
@birdofpreyru Need some clarification on this. It appears the results ARE actually being sorted by time to submit correctly, though for "My Challenges" the results are listed in ASC order from least -> most time remaining and "Open for Registration" listings are sorted in DESC order from most -> least time remaining. See screenshot of where time to submit is listed:
![sort-order](https://user-imag

[2017-08-26 02:30] yillapens opened #328 "Size Problem with Profile Image"
**Steps to Reproduce**

1.  Goto http://community-app.topcoder.com/challenges/?bucket=past
2. Move cursor on some winners

**Actual Result(s)**

It seems that profile image has different size

**Expected Result(s)**

Should show the image in same size

**Environment**

- Device(s): MacBookPro13,2
- Operating System: macOS Sierra 10.12.5
- Browser(s): Safari 10.1.1

**Image/Video/JS Log/Console Log

[2017-08-26 02:58] sdgun opened #329 "[$20] - Clearing search and search using empty field won't remove the previous search term from the URL"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- enter '*^&%&^%^&%&(%(%' and search

- Now delete the *^&%&^%^&%&(%(% text and click search

- Page will return to the Challenge listing page but the URL http://community-app.topcoder.com/challenges?%[0]=&%[1]=&^%^=&(%(%=

Actual Resu

[2017-08-26 02:58] rrandom commented on #271
Can I take this, Thanks

[2017-08-26 02:59] sdgun commented on #329
![63](https://user-images.githubusercontent.com/4592712/29738119-a0015d5a-8a38-11e7-9dca-ec0f7e754100.jpg)

[2017-08-26 04:01] elfman commented on #284
The bug is caused by the data from backend, it contains some mistake, the registration time has passed, but the status of registration phase is still open.
The filter used phase state to judge if the registration is open, now I change it to use registration time. But I still think the backend should fix this.

[2017-08-26 04:08] birdofpreyru commented on #282
@Colinh84 I better double-check tomorrow. But, in principle, I would expect that sorting by sumbmission time, would sort challenges by time left till the next submission deadline, from the first one to the last. In case of dev. challenges we have just one submission deadline, so it is clear; in case of design ones, we take as submission deadline the least of the times till checkpoint submission, a

[2017-08-26 04:13] birdofpreyru commented on #280
@vic-topcoder Well, option (1) is clear. The (2) we can do really any way you decide:
1. Leave it as it is (as a filter, so that being inside a community you can switch it to see all challenges, or challenges in different community).
2. Doing redirect: if you touch this field, you are actually redirected to the general challenge listing...
3. Hiding it, so that if you are inside community, you jus

[2017-08-26 04:33] rrandom commented on #271
Seems the url is correct in `community.topcoder.com`  but fails in `community.topcoder-dev.com`

[2017-08-26 04:43] birdofpreyru commented on #271
@rrandom Why? I believe, prod and dev URLs differ only by base, and it is correctly configured for dev and prod environments in the config? The endpoints are supposed to be the same in any case?

[2017-08-26 04:45] daft300punk commented on #299
Checkout PR - https://github.com/topcoder-platform/community-app/pull/332

[2017-08-26 05:07] shubhendusaurabh commented on #278
@birdofpreyru it is not possible to prevent invalid inputs in the field. https://github.com/airbnb/react-dates/issues/232
but we can validate dates, then disable/enable save button. is it ok?

[2017-08-26 07:23] yillapens commented on #193
@birdofpreyru

Sorry, I am confused about the meaning of next deadline. If the contest is opening for registration, checkpoint submission and submission, which one will be the right next deadline?

If the match still can register, is the registration deadline  current deadline?

[2017-08-26 07:46] sdgun opened #335 "[$30] - Searching using 'Other' tag will display items that won't have other tag"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- Click on 'Other' tag from the listed items

- Observe the items

Actual Result(s)
-----------------------------------------------------------------
- Searching using 'Other' tag will display items that won't have other tag

Expected

[2017-08-26 07:47] sdgun commented on #335
![64](https://user-images.githubusercontent.com/4592712/29739660-dc1dce36-8a60-11e7-9ac2-6e49b28710e0.jpg)

[2017-08-26 08:12] sdgun commented on #335
https://www.screencast.com/t/iHRlwHpgUuHj

[2017-08-26 09:09] elfman opened #337 "[$20] - Placeholder text of SearchBox is not in the middle"
## Steps to Reproduce
Goto http://community-app.topcoder.com/challenges/

## Actual Result(s)
placeholder text of SearchBox is not in the middle

## Expected Result(s)
placeholder text aligned in the middle

## Environment
[code]

## Image/Video/JS Log/Console Log (If not attached here, Please check the comments section)
#### Mac
![Mac Safari](https://user-images.githubusercontent.com/948001/29740

[2017-08-26 10:28] birdofpreyru commented on #193
@yillapens I imagine it the following way:
1. If user is not registered to a challenge, and registration is still open, then next deadline for him is the registration;
2. If user is registered, and challenge is going on, then the next deadline is either checkpoint or final submission;
3. If challenge is finished, we just write there that the challenge is finished (which I believe, already done in

[2017-08-26 10:38] birdofpreyru commented on #328
Dublicates #251

[2017-08-26 10:38] #328 closed

[2017-08-26 10:44] birdofpreyru commented on #329
Accepted, 3 points.
The actual problem here is that when search text is appended to URL special characters are not escaped. As in this example he used `&` in the search string, once it gets to URL, it is treated as params separator, and when filters reseted only known query params are removed, so this string is considered as a bunch of unknown params, and is not removed. We should properly escape

[2017-08-26 10:45] birdofpreyru commented on #335
Accepted, 3 points.

[2017-08-26 10:49] birdofpreyru commented on #337
Accepted, 3 points.
I believe, this happens only on some browsers (e.g. works fine in Chrome on Ubuntu). We should check related style to ensure it is not broken on main browsers (note that we have autoprefixer setup in the app, so probably it is worth to check here, why it did not help in this case).

[2017-08-26 11:09] shubhendusaurabh commented on #335
@birdofpreyru Current logic is to check for tag text in name, technologies or platform. Some of the challenges have 'other' in their platforms array. Therefore they are included in result.
How should it fix it?

[2017-08-26 11:29] yillapens commented on #193
@birdofpreyru That's clear. Thanks a lot.  :)

[2017-08-26 13:06] elfman commented on #337
@birdofpreyru I just notice that the Topcoder Header is missing in tablet (see the second picture in the issue), is it a bug or a feature?

[2017-08-26 14:03] elfman commented on #337
@birdofpreyru what's wrong with backend now? I can't open challenge detail page now, it works several hours ago. I see 504 error and `No 'Access-Control-Allow-Origin' header'` in console

[2017-08-26 15:13] elfman commented on #337
@birdofpreyru I made Topcoder Header displayed on iPad, and I found some bug on it.
1. when iPad is landscape, the page use the design of PC, when click on the menu item, subMenu opened, but I can't find a way to close the submenu. (This is not the styling problem, I think I should open another issue for this bug.)
2. the search icon at top-right is not at the right position.
3. the page use the d

[2017-08-26 15:15] birdofpreyru commented on #337
@elfman Yeah, please log it as a sepate issue. It is a good catch about desktop header in landscape view on tablet.

The API v2 in dev seems to be down indeed, I'll ask to restart it.

[2017-08-26 15:45] elfman opened #339 "[$60] - Can not close SubMenu of TopCoder Head[er on tablet"
Steps to Reproduce
-----------------------------------------------------------------

- iPad at landscape, Go to 'local.topcoder-dev.com:3000/challenges' (currently the Topcoder Header is not shown on public server, so I use local dev, it will be fixed in #337)

- Tap on Menu item, SubMenu appears

- Tap on clean area of the page, the subMenu doesn't close

Actual Result(s)
-----------------------

[2017-08-26 16:08] daft300punk commented on #287
Is this a browser issue? I don't see it happening in chrome.

[2017-08-26 21:16] birdofpreyru commented on #339
Yeah, we should update header's code, to ensure that it works with clicks in addition to hovering. I.e. clicking on the main menu item's opens submenu, clicking outside of the submenu items, when the submenu is opened, closes it.

[2017-08-27 02:22] mohhasbias commented on #271
Looks like the endpoint returns different MM challenge from the current live site.

[2017-08-27 02:50] sdgun opened #342 "Default text overlap with the search icon in the menu"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user (Portraot Mode)

- Go to http://community-app.topcoder.com/challenges?

- Expand the menu and check the search default text and search icon

Actual Result(s)
-----------------------------------------------------------------
-  Default text overlap with the search icon in th

[2017-08-27 02:50] sdgun opened #343 "Won't close the date time picker in filter when user click on a empty area"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user (Portraot Mode)

- Go to http://community-app.topcoder.com/challenges?

- Click Filter

- Expand the Date Range and click on a empty place or any other field

Actual Result(s)
-----------------------------------------------------------------
- Won't close the date time pick

[2017-08-27 03:46] karthikbecse opened #344 "prize amount is wrong"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges?

- Move cursor on  Ohio Deferred Compensation - Wireframe Challenge challenges  prize amount
- Check tootl tip amount and prize amount

Actual Result(s)
-----------------------------------------------------------------

[2017-08-27 11:25] Colinh84 commented on #282
@birdofpreyru Just checking if you have more information on the preferred sort order yet. Another thing I noticed is that in "My Challenges", there are also registered challenges listed that are past the submission phase. Should these be filtered out when sorting by "time to submit", or displayed and listed at the top, or bottom?

[2017-08-27 11:31] birdofpreyru commented on #282
@Colinh84 No, if you don't see anything wrong with my previous msg, I think this should be the order. The challenges with completed submission phase, I guess, we should show in the very end, as they are probably the least useful for users who use this sorting.

[2017-08-27 11:32] birdofpreyru commented on #271
@mohhasbias What exactly is the difference?

[2017-08-27 11:33] birdofpreyru commented on #287
@daft300punk It happens only for winners without profile picture, when the default "anonymous man" image is used as the avatar. Can you see it?

[2017-08-27 11:49] birdofpreyru commented on #177
@sdgun No, it is not really stuck. You just set different filtering options that have no matching challenges. Under the hood it keeps on searching such challenges in past, but can't find them, so you see the placeholders.

The reason for that is the backend, at the moment, does not provide the same fancy filtering options, as we have in the frontend. So, while for active challenges, we can just lo

[2017-08-27 11:49] #177 closed

[2017-08-27 11:51] birdofpreyru commented on #197
@sdgun Ok, accepted, 5 points.

[2017-08-27 11:54] birdofpreyru commented on #197
For information of those who pick this up:

What happens there, I believe: now we use code-splitting in our app. On `/challenges` route, the header/foorter, and the actual content of the page are in different code chunks. So, it stucks when the code chunk for the challenge listing is being loaded. It looks to me, that there is some IE-specific bug with it.

[2017-08-27 11:54] sdgun commented on #177
Thanks for the clarification @birdofpreyru :+1:

[2017-08-27 11:57] birdofpreyru commented on #203
@sdgun Ok, I accept with 5 points. Actually, mobile layouts are implemented in the app, I guess, the problem is that your apple-devices has so much resolution / pixels, that our media rules in css consider them to be desktop-kind of screens. So, we should add some code into app's setup to count for pixel's dencity in a better way.

[2017-08-27 11:59] birdofpreyru commented on #342
Dublicates #194, I believe

[2017-08-27 11:59] #342 closed

[2017-08-27 12:02] birdofpreyru commented on #343
Hmm... it sounds like I have seen a msg about this bug before, but cannot find it now.

[2017-08-27 12:03] birdofpreyru commented on #344
Accepted, 3 points. @ajefts @skyhit I believe, it is api-related bug, in fact?

[2017-08-27 12:26] daft300punk commented on #287
No, I can only see it mozilla, not in chrome. I'm on windows.

[2017-08-27 12:36] birdofpreyru commented on #287
I see in Chrome / Ubuntu.

[2017-08-27 13:04] daft300punk commented on #245
Is something wrong with challenge details page? I get Unhandled promise rejection -> Cannot read property 'track' of undefined in the terminal console. The browser page just keeps loading. Is some api not returning as expected? I'm in develop branch.

[2017-08-27 13:10] birdofpreyru commented on #245
@daft300punk Hm... I've just briefly checked remotely deployed versions, seems to be working both in prod and dev.

[2017-08-27 13:54] elfman opened #346 "[$20] - TopcoderHeader mobile menu triggered when click on JOIN/LOG IN Button"
## Steps to Reproduce
- access to http://community-app.topcoder.com/challenges/30058637 in portrait view on iPad
- Tap the JOIN or LOG IN Button

## Actual Result(s)
- mobile menu is opened before redirect to other page

## Expected Result(s)
- redirect to other page without other response

## Environment
[code]

[2017-08-27 14:01] birdofpreyru commented on #346
Accepted, 3 points

[2017-08-27 14:15] elfman opened #347 "[$10] - placeholder text overlap the search icon in mobile menu of TopcoderHeader"
## Steps to Reproduce
- Goto http://community-app.topcoder.com/challenges/ in portrait view on iPad
- Tap on the center of TopcoderHeader.
- menu opened, checkout the search input
- tap the search input, input some text to it and check

## Actual Result(s)
- placeholder text overlap the search icon
- when there are characters in search input, the text overlap on the search icon

## Expected Result

[2017-08-27 15:28] #179 closed

[2017-08-27 15:35] karthikbecse opened #348 "[$10] - Delete submission enable for past challenge"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058497/my-submissions

- See  Delete button

Actual Result(s)
-----------------------------------------------------------------
-  Delete submission enable for past challenge

Expected Result(s)
-----------------------

[2017-08-27 15:35] karthikbecse opened #349 "[$10] - time displays for past challenge"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058497/my-submissions

- observe

Actual Result(s)
-----------------------------------------------------------------
-  time displays for past challenge

Expected Result(s)
---------------------------------------------

[2017-08-27 15:36] karthikbecse opened #350 "update submission button enabled for past challenge"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058497/my-submissions

- observe

Actual Result(s)
-----------------------------------------------------------------
-  update submission button enabled for past challenge

Expected Result(s)
--------------------------

[2017-08-27 15:38] #208 closed

[2017-08-27 15:38] #218 closed

[2017-08-27 15:38] #228 closed

[2017-08-27 15:42] #182 closed

[2017-08-27 15:43] karthikbecse opened #351 "[$20] - Manage submission table layout is not stable when we click down and up icon"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058497/my-submissions

- scroll down

- in submission Click Down arrow

- again click up  arrow

- observe layout

Actual Result(s)
-----------------------------------------------------------------
-  table layout is n

[2017-08-27 15:46] sdgun opened #352 "Error message displayed when user try to submit for a challenge"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- http://community-app.topcoder.com/challenges/30059023/?type=design

- Register to the Challenge

- Click 'Submit'

Actual Result(s)
-----------------------------------------------------------------
- Error: You are either not registered for this challenge, or it is not a valid challenge

[2017-08-27 15:47] karthikbecse opened #353 "[Submission] enhance status message"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058577/my-submissions

- observe left text

Actual Result(s)
-----------------------------------------------------------------
-  "left " text shown under time

Expected Result(s)
--------------------------------------

[2017-08-27 15:47] sdgun opened #354 "'Submit' button is too close to the footer"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058970/?type=develop

- Register to the Challenge

- Click 'Submit'

Actual Result(s)
-----------------------------------------------------------------
- 'Submit' button is too close to the footer

Expected Result(s)
-----------------

[2017-08-27 15:52] sdgun opened #355 "(Dummy data) Multiple 'Need text from PMs.' in the Files section"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058970/?type=develop

- Register to the Challenge and Submit for it

- Go to http://community-app.topcoder.com/challenges/30058970/?type=develop again

- Click 'View Submission'

- Check the Files section 'Need text from PMs.'

Actual

[2017-08-27 15:53] #355 closed

[2017-08-27 15:53] #354 closed

[2017-08-27 15:54] #211 closed

[2017-08-27 15:54] #221 closed

[2017-08-27 15:54] sdgun commented on #352
![66a](https://user-images.githubusercontent.com/4592712/29751671-129c0a5a-8b6e-11e7-8f23-c7655924c087.jpg)

[2017-08-27 15:58] #189 closed

[2017-08-27 16:08] karthikbecse opened #356 "Add submission button enabled at apporval phase"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges/30058497/my-submissions

- observe

Actual Result(s)
-----------------------------------------------------------------
- Add submission button enabled at apporval phase

Expected Result(s)
-------------------------------

[2017-08-27 18:24] birdofpreyru commented on #347
Accepted, 1 point

[2017-08-27 18:24] birdofpreyru commented on #348
Accepted, 3 points

[2017-08-27 18:25] birdofpreyru commented on #349
Accepted, 3 points

[2017-08-27 18:26] birdofpreyru commented on #350
Dublicates #233

[2017-08-27 18:26] #350 closed

[2017-08-27 18:28] birdofpreyru commented on #351
Accepted, 3 points

[2017-08-27 18:30] birdofpreyru commented on #352
It looks like a dublicate of #235

[2017-08-27 18:30] #352 closed

[2017-08-27 18:35] birdofpreyru commented on #353
It actually matches design:
![04 development - manage submission - empty state](https://user-images.githubusercontent.com/20144632/29752915-18a8e7bc-8b67-11e7-9c0d-72c1870e40a2.png)
I was thinking to reuse your ticket to enhance status messages (as you see, original design was a bit verbose to say `left to submission`), but I guess, it is actually done this way, when we are in submission phase? If

[2017-08-27 18:35] #353 closed

[2017-08-27 18:38] birdofpreyru commented on #356
I'll accept for 1 point, though it is mostly dublicate of #233

[2017-08-27 18:39] birdofpreyru commented on #233
Pay attention to #356, hopefully your fix does the same about that button, otherwise should be updated (I have not tested, nor looked in the code, I guess most probably, it is the same button, technically, just the text is different, so fixing one, fixes another?).

[2017-08-27 20:16] vic-topcoder commented on #280
Let me discuss this with Tony and team. At this point I guess once you're in a sub-community you don't want to redirect to topcoder necessarily. I'd say hide it for the time being and let's revisit once I have better understanding.

[2017-08-27 23:01] iversonLv opened #361 "[$10] - Search input at search flyout not vertical align"
Steps to Reproduce
-----------------------------------------------------------------

- Login as a valid user

- Go to http://community-app.topcoder.com/challenges

- Hover on top right corner search icon

- Slide down the search flyout

Actual Result(s)
-----------------------------------------------------------------
- Open the flyout, the placeholder not vertical align

Expected Result(s)
-----

[2017-08-27 23:47] birdofpreyru commented on #361
Accepted, 1 point.

[2017-08-28 00:18] #335 closed

[2017-08-28 00:37] chqy24 commented on #200
@birdofpreyru
PR #247 has been updated

[2017-08-28 00:38] birdofpreyru opened #364 "[$20] - Submenut items are not clickable around the icon and label"
Check submenu items of the standard topcoder menu (and also submenu items in user menu in TC communities). You can trigger them only clicking on the icon itself, or its label. When you click just outside them (but still inside that square component of the submenu), it does not react on the click :(

[2017-08-28 00:54] elfman opened #365 "[$20] - [Mobile] [Challenge Filter]: Select can not choose the item which is covering the Date range field"
Steps to Reproduce
-----------------------------------------------------------------

- access to http://community-app.topcoder.com/challenges/ in iPad on portrait

- Tap `Filter`, open filter dialog

- Tap the Select of Keywords or Subtrack, select the item which is at the same line of Date range

- Tap on the area outside the date picker

Actual Result(s)
----------------------------------------

[2017-08-28 01:01] #184 closed

[2017-08-28 01:09] #348 closed

[2017-08-28 01:16] #347 closed

[2017-08-28 01:53] sdgun opened #366 "[$10] - Tapping on the user profile image won't go to the profile page"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user (Portraot Mode)

- Go to http://community-app.topcoder.com/challenges?

- Go to 'Past Challenges' and click on the profile image

Actual Result(s)
-----------------------------------------------------------------
- Tapping on the user profile image won't go to the profile p

[2017-08-28 01:54] sdgun opened #367 "[$10] - 'Purse' tag is too large"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user (Portraot Mode)

- Go to http://community-app.topcoder.com/challenges?

- Go to 'Ongoing Challenges' and check the 'Purse' tag

Actual Result(s)
-----------------------------------------------------------------
-  'Purse' tag is too large and the width of the tag is too big

[2017-08-28 02:47] chqy24 commented on #207
@birdofpreyru
PR #266 has been updated

[2017-08-28 02:57] kaygee1 opened #368 "[$10] - [Bug Hunt] - when there is a locked sign Download link shouldnt be provided"
Login to the site

Open
https://community-app.topcoder.com/challenges/30058637
Click on Winners

Click on Download

actual - it opens up the OR page and then says it cannot be downloaded

expected - since it says lock on the submission image there should not be a download link

[2017-08-28 02:58] kaygee1 commented on #368
![1](https://user-images.githubusercontent.com/5115050/29757622-d61a994a-8bca-11e7-9669-aba1c7baca6f.png)

[2017-08-28 03:11] kaygee1 commented on #368
Not able to add the label to this issue.

[2017-08-28 04:23] elfman commented on #361
sorry, I wrote a wrong issue id in my commit

[2017-08-28 04:40] kaygee1 opened #370 "[$10] - Drop down arrow not shown at the right place"
Open the page
http://community-app.topcoder.com/challenges/30058529
SEe the View all deadlines drop down
Actual - The arrow is shown before the Text

Expected - it should be after the view all deadline text

device = laptop
Safari 5.1.7
Windows 10
![2](https://user-images.githubusercontent.com/5115050/29759412-0eda6540-8bd9-11e7-8ee1-cf3298fc9356.png)

[2017-08-28 05:24] kaygee1 opened #371 "[$10] - Like View All Deadlines, it should be Hide All Deadlines"
Open the page
http://community-app.topcoder.com/challenges/30058925/?type=design

CLick on View all Deadlines
See the text now

Actual - it says - Hide Deadlines

expected - it should be Hide All Deadlines

Chrome 60
Win 10
Laptop
![3](https://user-images.githubusercontent.com/5115050/29760224-524449c6-8bdf-11e7-903c-d0c03376aa1c.png)

[2017-08-28 05:36] kaygee1 opened #372 "$ needed before Reliability prize"
Open the page
http://community-app.topcoder.com/challenges/30058958/?type=develop

See the Reliability Bonus

actual - there is no "$"

expected - there should be a "$" before 200

Chrome 60
Win 10

![4](https://user-images.githubusercontent.com/5115050/29760387-d1255590-8be0-11e7-9020-6886a2a5babd.png)

[2017-08-28 05:39] #372 closed

[2017-08-28 05:44] kaygee1 opened #373 "[$10] - Be consistent in displaying the prize money"
Open the listings page
http://community-app.topcoder.com/challenges

Hover over the prize money section

SEe the display

actual - in the table it is listed as $ 1500 ( $ and the amount has a space)
In the box that appears see the display

actual - there is no space between $ and the amount

expected consistency is expected

chrome 60
Win 10 Laptop
![5](https://user-images.githubusercontent.com/51

[2017-08-28 06:11] tilumi commented on #234
Hi, I want to work on this issue, can I get the permission to assign this issue to me?

[2017-08-28 06:25] elfman commented on #287
@birdofpreyru I'm on Mac, this bug happen in Chrome, not in FF
It seems to be caused by lazy loading image in browser, some browser download the image only when it should be shown on the screen, in that duration there will be only text in the tooltip and the text will be shown on the place where avatar should be.
To fix this, I want to keep the space of avatar before the avatar image loaded. There

[2017-08-28 06:36] mohhasbias commented on #271
I can't tell the difference yet. It just return different json data.

[2017-08-28 07:18] Colinh84 opened #374 "Choosing subtrack filter causes infinite loop of API requests"
Steps to Reproduce
-----------------------------------------------------------------

- Go to http://community-app.topcoder.com/challenges?

- Press Ctrl + Shift + i to open the developer console in Chrome

- Click the "Network" tab on the console to see network requests.

- Click on "Filters" button on the topcoder challenge listing page.

- Select "Development" from the subtrack dropdown box.

-

[2017-08-28 07:20] sdgun opened #375 "[$10] - Layout issue in the date time picker when user opens it; part of the date time picker is hidden"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user (Portraot Mode)

- Go to http://community-app.topcoder.com/challenges?

- Click Filter

- Click on Date Range

Actual Result(s)
-----------------------------------------------------------------
- Layout issue in the date time picker when user opens it; part of the date time

[2017-08-28 07:20] sdgun commented on #375
![3](https://user-images.githubusercontent.com/4592712/29763142-82a7e892-8bef-11e7-859d-5d5326e7464c.png)

[2017-08-28 07:21] sdgun commented on #366
![2](https://user-images.githubusercontent.com/4592712/29763153-8d97f04e-8bef-11e7-90d7-a6bd056bfe65.png)

[2017-08-28 07:21] sdgun commented on #367
![1](https://user-images.githubusercontent.com/4592712/29763156-90473b74-8bef-11e7-88a9-ad63427ade53.png)

[2017-08-28 07:36] sdgun opened #376 "[$10] - Number of filters applied count is not displayed in the filter area"
Steps to Reproduce
-----------------------------------------------------------------

- Open the URL

- Login as a valid user (Portraot Mode)

- Go to http://community-app.topcoder.com/challenges?

- Scroll down and click on a technology tag (eg: C++)

- Check the Filter button

Actual Result(s)
-----------------------------------------------------------------
- Number of filters applied count mus