[2019-06-08 08:01] Gauravseta commented on #2410
@thomaskranitsas apology this time, hence i already released it so someone can take it. i am still actively working on it, if i am able to find a solution then i will raise PR

[2019-06-08 08:18] satkanhub opened #2569 "Resizing the chrome browser has different screens of User profile menu"
**Describe the bug**
Resizing the chrome browser has different screens of User profile menu. Maximum screen is showing colored user profile menu. On reducing the window size, it displays a plain user profile menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and login
2. Click Work
3. Click on the User Profile
4. Keep reducing the window size of browser and observe

**Ex

[2019-06-08 08:19] ThomasKranitsas commented on #2410
Contest https://www.topcoder.com/challenges/30092764 has been updated - it has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-08 08:21] Jacob15 opened #2570 "[Community][Blog] The url is not navigating to topcoder-dev.com/blog"
**Describe the bug**
The blog url is navigating to topcoder.com/blog instead of topcoder-dev.com/blog

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test-community-app.topcoder-dev.com/challenges?'
2. Click on 'Work'
3. Click on  ''community"
4. Click on "Blog".
5. The Page is navigating to topcoder.com/blog

**Expected behavior**
The Page should be navigating to topcoder-dev

[2019-06-08 08:24] ranishetty opened #2571 "BugHunt"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-06-08 08:48] VaishaliSanthosh opened #2572 "blank screen when clicked on Competitive programming"
**Describe the bug**
Redirected to a blank screen when clicked on Competitive programming menu
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test-community-app.topcoder-dev.com/challenges'
2. Click on 'compete menu after clicking on work menu'
3. Click on Competitive programming submenu
4. See error

**Expected behavior**
it should redirect successfully.

**Screenshots**
![re

[2019-06-08 09:01] sraarum opened #2573 "UI: All the tabs are in Capital Letters in "Switch to Business" Window."
**Describe the bug**
All the tabs under Switch to Business Window "MY PROJECTS", "GETTING STARTED", "HELP" in Capital letters .

**To Reproduce**
Steps to reproduce the behavior:
1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Click on dropdown next to User profile pic
4. Click on "Switch to Business Window"
5. Displays the tabs in capita

[2019-06-08 09:01] VaishaliSanthosh opened #2574 "Search Challenges Text box and Search button goes missing when chrome window is resized"
**Describe the bug**
Search Challenges Text box and Search button goes missing when chrome window is resized

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test-community-app.topcoder-dev.com/challenges' in normal browser window size
2. Reduce the browser window size
3. Notice that Search Challenges Text box and Search button goes missing

**Expected behavior**
Search option

[2019-06-08 09:10] VaishaliSanthosh opened #2575 "search button is highlighted on mouse hover though the button is disabled"
**Describe the bug**
Search button is highlighted on mouse hover though the button is disabled, as there is no text entered in search challenge text box.
This confuses user , as it looks like button is enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test-community-app.topcoder-dev.com/challenges?
2. Hover mouse on Search icon
3. Notice that the search button is highlig

[2019-06-08 09:20] sraarum opened #2576 "UI : WORK is in Capital letters, unless it is an abbreviation of something."
**Describe the bug**
UI : WORK tab is in Capital letters, unless it is an abbreviation of something.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Main window displays "WORK" in capital letters.

**Expected behavior**
Should be represented as Work unless "WORK" is an abbreviation of som

[2019-06-08 09:25] VaishaliSanthosh opened #2577 "Topcoder icon(logo) is clickable but user is not redirected on clicking"
**Describe the bug**
Topcoder icon(logo) is clickable but user is not redirected on clicking

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test-community-app.topcoder-dev.com/challenges
2. Click on topcoder icon on the top left corner
3. No redirection

**Expected behavior**
Either the icon should not be clickable or user should be redirected on click.

**Screenshots**
![imag

[2019-06-08 09:32] VaishaliSanthosh opened #2578 "unable to view user profile from menu"
**Describe the bug**
User is not redirected to user profile when clicked on the user name/avatar
**To Reproduce**
Steps to reproduce the behavior:
1. Go to  https://test-community-app.topcoder-dev.com/challenges?
2. Click on drop down that is displayed near user name
3. Click on user name/Settings/Payments
4. Noticed that user is not redirected to corresponding page.

**Expected behavior**
User sh

[2019-06-08 09:49] VaishaliSanthosh opened #2579 "seeing few options twice - About/Contact/Help/Privacy/Terms"
**Describe the bug**
seeing few options twice - About/Contact/Help/Privacy/Terms

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test-community-app.topcoder-dev.com/challenges
2. Scroll down to the end
3. Seeing the options twice at the botton and also on the right(see screenshot)

**Expected behavior**
Menu/link can be at one place only

**Screenshots**
![image](https://user-i

[2019-06-08 10:03] VaishaliSanthosh opened #2580 "Naming convention is inconsistent for mouse hover text for social media icons"
**Describe the bug**
Naming convention is inconsistent for mouse hover text for social media icons

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test-community-app.topcoder-dev.com/challenges
2. Select any project and navigate to challenge page (eg.https://test-community-app.topcoder-dev.com/challenges/30055052)
3. Observe the mouse hover text for social media icons

**Expect

[2019-06-08 11:07] Jacob15 opened #2581 "[Mobile] Navigation dropdown has UI issue when user is not logged in"
**Describe the bug**
when user not signed in, the work submenus has UI issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test-community-app.topcoder-dev.com/challenges?'
2. Click on 'Hamburger menu.
3. Click on Work.
4. Tap on Compete.
5. Observe the dropdown issue near Compete submenu.

**Expected behavior**
The dropdown should not has UI issue near to submenu for exampl

[2019-06-08 11:14] Jacob15 opened #2582 "[General] Logo is not navigating to Home Page"
**Describe the bug**
Logo near the Hamburger menu is not navigating to home page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test-community-app.topcoder-dev.com/challenges?
2. Click on Topcoder logo
3. Observe whether its navigable.

**Expected behavior**
Selecting logo should be navigable.

**Screenshots**
![Navigation_logo](https://user-images.githubusercontent.com/13567

[2019-06-08 11:27] Jacob15 opened #2583 "After selecting Logo dropdown the cursor is turning to hand symbol"
**Describe the bug**
After selecting the profile dropdown the cursor is turning to hand symbol when focussed outwards.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test-community-app.topcoder-dev.com/challenges?'
2. Click on Login.
3. Enter Username and Password.
4. Click login.
5. Click on Profile logo. Profile menu appears.
6. Move the cursor outside of Profile menu.
7. T

[2019-06-08 11:51] VaishaliSanthosh opened #2584 "504 Gateway Time-out when clicked on Forums"
**Describe the bug**
504 Gateway Time-out when clicked on Forums

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test-community-app.topcoder-dev.com/challenges
2. Navigate to community->Forums
3. Observe the error.

**Expected behavior**
User should be navigated to respective page successfully.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![imag

[2019-06-08 14:41] alexandreeva opened #2585 "Secondary menu arrow is off when zooming out"
**Reproduction steps:**

1. Open the test URL and log in
2. Zoom in 200%
3. Click on 'Work' > 'Tracks'
4. Zoom out while observing the arrow connecting the secondary menu to the 'Tracks' section in the header

**Expected result:**
The arrow connecting the secondary menu to the header points to the center of the selected section in the header

**Actual result:**
The arrow connecting the secondary m

[2019-06-08 15:30] codejamtc opened #2586 "Clicking on the menu separator will open the menu"
![image](https://user-images.githubusercontent.com/42398485/59149216-5e53c400-89d8-11e9-8030-17410390b171.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Click on menu separator

**Actual:** Clicking on the menu separator will open the menu

**Expected:** Clicking on the menu separator should not open the menu

**Environment:** HP P

[2019-06-08 17:03] satkanhub opened #2587 "Incorrect Active State Position"
**Describe the bug**
Incorrect Active State Position

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL in 250% zoom in chrome browser and log in
2. Click on Menu bar at the left
3. Observe the Menu Active state position on the screen

**Expected behavior**
Active positionting should be appropriate.

**Screenshots**
![image](https://user-images.githubusercontent.com/51492004/5

[2019-06-08 17:27] satkanhub opened #2588 "Appearance of MORE tab is not happening correctly"
**Describe the bug**
Appearance of MORE tab is not happening correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Keep zooming the browser and you will observe **More** tab in some zoom level. In my case it appeared at 175%.
4. Keep zooming the browser and you will observe **More** tab disappearing in next zoom level. In my case it disapp

[2019-06-08 19:19] applehit16 commented on #2396
I can work on this one

[2019-06-08 19:31] iversonLv commented on #2405
Can I take this?

[2019-06-08 19:35] PrakashDurlabhji commented on #2405
even I wanted to take it, confused whether it is actually open?
@luizrrodrigues

[2019-06-08 19:40] PrakashDurlabhji commented on #2406
@luizrrodigues i am taking this

[2019-06-08 19:43] PrakashDurlabhji commented on #2406
@luizrrodrigues is it ok to work on it nowitself? or it was supposed to be taken later? though i have already started working

[2019-06-08 19:46] luizrrodrigues commented on #2405
@iversonLv sure.

@PrakashDurlabhji issues with nav_OpenForPickup

[2019-06-08 19:48] PrakashDurlabhji commented on #2406
@luizrrodrigues on which branch?

[2019-06-08 19:59] luizrrodrigues commented on #2396
Assigned to @applehit16

[2019-06-08 20:00] luizrrodrigues commented on #2406
@PrakashDurlabhji feature-new-nav

[2019-06-08 20:00] iversonLv commented on #2405
@luizrrodrigues I don't have permission set assignee and change label.
Please help with changing

Thanks.

[2019-06-08 20:02] iversonLv commented on #2397
@luizrrodrigues May I take this?

[2019-06-08 20:02] luizrrodrigues commented on #2405
Assigned to @iversonLv

[2019-06-08 20:10] iversonLv commented on #2397
@luizrrodrigues ignore.

[2019-06-08 20:18] khushimehta03 commented on #2403
@luizrrodrigues  kindly assign this to me till then I will enable 2 factor authentication and get added in group again.

[2019-06-08 21:06] luizrrodrigues commented on #2405
I'll do this manually, maybe I can't assigned in right way too, but I'll
add a comment "Assigned to... "

On Sat, Jun 8, 2019 at 5:00 PM iversonLv <notifications@github.com> wrote:

[2019-06-08 21:06] luizrrodrigues commented on #2403
Assigned to @khushimehta03

[2019-06-08 22:18] PrakashDurlabhji commented on #2406
@luizrrodrigues @ThomasKranitsas
1.in bussiness menu, all sections have same submenu as of now.
2.So currently in business menu, for just 1 section i have added submenus and for other section there are no submenu as it is irrelevant for me to add because it is going to change anyway.
3. I can add all submenus properly, kindly provide the data for href and title each.

PR at https://github.com/topc

[2019-06-08 23:02] PrakashDurlabhji commented on #2397
@luizrrodrigues PR https://github.com/topcoder-platform/community-app/pull/2591

[2019-06-09 02:52] applehit16 commented on #2396
I tried to understand the requirements

1. > the navigation menu should always be expanded once member is logged in.
rather than
![image](https://user-images.githubusercontent.com/48845164/59154363-d72d3d00-8a25-11e9-9e9c-4beb20acc1ee.png)
The "Work" should be expanded to left
![image](https://user-images.githubusercontent.com/48845164/59154368-e57b5900-8a25-11e9-9484-c261d2eb3ebf.png)
@Oanh-and-o

[2019-06-09 04:19] alexandreeva opened #2592 "dark mode displayed in mobile web but light mode on desktop"
**Reproduction steps:**

1. Open the test URL on desktop and log in
2. Click on 'Work' > 'Community'
3. Observe the mode (whether light or dark) of the second level menu
4. Open the test URL in mobile web and log in
5. Open the hamburger menu > 'Work' > 'Community'
6. Repeat step 3

**Expected result:**
If the light mode is shown on desktop, the light mode is displayed on mobile web too

**Actual

[2019-06-09 06:42] satkanhub opened #2593 "Dark Mode not found for menu under WORK"
**Describe the bug**
Dark Mode not found for menu under WORK, whereas it is available in other menu paths like WORK->Community

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Observe the menu path to see if it is in Dark Mode / Light Mode
4. Click on Community
5.  Observe the menu path to see if it is in Dark Mode / Light Mode

**Expected beha

[2019-06-09 06:59] satkanhub opened #2594 "Dark Mode disappears on switching the orientation"
**Describe the bug**
Dark Mode should be consistent across the pages in any orientation for mobile users.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Click on Community
4. Observe the Menu path which shows in Dark Mode
5. Switch the orientation of your mobile to Landscape view.
6. Observe the Menu path under Community. It is in Light Mode.

[2019-06-09 07:07] satkanhub opened #2595 "User profile menu is having different view while switching the orientation"
**Describe the bug**
User profile menu is having different view while switching the orientation

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test URL and log in
2. Click on Work
3. Click on Profile
4. Observe the Menu
5. Switch your mobile to Landscape view and observe the user profile menu.
6. You will observe Switch to BUSINESS is available in Landscape view.

**Expected behavi

[2019-06-09 08:02] luizrrodrigues commented on #2396
@applehit16

1. Yes

2. Yes, secondary navigation under *Work*.
When clicking in *Work*, *Dashboard* will be selected by default. (Like when clicking in *Complete*, *All challenges* selected by default)
When clicking in the logo if the user is logged when to go Dashboard.

3. 4.
@Oanh-and-only-Oanh @vic-tian Please confirm if we need *Payments* in the dropdown menu and *Work* secondary menu.

[2019-06-09 08:38] agnelvishal commented on #2388
https://zurich.topcoder.com/challenges redirects to https://zurich.topcoder.com/forbidden for me. Is this how it should be?

[2019-06-09 08:46] gurmeetb commented on #2388
@agnelvishal please use challenge forums. `Zurich` is a private community, try public community like Blockchain, cognitive, etc for the challenge. I have added these notes in forum too.

[2019-06-09 08:48] #2571 closed

[2019-06-09 11:33] codeMinter opened #2599 "[$30] Community Pages have wrong copyright info"
**Describe the bug**
Visit any community page and look at footer, all read 2017

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.topcoder.com'
2. Login and go to any 'https://blockchain.topcoder.com', 'https://cognitive.topcoder.com'
3. All have wrong copyright info

**Expected behavior**
All should read 2019 and not 2017

**Screenshots**
![CopyrightInfo](https://user-images.github

[2019-06-09 13:11] Jacob15 opened #2600 "[General] Default focus is not in the first option of the menu."
**Describe the bug**
After selecting work default focus is not in the first option of the menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  https://test-community-app.topcoder-dev.com/challenges
2. Click on 'Work'
3. Observe whether the "Compete' menu is selected by default.

**Expected behavior**
'Compete' menu should be selected by default.

**Screenshots**
![Navigation_default]

[2019-06-09 13:19] Jacob15 opened #2601 "[Notifications] Notifications close button is not aligned Properly."
**Describe the bug**
Notification close button appearance and alignment is not good.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test-community-app.topcoder-dev.com/challenges'
2. Click on 'Login'
3. Enter Username and Password credentials''
4. Click on drop down near the profile logo.
5. Click on the Notifications(0).
6. Observe the Close

**Expected behavior**
Notificati

[2019-06-09 13:24] Jacob15 opened #2602 "[Notifications] No Notification close/ back button present."
**Describe the bug**
Notification page doesn't have close or back buttons.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test-community-app.topcoder-dev.com/challenges'
2. Click on 'Login'
3. Enter Username and Password credentials.
4. Click Login.
5. Click on Profile logo dropdown.
6. Click on Notifications(0).
7, Observe whether close or back button is present or not.

**E

[2019-06-09 13:33] codejamtc opened #2603 "Sub menus are not expanded when user switches the orientation"
![image](https://user-images.githubusercontent.com/42398485/59159566-34aaa380-8a91-11e9-945c-878aeb361285.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Portrait)
3. Tap Menu > Work > Tracks/Compete or Community > Expand the submenu
5. Go to Landscape view

**Actual:** Submenus are not expanded when user switches the orientation

**E

[2019-06-09 13:38] Jacob15 opened #2604 "[Notification] Notification settings button is not navigable in Notifications Page"
**Describe the bug**
Notifications settings Page is not navigable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test-community-app.topcoder-dev.com/challenges'
2. Click on 'Login'
3. Enter Username and Password credentials. Click Login.
4. Click on Profile logo.
5. Tap Notifications(0).
6. In the Notifications Page tap Notification settings.
7. Notification settings Page is

[2019-06-09 16:56] nithyaasworld commented on #2599
To avoid this issue in future, Instead of hard-coding the year, it should be generated dynamically based on the current year.

[2019-06-09 17:21] nithyaasworld commented on #2420
Notification part is not yet implemented. So anything related to that is not part of this Bug Hunt.

[2019-06-09 17:21] #2420 closed

[2019-06-09 17:31] nithyaasworld commented on #2439
Notification is not part of this bug hunt.

[2019-06-09 17:31] #2439 closed

[2019-06-09 17:31] nithyaasworld commented on #2437
I think we should hide the Notification in mobile view until the Notification-part is implemented.

[2019-06-09 17:49] nithyaasworld commented on #2441
Notification is not part of this bug hunt.

[2019-06-09 17:49] #2441 closed

[2019-06-09 17:50] nithyaasworld commented on #2449
Notification is not in scope for this Bug hunt.

[2019-06-09 17:50] #2449 closed

[2019-06-09 17:51] nithyaasworld commented on #2476
Notification is not in scope for this Bug hunt.

[2019-06-09 17:51] #2476 closed

[2019-06-09 17:54] nithyaasworld commented on #2489
Notification is not part of this Bug Hunt.

[2019-06-09 17:54] #2489 closed

[2019-06-09 17:54] nithyaasworld commented on #2485
Notification is not part of this Bug Hunt.

[2019-06-09 17:54] #2485 closed

[2019-06-09 17:56] nithyaasworld commented on #2493
@codejamtc Please provide a video for us to assess this bug.

[2019-06-09 17:57] nithyaasworld commented on #2507
Notification is not part of this Bug Hunt.

[2019-06-09 17:57] #2507 closed

[2019-06-09 17:58] nithyaasworld commented on #2537
Notification is not part of this Bug Hunt.

[2019-06-09 17:58] #2537 closed

[2019-06-09 17:59] nithyaasworld commented on #2556
Notification is not part of this Bug Hunt.

[2019-06-09 17:59] #2556 closed

[2019-06-09 17:59] nithyaasworld commented on #2558
Notification is not part of this Bug Hunt.

[2019-06-09 17:59] #2558 closed

[2019-06-09 18:00] nithyaasworld commented on #2560
Notification is not part of this Bug Hunt.

[2019-06-09 18:00] #2560 closed

[2019-06-09 18:00] nithyaasworld commented on #2564
Notification is not part of this Bug Hunt.

[2019-06-09 18:00] #2564 closed

[2019-06-09 18:00] nithyaasworld commented on #2601
Notification is not part of this Bug Hunt.

[2019-06-09 18:00] #2601 closed

[2019-06-09 18:00] nithyaasworld commented on #2602
Notification is not part of this Bug Hunt.

[2019-06-09 18:00] #2602 closed

[2019-06-09 18:01] nithyaasworld commented on #2604
Notification is not part of this Bug Hunt.

[2019-06-09 18:01] #2604 closed

[2019-06-09 18:02] nithyaasworld commented on #2531
Notification is not part of this Bug Hunt.

[2019-06-09 18:02] #2531 closed

[2019-06-09 18:17] codejamtc commented on #2493
@nithyaasworld https://www.screencast.com/t/XKoikieJ3QR

[2019-06-09 18:21] RAJKUMARRRR commented on #2407
how can i assign this issue to me?

[2019-06-09 18:24] luizrrodrigues commented on #2407
Just request in comments and I'll assign to you.

[2019-06-09 18:24] luizrrodrigues commented on #2407
Assigned to @RAJKUMARRRR

[2019-06-09 18:24] RAJKUMARRRR commented on #2407
ok, thank you

[2019-06-09 18:25] nithyaasworld commented on #2422
Duplicate of https://github.com/topcoder-platform/community-app/issues/2402

[2019-06-09 18:25] #2422 closed

[2019-06-09 18:30] nithyaasworld commented on #2529
Duplicate of https://github.com/topcoder-platform/community-app/issues/2402

Please always check for duplicates before logging a new defect!

[2019-06-09 18:30] #2529 closed

[2019-06-09 18:35] nithyaasworld commented on #2578
Duplicate of #2402

Please always check for duplicates before logging a new defect!

[2019-06-09 18:35] #2578 closed

[2019-06-09 18:37] nithyaasworld commented on #2532
Duplicate of https://github.com/topcoder-platform/community-app/issues/2401

[2019-06-09 18:42] nithyaasworld commented on #2532
Duplicate of https://github.com/topcoder-platform/community-app/issues/2433

[2019-06-09 18:42] #2532 closed

[2019-06-09 19:09] nithyaasworld commented on #2424
Duplicate of https://github.com/topcoder-platform/community-app/issues/2395

[2019-06-09 19:09] #2424 closed

[2019-06-09 19:10] nithyaasworld commented on #2425
Duplicate of https://github.com/topcoder-platform/community-app/issues/2425

[2019-06-09 19:10] #2425 closed

[2019-06-09 19:15] nithyaasworld commented on #2427
Duplicate of https://github.com/topcoder-platform/community-app/issues/2395

[2019-06-09 19:15] #2427 closed

[2019-06-09 19:21] luizrrodrigues commented on #2421
Duplicate of #2403

[2019-06-09 19:22] #2421 closed

[2019-06-09 19:22] nithyaasworld commented on #2421
Thanks @luizrrodrigues

[2019-06-09 19:24] nithyaasworld commented on #2429
Out of scope

[2019-06-09 19:24] #2429 closed

[2019-06-09 19:25] nithyaasworld commented on #2429
Please read the challenge details and documents provided in the "Code documents" forum to understand the scope of this Bug Hunt.

[2019-06-09 19:26] nithyaasworld commented on #2452
Out of Scope

[2019-06-09 19:26] #2452 closed

[2019-06-09 19:27] nithyaasworld commented on #2462
Duplicate of https://github.com/topcoder-platform/community-app/issues/2398

[2019-06-09 19:27] #2462 closed

[2019-06-09 19:37] nithyaasworld commented on #2431
covered as part of https://github.com/topcoder-platform/community-app/issues/2403

[2019-06-09 19:37] #2431 closed

[2019-06-09 19:37] luizrrodrigues commented on #2403
@khushimehta03 Please make sure remove hover status from mouse pointer when a main menu or secondary menu are selected. ref #2431

[2019-06-09 19:47] nithyaasworld commented on #2435
Clarifying with Vic on this!

[2019-06-09 19:51] luizrrodrigues commented on #2423
@nithyaasworld @codejamtc This is showing, but in left side.

<img width="115" alt="image" src="https://user-images.githubusercontent.com/7029641/59163378-d1dbfb00-8ad6-11e9-819f-ad8615e1ff05.png">

[2019-06-09 19:55] nithyaasworld commented on #2432
It should display the collapsed and expanded arrow as necessary. Design reference:

![image](https://user-images.githubusercontent.com/5114190/59163418-af6dd000-8b1e-11e9-84d1-7b28ac46bb28.png)

[2019-06-09 20:08] nithyaasworld commented on #2436
![image](https://user-images.githubusercontent.com/5114190/59163580-7d5d6d80-8b20-11e9-8424-dee0815543a2.png)

[2019-06-09 20:12] nithyaasworld commented on #2438
This is similar to https://github.com/topcoder-platform/community-app/issues/2432

![image](https://user-images.githubusercontent.com/5114190/59163618-f8bf1f00-8b20-11e9-9ec7-45ffaf903ef5.png)

[2019-06-09 20:18] nithyaasworld commented on #2445
![image](https://user-images.githubusercontent.com/5114190/59163678-ceba2c80-8b21-11e9-8ce9-4ed0d511b0b2.png)

[2019-06-09 20:19] nithyaasworld commented on #2446
similar to https://github.com/topcoder-platform/community-app/issues/2435

[2019-06-09 20:19] #2446 closed

[2019-06-09 20:20] luizrrodrigues commented on #2430
Please check hover status here: https://marvelapp.com/89423f8/screen/54465717

[2019-06-09 20:21] nithyaasworld commented on #2447
Duplicate of https://github.com/topcoder-platform/community-app/issues/2445

[2019-06-09 20:21] #2447 closed

[2019-06-09 20:25] nithyaasworld commented on #2450
Expected design:

![image](https://user-images.githubusercontent.com/5114190/59163762-cc0c0700-8b22-11e9-93be-5bc7da22fde4.png)

[2019-06-09 20:26] nithyaasworld commented on #2450
Instead of Notification, we should have Switch to Business.

[2019-06-09 20:26] PrakashDurlabhji commented on #2430
@luizrrodrigues is this open?

[2019-06-09 20:29] nithyaasworld commented on #2437
Notification will be removed and Switch to Business option will be displayed as part of https://github.com/topcoder-platform/community-app/issues/2450

[2019-06-09 20:29] #2437 closed

[2019-06-09 20:31] nithyaasworld commented on #2445
Duplicate of https://github.com/topcoder-platform/community-app/issues/2398

[2019-06-09 20:31] #2445 closed

[2019-06-09 20:39] luizrrodrigues commented on #2438
Duplicate of #2432

[2019-06-09 20:39] #2438 closed

[2019-06-09 20:40] luizrrodrigues commented on #2432
Please make sure to fix issue reported in #2438 too. (are related issues)

[2019-06-09 20:42] nithyaasworld commented on #2454
Thanks @kiranmaroju this will be fixed as part of https://github.com/topcoder-platform/community-app/issues/2432

[2019-06-09 20:42] #2454 closed

[2019-06-09 20:44] nithyaasworld commented on #2456
@codejamtc can you please mark in your screenshot about what is hidden?

[2019-06-09 20:47] nithyaasworld commented on #2459
That's the short bio of the user and there are already 2 bugs logged around this part.

[2019-06-09 20:47] #2459 closed

[2019-06-09 20:49] nithyaasworld commented on #2461
Related bugs: https://github.com/topcoder-platform/community-app/issues/2450 and https://github.com/topcoder-platform/community-app/issues/2398

[2019-06-09 20:49] #2461 closed

[2019-06-09 20:51] luizrrodrigues commented on #2430
@PrakashDurlabhji No yet, sorry.

[2019-06-09 20:51] nithyaasworld commented on #2464
duplicate

[2019-06-09 20:51] #2464 closed

[2019-06-09 20:52] nithyaasworld commented on #2465
duplicate

[2019-06-09 20:52] #2465 closed

[2019-06-09 20:54] nithyaasworld commented on #2466
similar to https://github.com/topcoder-platform/community-app/issues/2426

[2019-06-09 20:54] #2466 closed

[2019-06-09 20:54] codejamtc commented on #2456
@nithyaasworld If we are in the Menu > Work > Compete > All Challenges, because of the submenu 'Compete' > Challenges, SRM, Tracks, and Filter parts are hidden by the menu

![59125553-46bd0280-8928-11e9-860a-202e819fb87e](https://user-images.githubusercontent.com/42398485/59164138-bff65a00-8ace-11e9-9ca7-c7b9af6053fd.png)

Expecting:

![image](https://user-images.githubusercontent.com/42398485/591

[2019-06-09 20:54] nithyaasworld commented on #2467
duplicate

[2019-06-09 20:54] #2467 closed

[2019-06-09 20:55] nithyaasworld commented on #2469
covered as part of https://github.com/topcoder-platform/community-app/issues/2398

[2019-06-09 20:55] #2469 closed

[2019-06-09 20:56] #2472 closed

[2019-06-09 20:57] nithyaasworld commented on #2480
Out of Scope

[2019-06-09 20:57] #2480 closed

[2019-06-09 20:57] nithyaasworld commented on #2491
Out of Scope

[2019-06-09 20:57] #2491 closed

[2019-06-09 20:58] nithyaasworld commented on #2508
duplicate

[2019-06-09 20:58] #2508 closed

[2019-06-09 20:58] nithyaasworld commented on #2510
out of scope

[2019-06-09 20:58] #2510 closed

[2019-06-09 20:59] nithyaasworld commented on #2512
out of scope

[2019-06-09 20:59] #2512 closed

[2019-06-09 20:59] nithyaasworld commented on #2516
out of scope

[2019-06-09 20:59] #2516 closed

[2019-06-09 21:02] luizrrodrigues commented on #2453
@codejamtc @nithyaasworld What is changed here is the domain:

https://test-community-app.topcoder-dev.com
to
https://www.topcoder-dev.com/challenges

<img width="959" alt="Screen Shot 2019-06-09 at 17 59 03" src="https://user-images.githubusercontent.com/7029641/59164218-8cbcc680-8ae0-11e9-89a9-c88f0202fe17.png">

So need make sure links have right path/domain.

[2019-06-09 21:03] nithyaasworld commented on #2470
If you mean "Business" is not displayed, it is already reported here: https://github.com/topcoder-platform/community-app/issues/2406

[2019-06-09 21:03] #2470 closed

[2019-06-09 21:04] nithyaasworld commented on #2477
duplicate

[2019-06-09 21:04] #2477 closed

[2019-06-09 21:04] #2488 closed

[2019-06-09 21:05] satkanhub commented on #2508
Can you give reference number please.

Thanks

[2019-06-09 21:06] nithyaasworld commented on #2497
It is as designed.

[2019-06-09 21:06] #2497 closed

[2019-06-09 21:08] nithyaasworld commented on #2555
duplicate

[2019-06-09 21:08] #2555 closed

[2019-06-09 21:11] nithyaasworld commented on #2553
Out of scope

[2019-06-09 21:11] #2553 closed

[2019-06-09 21:12] nithyaasworld commented on #2557
Duplicate of https://github.com/topcoder-platform/community-app/issues/2405

[2019-06-09 21:12] #2557 closed

[2019-06-09 21:13] nithyaasworld commented on #2584
Out of Scope

[2019-06-09 21:13] #2584 closed

[2019-06-09 21:13] nithyaasworld commented on #2580
Out of Scope

[2019-06-09 21:13] #2580 closed

[2019-06-09 21:13] nithyaasworld commented on #2579
Out of scope

[2019-06-09 21:13] #2579 closed

[2019-06-09 21:14] nithyaasworld commented on #2575
Out of scope

[2019-06-09 21:14] #2575 closed

[2019-06-09 21:16] nithyaasworld commented on #2572
It says to wait. I dont see any error in your screenshot.

Moreover, its Out of Scope.

[2019-06-09 21:16] #2572 closed

[2019-06-09 21:16] nithyaasworld commented on #2574
Out of Scope

[2019-06-09 21:16] #2574 closed

[2019-06-09 21:16] nithyaasworld commented on #2554
Out of Scope

[2019-06-09 21:16] #2554 closed

[2019-06-09 21:23] nithyaasworld commented on #2538
duplicate https://github.com/topcoder-platform/community-app/issues/2407

[2019-06-09 21:23] #2538 closed

[2019-06-09 21:23] nithyaasworld commented on #2536
duplicate https://github.com/topcoder-platform/community-app/issues/2407

[2019-06-09 21:23] #2536 closed

[2019-06-09 21:25] nithyaasworld commented on #2474
duplicate https://github.com/topcoder-platform/community-app/issues/2398

[2019-06-09 21:25] #2474 closed

[2019-06-09 21:26] nithyaasworld commented on #2475
root cause of the screen being resized: https://github.com/topcoder-platform/community-app/issues/2407

[2019-06-09 21:26] #2475 closed

[2019-06-09 21:29] nithyaasworld commented on #2479
Duplicate of https://github.com/topcoder-platform/community-app/issues/2407

[2019-06-09 21:29] #2479 closed

[2019-06-09 21:34] nithyaasworld commented on #2565
This is as per design. Please check: https://marvelapp.com/89423f8/screen/54465717

[2019-06-09 21:34] #2565 closed

[2019-06-09 21:35] rashmi73 commented on #2398
@luizrrodrigues PR on navigation component https://github.com/topcoder-platform/navigation-component/pull/2

[2019-06-09 21:35] nithyaasworld commented on #2563
You are comparing with the mobile design. Please check: https://marvelapp.com/89423f8/screen/54465717

[2019-06-09 21:35] #2563 closed

[2019-06-09 21:37] nithyaasworld commented on #2526
Out of Scope

[2019-06-09 21:37] #2526 closed

[2019-06-09 21:43] nithyaasworld commented on #2495
@codejamtc Please attach screenshot

[2019-06-09 21:45] nithyaasworld commented on #2517
Thanks @alexandreeva but this is covered in https://github.com/topcoder-platform/community-app/issues/2395

[2019-06-09 21:45] #2517 closed

[2019-06-09 21:47] nithyaasworld commented on #2495
Also did you compare it with the Design in **HandOff mode**? are the font, size and other attribute of the sub menu same as in the Design spec.

[2019-06-09 21:48] nithyaasworld commented on #2562
As designed. Please check https://marvelapp.com/89423f8/screen/54465717

[2019-06-09 21:48] #2562 closed

[2019-06-09 21:49] codejamtc commented on #2495
![image](https://user-images.githubusercontent.com/42398485/59164697-3054a980-8ad6-11e9-961d-79bcdbb21ee7.png)

https://marvelapp.com/89423f8/screen/54595272

[2019-06-09 22:20] MtuMartian commented on #2586
I would like to work on this issue but do not have permission to self assign

[2019-06-10 05:50] nithyaasworld commented on #2493
Thanks @codejamtc

[2019-06-10 05:55] nithyaasworld commented on #2508
Please check the already accepted bug list (bugs with the label: nav_bugaccepted)

[2019-06-10 06:15] satkanhub commented on #2508
Thanks.... Found #2432

[2019-06-10 06:40] nithyaasworld commented on #2483
Thats as per the design: https://marvelapp.com/89423f8/screen/54595272/handoff

[2019-06-10 06:40] #2483 closed

[2019-06-10 06:42] nithyaasworld commented on #2494
duplicate

[2019-06-10 06:42] #2494 closed

[2019-06-10 06:46] nithyaasworld commented on #2495
@codejamtc Can you please tell me in detail about what is the Expected Font and what is the Actual Font?

Please use this link to see the design in handoff mode: https://marvelapp.com/89423f8/screen/54595272/handoff

Click on the Solutions menu in the design screen. It opens the Solutions' CSS at the right panel. Compare it with the actual and post your results here. Thanks.

![image](https://user

[2019-06-10 06:49] nithyaasworld commented on #2496
@luizrrodrigues are we covering this as part of any other bug? Thanks.

[2019-06-10 06:56] nithyaasworld commented on #2498
@coderkid19 Please provide a video. I couldnt' reproduce this on my Firefox.

[2019-06-10 06:59] nithyaasworld commented on #2499
Challenge listing page is public. so its accessible even after logging out.

[2019-06-10 06:59] #2499 closed

[2019-06-10 07:00] nithyaasworld commented on #2500
duplicate

[2019-06-10 07:00] #2500 closed

[2019-06-10 07:00] nithyaasworld commented on #2501
duplicate

[2019-06-10 07:00] #2501 closed

[2019-06-10 07:01] nithyaasworld commented on #2503
duplicate

[2019-06-10 07:01] #2503 closed

[2019-06-10 07:06] nithyaasworld commented on #2506
Thanks @sraarum But this is as per the design.

[2019-06-10 07:22] nithyaasworld commented on #2509
duplicate

[2019-06-10 07:22] #2509 closed

[2019-06-10 07:23] sushilshinde commented on #2359
@rashmi73 thanks. Deployment pipeline has been a little busy, so it's taking time.

[2019-06-10 07:25] nithyaasworld commented on #2511
Out of Scope

[2019-06-10 07:25] #2511 closed

[2019-06-10 07:54] coderkid19 commented on #2498
Hi @nithyaasworld,

Please check. attached video in zip format.

[2498.zip](https://github.com/topcoder-platform/community-app/files/3271086/2498.zip)

[2019-06-10 07:56] sushilshinde commented on #2381
Thanks @suppermancool :)

[2019-06-10 07:56] #2381 closed

[2019-06-10 07:57] ThomasKranitsas commented on #2381
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30092214<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-10 07:58] #1203 closed

[2019-06-10 08:46] nithyaasworld commented on #2520
@luizrrodrigues If you think its an existing issue and not related to navigation, please remove the navigation label. Let us look into this bug later. Thanks.

[2019-06-10 09:14] kkartunov opened #2607 ""General" theme support for Contentful components"
Extract a new theme(inheriting current TCO19) called "General" for `contentBlock` and `Banner` components.

[2019-06-10 09:23] sushilshinde commented on #2416
@PrakashDurlabhji @ThomasKranitsas
Compare my challenges on

https://www.topcoder.com/challenges

vs

https://beta-community-app.topcoder.com/challenges

<img width="1654" alt="Topcoder Challenges 2019-06-10 14-51-47" src="https://user-images.githubusercontent.com/683231/59186005-73bf1e80-8b8f-11e9-8fc9-72ac335322d1.png">

[2019-06-10 09:26] kkartunov commented on #2607
Playground: https://community-app.topcoder.com/examples/contentful/viewport/5X7Hh6yfySd1rO3ktxWXfI
Source: https://app.contentful.com/spaces/b5f1djy59z3a/entries/5X7Hh6yfySd1rO3ktxWXfI

[2019-06-10 09:34] ThomasKranitsas commented on #2387
@nauhil let's go with option A, please

[2019-06-10 09:49] nithyaasworld commented on #2393
Also the Sub community filter values are changed, when returning from challenge Details page to Challenge listing page.

![image](https://user-images.githubusercontent.com/5114190/59187167-66effa00-8b92-11e9-8fcf-535b2d457b68.png)

![image](https://user-images.githubusercontent.com/5114190/59187416-07461e80-8b93-11e9-8846-49952f59da73.png)

[2019-06-10 09:50] nithyaasworld commented on #2393
@sushilshinde Changed the priority to P3 from P4 because of the above issue.

[2019-06-10 10:09] sraarum commented on #2506
@nithyaasworld: Nithya I have added 2 screenshots for comparison. 1st screenshot is the right one but didn't highlight work tab. Thanks for your help.

[2019-06-10 10:14] nithyaasworld commented on #2457
@alexandreeva What highlight are you expecting? I see an upward arrow under the "Work" which indicates the user is currently in Work.

[2019-06-10 10:17] nithyaasworld commented on #2523
@luizrrodrigues Please confirm if we are already covering this in any other bug. Thanks.

[2019-06-10 10:20] nithyaasworld commented on #2524
@satkanhub Can you please detail about what Menu Path are you referring here?

[2019-06-10 10:22] nithyaasworld commented on #2525
It is as designed

[2019-06-10 10:22] #2525 closed

[2019-06-10 10:34] nithyaasworld commented on #2527
![image](https://user-images.githubusercontent.com/5114190/59190107-7a529380-8b99-11e9-8c7f-5adfb3efedd3.png)

[2019-06-10 10:37] nithyaasworld commented on #2528
duplicate of https://github.com/topcoder-platform/community-app/issues/2523

[2019-06-10 10:37] #2528 closed

[2019-06-10 10:43] luizrrodrigues commented on #2496
@nithyaasworld Yes.

[2019-06-10 10:44] nithyaasworld commented on #2533
Duplicate of https://github.com/topcoder-platform/community-app/issues/2498

[2019-06-10 10:44] #2533 closed

[2019-06-10 11:00] #2496 closed

[2019-06-10 11:09] nithyaasworld commented on #2502
duplicate

[2019-06-10 11:09] #2502 closed

[2019-06-10 11:30] nithyaasworld commented on #2535
duplicate of #2530

[2019-06-10 11:30] #2535 closed

[2019-06-10 11:32] nithyaasworld commented on #2534
Should be fixed as part of https://github.com/topcoder-platform/community-app/issues/2493

[2019-06-10 11:32] #2534 closed

[2019-06-10 11:36] nithyaasworld commented on #2539
@alexandreeva I am not able to reproduce this. Please provide a video proof for us to assess.

[2019-06-10 12:15] sushilshinde commented on #2607
Deployed on prod

[2019-06-10 12:15] #2607 closed

[2019-06-10 13:13] #681 closed

[2019-06-10 13:14] #475 closed

[2019-06-10 13:14] #447 closed

[2019-06-10 13:14] #519 closed

[2019-06-10 13:15] #521 closed

[2019-06-10 13:16] #782 closed

[2019-06-10 13:17] #760 closed

[2019-06-10 13:17] #747 closed

[2019-06-10 13:39] gets0ul commented on #2453
Is this open? Can I work on this?

[2019-06-10 14:06] luizrrodrigues commented on #2453
Yep, this is open.

[2019-06-10 14:07] luizrrodrigues commented on #2453
Assigned to @gets0ul

[2019-06-10 14:28] ajefts commented on #2277
@sushilshinde This is the issue we chatted about in slack that is still happening.

[2019-06-10 14:28] ThomasKranitsas commented on #2277
Contest https://www.topcoder.com/challenges/30087714 has been updated - it has been assigned to _sushilshinde.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-10 15:17] gets0ul commented on #2453
@luizrrodrigues
So for example, from https://test-community-app.topcoder-dev.com/challenges
the QA track should be
https://test-community-app.topcoder-dev.com/community/qa
instead of
https://www.topcoder-dev.com/community/qa

Is that correct?

[2019-06-10 15:20] nahidshahin commented on #2450
@luizrrodrigues can I pick this issue?

[2019-06-10 15:25] satkanhub commented on #2524
@nithyaasworld  Sub Menu under WORK shows as Compete / Track / Community. But it is not the same as per Marvel app.

[2019-06-10 15:28] luizrrodrigues commented on #2453
@gets0ul Yes, that is right.

[2019-06-10 15:37] alexandreeva commented on #2539
@nithyaasworld , here is a link to google drive and a zip file with the video

https://drive.google.com/open?id=1IJgm0fsLXkvvQacqvhd10EY14ThUQ6aS

[RPReplay_Final1560180334.zip](https://github.com/topcoder-platform/community-app/files/3272737/RPReplay_Final1560180334.zip)

[2019-06-10 15:42] alexandreeva commented on #2457
@nithyaasworld I assumed 'Work' would be green as shown on this marvel app screen

![Capture](https://user-images.githubusercontent.com/45698232/59207200-71db6800-8b5b-11e9-9f4b-86108b805f60.JPG)

[2019-06-10 15:49] nithyaasworld commented on #2524
Ok! Thats the design prototype for the nav component! Not the actual values we should expect in our app.

[2019-06-10 15:49] #2524 closed

[2019-06-10 15:55] nithyaasworld commented on #2539
During login, it redirects to topcoder-dev from the test environment.

@luizrrodrigues Please confirm if this is an issue to look at. I hope not. Thanks.

[2019-06-10 16:34] luizrrodrigues commented on #2450
@PrakashDurlabhji Please note some members can't auto assign the issue. Make sure to check comments if anyone request to pick. @nahidshahin Requested this first, I'll pass to him is ok?

[2019-06-10 16:36] PrakashDurlabhji commented on #2450
@luizrrodrigues sorry did not see his comment as i was in hurry.

[2019-06-10 16:38] luizrrodrigues commented on #2450
Thanks @PrakashDurlabhji

@nahidshahin this one was assigned to you.

[2019-06-10 16:41] luizrrodrigues commented on #2430
@PrakashDurlabhji This open for pickup now. :)

[2019-06-10 16:44] luizrrodrigues commented on #2539
@nithyaasworld this issue is related with #2453.

Add **backlog** flag to this one.

[2019-06-10 16:54] PrakashDurlabhji commented on #2430
@luizrrodrigues raising PR immediately

[2019-06-10 17:08] vic-tian commented on #2419
no, it means that unlike our current navigation, everything should happen on click, not on hover. The pages should be loading in the same window, not in a new. Thanks for clarifying this.

[2019-06-10 17:19] nithyaasworld commented on #2544
Expected behavior is:

We have another bug to address the above

[2019-06-10 17:19] #2544 closed

[2019-06-10 17:20] nithyaasworld commented on #2551
similar to https://github.com/topcoder-platform/community-app/issues/2518

[2019-06-10 17:20] #2551 closed

[2019-06-10 17:21] nithyaasworld commented on #2588
Same as https://github.com/topcoder-platform/community-app/issues/2543

[2019-06-10 17:21] #2588 closed

[2019-06-10 17:27] nithyaasworld commented on #2545
same as https://github.com/topcoder-platform/community-app/issues/2481

[2019-06-10 17:27] #2545 closed

[2019-06-10 17:28] nithyaasworld commented on #2546
Duplicate

[2019-06-10 17:28] #2546 closed

[2019-06-10 17:28] nithyaasworld commented on #2547
similar to https://github.com/topcoder-platform/community-app/issues/2546

[2019-06-10 17:28] #2547 closed

[2019-06-10 17:29] nithyaasworld commented on #2548
duplicate

[2019-06-10 17:29] #2548 closed

[2019-06-10 17:31] nithyaasworld commented on #2549
User menu should not be scrollable in mobile view. This is covered as part of another bug.

[2019-06-10 17:31] #2549 closed

[2019-06-10 17:31] gets0ul commented on #2453
MR is submitted. I can't change the label to Assigned.
Thanks

[2019-06-10 17:35] nithyaasworld commented on #2550
similar to https://github.com/topcoder-platform/community-app/issues/2513

[2019-06-10 17:35] #2550 closed

[2019-06-10 17:44] nithyaasworld commented on #2559
Similar bugs: https://github.com/topcoder-platform/community-app/issues/2567  and https://github.com/topcoder-platform/community-app/issues/2568

@luizrrodrigues As part of this bug, We need to make sure that tooltip is not displayed for all the elements of nav-bar.

[2019-06-10 17:46] luizrrodrigues commented on #2453
@gets0ul Changed, thanks.

[2019-06-10 17:46] nithyaasworld commented on #2567
similar to https://github.com/topcoder-platform/community-app/issues/2559

[2019-06-10 17:46] #2567 closed

[2019-06-10 17:46] nithyaasworld commented on #2568
similar to https://github.com/topcoder-platform/community-app/issues/2559

[2019-06-10 17:46] #2568 closed

[2019-06-10 17:51] nithyaasworld commented on #2566
Duplicate of https://github.com/topcoder-platform/community-app/issues/2523

[2019-06-10 17:51] #2566 closed

[2019-06-10 17:52] nithyaasworld commented on #2569
As designed

[2019-06-10 17:52] #2569 closed

[2019-06-10 17:53] nithyaasworld commented on #2570
@luizrrodrigues Hope we are covering this as part of another bug! Please confirm. Thanks.

[2019-06-10 17:57] nithyaasworld commented on #2573
Out of Scope

[2019-06-10 17:57] #2573 closed

[2019-06-10 17:58] nithyaasworld commented on #2576
Sorry, it is as designed :)

[2019-06-10 17:58] #2576 closed

[2019-06-10 18:00] nithyaasworld commented on #2577
Duplicate of https://github.com/topcoder-platform/community-app/issues/2496

[2019-06-10 18:00] #2577 closed

[2019-06-10 18:01] nithyaasworld commented on #2581
Duplicate

[2019-06-10 18:01] #2581 closed

[2019-06-10 18:02] nithyaasworld commented on #2582
Duplicate

[2019-06-10 18:02] #2582 closed

[2019-06-10 18:22] nithyaasworld commented on #2583
@luizrrodrigues Is this an intended design?

[2019-06-10 18:22] nithyaasworld commented on #2585
duplicate

[2019-06-10 18:22] #2585 closed

[2019-06-10 18:24] nithyaasworld commented on #2587
duplicate

[2019-06-10 18:24] #2587 closed

[2019-06-10 18:27] nithyaasworld commented on #2593
same as https://github.com/topcoder-platform/community-app/issues/2592

Application currently has light mode

[2019-06-10 18:27] #2593 closed

[2019-06-10 18:27] nithyaasworld commented on #2594
duplicate of https://github.com/topcoder-platform/community-app/issues/2592

[2019-06-10 18:27] #2594 closed

[2019-06-10 18:28] nithyaasworld commented on #2595
duplicate

[2019-06-10 18:28] #2595 closed

[2019-06-10 18:32] codejamtc commented on #2495
I can see Roboto as the font in the design document

![image](https://user-images.githubusercontent.com/42398485/59217564-d4485e80-8b83-11e9-81b6-e3d23a2891f9.png)

But I couldn't track down the font visible on the iPad Safari since I don't own a MacBook I don't think they have in-built developer tool for mobile safari in iPad or iPhone.

[2019-06-10 18:37] #2419 closed

[2019-06-10 18:50] nithyaasworld commented on #2600
Not in design. Only if you have already selected  the compete section, it will show the selection-indicator.

[2019-06-10 18:50] #2600 closed

[2019-06-10 18:52] nithyaasworld commented on #2495
So how do you say " Different font loaded for the sub menu titles" ?

[2019-06-10 18:59] codejamtc commented on #2495
@nithyaasworld It's visually different. Design vs iPad (Safari)

[2019-06-10 18:59] nithyaasworld commented on #2435
It should have "member since..." info instead of Short Bio. Design Reference attached below:

![image](https://user-images.githubusercontent.com/5114190/59219364-e6f08100-8bdf-11e9-913d-3aa7ef1e4d77.png)

[2019-06-10 19:06] nithyaasworld commented on #2434
@luizrrodrigues Please confirm if we are covering this as part of any other bug. Thanks.

[2019-06-10 19:09] nithyaasworld commented on #2433
@luizrrodrigues Please confirm if we are covering this as part of any other bug. As far as I searched, there is no bug logged for navigating from https://test-community-app.topcoder-dev.com/settings/profile screen.

[2019-06-10 19:16] nithyaasworld commented on #2495
Hey @codejamtc It seems like you are referencing "WORK" which has Roboto font. But the reported  bug is for the "Compete" menu which has the "BarlowCondensed".

"Compete" is same in both mobile view as well as in Desktop view.

Am I missing something ?

[2019-06-10 19:22] PrakashDurlabhji commented on #2430
@luizrrodrigues https://marvelapp.com/89423f8/screen/54465717

on above link, hover state for dark screen is given.

whereas how it will look on light theme?

[2019-06-10 19:23] nithyaasworld commented on #2552
same as https://github.com/topcoder-platform/community-app/issues/2498

[2019-06-10 19:23] #2552 closed

[2019-06-10 19:31] luizrrodrigues commented on #2433
@nithyaasworld this one is duplication of #2395

[2019-06-10 19:31] luizrrodrigues commented on #2433
Duplicate of #2395

[2019-06-10 19:32] luizrrodrigues commented on #2434
@nithyaasworld this is duplication of #2395

[2019-06-10 19:33] luizrrodrigues commented on #2434
Duplicate of #2395

[2019-06-10 19:38] #2433 closed

[2019-06-10 19:38] #2434 closed

[2019-06-10 19:42] luizrrodrigues commented on #2523
@nithyaasworld Yep, we take care about this in #2450

And some items was moved to secondary menu in **Work** menu, here #2396

[2019-06-10 19:43] luizrrodrigues commented on #2561
@nithyaasworld For now add **Backlog** to this one.

2 existing issue will fix that: #2395 and #2453

[2019-06-10 19:47] codejamtc commented on #2495
@nithyaasworld I am sorry about that, I am referring to the sub-menus "Compete", "Tracks" and "Community"

![image](https://user-images.githubusercontent.com/42398485/59221862-d9121000-8b8d-11e9-82bd-49c31dbc3bd6.png)

**Original iPad Mobile Safari Screenshot:**

![image](https://user-images.githubusercontent.com/42398485/59164697-3054a980-8ad6-11e9-961d-79bcdbb21ee7.png)

**Android Mobile screens

[2019-06-10 19:49] luizrrodrigues commented on #2570
@nithyaasworld looks like no blog setup to test-community-app server:
https://test-community-app.topcoder-dev.com/blog/

But issue #2395 will fix that.

[2019-06-10 19:49] nithyaasworld commented on #2523
Marking this as nav_BugAccepted to credit the reported.

[2019-06-10 19:57] nithyaasworld commented on #2495
@luizrrodrigues I am not sure if it is just the visual difference or there is actual font mismatch in mobile Safari. Please take care. Thanks.

[2019-06-10 19:59] nithyaasworld commented on #2570
Thanks @luizrrodrigues for all the help!

I will mark this one as Accepted to credit the reporter.

[2019-06-10 20:02] luizrrodrigues commented on #2583
@nithyaasworld This a bug when mouse hover status, is valid.

[2019-06-10 20:06] luizrrodrigues commented on #2430
@PrakashDurlabhji Just scroll a little more to bottom, then you able to see hover in light theme too. :)

Check:
![image](https://user-images.githubusercontent.com/7029641/59223346-108ab780-8ba2-11e9-9533-8358ab0270c2.png)

[2019-06-10 20:10] PrakashDurlabhji commented on #2430
@luizrrodrigues thanks, but i am not able to find colour of that bar in marvel handoff.

[2019-06-10 20:12] nahidshahin commented on #2450
@luizrrodrigues PR https://github.com/topcoder-platform/navigation-component/pull/3

[2019-06-10 20:32] PrakashDurlabhji commented on #2416
@sushilshinde yes updating it

[2019-06-10 20:35] luizrrodrigues commented on #2495
@nithyaasworld @codejamtc Here looks fine in iPhone Simulator:

![image](https://user-images.githubusercontent.com/7029641/59225054-28fcd100-8ba6-11e9-90bd-9c9d5f86409c.png)

[2019-06-10 21:03] luizrrodrigues commented on #2430
@PrakashDurlabhji color of line bellow test is: #D4D4D4

[2019-06-10 22:02] PrakashDurlabhji commented on #2430
@luizrrodrigues PR https://github.com/topcoder-platform/navigation-component/pull/4

[2019-06-11 00:04] luizrrodrigues commented on #2495
@nithyaasworld This is font mismatch, check bellow TCO have right font, (See the **C**):

![Screen Shot 2019-06-10 at 21 02 13](https://user-images.githubusercontent.com/7029641/59234485-52782580-8bc3-11e9-8672-3e1177017d56.png)

[2019-06-11 00:15] luizrrodrigues commented on #2498
@nithyaasworld @coderkid19 Actually, nav back to normal position, the bug is with mobile menu, if open mobile menu this not close when back to Desktop view.

I'll update the title.

[2019-06-11 00:20] luizrrodrigues commented on #2522
@nithyaasworld This one is duplication of #2395

[2019-06-11 00:20] luizrrodrigues commented on #2522
Duplicate of #2395

[2019-06-11 00:31] luizrrodrigues commented on #2519
@codejamtc I can't see **more** button, can you please share what is pixel resolution of your tablet?

Tip. You can access this site from your tablet: https://www.mydevice.io

[2019-06-11 00:34] codejamtc commented on #2519
Samsung Galaxy Tab A (2017), **7 inch** > 962px 60em

[2019-06-11 00:41] luizrrodrigues commented on #2520
This is an existing bug os settings page in IE11.

And able to see this error without login too.

![image](https://user-images.githubusercontent.com/7029641/59235492-fcf24780-8bc7-11e9-89c9-37e567db35b2.png)

[2019-06-11 04:59] nithyaasworld commented on #2495
Thanks @luizrrodrigues. Got that!

 By design, First level menus are of font BarlowCondensed and Second Level Menus are of font Roboto.

But checking the letter "C" of the **FIRST LEVEL MENU** (which Compete, Tracks, Community) in Android Chrome and iOS Safari looks different. This needs to be fixed.

[2019-06-11 05:24] nauhil commented on #2387
OK.

I'll implement it ASAP

[2019-06-11 05:42] luizrrodrigues commented on #2514
@nithyaasworld  This one will be fixed in #2515

[2019-06-11 05:43] luizrrodrigues commented on #2515
Please make sure to fix bug related in #2514

[2019-06-11 05:47] luizrrodrigues commented on #2519
@codejamtc Thanks

[2019-06-11 05:47] luizrrodrigues commented on #2519
@nithyaasworld This is duplication of #2518

[2019-06-11 05:47] luizrrodrigues commented on #2519
Duplicate of #2518

[2019-06-11 05:50] luizrrodrigues commented on #2518
@nithyaasworld This will be fixed in #2519

[2019-06-11 05:50] luizrrodrigues commented on #2518
Duplicate of #2519

[2019-06-11 05:51] luizrrodrigues commented on #2519
Please make sure to fix issue related in #2518

[2019-06-11 06:02] luizrrodrigues commented on #2530
@nithyaasworld This will be fixed in following issues: #2403 #2407 #2498

[2019-06-11 06:15] luizrrodrigues commented on #2541
@nithyaasworld First report about deselect when click in **Work** again, conflict with this issue #2403

And second report about click in **Logo** need back to home, will be fixed here #2396

[2019-06-11 06:21] luizrrodrigues commented on #2542
@nithyaasworld just added P1 back, this is right?

[2019-06-11 06:27] luizrrodrigues commented on #2586
@MtuMartian This one no Open For Pickup yet.
I'll let you know when open.

[2019-06-11 06:30] nithyaasworld opened #2612 "Regarding Verified Badge Tooltip"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/members/luizrrodrigues or to any member profile page
2. Hover over the Verified Skill Badge (Blue Tick present under some of the skills)
3. Check the Tooltip

**Actual behavior**
It shows some unknown value

**Expected behavior**
It could say something useful like "This Skill is Verified" on hover.

**Screenshots**

[2019-06-11 08:10] nauhil commented on #2387
Just update topcoder-react-lib

PR https://github.com/topcoder-platform/topcoder-react-lib/pull/71

@sushilshinde @ThomasKranitsas Please check it

[2019-06-11 08:25] satkanhub commented on #2594
@nithyaasworld I have checked the duplicate ticket. The issue in 2592 is different to the one I highlighted here. Dark mode is disappearing while changing the view on mobile. This issue is not highlighted in 2592. Could you please check and reopen.

[2019-06-11 08:30] satkanhub commented on #2568
@nithyaasworld Even though the UI issue is similar, the issue is highlighted for different object. Is this still a duplicate ?

[2019-06-11 08:32] satkanhub commented on #2567
@nithyaasworld Even though the issue is similar, is this still not a new bug ? I understand duplicate, but what it means to **Similar** which i am unable to understand. Untill we find the issues on all objects. it was never know on where the similar issues are ?

[2019-06-11 08:34] satkanhub commented on #2595
@nithyaasworld Can you help me with the reference number please. I tried to check, could not succeed.

[2019-06-11 16:47] cwdcwd commented on #2367
this should all be doable except for maybe the title filter. That could probably be done client side in whatever component we build that fetches the data.
technology filter example https://api.topcoder.com/v4/challenges?filter=technologies%3Dnode.js

[2019-06-11 16:48] nahidshahin commented on #2432
PR https://github.com/topcoder-platform/navigation-component/pull/5

[2019-06-11 20:01] hokienick opened #2614 "General Theme - Table - Formatting Update"
Please see the table in [Rodeo 2](https://community-app.topcoder.com/examples/contentful/viewport/4GDArUQpRx3jOmrjYAJgo0) as an example.

<img width="603" alt="Screen Shot 2019-06-11 at 12 42 19 PM" src="https://user-images.githubusercontent.com/1373998/59302448-d7595280-8c48-11e9-9d7a-0a136f4b5e7d.png">

In the CSS for <td> for the first-child we have it set to `padding-left:10px`
Please set the

[2019-06-11 20:21] hokienick opened #2615 "Newsletter Archive - Formatting Fixes"
Just a few minor fixes to what you have on our [dev Newsletter Archive](https://community-app.topcoder-dev.com/examples/contentful/viewport/1IbkLrXJLA75fbzVl27PVz) page.

**Padding**
Please create a spacing of 10px between each of the entries.

**Link Color**
The link color IS the correct color (#006dea) however there is some kind of overlay somewhere that makes the color lighter than it should be

[2019-06-12 08:41] nithyaasworld commented on #2595
https://github.com/topcoder-platform/community-app/issues/2450

[2019-06-12 08:45] nithyaasworld commented on #2568
Yes.

Please see the challenge details where it states:
If the same issue is found on some other elements/levels/screens, club it into one single bug with all the details of the issue occurrence and log as one single bug.

[2019-06-12 08:47] satkanhub commented on #2595
@nithyaasworld The issue observed in this ticket is that user view keeps changing while user switches the orientation. In the referenced ticket, it talks about SWITCH to BUSINESS unavailable in user profile menu. There is no ticket raised apart from mine, about the user menu changing while user switches the orientation. Let me know, if I missed any.

Thanks

[2019-06-12 08:48] nithyaasworld commented on #2594
Application is set to only Light mode. So displaying dark mode in mobile is incorrect, which would be addressed in #2592

[2019-06-12 08:51] nithyaasworld commented on #2595
Hey @satkanhub You are missing a big thing here! Mobile has different view and web has different view. Please carefully go through the Marvel  app link provided in the Test Phase documents forum.

[2019-06-12 09:52] nithyaasworld commented on #2567
@satkanhub Basically all elements on the navigation component seem to have a tooltip with some incorrect value.

So whenever you see some issues that is common to all elements, you should be raising it as a single bug. Not a separate bug. You can add your findings as a comment to your first-bug. This is a general practice we should follow in bug hunt.

This has also been stated in the Challenge De

[2019-06-12 10:38] nithyaasworld opened #2616 "[$60]"Find member by Username or Skills" Search box not working"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.topcoder.com/challenges
2. Click on the search icon present at the top right corner
3. Search by any user or skill

**Actual behavior**
It shows the error "Oops! There was an error."

**Expected behavior**
It should show the matching result.

**Screenshots**
![image](https://user-images.githubusercontent.com/5114190/59344691-393eb880-8

[2019-06-12 12:39] luizrrodrigues commented on #2539
@nithyaasworld I just review this issue again and this not related with new nav.

This is like as existing site works, after you login you go to main page.

[2019-06-12 12:43] nithyaasworld commented on #2539
Hey @luizrrodrigues I just checked our Production environment. When I logged in being in the Challenges Listing page, after logging in, I was re-directed back to challenge-listing page and not to Topcoder.com page.

Please confirm. Thanks.

[2019-06-12 12:55] nahidshahin commented on #2519
@luizrrodrigues can I work on it?

[2019-06-12 13:05] luizrrodrigues commented on #2519
@nahidshahin Yep

[2019-06-12 13:08] luizrrodrigues commented on #2539
@nithyaasworld Just check again and back to home page.

You login with OAuth or direct with user/pass?

[2019-06-12 13:56] PrakashDurlabhji commented on #2456
@luizrrodrigues I am taking this. ok?

[2019-06-12 14:06] luizrrodrigues commented on #2456
@PrakashDurlabhji Sure, thanks.

[2019-06-12 14:37] PrakashDurlabhji commented on #2456
@luizrrodrigues some prize on it?

[2019-06-12 14:40] PrakashDurlabhji commented on #2456
@luizrrodrigues PR https://github.com/topcoder-platform/community-app/pull/2617

[2019-06-12 16:56] nahidshahin commented on #2519
@luizrrodrigues PR https://github.com/topcoder-platform/navigation-component/pull/7

Notice, you haven't assigned any prize yet.

[2019-06-12 17:01] nithyaasworld commented on #411
Its not an issue anymore. Hence closing this.

[2019-06-12 17:01] #411 closed

[2019-06-12 17:03] luizrrodrigues commented on #2519
@nahidshahin Sorry, added.

[2019-06-12 17:18] luizrrodrigues commented on #2456
@PrakashDurlabhji Sorry, I miss to add prize to news items.. Added

[2019-06-12 17:24] luizrrodrigues commented on #2403
@khushimehta03 Any status on this?

[2019-06-12 17:26] luizrrodrigues commented on #2396
@applehit16 Any status on this?

[2019-06-12 17:26] luizrrodrigues commented on #2395
@Gauravseta Any status on this?

[2019-06-12 17:27] luizrrodrigues commented on #2407
@RAJKUMARRRR Any status on this?

[2019-06-12 17:27] luizrrodrigues commented on #2405
@iversonLv Any status on this?

[2019-06-12 17:42] applehit16 commented on #2396
Sorry, a bit busy these two days. And was waiting for confirmation from
Vic-tan, but I’ll try to submit in following 12hrs. If I broke the rule,
feel free to make the issue open

On Wed, Jun 12, 2019 at 10:26 AM Luiz Ricardo Rodrigues <
notifications@github.com> wrote:

[2019-06-12 17:46] luizrrodrigues commented on #2396
@applehit16 Oh sorry. I'll request confirmation again.

[2019-06-12 17:47] PrakashDurlabhji commented on #2456
@luizrrodrigues Thanks

[2019-06-12 17:47] luizrrodrigues commented on #2396
@vic-tian @Oanh-and-only-Oanh Please can confirm item 3 and 4: https://github.com/topcoder-platform/community-app/issues/2396#issuecomment-500180560

[2019-06-12 17:59] nithyaasworld commented on #787
If there is still an issue with Dashboard that needs to be addressed, Please open a new issue.

The above URL is no more working. So no Problem.

[2019-06-12 17:59] #787 closed

[2019-06-12 18:21] nithyaasworld commented on #767
@Dara-K I think this is no more an issue as the UI has changed. I am closing this issue. Please feel free to re-open if I am not right.

![image](https://user-images.githubusercontent.com/5114190/59376051-02d55d80-8d6d-11e9-8b7c-858a2ba4a6e4.png)

[2019-06-12 18:21] #767 closed

[2019-06-12 18:25] nithyaasworld commented on #758
No more an issue.

[2019-06-12 18:25] #758 closed

[2019-06-12 18:27] Dara-K commented on #767
Yes, that's correct.

[2019-06-12 18:28] nithyaasworld commented on #781
Closing this as this is no more an issue.

[2019-06-12 18:28] #781 closed

[2019-06-12 18:30] nithyaasworld commented on #786
This is no more an issue.

[2019-06-12 18:30] #786 closed

[2019-06-12 18:46] nithyaasworld commented on #2050
This is no more an issue.

[2019-06-12 18:46] #2050 closed

[2019-06-12 18:48] nithyaasworld commented on #2068
This issue seems to have resolved

![image](https://user-images.githubusercontent.com/5114190/59377933-d3c0eb00-8d70-11e9-897d-561f6eb2a07e.png)

[2019-06-12 18:48] #2068 closed

[2019-06-12 18:54] nithyaasworld commented on #2069
This is still an issue:

![image](https://user-images.githubusercontent.com/5114190/59378274-9577fb80-8d71-11e9-950d-f3b43f6ea864.png)

[2019-06-12 19:18] PrakashDurlabhji commented on #2435
@luizrrodrigues PR has been raised at navigation component
https://github.com/topcoder-platform/navigation-component/pull/8

[2019-06-12 19:19] PrakashDurlabhji commented on #2435
@luizrrodrigues i guess u forgot to add prize to it as well. thanks

[2019-06-12 19:22] PrakashDurlabhji commented on #2405
@luizrrodrigues can i give it a try if iverson is busy.

[2019-06-12 19:44] luizrrodrigues commented on #2435
@PrakashDurlabhji Yeah, sorry again. Added. :)

[2019-06-12 19:46] luizrrodrigues commented on #2405
@PrakashDurlabhji If @iversonLv no reply in 2h from, yes.

[2019-06-13 00:19] iversonLv commented on #2405
@luizrrodrigues I have raise the PR?
https://github.com/topcoder-platform/community-app/pull/2589

[2019-06-13 00:20] iversonLv commented on #2405
4 Days ago.
Maybe I need comment here the PR number here, sorry for inconvenient.

[2019-06-13 01:24] luizrrodrigues commented on #2405
@iversonLv Ah sorry, I don't see this. Thanks :)

[2019-06-13 06:39] applehit16 commented on #2396
Things keep coming, feel free to reassign from me, sorry for the delay...

[2019-06-13 06:47] luizrrodrigues commented on #2396
@applehit16 Okay, no problem.

[2019-06-13 07:41] #2453 closed

[2019-06-13 09:57] ya3ya6 commented on #2396
Hi, Can i work on it?

[2019-06-13 10:05] ya3ya6 commented on #2396
And it's my first time on bug bash, Do i have only 12 hours to complete this?

[2019-06-13 10:28] nauhil commented on #2387
@ThomasKranitsas Due to I have urgent private task need to finish it for now. I'm afraid I don't have enough time to handle this issue.

I open the issue for other members

[2019-06-13 10:40] ThomasKranitsas commented on #2387
Contest https://www.topcoder.com/challenges/30092404 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-13 10:45] iScreamByte opened #2619 "TaaS Group - Need a way to add private communities as filter on the community app"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-06-13 10:49] sushilshinde commented on #2395
@luizrrodrigues please re-open it for pickup. It's P1

[2019-06-13 10:51] sushilshinde commented on #2396
@luizrrodrigues can we speed up, this one

[2019-06-13 10:52] sushilshinde commented on #2397
@luizrrodrigues can you review this?

[2019-06-13 10:54] sushilshinde commented on #2398
@luizrrodrigues can we proceed with this?

[2019-06-13 11:01] iScreamByte commented on #2619
![image](https://user-images.githubusercontent.com/4011121/59426716-7a030400-8df6-11e9-91d4-1ba9f30959b7.png)

We need a way to communicate with the TaaS team about private challenges launched just for the TaaS group.

[2019-06-13 11:20] luizrrodrigues commented on #2396
@ya3ya6 Yep, need have 12h to submit.

[2019-06-13 11:21] luizrrodrigues commented on #2396
Assigned to @ya3ya6

[2019-06-13 11:21] iScreamByte commented on #2619
Details
name = TaaS Group - GnG
security = private, require login
challenge filtering = filter on the group
group_id = 20000313

cc: @ajefts , @luizrrodrigues

[2019-06-13 11:22] sushilshinde commented on #2387
Some decisions on pending this, so kept it on hold.

[2019-06-13 11:23] nahidshahin commented on #2395
@luizrrodrigues can I pick it?

[2019-06-13 11:26] ya3ya6 commented on #2396
@luizrrodrigues thanks. i get "unauthorized" error because of "contentful cms". should i use create "contentful cms" by my own or you'll share its api keys?

[2019-06-13 11:26] luizrrodrigues commented on #2395
@nahidshahin Sure.

[2019-06-13 11:34] luizrrodrigues commented on #2542
@rashmi73 Status on this one?

[2019-06-13 11:47] luizrrodrigues commented on #2396
@ya3ya6 Please check your email.

[2019-06-13 12:33] rashmi73 commented on #2542
@luizrrodrigues in progress, but confused with "dead link", what will happen if someone direclty clicks on it?

[2019-06-13 12:44] ya3ya6 commented on #2396
@sushilshinde , @luizrrodrigues
- Currently In the last version of "community-app", when user hover on his profile image, A secondary navigation will expand and there is "Dashboard" Link on there. as you see here (its screenshot of current version on my local host):

![nav](https://user-images.githubusercontent.com/17860215/59432138-d9afde00-8dfb-11e9-94d0-faad14aec8b8.png)
- However, It's linked

[2019-06-13 13:13] rashmi73 commented on #2542
@luizrrodrigues PR in few minutes

[2019-06-13 13:39] luizrrodrigues commented on #2396
@ya3ya6

- You need to use branch `feature-new-nav`
- Nav links was fixed in another issue

What we looking for here is:
- Navigation need be always expanded when used is logged.
- When click in Work need to show a secondary menu:
    - Dashboard
    - My Profile
    - Payments
- When in Logo need go to TC Home page (Currently just collapse the menu)

[2019-06-13 14:19] luizrrodrigues commented on #2542
@rashmi73 When PR is ready, post here.

[2019-06-13 16:20] luizrrodrigues commented on #2542
To deadline, nothing. Not need highlight.

[2019-06-13 16:32] luizrrodrigues commented on #2397
@PrakashDurlabhji Please check this issue: https://github.com/topcoder-platform/community-app/issues/2408

This have more info about scope here, need keep Nav expanded when navigate to another page.

Add margin not in scope, because when move to another page (challenge details) if menu are expanded, margins will looks good.

Let me know if make sense and if have any question.

[2019-06-13 16:47] nahidshahin commented on #2395
@luizrrodrigues where to go when clicking on `All projects` ?

[2019-06-13 16:51] luizrrodrigues commented on #2395
@nahidshahin Keep dead link for now.

[2019-06-13 17:29] PrakashDurlabhji commented on #2397
@luizrrodrigues

1. so whatever changes did by me till now, are to be reverted?
2. or keep current changes as it is and also do additional #2408 ?

[2019-06-13 17:34] luizrrodrigues commented on #2397
I see PR #2591 This just changed SCSS file to add margin right?

[2019-06-13 17:35] PrakashDurlabhji commented on #2397
@luizrrodrigues yes so that gap is consistent with other screens

[2019-06-13 18:30] nithyaasworld commented on #2463
@luizrrodrigues I made this to P3 as its MS Edge specific, and removed the Backlog label

[2019-06-13 18:37] nithyaasworld commented on #2463
This issue is similar to https://github.com/topcoder-platform/community-app/issues/2423

[2019-06-13 18:42] nithyaasworld commented on #2481
@luizrrodrigues I changed this into P2, so we can include this as part of our navigation first release.

[2019-06-13 18:43] nithyaasworld commented on #2505
@luizrrodrigues I changed this into P2, so we can include this as part of our navigation first release.

[2019-06-13 19:57] luizrrodrigues commented on #2456
@PrakashDurlabhji Please check feedback in PR #2617

[2019-06-13 19:59] luizrrodrigues commented on #2542
@rashmi73 Any status on this one?

[2019-06-13 20:01] rashmi73 commented on #2542
@luizrrodrigues PR in half hour

[2019-06-13 20:02] nahidshahin commented on #2395
@luizrrodrigues PR https://github.com/topcoder-platform/community-app/pull/2620. I keep `All projects` as it was.

[2019-06-13 20:21] luizrrodrigues commented on #2406
@PrakashDurlabhji Please check feedback in PR #2590

[2019-06-13 20:30] luizrrodrigues commented on #2397
@PrakashDurlabhji Okay, so can keep that.

[2019-06-13 21:39] luizrrodrigues commented on #2463
@nithyaasworld Okay

[2019-06-13 21:43] luizrrodrigues commented on #2481
@nithyaasworld Okay, just open this one.

[2019-06-13 21:44] #2405 closed

[2019-06-13 21:46] luizrrodrigues commented on #2505
@nithyaasworld Okay, just open this one.

[2019-06-13 21:53] rashmi73 commented on #2542
@luizrrodrigues both PR ready

https://github.com/topcoder-platform/community-app/pull/2621

https://github.com/topcoder-platform/navigation-component/pull/14

[2019-06-13 21:58] rashmi73 commented on #2505
@luizrrodrigues can i take this?

[2019-06-13 22:14] rashmi73 commented on #2505
@luizrrodrigues PR https://github.com/topcoder-platform/navigation-component/pull/15

[2019-06-14 00:29] tosha5252 commented on #2481
Hi,
I would like to work on this issue please.

thanks

[2019-06-14 00:30] luizrrodrigues commented on #2481
Sure, Assigned to @tosha5252

[2019-06-14 01:52] luizrrodrigues commented on #2456
@PrakashDurlabhji Any status on fix this one?

[2019-06-14 01:54] luizrrodrigues commented on #2542
@rashmi73 Please check feedback in PR's.
If you have this working in you local, please share a video showing that.

Thanks.

[2019-06-14 01:56] luizrrodrigues commented on #2395
@nahidshahin Please check feedback here: https://github.com/topcoder-platform/community-app/pull/2620#pullrequestreview-249617702

[2019-06-14 02:30] nahidshahin commented on #2403
@luizrrodrigues can I pick it?

[2019-06-14 02:36] luizrrodrigues commented on #2403
@nahidshahin Yes, before assign to this one, make sure reply feedback of other issues.

Thanks.

[2019-06-14 08:16] gurmeetb commented on #2277
@nithyaasworld Can you help validate this on https://beta-community-app.topcoder.com/ ? We have the fix deployed there.

[2019-06-14 09:01] nithyaasworld commented on #2277
@gurmeetb It looks Perfect! I tried for about 40 profiles. No errors seen in the console. All the profiles loaded fine!

[2019-06-14 09:31] kkartunov commented on #2614
waits for prod
https://community-app.topcoder-dev.com/examples/contentful/viewport/4GDArUQpRx3jOmrjYAJgo0
waits for prod

[2019-06-14 09:31] #2614 closed

[2019-06-14 09:34] kkartunov commented on #2615
waits for prod

[2019-06-14 09:34] #2615 closed

[2019-06-14 09:35] kkartunov commented on #2336
waits for prod

[2019-06-14 09:35] #2336 closed

[2019-06-14 09:37] kkartunov commented on #2400
@luizrrodrigues please notify when new navi components ready so we can begin this one...thanks!

[2019-06-14 09:44] nithyaasworld commented on #2160
Issue cannot be reproduced.

[2019-06-14 09:44] #2160 closed

[2019-06-14 09:55] nithyaasworld commented on #2077
This works good now.

[2019-06-14 09:55] #2077 closed

[2019-06-14 10:50] nithyaasworld commented on #2277
@gurmeetb Can you also please confirm with @PrakashDurlabhji that the following console error will also be taken care as part of this fix?

This screenshot is from Production environment. It happened to me 2 times today.

![image](https://user-images.githubusercontent.com/5114190/59504270-3c6aad80-8ec0-11e9-864b-0fe57b0407cc.png)

[2019-06-14 11:19] luizrrodrigues commented on #2400
@Oanh-and-only-Oanh @kkartunov This looks like issue reported here: https://github.com/topcoder-platform/community-app/issues/2453

This was problem with links redirect to other domain.

Fix already merged and can see here:
https://test-community-app.topcoder-dev.com/challenges

https://gyazo.com/f13a61070dda6b01ff5d961afbf79048

[2019-06-14 12:24] gurmeetb commented on #2277
@nithyaasworld FYI @PrakashDurlabhji is not working on this, we had a F2F for the same. F2F was for the issue you see right now in PROD.

@sushilshinde is helping deploy the fix from F2F to PROD, so we can check once he confirms the deployment has been done for the same.

@sushilshinde can you kindly flag once it is deployed to PROD?

[2019-06-14 12:24] rashmi73 commented on #2542
@luizrrodrigues yes it is working for development link,
I hope it is correctly implemented by me,

1. whenever we visit the any of links directly,
2.then we click on WORK
3. then we click on Tracks
4. and we see menu selected is respective to link.

is this what being tested?

[2019-06-14 12:26] luizrrodrigues commented on #2542
@rashmi73 Here if access a page directly or refresh the page, I'm getting this error:
` window is not defined `

[2019-06-14 12:30] luizrrodrigues commented on #2456
@PrakashDurlabhji Can I open to pickup this one?

[2019-06-14 12:31] PrakashDurlabhji commented on #2277
@gurmeetb @nithyaasworld on loading
http://www.topcoder.com/members/nithyaasworld

i see different error than above screenshot.

I get "TypeError: Cannot read property 'length' of null"

[2019-06-14 12:31] PrakashDurlabhji commented on #2277
@nithyaasworld @gurmeetb
is same code deployed on https://beta-community-app.topcoder.com/?

it is working fine on above url?

[2019-06-14 12:32] PrakashDurlabhji commented on #2456
@luizrrodrigues kindly request you not to open any of it, I am updating every PR.

[2019-06-14 12:35] luizrrodrigues commented on #2456
@PrakashDurlabhji Okay, we need close this ASAP.

[2019-06-14 12:46] nithyaasworld commented on #2492
duplicate of https://github.com/topcoder-platform/community-app/issues/2440

[2019-06-14 12:46] #2492 closed

[2019-06-14 13:31] nithyaasworld commented on #2482
As designed.

[2019-06-14 13:31] #2482 closed

[2019-06-14 13:35] nithyaasworld commented on #2487
Will be fixed as part of https://github.com/topcoder-platform/community-app/issues/2398

[2019-06-14 13:35] #2487 closed

[2019-06-14 13:54] nithyaasworld commented on #2473
console errors not in scope

[2019-06-14 13:54] #2473 closed

[2019-06-14 13:55] nithyaasworld commented on #2486
Console errors are not in scope for the Bug hunt.

[2019-06-14 13:55] #2486 closed

[2019-06-14 13:57] nithyaasworld commented on #2468
As designed.

[2019-06-14 13:57] #2468 closed

[2019-06-14 13:59] nithyaasworld commented on #2458
Function of Work is covered here: https://github.com/topcoder-platform/community-app/issues/2396#issuecomment-498343703

[2019-06-14 13:59] #2458 closed

[2019-06-14 14:03] nithyaasworld commented on #2442
This is not part of navigation component. This is how it is present now in Production.

[2019-06-14 14:03] #2442 closed

[2019-06-14 14:04] nithyaasworld commented on #2443
Out of Scope

[2019-06-14 14:04] #2443 closed

[2019-06-14 14:04] nithyaasworld commented on #2444
Duplicate

[2019-06-14 14:04] #2444 closed

[2019-06-14 14:06] #2455 closed

[2019-06-14 14:08] nithyaasworld commented on #2451
Not in design

[2019-06-14 14:08] #2451 closed

[2019-06-14 14:12] nithyaasworld commented on #2448
duplicate of https://github.com/topcoder-platform/community-app/issues/2436

[2019-06-14 14:12] #2448 closed

[2019-06-14 14:19] nithyaasworld commented on #2484
I am not able to reproduce. Moreover this issue is too trivial.

[2019-06-14 14:19] #2484 closed

[2019-06-14 15:28] coderkid19 commented on #2478
@nithyaasworld ,
Ok. As per order. This was reported first. Shouldn't I get rewarded for this bug.?

[2019-06-14 15:40] nithyaasworld commented on #2478
@coderkid19 If you just look at this bug, active state bar colour matches the design-dark-theme.

This bug is not as detailed as the bug #2592.

But I will be paying you $5 for this bug: https://github.com/topcoder-platform/community-app/issues/2490 shortly.

Sorry that I missed to review these during the Bug Hunt!

[2019-06-14 19:33] luizrrodrigues commented on #2456
@PrakashDurlabhji Any update? I'm going to open to pickup this one.

[2019-06-14 19:41] PrakashDurlabhji commented on #2456
@luizrrodrigues taking it on priority first

[2019-06-14 19:50] PrakashDurlabhji commented on #2456
@luizrrodrigues that is already existing issue in application, not introduced due to my PR. can you please confirm once again? I do not think that is scope of this issue as it was already present. still I will take a look at it.

[2019-06-14 20:09] luizrrodrigues commented on #2456
@PrakashDurlabhji You see my video: https://gyazo.com/8b65691cbf4f60063390d99ad8baedf1
This is exactly the issue reported here and we need to fix.

[2019-06-14 20:21] rashmi73 commented on #2542
@luizrrodrigues PR update and it wont window not defined anymore on refresh

[2019-06-14 21:27] luizrrodrigues commented on #2542
@rashmi73 Looks like working in Desktop, but not working in mobile.

Also, when you go to Challenges then click in Work -> Tracks the first track will be highlighted.
Same if you go to track section and go to Work -> Compete the first tab will be highlighted.

![Screen Shot 2019-06-14 at 18 25 42](https://user-images.githubusercontent.com/7029641/59539023-18b06300-8ed2-11e9-9a8a-33e60e131255.png)

[2019-06-14 21:34] PrakashDurlabhji commented on #2456
@luizrrodrigues everything solved

both PR

https://github.com/topcoder-platform/navigation-component/pull/17
https://github.com/topcoder-platform/community-app/pull/2617

[2019-06-14 21:41] rashmi73 commented on #2542
@luizrrodrigues actually current previous logic and also current logic is that first tab willl be highlighted if path does match url.

as challenges is not present in any of tab, so first will be highlighted.

Need to see on this logic handling of removing highlight if nothing matches with url.

[2019-06-14 22:06] luizrrodrigues commented on #2542
@rashmi73 I see, are you able to fix/implement that?

[2019-06-14 22:11] rashmi73 commented on #2542
@luizrrodrigues trying it

[2019-06-14 22:39] rashmi73 commented on #2542
@luizrrodrigues PR updated as per latest requirements.

@luizrrodrigues both PR ready

#2621

topcoder-platform/navigation-component#14

is it possible to increase the prize by few?

[2019-06-14 23:19] luizrrodrigues commented on #2542
I need about increase prize.

[2019-06-14 23:56] luizrrodrigues commented on #2542
Tests here:

http://local.topcoder.com/challenges
Work -> All Challenges : Works
Work -> Tracks : Works
Work -> Community : Fail - Active state showing in TCO

http://local.topcoder.com/community/qa
Work -> All Challenges : Fail - Active state showing in All Challenges
Work -> Tracks : Works
Work -> Community : Fail - Active state showing in TCO

http://local.topcoder.com/settings/profile
Work ->

[2019-06-15 02:04] luizrrodrigues commented on #2456
Hey @PrakashDurlabhji , please check both PR.
topcoder-platform/navigation-component#17
I just see font-family change here, this is not in scope here.

https://github.com/topcoder-platform/community-app/pull/2617
I don't see any change after my last commit.

Please make sure you read requirements above, maybe you sending to wrong issue.

[2019-06-15 02:08] luizrrodrigues commented on #2456
Please we need fix this ASAP and I'll ready pass so much from time to fix on this.

I'll give you more 6h to fix that, if not possible I'll Open For Pickup.

In next PR, please a video showing this working in your local.

Thanks.

[2019-06-15 04:06] luizrrodrigues commented on #2406
@PrakashDurlabhji What status on this one?

I'll give you more **12h** to fix issue related in feedback.

Thanks.

[2019-06-15 04:10] luizrrodrigues commented on #2397
@PrakashDurlabhji Opening this one for pickup.

[2019-06-15 04:12] luizrrodrigues commented on #2396
@ya3ya6 any status on this?
Please sent a PR/Update in next 12h or this one will be open for pickup.

[2019-06-15 04:21] luizrrodrigues commented on #2481
@tosha5252 any update on this one?

Please send PR or give update in next 12h or will open to pickup.

Thanks.

[2019-06-15 04:24] luizrrodrigues commented on #2407
@nahidshahin Any status on this.

Please send PR or update in next 12h or this one will open for pickup.

Thanks.

[2019-06-15 07:37] ya3ya6 commented on #2396
@luizrrodrigues Sorry for delay. Still working on it.
I will post a PR or Complete update in next 12 hours. Thanks.

[2019-06-15 07:40] sushilshinde opened #2627 "Member profile page goes blank sometimes"
Probably related to

https://github.com/topcoder-platform/community-app/issues/2277

[2019-06-15 07:42] #2627 closed

[2019-06-15 07:43] #2277 closed

[2019-06-15 10:18] rashmi73 commented on #2542
@luizrrodrigues updated and PR are
#2621

topcoder-platform/navigation-component#14

[2019-06-15 12:57] PrakashDurlabhji commented on #2456
@luizrrodrigues it is solved perfectly raising PR with video

[2019-06-15 13:28] PrakashDurlabhji commented on #2456
@luizrrodrigues here is video for verification.

[Screencast 2019-06-15 18:55:50.mp4.zip](https://github.com/topcoder-platform/community-app/files/3293127/Screencast.2019-06-15.18.55.50.mp4.zip)

also PR link: topcoder-platform/navigation-component#17

[2019-06-15 13:29] PrakashDurlabhji commented on #2406
@luizrrodrigues on this actively.

[2019-06-15 15:03] luizrrodrigues commented on #2542
@rashmi73 Issues related above looks fixed.

But now I'm seeing another issue, please check the video:
[2542.zip](https://github.com/topcoder-platform/community-app/files/3293251/2542.zip)

[2019-06-15 19:15] sexta13 commented on #2397
can you assign this to me?

[2019-06-15 19:17] luizrrodrigues commented on #2397
Sure, assigned to @sexta13

[2019-06-15 19:23] nahidshahin commented on #2481
@luizrrodrigues PR https://github.com/topcoder-platform/navigation-component/pull/19

[2019-06-15 20:54] sexta13 commented on #2397
I'm not sure what is supposed to do....
I checked the links provided...is it supposed the challenges page have a margin? Margin from Settings and Dashboard are different too....

Can you resume what's supposed to do? Thanks.

[2019-06-15 21:24] luizrrodrigues commented on #2397
@sexta13 Please use branch `feature-new-nav`.

Ignore margin question for now.

Requirements:
1- https://github.com/topcoder-platform/community-app/issues/2397#issuecomment-498345239
- When you go to challenge list page, nav need be expanded always (currently nav is collapsed)
- When you go to challenge details pages, again nav need be collapsed, but now need remove secondary nav and should accomm

[2019-06-15 21:43] luizrrodrigues commented on #2542
@rashmi73 Status on this one?

[2019-06-15 21:46] luizrrodrigues commented on #2396
@ya3ya6 Checking staus.

[2019-06-15 21:52] #2395 closed

[2019-06-15 22:26] luizrrodrigues commented on #2481
@nahidshahin Are you able to test in iPhone (Safari) real device?

[2019-06-15 23:08] luizrrodrigues commented on #2406
@PrakashDurlabhji Status?

[2019-06-15 23:32] sexta13 commented on #2397
You can removed from assigned.
I'll leave my feedback to whom picks up this. It's necessary to change Topnav from navigation_component so it can do one of 2 things:
Approach 1: have currentActiveLevel2 and currentActiveLevel3 as prop types so it can be forced to set those as opened
Approach 2: If currentLevel1Id is set, always set the first submenu2 and submenu3.

Regards,

[2019-06-16 01:29] armaan6651 commented on #2407
Hi @luizrrodrigues Can you assign this issue to me?

[2019-06-16 02:17] luizrrodrigues commented on #2407
@armaan6651 Let me know what issue you found, maybe I can help.

[2019-06-16 02:17] armaan6651 commented on #2407
@luizrrodrigues I was able to get it running. However, I am getting the navbar from this issue.
<img width="1423" alt="Screenshot 2019-06-16 at 7 45 23 AM" src="https://user-images.githubusercontent.com/12818231/59558218-d76f9e80-900a-11e9-9bc4-fa0a2d0eae5a.png">

[2019-06-16 02:18] luizrrodrigues commented on #2407
You need use `feature-new-nav` branch

[2019-06-16 02:19] luizrrodrigues commented on #2397
@sexta13 Thanks for give feedback

[2019-06-16 02:49] gets0ul commented on #2403
@luizrrodrigues Is this open for pickup? Can I work on this?

[2019-06-16 03:12] luizrrodrigues commented on #2403
@gets0ul Yes, assigned to @gets0ul

[2019-06-16 03:57] ya3ya6 commented on #2396
Hi, Pull requests are in:
https://github.com/topcoder-platform/community-app/pull/2629
https://github.com/topcoder-platform/navigation-component/pull/20

[2019-06-16 03:58] ya3ya6 commented on #2396
@luizrrodrigues Hi, Sorry for delay. Pull requests are in:
https://github.com/topcoder-platform/community-app/pull/2629
https://github.com/topcoder-platform/navigation-component/pull/20

[2019-06-16 04:41] nahidshahin commented on #2481
@luizrrodrigues I don't have real device at this moment. I tested with Safari at Mac

[2019-06-16 12:08] gets0ul commented on #2403
PR: https://github.com/topcoder-platform/navigation-component/pull/21

[2019-06-16 12:56] gets0ul commented on #2403
PR: https://github.com/topcoder-platform/navigation-component/pull/22

[2019-06-16 21:23] rashmi73 commented on #2542
@luizrrodrigues PR updated
https://github.com/topcoder-platform/navigation-component/pull/14

[2019-06-16 22:00] PrakashDurlabhji commented on #2406
@luizrrodrigues sometime

[2019-06-16 23:33] sexta13 commented on #2397
I've almost a solution done for this problem...but the $50 is not a good fit for this issue. I'm doing as a personal challenge...but it demands some effort to fix it.

[2019-06-17 04:25] nithyaasworld commented on #2619
@ajefts @iScreamByte This is set with P4 label ( Resolve within 2 weeks). Please change the label accordingly, if this has to be of some higher Priority.

[2019-06-17 04:29] nithyaasworld commented on #2418
@ThomasKranitsas Closing this. Please re-open if needed.

[2019-06-17 04:29] #2418 closed

[2019-06-17 04:35] nithyaasworld commented on #1234
@ThomasKranitsas I am closing this. Please re-open if needed.

[2019-06-17 04:35] #1234 closed

[2019-06-17 04:35] ThomasKranitsas commented on #1234
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-17 06:02] #2522 closed

[2019-06-17 07:05] nithyaasworld commented on #765
@ajefts This seems to have been implemented. Please re-open otherwise.

![image](https://user-images.githubusercontent.com/5114190/59584720-6a3c3600-90fc-11e9-8dfe-d7a62d1ae151.png)

[2019-06-17 07:05] #765 closed

[2019-06-17 08:02] nithyaasworld commented on #776
It does not show the most recently launched public challenge. It shows an Expired QA Challenge.

![image](https://user-images.githubusercontent.com/5114190/59588017-3ebd4980-9104-11e9-8d23-2dce80fac976.png)

[2019-06-17 08:10] nithyaasworld commented on #1059
There is no way to unlink the linked accounts in the Settings -> Accounts -> Linked Accounts Page. So keeping this ticket in open.

[2019-06-17 09:18] nithyaasworld commented on #1667
This is no more an issue. @JayaDhaka @RiteshTC If its not resolved for you, please feel free to re-open.

[2019-06-17 09:18] #1667 closed

[2019-06-17 09:33] nithyaasworld commented on #1963
Issue resolved.

[2019-06-17 09:33] #1963 closed

[2019-06-17 09:34] m-yadav opened #2630 "Unable to login with the correct password, when the user changes his/her email address in TopCoder."
**Describe the bug**
Unable to login with the correct password, when the user changes his/her email address in TopCoder.
The bug is that while TopCoder allows email ID in the place of username during login, after a change in the email ID, this process isn't working as expected.

**To Reproduce**
1. Create a topcoder account with an email address. Get it verified.
2. Now change the email address.
3

[2019-06-17 09:36] nithyaasworld commented on #1967
It is currently re-directing to: https://www.topcoder.com/geniuslink

[2019-06-17 09:36] #1967 closed

[2019-06-17 09:45] nithyaasworld commented on #1927
I am able to successfully signup for the newsletter/updates using the above 2 links.

@RiteshTC Please re-open if you find this is to be not resolved. Thanks.

[2019-06-17 09:45] #1927 closed

[2019-06-17 09:48] nithyaasworld commented on #1883
@ajaysaini9782 Recently the changes done on Direct, are properly reflecting in the Challenge Details page with the expected Font.

Please re-open if you find the issue happening again. Thanks.

[2019-06-17 09:48] #1883 closed

[2019-06-17 10:11] nithyaasworld commented on #1730
Issue resolved.

[2019-06-17 10:11] #1730 closed

[2019-06-17 10:14] #1134 closed

[2019-06-17 10:30] nithyaasworld commented on #819
It redirects to the right URL, but the page is not loading.

![image](https://user-images.githubusercontent.com/5114190/59598113-13912500-9119-11e9-9b88-f76d77a0707f.png)

[2019-06-17 11:56] luizrrodrigues commented on #2406
@PrakashDurlabhji Please let me know what is your progress on this one or if we can open for pickup.

Thanks.

[2019-06-17 11:57] luizrrodrigues commented on #2397
We can discuss the prize, let me know.

[2019-06-17 12:00] luizrrodrigues commented on #2481
@nahidshahin I test in iPhone simulator, looks like not fixed.
I'll re-test and let you know.

[2019-06-17 13:56] PrakashDurlabhji commented on #2406
@luizrrodrigues please dont open it, update in mins

[2019-06-17 14:22] luizrrodrigues commented on #2542
@rashmi73 Prize increased to $75

[2019-06-17 14:29] luizrrodrigues commented on #2397
@sexta13 Prize was increased to $75
Please let me know your progress and if I can assign to you.

Thanks

[2019-06-17 15:11] Oanh-and-only-Oanh commented on #2396
@luizrrodrigues, sorry for delay in responding.

 item 3: Please confirm if we need Payments in the dropdown menu and Work secondary menu.
**We do want a Work secondary menu. Dashboard (default tab), My Profile, and Payments will be in secondary menu under Work. Dropdown menu will have Settings and Logout**

[2019-06-17 16:06] sexta13 commented on #2397
I'm doing it after work. I believe I can finish it today. I'm still facing
some issues to grant retro compatibility. Navigation component is not that
easy to understand.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signatureviral

[2019-06-17 18:18] Oanh-and-only-Oanh commented on #2612
@gurmeetb, we want to use this tooltip to explain to members how to get their skills verified.

"Skills are verified when members win challenges with different Skills tags."

[2019-06-17 19:15] nithyaasworld commented on #2329
This issue seems to have resolved.

I have added "On Watch" label and I will be watching the application for few days to see if this gets reproduced. If not, this will be closed.

[2019-06-17 19:28] gurmeetb commented on #2612
@Oanh-and-only-Oanh @nithyaasworld we have the PR ready for this, will work with @sushilshinde to get it deployed tomb.

[2019-06-17 19:42] nithyaasworld commented on #2313
I tried to reproduce this using UK VPN. I am not able to reproduce the issue. I am receiving the Account Activation email immediately.

@NehaSharma02 Is this issue reproduce-able always at your side?

[2019-06-17 19:55] Oanh-and-only-Oanh opened #2632 "$15 | New Nav- Tweak the challenge listing page to better fit the navigation"
1. Go to 'https://test-community-app.topcoder-dev.com/challenges'
2. Click WORK
3. See below
![image](https://user-images.githubusercontent.com/47536078/59632407-036c4c00-90ff-11e9-8d99-fb73b4107de9.png)

**Expected behavior**
Remove the the Challenges/SRMs. See below
![image](https://user-images.githubusercontent.com/47536078/59632465-1e3ec080-90ff-11e9-9af5-99cae5ac6f98.png)

**Desktop (please c

[2019-06-17 20:25] nithyaasworld commented on #2630
@Oanh-and-only-Oanh I am getting below error when clicking on the "Verify Email Change" link received in both the email accounts. I tried about 6 times with 2 different set of email ids.

![image](https://user-images.githubusercontent.com/5114190/59634210-dace6b80-916b-11e9-91d5-d2e7c4c26a3b.png)

[2019-06-17 23:05] PrakashDurlabhji commented on #2406
@luizrrodrigues it is working well now. PR updated
https://github.com/topcoder-platform/community-app/pull/2590

[2019-06-18 01:39] luizrrodrigues commented on #2542
@rashmi73 Looks like not fixed, can you recheck please and if possible share a video showing this working in your side.

[2019-06-18 08:51] kkartunov opened #2637 "Changes log for Contentful release 06/19"
Covers:
https://github.com/topcoder-platform/community-app/issues/2336
https://github.com/topcoder-platform/community-app/issues/2614
https://github.com/topcoder-platform/community-app/issues/2615
and implements member card component for Contentful.

[2019-06-18 15:51] gurmeetb commented on #2612
@nithyaasworld we have this deployed here - https://beta-community-app.topcoder.com/members/gurmeetb

Please verify and confirm and will work with @sushilshinde tomm to move to PROD.

[2019-06-18 17:38] nithyaasworld commented on #2630
For me, I am getting error when clicking "Send Verification email".

![image](https://user-images.githubusercontent.com/5114190/59706365-f7c37700-921d-11e9-91d9-fae9582eff1e.png)

[2019-06-18 17:40] nithyaasworld commented on #2630
@m-yadav Can you please provide a Video of the issue, as the issue seems to be not reproducible for @Oanh-and-only-Oanh

When recording, please keep browser console open, so we can see which API fails.

[2019-06-18 17:44] nithyaasworld opened #2638 "New Nav: Page should not reload when navigating between menus"
In the New nav, when navigating between different menus, currently the total page is getting reloaded including the nav bar.

Expected: When navigating between different menus, The top navigation bar should remain static and only the content area should get refreshed with corresponding data.

[2019-06-18 17:50] nithyaasworld opened #2639 "$40 | New Nav: Business related options should be enabled only for copilots and topcoder employees"
"Switch to Business" option in drop down User menu  - This should be visible only to copilots and topcoder employees. Disable for all other users.
![image](https://user-images.githubusercontent.com/47536078/59707810-43dbd080-91b8-11e9-9e32-58c03cfd6161.png)

[2019-06-18 18:25] nithyaasworld commented on #2612
@gurmeetb This looks good.

@Oanh-and-only-Oanh is looking to re-phrase the sentence to convey the message in a more clear way.

[2019-06-18 18:34] Oanh-and-only-Oanh commented on #2612
@gurmeetb, feedback is that the phrasing could be clearer.
Can we change to "This member has won a challenge using this skill"

[2019-06-18 18:58] luizrrodrigues commented on #2406
@PrakashDurlabhji I'll still seeing the issue:
[video.zip](https://github.com/topcoder-platform/community-app/files/3303006/video.zip)

Please let me know if you can fix this in next hours, or need need open to pickup this one.

We need close issue today ASAP.

[2019-06-18 19:05] nithyaasworld commented on #852
Closing this as the issue is addressed.

[2019-06-18 19:05] #852 closed

[2019-06-18 19:12] PrakashDurlabhji commented on #2406
@luizrrodrigues i am online and update you in sometime, it is working well i will also paste video for verification

[2019-06-18 19:45] gets0ul commented on #2639
Can I work on this?

[2019-06-18 19:49] luizrrodrigues commented on #2639
@gets0ul Yes, we need close this ASAP.
Let me know if you have any questions.

[2019-06-18 19:53] PrakashDurlabhji commented on #2406
@luizrrodrigues
1. are you using Mac?

2. this issue should exist even before merging my PR.

[2019-06-18 19:59] Oanh-and-only-Oanh opened #2640 "$20 | New Navigation- Change WORK top level navi to "COMMUNITY""
1. Go to https://test-community-app.topcoder-dev.com/
2. See WORK as top level navigation
![image](https://user-images.githubusercontent.com/47536078/59715268-58c06000-91c8-11e9-9171-d6e9c1408a38.png)

Expected:
1. Change WORK top level navi to "COMMUNITY"
2. Change "Community" tab to "Explore"

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, saf

[2019-06-18 19:59] Oanh-and-only-Oanh commented on #2640
@nithyaasworld FYI

[2019-06-18 20:00] PrakashDurlabhji commented on #2406
@luizrrodrigues verification video
[Screencast 2019-06-19 01:27:51.mp4.zip](https://github.com/topcoder-platform/community-app/files/3303203/Screencast.2019-06-19.01.27.51.mp4.zip)

[2019-06-18 20:07] marioskranitsas commented on #2640
will this be open for pickup? @luizrrodrigues

[2019-06-18 20:10] luizrrodrigues commented on #2406
1. Yes, I'm on Mac

2. This, I don't see this error before, check:
[video.zip](https://github.com/topcoder-platform/community-app/files/3303227/video.zip)

Looks working well in your video, which browser and OS?

[2019-06-18 20:13] gurmeetb commented on #2612
Sure, will change the message.

[2019-06-18 20:13] luizrrodrigues commented on #2397
@sexta13 Looks like not working, can you share a video showing this working in your local env?

Please me know ASAP, we need close this today.

[2019-06-18 20:14] PrakashDurlabhji commented on #2406
@luizrrodrigues
1.actually nothing is done specific as such that it distorts ui, u can observe PR is raised only for community-app and not navigation component.

2.i am on ubuntu 16.04 and Chrome

[2019-06-18 20:22] gets0ul commented on #2639
@luizrrodrigues
Where to look for data to check if a user is an employee?
Is there any backend API providing this?
What employee account to use for test? Do you have any?

[2019-06-18 20:28] nithyaasworld commented on #1069
@ajefts From the conversation above, it looks like the issue is resolved. Please feel free to re-open if not.

[2019-06-18 20:28] #1069 closed

[2019-06-18 20:28] PrakashDurlabhji commented on #2406
@luizrrodrigues tests are passed too.

now stuck at mac issue? what to do? I do not wish to lose efforts on this.

[2019-06-18 20:43] nithyaasworld commented on #1276
@ajefts Can you please confirm if this is still an issue for your account?

I just tried linking  stackoverflow and bitbucket accounts and it went smooth. My github is already linked, so couldn't verify if a new github linking works good.

Thanks.

[2019-06-18 20:48] nithyaasworld commented on #1279
@ajefts I am closing this as per the above discussions. Please feel free to re-open if there is still an issue. Thanks.

[2019-06-18 20:48] #1279 closed

[2019-06-18 20:54] Oanh-and-only-Oanh commented on #2367
@hokienick, can you tag this ticket with the corresponding priority level? thanks.

[2019-06-18 21:11] luizrrodrigues commented on #2406
@PrakashDurlabhji Thanks for fix tests issues.

So I found what happing, is just in Safari.

Check secondary menu:
![image](https://user-images.githubusercontent.com/7029641/59719459-c6818180-91f2-11e9-8ea2-5965e8cb0947.png)

When this is collapsed, using `display: flex` and `width: 0`, this not working in Safari, browser will overwrite `width: 0` with `display: flex`.

So I think the solution is

[2019-06-18 22:03] PrakashDurlabhji commented on #2406
@luizrrodrigues yes working on it

[2019-06-18 23:15] rashmi73 commented on #2542
@luizrrodrigues unable to shoot video, but latest changes are pushed PR updated.
and working perfectly fine, tested well this time.

both PR are #2621

topcoder-platform/navigation-component#14

I am sure this will be closed now successufuly. kindly verify

[2019-06-19 00:59] luizrrodrigues commented on #2396
@ya3ya6 Looks good, some requests:

- Please remove **Payments** from dropdown menu
- Remove **All projects** from dropdown menu

[2019-06-19 01:12] luizrrodrigues commented on #2403
@gets0ul `onClick` solution not will be good, because we working to fix nav to always showing when user is logged, so wen we refresh the page or access page direct to link, `onClick` not will be called.

Make sense?

[2019-06-19 01:21] luizrrodrigues commented on #2481
@nahidshahin Re-tested in iPhone simulator XS and 6s, looks like not fixed.

In Android real device looks good.

[2019-06-19 03:13] luizrrodrigues commented on #2542
@rashmi73 Please fix CircleCI tests.

[2019-06-19 05:01] ya3ya6 commented on #2396
@luizrrodrigues Thanks for review. i'll add requirements and fix the tests. And a question: Should i change the name of this level 2 menu from "Profile" to "Dashboard"?

[2019-06-19 05:15] nithyaasworld opened #2642 "Show verification badge in the /settings/profile#skills page too"
Actual:
Currently Verified Skills badge is displayed only here: https://www.topcoder.com/members/nithyaasworld

Expected:
Verified Skills badge should also appear in this page too:  https://www.topcoder.com/settings/profile#skills

[2019-06-19 05:21] nithyaasworld commented on #1109
Hi @ajefts Do we have any updates for this enhancement?

[2019-06-19 07:28] gets0ul commented on #2403
@luizrrodrigues
PR is updated without using onClick.
https://github.com/topcoder-platform/navigation-component/pull/22

[2019-06-19 10:50] luizrrodrigues commented on #2640
@marioskranitsas Status on this one?

[2019-06-19 10:52] luizrrodrigues commented on #2639
@gets0ul Sorry delay here.

If API end point don't return Employee or Copilot status, just hide for now.

[2019-06-19 10:55] luizrrodrigues commented on #2406
@PrakashDurlabhji Any luck?

[2019-06-19 10:57] marioskranitsas commented on #2640
it's completed. l'll create  a PR shortly. @luizrrodrigues

[2019-06-19 10:58] luizrrodrigues commented on #2397
@sexta13 Please send PR to `feature-new-nav` branch.

[2019-06-19 11:06] luizrrodrigues commented on #2396
Level 2 need be:
- Dashboard
- My Profile
- Payments

[2019-06-19 11:27] ya3ya6 commented on #2396
@LieutenantRoger Thanks. but i meant the name of level2 itself. i changed it to "Dashboard", you can see it on updated pull request : https://github.com/topcoder-platform/community-app/pull/2629

[2019-06-19 11:29] luizrrodrigues commented on #2396
I give feedback in #2629

[2019-06-19 11:31] nithyaasworld commented on #1250
@ajefts The confirmation message remains the same. That is, it says "Thanks for participating! We’ve received your submission and will send you an email shortly to confirm and explain what happens next."

Member also receives Submission confirmation email as below:

![image](https://user-images.githubusercontent.com/5114190/59760987-39513200-92b1-11e9-8d6c-63f24e677ca6.png)

Very much agree on thi

[2019-06-19 11:42] nithyaasworld commented on #1062
Closing this as the issue seems to have resolved. Please re-open if not.

[2019-06-19 11:42] #1062 closed

[2019-06-19 11:46] luizrrodrigues commented on #2403
@gets0ul Cool.
I see an issue, **WORK** will have own secondary menu, so when click in **WORK** will show bellow the secondary menu with Dashboard, My Profile e Payments (we running this in another issue)

- Work
    - Dashboard
    - My Profile
    - Payments
- Compete
    - All challenges
    - Competi...
- Tracks
    - Competitive
    - Data Science
    ...

The issue is:
- Click in Work;
- Cli

[2019-06-19 12:18] luizrrodrigues commented on #2396
@Oanh-and-only-Oanh Please let me know if new secondary menu placement looks right:

![](https://user-images.githubusercontent.com/17860215/59761401-f8095400-92a9-11e9-9f2d-b4243f6bfdec.png)

[2019-06-19 12:21] luizrrodrigues commented on #2403
@gets0ul Please hold on this, getting confirmation.

[2019-06-19 13:14] r0hit-gupta commented on #2638
May I assign this to myself?

[2019-06-19 13:15] ya3ya6 commented on #2396
@Oanh-and-only-Oanh
To complete the comment of @luizrrodrigues , let me explain the bahaviour :
When user clicks on "work" , Dashboard (first sub menu) will be selected. and the selected item will be "Dashboard". So work is not selectable, work button usage is expanding the work menu when user is not logged in, and also selecting the dashboard. here is a video of behaviour (in this video the name

[2019-06-19 14:03] nithyaasworld commented on #2072
This will be addressed here https://github.com/topcoder-platform/community-app/issues/2225

[2019-06-19 14:03] #2072 closed

[2019-06-19 14:11] Oanh-and-only-Oanh commented on #2396
@luizrrodrigues, DASHBOARD should not be in top level nav. It's is only in secondary nav level under WORK. It should be the default page when logged-in members click WORK.

[2019-06-19 14:15] luizrrodrigues commented on #2396
@Oanh-and-only-Oanh Thanks.

@ya3ya6 Need follow structure shared here:
https://github.com/topcoder-platform/community-app/pull/2629#issuecomment-503520012

[2019-06-19 14:22] vic-tian commented on #2396
This is not according to the design. Let's fix the intended behavior of the navigation:
- When a member is logged into the system, the WORK (Should be named COMMUNITY - @Oanh-and-only-Oanh please confirm) item is selected and the new secondary menu is displayed.
<img width="1283" alt="Screen Shot 2019-06-19 at 7 13 48 AM" src="https://user-images.githubusercontent.com/8484061/59773302-3d099800-926

[2019-06-19 14:29] luizrrodrigues commented on #2638
@r0hit-gupta yes, thanks.

[2019-06-19 14:40] luizrrodrigues commented on #2396
@vic-tian Change to Community will be fixed here: https://github.com/topcoder-platform/community-app/issues/2640

[2019-06-19 14:40] ya3ya6 commented on #2396
@luizrrodrigues Thanks.

Sorry for missunderstanding and causing delay.

1. (+ @vic-tian) what about mobile? can you share a picture about how mobile should behave? cause there is no space under work for mobile.

2. is any force to reuse level 3 menu , or it can be separate? i mean, this secondary menu should be similar to other third level menus, but its parent is not a level 2 menu, and it's pro

[2019-06-19 14:41] gets0ul commented on #2639
PR: #2643
navigation-component: https://github.com/topcoder-platform/navigation-component/pull/24

[2019-06-19 14:57] luizrrodrigues commented on #2638
Assigned to @r0hit-gupta

[2019-06-19 15:00] luizrrodrigues commented on #2396
3. If not logged user, when click in Work will expand and load Community Home page.

[2019-06-19 15:13] luizrrodrigues commented on #2639
@gets0ul Need fix circleci errors

[2019-06-19 15:32] r0hit-gupta commented on #2638
It says ```Unauthorized``` whenever I click some link present on the header. I already logged in using the test credentials - ```dan_developer```. How do I resolve this?

[2019-06-19 15:40] nithyaasworld commented on #2333
This is also reported here: https://github.com/topcoder-platform/community-app/issues/1872

So closing this.

[2019-06-19 15:40] #2333 closed

[2019-06-19 15:52] nithyaasworld commented on #952
I can see the initial and final score for a Code Challenge. But for the F2F, It is showing just like in the above screenshot and I think its as expected.

@gurmeetb Please tell me if we can close this. Thanks.

[2019-06-19 15:52] luizrrodrigues commented on #2639
@gets0ul Fixed accepted, good job.

Please fix CircleCI errors.

Thanks.

[2019-06-19 15:57] luizrrodrigues commented on #2403
@gets0ul Confirmed, we need able to back to Work menu: https://github.com/topcoder-platform/community-app/issues/2403#issuecomment-503526549

[2019-06-19 16:05] luizrrodrigues commented on #2638
@r0hit-gupta Need set ENV VARS, please check here:
https://apps.topcoder.com/forums/?module=Thread&threadID=938763&start=0&mc=1

If you not able to access forum, please register in this challenge:
https://www.topcoder.com/challenges/30092991/?type=develop

[2019-06-19 16:05] vic-tian commented on #2396
Mobile interaction is focused on presenting the option of the main page/section of Community or Business as "Home Page", the secondary menu is displayed on the top of the page as drop-down. Check https://marvelapp.com/1dgiejg6/screen/54473672 or https://marvelapp.com/89423f8/screen/54595272
<img width="519" alt="image" src="https://user-images.githubusercontent.com/8484061/59781706-35052480-9271-1

[2019-06-19 16:21] gets0ul commented on #2639
@luizrrodrigues Done, fixed.
Thanks.

[2019-06-19 16:26] gets0ul commented on #2403
@luizrrodrigues PR updated.

[2019-06-19 16:38] #2639 closed

[2019-06-19 17:23] rashmi73 commented on #2542
@luizrrodrigues all is fixed

[2019-06-19 17:59] r0hit-gupta commented on #2638
Thanks @luizrrodrigues. The app loads fine now. However, upon closer inspection I believe the actual bug lies in the ```navigation-component```. It uses ```<a>``` tags instead of ```<Link>``` tags which will always trigger a complete page reload. Should I make a PR on that repository?

[2019-06-19 18:21] nithyaasworld commented on #955
I am not seeing this issue in the recent days.

@gurmeetb Please feel free to re-open if this issue seems to occur still.

[2019-06-19 18:21] #955 closed

[2019-06-19 18:22] gurmeetb commented on #952
@nithyaasworld since this was long back, almost a year plus, we can close this, as we changed a lot and this is fixed since long back.

[2019-06-19 18:23] #952 closed

[2019-06-19 18:31] nithyaasworld commented on #2088
This is tested with invalid data. In real time, this is not likely to happen.

Closing this for now!

CC: @Oanh-and-only-Oanh

[2019-06-19 18:31] #2088 closed

[2019-06-19 18:37] nithyaasworld commented on #1702
Requirement stated in the description of this ticket has been fulfilled.

But the issue stated here https://github.com/topcoder-platform/community-app/issues/1702#issuecomment-431465939 is still present. I will raise a new ticket to address this.

[2019-06-19 18:37] #1702 closed

[2019-06-19 18:46] luizrrodrigues commented on #2638
Yes, please send PR to navigation-component if needed. Thanks

[2019-06-19 18:47] nithyaasworld opened #2644 "[$30]Profile Settings: Regarding the issues with Email preferences"
1. Go to https://www.topcoder.com/settings/preferences

**Issue:1**
When Newsletter preferences are changed, it is not getting saved. Receiving error as below:

![image](https://user-images.githubusercontent.com/5114190/59791475-d5019300-92ef-11e9-8e53-7c4f7075f1ce.png)

**Issue:2**
I have only Dev Newsletter setup to Yes. But I always receive all the 3 newsletters.

![image](https://user-images.g

[2019-06-19 18:58] #1566 closed

[2019-06-19 18:59] r0hit-gupta commented on #2638
@luizrrodrigues sure. By the way it's late here. Do you mind if I do it in the morning?

[2019-06-19 19:04] nithyaasworld commented on #1435
Same issue is observed in Desktop as well.

It seems some kind of validation is already done, but it does not include the above scenario.

[2019-06-19 19:06] luizrrodrigues commented on #2638
We need move this ASAP

Em qua, 19 de jun de 2019 15:59, Rohit Gupta <notifications@github.com>
escreveu:

[2019-06-19 19:41] nithyaasworld commented on #1329
It is actually getting uploaded. But the page is not immediately refreshed. This issue exists in desktop too.

[2019-06-19 20:04] nithyaasworld commented on #1295
I am able to reproduce this by following the below steps:

1. Sign up with topcoder
2. Click on the activation link sent to the email
3. Then login and then go to profile settings
4. Enter the country and save. ( This gets success)
5. Now change the first and last name and save.

This showed the "Failed to add user trait" error. I did not have my network tab open. Below is my console log.

![image

[2019-06-19 20:06] luizrrodrigues commented on #2640
@marioskranitsas I don't see PT, can you post here, please?

[2019-06-19 20:10] luizrrodrigues commented on #2481
@nahidshahin What is your progress on this?

[2019-06-19 21:09] luizrrodrigues commented on #2396
@ya3ya6 you think will able to complete this until tomorrow? I see you progress effort and progress here, we need done ASAP to smoke test on Friday.

Please let me know.

Thanks.

[2019-06-19 21:37] ya3ya6 commented on #2396
@luizrrodrigues Thanks. I think i can do it in about 18 hours from now, is it ok?

[2019-06-19 21:55] luizrrodrigues commented on #2396
@ya3ya6 Yes, keep me updated and feel free to send PR to pre check.

[2019-06-19 22:02] ya3ya6 commented on #2396
@luizrrodrigues ok, i will. thanks.

[2019-06-20 06:18] gurmeetb commented on #2388
@Oanh-and-only-Oanh @nithyaasworld had a chance to push some Zurich specific challenges and test this?

[2019-06-20 06:25] gurmeetb commented on #2612
@nithyaasworld as discussed with @Oanh-and-only-Oanh we changed the tooltip to read `This skill was used to win a challenge`.

This has been pushed to DEV, as confirmed by @sushilshinde around 3 hrs back. I am not able to load profile, maybe due to other profile issue we had on DEV, @nithyaasworld can you give it a try once on dev and see if profile loads fine with SKILLS on your side on DEV ?

[2019-06-20 06:46] #2637 closed

[2019-06-20 08:16] marioskranitsas commented on #2640
I'm sure I created a PR yesterday. Github was a bit unstable yesterday so that may be it. As you can see, my code was pushed yesterday. @luizrrodrigues

[2019-06-20 08:22] r0hit-gupta commented on #2638
Unable to resolve the issue. Opening up for others.

[2019-06-20 08:27] marioskranitsas commented on #2640
https://github.com/topcoder-platform/community-app/pull/2646

[2019-06-20 10:48] nithyaasworld commented on #2612
@gurmeetb I checked for the profiles TonyJ, mess, gurmeetb, nithyaasworld. None of the profiles have skills section displayed.

This is the URL I used to verify:  http://www.topcoder-dev.com/members/gurmeetb

Can you please confirm that I am testing at the right environment?

![image](https://user-images.githubusercontent.com/5114190/59843847-04a7ae00-9377-11e9-8d10-e1e989d1b642.png)

[2019-06-20 10:53] nithyaasworld commented on #2329
This issue is not reproduced anymore.

[2019-06-20 10:55] gurmeetb commented on #2612
@nithyaasworld yup looks like some issue with dev, working with @sushilshinde to get it deployed to beta for testing.

[2019-06-20 11:38] luizrrodrigues commented on #2638
@r0hit-gupta Okay, no problem. Thanks try that.

[2019-06-20 12:50] nithyaasworld commented on #861
Again, the search function seems to be not working as expected.

Searching for _fun_  is not fetching past fun challenges

[2019-06-20 14:24] luizrrodrigues commented on #2406
@PrakashDurlabhji Please let me know if you'll able to fix Safari issue.

Thanks.

[2019-06-20 14:36] luizrrodrigues commented on #2481
@nahidshahin Please me know if want Open For Pickup this one, thanks.

[2019-06-20 14:51] ya3ya6 opened #2647 "$20 | The Navbar is always in logged in state"
**Describe the bug**
Even when User is not logged in, `loggedIn` will set to true and account dropdown will set to `logged in` state.

**To Reproduce**
See The website (https://test-community-app.topcoder-dev.com/members/TonyJ) in a private window (or just log out.). you'll see the aaccount menu still is in logged in state.

**Probable Cause**
In this commit, rules is added to profile, without che

[2019-06-20 15:01] gets0ul commented on #2638
Can I work on this?
Thanks.

[2019-06-20 15:04] luizrrodrigues commented on #2638
@gets0ul Yes, thanks.

[2019-06-20 16:19] RiteshTC commented on #2630
@nithyaasworld
This was reported by a member. We don't have any more information that we can provide.

[2019-06-20 16:56] nithyaasworld commented on #842
@birdofpreyru Currently the newly launched challenges are displayed at the top which looks good to me.

If we sort by end-date, we will have newly launched challenges in between the other challenges, and user might miss noticing it.

Your thoughts please?

[2019-06-20 16:58] nithyaasworld commented on #834
@birdofpreyru Can you please describe the issue in detail? Thanks.

[2019-06-20 17:06] nithyaasworld commented on #753
I am not able to verify this due to the existing bug with Save filter https://github.com/topcoder-platform/community-app/issues/2382

[2019-06-20 17:21] ya3ya6 commented on #2396
@luizrrodrigues Hi. The code is ready But there is some conflicts on Commits, so please let me fix pull request conflicts and i'll let you know where pull request is ready.

[2019-06-20 17:54] nithyaasworld commented on #1527
Issue seems to have resolved. Error is not displayed anymore. Verified in both the urls: https://accounts.topcoder.com/member and https://accounts.topcoder-dev.com/member/registration

[2019-06-20 17:54] #1527 closed

[2019-06-20 17:57] nithyaasworld commented on #1536
There is no Site Map link in the footer anymore.

[2019-06-20 17:57] #1536 closed

[2019-06-20 18:24] nithyaasworld commented on #1144
@birdofpreyru Closing this as I see no layout issue in mobile view now. Attached is the screenshots of https://www.topcoder.com/challenges/30068755/?type=develop&nocache=true in mobile view

Please re-open if I have missed anything. Thanks.

[screencapture-topcoder-challenges-30068755-2019-06-20-23_51_32.pdf](https://github.com/topcoder-platform/community-app/files/3311659/screencapture-topcoder-c

[2019-06-20 18:24] #1144 closed

[2019-06-20 19:24] r0hit-gupta commented on #2481
Please let me know if I can pick this issue up. Thanks.

[2019-06-20 19:26] ya3ya6 commented on #2396
@luizrrodrigues
Sorry for delay.
These are new pull requests , please review them :
https://github.com/topcoder-platform/navigation-component/pull/28
https://github.com/topcoder-platform/community-app/pull/2649
(Previous pull requests are invalid, i deleted the privious repository and created a new one. please remove them)

[2019-06-20 19:38] luizrrodrigues commented on #2481
@r0hit-gupta, yes please.
Thanks.

[2019-06-20 19:42] luizrrodrigues commented on #2647
@ya3ya6 @nithyaasworld
This was fixed and deployed.

[2019-06-20 19:58] nithyaasworld commented on #655
Buttons are visible in the viewport and are static to the scroll.

![image](https://user-images.githubusercontent.com/5114190/59877605-d69c8b00-93c3-11e9-908d-79b6d25d09f1.png)

[2019-06-20 19:58] #655 closed

[2019-06-20 21:00] PrakashDurlabhji commented on #2406
@luizrrodrigues trying it as i do not wish to lose my efforts.

[2019-06-20 21:01] luizrrodrigues commented on #2406
@PrakashDurlabhji Thanks

[2019-06-20 21:36] gurmeetb commented on #2410
@nithyaasworld @Oanh-and-only-Oanh the fix for this issue was deployed here - https://beta-community-app.topcoder.com/challenges

[2019-06-21 01:02] luizrrodrigues commented on #2396
@ya3ya6 I found an issue in Mobile, looks like Desktop secondary menu showing.

![image](https://user-images.githubusercontent.com/7029641/59890330-c4602400-93a6-11e9-8c59-6b5107d5d408.png)

[2019-06-21 03:08] ya3ya6 commented on #2396
@sushilshinde sorry , i didn't noticed that. fixed and pr updated: https://github.com/topcoder-platform/navigation-component/pull/28

[2019-06-21 03:15] gets0ul commented on #2638
@luizrrodrigues It's been over 12 hours, you can unassign me from this. Thanks.

[2019-06-21 04:29] nithyaasworld commented on #804
Issue video:
[terms issues.zip](https://github.com/topcoder-platform/community-app/files/3312992/terms.issues.zip)

[2019-06-21 04:31] nithyaasworld commented on #477
The above issue is fixed.

[2019-06-21 05:12] ThomasKranitsas commented on #602
[500]: Challenge for the updated issue 602 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-21 05:12] ThomasKranitsas commented on #602
Contest https://www.topcoder.com/challenges/30093976 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-21 07:36] r0hit-gupta commented on #2481
@luizrrodrigues PR at [https://github.com/topcoder-platform/navigation-component/pull/29](https://github.com/topcoder-platform/navigation-component/pull/29), please review. Thanks.

[2019-06-21 07:55] gurmeetb commented on #2612
@nithyaasworld this is deployed to https://beta-community-app.topcoder.com/members/gurmeetb

[2019-06-21 13:11] #2396 closed

[2019-06-21 13:14] luizrrodrigues commented on #2638
@gets0ul Okay, thanks for trying.

[2019-06-21 13:15] luizrrodrigues commented on #2406
@PrakashDurlabhji Can open for pickup?

[2019-06-21 13:17] luizrrodrigues commented on #2397
https://github.com/topcoder-platform/community-app/pull/2633

[2019-06-21 13:20] luizrrodrigues commented on #2397
@ya3ya6 This one is like your previous fix, can you take look if is possible you complete the work here (So I can split the prize)

[2019-06-21 14:22] luizrrodrigues commented on #2481
@r0hit-gupta Looks good, please fix conflicts.

Thanks.

[2019-06-21 18:17] nithyaasworld commented on #768
This will be addressed as part of this: https://github.com/topcoder-platform/community-app/issues/2328

[2019-06-21 18:17] #768 closed

[2019-06-21 18:56] sexta13 commented on #2397
I don't think that's fair... The requirements you wrote here are met and now you are adding more requirements for the same price...
https://github.com/topcoder-platform/community-app/issues/2397#issuecomment-502400426

These were the requirements...

[2019-06-21 19:06] luizrrodrigues commented on #2397
@sexta13 No worries, we already done both in another issue.
I just need ingrain between this and currently repo.

I'll don't change your prize. :)

[2019-06-21 19:13] ya3ya6 commented on #2397
@luizrrodrigues Sorry for delayed reply. yes it seems like i did (always expand if user is logged in). but i'm not sure what exactly should i do, because it seems sexta13 already did this. is there any conflict between these?

[2019-06-21 19:16] luizrrodrigues commented on #2397
@ya3ya6 So just need merge this with latest repo and make sure all requirements is okay (and no break your update)

[2019-06-21 19:19] luizrrodrigues commented on #2397
@ya3ya6 I can pay $20 to merge and check, looks good?

[2019-06-21 19:19] ya3ya6 commented on #2397
@luizrrodrigues thanks, i can do this. but perhaps sexta13 want to do it hisself. so should i work on it?

[2019-06-21 19:24] luizrrodrigues commented on #2397
@ya3ya6 Go ahead, @sexta13 is currently in vacation :)

@sexta13 Thanks all hell here, remember I'll still pay $75 to this ticket to you. We just need followup with merge to close this ASAP.

[2019-06-21 19:26] ya3ya6 commented on #2397
@luizrrodrigues Ok, i will.

[2019-06-21 20:03] lucyji1000 commented on #2638
May I give this a try? @luizrrodrigues

[2019-06-21 20:04] luizrrodrigues commented on #2638
@lucyji1000 Yes, please.

[2019-06-21 20:56] sexta13 commented on #2397
Ok. Thanks. And sorry for any inconvenience.

I'll check the merge when I arrive just to know the solution. I got this as
a personal challenge and enjoyed it.

A Sex, 21 de jun de 2019, 20:26, ya3ya6 <notifications@github.com> escreveu:

[2019-06-21 21:29] luizrrodrigues commented on #2406
@PrakashDurlabhji Please give me a status about this one ASAP.

[2019-06-21 22:07] lucyji1000 commented on #2638
Opened a PR for this issue [here](https://github.com/topcoder-platform/community-app/pull/2652)

[2019-06-22 01:10] luizrrodrigues commented on #2397
@ya3ya6 Any status on this?

[2019-06-22 02:59] ya3ya6 commented on #2397
@LieutenantRoger
Pull request is on : https://github.com/topcoder-platform/navigation-component/pull/31
Requirements :
1. nav should be always expanded when user is logged in (it was already done) **(done)**
2. nav need be expanded for guest users , only if :
2.1. the current page is challenge page **(done)**
or
2.2. the current page is challenge details page **(done)**
3. in challenge details pag

[2019-06-22 03:01] ya3ya6 commented on #2397
@luizrrodrigues
Pull request is on : https://github.com/topcoder-platform/navigation-component/pull/31
Requirements :
1. nav should be always expanded when user is logged in (it was already done) **(done)**
2. nav need be expanded for guest users , only if :
2.1. the current page is challenge page **(done)**
or
2.2. the current page is challenge details page **(done)**
3. in challenge details page

[2019-06-22 03:03] luizrrodrigues commented on #2397
@ya3ya6 Thanks checking right now.

extra: Yes, you right need wait for #2652

[2019-06-22 03:13] ya3ya6 commented on #2397
@luizrrodrigues
Thanks. also note that :
Only two of files ( "src/components/TopNav/PrimaryNav.js" and "src/components/TopNav/index.js" ) are changed. other 3 files aren't really changed and are as same as before. (it shows it on file difference because i updated my fork repository in a wrong way. sorry about that.).

[2019-06-22 03:27] luizrrodrigues commented on #2397
@ya3ya6 Need deploy together with https://github.com/topcoder-platform/community-app/pull/2633 right?

[2019-06-22 03:32] ya3ya6 commented on #2397
@luizrrodrigues NOOOOO... just itself alone. i started it from zero, because it seems that sexta was focused on the part : "current state of navigation should be preserve when user navigate between pages" and there was alot of changes , so it was hard to integrate them.

[2019-06-22 03:34] luizrrodrigues commented on #2397
Oh cool. Checking

[2019-06-22 03:34] ya3ya6 commented on #2397
@luizrrodrigues and sorry but not sure about how to resolve conflict of "build" files (as you mentioned in pr request)? isn't that conflict normal?

[2019-06-22 03:37] luizrrodrigues commented on #2397
Get latest code from `navigation-component`, merge and deploy.

[2019-06-22 03:40] luizrrodrigues commented on #2397
When access: http://local.topcoder.com/challenges
I'll seeing this:
![image](https://user-images.githubusercontent.com/7029641/59959040-4f641b80-9486-11e9-83c4-8af503ed1ae7.png)

But need show navigation in right place:
![image](https://user-images.githubusercontent.com/7029641/59959046-5f7bfb00-9486-11e9-9612-bb800cddc619.png)

[2019-06-22 03:52] ya3ya6 commented on #2397
I think selecting the current Level 1 menu (`Community` or `Business`) and level 2 (`compete` and `tracks`) are related to how we handle Page to not refreash (https://github.com/topcoder-platform/community-app/pull/2652).

If we do it now, it may ruin up after fixing page refreash, cause i don't know what react properties will change after navigation. and also requirements in this topic (https://g

[2019-06-22 03:53] ya3ya6 commented on #2397
@luizrrodrigues

[2019-06-22 03:55] luizrrodrigues commented on #2397
@ya3ya6 note #2652 was closed. Dev work in wrong `branch` and unassigned from issue. So this is Open For Pickup, you think is better make this together?

[2019-06-22 04:02] ya3ya6 commented on #2397
@luizrrodrigues i think it's better to first fix the reload problem, then fixing this issue: "current navigation item isn't showing.".
i mean two different issues, first fixing reload problem, then fixing showing current menu problem.
i may be wrong, cause i don't know exactly how reload problem is gonna solved.

[2019-06-22 04:04] luizrrodrigues commented on #2397
@ya3ya6 Reload problem I think just need update `<a>` to `<Link>`
I can test here because can't deploy `navigation-component` here, trying to fix that. `community-app` deploy fine.

[2019-06-22 04:05] luizrrodrigues commented on #2397
You able to work in #2638 ?

[2019-06-22 04:07] ya3ya6 commented on #2397
@luizrrodrigues I can work on these two issues, but actually it's night here and the reload issue seems not easy, the both problems may took about 2/3 days for me, so i may not meet your deadlines.

[2019-06-22 04:09] luizrrodrigues commented on #2397
@ya3ya6 I see.
Can you just fix conflicts here: https://github.com/topcoder-platform/community-app/issues/2638
for now?

[2019-06-22 04:10] ya3ya6 commented on #2397
@luizrrodrigues ok. sorry for asking but should i merge this, rebuild this, and then commit? or just merge and commit? i don't understand why the conflict on build files matter, because i build them again evantually.

[2019-06-22 04:12] luizrrodrigues commented on #2397
How this working right now, `community-app` will use `dist` folder when merge (this run automatic)
To don't show conflicts in these files, before run build, need get latest changes in `develop` repo.

[2019-06-22 04:13] ya3ya6 commented on #2397
@luizrrodrigues  thanks. ok, i will do it right now.

[2019-06-22 04:44] ya3ya6 commented on #2397
@luizrrodrigues
I just recreated it:
https://github.com/topcoder-platform/navigation-component/pull/32
It doesn't have conflicts but please recheck it before deploy.
and please remove the old pull request.
Sorry about it

[2019-06-22 04:47] luizrrodrigues commented on #2397
Thanks.

[2019-06-22 06:52] r0hit-gupta commented on #2406
@luizrrodrigues May I pick this up?

[2019-06-22 07:02] PrakashDurlabhji commented on #2406
@luizrrodrigues i have a solution, let me give a try else i will directly assign to rohit

[2019-06-22 07:09] r0hit-gupta commented on #2406
@PrakashDurlabhji @luizrrodrigues this is not fair. What is the point of rules if they are not going to be enforced? It's been more than 24 hours since last update. You should give others a chance.

[2019-06-22 07:48] PrakashDurlabhji commented on #2406
@luizrrodrigues Is mac issue included in this scope? Can i get something for my efforts? as issue stated business to be added which was already met long back.Additional requirements later make it really difficult to complete this issue.Request you to think on this aspect as scope was met to my knowledge.Thank you.

[2019-06-22 10:24] gurmeetb commented on #2642
@nithyaasworld this was deployed here - https://beta-community-app.topcoder.com/settings/profile#skills - can you help validate?

[2019-06-22 11:21] gets0ul commented on #2638
@luizrrodrigues Can I work on this again? I want to give it another try. Thanks.

[2019-06-22 12:30] luizrrodrigues commented on #2638
@gets0ul Yes, sure.

[2019-06-22 14:03] gets0ul commented on #2638
@luizrrodrigues PR is submitted.
https://github.com/topcoder-platform/navigation-component/pull/33

[2019-06-22 15:02] luizrrodrigues commented on #2638
@gets0ul Thanks, I'll check shortly

[2019-06-22 15:10] luizrrodrigues commented on #2406
Sorry delay guys.

@r0hit-gupta request to pick this before when this is Open, so yes @r0hit-gupta you can work on this.

@PrakashDurlabhji Safari was a bug related 4 days ago, give you a possible solution and try to get status always, but no reply, so just open for pickup. I see your progress on this, but work in Safari is required (this not about add additional requirements later, you fix need w

[2019-06-22 20:10] PrakashDurlabhji commented on #2406
@luizrrodrigues the solution which i gave to show "business" is the only possible solution, anyone who creates a PR has to use my logic, just to solve MAc issue some code needs to be added

[2019-06-23 10:46] r0hit-gupta commented on #2406
@luizrrodrigues yes I am available to work on this. There is currently only one structured way of adding new links and anyone who wants to add new links have to do it in the same way just like Prakash did.

[2019-06-23 16:42] ya3ya6 commented on #2397
@luizrrodrigues
Hi
I worked on the issue : "menu should be selected, according to url".
Here is the updated pull request:
https://github.com/topcoder-platform/navigation-component/pull/32
Also please check if it's possible to consider separate prize for this issue.
Thanks.

[2019-06-24 08:13] nithyaasworld commented on #2612
It looks good @gurmeetb

We can close this ticket once this has been moved to production.

Thanks.

[2019-06-24 08:33] sushilshinde opened #2655 "SSF - My Challenges Bucket doesn't load on challenge URL (compare with production)"
https://beta-community-app.topcoder.com/challenges?bucket=my

branch - `server_side_filtering`

[2019-06-24 08:33] sushilshinde commented on #2655
FYI...@nithyaasworld

[2019-06-24 08:35] sushilshinde opened #2656 "SSF - My Challenges doesn't load sometimes and shows error on console"
branch - `server_side_filtering`

![Desktop 2019-06-24 14-05-02](https://user-images.githubusercontent.com/683231/60004081-92421100-9689-11e9-8f2b-fd3ad4d07f35.png)

[2019-06-24 08:42] sushilshinde commented on #2656
FYI @nithyaasworld

[2019-06-24 10:18] nithyaasworld commented on #2640
@luizrrodrigues Can we close this?

[2019-06-24 10:48] luizrrodrigues commented on #2640
@nithyaasworld Yes.

[2019-06-24 10:48] #2640 closed

[2019-06-24 11:58] r0hit-gupta commented on #2406
@luizrrodrigues PRs at https://github.com/topcoder-platform/community-app/pull/2658 and https://github.com/topcoder-platform/navigation-component/pull/34 . Please review, thanks.

[2019-06-24 12:05] PrakashDurlabhji commented on #2406
@luizrrodrigues request you to split the amount if possible, to display bussiness option, and another to make it work on Mac.
so i get paid for my efforts atleast, for adding business option and making testcases work.

[2019-06-24 14:09] luizrrodrigues commented on #2638
@gets0ul https://github.com/topcoder-platform/navigation-component/pull/33#pullrequestreview-253436577

[2019-06-24 15:21] gets0ul commented on #2638
@luizrrodrigues PR is updated. Thanks

[2019-06-24 16:06] Oanh-and-only-Oanh commented on #2379
we need Atif for backend deployment, so holding it. Guri can try to merge to develop, but not confident how the Ci/CD is setup. Hence holding until he is back.

[2019-06-24 16:17] gurmeetb commented on #2379
@Oanh-and-only-Oanh I am working with Atif on this, found some backend fixes to be done, working on same, we should have it ready soon..

[2019-06-24 16:28] luizrrodrigues commented on #2406
@r0hit-gupta Looks like break somethings of latest pushes/PR.

Missing secondary menu of **Community** and looks back **Community** changed to **Work**
![image](https://user-images.githubusercontent.com/7029641/60035483-52782b00-9683-11e9-912f-d68ca59cd548.png)

Existing:
![image](https://user-images.githubusercontent.com/7029641/60035655-bf8bc080-9683-11e9-819d-0d63ce42ee3e.png)

Please make sure

[2019-06-24 17:59] r0hit-gupta commented on #2406
@luizrrodrigues fixing it up.

[2019-06-24 18:20] nithyaasworld commented on #538
@birdofpreyru This seems like an info than an issue. Hence closing this.

[2019-06-24 18:20] #538 closed

[2019-06-24 18:34] nithyaasworld commented on #691
@Dara-K Can you please confirm if we want this feature still?

[2019-06-24 18:55] luizrrodrigues commented on #2638
@gets0ul Please can you merge latest change and rebuild to fix conflicts?
Thanks.

[2019-06-24 19:20] nithyaasworld commented on #789
@RiteshTC It is not happening any more. Please re-open if this happens again. Thanks.

![image](https://user-images.githubusercontent.com/5114190/60045714-242a3800-96e3-11e9-950c-bfafeab26ce0.png)

[2019-06-24 19:20] #789 closed

[2019-06-24 20:02] nithyaasworld commented on #1792
Not able to verify this in Topgear-dev environment as the login process is done by logging into www.topcoder-dev.com and then accessing the topgear-dev.topcoder.com

[2019-06-24 20:07] gurmeetb commented on #2379
@Oanh-and-only-Oanh this has been pushed to DEV - https://www.topcoder-dev.com/settings/profile, I will work with @sushilshinde to keep it there for a day or two tomm so @nithyaasworld can help test this.

[2019-06-24 20:37] hokienick opened #2659 "Remove Top Padding from Accordion Details"
Please use [this page](https://community-app.topcoder.com/examples/contentful/viewport/1IbkLrXJLA75fbzVl27PVz) as an example.  Notice the 25px padding in the details section of the accordion (right side).  The top should match the starting point of the text on the left.  Please remove this padding.

[2019-06-24 22:25] #2647 closed

[2019-06-24 22:41] luizrrodrigues commented on #2406
@r0hit-gupta Any status on this one?

[2019-06-25 07:30] luizrrodrigues commented on #2406
@r0hit-gupta I just applied my approach share here: https://github.com/topcoder-platform/community-app/issues/2406#issuecomment-503313550 and working fine.

[2019-06-25 07:46] r0hit-gupta commented on #2406
@luizrrodrigues I had already fixed that issue https://github.com/topcoder-platform/navigation-component/pull/34. Fixing the menu items.

[2019-06-25 07:50] luizrrodrigues commented on #2406
@r0hit-gupta This not working in Safari, still showing horizontal scroll when reduce window size.

[2019-06-25 07:59] r0hit-gupta commented on #2406
@luizrrodrigues so looks like you solved everything 😄. If there is anything more to be done, please let me know. Thanks.

[2019-06-25 08:06] luizrrodrigues commented on #2406
@r0hit-gupta Yeah, working fine :)
Thanks for check this one.
More issue is coming soon :)

[2019-06-25 08:41] #2406 closed

[2019-06-25 08:47] PrakashDurlabhji commented on #2406
@luizrrodrigues is prize splitted for this one?

[2019-06-25 08:49] luizrrodrigues commented on #2406
@PrakashDurlabhji Nope, just use your approach + my fix to Safari.

[2019-06-25 12:30] sushilshinde opened #2661 "[$100] SSF - Requirements missing from my specs"
@ThomasKranitsas

URL - https://beta-community-app.topcoder.com/challenges

1. Point # 2 is not implemented from https://github.com/topcoder-platform/topcoder-react-lib/pull/71#issuecomment-501635184

2. console error continues to show, switch between the buckets

![image](https://user-images.githubusercontent.com/683231/60098288-c9402180-9772-11e9-842e-444241ef6387.png)

3. `View more challenges`

[2019-06-25 12:37] sushilshinde commented on #2661
@nithyaasworld FYI

[2019-06-25 13:03] #2656 closed

[2019-06-25 13:03] #2655 closed

[2019-06-25 13:50] sushilshinde opened #2662 "New nav - Business links needs work"
`Business` links are not working

URL - https://test-community-app.topcoder-dev.com/challenges

![image](https://user-images.githubusercontent.com/683231/60104206-9dc33400-977e-11e9-9dd3-1edf23a8a6fd.png)

[2019-06-25 13:55] nithyaasworld opened #2663 "New Nav Feedback for Version 1"
**These are observed in https://test-community-app.topcoder-dev.com/**

1. ~Clicking on Compete or Tracks or Explore, not loading the first second-level menu item by default~
2. **When not logged in**, if I navigate to Tracks --> QA, it reloads the whole page. and also nav elements collapsed/expanded state are reset.  Happens with most other menus too.
3. Not logged in state: sub links in the busi

[2019-06-25 13:56] nithyaasworld commented on #2663
CC: @Oanh-and-only-Oanh and @sushilshinde

[2019-06-25 13:56] nithyaasworld commented on #2663
3,4,5,7,10 are important for our Basic release.

[2019-06-25 13:59] kkartunov opened #2664 "New nav - hide white secondary menus when empty"
If some of: https://github.com/topcoder-platform/community-app/blob/25b95419ac4f14f36c186d6a7e04312e565a5ce4/config/default.js#L323

[2019-06-25 14:03] luizrrodrigues commented on #2662
@sushilshinde I see links in design not match with existing site, all links need like existing site?

Design
![image](https://user-images.githubusercontent.com/7029641/60104843-a3962680-9738-11e9-8909-27a90ee98382.png)

Existing Site
![image](https://user-images.githubusercontent.com/7029641/60104874-b4469c80-9738-11e9-8e49-5cba30781a72.png)

[2019-06-25 14:13] luizrrodrigues commented on #2663
3. https://github.com/topcoder-platform/community-app/issues/2662
4. So main menu Business will works like Switch Button?
5. Payments redirect to DEV site, so error is from DEV site (development don't have payment page)
7. same like 5
10. What will be the default top nav in that case?

[2019-06-25 14:28] nithyaasworld commented on #2663
4:

5 and 7: Ok, can you please tell me, after deploying this code to production, How can I make sure that Payment and forum links would still work?

10. May be, we should just keep the Community menu expanded with nothing selected. But need confirmation on this from Victor.

[2019-06-25 14:32] ya3ya6 commented on #2663
Hi, i was invonved in `navbar` development , so i think i can give some input.

There is another issue like 10:

13: When I go to `/members/TonyJ`, it loads the member profile page correctly. But the top nav points to Business.

Its because These pages doesn't exists in menu. currently when address doesn't exists in menu, menu will expand with first level 1 menu item (if user is logged in), which

[2019-06-25 14:32] luizrrodrigues commented on #2663
4 - OK
5 and 7 - @sushilshinde we have any test env that support these links?
10 - Ok, let me know.

[2019-06-25 15:00] nithyaasworld commented on #2663
Thanks @ya3ya6

13: We have _community --> My Profile_ for /_members/TonyJ_  or are you referring to some other page?

[2019-06-25 15:04] ya3ya6 commented on #2663
@nithyaasworld No prolem. perhaps because that's your profile, so its marked as `My Profile` for you. check another one's profile, like: https://test-community-app.topcoder-dev.com/members/ya3ya6

[2019-06-25 15:06] nithyaasworld commented on #2663
Got it, Thanks @ya3ya6 I will add this to the original description of this Issue.

[2019-06-25 15:09] ya3ya6 commented on #2663
@nithyaasworld No problem, please also check that `my profile` menu item under community is pointing to right address, because both of https://test-community-app.topcoder-dev.com/settings/profile or https://test-community-app.topcoder-dev.com/members/TonyJ are my profiles.

[2019-06-25 15:24] nithyaasworld commented on #2663
Yes @ya3ya6, it is working just like what we have now in Production.

[2019-06-25 15:33] ya3ya6 commented on #2663
@nithyaasworld

14. Not logged in state: When I go to a chellenge details page (`challenges/30055052`), it loads the page correctly. But the top nav points to Business. .

15. Not logged in state:  When I navigate to `community->tracks->design`, and then i navigate to `community->tracks->data science`, the navbar will become collapsed.
The same will happen for navigating from `compete->all challen

[2019-06-25 15:45] Dara-K commented on #691
No, we don't need it anymore

[2019-06-25 15:45] nithyaasworld commented on #691
Thanks @Dara-K for confirming!

[2019-06-25 15:45] #691 closed

[2019-06-25 16:35] nithyaasworld commented on #2663
Thanks @ya3ya6 for reporting!

Added as 13a

Should be fixed in #2

Expectation is, when a first-level menu is clicked, it should auto-load the first Second-level item for the selected first level item. This is #1 in this list.

[2019-06-25 16:42] nithyaasworld commented on #2663
@luizrrodrigues

For 10, @Oanh-and-only-Oanh confirmed that we should just keep the Community menu expanded with no selection indicator.

[2019-06-25 16:51] nithyaasworld commented on #2662
CC: @Oanh-and-only-Oanh

[2019-06-25 16:55] #2542 closed

[2019-06-25 18:26] hokienick opened #2665 "General Theme - Min Height Banner"
The current height for banners for the General theme is min-height:600px.

Please change this to be 400px.  Thanks!

[2019-06-25 18:34] Oanh-and-only-Oanh commented on #2663
@sushilshinde, can you help with issues #5 and #7 below?
5) Clicking on Community -> Payments shows 502 error. Payments redirect to DEV site, so error is from DEV site (development don't have payment page)
7) Explore --> Forums is not working

[2019-06-25 18:40] Oanh-and-only-Oanh commented on #2662
@luizrrodrigues, let's go with this solution for the Business links.

Remain this BUSINESS level navigation (see below)
![image](https://user-images.githubusercontent.com/47536078/60124020-962f6b00-973d-11e9-8211-bb49134ea7fe.png)

to what is currently in production (See below)
![image](https://user-images.githubusercontent.com/47536078/60124056-ae06ef00-973d-11e9-961b-65b5c1c0365c.png)

Then have

[2019-06-25 19:26] nithyaasworld opened #2666 "Regarding the nav bar elements, when user is not logged in"
**Environment: **
https://test-community-app.topcoder-dev.com/

**Actual behavior**
When not logged in, if I navigate to Tracks --> QA, it reloads the whole page. and also nav elements collapsed/expanded state are reset. Happens with most other menus too.

[2019-06-25 19:26] nithyaasworld commented on #2666
This is No: 2 stated in this ticket: https://github.com/topcoder-platform/community-app/issues/2663

[2019-06-25 19:32] nithyaasworld opened #2667 "Default menu for the pages that doesnt exists in menu"
There are some pages that doesn't exist in the Navigation menu.

Examples:
1. Any member profile page other than the own profile Ex: /members/TonyJ being logged in as mess
2. Challenge details page
3. User menu --> Settings

Expected Behaviour: When such pages are accessed, we should just show the Community menu expanded with no selection indicator.

[2019-06-25 19:33] nithyaasworld commented on #2667
Tips to fix this is provided here by @ya3ya6 https://github.com/topcoder-platform/community-app/issues/2663#issuecomment-505472211

[2019-06-25 19:40] nithyaasworld opened #2668 "Regarding Payments and Forums link testing"
In our Test Environment, Clicking on Community --> Payments and Clicking on Explore --> Forums are re-directing to dev environments and they are not working.

So I am not sure how to **make sure** that Payments and Forums would work after deploying our Navigation V1 into Production.

[2019-06-25 19:40] nithyaasworld commented on #2668
This is No: 5 and No: 7 in https://github.com/topcoder-platform/community-app/issues/2663

[2019-06-25 19:42] nithyaasworld opened #2669 "Regarding Business Main Menu display"
Currently Business Main menu is displayed.

Expectation:

Remove Business Main Menu for all User roles **if the user is Logged in**

[2019-06-25 19:43] nithyaasworld commented on #2669
This is No: 4 in https://github.com/topcoder-platform/community-app/issues/2663

[2019-06-25 19:44] gurmeetb commented on #2379
@nithyaasworld did you had chance to test this ?

[2019-06-25 19:46] nithyaasworld opened #2670 "Some pages are not having the New Navigation"
1. Explore --> TCO is not having New nav
2. Explore --> Blog is not having the new nav
3. User menu --> Help doesn't have new nav
4. User menu --> About Topcoder doesn't have new nav
5. In the NOT logged in state: Community second level menu pages are not having the new-nav as they are redirecting to prod/dev environment.

[2019-06-25 19:48] nithyaasworld commented on #2670
This is No: 6, 8, 11, 12, 14 in https://github.com/topcoder-platform/community-app/issues/2663

[2019-06-25 19:51] nithyaasworld opened #2671 "When navigating between menus, new nav is also re-loaded ( minor issue)"
When navigating between menus, new nav is also re-loaded. You can see that the nav bar flickered once, when navigating between menus.

Expectation: Nav bar should not get re-loaded. Nav bar should not flicker.

[2019-06-25 19:51] nithyaasworld commented on #2671
This is No: 9 in https://github.com/topcoder-platform/community-app/issues/2663

[2019-06-25 20:06] nithyaasworld commented on #2379
Checking this right now!

[2019-06-25 20:27] nithyaasworld commented on #2379
@gurmeetb I am logged in as dan_developer. I am getting "failed to add user trait" error when trying to edit an existing language or when adding a new language. Please find the screenshot below.

( I am still not done testing this. I will update here once I am done)

This is the API response: {"id":"-3ccef9d9:16b8ab9edb2:-6d85","result":{"success":true,"status":400,"metadata":null,"content":"The f

[2019-06-25 20:34] gurmeetb commented on #2379
@nithyaasworld do you have alternate users to test? Not sure how good is data we have for Dan user, I will send you 2 more users I have over slack - can you try to see if you get same errors for them?

[2019-06-25 21:08] nithyaasworld commented on #2379
Yes @gurmeetb Same issue with all the users.

[2019-06-25 22:18] #2284 closed

[2019-06-25 22:20] Oanh-and-only-Oanh opened #2672 "Rounds in Single Round Challenges"
The “Round Titles” show in Single Round challenges (and they shouldn’t)

![image](https://user-images.githubusercontent.com/47536078/60137721-b3bffd00-975c-11e9-8cff-d7d11d6b88e2.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]

[2019-06-25 22:21] Oanh-and-only-Oanh commented on #2672
@sushilshinde, this is a followup to https://github.com/topcoder-platform/community-app/issues/2284 reported by @adroc-tc

[2019-06-25 23:14] luizrrodrigues commented on #2667
@nithyaasworld Please let me know if this is what expected to Settings and Challenge Details page.
(Ignore menu animation/refresh for now)
[Screen Recording 2019-06-25 at 20.12.18.mov.zip](https://github.com/topcoder-platform/community-app/files/3327554/Screen.Recording.2019-06-25.at.20.12.18.mov.zip)

[2019-06-26 00:21] luizrrodrigues commented on #2668
@nithyaasworld
This working well with **Production** deploy:
[Screen Recording 2019-06-25 at 21.19.37.mov.zip](https://github.com/topcoder-platform/community-app/files/3327670/Screen.Recording.2019-06-25.at.21.19.37.mov.zip)

[2019-06-26 01:15] luizrrodrigues commented on #2662
@Oanh-and-only-Oanh All clear.

[2019-06-26 03:35] sushilshinde commented on #2663
@Oanh-and-only-Oanh @luizrrodrigues @nithyaasworld  those link should be pointing to, I assume connect dev environment when the build is dev and pointing to production connect if the build is prod. For rest of the links where if there is no corresponding app avail on dev at least URL should form dynamically so if the build is deployed on the beta which will be production build, we should be able t

[2019-06-26 04:39] nithyaasworld commented on #2668
Thanks @luizrrodrigues for the video!

[2019-06-26 04:39] #2668 closed

[2019-06-26 06:43] sushilshinde commented on #2599
@gurmeetb please open it for pick-up, it's a non-functional very important issue.

Use - https://github.com/topcoder-platform/community-app/tree/hot-fixes-3

[2019-06-26 06:47] sushilshinde commented on #2460
I don't it is a community app

[2019-06-26 06:48] sushilshinde commented on #2382
We will hide `save filters` feature for now

[2019-06-26 10:05] nithyaasworld opened #2673 "SSF - "Open for review" takes long time to load"
1. Go to https://beta-community-app.topcoder.com/challenges
2. Click on "Open for Review" present at the right panel
3. Observe the time it takes to load

Actual:
It takes more than 30 seconds

Expected:
It should load under 1 or 2 seconds

[2019-06-26 10:07] #2673 closed

[2019-06-26 10:15] nithyaasworld opened #2674 "[$50] SSF - "View more challenges" link is available though there are no more challenges"
1. Go to https://beta-community-app.topcoder.com/challenges
2. Click on "View more challenges" present under "Open for registration" section
3. Scroll to the end and notice that all the challenges are already listed in the screen, but still "View more challenges" link is present
4. Clicking on it, takes the user to top of the listing page

![image](https://user-images.githubusercontent.com/5114190

[2019-06-26 10:41] nithyaasworld opened #2675 "SSF - Sub community has only "All" value"
Sub community has only "All" value in the dropdown

![image](https://user-images.githubusercontent.com/5114190/60173741-12ed4280-982d-11e9-96ba-a8682a5d3cdd.png)

Expected: It should have values like in the production

[2019-06-26 10:59] nithyaasworld commented on #2675
This has occurred earlier and reported here: https://github.com/topcoder-platform/community-app/issues/2381

[2019-06-26 12:07] nithyaasworld opened #2676 "SSF - Sometimes, results are loaded in multiple updates [Minor]"
1. Go to https://beta-community-app.topcoder.com/challenges
2. Click on "My challenges" at the right panel
3.  Check the results loading

Actual:
1. First set of results are loaded with still loading animation at the end.
2.Then another set of results are loaded with loading animation at the end.
3.Then loading animation stopped.

Video:
[loaded in multiple updates.zip](https://github.com/topcoder

[2019-06-26 12:19] nithyaasworld opened #2677 "SSF - Order of the displayed results are altered after an additional set of results are loaded"
1. Go to https://beta-community-app.topcoder.com/challenges and click on "Ongoing Challenges" from the right panel
2. Sort by "Prize high to low" and observe that the prize of the challenge displayed at the top is $3800
3. Then scroll a little down. After a new set of results are loaded at the bottom, scroll up and check that the prize of the challenge displayed at the top is $21000

Expected:
The

[2019-06-26 16:12] sushilshinde commented on #2677
@ThomasKranitsas can we get this fixed?

[2019-06-26 16:15] sushilshinde commented on #2675
That's a different problem, should be resolved after merge with regular branch.

[2019-06-26 16:15] #2675 closed

[2019-06-26 19:02] Oanh-and-only-Oanh commented on #2672
hi @skyhit, can you give me an estimate on when you can complete this?

[2019-06-26 19:26] nithyaasworld commented on #2313
As no clarification provided for a long time, closing this.

@NehaSharma02 Please feel free to re-open if this is still an issue.

[2019-06-26 19:26] #2313 closed

[2019-06-26 19:29] nithyaasworld commented on #842
@birdofpreyru Closing this. Please feel free to re-open if needed.

[2019-06-26 19:29] #842 closed

[2019-06-26 19:40] nithyaasworld commented on #2642
@gurmeetb It seems like the fix is no longer available in beta environment. Can you please re-deploy and let me know in slack?

Sorry that I missed to notice your above message.

[2019-06-26 19:46] gurmeetb commented on #2599
@topcoder-platform/topcodercompetitors this is open for pickup.

[2019-06-26 19:49] ThomasKranitsas commented on #2599
[500]: Challenge for the updated issue 2599 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-26 19:52] ThomasKranitsas commented on #2599
Contest https://www.topcoder.com/challenges/30094382 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-26 19:53] ThomasKranitsas commented on #2599
Contest https://www.topcoder.com/challenges/30094382 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-26 19:53] ThomasKranitsas commented on #2599
Contest https://www.topcoder.com/challenges/30094382 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-26 19:55] ThomasKranitsas commented on #2599
Contest https://www.topcoder.com/challenges/30094382 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-26 20:20] nithyaasworld commented on #1989
@ajefts The above phrase seems to contradict with the issue description which says as below:

"Feature requested: Please add veteran challenges to the list of review opportunities page as this will enable the option for all reviewers to apply."

Kindly clarify. Thanks.

[2019-06-26 20:28] nithyaasworld commented on #2663
@luizrrodrigues Closing this  ticket as the issues reported in the description are logged as multiple tickets for your easy tracking.

[2019-06-26 20:28] #2663 closed

[2019-06-26 20:35] gurmeetb commented on #2642
@nithyaasworld will work to get it back on env where you can test this, thanks for flagging.

[2019-06-26 20:35] nithyaasworld commented on #1975
@maxceem Currently I get this mail after the review phase. Can you confirm please if this looks helpful to the new members?

![image](https://user-images.githubusercontent.com/5114190/60212939-1231cc00-9880-11e9-9eaf-3ef4f9391478.png)

[2019-06-27 01:34] ajefts commented on #1989
The intention is that the opportunities are only available to the users based in their group permissions. So, vets reviews are only available to reviewers that are in the vets group. Currently, if the challenge is in any group the page isn’t showing it.

[2019-06-27 01:56] maxceem commented on #1975
@nithyaasworld the email screenshot you've shared would be better, but still doesn't fix the main issue.

1. As per my experience `submitters` doesn't get the email you've shared above. This email is sent to `copilots` and `observers` where `Cockpit` link leads to the challenge page in `Direct` instead of `OnlineReview`.
    `submitters` get emails like this:

    ![image](https://user-images.gith

[2019-06-27 07:01] gurmeetb commented on #2612
@Oanh-and-only-Oanh @nithyaasworld This was deployed to PROD. Please help verify and close this. Thanks

[2019-06-27 07:28] gurmeetb commented on #2642
@nithyaasworld this is deployed to https://beta-community-app.topcoder.com/settings/profile#skills

Since beta would get busy from tonight for other planned stuff, can you please help test and provide feedback on this ASAP? Thanks

[2019-06-27 08:35] nithyaasworld commented on #2612
Thanks @gurmeetb for following this up!

Verified in Production.

![image](https://user-images.githubusercontent.com/5114190/60250495-61a9e380-98e4-11e9-8abc-86a54c517c4b.png)

[2019-06-27 08:35] #2612 closed

[2019-06-27 08:40] gurmeetb commented on #2599
@PrakashDurlabhji any updates on this ?

[2019-06-27 08:50] PrakashDurlabhji commented on #2599
@gurmeetb just 10 minutes

[2019-06-27 09:01] sushilshinde commented on #2599
Need dynamic year rendering not hardcoding

[2019-06-27 09:07] PrakashDurlabhji commented on #2599
@gurmeetb @sushilshinde PR https://github.com/topcoder-platform/community-app/pull/2684

[2019-06-27 09:55] nithyaasworld commented on #2642
Thanks @gurmeetb But hovering on the tooltip, shows remove option.  Can we show only tooltip when hovering on the badge and not the remove option?

![image](https://user-images.githubusercontent.com/5114190/60256756-c454ac80-98ef-11e9-8cdc-032d0a2ca8dc.png)

[2019-06-27 11:32] gurmeetb commented on #2642
@nithyaasworld done, kindly validate.

[2019-06-27 11:36] nithyaasworld commented on #2642
Thanks @gurmeetb Verified.

[2019-06-27 14:31] luizrrodrigues commented on #2662
New requirements was send in Slack
- when they visit community side, then they will see the new navigation
- BUSSINESS/COMMUNITY toggle will always show. but COMMUNITY will be default.
- When BUSINESS is clicked, route to www.topcoder.com
- no sub menu. no top level menu for Business even. take out
- clicking BUSINESS links to www.topcoder.com

[2019-06-28 06:53] gurmeetb commented on #2642
@Oanh-and-only-Oanh @nithyaasworld This is on PROD now, https://www.topcoder.com/settings/profile/#skills - kindly help verify and close the ticket.

[2019-06-28 09:03] kkartunov commented on #2671
@luizrrodrigues this needs attention.
It is related to `href` property in menu item object of the menu tree. If it is `null/undefined` link won't redirect and menu won't reload. I tested such behavior but navi throws error when href is undefined. Please, add a check for `href === undefined` when the active path is determined.
Thanks

[2019-06-28 09:06] kkartunov commented on #2400
@nithyaasworld this is not closed. Please, leave it to us. Thanks

[2019-06-28 09:56] gurmeetb commented on #2599
@PrakashDurlabhji The fix was deployed to dev, please see here, don't see it fixes any of the community.

You can try selecting any community from dropdown beside logo in header. From Dashboard, you can find all community links - https://www.topcoder-dev.com/my-dashboard

Some quick links to validate fix on dev
https://cs.topcoder-dev.com/
https://blockchain.topcoder-dev.com/

[2019-06-28 09:59] gurmeetb commented on #2599
For your local setup to test, look for `Separate Topcoder Communities` which has links for all communities.

[2019-06-28 11:33] PrakashDurlabhji commented on #2599
@gurmeetb though it is not available on above links.

1. but on setting up locally, looking into separate topcoder communities section, and clicking links from there.

2.it is working fine.

3. so i feel some deployment issue may be there at your end.

can you kindly confirm once again? as it is working fine locally.

[2019-06-28 12:30] gurmeetb commented on #2599
@PrakashDurlabhji ok I did ran locally, see it works for only 2-3 of them. Below are the one which still show 2017

http://localhost:3000/__community__/demo-expert
http://localhost:3000/__community__/community-2
http://localhost:3000/__community__/tc-prod-dev
http://localhost:3000/__community__/veterans

Can you try these locally ?

[2019-06-28 13:39] sushilshinde commented on #2410
It is on the server side branch, will go live next week.

[2019-06-28 13:39] #2410 closed

[2019-06-28 16:12] Oanh-and-only-Oanh commented on #2379
hey @gurmeetb, how's this going with the EPOCH formatting?

[2019-06-28 16:18] gurmeetb commented on #2379
@Oanh-and-only-Oanh @urwithat is helping get that in in sync with ES and DynamoDB....

[2019-06-28 21:46] PrakashDurlabhji commented on #2599
@gurmeetb checking it immediately and updating.

[2019-06-29 04:33] sushilshinde opened #2688 "[$50]SSF - Fix linting issues"
Fix `npm run lint` issues on `server_side_filtering_fixes` branch, do not change eslinting rules

PR to https://github.com/topcoder-platform/community-app/tree/server_side_filtering_fixes

[2019-06-29 04:36] sushilshinde commented on #2688
@topcoder-platform/topcodercompetitors this one is open for pickup

[2019-06-29 04:37] ThomasKranitsas commented on #2688
Contest https://www.topcoder.com/challenges/30094617 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-29 04:37] ThomasKranitsas commented on #2688
Contest https://www.topcoder.com/challenges/30094617 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-29 04:38] ThomasKranitsas commented on #2688
Contest https://www.topcoder.com/challenges/30094617 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-29 04:45] ThomasKranitsas commented on #2688
Contest https://www.topcoder.com/challenges/30094617 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-29 05:03] gurmeetb commented on #2688
@sushilshinde there are no lint issues

[code]

[2019-06-29 06:19] sushilshinde commented on #2688
@gurmeetb  please check this file
[lint-log.txt](https://github.com/topcoder-platform/community-app/files/3341450/lint-log.txt)

[2019-06-29 06:51] gurmeetb commented on #2688
Checking

[2019-06-29 15:02] gurmeetb commented on #2599
@PrakashDurlabhji any updates?

[2019-06-29 21:59] PrakashDurlabhji commented on #2599
@gurmeetb solved all, PR https://github.com/topcoder-platform/community-app/pull/2690

[2019-06-30 10:54] sushilshinde commented on #2661
@ThomasKranitsas updates?

[2019-06-30 12:34] ThomasKranitsas commented on #2661
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup. I was not able to reproduce **1** and **3** so you may only have to fix the 2nd requirement.

This is urgent! Do not pick this up if you can't fix it soon.

PR on `server_side_filtering` branch.

[2019-06-30 12:39] ThomasKranitsas commented on #2661
[500]: Challenge for the updated issue 2661 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-30 12:41] ThomasKranitsas commented on #2661
[500]: Challenge for the updated issue 2661 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-30 12:42] ThomasKranitsas commented on #2661
Contest https://www.topcoder.com/challenges/30094655 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-30 12:43] ThomasKranitsas commented on #2661
Contest https://www.topcoder.com/challenges/30094655 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-30 12:44] ThomasKranitsas commented on #2661
Contest https://www.topcoder.com/challenges/30094655 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-30 13:59] gurmeetb commented on #2661
@ThomasKranitsas I tried playing around with `View More Challenges` and not able to replicate either. I have raised PR for fix for **2**

[2019-07-01 11:56] nithyaasworld opened #2693 "[$30]SSF - "My Challenges" should not be displayed when user is not logged in."
Actual:

"My Challenges" count is displayed as 0 when user is not logged in.

Expected:

"My Challenges" should not be displayed when user is not logged in.

Note: This was not an issue during the last SSF-testing.

![image](https://user-images.githubusercontent.com/5114190/60434672-57118600-9c25-11e9-9336-dc25405238fa.png)

[2019-07-01 11:59] nithyaasworld commented on #2674
@ThomasKranitsas @sushilshinde

Confirming that this is still an issue. On clicking "View more challenges", the page gets scrolled to the top.

[2019-07-01 12:01] nithyaasworld commented on #2677
@ThomasKranitsas @sushilshinde Confirming that this is still an issue

[2019-07-01 12:08] harshitmehta123 commented on #2359
Hey @sushilshinde has this been deployed? :)

[2019-07-01 12:08] nithyaasworld opened #2694 "[$50]SSF: Challenge listing page -> On clicking on a challenge, it displays a blank page"
1. Go to https://beta-community-app.topcoder.com/challenges
2. Click on one of the challenges displayed
3. Observe

Actual:
It displays a blank white screen.

On clicking browser back button, it did not even load the Challenge listing page.

Expected:
It should display the right pages all the time. No blank page is expected.

![image](https://user-images.githubusercontent.com/5114190/60435365-fedb

[2019-07-01 12:23] nithyaasworld commented on #2694
Video:
[SSR BLANK page.zip](https://github.com/topcoder-platform/community-app/files/3345515/SSR.BLANK.page.zip)

[2019-07-01 12:52] sushilshinde commented on #2693
@nithyaasworld It is not an issue as my challenges should be only loaded when the user is logged in, but the link `My Challenges` should not be visible.

[2019-07-01 12:58] sushilshinde commented on #2694
@topcoder-platform/topcodercompetitors this one is open for pickup. This is urgent, please release in 12 hours.

PR on `ssf-merged-to-new-develop` branch

[2019-07-01 13:02] gurmeetb commented on #2661
@ThomasKranitsas @sushilshinde does this looks good now or we need some changes? Kindly flag.

[2019-07-01 13:03] #2661 closed

[2019-07-01 13:03] ThomasKranitsas commented on #2694
[500]: Challenge for the updated issue 2694 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:03] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:03] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:03] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:03] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:04] ThomasKranitsas commented on #2661
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30094655<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:04] ThomasKranitsas commented on #2694
[500]: Challenge for the updated issue 2694 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:04] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:04] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:04] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:04] ThomasKranitsas commented on #2694
[500]: Challenge for the updated issue 2694 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:04] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:04] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:04] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:05] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:05] ThomasKranitsas commented on #2694
[500]: Challenge for the updated issue 2694 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:05] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:05] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:05] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:05] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:05] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:07] ThomasKranitsas commented on #2694
[500]: Challenge for the updated issue 2694 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:07] ThomasKranitsas commented on #2694
[500]: Challenge for the updated issue 2694 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:07] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:07] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:08] ThomasKranitsas commented on #2694
[500]: Challenge for the updated issue 2694 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:08] ThomasKranitsas commented on #2694
[500]: Challenge for the updated issue 2694 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:08] ThomasKranitsas commented on #2694
[500]: Challenge for the updated issue 2694 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:08] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:08] ThomasKranitsas commented on #2694
[400]: Failed to create challenge. Detail: Operation failed in the contest service facade.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 13:17] nithyaasworld commented on #2693
May be the issue title is confusing, I will change it.

But that's what I was trying to say too :)

[2019-07-01 13:38] nithyaasworld opened #2695 "[$140] SSF: Results are loaded only after waiting for more than 40 seconds, when Development filter alone is chosen."
**Prerequisite: User is logged in**

1. Go to https://beta-community-app.topcoder.com/challenges
2. Turn off the Design and DataScience filter
3. Observe

Actual:
It takes more than 45 seconds, to load the results. This also happen when switching between the options present in the right panel, with Dev Filter alone turned on.

Expected:
It should not take such long time to load the results.

Video

[2019-07-01 13:44] nithyaasworld commented on #2695
Video:
[load time when dev alone is selected.zip](https://github.com/topcoder-platform/community-app/files/3345841/load.time.when.dev.alone.is.selected.zip)

[2019-07-01 13:58] sushilshinde commented on #2695
@nithyaasworld is this new?

[2019-07-01 14:05] nithyaasworld commented on #2695
Yes @sushilshinde , It seems so!

[2019-07-01 14:15] nithyaasworld opened #2696 "[$80] SSF: When DataScience filter is removed, it is not showing right results"
1. Go to https://beta-community-app.topcoder.com/challenges
2. Turn off Data Science filter and check

Actual:
It displays only 3 results and that too under the section "Open for registration"

However, When only Design filter is turned off (Dev and DS filter in On), it fetches right results.

Expected:
It should display all the sections like "My challenges", "Open for registration", etc with righ

[2019-07-01 14:22] nithyaasworld commented on #2696
@sushilshinde This one seems to be new one too. Last time, I tested for about 2 hours and I did not see these issues.

[2019-07-01 14:22] sushilshinde commented on #2696
ok

[2019-07-01 14:44] ajefts opened #2697 "Test API"
This is just a test

[2019-07-01 15:13] nithyaasworld commented on #2669
Requirement has been changed.

Current expectation: We keep main menu Business to all users, when clicking on this, it will redirect to www.topcoder.com

[2019-07-01 15:13] nithyaasworld opened #2698 "[$80] SSF: It shows incorrect results for some combination of filters"
1. Go to https://beta-community-app.topcoder.com/challenges
2. Choose sub-track as Web design (Observe that it fetches the right set of results at this time)
3. Then Turn off Dev filter and check the results

Actual:
It displays all the sub-tracks and not just the Web Design.

Expected:
It should display Only Web Design challenges present under Design and DS Track.

[2019-07-01 15:20] nithyaasworld commented on #2695
This issue happens for the following combination of filters too:

![image](https://user-images.githubusercontent.com/5114190/60447805-d9a83e80-9c41-11e9-8a69-df72f37a0f8b.png)

[2019-07-01 15:23] nithyaasworld commented on #2698
One more scenario for the above issue:

![image](https://user-images.githubusercontent.com/5114190/60447978-47ed0100-9c42-11e9-9914-c573a8c86f3a.png)

[2019-07-01 16:12] dmessing commented on #2213
@ThomasKranitsas there shouldn't be private SRMs, I think this is a legit bug

[2019-07-01 16:32] #2642 closed

[2019-07-01 18:03] nithyaasworld opened #2699 "Login button is not enabled when user credentials are auto-filled by chrome"
**Prerequisite:  Have user credentials saved in Chrome**

1. Go to www.topcoder.com
2. Click on Login button present at the right top
3. Chrome auto-fills the username and password
4. Observe that Login button is not enabled.

Expected:
Login Button should be enabled.

![image](https://user-images.githubusercontent.com/5114190/60457015-92797800-9c58-11e9-9b80-d14c96d19b94.png)

[2019-07-01 18:05] nithyaasworld commented on #2699
Video:
[Login button disabled.zip](https://github.com/topcoder-platform/community-app/files/3346833/Login.button.disabled.zip)

[2019-07-01 18:21] nithyaasworld commented on #2662
This has been verified.

[2019-07-01 18:45] cwdcwd commented on #2694
![image](https://user-images.githubusercontent.com/1504607/60459340-e1022480-9c0e-11e9-823b-be7230f965e5.png)
This is what shows on the error console

[2019-07-01 18:54] nithyaasworld commented on #2669
Verified.

[2019-07-01 19:13] nithyaasworld opened #2700 "New Nav: Regarding clicking on Topcoder Logo"
For V2, the logo should direct them to "my Dashboard" if they're logged in. and www.topcoder.com if they are logged out

[2019-07-01 19:20] PrakashDurlabhji commented on #2694
@cwdcwd thanks, i have solved it already. raising PR

[2019-07-01 19:27] PrakashDurlabhji commented on #2694
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/2701

[2019-07-01 19:32] ThomasKranitsas commented on #2694
Contest https://www.topcoder.com/challenges/30094851 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-01 20:29] nithyaasworld commented on #2213
App loads 203 past SRM details for the handle: tourist. But the count is shown as 273.

API also returns the right count (203). Only in the UI, it is displayed as 273.

[2019-07-01 20:34] nithyaasworld commented on #2213
Re-phrased my above comment.

[2019-07-02 08:42] ThomasKranitsas commented on #2695
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors open for pickup

PR on ’ssf-merged-to-new-develop’ branch

[2019-07-02 08:47] ThomasKranitsas commented on #2695
[500]: Challenge for the updated issue 2695 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-02 08:50] ThomasKranitsas commented on #2695
Contest https://www.topcoder.com/challenges/30094893 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-02 08:50] ThomasKranitsas commented on #2695
Contest https://www.topcoder.com/challenges/30094893 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-02 08:52] ThomasKranitsas commented on #2695
Contest https://www.topcoder.com/challenges/30094893 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-02 10:21] ThomasKranitsas commented on #2696
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors open for pickup

PR on ’ssf-merged-to-new-develop’ branch

[2019-07-02 10:21] ThomasKranitsas commented on #2696
Contest https://www.topcoder.com/challenges/30094926 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-02 10:21] ThomasKranitsas commented on #2696
Contest https://www.topcoder.com/challenges/30094926 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-02 10:22] ThomasKranitsas commented on #2698
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors open for pickup

PR on ’ssf-merged-to-new-develop’ branch

[2019-07-02 10:24] ThomasKranitsas commented on #2696
Contest https://www.topcoder.com/challenges/30094926 has been updated - it has been assigned to mhykol.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-02 10:25] ThomasKranitsas commented on #2698
Contest https://www.topcoder.com/challenges/30094927 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-02 10:25] ThomasKranitsas commented on #2698
Contest https://www.topcoder.com/challenges/30094927 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-02 11:05] ThomasKranitsas commented on #2698
Contest https://www.topcoder.com/challenges/30094927 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-02 11:26] nithyaasworld opened #2704 "New Nav: My Profile is not getting loaded at times"
Steps:

**Please follow the steps exactly as below to reproduce:**
1. Go to https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Click on User menu --> Settings
4. Observe that Profile screen is loaded
5. Now click on Dashboard and then click on My Profile
6. Observe that it is stuck with loading symbol without loading the "My Profile"

![image](https://user-images.g

[2019-07-02 11:59] nithyaasworld commented on #2704
[My Profile not loading.zip](https://github.com/topcoder-platform/community-app/files/3349908/My.Profile.not.loading.zip)

[2019-07-02 12:07] nithyaasworld opened #2705 "New Nav: Let's collapse second level menu under the following tabs: competitive programming, data science, Statistics"
let's collapse second level menu under the following tabs: competitive programming, data science, Statistics

[2019-07-02 12:09] nithyaasworld commented on #2705
CC: @Oanh-and-only-Oanh

[2019-07-02 12:15] nithyaasworld commented on #2670
Some more pages that doesn't have new nav:
6: Tracks ->  Data science -> Datasets
7: Tracks -> Competitive Programming -> All menus present in that page

[2019-07-02 12:39] nithyaasworld opened #2706 "Tracks --> Competitive Programming --> Your SRMs throws 404"
1. Go to www.topcoder.com and login with valid user credentials
2. Go to www.topcoder.com/challenges and then go to Tracks --> Competitive Programming --> Your SRMs

Actual:
It shows 404 error

![image](https://user-images.githubusercontent.com/5114190/60513285-7aefcd00-9cf4-11e9-9c17-f2e49f7c5c1c.png)

[2019-07-02 12:45] nithyaasworld opened #2707 "New Nav: Some pages have incorrect navigation selection indicator"
1. Go to https://test-community-app.topcoder-dev.com/challenges and Login as dan_developer or any valid user
2. Click on Tracks --> Data Science --> Models and Algos
3. Check the New nav

Actual:
Selection indicator is on the "Community"

Expected:
It should be on the "Tracks"

![image](https://user-images.githubusercontent.com/5114190/60513596-4d575380-9cf5-11e9-8364-39b1d7a76c8b.png)

[2019-07-02 12:50] nithyaasworld commented on #2707
Other pages that have similar issue:
1.  Tracks --> Data Science --> Learn
2.  Tracks --> Data Science --> Solutions
3.  Tracks --> Data Science --> Overview
4.  Explore --> Statistics -> All sub level menus ( General, Design and Development)

[2019-07-02 13:33] kkartunov opened #2708 "New nav - add support for custom logo url"
As per title. Please, add support so logo could be linkable to some URL. If not specified default to base URL.

[2019-07-02 13:59] sushilshinde opened #2709 "[$75]Smoke testing on beta"
Smoke Testing of SSF after merging with Dev branch (ssf-merged-to-new-develop)

[2019-07-02 14:01] #2709 closed

[2019-07-02 14:01] sushilshinde commented on #2709
closed with accepted

[2019-07-02 14:03] ThomasKranitsas commented on #2709
Contest https://www.topcoder.com/challenges/30094946 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-02 14:05] ThomasKranitsas commented on #2709
Contest https://www.topcoder.com/challenges/30094946 has been updated - it has been assigned to nithyaasworld.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-02 14:05] ThomasKranitsas commented on #2709
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30094946<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-02 15:32] Oanh-and-only-Oanh commented on #2672
@skyhit, any updates?
@sushilshinde fyi

[2019-07-02 18:25] nithyaasworld commented on #2379
**P1 Issue:**
- [ ] Not able to add Skills. Getting error as “ERROR: Failed to add user skill!”

**P3 Issues**

- [ ] Profile → Work: When current checkbox is checked, it shows gray shadow under the End Date box. Expectation is, the End Date box should appear non-editable. For that, the field content area should be grayed out and not field’s bottom.

**P4 and Enhancements:**

- [ ] Profile → Work:

[2019-07-02 19:18] gurmeetb commented on #2379
Thanks @nithyaasworld

[2019-07-02 21:07] PrakashDurlabhji commented on #2698
@ThomasKranitsas PR https://github.com/topcoder-platform/community-app/pull/2710

[2019-07-03 08:12] ThomasKranitsas commented on #2696
@mhikeo what's the status here?

[2019-07-03 08:12] ThomasKranitsas commented on #2695
Contest https://www.topcoder.com/challenges/30094893 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-03 08:13] ThomasKranitsas commented on #2695
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors prize increased on this one! Go for it!

[2019-07-03 08:13] #2694 closed

[2019-07-03 08:14] ThomasKranitsas commented on #2694
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30094851<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-03 08:18] gurmeetb commented on #2695
FYI - the issue is when we do this, it hits backend to fetch approx 5000 challenges, we need to fix logic so it hits backend only upto allChallenges count which is just 600 approx.

@ThomasKranitsas sorry I couldn't put much time so opened it, but above analysis will help someone who picks next.

[2019-07-03 08:20] ThomasKranitsas commented on #2695
Contest https://www.topcoder.com/challenges/30094893 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-03 08:21] mhikeo commented on #2696
hi @ThomasKranitsas. I'm unable to replicate this issue. Btw, I think fix for #2698 removed the logic for Design, Development & Data Science filtering.

[2019-07-03 08:23] gurmeetb commented on #2696
Hi @ThomasKranitsas I can give this a try ?

[2019-07-03 08:24] mhikeo commented on #2696
@gurmeetb you may take it

[2019-07-03 08:26] ThomasKranitsas commented on #2696
Contest https://www.topcoder.com/challenges/30094926 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-03 08:26] PrakashDurlabhji commented on #2696
@mhikeo i guess that logic was not properly working because it was unecessarily appending subtracks for which filter is not applied, hence subtracks were concated, and request parameter string was not correct.

I hope i have not missed anything major in that.

@ThomasKranitsas can you please review that

[2019-07-03 08:28] ThomasKranitsas commented on #2696
@PrakashDurlabhji are you saying you fixed this in https://github.com/topcoder-platform/community-app/pull/2710 ?

[2019-07-03 08:28] gurmeetb commented on #2696
@ThomasKranitsas should we keep this on hold until we verify #2698 ?

[2019-07-03 08:28] ThomasKranitsas commented on #2696
I guess so. I'll verify if this has been fixed shortly.

[2019-07-03 08:30] gurmeetb commented on #2696
Sure @ThomasKranitsas - kindly flag me here once verified, I will start work then.

[2019-07-03 08:38] PrakashDurlabhji commented on #2696
@ThomasKranitsas not sure whether this issue is also covered in that PR, but i guess this issue should exist.

[2019-07-03 08:56] ThomasKranitsas commented on #2696
@gurmeetb - https://github.com/topcoder-platform/community-app/pull/2710 does not fix this issue. You may work on this

[2019-07-03 08:56] #2698 closed

[2019-07-03 08:57] ThomasKranitsas commented on #2698
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30094927<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-03 11:27] kkartunov commented on #2700
#2708 is related. Let's make the link configurable by component property! Thanks, @luizrrodrigues

[2019-07-03 11:31] kkartunov commented on #2367
https://community-app.topcoder-dev.com/examples/contentful/viewport/3p6F0Wei94uEVOzaBPgtdX
https://app.contentful.com/spaces/b5f1djy59z3a/entries/3p6F0Wei94uEVOzaBPgtdX

[2019-07-03 11:48] kkartunov commented on #2659
https://community-app.topcoder-dev.com/examples/contentful/viewport/1IbkLrXJLA75fbzVl27PVz

[2019-07-03 11:48] #2659 closed

[2019-07-03 11:50] kkartunov commented on #2665
https://community-app.topcoder-dev.com/examples/contentful/banner/1SsXRkTXztRNypP4MIE9Ii

[2019-07-03 11:50] #2665 closed

[2019-07-03 12:42] nithyaasworld commented on #2379
@gurmeetb I just added a Skill for my profile. Whatever skill I add, it gets added with Verified-Badge. Expectation is, it should not have the verified-badge if the skill is added by the user.

Can you please check this?

I will meanwhile check the other fixes. Thanks.

[2019-07-04 04:37] sushilshinde commented on #2696
@gurmeetb this is urgent

[2019-07-04 04:37] sushilshinde commented on #2695
@PrakashDurlabhji this is urgent

[2019-07-04 04:40] gurmeetb commented on #2696
@sushilshinde sorry missed it, on it now, give me an hour max

[2019-07-04 04:43] PrakashDurlabhji commented on #2695
@sushilshinde updating you shortly on this, but i feel i can complete #2696 more easily and fast.

[2019-07-04 05:24] gurmeetb opened #2713 "work/language/education profile page V2"
This is to add some more features to the Work/Language/Education Sections of the Profile Page:

- Add "Edit" Option to Edit already added Work, Language, Education and Hobby
- Add Delete-Confirmation-Popup (just like in Hobbies screen) for Language/Education/Work/Tools
- Add an option for `I am currently working in this role` for Work.
(This is to indicate that the person is still with that compan

[2019-07-04 05:30] gurmeetb commented on #2713
This is released to PROD, hence closing.

[2019-07-04 05:30] #2713 closed

[2019-07-04 05:41] gurmeetb commented on #2696
@sushilshinde @ThomasKranitsas This looks like no more an issue - when I select Data Science only, I see only MM challenges, and when selected the other 2, it showed right no of challenges.

This is `no longer a bug`, if you could help share the env where you are facing - I can try to see there too once but locally I don't see this issue now.

[2019-07-04 05:44] gurmeetb commented on #2696
Also verified with Challenges counts, it all looks good.

[2019-07-04 05:55] gurmeetb commented on #2696
@nithyaasworld I have tried with latest code on local and on beta, don't see this is an issue anymore. Can you help re-verify this once ?

[2019-07-04 12:26] nithyaasworld opened #2716 "Dev Environment: Not able to register for a new challenge"
1. Create a new challenge in topcoder-dev/direct
2. In the community app, login as nithyaasworld/appirio and click on Register button of that created-challenge
3. Observe that it throws error as below

![image](https://user-images.githubusercontent.com/5114190/60666466-b8836000-9e84-11e9-9e13-b684401a20b2.png)

On trying to add that user with submitter role in the OeloR, bw error is received.

![i

[2019-07-05 04:57] nithyaasworld commented on #2697
Closing this as this is a test issue! Please re-open if needed :)

[2019-07-05 04:57] #2697 closed

[2019-07-05 06:07] sushilshinde commented on #2716
Sometimes backend services are down, check browser console as well

[2019-07-05 06:18] sushilshinde commented on #2696
@gurmeetb please proceed on this

[2019-07-05 06:19] sushilshinde commented on #2695
@PrakashDurlabhji please update

[2019-07-05 09:05] gurmeetb commented on #2696
@sushilshinde this looks to be working fine to me on beta with SSF.

I have requested @nithyaasworld to re-validate once on beta. Let's wait for her update.

[2019-07-05 09:35] nithyaasworld commented on #2696
The above scenario is working in Beta. But other combination which worked earlier is not working.

As part of this ticket, let's make sure that all combination of filters work.

![image](https://user-images.githubusercontent.com/5114190/60713153-26d42b00-9f36-11e9-9e0d-2ef4304837c2.png)

[2019-07-05 09:49] nithyaasworld commented on #2696
@gurmeetb Just a FYI: You can see from this video (https://github.com/topcoder-platform/community-app/issues/2695#issuecomment-507270732) that this has worked earlier during my last testing and broken recently :(

So in order to make sure that nothing gets broken after this fix, I would like to verify all the filters available in Challenge listing page.

Thanks.

[2019-07-05 10:01] gurmeetb commented on #2696
@ThomasKranitsas ☝️ is breaking due to fix for https://github.com/topcoder-platform/community-app/issues/2698 - can you please re-open #2698 and ask the developer to provide non-breaking fix?

@nithyaasworld we can close this as `Not a Bug` and we will track the above issue in #2698 - If I try to fix the above issue, means I need to revert the changes done in #2698 and we might go into loop.

[2019-07-05 10:11] ThomasKranitsas commented on #2696
@PrakashDurlabhji ☝️

[2019-07-05 10:13] ThomasKranitsas commented on #2696
@PrakashDurlabhji can you please check this and provide a fix?

[2019-07-05 10:53] lakshmiathreya commented on #2716
<img width="1356" alt="Screen Shot 2019-07-05 at 4 22 10 PM" src="https://user-images.githubusercontent.com/51733042/60717994-1c6b5e80-9f41-11e9-9385-4d577bf7c467.png">
Here is the console ...