[2020-10-14 07:35] sushilshinde commented on #4970
@kkartunov

[2020-10-14 10:14] maxceem commented on #5068
@Oanh-and-only-Oanh just would like to confirm, that we also require that all the functionality should be accessible from the keyword:
- Calendar should be accessible using the keyword. We should be able to choose any date using keys `<Tab>`/`<Shift>`+`<Tab>`/`<Enter>` as it's implemented in the current calendar.
- We should also be able to enter dates from the keyword directly to the inputs using

[2020-10-14 12:57] kkartunov commented on #4970
Yep, Contentful content it is. Post the link and I will update it...@SathyaJayabal
cc @luizrrodrigues @sushilshinde

[2020-10-14 14:20] luizrrodrigues commented on #5101
@sandhiyakavi I can't reproduce this issue, can you try clear cookies?

[2020-10-14 11-16-42.zip](https://github.com/topcoder-platform/community-app/files/5378772/2020-10-14.11-16-42.zip)

[2020-10-14 14:29] Oanh-and-only-Oanh commented on #5068
@maxceem that's correct. All functionality should be accessible from keyboard. @eriantoongko, can we update the style to fit the 2018 look and feel - more on the blue colors than green. Thank you.

[2020-10-14 14:43] Oanh-and-only-Oanh commented on #4029
@dedywahyudi
1) This link should open in new tab
2) This links should be available for all challenge tracks and types
3) Please add tooltip to show "shortcuts to perform actions related to the Topcoder platform without having to open a browser' on hovering over link

[2020-10-14 14:45] dedywahyudi commented on #4029
@Oanh-and-only-Oanh

2. So, need show up for Design challenges as well?

[2020-10-14 14:46] dedywahyudi commented on #5102
@Oanh-and-only-Oanh

1. Ok
2. Yes, this is only for Dev challenges
3. Ok

[2020-10-14 15:15] dedywahyudi commented on #5102
![Screen Shot 2020-10-14 at 22 13 58](https://user-images.githubusercontent.com/4476442/96009344-c1762600-0e6a-11eb-921c-144ff827b4e0.png)
![Screen Shot 2020-10-14 at 22 15 09](https://user-images.githubusercontent.com/4476442/96009352-c33fe980-0e6a-11eb-9f9e-0ead5b2c2956.png)

@Oanh-and-only-Oanh how about this updated solution?

[2020-10-14 15:28] dedywahyudi commented on #4029
![Screen Shot 2020-10-14 at 22 26 41](https://user-images.githubusercontent.com/4476442/96010810-6e04d780-0e6c-11eb-9429-951ee0a6c832.png)
![Screen Shot 2020-10-14 at 22 26 45](https://user-images.githubusercontent.com/4476442/96010818-6fce9b00-0e6c-11eb-8325-f94772a998b3.png)

@Oanh-and-only-Oanh how about this updated solution?

[2020-10-14 15:28] Oanh-and-only-Oanh opened #5105 "Update "change account password" UI"
**How to reproduce:**
1) As a logged in user, go to: https://www.topcoder.com/settings/account
2) See that the field for "new passwoard' is automatically filled out. See screenshot
![image](https://user-images.githubusercontent.com/47536078/96015629-a4a30980-0dfc-11eb-9a4d-1b91136a3032.png)

**Expected behavior:**
1) As a logged in user, go to: https://www.topcoder.com/settings/account
2) 'New pas

[2020-10-14 15:28] Oanh-and-only-Oanh opened #5106 "Error with changing account email"
**How to reproduce:**

1. As a logged in user, go to: https://www.topcoder.com/settings/account
2. Click on `Change Email` button
3. Enter in new email address (must be different from current email address)
4. Click on `Send Validation Email` button
5.Error message appears. See screenshot
![image](https://user-images.githubusercontent.com/47536078/96016726-f0a27e00-0dfd-11eb-9b94-6b1bdee22867.png)

[2020-10-14 16:36] maxceem commented on #5105
@Oanh-and-only-Oanh This issue is not reproducible for me.

![image](https://user-images.githubusercontent.com/146016/96018629-2eca8c80-0e54-11eb-874d-8eb06b9840aa.png)

Most likely you are using `LastPassword` Chrome extension which prefills the password for you. Anyway, we can try running a F2F asking participants to find a way to prevent the `LastPassword` to prefill these fields.

[2020-10-14 16:41] Oanh-and-only-Oanh commented on #5105
You're right. It's the LastPassword extension. no need to run challenge then. Thanks.

[2020-10-14 16:41] #5105 closed

[2020-10-14 16:53] rootelement commented on #5041
Thank you sir, We are testing.

I'm thinking we shouldn't show the forum link until the person is registered on the challenge? I will check that. We might not send it on the forum object if the person isn't registered. Not sure yet.

Good so far. Don't worry about multiple yet.

[2020-10-14 17:05] maxceem commented on #5106
@Oanh-and-only-Oanh I've debugged this issue on production using user credentials you've provided.

This doesn't look like a Community App issue. It looks like the is an issue with **Topcoder Member Service** or **Topcoder Gateway** config. In some reason request `https://api.topcoder.com/v3/members/ladybosss?verifyUrl=http://www.topcoder.com/settings/account/changeEmail` is not allowed from domai

[2020-10-14 17:07] maxceem commented on #5106
Btw, this issue is not reproducible in the Development environment I can successfully change email at https://www.topcoder-dev.com/settings/account.

[2020-10-14 17:42] Oanh-and-only-Oanh opened #5107 "[$25] Hide "Change Email" feature"
1. As a logged in user, go to https://www.topcoder.com/settings/account
2. Hide 'Change Email' button on the page.
![image](https://user-images.githubusercontent.com/47536078/96025622-38c79d80-0e0a-11eb-98c8-3b86c2134a30.png)

[2020-10-14 18:57] eriantoongko commented on #5068
Updated style back to blue:https://marvelapp.com/prototype/f70187e/screen/73620859

[2020-10-14 19:31] luizrrodrigues commented on #4970
@kkartunov

`${config.URL.AUTH}?utm_source=CURRENTLY_PAGE&retUrl=RETURN_PAGE`

[2020-10-14 19:35] luizrrodrigues commented on #5101
cc @SathyaJayabal

[2020-10-14 23:46] jmgasper commented on #5076
### Community app TODO:

1.  Rename `My Submissions` to `View Submissions` (src/shared/components/challenge-detail/Header/index.js line 395)
2.  Make sure that pulling submissions works for dev challenges, in addition to design challenges.
3.  Add additional check under current design check for track type of development and ensuring that the user is registered and has submissions, to show the `Vie

[2020-10-15 02:48] Oanh-and-only-Oanh commented on #5076
@jmgasper, MM will be out of scope for this change since it already has a "My submissions" tab (see screenshot below)
![image](https://user-images.githubusercontent.com/47536078/96070924-fa57d000-0e55-11eb-8882-3a12ac56e704.png)

HOWEVER, user is unable to access the ARTIFACTS tab (see below screenshot)
![Uploading image.png…]()

[2020-10-15 04:22] SathyaJayabal commented on #5007
Please email support with the request

[2020-10-15 04:22] #5007 closed

[2020-10-15 04:22] SathyaJayabal commented on #5007
@witcradg

[2020-10-15 04:22] #5006 closed

[2020-10-15 04:36] #1983 closed

[2020-10-15 04:39] #2527 closed

[2020-10-15 04:39] #2603 closed

[2020-10-15 04:40] #3530 closed

[2020-10-15 05:25] SathyaJayabal commented on #5102
Verified on staging.

I can see this link added to QA challenges too including BH's. Is that fine @Oanh-and-only-Oanh
example:
https://staging-community-app.topcoder.com/challenges/48406f89-3b18-488e-bccf-b7c7e6e8dd0b

<img width="1440" alt="Screenshot 2020-10-15 at 10 52 21 AM" src="https://user-images.githubusercontent.com/58783823/96080528-e0110700-0ed4-11eb-866a-73e2b8f16147.png">

[2020-10-15 05:32] SathyaJayabal commented on #4994
verified on staging
<img width="1440" alt="Screenshot 2020-10-15 at 11 02 20 AM" src="https://user-images.githubusercontent.com/58783823/96080963-ece22a80-0ed5-11eb-982a-668b0eb84202.png">

[2020-10-15 05:36] SathyaJayabal commented on #4029
Verified on staging, appears for all types of challenges including design.
<img width="1440" alt="Screenshot 2020-10-15 at 11 04 49 AM" src="https://user-images.githubusercontent.com/58783823/96081177-61b56480-0ed6-11eb-9ff0-d7421893ac16.png">
<img width="1440" alt="Screenshot 2020-10-15 at 11 04 51 AM" src="https://user-images.githubusercontent.com/58783823/96081187-6c6ff980-0ed6-11eb-9be1-11acef

[2020-10-15 05:51] SathyaJayabal commented on #4365
tracking in #5106

[2020-10-15 05:51] #4365 closed

[2020-10-15 06:39] luizrrodrigues commented on #5101
@SathyaJayabal @sandhiyakavi I'm able to reproduce now.

@sachin-maheshwari This issue coming from: https://github.com/topcoder-platform/tc-auth-lib/blob/b45d1fa474f3df217d1808c798fd771fc3405868/web-assets/js/setupAuth0WithRedirect.js#L46

[code]

Missing `?` between URL and params, I think can fix this with:

[code]

[2020-10-15 06:52] dedywahyudi commented on #5102
1. Waiting @Oanh-and-only-Oanh feedback
2. @SathyaJayabal spacing should be consistent now. For example:

![Screen Shot 2020-10-15 at 13 52 08](https://user-images.githubusercontent.com/4476442/96087171-a5679880-0eed-11eb-95f8-2e443223da1e.png)

cc @luizrrodrigues @sushilshinde  this is applied to the new commit: https://github.com/topcoder-platform/community-app/pull/5104/commits

[2020-10-15 07:11] kkartunov commented on #4970
@luizrrodrigues there is no access to `config` from static content like Contentful text block. This what you propose is not working. Url has to be a static link.

[2020-10-15 07:12] sachin-maheshwari commented on #5101
@LieutenantRoger  good catch 👍

[2020-10-15 07:16] sachin-maheshwari commented on #5101
@sushilshinde just curious, what is use of passing parameters (utm_source=community&utm_campaign=tc-footer&utm_medium=promotion) -https://accounts-auth0.topcoder-dev.com/?utm_source=community&utm_campaign=tc-footer&utm_medium=promotion&retUrl=https%3A%2F%2Fwww.topcoder-dev.com%2Fchallenges
Still we are using for any tracking ?

[2020-10-15 07:34] luizrrodrigues commented on #4970
@kkartunov okay, I'll share static URL shortly, but in this case if we click in login in Dev env, we'll redirect to Prod login?

[2020-10-15 07:43] maxceem commented on #5068
@Oanh-and-only-Oanh let me confirm the workflow:

1. When the user selects the  **first date**, there are 3 ways to go:
    1. Let the user select the **second date** immediately after selecting the first date (as it's done now).
    2. Keep the calendar open so the user can select another **first date**.
    3. Close calendar immediately after selecting the **first date**.

    ![image](https://u

[2020-10-15 07:57] kkartunov commented on #4970
Unfortunately yes

[2020-10-15 15:01] Oanh-and-only-Oanh commented on #5102
Thanks for the feedback @SathyaJayabal.
@dedywahyudi, can you include this feature for QA challenges? THanks.

[2020-10-15 15:09] sachin-maheshwari commented on #5101
fixed. I restricted domain change in "auth lib" for our enterprise customer only i.e. wipro, zurich and cs.

[2020-10-15 15:28] SathyaJayabal commented on #5102
@Oanh-and-only-Oanh , The feature is present for QA challenges already. The question was , is it necessary to have this link for QA challenges ? At present we exclude only design and marathon matches, Should we exclude for QA too?

[2020-10-15 15:32] Oanh-and-only-Oanh commented on #5102
Yes, that's fine. I'd like to include for QA especially bug bash challenges.

[2020-10-15 15:33] SathyaJayabal commented on #5102
Thanks @Oanh-and-only-Oanh,

[2020-10-15 15:35] SathyaJayabal commented on #5102
verified.
<img width="1440" alt="Screenshot 2020-10-15 at 9 04 21 PM" src="https://user-images.githubusercontent.com/58783823/96152324-0c0aa780-0f2a-11eb-9fc9-697398ddbabc.png">

[2020-10-15 16:16] Oanh-and-only-Oanh commented on #5068
@maxceem,

1. When the user selects the first date, let the user select the second date immediately after selecting the first date (as it's done now).

2.The same blue square is fine. I just want to ensure it is keyword accessible.

3. Correct. user can enter the exact date or use the calendar feature by clicking on the calendar icon.

[2020-10-15 16:25] luizrrodrigues commented on #4970
@kkartunov

need change from

[code]

to

[code]

[2020-10-15 16:51] PrakashDurlabhji commented on #5093
@luizrrodrigues done in https://github.com/topcoder-platform/community-app/pull/5109

[2020-10-15 16:51] luizrrodrigues commented on #5093
Contest https://www.topcoder.com/challenges/30145862 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 16:58] PrakashDurlabhji commented on #5083
@luizrrodrigues done in PR https://github.com/topcoder-platform/community-app/pull/5110

[2020-10-15 16:59] luizrrodrigues commented on #5083
Contest https://www.topcoder.com/challenges/30145863 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:02] luizrrodrigues commented on #5071
Contest https://www.topcoder.com/challenges/30145864 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:17] Oanh-and-only-Oanh commented on #5071
Only copilot can assign "tcx_ReadyForReview" tag if PR is good.

[2020-10-15 17:17] SathyaJayabal commented on #4961
This issue is present only for admin accounts

[2020-10-15 17:19] luizrrodrigues commented on #4212
Contest https://www.topcoder.com/challenges/30145869 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:19] luizrrodrigues commented on #4275
Contest https://www.topcoder.com/challenges/30145871 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:19] luizrrodrigues commented on #1532
Contest https://www.topcoder.com/challenges/30145867 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:19] luizrrodrigues commented on #5035
Contest https://www.topcoder.com/challenges/30145879 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:20] luizrrodrigues commented on #1532
Contest https://www.topcoder.com/challenges/30145867 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:20] luizrrodrigues commented on #5046
Contest https://www.topcoder.com/challenges/30145878 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:20] PrakashDurlabhji commented on #3215
@luizrrodrigues done in PR https://github.com/topcoder-platform/community-app/pull/5112

[2020-10-15 17:20] luizrrodrigues commented on #4237
Contest https://www.topcoder.com/challenges/30145868 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:20] luizrrodrigues commented on #4252
Contest https://www.topcoder.com/challenges/30145870 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:20] luizrrodrigues commented on #4987
Contest https://www.topcoder.com/challenges/30145872 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:20] luizrrodrigues commented on #5069
Contest https://www.topcoder.com/challenges/30145877 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:20] luizrrodrigues commented on #5072
Contest https://www.topcoder.com/challenges/30145875 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:20] luizrrodrigues commented on #5081
Contest https://www.topcoder.com/challenges/30145874 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:20] luizrrodrigues commented on #5082
Contest https://www.topcoder.com/challenges/30145876 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:20] luizrrodrigues commented on #5088
Contest https://www.topcoder.com/challenges/30145873 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 17:34] PrakashDurlabhji commented on #5069
@luizrrodrigues this ticket requires PR on challenge api , i have found solution and also forked the repo challenge api but unable to edit the file, can you please help?

[2020-10-15 17:42] PrakashDurlabhji commented on #5071
@Oanh-and-only-Oanh ok I just read that

[2020-10-15 17:43] hokienick commented on #4252
I would say it should go here: https://www.topcoder.com/thrive/articles/How%20To%20Compete%20in%20SRMs

[2020-10-15 17:50] gets0ul commented on #5088
PR: https://github.com/topcoder-platform/community-app/pull/5113

[2020-10-15 18:19] PrakashDurlabhji commented on #5072
@luizrrodrigues is it accepted if status dropdown itself is placed below type dropdown?

[2020-10-15 18:24] luizrrodrigues commented on #5072
Yes, but just in small screen, if screen to large need keep like existing.

[2020-10-15 18:30] PrakashDurlabhji commented on #5072
@luizrrodrigues done in PR https://github.com/topcoder-platform/community-app/pull/5114

[2020-10-15 18:37] PrakashDurlabhji commented on #4237
@luizrrodrigues it is already working fine

[2020-10-15 18:50] PrakashDurlabhji commented on #5035
@luizrrodrigues done in PR https://github.com/topcoder-platform/community-app/pull/5115

[2020-10-15 19:34] luizrrodrigues commented on #5093
Contest https://www.topcoder.com/challenges/30145862 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 19:51] luizrrodrigues commented on #3215
Contest https://www.topcoder.com/challenges/30100380 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 19:53] luizrrodrigues commented on #5083
@PrakashDurlabhji
Status = All : 0 filter
Status = Active : +1 filter
Status = Completed : +1 filter

[2020-10-15 20:18] luizrrodrigues commented on #5071
@PrakashDurlabhji https://github.com/topcoder-platform/community-app/pull/5111#discussion_r505813312

[2020-10-15 20:19] PrakashDurlabhji commented on #5083
@luizrrodrigues updated

[2020-10-15 20:21] PrakashDurlabhji commented on #5071
@luizrrodrigues updated

[2020-10-15 20:28] luizrrodrigues commented on #5072
@PrakashDurlabhji https://github.com/topcoder-platform/community-app/pull/5114#pullrequestreview-509783728

[2020-10-15 20:42] luizrrodrigues commented on #5035
Contest https://www.topcoder.com/challenges/30145879 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-15 20:55] luizrrodrigues commented on #5083
@PrakashDurlabhji **My Challenges** and **Open For Registration** showing 1 active filter, but **Status** isn't a filter of both bucket.

![image](https://user-images.githubusercontent.com/7029641/96184938-8b3eb200-0f0f-11eb-99dd-9b34b87ebc01.png)

![image](https://user-images.githubusercontent.com/7029641/96184956-942f8380-0f0f-11eb-8f3a-dfd660f7f4d6.png)

[2020-10-15 21:03] luizrrodrigues commented on #5071
@PrakashDurlabhji When click in X button, still showing "Active"

https://i.gyazo.com/b1e3c4784525aa91cefefb683089f1f9.mp4

[2020-10-15 22:14] PrakashDurlabhji commented on #4252
@luizrrodrigues done in PR https://github.com/topcoder-platform/community-app/pull/5117

[2020-10-16 01:20] luizrrodrigues commented on #4275
[500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-16 01:30] dedywahyudi commented on #5102
@SathyaJayabal @Oanh-and-only-Oanh

Ok, from discussion above. I think there's no more edit right since url already showing up?

[2020-10-16 01:57] luizrrodrigues commented on #1532
Contest https://www.topcoder.com/challenges/30145867 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-16 02:30] Oanh-and-only-Oanh commented on #4275
Please do not self-assign the ticket. You need to push PR first in the Bug Bash.

[2020-10-16 03:30] sushilshinde opened #5118 "Can't see "My Challenges""
On beta https://beta-community-app.topcoder.com/challenges I see I'm registered for 15 challenges

![image](https://user-images.githubusercontent.com/683231/96209651-be278b00-0f8d-11eb-8843-2b164c7f766e.png)

But on prod I see none

![image](https://user-images.githubusercontent.com/683231/96209722-e911df00-0f8d-11eb-8e52-6d04d456449c.png)

[2020-10-16 03:32] sushilshinde commented on #5118
@lakshmiathreya are you able to see "My Challenges"?

[2020-10-16 03:34] #5118 closed

[2020-10-16 03:36] SathyaJayabal commented on #5102
@dedywahyudi , we are good to go.

[2020-10-16 03:44] luizrrodrigues commented on #5071
Contest https://www.topcoder.com/challenges/30145864 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-16 04:17] fikzzzy commented on #4275
I have opened PR in https://github.com/topcoder-platform/community-app/pull/5119

[2020-10-16 04:24] SathyaJayabal opened #5120 "Blank page on accessing review opportunities bucket"
Blank page on accessing review opportunities bucket

The v3 call returns an error `Error in authenticating credentials`
<img width="1440" alt="Screenshot 2020-10-16 at 10 10 51 AM" src="https://user-images.githubusercontent.com/58783823/96213981-e4522880-0f97-11eb-8ae6-dc9c30c3766a.png">

[2020-10-16 06:44] sushilshinde commented on #5120
This call is failing

![1](https://user-images.githubusercontent.com/683231/96221975-1750e800-0fa9-11eb-9392-85ff8f290fec.png)

![2](https://user-images.githubusercontent.com/683231/96221980-1a4bd880-0fa9-11eb-97b5-bc7125d21f1c.png)

[2020-10-16 07:07] SathyaJayabal opened #5121 "Checkpoints tab not displayed"
example:
develop branch
https://test-community-app.topcoder-dev.com/challenges/640cd60c-9acb-45e7-8a62-9ac12e43c8b1?tab=checkpoints

auth0 branch
http://www.topcoder-dev.com/challenges/640cd60c-9acb-45e7-8a62-9ac12e43c8b1

[2020-10-16 07:49] SathyaJayabal commented on #5121
<img width="1440" alt="Screenshot 2020-10-16 at 1 16 56 PM" src="https://user-images.githubusercontent.com/58783823/96227620-ffca2d00-0fb1-11eb-9168-57bbd0a7648b.png">
<img width="1440" alt="Screenshot 2020-10-16 at 1 17 45 PM" src="https://user-images.githubusercontent.com/58783823/96227654-09ec2b80-0fb2-11eb-8021-e64564fd05b2.png">

[2020-10-16 08:39] sachin-maheshwari commented on #5120
Fixed on dev.

[2020-10-16 09:05] SathyaJayabal commented on #5120
verified on dev
<img width="1440" alt="Screenshot 2020-10-16 at 2 34 09 PM" src="https://user-images.githubusercontent.com/58783823/96238974-b92e0000-0fbc-11eb-9767-ccb54f3bf3d7.png">

[2020-10-16 11:30] kkartunov commented on #3949
Spacing is correct and follows design.

[2020-10-16 11:30] #3949 closed

[2020-10-16 11:33] kkartunov commented on #3948
External articles do and should be opening in a new tab. Internal in the same tab. This is correct and expected behavior.

[2020-10-16 11:33] #3948 closed

[2020-10-16 11:44] kkartunov commented on #3944
Button should be centered as per design.
![Screenshot from 2020-10-16 14-43-32](https://user-images.githubusercontent.com/5585002/96254482-08286500-0fbe-11eb-8538-b43b2115f2d9.png)

[2020-10-16 11:44] #3944 closed

[2020-10-16 11:46] kkartunov commented on #3941
This filter is currently undergoing redesign and new functionality. The error will in no more relevant.

[2020-10-16 11:46] #3941 closed

[2020-10-16 11:52] kkartunov commented on #3928
Link works now.

[2020-10-16 11:52] #3928 closed

[2020-10-16 12:01] kkartunov commented on #3916
This is a banner image it has to cut and also is blobed now.

[2020-10-16 12:01] #3916 closed

[2020-10-16 12:17] kkartunov commented on #3888
If the article is external, like this the case here, tags could be different.

[2020-10-16 12:17] #3888 closed

[2020-10-16 12:22] kkartunov commented on #3871
This footer is no more.

[2020-10-16 12:22] #3871 closed

[2020-10-16 12:23] kkartunov commented on #3869
Those buttons are no more.

[2020-10-16 12:23] #3869 closed

[2020-10-16 12:24] kkartunov commented on #3867
duplicate of https://github.com/topcoder-platform/thrive-code/issues/20

[2020-10-16 12:24] #3867 closed

[2020-10-16 12:26] kkartunov commented on #3859
Fixed

[2020-10-16 12:26] #3859 closed

[2020-10-16 12:27] kkartunov commented on #3850
That share is no more.

[2020-10-16 12:27] #3850 closed

[2020-10-16 12:28] kkartunov commented on #3848
Like and dis buttons should be working for anonymous users too.

[2020-10-16 12:28] #3848 closed

[2020-10-16 12:30] kkartunov commented on #3845
No present anymore.

[2020-10-16 12:30] #3845 closed

[2020-10-16 12:46] gets0ul commented on #5081
PR: https://github.com/topcoder-platform/community-app/pull/5122

[2020-10-16 13:52] gets0ul commented on #5082
PR: #5123

[2020-10-16 16:21] luizrrodrigues commented on #4252
Contest https://www.topcoder.com/challenges/30145870 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-16 16:37] luizrrodrigues commented on #5069
@Oanh-and-only-Oanh Removing this from Bug Bash, we'll need help from **challenge-api** team.

[2020-10-16 18:36] luizrrodrigues commented on #5083
Contest https://www.topcoder.com/challenges/30145863 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-17 05:17] luizrrodrigues commented on #4275
@Oanh-and-only-Oanh moving this to **members-api**, `photoUrl` missing from: http://api.topcoder.com/v5/members/tourist

[2020-10-17 05:23] luizrrodrigues commented on #4275
https://github.com/topcoder-platform/member-api/issues/16

[2020-10-17 22:37] luizrrodrigues commented on #5082
@Oanh-and-only-Oanh PT from @gets0ul fix issue with blank page, but the main issue here is from API, v5 don't include `userDetails.roles` like we had before in v3.

With @gets0ul fix, all challenges titles will show **Role: No assigned role.**, if we good with fix until API get this ready, maybe is better to hide this role section (like we have with MM challenges)

![image](https://user-images.git

[2020-10-17 22:54] luizrrodrigues commented on #5081
Contest https://www.topcoder.com/challenges/30145874 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-18 09:39] luizrrodrigues commented on #5088
Contest https://www.topcoder.com/challenges/30145873 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-18 09:47] luizrrodrigues commented on #5072
Contest https://www.topcoder.com/challenges/30145875 has been updated - it has been assigned to lieutenantroger.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-18 10:06] luizrrodrigues commented on #4237
@SathyaJayabal Please confim if you able to reproduce this. (working well here)

[2020-10-19 02:43] luizrrodrigues commented on #5046
Contest https://www.topcoder.com/challenges/30145878 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-19 04:32] SathyaJayabal commented on #5093
verified
<img width="1440" alt="Screenshot 2020-10-19 at 10 01 23 AM" src="https://user-images.githubusercontent.com/58783823/96401846-1ced3e80-11f2-11eb-88d6-2fd85ce662e1.png">
<img width="1440" alt="Screenshot 2020-10-19 at 10 01 27 AM" src="https://user-images.githubusercontent.com/58783823/96401861-224a8900-11f2-11eb-81af-c8dfd69aec90.png">

[2020-10-19 04:34] SathyaJayabal commented on #5088
verified
[sort.mov.zip](https://github.com/topcoder-platform/community-app/files/5399081/sort.mov.zip)

[2020-10-19 04:45] SathyaJayabal commented on #5101
@luizrrodrigues
1. Not logged in user: When clicking on Join community, the signup tab must be selected by default. (In production,  Join community takes the user to the Join topcoder registration  page)

<img width="1440" alt="Screenshot 2020-10-19 at 10 09 44 AM" src="https://user-images.githubusercontent.com/58783823/96402376-55414c80-11f3-11eb-8aea-b386c02c6c32.png">

2. Logged in user : When

[2020-10-19 04:55] SathyaJayabal opened #5125 "[$30] Clear filter does not clear the Review Type filter in the Open for Review Bucket"
1. Go to challenge listings
https://www.topcoder.com/challenges?

2. Select Open for review bucket

3. Open filters panel and Select a review type from review type filter

4. Click on clear filter button

Expected: Review type filter must be cleared
Actual: Review type filter is not cleared

[reviewtype_clear.mov.zip](https://github.com/topcoder-platform/community-app/files/5399135/reviewtype_clea

[2020-10-19 04:56] SathyaJayabal commented on #5083
verified
[status_clear.mov.zip](https://github.com/topcoder-platform/community-app/files/5399138/status_clear.mov.zip)

[2020-10-19 04:59] SathyaJayabal commented on #5081
verified
<img width="1440" alt="Screenshot 2020-10-19 at 10 28 46 AM" src="https://user-images.githubusercontent.com/58783823/96403433-fdf0ab80-11f5-11eb-8cf8-3219e77f853c.png">

[2020-10-19 05:16] SathyaJayabal commented on #5072
verified
<img width="1078" alt="Screenshot 2020-10-19 at 10 46 09 AM" src="https://user-images.githubusercontent.com/58783823/96404367-60e34200-11f8-11eb-89a1-6ed81f7294c8.png">

[2020-10-19 05:18] SathyaJayabal commented on #5071
verified
[status_clear.mov.zip](https://github.com/topcoder-platform/community-app/files/5399217/status_clear.mov.zip)

[2020-10-19 05:23] SathyaJayabal commented on #5046
@luizrrodrigues , the challenge count and purse values are not updated correctly, example for topgear community, you must see some non zero values.

<img width="1440" alt="Screenshot 2020-10-19 at 10 51 38 AM" src="https://user-images.githubusercontent.com/58783823/96404710-3776e600-11f9-11eb-9d81-6a087f77cfae.png">

[2020-10-19 05:24] SathyaJayabal commented on #4997
verified

[2020-10-19 05:32] SathyaJayabal commented on #5035
verified
[thrive footer links.mov.zip](https://github.com/topcoder-platform/community-app/files/5399259/thrive.footer.links.mov.zip)

[2020-10-19 05:35] SathyaJayabal commented on #4252
verified
[learnmore link.mov.zip](https://github.com/topcoder-platform/community-app/files/5399270/learnmore.link.mov.zip)

[2020-10-19 05:42] SathyaJayabal commented on #3215
verified
<img width="1440" alt="Screenshot 2020-10-19 at 11 07 08 AM" src="https://user-images.githubusercontent.com/58783823/96405755-99d0e600-11fb-11eb-9dc1-40cecf8c6774.png">
<img width="1440" alt="Screenshot 2020-10-19 at 11 07 58 AM" src="https://user-images.githubusercontent.com/58783823/96405764-a0f7f400-11fb-11eb-8f43-5be12512a25e.png">

[2020-10-19 05:46] SathyaJayabal commented on #4237
@luizrrodrigues , this happens intermittently. I see the issue approx once every 10 times.

[2020-10-19 05:51] luizrrodrigues commented on #5046
@SathyaJayabal how many challenges currently running in TopGear?

[2020-10-19 05:56] SathyaJayabal commented on #5046
@luizrrodrigues , 99 open for registration, I am not sure of total active count
<img width="1440" alt="Screenshot 2020-10-19 at 11 25 34 AM" src="https://user-images.githubusercontent.com/58783823/96406882-ec130680-11fd-11eb-8699-e3e9c6daee37.png">

[2020-10-19 06:04] SathyaJayabal commented on #5046
@luizrrodrigues also there are lots of calls to get the member count, that keep running for many minutes.
<img width="1440" alt="Screenshot 2020-10-19 at 11 32 43 AM" src="https://user-images.githubusercontent.com/58783823/96407419-f71a6680-11fe-11eb-9fe3-392ae1e1dcf0.png">

[2020-10-19 06:33] SathyaJayabal commented on #5032
verified
1.Remove Dropdown on TCOs <= 19 from the header bar
<img width="1398" alt="Screenshot 2020-10-19 at 11 47 03 AM" src="https://user-images.githubusercontent.com/58783823/96409484-f97ebf80-1202-11eb-958c-7a670dbbd5a0.png">
<img width="1389" alt="Screenshot 2020-10-19 at 11 47 33 AM" src="https://user-images.githubusercontent.com/58783823/96409490-fc79b000-1202-11eb-8b54-a4cf00be301d.png">
<

[2020-10-19 06:40] luizrrodrigues commented on #5046
Thanks, let me check that

[2020-10-19 08:03] dedywahyudi commented on #4987
@luizrrodrigues @m-yadav @Oanh-and-only-Oanh
I think this problem should be fixed in **Topcoder Direct** _first_, because the updated tags after challenge completed not saved there.

Current tags in community-app is correct. Check below:

![Screen Shot 2020-10-19 at 15 01 13](https://user-images.githubusercontent.com/4476442/96417888-28edf600-121c-11eb-8ead-501a980fcf30.png)

[2020-10-19 08:54] kkartunov commented on #4970
@SathyaJayabal I updated the link as per @luizrrodrigues post. Please, verify and close. Thanks

cc @sachin-maheshwari

[2020-10-19 10:24] SathyaJayabal opened #5126 "Logout from TCO pages is not working"
1. Login using new auth0
2. Go to any of the tco pages. example:
https://community-app.topcoder-dev.com/__community__/tco19
3. Click on logout

expected: user must be logged out

actual: an error page is displayed and the suer is not logged out
<img width="1440" alt="Screenshot 2020-10-19 at 3 54 16 PM" src="https://user-images.githubusercontent.com/58783823/96435582-5db17b80-1223-11eb-8b17-6b4c82

[2020-10-19 15:22] Oanh-and-only-Oanh commented on #5082
Yes, we can hide 'Role" section until api fix.

[2020-10-19 15:26] luizrrodrigues commented on #5082
Hey @gets0ul can you to hide this section if no roles provided?

Thanks

[2020-10-19 15:27] luizrrodrigues commented on #5082
Contest https://www.topcoder.com/challenges/30145876 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-19 15:33] Oanh-and-only-Oanh commented on #5101
@SathyaJayabal,
1) correct on this behavior
2) If the user is logged in, the "join community" link in the footer should not be visible.

[2020-10-19 15:35] luizrrodrigues commented on #5125
Contest https://www.topcoder.com/challenges/30146187 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-19 15:42] Oanh-and-only-Oanh commented on #5068
Challenge link: https://www.topcoder.com/challenges/a4cf3c44-1944-4e90-aa37-e969e5ab6038

[2020-10-19 16:19] rootelement commented on #5061
@Oanh-and-only-Oanh This isn't a challenge API issue. Can we remove that label?

[2020-10-19 16:21] rootelement commented on #4764
Attachments will be added in the v1.1 release. Issue is here:
https://github.com/topcoder-platform/challenge-api/issues/107

[2020-10-19 16:22] gets0ul commented on #5082
@luizrrodrigues PR updated. The roles section is hidden if there is no `userDetails.roles` data found in challenge.

[2020-10-19 18:31] gets0ul commented on #5125
PR: https://github.com/topcoder-platform/community-app/pull/5127

[2020-10-19 21:59] gets0ul commented on #1532
PR: https://github.com/topcoder-platform/community-app/pull/5128

[2020-10-19 22:42] luizrrodrigues commented on #5082
Thanks @gets0ul I'll check shortly

[2020-10-20 04:45] SathyaJayabal commented on #5101
@luizrrodrigues , can you make the change for the below pls?

[2020-10-20 10:21] sushilshinde commented on #5121
@sachin-maheshwari

Call from Community-App
[code]

Not working with token

![image](https://user-images.githubusercontent.com/683231/96573506-db40be80-12eb-11eb-8dae-6926b939ce80.png)

It is working without token

![image](https://user-images.githubusercontent.com/683231/96573590-03302200-12ec-11eb-8924-e3811d701594.png)

[2020-10-20 10:24] sachin-maheshwari commented on #5121
@sushilshinde  i think, v2 call will not work for "new auth". This could be blocker for ur.

[2020-10-20 10:25] SathyaJayabal commented on #5126
Same happens for other sub community pages too

[2020-10-20 10:39] lakshmiathreya opened #5130 "Unable to Login to Enterprise Topgear on Staging"
-- Loaded https://staging-community-app.topcoder.com/__community__/wipro
-- Redirects to this page and is frozen here:
<img width="1280" alt="Screenshot 2020-10-20 at 3 48 15 PM" src="https://user-images.githubusercontent.com/51733042/96575613-99fdde00-12ee-11eb-8b7c-972a87d4ac54.png">

[2020-10-20 10:44] sachin-maheshwari commented on #5126
@LieutenantRoger please fix, retUrl is missing (null) in logout.
<img width="1679" alt="Screenshot 2020-10-20 at 4 12 50 PM" src="https://user-images.githubusercontent.com/6467888/96576079-4049e380-12ef-11eb-8c16-1569a2249a92.png">

[2020-10-20 12:16] gets0ul commented on #4212
PR: https://github.com/topcoder-platform/community-app/pull/5129

[2020-10-20 14:08] Oanh-and-only-Oanh commented on #5056
@SathyaJayabal @luizrrodrigues,

We don't want to show TCO subcommunitiies in private communities such as Topgear, Zurich and CS. Can you confirm that this is the behavior after the fix?

[2020-10-20 14:48] sushilshinde commented on #5121
@sachin-maheshwari @rootelement what if we don't pass token at all anyway checkpoints are accessible even the user is not logged in a quick fix?

[2020-10-20 14:55] rootelement commented on #5121
I don't know where this API lives. I'm trying to find it. I assume the feedback is not available if you're not logged in?

[2020-10-20 14:57] sushilshinde commented on #5121
Yeah, feedback won't be available.

[2020-10-20 14:59] luizrrodrigues commented on #5056
@Oanh-and-only-Oanh Tested in Dev env and TCO are visible in private communities.

@SathyaJayabal Can you check in prod please?

[2020-10-20 15:06] Oanh-and-only-Oanh commented on #5056
@luizrrodrigues it's happening in PROD as well. We need to hide TCO in private communities.
![image](https://user-images.githubusercontent.com/47536078/96605482-1bcc1800-12ab-11eb-87b3-d50dc84d99fb.png)

[2020-10-20 15:40] sachin-maheshwari commented on #5121
@sushilshinde I don't have any idea reading the checkpoints. so i can't comment on this.

[2020-10-20 17:20] mtwomey commented on #5121
Can we change this v2 api call and make it not a v2 api call, as a hotfix, tomorrow? @sushilshinde @rootelement

[2020-10-20 20:46] mtwomey commented on #5121
Or, maybe - not use the token, that's fine too.

[2020-10-21 02:01] sushilshinde commented on #5121
@rootelement?

[2020-10-21 02:02] sushilshinde commented on #5121
The user won't be able to see the feedback on their submissions

[2020-10-21 02:27] luizrrodrigues commented on #5126
@sachin-maheshwari I think you try @ mention me instead LieutenantRoger

So this menu coming from Contentful, @kkartunov can you us in this one?

[2020-10-21 07:46] luizrrodrigues commented on #5130
@lakshmiathreya Tested this in Dev and looks like working well, can you re check please?

https://accounts-auth0.topcoder-dev.com/?retUrl=http%3A%2F%2Flocal.topcoder-dev.com%2F__community__%2Fwipro&utm_source=wipro

[2020-10-21 07:49] sandhiyakavi opened #5131 "Getting Alert message instead of Login popup"
Description:

Getting Alert message instead of Login popup for the below conditions,

1. Clicking the Register button in Challenge details page without logging in.
2. Go to the Dashboard page ("https://staging-community-app.topcoder.com/my-dashboard") directly without logging in.
3. Go to the Settings page ("https://staging-community-app.topcoder.com/settings/profile") directly without logging in.

[2020-10-21 07:54] sushilshinde commented on #5130
@luizrrodrigues it is just for login

[2020-10-21 08:04] kkartunov opened #5132 "TCO21 leaderboards detail results fix"
Go to https://tco21.topcoder.com/competition-overview/development/leaderboard
Click on any member handle to see detailed results
Try to click on a challenge link

Expected: Link should be properly working
This bug is currently present for many TCO21 leaderboards that have detailed results. All should be fixed by this issue.

[2020-10-21 08:04] sandhiyakavi commented on #5131
Tracking this issue in https://github.com/topcoder-platform/community-app/issues/5130

[2020-10-21 08:04] #5131 closed

[2020-10-21 08:08] SathyaJayabal commented on #5130
@luizrrodrigues , you see similar behaviour for these test cases. Please compare dev and staging. Its fine in dev but not working in staging even though we have the same branch deployed in both places.
https://github.com/topcoder-platform/community-app/issues/5131#issue-726231595

[2020-10-21 08:29] luizrrodrigues commented on #5126
@sachin-maheshwari Fixed `retUrl` in my local env, but still getting error to this one:

https://accounts-auth0.topcoder-dev.com/?logout=true&retUrl=https://community-app.topcoder-dev.com/__community__/tco19

or

https://accounts-auth0.topcoder-dev.com/?logout=true&retUrl=https%3A%2F%2Fcommunity-app.topcoder-dev.com%2F__community__%2Ftco19

Looks like issue with `_` in URL

[2020-10-21 08:36] kkartunov commented on #5126
@luizrrodrigues this sub-menu is not Contentful it is part of TC header(old codebase). You need to patch here https://github.com/topcoder-platform/community-app/blob/12adaecd72774539d013014b4cb3ce3f6deaa2f9/src/shared/components/TopcoderHeader/index.jsx#L298

[2020-10-21 08:36] luizrrodrigues commented on #5126
@kkartunov Yeah, sorry. Working on this. :)

[2020-10-21 08:37] #4937 closed

[2020-10-21 08:59] kkartunov commented on #3844
Buttons are per design and match expectations.

[2020-10-21 08:59] #3844 closed

[2020-10-21 09:01] kkartunov commented on #3842
Not related to Thrive. This is the default TC navigation module and it is so as per design.

[2020-10-21 09:01] #3842 closed

[2020-10-21 09:03] kkartunov commented on #3829
This is no more.

[2020-10-21 09:03] #3829 closed

[2020-10-21 09:04] kkartunov commented on #3826
No more share like this used.

[2020-10-21 09:04] #3826 closed

[2020-10-21 09:06] kkartunov commented on #3824
This is not a Thrive bug it is a navigation module issue. Changing labels...
@SathyaJayabal can you confirm?

[2020-10-21 09:08] kkartunov commented on #3810
External articles should open in a new tab.

[2020-10-21 09:08] #3810 closed

[2020-10-21 09:09] kkartunov commented on #3809
Not relevant anymore.

[2020-10-21 09:09] #3809 closed

[2020-10-21 09:09] kkartunov commented on #3807
Those share buttons are no longer in use.

[2020-10-21 09:09] #3807 closed

[2020-10-21 09:09] kkartunov commented on #3806
Yes, external articles need to open in new tabs.

[2020-10-21 09:09] #3806 closed

[2020-10-21 09:11] kkartunov commented on #3803
Button no longer exists.

[2020-10-21 09:11] #3803 closed

[2020-10-21 09:13] kkartunov commented on #3797
No longer present.

[2020-10-21 09:13] #3797 closed

[2020-10-21 09:14] kkartunov commented on #3795
Fixed.

[2020-10-21 09:14] #3795 closed

[2020-10-21 09:17] kkartunov commented on #3774
fixed.

[2020-10-21 09:18] #3774 closed

[2020-10-21 09:19] kkartunov commented on #3766
This is expected behavior.

[2020-10-21 09:19] #3766 closed

[2020-10-21 09:22] kkartunov commented on #3764
External content should open in new tab

[2020-10-21 09:22] #3764 closed

[2020-10-21 09:25] kkartunov commented on #3741
Related to navigation module

[2020-10-21 14:53] luizrrodrigues commented on #5130
@sachin-maheshwari @sushilshinde

Dev: `/sso-login/?retUrl=`
https://accounts-auth0.topcoder-dev.com/sso-login/?retUrl=https%3A%2F%2Fcommunity-app.topcoder-dev.com%2F__community__%2Fwipro&utm_source=wipro

redirect to: `https://accounts-auth0.topcoder-dev.com/#!/sso-login/?retUrl=https%3A%2F%2Fcommunity-app.topcoder-dev.com%2F__community__%2Fwipro&utm_source=wipro`

-----

Stag: `/sso-login/?retUr

[2020-10-21 15:02] luizrrodrigues commented on #4970
@SathyaJayabal any feedback in this one?

[2020-10-21 15:18] SathyaJayabal commented on #4970
@luizrrodrigues ,this one has to be done from contentful directly  on production after release. Will test and close after release.

[2020-10-21 17:39] sachin-maheshwari commented on #5130
@lakshmiathreya @SathyaJayabal Fixed, there was CloudFront "Query String Forwarding and Caching" issue.

[2020-10-22 02:45] luizrrodrigues commented on #5101
1. I think currently auth lib not support that, @sachin-maheshwari can we add this feature? Maybe if provide `regSource` show SignUp by default?

2. Fixed.

[2020-10-22 03:02] lakshmiathreya commented on #5130
@sachin-maheshwari @luizrrodrigues - Login to Topgear seems to be working fine for Chrome and Firefox now. Issue is unresolved on Safari. The Staging Topgear url https://staging-community-app.topcoder.com/__community__/wipro redirects to this page:

<img width="1606" alt="Screenshot 2020-10-22 at 8 31 26 AM" src="https://user-images.githubusercontent.com/51733042/96819340-fffa7a80-1440-11eb-832a-4

[2020-10-22 03:28] SathyaJayabal commented on #5130
@sachin-maheshwari , could there be a chance for the same issue to happen in other apps? As we have only tetsed on dev for the other apps.

[2020-10-22 03:32] lakshmiathreya commented on #5130
-- Verified for Windows/Edge - redirect to Wipro adfs working fine.

[2020-10-22 04:27] SathyaJayabal opened #5136 "Checkpoints tab missing for design challenges with checkpoints"
Checkpoints tab missing for design challenges with checkpoints

example:
https://www.topcoder.com/challenges/804fd6b0-f1d3-43e6-84a9-14dca48fa8e7

compare with v4 (where we can see checkpoints)
https://beta-community-app.topcoder.com/challenges/30144368

<img width="1440" alt="Screenshot 2020-10-22 at 9 57 11 AM" src="https://user-images.githubusercontent.com/58783823/96824668-fb3bc380-144c-11eb-9

[2020-10-22 04:45] SathyaJayabal commented on #5087
@Oanh-and-only-Oanh , fixed

This is the preloaded filter for skill builder
https://www.topcoder.com/challenges?name=skill%20builder&tracks[Dev]=true&tracks[Des]=true&tracks[DS]=true&tracks[QA]=true

<img width="1440" alt="Screenshot 2020-10-22 at 10 14 17 AM" src="https://user-images.githubusercontent.com/58783823/96825770-83bb6380-144f-11eb-8dc8-0177072020d0.png">

[2020-10-22 04:45] #5087 closed

[2020-10-22 04:59] luizrrodrigues commented on #5136
@SathyaJayabal This was fixed here: https://github.com/topcoder-platform/topcoder-react-lib/pull/275/files

Issue: API return `challenge.legacyId` as **string** (I think to new challenges), so this validation broken:
[code]

changed to:
[code]

[2020-10-22 05:01] SathyaJayabal commented on #5136
@luizrrodrigues,so this will be fixed as part of auth0 release?

cc @sushilshinde

[2020-10-22 05:02] sachin-maheshwari commented on #5101
@mtwomey Need your input here. As we discussed, i think, current scenario is fine.

[2020-10-22 05:05] SathyaJayabal commented on #5121
verified on staging
<img width="1440" alt="Screenshot 2020-10-22 at 10 34 53 AM" src="https://user-images.githubusercontent.com/58783823/96827024-4a382780-1452-11eb-872d-54cac000b50f.png">
<img width="1440" alt="Screenshot 2020-10-22 at 10 35 14 AM" src="https://user-images.githubusercontent.com/58783823/96827034-4f957200-1452-11eb-8a68-c97111cfadba.png">

[2020-10-22 05:24] SathyaJayabal commented on #5126
verified on staging
[logout_subcomm.mov.zip](https://github.com/topcoder-platform/community-app/files/5420246/logout_subcomm.mov.zip)

[2020-10-22 05:27] SathyaJayabal commented on #5126
@luizrrodrigues , can you also update the return urls for the other sub communities
<img width="1440" alt="Screenshot 2020-10-22 at 10 56 34 AM" src="https://user-images.githubusercontent.com/58783823/96828461-596ca480-1455-11eb-8476-c12fe03323ab.png">
<img width="1440" alt="Screenshot 2020-10-22 at 10 56 54 AM" src="https://user-images.githubusercontent.com/58783823/96828482-64273980-1455-11eb-80

[2020-10-22 05:32] SathyaJayabal commented on #5101
verified 1.
<img width="1440" alt="Screenshot 2020-10-22 at 11 00 53 AM" src="https://user-images.githubusercontent.com/58783823/96828895-0e9f5c80-1456-11eb-82cd-efc7958dc518.png">

[2020-10-22 05:43] luizrrodrigues commented on #5136
@SathyaJayabal Yes

[2020-10-22 06:00] mtwomey commented on #5101
@sachin-maheshwari We might be able to fix, but let's keep this low priority, we can review it after the release.

The idea is that if the use is not logged in and they click `join community`, the auth window should open, but it starts on the register tab, that's the thought - correct?

[2020-10-22 11:34] kkartunov commented on #3729
Archived.

[2020-10-22 11:34] #3729 closed

[2020-10-22 11:36] kkartunov commented on #3728
Unable to reproduce.

[2020-10-22 11:36] #3728 closed

[2020-10-22 11:40] kkartunov commented on #3716
Not expected by design.

[2020-10-22 11:40] #3716 closed

[2020-10-22 11:43] kkartunov commented on #3710
Not expected UX.

[2020-10-22 11:43] #3710 closed

[2020-10-22 11:45] kkartunov commented on #3706
The filter bar is per design.

[2020-10-22 11:45] #3706 closed

[2020-10-22 11:47] kkartunov commented on #3692
Fixed

[2020-10-22 11:47] #3692 closed

[2020-10-22 11:53] kkartunov commented on #3670
This filter panel is being redesigned.

[2020-10-22 11:53] #3670 closed

[2020-10-22 11:54] kkartunov commented on #3663
This filter panel is being redesigned and will implement a new date picker.

[2020-10-22 11:54] #3663 closed

[2020-10-22 11:55] kkartunov commented on #3660
It is not by planned design.

[2020-10-22 11:55] #3660 closed

[2020-10-22 11:56] kkartunov commented on #3657
This filter panel is being redesigned and will implement a new date picker.

[2020-10-22 11:56] #3657 closed

[2020-10-22 11:57] kkartunov commented on #3654
Fixed

[2020-10-22 11:57] #3654 closed

[2020-10-22 11:57] kkartunov commented on #3652
This filter panel is being redesigned.

[2020-10-22 11:57] #3652 closed

[2020-10-22 11:58] kkartunov commented on #3647
Done.

[2020-10-22 11:58] #3647 closed

[2020-10-22 12:06] sachin-maheshwari commented on #5130
@lakshmiathreya just FYI, if you see current prod, https://topgear.topcoder.com is also not working as per expectation on Safari browser.

[2020-10-22 15:09] luizrrodrigues commented on #5126
@SathyaJayabal Done.

[2020-10-22 16:54] Oanh-and-only-Oanh opened #5138 "[$60] 'View More Challenges' link showing even when there aren't anymore challenges"
**Describe the bug:** the 'View More Challenges' link is showing even when there aren't anymore challenges

**How to reproduce bug:**
1) go to topcoder.com/challenges
2) enter in QGroundControl in "Search Challenge" filed
3) select "All Challenges" bucket
4) select. "All" under Status filter. See screenshot
![image](https://user-images.githubusercontent.com/47536078/96905242-10185700-144d-11eb-8f5

[2020-10-22 17:00] luizrrodrigues commented on #5138
Contest https://www.topcoder.com/challenges/30146651 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-22 18:24] gets0ul commented on #5138
I believe it is already resolved in https://github.com/topcoder-platform/community-app/issues/5081
Can you check again?

[2020-10-22 22:07] Oanh-and-only-Oanh commented on #5138
You’re correct. Fix just not deployed in prod.

On Thu, Oct 22, 2020 at 11:24 AM gets0ul <notifications@github.com> wrote:

--

<https://www.topcoder.com/>

*Oanh Tran*

Product Manager, Community App

732-353-9457

www.topcoder.com  | @topcoder <http://twitter.com/topcoder>

[2020-10-23 03:55] #5138 closed

[2020-10-23 03:55] luizrrodrigues commented on #5138
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-23 05:14] sandhiyakavi commented on #5126
@luizrrodrigues Logout of tco18 is not working. Getting below screen after clicking logout and user is not logged out.

<img width="959" alt="tco18_error" src="https://user-images.githubusercontent.com/55895538/96958962-e25d0c00-1539-11eb-849f-eaa46fc37464.png">

[tco18_logout_fail.zip](https://github.com/topcoder-platform/community-app/files/5427439/tco18_logout_fail.zip)

Logout for Blockchain a

[2020-10-23 05:17] sachin-maheshwari commented on #5126
@sandhiyakavi i am fixing this from auth0.

[2020-10-23 06:06] sachin-maheshwari commented on #5126
@sandhiyakavi  sorry i misinterpreted the issue, logout is working fine. but login is the issue. we need to fix that.
@LieutenantRoger  please fix. For me its "link not updated issue".

[2020-10-23 10:47] luizrrodrigues commented on #5126
@sachin-maheshwari Let me check

[2020-10-23 11:42] luizrrodrigues commented on #5126
@sachin-maheshwari @sandhiyakavi

Logout link bellow not working:

https://accounts-auth0.topcoder.com/?logout=true&retUrl=https%3A%2F%2Fstaging-community-app.topcoder.com%2F__community__%2Ftco18

https://accounts-auth0.topcoder.com/?logout=true&retUrl=https%3A%2F%2Fstaging-community-app.topcoder.com%2F__community__%2Ftco17

https://accounts-auth0.topcoder.com/?logout=true&retUrl=https%3A%2F%2Fsta

[2020-10-23 12:39] sachin-maheshwari commented on #5126
@luizrrodrigues  done.

[2020-10-23 12:47] luizrrodrigues commented on #5126
@sachin-maheshwari Cool, looks like working well now.

[2020-10-23 12:52] sachin-maheshwari commented on #5126
@luizrrodrigues logout fixed, but for registration url  i am fixing...

[2020-10-23 15:11] sachin-maheshwari commented on #5126
Fixed!

[2020-10-23 17:44] luizrrodrigues commented on #4527
Challenge: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30146339

[2020-10-25 12:43] skyhit commented on #4659
@Oanh-and-only-Oanh @SathyaJayabal a new PR is created please review - https://github.com/topcoder-platform/community-app/pull/5139

[2020-10-26 07:23] sandhiyakavi commented on #5126
Verified on Staging. Logout working for Veterans, tco18 and tco17 subcommunities.
[Logout_subcommunities_pass.zip](https://github.com/topcoder-platform/community-app/files/5437341/Logout_subcommunities_pass.zip)

[2020-10-26 15:49] sachin-maheshwari commented on #5130
@lakshmiathreya this is fixed. Please verify and close the issue.  Please note - you may need to clear your browser cache first on Safari. Also sanity on other browsers too please.

[2020-10-27 00:05] luizrrodrigues commented on #3215
Closing to release payment and reopen to wait for release

[2020-10-27 00:06] luizrrodrigues commented on #3215
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30100380<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-27 00:06] luizrrodrigues commented on #4252
Closing to release payment and reopen to wait for release

[2020-10-27 00:06] luizrrodrigues commented on #4252
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145870<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-27 00:07] luizrrodrigues commented on #5035
Closing to release payment and reopen to wait for release

[2020-10-27 00:07] luizrrodrigues commented on #5035
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145879<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-27 00:08] luizrrodrigues commented on #5071
Closing to release payment and reopen to wait for release

[2020-10-27 00:09] luizrrodrigues commented on #5071
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145864<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-27 00:09] luizrrodrigues commented on #5072
Closing to release payment and reopen to wait for release

[2020-10-27 00:09] luizrrodrigues commented on #5072
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145875<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-27 00:12] luizrrodrigues commented on #5081
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145874<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-27 00:12] luizrrodrigues commented on #5083
Closing to release payment and reopen to wait for release

[2020-10-27 00:12] luizrrodrigues commented on #5083
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145863<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-27 00:13] luizrrodrigues commented on #5088
Closing to release payment and reopen to wait for release

[2020-10-27 00:13] luizrrodrigues commented on #5088
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145873<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-27 00:13] luizrrodrigues commented on #5093
Closing to release payment and reopen to wait for release

[2020-10-27 00:13] luizrrodrigues commented on #5093
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145862<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-27 00:17] luizrrodrigues commented on #5081
Closing to release payment and reopen to wait for release

[2020-10-27 03:40] Oanh-and-only-Oanh commented on #4130
@SathyaJayabal @luizrrodrigues this issue is back again in PROD.

[2020-10-27 14:02] luizrrodrigues commented on #4769
@SathyaJayabal Deployed in Test env.

Please use this sheet to QA: https://docs.google.com/spreadsheets/d/1cXHdGbzbmP1ZqigosVsqF5nJr3CeIxAuvXLqHbAPDaA/edit

[2020-10-27 14:20] kkartunov opened #5142 "Add support for password protection to Contentful routes"
If a password is set on route level in Contentful user should be presented with an auth screen to type that password then continue to content. In case the password is wrong then a simple error message in red above the button will inform the user.

![Screenshot from 2020-10-27 16-15-14](https://user-images.githubusercontent.com/5585002/97314385-5536f180-1870-11eb-861a-3a84d4595d44.png)

[2020-10-27 14:27] kkartunov opened #5143 "Create and configure apollo.topcoder.com"
https://apollo.topcoder.com to route to community-app that should load a Contentful route for https://community-app.topcoder.com/apollo.

[2020-10-28 13:30] lakshmiathreya commented on #5130
Safari verified.

[2020-10-29 11:48] SathyaJayabal commented on #4970
@kkartunov @sushilshinde @luizrrodrigues , forbidden page links to be updated
https://community-app.topcoder.com/__community__/zurich/forbidden
https://community-app.topcoder.com/__community__/cs/forbidden
https://community-app.topcoder.com/__community__/comcast/forbidden

The login and register url needs to be updated to the new auth0 urls, example for zurich is here
https://github.com/topcoder-p

[2020-10-29 11:49] SathyaJayabal commented on #4970
@luizrrodrigues , can u provide the example url for CS register

[2020-10-29 12:06] luizrrodrigues commented on #4970
@SathyaJayabal We going to use same link to login for now and fix that to show Register tab by default after release: https://github.com/topcoder-platform/community-app/issues/5101#issuecomment-714250299

Zurich: https://accounts-auth0.topcoder.com/?retUrl=https://zurich.topcoder.com&utm_source=zurich
CS: https://accounts-auth0.topcoder.com/?retUrl=https://cs.topcoder.com&utm_source=cs
Comcast: ht

[2020-10-29 12:25] SathyaJayabal commented on #4970
@luizrrodrigues , i think comcast link is wrong and has not been updated to comcast from cs (issue existing on prod too too)

[2020-10-29 12:34] luizrrodrigues commented on #4970
Let me check in source files

[2020-10-29 13:16] luizrrodrigues commented on #4970
@SathyaJayabal @kkartunov
Comcast: https://accounts-auth0.topcoder.com/?retUrl=http://comcast.topcoder.com&utm_source=comcast

[2020-10-30 12:58] SathyaJayabal opened #5147 "User skills not displayed in settings page"
https://www.topcoder.com/settings/profile#skills
<img width="1440" alt="Screenshot 2020-10-30 at 6 06 57 PM" src="https://user-images.githubusercontent.com/58783823/97707648-96800900-1add-11eb-9505-20fba9b23a25.png">

api call `https://api.topcoder.com/v3/tags/?filter=domain%3DSKILLS%26status%3DAPPROVED&limit=1000` is failing

[2020-11-02 03:48] SathyaJayabal commented on #5143
@kkartunov , what is the test url for test env, where this is deployed?

[2020-11-02 06:39] SathyaJayabal commented on #5143
verified on test
<img width="1440" alt="Screenshot 2020-11-02 at 12 08 28 PM" src="https://user-images.githubusercontent.com/58783823/97837400-243d3d80-1d04-11eb-90b3-8c842122b383.png">

[2020-11-02 06:40] SathyaJayabal commented on #5142
verified on test
<img width="1440" alt="Screenshot 2020-11-02 at 12 09 11 PM" src="https://user-images.githubusercontent.com/58783823/97837466-433bcf80-1d04-11eb-8e54-99d394f5f959.png">

[2020-11-02 08:48] #5130 closed

[2020-11-02 08:50] SathyaJayabal commented on #5126
verified on prod for tco18 site

[2020-11-02 08:50] #5126 closed

[2020-11-02 08:52] SathyaJayabal commented on #5121
verified on prod
<img width="1440" alt="Screenshot 2020-11-02 at 2 22 07 PM" src="https://user-images.githubusercontent.com/58783823/97848264-d251e300-1d16-11eb-8b2f-2297d522a8c0.png">

[2020-11-02 08:52] #5121 closed

[2020-11-02 08:53] SathyaJayabal commented on #5120
verified on prod
<img width="1440" alt="Screenshot 2020-11-02 at 2 23 05 PM" src="https://user-images.githubusercontent.com/58783823/97848351-f3b2cf00-1d16-11eb-98f4-f3180248f8a4.png">

[2020-11-02 08:53] #5120 closed

[2020-11-02 08:55] #4997 closed

[2020-11-02 08:55] sandhiyakavi commented on #5142
Verified on Staging.

![image](https://user-images.githubusercontent.com/55895538/97848558-988fd500-1d34-11eb-99f7-6eb593377ff0.png)

[2020-11-02 08:57] SathyaJayabal commented on #4970
verified on prod
<img width="1440" alt="Screenshot 2020-11-02 at 2 26 34 PM" src="https://user-images.githubusercontent.com/58783823/97848699-776cbb80-1d17-11eb-949f-bb09a0a220b4.png">

[2020-11-02 08:57] #4970 closed

[2020-11-02 08:57] sandhiyakavi commented on #5143
Verified on Staging.

![image](https://user-images.githubusercontent.com/55895538/97848715-d68cf900-1d34-11eb-9189-ea2f080a1a83.png)

[2020-11-02 08:57] SathyaJayabal commented on #5136
verified on prod
<img width="1440" alt="Screenshot 2020-11-02 at 2 22 07 PM" src="https://user-images.githubusercontent.com/58783823/97848603-5310df00-1d17-11eb-88ce-59c8a48c5fff.png">

[2020-11-02 08:57] #5136 closed

[2020-11-02 11:40] SathyaJayabal commented on #5143
`https://community-app.topcoder.com/apollo` works fine but route `https://www.apollo.topcoder.com/` is not yet configured

[2020-11-02 12:23] luizrrodrigues commented on #4769
@SathyaJayabal Deployed in Stag env now.

[2020-11-02 17:28] luizrrodrigues commented on #5032
@kkartunov @SathyaJayabal We good to release this tomorrow?

[2020-11-03 01:20] luizrrodrigues commented on #4130
@Oanh-and-only-Oanh This is FE issue, looks like not getting latest challenge from track.

[2020-11-03 06:12] SathyaJayabal commented on #4769
@luizrrodrigues , SEO updated for profile pages
<img width="1440" alt="Screenshot 2020-11-03 at 11 41 49 AM" src="https://user-images.githubusercontent.com/58783823/97954494-ad6a7800-1dc9-11eb-8e69-a2fefa4df431.png">
<img width="1440" alt="Screenshot 2020-11-03 at 11 42 09 AM" src="https://user-images.githubusercontent.com/58783823/97954501-b2c7c280-1dc9-11eb-9b84-a97e8087d5de.png">

[2020-11-03 06:27] SathyaJayabal commented on #4769
<img width="1440" alt="Screenshot 2020-11-03 at 11 56 30 AM" src="https://user-images.githubusercontent.com/58783823/97955216-b2302b80-1dcb-11eb-9f8b-ec207e130df9.png">

[2020-11-03 07:54] sandhiyakavi commented on #5081
Verified on Staging.

![image](https://user-images.githubusercontent.com/55895538/97960645-31862500-1df5-11eb-9900-5d46ab944961.png)

[2020-11-03 08:06] SathyaJayabal commented on #5142
verified on prod
<img width="1440" alt="Screenshot 2020-11-03 at 1 32 20 PM" src="https://user-images.githubusercontent.com/58783823/97961296-05f54180-1dd9-11eb-9572-4d2ed65c4351.png">

[2020-11-03 08:06] #5142 closed

[2020-11-03 08:45] SathyaJayabal commented on #5093
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2020-11-03 at 2 14 46 PM" src="https://user-images.githubusercontent.com/58783823/97964595-07296d00-1ddf-11eb-97eb-6b9157a22778.png">
<img width="1440" alt="Screenshot 2020-11-03 at 2 15 09 PM" src="https://user-images.githubusercontent.com/58783823/97964605-0bee2100-1ddf-11eb-8800-7ee3e2d94370.png">

[2020-11-03 08:47] sandhiyakavi commented on #5081
Verified on Staging.

![image](https://user-images.githubusercontent.com/55895538/97964754-9c872a00-1dfc-11eb-8068-d3d91fc6ec56.png)

[2020-11-03 08:50] SathyaJayabal commented on #4029
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-11-03 at 2 18 52 PM" src="https://user-images.githubusercontent.com/58783823/97964948-9b93cf80-1ddf-11eb-9a91-cdbd805ecf91.png">
<img width="1440" alt="Screenshot 2020-11-03 at 2 18 57 PM" src="https://user-images.githubusercontent.com/58783823/97964963-a2224700-1ddf-11eb-8209-7b25a7b237f1.png">

[2020-11-03 08:51] sandhiyakavi commented on #3215
Verified on Staging.

![image](https://user-images.githubusercontent.com/55895538/97964936-ecfe8780-1dfc-11eb-82d3-245fbaf96899.png)

![image](https://user-images.githubusercontent.com/55895538/97965012-07386580-1dfd-11eb-95fe-b593863a5ce5.png)

[2020-11-03 08:55] sandhiyakavi commented on #4252
Verified on staging

[Learn_more_SRMtab.zip](https://github.com/topcoder-platform/community-app/files/5480152/Learn_more_SRMtab.zip)

[2020-11-03 08:58] SathyaJayabal commented on #4994
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-11-03 at 2 22 58 PM" src="https://user-images.githubusercontent.com/58783823/97965712-ce8a9300-1de0-11eb-884f-2e61d109af6d.png">

[2020-11-03 09:02] sandhiyakavi commented on #5035
Verified on staging.
[issue_5035_Pass.zip](https://github.com/topcoder-platform/community-app/files/5480205/issue_5035_Pass.zip)

[2020-11-03 09:05] SathyaJayabal commented on #5102
verified in staging (develop branch). link appears for all challenges except MM and Design challenges.
<img width="1440" alt="Screenshot 2020-11-03 at 2 34 20 PM" src="https://user-images.githubusercontent.com/58783823/97966416-d1d24e80-1de1-11eb-9ec0-e4f4645fec93.png">

[2020-11-03 09:07] kkartunov opened #5153 "Update site tab icon to current Topcoder blob"
Accessing https://community-app.topcoder.com/thrive and https://www.topcoder.com/thrive have diff tab icons but serve from the same app.

Fix to tab icon to be TC blob for **all** `community-app` subdomains. If all not possible, need at least fix for prod `community-app.topcoder.com`.

[2020-11-03 09:08] sandhiyakavi commented on #5071
Verified on Staging.

[Clear_Status_Filter_Pass.zip](https://github.com/topcoder-platform/community-app/files/5480234/Clear_Status_Filter_Pass.zip)

[2020-11-03 09:09] SathyaJayabal commented on #5022
verified on staging (develop)
[seo.mov.zip](https://github.com/topcoder-platform/community-app/files/5480241/seo.mov.zip)

[2020-11-03 09:10] sandhiyakavi commented on #5072
Verified on staging.

![image](https://user-images.githubusercontent.com/55895538/97966936-d443a100-1dff-11eb-8eb9-2c10ac65ff70.png)

[2020-11-03 09:16] sandhiyakavi commented on #5083
Verified on Staging.

![image](https://user-images.githubusercontent.com/55895538/97967307-6481e600-1e00-11eb-88a3-b8671cd5030b.png)

![image](https://user-images.githubusercontent.com/55895538/97967374-79f71000-1e00-11eb-998b-0ab77f47ab0f.png)

![image](https://user-images.githubusercontent.com/55895538/97967405-83807800-1e00-11eb-83b9-cfc639e54dad.png)

[2020-11-03 09:20] SathyaJayabal commented on #4769
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-11-03 at 2 48 46 PM" src="https://user-images.githubusercontent.com/58783823/97967845-cd0e9a00-1de3-11eb-9c9e-39ed6ba1f0fc.png">
<img width="1440" alt="Screenshot 2020-11-03 at 2 49 05 PM" src="https://user-images.githubusercontent.com/58783823/97967866-d5ff6b80-1de3-11eb-8119-c8347708e08e.png">

[2020-11-03 09:44] SathyaJayabal opened #5154 "Sort is not returning any challenges"
got to https://www.topcoder.com/challenges?
apply sort for any of the following buckets
[code]

Expected: Challenges must be displayed sorted on the selected sort criteria
Actual: `No Challenges Found` message is displayed and no challenges are displayed.

The below api call does not return any challenges
`https://api.topcoder.com/v5/challenges/?status=Active&currentPhaseName=Registration&perPage=

[2020-11-03 09:45] SathyaJayabal commented on #5088
@luizrrodrigues , not able to verify because of
https://github.com/topcoder-platform/challenge-api/issues/336

[2020-11-03 10:02] sandhiyakavi commented on #5032
Verified on Staging.

![image](https://user-images.githubusercontent.com/55895538/97971752-da894b80-1e06-11eb-8a1e-f6c8f208687a.png)
![image](https://user-images.githubusercontent.com/55895538/97971775-e543e080-1e06-11eb-8d72-3249037cbc40.png)

![image](https://user-images.githubusercontent.com/55895538/97971600-a9108000-1e06-11eb-9179-364b570b3086.png)
![image](https://user-images.githubuserconte

[2020-11-03 11:34] SathyaJayabal commented on #5081
verified  on prod
<img width="1440" alt="Screenshot 2020-11-03 at 5 03 37 PM" src="https://user-images.githubusercontent.com/58783823/97980302-91c99680-1df6-11eb-85d9-dba3d187c17f.png">

[2020-11-03 11:34] #5081 closed

[2020-11-03 11:37] SathyaJayabal commented on #3215
verified on prod
<img width="1440" alt="Screenshot 2020-11-03 at 5 06 18 PM" src="https://user-images.githubusercontent.com/58783823/97980567-fb49a500-1df6-11eb-826c-e3acbf94c05d.png">
<img width="1440" alt="Screenshot 2020-11-03 at 5 06 34 PM" src="https://user-images.githubusercontent.com/58783823/97980583-00a6ef80-1df7-11eb-8b70-f08b46a9234c.png">

[2020-11-03 11:37] #3215 closed

[2020-11-03 11:38] SathyaJayabal commented on #4252
verified on prod
<img width="1440" alt="Screenshot 2020-11-03 at 5 07 53 PM" src="https://user-images.githubusercontent.com/58783823/97980663-29c78000-1df7-11eb-92ac-43753fdb65bf.png">

[2020-11-03 11:38] #4252 closed

[2020-11-03 11:40] SathyaJayabal commented on #5035
verified on prod

[2020-11-03 11:40] #5035 closed

[2020-11-03 11:41] SathyaJayabal commented on #5035
https://drive.google.com/file/d/1iXqXA0YQfRP_toBils0wC9Ux4kh2iiC3/view?usp=sharing

[2020-11-03 11:42] SathyaJayabal commented on #5071
verified on prod
[clear filter.mov.zip](https://github.com/topcoder-platform/community-app/files/5480958/clear.filter.mov.zip)

[2020-11-03 11:43] #5071 closed

[2020-11-03 11:44] SathyaJayabal commented on #5072
verified on prod
<img width="1440" alt="Screenshot 2020-11-03 at 5 14 01 PM" src="https://user-images.githubusercontent.com/58783823/97981263-00f3ba80-1df8-11eb-892f-f01d1c71157f.png">

[2020-11-03 11:44] #5072 closed

[2020-11-03 11:46] SathyaJayabal commented on #5083
verified on prod
<img width="1440" alt="Screenshot 2020-11-03 at 5 15 23 PM" src="https://user-images.githubusercontent.com/58783823/97981390-3ac4c100-1df8-11eb-86ce-807dc3f124e1.png">

[2020-11-03 11:46] #5083 closed

[2020-11-03 11:47] SathyaJayabal commented on #5088
@luizrrodrigues , will close this after https://github.com/topcoder-platform/challenge-api/issues/336 is fixed

[2020-11-03 11:49] SathyaJayabal commented on #5093
verified on prod
<img width="1440" alt="Screenshot 2020-11-03 at 5 18 26 PM" src="https://user-images.githubusercontent.com/58783823/97981692-af97fb00-1df8-11eb-9b95-41d1cc468d6e.png">

[2020-11-03 11:49] #5093 closed

[2020-11-03 11:53] SathyaJayabal commented on #4029
verified on prod
<img width="1440" alt="Screenshot 2020-11-03 at 5 22 29 PM" src="https://user-images.githubusercontent.com/58783823/97982055-38169b80-1df9-11eb-98d4-2c97fefa5d05.png">

[2020-11-03 11:53] #4029 closed

[2020-11-03 11:55] SathyaJayabal commented on #4994
verified on prod
<img width="1440" alt="Screenshot 2020-11-03 at 5 24 15 PM" src="https://user-images.githubusercontent.com/58783823/97982249-8166eb00-1df9-11eb-8d9f-abf4593f0873.png">

[2020-11-03 11:55] #4994 closed

[2020-11-03 11:57] SathyaJayabal commented on #5102
verified on prod
<img width="1440" alt="Screenshot 2020-11-03 at 5 26 50 PM" src="https://user-images.githubusercontent.com/58783823/97982434-cbe86780-1df9-11eb-8a49-f6b6df21b155.png">

[2020-11-03 11:57] #5102 closed

[2020-11-03 12:01] SathyaJayabal commented on #5022
verified on prod
[seo_prod.mov.zip](https://github.com/topcoder-platform/community-app/files/5481034/seo_prod.mov.zip)

[2020-11-03 12:01] #5022 closed

[2020-11-03 12:02] SathyaJayabal commented on #4769
verified on prod
<img width="1440" alt="Screenshot 2020-11-03 at 5 31 43 PM" src="https://user-images.githubusercontent.com/58783823/97982948-84aea680-1dfa-11eb-9bfb-6d8ef2669315.png">

[2020-11-03 12:02] #4769 closed

[2020-11-03 12:11] SathyaJayabal commented on #5032
verified on prod
<img width="1435" alt="Screenshot 2020-11-03 at 5 33 54 PM" src="https://user-images.githubusercontent.com/58783823/97983770-d146b180-1dfb-11eb-9fc6-21e43596ccbf.png">
<img width="1439" alt="Screenshot 2020-11-03 at 5 34 15 PM" src="https://user-images.githubusercontent.com/58783823/97983779-d441a200-1dfb-11eb-934c-95d787825186.png">
<img width="1436" alt="Screenshot 2020-11-03 at

[2020-11-03 12:11] #5032 closed

[2020-11-03 13:02] kkartunov commented on #5143
verified https://apollo.topcoder.com and https://www.topcoder.com/apollo work as expected.

[2020-11-03 13:03] #5143 closed

[2020-11-03 17:53] rootelement commented on #5154
A fix has been deployed for prod. @SathyaJayabal please re-test.

[2020-11-04 02:03] luizrrodrigues commented on #4527
@SathyaJayabal Ready for QA, deployed in **Stag** env.

[2020-11-04 02:21] SathyaJayabal commented on #5154
@rootelement , fix is working fine. Thanks

[2020-11-04 02:21] #5154 closed

[2020-11-04 02:22] SathyaJayabal commented on #5088
verified on prod
[sort.mov.zip](https://github.com/topcoder-platform/community-app/files/5485128/sort.mov.zip)

[2020-11-04 02:22] #5088 closed

[2020-11-04 02:46] luizrrodrigues opened #5157 "SEO: Fix Challenge Listing page and update Challenge Details"
**1 - Challenge Listing**
https://www.topcoder.com/challenges

a) Update SEO Title:
“Topcoder Challenge Listings | Topcoder Community | Topcoder”

b) Update Meta Description:
“Browse the challenges currently available on Topcoder. Search by type of challenge, then find those of interest to register for and compete in today.”

------

**2 - Challenge Details**
example: https://www.topcoder.com/chal

[2020-11-04 02:46] luizrrodrigues commented on #5157
Challenge: https://www.topcoder.com/challenges/4b21403c-4a02-4950-a368-1d1387ea9d68

[2020-11-04 03:13] luizrrodrigues commented on #5157
@SathyaJayabal Test env

[2020-11-04 04:26] sandhiyakavi commented on #4527
Verified on Staging.

![image](https://user-images.githubusercontent.com/55895538/98068843-977bb680-1ea0-11eb-89c8-a44f3b059cc7.png)

![image](https://user-images.githubusercontent.com/55895538/98068990-0a852d00-1ea1-11eb-8e45-2da38f658d31.png)

![image](https://user-images.githubusercontent.com/55895538/98069043-343e5400-1ea1-11eb-87c4-aa7e844dad0f.png)

[2020-11-04 04:38] sandhiyakavi commented on #5157
Verified in Test Env.

Challenge Listings Page
![image](https://user-images.githubusercontent.com/55895538/98069770-ee828b00-1ea2-11eb-9f5b-49c0ea901668.png)

Challenge Details
![image](https://user-images.githubusercontent.com/55895538/98069810-04904b80-1ea3-11eb-9794-3b170e5d9651.png)

[2020-11-04 06:07] SathyaJayabal commented on #5132
@kkartunov , In production this issue is present for tco21 site and this has been fixed. Please see comparidon   between prod and test env, where the fix is deployed
<img width="1440" alt="Screenshot 2020-11-04 at 11 30 08 AM" src="https://user-images.githubusercontent.com/58783823/98074924-54fead80-1e91-11eb-82c9-c56781e6a8bb.png">
<img width="1440" alt="Screenshot 2020-11-04 at 11 29 39 AM" src=

[2020-11-04 06:13] SathyaJayabal commented on #4897
@kkartunov ,
1. Total score should be updated the top  3 cards too
2. Rename # OF CHALLENGES to # OF MATCHES on top 3 cards too

<img width="1440" alt="Screenshot 2020-11-04 at 11 42 21 AM" src="https://user-images.githubusercontent.com/58783823/98075708-db67bf00-1e92-11eb-9466-5ef55bdaacc0.png">

[2020-11-04 06:49] SathyaJayabal commented on #4659
@skyhit @luizrrodrigues , we are getting a blank page on accessing profile  settings
https://staging-community-app.topcoder.com/settings/profile
<img width="1440" alt="Screenshot 2020-11-04 at 12 17 52 PM" src="https://user-images.githubusercontent.com/58783823/98078330-e3762d80-1e97-11eb-83ba-955592904916.png">

[2020-11-04 08:25] luizrrodrigues commented on #4659
Thanks @SathyaJayabal

@skyhit Checking about PRs.

We can ignore previous **community-app** PR: https://github.com/topcoder-platform/community-app/pull/5011 right?

The new one, https://github.com/topcoder-platform/community-app/pull/5139 need to point to previous **topcoder-react-lib** PR https://github.com/topcoder-platform/topcoder-react-lib/pull/261

Right?

[2020-11-04 08:30] SathyaJayabal commented on #4897
verified
<img width="1440" alt="Screenshot 2020-11-04 at 1 59 32 PM" src="https://user-images.githubusercontent.com/58783823/98087445-16272280-1ea6-11eb-91a4-0761244c05ca.png">

[2020-11-04 08:41] SathyaJayabal commented on #5132
verified
<img width="1440" alt="Screenshot 2020-11-04 at 2 10 28 PM" src="https://user-images.githubusercontent.com/58783823/98088534-91d59f00-1ea7-11eb-835f-48eea514e4a1.png">

[2020-11-04 09:20] SathyaJayabal commented on #5147
working now
<img width="1440" alt="Screenshot 2020-11-04 at 2 50 27 PM" src="https://user-images.githubusercontent.com/58783823/98092792-18d94600-1ead-11eb-95f5-071ee56b320b.png">

[2020-11-04 09:20] #5147 closed

[2020-11-04 21:26] luizrrodrigues opened #5159 "Auth0 - Issue when token expires"
When token expires showing error and blank page to Challenge Listing and Challenge Details.

[2020-11-05 01:35] luizrrodrigues commented on #5125
Contest https://www.topcoder.com/challenges/30146187 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-05 04:45] luizrrodrigues commented on #4212
Contest https://www.topcoder.com/challenges/30145869 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-05 05:46] kkartunov opened #5164 "Change URL for Apollo"
`/apollo` change to `/wipro-apollo`

[2020-11-05 07:29] kkartunov opened #5165 "Route password screen updates"
- ability to change Submit text
- ability trigger the submit with the keyboard return
- stars instead of text as it is a password
- add the possibility for content below form like here https://marvelapp.com/prototype/f94d001/screen/73961104

Test URL: `/wipro-apollo`

[2020-11-05 10:03] SathyaJayabal opened #5166 "Review opportunities: review type filter, unable to select option "Aaa""
1. Go to
https://www.topcoder.com/challenges?bucket=reviewOpportunities
2. Click on open for review bucket
3. Select Any option from review type dropdown
4. Select "All" option from  review type dropdown

expected: user should be able select "All" option
actual: user is not able to select "All" option

[review type.mov.zip](https://github.com/topcoder-platform/community-app/files/5493467/review.ty

[2020-11-05 10:22] gets0ul commented on #5166
This should be resolved by the fix in https://github.com/topcoder-platform/community-app/issues/5125

[2020-11-05 10:54] SathyaJayabal commented on #5166
Thanks @gets0ul

[2020-11-05 11:06] SathyaJayabal commented on #5164
verified on staging
<img width="1440" alt="Screenshot 2020-11-05 at 4 34 09 PM" src="https://user-images.githubusercontent.com/58783823/98233255-c8cdb280-1f84-11eb-97ea-5c26ea976102.png">

[2020-11-05 11:07] SathyaJayabal commented on #5159
challenge listings: subcommunities not loading and we get the console error
challenge details: error message displayed along with console error
both pages are fine once we refresh the page
<img width="1440" alt="Screenshot 2020-11-05 at 8 40 00 AM" src="https://user-images.githubusercontent.com/58783823/98233505-2661ff00-1f85-11eb-8994-7becb019de4a.png">
<img width="1440" alt="Screenshot 2020-11-0

[2020-11-05 11:53] SathyaJayabal commented on #5164
verified on prod
<img width="1440" alt="Screenshot 2020-11-05 at 5 22 43 PM" src="https://user-images.githubusercontent.com/58783823/98237867-907da280-1f8b-11eb-9dc4-b9f44d471bb3.png">

[2020-11-05 11:53] #5164 closed

[2020-11-05 13:10] skyhit commented on #4659
@luizrrodrigues how to do that? should we merge that PR first?

[2020-11-05 22:07] jswheeler opened #5168 "[$50] Ordered List and List item are not rendered correctly."
**Describe the bug**
the \<ol\> and \<li\> html tags do not render for topcoder terms.
**To Reproduce**
Steps to reproduce the behavior:
1.  Open the admin tool for topcoder (admin.topcoder.com).
1. Find the current terms called Standard Terms for Topcoder Competitions v2.2.
1. See that the terms are using both hard coded numbers as well as the ol and li tags.
1. Current terms are here https://www

[2020-11-06 06:50] jmgasper opened #5169 "The forum link in the challenge page should open the forum in a separate tab"
**Steps**
Go to a challenge details page ex- https://qa-community-app.topcoder-dev.com/challenges/99ac6731-0c23-42a4-9193-abbde35b8394
Click CHALLENGE DISCUSSION link

**Actual result**
The forum is opened in the same tab

**Expected result**
The forum should be opened in a separate tab

[2020-11-06 12:12] #5159 closed

[2020-11-06 19:56] luizrrodrigues commented on #5168
Contest https://www.topcoder.com/challenges/30149549 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-06 19:57] luizrrodrigues commented on #5168
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 6-8 hours and PR to
https://github.com/topcoder-platform/community-app/tree/tcx-202011 
https://github.com/topcoder-platform/topcoder-react-lib/tree/tcx-202011

run `npm run test` before PR

[2020-11-06 22:18] luizrrodrigues commented on #5168
Contest https://www.topcoder.com/challenges/30149549 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-06 22:24] gets0ul commented on #5168
So, the expected solution is the ordered list item should be rendered in numbering format without needing to manually add number in the source term text.
Is that correct?

[2020-11-06 22:45] Oanh-and-only-Oanh commented on #5168
Correct.

[2020-11-06 23:59] luizrrodrigues commented on #5168
@gets0ul basically need to apply same format/style present in challenge spec

[2020-11-07 07:11] gets0ul commented on #5168
@luizrrodrigues style fixed.

[2020-11-08 13:05] luizrrodrigues commented on #4659
@skyhit just confirm if need both PRs, then I'll create a test release and deploy.

[2020-11-09 07:39] kkartunov opened #5172 "Contentful media queries fix window resize"
Contentful media queries need to trigger on window resize too. Currently, page reload on the new resolution is required to trigger media queries. The scope is to change that behavior.

Test URL: https://community-app.topcoder.com/examples/contentful/viewport/72IxVCieryAuXbDe4uPPlk
Steps:
1. Load the page at 1440px resolution
2. Resize to 1024px
3. Observe. Reload page
4. video https://drive.google

[2020-11-09 07:45] sushilshinde opened #5173 "Profile update not working"
![image](https://user-images.githubusercontent.com/683231/98511037-29613600-228a-11eb-9591-26a9b5dc65aa.png)

On @mtwomey 's behalf

[2020-11-09 07:49] SathyaJayabal commented on #5173
Please try again, This seems to be  working
[5173.mov.zip](https://github.com/topcoder-platform/community-app/files/5508811/5173.mov.zip)

[2020-11-09 09:16] luizrrodrigues commented on #5172
@SathyaJayabal ready for QA in Stag env.

[2020-11-09 09:28] SathyaJayabal commented on #5172
verified on staging (feature branch)
[5172.mov.zip](https://github.com/topcoder-platform/community-app/files/5509424/5172.mov.zip)

[2020-11-09 10:04] luizrrodrigues commented on #4659
@skyhit looks like **community-app** and **topcoder-react-lib** PR was not synced, then I merge develop into both branches.

Deploying to Dev env.

[2020-11-09 10:48] SathyaJayabal commented on #4659
@skyhit, Technology list is not loading.
<img width="1440" alt="Screenshot 2020-11-09 at 4 11 10 PM" src="https://user-images.githubusercontent.com/58783823/98531972-13ae3980-22a7-11eb-93dd-9ce1a440fd65.png">

[2020-11-09 10:49] luizrrodrigues commented on #5165
@SathyaJayabal Ready in Stag env.

[2020-11-09 11:05] SathyaJayabal commented on #5165
@kkartunov,
1. Content below form must be centred
<img width="1440" alt="Screenshot 2020-11-09 at 4 30 38 PM" src="https://user-images.githubusercontent.com/58783823/98533681-4a854f00-22a9-11eb-96d6-f91818cef9e5.png">

2. Suggestion: to have the ability to show password if needed
<img width="263" alt="Screenshot 2020-11-09 at 4 33 03 PM" src="https://user-images.githubusercontent.com/58783823/9853

[2020-11-09 13:12] kkartunov commented on #5165
@SathyaJayabal
1. updated. It was a content issue
2. no capability for that yet. Good for now without it.
3. Yes, for security reasons.

[2020-11-09 13:16] kkartunov opened #5174 "Sorting on MM Leaderboards wrong"
Fix sorting on MM Leaderboards
Test: https://community-app.topcoder.com/examples/contentful/contentblock/45ybaKa7q2oBzdYef90czi

[2020-11-09 13:20] kkartunov opened #5175 "Change favicon for TCO20 site"
We want a better tab icon for https://tco20.topcoder.com

[2020-11-09 15:12] luizrrodrigues commented on #4659
@skyhit I have fixed this in **topcoder-react-lib**, was calling API v3 to `/technologies` instead v4.
https://github.com/topcoder-platform/topcoder-react-lib/pull/261/commits/8ed33653ff83467a23d49a9b7cc2519205f2a351

[2020-11-09 15:12] jswheeler opened #5176 "Acknowledging NDA leaves a blank page"
**Describe the bug**
While testing the deployment of a new NDA I noticed that after I accepted the terms I was left with a blank page.
**To Reproduce**
1. Navigate to https://www.topcoder.com/challenges/terms/detail/c41e90e5-4d0e-4811-bd09-38ff72674490
2. complete and submit the docusign form.
3. After completion, you are left with a blank page.

**Expected behavior**
At a minimum, the user should

[2020-11-09 15:24] luizrrodrigues commented on #4659
@SathyaJayabal Fixed and ready for QA.

[2020-11-09 15:48] SathyaJayabal commented on #5165
verified
<img width="1440" alt="Screenshot 2020-11-09 at 9 18 14 PM" src="https://user-images.githubusercontent.com/58783823/98563371-1cb40080-22d1-11eb-92a6-0473b5cc070a.png">

[2020-11-09 15:58] SathyaJayabal commented on #4659
@luizrrodrigues @skyhit , verified.
<img width="1440" alt="Screenshot 2020-11-09 at 9 27 09 PM" src="https://user-images.githubusercontent.com/58783823/98564419-5fc2a380-22d2-11eb-9bc2-c7971c7a6687.png">

[2020-11-09 17:19] luizrrodrigues commented on #4212
@SathyaJayabal Ready For QA, Dev env

[2020-11-09 17:19] luizrrodrigues commented on #5082
@SathyaJayabal Ready For QA, Dev env

[2020-11-09 17:20] luizrrodrigues commented on #5125
@SathyaJayabal Ready For QA, Dev env

[2020-11-10 02:08] #5173 closed

[2020-11-10 02:44] luizrrodrigues commented on #5107
Contest https://www.topcoder.com/challenges/30149875 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-10 02:44] luizrrodrigues commented on #5107
Contest https://www.topcoder.com/challenges/30149875 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-10 02:59] luizrrodrigues commented on #1532
Contest https://www.topcoder.com/challenges/30145867 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-10 04:00] SathyaJayabal commented on #5168
@luizrrodrigues, accessing the given terms links on dev env gives a blank page error
https://community-app.topcoder-dev.com/challenges/terms/detail/9ef9dec4-dddb-48c9-9cce-659db68bc5ac
https://community-app.topcoder-dev.com/challenges/terms/detail/b11da5cd-713f-478d-90f4-f679ef53ee95

<img width="1440" alt="Screenshot 2020-11-10 at 9 26 37 AM" src="https://user-images.githubusercontent.com/5878382

[2020-11-10 04:00] SathyaJayabal commented on #5168
@luizrrodrigues , will be good to have this on staging to test next time.

[2020-11-10 04:03] SathyaJayabal commented on #5125
verified
[clear.mov.zip](https://github.com/topcoder-platform/community-app/files/5514761/clear.mov.zip)

[2020-11-10 04:12] SathyaJayabal commented on #5107
verified
<img width="1440" alt="Screenshot 2020-11-10 at 9 41 38 AM" src="https://user-images.githubusercontent.com/58783823/98626958-fc1f9100-2338-11eb-998d-4d96e55ad0d4.png">

[2020-11-10 04:16] SathyaJayabal commented on #5082
@luizrrodrigues , no challenges are displayed. Maybe we can test on staging?
<img width="1440" alt="Screenshot 2020-11-10 at 9 45 42 AM" src="https://user-images.githubusercontent.com/58783823/98627185-98e22e80-2339-11eb-9df8-12d03654b61a.png">
<img width="1440" alt="Screenshot 2020-11-10 at 9 45 47 AM" src="https://user-images.githubusercontent.com/58783823/98627196-9e3f7900-2339-11eb-8c02-204a52

[2020-11-10 04:18] luizrrodrigues commented on #5168
@SathyaJayabal This one was deployed in Stag.

[2020-11-10 04:21] luizrrodrigues commented on #5082
@SathyaJayabal Sure, I'll sync this with develop branch and deploy to Stag env.

[2020-11-10 04:21] SathyaJayabal commented on #5168
@luizrrodrigues , <li> is rendered correctly, but <ol> has double numbers
<img width="1440" alt="Screenshot 2020-11-10 at 9 50 35 AM" src="https://user-images.githubusercontent.com/58783823/98627454-4ead7d00-233a-11eb-88b5-558ba31627b0.png">
<img width="1440" alt="Screenshot 2020-11-10 at 9 50 42 AM" src="https://user-images.githubusercontent.com/58783823/98627467-55d48b00-233a-11eb-86d3-59faeb132

[2020-11-10 04:26] luizrrodrigues commented on #5168
@SathyaJayabal Double number is because this was added in CMS content, we'll need change this in CMS side.

[2020-11-10 04:28] luizrrodrigues commented on #5168
cc @jswheeler

[2020-11-10 04:29] SathyaJayabal commented on #5169
[forums_new_tab.mov.zip](https://github.com/topcoder-platform/community-app/files/5514823/forums_new_tab.mov.zip)

[2020-11-10 04:51] SathyaJayabal commented on #4212
verified
[design_download_sub.mov.zip](https://github.com/topcoder-platform/community-app/files/5514890/design_download_sub.mov.zip)

[2020-11-10 04:55] SathyaJayabal commented on #1532
verified
<img width="1440" alt="Screenshot 2020-11-10 at 10 23 52 AM" src="https://user-images.githubusercontent.com/58783823/98629490-fcbb2600-233e-11eb-978c-8f19645b4640.png">
<img width="1440" alt="Screenshot 2020-11-10 at 10 24 08 AM" src="https://user-images.githubusercontent.com/58783823/98629495-017fda00-233f-11eb-8bf4-653a903dad89.png">
<img width="1440" alt="Screenshot 2020-11-10 at 10 24

[2020-11-10 05:02] SathyaJayabal commented on #5082
@luizrrodrigues , verified.

Details inside each challenge card will be taken care of in
https://github.com/topcoder-platform/community-app/issues/4527
<img width="1440" alt="Screenshot 2020-11-10 at 10 29 57 AM" src="https://user-images.githubusercontent.com/58783823/98629930-fed1b480-233f-11eb-9400-cae1e59d69be.png">

[2020-11-10 05:08] SathyaJayabal commented on #5168
@luizrrodrigues , marking this as pass, as the styles are applied correctly from community app side.

[2020-11-10 05:09] SathyaJayabal commented on #5168
@jswheeler , please update the CMS content to not have numbers for the ordered list items.

[2020-11-10 05:59] luizrrodrigues commented on #5082
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145876<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-10 07:30] SathyaJayabal commented on #5172
verified on staging (develop)
[media_queries.mov.zip](https://github.com/topcoder-platform/community-app/files/5515518/media_queries.mov.zip)

[2020-11-10 07:30] SathyaJayabal commented on #5165
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-11-10 at 12 58 27 PM" src="https://user-images.githubusercontent.com/58783823/98643228-b40e6780-2354-11eb-91fd-9c5a554826d4.png">

[2020-11-10 07:36] SathyaJayabal commented on #5132
verified
<img width="1440" alt="Screenshot 2020-11-10 at 1 02 17 PM" src="https://user-images.githubusercontent.com/58783823/98643553-2bdc9200-2355-11eb-9f56-95e86a86074e.png">
<img width="1440" alt="Screenshot 2020-11-10 at 1 02 37 PM" src="https://user-images.githubusercontent.com/58783823/98643574-31d27300-2355-11eb-8095-547d3d85193f.png">

[2020-11-10 07:41] SathyaJayabal commented on #5082
verified on staging(develop)
<img width="1440" alt="Screenshot 2020-11-10 at 1 09 24 PM" src="https://user-images.githubusercontent.com/58783823/98644212-2df32080-2356-11eb-875c-dd4a5a0f4051.png">
<img width="1440" alt="Screenshot 2020-11-10 at 1 09 31 PM" src="https://user-images.githubusercontent.com/58783823/98644227-32b7d480-2356-11eb-9625-2d9264775bae.png">
<img width="1440" alt="Screenshot 2

[2020-11-10 07:41] SathyaJayabal commented on #4527
verified on staging(develop)
<img width="1440" alt="Screenshot 2020-11-10 at 1 09 24 PM" src="https://user-images.githubusercontent.com/58783823/98644255-3b100f80-2356-11eb-941d-32aead960cbe.png">
<img width="1440" alt="Screenshot 2020-11-10 at 1 09 31 PM" src="https://user-images.githubusercontent.com/58783823/98644274-4105f080-2356-11eb-8c3c-928a811a4df1.png">
<img width="1440" alt="Screenshot 2

[2020-11-10 07:43] SathyaJayabal commented on #4897
verified
<img width="1440" alt="Screenshot 2020-11-10 at 1 13 06 PM" src="https://user-images.githubusercontent.com/58783823/98644503-90e4b780-2356-11eb-93e7-e387798a7968.png">

[2020-11-10 07:50] SathyaJayabal commented on #5157
verified
<img width="1440" alt="Screenshot 2020-11-10 at 1 16 44 PM" src="https://user-images.githubusercontent.com/58783823/98645057-69421f00-2357-11eb-8492-8eb7622e6575.png">
<img width="1440" alt="Screenshot 2020-11-10 at 1 19 12 PM" src="https://user-images.githubusercontent.com/58783823/98645076-6f380000-2357-11eb-918c-2a16141104d3.png">

[2020-11-10 07:53] SathyaJayabal commented on #5125
verified
[clear.mov 2.zip](https://github.com/topcoder-platform/community-app/files/5515642/clear.mov.2.zip)

[2020-11-10 07:55] SathyaJayabal commented on #4212
verified
[download_sub.mov.zip](https://github.com/topcoder-platform/community-app/files/5515647/download_sub.mov.zip)

[2020-11-10 07:56] SathyaJayabal commented on #5107
verified
<img width="1440" alt="Screenshot 2020-11-10 at 1 26 07 PM" src="https://user-images.githubusercontent.com/58783823/98645703-5b40ce00-2358-11eb-9be1-f90d35760f36.png">

[2020-11-10 07:58] SathyaJayabal commented on #5168
verified. for ordered list, numbers should be removed from CMS
<img width="1440" alt="Screenshot 2020-11-10 at 1 27 43 PM" src="https://user-images.githubusercontent.com/58783823/98645926-a65ae100-2358-11eb-8509-eaac6e873648.png">
<img width="1440" alt="Screenshot 2020-11-10 at 1 27 50 PM" src="https://user-images.githubusercontent.com/58783823/98645941-abb82b80-2358-11eb-80bd-cfbca4242b5a.png">

[2020-11-10 08:02] SathyaJayabal commented on #1532
verified on staging
<img width="1440" alt="Screenshot 2020-11-10 at 1 32 00 PM" src="https://user-images.githubusercontent.com/58783823/98646283-2e40eb00-2359-11eb-9a9e-f11558ac3e70.png">
<img width="1440" alt="Screenshot 2020-11-10 at 1 32 09 PM" src="https://user-images.githubusercontent.com/58783823/98646297-339e3580-2359-11eb-96b6-f7d0ba7080f9.png">

[2020-11-10 08:13] SathyaJayabal commented on #4659
verified
<img width="1440" alt="Screenshot 2020-11-10 at 1 42 30 PM" src="https://user-images.githubusercontent.com/58783823/98647242-9a701e80-235a-11eb-8719-555ec4524242.png">

[2020-11-10 09:43] SathyaJayabal commented on #4659
@luizrrodrigues , looks like in prod api call is to
https://api.topcoder.com/v3/members/picachui/traits  and staging is
https://api.topcoder.com/v5/members/picachui/traits

users profile details are not getting displayed on staging
<img width="1440" alt="Screenshot 2020-11-10 at 3 12 33 PM" src="https://user-images.githubusercontent.com/58783823/98656870-32740500-2367-11eb-9adf-0534e53befa6.png">

[2020-11-10 10:42] luizrrodrigues commented on #4659
@SathyaJayabal Here V5 Traits Loading, but data no consistence:
![image](https://user-images.githubusercontent.com/7029641/98663764-42202900-2328-11eb-9503-f675b916a000.png)

[2020-11-10 14:18] SathyaJayabal commented on #5172
verified on prod
[5172_prod.mov.zip](https://github.com/topcoder-platform/community-app/files/5517859/5172_prod.mov.zip)

[2020-11-10 14:18] #5172 closed

[2020-11-10 14:18] SathyaJayabal commented on #5165
verified on prod
<img width="1440" alt="Screenshot 2020-11-10 at 7 47 57 PM" src="https://user-images.githubusercontent.com/58783823/98685698-b3de8e00-238d-11eb-8e50-2dea4d69d7a7.png">

[2020-11-10 14:18] #5165 closed

[2020-11-10 14:21] SathyaJayabal commented on #5132
verified
<img width="1440" alt="Screenshot 2020-11-10 at 7 49 13 PM" src="https://user-images.githubusercontent.com/58783823/98686013-13d53480-238e-11eb-97d1-2fdfd1a8b770.png">

[2020-11-10 14:21] #5132 closed

[2020-11-10 14:26] SathyaJayabal commented on #5082
verified on prod
<img width="1440" alt="Screenshot 2020-11-10 at 7 55 18 PM" src="https://user-images.githubusercontent.com/58783823/98686648-d1602780-238e-11eb-9a60-0639d7d094a2.png">
<img width="1440" alt="Screenshot 2020-11-10 at 7 55 50 PM" src="https://user-images.githubusercontent.com/58783823/98686671-d624db80-238e-11eb-955e-d36af0acac5e.png">
<img width="1440" alt="Screenshot 2020-11-10 at

[2020-11-10 14:26] #5082 closed

[2020-11-10 14:27] SathyaJayabal commented on #4527
verified on prod
<img width="1440" alt="Screenshot 2020-11-10 at 7 55 18 PM" src="https://user-images.githubusercontent.com/58783823/98686708-e2109d80-238e-11eb-8250-ca182dbbf489.png">
<img width="1440" alt="Screenshot 2020-11-10 at 7 55 50 PM" src="https://user-images.githubusercontent.com/58783823/98686729-e89f1500-238e-11eb-842e-dd258c4c80e7.png">
<img width="1440" alt="Screenshot 2020-11-10 at

[2020-11-10 14:27] #4527 closed

[2020-11-10 14:29] SathyaJayabal commented on #4897
verified on prod
<img width="1440" alt="Screenshot 2020-11-10 at 7 58 50 PM" src="https://user-images.githubusercontent.com/58783823/98687004-3ddb2680-238f-11eb-98cb-e15d9503e72a.png">

[2020-11-10 14:29] #4897 closed

[2020-11-10 14:32] SathyaJayabal commented on #5157
verified on prod
<img width="1440" alt="Screenshot 2020-11-10 at 8 00 45 PM" src="https://user-images.githubusercontent.com/58783823/98687277-90b4de00-238f-11eb-86c5-b8e4473570ba.png">
<img width="1440" alt="Screenshot 2020-11-10 at 8 01 07 PM" src="https://user-images.githubusercontent.com/58783823/98687308-99a5af80-238f-11eb-8509-113ee939d204.png">

[2020-11-10 14:32] #5157 closed

[2020-11-10 14:34] SathyaJayabal commented on #5125
verified on prod
[clear review.mov.zip](https://github.com/topcoder-platform/community-app/files/5517961/clear.review.mov.zip)

[2020-11-10 14:34] #5125 closed

[2020-11-10 14:35] luizrrodrigues commented on #5125
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30146187<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-10 14:36] SathyaJayabal commented on #4212
verified on prod
[download sub.mov.zip](https://github.com/topcoder-platform/community-app/files/5517971/download.sub.mov.zip)

[2020-11-10 14:36] #4212 closed

[2020-11-10 14:36] luizrrodrigues commented on #4212
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145869<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-10 14:41] SathyaJayabal commented on #5107
verified on prod
<img width="1440" alt="Screenshot 2020-11-10 at 8 10 45 PM" src="https://user-images.githubusercontent.com/58783823/98688481-e3db6080-2390-11eb-9fcd-c7385a7704a2.png">

[2020-11-10 14:41] luizrrodrigues commented on #5107
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-10 14:43] SathyaJayabal commented on #5168
verified on prod
<img width="1440" alt="Screenshot 2020-11-10 at 8 12 44 PM" src="https://user-images.githubusercontent.com/58783823/98688700-256c0b80-2391-11eb-8d91-2b584d8cec96.png">

[2020-11-10 14:43] luizrrodrigues commented on #5168
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-10 14:46] SathyaJayabal commented on #1532
verified on prod
<img width="1440" alt="Screenshot 2020-11-10 at 8 15 50 PM" src="https://user-images.githubusercontent.com/58783823/98689098-957a9180-2391-11eb-9d1f-60807945386a.png">

[2020-11-10 14:46] luizrrodrigues commented on #1532
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-10 15:26] #1532 closed

[2020-11-10 15:26] luizrrodrigues commented on #1532
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145867<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-10 15:27] #5168 closed

[2020-11-10 15:27] luizrrodrigues commented on #5168
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149549<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-10 15:27] #5107 closed

[2020-11-10 15:27] luizrrodrigues commented on #5107
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149875<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-10 15:36] rootelement commented on #5026
The API fix is deployed in prod. Please change API queries where you're searching:
from: `?name=<search input>`
to: `?search=<search input>`

That will search across title, tags, and description.

[2020-11-10 15:36] rootelement commented on #5026
@sushilshinde ^

[2020-11-10 18:15] Oanh-and-only-Oanh commented on #5026
@luizrrodrigues ^

[2020-11-10 23:04] skyhit commented on #4659
@luizrrodrigues @SathyaJayabal so we should adapt for V5 API? and does V5 API support this?

[2020-11-11 04:56] SathyaJayabal commented on #4659
@skyhit , yes. @luizrrodrigues this may need api updates too? Looks like data returned by the v3 and v5 apis for the same user is different. @skyhit you will need to coordinate with @urwithat for api  related updates.

[2020-11-11 11:47] luizrrodrigues commented on #4130
@Oanh-and-only-Oanh Like discuss in Slack, after a deeper check, this issue coming from `/v3/members/wleite/stats` API, returned data pointing latest event in March, but in `/v3/members/wleite/stats/history`

`/stats`: https://api.topcoder.com/v3/members/wleite/stats
![image](https://user-images.githubusercontent.com/7029641/98807292-2fc1f000-23f9-11eb-8320-024996327ff6.png)

`/history`: https://a

[2020-11-11 16:33] Oanh-and-only-Oanh opened #5188 "[$50] Unable to load profiles of members with usernames with a space"
There are certain handles with spaces like `John Dethridge` - I am unable to load their profile.
User id: 270505

There are several other like this  -- Like `Mike Mirzayanov`

[2020-11-12 00:02] rootelement commented on #5041
@Oanh-and-only-Oanh i thought this went out with the last release. This not being in prod will prevent us from using new forums on things launched out of Work Manager.

@sushilshinde can this functionality go out first thing your daytime?

cc: @mtwomey

[2020-11-12 03:39] SathyaJayabal commented on #5041
@rootelement @luizrrodrigues , able to see the forums link on  details page even without logging in or registering  to the challenge
<img width="1440" alt="Screenshot 2020-11-12 at 8 56 09 AM" src="https://user-images.githubusercontent.com/58783823/98892660-cb6d6200-24c6-11eb-8d3a-6d04d813ac04.png">

[2020-11-12 04:08] SathyaJayabal commented on #5041
@rootelement @luizrrodrigues , while testing on prod backend,
1. created a challenge through WM
https://staging-community-app.topcoder.com/challenges/e4c77f3b-fd3c-4591-bad5-03b17b527d55

2. Do not see the new forums link on details page because the vanilla forum url is missing in  the discussions object

<img width="1440" alt="Screenshot 2020-11-12 at 9 29 21 AM" src="https://user-images.githubus

[2020-11-12 05:15] SathyaJayabal commented on #5041
@luizrrodrigues @Oanh-and-only-Oanh
Admin user and registered user able to view "Challenge Discussion" link and link opens new vanilla forums in new tab. As expected

<img width="1440" alt="Screenshot 2020-11-12 at 10 34 47 AM" src="https://user-images.githubusercontent.com/58783823/98898248-29a04200-24d3-11eb-9ffb-4deaacbc6bd3.png">
[forums.mov.zip](https://github.com/topcoder-platform/community-

[2020-11-12 05:17] SathyaJayabal commented on #5169
verified on dev(develop branch)
[forums.mov.zip](https://github.com/topcoder-platform/community-app/files/5528411/forums.mov.zip)

[2020-11-12 06:39] harshitmehta15 commented on #5188
Thanks @Oanh-and-only-Oanh

[2020-11-12 14:16] #5041 closed

[2020-11-12 14:17] #5169 closed

[2020-11-12 17:49] rootelement commented on #5188
FYI this works:
[code]

response:
[code]

So the problem may be if the frontend is using v3? Not sure.

[2020-11-12 18:35] luizrrodrigues commented on #5188
Contest https://www.topcoder.com/challenges/30150842 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-12 18:36] luizrrodrigues commented on #5188
Contest https://www.topcoder.com/challenges/30150842 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-12 19:17] luizrrodrigues commented on #5188
@SathyaJayabal Ready For QA in Stag env.
https://staging-community-app.topcoder.com/members/John%20Dethridge

cc @Oanh-and-only-Oanh

[2020-11-13 03:12] SathyaJayabal commented on #5188
@luizrrodrigues , verified
<img width="1440" alt="Screenshot 2020-11-13 at 8 41 04 AM" src="https://user-images.githubusercontent.com/58783823/99024207-14d3b500-258c-11eb-97dc-095e8e988ba8.png">
<img width="1440" alt="Screenshot 2020-11-13 at 8 41 18 AM" src="https://user-images.githubusercontent.com/58783823/99024219-1ac99600-258c-11eb-8ca5-8bca5a54d04f.png">

[2020-11-16 10:59] kkartunov commented on #5174
@SathyaJayabal, please check

[2020-11-16 19:11] Oanh-and-only-Oanh commented on #4659
@urwithat @skyhit, what's the status on this?

[2020-11-16 19:23] luizrrodrigues commented on #4659
@skyhit I think we need just v3 to `traits` for now, like existing in Prod.

[2020-11-17 01:54] ThomasKranitsas opened #5193 "[$50] Challenge prizes are showing wrong"
**Describe the bug**
The community app is reading the prizes wrongly from the v5 API response. It's reading the first entry in the `prizeSets` array when it should find the one where the `type` is equal to `placement`

**Expected behavior**
The community app should find the correct prize set based on the `type` property.

**Screenshots**
<img width="1708" alt="Screenshot 2020-11-17 at 3 07 07 AM"

[2020-11-17 06:23] sdgun opened #5194 "[Forum]Forum link is missing in challenge details page in Dev/QA"
**Describe the bug**
Forum link is missing in challenge details page in Dev/QA

**To Reproduce**
Steps to reproduce the behavior:
1. Create a challenge from connect
2. View the challenge details page by logging in as the copilot of the challenge or by registering as a normal user

**Expected behavior**
No forum link available on the page now

**Screenshots**
![image](https://user-images.githubuser

[2020-11-17 06:42] #5194 closed

[2020-11-17 07:27] SathyaJayabal commented on #5193
cc @luizrrodrigues @Oanh-and-only-Oanh

[2020-11-17 07:27] SathyaJayabal opened #5195 "Alignment issue on navigation more menu"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-11-17 07:32] SathyaJayabal commented on #5193
@ThomasKranitsas , prizes seem good now
<img width="1440" alt="Screenshot 2020-11-17 at 1 01 53 PM" src="https://user-images.githubusercontent.com/58783823/99359443-16c3ae00-28d5-11eb-8faa-a6fd3cffb96a.png">

[2020-11-17 09:53] luizrrodrigues commented on #5046
@gets0ul Can change this to run single call?

[2020-11-17 10:46] kkartunov opened #5196 "Skills auto-suggest for gig work application is not working"
Should filter the skills when the user types some letters.
![Screenshot from 2020-11-17 12-44-40](https://user-images.githubusercontent.com/5585002/99380623-e3801f80-28d2-11eb-91ed-b01d29d5dc4b.png)

[2020-11-17 10:55] kkartunov opened #5197 "Blank page and error on reviewOpportunities page after 10min inactivity"
1. Visit https://www.topcoder.com/challenges?bucket=reviewOpportunities with logged user
2. After some time (~10-15min) blank screen appears and there are errors in the console.

![Screenshot from 2020-11-17 12-51-36](https://user-images.githubusercontent.com/5585002/99381471-de6fa000-28d3-11eb-980f-aa8b8a8e9634.png)

[2020-11-17 11:34] gets0ul commented on #5046
@luizrrodrigues For member count that would require change in group service. When a member is belong to many groups/communities, it will send request to `https://api.topcoder-dev.com/v5/groups/:groupId/membersCount` for each group, like what we saw in the screenshot.

For number of challenges, should be all active challenges for that group or only challenges that open for registration?

[2020-11-17 14:28] rootelement commented on #5193
It seems random. I've refreshed a couple times, and it goes back and forth. Not sure why.

[2020-11-17 15:28] ThomasKranitsas commented on #5193
This should be fixed regardless. The `prizeSets` array may contain multiple objects and the frontend can’t just pick the first one blindly assuming it's going to be the placement prizes.

[2020-11-17 15:51] luizrrodrigues commented on #5193
@ThomasKranitsas Yep, agree. I'll as frontend getting the prize.

[2020-11-17 17:29] Oanh-and-only-Oanh commented on #5193
I added prize amount. @luizrrodrigues you can decide how you want to get it fixed.

[2020-11-18 04:00] jmgasper opened #5198 "[$100] Request mapping / documentation"
@dhruvit-r - We're going to be doing some work in the community app to integrate functionality from the submission review UI:

* Deployed:  https://submission-review.topcoder-dev.com/
* Git: https://github.com/topcoder-platform/submission-review-ui

You can see the proposed designs here:

* https://marvelapp.com/prototype/7eighcb

What I'd like to do is get some documentation built that:

* Lists

[2020-11-18 04:00] luizrrodrigues commented on #5198
Contest https://www.topcoder.com/challenges/30151833 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-18 04:02] luizrrodrigues commented on #5198
Contest https://www.topcoder.com/challenges/30151833 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-18 09:08] kkartunov opened #5199 "Gig application fails for many skills"
Due limitation in recruit API application fails when the user selects many skills.
Expected: application to succeed
![Screenshot from 2020-11-18 11-04-21](https://user-images.githubusercontent.com/5585002/99509356-57cbc900-298e-11eb-8005-87f5bf4717fa.png)
![Screenshot from 2020-11-18 11-06-24](https://user-images.githubusercontent.com/5585002/99509370-5ac6b980-298e-11eb-9055-5234b9ac55b8.png)

[2020-11-19 02:05] jmgasper opened #5201 "Submission Review link"
@luizrrodrigues - As part of the submission review changes, we'd like to just add a link to the community app when a user is signed in:

![Screen_Shot_2020-11-19_at_13_03_40](https://user-images.githubusercontent.com/21790/99611386-b3b65080-2a67-11eb-8f07-f8e5d9c18b74.png)

The link would go to the challenge in the submission-review app, like:

https://submission-review.topcoder-dev.com/challenges

[2020-11-19 02:19] luizrrodrigues commented on #5201
@jmgasper This will show after member register and submit to challenge?

[2020-11-19 02:20] Oanh-and-only-Oanh commented on #5201
Correct

On Wed, Nov 18, 2020 at 6:19 PM Luiz Ricardo Rodrigues <
notifications@github.com> wrote:

--

<https://www.topcoder.com/>

*Oanh Tran*

Product Manager, Community App

732-353-9457

www.topcoder.com  | @topcoder <http://twitter.com/topcoder>

[2020-11-19 07:50] SathyaJayabal opened #5202 "My Dashboard : Displaying a blank page when token is expired"
1. Go to My Dashoard page after the token is expired
https://www.topcoder.com/my-dashboard

Expected: user must be redirected to login page
Actual: Blank page is displayed.
<img width="1440" alt="Screenshot 2020-11-19 at 1 18 31 PM" src="https://user-images.githubusercontent.com/58783823/99636792-ee20ed00-2a69-11eb-8134-3726eb1ea6f2.png">

[2020-11-19 07:53] sachin-maheshwari commented on #5202
@SathyaJayabal  How to reproduce this ?

[2020-11-19 08:14] SathyaJayabal commented on #5202
@sachin-maheshwari , you can wait for the token to expire or, open a new incognito/private window and directly access the dashboard link
https://www.topcoder.com/my-dashboard

[2020-11-19 08:18] sachin-maheshwari commented on #5202
I tried, initially blank screen, but get auto login and got screen correctly.
<img width="1680" alt="Screenshot 2020-11-19 at 1 47 00 PM" src="https://user-images.githubusercontent.com/6467888/99639567-c764b580-2a6d-11eb-9946-890caead4b0b.png">

[2020-11-19 10:19] sachin-maheshwari commented on #5202
@luizrrodrigues Please catch the error or check blank token before decoding. Earlier v3Token was very long expiry.
<img width="1070" alt="Screenshot 2020-11-19 at 3 43 49 PM" src="https://user-images.githubusercontent.com/6467888/99653005-8628d180-2a7e-11eb-938b-ea7878be65c1.png">
<img width="1405" alt="Screenshot 2020-11-19 at 3 44 09 PM" src="https://user-images.githubusercontent.com/6467888/996

[2020-11-19 15:21] luizrrodrigues commented on #5046
@gets0ul

1) Let me check about this first;

2) All active challenges

[2020-11-19 22:12] luizrrodrigues commented on #5193
Contest https://www.topcoder.com/challenges/30152317 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-19 22:13] luizrrodrigues commented on #5193
Contest https://www.topcoder.com/challenges/30152317 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-19 22:35] luizrrodrigues commented on #5193
@SathyaJayabal Deployed in Stag env `tcx-202011` branch.

[2020-11-20 03:18] luizrrodrigues commented on #5201
@SathyaJayabal Deployed in Dev env.

cc @jmgasper @Oanh-and-only-Oanh

[2020-11-20 03:19] jmgasper commented on #5201
Thanks!

[2020-11-20 04:23] SathyaJayabal commented on #5193
Verified.
<img width="1440" alt="Screenshot 2020-11-20 at 9 49 50 AM" src="https://user-images.githubusercontent.com/58783823/99757810-2ed64000-2b16-11eb-997d-36db1fc9e6a0.png">

note: @luizrrodrigues , i was not able to reproduce the issue on production too, even after refreshing the challenge details links for many times.
Example links
https://www.topcoder.com/challenges/1df9351c-d027-4a0b-8793-

[2020-11-20 04:55] SathyaJayabal commented on #5201
@luizrrodrigues , can you please deploy this on staging.

[2020-11-20 05:37] SathyaJayabal commented on #5201
@luizrrodrigues ,
1. the staging link goes to dev.
<img width="1438" alt="Screenshot 2020-11-20 at 10 58 17 AM" src="https://user-images.githubusercontent.com/58783823/99762811-58479980-2b1f-11eb-9efc-82729693db7d.png">
2. @Oanh-and-only-Oanh Do we need the submission review link for design and marathon matches. Design contests have their own submission management page.
<img width="1434" alt="Scre

[2020-11-20 06:39] luizrrodrigues commented on #5201
@SathyaJayabal
1) Fixed
2) Waiting for confirmation.

[2020-11-22 20:20] jmgasper commented on #5198
@dhruvit-r - Just checking in here, thanks!

[2020-11-23 05:11] SathyaJayabal commented on #5201
@luizrrodrigues , verified 1

[2020-11-23 05:20] Oanh-and-only-Oanh commented on #5201
Yes, this will apply to all tracks including design.

[2020-11-23 06:27] Oanh-and-only-Oanh commented on #5201
Let's replace the Current MM "my submission" tab with the new link.

[2020-11-23 06:33] SathyaJayabal commented on #5201
@Oanh-and-only-Oanh , the my submission tab gives more details about the submission's provision score, final score, status and download option which is not present in the submission review app. Please see both pages below.
<img width="1440" alt="Screenshot 2020-11-23 at 12 00 42 PM" src="https://user-images.githubusercontent.com/58783823/99934335-be345b00-2d83-11eb-8994-0c4711bdfbe0.png">

<img wi

[2020-11-23 06:49] SathyaJayabal commented on #5201
@Oanh-and-only-Oanh , this is the page on clicking the submission link. It does have
<img width="1440" alt="Screenshot 2020-11-23 at 12 17 38 PM" src="https://user-images.githubusercontent.com/58783823/99935151-08b6d700-2d86-11eb-8ba4-ecea78ef1c55.png">

[2020-11-24 03:46] luizrrodrigues opened #5206 "Fix "undefined" in challenge Title when shared in Facebook"
![image](https://user-images.githubusercontent.com/7029641/100044692-89a9b900-2dee-11eb-9508-2fe30aa1581f.png)

[2020-11-24 03:55] SathyaJayabal commented on #5201
@luizrrodrigues , we are having both the links for MM.

[2020-11-24 03:56] luizrrodrigues commented on #5016
@SathyaJayabal Ready in Stag env.

[2020-11-24 03:57] luizrrodrigues commented on #4544
@SathyaJayabal Ready in Stag env.

Sheet to ref.: https://docs.google.com/spreadsheets/d/1cXHdGbzbmP1ZqigosVsqF5nJr3CeIxAuvXLqHbAPDaA/edit#gid=596837481

[2020-11-24 04:12] SathyaJayabal commented on #5016
verified for challenge listings page, challenge details page, member profile page, gigs page, profile settings page and thrive page
<img width="1440" alt="Screenshot 2020-11-24 at 9 38 08 AM" src="https://user-images.githubusercontent.com/58783823/100047706-2133f980-2e39-11eb-8aa5-1c91d7ba3848.png">

[2020-11-24 04:18] SathyaJayabal commented on #4544
verified
Profile page
<img width="1440" alt="Screenshot 2020-11-24 at 9 44 38 AM" src="https://user-images.githubusercontent.com/58783823/100048086-fd24e800-2e39-11eb-9376-11906fb9f6eb.png">
Challenge Listings
<img width="1440" alt="Screenshot 2020-11-24 at 9 46 14 AM" src="https://user-images.githubusercontent.com/58783823/100048101-0615b980-2e3a-11eb-8fcf-b0ee64665ea7.png">
<img width="1440" alt

[2020-11-24 04:47] luizrrodrigues commented on #5206
@SathyaJayabal Deploying.

Tool to check: https://developers.facebook.com/tools/debug/

Expected:
Challenge with prize:

Challenge without prize:

[2020-11-24 06:54] SathyaJayabal commented on #5206
verified
<img width="988" alt="Screenshot 2020-11-24 at 12 23 11 PM" src="https://user-images.githubusercontent.com/58783823/100058783-f2754d80-2e4f-11eb-8ea6-9ef1ca5dda81.png">
<img width="993" alt="Screenshot 2020-11-24 at 12 23 42 PM" src="https://user-images.githubusercontent.com/58783823/100058786-f4d7a780-2e4f-11eb-900b-828ac1ce4b23.png">

[2020-11-24 11:01] SathyaJayabal commented on #5174
verified on staging (develop)
<img width="1439" alt="Screenshot 2020-11-24 at 4 28 33 PM" src="https://user-images.githubusercontent.com/58783823/100085790-7ccea900-2e72-11eb-9ab6-9ed30d60d777.png">
<img width="1386" alt="Screenshot 2020-11-24 at 4 29 05 PM" src="https://user-images.githubusercontent.com/58783823/100085797-80623000-2e72-11eb-9d64-5acd08c4a053.png">

[2020-11-24 11:06] SathyaJayabal commented on #5193
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-11-24 at 4 35 39 PM" src="https://user-images.githubusercontent.com/58783823/100086256-2f067080-2e73-11eb-85ea-5c349f58e4f5.png">
<img width="1440" alt="Screenshot 2020-11-24 at 4 35 58 PM" src="https://user-images.githubusercontent.com/58783823/100086273-3463bb00-2e73-11eb-82ce-a80d45697938.png">

[2020-11-24 11:09] SathyaJayabal commented on #5016
verified on staging(develop)
<img width="1440" alt="Screenshot 2020-11-24 at 4 37 25 PM" src="https://user-images.githubusercontent.com/58783823/100086497-83a9eb80-2e73-11eb-9506-836488fc8538.png">

[2020-11-24 11:21] SathyaJayabal commented on #5201
verified on staging(develop) for design,dev,qa and data science (marathon match) challenges
<img width="1440" alt="Screenshot 2020-11-24 at 4 49 17 PM" src="https://user-images.githubusercontent.com/58783823/100087778-36c71480-2e75-11eb-92c0-dc2127a37ef8.png">
<img width="1440" alt="Screenshot 2020-11-24 at 4 49 31 PM" src="https://user-images.githubusercontent.com/58783823/100087791-3c245f00-2e75

[2020-11-24 11:25] SathyaJayabal commented on #4544
verified on staging (develop)

Challenge details
<img width="1440" alt="Screenshot 2020-11-24 at 4 51 43 PM" src="https://user-images.githubusercontent.com/58783823/100087975-7f7ecd80-2e75-11eb-8b97-14c132f8799c.png">
<img width="1440" alt="Screenshot 2020-11-24 at 4 52 30 PM" src="https://user-images.githubusercontent.com/58783823/100087997-8574ae80-2e75-11eb-996a-9e4fb9a84506.png">

Challenge li

[2020-11-24 11:27] SathyaJayabal commented on #5206
verified on staging (develop)
<img width="993" alt="Screenshot 2020-11-24 at 4 56 34 PM" src="https://user-images.githubusercontent.com/58783823/100088444-1c416b00-2e76-11eb-99be-b2be01818099.png">
<img width="986" alt="Screenshot 2020-11-24 at 4 57 01 PM" src="https://user-images.githubusercontent.com/58783823/100088448-1ea3c500-2e76-11eb-8bb2-9c341ffa1b01.png">

[2020-11-24 14:12] SathyaJayabal commented on #5174
verified on prod
<img width="1440" alt="Screenshot 2020-11-24 at 7 41 24 PM" src="https://user-images.githubusercontent.com/58783823/100105201-17d47c80-2e8d-11eb-9ef2-0af91fb7f3fd.png">
<img width="1440" alt="Screenshot 2020-11-24 at 7 41 33 PM" src="https://user-images.githubusercontent.com/58783823/100105220-1c993080-2e8d-11eb-9501-977f7cac1e19.png">

[2020-11-24 14:12] #5174 closed

[2020-11-24 14:14] SathyaJayabal commented on #5188
<img width="1440" alt="Screenshot 2020-11-24 at 7 43 03 PM" src="https://user-images.githubusercontent.com/58783823/100105421-58cc9100-2e8d-11eb-845d-ea1c55d29b7b.png">
<img width="1440" alt="Screenshot 2020-11-24 at 7 43 26 PM" src="https://user-images.githubusercontent.com/58783823/100105430-5e29db80-2e8d-11eb-91db-8d1fceeb5c46.png">

[2020-11-24 14:14] luizrrodrigues commented on #5188
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-24 14:15] SathyaJayabal commented on #5193
<img width="1440" alt="Screenshot 2020-11-24 at 7 44 30 PM" src="https://user-images.githubusercontent.com/58783823/100105551-81548b00-2e8d-11eb-98d3-58918176a3b6.png">
<img width="1440" alt="Screenshot 2020-11-24 at 7 44 33 PM" src="https://user-images.githubusercontent.com/58783823/100105576-87e30280-2e8d-11eb-80c2-4a976ffd3e42.png">

[2020-11-24 14:15] luizrrodrigues commented on #5193
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-24 14:17] #5188 closed

[2020-11-24 14:18] luizrrodrigues commented on #5188
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150842<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-24 14:18] #5193 closed

[2020-11-24 14:18] luizrrodrigues commented on #5193
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30152317<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-11-24 14:19] SathyaJayabal commented on #5201
verified on prod
<img width="1440" alt="Screenshot 2020-11-24 at 7 47 29 PM" src="https://user-images.githubusercontent.com/58783823/100106057-135c9380-2e8e-11eb-93f6-d9a5d9c49c55.png">

[2020-11-24 14:19] #5201 closed

[2020-11-24 14:23] SathyaJayabal commented on #5206
@luizrrodrigues , challenge details page title is displayed instead of challenge name
<img width="985" alt="Screenshot 2020-11-24 at 7 50 28 PM" src="https://user-images.githubusercontent.com/58783823/100106594-be6d4d00-2e8e-11eb-9cfa-865d5f0fae97.png">
<img width="994" alt="Screenshot 2020-11-24 at 7 53 28 PM" src="https://user-images.githubusercontent.com/58783823/100106602-c3320100-2e8e-11eb-95

[2020-11-24 14:24] #5206 closed

[2020-11-24 14:26] SathyaJayabal commented on #5016
verified on prod
<img width="1440" alt="Screenshot 2020-11-24 at 7 55 57 PM" src="https://user-images.githubusercontent.com/58783823/100106938-2328a780-2e8f-11eb-91f2-4db9b2526794.png">

[2020-11-24 14:26] #5016 closed

[2020-11-24 14:30] SathyaJayabal commented on #4544
verified on prod

challenge details
<img width="1440" alt="Screenshot 2020-11-24 at 7 57 10 PM" src="https://user-images.githubusercontent.com/58783823/100107130-5408dc80-2e8f-11eb-90aa-571dc24cabd2.png">
<img width="1440" alt="Screenshot 2020-11-24 at 7 57 26 PM" src="https://user-images.githubusercontent.com/58783823/100107155-5bc88100-2e8f-11eb-901a-15dccd839a07.png">

challenge listings
<img w

[2020-11-24 14:30] #4544 closed

[2020-11-24 14:50] kkartunov opened #5214 "Viewport with animation on scroll throws error when resized"
As per the title above.
Testing https://community-app.topcoder.com/examples/contentful/viewport/ZSLKiIGgYqmYg2WBuiNit
Everything works and observe animations are displayed until the browser is resized.

[2020-11-24 18:17] urwithat commented on #4659
@skyhit - Use the member v5 microservices.
@SathyaJayabal - The traits data stored for your member seem to have an issue, have you done any manual changes in any data store or executed any create / update member curl query.
I've synced your member's data, its working now. Please check and close this issue.

[2020-11-24 23:44] luizrrodrigues commented on #5202
@sachin-maheshwari I'll check this one shortly.

[2020-11-25 05:08] sachin-maheshwari commented on #5202
@luizrrodrigues thanks! also I changed in some refresh token logic. so please use this latest "auth lib" tag 1.0.3 - https://github.com/topcoder-platform/tc-auth-lib/releases/tag/1.0.3

[2020-11-25 05:17] SathyaJayabal commented on #4659
@urwithat , I did not do anything to my data other than updation through the community app. @luizrrodrigues also had the same issues. Is it possible to check for some other users too.

[2020-11-25 05:25] urwithat commented on #4659
@SathyaJayabal - Have checked for a couple of other members, seems to be fine. Let me know if you find any other members with such an issue.

[2020-11-25 05:27] SathyaJayabal commented on #4659
@luizrrodrigues , let deploy this and test, better to use staging.

[2020-11-25 09:12] luizrrodrigues commented on #4659
@SathyaJayabal @urwithat Deployed to Stag env.

![image](https://user-images.githubusercontent.com/7029641/100206447-1a62c080-2ee5-11eb-99df-a47013ce7579.png)

[2020-11-25 09:58] SathyaJayabal commented on #4659
@luizrrodrigues @skyhit , i don't see an error for the traits api call now. But my profile info for basic details is not getting populated. Maybe because the data format is diff between v3 and v5.
<img width="1437" alt="Screenshot 2020-11-25 at 3 24 24 PM" src="https://user-images.githubusercontent.com/58783823/100211957-c8e12280-2f32-11eb-8666-f4f0e8123334.png">

[2020-11-25 10:09] luizrrodrigues commented on #4659
@SathyaJayabal Is same issue in screen above, v5 missing some data.

[2020-11-26 01:34] luizrrodrigues commented on #4659
@urwithat @skyhit Any update on this one? Please let me know if I can use Stag env. (I need to deploy a hotfix to QA)

[2020-11-26 09:02] maxceem opened #5215 "Don't show notifications which are caused by my own actions"
**Is your feature request related to a problem? Please describe.**
When I edit challenge specification in [Work Manager](https://challenges.topcoder.com/) I get a notification in Community App each time I save challenge specification. I already know that I modified the challenge specification so these notifications don't bring new information for me, but they make it harder to notice valuable noti

[2020-11-28 09:50] maxceem opened #5216 "Copilot lost access to the "Challenge Discussion" (Vanilla)"
**Describe the bug**
As a copilot, I lost access to the challenge forum if I register for my own challenge as a submitter, and after unregister.

**To Reproduce**
Steps to reproduce the behavior:
1. Being a Topcoder copilot run a new challenge using Work Manager.
2. Make sure, that you have access to the **Challenge Discussion** (Vanilla forum)
3. On the challenge details page click **Register**.

[2020-11-29 11:27] ThomasKranitsas commented on #5069
Can you please test this on the dev environment? It should have been fixed

[2020-11-29 11:44] ThomasKranitsas commented on #4982
This has been fixed in dev. You can now sort based on the prizes using http://api.topcoder-dev.com/v5/challenges?sortBy=overview.totalPrizes

[2020-11-30 03:43] luizrrodrigues commented on #5202
@SathyaJayabal Deployed to Stag env.

cc @sachin-maheshwari

[2020-11-30 04:16] SathyaJayabal commented on #5202
@luizrrodrigues verified
[dashboard.mov.zip](https://github.com/topcoder-platform/community-app/files/5613784/dashboard.mov.zip)

[2020-11-30 07:41] kkartunov opened #5218 "Spirit award winners for Hall of Fame"
Add space for the spirit award on the hall of fame pages https://www.topcoder.com/community/hall-of-fame/tco
Design: https://marvelapp.com/prototype/21aficcg/screen/66396378
Test URL: /community/hall-of-fame/tco/19

[2020-11-30 09:46] SathyaJayabal commented on #5218
verified @kkartunov
<img width="1440" alt="Screenshot 2020-11-30 at 3 15 44 PM" src="https://user-images.githubusercontent.com/58783823/100593873-f6f1a880-331e-11eb-9b16-44ef146dc391.png">

[2020-11-30 10:40] SathyaJayabal commented on #5214
@kkartunov verified
[viewport.mov.zip](https://github.com/topcoder-platform/community-app/files/5615426/viewport.mov.zip)

[2020-11-30 14:18] rootelement commented on #4850
@SathyaJayabal is this still happening?

[2020-11-30 17:14] #5075 closed

[2020-11-30 17:14] #4940 closed

[2020-12-01 03:37] SathyaJayabal commented on #4850
@rootelement , for the above two challenges the winners data is still wrong.
@m-yadav , did you find any more example of this happening?

[2020-12-01 07:10] luizrrodrigues opened #5219 "SEO - Show challenge name title in Social og:title"
Format:
```[$100/$50] Challenge name```

[2020-12-01 07:18] drasticdpk opened #5220 "[$100] FIX Challenge Listing Issue - Community App"
**Task Details**
We have created Test case for Smoke Test (Build verification ).
https://docs.google.com/spreadsheets/d/1qFJgu1u0SXKAHKQEUlpKgttQ5rueFpQ5nYqiLM1lMSA/edit#gid=934379311

Now you have to fix the code those test case fail and update the automation script.

Working branch : community-app-tests-poc
Target Env : Develop

Reference Test case Result : https://snipboard.io/Dj2M1n.jpg

[2020-12-01 08:10] drasticdpk commented on #5220
@SathyaJayabal ,
For Test case TC_003, can  you please confirm it. why footer is missing on dev env ?

**Reference**
https://www.topcoder.com/search/members?q=test1234
https://www.topcoder-dev.com/search/members?q=test1234
![image](https://user-images.githubusercontent.com/25297859/100713470-70030580-33dc-11eb-8f54-410745844870.png)

@nursoltan-s , please ask here if you have any confusion before

[2020-12-01 08:13] drasticdpk opened #5223 "[$30]Challenge -listing page Test case verification."
Verify given test case and update the finding if any test case fail at automation script.
https://docs.google.com/spreadsheets/d/1qFJgu1u0SXKAHKQEUlpKgttQ5rueFpQ5nYqiLM1lMSA/edit#gid=934379311

[2020-12-01 08:14] luizrrodrigues commented on #5223
Contest https://www.topcoder.com/challenges/30154996 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-01 08:14] luizrrodrigues commented on #5223
Contest https://www.topcoder.com/challenges/30154996 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-01 08:18] luizrrodrigues commented on #5223
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-01 08:23] SathyaJayabal commented on #5220
@luizrrodrigues , seems like the search results is loading the legacy page in dev env.  any quick fix?

[2020-12-01 08:58] luizrrodrigues commented on #5220
@SathyaJayabal checking.

[2020-12-01 09:17] #5223 closed

[2020-12-01 09:18] luizrrodrigues commented on #5223
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154996<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-01 09:27] luizrrodrigues commented on #5220
@drasticdpk Looks like latest push fail to deploy in Dev env:
https://app.circleci.com/pipelines/github/topcoder-platform/community-app?branch=develop-test-poc-merge

cc @SathyaJayabal

[2020-12-01 09:44] SathyaJayabal commented on #5218
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-12-01 at 3 13 50 PM" src="https://user-images.githubusercontent.com/58783823/100723526-e0fbea80-33e7-11eb-9bc2-3366b3af58a1.png">

[2020-12-01 09:48] SathyaJayabal commented on #5214
verified on staging(develop)
[viewport.mov 2.zip](https://github.com/topcoder-platform/community-app/files/5621644/viewport.mov.2.zip)

[2020-12-01 09:53] SathyaJayabal commented on #5202
verified on staging(develop)
[dashboard.mov 2.zip](https://github.com/topcoder-platform/community-app/files/5621665/dashboard.mov.2.zip)

[2020-12-01 11:04] kkartunov commented on #5196
@SathyaJayabal please note that we move the search field on the top of the suggestion dropdown not as it was on the bottom.

[2020-12-01 11:49] SathyaJayabal commented on #5218
verified
<img width="1440" alt="Screenshot 2020-12-01 at 5 19 08 PM" src="https://user-images.githubusercontent.com/58783823/100736869-6045ea00-33f9-11eb-9c9a-4abe5e31083e.png">

[2020-12-01 11:49] #5218 closed

[2020-12-01 11:51] SathyaJayabal commented on #5214
verified on prod
[viewport.mov 3.zip](https://github.com/topcoder-platform/community-app/files/5622363/viewport.mov.3.zip)

[2020-12-01 11:51] #5214 closed

[2020-12-01 11:54] SathyaJayabal commented on #5202
verified on prod
<img width="1440" alt="Screenshot 2020-12-01 at 5 23 34 PM" src="https://user-images.githubusercontent.com/58783823/100737288-f7ab3d00-33f9-11eb-90a0-d9b90ab6dec7.png">

[2020-12-01 11:54] #5202 closed

[2020-12-01 13:30] SathyaJayabal commented on #5199
@kkartunov, validation error message displayed for the above scenario.
<img width="1440" alt="Screenshot 2020-12-01 at 6 58 27 PM" src="https://user-images.githubusercontent.com/58783823/100746988-75c21080-3407-11eb-96aa-f8c291d6d3da.png">

[2020-12-01 13:36] SathyaJayabal commented on #5196
@kkartunov verified
<img width="1440" alt="Screenshot 2020-12-01 at 7 03 38 PM" src="https://user-images.githubusercontent.com/58783823/100747601-49f35a80-3408-11eb-9744-3547663f7cb1.png">
<img width="1440" alt="Screenshot 2020-12-01 at 7 05 53 PM" src="https://user-images.githubusercontent.com/58783823/100747626-4f50a500-3408-11eb-8b45-acd063e7ea51.png">

[2020-12-01 17:46] drasticdpk commented on #5220
@luizrrodrigues ,
FYI for automation we are using  **develop-test-poc-merge** & **community-app-tests-poc** branch.
This branch are copied from dev branch itself.
So can you please confirm this issue exist on develop branch or not ?

[2020-12-02 02:23] luizrrodrigues commented on #5220
@drasticdpk This not happening in `develop` branch.

Deploying `develop` to Dev env.

[2020-12-02 03:42] drasticdpk commented on #5220
@luizrrodrigues develop branch with dev env having same issue . Please confirm @sushilshinde @SathyaJayabal
![image](https://user-images.githubusercontent.com/25297859/100825584-7b0f7180-3480-11eb-8316-95aa261908ae.png)

@nursoltan-s  please let us know for anything.

[2020-12-02 03:59] luizrrodrigues commented on #5220
@drasticdpk I see, looks like this related with env issue / config.

if access with `www.` load old app and if access with `community-app.` load right.

https://www.topcoder-dev.com/search/members/?q=luizrrodrigues
https://community-app.topcoder-dev.com/search/members/?q=luizrrodrigues

@sushilshinde thoughts?

[2020-12-02 04:10] drasticdpk commented on #5220
@sushilshinde  please confirm.

[2020-12-02 04:56] SathyaJayabal commented on #4969
@Oanh-and-only-Oanh , this is fixed now.
[topgear logout.mov.zip](https://github.com/topcoder-platform/community-app/files/5627047/topgear.logout.mov.zip)

[2020-12-02 04:56] #4969 closed

[2020-12-02 11:57] sandhiyakavi opened #5226 "SubCommunities not displayed in Dashboard page"
Description:

Communities were not displayed under the My Communities tab of Dashboard page.

Account used: TonyJ

![image](https://user-images.githubusercontent.com/55895538/100869825-f43eb100-34e0-11eb-9cef-85c3f99f8bd7.png)

[2020-12-02 12:06] sandhiyakavi opened #5227 "Only public communities displayed in the Subcommunities Filter of Challenge listings page."
Description:
Only public communities displayed in the Subcommunities Filter of Challenge listings page.

Account used: TonyJ

![image](https://user-images.githubusercontent.com/55895538/100870523-197fef00-34e2-11eb-9069-5cf6e1590415.png)

[2020-12-02 12:10] sandhiyakavi commented on #5227
cc: @lakshmiathreya

[2020-12-02 12:13] sandhiyakavi opened #5228 "Enable/Disable communities in Settings page doesn't affect the members group."
Description:
Enable/Disable communities in Settings page doesn't affect the members group.

![image](https://user-images.githubusercontent.com/55895538/100871104-0de0f800-34e3-11eb-9375-5e331152d63c.png)

cc: @lakshmiathreya

[2020-12-02 12:14] sandhiyakavi commented on #5226
cc: @lakshmiathreya

[2020-12-02 12:18] nursoltan-s commented on #5220
![Screenshot (5)](https://user-images.githubusercontent.com/7783676/100871628-88a61500-34db-11eb-966a-5876666a04c9.png)

In "dev" environment, when we change community type, getting this api error.

[2020-12-02 13:27] kkartunov opened #5229 "Hall of fame - fixes"
- Browse Photos button to be fixed so the text shows in one line only
- The photo of the champions looks cut at the bottom by the gray area...we should see the faces of Tong, Victor and Sergey full size as well
- On Fun Facts, for each card, between the green line and the photo above there is some white space - let's remove that so it follows the design
- On Fun Facts - text outside the box
- All

[2020-12-02 13:31] drasticdpk commented on #5220
@nursoltan-s  for which test case are you facing this issue ?
Are you switching url  from https://www.topcoder-dev.com/search/members/?q=luizrrodrigues to https://community-app.topcoder-dev.com/search/members/?q=luizrrodrigues

[2020-12-02 13:35] lakshmiathreya commented on #5228
Removing Groups from User via Admin also doesn't work.

[2020-12-02 14:00] lakshmiathreya commented on #5226
Groups of Tonyj user in Dev:
<img width="1680" alt="Screenshot 2020-12-02 at 7 28 46 PM" src="https://user-images.githubusercontent.com/51733042/100882032-b045af00-34d4-11eb-8f9b-8aa2dcc17403.png">
<img width="1680" alt="Screenshot 2020-12-02 at 7 28 59 PM" src="https://user-images.githubusercontent.com/51733042/100882062-bcca0780-34d4-11eb-8f25-9e2eeb805e0a.png">

[2020-12-02 14:00] lakshmiathreya commented on #5226
cc @rootelement

[2020-12-02 14:01] lakshmiathreya commented on #5227
cc @rootelement

[2020-12-02 14:10] lakshmiathreya commented on #5227
Please note comparison for Subcommunities Filter for Prod and Dev - Groups info of the User included for reference:
<img width="1680" alt="Screenshot 2020-12-02 at 7 38 19 PM" src="https://user-images.githubusercontent.com/51733042/100883305-33b3d000-34d6-11eb-8181-a386f6333661.png">

<img width="1680" alt="Screenshot 2020-12-02 at 7 37 40 PM" src="https://user-images.githubusercontent.com/5173304

[2020-12-02 14:13] lakshmiathreya commented on #5226
Prod for reference:
<img width="1680" alt="Screenshot 2020-12-02 at 7 42 16 PM" src="https://user-images.githubusercontent.com/51733042/100883641-90af8600-34d6-11eb-8426-93643124a554.png">
<img width="1680" alt="Screenshot 2020-12-02 at 7 38 19 PM" src="https://user-images.githubusercontent.com/51733042/100883679-9d33de80-34d6-11eb-8fb9-60d06502b62c.png">

[2020-12-02 16:13] nursoltan-s commented on #5220
@drasticdpk it's happening in [TC-010] should verify that the "Filter" option "Sub Community" is working correctly
I think it's API issue:

GET https://api.topcoder-dev.com/v5/challenges/?status=Active&isLightweight=true&perPage=1&tracks[]=Dev&tracks[]=Des&tracks[]=DS&tracks[]=QA&events[]=tco20
giving error

[2020-12-02 16:13] nursoltan-s commented on #5220
But
GET https://api.topcoder.com/v5/challenges/?status=Active&isLightweight=true&perPage=1&tracks[]=Dev&tracks[]=Des&tracks[]=DS&tracks[]=QA&events[]=tco20
is working fine

[2020-12-02 16:27] drasticdpk commented on #5220
Ok @nursoltan-s  , that fine that test case will fail in dev mode but it will pass on prod mode.
@SathyaJayabal @sushilshinde please ask to dev team to fix this issue.

[2020-12-02 17:56] luizrrodrigues commented on #5026
Contest https://www.topcoder.com/challenges/30155542 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-02 17:56] luizrrodrigues commented on #5026
Contest https://www.topcoder.com/challenges/30155542 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-02 18:19] nursoltan-s commented on #5220
@drasticdpk
These are bugs found from e2e testing:
1) in `challenge-api`, events parameter validation was wrong.
    created issue: https://github.com/topcoder-platform/challenge-api/issues/346
    Affected tests in dev environment: [TC_010], [TC_015], [TC_016]

2) [TC_014]: Community-app ui bug. Fixed with merge request
3) [TC_017]: Community-app ui bug: Fixed with merge request. "Clear Filters"

[2020-12-02 18:20] nursoltan-s commented on #5220
@drasticdpk In order to verify, please follow this guide:

[local-setup.txt](https://github.com/topcoder-platform/community-app/files/5631290/local-setup.txt)
[login-locally.zip](https://github.com/topcoder-platform/community-app/files/5631291/login-locally.zip)

[2020-12-02 18:29] nursoltan-s commented on #5220
PR: https://github.com/topcoder-platform/community-app/pull/5230

[2020-12-02 21:32] luizrrodrigues commented on #5026
@SathyaJayabal Deployed in Stag env

[2020-12-03 06:04] callmekatootie opened #5231 "Show forum link to copilots on their challenges"
**Is your feature request related to a problem? Please describe.**
As a copilot, I cannot see the Forum link in the challenge details page (example url - https://www.topcoder.com/challenges/b6df96d6-461d-4e78-abf0-c59b4da3bae1) for my own challenges

**Describe the solution you'd like**
I should see the forum discussion link for challenges that I am a copilot / observer on without having to regist

[2020-12-03 06:09] callmekatootie commented on #5231
Weird... I can see it now (was not seeing it before). Closing.

[2020-12-03 06:09] #5231 closed

[2020-12-03 08:53] kkartunov commented on #4722
@SathyaJayabal will be no sorting on the table as it will change the podium places thus not good.

[2020-12-03 11:54] SathyaJayabal commented on #5026
@luizrrodrigues , verified
<img width="1440" alt="Screenshot 2020-12-03 at 5 20 55 PM" src="https://user-images.githubusercontent.com/58783823/101014707-4c7ebd00-358c-11eb-9d6e-659ecbc9cc72.png">

[2020-12-03 12:02] SathyaJayabal commented on #4722
@kkartunov , verified.
Does it apply only for tco21 for now?
<img width="1440" alt="Screenshot 2020-12-03 at 5 27 35 PM" src="https://user-images.githubusercontent.com/58783823/101015443-6e2c7400-358d-11eb-91ee-ab5e70271ffe.png">

[2020-12-03 16:20] callmekatootie opened #5237 "Member's submission appears twice in the submissions tab"
**Describe the bug**
Check out this contest: https://www.topcoder.com/challenges/bedd2ed3-b58e-464f-8bbb-88cf4e7d6618?tab=submissions

The member `amo_chall`'s submission appears twice in the list

**Expected behavior**
Should see it only once and the submissions count should also be correct (it considers both the submissions of the member)

**Screenshots**
![image](https://user-images.githubuserc

[2020-12-03 16:41] cagdas001 commented on #5237
I also reported this some ago but they said this is the expected behaviour. See #4822 for details

[2020-12-03 16:44] callmekatootie commented on #5237
It's a feature? Oh ok...

Then perhaps this ticket could be taken as a feature request

- That the total submission count should not count multiple submissions from the same user multiple times. I got shocked when I looked at another contest having 30+ submissions, when I could only see around 20+ in online review. Totally misleading and scary in couple of ways
- That multiple submissions be neste

[2020-12-03 16:46] Oanh-and-only-Oanh commented on #5237
@SathyaJayabal, @luizrrodrigues, let's condense all the submissions from the same handle so it doesn't muddy the leaderboard.

[2020-12-04 01:51] luizrrodrigues commented on #5219
@SathyaJayabal Deployed in QA env

[2020-12-04 03:22] SathyaJayabal commented on #5219
@luizrrodrigues , verified
<img width="535" alt="Screenshot 2020-12-04 at 8 50 08 AM" src="https://user-images.githubusercontent.com/58783823/101117837-ef2b5000-360d-11eb-918d-b3b7725024a4.png">

[2020-12-04 04:25] SathyaJayabal commented on #5199
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2020-12-04 at 9 52 51 AM" src="https://user-images.githubusercontent.com/58783823/101121695-c5c2f200-3616-11eb-86e3-33b7dc3a30cd.png">

[2020-12-04 04:26] SathyaJayabal commented on #5196
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2020-12-04 at 9 56 23 AM" src="https://user-images.githubusercontent.com/58783823/101121810-0458ac80-3617-11eb-8f82-c7b6e3a25de2.png">

[2020-12-04 04:38] SathyaJayabal commented on #5026
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2020-12-04 at 10 06 08 AM" src="https://user-images.githubusercontent.com/58783823/101122466-9b723400-3618-11eb-9d48-e6bfb4bcdb6e.png">

[2020-12-04 04:43] SathyaJayabal commented on #5219
verified on staging (develop branch)
<img width="528" alt="Screenshot 2020-12-04 at 10 09 14 AM" src="https://user-images.githubusercontent.com/58783823/101122815-5ef30800-3619-11eb-8f42-9619bb4f437d.png">
<img width="532" alt="Screenshot 2020-12-04 at 10 09 43 AM" src="https://user-images.githubusercontent.com/58783823/101122819-60bccb80-3619-11eb-85c7-d1ffcda587bf.png">

[2020-12-04 04:59] SathyaJayabal commented on #5026
Note: Search also includes contest spec content.

[2020-12-04 07:02] luizrrodrigues commented on #5220
Contest https://www.topcoder.com/challenges/30155747 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-04 07:02] luizrrodrigues commented on #5220
Contest https://www.topcoder.com/challenges/30155747 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-04 07:03] drasticdpk commented on #5220
Closing this ticket.
Thank you @nursoltan-s  for your effort. cc @sushilshinde @lakshmiathreya

[2020-12-04 07:03] #5220 closed

[2020-12-04 07:06] luizrrodrigues commented on #5220
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155747<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-04 07:35] SathyaJayabal commented on #5199
verified on prod
<img width="1440" alt="Screenshot 2020-12-04 at 1 03 44 PM" src="https://user-images.githubusercontent.com/58783823/101135106-59a1b780-3631-11eb-817a-a76ef6d9fb7d.png">

[2020-12-04 07:35] #5199 closed

[2020-12-04 07:36] SathyaJayabal commented on #5196
verified on prod
<img width="1440" alt="Screenshot 2020-12-04 at 1 04 11 PM" src="https://user-images.githubusercontent.com/58783823/101135174-74742c00-3631-11eb-84c4-9d8783426076.png">

[2020-12-04 07:36] #5196 closed

[2020-12-04 07:43] SathyaJayabal commented on #5026
verified on prod
<img width="1440" alt="Screenshot 2020-12-04 at 1 11 41 PM" src="https://user-images.githubusercontent.com/58783823/101135901-7ee2f580-3632-11eb-934e-bc2467e12c1e.png">

[2020-12-04 07:43] #5026 closed

[2020-12-04 07:44] luizrrodrigues commented on #5026
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155542<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-04 07:50] SathyaJayabal commented on #5219
verified on prod
<img width="541" alt="Screenshot 2020-12-04 at 1 17 58 PM" src="https://user-images.githubusercontent.com/58783823/101136503-6de6b400-3633-11eb-8635-f8f88240ab11.png">
<img width="541" alt="Screenshot 2020-12-04 at 1 19 31 PM" src="https://user-images.githubusercontent.com/58783823/101136521-7343fe80-3633-11eb-85f2-981487767285.png">

[2020-12-04 07:50] #5219 closed

[2020-12-04 09:05] kkartunov opened #5241 "Gig listing page updates"
On https://www.topcoder.com/gigs

-  change the logic so that “Any Location” displays gigs with “Any Location” only
- update the “Anywhere” filter to read as “All” and keep the logic behind it
- change compensation to format: $800-900 (USD) / week

[2020-12-04 16:51] Oanh-and-only-Oanh opened #5243 "[$70] Add Appium Headspin skill"
Requirement: 1) any member can add Appium Headspin skill but only those who complete challenge will receive tickmark 2) automatically add Appium Headspin  skill to member profile with tickmark if they haven't already added the skill themselves.

No changes to existing functionality- we are adding a new skill

Have added the following details for the new skill Appium Headspin:

[code]

[2020-12-04 16:55] Oanh-and-only-Oanh commented on #5243
Add the skill Appium Headspin, icon needs to be updated by @Dara-K
@SathyaJayabal and @sandhiyakavi- Can you test it on dev environment
https://www.topcoder-dev.com/settings/profile#skills
Request you to test if the auto add Appium Headspin  skill to member profile with tickmark works for a test member

@luizrrodrigues - We'll need to make prod changes once your ready
![image](https://user-images.

[2020-12-04 23:26] jswheeler commented on #4350
@Oanh-and-only-Oanh can I get a status on this?

[2020-12-05 12:04] SathyaJayabal opened #5245 "User Handle and User ID are not loading properly in topgear.topcoder.com"
For user with email id manoj.sukumaran@wipro.com, handle is not displayed after login to https://topgear.topcoder.com
And also the ‘Initiate Project’ link doesn’t have the user_id appended to the URL. Refer below screenshots
![unnamed](https://user-images.githubusercontent.com/58783823/101241886-183c0580-3720-11eb-8ca1-1fceacdc9604.jpg)
![unnamed (1)](https://user-images.githubusercontent.com/5878

[2020-12-05 12:06] SathyaJayabal commented on #5245
Note:
Sachin has confirmed the issue is not related to new Auth0 changes.

This is not reproducible for my user (picachui)
<img width="1440" alt="Screenshot 2020-12-05 at 5 35 44 PM" src="https://user-images.githubusercontent.com/58783823/101241922-53d6cf80-3720-11eb-8357-a2f135b52e8f.png">

cc @luizrrodrigues @sushilshinde

[2020-12-05 12:19] SathyaJayabal opened #5246 "Past Marathon Match points details not displayed on stats history page."
Past Marathon Match points details not displayed on stats history page.
<img width="1440" alt="Screenshot 2020-12-05 at 5 48 28 PM" src="https://user-images.githubusercontent.com/58783823/101242848-1f641300-3722-11eb-9f29-3c7c6b242fae.png">

cc @luizrrodrigues @sushilshinde

[2020-12-06 16:27] callmekatootie commented on #5226
Could you check again. It might have been the bug I introduced in dev (that has since been resolved).

For user TonyJ, I see the communities now:

![image](https://user-images.githubusercontent.com/2317133/101285936-fc169200-380d-11eb-90e0-003d05577c41.png)

[2020-12-06 16:29] callmekatootie commented on #5227
Could you check again - it might have been the bug I introduced in dev (that has since been resolved). I see the following communities for TonyJ now (in dev):

![image](https://user-images.githubusercontent.com/2317133/101286030-59124800-380e-11eb-8a50-11c3f73d5461.png)

[2020-12-07 03:13] Oanh-and-only-Oanh commented on #5245
@lakshmiathreya, can you reproduce this issue on your end and provide screenshots? Thanks.

[2020-12-07 04:18] sandhiyakavi commented on #5243
@luizrrodrigues @Oanh-and-only-Oanh Able to manually add the Appium Headspin skill but it is not available while creating the challenge in both WM as well as Direct.

![image](https://user-images.githubusercontent.com/55895538/101308977-7edf3180-388e-11eb-8830-c8c0b415715c.png)
![image](https://user-images.githubusercontent.com/55895538/101309025-a209e100-388e-11eb-976d-8b4c7e9910ee.png)

[2020-12-07 07:20] maxceem commented on #5068
One more challenge is done to update the challenge filter UI in general https://www.topcoder.com/challenges/4d9f86b5-f492-4b31-bad0-521098798037?tab=details

There are 2 PRs:
Community App https://github.com/topcoder-platform/community-app/pull/5247
Topcoder React Lib https://github.com/topcoder-platform/topcoder-react-lib/pull/287
Submission is almost perfect, there are only a few minor issues:
-

[2020-12-07 08:47] kkartunov commented on #4722
@luizrrodrigues this now ready to release with the next milestone.

[2020-12-07 10:39] luizrrodrigues commented on #5068
@SathyaJayabal deployed to Stag env

[2020-12-07 11:46] sandhiyakavi commented on #5229
Verified.Working as expected.

Point 1 & 2:
![image](https://user-images.githubusercontent.com/55895538/101346395-d0f27800-38cb-11eb-80e2-96169ceb364d.png)

Point 3 & 4:
![image](https://user-images.githubusercontent.com/55895538/101346542-0ac37e80-38cc-11eb-92aa-e815ee914062.png)

Point 5:
![image](https://user-images.githubusercontent.com/55895538/101346772-655cda80-38cc-11eb-8edb-ee666eef3e45.p

[2020-12-07 12:28] sandhiyakavi commented on #5241
Verified in Test Environment.

Point 1:
![image](https://user-images.githubusercontent.com/55895538/101350574-858f9800-38d2-11eb-87c9-0475da2e82a7.png)

Point 2:
![image](https://user-images.githubusercontent.com/55895538/101350723-cd162400-38d2-11eb-9d14-660664d020a5.png)

Point 3:
![image](https://user-images.githubusercontent.com/55895538/101350814-fe8eef80-38d2-11eb-80a5-75ba6f03f1c8.png)

[2020-12-07 16:08] nursoltan-s opened #5248 "[$25] "window is not defined" error"
**Describe the bug**
Can't open challenge with filters.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://www.topcoder.com/challenges/00d70d89-fe64-4530-acd5-e0f8084f80c7?tab=winners`
4. See error. "window is not defined

**Expected behavior**
Challenge detail page should open.

**Screenshots**
![Screenshot](https://user-images.githubusercontent.com/7783676/101374643-63554480-38

[2020-12-08 05:47] SathyaJayabal commented on #5068
@maxceem
1. Once user accesses My Past  Challenges, and  then accesses any other bucket, or applies any other filter, the challenge list is not updated.
[My Past Challenges.mov.zip](https://github.com/topcoder-platform/community-app/files/5657009/My.Past.Challenges.mov.zip)

2. On clear filter,

- the date range selection must also be cleared.

- the custom date range fields must not be displayed.

[2020-12-08 06:35] Oanh-and-only-Oanh commented on #5068
@SathyaJayabal,
3) For the Open for review bucket, the sub communities filter do not apply (even in prod). Yes, we can hide that filter.

Please test thoroughly on the performance of this. We do not want listings performance to be negatively impacted.

[2020-12-08 07:42] maxceem commented on #5068
Here are also 3 more issues:

6) Avoid overflow in “specification review” https://gyazo.com/0577dd6ad940c3af5386f42249c3371b and https://monosnap.com/file/gmAv2m0T9Y91GE9x8Nv9caoZ3wi0EX

7) Click on "Clear filters" should clear the search box name as well.

8) Search field disappears on the smaller screens https://monosnap.com/file/5SI9gi1zGGckSasf1WojLvfRCWwDSD

[2020-12-08 07:51] maxceem commented on #5068
@Oanh-and-only-Oanh @lakshmiathreya I've asked the winner of the challenge to make these final fixes.

[2020-12-08 22:34] rootelement opened #5249 "Private Description is not Showing Up"
On this challenge:
https://www.topcoder.com/challenges/af2ae968-d172-457b-bcf6-c8424ba29d71

Mess created a private specification in work manager. If you pull that challenge with an admin token or a registered user's jwt, you see the private spec in the response:
![Screen Shot 2020-12-08 at 11 08 30 AM](https://user-images.githubusercontent.com/5400156/101549269-5aad4e80-397b-11eb-9d8a-94dc3c4c333

[2020-12-09 05:16] sandhiyakavi commented on #5068
@maxceem Keyword filter is missing and no challenge is displayed if a technology is clicked in Challenge listings/challenge details page.

![image](https://user-images.githubusercontent.com/55895538/101588103-f21cab00-3a28-11eb-8d2d-3d4e4386023c.png)

[2020-12-09 05:23] SathyaJayabal commented on #5068
@Oanh-and-only-Oanh , the keywords  filter option is missing in the design. Is this intentional?
https://marvelapp.com/prototype/96cb17f/screen/74488185

[2020-12-09 07:45] maxceem commented on #5068
We didn't have it per design. @Oanh-and-only-Oanh Could you, please, clarify if we have to add it or no.

Sure, will do.

The thing is, that "back" button and "technology/challenge type tag" on the Challenge Details page lead to the open for registration challenges, not to the previous filter. So it show open for registration challenges correctly. But we have to fix and show "Acitve" tab not, "Pas

[2020-12-09 07:54] sandhiyakavi commented on #5068
@maxceem  Also If we minimize the screen, The track filter and close button is hiding behind the submenus of header, but displaying after scroll down.

![image](https://user-images.githubusercontent.com/55895538/101600570-d7553100-3a3e-11eb-8a78-d9fb2912fcbe.png)
![image](https://user-images.githubusercontent.com/55895538/101600650-f8b61d00-3a3e-11eb-9466-19f17a36da55.png)
[Track_filter_hided.zip]

[2020-12-09 07:59] maxceem commented on #5068
Yeah, I can reproduce it. This is existent issue

![image](https://user-images.githubusercontent.com/146016/101601193-14043680-3a05-11eb-97f0-1466c5ad3429.png)

Would also ask to fix this it as a part of the final fixes.

[2020-12-09 09:48] maxceem commented on #5068
@luizrrodrigues could you, please, help me to merge PR for the Topcoder React Lib https://github.com/topcoder-platform/topcoder-react-lib/pull/289 as a part of the final fixes.

[2020-12-09 10:42] luizrrodrigues commented on #5068
@maxceem Sure, I'll merge and create test release now.

[2020-12-09 10:54] maxceem commented on #5068
Thanks, @luizrrodrigues. Should I just redeploy stagging Community App, or should I update the version for `topcoder-react-lib` to another number first? https://github.com/topcoder-platform/community-app/blob/feature/filter-update/package.json#L146

[2020-12-09 10:55] luizrrodrigues commented on #5068
@maxceem I'll create new version, merge `community-app` and update the version.

I'll let you know when deployed.

[2020-12-09 11:44] luizrrodrigues commented on #5068
@maxceem Deployed to Stag.

[2020-12-09 13:04] maxceem commented on #5068
Note, final fixes are now done for items 1-8.

New items 1-3 https://github.com/topcoder-platform/community-app/issues/5068#issuecomment-741596441 and https://github.com/topcoder-platform/community-app/issues/5068#issuecomment-741600474 are not yet fixed.

[2020-12-09 15:42] Oanh-and-only-Oanh commented on #5068
@maxceem and @SathyaJayabal, this is intentional. we've condensed the functionality of the search bar so it can be used to search keyword, tags, and title. This was an enhancement of search feature made by @rootelement

[2020-12-09 16:43] SathyaJayabal commented on #5068
@maxceem , in this case, when a user clicks on any of  the challenge tags, the url should be (example user clicks on tag `swagger`)
https://staging-community-app.topcoder.com/challenges?search=swagger&tracks[DS]=true&tracks[Des]=true&tracks[Dev]=true&tracks[QA]=true&types[]=CH&types[]=F2F&types[]=TSK
Instead of `tags[]=Swagger`.

[2020-12-09 16:56] maxceem commented on #5068
https://staging-community-app.topcoder.com/challenges?search=swagger&tracks[DS]=true&tracks[Des]=true&tracks[Dev]=true&tracks[QA]=true&types[]=CH&types[]=F2F&types[]=TSK

Great catch @SathyaJayabal.

We should apply tag in URL as `search=<tag>` instead of `tags[]=<tag>`. When we are clicking any tag on the challenge details page:

![image](https://user-images.githubusercontent.com/146016/101660603

[2020-12-09 17:02] SathyaJayabal commented on #5068
@maxceem , I dont see #3  in the final fixes
We still have sub communities filter for Open for review bucket
<img width="1440" alt="Screenshot 2020-12-09 at 10 31 54 PM" src="https://user-images.githubusercontent.com/58783823/101661529-64fc4500-3a6e-11eb-8c59-2c41eaa76aa1.png">

[2020-12-09 17:31] maxceem commented on #5068
Thanks, @SathyaJayabal. Will ensure it's fixed with other issues that are left.

[2020-12-09 20:03] luizrrodrigues commented on #5068
@maxceem I'll use Stag env to deploy a new feature, please let me know when ready to redeploy this one.

[2020-12-09 21:01] luizrrodrigues commented on #5249
@SathyaJayabal Deployed in Stag env.

[2020-12-10 00:01] rootelement commented on #5249
@SathyaJayabal please test this with these scenarios:
1. A challenge without a private description
2. A challenge with a private description
   1. A not-logged-in user shouldn't see it in community app (nor in the v5 challenge object
   2. A logged in, but not registered user (not admin) shouldn't see it in the community app nor v5 challenge object
   3. A logged in, registered user on the challen

[2020-12-10 00:08] rootelement commented on #5069
@SathyaJayabal can you test and confirm fixed in dev?

[2020-12-10 03:11] SathyaJayabal commented on #5068
@luizrrodrigues , not completed qa yet on  this deployment. But we will complete it along with the rest of the fixes.

[2020-12-10 03:20] SathyaJayabal commented on #5069
@rootelement , i  see this is fixed both on dev and prod
<img width="1440" alt="Screenshot 2020-12-10 at 8 47 16 AM" src="https://user-images.githubusercontent.com/58783823/101717023-87b94880-3ac4-11eb-9417-164ed32fc805.png">
<img width="1440" alt="Screenshot 2020-12-10 at 8 48 41 AM" src="https://user-images.githubusercontent.com/58783823/101717037-8ee05680-3ac4-11eb-936d-31cd847884f4.png">

[2020-12-10 04:32] SathyaJayabal commented on #5249
@lakshmiathreya , can you please verify the admin use case above (2. iv)
able to see private spec for challenges with and without registration for admin user
https://www.topcoder.com/challenges/af2ae968-d172-457b-bcf6-c8424ba29d71 and
https://www.topcoder.com/challenges/31fa3df3-643e-4d20-a590-9dc14ef80b35 (hide challenges group)

Not able to see private spec for below challenges with and without

[2020-12-10 04:36] SathyaJayabal commented on #5249
@rootelement , verified the above scenarios except for admin user, works as expected. Additionally tested for copilot user. The copilot is able to view private spec with and without login. As expected. Also when user registers and unregisters, spec is displayed and hidden as expected.

<img width="1440" alt="Screenshot 2020-12-10 at 8 58 38 AM" src="https://user-images.githubusercontent.com/587838

[2020-12-10 04:37] rootelement commented on #5249
Ok, i was confused. You linked prod in your comment. Let me check the code and the admin token in postman and I'll report back.

[2020-12-10 04:40] SathyaJayabal commented on #5249
you can check on staging
with private spec
https://staging-community-app.topcoder.com/challenges/af2ae968-d172-457b-bcf6-c8424ba29d71
https://staging-community-app.topcoder.com/challenges/31fa3df3-643e-4d20-a590-9dc14ef80b35
without private spec
https://staging-community-app.topcoder.com/challenges/09975654-4b25-458e-8103-c7fe206d0ade

[2020-12-10 04:44] rootelement commented on #5249
Ok strange. I'm seeing this in the API response. This shouldn't prevent a production push of this since it's api side. It'd be a showstopper if non-registered or non-logged-in could see the content. I will report back soon.

[2020-12-10 04:45] SathyaJayabal commented on #5249
I think we have a misunderstanding. I was not able to check for admin user as I did not have the creds. I dint mean that it is not working for admin.

[2020-12-10 04:46] rootelement commented on #5249
Oh, I can confirm that I'm an admin not registered on the challenge and I don't see the response. Same with my JWT in postman. But it'd be good for @lakshmiathreya to confirm as well.

[2020-12-10 04:48] rootelement commented on #5249
<img width="1089" alt="Screen Shot 2020-12-09 at 11 47 38 PM" src="https://user-images.githubusercontent.com/5400156/101722778-f375c400-3a78-11eb-8d67-560312334804.png">

@ThomasKranitsas please look at this in your morning. I see
https://github.com/topcoder-platform/challenge-api/blob/develop/src/services/ChallengeService.js#L579

But it doesn't seems like my admin user gets the privateDescriptio

[2020-12-10 04:59] SathyaJayabal commented on #5249
@rootelement , we created a test challenge within a group. Any user in the group is able to see  the private spec.
example:
user: piacahui
challenge: https://staging-community-app.topcoder.com/challenges/31fa3df3-643e-4d20-a590-9dc14ef80b35
group: `hide challenges`

[2020-12-10 05:02] rootelement commented on #5249
Sorry to be unclear, your user has a `copilot` role, so you should see it.
<img width="479" alt="Screen Shot 2020-12-10 at 12 01 35 AM" src="https://user-images.githubusercontent.com/5400156/101723756-ec4fb580-3a7a-11eb-9282-11ad67f9466c.png">

Although this raises a good question. I guess the API should be checking to see if you're a copilot _on that challenge_ possibly. Let me talk to Thomas abo

[2020-12-10 05:09] lakshmiathreya commented on #5249
Unregistered Admin sees the Private spec:
<img width="1680" alt="Screenshot 2020-12-10 at 10 33 19 AM" src="https://user-images.githubusercontent.com/51733042/101724168-ea661080-3ad3-11eb-8588-71721408b76f.png">

[2020-12-10 05:09] lakshmiathreya commented on #5249
cc @drasticdpk

[2020-12-10 05:11] rootelement commented on #5249
Ok, give us a little time to go through it and we'll report back in my morning

[2020-12-10 05:28] SathyaJayabal commented on #5249
@rootelement , thanks.
Let me summarise the behaviour here:

Regular challenge with private spec:
example: https://staging-community-app.topcoder.com/challenges/af2ae968-d172-457b-bcf6-c8424ba29d71
1. admin user not able to see private spec without registering (lakshmiathreya)
2. any copilot not able to see private spec (picachui)
3. normal user not able to see private spec without registering (cu

[2020-12-10 07:05] sharonsahadevan opened #5251 "Two different emails are showing in my profile tab"
**Describe the bug**
The community tab and Business tabs are having 2 different email addresses.

**Expected behavior**
Both tabs must display my topcoder email address (iam***@gmail.com)

![image](https://user-images.githubusercontent.com/29514761/101732606-792e5980-3ae3-11eb-8874-acb8290454c4.png)
![image](https://user-images.githubusercontent.com/29514761/101732945-05408100-3ae4-11eb-80ce-6b4ba

[2020-12-10 10:47] ThomasKranitsas commented on #5249
@SathyaJayabal can you please test on dev again? I've pushed a fix

[2020-12-10 12:51] SathyaJayabal commented on #5249
@luizrrodrigues can you please deploy the private spec feature in any of the dev envs please?

[2020-12-10 13:28] SathyaJayabal commented on #5249
@ThomasKranitsas , tested with api response as FE is not deployed yet in dev env

test challenges used:
https://www.topcoder-dev.com/challenges/a21f7e73-7b35-4e81-906b-98ee8aae7e04 (with group)
https://www.topcoder-dev.com/challenges/26515476-a5b6-466d-b94f-23ef592dad4e (without group)

Admin user (tonyj):
able to see private desc without registration for both challenges with and without group
abl

[2020-12-10 14:39] rootelement commented on #5249
No, we're working on this. It should be as simple as "Admins or Registered Users". A registered user is any role Observer down to Submitter, but they have to be registered on that challenge.

[2020-12-10 15:51] ThomasKranitsas commented on #5249
<img width="2516" alt="Screenshot 2020-12-10 at 5 42 24 PM" src="https://user-images.githubusercontent.com/4612921/101794415-85301080-3b0f-11eb-9793-8db8eda8c680.png">

@SathyaJayabal the challenge https://www.topcoder-dev.com/challenges/9fdfab49-0738-4ec0-a3e0-b66972ce7665 was created by `jcori` (left screen) and tested by `TCConnCopilot` (right screen). The `TCConnCopilot` is a copilot user and

[2020-12-10 17:19] SathyaJayabal commented on #5249
@ThomasKranitsas , as I mentioned the FE for Comm App is not yet deployed for the private spec in dev env. So i tested with the api response.

[2020-12-10 17:20] ThomasKranitsas commented on #5249
It shouldn't matter as the check is done on the backend.

[2020-12-10 17:21] SathyaJayabal commented on #5249
@ThomasKranitsas , yes, I can  see the private spec for the tcconncopilot user in the  api response. It  shouldnt be visible.

[2020-12-10 17:25] SathyaJayabal commented on #5249
@ThomasKranitsas , I can see private spec for TCConnCopilot user token for the above challenge
![Uploading Screenshot 2020-12-10 at 10.54.34 PM.png…]()

[2020-12-10 18:00] rootelement commented on #5249
TCConnCopilot is on the project, so they have an Observer role on that challenge. This is working as designed.

[2020-12-10 18:01] rootelement commented on #5249
![Screen Shot 2020-12-10 at 1 00 37 PM](https://user-images.githubusercontent.com/5400156/101811190-c7455c00-3ae7-11eb-9c36-7b78d04cf3f1.png)

[2020-12-10 18:42] luizrrodrigues commented on #5249
@SathyaJayabal Deploying to QA env.

[2020-12-11 03:47] SathyaJayabal commented on #5249
@rootelement @ThomasKranitsas , Even after I remove the observer role, the private description is displayed for TCConnCopilot. I have waited for 30 mins for the changes in OR to sync to v5.

I did test with another copilot (nithyaasworld) and this user was not able to see the private spec without registering. So I am not sure  what is the issue with TCConnCopilot user still able to see the private

[2020-12-11 06:08] SathyaJayabal commented on #5241
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2020-12-11 at 11 35 18 AM" src="https://user-images.githubusercontent.com/58783823/101869412-68deb300-3ba5-11eb-8c10-2ede7bd6e386.png">
<img width="1440" alt="Screenshot 2020-12-11 at 11 36 43 AM" src="https://user-images.githubusercontent.com/58783823/101869418-6e3bfd80-3ba5-11eb-9146-6cf7766b0722.png">

[2020-12-11 06:15] SathyaJayabal commented on #5229
verified on  staging (develop branch)
<img width="1440" alt="Screenshot 2020-12-11 at 11 40 24 AM" src="https://user-images.githubusercontent.com/58783823/101869823-5ca72580-3ba6-11eb-8175-3d51756da82a.png">
<img width="1440" alt="Screenshot 2020-12-11 at 11 41 47 AM" src="https://user-images.githubusercontent.com/58783823/101869833-63ce3380-3ba6-11eb-9f2f-3fba337e1978.png">
<img width="1440" alt=

[2020-12-11 06:19] SathyaJayabal commented on #5229
@kkartunov , there still seems to be some space here.
`On Fun Facts, for each card, between the green line and the photo above there is some white space - let's remove that so it follows the design`

<img width="1440" alt="Screenshot 2020-12-11 at 11 41 47 AM" src="https://user-images.githubusercontent.com/58783823/101870072-e48d2f80-3ba6-11eb-870b-dce31510260d.png">

[2020-12-11 06:23] SathyaJayabal commented on #4722
verified on staging (develop) for TCO21
<img width="1440" alt="Screenshot 2020-12-11 at 11 50 21 AM" src="https://user-images.githubusercontent.com/58783823/101870187-228a5380-3ba7-11eb-8b1c-ae4062307a67.png">

[2020-12-11 09:34] SathyaJayabal commented on #5241
verified on prod
<img width="1440" alt="Screenshot 2020-12-11 at 3 03 52 PM" src="https://user-images.githubusercontent.com/58783823/101886905-2d9ead00-3bc2-11eb-87f0-3d5e845e46ee.png">
<img width="1440" alt="Screenshot 2020-12-11 at 3 03 58 PM" src="https://user-images.githubusercontent.com/58783823/101886923-33948e00-3bc2-11eb-8e20-799892fa2b0b.png">

[2020-12-11 09:34] #5241 closed

[2020-12-11 09:36] SathyaJayabal commented on #4722
verified on prod
<img width="1440" alt="Screenshot 2020-12-11 at 3 05 28 PM" src="https://user-images.githubusercontent.com/58783823/101887029-5626a700-3bc2-11eb-939f-526fd1dacdfa.png">

[2020-12-11 09:36] #4722 closed

[2020-12-11 09:40] SathyaJayabal commented on #5229
verified on prod
<img width="1440" alt="Screenshot 2020-12-11 at 3 07 32 PM" src="https://user-images.githubusercontent.com/58783823/101887462-e82eaf80-3bc2-11eb-98fd-d57588fc430b.png">
<img width="1440" alt="Screenshot 2020-12-11 at 3 08 02 PM" src="https://user-images.githubusercontent.com/58783823/101887480-efee5400-3bc2-11eb-9d18-5698e1dbf16e.png">
<img width="1440" alt="Screenshot 2020-12-11

[2020-12-11 09:40] #5229 closed

[2020-12-11 19:13] rootelement commented on #5249
Removing in OR does not remove it from V5. You'd have to remove the user using admin.topcoder.com. Don't worry, the API responses are correct based on my tests. This passes

[2020-12-13 10:08] maxceem commented on #5068
@SathyaJayabal @luizrrodrigues

All fixes are done now and pushed to the `feature/filter-update` branch:
- 2 and 3 in https://github.com/topcoder-platform/community-app/issues/5068#issuecomment-741596441
- https://github.com/topcoder-platform/community-app/issues/5068#issuecomment-741600474
- https://github.com/topcoder-platform/community-app/issues/5068#issuecomment-741904592

[2020-12-14 04:20] SathyaJayabal commented on #5249
@rootelement, let us know when you are moving this to production, we will release the FE after that.

cc @luizrrodrigues

[2020-12-14 08:30] SathyaJayabal commented on #5068
@maxceem , everything is good except for the  "Specification Review" text overlap
<img width="424" alt="Screenshot 2020-12-14 at 1 37 17 PM" src="https://user-images.githubusercontent.com/58783823/102057925-b7de4f80-3e14-11eb-953c-cb2b2c195212.png">

[2020-12-14 08:52] maxceem commented on #5068
@SathyaJayabal fixed and pushed to `feature/filter-update` branch:

![image](https://user-images.githubusercontent.com/146016/102060090-65903500-3dfa-11eb-9071-91fae2c09e4f.png)

[2020-12-14 09:36] SathyaJayabal commented on #5068
Thanks @maxceem

[2020-12-14 13:57] rootelement commented on #5249
My code and WM code is already in production. This can go at any time.

On Sun, Dec 13, 2020 at 11:21 PM SathyaJayabal <notifications@github.com>
wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.com/> / Topcoder
Blog: topcoder.com/blog / twitter: @Topcoder
<https:/

[2020-12-15 05:39] sandhiyakavi commented on #5249
Verified on staging. Below are the observations.

1. Normal user able to view private specification only after registration.
2. The resources of the challenge are able to view the private specification with and without registration.

Challenge used:
 With private spec: https://staging-community-app.topcoder.com/challenges/42871509-7ea4-4c32-b996-36624b27320b
Without private spec: https://staging-c

[2020-12-15 09:22] SathyaJayabal commented on #5068
verified on prod
<img width="1440" alt="Screenshot 2020-12-15 at 2 45 04 PM" src="https://user-images.githubusercontent.com/58783823/102195734-f8a59980-3ee4-11eb-91ec-6b77200333c8.png">

[2020-12-15 09:22] #5068 closed

[2020-12-15 09:23] SathyaJayabal commented on #5249
verified on prod
<img width="1440" alt="Screenshot 2020-12-15 at 2 50 24 PM" src="https://user-images.githubusercontent.com/58783823/102195765-06f3b580-3ee5-11eb-88b7-b00dd7f863e8.png">
<img width="1440" alt="Screenshot 2020-12-15 at 2 50 45 PM" src="https://user-images.githubusercontent.com/58783823/102195883-2854a180-3ee5-11eb-8a4b-264d61741fe8.png">

[2020-12-15 09:23] #5249 closed

[2020-12-15 10:06] sushilshinde opened #5258 "UI suggestion"
![1](https://user-images.githubusercontent.com/683231/102200799-4fae6d00-3eeb-11eb-9456-6542a633b04d.png)

[2020-12-15 10:14] sushilshinde commented on #5258
Probably more padding and gutter is needed because there is too much real estate.

![2](https://user-images.githubusercontent.com/683231/102201426-1aeee580-3eec-11eb-85fa-6e53dddc49e2.png)

[2020-12-15 11:24] sandhiyakavi commented on #5243
@Oanh-and-only-Oanh @luizrrodrigues The added Appium Headspin Technology is disappearing after sometime of activating the challenge.
Challenge: https://www.topcoder-dev.com/challenges/094ab749-f0cd-40b7-ba22-e8ab3a3b1a4f
Note: Checked in Prod, it is not disappearing.

<img width="960" alt="Dev_headspin" src="https://user-images.githubusercontent.com/55895538/102208466-cf9bfd80-3f12-11eb-8a85-6f7c6

[2020-12-15 15:56] Oanh-and-only-Oanh commented on #5258
Can you make it so the left hand filter persists as the user scrolls down the listings?

[2020-12-15 16:53] maxceem commented on #4950
I guess we can achieve that using Contentful CMS which we are using for managing other stuff.
Also, previously we've shown some ads on the former Dashboard page with various events announces. I'm not sure how that was implemented maybe there is someone who worked before on the Community app who is aware.

@luizrrodrigues maybe you could advise the best way to go for this?

[2020-12-15 16:55] Oanh-and-only-Oanh commented on #4950
@maxceem the contentful stuff is led by @kkartunov. He's very familiar

[2020-12-15 17:23] Oanh-and-only-Oanh commented on #5258
Also looking at adding promo banner under the filter barhttps://github.com/topcoder-platform/community-app/issues/4950

[2020-12-15 17:30] maxceem commented on #5258
yes, will add

I'm not sure which space we can reduce. I can see these possibilities in the second filter, is that right?

![image](https://user-images.githubusercontent.com/146016/102250164-e0954080-3f0b-11eb-944a-cbf1411e1a43.png)

[2020-12-15 17:35] Oanh-and-only-Oanh commented on #5258
@maxceem reducing this as well

![image](https://user-images.githubusercontent.com/47536078/102250795-da29a900-3eb8-11eb-8009-00d0972b74a4.png)

[2020-12-16 03:50] Oanh-and-only-Oanh opened #5259 "[$60] filter setting not saved when navigating from details page back to listings page"
describe the bug: filter setting not saved when navigating from details page back to listings page

Expected behavior: when user sets filters on the challenge details page and opens details page, those filter settings should remain when user goes back to the listings page

How to reproduce:
1) go to topcoder.com/challenges
2) filter for only design challenges (not f2f or task)
3) select a challeng

[2020-12-16 04:03] Oanh-and-only-Oanh commented on #5258
![image](https://user-images.githubusercontent.com/47536078/102303710-a5e1d700-3f10-11eb-9b4d-3948192b45c2.png)

Checkbox and Radio box should be styled like in GUI KIT  (note they have inner shadow not large outer shadow as it is in the design now )
 background-color: #0681FF;
 box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.29);
 width: 20px;
 height: 20px;
Side spacing for entire page - we can us

[2020-12-16 15:06] maxceem commented on #5258
@Oanh-and-only-Oanh so we also have to reduce the width of the filter, not only the height. As I understand.

The main question, would we have an updated design for this task? Because if we just ask participants to reduce height/width on their taste without seeing a general picture as a designer the outcome cold look not so good.

[2020-12-16 15:09] maxceem commented on #4950
@kkartunov could you help with this? Is Contentful CMS is a good fit for managing ads on the challenge listing page?

[2020-12-16 15:17] eriantoongko commented on #5258
@Oanh-and-only-Oanh If we reduce the width, instead having it in one line can we reposition the Track and Challenge type to become:
Design
Development
Data Data Science
QA.

If reducing height is critical, we can have an accordion type. Well let me know what you think.

[2020-12-16 15:30] maxceem commented on #5258
@Oanh-and-only-Oanh just would like to add a note regarding filter width. At the moment it has a `percentage` width. So on the small screens, the sidebar width is small and even is not enough to keep all checkboxes/radio-boxes in line:

![image](https://user-images.githubusercontent.com/146016/102368096-29f49700-3fc3-11eb-994a-42ec6400a4ad.png)

While on the wide screens the sidebar has some extra

[2020-12-16 15:30] Oanh-and-only-Oanh commented on #5258
@Dara-K @eriantoongko, it looks like there's plenty of extra space to reduce the width without repositioning the track and challenge type.

Same with reducing height. Can we makes reduction without changing UI?

[2020-12-16 15:36] Oanh-and-only-Oanh commented on #5258
@maxceem thanks for calling that out. I think making it fixed width instead of percentage so it is not getting bigger on the bigger screens would help (as long as mobile view isn't adversely affected). @Dara-K please confirm

[2020-12-16 16:02] eriantoongko commented on #5258
@Oanh-and-only-Oanh @maxceem @Dara-K What if we go with 300px fixed-width?
<img width="1028" alt="Screen Shot 2020-12-16 at 10 59 47 PM" src="https://user-images.githubusercontent.com/28837725/102373429-c1bda980-3ff2-11eb-822c-cc6459385ef5.png">

[2020-12-16 16:10] maxceem commented on #5258
I would suggest not fixing to strong 300px, but rather make it the width maximum to 387px. So on the big screens it doesn't become bigger. While on the smaller screens it would shrink until suggested 300px.

So on the screens 1335px and more the sidebar would always looks like this:

![image](https://user-images.githubusercontent.com/146016/102373711-2bc15900-3fc9-11eb-833c-2fece72c3e97.png)

Our

[2020-12-16 16:13] Oanh-and-only-Oanh commented on #5258
I prefer not to have the tracks and types on 2 rows.
Can you show what a reduced height would look like for the second box?

[2020-12-16 16:25] maxceem commented on #5258
@Oanh-and-only-Oanh tracks checkboxes can fit one line on our smaller screen width:

![image](https://user-images.githubusercontent.com/146016/102375645-6e843080-3fcb-11eb-85a3-668ae48ee31b.png)

I guess something like this. But again, it would be nice if someone with design skills makes adjustments to make sure the final result looks good.

![image](https://user-images.githubusercontent.com/14601

[2020-12-16 16:30] Oanh-and-only-Oanh commented on #5258
@eriantoongko, let's see what designers can give us in terms of options. Requirements are:
1) reduce width and height of left bar
2) tracks/challenges should remain on one line
3)left side bar should float as user scrolls
4) the size of the bar should have max and min width
5) Checkbox and Radio box should be styled like in GUI KIT (note they have inner shadow not large outer shadow as it is in th

[2020-12-16 16:31] maxceem commented on #5258
A couple of more notes:

We also have a filter for reviews, and "Review Type" doesn't fit one line:

![image](https://user-images.githubusercontent.com/146016/102376814-b0fa3d00-3fcc-11eb-8834-bd9cc4b5da25.png)

And we also have a filter for past challenges with more options:

![image](https://user-images.githubusercontent.com/146016/102376936-cd967500-3fcc-11eb-8651-ce90472cb21e.png)

NOTE: both

[2020-12-16 16:36] maxceem commented on #5258
For designers: it would great to have designs showing at least 2 options:
- how min-width sidebar would look like on our min screen size 1025px (including scrollbar 16px)
- how max-width sidebar would look like on the normal screen size like around 1335px - 1440px

[2020-12-16 16:36] Oanh-and-only-Oanh commented on #5258
Open for Review and Past challenges should be reduced in height. Track should be on 1 line. Past Period and Review Type does not need to be in 1 line

[2020-12-17 15:07] kkartunov opened #5261 "Remove “Availabillity per week” in gig application form"
As per title.

[2020-12-18 01:04] luizrrodrigues opened #5262 "Update tc-auth-lib to v1.0.4"
Update tc-auth-lib to v1.0.4

[2020-12-18 02:34] luizrrodrigues commented on #5262
@SathyaJayabal Deployed in Stag env

cc @sachin-maheshwari

[2020-12-18 09:03] sandhiyakavi opened #5263 "Getting Blank page for Blockchain/tco20 pages if accessed from Staging/Prod URL list."
Description:

Getting Blank page for Blockchain/tco20 pages if accessed from Staging (https://staging-community-app.topcoder.com) / Prod (https://community-app.topcoder.com/) URLs list.

Note: But if the pages are accessed directly using below urls. Page is displayed.
https://community-app.topcoder.com/__community__/tco20
https://community-app.topcoder.com/__community__/blockchain

Steps to Reprod

[2020-12-18 09:22] SathyaJayabal commented on #5261
verified on test
<img width="1440" alt="Screenshot 2020-12-18 at 2 13 04 PM" src="https://user-images.githubusercontent.com/58783823/102597353-87fab900-4140-11eb-8c00-de20da444376.png">

[2020-12-18 09:54] sandhiyakavi commented on #5262
Verified. Working as expected.

The following functionalities are tested.

1. Direct Signup
2. Login
3. Community app All page access
4. Register, Unregister and Submit for a challenge.
5. Token refresh
6. Logout.

[2020-12-18 10:10] sachin-maheshwari commented on #5262
Thanks! guys.

[2020-12-18 15:36] rootelement commented on #5069
@luizrrodrigues can we remove the Challenge API Issue label here?

[2020-12-18 15:39] luizrrodrigues commented on #5069
@rootelement done

[2020-12-21 11:33] drasticdpk opened #5264 "Unable to type space while searching the challenge"
**Steps**
 1. Try to type "Topcoder Admin" on Challenge search box.
**Reference**

![image](https://user-images.githubusercontent.com/25297859/102772906-6dc71200-43b0-11eb-837e-0d128e483392.png)

[2020-12-22 00:48] luizrrodrigues commented on #5243
Contest https://www.topcoder.com/challenges/30159644 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-22 00:48] luizrrodrigues commented on #5243
Contest https://www.topcoder.com/challenges/30159644 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-22 01:13] luizrrodrigues commented on #5243
@SathyaJayabal Icon added to Appium and Appium Headspin.

Deployed to QA env.

[2020-12-22 04:31] SathyaJayabal commented on #5243
@luizrrodrigues there are two appium skills
cc @sandhiyakavi
<img width="1440" alt="Screenshot 2020-12-22 at 10 01 10 AM" src="https://user-images.githubusercontent.com/58783823/102849199-aad8e600-443c-11eb-810b-5b1ff4966aad.png">

[2020-12-22 04:37] luizrrodrigues commented on #5243
@SathyaJayabal Deployed to Stag env too.

This issue coming from API, but envs have 2 Appium skills. (118 and 556)

[2020-12-22 04:44] sandhiyakavi commented on #5243
@luizrrodrigues Same issue in Staging also

![image](https://user-images.githubusercontent.com/55895538/102849972-a7088c00-445b-11eb-8436-00c6d8287b06.png)

Also adding Appium Headspin giving error

![image (16)](https://user-images.githubusercontent.com/55895538/102850022-c43d5a80-445b-11eb-8e75-9535f42477bd.png)

[2020-12-22 04:46] SathyaJayabal commented on #5243
@luizrrodrigues , api response for above error `Tag id 602 is not valid`

[2020-12-22 05:08] luizrrodrigues commented on #5243
@SathyaJayabal Thanks.

This an API issue:

![image](https://user-images.githubusercontent.com/7029641/102851419-81976600-43fa-11eb-81a1-06fc2b95978b.png)

[2020-12-22 08:07] sandhiyakavi commented on #5226
Verified in Prod. Able to view the sub communities.

![image](https://user-images.githubusercontent.com/55895538/102864831-299f4480-4478-11eb-81a9-cbcfaf4e6cdb.png)

[2020-12-22 08:13] luizrrodrigues commented on #5264
@SathyaJayabal @sandhiyakavi Deployed in QA env.

[2020-12-22 08:21] sandhiyakavi commented on #5228
Verified in Prod.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/102866129-20af7280-447a-11eb-8ef2-70a550e3a81c.png)

![image](https://user-images.githubusercontent.com/55895538/102866083-11302980-447a-11eb-9624-c945cf38d8e7.png)

[2020-12-22 08:25] sandhiyakavi commented on #5227
Verified in Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/102866474-a9c6a980-447a-11eb-85bf-6806c5d48977.png)

[2020-12-22 08:29] #5228 closed

[2020-12-22 08:31] #5226 closed

[2020-12-22 08:31] #5227 closed

[2020-12-22 09:19] SathyaJayabal commented on #5264
verified
<img width="1429" alt="Screenshot 2020-12-22 at 2 46 01 PM" src="https://user-images.githubusercontent.com/58783823/102871588-9ad4fc80-4464-11eb-8afb-02f30ff2007f.png">
<img width="1426" alt="Screenshot 2020-12-22 at 2 46 58 PM" src="https://user-images.githubusercontent.com/58783823/102871656-b0e2bd00-4464-11eb-9442-9e0a34d94ac2.png">

[2020-12-22 12:19] luizrrodrigues commented on #5259
Contest https://www.topcoder.com/challenges/30159903 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-22 13:38] SathyaJayabal commented on #5261
verified on staging (develop branch)
<img width="1424" alt="Screenshot 2020-12-22 at 7 08 09 PM" src="https://user-images.githubusercontent.com/58783823/102894423-15b00e80-4489-11eb-8b9c-490f2b30188b.png">

[2020-12-22 13:39] SathyaJayabal commented on #5264
verified on staging (develop branch)
<img width="1424" alt="Screenshot 2020-12-22 at 7 09 11 PM" src="https://user-images.githubusercontent.com/58783823/102894513-3a0beb00-4489-11eb-8ece-b71884beab3b.png">

[2020-12-22 14:11] SathyaJayabal commented on #5262
verified the following on staging (develop branch)
Direct Signup
Login
Community app All page access
Register, Unregister and Submit for a challenge.
Token refresh
Logout.

[2020-12-22 15:21] drasticdpk opened #5269 "[$40] Fix issue for automation script."
@nursoltan-s, please fix the issue for below fail test cases of community app.
Mainly we want to find out/solve the time out issue.
Branch : **community-app-tests-poc**
Mode : dev
Please ask here if you have confusion.
https://snipboard.io/jwg60t.jpg
 cc @sushilshinde

[2020-12-22 15:22] luizrrodrigues commented on #5269
Contest https://www.topcoder.com/challenges/30159929 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-22 15:22] luizrrodrigues commented on #5269
Contest https://www.topcoder.com/challenges/30159929 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-22 15:22] #5269 closed

[2020-12-22 15:26] luizrrodrigues commented on #5269
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159929<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-22 17:18] luizrrodrigues commented on #4659
We're moving this issue to Backlog for now.

[2020-12-22 19:39] ajefts opened #5270 "Exclude dev site from search engine indexes"
**Describe the bug**
Our dev site is getting indexed in search engines like google.  We should make sure robots.txt (or the preferred way of doing it) is set to exclude our topcoder-dev.com sites from being indexed. Currently our results are getting watered down by dev links and it also takes users to pages that we don't want to send them to.

**To Reproduce**

Search google for topcoder-dev.com a

[2020-12-22 19:39] ajefts commented on #5270
@Oanh-and-only-Oanh Can you please add this one to the list for one of the next releases?

[2020-12-22 19:49] Dara-K commented on #5243
Hey guys,

The Appium icon is smaller in the design than in the development. If you look carefully, there is some distance from the logo/icon to the border of the gray square. Can we fix this please?
![image](https://user-images.githubusercontent.com/25185079/102927328-6d597480-449f-11eb-978f-6fe6838ad024.png)

[2020-12-23 03:43] sandhiyakavi opened #5271 "Two Appium skills available"
Description:

Two Appium skills available.

![image](https://user-images.githubusercontent.com/55895538/102956915-6e7cb700-451c-11eb-85b9-c10e04a36684.png)

[2020-12-23 03:47] sandhiyakavi commented on #5261
Verified in Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/102957126-fcf13880-451c-11eb-9d3e-ff924d280a3e.png)

[2020-12-23 03:54] sandhiyakavi commented on #5264
Verified in Prod.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/102957514-edbeba80-451d-11eb-9ed5-7d202a955f22.png)

[2020-12-23 04:40] sandhiyakavi commented on #5262
Verified the below functionalities on Prod.Working as expected.

1. Direct Signup
2. Login
3. Password Reset
4. Community app All page access
5. Register, Unregister and Submit for a challenge.
6. Token refresh
7. Logout.

[2020-12-23 04:41] #5261 closed

[2020-12-23 04:41] #5264 closed

[2020-12-23 04:41] #5262 closed

[2020-12-23 06:38] luizrrodrigues commented on #5237
Contest https://www.topcoder.com/challenges/30160022 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-23 06:42] luizrrodrigues commented on #5237
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to
https://github.com/topcoder-platform/community-app/tree/submissions-twice-fix

run `npm run test` before PR

[2020-12-23 06:44] luizrrodrigues commented on #5259
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to
https://github.com/topcoder-platform/community-app/tree/filter-save-fix

run `npm run test` before PR

[2020-12-23 07:36] luizrrodrigues commented on #5237
Contest https://www.topcoder.com/challenges/30160022 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-23 14:07] narekcat commented on #5237
Hi @luizrrodrigues . I am actively working on this issue, I'll finish it in next few hours.

[2020-12-23 14:20] luizrrodrigues commented on #5243
Hey @Dara-K,

To follow the existing way to add icons to Skills, we need to apply padding directly in SVG icon.

Please ref. existing icons here:
https://github.com/topcoder-platform/community-app/tree/develop/src/assets/images/profile/skills

[2020-12-23 14:51] luizrrodrigues commented on #5237
Thanks @narekcat

[2020-12-23 14:56] Dara-K commented on #5243
Noted on that and updated the icons here. Thanks!
[Appium and Headspin Icons Profile.zip](https://github.com/topcoder-platform/community-app/files/5735801/Appium.and.Headspin.Icons.Profile.zip)

[2020-12-23 17:06] luizrrodrigues commented on #5243
@Dara-K Thanks. Deployed in Stag env: https://staging-community-app.topcoder.com/settings/profile#skills

@SathyaJayabal ready for QA.

[2020-12-23 18:14] narekcat commented on #5237
@luizrrodrigues . How can I login locally using production username/password ?

[2020-12-23 18:17] luizrrodrigues commented on #5237
@narekcat To login with Prod data, use your own user/pass.

[2020-12-23 18:19] narekcat commented on #5237
@luizrrodrigues I have followed this steps https://discussions.topcoder.com/discussion/316/how-to-login-locally?view=flat, but I can't login using my username/password.

[2020-12-23 21:54] luizrrodrigues commented on #5237
@narekcat To run with Prod backend:

[code]

[2020-12-24 05:12] SathyaJayabal commented on #5243
@luizrrodrigues , verified
<img width="293" alt="Screenshot 2020-12-24 at 9 34 05 AM" src="https://user-images.githubusercontent.com/58783823/103062614-c37c0400-45d4-11eb-86f9-e9b990378036.png">

[2020-12-24 06:18] SathyaJayabal commented on #5243
@Oanh-and-only-Oanh @luizrrodrigues ,  I ran a test challenge with the Appium and Appium Headspin skills but the
skills were not added to the winner's profile.
Challenge
https://www.topcoder.com/challenges/9a65a3b4-b69d-4ead-b005-6a037c0fdc9c
Winner
https://www.topcoder.com/members/CustomerUser
<img width="1440" alt="Screenshot 2020-12-24 at 11 44 48 AM" src="https://user-images.githubusercontent.

[2020-12-24 08:10] narekcat commented on #5237
@luizrrodrigues I need to login using my production usrname/password, but in `login-locally/setupAuth0WithRedirect.js` file it uses development domain and client Id.
[code]
I need production `clientId` or some other way to login using my production usrname/password, because development beck-end doesn't work correctly.

[2020-12-24 15:51] luizrrodrigues commented on #5259
Contest https://www.topcoder.com/challenges/30159903 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-24 17:41] Oanh-and-only-Oanh commented on #5243
@luizrrodrigues, is the skill added to member API but frontend is not showing it?