[2020-09-18 08:12] luizrrodrigues commented on #4256
@narekcat I'll back to you shortly

[2020-09-18 08:49] sachin-maheshwari commented on #4953
@SathyaJayabal as discuss, there is protocol (http) issue. For the time being, please test with https://www.topcoder-dev.com/challenges and if its work, lets down the priority ?

[2020-09-18 08:59] SathyaJayabal commented on #4953
@sachin-maheshwari , i see the same issue with `https` to
<img width="1440" alt="Screenshot 2020-09-18 at 2 27 37 PM" src="https://user-images.githubusercontent.com/58783823/93578632-31ec6d00-f9bb-11ea-9e7b-af3395c02cc5.png">

[2020-09-18 09:20] SathyaJayabal opened #4955 "Not Logged in user: Clicking on forums link takes the user to the old login form"
1. click on forums link in the header or footer
2. User  is taken to the old login form
https://accounts.topcoder-dev.com/member

expected:
User must be redirected to the new Auth0 login
https://accounts-auth0.topcoder-dev.com/
[forum.mov.zip](https://github.com/topcoder-platform/community-app/files/5244633/forum.mov.zip)
<img width="1440" alt="Screenshot 2020-09-18 at 2 49 32 PM" src="https://use

[2020-09-18 09:25] SathyaJayabal opened #4956 "Accessing the Auth0 page directly does not open the login popup"
1. Access the Auth0 page directly.
actual: Login popup not displayed
expected: Accessing the Auth0 page directly, must open the login popup and redirect to topcoder home page after login
https://accounts-auth0.topcoder-dev.com/
<img width="1440" alt="Screenshot 2020-09-18 at 2 55 01 PM" src="https://user-images.githubusercontent.com/58783823/93581569-f489de80-f9be-11ea-9143-f8c60bd6944e.png">

[2020-09-18 09:42] luizrrodrigues commented on #4953
@sachin-maheshwari Looks like issue with `decodeToken`, returning `NaN` to `userId`

![image](https://user-images.githubusercontent.com/7029641/93583255-faa99c00-f979-11ea-9dec-1b6caf6f4f9e.png)

[2020-09-18 09:50] sachin-maheshwari commented on #4953
@luizrrodrigues is that RS256 token. Something wrong with token.
Token should be like that.
<img width="667" alt="Screenshot 2020-09-18 at 3 19 27 PM" src="https://user-images.githubusercontent.com/6467888/93584050-66aff280-f9c2-11ea-9021-04ef8cad668b.png">

<img width="575" alt="Screenshot 2020-09-18 at 3 19 21 PM" src="https://user-images.githubusercontent.com/6467888/93584043-6283d500-f9c2-11ea

[2020-09-18 10:01] luizrrodrigues commented on #4953
@sachin-maheshwari Yeah, was problem with old token. This works after remove the cookies.

[2020-09-18 12:01] SathyaJayabal opened #4957 "Console error on all pages"
The following console error on all pages
<img width="1440" alt="Screenshot 2020-09-18 at 5 28 09 PM" src="https://user-images.githubusercontent.com/58783823/93595132-cfa06600-f9d4-11ea-8007-07812b9de3ba.png">

[2020-09-18 15:39] Oanh-and-only-Oanh commented on #4527
@cagdas001, please hide the "Role" field in the front-end.

[2020-09-18 15:52] luizrrodrigues commented on #4949
@Oanh-and-only-Oanh This one is duplication of #4527

[2020-09-18 15:55] #4949 closed

[2020-09-18 15:57] luizrrodrigues commented on #4949
Duplicate of #4527

[2020-09-18 17:05] cagdas001 commented on #4527
OK, this will save us from the resources-api issue (necessity of too many API calls to get roles).

We're still waiting for a roadmap on the other issue.

[2020-09-18 17:06] Oanh-and-only-Oanh commented on #4527
what's the other issue again?

[2020-09-18 17:16] Oanh-and-only-Oanh commented on #4931
@ajaysaini9782, can you give an example of a TC handle and email that was recently used to recreate a topgear account and saw this issue?

[2020-09-18 17:22] cagdas001 commented on #4527
We should be able to get submission details without token. This is required for anonymous (not logged-in) users to see profile pages/history. Submission API endpoint expects a token. For privacy concerns, I had proposed a way of omitting unnecessary fields from the response for anonymous users. See https://github.com/topcoder-platform/community-app/issues/4527#issuecomment-686706937 for details

B

[2020-09-18 17:28] Oanh-and-only-Oanh commented on #4527
Can we change the requirement so that at least authenticated (logged-in) users can view challenge profile pages/history?

[2020-09-18 17:32] ajaysaini9782 commented on #4931
@Oanh-and-only-Oanh
Below are the handles that created today but not automatically added to Wipro-All group.
Harish_gowda
PiyaliPal

Email can't share on public issue due to privacy reasons.

[2020-09-18 17:33] cagdas001 commented on #4527
Yes, we can do this. Is this a temporary solution? If it's not, are you sure about this? Anonymous users will not be able to view history

[2020-09-18 17:43] Oanh-and-only-Oanh commented on #4527
Right now, no one can view histories including authenticated logged in
users. It sounds like what's holding up progress on this ticket is the
requirement that profile page/history should be viewable for everyone. So
let's take that requirement out so at least it's viewable for logged in
users.

<https://www.topcoder.com/>

*Oanh Tran*

Product Manager, Community App

732-353-9457

www.topcoder.com

[2020-09-18 17:59] cagdas001 commented on #4527
Okay, I'll do this in that way

But let me note that for future development, as an end-user of the TopCoder, I personally would like to be able to view challenge history as an anonym user as well. Because I can put my profile link in my resume, other online platform profiles, or can send it to someone who is not a member of TC for example. In none of these cases, the related person won't be able t

[2020-09-18 18:04] Oanh-and-only-Oanh commented on #4527
Totally agree and that’s a use case we need to support for the future. This
is a compromise because enabling that viewing as an anonym user is tricky
and will take some time to figure out. Thanks for your help on this
@cagdas001

On Fri, Sep 18, 2020 at 10:59 AM Cagdas U. <notifications@github.com> wrote:

<https://www.topcoder.com/>

*Oanh Tran*

Product Manager, Community App

732-353-9457

www.

[2020-09-18 18:43] Oanh-and-only-Oanh commented on #4931
@mtwomey cany someone on your team look into the logs on the groups processor to help? This doesn't look like a community app issue.

[2020-09-18 19:12] mtwomey commented on #4931
When did it start, when was it last working, is it happening for all users or some users, how are we working around it, ...etc.

[2020-09-18 19:49] cagdas001 commented on #4527
@callmekatootie Some issues

* Even though submission has two reviews, it returns only one review in the `reviews` array. (if `reviewSummation` gets fixed I don't need this since I'll get these details from there)
* The `score` is always 100 in the review returned in `reviews` array. (if `reviewSummation` gets fixed I don't need this since I'll get these details from there)
* `reviewSummation` is

[2020-09-18 23:45] PrakashDurlabhji commented on #4926
@Oanh-and-only-Oanh @luizrrodrigues done in https://github.com/topcoder-platform/community-app/pull/4959

[2020-09-19 05:59] LieutenantRoger commented on #4594
Don't need anything for now.  The new challenge fetch policy has been implemented and can be submitted.

I'm asking to exclude the groupId requirement in the new challenge list as that part seems not relevant to the challenge list.

[2020-09-20 07:11] SathyaJayabal commented on #4953
@luizrrodrigues @sachin-maheshwari , we get the following error on listings page after the token expires
<img width="1440" alt="Screenshot 2020-09-20 at 11 26 38 AM" src="https://user-images.githubusercontent.com/58783823/93705826-3db46c80-fb3e-11ea-98ae-7bfc257a8c7d.png">

Accessing the listings page after login, works fine. This error is displayed only after the token expires.
tested with two us

[2020-09-21 02:08] fikzzzy commented on #4802
@Oanh-and-only-Oanh updated. but for point #2 the style is hardcoded in the html template so its style is replaced the original css
![image](https://user-images.githubusercontent.com/52533791/93728399-04393b00-fbea-11ea-94af-2784ca668571.png)

[2020-09-21 06:09] sachin-maheshwari commented on #4953
@luizrrodrigues please check this.

[2020-09-21 06:16] sachin-maheshwari commented on #4956
@SathyaJayabal  That is designed as such. We can move it from here and file here - https://github.com/topcoder-platform/tc-auth-lib

[2020-09-21 06:18] SathyaJayabal commented on #4956
@sachin-maheshwari If it is designed as such, can we close it?

[2020-09-21 06:22] sachin-maheshwari commented on #4957
@SathyaJayabal that was due to protocol "http" for https it is working.

[2020-09-21 06:24] sachin-maheshwari commented on #4956
Before closing please report at here -  https://github.com/topcoder-platform/tc-auth-lib for further discussion. This is general behavior so will discuss there only.

[2020-09-21 06:27] SathyaJayabal commented on #4956
tracking here
https://github.com/topcoder-platform/tc-auth-lib/issues/10

[2020-09-21 06:27] #4956 closed

[2020-09-21 06:27] sachin-maheshwari commented on #4955
@SathyaJayabal  As i checked in recorded video your were using "http". Please use https and reverify. HTTP is know issue.

[2020-09-21 06:28] SathyaJayabal commented on #4957
@sachin-maheshwari , so will it be fixed for `http` ?

[2020-09-21 06:32] sachin-maheshwari commented on #4957
From intra level we'll fix this.  "New login" will not work on HTTP.

[2020-09-21 06:45] luizrrodrigues commented on #4953
@sachin-maheshwari Currently I'm not able to test this one, because receiving this error when try login:

![image](https://user-images.githubusercontent.com/7029641/93738709-d4c00980-fbbc-11ea-8f23-0ad86d630f86.png)

[2020-09-21 06:54] sachin-maheshwari commented on #4953
@luizrrodrigues can you please logout (https://topcoder-dev.com/logout) and try to login again. Also please share the screen recording if issue still persisting at your end.

[2020-09-21 07:03] sushilshinde opened #4961 "Member Challenges not returning with token"
Member challenges not returning with token

![image](https://user-images.githubusercontent.com/683231/93739691-833c6c80-fc06-11ea-9bd2-5173b4fe9f8f.png)

[code]

But without token challenges are returned (from the browser)
[code]

[2020-09-21 07:05] sushilshinde commented on #4961
@LieutenantRoger @luizrrodrigues FYI

[2020-09-21 07:08] sushilshinde opened #4962 "[$50] Don't display the bucket if there are zero items"
![image](https://user-images.githubusercontent.com/683231/93739963-2f7e5300-fc07-11ea-8a9e-756fe7226316.png)

[2020-09-21 07:35] sandhiyakavi opened #4963 "Challenge listing's loading with a flickering image even after reaching the end of the list."
Description:
Challenge listing's loading with a flickering image even after reaching the end of the list.

Steps to Reproduce:
1. Click My Challenges link in the right side menu bar.

Screenshot:

![image](https://user-images.githubusercontent.com/55895538/93741880-25208100-fc28-11ea-9678-706e1fcd4ccd.png)
[Challenge_listing_loading_issue.zip](https://github.com/topcoder-platform/community-app/fil

[2020-09-21 08:24] sandhiyakavi opened #4964 "[$40] 'View more challenges' link displayed even if all challenges are listed."
Description:
'View more challenges' link displayed even if all challenges are displayed.

Expected result:
'View more challenges' link should not be displayed if all challenges are listed.

Screenshot:
![image](https://user-images.githubusercontent.com/55895538/93745839-230df080-fc2f-11ea-8f84-f5ba1058eaa0.png)

[2020-09-21 08:36] sandhiyakavi opened #4965 "Challenge details page displaying a blank screen"
Description:

Challenge details page displaying a blank screen

![image](https://user-images.githubusercontent.com/55895538/93746902-d5928300-fc30-11ea-83cb-fdb7ac491e6e.png)

[2020-09-21 08:48] sandhiyakavi opened #4966 "[$45] Clear Filter button is active even though no filter is applied."
Description:
Clear Filter button is active even though no filter is applied.

Screenshot:
![image](https://user-images.githubusercontent.com/55895538/93747943-6ddd3780-fc32-11ea-9aff-f5a6d0eb2b2d.png)

[2020-09-21 09:06] sandhiyakavi opened #4967 "Blank screen displayed on clicking the Technology tags in the Challenge listings and Details pages"
Description:
Blank screen displayed on clicking the Technology tags in the Challenge listings page

steps to Reproduce:
1. Go to Challenge listings page.
2. Click a technology tag displayed below a challenge listed.

Expected Result:
Challenges should be filtered (according the particular technology) and listed.

Screenshot:

<img width="958" alt="Filter_by_technology tag" src="https://user-images

[2020-09-21 09:26] sandhiyakavi opened #4968 "Blank screen displayed on challenge listing if not logged in."
Description:
Blank screen displayed on challenge listing if not logged in.

Screenshot:

![image](https://user-images.githubusercontent.com/55895538/93751194-a7647180-fc37-11ea-91cd-f5452b6af149.png)

![image](https://user-images.githubusercontent.com/55895538/93751260-c400a980-fc37-11ea-8352-065613eaec71.png)

[2020-09-21 13:18] SathyaJayabal commented on #4957
tracked here
https://github.com/topcoder-platform/tc-auth-lib/issues/11

[2020-09-21 13:18] #4957 closed

[2020-09-21 13:19] SathyaJayabal commented on #4955
tracked here
https://github.com/topcoder-platform/tc-auth-lib/issues/12

[2020-09-21 13:19] #4955 closed

[2020-09-21 13:20] SathyaJayabal commented on #4954
tracked here
https://github.com/topcoder-platform/tc-auth-lib/issues/13

[2020-09-21 13:20] #4954 closed

[2020-09-21 13:22] SathyaJayabal commented on #4952
tracked here
https://github.com/topcoder-platform/tc-auth-lib/issues/14

[2020-09-21 13:22] #4952 closed

[2020-09-21 13:40] SathyaJayabal opened #4969 "[$40] Topgear Logout: Return url is Null"
Topgear Logout: Return url is Null
Clicking on logout, displays the below page. This is due to the return url being null.

<img width="1440" alt="Screenshot 2020-09-21 at 7 07 40 PM" src="https://user-images.githubusercontent.com/58783823/93773771-193fb980-fc3e-11ea-9859-08606eaeaf2b.png">
<img width="1440" alt="Screenshot 2020-09-21 at 7 09 21 PM" src="https://user-images.githubusercontent.com/58

[2020-09-21 13:52] SathyaJayabal opened #4970 "Update forbidden page login link for subcommunities"
Update the login link for the forbidden pages for the sub communities. This page is displayed when the user is logged and access the sub community page they are not a member of
https://community-app.topcoder.com/__community__/zurich/forbidden
<img width="1440" alt="Screenshot 2020-09-21 at 7 21 05 PM" src="https://user-images.githubusercontent.com/58783823/93775092-a0d9f800-fc3f-11ea-8f2d-c44f14d9

[2020-09-21 13:59] SathyaJayabal commented on #4966
Related: The number of filters applied is not displayed.
<img width="1440" alt="Screenshot 2020-09-21 at 7 28 24 PM" src="https://user-images.githubusercontent.com/58783823/93775985-ad128500-fc40-11ea-8459-586ea6082d3e.png">

[2020-09-21 14:14] SathyaJayabal opened #4971 "Search challenges not working for partial text matches"
When you search for a word, the search does not return partial text matches.
example:
Searching for "Cus" does not return challenges with text Custom or Customer.

<img width="1440" alt="Screenshot 2020-09-21 at 7 43 23 PM" src="https://user-images.githubusercontent.com/58783823/93777738-c4527200-fc42-11ea-89f9-7317f5586845.png">
<img width="1440" alt="Screenshot 2020-09-21 at 7 43 27 PM" src="htt

[2020-09-21 14:16] SathyaJayabal opened #4972 "Past Challenges must be accessible by searching with the date filter"
How do you access past challenges?

Exit:
Past Challenges must be accessible by searching with the date filter

[2020-09-21 14:24] SathyaJayabal opened #4973 "[$50] My Challenges bucket and Open for registration bucket challenges are not sorted by Most Recent"
My Challenges bucket and Open for registration bucket challenges are not sorted by Most Recent
See below comparison with prod.
Most recent must sort based on challenge started date (like in prod)
<img width="1440" alt="Screenshot 2020-09-21 at 7 53 20 PM" src="https://user-images.githubusercontent.com/58783823/93779067-324b6900-fc44-11ea-8ebb-8b4a85b1e428.png">

[2020-09-21 14:26] SathyaJayabal commented on #4962
Related: display "No challenges found" message when search returns no results. See prod for expected behaviour.
<img width="1440" alt="Screenshot 2020-09-21 at 7 55 46 PM" src="https://user-images.githubusercontent.com/58783823/93779341-7ccce580-fc44-11ea-8dd4-5baf3cc386b9.png">

<img width="1440" alt="Screenshot 2020-09-21 at 7 55 37 PM" src="https://user-images.githubusercontent.com/58783823/937

[2020-09-21 14:28] sachin-maheshwari commented on #4970
@luizrrodrigues this is known issue which i mentioned in mater ticket https://github.com/topcoder-platform/community-app/issues/4937. Please fix.

[2020-09-21 14:32] SathyaJayabal opened #4974 "Sort by [A-Z] must display special characters first"
Sort by [A-Z] must display special characters first
<img width="1440" alt="Screenshot 2020-09-21 at 8 01 21 PM" src="https://user-images.githubusercontent.com/58783823/93780055-4f346c00-fc45-11ea-84b7-bbe058124ef0.png">
Comparison with prod
<img width="1440" alt="Screenshot 2020-09-21 at 8 02 03 PM" src="https://user-images.githubusercontent.com/58783823/93780090-58bdd400-fc45-11ea-8f58-df208c95bf

[2020-09-21 14:41] SathyaJayabal opened #4975 "[$25] Ongoing challenge bucket also includes open for registration challenges"
Ongoing challenge bucket also includes open for registration challenges
<img width="1440" alt="Screenshot 2020-09-21 at 8 10 12 PM" src="https://user-images.githubusercontent.com/58783823/93781102-a0912b00-fc46-11ea-9ae7-14953d26300e.png">

[2020-09-21 14:51] SathyaJayabal commented on #4974
Sorting must not take into account the case.
<img width="1440" alt="Screenshot 2020-09-21 at 8 19 07 PM" src="https://user-images.githubusercontent.com/58783823/93782183-e3073780-fc47-11ea-9434-4e9accb19efb.png">
Compare with prod
<img width="1440" alt="Screenshot 2020-09-21 at 8 20 47 PM" src="https://user-images.githubusercontent.com/58783823/93782295-0631e700-fc48-11ea-9661-e94f8627e8d4.png">

[2020-09-21 14:56] SathyaJayabal opened #4976 "Subcommunity Filter: Unable to select TCO20 and TCO21"
Subcommunity Filter: Unable to select TCO20 and TCO21 from the subcommunity dropdown

[TCO20.mov.zip](https://github.com/topcoder-platform/community-app/files/5256183/TCO20.mov.zip)

[2020-09-21 15:03] SathyaJayabal commented on #4963
Even after he last challenges are retrieved, the FE keeps calling the api.
[api calls.mov.zip](https://github.com/topcoder-platform/community-app/files/5256219/api.calls.mov.zip)

[2020-09-21 15:16] Oanh-and-only-Oanh opened #4977 "Downloadable submissions"

[2020-09-21 15:22] #4977 closed

[2020-09-21 15:24] Oanh-and-only-Oanh opened #4978 "Downloadable Submissions"
Registrants can download each other submissions. "Submissions are not viewable" is set in Direct. All registrant irrespective of the passing score, are able to download other submissions.

Example Challenge. 30107821, 30109573, 30109219

duplicate of https://github.com/topcoder-platform/tc-online-review/issues/87#issue-539033196

**Expected Behavior:**
Others' submissions should not be downloadabl

[2020-09-21 15:53] Oanh-and-only-Oanh commented on #4972
@SathyaJayabal, Past challenges should be searched view filter with date rage

[2020-09-21 16:04] Oanh-and-only-Oanh commented on #4969
Please update so if user logs out of Topgear, reroute the user to https://accounts.topcoder.com/member

[2020-09-21 16:15] Oanh-and-only-Oanh commented on #4488
@SathyaJayabal @sandhiyakavi, can you verify if this is still an issue in testing or staging after the new listings implementation?

[2020-09-21 16:18] crazyk07 commented on #4794
Contest https://www.topcoder.com/challenges/30142851 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-21 16:18] crazyk07 commented on #4794
Contest https://www.topcoder.com/challenges/30142851 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-21 16:20] Oanh-and-only-Oanh commented on #4794
@cagdas001, so is this a resource api issue and that it should return the maxRating instead of particular rating for the track?

[2020-09-21 16:22] Oanh-and-only-Oanh commented on #4920
@gets0ul, please provide status update asap.

[2020-09-21 16:25] Oanh-and-only-Oanh commented on #4934
@sandhiyakavi, can you verify if this is still an issue in staging or testing after the new listings implementation?

[2020-09-21 16:26] Oanh-and-only-Oanh commented on #3122
@SathyaJayabal @sandhiyakavi can you verify in staging or testing if issue is still there after new listings implementation?

[2020-09-21 16:28] Oanh-and-only-Oanh commented on #4112
@SathyaJayabal @sandhiyakavi, please verify if issue is resolved after new listing implementation. thank you.

[2020-09-21 16:32] LieutenantRoger commented on #4972
@SathyaJayabal  Correct, the past challenges bucket is removed, please close this ticket. @Oanh-and-only-Oanh

[2020-09-21 16:35] Oanh-and-only-Oanh opened #4979 "Open for Review count is empty"
**Describe the bug**
"Open for Review" bucket does not have a count even when there are available challenges

Steps to Reproduce:

1. Click Open for Review link
2. See screenshot
![image](https://user-images.githubusercontent.com/47536078/93795068-c4745280-fbed-11ea-9ebd-083c29b9aee8.png)

[2020-09-21 16:38] cagdas001 commented on #4794
What I wrote applies to #4947 This issue is another story I guess, have not investigated this one. In #4947 , you're right we're getting rating from resources-api so it's a resources-api issue. Take a look at this comment https://github.com/topcoder-platform/community-app/issues/4947#issuecomment-694458962 for detailed info

[2020-09-21 16:38] LieutenantRoger commented on #4973
@rootelement  Currently the sorting function is implemented like this:

`https://api.topcoder-dev.com/v5/challenges/?status=Active&currentPhaseName=Registration&perPage=10&page=1&sortBy=updated&sortOrder=desc&tracks[]=Dev&tracks[]=Des&tracks[]=DS&tracks[]=QA`

Note the field:   sortBy=updated&sortOrder=desc,   please let me know if there's counter part in V5 API to sort the challenges with `Most R

[2020-09-21 16:41] LieutenantRoger commented on #4974
@rootelement

Currently the sort [A-Z] is implemented like this:

`https://api.topcoder-dev.com/v5/challenges/?status=Active&memberId=8547899&perPage=10&page=1&sortBy=name&sortOrder=asc&tracks[]=Dev&tracks[]=Des&tracks[]=DS&tracks[]=QA`

`sortBy=name&sortOrder=asc`

Please let me know if there's counter part way to sort the challenges per the requests above.

[2020-09-21 16:43] Oanh-and-only-Oanh commented on #4972
@SathyaJayabal please verify that Past challenges should be searched view filter with date rage before closing. I was not able to do so... @LieutenantRoger

[2020-09-21 16:43] SathyaJayabal commented on #4972
@LieutenantRoger, but you are not able to search past challenges using keyword search nor the date filter
<img width="1440" alt="Screenshot 2020-09-21 at 10 12 15 PM" src="https://user-images.githubusercontent.com/58783823/93795854-9e839800-fc57-11ea-8431-df9d2a92c6e3.png">

[2020-09-21 16:43] LieutenantRoger commented on #4975
@rootelement

Currently the `On Going Challenge` is requested like this:

`Request URL: https://api.topcoder-dev.com/v5/challenges/?status=Active&currentPhaseName=Submission&perPage=10&page=1&sortBy=updated&sortOrder=desc&tracks[]=Dev&tracks[]=Des&tracks[]=DS&tracks[]=QA`

Please advise if we have another filter to exclude the 'Open For Registration` challenges from `On Going Challenges`

[2020-09-21 16:45] Oanh-and-only-Oanh commented on #4947
@rootelement this a resource api issue and that it should return the maxRating instead of particular rating for the track. Please help.

[2020-09-21 16:46] callmekatootie commented on #4527
@cagdas001 Apologies for the delayed response. I'll look into this and get back at the earliest

[2020-09-21 16:52] LieutenantRoger commented on #4976
This appears to be the `TCO20` and `TCO21` are not returning the groupIds,  when I couldn't find an groupId, I made it to select 'All'

This could be relevant with the groupIds enhancements feature.

[2020-09-21 16:52] cagdas001 commented on #4947
It currently returns maxRating, we need particular ratings for different tracks/types. It should detect the challenge track/type by `challengeId` parameter, and return the `rating` based on this. Or should return all ratings so we can get particular rating at frontend. This comment explains the issue and what we need: https://github.com/topcoder-platform/community-app/issues/4947#issuecomment-6944

[2020-09-21 16:54] LieutenantRoger commented on #4979
@Oanh-and-only-Oanh   `Open For Review bucket` doesn't have count before as well.

[2020-09-21 16:56] LieutenantRoger commented on #4971
@rootelement

This search is using below query:

`https://api.topcoder-dev.com/v5/challenges/?name=Cus&status=Active&isLightweight=true&perPage=1&tracks[]=Dev&tracks[]=Des&tracks[]=DS&tracks[]=QA`

It looks the backend will do the exact match search, please advise how we implement partial match search operation like above.

[2020-09-21 17:12] Oanh-and-only-Oanh commented on #4979
@LieutenantRoger reprioritizing this ticket then to P4. A count would be nice but because this is a new thing, we can hold off for now.

[2020-09-21 17:22] LieutenantRoger commented on #4979
@Oanh-and-only-Oanh  Based on current fetching challenge logic, we won't know the number until
1. we open up the `Open For Review` bucket
2. wait for the requests to fetch the `review opportunities` complete.

So I think this is not feasible requirement with our current setup.

[2020-09-21 17:24] Oanh-and-only-Oanh commented on #4979
Closing due to feasibility assessment

[2020-09-21 17:24] #4979 closed

[2020-09-21 18:05] rootelement commented on #4971
Issue opened here:
https://github.com/topcoder-platform/challenge-api/issues/297

Please continue assuming search will be fixed on the API side. The query you have there is valid.

[2020-09-21 19:22] Oanh-and-only-Oanh commented on #4975
Just to clarify, we do not want `Ongoing Challenges` filter to show` Open for Registration` challenges. The behavior in PROD right now seems to be the same- they are separate.

[2020-09-21 21:12] Oanh-and-only-Oanh commented on #4143
closing due to duplicate issue

[2020-09-21 21:12] #4143 closed

[2020-09-21 22:40] Oanh-and-only-Oanh opened #4980 "All Challenges and Ongoing Challenges count is incorrect and Ongoing Challenges does not return all Ongoing Challenges"
**Bug:**
The count on the All Challenges filter is not accurate.

**How to reproduce:**
1. go to https://staging-community-app.topcoder.com/challenges?
2. Turn off all track filters except for QA track
3. click on All Challenges filter
3. See that count is 22 but only 2 challenges show
![image](https://user-images.githubusercontent.com/47536078/93828771-e3d8a300-fc20-11ea-8757-0d6f711d1095.png)

[2020-09-21 22:44] Oanh-and-only-Oanh opened #4981 "URL not updating based on filter settings"
**Bug:**
The URL remains https://staging-community-app.topcoder.com/challenges? regardless of filter settings

**How to reproduce the bug:**
1. got to https://staging-community-app.topcoder.com/challenges?
2. turn off track filters
3. see that the URL remains unchanged
Observe unchanging URLs in screenshots even though filters have changed
![image](https://user-images.githubusercontent.com/4753607

[2020-09-22 00:59] luizrrodrigues commented on #4953
@sachin-maheshwari I'm still getting this error when try login with user:  `luizrrodrigues/appirio123`

If login with `dan_developer/dantopcoder123` login works fine.

@SathyaJayabal @lakshmiathreya Your test users working well?

[2020-09-22 02:54] luizrrodrigues commented on #4953
@sachin-maheshwari About issue reported by @SathyaJayabal

When get new token the new logic just update cookies:
https://github.com/topcoder-platform/tc-auth-lib/blob/b5fcb9ace6ab39a9e95718c9f03e8bd04f4bb0bf/web-assets/js/setupAuth0.js#L185-L187

So I think we need add again timeout check to `community-app`, but change to just update redux vars `tokenV2` and `tokenV3`
https://github.com/topcoder-p

[2020-09-22 03:46] SathyaJayabal opened #4982 "[$40] Add more Sort Options"
We have only the sort by `most recent` and `Title A-Z`. Are we going to add the rest.

My Challenges:

- Time to submit
- number of registrants
- number of submissions
- Prize high to low

Open for Registration:

- Time to Register
- Time to Submit
- number of registrants
- number of submissions
- Prize high to low

Ongoing Challenges:

- Current Phase
- Prize high to low

[2020-09-22 03:51] SathyaJayabal commented on #3312
tracking here #4964

[2020-09-22 03:51] #3312 closed

[2020-09-22 03:57] sachin-maheshwari commented on #4953
@luizrrodrigues luizrrodrigues/appirio123 this was data issue, so many users are available with same email id i.e. "email@domain.com.z", so for the time i changed your email-id to "luizrrodrigues@domain.com". Now able to login.

[2020-09-22 04:03] sachin-maheshwari commented on #4953
@luizrrodrigues  Please add if anything needed at community end (I am not aware of whole design of this app). From my end, logics are simple -
1 - Authentication  (there is new url i.e. https://accounts-auth0......)
2- Authorization  (https://github.com/topcoder-platform/community-app/blob/feature/auth0-RS256-Idtoken/package.json#L137)
3- Refresh token  (iframe url i.e. https://accounts-auth0.....

[2020-09-22 04:06] SathyaJayabal commented on #4982
cc @Oanh-and-only-Oanh @sushilshinde

[2020-09-22 04:12] SathyaJayabal commented on #4980
@LieutenantRoger , the ongoing challenges bucket is missing some of the challenges
example when u filter by few tracks. See comparison with prod
<img width="1440" alt="Screenshot 2020-09-22 at 9 42 18 AM" src="https://user-images.githubusercontent.com/58783823/93843581-f0f4a100-fcb7-11ea-9fc1-237a59520b70.png">
<img width="1440" alt="Screenshot 2020-09-22 at 9 42 21 AM" src="https://user-images.gi

[2020-09-22 04:27] luizrrodrigues commented on #4953
@sachin-maheshwari Okay, cool. I'll update and PR ASAP

[2020-09-22 04:29] sandhiyakavi commented on #4968
Verified. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/93844295-a8e57680-fcd7-11ea-9f2b-404a1ea55c12.png)

[2020-09-22 04:41] sandhiyakavi commented on #4967
@LieutenantRoger : Filtering the challenges according to the keyword (Technology) is not working.

![image](https://user-images.githubusercontent.com/55895538/93844736-2fe71e80-fcd9-11ea-94da-71fd3e0053f8.png)

video:

[Keyword_filter_Fails.zip](https://github.com/topcoder-platform/community-app/files/5259205/Keyword_filter_Fails.zip)

[2020-09-22 04:51] sandhiyakavi commented on #4966
@LieutenantRoger : Clear filter button is working as expected but the number of Filters applied is not displaying yet.

![image](https://user-images.githubusercontent.com/55895538/93845084-7c7f2980-fcda-11ea-9d71-e6f884cb4eda.png)

video:
[Clear_button_working.zip](https://github.com/topcoder-platform/community-app/files/5259230/Clear_button_working.zip)

[2020-09-22 04:58] SathyaJayabal commented on #4967
@LieutenantRoger , when I search by keywords I see more number of challenges
<img width="1440" alt="Screenshot 2020-09-22 at 10 27 10 AM" src="https://user-images.githubusercontent.com/58783823/93845417-5a77ae00-fcbe-11ea-9248-9fac2eeb0f34.png">
<img width="1440" alt="Screenshot 2020-09-22 at 10 27 38 AM" src="https://user-images.githubusercontent.com/58783823/93845424-61062580-fcbe-11ea-9ac3-fcfa

[2020-09-22 05:41] SathyaJayabal opened #4984 "[$75] Search by date filter"
The current implementation, returns all challenges that are active within the specified date ranges.
But the new implementation does not return these challenges. Not sure how the new search works, it does not even return challenges which have the start date with the specified date range.

Please compare results with prod.
<img width="1440" alt="Screenshot 2020-09-22 at 11 05 44 AM" src="https://us

[2020-09-22 09:24] crazyk07 commented on #4784
Contest https://www.topcoder.com/challenges/30143099 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-22 09:27] luizrrodrigues commented on #4784
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/milestone-20200917
https://github.com/topcoder-platform/topcoder-react-lib/tree/milestone-20200917

run `npm run` test before PR

[2020-09-22 09:32] crazyk07 commented on #4784
Contest https://www.topcoder.com/challenges/30143099 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-22 09:34] luizrrodrigues commented on #4784
@narekcat Please follow what we have done to challenge legacyId.

Thanks.

[2020-09-22 09:46] narekcat commented on #4784
@luizrrodrigues Ok.

[2020-09-22 11:01] SathyaJayabal commented on #4953
@luizrrodrigues still see the error on both staging and dev. messaged you the user details
<img width="1440" alt="Screenshot 2020-09-22 at 4 05 03 PM" src="https://user-images.githubusercontent.com/58783823/93874483-1356e080-fcf1-11ea-98e4-bb31d7abbe95.png">
<img width="1440" alt="Screenshot 2020-09-22 at 4 05 09 PM" src="https://user-images.githubusercontent.com/58783823/93874494-1782fe00-fcf1-11

[2020-09-22 11:07] luizrrodrigues commented on #4953
@SathyaJayabal Please try with user `TonyJ` in dev env.

[2020-09-22 11:15] luizrrodrigues commented on #4953
@SathyaJayabal `CustomerUser` refresh works here:

![image](https://user-images.githubusercontent.com/7029641/93875627-b553da00-fcab-11ea-953c-e9231dcffe9e.png)

[2020-09-22 11:16] sandhiyakavi commented on #4934
@Oanh-and-only-Oanh, currently the blank screen is displayed for challenge details page (issue #[4965](https://github.com/topcoder-platform/community-app/issues/4965)) for the new listings implementation.
Will verify once issue #4965 got resolved.

[2020-09-22 11:26] SathyaJayabal commented on #4953
@luizrrodrigues , I am getting this error
<img width="1440" alt="Screenshot 2020-09-22 at 4 52 37 PM" src="https://user-images.githubusercontent.com/58783823/93876458-8150d700-fcf4-11ea-8d21-331339db9ee0.png">
<img width="1440" alt="Screenshot 2020-09-22 at 4 54 53 PM" src="https://user-images.githubusercontent.com/58783823/93876483-8c0b6c00-fcf4-11ea-9390-db1058dde3e2.png">

[2020-09-22 11:40] luizrrodrigues commented on #4953
@SathyaJayabal Thanks, looks like now this error only happen with incognito window and coming from auth lib:

[code]

cc @sachin-maheshwari

[2020-09-22 12:39] callmekatootie commented on #4527
1. @rootelement Need help here. I don't have access prod endpoints so cannot determine why, for that member and contest, only 1 review exists.
2. @cagdas001 The score depends on the review type. For example, if it is anti virus scan review, the score will be either 0 or 100 (and never in between). Thus, you would need to use the `typeId` in the review that tells you which type of review it is... Y

[2020-09-22 12:57] cagdas001 commented on #4527
@callmekatootie  I just checked the type of returned review by its typeId, looks like it's a Virus Scan. It doesn't list other reviews

[2020-09-22 12:59] callmekatootie commented on #4527
@cagdas001 Then I get a feeling that the reviews that you need may not be from submission api. @rootelement might have more info here...

[2020-09-22 13:48] crazyk07 commented on #4966
Contest https://www.topcoder.com/challenges/30143149 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-22 13:49] crazyk07 commented on #4966
Contest https://www.topcoder.com/challenges/30143149 has been updated - it has been assigned to lieutenantroger.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-22 13:58] Oanh-and-only-Oanh commented on #4982
We can add the following:

My Challenges:
Time to submit
Prize high to low

Open for Registration:
Time to Register
Time to Submit
Prize high to low

Ongoing Challenges:
Current Phase
Prize high to low

[2020-09-22 14:26] luizrrodrigues commented on #4875
@cagdas001 Any update on this one?

[2020-09-22 14:35] LieutenantRoger commented on #4967
@SathyaJayabal  Are you sure the staging is deploying my code ?  Please see the staging when I have Other as the filter, it looked like this: https://take.ms/vJaTs

And in my local, before filter:

https://take.ms/h1l3Z

After filter

https://take.ms/b4W6b

[2020-09-22 14:38] Oanh-and-only-Oanh commented on #4298
update:
https://www.topcoder.com/challenges/15948 don't know where this comes from.
https://www.topcoder.com/challenges/16040 not in v4 or MM ES.

[2020-09-22 14:43] LieutenantRoger commented on #4980
@rootelement

Could you take a look if I have used the correct filter when fetching challenge data

'All Challenges' count: `Request URL: https://api.topcoder-dev.com/v5/challenges/?status=Active&isLightweight=true&perPage=1&tracks[]=Dev&tracks[]=Des&tracks[]=DS&tracks[]=QA`

'Ongoing Challenges':  `Request URL: https://api.topcoder-dev.com/v5/challenges/?status=Active&currentPhaseName=Submission&

[2020-09-22 14:57] Oanh-and-only-Oanh commented on #4947
@urwithat and @RishiRajSahu, can you please help with this ratings ticket?

[2020-09-22 15:07] luizrrodrigues commented on #4962
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/feature-refactor-challengelist
https://github.com/topcoder-platform/topcoder-react-lib/tree/feature-refactor-challengelist

run `npm run` test before PR

[2020-09-22 15:07] crazyk07 commented on #4962
Contest https://www.topcoder.com/challenges/30143197 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-22 15:07] crazyk07 commented on #4971
Contest https://www.topcoder.com/challenges/30143198 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-22 15:08] luizrrodrigues commented on #4971
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/feature-refactor-challengelist
https://github.com/topcoder-platform/topcoder-react-lib/tree/feature-refactor-challengelist

run `npm run` test before PR

[2020-09-22 15:08] crazyk07 commented on #4975
Contest https://www.topcoder.com/challenges/30143199 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-22 15:08] luizrrodrigues commented on #4975
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/feature-refactor-challengelist
https://github.com/topcoder-platform/topcoder-react-lib/tree/feature-refactor-challengelist

run `npm run` test before PR

[2020-09-22 15:08] crazyk07 commented on #4981
Contest https://www.topcoder.com/challenges/30143200 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-22 15:08] luizrrodrigues commented on #4981
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/feature-refactor-challengelist
https://github.com/topcoder-platform/topcoder-react-lib/tree/feature-refactor-challengelist

run `npm run` test before PR

[2020-09-22 15:10] crazyk07 commented on #4973
Contest https://www.topcoder.com/challenges/30143201 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-22 15:10] luizrrodrigues commented on #4973
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/feature-refactor-challengelist
https://github.com/topcoder-platform/topcoder-react-lib/tree/feature-refactor-challengelist

run `npm run` test before PR

[2020-09-22 15:10] luizrrodrigues commented on #4966
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/feature-refactor-challengelist
https://github.com/topcoder-platform/topcoder-react-lib/tree/feature-refactor-challengelist

run `npm run` test before PR

[2020-09-22 15:10] crazyk07 commented on #4964
Contest https://www.topcoder.com/challenges/30143202 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-22 15:10] luizrrodrigues commented on #4964
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/feature-refactor-challengelist
https://github.com/topcoder-platform/topcoder-react-lib/tree/feature-refactor-challengelist

run `npm run` test before PR

[2020-09-22 15:10] crazyk07 commented on #4975
Contest https://www.topcoder.com/challenges/30143199 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-22 15:10] crazyk07 commented on #4982
Contest https://www.topcoder.com/challenges/30143203 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-22 15:10] luizrrodrigues commented on #4982
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/feature-refactor-challengelist
https://github.com/topcoder-platform/topcoder-react-lib/tree/feature-refactor-challengelist

run `npm run` test before PR

[2020-09-22 15:11] crazyk07 commented on #4984
Contest https://www.topcoder.com/challenges/30143204 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-22 15:11] luizrrodrigues commented on #4984
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/feature-refactor-challengelist
https://github.com/topcoder-platform/topcoder-react-lib/tree/feature-refactor-challengelist

run `npm run` test before PR

[2020-09-22 15:28] narekcat commented on #4784
@luizrrodrigues I have tried to get terms details with `legacyId` via `https://api.topcoder-dev.com/v5/terms?legacyId=` using m2m token, in production environment, but it returns error 403 with message "You are not allowed to perform this action!". I think the problem is with back end. Am I right ?

[2020-09-22 15:43] crazyk07 commented on #4964
Contest https://www.topcoder.com/challenges/30143202 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-22 18:01] luizrrodrigues commented on #4784
@narekcat this call need works without auth

[2020-09-22 18:04] narekcat commented on #4784
@luizrrodrigues Now it returns 'No token provided.'. I'll fix this issue, but I can test it after api will be fixed, is it ok ?

[2020-09-22 18:38] luizrrodrigues commented on #4784
@narekcat okay, sure. I'll test api shortly

[2020-09-22 18:56] rootelement commented on #4784
This will not work in prod until terms is deployed. I will schedule that for tonight

[2020-09-22 19:02] narekcat commented on #4784
Okay.

[2020-09-22 19:08] Oanh-and-only-Oanh commented on #4972
Closing issue.

It's not an issue - we allow members who submit in the last round to see the source of the others.
this was something we actually wanted - it has not always worked for design - at some point last year it went live/started working. Correct functionality is that if you submit to the challenge (final round of a challenge) a benefit is you can see the source of the other members and le

[2020-09-22 19:09] Oanh-and-only-Oanh commented on #4978
Closing issue.

It's not an issue - we allow members who submit in the last round to see the source of the others.
this was something we actually wanted - it has not always worked for design - at some point last year it went live/started working. Correct functionality is that if you submit to the challenge (final round of a challenge) a benefit is you can see the source of the other members and le

[2020-09-22 19:09] #4978 closed

[2020-09-22 19:57] cagdas001 commented on #4975
@luizrrodrigues We were handling the bucket filtering at frontend before, but I now see these filtering codes are commented out with this commit:  https://github.com/topcoder-platform/community-app/commit/dc52de06a3752058561efd63246182ef4057389a What is your purpose by this? You're intending to handle filtering with a pure backend solution? (i.e. with query parameters)

[2020-09-22 20:20] Oanh-and-only-Oanh commented on #4975
Yes, this whole revamp is to improve the performance of the challenge listings page (filters, buckets, tags, search, etc) on this page using backend solution.

[2020-09-22 22:20] luizrrodrigues commented on #4975
Yes, filters will be done in backend side, so ever when apply a filter will call the api to get results.

[2020-09-22 22:35] cagdas001 commented on #4975
I got your point, but this call (https://github.com/topcoder-platform/community-app/issues/4975#issuecomment-696234865) itself cannot purely handle the filtering for ongoing challenges. Because some challenges may have both `Registration` and `Submission` phases (so both phases are open) in `currentPhaseNames` field. For instance, http://api.topcoder-dev.com/v5/challenges/c5d082e2-8045-49c3-82c1-0

[2020-09-22 23:54] luizrrodrigues commented on #4975
@cagdas001 Have tried this one: https://github.com/topcoder-platform/challenge-api/blob/6c897144a90e56ea6148fd5f415dacfd0aeadf76/docs/swagger.yaml#L264-L269

[2020-09-23 00:09] cagdas001 commented on #4975
While this filter should work in theory, but V5 Challenge API has some issues with these date fields (`registrationEndDate` etc.) I have explained it in one of previous issues: https://github.com/topcoder-platform/community-app/issues/4755#issuecomment-686441619 So it will probably end up with wrong challenges in bucket and a QA Fail if I apply this filter.

For e.g. the challenge I have shown in

[2020-09-23 02:53] Oanh-and-only-Oanh commented on #4802
@sandhiyakavi, can you confirm that BOLD and ITALICS are working?

[2020-09-23 04:31] crazyk07 commented on #4966
Contest https://www.topcoder.com/challenges/30143149 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-23 04:53] m-yadav opened #4987 "Challenge tags not being updated on challenge details page"
**Describe the bug**
Challenge technology tags are not being updated on the challenge details page. Ideally the technology tags added in direct should be visible on the challenge details page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/challenges/64e290dd-8a33-4132-a30b-7c260d7793ba' You will see below snippet

![image](https://user-images.githubuserconte

[2020-09-23 07:39] sushilshinde commented on #4963
@LieutenantRoger PR?

[2020-09-23 08:02] SathyaJayabal commented on #4966
Verified on test env
<img width="1440" alt="Screenshot 2020-09-23 at 1 30 56 PM" src="https://user-images.githubusercontent.com/58783823/93984196-21fcd080-fda1-11ea-8d63-214da1541034.png">

[2020-09-23 08:28] narekcat commented on #4964
@luizrrodrigues I have fixed this issue, see pull request https://github.com/topcoder-platform/community-app/pull/4989.

[2020-09-23 09:15] crazyk07 commented on #4973
Contest https://www.topcoder.com/challenges/30143201 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-23 09:48] anumum commented on #4811
Error : visitorGroups.map is not a function

Laptop (please complete the following information):

OS: Windows 10 Home
Browser : Chrome and Edge
Browser Version: 85.0.4183.102 and Version 85.0.564.51

User Handle: ANUMUM
Has access to Wipro Groups

[2020-09-23 10:02] crazyk07 commented on #4962
Contest https://www.topcoder.com/challenges/30143197 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-23 10:02] swathi-tanuboddi commented on #4811
Hi,

Please find the below details.

OS: Windows 10 pro
Browser : Chrome and Edge
Browser Version: 85.0.4183.83 and 85.0.564.51

PS: getting the same error when trying in other systems as well.

Thanks & Regards,
Swathi Tanuboddi
Project Engineer | MAS-OEA-AUTOMATION
M: +91 6302806879/ 9491227240
Wipro Limited
Hyderabad, India
CEP-ORACLE - Automation – Virtual Demo’s – 7th Sep to 22nd Sep,2020

Fr

[2020-09-23 10:06] narekcat commented on #4784
@luizrrodrigues I have fixed this issue, see pull requests:
https://github.com/topcoder-platform/community-app/pull/4990
https://github.com/topcoder-platform/topcoder-react-lib/pull/254
I have tested it using mock data for legacy term, I'll test it again when terms api will be deployed.

[2020-09-23 10:11] crazyk07 commented on #4981
Contest https://www.topcoder.com/challenges/30143200 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-23 10:45] gets0ul commented on #4920
@Oanh-and-only-Oanh I thought I have provided my comment above that fix is needed to be made in https://github.com/topcoder-platform/legacy-challenge-migration-script
and I'm waiting confirmation if that's ok and which branch I should use on that repo.

[2020-09-23 12:36] cagdas001 commented on #4971
@luizrrodrigues can you clarify if this is open for pick up or not? According to the @LieutenantRoger and @rootelement 's comments this is an API issue and once it's resolved there'll be no issue at frontend as well.

[2020-09-23 12:36] crazyk07 commented on #4984
Contest https://www.topcoder.com/challenges/30143204 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-23 12:51] SathyaJayabal commented on #4971
@cagdas001 , this is not open for pickup, Sorry

[2020-09-23 12:58] cagdas001 commented on #4984
@luizrrodrigues @SathyaJayabal can't reproduce. I shows same challenges with prod. Please check if it's still an issue

| Staging | Prod |
| ---- | ---- |
| ![chrome_2020-09-23_15-55-06](https://user-images.githubusercontent.com/28513447/94015399-790ca080-fdb5-11ea-8e09-58e7f6767443.png) | ![chrome_2020-09-23_15-55-24](https://user-images.githubusercontent.com/28513447/94015434-8590f900-fdb5-11ea-

[2020-09-23 13:51] skyhit commented on #4659
@Oanh-and-only-Oanh Can you provide the exported svg icons for the editor toolbar's buttons?

[2020-09-23 14:03] luizrrodrigues commented on #4971
@cagdas001 sorry, you right now need wait for API.

Thanks @SathyaJayabal

[2020-09-23 14:04] SathyaJayabal commented on #4984
@cagdas001 , please use test env, Staging is in use for another testing.

[2020-09-23 14:08] cagdas001 commented on #4984
What's the url of test env? I had checked the network tab with staging and it was calling the backend to apply filter, as expected

[2020-09-23 14:09] luizrrodrigues commented on #4975
@cagdas001 Checking...

[2020-09-23 14:17] luizrrodrigues commented on #4984
@cagdas001 https://test-community-app.topcoder-dev.com/

[2020-09-23 14:27] cagdas001 commented on #4984
I guess I've been banned:
![2020-09-23_17-23-21](https://user-images.githubusercontent.com/28513447/94026131-f6d6a900-fdc1-11ea-9b86-6ba6c01fb330.png)

[2020-09-23 14:28] luizrrodrigues commented on #4984
@cagdas001 Try access challenges: https://test-community-app.topcoder-dev.com/challenges

[2020-09-23 14:28] cagdas001 commented on #4984
Yes I can access the test-community-app, but tried to access topcoder-dev.com to compare results

[2020-09-23 14:29] LieutenantRoger commented on #4963
@sushilshinde  I have submitted the code to the branch `feature-refactor-challengelist-fixes` directly per the instruction in the slack.

[2020-09-23 14:30] luizrrodrigues commented on #4984
@cagdas001 Ah sorry, no able to access challenges directly? https://www.topcoder-dev.com/challenges

[2020-09-23 14:31] LieutenantRoger commented on #4972
@SathyaJayabal

Please change the ticket description about what the problem, instead of posting a snapshot in the conversation.

The main description apparently a false one.

[2020-09-23 14:32] cagdas001 commented on #4984
That wasnt working either, but looks like the issue has gone away now. Its working

[2020-09-23 14:33] luizrrodrigues commented on #4784
Thanks @rootelement, looks good here.

@narekcat ☝️

[2020-09-23 14:34] narekcat commented on #4784
@rootelement @luizrrodrigues Okay, I'll try it again.

[2020-09-23 14:44] SathyaJayabal commented on #4984
@cagdas001 , you can use qa env for comparison
https://qa-community-app.topcoder-dev.com/challenges

[2020-09-23 14:50] SathyaJayabal commented on #4488
@Oanh-and-only-Oanh , this issue is resolved with listings implementation.We will test and close this when we release the new listings fixes.

[2020-09-23 15:21] LieutenantRoger commented on #4963
PR is here: https://github.com/topcoder-platform/community-app/pull/4993

[2020-09-23 15:21] LieutenantRoger commented on #4972
PR is here: https://github.com/topcoder-platform/community-app/pull/4993

[2020-09-23 15:23] LieutenantRoger commented on #4112
This ticket is only for verifying:  so please verify it along with this ticket:  https://github.com/topcoder-platform/community-app/issues/4972

[2020-09-23 15:24] LieutenantRoger commented on #4967
@SathyaJayabal  Please double check based on the snapshots I provided above.

[2020-09-23 15:25] LieutenantRoger commented on #4967
@sushilshinde

[2020-09-23 15:31] LieutenantRoger commented on #4967
The keyword under `dev` environment is working as expected.
I couldn't find `TypeScript` keyword under `dev` environment,  please better provide the API request sent as well

Have you tried otherwise keywords ?  This is very possibly due to the API issue.

[2020-09-23 15:47] Oanh-and-only-Oanh commented on #4920
@luizrrodrigues, can you take a look at @gets0ul's comment https://github.com/topcoder-platform/community-app/issues/4920#issuecomment-694499588.

[2020-09-23 15:48] Oanh-and-only-Oanh commented on #4659
@Dara-K, can you provide requested svg icons?

[2020-09-23 15:51] narekcat commented on #4784
@rootelement @luizrrodrigues This url `https://api.topcoder.com/v5/terms?legacyId=21343` doesn't return term details `text` field. Is the problem with back end ? Actually I can do new request with new uuid (https://api.topcoder.com/v5/terms/876e9802-eb2c-4779-a2a8-8dd8e7fb783d) to get term details `text`. Need I make two request to get term details text ?

[2020-09-23 16:05] crazyk07 commented on #4982
Contest https://www.topcoder.com/challenges/30143203 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-23 16:16] rootelement commented on #4784
1. Yes, that was intentional @narekcat because if you list terms out with GET /v5/terms, the payload was huge because some of the terms bodies are very large, so you should do that.
2. Where are we getting legacy terms IDs again? The challenge object should have v5 uuids.

But regardless of 2, the use case is to convert the legacy id to a uuid using the first call you mention, then requesting the

[2020-09-23 16:36] luizrrodrigues commented on #4784
@narekcat Basically we just need check if URL have legacyId, if yes, then we need to redirect to UIID.

So:
- User access https://www.topcoder.com/challenges/terms/detail/21343
- FE will call `https://api.topcoder.com/v5/terms?legacyId=21343` and get UUID
- FE redirect to https://www.topcoder.com/challenges/terms/detail/876e9802-eb2c-4779-a2a8-8dd8e7fb783d
- FE call terms details from `https://api

[2020-09-23 16:40] narekcat commented on #4784
@rootelement @luizrrodrigues Okay, thanks I understood.

[2020-09-23 16:44] ajefts opened #4994 "Add Marathon submission link to MM challenges"
Can we add a link to https://www.topcoder.com/thrive/articles/How%20To%20Compete%20in%20a%20Marathon%20Match to every Marathon match?  Maybe put it in the sidebar?  This is important for all members to have access to when competiting in an MM.

[2020-09-23 19:21] luizrrodrigues commented on #4920
@rootelement Can you take a look on this comment please:
https://github.com/topcoder-platform/community-app/issues/4920#issuecomment-694499588

[2020-09-23 22:01] rootelement commented on #4920
This doesn't make any sense, because if members are registering through the frontend community app using v5 challenges and v5 resources, that chunk of code outlined above doesn't apply. That sync process that runs would say "v4 has these member ids in these roles, oh, v5 has them already, i won't do anything". It doesn't update anything if it already exists in v5.

So unless people are registering

[2020-09-23 22:19] gets0ul commented on #4920
My finding was limited only to the repositories that I can access.

As I mentioned in https://github.com/topcoder-platform/community-app/issues/4920#issuecomment-693697764, the resources with 4 hours earlier registration dates, all have same object structure similar with the one generated by `legacy-challenge-migration-script` when migrating from v4 to v5.

Perhaps there is any other place that cr

[2020-09-23 23:19] luizrrodrigues commented on #4802
@Oanh-and-only-Oanh Tested in local, looks good BOLD and ITALICS.

Merged for QA.

[2020-09-24 01:11] luizrrodrigues commented on #4784
@narekcat Your PR looks good, just added some changes. I'll move to QA.

[2020-09-24 01:49] luizrrodrigues commented on #4926
@PrakashDurlabhji Have you tested this locally?

The right branch to use is: https://github.com/topcoder-platform/community-app/tree/milestone-20200917

Can you create a new PR please?

[2020-09-24 02:40] luizrrodrigues commented on #4972
@LieutenantRoger I'm still seeing the issue.
http://local.topcoder.com/challenges?startDateStart=2018-07-01T15:00:00.000Z&endDateEnd=2018-10-31T15:00:00.000Z

![image](https://user-images.githubusercontent.com/7029641/94094503-08d23f00-fdf6-11ea-80ff-fdfaec9e1b6c.png)

[2020-09-24 02:56] luizrrodrigues commented on #4972
@SathyaJayabal @LieutenantRoger

This looks like a issue with API, if check same range Prod also will return nothing:
https://www.topcoder.com/challenges?filter[startDate]=2018-07-01T15%3A00%3A00.000Z&filter[endDate]=2018-10-31T15%3A00%3A00.000Z&bucket=past

--------

@LieutenantRoger I see the changes and is a valid fix, because was missing `&` between params. So I'll merge the code.

--------

@

[2020-09-24 03:00] SathyaJayabal commented on #4972
@luizrrodrigues , I think #4981 will take care of the new issue. Please confirm.

[2020-09-24 03:06] luizrrodrigues commented on #4972
@SathyaJayabal Oh, yep.

[2020-09-24 03:16] luizrrodrigues commented on #4972
@SathyaJayabal @LieutenantRoger Now able to reproduce the issue:

Prod: https://www.topcoder.com/challenges?filter[startDate]=2018-07-01T15%3A00%3A00.000Z&filter[endDate]=2018-12-31T14%3A00%3A00.000Z&bucket=past

![image](https://user-images.githubusercontent.com/7029641/94096280-125da600-fdfa-11ea-821e-19e562bf9848.png)

Local:
http://local.topcoder.com/challenges?startDateStart=2018-07-01T15:00:

[2020-09-24 03:47] SathyaJayabal commented on #4972
@sushilshinde @luizrrodrigues , as discussed, we are waiting on clarification on how to implement this and where to display the past challenges

[2020-09-24 03:49] SathyaJayabal commented on #4963
Verified
<img width="1440" alt="Screenshot 2020-09-24 at 9 18 15 AM" src="https://user-images.githubusercontent.com/58783823/94098761-f6ccbc80-fe46-11ea-8d12-4a8e93062316.png">

[2020-09-24 03:59] narekcat commented on #4784
@luizrrodrigues Ok.

[2020-09-24 05:06] SathyaJayabal commented on #4916
@kkartunov ,
1. When we access the gigs pages, the chatbox button is displayed. When we navigate to other pages the chatbox button is still present. It goes away only on refreshing the page.
Expected behaviour: chatbox button must not be displayed when the suer navigates to other pages.

<img width="1440" alt="Screenshot 2020-09-24 at 10 32 34 AM" src="https://user-images.githubusercontent.com/587

[2020-09-24 05:10] luizrrodrigues commented on #4967
@LieutenantRoger looks like API issue:

Call (without tags): https://api.topcoder-dev.com/v5/challenges/?status=Active&isLightweight=true&perPage=1&tracks[]=Dev&tracks[]=Des&tracks[]=DS&tracks[]=QA

no auth: 560
**with auth: 560**

-------

Cal (with tags)l: https://api.topcoder-dev.com/v5/challenges/?status=Active&isLightweight=true&perPage=1&tags[]=Java&tracks[]=Dev&tracks[]=Des&tracks[]=DS&trac

[2020-09-24 06:18] SathyaJayabal commented on #4962
@cagdas001 , We need to display the `No challenges found in bucket name` when there are no challenges found.

1. When "All Challenges" is selected and no challenges found in any of the buckets display message `No challenges found in All Challenges`. But if any of the buckets have data, then simply hide the other buckets and display only the the bucket(s) with the data. No need for message here.
2.

[2020-09-24 07:31] SathyaJayabal commented on #4802
verified on qa
<img width="1440" alt="Screenshot 2020-09-24 at 12 58 36 PM" src="https://user-images.githubusercontent.com/58783823/94114433-fa237080-fe65-11ea-9677-6db14d18bab3.png">

[2020-09-24 07:47] luizrrodrigues commented on #4973
@SathyaJayabal to confirm, all buckets need be sorted by `startDate` insted `updated` right?

[2020-09-24 07:51] SathyaJayabal commented on #4784
verified on qa
[terms.mov 2.zip](https://github.com/topcoder-platform/community-app/files/5274321/terms.mov.2.zip)

[2020-09-24 07:54] SathyaJayabal commented on #4973
@luizrrodrigues , correct. The most recent is the default sort order for the buckets.

[2020-09-24 07:57] luizrrodrigues commented on #4973
@gets0ul Please check: https://github.com/topcoder-platform/community-app/pull/4991#pullrequestreview-495309941

[2020-09-24 08:09] luizrrodrigues opened #4997 "Update tc-auth-lib name"
Update `tc-auth-lib` to `@topcoder/tc-auth-lib`

[2020-09-24 08:50] gets0ul commented on #4973
@luizrrodrigues updated

[2020-09-24 09:33] SathyaJayabal commented on #4802
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-09-24 at 3 01 24 PM" src="https://user-images.githubusercontent.com/58783823/94127844-0bc14400-fe77-11ea-8a8b-3d9fafe70088.png">
<img width="1440" alt="Screenshot 2020-09-24 at 3 02 32 PM" src="https://user-images.githubusercontent.com/58783823/94127872-12e85200-fe77-11ea-8f14-eabfec0f31ae.png">

[2020-09-24 09:41] SathyaJayabal commented on #4784
@luizrrodrigues , when the terms url is redirected to the new url with UUID, first a blank page is displayed. On refresh the contents are displayed.
[terms_issue.mov.zip](https://github.com/topcoder-platform/community-app/files/5274945/terms_issue.mov.zip)

[2020-09-24 11:48] rootelement commented on #4980
That looks fine, but you don't need to include the tracks if you want them all on... unless that's an artifact of the switches in the ui. Either way is fine.

[2020-09-24 11:48] rootelement commented on #4980
The second query you could use `isLightweight` and only retrieve 1 like you are in the first one for it to be faster, but that's also not required.

[2020-09-24 11:49] SathyaJayabal commented on #4784
verified on staging(develop)
[terms_ver.mov.zip](https://github.com/topcoder-platform/community-app/files/5275732/terms_ver.mov.zip)

[2020-09-24 12:53] SathyaJayabal commented on #4802
verified on prod
<img width="1440" alt="Screenshot 2020-09-24 at 6 21 43 PM" src="https://user-images.githubusercontent.com/58783823/94147469-f0643200-fe92-11ea-944a-817a4034d813.png">
<img width="1440" alt="Screenshot 2020-09-24 at 6 22 13 PM" src="https://user-images.githubusercontent.com/58783823/94147483-f528e600-fe92-11ea-8572-5ffe99e4c578.png">

[2020-09-24 12:53] #4802 closed

[2020-09-24 12:56] SathyaJayabal commented on #4784
verified  on prod
[terms prod.mov.zip](https://github.com/topcoder-platform/community-app/files/5276124/terms.prod.mov.zip)

[2020-09-24 12:56] #4784 closed

[2020-09-24 12:57] crazyk07 commented on #4784
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143099<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-24 14:26] LieutenantRoger commented on #4980
@rootelement the second query will retrieve the 10 ongoing challenge, and the `total ongoing challenge` as well, so need to use `perPage=10`  :)

@Oanh-and-only-Oanh @rootelement ,I believe there are some gaps between server side filters and client side filters(old way),  hence the discrepancy above.

[2020-09-24 14:27] ThomasKranitsas commented on #4974
Sorting is handled by ElasticSearch (https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-request-sort.html)

how should we handle this @rootelement ?

[2020-09-24 14:30] LieutenantRoger commented on #4967
@luizrrodrigues needs to add `API Issues` label in this case.

[2020-09-24 14:32] ThomasKranitsas commented on #4972
You can use the `endDateEnd` query parameter to fetch past challenges and set it to the current date. Additionally, you can also use `status=Completed` to only fetch the completed past challenges.

Example API call: http://api.topcoder.com/v5/challenges?endDateEnd=2020-09-24T00:00:00Z

[2020-09-24 14:38] cagdas001 commented on #4962
Done in #5001

[2020-09-24 14:39] ThomasKranitsas commented on #4967
With Auth:
<img width="1104" alt="Screenshot 2020-09-24 at 5 38 26 PM" src="https://user-images.githubusercontent.com/4612921/94159910-c576df80-fe8c-11ea-91d7-bd198fb0fedd.png">
Without Auth:
<img width="1105" alt="Screenshot 2020-09-24 at 5 38 11 PM" src="https://user-images.githubusercontent.com/4612921/94159921-c871d000-fe8c-11ea-9e79-05b9cea1af32.png">

Seems to be working fine. Please provide

[2020-09-24 15:04] ajefts commented on #4916
If you can get it installed in an environment again where we can test, we can try some of the chatlio settings to modify the behavior.  For example, this:

![image](https://user-images.githubusercontent.com/3812270/94163350-bc1e5080-fe55-11ea-8aff-6d3877f0feb0.png)

[2020-09-24 15:05] Oanh-and-only-Oanh commented on #4657
@sandhiyakavi @SathyaJayabal can you please verify? I am able to reproduce the issue consistently.

[2020-09-24 15:22] Oanh-and-only-Oanh opened #5002 "[$75] "view more challenges" link sets filter to "open for registration""
**Current behavior:**
Currently seeing this behavior is logged out and logged in states.
how to reproduce bug:
1) got o https://test-community-app.topcoder-dev.com/challenges?
2) Make sure you're on "All challenges" filter. scroll down to "see more challenges" link at bottom of the page. See screenshot
![image](https://user-images.githubusercontent.com/47536078/94165874-85d5d680-fe3f-11ea-88fd-fa1

[2020-09-24 15:31] Oanh-and-only-Oanh opened #5003 "[$20] Default view of Challenge Listings page should be "Open for Registration" bucket not "All Challenges""
For logged out and Logged in states,

Currently behavior:
1. go to https://test-community-app.topcoder-dev.com/challenges?
2. user is automatically set on "all challenges" filter
3. This is can be an overwhelming and unless view

Expected behavior:
1. go to https://test-community-app.topcoder-dev.com/challenges?
2. user should be automatically set on "Open for Registration" filter
 change what the

[2020-09-24 15:39] cagdas001 commented on #4984
@luizrrodrigues

1. First of all, since you're using the current prod env to compare/validate results, I need to note/clarify this. I'm not sure if even the current prod filtering is correct. The prod currently uses [these functions](https://github.com/topcoder-platform/topcoder-react-lib/blob/5fdf3e2b21f4918afe85904b94ffcf21cdefd417/src/utils/challenge/filter.js#L113-L127) from topcoder-react-lib

[2020-09-24 15:42] crazyk07 commented on #5002
Contest https://www.topcoder.com/challenges/30143518 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-24 15:42] luizrrodrigues commented on #5002
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/feature-refactor-challengelist
https://github.com/topcoder-platform/topcoder-react-lib/tree/feature-refactor-challengelist

run `npm run` test before PR

[2020-09-24 15:55] Oanh-and-only-Oanh opened #5004 "[$30] Hide "My Active Challenges" on Dashboard"
The "My Active Challenges" is not accurate and therefore not helpful. Please hide the "My active challenges" view and all challenges cards under that tab. See screenshot of what to hide.

![image](https://user-images.githubusercontent.com/47536078/94169590-da7b5080-fe43-11ea-9c50-910b8e5af1e6.png)

User can still track their "active challenges" under "my challenges" filter on the listings page.

[2020-09-24 15:58] crazyk07 commented on #5004
Contest https://www.topcoder.com/challenges/30143519 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-24 15:58] crazyk07 commented on #5004
Contest https://www.topcoder.com/challenges/30143519 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-24 16:00] crazyk07 commented on #5002
Contest https://www.topcoder.com/challenges/30143518 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-25 05:40] SathyaJayabal commented on #4984
@cagdas001 the current implementation is correct. If you see, it will return all challenges that were active (and the submission phase was open) during the time period selected.

For end date filter, it checks if the end date is greater than the registration start date - we want to make sure the registration started before the selected end date

For start date filter, it checks if the submission e

[2020-09-25 05:43] SathyaJayabal commented on #4916
@ajefts @kkartunov , deployed in qa env now.
https://qa-community-app.topcoder-dev.com/gigs

[2020-09-25 05:48] SathyaJayabal commented on #4657
@Oanh-and-only-Oanh , I am able to reproduce this in production. The developer has no access to the topgear site in prod and we cant reproduce the issue in dev,

<img width="1440" alt="Screenshot 2020-09-24 at 8 33 44 AM" src="https://user-images.githubusercontent.com/58783823/94230991-c0fc0680-ff20-11ea-8a9d-9f7b26e06f96.png">
<img width="1440" alt="Screenshot 2020-09-25 at 11 16 58 AM" src="http

[2020-09-25 05:52] SathyaJayabal commented on #4984
@cagdas001 , can you create an issue on the challenge api repo for the dates fields issue, with examples please?

https://github.com/topcoder-platform/challenge-api/issues

[2020-09-25 15:34] Oanh-and-only-Oanh commented on #4657
@SathyaJayabal, can we use any other environments that can reproduce the issue once they free up like testing env.? @lakshmiathreya, can you help member get access to a dev environment to fix this Topgear issue? They need access to a dev environment that can reproduce the issue. Thanks.

[2020-09-25 19:41] witcradg opened #5006 "Pixel"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-09-25 19:42] witcradg opened #5007 "Option for Device - Smartphone does not include Google Pixel"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-09-26 03:51] SathyaJayabal commented on #4657
@Oanh-and-only-Oanh @lakshmiathreya , we can reproduce this error on staging even now. We only need to provide access to the developer to topgear on prod.

Note: issue is only reproducible in prod backend envs (staging and beta and prod)

[2020-09-26 03:51] SathyaJayabal commented on #4916
@kkartunov @ajefts , please see attached video.
Chatbox is only displayed when we go the gigs pages.  But when we navigate to other pages after visiting the gigs pages, the chatbox is still displayed.
Expected behaviour : chatbox must be not be displayed when you navigate away from the gigs pages.
[chatbox.mov.zip](https://github.com/topcoder-platform/community-app/files/5286141/chatbox.mov.zip)

[2020-09-26 04:06] Oanh-and-only-Oanh commented on #4544
@sushilshinde
1) how can we change the Page Titles? For example, I imagine we'll need a script to help update all the page titles so that if you're on /members/ page, the title would update to "/members/profile/" or whatever. Right now, Page Title shows "Topcoder".
![image](https://user-images.githubusercontent.com/47536078/94329778-de59c080-ff72-11ea-8e07-eb923b1cb0d8.png)

2) #2) how can we chan

[2020-09-26 11:29] LieutenantRoger commented on #4965
The PRs:

[2020-09-26 19:48] luizrrodrigues commented on #4544
@Oanh-and-only-Oanh @sushilshinde

1) What is expected to page title?

2) What is expected to Meta content?

[2020-09-26 19:50] narekcat commented on #4964
@luizrrodrigues Any updates on this issue ?

[2020-09-28 03:03] Oanh-and-only-Oanh commented on #4544
@luizrrodrigues @adroc-tc here's the spreadsheet. https://docs.google.com/spreadsheets/d/1Ee9GnRTd6nR1BYsddxoqjfK3TpAOepWx0ODV6HBTrf0/edit#gid=0

[2020-09-28 05:43] SathyaJayabal commented on #4112
Will verify along with #4972

[2020-09-28 07:59] PrakashDurlabhji commented on #4926
@luizrrodrigues sorry for they delay, yes it was tested locally. will raise new PR on new branch

[2020-09-28 11:12] MayurRJoshi opened #5010 "QA Challenge rating added to Code rating and affecting TaaS payment"
**Describe the bug**
Ratings from the QA challenges like the Test for Success series of challenges has been added to my Code rating. Please see https://www.topcoder.com/members/Mayur.Joshi.

Since TaaS payments are based on Code rating, adding QA rating to it will provide an inaccurate idea of my coding abilities and affect payment.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to http

[2020-09-28 14:26] kkartunov opened #5012 "MM Leaderboard"
This is a live mm leaderboard component. It basically checks mm challenge submissions and renders a sortable table for Rank, Handle, Score. Here score is provisional score from MMatch's submission tab. Should be following look and feel of our brand tables like:

![Screenshot 2020-10-05 12:24:06](https://user-images.githubusercontent.com/5585002/95062769-147f0900-0706-11eb-873a-84eaed8fbe55.png)

[2020-09-28 14:30] luizrrodrigues commented on #4544
@Oanh-and-only-Oanh Thanks, looks like not complete yet.

[2020-09-28 14:45] Oanh-and-only-Oanh commented on #4298
@ajefts, past MM are now on community app in prod however there are some such as https://www.topcoder.com/challenges/15948
https://www.topcoder.com/challenges/16040
that can't be located.

[2020-09-28 14:51] Oanh-and-only-Oanh commented on #4981
@narekcat, please provide update in next few hours.

[2020-09-28 14:52] Oanh-and-only-Oanh commented on #4875
@cagdas001, please update us.

[2020-09-28 15:01] Oanh-and-only-Oanh commented on #5010
@ajefts @crazyk07 FYI

[2020-09-28 15:39] cagdas001 commented on #4875
@Oanh-and-only-Oanh waiting for update from @rootelement . See above comments

[2020-09-28 17:29] #4939 closed

[2020-09-28 17:58] Oanh-and-only-Oanh commented on #4967
@sushilshinde @luizrrodrigues, is this still an API issue?

[2020-09-28 18:40] rootelement commented on #4967
Testing on this environment, every tag I clicked on works fine.
https://test-community-app.topcoder-dev.com/challenges

[2020-09-28 18:47] rootelement commented on #4971
Fixed in https://github.com/topcoder-platform/challenge-api/issues/297

Should be fine in dev now.

[2020-09-28 19:00] rootelement commented on #4875
We need to leave the old SRMs to the old apis for now. Please log this as tech debt on the community app. I have an issue open on the challenge-api side to do this, but this is of lower importance than the Work Manager release, so I won't get to it until later this week at the earliest.

[2020-09-29 00:28] luizrrodrigues commented on #4965
@LieutenantRoger I see changes done in **community-app** and I think need first this one too:
https://github.com/topcoder-platform/topcoder-react-lib/commit/d7e336ea391ebf3c950cf09f999a48a00db7402a#r42801128

After change lib need make sure to update all components using that lib.

-----

@sushilshinde We good to comment a lot of code block instead remove?
https://github.com/topcoder-platform/comm

[2020-09-29 01:09] luizrrodrigues commented on #5002
@gets0ul When click in **View more challenges** in a bucket, other bucket hides:
https://i.gyazo.com/d3beb4bc19349297c940f7ca30ae04cc.mp4

- Example:
1; Click in **View more challenges** in bucket **My Challenges**;
2: Scroll down until all **My Challenges** loaded;
3: Note **Open for registration** bucket was gone.

-----

Issue 2 - When click in **View more challenges** scroll to top, need keep

[2020-09-29 01:48] luizrrodrigues commented on #4962
@cagdas001 Looks like now we loose loading animation:
https://i.gyazo.com/e177fca8a4653c3613fa7fd681620b04.mp4

This not from latest PR, but form first one: https://github.com/topcoder-platform/community-app/pull/4992

Expected;
https://i.gyazo.com/1432ce908e53a7bc68a29f0456de0249.mp4

[2020-09-29 03:09] luizrrodrigues commented on #5004
@SathyaJayabal QA env

[2020-09-29 03:09] luizrrodrigues commented on #4948
@SathyaJayabal QA env

[2020-09-29 03:28] SathyaJayabal commented on #5004
verified on qa env
<img width="1440" alt="Screenshot 2020-09-29 at 8 57 50 AM" src="https://user-images.githubusercontent.com/58783823/94509452-e7c48080-0231-11eb-809d-9fa415a552cf.png">

[2020-09-29 03:37] SathyaJayabal commented on #4948
verified on qa env
<img width="1440" alt="Screenshot 2020-09-29 at 9 06 47 AM" src="https://user-images.githubusercontent.com/58783823/94509957-30c90480-0233-11eb-80b5-602772c2b457.png">

[2020-09-29 03:40] crazyk07 commented on #4981
Contest https://www.topcoder.com/challenges/30143200 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-09-29 03:52] luizrrodrigues commented on #4659
@skyhit Added feedback to both PRs.

[2020-09-29 04:32] SathyaJayabal commented on #4964
verified on test env
<img width="1440" alt="Screenshot 2020-09-29 at 10 00 58 AM" src="https://user-images.githubusercontent.com/58783823/94512881-df247800-023a-11eb-9ec7-b9dbb2f87e0c.png">

[2020-09-29 04:42] SathyaJayabal opened #5015 "[$50] Ongoing Challenges : End date is incorrect"
https://test-community-app.topcoder-dev.com/challenges?bucket=ongoing

The end date mentioned below the challenge name is incorrect.
<img width="1440" alt="Screenshot 2020-09-29 at 10 10 01 AM" src="https://user-images.githubusercontent.com/58783823/94513352-219a8480-023c-11eb-9e64-5cee2e8a2aec.png">

[2020-09-29 04:57] SathyaJayabal commented on #4973
verified on staging for My Challenges and Open for registration

<img width="1440" alt="Screenshot 2020-09-29 at 10 27 15 AM" src="https://user-images.githubusercontent.com/58783823/94514249-5dcee480-023e-11eb-9fe4-d8d638d3a9f6.png">

[2020-09-29 05:48] gets0ul commented on #5002
@luizrrodrigues the original requirement did not mention this, only don't change the URL and sidebar currently selected. Can you bump the prize a bit?
I'll make a new PR for this and closing/removing the old one.

[2020-09-29 06:31] SathyaJayabal commented on #4967
@rootelement , it is not working in staging.
Please check here the current deployment statuses
https://community-app-dev-dashboard.herokuapp.com/#/dashboard

See screenshots for example.
<img width="1440" alt="Screenshot 2020-09-29 at 11 59 54 AM" src="https://user-images.githubusercontent.com/58783823/94521298-6f6ab900-024b-11eb-9140-7578025dfb49.png">

<img width="1440" alt="Screenshot 2020-09-2

[2020-09-29 07:28] kkartunov opened #5016 "SEO 101 - fix meta description"
Currently, the community app is setting the wrong meta description tag. This is happening for **all pages**(Contentful and others).

![Screenshot 2020-09-29 10:22:41](https://user-images.githubusercontent.com/5585002/94526110-b9e53900-023d-11eb-9507-3a59d4306909.png)

`<meta poperty="description" ... >`  should change to `<meta name="description" ... >` because of SEO reasons.

This behavior is co

[2020-09-29 15:00] Oanh-and-only-Oanh commented on #5002
@gets0ul, increasing the prize. Please PR.

[2020-09-29 15:02] luizrrodrigues commented on #5002
@gets0ul Cool.

@Oanh-and-only-Oanh Thanks.

[2020-09-29 15:12] mtwomey commented on #4965
What's needed on this one to proceed @luizrrodrigues ?

[2020-09-29 15:14] Oanh-and-only-Oanh commented on #4544
also related to this ticket https://github.com/topcoder-platform/community-app/issues/5016

[2020-09-29 15:15] Oanh-and-only-Oanh commented on #5016
also related to this ticket https://github.com/topcoder-platform/community-app/issues/4544

[2020-09-29 15:18] rootelement commented on #4967
@ThomasKranitsas  I don't understand what's going on here... The query with tags looks like this:
[code]

Should that second shouldQuery be `match_phrase` as well?

If I query from postman with my jwt in prod, i get:
`https://api.topcoder.com/v5/challenges/?status=Active&tags[]=3D%20Reconstruction&isLightweight=true&tracks[]=Des&tracks[]=Dev&tracks[]=QA&tracks[]=DS`
<img width="357" alt="Screen Sh

[2020-09-29 15:23] #4594 closed

[2020-09-29 15:23] #4595 closed

[2020-09-29 15:23] #4596 closed

[2020-09-29 15:23] #4597 closed

[2020-09-29 15:24] luizrrodrigues commented on #4965
@mtwomey vars was changed **topcoder-react-lib**, but this not changed in all places in **community-app**, so some places will broken if not reflect the changes done in lib.

Changes in lib:
[code]

to

[code]

So need make sure all ref to `COMPETITION_TRACKS.DATA_SCIENCE`, `COMPETITION_TRACKS.DESIGN` and `COMPETITION_TRACKS.DEVELOP` was changed to `COMPETITION_TRACKS.DS`, `COMPETITION_TRACKS.DES`

[2020-09-29 15:25] Oanh-and-only-Oanh commented on #4982
@PrakashDurlabhji, please update with your progress.

[2020-09-29 15:26] Oanh-and-only-Oanh commented on #4926
@PrakashDurlabhji, please PR

[2020-09-29 15:28] luizrrodrigues commented on #4972
@LieutenantRoger Any status in this one?

Please check: https://github.com/topcoder-platform/community-app/issues/4972#issuecomment-698086308

[2020-09-29 15:29] Oanh-and-only-Oanh commented on #4916
@kkartunov, what is needed on this one to move forward?

[2020-09-29 15:31] rootelement commented on #4967
@ThomasKranitsas this is the built ES query from the server logs.
A couple things I noticed.
1. I tried to use the `includeAllTags` flag to see if match_phrase would fix it. I see `includeAllTags` included in the built ES query.
2. Even if I remove it and run this against prod, i get 0 results. I'm not sure if it's the way the tags are searched for or if it's the task debacle at the top that's cau

[2020-09-29 15:37] mtwomey commented on #4965
@luizrrodrigues Do you know why this was changed in the lib? Should we change it back for now, or should we just update the refs?

[2020-09-29 15:48] luizrrodrigues commented on #4965
@mtwomey This looks like unnecessary change.

@LieutenantRoger Can you share why was need that change in lib?

[2020-09-29 15:51] gets0ul commented on #5002
@luizrrodrigues New PR: #5017

[2020-09-29 16:37] hokienick commented on #4916
@Oanh-and-only-Oanh I think we are good for this one according to Tony.  They can control which pages it shows up on now.

[2020-09-29 16:55] LieutenantRoger commented on #4965
I remember I need to send the tracks related parameter when fetching V5 API, the value I changed are the ones used in the V5 API.
I made the change so I don't need do the conversion when calling the API.

[2020-09-29 18:07] Oanh-and-only-Oanh commented on #4916
can I close the ticket?

[2020-09-29 18:19] luizrrodrigues commented on #4916
@Oanh-and-only-Oanh This one not in prod yet.

[2020-09-29 18:33] luizrrodrigues commented on #4961
@sushilshinde `listing` currently in Stag env, can you recheck this, looks like already fixed.

[2020-09-29 20:35] hokienick commented on #4865
Here is an example of how Unbounce does their messaging.  Feel free to use this as a guide if you'd like!

<img width="706" alt="Screen Shot 2020-09-21 at 10 16 30 AM" src="https://user-images.githubusercontent.com/1373998/94612915-a3001000-0258-11eb-9a6e-162da7a4e692.png">
<img width="1363" alt="Screen Shot 2020-09-21 at 10 16 24 AM" src="https://user-images.githubusercontent.com/1373998/94612919

[2020-09-29 22:31] PrakashDurlabhji commented on #4926
@Oanh-and-only-Oanh @luizrrodrigues new PR https://github.com/topcoder-platform/community-app/pull/5018

[2020-09-29 23:01] PrakashDurlabhji commented on #4982
@Oanh-and-only-Oanh @luizrrodrigues done in https://github.com/topcoder-platform/community-app/pull/5019

[2020-09-30 07:20] abhinav-koppula opened #5020 "Challenges tab in user profile isn't working"
**Describe the bug**
Challenges tab of user profile is not working.
Sample link:
https://www.topcoder.com/members/mancoolgunda/details/?track=DEVELOP&subTrack=CODE&tab=challenges

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any user profile
2. Click on 'Code' in Development Activity
3. Click on 'Challenges' tab
4. It shows 'Sorry, no successful challenges found.'

**Expected behavio

[2020-09-30 07:58] sushilshinde commented on #4965
I had a chat with @LieutenantRoger he will make necessary changes to community-app

[2020-09-30 08:00] sushilshinde commented on #4961
@luizrrodrigues @rootelement I see the same problem
![Topcoder Challenges 2020-09-30 13-22-03](https://user-images.githubusercontent.com/683231/94658847-048bb180-0321-11eb-95d3-80555557ae8f.png)

[2020-09-30 08:04] sushilshinde commented on #4962
@cagdas001 any update on this

[2020-09-30 09:26] SathyaJayabal commented on #4891
@kkartunov
1. Are the below 3 fields mandatory ? (They are mandatory as per the design)
2.Do we have any default vales that are pre selected for these fislds?
<img width="914" alt="Screenshot 2020-09-30 at 2 53 55 PM" src="https://user-images.githubusercontent.com/58783823/94667849-f2177500-032c-11eb-9984-034bc096cb41.png">

3. Blank page displayed on deleting available from date field

[2020-09-30 10:33] cagdas001 commented on #4962
I'll push a new commit in open PR (#5001), don't merge it for now. I'm making it Draft

[2020-09-30 11:01] kkartunov commented on #4891
@SathyaJayabal
3. is now fixed. Please re-test it.
4. Is expected like that to support all kinds of phone formats for numbers. We trust users that they will provide correct numbers so we are able to call them for the gig work opportunity.

[2020-09-30 11:03] SathyaJayabal commented on #4891
@kkartunov , 3 is verified.

[2020-09-30 11:53] kkartunov commented on #4891
@SathyaJayabal for 2.&3.

That is what team decision is on that.

[2020-09-30 12:58] SathyaJayabal commented on #4891
Thanks @kkartunov

[2020-09-30 13:34] LieutenantRoger commented on #4965
@luizrrodrigues  I have updated the PR. The change is to align with the V5 challenge api filter naming.

[2020-09-30 15:31] Oanh-and-only-Oanh commented on #5020
duplicate of this ticket. https://github.com/topcoder-platform/community-app/issues/4527 please following progress of the bug fix there.

[2020-09-30 15:31] #5020 closed

[2020-09-30 16:53] Oanh-and-only-Oanh opened #5022 "Resolve react helmet issue"
Fix community-app SEO, currently search engines getting Title and Meta before **react-helmet** update with respective page content. We need to make sure to run **react-helmet** in server side render instead client side.

Example page: https://www.topcoder.com/challenges/48406f89-3b18-488e-bccf-b7c7e6e8dd0b

**SSR:**
title: Topcoder

**CSR:**
title: QA Practice Challenge - Find Bugs on Topcoder

--

[2020-09-30 16:57] luizrrodrigues commented on #5022
#4836

[2020-09-30 16:59] Oanh-and-only-Oanh commented on #4836
close for now. Please refer to Resolve react helmet issue #5022

[2020-09-30 16:59] #4836 closed

[2020-09-30 18:34] luizrrodrigues commented on #4972
@Oanh-and-only-Oanh F2F https://www.topcoder.com/challenges/e661f904-9cf4-4812-ac71-1dc615d1e374

[2020-09-30 19:36] kkartunov opened #5023 "Add RDM Email Switch in Preferences"
Should toggle "RDM" tag in MailChimp.
Should say:
Rapid Development Match (RDM) Reminders
Receive notifications of our brand new RDMs! These rated, development matches will be a fun new way to engage with us!

[2020-09-30 21:58] luizrrodrigues commented on #5023
@SathyaJayabal Deployed in QA env

[2020-09-30 22:41] luizrrodrigues commented on #4659
@skyhit **community-app** PR looks good.

**topcoder-react-lib** PR not fixed yet.
https://github.com/topcoder-platform/topcoder-react-lib/pull/261

[2020-09-30 22:57] luizrrodrigues commented on #4891
@SathyaJayabal @kkartunov I think we need run QA again in this one, looks like changes made after QA Pass.

changes: 0633ef39f02eb704a2b5b9a3b9ee6804b3670564

[2020-10-01 02:54] luizrrodrigues commented on #4975
@cagdas001 Please use this filter: https://github.com/topcoder-platform/community-app/issues/4975#issuecomment-697041996 and any other available filter here: https://github.com/topcoder-platform/challenge-api/blob/6c897144a90e56ea6148fd5f415dacfd0aeadf76/docs/swagger.yaml if needed.

If we have issue with API, I'll request help from API team.

Thanks.

[2020-10-01 03:00] SathyaJayabal commented on #5023
verified
<img width="1440" alt="Screenshot 2020-10-01 at 8 30 14 AM" src="https://user-images.githubusercontent.com/58783823/94760531-64856500-03c0-11eb-8335-3470b9006765.png">

[2020-10-01 03:09] Oanh-and-only-Oanh commented on #4981
hi @rashmi73, please update with status.

[2020-10-01 03:10] Oanh-and-only-Oanh commented on #4962
@cagdas001 any updates?

[2020-10-01 03:29] SathyaJayabal commented on #4916
@hokienick, @Oanh-and-only-Oanh,
I am marking this as qa pass. Here are my observations:
1. Chatbox still present when user navigates away form he gigs pages.
2. New Message indicator does not go away even after user opens the chatbox and sees the message. The indicator is still present even after replying to the message or refreshing the page.
<img width="1440" alt="Screenshot 2020-10-01 at 8 58

[2020-10-01 03:34] SathyaJayabal commented on #4926
verified on staging
<img width="1440" alt="Screenshot 2020-10-01 at 9 04 10 AM" src="https://user-images.githubusercontent.com/58783823/94762372-1cb50c80-03c5-11eb-90d2-45c44ca869da.png">

[2020-10-01 04:06] SathyaJayabal commented on #4891
@kkartunov,
1. Some of the mandatory fields dont show the error message when left empty
2. The mandatory field error message doesn't go away after adding data to the field
3. The "Apply to this Job" button is not enabled even after entering all mandatory data

Previously, the "Apply to this Job" button was enabled only after all mandatory data was entered.

[2020-10-01 04:50] SathyaJayabal commented on #4971
verified on test env
<img width="1440" alt="Screenshot 2020-10-01 at 10 19 37 AM" src="https://user-images.githubusercontent.com/58783823/94769424-a36ee700-03cf-11eb-8589-e6850e2bdd91.png">

[2020-10-01 04:53] SathyaJayabal opened #5026 "[$60] Search needs to include searching in tags"
In the current implementation, the search returns text matches in the tech tags too.
example:
<img width="1440" alt="Screenshot 2020-10-01 at 10 21 05 AM" src="https://user-images.githubusercontent.com/58783823/94769561-f6e13500-03cf-11eb-9885-06b670cff61e.png">
This is not the case for the new listing implementation. The search only includes the challenge title.

cc @Oanh-and-only-Oanh

[2020-10-01 05:08] SathyaJayabal commented on #4965
verified on test
<img width="1440" alt="Screenshot 2020-10-01 at 10 37 54 AM" src="https://user-images.githubusercontent.com/58783823/94770404-30b33b00-03d2-11eb-82c5-88a03911ce13.png">

[2020-10-01 05:09] SathyaJayabal opened #5027 "MM Submissions tab: member handle colour and ratings not displayed"
MM Submissions tab: member handle colour and ratings not displayed
example:
https://test-community-app.topcoder-dev.com/challenges/288d17de-2335-4b06-9e67-103a0cd95578?tab=submissions
<img width="1440" alt="Screenshot 2020-10-01 at 10 36 57 AM" src="https://user-images.githubusercontent.com/58783823/94770490-580a0800-03d2-11eb-96a6-f3a05f5cedce.png">

[2020-10-01 05:37] LieutenantRoger commented on #4976
Verified that `dev` environment doesn't have TCO20 and TCO21 groups.  Discussing whether we can create them in `dev` environment directly

[2020-10-01 05:54] SathyaJayabal opened #5029 "Payments text in challenge details incorrect for topgear challenges"
Payments text in challenge details incorrect for topgear challenges
example:
https://staging-community-app.topcoder.com/challenges/a3b4d2d7-b325-4373-8045-920b8427d24f?tab=details
expected:
https://www.topcoder.com/challenges/a3b4d2d7-b325-4373-8045-920b8427d24f?tab=details

<img width="1440" alt="Screenshot 2020-10-01 at 11 23 51 AM" src="https://user-images.githubusercontent.com/58783823/9477308

[2020-10-01 06:05] SathyaJayabal commented on #5029
@luizrrodrigues , will this be fixed if we sync from develop?
this issue was fixed in
https://github.com/topcoder-platform/community-app/issues/4727

[2020-10-01 06:07] luizrrodrigues commented on #5029
@SathyaJayabal Yep, waiting for confirmation from @sushilshinde to run the sync with `develop`

[2020-10-01 06:15] SathyaJayabal commented on #5027
Need to retest after sync with develop.

[2020-10-01 06:44] SathyaJayabal commented on #3122
@Oanh-and-only-Oanh , this seems to be fixed with the new listings implementation. We  will close this once the new listings is released.
[listings.mov.zip](https://github.com/topcoder-platform/community-app/files/5309888/listings.mov.zip)

[2020-10-01 07:11] SathyaJayabal commented on #4948
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-10-01 at 12 40 54 PM" src="https://user-images.githubusercontent.com/58783823/94778745-6dd3f900-03e3-11eb-9eae-7d71519b5a2f.png">

[2020-10-01 07:13] SathyaJayabal commented on #5004
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-10-01 at 12 42 06 PM" src="https://user-images.githubusercontent.com/58783823/94778904-ac69b380-03e3-11eb-9c8a-52f7c1a8aed4.png">

[2020-10-01 07:15] SathyaJayabal commented on #5023
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-10-01 at 12 45 04 PM" src="https://user-images.githubusercontent.com/58783823/94779113-05394c00-03e4-11eb-85f3-b0473ccb6d2d.png">

[2020-10-01 07:16] kkartunov commented on #4891
@SathyaJayabal fix for validation issues is deploying. Please, test in ~15 min. Thanks

[2020-10-01 07:18] SathyaJayabal commented on #4916
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-10-01 at 12 46 38 PM" src="https://user-images.githubusercontent.com/58783823/94779329-63662f00-03e4-11eb-9adf-1b1402d053c7.png">
<img width="1440" alt="Screenshot 2020-10-01 at 12 46 54 PM" src="https://user-images.githubusercontent.com/58783823/94779340-695c1000-03e4-11eb-9d8a-3b6d5bfef156.png">

[2020-10-01 07:23] SathyaJayabal commented on #4926
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-10-01 at 12 50 44 PM" src="https://user-images.githubusercontent.com/58783823/94779633-e7201b80-03e4-11eb-8b69-0820ead5df61.png">

[2020-10-01 07:27] LieutenantRoger commented on #4976
I have made necessary change at community-app, so once a domain doesn't have a groupId, I will not show it in the `Sub Community` dropdown list.  `tco20` and `tco21` happens to be this case.

[2020-10-01 07:32] LieutenantRoger commented on #4976
Here's the PR: https://github.com/topcoder-platform/community-app/pull/5031

1. Restore the groupIds per discussion in the slack channel
2. Hide the community without a groupId, instead of showing them in the dropdown list. So you won't be able to see `tco20` and `tco21` now.

[2020-10-01 07:35] LieutenantRoger commented on #4972
Hi @luizrrodrigues  saw a challenge is launched for this issue. Yes, I used `status=Active` by default which causes this.

[2020-10-01 07:48] kkartunov opened #5032 "TCOs Header fixes"
- Remove Dropdown on TCOs <= 19 from the header bar
- For TCO20 only add:
  - logo+linked to home
  - login buttons as per https://marvelapp.com/prototype/5554efd/screen/66504645 for anonymous users. For logged-in users keep the profile section(at most right) similar on TCO19 https://tco19.topcoder.com/
  - Navi menu stays as it is now, unchanged. No, follow the design on that.

[2020-10-01 08:23] SathyaJayabal commented on #4891
@kkartunov, for the CV upload, it allows only .pdf and .docx file when you browse for the files. But you are able to drag and drop other file formats (.zip, mp4, .png etc) and submit your application. What file formats are accepted ?
<img width="1440" alt="Screenshot 2020-10-01 at 1 48 55 PM" src="https://user-images.githubusercontent.com/58783823/94785514-66195200-03ed-11eb-8ee9-07ef52f05a81.png"

[2020-10-01 08:57] SathyaJayabal commented on #4891
fixed
<img width="1440" alt="Screenshot 2020-10-01 at 2 27 28 PM" src="https://user-images.githubusercontent.com/58783823/94789234-4a647a80-03f2-11eb-816c-121a61ce28fc.png">

[2020-10-01 11:05] SathyaJayabal commented on #4967
reducing the priority as the blank screen issue is resolved

[2020-10-01 12:14] SathyaJayabal commented on #4891
verified on staging (develop)
@kkartunov, validation not happening for mandatory fields (fname, lname, email and city) for logged in users.
[gigs app.mov.zip](https://github.com/topcoder-platform/community-app/files/5311818/gigs.app.mov.zip)

[2020-10-01 12:38] SathyaJayabal opened #5034 "Gig Application page: validation issue"
For logged in users, the first name, last name, email and city values will be pre populated from the user's profile. These fields are mandatory. When the user deletes these values, the "required filed" error message is not displayed. The original values though deleted from the FE and not visible, are somehow carried over and saved.

[gigs app.mov.zip](https://github.com/topcoder-platform/community

[2020-10-01 12:39] SathyaJayabal commented on #4891
@kkartunov , as discussed on slack, we are tracking the above validation case in a new issue
https://github.com/topcoder-platform/community-app/issues/5034

[2020-10-01 12:58] luizrrodrigues commented on #4659
@skyhit Any status on this one?

[2020-10-01 13:03] luizrrodrigues commented on #4962
@cagdas001 Please PR next few hours or open for pickup.

[2020-10-01 13:17] SathyaJayabal opened #5035 "[$25] Footer: Track nav item in nav must be highlighted when track pages are accessed from the footer"
Footer: Track nav items in nav must be highlighted when the below track pages are accessed from the footer :
Data Science
Design
Development
QA
actual: Thrive nav item is highlighted when the track pages(Data Science, Design, Development and QA) are accessed from the footer.
expected: Track pages in nav must be highlighted (like how it is for COMPETITIVE PROGRAMMING )
[footer_tracks.mov.zip](https

[2020-10-01 13:27] kkartunov commented on #4891
@SathyaJayabal than you. We will address the weird issue as hot-fix in the #5034

[2020-10-01 13:59] rootelement commented on #4967
We're testing a fix to the search difference in dev currently. The tags issue _should_ be fixed, but we will report back in a bit.

[2020-10-01 14:06] SathyaJayabal commented on #5023
verified in prod
<img width="1440" alt="Screenshot 2020-10-01 at 7 34 46 PM" src="https://user-images.githubusercontent.com/58783823/94819808-51ed4900-041d-11eb-805f-c6aed9d29e73.png">

[2020-10-01 14:06] #5023 closed

[2020-10-01 14:09] SathyaJayabal commented on #4948
verified in prod
<img width="1440" alt="Screenshot 2020-10-01 at 7 37 30 PM" src="https://user-images.githubusercontent.com/58783823/94820123-b6100d00-041d-11eb-9440-965a15a9ea93.png">

[2020-10-01 14:09] rashmi73 commented on #4981
@Oanh-and-only-Oanh its working fine at https://staging-community-app.topcoder.com/challenges and urls are changing on filtering tracks.
can you please confirm?

[2020-10-01 14:10] SathyaJayabal commented on #5004
verified on prod
<img width="1440" alt="Screenshot 2020-10-01 at 7 39 58 PM" src="https://user-images.githubusercontent.com/58783823/94820319-f3749a80-041d-11eb-8f8e-b8458264aff1.png">

[2020-10-01 14:12] SathyaJayabal commented on #4926
verified on prod.
<img width="1440" alt="Screenshot 2020-10-01 at 7 41 27 PM" src="https://user-images.githubusercontent.com/58783823/94820495-274fc000-041e-11eb-8c9e-4a75e7df8d60.png">

[2020-10-01 14:13] crazyk07 commented on #4948
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-01 14:15] crazyk07 commented on #5004
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-01 14:16] crazyk07 commented on #4926
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-01 14:16] SathyaJayabal commented on #4916
verified on prod
<img width="1440" alt="Screenshot 2020-10-01 at 7 42 55 PM" src="https://user-images.githubusercontent.com/58783823/94821051-c96fa800-041e-11eb-8da6-e9b5d3e62cfd.png">

[2020-10-01 14:16] #4916 closed

[2020-10-01 14:21] SathyaJayabal commented on #4891
verified on prod
<img width="1440" alt="Screenshot 2020-10-01 at 7 50 24 PM" src="https://user-images.githubusercontent.com/58783823/94821626-66324580-041f-11eb-8501-e49068022055.png">

[2020-10-01 14:21] #4891 closed

[2020-10-01 14:23] luizrrodrigues commented on #4981
@rashmi73 Currently Stag env running `develop` branch

But release already over and I'll deploy `feature-refactor-challengelist` back to Stag env.

[2020-10-01 15:16] LieutenantRoger commented on #5026
I think this should be labeled with `API Issue`,  tags and searchText are two different filters in list implementation right now.

[2020-10-01 15:23] LieutenantRoger commented on #5015
Could you be more specific on why it's incorrect ?

[2020-10-01 15:27] SathyaJayabal commented on #5015
@LieutenantRoger , the actual end date of those challenges are different
<img width="1440" alt="Screenshot 2020-10-01 at 8 55 12 PM" src="https://user-images.githubusercontent.com/58783823/94830028-c2e62e00-0428-11eb-8670-1970006434f4.png">
<img width="1440" alt="Screenshot 2020-10-01 at 8 57 02 PM" src="https://user-images.githubusercontent.com/58783823/94830044-c7aae200-0428-11eb-9846-f0aed54cc5

[2020-10-01 15:30] luizrrodrigues commented on #5026
@Oanh-and-only-Oanh @SathyaJayabal

I think **Search Challenge** input needs to search just for challenge `name` filed, check placeholder:

<img width="970" alt="image" src="https://user-images.githubusercontent.com/7029641/94830247-c6a29200-03e1-11eb-9428-a5a06be1406e.png">

[2020-10-01 15:34] SathyaJayabal commented on #5026
@Oanh-and-only-Oanh , I agree with @luizrrodrigues . Even though current implementation includes tags, we could go with just search in the challenge name. Since we already have a filter by tags feature.

[2020-10-01 15:41] LieutenantRoger commented on #5026
I thought the same in first place.  But including the challenges with matched tags could be better.

[2020-10-01 15:47] Oanh-and-only-Oanh commented on #5026
The experience of being able to use the `challenge search` for tags in helpful.

[2020-10-01 16:03] LieutenantRoger commented on #5015
I checked the link in your first snapshot, the actual challenge object returned seems having endDate 10-02.
Do we have many `design challenge` in the database ?

[2020-10-01 16:07] cagdas001 commented on #4962
ready

[2020-10-01 18:11] cagdas001 commented on #4975
Okay, it now calls `https://api.topcoder-dev.com/v5/challenges/?status=Active&currentPhaseName=Submission&registrationEndDateEnd=2020-10-01T17%3A56%3A54.698Z&perPage=10&page=1&sortBy=updated&sortOrder=desc&tracks[]=Dev&tracks[]=Des&tracks[]=DS&tracks[]=QA` to load ongoing challenges. During the call, `registrationEndDateEnd` is being set to `new Date().toISOString()` So, it should theoretically re

[2020-10-01 18:25] cagdas001 commented on #4975
The commit (https://github.com/topcoder-platform/community-app/commit/c0c7eeb630d17fbe8177ee3fe3f98a59c137ff49) is pushed directly to upstream (`feature-refactor-challengelist` branch).

[2020-10-01 19:18] luizrrodrigues commented on #5026
**challenge-api** feature request: https://github.com/topcoder-platform/challenge-api/issues/316

[2020-10-01 19:38] mtwomey commented on #4951
On Hold per @Oanh-and-only-Oanh

[2020-10-01 23:48] luizrrodrigues commented on #4997
https://www.topcoder.com/challenges/8d4c7aaa-5abb-44bc-a8b3-ce1af35c0b95

[2020-10-02 01:28] luizrrodrigues commented on #4962
@cagdas001 Thanks

[2020-10-02 01:39] luizrrodrigues commented on #4981
@rashmi73 Any status?

Please PR in next few hours or open for pickup.

Thanks.

[2020-10-02 01:49] luizrrodrigues commented on #4769
https://github.com/topcoder-platform/community-app/issues/4544

[2020-10-02 03:12] luizrrodrigues commented on #4984
@cagdas001 I think this filter will works:

https://api.topcoder-dev.com/v5/challenges/?endDateStart=2020-10-01T00%3A00%3A00Z&startDateEnd=2020-10-03T00%3A00%3A00Z&status=Active&currentPhaseName=Submission

[code]

![image](https://user-images.githubusercontent.com/7029641/94884429-d5219580-0443-11eb-9abe-02fe78538ec5.png)

[2020-10-02 06:29] luizrrodrigues commented on #4982
@PrakashDurlabhji

![image](https://user-images.githubusercontent.com/7029641/94894303-7538e800-045f-11eb-86ad-a23d898f7833.png)

[2020-10-02 07:37] SathyaJayabal opened #5036 "[$50] When all track filters are off, there should not be any challenges displayed"
When all track filters are off, there should not be any challenges displayed
actual:
<img width="1440" alt="Screenshot 2020-10-02 at 1 03 41 PM" src="https://user-images.githubusercontent.com/58783823/94898765-bc4ec980-04af-11eb-9726-cc7488e7869b.png">
expected:
<img width="1440" alt="Screenshot 2020-10-02 at 1 03 25 PM" src="https://user-images.githubusercontent.com/58783823/94898780-c1137d80-04a

[2020-10-02 07:50] SathyaJayabal commented on #4962
verified on test
<img width="1440" alt="Screenshot 2020-10-02 at 1 07 54 PM" src="https://user-images.githubusercontent.com/58783823/94900022-eef9c180-04b1-11eb-8111-d7c7bc9bcc3a.png">
<img width="1440" alt="Screenshot 2020-10-02 at 1 08 02 PM" src="https://user-images.githubusercontent.com/58783823/94900045-f4efa280-04b1-11eb-9561-6cbc17d570a8.png">
<img width="1440" alt="Screenshot 2020-10-02 at

[2020-10-02 07:55] SathyaJayabal commented on #5002
verified on test
[view more.mov.zip](https://github.com/topcoder-platform/community-app/files/5316620/view.more.mov.zip)

[2020-10-02 10:28] cagdas001 commented on #4984
@luizrrodrigues We should use `registrationStartDateStart` and `submissionEndDateEnd` instead of `startDate` and `endDate` See the 2. point of this comment https://github.com/topcoder-platform/community-app/issues/4984#issuecomment-698424334

So I'll implement  & fix this feature with the assumption of API is working properly?

[2020-10-02 15:54] crazyk07 commented on #5036
Contest https://www.topcoder.com/challenges/30144393 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-02 15:54] luizrrodrigues commented on #5036
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/feature-refactor-challengelist
https://github.com/topcoder-platform/topcoder-react-lib/tree/feature-refactor-challengelist

run `npm run` test before PR

[2020-10-02 15:56] crazyk07 commented on #5036
Contest https://www.topcoder.com/challenges/30144393 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-02 17:32] rootelement commented on #4967
It seems to be working well in dev. This will be queued for release shortly. The ability to type in the search box and filter on tags is a new feature request, and has been opened on the challenge api repo as a separate topic.

[2020-10-02 17:45] Oanh-and-only-Oanh commented on #4967
@rootelement, the new feature request, is 1) the ability to type in search box and match on "Challenge title" and "tags". 2) However, we also want the ability to display list of challenges with a specific tag if a "tag" is selected from the Challenge Listings page or Details page. I believe, this is second point refers to this ticket.

[2020-10-02 17:50] PereViki opened #5037 "[$50] Challenge Page / Direct inconsistency - stock images appear to be allowed when the option is checked off in Direct"
**Describe the bug**
In Direct although the Stock Photos are not allowed, the Topcoder details page for the challenge shows it is allowed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a challenge in Direct
2. Set the stock photos to not allowed
3. Launch the challenge
4. Observe the challenge details page

**Expected behavior**
The challenge details should be consistent with the se

[2020-10-02 18:05] rootelement commented on #4967
Yes, and that's what I said is done and working. so this ticket is solved.

[2020-10-02 18:09] Oanh-and-only-Oanh commented on #5037
Data type is string "false" , need be boolean (without ")
![image](https://user-images.githubusercontent.com/47536078/94955590-ab965780-049f-11eb-8848-6ae8cc630070.png)

[2020-10-02 18:13] luizrrodrigues commented on #5037
![image](https://user-images.githubusercontent.com/7029641/94956021-dabdc080-04c1-11eb-966b-b35c782bec05.png)

[2020-10-02 18:14] luizrrodrigues commented on #5037
Added request to **challenge-api**

https://github.com/topcoder-platform/challenge-api/issues/319

[2020-10-02 18:16] crazyk07 commented on #4981
Contest https://www.topcoder.com/challenges/30143200 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-02 18:21] Oanh-and-only-Oanh commented on #4926
@PrakashDurlabhji, we're working on getting payment posted to you for working on this ticket. Thanks for your help and patience,

[2020-10-02 20:01] crazyk07 commented on #5037
Contest https://www.topcoder.com/challenges/30144403 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-02 20:01] crazyk07 commented on #5037
Contest https://www.topcoder.com/challenges/30144403 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-02 21:06] luizrrodrigues commented on #4982
@PrakashDurlabhji Any status in this one?

[2020-10-02 21:51] luizrrodrigues commented on #5037
@SathyaJayabal QA env

[2020-10-02 22:53] cagdas001 commented on #4984
It will now call the endpoint with `?registrationStartDateStart={{DATE_PICKER_START_DATE}}&submissionEndDateEnd={{DATE_PICKER_END_DATE}}` query parameters. If you notice any defect (missing/wrong challenges etc), you first check the endpoint with these params it it's working properly

PR: #5039

[2020-10-03 04:06] tmalbonph opened #5040 "Applying for a gig job end up in OOPS - try again in error"
**Describe the bug**
I have applied for a gig job and it end up in OOPS - try again in error for the 3rd time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/gigs/22141334/apply
2. Fill up the application
3. Click the APPLY TO THIS JOB button at the bottom of the page.
4. Expected a successful application.

**Expected behavior**
A successful **job application*

[2020-10-03 07:09] PrakashDurlabhji commented on #4982
@luizrrodrigues update you in few minutes

[2020-10-03 11:41] kkartunov commented on #5040
Hey, @tmalbonph thanks for bug report. Can you please elaborate more on the error details and show us your full console output? There is no issue with service worker but probably with API communication to API

[2020-10-03 12:25] tmalbonph commented on #5040
@kkartunov I have no idea what is happening.

- But I am guessing that maybe I **already applied to the gig job** and the API refused my application,

- or maybe I am **applying with the wrong location** as the gig job welcomes only applicants from **India or nearby countries**.

- also, the **gig job link** was in the first place sent to me and mention that **I am qualified** to apply to it as **

[2020-10-03 14:24] luizrrodrigues commented on #1726
@sushilshinde Same issue @callmekatootie reported, chanced status to `Cancelled - Client Request`, but members was able to register (3 days later) and submit.

After cancelled, challenge was removed from Challenges Listing page, but members was able to register if access challenge directly.

https://www.topcoder.com/challenges/8d4c7aaa-5abb-44bc-a8b3-ce1af35c0b95

[2020-10-03 14:50] narekcat commented on #5036
Hi @luizrrodrigues . I have fixed this issue. Please see pull request https://github.com/topcoder-platform/topcoder-react-lib/pull/265.

[2020-10-03 18:13] PrakashDurlabhji commented on #4982
@luizrrodrigues PR is updated and console error is resolved.
Also making hit works but in response blank array is received hence unable backend api needs to be looked on which i hope is not a part of this ticket.

[2020-10-03 23:32] rootelement opened #5041 "WIP - Implement New Forums Object"
The challenge object will now have a discussions node. The logic on the frontend should be:
1. If the challenge object has a discussions object, loop through it and look for `type`: `challenge`.
2. If it has `type`: `challenge`, build a link for the `<a href="{url}">{name}</a>`
3. If there is no discussions node, if there is no type challenge, or if the type challenge has no url, default back to l

[2020-10-04 21:49] PrakashDurlabhji commented on #4981
@luizrrodrigues just some time i will surely complete it.

[2020-10-05 05:17] SathyaJayabal opened #5043 "Blank page displaying for the challenge details pages"
Blank page displaying for the challenge details pages
example:
https://staging-community-app.topcoder.com/challenges/1426bc1c-384a-409a-95cb-245ef7037782
<img width="1440" alt="Screenshot 2020-10-05 at 10 34 48 AM" src="https://user-images.githubusercontent.com/58783823/95042599-0f1ac200-06f8-11eb-9104-20e2abad30e0.png">

[2020-10-05 05:28] SathyaJayabal commented on #5037
verified on qa
example used:
https://qa-community-app.topcoder-dev.com/challenges/4f5f5573-22b9-4779-b9df-8509128e9c90
<img width="1440" alt="Screenshot 2020-10-05 at 10 55 21 AM" src="https://user-images.githubusercontent.com/58783823/95043117-84d35d80-06f9-11eb-809f-628cbf14fa2a.png">

[2020-10-05 06:22] SathyaJayabal opened #5044 "[$40] Sort : When new sort order is selected the bucket disappears for a few seconds before the new sort order is applied"
Got to listings page
Select a new sort order for my challenges bucket
Observe My challenges bucket disappears for a  few seconds before the new sort order is applied.
Same issue for Open for registration buckets too.
Please see sort functionality for Ongoing bucket for expected behaviour.

[sort.mov.zip](https://github.com/topcoder-platform/community-app/files/5325562/sort.mov.zip)

[2020-10-05 06:26] SathyaJayabal opened #5045 "[$50] Open for review bucket is empty even though there are challenges that are open for review"
Open for review bucket is empty even though there are challenges that are open for review
<img width="1440" alt="Screenshot 2020-10-05 at 11 53 11 AM" src="https://user-images.githubusercontent.com/58783823/95046218-62ddd900-0701-11eb-8073-1f5afcc09b16.png">
<img width="1440" alt="Screenshot 2020-10-05 at 11 53 14 AM" src="https://user-images.githubusercontent.com/58783823/95046298-8b65d300-0701-1

[2020-10-05 06:36] SathyaJayabal opened #5046 "Dashboard: My communities is empty, even though user is part of a few communities"
Dashboard: My communities is empty, even though user is part of a few communities
<img width="1440" alt="Screenshot 2020-10-05 at 12 01 43 PM" src="https://user-images.githubusercontent.com/58783823/95046873-ac7af380-0702-11eb-83be-0c6c065e3408.png">
<img width="1440" alt="Screenshot 2020-10-05 at 12 01 46 PM" src="https://user-images.githubusercontent.com/58783823/95047038-f663d980-0702-11eb-898a

[2020-10-05 06:48] crazyk07 commented on #5045
Contest https://www.topcoder.com/challenges/30144488 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-05 06:50] SathyaJayabal commented on #5045
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 6-8 hours and PR to
https://github.com/topcoder-platform/community-app/tree/listing-develop-sync 
https://github.com/topcoder-platform/topcoder-react-lib/tree/listing-develop-sync

run npm run test before PR

[2020-10-05 06:53] SathyaJayabal commented on #5045
The api does return the data for open for review bucket
<img width="1440" alt="Screenshot 2020-10-05 at 12 21 44 PM" src="https://user-images.githubusercontent.com/58783823/95048377-64110500-0705-11eb-897c-0b0a0e4bbf9d.png">

[2020-10-05 06:54] crazyk07 commented on #5045
Contest https://www.topcoder.com/challenges/30144488 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-05 06:58] SathyaJayabal commented on #4967
@rootelement , let us know when the tags fix is released to prod.

[2020-10-05 07:22] SathyaJayabal commented on #5045
@cagdas001 , this one is urgent. Please give us an update of your status in 4 hours.

[2020-10-05 07:26] SathyaJayabal commented on #5043
@luizrrodrigues ,
We are able to view the details page, when registrants or submissions tab is selected
<img width="1440" alt="Screenshot 2020-10-05 at 12 56 02 PM" src="https://user-images.githubusercontent.com/58783823/95051032-337f9a00-070a-11eb-9bdb-52292ab9237d.png">

<img width="1440" alt="Screenshot 2020-10-05 at 12 55 58 PM" src="https://user-images.githubusercontent.com/58783823/95051012-

[2020-10-05 07:35] SathyaJayabal commented on #5027
Verified. Works after sync with develop.
<img width="1440" alt="Screenshot 2020-10-05 at 1 04 04 PM" src="https://user-images.githubusercontent.com/58783823/95051700-4ba3e900-070b-11eb-8cb7-78509afabfbd.png">

[2020-10-05 07:35] #5027 closed

[2020-10-05 08:06] SathyaJayabal opened #5047 "Challenge details page throwing a "failed to load sub-communities listings" error"
Challenge details page throwing a "failed to load sub-communities listings" error. This issue is present only on test env and not on staging.

<img width="1440" alt="Screenshot 2020-10-05 at 1 33 48 PM" src="https://user-images.githubusercontent.com/58783823/95054468-8ad43900-070f-11eb-8b48-1ee2fc268e48.png">

[2020-10-05 08:06] SathyaJayabal opened #5048 "[$50] Subcommunity filter does not have all the communities the user belongs to"
Subcommunity filter does not have all the communities the user belongs to

<img width="1440" alt="Screenshot 2020-10-05 at 1 31 19 PM" src="https://user-images.githubusercontent.com/58783823/95054220-2dd88300-070f-11eb-844e-590d1544721e.png">

<img width="1440" alt="Screenshot 2020-10-05 at 1 31 53 PM" src="https://user-images.githubusercontent.com/58783823/95054251-39c44500-070f-11eb-904b-8651857

[2020-10-05 08:08] SathyaJayabal opened #5049 "Dashboard displaying a blank page"
Dashboard displaying a blank page
<img width="1440" alt="Screenshot 2020-10-05 at 1 35 33 PM" src="https://user-images.githubusercontent.com/58783823/95054636-ca028a00-070f-11eb-893c-8202da86b6c5.png">

[2020-10-05 09:02] luizrrodrigues commented on #4976
@LieutenantRoger Looks like add unnecessary `hidden: true` to meta data: https://github.com/topcoder-platform/community-app/compare/develop...listing-develop-sync

[2020-10-05 09:11] LieutenantRoger commented on #4976
They are expected per discussion with @Oanh-and-only-Oanh  in the slack.

Actually we should only show `tco21` but `tco21` doesn't have groupId, so I fall back to show only `tco19` for demonstration purpose.  Once the `tco21` has valid groupIds returned, we can switch `tco19` back to `tco21`

[2020-10-05 09:14] LieutenantRoger commented on #4976
Here's the link in the slack for it. https://topcoder.slack.com/archives/G018ZDY3G7L/p1601488642040400?thread_ts=1601483416.038200&cid=G018ZDY3G7L

[2020-10-05 09:15] luizrrodrigues commented on #4976
@LieutenantRoger Insteaad `hidden: true` use `hideSearch: true`

[2020-10-05 09:20] kkartunov commented on #5012
@SathyaJayabal test URL: http://qa-community-app.topcoder-dev.com/examples/contentful/contentblock/cFNLQkRNiXAutV7irFBhF

Challenge: https://www.topcoder-dev.com/challenges/2a3eda4d-c289-4a3f-a663-db09ada062ea

[2020-10-05 09:26] SathyaJayabal commented on #4973
verified on staging for my challenges and Open for registration
<img width="1440" alt="Screenshot 2020-10-05 at 2 55 07 PM" src="https://user-images.githubusercontent.com/58783823/95062595-d3452400-071a-11eb-9c3e-ee07a2231c38.png">

[2020-10-05 09:26] LieutenantRoger commented on #4976
I thought `hidden` is used to `hide` a group,  where the `hideSearch` is used ?

[2020-10-05 09:26] SathyaJayabal commented on #5002
verified on staging
[5002.mov.zip](https://github.com/topcoder-platform/community-app/files/5326455/5002.mov.zip)

[2020-10-05 09:30] crazyk07 commented on #4973
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-05 09:30] crazyk07 commented on #5002
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-05 09:32] SathyaJayabal commented on #4971
api fix not yet in prod.

[2020-10-05 09:34] #4965 closed

[2020-10-05 09:35] SathyaJayabal commented on #4966
verified on staging
<img width="1440" alt="Screenshot 2020-10-05 at 3 03 30 PM" src="https://user-images.githubusercontent.com/58783823/95063508-0936d800-071c-11eb-9cd2-8699b7037e30.png">

[2020-10-05 09:37] SathyaJayabal commented on #4964
verified on staging
<img width="1440" alt="Screenshot 2020-10-05 at 3 06 12 PM" src="https://user-images.githubusercontent.com/58783823/95063745-629f0700-071c-11eb-8c13-efc4d7bbb0eb.png">

[2020-10-05 09:38] SathyaJayabal commented on #4963
verified on staging
<img width="1440" alt="Screenshot 2020-10-05 at 3 07 48 PM" src="https://user-images.githubusercontent.com/58783823/95063884-8f531e80-071c-11eb-99fa-f704153c7a47.png">

[2020-10-05 09:38] #4963 closed

[2020-10-05 09:42] SathyaJayabal commented on #4962
verified on staging
<img width="1440" alt="Screenshot 2020-10-05 at 3 09 10 PM" src="https://user-images.githubusercontent.com/58783823/95064273-1bfddc80-071d-11eb-9144-4c7796a09999.png">
<img width="1440" alt="Screenshot 2020-10-05 at 3 09 12 PM" src="https://user-images.githubusercontent.com/58783823/95064290-215b2700-071d-11eb-9c1b-164f743074d1.png">
<img width="1440" alt="Screenshot 2020-10-05

[2020-10-05 09:45] luizrrodrigues commented on #4976
@LieutenantRoger sorry, ignore. `hideSearch` will hide just search icon from header.

`hidden` looks right one, but have an issue when navigate from listing page to dashboard.

[2020-10-05 09:47] SathyaJayabal commented on #4968
verified on staging
<img width="1440" alt="Screenshot 2020-10-05 at 3 16 54 PM" src="https://user-images.githubusercontent.com/58783823/95064762-d261c180-071d-11eb-8922-4ec3f7799b4a.png">

[2020-10-05 09:47] #4968 closed

[2020-10-05 09:56] tmalbonph commented on #5040
@kkartunov @Oanh-and-only-Oanh Any updates on this issue?

[2020-10-05 09:57] SathyaJayabal opened #5050 "[$60] Clicking on Challenge type tag from challenge details throws a blank page"
Go to challenge details page
Click on challenge type tag below the title
actual: blank page is displayed
expected: listings page filtered by challenge type.
<img width="1440" alt="Screenshot 2020-10-05 at 3 20 22 PM" src="https://user-images.githubusercontent.com/58783823/95065526-d04c3280-071e-11eb-8887-9c9a7fb9f209.png">
[filterbytype.mov.zip](https://github.com/topcoder-platform/community-app/f

[2020-10-05 09:58] tmalbonph commented on #4920
@Oanh-and-only-Oanh any updates on this issue?

[2020-10-05 09:59] tmalbonph commented on #2290
@sushilshinde @Oanh-and-only-Oanh any updates on this issue?

[2020-10-05 10:00] SathyaJayabal commented on #5043
verified on staging
<img width="1440" alt="Screenshot 2020-10-05 at 3 28 35 PM" src="https://user-images.githubusercontent.com/58783823/95066070-89ab0800-071f-11eb-8ad5-104107e47655.png">
<img width="1440" alt="Screenshot 2020-10-05 at 3 28 53 PM" src="https://user-images.githubusercontent.com/58783823/95066125-99c2e780-071f-11eb-9bc1-7a4d494489ef.png">
<img width="1440" alt="Screenshot 2020-10-05

[2020-10-05 10:00] #5043 closed

[2020-10-05 10:06] SathyaJayabal commented on #5012
@kkartunov , where will the leaderboard be displayed.
https://qa-community-app.topcoder-dev.com/challenges/2a3eda4d-c289-4a3f-a663-db09ada062ea
<img width="1440" alt="Screenshot 2020-10-05 at 3 36 04 PM" src="https://user-images.githubusercontent.com/58783823/95066796-806e6b00-0720-11eb-87b3-bcd5d5f260bd.png">

[2020-10-05 10:16] SathyaJayabal commented on #5029
verified. fixed after sync
<img width="1440" alt="Screenshot 2020-10-05 at 3 31 06 PM" src="https://user-images.githubusercontent.com/58783823/95066456-10f87b80-0720-11eb-8ae4-9776e2c859a1.png">

[2020-10-05 10:16] #5029 closed

[2020-10-05 10:22] SathyaJayabal commented on #4976
@LieutenantRoger , by default we should have an `all` option that should be selected.
1. go to listings page
2. click on dashboard, we get a blank page
3.Go to listings
4. select tco19 from sub communities filter
5, go to dashboard, dashboard is displayed properly.

[2020-10-05 10:25] LieutenantRoger commented on #4976
I will take a look at the `all` option.

Dashboard page I think you meant this ticket, right ? https://github.com/topcoder-platform/community-app/issues/5049

It's another ticket.

[2020-10-05 10:27] SathyaJayabal commented on #5050
Same issue when clicking on any tech tag form challenge details page.

[2020-10-05 10:32] SathyaJayabal commented on #4791
This one was fixed along with #4510

[2020-10-05 10:32] #4791 closed

[2020-10-05 10:35] SathyaJayabal commented on #4976
@LieutenantRoger , yes dashboard page is #5049 , but looks like that is only happening when we don't select any sub communities on listings page. Otherwise accessing dashboard directly works. Selecting any subcommunity from listings filter dropdown and then accessing dashboard also works. So I think #5049 is related to this ticket.

[2020-10-05 10:37] SathyaJayabal commented on #5049
@luizrrodrigues maybe related to
https://github.com/topcoder-platform/community-app/issues/4976#issuecomment-703547898

[2020-10-05 10:47] LieutenantRoger commented on #4976
ok, let me take a look

[2020-10-05 11:27] SathyaJayabal commented on #5046
@luizrrodrigues, now the my communities display the user's communities, but the members, challenges and purse values are empty
<img width="1440" alt="Screenshot 2020-10-05 at 4 55 49 PM" src="https://user-images.githubusercontent.com/58783823/95074177-b8c77680-072b-11eb-8ec3-d43b1b4e083d.png">
<img width="1440" alt="Screenshot 2020-10-05 at 4 56 12 PM" src="https://user-images.githubusercontent.co

[2020-10-05 11:30] SathyaJayabal commented on #5048
Also related:
the The community dropdown on the community headers do not have all the  communities
<img width="1440" alt="Screenshot 2020-10-05 at 4 58 47 PM" src="https://user-images.githubusercontent.com/58783823/95074426-2ffd0a80-072c-11eb-9bc6-d728063b3fd9.png">
<img width="1440" alt="Screenshot 2020-10-05 at 4 58 51 PM" src="https://user-images.githubusercontent.com/58783823/95074478-460acb00

[2020-10-05 11:32] kkartunov commented on #5012
@SathyaJayabal
1. In Contentful pages where it is needed
2. Fixed

[2020-10-05 11:47] kkartunov opened #5051 "Gig Work Email Landing Page"
Marvel here https://marvelapp.com/prototype/f0i4ece/screen/72958362

Notes for QA:
- Header should be standard TC header not as per design

[2020-10-05 13:43] LieutenantRoger commented on #4976
Here's the PR for the `All` option fix: https://github.com/topcoder-platform/community-app/pull/5052

[2020-10-05 15:40] SathyaJayabal commented on #5047
tetsing and staging has the same frontend code, but the staging has prod backend and test has dev backend.

[2020-10-05 15:45] SathyaJayabal commented on #5045
@cagdas001 , any updates on this issue?

[2020-10-05 16:10] Oanh-and-only-Oanh commented on #5040
Hi,

Yes, I've alerted the community team to look into that issue. Thank you.

<https://www.topcoder.com/>

*Oanh Tran*

Product Manager, Community App

732-353-9457

www.topcoder.com  | @topcoder <http://twitter.com/topcoder>

On Mon, Oct 5, 2020 at 2:57 AM Teddy Albon <notifications@github.com> wrote:

[2020-10-05 16:24] Oanh-and-only-Oanh commented on #4981
@PrakashDurlabhji, please PR in next few hours so release the ticket.

[2020-10-05 16:44] PrakashDurlabhji commented on #4981
@Oanh-and-only-Oanh I was actively on this ticket PR in 10mins

[2020-10-05 19:17] kkartunov commented on #5040
@tmalbonph please retry again and share your full console output with us. We are not able to reproduce it currently with it. Thanks

[2020-10-05 19:28] tmalbonph commented on #5040
@kkartunov What do you mean by **full console output** ? I already get and posted the **full chrome output**.

[2020-10-05 19:36] luizrrodrigues commented on #4981
@PrakashDurlabhji circleci test fail, please fix and PR to `listing-develop-sync`

[2020-10-05 19:36] tmalbonph commented on #5040
@kkartunov Did you **trace the code that display the OOPS error**? Did you **trace back what will trigger this error** messages? If you did, then you have a **case to explore**!

[2020-10-05 21:40] luizrrodrigues opened #5056 "Update filter to TCO20 and TCO21"
When group have `events` in `challengeFilter`, call API with `events` instead `groupId`.

Please ref. swagger file: https://github.com/topcoder-platform/challenge-api/blob/4a480a0e7c435a6e3d431fdfa03960bf3ce91455/docs/swagger.yaml#L184-L191

example:
[code]

[2020-10-05 21:40] crazyk07 commented on #5056
Contest https://www.topcoder.com/challenges/30144546 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-05 21:42] luizrrodrigues commented on #5056
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 6-8 hours and PR to
https://github.com/topcoder-platform/community-app/tree/listing-develop-sync 
https://github.com/topcoder-platform/topcoder-react-lib/tree/listing-develop-sync

run `npm run test` before PR

[2020-10-05 21:43] luizrrodrigues commented on #4976
@SathyaJayabal New requirement related with this one: https://github.com/topcoder-platform/community-app/issues/5056

[2020-10-05 22:04] crazyk07 commented on #5048
Contest https://www.topcoder.com/challenges/30144550 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-05 22:04] crazyk07 commented on #5048
Contest https://www.topcoder.com/challenges/30144550 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-05 22:24] crazyk07 commented on #5050
Contest https://www.topcoder.com/challenges/30144557 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-05 22:24] luizrrodrigues commented on #5050
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 6-8 hours and PR to
https://github.com/topcoder-platform/community-app/tree/listing-develop-sync 
https://github.com/topcoder-platform/topcoder-react-lib/tree/listing-develop-sync

run `npm run test` before PR

[2020-10-05 22:53] crazyk07 commented on #5050
Contest https://www.topcoder.com/challenges/30144557 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-05 23:12] tmalbonph commented on #5040
@kkartunov @Oanh-and-only-Oanh **The error is gone**

- see **NoMoreError-2020-10-06-07-00-01.png**

![NoMoreError-2020-10-06-07-00-01](https://user-images.githubusercontent.com/3745678/95141190-1d71e800-07a3-11eb-8f62-5acdcc17ab09.png)

[2020-10-05 23:12] #5040 closed

[2020-10-06 00:20] tmalbonph commented on #4920
@gets0ul @rootelement @Oanh-and-only-Oanh @luizrrodrigues

1. I assume time and date is always save in UTC value.
2. Then, those micro service(s) (if any) that is processing the challenge registration did save the **Registration date** in *UTC value*.
3. I have noticed that from time to time the IP address of *www.topcoder.com*, and other **topcoder sub domain** like *api.topcoder.com* often chang

[2020-10-06 02:16] luizrrodrigues commented on #4256
@SathyaJayabal QA env.

[2020-10-06 03:41] SathyaJayabal commented on #5045
verified on staging
<img width="1440" alt="Screenshot 2020-10-06 at 9 10 31 AM" src="https://user-images.githubusercontent.com/58783823/95156317-e2c47b80-07b3-11eb-8b99-6a241745f565.png">

[2020-10-06 03:44] SathyaJayabal commented on #4976
@luizrrodrigues , lets close this one and track the sub community filter on #5056

[2020-10-06 03:44] #4976 closed

[2020-10-06 03:48] SathyaJayabal commented on #5048
@luizrrodrigues , we still dont see all the sub-communities.

As per our discussion on slack, we must display:

- All sub-communities the user belongs to (except Cognitive  and Blockchain : which will be hidden for now and can be displayed later when we have challenges under them).
- Events: Current and Previous year TCO (TCo20 and TCo21 for now)

<img width="1440" alt="Screenshot 2020-10-06 at 9

[2020-10-06 03:56] SathyaJayabal commented on #5048
@luizrrodrigues , my user is missing Topgear, Zurich, CS and Comcast  communities.

[2020-10-06 04:20] crazyk07 commented on #5056
Contest https://www.topcoder.com/challenges/30144546 has been updated - Narekvar90 has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-06 04:25] SathyaJayabal commented on #5048
@luizrrodrigues , my user is able able to view all sub-communities now

<img width="1440" alt="Screenshot 2020-10-06 at 9 53 34 AM" src="https://user-images.githubusercontent.com/58783823/95158731-fc68c180-07b9-11eb-8383-ff613766b7fc.png">

[2020-10-06 04:26] crazyk07 commented on #5056
Contest https://www.topcoder.com/challenges/30144546 has been updated - Narekvar90 has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-06 04:27] narekcat commented on #5056
@luizrrodrigues Hi. Can I work on this issue ?

[2020-10-06 04:48] SathyaJayabal opened #5057 "Update Sub-community challenge listings page URL (filter by community) to follow new format"
Some of the challenge  pages of the sub communities will be by default filtered by sub-community. The filter url must be updated to use the new format.
Example:
This is the challenges link URL for Zurich
https://staging-community-app.topcoder.com/__community__/zurich/challenges?communityId=zurich
To filter by community Zurich, the new URL is
https://staging-community-app.topcoder.com/__community__

[2020-10-06 05:06] SathyaJayabal commented on #4256
@luizrrodrigues @Oanh-and-only-Oanh, the checkpoint submission count has been fixed. As for the final submission count, it  has been addressed in  https://github.com/topcoder-platform/community-app/issues/4681.
The submission count displayed on the challenge details is not the final submission count, but the total submission count.
<img width="1440" alt="Screenshot 2020-10-06 at 10 35 48 AM" src="

[2020-10-06 05:09] SathyaJayabal commented on #5012
@kkartunov , verified 2.
<img width="1440" alt="Screenshot 2020-10-06 at 10 38 47 AM" src="https://user-images.githubusercontent.com/58783823/95161228-38068a00-07c0-11eb-80d5-7f59d439c9e2.png">

[2020-10-06 05:39] luizrrodrigues commented on #5056
@narekcat yes

[2020-10-06 05:40] crazyk07 commented on #5056
Contest https://www.topcoder.com/challenges/30144546 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-06 06:40] kkartunov commented on #5040
@tmalbonph great to hear, thank You!

[2020-10-06 06:51] kkartunov opened #5059 "Gig Work application process - change status in recruitCRM to "apply""
In recruitCRM it looks like it is “assigning” people to gigs and not “applying” them. We need to change that.

[2020-10-06 13:19] luizrrodrigues commented on #5056
@narekcat any progress in this one?

[2020-10-06 13:20] narekcat commented on #5056
@luizrrodrigues I am still working on this issue.

[2020-10-06 14:37] crazyk07 commented on #5003
Contest https://www.topcoder.com/challenges/30144685 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-06 14:37] luizrrodrigues commented on #5003
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 6-8 hours and PR to
https://github.com/topcoder-platform/community-app/tree/listing-develop-sync 
https://github.com/topcoder-platform/topcoder-react-lib/tree/listing-develop-sync

run `npm run test` before PR

[2020-10-06 14:37] luizrrodrigues commented on #5056
@narekcat Sure, please keep me updated.

[2020-10-06 14:48] luizrrodrigues commented on #4981
@PrakashDurlabhji I have fixed the circleci this time, but please make sure to run `npm run test` before push.

Thanks.

[2020-10-06 14:48] narekcat commented on #5056
@luizrrodrigues Okay, thank you.

[2020-10-06 15:53] #4926 closed

[2020-10-06 15:53] crazyk07 commented on #4926
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142353<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-06 15:54] #5004 closed

[2020-10-06 15:54] crazyk07 commented on #5004
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143519<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-06 15:54] #4948 closed

[2020-10-06 15:54] crazyk07 commented on #4948
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142347<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-06 16:06] SathyaJayabal commented on #2290
@tmalbonph , I see the submission count getting updated on the listings page correctly. Are you still facing this issue?

[2020-10-06 16:13] crazyk07 commented on #5003
Contest https://www.topcoder.com/challenges/30144685 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-10-06 16:14] tmalbonph commented on #2290
@SathyaJayabal This was an April 2019 issue. Did anyone fix it and this issue was left behind? Anyway, closing it now!

[2020-10-06 16:14] #2290 closed

[2020-10-06 16:17] SathyaJayabal commented on #2290
It was fixed as part of the V5 challenge api release. Before there was a small delay with the updating the submission count. But now its immediate.

[2020-10-06 16:36] SathyaJayabal commented on #5034
verified in qa. Validation message appears immediately on deleting these values.

<img width="1440" alt="Screenshot 2020-10-06 at 10 05 28 PM" src="https://user-images.githubusercontent.com/58783823/95230964-2fde3700-0820-11eb-90d8-af1d5476bc6d.png">

[2020-10-06 18:51] marioskranitsas commented on #5003
PR https://github.com/topcoder-platform/community-app/pull/5060

[2020-10-06 19:02] mtwomey commented on #4527
@well_everyone! If we forget about V5 for now, can this be corrected and returned to a functional state by using V4? If so, we want to do that.

After a deeper investigation, two items need to be addresses before moving to V5:

1. Support for bulk requests to submissions-api in V5
1. Support for user scores being returned in v5-submissions

Once these are addressed - we can move this interface / v

[2020-10-06 20:24] Oanh-and-only-Oanh opened #5061 "Display Stats History: Members challenges using V5 API"
Stats History: Members challenges uses v4 and we need to move to v5. This is follow up to https://github.com/topcoder-platform/community-app/issues/4527

Two items need to be addresses before moving to V5:

Support for bulk requests to submissions-api in V5
Support for user scores being returned in v5-submissions
Once these are addressed - we can move this interface / view to V5.

[2020-10-06 22:30] luizrrodrigues commented on #4981
@Oanh-and-only-Oanh To confirm, if we directly access or refresh page when have in URL: `tracks[Des]=true` the filter need be reflect this right?

[2020-10-06 22:49] Oanh-and-only-Oanh commented on #4981
If user has filters on, reloading the page should refresh url with filters set. Same with direct access. pasting in url with reloaded filters should reflect set filters

[2020-10-06 23:03] luizrrodrigues commented on #4981
@PrakashDurlabhji Fix to update URL looks good, but based in comments above, if refresh the page or direct access, filter not reflecting the filters in URL.

[2020-10-06 23:04] luizrrodrigues commented on #4981
@PrakashDurlabhji Please let me know if you able to work on this, we need to close this one ASAP.

Thanks.

[2020-10-07 03:56] SathyaJayabal commented on #5034
verified on staging. Validation message appears immediately on deleting these values.
<img width="1440" alt="Screenshot 2020-10-07 at 9 25 53 AM" src="https://user-images.githubusercontent.com/58783823/95285768-3223ae00-087f-11eb-8fae-488f2918e93b.png">

[2020-10-07 03:59] SathyaJayabal commented on #4256
Verified on staging
<img width="1440" alt="Screenshot 2020-10-07 at 9 28 37 AM" src="https://user-images.githubusercontent.com/58783823/95285903-862e9280-087f-11eb-883d-6ef4832f9517.png">

[2020-10-07 04:01] SathyaJayabal commented on #5037
verified on staging (develop)
<img width="1440" alt="Screenshot 2020-10-07 at 9 30 49 AM" src="https://user-images.githubusercontent.com/58783823/95286049-dad20d80-087f-11eb-8b0b-225645f42e0e.png">

[2020-10-07 04:33] PrakashDurlabhji commented on #4981
@luizrrodrigues yes i will complete it in few hours

[2020-10-07 04:49] luizrrodrigues commented on #4984
@cagdas001 @cagdas001 I think we need to use `endDateStart` and `startDateEnd`

Example: Your solution, If select Oct 7 don't show any challenge.
![image](https://user-images.githubusercontent.com/7029641/95284614-fbc14100-0834-11eb-89a8-865303715092.png)

If we use `endDateStart` and `startDateEnd` will show running challenge:
![image](https://user-images.githubusercontent.com/7029641/95288433-a5

[2020-10-07 05:11] luizrrodrigues commented on #4984
User cases:

1. If select range Jun 1 - Jun 30: I want to know what challenges was active in June

2. If select range Oct 11 - Oct 17: I want to know what challenge will be active in next week

cc @SathyaJayabal

[2020-10-07 05:15] SathyaJayabal commented on #4984
@luizrrodrigues , you are correct. We can follow the prev v4 implementation I think.
https://github.com/topcoder-platform/community-app/issues/4984#issuecomment-698731469

[2020-10-07 05:41] SathyaJayabal opened #5064 "When filter by type is selected "No Live Challenges" message displayed even when challenges are present"
user: tonyj
1. go to listings page
https://qa-community-app.topcoder-dev.com/challenges?
2. Filter by type = task
We can see challenges under `My challenges` and `Open for registration` buckets, but still `No Live Challenges found in All Challenges` message is displayed.

actual: `No Live Challenges found in All Challenges` message is displayed.
expected: `My challenges` and `Open for registration

[2020-10-07 05:50] SathyaJayabal commented on #5050
@luizrrodrigues @gets0ul , clicking on the challenge type tag or tech tag does not reset previous tag.
please see comparison video with prod
[prod.mov.zip](https://github.com/topcoder-platform/community-app/files/5338476/prod.mov.zip)

[newlistings.mov.zip](https://github.com/topcoder-platform/community-app/files/5338475/newlistings.mov.zip)

[2020-10-07 05:51] SathyaJayabal commented on #5036
verified on qa
<img width="1440" alt="Screenshot 2020-10-07 at 11 20 43 AM" src="https://user-images.githubusercontent.com/58783823/95292490-2fc95000-088f-11eb-8388-f6619f6f462a.png">

[2020-10-07 06:35] kkartunov commented on #5059
@SathyaJayabal verified on stage. No issues found.

[2020-10-07 07:32] skyhit commented on #4659
@luizrrodrigues @Oanh-and-only-Oanh I asked for a fix now, will keep you update

[2020-10-07 08:34] cagdas001 commented on #4984
Your request (`startDate` & `endDate`) is not the V4 implementation. The current changes already follow the V4. Please read comments

[2020-10-07 09:32] gets0ul commented on #5050
@luizrrodrigues @SathyaJayabal should we reset or not, please confirm? Thanks

[2020-10-07 09:38] SathyaJayabal commented on #5050
@gets0ul , it should be same as in prod, should be reset.

[2020-10-07 11:56] luizrrodrigues commented on #4984
@cagdas001 I read all comments. What I said here is, your implementation, search results no match with v4 results (please compare your solution with https://beta-community-app.topcoder.com/challenges

[2020-10-07 12:16] kkartunov commented on #5012
@SathyaJayabal it is not working properly on prod.

[2020-10-07 12:21] #4966 closed

[2020-10-07 12:22] #4964 closed

[2020-10-07 12:22] luizrrodrigues commented on #4964
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143202<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-07 12:22] luizrrodrigues commented on #4966
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143149<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-07 12:23] luizrrodrigues commented on #5048
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-07 12:24] #5045 closed

[2020-10-07 12:25] #5002 closed

[2020-10-07 12:25] luizrrodrigues commented on #5045
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144488<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-07 12:25] #4973 closed

[2020-10-07 12:25] luizrrodrigues commented on #5002
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143518<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-07 12:25] luizrrodrigues commented on #4973
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143201<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-07 12:25] #4962 closed

[2020-10-07 12:26] luizrrodrigues commented on #4962
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143197<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-07 12:34] cagdas001 commented on #4984
Yeah because beta still uses frontend filters while you migrated sorting & filtering to backend with challenge listing revamp. That's what I meant by

Check the frontend filtering implementation above, you'll see API call uses correct field names

[2020-10-07 12:45] cagdas001 commented on #4527
@Oanh-and-only-Oanh so what is the decision here? Shall we turn back to the V4 API for now? Anything to do from my side?

[2020-10-07 13:03] #5048 closed

[2020-10-07 13:04] luizrrodrigues commented on #5048
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144550<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-07 13:18] skyhit commented on #4659
@luizrrodrigues @Oanh-and-only-Oanh fix for topcoder-platform/topcoder-react-lib#261 is ready

[2020-10-07 13:33] luizrrodrigues commented on #4984
@cagdas001 Please check:
https://github.com/topcoder-platform/community-app/compare/listing-develop-sync...issue-4984?expand=1

[2020-10-07 15:35] SathyaJayabal commented on #5034
Verified on prod. Error message immediately appears on deleting the values.
<img width="1440" alt="Screenshot 2020-10-07 at 9 01 37 PM" src="https://user-images.githubusercontent.com/58783823/95353364-d0942b80-08e0-11eb-9b7c-9ba858d24e6d.png">

[2020-10-07 15:37] SathyaJayabal commented on #4256
verified on prod
<img width="1440" alt="Screenshot 2020-10-07 at 9 06 32 PM" src="https://user-images.githubusercontent.com/58783823/95353577-0e914f80-08e1-11eb-9468-ead36564488f.png">

[2020-10-07 15:37] #4256 closed

[2020-10-07 15:37] luizrrodrigues commented on #4256
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141723<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-07 15:38] SathyaJayabal commented on #5037
verified on prod
<img width="1440" alt="Screenshot 2020-10-07 at 9 08 07 PM" src="https://user-images.githubusercontent.com/58783823/95353742-3ed8ee00-08e1-11eb-8e47-802aafef0d87.png">

[2020-10-07 15:38] #5037 closed

[2020-10-07 15:39] luizrrodrigues commented on #5037
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144403<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-07 15:39] #5034 closed

[2020-10-07 15:47] SathyaJayabal commented on #5059
@kkartunov , please verify on prod and close this issue.

[2020-10-07 16:00] Oanh-and-only-Oanh commented on #4527
Yes we will need to return to v4 for this view. @luizrrodrigues will have next steps soon.

[2020-10-07 16:08] SathyaJayabal commented on #5059
Closing this as @hokienick has verified it on prod.

[2020-10-07 16:08] #5059 closed

[2020-10-07 16:28] Oanh-and-only-Oanh commented on #5064
@SathyaJayabal, is this bug on PROD as well or just an issue in QA environment?

[2020-10-07 16:30] Oanh-and-only-Oanh commented on #5012
@luizrrodrigues @SathyaJayabal @kkartunov, do we need to revert or can we just continue to fix the issue with reverting?

[2020-10-07 16:33] Oanh-and-only-Oanh commented on #5056
@narekcat, please PR ASAP. we need this ticket resolved in time for tomorrow's release.

[2020-10-07 16:34] Oanh-and-only-Oanh commented on #4981
@PrakashDurlabhji, we need to close ASAP to release by tomorrow.

[2020-10-07 16:38] luizrrodrigues commented on #5050
@gets0ul I'm still see this issue:

- Click in a challenge;
- Click in challenge type;
- Now click in a tag from any challenge;
- Note, type not reset

https://i.gyazo.com/8230b090278a0b2d2797b63b7c4e40b5.mp4

[2020-10-07 16:51] narekcat commented on #5056
@luizrrodrigues @Oanh-and-only-Oanh I have fixed this issue, see pull request https://github.com/topcoder-platform/topcoder-react-lib/pull/268

[2020-10-07 17:05] gets0ul commented on #5050
@luizrrodrigues that was a different case. This is about when clicking the type or tag below the title in challenge detail page.
See the videos made by @SathyaJayabal in https://github.com/topcoder-platform/community-app/issues/5050#issuecomment-704708886

[2020-10-07 17:11] PrakashDurlabhji commented on #4981
@Oanh-and-only-Oanh actively on it

[2020-10-07 17:20] SathyaJayabal commented on #5064
@Oanh-and-only-Oanh , its just in the new listings.

[2020-10-07 17:21] SathyaJayabal commented on #5012
@Oanh-and-only-Oanh , its not in prod yet. @kkartunov means prod backend when he tested on staging.

[2020-10-07 17:45] Oanh-and-only-Oanh commented on #5064
My view of the screen is different from what yours when i go to https://qa-community-app.topcoder-dev.com/challenges?

1. I have "past challenges" bucket...
2. I'm not getting the No Live Challenges found in All Challenges message.

![image](https://user-images.githubusercontent.com/47536078/95367718-f0e4cb80-0889-11eb-8f10-fd308a260096.png)

[2020-10-07 18:35] PrakashDurlabhji commented on #4981
@luizrrodrigues @Oanh-and-only-Oanh done it is completed

[2020-10-07 18:54] PrakashDurlabhji commented on #4981
@luizrrodrigues @Oanh-and-only-Oanh PR updated and working fine https://github.com/topcoder-platform/community-app/pull/5053/

[2020-10-07 20:31] luizrrodrigues commented on #4975
https://github.com/topcoder-platform/challenge-api/issues/322

[2020-10-07 20:33] gets0ul commented on #5050
@luizrrodrigues New commit is added. Now it will reset.

[2020-10-07 22:43] luizrrodrigues commented on #5056
@narekcat You sure just need change to Lib? Not need any change to **community-app**?

[2020-10-07 23:43] narekcat commented on #5056
@luizrrodrigues I think yes.

[2020-10-07 23:48] luizrrodrigues commented on #5056
@narekcat Looks like not working in my local env.

Can you share a video showing this working in your side please?

[2020-10-07 23:54] narekcat commented on #5056
@luizrrodrigues Sorry, but I can  share video after 8 hours.

[2020-10-08 00:09] luizrrodrigues commented on #5003
@marioskranitsas https://github.com/topcoder-platform/community-app/pull/5060#pullrequestreview-504348866

[2020-10-08 00:28] cagdas001 commented on #4984
Updated the PR as per the discussion with @luizrrodrigues on Slack

[2020-10-08 00:36] luizrrodrigues commented on #4981
@PrakashDurlabhji in Challenge Details, if click in challenge type or tag, API called with wrong param:

![image](https://user-images.githubusercontent.com/7029641/95402026-181cb680-08e5-11eb-9b83-3d135651745d.png)

[2020-10-08 00:39] luizrrodrigues commented on #5056
@narekcat You mena, you'll able to work in this in 8h from now?

[2020-10-08 01:24] luizrrodrigues commented on #4982
@PrakashDurlabhji

**My Challenges:**

**Open for Registration:**

**Ongoing Challenges:**

[2020-10-08 01:29] luizrrodrigues commented on #4982
`sortBy=prize` request to API team: https://github.com/topcoder-platform/challenge-api/issues/323

[2020-10-08 02:38] luizrrodrigues commented on #4984
@SathyaJayabal Ping me on Slack before QA this one.

[2020-10-08 03:00] Oanh-and-only-Oanh commented on #5056
@luizrrodrigues, we can't wait. This is urgent. Please look to launch this as a f2f challenge so we get submissions.

[2020-10-08 03:13] SathyaJayabal commented on #5064
@Oanh-and-only-Oanh , please try now.

[2020-10-08 03:18] SathyaJayabal commented on #5036
verified on staging
<img width="1440" alt="Screenshot 2020-10-08 at 8 47 55 AM" src="https://user-images.githubusercontent.com/58783823/95410999-fe11c100-0942-11eb-858d-58444ef8d775.png">

[2020-10-08 03:18] #5036 closed

[2020-10-08 03:19] Oanh-and-only-Oanh commented on #5064
@SathyaJayabal, I'll try again logged but this is the logged out view.
![Uploading image.png…]()

[2020-10-08 03:19] luizrrodrigues commented on #5036
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144393<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-08 03:48] SathyaJayabal commented on #5047
This is due to an env variable setting
Test env was added with / in end, so we getting 404 error:
ttps://test-community-app.topcoder-dev.com//community-app-assets/api/tc-communities?

[2020-10-08 03:48] #5047 closed

[2020-10-08 04:00] luizrrodrigues commented on #5056
**F2F:** https://www.topcoder.com/challenges/d9dbdf8f-e085-4f2e-a16e-1293dc8c0d66

[2020-10-08 04:38] SathyaJayabal commented on #4984
verified on staging.
Search results return all challenges that were active within the selected time  period.
<img width="1440" alt="Screenshot 2020-10-08 at 9 54 14 AM" src="https://user-images.githubusercontent.com/58783823/95415542-2b17a100-094e-11eb-8ee9-81087f6808fd.png">

[2020-10-08 04:45] Oanh-and-only-Oanh opened #5068 "update filtering UI on challenge listing"
Currently, the calendar interface on the challenge listings page is not user friendly. See below
![image](https://user-images.githubusercontent.com/47536078/95501599-67063280-095d-11eb-985e-837244009220.png)

Update:
We'd like to update the calendar UI so that it is easier for members to input dates without having to click though the calendar.

[2020-10-08 04:50] luizrrodrigues commented on #5049
F2F: https://www.topcoder.com/challenges/fa6a9710-cf06-434e-a8bd-d32285c85374

[2020-10-08 05:26] PrakashDurlabhji commented on #4981
@luizrrodrigues what is the expected to be sent?

1. tracks[]: dev should not be sent correct?
2. sent value should be tracks object like **tracks: {Dev: true, Des: true}**  correct?

[2020-10-08 05:27] PrakashDurlabhji commented on #4981
@Oanh-and-only-Oanh Kindly do not launch this as F2F, as its almost completed.

[2020-10-08 05:34] SathyaJayabal opened #5069 "Unable to filter by sub-community for not logged in user"
Go to listings page as not logged in user
select veterans option form sub-community filter

<img width="1440" alt="Screenshot 2020-10-08 at 11 03 52 AM" src="https://user-images.githubusercontent.com/58783823/95418850-f871a680-0955-11eb-98f2-67ef7a7bc346.png">

[2020-10-08 05:51] luizrrodrigues commented on #4981
@PrakashDurlabhji What was done in challenge listing page is correct and working well.

But if click in tag in Details page:

![image](https://user-images.githubusercontent.com/7029641/95419826-c12cd680-0910-11eb-9718-c9e7833c4473.png)

[2020-10-08 05:54] luizrrodrigues commented on #4981
![image](https://user-images.githubusercontent.com/7029641/95420217-7e1f3300-0911-11eb-99cb-dce0f248ea2f.png)

[2020-10-08 05:57] luizrrodrigues commented on #4981
@PrakashDurlabhji ☝️

[2020-10-08 06:12] luizrrodrigues commented on #4981
Moving this one to F2F

[2020-10-08 06:38] luizrrodrigues commented on #4981
F2F: https://www.topcoder.com/challenges/5bc4b0ac-aa74-4ac1-9c7d-db4f192c87e3

[2020-10-08 08:52] SathyaJayabal opened #5071 "[$30] Clear filter does not clear the status filter option"
Clear filter does not clear the status filter option. Clear filter must set the status option back to "Active"
<img width="1440" alt="Screenshot 2020-10-08 at 2 21 47 PM" src="https://user-images.githubusercontent.com/58783823/95436632-ab9bc900-0971-11eb-938c-7de22077b56f.png">

[2020-10-08 08:54] SathyaJayabal opened #5072 "[$30] Alignment issue for status filter"
When the window is resized the status filter gets misaligned.
<img width="1116" alt="Screenshot 2020-10-08 at 2 23 03 PM" src="https://user-images.githubusercontent.com/58783823/95436899-003f4400-0972-11eb-9557-f164aeca58d4.png">

[2020-10-08 12:25] SathyaJayabal commented on #4972
@luizrrodrigues @sushilshinde @Oanh-and-only-Oanh , This looks good.
<img width="1440" alt="Screenshot 2020-10-08 at 5 54 42 PM" src="https://user-images.githubusercontent.com/58783823/95458104-5ff81800-098f-11eb-8c84-594cd1cc2346.png">

[2020-10-08 14:14] luizrrodrigues commented on #4975
Contest https://www.topcoder.com/challenges/30143199 has been updated - luizrrodrigues has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-08 14:43] ThomasKranitsas commented on #4980
Maybe this has been fixed? Buckets seem to work fine on my end
<img width="1553" alt="Screenshot 2020-10-08 at 5 41 31 PM" src="https://user-images.githubusercontent.com/4612921/95474345-aa789500-098d-11eb-99f6-032343091344.png">
<img width="1553" alt="Screenshot 2020-10-08 at 5 41 28 PM" src="https://user-images.githubusercontent.com/4612921/95474366-af3d4900-098d-11eb-9c0d-a66947fd1368.png">

[2020-10-08 14:55] rootelement commented on #4980
The decision is to remove this bucket, because it's not useful to members, and it's covered by the All Challenges bucket.

[2020-10-08 15:21] Oanh-and-only-Oanh opened #5073 "[$70] Hide "Ongoing challenges" bucket"
Update:

Hide the "Ongoing challenges" bucket. See below
![image](https://user-images.githubusercontent.com/47536078/95479340-81311800-093f-11eb-8aad-a43ec7cb91cf.png)

Effect: The user will still be able to see on going challenges in the listings page but it will be un "All Challenges".

[2020-10-08 15:22] SathyaJayabal commented on #4975
We are hiding this bucket.

[2020-10-08 15:23] SathyaJayabal commented on #4980
Closing this-
hiding the bucket tracked here
https://github.com/topcoder-platform/community-app/issues/5073

[2020-10-08 15:23] #4980 closed

[2020-10-08 15:24] SathyaJayabal commented on #4975
https://github.com/topcoder-platform/community-app/issues/5073

[2020-10-08 15:24] luizrrodrigues commented on #4975
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-08 15:25] luizrrodrigues commented on #5073
Contest https://www.topcoder.com/challenges/30144930 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-08 15:25] luizrrodrigues commented on #5073
Contest https://www.topcoder.com/challenges/30144930 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-08 15:28] SathyaJayabal commented on #4112
verified on staging
<img width="1440" alt="Screenshot 2020-10-08 at 8 57 24 PM" src="https://user-images.githubusercontent.com/58783823/95479916-ef5df500-09a8-11eb-879f-03b50639d86a.png">

[2020-10-08 15:43] SathyaJayabal commented on #4975
reopening for payment processing

[2020-10-08 15:58] #4975 closed

[2020-10-08 15:58] luizrrodrigues commented on #4975
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143199<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-08 17:32] luizrrodrigues commented on #4982
@PrakashDurlabhji Please check above update about prizes.

[2020-10-08 19:14] PrakashDurlabhji commented on #4982
@luizrrodrigues checking

[2020-10-08 20:26] Oanh-and-only-Oanh commented on #5068
Design f2f copiloted by eriantoongko

[2020-10-08 20:27] Oanh-and-only-Oanh commented on #4940
@jmgasper to launch challenges to build feature

[2020-10-08 20:28] Oanh-and-only-Oanh opened #5075 "V2.0 Auto scoring/Leaderboard for SkillBuilders (WITH architecture change)"
**Current Behavior:

Go to: any "Skill Builder" Challenge such as https://www.topcoder.com/challenges/e77074c0-774a-4e69-b69f-2d54ecf48260
Register and submit to challenge
You do not get feedback or score on your submission until challenge review phase is closed
Expected Behavior:**

Go to: any "Skill Builder" Challenge such as https://www.topcoder.com/challenges/e77074c0-774a-4e69-b69f-2d54ecf482

[2020-10-08 20:29] Oanh-and-only-Oanh commented on #5075
@jmgasper to launch series of challenges to build out feature using an architectural change approach.

[2020-10-08 20:57] Oanh-and-only-Oanh opened #5076 "Submission review feature"

[2020-10-09 01:40] SathyaJayabal commented on #5073
verified in staging
<img width="1440" alt="Screenshot 2020-10-09 at 7 09 27 AM" src="https://user-images.githubusercontent.com/58783823/95532627-87d29480-09fe-11eb-96d3-ff0a351b20a8.png">
<img width="1440" alt="Screenshot 2020-10-09 at 7 09 54 AM" src="https://user-images.githubusercontent.com/58783823/95532636-8d2fdf00-09fe-11eb-8eaa-3e417d0dbf69.png">

[2020-10-09 02:09] SathyaJayabal commented on #4961
@sushilshinde , do you still see this issue. Its not happening for my handle.

cc @luizrrodrigues

[2020-10-09 02:17] SathyaJayabal commented on #5049
This is fixed in staging
[dashboard.mov.zip](https://github.com/topcoder-platform/community-app/files/5352158/dashboard.mov.zip)

[2020-10-09 02:18] #5073 closed

[2020-10-09 02:18] luizrrodrigues commented on #5073
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144930<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-09 02:20] SathyaJayabal commented on #5015
closing this as we do not have ongoing bucket now.

[2020-10-09 02:20] #5015 closed

[2020-10-09 02:33] SathyaJayabal commented on #4981
verified on staging
<img width="1440" alt="Screenshot 2020-10-09 at 8 02 52 AM" src="https://user-images.githubusercontent.com/58783823/95535377-ef401280-0a05-11eb-9862-91a244980884.png">

[2020-10-09 02:35] SathyaJayabal commented on #5056
Dont see the TCO20 and TCO21 in the filter dropdown yet.
<img width="1440" alt="Screenshot 2020-10-09 at 8 04 19 AM" src="https://user-images.githubusercontent.com/58783823/95535451-20204780-0a06-11eb-8265-13e899bb9689.png">

[2020-10-09 02:46] SathyaJayabal commented on #5064
@Oanh-and-only-Oanh , this is one is fixed as part of the past challenges updates.
<img width="1440" alt="Screenshot 2020-10-09 at 8 10 12 AM" src="https://user-images.githubusercontent.com/58783823/95535791-ef8cdd80-0a06-11eb-89cf-ee39d1a51385.png">

[2020-10-09 02:46] #5064 closed

[2020-10-09 03:07] SathyaJayabal commented on #5056
@luizrrodrigues , verified in qa
<img width="1440" alt="Screenshot 2020-10-09 at 8 36 56 AM" src="https://user-images.githubusercontent.com/58783823/95537170-a2ab0600-0a0a-11eb-85f9-cccb7ef4112d.png">
<img width="1440" alt="Screenshot 2020-10-09 at 8 37 03 AM" src="https://user-images.githubusercontent.com/58783823/95537182-a8085080-0a0a-11eb-8a1f-9cdd81a47b06.png">

[2020-10-09 03:13] SathyaJayabal commented on #4660
we have a lot of invalid dates too
<img width="1440" alt="Screenshot 2020-10-09 at 8 42 59 AM" src="https://user-images.githubusercontent.com/58783823/95538018-8196e500-0a0b-11eb-967a-457ef4d87190.png">

[2020-10-09 04:44] sandhiyakavi commented on #5056
Verified on staging.

![image](https://user-images.githubusercontent.com/55895538/95544024-05b19280-0a35-11eb-97a0-3c49a3743e16.png)

![image](https://user-images.githubusercontent.com/55895538/95544059-17933580-0a35-11eb-8f9d-4893ee4bc01c.png)

![image](https://user-images.githubusercontent.com/55895538/95544267-912b2380-0a35-11eb-998b-3de4aa40fb7f.png)

[2020-10-09 04:50] sandhiyakavi commented on #4971
Verified on staging.

![image](https://user-images.githubusercontent.com/55895538/95544516-48279f00-0a36-11eb-8f90-f01008dbd713.png)
![image](https://user-images.githubusercontent.com/55895538/95544531-55448e00-0a36-11eb-9586-ea9f0dfbb13d.png)

[2020-10-09 05:03] SathyaJayabal opened #5080 "Listings Performance Release"
https://github.com/topcoder-platform/community-app/issues/4594
https://github.com/topcoder-platform/community-app/issues/4595
https://github.com/topcoder-platform/community-app/issues/4596
https://github.com/topcoder-platform/community-app/issues/4597

[2020-10-09 05:16] sandhiyakavi commented on #4967
Verified on staging.

![image](https://user-images.githubusercontent.com/55895538/95544873-53c79580-0a37-11eb-80a1-128a5d4d0da9.png)

[challengedetail_keywordfilter.zip](https://github.com/topcoder-platform/community-app/files/5352649/challengedetail_keywordfilter.zip)

[2020-10-09 05:27] sandhiyakavi opened #5081 "[$40] Page is refreshed on clicking view more challenges in challenge listings, filtered based on some keywords."
Description:
Page is refreshed on clicking view more challenges in challenge listings, filtered based on some keywords.(Not for all Keywords)

Keywords: Jabber, Ab Initio, Singular.Live

Steps to Reproduce:

1. Filter by keyword Jabber in the All challenges with status selected as All
2. Click View more challenges.
3. Check whether page is getting refreshed.

[Viewmorechallenges_pagerefresh.zip](h

[2020-10-09 05:51] Oanh-and-only-Oanh commented on #5081
@sandhiyakavi, does it refresh but still now more challenges or does it just refresh to the same page view?

[2020-10-09 06:05] luizrrodrigues commented on #5081
@Oanh-and-only-Oanh @sandhiyakavi I see the issue, when result have <= 10 total, **View more challenge** showing. (just when **All** or **Completed** is selected in Status)

![image](https://user-images.githubusercontent.com/7029641/95548773-2bf71400-09dc-11eb-9232-6a1de731b574.png)

[2020-10-09 06:16] SathyaJayabal opened #5082 "[$50] Blank page on clicking challenges tab from stats history page"
Blank page on clicking challenges tab from stats history page
https://www.topcoder.com/members/wleite/details/?track=DEVELOP&subTrack=DEVELOPMENT&tab=challenges
https://www.topcoder.com/members/Standlove/details/?track=DEVELOP&subTrack=TEST_SUITES&tab=challenges

<img width="1440" alt="Screenshot 2020-10-09 at 11 44 04 AM" src="https://user-images.githubusercontent.com/58783823/95549516-0f32fe80-0

[2020-10-09 06:27] SathyaJayabal opened #5083 "[$20] Filter count not updated when status filter is set"
Filter count not updated when status filter is set
<img width="1440" alt="Screenshot 2020-10-09 at 11 56 22 AM" src="https://user-images.githubusercontent.com/58783823/95550428-83ba6d00-0a26-11eb-9f2c-3d3b85d91ae9.png">

[2020-10-09 07:23] SathyaJayabal commented on #5044
@Oanh-and-only-Oanh, The above issue is fixed after the past challenges update.

The current issue is for the All Challenges bucket, when sort is applied the "No Challenges found" message is displayed before the sort is applied and challenges are displayed.
[sort.mov.zip](https://github.com/topcoder-platform/community-app/files/5353165/sort.mov.zip)

[2020-10-09 07:53] SathyaJayabal commented on #5056
verified on prod
<img width="1440" alt="Screenshot 2020-10-09 at 1 21 05 PM" src="https://user-images.githubusercontent.com/58783823/95557363-5673bc00-0a32-11eb-93b3-76b03477d4f9.png">
<img width="1440" alt="Screenshot 2020-10-09 at 1 21 08 PM" src="https://user-images.githubusercontent.com/58783823/95557398-62f81480-0a32-11eb-9e93-76b9f1550e5b.png">

[2020-10-09 07:53] #5056 closed

[2020-10-09 07:53] #5049 closed

[2020-10-09 07:58] SathyaJayabal opened #5085 "Listings : filters are retained when user navigates away and returns to the page"
Go to listings page
Apply tracks filter
Navigate away to another page
Return to Listings page
Previously applied filters are retained.

@Oanh-and-only-Oanh , is this behaviour fine?
[filter.mov.zip](https://github.com/topcoder-platform/community-app/files/5353366/filter.mov.zip)

[2020-10-09 07:59] luizrrodrigues commented on #4984
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-09 08:00] #4984 closed

[2020-10-09 08:00] luizrrodrigues commented on #4984
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143204<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-09 08:01] #4981 closed

[2020-10-09 08:01] #4972 closed

[2020-10-09 08:03] #4971 closed

[2020-10-09 08:03] #4967 closed

[2020-10-09 08:06] SathyaJayabal commented on #4488
verified on prod
[counts.mov.zip](https://github.com/topcoder-platform/community-app/files/5353417/counts.mov.zip)

[2020-10-09 08:06] #4488 closed

[2020-10-09 08:07] kkartunov opened #5086 "Gig Work - details page fixes"
https://www.topcoder.com/gigs/22281320

- hourly compensation wrong
- hours per week - show only n/a if not set
- add in gig details notes section - "**USA Visa Holders - Please consult an attorney before applying to any Topcoder Gig. Some visa statuses will or will not allow you to conduct freelance work with Topcoder."
- current ** will become ***

[2020-10-09 08:09] SathyaJayabal commented on #5080
Listings Performance release complete

[2020-10-09 08:09] #5080 closed

[2020-10-09 08:15] sandhiyakavi commented on #4112
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/55895538/95559605-ffcaaa00-0a52-11eb-9b47-05f3043e1350.png)

[2020-10-09 08:23] sandhiyakavi commented on #3122
Verified on Prod Env.

[count_beforelogin.zip](https://github.com/topcoder-platform/community-app/files/5353485/count_beforelogin.zip)
[count_after_login.zip](https://github.com/topcoder-platform/community-app/files/5353488/count_after_login.zip)

[2020-10-09 08:24] #4112 closed

[2020-10-09 08:24] #3122 closed

[2020-10-09 08:37] SathyaJayabal commented on #5012
<img width="1440" alt="Screenshot 2020-10-09 at 2 06 56 PM" src="https://user-images.githubusercontent.com/58783823/95561691-ba00e800-0a38-11eb-8107-7f4fae54fac3.png">

[2020-10-09 09:30] SathyaJayabal commented on #5051
@kkartunov , what is the page URL please?

[2020-10-09 09:38] SathyaJayabal commented on #5086
verified on test
@kkartunov , for the hourly compensation, when we have only one number, do we need to display as `$70 - $70 / hourly`. Shouldn't it be simply `$70 / hourly`

<img width="1440" alt="Screenshot 2020-10-09 at 3 05 48 PM" src="https://user-images.githubusercontent.com/58783823/95567920-37305b00-0a41-11eb-90f9-47235b11305f.png">
<img width="1440" alt="Screenshot 2020-10-09 at 3 06 03 P

[2020-10-09 09:50] SathyaJayabal opened #5087 "[$75] Search not returning results for multiple words"
Search not returning results for multiple words
example: search for "Skill Builder"
<img width="1440" alt="Screenshot 2020-10-09 at 3 20 03 PM" src="https://user-images.githubusercontent.com/58783823/95569293-fe918100-0a42-11eb-99bf-4ac6005a2abc.png">
<img width="1440" alt="Screenshot 2020-10-09 at 3 20 20 PM" src="https://user-images.githubusercontent.com/58783823/95569312-05b88f00-0a43-11eb-8c92

[2020-10-09 10:01] kkartunov commented on #5051
Test URL: https://staging-community-app.topcoder.com/community/gig-subscribe

[2020-10-09 10:06] kkartunov commented on #5086
In this case, they equal but more often we have min/max $ set differently. We need that for cases like it.
@SathyaJayabal

[2020-10-09 14:32] rootelement commented on #4660
I just saw this as well. But the data looks correct to me. Not sure what property it's keying off of...
![Screen Shot 2020-10-09 at 10 31 13 AM](https://user-images.githubusercontent.com/5400156/95595943-c37b5780-0a1a-11eb-94a0-957c9bba6c34.png)

[2020-10-09 16:02] Oanh-and-only-Oanh commented on #5044
Can you close this ticket if the original issue is fixed? I'll open a new ticket for this new issue.

[2020-10-09 16:03] Oanh-and-only-Oanh opened #5088 "[$30] "No Challenges found" message is displayed before the sort is applied and challenges are displayed."
The current issue is for the All Challenges bucket, when sort is applied the "No Challenges found" message is displayed before the sort is applied and challenges are displayed.
[sort.mov (2).zip](https://github.com/topcoder-platform/community-app/files/5356092/sort.mov.2.zip)

Expected behavior: When sort is applied no message should be displayed before the sort is applied and challenges are displ

[2020-10-09 16:27] Oanh-and-only-Oanh commented on #4982
@PrakashDurlabhji what's the update on this one?

[2020-10-09 17:16] rootelement commented on #5041
This is working in dev. I created this challenge in work manager:
https://challenges.topcoder-dev.com/projects/16640/challenges/6f87e86b-5694-4547-b267-35f3ddd87906/view

The challenge object looks like this:
[code]
@Oanh-and-only-Oanh FYI

[2020-10-09 17:51] SathyaJayabal commented on #5087
@rootelement , this was working before today's release. Can you take a look please.

[2020-10-09 17:59] #5044 closed

[2020-10-09 19:24] rootelement commented on #5087
Please clarify. This was working in prod before we released API updates to prod? Did you test this in dev before yesterday's release?

[2020-10-09 19:26] Oanh-and-only-Oanh commented on #5087
@rootelement it was test in staging environment last night before release.

[2020-10-09 19:31] Oanh-and-only-Oanh opened #5089 "Public challenges showing in private communities"
All subcommunitieis that the member is assigned to are showing in the private community portals.

How to reproduce:
1. Go to https://zurich.topcoder.com/challenges?communityId=zurich
2. See that non Zurich challenges are shown and dropdown in subcommunities filter shows TCO20, TCO21 and other subcommunities
![image](https://user-images.githubusercontent.com/47536078/95625483-66d56800-0a2d-11eb-965

[2020-10-09 19:34] Oanh-and-only-Oanh commented on #5089
Is this because I'm seeing all subcommunities I'm assigned to?
![Uploading image.png…]()

[2020-10-09 19:40] rootelement commented on #5089
Just tested in prod with a couple different zurich groups. The groups functionality did not change recently. Here's the response from the api with one of the zurich groups:

GroupID: b0fad960-b05b-4c50-a036-34ad9ae35462
Response (with M2M):
<img width="1038" alt="Screen Shot 2020-10-09 at 3 39 50 PM" src="https://user-images.githubusercontent.com/5400156/95624965-b3c53880-0a45-11eb-857d-d918c721d4

[2020-10-09 19:41] rootelement commented on #5087
Staging environment was new code pointed at prod, not dev. Was this tested in dev? We changed the search to be a wildcard search. I'm seeing the issue now. Will get on it this weekend.

[2020-10-09 21:54] luizrrodrigues commented on #5089
@Oanh-and-only-Oanh @rootelement I'm run some rollback in my local env and looks like issue coming from first challenge listing refactor (dc52de06a3752058561efd63246182ef4057389a)

@LieutenantRoger You remember if fixed this before?

[2020-10-09 22:53] #4913 closed

[2020-10-09 22:53] luizrrodrigues commented on #4913
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-09 22:55] Oanh-and-only-Oanh commented on #4974
@sandhiyakavi can you confirm if this is still an issue. If not, please close, if it is, please tag with "Bug Bash" tag. thanks.

[2020-10-10 00:38] LieutenantRoger commented on #5089
I am not sure. Please check what filters have been sent when using url like this to visit challenge list screen

The communityId query parameter is not utilized, I think.

[2020-10-10 00:44] luizrrodrigues commented on #5089
@LieutenantRoger Yeah, looks like we loose part of code to get url `communityId` and convert to filter.

[2020-10-10 02:34] SathyaJayabal commented on #5089
https://github.com/topcoder-platform/community-app/issues/5057
tracked here

[2020-10-10 02:34] #5089 closed

[2020-10-10 02:39] SathyaJayabal commented on #5089
@Oanh-and-only-Oanh , its just the default filter that is not set here. The users could still filter but all in sub-communities filter and view public challenges previously.

[2020-10-10 03:45] SathyaJayabal commented on #4368
This issue is fixed in #4686

[2020-10-10 03:45] #4368 closed

[2020-10-10 03:45] SathyaJayabal commented on #3214
Retest after Auth0 release

[2020-10-10 03:46] Oanh-and-only-Oanh commented on #5085
This is expected behavior. Closing ticket.

[2020-10-10 03:46] #5085 closed

[2020-10-10 03:47] SathyaJayabal commented on #2699
recheck after auth0 release

[2020-10-10 03:49] SathyaJayabal commented on #2460
Retest after auth0 release

[2020-10-10 03:50] SathyaJayabal commented on #5087
@Oanh-and-only-Oanh , removing bug bash label, its a back end fix

[2020-10-10 03:51] Oanh-and-only-Oanh commented on #4789
This has been resolved.

[2020-10-10 03:51] #4789 closed

[2020-10-10 03:53] #4704 closed

[2020-10-10 03:54] Oanh-and-only-Oanh commented on #4691
issue resolved

[2020-10-10 03:54] #4691 closed

[2020-10-10 03:59] #4371 closed

[2020-10-10 08:24] luizrrodrigues commented on #5057
**F2F**: https://github.com/topcoder-platform/community-app/issues/5057

[2020-10-12 03:53] SathyaJayabal commented on #4724
@m-yadav , Are you still facing this issue. I can see the below challenge details page.
<img width="1440" alt="Screenshot 2020-10-12 at 9 22 01 AM" src="https://user-images.githubusercontent.com/58783823/95703380-91613400-0c6c-11eb-96e1-46be09a72a03.png">

[2020-10-12 03:53] #4724 closed

[2020-10-12 03:53] SathyaJayabal commented on #4724
cc @Oanh-and-only-Oanh

[2020-10-12 04:00] SathyaJayabal commented on #4268
@Oanh-and-only-Oanh , this is displaying fine now
<img width="1440" alt="Screenshot 2020-10-12 at 9 28 04 AM" src="https://user-images.githubusercontent.com/58783823/95704136-7e029880-0c6d-11eb-9a92-28f66941d8f3.png">

[2020-10-12 04:00] #4268 closed

[2020-10-12 04:09] SathyaJayabal commented on #4953
@luizrrodrigues , this issue is now fixed

[2020-10-12 04:20] SathyaJayabal commented on #4974
@Oanh-and-only-Oanh, still an issue, but its an back end fix

[2020-10-12 09:20] luizrrodrigues commented on #4953
Contest https://www.topcoder.com/challenges/30145300 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-12 09:20] luizrrodrigues commented on #4953
Contest https://www.topcoder.com/challenges/30145300 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-12 09:24] luizrrodrigues commented on #4953
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-12 09:45] #4953 closed

[2020-10-12 09:45] luizrrodrigues commented on #4953
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145300<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-12 15:47] PrakashDurlabhji commented on #4982
@luizrrodrigues PR updated

[2020-10-12 16:17] eriantoongko commented on #5068
F2F Challenge: https://www.topcoder.com/challenges/cb13249a-48f2-4465-9e68-0a49ba5deac9
Desktop handoff: https://marvelapp.com/prototype/f70187e/screen/73550299/handoff
Tablet handoff: https://marvelapp.com/prototype/ba511cg/screen/73550331/handoff
Mobile handoff: https://marvelapp.com/prototype/9440hbh/screen/73550357/handoff
Source file: https://drive.google.com/drive/folders/1kcUbIpo5i0LExa_kfS

[2020-10-12 20:48] Oanh-and-only-Oanh commented on #4237
closing for now.

[2020-10-12 20:49] #3410 closed

[2020-10-12 20:53] #2726 closed

[2020-10-12 20:54] #2385 closed

[2020-10-12 20:55] Oanh-and-only-Oanh opened #5093 "[$20] Remove footers on Challenge Listings page"
Remove these links on the Challenge Listings page.

<img width="1638" alt="Screen Shot 2020-10-12 at 1 56 03 PM" src="https://user-images.githubusercontent.com/47536078/95789668-cc765e00-0c92-11eb-944a-66f145ea17cf.png">

[2020-10-12 23:59] rootelement commented on #5041
@Oanh-and-only-Oanh @luizrrodrigues do you have an ETA for this to be in Dev? We'd like to start E2E testing.

[2020-10-13 00:43] luizrrodrigues commented on #5041
@rootelement I'll push to QA env shortly

[2020-10-13 01:36] luizrrodrigues commented on #5041
@rootelement Done, deployed in QA env:
https://qa-community-app.topcoder-dev.com/challenges

[2020-10-13 02:08] luizrrodrigues commented on #4982
@PrakashDurlabhji Your solution looks good now, but we'll need wait for API fix.

[2020-10-13 02:32] luizrrodrigues commented on #4982
https://github.com/topcoder-platform/challenge-api/issues/326

[2020-10-13 03:31] SathyaJayabal commented on #4279
@Oanh-and-only-Oanh , closing this now, as we do not have the past challenges bucket anymore

[2020-10-13 03:31] #4279 closed

[2020-10-13 03:32] SathyaJayabal commented on #4252
@Oanh-and-only-Oanh , what should the URL be for the learn more link?

[2020-10-13 03:36] SathyaJayabal commented on #2329
@Oanh-and-only-Oanh , this is fixed with release of v5 challenge api.

[2020-10-13 03:36] #2329 closed

[2020-10-13 03:54] SathyaJayabal commented on #5050
verified on staging.
[5050.mov.zip](https://github.com/topcoder-platform/community-app/files/5368837/5050.mov.zip)

[2020-10-13 05:27] SathyaJayabal commented on #5003
verified on staging
<img width="1440" alt="Screenshot 2020-10-13 at 10 56 41 AM" src="https://user-images.githubusercontent.com/58783823/95819030-d22b7c80-0d42-11eb-8ac7-89f2be313bea.png">
<img width="1440" alt="Screenshot 2020-10-13 at 10 56 43 AM" src="https://user-images.githubusercontent.com/58783823/95819044-d8b9f400-0d42-11eb-947d-d3bbe868f453.png">

[2020-10-13 06:00] SathyaJayabal commented on #5057
@luizrrodrigues , the filter count should be 1 as only the sub-community filter is applied
<img width="1440" alt="Screenshot 2020-10-13 at 11 24 45 AM" src="https://user-images.githubusercontent.com/58783823/95821032-d5286c00-0d46-11eb-86d0-fa8ce9e4b62e.png">

[2020-10-13 07:08] SathyaJayabal commented on #5057
@luizrrodrigues , verified on staging
<img width="1440" alt="Screenshot 2020-10-13 at 12 37 14 PM" src="https://user-images.githubusercontent.com/58783823/95827077-e4141c00-0d50-11eb-9a40-1a61120321fd.png">

[2020-10-13 07:18] maxceem commented on #5068
@Oanh-and-only-Oanh in general the task looks clear.

The only question is there UI for choosing month and year?

![image](https://user-images.githubusercontent.com/146016/95828106-33e8e800-0d3d-11eb-9d4f-4a736fa7870c.png)

[2020-10-13 07:20] eriantoongko commented on #5068
@maxceem @Oanh-and-only-Oanh I will ask the winner to provide the UI and keep you guys updated.

[2020-10-13 07:39] harshitmehta15 commented on #4947
Hi, @Oanh-and-only-Oanh Any updates on this? :)

@ad-roc

[2020-10-13 09:10] SathyaJayabal commented on #4659
1. Text "Job Description" displaying on top of the date picker
<img width="1440" alt="Screenshot 2020-10-13 at 2 31 00 PM" src="https://user-images.githubusercontent.com/58783823/95839665-e67e7200-0d60-11eb-88b4-b42add5ba5db.png">
2. UX Suggestion: User should be able to type ahead and select technologies. It is very time consuming to scroll through the entire list to select your technology
3. "Fa

[2020-10-13 10:03] SathyaJayabal commented on #5050
verified on staging (develop)
[5050_Staging.mov.zip](https://github.com/topcoder-platform/community-app/files/5370556/5050_Staging.mov.zip)

[2020-10-13 10:03] SathyaJayabal commented on #5003
verified on staging(develop)
<img width="1440" alt="Screenshot 2020-10-13 at 3 32 47 PM" src="https://user-images.githubusercontent.com/58783823/95846768-74f6f180-0d69-11eb-91fc-2f31e6cbd889.png">
<img width="1440" alt="Screenshot 2020-10-13 at 3 33 04 PM" src="https://user-images.githubusercontent.com/58783823/95846793-7a543c00-0d69-11eb-9abc-53ef430e702f.png">

[2020-10-13 10:06] SathyaJayabal commented on #5057
verified on staging(develop)
<img width="1440" alt="Screenshot 2020-10-13 at 3 35 08 PM" src="https://user-images.githubusercontent.com/58783823/95847023-d6b75b80-0d69-11eb-98a3-d58cd7129237.png">

[2020-10-13 10:08] SathyaJayabal commented on #5051
verified on staging(develop)
<img width="1440" alt="Screenshot 2020-10-13 at 3 37 28 PM" src="https://user-images.githubusercontent.com/58783823/95847188-0a928100-0d6a-11eb-81a0-970fdca3ec0a.png">

[2020-10-13 10:30] SathyaJayabal commented on #5086
@kkartunov , the section titles are center aligned instead of left aligned
<img width="1440" alt="Screenshot 2020-10-13 at 3 41 18 PM" src="https://user-images.githubusercontent.com/58783823/95849511-3400dc00-0d6d-11eb-9c73-e24122a127a3.png">

[2020-10-13 13:57] eriantoongko commented on #5068
@maxceem @Oanh-and-only-Oanh month and year interaction added to the previous link.

[2020-10-13 14:19] SathyaJayabal commented on #5012
<img width="1440" alt="Screenshot 2020-10-13 at 7 48 23 PM" src="https://user-images.githubusercontent.com/58783823/95873062-2a876c00-0d8d-11eb-8851-94f6bb91f441.png">
@kkartunov , both the 0 score and the failed score shows as -1 in the leaderboard. Is this fine?

[2020-10-13 14:33] maxceem commented on #5068
Thanks, @eriantoongko.

Is it desired to implement a custom scrollbar for a month and year dropdowns, or we can use standard browser scrollbars? (I would recommend going with the standard ones).

   ![image](https://user-images.githubusercontent.com/146016/95873691-d6728c80-0d78-11eb-95e5-c3f2fb2b39f8.png)

[2020-10-13 14:43] kkartunov commented on #5012
@SathyaJayabal thanks. We will present it this way to the customer and eventually be back for corrections.

[2020-10-13 14:49] eriantoongko commented on #5068
@Oanh-and-only-Oanh actually what the designer using right now is a mac version scroll bar. I attach my chrome scroll bar.
<img width="1186" alt="Screen Shot 2020-10-13 at 9 48 31 PM" src="https://user-images.githubusercontent.com/28837725/95877067-efd9ff80-0d9d-11eb-9355-b77cf12ddecc.png">

[2020-10-13 14:50] eriantoongko commented on #5068
@maxceem I think that is fine. We should use the native scrollbar provided by the OS.

[2020-10-13 14:57] SathyaJayabal commented on #5012
@kkartunov, when provisional scores are not available, leaderboard still shows 100
<img width="1416" alt="Screenshot 2020-10-13 at 8 26 10 PM" src="https://user-images.githubusercontent.com/58783823/95878084-738def00-0d92-11eb-82d4-8109a3622164.png">

[2020-10-13 15:12] Oanh-and-only-Oanh commented on #4947
Instead of resources API use member API. Update CA frontend to call different API.

[2020-10-13 15:40] SathyaJayabal commented on #5086
verified on staging
<img width="1440" alt="Screenshot 2020-10-13 at 8 15 56 PM" src="https://user-images.githubusercontent.com/58783823/95883338-6ecc3980-0d98-11eb-99de-5e16856051ce.png">
<img width="1440" alt="Screenshot 2020-10-13 at 8 16 14 PM" src="https://user-images.githubusercontent.com/58783823/95883354-7390ed80-0d98-11eb-9f45-08307021bcd0.png">

[2020-10-13 15:57] rootelement commented on #4934
This will require getting challenge IDs from the submission/review API, then querying the v5 challenge api with the multiple challenge IDs. The challenge api / resources api only has the max rating to be able to show the member's handle color. Resources api will not provide the users full rating object.

[2020-10-13 16:21] SathyaJayabal commented on #5012
Fixed: When provisional scores are not available, leaderboard shows "..."
<img width="1440" alt="Screenshot 2020-10-13 at 9 49 46 PM" src="https://user-images.githubusercontent.com/58783823/95888029-34fe3180-0d9e-11eb-92fa-66381303ffad.png">

[2020-10-13 16:49] SathyaJayabal opened #5101 "Update "Join Community" link in footer"
Join community link in the footer must point to new auth0 registration page
<img width="1440" alt="Screenshot 2020-10-13 at 10 07 23 PM" src="https://user-images.githubusercontent.com/58783823/95891057-2b76c880-0da2-11eb-8507-8b345a74d15c.png">
cc @sachin-maheshwari

[2020-10-13 16:53] sachin-maheshwari commented on #4970
@luizrrodrigues please make sure for all community too.

[2020-10-13 16:59] sachin-maheshwari commented on #5101
@luizrrodrigues please fix on priority. We are targeting prod release by next week (20 Oct 2020).

[2020-10-13 16:59] veshu opened #5102 "show the usable code links on the challenge description"
**Is your feature request related to a problem? Please describe.**
For new member it is not clear what kind of code they can use/reuse on the code challenge, we have article https://www.topcoder.com/thrive/articles/Usable%20Code%20in%20Dev%20Challenges but it is not easily accessible to the member

**Describe the solution you'd like**
Have a link to the https://www.topcoder.com/thrive/articles/Usa

[2020-10-13 18:27] SathyaJayabal commented on #5050
verified on prod
[5050.mov 2.zip](https://github.com/topcoder-platform/community-app/files/5373341/5050.mov.2.zip)

[2020-10-13 18:27] #5050 closed

[2020-10-13 18:28] luizrrodrigues commented on #5050
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144557<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-13 18:29] SathyaJayabal commented on #5003
verified on prod
<img width="1440" alt="Screenshot 2020-10-13 at 11 58 19 PM" src="https://user-images.githubusercontent.com/58783823/95900802-0e48f680-0db0-11eb-8ea8-517d8358cfee.png">
<img width="1440" alt="Screenshot 2020-10-13 at 11 58 32 PM" src="https://user-images.githubusercontent.com/58783823/95900835-15700480-0db0-11eb-8add-fed883e4b05e.png">

[2020-10-13 18:29] #5003 closed

[2020-10-13 18:29] luizrrodrigues commented on #5003
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144685<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-10-13 18:36] SathyaJayabal commented on #5057
verified on prod

<img width="1440" alt="Screenshot 2020-10-14 at 12 04 20 AM" src="https://user-images.githubusercontent.com/58783823/95901482-0a69a400-0db1-11eb-91db-9ccc23567ab4.png">

[2020-10-13 18:36] #5057 closed

[2020-10-13 18:37] SathyaJayabal commented on #5086
verified on prod
<img width="1440" alt="Screenshot 2020-10-14 at 12 06 40 AM" src="https://user-images.githubusercontent.com/58783823/95901638-40a72380-0db1-11eb-920c-f93c9d774e3a.png">
<img width="1440" alt="Screenshot 2020-10-14 at 12 06 54 AM" src="https://user-images.githubusercontent.com/58783823/95901659-4866c800-0db1-11eb-9867-58cd39c9d274.png">

[2020-10-13 18:37] #5086 closed

[2020-10-13 18:39] SathyaJayabal commented on #5051
verified on prod
<img width="1440" alt="Screenshot 2020-10-14 at 12 08 44 AM" src="https://user-images.githubusercontent.com/58783823/95901766-75b37600-0db1-11eb-9c33-33d770cf5df9.png">

[2020-10-13 18:39] #5051 closed

[2020-10-13 18:42] SathyaJayabal commented on #5012
verified on prod
<img width="1440" alt="Screenshot 2020-10-14 at 12 11 19 AM" src="https://user-images.githubusercontent.com/58783823/95902040-d9d63a00-0db1-11eb-8584-f467d51443d3.png">

[2020-10-13 18:42] #5012 closed

[2020-10-13 19:10] Oanh-and-only-Oanh commented on #5068
@eriantoongko, I don't think it's clear in the design that it's 2 separate calendars for choosing 2 dates (start and end). When user opens calendar for start date, only the exact date should be highlighted. Is it not a range like shown below.
![image](https://user-images.githubusercontent.com/47536078/95904874-f55b2980-0d4c-11eb-9a21-d6895b9e8871.png)

[2020-10-13 19:46] maxceem commented on #5068
Ah, yes, I did think that this calendar is for choosing a range because it is highlighting a range and it also suggests choosing several predefined ranges on the left:

![image](https://user-images.githubusercontent.com/146016/95907571-6974ec00-0da4-11eb-904e-7f2959f2d367.png)

Another note from a non-USA citizen. I can see that the date format has been changed from `Nov 12 2000` to `11/12/2000` s

[2020-10-13 20:02] Oanh-and-only-Oanh opened #5103 "[$80] visiting F2F on profiles and click on challenges tab, the page display empty"
How to reproduce:
1. Go to: https://www.topcoder.com/members/tourist/details/?track=DEVELOP&subTrack=FIRST_2_FINISH
2. Click on Challenges tab
3. Page reloads as blank/empty. See errors at roles
![image](https://user-images.githubusercontent.com/47536078/95910354-ccd72d80-0d54-11eb-829d-4d7f8a0e63c4.png)

[2020-10-14 04:28] SathyaJayabal commented on #5103
tracked here #5082

[2020-10-14 04:28] #5103 closed

[2020-10-14 04:33] SathyaJayabal commented on #5022
@luizrrodrigues ,
1. Still see topcoder in title but for a shorter time.  See video
[seo.mov.zip](https://github.com/topcoder-platform/community-app/files/5375608/seo.mov.zip)

[2020-10-14 05:10] dedywahyudi commented on #4029
@Oanh-and-only-Oanh

This the updated source code and preview on local.topcoder-dev.com

![4029-1](https://user-images.githubusercontent.com/4476442/95946128-1b003580-0e16-11eb-99d4-8f1579d58c03.png)
![4029-2](https://user-images.githubusercontent.com/4476442/95946131-1d628f80-0e16-11eb-849f-46e1ff740ead.png)
![4029-3](https://user-images.githubusercontent.com/4476442/95946135-1f2c5300-0e16-11eb-8

[2020-10-14 05:12] dedywahyudi commented on #4994
@Oanh-and-only-Oanh

![4994-1](https://user-images.githubusercontent.com/4476442/95946232-53a00f00-0e16-11eb-909d-3716ccaad7b3.png)
![4994-2](https://user-images.githubusercontent.com/4476442/95946235-56026900-0e16-11eb-8420-0e53055f6a54.png)
![4994-3](https://user-images.githubusercontent.com/4476442/95946238-57cc2c80-0e16-11eb-96e6-8e663a02b9b2.png)
![4994-4](https://user-images.githubuserconten

[2020-10-14 05:12] dedywahyudi commented on #5102
@Oanh-and-only-Oanh

![5102-1](https://user-images.githubusercontent.com/4476442/95946242-5995f000-0e16-11eb-92d7-2d4446bb9300.png)
![5102-2](https://user-images.githubusercontent.com/4476442/95946244-5a2e8680-0e16-11eb-8689-13bd8111df81.png)
![5102-3](https://user-images.githubusercontent.com/4476442/95946246-5b5fb380-0e16-11eb-93b3-6f66fa5781df.png)

Please let me know for any feedback.

[2020-10-14 05:13] luizrrodrigues commented on #5022
@SathyaJayabal Can we track this in new issue, this happen because currently logical add a default meta to side in client side (this not affect Google engine to get meta info)

[2020-10-14 05:18] SathyaJayabal commented on #5022
@luizrrodrigues ok

[2020-10-14 06:32] luizrrodrigues commented on #4970
@sachin-maheshwari I think this page coming from Contentful, @kkartunov can you confirm that please?

[2020-10-14 07:11] sachin-maheshwari commented on #4970
@sushilshinde i am not sure about Contentful. Expert advice needed here :)

[2020-10-14 07:20] sandhiyakavi commented on #5101
@luizrrodrigues @sachin-maheshwari  If user is logged in and click Join Community, 404 HTTP Error is displayed.(redirected to url https://www.topcoder-dev.com/challenges&utm_source=community)

![image](https://user-images.githubusercontent.com/55895538/95956143-d89c2000-0e38-11eb-8b5a-e0276788c423.png)
[Joincommunity_404_error.zip](https://github.com/topcoder-platform/community-app/files/5376317/J