[2020-07-17 15:52] luizrrodrigues commented on #4609
@rootelement sorry delay, I wasn't to start work yesterday, I'll jump on this in 1h.

[2020-07-17 18:39] luizrrodrigues commented on #4609
@rootelement Cool, this working well and just previous PR will works because currently flow handle with changes.

PR add a check if the return is **viewing_completed** in case the user already signed but for some reason closed the window before backend receives callback.

-----

But have issue with user **luizrrodrigues** (tests above is done with **dan_devleoper** user)

Getting error: `Requestin

[2020-07-18 09:44] crazyk07 commented on #4650
[500]: Challenge for the updated issue 4650 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-18 09:44] crazyk07 commented on #4650
Contest https://www.topcoder.com/challenges/30133391 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-19 16:57] rootelement commented on #4609
I tested this with a brand new user `jcori30` and it worked great! I'm not sure what's up with your user. You might be in some sort of limbo on it. I will try clearing it out later tonight and we can try again with your user.

[2020-07-19 17:00] luizrrodrigues commented on #4609
@rootelement Yep, looks like working well with other users, I think `dan_developer` was the same issue before but looks like fixed now.

[2020-07-20 06:56] PrakashDurlabhji commented on #2213
@Oanh-and-only-Oanh @sushilshinde I havent recevied prize in pacts yet for this. can you please look into it ? thanks

[2020-07-20 06:57] PrakashDurlabhji commented on #4466
@Oanh-and-only-Oanh @sushilshinde I havent recevied prize in pacts yet for this. can you please look into it ? thanks

[2020-07-20 08:12] kkartunov opened #4655 "Fix tables in Contentful - ContentBlock themes"
For the tables, as per the one for [Schedule for Argentina](https://tco20.topcoder.com/regional-events/caribbean-and-south-central-america) event, the following items should be fixed:
- font size should be 16px
- color #2a2a2a
- distance between  2 gray lines to be 63px

[2020-07-20 08:24] sushilshinde commented on #4650
@narekcat any updates?

[2020-07-20 08:27] narekcat commented on #4650
@sushilshinde I am working on it. I will finish in nexy six hours.

[2020-07-20 08:51] SathyaJayabal commented on #4502
verified on beta
<img width="603" alt="Screenshot 2020-07-20 at 2 18 54 PM" src="https://user-images.githubusercontent.com/58783823/87918455-184ea800-ca94-11ea-9a4b-a775ec6dbaaa.png">
<img width="1440" alt="Screenshot 2020-07-20 at 2 19 08 PM" src="https://user-images.githubusercontent.com/58783823/87918473-1d135c00-ca94-11ea-9f50-49ec0a4e79cd.png">

[2020-07-20 09:25] SathyaJayabal commented on #4101
verified on beta.

[2020-07-20 09:34] SathyaJayabal opened #4657 "[$60] 404 error Topgear profile page"
404 error Topgear profile page
example
https://topgear.topcoder.com/members/standlove

<img width="1440" alt="Screenshot 2020-07-20 at 3 03 03 PM" src="https://user-images.githubusercontent.com/58783823/87922805-21db0e80-ca9a-11ea-8c38-b44259053e91.png">

cc @Oanh-and-only-Oanh

[2020-07-20 12:47] narekcat commented on #4650
@sushilshinde I think the problem is with back-end. This [url](https://community-app.topcoder-dev.com/community-app-assets/api/tc-communities?groups%5B0%5D=72a0b8a0-aa45-44f7-86c2-bf9de6321e5b&groups%5B1%5D=b8fe66cc-935f-4986-a1cf-5e1dee943e8a&groups%5B2%5D=025da0c3-09b1-4d56-9f24-ec7bf8a1eeea) doesn't return the "TopGear Community" private community.

[2020-07-20 14:11] sushilshinde commented on #4650
@narekcat it's a proxy call to groups API.

@luizrrodrigues we did use direct call to groups API with user token?

[2020-07-20 14:11] sushilshinde commented on #4527
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-07-20 14:12] sushilshinde commented on #4552
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-07-20 14:19] sushilshinde commented on #4607
@SathyaJayabal this issue still relevant?

[2020-07-20 14:25] sushilshinde commented on #4609
https://github.com/topcoder-platform/community-app/pull/4640

[2020-07-20 14:25] rootelement opened #4658 "[$40]Add Legacy ID to Challenge Details"
**Is your feature request related to a problem? Please describe.**
After v5 release to prod, to faciliate report requests, add the challenge legacy id to the bottom of the challenge details page right column

**Describe the solution you'd like**
Add the legacy id here:
<img width="270" alt="Screen Shot 2020-07-20 at 10 23 30 AM" src="https://user-images.githubusercontent.com/5400156/87948872-4374c

[2020-07-20 14:48] luizrrodrigues commented on #4650
@sushilshinde
- To get user groups this is done with the user token.
- To get all groups (used in filter and community sub-pages) this is done via m2m

[2020-07-20 14:52] SathyaJayabal commented on #4650
@luizrrodrigues , filter also only shows the users groups. for example only a topgear member can see the topgear option in the filter dropdown.
This is the behaviour in prod.

cc @sushilshinde

[2020-07-20 15:00] luizrrodrigues commented on #4650
@SathyaJayabal I'm testing with **TonyJ** user, this user is member from **TopGear Community** but this not showing in filters.

Looks like filter are loaded from here: https://github.com/topcoder-platform/community-app/blob/develop/src/server/tc-communities/index.js
This load metadata from JSON files, but look like **TopGear** not included on this.

@sushilshinde We have a good reason to follow t

[2020-07-20 16:10] Oanh-and-only-Oanh commented on #2213
closing to pay member partial prize for work and then re-opening ticket as it is not resolved yet.

[2020-07-20 16:16] crazyk07 commented on #2213
Contest https://www.topcoder.com/challenges/30133536 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-20 16:16] crazyk07 commented on #2213
Contest https://www.topcoder.com/challenges/30133536 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-20 16:21] crazyk07 commented on #2213
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-20 16:23] crazyk07 commented on #2213
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133536<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-20 16:36] SathyaJayabal commented on #4650
@luizrrodrigues , this was working previously. see screenshot in the below issue- We only had trouble with the filters not returning the group's challenges.
https://github.com/topcoder-platform/community-app/issues/4575

[2020-07-20 16:36] crazyk07 commented on #4552
Contest https://www.topcoder.com/challenges/30130313 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-20 16:56] Oanh-and-only-Oanh opened #4659 "Job Description overview"
build front-end to allow members to input data for job descriptions/bullet points

[2020-07-20 16:58] Oanh-and-only-Oanh commented on #4659
@Dara-K , can you help do a quick mock up of front-end design of what this would look like to hand over to dev?

[2020-07-20 17:09] luizrrodrigues commented on #4650
@SathyaJayabal Need to call `challenges` with Group UUID, not with legacyId. I'll comment in #4575

[2020-07-20 17:20] luizrrodrigues commented on #4575
@simranb86 you need call this with group **UUID** instead **legacyId**:

[code]

![image](https://user-images.githubusercontent.com/7029641/87966751-1dabf280-ca94-11ea-87ff-424c3ecb1fa4.png)

[2020-07-20 17:52] luizrrodrigues commented on #4557
@SathyaJayabal This one missing priority

[2020-07-20 18:36] luizrrodrigues commented on #4607
@sushilshinde @SathyaJayabal Looks like this working well now.

Tested with my user in  this challenge: https://beta-community-app.topcoder.com/challenges/891de470-97ad-4b9b-9a46-75a485dabb0e

[2020-07-21 03:11] SathyaJayabal commented on #4609
@luizrrodrigues @sushilshinde , when I try to register to an  NDA challenge, I get displayed the completed NDA document (as I have already signed it long back) with option to close. After closing the popup, I am not registered. I still see the blue register button. Clicking on register repeats the above. So I am not able to proceed and register to the challenge.

user:picachui
https://beta-communi

[2020-07-21 03:22] luizrrodrigues commented on #4609
@SathyaJayabal Okay, I have same issue with my user in beta.

@rootelement Backend support **viewing_complete** event return from DocuSign?

- **viewing_complete** is about see already signed

[2020-07-21 03:45] SathyaJayabal commented on #4502
Verified on prod
<img width="1440" alt="Screenshot 2020-07-21 at 9 13 36 AM" src="https://user-images.githubusercontent.com/58783823/88010532-b729e180-cb32-11ea-9899-df9c67dc8f97.png">
<img width="525" alt="Screenshot 2020-07-21 at 9 13 46 AM" src="https://user-images.githubusercontent.com/58783823/88010553-c4df6700-cb32-11ea-8d74-4afb236feb83.png">

[2020-07-21 03:48] SathyaJayabal commented on #4101
Verified on prod. Topgear site works as before.
<img width="1440" alt="Screenshot 2020-07-21 at 9 17 21 AM" src="https://user-images.githubusercontent.com/58783823/88010676-12f46a80-cb33-11ea-8945-6699d6b64d9e.png">

[2020-07-21 04:26] sushilshinde commented on #4658
Option 1 :

![image](https://user-images.githubusercontent.com/683231/88012801-71701780-cb38-11ea-91aa-c54a545b4d03.png)

Option 2:

![image](https://user-images.githubusercontent.com/683231/88012810-759c3500-cb38-11ea-81cf-76c8ef9b8674.png)

[2020-07-21 04:30] crazyk07 commented on #4575
Contest https://www.topcoder.com/challenges/30130676 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-21 04:33] rootelement commented on #4658
I vote section option. First option looks "hackable", like they're seeing something they shouldn't.

[2020-07-21 04:34] Oanh-and-only-Oanh commented on #4658
I prefer option #2

[2020-07-21 05:46] SathyaJayabal opened #4660 "Past Contest: challenge end date is incorrect"
Challenge end date is incorrect in past challenges bucket

cc @sushilshinde

example:
https://beta-community-app.topcoder.com/challenges/51fd9389-d208-4268-a0ef-347ec4928b6f
https://www.topcoder.com/challenges/30133400
<img width="1440" alt="Screenshot 2020-07-21 at 11 13 12 AM" src="https://user-images.githubusercontent.com/58783823/88017508-76869400-cb43-11ea-985b-4a76ef8c45e3.png">
<img width="

[2020-07-21 05:47] SathyaJayabal commented on #4557
@luizrrodrigues , for a manager/copilot/approver roles etc, there must be buttons linking to OR and Direct

example
<img width="1440" alt="Screenshot 2020-07-21 at 11 12 17 AM" src="https://user-images.githubusercontent.com/58783823/88017326-14c62a00-cb43-11ea-851b-34dfc6a2a68d.png">

[2020-07-21 06:31] SathyaJayabal opened #4661 "Registrants list of past challenges must display placement next to registrant where applicable"
Registrants list of past challenges must display placement next to registrant where applicable.
Example:
https://www.topcoder.com/challenges/30130932?tab=registrants
https://beta-community-app.topcoder.com/challenges/62941871-1077-420a-8669-4fe8fc933fa5?tab=registrants

<img width="1440" alt="Screenshot 2020-07-21 at 11 52 25 AM" src="https://user-images.githubusercontent.com/58783823/88020395-451

[2020-07-21 06:49] SathyaJayabal commented on #4608
This one is tracked here. Closing this as no FE updates needed.
cc @sushilshinde @lakshmiathreya
https://github.com/topcoder-platform/challenge-api/issues/201

[2020-07-21 07:04] kkartunov opened #4662 "Look API Changes for Leaderboards"
Look API has undergone dev changes which demand updates in the frontend. The ticket implements what is needed to support the renamed API fields.

For now, only TCO21 dev leaderboard is switched to the new format which results in issues https://tco21.topcoder.com/competition-overview/development/leaderboard.

Testing page: https://community-app.topcoder-dev.com/__community__/tco21/competition-overv

[2020-07-21 07:23] SathyaJayabal commented on #4607
@sushilshinde , @luizrrodrigues verified this with both a new user who has not agreed to the terms and a user who has already agreed. Works well.

[2020-07-21 07:35] SathyaJayabal opened #4663 "Add Userid param to Initiate project link in Topgear"
https://github.com/topcoder-platform/community-app/issues/4101#issuecomment-659912309

cc @lakshmiathreya @sushilshinde

[2020-07-21 07:41] lakshmiathreya commented on #4663
cc @Oanh-and-only-Oanh

[2020-07-21 11:12] SathyaJayabal commented on #4609
@luizrrodrigues @rootelement , also for user whop has not signed the NDA, the document keeps on loading for a few mins and then shows a blank page.
<img width="1440" alt="Screenshot 2020-07-21 at 4 41 48 PM" src="https://user-images.githubusercontent.com/58783823/88048544-232b3a80-cb71-11ea-90c6-3cd3607aa4ca.png">
https://drive.google.com/file/d/1s7w8euHOGHcUbn0qma-FeIB5sR0I93VK/view?usp=sharing

[2020-07-21 11:39] SathyaJayabal commented on #4607
@sushilshinde @rootelement , user agreed to standard terms in V5 had to agree again in V4. Please confirm this is expected behaviour and that there is no sync between terms in V4 and V5.

cc @lakshmiathreya

[2020-07-21 11:43] crazyk07 commented on #4658
Contest https://www.topcoder.com/challenges/30133807 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-21 11:44] sushilshinde commented on #4658
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-07-21 11:54] SathyaJayabal commented on #4663
reverted
https://github.com/topcoder-platform/community-app/milestone/51

<img width="1440" alt="Screenshot 2020-07-21 at 5 19 46 PM" src="https://user-images.githubusercontent.com/58783823/88051876-0265e380-cb77-11ea-82f1-024e61e1fd43.png">

[2020-07-21 11:54] #4663 closed

[2020-07-21 11:58] sushilshinde commented on #4552
@PrakashDurlabhji any updates?

[2020-07-21 12:12] crazyk07 commented on #4658
Contest https://www.topcoder.com/challenges/30133807 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-21 12:46] PrakashDurlabhji commented on #4552
@sushilshinde apology for delay, in few hours it will be completed. rating color is changed by me. working for duplicates

[2020-07-21 13:35] kkartunov opened #4665 "Implement template placeholders for Contentful"
Add support for template placeholders. It will be using https://lodash.com/docs/4.17.15#template

Adding something like this in Contentful should result to rendered page when the user is logged in.
[code]

Test URL: https://community-app.topcoder-dev.com/examples/contentful/contentblock/2JEvQENG9pSUTdZSSAAxOK

[2020-07-21 14:16] kkartunov commented on #4101
This one depends on #4665
cc @Oanh-and-only-Oanh

[2020-07-21 14:22] luizrrodrigues commented on #4609
@SathyaJayabal can you provide the user/pass to test n beta?

[2020-07-21 14:29] SathyaJayabal opened #4666 "Number of submissions must count multiple submissions from same user as a single submission for code challenges"
https://github.com/topcoder-platform/challenge-api/issues/228
cc @sushilshinde

[2020-07-21 14:30] SathyaJayabal commented on #4502
reopening as this was reverted

[2020-07-21 14:35] SathyaJayabal commented on #4609
user: picachuitest1/appirio123

[2020-07-21 14:37] sushilshinde commented on #4609
please share creds on slack for beta

[2020-07-21 14:51] luizrrodrigues commented on #4609
@SathyaJayabal This happen after sign the DocuSign or before?

I mean, you able to see the DocuSign frame?

[2020-07-21 15:10] SathyaJayabal commented on #4609
shared creds on slack @luizrrodrigues

[2020-07-21 15:28] SathyaJayabal commented on #4552
@PrakashDurlabhji , please hold off on working on the duplicates.

[2020-07-21 15:40] SathyaJayabal opened #4667 "[$50]Submission uploaded from support"
I had support register and submit for a challenge to see how it works with the V5 api on the FE.

Registration works as expected. But for submission, the member handle is replaced with the support staff name.

example challenge:
https://www.topcoder.com/challenges/30131098?tab=submissions
https://beta-community-app.topcoder.com/challenges/0ea10b6f-c089-457b-8c08-b01be006b25e?tab=submissions

<img

[2020-07-21 16:08] Oanh-and-only-Oanh opened #4668 "Handle rating color not showing in Registrant tab"
Describe issue:
A member's handle is not matching their rating color

How to reproduce:
1. Go to https://www.topcoder.com/challenges/30128882/?tab=registrants
2. click on registrant tab
3. see handle "
krisjen" is a grey color
4. click on "
krisjen" handle
5. See that user has a color rating (see screenshot below)
![image](https://user-images.githubusercontent.com/47536078/88078881-d2e0b800-cb31-1

[2020-07-21 16:11] cagdas001 commented on #4658
There are so many failing tests, most of them are not even related to the changed parts. I think those tests were already failing even with the original code base. I'll compare the number of failing tests between the original code base and my local code base. If they're same, I'll just push the changes.

cc @rootelement @Oanh-and-only-Oanh @sushilshinde

[2020-07-21 16:12] PrakashDurlabhji commented on #4552
@SathyaJayabal ok then raising the MR

[2020-07-21 16:29] callmekatootie commented on #4667
If it helps with the debugging - submission api uses the memberId that is passed to it. So you would need to look at the source of the memberId in this case...

[2020-07-21 16:38] SathyaJayabal commented on #4668
@Oanh-and-only-Oanh , this is being fixed with the v5 challenge api integration

[2020-07-21 16:42] Oanh-and-only-Oanh commented on #4668
@sushilshinde @rootelement @mtwomey  - can we look to moving this to member API for addressing the color of the members' handle?

[2020-07-21 16:44] RishiRajSahu commented on #4657
@Oanh-and-only-Oanh seems to be an issue with UI, the profile page shows momentarily and then the error page appears. After few hits even the profile page loads.

[2020-07-21 22:05] rootelement commented on #4668
Why? The conversion of rating to color is already in the community app?
https://github.com/topcoder-platform/community-app/blob/develop/src/shared/utils/tc.js#L100

It _should_ be a property of the member api, but i don't think that will be in production use soon enough.

[2020-07-21 22:10] Oanh-and-only-Oanh commented on #4668
Don't expect it to be part of memeber api now just want to see if we already have this on the engineering roadmap for some point.

[2020-07-21 22:11] rootelement commented on #4668
If it's not, it should, it's part of the member domain.

[2020-07-21 22:24] PrakashDurlabhji commented on #4552
@sushilshinde @SathyaJayabal done in https://github.com/topcoder-platform/community-app/pull/4670

[2020-07-22 00:00] luizrrodrigues commented on #4621
@SathyaJayabal Looks like this one was fixed, can you test please?

[2020-07-22 03:30] SathyaJayabal commented on #4621
@luizrrodrigues , yes this is fixed in the backend.

[2020-07-22 03:55] SathyaJayabal commented on #4667
@rootelement , support  uses the submission api to upload the submission, using their JWT token.

[2020-07-22 05:27] SathyaJayabal commented on #4665
verified on dev
<img width="1440" alt="Screenshot 2020-07-22 at 10 56 45 AM" src="https://user-images.githubusercontent.com/58783823/88137850-13ac0000-cc0a-11ea-94ff-c50930b080a9.png">

[2020-07-22 05:29] SathyaJayabal commented on #4542
verified on dev
<img width="1440" alt="Screenshot 2020-07-22 at 10 58 47 AM" src="https://user-images.githubusercontent.com/58783823/88137982-579f0500-cc0a-11ea-84c5-05c40ba15356.png">

[2020-07-22 05:39] SathyaJayabal commented on #4667
This is the submission object returned by the submissions api, that was uploaded by support. I think the V5 FE must use  the memberId to display the user handle and not the updatedBy or createdBy fields. cc @sushilshinde @rootelement

`"updatedBy": "ritesh_cs",
        "created": "2020-07-21T14:23:22.135Z",
        "legacySubmissionId": 386204,
        "isFileSubmission": true,
        "type": "Co

[2020-07-22 05:44] SathyaJayabal commented on #4666
@sushilshinde @Oanh-and-only-Oanh @lakshmiathreya , After our discussion in the call, it was decided to display multiple submissions from the same user for code challenges.

[2020-07-22 05:45] #4666 closed

[2020-07-22 05:47] #4608 closed

[2020-07-22 06:31] SathyaJayabal commented on #4572
This issue is resolved now
@sushilshinde

<img width="1440" alt="Screenshot 2020-07-22 at 11 38 46 AM" src="https://user-images.githubusercontent.com/58783823/88141171-b23b5f80-cc10-11ea-9719-470d79626fae.png">

[2020-07-22 06:55] SathyaJayabal opened #4671 "Challenge points not displayed"
When challenge points are provided, they must be displayed in the challenge details page.
example:
https://beta-community-app.topcoder.com/challenges/0c8061f0-076f-47d3-a901-7cf13f99500c
https://www.topcoder.com/challenges/30133520
<img width="1440" alt="Screenshot 2020-07-22 at 12 24 36 PM" src="https://user-images.githubusercontent.com/58783823/88144361-6a1f3b80-cc16-11ea-975c-9c9b25c38321.png">

[2020-07-22 07:23] SathyaJayabal opened #4672 "[$60]Forums tab must be displayed for all roles like copilot approver etc"
Forums tab must be displayed for all roles like copilot approver etc
example:
https://www.topcoder.com/challenges/30133520
https://beta-community-app.topcoder.com/challenges/0c8061f0-076f-47d3-a901-7cf13f99500c
user: picachui (copilot and appprover for the contest)
<img width="1440" alt="Screenshot 2020-07-22 at 12 50 07 PM" src="https://user-images.githubusercontent.com/58783823/88146989-3c3bf600

[2020-07-22 08:10] SathyaJayabal opened #4673 "[$50]Checkpoint tab not displayed"
Examples:
https://www.topcoder.com/challenges/30132157
https://beta-community-app.topcoder.com/challenges/45c9f6df-9cb4-462d-9b0a-ff440f27c740
https://www.topcoder.com/challenges/30132044?tab=registrants
https://beta-community-app.topcoder.com/challenges/208e6774-8263-4c3a-a77f-afe4c84a888f?tab=registrants
https://beta-community-app.topcoder.com/challenges/8bb78cf8-029f-4f06-add8-db1ed009a20f
http

[2020-07-22 08:18] SathyaJayabal opened #4674 "[$40]Winners tab not displayed for challenges in approval state"
Example:
https://www.topcoder.com/challenges/30132044?tab=registrants
https://beta-community-app.topcoder.com/challenges/208e6774-8263-4c3a-a77f-afe4c84a888f?tab=registrants

<img width="1440" alt="Screenshot 2020-07-22 at 1 46 45 PM" src="https://user-images.githubusercontent.com/58783823/88152580-da7f8a00-cc21-11ea-8cff-0f9676eae3d6.png">

cc @sushilshinde

[2020-07-22 09:45] crazyk07 commented on #4673
Contest https://www.topcoder.com/challenges/30133878 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-22 10:24] SathyaJayabal commented on #4665
verified on beta (develop branch)
<img width="1440" alt="Screenshot 2020-07-22 at 3 53 48 PM" src="https://user-images.githubusercontent.com/58783823/88165596-91d0cc80-cc33-11ea-8654-676df31c5443.png">

[2020-07-22 10:25] SathyaJayabal commented on #4502
verified on beta(develop branch)
<img width="1440" alt="Screenshot 2020-07-22 at 3 54 54 PM" src="https://user-images.githubusercontent.com/58783823/88165685-b4fb7c00-cc33-11ea-89b2-da29525ed9bc.png">

[2020-07-22 10:37] SathyaJayabal commented on #4101
Verified on beta (develop branch). Topgear site works as before except for style issues
<img width="1440" alt="Screenshot 2020-07-22 at 4 06 47 PM" src="https://user-images.githubusercontent.com/58783823/88166776-71097680-cc35-11ea-8d69-0d430c6dc0cd.png">

[2020-07-22 13:00] SathyaJayabal commented on #4502
verified on prod
<img width="1440" alt="Screenshot 2020-07-22 at 3 54 54 PM" src="https://user-images.githubusercontent.com/58783823/88179350-6527af80-cc49-11ea-9348-880b0fc67d89.png">

[2020-07-22 13:00] #4502 closed

[2020-07-22 13:01] SathyaJayabal commented on #4101
verified on prod
<img width="1440" alt="Screenshot 2020-07-22 at 6 29 36 PM" src="https://user-images.githubusercontent.com/58783823/88179380-71137180-cc49-11ea-964a-b33c59db68bd.png">

[2020-07-22 13:01] #4101 closed

[2020-07-22 13:02] SathyaJayabal commented on #4665
verified on prod
<img width="1440" alt="Screenshot 2020-07-22 at 6 31 46 PM" src="https://user-images.githubusercontent.com/58783823/88179484-a3bd6a00-cc49-11ea-8250-6ceadc637c52.png">

[2020-07-22 13:02] #4665 closed

[2020-07-22 14:05] Oanh-and-only-Oanh opened #4678 "[$40] Unable to save"
Several of our new designers from South America Workshop are not able to save their profile. They were able to add to the fields and then when they were trying to save, they got the unable to save profile error.

[2020-07-22 14:06] SathyaJayabal commented on #4658
verified on beta
<img width="1440" alt="Screenshot 2020-07-22 at 7 34 31 PM" src="https://user-images.githubusercontent.com/58783823/88186204-85a83780-cc52-11ea-9802-5e3dd70304e6.png">

[2020-07-22 14:13] SathyaJayabal commented on #4678
@Oanh-and-only-Oanh ,I am able to save the profile. Can we get more information to help debug?

[2020-07-22 16:58] rootelement commented on #4607
There is no sync from v4 to v5, i have to run that manually. There is a legacy processor, so signing it in v5 _should_ propagate to v4. I will check the terms processor.

[2020-07-22 18:39] rootelement commented on #4607
@SathyaJayabal there was an issue in the legacy terms processor on validation of the kafka message body. I've fixed and deployed to dev and prod. Can you re-evaluate?

[2020-07-23 03:23] crazyk07 commented on #4466
Contest https://www.topcoder.com/challenges/30133952 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-23 03:23] crazyk07 commented on #4466
Contest https://www.topcoder.com/challenges/30133952 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-23 03:27] crazyk07 commented on #4466
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-23 05:26] #4658 closed

[2020-07-23 05:27] crazyk07 commented on #4658
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133807<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-23 06:39] kkartunov opened #4679 "Thrive updates"
In scope:

- no default avatar when member avatar is missing - https://marvelapp.com/prototype/1hei31bg/screen/71426378/handoff
- changed the. title of the cards to be smaller : https://marvelapp.com/prototype/1hei31bg/screen/71426374/handoff
- blob image for the articles on Thrive - https://marvelapp.com/prototype/1hei31bg/screen/60646916/handoff
- for the SRM Editorials we talked of using no ban

[2020-07-23 08:38] SathyaJayabal commented on #4607
@rootelement , user has agreed to standard  terms in V5, but still is asked to agree in V4 again.
user: picachuitest2
<img width="1440" alt="Screenshot 2020-07-23 at 2 08 13 PM" src="https://user-images.githubusercontent.com/58783823/88267109-f9e3e900-cced-11ea-8439-4a5198223569.png">

[2020-07-23 09:14] SathyaJayabal commented on #4129
@sushilshinde @Oanh-and-only-Oanh ,can we address this too with the v5 challenge-api release. The sorting is not working correctly in the v5 integration too. cc @lakshmiathreya
<img width="1440" alt="Screenshot 2020-07-23 at 2 43 28 PM" src="https://user-images.githubusercontent.com/58783823/88270215-e9823d00-ccf2-11ea-979f-09d4107f2610.png">

[2020-07-23 09:29] SathyaJayabal commented on #4609
@luizrrodrigues , for a user who has not signed the NDA, the NDA document is displayed as expected. When the user signs and clicks on finish, the document loads again and the user is asked to sign again. This repeats and the the user is not able to proceed.

Please see linked video for reference. user:CustomerUser (password shared on slack)
https://drive.google.com/file/d/1qZHPP-rU9qurIx4CTITryiVn

[2020-07-23 11:07] luizrrodrigues commented on #4609
@SathyaJayabal Thanks

@rootelement FE receiving `signing_complete` from **DocuSign**, is BE getting an error? Looks like not updating the terms assigned.

[2020-07-23 11:10] SathyaJayabal commented on #4572
reopening this as the issue is back @sushilshinde
<img width="1440" alt="Screenshot 2020-07-23 at 4 39 04 PM" src="https://user-images.githubusercontent.com/58783823/88280287-26563000-cd03-11ea-9e7f-1a4f50262883.png">

[2020-07-23 13:13] luizrrodrigues commented on #4650
@sushilshinde PR's are ready:
https://github.com/topcoder-platform/topcoder-react-lib/pull/211
https://github.com/topcoder-platform/community-app/pull/4680

[2020-07-23 13:14] sushilshinde commented on #4650
Thank @luizrrodrigues

[2020-07-23 15:19] Oanh-and-only-Oanh commented on #4129
@SathyaJayabal, i think P2 is the right label for this one. Since we're not going to PROD until Aug. 3, we might be able to get this resolved with the first release. @sushilshinde

[2020-07-23 20:13] rootelement commented on #4609
Backend receiver in prod was having an error. I just was able to complete NDA for my user in prod just now:
<img width="1265" alt="Screen Shot 2020-07-23 at 4 12 31 PM" src="https://user-images.githubusercontent.com/5400156/88334202-6d422680-ccff-11ea-93b8-2c6a77c57556.png">

Please test again.

[2020-07-24 02:03] crazyk07 commented on #4650
Contest https://www.topcoder.com/challenges/30133391 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-24 05:26] SathyaJayabal opened #4681 "[$70]Submission count does not include checkpoint submissions"
Submission count mismatch for design contests between v4 and v5

example
https://beta-community-app.topcoder.com/challenges/208e6774-8263-4c3a-a77f-afe4c84a888f
https://www.topcoder.com/challenges/30132044

<img width="1440" alt="Screenshot 2020-07-24 at 10 48 49 AM" src="https://user-images.githubusercontent.com/58783823/88362948-ef802880-cd9b-11ea-92e3-321e4899cf6d.png">

cc @lakshmiathreya

[2020-07-24 05:26] SathyaJayabal commented on #4681
cc @sushilshinde

[2020-07-24 08:51] SathyaJayabal opened #4682 "Prize Purse tooltip in recommended challenges is incomplete"
Prize Purse tooltip in recommended challenges section is incomplete

example
https://beta-community-app.topcoder.com/challenges/b8a8a251-a99e-4419-8021-21657312ec04
https://www.topcoder.com/challenges/30133528
Please see comparison with Production screenshot below. Can also refer to purse tooltip in challenge listings page on beta (which works fine).

<img width="1440" alt="Screenshot 2020-07-24 a

[2020-07-24 10:49] crazyk07 commented on #4527
Contest https://www.topcoder.com/challenges/30129659 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-24 11:01] SathyaJayabal commented on #4662
@kkartunov , looks good except for one user's avatar
<img width="1440" alt="Screenshot 2020-07-24 at 4 27 06 PM" src="https://user-images.githubusercontent.com/58783823/88384805-bf03b300-cdca-11ea-8a2c-150e01548688.png">
<img width="1440" alt="Screenshot 2020-07-24 at 4 28 12 PM" src="https://user-images.githubusercontent.com/58783823/88384817-c5922a80-cdca-11ea-9146-d4b541f55e7c.png">

[2020-07-24 11:09] SathyaJayabal commented on #4655
verified on dev
<img width="1440" alt="Screenshot 2020-07-24 at 4 38 52 PM" src="https://user-images.githubusercontent.com/58783823/88385580-38e86c00-cdcc-11ea-828e-db0e53580dbd.png">

[2020-07-24 12:15] cagdas001 commented on #4527
`hasUserSubmittedForReview` filter is still missing on the `/challenges` endpoint.

If we need to get this info from the Submission API, we need to make one more request (to the `/submissions` endpoint) per challenge returned in the `/challenges` response and this means too many requests in total.

I guess it would be much more efficient to add `hasUserSubmittedForReview` filter in  `/challenges`

[2020-07-24 12:31] cagdas001 commented on #4527
If you decide not to make any change in the current filtering logic, the best option would be

1. Calling the Submission API first (`/submissions?memberId=XXX`), and getting the challenge IDs from this response.
2. Calling the Challenge API (`/challenges?sortBy=submissionEndDate&sortOrder=desc&status=Completed&track=DEVELOP&type=CODE&memberId=XXX`)
3. and filtering the response of 2nd step by the

[2020-07-25 11:26] Dara-K commented on #4679
Note: the date should always be bottom aligned in the same position @kkartunov

[2020-07-27 05:09] SathyaJayabal commented on #4650
verified on beta
<img width="1440" alt="Screenshot 2020-07-27 at 10 38 16 AM" src="https://user-images.githubusercontent.com/58783823/88505520-52b8c780-cff5-11ea-8126-cf2e5ba2f3f5.png">

[2020-07-27 05:55] SathyaJayabal commented on #4552
verified on beta
<img width="1440" alt="Screenshot 2020-07-27 at 11 23 20 AM" src="https://user-images.githubusercontent.com/58783823/88508116-a29a8d00-cffb-11ea-9340-642ce391d475.png">

[2020-07-27 07:00] SathyaJayabal commented on #4503
verified on dev
<img width="1440" alt="Screenshot 2020-07-27 at 12 28 16 PM" src="https://user-images.githubusercontent.com/58783823/88512938-f9589480-d004-11ea-9fec-0e8179b63467.png">

[2020-07-27 14:14] sushilshinde commented on #4609
@luizrrodrigues can you confirm and PR if there are changes?

[2020-07-27 14:16] crazyk07 commented on #4673
Contest https://www.topcoder.com/challenges/30133878 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-27 14:28] #4650 closed

[2020-07-27 14:28] #4621 closed

[2020-07-27 14:28] #4552 closed

[2020-07-27 14:28] crazyk07 commented on #4621
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30132029<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-27 14:28] crazyk07 commented on #4650
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133391<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-27 14:28] crazyk07 commented on #4552
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30130313<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-27 14:41] crazyk07 commented on #4672
Contest https://www.topcoder.com/challenges/30134485 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-27 14:43] Oanh-and-only-Oanh opened #4683 "Remove ability to subscribe to newsletter on Cognitive community"
Remove the bottom section of the Cognitive community page that allows user to opt into receiving newsletter.

See below.
![image](https://user-images.githubusercontent.com/47536078/88555685-f6e24480-cfdc-11ea-8e56-896bd4c1216a.png)

[2020-07-27 14:44] crazyk07 commented on #4672
Contest https://www.topcoder.com/challenges/30134485 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-27 14:44] luizrrodrigues commented on #4609
@rootelement Cool, looks good now.

@sushilshinde No changes needed, this was fixed in BE side.

[2020-07-27 14:49] crazyk07 commented on #4674
Contest https://www.topcoder.com/challenges/30134487 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-27 15:24] SathyaJayabal commented on #4609
@luizrrodrigues , not able to register for user who has already signed the NDA. Please try with your own handle and check please.

See linked video for reference.
https://drive.google.com/file/d/1xqBBNRuNRkqh71zFSsm4Vq0U5qaGXk5A/view?usp=sharing

A user who has not yet signed the NDA is able to sign and register to a challenge
attached video
https://drive.google.com/file/d/1X3yocguu1UT0mFHGKZY9r2c

[2020-07-27 15:25] SathyaJayabal commented on #4609
cc @sushilshinde

[2020-07-27 15:45] luizrrodrigues commented on #4609
@rootelement Backend support viewing_complete event return from DocuSign?

viewing_complete is about to see already signed.

[2020-07-27 15:51] luizrrodrigues commented on #4609
@rootelement I see same issue with my user, id: 22827870

Challenge: https://beta-community-app.topcoder.com/challenges/658ae590-b249-4db0-bad4-b2ca86f31eda

[2020-07-27 16:32] Oanh-and-only-Oanh opened #4684 "Zurich Case studies update"
Update Zurich portal case studies.
https://docs.google.com/presentation/d/1s3YhP-5lobMA_NWUK3Re7aFmngfmvpTGwZVYX2X90eA/edit

[2020-07-27 17:17] crazyk07 commented on #4674
Contest https://www.topcoder.com/challenges/30134487 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-27 21:29] cagdas001 commented on #4672
cc @sushilshinde

**TL;DR;** Needs a backend change at resource-api

The current code uses `challenge.userDetails.roles` to check if user has a role for the challenge.

https://github.com/topcoder-platform/community-app/blob/aabe3f70096a45a9ee1814d9d55ea85dd162861d/src/shared/components/challenge-detail/Header/TabSelector/index.jsx#L37

It fetches user challenges and populates this field from user

[2020-07-27 22:11] PrakashDurlabhji commented on #4674
@sushilshinde I analyzed the responses and code.

Prod page
https://www.topcoder.com/challenges/30132044?tab=registrants

beta url
https://beta-community-app.topcoder.com/challenges/208e6774-8263-4c3a-a77f-afe4c84a888f?tab=registrants

1. Api called to get responses are http://api.topcoder.com/v5/challenges?legacyId=30132044 and http://api.topcoder.com/v5/challenges/208e6774-8263-4c3a-a77f-afe4c84

[2020-07-28 01:48] rootelement commented on #4674
Just an FYI here while I'm debugging this... A challenge object should not have a winners object unless the challenge status is `Completed`

You'll see here in the search (which is the /challenges?legacyId=xxx):
https://github.com/topcoder-platform/challenge-api/blob/develop/src/services/ChallengeService.js#L423

And here in the getById (which is the /challenges/uuid)
https://github.com/topcoder-p

[2020-07-28 01:52] rootelement commented on #4681
This was the sync issue I mentioned over the weekend. This should be fixed now.

[2020-07-28 03:54] SathyaJayabal opened #4685 "Stalled Challenge phase"
When the submission phase ends and the review phase does not open automatically, the challenge is displayed with as submission late phase in V4 and Stalled state in V5.

example:https://beta-community-app.topcoder.com/challenges/ca14c0f3-b29e-4826-a6bb-560d8448cd9b
https://www.topcoder.com/challenges/30132551

<img width="1440" alt="Screenshot 2020-07-28 at 9 21 17 AM" src="https://user-images.git

[2020-07-28 03:59] SathyaJayabal opened #4686 "[$50]Previously used search term is retained on subsequent instances"
Steps to reproduce:
1. Open Challenge Listings
2. Search for a challenge using search bar
3. Close the browser
4. Open Challenge listings in  a new tab/window
5. Listings page automatically searches with the previous search term

This issue is intermittent. Will upload a video when observed next. This issue is also present in  V4.

cc @sushilshinde @Oanh-and-only-Oanh @lakshmiathreya

[2020-07-28 05:25] SathyaJayabal opened #4687 "[$40] Total wins stats is missing in member profile"
Total wins stats is missing in member profile

https://www.topcoder.com/members/iamtong
<img width="1440" alt="Screenshot 2020-07-28 at 10 53 43 AM" src="https://user-images.githubusercontent.com/58783823/88622583-bcea6e80-d0c0-11ea-9c08-5a2b4709be6d.png">
<img width="632" alt="Screenshot 2020-07-28 at 10 54 15 AM" src="https://user-images.githubusercontent.com/58783823/88622594-c2e04f80-d0c0-11ea

[2020-07-28 05:39] SathyaJayabal commented on #4609
@rootelement , See the same issue with another user drasticdpk. This behaviour may be common to all users who have already signed the NDA.

[2020-07-28 05:59] SathyaJayabal opened #4688 "[$50]Ongoing challenges display challenges that have not started yet"
Ongoing challenges display challenges that have not started yet
example:
https://beta-community-app.topcoder.com/challenges/dd1e6cac-173d-4c15-acf2-838d300ef2bb
https://beta-community-app.topcoder.com/challenges/14fbc82f-9a83-4fda-92e0-96eb58cfa1ea
https://beta-community-app.topcoder.com/challenges/558a036f-db2f-4941-9ea6-8e83569c6929
https://beta-community-app.topcoder.com/challenges/bf6e0a26-a9d

[2020-07-28 07:31] luizrrodrigues commented on #4673
@sushilshinde PR is ready: https://github.com/topcoder-platform/topcoder-react-lib/pull/212

[2020-07-28 07:55] PrakashDurlabhji commented on #4674
@rootelementYes i saw the same code earlier. it should unset actually as  challenge status is "Active" . but for prod too status is "Active" but still it gets winnners array. Hence i did not point out this line of code.

[2020-07-28 16:25] SathyaJayabal commented on #4609
Verified for following users who have already signed NDA in V4 (callmekatootie, drasticdpk and kiril.kartunov ) and for users users who signed NDA in v5(picachuitest1) and users who have not yet signed NDA(picachuitest2).

Works fine for all cases.

[2020-07-28 16:25] #4609 closed

[2020-07-28 16:26] crazyk07 commented on #4609
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30131350<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-28 16:31] SathyaJayabal commented on #4673
verified on beta
<img width="1440" alt="Screenshot 2020-07-28 at 10 00 25 PM" src="https://user-images.githubusercontent.com/58783823/88694182-ceae2f00-d11d-11ea-9d52-abdd427a2465.png">
<img width="1440" alt="Screenshot 2020-07-28 at 10 00 37 PM" src="https://user-images.githubusercontent.com/58783823/88694203-d40b7980-d11d-11ea-926f-7b97e0de1a2a.png">

[2020-07-28 21:12] rootelement commented on #4609
Thank you @luizrrodrigues for your patience in testing this. And @SathyaJayabal for your awesome diligence on providing clear feedback.

[2020-07-29 02:42] crazyk07 commented on #4686
Contest https://www.topcoder.com/challenges/30134612 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-29 02:42] crazyk07 commented on #4686
Contest https://www.topcoder.com/challenges/30134612 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-29 02:46] crazyk07 commented on #4688
Contest https://www.topcoder.com/challenges/30134613 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-29 02:47] crazyk07 commented on #4688
Contest https://www.topcoder.com/challenges/30134613 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-29 03:46] nursoltan-s commented on #4686
@SathyaJayabal
Hi, can you upload video for this issue. Did you changed filters before search for terms.

I have raised an issue few months ago. It is might be similar issue. Can you look at this?
https://github.com/topcoder-platform/community-app/issues/4686

[2020-07-29 04:01] SathyaJayabal commented on #4686
@nursoltan-s , yes I think #4368 is related. I was not able to reproduce this issue now to get a video, even though I have seen it before.

The Summary I think is that all filters (search, track toggles, filters) are not cleared properly.

[2020-07-29 04:03] #4673 closed

[2020-07-29 04:04] SathyaJayabal commented on #4547
fixed on the backend

[2020-07-29 04:04] #4547 closed

[2020-07-29 04:04] crazyk07 commented on #4673
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133878<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-07-29 04:18] luizrrodrigues commented on #4609
@rootelement No problem :)

[2020-07-29 04:20] nursoltan-s commented on #4686
@SathyaJayabal
Screencast to reproduce the issue: https://monosnap.com/direct/yHfkRusRLb7P2eqDwOrGhh6GSL3eBa

[2020-07-29 04:27] nursoltan-s commented on #4686
1. Problem is `trackStatus[text]` value is hold on localStorage. Should we filter out "filter[text]" parameter not to store on localStorage and retain all other filters?

2. And other filters (like `track`, `date` etc) should be stored on localStorage?

@sushilshinde @SathyaJayabal

[2020-07-29 07:19] nursoltan-s commented on #4686
Above problem is fixed on this PR: https://github.com/topcoder-platform/community-app/pull/4689

[2020-07-29 14:19] sushilshinde commented on #4672
@rootelement will confirm that. That's a good analysis @cagdas001

[2020-07-29 15:13] SathyaJayabal opened #4690 ""Failed to get member active challenges" error on stats history pages"
"Failed to get member active challenges" error on stats history pages
example
https://beta-community-app.topcoder.com/members/tourist/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH
https://beta-community-app.topcoder.com/members/picachui/details/?track=DEVELOP&subTrack=WIREFRAMES

<img width="1440" alt="Screenshot 2020-07-29 at 8 34 56 PM" src="https://user-images.githubusercontent.com/587838

[2020-07-29 16:09] nursoltan-s opened #4691 "Review Opportunity 403 Error with no user feedback."
**Describe the bug**
When topcoder members aren't allowed to review a challenge and tries to apply for review, Modal confirmation block just closes like review request sent successfully but in console it gives HTTP 403 Error.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as new member.
2. Go to 'https://www.topcoder.com/challenges/30134623/review-opportunities'
2. Click on 'Apply for

[2020-07-30 04:08] Oanh-and-only-Oanh opened #4692 "Front-end changes to subtracks"
Remove subtrack dropdown filter on challenge listings page
![image](https://user-images.githubusercontent.com/47536078/88879700-d0d8c200-d1df-11ea-826b-b00cc9798749.png)

Remove subtrack abbreviations on challenge listings page
![image](https://user-images.githubusercontent.com/47536078/88879653-b868a780-d1df-11ea-958d-c0f3e3081323.png)

[2020-07-30 04:14] lakshmiathreya commented on #4692
cc @SathyaJayabal

[2020-07-30 04:21] SathyaJayabal commented on #4692
@Oanh-and-only-Oanh , how about the updates to the member profile pages and the stats history.

cc @lakshmiathreya @sushilshinde

Without subtracks will the member ratings for different subtracks be calculated properly ?
Same question regarding stats for the different subtracks ?

<img width="1440" alt="Screenshot 2020-07-30 at 9 48 26 AM" src="https://user-images.githubusercontent.com/58783823/88

[2020-07-30 04:24] Oanh-and-only-Oanh commented on #4692
That's a good question and I think we need @rootelement to help answer.
cc @mtwomey

[2020-07-30 05:25] SathyaJayabal commented on #4686
@nursoltan-s , sorry for the late reply, we need to only retain the track filters
<img width="350" alt="Screenshot 2020-07-30 at 10 54 22 AM" src="https://user-images.githubusercontent.com/58783823/88883912-0cf93a80-d253-11ea-8c3f-d5e9c2ceb5cf.png">
cc @sushilshinde

[2020-07-30 05:56] nursoltan-s commented on #4686
@SathyaJayabal @sushilshinde
Okay. Now it's only storing track filters in this PR: https://github.com/topcoder-platform/community-app/pull/4693
Don't forget to clear localStorage before testing.

[2020-07-30 05:57] nursoltan-s commented on #4686
@SathyaJayabal
So, after clicking "Clear filters" button, should filter terms cleared from "localStorage" as well?

[2020-07-30 05:58] SathyaJayabal commented on #4686
@nursoltan-s , yes clear filter must clear local storage as well

[2020-07-30 06:17] nursoltan-s commented on #4686
okay. this issue is also fixed in PR: #4693

[2020-07-30 06:46] SathyaJayabal commented on #4586
@bug-hunt-helper add label: Test

[2020-07-30 06:51] SathyaJayabal opened #4694 "[$50]Topgear: Challenges and prize stats are missing in the topgear home page"
Topgear: Challenges and prize stats are missing in the topgear home page
https://beta-community-app.topcoder.com/__community__/wipro
<img width="1440" alt="Screenshot 2020-07-30 at 12 19 10 PM" src="https://user-images.githubusercontent.com/58783823/88890363-27391580-d25f-11ea-8191-14038e664d16.png">

[2020-07-30 07:18] kkartunov commented on #4684
@Oanh-and-only-Oanh updated.

[2020-07-30 07:34] kkartunov opened #4695 "Image&photo gallery for Contentful"

[2020-07-30 07:46] SathyaJayabal opened #4696 "Final Fixes Phase text must be "Winner is working on the fixes""
Final Fixes Phase text must be "Winner is working on the fixes"
<img width="1440" alt="Screenshot 2020-07-30 at 1 15 03 PM" src="https://user-images.githubusercontent.com/58783823/88895980-d62d1f80-d266-11ea-91d8-1500c5a95f04.png">

[2020-07-30 12:26] kkartunov opened #4697 "Update mobile experience of underlined tabs"
as per https://marvelapp.com/prototype/5bhjaie/screen/71551840

[2020-07-30 14:45] SathyaJayabal commented on #4681
@rootelement , We still have some design challenges where the submission count is incorrect.
few more examples:
https://beta-community-app.topcoder.com/challenges/4424fa70-9305-46a6-b052-4e2bd237f3b3
https://beta-community-app.topcoder.com/challenges/4424fa70-9305-46a6-b052-4e2bd237f3b3
https://beta-community-app.topcoder.com/challenges/45c9f6df-9cb4-462d-9b0a-ff440f27c740
https://beta-community-a

[2020-07-30 14:59] SathyaJayabal opened #4698 "New feature: Add ability to clear notifications"
Users should be able dismiss/clear notifications that they have read.

<img width="385" alt="Screenshot 2020-07-30 at 8 29 13 PM" src="https://user-images.githubusercontent.com/58783823/88938779-5ec9b100-d2a3-11ea-8283-37ff3ced50ad.png">

[2020-07-30 15:09] Oanh-and-only-Oanh commented on #4698
@Dara-K can you help add UI to allow user to clear their notifications?

[2020-07-30 15:41] Oanh-and-only-Oanh commented on #4684
completed

[2020-07-30 15:41] #4684 closed

[2020-07-30 21:16] Dara-K commented on #4698
Here is the Clear All Option: https://marvelapp.com/prototype/dcc2h8h/screen/71648003/handoff

[2020-07-31 06:46] luizrrodrigues commented on #4688
- Issue comming from: https://github.com/topcoder-platform/topcoder-react-lib/commit/4be52b8bab6d3ae12ed024185dca20c96af8f661
- Added **ongoing** filter based in **registration - scheduledEndDate**

------

@sushilshinde PR's are ready:
https://github.com/topcoder-platform/topcoder-react-lib/pull/213
https://github.com/topcoder-platform/community-app/pull/4699

[2020-07-31 12:13] SathyaJayabal commented on #4688
verified on beta
<img width="1440" alt="Screenshot 2020-07-31 at 5 42 17 PM" src="https://user-images.githubusercontent.com/58783823/89033820-45813d00-d355-11ea-80d1-27ff48442f83.png">

[2020-07-31 12:17] SathyaJayabal commented on #4686
verified on beta

[2020-07-31 12:18] SathyaJayabal commented on #4607
verified on beta

[2020-08-01 04:25] sushilshinde commented on #4350
@mtwomey
I had a meeting with @sachin-maheshwari, we both agree on the point that this is a member/profile domain concern and it should be handled by members API.

The reason we shouldn't add more m2m to the community app is, with v5 challenge API/resource API integration, we started to remove m2m proxy calls on the community app because it is adding more server code, and it also affects the local

[2020-08-01 04:57] #4688 closed

[2020-08-01 04:57] #4686 closed

[2020-08-01 04:58] #4607 closed

[2020-08-01 04:58] crazyk07 commented on #4607
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30131348<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-01 04:58] crazyk07 commented on #4686
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134612<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-01 04:58] crazyk07 commented on #4688
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134613<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-03 05:26] SathyaJayabal commented on #4679
@kkartunov, SRM Editorials still have a banner
<img width="1440" alt="Screenshot 2020-08-03 at 10 47 00 AM" src="https://user-images.githubusercontent.com/58783823/89148210-cff4b700-d576-11ea-8878-5fa3455e45e5.png">

[2020-08-03 05:45] SathyaJayabal opened #4700 "[$50]Registrants list must not include member handles for other roles, other than submitter"
https://github.com/topcoder-platform/challenge-api/issues/240
Due to this change resources api returns all roles when searching for your own member ID. Hence in challenges where the user has other roles, the user's handle is displayed multiple times(one for each role).

Expected: The user's handle must be displayed only once and only f they have registered to the challenge.

example:
https://beta-

[2020-08-03 06:55] kkartunov commented on #4697
Tesing:
http://community-app.topcoder-dev.com/examples/contentful/viewport/3YZkRulnz4xBabdFPiVlZc
https://community-app.topcoder-dev.com/__community__/tco20/competition-overview/development/leaderboard

[2020-08-03 07:00] kkartunov commented on #4679
@SathyaJayabal we will update them in Contentful soon. The functionality for articles without a banner is included in this ticket so we are good about it. Thanks!

[2020-08-03 07:19] SathyaJayabal commented on #4679
Verified on dev

1. no default avatar when member avatar is missing - https://marvelapp.com/prototype/1hei31bg/screen/71426378/handoff
2. changed the. title of the cards to be smaller : https://marvelapp.com/prototype/1hei31bg/screen/71426374/handoff
3. blob image for the articles on Thrive - https://marvelapp.com/prototype/1hei31bg/screen/60646916/handoff
4. for the SRM Editorials we talked of us

[2020-08-03 07:31] crazyk07 commented on #4700
Contest https://www.topcoder.com/challenges/30135622 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-03 07:31] crazyk07 commented on #4700
Contest https://www.topcoder.com/challenges/30135622 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-03 08:43] SathyaJayabal commented on #4697
verified on beta
<img width="499" alt="Screenshot 2020-08-03 at 2 13 11 PM" src="https://user-images.githubusercontent.com/58783823/89163640-86669500-d593-11ea-841a-453a29ecfa81.png">

[2020-08-03 08:48] SathyaJayabal commented on #4662
verified on beta
<img width="1440" alt="Screenshot 2020-08-03 at 2 17 40 PM" src="https://user-images.githubusercontent.com/58783823/89164073-35a36c00-d594-11ea-8f90-cc61da84260b.png">

[2020-08-03 08:51] SathyaJayabal commented on #4655
verified on beta
<img width="1440" alt="Screenshot 2020-08-03 at 2 21 02 PM" src="https://user-images.githubusercontent.com/58783823/89164362-9df24d80-d594-11ea-987e-55ba80c63843.png">

[2020-08-03 08:55] SathyaJayabal commented on #4542
verified on beta
<img width="1440" alt="Screenshot 2020-08-03 at 2 24 08 PM" src="https://user-images.githubusercontent.com/58783823/89164717-0f320080-d595-11ea-8320-2d26a9839dd0.png">

[2020-08-03 09:59] SathyaJayabal commented on #4503
@kkartunov , Don't see these updates on beta
<img width="1440" alt="Screenshot 2020-08-03 at 3 29 19 PM" src="https://user-images.githubusercontent.com/58783823/89170997-21fd0300-d59e-11ea-92c7-c8b79835beb6.png">

[2020-08-03 10:05] #4466 closed

[2020-08-03 10:05] crazyk07 commented on #4466
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30133952<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-03 10:14] SathyaJayabal commented on #4679
Verified on beta
<img width="1440" alt="Screenshot 2020-08-03 at 3 42 04 PM" src="https://user-images.githubusercontent.com/58783823/89172401-33dfa580-d5a0-11ea-9d5a-11a4638ccd31.png">
<img width="1440" alt="Screenshot 2020-08-03 at 3 43 42 PM" src="https://user-images.githubusercontent.com/58783823/89172412-39d58680-d5a0-11ea-8c87-1aac39387ccb.png">
<img width="1440" alt="Screenshot 2020-08-03 at

[2020-08-03 11:05] SathyaJayabal commented on #4503
verified on beta
<img width="1440" alt="Screenshot 2020-08-03 at 4 34 33 PM" src="https://user-images.githubusercontent.com/58783823/89176537-5aeda580-d5a7-11ea-9767-98c05fb8a886.png">

[2020-08-03 12:28] lakshmiathreya commented on #4700
@SathyaJayabal good catch!

[2020-08-03 16:15] PrakashDurlabhji commented on #4674
@rootelement @sushilshinde any updates?

[2020-08-03 20:44] dmessing opened #4704 "Filters seem to be get cached then hosed"
**Describe the bug**
Load all the challenges wait a bit, filter on design , dev or data science, view details click < arrow at the top to check the next one, no challenges load for the filter

**To Reproduce**
Steps to reproduce the behavior:
1. go to https://beta-community-app.topcoder.com/challenges, make sure you click filters, clear filters
2. Wait for design challenges to appear
<img width="1

[2020-08-04 09:31] SathyaJayabal commented on #4697
verified on prod
<img width="495" alt="Screenshot 2020-08-04 at 3 01 22 PM" src="https://user-images.githubusercontent.com/58783823/89278190-67cfcf00-d663-11ea-99ef-9cd1dacc21e9.png">

[2020-08-04 09:31] #4697 closed

[2020-08-04 09:33] SathyaJayabal commented on #4662
verified on prod
<img width="1440" alt="Screenshot 2020-08-04 at 3 02 59 PM" src="https://user-images.githubusercontent.com/58783823/89278368-a2396c00-d663-11ea-9744-3a87316f77b0.png">

[2020-08-04 09:33] #4662 closed

[2020-08-04 09:36] SathyaJayabal commented on #4655
verified on prod
<img width="1440" alt="Screenshot 2020-08-04 at 3 05 39 PM" src="https://user-images.githubusercontent.com/58783823/89278641-03613f80-d664-11ea-925b-91b2581e8578.png">

[2020-08-04 09:36] #4655 closed

[2020-08-04 09:37] SathyaJayabal commented on #4542
verified on prod
<img width="1440" alt="Screenshot 2020-08-04 at 3 07 13 PM" src="https://user-images.githubusercontent.com/58783823/89278812-36a3ce80-d664-11ea-8198-2c059fd9f07c.png">

[2020-08-04 09:37] #4542 closed

[2020-08-04 09:45] SathyaJayabal commented on #4679
verified on prod
<img width="1440" alt="Screenshot 2020-08-04 at 3 13 36 PM" src="https://user-images.githubusercontent.com/58783823/89279620-38ba5d00-d665-11ea-9f1d-37ef07683753.png">
<img width="1440" alt="Screenshot 2020-08-04 at 3 13 52 PM" src="https://user-images.githubusercontent.com/58783823/89279641-3eb03e00-d665-11ea-9e62-f78c9edf5b37.png">
<img width="1440" alt="Screenshot 2020-08-04 at

[2020-08-04 09:45] #4679 closed

[2020-08-04 09:59] SathyaJayabal commented on #4503
verified on prod
<img width="1440" alt="Screenshot 2020-08-04 at 3 29 22 PM" src="https://user-images.githubusercontent.com/58783823/89281178-4f61b380-d667-11ea-84f3-a17ae42c89be.png">

[2020-08-04 10:01] SathyaJayabal opened #4705 "Statistics page not loading data for some tabs"
example:
https://www.topcoder.com/community/statistics?tabs[All-pills]=0&tabs[Design]=0&tabs[General]=1&tabs[MM]=0&tabs[QA]=0&tabs[Dev]=0&tabs[SRM]=0
<img width="1440" alt="Screenshot 2020-08-04 at 3 31 01 PM" src="https://user-images.githubusercontent.com/58783823/89281321-8a63e700-d667-11ea-9db7-aecbdf6a2bb3.png">
<img width="1440" alt="Screenshot 2020-08-04 at 3 12 20 PM" src="https://user-imag

[2020-08-04 10:28] SathyaJayabal commented on #4705
cc @RiteshTC

[2020-08-04 10:29] #4503 closed

[2020-08-04 11:43] SathyaJayabal commented on #4700
@luizrrodrigues , same scenario, user is only an observer to the challenge and not registered, but can still see the Unregister button.
<img width="1440" alt="Screenshot 2020-08-04 at 5 07 21 PM" src="https://user-images.githubusercontent.com/58783823/89289675-44ae1b00-d675-11ea-9e2c-beb44c4236f4.png">

[2020-08-04 15:08] sushilshinde opened #4706 "[$220]Track and Subtrack enhancements : Listing page"
**Spec :**

Part 1: Add new track

1. Add a new filter "QA" to the listing page on the tracklist. Users should be able to filter for QA with the added QA track filter option.
2. Colors for new QA challenge badge will be purple for now(it will change in the future)
3. If the member selects QA track, API will return old QA challenges(previously develop challenges launched from direct) + new QA chall

[2020-08-04 15:18] sushilshinde commented on #4692
Listing Page Change : https://github.com/topcoder-platform/community-app/issues/4706

[2020-08-04 15:27] harshitmehta15 opened #4707 "Member's country not visible on some members public profile"
**Describe the bug**
Member's country not visible on his public profile

**To Reproduce**
Steps to reproduce the behaviour:
1. For example: open https://www.topcoder.com/members/abhi_393

**Expected behaviour**
Member country should be visible right under his profile photo.

**Screenshots**
<img width="1209" alt="Screenshot 2020-08-04 at 11 26 26 PM" src="https://user-images.githubusercontent.com/

[2020-08-04 16:00] kkartunov commented on #4705
@SathyaJayabal I can't reproduce this error. Data is loading for me...can you re-check on your side?

[2020-08-04 16:22] cagdas001 commented on #4672
PR (**topcoder-react-lib**): topcoder-platform/topcoder-react-lib#214

Use this version of **topcoder-react-lib** when testing the **community-app** (you can add it as local dependency)

[2020-08-04 23:34] luizrrodrigues commented on #4700
@sushilshinde PR is ready: https://github.com/topcoder-platform/topcoder-react-lib/pull/215

[2020-08-05 03:55] luizrrodrigues commented on #4706
@sushilshinde

So instead show challenge subtrack abbreviation we'll show challenge type abbreviation?

[2020-08-05 03:57] sushilshinde commented on #4706
yes

[2020-08-05 05:25] sushilshinde commented on #4690
@SathyaJayabal I can't replicate this

[2020-08-05 05:36] SathyaJayabal commented on #4690
closing this as its fixed form backend.
<img width="1440" alt="Screenshot 2020-08-05 at 11 06 13 AM" src="https://user-images.githubusercontent.com/58783823/89375646-b46ee500-d70b-11ea-8d79-91670c073c21.png">
<img width="1440" alt="Screenshot 2020-08-05 at 11 06 16 AM" src="https://user-images.githubusercontent.com/58783823/89375656-b9cc2f80-d70b-11ea-8983-7ae5a2cbd34c.png">

[2020-08-05 05:36] #4690 closed

[2020-08-05 05:40] SathyaJayabal commented on #4700
verified on beta
<img width="1440" alt="Screenshot 2020-08-05 at 11 09 17 AM" src="https://user-images.githubusercontent.com/58783823/89375840-2f380000-d70c-11ea-9ba2-6d6d91d7f354.png">
<img width="1440" alt="Screenshot 2020-08-05 at 11 09 22 AM" src="https://user-images.githubusercontent.com/58783823/89375848-33fcb400-d70c-11ea-9943-39d9368f2cb3.png">
<img width="1440" alt="Screenshot 2020-08-05

[2020-08-05 05:43] SathyaJayabal commented on #4672
verified on beta
<img width="1440" alt="Screenshot 2020-08-05 at 11 12 31 AM" src="https://user-images.githubusercontent.com/58783823/89376040-a2da0d00-d70c-11ea-93c3-3cb736a98c88.png">

[2020-08-05 05:48] SathyaJayabal commented on #4600
verified on beta
<img width="1440" alt="Screenshot 2020-08-05 at 11 15 50 AM" src="https://user-images.githubusercontent.com/58783823/89376448-5e9b3c80-d70d-11ea-8192-6535aa3bdcd9.png">

[2020-08-05 05:48] #4600 closed

[2020-08-05 05:51] SathyaJayabal commented on #4683
verified on dev
<img width="1440" alt="Screenshot 2020-08-05 at 11 20 32 AM" src="https://user-images.githubusercontent.com/58783823/89376592-bb96f280-d70d-11ea-8927-996c4602845d.png">

[2020-08-05 10:51] sushilshinde opened #4709 "[$260]Track and Subtrack enhancements : Details page"
**Part 1 - Resolve subtrack removal impact on details page.**

Going forwards on details page subtrack info won't be available as a higher-level property but the subtrack value will be part of tags list. So any logic which is based of subtrack should check tags list for particular subtrack, and use it in the existing render logic.

For example :

If it’s Track: Data Science
If it’s Type: Challenge

[2020-08-05 10:53] crazyk07 commented on #4706
Contest https://www.topcoder.com/challenges/30135986 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-05 10:53] crazyk07 commented on #4706
Contest https://www.topcoder.com/challenges/30135986 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-05 13:01] rootelement commented on #4706
Just so it's clear:
Tracks should come from: https://api.topcoder-dev.com/v5/challenge-tracks
Types should come from: https://api.topcoder-dev.com/v5/challenge-types

Please _do not_ key off of `legacy.track` or `legacy.subTrack` those properties will be phased out.

Here's an example object returned from the API:
[code]

[2020-08-05 13:03] rootelement commented on #4709
Here is an example Marathon Match (with the spec removed for brevity):
[code]

[2020-08-05 13:10] SathyaJayabal commented on #4706
Attaching Test Scenarios for the above change
[Track and Subtrack Enhancements Test Scenarios.xlsx](https://github.com/topcoder-platform/community-app/files/5028568/Track.and.Subtrack.Enhancements.Test.Scenarios.xlsx)

[2020-08-05 13:44] SathyaJayabal commented on #4681
The checkpoint submissions are not accounted for in the submission count.
So when the challenge is in checkpoint submission phase, even though there are submissions, the count is always zero.

This will be confusing to the members. example:
<img width="1440" alt="Screenshot 2020-08-05 at 7 13 12 PM" src="https://user-images.githubusercontent.com/58783823/89420069-d5592980-d74f-11ea-9090-e99234b8f2

[2020-08-05 16:48] rootelement commented on #4681
This is not a backend issue. The info is in the object, the frontend needs to update logic.
`numOfSubmissions + (numOfCheckpointSubmissions || 0)`
[code]

[2020-08-06 03:03] SathyaJayabal commented on #4681
cc @sushilshinde

[2020-08-06 03:40] #4692 closed

[2020-08-06 04:01] luizrrodrigues commented on #4706
@sushilshinde PR's are ready ☝️

[2020-08-06 04:23] luizrrodrigues commented on #4709
@rootelement

**Data Science** challenges type are always a Marathon Match?

[2020-08-06 05:44] SathyaJayabal opened #4712 "TCO flag on My Dashboard - My Challenges"
In V4 we display only the challenge subtrack tag.
In V5 along with the challenge type flag, we also display the TCO flag.
<img width="1440" alt="Screenshot 2020-08-06 at 11 10 24 AM" src="https://user-images.githubusercontent.com/58783823/89495234-7b9b4280-d7d5-11ea-82be-ca668bef7829.png">

@Oanh-and-only-Oanh, we can close this issue, if you can confirm if this is fine.

[2020-08-06 05:45] Oanh-and-only-Oanh commented on #4712
Please close out. Thank you

[2020-08-06 05:51] SathyaJayabal opened #4713 "[$25]My Communities tab on Dashboard does not load the user's communities"
https://beta-community-app.topcoder.com/my-dashboard
user:picachui
My Communities tab on Dashboard does not load the user's communities even though the user has 6 communities
<img width="1440" alt="Screenshot 2020-08-06 at 11 19 35 AM" src="https://user-images.githubusercontent.com/58783823/89495895-e39e5880-d7d6-11ea-9614-31977636abb0.png">
<img width="1440" alt="Screenshot 2020-08-06 at 11 20 31

[2020-08-06 06:04] #4712 closed

[2020-08-06 06:09] SathyaJayabal opened #4714 "Hundreds of resource api calls made on the dashboard page"
https://beta-community-app.topcoder.com/my-dashboard
<img width="1440" alt="Screenshot 2020-08-06 at 11 38 33 AM" src="https://user-images.githubusercontent.com/58783823/89497154-688a7180-d7d9-11ea-99c4-5aada5b26dbf.png">

[2020-08-06 06:36] SathyaJayabal commented on #4713
Also on the My challenges tab, communities filter values are not loaded
<img width="1440" alt="Screenshot 2020-08-06 at 12 05 21 PM" src="https://user-images.githubusercontent.com/58783823/89499185-33801e00-d7dd-11ea-85fd-b8ad158416f8.png">

[2020-08-06 06:49] SathyaJayabal commented on #4557
@luizrrodrigues , summary of pending issues in this ticket for clarity
1. When current phase has less than 24 hours or is late, the time left must be displayed in red.
2. Time left text is different
V4: Ends in 00d 00 h
V4: 00d 00h to go
3. All roles must be displayed
4. Direct and Online Review buttons must be available when the user has roles like manager/copilot etc.
<img width="1440" alt="Scre

[2020-08-06 07:26] SathyaJayabal opened #4715 "[$50]Sort by: Time to submit and Time to register does not work as expected"
The following sort functionalities on the challenge listings page does not work as expected.
My Challenges bucket: Time to Submit
Open for registration bucket: Time to Submit, Time to Register

<img width="1440" alt="Screenshot 2020-08-06 at 12 52 37 PM" src="https://user-images.githubusercontent.com/58783823/89503400-1b5fcd00-d7e4-11ea-89c8-f0ac7bed221a.png">
<img width="1440" alt="Screenshot 202

[2020-08-06 07:39] crazyk07 commented on #4709
Contest https://www.topcoder.com/challenges/30136115 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-06 07:39] crazyk07 commented on #4709
Contest https://www.topcoder.com/challenges/30136115 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-06 07:40] crazyk07 commented on #4681
Contest https://www.topcoder.com/challenges/30136116 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-06 07:40] crazyk07 commented on #4681
Contest https://www.topcoder.com/challenges/30136116 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-06 07:43] crazyk07 commented on #4713
Contest https://www.topcoder.com/challenges/30136117 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-06 07:44] sushilshinde commented on #4713
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-08-06 07:45] crazyk07 commented on #4715
Contest https://www.topcoder.com/challenges/30136118 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-06 07:45] sushilshinde commented on #4715
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-08-06 07:46] crazyk07 commented on #4694
Contest https://www.topcoder.com/challenges/30136119 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-06 07:46] crazyk07 commented on #4694
Contest https://www.topcoder.com/challenges/30136119 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-06 07:49] crazyk07 commented on #4715
Contest https://www.topcoder.com/challenges/30136118 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-06 07:51] crazyk07 commented on #4713
Contest https://www.topcoder.com/challenges/30136117 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-06 08:00] #4700 closed

[2020-08-06 08:03] SathyaJayabal opened #4716 "[$50]Past contests : sort by most recent does not work as expected"
https://github.com/topcoder-platform/challenge-api/issues/260

[2020-08-06 08:04] crazyk07 commented on #4700
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135622<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-06 08:14] crazyk07 commented on #4715
Contest https://www.topcoder.com/challenges/30136118 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-06 08:23] #4672 closed

[2020-08-06 08:25] crazyk07 commented on #4672
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30134485<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-06 08:31] SathyaJayabal opened #4717 ""Marathon Match" must be added to the keywords filter drop down"
"Marathon Match" must be added to the keywords filter drop down on the challenge listings page
<img width="1440" alt="Screenshot 2020-08-06 at 1 59 49 PM" src="https://user-images.githubusercontent.com/58783823/89509604-24a16780-d7ed-11ea-9efa-fc0b2e157937.png">

@Oanh-and-only-Oanh, can you get this added in the DB please?

cc @sushilshinde

[2020-08-06 08:50] SathyaJayabal commented on #4706
verified on beta
<img width="1440" alt="Screenshot 2020-08-06 at 2 19 48 PM" src="https://user-images.githubusercontent.com/58783823/89511734-ea859500-d7ef-11ea-8ab1-488384f225f5.png">

[2020-08-06 09:14] #4706 closed

[2020-08-06 09:15] crazyk07 commented on #4706
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135986<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-06 09:28] SathyaJayabal opened #4718 "[$50]Open for review bucket : Impact of Track/Subtrack updates"
https://beta-community-app.topcoder.com/challenges?bucket=reviewOpportunities
1. Open for review: filter by types is not working
cc @sushilshinde
<img width="1440" alt="Screenshot 2020-08-06 at 2 56 03 PM" src="https://user-images.githubusercontent.com/58783823/89515612-fd4e9880-d7f4-11ea-9ec5-262ef99c4abf.png">

<img width="1440" alt="Screenshot 2020-08-06 at 2 56 07 PM" src="https://user-images.

[2020-08-06 10:36] narekcat commented on #4681
@sushilshinde @SathyaJayabal I have fixed this issue, see pull request https://github.com/topcoder-platform/community-app/pull/4719. But there is a challenge for which back end does not return property `numOfCheckpointSubmissions`, for example 'Telco - Enterprise Customer Portal Web App Design Concepts Challenge'.

[2020-08-06 10:38] SathyaJayabal opened #4720 "Blank page is displayed on listings page on mouse over on the challenge badge"
1. Go to challenge listings
https://beta-community-app.topcoder.com/challenges?
2. Mouse over on challenge badge

@rootelement thanks for helping in pinning down the cause.

cc @sushilshinde
<img width="1440" alt="Screenshot 2020-08-06 at 9 02 04 PM" src="https://user-images.githubusercontent.com/58783823/89551106-2c323200-d828-11ea-8ad9-ff74d86dd287.png">

<img width="1440" alt="Screenshot 2020-0

[2020-08-06 11:14] SathyaJayabal commented on #4718
@sushilshinde , I am not able to replicate this issue now.

[2020-08-06 11:44] sushilshinde commented on #4718
That's a good news then close ☺️

[2020-08-06 13:17] SathyaJayabal commented on #4718
Sorry wrong ticket. cant replicate the other blank screen issue :)

[2020-08-06 13:18] SathyaJayabal commented on #4720
Not able to replicate this issue now @sushilshinde

[2020-08-06 15:30] SathyaJayabal commented on #4718
@sushilshinde , It was decided to hide the badge and the Type filter.

[2020-08-06 16:59] rootelement commented on #4709
@luizrrodrigues no. There should be a tag on marathon matches. otherwise, it's just a data science challenge and should be displayed like develop challenges.

Same with QA. They should look just like develop challenges.

[2020-08-06 17:12] narekcat commented on #4713
@sushilshinde @SathyaJayabal The problem is that for getting communities application sends this request:
https://community-app.topcoder.com/community-app-assets/api/tc-communities?groups%5B0%5D=20000010&groups%5B1%5D=20000640&groups%5B2%5D=20000647&groups%5B3%5D=20000867
and it returns communities with old group Ids, but even if it send request with new Guids (like this one https://community-app.t

[2020-08-06 17:15] luizrrodrigues commented on #4709
@rootelement

- If track = data science : show orange color
- If tag have marathon match : show challenge in marathon format
- If track = qa : show purple color
- If track = development : show green color and dev format
- If track = design : show blue color and design format

To QA in tag, I think no need to check because QA always show like dev format

cc @SathyaJayabal

[2020-08-06 18:46] luizrrodrigues commented on #4720
@SathyaJayabal @sushilshinde This was with my latest update, I'll push a hotfix shortly.

[2020-08-06 22:04] luizrrodrigues commented on #4720
@sushilshinde hot fix ☝️

[2020-08-06 22:34] rootelement commented on #4709
@luizrrodrigues yes that's correct

[2020-08-07 05:14] SathyaJayabal commented on #4720
@luizrrodrigues , Thank you

[2020-08-07 05:18] SathyaJayabal commented on #4681
@rootelement ,
https://beta-community-app.topcoder.com/challenges/84a43633-3002-45d0-9742-06311d2c35d9
This challenge has checkpoint submissions, but does not return the `numOfCheckpointSubmissions`

[2020-08-07 05:20] crazyk07 commented on #4718
Contest https://www.topcoder.com/challenges/30136289 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-07 05:22] crazyk07 commented on #4718
Contest https://www.topcoder.com/challenges/30136289 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-07 05:33] sushilshinde commented on #4681
@rootelement @ThomasKranitsas

[2020-08-07 06:13] sushilshinde commented on #4718
Spec : For review bucket

1. disable Type dropdown filter(don't remove)
2. Remove budgets for the  challenge result
3. Fix calendar alignment

![image](https://user-images.githubusercontent.com/683231/89615006-3f361800-d8a3-11ea-8c03-ed5ffe777dec.png)

[2020-08-07 06:26] SathyaJayabal commented on #4720
@luizrrodrigues, the tooltip should have type details, not subtrack details
https://api.topcoder-dev.com/v5/challenge-types

[2020-08-07 06:34] SathyaJayabal commented on #4681
This happens with many of the challenges. Examples
https://beta-community-app.topcoder.com/challenges/dca8b23e-a8c0-4bdb-a93e-6da8b481de94
https://beta-community-app.topcoder.com/challenges/06b33615-7693-4360-bf5e-4f532169e42c

[2020-08-07 06:59] kkartunov opened #4722 "Colored member handles in leaderboards"
Update leaderboards to support colored member handles as now **some** looker APIs return the required rating data.
In the case of rating data not present in API response then render handles as blue links.

Match design https://marvelapp.com/prototype/ed9e597/screen/70330089

[2020-08-07 08:31] SathyaJayabal opened #4723 "Next Phase and Contest deadlines are incorrect on challenge details"
Next Phase and Contest deadlines are incorrect on challenge details
examples
https://beta-community-app.topcoder.com/challenges/934bb8ac-1269-469b-a1b8-64b6443a6f9f
https://www.topcoder.com/challenges/30136288
<img width="1440" alt="Screenshot 2020-08-07 at 1 57 48 PM" src="https://user-images.githubusercontent.com/58783823/89626030-66e2ab80-d8b6-11ea-8ed4-1fdce20f208b.png">

[2020-08-07 08:35] SathyaJayabal commented on #4723
@sushilshinde , api response seems to be correct
<img width="1440" alt="Screenshot 2020-08-07 at 2 04 24 PM" src="https://user-images.githubusercontent.com/58783823/89626398-fb4d0e00-d8b6-11ea-8174-1eeb1275dd92.png">

[2020-08-07 08:39] m-yadav opened #4724 "[$70] Technology name starting with number gives error on challenge page"
**Describe the bug**
Challenge when mapped to a technology which starts with a number, for example, "3D Reconstruction" results in a blank page instead of challenge details on the portal. The below error is shown on the browser console.

![image](https://user-images.githubusercontent.com/45197181/89626467-20418100-d8b7-11ea-8de6-c24bb7aefcd2.png)

![image](https://user-images.githubusercontent.com

[2020-08-07 08:49] m-yadav commented on #4724
cc: @Oanh-and-only-Oanh

[2020-08-07 09:14] luizrrodrigues commented on #4720
@SathyaJayabal Yeah, I forgot to ask about this. I'll update.

[2020-08-07 12:36] cagdas001 commented on #4715
PR: #4725

It will first sort the upcoming challenges (i.e. you have still time to submit/register), by ascending order. Then sort the past challenges (i.e. submission/registration phase is in past) in the descending order.

For e.g., you'll see a sorting like  this
Challenge A (3 days to submit)
Challenge B (5 days to submit)
Challenge C (submission phase ended 3 days ago)
Challenge D (submission

[2020-08-07 17:18] coolcomputery opened #4726 "Slow loading for old marathon matches, missing standings"
Loading old marathon matches (those before MM110) from https://www.topcoder.com/challenges?filter[tracks][data_science]=true&filter[text]=marathon%20match&bucket=past is slow.
Standings of old marathon matches seem to be missing.

[2020-08-07 23:31] luizrrodrigues commented on #4720
@SathyaJayabal Tooltip type details will be fixed in https://github.com/topcoder-platform/community-app/issues/4709

[2020-08-09 06:17] SathyaJayabal opened #4727 "[$50]Payments section in challenge details for Topgear challenges is incorrect"
Payments section in challenge details for Topgear challenges is incorrect. This section must have text specific to topgear members.

<img width="1440" alt="Screenshot 2020-08-09 at 11 45 07 AM" src="https://user-images.githubusercontent.com/58783823/89726251-024e5a80-da36-11ea-9d20-d91483d29271.png">

[2020-08-10 05:58] sushilshinde commented on #4709
@luizrrodrigues please PR asap

[2020-08-10 06:04] SathyaJayabal commented on #4720
Closing this as the tooltip details will be fixed with #4709

[2020-08-10 06:04] #4720 closed

[2020-08-10 06:05] SathyaJayabal commented on #4709
Note: Fix includes
https://github.com/topcoder-platform/community-app/issues/4720#issuecomment-670350492

[2020-08-10 06:12] crazyk07 commented on #4723
Contest https://www.topcoder.com/challenges/30136485 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-10 06:13] crazyk07 commented on #4723
Contest https://www.topcoder.com/challenges/30136485 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-10 06:13] crazyk07 commented on #4727
Contest https://www.topcoder.com/challenges/30136486 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-10 06:14] crazyk07 commented on #4716
Contest https://www.topcoder.com/challenges/30136487 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-10 06:14] crazyk07 commented on #4716
Contest https://www.topcoder.com/challenges/30136487 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-10 06:15] crazyk07 commented on #4727
Contest https://www.topcoder.com/challenges/30136486 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-10 06:16] sushilshinde commented on #4713
@luizrrodrigues @callmekatootie please help

[2020-08-10 06:23] callmekatootie commented on #4713
Not sure if I can help here - I am not involved in the mentioned projects.

[2020-08-10 06:38] SathyaJayabal commented on #4715
My Challenges bucket: Time to Submit
Open for registration bucket: Time to Submit works as expected.

Open for registration bucket: Time to Register sort is **not** fixed
<img width="1440" alt="Screenshot 2020-08-10 at 12 06 20 PM" src="https://user-images.githubusercontent.com/58783823/89757156-165f8e00-db02-11ea-9b93-a753a1e80930.png">

[2020-08-10 06:46] luizrrodrigues commented on #4709
@sushilshinde PRs are ready ☝️

[2020-08-10 07:57] crazyk07 commented on #4714
Contest https://www.topcoder.com/challenges/30136517 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-10 07:58] sushilshinde commented on #4714
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-08-10 08:00] SathyaJayabal commented on #4709
@luizrrodrigues, Marathon Match details page display must be different.
1. Marathon matches submissions tab display has ranking, provisional scores and submission history
2. Additional My submissions tab(if user has registered)

Please compare with V4 for expected behaviour
https://www.topcoder.com/challenges/30129332
https://beta-community-app.topcoder.com/challenges/118cb7f0-25e9-40e5-83ee-bd6fb

[2020-08-10 08:02] luizrrodrigues commented on #4709
@SathyaJayabal @sushilshinde hotfix: https://github.com/topcoder-platform/community-app/pull/4729

[2020-08-10 08:17] crazyk07 commented on #4714
Contest https://www.topcoder.com/challenges/30136517 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-10 08:17] crazyk07 commented on #4714
Contest https://www.topcoder.com/challenges/30136517 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-10 08:17] gets0ul commented on #4714
Sorry @sumitdaga signed it first.

[2020-08-10 08:19] crazyk07 commented on #4714
Contest https://www.topcoder.com/challenges/30136517 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-10 08:20] sumitdaga commented on #4714
thanks @gets0ul

[2020-08-10 09:05] SathyaJayabal opened #4730 "[$50]Marathon Match Submissions Tab: submissions table issues"
1. Member's (MM) rating is not displayed
2. Member handle must be colour coded based on their rating
3. Sort by `Time` does not work.
4. Expected: By default, when final scores are not available, table must be sorted on provisional scores. Id final scores are available, then table is sorted on final scores
Actual: Table is sorted by final scores always(even when final scores are not yet available)

[2020-08-10 09:37] SathyaJayabal commented on #4510
@sushilshinde @lakshmiathreya @Oanh-and-only-Oanh
This includes missing links too.
For example:
https://beta-community-app.topcoder.com/challenges/8f0a48fc-e7f5-4ff6-acfa-bcf1b30f304d
https://www.topcoder.com/challenges/30135380
<img width="1440" alt="Screenshot 2020-08-10 at 3 06 33 PM" src="https://user-images.githubusercontent.com/58783823/89769699-394a6c00-db1b-11ea-9abb-8618da2f8f31.png">

[2020-08-10 10:31] SathyaJayabal opened #4731 "Marathon Match Registrants tab"
1. Member Rating should include only Marathon match rating of the user.

example
https://beta-community-app.topcoder.com/challenges/118cb7f0-25e9-40e5-83ee-bd6fb3514e1d?tab=registrants
https://www.topcoder.com/challenges/30129332?tab=registrants

[2020-08-10 11:26] rootelement commented on #4717
Done in dev and prod
![Screen Shot 2020-08-10 at 7 25 30 AM](https://user-images.githubusercontent.com/5400156/89778010-c28d7e80-dada-11ea-966c-f9a4f89c4795.png)

[2020-08-10 11:30] SathyaJayabal commented on #4717
verified on beta
<img width="1440" alt="Screenshot 2020-08-10 at 4 59 37 PM" src="https://user-images.githubusercontent.com/58783823/89778318-eb3d6480-db2a-11ea-8f2a-50fc745ba080.png">

[2020-08-10 11:30] #4717 closed

[2020-08-10 12:45] crazyk07 commented on #4730
Contest https://www.topcoder.com/challenges/30136594 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-10 12:45] crazyk07 commented on #4730
Contest https://www.topcoder.com/challenges/30136594 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-10 12:50] rootelement commented on #4681
@SathyaJayabal these are all fixed/migrated. Please test again. I've checked all linked above and they look fine. I cherry picked some design challenges and they all line up too.

[2020-08-10 13:24] SathyaJayabal commented on #4709
Verified

[2020-08-10 14:28] SathyaJayabal commented on #4681
@rootelement ,

1. In some cases(past challenges) the number of submissions (numOfSubmissions) returned includes the checkpoint submissions. So when the frontend adds numOfSubmissions + numOfCheckpointSubmissions, it gives the wrong number.

Example:
https://beta-community-app.topcoder.com/challenges/63ed01ee-c019-4c31-bcd5-9096a78929ef
https://www.topcoder.com/challenges/30132448
<img width="1440

[2020-08-10 14:48] SathyaJayabal commented on #4681
@narekcat cc @sushilshinde ,
From the front end side, please update challenge details page to use the same logic to calculate number of submissions
(Submission count = numOfSubmissions + numOfCheckpointSubmissions)

Note: we will track the submissions count issue on past challenges in a new ticket

[2020-08-10 14:49] narekcat commented on #4681
@SathyaJayabal Ok.

[2020-08-10 14:53] #4709 closed

[2020-08-10 14:54] crazyk07 commented on #4709
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136115<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-10 14:58] sushilshinde commented on #4681
@SathyaJayabal please give one example

[2020-08-10 15:02] sumitdaga commented on #4714
@SathyaJayabal
The `/resources/${memberId}/challenges` endpoint is called without any filter here https://github.com/topcoder-platform/topcoder-react-lib/blob/integration-v5-challenge-api/src/services/members.js#L349
which returns all challenges for a member and not just the active challenges
moreover i checked the resources api too ...it seems the filters (like `status=Active`) are not even imple

[2020-08-10 15:05] SathyaJayabal commented on #4681
example:
<img width="1440" alt="Screenshot 2020-08-10 at 8 34 27 PM" src="https://user-images.githubusercontent.com/58783823/89797786-fb643c80-db48-11ea-815f-2e1e5c417d86.png">

https://beta-community-app.topcoder.com/challenges/dca8b23e-a8c0-4bdb-a93e-6da8b481de94
<img width="1440" alt="Screenshot 2020-08-10 at 8 34 17 PM" src="https://user-images.githubusercontent.com/58783823/89797766-f43d2e80-

[2020-08-10 15:08] SathyaJayabal commented on #4714
@sumitdaga , Please use the challenge-api call that is used to populate the my challenges bucket in the challenge listings page.

cc @sushilshinde, please confirm if this approach is fine?

[2020-08-10 15:30] nursoltan-s commented on #4723
![Screenshot from 2020-08-10 23-28-10](https://user-images.githubusercontent.com/7783676/89800486-75a0bb00-db61-11ea-8cb3-0c80c420d33f.png)

[2020-08-10 15:30] nursoltan-s commented on #4723
@sushilshinde
requested PR here: https://github.com/topcoder-platform/community-app/pull/4732

[2020-08-10 15:32] sushilshinde commented on #4723
Thanks @nursoltan-s will review and merge

[2020-08-10 16:10] narekcat commented on #4681
@SathyaJayabal @sushilshinde I have fixed this issue, see pull request https://github.com/topcoder-platform/community-app/pull/4733.

[2020-08-10 18:04] sumitdaga commented on #4714
@SathyaJayabal
ok so with the above call, that is, `/resources/${memberId}/challenges`, we are just getting the role of the user in their active challenges and we already have from here https://github.com/topcoder-platform/community-app/blob/integration-v5-challenge-api/src/shared/components/Dashboard/CurrentActivity/Challenges/ChallengeCard/index.jsx#L76
which infact comes from the same api which

[2020-08-11 03:04] SathyaJayabal commented on #4723
issue not fixed
https://beta-community-app.topcoder.com/challenges/934bb8ac-1269-469b-a1b8-64b6443a6f9f
https://www.topcoder.com/challenges/30136288
<img width="1440" alt="Screenshot 2020-08-11 at 8 33 13 AM" src="https://user-images.githubusercontent.com/58783823/89852835-60517e00-dbad-11ea-9596-0a0aa6e4ff55.png">

[2020-08-11 03:24] SathyaJayabal commented on #4681
@narekcat , I dont see the fix for this example. Submissions tab should be displayed, now that Submission count is 22
https://beta-community-app.topcoder.com/challenges/68f0ebff-314d-4c3c-87ac-3787b6a53783
https://www.topcoder.com/challenges/30135512
<img width="1440" alt="Screenshot 2020-08-11 at 8 53 14 AM" src="https://user-images.githubusercontent.com/58783823/89853968-4a918800-dbb0-11ea-9640-

[2020-08-11 03:56] SathyaJayabal commented on #4718
The Open for review bucket now shows a blank page on loading (due to the changes to the badge tooltips) . Raising the priority. cc @sushilshinde @luizrrodrigues
<img width="1440" alt="Screenshot 2020-08-11 at 9 24 52 AM" src="https://user-images.githubusercontent.com/58783823/89855595-8cbcc880-dbb4-11ea-8991-2b2936e4c6d6.png">

[2020-08-11 04:22] SathyaJayabal commented on #4723
@sushilshinde @nursoltan-s , when there are no more phases after the review phase (appeals/appeals response etc) we do not display the review phase. Reducing the priority and removing the Must fix label, as the main issue(correct dates) is fixed.

[2020-08-11 04:36] SathyaJayabal opened #4734 "[$50] Clicking on Type tag in challenge details page must filter challenges by type in challenge listings page"
1. Go to Challenge details page
example:
https://www.topcoder.com/challenges/21ba3d19-3f7a-4abc-8d28-7c932887f0f6
2. Click on type tag
<img width="1440" alt="Screenshot 2020-08-11 at 10 01 41 AM" src="https://user-images.githubusercontent.com/58783823/89857571-18852380-dbba-11ea-8385-6a32c510db11.png">
Actual: :Challenge listings page is displayed with all challenges
<img width="1440" alt="Screens

[2020-08-11 04:55] luizrrodrigues commented on #4718
@SathyaJayabal thanks, checking...

[2020-08-11 05:04] sushilshinde commented on #4714
@sumitdaga

`https://api.topcoder.com/v5/challenges/?status=Active&memberId=40623428&perPage=99&page=1`

Returns all dashboard required challenges, we don't need resources calls here

[2020-08-11 05:24] nursoltan-s commented on #4723
https://github.com/topcoder-platform/community-app/pull/4735
Fixed above PR.

[2020-08-11 05:36] SathyaJayabal commented on #4714
@sumitdaga , you can refer here on what is expected for the display of roles
https://github.com/topcoder-platform/community-app/issues/4557#issuecomment-669739774

[2020-08-11 05:46] sumitdaga commented on #4714
@SathyaJayabal @sushilshinde
yes `userDetails` object in it has the roles of the user in a given challenge
so on the dashboard we need to show all roles (comma separated) at the bottom ?

[2020-08-11 05:57] SathyaJayabal commented on #4723
@nursoltan-s , we should not remove the review phase when we have other phases after that For example:
https://beta-community-app.topcoder.com/challenges/64e290dd-8a33-4132-a30b-7c260d7793ba
https://www.topcoder.com/challenges/30135712?tab=details

<img width="1440" alt="Screenshot 2020-08-11 at 11 23 20 AM" src="https://user-images.githubusercontent.com/58783823/89862413-897e0880-dbc5-11ea-896e-0

[2020-08-11 06:05] sumitdaga commented on #4714
@SathyaJayabal @sushilshinde
oh it seems https://api.topcoder.com/v5/challenges/?status=Active&memberId=40623428&perPage=99&page=1 does not have the `userDetails` object which has the roles object, although i can see it is referenced in existing code ...not sure!
https://github.com/topcoder-platform/community-app/blob/integration-v5-challenge-api/src/shared/components/Dashboard/CurrentActivity/Cha

[2020-08-11 06:26] PrakashDurlabhji commented on #4674
@rootelement @sushilshinde above? I do not wish to lose efforts

[2020-08-11 07:05] cagdas001 commented on #4714
@sumitdaga V5 API doesn't return userDetails. We had a discussion at https://github.com/topcoder-platform/community-app/issues/4672#issuecomment-664648381, You can take a look if it helps

[2020-08-11 07:18] sumitdaga commented on #4714
thanks @cagdas001, that does certainly help ...
@sushilshinde  should i add the `userDetails` object with `roles` array (but instead of roleIds i will add text roles like `Submitter, Co-pilot`, etc) in https://api.topcoder.com/v5/challenges/?status=Active&memberId=40623428&perPage=99&page=1 api

[2020-08-11 07:44] narekcat commented on #4681
@SathyaJayabal @sushilshinde  I have fixed it, see pull request https://github.com/topcoder-platform/community-app/pull/4736

[2020-08-11 08:37] narekcat commented on #4727
@SathyaJayabal @sushilshinde Can you add my user to Topgear community? My user handle is Narekvar90.

[2020-08-11 09:43] cagdas001 commented on #4715
@SathyaJayabal I made a small change to extract phase start/end dates from the `challenge.phases` array, instead of relying on the (`registrationStartDate`, `registrationEndDate`, `submissionStartDate`, `submissionEndDate`) fields returned from the API. However, note that, if you're checking the sorting by looking at the fields you shown at your screenshot, you may still think that the sorting is

[2020-08-11 09:45] cagdas001 commented on #4716
PR: #4737

[2020-08-11 09:48] crazyk07 commented on #4714
Contest https://www.topcoder.com/challenges/30136517 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-11 10:16] luizrrodrigues commented on #4718
@sushilshinde PR's are ready ☝️

[2020-08-11 11:46] SathyaJayabal commented on #4718
Verified
<img width="1440" alt="Screenshot 2020-08-11 at 5 15 35 PM" src="https://user-images.githubusercontent.com/58783823/89893617-4f792a80-dbf6-11ea-83b4-34101c949776.png">

[2020-08-11 11:55] SathyaJayabal commented on #4715
@cagdas001 , @sushilshinde should be able to answer the above questions.

[2020-08-11 11:58] #4718 closed

[2020-08-11 11:59] crazyk07 commented on #4718
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136289<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-11 12:05] SathyaJayabal opened #4739 "[$50]Tracks filter does not work for Open for Review bucket"
Tracks filter does not work for Open for Review bucket in challenge listings.
<img width="1440" alt="Screenshot 2020-08-11 at 5 34 05 PM" src="https://user-images.githubusercontent.com/58783823/89895204-070f3c00-dbf9-11ea-918c-bd18eb70706a.png">

cc @lakshmiathreya @sushilshinde

[2020-08-11 12:20] crazyk07 commented on #4739
Contest https://www.topcoder.com/challenges/30136683 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-11 12:22] crazyk07 commented on #4739
Contest https://www.topcoder.com/challenges/30136683 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-11 13:34] nursoltan-s commented on #4723
@sushilshinde @SathyaJayabal
For this case, there is a phase after "Review", which is "Approval". We should add "Review phase", right? But this doesn't match with old page.
Which one is correct?

![Screenshot from 2020-08-11 21-32-00](https://user-images.githubusercontent.com/7783676/89903586-6a5d9600-dc1a-11ea-97b3-bf99add7d701.png)

[2020-08-11 14:00] SathyaJayabal commented on #4723
@nursoltan-s , we can go with existing page.

[2020-08-11 14:01] nursoltan-s commented on #4723
@SathyaJayabal you mean "topcoder-dev.com" page?

[2020-08-11 14:04] SathyaJayabal commented on #4723
@nursoltan-s, yes. You can also refer to production/beta for examples of V4/V5 challenges, as production has better data.
https://beta-community-app.topcoder.com/challenges?
https://www.topcoder.com/challenges

So the logic must be the same as V4.

[2020-08-11 15:11] nursoltan-s commented on #4723
PR: https://github.com/topcoder-platform/community-app/pull/4740

[2020-08-11 20:19] luizrrodrigues commented on #4739
@sushilshinde PR's ready ☝️

[2020-08-12 02:18] rootelement commented on #4713
I don't know where that API call goes. That'd be a question for @cwdcwd @mtwomey or @ajefts ...

[2020-08-12 05:15] cagdas001 commented on #4714
PR: topcoder-platform/topcoder-react-lib#220

It will fetch only Active challenges

[2020-08-12 05:57] SathyaJayabal opened #4745 "[$40] Past Contests : Winners icon - default image is not displayed for logged in users"
https://www.topcoder.com/challenges?bucket=past
<img width="1440" alt="Screenshot 2020-08-12 at 11 10 16 AM" src="https://user-images.githubusercontent.com/58783823/89979053-77b36880-dc8c-11ea-9415-b36b11b79305.png">
cc @lakshmiathreya

[2020-08-12 06:12] lakshmiathreya commented on #4602
Code freeze Re-testing: verified with Submitter, Observer and Approver roles. Will test with the other roles once Support enables those for my handle.

[2020-08-12 06:45] lakshmiathreya commented on #4609
Code freeze Re-testing: Verified with member who has accepted NDA in v4 earlier (lakshmiathreya) and member who hadnt accepted earlier - accepted in v5 now (lakshmiaCopilot).

[2020-08-12 07:31] lakshmiathreya commented on #4602
@SathyaJayabal - pls added "CF Retested" label after you verify for Copilot, Manager and all Reviewer roles.

[2020-08-12 08:33] narekcat commented on #4727
@SathyaJayabal @sushilshinde I can't see Topgear community, neither on production nor on development.

[2020-08-12 12:54] SathyaJayabal commented on #4715
@sushilshinde @cagdas001 , sorting should be based on the dates shown on the Front end. These dates displayed on the FE must reflect the actual date and time when the registration and submission phases end and the user is no longer able to register/submit.

I also see issues with My Challenges: Time to submit sort
<img width="1440" alt="Screenshot 2020-08-12 at 6 24 06 PM" src="https://user-images

[2020-08-12 14:52] narekcat commented on #4713
@SathyaJayabal @sushilshinde This issue isn't actual. It works as expected now. I have tested on development environment with user: 'Tonyj'.

[2020-08-12 14:57] SathyaJayabal commented on #4713
@narekcat @sushilshinde , it doesnt work on prod backend
user:picachui
<img width="1440" alt="Screenshot 2020-08-12 at 8 26 42 PM" src="https://user-images.githubusercontent.com/58783823/90030857-2cc04200-dcda-11ea-8d70-ec07c8a417e0.png">
<img width="1440" alt="Screenshot 2020-08-12 at 8 26 47 PM" src="https://user-images.githubusercontent.com/58783823/90030872-32b62300-dcda-11ea-80a5-8c8a959ff138

[2020-08-12 15:03] narekcat commented on #4713
@SathyaJayabal Ok, but the problem is with back-end.

[2020-08-13 04:42] lakshmiathreya commented on #4428
CF Review: 1. Max submitters count different across V4 and V5 for Design Track 2. Social links missing in V5 for Tasks Type.

[2020-08-13 05:32] SathyaJayabal opened #4746 "[$50]Design contests: submissions limit value is incorrect"
Design contests: submissions limit value is incorrect

https://beta-community-app.topcoder.com/challenges/ae7f8a3f-d28b-4743-ac0f-21e15b9f4891
https://www.topcoder.com/challenges/30136817?tab=details

<img width="1440" alt="Screenshot 2020-08-13 at 11 01 45 AM" src="https://user-images.githubusercontent.com/58783823/90097892-a1d05d80-dd54-11ea-8e1a-1ad99d98ea52.png">
Note: the api response has thi

[2020-08-13 05:32] SathyaJayabal commented on #4746
cc @lakshmiathreya

[2020-08-13 06:26] SathyaJayabal commented on #4723
@nursoltan-s , The above issue is not fixed
https://www.topcoder.com/challenges/30135712?tab=details
https://staging-community-app.topcoder.com/challenges/64e290dd-8a33-4132-a30b-7c260d7793ba

<img width="1440" alt="Screenshot 2020-08-13 at 11 52 48 AM" src="https://user-images.githubusercontent.com/58783823/90101128-ba904180-dd5b-11ea-918c-914591694d81.png">

Also in the case of F2F challenges, t

[2020-08-13 06:41] SathyaJayabal commented on #4681
@narekcat , this issue still exists.
Note:test for any design challenge in checkpoint submission phase
example:
https://www.topcoder.com/challenges/30136817
https://staging-community-app.topcoder.com/challenges/ae7f8a3f-d28b-4743-ac0f-21e15b9f4891
<img width="1440" alt="Screenshot 2020-08-13 at 12 10 12 PM" src="https://user-images.githubusercontent.com/58783823/90102332-03e19080-dd5e-11ea-9808-9d

[2020-08-13 07:12] SathyaJayabal opened #4747 "[$50]Final Submission Guidelines must not be displayed for MM challenges"
Final Submission Guidelines must not  be displayed for MM challenges
Example
https://www.topcoder.com/challenges/30129332
https://beta-community-app.topcoder.com/challenges/118cb7f0-25e9-40e5-83ee-bd6fb3514e1d

https://www.topcoder.com/challenges/30135273
https://beta-community-app.topcoder.com/challenges/d20b22b7-6d29-45cf-b7cf-18dc856b0e6b

<img width="1440" alt="Screenshot 2020-08-13 at 12 37 3

[2020-08-13 07:16] narekcat commented on #4681
@SathyaJayabal I have tested on my local machine and it works as expected. I'll check it again and replay.

[2020-08-13 07:21] SathyaJayabal commented on #4681
@narekcat , maybe you tested for the previous example, which now has moved on to final submission phase. Please test now with the current example.
Note: We are using staging environment now for testing these  fixes
https://www.topcoder.com/challenges/30136817
https://staging-community-app.topcoder.com/challenges/ae7f8a3f-d28b-4743-ac0f-21e15b9f4891

[2020-08-13 07:30] narekcat commented on #4681
@SathyaJayabal Ok.

[2020-08-13 07:42] SathyaJayabal commented on #4723
here is another example where next  phase is incorrect
https://www.topcoder.com/challenges/30135512
https://staging-community-app.topcoder.com/challenges/68f0ebff-314d-4c3c-87ac-3787b6a53783
<img width="1440" alt="Screenshot 2020-08-13 at 1 10 52 PM" src="https://user-images.githubusercontent.com/58783823/90107513-8e2df280-dd66-11ea-8504-61f8faf62f46.png">

[2020-08-13 07:49] SathyaJayabal opened #4748 "[$50]Stock art Details is incorrect in challenge details of design challenges"
Stock art Details is incorrect in challenge details of design challenges
https://www.topcoder.com/challenges/30135512
https://beta-community-app.topcoder.com/challenges/68f0ebff-314d-4c3c-87ac-3787b6a53783

<img width="1440" alt="Screenshot 2020-08-13 at 1 15 26 PM" src="https://user-images.githubusercontent.com/58783823/90108090-67bc8700-dd67-11ea-80a7-c10af6ddc431.png">

Note: api response has t

[2020-08-13 08:35] narekcat commented on #4681
@SathyaJayabal I can't open challenges mentioned above. I have tested for other challenges and it works as expected. It says challenge does not exists:
![image](https://user-images.githubusercontent.com/11549629/90112719-6be5a600-dd61-11ea-97c7-5f099c158b91.png)

[2020-08-13 08:40] lakshmiathreya commented on #4410
@SathyaJayabal @Oanh-and-only-Oanh @sushilshinde For the first release - Reopening this - lets defer to 1.1: 1. Track and Type are not being shown in Open for Review currently. 2. Also, Track filter is not working for Open for Review. Should we open a new Issue for that?

[2020-08-13 08:43] SathyaJayabal commented on #4681
@narekcat , please  give your handle.

[2020-08-13 08:47] lakshmiathreya commented on #4410
#1 - Track and Type wont be displayed for Open for Review bucket. #2 is tracked via https://github.com/topcoder-platform/community-app/issues/4739. Hence closing this one.

[2020-08-13 08:47] #4410 closed

[2020-08-13 08:53] narekcat commented on #4681
@SathyaJayabal My handle is Narekvar90.

[2020-08-13 08:55] lakshmiathreya commented on #4505
@sushilshinde could you pls doublecheck and mark label "CF Retested" ...

[2020-08-13 08:58] SathyaJayabal opened #4749 "[$50]View Submissions button (design challenges) not displayed even though user has submitted"
View Submissions button (design challenges) not displayed even though user has submitted
example:
https://www.topcoder.com/challenges/30132666?tab=registrants
https://beta-community-app.topcoder.com/challenges/6901ad3c-f107-4947-b9f0-4c1548a0bf03?tab=registrants
<img width="1440" alt="Screenshot 2020-08-13 at 2 05 52 PM" src="https://user-images.githubusercontent.com/58783823/90115084-3c3e9a00-dd7

[2020-08-13 09:12] SathyaJayabal commented on #4749
This was perviously fixed and closed in #4590

[2020-08-13 09:18] SathyaJayabal commented on #4713
@sushilshinde , its not working on prod/beta/staging

<img width="1440" alt="Screenshot 2020-08-13 at 2 47 39 PM" src="https://user-images.githubusercontent.com/58783823/90117050-fd5e1380-dd73-11ea-8930-bccd835a9c57.png">

[2020-08-13 09:27] SathyaJayabal commented on #4681
@narekcat , can you test now. You should have  access to that challenge.

[2020-08-13 09:27] narekcat commented on #4681
@SathyaJayabal Ok, thanks.

[2020-08-13 09:37] SathyaJayabal commented on #4428
@lakshmiathreya , submission limit is tracked in #4746. Lets track the social icons in a new ticket.

[2020-08-13 09:37] #4428 closed

[2020-08-13 09:47] SathyaJayabal opened #4750 "[$50]Registrants table is empty for not logged in user"
Registrants table is empty for **not logged** in user

https://beta-community-app.topcoder.com/challenges/8e02635f-9905-4bcb-83c6-97ff93334ec2?tab=registrants
https://beta-community-app.topcoder.com/challenges/b6b2b97e-c67a-4a0a-92eb-7c502b4705b4?tab=registrants

<img width="1440" alt="Screenshot 2020-08-13 at 3 16 24 PM" src="https://user-images.githubusercontent.com/58783823/90120056-fb964f00-dd

[2020-08-13 09:47] SathyaJayabal commented on #4750
cc @lakshmiathreya

[2020-08-13 09:53] narekcat commented on #4681
@SathyaJayabal I have tested in my local machine and it works, see screen shot below. I have checked and find out that my latest changes does not merged into branch `integration-v5-challenge-api`. I'll create new pull request.

[2020-08-13 09:54] narekcat commented on #4681
Here is pull request https://github.com/topcoder-platform/community-app/pull/4751

[2020-08-13 09:55] SathyaJayabal opened #4752 "[$50]Challenge terms not displayed for not logged in user"
Challenge terms not displayed for not logged in user
example:
https://beta-community-app.topcoder.com/challenges/90dfc2ef-f79b-46be-9976-0520bc383fc6?tab=details
https://www.topcoder.com/challenges/30136673?tab=details
<img width="1440" alt="Screenshot 2020-08-13 at 3 23 31 PM" src="https://user-images.githubusercontent.com/58783823/90121055-20d78d00-dd79-11ea-85ae-a4ff66d18f61.png">

[2020-08-13 09:59] cagdas001 commented on #4715
@sushilshinde We're actually waiting for confirmation here, you can take a look at above comments

[2020-08-13 10:02] narekcat commented on #4681
Also you can see that back end returns zero in field 'numOfSubmissions' and two in field 'numOfCheckpointSubmissions'.
![image](https://user-images.githubusercontent.com/11549629/90121935-a7866d00-dd6d-11ea-95d0-8c8eea73a73f.png)

[2020-08-13 10:35] SathyaJayabal commented on #4681
@narekcat , Yes right, so we should have 0+2 = 2.
Any questions?

[2020-08-13 10:43] narekcat commented on #4681
@SathyaJayabal @sushilshinde This is my code https://github.com/narekcat/community-app/blob/issue-4681/src/shared/components/challenge-detail/Header/TabSelector/index.jsx#L37
And this is code in branch `integration-v5-challenge-api` https://github.com/topcoder-platform/community-app/blob/integration-v5-challenge-api/src/shared/components/challenge-detail/Header/TabSelector/index.jsx#L36
There aren

[2020-08-13 10:46] SathyaJayabal commented on #4681
I think @sushilshinde reverted the fix after I tested it.

[2020-08-13 10:49] narekcat commented on #4681
@SathyaJayabal @sushilshinde I have created new pull request, please merge it https://github.com/topcoder-platform/community-app/pull/4751.

[2020-08-13 20:19] luizrrodrigues commented on #4749
Working on this one.

[2020-08-14 00:48] luizrrodrigues commented on #4749
@sushilshinde @rootelement

PR's ready ☝️

[2020-08-14 08:07] SathyaJayabal opened #4754 "Terms V5 not syncing to terms V2"
V5 terms api response does show that the user has agreed to these terms while V2 terms api response shows user has not agreed. This causes user to be able to register to a challenge in V5, but after sometime this registration is removed by sync.

<img width="1440" alt="Screenshot 2020-08-14 at 1 49 17 PM" src="https://user-images.githubusercontent.com/58783823/90229593-ca7c5400-de35-11ea-9ee9-0cc9

[2020-08-14 08:07] SathyaJayabal commented on #4754
cc @lakshmiathreya

[2020-08-14 08:31] SathyaJayabal commented on #4754
V5 terms api response does show that the user has agreed to these terms while V2 terms api response shows user has not agreed.
<img width="1440" alt="Screenshot 2020-08-14 at 1 49 17 PM" src="https://user-images.githubusercontent.com/58783823/90229593-ca7c5400-de35-11ea-9ee9-0cc961b51c48.png">

<img width="1440" alt="Screenshot 2020-08-14 at 1 49 13 PM" src="https://user-images.githubusercontent.c

[2020-08-14 11:49] SathyaJayabal commented on #4754
Note: v2->V5 terms sync is also not working, though the impact is not severe. Users can agree to v2 terms and register in V4. These registrations get synced over to v5 without any issue.

The only impact is when a user registers for any other challenge in v5, they are required to agree to terms again.

[2020-08-14 11:55] SathyaJayabal commented on #4749
Verified on beta(code freeze branch)
<img width="1440" alt="Screenshot 2020-08-14 at 5 25 01 PM" src="https://user-images.githubusercontent.com/58783823/90246884-20abc000-de53-11ea-896d-ab5e90086242.png">

[2020-08-14 11:57] SathyaJayabal commented on #4750
verified on beta
<img width="1440" alt="Screenshot 2020-08-14 at 5 27 24 PM" src="https://user-images.githubusercontent.com/58783823/90247061-71231d80-de53-11ea-88c9-1f0a89a7d572.png">

[2020-08-14 11:59] SathyaJayabal commented on #4681
verified on beta(code freeze branch)
<img width="1440" alt="Screenshot 2020-08-14 at 5 25 01 PM" src="https://user-images.githubusercontent.com/58783823/90247132-9d3e9e80-de53-11ea-808a-92702ed7ea01.png">

[2020-08-14 13:03] SathyaJayabal opened #4755 "[$40] Design contests My Submission page: Add Submission button is missing"
Design contests My Submission page: Add Submission button is missing

Expected: "Add Submission" button must be displayed when the submission phase is still open.
example:
user:customeruser
https://beta-community-app.topcoder.com/challenges/ae7f8a3f-d28b-4743-ac0f-21e15b9f4891/my-submissions
https://www.topcoder.com/challenges/30136817/my-submissions
<img width="1440" alt="Screenshot 2020-08-14 at

[2020-08-14 13:25] SathyaJayabal opened #4756 "[$40] Marathon match "My Submissions" tab "Add Submission" button must be enabled"
Marathon match "My Submissions" tab "Add Submission" button must be enabled when the submission phase is open

example:
https://www.topcoder.com/challenges/b702e3e9-94f2-456d-b33a-f14db1577877?tab=my_submissions
https://beta-community-app.topcoder.com/challenges/30136851?tab=my_submissions
<img width="1440" alt="Screenshot 2020-08-14 at 6 50 37 PM" src="https://user-images.githubusercontent.com/58

[2020-08-14 13:58] rootelement commented on #4754
This is not an issue. When we go live, i'm going to run the v2 terms sync
again. It's not a running sync, it's manual. Once we cut over, v2 terms
will no longer be used.

On Fri, Aug 14, 2020 at 7:49 AM SathyaJayabal <notifications@github.com>
wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.to

[2020-08-14 14:02] SathyaJayabal commented on #4754
@rootelement , lets discuss in the call on the impact of v5->v2 terms not syncing up.
Registration is not going through to V4 due to this (including Online Review).

[2020-08-14 15:38] Oanh-and-only-Oanh commented on #4756
@SathyaJayabal, but members are still able to submit using the Main Submit button, correct?

[2020-08-14 15:38] Oanh-and-only-Oanh commented on #4755
@SathyaJayabal, can user still submit using the other main submit button on the challenge details page?

[2020-08-14 15:39] SathyaJayabal commented on #4755
yes, they can

[2020-08-14 15:40] SathyaJayabal commented on #4756
yes, they can. and also from Submission tab "Add Submission" button

[2020-08-14 16:28] lakshmiathreya commented on #4754
<img width="1346" alt="Screenshot 2020-08-14 at 9 47 19 PM" src="https://user-images.githubusercontent.com/51733042/90271107-e9e8a080-de78-11ea-8119-d5ed277ec703.png">
<img width="1438" alt="Screenshot 2020-08-14 at 9 48 44 PM" src="https://user-images.githubusercontent.com/51733042/90271116-eead5480-de78-11ea-96e8-a276b29a7f0c.png">
<img width="1346" alt="Screenshot 2020-08-14 at 9 58 16 PM" src=

[2020-08-15 05:05] SathyaJayabal commented on #4754
Verified on beta. @rootelement , thanks

[2020-08-15 05:05] #4754 closed

[2020-08-15 07:15] SathyaJayabal opened #4757 "[$50]Checkpoints tab is missing for design contests"
Checkpoints tab is missing for design contests
example:
https://beta-community-app.topcoder.com/challenges/06b33615-7693-4360-bf5e-4f532169e42c
https://www.topcoder.com/challenges/30135486
https://beta-community-app.topcoder.com/challenges/dca8b23e-a8c0-4bdb-a93e-6da8b481de94
https://www.topcoder.com/challenges/30135490
<img width="1440" alt="Screenshot 2020-08-15 at 12 44 25 PM" src="https://user

[2020-08-15 09:05] SathyaJayabal opened #4758 "[$40] View submissions of Completed design contest loads a blank page"
View submissions of Completed design contest loads a blank page
example:
user: CustomerUser

https://beta-community-app.topcoder.com/challenges/30136817/my-submissions
https://www.topcoder.com/challenges/ae7f8a3f-d28b-4743-ac0f-21e15b9f4891/my-submissions
<img width="1440" alt="Screenshot 2020-08-15 at 3 02 12 PM" src="https://user-images.githubusercontent.com/58783823/90309698-58c10a80-df08-11ea-

[2020-08-16 05:39] SathyaJayabal opened #4760 "[$60] Links to the Marathon matches from tooltip of Rating history graph in stats history page are incorrect"
Links to the Marathon matches from tooltip of Rating history graph in stats history page are incorrect
example:
https://www.topcoder.com/members/tourist/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH
https://beta-community-app.topcoder.com/members/tourist/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH

Expected Link: https://community.topcoder.com/tc?module=MatchDetails&rd=17998
Actual L

[2020-08-16 07:05] SathyaJayabal commented on #4757
verified on beta (code freeze branch)
<img width="1440" alt="Screenshot 2020-08-16 at 12 33 02 PM" src="https://user-images.githubusercontent.com/58783823/90328793-db0b0680-dfbc-11ea-961a-f9fccfd0ee27.png">

[2020-08-16 08:38] SathyaJayabal commented on #4714
This should also fix the issue of My Active cHallenges displaying all active challenges before displaying only My Challenges

[2020-08-16 08:53] SathyaJayabal commented on #4602
Retested for Manager,Copilot and Reviewer roles

[2020-08-17 04:03] m-yadav opened #4761 "Add group call using old group id on blockchain.topcoder.com"
**Describe the bug**
"Join Now" button on blockchain.topcoder.com uses old id for group addition call. This ideally should be using alphanumeric GUID for the call.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to blockchain.topcoder.com and click on join group
![image](https://user-images.githubusercontent.com/45197181/90356121-0d277180-e06c-11ea-9f6c-55a061a5d616.png)

2. Click on 'Joi

[2020-08-17 04:16] m-yadav opened #4762 "Blank page at blockchain.topcoder.com/learn"
**Describe the bug**
A blank page appears when the user clicks on blockhain.topcoder.com/learn.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'blockchain.topcoder.com'

2. Click on 'Learn'
3. You will see a blank page.

![image](https://user-images.githubusercontent.com/45197181/90356780-57115700-e06e-11ea-8d7f-e056d19d16d7.png)

**Expected behavior**
It should be displaying relevant

[2020-08-17 07:07] #4681 closed

[2020-08-17 07:08] crazyk07 commented on #4681
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136116<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 08:38] vishal1000 opened #4763 "Facing problem in registering actual start and end date in work experience and in Education section of topcoder profile"
**Describe the bug**
When adding End Date in Education I can't see or select later dates and also the same thing is happening with me when I am adding my Work Experience Start date and End Date in which I can't select the actual date as it is not visible.
When I decrease the screen resolution of my Laptop I can see all dates in date picker but all the other information which I have written above o

[2020-08-17 11:42] SathyaJayabal opened #4764 "Downloads section is missing in challenge details"
Downloads section is missing in challenge details

example:
https://beta-community-app.topcoder.com/challenges/118cb7f0-25e9-40e5-83ee-bd6fb3514e1d?tab=details
https://www.topcoder.com/challenges/30129332?tab=details
<img width="1440" alt="Screenshot 2020-08-17 at 5 11 18 PM" src="https://user-images.githubusercontent.com/58783823/90392549-b7bf8480-e0ac-11ea-9a84-4bfe1b0365a3.png">

[2020-08-17 11:57] SathyaJayabal opened #4765 "[$50] Recommended Articles section is missing in challenge details"
Recommended Articles section is missing in challenge details
example:
https://beta-community-app.topcoder.com/challenges/93bef7e6-a99e-479b-95bf-464b2dffc7b5
https://www.topcoder.com/challenges/30136864

<img width="1440" alt="Screenshot 2020-08-17 at 5 26 46 PM" src="https://user-images.githubusercontent.com/58783823/90393674-da529d00-e0ae-11ea-8326-810e8e2ce3f7.png">

[2020-08-17 15:25] sushilshinde commented on #4714
@cagdas001 https://test-community-app.topcoder-dev.com/my-dashboard

Still makes too many calls

[2020-08-17 15:27] crazyk07 commented on #4746
Contest https://www.topcoder.com/challenges/30137525 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 15:29] sushilshinde commented on #4746
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-08-17 15:31] crazyk07 commented on #4748
Contest https://www.topcoder.com/challenges/30137527 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 15:31] sushilshinde commented on #4748
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-08-17 15:34] crazyk07 commented on #4510
Contest https://www.topcoder.com/challenges/30137528 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 15:34] sushilshinde commented on #4510
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-08-17 15:35] crazyk07 commented on #4129
Contest https://www.topcoder.com/challenges/30137529 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 15:35] crazyk07 commented on #4129
Contest https://www.topcoder.com/challenges/30137529 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 15:36] crazyk07 commented on #4748
Contest https://www.topcoder.com/challenges/30137527 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 15:38] crazyk07 commented on #4746
Contest https://www.topcoder.com/challenges/30137525 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 15:44] sushilshinde commented on #4671
@SathyaJayabal can you share new challenge?

[2020-08-17 15:49] SathyaJayabal commented on #4671
https://beta-community-app.topcoder.com/challenges/3a13a5ce-9fa9-4a43-8812-a76de17c856f

[2020-08-17 15:51] crazyk07 commented on #4671
Contest https://www.topcoder.com/challenges/30137532 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 15:52] sushilshinde commented on #4671
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

You will need to part of the group to see this challenge please share

[2020-08-17 16:20] crazyk07 commented on #4757
Contest https://www.topcoder.com/challenges/30137534 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 16:20] crazyk07 commented on #4757
Contest https://www.topcoder.com/challenges/30137534 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 16:21] crazyk07 commented on #4750
Contest https://www.topcoder.com/challenges/30137535 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 16:21] crazyk07 commented on #4750
Contest https://www.topcoder.com/challenges/30137535 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 16:21] crazyk07 commented on #4749
Contest https://www.topcoder.com/challenges/30137536 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 16:21] crazyk07 commented on #4749
Contest https://www.topcoder.com/challenges/30137536 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 16:23] #4757 closed

[2020-08-17 16:23] #4750 closed

[2020-08-17 16:23] crazyk07 commented on #4757
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30137534<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 16:23] #4749 closed

[2020-08-17 16:23] crazyk07 commented on #4750
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30137535<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 16:23] crazyk07 commented on #4749
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30137536<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 16:31] sushilshinde commented on #4748
@PrakashDurlabhji deadline is 8 hours, I will re-open if no submission

[2020-08-17 16:31] sushilshinde commented on #4746
@rashmi73 deadline is 8 hours, I will re-open if no submission

[2020-08-17 16:45] PrakashDurlabhji commented on #4748
@sushilshinde in 3 hours I will complete this

[2020-08-17 16:57] crazyk07 commented on #4671
Contest https://www.topcoder.com/challenges/30137532 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 17:12] crazyk07 commented on #4667
Contest https://www.topcoder.com/challenges/30137541 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 17:12] crazyk07 commented on #4667
Contest https://www.topcoder.com/challenges/30137541 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 18:18] PrakashDurlabhji commented on #4748
@sushilshinde done in https://github.com/topcoder-platform/community-app/pull/4768

[2020-08-17 19:16] ajefts opened #4769 "SEO: friendly profile page titles"
**Describe the bug**
Currently, all of our profile pages have the title "Topcoder". This is hurting our SEO and making it difficult for google to correctly index our pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/members/Ansary'
2. View page source and notice the title.

**Expected behavior**
Each profile page should incorporate something that is index

[2020-08-17 19:16] ajefts commented on #4769
fyi @Oanh-and-only-Oanh .  Wanted to get this on our radar.  It's believed to be part of our search results issue.

[2020-08-17 19:41] rashmi73 commented on #4746
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/4770

[2020-08-17 19:56] mfikria commented on #4510
@sushilshinde @crazyk07 can i work on this?

[2020-08-17 19:57] fikzzzy commented on #4510
@sushilshinde @crazyk07 can i work on this?

[2020-08-17 20:02] crazyk07 commented on #4510
[500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 20:23] crazyk07 commented on #4510
[500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-17 20:29] Oanh-and-only-Oanh commented on #4510
@fikzzzy, go ahead and work on it and we'll figure out what's going on with the "Failed message".

[2020-08-18 01:46] luizrrodrigues commented on #4667
@SathyaJayabal @sushilshinde @rootelement

If we use `memberId`to show user handle we'll need make one call to each member, I think this not good.

@rootelement Is possible we receive memberHandle in this call?

[2020-08-18 02:06] cagdas001 commented on #4715
New PR also updates the challenge listing page, so you'll see the correct phase start/end dates.

[2020-08-18 02:07] cagdas001 commented on #4716
New PR also updates the challenge listing page, so you'll see the correct phase start/end dates.

[2020-08-18 03:48] cagdas001 commented on #4129
PR: #4772

[2020-08-18 04:21] cagdas001 commented on #4714
@sushilshinde I have re-checked this. I'm only seeing a limited number of requests to `/resources?challengeId=` endpoint.

We need to make one request per challenge to get role details and this would be the minimum number of requests as per the API design. It doesn't allow to query multiple challenges at once, or to query the all of the resources user has

We need role details for the following fi

[2020-08-18 04:28] SathyaJayabal commented on #4714
@cagdas001 ,  when we access the dashboard for the first time, we dont see the correct number of My Active Challenges. After refresh we see the correct number.
<img width="1440" alt="Screenshot 2020-08-18 at 9 56 09 AM" src="https://user-images.githubusercontent.com/58783823/90470489-4bd72d80-e139-11ea-9ce9-8fa2944683f3.png">
<img width="1440" alt="Screenshot 2020-08-18 at 9 56 32 AM" src="https:/

[2020-08-18 04:30] SathyaJayabal commented on #4714
@sushilshinde @cagdas001 , in production, a member will not have more than a few active challenges. So there will not be that many resource api calls, even if we call it once per challenge.

@sushilshinde Do you think we can go ahead with the above implementation?

[2020-08-18 05:52] cagdas001 commented on #4527
There is a CORS issue with V3 API, which is blocking this one as I can't open the profile page (code track).

| request (causing the error) | UI | Console |
| ---- | ---- | ---- |
https://api.topcoder-dev.com/v3/members/stats/distribution?filter=track%3DDEVELOP%26subTrack%3DCODE | ![chrome_2020-08-18_08-41-11](https://user-images.githubusercontent.com/28513447/90475027-555b9800-e12f-11ea-8ce3-9010

[2020-08-18 06:29] luizrrodrigues commented on #4667
@sushilshinde PR is ready ☝️

[2020-08-18 11:21] sushilshinde commented on #4671
@SathyaJayabal challenge not found

[2020-08-18 11:24] sushilshinde commented on #4129
Thanks, some technicical problem with the staging environemnts PR so not merged.

[2020-08-18 11:24] sushilshinde commented on #4510
Thanks, some technicical problem with the staging environemnts PR so not merged.

[2020-08-18 11:24] sushilshinde commented on #4510
Thanks, some technicical problem with the staging environemnts PR so not merged.

[2020-08-18 11:24] sushilshinde commented on #4748
Thanks, some technicical problem with the staging environemnts PR so not merged.

[2020-08-18 11:25] sushilshinde commented on #4746
Thanks, some technicical problem with the staging environemnts PR so not merged.

[2020-08-18 11:25] sushilshinde commented on #4667
Thanks, some technicical problem with the staging environemnts PR so not merged.

[2020-08-18 11:25] sushilshinde commented on #4715
Thanks, some technicical problem with the staging environemnts PR so not merged.

[2020-08-18 11:27] SathyaJayabal commented on #4671
@sushilshinde please add yourself and the dev to the `A_V5_CodeFreeze_Group` and `V5_Groups_11`test groups.  All the test challenges in production are under these two groups.

[2020-08-18 11:58] SathyaJayabal commented on #4671
@rootelement , there is no points data returned by thee v5 api response.
The field in the v4 api response is
[code]
cc @sushilshinde

[2020-08-18 13:50] rootelement commented on #4671
I don't believe v5 knows anything about points. The thought being, going forward, points would just be a prize type, whereas the default now is USD.

[2020-08-18 14:04] SathyaJayabal opened #4776 "Challenge timeline does not include checkpoint submission"
Challenge timeline does not include checkpoint submission
<img width="1440" alt="Screenshot 2020-08-18 at 7 31 57 PM" src="https://user-images.githubusercontent.com/58783823/90522667-9f716780-e189-11ea-9114-b5e66f4c12be.png">
<img width="1440" alt="Screenshot 2020-08-18 at 7 32 03 PM" src="https://user-images.githubusercontent.com/58783823/90522677-a4361b80-e189-11ea-9644-640f5367246c.png">

[2020-08-18 14:22] cagdas001 commented on #4776
@SathyaJayabal This should be fixed as part of #4771, as I've made some changes at the phase displaying logic of challenge-listing page.

![checkpoint-validation](https://user-images.githubusercontent.com/28513447/90524872-41d41f80-e177-11ea-988f-ac3c05ffc421.jpg)

[2020-08-18 14:47] Oanh-and-only-Oanh commented on #4671
@rootelement, so does that mean we can update the API to allow the logic of "points" as prize type now?

[2020-08-18 17:40] nursoltan-s commented on #4723
PR: https://github.com/topcoder-platform/community-app/pull/4777

[2020-08-19 01:54] rootelement commented on #4671
Yes, but I don't know the implications on the legacy side. The prizeSets
object is configurable.
[code]

On Tue, Aug 18, 2020 at 10:47 AM Oanh-and-only-Oanh <
notifications@github.com> wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.com/> / Topcoder
Blog: topcoder

[2020-08-19 03:22] luizrrodrigues commented on #4632
@sushilshinde PR ready ☝️

[2020-08-19 03:42] SathyaJayabal commented on #4671
@Oanh-and-only-Oanh , the challenge points is in addition to the prize money. I am not sure if these challenge points are used anymore and what implications they have.

<img width="1367" alt="Screenshot 2020-08-19 at 9 10 31 AM" src="https://user-images.githubusercontent.com/58783823/90589585-10516780-e1fc-11ea-9f8a-3ce628128ce8.png">

[2020-08-19 04:53] luizrrodrigues commented on #4667
@sushilshinde Need anything from my side here?

[2020-08-19 04:57] sushilshinde commented on #4667
No

[2020-08-19 06:39] sushilshinde opened #4780 "Thank you!!!"
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity

Challenge V5 API  integration is live on production, a big thank you for your contribution.

Let's team up soon, for next big challenge!

[2020-08-19 08:19] m-yadav opened #4781 "Unable to open Old marathon rounds via challenge page"
Challenge page for old marathon matches was visible via the URL "topcoder.com/challenges/<</roundId/>> . but it has started giving error now saying "Cannot read property 'id' of undefined"

Steps :

1.Pick any old round id . for eg : 17036 -- SpaceNet RoadDetector - RoadDetector Marathon Match
2.Hitting the URL topcoder.com/challenges/17036 shows below

![image](https://user-images.githubuserconte

[2020-08-19 09:07] lakshmiathreya commented on #4781
related to https://github.com/topcoder-platform/community-app/issues/4760  - will be fixed in an upcoming release ...

[2020-08-19 09:10] lakshmiathreya commented on #4781
cc @Oanh-and-only-Oanh @SathyaJayabal

[2020-08-19 10:18] tmalbonph opened #4782 "[$100]The "My Challenges" does not list the correct challenges the member is registered with"
**Describe the bug**
The "My Challenges" does not list the correct challenges the member is registered with

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/challenges
2. Select a challenge and register with that challenge.
3. Do step 2 twice or more.
4. Visit the page https://www.topcoder.com/challenges/?bucket=my

**Expected behavior**
The page should list all

[2020-08-19 10:48] rootelement commented on #4780
Awesome work everybody!

[2020-08-19 12:00] SathyaJayabal commented on #4782
@sushilshinde , api response returns all 5 challenges for the user
https://api.topcoder.com/v5/challenges?status=Active&memberId=22874592

Not able to reproduce the above scenario with the test users

[2020-08-19 12:01] tmalbonph commented on #4782
@SathyaJayabal you should use different user if you can't reproduce what was posted

[2020-08-19 14:37] SathyaJayabal opened #4783 "[$50]Challenges missing on header menu in Zurich"
Challenges missing on header menu in Zurich

[2020-08-19 14:39] SathyaJayabal opened #4784 "[$40] Add backward compatibility for terms links"
example:
https://www.topcoder.com/challenges/terms/detail/00000
must redirect to url with new UUID
https://www.topcoder.com/challenges/terms/detail/9ef9dec4-dddb-48c9-9cce-659db68bc5ac

[2020-08-19 14:52] lakshmiathreya commented on #4783
<img width="1479" alt="Screenshot 2020-08-19 at 8 10 45 PM" src="https://user-images.githubusercontent.com/51733042/90649467-63f19e80-e258-11ea-9225-9bf34ce9639b.png">
<img width="1469" alt="Screenshot 2020-08-19 at 8 21 11 PM" src="https://user-images.githubusercontent.com/51733042/90650494-95b73500-e259-11ea-95a5-3dded9810e27.png">

[2020-08-19 15:12] #4123 closed

[2020-08-19 16:51] crazyk07 commented on #4782
Contest https://www.topcoder.com/challenges/30137842 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-19 16:52] sushilshinde commented on #4782
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-08-19 16:55] crazyk07 commented on #4782
Contest https://www.topcoder.com/challenges/30137842 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-19 17:17] cagdas001 commented on #4782
I can't reproduce either.

@tmalbonph if you can constantly reproduce the issue, could you help us by taking a screencast & collecting some logs? (console & network tab of devtools)

You can export the logs of network tab by following this guide: https://developers.google.com/web/tools/chrome-devtools/network/reference#export

Reproduce the issue while devtools is logging, and then share us them

[2020-08-19 20:49] tmalbonph commented on #4782
@cagdas001
1.The error still exist.
2.The challenge that is not showing are those challenges that I was registered from Aug 11, 2020 12:27 EDT to Aug 17, 2020 16:31 EDT
3. (I am guessing for this item) If the database is migrated into a new one to fit the new API; It is possible the error could came from missing value for added new field.

[2020-08-19 23:59] luizrrodrigues commented on #4784
@sushilshinde @rootelement

To get Terms details with `legacyId`via `https://api.topcoder-dev.com/v5/terms?legacyId=` need use m2m token, @rootelement is possible make this endpoint public (if no auth just return UUID will works)

[2020-08-20 02:19] luizrrodrigues commented on #4783
@sushilshinde PR is ready ☝️

[2020-08-20 05:40] shivam-51 opened #4787 "[$30] Member's with special characters in their handle unable to register to any challenge"
**Describe the bug**
On clicking on Register i get an error message saying "ERROR: Failed to register for challenge"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/challenges/c2a1465d-78cb-42b8-8f88-3d1ae386d3c5?tab=details
2. Click on Register
4. See error

**Expected behavior**
Getting registered for the challenge without any error

**Screenshots**
![qq](htt

[2020-08-20 05:43] Oanh-and-only-Oanh commented on #4787
@lakshmiathreya fyi

[2020-08-20 08:13] kkartunov opened #4788 "TC gigs pages"
Develop www.topcoder.com/gigs according to design https://marvelapp.com/prototype/f0i4ece/screen/72132705.

Pages in scope are:
- https://marvelapp.com/prototype/f0i4ece/screen/72132705
- https://marvelapp.com/prototype/f0i4ece/screen/72094627

Notes:
- on listing page without location and sort dropdowns

QA:
- test URL - https://test-community-app.topcoder-dev.com/gigs

[2020-08-20 08:32] sgumilang opened #4789 "Challenge Submission Numbers"
I just found out since yesterday, the submission numbers in challenges have been changed into a complex set of numbers like " aed73fa6-7442-4c37-bcf4-48c207029d17" compared to previous method with only 6 digit of numbers.

The problem is that sequence is not very friendly to end users such as clients, copilots, even designers, and make us difficult to remember or to take quick notes.

Can you guys

[2020-08-20 09:14] sushilshinde commented on #4783
@lakshmiathreya @SathyaJayabal

Ready for QA, only way to test this on https://zurich.topcoder-dev.com/

[2020-08-20 09:39] sushilshinde commented on #4510
@fikzzzy I see this error

[code]

[2020-08-20 10:01] fikzzzy commented on #4510
@sushilshinde fixed in https://github.com/topcoder-platform/community-app/pull/4790

[2020-08-20 10:03] lakshmiathreya commented on #4783
<img width="1460" alt="Screenshot 2020-08-20 at 3 32 23 PM" src="https://user-images.githubusercontent.com/51733042/90756813-6e647480-e2fa-11ea-93ac-8d3d209c8c77.png">

[2020-08-20 10:19] lakshmiathreya commented on #4787
@shivam-51 I was able to register successfully with this challenge. Can you try again and let me know.

[2020-08-20 11:41] lakshmiathreya commented on #4510
<img width="1428" alt="Screenshot 2020-08-20 at 5 03 27 PM" src="https://user-images.githubusercontent.com/51733042/90765746-17659c00-e308-11ea-9c1b-83360e3ded6c.png">
<img width="1390" alt="Screenshot 2020-08-20 at 5 03 41 PM" src="https://user-images.githubusercontent.com/51733042/90765759-1c2a5000-e308-11ea-9a57-edbed60fbd05.png">
<img width="1408" alt="Screenshot 2020-08-20 at 5 09 27 PM" src=

[2020-08-20 12:06] ketzjs09 opened #4791 "Lists not rendering (not a style issue - the lists are not rendering at all)"
Requesting the relevant team to please look into this - Lists are not working in the challenge page. That is, even if I paste code containing ul or ol based lists and can see the proper rendering in the Direct preview and locally in the HTML file, when I check it in the challenge page, there is no sign of the list whatsoever - no indentation, no bullet points, no numbering - nothing.
Have also sta

[2020-08-20 12:26] sushilshinde opened #4792 "[$50]Show erros page for these requests"
When challenges IDs are not found for such requests

https://www.topcoder.com/challenges/12345,

Show pre-defined error page.

[2020-08-20 12:30] lakshmiathreya commented on #4783
<img width="1471" alt="Screenshot 2020-08-20 at 5 59 12 PM" src="https://user-images.githubusercontent.com/51733042/90770191-08361c80-e30f-11ea-9a86-6a14857476b5.png">

[2020-08-20 12:34] lakshmiathreya commented on #4632
<img width="1471" alt="Screenshot 2020-08-20 at 5 56 47 PM" src="https://user-images.githubusercontent.com/51733042/90770573-9d391580-e30f-11ea-890e-f3ebdee21aa2.png">
<img width="1265" alt="Screenshot 2020-08-20 at 5 51 54 PM" src="https://user-images.githubusercontent.com/51733042/90770601-a4f8ba00-e30f-11ea-8ead-a2b757c09f22.png">

[2020-08-20 12:36] lakshmiathreya commented on #4632
The Legacy Id based submission url in the Registration email is redirected to UUID one as expected.

[2020-08-20 13:30] sanju-singh opened #4793 "Verified symbol on skills is not showing up"
**Describe the bug**
Skills under my profile don't show any skills with verified symbol even I have won multiple competition.
As per my understanding, this issue seems to be occurring as I already added those skills manually and not added by system on winning competition, because of that skill parameter might be stating that added by user and verified symbol is not shown.

**To Reproduce**
Steps t

[2020-08-20 14:02] lakshmiathreya commented on #4748
Stock art details are correct on Staging:
<img width="1283" alt="Screenshot 2020-08-20 at 7 30 25 PM" src="https://user-images.githubusercontent.com/51733042/90779635-b0ea7900-e31b-11ea-90dd-d11fdd5704ea.png">
Incorrect details in Current Prod:
<img width="1378" alt="Screenshot 2020-08-20 at 7 30 07 PM" src="https://user-images.githubusercontent.com/51733042/90779699-c2cc1c00-e31b-11ea-96da-583d41

[2020-08-20 14:58] lakshmiathreya commented on #4787
[screencast 2020-08-20 08-54-08 (1).mp4.zip](https://github.com/topcoder-platform/community-app/files/5103784/screencast.2020-08-20.08-54-08.1.mp4.zip)

[2020-08-20 14:58] lakshmiathreya commented on #4787
cc @Oanh-and-only-Oanh

[2020-08-20 15:29] sushilshinde commented on #4787
@shivam-51 can you share network tab video with actuall API response payload message.

[2020-08-20 15:39] shivam-51 commented on #4787
@sushilshinde I was registered for the challenge from back-end. I tried to Unregister and the problem came again.

[SC.mp4.zip](https://github.com/topcoder-platform/community-app/files/5104032/SC.mp4.zip)

[2020-08-20 15:43] sushilshinde commented on #4787
@shivam-51 can you find me Topcoder Community Slack

My handle : Sushil

[2020-08-20 15:46] lakshmiathreya commented on #4746
Submissions limit value corrected.
<img width="1453" alt="Screenshot 2020-08-20 at 9 11 02 PM" src="https://user-images.githubusercontent.com/51733042/90794145-0e85c200-e32a-11ea-9b8d-49e821494104.png">

[2020-08-20 15:47] shivam-51 commented on #4787
Sure

[2020-08-20 16:08] mtwomey commented on #4787
@shivam-51 - if you are willing, could you please grab the specific request that's erroring in the Chrome debugger and the response? That would really help us:

![image](https://user-images.githubusercontent.com/7715262/90796767-5af2e280-e2d5-11ea-96d9-55bd516c1ea7.png)

![image](https://user-images.githubusercontent.com/7715262/90796829-6c3bef00-e2d5-11ea-95be-dd0fe590531b.png)

[2020-08-20 16:20] sushilshinde commented on #4715
@cagdas001 Can you fix tests?

[2020-08-20 16:21] sushilshinde commented on #4782
@tmalbonph  can you find me on Topcoder Community Slack

My handle : Sushil

[2020-08-20 16:38] lakshmiathreya commented on #4129
Current Phase Alphabetical Sorting is working as expected in Staging.
<img width="1463" alt="Screenshot 2020-08-20 at 10 05 09 PM" src="https://user-images.githubusercontent.com/51733042/90799859-74297c80-e331-11ea-8c5e-080f9e52aa73.png">
<img width="1465" alt="Screenshot 2020-08-20 at 10 05 32 PM" src="https://user-images.githubusercontent.com/51733042/90799901-85728900-e331-11ea-9b98-8ce34c0f02a

[2020-08-20 16:51] Oanh-and-only-Oanh commented on #4298
adding this issue to deployment roadmap. High priority.

[2020-08-20 16:52] Oanh-and-only-Oanh commented on #3278
closing ticket. duplicate of https://github.com/topcoder-platform/community-app/issues/4575

[2020-08-20 16:52] #3278 closed

[2020-08-20 22:40] VanitaW opened #4794 "Rating on default profile does not match the rating on the rating history graph"
**Describe the bug**

Rating on default profile does not match the rating on the rating history graph

**To Reproduce**

Steps to reproduce the behavior:
1.  Go to https://www.topcoder.com/challenges
2,  Scroll down to 'Open for registration".
3.  Click on any active coding challenge with registrants.
4.  Click on the 'Registrants' tab.
5.  Click on any username in the list with a rating
6.   Scro

[2020-08-20 23:00] VanitaW opened #4795 "Challenge submission tab showing each submission member uploads"
**Describe the bug**
Challenge submission tab showing each submission member uploads

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/challenges/01aabee6-a81b-4e62-8d0b-b9400be811c4
2. Click on the 'Submission' tab
3. Observe the total listed on the 'Submission' tab.
4. Observe that username 'SASUBRA' has multiple submissions
5. Count the number of submissions
6

[2020-08-20 23:03] cagdas001 commented on #4715
@sushilshinde done

[2020-08-20 23:11] VanitaW opened #4796 "Past challenges not showing in member profile"
**Describe the bug**
Past challenges not showing in member profile

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/challenges/765b4201-ae13-4b79-be7b-620d8019c754
2. Click on the 'Registrants' tab.
3. Click on username 'VanitaW' or any username in the list with a rating
4. Click on the 'Coding' tab.
5. Click on 'Challenges' tab
6. Observe the error message 'Sor

[2020-08-20 23:18] cagdas001 commented on #4796
This is handled with #4527 , there was a blocker issue which prevents me working on it. Looks like now it's resolved so PR should be available in some time. After the PR merged and deployed, this issue should be fixed

[2020-08-21 00:20] Oanh-and-only-Oanh commented on #4795
@lakshmiathreya @SathyaJayabal, I thought this issue was resolved already in v1.0?

[2020-08-21 04:03] sushilshinde commented on #4748
@PrakashDurlabhji you want to deligent with the coding practices, this is bad coding

https://github.com/topcoder-platform/community-app/blob/ad0425313a6970d33720464ea56d7c70a5162677/src/shared/components/challenge-detail/Specification/index.jsx#L62

When already there is suggestion to null checking

[code]

[2020-08-21 04:25] lakshmiathreya commented on #4667
Submission uploaded by Support shows member handle correctly:
<img width="1000" alt="Screenshot 2020-08-21 at 9 49 02 AM" src="https://user-images.githubusercontent.com/51733042/90852153-5e996e80-e394-11ea-95d0-e2dc0369701c.png">
<img width="1370" alt="Screenshot 2020-08-21 at 9 48 26 AM" src="https://user-images.githubusercontent.com/51733042/90852159-648f4f80-e394-11ea-9e3f-5bf38bf588ab.png">

[2020-08-21 05:15] shivam-51 commented on #4787
My TC handle is shivam{}
![Screenshot from 2020-08-21 10-44-02](https://user-images.githubusercontent.com/47945055/90854723-5bee4780-e39b-11ea-947e-928c57cf69a0.png)

[2020-08-21 05:24] Oanh-and-only-Oanh opened #4797 "Zurich Auth check fail"
Community groups are loading the new id which results in some cases where auth checks fail as they use old ids

**Describe the bug**
1) "Start a Project" buttons in the catalog page of the Zurich portal are missing. See screenshot below. Zurich members should be assigned Competitor role. Those with Requestor role should be able to see "Start a Project" button

![image](https://user-images.githubus

[2020-08-21 05:28] sushilshinde commented on #4787
@mtwomey @rootelement @Oanh-and-only-Oanh @ThomasKranitsas  I had a call with  @shivam-51 this morning.

The Registration request is passing the auth token properly but he sees the message of insufficient rights.

[2020-08-21 06:30] lakshmiathreya commented on #4716
@SathyaJayabal The sort order seems same. Only end dates have changed. Pls clarify.
<img width="1466" alt="Screenshot 2020-08-21 at 11 34 15 AM" src="https://user-images.githubusercontent.com/51733042/90859451-e63ba900-e3a5-11ea-95c6-75b9ae2f22c0.png">
<img width="1509" alt="Screenshot 2020-08-21 at 11 34 26 AM" src="https://user-images.githubusercontent.com/51733042/90859462-ecca2080-e3a5-11ea-89

[2020-08-21 06:36] cagdas001 commented on #4716
@lakshmiathreya the most recent sorting sorts challenges by start date, in descending order. You should check the start dates of challenges.

[2020-08-21 06:44] lakshmiathreya commented on #4715
@SathyaJayabal pls review. My Challenges Time to Submit sort listing is the same in Staging and Prod.
<img width="1439" alt="Screenshot 2020-08-21 at 12 12 01 PM" src="https://user-images.githubusercontent.com/51733042/90860560-da50e680-e3a7-11ea-8e20-29b62be165fe.png">
<img width="1460" alt="Screenshot 2020-08-21 at 12 12 13 PM" src="https://user-images.githubusercontent.com/51733042/90860574-dfa

[2020-08-21 08:02] tmalbonph commented on #4782
@sushilshinde okay - will DM you now

[2020-08-21 08:27] sumitdaga commented on #4782
@sushilshinde @SathyaJayabal @cagdas001
i can see a similar issue, at the moment i am registered in 8 challenges but i can only see 2 in My Challenges section
i came here to log an issue and saw there is already one logged
and yes https://api.topcoder.com/v5/challenges?status=Active&memberId={myUserId} does return all the 8 challenges

thanks

[2020-08-21 08:40] cagdas001 commented on #4782
@sumitdaga

You fired this request (https://api.topcoder.com/v5/challenges?status=Active&memberId={myUserId})  manually or this is the request you're seeing in the network tab of DevTools?

What I understand is, you see this request in network tab and response contains all the 8 challenges, but in the My Challenges bucket, you only see 2 of them. Is my understanding correct?

If so, could you shar

[2020-08-21 23:23] tmalbonph opened #4800 "After challenge registration, a significant delay before email notification is received, before forum is accessible and before it is listed on Online Review page"
**Describe the bug**
After challenge registration, a significant delay (approximately 15 minutes in my case) before email notification is received, before forum is accessible and before it is listed on Online Review page.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Online Review page here https://software.topcoder.com/review/actions/ListProjects
2. On another tab, open your emai

[2020-08-23 21:07] cagdas001 commented on #4782
PRs:
#4801 and topcoder-platform/topcoder-react-lib#228

I drop out the resource-api call here, and use `GET /challenges?memberId=<memberId>&status=Active` instead. Resource API is returning thousands of challenge Ids, and the same operation is already being done by the challenge-api when we use `memberId` criteria.

https://github.com/topcoder-platform/challenge-api/blob/d66fbfa9ec2d4197bcd4f6c84

[2020-08-24 00:23] cagdas001 commented on #4791
Looks like some minor CSS issues causing this

![2020-08-24_03-17-05](https://user-images.githubusercontent.com/28513447/90992430-5caff500-e5b8-11ea-930b-eb186dec1579.gif)

Links are also in regular text format, you can't realize it's a link until hovering on it. So, a bit styling is also needed for anchor tags.

For embedded video, it doesn't exist in the description at all. So I think it's relat

[2020-08-24 05:13] SathyaJayabal commented on #4783
Verified on staging:
<img width="1440" alt="Screenshot 2020-08-24 at 10 42 45 AM" src="https://user-images.githubusercontent.com/58783823/91006279-956ebf00-e5f6-11ea-9368-a6995a1cc04e.png">

[2020-08-24 05:47] SathyaJayabal commented on #4776
verified on staging (i-v5-develop-24Aug)
<img width="1440" alt="Screenshot 2020-08-24 at 11 16 11 AM" src="https://user-images.githubusercontent.com/58783823/91008106-411a0e00-e5fb-11ea-8998-a1a59c798b37.png">

[2020-08-24 05:56] SathyaJayabal commented on #4129
@Oanh-and-only-Oanh @sushilshinde @lakshmiathreya , what is the requirement for sort by current phase?
1. Is it alphabetical sort by phase name
OR
2. Sort based on order in which phases are run. Example:
a. Registration
b. Checkpoint Submission
c. Submission
d. Checkpoint review
e. Review/ Iterative Review
f. Appeals
g. Appeals Response
h Approval
i. Post Mortem

[2020-08-24 06:30] SathyaJayabal commented on #4715
@cagdas001, for time to register sort (Open for registration bucket), the late challenges must be displayed first. But the late challenges are displayed in the end.
example:
<img width="1440" alt="Screenshot 2020-08-24 at 11 57 14 AM" src="https://user-images.githubusercontent.com/58783823/91011154-69a50680-e601-11ea-825c-4eeb9c139baf.png">

<img width="1440" alt="Screenshot 2020-08-24 at 11 57 08

[2020-08-24 06:40] lakshmiathreya commented on #4129
@SathyaJayabal the fix seems to be for Alphabetical order ...

[2020-08-24 07:22] SathyaJayabal commented on #4510
Only a few of the style issues are fixed. We still see many styles not rendered properly.

example:
Bold / Italics etc
(v4) https://beta-community-app.topcoder.com/challenges/30129332
(V5) https://staging-community-app.topcoder.com/challenges/118cb7f0-25e9-40e5-83ee-bd6fb3514e1d
<img width="1440" alt="Screenshot 2020-08-24 at 12 46 37 PM" src="https://user-images.githubusercontent.com/58783823/910

[2020-08-24 07:43] cagdas001 commented on #4129
@lakshmiathreya @SathyaJayabal Yes, the fix is Alphabetical order. The old implementation was using the Alphabetical  order, so I followed the same thing.

[2020-08-24 07:45] SathyaJayabal commented on #4129
@cagdas001 , if the old implementation was using alphabetical order, then we are good.

[2020-08-24 07:54] cagdas001 commented on #4715
@SathyaJayabal Yes, because there is no possibility to register on late challenges, phase is already closed. So I thought it'd be better for user if we first show the challenges that has still time for registration/submission.

The current sorting is as follows:
https://github.com/topcoder-platform/community-app/issues/4715#issuecomment-670495045

Do we need to show late challenges first?

[2020-08-24 08:01] cagdas001 commented on #4129
@SathyaJayabal Yes, it was sorting in alphabetical order, can be seen here: https://github.com/topcoder-platform/community-app/pull/4772/files#diff-6c236f955a26f5eacaad6b5b079bdd63L24

Though, IMHO, this sorting might not be good for UX, but, since the old implementation was using this I followed the same.

You can discuss your proposal (I think it's better for UX) with team and if it's allowed I

[2020-08-24 08:07] SathyaJayabal commented on #4129
@cagdas001 , you are right about the UX. If there is a change, we will do it as an enhancement in a separate ticket.

[2020-08-24 08:26] SathyaJayabal commented on #4715
@cagdas001, There are different scenarios:
1. My Challenges: Time to submit

The above order is good here(https://github.com/topcoder-platform/community-app/issues/4715#issuecomment-670495045). There will be challenges under "My Challenges" where the submission phase has ended and the challenge is in next phase(eg:review). These will be shown at the end.

2. Open for registration bucket - Time to

[2020-08-24 08:48] SathyaJayabal opened #4802 "Challenge Spec: Style issues"
A few of the styles are still not rendering correctly.
https://github.com/topcoder-platform/community-app/issues/4510#issuecomment-678955644

[2020-08-24 09:39] sushilshinde commented on #4575
@luizrrodrigues please update progress

[2020-08-24 09:41] crazyk07 commented on #4752
Contest https://www.topcoder.com/challenges/30138276 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 09:42] crazyk07 commented on #4752
Contest https://www.topcoder.com/challenges/30138276 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 09:42] crazyk07 commented on #4752
Contest https://www.topcoder.com/challenges/30138276 has been updated - cagdas001 has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 09:43] sushilshinde commented on #4747
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-08-24 09:43] crazyk07 commented on #4747
Contest https://www.topcoder.com/challenges/30138277 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 09:43] narekcat commented on #4752
@cagdas001 Thank you.

[2020-08-24 09:44] crazyk07 commented on #4792
Contest https://www.topcoder.com/challenges/30138278 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 09:44] sushilshinde commented on #4792
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

run `npm run test` before PR

[2020-08-24 09:45] crazyk07 commented on #4747
Contest https://www.topcoder.com/challenges/30138277 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 09:50] sushilshinde commented on #4298
API doesn't return response for legacy MMs

https://api.topcoder.com/v5/challenges?legacyId=4298

[2020-08-24 10:23] luizrrodrigues commented on #4575
@sushilshinde Already find the issue and testing the solution right now.

[2020-08-24 10:28] fikzzzy commented on #4510
@sushilshinde add missing styles in https://github.com/topcoder-platform/community-app/pull/4805

[2020-08-24 10:43] SathyaJayabal opened #4806 "[$50]Sub-communities filter does not include private communities"
https://www.topcoder.com/challenges?
User : picachui
User is part of topgear, zuruich and CS sub-communities, but they are not listed in the dropdown

<img width="1440" alt="Screenshot 2020-08-24 at 4 12 30 PM" src="https://user-images.githubusercontent.com/58783823/91036329-c4038e80-e624-11ea-807a-7798bccd8d5e.png">

[2020-08-24 10:48] SathyaJayabal commented on #4797
verified on staging (develop branch)
user:picachui belongs to `Zurich - Requestors`
<img width="1440" alt="Screenshot 2020-08-24 at 4 16 09 PM" src="https://user-images.githubusercontent.com/58783823/91036668-61f75900-e625-11ea-86a2-59de0b434c83.png">

[2020-08-24 10:50] SathyaJayabal commented on #4783
verified on staging (develop branch)
user: picachui member of `Zurich - Competitors`
<img width="1440" alt="Screenshot 2020-08-24 at 4 15 18 PM" src="https://user-images.githubusercontent.com/58783823/91036903-c4505980-e625-11ea-8f17-b951cfcf6e7c.png">

[2020-08-24 10:56] crazyk07 commented on #4792
Contest https://www.topcoder.com/challenges/30138278 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 11:13] SathyaJayabal commented on #4802
<img width="1440" alt="Screenshot 2020-08-24 at 4 39 48 PM" src="https://user-images.githubusercontent.com/58783823/91038502-7e48c500-e628-11ea-8293-3fe0d51c79ba.png">
<img width="1440" alt="Screenshot 2020-08-24 at 4 41 07 PM" src="https://user-images.githubusercontent.com/58783823/91038595-a89a8280-e628-11ea-9419-fde543f371f9.png">

[2020-08-24 11:46] SathyaJayabal commented on #4510
@fikzzzy , we will handle the rest of the style issues in #4802

[2020-08-24 12:27] rootelement commented on #4782
We have an open issue to add an isActive flag to resources to mirror the challenge state. That will allow us to filter resources, or challenges a resource is associated with, to the state of the challenge you're looking for. Usually you'll be looking for Active challenges, which should cut it down significantly.

https://github.com/topcoder-platform/challenge-api/issues/241

[2020-08-24 13:10] cagdas001 commented on #4747
Final Submission Guidelines comes as part of the challenge `description`,

[code]

You can check with https://api.topcoder.com/v5/challenges/118cb7f0-25e9-40e5-83ee-bd6fb3514e1d for e.g.

I can resolve this by parsing the description text and removing submission guidelines, but this is not the best practice here.
The best practice would be adding a separate field for `finalSubmissionGuidelines`, s

[2020-08-24 13:22] rootelement commented on #4747
No, we are no longer supporting final submission guidelines like that. It
has to be part of the spec now. Design and Development Challenges are no
different any longer. We'll need to implement spec templates if we want to
do that, but we're not adding superfluous properties to the challenges.

Migrating the challenges forward, they were appended to the end of the spec.

On Mon, Aug 24, 2020 at 9:1

[2020-08-24 13:23] rootelement commented on #4747
Oh strange. For some reason this was appended because the marathon match had an entry for final submission guidelines with nothing in it. This will have to be cleaned up in the specs for the challenges. I will open an issue for this on the challenge api. There's nothing to do on the frontend.

[2020-08-24 13:30] cagdas001 commented on #4747
Okay, so this part is no longer needed then,

https://github.com/topcoder-platform/community-app/blob/38fea9fc17af9bfd093a8b3906f4115ff97af8a0/src/shared/components/challenge-detail/Specification/index.jsx#L199-L224

as it will come as part of the description. We can clean up this

[2020-08-24 14:25] SathyaJayabal commented on #4797
verified on prod
<img width="1440" alt="Screenshot 2020-08-24 at 7 54 35 PM" src="https://user-images.githubusercontent.com/58783823/91056495-aabe0a80-e643-11ea-8356-4d9f844b4009.png">

[2020-08-24 14:25] #4797 closed

[2020-08-24 14:28] SathyaJayabal commented on #4783
verified on prod
<img width="1440" alt="Screenshot 2020-08-24 at 7 57 33 PM" src="https://user-images.githubusercontent.com/58783823/91056840-186a3680-e644-11ea-9152-298a1bb642ee.png">

[2020-08-24 14:30] crazyk07 commented on #4783
Contest https://www.topcoder.com/challenges/30138361 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 14:30] crazyk07 commented on #4783
Contest https://www.topcoder.com/challenges/30138361 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 14:33] SathyaJayabal commented on #4776
verified on prod
<img width="1440" alt="Screenshot 2020-08-24 at 8 01 58 PM" src="https://user-images.githubusercontent.com/58783823/91057339-b0682000-e644-11ea-9341-91b57674f93d.png">

[2020-08-24 14:33] #4776 closed

[2020-08-24 14:34] crazyk07 commented on #4783
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 14:40] #4783 closed

[2020-08-24 14:40] crazyk07 commented on #4783
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30138361<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 14:43] SathyaJayabal commented on #4746
verified on prod
<img width="1440" alt="Screenshot 2020-08-24 at 8 12 23 PM" src="https://user-images.githubusercontent.com/58783823/91058597-46507a80-e646-11ea-9014-cae1f98d6038.png">

[2020-08-24 14:50] #4746 closed

[2020-08-24 14:50] crazyk07 commented on #4746
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30137525<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 14:56] SathyaJayabal commented on #4748
verified on prod
<img width="1440" alt="Screenshot 2020-08-24 at 8 26 05 PM" src="https://user-images.githubusercontent.com/58783823/91060031-186c3580-e648-11ea-8791-b751457fec56.png">

[2020-08-24 14:59] #4748 closed

[2020-08-24 14:59] crazyk07 commented on #4748
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30137527<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 15:18] #4632 closed

[2020-08-24 15:19] crazyk07 commented on #4632
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30132709<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 15:19] lakshmiathreya commented on #4129
Alpha sort working fine in Prod.

[2020-08-24 15:19] #4129 closed

[2020-08-24 15:19] crazyk07 commented on #4129
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30137529<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 15:23] SathyaJayabal commented on #4510
verified on prod
<img width="1440" alt="Screenshot 2020-08-24 at 8 52 58 PM" src="https://user-images.githubusercontent.com/58783823/91063585-d34a0280-e64b-11ea-8697-b78a3304a9a0.png">

[2020-08-24 15:25] crazyk07 commented on #4510
Payment failed: [500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 15:29] SathyaJayabal commented on #4715
verified on prod
<img width="1440" alt="Screenshot 2020-08-24 at 8 58 37 PM" src="https://user-images.githubusercontent.com/58783823/91064346-c11c9400-e64c-11ea-8ec9-6123c993b9a4.png">
<img width="1440" alt="Screenshot 2020-08-24 at 8 58 49 PM" src="https://user-images.githubusercontent.com/58783823/91064349-c24dc100-e64c-11ea-8b73-8d3ca02bb9d7.png">

<img width="1440" alt="Screenshot 2020-08-24 a

[2020-08-24 15:29] #4715 closed

[2020-08-24 15:30] ketzjs09 opened #4809 "Challenge not appearing in the Data Science listings"
**Describe the bug**
The challenge http://www.topcoder.com/challenges/30137850 is not appearing in the Data Science listings:
https://www.topcoder.com/challenges?filter[tracks][Data%20Science]=true

Usually if a challenge has the 'Data Science' tag, it appears in the DS listings. Furthermore, in the challenge page, the logo being used is the usual 'Code' green logo, instead of the Orange DS Code l

[2020-08-24 15:30] crazyk07 commented on #4715
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136118<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-24 15:31] SathyaJayabal commented on #4715
verified on prod
<img width="1440" alt="Screenshot 2020-08-24 at 9 01 11 PM" src="https://user-images.githubusercontent.com/58783823/91064527-fb863100-e64c-11ea-9b11-261ef6529081.png">

[2020-08-24 15:34] cagdas001 commented on #4747
#4808 removes unnecessary `finalSubmissionGuidelines` (no longer in use) usages. The actual issue will be handled at topcoder-platform/challenge-api#279

[2020-08-24 15:38] SathyaJayabal commented on #4800
@rootelement @mtwomey, registrations from v4 (beta env) immediately reflect in OR, Forums and email confirmation (within 5 seconds)

Registrations from V5 took around 20 mins to reflect on OR, Forums and receive the confirmation email

[2020-08-24 15:47] Oanh-and-only-Oanh commented on #4809
@ketzjs09, this challenge was launched as CODE in Direct.

[2020-08-24 15:58] ketzjs09 commented on #4809
@Oanh-and-only-Oanh  - Okay, but previously challenges of all types used that had the 'Data Science' tag used to appear in the https://www.topcoder.com/challenges?filter[tracks][Data%20Science]=true listings.

Has that been changed? If yes, which challenge formats are allowed now and what's the reason for this change?

[2020-08-24 16:01] Oanh-and-only-Oanh commented on #4809
DS is its own track now so it must be launched as a DS challenge to show up in DS filter. However, if it is tagged with DS tag, it will show up in challenge keywords search. Basically, if challenge is DS, it should just be launched as one and not as a DEV challenge and tagged as DS.

[2020-08-24 16:17] ketzjs09 commented on #4809
"Basically, if challenge is DS, it should just be launched as one and not as a DEV challenge and tagged as DS." Well my 2+ years of copiloting experience says that it's not possible to do that.

A challenge can be a Dev challenge and still be a DS challenge. In fact, I have been a Data Science Code challenge copilot all along and my challenges used to list in the DS listings and had an orange DS b

[2020-08-24 16:18] ketzjs09 commented on #4809
Here are the options for selecting a challenge type: https://drive.google.com/file/d/1THo30rtW8HY-grS0fB7AOWzHRf-t06_7/view?usp=sharing

There's no way to launch a Code challenge of DS type in there. Ideally there should be. But till now, we used to launch DS code challenges, the way I described above.

[2020-08-24 16:21] Oanh-and-only-Oanh commented on #4809
@ketzjs09 you're correct this was the case but we as of last week we integrated with v5 challenge API which changed how challenges are shown.

If you launch a Data Science > Marathon Match, it will come over in the Data Science track, be a Challenge, with a tag of Marathon Match on it. Right now, there’s no way to launch a non-Marathon Match in the data science track until the new challenge manage

[2020-08-24 17:09] narekcat commented on #4752
@SathyaJayabal @sushilshinde The problem is with getting Submitter `roleId`. To get Submitter `roleId` we need to make request to this url https://api.topcoder-dev.com/v5/resource-roles?name=Submitter&isActive=true, but it returns error 401, because when user is not logged in there is no token. How can I get Submitter `roleId` ?

[2020-08-24 22:07] PrakashDurlabhji commented on #4792
@sushilshinde just some more time it will be completed

[2020-08-24 23:18] PrakashDurlabhji commented on #4792
@sushilshinde done in https://github.com/topcoder-platform/topcoder-react-lib/pull/229

it is a topcoder-react-lib solution.

[2020-08-25 02:48] lakshmiathreya commented on #4667
<img width="501" alt="Screenshot 2020-08-25 at 8 15 45 AM" src="https://user-images.githubusercontent.com/51733042/91117160-90b81280-e6ab-11ea-82c4-7f18109d93b4.png">

[2020-08-25 02:48] #4667 closed

[2020-08-25 02:49] crazyk07 commented on #4667
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30137541<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-25 03:40] crazyk07 commented on #4806
Contest https://www.topcoder.com/challenges/30138404 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-25 03:42] crazyk07 commented on #4806
Contest https://www.topcoder.com/challenges/30138404 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-25 03:43] crazyk07 commented on #4510
[500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-25 03:47] crazyk07 commented on #4510
Payment failed: [500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-25 04:09] sushilshinde commented on #4510
@fikzzzy please wait for payment some problem with the system

[2020-08-25 07:14] SathyaJayabal commented on #4782
@cagdas001 , which user did you use to reproduce this issue?

[2020-08-25 07:44] sushilshinde commented on #4723
<img width="1792" alt="prod-v5-zurich" src="https://user-images.githubusercontent.com/683231/91146647-ca514380-e6d4-11ea-9584-921dd6552d71.png">

[2020-08-25 07:45] sushilshinde commented on #4723
@nursoltan-s please check
https://staging-community-app.topcoder.com/challenges/7f7762e5-fe0c-4a9a-a361-58e60780df14

![image](https://user-images.githubusercontent.com/683231/91146791-fd93d280-e6d4-11ea-8d88-56e551224571.png)

[2020-08-25 07:46] sushilshinde commented on #4723
I'm reverting the PR

[2020-08-25 08:08] luizrrodrigues commented on #4739
@sushilshinde PR updated.

[2020-08-25 09:48] cagdas001 commented on #4782
@SathyaJayabal you can ask @tmalbonph and @sumitdaga (they're present on Slack) to validate the fix on staging env. https://staging-community-app.topcoder.com

 If you have an old account that has lots of challenges, you can probably reproduce with it too.

[2020-08-25 10:24] tmalbonph commented on #4782
@sushilshinde The "My Challenges" display correct challenges registered

as listed on **my bucket list**
![Screenshot from 2020-08-25 18-16-27](https://user-images.githubusercontent.com/3745678/91163444-28475080-e700-11ea-8c6c-5e8c93111d4b.png)

[2020-08-25 11:02] RiteshTC opened #4811 "Javascript Error: VisitorGroups.map is not a function"
**Describe the bug**
User is receiving an user while trying to login to Topgear.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to topgear.topcoder.com
2. Enter Email
3. Enter ADID Credentials.
4. See error

**Expected behavior**
Login should be successful.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Issue](https://user-images.githubusercontent.com/577

[2020-08-25 11:15] sumitdaga commented on #4782
@sushilshinde @SathyaJayabal  @cagdas001
its ok now, all my challenges are being displayed in "My Challenges" bucket
thanks

[2020-08-25 13:04] lakshmiathreya commented on #4782
Admin users unable to see My Challenges ...
<img width="1656" alt="Screenshot 2020-08-25 at 6 32 14 PM" src="https://user-images.githubusercontent.com/51733042/91177574-8b85b280-e701-11ea-992c-c8cfcdff0712.png">

[2020-08-25 14:42] lakshmiathreya commented on #4791
Related Issue - https://github.com/topcoder-platform/community-app/issues/4510

[2020-08-25 14:45] lakshmiathreya commented on #4811
hi @RiteshTC - specifically which platform/browser is this occurring on? We have tested topgear ADID login and it works fine. Request for you specific environment details. Also, is this occurring after the V5 Integration release?

[2020-08-25 14:50] SathyaJayabal commented on #4782
@cagdas001 , yes the admin users are able to see my challenges in Production, but not on staging after the fix.

[2020-08-26 02:22] nursoltan-s commented on #4723
@sushilshinde
I created new PR against "integration-v5-challenge-api" branch. Can you check that again? Thanks
https://github.com/topcoder-platform/community-app/pull/4812

[2020-08-26 03:54] sushilshinde commented on #4674
@PrakashDurlabhji

this is the new ID for above legacy id http://api.topcoder.com/v5/challenges/acfe6ab0-36da-4eb5-a5f0-4db7318f1ca3

which returns winners array, please check status before and winners array for displaying tab.

Please PR asap.

[2020-08-26 04:09] sushilshinde commented on #4782
@rootelement

[2020-08-26 04:15] sushilshinde commented on #4811
now working, @RiteshTC please check.

[2020-08-26 07:18] luizrrodrigues commented on #4806
@sushilshinde PR ready ☝️

[2020-08-26 08:30] luizrrodrigues commented on #4575
@sushilshinde PRs ready ☝️

[2020-08-26 14:12] crazyk07 commented on #4510
Payment failed: [500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-26 14:32] Oanh-and-only-Oanh opened #4814 "Update design of past challenges on member profiles"
Past Won challenges displayed on member's profile need to be updated to reflect the new way challenges are organized. With the removal of subtracks, it no longer makes sense to show won challenges as subtracks.

Old version:
![image](https://user-images.githubusercontent.com/47536078/91316765-12707480-e76e-11ea-8af3-ce1d5304a6c0.png)

Awaiting new design mockup in marvel but logic will be:
- Secti

[2020-08-26 14:51] SathyaJayabal commented on #4814
@Oanh-and-only-Oanh , duplicate of https://github.com/topcoder-platform/community-app/issues/4527

[2020-08-26 15:06] Oanh-and-only-Oanh commented on #4527
@cagdas001, how close are you from resolving this issue?
FYI @SathyaJayabal @lakshmiathreya, if @cagdas001 is close to fixing this ticket, let's have him close it out asap and we can then work on https://github.com/topcoder-platform/community-app/issues/4814 afterwards. If he is far from resolving then let's just go straight to working on https://github.com/topcoder-platform/community-app/issues/4

[2020-08-26 15:30] cagdas001 commented on #4527
@Oanh-and-only-Oanh If this is on priority, I can complete within today

[2020-08-26 15:50] Oanh-and-only-Oanh commented on #4527
thank you @cagdas001, that would be great.

[2020-08-26 16:29] lakshmiathreya commented on #4527
@Oanh-and-only-Oanh this is a P2 as well right?

[2020-08-26 16:33] Oanh-and-only-Oanh commented on #4527
yes @lakshmiathreya.

[2020-08-26 17:58] arnandosimanjuntak opened #4815 "Can't register on the challenge and always get an error message"
Hi guys,
I'm facing issue while registering on the challenge in the last few days.
I can't register and always get an error message like this:

![image](https://user-images.githubusercontent.com/30616976/91334301-f1a13100-e7f8-11ea-87f7-9908a50efb7b.png)

![image](https://user-images.githubusercontent.com/30616976/91334322-f9f96c00-e7f8-11ea-9180-e82ad1e05cb0.png)

I have tried to clear my browser

[2020-08-26 18:55] Oanh-and-only-Oanh commented on #4787
@sushil, can you give update on this issue. Another member is reporting the same https://github.com/topcoder-platform/community-app/issues/4815

[2020-08-26 18:56] Oanh-and-only-Oanh commented on #4815
hi @arnandosimanjuntak, thanks for opening this ticket. We are working on this ticket now. Feel free to follow the status here https://github.com/topcoder-platform/community-app/issues/4787

[2020-08-26 20:59] cagdas001 commented on #4527
The current label is P3. Then I think it should be updated as well (milestone too if it's incorrect)

[2020-08-26 21:16] PrakashDurlabhji commented on #4674
@sushilshinde winners tab is visible at https://beta-community-app.topcoder.com/challenges/30132044 now.

hence my analysis was correct.

It is ready

[2020-08-27 03:58] SathyaJayabal commented on #4815
tracking in #4787

[2020-08-27 03:58] #4815 closed

[2020-08-27 04:21] SathyaJayabal commented on #4788
@kkartunov

1. URL in main nav does not point not the updated "https://staging-community-app.topcoder.com/gigs". It still points to
"https://staging-community-app.topcoder.com/community/taas". This issue is only present on staging

<img width="1440" alt="Screenshot 2020-08-27 at 9 39 57 AM" src="https://user-images.githubusercontent.com/58783823/91383260-54bab400-e849-11ea-8dc6-79264acaf619.png">

[2020-08-27 05:30] SathyaJayabal commented on #4788
1. Is fixed
2-6 :  Content comes from RecruitCRM that will be updated upon launch.  It currently displays correctly when no data is entered there.
https://topcoder.slack.com/archives/C53KB3T7Z/p1598502587038700

[2020-08-27 05:57] sushilshinde opened #4817 "configure urls - remove dependency on LB config"
Configure contentful pages so that it doesn't require path config on LB

1. policy
2. gigs

![Rules | EC2 Management Console 2020-08-27 11-24-51](https://user-images.githubusercontent.com/683231/91394348-2f817200-e858-11ea-9386-ac173183bfcc.png)

[2020-08-27 06:16] SathyaJayabal opened #4819 "Submissions not reflecting in OR"
Some of the submissions made from v5, do not reflect in OR.

Example:
https://www.topcoder.com/challenges/01aabee6-a81b-4e62-8d0b-b9400be811c4?tab=submissions
This challenge has 14 submissions (only two of these submissions are from the same user).

![image (9)](https://user-images.githubusercontent.com/58783823/91398775-622c6a00-e85a-11ea-82b2-666a5a6d6393.png)
<img width="1440" alt="Screenshot 2

[2020-08-27 06:17] SathyaJayabal commented on #4819
cc @Oanh-and-only-Oanh

[2020-08-27 06:38] SathyaJayabal commented on #4819
here is a comparison with v4 of the same challenge
<img width="1440" alt="Screenshot 2020-08-27 at 12 07 43 PM" src="https://user-images.githubusercontent.com/58783823/91400822-f4823d00-e85d-11ea-85f4-4dfe7c613f83.png">

[2020-08-27 08:42] SathyaJayabal commented on #4800
@rootelement , I see the following behaviour
1. Register to a challenge in v5. Registration seen in V5
2. No change  yet in V4 (OR or Beta)
3. After one min unregister from the above challenge. User unregistered in V5
4. No Change yet in V4(OR or Beta)
5 After 10-30 mins, user is registered to the challenge (in V4 and V5). User gets conf mail, can see the challenge in OR)
The unregistration done i

[2020-08-27 09:23] SathyaJayabal commented on #4674
@sushilshinde , the above challenge is now complete and hence you can see the winner tab. The issue here is the winners tab is not visible when the challenge is in approval stage (status: active). As per @rootelement the winners tab is not returned unless the  challenge is complete.
https://github.com/topcoder-platform/community-app/issues/4674#issuecomment-664728208

Here is an example:
v5: https

[2020-08-27 09:30] SathyaJayabal commented on #4788
Verified on Production.
Looks good except for the above 2-6 issues, that will be fixed from RecruitCRM.

<img width="1440" alt="Screenshot 2020-08-27 at 2 59 16 PM" src="https://user-images.githubusercontent.com/58783823/91423270-f3f5a080-e875-11ea-8cc5-0fcfc7bc3e5d.png">
<img width="1440" alt="Screenshot 2020-08-27 at 2 59 25 PM" src="https://user-images.githubusercontent.com/58783823/91423284-f8

[2020-08-27 09:35] #4788 closed

[2020-08-27 09:42] luizrrodrigues commented on #4694
@SathyaJayabal Can you check beta env if working well, I was testing in Dev env and looks like was fixed with another issue.

![image](https://user-images.githubusercontent.com/7029641/91424606-693e8280-e830-11ea-836a-fd51c442bd04.png)

[2020-08-27 10:12] sushilshinde commented on #4782
@rootelement here is an example

## On dev with TonyJ, API returns results

[code]
<img width="2004" alt="Postman 2020-08-27 15-40-13" src="https://user-images.githubusercontent.com/683231/91427574-bc89f280-e87b-11ea-982f-a28ad83ba067.png">

##On prod with _sushilshinde it doesn't return results

[code]

<img width="2032" alt="Postman 2020-08-27 15-40-57" src="https://user-images.githubusercontent

[2020-08-27 10:26] SathyaJayabal commented on #4694
@luizrrodrigues @sushilshinde , this is looking good in prod.
<img width="1440" alt="Screenshot 2020-08-27 at 3 55 22 PM" src="https://user-images.githubusercontent.com/58783823/91431257-bd238880-e87d-11ea-9678-e81b0fbbc90b.png">

[2020-08-27 10:26] #4694 closed

[2020-08-27 10:26] crazyk07 commented on #4694
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-08-27 10:27] sushilshinde commented on #4694
Why are you testing on beta, test on staging

[2020-08-27 10:29] SathyaJayabal commented on #4694
Its working in production

[2020-08-27 10:43] SathyaJayabal commented on #4806
@sushilshinde @luizrrodrigues , I am not a member of the below two communities, but they are displayed in the dropdown
Mobile Community and IoT Community

<img width="1440" alt="Screenshot 2020-08-27 at 4 08 19 PM" src="https://user-images.githubusercontent.com/58783823/91432593-91a19d80-e87f-11ea-9767-41ca83013a53.png">

[2020-08-27 10:48] SathyaJayabal commented on #4806
@sushilshinde @luizrrodrigues , this was the original list for my user (picachui)
<img width="1440" alt="Screenshot 2020-08-16 at 9 47 39 AM (1)" src="https://user-images.githubusercontent.com/58783823/91433394-d7ab3100-e880-11ea-86dd-e76e10997318.png">

[2020-08-27 10:49] cagdas001 opened #4822 "Submission tab displays all submissions of members"
**Describe the bug**
Submission tab displays all submissions a member has made.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/challenges/cd3eb886-50fc-4def-a6b0-ba51fb08abf3
2. Click on **Submissions** tab

**Expected behavior**
Only the latest submission should be reflected in the Submission tab.

**Screenshots**

![image](https://user-images.githubuserconte

[2020-08-27 10:57] PrakashDurlabhji commented on #4674
@SathyaJayabal it says challenge does not exist. can you please confirm once again

[2020-08-27 11:11] luizrrodrigues commented on #4806
@SathyaJayabal Can you check what is the API return to your user:
![image](https://user-images.githubusercontent.com/7029641/91435562-e3750400-e83c-11ea-8644-73c814a7ee3a.png)

[2020-08-27 11:22] SathyaJayabal commented on #4674
@lakshmiathreya @sushilshinde please add `PkDurlabhji` to test group `V5_Groups_11`.

[2020-08-27 11:25] SathyaJayabal commented on #4806
Sent the details on slack @luizrrodrigues

[2020-08-27 11:30] SathyaJayabal commented on #4792
Verified on staging
<img width="1440" alt="Screenshot 2020-08-27 at 4 57 50 PM" src="https://user-images.githubusercontent.com/58783823/91436974-ba796100-e886-11ea-8b4e-19872739b13f.png">

[2020-08-27 11:36] sushilshinde commented on #4674
@SathyaJayabal @PrakashDurlabhji done

[2020-08-27 11:38] sushilshinde commented on #4752
@narekcat can you check on prod

[2020-08-27 11:39] sushilshinde commented on #4727
Can you check on prod now?

[2020-08-27 11:39] sushilshinde commented on #4727
use dan_developer on dev, user is in topger community

[2020-08-27 11:40] narekcat commented on #4752
@sushilshinde ok, I'll check.

[2020-08-27 11:41] narekcat commented on #4727
@sushilshinde ok.

[2020-08-27 11:45] sushilshinde commented on #4747
API issue @rootelement

[2020-08-27 11:48] SathyaJayabal commented on #4739
@luizrrodrigues , the appium challenges must be categorised as Development challenges.
here is the mapping document on how to map v4 challenges to v5 tracks.
https://docs.google.com/spreadsheets/d/1ltADd47U9aIP7M7YUyAhHUbLJgUHszvNo0sIYaiDr_A/edit?usp=sharing

Legacy challenges with subtracks "BUG_HUNT" ,"TEST_SUITES", "TEST_SCENARIOS" and "TESTING_COMPETITION" are mapped to the QA track.

<img wid

[2020-08-27 11:50] lakshmiathreya commented on #4782
Admin user in Prod:
<img width="1484" alt="Screenshot 2020-08-27 at 5 15 55 PM" src="https://user-images.githubusercontent.com/51733042/91438523-21981500-e889-11ea-8724-f98b2b71de39.png">
Same user in Beta (v4):
<img width="1460" alt="Screenshot 2020-08-27 at 5 19 54 PM" src="https://user-images.githubusercontent.com/51733042/91438786-8f444100-e889-11ea-97b8-dc653e492988.png">

[2020-08-27 11:50] sushilshinde commented on #4752
@rootelement @Oanh-and-only-Oanh please help here

[2020-08-27 11:54] sushilshinde commented on #4787
It is API issue assigned to James and Thomas

[2020-08-27 12:00] cagdas001 commented on #4782
That's because Beta still uses `GET /resources/<memberId>/challenges` endpoint to get user challenges. We have changed it to use `GET /challenges?memberId=<userId>&status=Active` instead

If this issue is urgent, we can switch back to the  `GET /resources/<memberId>/challenges` endpoint, with a larger `perPage` parameter (details https://github.com/topcoder-platform/community-app/issues/4782#issue

[2020-08-27 12:06] SathyaJayabal commented on #4716
verified on staging
<img width="1440" alt="Screenshot 2020-08-27 at 5 36 07 PM" src="https://user-images.githubusercontent.com/58783823/91440189-d4697280-e88b-11ea-8a3f-8c084cf80aa9.png">

[2020-08-27 12:08] sushilshinde commented on #4782
Plus it should not return "My Challenges" without token

http://api.topcoder.com/v5/challenges?status=Active&memberId=40623428

[2020-08-27 12:51] luizrrodrigues commented on #4739
@SathyaJayabal Checking...

[2020-08-27 12:59] SathyaJayabal commented on #4575
@luizrrodrigues , filter working for sub-communities, but not for events
<img width="1440" alt="Screenshot 2020-08-27 at 6 27 19 PM" src="https://user-images.githubusercontent.com/58783823/91445033-2eba0180-e893-11ea-96ed-5a4c9229bf81.png">
<img width="1440" alt="Screenshot 2020-08-27 at 6 28 43 PM" src="https://user-images.githubusercontent.com/58783823/91445043-34174c00-e893-11ea-9015-8dbd601d7c

[2020-08-27 12:59] SathyaJayabal commented on #4806
verified on staging
<img width="1440" alt="Screenshot 2020-08-27 at 6 24 39 PM" src="https://user-images.githubusercontent.com/58783823/91444702-c0753f00-e892-11ea-9723-f6943fc0298e.png">
<img width="1440" alt="Screenshot 2020-08-27 at 6 25 03 PM" src="https://user-images.githubusercontent.com/58783823/91444773-dbe04a00-e892-11ea-9123-a3d0020fa87b.png">

[2020-08-27 13:21] sushilshinde commented on #4782
here is the difference

https://api.topcoder.com/v4/challenges?status=Active&memberId=40594007

https://api.topcoder.com/v5/challenges?status=Active&memberId=40594007

[2020-08-27 13:48] luizrrodrigues commented on #4575
@SathyaJayabal The issue is with missing var in Staging (@sushilshinde will add this)

@sushilshinde I also included a hotfix to tco19 (I forget to update this one before)

[2020-08-27 13:53] cagdas001 commented on #4782
It should return only Submitter roles (that's how `resource-api` works). But, since the M2M token is being passed to the `GET /resources/<memberId>/challenges` endpoint, it currently returns all challenges.

See here: https://github.com/topcoder-platform/challenge-api/blob/081c4fea75365f45a80531bb4afaea530d8cab10/src/common/helper.js#L624

Ideally, it should pass the user's (calling the endpoint)

[2020-08-27 14:23] narekcat commented on #4727
@sushilshinde @SathyaJayabal I have fixed this issue, please see pull request https://github.com/topcoder-platform/community-app/pull/4824.

[2020-08-27 14:37] sushilshinde commented on #4727
Wait for 20 mins

[2020-08-27 16:16] cagdas001 commented on #4782
#4825 and topcoder-platform/topcoder-react-lib#232 revert the previous changes and increase the `perPage` value. This should work for now

[2020-08-27 16:36] Oanh-and-only-Oanh commented on #4683
@kiril, let's release this when you come back from vacation in 2 weeks. FYI @SathyaJayabal @lakshmiathreya

[2020-08-27 20:38] rootelement commented on #4800
Please re-test this. I've made a few tweaks to the legacy-challenge-resource-processor. I'm getting the email in < 5 seconds now. There was an issue with how we implemented retry for attempting to add a resource to a challenge that doesn't exist. I've shut that off for now, and changed the kafka group for the processor. I'll continue to monitor over the next day.

[2020-08-27 23:29] cagdas001 commented on #4527
One issue with Submission API, it's not possible to call `GET /submissions?memberId=<userId>` endpoint without providing a token. But, in fact, an anonymous user can also view profile pages & challenges history. So, in some way, accessing these submissions without token should be possible

[2020-08-27 23:45] rootelement commented on #4787
I believe this is related to the fix made for
https://github.com/topcoder-platform/community-app/issues/4800

Not positive. Please test again. I'm still testing.

[2020-08-27 23:56] rootelement commented on #4819
I believe this was due to the slow registration. The user was registered in v5 so was able to submit, but the legacy processor wouldn't add it in direct/OR. Please retest.

[2020-08-27 23:56] rootelement commented on #4819
@mtwomey tested in prod after fix was deployed and saw his submission in direct in real time.

[2020-08-28 03:36] SathyaJayabal commented on #4727
verified on staging
<img width="1440" alt="Screenshot 2020-08-28 at 9 03 08 AM" src="https://user-images.githubusercontent.com/58783823/91518332-aa589480-e90d-11ea-9b75-de7710fa9007.png">

[2020-08-28 03:40] SathyaJayabal commented on #4822
@cagdas001 This is expected.
https://www.topcoder.com/an-update-from-the-product-development-team-challenge-v5-api-release/.

[2020-08-28 03:40] #4822 closed

[2020-08-28 03:53] SathyaJayabal commented on #4800
@rootelement , registrations from v5 are reflecting in v4 immediately. But unregistrations from v5 are not working as expected.

1. Register in v5. Registrations immediately reflect in v4
2. Unregister from v5. not reflected in v4
3. After few mins (approx 5-10 mins), user is registered in v5 too. Unregistration done in step 2 is lost.

[2020-08-28 04:07] SathyaJayabal commented on #4819
This can be closed along with #4800

[2020-08-28 04:12] SathyaJayabal commented on #4787
@shivam-51 @arnandosimanjuntak , can you please check if you are able to register to challenges?

[2020-08-28 06:00] kkartunov opened #4826 "Gig work pages post prod fixes"
- Should be a message that says "No Results" if no results are found in the search
- Please allow user to press "enter" to search
- Clicking in search bar does not place cursor there if you click on placeholder text
- Skills icon on Listing Page is messed up

[2020-08-28 06:01] SathyaJayabal commented on #4763
we are tracking this here
#4294

[2020-08-28 06:01] #4763 closed

[2020-08-28 06:04] SathyaJayabal commented on #4705
works now
<img width="1440" alt="Screenshot 2020-08-28 at 11 34 05 AM" src="https://user-images.githubusercontent.com/58783823/91526954-66bc5580-e922-11ea-9fd6-6e405e41d474.png">

[2020-08-28 06:04] #4705 closed

[2020-08-28 06:19] SathyaJayabal commented on #4800
@rootelement , unregistrations are also working fine now.