[2019-07-31 06:53] kkartunov commented on #3069
Closing as not able to reproduce.

[2019-07-31 06:53] #3069 closed

[2019-07-31 06:53] crazyk07 commented on #3069
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 06:53] nithyaasworld commented on #2775
Its failing in the following places:

1. Show button in disabled state
2. Join button in the following scenario:
      a: Just enter "a" in the country field and go to any other field
      b: It shows a message asking the user to choose country from the list
      c: Now enter another "a" and choose a country from the list
      d: Check the Join button disabled state not being in WCAG Standards

[2019-07-31 07:02] PrakashDurlabhji commented on #2818
@crazyk07 I shall be paid for this as my PR was merged. @jmgasper assigned getsoul, whereas I also referenced this back long.

can this be assigned to me now

[2019-07-31 07:02] nithyaasworld commented on #2775
@PrakashDurlabhji Please check above. Thanks.

[2019-07-31 07:04] kkartunov commented on #3077
@tc-mfikria see https://circleci.com/gh/topcoder-platform/community-app/5668?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-07-31 07:09] nithyaasworld commented on #2775
@PrakashDurlabhji, Please wait.

CC: @nkumar-topcoder

[2019-07-31 07:13] PrakashDurlabhji commented on #2818
@crazyk07 this prize should be given to me, I even referenced this earlier. request you to take necessary action. waiting here

[2019-07-31 07:22] lakshmiathreya commented on #2767
Verified on Chrome - Show button has Designer's choice blue - #006AD7. Closing Issue.

[2019-07-31 07:22] #2767 closed

[2019-07-31 07:23] crazyk07 commented on #2767
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097511<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 07:28] nkumar-topcoder commented on #2775
@PrakashDurlabhji @mishacucicea can you pls look into above comment, fix  and test locally.
### Note: Very important: Ensure that you are talking latest files for this issue fix  from **DEV** only. Else, merging will be a headache.

[2019-07-31 07:35] drasticdpk commented on #2895
@r0hit-gupta ,
Here is the reference link :
https://monosnap.com/file/1G5ecdK5ZSrguvdS8vhtNLdtVt9brS
FYI, we are not having aria-label in password(and other control in registration too) but have at user name. Can we remove aria-label from username ? Please confirm.
![image](https://user-images.githubusercontent.com/25297859/62192349-2bed9400-b395-11e9-9e9a-2853c224b63b.png)
![image](https://user-i

[2019-07-31 07:52] lakshmiathreya commented on #2896
Working as expected in Win/Chrome/NVDA. Putting on hold since this is and Edge issue. Can be reviewed later.

[2019-07-31 08:03] crazyk07 commented on #2899
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 08:03] #2899 closed

[2019-07-31 08:04] crazyk07 commented on #2899
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096731<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 08:08] PrakashDurlabhji commented on #2818
@crazyk07  I know lots of ticket are to be processed but I dont wish to lose efforts.

[2019-07-31 08:11] sachin-maheshwari commented on #2806
tab sequence is not in correct order to test this issue.

[2019-07-31 08:13] #2860 closed

[2019-07-31 08:13] crazyk07 commented on #2860
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097681<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 08:16] PrakashDurlabhji commented on #2818
@jmgasper

[2019-07-31 08:17] veshu commented on #2903
@PrakashDurlabhji  Per reviewer the fix was not acceptable https://github.com/topcoder-platform/community-app/pull/2928#issuecomment-515567309 so we can not proceed the payment for this.

[2019-07-31 08:17] #2903 closed

[2019-07-31 08:17] crazyk07 commented on #2903
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 08:18] nkumar-topcoder commented on #2774
This has common fix from issue #2868. Will update once 2868 is deployed

[2019-07-31 08:19] #2849 closed

[2019-07-31 08:19] crazyk07 commented on #2849
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097165<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 08:22] #2829 closed

[2019-07-31 08:23] crazyk07 commented on #2829
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097552<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 08:35] #2782 closed

[2019-07-31 08:35] crazyk07 commented on #2782
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097306<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 08:36] lakshmiathreya commented on #3136
Underlining observed for links in Mac & Win 10 Chrome - at Community test url. Moving to Pass.

[2019-07-31 08:36] veshu commented on #2853
@sushilshinde FYI

[2019-07-31 08:40] veshu commented on #2869
@r0hit-gupta Please check with this challenge http://localhost:3000/challenges/30055275

I used following credentials to test the registration. pat_monahan

[2019-07-31 08:42] veshu commented on #2807
@romitgit please use local challenge id 30055275 with TonyJ user with password appirio123

[2019-07-31 08:42] PrakashDurlabhji commented on #2818
@veshu can you please help with above urgently, as I guess other members havent noticed it due to lots of ticket

[2019-07-31 08:42] lakshmiathreya commented on #3096
@Dara-K waiting for your review of the final fix ...

[2019-07-31 08:46] Dara-K commented on #3096
@lakshmiathreya  @r0hit-gupta The unit is good - should be pixels, and it's normal to look like that- weird.
We are talking to @Oanh-and-only-Oanh about this.

[2019-07-31 08:52] r0hit-gupta commented on #2806
@sachin-maheshwari please check now.

[2019-07-31 08:54] nkumar-topcoder commented on #2774
@mishacucicea #2868, #2775 and #2774 all  fix overlap with similar files, earlier merges failed. Can you please take care of this. The PR are 248, 278.

[2019-07-31 09:00] romitgit commented on #2807
ok thanks!

[2019-07-31 09:01] drasticdpk commented on #2813
@afrisalyp @Oanh-and-only-Oanh @mishacucicea  its very hard to me to read out the help content of user name and password. Can we make this pop up read out like  date range filed in challenge page ?
Here is the reference video :
https://monosnap.com/file/iWLaPA6p52IbcXYHvAEIMV7HmrwOag
Test platform : Windows/Chrome/JAWS

[2019-07-31 09:06] #2880 closed

[2019-07-31 09:07] crazyk07 commented on #2880
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096760<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 09:10] nkumar-topcoder commented on #2775
@PrakashDurlabhji @mishacucicea  #2868, #2775 and #2774 all fix overlap with similar files, earlier merges failed. Can you please look into The PR are 248, 278.

[2019-07-31 09:15] lakshmiathreya commented on #3085
Works as expected in Mac Chrome Voice Over/Win 10 Chrome NVDA. Does not work in Safari. Moving Issue to On Hold since Safari testing is defered for now.

[2019-07-31 09:19] sushilshinde commented on #2842
Fixing will be available in an hour on production

[2019-07-31 09:24] lakshmiathreya commented on #2893
Works as expected on Mac Chrome Voice Over & Win 10 Chrome NVDA ... Works on Mac Edge Voice Over. Win 10 Edge not covered. Edge coverage on Hold so moving to status to On Hold.

[2019-07-31 09:31] drasticdpk commented on #2864
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-31 09:34] drasticdpk commented on #2838
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-31 09:38] lakshmiathreya commented on #2859
Verified with Win 10 Chrome NVDA & Mac OS Chrome Voice Over - Test url.
-- 'Terms' and 'Privacy Policy' are links but not underlined.
-- 'PRIVACY POLICY' at the end of the page is not underlined.
-- 'LOG IN' is a link and is underlined.

[2019-07-31 09:43] drasticdpk commented on #2889
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-31 10:09] lakshmiathreya commented on #2746
Verified on Mac OS/Chrome/Voice Over & Win10/Chrome/NVDA ... tab navigation and reading working as expected.

[2019-07-31 10:13] lakshmiathreya commented on #2819
We will need to test this on Prod directly - @sushilshinde @nkumar-topcoder @glenn - perhaps a we should have a second code review and merge to Prod if second review is fine - since QA on Dev is not possible. fyi @nithyaasworld @drasticdpk @tosha5252

[2019-07-31 10:13] nkumar-topcoder commented on #2868
@mishacucicea #2868, #2775 and #2774 all fix overlap with similar files.

[2019-07-31 10:52] lakshmiathreya commented on #2996
Verified consistency in colors. However:
-- WAVE continues to show significant number of contrast issues. This is a generic Issue raised by me to review all colors and all contrasts across pages. Would like to review collectively at a later date.
-- The name 'topcoder' which is part of the logo - does not show up under contrast review - however, request a review for visibility since the contrast a

[2019-07-31 10:57] lakshmiathreya commented on #2830
We will need to test this on Prod directly - @sushilshinde @nkumar-topcoder @Glenn - perhaps a we should have a second code review and merge to Prod if second review is fine - since QA on Dev is not possible. fyi @nithyaasworld @drasticdpk @tosha5252
Same issue as in #2819 fyi @tosha5252 @drasticdpk @nithyaasworld

[2019-07-31 11:18] nkumar-topcoder commented on #2778
Issue is fixed as part of other code merge. Code  `color: #006dea !important;` fix is already available as in PR 221. Please verify @lakshmiathreya @drasticdpk

[2019-07-31 11:19] lakshmiathreya commented on #2892
Verified :
-- Edge - MacOS/Voice Over, Win10/NVDA
-- Chrome - MacOS/Voice Over, Win10/NVDA

Closing the Issue.

[2019-07-31 11:19] #2892 closed

[2019-07-31 11:19] crazyk07 commented on #2892
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096755<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 11:30] lakshmiathreya commented on #2759
Verified on MacOS Chrome VoiceOver and Win10 Chrome NVDA - reading out Data Science and Filters as expected. Closing issue.

[2019-07-31 11:30] #2759 closed

[2019-07-31 11:30] crazyk07 commented on #2759
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097522<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 11:41] lakshmiathreya commented on #2842
Verified color set to #6b6b6b.
Chrome on MacOS/Win 10.

[2019-07-31 11:41] crazyk07 commented on #2842
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 11:44] #2842 closed

[2019-07-31 11:44] drasticdpk commented on #2819
Verified on Windows/Chrome/JAWS.

[2019-07-31 11:44] #2819 closed

[2019-07-31 11:44] crazyk07 commented on #2842
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097136<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 11:45] crazyk07 commented on #2819
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097313<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 11:48] sachin-maheshwari commented on #3090
working fine as per wave tool in chrome.  On branch login-btn-fix with "topcoder-react-ui-kit": "^1.0.7"
<img width="1676" alt="Screenshot 2019-07-31 at 5 16 34 PM" src="https://user-images.githubusercontent.com/6467888/62209359-0a9d9f80-b3b7-11e9-98bc-10fe27a12d38.png">

[2019-07-31 11:54] drasticdpk commented on #2912
Verified on Windows/Chrome/NVDA.

[2019-07-31 12:05] drasticdpk commented on #2804
Verified on Windows/Chrome/JAWS

[2019-07-31 12:05] veshu commented on #2806
@drasticdpk Can you please verify this sooner.

@lakshmiathreya @sachin-maheshwari

[2019-07-31 12:14] r0hit-gupta commented on #2895
@drasticdpk will look again deeper into the issue.

[2019-07-31 12:20] drasticdpk commented on #2908
Verified on Chrome browser.

[2019-07-31 12:24] sushilshinde commented on #2807
@romitgit please submit asap we are closing in

[2019-07-31 12:30] sachin-maheshwari commented on #3120
Add label to Code Review Passed as  all three PRs PR #2992, PR #2977 and PR #3138 already merged in qa-accessibility branch

[2019-07-31 12:30] nkumar-topcoder commented on #2813
each reviewer have different outcome

[2019-07-31 12:36] drasticdpk commented on #3071
Verified on MAC/Chrome/Voice Browser.

[2019-07-31 13:15] lakshmiathreya commented on #2854
Verified hover on Facebook icon reading out 'Facebook'... Win10/Chrome/NVDA & MacOS/Chrome/VoiceOver ... Closing Issue ...

[2019-07-31 13:15] #2854 closed

[2019-07-31 13:15] crazyk07 commented on #2854
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097099<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 13:25] drasticdpk commented on #2891
Verify on Windows/Chrome.

[2019-07-31 13:31] drasticdpk commented on #3120
Verified with windows/Chrome/NVDA

[2019-07-31 13:40] lakshmiathreya commented on #2778
LOG IN color fixed as expected. Verified Chrome on MacOS and Win10.

[2019-07-31 13:40] #2778 closed

[2019-07-31 13:41] crazyk07 commented on #2778
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097312<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 13:42] crazyk07 commented on #2869
Contest https://www.topcoder.com/challenges/30096817 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 13:44] crazyk07 commented on #2882
Contest https://www.topcoder.com/challenges/30096757 has been updated - it has been assigned to veshu.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 13:48] #2599 closed

[2019-07-31 13:49] crazyk07 commented on #2599
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097476<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 13:59] lakshmiathreya commented on #2797
The Help icon near Review Score is now missing. Please see screenshot.
<img width="1539" alt="Screenshot 2019-07-31 at 6 53 47 PM" src="https://user-images.githubusercontent.com/51733042/62218135-7d177b00-b3c9-11e9-8596-6acd7a1670fa.png">

[2019-07-31 14:05] lakshmiathreya commented on #2881
Closing this one based on comparative progress made overall in resolving contrast issues - however its not complete - similar observations as in #2996 - several outstanding contrast issues should be reviewed as part of that Issue - currently 'On Hold'.
Based on the observation, closing this issue.

[2019-07-31 14:05] #2881 closed

[2019-07-31 14:05] crazyk07 commented on #2881
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096765<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 14:17] lakshmiathreya commented on #3071
Verified on Mac OS Chrome Voice Over/ Win 10 Chrome NVDA. Closing Issue.

[2019-07-31 14:17] #3071 closed

[2019-07-31 14:17] crazyk07 commented on #3071
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097752<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 14:24] lakshmiathreya commented on #3120
All 3 Issues referenced here have been verified on Chrome and closed. Hence closing this issue.

[2019-07-31 14:24] #3120 closed

[2019-07-31 14:24] crazyk07 commented on #3120
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097703<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 14:25] veshu commented on #2818
@PrakashDurlabhji Thanks for bringing this issue, i went through the activity on this issue and found that the gets0ul has already assigned and submitted PR before you have referenced it.
![image](https://user-images.githubusercontent.com/2202045/62219743-953dc900-b3ce-11e9-88c0-63b403be4e9b.png)

And the solution he has provided is also valid not merged just because it was already fixed.
Hope you

[2019-07-31 14:27] PrakashDurlabhji commented on #2818
@veshu let me show you a comment from another ticket which i did that time itself. just 5 mins

[2019-07-31 14:31] lakshmiathreya commented on #2804
Verified on Win10/Chrome/NVDA and MacOS/Chrome Voice Over. Filter button ready out as expected. Closing Issue.

[2019-07-31 14:31] #2804 closed

[2019-07-31 14:32] crazyk07 commented on #2804
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097668<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 14:33] PrakashDurlabhji commented on #2818
@veshu  kindly check comment of codeMinter as shown in image which gives link to issue #2754 .

1. Kindly go to #2754 which was solved by me.
2. and PR for #2754  was raised long back.
3. you can check my comment which is on issue 2754 and link for that is: https://github.com/topcoder-platform/community-app/issues/2754#issuecomment-513299964

4. Also the solution which codeminter mentioned about i

[2019-07-31 14:46] veshu commented on #2882
Things to fix for this issue
1. All gray text on timeline bar: #D5D5D5
2. Prizes section "Prizes": #6B6B6B, 1st, 2nd etc $6b6b6b
3. Track tag contrasts for all tracks(Color to be provided from @Dara-K )
4. Active blue links 006DEAd (Detail, Registrants, Submissions, Winners etc

Red section is added at run time so no need to fix.

[2019-07-31 14:46] crazyk07 commented on #2882
Contest https://www.topcoder.com/challenges/30096757 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 14:48] crazyk07 commented on #2882
Contest https://www.topcoder.com/challenges/30096757 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 14:49] crazyk07 commented on #2882
Contest https://www.topcoder.com/challenges/30096757 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 14:49] crazyk07 commented on #2882
Contest https://www.topcoder.com/challenges/30096757 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 14:49] crazyk07 commented on #2882
Contest https://www.topcoder.com/challenges/30096757 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 14:51] Gauravseta commented on #2882
I hope it is with me now

[2019-07-31 14:53] veshu commented on #2882
@Gauravseta Yes please go on. Thanks!

[2019-07-31 14:57] veshu commented on #2818
@PrakashDurlabhji Yes i went on those, please check carefully in the screenshot i have shared which is from this issue's activity, you have referenced this issue after one day, we got the PR from gets0ul.

[2019-07-31 15:05] PrakashDurlabhji commented on #2818
@veshu kindly check my this comment https://github.com/topcoder-platform/community-app/issues/2754#issuecomment-512944129 which was 13 days ago and 1st commit of that PR is 13 days ago.

I was late to comment by 1 day hence I even mentioned detailed scenario here https://github.com/topcoder-platform/community-app/issues/2754#issuecomment-513299964 that review my PR first as i always aware this iss

[2019-07-31 15:33] veshu commented on #2818
@PrakashDurlabhji Don't take offended, but as I mentioned above, even I showed you the activity timeline, where it is clear that you have referenced the issue later.

May be you are confused with multiple commits you have made on that PR. You have created 3 commits among which one is created 13 days ago. but after that you updated the PR after gets0ul committed the PR.

Check the detail screen sho

[2019-07-31 15:57] Oanh-and-only-Oanh commented on #2864
Per Tony's comment: "I think that landmark thing is probably true for the listing page too if it’s not already called out.  i.e. It isn’t obvious that the page is sectioned into filters, side nav, and listing"

[2019-07-31 16:02] lakshmiathreya commented on #2889
Prizes are ready correctly on mouse hover. However, Prizes are skipped when tabbing from Skill list to # of participants. Hence setting to Fail.

[2019-07-31 16:03] PrakashDurlabhji commented on #2818
@veshu I am not offended, no problem I completely understand just as his PR was not merged hence I wanted to discuss. Yes I am clear now.

[2019-07-31 16:05] #2908 closed

[2019-07-31 16:05] crazyk07 commented on #2908
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096719<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 16:06] gets0ul commented on #2889
@lakshmiathreya
That is out of scope of this issue requirement.
The expected result is to read out the prize in natural language on hovering.

[2019-07-31 16:23] drasticdpk commented on #2912
@nkumar-topcoder @Oanh-and-only-Oanh ,  we are still listening "clickable" and "blank", please confirm.
here is the reference :
https://monosnap.com/file/GGDqPS3YTUvaWHeLk1PXgEMZaSD4rW

[2019-07-31 16:29] romitgit commented on #2807
ok

[2019-07-31 16:29] crazyk07 commented on #2807
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 16:35] sushilshinde commented on #2872
@topcoder-platform/topcodercompetitors this is open for pickup.

PR on `qa-accessibility` branch

[2019-07-31 16:35] crazyk07 commented on #2818
@PrakashDurlabhji  Thanks for understanding.  Sorry, just catching up with this.  Thanks for your participation thus far!

[2019-07-31 16:36] #2818 closed

[2019-07-31 16:37] drasticdpk commented on #2864
@Oanh-and-only-Oanh yes we are having this landmark on listing page too.
![Landmark](https://user-images.githubusercontent.com/25297859/62230455-8d3b5480-b3e1-11e9-9ceb-7d909ec7dc25.png)

[2019-07-31 16:37] #2864 closed

[2019-07-31 16:38] crazyk07 commented on #2872
Contest https://www.topcoder.com/challenges/30097891 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 16:38] crazyk07 commented on #2864
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097365<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 16:40] #2838 closed

[2019-07-31 16:40] crazyk07 commented on #2838
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097355<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 16:43] drasticdpk commented on #2830
Verified on Windows/Chrome/JAWS

[2019-07-31 16:43] #2830 closed

[2019-07-31 16:43] crazyk07 commented on #2830
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097183<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 16:46] lakshmiathreya commented on #2889
@gets0ul - since 'Prizes being skipped' is addressed by #2828, closing this Issue.

[2019-07-31 16:46] #2889 closed

[2019-07-31 16:46] crazyk07 commented on #2889
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097071<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 16:46] nkumar-topcoder commented on #2912
@drasticdpk its same fix which was verified in qa. Can you refresh or use incognito please ?

[2019-07-31 16:50] lakshmiathreya commented on #2828
Verified Prizes read out and focused using tab. MacOS Chrome Voice Over and Win 10 Chrome NVDA.

[2019-07-31 16:56] lakshmiathreya commented on #2847
Prize amount being read correctly, on hover and tab accessible. Verified on MacOS/Chrome/Voice Over & Win10. This is related to #2828 and #2889.

[2019-07-31 17:07] drasticdpk commented on #2792
@codeMinter @Oanh-and-only-Oanh ,
Everything is fine  except C#. It should say **C Sharp**  not C number.
here is the reference link
https://monosnap.com/file/Mq83TfQKJcSKqOfQoXBFKFcqUydBDa

[2019-07-31 17:10] #2891 closed

[2019-07-31 17:10] crazyk07 commented on #2891
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097048<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 17:11] lakshmiathreya commented on #3136
Verified all links Mac OS Chrome / Win 10 Chrome on Prod.

[2019-07-31 17:11] #3136 closed

[2019-07-31 17:22] drasticdpk commented on #2760
Verified on Windows/Chrome/NVDA

[2019-07-31 17:22] #2760 closed

[2019-07-31 17:33] r0hit-gupta commented on #2797
@lakshmiathreya it has been like that before my PR. It was removed a long time back I guess.

[2019-07-31 17:49] drasticdpk commented on #2760
@mishacucicea , Please confirm here no one is Assignees.

[2019-07-31 17:50] r0hit-gupta commented on #2792
@drasticdpk @codeMinter every screen reader has a different way of reading the symbol `#`. But I guess no reader is going to read that as `sharp`. I can add an `if` condition to take care of this but things can get messy if more skills with symbols are added down the line. Please let me know how to proceed. Thanks!

[2019-07-31 18:13] drasticdpk commented on #2799
@veshu @anonymousjaggu , First level heading is fine at same time can you please make h2
instead of h4 in Files section.
![image](https://user-images.githubusercontent.com/25297859/62236397-bf06e800-b3ee-11e9-8fd2-d5f6c22c68d1.png)

[2019-07-31 18:18] drasticdpk commented on #2794
Verified on
Operating System: macOS
Browser: Chrome

[2019-07-31 18:32] drasticdpk commented on #2744
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-31 18:37] drasticdpk commented on #2871
Verified on
Operating System: Windows
Browser: Chrome

[2019-07-31 18:39] lakshmiathreya commented on #2806
Prize amount is read out twice - Chrome/NVDA.

[2019-07-31 18:40] r0hit-gupta commented on #2806
@lakshmiathreya looking into the issue.

[2019-07-31 18:46] veshu commented on #2799
@drasticdpk create another issue with list of other things to handle separately.

[2019-07-31 18:57] drasticdpk commented on #3084
Verified on MACOS/Safari/Voice Over.

[2019-07-31 19:20] r0hit-gupta commented on #2806
@lakshmiathreya PR https://github.com/topcoder-platform/community-app/pull/3177 this issue.

[2019-07-31 20:31] r0hit-gupta commented on #2895
@drasticdpk @nkumar-topcoder there is no `aria-label` on the username field for branch `qa-accessibility`. https://github.com/appirio-tech/accounts-app/blob/58e0f861f980ad14a1ab0e78ee22d14bad62b91a/app/views/tc/login.jade#L24

Can you please check the deployment? Thanks!

[2019-07-31 20:56] crazyk07 commented on #2753
Issue is duplicate and now solved in Prod

[2019-07-31 20:56] #2753 closed

[2019-07-31 20:56] crazyk07 commented on #2753
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 20:57] #2765 closed

[2019-07-31 20:57] crazyk07 commented on #2765
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 21:12] crazyk07 commented on #2912
@nkumar-topcoder  I'm getting the same thing as @drasticdpk  here, using incognito on chrome

[2019-07-31 22:49] crazyk07 opened #3178 "[Register][NVD][Edge] Social media icons are not identified correctly sometimes when hovering by the screen-reader"
**Steps to Reproduce**

Go to https://accounts.topcoder.com/member/registration
Hover over the social media icons, don't hover over the social media icon text
Expected Result
Should read out the name of the social media when hovering over the image

**Actual Result**
Social media icons are not identified correctly sometimes when hovering by the screen-reader

**Device**: Desktop/Labtop
**Operating

[2019-07-31 22:50] crazyk07 commented on #3178
Realated to: https://github.com/topcoder-platform/community-app/issues/2896

Solved on other browsers except for edge

[2019-07-31 22:53] Oanh-and-only-Oanh commented on #2817
it reads as "link to topcoder homepage" using Apple Voiceover on Chrome.

[2019-07-31 22:57] rashmi73 commented on #2859
@lakshmiathreya kindly find attach screenshot which is taken from my PR which is merged, also verified on qa-accessibility branch.
it is perfect.

![2859](https://user-images.githubusercontent.com/41687423/62253762-a01b4c80-b414-11e9-8741-492abee8cf0e.png)

can you please confirm once again? because everything is underlined.

[2019-07-31 22:58] crazyk07 commented on #2896
Just tested this is Prod with Edge and NVDA.  Works perfectly.  May have been solved by another issue.
 Ignore reference above.  Closing issue.

[2019-07-31 22:58] #2896 closed

[2019-07-31 22:59] crazyk07 commented on #3178
No Longer Valid

[2019-07-31 22:59] #3178 closed

[2019-07-31 22:59] crazyk07 commented on #2896
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096741<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 23:16] crazyk07 commented on #2792
@drasticdpk  Thanks for the specific attention to detail here, but I would say this solution will suffice for now.  Closing ticket.

[2019-07-31 23:16] #2792 closed

[2019-07-31 23:17] crazyk07 commented on #2792
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097291<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 23:24] rashmi73 commented on #2872
@veshu PR https://github.com/topcoder-platform/community-app/pull/3179

[2019-07-31 23:25] crazyk07 commented on #2817
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097336<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 23:28] afrisalyp commented on #2813
@drasticdpk @nkumar-topcoder
The test is against topcoder production, right?

But I don't see my PR has been merged.
https://github.com/appirio-tech/accounts-app/pull/256
It still open.

[2019-07-31 23:29] crazyk07 commented on #2882
Contest https://www.topcoder.com/challenges/30096757 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 23:31] crazyk07 opened #3180 "[Challenge Feed][NVD][Edge] Sort By list is not read-out properly by the screen-reader"
**Steps to Reproduce**

Go to https://www.topcoder.com/challenges (Don't Login)
Press the tab key and go to the Sort by drop-down (Important Step)
Press on Sort by drop down
Move up/down with the arrow key and listen
Expected Result
Should read-out the names on the list by the screen-readers

**Actual Result**
Sort By list is not read-out properly by the screen-reader

**Device**: Desktop/Labtop
*

[2019-07-31 23:32] nithyaasworld commented on #2912
Its not working for me too.

But it worked for me during the smoke test today. So its most likely deployment issue.

[2019-07-31 23:32] crazyk07 commented on #3180
Related to: https://github.com/topcoder-platform/community-app/issues/2894

Only need to Focus on EDGE browser.  All other browsers are functional

[2019-07-31 23:33] crazyk07 commented on #2894
Creating separate issue for Edge and closing this issue.

[2019-07-31 23:33] #2894 closed

[2019-07-31 23:34] crazyk07 commented on #2894
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096746<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 23:37] crazyk07 opened #3181 "[Edge] The NVDA still read item name when user try to mouse hover outside area of them"
**Steps to Reproduce**

Navigate to: https://accounts.topcoder.com/member
Try to mouse hover outside area of any item
Expected Result
The NVDA should not read item name when user try to mouse hover outside area of them

**Actual Result**
The NVDA still read item name when user try to mouse hover outside area of them

**Device**: Desktop/Labtop
**Operating System**: Windows
**Browser**: Edge

**WCA

[2019-07-31 23:38] crazyk07 commented on #3181
Related to: https://github.com/topcoder-platform/community-app/issues/2879

Focus only on Edge Browser.  Other browsers work as expected.

[2019-07-31 23:39] crazyk07 commented on #2879
Closing Issue.  Creating another issue to cover the Edge Browser instance.

[2019-07-31 23:39] #2879 closed

[2019-07-31 23:40] crazyk07 commented on #2879
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096769<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-07-31 23:50] nithyaasworld commented on #2797
@r0hit-gupta I checked for another challenge. Help icon initially appeared next to Review scorecard. The moment I pressed the WCAG extension, it got hidden.

Please find the video here:
[Bad help button.zip](https://github.com/topcoder-platform/community-app/files/3454285/Bad.help.button.zip)

Screenshot:
![image](https://user-images.githubusercontent.com/5114190/62255723-10799c00-b41c-11e9-8a5b-a

[2019-07-31 23:54] crazyk07 opened #3182 "[Edge] The NVDA still read item name when user try to mouse hover outside area of them"
**Steps to Reproduce**

Navigate to https://accounts.topcoder.com/member/registration
Try to mouse hover outside area of any text-box or button
Expected Result
The NVDA should not read item name when user try to mouse hover outside area of them

**Actual Result**
The NVDA still read item name when user try to mouse hover outside area of them

**Device**: Desktop/Labtop
**Operating System**: Window

[2019-07-31 23:55] crazyk07 commented on #3182
Related to: https://github.com/topcoder-platform/community-app/issues/2795

Only focus on Edge for this fix

[2019-07-31 23:55] crazyk07 commented on #2795
Closing issue and created another issue to address the Edge Browser.

[2019-07-31 23:55] #2795 closed

[2019-07-31 23:55] crazyk07 commented on #2795
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 00:13] rashmi73 commented on #2882
@veshu as mentioned in your summary :

1. completed
2. Completed
3. waiting for colors from dara-k (data science, development, design all shades)
4. Completed

so only 3rd point left, waiting for @Dara-K comment.

[2019-08-01 00:14] nithyaasworld commented on #2895
@r0hit-gupta Its not repeating the default text. But it reads out all the validation error message associated with that field (for both username and password fields).

Could you check please?

[2019-08-01 00:57] PrakashDurlabhji commented on #2775
@nithyaasworld

1. I went through your comment https://github.com/topcoder-platform/community-app/issues/2775#issuecomment-516722407

and for the same additional comment has been added at https://github.com/appirio-tech/accounts-app/pull/278/commits/1875bfd0134534eff7da91eb5fda593483f2f4f8

@mishacucicea and me will sync it to make it work and satisfy requirements.

2. Regarding $tc-white-cream, i

[2019-08-01 01:01] PrakashDurlabhji commented on #2868
Kindly note anyone who wishes to assign this  to himself that discussion for #2868 and #2774  is going on at #2775  and will be resolved soon.

[2019-08-01 02:10] nkumar-topcoder commented on #2775
@PrakashDurlabhji The reason to take latest from DEV branch is that there could be other `fixes` which might have been already push to DEV branch for `the file` you are about to fix. This causes merge issue later. If there is conflict then it's fine.

[2019-08-01 02:26] nkumar-topcoder commented on #2912
@nithyaasworld i am surprised, this is the PR 2912 and it's in master branch.
https://github.com/appirio-tech/accounts-app/pull/262/files

[2019-08-01 02:26] #3082 closed

[2019-08-01 02:26] crazyk07 commented on #3082
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 02:27] #3083 closed

[2019-08-01 02:27] crazyk07 commented on #3083
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 02:27] #3081 closed

[2019-08-01 02:27] crazyk07 commented on #3081
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 02:28] #3075 closed

[2019-08-01 02:28] crazyk07 commented on #3075
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 02:30] sushilshinde commented on #2807
@romitgit can you submit PR or un-assign yourself?

[2019-08-01 02:41] rashmi73 commented on #2807
@sushilshinde for file submission we use filestack-js library, I guess it is not our control because UI is initiated by
".picker" method.

I may be wrong.

[2019-08-01 03:44] #3072 closed

[2019-08-01 03:44] crazyk07 commented on #3072
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 03:53] lakshmiathreya commented on #2806
Prize amount being read correctly - Chrome on Win10/NVDA and MacOS/Voice Over ... could not find 'Stage Submitted' - @glenn @Oanh-and-only-Oanh @nithyaasworld could you clarify.
fyi - @sushilshinde @tosha5252 @drasticdpk

[2019-08-01 03:57] crazyk07 commented on #2831
Completed in Prod by another ticket https://github.com/topcoder-platform/community-app/issues/2819

[2019-08-01 03:57] #2831 closed

[2019-08-01 03:57] crazyk07 commented on #2831
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 04:00] crazyk07 commented on #2746
Fixed in prod by: https://github.com/topcoder-platform/community-app/issues/2759

Closing issue

[2019-08-01 04:00] #2746 closed

[2019-08-01 04:01] crazyk07 commented on #2746
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097486<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 04:16] #3070 closed

[2019-08-01 04:32] veshu opened #3184 "Partial work : Track tag contrasts for all tracks"
This is part of the other issue https://github.com/topcoder-platform/community-app/issues/2882

Task to do:

3. Track tag contrasts for all tracks from https://github.com/topcoder-platform/community-app/issues/2882#issuecomment-516881272

The color for this will be similar to tags used in challenge listing page.

[2019-08-01 04:33] #3106 closed

[2019-08-01 04:34] #3099 closed

[2019-08-01 04:34] veshu commented on #2882
@rashmi73 Please see #3184 for the 3 point, we are moving this to deployment.
Thanks!

[2019-08-01 04:34] #3093 closed

[2019-08-01 04:34] #3092 closed

[2019-08-01 04:45] veshu commented on #3184
@rashmi73 Please check this, they are the files https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/20/files#diff-f2daa46d93e29062531cca9621bc73ff

We need to highlight when hover over those tags so please try with altering the color as highlighted below

![image](https://user-images.githubusercontent.com/2202045/62266260-59931580-b447-11e9-9aed-e2a8c7d3a408.png)

[2019-08-01 05:01] nithyaasworld commented on #2912
Thanks @nkumar-topcoder for checking! I think the developer @tc-mfikria will be able to give us more info on why its failing in Production environment.

[2019-08-01 05:12] nithyaasworld commented on #2912
It passed quality check by 3 different persons (@mishacucicea @drasticdpk and me) before deploying to production. So just guessing that there is somewhere something we are missing in the Production environment.

[2019-08-01 05:27] veshu opened #3185 "[$10]Submission page skipped heading level"
1 Go to challenge submission page
2. After h1 we have h4 instead of h2

![image](https://user-images.githubusercontent.com/2202045/62267780-1dfb4a00-b44d-11e9-9eb0-42524afb7518.png)

Related issue https://github.com/topcoder-platform/community-app/issues/2799

[2019-08-01 05:29] veshu commented on #2799
Opened another issue to handle the new issue separately #3185

[2019-08-01 05:29] veshu commented on #2799
@drasticdpk I have passed the QA based on your confirmation above. Thanks!

[2019-08-01 05:30] sushilshinde commented on #2807
@rashmi73 you are right

[2019-08-01 05:30] veshu commented on #3185
@topcoder-platform/topcodercompetitors new easy fix issue open for pickup. Thanks!

[2019-08-01 05:36] crazyk07 commented on #3185
[500]: Challenge for the updated issue 3185 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 05:38] drasticdpk commented on #2806
Hi @crazyk07  @Oanh-and-only-Oanh @nithyaasworld @lakshmiathreya @tosha5252
Here, could not find 'stage submitted' text as mentioned in issue details. For `purse $1500` screen reader reads as expected. So I am making it pass for now.

Note : We are having pop up while hovering the 'Submission/Review/Stalled' section where we can see challenge details (like challenge start, submission, review, end

[2019-08-01 05:44] crazyk07 commented on #3185
[500]: Challenge for the updated issue 3185 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 05:44] crazyk07 commented on #3185
[500]: Challenge for the updated issue 3185 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 05:46] crazyk07 commented on #3185
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 05:46] crazyk07 commented on #3185
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 05:50] crazyk07 commented on #3185
Contest https://www.topcoder.com/challenges/30098297 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 05:50] crazyk07 commented on #3185
Contest https://www.topcoder.com/challenges/30098297 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 05:51] tc-mfikria commented on #2912
@nithyaasworld @nkumar-topcoder maybe it is because the browser version used is different

[2019-08-01 05:53] anonymousjaggu commented on #3185
fixed in https://github.com/topcoder-platform/community-app/pull/3186

[2019-08-01 06:25] nkumar-topcoder commented on #2912
@tc-mfikria , can you pls verify in dev and prod and get back please.

[2019-08-01 06:35] kkartunov commented on #3073
@Dara-K

![image (9)](https://user-images.githubusercontent.com/5585002/62270819-a541c100-b43f-11e9-8d47-1f91e9c7cecf.png)

[2019-08-01 06:35] #3073 closed

[2019-08-01 07:01] kkartunov commented on #3077
Closing this as it turns out this is content creator dependant. Means we prefer a solution that is flexible instead of enforcing `ul -> ol` conversion by the code itself.

Thank You, everyone, that had worked on this ticket!

[2019-08-01 07:01] #3077 closed

[2019-08-01 07:01] crazyk07 commented on #3077
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 12:35] r0hit-gupta commented on #2895
Looking into it.

[2019-08-01 12:39] drasticdpk commented on #2871
Here is the reference :
https://monosnap.com/file/Lkll9WXQpvpVjpxUBYHBrDOgVpaTae

[2019-08-01 12:43] #2794 closed

[2019-08-01 12:43] crazyk07 commented on #2794
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097305<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 13:02] #2744 closed

[2019-08-01 13:03] crazyk07 commented on #2744
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097454<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 13:16] drasticdpk commented on #2872
Verified on Windows/Chrome/Jaws

[2019-08-01 13:21] drasticdpk commented on #2866
Verified on Google chrome and firefox.

[2019-08-01 14:52] Oanh-and-only-Oanh commented on #2817
Failed in PROD because when on the Challenge Listings page, reader does not announce the "Topcoder Logo". It should announce as "Topcoder Logo link to Topcoder Homepage". @nithyaasworld

[2019-08-01 15:18] drasticdpk commented on #2823
Verified on Windows/Chrome/JAWS
Reference link :
https://support.freedomscientific.com/Training/Surfs-Up/Tables.htm

[2019-08-01 15:24] #2847 closed

[2019-08-01 15:24] crazyk07 commented on #2847
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 15:51] Oanh-and-only-Oanh opened #3188 "[$20][MSFT] Challenges page: The topcoder logo doesn't have an alt text."
Steps to Reproduce

Go to the Challenges page: https://www.topcoder.com/challenges. 2. Ensure screen reader is switched on. 3. Press the shortcut 'ctrl + home' to make sure that you are at the top of the page. 4. Press the down arrow. 5. Notice screen reader reads 'link to Topcoder Homepage'
Expected Result
Screen reader should announce the logo as 'Graphic topcoder logo link to homepage'

Actual

[2019-08-01 15:51] Oanh-and-only-Oanh commented on #3188
Reference: https://github.com/topcoder-platform/community-app/issues/2817

[2019-08-01 16:01] crazyk07 commented on #3188
Contest https://www.topcoder.com/challenges/30098337 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 16:01] crazyk07 commented on #3188
Contest https://www.topcoder.com/challenges/30098337 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 16:05] nithyaasworld commented on #2817
@gets0ul Could you check this please asap and make it announce as "Topcoder Logo link to Topcoder Homepage" ? Thanks.

[2019-08-01 16:23] gets0ul commented on #2817
@nithyaasworld ok

[2019-08-01 16:29] drasticdpk commented on #2882
@rashmi73 , Please update below color as suggested.
4. Active blue links 006DEAd (Detail, Registrants, Submissions, Winners etc
![image](https://user-images.githubusercontent.com/25297859/62310266-d86c6a80-b4a8-11e9-9f4b-ed1721082b4b.png)

[2019-08-01 16:34] rashmi73 commented on #2882
@drasticdpk yes updating it, but i guess it is just #006dea and not "#006dead"

[2019-08-01 16:42] gets0ul commented on #2817
@Oanh-and-only-Oanh
Did you mean when hovering/mouse over the logo?
Or keyboard navigation?

[2019-08-01 16:46] nithyaasworld commented on #2817
This ticket is about Keyboard navigation.

But I am not sure if it should read out the same thing on mouse-hover too. @Oanh-and-only-Oanh Please confirm.

[2019-08-01 18:14] r0hit-gupta commented on #2797
@nithyaasworld Please review. I have replaced the tooltip.

![image](https://user-images.githubusercontent.com/16841686/62316602-7fef9a00-b4b5-11e9-89ba-d1129c70ec7e.png)

[2019-08-01 18:17] ajefts commented on #2797
@r0hit-gupta Is that tooltip design from our UI Kit?  Or is that just copying what Chameleon was doing?  Could we make sure it's compatible/consistent with our UI kit?

[2019-08-01 18:26] r0hit-gupta commented on #2797
@ajefts it is from the UI Kit itself. Just like other tooltips.

[2019-08-01 18:53] ajefts commented on #2797
ok, great!  Thanks

On Thu, Aug 1, 2019 at 2:26 PM Rohit Gupta <notifications@github.com> wrote:

--

<https://www.topcoder.com/>

*Tony Jefts*

@tjefts <https://twitter.com/tjefts>  | LinkedIn
<https://www.linkedin.com/in/tonyjefts/>

www.topcoder.com  | @topcoder <http://twitter.com/topcoder>

[2019-08-01 18:57] rashmi73 commented on #2882
@drasticdpk kindly find 2 PR raised to satisfy your above commented feedback.

https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/22
https://github.com/topcoder-platform/community-app/pull/3190

[2019-08-01 19:18] rashmi73 commented on #3184
@veshu PR ready https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/23
is this expected or something else, because I am bit confused by your above comment of altering as there no much values  such that i can play with colour

[2019-08-01 19:27] PrakashDurlabhji commented on #2775
@nkumar-topcoder yes got some idea, trying it. Though it is difficult.

[2019-08-01 21:19] crazyk07 commented on #2775
Contest https://www.topcoder.com/challenges/30097377 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-01 21:30] mishacucicea commented on #2760
@drasticdpk This was fixed by another ticket, and by the time this PR was up it was already working and the PR was wrong anyway so just closing the ticket.

[2019-08-01 21:30] nithyaasworld commented on #2817
@gets0ul Please provide the fix for Keyboard navigation.

Once @Oanh-and-only-Oanh confirms, you can include mouse-hover if needed.

[2019-08-01 21:41] gets0ul commented on #2817
@nithyaasworld @Oanh-and-only-Oanh
Keyboard navigation is already being read out as "Topcoder Homepage".
https://github.com/topcoder-platform/community-app/blob/4f402f6a4e113f961807bd05f47090db7258cef0/src/shared/components/TopcoderHeader/index.jsx#L354

so I guess I'll wait if mouse hover is wanted too.

[2019-08-01 21:45] nithyaasworld commented on #2817
@gets0ul

I think @Oanh-and-only-Oanh wants the reader to include "Topcoder Logo" in the current announcement. Currently it only says "Link to Topcoder homepage". The expectation here is "Topcoder Logo Link to Topcoder Homepage"

[2019-08-01 22:51] Oanh-and-only-Oanh commented on #2817
@nithya is correct. The tabbing and hoverover should both read “topcoder logo link to homepage”

Sent from my iPhone

[2019-08-01 23:13] crazyk07 commented on #3188
@rashmi73  Have you worked on this ticket already?  If not, please let us know, we accidentally made a duplicate ticket of this and someone else is already working on it.  If you already done work and it successfully solves the issue, we will still pay you for your efforts.  If not, we will just close this ticket.  Thank you!

[2019-08-01 23:25] crazyk07 commented on #2817
@gets0ul we will increase payment for this ticket.  Since half of this has already been paid out, we will create another ticket to pay you another $10 upon completion.

[2019-08-01 23:27] crazyk07 commented on #2797
Contest https://www.topcoder.com/challenges/30097287 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-02 03:32] veshu commented on #2882
Sorry this is not required, after Darak suggested here, she has updated the color palette which is 006ad7

[2019-08-02 04:00] gets0ul commented on #2817
@nithyaasworld @Oanh-and-only-Oanh new PR is submitted.

[2019-08-02 04:28] rashmi73 commented on #3188
@crazyk07 yes actualy it was completed, and was going to raise PR but due to power cut in my city due to heavy rain, I could not. Shall i still raise PR?as I see PR will be same as 8217 with just minor change of text.

[2019-08-02 09:05] rashmi73 commented on #3188
@veshu PR ready https://github.com/topcoder-platform/community-app/pull/3192

[2019-08-02 09:51] veshu commented on #2871
@PrakashDurlabhji Please update the events tags https://github.com/topcoder-platform/topcoder-react-ui-kit/tree/qa-accessibility/src/shared/components/tags/event

e.g. for development `color` should be changed from `$tc_green` to `$tc_green_110` https://prnt.sc/one12j
similar for design and data-since replace the color with 110 variant .

I will raise the prize, but please complete within next few

[2019-08-02 09:56] veshu commented on #2895
@r0hit-gupta Reminder on this.

[2019-08-02 09:58] veshu commented on #2852
@drasticdpk Could you please confirm this and close.

[2019-08-02 11:25] PrakashDurlabhji commented on #2871
@veshu sure making a PR now

[2019-08-02 11:43] r0hit-gupta commented on #2895
@veshu sorry for the delay. @drasticdpk @nithyaasworld please review.

[2019-08-02 12:22] PrakashDurlabhji commented on #2871
@veshu new  PR again https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/24

[2019-08-02 14:05] sushilshinde commented on #2882
@veshu It is ready for QA and there are no PR associated with it, please explain

[2019-08-02 14:57] rashmi73 commented on #2882
@sushilshinde kindly check comment above and link for it is :
https://github.com/topcoder-platform/community-app/issues/2882#issuecomment-517068536

actually 4 tasks were originally in this issue, but 3rd one was confusing hence for other 3 points PR was rasied  #3183 and merged, and for 3rd point colors were left out by dara-k
so was waiting for it.

so for 3rd task new issue was raised and I rai

[2019-08-02 16:28] #3080 closed

[2019-08-02 16:28] crazyk07 commented on #3080
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-02 16:59] veshu commented on #2882
@sushilshinde Yes as rashmi said I have separated the issue which causes the failure of the is issue. so it is ready for testing.

We have separate PR and issue for failing reason. Thanks!

[2019-08-02 21:14] mishacucicea commented on #2813
@drasticdpk It would seem fine for me not sure exactly what's expected, it would seems the fix is satisfying the requirements. Note that when I listen to your video it seems like it has a double-voice on recording. Also, how to you enable the keyboard/calendar tips?

[2019-08-02 21:41] cagdas001 commented on #3140
Username: same as the GitHub

I'm having the same issue when trying to add/remove skills

|  Frontend | API Response |
|---|---|
| ![2019-08-02_22-58-11](https://user-images.githubusercontent.com/28513447/62399814-c1e81100-b585-11e9-80e5-db36fe7b0ef9.png)  | ![2019-08-02_22-58-45](https://user-images.githubusercontent.com/28513447/62399820-c6142e80-b585-11e9-8a88-f146792567bf.png)  |

Tag ID is al

[2019-08-03 03:57] drasticdpk commented on #2813
@mishacucicea ,
1. When user reached to userName/Email/Password control, screen reader does not read that popup automatically. In video, I randomly (which is not correct way) pressed the H key and able to read that popup.
2. Due to recoding from monosnap we are listening double-voice some control, in real it is not.
3. I am using screen reader JAWS,  while reaching cursor  date time picker, if we

[2019-08-03 17:41] ajaysaini9782 opened #3194 "Past SRM page in user profile is broken"
**Describe the bug**
Users are not able see their correct past SRM stats(shows 0.00 points, 0th rank in room and 0th rank overall) on profile page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/members/square1001/details/track=DATA_SCIENCE&subTrack=SRM&tab=Past%20srm
2. Click on Past SRM option

**Screenshots**
![image](https://user-images.githubusercontent.c

[2019-08-04 07:36] nahidshahin commented on #2853
@veshu @sushilshinde what is the status of this ticket?

[2019-08-04 17:54] romitgit commented on #2893
Is this going to be moved from On hold status ?

[2019-08-05 05:27] veshu commented on #2871
@PrakashDurlabhji The PR is wrong, you have changed the hover color instead of color at normal state. See the image I have highlighted

Also for blue please use `tc_dark_blue_110`.

[2019-08-05 05:57] lakshmiathreya commented on #2775
<img width="1228" alt="Screenshot 2019-08-05 at 11 24 21 AM" src="https://user-images.githubusercontent.com/51733042/62441904-9c205f00-b773-11e9-9572-84442f189611.png">
<img width="1258" alt="Screenshot 2019-08-05 at 11 24 06 AM" src="https://user-images.githubusercontent.com/51733042/62441913-a3476d00-b773-11e9-9a7c-0ab5508168f0.png">
Please see the screenshots attached - The disabled Join button

[2019-08-05 06:03] PrakashDurlabhji commented on #2775
@veshu apology for delay,I am making PR for this and other issues connected with this.

[2019-08-05 06:23] lakshmiathreya commented on #2775
Partially filled password also has the same issue. Pls see the screenshot.
<img width="1369" alt="Screenshot 2019-08-05 at 11 51 53 AM" src="https://user-images.githubusercontent.com/51733042/62443087-90369c00-b777-11e9-862e-0c124b8b3999.png">

[2019-08-05 06:38] lakshmiathreya commented on #2868
Verified on MacOS/Chrome & Win10/Chrome - Join and Show are now getting highlighted as expected.
<img width="1635" alt="Screenshot 2019-08-05 at 12 06 43 PM" src="https://user-images.githubusercontent.com/51733042/62443863-975ea980-b779-11e9-8567-509d25955144.png">

[2019-08-05 12:11] lakshmiathreya commented on #2806
Verified on Prod - MacOS/Chrome/VoiceOver Win10/Chrome/NVDA .... Challenge details read out correctly as expected ...

[2019-08-05 12:11] #2806 closed

[2019-08-05 12:11] crazyk07 commented on #2806
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097302<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-05 12:24] lakshmiathreya commented on #2828
Verified on Win10/Chrome/NVDA and MacOS/Chrome/Voice Over - able to reach Prizes section via keyboard. However, in Win10/Chrome/NVDA - the prize amount is read out twice. Pls clarify @codeMinter @PrakashDurlabhji. fyi @sushilshinde @tosha5252 @drasticdpk

[2019-08-05 12:39] lakshmiathreya commented on #2872
@drasticdpk @rashmi73 - pls clarify - The arrow is read out as 'main landmark ico-arrow-big-left' - tested on Prod Win10/Chrome/NVDA. On MacOS/Chrome/Voice Over it is ready out as 'ico-arrow-big-left main' @tosha5252 @sushilshinde fyi.

[2019-08-05 12:55] lakshmiathreya commented on #2882
Please clarify the overall goal of this Issue. I continue to see several contrast issues.

[2019-08-05 15:03] drasticdpk commented on #2823
JAWS is saying like "No Table Found!"

[2019-08-05 15:16] drasticdpk commented on #2799
First level heading has not updated yet.
![image](https://user-images.githubusercontent.com/25297859/62474950-bbdf7380-b7c3-11e9-8fe9-360e99f150b6.png)

[2019-08-05 15:56] #3185 closed

[2019-08-05 15:57] crazyk07 commented on #3185
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30098297<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-05 16:11] #3084 closed

[2019-08-05 16:12] crazyk07 commented on #3084
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097721<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-05 16:16] #3089 closed

[2019-08-05 16:17] crazyk07 commented on #3089
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097698<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-05 17:58] tosha5252 commented on #2882
@veshu I'm reading the comments and from what I understand, for this issue, points 1,2 and 4 need to be reverified and that is all that is required for it to be closed...because point 3 was seperated and is its own issue...is that correct?

[2019-08-05 19:17] kkartunov opened #3195 "General theme fixes"
The General theme implementation overwrites the Primary and Secondary buttons. It happens here https://github.com/topcoder-platform/community-app/blob/develop/src/shared/components/Contentful/ContentBlock/themes/general.scss#L88-L95

Expected fix:
Buttons should not be influenced by the theme and theme should remain functional.

[2019-08-05 23:08] rashmi73 commented on #2872
@lakshmiathreya it was working on windows chrome well, can you please check if it is a deployment issue again?

[2019-08-05 23:18] crazyk07 commented on #2677
Contest https://www.topcoder.com/challenges/30097085 has been updated - it has been assigned to mfikria.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-05 23:21] PrakashDurlabhji commented on #2871
@veshu PR updated topcoder-platform/topcoder-react-ui-kit#24

[2019-08-05 23:30] crazyk07 commented on #2872
@nkumar-topcoder  Just checked as well, still no change.

@Oanh-and-only-Oanh  What do you think should be the exact wording for the back button should be?

[2019-08-05 23:50] Oanh-and-only-Oanh commented on #2872
Should read as "Arrow icon back to Challenge Listing page"

[2019-08-06 00:05] tc-mfikria commented on #2912
Sorry, I cannot fix the issue, release to open for pickup

[2019-08-06 00:45] crazyk07 commented on #2882
@tosha5252  Yes, lets go with this.  If the three issues are solved (or all issues are already solved) lets go with this as complete.  If point "3" is not solved, lets raise a separate ticket, but close this one out.

cc: @lakshmiathreya

[2019-08-06 00:48] crazyk07 commented on #2828
@sushilshinde  I'm getting the same thing as Lakshmi.  Is there a simple fix to correct this?

[2019-08-06 00:55] crazyk07 commented on #2828
https://drive.google.com/file/d/1OxC67_gSRleK3lp9QZd6FjoN3b-kxgyN/view?usp=sharing

[2019-08-06 01:21] tosha5252 commented on #2817
announces 'topcoder homepage link', but doesn't state it's the logo

[2019-08-06 02:02] tosha5252 commented on #2775
![country](https://user-images.githubusercontent.com/6400904/62505944-3d370600-b7c4-11e9-9326-c25b0cf20fbc.png)

Witnessing the same as @lakshmiathreya...when the country is picked, button changes

[2019-08-06 02:06] PrakashDurlabhji commented on #2775
@tosha5252 @lakshmiathreya yes because buttons are different in both cases and code was removed hence changes not visible.

[2019-08-06 02:19] tosha5252 commented on #2775
![country2](https://user-images.githubusercontent.com/6400904/62506351-e6323080-b7c5-11e9-8ce5-99ea6638741c.png)
check the code....twice for the same button

[2019-08-06 03:08] crazyk07 commented on #3090
Duplicate

[2019-08-06 03:08] #3090 closed

[2019-08-06 03:08] crazyk07 commented on #3090
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-06 03:56] tosha5252 commented on #3085
Does not work in Safari for me using Voice Over.

[2019-08-06 04:06] lakshmiathreya commented on #2817
@tosha5252 this is not as per requirement clearly stated by @Oanh-and-only-Oanh above. Pls mark as QA fail.

[2019-08-06 04:10] lakshmiathreya commented on #2882
noted. @tosha5252 - lets proceed as per @crazyk07 recommendation on this one.

[2019-08-06 04:30] gets0ul commented on #2817
@tosha5252 @lakshmiathreya
Tested on Windows 10, Chrome, NVDA and JAWS using fix from #3191
NVDA: https://drive.google.com/file/d/1fz7c_l-wwN06-4LS7qcA-kCZ8IXmtb4I/view
JAWS: https://drive.google.com/file/d/1k48wS7p5qxb94j_KsAzAMThuPLVrUOwn/view

[2019-08-06 04:38] tosha5252 commented on #2817
@gets0ul it says the wrong thing...should be saying “topcoder logo link to homepage”

[2019-08-06 04:57] gets0ul commented on #2817
@tosha5252
So please do share what's your setting when testing it?
JAWS or NVDA, by keyboard or mouse over, using fix from my PR or not?

I shared two videos above, have you watch it? Please share yours too so we can check why the result is different.
Thanks.

[2019-08-06 05:00] gets0ul commented on #2817
@tosha5252 @lakshmiathreya
After re-read your comment did you mean that it should be "topcoder logo link to homepage", instead of "topcoder logo link to **topcoder** homepage"

So @Oanh-and-only-Oanh which one should we use here?

[2019-08-06 05:03] veshu commented on #2817
@tosha5252 @lakshmiathreya

Please clear your cache and try again. Note it is only deployed on test site.

[2019-08-06 05:18] lakshmiathreya commented on #2813
Verified MacOS/Chrome/Voice Over and Win10/Chrome/NVDA - help content related to email, username and password read out correctly.

[2019-08-06 06:44] tosha5252 commented on #2817
Verified working on test site

[2019-08-06 07:29] r0hit-gupta commented on #3085
@tosha5252 @lakshmiathreya working for me on Mac/Safari using Voice Over.
Test URL - https://test-community-app.topcoder-dev.com/community/accessibility-testing

[Video.zip](https://github.com/topcoder-platform/community-app/files/3470862/Video.zip)

[2019-08-06 07:47] r0hit-gupta commented on #2823
@drasticdpk unable to view my changes in the DOM. May you please verify the deployment? Thanks!

![image](https://user-images.githubusercontent.com/16841686/62521024-6dc28280-b84c-11e9-9e6a-3bca8595fed2.png)

[2019-08-06 08:03] tosha5252 commented on #3096
@Dara-K is everything ok to move this forward?

[2019-08-06 08:22] sushilshinde commented on #2828
@lakshmiathreya is it still working on test env?

[2019-08-06 08:25] tosha5252 commented on #2882
noted.

[2019-08-06 08:25] crazyk07 commented on #2882
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-06 08:30] rashmi73 commented on #2882
@tosha5252 @veshu wont i be paid for it? no paid label?

[2019-08-06 08:45] r0hit-gupta commented on #2828
@lakshmiathreya @crazyk07 made a minor change. Please review.

[2019-08-06 09:02] r0hit-gupta commented on #2752
@crazyk07 @veshu @codeMinter this issue can be closed I guess.

[2019-08-06 09:21] tosha5252 commented on #2871
'TCO19' button was not highlighted blue.

tested at:
https://www.topcoder.com/challenges/30098257

Windows 10
Browser: Chrome

[2019-08-06 09:23] veshu commented on #2871
@tosha5252 looks like you are testing on prod where as this is only been deployed to dev.

@sushilshinde Can we move this issue to prod as there won't be tco tag on dev/test.

[2019-08-06 09:31] tosha5252 commented on #2871
@veshu looks like it had already been moved to prod and then back to dev...I retested at the link that has been tested before...since there are no sample pages in the dev env with the 'TCO19' icon on it...can one be added so that it can be tested there?

[2019-08-06 09:43] veshu commented on #2871
@tosha5252 The track tag was on prod but not 'TCO19'.

We tried to add tco in dev but it wasn't successful. So we need to test that on prod itself.

Please wait for sushil move this issue to production. Thanks!

[2019-08-06 09:45] veshu commented on #2752
@r0hit-gupta Thanks. Let us know if the relevant payment is not reflected on PACT.

[2019-08-06 09:45] #2752 closed

[2019-08-06 09:45] crazyk07 commented on #2752
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-06 09:51] veshu commented on #2872
@sushilshinde This code is not deployed to production. please check. Thanks!

[2019-08-06 09:52] veshu commented on #2823
@sushilshinde Not deployed to prod?

[2019-08-06 10:10] tosha5252 commented on #2852
If I understand correctly, this will be changed when the other issue is resolved? So this one should be closed?

![tru-style](https://user-images.githubusercontent.com/6400904/62531528-434ed600-b808-11e9-9f9a-c8da2e7a0a33.png)

[2019-08-06 10:48] crazyk07 commented on #2775
Contest https://www.topcoder.com/challenges/30097377 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-06 10:50] mishacucicea commented on #2775
@PrakashDurlabhji , I've assigned to @r0hit-gupta as we need a fast fix.
Please contact me on Slack to discuss about compensating for part of your work on this item.
If you are not on Topcoder Community Slack, please register using [this link](https://topcoder.us13.list-manage.com/track/click?u=65bd5a1857b73643aad556093&id=84b18bc8fd&e=af22e6fdea).

[2019-08-06 10:56] r0hit-gupta commented on #2775
@mishacucicea @nkumar-topcoder PR at https://github.com/appirio-tech/accounts-app/pull/294
I have also fixed the Terms & Privacy Policy not highlighting on tab focus. Please review.

![image](https://user-images.githubusercontent.com/16841686/62534468-e1718900-b866-11e9-9fe7-4aded65a3b7a.png)

[2019-08-06 11:16] crazyk07 commented on #2882
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096757<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-06 11:24] crazyk07 commented on #2882
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-06 11:49] nkumar-topcoder commented on #2775
@lakshmiathreya @drasticdpk this is re-fixed and deployed to `qa-accessbility` branch. In case if you find the issue is not fixed let me know i will deploy to `DEV` branch (as we found few had few cases like this earlier)

[2019-08-06 12:45] lakshmiathreya commented on #3085
Works as expected in MacOS/Safari and Chrome/Voice Over.

[2019-08-06 18:30] crazyk07 commented on #2912
Contest https://www.topcoder.com/challenges/30096714 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-06 18:37] hokienick opened #3197 "TCO19 Homepage Does Not Load Correctly"
**Describe the bug**
When first visiting the TCO19 page, the elements specifically on the top of the page are not aligned properly.  If the user clicks the arrow on the banner slider then click back, the elements align correctly once again

**Upon Loading the Homepage the First Time**
<img width="1537" alt="Screen Shot 2019-08-06 at 11 33 05 AM" src="https://user-images.githubusercontent.com/13739

[2019-08-06 18:48] tosha5252 commented on #2828
@sushilshinde  this should be tested in the dev env or in prod?  I see it was moved to prod but it's been tagged only 'ready for QA'

[2019-08-06 19:25] hokienick opened #3198 "TCO19 Navigation Bar"
**Describe the bug**
The submenu's do not always match their menu topics (ex: Sponsors).

Also, one of the submenus appear under every menu topic.

<img width="849" alt="Screen Shot 2019-08-06 at 12 23 38 PM" src="https://user-images.githubusercontent.com/1373998/62571031-2d133b00-b845-11e9-89d0-17160c7ed64e.png">
<img width="740" alt="Screen Shot 2019-08-06 at 12 23 48 PM" src="https://user-image

[2019-08-06 19:35] tosha5252 commented on #2775
The button color is correct and it doesn't change when entering country...

Windows 10 env
Browser: Chrome

[2019-08-06 23:03] tosha5252 commented on #2996
@veshu this ticket has been satisfied; however, there are other contrast issues with the page...note comment above by @lakshmiathreya...can another issue be created before this one is closed to be sure those are addressed?

[2019-08-07 02:09] veshu opened #3199 "Verify color contrast issues across all pages"
-- WAVE continues to show significant number of contrast issues. This is a generic Issue raised by me to review all colors and all contrasts across pages. Would like to review collectively at a later date.
-- The name 'topcoder' which is part of the logo - does not show up under contrast review - however, request a review for visibility since the contrast appears low with the current shade of blac

[2019-08-07 02:47] veshu commented on #2996
@tosha5252 @lakshmiathreya separated the overall verification to separate issue. #3199

[2019-08-07 06:24] sushilshinde commented on #2871
Moving this to prod

[2019-08-07 08:23] tosha5252 commented on #2828
@sushilshinde this works in the test env

[2019-08-07 08:59] tosha5252 commented on #2996
changes verified

Windows 10 env
Browser: Chrome

[2019-08-07 08:59] #2996 closed

[2019-08-07 08:59] crazyk07 commented on #2996
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096713<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-07 09:06] tosha5252 commented on #2745
verified changed

Windows 10 env
Browser: Chrome

[2019-08-07 09:23] tosha5252 commented on #3096
based on the font-size of 15px

line-height is ok at 25px
margin-bottom(spacing between paragraphs) is ok at 30px
letter spacing is ok at 2px
word spacing is ok at 2.5

Windows 10 env
Browser: Chrome

[2019-08-07 09:35] tosha5252 commented on #3184
Track tag colors verified changed to:

On development: green shape with Cd and TCO text should be # 258205
On design: blue shape and TCO text should be # 0076A5
On MM: orange shape and TCO text should be #   ##BA4C00

Per comments above, these colors are taken from issue #2745

Windows 10 env
Browser: Chrome

[2019-08-07 14:29] mishacucicea commented on #2848
Will be fixed when closing #2813

[2019-08-07 14:31] mishacucicea commented on #2868
@nkumar-topcoder I assume you want this retested due to a new merge, right?
cc @lakshmiathreya

[2019-08-07 14:37] nkumar-topcoder commented on #2868
Yes, i merged your latest dev branch fixes which had 2774. And wanted to re-test. Thanks

[2019-08-07 14:54] crazyk07 commented on #2807
Contest https://www.topcoder.com/challenges/30097855 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-07 14:59] r0hit-gupta commented on #2807
@crazyk07 @sushilshinde I have solved it finally. Phew! 😅 Please review.

[2019-08-07 15:17] crazyk07 commented on #2807
Contest https://www.topcoder.com/challenges/30097855 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-07 15:36] PrakashDurlabhji commented on #2868
@mishacucicea this issue was already solved by my PR you can verify for this at appirio-tech/accounts-app#248 which has code for highlight button by adding focus as stated in original issue

just #2775 was remaining and solved by rohit PR.

also #2774 was solved by my PR itself.

just all 3 issues were to be tested together hence was waiting on #2868 and #2774 till #2775 completed as per feedback.

[2019-08-07 15:45] tosha5252 commented on #2868
This is tested and working

Windows 10 env
Browser: Chrome

[2019-08-07 16:51] tosha5252 commented on #2774
referenced #2775...#5d5d66 is the correct color for the button

Windows 10 env
Browser: Chrome

[2019-08-07 16:53] tosha5252 commented on #2775
The button color is correct: #5d5d66!

Windows 10 env
Browser: Chrome

[2019-08-07 19:07] crazyk07 commented on #2799
@veshu @sushilshinde I'm confused by the conversation, but in Prod, there is still no First level Heading.  Please check out to see what the issue is.  Maybe it hasn't went to prod yet?

[2019-08-07 19:24] crazyk07 commented on #2869
@r0hit-gupta  Any progress on this one?  Thought there was a related ticket, not sure if this is still blocked or not

[2019-08-07 19:26] crazyk07 commented on #2893
@tosha5252  Reviving this ticket, think Lakshmi forgot about this one.  Please test in Dev

[2019-08-07 19:32] crazyk07 commented on #2853
@tosha5252  Can you check this out too?  Stale for awhile.  Unsure of where we left off, so we can do another dev check and go from there.  May have also been solved by another issue already.

[2019-08-07 19:50] crazyk07 commented on #2855
We will make a new test challenge for this and I will post the link shortly.  @romitgit  Do you still want to try to fix this?  You will have to create a fake test account in order to replicate the same conditions.

@veshu  Please follow up on this later.  If no response, let's open this back for pickup.

[2019-08-07 20:04] r0hit-gupta commented on #2869
@crazyk07 its related to DocuSign.

[2019-08-07 23:33] crazyk07 commented on #2869
Closing.  Unable to fix 3rd party tool for the time being.

[2019-08-07 23:33] #2869 closed

[2019-08-07 23:33] crazyk07 commented on #2869
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-08 02:06] tosha5252 commented on #2893
tested in dev and passes

Windows 10 env
Browser: Chrome

[2019-08-08 04:20] tosha5252 commented on #2853
This is fixed
![iframe](https://user-images.githubusercontent.com/6400904/62674861-f08d2f80-b969-11e9-8367-1ddbe8c98e7a.png)

[2019-08-08 04:54] tosha5252 commented on #2871
Tested in prod...https://www.topcoder.com/challenges/30098257

TCO19 tag not highlighted

Windows  env
Browser: Chrome

[2019-08-08 05:17] tosha5252 commented on #2774
referenced #2775...color is correct for the button

Windows 10 env
Browser: Chrome

[2019-08-08 05:17] #2774 closed

[2019-08-08 05:18] crazyk07 commented on #2774
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097500<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-08 05:26] tosha5252 commented on #2817
Verified

Windows 10 env
Browser:  Chrome

[2019-08-08 05:26] #2817 closed

[2019-08-08 05:42] sushilshinde commented on #2799
@crazyk07 @veshu you are right this is miss on prod, will go in next deployment

[2019-08-08 06:41] mishacucicea commented on #2859
@nkumar-topcoder This is working in the `qa-accessibility` branch. Was this deployed on dev environment?

[2019-08-08 06:44] mishacucicea commented on #2895
@nkumar-topcoder Was this deployed on dev environment?

[2019-08-08 06:54] mishacucicea commented on #2912
Changes will be reverted on this one. Putting on hold till we figure out the `chameleon` issue.

[2019-08-08 06:59] r0hit-gupta commented on #2912
@mishacucicea it's probably fixed and ready for Prod QA.

[2019-08-08 07:14] tosha5252 commented on #2871
Tested in prod...https://www.topcoder.com/challenges/30098257
In Chrome: TCO19 tag not highlighted at all
In Edge: There is a slight color change to the wording 'TCO19' (see video)

[tco19.zip](https://github.com/topcoder-platform/community-app/files/3480342/tco19.zip)

Windows env
Browser: Chrome

[2019-08-08 07:18] tosha5252 commented on #2868
Tested and working

Windows 10 env
Browser: Chrome

[2019-08-08 07:18] #2868 closed

[2019-08-08 07:18] crazyk07 commented on #2868
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096798<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-08 07:34] tosha5252 commented on #2797
There are 2 button, one overlying the other, near 'review scorecard' and they are both the incorrect color...per the comments above, the green color #328732 should be used

![button_overlay](https://user-images.githubusercontent.com/6400904/62683872-0a883b80-b985-11e9-9731-8c184e5867c4.png)

[2019-08-08 07:38] tosha5252 commented on #2775
The button color is correct: #5d5d66

Windows 10 env
Browser: Chrome

[2019-08-08 07:38] #2775 closed

[2019-08-08 07:39] crazyk07 commented on #2775
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097377<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-08 07:43] tosha5252 commented on #3085
Works as expected

Mac/OS env
Browser: Safari and Chrome

[2019-08-08 07:43] #3085 closed

[2019-08-08 07:44] crazyk07 commented on #3085
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097738<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-08 07:45] r0hit-gupta commented on #2797
@tosha5252 it looks fine to me on production. Can please you try again in incognito? Thanks!

![image](https://user-images.githubusercontent.com/16841686/62684543-7fd42a80-b9de-11e9-9141-bc2e6df5414e.png)

[2019-08-08 07:46] veshu commented on #3060
We will fix this as the last issue

[2019-08-08 07:53] tosha5252 commented on #2872
reads 'ico-arrow-link-left-link'

![arrow](https://user-images.githubusercontent.com/6400904/62685164-bcc10280-b987-11e9-8846-43a529cdccfc.png)

Tested using JAWS
Windows 10 env
Browser: Chrome

[2019-08-08 08:06] tosha5252 commented on #2797
in incognito mode...the overlying icon disappears, but the icons are still the wrong color green...per DaraK's comment above, the color used should be #328732

![wrong_color](https://user-images.githubusercontent.com/6400904/62686046-8a180980-b989-11e9-83bf-af00c0eabf68.png)

[2019-08-08 08:22] tosha5252 commented on #2866
Verified working...6 regions identified

Windows  10 env
Browser: Chrome

[2019-08-08 08:22] #2866 closed

[2019-08-08 08:23] crazyk07 commented on #2866
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097125<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-08 08:29] r0hit-gupta commented on #2797
@Dara-K @tosha5252 this color does not exist in the palette. https://marvelapp.com/c7h2a6h/screen/59648056/handoff

I have used `$tc-green-110` instead. Please let me know if it needs to be changed. Thanks!

[2019-08-08 08:33] nkumar-topcoder commented on #2912
@r0hit-gupta can you please verify both PROD and DEV branch changes for this fix. If not available. Please take the file from `DEV` branch, apply the fix, test locally and PR for `DEV` branch. We have issues on deploy/testing with `qa-accessibility` hence.

[2019-08-08 08:39] r0hit-gupta commented on #2912
@nkumar-topcoder @mishacucicea this issue is solved and ready for Prod QA. The PR https://github.com/appirio-tech/accounts-app/pull/295 simply reverts the unnecessary changes.

[2019-08-08 08:39] tosha5252 commented on #3096
The changes have not been applied to production...there are no values entered for Margin-bottom, letter or word spacing.

Take note of the prod(1st) and dev images.
![accessibility_prod](https://user-images.githubusercontent.com/6400904/62688263-1fb59800-b98e-11e9-9577-2f6010348b36.png)

![dev_accessibility](https://user-images.githubusercontent.com/6400904/62688280-2a702d00-b98e-11e9-8cab-e8874a2

[2019-08-08 08:50] veshu commented on #2797
@tosha5252 This color is accepted as we are using the same color throughout the green.

You can accept regardless earlier color in the comment.

[2019-08-08 08:52] veshu commented on #2855
@topcoder-platform/topcodercompetitors this is open for pickup.

[2019-08-08 08:57] tosha5252 commented on #2823
Verified working...announces the table

Windows 10 env
Browser: Chrome

[2019-08-08 08:57] #2823 closed

[2019-08-08 08:58] crazyk07 commented on #2823
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097274<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-08 08:59] veshu commented on #3188
@tosha5252 @drasticdpk Please confirm this is fixed by https://github.com/topcoder-platform/community-app/issues/2817

[2019-08-08 09:01] tosha5252 commented on #3188
@veshu Yes..I have just tested that not long ago...it is fixed

[2019-08-08 09:02] crazyk07 commented on #3188
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-08 09:02] #3188 closed

[2019-08-08 09:02] crazyk07 commented on #3188
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-08 09:13] crazyk07 commented on #2855
Contest https://www.topcoder.com/challenges/30096891 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-08 09:13] r0hit-gupta commented on #2855
@veshu can you please provide with a new test challenge for testing? Thanks!

[2019-08-08 11:44] nkumar-topcoder commented on #2895
@mishacucicea @tosha5252 @drasticdpk this deployed to `qa-accesibility` branch ideally you should be able to test in DEV, if not let me know i will merge to `dev` branch and you can re-test

[2019-08-08 12:47] crazyk07 commented on #2797
@tosha5252  As long as it is the same green we are using with the other like icons, then we are fine.  Be sure the tool tip works as well

[2019-08-08 13:07] nkumar-topcoder commented on #2912
@mishacucicea @r0hit-gupta @tosha5252 @drasticdpk this is merged and `ready for qa` status. again this is merged to `qa-accessibility` if fix not reflected let me know.

[2019-08-08 14:35] crazyk07 commented on #2872
@tosha5252 Try again, think you need to use incognito

[2019-08-08 14:41] rootelement opened #3204 "Unable to Change Email Address - Dead End?"
Change email address leaves me in a dead end

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/settings/account
2. Change your email address, click Send Verification Email
<img width="746" alt="Screen Shot 2019-08-08 at 10 15 56 AM" src="https://user-images.githubusercontent.com/5400156/62712188-59a39000-b9c8-11e9-832b-ae0962831ded.png">
3. Click OK on the modal

[2019-08-08 15:01] rootelement commented on #3204
@Oanh-and-only-Oanh Let me know if you have more questions about this.

[2019-08-08 15:06] hokienick opened #3205 "Ability to tag images in Contentful"
As the quest to become accessibility compliant, we will need images to be tagged on the page so that a screenreader can "read" it.

There are two way images appear in our page: ```<img> tags``` and "Choose Image" in Contentful.  We will need ways to include tags in both scenarios.

[2019-08-08 17:14] tosha5252 commented on #2828
@sushilshinde  In Win10/Chrome/NVDA..amount still reading out twice...was there a fix for this?

[2019-08-08 17:18] tosha5252 commented on #2745
Verified

Win10/Chrome

[2019-08-08 17:18] #2745 closed

[2019-08-08 17:18] crazyk07 commented on #2745
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097467<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-08 17:22] tosha5252 commented on #2912
Now there is no announcement at all of 'All Rights Reserved'...NVDA just starts back at the beginning of the page

Win10/Chrome/NVDA

[2019-08-08 17:25] tosha5252 commented on #2895
Announcement of fields twice is still happening

Win10/Edge/NVDA

[2019-08-08 19:20] crazyk07 commented on #3096
@sushilshinde  Another one to check

[2019-08-08 19:46] crazyk07 commented on #2912
@tosha5252  Is the expected behavior for the screenreader suppose to announce "All right reservered"?  I don't think it's dynamic content at all, so I don't think it should have been read in the first place

[2019-08-08 20:16] PrakashDurlabhji commented on #2871
@veshu this was reason I added color change to ".hover" selector in css.
but then due to your comment I reverted my code to match as suggested by you.
shall I add that logic back and make a PR?

reason is because there is no visible difference in color between those green shades hence may be
"TCO 19" focus is not noticeable

PR which was earlier raised: https://github.com/topcoder-platform/topcode

[2019-08-09 00:24] veshu commented on #2871
@PrakashDurlabhji Can you please update .hover background-color to their 30 level variant.
for development it will be $tc_green_30 instead of $tc_green_10 ?

[2019-08-09 07:20] tosha5252 commented on #2912
@crazyk07

Screen reader does not announce "Clickable" and "Blank" or "All rights reserved"

"All rights reserved" is not dynamic content, so it is not necessary for the screen reader to read it.

Win10/Chrome/NVDA

[2019-08-09 07:40] tosha5252 commented on #2872
Checked in incognito mode...readout is appropriate..."back to challenge list link"

Win10/Chrome/JAWS

[2019-08-09 07:40] #2872 closed

[2019-08-09 07:40] crazyk07 commented on #2872
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097891<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-09 07:50] tosha5252 commented on #2797
1. The color green being used is acceptable
2. The tool tips are working

Win10/Chrome

[2019-08-09 07:50] #2797 closed

[2019-08-09 07:50] crazyk07 commented on #2797
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097287<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-09 15:01] crazyk07 commented on #2855
https://www.topcoder.com/challenges/30098777

[2019-08-11 10:13] PrakashDurlabhji commented on #2871
@veshu @tosha5252  new Pr according to above comment https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/25

[2019-08-11 14:28] kkartunov commented on #3205
@hokienick
Nice reference to follow https://www.oomphinc.com/notes/2019/01/images-alt-tags-out-loud-experience-oomph-inc/

For `<img>` we do support all attributes which include `alt` as well.
For "Choose Image" we need to add image tags field below it, correct?

[2019-08-11 14:32] kkartunov commented on #3205
demo: https://community-app.topcoder.com/examples/contentful/viewport/5CG0ObzaFavsxSAqYviNol
source: https://app.contentful.com/spaces/b5f1djy59z3a/entries/5CG0ObzaFavsxSAqYviNol

[2019-08-12 13:17] #3124 closed

[2019-08-12 13:55] kkartunov commented on #3205
Done with 32b8f5086fce330f8cd905d81faa18e5b2d94c03

[2019-08-12 13:55] #3205 closed

[2019-08-12 14:09] Oanh-and-only-Oanh commented on #3204
@rootelement, thanks for logging this. Looks like the SSO message is an error. You shouldn't receive that for Appirio.

Did you complete both verification steps including the clicking on the link fro your OLD account?
![image](https://user-images.githubusercontent.com/47536078/62871313-2450b800-bcd0-11e9-975c-15d37a55775d.png)

[2019-08-12 14:41] kkartunov commented on #3195
Can be partially fixed. Work is needed in rect-utils-lib...

[2019-08-12 14:43] kkartunov opened #3208 "GUI Kit Update"
https://marvelapp.com/c7h2a6h/screen/59648051

[2019-08-12 16:23] veshu commented on #2828
@sushilshinde Is this on production?

[2019-08-12 22:26] #2882 closed

[2019-08-12 22:34] crazyk07 commented on #2752
Payment appears to have been processed in a prior iteration.

[2019-08-12 23:08] crazyk07 commented on #3118
Appears that all issues are fixed, will be fixed by other PRs, or are out of scope due to Zendesk.  Closing ticket

[2019-08-12 23:08] #3118 closed

[2019-08-12 23:08] crazyk07 commented on #3118
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-13 06:16] kkartunov opened #3209 "Implement Article details page/component"
Implement a new component that will fetch and render Contentful articles.
Challenge http://www.topcoder.com/challenge-details/30099126/?type=develop

@topcoder-platform/topcodercompetitors this one is available for work as a challenge.

[2019-08-13 06:18] kkartunov opened #3210 "Implement a new component article cards"
Implement a new component that will fetch and render article cards.
Challenge: https://www.topcoder.com/challenges/30099125/?type=develop

@topcoder-platform/topcodercompetitors this one is available for work as a challenge.

[2019-08-13 06:20] kkartunov opened #3211 "Implement search bar component"
Implement search bar component
Challenge: https://www.topcoder.com/challenges/30098430/?type=develop

@topcoder-platform/topcodercompetitors this one is available as a challenge.

[2019-08-13 11:07] nkumar-topcoder commented on #2895
@r0hit-gupta can you please check comments from tosha5252 also pls verify code your fix is there at`qa-accessibility`. I have not merged into DEV yet.

[2019-08-13 12:02] r0hit-gupta commented on #2895
@nkumar-topcoder will do that.

[2019-08-13 12:33] #3195 closed

[2019-08-13 12:33] #3198 closed

[2019-08-13 16:31] hokienick commented on #3197
Slider no longer used.

[2019-08-13 16:31] #3197 closed

[2019-08-13 18:26] r0hit-gupta commented on #2895
@nkumar-topcoder @tosha5252 yes my fix is present in `qa-accessibility` branch but not in `dev` branch. How to proceed?

[2019-08-13 19:33] hokienick opened #3213 "Secondary Dropdown appears offscreen"
When the window is 1280px wide (which is what the site is designed for), and if someone clicks the dropdown in the secondary menu, the menu appears off screen.  For example:

<img width="1280" alt="Screen Shot 2019-08-13 at 12 30 52 PM" src="https://user-images.githubusercontent.com/1373998/62971343-68be7f80-bdc6-11e9-834e-6c8f6bd407ff.png">

[2019-08-13 20:23] tosha5252 commented on #2859
This works in the dev end

Win10/Chrome

[2019-08-13 20:36] tosha5252 commented on #2912
Reverified and is working correctly

Win10/Chrome/NVDA

@nkumar-topcoder

[2019-08-13 20:37] tosha5252 commented on #2813
Verified using Win10/Chrome/NVDA

@nkumar-topcoder

[2019-08-13 23:27] nahidshahin commented on #2853
@crazyk07 @veshu @sunildahiya can you please process the payment?

[2019-08-14 01:03] nithyaasworld opened #3214 "SSO Login Page: Add dynamic year rendering for copyright info"
SSO Login Page: Add dynamic year rendering for copyright info

Fix of https://github.com/topcoder-platform/community-app/issues/2599 can be referenced if needed.

![image](https://user-images.githubusercontent.com/5114190/62987433-6c511580-be5d-11e9-9c5a-f492e1235814.png)

[2019-08-14 01:04] nithyaasworld commented on #3214
CC: @Oanh-and-only-Oanh @nkumar-topcoder @codeMinter

[2019-08-14 01:53] nithyaasworld opened #3215 "[$15]Display the year in the "Challenge Deadline section" if (year!= currentYear)"
Display the year in the "Challenge Deadline section" if (year!= currentYear)

![image](https://user-images.githubusercontent.com/5114190/62989131-71fe2980-be64-11e9-9056-d970e299000a.png)

[2019-08-14 01:54] nithyaasworld commented on #3215
CC: @Oanh-and-only-Oanh @skyhit

[2019-08-14 04:32] veshu commented on #2853
@tosha5252 Is this fixed on production as well?

[2019-08-14 10:33] tosha5252 commented on #2859
'Terms' and 'Privacy Policy' are not underlined in prod env

Win10/Chrome/Edge

[ref video.zip](https://github.com/topcoder-platform/community-app/files/3500964/ref.video.zip)

[2019-08-14 10:36] sushilshinde commented on #3096
Yes, code is missing on prod

[2019-08-14 10:39] tosha5252 commented on #2912
working correctly

Win10/Chrome/NVDA

[2019-08-14 10:39] crazyk07 commented on #2912
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-14 10:40] #2912 closed

[2019-08-14 10:41] crazyk07 commented on #2912
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096714<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-14 10:58] #3213 closed

[2019-08-14 10:59] tosha5252 commented on #2813
Verified using Win10/Chrome/NVDA/JAWS

[2019-08-14 10:59] #2813 closed

[2019-08-14 11:00] crazyk07 commented on #2813
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097185<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-14 11:13] tosha5252 commented on #2853
Verified on prod

Win10/Chrome

[2019-08-14 11:13] #2853 closed

[2019-08-14 11:13] crazyk07 commented on #2853
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097101<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-14 12:39] nkumar-topcoder commented on #2859
@mishacucicea Can you please reverify master and dev branch for what's missing underline code.

is rashmi73 is still available else we can assign to @r0hit-gupta

[2019-08-14 12:53] sushilshinde commented on #2871
Made a release on npm

[2019-08-14 19:50] tosha5252 commented on #2871
Verified changed in prod

Win10/Chrome

[2019-08-14 19:50] #2871 closed

[2019-08-14 19:50] crazyk07 commented on #2871
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097114<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-15 08:03] sushilshinde opened #3218 "Need placeholder animation for submissions tab on details page"
This is only applicable to `mm-leaderboard` branch as of today.

This spinner experience

![Test-MM-For-Rated-Match 2019-08-15 13-27-02](https://user-images.githubusercontent.com/683231/63081561-86741c00-bf61-11e9-8564-62a6052d406a.png)

Should be replaced by place holder animation experience but it should imitate submission table structure

![Test-MM-For-Rated-Match 2019-08-15 13-29-09](https://u

[2019-08-15 08:04] rashmi73 commented on #3218
@sushilshinde will this be open later?

[2019-08-15 08:06] sushilshinde commented on #3218
@rashmi73 it's not approved yet, I'm adding my suggestion only.

[2019-08-15 08:07] sushilshinde commented on #3218
@Oanh-and-only-Oanh @cwdcwd @ajefts what do you guys think?

[2019-08-15 11:35] tosha5252 commented on #3184
Dev track tag colors verified changed to:

On development: green shape with Cd and TCO text should be # 258205
On design: blue shape and TCO text should be # 0076A5
On MM: orange shape and TCO text should be # ##BA4C00

[2019-08-15 11:35] #3184 closed

[2019-08-15 11:39] tosha5252 commented on #3096
Verified changed in prod

Win10/Chrome

[2019-08-15 11:39] #3096 closed

[2019-08-15 11:40] crazyk07 commented on #3096
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097687<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-15 11:46] tosha5252 commented on #2799
Verified changed to <h1>

Win10/Chrome

[2019-08-15 11:46] #2799 closed

[2019-08-15 11:46] crazyk07 commented on #2799
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097284<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-15 11:56] tosha5252 commented on #2893
passes in prod

Win10/Chrome

[2019-08-15 11:56] #2893 closed

[2019-08-15 11:56] crazyk07 commented on #2893
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097667<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-15 12:02] tosha5252 commented on #2828
In prod, prize is still being read out twice using NVDA.

WIn10/Chrome

[2019-08-15 14:40] #2848 closed

[2019-08-15 14:40] crazyk07 commented on #2848
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-15 16:22] m-yadav opened #3221 "Able to un-register from a challenge after submitting to the challenge"
**Describe the bug**
User is able to un-register from a challenge even after submitting to the challenge if the registration phase is open.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/challenges/30096444' or any challenge which has the submission and registration phase open.
2. Click on 'register'
3. Submit to the challenge.
4. Unregister button is still a

[2019-08-15 19:20] mishacucicea commented on #2859
@nkumar-topcoder The fix in on `qa-accessibility`, file [register.scss](https://github.com/appirio-tech/accounts-app/blob/qa-accessibility/app/styles/tc/register.scss) lines 5-10.
![image](https://user-images.githubusercontent.com/1721199/63120209-851b1180-bfaa-11e9-8c7b-add2d3992319.png)
Can you get those changes in? They might of been part of other commits and seems they got lost.

[2019-08-16 05:11] rashmi73 commented on #2859
yes i am available

[2019-08-16 06:21] codeMinter opened #3222 "Dashboard shows HTML"
**Describe the bug**
on Dashboard page when I close the banner of RODEO II, HTML is shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/my-dashboard'
2. Click on 'Close of the RODEO II banner'
3. See error

**Expected behavior**
No HTML should be shown

**Screenshots**
<img width="1513" alt="DashboardShowsHTML" src="https://user-images.githubusercontent.com

[2019-08-16 06:46] sushilshinde commented on #2828
@crazyk07 @tosha5252 @lakshmiathreya

Same commit

`https://github.com/topcoder-platform/community-app/pull/3196/files`

is present on production

https://github.com/topcoder-platform/community-app/blob/master/src/shared/components/challenge-detail/Header/Prizes.jsx#L35

@r0hit-gupta can you also confirm

[2019-08-16 06:51] r0hit-gupta commented on #2828
@sushilshinde yes, the code is present in the production. @tosha5252 it worked fine for you in dev env, right?

[2019-08-16 07:20] veshu commented on #2855
@r0hit-gupta https://take.ms/MRQaP When tab is opening I can still navigate in header section of main page with tab, see above attached video.

[2019-08-16 07:49] veshu commented on #2807
@r0hit-gupta I can navigate with tab behind the submission popup as well. When popup is opened the tab should be navigated behind the popup.

[2019-08-16 08:35] r0hit-gupta commented on #2855
@veshu I have fixed the issue. Please review.

[2019-08-16 09:00] nkumar-topcoder commented on #2859
thanks @mishacucicea I merged. @tosha5252 can you pls verify at DEV.
@rashmi73 this was a merge issue, hence pls ignore but thanks for letting know your availability.

[2019-08-16 09:14] r0hit-gupta commented on #2807
@veshu fixed the issue. Please review.

[2019-08-16 10:01] nithyaasworld opened #3223 "[mm-leaderboard] - Testing Feedback"
1. Performance is very slow (and not loading) for one of the challenges. Please find the video here:
https://drive.google.com/file/d/1l3F_lZXzcR3PF8GAXVlU4NVYzWt5Mc48/view?usp=sharing

2. There are results mismatch between the production and beta environment:
![image](https://user-images.githubusercontent.com/5114190/63158918-f523a900-c037-11e9-949a-191433e196f1.png)

3. Zero displayed instead of

[2019-08-16 10:02] nithyaasworld commented on #3223
CC: @sushilshinde @callmekatootie @cwdcwd

[2019-08-16 10:07] nithyaasworld commented on #3223
4. Another difference in score between Prod and Beta:

![image](https://user-images.githubusercontent.com/5114190/63160585-c14a8280-c03b-11e9-927b-705efd0b60d9.png)

[2019-08-16 10:13] nithyaasworld commented on #3223
5. Slight difference in the score decimal for one member:
![image](https://user-images.githubusercontent.com/5114190/63160901-84cb5680-c03c-11e9-897e-24d4d9131ae3.png)

[2019-08-16 10:27] tosha5252 commented on #2859
Verified working at DEV

WIn10/Chrome

[2019-08-16 10:32] ThomasKranitsas commented on #3223
Regarding **3**, a hyphen is shown when the score is not available. That could possibly mean that there was a compilation error. 0 means the score is actually zero.

Regarding the score differences, we need @sushilshinde to confirm if the data shown in beta is the correct one. Beta and prod use different data sources and differences are kinda expected.

[2019-08-16 10:34] sushilshinde commented on #3223
beta is using submission api

prod is using challenge api

but their results should be identical

[2019-08-16 11:09] kkartunov opened #3224 "Leaderboards text fix"
On all the leaderboards, for the top 3 winners cards the words "Challenges", "Points" and "Total Score" have different fonts - let's make them all 16px

[2019-08-16 11:11] kkartunov opened #3225 "Updated design memberCard"
Height of the cards should be increased as per Marvel - 267px: https://marvelapp.com/1g8j2156/screen/59181909/handoff

[2019-08-16 13:04] nkumar-topcoder commented on #2895
@r0hit-gupta I am referring the above comment from tosha. If `Announcement of fields happening twice` and this is `qa-accessibility` branch then it's an issue. Hence, I didn't merge to DEV. Can you please check.

[2019-08-16 13:09] tosha5252 commented on #2895
@nkumar-topcoder @r0hit-gupta Once it is merged to dev, then it can be re-tested.

[2019-08-16 16:17] tosha5252 commented on #2828
@r0hit-gupta yes, it worked in dev env

[2019-08-16 18:28] r0hit-gupta commented on #2828
@tosha5252 @veshu @crazyk07 I have made some changes. Should now work with both JAWS & NVDA properly. Please review.

[2019-08-16 18:37] r0hit-gupta commented on #2895
@nkumar-topcoder @tosha5252 everything is working fine for me locally on branch `qa-accessibility`.

Win/Edge/NVDA

[2019-08-17 13:00] nithyaasworld commented on #3223
6. It shows some ID instead of the handle for one of the submitters in Beta:

![image](https://user-images.githubusercontent.com/5114190/63212057-0397c080-c11d-11e9-871e-ebfd43fec061.png)

[2019-08-19 04:30] lakshmiathreya commented on #2828
Seems to be working fine with Win 10/Chrome/NVDA and MacOS/Chrome/Voice Over ... @tosha5252 @drasticdpk pls move to QA Pass after JAWS test is done ...

[2019-08-19 05:38] nkumar-topcoder commented on #2895
@tosha5252 I have merged to dev. can you pls check.

[2019-08-19 05:38] nkumar-topcoder commented on #2859
@tosha5252 Can you please verify in prod.

[2019-08-19 08:49] m-yadav opened #3227 "Ratings not updated on profile"
**Describe the bug**
A user reported that rating in his profile (https://www.topcoder.com/members/square1001) shows 2313 rating, which is only updated to TCO19 Round 3B match. His real rating is 2435, so it seems like the rating history graph is not updated (or rollbacked).

Note: In match stats (https://community.topcoder.com/stat?c=round_stats_sorted&rd=17663&dn=1&sq=Round_Statistics_Data&sc=16&

[2019-08-19 09:30] m-yadav commented on #3227
cc : @urwithat

[2019-08-19 10:19] sharathkumaranbu commented on #3227
I have the same issue in code track as well

The profile page and dashboard page still shows old rating and color

https://www.topcoder.com/members/Sharathkumar92

If I register for any challenge, I see yellow rating with updated value.

Challenge listing page

![image](https://user-images.githubusercontent.com/7723558/63258024-c0faf300-c298-11e9-8725-0a2c6b723117.png)

Rating value updated in OR

[2019-08-19 13:42] rootelement commented on #3204
Not sure I understand. The problem is that @appirio.com and @topcoder.com used to go to the same place. When I do the password reset process, the email i get in my inbox is to @topcoder.com. I don't think I have access to @appirio.com anymore.

[2019-08-19 15:03] cwdcwd commented on #3223
there could have been a synchronization issue of the data getting backfilled into the Informix DB. It's possible that the challenge API and Informix are lacking data that will be present in the v5 Submission API.

[2019-08-19 16:57] drasticdpk commented on #2807
@r0hit-gupta @veshu, Tab is not focusing on  **Select file to Upload** control, can we make it focusable  so user can able to select the file.
Here is the reference link
https://monosnap.com/file/ngYt4McVR80ZtXzSPNVl7Eo2VoLut2

[2019-08-19 17:21] drasticdpk commented on #2855
@veshu @r0hit-gupta  I am unable to test it. Please provide test url with credential .

[2019-08-19 17:28] drasticdpk commented on #2859
@tosha5252 @nkumar-topcoder  now it is working as expected.

[2019-08-19 17:50] r0hit-gupta commented on #2807
@drasticdpk thank you for the video reference. @veshu I have made some changes. Please review. Thanks!

[2019-08-19 18:04] r0hit-gupta commented on #2855
@drasticdpk to test this, First I created a new test account on accounts.topcoder.com and then ran the app in production mode. After that, I tried registering for a challenge and saw the terms popup.

[2019-08-19 19:49] #2859 closed

[2019-08-19 19:50] crazyk07 commented on #2859
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097083<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-20 03:28] tosha5252 commented on #2828
Working with Win10/Chome/JAWS

[2019-08-20 03:51] drasticdpk commented on #2855
Thank you @r0hit-gupta . @veshu  @sunildahiya does code has moved in prod env? Since we are unable to test this issue on dev env.

[2019-08-20 04:00] tosha5252 commented on #2895
Announcement of fields twice is still happening
Win10/Edge/NVDA

Pls see video
[TinyTake by MangoApps-19-08-2019-10-57-56.zip](https://github.com/topcoder-platform/community-app/files/3518669/TinyTake.by.MangoApps-19-08-2019-10-57-56.zip)

[2019-08-20 06:27] nkumar-topcoder commented on #2895
@r0hit-gupta can you please check. Earlier too it had issue on `qa-accessibility` branch post merge to `dev` same status.

[2019-08-20 11:42] tosha5252 commented on #2807
tab is still behaving the same way as in the video in dev env…

tested on win10/chrome

[2019-08-20 11:51] r0hit-gupta commented on #2807
@tosha5252 did you try this locally?

[2019-08-20 11:55] tosha5252 commented on #2807
@r0hit-gupta  no...it's not working in the dev env

[2019-08-20 12:06] r0hit-gupta commented on #2807
@tosha5252 try clearing your cache or opening in incognito mode. It is working fine for me in dev env.

[Video.zip](https://github.com/topcoder-platform/community-app/files/3520473/Video.zip)

[2019-08-20 18:06] r0hit-gupta commented on #2807
@tosha5252 also working for me on the beta URL https://beta-community-app.topcoder.com/challenges/30099617/submit

[2019-08-20 20:07] r0hit-gupta commented on #2895
@nkumar-topcoder @tosha5252 I am really sorry but I had fixed only the login page. The issue body mentioned the URL https://accounts.topcoder.com/member so I did not change the registration form. Will fix it now. @tosha5252 thanks for the video reference.

[2019-08-21 03:41] drasticdpk commented on #2807
@tosha5252 @r0hit-gupta, yes it is working as expected on test/beta environment.

[2019-08-21 03:54] nkumar-topcoder commented on #2895
thanks @tosha5252

[2019-08-21 05:20] lakshmiathreya commented on #2695
@ThomasKranitsas @Oanh-and-only-Oanh @kkartunov - Listing latency issue seems resolved. Pls confirm if this fix is moving to Prod today? If so - we need to review the need for regression testing based on the following:-
1. Are there other changes going to Prod alongwith this change?
2. What were the changes made to improve performance - any possible functional impact?

[2019-08-21 05:27] veshu commented on #2855
@sushilshinde ☝️

[2019-08-21 12:46] veshu opened #3231 "[$20]Datepicker: The instructions for the screen reader users states 'Press the down arrow key to interact with the calendar and select a date. Press the question mark key to get the keyboard shortcuts for changing dates.'. Nothing happens when we press the '?' on the keyboard."
**Describe the bug**

Date picker:   The instructions for the screen reader users states 'Press the down arrow key   to interact with the calendar and select a date. Press the question mark key   to get the keyboard shortcuts for changing dates.'. Nothing happens when we   press the '?' on the keyboard.

**To Reproduce**
Steps to reproduce the behavior:

1. Go   to the Challenges page: https://www

[2019-08-21 12:50] veshu opened #3232 "[$15]The form fields on the page do not have associated labels."
**Describe the bug**

The form fields on the page do not have associated labels.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Members login:https://accounts.topcoder.com/member.
2. Type in each form field to see if there is a visible label which remains at all times.
3. Notice that the placeholder text disappears as soon as we start typing in the form fields.
readers.

**Expected b

[2019-08-21 12:54] veshu opened #3233 "[$15]Members login page: Colour contrast issues."
**Describe the bug**

The form fields on the page do not have associated labels.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the Members login:https://accounts.topcoder.com/member

**Expected behavior**

The colour contrast should comply as per the WCAG minimum contrast requirements.

**Actual behavior**

"The colour contrast between the background and foreground of the elements d

[2019-08-21 12:56] veshu opened #3234 "[$30]Inconsistent landmarks across pages."
**Describe the bug**

Inconsistent landmarks across pages.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the sample challenge page
2. Ensure that the screen reader is switched on.
3. Press the letter 'r' a couple of times to navigate to the various landmarks on the page.
4. Note that there is no 'banner' landmark for the header, 'main landmark' for the main content of the page, and

[2019-08-21 13:00] veshu opened #3235 "Activating the 'registrants tab, displays a table with the details of the registrants. This looks like a table, however screen reader doesn't announce the data in a tabular format."
**Describe the bug**

Activating the 'registrants tab, displays a table with the details of the registrants. This looks like a table, however screen reader doesn't announce the data in a tabular format.

**To Reproduce**
Steps to reproduce the behavior:

"1. Go to the sample challenge page
2. Ensure that the screen reader is switched on.
3. Navigate to the 'registrants' control using the tab key o

[2019-08-21 13:03] PrakashDurlabhji commented on #3232
@veshu will it be open soon?

[2019-08-21 13:21] veshu opened #3236 "[$15]The form fields on the page do not have associated labels."
**Describe the bug**

The form fields on the page do not have associated labels.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the Members registration page:https://accounts.topcoder.com/member/registration.
2. Type in each form field to check if there is a visible label at all times.
3. Notice all the text fields have placeholder text which disappears when we start typing.

**Expec

[2019-08-21 13:24] veshu opened #3237 "[$10]The 'submit' link appears grayed out visually but it is not announced as disabled by the screen reader."
**Describe the bug**

The 'submit' link appears grayed out visually but it is not announced as disabled by the screen reader.
ted labels.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the sample challenges page
2. Ensure that the screen reader is switched on.
3. Navigate to the 'submit' link using the arrow keys.
4. Notice that this link appears greyed out visually however it is not

[2019-08-21 13:26] veshu opened #3238 "Screen reader reads an unlabeled button next to the 'pick a file' button on the submission screen."
**Describe the bug**

Screen reader reads an unlabelled button next to the 'pick a file' button on the submission screen.

**To Reproduce**
Steps to reproduce the behavior:
"1. Go to the Sample challenge page
2. Ensure that the screen reader is switched on.
3. Activate the 'submit' link after the registration process is completed.
4. Press the key combination 'ctrl+insert+b' to bring up a list of

[2019-08-21 13:29] veshu opened #3240 "[$10]Members registration: Colour contrast issues"
**Describe the bug**

Members registration: Colour contrast issues

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Members registration page:https://accounts.topcoder.com/member/registration

**Expected behavior**

The colour contrast should comply as per the WCAG minimum contrast requirements.

**Actual behavior**
The colour contrast between the background and foreground of the el

[2019-08-21 13:32] veshu opened #3241 "[$15]"After ""Number of Registrants"" link, there is a link with link txt as ""0"". Provide proper link txt. ""
**Describe the bug**
After ""Number of Registrants"" link, there is a link with link txt as ""0"".  Provide proper link txt.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Challenges page: https://www.topcoder.com/challenges.
2. Ensure the screen readr is switched on.
3. Tab to a challenge
4. Tab till you get to the Submission #, which is after the ""Number of registrants"" link.

[2019-08-21 13:34] veshu opened #3242 "[$25]No label associated with the 'search challenges' text box. The placeholder text disappears when user starts typing."
**Describe the bug**
No label associated with the 'search challenges' text box. The placeholder text disappears when user starts typing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Challenges page: https://www.topcoder.com/challenges.
2. Start typing in the 'search challenges' text box. Notice that the placeholder disappears and there is no additional label which is present at

[2019-08-21 13:39] veshu opened #3243 "[$15]When traversing page using tab key, focus should go to "Search" box first and then to "Search" button."
**Describe the bug**
When traversing page using tab key, focus should go to "Search" box first and then to "Search" button.

**To Reproduce**
Steps to reproduce the behavior:
N/A

**Expected behavior**

Search button should get tab focus

**Actual behavior**
Search Button does not get tab focus

**Additional context**

Type: Challenge Listing Navigation

Page: https://www.topcoder.com/challenges

[2019-08-21 13:42] veshu opened #3244 "[$15]Toggle button labeling is difficult to understand. Reword. Also, Dev toggle button does not repeat when you turn the butoon on and off."
**Describe the bug**
Toggle button labeling is difficult to understand.  Reword.  Also, Dev toggle button does not repeat when you turn the butoon on and off.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Challenges page: https://www.topcoder.com/challenges.
2. Ensure the screen readr is switched on.
3. Tab till you get to the toggle buttons

**Expected behavior**

Following 3 to

[2019-08-21 13:44] veshu opened #3245 "[$20]Improper heading level structure."
**Describe the bug**
Improper heading level structure.

**To Reproduce**
1. Go to the Challenges page: https://www.topcoder.com/challenges.
2. Make sure the screen reader is switched on.
3. Press the letter 'h' to cycle between the headings on the page.

**Expected behavior**

There should be one level 1 heading on the page representing the main content on it. 'Challenges' should be level 1 and 'o

[2019-08-21 13:46] veshu opened #3246 "[$25]List should open with keyboard and same list is currently opening from "Username" button and the image."
**Describe the bug**
List should open with keyboard and same list is currently opening from "Username" button and the image.

**To Reproduce**
1. Go   to the Challenges page: https://www.topcoder.com/challenges.
2. Make sure the screen reader is switched on.
3. Tab to Username and avatar

**Expected behavior**

Menu should open up once focused on either the username or the Avatar.

**Actual behavi

[2019-08-21 13:49] veshu opened #3247 "[$15]Differentiate Member Search from Challenge Search"
**Describe the bug**
Differentiate Member Search from Challenge Search

**To Reproduce**
1. Go to the Challenges page: https://www.topcoder.com/challenges.
2. Make sure the screen reader is switched on.
3. Tab to Username/Skill Search

**Expected behavior**

Label Search icon with : "Find members by username or skill"

**Actual behavior**
Member/ skill search is read by screenreader as "Search".

[2019-08-21 14:01] veshu opened #3248 "[$20]Adjust Headings on Challenge Details Page"
**Describe the bug**

Adjust Headings on Challenge Details Page

**To Reproduce**
"1. Go to the Sample challenge page: https://www.topcoder.com/challenges/30095347
2. Check Heading Structure"

**Expected behavior**
(revised)
H1: Challenge Title
H2: "Key Information" instead of Prizes
H2: All Headings in ""Detail"" Tab"

**Actual behavior**
(revised)
Prize as Heading 2.  It should not be H2

**Addi

[2019-08-21 14:03] veshu opened #3249 "[$15]Register and submit button should be announced, even though disabled"
**Describe the bug**

Register and submit button should be announced, even though disabled

**To Reproduce**
1. Go to sample challenge page
2. Ensure that the screen reader is switched on.
3. Try to tab onto Register or submit button (Be sure not to be previously registered)

**Expected behavior**
Announce buttons, but announce as "Disabled" when they are disabled.

**Actual behavior**
Does not re

[2019-08-21 14:06] veshu opened #3250 "[$40]When traversing page using arrow key, the page is announced in loops."
**Describe the bug**

When traversing page using arrow key, the page is announced in loops.

**To Reproduce**
1. Go to the sample challenge page
2. Ensure that the screen reader is switched on.
3.  Traverse to the last element in the page

**Expected behavior**
Should stop reading page at the end

**Actual behavior**
Once we reach the end of page and again down arrow is pressed, JAWS starts readin

[2019-08-21 16:06] Oanh-and-only-Oanh commented on #3218
@sushilshinde, let's go with this.
https://github.com/zalog/placeholder-loading/blob/develop/docs/imgs/placeholder-loading-demo-1.gif

[2019-08-21 16:20] crazyk07 commented on #3243
FYI: this is in reference to the Challenge search bar and button:

![image](https://user-images.githubusercontent.com/43656195/63449375-ddac3d80-c3f4-11e9-9e58-c6fd2017442c.png)

[2019-08-21 16:50] crazyk07 commented on #3231
Contest https://www.topcoder.com/challenges/30099900 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 16:50] crazyk07 commented on #3231
Contest https://www.topcoder.com/challenges/30099900 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 16:52] crazyk07 commented on #3233
Contest https://www.topcoder.com/challenges/30099902 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 16:52] crazyk07 commented on #3233
Contest https://www.topcoder.com/challenges/30099902 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 16:56] crazyk07 commented on #3237
Contest https://www.topcoder.com/challenges/30099906 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 16:56] crazyk07 commented on #3237
Contest https://www.topcoder.com/challenges/30099906 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 16:57] crazyk07 commented on #3238
Contest https://www.topcoder.com/challenges/30099910 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 16:57] crazyk07 commented on #3238
Contest https://www.topcoder.com/challenges/30099910 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 16:59] crazyk07 commented on #3234
Contest https://www.topcoder.com/challenges/30099914 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 16:59] crazyk07 commented on #3234
Contest https://www.topcoder.com/challenges/30099914 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:00] crazyk07 commented on #3240
Contest https://www.topcoder.com/challenges/30099911 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:00] crazyk07 commented on #3240
Contest https://www.topcoder.com/challenges/30099911 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:00] crazyk07 commented on #3244
Contest https://www.topcoder.com/challenges/30099917 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:00] crazyk07 commented on #3244
Contest https://www.topcoder.com/challenges/30099917 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:00] PrakashDurlabhji commented on #3243
@veshu whether this can be taken?

[2019-08-21 17:00] crazyk07 commented on #3232
Contest https://www.topcoder.com/challenges/30099920 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:00] crazyk07 commented on #3232
Contest https://www.topcoder.com/challenges/30099920 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:00] crazyk07 commented on #3243
Contest https://www.topcoder.com/challenges/30099916 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:00] crazyk07 commented on #3243
Contest https://www.topcoder.com/challenges/30099916 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:01] crazyk07 commented on #3242
Contest https://www.topcoder.com/challenges/30099921 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:01] crazyk07 commented on #3242
Contest https://www.topcoder.com/challenges/30099921 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:01] crazyk07 commented on #3246
Contest https://www.topcoder.com/challenges/30099922 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:01] crazyk07 commented on #3246
Contest https://www.topcoder.com/challenges/30099922 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:02] crazyk07 commented on #3243
Contest https://www.topcoder.com/challenges/30099916 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:02] crazyk07 commented on #3247
Contest https://www.topcoder.com/challenges/30099923 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:02] crazyk07 commented on #3247
Contest https://www.topcoder.com/challenges/30099923 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:04] crazyk07 commented on #3236
Contest https://www.topcoder.com/challenges/30099925 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:04] crazyk07 commented on #3236
Contest https://www.topcoder.com/challenges/30099925 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:06] crazyk07 commented on #3250
Contest https://www.topcoder.com/challenges/30099931 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:07] crazyk07 commented on #3250
Contest https://www.topcoder.com/challenges/30099931 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:07] crazyk07 commented on #3241
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:07] crazyk07 commented on #3241
[504]: Failed to create challenge.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:08] crazyk07 commented on #3243
Contest https://www.topcoder.com/challenges/30099916 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:10] crazyk07 commented on #3247
Contest https://www.topcoder.com/challenges/30099923 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:11] crazyk07 commented on #3245
[500]: Challenge for the updated issue 3245 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:11] crazyk07 commented on #3245
[500]: Challenge for the updated issue 3245 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:11] crazyk07 commented on #3248
[500]: Challenge for the updated issue 3248 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:11] crazyk07 commented on #3248
[500]: Challenge for the updated issue 3248 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:13] crazyk07 commented on #3233
Contest https://www.topcoder.com/challenges/30099902 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:13] crazyk07 commented on #3241
Contest https://www.topcoder.com/challenges/30099938 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:15] crazyk07 commented on #3249
Contest https://www.topcoder.com/challenges/30099940 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:15] crazyk07 commented on #3249
Contest https://www.topcoder.com/challenges/30099940 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:16] crazyk07 commented on #3248
[500]: Challenge for the updated issue 3248 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:16] crazyk07 commented on #3248
[500]: Challenge for the updated issue 3248 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:17] veshu commented on #2915
@topcoder-platform/topcodercompetitors
Hello members,  We have new set of accessibility issues with good prize and easy fixes https://github.com/topcoder-platform/community-app/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Atcx_OpenForPickup+label%3AAccessibility with total prize to grab $275+

Join the bug bash and help Topcoder more accessible to differently able.

[2019-08-21 17:18] crazyk07 commented on #3245
Contest https://www.topcoder.com/challenges/30099942 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:18] crazyk07 commented on #3245
Contest https://www.topcoder.com/challenges/30099942 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:18] crazyk07 commented on #3248
Contest https://www.topcoder.com/challenges/30099941 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:19] crazyk07 commented on #3248
Contest https://www.topcoder.com/challenges/30099941 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:21] Gauravseta commented on #3233
@veshu can you please say where exactly contrast issue is to be satisfied with perfect color hash if possible?

[2019-08-21 17:32] rashmi73 commented on #3247
@veshu Pr on qa-accessibility?

[2019-08-21 17:33] veshu commented on #3233
@Gauravseta For color hash please see our brand colors here https://marvelapp.com/c7h2a6h/screen/59648056/handoff, you can choose the color that passes the WCAG level.

Regarding where to fix, see the actual result it is saying login button is not passing contrast on both non-active and active state, and we need to make this similar to Registration page's button.

If you can't find the passing col

[2019-08-21 17:34] veshu commented on #3247
@rashmi73 Yes please

[2019-08-21 17:34] crazyk07 commented on #3241
Contest https://www.topcoder.com/challenges/30099938 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:34] crazyk07 commented on #3240
Contest https://www.topcoder.com/challenges/30099911 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:44] rashmi73 commented on #3247
@veshu PR https://github.com/topcoder-platform/community-app/pull/3251

[2019-08-21 17:48] crazyk07 commented on #3248
Contest https://www.topcoder.com/challenges/30099941 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 17:50] rashmi73 commented on #3248
@veshu
1.can you please clarify on  ""H1: ""Challenge Details"  i do not find it on page.

[2019-08-21 18:03] crazyk07 commented on #3245
Contest https://www.topcoder.com/challenges/30099942 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 18:06] veshu commented on #3248
@crazyk07 @Oanh-and-only-Oanh Can you please help on this?

[2019-08-21 18:10] PrakashDurlabhji commented on #3243
@veshu it is done in https://github.com/topcoder-platform/community-app/pull/3252

[2019-08-21 18:11] rashmi73 commented on #3248
@veshu also it would be helpful If I get some inputs on this too " H3: All Headings in ""Detail"" Tab""

[2019-08-21 18:17] veshu commented on #3248
@rashmi73 This must mean heading inside details tab https://take.ms/5MAgN

[2019-08-21 18:22] crazyk07 commented on #3246
Contest https://www.topcoder.com/challenges/30099922 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 18:47] nahidshahin commented on #3241
@veshu the problem already solved at `qa-accessibility` branch but not in `develop` branch.

The fix is at this line:
https://github.com/topcoder-platform/community-app/blob/qa-accessibility/src/shared/components/challenge-listing/ChallengeCard/NumSubmissions/index.jsx#L54

[2019-08-21 18:56] crazyk07 commented on #3244
Contest https://www.topcoder.com/challenges/30099917 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 19:37] crazyk07 commented on #3122
Contest https://www.topcoder.com/challenges/30099955 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 19:37] crazyk07 commented on #3122
Contest https://www.topcoder.com/challenges/30099955 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 19:42] nahidshahin commented on #3244
PR https://github.com/topcoder-platform/community-app/pull/3254

[2019-08-21 20:16] crazyk07 commented on #3237
Contest https://www.topcoder.com/challenges/30099906 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 20:17] r0hit-gupta commented on #3237
PR at https://github.com/topcoder-platform/topcoder-react-utils/pull/49

[2019-08-21 20:22] crazyk07 commented on #3249
Contest https://www.topcoder.com/challenges/30099940 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 20:24] r0hit-gupta commented on #3249
Fixed by PR https://github.com/topcoder-platform/topcoder-react-utils/pull/49

[2019-08-21 20:40] crazyk07 commented on #3250
Contest https://www.topcoder.com/challenges/30099931 has been updated - it has been assigned to nithyaasworld.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 20:41] crazyk07 commented on #3234
Contest https://www.topcoder.com/challenges/30099914 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 20:54] r0hit-gupta commented on #3234
@veshu can you please provide with the links where the landmarks are not present?

[2019-08-21 21:35] crazyk07 commented on #3232
Contest https://www.topcoder.com/challenges/30099920 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-21 22:34] crazyk07 commented on #3248
@rashmi73 @veshu  sorry, correction and clarification from Original guidance:

H1: The Name of the challenge.  This should be H1 on all of our challenge pages.  (Pre-existing)
H2: Veshu is correct with his explanation, except the headings in the details portion are all H2 Headings (Pre-existing)

We need to rename the "Prize" Title to "Key Information"
![image](https://user-images.githubuserconten

[2019-08-22 00:53] crazyk07 commented on #2677
Contest https://www.topcoder.com/challenges/30097085 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-22 00:55] codeMinter commented on #2677
@sushilshinde I see you had put this on `Backlog`, I guess we are looking for fix on this in backend.

[2019-08-22 02:32] crazyk07 commented on #3242
FYI: Please reference this guide:  https://www.w3.org/WAI/tutorials/forms/labels/

1. We need to have a form label for the challenge search box.
2. "Search Challenges" text should be visual, next to the Search bar (You can decide the best method to make it visually sound)

[2019-08-22 03:22] veshu commented on #3234
@r0hit-gupta https://www.w3.org/TR/WCAG20-TECHS/ARIA11.html this is the guidelines for this.

We need to separate the landmarks so user can outline the regions on challenge detail page.

Note: This behavior should also be fixed on other pages (listing, login/register, submit page)

[2019-08-22 08:44] r0hit-gupta commented on #3234
PRs at https://github.com/appirio-tech/accounts-app/pull/303 & https://github.com/topcoder-platform/community-app/pull/3255

[2019-08-22 08:45] crazyk07 commented on #3236
Contest https://www.topcoder.com/challenges/30099925 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-22 09:07] r0hit-gupta commented on #3236
PR at https://github.com/appirio-tech/accounts-app/pull/304

[2019-08-22 09:51] drasticdpk commented on #3235
Verified that issue is no longer exist with screen reader JAWS.

[2019-08-22 09:51] #3235 closed

[2019-08-22 11:10] crazyk07 commented on #3242
Contest https://www.topcoder.com/challenges/30099921 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-22 11:12] crazyk07 commented on #3242
Contest https://www.topcoder.com/challenges/30099921 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-22 12:43] mishacucicea commented on #3240
@nkumar-topcoder Can we merge this?

[2019-08-22 13:19] dushyantb opened #3257 "Submission tab is showing the user_id instead of the handle for the logged in user"
`Submission` tab is showing the `user_id` instead of the `handle` for the `logged in` user
<img width="1319" alt="Screenshot 2019-08-22 at 6 47 03 PM" src="https://user-images.githubusercontent.com/1861713/63517903-81890c80-c50d-11e9-887f-7c3198b88b30.png">

[2019-08-22 13:25] r0hit-gupta commented on #2895
@nkumar-topcoder @tosha5252 @mishacucicea created a new PR. This should properly fix both the registration page and the login page. Please review.

[2019-08-22 13:29] crazyk07 commented on #3257
Contest https://www.topcoder.com/challenges/30100093 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-22 13:29] crazyk07 commented on #3257
Contest https://www.topcoder.com/challenges/30100093 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-22 13:30] crazyk07 commented on #3257
Contest https://www.topcoder.com/challenges/30100093 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-22 13:30] crazyk07 commented on #3257
Contest https://www.topcoder.com/challenges/30100093 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-22 13:30] crazyk07 commented on #3257
Contest https://www.topcoder.com/challenges/30100093 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-22 18:21] rashmi73 commented on #3248
@veshu I am completely confused after @crazyk07 commented above.
I feel contradictions in expections still I have raised PR to my best given the requirement of issue stated.

PR https://github.com/topcoder-platform/community-app/pull/3258

[2019-08-22 18:27] crazyk07 commented on #3248
Sorry about that.  Which point should I clarify?

[2019-08-22 18:32] crazyk07 commented on #3233
Contest https://www.topcoder.com/challenges/30099902 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-22 18:34] rashmi73 commented on #3248
**H1: The Name of the challenge. This should be H1 on all of our challenge pages. (Pre-existing)**

it is already h1 on challenge page, but issue description says convert it to h2.
so I need to convert it correct?

[2019-08-22 18:38] crazyk07 commented on #3248
Ignore the issue description, it is incorrect.  I edited it originally.

You do not need to change it if it is already there on the page.

[2019-08-22 18:40] crazyk07 commented on #3248
In summary, you only need to change "Prize" to "Key Information" and ensure it remains a H2 Tag.  More simplified than before

[2019-08-22 18:44] rashmi73 commented on #3248
@crazyk07 PR updated according to above comment.
@veshu https://github.com/topcoder-platform/community-app/pull/3258

[2019-08-22 20:06] crazyk07 commented on #3238
Contest https://www.topcoder.com/challenges/30099910 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-22 20:06] r0hit-gupta commented on #3238
@veshu looks like the issue is fixed already. Unable to view any unlabelled button. Please review.

[2019-08-22 21:18] rashmi73 commented on #3233
@veshu PR https://github.com/appirio-tech/accounts-app/pull/306

[2019-08-22 21:19] crazyk07 commented on #3231
Contest https://www.topcoder.com/challenges/30099900 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-22 21:21] PrakashDurlabhji commented on #3246
@veshu making PR in sometime

[2019-08-22 22:14] crazyk07 commented on #3248
Contest https://www.topcoder.com/challenges/30099941 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-23 04:05] veshu commented on #3246
@PrakashDurlabhji Ok please submit by next 3 hours, else we will open for pickup. Thanks!

[2019-08-23 05:09] kkartunov opened #3259 "Revert "General" theme formatting"
Restore it as it was before the accessibility update.

[2019-08-23 05:50] PrakashDurlabhji commented on #3246
@veshu just few minutes now working actively

[2019-08-23 06:20] PrakashDurlabhji commented on #3246
@veshu it is done in https://github.com/topcoder-platform/community-app/pull/3261

[2019-08-23 09:52] nkumar-topcoder commented on #3240
@sushilshinde pls look into this

[2019-08-23 12:44] dushyantb opened #3262 "New Submission Tab is showing `4` as a score if the submission's actual score is `-1`"
submission-id - `188fb59a-0f6a-4074-9345-6691c9f3f268`
challenge - `30095825`

<img width="1126" alt="Screenshot 2019-08-23 at 3 58 35 PM" src="https://user-images.githubusercontent.com/1861713/63593439-a6df4e80-c5d1-11e9-80b1-4d9930d24f6b.png">
<img width="1376" alt="Screenshot 2019-08-23 at 3 58 47 PM" src="https://user-images.githubusercontent.com/1861713/63593442-a6df4e80-c5d1-11e9-91c2-5f5f14

[2019-08-23 17:26] tosha5252 commented on #3247
Verified fixed...screen-reader announces "Find member by username or skill"

Win10/chrome/NVDA

[2019-08-23 17:33] tosha5252 commented on #3244
Toggle button does not switch off or on when pressing enter or space...

Screen-reader announced "toggle button, press checked"...has not been re-worded.

Win10/Chrome/NVDA

[2019-08-23 17:40] tosha5252 commented on #3245
Verified fixed in Chrome using NVDA...screen-reader announces Open for Registration and Ongoing Challenges headings as level 2

Win10

[2019-08-23 17:41] nahidshahin commented on #3244
@tosha5252 I don't understand the problem

In this ticket I only changed the labels.
So the screen-reader should announce "Design toggle button pressed On" if design toggle was pressed.

[2019-08-23 17:45] tosha5252 commented on #3243
Verified working correctly

Win10/Chrome

[2019-08-23 17:59] tosha5252 commented on #2828
Verified working correctly in prod

Win/Chrome/JAWS

[2019-08-23 17:59] #2828 closed

[2019-08-23 18:00] crazyk07 commented on #2828
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097359<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-23 18:14] tosha5252 commented on #2855
@veshu is there usually a pop-up after registering?  I can't reproduce this in prod.

[2019-08-23 18:21] tosha5252 commented on #2807
Verified working correctly

Win10/Chrome

[2019-08-23 18:21] #2807 closed

[2019-08-23 18:21] crazyk07 commented on #2807
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097855<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-23 18:21] r0hit-gupta commented on #2855
@tosha5252 check this once https://github.com/topcoder-platform/community-app/blob/develop/docs/mocking-terms.md
You should be able to mock the popup using this.

[2019-08-23 20:02] rashmi73 commented on #3231
@veshu PR soon in few hour

[2019-08-23 20:05] PrakashDurlabhji commented on #3257
@ThomasKranitsas if you agree then can I try this if you are busy with some other challenge? thanks

[2019-08-24 03:21] veshu commented on #3244
@nahidshahin Yes  make toggle from keyboard too.

[2019-08-24 05:25] drasticdpk commented on #2855
@tosha5252 @r0hit-gupta , it was verified and working as expected.

[2019-08-24 05:26] #2855 closed

[2019-08-24 05:26] crazyk07 commented on #2855
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096891<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-24 07:33] r0hit-gupta commented on #3231
@rashmi73 are you still working on it?

[2019-08-24 09:27] rashmi73 commented on #3231
@r0hit-gupta  yes was investigating the issue.

@veshu here is detailed explanation for it.
1. It works perfectly well in firefox, issue is just with chrome from the library itself.

2.regarding showing button for shortcuts panel, react-dates by default shows "?" button at bottom right corner of picker, but it is not working in chrome, but working perfectly in firefox.

Also to justify the above c

[2019-08-24 10:14] rashmi73 commented on #3231
@veshu it should work fine now with this PR. my above comment can be ignored.
PR https://github.com/topcoder-platform/community-app/pull/3265

[2019-08-24 12:01] nahidshahin commented on #3244
@veshu I just checked https://www.topcoder.com/challenges, toggle by hitting `enter` key is working. Can you please check?

[2019-08-25 06:23] veshu commented on #3241
Yes the code is on branch.

@sushilshinde looks code is not moved on dev and master.

[2019-08-25 09:59] r0hit-gupta commented on #3231
@rashmi73 please check https://github.com/topcoder-platform/community-app/pull/3265#issuecomment-524540267

[2019-08-26 15:20] veshu commented on #3250
@topcoder-platform/topcodercompetitors

This is open for pickup, Let us know if any concern. Thanks!

[2019-08-26 15:37] veshu commented on #3060
@topcoder-platform/topcodercompetitors This is open for pickup.

The fix is to remove the color variable not present on the handoff from https://github.com/topcoder-platform/topcoder-react-ui-kit and replace those variables used on the https://github.com/topcoder-platform/community-app and https://github.com/appirio-tech/accounts-app with respective allowed color variable.

e.g. $tc-dark-blue-120:

[2019-08-26 21:43] ajefts opened #3267 "Review Opportunity Pages don't load in sub communities"
**Describe the bug**
When viewing a review opportunity in a site like topgear.topcoder.com, the page loads with a 404 error.  Here is an example of a URL:  https://topgear.topcoder.com/challenges/30090086/review-opportunities

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'topgear.topcoder.com/challenges'
2. Click on 'Review Opportunities' in the side nav
3. Click 'Apply' on any of th

[2019-08-27 04:02] veshu commented on #3250
@topcoder-platform/topcodercompetitors prize is doubled here.

[2019-08-27 04:29] veshu commented on #2384
@sushilshinde @nithyaasworld This can be closed?

[2019-08-27 04:38] veshu commented on #3123
@nithyaasworld Is this still reproducible? I can't reproduce this.

[2019-08-27 04:57] veshu commented on #3242
Prize updated with respect to https://github.com/topcoder-platform/community-app/pull/3256#issuecomment-525136013

[2019-08-27 12:57] drasticdpk commented on #3246
Hi @veshu and Team ,
1. Is it screen reader test ? if yes which screen reader should prefer ?
2. Expected behavior is quit confusion. We should treat "User name" and "Avatar" as different control? if yes currently while hovering the mouse of each control, menu list is opening.
3. Currently Search control is missing while reaching the tab on search icon. May be it is due to current changes.

[2019-08-27 17:04] gets0ul commented on #3250
Can't reproduce it using down arrow key.
Do you have video for this issue?

[2019-08-27 19:02] r0hit-gupta commented on #3060
@veshu as per the marvel handoff, the variable `$tc-green-110` does not equals `#328732`. Can you please confirm what color to use? Thanks!

[2019-08-28 03:21] veshu commented on #3060
@Dara-K Can you please help here? The color you have provided 328732 is not present on handoff. Whether we should update the palette or have $tc-green-120 variable as of now. Thanks!

[2019-08-28 03:27] veshu commented on #3246
@PrakashDurlabhji Please check this.

Based on above confirmation from @crazyk07, please see the summary I have made below:

Let us know if it is not clear.

FYI @sexta13

[2019-08-28 03:33] veshu commented on #3250
@drasticdpk @lakshmiathreya

Is this valid issue as I tested with github with tab key and once it reaches down to page, in next tab it will reach top and continues the same.

If it is valid could you please share the video with JAWS.

[2019-08-28 05:11] dushyantb opened #3269 "Final ranking should not be visible until the `REVIEW` phase is closed for the challenge"
New `Submission` tab is showing `Final` ranking of the members before the `Review` phase is closed, which should not be the case.
It should be `masked` like we do with the `final score`

<img width="1680" alt="Screenshot 2019-08-28 at 10 37 14 AM" src="https://user-images.githubusercontent.com/1861713/63827297-3bee9880-c980-11e9-9987-0720c0f08c25.png">

[2019-08-28 06:52] drasticdpk commented on #3250
@veshu, below is my  finding.
For Tab key it is working as expected. Here tester is asking for arrow down key too. With down arrow key, JAWS is speaking last control(Which is also same in w3.org, github too.) and JAWS does not start reading the page from starting. So it is not issue.
Here is the reference :
https://monosnap.com/file/iR9UikgsBCAEAA2bMVGy7zJ1bTOsJ4

[2019-08-28 06:54] veshu commented on #3250
@crazyk07 @Oanh-and-only-Oanh closing this based on confirmation from @drasticdpk

cc @lakshmiathreya @tosha5252

[2019-08-28 06:58] ThomasKranitsas commented on #3257
I'm putting this on a challenge.

[2019-08-28 06:59] #3250 closed

[2019-08-28 07:01] ThomasKranitsas commented on #3257
The problem is that we're getting the user IDs from the `challenge.submissions` property which is coming from v4 (which is not updated properly).

https://github.com/topcoder-platform/community-app/blob/c87f5837a2af5a0e33dcc357844d2f9d158fd986/src/shared/components/challenge-detail/Submissions/index.jsx#L35

This should happen on the react lib and the `submitterIds` should be populated based on th

[2019-08-28 07:03] veshu commented on #3244
@tosha5252 can you please reverify clearing cache.

cc @drasticdpk @lakshmiathreya

[2019-08-28 07:10] PrakashDurlabhji commented on #3257
F2F?

[2019-08-28 07:43] empaguia84 opened #3270 "JOIN TOPCODER Registration Form Error Using GMail and Facebook Account"
**Describe the bug**
A clear and concise description of what the bug is.
The design bug happened after failing to register and when the error message appeared: **"We weren't able to register you because of a system error. Please try again or contact support@topcoder.com."** in [](https://accounts.topcoder.com/member/registration). The First Name and Last Name fields was moved left, instead staying

[2019-08-28 15:59] Dara-K commented on #3060
That's a really good question. When I updated the GUI KIT, I used the #258205 very dark green color that works for texts contrasts and passes accessibility test level AA2. Later, For the graphics elements, I tried to do a lighter version of green - #328732 which would still pass our accessibility tests, but not be that dark, as the colors are losing their contrasts between them and vibrance by dar

[2019-08-28 18:16] r0hit-gupta commented on #3060
@veshu how should we proceed here?

[2019-08-29 04:49] veshu commented on #3060
@r0hit-gupta Per @Dara-K reply, we need to interchange the color code of 120 and 110. instead of removing 120 from ui-kit.

And replace the usage of `tc-green-120` with `tc-green-110` and vice-versa.

Let me know if it will break the work we did or any concern. Thanks!

[2019-08-29 07:12] r0hit-gupta commented on #3060
PRs at https://github.com/topcoder-platform/topcoder-react-ui-kit/pull/26 & https://github.com/topcoder-platform/community-app/pull/3272

[2019-08-29 07:50] Dara-K commented on #3060
@veshu I am not sure how you use the variables in coding, but I recall the current, tc-green-110, was used for color handles and other green texts like TCO small tag/challenge type, etc.  If we update tc-green-110 to #328732, it won't pass the accessibility test so we will probably have to switch variables? just my 2 cents - I will leave it up to you.

[2019-08-29 10:27] veshu commented on #3060
@Dara-K we are inter changing the values, so it won't affect the previous work we did, it just matching the variable with color shade you said above. @r0hit-gupta can you please confirm my understanding won't break the accessibility?

[2019-08-29 21:05] rashmi73 commented on #3231
updating in sometime sorry for delay

[2019-08-30 03:59] veshu commented on #3246
@topcoder-platform/topcodercompetitors this is open for pickup.

[2019-08-30 04:04] crazyk07 commented on #3246
Contest https://www.topcoder.com/challenges/30099922 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-08-30 04:05] PrakashDurlabhji commented on #3246
@veshu just sometime else i will release myself confirm

[2019-08-30 07:19] r0hit-gupta commented on #3060
@veshu you are right, interchanging the values shouldn't break anything.

[2019-08-31 22:32] PrakashDurlabhji commented on #3246
@veshu it is done https://github.com/topcoder-platform/community-app/pull/3275

[2019-09-01 16:38] nithyaasworld commented on #3257
The Challenge in the screenshot provided is not opening up. So I am not able to verify for that challenge.

However, I verified for all the available MM challenges on the platform and I find only topcoder handle and no IDs.

**@ThomasKranitsas I think we can close this issue. But we need to know why some challenges are not opening up.**

Below are the two challenges that are currently not opening.

[2019-09-01 18:42] nithyaasworld commented on #3269
Verified

![image](https://user-images.githubusercontent.com/5114190/64080254-8e78dd80-cd0f-11e9-875a-ee98b76f1653.png)

[2019-09-01 19:10] nithyaasworld commented on #3257
Verification Screenshot:

![image](https://user-images.githubusercontent.com/5114190/64081129-46ab8380-cd1a-11e9-8633-cab5fd26b9fa.png)

[2019-09-01 19:12] nithyaasworld commented on #3262
Is this okay or should we show -1 instead of the dash?

![image](https://user-images.githubusercontent.com/5114190/64081147-86726b00-cd1a-11e9-9c75-bcb86ccd7de2.png)

[2019-09-02 06:57] nahidshahin commented on #3244
@tosha5252 any update?

[2019-09-02 07:40] lakshmiathreya commented on #3248
Verified with Chrome on Win10 and MacOS :-
--'Prize' is changed to 'Key Information' and is h2.
-- Under Details - Heading is h2.
-- Challenge title is h1.

[2019-09-02 07:40] crazyk07 commented on #3248
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-02 07:53] lakshmiathreya commented on #3245
- 'Open for Registration' and 'Ongoing Challenges' are h2 as expected.
- However, 'Challenge' is not h1 - it is expected as per this requirements of the issue.  Fyi @r0hit-gupta @crazyk07 @sushilshinde @tosha5252

[2019-09-02 07:59] lakshmiathreya commented on #3247
Verified on Win10/Chrome/NVDA and MacOS/Chrome/MacOS - screen reader reads our "Find member by username or skill".

[2019-09-02 07:59] crazyk07 commented on #3247
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-02 08:09] lakshmiathreya commented on #3243
Verified MacOS/Chrome and Win10/Chrome - tab focus working correctly: search box and the search button.

[2019-09-02 08:09] crazyk07 commented on #3243
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-02 08:16] #3247 closed

[2019-09-02 08:16] crazyk07 commented on #3247
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099923<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-02 08:18] #3248 closed

[2019-09-02 08:18] crazyk07 commented on #3248
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099941<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-02 08:20] #3243 closed

[2019-09-02 08:20] crazyk07 commented on #3243
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099916<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-02 09:58] veshu commented on #3231
@rashmi73 Are you going to submit the fix any soon? If not please release the issue in next 3-4 hours. Thanks!

[2019-09-02 10:00] rashmi73 commented on #3231
@veshu will submit it immediately

[2019-09-02 10:46] r0hit-gupta commented on #3245
@lakshmiathreya are you talking about the following 'Challenge' link?

<img width="1275" alt="Screen Shot 2019-09-02 at 4 12 22 PM" src="https://user-images.githubusercontent.com/16841686/64109260-ad718100-cd9c-11e9-813d-a21096cc2fd8.png">

[2019-09-02 14:05] rashmi73 commented on #3231
@veshu updating PR

[2019-09-02 18:04] rashmi73 commented on #3231
@veshu @r0hit-gupta kindly verify taking my PR and make sure

1.from node_modules react-dates is deleted
2. run 'npm install'

go to firefox and try focus on calendar using tab, then press "?" however possible on your keyboard, shortcuts will open,

no need to press tab twice to enter calendar.

kindly confirm

[2019-09-02 18:07] PrakashDurlabhji commented on #3246
@veshu PR updated

[2019-09-02 21:12] tosha5252 commented on #3245
Heading level for 'Challenges' or 'SRMs' has not been updated.

Win10/Chrome

[2019-09-02 21:20] tosha5252 commented on #3244
Screen reader is easy to understand and each toggle button switches on and off when pressing enter.

[2019-09-03 08:09] nithyaasworld commented on #3262
@ThomasKranitsas @dushyantb @sushilshinde

If the most recent provisional score is 0 for a user, then his final provisional score is displayed as dash.
Expecting the Final Provisional score same as the user's most recent provisional score.

![image](https://user-images.githubusercontent.com/5114190/64155312-25e54a00-ce50-11e9-9f8e-028276fa49cf.png)

[2019-09-03 11:08] lakshmiathreya commented on #3060
@veshu @r0hit-gupta @sushilshinde pls clarify how is this fix to be reviewed in QA?

[2019-09-03 11:08] lakshmiathreya commented on #3060
@drasticdpk @tosha5252 fyi

[2019-09-03 13:08] nithyaasworld opened #3278 "Sub community filters are not working"
**Describe The Bug**
Sub community filters are not working on challenge page. It always fetches blank results.

![image](https://user-images.githubusercontent.com/5114190/64175887-ec293900-ce79-11e9-8733-6b2c9f15a031.png)

![image](https://user-images.githubusercontent.com/5114190/66109106-944d3180-e5e1-11e9-9b9f-67ebb9804e21.png)

**Step to reproduce**
1. Visit www.topcoder.com/challenges
2. Clic

[2019-09-03 13:36] tosha5252 commented on #3234
Also note that this issue can be found on the other pages too. The landmarks are inconsistent."

Status: Partially fixed on a few pages. Correctly fixed on the sample challenge page.

@sushilshinde what pages does this issue cover?

[2019-09-03 13:40] sushilshinde opened #3279 "Zurich subdomain challenge listing issue"
Question (came up from Zurich): When we navigate to their challenge listing like this:
1. https://zurich.topcoder.com/challenges?communityId=zurich
We see the correct listing of only their challenges. However when they go here:
2. https://zurich.topcoder.com/challenges
We see all listings (as expected).
This has caused an issue in some cases where users are arriving at #2 url through other means.

[2019-09-03 13:45] tosha5252 commented on #3242
There is placeholder text before user starts to type...is it necessary that there still be placeholder text after user starts typing? @lakshmiathreya

[2019-09-03 13:49] ajefts opened #3280 "Past Marathon Listings Not Usable"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/challenges?filter[tracks][data_science]=true&bucket=past'
2. Wait for marathon matches to load
3. For me it either doesn't load, or it's REALLY slow.

**Expected behavior**
Past matches should load right away and all filter controls should w

[2019-09-03 13:51] ajefts commented on #3280
@Oanh-and-only-Oanh @sushilshinde @cwdcwd This one is a pain point for us and fits into the DS priority.  Can we add it to the list for something we can fix in the short term?

[2019-09-03 13:54] sushilshinde commented on #3279
https://github.com/topcoder-platform/community-app/pull/3274

[2019-09-03 17:51] tosha5252 commented on #3246
Menu still does not open up when using the tab button

Win10/Chrome

[2019-09-04 03:35] veshu commented on #3060
@lakshmiathreya @drasticdpk @tosha5252 For this please verify that the accessibility is not broken for green color elements

[2019-09-04 03:36] veshu commented on #3234
@tosha5252 Current scope pages are challenge listing, challenge detail and submit page,
Register page, login page.

[2019-09-04 03:44] veshu commented on #3242
@tosha5252 That is not possible to have placeholder even after user starts typing.

[2019-09-04 03:51] nahidshahin commented on #3244
@veshu can you please process the payment?

[2019-09-04 03:59] veshu commented on #3244
@nahidshahin We need to verify on production as well before releasing the payment. Once we verified we will process the payment. Thanks!

[2019-09-04 09:47] lakshmiathreya commented on #3242
@veshu pls clarify - since the specific request in this Issue is to make sure placeholder is seen after user starts typing - can we infer - this Issue cannot be fixed? Fyi - @tosha5252

[2019-09-04 16:10] crazyk07 commented on #3245
@r0hit-gupta  No need to make "SRMs" a heading, it is just a link.

But "Challenges" should be the H1 of the page
cc @lakshmiathreya @tosha5252

[2019-09-05 03:31] veshu commented on #3242
@lakshmiathreya Yes we can't always show the placeholder. This is default behavior of input control. as solution for the expected result "There should be a label visible at all times."

There is label before the search box as suggested here https://github.com/topcoder-platform/community-app/issues/3242#issuecomment-523721688

![image](https://user-images.githubusercontent.com/2202045/64309882-c311

[2019-09-05 05:06] veshu commented on #3249
@tosha5252 @drasticdpk @lakshmiathreya Could you please verify this?

[2019-09-05 05:14] veshu commented on #3245
@r0hit-gupta

Note: Bug bash is closing on 8PM EST, 5 Sept. If this is not fixed by then it will be closed.

[2019-09-05 06:07] drasticdpk commented on #3249
@veshu  issue has reference with https://github.com/topcoder-platform/community-app/issues/3237 it seems code has not merge yet.
@r0hit-gupta Here 'submit' is having link instead of button  have you fixed that one too?
![image](https://user-images.githubusercontent.com/25297859/64315809-cebbb280-cfd2-11e9-8510-1b2ab56e1ae3.png)

[2019-09-05 06:19] drasticdpk commented on #3242
Pass as expected. FYI @lakshmiathreya @tosha5252

[2019-09-05 06:36] lakshmiathreya commented on #3242
Label for 'Search Challenges' before the search box is added. Verified on MacOS/Chome and Win10/Chrome. Placeholder text in text input box can't be visible after user starts typing - as clarified above.

[2019-09-05 07:41] drasticdpk commented on #3240
@r0hit-gupta @mishacucicea  can you please confirm it ? still it is fail, here is the reference.

![image](https://user-images.githubusercontent.com/25297859/64318911-e7c86180-cfda-11e9-95c5-90c305890a8b.png)

[2019-09-05 09:06] lakshmiathreya commented on #3249
Disabled Register and Submit buttons continue to be skipped. Pls clarify intended fix for this Issue. @veshu @drasticdpk @sushilshinde

[2019-09-05 09:13] sushilshinde commented on #3249
topcoder-react-utils dependecies

[2019-09-05 09:32] veshu commented on #3231
@rashmi73 This is not fix. Still when I am text box it is reading same. When I press down arrow or question mark it doesn't work. but If I tab once and move focus to calendar then it will work.

Note: Bug bash is closing on 8PM EST, 5 Sept. If this is not fixed by then it will be closed.

[2019-09-05 09:35] drasticdpk commented on #3060
Hi @veshu  @r0hit-gupta , here is few things which is break due to above changes , please update accordingly.
![image](https://user-images.githubusercontent.com/25297859/64330340-7bf0f380-cff0-11e9-9c1d-dd8c02f1d5e3.png)

[2019-09-05 10:00] rashmi73 commented on #3231
@veshu shall I add a verification video? because working on my firefox

[2019-09-05 10:01] veshu commented on #3231
@rashmi73 yes you can. Also this needs to be working on chrome.

[2019-09-05 10:04] rashmi73 commented on #3231
@veshu as clarified in my previous comment with a issue link pointed at react-dates, which clearly says lib itself has bug which does not show question mark on chrome, till they fix it i dont think it will work on chrome as no api to access it from outside.

[2019-09-05 10:11] veshu commented on #3231
@rashmi73 Thats not the issue here. We can see the help mark even in the chrome see this.
https://take.ms/FMVmQ
The issue is when we use the reader, and reaches the start date/end date input box it says "press down key for ..... and ? for ...." from there if I press this keys it won't work. Not even on Firefox.

But if press tab once then those keys will work.

[2019-09-05 10:12] veshu commented on #3231
@rashmi73 Simple fix here could be to focus the calendar when the input box is focused.

[2019-09-05 10:19] rashmi73 commented on #3231
@veshu ohhh amazing to see question mark visible on your chrome and not mine, but in just 1 tab it works in my firefox but not in your firefox.

yes I understand the issue that need to press tab twice whereas one tab it should work.
yes tried to focus on it by fetching element by javascript and using focus method but failed.

then observed that even without doing anything it work fine on  1 tab it

[2019-09-05 15:03] rashmi73 commented on #3231
@veshu here is verification video in which I opened app in firefox , then went to filters on challenge listing ,
then pressing tab i reach start date, now i did not press any tab, and clicked "?" because calendar is open.

so now shortcut appears correctly.

[2019-09-05 16:48] rashmi73 commented on #3231
@veshu it should be working now  PR updated

[record-20.24.53[05.09.2019].zip](https://github.com/topcoder-platform/community-app/files/3580358/record-20.24.53.05.09.2019.zip)

[2019-09-05 18:30] PrakashDurlabhji commented on #3246
@veshu @tosha5252 verification screenshot it works fine now.
PR update done
<img width="923" alt="3246_1" src="https://user-images.githubusercontent.com/28830240/64369121-4ae8e100-d039-11e9-8e30-f7d4938c7695.png">
<img width="880" alt="3246_2" src="https://user-images.githubusercontent.com/28830240/64369123-4ae8e100-d039-11e9-8a7c-b20d4fd79038.png">

[2019-09-05 22:12] hokienick opened #3284 "THRIVE - Click on card and open an external page"
We need the ability to create an article card that when clicked will open up an external website in a new tab.

Suggested solution:
In Contentful add a boolean labeled "External Website".
If true, clicking the card will open the given url in a new tab.

[2019-09-05 22:15] hokienick opened #3285 "Thrive - Searching for tags need to be case insensitive"
Currently searching for tags requires the case to be exactly correct.

Better yet, make sure that all search is case insensitive.

[2019-09-05 22:57] hokienick opened #3286 "Thrive - Add link to homepage on Category menu"
Add a link labeled "THRIVE" at the top of the category menu on the left side.  This should be formatted to look like all of the other Category dropdowns and link directly to the thrive homepage.

[2019-09-05 22:59] hokienick opened #3287 "Thrive - Make whole card clickable"
No matter the type of card, please make the entire area clickable, not just the title.

[2019-09-05 23:03] hokienick opened #3288 "Thrive - Dropdown search results should include author"
When using the search bar, the results should include the author name under the title.

Please use a 2pt lesser font than the title.  The name should be camel cased such as "Harshit Mehta".  If there is no name for the author than display the topcoder handle for example, "hmehta"

<img width="1109" alt="Screen Shot 2019-09-05 at 2 15 59 PM" src="https://user-images.githubusercontent.com/1373998/64

[2019-09-05 23:05] hokienick opened #3289 "Thrive - Searching by author should include Topcoder handle"
Currently you are able to use the search bar to search by author under full name only.  We need to expand the search to Topcoder handle as well.

[2019-09-05 23:07] hokienick opened #3290 "Thrive - Article descriptions contain Markdown text"
For example if you go to this page: https://community-app.topcoder-dev.com/thrive/tracks?track=Competitive%20Programming&tax=SRMs

You will see that markdown text appears in the description.

[2019-09-05 23:11] hokienick opened #3291 "Thrive - For article cards replace Read Time with Author Name"
In the bottom right instead of the time it takes to read the article, please replace it with the author's name.

<img width="883" alt="Screen Shot 2019-09-05 at 4 08 48 PM" src="https://user-images.githubusercontent.com/1373998/64389469-a4302080-cff7-11e9-9cac-7996d84e3626.png">

Ex: This would replace "3 min" with "wprice"

[2019-09-05 23:14] hokienick opened #3292 "Thrive - Update filter functionality to handle the case where the user doesn't press "return""
Currently if the user enters a term into the filter search box and presses "Apply Filter" nothing happens because technically the user didn't submit the term as a tag.

Solution:  Upon pressing "Apply Filter" the action should accept any un-submitted text create the tag and the proceed with the filter.

[2019-09-05 23:19] hokienick opened #3293 "Thrive - Using search bar to find all results of tags included results that were not tagged with submitted tag"
**Steps to reproduce:**

1. Use the search dropdown in the banner to select "Tags"
2. Enter "API" into the search bar.
3. The dropdown should populate and include the link "View all results".  Click it.
4. Notice that extra results are displayed containing articles that do not have the tag that was searched.

[2019-09-05 23:22] hokienick opened #3294 "Thrive - Search Bar Dropdown "View All Results" does not work on first click"
If you use the search bar in the banner and type something that will start off the dropdown menu and you click "View all results" the dropdown disappears and nothing happens.

If you click on the search bar again to make the dropdown appear and click "View all results" again, it will direct you to the correct page.

The first click should have directed the user to the correct page.

[2019-09-06 05:39] r0hit-gupta commented on #3245
@crazyk07 @veshu fixed. PR  at https://github.com/topcoder-platform/community-app/pull/3296

[2019-09-06 09:26] drasticdpk commented on #3231
@rashmi73 ,  Now while typing the question mark, the pop up is appear for **Keyboard Shortcuts**. Screed reader should read the text too. (You may refer prod env for reference purpose)
![image](https://user-images.githubusercontent.com/25297859/64416980-ec167c80-d0b7-11e9-977e-bd62a45a5303.png)

[2019-09-06 13:23] drasticdpk commented on #3240
Request to update Login text too.
![image](https://user-images.githubusercontent.com/25297859/64431083-6c99a500-d0d9-11e9-8500-375f24dc83a2.png)

[2019-09-06 13:36] drasticdpk commented on #3236
@veshu @sushilshinde @lakshmiathreya ,
Can we create another issue over here (Which does not fall on current issue's scope) ?
Suggestion : The space between the control is not consistent. And the label should **USER NAME** .
Here is the reference:
![image](https://user-images.githubusercontent.com/25297859/64431804-dcf4f600-d0da-11e9-901b-f5c16a7e09bd.png)

[2019-09-06 13:49] drasticdpk commented on #3233
Still showing WCAG error,
Here is the reference :
![image](https://user-images.githubusercontent.com/25297859/64432735-d798ab00-d0dc-11e9-882d-9be566e8c262.png)
For **ogin link text** this issue may fix. if not , request you to update this issue too.
https://github.com/topcoder-platform/community-app/issues/3240

[2019-09-06 14:25] drasticdpk commented on #3234
@r0hit-gupta Can we make this page consistent , since screen reader does not read **NOT A MEMBER YET**  on login page but reads **HAVE AN ACCOUNT** on registration page.
Here is the reference :
![image](https://user-images.githubusercontent.com/25297859/64435126-a66ea980-d0e1-11e9-8c70-e43a38c717c6.png)
![image](https://user-images.githubusercontent.com/25297859/64435216-cbfbb300-d0e1-11e9-9835-37

[2019-09-06 15:30] r0hit-gupta commented on #3236
@drasticdpk it kind of follows the existing spacing without labels. Have a look below.

![image](https://user-images.githubusercontent.com/16841686/64440291-5a276780-d0e9-11e9-97c7-3b02e5277597.png)

[2019-09-06 18:28] r0hit-gupta commented on #3240
@drasticdpk everything is fine for me. It might be a deployment issue.

![image](https://user-images.githubusercontent.com/16841686/64451601-2e64ab80-d102-11e9-8756-f879d676fa21.png)

[2019-09-06 18:44] nithyaasworld opened #3298 "Accounts app Dev Environment: Minor UI issue with Show button"
Steps to Reproduce:
1. Enter invalid username and password
2. Check the Show button UI

Actual:
1. Bottom line of Show button is cut
2. Grey fill for Show button is missing

![image](https://user-images.githubusercontent.com/5114190/64452682-7d134500-d104-11e9-915c-cca25ed12d3c.png)

[2019-09-06 18:50] r0hit-gupta commented on #3234
@drasticdpk PR at https://github.com/appirio-tech/accounts-app/pull/311. This should fix it.

[2019-09-06 18:52] nithyaasworld opened #3299 "[$20]Accounts App Dev Environment: Field highligth Indicator is misplaced"
Screen1:
1. In the Password Reset screen, enter invalid email address
2. Check the Field highlighter

Screen2:
1. In Create new password screen, check Field highlighter

Actual:
They are placed down the field.

Expected:
It should be inside the field like in the production.

![image](https://user-images.githubusercontent.com/5114190/64453118-7933f280-d105-11e9-88c1-69574abfb84f.png)

![image](http

[2019-09-09 05:26] kkartunov commented on #3294
@hokienick I am having difficulty to reproducing this one. We need to chat about it...

[2019-09-09 05:40] nithyaasworld opened #3300 "Dashboard: 'My earnings and Stats' section is not loading"
In production environment, 'My earnings and Stats' section is not loading

![image](https://user-images.githubusercontent.com/5114190/64505676-5155b200-d2f2-11e9-9ee4-1ef804f396cc.png)

[2019-09-09 06:48] veshu commented on #3298
@nithyaasworld I can't reproduce the cut off issue.
![image](https://user-images.githubusercontent.com/2202045/64508776-ef02ae80-d2fd-11e9-8d56-eee14356fbbe.png)

Grey color is intentionally removed.

[2019-09-09 06:48] veshu commented on #3299
@nithyaasworld Confirmed there is issue with forgot password.

[2019-09-09 07:09] nithyaasworld commented on #3298
@veshu Weird! It's always reproducible for me. Please find the video here.

[Show button underline issue.zip](https://github.com/topcoder-platform/community-app/files/3589068/Show.button.underline.issue.zip)

[2019-09-09 07:12] nithyaasworld commented on #3298
@veshu As its not reproducible to both of you and @r0hit-gupta and the issue is not something to worry about, I will close this issue.

Thanks @veshu @r0hit-gupta for checking!

CC: @sushilshinde

[2019-09-09 07:13] #3298 closed

[2019-09-09 07:19] crazyk07 commented on #3299
Contest https://www.topcoder.com/challenges/30101701 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-09 07:19] crazyk07 commented on #3299
Contest https://www.topcoder.com/challenges/30101701 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-09 07:58] nithyaasworld commented on #3299
@veshu Thanks. Now 'Create New Password' doesn't have any field highlighter. But this is just like in the production.

[2019-09-09 07:58] crazyk07 commented on #3299
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-09 09:19] #3060 closed

[2019-09-09 09:19] crazyk07 commented on #3060
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30100341<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-09 09:29] drasticdpk commented on #3236
Hi @r0hit-gupta , thats why I updated as Suggestion for creating the new issue.

[2019-09-09 12:43] #3236 closed

[2019-09-09 12:44] crazyk07 commented on #3236
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099925<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-09 12:45] #3232 closed

[2019-09-09 12:46] crazyk07 commented on #3232
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099920<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-09 12:48] #3242 closed

[2019-09-09 12:49] crazyk07 commented on #3242
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099921<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-09 12:57] #3245 closed

[2019-09-09 12:57] crazyk07 commented on #3245
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099942<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-09 13:01] #3246 closed

[2019-09-09 13:02] crazyk07 commented on #3246
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099922<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-09 13:30] #3299 closed

[2019-09-09 13:30] crazyk07 commented on #3299
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30101701<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-09 13:37] drasticdpk commented on #3244
@tosha5252  can you please verify it?

[2019-09-10 05:10] kkartunov opened #3304 "Thrive - remove voting confirmation modal"
![Screenshot from 2019-09-10 08-09-42](https://user-images.githubusercontent.com/5585002/64585677-5e31de80-d3a2-11e9-817f-fcc6aa5cc1e4.png)

[2019-09-10 08:51] nithyaasworld commented on #3257
Production Verification Screenshot:

![image](https://user-images.githubusercontent.com/5114190/64598986-4411f380-d3d6-11e9-8f55-a374caad9899.png)

[2019-09-10 08:51] #3257 closed

[2019-09-10 08:58] nithyaasworld commented on #3262
@sushilshinde @ThomasKranitsas @dushyantb  I think we haven't fixed this yet.

[2019-09-10 09:11] nithyaasworld commented on #3269
@ThomasKranitsas @dushyantb @sushilshinde

Final score is displayed as 0 for this challenge. Can you please check?

(When I checked the same challenges which I previously verified, they have the right score. Seems like the newly updated Final Scores are not updated correctly)

![image](https://user-images.githubusercontent.com/5114190/64600502-dc10dc80-d3d8-11e9-96c3-6128e1b136e4.png)

[2019-09-10 09:15] tosha5252 commented on #3244
@drasticdpk...Screen reader is easy to understand and each toggle button switches on and off when pressing enter in prod env

passes prod qa in Win10/Chrome

[2019-09-10 09:15] crazyk07 commented on #3244
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-10 09:19] nithyaasworld opened #3305 "Almost Half of the Marathon Matches are not opening"
Almost half of the Marathon Matches are not opening for me.

Some examples:
https://www.topcoder.com/challenges/30095825
https://www.topcoder.com/challenges/30095824
https://www.topcoder.com/challenges/30095823
https://www.topcoder.com/challenges/30095821
https://www.topcoder.com/challenges/30095562
https://www.topcoder.com/challenges/30098568
https://www.topcoder.com/challenges/30098582
https://w

[2019-09-10 09:25] nithyaasworld commented on #3305
These challenges are not opening in incognito window too. So it should be affecting everyone.

[2019-09-10 09:25] nithyaasworld commented on #3305
CC: @sushilshinde @Oanh-and-only-Oanh

[2019-09-10 09:59] dushyantb commented on #3305
@nithyaasworld these all are completed MMs and for some reason, we had to move them in private group; and hence you are not able to access them.

this is not an issue... @sushilshinde

[2019-09-10 10:06] nithyaasworld commented on #3305
@dushyantb These are all present under **'Ongoing Challenges' bucket** except one of them. Please confirm if they still come under the private group.

[2019-09-10 20:16] rashmi73 commented on #3231
@drasticdpk I do not feel adding aria label attribute to the text wrapping div is in my control.

Can we please consider closing this issue now as requirement of the issue is already met.

@veshu waiting for your comment.

[2019-09-11 03:25] veshu commented on #3231
@rashmi73 It is existing feature broken. The library itself provides the such labels, but now it is breaking.

[2019-09-11 04:49] kkartunov opened #3307 "THRIVE - design updates"
- For the left side menu, change the font to 20px size
- Banners photos for each track to be uploaded to those from Marvel: https://marvelapp.com/1hei31bg/screen/60646910/handoff
- Card date, likes nr and comments nr color to be updated to #555555
- On Filter area, texboxes should be uploaded to look and function like here: https://marketing3.topcoder.com/contact-us/

[2019-09-11 05:49] dushyantb opened #3308 "Submission tab showing score `100` as `0`"
<img width="1680" alt="Screenshot 2019-09-10 at 6 00 05 PM" src="https://user-images.githubusercontent.com/1861713/64671372-e0470380-d485-11e9-84db-6d2a3f99f13e.png">
<img width="1680" alt="Screenshot 2019-09-10 at 6 01 03 PM" src="https://user-images.githubusercontent.com/1861713/64671373-e0470380-d485-11e9-9a1e-52aeb9b7de91.png">

[code]

[2019-09-11 05:59] kkartunov commented on #3307
@hokienick banner images need to be defined per track. Currently missing in design: QA, algo?

[2019-09-11 06:53] nithyaasworld commented on #2696
@rashmi73 @sushilshinde

This issue is still present.

Also it took 40 seconds to load the results when DS filter is turned off.

[2019-09-11 06:59] nithyaasworld commented on #2404
Closing this

[2019-09-11 06:59] #2404 closed

[2019-09-11 07:09] nithyaasworld commented on #2726
This is hard to reproduce. Out of the 12 times I tried now, it got reproduced only once.

[2019-09-11 07:13] nithyaasworld commented on #2677
confirming that this is still an issue

[2019-09-11 07:14] nithyaasworld commented on #2676
Confirming that this is still an issue

[2019-09-11 08:52] nithyaasworld commented on #2727
Production and Beta has same number of challenges now.

[2019-09-11 08:52] #2727 closed

[2019-09-11 08:52] crazyk07 commented on #2727
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-11 08:58] nithyaasworld commented on #2387
This is not reproducible now.

[2019-09-11 08:58] #2387 closed

[2019-09-11 09:11] crazyk07 commented on #2387
Contest https://www.topcoder.com/challenges/30102008 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-11 09:12] crazyk07 commented on #2387
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-11 10:22] nithyaasworld opened #3309 "SSR: When Dev, DS and Design filters are used, it takes more time to load the results"
When Dev, DS and Design filters are used, it takes more than a minute to load the results.

![image](https://user-images.githubusercontent.com/5114190/64689511-1d25f100-d4ac-11e9-963f-3bfb6b32f366.png)

[2019-09-11 10:22] nithyaasworld commented on #3309
@ThomasKranitsas @sushilshinde

[2019-09-11 10:33] nithyaasworld commented on #3309
When I apply Design/DS/Dev filter along with one of the filters from the right panel, it takes some time to load the result, then when I scroll down to see more results, it is trying to lazy-load and **each lazy loading takes a minute**, which makes the user's experience not good.

[2019-09-11 10:39] nithyaasworld opened #3310 "SSR: Maximum number of challenges displayed under 'My Challenges' is not constant"
Sometimes it shows only one challenge under the 'My Challenges' section and some times it shows 2 challenges.

Expected:
Expecting the 'My Challenges' section to have a **fixed number** of max records to display

![image](https://user-images.githubusercontent.com/5114190/64682632-6b80c300-d49f-11e9-9d03-07fe60de6841.png)

[2019-09-11 10:41] nithyaasworld commented on #3310
@sushilshinde @ThomasKranitsas

[2019-09-11 11:18] nithyaasworld commented on #2726
Ok, Another scenario wherein this is reproduced easily.

Steps:
1. Filter by some date ranges
2. Check the My Challenges count

![image](https://user-images.githubusercontent.com/5114190/64693009-fc619980-d4b3-11e9-8493-82c852f0b0bd.png)

[2019-09-11 11:23] kkartunov opened #3311 "THRIVE - Resetting filter should show all original articles"
Resetting filter should show all original articles (filter for API tag in development category.  Correct results show.  Unable to reset to see all results again).  Also, test the search page for this bug as well.

[2019-09-11 11:27] nithyaasworld opened #3312 "SSR: 'View more challenges' link is displayed though there is nothing more to view"
'View more challenges' link is displayed though there is nothing more to view

![image](https://user-images.githubusercontent.com/5114190/64693606-3ed7a600-d4b5-11e9-9d6c-3d85e82cbad1.png)

[2019-09-11 11:28] nithyaasworld commented on #3312
@sushilshinde @ThomasKranitsas

[2019-09-11 12:37] sushilshinde commented on #3310
@nithyaasworld this is very hard because we don't know how many challenges are there.

[2019-09-11 12:47] nithyaasworld commented on #3310
I think I did not make it clear.

Currently, in production, it displays till 10 challenges in the challenge listing page for 'My Challenges' section. Only if there are more than 10 challenges for 'my challenges', it shows 'View more challenges'.

So expecting similar behaviour here too.

[2019-09-12 02:01] codeMinter commented on #3309
@nithyaasworld @sushilshinde can you please confirm the branch ?

[2019-09-12 06:21] sushilshinde commented on #3309
https://github.com/topcoder-platform/topcoder-react-lib/tree/ssf
https://github.com/topcoder-platform/community-app/tree/ssf

[2019-09-12 06:55] kkartunov commented on #3294
Canceled.

[2019-09-12 06:55] #3294 closed

[2019-09-12 07:05] kkartunov opened #3313 "THRIVE - add menu item in top navi"
Add "Thrive" under "Community" in top header Navi.

[2019-09-12 07:16] kkartunov opened #3314 "THRIVE - import data from sheets"
Import data to Contentful from the raw sheets.

[2019-09-13 06:07] kkartunov opened #3315 "THRIVE - update track and search pages"
- Track page currently has this limitation to work only if ”track” and “tax” query parameters are present in the query. Remove this limitation keeping existing functionality working. This will mean when a parent track is clicked it will load all articles from it no matter which content category they do belong. The tree should be expanded initially and when clicked on a track.

- Search page requir

[2019-09-13 14:45] nithyaasworld commented on #2696
@rashmi73 It is NOT on production. It is about the SSR Fixes. I am not sure which branch it is.

Seems like the issue is not always reproducible. It was reproducible yesterday and NOT reproducible in the morning today and again reproducible now. Please find the screenshot below.

![image](https://user-images.githubusercontent.com/5114190/64871540-0e356f00-d663-11e9-9aac-7b076bdfb885.png)

[2019-09-14 02:19] crazyk07 commented on #2808
Closing Ticket due to Priority Shift.  May Revisit at another time.

Note: Ticket dependent on React Utils.

[2019-09-14 02:19] crazyk07 commented on #2808
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:20] #2808 closed

[2019-09-14 02:20] crazyk07 commented on #2808
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097497<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:23] crazyk07 commented on #2809
Closing ticket due to shift in priority, will not be able to complete but will still pay for effort rendered.

Note: Ticket was dependent on react Utils

[2019-09-14 02:23] #2809 closed

[2019-09-14 02:24] crazyk07 commented on #2809
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097277<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:25] crazyk07 commented on #2826
Closing ticket due to shift in priority, will not be able to complete but will still pay for effort rendered.

Note: Ticket was dependent on react Utils

[2019-09-14 02:25] #2826 closed

[2019-09-14 02:25] crazyk07 commented on #2826
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097259<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:32] crazyk07 commented on #2852
Closing ticket due to shift in priority, will not be able to complete but will still pay for effort rendered.

Note: Ticket was dependent on react Utils

[2019-09-14 02:32] #2852 closed

[2019-09-14 02:33] crazyk07 commented on #2852
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097072<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:34] crazyk07 commented on #2890
Closing ticket due to shift in priority, will not be able to complete but will still pay for effort rendered.

Note: Ticket was dependent on react Utils

[2019-09-14 02:34] #2890 closed

[2019-09-14 02:34] crazyk07 commented on #2890
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097057<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:36] crazyk07 commented on #2901
Closing ticket due to shift in priority, will not be able to complete but will still pay for effort rendered.

Note: Ticket was dependent on react Utils

[2019-09-14 02:36] #2901 closed

[2019-09-14 02:37] crazyk07 commented on #2901
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096747<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:39] crazyk07 commented on #2909
Closing ticket due to shift in priority, will not be able to complete but will still pay for effort rendered.

Note: Ticket was dependent on react Utils

[2019-09-14 02:39] #2909 closed

[2019-09-14 02:39] crazyk07 commented on #2909
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30096733<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:42] crazyk07 commented on #2895
Closing ticket due to shift in priority, will not be able to complete but will still pay for effort rendered.