[2020-01-09 16:15] rashmi73 commented on #2664
@luizrrodrigues any scenario where it becomes empty?

[2020-01-09 16:21] sushilshinde opened #3556 "[$50] Payment ticket for 3459"
Payment ticket for https://github.com/topcoder-platform/community-app/issues/3459

[2020-01-09 16:23] crazyk07 commented on #3556
Contest https://www.topcoder.com/challenges/30112576 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-09 16:24] crazyk07 commented on #3556
Contest https://www.topcoder.com/challenges/30112576 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-09 16:25] #3556 closed

[2020-01-09 16:25] crazyk07 commented on #3556
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112576<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-09 16:36] luizrrodrigues commented on #2664
@rashmi73 You need to edit config file:
[code]

[2020-01-09 17:16] Oanh-and-only-Oanh opened #3557 "Release current Search Feature on New Navi"
Release the Search feature onto the new navigation UI using legacy app.

[2020-01-09 19:35] nqviet commented on #2463
@luizrrodrigues: pull request is ready for review

[2020-01-09 22:57] yoution commented on #2521
please assign to me

[2020-01-10 00:45] yoution commented on #2521
how to reproduct the problem, the 'more' button is not show, how to show it

![image](https://user-images.githubusercontent.com/3863914/72116519-69fbd480-3385-11ea-944b-f43dadd30f97.png)

[2020-01-10 01:12] luizrrodrigues commented on #2521
@yoution Open in Firefox or reduce window size.

[2020-01-10 01:21] yoution commented on #2521
![image](https://user-images.githubusercontent.com/3863914/72117908-599a2880-338a-11ea-9491-a08b31846f59.png)

if I click 'explore','complete' go to the 'explore' position? there is only three tab in my account, could you give me a test account has more tabs

[2020-01-10 01:42] luizrrodrigues commented on #2521
@yoution This menu is same to all accounts.

What we looking is:

- Click in More;
- Click in Explore;
- Will go to Explore page (like existing) and will swipe the Compete with Explore;

So in your screenshot above will be:
Explore - More [ Tracks - Compete ]

Like as Google Search menu works, check:

[Screen Recording 2020-01-09 at 22.39.38.mov.zip](https://github.com/topcoder-platform/community-

[2020-01-10 02:25] yoution commented on #2521
https://github.com/topcoder-platform/navigation-component/pull/83

I have pushed , please review

[2020-01-10 02:26] yoution commented on #2407
please assign to me

[2020-01-10 05:09] bappapatra commented on #2719
I would like to pick it up

[2020-01-10 07:41] kkartunov commented on #3542
Done

[2020-01-10 07:41] #3542 closed

[2020-01-10 09:07] kkartunov commented on #2734
@luizrrodrigues the test is moved to: `/examples/contentful/viewport/1nvm6EsPMHPLBtuGXNRMYV/competition-rules`

I think currently deployed only on test https://test-community-app.topcoder-dev.com/examples/contentful/viewport/1nvm6EsPMHPLBtuGXNRMYV/competition-rules

This menu is created and linked to Contentful CMS. If you need new test links I will create them. Just write back.

Thanks

[2020-01-10 11:18] luizrrodrigues commented on #2592
@k-tempest Any status on this one?

[2020-01-10 11:18] luizrrodrigues commented on #2700
@fctorial Any status in this one?

[2020-01-10 11:20] k-tempest commented on #2592
Nope. Please unassign.

pt., 10 sty 2020, 12:18 użytkownik Luiz Ricardo Rodrigues <
notifications@github.com> napisał:

[2020-01-10 11:20] luizrrodrigues commented on #2407
@sumitdaga Another member requested to sign before you.
Please take a look in issue historic, some member no able to self-assign

[2020-01-10 11:20] luizrrodrigues commented on #2407
@yoution Assign to you.

[2020-01-10 11:23] luizrrodrigues commented on #2506
@nahidshahin Any status on this one?

[2020-01-10 11:23] luizrrodrigues commented on #2515
@PrakashDurlabhji Any status on this one?

[2020-01-10 11:27] luizrrodrigues commented on #2664
@rashmi73 Any status on this one?

[2020-01-10 11:28] luizrrodrigues commented on #3440
@Gauravseta Any status on this one?

[2020-01-10 11:29] PrakashDurlabhji commented on #2515
@luizrrodrigues yes sometime near to complete

[2020-01-10 11:33] luizrrodrigues commented on #2515
@PrakashDurlabhji Cool, thanks for feedback.

[2020-01-10 12:57] yoution commented on #2407
@luizrrodrigues  I have pushed, please review, https://github.com/topcoder-platform/navigation-component/pull/84

[2020-01-10 13:44] yoution commented on #2495
can not reproduct it

[2020-01-10 14:06] yoution commented on #2423
@luizrrodrigues please assign to me

[2020-01-10 14:25] luizrrodrigues commented on #2495
Have you test this in Safari iPad?

[2020-01-10 14:27] yoution commented on #2495
you mean only reproduct in ipad?I test in ipad simulator

[2020-01-10 14:33] luizrrodrigues commented on #2495
@yoution Yeah, I think this one already fixed.

[2020-01-10 15:10] bappapatra commented on #2666
I would like to pick it up.

[2020-01-10 15:10] bappapatra commented on #2719
I am unassigning my self. Its open for pickup. I am assigning myself to different issue, since cant access slack. Thanks.

[2020-01-10 16:36] fctorial commented on #2700
I wouldn't be working on this issue. You can mark it as free?

On Fri, Jan 10, 2020, 4:48 PM Luiz Ricardo Rodrigues <
notifications@github.com> wrote:

[2020-01-10 18:15] LieutenantRoger commented on #2719
Hi @luizrrodrigues  the slack archive conversion is not accessible, please advise how to see the detail.

[2020-01-10 18:22] luizrrodrigues commented on #2719
@LieutenantRoger Update issue description above. Please check and let me know if have any question.

[2020-01-10 23:36] PrakashDurlabhji commented on #2515
@luizrrodrigues PR https://github.com/topcoder-platform/navigation-component/pull/86

[2020-01-11 01:26] yoution commented on #2423
has pushed, please review, https://github.com/topcoder-platform/navigation-component/pull/87

[2020-01-11 01:30] yoution commented on #2493
@luizrrodrigues  please assign to me

[2020-01-11 02:22] yoution commented on #2493
@luizrrodrigues , has pushed, please review. https://github.com/topcoder-platform/navigation-component/pull/88

[2020-01-11 02:29] yoution commented on #2506
@luizrrodrigues  please assign to me, and I do not know how to show the 'work' tab, I can only show the 'community' tab.Please tell me how to show the 'work' tab.
![image](https://user-images.githubusercontent.com/3863914/72197524-35f3e280-345d-11ea-8868-9e7adf1e5083.png)

[2020-01-11 02:48] luizrrodrigues commented on #2506
@yoution WORK was renamed to COMMUNITY

[2020-01-11 02:57] bappapatra commented on #2666
I am working on this issue. need some time,

[2020-01-11 03:17] yoution commented on #2521
please use this, my workflow is someting wrong, https://github.com/topcoder-platform/navigation-component/pull/89

[2020-01-11 03:20] yoution commented on #2407
something wrong with my workflow, please review this.https://github.com/topcoder-platform/navigation-component/pull/90

[2020-01-11 03:20] LieutenantRoger commented on #2719
Could you clarify where's the 2nd test page ?  Per my testing, the SecondaryMenu is always rendered no matter I login or not.

[2020-01-11 03:21] yoution commented on #2423
something wrong with my workflow, please review https://github.com/topcoder-platform/navigation-component/pull/91

[2020-01-11 03:25] luizrrodrigues commented on #2719
@LieutenantRoger Please check this:

https://github.com/topcoder-platform/community-app/blob/107840d8ed0ecd598e5ef2aec37be71621eba3c4/config/default.js#L237,L263

[2020-01-11 03:51] LieutenantRoger commented on #2719
Ok, so we just need to merge them and add logged flag , correct ?

[2020-01-11 03:53] luizrrodrigues commented on #2719
@LieutenantRoger Yep, so each menu item will have 3 ways to show:

- Logged
- Guest
- Both

[2020-01-11 04:09] LieutenantRoger commented on #2719
What do you mean by `Both` ?  The menu showing is either from logged in or from Guest

[2020-01-11 04:34] nahidshahin commented on #2700
@luizrrodrigues MR https://github.com/topcoder-platform/navigation-component/pull/92

[2020-01-11 04:47] luizrrodrigues commented on #2719
Yep, I'll show to logged or Guest

[2020-01-11 05:29] LieutenantRoger commented on #2719
MR here:

Community app: https://github.com/topcoder-platform/community-app/pull/3559

Navigation_Component repo: https://github.com/topcoder-platform/navigation-component/pull/93

[2020-01-11 07:53] LieutenantRoger commented on #2539
MR: https://github.com/topcoder-platform/navigation-component/pull/94

[2020-01-11 08:07] LieutenantRoger commented on #2440
@luizrrodrigues

Could you reproduce this ?
I tried on an `Honor 6x Phone` with Android `8.0.0`,  with Chrome version: `76.0.3809.111` but can't reproduce this.

[2020-01-11 08:11] bappapatra commented on #2666
Its open for pickup.

[2020-01-11 11:26] luizrrodrigues commented on #2440
@LieutenantRoger I'll re check and let you know

[2020-01-12 03:05] LieutenantRoger commented on #2666
@luizrrodrigues  are you able to reproduce this issue ? I seemed not able to

[2020-01-13 04:38] SathyaJayabal commented on #3492
The member handles/profile pic on the results page are not clickable. They should be links that take the user to the members profile page.

<img width="1424" alt="Screenshot 2020-01-13 at 10 06 44 AM" src="https://user-images.githubusercontent.com/58783823/72233304-92d1d300-35ec-11ea-9de0-09c8475c7053.png">

[2020-01-13 05:27] LieutenantRoger commented on #2666
Up @luizrrodrigues

[2020-01-13 05:28] LieutenantRoger commented on #2440
up

[2020-01-13 11:32] #3524 closed

[2020-01-13 16:04] #3472 closed

[2020-01-13 16:08] Oanh-and-only-Oanh commented on #3269
The visibility issue is fixed. But past challenge scores are not visible.
Awaiting decision on the approach whether we migrate all old challenges to new api response structure of we fix this in UI. Closing this as this issue is tracked by “https://github.com/topcoder-platform/community-app/issues/3392”

[2020-01-13 16:08] #3269 closed

[2020-01-13 20:03] luizrrodrigues commented on #2440
@LieutenantRoger Thanks for check.
Looks like this was fixed.

[2020-01-13 20:05] luizrrodrigues commented on #2506
@yoution Please what is the status in this one?

[2020-01-13 20:07] luizrrodrigues commented on #2592
@PrakashDurlabhji Please let me know what's status of this one. Thanks.

[2020-01-13 20:11] luizrrodrigues commented on #2666
@LieutenantRoger Yes, I can reproduce this.

Animation of navigation is reloaded when navigate between pages.

[Screen Recording 2020-01-13 at 17.09.57.mov.zip](https://github.com/topcoder-platform/community-app/files/4055571/Screen.Recording.2020-01-13.at.17.09.57.mov.zip)

[2020-01-13 22:46] yoution commented on #2506
@luizrrodrigues I can not reproduct the issue

[2020-01-14 01:08] luizrrodrigues commented on #2506
@yoution Thanks for check.

[2020-01-14 02:25] LieutenantRoger commented on #2666
ok,  so the actual issue is when we navigate the level3 menu, the arrow icon in the level2 should be animated from where it left ?

[2020-01-14 02:30] luizrrodrigues commented on #2666
@LieutenantRoger We need to remove the animation, this animation is just when expand the Community top level (currently this was expanded by default)

Make sense?

[2020-01-14 05:24] lakshmiathreya commented on #3399
@SathyaJayabal @nithyaasworld

[2020-01-14 05:59] kkartunov commented on #3533
Done.

[2020-01-14 06:48] SathyaJayabal commented on #3524
Verified in production
<img width="1422" alt="Screenshot 2020-01-14 at 12 17 21 PM" src="https://user-images.githubusercontent.com/58783823/72320504-d8af9980-36c7-11ea-8007-3e3d34c06eed.png">

[2020-01-14 06:51] manoj389852 commented on #3552
Kindly give permission to work  on this issue

[2020-01-14 11:19] luizrrodrigues commented on #2666
@LieutenantRoger Please let me know if you working in this one, or if we can open to pickup

[2020-01-14 13:21] LieutenantRoger commented on #2666
Oh, just see this, I will make a PR  now and let you check if it's expected.

[2020-01-14 13:33] LieutenantRoger commented on #2666
Here it is: https://github.com/topcoder-platform/navigation-component/pull/109

[2020-01-14 15:21] luizrrodrigues commented on #3520
#3558
https://github.com/topcoder-platform/navigation-component/pull/82

[2020-01-14 15:31] luizrrodrigues commented on #3520
@gets0ul Open in new tab works fine, but if back to origin page the Payments menu is active.

So when link will open in new tab we need make sure to not change status of link to active.

![image](https://user-images.githubusercontent.com/7029641/72357432-bdde2480-36c9-11ea-8511-f708bb5c926d.png)

[2020-01-14 16:54] luizrrodrigues commented on #3557
Done: https://github.com/topcoder-platform/community-app/releases/tag/v0.19.04

[2020-01-14 16:55] #3557 closed

[2020-01-14 17:06] ajefts opened #3565 "Get THRIVE article recommendations in challenge details page"
Challenge spec.

Dev copilot: Veshu

Design copilot: Fajar

<https://docs.google.com/document/d/1KeGUf57j9sdSft7EJt00387_JnTaifIZVXGp11ywb4c/edit?usp=sharing>

<p></p>

additional requirements:

- display up to 3 related challenges and 3 articles

- If challenge is tagged with "other", do not show anything

- if more than one tag is present, display related articles and challenges based on first t

[2020-01-14 17:06] ajefts commented on #3565
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1849761

[2020-01-14 17:06] ajefts opened #3566 "Get THRIVE article recommendations and Challenges in challenge details page"
Challenge spec.

Dev copilot: Veshu

Design copilot: Fajar

<https://docs.google.com/document/d/1KeGUf57j9sdSft7EJt00387_JnTaifIZVXGp11ywb4c/edit?usp=sharing>

<p></p>

additional requirements:

- display up to 3 related challenges and 3 articles

- If challenge is tagged with "other", do not show anything

- if more than one tag is present, display related articles and challenges based on first t

[2020-01-14 17:06] ajefts commented on #3566
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1849761

[2020-01-14 17:07] #3566 closed

[2020-01-14 17:07] ajefts opened #3567 "Get THRIVE article recommendations and Challenges in challenge details page"
Challenge spec.

Dev copilot: Veshu

Design copilot: Fajar

<https://docs.google.com/document/d/1KeGUf57j9sdSft7EJt00387_JnTaifIZVXGp11ywb4c/edit?usp=sharing>

<p></p>

additional requirements:

- display up to 3 related challenges and 3 articles

- If challenge is tagged with "other", do not show anything

- if more than one tag is present, display related articles and challenges based on first t

[2020-01-14 17:08] ajefts commented on #3567
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1849761

[2020-01-14 17:10] ajefts opened #3568 "Explanation of Ratings"
On the member profile pages, where there are ratings we don't have any explanation of the rating.  Can we add something to help people understand?  We have a help center page for ratings.  Maybe we should have some nice content in Thrive that we can reference?

<p></p>

Design copilot: Fajar

<p></p>

[2020-01-14 17:10] ajefts commented on #3568
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3588783

[2020-01-14 17:23] LieutenantRoger commented on #3440
MR: https://github.com/topcoder-platform/navigation-component/pull/111

[2020-01-14 18:16] nithyaasworld commented on #3399
@veshu Function about the new SMP is clear from the Marvel app design. I dont have access to Productboard link shared by Tony above. Is there anything else we need to know when testing?

[2020-01-14 18:32] Oanh-and-only-Oanh commented on #3399
@nithyaasworld here you go.
Building on Chris and Tony's submission mgmt page https://submission-review.topcoder.com/, how to get it in a user-ready state.
where will it live
what's the member user flow
the designs are at https://marvelapp.com/c026e87/screen/57758299 - create a list of requirements for fixing the designs

Here are the designs for the list view: https://drive.google.com/open?id=1HV

[2020-01-14 18:52] LieutenantRoger commented on #2592
MR: https://github.com/topcoder-platform/navigation-component/pull/112

[2020-01-14 19:12] rashmi73 commented on #3545
@sushilshinde I hope I will be paid for this as it doesnt involve making a PR rather just pointing out the code and explaining the flow, hence hopefully it should not be rejected on policy of merged PR only get paid.

[2020-01-14 19:31] nithyaasworld commented on #3399
@veshu
Sorting function, Upload and download submission functions are all good! Follow are the things noted but none of them are major-issue:

1. Language column is not available, like present in the design.

2. Final and Provision columns should be under the 'Score' title, like in the design. At present, Provision and Time columns are present under the 'Score' title.

3. I am not able to verify t

[2020-01-14 19:37] Oanh-and-only-Oanh commented on #3399
@veshu @nithyaasworld,
1.  **Language column is not available, like present in the design.** We don't need language anymore so this is fine.
2. **Final and Provision columns should be under the 'Score' title, like in the design. At present, Provision and Time columns are present under the 'Score' title.** Yes, please fix this.
3.  I am not able to verify the various statuses as all my submissions

[2020-01-14 20:16] gets0ul commented on #3520
@luizrrodrigues PR is updated.

[2020-01-15 00:23] iversonLv commented on #2559
@luizrrodrigues Can I take it?
Thanks.

[2020-01-15 00:50] iversonLv commented on #2559
Read for review

[2020-01-15 00:59] iversonLv commented on #2490
@luizrrodrigues Could I take this?
Thanks

[2020-01-15 01:23] iversonLv commented on #2490
Ready for review
This PR is from navigation-component

[2020-01-15 01:30] iversonLv commented on #2586
@luizrrodrigues Can I take this?
Thanks.

[2020-01-15 01:32] iversonLv commented on #2586
Read for review
This PR is from another repo: navigation-component

[2020-01-15 02:18] LieutenantRoger commented on #2527
@luizrrodrigues  is this for android tablet ? Hover state normally doesn't needed under mobile devices.

Also, the selection indicator is having the same style as showing in the snapshot.

[2020-01-15 02:28] luizrrodrigues commented on #2527
@LieutenantRoger Yeah, thanks for check.

Looks like this one was fixed.

[2020-01-15 03:02] LieutenantRoger commented on #2457
MR: https://github.com/topcoder-platform/navigation-component/pull/115

[2020-01-15 05:40] yoution commented on #2632
@luizrrodrigues  please assign to me

[2020-01-15 08:09] #3533 closed

[2020-01-15 09:33] LieutenantRoger commented on #2632
MR here: https://github.com/topcoder-platform/community-app/pull/3570

[2020-01-15 09:37] LieutenantRoger commented on #2498
Hi @luizrrodrigues

Are you able to reproduce this issue? I seemed not able to

[2020-01-15 10:25] luizrrodrigues commented on #2498
@LieutenantRoger Yes, I'm able to reproduce that.

To reproduce:
1) Open app in mobile or tablet in portrait view;
2) Tap in hamburger menu
3) Rotate to landscape view
4) Mobile menu still open.

[2020-01-15 13:25] veshu commented on #3399
@nithyaasworld 3. can you please share the challenge link?

[2020-01-15 14:42] LieutenantRoger commented on #2498
Hi @luizrrodrigues  so this ticket is actually a mobile experience issue ?

[2020-01-15 14:43] luizrrodrigues commented on #2498
@LieutenantRoger Yes.

In title say, Desktop view, but is more about Landscape view.

[2020-01-15 15:16] LieutenantRoger commented on #2504
Please take a look and see if this is the expected: https://github.com/topcoder-platform/navigation-component/pull/122

[2020-01-15 15:32] LieutenantRoger commented on #2498
Here's the MR: https://github.com/topcoder-platform/navigation-component/pull/123

[2020-01-15 15:33] LieutenantRoger commented on #2498
Basically, always hide the left menu when user rotated the screen.

[2020-01-15 15:54] luizrrodrigues commented on #2498
Yes

[2020-01-15 16:53] #3567 closed

[2020-01-15 16:55] Oanh-and-only-Oanh opened #3571 "Stats for CODE track not getting computed/displayed"
**Describe the bug**
We have CODE ratings, but the other 3 stats aren’t getting computed/displayed

**To Reproduce**
Steps to reproduce the behavior:
1. go to https://www.topcoder.com/members/birdofpreyru/details/?track=DEVELOP&subTrack=CODE
2. See that Stats for RANK, PERCENTILE, and RELIABILITY are all zero.

**Screenshots**
![image](https://user-images.githubusercontent.com/47536078/72453596-31

[2020-01-15 16:56] Oanh-and-only-Oanh commented on #3571
According to Tony, "it probably just needs to update the data loader that computes those stats.
it’s already doing it for other challenge types, but i think CODE challenges are currently ignored by the calc"

[2020-01-15 16:59] luizrrodrigues commented on #2436
@rashmi73 Any status in this one?

[2020-01-15 18:31] Oanh-and-only-Oanh commented on #3465
@SathyaJayabal, looks like this is still an issue....

[2020-01-15 19:59] kkartunov commented on #3394
@topcoder-platform/topcodercompetitors  this one is now open for pickup.

[2020-01-15 20:00] kkartunov commented on #3571
@topcoder-platform/topcodercompetitors this is now open for pickup.

[2020-01-15 20:01] crazyk07 commented on #3394
Contest https://www.topcoder.com/challenges/30112838 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-15 20:02] crazyk07 commented on #3571
Contest https://www.topcoder.com/challenges/30112839 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-15 20:04] crazyk07 commented on #3465
Contest https://www.topcoder.com/challenges/30112840 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-15 20:05] kkartunov commented on #3465
@topcoder-platform/topcodercompetitors this one is reopened and ready for pickup.

The issue is blank screen is displayed when clicking on the handle link that has been fixed here. The result is nothing changes and browser is never redirected to the user profile.

Expected behavior: The link should work correctly and browser should navigate to the user profile on click.

[2020-01-16 01:12] #3537 closed

[2020-01-16 01:13] #3526 closed

[2020-01-16 01:35] ajefts opened #3572 "Add TaaS questions to profiles"
Add additional questions to member profiles

1) Favorite Projects:  Tell us what your favorite 2 or 3 Topcoder projects have been that you worked on. (private)
2) Quote: Write a quote that personifies you. This will be shown to potential customers and eventually on your public profile page. (public)

<p></p>

We’re using those 2 items to help show off profiles to TaaS buyers

<https://docs.google.

[2020-01-16 01:35] ajefts commented on #3572
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3122713

[2020-01-16 01:35] ajefts opened #3573 "Add TaaS questions to profiles"
Add additional questions to member profiles

1) Favorite Projects:  Tell us what your favorite 2 or 3 Topcoder projects have been that you worked on. (private)
2) Quote: Write a quote that personifies you. This will be shown to potential customers and eventually on your public profile page. (public)

<p></p>

We’re using those 2 items to help show off profiles to TaaS buyers

<https://docs.google.

[2020-01-16 01:35] ajefts commented on #3573
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3122713

[2020-01-16 01:36] ajefts opened #3574 "Add TaaS questions to profiles"
Add additional questions to member profiles

1) Favorite Projects:  Tell us what your favorite 2 or 3 Topcoder projects have been that you worked on. (private)
2) Quote: Write a quote that personifies you. This will be shown to potential customers and eventually on your public profile page. (public)

<p></p>

We’re using those 2 items to help show off profiles to TaaS buyers

<https://docs.google.

[2020-01-16 01:36] ajefts commented on #3574
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3122713

[2020-01-16 02:55] crazyk07 commented on #3465
Contest https://www.topcoder.com/challenges/30112840 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-16 03:03] crazyk07 commented on #3571
Contest https://www.topcoder.com/challenges/30112839 has been updated - it has been assigned to lieutenantroger.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-16 03:07] crazyk07 commented on #3394
Contest https://www.topcoder.com/challenges/30112838 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-16 04:13] LieutenantRoger commented on #3571
Hi @kkartunov

I can get the RELIABILITY data based on received data.  Could you tell how the RANK and PERCENTILE is calculated ?

[2020-01-16 04:48] LieutenantRoger commented on #2518
MR: https://github.com/topcoder-platform/navigation-component/pull/124

[2020-01-16 04:51] LieutenantRoger commented on #2603
Hi @luizrrodrigues

Are you able to reproduce ? I seemed not able to

[2020-01-16 04:56] LieutenantRoger commented on #2436
Not able to reproduce, please double check

[2020-01-16 07:08] sushilshinde commented on #3545
@rashmi73 you will get paid for identifying don't worry.

[2020-01-16 07:12] sushilshinde commented on #3545
Thanks @rashmi73

[2020-01-16 07:12] #3545 closed

[2020-01-16 07:16] crazyk07 commented on #3545
[500]: Challenge for the updated issue 3545 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-16 07:22] sushilshinde opened #3575 "$[50]Change submission API version for DELETE calls"
**Refer to the issue and comment :**
https://github.com/topcoder-platform/community-app/issues/3545#issuecomment-572048899

**PP branches :**

https://github.com/topcoder-platform/topcoder-react-lib/tree/hot-fixes-3

In case required - https://github.com/topcoder-platform/community-app/tree/hot-fixes-5

@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors open for pickup

[2020-01-16 08:53] kkartunov commented on #3394
@PrakashDurlabhji thanks for pickup. Please, PR to https://github.com/topcoder-platform/community-app/tree/feature-member-profiles branch. Thanks

[2020-01-16 08:57] kkartunov commented on #3571
@LieutenantRoger  thanks for pickup. Please, PR to https://github.com/topcoder-platform/community-app/tree/feature-member-profiles branch. Thanks

check this comment https://github.com/topcoder-platform/community-app/issues/3571#issuecomment-574753336. I think you should inspect the action/reducer payload and see why code is ignored. Makes sense?

[2020-01-16 09:00] kkartunov commented on #3465
@rashmi73  thanks for pickup. Please, PR to https://github.com/topcoder-platform/community-app/tree/feature-member-profiles branch. Thanks

[2020-01-16 09:40] LieutenantRoger commented on #3571
Hi @kkartunov & @Oanh-and-only-Oanh

The frontend code didn't missing the calc, for CODE track, there is no RANK, PERCENTILE, RELIABILITY data returned from the service call. For the old 'ASSEMBLY' track, these values are returned from the service call directly.

Right now, `RELIBILITY` can be calculated based on the returned data by frontend, but I don't know how the `RANK` and `PERCENTILE` is ca

[2020-01-16 10:17] sumitdaga commented on #3575
@sushilshinde the V5 api throws the error `submissionId" must be a valid GUID`

[2020-01-16 10:24] lakshmiathreya commented on #3557
@SathyaJayabal pls add testing details ...

[2020-01-16 10:25] sushilshinde commented on #3575
@callmekatootie can you help here?

[2020-01-16 10:27] callmekatootie commented on #3575
@sumitdaga Can you kindly let me know the id that you are passing to the api...

[2020-01-16 10:30] sumitdaga commented on #3575
@callmekatootie sure
`208646` is an example submission id ... i am guessing it must have worked with the V3 api (although i did not try)

[2020-01-16 10:34] crazyk07 commented on #3575
Contest https://www.topcoder.com/challenges/30112871 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-16 10:37] kkartunov commented on #3571
@LieutenantRoger can you see how it is done for other types of track challenges? Actually they same for all types of challenges I assume.

We have here an article about ratings here https://www.topcoder.com/thrive/articles/Ratings check it out.

[2020-01-16 10:41] kkartunov commented on #3571
Also see:
https://www.topcoder.com/thrive/articles/Development%20Reliability%20Ratings%20and%20Bonuses

[2020-01-16 10:41] callmekatootie commented on #3575
`208646` is most likely the legacy submission id. v5 submission api expects it to be a guid... and I am not sure which api one would call to get the v5 id from the legacy id...

@sushilshinde I am not sure about this. You might want to check with @cwdcwd or @dushyantb

[2020-01-16 10:45] callmekatootie commented on #3575
I typed too soon. My bad.

@sumitdaga So, use the legacy submission id, `208646` in this case and make the api call as follows:

GET `https://api.topcoder-dev.com/v5/submissions?legacySubmissionId=208646` (with the relevant token) to get the submission details.

Here, you will get the v5 submission id, which you will then use in the v5 DELETE request

[2020-01-16 10:49] sumitdaga commented on #3575
@callmekatootie right, the V5 swagger doc also has this documented ..thanks!

[2020-01-16 11:14] LieutenantRoger commented on #3571
Hmm, I can't find relevant calculation method for this in frontend codebase. I use a POSTMAN request to get the statistics data from the API directly , the ASSEMBLY is returning all the necessary data from the service call, but the CODE part is not having the relevant data.

Same for other type challenges: some have the relevant data, some not.

So the question is , is this the correct way we calc

[2020-01-16 12:01] sumitdaga commented on #3575
@sushilshinde
there seems to be some inconsistency between APIs ..i am not sure
i deleted two submissions after implementing it with V5 api
the submissions are successfully deleted as it does not show up in  `https://www.topcoder-dev.com/challenges/30055701?tab=submissions` but they still show up in `https://www.topcoder-dev.com/challenges/30055701/my-submissions`

[2020-01-16 16:02] kkartunov commented on #3571
@LieutenantRoger can you give example what you mean by: "Same for other type challenges: some have the relevant data, some not."?

Also, use one that works/has the data and apply for CODE similarly as well. I think this is what needs to be accomplished here so let's do it.

[2020-01-16 17:07] #3492 closed

[2020-01-16 17:56] cwdcwd commented on #2359
@mcskinner that's a placeholder for the task payment and it looks like this ticket has been languishing. @sushilshinde can we pick this one back up?

[2020-01-16 20:11] crazyk07 commented on #3553
Contest https://www.topcoder.com/challenges/30112905 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-16 20:11] kkartunov commented on #3553
@topcoder-platform/topcodercompetitors this one is now open for pickup. Please PR against the branch https://github.com/topcoder-platform/community-app/tree/feature-member-profiles

[2020-01-16 20:15] kkartunov commented on #3548
@topcoder-platform/topcodercompetitors this one is now open for pickup. Please PR against the branch https://github.com/topcoder-platform/community-app/tree/feature-member-profiles

[2020-01-16 20:15] crazyk07 commented on #3548
Contest https://www.topcoder.com/challenges/30112906 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-16 20:20] rashmi73 commented on #3465
@kkartunov PR https://github.com/topcoder-platform/community-app/pull/3577

[2020-01-16 20:21] crazyk07 commented on #3553
Contest https://www.topcoder.com/challenges/30112905 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-17 00:00] #3573 closed

[2020-01-17 00:00] #3574 closed

[2020-01-17 02:26] LieutenantRoger commented on #3571
For more info:  visit this link in browser: `https://api.topcoder-dev.com/v3/members/{{handle}}/stats`

We can use this API to get the data directly.  Please try your own handle in the url, to get the full data.
This way can't get other member's full data. But it's enough to demonstrate the issue here

[2020-01-17 02:27] LieutenantRoger commented on #2603
Up

[2020-01-17 02:38] luizrrodrigues commented on #2603
Checking

[2020-01-17 09:18] PrakashDurlabhji commented on #3394
@kkartunov it means submissionRate is Reliability correct? because on going through the stats object, I see "numInquiries" gives me total challenges and "submissions" no.of submission so far, hence which gives me reliability.

raising PR as it is done

[2020-01-17 09:25] PrakashDurlabhji commented on #3394
@kkartunov done in https://github.com/topcoder-platform/community-app/pull/3578

[2020-01-17 13:12] kkartunov commented on #3394
@PrakashDurlabhji not working on my local test. See:
![Screenshot from 2020-01-17 15-10-45](https://user-images.githubusercontent.com/5585002/72614709-a60dd700-393b-11ea-87a6-c71003972438.png)

You have 12h to fix it according TCX rules then it will be assigned to other developers.
Thank You

[2020-01-17 13:40] sushilshinde commented on #3575
@sumitdaga can you PR the changes?

[2020-01-17 13:44] PrakashDurlabhji commented on #3394
@kkartunov that error already exist on branch, I can surely say that it didnt arise due to my PR, even i encountered same error on one of branch while solving it. it exists on a particular users only, for few users u may get it ,and for few profiles u may not, kindly request you to try with another profile e.g tonyj or mess

[2020-01-17 13:48] sumitdaga commented on #3575
@sushilshinde  sure!
https://github.com/topcoder-platform/topcoder-react-lib/pull/124

[2020-01-17 14:03] rashmi73 commented on #3553
@kkartunov active on it

[2020-01-17 17:33] luizrrodrigues commented on #3336
Duplicate of #3422

[2020-01-17 17:33] #3336 closed

[2020-01-17 18:51] kkartunov commented on #3394
The profile is not visible at all after your update @PrakashDurlabhji but it should be. Please, fix it.

[2020-01-17 20:52] PrakashDurlabhji commented on #3394
@kkartunov even before my PR profile is not visible, can we take this issue once above error is resolved, because requirements of this ticket are different from what error is arising, can you please verify once without my PR too?

[2020-01-17 22:04] luizrrodrigues commented on #2664
@gets0ul Not working to `subMenu`:

![Screen Shot 2020-01-17 at 18 59 50](https://user-images.githubusercontent.com/7029641/72649311-1af10900-395c-11ea-8b1e-2bec4f888e3f.png)

![Screen Shot 2020-01-17 at 18 57 28](https://user-images.githubusercontent.com/7029641/72649305-16c4eb80-395c-11ea-8665-d261edfda478.png)

[2020-01-17 22:06] luizrrodrigues commented on #2436
@LieutenantRoger Thanks for check. Looks like already fixed in another issue.

[2020-01-17 22:19] luizrrodrigues commented on #2603
@LieutenantRoger Thanks for checking this one, again looks like already fixed with other ticket.

[2020-01-17 22:26] rashmi73 commented on #3553
@kkartunov PR https://github.com/topcoder-platform/community-app/pull/3580

[2020-01-17 23:35] luizrrodrigues commented on #2666
@LieutenantRoger Looks like just remove the animation, but menu still flashing when navigate between menus.

Note: Term "Remove Animation" is basically to explain, the issue here is about menu refreshing (showing animation when moving between menu)

When expand or in first load (refresh the page - F5) and access page via directly link, still need show the animation.

[Screen Recording 2020-01-17 a

[2020-01-18 01:19] luizrrodrigues commented on #2457
@LieutenantRoger Not working:

![image](https://user-images.githubusercontent.com/7029641/72655642-96f74b00-3974-11ea-8023-5dfc9da4bf13.png)

[2020-01-18 04:32] gets0ul commented on #2664
@luizrrodrigues Can you bump the prize because the original requirement was for secondaryMenu only, not including subMenu?

[2020-01-18 05:35] gets0ul commented on #2664
@luizrrodrigues PR is updated.

[2020-01-18 10:56] kkartunov commented on #3394
@PrakashDurlabhji this is not true. It is visible. Your PR only breaks the functionality.
Thank You for your work so far!

I am opening this for pickup to other competitors
@topcoder-platform/topcodercompetitors this one is free for pickup. Thanks You.

[2020-01-18 10:58] kkartunov commented on #3394
As I proof to you @PrakashDurlabhji here is a screenshot of me running it locally without your commit[s]...
![Screenshot from 2020-01-18 12-53-27](https://user-images.githubusercontent.com/5585002/72662645-34dd2b00-39f2-11ea-960e-4da7ac97eb69.png)

[2020-01-18 11:03] crazyk07 commented on #3394
Contest https://www.topcoder.com/challenges/30112838 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-18 11:50] PrakashDurlabhji commented on #3394
@kkartunov it is still not working at my local machine without my PR, my PR is only solution I feel, shall I paste screenshot too?

[2020-01-18 12:04] gets0ul commented on #3394
@kkartunov @PrakashDurlabhji After done testing, Prakash's solution did work great.
You have to test it in production environment, because sometimes the DEV backend api return empty stats.

The difference between prod and dev:
https://api.topcoder.com/v3/members/birdofpreyru/stats
https://api.topcoder-dev.com/v3/members/birdofpreyru/stats

I'm releasing this back to open for pickup.

[2020-01-18 12:09] crazyk07 commented on #3394
Topcoder-X only supports a single assignee on a ticket to avoid issues with payment<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-18 12:13] PrakashDurlabhji commented on #3394
@gets0ul thanks a lot, appreciate you.

@kkartunov the user birdofpeyru has no data at all in dev environment, whereas the user I tested on was tonyj which has data in dev environment and the same point earlier i was trying to tell that kindly use some different user to test it because the user which I selected is working well.

[2020-01-18 14:13] kkartunov commented on #3394
@gets0ul @PrakashDurlabhji Thank You, guys!
It looks like I had some issues with my local deployment, therefore, I got wrong results. Now it is visible to me as well.

@PrakashDurlabhji will get this one...

[2020-01-19 01:28] luizrrodrigues commented on #2664
@gets0ul I'll check about prize.

[2020-01-19 03:08] SathyaJayabal commented on #3536
@Oanh-and-only-Oanh , The submissions tab is not loading for design contests. please find attached the video.
[Submissions tab.mov.zip](https://github.com/topcoder-platform/community-app/files/4082213/Submissions.tab.mov.zip)

[2020-01-19 03:35] LieutenantRoger commented on #3571
Hi @kkartunov  please let me know if you still not able verify this.  Maybe backend API update is required

[2020-01-20 03:47] crazyk07 commented on #3536
Contest https://www.topcoder.com/challenges/30113095 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-20 03:56] LieutenantRoger commented on #3536
Hey, TopCoders
@topcoder-platform/topcodercompetitors this ticket is open now, come and pick it up if you are interested.

[2020-01-20 03:59] crazyk07 commented on #3536
Contest https://www.topcoder.com/challenges/30113095 has been updated - mfikria has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-20 04:01] crazyk07 commented on #3536
Contest https://www.topcoder.com/challenges/30113095 has been updated - mfikria has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-20 04:03] LieutenantRoger commented on #3536
Hey fikzzzy,  it looks your topcoder-x setting for the github auth token is not setting up correctly, you probably need to setup there firstly

[2020-01-20 04:15] tcchhabra commented on #3536
@LieutenantRoger How do we assign - can you also share signup? Or can you assign me this?

[2020-01-20 04:17] LieutenantRoger commented on #3536
Every member should be able to setup your github auth token here: https://x.topcoder.com/#!/app/settings

You should use your topcoder handle/credentials to login for the mentioned website.

A correct setup result should look like this: https://take.ms/AbikS

[2020-01-20 04:19] tcchhabra commented on #3536
when I went to https://x.topcoder.com/#!/app/settings it asked me to login and then showing blank blue screen.

[2020-01-20 04:19] tcchhabra commented on #3536
console shows
[code]

[2020-01-20 04:22] LieutenantRoger commented on #3536
Hmm, I seemed run into the same error. How about you try to use a browser tab login to www.topcoder.com/challenges, then open up another browser tab: visit https://x.topcoder.com/#!/app/settings  this site and see if you are login automatically.

[2020-01-20 05:01] LieutenantRoger commented on #2457
New fix is pushed here: https://github.com/topcoder-platform/navigation-component/pull/115

[2020-01-20 05:16] gets0ul commented on #3548
@kkartunov is this still open? do you have the screen recording for this issue? Thanks

[2020-01-20 05:25] rashmi73 commented on #3536
@LieutenantRoger can I take this?

[2020-01-20 05:25] crazyk07 commented on #3536
Contest https://www.topcoder.com/challenges/30113095 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-20 06:03] LieutenantRoger commented on #3536
@rashmi73  Yes

[2020-01-20 06:29] SathyaJayabal commented on #3552
@kkartunov @sushilshinde , This issue is deployed on beta, can you please give us the beta URL to test this ? The below links are not working.
https://beta-community-app.tco20.topcoder.com/competition-overview/win-a-trip/copilot-tournament
https://tco20.beta-community-app.topcoder.com/competition-overview/win-a-trip/copilot-tournament
cc @Oanh-and-only-Oanh

[2020-01-20 10:28] kkartunov commented on #3552
@SathyaJayabal test URLs are here:
- beta: https://beta-community-app.topcoder.com/__community__/tco20/competition-overview/marathon/leaderboard
- dev: http://community-app.topcoder-dev.com/__community__/tco20/competition-overview/marathon/leaderboard

I think it works but please do QA.
Thanks

[2020-01-20 12:02] SathyaJayabal commented on #3552
- Leaderboard podium cards - "fulfillment" text color should be #2A2A2A. Demo (**Fixed**)
<img width="290" alt="Screenshot 2020-01-20 at 5 29 33 PM" src="https://user-images.githubusercontent.com/58783823/72724869-816b6680-3baa-11ea-8f3f-6e33440364e8.png">

- Leaderboard podium - move the 1st,2nd and 3rd card upper to be closer to that tabs. In case of title is empty do not render H2 tag that make

[2020-01-20 12:30] SathyaJayabal commented on #3552
- Leaderboard podium cards - "fulfillment" text color should be #2A2A2A. Demo (**Fixed**)

- Leaderboard podium - move the 1st,2nd and 3rd card upper to be closer to that tabs. In case of title is empty do not render H2 tag that makes layout expand. (**Not Fixed**)
The cards have not been moved up.
<img width="1440" alt="Screenshot 2020-01-20 at 5 34 05 PM" src="https://user-images.githubuserconte

[2020-01-20 12:32] SathyaJayabal commented on #3552
cc @kkartunov

[2020-01-20 15:22] kkartunov commented on #3552
@SathyaJayabal thank you for your testing.

Please note that Contentful is a little different than the other parts of the app. We will need to sync together to complete tasks.

For this one:
- Podium cards are moved upper as per spec. You can compare it to the current prod http://tco20.topcoder.com/competition-overview/marathon/leaderboard see Stage 1.

- You see the demo is switched to 4. Rest ne

[2020-01-20 15:46] luizrrodrigues commented on #2666
@LieutenantRoger Please let me know the progress of this one.

[2020-01-20 16:42] Oanh-and-only-Oanh commented on #3552
@SathyaJayabal , thanks for testing. @kkartunov, thanks for the follow up explanation. I'm marking this as QA Pass per the comments.

[2020-01-20 16:51] LieutenantRoger commented on #3548
Hi @topcoder-platform/topcodercompetitors

This ticket is open for pick up.

Try to reproduce it on current production page: www.topcoder.com/challenges, you could easily spot the issues will show up.

Please let me know if you can't reproduce this or have some questions about this.

[2020-01-20 16:55] LieutenantRoger commented on #3548
The fix should be based on branch `hot-fix-performance`

[2020-01-20 17:25] Oanh-and-only-Oanh opened #3582 "[$50] UX change to keyword search on Challenge Listings"
Please display message below if user searches a tech stack that has no LIVE challenges.

"No Live Challenges found"

[2020-01-20 17:33] crazyk07 commented on #3582
Contest https://www.topcoder.com/challenges/30113143 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-20 17:38] veshu opened #3583 "[$20] My Submission tab: Final and Provision columns should be under the 'Score' title"
**Describe the bug**
Final and Provision columns should be under the 'Score' title, like in the design. At present, Provision and Time columns are present under the 'Score' title.

**To Reproduce**
Steps to reproduce the behavior:
1.  Build the https://github.com/topcoder-platform/community-app/tree/feature-mm-submissions locally for production mode
2. go to challenge `http://localhost:3000/challe

[2020-01-20 17:40] veshu commented on #3583
@topcoder-platform/topcodercompetitors this is open for pickup.

[2020-01-20 17:40] crazyk07 commented on #3583
Contest https://www.topcoder.com/challenges/30113144 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-20 17:50] gets0ul commented on #3548
@LieutenantRoger the issue is with pulling up Past challenges with search keyword, right?

[2020-01-20 18:21] crazyk07 commented on #3583
Contest https://www.topcoder.com/challenges/30113144 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-20 22:21] PrakashDurlabhji commented on #3583
@veshu unable to run locally, on feature-mm-submissions branch.
challenge page comes blnak and error in browser console.

1. steps taken, npm install, npm run dev.

everytime it worked but this time error.

[2020-01-20 22:35] PrakashDurlabhji commented on #3583
@veshu also unable to see my submission tab at http://beta-community-app.topcoder.com/challenges/30094385
even though I submitted succesfuly to it

[2020-01-20 23:06] crazyk07 commented on #3582
Contest https://www.topcoder.com/challenges/30113143 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-20 23:11] PrakashDurlabhji commented on #3582
@LieutenantRoger @veshu PR done in https://github.com/topcoder-platform/community-app/pull/3584

hope the perfect branch is used to raise PR. kindly confirm

[2020-01-21 02:11] LieutenantRoger commented on #3548
Hi @gets0ul

Yes , it is.

[2020-01-21 02:17] LieutenantRoger commented on #3582
Hello @PrakashDurlabhji

1.  Could you please raise PR against this branch `hot-fix-no-result`, apologize that I didn't provide this info in advance.

2. Regarding the PR, the CI tests need to be fixed/passed as well.  https://github.com/topcoder-platform/community-app/pull/3584

[2020-01-21 05:01] LieutenantRoger commented on #3440
I'll open this up

[2020-01-21 07:01] veshu commented on #3583
@PrakashDurlabhji Please check on production mode.
[code]
After this it will load the home page from there click production challenge link. Which will let you go to the challenge detail, go the challenge mode then you will see above challenge. select that challenge and submit you should see the my submissions.

Don't go by pasting full url on navigation bar.

[2020-01-21 07:09] sumitdaga commented on #3575
@sushilshinde any update here ?

[2020-01-21 07:35] kkartunov commented on #3394
@SathyaJayabal @nithyaasworld this is ready for testing.

[2020-01-21 07:35] kkartunov commented on #3465
@SathyaJayabal @nithyaasworld this is ready for testing on dev.

[2020-01-21 07:43] kkartunov commented on #3553
@SathyaJayabal @nithyaasworld this is ready for testing on dev.

[2020-01-21 07:52] nithyaasworld commented on #3521
Verified in test env that it opens a new window.

[2020-01-21 07:57] nithyaasworld commented on #3520
Link is not active. However its in Payments menu-item with grey selection indicator.

@luizrrodrigues @Oanh-and-only-Oanh Is this okay?

Here is the screenshot:

[2020-01-21 07:58] SathyaJayabal commented on #3552
@Oanh-and-only-Oanh @kkartunov , Is this bug only for the demo track. Can we verify this issue for the one track and close this bug?

[2020-01-21 08:11] nithyaasworld commented on #2719
Verified in test env

[2020-01-21 08:26] nithyaasworld commented on #3519
Verified in test-env

[2020-01-21 08:44] crazyk07 commented on #3548
Contest https://www.topcoder.com/challenges/30112906 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-21 09:32] LieutenantRoger commented on #3536
Hi @rashmi73  please report your progress on this ticket, thanks.

[2020-01-21 09:45] SathyaJayabal commented on #3552
Verified in production.
<img width="1436" alt="Screenshot 2020-01-21 at 3 13 27 PM" src="https://user-images.githubusercontent.com/58783823/72793679-c94cc500-3c60-11ea-8a2a-a47a125a07a9.png">
<img width="1437" alt="Screenshot 2020-01-21 at 3 14 12 PM" src="https://user-images.githubusercontent.com/58783823/72793684-c9e55b80-3c60-11ea-8b21-998adc49479e.png">

[2020-01-21 12:13] nithyaasworld commented on #2632
Verified in test env.

[2020-01-21 12:43] nithyaasworld commented on #2559
@luizrrodrigues the other 2 bugs stated in [this comment](https://github.com/topcoder-platform/community-app/issues/2559#issuecomment-500511263) are n't fixed. Could you check please?

[2020-01-21 12:59] nithyaasworld commented on #2527
Not able to reproduce

[2020-01-21 13:18] nithyaasworld commented on #2506
Cannot reproduce this in production too

[2020-01-21 13:28] SathyaJayabal commented on #3553
@kkartunov @Oanh-and-only-Oanh

The last state of the filters is saved based on the browser instance and not based on the user. For example if a user logs out and logs in as a different user on the same browser, the old user's last filter state is persisted. Also when the same user logs in using a different browser, the filter state is not persisted.

Is this the expected behaviour ?

[2020-01-21 13:40] nithyaasworld commented on #2603
Cannot reproduce in production env too

[2020-01-21 13:42] nithyaasworld commented on #2440
Cannot reproduce in production too.

[2020-01-21 13:47] nithyaasworld commented on #2495
Verified that its fixed in production already.

[2020-01-21 13:58] SathyaJayabal opened #3586 "F2F link from member profile displays a blank page"
1. Go to member profile in dev env
2. Click on F2F under development activity

The F2F link from the member profile is displaying a blank screen. Is it something to do with data not being available in dev env. I don't see this issues in prod, test or beta environments.

https://community-app.topcoder-dev.com/members/TonyJ/details/?track=DEVELOP&subTrack=FIRST_2_FINISH
https://community-app.topcode

[2020-01-21 14:05] SathyaJayabal commented on #3394
Verified in Dev.
<img width="1438" alt="Screenshot 2020-01-21 at 7 33 56 PM" src="https://user-images.githubusercontent.com/58783823/72811180-1f336400-3c85-11ea-88f7-ffc0230fd82e.png">

[2020-01-21 17:17] Oanh-and-only-Oanh commented on #3553
@SathyaJayabal thanks for catching that behavior. That's fine. We can mark it as QA pass.

[2020-01-21 17:21] Oanh-and-only-Oanh commented on #3520
Can you please share screenshot?

<https://www.topcoder.com/>

*Oanh Tran*

Product Manager, Community App

732-353-9457

www.topcoder.com  | @topcoder <http://twitter.com/topcoder>

On Mon, Jan 20, 2020 at 11:57 PM Nithya <notifications@github.com> wrote:

[2020-01-21 21:10] luizrrodrigues commented on #2440
@nithyaasworld Please add QA Pass here

[2020-01-21 21:11] luizrrodrigues commented on #2506
@nithyaasworld Please add QA Pass here

[2020-01-21 21:18] luizrrodrigues commented on #2527
@nithyaasworld Please add QA Pass here

[2020-01-21 21:19] luizrrodrigues commented on #2603
@nithyaasworld Please add QA Pass here

[2020-01-21 22:48] luizrrodrigues commented on #2664
@gets0ul Prize updated

[2020-01-21 23:16] rashmi73 commented on #3536
@LieutenantRoger few hours more

[2020-01-21 23:17] PrakashDurlabhji commented on #3582
@LieutenantRoger yes doing the same

[2020-01-22 01:33] luizrrodrigues commented on #2708
Duplicate of https://github.com/topcoder-platform/navigation-component/issues/104

[2020-01-22 02:17] LieutenantRoger commented on #3571
Up

[2020-01-22 02:21] iversonLv commented on #2559
@luizrrodrigues @nithyaasworld I believe we should remove all <title> within <svg>.

For now, I removed all <title> within <svg> from our navigation-component repo.
Thos <title> is generated from a sketch which is not properly titled.

Please check PR: https://github.com/topcoder-platform/navigation-component/pull/143

If any please let me know, <title> within <svg> in community-app I don't  touch

[2020-01-22 04:18] veshu commented on #3583
@topcoder-platform/topcodercompetitors this is open for pickup.

[2020-01-22 04:22] PrakashDurlabhji commented on #3583
@veshu sorry for delay completing immediately

[2020-01-22 05:02] LieutenantRoger commented on #3582
@PrakashDurlabhji  could you please tell what do you mean `yes doing the same` ?

Your PR has two issues above which need to be resolved. Please let me know if you able to work on it or we can open it for others.

[2020-01-22 05:11] PrakashDurlabhji commented on #3582
@LieutenantRoger just 10 mins

[2020-01-22 05:19] PrakashDurlabhji commented on #3582
@LieutenantRoger new PR https://github.com/topcoder-platform/community-app/pull/3588

[2020-01-22 06:35] Oanh-and-only-Oanh commented on #3552
@SathyaJayabal, please close out the tickets that pass QA in PROD. Thank you.

[2020-01-22 06:41] LieutenantRoger commented on #3548
Per my testing: with the fix, it will show the result in 17s for now.

We will accept this for now.

[2020-01-22 06:42] Oanh-and-only-Oanh commented on #3548
QA note: This ticket should pass QA if performance is under 18 secs. Thank you.

[2020-01-22 06:45] SathyaJayabal commented on #3552
@Oanh-and-only-Oanh , the changes have been made to just one track(for demo). Waiting for the changes to be applied to the other tracks before closing this ticket.

[2020-01-22 06:59] SathyaJayabal commented on #3552
@Oanh-and-only-Oanh , I am closing this out. We can create a new issue for the rest of the tracks.

[2020-01-22 07:04] LieutenantRoger commented on #3582
Hi @PrakashDurlabhji

We should only show the text for once:  https://take.ms/bsrGX

[2020-01-22 07:20] SathyaJayabal commented on #3465
@kkartunov

1. Access the ratings page directly (using the url) and not from the profile page.
https://www.topcoder.com/members/FireIce/details/?track=DEVELOP&subTrack=ASSEMBLY_COMPETITION
https://www.topcoder.com/members/birdofpreyru/details/?track=DEVELOP&subTrack=CODE
2. Click on < .
3. A blank page is displayed.

< button works fine when you access the page from the profile page.

Note: I thin

[2020-01-22 07:31] SathyaJayabal commented on #3586
The code track too shows a blank page for this member. (testing in beta now)
https://beta-community-app.topcoder.com/members/FireIce/details/?track=DEVELOP&subTrack=CODE

[2020-01-22 07:37] kkartunov commented on #3465
@SathyaJayabal this is the same in prod. This means the ^^^ issue is not related to this one here. You should open another for this.

[2020-01-22 07:42] SathyaJayabal commented on #3465
@kkartunov , yes you are right. I will create a new issue.

[2020-01-22 07:47] SathyaJayabal opened #3590 "[$30]Back arrow(<) from ratings page displays a blank page when accessed directly"
1. Access the ratings page directly (using the url) and not from the profile page.
https://www.topcoder.com/members/FireIce/details/?track=DEVELOP&subTrack=ASSEMBLY_COMPETITION
https://www.topcoder.com/members/birdofpreyru/details/?track=DEVELOP&subTrack=CODE
2. Click on < .
<img width="1439" alt="Screenshot 2020-01-22 at 1 16 46 PM" src="https://user-images.githubusercontent.com/58783823/72875074

[2020-01-22 07:53] PrakashDurlabhji commented on #3582
@LieutenantRoger can you please check now? Ideally h3 should show dark font and not 3 times.

[2020-01-22 07:53] SathyaJayabal commented on #3553
Verified in beta

[2020-01-22 08:22] LieutenantRoger commented on #3582
I still see 3 times for the text, please see the snapshot: https://take.ms/e1yuT

[2020-01-22 08:26] kkartunov commented on #3394
@PrakashDurlabhji this one get reverted because it is the origin of https://github.com/topcoder-platform/community-app/issues/3586

[2020-01-22 08:44] kkartunov opened #3593 "ThemedButtons are changed when used in dashboard banner"
As following demo shows https://community-app.topcoder.com/my-dashboard?announcementPreviewId=2Gy61Ty0FUD5Z9GHyCDq26 buttons are changed from original design/implementation when used in dashboard banner.

They should look like design reference: https://community-app.topcoder.com/examples/contentful/contentblock/3k7k1JpnSvIRrJYWs4izYi

[2020-01-22 08:49] PrakashDurlabhji commented on #3394
@kkartunov I need to raise PR again?

[2020-01-22 08:51] kkartunov commented on #3590
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors this is open for pickup.

[2020-01-22 08:52] luizrrodrigues commented on #2704
@Oanh-and-only-Oanh This one already deployed in Prod

[2020-01-22 08:53] crazyk07 commented on #3590
Contest https://www.topcoder.com/challenges/30113283 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-22 08:56] SathyaJayabal commented on #3548
The time to show the results is based on the keyword that is being searched. For example if you have some recently completed challenges with the searched keyword, the results show up faster. If you do not have any recently completed challenges with the searched keyword, then the search takes longer.

Also the page becomes more and more unresponsive as we keep searching

[2020-01-22 08:58] crazyk07 commented on #3590
Contest https://www.topcoder.com/challenges/30113283 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-22 09:15] SathyaJayabal commented on #3548
please check the video here
https://drive.google.com/open?id=1btecsA2_FqXDooMWLcDUPw345Q4C0ZAe

[2020-01-22 09:44] SathyaJayabal commented on #3394
Please fix issues mentioned in #3586

[2020-01-22 09:45] SathyaJayabal commented on #3586
Closing this as this has been caused by #3394.
Fixing 3394 should fix this

[2020-01-22 09:45] #3586 closed

[2020-01-22 09:45] PrakashDurlabhji commented on #3394
@kkartunov I hope I will be paid for this

[2020-01-22 10:14] SathyaJayabal commented on #3548
comment from dev: Hey @picachui thanks for testing, but it seems you are testing not the correct area.  It looks if we use Keyword in the filter panel, it will be searched as a 'tag', but the ticket is trying to fix the 'Search challenges' box when we open up the www.topcoder.com/challenges page.

After retesting as per above comment, search is displaying results below 18 secs . Verified in dev.

[2020-01-22 10:56] luizrrodrigues commented on #2559
@iversonLv Thanks, sure I'll raise the prize.

[2020-01-22 11:45] nithyaasworld commented on #2457
Verified in test env.

![image](https://user-images.githubusercontent.com/5114190/72891700-d342f680-3d3a-11ea-98b6-c6332f795d40.png)

[2020-01-22 12:00] nithyaasworld commented on #2708
Closing this as this is handled in https://github.com/topcoder-platform/navigation-component/issues/104

[2020-01-22 12:00] #2708 closed

[2020-01-22 12:52] SathyaJayabal commented on #3465
@kkartunov @Oanh-and-only-Oanh , the user handle opens the profile page in a new tab. I hope this is expected behaviour.

[2020-01-22 13:06] lakshmiathreya commented on #3513
@SathyaJayabal @nithyaasworld pls review this and move to relevant milestone.

[2020-01-22 13:07] lakshmiathreya commented on #3440
@nithyaasworld @SathyaJayabal pls move this to relevant milestone.

[2020-01-22 13:23] LieutenantRoger commented on #3536
@rashmi73  please let me know your progress ASAP, if you are not making a good progress, I will have to open it for others. Thanks

[2020-01-22 13:27] rashmi73 commented on #3536
@LieutenantRoger just 1 hour or i will release it myself.

[2020-01-22 16:15] veshu commented on #3583
@PrakashDurlabhji any update on this? if you can't submit on time then please don't hold the issue.
You are holding issues for more than 36 hours.

[2020-01-22 16:18] ajefts opened #3596 "Early registration message for Challenges that are active but haven't started yet"
Friendly message for challenges that are active but haven't started. Currently if you activate a challenge but it has a future date, you get a "challenge doesn't exist" error message.  It would be nice to have a page that instead displays something like "You're early!  You can begin registration for this challenge in X hours"

[2020-01-22 16:18] ajefts commented on #3596
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3753214

[2020-01-22 16:18] ajefts opened #3597 "Early registration message for Challenges that are active but haven't started yet"
Friendly message for challenges that are active but haven't started. Currently if you activate a challenge but it has a future date, you get a "challenge doesn't exist" error message.  It would be nice to have a page that instead displays something like "You're early!  You can begin registration for this challenge in X hours"

[2020-01-22 16:19] ajefts commented on #3597
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3753214

[2020-01-22 16:19] PrakashDurlabhji commented on #3583
@veshu yes it is completed but commenting from mobile network as suddenly wifi is lost , pushing PR in some minutes

[2020-01-22 16:20] ajefts opened #3598 "Early registration message for Challenges that are active but haven't started yet"
Friendly message for challenges that are active but haven't started. Currently if you activate a challenge but it has a future date, you get a "challenge doesn't exist" error message.  It would be nice to have a page that instead displays something like "You're early!  You can begin registration for this challenge in X hours"

[2020-01-22 16:20] ajefts commented on #3598
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3753214

[2020-01-22 16:29] Oanh-and-only-Oanh commented on #3530
@SathyaJayabal, can you verify if this is still an issue? If so, is the navigation the new or old?

[2020-01-22 16:31] #3598 closed

[2020-01-22 16:32] #3597 closed

[2020-01-22 16:47] #2704 closed

[2020-01-22 16:51] SathyaJayabal commented on #3530
@Oanh-and-only-Oanh , Yes, it is still an issue. The issue is with the old nav. At present production has some pages with old nav( like the member search results page). Do we let is get fixed when we move the member search to the community app (#3550) ?

[2020-01-22 16:53] Oanh-and-only-Oanh commented on #3530
@SathyaJayabal, this should should get fixed with when we move the member search to community App. Can you add that requirement to #3550?  thanks

[2020-01-22 16:55] SathyaJayabal commented on #3550
Migration should fix issue reported in #3530

[2020-01-22 18:06] veshu commented on #3583
@PrakashDurlabhji when can we expect this?

[2020-01-22 18:28] kkartunov commented on #3394
@PrakashDurlabhji you will not be paid for this unless you submit **new** PR that addresses concerns details in #3586 . You have 12h to do so. After that, I will unsign and open it for others as we all spent enough time on this!

[2020-01-22 19:02] PrakashDurlabhji commented on #3394
@kkartunov but that issue is not caused due to my PR as nothing as such involved in my PR which could break it, i will look into that as well , but can you please take time to check it perfectly, even before this something which was not caused due to mine issue was unintentionaly on me. request you to take a look even i will take a look

[2020-01-22 20:16] PrakashDurlabhji commented on #3582
@LieutenantRoger new PR https://github.com/topcoder-platform/community-app/pull/3599

[2020-01-22 20:52] PrakashDurlabhji commented on #3583
@veshu apology for delay PR https://github.com/topcoder-platform/community-app/pull/3600

[2020-01-22 21:28] PrakashDurlabhji commented on #3394
@kkartunov I will try to explain it in points and I was investigating it since 2 hours and found nothing which can be introduced due to my PR.

With feature-member-profiles branch:

1. As you have reverted my changes on this branch.
2. so no where my single line change can be found.
3. so it should work locally? but even after reverting my changes it doesnt work locally.

With develop branch:
1. S

[2020-01-22 22:53] rashmi73 commented on #3536
@LieutenantRoger it is solved

[2020-01-22 22:58] rashmi73 commented on #3536
@LieutenantRoger MR https://github.com/topcoder-platform/community-app/pull/3601

[2020-01-23 07:58] kkartunov commented on #3552
Not in prod

[2020-01-23 08:47] SathyaJayabal commented on #3552
Verified.
<img width="1440" alt="Screenshot 2020-01-23 at 2 10 56 PM" src="https://user-images.githubusercontent.com/58783823/72969212-0a70e080-3deb-11ea-8f08-8fa88de17f37.png">

[2020-01-23 08:47] #3552 closed

[2020-01-23 08:59] SathyaJayabal commented on #3553
Verified in production.
[filters.mov.zip](https://github.com/topcoder-platform/community-app/files/4102122/filters.mov.zip)

[2020-01-23 08:59] #3553 closed

[2020-01-23 09:00] crazyk07 commented on #3553
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112905<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-23 09:07] SathyaJayabal commented on #3465
Verified in production
[handle.mov.zip](https://github.com/topcoder-platform/community-app/files/4102156/handle.mov.zip)

[2020-01-23 09:07] #3465 closed

[2020-01-23 09:08] crazyk07 commented on #3465
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112840<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-23 09:14] PrakashDurlabhji commented on #3394
@kkartunov this issue is observed in many other branches such feature-mm-submissions which has no relation with my changes

[2020-01-23 09:14] PrakashDurlabhji commented on #3394
@gets0ul is it possible to help a bit? to make understand

[2020-01-23 09:15] crazyk07 commented on #3394
Contest https://www.topcoder.com/challenges/30112838 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-23 09:16] kkartunov commented on #3394
@PrakashDurlabhji the issue https://github.com/topcoder-platform/community-app/issues/3586 is not seen after removing your commit. We have currently deployed the master without it and it all works well.

**Step back or I will need to ban you from the repository!**

[2020-01-23 09:18] PrakashDurlabhji commented on #3394
@kkartunov apology for it , but I still feel my solution is the only solution for this ticket. I wont assign it to myself now sorry again

[2020-01-23 09:22] crazyk07 commented on #3394
Contest https://www.topcoder.com/challenges/30112838 has been updated - it has been assigned to lieutenantroger.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-23 09:22] LieutenantRoger commented on #3394
I would like to take a try.

[2020-01-23 09:22] kkartunov commented on #3394
@PrakashDurlabhji you feel wrong. We spent enough time on this. As you see here https://github.com/topcoder-platform/community-app/commits/master your commit it reverted and the issue is not there in beta/dev/prod. Check your branch and you will see it there. You can work on it and fix it if you wish to improve. BUT step back here and leave space for others.

Thanks

[2020-01-23 09:24] kkartunov commented on #3394
@LieutenantRoger sure, please. We need a solution that works and won't have consequences like https://github.com/topcoder-platform/community-app/issues/3586

Good luck!

[2020-01-23 09:27] kkartunov commented on #3590
@Gauravseta 24h have passed. Do you have any solution or you will need to step back from this ticket?

[2020-01-23 09:40] SathyaJayabal opened #3602 "[$30]Member Profile : Default profile pic not displayed"
For members who do not have a profile pic uploaded a default image must be displayed. The default image is not displayed.

Example:
https://www.topcoder.com/members/bohuss/
https://www.topcoder.com/members/tourist
https://www.topcoder.com/members/soso0574/

<img width="1435" alt="Screenshot 2020-01-23 at 3 08 10 PM" src="https://user-images.githubusercontent.com/58783823/72972931-4ce9eb80-3df2-11e

[2020-01-23 09:46] LieutenantRoger commented on #3394
Thanks @kkartunov

By investing into the issue: do you know the codebase for the members api ?  Specifically which code base does this api belong to ?

https://api.topcoder.com/v3/members/birdofpreyru/stats

[2020-01-23 09:48] LieutenantRoger commented on #3394
And I believe the fix requires changing the backend as well.

[2020-01-23 10:12] kkartunov commented on #3602
@SathyaJayabal can we show example of how it should look?

[2020-01-23 10:13] kkartunov commented on #3602
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors this one is open for pickup.

[2020-01-23 10:14] SathyaJayabal opened #3603 "Clicking on fourth place card member handle from leaderboard goes to blank page (DEV,QA,F2F,Design tracks)"
1. Go to tco20 leaderboard for any of the four tracks (Dev, QA, F2F, Design)
https://tco20.topcoder.com/competition-overview/first2finish/leaderboard
https://tco20.topcoder.com/competition-overview/development/leaderboard
https://tco20.topcoder.com/competition-overview/qa/leaderboard
https://tco20.topcoder.com/competition-overview/ui-design/leaderboard
2. Click on the member handle of the fourth p

[2020-01-23 10:16] crazyk07 commented on #3602
Contest https://www.topcoder.com/challenges/30113367 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-23 10:17] kkartunov commented on #3590
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors this one is re-opened for pickup due to long inactivity.

[2020-01-23 10:18] SathyaJayabal commented on #3602
@kkartunov
<img width="1438" alt="Screenshot 2020-01-23 at 3 45 15 PM" src="https://user-images.githubusercontent.com/58783823/72975840-7d805400-3df7-11ea-83dd-415931db1cfb.png">
Also make sure the default pic is displayed in ratings pages too. Examples:
https://www.topcoder.com/members/bohuss/details/?track=DEVELOP&subTrack=RIA_BUILD_COMPETITION
https://www.topcoder.com/members/bohuss/details/?tr

[2020-01-23 10:20] crazyk07 commented on #3590
Contest https://www.topcoder.com/challenges/30113283 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-23 10:22] rashmi73 commented on #3590
@kkartunov which branch PR?

[2020-01-23 10:43] kkartunov commented on #3590
@rashmi73 sorry https://github.com/topcoder-platform/community-app/tree/feature-member-profiles thanks

[2020-01-23 10:44] kkartunov commented on #3602
@here this ^^^ in scope as well.

[2020-01-23 10:51] SathyaJayabal commented on #3548
@LieutenantRoger , when the user searches for a keyword that is not present in the past challenges, the search results (No Past Challenges found") must be displayed at a reasonable amount of time. At present the search keeps going on for more than a few  minutes.

Please see video

[2020-01-23 10:54] SathyaJayabal commented on #3548
@LieutenantRoger , when the user searches for a keyword that is not present in the past challenges, the search results (Message "No Past Challenges found") must be displayed at a reasonable amount of time. At present the search keeps going on for more than a few minutes.

Please see video
https://drive.google.com/open?id=1jwq43QZpOgPzeR1lv-1b0oi_ErqeBOax
For other examples, the results is displaye

[2020-01-23 11:23] crazyk07 commented on #3602
Contest https://www.topcoder.com/challenges/30113367 has been updated - it has been assigned to lieutenantroger.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-23 11:24] LieutenantRoger commented on #3602
@kkartunov    `feature-member-profiles` for PR, right ?

[2020-01-23 11:25] SathyaJayabal commented on #3582
1. The style of the message must be similar to
<img width="1431" alt="Screenshot 2020-01-23 at 4 49 41 PM" src="https://user-images.githubusercontent.com/58783823/72980501-b2dd6f80-3e00-11ea-87ed-e48b6856761b.png">
<img width="1438" alt="Screenshot 2020-01-23 at 4 52 46 PM" src="https://user-images.githubusercontent.com/58783823/72980660-ffc14600-3e00-11ea-9f27-30acb43d6846.png">

2. There must be

[2020-01-23 11:33] SathyaJayabal commented on #3582
cc @Oanh-and-only-Oanh

[2020-01-23 11:47] LieutenantRoger commented on #3582
Hi, @Oanh-and-only-Oanh

Please take a look above raised issue, thanks.

[2020-01-23 12:08] gets0ul commented on #3440
Is this still open?

[2020-01-23 12:51] rashmi73 commented on #3590
@kkartunov need to run on prod or dev? because I remember it is breaking in either of environment,

also while running locally we cannot go directly to

/members/FireIce/details/?track=DEVELOP&subTrack=ASSEMBLY_COMPETITION
https://www.topcoder.com/members/birdofpreyru/details/?track=DEVELOP&subTrack=CODE

else it gives unauthorized error.

[2020-01-23 14:07] LieutenantRoger commented on #3602
MR against feature-member-profiles branch is here:  https://github.com/topcoder-platform/community-app/pull/3604

[2020-01-23 17:05] Oanh-and-only-Oanh commented on #3582
@LieutenantRoger, please make keep the style of text consistent with the current style. thanks.

[2020-01-23 18:20] ajefts opened #3605 "Ability to save filters on Challenge Listings"
There is a cool feature members are demanding - around the ability to save their filters on challenge listing <https://apps.topcoder.com/forums/?module=Thread&threadID=949311>
suggested by Harshit

<p></p>

[2020-01-23 18:20] ajefts commented on #3605
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3633735

[2020-01-23 18:21] ajefts opened #3606 "Ability to save filters on Challenge Listings"
There is a cool feature members are demanding - around the ability to save their filters on challenge listing <https://apps.topcoder.com/forums/?module=Thread&threadID=949311>
suggested by Harshit

<p></p>

[2020-01-23 18:21] ajefts commented on #3606
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3633735

[2020-01-23 18:22] ajefts opened #3607 "Ability to save filters on Challenge Listings"
There is a cool feature members are demanding - around the ability to save their filters on challenge listing <https://apps.topcoder.com/forums/?module=Thread&threadID=949311>
suggested by Harshit

<p></p>

[2020-01-23 18:22] ajefts commented on #3607
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3633735

[2020-01-23 18:27] #3606 closed

[2020-01-23 18:27] #3607 closed

[2020-01-23 19:07] panjikharisma commented on #3553
Thanks all, you guys awesome! It's cool to see on how the development works/how a suggestion being implemented :)

[2020-01-23 19:21] rashmi73 commented on #3590
@kkartunov not able to solve it

[2020-01-23 19:37] crazyk07 commented on #3590
Contest https://www.topcoder.com/challenges/30113283 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-24 02:12] LieutenantRoger commented on #3582
Hi @Oanh-and-only-Oanh

Please check below questions:

1. Please tell do we only need to keep the text style for the 'All Challenges' category, right ?  That means the red rectangle block, and the background color is not considered.  https://take.ms/tdnsa

2. What about the other categories raised above, `My Challenges`, `Open for registration`, `Ongoing challenges` ?

3. Do we still use the `No L

[2020-01-24 02:24] LieutenantRoger commented on #3548
Hi, @Oanh-and-only-Oanh

Please take a look above raised issue

[2020-01-24 03:35] Oanh-and-only-Oanh commented on #3596
@ajefts, we're not able to reproduce the  "challenge doesn't exist" error message. Please check this challenge, which is activated now but registration start time is in the future.  https://www.topcoder.com/challenges/30113418/?type=develop

[2020-01-24 03:44] Oanh-and-only-Oanh commented on #3582
@LieutenantRoger,
1. red block and background color not considered.
2. Sure. include My Challenges, Open for registration, Ongoing challenges.
3. "No challenges found in My Challenges", "No challenges found Open for Registration", " No challenges found in Ongoing Challenges"

[2020-01-24 03:48] Oanh-and-only-Oanh commented on #3548
@LieutenantRoger, what @SathyaJayabal noticed can be logged as a separate issue. Let's accept this fix and close out this ticket. Please open another separate ticket for:

"when the user searches for a keyword that is not present in the past challenges, the search results (Message "No Past Challenges found") must be displayed at a reasonable amount of time. At present the search keeps going on for

[2020-01-24 04:28] LieutenantRoger commented on #3582
Hi,  @PrakashDurlabhji

Please do the necessary adjustment above.

Thanks.

[2020-01-24 04:30] LieutenantRoger commented on #3548
Sure.

Hi @SathyaJayabal  please accept this fix and mark it pass.

[2020-01-24 04:33] LieutenantRoger opened #3609 "Show 'No Past Challenges found' when the request time exceeds the configured time."
**Describe the bug**

"when the user searches for a keyword that is not present in the past challenges, the search results (Message "No Past Challenges found") must be displayed at a reasonable amount of time(let's make a configured reasonable time for now so we can tweak and change later). At present the search keeps going on for more than a few minutes.

Please see video
https://drive.google.com

[2020-01-24 04:36] SathyaJayabal opened #3610 "[$55] Past Challenges Search : Search takes a long time to display results if no challenges were found"
1. Go to Past Challenges
2. Search for a keyword that is does not return any results

Expected: The search results (Message "No Past Challenges found") must be displayed at a reasonable amount of time.

Actual: The search keeps going on for more than a few minutes.

Please see video
https://drive.google.com/open?id=1jwq43QZpOgPzeR1lv-1b0oi_ErqeBOax

Please make the text style look like this: https

[2020-01-24 04:46] Oanh-and-only-Oanh commented on #3609
duplicate of 3610

[2020-01-24 04:46] #3609 closed

[2020-01-24 04:49] LieutenantRoger commented on #3610
Hey @topcoder-platform/topcodercompetitors

This is open for pickup.

[2020-01-24 04:50] SathyaJayabal commented on #3605
Closing this as this was Fixed in #3553

[2020-01-24 04:51] crazyk07 commented on #3610
Contest https://www.topcoder.com/challenges/30113423 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-24 04:53] #3605 closed

[2020-01-24 05:32] PrakashDurlabhji commented on #3582
@LieutenantRoger Can you please clarify the below points also I went through above points

1. For All challenges bucket, show "No Live challenges foud" and nothing else with text style as  this https://user-images.githubusercontent.com/58783823/72980501-b2dd6f80-3e00-11ea-87ed-e48b6856761b.png correct?

2. so all challenges bucket will show just single "No Live challenges foud"?
3. Particular buck

[2020-01-24 05:50] LieutenantRoger commented on #3582
1. Show `No Live challenges found in All Challenges`,   <- the surfix text will be sync with the categories user have chosen in the right panel.  We only need the text style.

2. All challenges will be `No Live challenges found in All Challenges`

3. For My challenges -> Show `No challenges found in My Challenges`

Do these make sense to you about the requirement ?

We will raise the price to $50.

[2020-01-24 07:00] kkartunov commented on #3602
@LieutenantRoger yes against `feature-member-profiles`. Thanks

But I have this issue I still do not see the default pic after this fix, why?
![Screenshot from 2020-01-24 09-00-05](https://user-images.githubusercontent.com/5585002/73050269-f0d1a680-3e87-11ea-8fef-6dd8836e854a.png)
![Screenshot from 2020-01-24 08-59-16](https://user-images.githubusercontent.com/5585002/73050271-f0d1a680-3e87-11ea-8

[2020-01-24 07:48] SathyaJayabal commented on #3536
verified in dev
<img width="1440" alt="Screenshot 2020-01-24 at 1 15 33 PM" src="https://user-images.githubusercontent.com/58783823/73052775-f17c3400-3eab-11ea-8407-c47ed6670d59.png">

[2020-01-24 09:30] LieutenantRoger commented on #3602
Hi @kkartunov

It seems you are using development build.  Could you please try production build with the fix ?

See what I've seen in my local:

https://take.ms/xZAhZ
https://take.ms/gXGMt

[2020-01-24 14:29] ajefts commented on #3596
Ok.  This was reported by the delivery team, but I'm not sure exactly which individual.  I'm pretty sure there are cases where the "challenge doesn't exist" message does appear.  Maybe we can find those cases and smooth out the experience?

[2020-01-25 02:45] LieutenantRoger commented on #3582
Hi @PrakashDurlabhji  please update the progress, thanks.

[2020-01-25 06:51] kkartunov commented on #3394
@LieutenantRoger we have confirmation that API updates needed for this one here. Therefore I am putting it `On hold` label. Thanks for your cooperation so far.

[2020-01-25 06:52] kkartunov commented on #3394
Putting here Tony's info for reference:
"those calcs are part of the data loader.  I think it actually roots back to the loader that transforms data from the informix oltp to the DW.  There is an array of challenge types that it uses to do things like calculate ratings, reliability, etc.  I’m pretty sure the appropriate missing challenge types will need to be added and then the loaders will calcul

[2020-01-25 06:53] kkartunov commented on #3571
Putting here Tony's info for reference:
"those calcs are part of the data loader. I think it actually roots back to the loader that transforms data from the informix oltp to the DW. There is an array of challenge types that it uses to do things like calculate ratings, reliability, etc. I’m pretty sure the appropriate missing challenge types will need to be added and then the loaders will calculate

[2020-01-25 06:54] kkartunov commented on #3571
@LieutenantRoger we have confirmation that API updates needed for this one here. Therefore I am putting it On hold label. Thanks for your cooperation so far.

[2020-01-25 07:02] PrakashDurlabhji commented on #3394
@kkartunov  @crazyk07 any prize amount for my efforts which I could get as PR was merged and fix was accepted? as my PR was only solution for it. thanks

[2020-01-25 07:03] kkartunov commented on #3603
PR for this https://github.com/topcoder-platform/community-app/pull/3613

[2020-01-25 07:30] kkartunov commented on #3602
@LieutenantRoger it was needed to run `npm run build`. Thanks

[2020-01-25 10:02] PrakashDurlabhji commented on #3582
@LieutenantRoger done pushing it, will also paste a screenshot for UI text style, a bit confused still but kindly provide feedback i will immediately implement it

[2020-01-25 10:38] PrakashDurlabhji commented on #3582
@LieutenantRoger styling fixes in PR https://github.com/topcoder-platform/community-app/pull/3615 and message is bucket wise respectively.

https://user-images.githubusercontent.com/58783823/72980501-b2dd6f80-3e00-11ea-87ed-e48b6856761b.png
styling is same as in this image, just text gets replaced with particular "No live challenges <my/upcoming/past>"

[2020-01-25 11:03] LieutenantRoger commented on #3582
@PrakashDurlabhji  Please fix the CI test before I will start to review submission, thanks.

[2020-01-25 12:10] PrakashDurlabhji commented on #3582
@LieutenantRoger PR update lint fix

[2020-01-25 13:10] LieutenantRoger commented on #3582
1)  The text should match what's provided above.  The style doesn't look correct.

![image](https://user-images.githubusercontent.com/2875203/73121615-d1856700-3fb6-11ea-9111-49d50191d858.png)

2)  Switching from `All Challenges` to 'My Challenges`, I received this:

![image](https://user-images.githubusercontent.com/2875203/73121634-1a3d2000-3fb7-11ea-950d-ee534b29bdbe.png)

[2020-01-25 13:16] LieutenantRoger commented on #3582
3. Some more test you could perform before submit.
![image](https://user-images.githubusercontent.com/2875203/73121683-920b4a80-3fb7-11ea-9e23-77f6d24e3c9f.png)

4.  Per the requirement above, the white background color should not be considered, that means, you should only display the text.

[2020-01-26 11:21] PrakashDurlabhji commented on #3582
@LieutenantRoger PR updated as per above comment and tested well #3615

[2020-01-26 14:53] LieutenantRoger commented on #3582
1) Text should match what's provided above.  `No Live challenges found in All Challenges`
![image](https://user-images.githubusercontent.com/2875203/73136952-51323500-408e-11ea-943d-47ce9d8d6690.png)

https://github.com/topcoder-platform/community-app/issues/3582#issuecomment-578000829

[2020-01-26 15:33] PrakashDurlabhji commented on #3582
@LieutenantRoger done

[2020-01-27 01:59] LieutenantRoger commented on #3582
[BUCKETS.OPEN_FOR_REGISTRATION]: 'No challenges found Open for Registration',
  [BUCKETS.ONGOING]: 'No challenges found Ongoing',

These two are not correct.  Please update it accordingly.

[2020-01-27 02:02] LieutenantRoger commented on #3610
Hi @topcoder-platform/topcodercompetitors

We increased the price for the ticket, please come and pick it up.

Thanks.

[2020-01-27 04:50] PrakashDurlabhji commented on #3582
@LieutenantRoger updated

[2020-01-27 06:11] LieutenantRoger commented on #3582
The text is fine now, but I found another issue:

1）When I visit the challenge page for the first time after launching the community app, I see this.
After I refresh the browser, the app became normal. So this should be another bug.
![image](https://user-images.githubusercontent.com/2875203/73153361-7c5c6900-410e-11ea-837b-aa7c6f5831e9.png)

[2020-01-27 06:31] PrakashDurlabhji commented on #3582
@LieutenantRoger actually this bug is not due to my PR , because it even happens with me before,
I feel it is an issue with topcoder site itself, u would have observed too that:

1. Sometimes when we logout from topcoder site and close the current tab.
2. then in different tab open, topcoder.com/challenges.
3. you willl see that on top right corner your topcoder handle would appear for 1 sec and t

[2020-01-27 06:41] kkartunov commented on #3394
@PrakashDurlabhji your PR was merged but then it was reverted because it was the origin of https://github.com/topcoder-platform/community-app/issues/3586 as reported from our QA team. I explained this many times to you above. There will be **NO prize award** for your PR.

[2020-01-27 07:10] PrakashDurlabhji commented on #3582
@LieutenantRoger

1.hence while above happens, auth.user was true for 1 sec and "No live challenges found in My challenges" appear

2.after 1 sec though auth.user is false but same is not reflected unless we refresh the app.

[2020-01-27 08:51] LieutenantRoger commented on #3582
Hmm, I can't agree with you on this, this seems an obvious issue with the challenge listing area.
please fix the error scenario showed up in the snapshot, thanks.

https://github.com/topcoder-platform/community-app/issues/3582#issuecomment-578604940

[2020-01-27 09:02] PrakashDurlabhji commented on #3582
@LieutenantRoger solving it

[2020-01-27 22:49] PrakashDurlabhji commented on #3582
@LieutenantRoger update done , can you please check now and provide feedback if any, waiting

[2020-01-27 22:52] nithyaasworld opened #3616 "$25 | New Navi: 'All Challenges' menu not working when user is in Review Opportunities page"
1. Go to Review Opportunities page
2. Click on Compete -> All Challenges and observe

Actual:
Not able to click on 'All challenges' sub menu.

Expected:
User should be able to click on 'All Challenges' and navigate back to Challenge listing page.

![image](https://user-images.githubusercontent.com/5114190/68325758-10aac700-00f0-11ea-80f2-de83e9f372be.png)

[2020-01-28 16:14] LieutenantRoger commented on #3582
Sure @PrakashDurlabhji
I'm reviewing now, sorry for the late due to I'm traveling today.

[2020-01-28 16:34] LieutenantRoger commented on #3582
looks fine now. Thanks.

[2020-01-29 04:01] LieutenantRoger commented on #3610
Hi @topcoder-platform/topcodercompetitors

We increased the price for the ticket again, come and help us resolve this issue.

Thanks.

[2020-01-29 04:50] SathyaJayabal commented on #3582
Verified in dev
<img width="1393" alt="Screenshot 2020-01-29 at 10 18 24 AM" src="https://user-images.githubusercontent.com/58783823/73328735-da10c280-4280-11ea-8927-ba3686a1ae9e.png">
<img width="1401" alt="Screenshot 2020-01-29 at 10 18 40 AM" src="https://user-images.githubusercontent.com/58783823/73328736-da10c280-4280-11ea-9ae5-b36f1b6c0d63.png">
<img width="1405" alt="Screenshot 2020-01-29 a

[2020-01-29 06:37] lakshmiathreya commented on #3536
@SathyaJayabal pls verify this in Beta before release ...

[2020-01-29 06:37] lakshmiathreya commented on #3582
@SathyaJayabal pls verify on Beta prior to Release...

[2020-01-29 07:00] sushilshinde opened #3618 "[$30]Fix lint issue on feature-mm-submissions branch"
`feature-mm-submissions` branch causes lint error on `npm test`

[code]

PR to branch https://github.com/topcoder-platform/community-app/tree/feature-mm-submissions

[2020-01-29 07:01] sushilshinde commented on #3618
@rashmi73 please submit in 4 hours

[2020-01-29 07:01] sushilshinde commented on #3618
@veshu FYI

[2020-01-29 07:01] crazyk07 commented on #3618
Contest https://www.topcoder.com/challenges/30113815 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-29 07:02] crazyk07 commented on #3618
Contest https://www.topcoder.com/challenges/30113815 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-29 07:10] SathyaJayabal commented on #3582
Verified in beta
<img width="1409" alt="Screenshot 2020-01-29 at 12 35 03 PM" src="https://user-images.githubusercontent.com/58783823/73334894-ece0c280-4293-11ea-8b2e-11d70e94063e.png">
<img width="1409" alt="Screenshot 2020-01-29 at 12 35 14 PM" src="https://user-images.githubusercontent.com/58783823/73334895-ece0c280-4293-11ea-85b0-42dcade62d75.png">
<img width="1403" alt="Screenshot 2020-01-29

[2020-01-29 07:12] SathyaJayabal commented on #3536
Verified in beta

[submissions tab.mov.zip](https://github.com/topcoder-platform/community-app/files/4126636/submissions.tab.mov.zip)

[2020-01-29 07:17] rashmi73 commented on #3618
@sushilshinde @veshu unable to reflect locally, can you please confirm again?

[2020-01-29 07:17] SathyaJayabal commented on #3548
Verified in beta
[past search.mov.zip](https://github.com/topcoder-platform/community-app/files/4126638/past.search.mov.zip)

[2020-01-29 07:20] SathyaJayabal commented on #2728
verified in prod
<img width="1405" alt="Screenshot 2020-01-29 at 12 49 43 PM" src="https://user-images.githubusercontent.com/58783823/73335589-dd627900-4295-11ea-8411-b84b361853a5.png">

[2020-01-29 07:20] #2728 closed

[2020-01-29 10:17] veshu commented on #3618
@rashmi73 did you run `npm run lint`? I can reproduce locally. Also please try to remove node_modules and start fresh in this branch.

[2020-01-29 11:04] rashmi73 commented on #3618
@veshu it is done raising PR

[2020-01-29 11:08] rashmi73 commented on #3618
@veshu @sushilshinde PR https://github.com/topcoder-platform/community-app/pull/3619

[2020-01-29 11:47] SathyaJayabal commented on #3536
Verified in production
<img width="1405" alt="Screenshot 2020-01-29 at 5 15 51 PM" src="https://user-images.githubusercontent.com/58783823/73354170-1103ca00-42bb-11ea-8e93-8e533668db2a.png">

[2020-01-29 11:47] #3536 closed

[2020-01-29 11:47] crazyk07 commented on #3536
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113095<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-29 11:52] SathyaJayabal commented on #3582
Verified in prod
<img width="1409" alt="Screenshot 2020-01-29 at 5 21 44 PM" src="https://user-images.githubusercontent.com/58783823/73354538-f3833000-42bb-11ea-8563-c4e4ef01aaa1.png">
<img width="1404" alt="Screenshot 2020-01-29 at 5 21 52 PM" src="https://user-images.githubusercontent.com/58783823/73354539-f41bc680-42bb-11ea-9f7d-639a97113e7a.png">
![Uploading Screenshot 2020-01-29 at 5.21.59 PM

[2020-01-29 11:52] #3582 closed

[2020-01-29 11:53] crazyk07 commented on #3582
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113143<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-29 11:54] SathyaJayabal commented on #3548
Verified in prod
[past serach prod.mov.zip](https://github.com/topcoder-platform/community-app/files/4127759/past.serach.prod.mov.zip)

[2020-01-29 11:54] #3548 closed

[2020-01-29 11:54] crazyk07 commented on #3548
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112906<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-29 13:40] sushilshinde commented on #3618
Thanks @rashmi73

[2020-01-29 13:40] #3618 closed

[2020-01-29 13:41] crazyk07 commented on #3618
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113815<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-29 14:01] SathyaJayabal commented on #3602
Verified on beta
<img width="1415" alt="Screenshot 2020-01-29 at 7 29 56 PM" src="https://user-images.githubusercontent.com/58783823/73363002-e0795b80-42cd-11ea-8eb6-511215e71f8e.png">
<img width="1403" alt="Screenshot 2020-01-29 at 7 30 19 PM" src="https://user-images.githubusercontent.com/58783823/73363003-e0795b80-42cd-11ea-8efa-a7b5752a8cbd.png">

[2020-01-29 14:33] veshu commented on #3399
@nithyaasworld This is ready for QA. Could you please verify again.
Thanks!
cc @Oanh-and-only-Oanh

[2020-01-29 18:00] crazyk07 commented on #3610
Contest https://www.topcoder.com/challenges/30113423 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-29 18:00] gets0ul commented on #3610
@LieutenantRoger on which branch? develop?

[2020-01-30 03:54] SathyaJayabal commented on #3603
Verified on beta
<img width="1402" alt="Screenshot 2020-01-30 at 9 23 24 AM" src="https://user-images.githubusercontent.com/58783823/73418613-3b4c9a80-4342-11ea-92ea-b5308cedf1e0.png">

[2020-01-30 04:21] SathyaJayabal commented on #3399
@veshu . Looks good.

Verified in dev

[2020-01-30 05:11] SathyaJayabal commented on #17
@bug-hunt-helper help

[2020-01-30 05:36] veshu commented on #3565
The challenge for recommended article https://www.topcoder.com/challenges/30113877
There will be separate challenge for related challenges.

[2020-01-30 05:39] LieutenantRoger commented on #3610
@gets0ul , sorry for not providing this, please work against this branch `hot-fix-past-challenge-search`

[2020-01-30 05:49] Oanh-and-only-Oanh opened #3620 "Get Recommendations Challenges on challenge details page"
Challenge spec.

Dev copilot: Veshu

Design copilot: Fajar

https://docs.google.com/document/d/1KeGUf57j9sdSft7EJt00387_JnTaifIZVXGp11ywb4c/edit?usp=sharing

additional requirements:

display up to 3 related challenges and 3 articles

If challenge is tagged with "other", do not show anything

if more than one tag is present, display related articles and challenges based on first tag

[2020-01-30 07:13] SathyaJayabal commented on #3603
Verified on beta
<img width="1440" alt="Screenshot 2020-01-30 at 12 40 26 PM" src="https://user-images.githubusercontent.com/58783823/73428028-149c5d00-435e-11ea-9122-8b54b241a116.png">

[2020-01-30 07:21] SathyaJayabal commented on #3602
Verified on beta
<img width="1434" alt="Screenshot 2020-01-30 at 12 50 02 PM" src="https://user-images.githubusercontent.com/58783823/73428420-25010780-435f-11ea-92e5-cd25555b83e8.png">
<img width="1430" alt="Screenshot 2020-01-30 at 12 50 17 PM" src="https://user-images.githubusercontent.com/58783823/73428421-25010780-435f-11ea-9f41-8684a47fdc98.png">

[2020-01-30 07:50] SathyaJayabal commented on #3590
Verified in beta
[back arrow beta.mov.zip](https://github.com/topcoder-platform/community-app/files/4132769/back.arrow.beta.mov.zip)

[2020-01-30 08:21] SathyaJayabal commented on #3278
Additionally when the sub community filter is added, the number of filters applied count is not updated on the filter button
<img width="1408" alt="Screenshot 2020-01-30 at 1 50 02 PM" src="https://user-images.githubusercontent.com/58783823/73431914-84631580-4367-11ea-966d-6c0bd3dcbf42.png">

cc: @sushilshinde

[2020-01-30 08:53] SathyaJayabal commented on #3593
Verified on beta
<img width="1347" alt="Screenshot 2020-01-30 at 2 22 19 PM" src="https://user-images.githubusercontent.com/58783823/73434031-fd646c00-436b-11ea-8b4b-b03e09bc2904.png">

[2020-01-30 09:02] SathyaJayabal opened #3622 "[$35]Challenge Listings - Search : Must have a X button to clear search"
**Describe the bug**
The challenge search input must have a X button to clear the search

**To Reproduce**
Steps to reproduce the behavior:
1. go to challenge listing page
2. type any keyword in the search box and click on search button
3. challenge list is updated to show search results

Actual: There is no x button to clear the search. The user either has to delete the search keyword and search

[2020-01-30 09:07] SathyaJayabal opened #3623 "Profile Settings (Education, Work) : Not able to remove Start/End date once added, even though it is an optional field"
Profile Settings (Education, Work) : Not able to remove Start/End date once added, even though it is an optional field

<img width="1401" alt="Screenshot 2020-01-30 at 2 36 21 PM" src="https://user-images.githubusercontent.com/58783823/73435093-fdfe0200-436d-11ea-8acb-42098726e417.png">

[2020-01-30 09:31] PaulKapschitzki opened #3624 "A registration via Github ist not possible."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-01-30 09:38] #3624 closed

[2020-01-30 09:39] PaulKapschitzki commented on #3624
I'm sorry, tried to register via Github, but that seemed not work. Turns out I have to fill in the Country to make it work, which I left empty because I thought it's not mandatory.

[2020-01-30 12:02] kkartunov commented on #3602
Done.

[2020-01-30 12:02] #3602 closed

[2020-01-30 12:03] crazyk07 commented on #3602
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113367<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-30 12:06] kkartunov commented on #3590
Done.

[2020-01-30 12:06] #3590 closed

[2020-01-30 12:07] crazyk07 commented on #3590
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113283<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-30 12:09] kkartunov commented on #3603
Done.

[2020-01-30 12:09] #3603 closed

[2020-01-30 12:10] kkartunov commented on #3593
Done.

[2020-01-30 12:10] #3593 closed

[2020-01-30 12:16] SathyaJayabal commented on #3602
Verified in production.
<img width="1406" alt="Screenshot 2020-01-30 at 5 43 42 PM" src="https://user-images.githubusercontent.com/58783823/73449073-5c37de80-4388-11ea-8f9b-24607f299afb.png">
<img width="1403" alt="Screenshot 2020-01-30 at 5 43 52 PM" src="https://user-images.githubusercontent.com/58783823/73449075-5cd07500-4388-11ea-836d-363629aec997.png">

[2020-01-30 12:18] SathyaJayabal commented on #3590
Verified in prod
[back arrow prod.mov.zip](https://github.com/topcoder-platform/community-app/files/4133922/back.arrow.prod.mov.zip)

[2020-01-30 12:21] SathyaJayabal commented on #3603
Verified in prod
<img width="1398" alt="Screenshot 2020-01-30 at 5 49 20 PM" src="https://user-images.githubusercontent.com/58783823/73449433-25ae9380-4389-11ea-8925-cbf0aa682772.png">

[2020-01-30 12:23] SathyaJayabal commented on #3593
verified on prod
<img width="1406" alt="Screenshot 2020-01-30 at 5 52 49 PM" src="https://user-images.githubusercontent.com/58783823/73449522-61495d80-4389-11ea-9105-7ae3bd4f4d50.png">

[2020-01-30 21:37] Oanh-and-only-Oanh opened #3627 "Ability to navigate back to THRIVE homepage from an article"
**Current problem:**
Currently the way our 2nd level navigation works, you cannot re-click the page that you are on
so when someone is on an article in Thrive and they want to go to the Thrive homepage people try clicking on it and its disabled

**Expect behavior:**
If user is on a THRIVE article
URL https://www.topcoder.com/thrive/articles/  enable the ability to click THRIVE on secondary navigat

[2020-01-30 21:41] luizrrodrigues commented on #3627
@Oanh-and-only-Oanh The link: https://www.topcoder.com/thrive/articles/ is right, I have 404 here.

[2020-01-30 21:49] Oanh-and-only-Oanh commented on #3627
@luizrrodrigues URL containing https://www.topcoder.com/thrive/articles/

so for example: https://www.topcoder.com/thrive/articles/How%20to%20create%20a%20LUX%20RUX%20presentation%20for%20Topcoder

[2020-01-30 23:02] luizrrodrigues commented on #3627
@Oanh-and-only-Oanh Ah okay, clear.

[2020-01-31 05:18] SathyaJayabal commented on #3610
@LieutenantRoger , search works fine. Results displayed in 35 seconds.
Can we update the text to "No challenges found in Past Challenges" to keep in line with the other filters.

<img width="1407" alt="Screenshot 2020-01-31 at 10 46 49 AM" src="https://user-images.githubusercontent.com/58783823/73514290-28f06080-4417-11ea-904f-c33e708909a1.png">

[2020-01-31 07:02] SathyaJayabal commented on #3610
Verified in dev. Result displayed in 35 seconds
<img width="1404" alt="Screenshot 2020-01-31 at 12 30 44 PM" src="https://user-images.githubusercontent.com/58783823/73518948-a753ff00-4425-11ea-9ec3-52457907b64f.png">

[2020-01-31 07:08] LieutenantRoger commented on #3610
Thanks.

[2020-01-31 07:33] SathyaJayabal commented on #3552
@bug-hunt-helper help

[2020-02-01 09:57] LieutenantRoger commented on #2457
Hi, Is this ticket deployed but not release payment ?

[2020-02-01 15:03] kkartunov opened #3630 "Alphabetize Sub-Categories in Thrive"
**Expected**: Sub-Categories in Thrive should be in alphabetical order.

Bonus: If possible to follow orders as listed in Contentful.

[2020-02-01 15:04] kkartunov commented on #3630
For reference: https://topcoder.monday.com/boards/444155520/pulses/444305529

[2020-02-02 12:38] iversonLv commented on #2559
@luizrrodrigues Any update for this ticket?

[2020-02-02 13:44] veshu opened #3631 "[$50] Fix the review issues on challenge 30113877"
Branch to work: https://github.com/topcoder-platform/community-app/tree/feature-details-page-suggestion-cards

1. Fix issues with `npm run test`
1. Add tests
1. Fix issues from https://software.topcoder.com/review/actions/ViewReview?rid=490180

[2020-02-02 13:45] veshu commented on #3631
@yoution please assign this yourself.

[2020-02-02 13:47] yoution commented on #3631
please assign to me

[2020-02-02 14:49] yoution commented on #3631
@veshu https://github.com/topcoder-platform/community-app/pull/3632

please reivew

[2020-02-02 14:53] yoution commented on #3631
@veshu   please reivew https://github.com/topcoder-platform/community-app/pull/3633

[2020-02-02 16:28] veshu commented on #3620
The challenge has been launched at https://www.topcoder.com/challenges/30114285

[2020-02-03 07:14] veshu opened #3634 "[$100]Configure commit conventional"
**Is your feature request related to a problem? Please describe.**
Current commit messages in the repository doesn't follow any convention which makes hard to track the change log and has to do manually.

**Describe the solution you'd like**
We should enforce commit convention https://www.conventionalcommits.org/en/v1.0.0/ so that we can track the changes more easily and see the changelog in every

[2020-02-03 07:23] crazyk07 commented on #3634
Contest https://www.topcoder.com/challenges/30114314 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-02-03 07:23] crazyk07 commented on #3634
Contest https://www.topcoder.com/challenges/30114314 has been updated - it has been assigned to veshu.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-02-03 08:54] Dara-K opened #3635 "First2Finish Task Payments are always split in two"
**Describe the bug**
When creating a task to pay a member as a First2Finish challenge, the payment is always processed as 2 different First2Finish tasks with the ratio 75% and 25%.. For example a $1500 F2F payment will get into the member's account as 2 payments  of $1,125.00 and $375.00.

While this can come handy for F2F challenges, it's not helpful for the private payments.

Can we get this fix

[2020-02-04 04:14] SathyaJayabal commented on #1532
@Oanh-and-only-Oanh , This still seems to be an issue.

[2020-02-04 04:24] SathyaJayabal commented on #1573
@hokienick , Do you think we still need the fourth track ?

[2020-02-04 04:26] SathyaJayabal commented on #1646
Header also needs to be updated with the new nav for these legacy apps.

[2020-02-04 04:38] SathyaJayabal commented on #1983
@ajaysaini9782 , is this still na issues. If so  can you please attach a screenshot/video ?

[2020-02-04 04:48] SathyaJayabal commented on #2078
This issue is fixed.
<img width="1386" alt="Screenshot 2020-02-04 at 10 18 05 AM" src="https://user-images.githubusercontent.com/58783823/73714697-b5f92980-4737-11ea-9dfe-ca787f661339.png">

[2020-02-04 04:48] #2078 closed

[2020-02-04 05:28] veshu commented on #3399
@SathyaJayabal This is now on prod beta http://beta-community-app.topcoder.com/

Could you please help verify this. Planned deployment for production is tomorrow.
Thanks

[2020-02-04 06:06] #3634 closed

[2020-02-04 06:06] sushilshinde commented on #3634
Thanks @veshu

[2020-02-04 06:07] crazyk07 commented on #3634
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30114314<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-02-04 06:11] crazyk07 commented on #3634
[400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-02-04 06:53] SathyaJayabal commented on #3399
@veshu , My submissions count displays as 0 while the the My Submissions and Submissions tab is loading. Once the tab is loaded the count is displayed correctly.

Please see the attached video.
[My submisisons.mov.zip](https://github.com/topcoder-platform/community-app/files/4151783/My.submisisons.mov.zip)

[2020-02-04 06:57] SathyaJayabal commented on #2383
This has been fixed in #3610 and #3609

[2020-02-04 06:57] #2383 closed

[2020-02-04 06:58] Oanh-and-only-Oanh commented on #3399
The issue mentioned here is valid but separate. Other than that, looks like it passed QA? If so, let’s go ahead and release this feature to close It out. We can log this issue as a new bug- P4.

Sent from my iPhone

[2020-02-04 06:59] SathyaJayabal commented on #2384
@lakshmiathreya @nithyaasworld @sushilshinde , I am closing this as the filters work fine.

[2020-02-04 06:59] #2384 closed

[2020-02-04 07:01] SathyaJayabal commented on #3399
Marking as QA pass in Beta. Logging a new issue to track the submissions count issue.

[2020-02-04 07:04] SathyaJayabal opened #3638 "Submissions Management Tab: My Submissions count is not correct"
When the challenge details page is opened, the My Submissions count is displayed as 0. When the My Submissions tab is loaded, then the correct count is displayed.

Please see attached video
[My submisisons.mov.zip](https://github.com/topcoder-platform/community-app/files/4151821/My.submisisons.mov.zip)

Related to feature #3399

[2020-02-04 07:35] #3208 closed

[2020-02-04 09:31] SathyaJayabal commented on #2440
Closing this as it seems not reproducible

[2020-02-04 09:31] #2440 closed

[2020-02-04 09:35] SathyaJayabal commented on #2506
Closing this as it cannot be reproduced

[2020-02-04 09:35] #2506 closed

[2020-02-04 09:42] SathyaJayabal commented on #2495
Closing this as this has been verified in production

[2020-02-04 09:42] #2495 closed

[2020-02-04 09:54] SathyaJayabal commented on #2514
Closing this as this issue is being tracked here.
https://github.com/topcoder-platform/navigation-component/issues/99

[2020-02-04 09:54] #2514 closed

[2020-02-04 23:59] Oanh-and-only-Oanh opened #3641 "Remove Subscribe for Newsletter option in Settings page"
Remove the newsletter subscribe switch in the settings for members since we are not doing the Weekly Newsletters anymore.

[2020-02-06 09:57] kkartunov opened #3644 "Update “Help Center” link in the footer"
We need “Help Center” in the footer to now link here: https://www.topcoder.com/thrive/tracks?track=Topcoder

[2020-02-06 10:32] sumitdaga commented on #3575
@sushilshinde
i would say it is a bit strange to open an issue, have somebody work on it and submit an MR and then completely ignore the issue!

[2020-02-06 14:48] SathyaJayabal commented on #3399
verified on beta (develop branch)
<img width="1385" alt="Screenshot 2020-02-06 at 8 17 40 PM" src="https://user-images.githubusercontent.com/58783823/73947652-d1258e00-491d-11ea-8924-f48fb1d36d82.png">

[2020-02-06 15:22] SathyaJayabal opened #3645 "Dashboard : Banner collapsed state displays code"
Dashboard : Banner collapsed state display
<img width="1365" alt="Screenshot 2020-02-06 at 8 51 57 PM" src="https://user-images.githubusercontent.com/58783823/73950826-9b36d880-4922-11ea-945d-5de818facf9b.png">
s code

[2020-02-07 02:04] codejamtc opened #3647 "Search is not working"
![image](https://user-images.githubusercontent.com/42398485/73994628-d681d900-491b-11ea-8ef0-486a995ba858.png)

**Target URL:** https://www.topcoder.com/thrive

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive
3. Enter 'sadsadsadfasdsad' and press Enter
4. Should display the matching articles /or should display No results found

**Actual:** Search is not wor

[2020-02-07 02:04] karthikbecse opened #3648 "Featured Articles ui issue"
Target URL: https://www.topcoder.com/thrive

### Reproduction Steps ###

1 goto website
2 see Featured Articles

### Expected Result ###
Should show properly

### Actual Result ###

layout is not proper
![bandicam 2020-02-07 07-34-30-514](https://user-images.githubusercontent.com/3225433/73994656-53449f80-497c-11ea-8e34-21d3064cd906.jpg)

### Screenshots or screencast ###

### OS/Browser Informati

[2020-02-07 02:10] karthikbecse opened #3649 "search not working"
Target URL: https://www.topcoder.com/thrive

### Reproduction Steps ###

1 goto web
2 In search filed enter qa
3 press enter

### Expected Result ###
should show search result

### Actual Result ###
nothing happens

### Screenshots or screencast ###

[bandicam 2020-02-07 07-38-53-529.zip](https://github.com/topcoder-platform/community-app/files/4168654/bandicam.2020-02-07.07-38-53-529.zip)

### OS

[2020-02-07 02:13] staticfire opened #3650 "The page content is lacked of padding"
Title: The page content is lacked of padding

Target URL: https://www.topcoder.com/thrive
### Reproduction Steps ###
1. Open the page
### Expected Result ###
There should be a padding of the page container
### Actual Result ###
The container don’t have a padding, the page’s element is close to the edge of the page.
### Screenshots or screencast ###
![Xnip2020-02-07_10-09-42](https://user-images.gi

[2020-02-07 02:14] devsreekrishna opened #3651 "[Web-Firefox] Go To TCO 20 Have Alignment Issue"
1. Go To https://www.topcoder.com/community/member-programs/topcoder-open

2. Click On TCO

3. Click On Go To TCO20

4. See Screenshot

5. Expected Result: Go To TC20 Should Be Aligned Properly

6. Actual Result: Go To TCO20 Having Alignment Issue

7. Screenshot:
![TCO 20 1](https://user-images.githubusercontent.com/42583358/73995268-0a8de600-497e-11ea-9f2c-7578b74c1ea4.png)

8. OS Details:
![Mac

[2020-02-07 02:15] codejamtc opened #3652 "Filter should not display populated dates"
![image](https://user-images.githubusercontent.com/42398485/73995146-65432580-491d-11ea-8832-ffea6695d02a.png)

**Target URL:** https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming

1. Open the Application and Login as valid user
2. Click 'COMPETITIVE PROGRAMMING' title
3. Click 'Show Filter' > tag=Math > Apply Filter
4. No results found because the date filter is already set by

[2020-02-07 02:16] Rokit12 opened #3653 "Content not well aligned"
![align](https://user-images.githubusercontent.com/37167721/73995281-233fd100-4969-11ea-9f04-ede87a00297f.jpg)
Target URL: https://www.topcoder.com/thrive

Open the Application and Login as valid user
Go to https://www.topcoder.com/thrive
Observe under "FEATURED ARTICLES"
Cards should be well aligned
Actual: The content is not well aligned

Expected: The cards with content should be well aligned

[2020-02-07 02:18] HongHT opened #3654 ""Like/ Dislike" button doesn't work"
**Describe the bug**
![Screenshot_1](https://user-images.githubusercontent.com/26895101/73995048-18496880-498a-11ea-80cb-26f50bef2ae0.png)

**To Reproduce**
1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/articles/QA%20&%20It's%20Future%20At%20Topcoder
3. Click on "Like/ Dislike" button and observe

**Actual:** "Like/ Dislike" button doesn't work

**Expecte

[2020-02-07 02:18] karthikbecse opened #3655 "reset option not clearing tag filed"
Target URL: https://www.topcoder.com/thrive/tracks?track=Development&tax=First2Finish

### Reproduction Steps ###

1 goto web
2 click First2Finish under Development section
3 in First2Finish page click show filter
4.enter keyworad as QA
5.click reset

### Expected Result ###

reset should work properly

### Actual Result ###
reset option not clearing tag filed

### Screenshots or screencast ###
[b

[2020-02-07 02:19] staticfire commented on #3650
This issue should be displayed when browser's width is under 1280px

[2020-02-07 02:19] codejamtc opened #3656 "Reset filter and then Apply filter won't show all the records"
![image](https://user-images.githubusercontent.com/42398485/73995361-f6b29780-491d-11ea-80f6-739cc3bda066.png)

**Target URL:** https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming

1. Open the Application and Login as valid user
2. Click 'COMPETITIVE PROGRAMMING' title
3. Click 'Show Filter' > tag=Math > Dates > Jan 1, 2010 to Feb 7, 2020 > Apply Filter
4. Click Reset
5. Click A

[2020-02-07 02:21] Krishna1507 opened #3657 "Quite gap between calendar popup and text box"
**Target URL:**  https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&tax=SRMs

**To Reproduce**
1. Go to thrive page
2. Click on the SRM > apply filter
3. tap on calendar box and observe

**Actual-**
Quite gap between calendar and box.

**Expected behavior**
No more gap between box and popup calendar

**Screenshots**
![image](https://user-images.githubusercontent.com/23450398/73

[2020-02-07 02:22] karthikbecse opened #3658 "like and dislike option not working"
Target URL: https://www.topcoder.com/thrive/articles/Blockchain%20for%20Beginners:%20What%20You%20Need%20to%20Know

### Reproduction Steps ###

1 goto web
2 click any article
3 in article page click like and dislike

### Expected Result ###

able to like or dislike the article

### Actual Result ###
like and dislike option not working

### Screenshots or screencast ###

[bandicam 2020-02-07 07-52-

[2020-02-07 02:23] varun22303270 opened #3659 "Search results are not correct as "From" date filter"
**Describe the bug**
Search results are not correct as "From" date filter

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive/search?tags[0]=Opportunities&author=All%20authors&startDate=2020-01-07T07%3A49%3A31%2B05%3A30&endDate=2020-02-07T07%3A49%3A31%2B05%3A30&track=&tax=
2. Observe the articles coming in the list are not as per the filtered date

**Actual*

[2020-02-07 02:25] karthikbecse opened #3660 "author profile link not enabled"
Target URL: https://www.topcoder.com/thrive/articles/Blockchain%20for%20Beginners:%20What%20You%20Need%20to%20Know
Reproduction Steps

1 goto web
2 click any article
3 in article page click author icon

Expected Result

able to view author profile from article

Actual Result

author profile link not enabled

Screenshots or screencast

![bandicam 2020-02-07 07-53-55-348](https://user-images.githubu

[2020-02-07 02:26] codejamtc opened #3661 "Category Tooltip issue"
![image](https://user-images.githubusercontent.com/42398485/73995656-e6e78300-491e-11ea-871b-b674752f4919.png)

**Target URL:** https://www.topcoder.com/thrive/search?tags[0]=Graph%20Coloring

1. Open the Application and Login as valid user
2. Click 'COMPETITIVE PROGRAMMING' title
3. Click on a tag 'Graph Coloring'
4. Hover over the options button in the Filter > Category

**Actual:** Category Too

[2020-02-07 02:28] devsreekrishna opened #3662 "[Web-Firefox] Search Button Should Be Either Upward Or Downward To Image Not In Between"
URL: https://www.topcoder.com/thrive

**Describe the bug**
Search Button Should Be Either Upward Or Downward To Image Not In Between

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/thrive'

2. See The ScreenShot

**Expected behavior**
Search Button Should Be Either Upward Or Downward To Image Not In Between

**Actual Result**
Search Button Is In Between Image

[2020-02-07 02:28] Krishna1507 opened #3663 "Pop up calender not auto adjust up and down as per the view screen"
**Target URL:**  https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&tax=SRMs

**To Reproduce**
1. Go to thrive page
2. Click on the SRM > apply filter
3. tap on calendar box and observe

**Actual-**
Filter popup calendar always open below the box

**Expected behavior**
Popup calendar should be auto adjust to open up or down as per view page

**Screenshots**
![image](https://use

[2020-02-07 02:28] sanju-singh opened #3664 "[Functional] Nothing happens on click of search result"
Target URL: https://www.topcoder.com/thrive

### Reproduction Steps ###

1. Go to https://www.topcoder.com/thrive
2. Search something.
3. Click on any article on links shown in the search result.
4. Observe, nothing happens

### Expected Result ###

Clicking on search result should take us to the corresponding link.

### Actual Result ###

Nothing happens on click of search result.

### Screenshot

[2020-02-07 02:31] varun22303270 opened #3665 "Thrive tab bottom line alignment is not correct on Search result page"
**Describe the bug**
Thrive tab bottom line alignment is not correct on Search result page

**To Reproduce**
Steps to reproduce the behavior:
1. https://www.topcoder.com/thrive/search?tags[0]=Adobe%20Photoshop
2. Observe the line alignment under the Thrive tab

**Actual**:
Thrive tab bottom line alignment is not correct on Search result page

**Expected behavior**
Should be center aligned

**Scree

[2020-02-07 02:31] staticfire opened #3666 "Reset filter does't work properly"
Target URL: https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=&author=All%20authors&startDate=2020-01-07T10%3A23%3A59%2B08%3A00&endDate=2020-02-07T10%3A23%3A59%2B08%3A00

### Reproduction Steps ###
1. Open the page
2. Click 'show filter' link
3. Input 'testing' in the tag field
4. Click 'Apply filter'
5. Click 'Reset'
### Expected Result ###
There's totally 10 articles in this catego

[2020-02-07 02:33] Rokit12 opened #3667 "Like and Dislike icon not enabled(FUNCTIONAL)"
Target URL: https://www.topcoder.com/thrive/articles/Solving%20Problems%20Using%20Constraint%20Logic%20Programming

Open the Application and Login as valid user
Go to https://www.topcoder.com/thrive/articles/Solving%20Problems%20Using%20Constraint%20Logic%20Programming
Go to the articles details below

Actual: The icons are not functional

Expected: The like and dislike icons should be funtional
!

[2020-02-07 02:36] varun22303270 opened #3668 "Author drop-down values are not in alphabetical order"
**Describe the bug**
Author drop-down values are not in alphabetical order

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive/search?author=All%20authors&startDate=2020-01-07T07%3A56%3A23%2B05%3A30&endDate=2020-02-07T07%3A56%3A23%2B05%3A30&track=Development
2. Click on Author drop-down and observe

**Actual**
Author drop-down values are not in alphabetical

[2020-02-07 02:36] HongHT opened #3669 "The result filter doesn't matching with selected date."
**Describe the bug**
![Screenshot_2](https://user-images.githubusercontent.com/26895101/73996109-47ada480-498d-11ea-9f9c-b7f7f01795d6.png)

**To Reproduce**
1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming
3. Click on "Show filter" button and select date "Jan 7, 2020 - Feb 7, 2020"
4. Click on "Apply Filter" and observe

[2020-02-07 02:36] codejamtc opened #3670 "Better to have a Search for Filter > Author field"
![image](https://user-images.githubusercontent.com/42398485/73996114-5447e380-4920-11ea-8545-f56fa76602a8.png)

**Target URL:** https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming

1. Open the Application and Login as valid user
2. Click 'COMPETITIVE PROGRAMMING' title
3. Click Filter > Author

**Actual:** Better to have a Search for Filter > Author field

**Expected:** Should d

[2020-02-07 02:37] karthikbecse opened #3671 "from filter option not working"
Target URL:https://www.topcoder.com/thrive/search?author=Shubham%20Prasad&startDate=2020-01-07T08%3A05%3A44%2B05%3A30&endDate=2020-02-07T08%3A05%3A44%2B05%3A30&track=&tax=

### Reproduction Steps ###

1 goto https://www.topcoder.com/thrive/
2 click Data Visualization
3 click author name
4.click apply filter

### Expected Result ###

result should based on filter options

### Actual Result ###

fro

[2020-02-07 02:38] devsreekrishna opened #3672 "[Web-Firefox] Icons Are Not Aligned Properly"
URL: https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&tax=SRM%20Editorials

**Describe the bug**
Icons Some Part Is Cutting

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/thrive'

2. Scroll down to 'Competitive Programming'

3. Click On SRM EDitorials

4. See error

**Expected behavior**
Icons Parts Should Not Be Cutting.

**Actual Resul

[2020-02-07 02:39] varun22303270 opened #3673 "No option to reset filter on Search result page"
**Describe the bug**
No option to reset filter on Search result page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive/search?author=Christopher%20DeLaurentis&startDate=2020-01-07T07%3A56%3A23%2B05%3A30&endDate=2020-02-07T07%3A56%3A23%2B05%3A30&track=Development
2. Observe there is no reset filters button

**Actual**
No option to reset filter on Search res

[2020-02-07 02:39] Rokit12 opened #3674 "Unrelated pop-up message is displayed"Group 9""
Target URL: https://www.topcoder.com/thrive/articles/Solving%20Problems%20Using%20Constraint%20Logic%20Programming

Open the Application and Login as valid user
Go to https://www.topcoder.com/thrive/articles/Solving%20Problems%20Using%20Constraint%20Logic%20Programming
Observe under Articles details

Actual: Unnessary pop-up message is displayed When user moves the mouse over the like or dislike b

[2020-02-07 02:39] Krishna1507 opened #3675 "Topcode is missing or invisible"
**Target URL:**  https://www.topcoder.com/thrive/articles/QA%20&%20It's%20Future%20At%20Topcoder

**To Reproduce**
1. Go to thrive page
2. Go to QA section and tap on  QA & It's Future At Topcoder article
3. Observe the topcode logo

**Actual-**
Logo is invisible.

**Expected behavior**
logo should be there

**Screenshots**
![image](https://user-images.githubusercontent.com/23450398/73996272-32cb1

[2020-02-07 02:41] staticfire opened #3676 "It's difficult to filter by an specific author"
Target URL:
https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=&author=All%20authors&startDate=2020-01-07T10%3A30%3A15%2B08%3A00&endDate=2020-02-07T10%3A30%3A15%2B08%3A00

### Reproduction Steps ###
1. Open the page
2. Click 'show filter'
### Expected Result ###
There should be a easy way to filter the articles by a specific author.
### Actual Result ###
If I want to filter all articl

[2020-02-07 02:42] codejamtc opened #3677 "'Thrive' menu underline UI issue"
![image](https://user-images.githubusercontent.com/42398485/73996449-39c23a00-4921-11ea-8457-6141ab38b1a1.png)

**Target URL:** https://www.topcoder.com/thrive

1. Open the Application and Login as valid user
2. Check the menu

**Actual:** 'Thrive' menu underline UI issue

**Expected:** Should display below the text

**Environment:** HP Pavilion x360 14 inch; Windows 10
**Browser:** Microsoft Edge

[2020-02-07 02:44] varun22303270 opened #3678 "Tag filter is accepting blank spaces as well"
**Describe the bug**
Tag filter is accepting blank spaces as well

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive/search?tags[0]=API&author=All%20authors&startDate=2020-01-07T08%3A09%3A44%2B05%3A30&endDate=2020-02-07T08%3A09%3A44%2B05%3A30&track=&tax=
2. Click in Add tags filter textbox and enter blank spaces "   "
3. Click on Apply Filter button and Obs

[2020-02-07 02:44] HongHT opened #3679 "Missing calendar icon"
**Describe the bug**
![Screenshot_3](https://user-images.githubusercontent.com/26895101/73996544-711b0000-498e-11ea-8656-30ed0368385a.png)

**To Reproduce**
1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/search?
3. Observe "From" item

**Actual:** Missing calendar icon

**Expected:** Calendar icon should be show
**Environment:** Lenovo legion, Windows 10
*

[2020-02-07 02:46] codejamtc opened #3680 "'View all results' link is too close to the bottom margin"
![image](https://user-images.githubusercontent.com/42398485/73996630-b2c19180-4921-11ea-829b-f85cefc574e2.png)

**Target URL:** https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming

1. Open the Application and Login as valid user
2. Go to Competitive Programming
3. Enter 'algo' in the search and scroll down

**Actual:** 'View all results' link is too close to the bottom margin

*

[2020-02-07 02:46] sandhiyakavi opened #3681 "Details not hidden on clicking the up arrow near the titles in the right side bar."
**Describe the bug**
Details not hidden on clicking the up arrow near the titles in the right side menu bar.

**To Reproduce**

1. Go to 'https://www.topcoder.com/thrive/tracks?track=Development&tax='
2. Click on down arrow button near Development menu in the right side menu bar.
3. Click the up arrow button near Development menu in the right side menu bar.

**Expected behavior**
The details displ

[2020-02-07 02:46] karthikbecse opened #3682 "filter tags recommendation missing"
Target URL: https://www.topcoder.com/thrive/search?author=All%20authors&startDate=2020-01-07T08%3A05%3A44%2B05%3A30&endDate=2020-02-07T08%3A05%3A44%2B05%3A30&track=Data%20Science

### Reproduction Steps ###

1 goto https://www.topcoder.com/thrive/
2 click Data Visualization
3 enter keyword as test

### Expected Result ###
keyword should recommendation keywords as per entered text

### Actual Resul

[2020-02-07 02:47] Palanimurugana opened #3683 "Go Back Link is Contact is not working"
**Describe the bug**
Go Back Link in Contact Us - Message Send Page is not working. it should navigate back to Contact Us Screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'the Page "https://www.topcoder.com/thrive"
2. Click on 'Support' button located at Bottom Right
3. Fill values for input fields and click Send button on the Contact US Page
4. The Message Send Screen will be o

[2020-02-07 02:48] staticfire opened #3684 "The date picker component's style isn't consistence"
Target URL:
https://www.topcoder.com/thrive/tracks?track=Development&tax=&author=All%20authors&startDate=2020-01-07T10%3A23%3A59%2B08%3A00&endDate=2020-02-07T10%3A23%3A59%2B08%3A00

#3679 ## Reproduction Steps ###
1. Open the page
2. Click 'show filter'
3. Click the Date field in the filter form
### Expected Result ###
The date picker component's style should be consistence
### Actual Result ###
T

[2020-02-07 02:48] Rokit12 opened #3685 "TEXTS and Graphics Ovelaying(UI)"
Target URL: https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&tax=SRM%20Editorials

Open the Application and Login as valid user
Go to https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&tax=SRM%20Editorials

Observe the "Competitive Programming " Title

Actual: The last letter in the title overlays on the graphic image

Expected: Theletter should not overla

[2020-02-07 02:50] fahfai opened #3686 "Gradient Boosting Algorithms article redirected to wrong page"
https://apps.topcoder.com/forums/?module=Thread&threadID=892117&start=0&mc=9#2156774

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive
2. Scroll down to Data Science cards
3. Click on Gradient Boosting Algorithms article card
4. Observe the result

**Expected behavior**
When clicking on the Gradient Boosting Algorithms article card, it should redirect the

[2020-02-07 02:51] codejamtc opened #3687 "Video is missing"
![image](https://user-images.githubusercontent.com/42398485/73996831-6034a500-4922-11ea-8b8a-097b4f3d499c.png)

**Target URL:** https://www.topcoder.com/thrive/articles/Creating%20Value%20from%20Big%20Data%20via%20Open%20Innovation:%20The%20Topcoder%20Webinar%20Series

1. Open the Application and Login as valid user
2. Go to Competitive Programming
3. Go to https://www.topcoder.com/thrive/articles

[2020-02-07 02:51] karthikbecse opened #3688 "sub category icon issue"
Target URL: https://www.topcoder.com/thrive/search?author=Mariia%20Mykhailova

### Reproduction Steps ###
1 goto https://www.topcoder.com/thrive/
2 click Data Visualization
3 click author name
4. click Data science option under category

### Expected Result ###
Should show sub category icon properly

### Actual Result ###

icon is wrongly showing

### Screenshots or screencast ###

![bandicam 2020

[2020-02-07 02:52] devsreekrishna opened #3689 "[Web-Firefox] Reset Button Is Not Highlighting"
URL: https://www.topcoder.com/thrive

**Describe the bug**
While Clicking On Reset Button Its Not Highlighting

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/thrive'

2. Click on 'SRM Editorials.'

3. Click On Show Filter

4. Click On All Author & Select Sahat Yalkavob

5. Click On Reset & Observe

**Expected behavior**
Reset Button Is Not Highlighting

**Act

[2020-02-07 02:53] codejamtc opened #3690 "Article is listed as a forum post"
![image](https://user-images.githubusercontent.com/42398485/73996937-bb669780-4922-11ea-96cb-b3bc5afc8213.png)

**Target URL:** https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming

1. Open the Application and Login as valid user
2. Go to Competitive Programming > Forum posts
3. Click on PROBLEM SOLVING -SOLVING MAXIMUM BIPARTITE MATCHING PROBLEM

**Actual:** Article is listed as

[2020-02-07 02:54] varun22303270 opened #3691 "Author name is not properly aligned on any article page"
**Describe the bug**
Author name is not properly aligned on any article page

**Target URL**
https://www.topcoder.com/thrive/articles/Managing%20Tasks

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive/articles/Managing%20Tasks
2. Observe the Author name

**Actual**
Author name is not properly aligned on any article page

**Expected behavior**
Author name s

[2020-02-07 02:55] staticfire opened #3692 "The tag's content is overflow"
Target URL: https://www.topcoder.com/thrive
### Reproduction Steps ###
1. Open the page
2. Set the browser's window's width to about 1000px
3. Scroll down the page to the 'Featured articles' section
### Expected Result ###
The content in the tag should be wrapped correctly of the tag component
### Actual Result ###
The content in the tag is overflowed
### Screenshots or screencast ###
![Xnip2020-0

[2020-02-07 02:55] Rokit12 opened #3693 "The texts not well aligned and no User profile image found"
Target URL: https://www.topcoder.com/thrive/articles/Solving%20Problems%20Using%20Constraint%20Logic%20Programming

Open the Application and Login as valid user
Go to https://www.topcoder.com/thrive/articles/Solving%20Problems%20Using%20Constraint%20Logic%20Programming
Observe under Articles details

Actual:The texts are not well aligned

Expected: The texts should be well aligned on one side
![al

[2020-02-07 02:55] HongHT opened #3694 "The Number should be align center with label"
**Describe the bug**

![Screenshot_4](https://user-images.githubusercontent.com/26895101/73997048-feab1f80-498f-11ea-9a77-a40d8c1c3b97.png)

**To Reproduce**
1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/tracks?track=QA
3. Observe the title

**Actual:** The Number doesn't align center with label

**Expected:** The Number should be align center with label

[2020-02-07 02:56] sandhiyakavi opened #3695 "Reset/clear button not available near the filter search ."
**Describe the bug**
Reset/clear button not available near the filter search (UX issue).

**To Reproduce**
1. Go to https://www.topcoder.com/thrive/search?author=Christopher%20DeLaurentis
2. Enter Tag name in the Tags field in the right corner of the page.

**Expected behavior**
A Reset /clear button should be available for user to clear the entered contents and easier user experience.

**Screensh

[2020-02-07 02:58] codejamtc opened #3696 "Duplicate tags can be entered into the Filter > Tags"
![image](https://user-images.githubusercontent.com/42398485/73997193-6e36f580-4923-11ea-95de-2c6113ce4426.png)

**Target URL:** https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming

1. Open the Application and Login as valid user
2. Go to Competitive Programming > Filter
3. Enter tags=Constraint Logic Programming then Constraint logic Programming
4. If we enter both separately sa

[2020-02-07 02:59] varun22303270 commented on #3659
Please add the following details as well:

**Target URL**
https://www.topcoder.com/thrive/search?tags[0]=Opportunities&author=All%20authors&startDate=2020-01-07T07%3A49%3A31%2B05%3A30&endDate=2020-02-07T07%3A49%3A31%2B05%3A30&track=&tax=

Label: Functional

[2020-02-07 03:00] varun22303270 commented on #3665
Please add the following details as well:

**Target URL**
https://www.topcoder.com/thrive/search?tags[0]=Adobe%20Photoshop

Label: UI

[2020-02-07 03:01] varun22303270 commented on #3668
Please add the following details as well:

**Target URL**
 https://www.topcoder.com/thrive/search?author=All%20authors&startDate=2020-01-07T07%3A56%3A23%2B05%3A30&endDate=2020-02-07T07%3A56%3A23%2B05%3A30&track=Development

Label: Functional

[2020-02-07 03:01] varun22303270 commented on #3673
Please add the following details as well:

**Target URL**
https://www.topcoder.com/thrive/search?author=Christopher%20DeLaurentis&startDate=2020-01-07T07%3A56%3A23%2B05%3A30&endDate=2020-02-07T07%3A56%3A23%2B05%3A30&track=Development

Label: Functional

[2020-02-07 03:01] staticfire opened #3697 "The featured article's cards isn't displayed properly"
Target URL: https://www.topcoder.com/thrive
### Reproduction Steps ###
1. Open the page
2. Set the browser window's width to about 680px
3. Scroll down to the 'Featured articles' section
### Expected Result ###
The featured article's cards should be displayed properly
### Actual Result ###
The featured article's cards isn't displayed properly, there's a tiny overflow of the image under the 'wave'

[2020-02-07 03:01] coderkid19 opened #3698 "Layout boundary not aligned"
**Target URL:** https://www.topcoder.com/thrive

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive
2. Scroll down and observe

**Expected behavior**
Layout boundary should be aligned with other box

**Screenshots**
![1](https://user-images.githubusercontent.com/51490878/73997291-0b297b00-4984-11ea-93f1-4a9902dff26c.png)

**Desktop (please complete the follo

[2020-02-07 03:02] varun22303270 commented on #3678
Please add the following details as well:

**Target URL**
https://www.topcoder.com/thrive/search?tags[0]=API&author=All%20authors&startDate=2020-01-07T08%3A09%3A44%2B05%3A30&endDate=2020-02-07T08%3A09%3A44%2B05%3A30&track=&tax=

Label: Functional

[2020-02-07 03:02] varun22303270 commented on #3691
Label: UI

[2020-02-07 03:03] HongHT opened #3699 "The radio/checkbox should be selected when click on label of them"
**Describe the bug**
![Screenshot_5](https://user-images.githubusercontent.com/26895101/73997404-fbfcfa00-4990-11ea-855b-64a2f4eb7bac.png)

**To Reproduce**
1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/search?
3. Click on "Category/ Sub-category" labels and Observe

**Actual:** The radio/checkbox doesn't selected when click on label of them

**Expected:*

[2020-02-07 03:03] codejamtc opened #3700 "Clicking on empty location will activate the left side section links"
![image](https://user-images.githubusercontent.com/42398485/73997435-206ebd00-4924-11ea-8607-159e5f3a88a0.png)

**Target URL:** https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming

1. Open the Application and Login as valid user
2. Go to Competitive Programming
3. Click on empty locations in-front of the left side list

**Actual:** Clicking on an empty location will activate the

[2020-02-07 03:05] Rokit12 opened #3701 "Select All checkbox not included(UI)"
**Target URL:** https://www.topcoder.com/thrive/search?tags[0]=Productivity&author=All%20authors&startDate=2020-01-07T05%3A58%3A28%2B03%3A00&endDate=2020-02-07T05%3A58%3A28%2B03%3A00&track=Design&tax[0]=User%20Experience&tax[1]=Data%20Visualization&tax[2]=UI%20Design&tax[3]=Customer%20Success%20Stories&tax[4]=Other

Open the Application and Login as valid user
**Go to** https://www.topcoder.com/th

[2020-02-07 03:06] Krishna1507 opened #3702 "UI issue while adding long text in tags"
**Target URL:**  https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=

**To Reproduce**
1. Go to thrive page
2. Click on the SRM > apply filter
3.  Add long text in the tags

**Actual-**
Log text extract the whole page rather than wrap the text.

**Expected behavior**
Long text in tags should be wrap

**Screenshots**
![image](https://user-images.githubusercontent.com/23450398/73997543-

[2020-02-07 03:07] Palanimurugana opened #3703 "tool tip is not meaningful for icon associated with search category selection"
**Describe the bug**
tool tip is not meaningful for the icon associated with search category selection

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/thrive'
2. In the Search Box, On the right Side do mouser hover over the icon associated with category selection (Icon Left to All Text)

**Expected behavior**
it should display meaningful information in the too

[2020-02-07 03:08] sanju-singh opened #3704 "[Functional] can't upvote an article"
Target URL: https://www.topcoder.com/thrive/articles/Blockchain%20for%20Beginners:%20What%20You%20Need%20to%20Know
### Reproduction Steps ###

1. Go to any article with upvote and downvote at bottom, ex: https://www.topcoder.com/thrive/articles/Blockchain%20for%20Beginners:%20What%20You%20Need%20to%20Know
2. Try clicking on upvote and downvote
3. Observe, nothing happens.

### Expected Result ###

[2020-02-07 03:08] staticfire opened #3705 "The close icont have a white background"
Target URL:
https://www.topcoder.com/thrive/tracks?track=Design&tax=Member%20Story
### Reproduction Steps ###
1. Open the page
2. Set the browser's window to 640px width
3. Click 'show filter'
### Expected Result ###
The icon in grey background shouldn't have a white background
### Actual Result ###
The close icon have a white background
### Screenshots or screencast ###
![Xnip2020-02-07_11-06-10]

[2020-02-07 03:08] sandhiyakavi opened #3706 "Up and down arrow is displayed near the Tags filter instead of down arrow button."
**Describe the bug**
Up and down arrow is displayed near the Tags filter instead of down arrow button.Since up and down arrow is used for increment or decrement of numbers and it is not used for this purpose here.(UX issue).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/thrive/tracks?track=Development&tax='
2. Check the Tags near the upper search field.

**E

[2020-02-07 03:13] codejamtc opened #3707 "Click on 'How-To' from COMPETITIVE PROGRAMMING will open Design > How-To section on the left side"
![image](https://user-images.githubusercontent.com/42398485/73997932-8a3b9680-4925-11ea-8bfa-2195b2d6da46.png)

**Target URL:** https://www.topcoder.com/thrive/

1. Open the Application and Login as valid user
2. Click How-To link from 'COMPETITIVE PROGRAMMING'

**Actual:** Click on 'How-To' from COMPETITIVE PROGRAMMING will open Design > How-To section on the left side

**Expected:** Should show

[2020-02-07 03:15] coderkid19 opened #3708 "Article form search result does not open in first click"
**Target URL:**  https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=Tips

**Steps**
1. Go to https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=Tips
2. Click on Search edit box and "debug"
3. wait for search result and click on item from search result
Observe

**Expected behavior**
Article form search result does not open in first click

**Screenshots**
[2.zip](https://gi

[2020-02-07 03:15] staticfire opened #3709 "The author's default avatar displayed uncorrectly"
Target URL:
https://www.topcoder.com/thrive/articles/Evaluate%20Your%20Submission%20Design%20Before%20Uploading%20it%20to%20UI%20Design%20Challenges

### Reproduction Steps ###
1. Open the page
2. Scroll down the page to the author's avatar position
### Expected Result ###
The author's default avatar should be displayed correctly.
### Actual Result ###
The author's default avatar isn't displayed c

[2020-02-07 03:15] Krishna1507 opened #3710 "Filter tags does not remove via backspace"
**Target URL:**  https://www.topcoder.com/thrive/tracks

**To Reproduce**
1. Go to thrive page > track
2.  Tap on show filter and add tags
3. Add some tags and try to remove via backspace

**Actual-**
tags does not remove via backspace

**Expected behavior**
Tags should be remove via backspace.

**Screenshots**
https://drive.google.com/open?id=1CQcGj0oajWkoYj5FzMk9Z7cz_vA-sT95

**Desktop:**
 - OS:

[2020-02-07 03:17] codejamtc opened #3711 "Click on 'Data Visualization' from DATA SCIENCE will open Design > Data Visualization"
![image](https://user-images.githubusercontent.com/42398485/73998070-1221a080-4926-11ea-8c07-275b6be2ba90.png)
![image](https://user-images.githubusercontent.com/42398485/73998094-25347080-4926-11ea-9ccc-6a62b3b7c730.png)

**Target URL:** https://www.topcoder.com/thrive/

1. Open the Application and Login as valid user
2. Click 'Data Visualization' link from 'DATA SCIENCE'

**Actual:** Click on 'D

[2020-02-07 03:18] coderkid19 opened #3712 "Search result icon does not get loaded"
**Target URL:**  https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=Tips

**Steps**
1. Go to https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=Tips
2. Click on Search edit box and type "debug" and wait for search result.
3. Observe first search result that Search result icon does not get loaded

**Expected behavior**
Search result icon should get loaded

**Screenshots**

[2020-02-07 03:19] staticfire opened #3713 "When click the 'thumb up' button in the article nothing happen, same as 'thumb down' button"
Target URL:
https://www.topcoder.com/thrive/articles/Evaluate%20Your%20Submission%20Design%20Before%20Uploading%20it%20to%20UI%20Design%20Challenges

### Reproduction Steps ###
1. Open the page
2. Scroll down to the bottom
3. Click the 'thumb up' button
### Expected Result ###
The thumb up count should +1
### Actual Result ###
Nothing happen
### Screenshots or screencast ###
[Screen Recording 2020

[2020-02-07 03:19] Rokit12 opened #3714 "No pop-up message of the date of the article author"
**Target URL:** https://www.topcoder.com/thrive/search?tags[0]=Ai&author=All%20authors&startDate=2019-06-03T12%3A00%3A00Z&endDate=2020-02-07T06%3A12%3A20%2B03%3A00&track=&tax=

Open the Application and Login as valid user
**Go to** https://www.topcoder.com/thrive/search?tags[0]=Ai&author=All%20authors&startDate=2019-06-03T12%3A00%3A00Z&endDate=2020-02-07T06%3A12%3A20%2B03%3A00&track=&tax=

Observe

[2020-02-07 03:19] coderkid19 commented on #3712
Wrong screenshot attached at the first place.

Please find correct one below.
![3](https://user-images.githubusercontent.com/51490878/73998170-c6531380-4986-11ea-92ed-ba52329a1fe6.png)

[2020-02-07 03:20] codejamtc opened #3715 "Click on 'Help Center' from DATA SCIENCE will open QA > Help Center"
![image](https://user-images.githubusercontent.com/42398485/73998203-80666300-4926-11ea-8b30-1b589e0b0c11.png)
![image](https://user-images.githubusercontent.com/42398485/73998212-865c4400-4926-11ea-9eb3-de6fead5a62c.png)

**Target URL:** https://www.topcoder.com/thrive/

1. Open the Application and Login as valid user
2. Click 'Help Center' link from 'DATA SCIENCE'

**Actual:** Click on 'Help Cen

[2020-02-07 03:20] coderkid19 commented on #3708
"Expected behavior" wrongly updated in first place

Correct one should be below.
"Article form search result should get loaded in first click"

[2020-02-07 03:21] HongHT opened #3716 ""Sub-category" doesn't expand when click on "category" radio button"
**Describe the bug**
![Screenshot_6](https://user-images.githubusercontent.com/26895101/73998092-1afc8b80-4993-11ea-9356-4a60cb735472.png)

**To Reproduce**
1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/search?
3. Click on any radio button on the CATEGORY item -> "Sub-category" auto expand
4. Click on "arrow" icon to collapse "Sub-category"
5. Continue cl

[2020-02-07 03:22] codejamtc opened #3717 "Click on 'Topcoder-Centric' from DATA SCIENCE will open COMPETITIVE PROGRAMMING > Topcoder-Centric"
![image](https://user-images.githubusercontent.com/42398485/73998291-c8858580-4926-11ea-87cc-03f4c6037eda.png)

**Target URL:** https://www.topcoder.com/thrive/

1. Open the Application and Login as valid user
2. Click 'Topcoder-Centric' link from 'DATA SCIENCE'

**Actual:** Click on 'Topcoder-Centric' from DATA SCIENCE will open COMPETITIVE PROGRAMMING > Topcoder-Centric

**Expected:** Should sho

[2020-02-07 03:23] staticfire opened #3718 "The out-site linked page is open in the current browser tab, which breaks user's flow."
Target URL:
https://www.topcoder.com/thrive/articles/Evaluate%20Your%20Submission%20Design%20Before%20Uploading%20it%20to%20UI%20Design%20Challenges

### Reproduction Steps ###
1. Open the page
2. Scroll down the page to the first image in the article
3. Click the 'Source' link below the image
### Expected Result ###
The browser should open a new tab to display the linked page, because it's a out-

[2020-02-07 03:26] sanju-singh opened #3719 "[UI] on click of videos, blue outline is shown"
Target URL: https://www.topcoder.com/thrive/tracks

### Reproduction Steps ###

1. Go to https://www.topcoder.com/thrive/tracks
2. Go to section 'Top Design Videos'
3. Click on any video.
4. Observe, on click of video, blue outline appears inside.

### Expected Result ###

On click of  video, blue outline should be shown either on borders or not shown at all.

### Actual Result ###

Blue outline a

[2020-02-07 03:26] karthikbecse opened #3720 "filter- "to" lable missing"
Target URL: https://www.topcoder.com/thrive/search?phrase=qa

### Reproduction Steps ###

1 goto https://www.topcoder.com/thrive/
2 click view all result

3.In  filter section check date range filed

### Expected Result ###
should print to

### Actual Result ###
"to" lable missing

###  Screenshots or screencast ###
![bandicam 2020-02-07 08-55-00-899](https://user-images.githubusercontent.com/3225

[2020-02-07 03:26] coderkid19 opened #3721 ""View all result" does not do any action or does not navigate to any page"
**Target URL:**  https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=Tips

**Steps **

1. Go to https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=Tips
2. Click on search edit box and type "debug" and wait for search result
3. Search result window click on "view all results"
Observe that nothing happens upon click on "view all results"

**Expected behavior**
Click on "View

[2020-02-07 03:27] varun22303270 opened #3722 "Click on 'How-To' from QA opens Design > How-To section on the left side"
**Describe the bug**
Click on 'How-To' from QA opens Design > How-To section on the left side

**Target URL**
https://www.topcoder.com/thrive

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive
2. Click on How-To under QA section and Observe

**Actual**
Click on 'How-To' from QA opens Design > How-To section on the left side

**Expected behavior**
Click on '

[2020-02-07 03:27] codejamtc opened #3723 "Click on 'Topcoder-Centric' from DEVELOPMENT will open COMPETITIVE PROGRAMMING > Topcoder-Centric"
![image](https://user-images.githubusercontent.com/42398485/73998526-8577e200-4927-11ea-9d5a-42a7e81d4284.png)

**Target URL:** https://www.topcoder.com/thrive/

1. Open the Application and Login as valid user
2. Click 'Topcoder-Centric' link from 'DEVELOPMENT'

**Actual:** Click on 'Topcoder-Centric' from DEVELOPMENT will open COMPETITIVE PROGRAMMING > Topcoder-Centric

**Expected:** Should show

[2020-02-07 03:30] staticfire opened #3724 "There should be a space between the paragraph and a heading"
Target URL:
https://www.topcoder.com/thrive/articles/Evaluate%20Your%20Submission%20Design%20Before%20Uploading%20it%20to%20UI%20Design%20Challenges

### Reproduction Steps ###
1. Open the page

### Expected Result ###
It's about typography layout, there should be a space between the paragraph and a heading.

### Actual Result ###
There isn't a proper space between the paragraph and a heading, it'

[2020-02-07 03:31] karthikbecse opened #3725 "filter -date range validation missing"
Target URL: https://www.topcoder.com/thrive/search?phrase=qa&author=All%20authors&startDate=2020-01-07T08%3A39%3A32%2B05%3A30&endDate=2010-02-07T12%3A00%3A00Z&track=&tax=

### Reproduction Steps ###

1 goto https://www.topcoder.com/thrive/
2 click view all result
3.In filter section enter from date as Jan 7, 2020 To date as Jan 7, 2010
4.click apply

### Expected Result ###
should validate the inp

[2020-02-07 03:32] varun22303270 commented on #3691
**Expected Results**:
Author name should be properly aligned on the article page as the below fields

or there should be a profile icon if the author's pic is not available

[2020-02-07 03:32] devsreekrishna opened #3726 "[Web-Firefox] ^ Button Is Not Sorting The File"
https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=

**Describe the bug**
While Clicking On ^ Button Its Not Sorting The Details

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax='

2. Click on 'Data Science'

4. See Screencast & observe

**Expected behavior**
^ Button Should Be Shorting The Detail

**Actual Be

[2020-02-07 03:32] varun22303270 commented on #3722
Label: Functional

[2020-02-07 03:33] coderkid19 opened #3727 "Filter Authors are not sorted in alphabetic order"
Target URL: https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=Tips&author=All%20authors&startDate=1920-01-01T12%3A00%3A00Z&endDate=2020-02-07T08%3A39%3A37%2B05%3A30

**Steps**
1. Go to https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=Tips&author=All%20authors&startDate=1920-01-01T12%3A00%3A00Z&endDate=2020-02-07T08%3A39%3A37%2B05%3A30
2. Click on 'show filter"
3. Click

[2020-02-07 03:35] Rokit12 opened #3728 "Topcoder Cookbook link opens to user profile while loading"
**Target URL:** https://www.topcoder.com/thrive

Open the Application and Login as valid user
**Go to** https://www.topcoder.com/thrive

Observe under Competitive programming tag links

Actual: The Topcoder Cookbook link first directs to the user profile details before actual url while loading
![Screenshot from 2020-02-07 06-28-26](https://user-images.githubusercontent.com/37167721/73998816-d1e90f

[2020-02-07 03:35] fahfai opened #3729 "Three Iconic Design... card redirected to the 404 page"
**Testing URL** https://www.topcoder.com/thrive

**To Reproduce**
1. Go to https://www.topcoder.com/thrive
2. Scroll down to Design cards
3. Click on Three Iconic Design... card
4. Observe the result

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual Result**
Clicking on the Three Iconic Design card redirects the user to the 404 page

**Screenshots**
!

[2020-02-07 03:35] codejamtc opened #3730 "Clickable empty line displayed when user search Author > sa"
![image](https://user-images.githubusercontent.com/42398485/73998904-a42aa880-4928-11ea-816b-24e7296d65fa.png)

**Target URL:** https://www.topcoder.com/thrive/

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3.  Type 'sa' and chage the dropdown to 'Author'
4. Click on search field

**Actual:** Clickable empty line displayed when user search Author > sa

[2020-02-07 03:37] staticfire opened #3731 "Should use Label Tags as Click Targets for Checkbox"
Target URL:
https://www.topcoder.com/thrive/search?author=Mohammad%20Iqbal

### Reproduction Steps ###
1. Open the page
2. Click the category checkbox in the left sidebar

### Expected Result ###
Should use Label Tags as Click Targets for Checkbox, which is the best practice.
Reference: [UX Design: Checkbox and Toggle in Forms](https://uxplanet.org/checkbox-and-toggle-in-forms-f0de6086ac41), 'Use

[2020-02-07 03:39] varun22303270 opened #3732 "Design article is not re-directed to the correct url: Three iconic designs that Came from crowdsourcing competitions"
**Describe the bug**
Design article is not re-directed to the correct url: Three iconic designs that Came from crowdsourcing competitions

**Target URL**
https://www.topcoder.com/thrive/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive/
2. Click on Three iconic designs that Came from crowdsourcing competitions article under Desgins section and Observe

**

[2020-02-07 03:39] codejamtc opened #3733 "'View All Results' hyperlink is not working"
![image](https://user-images.githubusercontent.com/42398485/73999039-1c916980-4929-11ea-8c03-882e83c1f9bd.png)

**Target URL:** https://www.topcoder.com/thrive/

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3.  Type 'ca' and change the dropdown to 'Tags'
4. Click on search field > Click 'View All Results'

**Actual:** 'View All Results' hyperlink is not

[2020-02-07 03:40] icahlatif opened #3734 "Filter tags at the sidebar is not working"
Target URL: https://www.topcoder.com/thrive/search?tags[0]=Topcoder-centric&tags[1]=Tips&author=All%20authors&startDate=2020-01-07T10%3A54%3A25%2B08%3A00&endDate=2020-02-07T10%3A54%3A25%2B08%3A00&track=&tax=

**Reproduction Steps**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive/
2. Scroll down to FEATURED ARTICLES section
3. Click on the "Topcoder-centric" tag
4. Type "T

[2020-02-07 03:42] icahlatif commented on #3734
Bug Label : Functional

[2020-02-07 03:43] varun22303270 commented on #3732
Label: Functional

[2020-02-07 03:43] Rokit12 opened #3735 "Problem of the Week link opens to user profile while loading"
**Target URL:** https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&tax=Problem%20of%20the%20WeekOpen the Application and Login as valid user
**Go to** https://www.topcoder.com/thrive

Observe under Competitive programming tag links
![prof2](https://user-images.githubusercontent.com/37167721/73999222-1923cf80-4975-11ea-9190-5acc959fb4ab.jpg)

**Actual:** The Problem of the Week

[2020-02-07 03:45] codejamtc opened #3736 "[Common] Some Form links on the Search auto populate dropdown is not working"
![image](https://user-images.githubusercontent.com/42398485/73999300-eb656900-4929-11ea-8855-fd52bdeba726.png)

**Target URL:** https://www.topcoder.com/thrive/

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Type 'de' and change the dropdown to 'Tags'
4. Click on search field > Click on the forum link

**Actual:** Some Form links on the Search auto-po

[2020-02-07 03:46] staticfire opened #3737 "The print result of the article is not friendly"
Target URL:
https://www.topcoder.com/thrive/articles/Be%20a%20Problem%20Solver!

### Reproduction Steps ###
1. Open the page
2. Click the 'print' button in the left side

### Expected Result ###
The print result of the article should be friendly

### Actual Result ###
The print result of the article should be friendly, there are many unuseless part showing in the preview.
Such like, the header(the

[2020-02-07 03:46] codejamtc opened #3738 "[Common] UI issue on some form link hover style on the Search auto populate dropdown"
![image](https://user-images.githubusercontent.com/42398485/73999367-2bc4e700-492a-11ea-96bc-482ec881c01c.png)

**Target URL:** https://www.topcoder.com/thrive/

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Type 'de' and change the dropdown to 'Tags'
4. Click on search field > Hover over the forum link

**Actual:** UI issue on some form link hover st

[2020-02-07 03:49] codejamtc commented on #3730
This happens when search `a.` and `a<space>` as well

[2020-02-07 03:49] HongHT opened #3739 "Search list should not have redundant space"
**Describe the bug**
![Screenshot_7](https://user-images.githubusercontent.com/26895101/73999516-8c3e3d80-4997-11ea-8a66-157e81acae52.png)

**To Reproduce**
1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/search?
3. Click on dropdown in the right of search bar -> select "Author" option
4. Enter "Mariia Mykhailova" in the search box and observe result

**Act

[2020-02-07 03:51] devsreekrishna opened #3740 "[Web-Firefox] Quickpath Analytics Is Not Opening Detail"
URL: https://www.topcoder.com/thrive/search?tags[0]=Quickpath%20Analytics

**Describe the bug**
While Clicking On Quickpath Analytics Its Not Opening Details

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/thrive/search?tags[0]=Quickpath%20Analytics'

2. Click on 'Quickpath Analytics'

3. See Screencast & Observe

**Expected behavior**
While Clicking On Quickp

[2020-02-07 03:51] staticfire opened #3741 "The spaces between elements in the header is not proper."
Target URL: https://www.topcoder.com/thrive

### Reproduction Steps ###
1. Open the page

### Expected Result ###
The spaces between elements in the header should be proper and comfortable.

### Actual Result ###
The spaces between elements in the header is not proper. Please check the screenshot.

### Screenshots or screencast ###
![Xnip2020-02-07_11-49-39](https://user-images.githubusercontent.c

[2020-02-07 03:53] sanju-singh opened #3742 "[UI] wrong tooltip shown for different icons"
Target URL: https://www.topcoder.com/thrive/search

### Reproduction Steps ###

1. Go to https://www.topcoder.com/thrive/search
2. Hover over any icon in the search bar, or cross icon on tag for filter.
3. Observe wrong tooltip is shown.

### Expected Result ###

Tooltip should be shown correctly.

### Actual Result ###

Wrong tooltips are shown for different icons.

### Screenshots or screencast

[2020-02-07 03:54] varun22303270 opened #3743 "Nothing is opening through search results"
**Describe the bug**
Nothing is opening through search results

**Target URL**
https://www.topcoder.com/thrive/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive/
2. Search for "Single" and click on any searched article > Observe

**Actual**
Nothing is opening through search results

**Expected behavior**
Articles should open from Search results

**Screens

[2020-02-07 03:55] sanju-singh commented on #3742
seems like every, tooltip is showing wrong text

[2020-02-07 04:02] codejamtc opened #3744 "[Common] Very difficult to fine the articles with the tag=C or R"
![image](https://user-images.githubusercontent.com/42398485/74000085-66c81a00-492c-11ea-93b9-9eeeff5be94a.png)

**Target URL:** https://www.topcoder.com/thrive/

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Type 'C' and change the dropdown to 'Tags'
4. Click on search field > Click 'View all results'

**Actual:** Very difficult to fine the articles w

[2020-02-07 04:06] Jacob15 opened #3745 "SRM Tutorial > Much space present between the text and the wavy line"
Target URL: https://www.topcoder.com/single-round-match-753-editorials/

Reproduction Steps
1. Open https://www.topcoder.com/thrive
2. Click on First SRM tutorial
3. Observe the space between the text and wavy line.

Expected Result

Space should not present much between the text and wavy line.

Actual Result

Space present much between the text and wavy line.

Screenshots or screencast
[Issue1.zi

[2020-02-07 04:10] coderkid19 opened #3746 "Able to select date range where start date greater than end date"
**Target URL:**   https://www.topcoder.com/thrive/search?author=All%20authors&startDate=2020-01-31T12%3A00%3A00Z&endDate=2020-01-01T12%3A00%3A00Z&track=&tax=

**Steps**
1. Go to  https://www.topcoder.com/thrive/search?author=All%20authors&startDate=2020-01-31T12%3A00%3A00Z&endDate=2020-01-01T12%3A00%3A00Z&track=&tax=
2. From date range select start date and end date, where start date is greater th

[2020-02-07 04:11] Rokit12 opened #3747 "No text limit in the search box"
**Target URL:** https://www.topcoder.com/thrive

Open the Application and Login as valid user
**Go to** https://www.topcoder.com/thrive

Observe under Thrive search box

**Actual:** When the user types  the texts in the search box, there is no text limit

**Expected:**There should be texts limit in the search box

**Browser:
[limit.zip](https://github.com/topcoder-platform/community-app/files/4168

[2020-02-07 04:13] fahfai opened #3748 "Can not close the expand icon"
**Testing URL** https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming

**To Reproduce**
1. Go to https://www.topcoder.com/thrive
2. Click on Competitive Programming
3. Click on expand/collapse icon next to Competitive Programming at the sidebar
4. Observe the result

**Expected behavior**
When the user clicks on the expand icon next to Competitive Programming to close the dropdown

[2020-02-07 04:16] devsreekrishna opened #3749 "[Web-Firefox] While Clicking On Back Page Its Going To Home page"
URL: https://www.topcoder.com/thrive

**Describe the bug**
While Clicking On Back Arrow Key Its Going To Home page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/thrive'

2. Scroll down to Topcoder

3. Select Copilot > Click On Data Science

4. Click On Show More 8 To 9 Times Till End

5. Click On Back arrow Key Then See & observe

**Expected behavior**
While

[2020-02-07 04:17] Jacob15 opened #3750 "Search_Tags > Articles selected were not navigating to respective URL"
Target URL: https://www.topcoder.com/thrive

Open the Application and Login as valid user
1.Go to https://www.topcoder.com/thrive
2. Select Tags as filter
3. Enter text "SRM"
4. The articles get listed select the article getting listed out.
5. Its not navigating to respective URL.

Actual: The articles get listed were not navigating to respective URL

**Expected:**The articles get listed should na

[2020-02-07 04:21] Rokit12 opened #3751 "No Box-sizing in the articles details(UI)"
**Target URL:** https://www.topcoder.com/thrive/articles/Understanding%20the%20Voice%20of%20the%20Customer:%20An%20application%20of%20Joint%20Topic-Sentiment%20Model

Open the Application and Login as valid user
**Go to** https://www.topcoder.com/thrive/articles/Understanding%20the%20Voice%20of%20the%20Customer:%20An%20application%20of%20Joint%20Topic-Sentiment%20Model

Observe under the Articles

[2020-02-07 04:23] codejamtc opened #3752 "Sometimes items appeared on the search page that doesn't have the keyword"
https://www.screencast.com/t/IAafYaVr

**Target URL:** https://www.topcoder.com/thrive/search?phrase=debug

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Type 'debug' and change the dropdown to 'All'
4. Click on search field > Click 'View all results' (Results shown)
5. Click 'View more' one time
6. Click on the THE STRATEGY PATTERN article
7. Search

[2020-02-07 04:24] sandhiyakavi opened #3753 "Article's right side description is not aligned properly."
**Describe the bug**
Article's right side description is not aligned properly.The name of the authoe does not align properly with the rest of the details(duration,categories & tags). [UI issue]

**To Reproduce**

1. Go to ' https://www.topcoder.com/thrive/articles/List%20of%20awesome%20learning%20resources'
2. Check the alignement of the author name and handle with the result details in the right

[2020-02-07 04:24] Jacob15 opened #3754 "Featured Articles> Tiles were not of same size"
Target URL: https://www.topcoder.com/thrive

Open the Application and Login as valid user
1.Go to https://www.topcoder.com/thrive
2. Scroll down to Featured Articles.
3. Observe the Tiles were not of same Size

Actual: The tile size of the Featured Articles were not of same size.

**Expected:**The title size of the featured articles should be of same size.

**Browser:

![FeauredArticles_Tiles](htt

[2020-02-07 04:24] coderkid19 opened #3755 "QA-> "HOW TO": Both the article navigates to same page"
**Target URL:**  https://www.topcoder.com/thrive/tracks?track=QA&tax=How-To

**Steps **

1. Go to https://www.topcoder.com/thrive/tracks?track=QA&tax=How-To
2. Click on 'HOW TO TEST IOS & ANDROID APPS ON AWS DEVICE FARM: PART I" in a new tab.
3. Click on "TESTING IOS & ANDROID APPS ON AWS DEVICE FARM" in a new tab
Observe both the link navigating to same page

**Expected behavior**
Both the link s

[2020-02-07 04:26] sanju-singh opened #3756 "[Functional] Two pages exist for thrive article searching"
Target URL: https://www.topcoder.com/thrive

### Reproduction Steps ###

1. Go to https://www.topcoder.com/thrive
2. Go to 'Design' or any other section, click on any blue links below it.
3. Observe the page loaded.
4. Again to go https://www.topcoder.com/thrive
5. Go to 'FEATURED ARTICLES' section, click on tags inside the articles.
6. Observe the page loaded.

### Expected Result ###

Both the a

[2020-02-07 04:27] akhilkanand opened #3757 "User is able to select invalid date range"
Title: User is able to select invalid date range
Target URL: https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&tax=Math%2C%20Advanced%20Math&author=Daniela&startDate=2020-01-23T12%3A00%3A00Z&endDate=1984-02-02T12%3A00%3A00Z
### Reproduction Steps ###
Step 1: Go to the application - https://www.topcoder.com/thrive/
Step 2: Select one of the article from the home page
Step 3: Go

[2020-02-07 04:29] coderkid19 opened #3758 "Page like option does not work"
**Target URL:** https://www.topcoder.com/thrive/articles/Topcoder%20Bug%20Hunt%20Competitions

**Steps**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive/articles/Topcoder%20Bug%20Hunt%20Competitions
2. scroll down and click on Like sign
Observe that like does not work

**Expected behavior**
Page like should work and increase count

**Screenshots**
![8](https://user-images

[2020-02-07 04:30] devsreekrishna opened #3759 "[Web-Firefox] Whole Texts Should Be In Box"
URL: https://www.topcoder.com/thrive

**Describe the bug**
Whole Written Icon Texts Should Be In Box

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive

2. Scroll down to 'Topcoder'

3. Click On Copilots

4. Click On Data Science Select Topcoder-Centric

5. Scroll Down Below To Practical Skills Needed to Win Data Science Competitions

6. See Screenshot & Ob

[2020-02-07 04:31] Rokit12 opened #3760 "No author details displayed/included in the article"
**Target URL:** https://www.topcoder.com/deploying-apps-to-heroku-with-docker/

Open the Application and Login as valid user
**Go to** https://www.topcoder.com/deploying-apps-to-heroku-with-docker/

Observe under the articles details

**Actual:**  The details of the articles author are not included in the article

**Expected:** There should be the author details in the article details page
![none]

[2020-02-07 04:32] codejamtc commented on #3744
https://www.screencast.com/t/hHEdNKox

[2020-02-07 04:34] Manonita opened #3761 "Symbols truncating if browser window size is modified"
Description: Symbols truncating if browser window size is modified. UI should be responsive.

Target URL: https://www.topcoder.com/blog/

Reproduction Steps:
1. Go to https://www.topcoder.com/thrive -> Explore -> Blog
2. Let the page load and then minimise the window size
3. Scroll down to the bottom of the page
4. Notice symbols are truncating. If window is enlarged or back to normal size then sy

[2020-02-07 04:35] coderkid19 opened #3762 "In Article page place holder image should be present for user when user does not have own picture in profile"
**Target URL:**  https://www.topcoder.com/thrive/articles/Test%20Scenarios%20and%20Scripts

**Steps**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive/articles/Test%20Scenarios%20and%20Scripts
Observe the user name.
When user does not have profile picture, article shows not properly aligned but actually user place holder image is not present

**Expected behavior**
User pla

[2020-02-07 04:36] sandhiyakavi opened #3763 "show filter link alignment varies if the title text content is large."
**Describe the bug**
show filter link alignment varies if the title text content is large. (UI issue)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' https://www.topcoder.com/thrive/tracks?track=QA'
2. Click on Best Practices/Instructions/tricks/tips under the QA menu in the side bar.
3. Check the show filter link.

**Expected behavior**
Show filter link alignment should not varies i

[2020-02-07 04:43] devsreekrishna opened #3764 "[Web-Firefox] Video Should Play In Same Tab"
URL: https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=Big%20Data

**Describe the bug**
While Playing Video Its Playing In New Tab

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive

2. Scroll down to Topcoder

3. Click on Copilot

4. Click On Data Science > Select Big Data

5. Click On Play Button Then See Screencast & Observe

**Expected beh

[2020-02-07 04:44] Rokit12 opened #3765 "Scroll bars present/No box-sizing in the Thrive article"
**Target URL:**https://www.topcoder.com/thrive/articles/Tips%20and%20Tricks%20for%20Jupyter%20Notebook

Open the Application and Login as valid user
**Go to** https://www.topcoder.com/thrive/articles/Tips%20and%20Tricks%20for%20Jupyter%20Notebook

Observe under the article details

**Actual:** There is a scroll bar in the articles details

**Expected:** There should be no scroll bars in the articl

[2020-02-07 04:45] codejamtc opened #3766 "Search dropdown won't close if user does any operation on the page"
https://www.screencast.com/t/xXwwCtmxx

**Target URL:** https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Click 'COMPETITIVE PROGRAMMING'
4. Click on Filter dropdown
5. Scroll down and click on the 'SRM Editorials'
6. Check the dropdown

**Actual:** Search dropdown won't close if user

[2020-02-07 04:45] Jacob15 opened #3767 "Left Nav > Suggest to increase the display the letters with spacing in the left nav."
Target URL: https://www.topcoder.com/thrive/articles/How%20to%20create%20a%20LUX%20RUX%20presentation%20for%20Topcoder

Steps to Reproduce.

1. Navigate to the above URL.
2. Observe the Left nav.
3. Charecters were getting hided.

Actual: The size of the left nav charecters were not give any space.

**Expected:**The space should be given between the charecters and browser window.

**Browser:
[Issu

[2020-02-07 04:53] Manonita opened #3768 "Blog page has lot of blank spaces on landing/Blog home page"
Description
Blog page has lot of blank spaces on landing/Blog home page.

Target URL: https://www.topcoder.com/thrive/tracks?track=blog

Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive/tracks?track=blog
2. Notice lot of blank spaces on the page

Expected Result:
UX should be proper and user shouldn't feel that page is missing something.

Actual Result:
Lot of blank spaces

[2020-02-07 04:54] Jacob15 opened #3769 "Articles > Suggest to display Show Less button if the articles count reached the maximum number."
Target URL:

https://www.topcoder.com/thrive/search?tags[0]=Tips

Steps to Reproduce.

Navigate to the above URL.
1. Click on Show More until all the articles get loaded.
2.  Observe there is no show Less button to get the articles page to original position.

**Expected:** Suggest to display "Show Less" button to get the articles page to original position.

**Browser:
[Issue5.zip](https://github.c

[2020-02-07 04:56] sandhiyakavi opened #3770 "Autocompletion box instead of dropdown for author field in the Filter."
**Describe the bug**
Autocompletion box is better for the author field in the Filter instead of dropdown since it is difficult for the user to scroll down to search a particular author. [UX issue]

**To Reproduce**

1. Go to ' https://www.topcoder.com/thrive/search?tags[0]=Recipe'
2. Check the author dropdown field under the filter.

**Expected behavior**
Dropdown should be replaced with autocompl

[2020-02-07 04:56] devsreekrishna opened #3771 "[Web-Firefox] Either DEVOPS Should Be Removed Or Something Should Be Written In"
URL: https://www.topcoder.com/thrive

**Describe the bug**
DEVOPS Is Blank Hence Either Something Should Be written In Or It Should Be removed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive

2. Scroll Down Mouse To Topcoder

3. Click On Copilot

4. Click On Development > Select DevOps

5. See Screencast & Observe

**Expected behavior**
Something Should

[2020-02-07 04:58] codejamtc opened #3772 "[Common] Some links on the videos; will open the link on the same page and other on a separate page"
https://www.screencast.com/t/UgUPikJ9rpzi

**Target URL:** https://www.topcoder.com/thrive/tracks?track=Design&tax=&author=All%20authors&startDate=2010-01-01T12%3A00%3A00Z&endDate=2020-02-06T22%3A53%3A09-06%3A00

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Click 'Design'
4. Click on Filter > Set the date to Jan 1, 2010 - Feb 7, 2020 > Applt Filter
5

[2020-02-07 05:02] smartgood opened #3773 "Author dropdown should only show the authors from the listed articles for that category"
![issue1](https://user-images.githubusercontent.com/60750613/74002303-d540c280-4994-11ea-852f-601a35b459e1.png)

Target URL: https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming

    Open the Application and Login as valid user
    Go to https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming
    Click "Show Filter" link
     Check the Author dropdown

Actual: All

[2020-02-07 05:02] Jacob15 opened #3774 "Thrive Menu Link > Should be selectable to make the user interaction easier"
Target URL:

https://www.topcoder.com/thrive/search?tags[0]=Tips

Steps to Reproduce.

Navigate to the above URL.

1. Click on Thrive menu link
2. Its not selectable.
3. It should be selectable to navigate the user back to Thrive.

Expected Result

Thrive menu link should be selectable to navigate the user back to Thrive.

**Browser:
[Issue6.zip](https://github.com/topcoder-platform/community-app/

[2020-02-07 05:04] Rokit12 opened #3775 "An article link leads to 404 error page(Functional)"
**Target URL:** https://www.topcoder.com/thrive

Open the Application and Login as valid user
**Go to** https://www.topcoder.com/iconic-designs-crowdsourcing-competitions/

Go to Designs, Observe under the design tags
Click the article

**Actual:
[404.zip](https://github.com/topcoder-platform/community-app/files/4169060/404.zip)
** The article link when clicked it opens a 404 topcoder error page

[2020-02-07 05:06] codejamtc opened #3776 "Clicking on the empty area after the titles will trigger the links"
![image](https://user-images.githubusercontent.com/42398485/74002602-43559d00-4935-11ea-81fd-b17d2d4937c7.png)

**Target URL:** https://www.topcoder.com/thrive

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Click in-front of the 'Design' title
3. Click in-front of the 'COMPETITIVE PROGRAMMING' title
3. Click in-front of the 'DATA SCIENCE' title
3. Cli

[2020-02-07 05:07] Manonita opened #3777 "There is no character limit set for entering search key words on the search bar"
Description:
There is no character limit set for entering search key words on the search bar

Target URL: https://www.topcoder.com/thrive

Reproduction Steps:
1. Go to- https://www.topcoder.com/thrive
2. Start entering any random characters in the search bar.
3. Search bar allows user to enter unlimited characters in the search bar

Expected Result:
There should be word/ character limit on search

[2020-02-07 05:09] codejamtc opened #3778 "DATA SCIENCE icon is partially hidden"
![image](https://user-images.githubusercontent.com/42398485/74002740-b828d700-4935-11ea-8496-6eff2d8f101f.png)

**Target URL:** https://www.topcoder.com/thrive

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Check the 'DATA SCIENCE' icon

**Actual:** DATA SCIENCE icon is partially hidden

**Expected:** Should display the entire icon
https://d2nl5eqipnb

[2020-02-07 05:10] fahfai opened #3779 "The left and right margin picture for Top Design Video is not equal"
**Testing URL** https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming

**Step To Reproduce**
1. Go to https://www.topcoder.com/thrive
2. Click on Competitive Programming
3. Scroll down to the Top Design Video
4. Observe the left and right margin for the picture

**Expected Result**
The left and right margin should be equal for the picture in the Top Design Video

**Actual Result**

[2020-02-07 05:10] Jacob15 opened #3780 "Topcoder_copilot > Total count of articles shown were incorrect."
Target URL:

https://www.topcoder.com/thrive/tracks?track=Topcoder&tax=Help%20Articles

Steps to Reproduce.

Navigate to the above URL.

1. Observe the count of number of articles.
2. Count the articles present in the track.
3. It should be 71 but it shows 77 as total count.

**Browser:
[Issue7.zip](https://github.com/topcoder-platform/community-app/files/4169081/Issue7.zip)

** Google Chrome Vers

[2020-02-07 05:11] codejamtc commented on #3776
Same for `QA` and `Topcoder` icons
https://d2nl5eqipnb33q.cloudfront.net/static-assets/images/7a33e1aaf045fb5c91a4d42e3de8f88c.svg
https://d2nl5eqipnb33q.cloudfront.net/static-assets/images/bc38d2460c36cc632e35adb1db45908d.svg

[2020-02-07 05:13] Jacob15 commented on #3780
This happens to DataScience also it shows 48 articles but only 44 were shown.

[2020-02-07 05:17] Jacob15 opened #3781 "Data Science > Total number of forum posts count were shown incorrect."
Target URL:

https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=Data%20Analysis%20%26%20Pattern%20Matching

Steps to Reproduce.

Navigate to the above URL.

1.Observe the count of number of Forum Posts..
2. Count the Forum Posts of the track.
3. Its shown 4 instead of 5.

**Browser:
Refer the articles video

** Google Chrome Version 80.0.3987.87 (Official Build) (64-bit)

[2020-02-07 05:19] Jacob15 commented on #3780
Development it shows 125 but only 115 were shown

[2020-02-07 05:19] Rokit12 opened #3782 "Article read time and author name link not displayed/missing"
**Target URL:** https://www.topcoder.com/usa-diving-tracks-health-and-performance-data-with-crowdsourced-ipad-app/

Open the Application and Login as valid user
**Go to** https://www.topcoder.com/usa-diving-tracks-health-and-performance-data-with-crowdsourced-ipad-app/

Observe under the articles details

**Actual:** No link of the authors name and read time of the article is displayed

**Expected

[2020-02-07 05:20] codejamtc opened #3783 "Topcoder title moves when user click on the videos tab"
https://www.screencast.com/t/MBhO9cvnCyu

**Target URL:** https://www.topcoder.com/thrive

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Go to 'TOPCODER'
4. Switch to 'Videos' tab
5. Switch to 'Articles' tab (Nothing happens when switching)
6. Load all the articles on the 'Videos' tab
7. Switch to 'Videos' tab
8. Switch to 'Articles' tab
9. Repeat Ste

[2020-02-07 05:20] fahfai opened #3784 "There is no picture for Debugging for Marathon Competitions card article"
**Testing URL** https://www.topcoder.com/thrive/tracks?track=Data%20Science&tax=

**Step To Reproduce**
1. Go to https://www.topcoder.com/thrive
2. Click on Data Science
3. Scroll down to the Debugging for Marathon Competitions card article
4. Observe

**Expected Result**
The Debugging for Marathon Competitions card article should have a picture on the card just the same as the other cards

**Actu

[2020-02-07 05:21] devsreekrishna opened #3785 "[Web-Firefox] Alignment Issue"
URL: https://www.topcoder.com/thrive

**Describe the bug**
There Is Alignment Issue In QA. It Looks Like Some Part is Cutting

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive

2. Scroll Down Mouse Below To Topcoder

3. Select Copilot  > Select QA

4. See Screenshot & Observe

**Expected behavior**
QA Should Be Aligned Properly

**Actual Behaviour**
There

[2020-02-07 05:21] Jacob15 commented on #3781
Development it shows 5 but only 1 were shown.

[2020-02-07 05:29] codejamtc opened #3786 "Search for 'C#' returns invalid search data"
https://www.screencast.com/t/cisTL5eUkMJJ

**Target URL:** https://www.topcoder.com/thrive/search?phrase=C%23

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Go to 'C#' > Click 'View all results'
4. Click the first link https://www.topcoder.com/marathon-matches-retro-visualizers/
5. Search for C# keyword

**Actual:** Search for 'C#' returns invalid sea

[2020-02-07 05:30] Jacob15 commented on #3780
Design it shows 157 but only 155 were shown.

[2020-02-07 05:31] Rokit12 opened #3787 "Nachos link opens a different page same as atlassian.design when clicked"
**Target URL:** https://www.topcoder.com/a-study-of-design-language-part-1-introduction/

Open the Application and Login as valid user
**Go to** https://www.topcoder.com/a-study-of-design-language-part-1-int

roduction/
[Nacho.zip](https://github.com/topcoder-platform/community-app/files/4169146/Nacho.zip)

**Go to** "Nachos" link in the article detail

**Actual:** If you click "Nachos" link it op

[2020-02-07 05:32] Manonita opened #3788 "When the screen size is modified(approx. 600x570)'Featured Articles' blocks alignment is not proper"
Description:
When the screen size is modified to 600x570 size blocks alignment is not proper whereas when it is modified to 534x570 alignment is proper.

Target URL: https://www.topcoder.com/thrive

Reproduction Steps:
1. Go to https://www.topcoder.com/thrive
2. Minimize window size (approx. 600x570).
3. Notice 'Featured Articles' blocks alignment is not proper
4. Minimise this screen further( app

[2020-02-07 05:34] devsreekrishna opened #3789 "[Web-Firefox] Competitive Programming Is Overlapping Image"
URL: https://www.topcoder.com/thrive

**Describe the bug**
Word Competitive Programming Is Overlapping Image

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive

2. Click on Competitive Programming

3. See Screenshot & Observe

**Expected behavior**
Word Comprtitive Programming Should Not Overlap Image

**Actual Behaviour**
Word Competitive Programming Is Ov

[2020-02-07 05:35] Vips19 opened #3790 "Outline for the post is inside the container"
Target URL: https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&tax=Simulation

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Go to Competition Tab> Simulation
4. Click on the Post PROBLEM SOLVING -LINE SWEEP ALGORITHMS: PART 1
5. Observe the outline is inside the container.

**Actual**: Highlighted Outline is inside the container

[2020-02-07 05:40] Jacob15 opened #3791 "Track details_Apply Filter> Reset is no clearing the text entered"
Target URL:

https://www.topcoder.com/thrive/tracks?track=Design&tax=Design%20Theory&author=All%20authors&tags[0]=ui%20design&startDate=2020-01-07T11%3A04%3A26%2B05%3A30&endDate=2020-02-07T11%3A04%3A26%2B05%3A30

Steps to Reproduce.

Navigate to the above URL.

1. Type ui design in the tag name.
2. Apply reset
3. Its not clearing out the tags entered.

Expected Result

Reset to clear the filters e

[2020-02-07 05:42] Vips19 commented on #3790
Similar Problem in "DYNAMIC PROGRAMMING","SIMPLE MATH, MATH, ADVANCED MATH","Recursion","MATH, ADVANCED MATH","TOPCODER COOKBOOK","Graph Theory"
 under  COMPETITIVE PROGRAMMING Tab

[2020-02-07 05:47] kalindipandey opened #3792 "Instagram option is not available for sharing an article"
When the user clicks on any article present on the Thrive page, the article can be shared with Linkedin, Facebook, and Twitter but there is no option of sharing it on Instagram

**Target URL**:  https://www.topcoder.com/thrive

**Steps to reproduce the behavior:**
1. Go to [https://www.topcoder.com/thrive]
2. Click on any article  under any of the Tags available
3. Scroll down to Share option
4. O

[2020-02-07 05:50] kalindipandey commented on #3792
<Functional>

[2020-02-07 05:51] kalindipandey commented on #3792
Bug Label:<Functional>

[2020-02-07 05:52] Vips19 opened #3793 "Highlighted Outline is missing in corner and few places"
Target URL: https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&tax=Topcoder-Centric

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Go to COMPETITIVE PROGRAMMING Tab> TOPCODER-CENTRIC
4. Click on the Post "GITHUB REPOSITORIES WITH COMPETITIVE PROGRAMMING LIBRARIES"
5. Observe the outline is missing in corner and  few places
6. Simil

[2020-02-07 05:52] Rokit12 opened #3794 "Page not found when link in the article clicked(FUNCTIONAL)"
**Target URL:** https://www.topcoder.com/the-new-rules-of-ux/

Open the Application and Login as valid user
**Go to
[page.zip](https://github.com/topcoder-platform/community-app/files/4169198/page.zip)
** https://www.topcoder.com/the-new-rules-of-ux/

Observe the "one-third of users will abandon a site because of a poor experience " link

**Actual:** When the link is clicked it opens a "Page not f

[2020-02-07 05:53] kalindipandey commented on #3792
**Bug Label**:`Functional`

[2020-02-07 05:53] codejamtc opened #3795 "Description displayed below the title are different from article to article"
![image](https://user-images.githubusercontent.com/42398485/74004593-c679f180-493b-11ea-9a3f-3b0ee8182b8a.png)
![image](https://user-images.githubusercontent.com/42398485/74004607-d0035980-493b-11ea-8fa7-be32297f8c1d.png)

**Target URL:** https://www.topcoder.com/thrive/tracks?track=Topcoder&tax=Help%20Articles

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thri

[2020-02-07 05:53] devsreekrishna opened #3796 "[Web-Firefox] In Video Thums Up & Thums Down Is Not Increasing Numbers"
URL: https://www.topcoder.com/thrive

**Describe the bug**
In Video Thums Up & Thums Down Is Not Increasing Numbers While Clicking On It. It Still Showing ZERO

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive

2. Scroll Down Mouse To QA

3. Select Best Practices/Instructions/Tricks/Tips

4. Click On Video Then Play It.

5. Click On Thums UP & Thums Down T

[2020-02-07 05:54] kalindipandey commented on #3792
Bug Label: <UI>

[2020-02-07 05:55] kalindipandey commented on #3792
Labels`Functional`

[2020-02-07 05:56] nursoltan-s opened #3797 "Social links title unnecessary prefix."
Title: Social links title unnecessary prefix.

Target URL: https://www.topcoder.com/thrive/articles/King%20of%20the%20Silicon%20Hill:%20Today's%20High-End%20Microprocessors

### Reproduction Steps ###
1. Go to Target URL
2. On Social Share Icons hover over twitter button. (or other social icons)
3. Icon title will be "icon twitter" instead of just "twitter"

### Expected Result ###
1. Social icon

[2020-02-07 05:57] Manonita opened #3798 "There is no indication to the user that content is available for selected category if category is at bottom of the list"
Description:
Screen does not scroll automatically which can give impression to the user that there is no content related to selected category.

Target URL: https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&tax=

Reproduction Steps:
1. Go to Target URL: https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&tax=
2. Expand 'Competitive Programming' section
3. Scr

[2020-02-07 05:59] codejamtc opened #3799 "Description of the article goes out of the card on the 'RECOMMENDED FOR YOU' section"
![image](https://user-images.githubusercontent.com/42398485/74004842-a696fd80-493c-11ea-8487-3fb7f2f4e089.png)

**Target URL:** https://www.topcoder.com/thrive/articles/Competing%20in%20a%20Rated%20Algorithm%20Competition

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/articles/Competing%20in%20a%20Rated%20Algorithm%20Competition
3. Scroll down
4. Check th

[2020-02-07 05:59] Krishna1507 opened #3800 "Not able to filter A* tags, we have A* tags in fourm post"
**Target URL:**  https://www.topcoder.com/thrive/search?

**To Reproduce**
1. Go to thrive page > search
2. Add A* tag in the filter and apply filter
3.  No result found related that

**Actual-**
No result found when searching via A*

**Expected behavior**
No expected result found when filter A* related tags we have the tag if A* in Competitive Programming section

**Screenshots**
https://drive.go

[2020-02-07 05:59] Rokit12 opened #3801 "Link in the design article not functional and opens 404 error"
**Target URL:**https://www.topcoder.com/your-guide-to-mobile-first-design/

Open the Application and Login as valid user
**Go to** https://www.topcoder.com/your-guide-to-mobile-first-design/

Observe under the article details

**Actual:**  The "interact with content." link in the article directs to a 404 page error

Expected: The "interact with content" link should direct to the links details
[Top

[2020-02-07 06:01] Vips19 opened #3802 "Apply Filter Button is not having Hover effect as Other Button in same Page."
Target URL: https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&tax=Recursion

**To Reproduce**

1. Open the Application and Login as valid user
2. Go to https://www.topcoder.com/thrive/
3. Go to COMPETITIVE PROGRAMMING Tab> RECURSION
4. Click on the Show Filter
5. Hover over the Apply Filter Button
6. Move Down the Page and Hover Over Click Here Button

**Actual**: Hover Effect

[2020-02-07 06:02] karthikbecse opened #3803 "Click Here button hover effect is not properly shown"
Target URL:

### Reproduction Steps ###

1 goto https://www.topcoder.com/thrive/
2 scroll down to footer
3. mouse over Click Here button

### Expected Result ###

should enable hover  effect

### Actual Result ###
Click Here button hover  effect is  not properly shown

### Screenshots or screencast ###
[bandicam 2020-02-07 11-30-12-505.zip](https://github.com/topcoder-platform/community-app/files/

[2020-02-07 06:04] codejamtc commented on #3799
https://www.topcoder.com/thrive/articles/Ratings

[2020-02-07 06:05] karthikbecse commented on #3803
Target URL:https://www.topcoder.com/thrive/

[2020-02-07 06:08] Rokit12 opened #3804 ""How to Win with Design & Development as a Small Business"link opens 404 page error"
**Target URL:** https://www.topcoder.com/design-and-development-smb-ebook/

Open the Application and Login as valid user
**Go to** https://www.topcoder.com/design-and-development-smb-ebook/

Observe under articles details

Actual: The link "How to Win with Design & Development as a Small Business" opens a 404 page when clecked

Expected: The link should direct to link details when clicked
[top1.zi

[2020-02-07 06:16] nursoltan-s opened #3805 "Datepicker next month button bug"
Title: Datepicker next month button bug

Target URL: https://www.topcoder.com/thrive/search?author=All%20authors&startDate=2020-02-29T12%3A00%3A00Z&endDate=2001-01-16T12%3A00%3A00Z&track=QA&tax[0]=Testing

### Reproduction Steps ###
1. Go to Target URL
2. On the left hand side, Go to From Datepicker and Select the Date "2020-12-01"
3. Click "right" arrow to select next month

### Expected Result #

[2020-02-07 06:16] devsreekrishna opened #3806 "[Web-Firefox] Gradient Boosting Algorithms Opening In New Tab"
URL: https://www.topcoder.com/thrive

**Describe the bug**
Markov Model & King Of The Silicon Hill Topics Are Opening In Same Tab While Gradient Boosting Algorithm Is Opening In New Tab

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/thrive

2. Click on Markov Model & King Of The Silicon Hill Topics Its Opening In Same Tab

3. Click On Gradient Boosting Algorit

[2020-02-07 06:17] karthikbecse opened #3807 "facebook : share article is not configred properly"
Target URL: https://www.topcoder.com/thrive/articles/Python%20for%20Data%20Visualization%20%E2%80%93%20Seaborn%20Plots%20Basics

### Reproduction Steps ###
1 goto https://www.topcoder.com/thrive/
2 click Data Visualization
3 click Python for Data Visualization – Seaborn Plots Basics
4.click share facebook

### Expected Result ###
should share article details properly

### Actual Result ###
article

[2020-02-07 06:18] apatra16 opened #3808 "When searched with special character in the search bar, no error message is displayed."
Target URL:
https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&tax=Recursion

Reproduction Steps:
1. Go the testing url
2. Enter special characters in the search bar , say  #%$^%&^&^*&(*
3. Hit enter

Expected Result:
Error message should be displayed if no results are returned

Actual Result:
![no search results are returned](https://user-images.githubusercontent.com/36477026/

[2020-02-07 06:19] kalindipandey opened #3809 "When User opens the Thrive page by entering the URL "Events" is Underlined instead of "Thrive" option"
**Describe the bug**
When User opens the Thrive page by entering the URL "Events" option is underlined instead of the "Thrive" option which makes the impression that the Event option is open.

**Target URL**: https://www.topcoder.com/thrive

**Steps To Reproduce**
1. Open the Application and Login as valid-user
2. Go to https://www.topcoder.com/thrive/
3. Observe

**Actual**:  When User opens the

[2020-02-07 06:25] karthikbecse opened #3810 "Article reference links should open new tab"
Target URL: https://www.topcoder.com/thrive/articles/Python%20for%20Data%20Visualization%20%E2%80%93%20Seaborn%20Plots%20Basics

### Reproduction Steps ###

1 goto https://www.topcoder.com/thrive/
2 click Data Visualization
3 click Python for Data Visualization – Seaborn Plots Basics
4. In page click reference link

### Expected Result ###
should open external tab

### Actual Result ###
current ta

[2020-02-07 06:26] nursoltan-s opened #3811 "Search page "add tags" filter doesn't have validation & limit"
Title: Search page "add tags" filter doesn't have validation & limit

Target URL: https://www.topcoder.com/thrive/search?tags[0]=computer&author=All%20authors&startDate=2020-01-07T14%3A18%3A50%2B08%3A00&endDate=2020-02-07T14%3A18%3A50%2B08%3A00&track=&tax=

### Reproduction Steps ###
1. Go to Target URL
2. Go to Filter input section and add as many as inputs

### Expected Result ###
1. Adding filt

[2020-02-07 06:30] Krishna1507 opened #3812 "Problems solving- Ternary search link not working"
**Target URL:**  https://www.topcoder.com/thrive

**To Reproduce**
1. Go to topcoder thrive page
2.  Type "Binary Search" in the search bar
3.  In dorp-down we got Problems solving- Ternary search in forum post

**Actual-**
Forum post Problems solving- Ternary search is not working.

**Expected behavior**
Forum post Problems solving- Ternary search link should be working

**Screenshots**
https://d

[2020-02-07 06:31] apatra16 opened #3813 "Date format is not set for the date picker"
**Describe the bug**
Date format is not set for the date picker
URL: https://www.topcoder.com/thrive/search?tags[0]=Algorithm&author=All%20authors&startDate=2020-01-07T12%3A00%3A00Z&endDate=2020-01-01T12%3A00%3A00Z&track=&tax=

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/thrive/search?tags[0]=Algorithm'
2. Click on the date picker and delete the date displa