[2019-09-14 02:42] #2895 closed

[2019-09-14 02:42] crazyk07 commented on #2895
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30097858<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:48] crazyk07 commented on #3231
Closing ticket due to shift in priority, will not be able to complete but will still pay for effort rendered.

[2019-09-14 02:48] #3231 closed

[2019-09-14 02:48] crazyk07 commented on #3231
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099900<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:49] crazyk07 commented on #3233
Closing ticket due to shift in priority, will not be able to complete but will still pay for effort rendered.

[2019-09-14 02:49] #3233 closed

[2019-09-14 02:50] crazyk07 commented on #3233
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099902<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:51] crazyk07 commented on #3234
Closing ticket due to shift in priority, will not be able to complete but will still pay for effort rendered.

[2019-09-14 02:51] #3234 closed

[2019-09-14 02:51] crazyk07 commented on #3234
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099914<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:52] crazyk07 commented on #3237
Closing ticket due to shift in priority, will not be able to complete but will still pay for effort rendered.

[2019-09-14 02:52] #3237 closed

[2019-09-14 02:52] crazyk07 commented on #3237
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099906<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:53] crazyk07 commented on #3240
Closing ticket due to shift in priority, will not be able to complete but will still pay for effort rendered.

[2019-09-14 02:53] #3240 closed

[2019-09-14 02:54] crazyk07 commented on #3240
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099911<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:54] crazyk07 commented on #3241
Closing ticket due to shift in priority, will not be able to complete but will still pay for effort rendered.

[2019-09-14 02:54] #3241 closed

[2019-09-14 02:55] crazyk07 commented on #3241
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099938<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-14 02:56] crazyk07 commented on #3249
Closing ticket due to shift in priority, will not be able to complete but will still pay for effort rendered.

React Utils Dependency

[2019-09-14 02:56] #3249 closed

[2019-09-14 02:56] crazyk07 commented on #3249
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099940<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-17 00:23] nahidshahin commented on #3244
@veshu can you please process the payment?

[2019-09-17 02:20] #3244 closed

[2019-09-17 02:21] crazyk07 commented on #3244
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30099917<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-18 09:29] nithyaasworld opened #3316 "Newsletters are not sent to subscribers"
In the Settings -> Preferences, Subscribe to all the newsletters. Check that the user is not receiving any of the newsletters.

![image](https://user-images.githubusercontent.com/5114190/65136179-c3ca3e80-da24-11e9-8217-fe5a24b7583c.png)

Also users have reported this in the Slack Support Channel:

![image](https://user-images.githubusercontent.com/5114190/65136263-e65c5780-da24-11e9-84de-41047a11

[2019-09-18 09:31] nithyaasworld commented on #3316
CC: @Oanh-and-only-Oanh @sushilshinde @codeMinter @Dara-K @ajefts

[2019-09-18 09:32] nithyaasworld commented on #3316
CC: @RiteshTC

[2019-09-19 16:08] huangqun commented on #2383
Is there going to be a fix for this soon?

[2019-09-23 05:09] kkartunov opened #3317 "THRIVE - home page fixes"
- if there are a lot of subcategories, the icon gets overlapped
<img width="472" alt="Screen Shot 2019-09-20 at 10 08 47 AM" src="https://user-images.githubusercontent.com/5585002/65402797-3f3b3f80-ddd9-11e9-8172-3029c068eecd.png">
-  we should be able to click the headers like “Data Science” and “Design”

[2019-09-23 05:10] kkartunov opened #3318 "THRIVE - tags for forum cards"
Should add tags for forum cards.

[2019-09-23 11:24] #3225 closed

[2019-09-23 11:24] #3259 closed

[2019-09-23 11:24] #3289 closed

[2019-09-23 11:24] #3288 closed

[2019-09-23 11:24] #3290 closed

[2019-09-23 11:24] #3293 closed

[2019-09-23 11:24] #3285 closed

[2019-09-23 11:24] #3287 closed

[2019-09-23 11:24] #3292 closed

[2019-09-23 11:24] #3304 closed

[2019-09-23 11:24] #3307 closed

[2019-09-23 11:24] #3311 closed

[2019-09-23 11:24] #3317 closed

[2019-09-24 05:33] #3318 closed

[2019-09-24 05:33] #3315 closed

[2019-09-24 05:33] #3291 closed

[2019-09-24 05:33] #3284 closed

[2019-09-24 05:34] #3224 closed

[2019-09-24 05:35] #3286 closed

[2019-09-24 05:35] #3211 closed

[2019-09-24 05:35] #3210 closed

[2019-09-24 05:35] #3209 closed

[2019-09-24 05:35] #3314 closed

[2019-09-24 05:52] codeMinter commented on #3280
@ajefts can you give a try here - https://beta-community-app.topcoder.com/challenges ?

[2019-09-24 13:25] ajefts commented on #3280
@codeMinter I'm still seeing the issue.  The challenges actually start to load after a while (more than a minute).  I see repeated API calls in the console that seem to be getting the next 50 challenges, so I'm assuming once it starts to find MM challenges it starts to display them.

![image](https://user-images.githubusercontent.com/3812270/65515124-ac6bd500-deac-11e9-82f6-66fd3a0ff62c.png)

My g

[2019-09-24 16:03] dushyantb commented on #3305
Yes they are under private group

[2019-09-24 16:06] #3305 closed

[2019-09-24 16:32] nithyaasworld opened #3326 "Issues with Submission to code challenges"
1. Submitted to this challenge 2 times https://www.topcoder.com/challenges/30103177
2. Received Submission confirmation email twice
3. However, Submission appeared in OR after about 1 hour
4. Submitted Date in Registrants tab is not updated
5. Submission tab in Challenge details is missing
6. Submission count in Challenge listing page stays in 0

![image](https://user-images.githubusercontent.com/

[2019-09-24 16:33] nithyaasworld commented on #3326
CC: @cwdcwd @dushyantb @sushilshinde @Oanh-and-only-Oanh @callmekatootie

[2019-09-24 22:36] nithyaasworld commented on #3222
Closing this as this is no more an issue

[2019-09-24 22:37] nithyaasworld commented on #3123
Yeah, this is not reproducible. Closing this. Thanks @veshu for checking.

[2019-09-24 22:37] #3123 closed

[2019-09-24 22:41] nithyaasworld opened #3329 "Dashboard: Clicking on Submit button present on the challenge card redirects to a blank page"
In Dashboard: Clicking on Submit button present on the challenge card redirects to a blank page

![image](https://user-images.githubusercontent.com/5114190/65555478-6a916c00-df4a-11e9-8fb2-7644d80c4446.png)

![image](https://user-images.githubusercontent.com/5114190/65555492-75e49780-df4a-11e9-9876-20f2a6c91198.png)

[2019-09-24 22:49] nithyaasworld opened #3330 "Dashboard: Tag is displayed as 'Develop Marathon Match' instead of just 'Marathon Match'"
Dashboard: Tag is displayed as 'Develop Marathon Match' instead of just 'Marathon Match'

![image](https://user-images.githubusercontent.com/5114190/65555986-b4c71d00-df4b-11e9-838b-c64c4607602e.png)

[2019-09-25 15:24] mtwomey opened #3331 "Zurich filter not getting applied periodically"
See video here:

https://youtu.be/f75qP2ihAzE

[2019-09-25 15:32] mtwomey opened #3332 "Sometimes landing on the zurich.topcoder.com/challenges page show no results"
**Describe the bug**
Sometimes landing on the zurich.topcoder.com/challenges page show no results (when it should)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'zurich.topcoder.com/challenges '

**Expected behavior**
See all the expected challenges

**Screenshots**
![screen_shot_2019-09-24_at_9 49 09_pm](https://user-images.githubusercontent.com/7715262/65615864-a85cb780-df7f-11e9-8

[2019-09-26 04:52] sushilshinde commented on #3331
@skyhit metadata for the private community is wrong, a filter needs to consider the context/subcommunity filter.

[2019-09-26 08:25] sushilshinde commented on #3331
**Steps to reproduce:**
0. Login with `dan_developer / dantopcoder123` on https://community-app.topcoder-dev.com/
1. Go https://community-app.topcoder-dev.com/__community__/zurich
2. `Challenges` link in the top menu
3. Wait for challenges to load
4. Metadata on the right-hand side is wrong, sometimes it gets
![Zurich Community Challenges 2019-09-26 13-49-23](https://user-images.githubusercontent.

[2019-09-26 08:33] sushilshinde commented on #3331
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-09-26 08:37] crazyk07 commented on #3331
[500]: Challenge for the updated issue 3331 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-26 08:37] crazyk07 commented on #3331
[500]: Challenge for the updated issue 3331 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-26 08:37] crazyk07 commented on #3331
[500]: Challenge for the updated issue 3331 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-26 08:39] sushilshinde commented on #3332
@mtwomey I couldn't replicate it

[2019-09-26 08:39] crazyk07 commented on #3331
Contest https://www.topcoder.com/challenges/30103372 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-26 08:41] crazyk07 commented on #3331
Contest https://www.topcoder.com/challenges/30103372 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-26 08:43] sushilshinde opened #3333 "Upgrade topcoder-react-lib to babel7"
This is the challenge https://www.topcoder.com/challenges/30103266/?type=develop&nocache=true&tab=details

Forum link here https://apps.topcoder.com/forums/?module=Category&categoryID=79396

[2019-09-26 08:48] crazyk07 commented on #3331
Contest https://www.topcoder.com/challenges/30103372 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-26 09:37] sushilshinde opened #3335 "Improve workflow"
Improve the performance of these operations

1. npm run dev
2. npm run build
3. npm run test

Use best practices and plugins

PR to

https://github.com/topcoder-platform/community-app/tree/build-improvement

[2019-09-26 09:39] sushilshinde commented on #3280
Fix is here https://github.com/topcoder-platform/community-app/pull/3334

Beta is not free will deploy on test today.

@cwdcwd @ajefts

[2019-09-26 14:12] mtwomey commented on #3332
@sushilshinde What do you think the best next step to fix it is?

[2019-09-26 15:20] veshu commented on #3335
Challenge launched here https://www.topcoder.com/challenges/30103394/?type=develop&tab=details

forum https://apps.topcoder.com/forums/?module=Category&categoryID=79517

[2019-09-26 16:26] ajefts opened #3336 "Community Nav and Site Structure"
Prototype: <https://tc-unified-nav.herokuapp.com/light>

<p></p>

Refactored community navigation structure to improve the community user experience and better leverage a lot of the content that we have, but it's easy to find.  This will be combined with a restructure of the overall nav that brings our website, customer, and member experience together in terms of the overall framework of the nav.

[2019-09-26 16:26] ajefts commented on #3336
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1302965

[2019-09-26 16:26] ajefts opened #3337 "Dropdown Notification for Community"
# Overview

References

- Tech Requirements:  <https://docs.google.com/document/d/11JdLhu8ql1qqZqfrLIM-bJYYsDjcmzfhvOGDbRBymsM/edit>

- <https://docs.google.com/spreadsheets/d/1AMPSBj_wUdMM-hs9oaVRubSkhAnk3bKTjAxcDn8rx60/edit?ts=5cc888f3#gid=967851284>

[2019-09-26 16:26] ajefts commented on #3337
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1323423

[2019-09-26 16:54] sushilshinde commented on #3332
I have asked @anonymousjaggu to look into on his end who already working on the other issue #3331, I will check with him tomorrow. It might be related to the same issue.

[2019-09-26 17:33] ajefts opened #3338 "Release THRIVE"
URL: <https://community-app.topcoder-dev.com/thrive/>

[2019-09-26 17:33] ajefts commented on #3338
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2978515

[2019-09-26 17:34] ajefts opened #3339 "TCO20 release"
URL: <https://community-app.topcoder-dev.com/__community__/tco20> 

[2019-09-26 17:34] ajefts commented on #3339
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2978519

[2019-09-27 03:41] lakshmiathreya commented on #3309
Continuing to see the Loading slowness: https://test-community-app.topcoder-dev.com/challenges?filter[tracks][design]=true&filter[tracks][develop]=true

@Oanh-and-only-Oanh @codeMinter  Pls clarify reg the fix. Cc @nithyaasworld

[2019-09-27 03:56] lakshmiathreya commented on #3280
The Past Marathon Listings are definitely seen at https://www.topcoder.com/challenges?filter%5Btracks%5D%5Bdata_science%5D=true&bucket=past - however loading latency issue continues to be seen.
fyi @ajefts @codeMinter @Oanh-and-only-Oanh @nithyaasworld @sushilshinde

[2019-09-27 04:27] Oanh-and-only-Oanh opened #3340 "v5 Groups API v3--> v5 integration"
https://tcprod.productboard.com/feature-board/922885-tcx-v1-0/features/2205691/detail

[2019-09-27 05:17] codeMinter commented on #3280
@lakshmiathreya did you try this on test ?  The fix is deployed to test, can you try once there ?

[2019-09-27 11:34] anonymousjaggu commented on #3331
The issue is There  are few requests for getting the data without the group id but those request should not be made

[2019-09-27 11:36] sushilshinde commented on #3331
**Requirement**
https://github.com/topcoder-platform/community-app/issues/3331#issuecomment-535397435

@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-09-27 11:55] crazyk07 commented on #3331
Contest https://www.topcoder.com/challenges/30103372 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-27 11:58] crazyk07 commented on #3331
Contest https://www.topcoder.com/challenges/30103372 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-27 12:00] sushilshinde commented on #3331
@rashmi73 As this is P0, please submit in 12 hours

[2019-09-27 12:00] sushilshinde opened #3341 "Past challenges for Data Science filter isn't loading"
**Steps to reproduce:**

1. Login with `dan_developer / dantopcoder123` on https://community-app.topcoder-dev.com/
2. Check this video https://youtu.be/HvwmGlHf2M8

**Fix required**

Data Science challenges should continue to load as we scroll down

Use these branches for PR :
1. https://github.com/topcoder-platform/community-app/tree/hot-fix
2. https://github.com/topcoder-platform/topcoder-react-

[2019-09-27 12:36] PrakashDurlabhji commented on #3341
will this be open?

[2019-09-27 12:49] sushilshinde opened #3342 "Counts are wrong"
**Steps to reproduce:**

1. Login with `dan_developer / dantopcoder123` on https://community-app.topcoder-dev.com/challenges
2. Check this SS
![Topcoder Challenges 2019-09-27 18-16-26](https://user-images.githubusercontent.com/683231/65770203-3210ae80-e153-11e9-8982-6bb375ccd9f5.png)

**Fix required**
Even though metadata is returned correct, counts shown are wrong. Please fix count as exact as me

[2019-09-27 12:50] sushilshinde commented on #3342
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-09-27 12:59] sushilshinde commented on #3280
This is an issue was fixed on the wrong branch, it should be fixed in `hot-fix`

I opened another issue https://github.com/topcoder-platform/community-app/issues/3341

@codeMinter is covering that change, if fixed will deploy over the weekend

[2019-09-27 13:52] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-27 13:52] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-27 17:46] sushilshinde commented on #3341
@ajefts please have a look at the fix

https://beta-community-app.topcoder.com/challenges

[2019-09-27 17:54] Oanh-and-only-Oanh commented on #3341
@sushilshinde it's loading for me but VERY slowly.

[2019-09-27 21:35] rashmi73 commented on #3331
@sushilshinde I got idea what needs to be done exactly, need to pass groupids in call when page loaded is from zurich url

but unable to access https://github.com/appirio-tech/ap-challenge-microservice/blob/42934543c34be05a7f8746462efe44e051e6ad73/swagger.yaml#L100

can you please provide me access to it? so I raise PR by making changes in api call based on what is passed in props.

[2019-09-27 21:43] PrakashDurlabhji commented on #3342
@sushilshinde I investigated perfectly it is working locally , can you please confirm once again?

[2019-09-28 09:01] sushilshinde commented on #3342
UI doesn't reflect metadata values

[2019-09-28 09:04] sushilshinde commented on #3331
@rashmi73 please check attachment

[swagger.txt](https://github.com/topcoder-platform/community-app/files/3665254/swagger.txt)

[2019-09-28 21:43] codeMinter commented on #3280
@sushilshinde @ajefts  how do we handle this ticket as we have covered the requirement in #3341  ?

[2019-09-29 05:17] sushilshinde commented on #3342
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-09-29 05:18] sushilshinde commented on #3331
@rashmi73 are you working on this or I will re-open it for pickup.

Please communicate when pick-up the P0 ticket.

[2019-09-29 05:22] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-29 05:23] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-29 05:23] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-29 05:37] PrakashDurlabhji commented on #3342
@sushilshinde replying you in half hour. I am on it

[2019-09-29 05:42] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-29 07:19] sushilshinde commented on #3331
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-09-29 07:24] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-29 07:24] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-29 08:02] PrakashDurlabhji commented on #3342
@sushilshinde on production all working perfectly. I will paste a screenshot for same

[2019-09-29 08:03] crazyk07 commented on #3331
Contest https://www.topcoder.com/challenges/30103372 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-29 08:04] rashmi73 commented on #3331
@sushilshinde sorry for delay. I will finish it. PR in sometime

[2019-09-29 11:16] sushilshinde commented on #3342
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-09-29 11:22] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-29 11:22] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-29 11:22] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-29 16:59] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-29 17:18] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-29 17:18] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-29 22:33] Dara-K commented on #3316
Is there any update on this @RiteshTC ?

[2019-09-30 00:09] codeMinter commented on #3342
@sushilshinde Looks like you are looking at earlier response of API calls, can you confirm you see the issue with last response - here is what I see at last response.

![issue_3342_dev](https://user-images.githubusercontent.com/14284629/65841878-b0807280-e344-11e9-8667-f019ff38a823.png)

[2019-09-30 00:29] codeMinter commented on #3342
to further test the same, added console logs and see once all challenges are loaded, applying all filters, it gives the right no, so steps to replicate would help here

![issue_3342_logged_in_dev](https://user-images.githubusercontent.com/14284629/65842203-72388280-e347-11e9-85d0-0cd7b339d03f.png)

[2019-09-30 05:27] lakshmiathreya commented on #3341
Verified on https://beta-community-app.topcoder.com/challenges - Past challenges for Data Science Filter loading speed has considerably improved - average loading time is now less than 10 seconds. On Prod, the same query doesnt load the page even after a few minutes - appears to hang.

[2019-09-30 05:32] sushilshinde commented on #3331
**Requirement**

https://github.com/topcoder-platform/community-app/issues/3331#issuecomment-535397435

@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-09-30 05:45] sushilshinde commented on #3342
@ajefts seems like this is not re-producible, can you help with the steps?

[2019-09-30 05:46] crazyk07 commented on #3331
Contest https://www.topcoder.com/challenges/30103372 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-30 08:42] sushilshinde commented on #3331
@PrakashDurlabhji it's P0 please submit in 4 hours

[2019-09-30 08:51] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-30 09:10] sushilshinde commented on #3341
@nithyaasworld please test on prod, and please other issues that you mentioned earlier, but refer prod app only.

[2019-09-30 09:25] lakshmiathreya commented on #3341
Verified on Prod - the loading is working well. Would like @nithyaasworld to double check and close the Issue.

[2019-09-30 10:52] kkartunov opened #3348 "TCO20 release"
- Unhide it as community
- configure tco20.topcoder.com

[2019-09-30 11:53] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-30 13:22] crazyk07 commented on #3331
Contest https://www.topcoder.com/challenges/30103372 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-09-30 13:28] PrakashDurlabhji commented on #3331
@sushilshinde apology for delay

[2019-09-30 13:38] PrakashDurlabhji commented on #3331
@sushilshinde shall I raise PR now?

[2019-09-30 13:47] PrakashDurlabhji commented on #3331
@rohitgupta if you havent started working yet?

[2019-09-30 14:05] ajefts commented on #3342
@sushilshinde @codeMinter Please see this attached video I just made (in production).

https://drive.google.com/file/d/1YnHFE49tzoG016Q1Xtxiir6q8cT1azbs/view

I'm simply refreshing the page a few times.  You can see the challenge counts load with 1 value, then a little later (without doing anything) the counts update again.  Reloading again seems to have yet a different set of counts.

I think som

[2019-09-30 15:58] codeMinter commented on #3342
@ajefts thanks for the same. Yes, I see the same after several retries on prod, looking into details, I would consider solving it at API level, what is happening is this, we make several calls to backend to fetch next set of 50 challenges, so the values changing experience we have in UI is response we get from these API calls. Sometimes we get exact same metadata while sometimes it changes. So on

[2019-09-30 17:09] mtwomey commented on #3331
@PrakashDurlabhji If you have solved it, please submit the PR and we'll award you the prize.

[2019-09-30 17:09] mtwomey commented on #3331
@r0hit-gupta Please advise if you've also started working it (if so, we'll work something out).

[2019-09-30 22:26] nithyaasworld commented on #3280
@codeMinter @sushilshinde I am closing this as this has been verified in Production.

There is still an issue with loading if we apply any keyword filter or date-range filter along with DS filter. I will open a new issue for that.

[2019-09-30 22:26] #3280 closed

[2019-09-30 22:37] #3341 closed

[2019-09-30 23:22] nithyaasworld opened #3350 "Past challenges are not loading if DS filter is applied along with other filter"
1. Enable only DS filter. Disable Dev and Design filter.
2. Apply any filter like sub-track or date range
3. Click on Past Challenges from the right panel
4. Observe the result

Actual:
It is loading forever.

![image](https://user-images.githubusercontent.com/5114190/65923636-411f8700-e407-11e9-99ed-02d2a527785f.png)

[2019-09-30 23:26] codeMinter commented on #3280
Sure @nithyaasworld you can tag or assign it to me and will look into it.

Thanks

[2019-09-30 23:27] nithyaasworld commented on #3350
@codeMinter

[2019-09-30 23:58] Oanh-and-only-Oanh commented on #3309
@lakshmiathreya, there was no performance issue for me.  Can you please test again? @nithyaasworld?

[2019-10-01 00:01] nithyaasworld commented on #3309
This is for the SSR fixes @Oanh-and-only-Oanh Currently I think it is not deployed into any of our environments.

We are using 'Performance' Label to track the issues with the SSR fix.

[2019-10-01 00:50] lakshmiathreya commented on #3279
Verified both urls on Prod - notice inconsistent behavior.
Observations: (cc @nithyaasworld @sushilshinde @Oanh-and-only-Oanh @mtwomey @ajefts)
1. Both urls route to https://zurich.topcoder.com/challenges?communityId=zurich.
2. In incognito mode, however, initially, Challenge count is 53 and then eventually shows 48: would Zurich be fine with displaying Challenges prior to login? Also, we need to

[2019-10-01 00:50] nithyaasworld commented on #3326
This issue is resolved. But not sure how :)

[2019-10-01 00:50] #3326 closed

[2019-10-01 00:54] ajefts opened #3351 "Sort MM Leaderboard"
Have sort buttons in the Registration Tab on name, ratings, registered, submitted and also add country in the leaderboard? I am personally very much used to checking how many reds are registered from how many countries on a match and if they submitted.  

[2019-10-01 00:54] ajefts commented on #3351
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/2834805

[2019-10-01 04:56] sushilshinde commented on #3309
@Oanh-and-only-Oanh @codeMinter All items on SSF goes on hold discussed with @mtwomey

[2019-10-01 05:16] sushilshinde commented on #3342
@skyhit can you look at the video that @ajefts shared

https://drive.google.com/file/d/1YnHFE49tzoG016Q1Xtxiir6q8cT1azbs/view

[2019-10-01 05:19] sushilshinde commented on #3350
Use these branches for PR :

    https://github.com/topcoder-platform/community-app/tree/hot-fix
    https://github.com/topcoder-platform/topcoder-react-lib/tree/hot-fix

As this is P0, please submit in 4 hours. Pickup only if you can submit in 4 hours.

[2019-10-01 05:23] codeMinter commented on #3331
Challenge launched here for the same
https://www.topcoder.com/challenges/30103753

[2019-10-01 05:24] crazyk07 commented on #3350
[500]: Challenge for the updated issue 3350 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-01 05:24] crazyk07 commented on #3350
[500]: Challenge for the updated issue 3350 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-01 05:24] crazyk07 commented on #3350
[500]: Challenge for the updated issue 3350 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-01 05:26] crazyk07 commented on #3350
Contest https://www.topcoder.com/challenges/30103754 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-01 05:27] crazyk07 commented on #3350
Contest https://www.topcoder.com/challenges/30103754 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-01 05:27] crazyk07 commented on #3350
Contest https://www.topcoder.com/challenges/30103754 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-01 06:52] kkartunov commented on #3348
Done with https://github.com/topcoder-platform/community-app/releases/tag/v0.18.13

[2019-10-01 06:52] #3348 closed

[2019-10-01 06:53] #2973 closed

[2019-10-01 07:33] codeMinter commented on #3350
Challenge: http://www.topcoder.com/challenges/30103760

[2019-10-01 15:05] Oanh-and-only-Oanh commented on #3339
Deployed Oct. 1, 2019

[2019-10-01 15:05] #3339 closed

[2019-10-02 01:19] codeMinter commented on #3331
@nithyaasworld this is on DEV, can you please validate and confirm? Thanks

[2019-10-03 02:38] Oanh-and-only-Oanh opened #3356 "Navigation for THIRVE"
Bug: When you're on Forums, "overview" should not exist and THRIVE is missing

![image](https://user-images.githubusercontent.com/47536078/66095360-20147e80-e54c-11e9-8ce3-cac7594c0083.png)

Desktop and mobile

[2019-10-03 04:23] nithyaasworld opened #3357 "Not able to register for a particular challenge"
Not able to register for a particular challenge. Getting error as below:

![image](https://user-images.githubusercontent.com/5114190/66099215-a0c29180-e5c3-11e9-8879-be7783badd16.png)

[2019-10-03 04:24] nithyaasworld commented on #3357
CC: @Oanh-and-only-Oanh

[2019-10-03 04:25] nithyaasworld commented on #3357
This issue was first reported by community member in the Slack Support:

![image](https://user-images.githubusercontent.com/5114190/66099282-ebdca480-e5c3-11e9-9951-ba6eba3adab5.png)

[2019-10-03 04:44] lakshmiathreya commented on #3279
@sushilshinde @Oanh-and-only-Oanh is this Issue being addressed? It would be high priority for Zurich? ...

[2019-10-03 04:57] nithyaasworld commented on #3331
@codeMinter I am looking at this. So far its good. I will check further and confirm shortly.

[2019-10-03 05:27] nithyaasworld commented on #3331
@codejamtc The fix looks good to me

[2019-10-03 05:27] nithyaasworld commented on #3331
@codeMinter

[2019-10-03 05:38] lakshmiathreya commented on #3331
@nithyaasworld pls elaborate on your verification ... include screenshots ...

[2019-10-03 05:39] RiteshTC commented on #3316
@Dara-K It probably requires code fixes. Code fixes are managed by the product team and not by support.

[2019-10-03 06:16] nithyaasworld commented on #3331
1. Navigated to https://community-app.topcoder-dev.com/__community__/zurich being logged in as dan_developer
2. Clicked on Challenges link. It navigated to the URL https://community-app.topcoder-dev.com/__community__/zurich/challenges?communityId=zurich
3. removed the ?communityId=zurich from the end of the above url and pressed enter. It again navigated back to the URL https://community-app.topco

[2019-10-03 06:27] nithyaasworld commented on #3357
It got me registered after a short while. But I am not able to access forum of this challenge.

CC: @RiteshTC

[2019-10-03 06:41] Dara-K commented on #3316
@RiteshTC I understand. @ajefts can you look into fixing this please/ have someone from your team help with it?

[2019-10-03 07:57] nithyaasworld opened #3360 "TCO20 Sub community filter is not working"
1. In the challenge listing page, apply sub-community filter as TC020
2.Observe that it displays blank result though we have challenges for TCO20

![image](https://user-images.githubusercontent.com/5114190/66109106-944d3180-e5e1-11e9-9b9f-67ebb9804e21.png)

[2019-10-03 08:01] nithyaasworld opened #3361 "Filter communityId=zurich is not working when the URL is accessed directly"
1. Go to challenge listing page
2. Apply filter Subcommunity = Zurich and check that it displays only the challenges related to Zurich
3. Now access the URL https://www.topcoder.com/challenges?communityId=zurich directly and observe that all challenges are displayed

![image](https://user-images.githubusercontent.com/5114190/66109302-f9088c00-e5e1-11e9-9b35-d32769355db4.png)

![image](https://user

[2019-10-03 08:04] nithyaasworld commented on #3267
@Oanh-and-only-Oanh @sushilshinde  Confirming that this is still an issue. Verified with Blockchain community.

![image](https://user-images.githubusercontent.com/5114190/66109524-7d5b0f00-e5e2-11e9-890b-6a1058e98e33.png)

[2019-10-03 08:07] nithyaasworld commented on #3361
@mtwomey @codeMinter  @PrakashDurlabhji @lakshmiathreya

[2019-10-03 08:11] nithyaasworld opened #3362 "Open for review - displays all challenges for Zurich and other subcommunities"
1. Go to one of the subcommunities ( Example: https://zurich.topcoder.com/challenges?communityId=zurich )
2. Click on Open for review
3. Observe that it displays Topcoder challenges also

![image](https://user-images.githubusercontent.com/5114190/66110021-7f719d80-e5e3-11e9-8f15-b87a591c779d.png)

[2019-10-03 08:12] nithyaasworld commented on #3362
@mtwomey

[2019-10-03 08:14] nithyaasworld opened #3363 "Zurich - Past challenges screen is blank"
Zurich - Past challenges screen is blank

![image](https://user-images.githubusercontent.com/5114190/66110228-f7d85e80-e5e3-11e9-94bc-379c09c8788d.png)

[2019-10-03 08:19] nithyaasworld commented on #3122
@Oanh-and-only-Oanh @lakshmiathreya Confirming that this is still an issue

[2019-10-03 08:19] crazyk07 commented on #3122
Contest https://www.topcoder.com/challenges/30099955 has been updated - it has been assigned to _sushilshinde.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-03 08:26] nithyaasworld commented on #3262
@Oanh-and-only-Oanh @lakshmiathreya @sushilshinde confirming that the issue stated in my last comment still exists.

[2019-10-03 08:48] sushilshinde opened #3364 "Zurich forbidden issue"
Private communities are being forbidden because of the fix for

https://github.com/topcoder-platform/community-app/issues/3331

Fix commit - https://github.com/topcoder-platform/community-app/commit/43645476acb63544fc6129db0e96d58202197a30

use `zurich-fixes` community-app branch

[2019-10-03 08:58] crazyk07 commented on #3364
Contest https://www.topcoder.com/challenges/30103832 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-03 09:20] nithyaasworld commented on #3361
@r0hit-gupta

[2019-10-03 09:25] PrakashDurlabhji commented on #3361
@sushilshinde there were even other changes along with this
https://github.com/topcoder-platform/community-app/commit/6224401fb2007c421191feb8ff18e293dc6ee205

but I guess we can revert changes for this, and it should work I feel
https://github.com/topcoder-platform/community-app/commit/6224401fb2007c421191feb8ff18e293dc6ee205

making it back to selectedCommunityId shall work.

[2019-10-03 09:28] crazyk07 commented on #3361
Contest https://www.topcoder.com/challenges/30103835 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-03 09:28] crazyk07 commented on #3361
Contest https://www.topcoder.com/challenges/30103835 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-03 09:37] sushilshinde commented on #3364
Not reproducible anymore.

@mtwomey @nithyaasworld @r0hit-gupta

[2019-10-03 09:38] sushilshinde commented on #3363
@Oanh-and-only-Oanh @ajefts

This should be the Past challenges from the zuich domain?

[2019-10-03 09:49] sushilshinde commented on #3362
@mtwomey @ajefts @Oanh-and-only-Oanh need your opinion on this

[2019-10-03 10:05] nithyaasworld commented on #3364
This was the way I was able to reproduce:

1. Open new incognito (important step)
2. Go to zurich.topcoder.com (forbidden message is shown, which is expected at this point)
3. Then go to topcoder.com and login with topcoder id
4. Then refresh the page opened in step:2 and check that forbidden message is still shown

On step 4, I am actually accessing the URL zurich.topcoder.com**/forbidden** by re

[2019-10-03 10:17] nithyaasworld commented on #3332
@sushilshinde @mtwomey Tested on both production and beta env (where the fix of 3331 is deployed currently). I am not able to reproduce in both environments.

[2019-10-03 13:32] lakshmiathreya commented on #3331
@Nithya for the Zurich filter issue - could you reference the new Issue here - for the 'Open for Review' showing other Challenges?

[2019-10-03 13:39] nithyaasworld commented on #3362
CC: @lakshmiathreya

[2019-10-03 13:42] lakshmiathreya commented on #3331
New Issue opened for the 'Open for Review' showing other Challenges issue - 3362.

[2019-10-03 15:51] sushilshinde commented on #3342
@ajefts I think this got also fixed with zurich fix, please have a look on production.

[2019-10-03 15:57] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-03 15:57] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-03 17:24] ajefts commented on #3342
thanks @sushilshinde

[2019-10-04 03:03] lakshmiathreya commented on #3279
-- Verified that both urls result in presenting of Zurich challenges only - with correct Challenge counts.
-- Also, in incognito, prior to login, Challenges are not displayed.

[2019-10-04 03:03] #3279 closed

[2019-10-04 04:44] lakshmiathreya commented on #3331
Verified that the Zurich filter is applied correctly.

[2019-10-04 04:44] #3331 closed

[2019-10-04 06:39] lakshmiathreya commented on #3342
Counts continue to be inconsistent - pls see screenshots attached. @codeMinter @sushilshinde - pls clarify reg nature of fix for this Issue. cc @nithyaasworld
<img width="1635" alt="Screenshot 2019-10-04 at 11 45 18 AM" src="https://user-images.githubusercontent.com/51733042/66186357-a8efff00-e69f-11e9-809e-fe97f0e2dc04.png">
<img width="1648" alt="Screenshot 2019-10-04 at 11 45 58 AM" src="https:

[2019-10-04 06:43] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-04 06:53] codeMinter commented on #3342
@lakshmiathreya can you confirm the counts seen finally are from the last api call metadata ?

[2019-10-04 10:49] lakshmiathreya commented on #3342
@codeMinter as you can see in the screenshot:
-- the last api call metadata counts match with the response shown in Chrome post login - total count 67.
-- The first api call metadata counts match with the response shown in Chrome prior to login - total count 52. (another Q - should we show Challenges prior to login? Will log a diff issue for this )
-- The counts shown in Firefox dont match counts

[2019-10-04 11:40] crazyk07 commented on #3362
Contest https://www.topcoder.com/challenges/30103882 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-04 11:40] crazyk07 commented on #3362
Contest https://www.topcoder.com/challenges/30103882 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-04 12:00] PrakashDurlabhji commented on #3362
@sushilshinde shall I work on it? I even worked on f2f of this and won it. I will complete it immediately.

[2019-10-04 12:27] kkartunov commented on #3356
@Oanh-and-only-Oanh this is beyond my control this I need to step back. Have assigned @sushilshinde as he is aware of the forums app.

[2019-10-04 14:38] #3364 closed

[2019-10-04 14:38] #3363 closed

[2019-10-04 14:42] sushilshinde commented on #3362
@PrakashDurlabhji please go ahead, please submit quickly

[2019-10-04 16:40] codeMinter commented on #3342
@lakshmiathreya The first 2 scenarios looks right, that is expected behavior
@ajefts @sushilshinde can confirm this too☝️?

Also related to your question - `should we show Challenges prior to login?` - this is expected behavior )

Will check Firefox issue and see what is going wrong there.

[2019-10-04 23:00] PrakashDurlabhji commented on #3362
@sushilshinde kindly verify both PRs, as both are required

https://github.com/topcoder-platform/community-app/pull/3368

https://github.com/topcoder-platform/topcoder-react-lib/pull/97

[2019-10-04 23:00] crazyk07 commented on #3362
Contest https://www.topcoder.com/challenges/30103882 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-05 03:45] mkagenius commented on #3300
Just reported this to support. They told its old issue and already is tracked here.

[2019-10-05 08:54] nithyaasworld commented on #3342
@codeMinter Please move this issue back to the card 'QA in PROD in process' if you think we should verify again in Production. Also, add the label 'Ready for Prod QA' back. Thanks.

[2019-10-05 08:56] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-07 01:50] nithyaasworld commented on #3269
Confirming that this is still an issue

![image](https://user-images.githubusercontent.com/5114190/66280122-df619000-e8d2-11e9-8fe4-cdb52e7225e9.png)

[2019-10-07 08:50] sushilshinde commented on #3362
@PrakashDurlabhji checking

[2019-10-07 09:02] #3357 closed

[2019-10-07 09:03] #3350 closed

[2019-10-07 16:54] Oanh-and-only-Oanh opened #3369 "MM stats are separated into Dev and Data Science tracks when they should be combined"
**Describe the bug**
MM stats are separated into Dev and Data Science tracks when they should be combined

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/members/tourist
2. Scroll down to 'Development Activity' and `Data Science Activity`
4. See that there is separate Develop MM and Data Science MM

**Screenshots**
![image](https://user-images.githubusercontent

[2019-10-07 16:54] Oanh-and-only-Oanh commented on #3369
It’s related to the fact that new marathon matches are technically a “dev” challenge behind the scenes.
Looks like some of the data is getting loaded into member stats under the dev track (which is wrong) and the links are also broken:  https://www.topcoder.com/members/tourist

[2019-10-07 20:02] kkartunov opened #3370 "Change "United States of America" to "USA" on member cards"
Demo: https://tco19.topcoder.com/interviews
- "United States of America" to "USA"
- "Venezuela, Bolivarian Republic" to "Venezuela"

[2019-10-08 15:56] PrakashDurlabhji commented on #3362
@sushilshinde all good?

[2019-10-09 04:54] codeMinter commented on #3362
@PrakashDurlabhji what is base branch you used, I will verify now ?

[2019-10-09 04:55] codeMinter commented on #3362
ignore, my bad

[2019-10-09 05:19] codeMinter commented on #3362
@PrakashDurlabhji this doesn't fixes the issue. I still see them

<img width="1410" alt="Screenshot 2019-10-09 at 10 47 24 AM" src="https://user-images.githubusercontent.com/14284629/66453582-7b7dc980-ea82-11e9-9f95-86eb9bf1d5c2.png">

[2019-10-09 05:40] PrakashDurlabhji commented on #3362
@codeMinter I hope topcoder-react-lib changes are also taken into consideration.

@sushilshinde Also, I hope "/reviewOpportunities" support filter query param like other endpoints does.

[2019-10-09 05:47] codeMinter commented on #3362
@PrakashDurlabhji yes I did merged both to local before testing.

So you didn't tested your code at all ?

[2019-10-09 05:58] PrakashDurlabhji commented on #3362
@codeMinter I did test, but a minor inconsistency was observed, it happened with earlier issues too, whereas it was working well on your machines, so considered it to be mine machine issue and proceeded.

[2019-10-09 06:08] codeMinter commented on #3342
@lakshmiathreya can you retry this? I just tested this on Chrome and Firefox and see same numbers on both.

![Uploading Firefox.png…]()

<img width="1410" alt="Chrome" src="https://user-images.githubusercontent.com/14284629/66455715-298c7200-ea89-11e9-9dda-914df07dcee9.png">

[2019-10-09 06:17] codeMinter commented on #3362
@PrakashDurlabhji ok kindly check urgently. If you think you are not able to fix in next 4-6 hrs, plz open for pickup so someone else can try. This is a priority `P0` issue.

[2019-10-09 06:19] PrakashDurlabhji commented on #3362
@codeMinter yes wont take 4-6 hours

[2019-10-09 06:20] codeMinter commented on #3362
Thanks

[2019-10-09 06:49] PrakashDurlabhji commented on #3362
@codeMinter can i get repo access where code lies for this endpoint

https://api.topcoder-dev.com/v3/reviewOpportunities/?filter=groupIds%3D20000145&limit=1000&offset=0

because above endpoint not accepting filter param and ignoring it whereas below endpoint accepts it

https://api.topcoder-dev.com/v4/members/dan_developer/challenges/?filter=groupIds%3D20000145%26status%3DACTIVE&limit=50&offset=0

[2019-10-09 06:56] codeMinter commented on #3362
@PrakashDurlabhji I looked up the API, we don't have filter in back-end, you will need to handle filtering on client side using `groupIds` in /challenges response

[2019-10-09 07:06] PrakashDurlabhji commented on #3362
@codeMinter there is mismatch in model properties received in both end points.

challenges endpoint have field groupIds .check screenshot below
<img width="797" alt="3362_1" src="https://user-images.githubusercontent.com/28830240/66458856-60ff1c80-ea91-11e9-87c8-9c9d1ded4360.PNG">

[2019-10-09 07:09] PrakashDurlabhji commented on #3362
@codeMinter "reviewOpportunities" endpoint doesnt have groupIds in response. check screenshot below.

<img width="804" alt="3362_2" src="https://user-images.githubusercontent.com/28830240/66459043-cfdc7580-ea91-11e9-824b-cf3ccf9e28a7.PNG">

[2019-10-09 15:12] sushilshinde commented on #3332
@nithyaasworld it was API issue now fixed

https://github.com/appirio-tech/ap-challenge-microservice/issues/521

Please test on dev

[2019-10-09 15:18] PrakashDurlabhji commented on #3362
@sushilshinde @nithyaasworld can I get acess to this repo https://github.com/appirio-tech/ap-challenge-microservice? as I may need it to solve this issue because frontend doesnt receive response from backend with required fields such as group Ids.

or @nithyaasworld can you please kindly confirm that "/reviewOpportunities" endpoint is present in above repo? thanks

[2019-10-10 05:33] dushyantb opened #3372 "MM Submission Tab Feature"
# MM Submission Page
- Added review status icon
- View additional data of the submission

[2019-10-10 06:48] nithyaasworld commented on #3222
This issue is happening again.

CC: @codeMinter @sushilshinde @Oanh-and-only-Oanh @lakshmiathreya

![image](https://user-images.githubusercontent.com/5114190/66545265-ed741280-eb57-11e9-80a0-78c11a92248d.png)

[2019-10-10 06:59] PrakashDurlabhji commented on #3362
@codeMinter @sushilshinde any updates on this?

is my approach correct?

or do you want me to replace '/reviewOpportunities' call with '/challenges' call? because I do not find any logic to separate out review opportunites at this line https://github.com/topcoder-platform/community-app/blob/43645476acb63544fc6129db0e96d58202197a30/src/shared/utils/challenge-listing/buckets.js#L102

whereas other b

[2019-10-10 07:00] dushyantb opened #3374 "MM Submission Tab - Improvements"
1. member handle color coding
2. allow admin to view the additional details even though he is not  registered to the challenge
3. in the console log, if I’m not registered, it throws a 500 and a raw text response of Cannot read property 'userDetails' of undefined - instead of throwing a 401 and a json payload
4. Speed-up loading submissions

[2019-10-10 07:03] codeMinter commented on #3362
no @PrakashDurlabhji we cannot do it. There is reason behind it. This is used by Reviewers to apply for challenges open for Review so we cannot replace. We will need to put this on hold unless we fix backend, which is not quick thing.

@sushilshinde as discussed, FYI & A ☝️

[2019-10-10 07:06] nithyaasworld commented on #3342
@codeMinter I am seeing the count is being not correct when followed the steps here https://github.com/topcoder-platform/community-app/issues/3122

Can you check please?

[2019-10-10 07:12] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-10 07:15] PrakashDurlabhji commented on #3362
@codeMinter @sushilshinde  hope so efforts are not wasted on this.

[2019-10-10 08:25] nithyaasworld opened #3375 "Zurich - Footer is little moved up"
Zurich - Footer is little moved up

1. Go to Zurich (https://zurich.topcoder.com/challenges?communityId=zurich)
2. Refresh the page and check the footer

![image](https://user-images.githubusercontent.com/5114190/66551635-79d90200-eb65-11e9-892d-b3b1153bd649.png)

[2019-10-10 08:25] nithyaasworld commented on #3375
CC: @sushilshinde

[2019-10-10 11:30] kkartunov opened #3377 "TCO leaderboard : Clicking on a member handle"
TCO20 leaderboard : Clicking on a member handle to list the challenges with corresponding TCO points in http://tco20.topcoder.com/competition-overview/qa/leaderboard  returns a blank page with the following error in the console 'raven.js:51 Error: CSS module import does not exist: undefined'
This also happens for TCO19 leaderboards

[2019-10-10 17:14] #3340 closed

[2019-10-10 19:25] ThomasKranitsas commented on #3374
@dushyantb req.2 should be already implemented:
https://github.com/topcoder-platform/community-app/blob/65dab4abaa86ef9b8eb80ab4ebd0cd9a8ffac747/src/server/controllers/submissions.js#L91-L94

Regarding the error on req.3, where exactly is the error thrown?

[2019-10-11 04:28] dushyantb commented on #3374
@ThomasKranitsas nope, req.2 is not working though code suggests that it is working.
- Regarding req.3 I'll confirm

[2019-10-11 05:08] RishiRajSahu commented on #3227
@codeMinter this is the older issue, I think its fixed..Have you seen the rating on profile of square1001. It seems right to me. Or what should be the new correct rating otherwise ?

[2019-10-11 05:35] codeMinter commented on #3227
@RishiRajSahu The rating shown https://community.topcoder.com/stat?c=round_stats_sorted&rd=17663&dn=1&sq=Round_Statistics_Data&sc=16&sd=asc and https://www.topcoder.com/members/square1001 are still not in sync.

Can you once validate if the loader for using ratings to DynamoDb is working fine?

[2019-10-11 05:41] RishiRajSahu commented on #3227
It was 2435 on Aug 10, after that it dropped for next SRMs, please check carefully on the graph.

Also the loader is working fine, and I am aware that yesterday there was an SRM so if the member has participated in that the new rating will be updated today, as the loader hasn't yet ran.

[2019-10-11 05:51] codeMinter commented on #3227
oh yes, was looking at old SRM numbers. It matches as per last one https://community.topcoder.com/stat?c=round_stats&rd=17678

[2019-10-11 05:54] codeMinter commented on #3227
@sharathkumaranbu for your case, I see color and ratings match. Recently we have updated the ratings colors in July/Aug time frame. Your rating and color match as per https://www.topcoder.com/members/Sharathkumar92/details/?track=DEVELOP&subTrack=CODE

Can you elaborate on the issue, if different ?

[2019-10-11 05:55] codeMinter commented on #3227
@sharathkumaranbu for your case, I see color and ratings match. Recently we have updated the ratings colors in July/Aug time frame. Your rating and color match as per https://www.topcoder.com/members/Sharathkumar92/details/?track=DEVELOP&subTrack=CODE

Can you elaborate on the issue, if different ?

[2019-10-11 08:37] maxceem opened #3380 "Failed to get member subtrack challenges"
**Describe the bug**
Cannot see the list of F2F challenge on the member profile pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any member project page, for example https://www.topcoder.com/members/maxceem
2. Click on *FIRST2FINISH*, to see member statistics
3. You will see the page with *FIRST2FINISH* statistics https://www.topcoder.com/members/maxceem/details/?track=DEVELOP&su

[2019-10-13 02:00] lakshmiathreya commented on #3332
The issue seems to be seen even now - needs multiple refreshes before the Zurich challenge is seen. Verified on Prod with multiple browsers. Please clarify if the fix has been moved to Prod yet.

[2019-10-13 08:07] kkartunov opened #3384 "New community landing page"
Create and link the new community landing page.
https://marvelapp.com/65jci8f/screen/60647257

[2019-10-13 08:17] kkartunov opened #3385 "THRIVE - update authors search UX"
Steps to reproduce:

1. Go to https://www.topcoder.com/thrive
2. In top search bar select "Authors"
3. Type "dar"

**Current**: It shows all articles from authors that match "dar" search keyword in name or TC handle.

**Expected**: Dropdown to show authors(Name/Handle) that match instead of articles. Clicking on the author should navigate to `thrive/search` and show his/her articles. "View all res

[2019-10-13 08:23] kkartunov opened #3386 "Add "Viewport" support to Content Slider in Contentful"
`Content Slider` do need to be able to render `Viewport` components.
https://app.contentful.com/spaces/b5f1djy59z3a/content_types/contentSlider/fields

[2019-10-13 08:27] kkartunov opened #3387 "Implement all styles for buttons from Contentful"
Design: https://marvelapp.com/1g8j2156/screen/60434788/handoff
- All buttons need to be available for usage from Contentful.
- Related docs should be updated

[2019-10-13 10:23] harshitmehta123 commented on #2213
Hey @ThomasKranitsas any updates on this :)

[2019-10-13 13:43] nithyaasworld opened #3388 "MM Leaderboard - Regarding alignment of Final, Provisional and Time headers and their values alignment"
This is regarding the MM Leaderboard

1. Final, Provisional and Time headers of Individual section are not vertically aligned with the Top Table header
2. Their values are not in alignment too

![image](https://user-images.githubusercontent.com/5114190/66716607-3f819600-eded-11e9-808d-e502614839d9.png)

[2019-10-13 13:43] nithyaasworld commented on #3388
CC: @dushyantb @sushilshinde

[2019-10-13 13:48] nithyaasworld opened #3389 "MM Leaderboard - When the recent provisional score is 0, it displays nothing for final provisional score"
In MM Leaderboard - When the recent provisional score is 0, it displays blank value as final provisional score

![image](https://user-images.githubusercontent.com/5114190/66716667-fd0c8900-eded-11e9-8261-c61b6f0d1a62.png)

[2019-10-13 13:48] nithyaasworld commented on #3389
CC: @dushyantb @sushilshinde

[2019-10-13 15:01] nithyaasworld opened #3390 "MM Leaderboard: Some of the scores are stuck in 'Submission in queue' status forever"
In MM Leaderboard: Some of the scores are stuck in 'Submission in queue' status forever

![image](https://user-images.githubusercontent.com/5114190/66717591-58dc0f80-edf8-11e9-82cc-b6d8a17f1675.png)

[2019-10-13 15:01] nithyaasworld commented on #3390
CC: @dushyantb @sushilshinde

[2019-10-13 15:15] nithyaasworld commented on #3332
Yes, it's available on Production. For me, the challenges are just loading fine.

Can you please try in a new incognito window and see if you are able to reproduce still?

For me, it was reproducible, when I accessed the Zurich challenges page after being idle for some hours(put the system for sleep for hours and then re-accessed).

I will test this scenario and update my results.

[2019-10-13 18:39] nithyaasworld commented on #3332
Steps followed:

1. Logged in www.topcoder.com with my user and then accessed zurich.topcoder.com
2. It showed me 1 challenge
3. Put the computer to sleep for more than an hour **(This is Important step)**
4. When I opened, zurich.topcoder.com, it is stuck with a loading indicator (Screenshot:1)
5. I refreshed it. There was no loading indictor this time but has API failure icon (Screenshot:2)
6. O

[2019-10-13 21:57] nithyaasworld opened #3391 "TCO19 Sponsor page -> Intel logo points to Oxy's page"
TCO19 Sponsor page -> Intel logo points to Oxy's page

![image](https://user-images.githubusercontent.com/5114190/66723091-b2613000-ee32-11e9-84f5-b834864dafad.png)

[2019-10-14 05:01] crazyk07 commented on #3361
Contest https://www.topcoder.com/challenges/30103835 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-14 05:10] sushilshinde commented on #3362
@PrakashDurlabhji you are a regular contributor, and you are aware that TC compensates contributors as per the community guidelines. There are some issues like these we can't process payment for unresolved issues.

[2019-10-14 05:14] sushilshinde commented on #3360
@nithyaasworld TCO20 hasn't started to there won't be any challenge there. We will have to see if we can launch TCO20 challenge on dev.

[2019-10-14 05:58] sushilshinde commented on #3332
@nithyaasworld please open another issue with the steps that you mentioned because for the simple flow as per original issue desc I'm not able to reproduce issue.

@lakshmiathreya can you help with video or steps.

[2019-10-14 07:52] ThomasKranitsas commented on #2213
Hey @harshitmehta123, I'm not working on this one. Right now I don't have the bandwidth to take it up.

cc @sushilshinde

[2019-10-14 08:31] kkartunov commented on #3391
@nithyaasworld this is now corrected.

[2019-10-14 08:31] #3391 closed

[2019-10-14 08:33] #3384 closed

[2019-10-14 18:20] Oanh-and-only-Oanh commented on #3227
Closing issue- Not a bug

[2019-10-14 18:20] #3227 closed

[2019-10-15 04:54] nithyaasworld opened #3392 "MM Leaderboard: Past challenges scores are not visible"
Past MM challenges scores are not visible

Challenge URL: https://www.topcoder.com/challenges/30101930?tab=submissions

![image](https://user-images.githubusercontent.com/5114190/66801203-e83b0d00-ef35-11e9-8f81-8cd8926d21af.png)

[2019-10-15 04:55] nithyaasworld commented on #3392
CC: @dushyantb @sushilshinde @codeMinter

[2019-10-15 05:08] nithyaasworld commented on #3360
@sushilshinde I thought we should see the current challenges which have TCO20 tag in it. Please correct me if I am wrong. Thanks.

![image](https://user-images.githubusercontent.com/5114190/66801777-e96d3980-ef37-11e9-904b-5a157e7abefc.png)

[2019-10-15 05:12] nithyaasworld opened #3393 "Challenge Details screen: TC020 tag is displayed twice"
Challenge Details screen: TC020 tag is displayed twice

![image](https://user-images.githubusercontent.com/5114190/66801929-6ac4cc00-ef38-11e9-81c3-421c919c02ba.png)

[2019-10-15 20:10] Oanh-and-only-Oanh opened #3394 "Fix the display of the reliability % on profiles"
**Describe the bug**

For example, https://www.topcoder.com/members/birdofpreyru/details/?track=DEVELOP&subTrack=CODE

it’s zero there, but there should be a value
it should have a value like it does here:  https://www.topcoder.com/members/FireIce/details/?track=DEVELOP&subTrack=ASSEMBLY_COMPETITION

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/members/birdof

[2019-10-16 06:26] codeMinter commented on #3351
@Oanh-and-only-Oanh FYI, we have the code ready we are getting some backend things in place, before we make it available to QA for testing. We should be ready in 1-2 days more.

[2019-10-16 09:22] sushilshinde opened #3396 "My Challenges served from the members challenge api endpoint"
https://www.topcoder.com/challenges/30103914

[2019-10-16 12:55] nithyaasworld opened #3397 "Zurich site shows 0 challenges when accessing after some time of sleep"
Steps followed:
1. Logged in www.topcoder.com with my user and then accessed zurich.topcoder.com
2. It showed me 1 challenge (this is as expected)
3. Put the computer to sleep for more than an hour **(Important step)**
4. When I opened zurich.topcoder.com, it was stuck with a loading indicator (Screenshot:1)
5. I refreshed it. There was no loading indicator this time but has an API failure icon (S

[2019-10-16 12:57] Schpotsky opened #3398 "Development TCO20 Leaderboard is Empty"
**Describe the bug**
The TCO20 leaderboard http://tco20.topcoder.com/competition-overview/development/leaderboard is empty even if there are eligible development challenges that were already completed :
https://www.topcoder.com/challenges/30103927
https://www.topcoder.com/challenges/30103885

All the points for development challenges are counted in the QA leaderboard :
http://tco20.topcoder.com/co

[2019-10-16 12:57] nithyaasworld commented on #3397
@sushilshinde @lakshmiathreya @mtwomey

[2019-10-16 13:40] nithyaasworld commented on #3332
Not able to reproduce by following the steps in the bug description.

Requesting @mtwomey to confirm once, so we can close this issue. Thanks.

https://github.com/topcoder-platform/community-app/issues/3397 has been logged to address the issue with challenge-loading when accessing the page after some idle time.

[2019-10-16 16:06] Oanh-and-only-Oanh commented on #3332
@nithyaasworld, I'm not able to reproduce either. You can close this ticket since you've logged #3397. Thank you.

[2019-10-16 16:14] Oanh-and-only-Oanh commented on #3351
@codeMinter, the sorting for username isn't alphabetical.
![image](https://user-images.githubusercontent.com/47536078/66938058-5a265b80-eff5-11e9-9bc9-b512e439bee5.png)

[2019-10-16 17:18] codeMinter commented on #3351
@Oanh-and-only-Oanh We used lex order hence we see the results that way. As discussed, will push the change to make it alpha sort.

[2019-10-16 19:48] ajefts opened #3399 "Submission Management Page for MM"
This new feature will allow MM submitters to manage their submissions directly on the platform.

- view submission status

- view submission scores

- view submission metadata

<p></p>

Marvel design: <https://marvelapp.com/cch42ib/screen/61330572>

<p></p>

[2019-10-16 19:48] ajefts commented on #3399
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3112446

[2019-10-17 06:43] codeMinter commented on #3269
@nithyaasworld @Oanh-and-only-Oanh this also looks like `Not a Bug` - just verified https://www.topcoder.com/challenges/30103195?tab=submissions

[2019-10-17 06:49] codeMinter commented on #3392
The fix for this and #3269 is going to be same, as discussed with @dushyantb we changed the API response structure. We need to finalise the approach whether we migrate all old challenges to new api response structure of we fix this in UI.

Linking them as the same fix is needed for both.

[2019-10-17 07:49] codeMinter commented on #3351
@Oanh-and-only-Oanh @nithyaasworld this is on dev now with changes requested for sorting of username in alphabetical order

[2019-10-17 09:25] lakshmiathreya commented on #3396
Verified that My Challenges is served from the endpoint as stated in Challenge requirements. Pls clarify reg additional verifications @codeMinter

[2019-10-17 09:33] lakshmiathreya commented on #3387
@kkartunov @sushilshinde pls clarify reg verification for this Issue. cc @nithyaasworld

[2019-10-17 09:39] lakshmiathreya commented on #3332
Verified on Prod and closing this Issue since #3397 has been logged.

[2019-10-17 09:39] #3332 closed

[2019-10-17 12:23] nithyaasworld commented on #3262
Closing this as we have https://github.com/topcoder-platform/community-app/issues/3389 in open to address the issue with the final provisional score.

[2019-10-17 12:23] #3262 closed

[2019-10-17 18:36] hokienick opened #3400 "Thrive - Auto choose correct tab when clicking Subcategory"
Currently on the subcategories page (i.e. https://www.topcoder.com/thrive/tracks?track=Data%20Science) there are times when a user clicks a subcategory and it appears empty.  This is because the articles assigned to those subcategories may either be videos or forum posts.  There should be some logic added where if there are 0 articles, the videos tab should be activated, and if there are no videos

[2019-10-17 19:35] hokienick opened #3401 "Thrive - Author by Handle For Forum Post Cards"
Currently the cards for Forum Posts display the author's full name.  This is fine for Blog Article cards but it would make more sense to see handles for the forum posts

[2019-10-17 20:23] hokienick opened #3402 "Thrive - Add Track Category "Topcoder""
Please add "Topcoder" as a track category as this will serve as the area to publish current Topcoder Help Articles.

[2019-10-17 21:03] hokienick opened #3403 "Thrive - Remove Time from "Creation Date""
Currently when creating an article, when it comes to Creation Date, the time is not necessarily useful so please remove that option and just keep the actual date.

[2019-10-17 21:09] hokienick opened #3404 "Thrive - Add transparent layer to video cards"
Currently it is difficult to read the video titles on cards as can be seen here:

<img width="993" alt="Screen Shot 2019-10-17 at 2 05 53 PM" src="https://user-images.githubusercontent.com/1373998/67047593-77d3ed80-f0e7-11e9-9123-02405777b057.png">

Please add a black layer with a transparency of 60% (that should do the trick, may have to test it) to the bottom 1/3 of the card.  Please let me know

[2019-10-18 05:31] codeMinter commented on #3396
@lakshmiathreya can you please elaborate what clarifications are needed here ?

[2019-10-18 05:33] codeMinter commented on #3396
If you referring to what else to test, we are targeting to speed up loading of the `/challenges` page, so not sure if you have tools to test the same. It would be good to get some stats around it so we can then plan to do similar thing for other buckets if this process has speeded up loading of My Challenges bucket?

[2019-10-18 14:02] Oanh-and-only-Oanh commented on #3396
Yes, agreed. Please note the time in Prod now for comparison. Thank you

Sent from my iPhone

[2019-10-19 06:01] codeMinter commented on #3342
@nithyaasworld FYI we are waiting on backend fix on this, as metadata is not always returned same by /challenges api call. Once we have that fixed, the numbers should stick around fine. I am putting this on hold till then.

[2019-10-19 06:07] crazyk07 commented on #3342
[500]: Challenge for the updated issue 3342 is creating, rescheduling this event<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-10-19 07:43] codeMinter commented on #3351
@sushilshinde

[2019-10-19 16:25] kkartunov commented on #3403
Done.

[2019-10-19 16:25] #3403 closed

[2019-10-21 00:47] codeMinter commented on #3396
@sushilshinde can we deploy this to `beta` so @lakshmiathreya can run a comparison with PROD as they both are served using same backend ?

[2019-10-21 04:27] codeMinter commented on #3396
@lakshmiathreya can you elaborate what clarifications are needed here ?

[2019-10-21 08:43] kkartunov commented on #3387
The demo should be [here](https://community-app.topcoder-dev.com/examples/contentful/contentblock/3k7k1JpnSvIRrJYWs4izYi) after PR is merged.

[2019-10-21 08:48] kkartunov commented on #3387
@lakshmiathreya ^^^

[2019-10-21 17:51] nithyaasworld commented on #3394
I would like to add that, as per[ this article](https://help.topcoder.com/hc/en-us/articles/219240797-Development-Reliability-Ratings-and-Bonuses), the current reliability rule is:

"Member profiles reflect reliability factors for the **last 15 projects in each track.** The reliability factor is calculated **as the percentage of the last 15 projects that a member registers** for in which that same

[2019-10-21 17:52] nithyaasworld commented on #3394
@Oanh-and-only-Oanh Please confirm if we can go by the above rule. Thanks.

[2019-10-21 17:56] nithyaasworld opened #3409 "Challenge Listing page: Tooltip is blank for Idea Generation Challenges"
Challenge listing page:

Tooltip is blank for Idea Generation Challenges

![image](https://user-images.githubusercontent.com/5114190/67230077-35e5d700-f45a-11e9-87f1-6493131c0578.png)

[2019-10-21 17:57] nithyaasworld commented on #3409
This is a known issue for a long time.

CC: @Oanh-and-only-Oanh @lakshmiathreya

[2019-10-21 18:30] Oanh-and-only-Oanh commented on #3394
@nithyaasworld , that's correct. Reliability rule is the last 15 projects that a member registers for in each track. @dushyantb @atif FYI

[2019-10-21 19:30] nithyaasworld opened #3410 "Regarding the Submission date visibility in Challenge Details Screen"
Can we hide the Submission time until the review phase is closed?

Reason: As the submission dates are visible in Challenge details screen as well as in OR, and the submission IDs are in ascending order in OR, its easy for the reviewer to guess who has submitted what (though the submitter's name is not explicitly shown).

Though our reviewers are not biased, if the submitter has a good reputation,

[2019-10-22 05:47] #3377 closed

[2019-10-22 05:47] #3370 closed

[2019-10-22 06:45] codeMinter commented on #3269
@dushyantb did you had chance to check on this, as discussed the other day ? Do we want to move old challenges to new structure ?

[2019-10-22 08:44] lakshmiathreya commented on #3396
@codeMinter Clarification requested was regarding specifics of verification - its clear now that /challenges load times need to be noted. thanks! Deploying on beta would help to make a direct comparison as you suggested.

[2019-10-22 11:07] lakshmiathreya opened #3412 "Topcoder CLI Tool Issues"
Description:

https://www.npmjs.com/package/@topcoder/topcoder-cli

-- Topcoder CLI tool command stated in the Readme is incorrect - stated as "tc-submission-cli" - should be "tc".
-- The CLI tool does not validate Challenge Ids - gives a success response for incorrect Challenge Ids.

Steps to reproduce the behavior:
1. Follow the installation steps indicated in the Readme.
2. The command stated d

[2019-10-23 04:37] Oanh-and-only-Oanh commented on #3387
@kkartunov, it's unclear what about the buttons need to be verified or tested.

[2019-10-23 06:49] kkartunov commented on #3387
@Oanh-and-only-Oanh we want to confirm if demo https://community-app.topcoder-dev.com/examples/contentful/contentblock/3k7k1JpnSvIRrJYWs4izYi match design as per https://marvelapp.com/1g8j2156/screen/60434788/handoff

[2019-10-23 06:50] kkartunov commented on #3386
Slier demo is here https://community-app.topcoder-dev.com/examples/contentful/slider/23217h2HrkfhKTpewpIZT8

[2019-10-23 09:21] reuf opened #3414 "When I update my profile image/avatar in my profile settings, it doesn't reflect back in the forums profile/avatar!"
1. I go to https://www.topcoder.com/settings/profile
2. I update my avatar with the new image
3. It is changed everywhere except in the forums. The old avatar is still displayed in the forums.

[2019-10-23 21:12] mtwomey commented on #3369
What is the desired layout of this page? Display all MM as "DEVELOP MARATHON MATCH" under DEVELOPMENT ACTIVITY and remove the MARATHON MATCH section from DATA SCIENCE ACTIVITY? (cc @ajefts )

[2019-10-24 05:23] codeMinter commented on #3394
@dushyantb as discussed with @urwithat, assigning this to you for taking it ahead. Do let me know if anything needed from myside.

[2019-10-24 06:09] codeMinter opened #3416 "Add quick survey to challenges page"
Create a survey for challenges page using below

[code]

[2019-10-24 06:09] codeMinter commented on #3416
@Oanh-and-only-Oanh FYI ☝️

[2019-10-24 06:13] codeMinter commented on #3416
@nithyaasworld are you around to test this quickly, deployment happening for beta right now ?

[2019-10-24 07:22] #3404 closed

[2019-10-24 07:25] #3387 closed

[2019-10-24 07:25] #3401 closed

[2019-10-24 07:25] #3402 closed

[2019-10-24 16:26] Oanh-and-only-Oanh commented on #1837
Challenge link https://www.topcoder.com/challenges/30104420

[2019-10-24 16:33] codeMinter commented on #3269
@dushyantb moving this to you as we need to take a call on how to handle this - kindly discuss with lazybaer as we talked over slack and feel free to tag me back, if you need my help to get this ahead once we have the decided approach.

[2019-10-24 16:33] Oanh-and-only-Oanh opened #3420 "Issue with "member since" data"
**Describe the bug**
There are some differences in the "Member since" data between what is shown on frontend and what is in backend data

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/members/chok68
2. The profile says 2009 but if we look in informix tables it's actually 2011

[2019-10-24 16:37] Oanh-and-only-Oanh opened #3421 "What is shown for Member Skills is different from backend data"
**Describe the bug**
There are some differences in the "Member skills" data between what is shown on frontend and what is in backend data

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/members/ananthhh
2. The profile shows 10 skills however in Dynamo there are 37 skills for this user

[2019-10-24 16:54] Oanh-and-only-Oanh opened #3422 "Community/Business Toggle to Navigation"
Add the following elements to the Community side.

1) Community/Business toggle- we want this toggle feature to be present for BOTH logged in and logged out states. IT's the same as what the marketing side has currently.
See screenshot
![image](https://user-images.githubusercontent.com/47536078/67507575-05619100-f644-11e9-9441-288412956254.png)

2) The user dropdown menu- For the Logged In state,

[2019-10-25 05:39] nithyaasworld commented on #3416
@codeMinter @Oanh-and-only-Oanh Verified in production.

[2019-10-25 17:21] Oanh-and-only-Oanh commented on #3369
@mtwomey,
The other way around, display all MM as "Data Science Marathon Match" under DATA SCIENCE ACTIVITY and remove the Marathon Math section from DEVELOP ACTIVITY.

[2019-10-25 19:20] mtwomey commented on #3369
@oanh How do we handle that that one of them had a "number of wins" and the other one has a rating?

[2019-10-25 19:29] Oanh-and-only-Oanh commented on #3369
@mtwomey can we show number of MM wins and rating into DS activity only?

[2019-10-25 19:30] mtwomey commented on #3369
@RishiRajSahu @cwdcwd Just some more info. I'm just learning about this activity - is this something you're already involved in?

![image](https://user-images.githubusercontent.com/7715262/67598761-fbb75680-f733-11e9-90b1-587eddc83d46.png)

[2019-10-26 20:29] nithyaasworld commented on #3416
@codeMinter The survey keep showing whenever I open the challenges page, though I have already completed the survey. Could you check please?

![image](https://user-images.githubusercontent.com/5114190/67625554-6a440380-f85d-11e9-9a2f-38fad90284ab.png)

[2019-10-29 16:55] Oanh-and-only-Oanh commented on #3416
removing the pop up survey tomorrow. FYI @nithyaasworld

[2019-10-30 06:26] codeMinter opened #3426 "Revert Feedback Survey from Challenge Listing Page"
Revert #3416 : Feedback Survey from Challenge Listing Page

[2019-10-30 06:26] codeMinter commented on #3426
@Oanh-and-only-Oanh FYI - reverting Survey as discussed.

@sushilshinde FYI ☝️

[2019-10-30 06:42] codeMinter commented on #3416
@nithyaasworld yes, we don't do session management, it is normal survey monkey which will be there. We are taking this off as @Oanh-and-only-Oanh has the needed info, revert for the same is #3426

[2019-10-30 06:43] codeMinter commented on #3416
Let's move it back to Done, if you agree to above as revert is different ticket as posted above.

[2019-10-30 06:57] codeMinter opened #3427 "Sort Submissions Columns"
https://www.topcoder.com/challenges/30104447/?type=develop

[2019-10-30 06:57] codeMinter commented on #3427
@Oanh-and-only-Oanh added this ticket to track Submissions page sorting changes.

@sushilshinde FYI ☝️

[2019-10-30 08:04] nithyaasworld commented on #3416
I will check and close this issue by tonight.

[2019-10-30 16:35] Oanh-and-only-Oanh opened #3429 "Leaderboard issue: Submitter handle sometimes won’t be the actual submitter"
**Describe the bug**
The issue is that we’re showing the submitters list using the handle of the user that created the submission.  There is also an API field that has the ID of the submitter.  The issue with using createUser is that it’s really an audit field and sometimes it won’t be the actual submitter.  For example, if ritesh uploads a submission on behalf someone else, then it’s showing rite

[2019-10-30 17:01] Oanh-and-only-Oanh commented on #3427
"countryname/flag" is out of scope of now.
FYI @codeMinter @nithyaasworld

[2019-10-30 17:01] Oanh-and-only-Oanh commented on #3351
"countryname/flag" is out of scope of now.
FYI @codeMinter @nithyaasworld

[2019-10-31 07:05] nithyaasworld commented on #3416
Verified and confirming that this survey is removed.

[2019-10-31 07:06] #3416 closed

[2019-10-31 07:12] nithyaasworld commented on #3426
Verified

[2019-10-31 07:12] #3426 closed

[2019-10-31 07:28] codeMinter commented on #3427
@nithyaasworld can you help test this on DEV ?

[2019-10-31 08:58] nithyaasworld commented on #3427
@codeMinter Please find the results below:

1. MM Results are not shown in Beta.
![image](https://user-images.githubusercontent.com/5114190/67930886-c05ed100-fbe6-11e9-96d6-5c0d742ed061.png)

2. I think we should not show the Rating column for the Design Challenges as they don't have rating. Please correct me if I am wrong. Thanks.
![image](https://user-images.githubusercontent.com/5114190/6793205

[2019-10-31 09:01] nithyaasworld commented on #3351
Please find the testing observations here https://github.com/topcoder-platform/community-app/issues/3427#issuecomment-548273042

[2019-10-31 09:18] codeMinter commented on #3427
Thanks @nithyaasworld

1. MM Results are not shown in Beta

2. I think we should not show the Rating column for the Design Challenges as they don't have rating. Please correct me if I am wrong. Thanks.

3. I guess Rating is not applicable to F2F challenges too. Please confirm.

4. In Design challenges' Submission tab, info text is going out of the frame. Please check the screenshot below:

I will

[2019-11-01 02:59] codeMinter commented on #3427
FYI - @nithyaasworld everything except 1 is on beta now. I will flag once we have 1 on beta, tracing what is causing it as we already synced and deployed the latest code now.

[2019-11-01 05:02] nithyaasworld commented on #3427
Ok, I will wait for 1 and test them all together

[2019-11-01 14:43] kkartunov opened #3430 "Implement onScroll animations for Contentful components"
Implement onScroll animations for Contentful components using https://michalsnik.github.io/aos/

In scope:
- viewports
- contentBlocks
- images

[2019-11-02 15:36] hos-lyric opened #3432 "Old profile information is used and cannot be updated"
**Describe the bug**
I cannot update the profile information used in some area of the website, including the photo and the affiliation.

**To Reproduce**
The old photo is used, for example:
- in the leaderboard in https://tco20.topcoder.com/competition-overview/algorithm/leaderboard
- at the top right in https://apps.topcoder.com/forums/

Old affiliation can be seen in Algorithm Java applet.

**Ad

[2019-11-04 04:28] codeMinter commented on #1837
@Oanh-and-only-Oanh we are still fixing backend for this, we will do front-end once we have backend in good shape for use by front-end. Hence, moving this back to `TO DO`

[2019-11-04 05:59] nithyaasworld commented on #3427
@codeMinter is No:1 ready for testing?

[2019-11-04 06:21] codeMinter commented on #3427
@nithyaasworld not yet, we are still sorting the branch conflicts, will update as soon as ready.

[2019-11-04 07:53] nithyaasworld commented on #3422
Avatar and email seem to be not correct. Tried for the user nithyaasworld/appirio123 in Test environment.

Not able to check the Review-Opportunities page in test environment. I will test this on Beta when this fix is moved to beta. Also not able to check the My Profile page as it shows 404 in test env.  There are no other issues observed.

![image](https://user-images.githubusercontent.com/511419

[2019-11-04 09:48] sushilshinde opened #3433 "[$430] Blanket testing task"
Details here

[For tasks from Sushil - Sheet1.pdf](https://github.com/topcoder-platform/community-app/files/3803349/For.tasks.from.Sushil.-.Sheet1.pdf)

[2019-11-04 09:52] crazyk07 commented on #3433
Contest https://www.topcoder.com/challenges/30105715 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-11-04 09:54] crazyk07 commented on #3433
Contest https://www.topcoder.com/challenges/30105715 has been updated - it has been assigned to nithyaasworld.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-11-04 09:58] sushilshinde commented on #3396
Currently, these changes are on avail on beta but deployed on dev

[2019-11-04 11:32] nithyaasworld commented on #3396
@codeMinter On dev, the fix seems to be good, apart from the below issue.

Could you check, please?

Steps to reproduce:
1. Login as dan_developer
2. Click on View More Challenges present under 'My challenges' section
3. Scroll to the end of the screen and notice that all the 49 challenges are displayed
4. Scroll up and disable all the Dev, DS and Design toggle filter
5. Enable only Design filter

[2019-11-04 15:52] Oanh-and-only-Oanh commented on #3336
Reference ticket https://github.com/topcoder-platform/community-app/issues/3422

[2019-11-04 15:59] Oanh-and-only-Oanh commented on #3422
Tested for user: ajefts@topcoder.com/appirio123 in test enviro and didn't see the same avatar and email issue as indicated by @nithyaasworld above. Let's retest in beta.

[2019-11-04 18:57] Oanh-and-only-Oanh commented on #3422
@nithyaasworld, can we do a check to make sure the new navi meets accessibility standards?

[2019-11-06 07:36] #3433 closed

[2019-11-06 07:36] crazyk07 commented on #3433
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30105715<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-11-06 11:59] nithyaasworld commented on #3361
Confirming that this is still an issue

[2019-11-06 12:08] nithyaasworld commented on #3362
Another way to reproduce this issue:
1. Go to https://www.topcoder.com/challenges
2. Choose 'Zurich' in the sub-community filter
3. Click on 'Open for review' in the right panel

![image](https://user-images.githubusercontent.com/5114190/68297132-2c947580-00bc-11ea-8c1b-14f7d9136ed0.png)

[2019-11-06 12:10] nithyaasworld commented on #3222
Confirming that this is still an issue

[2019-11-06 12:21] nithyaasworld commented on #1872
This is still an issue.

This issue is duplicated here: https://github.com/topcoder-platform/community-app/issues/3414 and here: https://github.com/topcoder-platform/community-app/issues/3432

[2019-11-06 12:22] nithyaasworld commented on #3414
This issue will be tracked here: https://github.com/topcoder-platform/community-app/issues/1872

[2019-11-06 12:22] #3414 closed

[2019-11-06 12:23] nithyaasworld commented on #3432
Forum profile image issue is tracked here: https://github.com/topcoder-platform/community-app/issues/1872

For the leaderboard profile image issue, tagging @kkartunov

[2019-11-06 12:34] nithyaasworld opened #3438 "Challenges count are incorrect right after logging in"
1. Open https://www.topcoder.com/challenges in a New Incognito window
2. Notice the Challenge count
3. Login with your user and check the Challenges count in the right panel

Actual:
'My challenges' count is shown as 0 though I have registered on 5 challenges. Only on refreshing, it shows the right counts.

![image](https://user-images.githubusercontent.com/5114190/68298555-b42fb380-00bf-11ea-9cec

[2019-11-06 18:05] nithyaasworld opened #3439 "New Navi: Accessibility issue on the User dropdown"
1. Access the New Navigation bar present in the challenge listing page
2. Open the user dropdown menu and run the WCAG Color Contrast Checker Chrome extension

Actual:
The following 1 accessibility issue is noted.

![image](https://user-images.githubusercontent.com/5114190/68324731-fc65ca80-00ed-11ea-90da-31f0840a3939.png)

[2019-11-06 18:05] nithyaasworld commented on #3439
@Oanh-and-only-Oanh @luizrrodrigues

[2019-11-06 18:11] nithyaasworld commented on #3422
@luizrrodrigues On accessing My Profile -> Preferences tab, it shows 404 error. After that, whenever I access My Profile, it shows 404. Can you please confirm if its a test environment issue?

CC: @Oanh-and-only-Oanh

![image](https://user-images.githubusercontent.com/5114190/68325153-e0165d80-00ee-11ea-89c1-c94b45a0d433.png)

[2019-11-06 18:13] luizrrodrigues commented on #3422
@nithyaasworld This page?
https://test-community-app.topcoder-dev.com/settings/profile

[2019-11-06 18:15] nithyaasworld commented on #3422
Yes, it works if the user has never navigated to Preferences tab of the above URL.

[2019-11-06 18:16] luizrrodrigues commented on #3422
@nithyaasworld Looks like this is an issue with API, check dev site:
https://www.topcoder-dev.com/members/dan_developer

[2019-11-06 18:19] nithyaasworld opened #3440 "New Navi: 'All Challenges' menu not working when user is in Review Opportunities page"
1. Go to Review Opportunities page
2. Click on Compete -> All Challenges and observe

Actual:
Not able to click on 'All challenges' sub menu.

Expected:
User should be able to click on 'All Challenges' and navigate back to Challenge listing page.

![image](https://user-images.githubusercontent.com/5114190/68325758-10aac700-00f0-11ea-80f2-de83e9f372be.png)

[2019-11-06 18:20] nithyaasworld commented on #3440
CC: @Oanh-and-only-Oanh and @luizrrodrigues

[2019-11-06 19:06] Oanh-and-only-Oanh commented on #3439
change to #137D60  and keep the white text

[2019-11-07 07:56] codeMinter commented on #3396
@nithyaasworld @sushilshinde is helping push this to DEV, are you around and can help re-test this ?

[2019-11-07 13:18] nithyaasworld opened #3444 "New Navi: Need to click on Compete twice in order to see the sub menus"
1. Go to https://beta-community-app.topcoder.com/community/competitive-programming (without loging in)
2. Click on Community and then on Compete

Actual:
Observe that no sub-menus are displayed. User needs to click again on 'Compete' to see the Submenus.

Expected:
It should display the submenus on the first click itself.

![image](https://user-images.githubusercontent.com/5114190/68392097-068bd58

[2019-11-07 13:22] nithyaasworld commented on #3444
CC: @luizrrodrigues @Oanh-and-only-Oanh

[2019-11-07 13:35] lakshmiathreya commented on #3336
@nithyaasworld for your reference ...

[2019-11-07 15:28] nithyaasworld opened #3445 "Default profile image is not loaded if there is no profile pic set for the user"
Check the new navbar after logging in with a user that has no image set up in the profile

Actual:
Default image is not loaded.

![image](https://user-images.githubusercontent.com/5114190/68402772-dbf74800-01a1-11ea-9284-31117d930f52.png)

[2019-11-07 15:29] nithyaasworld commented on #3445
cc: @Oanh-and-only-Oanh

[2019-11-07 15:39] nithyaasworld opened #3446 "Regarding Business Links"
Business in the Navbar takes the user to www.topcoder.com
Whereas 'Switch to Business' in the User menu takes the user to connect.topcoder.com

Please confirm if this is okay or should we redirect both the Business links to Topcoder Connect.

![image](https://user-images.githubusercontent.com/5114190/68403311-bfa7db00-01a2-11ea-9f83-5aeee6957030.png)

[2019-11-07 15:39] nithyaasworld commented on #3446
@Oanh-and-only-Oanh

[2019-11-07 15:40] nithyaasworld commented on #3446
cc: @lakshmiathreya

[2019-11-07 15:56] nithyaasworld opened #3447 "Business Link should not be available for a community member"
1. Login as a community member
2. Check the New Navbar

Actual:
New Navbar still has the Business Menu for the community member. However, Business menu is removed from the User dropdown menu.

Expected:
Business links should not be available for community member as per Scenario No:3 of #3336

![image](https://user-images.githubusercontent.com/5114190/68404826-1e6e5400-01a5-11ea-91b6-eee07f9e6f08.p

[2019-11-07 15:56] nithyaasworld commented on #3447
cc: @Oanh-and-only-Oanh @lakshmiathreya

[2019-11-07 16:29] nithyaasworld opened #3448 "'Switch to Business' link is not available for Customer user"
1. Go to connect.topcoder.com and create a customer user ( I created this user: PleaseIgnore pw: Jackle123$ )
2. Then go to community challenge listing page
3. Check the User dropdown menu

Actual:
Though this user is a customer user, User dropdown doesn't have 'Switch to Business' Option.

![image](https://user-images.githubusercontent.com/5114190/68407589-d43ba180-01a9-11ea-9f88-001bdd6f06a2.png

[2019-11-07 16:30] nithyaasworld commented on #3448
cc: @Oanh-and-only-Oanh @lakshmiathreya

[2019-11-07 16:37] nithyaasworld opened #3449 "Customer (Business) user has access to 'Community'"
1. Create a customer user in connect.topcoder.com
2. Go to www.topcoder.com and login as customer user
3. Check the New Navbar

Actual:
New Navbar shows Community menu for a customer user.

Expected:
As per #3336 , Community menu should be hidden for a Business user.

![image](https://user-images.githubusercontent.com/5114190/68408049-9e4aed00-01aa-11ea-9dfa-c5362c1cf295.png)

![image](https://use

[2019-11-07 16:37] nithyaasworld commented on #3449
cc: @Oanh-and-only-Oanh @lakshmiathreya

[2019-11-07 16:51] nithyaasworld commented on #3449
@Oanh-and-only-Oanh Please confirm if this is okay

[2019-11-07 17:16] Oanh-and-only-Oanh commented on #3446
@luizrrodrigues @nithyaasworld, please change the BUSINESS in the dropdown menu to navigation to www.topcoder.com

[2019-11-07 17:19] Oanh-and-only-Oanh commented on #3447
@nithyaasworld, this has been changed so that Business link in top navi is available to ALL users now. You can close this ticket.

[2019-11-07 17:21] Oanh-and-only-Oanh commented on #3448
@luizrrodrigues, NIthya is correct. All topcoder admin and copilots and customers (use have a Connect account) should have the BUSINESS link in the user dropdown. It will take them to COnnect.

[2019-11-07 17:24] Oanh-and-only-Oanh commented on #3449
@nithyaasworld, Top level BUSINESS/Community toggle will remain visible for ALL users (community and customers) in logged in and Logged out states. You can close this ticket.

[2019-11-07 18:30] #3447 closed

[2019-11-07 18:37] #3449 closed

[2019-11-07 18:43] nithyaasworld commented on #3446
This will be re-opened when necessary.

CC: @Oanh-and-only-Oanh

[2019-11-07 18:43] #3446 closed

[2019-11-07 18:51] nithyaasworld opened #3450 "MM Leaderboard: 'Submission in Queue' symbol is not shown"
MM Leaderboard: 'Submission in Queue' symbol is not shown

![image](https://user-images.githubusercontent.com/5114190/68418169-bed07280-01bd-11ea-9185-06a734d8b8a8.png)

[2019-11-07 18:52] nithyaasworld commented on #3450
Screenshot of Production environment before the recent deployment:

![image](https://user-images.githubusercontent.com/5114190/68418239-e293b880-01bd-11ea-8c18-a2230d6c7f79.png)

[2019-11-07 18:53] nithyaasworld commented on #3450
CC: @dushyantb @cwdcwd @sushilshinde

[2019-11-07 18:55] nithyaasworld commented on #3450
Also wondering why these submissions are in Queue for a long time (more than 10 days)

[2019-11-07 19:04] nithyaasworld opened #3451 "Topcoder home page video is played out of user's view port"
1. Go to www.topcoder.com
2. Play the video present

Actual:
Half of the video layout is outside user's view

![image](https://user-images.githubusercontent.com/5114190/68419673-b88fc580-01c0-11ea-9814-76244cfaa8ae.png)

![image](https://user-images.githubusercontent.com/5114190/68419686-bd547980-01c0-11ea-977a-bca1bec1c527.png)

[2019-11-07 19:05] nithyaasworld commented on #3451
cc: @Oanh-and-only-Oanh @kkartunov  @sushilshinde

[2019-11-07 19:15] nithyaasworld commented on #3451
I am not able to reproduce this issue in an incognito window.

Closing this.

[2019-11-07 19:15] #3451 closed

[2019-11-08 00:48] luizrrodrigues commented on #3448
@nithyaasworld @Oanh-and-only-Oanh

I think this is a API bug, I just check the data receive from APi and in roles have just **Topcoder User**

![image](https://user-images.githubusercontent.com/7029641/68439948-3eebdd80-01a8-11ea-8d2d-64b3af64460f.png)

[2019-11-08 01:17] luizrrodrigues commented on #3445
@nithyaasworld Can you share the user/pass used to test?

Thanks.

[2019-11-08 08:32] codeMinter commented on #3351
@nithyaasworld this is on test and beta, please help test.

[2019-11-08 08:32] codeMinter commented on #3427
@nithyaasworld this is on test and beta, please help test.

[2019-11-08 12:48] nithyaasworld commented on #3445
Ah! This is no more an issue!! I tested for my old users as well as tested by creating a new user. I am not able to reproduce this.

I am closing this. If it gets reproduced, let's re-open.

![image](https://user-images.githubusercontent.com/5114190/68477683-10c3d780-0254-11ea-83f2-ebb1282c3f73.png)

[2019-11-08 14:19] nithyaasworld opened #3453 "Some of the Marathon matches are not opening"
1. Go to www.topcoder.com (do not log in)
2. Check all the MM Challenges

Actual:
Some of them are not loading.

This happened a long time back and this issue is returned again.

![image](https://user-images.githubusercontent.com/5114190/68483061-d6146c00-0260-11ea-9175-49c8f3cea2ad.png)

[2019-11-08 14:20] nithyaasworld commented on #3453
cc: @dushyantb @cwdcwd @Oanh-and-only-Oanh @lakshmiathreya

[2019-11-08 15:02] nithyaasworld opened #3454 "Clicking on other submenus reloads the new nav bar in collapsed state"
1. Go to challenge listing page
2. Click on Tracks -> Competitive Programming
3. Check the new navbar

Actual:
1. The NewNav bar is reloaded and menus are collapsed too
2. Competitive Programming is not underlined with green bar (indicating this is the currently selected item)

Expected:
1. New Navbar should not be reloaded.
2. Currently displayed menu should be highlighted

[nav bar reloading.zip

[2019-11-08 15:29] nithyaasworld commented on #3445
@luizrrodrigues This is reproducible for the user: **PleaseIgnore** pw: **Jackle123$**

![image](https://user-images.githubusercontent.com/5114190/68488255-ab2f1580-026a-11ea-83f5-aa83f66863e9.png)

[2019-11-09 03:43] luizrrodrigues commented on #3445
@nithyaasworld @Oanh-and-only-Oanh
I found the issue and able to fix, but in existing new nav the placeholder avatar looks not right.

Check:
![image](https://user-images.githubusercontent.com/7029641/68522422-eb51c080-0289-11ea-8757-e57e28ab3877.png)

We need to use placeholder avatar from old nav?

[2019-11-09 03:47] luizrrodrigues commented on #3454
@nithyaasworld I think this was a old request:
- When page have your own navigation, we need to hide submenu (@Oanh-and-only-Oanh Please confirm that)

About reloading menu, this is a valid issue.

[2019-11-09 09:22] luizrrodrigues commented on #3444
@nithyaasworld I think this was a old request:

When page have your own navigation, we need to hide submenu (@Oanh-and-only-Oanh Please confirm that)

[2019-11-13 04:49] nithyaasworld opened #3455 "When URL of 'past challenges and search combination filter' is accessed directly, its not working"
1. In the challenge listing page, click on 'Past Challenges'
2. Then in the Search text filter, enter 'Framework'
3. Observe that it starts to load the matching results
4. Copy the URL of the current page and try to access this URL directly
5. Observe that it's not loading the results when the URL is accessed directly.

Try this URL in a new incognito window: https://www.topcoder.com/challenges?fi

[2019-11-13 04:56] nithyaasworld commented on #3455
CC: @lakshmiathreya

[2019-11-15 08:43] rashmi73 commented on #2359
@sushilshinde any updates on this?

[2019-11-15 08:44] rashmi73 commented on #2696
@sushilshinde can we close this now? PR for this issue was merged with I explaining a long discussion.
@nithyaasworld

[2019-11-15 21:21] kkartunov commented on #3430
In prod.

[2019-11-15 21:21] #3430 closed

[2019-11-18 08:23] nithyaasworld commented on #1564
Let's also add **Flutter** and **Dart** to the Skill List. Currently, we have classified [this Flutter challenge ](https://www.topcoder.com/challenges/30105970?tab=details) with incorrect skills due to unavailability of appropriate skills.

CC: @Oanh-and-only-Oanh @codeMinter

[2019-11-18 09:06] codeMinter commented on #3351
@nithyaasworld this is on beta, please help test.

[2019-11-18 09:06] codeMinter commented on #3427
@nithyaasworld this is on beta, please help test.

[2019-11-18 12:22] nithyaasworld opened #3456 "TaaS See-More Link is displayed on the TaaS page too"
TaaS See-More Link is displayed on the TaaS page too

![image](https://user-images.githubusercontent.com/5114190/69052077-0fe92d80-0a2c-11ea-873a-fe823d4d84e6.png)

[2019-11-18 12:24] nithyaasworld commented on #3456
Assigning this with P1 as it's on Marketing site.

cc: @kkartunov @Oanh-and-only-Oanh @sushilshinde

[2019-11-18 12:28] nithyaasworld opened #3457 "TaaS Page: One of the member's profile link is broken"
TaaS Page: Codejam's profile link is broken

![image](https://user-images.githubusercontent.com/5114190/69052425-00b6af80-0a2d-11ea-9391-026efe8225e3.png)

[2019-11-18 12:29] nithyaasworld commented on #3457
cc: @kkartunov @Oanh-and-only-Oanh @sushilshinde

[2019-11-18 13:27] nithyaasworld commented on #1564
cc: @crazyk07

[2019-11-18 16:00] nithyaasworld commented on #3427
@codeMinter Registration sorting seems to be not correct. Please check the challenge: https://beta-community-app.topcoder.com/challenges/30106903?tab=registrants

![image](https://user-images.githubusercontent.com/5114190/69066759-e76f2c80-0a47-11ea-86e7-82f9bbd14bcf.png)

![image](https://user-images.githubusercontent.com/5114190/69067085-7e3be900-0a48-11ea-87b3-a859e17c2cc5.png)

[2019-11-18 16:38] codeMinter commented on #3427
@nithyaasworld doesn't look like you applied sorting - once you apply sorting you should see color of arrows as blue highlighted which I don't see in your shared snapshot above.

[2019-11-18 16:41] nithyaasworld commented on #3427
You are right! I just updated my above comment with more details. Please check.

[2019-11-18 16:41] codeMinter commented on #3427
@nithyaasworld yes, just saw, will make it default sorted as per PROD. Thanks

[2019-11-18 18:03] Oanh-and-only-Oanh commented on #3351
@codeMinter @nithyaasworld, the sorting for username works in beta. question I have is if username starts with a number or special character, how does it sort?
See below.
![image](https://user-images.githubusercontent.com/47536078/69077533-ae549f00-09ea-11ea-88e6-87dd9452e18c.png)

[2019-11-18 18:08] Oanh-and-only-Oanh commented on #3456
@nithyaasworld, please close this ticket for now as it is on Marketing side. any marketing side tickets you can mark Trevor and Quest. You can get ping them on slack to get their github access

[2019-11-18 18:09] Oanh-and-only-Oanh commented on #3457
@nithyaasworld, please close marketing tickets. Thank you.

[2019-11-18 20:44] Oanh-and-only-Oanh commented on #3454
@nithyaasworld @luizrrodrigues, the menu should not be reloading.

[2019-11-18 20:47] Oanh-and-only-Oanh commented on #3448
@luizrrodrigues @nithyaasworld, since it's an API, let's just have the "Switch to Business" go to www.topcoder.com and apply it to ALL users.

[2019-11-18 20:49] Oanh-and-only-Oanh commented on #3445
@luizrrodrigues, let's make it so in the case there is no profile picture, let's use a default avatar.

[2019-11-18 20:55] luizrrodrigues commented on #3445
@Oanh-and-only-Oanh Like this right:

![](https://user-images.githubusercontent.com/7029641/68522422-eb51c080-0289-11ea-8757-e57e28ab3877.png)

[2019-11-18 21:01] Oanh-and-only-Oanh commented on #3444
@luizrrodrigues, the 3rd level navi that shows "upcoming matches, matchlist, etc", please remove that level. We will move that under Track>>Competitive Programming>>submenus

[2019-11-18 21:02] Oanh-and-only-Oanh commented on #3445
correct. @luizrrodrigues

[2019-11-19 04:26] #3456 closed

[2019-11-19 04:26] #3457 closed

[2019-11-19 08:12] codeMinter commented on #3351
@Oanh-and-only-Oanh it is `alpha` sort as discussed earlier. If I am not wrong alpha sort, works on ASCII code.

[2019-11-19 08:13] codeMinter commented on #3427
@Oanh-and-only-Oanh @nithyaasworld Since Design and F2F wouldn't have Rating, I have swapped default sort to be by `Registration Date` like we have currently in PROD.

[2019-11-19 08:57] nithyaasworld commented on #3427
I think we need to remove the Rating column for Bug Hunt too as its not a rated competition.

Apart from this and the default registration sorting issue, there are no other issues.

![image](https://user-images.githubusercontent.com/5114190/69131607-abd07300-0ad8-11ea-9f63-f6a3cca6a4d0.png)

[2019-11-19 09:37] rashmi73 commented on #2696
@sushilshinde waiting for this.

@nithyaasworld request you to help me by notifying sushilshinde to comment on this issue. thanks

[2019-11-19 09:41] nithyaasworld commented on #2696
@rashmi73 can you please share me the PR link?

As per my last testing results, we had some[ issue](https://github.com/topcoder-platform/community-app/issues/2696#issuecomment-531265886)

[2019-11-19 10:17] rashmi73 commented on #2696
@nithyaasworld here is PR link https://github.com/topcoder-platform/community-app/pull/2718

which was merged and working fine on that respective branch, after that I guess branch was merged to some other branch and finally to production

[2019-11-19 10:35] codeMinter commented on #3427
@nithyaasworld ☝️  has been addressed too.  Kindly test on beta once you are ready.

@Oanh-and-only-Oanh @nithyaasworld FYI, note below change:
1. Registrations sorting now happens on Registration Date.
2. Submissions sorting now happens on Submitted Date. For MM, it is based on Provisional and Final score.

So this way we will have default sorting in sync for all kind of challenges.

[2019-11-19 17:59] Oanh-and-only-Oanh commented on #3427
@codeMinter, was only able to replicate the issue @nithyaasworld mentioned above using incognito mode.

[2019-11-19 18:40] rashmi73 commented on #2696
@nithyaasworld any updates on above?

@sushilshinde

[2019-11-19 18:45] Oanh-and-only-Oanh commented on #3420
This is a data loader issue; the sync of data from informix.

[2019-11-19 18:57] Oanh-and-only-Oanh commented on #1564
@urwithat, please add the tags mentioned above in an RDS db in AWS. Thanks.

[2019-11-19 19:06] Oanh-and-only-Oanh commented on #1564
@urwithat, just add these to Skills
Manual Testing
Automation Testing
Mobile Testing
Functional Testing
API Testing
Performance Testing
Load Testing
Usability Testing
Compatibility Testing
Security Testing
Flutter Testing
Dart Testing

[2019-11-19 20:23] urwithat commented on #1564
Added the above skills on dev environment

[2019-11-19 20:38] Oanh-and-only-Oanh commented on #1564
@urwithat, thank you. I see it in Dev. Can you also add Accessibility Testing?

[2019-11-19 21:40] crazyk07 commented on #1564
awesome.  @Oanh-and-only-Oanh  Will we be adding the tooling as well?

[2019-11-19 21:45] Oanh-and-only-Oanh commented on #1564
@crazyk07, so under Tools settings, we have "Devices, Software, Service Providers, and Subscriptions". How would you like these QA tools to be shown?

[2019-11-19 21:48] nithyaasworld commented on #1564
I think we can add those tools also into the Skills list, which would imply that the person is skilled in that 'Tool'

@urwithat A small update: Instead of 'Flutter Testing' and 'Dart Testing', We just need 'Flutter' and 'Dart'

Thanks.

[2019-11-19 21:59] nithyaasworld commented on #1564
@Oanh-and-only-Oanh @urwithat The ticket description also has https://github.com/topcoder-platform/community-app/files/2407974/Logos.zip which has all the logos for those skills. Hope we have added that as well!

[2019-11-19 22:10] mtwomey commented on #3369
@cwdcwd @RishiRajSahu I'm waiting on one of you (both of you?) not sure. I need to know from your ends when this is "fixed" (if that's the right word) in the dataloaders or ES or whatnot so we can switch Community-app over.

[2019-11-19 22:48] codeMinter commented on #3427
@Oanh-and-only-Oanh have pushed in fix, @nithyaasworld is helping test this once more. I did some code formatting for previous issue which caused this issue. It worked for you bcos of browser cache. Let @nithyaasworld confirm and will work with @sushilshinde in morning to get this merged and pushed for smoke testing after which we can move this to PROD tomm likely 🤞

[2019-11-20 04:55] lakshmiathreya commented on #3421
@Oanh-and-only-Oanh @urwithat  is this fixed in Dev? https://www.topcoder-dev.com/members/ananthhh to be verified?

[2019-11-20 07:45] sushilshinde opened #3459 "[$50]Comment out blog component and calls"
1. Search for `api/proxy-get?url` in the community app repo
2. Comment out related components and calls in the app

It is P0, take it if you can submit in 4 hours or I will revoke the issue.

Use https://github.com/topcoder-platform/community-app/tree/hot-fix for PR

@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-11-20 07:45] crazyk07 commented on #3459
Contest https://www.topcoder-dev.com/challenges/30107318 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-11-20 07:48] crazyk07 commented on #3459
Contest https://www.topcoder.com/challenges/30107320 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-11-20 07:49] crazyk07 commented on #3459
Contest https://www.topcoder.com/challenges/30107320 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-11-20 07:59] crazyk07 commented on #3459
Contest https://www.topcoder.com/challenges/30107320 has been updated - it has been assigned to anonymousjaggu.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-11-20 08:15] nithyaasworld commented on #3427
@codeMinter
Issue:1-> For the below challenge, Provisional ranks 74, 75 are displayed at the last
![image](https://user-images.githubusercontent.com/5114190/69220738-ac7e0d80-0b9b-11ea-85a6-76b02650ad9c.png)

Issue:2-> I am really not sure what does -1 imply in the final score. But when it's available, sorting is not done correctly.
![image](https://user-images.githubusercontent.com/5114190/692208

[2019-11-20 08:34] rashmi73 commented on #2696
@nithyaasworld request you once again to please notify @sushilshinde via slack to please comment here.

[2019-11-20 08:43] codeMinter commented on #3427
@nithyaasworld
1. We are doing sorting by Provisional Score, so Rank is ignored. For such cases, we might have to build backup formatting, which would be too much.

2. It should not show -1, as per my knowledge, we decided to show the icon with cross and not -1

3. This is weird issue, as it works fine on Safari. Checking for chrome, why not working.

[2019-11-20 09:06] nithyaasworld commented on #3427
Ok, For:1 -> It is when sorted by default. That is, it happens when I access the [URL](https://beta-community-app.topcoder.com/challenges/30103825?tab=submissions) directly

[2019-11-20 09:19] kkartunov opened #3460 "Implement graceful error handling for Looker blocks"
Such errors happen occasionally for `<Looker>` components in Contentful.
![Screen Shot 2019-11-19 at 11 38 08 AM](https://user-images.githubusercontent.com/5585002/69225406-03c5b300-0b87-11ea-8c19-42c1b55c476b.png)

**Task**: Implement graceful error handling for Looker blocks.
**Source**: https://github.com/topcoder-platform/community-app/blob/develop/src/shared/containers/Looker.jsx
**Testing**:

[2019-11-20 09:32] kkartunov opened #3461 "Automatically create THRIVE articles when new TC blogs are released"
Implement and integrate a script in community-app that monitors https://www.topcoder.com/feed/ for changes and if new blog posts published creates the corresponding article as a draft in Contheful THRIVE space.

Fields mapping:
- title -> title
- pudDate -> use it for creation date
- category - an array of cats. Will use to create tags for the article
- creator - Author person name.
- description

[2019-11-20 09:33] crazyk07 commented on #3459
Contest https://www.topcoder.com/challenges/30107320 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-11-20 09:34] codeMinter commented on #3427
yes 1 is `Provisional score` by default, if Review of challenge hasn't completed. we can swap to do it as `Provisional Rank` by default.

[2019-11-20 10:35] codeMinter commented on #3427
@nithyaasworld to fix the above add-on issues, following has been done:
1. Default sorting has been moved to Provisional  (when Review not complete) and Final Rank (when review complete)

2. All -1 final scores have been fixed to be 0, as min final score can be 0.

3. Sorting issues fixed.

[2019-11-20 10:40] nithyaasworld commented on #3427
For 1: It is already like you have stated.. right?

Ok, Please let me know when it's available in beta for test. I will test this.

[2019-11-20 12:34] nithyaasworld commented on #3427
Thanks @codeMinter This is verified.

[2019-11-20 13:39] rashmi73 commented on #3459
@sushilshinde it is completed and raising MR, kindly provide feedback because I have removed routes because all component of container uses the above mentioned api call. if something else is requirement kindly provide feedback i will change it immediately.

[2019-11-20 14:31] rashmi73 commented on #3459
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/3462

[2019-11-20 17:05] #1442 closed

[2019-11-20 17:05] #1872 closed

[2019-11-20 17:05] #2045 closed

[2019-11-20 17:05] #2225 closed

[2019-11-20 17:05] #2428 closed

[2019-11-20 17:07] #3330 closed

[2019-11-20 17:07] #3375 closed

[2019-11-20 17:07] #3388 closed

[2019-11-20 17:07] #3393 closed

[2019-11-20 19:03] Oanh-and-only-Oanh commented on #3421
@lakshmiathreya, yes it needs to be verified.

[2019-11-20 21:53] cwdcwd commented on #3459
after reviewing at the code, fails to actually address the security issue which is [this](https://github.com/topcoder-platform/community-app/blob/develop/src/server/index.js#L122).

the community app allows for unfettered internal access by proxying calls through the application
this is a pretty ridiculous thing to do and I’m not sure why this was ever introduced, tbh, but the code issue is not th

[2019-11-21 11:36] nithyaasworld commented on #3140
Now the issue also occurs when trying to save Work entries for my account.

cc: @Oanh-and-only-Oanh

![image](https://user-images.githubusercontent.com/5114190/69334663-3f44a800-0c81-11ea-8a11-2e0f189d835a.png)

[2019-11-21 11:42] nithyaasworld commented on #3122
Confirming that this issue still exists.

Video:
[incorrect count.zip](https://github.com/topcoder-platform/community-app/files/3874466/incorrect.count.zip)

[2019-11-21 11:47] nithyaasworld commented on #3278
Confirming that this is still an issue.

cc: @sushilshinde

[2019-11-21 12:25] nithyaasworld commented on #3421
@Oanh-and-only-Oanh @lakshmiathreya Member Profile page in Dev environment is not loading. It gets loaded for a second and then displays a blank white screen. Please check: https://www.topcoder-dev.com/members/tonyj

[2019-11-21 15:14] luizrrodrigues commented on #3445
@Oanh-and-only-Oanh I have fixed issue with SVG files, going to update all SVG files from new nav and I'll push shortly.

[2019-11-21 15:51] RishiRajSahu commented on #3420
@Oanh-and-only-Oanh
**Update 1 -**

- The member since shown on profile page is showing correct value, its in sync with the data we have in OLTP
- Actually the loader which loads data to dynamo is reading this value directly from OLTP instead of DW
- https://github.com/appirio-tech/ap-supply-etl/blob/dev/member-profile/src/main/resources/member-profile-query.sql#L20
- We can close this Git issue

[2019-11-21 17:06] Oanh-and-only-Oanh commented on #1564
@nithyaasworld, can you confirm all the skills are in dev? We will release the skills list to PROD if that checks out. Please create a separate ticket for the logos and assign @urwithat. thanks.

[2019-11-21 17:06] ajefts commented on #1997
fyi, I'm also seeing trouble when downloading what appear to be xml files.  This is the challenge I just tried:  https://www.topcoder.com/challenges/30106992

[2019-11-21 17:10] Oanh-and-only-Oanh commented on #3420
Closing this issue

[2019-11-21 17:10] #3420 closed

[2019-11-21 17:15] Oanh-and-only-Oanh commented on #3459
Disabling the search UI on PROD in the meantime. @sushilshinde

[2019-11-21 17:25] rashmi73 commented on #3459
@cwdcwd @sushilshinde I am confused as what exactly is remaining now?

1. Do I need to completely comment out the code at https://github.com/topcoder-platform/community-app/blob/63d2907a70af9304d533fa23ee99cd213af3ac7a/src/server/index.js#L163

2. or just I need to remove "checkAuthorizationHeader" argument at https://github.com/topcoder-platform/community-app/blob/63d2907a70af9304d533fa23ee99cd21

[2019-11-21 17:29] Oanh-and-only-Oanh commented on #3421
@nithyaasworld @lakshmiathreya , the profiles page in Dev is working again. Can you proceed with verification?

[2019-11-21 17:49] Oanh-and-only-Oanh commented on #1564
@urwithat @nithyaasworld, verified on DEV that all skills and tools are listed.

[2019-11-21 17:52] Oanh-and-only-Oanh commented on #1564
@urwithat, Which skills are not showing up in PROD?

[2019-11-21 17:55] ajefts opened #3465 "[$30] Add Handle to member ratings page"
Let's click [link of my SRM rating graph](https://www.topcoder.com/members/square1001/details/?track=DATA_SCIENCE&subTrack=SRM) - you'll see, that the handle name "square1001" is nowhere in this page.

It's confusing whose rating graph it is, and the current only way to see is to see the link of the page. We need to add the member handle to this page.

<p></p>

[2019-11-21 17:55] ajefts commented on #3465
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3141275

[2019-11-21 18:04] Oanh-and-only-Oanh commented on #3459
@rashmi73, this issue and ticket are no longer relevant. Thank you for your work on this. Closing out the ticket and will process your payment. :)

[2019-11-21 19:01] rashmi73 commented on #2696
@ThomasKranitsas even you used to take followup this ticket, hence requesting you too to take some action it or atleast notify @sushilshinde , to close it.
@jmgasper

[2019-11-21 20:39] luizrrodrigues commented on #3444
This one was fixed, submenu always will show.

https://github.com/topcoder-platform/community-app/pull/3466

[2019-11-22 02:06] urwithat commented on #1564
- Skills & Tools added to Development environment.
- Skills & Tools added to Production environment, due to caching unable to see the skills as yet. Trying to figure it out.
- Need to add the logos to community-app, will kick start a challenge for this.

[2019-11-22 03:26] Oanh-and-only-Oanh opened #3467 "Disable/hide broke "Search member and skill" UI on PROD"
While @urwithat and @codeMinter are working on resolving the search member bug, we will disable and hide this feature on PROD.

[2019-11-22 03:27] #3467 closed

[2019-11-22 08:03] dushyantb opened #3469 "Submission Tab for MM are not filtering scores from Virus Scan and showing `100` score"
<img width="1268" alt="Screenshot 2019-11-22 at 9 46 38 AM" src="https://user-images.githubusercontent.com/1861713/69408302-918ed300-0d2c-11ea-9b3d-87a169799a90.png">
Steps To Reproduce:
- On any Marathon Match type challenge, submit the submission
- Virus Scan should generate review with score `100` for the submission

Expected Result: Score from Virus Scan review must be filtered out and `100` s

[2019-11-22 08:23] dushyantb opened #3470 "Submission tab for MM - Submission row is not showing `0` score while submission history is showing"
<img width="1097" alt="Screenshot 2019-11-22 at 1 34 27 PM" src="https://user-images.githubusercontent.com/1861713/69408524-22fe4500-0d2d-11ea-8083-bdafa2cfb7d8.png">
Steps To Reproduce:
- On any Marathon Match type challenge, submit the submission
- Create the review with score `0`

Expected Result: `0` score should be visible on the submission row as well

[2019-11-22 08:42] rashmi73 commented on #3459
@sushilshinde no paid label on it?

[2019-11-22 08:47] rashmi73 commented on #3459
@Oanh-and-only-Oanh @sushilshinde payments are not reflecting in pacts yet, can you please confirm once again? thanks

[2019-11-22 09:38] sushilshinde commented on #3459
Commented endpoint as well

https://github.com/topcoder-platform/community-app/commit/23392a2b5397d6882c5a19d234c054cfd6a52d8c

and now
https://<domain>/community-app-assets/api/proxy-get?url=https%3A%2F%2Fwww.topcoder.com%2Fblog%2Ffeed%2F

should not work

[2019-11-22 09:41] rashmi73 commented on #3459
@sushilshinde can we please complete the payment process nowitself? rather delaying it if everything is completed thank you

[2019-11-22 09:44] sushilshinde commented on #3459
@rashmi73 let me know if payment processed EOD today

[2019-11-22 09:49] rashmi73 commented on #3459
@sushilshinde thanks, but can we please also take a look at https://github.com/topcoder-platform/community-app/issues/2696, because PR was merged in the code and working well

[2019-11-22 10:09] #2696 closed

[2019-11-22 10:13] rashmi73 commented on #2696
@sushilshinde thanks, will check payment for this ticket too by EOD today

[2019-11-22 12:50] nithyaasworld commented on #3140
@cagdas001 Can you please check your Skill's Add/Delete function and Work's Add/Delete function?

My Skill's Add/Delete function is working today but I still have issues with Work's Add/Delete function.

[2019-11-22 13:49] nithyaasworld commented on #3351
Verified in Production.

Note: "countryname/flag" is out of scope for now. A new ticket has to be logged if we need them.

[2019-11-22 13:49] #3351 closed

[2019-11-22 13:52] nithyaasworld commented on #3427
Verified in Production.

Note: "country name/flag" is out of scope for now. A new ticket has to be logged if we need them.

[2019-11-22 13:52] #3427 closed

[2019-11-23 07:08] sushilshinde commented on #3469
Use https://github.com/topcoder-platform/community-app/tree/hot-fix for PR

@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-11-23 07:21] codeMinter commented on #3469
@dushyantb can you share submission which generates 100 score. I tried submitting few dummy here but got -1 always. https://www.topcoder.com/challenges/30092303?tab=submissions

[2019-11-23 19:07] rashmi73 commented on #3459
@sushilshinde payment is not reflected in pacts yet. can you please confirm once again thanks

[2019-11-23 19:07] rashmi73 commented on #2696
@sushilshinde payment is not reflected in pacts yet. can you please confirm once again thanks

[2019-11-23 19:27] codeMinter commented on #3469
ignore - I see the issue via code, looking into it why it wouldn't do as expected.

[2019-11-25 00:18] lakshmiathreya commented on #3421
@Oanh-and-only-Oanh Profiles page still not loading. Working with @sushilshinde @urwithat to resolve it before we proceed for verification. cc @nithyaasworld

[2019-11-25 09:29] sushilshinde commented on #3459
@rashmi73 payment is not reflected in both the tickets?

if that is the case please open a ticket with support

[2019-11-25 09:46] rashmi73 commented on #3459
@sushilshinde yes payment is not reflected for both tickets, mailing to support with url of both issues

[2019-11-25 18:10] Oanh-and-only-Oanh opened #3472 "Add QA tools logo to QA skills"
s profile settings page.

Tools [Free]
Selenium
JMeter
Jenkins
SoapUI
Appium
Espresso
Robotium
Cucumber
JIRA
Bugzilla
Postman
REST Assured
TestLink
Cypress
Robot Framework
Sahi
RedwoodHQ
Galen
Gauge

Tools [Paid]
HP Unified Functional Testing (UFT)
HP Quality Center (HP QC)
HP LoadRunner

I have also attached the logos of the above tools

Logos.zip

[2019-11-25 18:21] urwithat commented on #1564
@sushilshinde - have identified the following changes in community-app
1. Community-app is using tags url which is wrong currently: https://api.topcoder.com/v3/tags/?domain=SKILLS&status=APPROVED, need to change to https://api.topcoder-dev.com/v3/tags/?filter=domain%3DSKILLS%26status%3DAPPROVED&limit=1000
2. Images in zip file need to be added to S3 bucket and mapped to the skills

[2019-11-25 18:24] Oanh-and-only-Oanh commented on #1564
@sushil, The one used currently only returns 400 skills, and we have around 533, so 133 skills will all be missing

[2019-11-26 09:45] urwithat commented on #1837
The Member micro service layer has been fixed and deployed on dev, kindly test. No need to make any front end modifications.

[2019-11-26 09:51] urwithat commented on #3421
Fixed and deployed on dev environment

[2019-11-26 12:25] rashmi73 commented on #3459
@sushilshinde I received a mail from support which is guiding you to go to these both links:
https://www.topcoder.com/direct/contest/detail.action?projectId=30094926

https://www.topcoder.com/direct/contest/detail.action?projectId=30107320

and assign me (rashmi73) for payment, because there are multiple people on above challenge hence need to select correct person.

[2019-11-26 14:26] urwithat opened #3474 "[$50]Missing skills on user interface - wrong tags filter used and addition of limit"
**Describe the bug**
Community-app is using tags url which is wrong currently: https://api.topcoder.com/v3/tags/?domain=SKILLS&status=APPROVED

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/profile#skills'
2. Open developer console network tab

**Expected behavior**
Need to change to https://api.topcoder-dev.com/v3/tags/?filter=domain%3DSKILLS%26stat

[2019-11-26 14:30] cagdas001 commented on #3140
@nithyaasworld Just checked, both work fine. (including Edit functionality of Works)

[2019-11-26 14:53] Oanh-and-only-Oanh commented on #3140
@nithya @lakshmiathreya , can you confirm on your ends and close out ticket if we can?

[2019-11-26 14:59] Oanh-and-only-Oanh commented on #2376
@RishiRajSahu, can you help with this?

[2019-11-26 15:13] sushilshinde commented on #3459
@rashmi73 @RiteshTC I will create a separate payment ticket.

I will remove payment information from these two tickets.

[2019-11-26 16:23] nithyaasworld commented on #3140
Unfortunately, Work and Email preferences are still an issue for my account.

[2019-11-26 16:46] cagdas001 commented on #3140
I had not checked the Email preferences/subscriptions before (had checked just Skills&Works), now I checked it too. It's also working fine on my end. (production environment - cagdas001 account)

Are you still getting a similar response from API? Or a different one this time?

[2019-11-26 16:52] nithyaasworld commented on #3140
Yeah, getting the same error response as before:

![image](https://user-images.githubusercontent.com/5114190/69654732-49a8dc80-109b-11ea-9f3e-820fa98a6898.png)

[2019-11-26 16:55] nithyaasworld commented on #3140
and This is the error I am getting when trying to add a new Work Experience.

![image](https://user-images.githubusercontent.com/5114190/69654932-9db3c100-109b-11ea-953a-b1dcd15775d9.png)

[2019-11-26 18:07] Rokit12 commented on #1997
![Screenshot from 2019-11-26 21-09-43](https://user-images.githubusercontent.com/37167721/69660152-bd91b780-1090-11ea-905f-95a85965e307.png)
Hello, this is the error i am getting when i click the download section

[2019-11-26 18:09] Rokit12 commented on #1997
![Screenshot from 2019-11-26 21-11-36](https://user-images.githubusercontent.com/37167721/69660280-0184bc80-1091-11ea-9a45-5e3e85abf0c3.png)
The error of display when i click the Test section

[2019-11-26 18:14] Rokit12 commented on #1997
![Screenshot from 2019-11-26 21-16-05](https://user-images.githubusercontent.com/37167721/69660539-9ab3d300-1091-11ea-924d-c6a79b00e926.png)
This is the error , i am getting on clicking the link you have given above: https://www.topcoder.com/challenges/30084694/?type=develop

[2019-11-26 18:58] arslanbisharat1279 commented on #1997
![Screenshot_20191126-235719_Chrome](https://user-images.githubusercontent.com/57293074/69663705-98a93e80-10a8-11ea-99ff-6388dbd6c797.jpg)
This is.also happening to me.

[2019-11-26 19:38] veshu commented on #1997
@Oanh-and-only-Oanh @ajefts The fix for the legacy controller is very easy too. Or should we go integrate the v5?

[2019-11-27 00:52] Oanh-and-only-Oanh commented on #1997
@veshu, let's go with v5 api approach instead of fixing legacy.

[2019-11-27 02:13] lakshmiathreya commented on #1837
Search is working for some users and not for others. Pls see screenshots. The nandle "neha.sharma" is present yet Search fails.
<img width="1598" alt="Screenshot 2019-11-27 at 7 28 34 AM" src="https://user-images.githubusercontent.com/51733042/69687502-29a00a00-10e9-11ea-93f4-f12ff1b3de2e.png">
<img width="1640" alt="Screenshot 2019-11-27 at 7 29 16 AM" src="https://user-images.githubusercontent.c

[2019-11-27 02:32] codeMinter commented on #3465
@ajefts @Oanh-and-only-Oanh can you share snapshot of how we want to show handle, as I don't have access to https://tcprod.productboard.com/feature-board/planning/features/3141275

[2019-11-27 02:37] codeMinter commented on #3465
![SRM](https://user-images.githubusercontent.com/14284629/69688714-da5bd880-10ec-11ea-8f44-a71aedffbaab.png)

Does something like this looks good? We will have same colouring affect as rating for handle and for label "handle" like "rating" - didn't wanted to invest time into implementation first so thought to get design approval first.

@Oanh-and-only-Oanh @ajefts ☝️

[2019-11-27 03:25] Oanh-and-only-Oanh commented on #3465
@codeMinter, let's show profile picture and username and use the same coloring as their "rating". No need to have "handle" label.

[2019-11-27 04:08] lakshmiathreya commented on #3140
Verified on Dev - Able to Add/Delete Skills, Email Preferences and Work Experiences.

[2019-11-27 04:32] lakshmiathreya commented on #3421
Verified Skills presented with Dynamo Db. Seems to be working. However, for the user listed above "ananthhh" - Skills are presented on Member skills Dev page but Dynamo Db returns no results for this handle - so unable to verify the Skills count at backend. Need clarification @urwithat.

[2019-11-27 05:12] urwithat commented on #1837
For member who don't have much details in profile, will not be displayed.

[2019-11-27 05:18] urwithat commented on #3421
The member profile elastic search data for `ananthhh` was missing in dev, I'll run the dynamodb to es sync application. Once done, will request to test once again.

[2019-11-27 05:40] su832665 opened #3475 "Unable to download the files under download section of challenge"
**Unable to download the files under download section of challenge**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/challenges/30108182'
2. Click on 'zipfile or test links.'
3. See error

**Expected behavior**
File should be downloaded successfully

**Screenshots**
If applicable, add screenshots to help expl

[2019-11-27 05:56] nithyaasworld commented on #3140
Its not working for my account in Dev environment too. My Dev user credentials: nithyaasworld / appirio123

![image](https://user-images.githubusercontent.com/5114190/69697526-b27a6e00-1108-11ea-91e2-8791384f0b93.png)

[2019-11-27 05:59] Rokit12 commented on #1997
I think the API is not directly connected to the needed data

[2019-11-27 06:06] lakshmiathreya commented on #3140
Thanks for the update @nithyaasworld. It worked for my account. @urwithat pls note ...

[2019-11-27 06:31] urwithat commented on #3140
The `Email Preferences` server in AWS is down, we are going to resolve this in AWS.

[2019-11-27 08:44] caixiangyue commented on #1997
1. when click zip file link:
![image](https://user-images.githubusercontent.com/10071813/69707606-08650b00-1135-11ea-9a50-29b6f2f3773d.png)
2. when click Teste link:
![image](https://user-images.githubusercontent.com/10071813/69707695-2c285100-1135-11ea-87e3-3995cd28c571.png)

[2019-11-27 08:56] urwithat commented on #1837
Gave a thought about it, thinks it's very valid. We have fixed this in dev. https://www.topcoder-dev.com/search/members/?q=neha.sharma

[2019-11-27 08:58] lakshmiathreya commented on #1837
Verified Member info now available for Members without details.
<img width="1467" alt="Screenshot 2019-11-27 at 2 27 12 PM" src="https://user-images.githubusercontent.com/51733042/69708666-0776ae00-1122-11ea-8ca3-77c228be675a.png">

[2019-11-27 09:13] lakshmiathreya commented on #3421
Verified after sync. Dynamo Db returns skills for "ananthhh" in tune with Member Profile page for the same user.

[2019-11-27 09:21] sushilshinde commented on #3474
Use https://github.com/topcoder-platform/community-app/tree/hot-fixes-1 for PR

@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-11-27 09:24] rashmi73 commented on #3474
@sushilshinde a minor confusion based on requirements above

do i need to change from "api.topcoder.com" to "api.topcoder-dev.com" or is it by mistakely written above?

[2019-11-27 10:07] nithyaasworld opened #3476 "Member Profile Screen: Some members have incorrect info and dead links"
Some of the affected users:

https://www.topcoder.com/members/tourist
https://www.topcoder.com/members/codejam
https://www.topcoder.com/members/mess

Issue1: Profile image, country, forum post link, profile name are incorrect for the above users
Issue2. Clicking on SRM or MM Activity link on tourist's profile shows some error. This issue likely to exist with the other two affected users.

Issue1 S

[2019-11-27 11:01] sushilshinde commented on #3474
domain part will always dynamic so no change there

Change required :
`filter=domain%3DSKILLS%26status%3DAPPROVED&limit=1000`

FYI @urwithat

[2019-11-27 11:14] urwithat commented on #3474
@sushilshinde - perfect

[2019-11-27 11:46] nithyaasworld commented on #3444
@luizrrodrigues The 3rd level menus are not removed and placed under Competitive Programming menu as advised by @Oanh-and-only-Oanh above. Can you check please?

![image](https://user-images.githubusercontent.com/5114190/69720878-a1962080-1139-11ea-93a8-63c005b562be.png)

[2019-11-27 13:21] luizrrodrigues commented on #3444
@nithyaasworld @Oanh-and-only-Oanh
The 3rd level menu in this page, is part of page inner/own content. So this is out from Nav, we'll need to change others components.

Let me know if we'll need go forward.

[2019-11-27 14:49] sushilshinde commented on #3469
@dushyantb issue fixed

https://www.npmjs.com/package/topcoder-react-lib/v/1000.4.0

[2019-11-27 14:57] sushilshinde opened #3477 "[$50]Payment task for #3459"
https://github.com/topcoder-platform/community-app/issues/3459

[2019-11-27 14:58] sushilshinde opened #3478 "[$80]Payment Task for #2696"
https://github.com/topcoder-platform/community-app/issues/2696

[2019-11-27 15:00] rashmi73 commented on #2359
@sushilshinde can I get anything on this? thank you

[2019-11-27 16:07] veshu commented on #1997
@Oanh-and-only-Oanh Looks like v5 is not yet ready. talked with @sushilshinde .

Either we should fix current legacy or wait for v5 to complete. which might take long time.

[2019-11-27 19:46] rashmi73 commented on #3474
@sushilshinde actually this change is on topcoder-react-lib side, my changes are done but unaware on which branch it is to be raised, hence assuming on my side and raising PR on dev branch

[2019-11-27 20:02] rashmi73 commented on #3474
@sushilshinde PR is at topcoder-react-lib repo https://github.com/topcoder-platform/topcoder-react-lib/pull/114

[2019-11-28 07:59] kkartunov opened #3480 "Markdown support on Thrive articles"
Some issues spotted with markdown rendering on the Thrive article details page.

- italics not working
- blockquotes uppercase
- links auto-creation in text
- typographer should be enabled

need fix and make sure all markdown is working.

Test: https://community-app.topcoder-dev.com/examples/contentful/article/72mtyfNJ853vLq16bwyehb?space=EDU

[2019-11-28 09:01] sushilshinde commented on #3474
@rashmi73 please follow the instructions

https://github.com/topcoder-platform/community-app/issues/3474#issuecomment-559001659

[2019-11-28 09:07] kkartunov commented on #3461
Done.

[2019-11-28 09:07] #3461 closed

[2019-11-28 09:20] rashmi73 commented on #3474
@sushilshinde I guess you misunderstood, because code for above solution is not present in community-app, it is at https://github.com/topcoder-platform/topcoder-react-lib/

can you please say which branch to use then?

[2019-11-29 06:45] rashmi73 commented on #3474
@sushilshinde @urwithat are we merging this?

[2019-11-29 07:04] rashmi73 commented on #3478
@sushilshinde nothing is reflected in pacts yet, can you please confirm once again?

[2019-11-29 07:04] rashmi73 commented on #3477
@sushilshinde nothing is reflected in pacts yet, can you please confirm once again?

[2019-11-29 11:01] urwithat commented on #3140
Thank you for informing, the fix has been deployed to development environment

[2019-11-29 11:01] urwithat commented on #3476
Thank you for informing, the fix has been deployed to development environment

[2019-11-29 18:54] codeMinter commented on #3469
@dushyantb @sushilshinde are we good here ?

[2019-11-30 00:37] codeMinter commented on #3465
<img width="1225" alt="srm_handle" src="https://user-images.githubusercontent.com/14284629/69893451-a3c5ce00-1337-11ea-867c-d343935c5a13.png">

@Oanh-and-only-Oanh FYI ☝️

[2019-11-30 02:16] codeMinter commented on #3474
@rashmi73 kindly fix PR, follow notes here https://github.com/topcoder-platform/community-app/issues/3474#issuecomment-559001659

[2019-11-30 20:26] rashmi73 commented on #3474
@codeMinter yes I read comment which says PR on community app hot-fixes-1, but solution to this issue does not require PR on community app, rather it is topcoder-react-lib repo. hence I raised PR on it against dev branch. this is what I am trying to convey above. kindly confirm if m wrong or something is missed by me or something else expected?

@sushilshinde Hope so its efforts wont go waste as a

[2019-12-01 03:01] codeMinter commented on #3474
@rashmi73 got it. The pipeline is busy, if you see I also have 2 tickets waiting for deployment. So we need to wait till it gets free for deployment. It will be merged once pipeline gets cleared.

[2019-12-01 18:56] urwithat commented on #3140
We are working on passing the AWS dynamodb access via roles and not by passing tokens, for improving the overall security.

[2019-12-02 04:42] urwithat commented on #3474
@sushilshinde - Is this available in dev as yet?

[2019-12-02 08:52] harshitmehta123 opened #3483 "[$80] Looping on Marathon Match Submission Tab"
**Describe the bug**
The screen loops back and again from login screen when we open the submission tab on marathon matches.

Several members have also reported the issue on the forums.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any marathon submission tab page directly hitting the URL or refreshing. '
2. See the looping back and flicker happening.

**Screenshots**
Please find the

[2019-12-02 11:49] harshitmehta123 commented on #3469
Hey @sushilshinde - When will this be deployed? I will inform the members about it.
cc: @Oanh-and-only-Oanh

[2019-12-02 12:11] sushilshinde commented on #3478
@rashmi73 this is process the payment now, please check EOD

[2019-12-02 14:56] codeMinter commented on #3465
@Oanh-and-only-Oanh @nithyaasworld  this is on DEV - http://www.topcoder-dev.com/members/tourist/details/?track=DATA_SCIENCE&subTrack=SRM

[2019-12-02 17:18] Oanh-and-only-Oanh commented on #3465
@codeMinter, can you 1) make username name a hyperlink that directs them to the profile page 2) if no profile picture is available, make default profile picture this? https://icon-library.net/icon/default-profile-icon-24.html

[2019-12-02 21:10] Oanh-and-only-Oanh opened #3484 "CS: flashing 404 error page"
This is regarding CS portal.
Go to https://cs.topcoder.com without appropriate credentials. User will see the 404 message for half a second and then they are automatically rerouted to the SSO login page.

Expected behavior: User should land on 404 message page and stay there without being automatically rerouted to SSO login page.

[2019-12-03 00:44] lakshmiathreya commented on #3476
@urwithat @nithyaasworld Member Profile seems to be fine now except Forum posts.

[2019-12-03 04:52] nithyaasworld commented on #3465
@codeMinter @Oanh-and-only-Oanh Can we reduce the font of the handle name as it looks big if the handle name is little big?

![image](https://user-images.githubusercontent.com/5114190/70021480-db8e7900-15b6-11ea-9c90-71a1c2a5fc29.png)

![image](https://user-images.githubusercontent.com/5114190/70021436-c0bc0480-15b6-11ea-993c-953f51b84e7d.png)

[2019-12-03 04:53] codeMinter commented on #3465
@nithyaasworld Sure will do so.

[2019-12-03 04:57] codeMinter commented on #3465
@Oanh-and-only-Oanh Since the users are landing from profile page to this screen. would adding something like `< ` before SRM make sense here which takes them back to profile page. Thoughts ?

for 2) I checked the code, we are already using the default one. Do we have something else as default ? any pointers where I can check default pic?

[2019-12-03 06:39] sushilshinde commented on #3478
@rashmi73 can you confirm?

[2019-12-03 06:48] sushilshinde commented on #3474
@rashmi73 can you make this changes?

https://github.com/topcoder-platform/topcoder-react-lib/pull/114#issuecomment-560542721

[2019-12-03 06:54] sushilshinde commented on #3470
Use https://github.com/topcoder-platform/community-app/tree/hot-fix for PR

@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-12-03 06:55] rashmi73 commented on #3478
@sushilshinde sorry not reflecting yet

[2019-12-03 06:58] sushilshinde commented on #3474
@rashmi73 I changes PR's base branch to hot-fixes-2

[2019-12-03 07:21] tosha5252 commented on #3300
@lakshmiathreya

[2019-12-03 08:52] nithyaasworld commented on #3469
@codeMinter The issue seems to exist still. Could you check please?

![image](https://user-images.githubusercontent.com/5114190/70035089-41d7c380-15d8-11ea-8358-2227ed8a747e.png)

[2019-12-03 08:54] nithyaasworld commented on #3469
@codeMinter One more screenshot of the issue:

![image](https://user-images.githubusercontent.com/5114190/70035304-9b3ff280-15d8-11ea-9323-378836164a3a.png)

[2019-12-03 09:03] sushilshinde commented on #3478
@rashmi73 there is some issue on TCX backend working on that, please keep the patience

[2019-12-03 09:39] sushilshinde commented on #1564
@Oanh-and-only-Oanh We need all the logos in SVG format and same format as this in this folder

https://github.com/topcoder-platform/community-app/tree/develop/src/assets/images/profile/skills

[2019-12-03 09:40] sushilshinde commented on #3472
https://github.com/topcoder-platform/community-app/issues/1564#issuecomment-561081908

[2019-12-03 17:02] Oanh-and-only-Oanh commented on #1564
@nithyaasworld can you help with getting the logos in SVG format as requested above from Sushil?

[2019-12-03 17:10] Oanh-and-only-Oanh commented on #3465
@codeMinter, for 1)  something like < before SRM works, 2) since we're already using the default one if user has no profile picture, no changes then.

[2019-12-04 03:14] codeMinter commented on #3483
Use https://github.com/topcoder-platform/community-app/tree/hot-fix for PR

@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-12-04 04:35] urwithat commented on #3140
This has been fixed

[2019-12-04 05:43] m-yadav opened #3486 "Veterans community : Issues in Arrows rendering"
It looks like the Veterans community arrows are not looking correct? PFB snippet for reference
The same can be seen at block-chain as well

https://veterans.topcoder.com

![image](https://user-images.githubusercontent.com/45197181/70115811-dc8edb80-1686-11ea-9cb6-31ec189e4fb6.png)

https://blockchain.topcoder.com/

![image](https://user-images.githubusercontent.com/45197181/70115854-00eab800-1687-

[2019-12-04 05:45] m-yadav commented on #3486
cc : @Oanh-and-only-Oanh

[2019-12-04 11:49] nithyaasworld commented on #2669
Verified again

[2019-12-04 11:49] #2669 closed

[2019-12-04 11:56] nithyaasworld commented on #2523
@luizrrodrigues We still have the following issues in the mobile version.

![image](https://user-images.githubusercontent.com/5114190/70140644-327d7680-16bb-11ea-9cf4-30c0691a28f8.png)

[2019-12-04 11:58] nithyaasworld commented on #2662
Verified again

[2019-12-04 11:58] #2662 closed

[2019-12-04 12:01] nithyaasworld commented on #2704
@luizrrodrigues Just checked in beta. This issue is still there. Kindly check.

cc: @sushilshinde @Oanh-and-only-Oanh

[2019-12-04 12:11] nithyaasworld commented on #2705
@luizrrodrigues No:2 you have stated still exists.

[2019-12-04 12:15] nithyaasworld commented on #2530
Verified. This is no more an isue.

[2019-12-04 12:15] #2530 closed

[2019-12-04 12:45] nithyaasworld opened #3488 "Some of the menus in Beta env are redirecting to Prod env"
Some of the menus in Beta env are redirecting to Prod env. So cannot check the New Nav Menu for those menus.

Some Examples:
![image](https://user-images.githubusercontent.com/5114190/70143391-81c6a580-16c1-11ea-88cd-2a53a2580791.png)

![image](https://user-images.githubusercontent.com/5114190/70143553-f7cb0c80-16c1-11ea-97a5-76d5ec175bbb.png)

[2019-12-04 12:46] nithyaasworld commented on #3488
@luizrrodrigues

[2019-12-04 13:05] nithyaasworld commented on #3440
Confirming that this issue still exists.

[2019-12-04 16:20] Oanh-and-only-Oanh commented on #3488
@luizrrodrigues @nithyaasworld, @sushil says it's an environment issue that won't be a problem in production. It's routing routing to the correct page so marking this as pass.

[2019-12-04 18:24] luizrrodrigues commented on #2523
@nithyaasworld I see the issue, I'll fix that.

[2019-12-04 18:25] codeMinter commented on #3396
This is on hold so moving back to To Do - the code changes are in place, needs to be deployed and tested once server becomes available

[2019-12-04 18:43] luizrrodrigues commented on #2523
@nithyaasworld
2. These items was removed and moved to Community submenu.

Check: https://github.com/topcoder-platform/community-app/issues/2396

[2019-12-04 19:33] nithyaasworld commented on #3140
Thanks @urwithat Issue with the Member Work Addition is resolved and verified in Dev.

I will create a new issue to track the issue with the Email-Preferences.

[2019-12-04 19:36] luizrrodrigues commented on #2704
@nithyaasworld Working fine here, what account you used to test?

[2019-12-04 19:37] nithyaasworld opened #3490 "Email preferences in Settings page is not working for my user"
Email preferences in Settings page are not working **for my user**

![image](https://user-images.githubusercontent.com/5114190/70174818-a17abf80-16fb-11ea-9d49-3f603770e3b2.png)

[2019-12-04 19:38] nithyaasworld commented on #3490
cc: @urwithat

[2019-12-04 19:38] luizrrodrigues commented on #3488
@nithyaasworld This not be a problem in Prod. :)

[2019-12-04 19:43] nithyaasworld commented on #2704
It is dan_developer. Please try once following the exact steps as provided in the ticket. I was able to reproduce it when I tried a while before.

[2019-12-04 20:04] ajefts commented on #1837
Hi all.  Nice job getting the basic search available again on the site.  Can we close this ticket out now @urwithat ?  Is there anything else we're working on related to it?  Thanks.

[2019-12-04 20:19] codeMinter commented on #1837
@ajefts @urwithat looks like memberSince data is wrong on PROD - can you help check if this is DB issue or data is not sync to ES right? all are coming with member since 1969 on PROD

[2019-12-04 20:56] nithyaasworld commented on #3488
Yes @luizrrodrigues but I am not able to check new-nav on those pages.

Is it easy to fix them in beta?

[2019-12-04 21:11] nithyaasworld commented on #3476
Some more affected users in Production:

https://www.topcoder.com/members/wenbin
https://www.topcoder.com/members/maxceem

[2019-12-05 00:18] luizrrodrigues commented on #3488
Overview, How It Works and Why Join - All already update with new nav in Prod.

Dataset - This one is page level navigation.
But you can access with directly link:
https://beta-community-app.topcoder.com/community/data-science/datasets

[2019-12-05 00:19] luizrrodrigues commented on #2704
Note: This only happen when access the Settings in dropdown menu

[2019-12-05 00:23] luizrrodrigues commented on #2705
@nithyaasworld We need keep expanded the menu to Not logged user too, right?

[2019-12-05 00:24] luizrrodrigues commented on #3440
@nithyaasworld This one will be fixed after move to Prod. cc @Oanh-and-only-Oanh

[2019-12-05 04:28] codeMinter commented on #3465
@Oanh-and-only-Oanh @nithyaasworld this is on test, can you help test this ?

[2019-12-05 04:29] codeMinter commented on #3483
@rashmi73 what's the update here ?

[2019-12-05 05:27] rashmi73 commented on #3483
@codeMinter sorry for delay but i am not able to access https://topcoder.slack.com/files/U0FMGJJV6/FR577KNJG/screencast_error.mp4

can you please attach file here?

[2019-12-05 05:56] codeMinter commented on #3483
@rashmi73 this is **priority** issue. Kindly be proactive and ask for needed info so someone can revert asap. Here you go - https://youtu.be/qvEiK3NfoLw

[2019-12-05 10:40] rashmi73 commented on #3478
@sushilshinde I am able to receive amount in pacts from other copilots, can you please confirm once again whether actually payment for this is initiated?

[2019-12-05 10:55] sushilshinde commented on #3469
@Oanh-and-only-Oanh @nithyaasworld deploying on beta please test in 20 mins

[2019-12-05 11:01] sushilshinde commented on #3470
Deployed on dev please test

@Oanh-and-only-Oanh @nithyaasworld @codeMinter

[2019-12-05 11:04] rashmi73 commented on #3483
@codeMinter @sushilshinde topcoder.com/challenges is not working

[2019-12-05 17:06] Oanh-and-only-Oanh commented on #2705
That's correct, @luizrrodrigues

[2019-12-05 17:09] codeMinter commented on #3483
@rashmi73 `topcoder.com/challenges` works fine, if you are talking about local mode, you need to first go to `http://localhost:3000` and from head into Challenges link on that page.

[2019-12-05 17:12] rashmi73 commented on #3483
@codeMinter yes aware that need to go localhost:3000 and then head to in local mode, my concern was on prod topcoder.com/challenges . experienced it several times and I am not able to find any marathon match challenge on dev which has active submission phase, I guess need to make changes locally and enable the submit button.

[2019-12-05 17:21] codeMinter commented on #3483
These work fine one DEV, use the login in README and one of these should work, else use tonyJ login.
https://www.topcoder-dev.com/challenges/30055646?tab=submissions
https://www.topcoder-dev.com/challenges/30055701?tab=submissions

[2019-12-05 17:51] crazyk07 opened #3492 "Skill/Competitor Search results do not have consistent results"
**Describe the bug**
Search results change each time you refresh the browser.  Also, when clicking on one profile and going back to the search results, the results change.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.topcoder.com/challenges'
2. Click on 'member skill search'
3. Type in any skill
4. Refresh screen multiple times and click through profiels and go back to the resu

[2019-12-05 17:51] crazyk07 commented on #3492
@Oanh-and-only-Oanh

[2019-12-05 18:32] codeMinter commented on #3465
@Oanh-and-only-Oanh As discussed, we now show image and handle on all stats pages. It is ready on TEST server now.

[2019-12-05 18:40] #1837 closed

[2019-12-05 18:41] #3421 closed

[2019-12-05 18:58] rashmi73 commented on #3483
@sushilshinde @codeMinter pls check https://github.com/topcoder-platform/community-app/pull/3494

[2019-12-05 19:08] #3140 closed

[2019-12-05 19:26] codeMinter commented on #3470
@sushilshinde there was a failing scenario found so pushed the fix.

[2019-12-06 09:05] urwithat commented on #3492
@Oanh-and-only-Oanh & @crazyk07 - When we are querying elastic search we sort by the score of a particular skill. If the members have the same skill score, they can be returned back in a different order. To solve this I'll put another sort on the usersId as we don't have any name field in our skills index.

[2019-12-06 09:56] urwithat commented on #3492
@Oanh-and-only-Oanh & @crazyk07 - deployed the fix to dev

[2019-12-06 17:53] nithyaasworld commented on #2644
Closing this as there is another ticket to track the issue with the Email-Preference Settings

[2019-12-06 17:53] #2644 closed

[2019-12-06 17:53] crazyk07 commented on #2644
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2019-12-06 17:54] nithyaasworld commented on #3490
This is fixed and working.

Thank you @urwithat

[2019-12-06 17:54] #3490 closed

[2019-12-06 18:22] nithyaasworld opened #3496 "[$50]After submitting, it shows a failure message but the submission went through"
Steps to reproduce:
1. Submit to any challenge and observe

Actual:
It shows error message, however, the submission got uploaded successfully.

Expected:
It shouldn't through error message

Issue Screenshot:
![image](https://user-images.githubusercontent.com/5114190/70346051-686d5700-1883-11ea-8126-d5fddf90be07.png)

Originally reported by our community members in the Slack Support Channel:

![ima

[2019-12-06 18:23] nithyaasworld commented on #3496
cc: @sushilshinde @Oanh-and-only-Oanh

[2019-12-06 18:34] nithyaasworld commented on #3469
@codeMinter It just **shows a dash** now instead of showing one of the following statuses:

1. Submission in Queue
2. Submission Failed
3. Score of Submission

![image](https://user-images.githubusercontent.com/5114190/70346351-27c20d80-1884-11ea-8290-5f5f6e7cf099.png)

[2019-12-06 19:01] nithyaasworld commented on #3465
@codeMinter This seems to be not available on Test environment now. Kindly help to deploy it again for testing.

[2019-12-06 19:02] nithyaasworld commented on #3465
Please ignore, just saw that Oanh has already tested this.

[2019-12-06 19:13] codeMinter commented on #3469
@nithyaasworld do you see in API response any reviews being passed back ?

[2019-12-06 19:16] nithyaasworld commented on #3469
Ok, In case, if no reviews are passed back, It should be with 'Submission in Queue' status.. right?

[2019-12-06 19:18] codeMinter commented on #3469
@nithyaasworld checked, it is issue with backend - check API response for Request URL: https://api.topcoder.com/v5/submissions?challengeId=30094385&page=1&perPage=500 in your browser.

@dushyantb @cwdcwd can you help check why backend is not running review for the submissions @nithyaasworld is pushing.

[2019-12-06 19:19] codeMinter commented on #3469
No, we have status flag for each review, so if backend is running review, it should push a review element and mark status as in review and not completed. Let's see what @cwdcwd has here as I am not familiar a lot with backend process for MM reviews.

[2019-12-06 19:33] nithyaasworld commented on #3470
@codeMinter How do we test this on Dev environment? There is no MM Challenge with Score 0 in Dev environment.

[2019-12-06 19:54] nithyaasworld commented on #3492
@urwithat Can you please tell me How do we calculate this skill score?

When I search by the skill 'QA', I see a list of people who have never won any challenges in 'QA'

![image](https://user-images.githubusercontent.com/5114190/70352062-4d551400-1890-11ea-992e-adf745aaa89f.png)

[2019-12-06 20:14] codeMinter commented on #3470
@nithyaasworld true, from locally I was testing using PROD mode so yes we cannot unless we get some data on dev.

@sushilshinde can we move this to beta?

[2019-12-06 21:59] codeMinter commented on #3470
moved to beta for testing

[2019-12-07 07:06] codeMinter commented on #3469
@nithyaasworld I did discussed with @cwdcwd over slack the way we are showing now is ok. There are times when review wouldn't run for sometime, so we show `-`.  So once backend will trigger review, we will see a new review json in response which would have status as `in queue` in which case we show the icon you referring to.

[2019-12-07 07:08] nithyaasworld commented on #3470
@codeMinter It shows 0 even when the score is not 0 ( i.e. it shows 0 for the score 'dash')

![image](https://user-images.githubusercontent.com/5114190/70370547-6d1b2500-18ee-11ea-986b-1da7000c6c2b.png)

[2019-12-07 07:22] nithyaasworld commented on #3470
Thanks @codeMinter

Verified in beta:

![image](https://user-images.githubusercontent.com/5114190/70370695-5d9cdb80-18f0-11ea-804a-a011e847defc.png)

[2019-12-07 13:32] nithyaasworld commented on #3469
But there are items with 'dash' for more than a month. Can you please confirm if this is okay?

![image](https://user-images.githubusercontent.com/5114190/70375461-087abd00-1924-11ea-8035-575bbf4df60f.png)

[2019-12-07 19:05] urwithat commented on #3492
@Oanh-and-only-Oanh - Can you please clarify @nithyaasworld question on how the skill score is calculated.

@nithyaasworld - There is not even one user with skill QA that has been given a score by participating in a challenge, in the production environment.

[2019-12-07 21:25] codeMinter commented on #3469
@cwdcwd @dushyantb FYI ☝️ - this would need a fix on backend.

[2019-12-08 13:29] rashmi73 commented on #3474
@codeMinter @sushilshinde @Oanh-and-only-Oanh are we merging this?

[2019-12-08 16:40] nithyaasworld commented on #3476
One more person whose profile image is missing:

https://www.topcoder.com/members/picachui/

![image](https://user-images.githubusercontent.com/5114190/70392592-924f8680-1a07-11ea-8d80-d285a553fbfc.png)

[2019-12-08 23:12] nithyaasworld opened #3497 ""member since" date is wrong in member search results"
This bug is first reported [here ](https://github.com/topcoder-platform/Training-Challenges/issues/34)

"member since" date is wrong in member search results

Screenshot:

![image](https://user-images.githubusercontent.com/5114190/70398112-20defa80-1a3e-11ea-9c7e-7be0103d96f8.png)

[2019-12-08 23:12] nithyaasworld commented on #3497
cc: @urwithat

[2019-12-09 08:41] #3484 closed

[2019-12-09 08:41] #3460 closed

[2019-12-09 13:14] SriramKumar0494 commented on #1997
While hitting the URL,Am getting failed load page.
https://www.topcoder.com/challenges/30084694/?type=develop

![screenShot](https://user-images.githubusercontent.com/58689529/70438470-eb74f400-1ab3-11ea-8135-ec79ee77c02b.PNG)

[2019-12-09 15:08] Dara-K commented on #1564
@Oanh-and-only-Oanh  @sushilshinde  Here are the logos in SVG format.
Note: I looked for the vector files for all of them but didn't find everything so some of them are images inside SVG - let me know if they work for you

[Logos SVGs.zip](https://github.com/topcoder-platform/community-app/files/3940286/Logos.SVGs.zip)

[2019-12-09 16:19] Oanh-and-only-Oanh opened #3501 "Add Project Fit to the CS portal homepage"
Requirements for CS Platform.

Description: Copy the “project fit” section from the FAQ link to the home page. On the home page. Add a new image with a description and button that links to the project fit section.
Navigate to home page.
Click on FAQ link
Copy the contents of what is a good fit to home page.
On the home page create another section at the bottom underneath “Why Topcoder works in Cre

[2019-12-09 16:42] Oanh-and-only-Oanh commented on #3492
@nithyaasworld @urwithat, we don't any QA rating score currently and they are in the coding track for now.
@urwithat, for QA skill, can we query list of members by number of QA challenges they have won?

[2019-12-09 18:42] urwithat commented on #3497
@nithyaasworld & @Oanh Tran - This has been fixed, and is available in dev. Will do a deployment to prod tomorrow.

[2019-12-09 18:42] urwithat commented on #3497
Was reported by @codeMinter last week

[2019-12-10 08:01] #3480 closed

[2019-12-10 08:47] urwithat commented on #3492
@nithyaasworld - fix deployed in prod

[2019-12-10 08:49] urwithat commented on #3490
@nithyaasworld - The users you've mentioned, according to API verification it working for all.

[2019-12-10 08:50] urwithat commented on #3497
@nithyaasworld - Kindly test and closed if found fixed.

[2019-12-10 09:01] nithyaasworld commented on #3492
@urwithat Now I am seeing the following list of people when searching for 'QA'.. but actually these members are not our Top Members in 'QA'.. Expecting to see 'codejam', 'winterflame', 'sdgun', 'sandhiyaA', 'macs054' as these profiles have more wins in QA Challenges than the profiles we see at present.

![image](https://user-images.githubusercontent.com/5114190/70514098-f03fb380-1b58-11ea-83ef-d44

[2019-12-10 09:07] nithyaasworld commented on #3497
Verified.

Thanks @urwithat

Verification Screenshot
![image](https://user-images.githubusercontent.com/5114190/70514880-6690e580-1b5a-11ea-9fea-bb3f5a6c0ee8.png)

[2019-12-10 09:07] #3497 closed

[2019-12-10 17:01] ajefts opened #3503 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2019-12-10 17:01] Oanh-and-only-Oanh opened #3504 "[$10] testing purposes only"
Please ignore

[2019-12-10 17:02] #3504 closed

[2019-12-10 17:07] ajefts commented on #3486
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-10 17:07] ajefts commented on #3486
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-10 17:07] ajefts commented on #3486
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-10 17:07] ajefts commented on #3486
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-10 17:07] ajefts commented on #3486
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-10 17:07] ajefts commented on #3486
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-10 17:07] ajefts commented on #3486
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-10 17:07] ajefts commented on #3486
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-10 17:09] ajefts commented on #3504
The challenge creation on the Topcoder platform failed.  Please contact support to try again<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-11 06:43] codeMinter commented on #3469
@nithyaasworld As you can verify this is something which needs to be fixed in backend as API is an issue here and not community-app which runs this. I did discussed with @cwdcwd last week and it is fine to show `-` when backend hasn't triggered Review for the submission.

I think we shouldn't hold this for new work but yes, it is an issue should be track. I would suggest we open a new ticket to tr

[2019-12-11 09:01] sushilshinde commented on #3474
@rashmi73 @urwithat

https://github.com/topcoder-platform/topcoder-react-lib/pull/114#issuecomment-564444469

[2019-12-11 09:03] sushilshinde opened #3505 "[$80]Payment Task for #2696"
Payment Task for #2696

[2019-12-11 09:09] ajefts commented on #3505
[504]: Failed to create challenge.<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-11 09:09] ajefts commented on #3505
[504]: Failed to create challenge.<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-11 09:09] ajefts commented on #3478
[504]: Failed to create challenge.<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-11 09:09] ajefts commented on #3478
[504]: Failed to create challenge.<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-11 09:10] ajefts commented on #3478
[504]: Failed to create challenge.<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-11 09:10] ajefts commented on #3478
[504]: Failed to create challenge.<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-11 09:43] nithyaasworld commented on #3465
Verification screenshot:

![image](https://user-images.githubusercontent.com/5114190/70610012-cfdf2a00-1c28-11ea-8c64-08385a51f27f.png)

[2019-12-12 06:28] nithyaasworld opened #3507 "Challenges listing page takes longer time ( more than 2 mins) to load the challenges"
1. Go to www.topcoder.com/challenges
2. Observe

Actual:
It shows the Loading indicator for a long time. After about 2+ mins, it shows the list of challenges with an error message as in the second screenshot below.

![image](https://user-images.githubusercontent.com/5114190/70688101-f22f8100-1cd6-11ea-9b6e-1f7e163ed06a.png)

![image](https://user-images.githubusercontent.com/5114190/70688022-c44a3

[2019-12-12 06:29] nithyaasworld commented on #3507
cc: @sushilshinde @lakshmiathreya @urwithat @Oanh-and-only-Oanh

[2019-12-12 13:28] nithyaasworld commented on #2704
**Earlier reproduction video**, adding just for reference:

[my video.zip](https://github.com/topcoder-platform/community-app/files/3955911/my.video.zip)

[2019-12-12 15:33] SathyaJayabal commented on #2704
test

[2019-12-12 15:59] SathyaJayabal commented on #2705
For not logged in user, the level 1 and level 2 menus disappear.

<img width="1440" alt="2705 verification" src="https://user-images.githubusercontent.com/58783823/70726988-ed91b980-1d24-11ea-98f1-70e3d31f2ff2.png">
<img width="1437" alt="2705 verification 1" src="https://user-images.githubusercontent.com/58783823/70726990-ee2a5000-1d24-11ea-88cc-60bc1e3622d1.png">

Even when you change the main m

[2019-12-12 16:05] SathyaJayabal commented on #2704
Profile page is working fine now.
[2704_verification.mov.zip](https://github.com/topcoder-platform/community-app/files/3956694/2704_verification.mov.zip)

[2019-12-12 20:11] luizrrodrigues commented on #2705
2.
![](https://user-images.githubusercontent.com/58783823/70727867-6e9d8080-1d26-11ea-81b8-d606a8f8dbdb.png)

The 3rd level menu is a in page menu level, so nav don't affect this. Please check existing page:
https://www.topcoder.com/community/competitive-programming

[2019-12-13 00:16] nithyaasworld opened #3509 "Not able to invite Customer, being logged in as Connect Account Manager and Copilot Manager"
1. Go to Connect Test environment https://connect-test01.topcoder-dev.com/
2. Log in as one of the following users:
     - topcoderconnect+AccountManager@gmail.com
     - topcoderconnect+CopilotManager@gmail.com
3. Go to any project and look for option to invite customers

Actual:
No option to invite customers

![image](https://user-images.githubusercontent.com/5114190/70759383-4173c100-1d6c-11ea-

[2019-12-13 00:19] nithyaasworld commented on #3509
cc: @lakshmiathreya @maxceem

[2019-12-13 00:21] nithyaasworld commented on #3509
Moving this to connect repo.

[2019-12-13 00:21] #3509 closed

[2019-12-13 09:37] SathyaJayabal opened #3510 "Community - > Overview links to about TCO18 page"
Community - > Overview links to about TCO18 page

**To Reproduce**
Steps to reproduce the behavior:

Prerequisite: user must be logged out

1. Click on Community and then Overview in the new nav
2. Opens the About TCO18 page
https://www.topcoder.com/about-the-2018-topcoder-open/
3. Also opens the page in production, must open the correct page on the beta env.

**Expected behavior**
Should open the

[2019-12-13 09:50] SathyaJayabal opened #3511 "Community -> Tracks goes to "https://beta-community-app.topcoder.com/community/learn""
**Describe the bug**
Community -> Tracks goes to "https://beta-community-app.topcoder.com/community/learn"

**To Reproduce**
Pre requisite: user must be logged out

Steps to reproduce the behavior:
1. Click on Community and then tracks
2. goes to "https://beta-community-app.topcoder.com/community/learn".

**Expected behavior**
1. Is this the correct link for tracks ?
2. The second level menu is co

[2019-12-13 10:01] SathyaJayabal opened #3512 "Explore - > TCO : Wrong sub menu item is highlighted"
**Describe the bug**
Explore - > TCO : Wrong sub menu item is highlighted

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Explore -> TCO
2. TCO page opens in production
3. Manually edit the URL to access the tco page on beta env
https://beta-community-app.topcoder.com/community/member-programs/topcoder-open/

**Expected behavior**
1. Page should open in beta env
2. TCO sub menu must

[2019-12-13 10:06] SathyaJayabal opened #3513 "Explore -> Forums takes the user to topcoder.com after logging in"
**Describe the bug**
Explore -> Forums takes the user to topcoder.com after logging in

**To Reproduce**
Prerequisite: user should be logged out
Steps to reproduce the behavior:
1. Click on Explore and the forums
2. Log in

**Expected behavior**
After logging in the user should be taken to the forums page instead of topcoder.com

**Screenshots**
[explore forums bug.mov.zip](https://github.com/topc

[2019-12-13 10:14] SathyaJayabal opened #3514 "User icon -> About Topcoder goes to About TCO18 page"
**Describe the bug**
User icon -> About Topcoder goes to About TCO18 page

**To Reproduce**
Prerequisite: user must be logged in
Steps to reproduce the behavior:
1. Click on the user icon on the top right
2. Click on "About Topcoder" menu item in the drop down menu that appears

**Expected behavior**
User is takes to "https://www.topcoder.com/about-the-2018-topcoder-open/" page instead of the corr

[2019-12-13 11:38] SathyaJayabal commented on #3510
cc @nithyaasworld @lakshmiathreya

[2019-12-13 11:39] SathyaJayabal commented on #3511
cc @nithyaasworld @lakshmiathreya

[2019-12-13 11:39] SathyaJayabal commented on #3512
cc @nithyaasworld @lakshmiathreya

[2019-12-13 11:39] SathyaJayabal commented on #3513
cc @nithyaasworld @lakshmiathreya

[2019-12-13 11:39] SathyaJayabal commented on #3514
cc @nithyaasworld @lakshmiathreya

[2019-12-13 11:58] luizrrodrigues commented on #3510
@Oanh-and-only-Oanh I need know what link need be.

[2019-12-13 12:02] luizrrodrigues commented on #3511
@Oanh-and-only-Oanh I need confirmation if link is right.

[2019-12-13 12:06] luizrrodrigues commented on #3512
@SathyaJayabal Thanks, I see the issue.

[2019-12-13 12:11] luizrrodrigues commented on #3513
@SathyaJayabal This not a new nav issue, is how login redirect works.

Please test in Prod:
- Logout
- Go to challenge list: https://www.topcoder.com/challenges
- Login
- Will redirect to www.topcoder.com

[2019-12-13 12:13] luizrrodrigues commented on #3514
@Oanh-and-only-Oanh I need know what link need be.

[2019-12-13 12:18] SathyaJayabal commented on #3513
When you directly click on a link that requires logging in, then the user is taken to login page and then the original link.

- Logout
- Go to Compete -> Competitive Programming
- Login
- Arena

[2019-12-13 12:43] luizrrodrigues commented on #3513
@sachin-maheshwari I see, but in this case when try to access the page without login, the own page will redirect to login with retUrl, ( https://accounts.topcoder.com/member?retUrl=https:%2F%2Farena.topcoder.com%2Findex.html )

We can't add this via nav link.

@Oanh-and-only-Oanh This is a valid issue, but not related with navigation component and need fixed in page level.

[2019-12-13 16:01] Oanh-and-only-Oanh commented on #3510
@luizrrodrigues @nithyaasworld, the Overview should direct user to https://www.topcoder.com/community/learn

[2019-12-13 16:09] Oanh-and-only-Oanh commented on #3511
@luizrrodrigues and @nithyaasworld, take out TRACKS and WHY JOIN from submenu

[2019-12-13 16:14] Oanh-and-only-Oanh commented on #3513
@luizrrodrigues, let's not worry about this right now as it's not part of Navi.

[2019-12-13 16:18] Oanh-and-only-Oanh opened #3515 "Add THRIVE to submenu"
For Logged out AND logged IN users, add THRIVE to the navigation menu under EXPLORE next to Blog

![image](https://user-images.githubusercontent.com/47536078/70814753-ff08af00-1d80-11ea-81b2-3a3748065002.png)

THRIVE should direct users to https://www.topcoder.com/thrive

[2019-12-13 16:21] Oanh-and-only-Oanh commented on #3514
@luizrrodrigues , I'm not sure what the purpose of "About Topcoder" is that's different from the other pages. Let's just remove completely from drop down.

[2019-12-13 16:26] Oanh-and-only-Oanh opened #3516 "Community - > How it works : Wrong link"
For logged out users,

**Describe the Bug:**
Community--> How it works : take user to FAQ page https://www.topcoder.com/faqs/

**Expected:**
"How it works" submenu under Community should direct members to https://www.topcoder.com/thrive/tracks?track=Topcoder

![image](https://user-images.githubusercontent.com/47536078/70815137-cfa67200-1d81-11ea-8225-7c6931ca903f.png)

[2019-12-14 07:43] SathyaJayabal commented on #3469
Verified in p
<img width="1403" alt="3469 verification" src="https://user-images.githubusercontent.com/58783823/70845348-88001300-1e73-11ea-9a6e-9392f8cf6ebd.png">
roduction

[2019-12-14 07:50] SathyaJayabal commented on #3470
Verified in production
<img width="1401" alt="3470 verification" src="https://user-images.githubusercontent.com/58783823/70845422-84b95700-1e74-11ea-96d3-f080bfd1addf.png">

[2019-12-14 07:55] SathyaJayabal commented on #3465
Verified in production
<img width="1400" alt="3465 verification" src="https://user-images.githubusercontent.com/58783823/70845479-2c368980-1e75-11ea-8526-a93812c28282.png">

[2019-12-14 18:23] luizrrodrigues commented on #3510
@Oanh-and-only-Oanh @nithyaasworld @sachin-maheshwari
This one was fixed/deployed and ready to test.

[2019-12-14 18:24] luizrrodrigues commented on #3511
@Oanh-and-only-Oanh @nithyaasworld @sachin-maheshwari
This one was fixed/deployed and ready to test.

[2019-12-14 18:24] luizrrodrigues commented on #3514
@Oanh-and-only-Oanh @nithyaasworld @sachin-maheshwari
This one was fixed/deployed and ready to test.

[2019-12-14 18:24] luizrrodrigues commented on #3515
@Oanh-and-only-Oanh @nithyaasworld @sachin-maheshwari
This one was fixed/deployed and ready to test.

[2019-12-14 18:25] luizrrodrigues commented on #3516
@Oanh-and-only-Oanh @nithyaasworld @sachin-maheshwari
This one was fixed/deployed and ready to test.

[2019-12-14 21:33] luizrrodrigues commented on #3488
@nithyaasworld Note: I have updated some links to use path URL and not full URL. But some link need by full url, because is out from main domain.

[2019-12-16 08:11] lakshmiathreya commented on #3336
cc @picachui

[2019-12-16 08:20] kkartunov commented on #3501
Done.

[2019-12-16 08:20] #3501 closed

[2019-12-16 13:21] SathyaJayabal commented on #2728
Verified and closed
![Uploading Screenshot 2019-12-16 at 6.50.01 PM.png…]()

[2019-12-16 13:52] SathyaJayabal commented on #3440
@luizrrodrigues This issue is not yet fixed.
<img width="1400" alt="Screenshot 2019-12-16 at 7 21 13 PM" src="https://user-images.githubusercontent.com/58783823/70912144-5638a900-2039-11ea-8d96-da1e06e6468a.png">

[2019-12-16 14:04] luizrrodrigues commented on #3440
@SathyaJayabal thanks

[2019-12-16 14:10] SathyaJayabal commented on #3516
Verified

[2019-12-16 14:12] SathyaJayabal commented on #3515
verified

[2019-12-16 14:12] SathyaJayabal commented on #3514
verified

[2019-12-16 14:15] SathyaJayabal commented on #3511
verified

[2019-12-16 14:16] SathyaJayabal commented on #3510
verified

[2019-12-16 14:29] SathyaJayabal commented on #3422
Verified
![Uploading Screenshot 2019-12-16 at 7.58.07 PM.png…]()

[2019-12-16 14:30] SathyaJayabal commented on #2704
Verified

[2019-12-16 17:44] Oanh-and-only-Oanh commented on #3422
@SathyaJayabal, we only close the ticket once it has been verified in PROD.

[2019-12-17 03:18] SathyaJayabal commented on #3422
@Oanh-and-only-Oanh, I am sorry about this. I had assumed that since navigation is completely new and not yet in production, it was ok to close the bugs after testing on Beta. I will make sure to close the bugs only after testing  in production.

[2019-12-17 10:30] SathyaJayabal commented on #3422
<img width="1406" alt="Screenshot 2019-12-17 at 3 59 08 PM" src="https://user-images.githubusercontent.com/58783823/70987665-5c389380-20e6-11ea-83eb-0dc438550b21.png">

[2019-12-17 16:50] Oanh-and-only-Oanh opened #3519 "$10 | Remove EVENTS on submenu"
For both Logged in and logged out states:

remove "EVENTS" on the submenu in the navi

![image](https://user-images.githubusercontent.com/47536078/71016619-43aa8800-20aa-11ea-9dca-63d8bc678cc9.png)

[2019-12-17 16:53] Oanh-and-only-Oanh opened #3520 "$15 | Open new tab for "Payments""
For logged in state:

**Reported bug:** When user clicks on "Payment" in the submenu, they are directed to https://community.topcoder.com/PactsMemberServlet?module=PaymentHistory&full_list=false

**Expected behavior:**
When user clicks on "Payment" in the submenu, a separate tab should open that takes them to https://community.topcoder.com/PactsMemberServlet?module=PaymentHistory&full_list=false

[2019-12-17 16:57] Oanh-and-only-Oanh opened #3521 "$10 | open new tab for "Forums""
**For logged in state:**

**Reported bug:** When user clicks on "Forums" in the submenu, they are directed to https://apps.topcoder.com/forums/

**Expected behavior:**
When user clicks on "Forums" in the submenu, a separate tab should open that takes them to https://apps.topcoder.com/forums/

**For logged out state:**

**Reported bug:** When user clicks on "Forums" in the submenu, they are directe

[2019-12-18 03:29] #3469 closed

[2019-12-18 03:29] #3470 closed

[2019-12-18 08:58] sushilshinde opened #3522 "Switch to tc-core-library-js for fetching m2m token"
Switch to tc-core-library-js for fetching m2m token

[2019-12-18 08:58] sushilshinde commented on #3522
https://github.com/topcoder-platform/topcoder-react-lib/pull/46

[2019-12-18 20:43] kkartunov opened #3524 "Contentful slider white arrows"
Contentful slider white arrows need to be transparent, not white.

![Screenshot from 2019-12-18 22-42-57](https://user-images.githubusercontent.com/5585002/71121788-cdac3b00-21e7-11ea-8ec6-0ef550f93230.png)

[2019-12-18 20:47] kkartunov opened #3525 "Enable breaks conversion to br tags for Contentful markdown fields"
https://github.com/markdown-it/markdown-it#init-with-presets-and-options
`breaks:       false,        // Convert '\n' in paragraphs into <br>`

need to be true.

[2019-12-19 10:51] sushilshinde opened #3526 "Feature - New navigation on community app"

[2019-12-19 12:25] SathyaJayabal opened #3527 "Blog link goes to 404"
The blog link from the new nav goes to the 404 page. (https://www.topcoder.com/blog)
Refreshing the page opens the blog correctly (https://www.topcoder.com/blog/)
<img width="1396" alt="Screenshot 2019-12-19 at 5 44 59 PM" src="https://user-images.githubusercontent.com/58783823/71172852-562de880-2287-11ea-8324-a99a8625e449.png">
[Blog link.mov.zip](https://github.com/topcoder-platform/navigation-c

[2019-12-19 12:41] SathyaJayabal commented on #3516
Verified in production
<img width="1397" alt="Screenshot 2019-12-19 at 6 09 30 PM" src="https://user-images.githubusercontent.com/58783823/71174337-f20d2380-228a-11ea-9b45-18595f2f27b9.png">

[2019-12-19 12:41] #3516 closed

[2019-12-19 12:44] SathyaJayabal commented on #3515
Verified in production
<img width="1417" alt="Screenshot 2019-12-19 at 6 13 56 PM" src="https://user-images.githubusercontent.com/58783823/71174501-5a5c0500-228b-11ea-99a5-d3c714733020.png">

[2019-12-19 12:44] #3515 closed

[2019-12-19 12:48] SathyaJayabal commented on #3514
Verified in production
<img width="1424" alt="Screenshot 2019-12-19 at 6 15 53 PM" src="https://user-images.githubusercontent.com/58783823/71174632-ae66e980-228b-11ea-9d66-18e662690b45.png">

[2019-12-19 12:48] #3514 closed

[2019-12-19 13:50] SathyaJayabal commented on #3511
verified in production
<img width="1400" alt="Screenshot 2019-12-19 at 7 19 18 PM" src="https://user-images.githubusercontent.com/58783823/71178594-87f97c00-2294-11ea-8553-5c5efc21de85.png">

[2019-12-19 13:50] #3511 closed

[2019-12-19 13:52] SathyaJayabal commented on #3510
Verified in Production
<img width="1400" alt="Screenshot 2019-12-19 at 7 21 36 PM" src="https://user-images.githubusercontent.com/58783823/71178743-d27af880-2294-11ea-8059-350ddc0403b1.png">

[2019-12-19 13:52] #3510 closed

[2019-12-19 13:53] SathyaJayabal commented on #3488
Verified in production

[2019-12-19 13:53] #3488 closed

[2019-12-19 13:58] SathyaJayabal commented on #3444
Verified in Production
[BUG 3444.mov.zip](https://github.com/topcoder-platform/community-app/files/3983880/BUG.3444.mov.zip)

[2019-12-19 13:58] #3444 closed

[2019-12-19 14:07] SathyaJayabal commented on #3422
Verified in production
<img width="1440" alt="Screenshot 2019-12-19 at 7 35 56 PM" src="https://user-images.githubusercontent.com/58783823/71179855-fd664c00-2296-11ea-9223-bcc62c755061.png">
<img width="1435" alt="Screenshot 2019-12-19 at 7 36 39 PM" src="https://user-images.githubusercontent.com/58783823/71179857-ff300f80-2296-11ea-86a8-dcfee009ba55.png">

[2019-12-19 14:07] #3422 closed

[2019-12-19 14:09] SathyaJayabal commented on #3440
<img width="1438" alt="Screenshot 2019-12-19 at 7 38 59 PM" src="https://user-images.githubusercontent.com/58783823/71180003-4e764000-2297-11ea-927c-5404c450d40b.png">

[2019-12-19 15:54] SathyaJayabal opened #3530 "Settings page is different when navigating to it from the member search results page"
1. go to challenges listings page
2. use member search from header to search for any member
3. member search results page is displayed
4. click on the user handle-> settings
5. older settings page is displayed

Some pages have the older header. (member search results page). When clicking on the settings page form the old head, from the user menu a different settings page is displayed.

Both the se

[2019-12-19 16:01] SathyaJayabal opened #3531 "Same Challenges displayed under more than one track"
**Describe the bug**
Some of the Challenges are displayed under more than one track in the challenge listing page
For example a code challenge with keyword Data science shows up under both the Development and Data Science tracks. Is this the expected behaviour ?

<img width="1440" alt="Screenshot 2019-12-19 at 9 28 23 PM" src="https://user-images.githubusercontent.com/58783823/71188284-b1230800-22

[2019-12-19 17:48] Oanh-and-only-Oanh opened #3532 "Navi CSS over-riding contentful CSS pages"
**Describe the bug**
scroll down on any page built on /community
the nav CSS is over riding the CSS for it'

https://www.topcoder.com/community/learn

**Screenshots**
![image](https://user-images.githubusercontent.com/47536078/71196298-a20b6e00-2244-11ea-9b1c-8de2905a1106.png)

[2019-12-19 17:55] luizrrodrigues commented on #3532
@Oanh-and-only-Oanh  I see the issue.

----

Need check if new nav apply background to `body`

![image](https://user-images.githubusercontent.com/7029641/71196978-5fab5680-226f-11ea-8243-5021463d04a1.png)

[2019-12-19 18:53] Oanh-and-only-Oanh opened #3533 "Add THRIVE/Learn tab on the Zurich portal"
**Feature request:**
Please add THRIVE/LEARN to the top menu navigation for Zurich's private portal. Once the user clicks on the tab, open a new tab to https://www.topcoder.com/thrive

Apply changes to:
- https://zurich.topcoder.com/

[2019-12-19 21:02] nithyaasworld commented on #3531
cc: @cwdcwd

[2019-12-20 05:51] lakshmiathreya commented on #3527
@sushilshinde whats the version name for the next milestone?

[2019-12-20 07:26] SathyaJayabal commented on #3527
verified in beta

[2019-12-20 09:35] SathyaJayabal commented on #3527
Verified In production
[blog fixed.mov.zip](https://github.com/topcoder-platform/community-app/files/3987644/blog.fixed.mov.zip)

[2019-12-20 09:35] #3527 closed

[2019-12-20 14:55] ajefts commented on #3531
That is the expected behavior.

[2019-12-20 14:56] sushilshinde commented on #3531
Thanks @ajefts

[2019-12-20 14:56] #3531 closed

[2019-12-23 18:20] kkartunov commented on #3532
@luizrrodrigues yes, it does. I alerted you many times about it https://github.com/topcoder-platform/navigation-component/blob/5e91a32da09288cf18f79e18f10d7efe4a364ffd/src/assets/sass/style.scss#L10

Also, have this https://github.com/topcoder-platform/navigation-component/issues/68

[2019-12-23 18:32] luizrrodrigues commented on #3532
@kkartunov My comment above was 4 days ago, before you post https://github.com/topcoder-platform/navigation-component/issues/68, also 68 was marked as duplication because this one already open.

[2019-12-27 01:49] ajefts commented on #3496
Contest https://www.topcoder.com/challenges/30111963 has been created for this ticket.<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-27 01:54] veshu commented on #3496
@topcoder-platform/topcodercompetitors this is open for pickup

[2019-12-27 02:00] nithyaasworld commented on #3496
@veshu I think this is already fixed. Can you check again?

[2019-12-27 02:14] veshu commented on #3496
@nithyaasworld ok. can we close this then? I can submit again.

[2019-12-27 02:37] codeMinter commented on #3496
@nithyaasworld @veshu I guess this happens on session expiry. I did faced this issue today around 1-2 hrs back. Reloading and submitting fixed the issue though.

[2019-12-27 05:12] nithyaasworld commented on #3496
Yeah we can close this one.

[2019-12-27 05:12] #3496 closed

[2019-12-27 05:12] ajefts commented on #3496
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for tonyj via Topcoder X```

[2019-12-31 16:31] JayaDhaka opened #3536 "[$70] Site/Challenge Details Issues"
Issue description: Submissions page not loading over the contest page and another error is that no screens will load and one can only go back to the beginning. Need to click on the Community link again to start over.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Compete > All Challenges > filter by design (or go straight to this URL: https://www.topcoder.com/challenges?filter[tracks

[2020-01-02 05:42] m-yadav opened #3537 "Broken Avatar in Connect"
**Describe the bug**
The avatar in a Connect notification email is broken and will not display any default icon in case the avatar is not provided by the user.

below snippets are for reference.

![image](https://user-images.githubusercontent.com/45197181/71653100-a2c9f700-2d50-11ea-81d5-1cfb0970865c.png)

**Expected Behaviour**
Avatar in connect notification emails should either be a user uploade

[2020-01-02 07:31] harshitmehta123 opened #3538 "Submissions and Artifacts accessible in Submission Review after Marathon Match"
Just like members have access to submissions in OR, on a similar permission model can we have members access submissions in Submission-Review app? Also, now that we are working on making members look at their own submissions in `My Submissions Tab`. We can make submissions of everyone accessible their itself after the Match.

[2020-01-02 07:33] harshitmehta123 commented on #3538
From the discussion on slack:  Lazy pointed out

[2020-01-03 21:05] rashmi73 commented on #3477
@sushilshinde request you to initiate payment for this as i hope tcx is working properly now

[2020-01-03 21:05] rashmi73 commented on #3505
@sushilshinde request you to initiate payment for this as i hope tcx is working properly now

[2020-01-03 21:08] rashmi73 commented on #3474
@urwithat  @sushilshinde I see PR for this too is merged, soon I will be paid for this too?

[2020-01-05 10:09] nithyaasworld opened #3541 "Firefox: New Navigation displays 'More' dropdown always though there is enough space to display all the items of the menu"
**Describe the bug**
Firefox: New Navigation displays 'More' dropdown always though there is enough space to display all the items of the menu

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.topcoder.com/challenges
2. Check the New Navigation

**Actual:**
'More' dropdown is always displayed regardless of the size of the screen in Firefox.

**Expected behavior**
'More' dropdown shou

[2020-01-06 07:38] kkartunov opened #3542 "TCO20 site bugs to fix"
Handle listed bugs in TCO20 Bugs to Fix: https://docs.google.com/spreadsheets/d/14X406cX9LfIBCkE92fAdknU9nbeZcxXhfreANWtkStc/edit#gid=0

[2020-01-06 10:17] sushilshinde commented on #3522
https://github.com/topcoder-platform/topcoder-react-lib/issues/123

[2020-01-06 13:12] SathyaJayabal opened #3543 "Clicking on Apply from open for review listings in challenge listing page shows an error"
User is not logged in
Go to All Challenges
Click on Open for review filter
click on apply for any of the challenges listed

actual: displays  the review opportunities page with an error
expected: must redirect the user to login page
<img width="1427" alt="Screenshot 2020-01-06 at 4 45 32 PM" src="https://user-images.githubusercontent.com/58783823/71820118-3171a780-30b4-11ea-81c5-66953f35037c.png">

[2020-01-06 18:41] mcskinner commented on #2359
@cwdcwd @crazyk07 @sushilshinde @rashmi73 it looks like this one fell through the cracks.

The [contest to fix this](https://www.topcoder.com/challenges/30097469?tab=details) has, theoretically, been live since July. But since @rashmi73 is here asking for more help, I suspect that the contest was not as "live" or set up as it needed to be.

[2020-01-07 10:57] sushilshinde opened #3545 "[$30]Find this call on community app"
Find this call in community app `DELETE /v3/submissions/`

Refer to `develop` branch on `community-app` and `topcoder-react-lib`

[2020-01-07 10:58] sushilshinde opened #3546 "[$80]Payment Task for #2696"
for failed attempt

https://github.com/topcoder-platform/community-app/issues/3478

Please don't take this task

[2020-01-07 11:04] sushilshinde commented on #3477
@rashmi73 I created fresh new task

https://github.com/topcoder-platform/community-app/issues/3546

[2020-01-07 11:05] sushilshinde commented on #3545
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors open for pickup

[2020-01-07 11:18] rashmi73 commented on #3477
@sushilshinde thanks, will wait for it to reflect in pacts.

[2020-01-07 17:12] luizrrodrigues commented on #2426
Duplicate of #2466

[2020-01-07 17:13] #2426 closed

[2020-01-07 17:27] luizrrodrigues commented on #2541
Duplicate of #2403

[2020-01-07 17:27] luizrrodrigues commented on #2541
Duplicate of #2396

[2020-01-07 17:32] luizrrodrigues commented on #2561
This one already fixed with #2395 and #2453

[2020-01-07 17:32] #2561 closed

[2020-01-07 17:33] rashmi73 commented on #3545
@sushilshinde pointing out the link to code? or actual website page where is it being used ?

[2020-01-07 17:33] luizrrodrigues commented on #2570
This one was fixed in #2395

[2020-01-07 17:33] #2570 closed

[2020-01-07 17:37] ajefts opened #3547 "Devices - add lookup data"
When  users are adding devices to their profiles, allow them to select from structured data values instead of free form text entry.  For example, right now someone needs to type in "iPhone 6".  So, we have that data entered in different ways:  "iphone 6", "IPHONE 6", "iphone6", etc.

<p></p>

The value add here is that this data helps us understand the capacity in the community to do work that req

[2020-01-07 17:37] ajefts commented on #3547
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1763052

[2020-01-07 17:49] luizrrodrigues commented on #2670
1. Already fixed.
2. Already fixed.
3. Is a different app, navigation is different here.
4. This menu was removed
5. Already fixed.
6. Already fixed.
7. Valid.

@nithyaasworld @Oanh-and-only-Oanh

[2020-01-07 17:55] luizrrodrigues commented on #2671
@kkartunov I think is not problem with href, page not reload just the animation of new nav.

This was reported in issue #2666

[2020-01-07 18:00] Oanh-and-only-Oanh commented on #2670
@luizrrodrigues @nithyaasworld,

3. open this in a new and separate tab
7. leave these as they are. They are on a different app so it's fine that they open on a different tab.

[2020-01-07 20:11] luizrrodrigues commented on #3454
Duplicate of #2666

[2020-01-07 20:16] luizrrodrigues commented on #3521
Relate with #3520

[2020-01-08 04:50] sushilshinde commented on #3545
@rashmi73 both

[2020-01-08 05:32] m-yadav opened #3548 "[$80] Performance issue while pulling up challenges from listing page"
**Describe the bug**

1. The user tried to access the below URL to search for salesforce challenges ran but nothing loaded on the screen for around 30 seconds.

https://www.topcoder.com/challenges/?bucket=past&tab=details&filter[text]=salesforce

Please improve performance to reduce loading time.

[2020-01-08 05:33] m-yadav commented on #3548
cc  @Oanh-and-only-Oanh

[2020-01-08 12:58] SathyaJayabal commented on #2670
@luizrrodrigues
here is one more page that does not have the new nav
https://www.topcoder.com/my-challenges/?status=completed

[2020-01-08 12:59] rashmi73 commented on #3545
@sushilshinde it is done pasting a screenshot of UI with route link as well as code link

[2020-01-08 13:03] luizrrodrigues commented on #2670
@SathyaJayabal Thanks

[2020-01-08 13:04] luizrrodrigues commented on #2670
Note: Bellow is header used by some TC app:
https://github.com/appirio-tech/topcoder-app/blob/dev/app/layout/header/header.jade

[2020-01-08 13:19] rashmi73 commented on #3545
<img width="902" alt="Capture" src="https://user-images.githubusercontent.com/41687423/71980831-09667d80-3247-11ea-8f6a-86fd15a5591f.PNG">

Steps to reach above screenshot:
1. Go to dev environment at https://www.topcoder-dev.com/challenges/30055701/my-submissions
2. login with topcoder TonyJ/appirio123
3. kindly change the challenge id if submission phase is over for above challenge. e.g  https:/

[2020-01-08 13:24] rashmi73 commented on #3545
Code links:

1. Clicking on delete button on any of the row makes the "showModal" true, and following modal appears https://github.com/topcoder-platform/community-app/blob/107840d8ed0ecd598e5ef2aec37be71621eba3c4/src/shared/containers/SubmissionManagement/index.jsx#L100

2. Clicking "delete submission" button at https://github.com/topcoder-platform/community-app/blob/107840d8ed0ecd598e5ef2aec37be7

[2020-01-08 13:25] rashmi73 commented on #3545
@sushilshinde it is ready

[2020-01-08 15:01] rootelement opened #3549 "[$5] TCX Test Issue"
Testing

[2020-01-08 15:35] crazyk07 commented on #3549
Contest https://www.topcoder.com/challenges/30112515 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-08 15:41] crazyk07 commented on #3478
Contest https://www.topcoder.com/challenges/30112517 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-08 15:41] crazyk07 commented on #3478
Contest https://www.topcoder.com/challenges/30112517 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-08 15:49] crazyk07 commented on #3477
Contest https://www.topcoder.com/challenges/30112518 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-08 15:49] crazyk07 commented on #3477
Contest https://www.topcoder.com/challenges/30112518 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-08 15:54] ajefts commented on #3478
Closed manually via Direct.

[2020-01-08 15:55] ajefts commented on #3477
closed manually via Direct.

[2020-01-08 15:55] crazyk07 commented on #3477
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-08 15:59] crazyk07 commented on #3478
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-08 16:12] ajefts commented on #3546
Closing as a duplicate

[2020-01-08 16:12] #3546 closed

[2020-01-09 03:28] ajefts opened #3550 "Migrate Member Search Feature on Community App"
Migrate the search feature into community app as opposed to trying to update the nav on that old topcoder-app.   topcoder-app should be deprecated.

<p></p>

Front-end code

<https://github.com/appirio-tech/topcoder-app/blob/dev/app/layout/header/header.jade>

<https://github.com/appirio-tech/topcoder-app/tree/dev/app/member-search>

<p></p>

[2020-01-09 03:28] ajefts commented on #3550
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/3613959

[2020-01-09 06:12] sushilshinde commented on #2696
@rashmi73 this is done

FYI... @rootelement

[2020-01-09 06:17] #3477 closed

[2020-01-09 06:17] crazyk07 commented on #3477
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-01-09 06:18] #3459 closed

[2020-01-09 06:22] rashmi73 commented on #3459
@sushilshinde I hope payment for this will be done too

[2020-01-09 08:13] kkartunov opened #3552 "Contentful leaderboards fixes"
- Leaderboard podium cards -  "fulfillment" text color should be #2A2A2A. Demo https://tco20.topcoder.com/competition-overview/win-a-trip/copilot-tournament
- Leaderboard podium - move the 1st,2nd and 3rd card upper to be closer to that tabs. In case of title is empty do not render H2 tag that makes layout expand.
- Add 4th place podium card to leaderboards and required support for it.

Design to

[2020-01-09 09:22] panjikharisma opened #3553 "[$40] Challenge Listing page to automatically saves the latest user browsing state"
In the current Challenge Listing page, we need to toggle off the 'irrelevant tracks' each time we visit this page. Resulting hundreds/thousands unnecessary clicks daily.

![Image of Challenge Listing](https://i.imgur.com/HKgt9UU.png)

From the user standpoint it will be nice in case the server could save the last state of our browsing state (which track we turned on, and which we turned off). This

[2020-01-09 14:11] iversonLv commented on #3519
@luizrrodrigues Could I take this?

Thanks.

[2020-01-09 14:25] luizrrodrigues commented on #3519
@iversonLv Yes

[2020-01-09 14:29] sjbr commented on #2734
please assign this to me

[2020-01-09 14:51] fctorial commented on #2700
I would like to work on this issue.

[2020-01-09 15:18] iversonLv commented on #3519
@luizrrodrigues read for review
Thanks.

[2020-01-09 15:18] iversonLv commented on #2583
@luizrrodrigues Could I pick this?
THANKS.

[2020-01-09 15:23] iversonLv commented on #2583
@nahidshahin I think I asked for this ticket first.
CC: @luizrrodrigues
Thanks.

[2020-01-09 15:24] sjbr commented on #2734
@luizrrodrigues
Having trouble replicating the issue, since the link produces a 404 error and in local deployment doesn't work either

[2020-01-09 15:32] k-tempest commented on #2592
@luizrrodrigues Could you assign me to this issue?

[2020-01-09 15:34] sjbr commented on #2495
@luizrrodrigues
Please assign this one to me
Thanks

[2020-01-09 15:39] HuWeika commented on #2423
please assign this to me.
Thank you.

[2020-01-09 15:44] nqviet commented on #2463
@luizrrodrigues: please assign this issue to me

[2020-01-09 15:48] iversonLv commented on #2583
@luizrrodrigues Ready for review
This PR is from topcoder-platform/navigation-component

Thanks.

[2020-01-09 15:51] luizrrodrigues commented on #2734
@kkartunov Can you share step how create custom links to test in local?

Thanks.