[2018-12-03 10:36] gurmeetb commented on #1778
ignore this request, found few previous challenges from my history

[2018-12-03 10:37] gurmeetb commented on #1778
1. I do see we have score for F2F and other challenges too
2. What do we show for non MM - do we still continue to show same score as before?

[2018-12-03 12:14] sushilshinde commented on #1778
@gurmeetb nothing should change on non-MM stuff

[2018-12-03 12:23] gurmeetb commented on #1778
@sushilshinde no worries, I tested Design / Develop / F2F and MM - all seemed fine to me. Let me know if you have some findings. Thanks

[2018-12-03 12:36] sushilshinde commented on #1778
@gurmeetb

1. Final column still there for MMs

2. Submissions still showing old data
http://api.topcoder.com/v4/challenges/17338
https://beta-community-app.topcoder.com/challenges/17338?tab=submissions

[2018-12-03 12:44] ThomasKranitsas commented on #1778
Contest https://www.topcoder.com/challenges/30075776 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-03 15:50] sushilshinde commented on #1775
@RiteshTC this challenge isn't visible to me

![screen shot 2018-12-03 at 9 19 09 pm](https://user-images.githubusercontent.com/683231/49384499-232eba80-f741-11e8-97f7-821c1ea82a98.png)

@ajefts @cwdcwd are you able to see

[2018-12-03 16:36] gurmeetb commented on #1778
@sushilshinde Can you pass on what exactly is needed. The requirement as per my understanding was
1: For MM, it will show "-" for Final (as shown above in snapshot)
2. for all others, it will be same as shown before.

Can you add some snapshots of what is shown and what should be shown ?

[2018-12-03 16:44] gurmeetb commented on #1778
![f2f_challenge](https://user-images.githubusercontent.com/14284629/49387800-c2a37b80-f748-11e8-864f-b79ee44c6b6b.jpg)
![mm_challenge](https://user-images.githubusercontent.com/14284629/49387802-c33c1200-f748-11e8-9e52-b4a29ce03ad3.jpg)

See attached ☝️

[2018-12-04 06:32] sushilshinde commented on #1778
@gurmeetb this is missing for MMs

![screen shot 2018-12-04 at 12 02 20 pm](https://user-images.githubusercontent.com/683231/49423175-81e54a00-f7bc-11e8-837a-cc5918c39d37.png)

[2018-12-04 06:57] gurmeetb commented on #1778
@sushilshinde do you mean you don't see them ? I see them in above snapshot ?

[2018-12-04 06:58] sushilshinde commented on #1778
No it has to come from different source (score object)

[2018-12-04 06:58] gurmeetb commented on #1778
ah ok, checking now...

[2018-12-04 06:59] sushilshinde commented on #1778
But for non-MMs there will not be score object, at least I haven't seen one.

[2018-12-04 08:55] gurmeetb commented on #1778
@sushilshinde it is ready, kindly verify.

[2018-12-04 09:37] sushilshinde commented on #1778
Can you rais PR again @gurmeetb?

[2018-12-04 12:08] sushilshinde commented on #1778
Thanks @gurmeetb everything is working now.

[2018-12-04 12:08] #1778 closed

[2018-12-04 12:09] ThomasKranitsas commented on #1778
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30075776<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-04 12:18] sushilshinde commented on #1774
@ThomasKranitsas please have a look

[2018-12-04 15:02] RiteshTC commented on #1775
@sushilshinde
The issue is applicable to all challenges of private community accessed by the topcoder URL. Pick any challenge from any private community to reproduce the issue

[2018-12-05 07:33] m-yadav opened #1785 "[$50]Undefined id in challenge details page"
**Describe the bug**
Challenge details page does not shows links for download materials for registered users.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any challenge for which you have not yet registered.
2. Register for the challenge.
3. Looks for download section where you ll see empty spaces. On inspecting the element, one could see that the hyperlink is having docid field set

[2018-12-05 07:35] RiteshTC commented on #1785
@cwdcwd @sushilshinde

[2018-12-06 15:02] sushilshinde opened #1786 "[$90]Remove history UI for non-MM challenges"
Non-MM Submissions should like this

<img width="1281" alt="screen shot 2018-12-06 at 8 27 30 pm" src="https://user-images.githubusercontent.com/683231/49591876-a7797b80-f995-11e8-82c5-ff96af612609.png">

instead of

<img width="1301" alt="screen shot 2018-12-06 at 8 31 41 pm" src="https://user-images.githubusercontent.com/683231/49592001-faebc980-f995-11e8-86bc-a2bf2b392aed.png">

[2018-12-06 16:29] urwithat opened #1787 "[$40]Member Profile - Cannot read property 'bind' of undefined"
Redirect to Member Profile "https://www.topcoder.com/settings/profile".
Click on save and the page will become blank.
Look into browser console and you'll find an error "Cannot read property 'bind' of undefined"

Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/profile'
2. Open Browser console
3. Click on 'Save'
4. See error in browser console "Cannot read property 'bin

[2018-12-06 16:35] ThomasKranitsas commented on #1785
Contest https://www.topcoder.com/challenges/30076266 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-06 16:35] ThomasKranitsas commented on #1787
Contest https://www.topcoder.com/challenges/30076269 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-06 16:35] ThomasKranitsas commented on #1787
Contest https://www.topcoder.com/challenges/30076269 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-06 16:40] gurmeetb commented on #1785
@sushilshinde which branch should be used ?

[2018-12-06 16:41] ThomasKranitsas commented on #1787
Contest https://www.topcoder.com/challenges/30076269 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-06 16:44] gurmeetb commented on #1786
@sushilshinde do you want me to fix this ? Should be quick one.

[2018-12-06 16:45] ThomasKranitsas commented on #1775
Contest https://www.topcoder.com/challenges/30076272 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-06 16:45] ThomasKranitsas commented on #1775
Contest https://www.topcoder.com/challenges/30076272 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-06 16:45] sushilshinde commented on #1775
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-12-06 16:48] ThomasKranitsas commented on #1775
Contest https://www.topcoder.com/challenges/30076272 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-06 16:48] sushilshinde commented on #1785
https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2018-12-06 16:49] sushilshinde commented on #1775
PR on
https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2018-12-06 16:50] sushilshinde commented on #1787
PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2018-12-06 16:58] sushilshinde commented on #1786
No, not yet @gurmeetb

[2018-12-06 18:39] cwdcwd commented on #1787
![](https://github.trello.services/images/mini-trello-icon.png) [Saving profile errors with blank screen](https://trello.com/c/sF0T4zbl/16-saving-profile-errors-with-blank-screen)

[2018-12-06 18:48] hokienick opened #1788 "Dashboard Announcement - Text Formatting"
As we mentioned before, we need to replace the way "Description" is being handled currently.

It would be great to get a WYSIWYG box for formatting so that we can create new lines if necessary and bullets instead of stars.

[2018-12-06 18:48] cwdcwd commented on #1775
![](https://github.trello.services/images/mini-trello-icon.png) [File attachments not showing on challenge page.](https://trello.com/c/F62jkdYA/17-file-attachments-not-showing-on-challenge-page)

[2018-12-06 18:49] cwdcwd commented on #1785
![](https://github.trello.services/images/mini-trello-icon.png) [File attachments not showing on challenge page.](https://trello.com/c/F62jkdYA/17-file-attachments-not-showing-on-challenge-page)

[2018-12-06 20:12] gurmeetb commented on #1785
@sushilshinde I tried via UI but invasion as it shows I am registered but doesn't shows the full Documents sections - see below

![onprod](https://user-images.githubusercontent.com/14284629/49609364-48316080-f9c1-11e8-9ad9-bec09ddebce4.jpg)

So I tried using API `https://api.topcoder.com/v4/challenges/30075934` and in response I don't see `documents` elements - can you confirm if the API being use

[2018-12-06 20:13] gurmeetb commented on #1785
And it doesn't lets me unregister, can we push some sample challenges as all challenges don't have documents.

[2018-12-07 02:12] sushilshinde commented on #1785
Ok I'll create challenges on dev

[2018-12-07 06:00] gurmeetb commented on #1785
@sushilshinde any updates here ☝️

[2018-12-07 06:38] kkartunov commented on #1788
@hokienick Yeah, we will handle this with #1771 in one shot.

[2018-12-07 08:55] sushilshinde commented on #1785
@gurmeetb I did launch a challenge it takes around 4 hours to launch.

[2018-12-07 09:22] sushilshinde commented on #1787
Thanks @Gauravseta

[2018-12-07 09:22] #1787 closed

[2018-12-07 09:58] gurmeetb commented on #1785
@sushilshinde  Could you help me with name for challenge so I can try in few hrs once it is live ?

[2018-12-07 11:51] gurmeetb commented on #1785
@sushilshinde can you suggest ☝️ ? I think it should be up now

[2018-12-07 11:56] sushilshinde commented on #1785
There is a problem in creating challenges in dev environment. Once that is up will create a new one.

[2018-12-07 11:58] gurmeetb commented on #1785
ah, ok

[2018-12-07 12:08] sushilshinde commented on #1775
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2018-12-07 12:09] gurmeetb commented on #1785
@sushilshinde can I pick up other while we are on hold for this ?

[2018-12-07 12:14] ThomasKranitsas commented on #1775
Contest https://www.topcoder.com/challenges/30076272 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-07 13:37] sushilshinde commented on #1785
@gurmeetb  keep watch on this within an hour and half

https://www.topcoder-dev.com/challenges/30054405

[2018-12-07 17:58] gurmeetb commented on #1785
still waiting for challenge to be active, so putting back on hold.

[2018-12-10 06:09] ajaysaini9782 opened #1791 "Unable to get member active challenges"
**Describe the bug**
Getting the error message while accessing the profile page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/members/weiszago/'
2. Click on 'Activity option'

**Screenshots**
![image](https://user-images.githubusercontent.com/44159743/49713674-c1ee7600-fc6f-11e8-834a-4ac878166870.png)

[2018-12-10 07:10] RiteshTC commented on #1791
@cwdcwd @sushilshinde

[2018-12-10 07:20] ajaysaini9782 opened #1792 "Incorrect redirection on topgear"
**Describe the bug**
Incorrect redirection on topgear.
when user is logging out from the topgear.topcopder.com,
and again login to topgear, redirection is happening to topcoder.com.

**Expected behavior**
Redirection should be to topgear.topcoder.com.

[2018-12-10 09:11] sushilshinde commented on #1791
@skyhit please comment

[2018-12-10 09:48] sushilshinde commented on #1791
Trying to fix it today

[2018-12-10 10:02] sushilshinde opened #1793 "[$50]Fix Lint Errors"
There is an error on `npm run lint`

`error  A form label must be associated with a control  jsx-a11y/label-has-associated-control`

PR on branch

https://github.com/topcoder-platform/community-app/tree/lint-fixes

Fix all the other error as well.

If you are changing UI code, please make sure that UI doesn't break.

[2018-12-10 10:02] ThomasKranitsas commented on #1793
Contest https://www.topcoder.com/challenges/30076544 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-10 10:05] ThomasKranitsas commented on #1793
Contest https://www.topcoder.com/challenges/30076544 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-10 10:05] ThomasKranitsas commented on #1793
Contest https://www.topcoder.com/challenges/30076544 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-10 10:08] sushilshinde commented on #1793
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-12-10 10:08] ThomasKranitsas commented on #1793
Contest https://www.topcoder.com/challenges/30076544 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-10 10:09] sushilshinde commented on #1793
@rashmi73 please keep the communication on, this is urgent.
Don't change the rules.

[2018-12-10 10:11] rashmi73 commented on #1793
@sushilshinde ya sure it will be completed immediately and keep you updated

[2018-12-10 10:11] sushilshinde commented on #1793
This is not expected

https://github.com/topcoder-platform/community-app/blob/158a66537350725db22293d0ff04950721eb604d/.eslintrc#L5

[2018-12-10 10:14] sushilshinde commented on #1793
@rashmi73 please refer to rules from

https://github.com/topcoder-platform/community-app/releases/tag/v0.15.25

[2018-12-10 10:16] kkartunov commented on #1791
@sushilshinde why assigned to me?

[2018-12-10 10:20] rashmi73 commented on #1793
@sushilshinde
1.you want me to remove lint erros without modifying eslintrc?
2. but i guess that is standard way to remove linting , in short customizing it to our needs.
3. you expect change in code to remove lint errors?

[2018-12-10 11:30] sushilshinde opened #1795 "[$40]Forum URLs are wrong for Marathon matches"
![tco19 yaw misalignment - tco19 yaw misalignment 2018-12-10 16-59-58](https://user-images.githubusercontent.com/683231/49730018-165c1a80-fc9d-11e8-8351-952344723555.png)

https://www.topcoder.com/challenges/17323
http://api.topcoder.com/v4/challenges/17323

Since this is a marathon match challenge it should have a forum link

https://apps.topcoder.com/forums/?module=ThreadList&forumID=643602

and

[2018-12-10 11:32] ThomasKranitsas commented on #1795
Contest https://www.topcoder.com/challenges/30076558 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-10 11:32] ThomasKranitsas commented on #1795
Contest https://www.topcoder.com/challenges/30076558 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-10 11:32] sushilshinde commented on #1795
@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-12-10 11:36] ThomasKranitsas commented on #1795
Contest https://www.topcoder.com/challenges/30076558 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-10 11:45] gurmeetb commented on #1775
@sushilshinde it has been 3 days and no MR, should this be opened for pickup ?

[2018-12-10 12:01] Gauravseta commented on #1775
@gurmeetb I am alreayd working and it willl be completed todya evening. same has been conveyed to sushil

[2018-12-10 12:35] ajaysaini9782 opened #1796 "Handle color changed"
**Describe the bug**
Color of the handle for the member has been changed.

Handle color is now black instead of dark blue.

[2018-12-10 12:38] ajaysaini9782 opened #1797 "Issue related to submission tab"
**Describe the bug**

If the user tries to click on Submission tab on a challenge, the system takes him to a page with no return back.

[2018-12-10 13:16] sushilshinde commented on #1795
![](https://github.trello.services/images/mini-trello-icon.png) [Forum links are wrong for MMs](https://trello.com/c/tbJQEF9a/19-forum-links-are-wrong-for-mms)

[2018-12-10 18:38] Gauravseta commented on #1775
@sushilshinde PR #1798

[2018-12-10 19:52] hokienick commented on #1771
Yes I believe responsiveness is important too.  Let's add it to the ticket!

[2018-12-10 20:16] hokienick opened #1799 "Dashboard Announcement Responsiveness"
This ticket is to make #1771 - Dashboard Announcement Layout responsive as per your suggestion.

[2018-12-10 21:37] PrakashDurlabhji commented on #1795
@sushilshinde PR created #1800

[2018-12-10 22:37] ajefts opened #1801 "[$70]Add payments nav to topgear"
On the topgear site (topgear.topcoder.com), add the nav options for payments and my profile.  This should match the look/feel/behavior of the public community experience.

![screen shot 2018-12-10 at 5 33 39 pm](https://user-images.githubusercontent.com/3812270/49766041-17dc1180-fca2-11e8-860d-c926a6e4c91f.png)

[2018-12-10 22:37] ajefts commented on #1801
@sushilshinde Could we get this one done this week?

[2018-12-11 06:53] kkartunov commented on #1791
Fixed.

[2018-12-11 06:53] #1791 closed

[2018-12-11 06:56] ThomasKranitsas commented on #1793
Contest https://www.topcoder.com/challenges/30076544 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-11 07:12] ajaysaini9782 opened #1802 "Deadline Missing on Challenge Page"
**Describe the bug**
Challenge is still active but deadline missing on challenge page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/challenges/30074777/?type=design '
2. Check the next deadline option

**Expected behavior**
Challenge is still in active state.
Submission stage should come in next deadline option.

**Screenshots**
![image](https://user-images

[2018-12-11 08:12] sushilshinde commented on #1795
thanks @PrakashDurlabhji

testing...

[2018-12-11 08:24] sushilshinde commented on #1801
@ajefts few questions

**MY PROFILE**

My Profile should point to

`https://topgear.topcoder.com/members/__sushilshinde`

OR

`https://www.topcoder.com/members/_sushilshinde`

**PAYMENTS**

Payments should point to

`https://community.topcoder.com/PactsMemberServlet?module=PaymentHistory&full_list=false`

[2018-12-11 08:36] #1795 closed

[2018-12-11 08:37] ThomasKranitsas commented on #1795
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30076558<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-11 08:48] sushilshinde commented on #1802
@ajaysaini9782 is it only this challenge?

[2018-12-11 08:48] sushilshinde commented on #1797
@ajaysaini9782 please steps and screenshot

[2018-12-11 08:49] sushilshinde commented on #1796
Please screenshots and steps @ajaysaini9782

[2018-12-11 09:01] sushilshinde commented on #1775
testing...

[2018-12-11 09:05] ajaysaini9782 commented on #1802
@sushilshinde As of now we can see only for this challenge.
if we will come to know for other challenge, will let you know.

[2018-12-11 09:13] ajaysaini9782 commented on #1796
@sushilshinde
https://www.topcoder.com/challenges/30076476/?tab=registrants

![screenshot handles](https://user-images.githubusercontent.com/44159743/49789963-220a1880-fd53-11e8-8445-9373471e4a8d.png)

[2018-12-11 10:30] sushilshinde commented on #1775
Deployed on prod

[2018-12-11 10:30] #1775 closed

[2018-12-11 10:31] ThomasKranitsas commented on #1775
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30076272<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-11 10:43] RiteshTC commented on #1797
@Dara-K

[2018-12-11 10:57] RiteshTC opened #1806 "[$50]Submission Page ignores Server Side Error"
**Describe the bug**
Submission Page shows successful message, when status code of create submission is not success.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a topgear challenge
2. Register
3. Submit
4. Set a URL that doesn't contains curly braces "http://www.google.com/?{searchMe}"
5. Check the Network console.
6. The Api fails with error {"message":"\"url\" must be a valid uri

[2018-12-11 10:58] RiteshTC commented on #1806
@sushilshinde @cwdcwd

[2018-12-11 11:10] ajefts commented on #1801
https://www.topcoder.com/members/_sushilshinde

and

https://community.topcoder.com/PactsMemberServlet?module=PaymentHistory&full_list=false

Thanks.

[2018-12-11 13:30] ThomasKranitsas commented on #1806
Contest https://www.topcoder.com/challenges/30076678 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-11 13:30] ThomasKranitsas commented on #1806
Contest https://www.topcoder.com/challenges/30076678 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-11 13:32] nahidshahin commented on #1806
I want to work on it, please

[2018-12-11 13:33] ThomasKranitsas commented on #1806
Contest https://www.topcoder.com/challenges/30076678 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-11 13:34] sushilshinde commented on #1806
@nahidshahin please assign yourself next time :)

[2018-12-11 13:36] ThomasKranitsas commented on #1801
Contest https://www.topcoder.com/challenges/30076679 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-11 13:36] ThomasKranitsas commented on #1801
Contest https://www.topcoder.com/challenges/30076679 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-11 13:36] sushilshinde commented on #1806
PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2018-12-11 13:37] sushilshinde commented on #1801
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2018-12-11 13:41] gurmeetb commented on #1801
@sushilshinde this is still assigned to you, if you open, kindly assign me.

[2018-12-11 13:43] ThomasKranitsas commented on #1801
Contest https://www.topcoder.com/challenges/30076679 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-11 13:57] sushilshinde commented on #1801
![](https://github.trello.services/images/mini-trello-icon.png) [Add new buttons in navigation](https://trello.com/c/ZhQuBBMf/8-add-new-buttons-in-navigation)

[2018-12-11 14:12] sushilshinde commented on #1797
@Dara-K can you share the challenge URL

[2018-12-11 14:15] Dara-K commented on #1797
It's the same for all the challenges - I don't remember that one exactly but  you can check these - designa nd development:

https://www.topcoder.com/challenges/30076591?tab=registrants
https://www.topcoder.com/challenges/30076504?tab=registrants

[2018-12-11 14:38] sushilshinde commented on #1801
@Gauravseta no not today.

[2018-12-11 14:44] sushilshinde commented on #1797
@Dara-K please ping me on slack

[2018-12-11 15:22] RiteshTC commented on #1802
Other Challenge with the same Issue
30075623

@cwdcwd

[2018-12-12 07:30] urwithat opened #1811 "[$10] Member profile - Not able to add or remove Linked Accounts"
Not able to remove my github account, and I added stackoverflow which has not added either. Some thing broken in community app.

Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/account'
2. Click on 'Linked Accounts'
3. Under 'Your linked accounts'
4. Add an account e.g. github / stackoverflow / etc
5. Will not add, and if added will not remove

Screenshot:
<img width="

[2018-12-12 07:37] urwithat opened #1812 "[$20] Member profile - Not able to Change Email Address / Password"
Not able to Change my email address or password. Some thing broken in community app.

Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/account'
2. Click on 'Change Email'
3. Enter 'New Email'
4. Click on 'Send Verification Email'

1. Go to 'https://www.topcoder.com/settings/account'
2. Enter 'Password' & 'New Password'
3. Click on 'Change Password'

<img width="1429" al

[2018-12-12 08:39] ThomasKranitsas commented on #1811
@urwithat do you mean the delete button is not clickable or what?

[2018-12-12 08:43] ThomasKranitsas commented on #1812
Contest https://www.topcoder.com/challenges/30076800 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 08:43] ThomasKranitsas commented on #1812
Contest https://www.topcoder.com/challenges/30076800 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 08:45] urwithat commented on #1811
@ThomasKranitsas - Yes the delete button, for my github account thats added.

[2018-12-12 08:45] ThomasKranitsas commented on #1811
Contest https://www.topcoder.com/challenges/30076801 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 08:45] ThomasKranitsas commented on #1811
Contest https://www.topcoder.com/challenges/30076801 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 08:47] ThomasKranitsas commented on #1811
Contest https://www.topcoder.com/challenges/30076801 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 08:48] ThomasKranitsas commented on #1811
Contest https://www.topcoder.com/challenges/30076801 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 08:48] ThomasKranitsas commented on #1812
Contest https://www.topcoder.com/challenges/30076800 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 08:48] ThomasKranitsas commented on #1811
Contest https://www.topcoder.com/challenges/30076801 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 08:48] ThomasKranitsas commented on #1812
Contest https://www.topcoder.com/challenges/30076800 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 08:57] sushilshinde commented on #1801
@gurmeetb

topcoder-dev.com already have these buttons but not for

topgear.topcoder-dev.com

[2018-12-12 08:57] ThomasKranitsas opened #1813 "[$1] Fix missing icon for Financial institution"
The icon for `Tools > Service Providers > Financial Institution` is missing thus it's throwing an error.

[2018-12-12 08:58] ThomasKranitsas commented on #1813
Contest https://www.topcoder.com/challenges/30076802 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 08:59] ThomasKranitsas commented on #1813
Contest https://www.topcoder.com/challenges/30076802 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 09:00] ThomasKranitsas commented on #1813
Contest https://www.topcoder.com/challenges/30076802 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 09:00] ThomasKranitsas commented on #1811
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 09:00] #1811 closed

[2018-12-12 09:00] rashmi73 commented on #1811
@ThomasKranitsas can i try this?

[2018-12-12 09:01] ThomasKranitsas commented on #1811
I've fixed it

[2018-12-12 09:02] sushilshinde commented on #1796
it should be

should be dark blue 110: #006DEA

[2018-12-12 09:17] gurmeetb commented on #1801
ok, I am on `http://topgear.topcoder-dev.com/` but don't see an option to login. Is there something I need to do to setup login to private community ?

[2018-12-12 09:35] sushilshinde commented on #1801
Check
**Accessing Wipro Community** section on

https://github.com/topcoder-platform/community-app

[2018-12-12 09:38] sushilshinde commented on #1786
@ajefts

@skyhit got this fix on the backend.
These are two example before and after the phase

https://www.topcoder.com/challenges/30071198?tab=submissions
https://www.topcoder.com/challenges/30076384?tab=submissions

[2018-12-12 09:46] sushilshinde commented on #1806
@nahidshahin are you working on this, this should be easy to fix

[2018-12-12 09:46] gurmeetb commented on #1801
Thanks @sushilshinde

[2018-12-12 11:23] #1812 closed

[2018-12-12 11:24] ThomasKranitsas commented on #1812
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30076800<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 11:24] #1813 closed

[2018-12-12 11:30] ThomasKranitsas commented on #1806
Contest https://www.topcoder.com/challenges/30076678 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 11:47] RiteshTC opened #1815 "Remove Copyright notice from Marathon Match Challenge Statement"
**Describe the bug**
Remove the copyright text from the marathon match problem statements.
https://www.topcoder.com/challenges/17323

**Screenshots**
<img width="703" alt="remove copyright" src="https://user-images.githubusercontent.com/5771673/49867886-cb274080-fe31-11e8-8913-b467cbd000ab.png">

[2018-12-12 11:47] ThomasKranitsas commented on #1774
@sushilshinde which is the repo that generates those emails?

[2018-12-12 11:48] RiteshTC commented on #1815
cc @alamora

[2018-12-12 11:52] m-yadav opened #1816 "[$60]Challenge List Filter Issue"
**Describe the bug**
When the user filter challenges by tracks and after reload the page, the filters by track got lost, even though user can see them in the URL and this has been working before (at least a month ago) as reported by the user

**To Reproduce**
Steps to reproduce the behavior:
1. Open  https://www.topcoder.com/challenges
2. Turn off tracks Design and Data Science so only Development

[2018-12-12 11:55] sushilshinde commented on #1774
@ThomasKranitsas I think this is not a community app problem

@skyhit shall I open this on challenge api repo?

[2018-12-12 12:13] sushilshinde commented on #1801
@ajefts please have a look

https://test-community-app.topcoder-dev.com/__community__/wipro

[2018-12-12 12:14] sushilshinde commented on #1793
@PrakashDurlabhji when can I expect PR?

[2018-12-12 12:47] ajefts commented on #1801
Looks good.  Can we open the payments page in a new tab?

[2018-12-12 12:52] gurmeetb commented on #1786
I would suggest let's take off that `History` completely from non-MM challenges for better UI experience. Instead of `-` we can show `Pending...` while it is under Review.

[2018-12-12 13:33] sushilshinde commented on #1785
@m-yadav can you ask a person to create similar challenge in dev env (topcoder-dev.com) because I [created one](https://www.topcoder-dev.com/challenges/30054460) and that doesn't show Downloads options

[2018-12-12 13:49] sushilshinde opened #1817 "Debug submissions tab issue"
**Describe the bug**
Submission tab click breaks the page. The issue is on production not on the development (strange). Find out why it's happening. This only happens for marathon matches and design challenges.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.topcoder.com/challenges/17323
2. Click on the SUBMISSIONS tab
3. Blank screen

**Expected behavior**
But if you do t

[2018-12-12 13:53] ThomasKranitsas commented on #1817
Contest https://www.topcoder.com/challenges/30076867 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 13:53] ThomasKranitsas commented on #1817
Contest https://www.topcoder.com/challenges/30076867 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 13:54] ThomasKranitsas commented on #1817
Contest https://www.topcoder.com/challenges/30076867 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 13:55] ThomasKranitsas commented on #1817
Contest https://www.topcoder.com/challenges/30076867 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-12 14:07] sushilshinde commented on #1797
Hoping to solve this here https://github.com/topcoder-platform/community-app/issues/1817

[2018-12-12 14:09] ThomasKranitsas commented on #1817
@sushilshinde fixed in https://github.com/topcoder-platform/community-app/commit/f65a9006736206872b5a115ca01797bee9dc8fdf

[2018-12-12 15:41] sushilshinde commented on #1796
@ThomasKranitsas please go ahead with this. Blue color here only represents href html link, not the ranking. This change applied to non-MM challenge pages.

FYI... @Dara-K

[2018-12-12 17:18] ThomasKranitsas commented on #1796
Fixed in https://github.com/topcoder-platform/community-app/commit/f8d53e6e01bd9074d2cb5776f176227ed545d6f7

[2018-12-12 17:18] #1796 closed

[2018-12-12 19:01] gurmeetb commented on #1806
@sushilshinde challenges page is failing on topgear, can you take a quick look if you can see it fine?

See errors below:

![topgear_challenges_not_loading](https://user-images.githubusercontent.com/14284629/49892201-5d4d3a00-fe6e-11e8-84a7-f13df139c034.jpg)

[2018-12-12 19:14] gurmeetb commented on #1806
Ok, finally came up, but stuck on Step 4, it is not clear

`4. Set a URL that doesn't contains curly braces "http://www.google.com/?{searchMe}" `

@RiteshTC Can you help clarify what you meant here☝️  ?

[2018-12-13 06:57] gurmeetb commented on #1806
@sushilshinde @RiteshTC ☝️ kindly suggest as I tried using URL in `LINK` but it complains it needs to be zip, can you verify the steps once?

[2018-12-13 08:18] ThomasKranitsas commented on #1817
Can we close this? Did you test in prod?

[2018-12-13 09:35] sushilshinde commented on #1806
@gurmeetb

it's working locally for me, if you tested yesterday then API was down.

Today it is working.

![screen shot 2018-12-13 at 3 02 43 pm](https://user-images.githubusercontent.com/683231/49929293-2d427d00-fee8-11e8-8095-5aa852a18c86.png)

About requirement, I think they are expecting if the wrong URL was entered they should see the error message.

Use this challenge that I created yesterda

[2018-12-13 10:14] gurmeetb commented on #1806
Thanks @sushilshinde

[2018-12-13 10:30] ThomasKranitsas commented on #1817
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30076867<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-13 10:36] ThomasKranitsas commented on #1797
I'm not sure I understand what the issue here is but I did some fixes. Can someone verify if the issue has been fixed?

[2018-12-13 12:06] RiteshTC commented on #1785
@sushilshinde request you to kindly attach a file in files section.
<img width="1282" alt="filessection" src="https://user-images.githubusercontent.com/5771673/49937680-89fc6280-fefd-11e8-886c-fb0eb553004d.png">

[2018-12-13 12:12] sushilshinde commented on #1785
I did try to attach but doesn't reflect

[2018-12-13 12:48] RiteshTC commented on #1785
@sushilshinde
Probably its a configuration issue with dev environment. Please reach out to the product manager to confirm.

[2018-12-13 13:06] sushilshinde commented on #1785
@ajefts please help here.

[2018-12-13 13:07] ThomasKranitsas commented on #1793
Contest https://www.topcoder.com/challenges/30076544 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-13 13:22] ThomasKranitsas commented on #1793
I'm on it

[2018-12-13 13:41] sushilshinde commented on #1801
I'll open another issue for this one.

[2018-12-13 13:43] sushilshinde commented on #1786
@vic-topcoder can you suggest here

[2018-12-13 13:47] sushilshinde commented on #1797
fixed

[2018-12-13 13:47] #1797 closed

[2018-12-13 13:50] gurmeetb commented on #1806
![error](https://user-images.githubusercontent.com/14284629/49942669-fb431200-ff0b-11e8-950a-0109961f76a0.jpg)

@sushilshinde I see the codebase has the logic to show this message when submission submit fails. Do we want to go with this or still show the error message or we could bundle the error message along with this ? Kindly suggest and will submit MR accordingly.

[2018-12-13 13:59] gurmeetb commented on #1806
![proposed_error_format](https://user-images.githubusercontent.com/14284629/49943217-57f2fc80-ff0d-11e8-8cd0-4682a20a8679.jpg)

I would propose we should like this ☝️

[2018-12-13 14:04] gurmeetb commented on #1801
@sushilshinde if you would like me to continue (as it is extension of this), feel free to assign to me.

[2018-12-13 14:11] Dara-K commented on #1797
Looks good, thank you!

[2018-12-13 14:32] alamora commented on #1815
Actually, I dont see it: odd.  Anyway, please update the copyright.

[2018-12-13 14:44] ThomasKranitsas commented on #1793
https://github.com/topcoder-platform/community-app/pull/1819

[2018-12-13 14:45] #1793 closed

[2018-12-13 14:45] ThomasKranitsas commented on #1793
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30076544<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-13 15:44] RiteshTC commented on #1815
@sushilshinde
Please help here.

[2018-12-13 15:48] ThomasKranitsas commented on #1815
This doesn't seem to be an issue in the community app. The API returns it's as text which means it was probably entered in the spec (maybe in Direct?).

See: http://api.topcoder.com/v4/challenges/17323

It's part of the `detailedRequirements`.

I would say, the copilot copy-pasted that paragraph in the spec. We can close this ticket.

[2018-12-13 17:33] alamora commented on #1815
Please do NOT close this ticket.  The purpose of this ticket is to fix the problem.  It's not fixed.

Note the Marathons are managed through MPSQAS - are you taking that into account?  Eg I dont personally know if the community API has anything to do with it.  These pages are legacy.

If its a copilot copy/paste issue, lets experiment and make sure that's the case before we close this.  I'll ask t

[2018-12-13 18:32] vic-topcoder commented on #1786
for non MM challenges history really makes no sense, so I would think we are keeping the standard submission UI, as the users are used to it.

[2018-12-13 21:04] ajefts commented on #1815
@sushilshinde can you please triage this one?  I'm assuming the text was loaded from informix into elastic search when we did the data migration from old to new.

Let's strip the copyright content out of the requirements field and make it part of the challenge page template similar to what we do for the payments paragraph at the bottom of the challenges.  It should only show on marathon match page

[2018-12-14 07:36] sushilshinde commented on #1786
ok thanks @vic-topcoder

[2018-12-14 07:53] sushilshinde commented on #1806
Thanks @gurmeetb

[2018-12-14 07:53] #1806 closed

[2018-12-14 07:54] ThomasKranitsas commented on #1806
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30076678<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-14 07:55] sushilshinde commented on #1801
Thanks @gurmeetb

[2018-12-14 07:55] #1801 closed

[2018-12-14 07:55] ThomasKranitsas commented on #1801
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30076679<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-14 08:01] sushilshinde commented on #1816
PR on
https://github.com/topcoder-platform/community-app/tree/hot-fixes

Prod mode setup locally
If you want run app in prod mode locally refer README

[2018-12-14 08:02] ThomasKranitsas commented on #1816
Contest https://www.topcoder.com/challenges/30077021 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-14 08:02] ThomasKranitsas commented on #1816
Contest https://www.topcoder.com/challenges/30077021 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-14 08:03] ThomasKranitsas commented on #1816
Contest https://www.topcoder.com/challenges/30077021 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-14 08:36] sushilshinde commented on #1786
**Requirement Refined :**

Remove new submission table (UI) for non-MM challenges

`https://www.topcoder.com/challenges/30076536?tab=submissions`

![111](https://user-images.githubusercontent.com/683231/49992056-f3857b00-ffa8-11e8-975e-f1160e0bf942.png)

With the old submission table (UI)

![screen shot 2018-12-14 at 2 01 25 pm](https://user-images.githubusercontent.com/683231/49992096-19128480-ff

[2018-12-14 08:42] sushilshinde commented on #1786
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2018-12-14 08:43] ThomasKranitsas commented on #1786
Contest https://www.topcoder.com/challenges/30077023 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-14 08:43] ThomasKranitsas commented on #1786
Contest https://www.topcoder.com/challenges/30077023 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-14 08:44] ThomasKranitsas commented on #1786
Contest https://www.topcoder.com/challenges/30077023 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-14 08:45] sushilshinde commented on #1815
I think we found the problem after long debugging exercise with @skyhit

This is one jar where this text is hardcoded, @skyhit will update the challenge API with this new JAR.

So it will be always a current year henceforth.

fyi @ajefts @alamora

[2018-12-14 08:48] ThomasKranitsas commented on #1786
Contest https://www.topcoder.com/challenges/30077023 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-14 09:04] sushilshinde commented on #1774
This is a new requirement not necessarily a bug.

We are trying to fix the other issue in which URL submission should be available for private challenges from public domains.

So I will keep this on hold.

[2018-12-14 09:10] sushilshinde commented on #1734
@kkartunov we will fix this in performance exercise. Currently on hold

[2018-12-14 09:17] #1771 closed

[2018-12-14 09:17] #1788 closed

[2018-12-14 09:18] kkartunov commented on #1799
@hokienick we need to define what is expected here. As far I can see the layout is responsive.

[2018-12-14 09:55] kkartunov commented on #1734
@sushilshinde OK

[2018-12-14 09:56] sushilshinde commented on #1816
try this, I deployed your code here

https://beta-community-app.topcoder.com/challenges?filter[tracks][develop]=true

[2018-12-14 09:58] gurmeetb commented on #1816
checking

[2018-12-14 10:24] f0rc0d3r opened #1825 "Missing checkpoint submission dates in design contest pages"
**Description**

I've noticed that there has been some change in the tab "registrants" from contests pages, that it's not reflecting who is submitting for checkpoint. I think that this is important for us to know this information because usually extensions are not granted if there are submissions in the platform, but right now you don't have this information which might cause some problems.

In de

[2018-12-14 11:15] sushilshinde commented on #1816
@gurmeetb

Clear this cache and reload

![screen shot 2018-12-14 at 4 45 00 pm](https://user-images.githubusercontent.com/683231/50000456-a660d380-ffbf-11e8-9a8a-9fe0ff29364e.png)

[2018-12-14 12:57] gurmeetb commented on #1816
please see - https://youtu.be/5WJrFz2h6Z0

[2018-12-14 23:29] NehaSharma02 opened #1826 "Issue with the password reset link"
Incorrect repo. Please ignore

[2018-12-14 23:35] Dara-K opened #1827 "Update Topcoder Colors"
**Describe the bug**
Update the color codes on Topcoder mixins page and the place they apply.

**To Reproduce**
Steps to reproduce the behavior:
If you go to https://community-app.topcoder-dev.com/examples/color-mixins many of the color codes, don't correspond to the latest update and they should. Below are the correct hexagonal values for the colors. Please update the mixins colors page to use th

[2018-12-15 02:28] #1826 closed, assigned to nobody

[2018-12-15 05:28] RiteshTC opened #1828 "[$20] Error : Cannot read colorStyle of undefined"
**Describe the bug**
Navigate directly to submission tab raises the Javascript error.
Cannot read colorStyle of undefined.

**To Reproduce**
Steps to reproduce the behavior:
1. Go directly to URL https://www.topcoder.com/challenges/30076631?tab=submissions
The error is not consistent, and seems to be appearing randomly
2. Try using with no active session and in an incognito window.

**Screenshots*

[2018-12-15 05:36] RiteshTC commented on #1828
cc @adroc-tc

[2018-12-15 05:46] adroc-tc commented on #1828
Happens in both Chrome and Safari (and is still happening)

[2018-12-16 13:02] Gauravseta commented on #1786
@sushilshinde completing it immediately, actively wokrking on it, there was a internet problem at my location.

[2018-12-16 14:12] ThomasKranitsas commented on #1828
Contest https://www.topcoder.com/challenges/30077122 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-16 14:12] ThomasKranitsas commented on #1828
Contest https://www.topcoder.com/challenges/30077122 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-16 14:14] ThomasKranitsas commented on #1828
Contest https://www.topcoder.com/challenges/30077122 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-16 15:30] ThomasKranitsas commented on #1828
Fixed! Waiting for the deployment to verify the fix on prod.

[2018-12-16 15:53] ThomasKranitsas commented on #1828
The fix works and it's live in prod :)

[2018-12-16 15:53] #1828 closed

[2018-12-16 15:54] ThomasKranitsas commented on #1828
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30077122<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-17 04:19] sushilshinde commented on #1816
I did check the video, but we need to get that solved for the deployment environment.

[2018-12-17 04:19] sushilshinde commented on #1786
sure no problem @Gauravseta

[2018-12-17 04:50] gurmeetb commented on #1816
ok, let me try one more time and will open for others to pickup, if I cannot still replicate post fix. Not sure much can be done related to deployment environment, we might need to push client side logs to test that. Is that fine ?

[2018-12-17 10:33] sushilshinde commented on #1816
clientside logs?

[2018-12-17 10:46] gurmeetb commented on #1816
adding js logs and then we can see what is coming in deployment env.

[2018-12-17 10:51] sushilshinde opened #1830 "topcoder-react-util code clean-up impact"
Need changes in community app because of the

https://github.com/topcoder-platform/topcoder-react-lib/issues/32

If we decide to do factory function for API then this places might be affected

1. https://github.com/topcoder-platform/community-app/blob/hot-fixes/src/shared/services/memberCert.js#L8
2. https://github.com/topcoder-platform/community-app/blob/hot-fixes/src/shared/services/memberCert.j

[2018-12-17 14:05] gurmeetb commented on #1816
@sushilshinde since locally it is working fine, can we move this to test env so we know the root cause of why fix fails there ? We can revert this once tested.

[2018-12-17 14:08] sushilshinde commented on #1816
Sure I can but check lint errors

[2018-12-17 14:11] gurmeetb commented on #1816
Ah my bad, fixed it. Please flag once on test server.

[2018-12-17 14:13] gurmeetb commented on #1785
@ajefts any update here ?

[2018-12-18 07:31] gurmeetb commented on #1816
@sushilshinde did we had chance to push this to test env ?

[2018-12-18 09:52] sushilshinde commented on #1786
@Gauravseta are you finishing this or I will open for pickup

[2018-12-18 09:54] ThomasKranitsas commented on #1786
I can work on it and complete it in the next hour if @Gauravseta is not available.

[2018-12-18 09:56] sushilshinde commented on #1815
Fixed from the API side.

fyi @alamora @ajefts

[2018-12-18 09:56] #1815 closed

[2018-12-18 13:08] alamora commented on #1815
Thank you so much.  These details are important, particularly in data science, where we want customers to trust us with sensitive information.  I appreciate the time and attention you paid to this!!

[2018-12-18 13:26] sushilshinde opened #1833 "[$400]Challenge Listing Performance Improvement"
## Performance Report on 18 Dec 2018

### Lighthouse Settings

<img width="1111" alt="screen shot 2018-12-18 at 6 49 34 pm" src="https://user-images.githubusercontent.com/683231/50157106-9403d400-02f6-11e9-81f1-c4e6cf5e5a63.png">

### Performance Summary

<img width="1142" alt="screen shot 2018-12-18 at 6 50 34 pm" src="https://user-images.githubusercontent.com/683231/50157114-98c88800-02f6-11e9-9

[2018-12-18 13:41] sushilshinde commented on #1833
![](https://github.trello.services/images/mini-trello-icon.png) [Challenge Listing Improvement](https://trello.com/c/EFu9Ojy6/5-challenge-listing-improvement)

[2018-12-18 13:59] gurmeetb commented on #1816
@sushilshinde not sure what is causing this but from logs I see filterState is empty on test env while not on local setup. Is this something to do with env settings ?

Kindly feel free to open for pickup, as I am not able to replicate it locally after the fix provided. Before I was able to see the issue.

[2018-12-18 15:03] sushilshinde opened #1834 "[$20] Data Science filter is ignoring direct MM"
With subTrack: "DEVELOP_MARATHON_MATCH" challenge should be under data science filter,

currently, it shows up in development filter

**Production Example**

<img width="1157" alt="topcoder challenges 2018-12-18 20-33-03" src="https://user-images.githubusercontent.com/683231/50162354-29f22b80-0304-11e9-98b9-6a3cc4cfd194.png">

[2018-12-18 15:07] ThomasKranitsas commented on #1834
Contest https://www.topcoder.com/challenges/30077374 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-18 15:07] ThomasKranitsas commented on #1834
Contest https://www.topcoder.com/challenges/30077374 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-18 15:08] ThomasKranitsas commented on #1834
Contest https://www.topcoder.com/challenges/30077374 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-18 15:08] sushilshinde commented on #1834
![](https://github.trello.services/images/mini-trello-icon.png) [Data science filter issue for Direct MM](https://trello.com/c/PTovSUgV/22-data-science-filter-issue-for-direct-mm)

[2018-12-18 15:09] Gauravseta commented on #1786
@sushilshinde @ThomasKranitsas PR #1835

[2018-12-18 15:09] ThomasKranitsas commented on #1834
Contest https://www.topcoder.com/challenges/30077374 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-18 15:12] Gauravseta commented on #1834
@ThomasKranitsas if possible can i try this?

[2018-12-18 15:13] Gauravseta commented on #1834
@ThomasKranitsas i will solve it immediately

[2018-12-18 15:13] ThomasKranitsas commented on #1834
I'm already working on it

[2018-12-18 15:52] sushilshinde commented on #1816
@gurmeetb it's is related to env setup.

Is a service worker causing issues here?

[2018-12-18 17:05] gurmeetb commented on #1816
[code]

Do you mean env setup on myside ? Could you guide with some more insights ?

[2018-12-18 19:47] Gauravseta commented on #1786
@sushilshinde MR updated

[2018-12-19 11:41] sushilshinde commented on #1816
Submit in 24 hours

@topcoder-platform/topcodercompetitors this one is open for pickup

[2018-12-19 11:58] ThomasKranitsas commented on #351
Contest https://www.topcoder.com/challenges/30077456 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-19 11:58] ThomasKranitsas commented on #351
Contest https://www.topcoder.com/challenges/30077456 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-19 12:02] ThomasKranitsas commented on #1816
Contest https://www.topcoder.com/challenges/30077021 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-19 12:37] ThomasKranitsas commented on #668
Contest https://www.topcoder.com/challenges/30077460 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-19 12:38] ThomasKranitsas commented on #668
Contest https://www.topcoder.com/challenges/30077460 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-19 12:40] birdofpreyru commented on #351
@gurmeetb you should ask @ThomasKranitsas

[2018-12-19 12:43] ThomasKranitsas commented on #351
I did not open this for pickup :) I guess this ticket was created a long time ago.

Yes, `develop` should be used.

@sushilshinde thoughts? Is this something we need?

[2018-12-19 12:47] gurmeetb commented on #351
ah I picked wrong item then. Releasing it.

[2018-12-19 20:11] NehaSharma02 opened #1837 "Unable to search members from Search option"
Unable to search a member using username or skill from search option of topcoder.com community section.

Steps to reproduce the behavior:
1.  Go to www.topcoder.com
2.  Select Community.
3.  Click on Search icon to bring up search page.
4.  Enter username to search for.  In this case 'sharma.neha'.
5.  Get error page.
![image 2](https://user-images.githubusercontent.com/37835397/50245365-44a5cc80-

[2018-12-19 20:58] ThomasKranitsas commented on #1837
This seems to be a backend issue.

`GET https://api.topcoder.com/v3/members/_search/?query=MEMBER_SEARCH&handle=thomas&offset=0&limit=10` returns:
[code]
cc @sushilshinde

[2018-12-19 21:58] ajefts opened #1838 "Logout should go back to zurich.topcoder.com"
When a user uses the logout feature in the top nav from zurich.topcoder.com, it should return the user to zurich.topcoder.com and not www.topcoder.com

[2018-12-19 21:58] ajefts commented on #1838
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1571668

[2018-12-19 21:58] ajefts commented on #1838
@kkartunov Are you able to look at this one?

[2018-12-19 22:03] ajefts opened #1839 "Split out a separate group for competitors so we parent as the default, and then people get added to competitor as they get approved to compete."
A group has been created for competitors (20000226).  For the zurich portal, only users that are in this group should see the Challenges page as well as the "Compete" buttons.

[2018-12-19 22:03] ajefts commented on #1839
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1571701

[2018-12-19 22:04] ajefts commented on #1839
@kkartunov hoping you can take a look at this one too when you get a chance.  Thanks.

[2018-12-20 05:45] kkartunov commented on #1838
@ajefts I am afraid this is not possible. There is no redirect support for topcoder.com/logout
I looked when Mo raised the question...

[2018-12-20 10:57] aah-74 opened #1840 "Zip file upload shown for Topgear submission instead of URL field"
**Describe the bug**
For Topgear challenges, the registrant has to submit the URL of the code. Zip file submissions are not allowed.  However for the particular challenge in specific group; challenges are asking submitter to upload code.

**To Reproduce**
Steps to reproduce the behavior:
login into Topgear.topcoder.com
submit for a challenge.
the screen asks for drop the zip file in stead of edit

[2018-12-20 15:47] #1834 closed

[2018-12-20 15:47] ThomasKranitsas commented on #1834
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30077374<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-20 15:59] sushilshinde opened #1841 "[$20] Correct Direct MM details page right hand side bar"
1. This is a past legacy marathon match
https://www.topcoder.com/challenges/17357

![tco19 marathon match 104 - marathon match 104 2018-12-20 21-27-21](https://user-images.githubusercontent.com/683231/50295499-25fa1100-049e-11e9-81c3-959d534eedec.png)

2. This is a direct marathon match
https://www.topcoder.com/challenges/30076905

![cmap dpeak challenge 2018-12-20 21-25-54](https://user-images.gi

[2018-12-20 16:03] sushilshinde commented on #1841
FYI @ajefts @cwdcwd

[2018-12-20 16:05] ThomasKranitsas commented on #1841
Contest https://www.topcoder.com/challenges/30077563 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-20 16:05] ThomasKranitsas commented on #1841
Contest https://www.topcoder.com/challenges/30077563 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-20 16:05] ThomasKranitsas commented on #1841
Contest https://www.topcoder.com/challenges/30077563 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-20 16:50] JayaDhaka opened #1843 "Winners not reflecting for Topgear challenges"
For the below challenge, winners are announced in DIRECT and the challenge is finished, but winners are not visible on the contest page.
Please check and resolve.

Challenge id: https://topgear.topcoder.com/challenges/30073963

![image](https://user-images.githubusercontent.com/34749364/50298304-d539e680-04a4-11e9-9cfa-50cdd4f51af3.png)

[2018-12-20 18:52] ThomasKranitsas commented on #1841
terms are track-independent. If the challenge object contains the terms array, we display that section on the sidebar.

[2018-12-20 19:01] ThomasKranitsas commented on #1841
fix is live in dev and betaprod and works fine https://beta-community-app.topcoder.com/challenges/30076905

Closing the ticket

[2018-12-20 19:01] #1841 closed

[2018-12-20 19:02] ThomasKranitsas commented on #1841
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30077563<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-12-20 19:03] PrakashDurlabhji commented on #1841
@ThomasKranitsas can i get this?

[2018-12-20 19:04] ThomasKranitsas commented on #1841
It's already fixed

[2018-12-20 19:07] PrakashDurlabhji commented on #1841
@ThomasKranitsas anything soon?

[2018-12-20 19:08] ThomasKranitsas commented on #1841
Perhaps. I'm not sure yet.

Feel free to open new tickets if you find any bug in our platform that needs to be fixed

[2018-12-21 05:13] gurmeetb commented on #1816
@sushilshinde can we release this so someone who can fix this within 24 hrs can pick up? I am looking forward to this fix too.

[2018-12-21 15:48] ajefts commented on #1838
@kkartunov Can you try it like this?

http://accounts.topcoder.com/logout?retUrl=https%3A%2F%2Fzurich.topcoder.com

[2018-12-21 16:35] sushilshinde commented on #1786
@Gauravseta submissions isn't as per the requirement

[2018-12-21 16:36] Gauravseta commented on #1786
@sushilshinde isnt it working?

[2018-12-21 16:57] ThomasKranitsas commented on #1843
This is a backend issue. The API does not return the `winners` array.

cc @sushilshinde @cwdcwd

[2018-12-21 17:11] sushilshinde commented on #1786
Submission tab should look like this

![49992367-def5b280-ffa9-11e8-8530-692fad62c18e](https://user-images.githubusercontent.com/683231/50354419-85752100-0571-11e9-85e6-0b998935e57b.png)

[2018-12-21 17:12] Gauravseta commented on #1786
@sushilshinde just 15mins. making a commit.

[2018-12-21 17:18] ThomasKranitsas commented on #1840
Where are the group Ids for topgear configured?

Is that `src/server/tc-communities/wipro/metadata.json`?

If yes, then you may need to update the configs.
For example, this https://topgear.topcoder.com/challenges/30076324?tab=details has groupId: 20000041 which does not exist in the above file.

[2018-12-21 17:37] ajefts commented on #1840
This issue is resolved by cleaning up the groups.  The issue is that some of the groups where not set as a sub group of the wipro all group.  No code/app changes are needed.

[2018-12-21 21:12] Gauravseta commented on #1816
@sushilshinde PR within few hours

[2018-12-21 21:12] Gauravseta commented on #1786
@sushilshinde PR createted #1845

[2018-12-23 07:21] tmalbonph opened #1846 "Click on Submit button to submit another solution display "You are not authorized to access this page.""
**Describe the bug**
I already registered and submitted into a challenge. Upon submission of another solution the page display "You are not authorized to access this page." after I click on the Submit button.

I noticed also, the tab display number of registered member like REGISTRANTS(18), but is just listed 3 registrant and my handle is not one of them.

It only happen to this challenge here: ht

[2018-12-23 20:25] PereViki opened #1847 "No records (names) are shown on the registrants tab of challenges"
**Describe the bug**
On challenge pages the number of rows on the registrants tab does not reflect to the number given on the tab. It is either zero or less then it should be.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/challenges/30077698?tab=registrants' and 'https://www.topcoder.com/challenges/30077297?tab=registrants'
2. Click on the 'Registrants' tab

[2018-12-23 22:36] ThomasKranitsas commented on #1847
This is a backend issue.
The API returns the `numberOfRegistrants` but doesn't return the `registrants` array.

The only thing we can do on the frontend is to show a proper error message to indicate that there was an error loading the challenge registrants.

cc @ajefts @cwdcwd

[2018-12-23 23:10] ThomasKranitsas commented on #1847
This also happens in https://www.topcoder.com/challenges/30077766

[2018-12-24 05:56] tmalbonph commented on #1847
Similar to issue mention here https://github.com/topcoder-platform/community-app/issues/1846

[2018-12-24 15:09] sushilshinde commented on #1816
@Gauravseta are you working on this?

[2018-12-24 16:06] ajefts commented on #1785
@sushilshinde what help is needed here?  Can you reproduce the issue in prod, check logs, check configs, etc?

fyi @cwdcwd

[2018-12-24 20:30] tmalbonph commented on #1846
As reported before, I can submit to https://www.topcoder.com/challenges/30077498
Now (Tue Dec 25 04:29:42 PST 2018) I can't. please check the attached screenshot
![30077498_not_authorized_error](https://user-images.githubusercontent.com/3745678/50406297-bd909400-07fd-11e9-8ae1-8b173613066e.png)

[2018-12-26 12:05] gurmeetb commented on #1785
@ajefts @cwdcwd we are looking to push a challenge on dev which has documents attached on Challenge Page for download by users.

[2018-12-31 17:26] ajefts opened #1851 "[$60] Sorting on submissions/leaderboard on challenge page"
On the submission page that lists the submissions on a marathon match, the sorting is not correct.  Here is an example:

https://www.topcoder.com/challenges/30076905?tab=submissions

The proper sorting should be as follows:

a) If the review phase is not complete, then sort by provisional score desc. Use the last submission score for each submitter.
b) If the review phase IS complete, then sort by

[2019-01-02 04:58] sushilshinde commented on #1846
@tmalbonph seems like you were able to submit, is this problem still relevant?

[2019-01-02 05:21] tmalbonph commented on #1846
It is working now. Thanks

[2019-01-02 05:22] #1846 closed, assigned to sushilshinde, cwdcwd

[2019-01-02 19:10] Gauravseta commented on #1786
@sushilshinde raised new PR #1852

[2019-01-03 18:00] hokienick commented on #1680
No one is really making a fuss about this, so closing this ticket.

[2019-01-03 18:00] #1680 closed

[2019-01-03 18:01] hokienick commented on #1799
That seems to be formatted correctly on mobile.  Closing this ticket, but let's keep an eye on it in different formats (i.e. with a video)

[2019-01-03 18:01] #1799 closed

[2019-01-04 16:09] ThomasKranitsas commented on #1851
@topcoder-platform/topcodercompetitors this is open for pickup. We need this ASAP!

[2019-01-04 16:11] ThomasKranitsas commented on #1851
Contest https://www.topcoder.com/challenges/30078475 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-04 16:11] ThomasKranitsas commented on #1851
Contest https://www.topcoder.com/challenges/30078475 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-04 16:12] ThomasKranitsas commented on #1851
Contest https://www.topcoder.com/challenges/30078475 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-04 16:14] suppermancool commented on #1851
@ajefts @cwdcwd what branch should i work on, thanks?

[2019-01-04 17:20] suppermancool commented on #1851
@ThomasKranitsas @ajefts @cwdcwd done in https://github.com/topcoder-platform/community-app/pull/1853 .

[2019-01-04 17:30] gurmeetb commented on #1851
@ajefts @ThomasKranitsas Would suggest we take off Requirement A from this, we shouldn't let submitters know where they stand with scores until appeals end.

[2019-01-04 17:33] ThomasKranitsas commented on #1851
@gurmeetb that will only work for MMs where there's a provisional score available... The API does not return the scores for other challenges prior to the completion of the challenge.

[2019-01-04 17:42] birdofpreyru commented on #1851
@ThomasKranitsas don't miss to check that this: https://github.com/topcoder-platform/community-app/pull/1853/files#diff-abbc38bdfec808677600aafade00815cR42 does not actually breaks non-MM challenges before appeals end (just guessing that `submission.submissions[0]`, and similar data paths might not exist there).

[2019-01-04 17:43] ThomasKranitsas commented on #1851
@birdofpreyru good catch!
@suppermancool please see the above comment.

[2019-01-04 18:08] ajefts commented on #1839
Hi @kkartunov Are you able to do this one?

[2019-01-04 21:46] hokienick opened #1856 "Create Dropdown Bar Feature"
Currently on our track "How To" pages we have dropdowns with information like our FAQ section.

<img width="1335" alt="screen shot 2019-01-04 at 1 43 41 pm" src="https://user-images.githubusercontent.com/1373998/50712627-0975e100-1027-11e9-845d-df8cf4a3ee7d.png">
<img width="1334" alt="screen shot 2019-01-04 at 1 43 49 pm" src="https://user-images.githubusercontent.com/1373998/50712628-0975e100-10

[2019-01-04 21:51] hokienick opened #1857 "Contentful - Preview does not match look of Published page"
Currently the published page looks like a zoomed in version of preview according to these pages as examples:

Preview: https://community-app.topcoder.com/examples/contentful/viewport/4UqUCeKnKEQEiim4we68gI

Published: https://www.topcoder.com/lp/test-for-success

<img width="1473" alt="screen shot 2019-01-04 at 1 50 06 pm" src="https://user-images.githubusercontent.com/1373998/50712814-bd776c00-10

[2019-01-04 22:11] hokienick opened #1858 "Create new banner style"
**This will require some discussion, so let's chat about it!**

Although this will be used as a Banner, the solution may be to create a new Viewport theme, OR this can already be done and it'd be great for you to show me how!

Here is the functionality we are looking for: https://problogger.com/

These are the features that are required:

- Banner has the option to have a background
- Banner will

[2019-01-05 04:34] philipstb opened #1859 "Unable to Unregister from Design Challenge"
Hi everyone,

I just noticed that it seems the unregister feature in the UX/UI design challenge is not work properly, the issue is once a user registered on a challenge he will not be able to unregister, when I force many times to unreg the handlename will missing from the registrants tab and can't access the submission form as well but the button still stay red with "unregister" caption. As usual

[2019-01-05 09:59] suppermancool commented on #1851
@ThomasKranitsas the payment doesn't work, can you check again, thanks?

[2019-01-05 10:00] #1851 closed

[2019-01-05 10:00] ThomasKranitsas commented on #1851
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30078475<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-05 10:01] ThomasKranitsas commented on #1851
fixed

[2019-01-05 23:05] Dara-K commented on #1797
Seems like this issue is happening again: https://www.topcoder.com/challenges/30078212?tab=registrants. Can you fix it again? @ThomasKranitsas  @sushilshinde

[2019-01-06 12:50] Dara-K commented on #1797
The issue was that the handles of the members are showing as black again instead of blue.

[2019-01-06 12:53] ThomasKranitsas commented on #1797
this was requested by @vic-topcoder @dmessing @ajefts

Here's the exact comment from @vic-topcoder:

[2019-01-06 12:57] Dara-K commented on #1797
Okay - I will talk to Vic.

[2019-01-07 08:04] kkartunov commented on #1857
@hokienick I think this is related to browser zoom applied to your view. Please, check if you have the zoom icon in address bar(Chrome) or check your browser settings. Zooms can be applied on domain base...hence you have different settings currently. Please, check.

[2019-01-07 09:53] #1840 closed

[2019-01-07 09:54] sushilshinde commented on #1859
@philipstb can you help with steps to reproduce this problem

[2019-01-07 09:57] sushilshinde commented on #1843
Created issue on api repo

[2019-01-07 09:59] sushilshinde commented on #1816
@topcoder-platform/topcodercompetitors this one is open for pickup

[2019-01-07 10:01] sushilshinde commented on #1785
Let me try upload doc today

[2019-01-07 10:04] sushilshinde commented on #1847
Seems like it is resolved

![vulcan - nerve center app refinement design challenge 2019-01-07 15-34-04](https://user-images.githubusercontent.com/683231/50761975-b6ec2d00-1291-11e9-9068-4c8e41fc3a53.png)

[2019-01-07 10:04] #1847 closed

[2019-01-07 10:07] ThomasKranitsas commented on #1816
Contest https://www.topcoder.com/challenges/30077021 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-07 10:09] sumitdaga commented on #1816
@sushilshinde
which branch should i use?

[2019-01-07 10:19] philipstb commented on #1859
@sushilshinde Yes sure.
1. I registered on a design challenge
2. I clicked the unregister button from the challenge. The reason could be accidentally clicking the register button twice or more.
3. I checked in the participants tab, my handlename is not there, but the button stay indicated if I was registered. I coudn't access the submission form.
4. The conclusion of this bug is a user unable to u

[2019-01-07 11:01] sumitdaga commented on #1816
and by the way i think not just tracks but none of the query parameters are working as of now!

[2019-01-07 14:30] systic opened #1860 ""Round Information" displayed in wrong place!"
In design challenges (all challenges that are running as 2 rounds) - I see "Round information" is displaying in the wrong place. It should be originally be seen as a separate section at the top in the challenge page but we are seeing it in the bottom along with the final fixes information (please see attached screenshot).

https://www.topcoder.com/challenges/30078212
https://www.topcoder.com/chall

[2019-01-07 21:39] hokienick commented on #1857
Wow, I had no idea my browser was doing that!  Thank you.

[2019-01-07 21:39] #1857 closed

[2019-01-07 21:41] hokienick opened #1861 "Add-Ons Request for our Content Blocks"
Creating pages such as the Data Science Tutorials and currently our Fujitsu Landing Page, I have run into situations where I need to display their complex formulas that they had entered into a Google Doc.  I cannot however transfer that text to our Contentful Content Blocks.  @kkartunov you mentioned there may be an add-on that can solve this for us.

Along with this, I was hoping there would also

[2019-01-08 07:30] sushilshinde commented on #1843
fixed

[2019-01-08 07:30] #1843 closed

[2019-01-08 08:38] ThomasKranitsas commented on #1860
@sushilshinde fyi ☝️

[2019-01-08 10:54] sumitdaga commented on #1816
@sushilshinde
i cannot reproduce this locally although i know as a fact that it does not work on the production site!

[2019-01-08 10:57] gurmeetb commented on #1816
@sumitdaga you can reproduce it locally if you revert my change from MR - after which even I wasn't able to reproduce locally but I agree issue exists on prod env.

@sushilshinde  I think it has to do with env for sure like conveyed before.

[2019-01-08 11:14] sushilshinde commented on #1860
Forwarded to @skyhit

[2019-01-08 14:55] Dara-K opened #1862 "Challenge's attachments not showing up"
**Describe the bug**
Challenge attachments not showing up

**To Reproduce**
It's difficult to reproduce now, as the copilots are adding challenge's files in the forums as they are not showing up for a challenge once the person is registered.

**Expected behavior**
The files should show on the right column as downloadable files

[2019-01-08 15:40] ajefts commented on #1862
fyi @sushilshinde

[2019-01-08 21:23] Gauravseta commented on #1786
@sushilshinde new PR #1863 for css patch fix for handles have been raised.

For case of "N/A" in Initial score and final score:
Actually in code, property named "initialScore" and "final score" is not present, due to which condition fails and "N/A" is made to be displayed hardcoded.

do you want me to remove that column? or just hide "N/A" text?

[2019-01-09 09:54] #1838 closed

[2019-01-09 13:38] sushilshinde commented on #1862
API issue https://github.com/appirio-tech/ap-challenge-microservice/issues/477

[2019-01-09 15:49] sushilshinde commented on #1785
This is an API issue

[2019-01-10 08:56] harshitmehta123 opened #1867 "[$30]Dashboard SRMS pick timings from Contest Table, Should pick up from Round Table - Registration Date"
**Describe the bug**
SRMs displayed on dashboard pick date from Contest Table in OLTP. However, they should be picking the date from Round table one single contest can have multiple rounds
**To Reproduce**
Go to topcoder.com/my-dashboard and look for SRMs.

Looking at the screenshot you can see the SRMs picking contest date, however they should pick the round registration date marked in green :)

[2019-01-10 11:04] sushilshinde commented on #1837
May be @urwithat

[2019-01-10 14:59] harshitmehta123 commented on #1867
@ajefts Who should I assign this issue to?

[2019-01-11 07:46] sushilshinde commented on #1867
@harrywynn I'm checking with @skyhit on this, probably an API issue.

[2019-01-11 09:40] skyhit commented on #1867
@sushilshinde @harshitmehta123 seems not API, but UI, the response is like
[code]

[2019-01-11 13:06] sushilshinde commented on #1867
@harshitmehta123 does registrationStartA has the correct value in this response?

[2019-01-12 21:40] Gauravseta commented on #1786
@sushilshinde
PR https://github.com/topcoder-platform/community-app/pull/1868

[2019-01-13 05:58] sushilshinde commented on #1867
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-01-13 06:02] ThomasKranitsas commented on #1867
Contest https://www.topcoder.com/challenges/30079108 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-13 06:02] ThomasKranitsas commented on #1867
Contest https://www.topcoder.com/challenges/30079108 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-13 06:03] ThomasKranitsas commented on #1867
Contest https://www.topcoder.com/challenges/30079108 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-13 06:40] gurmeetb commented on #1867
@sushilshinde looks like this is working fine already. Kindly validate once on your side on PROD.

![isfixedalready](https://user-images.githubusercontent.com/14284629/51082408-3d8a8980-172c-11e9-81fb-2bc55fc41652.jpg)

[2019-01-13 10:20] sushilshinde commented on #1867
@harshitmehta123 please comment

[2019-01-13 10:45] sushilshinde commented on #1859
@philipstb looking into it

[2019-01-13 10:45] sushilshinde commented on #1816
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-01-13 10:46] sushilshinde commented on #1786
@ajefts can you please review once.

https://beta-community-app.topcoder.com/challenges/30078560?tab=submissions

[2019-01-14 02:16] ThomasKranitsas commented on #1816
Contest https://www.topcoder.com/challenges/30077021 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-14 04:50] suppermancool commented on #1816
@sushilshinde done in https://github.com/topcoder-platform/community-app/pull/1870

[2019-01-14 11:38] gurmeetb commented on #1867
@sushilshinde I am putting this on hold until we hear back from @harshitmehta123

[2019-01-14 11:54] codeMinter opened #1872 "Profile Image changes are not reflecting change on forum/forum posts."
**Describe the bug**
Profile Image should be consistent and changes should be carried forward all over topcoder. If I update my profile picture on Profile Page, I still see old profile picture on Forums. If not wrong I had changed it almost more than a month back.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to Topcoder.com, go to settings, change profile picture.
2. Go to any chall

[2019-01-14 12:03] ThomasKranitsas commented on #1872
We have created a processor that listens for profile update events and updates the data in the legacy db (informix).

Once this processor is set up and running, this will be fixed.

cc @urwithat

[2019-01-14 12:39] Gauravseta commented on #1786
@sushilshinde all working well?

[2019-01-14 12:41] Gauravseta commented on #1786
@sushilshinde History column intended?

[2019-01-14 15:06] sushilshinde commented on #1816
Thanks @suppermancool wil check

[2019-01-15 06:46] harshitmehta123 commented on #1867
Hey! You see that for SRM 746 because SRM 746 is scheduled to start on 14th Jan. Check for SRM 747, it should show 19th Jan, but is showing 13th Jan.
In the contest start date we had 4th jan, but if the contest has not started it will show you the current date. So 747 is also showing you the current date.

[2019-01-15 06:55] skyhit commented on #1859
@sushilshinde @philipstb I tested with this design F2F, and both are working - https://community-app.topcoder.com/challenges/30078867

is there any special for your tested design challenge?

[2019-01-15 13:24] #1816 closed

[2019-01-15 14:20] sushilshinde opened #1873 "[$30] Fix submission component problem for topgear community member"
This is specific for topgear, so it should be driven by challenges that are associated with topgear groups (parent = Wipro All).  For all topgear challenges, regardless of what domain you access the challenge on, it should only allow the URL upload option.

Topgear challenges should see this submission UI

![topcoder 2019-01-17 19-41-45](https://user-images.githubusercontent.com/683231/51324179-0a

[2019-01-15 14:46] sushilshinde commented on #1786
@Gauravseta

https://beta-community-app.topcoder.com/challenges/30078921?tab=submissions (edited)

https://api.topcoder.com/v4/challenges/30078921
have scores ui isn’t showing up

[2019-01-15 14:49] sushilshinde opened #1874 "[$20]Registration button is on after registration date is over"
Example : https://www.topcoder.com/challenges/30078612

Registration button should be disabled.

Fix shouldn't break other scenarios in the PR

[2019-01-15 14:51] ThomasKranitsas commented on #1874
Contest https://www.topcoder.com/challenges/30079283 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-15 14:51] ThomasKranitsas commented on #1874
Contest https://www.topcoder.com/challenges/30079283 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-15 14:52] ThomasKranitsas commented on #1874
Contest https://www.topcoder.com/challenges/30079283 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-15 14:52] sushilshinde commented on #1874
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-01-15 14:53] ThomasKranitsas commented on #1874
Contest https://www.topcoder.com/challenges/30079283 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-15 14:54] ThomasKranitsas commented on #1862
Contest https://www.topcoder.com/challenges/30079284 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-15 14:54] ThomasKranitsas commented on #1862
Contest https://www.topcoder.com/challenges/30079284 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-15 14:55] sushilshinde commented on #1862
Call details API with token

like for http://api.topcoder.com/v4/challenges/30078612, I can see

[code]

in response.

@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-01-15 14:58] ThomasKranitsas commented on #1862
Contest https://www.topcoder.com/challenges/30079284 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-15 15:02] nahidshahin commented on #1874
@sushilshinde in my chrome browse the example challenge registration button is disabled.

![screenshot 2019-01-15 at 9 00 09 pm](https://user-images.githubusercontent.com/1224995/51188743-c100d200-1908-11e9-9123-4a6f7e0c64a2.png)

How to reproduce?

[2019-01-15 22:18] ajefts opened #1875 "Make challenges banner contentful for kubik"
Update the challenges page for the kubit site so we can manage the banner area via contentful.  We have a few other sites that already do this.

[2019-01-15 22:29] ajefts opened #1876 "Kubik updates for enabling challenges."
Update kubik so it presents the challenges page to users that are in the competitor group.

[2019-01-16 05:43] sushilshinde commented on #1874
@nahidshahin I just tested I'm not able to reproduce that either but I was able to reproduce yesterday whole day, so closing it.

[2019-01-16 05:43] #1874 closed

[2019-01-16 05:43] ThomasKranitsas commented on #1874
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-16 07:02] #1876 closed

[2019-01-16 07:02] #1839 closed

[2019-01-16 10:30] kkartunov commented on #1724
https://docs.google.com/spreadsheets/d/1XKnNk58pD0kKTD3Zta0m2sVeGr4E5-soXbq1bZ_Q9sg/edit?usp=sharing

[2019-01-16 13:34] sushilshinde commented on #1833
### Performance Analysis on work done by @kkartunov
**Branch:** https://github.com/topcoder-platform/community-app/tree/listing-improve
**Env:** https://test-community-app.topcoder-dev.com/challenges

**Here is the report**

[test-community-app.topcoder-dev.com-20190116T184301.zip](https://github.com/topcoder-platform/community-app/files/2764324/test-community-app.topcoder-dev.com-20190116T184301.

[2019-01-16 15:21] ajefts commented on #1876
Failed to create challenge
Response body:
[code]

[2019-01-16 15:22] ajefts commented on #1876
Failed to create challenge
Response body:
[code]

[2019-01-16 15:45] ajefts opened #1878 "Kubik Site Permission Update"
Currently, the kubik site has a public experience and a logged in experience.  We need to adjust the behavior as follows:

1. IF a user is logged in, they MUST be in a group that is allowed by the site.  Check for any group that is under the parent group, including the parent group.
2. IF a user is logged in and navigates to a kubik page, but is NOT in an appropriate group then display a new instr

[2019-01-17 09:32] ThomasKranitsas commented on #1786
Contest https://www.topcoder.com/challenges/30077023 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-17 09:46] sushilshinde commented on #1786
Added $10 for the styling fix not part of the original requirement

[2019-01-17 14:16] sushilshinde commented on #1873
@cwdcwd @ajefts FYI

[2019-01-17 14:25] sushilshinde commented on #1867
@harshitmehta123 can you verify

https://beta-community-app.topcoder.com/my-dashboard

[2019-01-17 14:32] harshitmehta123 commented on #1867
Hi! Thanks for fixing!
The time displayed looks a little off. What time zone is it displaying time in? Can you check?
@sushilshinde

[2019-01-17 14:47] harshitmehta123 commented on #1867
Should it not display the current time zone, like the arena does, or if not - it should have time zone written alongside it :)
Possible Solutions
1) Showtime in members time zone!
2)Topcoder Time is preferably EST. If you can change it to UTC-5 time and mention UTC-5 that would also help :)

[2019-01-17 15:06] ThomasKranitsas commented on #1873
I believe I found the issue.. Will create a PR in 5 minutes

[2019-01-17 15:07] sushilshinde commented on #1867
Ok

[2019-01-17 15:07] sushilshinde commented on #1867
@gurmeetb what option is easier to do?

[2019-01-17 15:11] ThomasKranitsas commented on #1873
Contest https://www.topcoder.com/challenges/30079605 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-17 15:13] ThomasKranitsas commented on #1873
Contest https://www.topcoder.com/challenges/30079605 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-17 15:17] ThomasKranitsas commented on #1873
@sushilshinde https://github.com/topcoder-platform/community-app/pull/1881

[2019-01-17 16:05] gurmeetb commented on #1867
![srms](https://user-images.githubusercontent.com/14284629/51331420-b75da280-1a9f-11e9-83a7-b530bad5e89d.jpg)

🤔 ?

[2019-01-18 08:46] ajaysaini9782 opened #1883 "Text is not formatted when displayed in Challenge Detail page."
**Describe the bug**
Text is not formatted when displayed in Challenge Detail page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/direct/contest/detail.action?projectId=30079467'
2. Scroll down
3. check the important note heading.

**Expected behavior**
Text color preview should be same on direct page as well as challenge page.

**Screenshots**

Text color o

[2019-01-18 08:54] RiteshTC commented on #1883
cc @adroc-tc,  @billsedison

[2019-01-18 09:22] kkartunov commented on #1861
http://local.topcoder-dev.com:3000/examples/contentful/contentblock/YjDeigTEjIcOXFGwB6n03

[2019-01-18 11:11] kkartunov commented on #1856
https://community-app.topcoder-dev.com/examples/contentful/viewport/1ekIMzLLz2CrkRxPgA4FZ1

[2019-01-18 12:46] kkartunov commented on #1875
https://community-app.topcoder-dev.com/__community__/zurich/challenges?communityId=zurich

[2019-01-18 15:31] kkartunov commented on #1875
Contentful: https://app.contentful.com/spaces/f4rv5dt395nf/entries/5ghmniPmVqe0KKYQs8gEg0

[2019-01-18 15:31] #1875 closed

[2019-01-18 15:31] ajefts commented on #1875
Edit content at https://app.contentful.com/spaces/f4rv5dt395nf/entries/5ghmniPmVqe0KKYQs8gEg0

[2019-01-18 15:49] gurmeetb commented on #1785
@sushilshinde As discussed we need change in back-end, V4 gave me response like below
[code]

While V3 gave,
[code]

When tested hard-coding V3 response, the doc shows fine as below, so no code changes needed here. `Once we fix API, it will work fine`

![hardcoded_json-doc_shows](https://user-images.githubusercontent.com/14284629/51397217-be031d00-1b66-11e9-9414-630023589253.jpg)

[2019-01-18 15:58] sushilshinde commented on #1867
@harshitmehta123 shall we close this

https://beta-community-app.topcoder.com/my-dashboard

[2019-01-18 16:54] topcoder-devops commented on #1878
@kkartunov Sorry for the late add to this, but we also need an additional minor modification: We need community app to recognize the kubik site at 2 different domains. Instead of only being accessible at kubik.topcoder.com, we need it to be accessible at kubik.topcoder.com AND community-kubik.topcoder.com.

Can you clarify this is possible please? cc: @ajefts

[2019-01-18 23:02] NehaSharma02 opened #1884 "Login with github option is not working"
The login with github option is not working.
Error: User with that profile is not registered

Steps to reproduce the behavior:
1. Go to accounts.topcoder.com/member
2. Click on login with Github
3. This will take you to Github screen where you need to create user and you can successfully login to Github.
4. Signout from Github.
5. Sign in to topcoder from url: accounts.topcoder.com/member
6. Selec

[2019-01-18 23:37] NehaSharma02 opened #1885 "Hyperlinks are not working on dashboard"
When there is not active challenge then message with appear under My Active challenges tab " You have no active challenges at this moment. What are you interested in? Competitive Programming ? Data Science?Design?Software Development "

These Competitive Programming ? Data Science?Design?Software Development are hyperlinks which are supposed to load challenge listings page but that is not working.

[2019-01-19 15:21] harshitmehta123 commented on #1867
Thanks for adding the time zone, however - the time displayed is UTC and the time zone it's showing is UTC+5:30. Registration for SRM 748 begins at 22:30 IST on Jan 25. The time shown in the screenshot above it 3:30am which is UTC time .. but the time zone mentioned below is UTC+5:30.

[2019-01-20 05:55] sushilshinde opened #1888 "[$30]Fix test cases failures | Submit PR in 24 hours"
**Branch**

https://github.com/topcoder-platform/community-app/tree/hot-fixes_with_lintfix

**Run Jest and Update snapshots**

$ npm run jest
$ npm run jest -- -u

[2019-01-20 05:57] sushilshinde commented on #1888
@topcoder-platform/topcodercompetitors this one is open for pickup

https://github.com/topcoder-platform/community-app/tree/hot-fixes_with_lintfix

[2019-01-20 06:03] ThomasKranitsas commented on #1888
[500]: Challenge for the updated issue 1888 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-20 06:03] ThomasKranitsas commented on #1888
[500]: Challenge for the updated issue 1888 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-20 06:03] ThomasKranitsas commented on #1888
[500]: Challenge for the updated issue 1888 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-20 06:03] ThomasKranitsas commented on #1888
[500]: Challenge for the updated issue 1888 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-20 06:05] ThomasKranitsas commented on #1888
Contest https://www.topcoder.com/challenges/30079788 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-20 06:05] ThomasKranitsas commented on #1888
Contest https://www.topcoder.com/challenges/30079788 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-20 06:30] ThomasKranitsas commented on #1888
Contest https://www.topcoder.com/challenges/30079788 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-20 08:32] kkartunov commented on #1861
@hokienick Sorry, should have posted some documentation.
We are using "standard" syntaxis as in github. You can refer to: https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting
If editor does not provide language identifier we do support automatic language detection as well.

[2019-01-20 11:48] gurmeetb commented on #1867
@harshitmehta123 FYI - all looks good here to me👇

![srm_snapshot](https://user-images.githubusercontent.com/14284629/51438833-3f79bd00-1cd7-11e9-8dfb-a1db13893d8d.jpg)

![utc_time_to_ist](https://user-images.githubusercontent.com/14284629/51438838-4acce880-1cd7-11e9-877c-3d8ef441223f.jpg)

[2019-01-20 16:57] nahidshahin commented on #1888
@ThomasKranitsas actively working on error fixing. Fixed a few hope to fix rest shortly

[2019-01-21 01:07] nahidshahin commented on #1888
@ThomasKranitsas PR https://github.com/topcoder-platform/community-app/pull/1889

[2019-01-21 08:39] ThomasKranitsas commented on #1888
Thank you!

[2019-01-21 08:40] ThomasKranitsas commented on #1888
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30079788<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-21 14:30] gurmeetb commented on #1785
@sushilshinde shall we close this and open one for backend API fix?

[2019-01-22 06:12] ThomasKranitsas commented on #1785
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30076266<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 10:55] harshitmehta123 commented on #1867
Hi @gurmeetb, I think there is an issue with the timings the API is returning.. These are the SRM timings in various time zones. I am investigating and will as soon as possible.

Round Details:
SRM 748 — January 25, 12:00 UTC-5
SRM 748 — January 25, 17:00 UTC
SRM 748 — January 25, 10:30 UTC + 5:30

SRM 749 — February 1, 7:00 UTC-5
SRM 749 -- February 1, 12:00 UTC
SRM 749 -- February 1, 17:30 UTC+5

[2019-01-22 11:53] sushilshinde commented on #1867
Shall we close this issue now? @harshitmehta123 you can open an issue on API repo

[2019-01-22 12:03] sushilshinde commented on #1888
@nahidshahin

npm run jest -- -u

still failing

[2019-01-22 12:12] nahidshahin commented on #1888
@sushilshinde in `hot-fixes_with_lintfix` branch? I've just checked it and seems `npm run jest -- -u` is working.

[2019-01-22 12:58] gurmeetb commented on #1867
I agree with @sushilshinde - once API is fixed, this will work fine as it does with current time coming in response.

@harshitmehta123  thoughts 🤔  ?

[2019-01-22 14:37] #1888 closed

[2019-01-22 14:38] sushilshinde commented on #1888
@nahidshahin don't worry

[2019-01-22 14:45] #1786 closed

[2019-01-22 14:45] ThomasKranitsas commented on #1786
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30077023<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 19:36] ThomasKranitsas opened #1892 "[$30] Create new badge"
We need to create a new badge for the members similar to the `TCO17 Finalist` one we currently but for `TCO18 Finalist` have which will be shown in the member's dashboard and the member's profile page.

Files that (probably) need to be updated:
- https://github.com/topcoder-platform/community-app/blob/develop/src/shared/components/Dashboard/Header/Badge/index.jsx
- https://github.com/topcoder-plat

[2019-01-22 19:39] ThomasKranitsas commented on #1892
@topcoder-platform/topcodercompetitors this is open for pickup!

[2019-01-22 19:46] hokienick commented on #1892
List of members to receive badge:

_aid
abedavera
ACRush
akinwale
asmn
atsT5515
aveef
billsedison
BrandonT
callmekatootie
chekspir
cristian77
daga_sumit
DaraK
deedee
djackmania
dwij
e06widu
Egor
eldidou
Errichto
fajar.mln
gfzabarino
gondzo
h_n_y
hi4sandy
iaminfinite
iamtong
iversonLv
jcvb
Kankuro
kcm1700
khanhlinh
khusnunirawan
kinfkong
kondakovdmitry
krijgertje
ksun48
leo.ananth
lg5293
mahestro
m

[2019-01-22 19:46] ThomasKranitsas commented on #1892
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 19:48] ThomasKranitsas commented on #1892
Yay! I'm on the list 😛

@hokienick you may want to forward this list to support or to who is responsible to enter that data into the db...

This is not something that should be done in the code level 😉

[2019-01-22 19:48] ThomasKranitsas commented on #1892
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 19:48] ThomasKranitsas commented on #1892
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 19:48] ThomasKranitsas commented on #1892
[500]: Challenge for the updated issue 1892 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 19:49] ThomasKranitsas commented on #1892
@nahidshahin this is still yours. I'm just trying to fix tcx

[2019-01-22 19:54] ThomasKranitsas commented on #1892
[500]: Challenge for the updated issue 1892 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 19:55] ThomasKranitsas commented on #1892
[500]: Challenge for the updated issue 1892 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 19:55] ThomasKranitsas commented on #1892
[500]: Challenge for the updated issue 1892 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 20:01] ThomasKranitsas commented on #1892
[500]: Challenge for the updated issue 1892 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 20:01] ThomasKranitsas commented on #1892
[500]: Challenge for the updated issue 1892 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 20:01] ThomasKranitsas commented on #1892
[500]: Challenge for the updated issue 1892 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 20:02] ThomasKranitsas commented on #1892
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 20:02] ThomasKranitsas commented on #1892
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 20:05] ThomasKranitsas commented on #1892
Contest https://www.topcoder.com/challenges/30080091 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-22 20:05] ThomasKranitsas commented on #1892
Contest https://www.topcoder.com/challenges/30080091 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-23 09:56] gurmeetb opened #1895 "[$30]Submission Time is shown as LoggedIn User's Current Time"
**Describe the bug**
When looking at submissions for challenge, the submission time is logged in user's current time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/challenges/30079982/?type=develop&tab=submissions
2. Refer to `Submission Time` - refresh screen after a min or so, it will update with user's current system time.

**Expected behavior**
Submission

[2019-01-23 10:01] gurmeetb commented on #1895
@sushilshinde Also I think for F2F, we should show History like before which is missing.

[2019-01-23 11:30] gurmeetb commented on #1895
@skyhit agree this is app issue.

[2019-01-23 12:55] kkartunov commented on #1878
@topcoder-devops added `kubik` as subdomain to community app.

[2019-01-23 15:54] sushilshinde commented on #1785
@gurmeetb issue still exists even though API returns documentId

[2019-01-23 16:34] ThomasKranitsas commented on #1892
@nahidshahin any update here? This should be a very straightforward and quick task

[2019-01-23 16:38] hokienick commented on #1856
Before we close this issue, can we make the default have no background instead of the grey?

[2019-01-23 17:55] nahidshahin commented on #1892
right, it's pretty straightforward. wondering how to test.

[2019-01-23 17:58] ThomasKranitsas commented on #1892
I guess you can either hardcode it or inject the badge data so the app will render it. Just don't commit that part of the code.

[2019-01-23 18:02] nahidshahin commented on #1892
right

[2019-01-23 19:34] nahidshahin commented on #1892
@ThomasKranitsas  PR https://github.com/topcoder-platform/community-app/pull/1897

[2019-01-24 10:53] #1785 closed

[2019-01-24 10:53] sushilshinde commented on #1785
Deployed on prod

[2019-01-24 10:53] sushilshinde commented on #1862
Deployed on prod

[2019-01-24 10:53] #1862 closed

[2019-01-24 11:03] sushilshinde commented on #1895
There is a serious issue with time lib that we are using.

@gurmeetb do you mind taking this up?

[2019-01-24 11:07] gurmeetb commented on #1895
@sushilshinde no worries, I know the exact place, will need to do some marshaling with library calls. I will try to get this asap.

[2019-01-24 11:08] ThomasKranitsas commented on #1895
Contest https://www.topcoder.com/challenges/30080556 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 11:08] ThomasKranitsas commented on #1895
Contest https://www.topcoder.com/challenges/30080556 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 11:08] sushilshinde commented on #1885
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-01-24 11:10] ThomasKranitsas commented on #1895
Contest https://www.topcoder.com/challenges/30080556 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 11:15] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 11:15] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 11:16] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 11:16] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 11:19] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 11:20] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 11:20] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 11:20] ThomasKranitsas commented on #1885
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 11:20] ThomasKranitsas commented on #1885
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 11:21] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 11:21] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 12:34] sushilshinde commented on #1860
@systic can you verify the change?

[2019-01-24 12:39] sushilshinde commented on #1867
@harshitmehta123 please create ticket on https://github.com/appirio-tech/ap-challenge-microservice/

[2019-01-24 12:39] ThomasKranitsas commented on #1867
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 12:40] #1867 closed

[2019-01-24 12:40] ThomasKranitsas commented on #1867
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30079108<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 13:16] gurmeetb commented on #1895
@sushilshinde this is ready to be moved to PROD. Kindly test once on your side too for both F2F and Code. Thanks

[2019-01-24 21:12] Gauravseta commented on #1885
@sushilshinde PR RR #1901

[2019-01-24 21:21] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 21:21] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 21:21] ThomasKranitsas commented on #1885
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 21:21] ThomasKranitsas commented on #1885
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:34] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:34] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:35] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:35] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:36] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:36] ThomasKranitsas commented on #1885
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:36] ThomasKranitsas commented on #1885
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:37] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:37] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:37] ThomasKranitsas commented on #1885
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:37] ThomasKranitsas commented on #1885
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:38] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:38] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:48] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:48] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:48] ThomasKranitsas commented on #1885
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 22:48] ThomasKranitsas commented on #1885
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 23:00] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 23:01] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 23:02] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 23:02] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 23:02] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 23:03] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-24 23:03] ThomasKranitsas commented on #1885
[500]: Challenge for the updated issue 1885 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-25 09:36] sushilshinde commented on #1885
@NehaSharma02 can you issue creator to verify the fix  at

https://beta-community-app.topcoder.com/challenges

[2019-01-25 10:06] ThomasKranitsas commented on #1873
Contest https://www.topcoder.com/challenges/30079605 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-25 10:16] sushilshinde commented on #1895
Thanks @gurmeetb

[2019-01-25 10:16] #1895 closed

[2019-01-25 10:19] ThomasKranitsas commented on #1895
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30080556<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-25 11:44] ThomasKranitsas commented on #1885
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30080607<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-25 12:39] sushilshinde commented on #1860
Deployed on production

[2019-01-25 12:39] #1860 closed

[2019-01-28 11:18] sushilshinde commented on #1830
I found this difference text on marathon matches isn't showing up.

![topcoder challenges 2019-01-28 16-40-02](https://user-images.githubusercontent.com/683231/51833076-6e69e180-231c-11e9-9ba6-90753f0f376f.png)

[2019-01-28 15:06] sushilshinde opened #1909 "Turning off 'Challenges' menu for zurich community temporarily"

[2019-01-28 15:07] sushilshinde commented on #1909
Deployed on prod

https://zurich.topcoder.com/

[2019-01-28 15:07] #1909 closed

[2019-01-28 16:42] ThomasKranitsas commented on #1666
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-28 16:42] ThomasKranitsas commented on #1666
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-28 16:44] ThomasKranitsas commented on #1666
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-28 16:44] ThomasKranitsas commented on #1666
[504]: Failed to create challenge.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-28 16:49] ThomasKranitsas commented on #1666
Contest https://www.topcoder.com/challenges/30081127 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-28 16:52] ThomasKranitsas commented on #1666
I have fixed this and it's already deployed on prod.

Screenshot:
<img width="1313" alt="screenshot 2019-01-28 at 18 51 40" src="https://user-images.githubusercontent.com/4612921/51851997-c9580480-232d-11e9-8fbe-41f7298e8db2.png">

[2019-01-28 16:52] #1666 closed

[2019-01-28 16:52] ThomasKranitsas commented on #1666
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30081127<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-29 09:02] ThomasKranitsas opened #1911 "[$40] Cannot load user profile because of missing property"
**Describe the bug**
The user profile is not loading for copilot users.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/members/thomaskranitsas
2. See error

**Expected behavior**
The page should load and hide the information that's missing.

**Screenshots**
<img width="1313" alt="screenshot 2019-01-29 at 11 00 35" src="https://user-images.githubusercontent.com

[2019-01-29 09:05] Gauravseta commented on #1911
@ThomasKranitsas is this open for pickup?

[2019-01-29 09:06] ThomasKranitsas commented on #1911
No, I'm working on it.. I've almost completed it. It's just a payment for myself

[2019-01-29 09:06] Gauravseta commented on #1911
@ThomasKranitsas ok

[2019-01-29 09:16] ThomasKranitsas commented on #1911
Contest https://www.topcoder.com/challenges/30081378 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-29 12:32] ThomasKranitsas commented on #1873
Contest https://www.topcoder.com/challenges/30079605 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-29 12:36] sushilshinde commented on #1873
@Gauravseta let's also chat on slack, I'm also looking at the code.

It's an urgent issue.

[2019-01-29 12:41] ajefts opened #1915 "[$30]Catalog page not rendering well on ie 11 | Urgent"
If you visit https://zurich.topcoder.com/catalog in IE 11, the rendering of the catalog items is not good.  Let's make sure we're supporting IE 11 for this page (and site) since it's used by this customer in high numbers.

![image](https://user-images.githubusercontent.com/3812270/51908940-2f2da600-2399-11e9-93f3-7347dd94af62.png)

[2019-01-29 12:47] sushilshinde commented on #1915
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-01-29 12:52] ThomasKranitsas commented on #1915
[500]: Challenge for the updated issue 1915 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-29 12:52] ThomasKranitsas commented on #1915
Contest https://www.topcoder.com/challenges/30081556 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-29 12:54] ThomasKranitsas commented on #1915
Contest https://www.topcoder.com/challenges/30081556 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-29 14:54] ThomasKranitsas commented on #1915
Contest https://www.topcoder.com/challenges/30081556 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-29 16:52] suppermancool commented on #1915
@sunildahiya done in https://github.com/topcoder-platform/community-app/pull/1916 .

[2019-01-29 18:28] hokienick opened #1917 "Change API Call for Email Newsletter Signups"
This update is a follow up to closed issue #1271

Originally the plan was that at a click of a button, the Topcoder member would register for a newsletter by being assigned to a group within a list in our Mailchimp instance.

This has been working out fine, but we have discovered that it has limitations.  Instead of assigning these members to groups, we are instead going to assign that member a "t

[2019-01-30 06:44] kkartunov commented on #1878
@ajefts @topcoder-devops Implemented with 929f16f02c7df0e9f2a1da0dab0659ca936a0215

The custom error page path is set at `/forbidden`. Means app will redirect all visitors not allowed to this url. I think NGINX should do same for not whitelisted visitors as per the diagram above.

Contentful link to edit the page:
https://app.contentful.com/spaces/f4rv5dt395nf/entries/64XzS4SHtuYqqkGq8goeyY

[2019-01-30 09:24] kkartunov commented on #1833
@sushilshinde check 758b16e4e085539895a32790db0b02155e19e281
This cleans up and implements requested.

[2019-01-30 11:39] sushilshinde commented on #1915
@ajefts

please test https://community-app.topcoder-dev.com/__community__/zurich/catalog

[2019-01-31 07:46] kkartunov commented on #1856
@hokienick there is no default gray applied by the dropdown. In the example, it comes from the viewport as extra style property. I think we can safely close this one.

[2019-01-31 16:01] ajefts opened #1922 "[$30] Remove newsletter footer on challenges page"
Remove the newsletter footer on the challenges pages on the sub-community sites:

![image](https://user-images.githubusercontent.com/3812270/52066943-7e193e00-2547-11e9-9ed9-74bb0e36a8c5.png)

[2019-01-31 16:09] ThomasKranitsas commented on #1922
Contest https://www.topcoder.com/challenges/30082231 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-31 16:09] ThomasKranitsas commented on #1922
Contest https://www.topcoder.com/challenges/30082231 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-31 16:57] ThomasKranitsas commented on #1922
PR https://github.com/topcoder-platform/community-app/pull/1923

[2019-01-31 17:57] ThomasKranitsas commented on #1922
Deployed on dev

[2019-01-31 17:57] #1922 closed

[2019-01-31 17:58] ThomasKranitsas commented on #1922
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30082231<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-01-31 19:53] KevinLeigh commented on #1592
Hey @ThomasKranitsas, hope all is well. Is this ticket open for pickup?

[2019-01-31 19:56] ThomasKranitsas commented on #1592
Hey @KevinLeigh! I'm doing good, thanks! Hope all is well at your end as well!

Well, if you can reproduce the issue, figure out the root cause and fix it, go for it!

[2019-02-01 04:33] kkartunov commented on #1878
@ajefts @topcoder-devops closing this as it is completed I think.

[2019-02-01 04:33] #1878 closed

[2019-02-01 06:31] sushilshinde commented on #1915
Thanks @suppermancool

[2019-02-01 06:31] #1915 closed

[2019-02-01 06:31] ThomasKranitsas commented on #1915
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30081556<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-01 06:34] sushilshinde commented on #1873
@Gauravseta are you working on this?

[2019-02-01 06:59] Gauravseta commented on #1873
@sushilshinde sincere apology for delay. yes working. just few time. will update you immediately.

[2019-02-01 07:51] sushilshinde commented on #1833
@kkartunov I found a delay in rendering the **My Challenges** bucket

[2019-02-01 21:16] Gauravseta commented on #1873
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/1926

[2019-02-02 05:13] sushilshinde commented on #1873
Thanks @Gauravseta

Testing.

[2019-02-04 06:36] RiteshTC opened #1927 "Subscription to Newsletter Button Does not Work"
**Describe the bug**
Clicking on Subscribe to Newsletter generates an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/community/competitive-programming
2. Click on "Subscribe to the Competitive Programming Newsletter"
3. See error "The resource submitted could not be validated. For field-specific details, see the 'errors' array."

1. Reproducible on http

[2019-02-04 10:27] ThomasKranitsas opened #1928 "Email change functionality is broken"
**Describe the bug**
The API returns an `Unable to process JSON` error when the user tries to change the email address from the Settings page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/settings/account
2. Click on `Change email`
3. Enter the new email and click `Send verification email`
4. See error

**Expected behavior**
Only the required properties for c

[2019-02-04 10:49] #1928 closed

[2019-02-04 21:09] ajefts commented on #1928
@ThomasKranitsas where did you move it?

[2019-02-04 22:11] ajefts commented on #1928
ok, thanks

[2019-02-05 09:45] kkartunov commented on #1917
@hokienick
Example use: https://app.contentful.com/spaces/b5f1djy59z3a/entries/1wdOJLysXa8G6IqSAseEeQ

[2019-02-05 17:54] Gauravseta commented on #1873
@sushilshinde as discussed, can you please create another ticket?

[2019-02-05 21:55] hokienick opened #1933 "Accordion Component Style Change"
As can be seen on this page: https://blockchain.topcoder.com/learn in an update it seems that the style has been changed on the left side.  Please change this so that it has a style of font-size: 20px and line-height:30px

[2019-02-06 06:00] KevinLeigh commented on #1592
Hey @ThomasKranitsas, thank you :). I will attempt to reproduce issue within today.

[2019-02-06 07:06] ThomasKranitsas commented on #1592
@KevinLeigh I have found the issue and I have fixed it. I'll push the code shortly. Please don't work on this

[2019-02-06 07:12] ThomasKranitsas commented on #1592
[500]: Challenge for the updated issue 1592 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-06 07:12] ThomasKranitsas commented on #1592
[500]: Challenge for the updated issue 1592 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-06 08:45] #1592 closed

[2019-02-06 09:21] sushilshinde opened #1936 "[$40]Fix loader issue from 1873 for direct hit"
Ref : #1873

It will not work with these patterns if you directly hit the page

<domain>/challenges/<id>
or
<domain>/challenges/<id>/submit

The user should be able to see text box even if they hit these urls

[2019-02-06 09:22] sushilshinde commented on #1873
@Gauravseta please check

https://github.com/topcoder-platform/community-app/issues/1936

[2019-02-06 09:23] ThomasKranitsas commented on #1936
Contest https://www.topcoder.com/challenges/30082941 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-06 09:23] ThomasKranitsas commented on #1936
Contest https://www.topcoder.com/challenges/30082941 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-06 09:24] ThomasKranitsas commented on #1936
Contest https://www.topcoder.com/challenges/30082941 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-06 13:41] sushilshinde opened #1941 "[$20]Resolve warnings on production build"
https://www.topcoder.com/challenges

Check chrome console

<img width="1241" alt="devtools - www topcoder com challenges 2019-02-06 19-08-11" src="https://user-images.githubusercontent.com/683231/52345274-c8685680-2a42-11e9-9889-8cf9f7f70c30.png">

[2019-02-06 13:42] sushilshinde commented on #1941
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-02-06 13:44] ThomasKranitsas commented on #1941
Contest https://www.topcoder.com/challenges/30083000 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-06 13:44] ThomasKranitsas commented on #1941
Contest https://www.topcoder.com/challenges/30083000 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-06 13:44] ThomasKranitsas commented on #1941
Contest https://www.topcoder.com/challenges/30083000 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-06 14:17] ajefts opened #1942 "[$20] Ratings for Code Challenges"
Add ratings to the Code track.  Work towards having ratings for all.

<p></p>

This will impact recognition of TC as a merit based delivery platform, helps enable vetting for CaaS, etc.

<p></p>

There are several parts to this:

<p></p>

1. Update the data loaders to get the data into the DW, Dynamo, etc. so it's available in the API.

2. Update the profile pages so they show the ratings chart li

[2019-02-06 14:36] ThomasKranitsas commented on #1942
@ajefts @sushilshinde @skyhit few questions/notes on this one:

1. Which is the service where we need to add support for rating on the Code track?

2. How do we currently handle rating updates after a challenge is completed? Perhaps it would be a good idea to build a processor for that to follow the event-driven architecture we're currently using. Or it's fine to leave the legacy app to handle tha

[2019-02-06 14:36] ThomasKranitsas commented on #1833
Contest https://www.topcoder.com/challenges/30083001 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-06 14:36] ThomasKranitsas commented on #1833
Contest https://www.topcoder.com/challenges/30083001 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-06 15:07] ajefts commented on #1942
FireIce is already handling getting the data available in the api, so really we need your help for the front end changes. The data should appear in the APIs the same way it does for the assembly track.

[2019-02-06 15:09] ThomasKranitsas commented on #1942
Perfect! Then I guess I should wait for the data to be available and then do changes on the frontend

[2019-02-06 15:22] ajefts commented on #1942
I think the rating data is there in dev now?

[2019-02-06 15:48] hokienick commented on #1917
Here is an example of how to use this
```<NewsletterSignupForMembers listId="28bfd3c062" tags="Dev Newsletter" label="Subscribe to the Development Newsletter"/>```

[2019-02-06 15:48] #1917 closed

[2019-02-06 15:59] hokienick commented on #1856
There we go!

[2019-02-06 15:59] #1856 closed

[2019-02-06 18:05] ThomasKranitsas commented on #1942
I've got the rating distribution chart working but the rating history chart doesn't have any data.
<img width="1444" alt="screenshot 2019-02-06 at 20 04 05" src="https://user-images.githubusercontent.com/4612921/52363022-82af8c00-2a4a-11e9-8866-93684d8caf3d.png">
<img width="1444" alt="screenshot 2019-02-06 at 20 04 08" src="https://user-images.githubusercontent.com/4612921/52363024-84794f80-2a4a-

[2019-02-06 18:26] ajefts commented on #1942
ok.  @skyhit mentioned on slack that the data isn't fully getting into dynamo yet, so we may need to wait in that to continue.

[2019-02-07 05:31] #1933 closed

[2019-02-07 06:00] kkartunov commented on #1933
@hokienick updated
test on: https://community-app.topcoder-dev.com/__community__/blockchain/learn

[2019-02-07 08:43] ThomasKranitsas commented on #1830
Contest https://www.topcoder.com/challenges/30083059 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-07 08:43] ThomasKranitsas commented on #1830
Contest https://www.topcoder.com/challenges/30083059 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-07 08:43] #1830 closed

[2019-02-07 08:43] ThomasKranitsas commented on #1830
Paid manually to avoid issues with TCX

[2019-02-07 09:53] ThomasKranitsas commented on #1422
fixed

[2019-02-07 09:53] #1422 closed

[2019-02-07 14:35] sushilshinde commented on #1942
![](https://github.trello.services/images/mini-trello-icon.png) [Ratings for Code Challenges](https://trello.com/c/wEHewUjO/10-ratings-for-code-challenges)

[2019-02-07 15:39] Gauravseta commented on #1936
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/1945

[2019-02-07 19:27] Gauravseta commented on #1936
@sushilshinde it is updated

[2019-02-07 19:58] Gauravseta commented on #1936
@sushilshinde can you please confirm if direct hit working. as i am not able to test it locally running, npm run dev

when i hit http://localhost:3000/challenges/30054673 , it says unauthorized.

[2019-02-08 08:59] #1936 closed

[2019-02-08 09:00] ThomasKranitsas commented on #1936
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30082941<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-08 09:00] sushilshinde commented on #1873
Thanks @Gauravseta it is working and deployed on the production

[2019-02-08 09:00] #1873 closed

[2019-02-08 09:00] ThomasKranitsas commented on #1873
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30079605<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-08 09:00] sushilshinde commented on #1941
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-02-08 09:02] ThomasKranitsas commented on #1941
Contest https://www.topcoder.com/challenges/30083000 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-08 18:47] hokienick opened #1950 "Codeblocks in Contentful New Line Not Working w/ Comments"
Take this page for example: https://www.topcoder.com/community/competitive-programming/tutorials/binary-indexed-trees/
[Contentful page here](https://app.contentful.com/spaces/b5f1djy59z3a/entries/5GbFbuWMSckIoMiGi4us8O?previousEntries=41K4b8qNwkeakwcOaiiUW6)

Go to the first code block with comments.  Notice that is what is making the page longer than it should be.

Looking in the inspector you w

[2019-02-08 22:07] hokienick opened #1951 "Regionals Leaderboard"
We have the TCO19 Leaderboards but those come with the expectation that we have "Rank, Handle, # of challenges, Points, and Total Score".

In our Slack channel with Harshit he asks that we have the columns for "Handle, # of Challenges, TCO Points, and Final Score".  Let me know what you would need to test this.

Thanks!

[2019-02-09 07:38] ThomasKranitsas commented on #1942
PR https://github.com/topcoder-platform/community-app/pull/1954

[2019-02-09 09:36] #1284 closed

[2019-02-09 11:23] ThomasKranitsas commented on #1667
@RiteshTC can you please check now that we have the processors in place? I tried with a new profile and it worked fine.

[2019-02-11 07:12] RiteshTC commented on #1530
The call to the endpoint
https://www.topcoder.com/community-app-assets/api/xml2json
is failing.

<img width="1411" alt="errorrssfeed" src="https://user-images.githubusercontent.com/5771673/52549706-7d5f9200-2dfa-11e9-9e75-199cc3b61899.png">

cc @adroc-tc

[2019-02-11 07:15] ThomasKranitsas commented on #1530
I can reproduce the same issue on Chrome/MacOS

[2019-02-11 13:09] sushilshinde commented on #1941
@Gauravseta are you working on this?

[2019-02-11 13:11] Gauravseta commented on #1941
@sushilshinde apology will immeidately update you.

[2019-02-11 13:19] sushilshinde opened #1957 "Service worker issues"
- challenge cache problem - shows old data and page refresh is required, it's caused by the service worker
- flickering/reloading - page loads and after 2-3s it's reloaded, there is something wrong with SSR, this is very annoying when opening challenge details from slack on mobile

[2019-02-11 13:23] ThomasKranitsas commented on #1957
Contest https://www.topcoder.com/challenges/30083387 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-11 13:23] ThomasKranitsas commented on #1957
Contest https://www.topcoder.com/challenges/30083387 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-11 13:41] PrakashDurlabhji commented on #1957
@thomaskranitsas is this open for pickup?

[2019-02-11 15:01] ThomasKranitsas commented on #1307
Contest https://www.topcoder.com/challenges/30071546 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-11 15:01] ThomasKranitsas commented on #1307
Contest https://www.topcoder.com/challenges/30071546 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-11 15:11] ThomasKranitsas commented on #1307
Contest https://www.topcoder.com/challenges/30071546 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-11 15:18] #1307 closed

[2019-02-11 15:18] ThomasKranitsas commented on #1307
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071546<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-11 15:55] ThomasKranitsas commented on #1530
Contest https://www.topcoder.com/challenges/30083391 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-11 15:55] ThomasKranitsas commented on #1530
Contest https://www.topcoder.com/challenges/30083391 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-11 15:55] ThomasKranitsas commented on #1530
Contest https://www.topcoder.com/challenges/30083391 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-11 16:09] ajefts opened #1963 "My Projects menu on community portal"
Add a "My Projects" link in the top nav as described in the attached screenshot.

- Only show "My Projects" if the user is logged in.
- It should link to https://connect.topcoder.com

![image](https://user-images.githubusercontent.com/3812270/52576095-767e5280-2ded-11e9-8137-3952aadf6398.png)

[2019-02-11 16:10] ajefts commented on #1963
@kkartunov Is this one you can do?

[2019-02-11 16:43] ThomasKranitsas commented on #1530
PR https://github.com/topcoder-platform/community-app/pull/1964

[2019-02-11 17:00] #1530 closed

[2019-02-11 17:00] ThomasKranitsas commented on #1530
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30083391<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-11 18:10] NehaSharma02 opened #1967 "Link redirection"
Please redirect the below given link to Topcoder
http://crowdsourcing.topcoder.com/geniuslink

The page is giving error: 503 Service Temporarily Unavailable

@RiteshTC
@ajefts
@birdofpreyru

[2019-02-12 08:03] kkartunov commented on #1951
@hokienick this is now clear, right?

[2019-02-12 09:05] sushilshinde opened #1968 "Silent dashboard error pop-up"

[2019-02-12 09:08] #1968 closed

[2019-02-12 09:16] sushilshinde commented on #1941
@Gauravseta do we have a solution?

[2019-02-12 09:23] Gauravseta commented on #1941
@sushilshinde m holding it for long..not able to solve it.

[2019-02-12 09:52] ThomasKranitsas commented on #1833
Disregard the changes on this ticket. I'm trying to fix TCX

[2019-02-12 09:52] ThomasKranitsas commented on #1833
@kkartunov, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-12 09:54] ThomasKranitsas commented on #1833
Contest https://www.topcoder.com/challenges/30083001 has been updated - it has been assigned to kiril.kartunov.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-12 09:54] #1833 closed

[2019-02-12 09:56] ThomasKranitsas commented on #1833
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30083001<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-12 11:52] sushilshinde commented on #1941
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-02-12 11:53] sushilshinde commented on #1957
@PrakashDurlabhji yes it is now

[2019-02-12 11:54] ThomasKranitsas commented on #1941
Contest https://www.topcoder.com/challenges/30083000 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-12 12:11] ThomasKranitsas commented on #1957
Contest https://www.topcoder.com/challenges/30083387 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-12 14:13] sushilshinde commented on #1957
@PrakashDurlabhji PR on `hot-fixes` branch

[2019-02-12 14:42] sushilshinde commented on #1731
We are addressing this

https://github.com/topcoder-platform/community-app/issues/1957

So closing

[2019-02-12 14:42] #1731 closed

[2019-02-12 14:43] sushilshinde commented on #1734
I think we covered this in performance effort

[2019-02-12 14:43] #1734 closed

[2019-02-12 14:46] sushilshinde commented on #1722
fixed

[2019-02-12 14:46] #1722 closed

[2019-02-12 14:47] #1537 closed

[2019-02-12 14:48] sushilshinde commented on #1535
fixed

[2019-02-12 14:48] #1535 closed

[2019-02-12 14:51] #1375 closed

[2019-02-12 15:30] sushilshinde commented on #1941
Thanks @nahidshahin it is working

[2019-02-12 15:31] ThomasKranitsas commented on #1941
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30083000<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-12 15:38] ThomasKranitsas commented on #1942
@ajefts @sushilshinde anything else pending from my end?

[2019-02-12 17:28] hokienick commented on #1950
Temporarily adding this to the style tags fixes the issue:

`.hljs-comment:after {
    content: '\A';
    white-space: pre;
  }`

[2019-02-12 17:28] #1950 closed

[2019-02-14 05:58] sushilshinde commented on #1957
@PrakashDurlabhji are you working on this?

[2019-02-14 12:31] PrakashDurlabhji commented on #1957
@sushilshinde yes raising PR

[2019-02-14 12:38] PrakashDurlabhji commented on #1957
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/1973
can you please check?

[2019-02-14 12:51] sushilshinde commented on #1957
@PrakashDurlabhji I dont see any change for "challenge cache problem"

[2019-02-14 12:55] PrakashDurlabhji commented on #1957
@sushilshinde challenge listing page or challenge detail page?

[2019-02-14 14:00] PrakashDurlabhji commented on #1957
@sushilshinde PR updated

[2019-02-14 14:01] PrakashDurlabhji commented on #1957
@sushilshinde forgot my previous PR is merged.
https://github.com/topcoder-platform/community-app/pull/1974

[2019-02-14 15:00] maxceem opened #1975 "Add direct link to the scorecard into F2F Iterative Review email notification"
This is not a direct issue in Community App, but when I sent it to support@topcoder.com, they asked me to log it here.

**Is your feature request related to a problem? Please describe.**
I run several F2F challenges, and a new member submitted.
I've reviewed his submission which has several issues and provided detailed issues descriptions.
Very soon the member submitted again with small random fix

[2019-02-15 07:53] sushilshinde commented on #1957
Both PR solutions dint worked @PrakashDurlabhji

[2019-02-15 08:15] ThomasKranitsas commented on #1957
Contest https://www.topcoder.com/challenges/30083387 has been updated - it has been assigned to _sushilshinde.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-15 14:37] PrakashDurlabhji commented on #1957
@sushilshinde can you please give me sometime??

[2019-02-15 15:33] sushilshinde commented on #1941
@nahidshahin I deployed changes on the production seems like warnings are still there

[2019-02-16 04:35] sushilshinde opened #1981 "Delay in the full list loading and reload"
Check this video

https://www.youtube.com/watch?v=-HKZoyOUQPw

[2019-02-17 14:56] Gauravseta commented on #1957
@sushilshinde shall i give it a try?

[2019-02-18 07:36] billthezab opened #1982 "Cannot download submission from the main site"
**Describe the bug**
I cannot download my submission from this challenge https://www.topcoder.com/challenges/30082423 from the main site. The main site redirects me to OR which then says that my submission was deleted (see screenshot below).

Downloading the submission from OR works though.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/challenges/30082423/my-

[2019-02-18 07:38] ThomasKranitsas commented on #1982
@ajefts @sushilshinde ☝️FYI

[2019-02-19 07:27] ThomasKranitsas commented on #1957
Contest https://www.topcoder.com/challenges/30083387 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-19 07:27] ThomasKranitsas commented on #1957
Contest https://www.topcoder.com/challenges/30083387 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-19 07:27] sushilshinde commented on #1957
@Gauravseta, please try

[2019-02-22 09:28] ajaysaini9782 opened #1983 "Contest specification page is hanging while waiting for facebook"
**Describe the bug**
Contest specification page is hanging while waiting for facebook.

**Screenshots**
![Uploading Specification issue.png…]()

[2019-02-22 09:30] ajaysaini9782 commented on #1983
@alamora

[2019-02-22 16:02] sushilshinde commented on #1957
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-02-22 16:21] alamora commented on #1983
Thanks - let me know if you need me to re-attach the image

[2019-02-22 20:37] hokienick opened #1986 "Ability to choose size of slider"
Currently we are able to create a slider, but we are only able to create a large banner version.

We would like an option to have the same functionality, just at a smaller scale physically.  If we could have the choice to create a slider centered with the dimensions of 1100x500, that would be great!

Here is an example of what the slider should look like on a page:

<img width="1300" alt="screen s

[2019-02-22 21:25] hokienick opened #1987 "Ability to Create An Item Slider"
Our track homepages used to contain [a slider to display the different competition types for a track](https://app.contentful.com/spaces/b5f1djy59z3a/entries/3JV1ynpUY0oS0UUwiwW0uu). We need a similar functionality that we can use on any community page.

**Requirements:**
- Ability to enter 2 or more _items_ (unlimited, but if needed Max:20)
- Each _item_ will contain the options to choose an image

[2019-02-22 21:28] hokienick opened #1988 "Ability To Change Button Color"
Checked with Thomas and he says it is not possible to change the colors of a button.  We will need this for our past TCO pages that we are recreating in Contentful.

I used [this doc](https://github.com/topcoder-platform/topcoder-react-utils/blob/master/docs/button.md) to see if it was possible, but alas it is not!

[2019-02-25 07:25] kkartunov commented on #1988
@hokienick for this one we will need to patch our react-utils library...
https://github.com/topcoder-platform/topcoder-react-utils/blob/master/src/shared/components/Button/index.jsx

[2019-02-25 07:38] kkartunov commented on #1986
@hokienick check this one:
https://app.contentful.com/spaces/b5f1djy59z3a/entries/7iU0F379Q5vhw1cpUM1hMb

note how width is controlled by the slider but height is controlled by the slider item itself! We will be more flexible with such an approach as it allows different sizes for slider and slider items.

demo here:
http://community-app.topcoder-dev.com/examples/contentful/slider/7iU0F379Q5vhw1cpU

[2019-02-25 11:20] JayaDhaka opened #1989 "Showing Veteran challenges on the public review opportunities page"
The veteran challenges do not reflect on the public review opportunities page due to which reviewers are not able to able to apply for the open reviewer position.

Feature requested: Please add veteran challenges to the list of review opportunities page as this will enable the option for all reviewers to apply.

Review opportunity page link: https://www.topcoder.com/challenges?bucket=reviewOpportu

[2019-02-25 12:16] ThomasKranitsas commented on #1989
I'll investigate to see if this an issue on our backend or if we're not fetching the review opportunities using authentication thus we're only fetching the public ones.

[2019-02-25 14:49] ajefts commented on #1963
Failed to create challenge
Response body:
[code]

[2019-02-25 14:49] ajefts commented on #1963
Failed to create challenge
Response body:
[code]

[2019-02-25 17:06] #1951 closed

[2019-02-25 18:35] hokienick commented on #1988
@kkartunov That would be perfectly fine for our needs.  In order to keep in line with the other parameters however like

`<Button to="">` or `<Button opennewtab="true">`

Should we do something like
`Button color="red">` or something like that?

Also, the ability to put in a hex value should be possible as well

[2019-02-26 11:22] ThomasKranitsas commented on #1957
Contest https://www.topcoder.com/challenges/30083387 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-02-26 11:22] sushilshinde commented on #1957
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-02-26 18:36] hokienick commented on #1700
This can be taken care of with the "Item Slider" ticket #1987

[2019-02-26 18:36] #1700 closed

[2019-02-27 14:43] kkartunov commented on #1963
@ajefts how is ^^^ related to this issue? Where do we fail to create a challenge?

[2019-02-28 12:27] m-yadav opened #1991 "[$20] Badges for members not visible"
**Describe the bug**
Topcoder badges earned by the community members are not visible on the profile page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/members/iamtong'
2. Click on 'badges under profile picture'
3. A blank page appears.
4. Error can be seen in the console

**Expected behavior**
1. Go to "https://www.topcoder.com/members/jmpld40"
2. Click on

[2019-02-28 20:38] ajefts commented on #1988
@hokienick Do none of the existing button styles/themes work for this?  I mean, do we have to match the old style exactly?  We should aim for consistency...

[2019-03-01 15:16] sushilshinde opened #1992 "[$1]Past challenges for Data Science track aren't showing up | URGENT"
![topcoder challenges 2019-03-01 20-45-54](https://user-images.githubusercontent.com/683231/53647205-0a13a800-3c63-11e9-8528-95813f399d3e.png)

[2019-03-01 15:17] sushilshinde commented on #1992
![](https://github.trello.services/images/mini-trello-icon.png) [Past challenges for Data Science Track isn't showing up](https://trello.com/c/GXzwP8Oy/35-past-challenges-for-data-science-track-isnt-showing-up)

[2019-03-01 15:18] sushilshinde commented on #1992
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-03-01 15:20] ThomasKranitsas commented on #1992
Contest https://www.topcoder.com/challenges/30085142 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-01 15:20] ThomasKranitsas commented on #1992
Contest https://www.topcoder.com/challenges/30085142 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-01 15:20] ThomasKranitsas commented on #1992
Contest https://www.topcoder.com/challenges/30085142 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-01 15:21] ThomasKranitsas commented on #1992
Contest https://www.topcoder.com/challenges/30085142 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-01 15:22] sushilshinde commented on #1992
@rashmi73 it's urgent, please PR asap

[2019-03-01 15:22] ThomasKranitsas commented on #1992
Contest https://www.topcoder.com/challenges/30085142 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-01 15:24] rashmi73 commented on #1992
@sushilshinde yes

[2019-03-01 20:50] NehaSharma02 opened #1993 "[$40]Issue on challenge details page | CSS fix"
There is an issue with "bold" and "italic" texts in challenge details page. For example:
https://www.topcoder.com/challenges/30084939/?type=design&noncache=true

Several lines were edited on Direct to make the page easy to read and those changes are not being displayed correctly on challenge details page. Please refer this:
Please refer to the image 1

Also, the "Round 1-2" content should be displ

[2019-03-01 22:47] rashmi73 commented on #1992
@sushilshinde since a long time on this and came to conclusion after debugging it that it is working pefectly fine on hot-fixes bbranch.
also attaching screenshot
![datasciencepast1](https://user-images.githubusercontent.com/41687423/53670832-1a974300-3ca2-11e9-884e-869c824ea6fb.png)

[2019-03-01 23:06] rashmi73 commented on #1992
@sushilshinde also working perfectly on master branch too

[2019-03-02 14:28] rashmi73 commented on #1992
@sushilshinde any updates?

[2019-03-02 14:42] ThomasKranitsas commented on #1991
@topcoder-platform/topcodercompetitors this is open for pickup

[2019-03-02 14:43] ThomasKranitsas commented on #1942
Can we close this one?

[2019-03-02 14:45] ThomasKranitsas commented on #1991
Contest https://www.topcoder.com/challenges/30085170 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-02 14:45] ThomasKranitsas commented on #1991
Contest https://www.topcoder.com/challenges/30085170 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-02 14:45] ThomasKranitsas commented on #1991
Contest https://www.topcoder.com/challenges/30085170 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-02 14:46] ThomasKranitsas commented on #1991
Contest https://www.topcoder.com/challenges/30085170 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-02 14:47] ThomasKranitsas commented on #1991
Contest https://www.topcoder.com/challenges/30085170 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-02 15:13] PrakashDurlabhji commented on #1991
@ThomasKranitsas PR on which branch?

[2019-03-02 15:14] ThomasKranitsas commented on #1991
Please use `hot-fixes`

[2019-03-02 15:43] PrakashDurlabhji commented on #1991
@ThomasKranitsas done. https://github.com/topcoder-platform/community-app/pull/1994

can you please check.

[2019-03-02 16:28] #1991 closed

[2019-03-02 16:28] ThomasKranitsas commented on #1991
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30085170<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-03 20:46] ThomasKranitsas commented on #1989
@ajefts how do we check group access? I see we have some checks in the review service but it doesn't seem to be working correctly.
https://github.com/appirio-tech/ap-review-microservice/blob/dev/service/src/main/java/com/appirio/service/review/manager/ReviewOpportunitiesManager.java#L743

Should we run a small challenge to investigate and fix this?

[2019-03-03 23:41] ajefts commented on #1989
You can run a small challenge. It should be based on the users groups just like we do it on the challenge listing page. If the user is in the same group as the challenge then they should see it and can apply.

[2019-03-04 09:51] RiteshTC commented on #1993
cc @adroc-tc

[2019-03-04 14:40] sushilshinde commented on #1993
Fixed

[2019-03-04 14:42] sushilshinde commented on #1992
@rashmi73 it is working locally, you are right. I'm still testing.

[2019-03-04 14:44] sushilshinde commented on #1726
please re-open if that occurs again

[2019-03-04 14:45] sushilshinde commented on #1837
We are killing this feature in near future.

[2019-03-04 14:48] #141 closed

[2019-03-04 14:49] #138 closed

[2019-03-04 14:49] #106 closed

[2019-03-04 14:49] #199 closed

[2019-03-04 14:50] #516 closed

[2019-03-04 14:50] #424 closed

[2019-03-04 14:51] #440 closed

[2019-03-04 14:51] #417 closed

[2019-03-05 07:15] kkartunov commented on #1986
@hokienick this is now in prod. See: https://community-app.topcoder.com/examples/contentful/slider/7iU0F379Q5vhw1cpUM1hMb

[2019-03-05 10:43] JayaDhaka opened #1997 "Cannot download pdf files from the downloads section of challenge details page"
**Describe the bug**
pdf files uploaded from Direct is not getting downloaded from challenge details page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to challenge link https://www.topcoder.com/challenges/30084694/?type=develop
2. Click on file name under the downloads section.
3. See error " Failed to load PDF document."

**Screenshots**

![image](https://user-images.githubuserconten

[2019-03-05 20:19] rashmi73 commented on #1992
@sushilshinde all working well?

[2019-03-06 07:27] #1986 closed

[2019-03-06 07:57] maxceem opened #1998 "Challenge description is shown with bold font when using paragraphs"
**Describe the bug**
If we use tag `<p>` inside challenge description it is shown as bold.

**To Reproduce**
1. Create some text in Google Docs and copy it to the challenge description in Direct. If you check the source code of such text it doesn't have any styles for bold. It only uses paragraphs - tag `<p>`.
2. Open the challenge in the community app.
3. You would see that all the text becomes b

[2019-03-06 08:23] ThomasKranitsas opened #2000 "[$1] Fix email verification callback links"
The current email verification callback links (`successUrl` & `failUrl`) are wrong.

Should be:
[code]

[2019-03-06 08:26] ThomasKranitsas commented on #2000
Contest https://www.topcoder.com/challenges/30085501 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-06 08:27] ThomasKranitsas commented on #2000
Contest https://www.topcoder.com/challenges/30085501 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-06 09:37] #2000 closed

[2019-03-06 09:38] ThomasKranitsas commented on #2000
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30085501<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-07 13:52] #588 closed

[2019-03-07 14:41] ajefts opened #2006 "[$20]Open payments page in new tab"
**User story**: "As a community member, I want the Payments page to open in a new tab so that I do not lose my place in my current navigation/window."

<p></p>

**Given**: I am a registered community member

**When**: I click on Payments in the upper nav

**Then**: the Payments page open in a new tab

<p></p>

[2019-03-07 14:41] ajefts commented on #2006
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1790705

[2019-03-07 14:47] ajefts opened #2007 "Technical Skeleton to support notifications"
Build the framework to support notifications for our apps. This will be the technical part of this effort and isn't dependent on the specific notifications that we want to present.

[2019-03-07 14:47] ajefts commented on #2007
Link to subfeature: https://tcprod.productboard.com/feature-board/planning/features/1857532

[2019-03-07 15:05] sushilshinde commented on #2006
Open `PAYMENTS` link in new tab

<img width="1924" alt="topcoder 2019-03-07 20-31-44" src="https://user-images.githubusercontent.com/683231/53965974-3c684e00-4118-11e9-8b54-fec6cb3fe839.png">

https://topgear.topcoder-dev.com/

[2019-03-07 15:12] sushilshinde commented on #2006
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-03-07 15:16] ThomasKranitsas commented on #1993
Contest https://www.topcoder.com/challenges/30085628 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-07 15:16] ThomasKranitsas commented on #1993
Contest https://www.topcoder.com/challenges/30085628 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-07 15:17] sushilshinde commented on #1993
Above problem can be fixed by adding

https://github.com/topcoder-platform/community-app/blob/57b156b2cd5e8ca08a01e9ccd238cc7de7d71ecc/src/shared/components/challenge-detail/Specification/styles.scss#L206

[code]

but that will break other track challenges.

Fix should include all the challenges.

[2019-03-07 15:18] ThomasKranitsas commented on #2006
Contest https://www.topcoder.com/challenges/30085630 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-07 15:18] ThomasKranitsas commented on #2006
Contest https://www.topcoder.com/challenges/30085630 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-07 15:20] ThomasKranitsas commented on #2006
Contest https://www.topcoder.com/challenges/30085630 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-07 15:20] sushilshinde commented on #1993
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-03-07 15:24] ThomasKranitsas commented on #1993
Contest https://www.topcoder.com/challenges/30085628 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-07 15:28] ThomasKranitsas commented on #1992
Contest https://www.topcoder.com/challenges/30085142 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-07 15:28] ThomasKranitsas commented on #1993
Contest https://www.topcoder.com/challenges/30085628 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-07 15:36] ThomasKranitsas commented on #2006
Contest https://www.topcoder.com/challenges/30085630 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-07 15:39] rashmi73 commented on #1957
@sushilshinde i wish to work on it. sorry for being late

[2019-03-07 15:39] rashmi73 commented on #1957
@sushilshinde possible now?

[2019-03-07 18:43] hokienick commented on #1988
@ajefts I agree with the consistency, but this is specifically in reference to the old tco pages (think tco03).  Jessie is trying to keep the same look and feel that they had back in the day.  If this is too complicated then I will let her and the design team know.

[2019-03-07 21:35] PrakashDurlabhji commented on #2006
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/2009

[2019-03-08 06:52] sushilshinde commented on #2006
@PrakashDurlabhji can you check tests, they are failing.

[2019-03-08 07:52] sushilshinde opened #2012 "Upgrade deployment script to Masterscript v1.3"
- Move env vars to S3
- Remove deploy.sh

[2019-03-08 07:53] sushilshinde commented on #2012
Done

[2019-03-08 07:53] #2012 closed

[2019-03-08 14:37] PrakashDurlabhji commented on #2006
@sushilshinde PR updated all pass

[2019-03-08 14:42] sushilshinde commented on #1993
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-03-08 14:46] ThomasKranitsas commented on #1993
Contest https://www.topcoder.com/challenges/30085628 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-08 15:23] gurmeetb commented on #1993
@sushilshinde  `Also, the "Round 1-2" content should be displayed on top under "Challenge Summary" intro texts. Please refer to the image 2` for this I think we need content change via Challenge Edit screen to move it up

[2019-03-09 05:18] sushilshinde commented on #2006
@ajefts @oanh please review

https://beta-community-app.topcoder.com/__community__/wipro
https://test-community-app.topcoder-dev.com/__community__/wipro

[2019-03-10 03:23] sushilshinde commented on #1998
Fixed

[2019-03-10 03:23] #1998 closed

[2019-03-10 03:34] sushilshinde opened #2016 "[$50]Improve existing 404 HTTP page with these changes"
Make the error component support Contentful viewport..." this way each sub-community will have the opportunity to have its own 404 pages instead of hard-coding such ones in the app.

**For TopGear**

it should look like this

![image (3)](https://user-images.githubusercontent.com/683231/54080321-fe834980-4312-11e9-80c2-6edc3720d02b.png)

**For Credit Suisse**

it should look like this

![image (3)

[2019-03-10 03:42] Oanh-and-only-Oanh commented on #2006
@sushilshinde @ajefts first link tested. Looks good for Topgear community.

[2019-03-10 03:50] sushilshinde commented on #2016
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-03-10 03:51] ThomasKranitsas commented on #2016
Contest https://www.topcoder.com/challenges/30085809 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-10 03:51] ThomasKranitsas commented on #2016
Contest https://www.topcoder.com/challenges/30085809 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-10 03:51] ThomasKranitsas commented on #2016
Contest https://www.topcoder.com/challenges/30085809 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-10 04:02] ThomasKranitsas commented on #2016
Contest https://www.topcoder.com/challenges/30085809 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-10 06:37] sushilshinde commented on #1993
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-03-10 06:50] sumitdaga commented on #2016
@sushilshinde
which branch should i work with?

[2019-03-10 07:17] ThomasKranitsas commented on #1993
Contest https://www.topcoder.com/challenges/30085628 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-10 16:11] sushilshinde commented on #2016
https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-03-10 18:40] ajefts commented on #2016
Please don’t change the Zurich page. That is how we want it. Thanks.

[2019-03-11 05:40] kkartunov opened #2017 "Configure tco18 sub-community"
Prepare the community app for serving `tco18.topcoder.com` as sub-community.
cc @ajefts @hokienick @mtwomey as per the meeting discussion...

[2019-03-11 05:45] kkartunov commented on #2016
@sushilshinde it is much better if you change this spec into something in the sense of "Make the error component support Contentful viewport..." this way each sub-community will have the opportunity to have its own 404 pages instead of hard-coding such ones in the app.

[2019-03-11 15:32] Oanh-and-only-Oanh commented on #2016
@ajefts No changes change to the Zurich page. Just a repair of the broken link.

[2019-03-12 07:53] kkartunov opened #2018 "Improve the experience on existing no access page for community"
There isn't anything on the no access page that informs the user, especially if they are a valid member but happen to be logged in with a different account that doesn't have access.
![image (1)](https://user-images.githubusercontent.com/5585002/54182093-32907300-44a9-11e9-9de4-bf224472cf12.png)

Please, update the page to look as shown below:
![image__3_](https://user-images.githubusercontent.com/

[2019-03-12 13:12] kkartunov commented on #1988
https://app.contentful.com/spaces/b5f1djy59z3a/entries/FNmL56lEahdv0irLASC5a

[2019-03-12 15:06] sushilshinde commented on #2006
Thanks @PrakashDurlabhji

[2019-03-12 15:06] #2006 closed

[2019-03-12 15:06] sushilshinde commented on #1993
@rashmi73 are you working on this?

[2019-03-12 15:08] ThomasKranitsas commented on #2006
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30085630<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-12 17:19] iversonLv commented on #2016
Only this part is in scope, right?  ![image](https://user-images.githubusercontent.com/4952611/54221159-e2a7bf80-452d-11e9-9d03-c63198bc7dcd.png)

[2019-03-12 17:27] iversonLv commented on #2016
Please use the image from https://unsplash.com/photos/U3m4_cKbUfc﻿
The image is 404 which is unavailable.

[2019-03-12 17:47] Oanh-and-only-Oanh commented on #2016
correct

[2019-03-13 07:27] sushilshinde commented on #1993
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-03-13 07:50] sushilshinde commented on #1941
@nahidshahin ?

[2019-03-13 07:53] nahidshahin commented on #1941
@sushilshinde checking

[2019-03-13 07:55] ThomasKranitsas commented on #2016
Contest https://www.topcoder.com/challenges/30085809 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 07:55] sushilshinde commented on #2016
@topcoder-platform/topcodercompetitors this one is open for pickup

PR on https://github.com/topcoder-platform/community-app/tree/hot-fixes

[2019-03-13 08:00] ThomasKranitsas commented on #2016
Contest https://www.topcoder.com/challenges/30085809 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 08:58] kkartunov opened #2029 "Build fails with new versions of webpack"
**Describe the bug**
`npm run build:dev` fails when commuity-app is using `webpack:^4.28.4`

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo
2. Inside it `nvm use 8.11.2`
3. `npm i`
4. `npm run build:dev`

**Expected behavior**
App to build without errors.

**Screenshots**
![Screenshot from 2019-03-13 10-56-23](https://user-images.githubusercontent.com/5585002/54265742-afd9e780

[2019-03-13 08:59] kkartunov commented on #2029
The suggested solution is to lock the version of `webpack` in community-app until issues are resolved.

[2019-03-13 10:39] ThomasKranitsas commented on #1993
Contest https://www.topcoder.com/challenges/30085628 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 11:00] suppermancool commented on #1993
@sushilshinde done in https://github.com/topcoder-platform/community-app/pull/2030 .

[2019-03-13 12:36] suppermancool commented on #1993
@sunildahiya for
[code]
The v4 api doesn't return `round1Introduction` and `round2Introduction` (v3 api return these field) as the separated field. There is only one field `detailedRequirements` that contain all the page detail requirement.
You can check at
http://api.topcoder.com/v4/challenges/30084939 .

So i think this should be fixed in server site, thanks .

[2019-03-13 13:34] ThomasKranitsas opened #2031 "[$20] Member birthdate defaults to current day"
**Describe the bug**
If the member's birthdate is `null` or `undefined`, it defaults to the current date.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/settings/profile
2. See error

**Expected behavior**
If the birthdate is not set, the field should be empty.

[2019-03-13 13:37] ThomasKranitsas commented on #2031
Contest https://www.topcoder.com/challenges/30086242 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 13:38] ThomasKranitsas commented on #2031
@topcoder-platform/topcodercompetitors this is open for pickup.

Work off the `hot-fixes` branch.

[2019-03-13 13:40] ThomasKranitsas commented on #2031
Contest https://www.topcoder.com/challenges/30086242 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 14:15] sumitdaga commented on #2031
@ThomasKranitsas
i think its a backend issue, backend is returning current date!

[2019-03-13 14:19] ThomasKranitsas commented on #1993
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 14:21] ThomasKranitsas commented on #2031
Is it? Let me take a look...

[2019-03-13 14:21] #125 closed

[2019-03-13 14:22] #108 closed

[2019-03-13 14:22] #556 closed

[2019-03-13 14:23] #871 closed

[2019-03-13 14:24] #237 closed

[2019-03-13 14:24] #226 closed

[2019-03-13 14:24] #227 closed

[2019-03-13 14:25] #612 closed

[2019-03-13 14:25] #605 closed

[2019-03-13 14:25] #603 closed

[2019-03-13 14:26] #1993 closed

[2019-03-13 14:26] sushilshinde commented on #1993
Thanks @suppermancool

[2019-03-13 14:27] #636 closed

[2019-03-13 14:28] ThomasKranitsas commented on #612
Contest https://www.topcoder.com/challenges/30086247 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 14:28] ThomasKranitsas commented on #612
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 14:28] #790 closed

[2019-03-13 14:28] ThomasKranitsas commented on #603
Contest https://www.topcoder.com/challenges/30086248 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 14:28] ThomasKranitsas commented on #603
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 14:30] #785 closed

[2019-03-13 14:30] #695 closed

[2019-03-13 14:30] #644 closed

[2019-03-13 14:30] #585 closed

[2019-03-13 14:31] ThomasKranitsas commented on #1993
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30085628<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 14:31] #757 closed

[2019-03-13 14:31] #759 closed

[2019-03-13 15:40] ThomasKranitsas opened #2033 "[$60] Preference toggles not updating"
**Describe the bug**
The Email Preference toggles are not updating correctly even though the preferences are saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://community-app.topcoder-dev.com/settings/preferences
2. Click on any toggle to update the preferences
3. See error

**Expected behavior**
The toggles should change to reflect the updated preferences.

[2019-03-13 15:42] ThomasKranitsas commented on #2033
Contest https://www.topcoder.com/challenges/30086251 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 15:43] ThomasKranitsas commented on #2033
Contest https://www.topcoder.com/challenges/30086251 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 15:43] ThomasKranitsas commented on #2033
Contest https://www.topcoder.com/challenges/30086251 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 15:43] ThomasKranitsas commented on #2033
Contest https://www.topcoder.com/challenges/30086251 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 15:43] gets0ul commented on #2033
@sumitdaga I'm sorry I revert back to you

[2019-03-13 15:47] #1884 closed

[2019-03-13 16:02] kkartunov commented on #2017
Related branch: https://github.com/topcoder-platform/community-app/tree/legacy-tco

[2019-03-13 19:45] ThomasKranitsas commented on #2031
Indeed, this is a backend issue. Thanks for the investigation!

[2019-03-13 19:45] #2031 closed

[2019-03-13 19:46] ThomasKranitsas commented on #2031
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086242<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-13 20:37] PrakashDurlabhji commented on #2016
@sushilshinde there is no image found at
https://unsplash.com/photos/U3m4_cKbUfc﻿

can you please clarify what is to be downloaded?
or can you please attach it here?

thank you

[2019-03-13 22:03] Oanh-and-only-Oanh commented on #2016
@vic-topcoder can you help with image issue?

[2019-03-13 22:20] vic-topcoder commented on #2016
[seabass-creatives-61546-unsplash.jpg.zip](https://github.com/topcoder-platform/community-app/files/2963892/seabass-creatives-61546-unsplash.jpg.zip)
Please find the image attached here.

[2019-03-14 08:17] sumitdaga commented on #2033
@ThomasKranitsas
PR at #2035

[2019-03-14 10:06] #2033 closed

[2019-03-14 10:07] ThomasKranitsas commented on #2033
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086251<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-14 10:36] ThomasKranitsas opened #2036 "[$60] Failed to update profile after changing the profile image"
**Describe the bug**
If you change the profile image and then try to update your basic information without refreshing the page, you'll get an error.

If you refresh the page, it's working correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://community-app.topcoder-dev.com/settings/profile
2. Make any change in your profile
3. Click save.
4. Change your profile photo.
5. Ma

[2019-03-14 10:44] ThomasKranitsas commented on #2036
Contest https://www.topcoder.com/challenges/30086312 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-14 10:46] ThomasKranitsas commented on #2036
Contest https://www.topcoder.com/challenges/30086312 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-14 10:46] ThomasKranitsas commented on #2036
Contest https://www.topcoder.com/challenges/30086312 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-14 10:47] sumitdaga commented on #2036
@ThomasKranitsas
PR on hot-fixes ?

[2019-03-14 10:48] ThomasKranitsas commented on #2036
Correct

[2019-03-14 10:59] ThomasKranitsas opened #2037 "[$50] Public member profile is failing randomly"
**Describe the bug**
The public member profile fails some times with the error from the screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://community-app.topcoder-dev.com/members/tonyj
2. Refresh the page until you reproduce the issue. Some times it's happening in the 2nd-3rd time some other times I had to refresh the page 15+ times until I see the error.

**Expec

[2019-03-14 11:01] ThomasKranitsas commented on #2037
Contest https://www.topcoder.com/challenges/30086319 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-14 11:01] ThomasKranitsas commented on #2037
@topcoder-platform/topcodercompetitors this is open for pickup

[2019-03-14 11:01] ThomasKranitsas commented on #2037
Create a PR against `hot-fixes`

[2019-03-14 11:09] ThomasKranitsas commented on #2037
Contest https://www.topcoder.com/challenges/30086319 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-14 12:11] ajaysaini9782 opened #2038 "Challenge name contains only numbers"
**Describe the bug**
If the challenge name contains only numbers then participants are not able to access the challenge page,getting the below error.
challenge.name.startsWith is not a function

**To Reproduce**
Steps to reproduce the behavior:
1. Create the new challenge where the challenge name is only numbers.
   ex : challenge name = 2048
2. try to open the challenge from the challenge page

*

[2019-03-14 13:23] sumitdaga commented on #2036
@ThomasKranitsas
PR at #2039
since photoUrl update happens independently of the basicInfo traits and we use photoUrl from `profile` for display in basicInfo ...we don't need this state at all basicIno component ...
infact the `trait PUT` throws an error because after changing photoUrl , it is not updated in local state and it sends the old photoUrl in `trait PUT` ...and it seems `trait PUT` is not

[2019-03-14 13:24] ThomasKranitsas commented on #2036
Contest https://www.topcoder.com/challenges/30086312 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-14 13:39] #2036 closed

[2019-03-14 13:41] ThomasKranitsas commented on #2036
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086312<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-14 14:08] ThomasKranitsas commented on #2037
@Gauravseta it would be great if you could complete this today.

[2019-03-14 23:24] Gauravseta commented on #2037
@ThomasKranitsas yes

[2019-03-14 23:33] Gauravseta commented on #2037
@ThomasKranitsas https://github.com/topcoder-platform/community-app/pull/2040 Pr

[2019-03-15 07:46] ajaysaini9782 opened #2042 "Duplicate Forum Areas/Links for Marathon Match"
**Describe the bug**
New Marathon Match is having the new forum link.
https://apps.topcoder.com/forums/?module=Category&categoryID=62387

However, our legacy Marathon Match forum area is here:
https://apps.topcoder.com/forums/?module=ThreadList&forumID=7124&mc=27

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the challenge 30085346
2. Check the forum page

**Expected behavior**
Marath

[2019-03-15 08:12] #2037 closed

[2019-03-15 08:12] ThomasKranitsas commented on #2037
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30086319<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-03-15 12:07] ajaysaini9782 opened #2043 "[$40] Member who has only numbers in handle not able to submit the challenge"
**Describe the bug**
The member who's handle contains only numbers, they are not able to submit the challenge.
Getting the below error.

You are not authorized to access this page.

**To Reproduce**
Steps to reproduce the behavior:
1. Login through the handle that contains only numbers in dev environment
2. Click on the submit option.

**Screenshots**
![image](https://user-images.githubusercontent

[2019-03-15 12:08] RiteshTC commented on #2043
![](https://github.trello.services/images/mini-trello-icon.png) [Topgear Users with numeric handles unable to submit](https://trello.com/c/WRfafpY7/38-topgear-users-with-numeric-handles-unable-to-submit)

[2019-03-15 14:27] RiteshTC commented on #2042
![](https://github.trello.services/images/mini-trello-icon.png) [Marathon Match Forums](https://trello.com/c/hThgqHyv/39-marathon-match-forums)

[2019-03-15 14:29] RiteshTC commented on #2042
cc @ward-appirio

[2019-03-15 17:29] PrakashDurlabhji commented on #2016
@sushilshinde some time more

[2019-03-15 17:34] cwdcwd commented on #2043
`Login through the handle that contains only numbers in dev environment`
@RiteshTC do you have a handle like that handy that we can follow the STR with?

[2019-03-15 20:58] codejamtc opened #2045 "Public Profile > No option to go back to the Public Profile again"
![image](https://user-images.githubusercontent.com/42398485/54461617-16a40000-473b-11e9-8a53-f87cf2dc3ab2.png)

1. Open the application and login as TonyJ
2. Go to https://www.topcoder-dev.com/members/wendell
3. Click Copilot
4. Try to go back to the Wendell's Public Profile

**Actual:** No option to go back to the Public Profile again

**Expected:** Should have a back button to go back to the pub

[2019-03-15 21:04] codejamtc opened #2046 "[$120] Settings > Profile: No confirmation before deleting Hobbies"
![image](https://user-images.githubusercontent.com/42398485/54461912-fcb6ed00-473b-11e9-9fbe-750697b714a8.png)

1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Profile Tab > Hobbies
4. Create few hobbies
5. Click Delete

**Actual:** No confirmatdeletinge deleting Hobbies

**Expected:** Should show a confirmation message before deleteing the ite

[2019-03-15 21:06] codejamtc opened #2047 "[$15] Settings > Profile > Hobbies: Hobbies field hides as soon as after creating a new hobby and re-appears again"
![image](https://user-images.githubusercontent.com/42398485/54462032-58817600-473c-11e9-880f-beb8ce91cc7a.png)

1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Profile Tab > Hobbies
4. Create few hobbies

**Actual:** Hobbies field hides as soon as after creating a new hobby and re-appears again

**Expected:** Should not hide the field

**Reprod

[2019-03-15 21:11] codejamtc opened #2048 "Settings > Profile > Hobbies: Clicking on the enter button while the cursor is on Hobby will refresh the page and navigates to Basic Info"
![image](https://user-images.githubusercontent.com/42398485/54462209-e78e8e00-473c-11e9-9b21-a83428d936e1.png)

1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Profile Tab > Hobbies
4. Add 'Test' as hobby name
5. Click return key on the keyboard

**Actual:** Clicking on the enter button while the cursor is on Hobby will refresh the page and nav

[2019-03-15 21:13] kiranmaroju opened #2049 "Profile Page: Error while updating Profile picture"
**Describe the bug**
"Failed to update user trait" error while updating user profile

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://www.topcoder-dev.com/settings/profile'
2. Click on 'Profile' tab
3. Click on  'Upload a new avatar'
4. Choose any image from your system
5. Fill the required details if not there in profile page
6. Click "Save Changes" at the bottom of the page

*

[2019-03-15 21:13] codejamtc opened #2050 "Settings > Profile > Skill: Error while adding skills"
![image](https://user-images.githubusercontent.com/42398485/54462281-2de3ed00-473d-11e9-8cd9-a15605191c96.png)

[code]

1. Open the application and login as Tonyj
2. Hover over the profile avatar > Click Settings
3. Click Profile Tab > Skills
4. Add a skill

**Actual:** Error while adding skills

**Expected:** Should not display such an error while adding skills

**Reproducibility Rate:** 3/3

**E

[2019-03-15 21:17] codejamtc opened #2051 "Settings > Account > My Account: Focusing on the password field won't show the tool tip"
![image](https://user-images.githubusercontent.com/42398485/54462408-b8c4e780-473d-11e9-8bc4-e7a1db727a37.png)

1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Account Tab > My Account
4. Click on the password field

**Actual:** Focusing on the password field won't show the tool tip

**Expected:** Focusing on the password field should show the

[2019-03-15 21:21] codejamtc opened #2052 "[$30] Settings > Profile > Skills/Hobbies: No validation message for empty field"
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Profile Tab > Skills or Hobbies
4. Click Add Skill or Add Hobby

**Actual:** No validation message for an empty field

**Expected:** Should show a validation ("Skill can not be empty") ("Hobby, Description cannot be empty")

**Reproducibility Rate:** 3/3

**Environment:** Google Pixel XL, Android

[2019-03-15 21:23] codejamtc opened #2053 "[$30] Settings > Account > My Account: User can't delete a link"
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Account Tab > Linked Accounts
4. Try to delete a link

**Actual:** User can't delete a link

**Expected:** User should be able to delete a link

**Reproducibility Rate:** 3/3

**Environment:** Google Pixel XL, Android 9.0 | Browser: Google Chrome 73.0.3683.75

[2019-03-15 21:25] codejamtc opened #2054 "[$20] Settings > Account > My Account: User can't expand or collapse the My Account"
1. Open the application and login as TonyJ
2. Hover over the profile avatar > Click Settings
3. Click Account Tab
4. Click on collapse icon in My Account

**Actual:** User can't collapse the My Account area

**Expected:** User should be able to collapse the section. Compare the sections with the 'Tools' tab

**Reproducibility Rate:** 3/3

**Environment:** Google Pixel XL, Android 9.0 | Browser: Go

[2019-03-15 21:29] kiranmaroju opened #2055 "Profile Settings: TRACKS are not saving after saving profile"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://www.topcoder-dev.com/settings/profile'
2. Click on 'Profile' tab
3. Fill out if any mandatory fields are not filled yet
3. Scroll down to 'TRACKS'
4. Enable any track(eg. : DESIGN)
5. Click on "Save changes"
6. Reload the profile settings page('http://www.topcoder-dev.com/settings/profile') and verify TRACKS are saved or not

**Scr

[2019-03-15 21:33] codejamtc opened #2056 "[$40] Settings > Account > My Account: Entering incorrect current password to change the password won't show any validation"
![image](https://user-images.githubusercontent.com/42398485/54463132-0b070800-4740-11e9-9bf3-2e8dff14f531.png)

1. Open the application and login as Manager (pshah_manager)
2. Hover over the profile avatar > Click Settings
3. Click Account Tab > My Account
4. Enter 'qwert123@' to the new password field
5. Enter '123456' as Current password
6. Click Change Password

**Actual:** Entering incorrect c

[2019-03-15 21:40] codejamtc opened #2057 "Settings > Profile > Hobbies: Error while adding a hobby"
![image](https://user-images.githubusercontent.com/42398485/54463418-07c04c00-4741-11e9-936c-b2857d0fe401.png)

1. Open the application and login as Manager (pshah_manager)
2. Hover over the profile avatar > Click Settings
3. Click Profile Tab > Hobbies
4. Enter data (Hobby: A; Description:A)
5. Click 'Add hobby to your list'

**Actual:** Error while adding a hobby

**Expected:** User should be ab

[2019-03-15 21:42] kiranmaroju commented on #2055
Video URL: https://dl.dropboxusercontent.com/s/gvlicexyiv8o2k6/3qttOwt2Pn.mp4

[2019-03-15 21:54] kiranmaroju opened #2058 "[$80] Profile Page: Email preferences are not reflecting in real time"
**Describe the bug**
Email preferences are not reflecting in real time. Field statuses are reflecting only after refreshing the page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  Email preferences page('https://www.topcoder-dev.com/settings/preferences')
2. Enable any preference ex: 'Design Newsletter'
3. Check the Status message at the top(should say "Changes are saved")
4. Verify

[2019-03-15 21:59] codejamtc opened #2059 "Settings > Account > My Account: Changing the E-Mail address shows an error"
1. Open the application and login as Manager (pshah_manager)
2. Hover over the profile avatar > Click Settings
3. Click Account Tab > My Account
4. Click Change Email button
5. Enter the new email and click Send verification email

**Actual:** Changing the E-Mail address shows an error

**Expected:** Should be able to change the email and new email address entered should receive an email

**Reprod

[2019-03-15 22:28] kiranmaroju opened #2060 "Public Profile: No Links to filter "Active Challenges/Challenges/Wins""
**Describe the bug**
in profile page, there are no links to filter challenges "Active", or "Total challenges" or "Wins".

**To Reproduce**
1. Go to any public profile page ex: https://www.topcoder.com/members/thomaskranitsas/
2. Click on of user's challenges activity tab ex: 'FIRST2FINISH
3. Try to filter challenges by clicking on  "ACTIVE CHALLENGES" or "CHALLENGES" or "WINS" texts

**Expected be

[2019-03-15 22:28] ashokdas1 opened #2061 "[$40] Settings -> Profile -> Basic Info: User able to select future date from calendar as Birth date"
Steps:
Settings -> Profile -> Basic Info
Update profile after first creation.
Click on Birth date field
Calendar opens.
Able to select future date as Birth date.

Actual: In Birth date calendar user able to select future date.

Expected: Future date should be disabled. So that user should not be able to navigate to future date.

Reproducible Rate: 3/3

Environment: Windows 10 | Browser: Chrome Ver

[2019-03-15 22:38] kiranmaroju opened #2062 "Public Profile: Active Challenges count is not showing actual section wise challenges count"
**Describe the bug**
Active Challenges count showing incorrect value. It is showing whole active challenges count , instead of actual section(CODE/FIRST2FINISH/BUG HUNT etc) wise count.

**To Reproduce**

1. Go to any users public profile. ex: 'https://www.topcoder.com/members/kiranm0/'
2. Check the Active Challenges count in each section (CODE/FIRST2FINISH/BUG HUNT etc) by clicking on links next

[2019-03-15 22:47] ashokdas1 opened #2063 "[$20] Settings -> Account ->Change email: f New email address same as Primary Email the error message is not proper."
Steps:
Settings -> Account
Click on Change email
Enter New email address same as Primary Email
Error message is not proper. "Your email address is not valid."

Actual: If New email address same as Primary Email the error message is not proper.

Expected: Actual error should be shown to use. Like, "New email address and Primary Email address can not be same"

Reproducible  Rate: 3/3

Environment: W

[2019-03-15 22:51] kiranmaroju opened #2064 "Public Profile: "DESIGN FIRST2FINISH" challenges are not showing"
**Describe the bug**
"DESIGN FIRST2FINISH" challenge related details are not showing even though there are few(1) associated with user profile. Showing below message
"Sorry, no successful challenges found."

**To Reproduce**
1. Go to any user's public profile 'https://www.topcoder.com/members/thomaskranitsas/'
2. Click on "DESIGN FIRST2FINISH" section to see challenges
3. Check the count of Wins a

[2019-03-15 22:52] ashokdas1 opened #2065 "Settings -> Account ->Change email: Exception Error pop-up appeared "...contact our support support@topcoder.com""
Steps:
Settings -> Account
Click on Change email
Enter New email address same as Primary Email
Click on "Send Verification Email"
Exception Error pop-up appeared "...contact our support support@topcoder.com"

Actual: Exception Error pop-up appeared "...contact our support support@topcoder.com" when click on "Send Verification Email"

Expected: Exception should not be coming. instead proper error m

[2019-03-15 22:55] ashokdas1 opened #2066 "Settings -> Account ->Change email: "Send Verification Email" button got enabled even though New email address same as primary email"
Steps:
Settings -> Account
Click on Change email
Enter New email address same as Primary Email
"Send Verification Email" button got enabled even though New email address same as primary email

Actual: "Send Verification Email" button got enabled even though New email address same as primary email

Expected: "Send Verification Email" button should not get enabled if New email address same as primar