[2018-08-20 20:23] ThomasKranitsas commented on #1108
Contest https://www.topcoder.com/challenges/30069810 has been created for this ticket.

[2018-08-20 20:23] ThomasKranitsas commented on #1108
Contest https://www.topcoder.com/challenges/30069810 has been updated - it has been assigned to gauravseta.

[2018-08-20 20:23] ThomasKranitsas commented on #1229
@topcoder-platform/topcodercompetitors new ticket!

[2018-08-20 20:24] ThomasKranitsas commented on #1228
@topcoder-platform/topcodercompetitors new ticket

[2018-08-20 20:25] ThomasKranitsas commented on #1231
@topcoder-platform/topcodercompetitors new ticket

[2018-08-20 20:25] ThomasKranitsas commented on #1230
Contest https://www.topcoder.com/challenges/30069813 has been created for this ticket.

[2018-08-20 20:25] ThomasKranitsas commented on #1230
Contest https://www.topcoder.com/challenges/30069813 has been updated - the new changes has been updated for this ticket.

[2018-08-20 20:25] dmessing opened #1234 "[$50] profile -- type aheads"
In form fields where there is a type ahead to get a drop down should we let people type beyond where matches are?

[2018-08-20 20:26] PrakashDurlabhji commented on #1228
@thomaskranitsas can u please assign it to me

[2018-08-20 20:26] nqviet commented on #1230
@ThomasKranitsas:
can you assign this ticket to me?

[2018-08-20 20:27] ThomasKranitsas commented on #1229
Contest https://www.topcoder.com/challenges/30069815 has been created for this ticket.

[2018-08-20 20:27] ThomasKranitsas commented on #1229
Contest https://www.topcoder.com/challenges/30069815 has been updated - the new changes has been updated for this ticket.

[2018-08-20 20:27] ThomasKranitsas commented on #1232
Hmm, I thought about that but there are actually too many languages.. do we really need that? I think it will be easier for a member to just type the language that we may have missed in our list

[2018-08-20 20:28] rashmi73 commented on #1231
@thomaskranitsas i work on this..pleae assign thanks

[2018-08-20 20:29] KevinLeigh commented on #1229
@ThomasKranitsas Hey Thomas, please could you assign me this ticket?

[2018-08-20 20:32] ThomasKranitsas commented on #1230
Contest https://www.topcoder.com/challenges/30069813 has been updated - it has been assigned to nqv2018.

[2018-08-20 20:33] ThomasKranitsas commented on #1229
Contest https://www.topcoder.com/challenges/30069815 has been updated - it has been assigned to kevin.crain.

[2018-08-20 20:34] ThomasKranitsas commented on #1233
@topcoder-platform/topcodercompetitors new ticket!

[2018-08-20 20:35] ThomasKranitsas commented on #1228
Contest https://www.topcoder.com/challenges/30069818 has been created for this ticket.

[2018-08-20 20:35] ThomasKranitsas commented on #1228
Contest https://www.topcoder.com/challenges/30069818 has been updated - it has been assigned to PkDurlabhji.

[2018-08-20 20:36] ThomasKranitsas commented on #1234
@dmessing should I open this for pickup?

[2018-08-20 20:36] ThomasKranitsas commented on #1228
Contest https://www.topcoder.com/challenges/30069818 has been updated - the new changes has been updated for this ticket.

[2018-08-20 20:36] ThomasKranitsas commented on #1231
Contest https://www.topcoder.com/challenges/30069821 has been created for this ticket.

[2018-08-20 20:36] ThomasKranitsas commented on #1231
Contest https://www.topcoder.com/challenges/30069821 has been updated - it has been assigned to rashmi73.

[2018-08-20 20:38] ThomasKranitsas commented on #1233
Contest https://www.topcoder.com/challenges/30069824 has been created for this ticket.

[2018-08-20 20:38] ThomasKranitsas commented on #1233
Contest https://www.topcoder.com/challenges/30069824 has been updated - the new changes has been updated for this ticket.

[2018-08-20 20:38] ajefts opened #1235 "[$20] Profile - Skill dropdown sort"
Sort the list alphabetically.

[2018-08-20 20:39] ThomasKranitsas commented on #1233
Contest https://www.topcoder.com/challenges/30069824 has been updated - the new changes has been updated for this ticket.

[2018-08-20 20:39] ThomasKranitsas commented on #1235
@topcoder-platform/topcodercompetitors new ticket

[2018-08-20 20:41] KevinLeigh commented on #1229
@ThomasKranitsas Thank you, which branch should I work off for the new bugs ?

[2018-08-20 20:43] ThomasKranitsas commented on #1235
Contest https://www.topcoder.com/challenges/30069826 has been created for this ticket.

[2018-08-20 20:43] ThomasKranitsas commented on #1235
Contest https://www.topcoder.com/challenges/30069826 has been updated - the new changes has been updated for this ticket.

[2018-08-20 20:46] ThomasKranitsas commented on #1229
@topcoder-platform/topcodercompetitors please use the “develop” branch

[2018-08-20 20:48] KevinLeigh commented on #1229
Perfect will do 👍

[2018-08-20 20:57] gets0ul commented on #1235
Please assign me.

[2018-08-20 20:57] ThomasKranitsas commented on #1235
Contest https://www.topcoder.com/challenges/30069826 has been updated - it has been assigned to gets0ul.

[2018-08-20 21:14] KevinLeigh commented on #1229
@ThomasKranitsas

Without any changes the competitions load properly and also toggling community works properly and persists if I reload.

I am testing in development environment, which leads me to suspect that maybe in production something is going wrong with the database / persistence layer.

<img width="1191" alt="screen shot 2018-08-20 at 23 10 29" src="https://user-images.githubusercontent.co

[2018-08-20 21:16] ThomasKranitsas commented on #1229
Do we get the data from the Groups API or from the user traits?

[2018-08-20 21:18] PrakashDurlabhji commented on #1228
@ThomasKranitsas can you please provide tonyj id password to login? thanks

[2018-08-20 21:22] ThomasKranitsas commented on #1228
TonyJ/appirio123

[2018-08-20 21:27] PrakashDurlabhji commented on #1233
@ThomasKranitsas can u please assign it to me thanks

[2018-08-20 21:28] PrakashDurlabhji commented on #1228
@ThomasKranitsas its ready for review.Mr raised

[2018-08-20 21:28] KevinLeigh commented on #1229
@ThomasKranitsas We get it from Groups API

[2018-08-20 21:38] ThomasKranitsas commented on #1233
Contest https://www.topcoder.com/challenges/30069824 has been updated - it has been assigned to PkDurlabhji.

[2018-08-20 21:40] PrakashDurlabhji commented on #1233
@ThomasKranitsas MR ready

[2018-08-20 21:40] ThomasKranitsas commented on #1229
Interesting... @ajefts can you provide more info on how to reproduce the issue?

[2018-08-20 21:45] PrakashDurlabhji commented on #1233
@ThomasKranitsas any more open for pickup? within 15 minutes if u are planning to?

[2018-08-20 22:04] birdofpreyru opened #1238 "Update fonts list at design submission page"
This is request from design members. Just a simple update.

https://help.topcoder.com/hc/en-us/sections/203967808-Design-Copyright-and-Font-Policies

![image](https://user-images.githubusercontent.com/20144632/44369184-caab1880-a4d5-11e8-8e3f-4ebf03266acc.png)

[2018-08-20 22:11] cwdcwd commented on #1227
this in the current UI or the new profile stuff @ajefts ?

[2018-08-20 22:18] nqviet commented on #1230
@ThomasKranitsas :
PR is ready

[2018-08-21 11:12] ajefts commented on #1227
@cwdcwd  It's in the current UI and blockchain.topcoder.com and cognitive.topcoder.com.

Currently, I'm in the blockchain group and when I visit blockchain.topcoder.com it should not be showing me the "Join Now" option:

![image](https://user-images.githubusercontent.com/3812270/44398221-1dee8c80-a511-11e8-8e06-d5676e525b63.png)

If I try to join (again), it does this because I'm already in the gr

[2018-08-21 13:33] sumitdaga commented on #1231
@ThomasKranitsas
please assign it to me when you decide to move on!

[2018-08-21 14:03] #1228 closed

[2018-08-21 14:04] ThomasKranitsas commented on #1228
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069818

[2018-08-21 14:04] #1233 closed

[2018-08-21 14:05] ThomasKranitsas commented on #1233
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069824

[2018-08-21 14:13] #1230 closed

[2018-08-21 14:13] ThomasKranitsas commented on #1230
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069813

[2018-08-21 14:15] rashmi73 commented on #1231
@thomaskranitsas i will surely solve it this time.please give some time..i am working on it

[2018-08-21 14:15] ThomasKranitsas commented on #1231
Sure, thanks for the update

[2018-08-21 14:16] ThomasKranitsas commented on #1234
@dmessing thoughts?

[2018-08-21 14:16] ThomasKranitsas commented on #1232
@ajefts @urwithat @dmessing thoughts?

[2018-08-21 14:25] KevinLeigh commented on #1229
@ThomasKranitsas Hey Thomas, any update on the above issue ?

[2018-08-21 14:29] ThomasKranitsas commented on #1229
@ajefts is there any issue with the Groups API?

Even https://blockchain.topcoder.com/ doesn't work for me.
I always get `failed to join` with 400 Bad Request

cc @cwdcwd

[2018-08-21 14:29] #1235 closed

[2018-08-21 14:30] ThomasKranitsas commented on #1235
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069826

[2018-08-21 14:33] ThomasKranitsas commented on #1114
@ajefts this has been moved here https://community-app.topcoder-dev.com/settings/account based on the new design.
Can we close this ticket or do we need to move the user consent option to the basic info section?

[2018-08-21 14:34] ThomasKranitsas commented on #1109
Can we get a design for that and more info on which fields aren't self-explanatory?

[2018-08-21 14:36] ThomasKranitsas commented on #1108
@Gauravseta what's the status here?

[2018-08-21 14:38] ThomasKranitsas commented on #1106
@ajefts @cwdcwd do we have a list of the old values we were using so we can compare and fix this issue?

Or `USA => United States of America` is the only issue?

[2018-08-21 14:42] ThomasKranitsas commented on #1208
Contest https://www.topcoder.com/challenges/30069648 has been updated - the new changes has been updated for this ticket.

[2018-08-21 14:42] Gauravseta commented on #1108
@thomaskranitsas i will complete it soon as i did it and know well where to change it. it will be surely done.just few hrs

[2018-08-21 14:43] ThomasKranitsas commented on #1108
Thanks for the update!

[2018-08-21 17:16] Gauravseta commented on #1108
@ThomasKranitsas need to work on "develop" branch or "new-develop" branch?

[2018-08-21 17:17] ThomasKranitsas commented on #1108
Please use the “develop” branch

[2018-08-21 22:32] rashmi73 commented on #1231
@ThomasKranitsas PR done.

[2018-08-21 23:05] Gauravseta commented on #1108
@ThomasKranitsas can you please check the PR? thanks

[2018-08-22 06:06] urwithat commented on #1232
Languages as drop down would be too many to handle. Lets keep it as a Text box @dmessing

[2018-08-22 16:17] JayaDhaka opened #1244 "Unregistered challenges are reflecting under this URL https://topgear.topcoder.com/challenges?bucket=my"
User handle: SU394347

A user registered for 4 challenges previously but unregistered from 2, but still its showing as 4 against my challenges. Please assist in correcting the same.

URL: https://topgear.topcoder.com/challenges?bucket=my

<img width="956" alt="topcoder" src="https://user-images.githubusercontent.com/34749364/44476184-9ad64f00-a654-11e8-88fd-4d7e98662e9b.PNG">

[2018-08-23 18:49] ajefts commented on #1139
This appears to be an  issue with the challenge api.  I'm going to move this issue to there...

[2018-08-23 19:27] birdofpreyru commented on #1244
This should be a caching problem in API.

[2018-08-23 20:37] cwdcwd opened #1248 "Submission Upload: Type Form field value logic adjustment"
We need to adjust the value of the Type field that gets posted to the new v5 API.
Here's the logic that needs to go into determining the Type value to set for the POST

[code]

[2018-08-23 20:37] cwdcwd commented on #1248
@kkartunov could you take this one up?

[2018-08-24 00:15] kkartunov commented on #1248
@cwdcwd It is in `develop`

[2018-08-24 08:48] kkartunov commented on #1248
Done in 372fbeff8d768e82282f47f07afa8a6792328b0b

[2018-08-24 08:48] #1248 closed

[2018-08-24 10:28] JayaDhaka opened #1249 "TCO tag missing"
TCO tag is missing in some UI prototype and code track challenges.

Here are the challenges link:
https://www.topcoder.com/challenges/30069239/?type=develop

Please fix.

[2018-08-24 10:51] birdofpreyru commented on #1249
@JayaDhaka I don't get the problem. Of your two links, the first one looks just not TCO-eligible (both the tag under header, and the sidebar link to TCO, are absent consistently). In the second URL, I see both the tag, and the link (but that's not correct, as the challenge is in UI Prototype track, which is deprecated; though I saw discussion elsewhere that it will be fixed in the API layer soon).

[2018-08-24 11:38] RiteshTC commented on #1249
@birdofpreyru
This has been resolved. I not related to the code, it was a db thing.

[2018-08-24 11:39] #1249 closed

[2018-08-24 13:41] ajefts opened #1250 "Submission - Change confirmation page text"
Please change the text on the confirmation page that presents after you submit to:

Current Text:

![image](https://user-images.githubusercontent.com/3812270/44587563-55fc0680-a781-11e8-9fbc-5422f3e7d177.png)

New Text:

"Thanks for participating! We’ve received your submission. Once the review process starts you'll receive an email with some more information. In the meantime, stay tuned into the

[2018-08-24 13:44] ajefts commented on #1250
@cwdcwd I'd actually prefer to have a confirmation email sent upon successful upload/processing as the original page states, but that can be done later.  I think the email helps build confidence that we actually did receive the submission.  With all the issues we've had historically, people don't quite trust the process and this is our chance to change that.

[2018-08-24 13:49] ajefts opened #1251 "Submission - Remove preview from My Submissions"
Until we have a way to show it, please remove the preview image column in the table below.

![image](https://user-images.githubusercontent.com/3812270/44588125-e38c2600-a782-11e8-8131-290b6bdac173.png)

[2018-08-24 13:50] ajefts opened #1252 "[$20] Submission - update download link on My Submissions page"
The download link still points to studio.  We need to update that URL...

![image](https://user-images.githubusercontent.com/3812270/44588217-1b936900-a783-11e8-9680-28ed2545b525.png)

[2018-08-24 13:52] ajefts opened #1253 "Submission - update the delete functionality"
I'm pretty sure the delete functionality won't work correctly.  It will only try to delete legacy versions of the files.

![image](https://user-images.githubusercontent.com/3812270/44588317-5a292380-a783-11e8-8510-450dc75e2bcd.png)

[2018-08-24 14:26] ThomasKranitsas commented on #853
The challenge was completed. I have the code but it needs some fixes.

[2018-08-24 14:55] ajefts commented on #1106
We should be pulling this list from an API and not hardcoding it in the UI.

This is the data we have for countries:  http://api.topcoder.com/v2/data/countries

@cwdcwd should we create a quick endpoint for this that is NOT v2...?

[2018-08-24 14:55] ajefts commented on #1106
fyi @ThomasKranitsas

[2018-08-24 14:58] ajefts commented on #1109
I believe we have something in the UI kit for that, but will double check with @vic-topcoder

[2018-08-24 15:00] ajefts commented on #1110
@dedywahyudi The first one seems clean and obvious to me.  What are your thoughts...accounting for international users?

[2018-08-24 15:01] #1114 closed

[2018-08-24 15:02] dedywahyudi commented on #1110
@ajefts Sure, i'll replace the svg on community-app

[2018-08-24 15:04] ajefts commented on #1229
This seems to be working now @ThomasKranitsas .  I think it was an issue with the groups api...

[2018-08-24 15:08] ajefts commented on #1232
I don't think the list is that long...?    https://datahub.io/core/language-codes

If we don't restrict the selection (I'd use a type ahead like we do for country) then it will make reporting and filtering very difficult.  We'll have dirty data...

[2018-08-24 15:08] ajefts commented on #1234
@ThomasKranitsas yes, please open it up.

[2018-08-24 15:16] gets0ul commented on #1234
Please assign me.

[2018-08-24 15:20] ThomasKranitsas commented on #1234
@topcoder-platform/topcodercompetitors this is now open for pickup.

@ajefts can you please list the items we need to apply that change?
I'll also have to update the validation on the backend to support that.

[2018-08-24 15:20] ThomasKranitsas commented on #1234
@gets0ul it's your but please wait for clarifications

[2018-08-24 15:20] ThomasKranitsas commented on #1234
Contest https://www.topcoder.com/challenges/30069989 has been created for this ticket.

[2018-08-24 15:28] ThomasKranitsas commented on #1232
@ajefts Ok, I'll make that change on the backend and I'll then open this for pickup

[2018-08-24 15:30] Gauravseta commented on #1232
@thomaskranitsas after that can u please assign it to me? thanks

[2018-08-24 15:31] ThomasKranitsas commented on #1232
Sure

[2018-08-24 15:37] ThomasKranitsas commented on #1229
Ok, closing this one as there's no issue

[2018-08-24 15:37] #1229 closed

[2018-08-24 15:37] ThomasKranitsas commented on #1229
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069815

[2018-08-24 15:44] ThomasKranitsas commented on #1229
[400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException

[2018-08-24 15:46] ThomasKranitsas commented on #1229
Contest https://www.topcoder.com/challenges/30069815 has been updated - the new changes has been updated for this ticket.

[2018-08-24 15:50] ThomasKranitsas commented on #1110
@dedywahyudi, please sign-up with Topcoder X tool

[2018-08-24 15:54] ThomasKranitsas commented on #1110
Contest https://www.topcoder.com/challenges/30069992 has been created for this ticket.

[2018-08-24 15:56] ThomasKranitsas commented on #1110
Contest https://www.topcoder.com/challenges/30069992 has been updated - the new changes has been updated for this ticket.

[2018-08-24 16:11] KevinLeigh commented on #1252
@ThomasKranitsas Will this ticket get opened ?

[2018-08-24 16:14] ThomasKranitsas commented on #1252
@KevinLeigh I'm not in charge of that part of the app.

[2018-08-24 16:18] KevinLeigh commented on #1252
@ThomasKranitsas All good. If there is any open tickets, I will be happy to work on one.

[2018-08-24 17:38] birdofpreyru commented on #1132
@ajefts TopGear community in dev updated to rely on the dedicated Contentful space, and it seems to work. Production version still relies on the main CMS space, thus TopGear content in the mail space should be kept until app update makes it to prod.

[2018-08-24 17:40] ajefts commented on #1205
@ThomasKranitsas is this likely due to health issues with the backend services?

[2018-08-24 17:43] ajefts commented on #859
@ThomasKranitsas Yes, I like  your approach.

[2018-08-24 17:44] ajefts commented on #853
@ThomasKranitsas let's get it wrapped up please.

[2018-08-24 19:36] ajefts opened #1254 "Submission - Submission dates not showing on challenge page"
With the new submission page in dev, I'm not seeing the submission dates when I upload a submission.

For example, on this challenge I have submitted to round 1:

![image](https://user-images.githubusercontent.com/3812270/44604299-675e0680-a7b3-11e8-9eec-241081fe01a9.png)

[2018-08-25 05:30] dedywahyudi commented on #1110
![screenshot 2018-08-25 12 23 59](https://user-images.githubusercontent.com/4476442/44615349-8bc4ec00-a862-11e8-8092-8678dcec3361.png)
@ThomasKranitsas @ajefts New Payment icon available on new-develop branch

[2018-08-25 09:00] ThomasKranitsas commented on #1110
@dedywahyudi can you please make this change in the develop branch?

[2018-08-25 09:07] dedywahyudi commented on #1110
@ThomasKranitsas Ok, i just send PR to develop branch
https://github.com/topcoder-platform/community-app/pull/1255

[2018-08-26 09:57] ThomasKranitsas commented on #1234
This is not needed for now

[2018-08-26 10:01] ThomasKranitsas commented on #1106
@ajefts @cwdcwd what's the service that has that endpoint?

[2018-08-26 10:44] ThomasKranitsas commented on #1232
Contest https://www.topcoder.com/challenges/30070024 has been created for this ticket.

[2018-08-26 10:45] ThomasKranitsas commented on #1232
Contest https://www.topcoder.com/challenges/30070024 has been updated - it has been assigned to gauravseta.

[2018-08-26 10:51] #1231 closed

[2018-08-26 10:52] ThomasKranitsas commented on #1231
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069821

[2018-08-26 11:04] #1108 closed

[2018-08-26 11:05] ThomasKranitsas commented on #1108
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069810

[2018-08-26 11:06] ThomasKranitsas opened #1256 "[$30] Profile - Basic info fixes"
- `Optional` tags should be removed as they make the design inconsistent.
- If the `birthDate` is not defined we should not try to convert it to `ISOString`

[2018-08-26 11:10] ThomasKranitsas commented on #1256
Contest https://www.topcoder.com/challenges/30070029 has been created for this ticket.

[2018-08-26 11:10] PrakashDurlabhji commented on #1256
@ThomasKranitsas can i get thhis?

[2018-08-26 11:10] ThomasKranitsas commented on #1256
Contest https://www.topcoder.com/challenges/30070029 has been updated - it has been assigned to thomaskranitsas.

[2018-08-26 11:11] ThomasKranitsas commented on #1256
I've already fixed that :) I'll push the code in a bit

[2018-08-26 11:12] PrakashDurlabhji commented on #1256
@ThomasKranitsas ok np. can i get something else? waiting for it

[2018-08-26 11:14] ThomasKranitsas commented on #1256
Currently, we don't have any other tickets but we'll open new tickets as we find any bugs. Feel free to search the new Settings page for bugs and create new tickets if you want.

[2018-08-26 11:49] #1256 closed

[2018-08-26 11:49] ThomasKranitsas commented on #1256
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30070029

[2018-08-26 12:10] Gauravseta commented on #1232
@ThomasKranitsas can you please clarify if my understanding is correct?

1. I need to add language field same as country field? exactly below the country field?
2. or i need to add just simple textbox of language field?

screenshot for reference: i need to add language field below country? correct?
<img width="676" alt="issue_1232" src="https://user-images.githubusercontent.com/16337895/44628071-0

[2018-08-26 12:59] Gauravseta commented on #1232
@ThomasKranitsas thanks..i saw it ..everything clear till  now, mostly PR within few hrs unless any question.

[2018-08-26 13:15] ThomasKranitsas opened #1258 "[$20] Profile - Issue with empty gender/tShirtSize"
If the `gender` or the `tShirtSize` is `''` the backend is returning `400 Bad Request`.

[2018-08-26 13:16] PrakashDurlabhji commented on #1258
@ThomasKranitsas can i get this?

[2018-08-26 13:16] PrakashDurlabhji commented on #1258
@ThomasKranitsas even i will raise PR immediately

[2018-08-26 13:36] ThomasKranitsas commented on #1258
I thought the PR would come immediately

[2018-08-26 13:40] PrakashDurlabhji commented on #1258
@ThomasKranitsas raising it 2 min done

[2018-08-26 13:42] PrakashDurlabhji commented on #1258
@ThomasKranitsas PR raised

[2018-08-26 13:51] #1258 closed

[2018-08-26 13:51] ThomasKranitsas commented on #1258
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30070032

[2018-08-26 17:38] #1208 closed

[2018-08-26 17:39] ThomasKranitsas commented on #1208
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069648

[2018-08-26 20:05] Gauravseta commented on #1232
@ThomasKranitsas i forgot to submit issues list..will i be eligible for prize of 1000$ or it was just indicative?

[2018-08-26 21:01] ThomasKranitsas commented on #1232
The price on the challenge was indicative based on the total $ from all tickets. It was mentioned in the challenge spec that there will be no winner on the challenge but we'll pay everyone per accepted ticket.

[2018-08-27 12:25] ThomasKranitsas commented on #1232
@Gauravseta any update on this?

[2018-08-27 12:27] Gauravseta commented on #1232
@thomaskranitsas its near to done..raising PR within few hrs

[2018-08-27 12:27] ThomasKranitsas commented on #1232
ok, thanks

[2018-08-27 12:29] PrakashDurlabhji commented on #1232
@thomaskranitsas can i get this if gauravseta fails?

[2018-08-27 13:39] Gauravseta commented on #1232
@PrakashDurlabhji  it will be completed , i wont fail

[2018-08-27 14:03] Dara-K opened #1260 "Dashboard to show current phase"
Right now on the dashboard page, for a design challenge, we see the final phase of the challenge and not the current. For example
![image](https://user-images.githubusercontent.com/25185079/44664054-d25d4680-aa1a-11e8-9208-1abb4fda8018.png)
shows the challenge as being in Submission phase, but is in Checkpoint Submission actually:
![image](https://user-images.githubusercontent.com/25185079/4466407

[2018-08-28 16:17] ajefts opened #1261 "Replace the studio download services that are still being used"
With the deprecation of Studio, the submission download features need to be replaced.  Users need to be able to download submissions from OR, Direct, and the community app.

Aha! Link: https://topcoder.aha.io/features/COMMUNITY-46

[2018-08-28 17:22] hokienick opened #1262 "[$60] <Button to> Not working in slider on Desktop only"
**Describe the bug**
Clicking the "Learn More" button on the [Veterans Homepage Slider](https://app.contentful.com/spaces/b5f1djy59z3a/entries/2Ds2eCkhc4yauqaUAasusK?previousEntries=40IAAw08Z2meqMu24CEM0O,57N3caeLu8K8SQGAEsyISC) and the [Blockchain Homepage Slider](https://app.contentful.com/spaces/b5f1djy59z3a/entries/XdBwv6Hsg8euE62E8i8kK?previousEntries=1wBRVYuJq8KiquQEU6gQui,1qmQNjrCxyuUMAok0q

[2018-08-28 17:39] ThomasKranitsas commented on #1232
@Gauravseta any update?

[2018-08-28 17:58] Gauravseta commented on #1232
@ThomasKranitsas raising PR its done

[2018-08-29 18:09] #1232 closed

[2018-08-29 18:10] ThomasKranitsas commented on #1232
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30070024

[2018-08-29 19:55] #1106 closed

[2018-08-29 19:59] ThomasKranitsas commented on #1106
Contest https://www.topcoder.com/challenges/30070224 has been created for this ticket.

[2018-08-29 19:59] ThomasKranitsas commented on #1106
Contest https://www.topcoder.com/challenges/30070224 has been updated - it has been assigned to thomaskranitsas.

[2018-08-29 20:01] ThomasKranitsas commented on #1106
Contest https://www.topcoder.com/challenges/30070224 has been updated - the new changes has been updated for this ticket.

[2018-08-29 20:05] PrakashDurlabhji commented on #1106
@ThomasKranitsas can i get this?

[2018-08-29 20:06] ThomasKranitsas commented on #1106
No, I've already fixed this.

[2018-08-29 20:07] PrakashDurlabhji commented on #1106
@ThomasKranitsas ok anything else i can work on? thanks

[2018-08-29 20:09] ThomasKranitsas commented on #1106
We don't have anything right now

[2018-08-30 00:59] ajefts opened #1266 "Submission - submission page needs to support final fix submissions"
The submission page needs to allow a user to upload a final fix to a challenge.  The page should be aware of the challenge phase requiring a final fix upload as well as the fact that the user is the user that is assigned to do the final fix.

Upload features and content should remain the same from a UX perspective.

[2018-08-30 01:00] ajefts commented on #1266
@cwdcwd let's get this assigned to someone to work on....  Not sure if it also requires backend updates.

[2018-08-30 01:05] ajefts opened #1267 "Submission - present the user with more info about there submission"
When a user uploads a submission we should present them with info about their upload.  For example, if it fails the virus scan or fails a test coverage scan we should provide that info back to them.  Let's come up with a generic framework for reporting back issues/info to the user regarding their submissions.

[2018-08-30 01:07] ajefts opened #1268 "[$150] Submission - URL support in submission page"
Provide support for entering a URL on the submission page instead of uploading a file.  We need to support 2 scenarios:

1.  The user provides the URL and we just store a reference to it (we don't attempt to download the file in the backend).
2.  The user provides a URL and we attempt to download the file on the backend.

Let's make sure we get the first one covered ASAP for topgear support.

[2018-08-30 01:08] ajefts commented on #1268
@cwdcwd this one needs to be really high on the radar to get in there as soon as the core stuff is running ok.

[2018-08-31 15:09] cwdcwd commented on #1268
queuing up

[2018-08-31 15:25] nqviet commented on #1252
@ThomasKranitsas:
Can you assign it to me

[2018-08-31 15:27] ThomasKranitsas commented on #1252
Contest https://www.topcoder.com/challenges/30070407 has been created for this ticket.

[2018-08-31 15:28] ThomasKranitsas commented on #1252
Contest https://www.topcoder.com/challenges/30070407 has been updated - it has been assigned to nqv2018.

[2018-08-31 15:29] ThomasKranitsas commented on #1252
Contest https://www.topcoder.com/challenges/30070407 has been updated - the new changes has been updated for this ticket.

[2018-08-31 15:46] Gauravseta commented on #1251
@thomaskranitsas can this assigned to me once it is open for pickup? thanks

[2018-08-31 16:15] PrakashDurlabhji commented on #1254
@thomaskranitsas please assign me in future. i wish to work on it.

[2018-08-31 16:34] nqviet commented on #1252
@ThomasKranitsas:
Which branch should I work on, because the `develop` branch is returning error when accessing the submission page?
[log.txt](https://github.com/topcoder-platform/community-app/files/2340845/log.txt)

[2018-08-31 16:39] ThomasKranitsas commented on #1252
@cwdcwd thoughts?

[2018-08-31 18:58] birdofpreyru commented on #1238
not relevant to the new submission page

[2018-08-31 18:58] #1238 closed

[2018-08-31 20:12] hokienick opened #1271 "Community - Registering for an Email Group (click of a button)"
**Is your feature request related to a problem? Please describe.**
Not necessarily.  We recently completed an F2F to enable someone to enter an email and press a button which would then put them in a Mailchimp List.

@birdofpreyru and I have come up with a better way to do this, which will make it easier for everyone.  1 button subscribe.

**Describe the solution you'd like**
By clicking a button

[2018-08-31 21:42] hokienick commented on #1271
Not only would this need to work with websites that have the www.topcoder.com prefix but also with Expert Communities such as blockchain.topcoder.com

[2018-08-31 22:55] nqviet commented on #1252
@ThomasKranitsas :
To get the user submissions for a challenge (ex: 30052628):

The current endpoint is: `https://{api-v2}/challenges/submissions/30052628/mySubmissions`
(`topcoder-reactjs-lib/src/action/challenge.js:getSubmissionsDone`)
Response:
[code]

The new endpoint may be: `https://{api-v5}/submissions?challengeId=30052628`
Response:
[code]
There are two scenarios:
- The page displays submi

[2018-08-31 22:58] KevinLeigh commented on #1252
@cwdcwd A bit late, only read your comment now, thank you for informing me though.

[2018-09-01 14:56] ThomasKranitsas commented on #1205
Fixed

[2018-09-01 14:56] #1205 closed

[2018-09-01 14:56] ThomasKranitsas commented on #859
Fixed

[2018-09-01 14:56] #859 closed

[2018-09-01 14:56] ThomasKranitsas commented on #853
Fixed

[2018-09-01 14:56] #853 closed

[2018-09-04 20:49] ajefts opened #1272 "Profile - default value for t-shirt size"
**Describe the bug**
Please make sure the t-shirt size is not defaulted to a value.  When I loaded my profile, it was defaulted to "S".

**Expected behavior**
We should default to "Not Selected" so the user doesn't unknowingly save the wrong value.

**Screenshots**

![image](https://user-images.githubusercontent.com/3812270/45057006-7457e100-b062-11e8-8f15-c6dd535feede.png)

[2018-09-04 20:53] ajefts opened #1273 "Profile - Can't set country"
**Describe the bug**
When I try to set my country to "United States" or any other country, it's not allowing me to set it.  The result is that I can't save my basic info.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://community-app.topcoder.com/settings/profile
2. Pick United States for address country.
3. Save
4. See error

**Expected behavior**
Country should be set and prof

[2018-09-04 20:56] ThomasKranitsas commented on #1273
@ajefts dev or prod? My backend changes weren't pushed to prod yet

[2018-09-04 20:59] ThomasKranitsas commented on #1273
Oh, I see it now.. It's a frontend issue. I'll fix it shortly

[2018-09-04 21:01] ajefts opened #1274 "Profile - Email change validation"
**Describe the bug**
When changing my email, it's preventing me due to a validation error but the email is valid.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://community-app.topcoder.com/settings/account
2. Click on 'Change Email'
3. Enter an email address with '+' in it, foo+bar@example.com
4. See validation error

**Expected behavior**
valid emails should be accepted.  Plea

[2018-09-04 21:08] ajefts opened #1275 "Profile - email change verification failed"
**Describe the bug**
I changed my email.  I got the verification email. Clicking the verification link failed. Note:  I clicked the link within a couple minutes of changing the email.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://community-app.topcoder.com/settings/account
2. change your email and save
3. check email
4. click the verification link in the email.

**Expected be

[2018-09-04 21:25] Gauravseta commented on #1272
@ThomasKranitsas can i get this if ever made open for pickup?

[2018-09-04 21:26] ThomasKranitsas commented on #1272
I've already fixed it. I'll push the code in a few minutes.

[2018-09-04 21:26] Gauravseta commented on #1273
@ThomasKranitsas can i get this or something elsE?

[2018-09-04 21:27] ThomasKranitsas commented on #1273
I've already fixed this. I'll push the code shortly

[2018-09-04 21:30] Gauravseta commented on #1252
@ThomasKranitsas is this completed?

[2018-09-04 21:30] ThomasKranitsas commented on #1274
@ajefts should be fixed in https://github.com/topcoder-platform/community-app/commit/ca12b024727756f5eb8c5eb3e69ea288d2ab8ab3

[2018-09-04 21:31] ThomasKranitsas commented on #1273
@ajefts should be fixed in https://github.com/topcoder-platform/community-app/commit/ca12b024727756f5eb8c5eb3e69ea288d2ab8ab3

[2018-09-04 21:31] ThomasKranitsas commented on #1272
@ajefts should be fixed in https://github.com/topcoder-platform/community-app/commit/ca12b024727756f5eb8c5eb3e69ea288d2ab8ab3

[2018-09-04 21:32] ThomasKranitsas commented on #1275
@dedywahyudi fyi

[2018-09-04 21:34] ThomasKranitsas commented on #1275
@ajefts what's the `expireTimeInMinutes` (https://github.com/appirio-tech/ap-member-microservice/blob/4fcf29129723354a3276838b9ef741d3f4a6f6b1/service/src/main/java/com/appirio/service/EmailVerificationConfiguration.java#L53)? Maybe the link expired due to way too short expiration time?

[2018-09-04 21:36] ThomasKranitsas commented on #1275
Is that https://github.com/appirio-tech/ap-member-microservice/blob/4fcf29129723354a3276838b9ef741d3f4a6f6b1/service/src/main/resources/member-service.yaml#L191 the one? 60m seems reasonable...

[2018-09-04 21:43] ajefts commented on #1275
I think you're right that it's an expiration issue.  I just tried clicking the link as soon as I got the email and it worked.  But my first attempt was definitely within 60 minutes.  @urwithat Can you verify what the expire time is set to?

[2018-09-04 21:52] ajefts opened #1276 "Profile - can't link accounts"
**Describe the bug**
When attempting to link an account (github, stackoverflow, etc.), it fails.  See screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://community-app.topcoder.com/settings/account
2. Click on Linked Accounts
3. Try to link any account
4. See error

**Expected behavior**
Account should get linked to profile.

**Screenshots**

![image](https://user-image

[2018-09-05 07:58] sushilshinde commented on #1268
@ajefts @Dara-K

Please have a look at the UI for this requirement

<img width="1503" alt="topcoder 2018-09-05 13-23-33" src="https://user-images.githubusercontent.com/683231/45079214-86dc2400-b10f-11e8-99cc-ec5ccd1b9a41.png">

[2018-09-05 14:14] Dara-K commented on #1268
@sushilshinde I suggest we keep the Submission URL textfield outside the gray box as a regular field and we probably won't need the Submit button there, as we have one below, once the user checks that he agrees to the terms.

[2018-09-05 16:45] ThomasKranitsas commented on #1276
@ajefts which link did you use? I just added `http://github.com` with no issues

[2018-09-05 16:49] sushilshinde commented on #1268
@birdofpreyru can we get this done

**This is the requirement**

In the file stack component if the challenge group is top gear show only URL text field not other options for upload.

<img width="817" alt="111" src="https://user-images.githubusercontent.com/683231/45108226-ab5cee00-b159-11e8-9030-64f5f5625123.png">

[2018-09-05 16:52] cwdcwd commented on #1276
@ajefts did you see anything on the console when that happened?

[2018-09-05 17:18] #1274 closed

[2018-09-05 17:19] ajefts commented on #1276
no, there was nothing...

[2018-09-05 17:19] ajefts commented on #1276
maybe there is bad data in the db for my account...?

[2018-09-05 17:19] #1273 closed

[2018-09-05 17:27] ThomasKranitsas commented on #1276
I tried with `TonyJ/appirio123` on dev and worked fine.

[2018-09-05 17:43] ajefts commented on #1276
Can you try prod?

On Wed, Sep 5, 2018 at 1:27 PM Thomas Kranitsas <notifications@github.com>
wrote:

[2018-09-05 17:45] ThomasKranitsas commented on #1276
It worked when I tried with `https://github.com` but not with `https://github.com/ThomasKranitsas` 🤔 But that looks like a validation issue not like the one you're having.

[2018-09-05 21:15] ajefts opened #1278 "Profile - removing Track caused error"
**Describe the bug**
I had all 3 tracks selected on the main profile settings page.  I removed Data Science and clicked save.  Below is the error.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/3812270/45121452-31b00a80-b12f-11e8-903f-3afc5ea122f2.png)

[2018-09-05 21:19] ajefts opened #1279 "Profile - user consent not prompting"
**Describe the bug**
I currently have the user consent option turned off and I'm not being prompted when I make any updates to my profile.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/3812270/45121622-b00cac80-b12f-11e8-8f72-7a0463a0eef8.png)

[2018-09-05 21:26] ThomasKranitsas commented on #1279
By setting its value I mean either `true` or `false` (any non-empty value). So, `off` (false) is a valid value.

[2018-09-05 21:29] ThomasKranitsas commented on #1278
This is not related to the tracks... It's because the frontend is doing `POST /.../traits` instead of `PUT`. I'll fix it.

[2018-09-05 21:33] #1272 closed

[2018-09-05 21:37] ThomasKranitsas commented on #1279
Correct. That's the expected behavior based on the current logic.

So, to make it more clear, the first time, the `userConsent` option is missing from the member's traits so the app will prompt the user to choose either yes or no (true/false).
Then it'll save the answer to the `userConsent` property (I believe it's in the personalization trait) and it will never ask again. But both yes and no mean

[2018-09-06 10:15] sushilshinde opened #1280 "Contentful error"
On branch - https://github.com/topcoder-platform/community-app/tree/mm-feature-experiment

I get this error and it kills the page

<img width="1497" alt="screen shot 2018-09-06 at 3 42 20 pm" src="https://user-images.githubusercontent.com/683231/45151334-a0eb3480-b1eb-11e8-8fc5-95625e917afd.png">

[2018-09-06 11:35] birdofpreyru commented on #1280
CMS access tokens should be explicitly set to give a locally running app access to most of the segments. Tokens can be found in CMS (_Space settings_ > _API Keys_ > _Temporary - Community App Dev_), and **MUST NOT** be commited to the repo. **README.md** should be updated to mention this info.

[2018-09-06 17:03] suppermancool commented on #1268
@birdofpreyru done
please check
https://github.com/topcoder-platform/community-app/pull/1281

[2018-09-06 17:14] suppermancool commented on #1268
@birdofpreyru done in https://github.com/topcoder-platform/community-app/pull/1281

[2018-09-06 18:29] hokienick opened #1282 "Contentful Dashboard Announcements Preview - BROKEN"
**Describe the bug**
Cannot Preview Dashboard Announcements

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any Dashboard Announcement (this for example: https://app.contentful.com/spaces/b5f1djy59z3a/entries/40DbhtCuf6YMGEuoGMGwwq)
2. Click "Preview"

**Expected behavior**
A preview of the banner

**Screenshots**
<img width="1305" alt="screen shot 2018-09-06 at 11 28 53 am" src="https

[2018-09-06 19:38] hokienick opened #1283 "[$40] Header Size and Paragraph Padding"
**Describe the bug**
Some header sizes are not in accordance to our Topcoder Guidelines and the spacing is off between paragraphs and headers as well as different blocks

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://community-app.topcoder.com/examples/contentful/viewport/7t2MB4a4QowwQCKogCSS00

**Here are the changes to make:**

_**All Headers**_
margin: 30px 0 10px

_**H1**_

[2018-09-06 19:40] ThomasKranitsas opened #1284 "Update the error message on the review opportunity details page"
Design: https://marvelapp.com/3d4dd93/screen/47541771/handoff

[2018-09-06 19:46] Gauravseta commented on #1284
@ThomasKranitsas can  i get  a chance?

[2018-09-06 20:10] ThomasKranitsas commented on #1284
Hi @Gauravseta ! This is not open for pickup. It's a fix I have to do on my code from some recent changes I made.

Thanks for offering though!

[2018-09-06 20:13] Gauravseta commented on #1284
@ThomasKranitsas ok np. waiting for if any in future

[2018-09-06 20:14] Gauravseta commented on #1252
@ThomasKranitsas what about this?

[2018-09-06 20:30] hokienick opened #1285 "Slider's Not Accepting images unless at specific size"
**Describe the bug**
When using images in Slider's, the slider does not display the image I believe because of the size it was uploaded in.  For example, the image for blockchain that worked when it was just one banner is 1280 x 470 as other banners are.  The second slide DOES show the image, which is 2048 x 822.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://blockchain.topcod

[2018-09-07 00:47] suppermancool commented on #1268
@birdofpreyru right now i check challenge group base on the url that enter challenge but look like it wrong, there is another option is check community id of challenge, but right now look like no challenge with wipro as community in dev enviroment. Can you create one topgear challenge to dev enviroment and give me the link to test, thanks

[2018-09-07 10:36] birdofpreyru commented on #1268
@suppermancool not quite :)

[2018-09-07 11:29] #1280 closed

[2018-09-07 12:53] sharathkumaranbu opened #1287 "Show assigned reviewers in Review opportunity page"
**Is your feature request related to a problem? Please describe.**
Currently in the review opportunities page, once the reviewer is assigned for a challenge, we don't know who is assigned as reviewer from the review opportunity page, which makes the process not transparent and may raise doubts and concerns in the reviewer minds.

**Describe the solution you'd like**
When a challenge is launched, C

[2018-09-07 12:54] ThomasKranitsas commented on #1287
@ajefts thoughts?

[2018-09-09 15:51] harshitmehta123 opened #1288 "[$40] SRM Rating Graph in Dashboard"
Clicking on the match in the rating graph takes me to: https://www.topcoder.com/challenges/17242
Earlier it was working fine
Should take to
https://community.topcoder.com/stat?c=round_overview&rd=17242

Screenshot:

<img width="1043" alt="screen shot 2018-09-09 at 20 26 49" src="https://user-images.githubusercontent.com/6296738/45266281-57fae080-b476-11e8-9cfb-1be7350ac572.png">

[2018-09-10 14:19] ajefts commented on #1268
@birdofpreyru @suppermancool @sushilshinde A few issues with this one.  Could we get these updates in asap?

1. Remove the restriction that it needs to be a zip file for URL submissions.
![image](https://user-images.githubusercontent.com/3812270/45302754-2455a000-b4e2-11e8-9ed7-a317f1f153bc.png)

2. Remove the validation that filestack is doing to check if the file exists.  In many/most cases, the

[2018-09-10 16:54] suppermancool commented on #1268
@birdofpreyru @sushilshinde @ajefts
just read the document of picker, the picker doesn't support this
https://filestack.github.io/filestack-js/interfaces/pickeroptions.html
One way  is handle event of submit button by ourself
if it’s valid url we can send url directly to server then close the filestack popup
if it’s invalid url we can let the filestack picker handle and show the error message
just

[2018-09-10 18:14] cwdcwd commented on #1268
@suppermancool we don't care if it's an accessible URL or not. we just want the URL to be posted in, regardless of accessibility. We want the user to be about to put URLs in that are behind firewalls that the front end can't access

[2018-09-10 18:37] ajefts commented on #1268
@suppermancool Can you see if this option would help us?  https://filestack.github.io/filestack-js/interfaces/pickeroptions.html#preferlinkoverstore

[2018-09-10 19:36] ajefts commented on #1288
@urwithat let's get a quick fix in for this one please.

[2018-09-10 19:38] ajefts opened #1289 "Add privacy note on user settings page"
Add a privacy note on the user settings page to indicate what is part of the public profile and what is kept private.

Todo: Need content and placement.

[2018-09-10 19:54] ThomasKranitsas opened #1290 "[$40] Setting page - Fix layout issue in Safari"
**Describe the bug**
The form layout is broken in Safari.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/settings/profile
2. Click any from Skill, Hobby, Tools (any page from the sidebar)
4. See the layout issue.

**Expected behavior**
The form elements should have `100%` width.

**Screenshots**
![screen shot 2018-09-10 at 22 50 14](https://user-images.githubu

[2018-09-10 19:54] ThomasKranitsas commented on #1290
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-10 19:55] ThomasKranitsas commented on #1290
You should fix all forms from the following pages:
- [ ] Skill
- [ ] Hobby
- [ ] Tools (all pages from the sidebar)

[2018-09-10 19:57] Gauravseta commented on #1290
@ThomasKranitsas please assing to me thanks

[2018-09-10 19:58] ThomasKranitsas commented on #1290
Contest https://www.topcoder.com/challenges/30070986 has been created for this ticket.

[2018-09-10 19:58] ThomasKranitsas commented on #1290
Contest https://www.topcoder.com/challenges/30070986 has been updated - it has been assigned to gauravseta.

[2018-09-10 20:00] ThomasKranitsas commented on #1110
Contest https://www.topcoder.com/challenges/30069992 has been updated - it has been assigned to lunarkid.

[2018-09-10 20:05] ThomasKranitsas opened #1291 "[$20] Settings page - Change section titles to plural"
All occurrences of the following should be fixed:

- `Skill` => `Skills`
- `Hobby` => `Hobbies`
- `Community` => `Communities`
- `Linked Account` => `Linked Accounts`

[2018-09-10 20:05] ThomasKranitsas commented on #1291
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-10 20:05] ThomasKranitsas commented on #1291
Contest https://www.topcoder.com/challenges/30070987 has been created for this ticket.

[2018-09-10 20:08] PrakashDurlabhji commented on #1291
@ThomasKranitsas wish to work on it thanks

[2018-09-10 20:08] PrakashDurlabhji commented on #1291
@ThomasKranitsas need to raise PR against develop?

[2018-09-10 20:09] ThomasKranitsas commented on #1110
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30069992 is not in DRAFT status

[2018-09-10 20:09] ThomasKranitsas commented on #1291
Contest https://www.topcoder.com/challenges/30070987 has been updated - it has been assigned to PkDurlabhji.

[2018-09-10 20:10] ThomasKranitsas commented on #1291
@PrakashDurlabhji yes, please. Create a PR against `develop`

[2018-09-10 21:10] Gauravseta commented on #1290
@ThomasKranitsas minor input from your side will be helpful. is it working prfectly in Basic info tab  on safari? for first name and last name and othr fields on basic info page?

[2018-09-10 21:47] Gauravseta commented on #1290
@ThomasKranitsas PR is ready for review. please check it thanks

[2018-09-10 22:58] ThomasKranitsas commented on #1290
@Gauravseta sorry for the delay. Yes, the basic info works fine in safari

[2018-09-11 01:16] ajefts commented on #1268
Ok. Can you implement your trick and show us how it will behave?

[2018-09-11 05:09] suppermancool commented on #1268
@birdofpreyru @sushilshinde @ajefts
implemented in https://github.com/topcoder-platform/community-app/pull/1294

[2018-09-11 09:33] ThomasKranitsas commented on #1252
Contest https://www.topcoder.com/challenges/30070407 has been updated - it has been assigned to nqv2018.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-11 10:03] ThomasKranitsas commented on #1110
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-11 10:11] ThomasKranitsas commented on #1110
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30069992 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-11 10:33] nqviet commented on #1252
@ThomasKranitsas:
There are a hurdle in this issue, this page "my-submission-management" is still legacy code, meaning that the new backend-api `/submissions/{id}/` hasn't integrated into for this module yet.
At the last time I debugged, the endpoint `/submissions/{id}?type=&url&challengeId=&memberId=` was only return results for `type` and `url` query params.

The new `GET:/submissions` endpoint

[2018-09-11 13:40] ajefts commented on #1252
@cwdcwd @ThomasKranitsas If the My Submissions page is still legacy, can we get that converted over to the community-app and new API?

[2018-09-11 13:56] birdofpreyru commented on #1252
It is definitely in **community-app**, I believe he tells it was never updated to work with the new submissions API.

[2018-09-11 14:27] birdofpreyru commented on #1268
@ajefts @sushilshinde @suppermancool @cwdcwd

I have tested #1294 locally, and it seems to work, although code update looks goofy and non-reactish. I suggest you also test it outside of **develop** branch before merging it in.

[2018-09-11 14:36] ajefts commented on #1268
Thanks @birdofpreyru

Also, @suppermancool ...When I submit a private git repo URL Filestack doesn't seem to like it.  For example, when I try with https://github.com/appirio-tech/ap-challenge-microservice the response in the console is:

![image](https://user-images.githubusercontent.com/3812270/45367151-97c4e380-b5ae-11e8-98d0-c6bfccdf6bec.png)

[2018-09-11 15:54] cwdcwd commented on #1268
I think in this case we're going to have to forego the use of file stack and simply provide the user with and input box for URL instead. Can we do that instead please?

[2018-09-11 17:14] cwdcwd commented on #1268
@suppermancool can you make that change?

[2018-09-11 18:02] hokienick commented on #1262
Just wanted to put this on your radar, guys :)  @sushilshinde @cwdcwd

[2018-09-11 18:08] hokienick commented on #1271
@birdofpreyru you can close this when we are finished with final fixes.

[2018-09-11 18:16] hokienick commented on #1282
@sushilshinde @cwdcwd - @birdofpreyru may know more about this though

[2018-09-11 18:17] hokienick commented on #1283
@sushilshinde @cwdcwd - @birdofpreyru has some know how on this i believe

[2018-09-11 18:18] hokienick commented on #1285
@sushilshinde @cwdcwd  - has been down since the last big update (~2 weeks ago)

[2018-09-11 19:37] ThomasKranitsas commented on #1268
[500]: Challenge for the updated issue 1268 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-11 19:37] ThomasKranitsas commented on #1268
[500]: Challenge for the updated issue 1268 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-11 20:04] ThomasKranitsas commented on #1268
[500]: Challenge for the updated issue 1268 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-11 20:06] ThomasKranitsas commented on #1268
[500]: Challenge for the updated issue 1268 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-12 00:30] suppermancool commented on #1268
@cwdcwd how about the ui https://github.com/topcoder-platform/community-app/issues/1268#issuecomment-418636214 right? If the user enter invalid url how can we show the error, red border and the text "* Invalid URL" above the input?

[2018-09-12 00:32] ThomasKranitsas commented on #1268
[500]: Challenge for the updated issue 1268 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-12 00:33] ThomasKranitsas commented on #1268
[500]: Challenge for the updated issue 1268 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-12 00:59] ThomasKranitsas commented on #1268
[500]: Challenge for the updated issue 1268 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-12 00:59] ThomasKranitsas commented on #1268
[500]: Challenge for the updated issue 1268 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-12 10:13] ThomasKranitsas opened #1295 "Getting an error "Failed to add user trait" on profile page"
While updating first name, last name and country on this URL https://www.topcoder.com/settings/profile, the user is getting an error "Failed to add user trait".
Please check and fix the issue.

![45407557-59e7be00-b687-11e8-83be-bb6bf64fa6f8](https://user-images.githubusercontent.com/4612921/45418587-90c0d280-b68d-11e8-965c-02735c33b3ab.png)

Reported by @JayaDhaka

[2018-09-12 10:14] Gauravseta commented on #1295
@thomaskranitsas any front end issue open for pickup? thanks

[2018-09-12 10:14] ThomasKranitsas commented on #1295
No, none at the moment. Stay tuned ;)

[2018-09-12 10:15] ThomasKranitsas commented on #1295
@JayaDhaka can you please send me the API response (from the network tab)? It's working fine on my end.

[2018-09-12 10:28] ajefts commented on #1268
@suppermancool Yes, please show the error above the input area using the red font.

[2018-09-12 10:45] ThomasKranitsas commented on #1268
[500]: Challenge for the updated issue 1268 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-12 10:45] ThomasKranitsas commented on #1268
[500]: Challenge for the updated issue 1268 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-12 10:50] suppermancool commented on #1268
@ajefts can you create topgear challenge for testing, the old one was removed
https://www.topcoder-dev.com/challenges/30052982/

[2018-09-12 11:10] ajefts commented on #1268
Yes, 30052993 is a good test challenge.

[2018-09-12 13:46] suppermancool commented on #1268
@ajefts @sushilshinde @birdofpreyru @cwdcwd is this ok?
[sumit-url.mp4.zip](https://github.com/topcoder-platform/community-app/files/2375363/sumit-url.mp4.zip)
https://github.com/topcoder-platform/community-app/pull/1294

[2018-09-12 13:52] ajefts commented on #1268
@suppermancool That looks good on the surface.  Can you  change the button to "Set URL" and give us a PR?

[2018-09-12 13:53] cwdcwd commented on #1268
that will work for inaccessible URLs as well, right @suppermancool ?
If so then that looks great. Please make a PR.

[2018-09-12 14:02] suppermancool commented on #1268
@cwdcwd yeah it work as expected.
the PR is in
#1294

[2018-09-12 15:44] cwdcwd commented on #1268
accepted fix and merged. promoted to master as well.
nice work @suppermancool

[2018-09-12 15:50] ThomasKranitsas commented on #1268
[500]: Challenge for the updated issue 1268 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-12 16:20] cwdcwd commented on #1268
trying to fix the payment automation so please disregard the labels now

[2018-09-12 16:26] ThomasKranitsas commented on #1268
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071086<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-12 22:08] suppermancool commented on #1268
yub, it is, give me the challenge url i will check

[2018-09-13 01:41] cwdcwd commented on #1268
it's this one but I might have to find a way to add you into the topgear group to gain access
https://topgear.topcoder.com/challenges/30071053
However, here's the challenge payload for that challenge:
[code]

[2018-09-13 01:57] suppermancool commented on #1268
@cwdcwd i think the "groupIds" in the payload is "groups" in dev server. I will update this props to make it work in both, can you do the quick check?

The PR is in:
https://github.com/topcoder-platform/community-app/pull/1297

[2018-09-13 02:16] suppermancool commented on #1268
ah i know the problem, we can't get community list in production server, let me check that

[2018-09-13 02:34] cwdcwd commented on #1268
I've got [this data](https://codebeautify.org/jsonviewer/cbd85a39) as the groups payload I think

[2018-09-13 02:42] suppermancool commented on #1268
all data look fine, pls check if you can give me access to the challenge @cwdcwd

[2018-09-13 02:45] suppermancool commented on #1268
@cwdcwd where did you get https://github.com/topcoder-platform/community-app/issues/1268#issuecomment-420863176 from
my community list get from production server right now don't contain topgear
https://gyazo.com/9498b9603f3cc6f4d7cfa161421abbc2
can you check with server site for this

[2018-09-13 02:51] cwdcwd commented on #1268
I pulled that from the debug console on my browser. my user is enabled for that group. Do you see anything wrong with the format of the data from my user?

looking back at the logic we have a couple gates

- `if (!_.isEmpty(groups)) {`
- `if (communitiesList.timestamp > 0) {`
- `if (topGearCommunity) {` (predicated on `const topGearCommunity = _.find(communitiesList.data, { mainSubdomain: 'topgear

[2018-09-13 02:59] suppermancool commented on #1268
@cwdcwd you can call

console.log(JSON.stringify(communitiesList));
console.log(JSON.stringify(groups));

before
if (!_.isEmpty(groups)) {
then give me the result

[2018-09-13 03:08] suppermancool commented on #1268
i can get topgear group with some hack, let me fake the challenge data and test again

[2018-09-13 03:31] suppermancool commented on #1268
@cwdcwd ah it work for me after hack with challenge info and topgear, can you take screenshot of your log with code
https://github.com/topcoder-platform/community-app/issues/1268#issuecomment-420867308

[2018-09-13 03:37] cwdcwd commented on #1268
ok. let me update the code on prod with that snippet

[2018-09-13 04:18] cwdcwd commented on #1268
@suppermancool I think the issue actually might be higher up. We're not seeing the URL field but rather the FileStack UI

![image](https://user-images.githubusercontent.com/1504607/45466853-76691200-b6ea-11e8-98c0-6d218b36c6d5.png)

[2018-09-13 04:26] cwdcwd commented on #1268
![image](https://user-images.githubusercontent.com/1504607/45467065-b2e93d80-b6eb-11e8-9682-4431a10382ba.png)

[2018-09-13 04:39] suppermancool commented on #1268
@cwdcwd
my code didn't work, look like you didn't run build again pls run
`npm run build`
before
`npm start`

[2018-09-13 04:41] cwdcwd commented on #1268
the CI should have run that. let me invalidate the CloudFront cache and see if that fixes it

[2018-09-13 04:51] cwdcwd commented on #1268
I think I figured it out. the CI wasn't building. only testing on master. rerunning CI w/ tag for release

[2018-09-13 04:54] suppermancool commented on #1268
yeah i hope that is the problem, look like no problem with the data until now :)

[2018-09-13 05:09] cwdcwd commented on #1268
that was it! thanks so much!

[2018-09-13 05:11] cwdcwd commented on #1268
@ajefts all set

[2018-09-13 05:11] #1268 closed

[2018-09-13 05:16] suppermancool commented on #1268
@cwdcwd if the code work pls remove all console.log(' code in Submit/index.jsx file or do you want me to remove then create the PR?

[2018-09-13 18:49] Gauravseta commented on #1290
@ThomasKranitsas is bug hunt going to start here on this repo?

[2018-09-13 20:05] ThomasKranitsas commented on #1290
Yep

[2018-09-13 20:09] sdgun opened #1298 "No spaces in between the Firstname/Lastname"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Info
3. Check the Firstname/Lastname

## Actual Result(s)

- No spaces in between the Firstname/Lastname

## Expected Result(s)

- Must have spaces in between the Firstname/Lastname

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Operat

[2018-09-13 20:11] sdgun opened #1299 "Can enter future date as a DOB"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Info
3. Enter Birth Date > 09/13/2023
4. Click Save Changes

## Actual Result(s)

- Can enter future date as a DOB

## Expected Result(s)

- Must validate the DOB

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Operating System:** Windo

[2018-09-13 20:17] PereViki opened #1300 "[$30] Submenu icons are cut off"
**Describe the bug**
Some of the icons seems to be cut off in the sub menu

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. See error

**Expected behavior**
The icons should have identical stroke weight

**Screenshots**
<img width="1280" alt="screenshot 2018-09-13 22 13 17" src="https://user-images.githubusercontent.com/35376779/4551331

[2018-09-13 20:19] Gauravseta commented on #1290
@ThomasKranitsas will that be open for pickup later?

[2018-09-13 20:20] sdgun opened #1301 "User can't add new skills, error displayed"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Skills
3. Select a skill from drop down
4. Click Add skill to your list

## Actual Result(s)

- User can't add new skills, error displayed

## Expected Result(s)

- Must able to add skills

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Opera

[2018-09-13 20:25] PereViki opened #1302 "[$20] Cannot add a URL to the External links in accounts other than the main domain"
**Describe the bug**
I cannot add a URL to the External links in accounts other than the main domain. Typing a '/' after the domain creates an error message

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Linked account' submenu
3. Scroll down to 'Add a new external link'
4. Type URL with subpage (under the domain)
4. See err

[2018-09-13 20:29] ThomasKranitsas commented on #1290
yes

[2018-09-13 20:29] sdgun opened #1303 "Error message displayed while saving data on the profile page"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Info
3. Fill some details
4. Click Save Changes

## Actual Result(s)

- Error message displayed while saving data on the profile page

## Expected Result(s)

- Must not display an error

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Op

[2018-09-13 20:32] sdgun opened #1304 "Error message displayed while saving data on the profile page"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Info
3. Fill some details and don't fill the country
4. Click Save Changes

## Actual Result(s)

- Error message displayed while saving data on the profile page

## Expected Result(s)

- Must not display an error

## Ref:

@ThomasKranitsas

## Frequency

- 5/5

## Environment Details

- **D

[2018-09-13 20:32] #1303 closed

[2018-09-13 20:32] nqviet opened #1305 "[$80] Basic Info - Birth-date input popup is broken"
**Step To Reproduce**
Steps to reproduce the behavior:
1. Open Edge
2. Click on 'Birth Date'
3. See the datetime popup, its layout is broken.

**Expected behavior**
The datetime popup control should be nice.

**Screenshots**
![untitled](https://user-images.githubusercontent.com/36178659/45513997-6591cc80-b7ce-11e8-8ed7-c52ed99c3adf.png)

**Desktop (please complete the following information):**
 -

[2018-09-13 20:36] PereViki opened #1306 "[$30] Not adequate error message after canceling linking an external account"
**Describe the bug**
The user gets an error message when after clicking on linking a dribbble account then closing the popup without linking.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Linked Account' side menu
3. Click on 'Dribbble' option
4. Close the popup window.
4. See error

**Expected behavior**
There should be no

[2018-09-13 20:36] sdgun opened #1307 "[$1] Delete Avatar is not working"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Info
3. Click Delete Avatar

## Actual Result(s)

- Delete Avatar is not working

## Expected Result(s)

- Must delete the Avatar

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Operating System:** Windows 7 64bit
- **Browser(s):** Goog

[2018-09-13 20:40] cwdcwd opened #1308 "[$150] Final Fix Support"
Community App front end needs a couple tweaks for supporting final fixes
- submit button needs to be enabled via the following logic:
  + if the calling member is the winner
  + AND if the phase is final fix
- submission form needs to either:
  + not send the submissionPhaseId at all and allow the API to determine it at POST time (currently the form is sending null for submissionPhaseId, which is

[2018-09-13 20:41] ThomasKranitsas commented on #1308
Contest https://www.topcoder.com/challenges/30071110 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-13 20:41] cwdcwd commented on #1308
![](https://github.trello.services/images/mini-trello-icon.png) [Final Fix Support-Front End changes](https://trello.com/c/RZ7YrIDG/48-final-fix-support-front-end-changes)

[2018-09-13 20:43] PereViki opened #1309 "Both error and success message gets displayed when saving a new subscription."
**Describe the bug**
Both error and success message gets displayed when saving a new subscription.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/tools'
2. Click on 'Subscriptions'
3. Fill in the 'Name'
4. Click 'Add subscription to your list'
4. See error

**Expected behavior**
Should display the correct message.

**Screenshots**
<img width="128

[2018-09-13 20:43] sdgun opened #1310 "[Common] Error message displayed when user close the login popup"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > Linked Account
3. Click on Github
4. Close the popup
5. Observe

## Actual Result(s)

- Error message displayed when user close the login popup

## Expected Result(s)

- Must not display an error

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
-

[2018-09-13 20:49] sdgun opened #1311 "Date time picker is not displayed when user tap on the field"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Info
3. Click on Birth Date

## Actual Result(s)

- Date time picker is not displayed when user tap on the field

## Expected Result(s)

- Must display the Date time picker

## Ref:

@ThomasKranitsas

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 136

[2018-09-13 20:50] sdgun opened #1312 "[$20] Layout issue in the Delete button"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Hobby
3. Add a new hobby (or few hobbies)
4. Check the delete icon

## Actual Result(s)

- Layout issue in the Delete button

## Expected Result(s)

- Must display the delete button properly

## Ref:

@ThomasKranitsas

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resol

[2018-09-13 20:51] sdgun opened #1313 "[$40] Layout issue in the 'Community' page"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Community
3. Check the page

## Actual Result(s)

- Layout issue in the 'Community' page

## Expected Result(s)

- Must display the page elements properly

## Ref:

@ThomasKranitsas

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Operating Sy

[2018-09-13 20:53] sdgun opened #1314 "[$40] Layout issue in the 'Devices' page."
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Tools > Devices
3. Add some devices with long descriptions and names
4. Check the layout

## Actual Result(s)

- Layout issue in the 'Devices' page

## Expected Result(s)

- Must display the page elements properly. text must not go beyond the container

## Ref:

@ThomasKranitsas

## Frequency

- 5/5

## En

[2018-09-13 20:54] sdgun opened #1315 "[$40] Layout issue in the 'Subscriptions' page."
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Tools > Subscriptions
3. Add some Subscriptions with long names (eg: Lorem ipsum dolor sit amet, labores verterem ei usu. Per ne altera sanctus intellegat. Eos cu iudico graece sapientem. Option sc)
4. Check the layout

## Actual Result(s)

- Layout issue in the 'Subscriptions' page

## Expected Result(s)

[2018-09-13 20:55] nqviet opened #1316 "[Chrome][Basic Info] The right side of Birth-date input control is not align properly"
**Step To Reproduce**
1. Go to Basic Info of the Profile tab
2. Click on Birth Date
3. See the drop-down and slide icon on the right side, they aren't aligned properly.

**Expected behavior**
The drop-down and slide icon should fit the input control.

**Screenshots**
![untitled](https://user-images.githubusercontent.com/36178659/45515282-e7372980-b7d1-11e8-97f8-18cdf6fdc6e9.png)

**Desktop (please

[2018-09-13 20:57] PereViki opened #1317 "GitHub linked account info doesn't load even after 30 minutes"
**Describe the bug**
GitHub linked account info doesn't load even after 30 minutes. Still says loading data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Linked account'
3. Add a Github account
4. Wait 30 minutes.
4. See error

**Expected behavior**
The data should show up within a couple of minutes

**Screenshots**
<img w

[2018-09-13 21:00] sdgun commented on #1304
[code]

[2018-09-13 21:00] sdgun commented on #1301
[code]

[2018-09-13 21:04] PereViki opened #1318 "[$20] Layout of Linked GitHub account on mobile is not adequate"
**Describe the bug**
Layout of Linked GitHub or any account on mobile is not adequate. The delete button is placed over the Github logo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Linked Account'
3. Add a Github account
4. See the error

**Expected behavior**
The delete button should be on the right of the whole box.

**

[2018-09-13 21:09] sdgun opened #1319 "[$30] Some icons are partially cut off"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Tools > Add Software
3. Check the icons

## Actual Result(s)

- Some icons are partially cut off

## Expected Result(s)

- Must display the icons properly

## Frequency

- 5/5

## Environment Details

- **Device(s):** Samsung Galaxy S5
- **Operating System:** Android 6.0.1
- **Size:** 5.1 inches (~69.6% sc

[2018-09-13 21:10] PereViki opened #1320 "After refreshing the page the saved items are gone from Subscriptions"
**Describe the bug**
The data saved on Subscriptions for instance are not get saved, as after refreshing the new items are gone

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/tools'
2. Click on 'Subscriptions'
3. Add new subscription
4. Refresh the page
4. See error

**Expected behavior**
Items should be saved into the database not only on the UI

[2018-09-13 21:12] sdgun opened #1321 "'Other' icons is too small compared to others"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Tools > Service Providers
3. Select the Type > Other
4. Enter provider name
5. Tap 'Add Provider'
6. Check the icon in the list

## Actual Result(s)

- 'Other' icons is too small compared to others

## Expected Result(s)

- Must display in same size

## Frequency

- 5/5

## Environment Details

- **Device(

[2018-09-13 21:16] sdgun opened #1322 "[$40] Common - Space between the first item label and text controller is different from others"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Tools > Device/Software/Service Providers
3. Check the first item in the form

## Actual Result(s)

- Space between the first item label and text controller is different from others

## Expected Result(s)

- Must match with the others

## Frequency

- 5/5

## Environment Details

- **Device(s):** Samsung G

[2018-09-13 21:17] ajefts commented on #1266
dup of #1308

[2018-09-13 21:17] #1266 closed

[2018-09-13 21:18] #1254 closed

[2018-09-13 21:19] ajefts commented on #1253
@cwdcwd let's add this to the list for My Submissions page cleanup.

[2018-09-13 21:19] PereViki opened #1323 "[$30] Tools/Devices tablet portrait mode layout pulls mobile width"
**Describe the bug**
Tablet portrait view of Tools/Devices screen is too narrow. Seems like it is for mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/tools'
2. Click on 'Devices'
3. See error

**Expected behavior**
The width should be for the available screen resources.

**Screenshots**
![img_e3a7c3575280-1](https://user-images.githubuserc

[2018-09-13 21:20] ajefts commented on #1252
@cwdcwd This one needs some attention and is also related to My Submissions

[2018-09-13 21:21] PereViki opened #1324 "[$30] Tools/Software tablet portrait mode layout pulls mobile width"
**Describe the bug**
Tablet portrait view of Tools/Software screen is too narrow. Seems like it is for mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/tools'
2. Click on 'Softwares'
3. See error

**Expected behavior**
The width should be for the available screen resources.

**Screenshots**
![img_125d0ced2dba-1](https://user-images.githubus

[2018-09-13 21:24] nqviet opened #1325 "[iphone4s][Basic Info] Layout of the switch buttons doesn't display properly."
**Step To Reproduce**
Steps to reproduce the behavior:
1. Go to Basic Info of the Profile tab of the Setting page.
2. Scroll down to the Tracks section.
3. See the switch buttons, the circles are all in left side regardless of ON/OFF.

**Expected behavior**
The circle of the switch button should be in left side for OFF, and in right side for ON.

**Screenshots**
![20180914_040249](https://user-ima

[2018-09-13 21:25] PereViki opened #1326 "[$40] Text style is different in text boxes and dropdowns"
**Describe the bug**
Text style is different in text boxes and dropdowns, in color,in size and in case as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile' or any page where there are text boxes and dropdowns
2. See error

**Expected behavior**
Text style should be the same

**Screenshots**
<img width="1280" alt="screenshot 2018-09-13

[2018-09-13 21:26] SecureMovieStreaming opened #1327 "Able to overflow the Short Bio input?"
**To Reproduce**
Steps to reproduce the behavior:
1. Open Website and Login as User,
2. Go to Settings > Profile
3. Paste ""':;/?.,><[]{}\|-=`~!@#$%^&*()_+" 8 times
4. Click save changes
5. Refresh page

**Expected behavior**
Stops pasting at 240 characters and saves.

**Actual behavior**
Cuts off display of text as 240 characters but Says "256/240"

**Screenshots**
![image](https://user-images.gi

[2018-09-13 21:27] #860 closed

[2018-09-13 21:27] #825 closed

[2018-09-13 21:33] sdgun opened #1328 "[$40] [Common] Required fields are not marked in the Devices/Software/Service Providers/Subscriptions forms in portrait mode"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Tools > Devices/Software/Service Providers/Subscriptions
3. Check the * Required text on the fields

## Actual Result(s)

- Required fields are not marked in the Add a new device form

## Expected Result(s)

- Must display the required fields

## Frequency

- 5/5

## Environment Details

- **Dev

[2018-09-13 21:34] PereViki opened #1329 "Profile picture could not be added from gallery on iPhone 6s"
**Describe the bug**
Profile picture could not be added from gallery on iPhone 6s, even though I get a success message. After refreshing the page, the image is still empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Add an image from the gallery.
3. See error.

**Expected behavior**
The added image should show up.

**Screenshots**

[2018-09-13 21:41] sdgun opened #1330 "[$50] Success message is continuously displayed if user navigates from page to page"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Tools > Profile > Community
3. Enable those toggles
4. Go to Tools (Observe)
5. Go to Account (Observe)
6. Go to Preference (Observe)

## Actual Result(s)

- Success message is continuously displayed if user navigates from page to page

## Expected Result(s)

- Must not display the message again

[2018-09-13 21:43] PereViki opened #1331 "[$10] Actual profile picture does not show up on iPad Mini 2"
**Describe the bug**
My already saved profile picture does not show up on the iPad. It actually can be seen on the top right corner, but not in the form.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile' on desktop
2. Add profile image
3. Go to 'https://www.topcoder-dev.com/settings/profile' on iPad
4. See error

**Expected behavior**
The a

[2018-09-13 21:45] sdgun commented on #1330
Happens on Desktop as well

[2018-09-13 21:45] nqviet opened #1332 "[Basic Info] Unnecessary `*require` label above the Country control."
**Step To Reproduce**
1. Go to Basic Info of Profile tab of Setting page
2. Click on Country control.
3. See that the control always have value, and can't set to an empty value.

**Expected behavior**
The control should have an empty value as default, OR the label shouldn't be there.

**Screenshots**
![untitled](https://user-images.githubusercontent.com/36178659/45517590-d342f600-b7d8-11e8-9428-28

[2018-09-13 21:47] sdgun opened #1333 "[$10] 'Linked Account' must display as 'Linked Accounts'"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > Linked Account
3. Check the page Title and menu text

## Actual Result(s)

- 'Linked Account'

## Expected Result(s)

- 'Linked Account' must display as 'Linked Accounts'
- There are many accounts and the sub-title is also > Your linked accounts

## Frequency

- 5/5

## Environment Details

- **D

[2018-09-13 21:48] PereViki opened #1334 "[$30] The profile image I upload from iPhone 6s shows up upside down on desktop."
**Describe the bug**
The profile image I upload from iPhone 6s shows up upside down on desktop and in the top right corner of the phone as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile' on the iPhone.
2. Add a profile image
3. Go to 'https://www.topcoder-dev.com/settings/profile' on desktop.
4. See error

**Expected behavior**
The

[2018-09-13 21:52] sdgun opened #1335 "Success message goes beyond the screen area from the right side"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Account > My Account
3. Enable > User Consent
4. Check the message

## Actual Result(s)

- Success message goes beyond the screen area from the right side

## Expected Result(s)

- Must have the same space from the left side as well so that it won't go out from the visible screen area

## Freque

[2018-09-13 21:53] PereViki opened #1336 "[$30] Disabled options on Linked accounts should be less prominent."
**Describe the bug**
It is not clear which option os not available/disabled. The ones that are disabled should be even less prominent.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. See error

**Expected behavior**
The disabled options (e.g. LinkedIn) should be even less prominent.

**Screenshots**
<img width="1280" alt="screenshot 20

[2018-09-13 21:58] nqviet opened #1337 "[Profile - Skill] The placeholder text overlaps the dropdown icon"
**Step To Reproduce**
1. Go to Skill of Profile tab of Setting page
4. See the placeholder text of the skill control.

**Expected behavior**
The dropdown icon shouldn't overlap the placeholder text.

**Screenshots**
![untitled](https://user-images.githubusercontent.com/36178659/45518099-a42d8400-b7da-11e8-9744-355eff21cc0b.png)

**Environtment**: all

[2018-09-13 21:59] PereViki opened #1338 "Turning on a community setting does not get saved and gets error message"
**Describe the bug**
Turning on a community setting does not get saved and gets error message

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Community' on the side
3. Switch any community on.
4. See error

**Expected behavior**
The community setting should be saved.

**Screenshots**
<img width="1280" alt="screenshot 2018-09-

[2018-09-13 22:04] Gauravseta commented on #1290
@ThomasKranitsas any tentativ time when it will be open for pickup? thanks

[2018-09-13 22:05] PereViki opened #1339 "Profile/Skill is narrower than the screen resource on iPhone 6s"
**Describe the bug**
Profile/Skill content is narrower than the screen resource on iPhone 6s.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Skill'
3. See error

**Expected behavior**
The content holder should be wider.

**Screenshots**
![img_3884](https://user-images.githubusercontent.com/35376779/45518437-d080da80-b7b1-11e

[2018-09-13 22:05] PereViki opened #1340 "Profile/Hobby is narrower than the screen resource on iPhone 6s"
**Describe the bug**
Profile/Hobby content is narrower than the screen resource on iPhone 6s.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Hobby'
3. See error

**Expected behavior**
The content holder should be wider.

**Screenshots**
![img_3882](https://user-images.githubusercontent.com/35376779/45518468-e9898b80-b7b1-11e

[2018-09-13 22:08] sdgun opened #1341 "Sometimes adding devices will display an error message"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Tools > Device
3. Fill all the details and add a device

## Actual Result(s)

- Sometimes adding devices will display an error message

## Expected Result(s)

- Must not display an error, user should able to add devices without an issue

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop

[2018-09-13 22:10] PereViki opened #1342 "Profile sections dropdown arrow gets changed to a rectangle on iPhone 6s"
**Describe the bug**
When I open any of the sections and close it back, the arrows get changed into a rectangle. 3 times out of 5.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on the 'Basic Info' arrow to open the section
3. Click on the 'Basic Info' arrow to close the section
4. See error

**Expected behavior**
The arrows sho

[2018-09-13 22:10] nqviet opened #1343 "[$10] (Edge, iphone4s)(Profile - Skill])The background color of 'Skill can not be empty' doesn't fill 100% width"
**To Reproduce**
1. Go to Skill of Profile tab of Setting page.
2. Click on 'Add skill to your list'
3. See the error message, its background color doesn't fill 100% width.

**Expected behavior**
It should fill 100% width like:
![untitled2](https://user-images.githubusercontent.com/36178659/45518406-94626f80-b7db-11e8-84c8-ddfb87b5b3d5.png)

**Screenshots**
![untitled](https://user-images.githubus

[2018-09-13 22:13] sdgun opened #1344 "[$40] Layout issue in the 'Add link' section"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Account > Linked Account
3. Check the section Add Link

## Actual Result(s)

- Layout issue in the 'Add link' section, now too much empty space to the right

## Expected Result(s)

- Must spread the section across the device, now too much empty space to the right

## Ref:

@ThomasKranitsas

## F

[2018-09-13 22:14] nqviet commented on #1343
This bug also happen for Hobby

[2018-09-13 22:19] sdgun opened #1345 "When user switches from Landscape to Portrait; Opened tab is not expanded in Portrait view"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Landscape]
2. Go to Settings > Tools > Software
3. Switch to Portrait mode

## Actual Result(s)

- When user switches from Landscape to Portrait; Opened tab is not expanded in Portrait view

## Expected Result(s)

- Must expand the selected section when user switches the orientation to Portrait

## Ref:

@ThomasKranitsas

##

[2018-09-13 22:23] sdgun opened #1346 "Full error message is not displayed in the Linked account page"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Landscape]
2. Go to Settings > Account > Linked Account
3. Enter www.google.com and click Add Link
4. Check the green validation popup

## Actual Result(s)

- Full error message is not displayed in the Linked account page

## Expected Result(s)

- Must display the error/validation text clearly

## Ref:

@ThomasKranitsas

##

[2018-09-13 22:28] sdgun opened #1347 "[Deleting Links]; full error message is not displayed in the Linked account page"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Landscape]
2. Go to Settings > Account > Linked Account
3. Click Delete icon of a Linked Account
4. Check the green validation popup

## Actual Result(s)

- Full error message (Success! Your web link "Www.google.com" was removed.) is not displayed in the Linked account page

## Expected Result(s)

- Must display the error/va

[2018-09-13 22:28] nqviet opened #1348 "[Edge][Settings- Profile - Hobby, Skill] TextArea is always too small."
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Skill, or Hobby of Profile tab of Setting page.
2. See any textarea input, it size is having issue, it's too small.

**Expected behavior**
The textarea control should fill the remain space.

**Screenshots**
![untitled](https://user-images.githubusercontent.com/36178659/45519375-fec8df00-b7de-11e8-9b90-724872fa81d0.png)

**Desktop (please c

[2018-09-13 22:34] nqviet commented on #1348
add more picture:
![untitled](https://user-images.githubusercontent.com/36178659/45519567-d1306580-b7df-11e8-8007-887e8cf2586f.png)

[2018-09-13 22:35] PereViki opened #1349 "After verification of a new e-mail the old one shows up still"
**Describe the bug**
I changed my e-mail address and verified it, so I got redirected to the My Account page. In the primary e-mail, my old e-mail address was shown. I had to refresh to get the new e-mail shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Change and verify your new e-mail
3. Open the verification link in the mail y

[2018-09-13 22:40] PereViki opened #1350 "[$10] Cannot add my consent to make my experience more personal."
**Describe the bug**
I cannot switch on the consent on the My Account page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on the switch at the bottom of the form (User Consent)
3. See error

**Expected behavior**
I should be able to add my consent.

**Screenshots**
<img width="1280" alt="screenshot 2018-09-14 00 38 22" src="http

[2018-09-13 22:46] PereViki opened #1351 "Profile dropdown arrows still point downwards after opening a section on iPhone 6s"
**Describe the bug**
If i open a section on any of the pages the arrow on the right of the section header (e.g. Basic Info, Skill etc.) still point downwards.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info' to open the section
4. See error

**Expected behavior**
When I open a section the arrow should change to an

[2018-09-13 22:48] sdgun opened #1352 "[$30] Invalid profile image format validation is not properly handled"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Info
3. Click Upload a new avatar
4. Browse a text file
5. Check the error and console error

## Actual Result(s)

- Console error displayed when user uploads invalid file format as profile image

## Expected Result(s)

- Invalid profile image format validation is not properly handled

## F

[2018-09-13 22:54] PereViki opened #1353 "Illogic sizing of the dropdowns gender and size on the Basic Info page"
**Describe the bug**
Gender and size are different sizes on desktop. Gender is full size, however, the longest option would fit in if the size was the same as the size of the T-shirt size dropdown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'
3. Scroll down to 'Gender' dropdown
4. See error

**Expected behavior

[2018-09-13 22:56] sdgun opened #1354 "Error displayed when user quickly deletes Subscriptions from the list"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Tools > Subscriptions
3. Add 10 Subscriptions
4. Now delete the Subscriptions one by one by pressing on the Delete button quickly
5. Observe

## Actual Result(s)

- Error displayed when user quickly deletes Subscriptions from the list
- Sometimes you can see the deleted items also re-appearing a

[2018-09-13 22:58] sdgun opened #1355 "[$50] Error displayed when user quickly deletes items from the list"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Tools > Subscriptions/Devices/Software/Service providers
3. Add 10 items to the list
4. Now delete one by one by pressing on the Delete button quickly
5. Observe

## Actual Result(s)

- Error displayed when user quickly deletes items from the list
- Sometimes you can see the deleted items also r

[2018-09-13 22:58] #1354 closed

[2018-09-13 22:59] nqviet opened #1356 "[Mobile, Tablet][Settings - Profile] The error validation message always disappear when scroll up."
**Describe the bug**
After clicking to add a hobby, or skill unsuccessfully. He/she touches to scroll up to see the error message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Hobby, or Skill of Profile tab of Setting page.
2. Click on Add button.
3. Drag up to the top.
4. See that the error validation message disappears immediately.

**Expected behavior**
The error validation messa

[2018-09-13 22:59] PereViki opened #1357 "[$20] After failed saving of Basic info, the 'Save Changes' button label is still 'Save Changes......'"
**Describe the bug**
After a failed save (which has already been reported), the 'Save Changes' button's label remains as the system would still saving: 'Save Changes......'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'
3. Fill in the form
4. Click on 'Save Changes'
5. Close the error message
6. See error

**Expe

[2018-09-13 23:06] sdgun opened #1358 "Subscriptions/Devices/Software/Service providers input forms are displayed at the bottom of the page in Landscape mode"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Tools > Subscriptions/Devices/Software/Service providers
3. Add 10 items to the list
4. Now delete one by one by pressing on the Delete button quickly
5. Observe

## Actual Result(s)

- Subscriptions/Devices/Software/Service providers input forms are displayed at the bottom of the page in Landsc

[2018-09-13 23:06] #1358 closed

[2018-09-13 23:07] sdgun opened #1359 "Subscriptions/Devices/Software/Service providers input forms are displayed at the bottom of the page in Landscape mode"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Landscape]
2. Go to Settings > Tools > Subscriptions/Devices/Software/Service providers
3. Try to add items

## Actual Result(s)

- Subscriptions/Devices/Software/Service providers input forms are displayed at the bottom of the page in Landscape mode

## Expected Result(s)

- Must display at the top of the page (Check the Mo

[2018-09-13 23:09] nqviet opened #1360 "[Settings] Placeholder text should be dim"
**Step To Reproduce**
1. Go to any tab of Settings page
4. See the placeholders of text input controls.

**Expected behavior**
The placeholder texts should be dim.

**Screenshots**
![untitled](https://user-images.githubusercontent.com/36178659/45520687-b6acbb00-b7e4-11e8-8323-4fb5eea25be1.png)

**Environment:** All

[2018-09-13 23:11] sdgun opened #1361 "[$10] Layout issue in the 'Other' icon"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Landscape]
2. Go to Settings > Tools > Service Providers
3. Add a Service Provider; Type=Other
4. Check the icon

## Actual Result(s)

- When user adds Service Providers > Other; icon is not displaying properly

## Expected Result(s)

- Must display the icon properly

## Ref:

@ThomasKranitsas

## Frequency

- 5/5

## Enviro

[2018-09-13 23:18] sdgun commented on #1361
![2018-09-13_18-17-15](https://user-images.githubusercontent.com/4592712/45520953-694b3200-b781-11e8-89cc-174b27b65148.png)

[2018-09-13 23:24] PereViki opened #1362 "[$40] Textbox labels are not aligned properly"
**Describe the bug**
Textbox labels are aligned in a not uniform fashion... sometimes to the bottom, sometimes to the middle of the textbox.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
3. Scroll down to ZIP and Country as there the problem is more prominenet.
4. See error

**Expected behavior**
Textbox labels should be aligned in the

[2018-09-13 23:34] PereViki opened #1363 "[$20] 64 characters password was given, but not that many characters were saved"
**Describe the bug**
I changed my password to the maximum size text the textbox allowed. I got a success message. Then i tried to change it back to the original, but the system gives me an error message for the 64 character long password and it says it is not correct. I will supply a screenshot later, as I used my original password, not a test one.

**To Reproduce**
Steps to reproduce the behavior

[2018-09-13 23:38] PereViki commented on #1363
Seems like I cannot figure out how many characters i have to go backwards to change my password back to original.

[2018-09-13 23:39] PereViki commented on #1363
@ThomasKranitsas

[2018-09-13 23:41] sdgun opened #1364 "[$30] If user uploads a PNG file as their profile picture; image is displayed in black background on the header"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Info
3. Upload a PNG file as the Avatar
4. Check the profile image on the header

## Actual Result(s)

- If user uploads a PNG file as their profile picture; image is displayed in black background on the header

## Expected Result(s)

- Must not display a black background

## Frequency

- 5

[2018-09-13 23:41] PereViki commented on #1363
<img width="1280" alt="screenshot 2018-09-14 01 41 20" src="https://user-images.githubusercontent.com/35376779/45521669-548d8f00-b7bf-11e8-8f8d-a3d712114c3d.png">

[2018-09-13 23:43] sdgun commented on #1352
![2018-09-13_18-43-21](https://user-images.githubusercontent.com/4592712/45521749-f643ba80-b784-11e8-9782-dfab78522876.png)

[2018-09-13 23:44] sdgun commented on #1364
![2018-09-13_18-42-29](https://user-images.githubusercontent.com/4592712/45521756-fd6ac880-b784-11e8-9056-fd145561acdb.png)

[2018-09-13 23:49] sdgun opened #1365 "Calendar also moves when user scroll up/down the page"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Info
3. Click on the 'Birth Date'
4. Scroll the page up/down

## Actual Result(s)

- Calendar also moves when user scroll up/down the page

## Expected Result(s)

- This is not happening in the Chrome browser
- Must not move the Calendar when user scrolls down the page

## Frequency

- 5/5

[2018-09-13 23:49] sdgun commented on #1365
![2018-09-13_18-49-17](https://user-images.githubusercontent.com/4592712/45521906-c5b05080-b785-11e8-9861-9a9464dc5d63.png)

[2018-09-13 23:54] sdgun opened #1366 "[$30] Validation is not properly handled when user enters unexpected date"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Info
3. Click on the 'Birth Date'
4. Enter 09/09/275760
5. Click Save Changes

## Actual Result(s)

- Validation is not properly handled when user enters unexpected date

## Expected Result(s)

- Must display a proper validation message like > Must enter valid date for Birth Date (Like disp

[2018-09-13 23:56] sdgun commented on #1366
[code]

![2018-09-13_18-56-38](https://user-images.githubusercontent.com/4592712/45522127-c5fd1b80-b786-11e8-8518-1e9463be3a4f.png)

[2018-09-14 00:00] nqviet opened #1367 "[Settings - Tool - Devices] 'Your devices' are auto added back"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. Open Devices of Tool tab of Settings page on two separate windows.
2. Delete as many as devices in window-1, and add one device on window-2
3. Refresh window-2, see that the number of devices is so many.
4. Refresh window-1, see that the devices are auto added back.

**Expected behavior**
The page should

[2018-09-14 00:04] PereViki opened #1368 "Error message at password change seems like being covered partly by a white container"
**Describe the bug**
The error message I get when I try to change my password, but I enter incorrect password, the error message I get seems like being covered partly by a white container.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'My Account'
3. Try to change your password but with a wrong original password, so you get

[2018-09-14 00:09] nqviet commented on #1367
Settings -> Tool -> Software, Service Provides, Subscriptions are the same.

[2018-09-14 00:17] sdgun opened #1369 "[$10] Default text 'Description' is not displayed in All caps"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Hobby
3. Scroll down and check the  'Description' field default text

## Actual Result(s)

- Default text 'Description' is not displayed in All caps

## Expected Result(s)

- Must display in all caps because all the other default texts are in All caps

## Frequency

- 5/5

## Environment Details

[2018-09-14 00:20] nqviet opened #1370 "[Settings - Account - My Account] The label 'New password' jumps down when clicking on the input control"
**To Reproduce**
1. Go to My Account of Account tab of Settings page.
2. Click on 'New Password' input control.
4. See that the label 'New Password' jumps down.

**Expected behavior**
The label 'New Password' should align with its input control.

**Screenshots**
![untitled](https://user-images.githubusercontent.com/36178659/45522647-70f4f000-b7ee-11e8-9cfa-c4b9e4324c61.png)

**Environment**: Deskt

[2018-09-14 00:33] PereViki commented on #1363
The new password works for logging back in, but I'm unable to change it.
https://www.screencast.com/t/RArJNFxGk

[2018-09-14 00:35] sdgun opened #1371 "[$15] In error messages extra (,) comma displayed"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Hobby > Click on the Add hobby to your list without data
3. Check the error messages in the Tools > Devices/Software/Service Providers

## Actual Result(s)

- Hobby, Description, cannot be empty
- Type, Model, Manufacturer, Operating system, OS Language, OS Version, cannot be empty
- Type, Name,

[2018-09-14 00:37] sdgun commented on #1371
![2018-09-13_19-35-54](https://user-images.githubusercontent.com/4592712/45523021-643fb000-b78c-11e8-94b1-66eb883cfc0c.png)
![2018-09-13_19-36-06](https://user-images.githubusercontent.com/4592712/45523022-643fb000-b78c-11e8-95d5-4c6c77fb3282.png)
![2018-09-13_19-36-21](https://user-images.githubusercontent.com/4592712/45523023-64d84680-b78c-11e8-92a5-fc9643d0b75a.png)
![2018-09-13_19-36-38](https

[2018-09-14 00:41] sdgun opened #1372 "'TRACKS' changes are saved without clicking on Save changes button"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic info
3. Go to 'TRACKS'
4. Disable/Enable the DESIGN/DEVELOPMENTDATA SCIENCE
5. Now go to another tab
6. Again Go to Settings > Profile > Basic info
7. Check the settings

## Actual Result(s)

- 'TRACKS' changes are saved without clicking on Save changes buttonype, Name, cannot be empty

##

[2018-09-14 00:43] nahidshahin opened #1373 "Placeholder text of Short bio is not all caps"
**To Reproduce**
1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Info
3. Scroll down to `Short bio` field

**Actual behavior**
- Placeholder text of Short bio is not all caps.

**Expected behavior**
- Placeholder text of Short bio is all caps.

**Frequency**
- 5/5

**Screenshots**
![short bio](https://user-images.githubusercontent.com/1224995/45523130-61bf7380

[2018-09-14 00:47] sdgun opened #1374 "[$10] Error message FirstName, LastName, cannot be empty should change to First Name, Last Name, cannot be empty"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic info
3. Delete the first and last names
4. Click Save Changes
5. Check the error message

## Actual Result(s)

- FirstName, LastName, cannot be empty

## Expected Result(s)

- First Name, Last Name, cannot be empty

## Frequency

- 5/5

## Environment Details

All devices

- **Device(s):**

[2018-09-14 00:48] sdgun commented on #1374
![2018-09-13_19-47-33](https://user-images.githubusercontent.com/4592712/45523257-eda3b200-b78d-11e8-9904-c6137b504f36.png)

[2018-09-14 00:49] PereViki opened #1375 "There is no hint text in the birth date textbox on Safari."
**Describe the bug**
There is no hint text in the birth date textbox on Safari, so I don't know what format I should use YYYY/MM/DD or DD/MM/YYYY or MM/DD/YYYY.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'
3. Scroll down to 'Birth Date'
4. See error

**Expected behavior**
There should be a placeholder text/date

[2018-09-14 00:53] PereViki opened #1376 "Date picker is missing for Birth Date on Safari"
**Describe the bug**
There is no date picker for the Birth Date on Safari

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'
3. Scroll down to 'Birth Date'
4. Click into the textbox.
5. See error

**Expected behavior**
There should be a date picker, like in other browsers.

**Screenshots**  What you can see there is

[2018-09-14 00:56] sdgun opened #1377 "Entering the date manually to the field, and click on save will display time on the date field"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic info
3. Enter > 2018/05/05 as DOB
4. Click Save Changes
5. check the DOB field again

## Actual Result(s)

- Entering the date manually to the field, and click on save will display time on the date field
- 2018-05-05T05:00:00.000Z

## Expected Result(s)

- mm/dd/yyyy

## Frequency

- 5/5

#

[2018-09-14 01:08] sdgun opened #1378 "[$50] Community options Turned OFF again when user; turn ON the next item while the popup is there"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Community
3. Turn OFF both the items and wait sometime
4. Now Turn On one item
5. When the popup is displayed; turn On the other one and observe
6. Repeat step 4-5 few times

## Actual Result(s)

- Community options Turned OFF again when user; turn ON the next item while the popup is there

## Ex

[2018-09-14 01:09] nahidshahin opened #1379 "[$20] Same icon for Television & Internet Service Provider"
**To Reproduce**
1. Open the Application and Login as a valid user
2. Go to Settings > Tools > Service Providers
3. Add all four types of services

**Actual behavior**
- Same icon for Television & Internet Service Provider.

**Expected behavior**
- All service icons are different.

**Frequency**
- 5/5

**Screenshots**
![service_icon](https://user-images.githubusercontent.com/1224995/45523822-03948

[2018-09-14 01:10] nqviet opened #1380 "[Settings - Account - My Account] Can't click on outside to hide the validation message"
**To Reproduce**
1. Go to My Account of Account tab of Settings page.
2. Click on 'Send Verification Email' button.
3. The message 'Your email address is not valid' appears.
4. Click on outside
5. See that the message doesn't disappear, user have to click on the input control and click on outside again so that it works.

**Expected behavior**
The validation message should disappear when clicking o

[2018-09-14 01:13] PereViki opened #1381 "[$20] E-mail preferences are not saved properly"
**Describe the bug**
When I change the e-amail preferences and switch back and forth to other sections, the preferences change back.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/preferences'
2. Click on 'E-Mail'
3. Change the settings, then switch back and forth to other sections (e.g. Tools)
4. See error

**Expected behavior**
If the user chan

[2018-09-14 01:14] sdgun opened #1382 "[$20] [Devices] Layout issue in the Error placeholder > "Type, Model, Manufacturer, Operating system, OS Language, OS Version, cannot be empty""
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portraot]
2. Go to Settings > Tools > Devices
3. Click Add Device without filling any data
4. Check the validation message

## Actual Result(s)

- Red background is not displayed fully after Operating System text

## Expected Result(s)

- Must fix the layout issue

## Frequency

- 5/5

## Environment Details

- **Device(s):*

[2018-09-14 01:15] PereViki commented on #1381
Video: http://www.screencast.com/t/NdijSwUK3De

@ThomasKranitsas

[2018-09-14 01:27] sdgun opened #1383 "Layout issue in the Delete web address popup, if we have a long web address"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portraot]
2. Go to Settings > Account > Linked Account
3. Enter URL as HTTP://WWW.THESITEWIZARDACUSTOMDOMAINNAME.COM and Add the external link to the list
4. Click Delete and check the popup

## Actual Result(s)

- Layout issue in the Delete web address popup, if we have a long web address

## Expected Result(s)

- Must disp

[2018-09-14 01:27] PereViki opened #1384 "[$30] After changing my e-mail the password change section disappears"
**Describe the bug**
After changing my e-mail the password change section (the 2 textboxes and the button) disappears

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://community-app.topcoder-dev.com/settings/account'
2. Change your e-mail
3. Click on the verification link in the received e-mail
4. See error

**Expected behavior**
The password changing function should be availabl

[2018-09-14 01:30] nahidshahin opened #1385 "[$10] Layout breaks at Linked Account, no space between Bitbucket and External link account"
**To Reproduce**
1. Open the Application and Login as a valid user
2. Go to Settings > Account > Linked Account
3. Add Stackoverflow, Github, External link and Bitbucket

**Actual behavior**
- No space between Bitbucket and External link account.

**Expected behavior**
- Similar spacing for all account.

**Frequency**
- 5/5

**Screenshots**
![layout_problem](https://user-images.githubusercontent.c

[2018-09-14 01:38] nahidshahin opened #1386 "At Linked Account, on hover styling for External link only"
**To Reproduce**
1. Open the Application and Login as a valid user
2. Go to Settings > Account > Linked Account
3. Add Stackoverflow, Github, External link and Bitbucket
4. Check the on hover styling for External link and other

**Actual behavior**
- Only External link icon changes on hover.

**Expected behavior**
- Similar styling for all.

**Frequency**
- 5/5

**Screenshots**
Before hover

![bef

[2018-09-14 01:40] sdgun commented on #1383
Same can be seen on desktop as well

[2018-09-14 01:42] #1386 closed

[2018-09-14 01:44] sdgun opened #1387 "[$20] Button text is not aligned properly in the popup box"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > Linked Account
3. Add some new external links
4. Click Delete and check the popup button text

## Actual Result(s)

- Button text is not aligned properly in the popup box

## Expected Result(s)

- Must align the button text-vertically

## Frequency

- 5/5

## Environment Details

- **Device(s):**

[2018-09-14 01:48] sdgun commented on #1387
![2018-09-13_20-44-26](https://user-images.githubusercontent.com/4592712/45524900-4e36ed00-b796-11e8-94e8-6573ea055035.png)

[2018-09-14 01:50] sdgun commented on #1347
Desktop also

![2018-09-13_20-48-50](https://user-images.githubusercontent.com/4592712/45524987-b554a180-b796-11e8-8f9c-c217d765594c.png)

[2018-09-14 02:02] PereViki opened #1388 "There is no sign of validation in the Birth Date field"
**Describe the bug**
I can type whatever I wish into the date field of the Basic Info form.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://community-app.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'
3. Scroll down to 'Birth Date' field
4. Start to type, then exit the field.
5. See error... there is no error message at all.

**Expected behavior**
There should be

[2018-09-14 02:08] sdgun opened #1389 "Always displays "Loading data. This will take a few minutes.", nothing changes after waiting few mins"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > linked Account
3. Add a Link > www.google.com
4. Wait5-10min and check the added weblink

## Actual Result(s)

- Always displays "Loading data. This will take a few minutes.", nothing changes after waiting few mins

## Expected Result(s)

- Must remove the info message if it is not applicable to

[2018-09-14 02:24] sdgun opened #1390 "[$10] 'OS version' must display as > OS Version"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Tool > Devices
3. Check the 'OS version' label
4. Compare with other labels

## Actual Result(s)

- OS version

## Expected Result(s)

- OS Version

## Frequency

- 5/5

## Environment Details
- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Operating System:** Windows 7 64bit
- **Browser(s):** Goo

[2018-09-14 02:30] sdgun commented on #1382
![img_0412](https://user-images.githubusercontent.com/4592712/45526288-2ea2c300-b79c-11e8-8f22-5e0806a57e96.PNG)

[2018-09-14 02:31] sdgun commented on #1299
![2018-09-13_21-31-00](https://user-images.githubusercontent.com/4592712/45526360-67429c80-b79c-11e8-9632-4ba885ecbb89.png)

[2018-09-14 02:31] sdgun commented on #1298
![2018-09-13_21-31-001](https://user-images.githubusercontent.com/4592712/45526357-6447ac00-b79c-11e8-96c0-9e56f2684837.png)

[2018-09-14 02:32] PereViki opened #1391 "I could change my e-mail to one that is already used by another user"
**Describe the bug**
I could change my e-mail to one that is already used by another user (my other test profile)

**To Reproduce**
Steps to reproduce the behavior:
You must have 2 accounts to be able to reproduce this bug
1. Go to 'https://www.topcoder-dev.com/settings/account' with one of your accounts
2. Click on 'My Account'
3. Change your e-mail to the same what is registered for your other a

[2018-09-14 02:34] sdgun commented on #1307
![2018-09-13_21-32-10](https://user-images.githubusercontent.com/4592712/45526397-86412e80-b79c-11e8-9d21-bf1b93e1153b.png)

[2018-09-14 02:36] sdgun commented on #1310
[code]

![2018-09-13_21-35-34](https://user-images.githubusercontent.com/4592712/45526523-15e6dd00-b79d-11e8-988c-4b05c3fbc112.png)

[2018-09-14 02:37] sdgun commented on #1311
![2018-09-13_18-19-19](https://user-images.githubusercontent.com/4592712/45526539-272fe980-b79d-11e8-9242-49259c5daeec.png)

[2018-09-14 02:37] sdgun commented on #1312
![2018-09-13_18-13-43](https://user-images.githubusercontent.com/4592712/45526546-2f882480-b79d-11e8-9d28-f997572415a0.png)

[2018-09-14 02:37] sdgun commented on #1313
![2018-09-13_18-23-39](https://user-images.githubusercontent.com/4592712/45526552-3ca51380-b79d-11e8-9f0f-0a0822592c75.png)

[2018-09-14 02:37] sdgun commented on #1314
![2018-09-13_18-24-05](https://user-images.githubusercontent.com/4592712/45526560-43338b00-b79d-11e8-9ef2-7cceebcf34b9.png)

[2018-09-14 02:39] sdgun commented on #1315
![2018-09-13_21-38-43](https://user-images.githubusercontent.com/4592712/45526605-7413c000-b79d-11e8-90d2-35432b9018c4.png)

[2018-09-14 02:47] sdgun commented on #1319
![screencap](https://user-images.githubusercontent.com/4592712/45526866-9fe37580-b79e-11e8-878f-00a1fb48b69b.png)

[2018-09-14 02:48] sdgun commented on #1319
![2018-09-13_21-39-54](https://user-images.githubusercontent.com/4592712/45526891-b5589f80-b79e-11e8-95aa-b55f0dda4fa5.png)

[2018-09-14 02:49] cwdcwd commented on #1252
I'm confused as to what is and what isn't in Community App right now. Is v5 submission API support in or not?

[2018-09-14 02:50] cwdcwd commented on #1308
@suppermancool any interest in this one?

[2018-09-14 02:51] suppermancool commented on #1308
@cwdcwd sorry i'm on another task, and don't have time for this

[2018-09-14 02:56] PereViki opened #1392 "UX issue - The 3 required fields are too far from each other on Basic Info"
**Describe the bug**
The 3 required fields should be closer to each other, so the user would not miss Country easily, as it is below the fold.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'
3. See error

**Expected behavior**
Better information architecture.

**Screenshots**
<img width="1280" alt="screenshot 2018

[2018-09-14 03:03] sdgun opened #1393 "[Common through out the app] Error messages displayed at the top of the page"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Tool > Devices/Software/Service providers
3. Must have few items on those pages
4. Now scroll down and click on Add button without filling data
5. check the validation messages

## Actual Result(s)

- Error messages displayed at the top of the page, not closer to the form

## Expected Result(s)

- Must dis

[2018-09-14 03:03] sdgun commented on #1393
![2018-09-13_22-03-16](https://user-images.githubusercontent.com/4592712/45527380-dde19900-b7a0-11e8-861f-6adb2f476ddc.png)

[2018-09-14 03:11] sdgun opened #1394 "[Common] When the Success message is displaying; drop down values are resetting"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Tool > Service providers (Also in the Devices/Software/Subscription)
3. Add a new item
4. Now select item from the drop down (Type) and type a text in the Provider Name
5. When the validation messages activated check the drop down value

## Actual Result(s)

- When the Success message is displaying; drop d

[2018-09-14 03:18] PereViki opened #1395 "UX Issue - Too much scrolling on long forms on desktop"
**Describe the bug**
On the desktop site scrolling could be reduced a lot if the layout of the fields would let more field in the same row. This would also allow better information architecture/grouping of related elements.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'
3. Scroll down...
4. See error

**Expected

[2018-09-14 03:26] sdgun opened #1396 "Can enter invalid URL to the 'Add a new external link'"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > Linked Account
3. Go to 'Add a new external link' section
4. Enter www.facebook.comwww.facebook.com
5. Check the Link

## Actual Result(s)

- Can enter invalid URL to the 'Add a new external link'

## Expected Result(s)

- Must validate the correct URL format

## Frequency

- 5/5

## Environment

[2018-09-14 03:26] sdgun commented on #1396
![2018-09-13_22-26-40](https://user-images.githubusercontent.com/4592712/45528042-1df64b00-b7a4-11e8-9d6e-f717e2dd1125.png)

[2018-09-14 03:29] PereViki opened #1397 "UX/accessibility Issue - Cannot reach the track switches with tab on Basic Info"
**Describe the bug**
All affordances should be available through tabbing through the site, however, track switches cannot be reached from the keyboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Tab through the page
3. See error

**Expected behavior**
The user should be able to set the tracks from the keyboard.

**Screenshots**
ht

[2018-09-14 03:32] PereViki opened #1398 "UX/accessibility Issue - Cannot reach the community switches with tab on Community"
**Describe the bug**
All affordances should be available through tabbing through the site, however, community switches cannot be reached from the keyboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Community'
3. Tab through the page
4. See error

**Expected behavior**
The user should be able to set the communities from

[2018-09-14 03:36] sdgun opened #1399 "Layout issue in the 'Change Password' button"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > Account
3. Check the 'Change Password' button

## Actual Result(s)

- Layout issue in the 'Change Password' button text is not aligned vertically

## Expected Result(s)

- Must align the text vertially with equal amount of spcaces from the top and bottom

## Frequency

- 5/5

## Environment Detai

[2018-09-14 03:36] sdgun commented on #1399
![2018-09-13_22-36-30](https://user-images.githubusercontent.com/4592712/45528359-7f6ae980-b7a5-11e8-9696-8a62e1e51eab.png)

[2018-09-14 03:39] sdgun opened #1400 "[$20] Large empty spaces can be seen at the bottom of the 'Account' page"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > Account
3. Scroll down the page and check

## Actual Result(s)

- Large empty spaces can be seen at the bottom of the 'Account' page

## Expected Result(s)

- Must reduce the white space, All the other pages won't have large empty spaces at the bottom

## Frequency

- 5/5

## Environment Details

[2018-09-14 03:39] PereViki opened #1401 "UX/accessibility Issue - Cannot reach the User Consent switches with tab on My Account"
**Describe the bug**
All affordances should be available through tabbing through the site, however, the User Consent  switch cannot be reached from the keyboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'My Account'
3. Tab through page
4. See error

**Expected behavior**
The user should be able to set the User Consent f

[2018-09-14 03:40] sdgun commented on #1400
![2018-09-13_22-39-52](https://user-images.githubusercontent.com/4592712/45528474-fdc78b80-b7a5-11e8-896a-c0f8213dbfba.png)

[2018-09-14 03:43] sdgun opened #1402 "Some HTTPS sites can't added as Web Links"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > Linked Account
3. Enter > https://www.google.com as the External Link
4. Press ENTER
5. Enter > https://www.topcoder.com as the External Link
6. Press ENTER

## Actual Result(s)

- Some HTTPS sites can't added as Web Links

## Expected Result(s)

- Must able to add any HTTPS site

## Frequency

-

[2018-09-14 03:45] PereViki opened #1403 "UX/accessibility Issue - Cannot reach the accounts buttons switches with tab on Linked Account"
**Describe the bug**
All affordances should be available through tabbing through the site, however, account buttons (Github, Behance etc.) buttons cannot be reached from the keyboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Linked Account'
3. Tab through page
4. See error

**Expected behavior**
The user should be able

[2018-09-14 03:46] sdgun commented on #1402
Browser(s): Google Chrome 69.0.3497.92 (Official Build) (64-bit)

[code]

![2018-09-13_22-44-13](https://user-images.githubusercontent.com/4592712/45528618-b7bef780-b7a6-11e8-83a2-a7f48aa897c2.png)
![2018-09-13_22-44-55](https://user-images.githubusercontent.com/4592712/45528619-b8578e00-b7a6-11e8-8d2d-9a92ed1e9380.png)

[2018-09-14 03:50] PereViki opened #1404 "UX/accessibility Issue - Cannot reach the newsletter switches with tab on E-mail preferences"
**Describe the bug**
All affordances should be available through tabbing through the site, however, newslettes switches cannot be reached from the keyboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/preferences'
2. Click on 'E-mail'
3. Tab through the page.
4. See error

**Expected behavior**
The user should be able to set the newsletters fr

[2018-09-14 03:58] shivaprasad1 opened #1405 "UX Issue, not able to reach profile page"
**Describe the bug**
UX Issue, not able to reach profile page,  "ERROR: Failed to load RSS feed" is displayed after logging in

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new ID
2. Login Using User name and Password
3. Click on Profile page icon

**Expected behavior**
Profile page should be displayed

**Screenshots**
[Topcoder error.docx](https://github.com/topcoder-platform/com

[2018-09-14 03:59] PereViki opened #1406 "UX/accessibility Issue - There is no adequate feedback of cycling through the page with the tab key"
**Describe the bug**
All the tab stops should be clearly indicated on the UI, however,the navigation elements does not have any feedback about being selected (like the links in the footer for example has a feedback). Note: the elements actually get selected and can be triggered by shift.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2.

[2018-09-14 04:10] sdgun opened #1407 "External Link default text is wrong"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > Linked Account
3. Check the default text of External Link field

## Actual Result(s)

- HTTP.//WWW.YOURLINK.COM

## Expected Result(s)

- HTTP://WWW.YOURLINK.COM

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Operating System:** Windows 7 64

[2018-09-14 04:11] sdgun commented on #1407
![2018-09-13_23-10-48](https://user-images.githubusercontent.com/4592712/45529355-5567f600-b7aa-11e8-8d4c-314aa75cf27b.png)

[2018-09-14 04:37] PereViki opened #1408 "Orientation change from portrait to landscape on iPad crashes the layout."
**Describe the bug**
When I turn my device from portrait to landscape the layout totally crushes. The side navigation gets to the right side, and the dropdown section navigation is also on the screen: see the screenshots.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile' on iPad in portrait mode
2. Turn the device to landscape mode
4. See e

[2018-09-14 04:45] sdgun opened #1409 "Add a Link option is not displayed in Landscape mode"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Account > Linked Account
3. Scroll down to the bottom
4. Go to Landscape mode and check the Add a Link option

## Actual Result(s)

- Add a Link option is not displayed in Landscape mode

## Expected Result(s)

- Must display the Add a Link option at the bottom of the page

## Frequency

- 5/5

[2018-09-14 04:49] PereViki opened #1410 "Orientation change from portrait to landscape on iPad changes the sort of the fields on Basic Info!"
**Describe the bug**
When I turn my device from portrait to landscape view the form fields change their place. E.g. the 'Short Bio' goes from being the 3rd field to be the last field on the form. Gender and T-Shirt size also change place.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'
3. Turn your device from por

[2018-09-14 04:54] sdgun opened #1411 "[$30] Change Email and Password fields hides when user go to the Landscape mode"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Account > Account
3. Change the orientation to Landscape
4. Check the view

## Actual Result(s)

- Change Email and Password fields hides when user go to the Landscape mode

## Expected Result(s)

- Must display the Change Email and Password fields

## Frequency

- 5/5

## Environment Details

-

[2018-09-14 04:55] PereViki opened #1412 "Orientation change from portrait to landscape on iPad changes the sort of the elements on Linked account!"
**Describe the bug**
When I turn my device from portrait to landscape view the labels and content changes place. There are two headers, then the content.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Linked Account'
3. Change orientation
4. See error

**Expected behavior**
Elements should not change places.

**Screenshots**

[2018-09-14 04:56] PereViki commented on #1412
Video of orientation change
https://www.screencast.com/t/OgPMJzuw

[2018-09-14 04:58] sdgun opened #1413 "[$20] Not all the links are opening when user tap on anywhere in the Link section"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Account > Linked Account
3. Scroll down to the bottom
4. Add some Links
5. Gmail[HTTP://WWW.GMAIL.COM], GitHub [HTTP://GITHUB.COM], Youtube [HTTPS://WWW.YOUTUBE.COM], Twitter[HTTP://TWITTER.COM],
6. Wait some time to sync
7. Now tap on the Gmail, twitter links

## Actual Result(s)

- Not all the

[2018-09-14 05:04] sdgun opened #1414 "[$30] Tools Page elements are mixed when user switch the page orientation from Portrait to Landscape in Tools"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Tools > Devices/Software/Service Provider/Subscriptions
3. Expand one of the above sections
4. Go to Lndscape mode
5. Check the layout, elements are mixed

## Actual Result(s)

- Not all the links are opening when user tap on anywhere in the Link section

## Expected Result(s)

- Must open all t

[2018-09-14 05:06] sdgun commented on #1414
Browser(s): Firefox NOT **Safari 11**

[2018-09-14 05:08] PereViki opened #1415 "No 'Delete Avatar' button in portrait mode on iPad"
**Describe the bug**
There is only a 'Browse' button beside the Profile image (that doesn't show up in portrait mode) but the 'Delete Avatar' button is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'
3. Turn the device from landscape to portrait and back.
4. See error

**Expected behavior**
The same conte

[2018-09-14 05:13] PereViki commented on #1300
@ThomasKranitsas

[2018-09-14 05:13] PereViki commented on #1302
@ThomasKranitsas

[2018-09-14 05:13] PereViki commented on #1306
@ThomasKranitsas

[2018-09-14 05:13] PereViki commented on #1309
@ThomasKranitsas

[2018-09-14 05:13] PereViki commented on #1317
@ThomasKranitsas

[2018-09-14 05:14] PereViki commented on #1318
@ThomasKranitsas

[2018-09-14 05:14] PereViki commented on #1320
@ThomasKranitsas

[2018-09-14 05:14] PereViki commented on #1323
@ThomasKranitsas

[2018-09-14 05:14] PereViki commented on #1324
@ThomasKranitsas

[2018-09-14 05:14] PereViki commented on #1326
@ThomasKranitsas

[2018-09-14 05:14] PereViki commented on #1329
@ThomasKranitsas

[2018-09-14 05:15] PereViki commented on #1331
@ThomasKranitsas

[2018-09-14 05:15] PereViki commented on #1334
@ThomasKranitsas

[2018-09-14 05:15] PereViki commented on #1336
@ThomasKranitsas

[2018-09-14 05:15] PereViki commented on #1338
@ThomasKranitsas

[2018-09-14 05:15] PereViki commented on #1339
@ThomasKranitsas

[2018-09-14 05:15] PereViki commented on #1340
@ThomasKranitsas

[2018-09-14 05:15] sdgun commented on #1414
https://cl.ly/64a080d5019c

[2018-09-14 05:15] PereViki commented on #1342
@ThomasKranitsas

[2018-09-14 05:15] PereViki commented on #1349
@ThomasKranitsas

[2018-09-14 05:16] sdgun commented on #1411
https://cl.ly/43338547f285

[2018-09-14 05:16] PereViki commented on #1353
@ThomasKranitsas

[2018-09-14 05:16] PereViki commented on #1362
@ThomasKranitsas

[2018-09-14 05:16] PereViki commented on #1375
@ThomasKranitsas

[2018-09-14 05:18] sdgun commented on #1413
https://cl.ly/56f3a0d6cd96

[2018-09-14 05:20] sdgun commented on #1409
https://cl.ly/2a3d62ea8987

[2018-09-14 05:35] sdgun opened #1416 "Clear button in the Date time picker box is not working"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Profile > Basic Info
3. Tap on Birth Date
4. Set a Date
5. Tap on the Birth Date again
6. Tap Clear

## Actual Result(s)

- Clear button in the Date time picker box is not working

## Expected Result(s)

- Must clear the date

## Frequency

- 5/5

## Environment Details

- **Device(s):** iPad Ai

[2018-09-14 05:39] PereViki opened #1417 "Selected options are not maintained on orientation change iPad"
**Describe the bug**
I select my gender and my T-Shirt size in portrait mode on 'Basic Info' on iPad. Then I turn the device to landscape mode, and my data is gone from the dropdowns.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile' in portrait mode on iPad
2. Click on 'Basic Info'
3. Select your gender and T-Shirt size.
4. Rotate your dev

[2018-09-14 06:52] RiteshTC commented on #1295
@ThomasKranitsas We don't have the network response, as it has been reported by members.
We are not able to consistently reproduce the issue, but it does seem to occur at times.
Most likely it related to authorization or gateway timeouts.

[2018-09-14 07:03] Neha-2208 opened #1418 "Footer text is not aligned properly in mobile"
**Describe the bug**
Footer text is not aligned properly in mobile

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/tools'
2. Scroll down to Footer Section
4. Observe text is not aligned prpoerly

**Expected behavior**
Text should be properly aligned

**Screenshots**
![image](https://user-images.githubusercontent.com/20572731/45534780-df9b7300-b819

[2018-09-14 07:14] Neha-2208 opened #1419 "Delete Avatar button not working"
**Describe the bug**
After uploading avatar, when I am clicking on 'Delete Avatar' nothing is happening. The avatar is not getting removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder-dev.com/settings/profile
2. Click on Upload Avatar button. An avatar will be uploaded
3. Now, click on 'Delete Avatar' button
4. See error, the avatar is not getting deleted/remov

[2018-09-14 10:13] soumya42 opened #1420 "Minor Bug"
![screenshot 2](https://user-images.githubusercontent.com/43261897/45543729-e97da000-b832-11e8-8801-765e0ec4be4f.png)
1- Login with valid credntials.
2-Goto Settings->Devices->Tolls.
3-Click on "Add device to your list" Button without any data.
4-The validation error will show("Type, Model, Manufacturer, Operating system, OS Language, OS Version, cannot be empty") , which is not in sequential orde

[2018-09-14 12:28] DooMachine opened #1421 "Login And Join button not working on mobile"
**Describe the bug**
Cannot click/redirect to login and join buttons when layout is mobile.
**To Reproduce**
Steps to reproduce the behavior:
1. Go incognito mode.
2. Open topcoder.com
3. Click on menu icon at right top
4. Clicking Login or Join does nothing

**Expected behavior**
Redirect to login/account page.
**Screenshots**

![repro image](https://user-images.githubusercontent.com/8035984/4554

[2018-09-14 12:30] #1421 closed

[2018-09-14 13:16] cwdcwd commented on #1308
go for it @sumitdaga !

[2018-09-14 13:17] cwdcwd commented on #1308
pls submit PR against [this branch](https://github.com/topcoder-platform/community-app/tree/1308_finalFixSupport)

[2018-09-14 14:21] ThomasKranitsas opened #1422 "Remove lazy-load from the review opportunity listing page"
The review opportunities are always <50 and the lazy-load makes the page hard to use.

Update the code so it fetches all review opportunities at once.

[2018-09-14 14:27] sdgun opened #1423 "Date format stored in IE is completely different"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Profile
3. Enter 02/25/1980 to DOB
4. Click Save changes and observe

## Actual Result(s)

- Date format stored in IE is completely different and stored as yyyy/mm/dd

## Expected Result(s)

- Must display as mm/dd/yyyy

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
-

[2018-09-14 14:27] sdgun commented on #1423
![2018-09-14_9-23-33](https://user-images.githubusercontent.com/4592712/45556264-70655500-b800-11e8-84b8-18e12c19d1fb.png)

[2018-09-14 14:43] sdgun commented on #1378
In Desktop also

https://www.screencast.com/t/uVd5x2Xq

[2018-09-14 15:04] sdgun commented on #1394
https://cl.ly/026fa64d16e0

[2018-09-14 15:07] sumitdaga commented on #1308
@cwdcwd @thomaskranitsas

Only the first placement can ever do final fixes right?

[2018-09-14 15:33] sdgun commented on #1346
![issue1](https://user-images.githubusercontent.com/4592712/45560007-9511fa80-b809-11e8-8911-472507fa8f23.png)

[2018-09-14 15:34] sdgun commented on #1335
![issue2](https://user-images.githubusercontent.com/4592712/45560084-c4c10280-b809-11e8-9f05-6eca6f02524b.png)

[2018-09-14 15:41] sdgun commented on #1333
![2018-09-14_10-41-10](https://user-images.githubusercontent.com/4592712/45560465-c4753700-b80a-11e8-96f5-552cdd7f8c02.png)

[2018-09-14 15:45] sdgun commented on #1321
![issue](https://user-images.githubusercontent.com/4592712/45560626-4b2a1400-b80b-11e8-9f2d-e69db7b19af9.png)

[2018-09-14 16:01] sdgun commented on #1322
Compare with the Profile > Hobby and Tools > Subscription

![issue_20180914_110025](https://user-images.githubusercontent.com/4592712/45561493-875e7400-b80d-11e8-961f-31bc8b6609ee.png)
![issue_20180914_110041](https://user-images.githubusercontent.com/4592712/45561494-875e7400-b80d-11e8-9ab0-8e8608413f26.png)
![issue_20180914_105957](https://user-images.githubusercontent.com/4592712/45561496-875e7

[2018-09-14 16:03] sdgun commented on #1328
In Both Orientations;

![issue_20180914_110249](https://user-images.githubusercontent.com/4592712/45561648-da382b80-b80d-11e8-88c9-a62a0373812d.png)
![issue_20180914_110305](https://user-images.githubusercontent.com/4592712/45561649-da382b80-b80d-11e8-86e2-9829371c57c2.png)
![issue_20180914_110316](https://user-images.githubusercontent.com/4592712/45561650-da382b80-b80d-11e8-9c64-cf017c059841.png)

[2018-09-14 16:07] sdgun commented on #1341
![2018-09-14_11-04-23](https://user-images.githubusercontent.com/4592712/45561859-57fc3700-b80e-11e8-9ae0-12dd10830b5d.png)

[2018-09-14 16:26] sdgun opened #1424 "'Select All' displayed when user tap on the Expand/Collapse icons in Subscriptions/Devices/Software/Service providers"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Tools
3. Tap on any Expand/Collapse icon in the Subscriptions/Devices/Software/Service providers

## Actual Result(s)

- 'Select All' displayed when user tap on the Expand/Collapse icons in Subscriptions/Devices/Software/Service providers

## Expected Result(s)

- Must not display the 'Select Al

[2018-09-14 16:27] sdgun commented on #1424
![issue_20180914_112500](https://user-images.githubusercontent.com/4592712/45562822-17ea8380-b811-11e8-8060-db5fd2b64a5d.png)

[2018-09-14 17:47] sdgun opened #1425 "Extra characters displayed on the Date when user is saving the changes"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Profile
3. Enter 02/25/1980 to DOB
4. Click Save changes
5. While saving check the date field

## Actual Result(s)

- Extra characters displayed on the Date when user is saving the changes

## Expected Result(s)

- Must display only the date

## Frequency

- 5/5

## Environment Details

- *

[2018-09-14 17:48] sdgun commented on #1425
https://www.screencast.com/t/GOG29FUFmb

[2018-09-14 18:10] sdgun opened #1426 "[$20] Layout issue in the Weblink placeholders if the content is long"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Account > Linked Account
3. Enter some long domain names (HTTP://WWW.SELFASSEMBLYSITES.COM, HTTP://WWW.ENTREPRENEUR.COM)
4. Check the list in Portrait view

## Actual Result(s)

- Layout issue in the Weblink placeholders if the content is long

## Expected Result(s)

- Must have a fixed width fo

[2018-09-14 18:10] sdgun opened #1427 "[$20] Full website link is not displayed inside the Weblink placeholders (if the links are long)"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Account > Linked Account
3. Enter some long domain names (HTTP://WWW.SELFASSEMBLYSITES.COM, HTTP://WWW.ENTREPRENEUR.COM)
4. Check the link

## Actual Result(s)

- Full website link is not displayed inside the Weblink placeholders (if the links are long)

## Expected Result(s)

- Must use ellipsi

[2018-09-14 18:12] sdgun commented on #1426
The icons with gray background section is different from item to item

![issue_20180914_131129](https://user-images.githubusercontent.com/4592712/45567572-cb5a7480-b81f-11e8-8341-b674686952cc.png)

[2018-09-14 18:13] sdgun commented on #1427
![issue_20180914_131112](https://user-images.githubusercontent.com/4592712/45567632-f0e77e00-b81f-11e8-98bf-c250673ed0bf.png)

[2018-09-14 18:27] ajefts commented on #1308
correct @sumitdaga .  only 1st place can do final fix (at least in today's world).

[2018-09-14 18:45] sdgun opened #1428 "Button placement issue in the 'Add Link' button"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Portrait]
2. Go to Settings > Account > Linked Account
3. Check the blue Add link button

## Actual Result(s)

- Button placement issue in the 'Add Link' button; Do not have equal spaces from the left/right

## Expected Result(s)

- Must have equal spaces from the left and right as other buttons

## Frequency

- 5/5

## Envi

[2018-09-14 18:46] sdgun commented on #1428
![issue_20180914_132244](https://user-images.githubusercontent.com/4592712/45569243-9270ce80-b824-11e8-8636-a2703e59dcf6.png)

[2018-09-14 19:10] sdgun opened #1429 "'T-shirt size' drop down default text must change to "Select your size from the list""
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Info
3. Check the 'T-shirt size' drop down default text

## Actual Result(s)

- Select your size from chart

## Expected Result(s)

- Select your size from the list

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Operating System:** Win

[2018-09-14 19:11] sdgun commented on #1429
![2018-09-14_14-11-11](https://user-images.githubusercontent.com/4592712/45570377-17a9b280-b828-11e8-9c15-c13d5fba5c1c.png)

[2018-09-14 19:20] sdgun opened #1430 "Can use 'Primary Email' as the 'New Email' in Username & Password"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > My Account
3. Enter the exisitng email (Primary Email) to the New Email field
4. Click Send Verification Email
5. Wait for the email

## Actual Result(s)

- Can use 'Primary Email' as the 'New Email' in Username & Password

## Expected Result(s)

- Must validate the email whether the user is usin

[2018-09-14 19:23] PereViki opened #1431 "Upon saving Basic Info, the UI freezes for an unreasonable time"
**Describe the bug**
When I try to save Basic Info, with an invalid date of birth (not sure that tis is the reason) the UI freezes for a long time, so the user might think that he needs to refresh. Even the cursor remains in a hover state.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'
3. Fill in 'Birth Date' wit

[2018-09-14 19:25] sdgun opened #1432 "Changed email is not displayed on the page when user navigates to the page from email link"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > My Account
3. Click Change Email
4. Enter sdgun@qa.com
5. Wait for the email and click on the Link
6. In the success page click on the button 'Back to the Account'
7. Check the 'Primary Email' (Displayed the old one)

## Actual Result(s)

- Changed email is not displayed on the page when user nav

[2018-09-14 19:28] sdgun opened #1433 "[$10] 'Delete Avatar' button Layout issue"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Info
3. Check the 'Delete Avatar' button

## Actual Result(s)

- 'Delete Avatar' button text is not aligned properly

## Expected Result(s)

- Should align the text vertically

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Operating Sy

[2018-09-14 19:29] sdgun commented on #1433
Small issue can be seen on the 'Upload a new avatar' button as well

![2018-09-14_14-28-39](https://user-images.githubusercontent.com/4592712/45571038-8f78dc80-b82a-11e8-82ef-118ec037f91a.png)

[2018-09-14 19:31] sdgun commented on #1432
![2018-09-14_14-29-59](https://user-images.githubusercontent.com/4592712/45571127-d8c92c00-b82a-11e8-879f-23ef59395039.png)

[2018-09-14 19:34] PereViki opened #1434 "Basic Info Primary interest field changes upon orientation change on iPad"
**Describe the bug**
Basic Info Primary interest field changes upon orientation change on iPad. Both the label of the textbox and the hint text is different if we rotate the device.'Primary interests' becomes 'Primary Interest of Topcoder'. The meaning is different.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'

[2018-09-14 19:45] PereViki opened #1435 "Verification of the external link of Linked Account fails on iPad"
**Describe the bug**
If I type Www.hu to the textbox the system let me save the invalid link.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Linked Account'
3. Start to type 'Www.hu'
4. See error

**Expected behavior**
Invalid urls should not be saved.

**Screenshots**
![img_0526](https://user-images.githubusercontent.com/35

[2018-09-14 19:50] PereViki opened #1436 "[$10] Add external link textbox is set to sentence case on iPad"
**Describe the bug**
When I start to type into the external link textbox, the input starts with an uppercase letter, which is not adequate for urls.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Linked Account'
3. Start to fill the 'External Link' textbox
4. See error

**Expected behavior**
The input should be lowercase.

*

[2018-09-14 19:54] sumitdaga commented on #1308
@cwdcwd
as for the second point -- not send the submissionPhaseId at all and allow the API to determine it at POST time (currently the form is sending null for submissionPhaseId, which is incorrect)

as far i could understand the submit form is not sending submissionPhaseId at all ....
please correct me if i am wrong!

[2018-09-14 19:56] PereViki opened #1437 "[$10] New e-mail adderss textbox is set to sentence case"
**Describe the bug**
If I try to change my e-mail address, the input will start with an uppercase letter, which is not adequate for email addresses.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'Change e-mail'
3. Start type your new e-mail
4. See error

**Expected behavior**
The new e-mail address should start with a lowerc

[2018-09-14 20:01] PereViki opened #1438 "[$20] Inadequate error message at changing my e-mail when e-mail is empty"
**Describe the bug**
When i try to change my e-mail, but leave the new e-mail textbox empty, and try to save it, what I get is not an error message, but just a message, that says that my e-mail is not valid, however, it is not invalid, but empty. This message should be the same as the other field error messages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.

[2018-09-14 20:05] sdgun opened #1439 "Can't scroll the form down after user changes some values in the address fields"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Landscape]
2. Go to Settings > Profile > Basic Info
3. Scroll down and delete the text in the Address/Address 2
4. Scroll the form down

## Actual Result(s)

- Can't scroll the form down after user changes some values in the address fields

## Expected Result(s)

- User must able to scroll down the form

## Frequency

- 5/5

[2018-09-14 20:10] sdgun opened #1440 "[Common in All locations] Tapping on the drop down won't focus that field in the visible screen area like textboxes"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Landscape]
2. Go to Settings > Profile > Basic Info
3. Scroll down and tap on T Shirt size or Country drop down
4. Observe > User needs to scroll down to find the drop down
5. Tap on a text box and observe

## Actual Result(s)

- Tapping on the drop down won't focus that field in the visible screen area like textboxes

## Ex

[2018-09-14 20:16] sdgun opened #1441 "Hobby form fields (Hobby, Description) are too short; compared to other locations"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Landscape]
2. Go to Settings > Profile > Hobby
3. Check the form fields (Hobby, Description)

## Actual Result(s)

- Hobby form fields (Hobby, Description) are too short; compared to other locations

## Expected Result(s)

- Must spread the text fields across the view so that user can have more space to work with, like in th

[2018-09-14 20:19] PereViki opened #1442 "Overall the feedback system is not following a uniform approach"
**Describe the bug**
There are 3 types of error messages and an additional success message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Feedback system should follow a uniform approach. Error/success messages should be shown in the same manner. For inline form validation there should be an additio

[2018-09-14 20:21] sdgun opened #1443 "Tools [Devices/Software/Service Providers/Subscriptions] form fields are too short"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Landscape]
2. Go to Settings > Tools > Devices/Software/Service Providers/Subscriptions
3. Check the form fields

## Actual Result(s)

- Tools [Devices/Software/Service Providers/Subscriptions] form fields are too short compared to Desktop
- Because there is more space in the landscape view, better to have larger input field

[2018-09-14 20:25] PereViki opened #1444 "[$10] Failing to fill in the required fields on Basic Info triggers duplicate error messages on iPad"
**Describe the bug**
When I 'accidentally' try to save the Basic Info form with the required fields empty, the error message shows twice. Above the profile picture and below the profile picture.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'
3. Without filling in anything, try to save the form
4. See error

**Exp

[2018-09-14 20:25] sdgun opened #1445 "Tapping on the 'Show' checkbox must not display the validation info popup"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Landscape]
2. Go to Settings > Account > My Account
3. Scroll down and click on the 'New password'; Show checkbox

## Actual Result(s)

- Tapping on the 'Show' checkbox is displaying the validation info popup

## Expected Result(s)

- Tapping on the 'Show' checkbox must not display the validation info popup

## Frequency

-

[2018-09-14 20:35] PereViki opened #1446 "[$15] Section divider line is missing under 'My Account' section"
**Describe the bug**
There is no clear divider line under the 'My Account' form on iPad. An example to the divider is at the end of the 'Basic Info' form, before the 'Skill' section header.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'My Account'
3. Scroll down to the bottom of the form.
4. See error

**Expected behavior**

[2018-09-14 20:39] sdgun opened #1447 "First Name and Last name fields are automatically filled out when user tap on the Save Changes button after deleting it"
## Steps to Reproduce

1. Open the Application and Login as a valid user [Landscape]
2. Go to Settings > Profile > Basic Info
3. Remove the First Name and Last name fields data
4. Tap Save Changes
5. You can see Success message; scroll up and check the fields

## Actual Result(s)

- First Name and Last name fields are automatically filled out when user tap on the Save Changes button after deleting

[2018-09-14 20:56] PereViki opened #1448 "[$20] Upon refreshing the page some cut off text is shown in the place of the profile image."
**Describe the bug**
When I refresh the Basic Info page on Firefox, before the profile picture is being loaded some cut of text is shown ('er') in the place of the image.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'
3. Refresh the page
4. See error

**Expected behavior**
There should be no text in the place of

[2018-09-14 21:01] PereViki opened #1449 "[$20] 'E-mail' and 'Email' labels are both used on the same UI"
**Describe the bug**
'E-mail' and 'Email' labels are both used on the same UI besides each other, which is not uniform.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/preferences'
2. Click on 'E-mail'
3. See error

**Expected behavior**
The labels for the same thing should follow the same form, should be the same. Either Email or E-mail.

**Scree

[2018-09-14 21:05] PereViki opened #1450 "[$40] No way of cancelling the e-mail change process."
**Describe the bug**
If I click on 'Change Email' on the My Account page, there is no way of closing the changing option if I reconsider changing my e-mail. This creates a danger case.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'My Account'
3. Click on 'Change Email'
4. See error

**Expected behavior**
The user should be

[2018-09-14 21:10] NehaSharma02 opened #1451 "[$15] User Interface bug in Firefox 62.0 browser on Linux Mint 18"
The height of the button named 'Add Hobby to your list" is not proper.

The link: https://www.topcoder.com/settings/profile

UI bug screenshot is attached.
![selection_674](https://user-images.githubusercontent.com/37835397/45575346-d4375e80-b890-11e8-9b90-1b79d4eca2d8.png)

Please check and fix.

@birdofpreyru
cc @ajefts

[2018-09-14 21:10] PereViki opened #1452 "[$30] It is allowed to change my password to the same password."
**Describe the bug**
It is allowed to change my password to the same password. The success message says it has updated my information, however, the information was the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'My Account'
3. Fill in the change password form with the same values.
4. Save changes.
5. See error

**Ex

[2018-09-14 21:19] sdgun opened #1453 "[$15] 'Create New Email' default text must change to 'New Email'"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > My Account
3. Click Change Email
4. Check the default text of the 'New Email' field

## Actual Result(s)

- 'Create New Email'

## Expected Result(s)

- 'New Email'

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Operating System:** Windows 7

[2018-09-14 21:24] sdgun opened #1454 "[$40] Error message won't hide when user goes to another tab and come back"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > My Account
3. Enter 123456789 to Password field
4. Enter 8978973834YU$ to New password field
5. Click Change Password
6. Check the error message "Your current password is incorrect. Please check that you entered the right one."
7. Click 'Linked Account'
8. Click 'My Account'
9. Check the error me

[2018-09-14 21:27] PereViki opened #1455 "[$30] Clicking on Change Password once does not change the password"
**Describe the bug**
Clicking on Change Password once does not change the password, only close the validation message. The user has to click on the button twice to save the new password.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'My Account'
3. Fill in te old and the new password and click on 'Change Password'
4. See err

[2018-09-14 21:28] PereViki opened #1456 "After changing the password once, the user cannot change it once again"
**Describe the bug**
After changing the password once, the user cannot change it once again, as the Chnage password button emains disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/account'
2. Click on 'My Account'
3. Fill in te old and the new password and click on 'Change Password' twice.
4. Try to change your password again.
4. See error

[2018-09-14 21:28] PereViki commented on #1456
Please ignore smartphone

[2018-09-14 21:37] sdgun opened #1457 "[$20] Size of the 'Change Password' button enable and disable states are different"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > My Account
3. Enter 123456789 to Password field
4. Enter 8978973834YU$ to New password field
5. Check the 'Change Password' button
6. Delete the text in the 'New password'
7. Check the 'Change Password' button

## Actual Result(s)

- 'Change Password' disable states button is larger than the enab

[2018-09-14 21:38] sdgun commented on #1457
https://www.screencast.com/t/bVcMWxw6

[2018-09-14 21:40] PereViki opened #1458 "There is a 403 error on load of pages"
**Describe the bug**
Loading any page triggers a 403 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Open the inspector and see the network messages upon refresh.
3. See error

**Expected behavior**
There should be no error.

**Screenshots**
https://www.screencast.com/t/OfxBjyqmdu

**Desktop: MacBook Pro**
 - OS: Mac OS High Sie

[2018-09-14 21:42] sdgun opened #1459 "Error displayed when user click on 'Preferences'"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Preferences

## Actual Result(s)

- 404 HTTP Error

## Expected Result(s)

- Must not display an error

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Operating System:** Windows 7 64bit
- **Browser(s):** Google Chrome 69.0.3497.92 (Official Build) (64

[2018-09-14 21:43] sdgun commented on #1459
[code]

https://www.screencast.com/t/TAKjnJudo

[2018-09-14 21:48] sdgun opened #1460 "'Preferences' tab is inaccessible when user changes the email to a non-existing one"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > My Account
3. Change the email to a non-existing one like sdgun@sdgun.com
4. Go to Primary email and approve the change
5. Go to 'Preferences' tab

## Actual Result(s)

- 'Preferences' tab is inaccessible when user changes the email to a non-existing one

## Expected Result(s)

- Must validate th

[2018-09-14 21:51] sdgun opened #1461 "Long time taken to reach the verification email; sometime it won't some in the first instance/even in the second"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > My Account
3. Change the email to a another one
4. Click 'Send Verification Email' button
5. Check your email
6. After waiting for 5min click on the 'Send Verification Email again' button
7. Observe

## Actual Result(s)

- Long time taken to reach the verification email; sometime it won't some in

[2018-09-14 21:58] sdgun opened #1462 "Must validate the new email address as well when changing the email"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Account > My Account > Change Email
3. Change the email to non-existing one
4. Click 'Send Verification Email' button
5. Go to your working (Primary email) and click on the link to approve the process
6. After that go to Settings > Account > My Account
7. Your newly added non-existing email is there
8. Cli

[2018-09-14 23:05] sdgun commented on #1460
https://www.screencast.com/t/pGicRc1jc

[2018-09-14 23:06] sdgun commented on #1462
![2018-09-14_18-05-36](https://user-images.githubusercontent.com/4592712/45578721-dc6bab80-b848-11e8-8948-86af41080007.png)

[2018-09-14 23:10] sdgun opened #1463 "[$20] Layout issue in the 'Add subscription to your list' button"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Tools > Subscriptions
3. Check the 'Add subscription to your list' button

## Actual Result(s)

- Layout issue in the 'Add subscription to your list' button

## Expected Result(s)

- Must have equal spaces from the top and bottom

## Ref:

@ThomasKranitsas

## Frequency

- 5/5

## Environment Details

- **

[2018-09-14 23:11] sdgun commented on #1463
![2018-09-14_18-11-01](https://user-images.githubusercontent.com/4592712/45578849-919e6380-b849-11e8-9987-690ffabff929.png)

[2018-09-15 03:34] cwdcwd commented on #1308
maybe I'm wrong but when I submit I'm seeing `submissionPhaseId: null` in the POST values on [this challenge](https://www.topcoder-dev.com/challenges/30052994/submit)

![image](https://user-images.githubusercontent.com/1504607/45582014-9fb6a900-b876-11e8-9353-49a72b799077.png)

[2018-09-15 03:42] sumitdaga commented on #1308
@cwdcwd
ok, where can i see the docs for the API being used here , just to be sure that i get it right!
as you can see even the `type` field needs to be updated i guess

[2018-09-15 03:49] cwdcwd commented on #1308
check out these swagger docs. These should be up to date I believe:
- https://github.com/topcoder-platform/submissions-api/blob/develop/docs/swagger.yaml
- https://tc-submission-api-dev.herokuapp.com/docs

[2018-09-15 03:55] cwdcwd commented on #1308
I think the type field is ok since I'm on a challenge making a final fix submission as `tonyj`

[2018-09-15 04:00] sumitdaga commented on #1308
but it says "Studio" Final Fix Submission ...if this text does not matter as such then its ok

[2018-09-15 04:29] cwdcwd commented on #1308
OH good catch!
@ajefts does this matter?
We only have [these as types](https://github.com/topcoder-platform/legacy-sub-processor/blob/develop/src/common/constant.js#L2) in our processor right now. Should that list be expanded?

[2018-09-15 08:02] sumitdaga commented on #1308
@cwdcwd  @ajefts

ok, so the image @cwdcwd  shared [in this post](https://github.com/topcoder-platform/community-app/issues/1308#issuecomment-421527523) is showing the reponse of the the `/submissions` endpoint
i am pretty sure that we are not sending `submissionPhaseId` from the front-end  as of now
i think the backend is inferring it ...probably from `challengeId` and `type` fields

and i checke

[2018-09-15 11:39] cwdcwd commented on #1308
the back end will fill in a `submissionPhaseId` when it saves the record if none is provided. However, the preview tab here shows that the field _is_ present at `POST` time and we're setting it to null which I think the API is setting that value directly since the field is present.

Good question on the phase change. @ajefts ?

[2018-09-15 11:46] sumitdaga commented on #1308
https://developers.google.com/web/tools/chrome-devtools/network-performance/reference#preview
the preview tab shows the response body i think ...
at least i can't see anywhere in the code where we are sending submissionPhaseId!

[2018-09-15 18:05] cwdcwd commented on #1308
I must be mistaken then. I'll check the https://github.com/topcoder-platform/submissions-api repo for that then. we must not be identifying the challenge phase correctly there then.

[2018-09-15 18:05] cwdcwd commented on #1308
Can you check make a PR with fix there @sumitdaga ?

[2018-09-15 19:15] sumitdaga commented on #1308
@cwdcwd
i have raised a PR at #1464
this PR:
a) enables `submit` button if `phase === Final Fix && member === isWinner`
b) sends `submissionPhaseId` with the POST call

like we discussed, to include final fix support there are other improvements also needed in the submission page apart from the one i already mentioned
one of them being, the /challenges/{challengeId}/submit route is restricted to o

[2018-09-15 21:31] gobindaakhuli opened #1465 "[$50] From getting out of context on profile page"
**Steps to Reproduce**

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Basic Info
3. Scroll down to **short bio** and tap on the controller of the text area and move right.

**Actual Result(s)**
Entire from is going out of context with the **short bio** text area (There have no maximum width)
**Expected Result(s)**
Entire from should be within context
**Screenshots

[2018-09-15 22:24] karinakohl opened #1466 "[UI] An icon is hidden under Checkbox and SHOW text in Password and New Password fields"
**Describe the bug**
An icon is hidden in a password field

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings/Account
2. Scroll down to Password and New Password Fields

**Actual Behavior:**
An icon is hidden under Checkbox and SHOW text in Password and New Password fields

**Expected behavior**
I cannot see what is the icon and what it is supposed to be

**Screenshots**
![settin

[2018-09-15 22:39] karinakohl opened #1467 "[FUNCTIONAL] It is not possible to delete the user profile avatar"
**Describe the bug**
It is not possible to delete the user profile avatar

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings/Profile/Basic Info
2. Upload your avatar
3. After uploading a new button will appear: "Delete Avatar"
4. Click on "Delete Avatar"

**Actual behavior**
Avatar is not deleted and no message is presented to user

**Expected behavior**
Avatar should be deleted

[2018-09-15 22:46] karinakohl opened #1468 "[$15] [FUNCTIONAL] Country is a required field and it doesn't allow to save the profile without it, however, it was not required until you get in the update profile form"
**Describe the bug**
Country is a required field and it doesn't allow to save the profile without it, however, it was not required until you get in the update profile form

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings/profile/basic info just after create you account (through you email)
2. See that Country is empty
3. Scroll down to "Save Changes" button
4. See error "Country

[2018-09-15 22:55] karinakohl opened #1469 "[UX] User is redirected to the forum page when click Forum in Settings/Preference. No warning. User lost reference."
**Describe the bug**
User is redirected to the forum page when click Forum in Settings/Preference. No warning. User lost reference.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings/Preference
2. Click on Forum

**Expected behavior**
To open the forum in the same screen or in a new tab/window.

**Desktop (please complete the following information):**
 - OS: macOS High Sierra
 -

[2018-09-16 00:20] PereViki opened #1470 "[$30] Skills boxes layout on mobile has no margin on top."
**Describe the bug**
When opening my skills on mobile, the skill boxes has no top margin, but touch the section header.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/profile'
2. Click on 'Skill'
3. See error

**Expected behavior**
The skill boxes should have adequate top margin

**Screenshots**
![img_3896](https://user-images.githubusercontent.com/3

[2018-09-16 00:26] PereViki opened #1471 "Skills aligned to the left, so there is a lot of white space on the right"
**Describe the bug**
When I open my Skill section, I find a list of skill boxes. These boxes are arranged in two columns and aligned to the left. There is an unreasonably large space on the right.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/profile'
2. Click on 'Skill'
3. See error

**Expected behavior**
The available screen should be filled nicel

[2018-09-16 00:31] PereViki opened #1472 "[$30] The pager for the skills is under the Add Skill form"
**Describe the bug**
If I open my skills and I have more than six of them, the icons will be arranged on several pages. There is a pager (dots) so the user can see, that there is more to see. However, the location of the pager is wrong, as it is under the Add Skill form.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/profile'
2. Click on 'Skill'
4. A

[2018-09-16 00:40] sdgun opened #1473 "[$30] Remove icon displayed in the next item automatically"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Skills
3. Tap on a item
4. Check the delete button

## Actual Result(s)

- Remove icon displayed in the next item automatically

## Expected Result(s)

- Must not display the remove icon automatically in the next item

## Frequency

- 5/5

## Environment Details

- **Device(s):** iPhone 6s
- **Op

[2018-09-16 00:40] sdgun opened #1474 "Wrong remove message displayed"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Skills
3. Add ADO.NET as a Skill
4. Remove ADO.NEt and check the validation message

## Actual Result(s)

- Wrong remove message displayed

## Expected Result(s)

- Must display the correct info message

## Frequency

- 5/5

## Environment Details

- **Device(s):** iPhone 6s
- **Operating System:

[2018-09-16 00:42] sdgun opened #1475 "Skill section separator is not visible"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Skills
3. Scroll down and check above Hobby Title

## Actual Result(s)

- Skill section separator is not visible

## Expected Result(s)

- Must display a line at the end of the skill page

## Frequency

- 5/5

## Environment Details

- **Device(s):** iPhone 6s
- **Operating System:** iOS 11.4.1
-

[2018-09-16 00:44] PereViki opened #1476 "[$30] Typing into a textbox that gets off-screen is ignored on iPhone"
**Describe the bug**
If I type into a textbox, and scroll up/down for example to check another value, the text that I type after the scroll does not get written into the textbox.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/profile'
2. Click on 'Skill'
3. Click on the skill textbox to and start typing (e.g. 'Mobile').
4. Scroll up to see some icons

[2018-09-16 00:44] sdgun opened #1477 "[$30] Empty message displays when user add same item again and again"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Skills
3. Add ADO.net from the skill
4. Again Add ADO.net from the skill

## Actual Result(s)

- Skill "" was added.

## Expected Result(s)

- Must not allow to add same skill again and again

## Frequency

- 5/5

## Environment Details

- **Device(s):** iPhone 6s
- **Operating System:** iOS 11.4

[2018-09-16 00:48] sdgun commented on #1474
Last removed item info popup is displayed instead of the newly removed one

[2018-09-16 00:50] PereViki opened #1478 "[$40] A skill gets immediately removed in the first tap on iPhone"
**Describe the bug**
If I click on a skill it immediately gets removed without letting the user know what will happen, as there is no hover effect on mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/profile'
2. Click on 'Skill'
3. Tap on a skill you already added.
4. See error

**Expected behavior**
First the user should see the remove message

[2018-09-16 00:55] sdgun opened #1479 "Empty messages are automatically removed when user tap on the screen/ or scroll"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Skills/Hobby
3. Tap 'Add skill to your list' or 'Add hobby to your list'
4. Now scroll the page up/down

NOTE" Tools > Devices pages won't have this issue

## Actual Result(s)

- Empty messages are automatically removed when user tap on the screen/ or scroll

## Expected Result(s)

- Must not hid

[2018-09-16 00:56] PereViki opened #1480 "Skill pager does not work on swipe left/right on iPhone"
**Describe the bug**
Let's assume that the pager on the skills screen is at the right place. In mobile environment it is a usual practice to let these kind of pages change with swiping left or right. Here this is not possible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/profile'
2. Click on 'Skill'
3. Add at least 7 skills
4. Try swiping left/righ

[2018-09-16 00:57] karinakohl commented on #1469
@ThomasKranitsas

[2018-09-16 00:58] karinakohl commented on #1468
@thomaskranitsas

[2018-09-16 00:58] karinakohl commented on #1467
@thomaskranitsas

[2018-09-16 00:58] karinakohl commented on #1466
@thomaskranitsas

[2018-09-16 01:05] PereViki opened #1481 "Skill list is not up to date"
**Describe the bug**
I tried to add Adobe XD (and XD) to my skills as it is an actively allowed in design chalenges, but it is not on the list

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/profile'
2. Click on 'Skill'
3. Try to add XD
4. See error

**Expected behavior**
All the skills that might be needed for Topcoder challenges should be able to be

[2018-09-16 01:08] sdgun commented on #1475
This applies to Hobby section as well, if there are no data on it

[2018-09-16 01:08] sdgun opened #1482 "[$30] [Tools] No bottom line separator for any of the sections in Tools"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Tools > Devices/Software/Service Providers/Subscriptions
3. Expand the sections one by one
4. Check the bottom of each section

## Actual Result(s)

- No bottom line separator for any of the sections in Tools

## Expected Result(s)

- Must separator the section with a small line at the bottom

## Frequency

[2018-09-16 01:15] sdgun opened #1483 "If there are long skill names, Layout issue in the tile arrangement of the Skills"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Skills
3. Add 20-30 skills (Machine Learning, Google App Engine etc..)
4. Check the layout

## Actual Result(s)

- If there are long kill names, Layout issue in the tile arrangement of the Skills

## Expected Result(s)

- Must have similar spaces in between the items

## Frequency

- 5/5

## Envi

[2018-09-16 01:16] sdgun commented on #1483
This can be reproduced in IE 11 not in iPad

[2018-09-16 01:17] sdgun commented on #1483
![2018-09-15_20-16-19](https://user-images.githubusercontent.com/4592712/45591849-56bd2e00-b924-11e8-864b-c7aab362a37d.png)

[2018-09-16 01:19] sdgun opened #1484 "[$50] All the remove notifications are not displayed"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Skills
3. Add 20-30 skills (Machine Learning, Google App Engine etc..)
4. Remove one item > Success! Skill "C" was removed.
5. Remove another item > No Success! message

## Actual Result(s)

- All the remove notifications are not displayed

## Expected Result(s)

- Must display all the skill remo

[2018-09-16 01:23] sdgun opened #1485 "If 'Machine Learning' skill is on the first column; it goes out of the section and part of the item is not visible"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Skills
3. Add 20-30 skills (Machine Learning, Google App Engine etc..)
4. Get 'Machine Learning' displayed on the first column

## Actual Result(s)

- If 'Machine Learning' skill is on the first column; it goes out of the section and part of the item is not visible

## Expected Result(s)

- Must

[2018-09-16 01:26] sdgun opened #1486 "[$30] When adding the same skill twice; some items displayed "You've already added skill "moodle".""
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Skills
3. Add moodle skills
4. Add moodle skills again
5. Observe > "You've already added skill "moodle"."

## Actual Result(s)

- When adding the same skill twice; some items displayed "You've already added skill "moodle"."

## Expected Result(s)

- Must apply the functionality to all the items

[2018-09-16 01:27] sdgun commented on #1486
![2018-09-15_20-26-40](https://user-images.githubusercontent.com/4592712/45591913-b1a35500-b925-11e8-9f57-d0d8d5e4ae1b.png)

[2018-09-16 01:27] PereViki opened #1487 "[$80] Tablet portrait layout follows mobile layout on iPad"
**Describe the bug**
If I turn the device into portrait mode, the mobile layout will be displayed, however, the landscape style would be adequate (according to the original designs as well). The mobile portrait view seems too stretched out for the iPad. The iPad portrait screen is large enough to use the same layout as it uses in landscape view.

**To Reproduce**
Steps to reproduce the behavior:
1

[2018-09-16 01:27] PereViki commented on #1487
**Tablet:**
 - Device: iPad Mini 2
 - OS: iOS 11
 - Browser: Chrome
 - Version: 69.0.3497.91

@ThomasKranitsas

[2018-09-16 01:31] sdgun opened #1488 "Dummy Data displayed on the Skill list (Adding some of them will display errors)"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Skills
3. Add tony_test, test1 as skills

## Actual Result(s)

- tony_test, test1

## Expected Result(s)

- Must not display the dummy data

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Operating System:** Windows 7 64bit
- **Browser(s):**

[2018-09-16 01:31] sdgun commented on #1488
![2018-09-15_20-31-32](https://user-images.githubusercontent.com/4592712/45591945-5f166880-b926-11e8-82c3-c8e8a11fab63.png)

[2018-09-16 01:34] sdgun opened #1489 "Added skill list is not alphabetically ordered properly"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Skills
3. Add 30-40 skills
4. Check the skill list

## Actual Result(s)

- Skills starts with simple letter lists at the bottom

## Expected Result(s)

- Must order the skills properly

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Operating

[2018-09-16 01:35] sdgun commented on #1489
![2018-09-15_20-34-45](https://user-images.githubusercontent.com/4592712/45591975-d3e9a280-b926-11e8-954a-3ce2738f8a44.png)

[2018-09-16 01:37] sdgun commented on #1485
![2018-09-15_20-36-57](https://user-images.githubusercontent.com/4592712/45591991-21fea600-b927-11e8-826e-3b7292d701ab.png)

[2018-09-16 01:40] sdgun opened #1490 "Error while adding Marvel-Design"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Skills
3. Add Marvel - Design

## Actual Result(s)

- Error while adding Marvel-Design

## Expected Result(s)

- Must not display an error

## Frequency

- 5/5

## Environment Details

- **Device(s):** Laptop
- **Resolution:** 1366 x 768
- **Operating System:** Windows 7 64bit
- **Browser(s):** I

[2018-09-16 01:40] sdgun commented on #1490
![2018-09-15_20-40-22](https://user-images.githubusercontent.com/4592712/45592010-9a656700-b927-11e8-9f96-4d4af0e2b0bf.png)

[2018-09-16 01:43] PereViki opened #1491 "[$20] There is no 'Add link' button for adding a new external link on desktop"
**Describe the bug**
If the user wants to add an external link to his account on desktop, he finds an unexpected behavior, as there is no 'Add link' button for adding a new external link on desktop, as there is one on mobile, and throughout the whole system.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/account'
2. Click on 'Linked Account'
3. Scrol

[2018-09-16 01:50] PereViki opened #1492 "Some long skill names gets cut off not wrapped on desktop"
**Describe the bug**
Some of my skills gets cut off instead of being wrapped, e.g. 'Interaction Design (IxD)' became 'Interaction...', however 'design (IxD)' could have gone into the second row.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/profile'
2. Click on 'Skill'
3. Add 'Interaction design (IxD)'
4. See error

**Expected behavior**
Long skill

[2018-09-16 01:56] sdgun opened #1493 "Some skills are overlaps with each other"
## Steps to Reproduce

1. Open the Application and Login as a valid user
2. Go to Settings > Profile > Skills
3. Add IBM Websphere Application Server, IBM WebSphere MQ, IDOL OnDemand to the list
4. Observe

## Actual Result(s)

- Some skill names are overlapping each other

## Expected Result(s)

- Must not overlap the names with each other

## Frequency

- 5/5

## Environment Details

- **Device(

[2018-09-16 01:56] sdgun commented on #1493
![2018-09-15_20-56-43](https://user-images.githubusercontent.com/4592712/45592093-e0232f00-b929-11e8-8c79-23f2d0b13e0c.png)

[2018-09-16 01:59] sdgun commented on #1474
Desktop also: https://www.screencast.com/t/jEGG1Sk7Z

[2018-09-16 02:00] nqviet opened #1494 "[Settings - Account - Linked Account] Error message appears when cancelling."
**Steps To Reproduce**

1. Go to Settings -> Account -> Linked Account
2. Click on 'Your linked Accounts'
3. Wait for the login popup appearing, then click 'Close' button.
4. See that the error message: 'ERROR: Failed to link external account!' displays.

**Expected behavior**
It shouldn't show the error message when cancelling adding link accounts

**Video attachment:**
https://monosnap.com/file/

[2018-09-16 02:01] sdgun commented on #1344
![img_0422](https://user-images.githubusercontent.com/4592712/45592114-8d964280-b92a-11e8-88ff-4e84046588d3.PNG)

[2018-09-16 02:04] sdgun commented on #1484
https://www.screencast.com/t/pFsJwZ8uR

[2018-09-16 02:07] sdgun commented on #1345
https://cl.ly/4826cafb2cd6

[2018-09-16 02:09] sdgun commented on #1359
![img_0423](https://user-images.githubusercontent.com/4592712/45592158-a81ceb80-b92b-11e8-867f-1bb433388742.PNG)

[2018-09-16 02:11] sdgun commented on #1416
![img_0415](https://user-images.githubusercontent.com/4592712/45592169-e1555b80-b92b-11e8-8ae9-fde033f89569.PNG)

[2018-09-16 02:13] sdgun commented on #1440
https://cl.ly/7cbabe6b8f86

[2018-09-16 02:14] sdgun commented on #1441
![img_0416](https://user-images.githubusercontent.com/4592712/45592187-46a94c80-b92c-11e8-986c-225252187e0d.PNG)

[2018-09-16 02:16] sdgun commented on #1439
https://cl.ly/885d71881f95

[2018-09-16 02:17] sdgun commented on #1443
![img_0418](https://user-images.githubusercontent.com/4592712/45592203-aef82e00-b92c-11e8-9c90-33f3e174b0b5.PNG)
![img_0419](https://user-images.githubusercontent.com/4592712/45592204-aef82e00-b92c-11e8-859f-a286490842ee.PNG)
![img_0420](https://user-images.githubusercontent.com/4592712/45592205-af90c480-b92c-11e8-9549-c94e27b0d74c.PNG)
![img_0417](https://user-images.githubusercontent.com/4592712

[2018-09-16 02:31] sdgun commented on #1473
https://cl.ly/c2bd32fc99f4

[2018-09-16 02:31] nqviet opened #1495 "[Settings - Account - Linked Account] Invalid URL message is shown even that the url is valid"
**Step To Reproduce**
1. Go to Settings -> Account -> Lined Account.
2. Click on 'External Link' and enter a valid URL.
3. Add more space at the end of the URL.
4. Error message 'Please enter a valid URL' appears.

**Expected behavior**
A URL with blank characters at head or tail should be considered as valid.

**Screenshots**
![untitled](https://user-images.githubusercontent.com/36178659/45592291

[2018-09-16 02:32] sdgun commented on #1477
https://cl.ly/5ee1191b5066

[2018-09-16 02:32] aravindm1 opened #1496 "Uploading pdf document for avatar throws invalid error message"
Uploading pdf document for avatar throws invalid error message

Steps to reproduce the behavior:
1. Launch the application: https://www.topcoder.com/settings/profile
2. Login as valid user
3. In profile page,  upload a pdf document for avatar
4. See error

**Expected behavior**
Error message should indicate the actual failure.  It should indicate the upload failed since the application doesn't sup

[2018-09-16 02:33] aravindm1 commented on #1496
@ThomasKranitsas

[2018-09-16 02:33] sdgun commented on #1479
https://cl.ly/775a00de72bc

[2018-09-16 02:34] sdgun commented on #1482
https://cl.ly/3bb671a0eeda

[2018-09-16 02:40] aravindm1 opened #1497 "Upload Avatar: While uploading avatar the application should list the supported document types"
**Describe the bug**
While uploading avatar the application should list the supported document types

**To Reproduce**
Steps to reproduce the behavior:
1.  Launch the application: https://www.topcoder.com/settings/profile
2.  Login as valid user
3.  In profile page, verify the avatar upload section

**Expected behavior**
Supported document types for avatar image should be displayed.

**Desktop (pl

[2018-09-16 02:40] aravindm1 commented on #1497
@ThomasKranitsas

[2018-09-16 02:51] aravindm1 opened #1498 "[$30] Upload Avatar: Error message displayed when selected a new image and clicked on cancel button"
**Describe the bug**
Error message displayed when selected a new image and clicked on cancel button

**To Reproduce**
Steps to reproduce the behavior:
1.  Launch the application: https://www.topcoder.com/settings/profile
2.  Login as valid user
3.  In profile page, click on upload a new avatar.
4.  Select a new image from drive and click on cancel button
5.  See error

**Expected behavior**
No err

[2018-09-16 02:51] aravindm1 commented on #1498
@ThomasKranitsas

[2018-09-16 02:59] RiteshTC opened #1499 "Accept Submission from SSO Users in Public Challenges."
**Describe the bug**
The submit button disables submission for all SSO Users. Even on public challenges.

**To Reproduce**
Login as SSO User and try to submit to a challenge. It allows only for URL upload.

**Expected behavior**
SSO Users should be able to submit to public challenges. The URL option should be enabled for internal challenges only

[2018-09-16 03:01] RiteshTC commented on #1499
Closing the issue. Incorrect observation.

[2018-09-16 03:01] #1499 closed

[2018-09-16 03:31] aravindm1 opened #1500 "Profile Page: Birth date should not accept future date"
**Describe the bug**
Birth date should not accept future date

**To Reproduce**
Steps to reproduce the behavior:
1.  Launch the application: https://www.topcoder.com/settings/profile
2.  Login as valid user
3.  In profile page, set birth date as future date
4.  Save changes

**Expected behavior**
Birth date field should not accept future date
![birth_date_should_not_accept_future_date](https://use

[2018-09-16 03:32] aravindm1 commented on #1500
@ThomasKranitsas

[2018-09-16 03:38] nqviet opened #1501 "[$30] The dropdown list of buttons overlap each other"
**Steps To Reproduce**
1. Go to Settings -> Profile -> Basic Info
2. Click on 'T-shirt size', then click on 'Gender'
4. See that the dropdown list of two controls overlap each other

**Expected behavior**
The dropdown list of the button should hide when not focusing.

**Screenshots**
![untitled](https://user-images.githubusercontent.com/36178659/45592611-8576eb00-b99c-11e8-95ab-141e5e3b5b45.png)

[2018-09-16 03:45] nqviet opened #1502 "[$10] [IE 11][Settings] The avatar icon can't display in the header."
**To Reproduce**
1. Go to Settings
2. See that the avatar icon doesn't display properly in the header.

**Expected behavior**
The avatar icon should be able to display.

**Screenshots**
![untitled](https://user-images.githubusercontent.com/36178659/45592641-77759a00-b99d-11e8-852c-38fcd1793a7f.png)

**Desktop:**
 - OS: Win10
 - Browser: Internet Explorer
 - Version: 11

[2018-09-16 03:53] nqviet commented on #1501
note: click on the arrow icon for easy reproducing

[2018-09-16 03:55] aravindm1 opened #1503 "Upload avatar: Success message should be changed to "Your profile image has been updated"."
**Describe the bug**
Success message should be changed to "Your profile image has been updated".

**To Reproduce**
Steps to reproduce the behavior:
1.  Launch the application: https://www.topcoder.com/settings/profile
2.  Login as valid user
3.  In profile page, upload an image for avatar
4.  Verify the success message

**Expected behavior**
Success message text to be changed to "Your profile imag

[2018-09-16 03:55] aravindm1 commented on #1503
@ThomasKranitsas

[2018-09-16 04:05] aravindm1 opened #1504 "Upload avatar: Error Displayed on uploading new avatar and saving changes"
**Describe the bug**
Error Displayed on uploading new avatar and saving changes

**To Reproduce**
Steps to reproduce the behavior:
1.  Launch the application: https://www.topcoder.com/settings/profile
2.  Login as valid user
3.  In profile page, upload an image for avatar
4.  Click on save changes
5.  Verify the error message displayed

**Expected behavior**
No error message should be displayed on

[2018-09-16 04:05] aravindm1 commented on #1504
@ThomasKranitsas

[2018-09-16 04:13] nqviet opened #1505 "[$30] [IE 11][Settings - Account - My Account] Layout issue when clicking on the checkbox"
**Steps To Reproduce**
1. Go to Settings -> Account -> My Account
2. Click on 'Show' checkbox repeatedly.
3. See that the message box "Your password must have:" displays and disappears repeatedly.

**Expected behavior**
The message box and the placeholder should stay visible while the checkbox is clicked on.

**Video attachment:**
http://take.ms/4js4R
or [video.zip](https://github.com/topcoder-pla

[2018-09-16 04:31] nqviet opened #1506 "[Settings] Not returning to the same page when coming back"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings -> Preference
2. Click on 'payment' icon on the left side bar
3. On the payment page, click on 'Cancel' button
4. See that it isn't back to the previous page

**Expected behavior**
It should be back to the previous page.

**Video attachment:**
http://take.ms/aP3WK or [video.zip](https://github.com/topcoder-platform/community-app/f

[2018-09-16 05:09] nqviet opened #1507 "[$30] [IE 11][Settings - Account - Linked Account] Some icons have their colors as if they was linked"
**Steps To Reproduce**
1. Go to Settings -> Account -> Linked Account
2. Check 'Your linked accounts'  section.
3. See that Stack Overflow, Twitter, LinkedIn, Dribbble are colorful icons.

**Expected behavior**
Their colors should be gray to indicate that they haven't been linked yet.

**Screenshots**
![untitled](https://user-images.githubusercontent.com/36178659/45593116-9fb6c600-b9a8-11e8-9a1c-d

[2018-09-16 05:22] aravindm1 opened #1508 "Profile: Skill Remove: When removed multiple skills at same time, the success message comes as the same skill has been removed"
**Describe the bug**
When removed multiple skills at same time,  the success message comes as the same skill(first skill which was removed) has been removed

**To Reproduce**
Steps to reproduce the behavior:
1.  Launch the application: https://www.topcoder.com/settings/profile
2.  Login as valid user
3.  In profile page, navigate to skill tab
4.  Add multiple skills
5.  Remove 2-3 skills
6.  Verif

[2018-09-16 05:27] aravindm1 opened #1509 "Profile Skill update: When added the same skill again, in success message the skill name is not displayed."
**Describe the bug**
When added the same skill again,  in success message the skill name is not displayed.

**To Reproduce**
Steps to reproduce the behavior:
1.  Launch the application: https://www.topcoder.com/settings/profile
2.  Login as valid user
3.  In profile page, navigate to skill tab
4.  Add a skill
5.  Add the same skill again
6.  Verify the success message

**Expected behavior**
Skill

[2018-09-16 05:27] aravindm1 commented on #1509
@ThomasKranitsas

[2018-09-16 05:33] aravindm1 opened #1510 "Profile - Hobby: Confirmation message to be displayed on deleting hobby"
**Describe the bug**
Confirmation message to be displayed on deleting hobby

**To Reproduce**
Steps to reproduce the behavior:
1.  Launch the application: https://www.topcoder.com/settings/profile
2.  Login as valid user
3.  In profile page, navigate to hobby tab
4.  Click on delete icon in hobby list

**Expected behavior**
Confirmation message to delete the hobby to be displayed
![deleting_hobby_

[2018-09-16 05:33] aravindm1 commented on #1510
@ThomasKranitsas

[2018-09-16 05:40] nqviet opened #1511 "[Settings - Profile] Input controls don't retain their current values when the window resizes"
**To Reproduce**
1. Go to Settings -> Profiles -> Basic Info / or Hobby
2. Enter some data
3. Click on the window border and drag to resize it
4. See that the current data is lost

**Expected behavior**
The controls should keep their current inputting data when the window resizes.

**Video Attachment:**
http://take.ms/z1KG1 or [video.zip](https://github.com/topcoder-platform/community-app/files/23

[2018-09-16 05:51] aravindm1 opened #1512 "Profile - Community: The selected option not retatined and comes to default value"
**Describe the bug**
The select option not retatined and comes to default value

**To Reproduce**
Steps to reproduce the behavior:
1.  Launch the application: https://www.topcoder.com/settings/profile
2.  Login as valid user
3.  In profile page, navigate to community tab
4.  Turn on / off both the radio button one after the another before success message comes up
5.  Verify the result

**Expected

[2018-09-16 05:51] aravindm1 commented on #1512
@ThomasKranitsas

[2018-09-16 05:53] aravindm1 commented on #1510
This is issue is seen across application.  Before deleting any record confirmation needs to be displayed

[2018-09-16 06:14] nqviet opened #1513 "[Settings] ComboBoxes collapse their dropdown list only if they were focused and mouse clicks on outside"
**To Reproduce**
1. Go to Settings -> Profile / or Tools
2. Click on the arrow of any comboxBox
3. Click on to outside
4. See that the combo box doesn't collapse its dropdown list

**Expected behavior**
The combo boxes should hide their dropdown lists when mouse clicks on outside

**Video attachment:**
http://take.ms/U5OJb or [video.zip](https://github.com/topcoder-platform/community-app/files/238

[2018-09-16 06:28] nqviet opened #1514 "[IE 11][Settings - Tools] 'delete' icons are stretched horizontally"
**Steps To Reproduce**
1. Go to Settings -> Tools -> Software / or Service Providers, Subscriptions
2. See that the 'delete' icons are being stretched.

**Expected behavior**
The icons should be proportional.

**Screenshots**
![untitled](https://user-images.githubusercontent.com/36178659/45593613-3a68d200-b9b4-11e8-809c-cbfd53082b4c.png)

**Desktop:**
 - OS: Win10
 - Browser: IE
 - Version: 11

[2018-09-16 08:24] aravindm1 opened #1515 "Account_linkedAccount: Error message displayed when closed the linked account application window"
**Describe the bug**
Error message displayed when closed the linked account application window

**To Reproduce**
Steps to reproduce the behavior:
1.  Launch the application: https://www.topcoder.com/settings/profile
2.  Login as valid user
3.  In Accounts page, navigate to linked account tab
4.  Click on any linked account application
5.  Close the new window that opens
6.  See error

**Expected b

[2018-09-16 14:16] PereViki opened #1516 "The user needs admin rights to be able to save/retrieve data to the profile"
**Describe the bug**
When the user opens the profile pages there is a 403 error and the reason seems to be user roles, as it  can be seen in the XHR request's answer "The login user must be administrator"

**To Reproduce**
Steps to reproduce the behavior:
1. Log in with a simple user account
2. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'
3. Check the XHR requests

[2018-09-16 16:01] PereViki opened #1517 "UX Issue - Gender specification does not fully support gender diversity."
**Describe the bug**
There are only 3 choices for gender: Male, Female and Prefer not to answer, meaning that is a user does not identify themselves as a male or a female, they have to chose Prefer not to answer, and has no chance to state the real situation about their gender. Please refer to this article about this recent issue about gender diversity and inclusion.

**To Reproduce**
Steps to rep

[2018-09-16 16:10] PereViki opened #1518 "UX Issue - Dropdown list is used for only 3 options"
**Describe the bug**
According to Jacob Nielsen, UIs should rather use radio buttons vs. dropdowns, as they have lower cognitive load. It is a common UX practice, that for a few options radio buttons are a better choice.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Basic Info'
3. Scroll down to 'Gender' and see the options

[2018-09-16 16:17] PereViki commented on #1517
The article I am referring: https://uxdesign.cc/designing-forms-for-gender-diversity-and-inclusion-d8194cf1f51?gi=154ea26afc44

[2018-09-16 16:26] PereViki opened #1519 "[$30] UX Issue - Uppercase words in the hint text everywhere"
**Describe the bug**
If we check the forms, most of the textboxes has their hint text as all uppercase words. According to Jacob Nielsen, one should use uppercase wording sparingly or not at all as a formatting style. "All uppercase words are not as easy to read as mixed case words, and they can make the page look busy and loud."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https:/

[2018-09-16 19:45] PereViki opened #1520 "[$20] UX/Accessibility issue - Some textboxes has double labels for screen readers"
**Describe the bug**
When I use Voice Over (screen reader) on the Basic Info form, some textboxes has double labels.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on 'Voice Over'
2. Go to 'https://www.topcoder-dev.com/settings/profile'
3. Click on 'Basic Info'
4. Navigate to each textbox.
4. See error

**Expected behavior**
When using the site with screen reader, each textbox should h

[2018-09-16 19:50] PereViki opened #1521 "UX/Accessibility issue - Dropdowns has no labels for screen readers"
**Describe the bug**
When I try to navigate the site with a screen reader (Voice Over) the dropdown fields has no labels to be read out by the reader, only 'Combo box'. This make it impossible for the user in need to fill in the form.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on the screen reader (Voice Over)
2. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Ba

[2018-09-16 19:58] PereViki opened #1522 "Ambiguous information about form fields being required or not"
**Describe the bug**
When browsing the Basic Info page with a screen reader (VoiceOver) some of the textboxes that are not indicated to be required on the screen are said to be required by the screen reader.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on the screen reader (Voice Over)
2. Go to 'https://www.topcoder-dev.com/settings/profile'
3. Click on 'Basic Info'
4. Navigate to th