[2020-12-28 04:40] m-yadav opened #5273 "Incorrect winner displayed on Challenge page"
**Describe the bug**
The user who have won the challenge is not being displayed on the challenge details page, instead tcwebservice is displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160352' and you will see user 'mearaj' as the winner
![image](https://user-images.githubusercontent.com/45197181/103189887-

[2020-12-28 07:25] QuyenPaulTran opened #5274 "https://www.topcoder.com/solutions/qa-testing/ - UX / Usability"
A click on the button "let's kill some bugs" leads to a registration form with no possibility to cancel or go back.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/solutions/qa-testing/
2. Click on "let's kill some bugs"

**Expected behavior**
A second button like the "Get started" button called "Cancel".

**Desktop (please complete the following information):*

[2020-12-28 08:00] QuyenPaulTran opened #5275 "https://www.topcoder.com/challenges/30108180/ - ERROR: Failed to load the challenge"
**Describe the bug**
Strangely I am getting an Error when accessing the challenge 30108180. This doesn't happen, when I open the page on the Smartphone or in another Browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/community/practice
2. Click on Find Bugs on Topcoder "VIEW"
4. See error

**Expected behavior**
It has worked before

**Screenshots**
![imag

[2020-12-28 08:20] QuyenPaulTran opened #5276 "UI Bug - Resolution"
**Describe the bug**
On the topcoder homepage there are 2 logos right next to each other and one logo (Spacenet) looks less sharp

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.topcoder.com
2. Scroll down to "OUR CUSTOMERS, THEIR SUCCESS"
3. Scroll down to the point when the two logos on the right appear "Spacenet" and "Microsoft"
4. See the differences

**Expected behavior**
The

[2020-12-28 17:39] Oanh-and-only-Oanh commented on #5273
@SathyaJayabal @luizrrodrigues, please work in this issue for next release (after Jan. 4th)

[2020-12-28 17:42] Oanh-and-only-Oanh commented on #5275
FYI @luizrrodrigues

[2020-12-29 02:34] SathyaJayabal commented on #5275
@Oanh-and-only-Oanh , works fine for me. @QuyenPaulTran, can you try again please.
<img width="1440" alt="Screenshot 2020-12-29 at 8 03 45 AM" src="https://user-images.githubusercontent.com/58783823/103254698-6608fe00-49ac-11eb-832b-dfe5408f0a48.png">

[2020-12-29 04:16] SathyaJayabal commented on #5273
@luizrrodrigues , I don't have access to this challenge, but this could be api issue.

[2020-12-29 06:23] QuyenPaulTran commented on #5275
Hi SathyaJayabal,
I am by the way also get this screen shown to me
![image](https://user-images.githubusercontent.com/76401095/103262917-9c437f00-49a6-11eb-8637-b9e37eacea96.png)
I am not sure what the reason is, however as mentioned it shows correctly to me on Chrome. I guess I need to reset MS Edge.

[2020-12-29 06:46] sandhiyakavi commented on #5275
@Oanh-and-only-Oanh Tried in Edge. Working fine for me. Could be a local issue.

![image](https://user-images.githubusercontent.com/55895538/103264004-bacc6900-49ec-11eb-87bd-02242540f39a.png)

![image](https://user-images.githubusercontent.com/55895538/103263953-996b7d00-49ec-11eb-8123-3881537e7d8b.png)

OS: Windows 10 (64 bit)
Browser: Microsoft Edge
Version: 87.0.664.66 (Official build) (64-bit

[2020-12-29 07:49] luizrrodrigues commented on #5259
Thanks @gets0ul

[2020-12-29 08:02] luizrrodrigues commented on #5259
@SathyaJayabal Deployed in Stag env.

[2020-12-29 08:08] luizrrodrigues commented on #5237
@narekcat sorry delay.

I'm follow these steps to test with prod data:

[code]

Then open local.topcoder.com

-----

Can you share your steps? Thanks.

[2020-12-29 08:17] SathyaJayabal commented on #5259
verified in staging
[filter.mov.zip](https://github.com/topcoder-platform/community-app/files/5750014/filter.mov.zip)

[2020-12-29 10:27] narekcat commented on #5237
@luizrrodrigues Ok, I did the same steps, but the problem was with development back end and I decide to login using production username/password, but can't because local-login.zip was created for only development. I'll test it again and back to you soon.

[2020-12-29 11:13] luizrrodrigues commented on #5243
@Oanh-and-only-Oanh @SathyaJayabal sorry these comments.

@SathyaJayabal you mean about not auto added verification mark?

[2020-12-29 11:45] nursoltan-s commented on #4500
Same Issue: https://github.com/topcoder-platform/community-app/issues/4316

[2020-12-29 11:49] SathyaJayabal commented on #5243
yes, the skill must be auto added to the member's profile with verification  mark

[2020-12-29 11:52] luizrrodrigues commented on #5243
I think skill not auto added, just verification mark will be added to winner. But no sure, this was working before with other skills?

[2020-12-29 11:55] Vips19 opened #5279 "On the topcoder GIG Work page don't go to the top after page change"
Describe the bug
On the topcoder GIG Work page don't go to the top after page change

To Reproduce
Steps to reproduce the behavior:

- Go to https://www.topcoder.com/gigs
- Scroll down Click on next or some page number to see other gig work
- Observe the page stays there, to view the list user has to scroll up everytime .

Expected behavior
GIG Work page should go to the top after page change

Scr

[2020-12-29 11:59] SathyaJayabal commented on #5243
verified , icons added fore `Appium` and `Appium Headspin`
<img width="1440" alt="Screenshot 2020-12-29 at 5 28 20 PM" src="https://user-images.githubusercontent.com/58783823/103282317-61b80180-49fb-11eb-8cd2-8190300f57b6.png">
<img width="1440" alt="Screenshot 2020-12-29 at 5 28 25 PM" src="https://user-images.githubusercontent.com/58783823/103282326-68df0f80-49fb-11eb-9706-32503bb55379.png">

[2020-12-29 12:11] SathyaJayabal commented on #5259
verified on staging
[filter.mov 2.zip](https://github.com/topcoder-platform/community-app/files/5750587/filter.mov.2.zip)

[2020-12-29 12:34] narekcat commented on #5237
@luizrrodrigues I have tested again, the development back end still does not working. I need to login with production back end.

[2020-12-29 12:38] SathyaJayabal opened #5280 "Clear filter button must be enabled when sub community filter is applied"
Clear filter button must be enabled when sub community filter is applied
<img width="1440" alt="Screenshot 2020-12-29 at 6 06 01 PM" src="https://user-images.githubusercontent.com/58783823/103284268-c3c73580-4a00-11eb-8efd-8fb10caf8bc9.png">

[2020-12-30 01:19] SathyaJayabal commented on #5243
verified on prod, icons added for Appium and Appium Headspin
<img width="1440" alt="Screenshot 2020-12-30 at 6 48 16 AM" src="https://user-images.githubusercontent.com/58783823/103323921-176e6900-4a6b-11eb-8e65-a38223abae86.png">
<img width="1440" alt="Screenshot 2020-12-30 at 6 48 23 AM" src="https://user-images.githubusercontent.com/58783823/103323930-1ccbb380-4a6b-11eb-9ff8-53fced15d0df.png">

[2020-12-30 01:19] luizrrodrigues commented on #5243
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-30 01:19] #5243 closed

[2020-12-30 01:20] luizrrodrigues commented on #5243
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159644<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2020-12-30 01:20] SathyaJayabal commented on #5259
verified on prod
[save filter.mov.zip](https://github.com/topcoder-platform/community-app/files/5752689/save.filter.mov.zip)

[2020-12-30 01:20] #5259 closed

[2020-12-30 01:21] luizrrodrigues commented on #5259
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159903<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-01-05 08:35] sushilshinde opened #5282 "Fix test on community-app-tests-poc branch"
Fix tests on community-app-tests-poc branch

[code]

PR to : community-app-tests-poc branch

[2021-01-05 15:27] Oanh-and-only-Oanh opened #5283 "lists aren't rendering properly."
What I see in WM

What I see on community app

[2021-01-06 08:02] kkartunov opened #5284 "Thtive - track filter updates"
Update the track filter to match design and functionality as shown here: https://marvelapp.com/prototype/528hj20/screen/73566938

[2021-01-06 17:25] luizrrodrigues commented on #5237
Hey @narekcat sorry delay.

Can you share you steps when try to run with Prod data?

[2021-01-06 21:18] luizrrodrigues commented on #5282
@sushilshinde test fixed.

[2021-01-07 05:43] kalpesh2804 opened #5286 "Add Visual FoxPro OR FoxPro in skill list"
I did not find "Visual FoxPro" in the skill list. I am a Visual FoxPro developer. can you add it to your skill list ? so I can add it to my profile.

[2021-01-07 06:06] sachin-maheshwari opened #5287 "Hide Change password/email functionality for Social Logged in user"
Please see detail here - https://github.com/topcoder-platform/tc-auth-lib/issues/29

[2021-01-07 08:50] luizrrodrigues opened #5288 "Hide My Communities from My Dashboard"
Hide My Communities from My Dashboard

[2021-01-07 09:29] narekcat commented on #5237
Hi @luizrrodrigues .
Finally I have logged in using my production username/password.

[2021-01-07 10:10] luizrrodrigues commented on #5288
@sandhiyakavi Deployed in QA env.

[2021-01-07 10:16] sandhiyakavi commented on #5288
Verified in QA Env.

![image](https://user-images.githubusercontent.com/55895538/103880576-a8ed7300-511c-11eb-8ce3-c6c1b4ceb1a5.png)

[2021-01-07 11:18] luizrrodrigues commented on #4982
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-01-07 12:08] SathyaJayabal commented on #5288
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-01-07 at 5 37 09 PM" src="https://user-images.githubusercontent.com/58783823/103890988-08448680-510f-11eb-913d-713358ad72da.png">

[2021-01-07 17:37] SathyaJayabal commented on #5288
verified on prod
<img width="1440" alt="Screenshot 2021-01-07 at 11 06 28 PM" src="https://user-images.githubusercontent.com/58783823/103925095-08f41180-513d-11eb-89e6-8728ed9de7fe.png">

[2021-01-07 17:37] #5288 closed

[2021-01-08 08:57] narekcat commented on #5237
Hi @luizrrodrigues .
I stuck on this issue, I can't complete it. I'll put it back for other competitors. I am sorry for inconveniences.

[2021-01-08 09:23] luizrrodrigues commented on #4982
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-01-10 15:58] ajefts opened #5291 "Better user experience when challenge is not available to view"
Friendly message for challenges that are active but haven't started. Currently, if you activate a challenge but it has a future date, you get a "challenge doesn't exist" error message.

**Describe the solution you'd like**
 It would be nice to have a page that instead displays something like "You're early!  You can begin registration for this challenge in X hours"

[2021-01-12 00:41] luizrrodrigues commented on #4982
@PrakashDurlabhji This was paid directly.

[2021-01-12 12:55] sushilshinde opened #5293 "Impliment CCI approval w/f for automated test cases"
Implement https://circleci.com/docs/2.0/workflows/#holding-a-workflow-for-a-manual-approval for automated test cases

(https://circleci.com/blog/manual-job-approval-and-scheduled-workflow-runs)

**References repo:**
https://github.com/topcoder-platform/tc-project-service/blob/develop/.circleci/config.yml

[2021-01-12 23:13] luizrrodrigues opened #5294 "Automated Smoke Test Integration"

[2021-01-12 23:15] luizrrodrigues commented on #5294
**Topcoder Challenge Listing Page Tests:  Before Login Test Cases [TC_006] should verify whether the user is able to search for a challenge by using the Search challenges textbox**
- API issue, looks like currently have issue to search for challenge name

-----

[2021-01-14 02:58] luizrrodrigues commented on #5293
@sushilshinde  Implemented manual approval to ci-manual-approval branch.
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2419/workflows/358eec5e-fdc6-4606-beeb-a38d62c77a6e

Please take a look and let me know if this working as expected. (note: Currently after approve workflow will deploy to Stag just for testing)

[2021-01-14 07:51] kkartunov opened #5300 "Gig application error page fixes"
Update the page:
![image](https://user-images.githubusercontent.com/5585002/104559793-978cf500-564d-11eb-9078-5c44bf45f155.png)

- add the error message as returned from API to that “oops” page
- add the text: “Please send us an email at gigwork@topcoder.com with the subject ‘Gig Error’ and paste the URL for the gig you are attempting to apply for so that we know of your interest”
- add a white bu

[2021-01-14 08:06] kkartunov opened #5301 "Gig not found fixes"
There are 2 pages related to it:
1. Gig not found page
![Screenshot from 2021-01-14 09-57-17](https://user-images.githubusercontent.com/5585002/104561128-9066e680-564f-11eb-8f24-bf769ac0ff58.png)

2. Gig fulfilled page

Add to both of them Buttons:
• Topcoder Registration
• Gig Opportunities
• I’m A Business

[2021-01-14 13:21] SathyaJayabal commented on #5293
verified approval flow for smoke test build on staging
<img width="1154" alt="Screenshot 2021-01-14 at 6 50 25 PM" src="https://user-images.githubusercontent.com/58783823/104596038-6e925180-5699-11eb-9fc4-e0bf75567fd9.png">

[2021-01-14 13:22] SathyaJayabal commented on #5294
Verified smoke test run staging  build.
<img width="1440" alt="Screenshot 2021-01-14 at 6 50 40 PM" src="https://user-images.githubusercontent.com/58783823/104596114-95508800-5699-11eb-8521-d43ad030e6e9.png">

[2021-01-14 14:48] SathyaJayabal commented on #5294
@luizrrodrigues , lets close this one after configuration done for `build-prod`

[2021-01-14 14:49] SathyaJayabal commented on #5293
@luizrrodrigues , lets close this one after configuration done for `build-prod`

[2021-01-15 07:55] SathyaJayabal commented on #5294
Smoke test running on prod.
<img width="1440" alt="Screenshot 2021-01-15 at 1 24 23 PM" src="https://user-images.githubusercontent.com/58783823/104696990-1446ce80-5735-11eb-9852-84de14a9de96.png">

[2021-01-15 07:56] #5294 closed

[2021-01-15 07:56] SathyaJayabal commented on #5293
Approval workflow implemented for prod
<img width="1440" alt="Screenshot 2021-01-15 at 1 24 23 PM" src="https://user-images.githubusercontent.com/58783823/104697031-2163bd80-5735-11eb-9665-788b8f60709b.png">

[2021-01-15 07:56] #5293 closed

[2021-01-15 09:03] sandhiyakavi opened #5306 "Gig Page: "Go To Challenges" link URL not filtering challenges by "Skill Builder""
Description:

Clicking "Go to Challenges" link in Gigs page, not filtering challenges by "Skill Builder" in Challenge listings page.

Steps to Reproduce:

1. Go to the Gig Work page.
2.  Click "Go to Challenges" button at the bottom of the page.

Actual Result:
Page is directed to the Challenge Listing page and Challenges are not filtered by the "Skill Builder" term.

Expected Result:
Only Skill b

[2021-01-15 12:02] luizrrodrigues opened #5307 "Automated Smoke Testing Fix Test Cases"
WIP : Report

-----

**Topcoder Challenge Listing Page Tests:  Before Login Test Cases [TC_002] should verify whether the current page is redirected to Registration page on clicking the Log in button**
- This working well in local env, so I thin maybe can be issue with vars in Env?

-----

**Topcoder Challenge Listing Page Tests:  Before Login Test Cases [TC_006] should verify whether the user is

[2021-01-18 20:17] ajefts opened #5308 "[$50] Topgear Profiles Not Loading"
**Describe the bug**
When loading a profile via the Topgear site, it's attempting to filter it to groups that pertain to topgear only. In doing so, we're now hitting URI limits in the API requests it's trying to make.  This is because it's trying to include all the groups the member is in as a filter in the request.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://topgear.topcod

[2021-01-18 20:17] ajefts commented on #5308
fyi @Oanh-and-only-Oanh

[2021-01-19 16:49] SathyaJayabal opened #5309 "User gets registered to the challenge again after they unregister"
1. Go to Challenge details page
2. Register to the challenge (example: https://www.topcoder.com/challenges/08b74bb4-67df-49a4-bd8e-672ac5e257d2)
3. Unregister to the challenge
4. After a couple of minutes, user is registered back to the challenge, and even receives Registration successful email again.

Expected: user should not  be registered to the challenge again and should stay unregistered.

c

[2021-01-21 09:05] kkartunov commented on #5284
@SathyaJayabal this ready for QA on staging, please and thanks.

[2021-01-21 09:43] RiteshTC opened #5310 "User gets a success message on terms page on api failure."
**Describe the bug**
User gets a success message on terms, page, even if the backend api fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure logged out of the application or in an incognito window.
2. Go to terms page "https://www.topcoder.com/challenges/terms/detail/564a981e-6840-4a5c-894e-d5ad22e9cd6f".
3. Scroll down and click Accept'.
4. The page responds with a success message

[2021-01-21 09:55] SathyaJayabal commented on #5284
@kkartunov , verified on staging (feature branch)
<img width="1440" alt="Screenshot 2021-01-21 at 3 07 12 PM" src="https://user-images.githubusercontent.com/58783823/105334405-d9dda580-5bfc-11eb-96b1-32bd99c83a0d.png">

[2021-01-22 01:21] coderReview opened #5311 "Markdown problem in challenge details page"
**Describe the bug**
The challenge details page is not showing the indentation correctly created by the Work Manager tool.

**To Reproduce**
1. Create a challenge in Work Manager
2. Create multiple indentation in Markdown editor
3. Open challenge details

**Expected behavior**
Show the text exactly as in the Work Manager Preview.

**Screenshots**
Text is not indented properly.

Example:
- https://

[2021-01-22 03:50] SathyaJayabal opened #5312 "[$40] Challenge Details : Submissions tab lists only latest 100 submissions"
Challenge Details : Submissions tab lists only latest 100 submissions

Expected: Must list all submissions

example:
https://www.topcoder.com/challenges/f22bdbe1-ad44-4db8-9440-9f0cd1e7532d?tab=submissions

cc @Oanh-and-only-Oanh

[2021-01-22 07:15] kkartunov commented on #5306
Thank you @sandhiyakavi, fixed now.

[2021-01-22 07:15] #5306 closed

[2021-01-22 07:38] #5198 closed

[2021-01-22 07:38] luizrrodrigues commented on #5198
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-01-22 14:07] ajefts opened #5313 "Update Segment script"
To comply with the latest security model, we need to update the segment script that is being included in the app.

Please refer to https://help.trychameleon.com/en/articles/4281577-using-secure-identity-verification-beta for the full explanation. We will be using the approach of modifying the want we include and call the Segment script.

Here is an example of the code that needs to be added/modifi

[2021-01-22 14:09] ajefts commented on #5313
fyi @Oanh-and-only-Oanh.  Can we put this one on the P1 list?

[2021-01-26 00:33] luizrrodrigues opened #5314 "Challenges Listing showing blank page when some challenge missing prizes in placementPrizes"
Challenges Listing showing blank page when some challenge missing prizes in placementPrizes

[2021-01-26 17:43] SathyaJayabal commented on #5314
verified on staging and dev envs (develop branch)
<img width="1440" alt="Screenshot 2021-01-26 at 11 12 46 PM" src="https://user-images.githubusercontent.com/58783823/105882755-072ab900-602c-11eb-948a-9fc5db1315e6.png">

[2021-01-26 17:59] SathyaJayabal commented on #5284
verified on staging
<img width="1440" alt="Screenshot 2021-01-26 at 11 15 33 PM" src="https://user-images.githubusercontent.com/58783823/105883077-6e486d80-602c-11eb-99e4-7e2f3545884d.png">

[2021-01-26 20:16] SathyaJayabal commented on #5284
verified on prod
<img width="1440" alt="Screenshot 2021-01-27 at 1 45 46 AM" src="https://user-images.githubusercontent.com/58783823/105899952-65ae6200-6041-11eb-98e7-2af197b05f68.png">

[2021-01-26 20:16] #5284 closed

[2021-01-26 20:17] SathyaJayabal commented on #5314
verified on prod
<img width="1440" alt="Screenshot 2021-01-27 at 1 46 23 AM" src="https://user-images.githubusercontent.com/58783823/105900022-7fe84000-6041-11eb-90be-22310d8e9fea.png">

[2021-01-26 20:17] #5314 closed

[2021-01-26 20:30] SathyaJayabal opened #5318 "MY Past Challenges bucket Sort By "Title A- Z" gives a blank page"
My Past Challenges bucket Sort By "Title A- Z" gives a blank page
<img width="1440" alt="Screenshot 2021-01-27 at 1 59 49 AM" src="https://user-images.githubusercontent.com/58783823/105901426-5cbe9000-6043-11eb-87d0-85cc83936f57.png">

cc @luizrrodrigues

[2021-01-27 10:11] SathyaJayabal opened #5319 "Recommended checkbox functionality"
Recommended checkbox must not be part of the challenge type group.
It must a standalone checkbox

<img width="436" alt="Screenshot 2021-01-27 at 3 37 03 PM" src="https://user-images.githubusercontent.com/58783823/105976274-f757b700-60b5-11eb-89ae-5fcd8b17a4e6.png">

At present checking the recommended checkbox, deselects the challenge type checkboxes. This must not be the case.

[2021-01-27 10:13] SathyaJayabal opened #5320 "Testability of challenges recommended by the recommender api"
How can we test the correctness of the challenges that are recommended by the recommender api ?

[2021-01-27 10:20] SathyaJayabal opened #5321 "Sorting of recommended challenges"
Is the sort by best match applied to  all "Open for Registration" challenges or only to the filtered list of recommended challenges (challenges that have a match score above a certain threshold) ?

[2021-01-27 10:26] SathyaJayabal opened #5322 "Filtering of recommended challenges"
Challenges with a match score above a certain threshold will be displayed when recommended filter check box is selected.

1. What is the threshold value?
2. Will these recommended challenges be displayed under a new bucket `recommended challenges`  or the `open for registration` bucket will simply be filtered to only show the recommended  challenges ?

[2021-01-27 10:29] SathyaJayabal opened #5323 "Match score range"
What will be the range of the match score? Could having it as a percentage simplify things for the FE?
So no matter what algorithm is used in the BE, always a percentage value is returned to the FE.

[2021-01-27 10:35] SathyaJayabal opened #5324 "What additional information can we display for recommended challenges"
It will be helpful to the user to have some more information on the challenges that are recommended for them.

Example:
1. match percentage: This data is available from the api as match score.
2. matched skills : This was suggested in the winning design , but the data is not available from the api at present.
<img width="908" alt="Screenshot 2021-01-27 at 9 34 51 AM" src="https://user-images.githu

[2021-01-27 15:57] Oanh-and-only-Oanh commented on #5321
For the simple UI, it will be applied only to the filtered list of recommended challenges

[2021-01-27 16:03] Oanh-and-only-Oanh commented on #5322
These recommended challenges should be displayed under the` open for registration bucket` will simply be filtered to only show the recommended challenges ?

[2021-01-27 16:08] g0rynich commented on #5323
I suspect - 0-100%, Clarify with Ketan.

[2021-01-27 16:20] Oanh-and-only-Oanh commented on #5322
- match score should be converted into percentage.
- percentage match should be displayed on FE

[2021-01-27 16:23] g0rynich commented on #5320
1. Simple option. Pick 3-5 distinct skill profiles (design regular, marathon regular, soft-dev regular...) and check if sorting brings up related tracks.
2. Complex option. We can generate a dataset of a) Skill profiles at the given moment of the past; b) open challenges at the given moment of the time; Who actually ended up participating in each of the challenges. And check if the challenges the

[2021-01-27 16:42] SathyaJayabal commented on #5324
Based on the call, we will be only displaying the match % for each of the recommended challenges.

@dedywahyudi, can we have this included for the demo ?

We can update the mock data to have the match score as a percentage.

cc @Oanh-and-only-Oanh

[2021-01-27 16:43] SathyaJayabal commented on #5322
Based on the call, the threshold value is anything above 0 %

[2021-01-27 16:51] SathyaJayabal commented on #5322
Sum Up:
1. Recommended Checkbox displayed only for Open for Registration bucket
2. Recommended Checkbox is displayed only for logged in users
3. When recommended check box is checked, make a call to the recommender api with user's handle. Api returns list of open for registration challenges with match score for each.
4. Filter the "Open for Registration" bucket with challenges that have a match sc

[2021-01-27 16:55] SathyaJayabal commented on #5321
SUM UP :
1. When recommended checkbox is checked, add sort option `best match` to Open for Registration bucket
2. This is the default sort option
3. When selected sorts the list fo challenges by match score in descending order
4. When recommended checkbox is unchecked, remove sort option `best match`

cc @Oanh-and-only-Oanh

[2021-01-27 17:01] Oanh-and-only-Oanh commented on #5322
1. We also want to make sure that user can further filter within the "Recommended" list. For example, show only Challenges or F2F.

2. The default when "Recommended" in ON, is all Types (CH, TSK, F2F) and tracks (design, DD, Dev, QA) should be selected.

3. Update count to show correct count of "Recommended" challenges

[2021-01-27 17:08] SathyaJayabal commented on #5322
@Oanh-and-only-Oanh when recommended is on, we should just leave the other filters as they were. right?  For example, if the user already has his filter set to only `data science` track `challenge` type, checking on recommended must not reset these filters.

Am I right ?

[2021-01-27 17:20] Oanh-and-only-Oanh commented on #5322
You may be right, but I'm also concerned this will further limit how many recommended challenges will show up if we did that. I'd rather show every Recommended challenge and then have user filter future for now and see what users say.

[2021-01-27 17:23] SathyaJayabal commented on #5322
Ok so, when recommended is on, all Types (CH, TSK, F2F) and tracks (design, DD, Dev, QA) should be selected.

[2021-01-28 03:22] dedywahyudi commented on #5322
Thanks for the feedback @SathyaJayabal @Oanh-and-only-Oanh

I'll get all these fixed by asking previous winner to fix OR using F2F
We will need extra payment for the fixes.

[2021-01-28 03:25] SathyaJayabal opened #5325 "Challenge Recommender Tool : Requirements"
The challenge recommender tool is a smart recommender that will recommend Open for Registration challenges to the members based on their past competition history.

FE Requirements:

- [x] Add a recommended toggle to the filter panel
- [x] Recommended toggle must be displayed only for Open for Registration bucket
- [x] Recommended toggle must be displayed only for logged in users
- [x] When recomme

[2021-01-28 03:25] SathyaJayabal commented on #5322
tracking all requirements here
https://github.com/topcoder-platform/community-app/issues/5325

[2021-01-28 03:25] #5322 closed

[2021-01-28 03:26] SathyaJayabal commented on #5321
tracking all requirements here
#5325

[2021-01-28 03:26] #5321 closed

[2021-01-28 03:26] SathyaJayabal commented on #5324
tracking all requirements here
#5325

[2021-01-28 03:26] #5324 closed

[2021-01-28 03:27] #5323 closed

[2021-01-28 03:32] dedywahyudi commented on #5325
@SathyaJayabal @Oanh-and-only-Oanh

All these features need capture in our current POC?
Maybe we can go straight update all these in the next challenge since we already have Final UI Design : https://marvelapp.com/prototype/5jbdc5i/screen/76354614

Thoughts?

[2021-01-28 03:35] SathyaJayabal commented on #5325
@dedywahyudi, this is the general requirements for the tool.

 For the POC we need only two things:

1. Add match percentage to the challenge.
2. fix issue: https://github.com/topcoder-platform/community-app/issues/5319

[2021-01-28 03:36] dedywahyudi commented on #5325
Ok, got it!

[2021-01-28 03:41] dedywahyudi commented on #5319
Ok, clear about this requirement

[2021-01-28 04:46] SathyaJayabal commented on #5325
@dedywahyudi , one more thing for the POC, the recommended challenges must be a subset of the open for  registration challenges. For example we have 20 challenges that are Open for registration. When we check the recommended check box, let us maybe show 8 of them.  Can we update the mock data so that it has 8 of the 20 open for registration challenges ?

cc @Oanh-and-only-Oanh

[2021-01-28 05:21] dedywahyudi commented on #5325
Ok, i'll check with developer if possible to fix that quickly or not

[2021-01-28 08:35] kkartunov opened #5326 "Launch arena link font family mismatch"
At the bottom of https://www.topcoder.com/my-dashboard.
Replace with a green button from GUI kit.

[2021-01-28 17:13] SathyaJayabal opened #5328 "User unable to register to Development challenge"
User with handle `{simplify}` is unable to register to any development challenge and they get the below error.
![unnamed](https://user-images.githubusercontent.com/58783823/106173629-27887e00-61ba-11eb-997b-cf2e02f70866.png)

cc @Oanh-and-only-Oanh @luizrrodrigues

[2021-01-28 19:05] ajefts opened #5329 "[$25] Add template repo to the Toolbox"
**Describe the solution you'd like**
Add a link to our code template repository in the Toolbox section of the challenge details page. This is mainly for dev challenges, but I think it would be ok to add for all challenges and tasks.

Repo link:  https://github.com/topcoder-platform-templates

[2021-01-28 19:05] ajefts commented on #5329
@Oanh-and-only-Oanh Here is another quick win if you can add it to the list please?

[2021-01-29 05:13] rootelement opened #5331 "[$30] Ordered Lists are still broken"
Lists work. Nested lists work. But the period after the number is on a new line and looks very messy. Most challenge specs have ordered lists in them, so this is rather important.

Example:

<img width="714" alt="Screen Shot 2021-01-29 at 12 13 00 AM" src="https://user-images.githubusercontent.com/5400156/106234421-cadf9000-61c6-11eb-9dbb-509990fb2ad7.png">

[2021-02-01 03:07] SathyaJayabal commented on #5319
verified
<img width="1440" alt="Screenshot 2021-02-01 at 8 36 33 AM" src="https://user-images.githubusercontent.com/58783823/106410333-a571b100-6468-11eb-9cd0-f7a2ce39358b.png">

[2021-02-01 03:07] #5319 closed

[2021-02-01 03:46] SathyaJayabal opened #5334 "DEMO - POC"
1. Recommended challenges are not a subset of `Open for Registration` challenges. They are also not picked up from the mock data json file.

2. Filtering with tracks is not working when we have recommended toggle on. The existing recommended list must be further filter based on track selected. But newer challenges in the selected tracks are getting added.

https://user-images.githubusercontent.com

[2021-02-01 13:36] dedywahyudi commented on #5334
@SathyaJayabal
- Ok, thanks for capturing this. I'll capture in the next release

[2021-02-01 16:29] nursoltan-s opened #5335 "Inconsistent Icon Size in Profile Settings Page"
**Describe the bug**
This issue is only happening in Chrome browser on MacOS.
In Profile Settings Page (as well as Education, Language page) delete icon style is not applied.

**To Reproduce**
Steps to reproduce the behavior:
1. Login & Go to https://www.topcoder.com/settings/profile#language
2. See an error

**Expected behavior**
Icon styles should be appliedcorrectly.

**Screenshots**
<img width

[2021-02-02 04:28] SathyaJayabal commented on #5334
Closing this as Demo is complete.

[2021-02-02 04:28] #5334 closed

[2021-02-02 20:02] cagdas001 opened #5337 "[Challenge Listing] Tags Overlaps with Other Fields"
See the GIF:

![2021-02-02_22-54-13](https://user-images.githubusercontent.com/28513447/106655057-ecb38b00-65a9-11eb-9ce7-a2d5c9753c7e.gif)

Ideally, it should wrap to the next line, right?

[2021-02-03 16:33] mahestro opened #5338 "Fix global authenticator font size and family"
**Describe the bug**
Global authenticator is missing the GUI Kit guidelines (font size and family)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to topcoder.com
2. Click on login
3. See authentication form

**Expected behavior**
Font size and family should follow the marketing GUI Kit guidelines https://www.topcoder.com/thrive/articles/How%20to%20use%20the%20Topcoder%20GUI%20KIT

**Scre

[2021-02-03 17:59] luizrrodrigues commented on #5307
@drasticdpk @sushilshinde @lakshmiathreya Here details about each test case falling, some was fixed with `test-automation-fix` branch

I think we need to run a challenge to fix / rewrite test cases

[2021-02-04 04:21] SathyaJayabal commented on #4360
Closing this as we have not encountered this in past months

[2021-02-04 04:21] #4360 closed

[2021-02-04 04:22] SathyaJayabal commented on #4500
closing this as we are tracking it in #4316

[2021-02-04 04:22] #4500 closed

[2021-02-04 04:28] SathyaJayabal commented on #5282
@luizrrodrigues , this can be closed?

[2021-02-04 04:45] mcp111 opened #5339 "Need gig apply history in profile"
I would think this is a no-brainer!!!
I'm surprised you don't have this
All job portals have it and you should too!!!

[2021-02-04 05:31] luizrrodrigues commented on #5282
@SathyaJayabal Yep

[2021-02-04 06:27] sandhiyakavi commented on #2386
Closing the issue as the Tech stacks are getting displayed now.

![image](https://user-images.githubusercontent.com/55895538/106853671-6c9e3a00-66fd-11eb-87ac-2a3e2cd28042.png)

[2021-02-04 06:27] #2386 closed

[2021-02-04 06:52] sandhiyakavi commented on #2630
This issue is not applicable now as Change Email feature hided.

[2021-02-04 06:52] #2630 closed

[2021-02-04 06:54] #5282 closed

[2021-02-04 07:24] sandhiyakavi commented on #2393
Closing this issue as it is not applicable now.

[2021-02-04 07:24] #2393 closed

[2021-02-04 07:30] #3194 closed

[2021-02-04 07:39] sandhiyakavi commented on #3270
Closing the issue as it is not happening with current auth0 implementation.

[2021-02-04 07:39] #3270 closed

[2021-02-04 07:45] sandhiyakavi commented on #3409
Closing this issue as it is not applicable now.

[2021-02-04 07:45] #3409 closed

[2021-02-04 07:55] sandhiyakavi commented on #3438
Challenge counts are correctly displayed now

![image](https://user-images.githubusercontent.com/55895538/106861903-bf7dee80-6709-11eb-90b5-7c9d76a2b739.png)

[2021-02-04 07:55] #3438 closed

[2021-02-04 08:01] sandhiyakavi commented on #3453
Able to open all Marathon matches now.

[2021-02-04 08:01] #3453 closed

[2021-02-04 08:06] sandhiyakavi commented on #3455
Verified.Its working now.

https://www.topcoder.com/challenges?bucket=allPast&search=framework

![image](https://user-images.githubusercontent.com/55895538/106863063-5a2afd00-670b-11eb-8c6e-c02398338836.png)

[2021-02-04 08:06] #3455 closed

[2021-02-04 08:18] sandhiyakavi commented on #3543
Closing the issue as its directing to login page now.

![image](https://user-images.githubusercontent.com/55895538/106864241-ef7ac100-670c-11eb-8e87-b1adc61b6531.png)

[2021-02-04 08:18] #3543 closed

[2021-02-04 08:59] kkartunov opened #5340 "Gig referrals"
Integrate referrals for gigs.
https://marvelapp.com/prototype/f0i4ece/screen/77065787

[2021-02-04 09:32] kkartunov opened #5341 "Revamp Email Preferences"
- Switch should reflect whether the user is assigned to that group in Mailchimp.
- **If switch is off**: This means that the user in Mailchimp does not appear in that Mailchimp Group. Clicking the switch so that it turns on should result in that Mailchimp user being added to that Mailchimp Group.
- **If switch is on**: This means that the user in Mailchimp appears in that Mailchimp Group. Clicking

[2021-02-06 11:54] maxceem opened #5342 "Markdown render issue: Inline code style is rendered like a block"
**Describe the bug**
If we enter text with code inline code formatting using "`" symbols in Work Manager, then it would be rendereded incorrectly on the challenge details page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Work Manager https://challenges.topcoder-dev.com/
2. Create a new challenge.
3. Inside challenge description enter some text with inline code, like this (see all t

[2021-02-08 05:13] sandhiyakavi commented on #2670
Closing as the issues are resolved now

[2021-02-08 05:13] #2670 closed

[2021-02-08 06:09] sandhiyakavi commented on #3476
This issue is resolved now.

![image](https://user-images.githubusercontent.com/55895538/107182052-5fe05580-6a1f-11eb-90af-6b1969ecfde3.png)
![image](https://user-images.githubusercontent.com/55895538/107182104-79819d00-6a1f-11eb-870d-56a4bcf554bb.png)
![image](https://user-images.githubusercontent.com/55895538/107182163-95853e80-6a1f-11eb-9049-b17f4587fda6.png)

[2021-02-08 06:09] #3476 closed

[2021-02-08 07:46] sandhiyakavi commented on #3513
It is now directing to Forums page after logging in

![image](https://user-images.githubusercontent.com/55895538/107189706-1f87d400-6a2d-11eb-9bc1-68531ba41b5f.png)

[2021-02-08 07:46] #3513 closed

[2021-02-08 07:58] sandhiyakavi commented on #4000
This issue is not applicable now.

[2021-02-08 07:58] #4000 closed

[2021-02-08 08:09] sandhiyakavi commented on #4096
This issue is not applicable now.

[2021-02-08 08:09] #4096 closed

[2021-02-08 08:30] sandhiyakavi commented on #4117
The My Communities tab is hided at present.

[2021-02-08 08:30] #4117 closed

[2021-02-08 08:38] sandhiyakavi commented on #4220
The count is displayed correctly now.

![image](https://user-images.githubusercontent.com/55895538/107195229-67f6c000-6a34-11eb-8511-0a136e7d0f69.png)

[2021-02-08 08:38] #4220 closed

[2021-02-08 09:09] kkartunov opened #5343 "Gsheet to Contentful integration"
Implement possibility for rendering tables on Contentful from Google sheets.

[2021-02-08 10:23] sandhiyakavi commented on #3329
My Active challenges tab is hided.

[2021-02-08 10:23] #3329 closed

[2021-02-08 10:25] sandhiyakavi commented on #4240
This issue is not applicable now.

[2021-02-08 10:25] #4240 closed

[2021-02-08 10:31] sandhiyakavi commented on #4278
closing the issue as search challenge textbox is getting displayed now.

![27604](https://user-images.githubusercontent.com/55895538/107207877-2c63f200-6a44-11eb-9cee-3e277eed6b7e.jpg)

[2021-02-08 10:31] #4278 closed

[2021-02-09 11:38] SathyaJayabal commented on #5341
verified on test
Switch should reflect whether the user is assigned to that group in Mailchimp.
If switch is off: This means that the user in Mailchimp does not appear in that Mailchimp Group. Clicking the switch so that it turns on should result in that Mailchimp user being added to that Mailchimp Group.
<img width="1440" alt="Screenshot 2021-02-09 at 3 35 12 PM" src="https://user-images.githubus

[2021-02-10 04:24] SathyaJayabal opened #5344 "Unify member skill updates based on past challenge history"
There are two tools/processors updating member skills.

[2021-02-10 04:27] SathyaJayabal commented on #4793
tracked here #4316

[2021-02-10 04:27] #4793 closed

[2021-02-10 07:44] sandhiyakavi commented on #4349
Closing the issue as the page is not directed to Splash screen now.

![image](https://user-images.githubusercontent.com/55895538/107479965-2f372200-6bbf-11eb-99a2-8206c873b8ab.png)

[2021-02-10 07:44] #4349 closed

[2021-02-10 07:55] sandhiyakavi commented on #4851
Closing this issue as it is not applicable now.

![image](https://user-images.githubusercontent.com/55895538/107480912-b3d67000-6bc0-11eb-8006-c7ba5d239608.png)

[2021-02-10 07:55] #4851 closed

[2021-02-10 07:57] sandhiyakavi commented on #4341
Closing this issue as it is not happening now.

![image](https://user-images.githubusercontent.com/55895538/107481121-0879eb00-6bc1-11eb-93d2-53cc7c95a982.png)

[2021-02-10 07:57] #4341 closed

[2021-02-10 07:59] kkartunov commented on #5343
For QA:
- sheet - https://docs.google.com/spreadsheets/d/1B0VM41UknXLAYE7XI_2ju8dtNQxaJjvQHtWr9e8Rz6o/edit#gid=429152948
- demo - http://test-community-app.topcoder-dev.com/examples/contentful/viewport/6XlI7xry4a3XEqoShTZdUt

[2021-02-10 07:59] sandhiyakavi commented on #4340
Closing the issue as it is not happening now.

![image](https://user-images.githubusercontent.com/55895538/107481345-5db5fc80-6bc1-11eb-97b1-10c6d6493d8c.png)

[2021-02-10 07:59] #4340 closed

[2021-02-10 08:05] sandhiyakavi commented on #3824
Closing the issue as it is displaying correctly now.

![image](https://user-images.githubusercontent.com/55895538/107481857-33187380-6bc2-11eb-88a6-b8accf6a91d5.png)

[2021-02-10 08:05] #3824 closed

[2021-02-10 08:08] sandhiyakavi commented on #4352
This issue still exists

Example: https://www.topcoder.com/challenges/6386a07c-0089-432b-9976-20e5173be549?tab=winners

![image](https://user-images.githubusercontent.com/55895538/107482139-a02c0900-6bc2-11eb-8a49-72864bc6e614.png)

[2021-02-10 08:16] sandhiyakavi commented on #4348
Closing this issue as it is not happening now.

![image](https://user-images.githubusercontent.com/55895538/107482970-c0a89300-6bc3-11eb-881a-9ab1550a7c29.png)

[2021-02-10 08:16] #4348 closed

[2021-02-10 08:52] sandhiyakavi commented on #4295
This issue is not applicable now.

[2021-02-10 08:52] #4295 closed

[2021-02-10 09:41] SathyaJayabal commented on #5343
@kkartunov , verified on test
<img width="1440" alt="Screenshot 2021-02-10 at 3 10 34 PM" src="https://user-images.githubusercontent.com/58783823/107492197-2855e280-6bb2-11eb-8d4c-17dda9aaebd3.png">

[2021-02-10 10:16] SathyaJayabal commented on #5341
verified on test, works as updated requirements

<img width="1440" alt="Screenshot 2021-02-10 at 3 42 32 PM" src="https://user-images.githubusercontent.com/58783823/107496104-ebd8b580-6bb6-11eb-9ee4-0108d8026ba2.png">
![image (21)](https://user-images.githubusercontent.com/58783823/107496121-f1360000-6bb6-11eb-9a2c-8d71baae477a.png)

<img width="1440" alt="Screenshot 2021-02-10 at 3 42 09 PM" src=

[2021-02-10 10:50] SathyaJayabal opened #5346 "Challenge tags not getting updated when challenge opens for registration"
Challenge tags not getting updated when challenge opens for registration

Test challenge:
https://www.topcoder-dev.com/challenges/25654143-60d0-41d8-bdd8-f5aef2421c27

No entries found in the challenge_details table for this challenge

[2021-02-11 04:21] SathyaJayabal opened #5347 "Contest tagger: impact of EMSI service trial version restrictions"
Are we using the trial version? Will these restrictions have any impact when we go to prod?
<img width="740" alt="Screenshot 2021-02-09 at 4 53 41 PM" src="https://user-images.githubusercontent.com/58783823/107602150-a4056d00-6c4e-11eb-8844-8f1f4d16bacc.png">

[2021-02-11 08:40] sandhiyakavi commented on #4287
Closing this issue as it is not happening now.

[2021-02-11 08:40] #4287 closed

[2021-02-11 08:47] sandhiyakavi commented on #4308
Thrive page filter by date is working now.

![image](https://user-images.githubusercontent.com/55895538/107616326-2dd62a00-6c91-11eb-9b79-ed94ef78ade5.png)

[2021-02-11 08:47] #4308 closed

[2021-02-11 09:35] sandhiyakavi commented on #4103
This issue is resolved now.
![image](https://user-images.githubusercontent.com/55895538/107620352-e4d5a400-6c97-11eb-8068-314d2b82d66f.png)

[2021-02-11 09:35] #4103 closed

[2021-02-12 09:29] nursoltan-s opened #5349 "Review Opportunities page crashes in Prod"
**Describe the bug**
Review Opportunities page crashes in Production.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/challenges/30164391/review-opportunities
2. Open developer console
3. See error

**Expected behavior**
page should load

**Screenshots**
<img width="1430" alt="Screen Shot 2021-02-12 at 17 27 18" src="https://user-images.githubusercontent.com/77

[2021-02-13 09:28] SathyaJayabal commented on #5347
We do not use EMSi service
https://topcoder.slack.com/archives/C01K19ZBNSW/p1613066084025900?thread_ts=1612869459.450700&cid=C01K19ZBNSW

[2021-02-13 09:28] #5347 closed

[2021-02-15 05:43] RiteshTC opened #5350 "Unable to download Arena Applet due to mixed content error"
**Describe the bug**
Unable to download Arena applet from Chrome 88+ version.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/community/arena
2. Click on 'Download Java Appet.'
3. See error in Console.

**Screenshots**

<img width="1427" alt="Mixed_ContentError" src="https://user-images.githubusercontent.com/5771673/107909681-bea55200-6f7e-11eb-89f1-9786cd899bd0

[2021-02-15 09:15] SathyaJayabal opened #5351 "Member skills are not getting updated when a member wins a challenge"
The member skill extractor is not updating the members skills when a member is placed in a challenge.
Example:
member: tester1234
challenge: https://www.topcoder-dev.com/challenges/cfc3f821-64e4-4585-8fdc-744928d2bc9f
the member_skills_history table is not updated with the skills for the this member

cc @lakshmiathreya

[2021-02-16 06:31] RiteshTC opened #5352 "Community App doesn’t shows a user as registered after registration"
Register to a challenge.
Registration email is received but submit button is not enabled.
Discussion forums tab is not visible as well.

[2021-02-16 06:47] sushilshinde commented on #5352
@RiteshTC can you please provide examples?

[2021-02-16 07:24] RiteshTC opened #5353 "User Ids are displayed instead of Handles"
Go to challenge
https://www.topcoder.com/challenges/07596fc0-961b-471b-aca9-0932501ef594?tab=submissions

Check the handles on submission tab.
<img width="1284" alt="UserIds Displayed" src="https://user-images.githubusercontent.com/5771673/108030939-03e88300-7056-11eb-952b-1739c341ed8b.png">

[2021-02-16 07:29] RiteshTC commented on #5352
@sushilshinde Screenshot received from the member shared in PDC channel.
Another one using my user Registration complete but there is no discussions tab.
<img width="1325" alt="Screen Shot 2021-02-16 at 12 57 39 PM" src="https://user-images.githubusercontent.com/5771673/108031346-b6204a80-7056-11eb-8d76-c886e15af76b.png">

[2021-02-16 07:39] sushilshinde commented on #5352
any other example?

[2021-02-16 07:57] rootelement commented on #5352
@RiteshTC please test again. I deployed a temporary fix allows me to register for the screenshotted challenge above.

[2021-02-16 08:03] SathyaJayabal commented on #5352
@RiteshTC , there were two issues.
1. User's registration not showing up in challenge details page. This should be fixed by @rootelement 's temp fix.
2. The challenge discussion link not displayed, for the screenshot you have above
https://www.topcoder.com/challenges/9ffff72c-ad6a-4c70-b0bf-ac52fd049558?tab=registrants
It looks like the forum was not created for this challenge. Lets move this issu

[2021-02-16 08:10] rootelement commented on #5352
There's a chance it was related from the forum-processor. Please cross-link the thread here. I'll talk to @jmgasper too

[2021-02-16 12:05] SathyaJayabal commented on #5341
@kkartunov, as we saw in the call unsubscribing from the email, and then resubscribing from the preferences page does not work.

[2021-02-16 12:10] SathyaJayabal commented on #5349
@nursoltan-s , work around. loads on refreshing the page.

[2021-02-16 12:19] kkartunov commented on #5341
Yes. @luizrrodrigues please exclude from release.

[2021-02-16 14:02] sandhiyakavi opened #5354 "Gig Listings: Issues in Location dropdown"
Description:

1. Field name is missing for Location dropdown.
![image](https://user-images.githubusercontent.com/55895538/108072306-11c7f380-70aa-11eb-9427-6cb70850b0cc.png)

2.  If a location is selected from dropdown, the selected location is not appearing in the field.

https://user-images.githubusercontent.com/55895538/108072883-ca8e3280-70aa-11eb-9cbb-0e197815e7d5.mp4

[2021-02-16 15:52] drasticdpk opened #5357 "Unable to download submission from OR"
**Reference** :
https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30058299

User : jcori/appirio123

![image](https://user-images.githubusercontent.com/25297859/108084623-86943100-709c-11eb-988a-e5405dd7fec9.png)
![image](https://user-images.githubusercontent.com/25297859/108084658-914ec600-709c-11eb-811a-fe0732a4ea7d.png)
Note : Please let us know if this is due submission A

[2021-02-16 15:53] drasticdpk commented on #5357
cc @SathyaJayabal @lakshmiathreya

[2021-02-16 17:25] #5352 closed

[2021-02-16 17:43] SathyaJayabal commented on #5343
verified on prod
<img width="1440" alt="Screenshot 2021-02-16 at 11 13 04 PM" src="https://user-images.githubusercontent.com/58783823/108100913-90be2b80-70ac-11eb-94a2-38aab0e9754a.png">

[2021-02-16 17:43] #5343 closed

[2021-02-16 17:46] SathyaJayabal commented on #5357
@drasticdpk , only in dev right?

[2021-02-17 03:39] drasticdpk commented on #5357
Yes it is  in dev mode.

[2021-02-17 06:13] lakshmiathreya commented on #5357
@sachin-maheshwari can we move this Issue to submissions api repo? cc @SathyaJayabal @mtwomey @drasticdpk

[2021-02-17 06:17] SathyaJayabal commented on #5357
@lakshmiathreya , we need to move it to OR repo
https://github.com/topcoder-platform/tc-online-review

[2021-02-17 06:42] SathyaJayabal opened #5361 "Add recommended challenges for private communities"
Enhancement: Add recommended challenges for private communities

[2021-02-17 06:53] lakshmiathreya commented on #5361
cc @Oanh-and-only-Oanh

[2021-02-17 06:58] #5357 closed

[2021-02-17 13:59] SathyaJayabal commented on #5341
@kkartunov , resubscribe works now

[2021-02-18 15:23] Oanh-and-only-Oanh opened #5366 "Forums on top navigation should take use to Vanilla Forums"
Currently, when user clicks Forums, it takes user to our legacy Jive Forums.

Expected: When user clicks Forums on top navigation, user should be taken to Vanilla Forums https://discussions.topcoder.com/

[2021-02-18 17:39] luizrrodrigues opened #5367 "Update nav item for TopGear"

[2021-02-19 01:06] luizrrodrigues commented on #5367
@SathyaJayabal Deployed to Test env

[2021-02-19 04:22] SathyaJayabal opened #5369 "Extract Member Skills History for past challenges"
Extract Member Skills History for past challenges.

[2021-02-19 04:24] sandhiyakavi commented on #5367
Verified on Test Env. Title "Learn" changed into "TopGear Operations"

![image](https://user-images.githubusercontent.com/55895538/108457326-c97d2100-72b5-11eb-8794-d4ecea61efe9.png)

[2021-02-19 09:54] kkartunov opened #5370 "Fix infinity loading on TCO21 copilot leaderboards"
Go to: https://tco21.topcoder.com/competition-overview/win-a-trip/copilot-tournament
Scroll to dev
Click on S1 winner for details

[2021-02-19 11:10] luizrrodrigues commented on #5366
@Oanh-and-only-Oanh:
- When click in forum link, will keep opening in new window?

[2021-02-19 11:21] SathyaJayabal opened #5371 "Recommended Challenges: Hide Sorting options "Most recent" and "Title A-Z" when recommended toggle is on"
When the recommended toggle is on, the default sort option is best match. But when the user selects other sort options like most recent and title(A-Z) the sort does not work.

<img width="1440" alt="Screenshot 2021-02-19 at 4 46 13 PM" src="https://user-images.githubusercontent.com/58783823/108497808-07883e00-72d2-11eb-9726-966ab6be26ee.png">

[2021-02-19 11:25] SathyaJayabal commented on #5351
The issue is with the Challenge completion event not being generated. The member skills processor works as expected when we generate the events manually.

[2021-02-19 11:26] SathyaJayabal commented on #5346
The issue is with the registration phase start event not being generated. The member skills processor works as expected when we generate the events manually.

[2021-02-19 12:17] SathyaJayabal opened #5372 "Recommended Challenges: HIde sub community filter when recommended toggle is on"
When the recommended challenges toggle is on, the sub-community filter does not work
.
<img width="1440" alt="Screenshot 2021-02-19 at 5 47 04 PM" src="https://user-images.githubusercontent.com/58783823/108503537-8c775580-72da-11eb-974c-f4c2a9022131.png">
<img width="1440" alt="Screenshot 2021-02-19 at 5 47 11 PM" src="https://user-images.githubusercontent.com/58783823/108503547-913c0980-72da-11eb

[2021-02-19 12:38] SathyaJayabal opened #5373 "Highlighting Matched Skills: Clarification"
@Oanh-and-only-Oanh ,

The Open for registration list shows the copilot entered tags below the challenge. When the recommended challenges toggle is on, the matched skills are displayed. these are extracted skills from the spec, that also match the user's skills.

Is this behaviour fine, where the user sees additional skills to the challenge once recommended toggle is on?
<img width="983" alt="Scre

[2021-02-19 12:55] nursoltan-s commented on #5371
<img width="1440" alt="Screen Shot 2021-02-19 at 20 53 21" src="https://user-images.githubusercontent.com/7783676/108506948-94dc8a00-72f4-11eb-9ea9-1681fd9e2b95.png">

Frontend sending request with "sortBy" query parameter. I tried with "sort_by" as well. Can we check if it's backend issue or not?

cc @dedywahyudi

[2021-02-19 12:58] nursoltan-s commented on #5372
<img width="1440" alt="Screen Shot 2021-02-19 at 20 57 40" src="https://user-images.githubusercontent.com/7783676/108507390-349a1800-72f5-11eb-80aa-3e13096db4c1.png">

Is backend supports "events[]" filter?

cc @dedywahyudi

[2021-02-19 13:04] luizrrodrigues commented on #5366
@SathyaJayabal Deployed to QA and Stag envs.

[2021-02-19 13:28] SathyaJayabal commented on #5366
@luizrrodrigues , forums links in the footer needs to be updated too (for logged in and not logged in users).

[2021-02-19 13:52] luizrrodrigues commented on #5366
@SathyaJayabal I'll update and push shortly

[2021-02-19 14:09] dedywahyudi commented on #5371
@nursoltan-s
I think recommender-api not support the SortBy yet.
I'll check with backend developer

[2021-02-19 14:10] luizrrodrigues commented on #4982
@SathyaJayabal Deployed to QA env.

[2021-02-19 14:10] dedywahyudi commented on #5372
@nursoltan-s Same here, events not supported yet i think

[2021-02-19 15:13] luizrrodrigues commented on #5366
@SathyaJayabal Updated and deployed to QA env.

[2021-02-19 15:26] Oanh-and-only-Oanh commented on #5366
@luizrrodrigues it doesn't need to open in new window anymore.

[2021-02-19 15:28] luizrrodrigues commented on #5366
@Oanh-and-only-Oanh Cool. I'll updated.

[2021-02-20 12:34] SathyaJayabal commented on #5366
Verified
<img width="1440" alt="Screenshot 2021-02-20 at 6 01 48 PM" src="https://user-images.githubusercontent.com/58783823/108595437-e2fd9600-73a5-11eb-94d1-474a8c7feed0.png">
<img width="1440" alt="Screenshot 2021-02-20 at 6 02 19 PM" src="https://user-images.githubusercontent.com/58783823/108595448-f01a8500-73a5-11eb-9231-51f6dedab6af.png">

[2021-02-20 12:41] SathyaJayabal commented on #4982
The following are not working
My Challenges:
Time to submit
<img width="1440" alt="Screenshot 2021-02-20 at 6 06 17 PM" src="https://user-images.githubusercontent.com/58783823/108595600-cc0b7380-73a6-11eb-9ea6-a814e4e5a732.png">
Open for registration:
Time to submit
Time to register
<img width="1440" alt="Screenshot 2021-02-20 at 6 09 47 PM" src="https://user-images.githubusercontent.com/58783823/

[2021-02-21 18:49] luizrrodrigues commented on #4982
@SathyaJayabal Thanks.

@ThomasKranitsas can you confirm if both params to sort is right:

1) `sortBy=registrationEndDate`: https://api.topcoder.com/v5/challenges/?status=Active&currentPhaseName=Registration&perPage=10&page=1&sortBy=registrationEndDate&sortOrder=desc&tracks[]=Dev&tracks[]=Des&tracks[]=DS&tracks[]=QA&types[]=CH&types[]=F2F&types[]=TSK

2) `sortBy=submissionEndDate`: https://api.top

[2021-02-21 19:03] ThomasKranitsas commented on #4982
@luizrrodrigues yes, that looks correct to me

[2021-02-21 22:46] luizrrodrigues commented on #4982
@ThomasKranitsas thanks for check, so looks like API not returning correct sort in both case, please check @SathyaJayabal screenshots above. (this deployed to Stag env: https://staging-community-app.topcoder.com/challenges)

[2021-02-21 22:47] luizrrodrigues commented on #4982
@Oanh-and-only-Oanh You want go with `prize` sort only until we have API fixed? (I can hide `Time to Register` and `Time to Submit` for now.

[2021-02-22 05:46] SathyaJayabal opened #5375 "Dynamic loading is not working when recommended toggle is on"
When there are more than 10 recommended challenges , when the user scrolls down, more challenges must be loaded.
Also the count is also displayed only as 10.
example: user : tonyj
The api returns 11 challenges with non zero jaccard_index (match score). but only 10 are displayed.
<img width="1440" alt="Screenshot 2021-02-22 at 11 15 33 AM" src="https://user-images.githubusercontent.com/58783823/108

[2021-02-22 06:10] sandhiyakavi commented on #5370
@kkartunov I tried the above steps in Prod Env ,its taking time to load but displaying eventually. Can you please confirm what I tested is correct? Attached video.
If not please let me know what exactly needs to be tested.

https://user-images.githubusercontent.com/55895538/108669199-e3ba3780-751f-11eb-8e98-271f8901dc54.mp4

[2021-02-22 09:08] SathyaJayabal commented on #5367
verified on staging (develop)
<img width="1440" alt="Screenshot 2021-02-22 at 2 37 30 PM" src="https://user-images.githubusercontent.com/58783823/108686514-8ae8a000-751b-11eb-993b-f9011a54c438.png">

[2021-02-22 09:26] SathyaJayabal commented on #5341
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-02-22 at 2 44 27 PM" src="https://user-images.githubusercontent.com/58783823/108688514-051a2400-751e-11eb-8064-75e8b7fca0e3.png">
![image (22)](https://user-images.githubusercontent.com/58783823/108688529-08adab00-751e-11eb-9559-8335b27d9fab.png)

<img width="1440" alt="Screenshot 2021-02-22 at 2 46 27 PM" src="https://use

[2021-02-22 10:44] SathyaJayabal commented on #5367
verified on prod
<img width="1439" alt="Screenshot 2021-02-22 at 4 14 08 PM" src="https://user-images.githubusercontent.com/58783823/108697554-06048300-7529-11eb-9329-d8c7a52d1507.png">

[2021-02-22 10:44] #5367 closed

[2021-02-22 10:46] SathyaJayabal commented on #5366
verified on prod

[2021-02-22 10:46] #5366 closed

[2021-02-22 13:01] SathyaJayabal commented on #5341
verified on prod by @kkartunov

[2021-02-22 13:01] #5341 closed

[2021-02-22 13:59] kkartunov commented on #5370
@sandhiyakavi yes correct tested.
Although it currently works(was fixed by support) this fix here implements better error handling and etc. Therefore we will proceed to merge it.

See how those requests are fired in offline mode. This should not be and is fixed in the patch.
https://drive.google.com/file/d/11fnxSKqMwDdc_By7XLFyWq1pdDNZ25ME/view?usp=drivesdk

[2021-02-22 18:09] luizrrodrigues opened #5377 "Challenge Forum link in challenge details page redirecting to Vanilla Roundtables"
Example challenge: https://www.topcoder.com/challenges/d38904ea-ef4a-4315-b955-6b3be1dc63b7

[2021-02-22 18:11] luizrrodrigues commented on #5377
@SathyaJayabal deployed to QA env.

[2021-02-23 02:06] SathyaJayabal commented on #5377
@luizrrodrigues , challenge link from example challenge in QA env going to Old dev forums with read only banner
https://qa-community-app.topcoder-dev.com/challenges/84588230-34b8-4280-bc94-a45ebc8fd8ae

<img width="1440" alt="Screenshot 2021-02-23 at 7 35 09 AM" src="https://user-images.githubusercontent.com/58783823/108793513-aef2c280-75a9-11eb-94ea-1f7ce1897e6e.png">

[2021-02-23 02:07] SathyaJayabal commented on #5377
Can we deploy this on staging, @luizrrodrigues

[2021-02-23 05:29] SathyaJayabal commented on #5370
verified on test

https://user-images.githubusercontent.com/58783823/108805628-03a43680-75c6-11eb-80e9-64a5201f52b8.mov

[2021-02-23 05:30] dedywahyudi commented on #5372
Closing this, will taken care in next release

[2021-02-23 05:30] dedywahyudi commented on #5371
Closing this, will taken care in next release

[2021-02-23 06:14] SathyaJayabal opened #5379 "Placement of search bar"
Placement fo search bar is displayed on the right. It should be as it is in production

<img width="1440" alt="Screenshot 2021-02-23 at 11 42 21 AM" src="https://user-images.githubusercontent.com/58783823/108808313-5da7fa80-75cc-11eb-9a0d-159b5dbfec78.png">

[2021-02-23 06:46] luizrrodrigues commented on #5377
@SathyaJayabal Sorry, yeah. The best way to test old forum is in Stag. I'll deploy now.

[2021-02-23 07:06] luizrrodrigues commented on #5377
@SathyaJayabal Deployed to Stag env.

[2021-02-23 07:06] SathyaJayabal opened #5380 "Filter by track and type issue when all filters are off"
When all track filters are switched off or when all type filters are switched off, then the page keeps loading.
<img width="1440" alt="Screenshot 2021-02-23 at 12 33 56 PM" src="https://user-images.githubusercontent.com/58783823/108811708-bcbd3d80-75d3-11eb-8498-08a5577e8058.png">
<img width="1440" alt="Screenshot 2021-02-23 at 12 35 07 PM" src="https://user-images.githubusercontent.com/58783823/1

[2021-02-23 07:20] kkartunov commented on #5300
For QA: an easy way to test this is by mocking the offline state in the network tab.
![image](https://user-images.githubusercontent.com/5585002/108812802-6bec1b80-75b8-11eb-91dc-95ca23edf36b.png)

[2021-02-23 08:51] SathyaJayabal commented on #5379
@dedywahyudi , another example. search should be above the message
<img width="1440" alt="Screenshot 2021-02-23 at 2 20 32 PM" src="https://user-images.githubusercontent.com/58783823/108820598-6d323e00-75e2-11eb-81eb-e394b4eaa47c.png">

[2021-02-23 08:57] SathyaJayabal commented on #5377
@luizrrodrigues , verified on staging

https://user-images.githubusercontent.com/58783823/108821112-255fe680-75e3-11eb-94b5-61912a2d4951.mov

[2021-02-23 08:57] dedywahyudi commented on #5375
@dedywahyudi Okay, clear

[2021-02-23 08:59] dedywahyudi commented on #5379
@SathyaJayabal Ok got it

[2021-02-23 08:59] dedywahyudi commented on #5380
@SathyaJayabal Clear about this.

[2021-02-23 10:11] SathyaJayabal commented on #5377
verified on staging (develop branch)

https://user-images.githubusercontent.com/58783823/108828934-81c80380-75ed-11eb-8efc-82cf87f054d2.mov

[2021-02-23 10:45] SathyaJayabal opened #5382 "Update link to Forums preferences"
Link from preferences page is pointing to old forums. This has to be updated

<img width="1440" alt="Screenshot 2021-02-23 at 4 14 54 PM" src="https://user-images.githubusercontent.com/58783823/108833068-509e0200-75f2-11eb-8343-06a076da4052.png">

existing link:https://apps.topcoder.com/forums/?module=Settings
@jmgasper , do you have user preferences on vanilla?

cc @sushilshinde @Oanh-and-only-Oa

[2021-02-23 10:48] jmgasper commented on #5382
@SathyaJayabal - I think it should be https://discussions.topcoder.com/profile/preferences

[2021-02-23 11:42] SathyaJayabal commented on #5377
verified on prod

https://user-images.githubusercontent.com/58783823/108838899-4ed83c80-75fa-11eb-9544-c65fe3879fa2.mov

[2021-02-23 11:42] #5377 closed

[2021-02-23 14:55] SathyaJayabal opened #5384 "Update % calculation on the FE"
Jaccard index gives a score range of [0-1]. FE % match score calculation must be updated to reflect this.

@dedywahyudi

cc @Oanh-and-only-Oanh

[2021-02-23 15:17] Oanh-and-only-Oanh commented on #4982
@luizrrodrigues, we're changing requirement here to add only by prize. We can ignore the other perimeters.

[2021-02-23 21:47] luizrrodrigues commented on #4982
@Oanh-and-only-Oanh Okay cool, I'll update to hide `Time to Register` and `Time to Submit`

[2021-02-24 03:18] SathyaJayabal commented on #5340
verified on dev env

gig details page
<img width="1440" alt="Screenshot 2021-02-24 at 8 35 42 AM" src="https://user-images.githubusercontent.com/58783823/108942163-7b349d00-767c-11eb-8949-148749431b5a.png">

gig referral
<img width="660" alt="Screenshot 2021-02-24 at 8 35 09 AM" src="https://user-images.githubusercontent.com/58783823/108942177-825bab00-767c-11eb-90fe-13a3489c9359.png">

how it wor

[2021-02-24 03:27] SathyaJayabal commented on #5300
@kkartunov , I dont find this deployed yet.

[2021-02-24 03:28] SathyaJayabal commented on #5354
@kkartunov , I dont find this deployed yet.

[2021-02-24 03:40] SathyaJayabal opened #5385 "Add env var ENABLE_RECOMMENDER to community app frontend env"
Add env var ENABLE_RECOMMENDER  to community app frontend env both dev/prod with its value true , and also add code on frontend to render the recommender-toggle button based on this flag’s value.

[2021-02-24 03:42] Oanh-and-only-Oanh commented on #5373
these matched skills are manually added by copilot or extracted from spec? We just want highlighted skills if they match extracted skills.

[2021-02-24 03:43] SathyaJayabal commented on #5373
@Oanh-and-only-Oanh , The matched skills are extracted from the spec.

[2021-02-24 03:43] #5373 closed

[2021-02-24 03:45] SathyaJayabal commented on #5372
@dedywahyudi , we need to hide sub community filter when recommended toggle is on

[2021-02-24 03:46] SathyaJayabal commented on #5371
@dedywahyudi , we are hiding sort options "Most recent" and "Title A-Z"

[2021-02-24 03:52] dedywahyudi commented on #5372
Yes, clear about hide the sub-community filter

[2021-02-24 03:52] dedywahyudi commented on #5371
Ok, clear about to hide those 2 options

[2021-02-24 04:10] dedywahyudi opened #5386 "CORS issues on beta environment"
Can you allowed beta-community-app.topcoder.com to received access from recommender-api

url: beta-community-app.topcoder.com/challenges?bucket=openForRegistration&tracks[DS]=true&tracks[Des]=true&tracks[Dev]=true&tracks[QA]=true&types[]=CH&types[]=F2F&types[]=TSK

![Screen Shot 2021-02-24 at 10 54 03](https://user-images.githubusercontent.com/4476442/108946378-e1c3b600-7690-11eb-84ba-0d991b290d99

[2021-02-24 04:13] dedywahyudi opened #5387 "Missing x-total when access from frontend"
- We face weird situation, we see the x-total when testing from Postman. but not from frontend (headers return empty).
- Maybe this is related to backend api about CORS_ALLOW_HEADERS custom headers to have necessary headers (x-total, x-pages..). Check reference here: https://pypi.org/project/django-cors-headers/

<img width="402" alt="Screen Shot 2021-02-23 at 23 33 59" src="https://user-images.gi

[2021-02-24 05:20] SathyaJayabal commented on #5371
@dedywahyudi , just to be clear hide only when recommended toggle is on

[2021-02-24 06:30] SathyaJayabal commented on #5340
verified
<img width="1440" alt="Screenshot 2021-02-24 at 11 59 36 AM" src="https://user-images.githubusercontent.com/58783823/108957611-cd36ec00-7697-11eb-813b-5b4b1fefcc05.png">

[2021-02-24 07:08] SathyaJayabal commented on #5354
verified on qa
<img width="1440" alt="Screenshot 2021-02-24 at 12 37 00 PM" src="https://user-images.githubusercontent.com/58783823/108961269-189fc900-769d-11eb-872f-8427e9ef8b3e.png">
<img width="1440" alt="Screenshot 2021-02-24 at 12 37 22 PM" src="https://user-images.githubusercontent.com/58783823/108961295-22c1c780-769d-11eb-98e3-9b6aea3a47d2.png">
<img width="1440" alt="Screenshot 2021-02-24

[2021-02-24 07:15] SathyaJayabal commented on #5300
verified on qa env
<img width="1440" alt="Screenshot 2021-02-24 at 12 44 35 PM" src="https://user-images.githubusercontent.com/58783823/108961988-2013a200-769e-11eb-92aa-814a36bacbfb.png">

[2021-02-24 07:30] RishiRajSahu commented on #5346
@SathyaJayabal please check challenges which got open in last 12hrs and they got tagged or not.

[2021-02-24 07:31] RishiRajSahu commented on #5351
@SathyaJayabal please check skills for members who won in last 12 hrs and update here.

[2021-02-24 07:52] RishiRajSahu commented on #5346
@SathyaJayabal could you put your details here about last 12hrs challenges which got opened ?

[2021-02-24 07:57] SathyaJayabal commented on #5346
@RishiRajSahu , only one challenge open for registration in last 12 hours and it has been tagged.
https://www.topcoder.com/challenges/574b255b-1c6b-4177-b1e8-aa2b2d487b71

Let me update here after another 12 hours

[2021-02-24 08:03] SathyaJayabal commented on #5351
@RishiRajSahu , latest completed challenge winner's member skills not updated
https://www.topcoder.com/challenges/ba01774f-010c-4ca3-9cb2-be37629e7611

[2021-02-24 16:15] dedywahyudi commented on #5371
local testing:

![Screen Shot 2021-02-24 at 23 14 46](https://user-images.githubusercontent.com/4476442/109030116-1ddd3200-76f6-11eb-83fa-f6457e54bdb6.png)

![Screen Shot 2021-02-24 at 23 14 31](https://user-images.githubusercontent.com/4476442/109030110-1cac0500-76f6-11eb-843a-2b8fcdd29d77.png)

[2021-02-24 16:15] dedywahyudi commented on #5372
Local testing:

![Screen Shot 2021-02-24 at 23 14 31](https://user-images.githubusercontent.com/4476442/109030236-377e7980-76f6-11eb-88fb-dfd3b40d0105.png)
![Screen Shot 2021-02-24 at 23 14 46](https://user-images.githubusercontent.com/4476442/109030242-38afa680-76f6-11eb-88ec-90e4aab0bd8b.png)

[2021-02-24 16:17] dedywahyudi commented on #5375
Local testing:

https://user-images.githubusercontent.com/4476442/109030457-672d8180-76f6-11eb-82d4-f7a9cc343257.mp4

[2021-02-24 16:18] dedywahyudi commented on #5379
Local testing:

![Screen Shot 2021-02-24 at 23 17 45](https://user-images.githubusercontent.com/4476442/109030642-8e844e80-76f6-11eb-9eb1-6c22de2a60d6.png)

[2021-02-24 16:20] dedywahyudi commented on #5380
Local testing:
https://user-images.githubusercontent.com/4476442/109031025-e91daa80-76f6-11eb-8f76-30adb346e8f7.mp4

[2021-02-24 16:24] dedywahyudi commented on #5384
Code updated here:

https://github.com/topcoder-platform/community-app/blob/feature/poc-recommender-sub-2/src/shared/utils/challenge-listing/helper.js#L41-L43

[2021-02-24 16:25] dedywahyudi commented on #5385
Variable added here: https://github.com/topcoder-platform/community-app/blob/feature/poc-recommender-sub-2/config/default.js#L417

[2021-02-25 02:40] SathyaJayabal opened #5390 "Challenges not loading when recommended toggle is on"
Challenges not loading when recommended toggle is on in DEV env

<img width="1440" alt="Screenshot 2021-02-25 at 7 58 36 AM" src="https://user-images.githubusercontent.com/58783823/109094962-dc25a900-7740-11eb-80d6-7dad8a40fcfc.png">

@sushilshinde @luizrrodrigues , please help, this seems to be url env issue

[2021-02-25 02:41] dedywahyudi commented on #5390
I think the api url need to `https` need check if the endpoint correct too for dev.

[2021-02-25 02:57] SathyaJayabal commented on #5384
verified on dev
<img width="1440" alt="Screenshot 2021-02-25 at 8 26 53 AM" src="https://user-images.githubusercontent.com/58783823/109096284-47707a80-7743-11eb-94a7-ec9495f85b75.png">

[2021-02-25 02:59] SathyaJayabal commented on #5380
verified on dev env
<img width="1440" alt="Screenshot 2021-02-25 at 8 28 30 AM" src="https://user-images.githubusercontent.com/58783823/109096460-94545100-7743-11eb-8a8c-5e25abb9b890.png">
<img width="1440" alt="Screenshot 2021-02-25 at 8 28 53 AM" src="https://user-images.githubusercontent.com/58783823/109096476-99b19b80-7743-11eb-974a-8f556c28c869.png">

[2021-02-25 03:01] SathyaJayabal commented on #5379
verified don dev
<img width="1440" alt="Screenshot 2021-02-25 at 8 30 20 AM" src="https://user-images.githubusercontent.com/58783823/109096552-c2d22c00-7743-11eb-872b-ce4ea80dde10.png">

[2021-02-25 03:58] SathyaJayabal commented on #5372
verified on dev env
<img width="1440" alt="Screenshot 2021-02-25 at 9 27 45 AM" src="https://user-images.githubusercontent.com/58783823/109100929-ccf82880-774b-11eb-9424-f5dd318fb6ef.png">
<img width="1440" alt="Screenshot 2021-02-25 at 9 27 50 AM" src="https://user-images.githubusercontent.com/58783823/109100935-d1bcdc80-774b-11eb-905e-1becdfec8862.png">

[2021-02-25 04:00] SathyaJayabal commented on #5371
verified on dev
<img width="1440" alt="Screenshot 2021-02-25 at 9 29 30 AM" src="https://user-images.githubusercontent.com/58783823/109101055-0892f280-774c-11eb-9a6a-ff5e56f32ad9.png">
<img width="1440" alt="Screenshot 2021-02-25 at 9 29 39 AM" src="https://user-images.githubusercontent.com/58783823/109101075-0d57a680-774c-11eb-85e1-a15dfe306277.png">

[2021-02-25 04:35] SathyaJayabal commented on #5385
verified on beta
<img width="1440" alt="Screenshot 2021-02-25 at 10 03 07 AM" src="https://user-images.githubusercontent.com/58783823/109103414-dd5ed200-7750-11eb-9828-d1a43e6b111e.png">

[2021-02-25 04:54] SathyaJayabal commented on #5385
verified on dev
<img width="1440" alt="Screenshot 2021-02-25 at 10 22 35 AM" src="https://user-images.githubusercontent.com/58783823/109105266-94f4e380-7753-11eb-8786-de7f6ad5ca68.png">

[2021-02-25 04:57] #5385 closed

[2021-02-25 04:57] #5384 closed

[2021-02-25 04:57] #5380 closed

[2021-02-25 04:57] #5379 closed

[2021-02-25 04:57] #5375 closed

[2021-02-25 04:58] #5372 closed

[2021-02-25 04:58] #5371 closed

[2021-02-25 05:04] SathyaJayabal commented on #5346
@RishiRajSahu, update: two more challenges opened for registration, one was tagged and the other not tagged.
https://www.topcoder.com/challenges/cf15e634-251d-48cb-bf92-8b72e66c9246 - not tagged
https://www.topcoder.com/challenges/68f9548b-0a94-4f5b-a5ba-6b8b1619c859 - tagged

[2021-02-25 05:05] SathyaJayabal commented on #5351
Update: Member skills processor now listen to events from AP. The fix is currently on dev.

[2021-02-25 05:40] luizrrodrigues commented on #4982
@SathyaJayabal Deployed to Stag env.

[2021-02-25 06:04] SathyaJayabal commented on #4982
verified on staging
<img width="1440" alt="Screenshot 2021-02-25 at 11 32 43 AM" src="https://user-images.githubusercontent.com/58783823/109110552-667c0600-775d-11eb-96b6-35256ac54371.png">
<img width="1440" alt="Screenshot 2021-02-25 at 11 33 34 AM" src="https://user-images.githubusercontent.com/58783823/109110571-6e3baa80-775d-11eb-9fd6-39a4deab2279.png">
<img width="1440" alt="Screenshot 2021-0

[2021-02-25 06:36] SathyaJayabal commented on #5325
Verified on beta
FE Requirements:

- Add a recommended toggle to the filter panel
verified
-  Recommended toggle must be displayed only for Open for Registration bucket
verified
-  Recommended toggle must be displayed only for logged in users
verified
-  When recommended toggle is checked, add sort option best match to Open for Registration bucket
verified
-  This is the default sort option and wh

[2021-02-25 13:11] SathyaJayabal commented on #5354
verified on staging  (develop branch)
<img width="1440" alt="Screenshot 2021-02-25 at 6 40 09 PM" src="https://user-images.githubusercontent.com/58783823/109158127-f5f2da80-7798-11eb-9ef5-6b969e239ca1.png">
<img width="1440" alt="Screenshot 2021-02-25 at 6 40 13 PM" src="https://user-images.githubusercontent.com/58783823/109158137-fab78e80-7798-11eb-96b9-07ef355e7d34.png">

[2021-02-25 13:14] SathyaJayabal commented on #5300
verified on staging - develop branch
<img width="1440" alt="Screenshot 2021-02-25 at 6 42 46 PM" src="https://user-images.githubusercontent.com/58783823/109158463-6863ba80-7799-11eb-88d3-c00091223f66.png">

[2021-02-25 13:17] SathyaJayabal commented on #5340
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-02-25 at 6 45 39 PM" src="https://user-images.githubusercontent.com/58783823/109158812-e031e500-7799-11eb-80ab-e409e1e934ee.png">
<img width="724" alt="Screenshot 2021-02-25 at 6 45 58 PM" src="https://user-images.githubusercontent.com/58783823/109158823-e1fba880-7799-11eb-867f-998171c2df0c.png">
<img width="1400" alt="Scr

[2021-02-25 13:24] SathyaJayabal commented on #4982
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-02-25 at 6 51 04 PM" src="https://user-images.githubusercontent.com/58783823/109159370-8aaa0800-779a-11eb-85ca-0dd5748deb0d.png">
<img width="1440" alt="Screenshot 2021-02-25 at 6 51 24 PM" src="https://user-images.githubusercontent.com/58783823/109159378-8bdb3500-779a-11eb-8e89-7164a101fe3f.png">

<img width="1440" alt="S

[2021-02-25 13:28] SathyaJayabal commented on #5370
verified on staging (develop branch)

https://user-images.githubusercontent.com/58783823/109160126-669af680-779b-11eb-9db5-f8746898559a.mov

[2021-02-25 15:26] SathyaJayabal commented on #4982
verified on prod.

<img width="1440" alt="Screenshot 2021-02-25 at 8 54 45 PM" src="https://user-images.githubusercontent.com/58783823/109175479-d74a0f00-77ab-11eb-8e80-29f52c61ad89.png">
<img width="1440" alt="Screenshot 2021-02-25 at 8 54 53 PM" src="https://user-images.githubusercontent.com/58783823/109175495-dc0ec300-77ab-11eb-8d42-78a5fb5f69f0.png">
<img width="1440" alt="Screenshot 2021-02-2

[2021-02-25 15:26] #4982 closed

[2021-02-25 15:26] luizrrodrigues commented on #4982
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-02-25 15:29] SathyaJayabal commented on #5370
verified on prod

https://user-images.githubusercontent.com/58783823/109175964-56d7de00-77ac-11eb-87b8-92fcea96c1ea.mov

[2021-02-25 15:29] #5370 closed

[2021-02-25 15:31] SathyaJayabal commented on #5354
verified on prod
<img width="1440" alt="Screenshot 2021-02-25 at 9 00 19 PM" src="https://user-images.githubusercontent.com/58783823/109176189-90a8e480-77ac-11eb-99dd-f838f94ba6dd.png">
<img width="1440" alt="Screenshot 2021-02-25 at 9 00 23 PM" src="https://user-images.githubusercontent.com/58783823/109176222-96062f00-77ac-11eb-8694-4e3ae6394a5e.png">

[2021-02-25 15:31] #5354 closed

[2021-02-25 15:35] SathyaJayabal commented on #5300
verified on prod
<img width="1440" alt="Screenshot 2021-02-25 at 9 03 39 PM" src="https://user-images.githubusercontent.com/58783823/109176583-f9905c80-77ac-11eb-8ce9-6ba453769ec9.png">

[2021-02-25 15:35] #5300 closed

[2021-02-25 15:38] SathyaJayabal commented on #5340
verified on prod
<img width="1440" alt="Screenshot 2021-02-25 at 9 06 07 PM" src="https://user-images.githubusercontent.com/58783823/109177171-8509ed80-77ad-11eb-92af-49f9ca594ec1.png">
<img width="1440" alt="Screenshot 2021-02-25 at 9 06 22 PM" src="https://user-images.githubusercontent.com/58783823/109177197-8cc99200-77ad-11eb-9ee4-f7c925ed58e8.png">
<img width="708" alt="Screenshot 2021-02-25 a

[2021-02-25 15:38] #5340 closed

[2021-02-26 06:53] SathyaJayabal commented on #5346
@RishiRajSahu , Update on latest open for registration challenges 3 not tagged, 4 tagged
https://www.topcoder.com/challenges/d993c458-9dad-4e10-adac-ad7538114b83 - not tagged
https://www.topcoder.com/challenges/93390eb1-1852-4be7-91be-46365f6804c8 - tagged
https://www.topcoder.com/challenges/1029c7e6-f874-468b-b3fa-c51dbd2bddf2 - tagged
https://www.topcoder.com/challenges/a8752714-1069-4803-80c4-d

[2021-02-26 07:03] SathyaJayabal commented on #5351
@RishiRajSahu Update on latest completed challenges , both challenge winners' skills not updated:
https://www.topcoder.com/challenges/8ea1123c-769d-4963-b215-58654cd2cece - not updated
https://www.topcoder.com/challenges/b6f4893d-8a48-4868-84f1-e17ecfd52e5d - not updated

[2021-02-26 14:34] RishiRajSahu commented on #5351
@coderReview @SathyaJayabal seems we need to update our logic to confirm that project is completed, projectStatus alone doesn't seem sufficient. check the below details for 30168989

For https://api.topcoder.com/v5/challenges/8ea1123c-769d-4963-b215-58654cd2cece with legacyId= 30168989
the event generated is
[code]
For https://api.topcoder.com/v5/challenges/b6f4893d-8a48-4868-84f1-e17ecfd52e5d wit

[2021-02-26 14:37] coderReview commented on #5351
@RishiRajSahu @ThomasKranitsas we have an event that is generated to calculate the winners.  can you share all events for this projectId": 30168989?

[2021-02-26 14:45] RishiRajSahu commented on #5351
@coderReview two events only

[code]

[2021-02-26 14:49] coderReview commented on #5351
how is that possible? we should have more in the event but

[2021-02-26 14:53] RishiRajSahu commented on #5351
[code]

isn't this should be sufficient condition to confirm challenge is closed ?

you sure that, along with `Review` `END` it's always `projectStatus=closed` ?

[2021-02-26 15:14] SathyaJayabal opened #5397 "Hide recommender toggle for private communities"
Hide recommender toggle for private communities

[2021-02-26 15:59] RishiRajSahu commented on #5346
@coderReview @SathyaJayabal this https://www.topcoder.com/challenges/d993c458-9dad-4e10-adac-ad7538114b83?tab=details for this we don't have challenge open event by autopilot in logs. Seems it was opened manually via OR, this could be the case but have to confirm that when opened

Rest two were opened before our updated code is deployed to prod.

[2021-02-26 17:17] SathyaJayabal opened #5398 "Hidden Subcommunity filter and search bar must be displayed again when other buckets are selected"
1. Select recommended challenges toggle on
2. subcommunity filter and search bar is hidden
3. switch to any other bucket like All Challenges bucket or My Challenges bucket or Past Challenges

expected: subcommunity filter and search bar must be displayed again, they must be again hidden when switched to open for registration bucket
actual: subcommunity filter and search bar are still hidden

https

[2021-02-27 00:45] cagdas001 opened #5399 "Include Challenge Name in Page Titles"
The current title of challenge details page: **Topcoder Challenge | Topcoder Community | Topcoder**

![chrome_2021-02-27_03-27-07](https://user-images.githubusercontent.com/28513447/109369355-1e6bf900-78ad-11eb-94e5-62e2002a323a.png)

Could we include challenge name as well? It'd be easier to distinguish a specific challenge when we have many tabs open at the same time, like in the screenshot.

[2021-02-27 01:29] SathyaJayabal commented on #5351
@RishiRajSahu , different types of challenges have different last phase, `projectStatus=closed` will be true only for the last phase end. For the above example, as you see there was an appeals phase, that means the last phase for this project is Appeals response.

In our code we are watching for any phase end with `projectStatus=closed` , in this case it should have been an event when appeals resp

[2021-02-27 08:15] SathyaJayabal opened #5402 "Clear filter issue when used along with recommended challenges toggle"
1. Go to Challenge listings page, open for registration bucket
2. Switch on recommended challenges toggle
3. Add any other filter, example switch off development track
4. Note down my challenges count
5. Now click on clear filter
6. Note down My challenges count
7. go to my challenges / all challenges bucket

expected: my challenge count must be reset to what it was before applying the filters. My

[2021-02-27 08:34] SathyaJayabal commented on #5402
Additionally, after clicking on clear filter, the clear filter button must be disabled.

[2021-02-27 08:36] SathyaJayabal commented on #5402
cc @nursoltan-s

[2021-02-27 10:40] dedywahyudi commented on #5402
Ok, clear about the problem

[2021-02-27 11:11] dedywahyudi commented on #5398
@SathyaJayabal

I think this is already fixed:
Can you check here: https://test-community-app.topcoder-dev.com/challenges?bucket=openForRegistration&tracks[DS]=true&tracks[Des]=true&tracks[Dev]=true&tracks[QA]=true&types[]=CH&types[]=F2F&types[]=TSK

![Screen Shot 2021-02-27 at 18 11 02](https://user-images.githubusercontent.com/4476442/109385548-3f713000-7927-11eb-845d-559fb970141d.png)
![Screen

[2021-02-27 12:52] SathyaJayabal commented on #5398
this is verified

[2021-02-27 12:52] #5398 closed

[2021-02-27 14:09] dedywahyudi commented on #5402
@SathyaJayabal

Can you recheck the fixes for this issue?
https://test-community-app.topcoder-dev.com/challenges?bucket=openForRegistration

[2021-02-27 17:09] SathyaJayabal opened #5407 "Filter Challenge Type is displayed as Type"
Filter `Challenge Type` is displayed as `Type`

<img width="1440" alt="Screenshot 2021-02-27 at 10 36 47 PM" src="https://user-images.githubusercontent.com/58783823/109394368-a228f280-794c-11eb-812e-6b46fcb16617.png">

[2021-02-28 11:01] nursoltan-s opened #5408 "Member Profile Rating not updating."
**Describe the bug**
Member Profile rating not updating since January 2021.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [member profile](https://www.topcoder.com/members/nursoltan-s/details/?track=DEVELOP&subTrack=CODE)
2. See last updated score date is Jan 27.
3. But there should be several challenge should be added. For example [this challenge](https://www.topcoder.com/challenges

[2021-03-01 06:50] SathyaJayabal commented on #5325
verified on staging

[2021-03-01 07:19] SathyaJayabal commented on #5371
verified on prod
<img width="1440" alt="Screenshot 2021-03-01 at 12 48 24 PM" src="https://user-images.githubusercontent.com/58783823/109464289-77de4e80-7a8c-11eb-8c95-233b2559b9da.png">

[2021-03-01 07:20] SathyaJayabal commented on #5372
verified on prod
<img width="1440" alt="Screenshot 2021-03-01 at 12 48 24 PM" src="https://user-images.githubusercontent.com/58783823/109464412-a2300c00-7a8c-11eb-9bc8-35fc10231cc7.png">

[2021-03-01 07:21] SathyaJayabal commented on #5375
verified on prod

[2021-03-01 07:22] SathyaJayabal commented on #5379
verified on prod
<img width="1440" alt="Screenshot 2021-03-01 at 12 51 38 PM" src="https://user-images.githubusercontent.com/58783823/109464580-e4f1e400-7a8c-11eb-94c8-bc3d2330b2ff.png">

[2021-03-01 07:23] SathyaJayabal commented on #5380
verified on prod
<img width="1440" alt="Screenshot 2021-03-01 at 12 52 22 PM" src="https://user-images.githubusercontent.com/58783823/109464668-0a7eed80-7a8d-11eb-9d52-5caf6f6bae3a.png">
<img width="1440" alt="Screenshot 2021-03-01 at 12 52 34 PM" src="https://user-images.githubusercontent.com/58783823/109464691-0fdc3800-7a8d-11eb-9094-d869b3552cc6.png">

[2021-03-01 07:24] SathyaJayabal commented on #5384
verified on prod
<img width="1440" alt="Screenshot 2021-03-01 at 12 53 51 PM" src="https://user-images.githubusercontent.com/58783823/109464794-3f8b4000-7a8d-11eb-9f07-82f9530f8d4b.png">

[2021-03-01 07:25] SathyaJayabal commented on #5385
We cant test this in prod @lakshmiathreya . It will hide the feature.

[2021-03-01 07:27] SathyaJayabal commented on #5325
Add a recommended toggle to the filter panel
 Recommended toggle must be displayed only for Open for Registration bucket
 Recommended toggle must be displayed only for logged in users
 When recommended toggle is checked, add sort option best match to Open for Registration bucket
 This is the default sort option and when selected sorts the list of challenges by match score in descending order
 When

[2021-03-01 07:38] SathyaJayabal commented on #5325
Verified on production:

- Add a recommended toggle to the filter panel - verified
-  Recommended toggle must be displayed only for Open for Registration bucket - verified
-  Recommended toggle must be displayed only for logged in users - verified
-  When recommended toggle is checked, add sort option best match to Open for Registration bucket - verified
-  This is the default sort option and when

[2021-03-01 08:19] sandhiyakavi opened #5410 "Recommender tool: Matched skills should not be clickable in listings page."
Description:

Matched Skills shown on Challenge listings page after toggling on Recommender tool should not be clickable.

![image](https://user-images.githubusercontent.com/55895538/109470045-36f93080-7ab2-11eb-8776-d856363e9257.png)

https://user-images.githubusercontent.com/55895538/109470063-3d87a800-7ab2-11eb-9b25-eb389b0a47b0.mp4

[2021-03-01 08:41] SathyaJayabal commented on #5410
Same for the challenge details page
<img width="1049" alt="Screenshot 2021-03-01 at 2 10 14 PM" src="https://user-images.githubusercontent.com/58783823/109472254-e70d7000-7a97-11eb-9e35-d38d97303e5a.png">

[2021-03-01 08:47] sandhiyakavi opened #5411 "Alignment varies if the Recommended skills are more in Challenge details page."
Description:

Alignment varies if the Recommended skills are more in Challenge details page.

![image (23)](https://user-images.githubusercontent.com/55895538/109472947-18953400-7ab6-11eb-8e88-ae9bc1f746b2.png)

[2021-03-02 10:30] kkartunov opened #5412 "Add referralIDs to social share buttons"
On the gig details page share buttons should include the referralId if a logged user is using them.
![image](https://user-images.githubusercontent.com/5585002/109635450-0d441600-7b53-11eb-8d76-ba1de8363f56.png)

[2021-03-02 12:21] luizrrodrigues commented on #5237
[404]: Failed to remove resource from the challenge. Detail: Challenge of id undefined is not found.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-02 16:18] luizrrodrigues commented on #5237
[404]: Failed to remove resource from the challenge. Detail: Challenge of id undefined is not found.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-02 17:04] mahestro opened #5413 "TCO21 leaderboard is loading the same data for completed challenge history"
**Describe the bug**
TCO21 leaderboard is loading the same data for the completed challenge history. It happens in all the leaderboards (design, copilots, data science, etc)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://tco21.topcoder.com/competition-overview/development/leaderboard?tracks%5Bdev%5D=2
2. Click on jeevan900929
3. Close the popup
4. Then click on any other membe

[2021-03-03 04:10] SathyaJayabal commented on #5346
@RishiRajSahu , update last few days challenges
https://www.topcoder.com/challenges/463a576e-07a4-470d-9f26-1292322def45 - not tagged (mar 3)
https://www.topcoder.com/challenges/c636a10f-6dc2-4740-810e-e787e246721d - tagged
https://www.topcoder.com/challenges/d7b5a4ab-b3ed-4c0a-b294-454fa05f0a9a - tagged
https://www.topcoder.com/challenges/a0d5ac1f-23ad-48b6-96ca-10dfe3750706- tagged
https://www.t

[2021-03-03 04:16] SathyaJayabal commented on #5351
@RishiRajSahu , update on last few days challenges
https://www.topcoder.com/challenges/15aa2974-7479-41d3-85d8-5cffa7827bc9 (march 2) - not tagged
https://www.topcoder.com/challenges/2e494629-ceb8-459e-bf94-6e48f34991be (march 2) - not tagged
https://www.topcoder.com/challenges/9c5e9d9c-baf0-4e8d-830b-bbd5730688a0 (march 2) - not tagged

[2021-03-03 07:58] kkartunov opened #5414 "Update Gig Forums Link in Gig Details"
It has to link to new forums instead.

[2021-03-03 08:00] kkartunov opened #5415 "User should not be able to even see the Application Form unless logged in."
If user clicks the Apply button, there should be validation about whether the user is logged in or not.
If not, display modal similar to Gig Referral warning box.

[2021-03-03 09:02] SathyaJayabal opened #5416 "[$30] Clicking on winners tab for a pure v5 task gives a blank page"
Clicking on winners tab for a pure v5 task gives a blank page

This is because of missing `legacy.track` in challenge api response.

@rootelement , since pure v5 task does get synced to legacy on completion, wont we have the legacy data when thee winners tab is displayed (meaning challenge is already complete).

@luizrrodrigues , what do we need the `legacy.track` details on the FE for?

[2021-03-03 09:06] SathyaJayabal commented on #5248
Workaround: access winners tab from challenge details page instead of directly form URL

[2021-03-03 12:59] SathyaJayabal commented on #5414
verified on test
<img width="1440" alt="Screenshot 2021-03-03 at 6 27 20 PM" src="https://user-images.githubusercontent.com/58783823/109809447-4f9e4d80-7c4e-11eb-9ad0-8522f817d41d.png">

[2021-03-03 13:04] SathyaJayabal commented on #5415
@kkartunov , user is unable to close the warning box, by clicking outside it.

https://user-images.githubusercontent.com/58783823/109809979-f682e980-7c4e-11eb-98cc-648d28f561fc.mov

[2021-03-03 14:27] kkartunov commented on #5415
Thanks, @SathyaJayabal. Pushed an update for it. Please, check in ~15...

[2021-03-03 15:16] ajefts opened #5417 "Sort by Prize missing on challenge listing"
**Describe the bug**
On the challenge listing page, when viewing "All Challenges" the sort by prize is not available in the sort dropdown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.topcoder.com/challenges
2. Click on All Challenges in the left nav
3. Click Sort By in the upper right
4. Note that there is no option to sort by prize.  This option IS available if I'm filtered on

[2021-03-03 15:16] ajefts commented on #5417
fyi @Oanh-and-only-Oanh

[2021-03-03 15:25] ajefts opened #5418 "Challenge Search breaks in certain cases"
**Describe the bug**
When searching for a challenge by name that has a `:` in the name, the search does not return results.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.topcoder.com/challenges
2. Search for a challenge with a `:` in the name.  For example, "TopGear Skill Building Challenge: Design"
3. Note that no results are returned.
4. Search for the same challenge but remove

[2021-03-03 15:25] ajefts commented on #5418
fyi @Oanh-and-only-Oanh

[2021-03-03 15:43] Oanh-and-only-Oanh commented on #5418
@SathyaJayabal let's test for other special characters as well

[2021-03-03 15:58] SathyaJayabal commented on #5418
@Oanh-and-only-Oanh , this could be related to
https://github.com/topcoder-platform/challenge-api/issues/390

[2021-03-03 16:01] SathyaJayabal commented on #5415
@kkartunov verified on test

[2021-03-04 03:29] SathyaJayabal commented on #5418
@Oanh-and-only-Oanh @ajefts , I tested this with a test challenge. So the issue is the search is only looking for the text in the contest spec and not the title. This has already been logged in the challenge-api repo.

Example:
https://www.topcoder.com/challenges/f3f7694e-cc06-4a88-806c-0eb82f65d6d4
<img width="1440" alt="Screenshot 2021-03-04 at 8 58 23 AM" src="https://user-images.githubusercont

[2021-03-04 09:22] SathyaJayabal commented on #5414
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-03-04 at 2 51 12 PM" src="https://user-images.githubusercontent.com/58783823/109941389-2090e600-7cf9-11eb-8700-37276c45f634.png">

[2021-03-04 12:46] SathyaJayabal commented on #5415
verified on staging (develop)
<img width="1440" alt="Screenshot 2021-03-04 at 2 52 19 PM" src="https://user-images.githubusercontent.com/58783823/109941516-40280e80-7cf9-11eb-8a52-815093bff89c.png">

[2021-03-04 12:47] SathyaJayabal commented on #5414
verified on prod
<img width="1440" alt="Screenshot 2021-03-04 at 6 15 52 PM" src="https://user-images.githubusercontent.com/58783823/109966023-c3eff400-7d15-11eb-91f8-85173c643b29.png">
<img width="1440" alt="Screenshot 2021-03-04 at 6 16 01 PM" src="https://user-images.githubusercontent.com/58783823/109966050-cce0c580-7d15-11eb-9aa6-dd3aca3d9b6d.png">

[2021-03-04 12:47] #5414 closed

[2021-03-04 12:48] SathyaJayabal commented on #5415
verified on prod
<img width="1440" alt="Screenshot 2021-03-04 at 6 17 13 PM" src="https://user-images.githubusercontent.com/58783823/109966205-fa2d7380-7d15-11eb-951a-f7979097bf6d.png">

[2021-03-04 12:48] #5415 closed

[2021-03-04 12:49] #5325 closed

[2021-03-04 12:54] dedywahyudi opened #5421 "Submissions Tab not showing any data on Skill Builder Challenge :: Angular"
**Describe the bug**
Submissions Tab not showing any data on Skill Builder Challenge :: Angular

**To Reproduce**
Easy: https://www.topcoder.com/challenges/ca04b5ba-b0f5-42a0-9b79-f61ce40e9f70?tab=submissions
Medium: https://www.topcoder.com/challenges/5ad5beec-56ff-4c75-b26b-6d353e9a0480
Hard: https://www.topcoder.com/challenges/e8b07653-2959-4201-89d5-1401ea1529a4?tab=submissions

**Expected beh

[2021-03-04 13:46] luizrrodrigues commented on #5416
@SathyaJayabal this needed in details page just to check if is a design challenge, so we able to use `challenge.track` instead `challenge.legacy.track`, but I'll need to search the whole community-app to track all usage of `challenge.legacy.track`

[2021-03-04 13:59] rootelement commented on #5416
Yes, please do this, because legacy.track should be going away. We
shouldn't be using any values in the legacy object for anything on the
frontend, only on legacy processors.

On Thu, Mar 4, 2021 at 8:46 AM Luiz Ricardo Rodrigues <
notifications@github.com> wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topco

[2021-03-05 07:40] nursoltan-s commented on #5408
Now it's updating.

[2021-03-05 07:40] #5408 closed

[2021-03-05 08:05] kkartunov opened #5422 "Gig work register links"
![image](https://user-images.githubusercontent.com/5585002/110085384-b67c4d80-7d99-11eb-986a-92144485f6f8.png)
- change to: "Not a member?  It’s free to register!" - and then hyperlink “register”
- Add `&mode=signUp` to all register links on gig details page so that it take you directly to the form for registration

[2021-03-05 10:42] SathyaJayabal commented on #5422
@kkartunov , verified on test

https://user-images.githubusercontent.com/58783823/110103803-5c48b000-7dcc-11eb-9319-3678514de3bd.mov

https://user-images.githubusercontent.com/58783823/110103845-69659f00-7dcc-11eb-9558-585b86dce2cd.mov

[2021-03-05 10:42] SathyaJayabal commented on #5413
verified on qa
<img width="1440" alt="Screenshot 2021-03-05 at 4 11 42 PM" src="https://user-images.githubusercontent.com/58783823/110104733-8cdd1980-7dcd-11eb-9022-06ff922b95be.png">
<img width="1440" alt="Screenshot 2021-03-05 at 4 11 47 PM" src="https://user-images.githubusercontent.com/58783823/110104753-91a1cd80-7dcd-11eb-8873-19d3dd9aa822.png">
<img width="1440" alt="Screenshot 2021-03-05 at

[2021-03-05 11:13] ajaysaini9782 opened #5423 "Multiple submissions for a user in code challenge"
**Describe the bug**
Multiple submissions are available for a user in code challenge.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to challenge: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30170477
2. Check the submission tab
3. Multiple submissions for a user

**Expected behavior**
In code challenges, there should be only latest submissions for each user.

**Sc

[2021-03-08 15:01] ajefts commented on #5310
@Oanh-and-only-Oanh Just adding to this one, we're seeing it cause a lot of confusion as we're getting TaaS members to agree to terms as well. Any idea when this fix will be prioritized?  Thanks.

[2021-03-08 16:46] ajefts commented on #5308
@Oanh-and-only-Oanh just checking if there is an eta on this one?  Thanks.

[2021-03-10 05:36] SathyaJayabal commented on #5346
@RishiRajSahu , updates on last few days, only one challenge was not tagged
https://www.topcoder.com/challenges/576404d9-a54a-4e17-9f9b-31e5aeb2ac5a - not tagged
Tagged challenges
https://www.topcoder.com/challenges/f4496310-3ced-4ea6-9c71-063ed8ac98f6
https://www.topcoder.com/challenges/ea2d4ffe-9f34-4eb0-bd26-317dd02890cd
https://www.topcoder.com/challenges/32c7e2f0-fc6f-4856-9133-43b05b48dda4
h

[2021-03-10 16:15] kkartunov opened #5424 "Automatic Contentful Route Redirects"
Implement redirects for routes if configured in Contentful.

For QA:
/community/gig-resources is set to redirect to /community/learn

[2021-03-11 03:02] luizrrodrigues commented on #5308
@ajefts added to MS https://github.com/topcoder-platform/community-app/milestone/101

[2021-03-11 03:03] luizrrodrigues commented on #4657
Duplicate of #5308

[2021-03-11 04:44] SathyaJayabal commented on #4316
This is fixed through
https://github.com/topcoder-platform/skills-etl/issues/27

<img width="1440" alt="Screenshot 2021-03-11 at 10 13 58 AM" src="https://user-images.githubusercontent.com/58783823/110736947-837f0180-8252-11eb-8dc9-9bf60d309fe2.png">

[2021-03-11 04:54] SathyaJayabal commented on #3396
we are now using the v5 challenge api.

[2021-03-11 04:54] #3396 closed

[2021-03-11 05:09] SathyaJayabal commented on #4130
@Oanh-and-only-Oanh , ratings have been fixed.
https://topcoder.slack.com/archives/G011L5G6F9U/p1615199152168400

[2021-03-11 05:09] #4130 closed

[2021-03-11 10:13] SathyaJayabal commented on #5424
verified on test

https://user-images.githubusercontent.com/58783823/110771402-75e07080-8280-11eb-836a-ff686bb91dc1.mov

[2021-03-11 10:58] SathyaJayabal commented on #5422
verified on staging (develop branch)

https://user-images.githubusercontent.com/58783823/110776864-8398f480-8286-11eb-8927-d783184c7251.mov

[2021-03-11 10:59] SathyaJayabal commented on #5413
verified on staging (develop)
<img width="1440" alt="Screenshot 2021-03-11 at 4 27 47 PM" src="https://user-images.githubusercontent.com/58783823/110777167-d5417f00-8286-11eb-85c7-6ee41f282414.png">
<img width="1440" alt="Screenshot 2021-03-11 at 4 27 53 PM" src="https://user-images.githubusercontent.com/58783823/110777200-dd012380-8286-11eb-860c-8f9d47d67ece.png">
<img width="1440" alt="Screensho

[2021-03-11 11:03] SathyaJayabal commented on #4657
@luizrrodrigues closing this as its tracked in #5308

[2021-03-11 11:03] #4657 closed

[2021-03-11 11:03] luizrrodrigues commented on #4657
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-11 11:29] SathyaJayabal commented on #5424
verified on staging (develop branch)

https://user-images.githubusercontent.com/58783823/110780762-0de35780-828b-11eb-87fa-e774352c488f.mov

[2021-03-11 12:50] SathyaJayabal commented on #5424
verified on prod

https://user-images.githubusercontent.com/58783823/110789890-62400480-8296-11eb-80bf-868cda4e7c76.mov

[2021-03-11 12:50] #5424 closed

[2021-03-11 12:51] SathyaJayabal commented on #5413
verified on prod
<img width="1440" alt="Screenshot 2021-03-11 at 6 21 03 PM" src="https://user-images.githubusercontent.com/58783823/110790059-974c5700-8296-11eb-86d2-f67e77e589f5.png">
<img width="1440" alt="Screenshot 2021-03-11 at 6 21 07 PM" src="https://user-images.githubusercontent.com/58783823/110790077-9c110b00-8296-11eb-9a9f-57b297f7c54a.png">
<img width="1440" alt="Screenshot 2021-03-11

[2021-03-11 12:51] #5413 closed

[2021-03-11 12:56] SathyaJayabal commented on #5422
verified on prod

https://user-images.githubusercontent.com/58783823/110790512-1fcaf780-8297-11eb-90ac-3d6da19e0ca0.mov

[2021-03-11 12:56] #5422 closed

[2021-03-11 15:58] cagdas001 commented on #4316
@SathyaJayabal My React.js skill is still not verified. I have submitted to many ReactJS challenges before. The same applies to Angular and a few other tags as well

[2021-03-11 16:02] SathyaJayabal commented on #4316
@cagdas001 , can you give a few examples of challenges you have participated in please. We will look into it.

[2021-03-11 16:38] Oanh-and-only-Oanh commented on #5106
from @urwithat:
The verify url is passed from the community-app to member api, we see from the error of CORS this is the request sent:
https://api.topcoder.com/v3/members/ladybosss?verifyUrl=http://www.topcoder.com/settings/account/changeEmail
the verify url is `verifyUrl=http://www.topcoder.com/settings/account/changeEmail`
its http, should be https
Should just be `www.topcoder.com/settings/accou

[2021-03-11 17:23] cagdas001 commented on #4316
@SathyaJayabal I have made passing submissions on all these challenges

| Challenge | Missing Tags on Profile | Before 1 Jan 2019? |
| ---- | ---- | ---- |
| https://www.topcoder.com/challenges/869294b7-3464-40b7-a470-a37e012e2e0a | Android, Mobile | Yes |
| https://www.topcoder.com/challenges/691449c9-c8ee-49c5-a536-355fc783ea11 | Angular 2+, Mobile | No |
| https://www.topcoder.com/challenges/dd

[2021-03-12 02:23] SathyaJayabal commented on #4316
@cagdas001 , thank you. Let me look into it and get back to you.

[2021-03-12 02:34] SathyaJayabal commented on #4316
@sushilshinde , of the above, we did not cover periods before 1 Jan 2019. A few of the skills are not in the master tags list (`Angular 2+`, `Databricks` and `ReactJS`).

Even then the skills that are missing are `Linux` and `Mobile`.  Please see challenge details above for these skills.

[2021-03-12 06:58] sushilshinde commented on #4316
1. Patch was done after 1 Jan 2019 as per Harshit's request
   Solution: Need to run patch script for 2018
2. Angular 2+ and ReactJS has similar issues, these not part of the name attribute but the synonyms arrays check this [tags API](https://api.topcoder.com/v3/tags/?filter=domain%3DSKILLS%26status%3DAPPROVED&limit=1000)
  Solution: Patch script needs to change to include tech from the synonyms

[2021-03-12 07:58] cagdas001 commented on #4316
FWIW, `Linux` and `Mobile` (i.e. platforms) can currently be added to profile pages

![chrome_2021-03-12_10-47-47](https://user-images.githubusercontent.com/28513447/110909038-ab3c9b00-8320-11eb-93b5-758111429fa1.png)
![chrome_2021-03-12_10-47-38](https://user-images.githubusercontent.com/28513447/110909056-ae378b80-8320-11eb-8af7-36778f3824b2.png)
![chrome_2021-03-12_10-48-28](https://user-images

[2021-03-12 08:14] SathyaJayabal commented on #4316
@cagdas001 , you are right, the issue here is when your challenge was created, these tags were added under platform tags and not under technology tags. The existing  script only processes these technology tags and adds them to he members profile. We will need to update the script to also take into consideration these platform tags.

[2021-03-12 08:19] SathyaJayabal commented on #4316
@cagdas001 , also this issue is only for older challenges created from direct. Current challenges from WM will not have this issue as there is no differentiation between platform and technology tags. We only have a simple challenge tags.

[2021-03-15 09:47] kkartunov opened #5429 "Update gigs application process"
QA to verify:
- apply as an existing user in recruit
- apply as a new user in recruit
- form validation works properly

[2021-03-15 15:10] kkartunov opened #5430 "New thumbnail image for social share"
update to this
![Topoder Image Preview V1](https://user-images.githubusercontent.com/5585002/111316899-54aac600-866c-11eb-9987-5bb7033a307c.png)

[2021-03-15 17:51] ajefts commented on #5313
Please see the comments on https://github.com/appirio-tech/connect-app/issues/4282 for updated advice on how to implement this.

[2021-03-16 07:15] kkartunov opened #5431 "Add "weeks" to gigs duration"
![Screen Shot 2021-03-12 at 5 03 27 PM](https://user-images.githubusercontent.com/5585002/111270084-14c9eb80-8638-11eb-9a38-c7594c576a85.png)
and under gig detail page too.
Add only if the value is an integer otherwise keep what untouched.

[2021-03-16 11:10] SathyaJayabal commented on #5431
verified on qa env
<img width="1284" alt="Screenshot 2021-03-16 at 4 39 53 PM" src="https://user-images.githubusercontent.com/58783823/111299695-42358a00-8676-11eb-8490-2931123fcd16.png">

[2021-03-16 12:11] kkartunov opened #5432 "Dark mode for FAQ component"
Like shown on https://marvelapp.com/prototype/bj002ag/screen/77662351

[2021-03-16 13:32] SathyaJayabal commented on #5430
verified on beta
<img width="625" alt="Screenshot 2021-03-16 at 7 00 42 PM" src="https://user-images.githubusercontent.com/58783823/111317405-25a34d00-868a-11eb-8cc1-f03009e7c14c.png">

[2021-03-16 16:10] Oanh-and-only-Oanh opened #5433 "[$20] Update Forums settings preferences"
**Current behavior:**
When user is on the profile preferences page and clicks on FORUMS, the user is taken to the legacy forums at https://apps.topcoder.com/forums/?module=Settings

**Expected behavior:**
When user is on the profile preferences page and clicks on FORUMS, the user is taken to the Vanilla Forums preferences settings page at https://discussions.topcoder.com/profile/preferences

**Ste

[2021-03-16 17:04] luizrrodrigues commented on #5382
Duplicate of #5433

[2021-03-16 17:04] #5382 closed

[2021-03-16 17:32] luizrrodrigues commented on #5248
Challenge https://www.topcoder.com/challenges/bfa45a01-35e4-4735-9ccb-a4d43dda9b47 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 17:32] luizrrodrigues commented on #5308
Challenge https://www.topcoder.com/challenges/e96d0565-5c98-425e-bfe5-dfe6b8d2451d has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 17:32] luizrrodrigues commented on #5312
Challenge https://www.topcoder.com/challenges/e360d072-81a1-4de3-aa79-14f5528757cd has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 17:32] luizrrodrigues commented on #5318
Challenge https://www.topcoder.com/challenges/f5b561d3-a057-439e-9447-c95953cf9349 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 17:32] luizrrodrigues commented on #5328
Challenge https://www.topcoder.com/challenges/48d55cff-f5a9-42dc-8b96-162f228ed9e2 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 17:32] luizrrodrigues commented on #5329
Challenge https://www.topcoder.com/challenges/52a6bb46-9c9d-446c-8456-d79960a85855 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 17:32] luizrrodrigues commented on #5331
Challenge https://www.topcoder.com/challenges/2e40a217-7f75-4e9e-90d8-6658210dec45 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 17:32] luizrrodrigues commented on #5410
Challenge https://www.topcoder.com/challenges/7bc50178-c7f9-4498-8a45-cd27b2eb1a5e has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 17:32] luizrrodrigues commented on #5349
Challenge https://www.topcoder.com/challenges/6db099f7-d7f9-4a50-a9bf-cde29de8516e has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 17:32] luizrrodrigues commented on #5416
Challenge https://www.topcoder.com/challenges/e5ec9bda-7e42-461d-836a-72e0a4e09775 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 17:32] luizrrodrigues commented on #5433
Challenge https://www.topcoder.com/challenges/a6a0b0c7-031a-47e2-810c-4456b449a822 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 18:41] luizrrodrigues commented on #5433
Challenge https://www.topcoder.com/challenges/a6a0b0c7-031a-47e2-810c-4456b449a822 has been assigned to rashmi73.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 18:42] luizrrodrigues commented on #5329
Challenge https://www.topcoder.com/challenges/52a6bb46-9c9d-446c-8456-d79960a85855 has been assigned to malfoys76.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 18:42] draco-malfoy commented on #5329
@ajefts  Is tooltip required?

[2021-03-16 18:44] luizrrodrigues commented on #5410
Challenge https://www.topcoder.com/challenges/7bc50178-c7f9-4498-8a45-cd27b2eb1a5e has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 18:50] luizrrodrigues commented on #5416
Challenge https://www.topcoder.com/challenges/e5ec9bda-7e42-461d-836a-72e0a4e09775 has been assigned to gauravseta.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 18:55] luizrrodrigues commented on #5318
Challenge https://www.topcoder.com/challenges/f5b561d3-a057-439e-9447-c95953cf9349 has been assigned to Suman-953556.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 18:59] abdullatku commented on #5248
@luizrrodrigues I am not able to assign myself here. pls give required access rights.

[2021-03-16 19:35] luizrrodrigues commented on #5248
@abdullatku done.

[2021-03-16 19:39] luizrrodrigues commented on #5331
Challenge https://www.topcoder.com/challenges/2e40a217-7f75-4e9e-90d8-6658210dec45 has been assigned to gets0ul.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 21:24] rashmi73 commented on #5433
@luizrrodrigues PR https://github.com/topcoder-platform/community-app/pull/5435

[2021-03-16 21:39] luizrrodrigues commented on #5312
Challenge https://www.topcoder.com/challenges/e360d072-81a1-4de3-aa79-14f5528757cd has been assigned to mfikria.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 21:41] fikzzzy commented on #5312
Why the ticket is assigned to `mfikria` instead of `fikzzzy`?

[2021-03-16 21:46] luizrrodrigues commented on #5312
@fikzzzy looks good here.

[2021-03-16 22:03] luizrrodrigues commented on #5349
Challenge https://www.topcoder.com/challenges/6db099f7-d7f9-4a50-a9bf-cde29de8516e has been assigned to rashmi73.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 22:10] fikzzzy commented on #5312
@luizrrodrigues Ok, It seems like https://www.topcoder.com/challenges/e360d072-81a1-4de3-aa79-14f5528757cd is assigned to a different account since I can not access it

[2021-03-16 22:23] luizrrodrigues commented on #5312
@fikzzzy Ah okay, I see. In this case you need to unlink your Github with old account and link again with your existing account.

[2021-03-16 22:24] luizrrodrigues commented on #5312
@fikzzzy Go here: https://www.topcoder.com/settings/account#linked-accounts

[2021-03-16 22:29] luizrrodrigues commented on #5312
Challenge https://www.topcoder.com/challenges/e360d072-81a1-4de3-aa79-14f5528757cd mfikria has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 22:29] luizrrodrigues commented on #5312
Challenge https://www.topcoder.com/challenges/e360d072-81a1-4de3-aa79-14f5528757cd has been assigned to mfikria.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 22:32] fikzzzy commented on #5312
seems no changes. I will contact support for this problem. Thanks!

[2021-03-16 23:46] fikzzzy commented on #5312
@luizrrodrigues fixed in https://github.com/topcoder-platform/topcoder-react-lib/pull/305

[2021-03-16 23:47] luizrrodrigues commented on #5248
Challenge https://www.topcoder.com/challenges/bfa45a01-35e4-4735-9ccb-a4d43dda9b47 has been assigned to mfikria.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 23:48] luizrrodrigues commented on #5248
Challenge https://www.topcoder.com/challenges/bfa45a01-35e4-4735-9ccb-a4d43dda9b47 mfikria has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-16 23:50] luizrrodrigues commented on #5308
Challenge https://www.topcoder.com/challenges/e96d0565-5c98-425e-bfe5-dfe6b8d2451d has been assigned to mfikria.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-17 00:03] luizrrodrigues commented on #5308
Challenge https://www.topcoder.com/challenges/e96d0565-5c98-425e-bfe5-dfe6b8d2451d mfikria has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-17 00:04] luizrrodrigues commented on #5308
Challenge https://www.topcoder.com/challenges/e96d0565-5c98-425e-bfe5-dfe6b8d2451d has been assigned to mfikria.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-17 00:10] luizrrodrigues commented on #5312
Challenge https://www.topcoder.com/challenges/e360d072-81a1-4de3-aa79-14f5528757cd mfikria has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-17 00:13] fikzzzy commented on #5312
@luizrrodrigues could you please send https://x.topcoder.com/api/v1/github/teams/registration invitation link for topcoder-platform? I try to fix the previous problem

[2021-03-17 01:22] fikzzzy commented on #5308
Based on https://github.com/topcoder-platform/member-api/blob/develop/src/services/StatisticsService.js#L162-L220. So should we
- remove params to retrieve default stats or
- still need to retrieve the stats based on groupIds but with few separated request to handle URI limit?

[2021-03-17 01:22] fikzzzy commented on #5308
@luizrrodrigues Based on https://github.com/topcoder-platform/member-api/blob/develop/src/services/StatisticsService.js#L162-L220. So should we

remove params to retrieve default stats or
still need to retrieve the stats based on groupIds but with few separated request to handle URI limit?

[2021-03-17 01:40] luizrrodrigues commented on #5248
Challenge https://www.topcoder.com/challenges/bfa45a01-35e4-4735-9ccb-a4d43dda9b47 has been assigned to abdullatku.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-17 02:11] luizrrodrigues commented on #4987
[404]: Failed to add resource to the challenge. Detail: Challenge of id undefined is not found.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-17 02:24] amitpatra commented on #5328
Would like to pickup this issue. Dont have permission. Thank you

[2021-03-17 03:58] luizrrodrigues commented on #5328
@amitpatra Invite sent.

[2021-03-17 04:07] SathyaJayabal commented on #5433
@bug-bash-helper help

[2021-03-17 04:16] luizrrodrigues commented on #5433
@bug-bash-helper help

[2021-03-17 04:27] luizrrodrigues commented on #5308
@fikzzzy still need to retrieve the stats based on groupIds but with few separated request to handle URI limit

[2021-03-17 04:38] bharatsingh100 commented on #5312
@bug-bash-helper assign me

[2021-03-17 04:41] bharatsingh100 commented on #5328
@bug-bash-helper assign me

[2021-03-17 04:48] fikzzzy commented on #5308
@luizrrodrigues alright, noted

[2021-03-17 04:53] draco-malfoy commented on #5329
https://github.com/topcoder-platform/community-app/pull/5436

[2021-03-17 07:36] phongnt commented on #4987
@bug-bash-helper assign me

[2021-03-17 07:45] yoution commented on #5328
@bug-bash-helper assign me

[2021-03-17 07:49] SathyaJayabal commented on #5328
@bug-bash-helper assign me

[2021-03-17 07:51] SathyaJayabal commented on #5328
@bug-bash-helper assign me

[2021-03-17 07:51] luizrrodrigues commented on #5328
Challenge https://www.topcoder.com/challenges/48d55cff-f5a9-42dc-8b96-162f228ed9e2 has been assigned to picachui.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-17 07:51] SathyaJayabal commented on #5328
@bug-bash-helper unassign me

[2021-03-17 07:51] luizrrodrigues commented on #5328
Challenge https://www.topcoder.com/challenges/48d55cff-f5a9-42dc-8b96-162f228ed9e2 picachui has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-17 07:52] yoution commented on #5328
@bug-bash-helper assign me

[2021-03-17 07:52] luizrrodrigues commented on #5328
Challenge https://www.topcoder.com/challenges/48d55cff-f5a9-42dc-8b96-162f228ed9e2 has been assigned to yoution.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-17 08:45] fikzzzy commented on #5308
@luizrrodrigues It is ready to review. I have opened MR in https://github.com/topcoder-platform/community-app/pull/5438 and https://github.com/topcoder-platform/topcoder-react-lib/pull/306

[2021-03-17 09:11] fikzzzy commented on #5312
@bug-bash-helper assign me

[2021-03-17 09:12] fikzzzy commented on #5312
@bug-bash-helper help

[2021-03-17 09:12] fikzzzy commented on #5312
@bug-bash-helper https://github.com/topcoder-platform/topcoder-react-lib/pull/305 is ready for review

[2021-03-17 10:28] yoution commented on #5328
@luizrrodrigues  can you reproduct the issue?
I run the `develop` branch , it shows

![image](https://user-images.githubusercontent.com/3863914/111453368-79776a00-874e-11eb-9641-17899ac07f28.png)

[2021-03-17 11:05] luizrrodrigues commented on #5312
Challenge https://www.topcoder.com/challenges/e360d072-81a1-4de3-aa79-14f5528757cd has been assigned to mfikria.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-17 11:06] luizrrodrigues commented on #5312
Challenge https://www.topcoder.com/challenges/e360d072-81a1-4de3-aa79-14f5528757cd mfikria has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-17 11:11] yoution commented on #5328
@bug-bash-helper unassign me

[2021-03-17 11:11] luizrrodrigues commented on #5328
Challenge https://www.topcoder.com/challenges/48d55cff-f5a9-42dc-8b96-162f228ed9e2 yoution has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-17 11:28] fikzzzy commented on #5308
@bug-bash-helper https://github.com/topcoder-platform/community-app/pull/5438 is ready to review

[2021-03-17 13:22] SathyaJayabal commented on #5429
@kkartunov ,
please confirm that the following are the updates to the application process.

Updates to the application Process
Existing user in recruit:
User : TonyJ

General: Add text "It looks like you have applied to a gig previously. Perfect! We have most of your information. Is there anything you would like to update to your Gig Work Profile?”

Personal Information Section :
	⁃	Make “First Na

[2021-03-17 13:29] kkartunov commented on #5429
Confirmed. Thank You @SathyaJayabal!

[2021-03-18 02:07] luizrrodrigues commented on #5248
Challenge https://www.topcoder.com/challenges/bfa45a01-35e4-4735-9ccb-a4d43dda9b47 abdullatku has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-18 04:53] SathyaJayabal commented on #5429
verified on test

existing user:
![Screenshot_2021-03-18 Gig Work Topcoder Community Topcoder](https://user-images.githubusercontent.com/58783823/111574428-745bfe80-87d2-11eb-9751-85a97075d466.png)

new user:
![Screenshot_2021-03-18 Gig Work Topcoder Community Topcoder(2)](https://user-images.githubusercontent.com/58783823/111574767-24316c00-87d3-11eb-8425-7a23252c99a0.png)

[2021-03-18 05:55] sandhiyakavi commented on #5429
@kkartunov Below are some of the observations,
1. The values of the prepopulated field (for the existing user) that is changed while applying for a gig,
Is displayed as empty fields if the page is not refreshed and only navigated.
Note: The values are displayed only after refresh.

https://user-images.githubusercontent.com/55895538/111579362-3aeab980-87f9-11eb-81df-3721abf77da7.mp4

2. The City fi

[2021-03-18 09:43] kkartunov commented on #5429
@SathyaJayabal thank you!
1. Fixed bug
2. It is preffered to take values from TC profile if present, so yes it is fine.

[2021-03-18 10:36] sandhiyakavi commented on #5429
@kkartunov Now if we navigate (without refreshing) to another Gig application form, the previous values are getting displayed (not the current changes) instead of empty fields. Still the current values are displayed only after refresh.

https://user-images.githubusercontent.com/55895538/111612504-de9b9000-8820-11eb-9b66-d2978e58106f.mp4

[2021-03-18 12:06] sandhiyakavi commented on #5429
Verified on Test Env. Working as expected.

1. The values are correctly displayed without refresh.

https://user-images.githubusercontent.com/55895538/111623366-a5b5e800-882d-11eb-833a-dab33b4bfe04.mp4

2. Able to apply both as Existing and New user.
3. The form validations are working correctly.

[2021-03-18 12:58] SathyaJayabal commented on #5431
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-03-18 at 6 27 17 PM" src="https://user-images.githubusercontent.com/58783823/111629827-b8252700-8817-11eb-9448-ff905d3673bb.png">
<img width="1440" alt="Screenshot 2021-03-18 at 6 27 46 PM" src="https://user-images.githubusercontent.com/58783823/111629848-bd827180-8817-11eb-8f44-0bbf990c85a8.png">

[2021-03-18 13:01] luizrrodrigues commented on #5248
Challenge https://www.topcoder.com/challenges/bfa45a01-35e4-4735-9ccb-a4d43dda9b47 has been assigned to gets0ul.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-18 13:03] SathyaJayabal commented on #5430
@luizrrodrigues @kkartunov , i dont see the preview image on staging
<img width="718" alt="Screenshot 2021-03-18 at 6 32 50 PM" src="https://user-images.githubusercontent.com/58783823/111630436-5f09c300-8818-11eb-95a6-f67e3a6e0de1.png">

[2021-03-18 13:43] SathyaJayabal commented on #5429
verified on staging (develop) branch
apply as an existing user in recruit
apply as a new user in recruit
form validation works properly

[2021-03-18 14:11] SathyaJayabal commented on #5430
verified on beta(develop branch)
<img width="631" alt="Screenshot 2021-03-18 at 7 40 35 PM" src="https://user-images.githubusercontent.com/58783823/111640106-e0198800-8821-11eb-947f-4ed45688c6e6.png">

[2021-03-18 14:51] SathyaJayabal commented on #5431
verified on prod
<img width="1284" alt="Screenshot 2021-03-18 at 8 20 28 PM" src="https://user-images.githubusercontent.com/58783823/111646252-7dc38600-8827-11eb-8650-ce83fa0e25b3.png">
<img width="1335" alt="Screenshot 2021-03-18 at 8 20 36 PM" src="https://user-images.githubusercontent.com/58783823/111646266-82883a00-8827-11eb-926d-8a84a2cd6219.png">

[2021-03-18 14:51] #5431 closed

[2021-03-18 15:03] SathyaJayabal commented on #5429
verified on prod
apply as an existing user in recruit
apply as a new user in recruit
form validation works properly

[2021-03-18 15:03] #5429 closed

[2021-03-18 15:12] SathyaJayabal commented on #5430
verified on prod
<img width="841" alt="Screenshot 2021-03-18 at 8 41 33 PM" src="https://user-images.githubusercontent.com/58783823/111649462-676af980-882a-11eb-87d4-f047ed73e7ca.png">

[2021-03-18 15:12] #5430 closed

[2021-03-18 22:37] luizrrodrigues commented on #5313
Challenge: https://www.topcoder.com/challenges/1c31d453-bc55-468c-8f1c-41b75a7898b1

[2021-03-23 05:42] m-yadav opened #5444 "Incorrect Date shown on recommended thrive articles space on challenge details page"
**Describe the bug**
The challenge details page where the recommended thrive articles are shown is displaying the current date instead of the publishing date for the respective article.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.topcoder.com/challenges/484829bb-e6a4-4b4d-b539-2767f76c96e5' or for any challenge to view the recommended thrive articles.
2.
2. Scroll dow

[2021-03-23 12:09] luizrrodrigues commented on #5313
@ajefts @jswheeler Can you share the API Key in Slack please?

[2021-03-24 06:44] SathyaJayabal opened #5445 "Test users for Topgear"
@Oanh-and-only-Oanh , can we get some test topgear users in dev ? Currently we just add regular users to `wipro-all` group so that they can access the topgear site. Is this the same as a topgear user?

It will be also good to have some actual topgear users to test the recommender tool before release (prod backend).
cc @lakshmiathreya

[2021-03-24 07:34] SathyaJayabal opened #5446 "Challenge Recommender : Requirements Shapeup 2"
- [x] Add support for topgear
https://github.com/topcoder-platform/community-app/issues/5361
- [ ] Improving/merging/migrating-to-nodejs existing api’s for future extensibility and easy maintenance

https://github.com/topcoder-platform/challenge-tagger-api/issues/13
https://github.com/topcoder-platform/member-skills-extractor/issues/19
- [ ] expand verified skills to include skills where member pa

[2021-03-24 11:20] phongnt commented on #5328
@bug-bash-helper assign me

[2021-03-24 11:20] luizrrodrigues commented on #5328
Challenge https://www.topcoder.com/challenges/48d55cff-f5a9-42dc-8b96-162f228ed9e2 has been assigned to genycopedison.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-24 15:39] luizrrodrigues commented on #5328
Challenge https://www.topcoder.com/challenges/48d55cff-f5a9-42dc-8b96-162f228ed9e2 genycopedison has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-29 14:56] kkartunov opened #5447 "Social share thumbnail images for challanges"
Thumbnails images have been designed and added here: https://drive.google.com/drive/folders/1JCV5upiISO8AWfwAhIZy3JnDjuXANro-?usp=sharing

[2021-03-30 06:57] kkartunov commented on #5432
Test page for QA:
https://community-app.topcoder.com/examples/contentful/viewport/1ekIMzLLz2CrkRxPgA4FZ1

[2021-03-30 07:08] kkartunov opened #5448 "Update login modal on gig details page"
When clicking "APPLY TO THIS JOB" this modal pops:
![image](https://user-images.githubusercontent.com/5585002/112947411-6a75bc00-913f-11eb-939d-745a04390882.png)

We want to update it to match: https://marvelapp.com/prototype/f0i4ece/screen/78025759

[2021-03-30 08:12] SathyaJayabal commented on #5432
@kkartunov,
Separators are not 40 % opaque like in design
Text and arrow must be white
<img width="1416" alt="Screenshot 2021-03-30 at 1 39 32 PM" src="https://user-images.githubusercontent.com/58783823/112956118-bfc0c600-915d-11eb-99dd-76164fdb0f55.png">

[2021-03-30 14:30] SathyaJayabal commented on #5432
verified on test
<img width="1433" alt="Screenshot 2021-03-30 at 8 00 08 PM" src="https://user-images.githubusercontent.com/58783823/113005965-8f474f00-9192-11eb-9882-a09d3f1ff0ba.png">

[2021-03-30 20:26] luizrrodrigues opened #5449 "[$20] Automated Smoke Testing Fix Test Case TC_002"
**Topcoder Challenge Listing Page Tests:  Before Login Test Cases [TC_002] should verify whether the current page is redirected to Registration page on clicking the Log in button**

[code]

Send PR to branch **circleci-automation-testing**

[2021-03-30 20:26] luizrrodrigues commented on #5449
Challenge https://www.topcoder.com/challenges/fe8e4ac5-772b-4cb0-88b5-c4cc11d7fbc2 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-30 20:29] luizrrodrigues opened #5450 "[$20] Automated Smoke Testing Fix Test Case TC_006"
**Topcoder Challenge Listing Page Tests:  Before Login Test Cases [TC_006] should verify whether the user is able to search for a challenge by using the Search challenges textbox**

- API issue, looks like currently have issue to search for challenge name

[code]

[2021-03-30 20:35] luizrrodrigues opened #5451 "[$40] Automated Smoke Testing Fix Test Cases TC_007, TC_008, TC_013, TC_014"
**1) Topcoder Challenge Listing Page Tests: Before Login Test Cases [TC-007] should verify that the "Filter" button is working correctly**

- This test not valid anymore, filter now is always visible.
- Just remove this Test Case

**2) Topcoder Challenge Listing Page Tests: Before Login Test Cases [TC-008] should verify that the "Filter" option "keywords" is working correctly**

- Filter by tag/sk

[2021-03-30 20:35] luizrrodrigues commented on #5451
Challenge https://www.topcoder.com/challenges/a68f8fde-33be-482d-aebf-5f69ed10e73a has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-30 20:37] luizrrodrigues opened #5452 "[$20] Automated Smoke Testing Fix Test Case TC_009"
**Topcoder Challenge Listing Page Tests: Before Login Test Cases [TC-009] should verify that the "Filter" option "Type" is working correctly**

- Filter by Type was changed from dropdown to checkbox, need update whole logic here.

[code]

Send PR to branch **circleci-automation-testing**

[2021-03-30 20:37] luizrrodrigues commented on #5452
Challenge https://www.topcoder.com/challenges/9b6356e9-ed86-4ea3-a9b2-a465bcff6122 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-30 23:21] luizrrodrigues commented on #5308
@SathyaJayabal Deployed to QA and Beta env

[2021-03-31 05:56] SathyaJayabal commented on #5308
@luizrrodrigues, separate requests used
<img width="1440" alt="Screenshot 2021-03-31 at 11 25 14 AM" src="https://user-images.githubusercontent.com/58783823/113097030-e4777500-9213-11eb-9f17-a90f83685434.png">

[2021-03-31 06:08] sandhiyakavi commented on #5308
Verified on qa Env.

![image (4)](https://user-images.githubusercontent.com/55895538/113097912-b2294000-9232-11eb-84ad-b824d9debe06.png)

[2021-03-31 06:47] rashmi73 commented on #5433
@luizrrodrigues Pr updated #5435

[2021-03-31 08:18] kkartunov opened #5453 "Secure recruitCRM API responses"
APIs should show only limited set of fields/values due to security reasons.
List of fields per API point bellow:

- https://www.topcoder.com/api/recruit/jobs?job_status=1
- https://www.topcoder.com/api/recruit/jobs/25953109
- https://www.topcoder.com/api/recruit/jobs/search?job_status=1
[code]

- https://www.topcoder.com/api/recruit/candidates/search?email=kiril.kartunov@gmail.com
[code]

Aditiona

[2021-03-31 23:47] luizrrodrigues opened #5454 "[$20] Automated Smoke Testing Fix Test Case TC_010"
**Topcoder Challenge Listing Page Tests: Before Login Test Cases [TC-010] should verify that the "Filter" option "Sub Community" is working correctly**

- Filter always open now, and changed some fields too.

[code]

Send PR to branch **circleci-automation-testing**

[2021-03-31 23:47] luizrrodrigues commented on #5454
Challenge https://www.topcoder.com/challenges/3804a62b-9e00-4ef3-9877-df454d62900a has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-31 23:49] luizrrodrigues opened #5455 "[$30] Automated Smoke Testing Fix Test Case TC_011"
Before Login Test Cases [TC-011] should verify that the "Filter" option for "Date range" is working correctly

- Data range filter just show up if select `Past Challenge` and `Custom Date` in `Past Period`

[code]

Send PR to branch **circleci-automation-testing**

[2021-03-31 23:49] luizrrodrigues commented on #5455
Challenge https://www.topcoder.com/challenges/66506ee6-a404-415f-b807-10d2f50a35c7 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-31 23:51] luizrrodrigues opened #5456 "[$40] Automated Smoke Testing Fix Test Case TC_012"
**Before Login Test Cases [TC_012] should verify whether the challenges are filtered according to the keyword/Type/Sub community/Date range fields selected under the Filter function**

- Need re-write this one, because filter received a lot of changes

[code]

Send PR to branch **circleci-automation-testing**

[2021-03-31 23:51] luizrrodrigues commented on #5456
Challenge https://www.topcoder.com/challenges/e92f487b-f864-41cd-9ea7-ec5cd04df098 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-03-31 23:59] luizrrodrigues opened #5457 "[$20] Automated Smoke Testing Fix Test Case TC_015, TC_016 and TC_017"
**1) Before Login Test Cases [TC_015] should verify whether the number of filters applied are shown into Filter button according to the keyword/Type/Sub community/Date range fields selected**

- This test not valid anymore, the new field area haven't a total of active filters
- Just remove this Test Case

**2) Before Login Test Cases [TC_016] should verify whether the clear filter button clears al

[2021-03-31 23:59] luizrrodrigues commented on #5457
Challenge https://www.topcoder.com/challenges/8f5c43ce-566b-4e33-9b1d-8e7038c78eaa has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-01 00:01] luizrrodrigues opened #5458 "[$40] Automated Smoke Testing Fix Test Case TC_020 and TC_021"
**Before Login Test Cases [TC-020] should verify that when user selects a challenge "tag", only challenges under the selected tag are shown**

- Challenge Tag changed from to in Challenge Details page

[code]

Send PR to branch **circleci-automation-testing**

[2021-04-01 00:01] luizrrodrigues commented on #5458
Challenge https://www.topcoder.com/challenges/91a1cf63-61e0-4188-b56f-a00aed21a992 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-01 04:59] luizrrodrigues commented on #5312
Challenge https://www.topcoder.com/challenges/e360d072-81a1-4de3-aa79-14f5528757cd has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-01 05:00] luizrrodrigues commented on #5312
Challenge https://www.topcoder.com/challenges/e360d072-81a1-4de3-aa79-14f5528757cd has been assigned to mfikria.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-01 05:16] luizrrodrigues commented on #5329
Payment task has been updated: https://www.topcoder.com/challenges/52a6bb46-9c9d-446c-8456-d79960a85855
*Payments Complete*
Winner: malfoys76
Challenge `52a6bb46-9c9d-446c-8456-d79960a85855` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-01 05:16] luizrrodrigues commented on #5433
Payment task has been updated: https://www.topcoder.com/challenges/a6a0b0c7-031a-47e2-810c-4456b449a822
*Payments Complete*
Winner: rashmi73
Challenge `a6a0b0c7-031a-47e2-810c-4456b449a822` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-01 05:16] luizrrodrigues commented on #5248
Payment task has been updated: https://www.topcoder.com/challenges/bfa45a01-35e4-4735-9ccb-a4d43dda9b47
*Payments Complete*
Winner: gets0ul
Challenge `bfa45a01-35e4-4735-9ccb-a4d43dda9b47` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-01 05:16] luizrrodrigues commented on #5312
Payment task has been updated: https://www.topcoder.com/challenges/e360d072-81a1-4de3-aa79-14f5528757cd
*Payments Complete*
Winner: mfikria
Challenge `e360d072-81a1-4de3-aa79-14f5528757cd` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-01 05:16] luizrrodrigues commented on #5331
Payment task has been updated: https://www.topcoder.com/challenges/2e40a217-7f75-4e9e-90d8-6658210dec45
*Payments Complete*
Winner: gets0ul
Challenge `2e40a217-7f75-4e9e-90d8-6658210dec45` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-01 05:19] fikzzzy commented on #5312
@luizrrodrigues does the payment will proceed to my account `fikzzzy` ? because the handle is still `mfikria`

[2021-04-01 17:44] Oanh-and-only-Oanh opened #5461 "Change Forums setting in Profile settings need from legacy forums to Vanilla"
**Describe bug:**
When user clicks on Forums Settings in Profile settings here https://www.topcoder.com/settings/preferences, user is taken to legacy forums settings here https://apps.topcoder.com/forums/?module=Settings
![image](https://user-images.githubusercontent.com/47536078/113333453-4c42c400-92d7-11eb-9f2a-2df2198f1304.png)

**Expected behavior:**
**IDEALLY**, When user clicks on Forums Set

[2021-04-01 18:03] hokienick commented on #5461
![forum preferences](https://user-images.githubusercontent.com/1373998/113335472-d55afa80-92d9-11eb-9817-5c3853fe4dcb.png)

[2021-04-01 18:53] luizrrodrigues commented on #5461
Duplicate of #5433

[2021-04-01 19:59] #5461 closed

[2021-04-01 20:52] luizrrodrigues commented on #5449
Challenge https://www.topcoder.com/challenges/fe8e4ac5-772b-4cb0-88b5-c4cc11d7fbc2 has been assigned to rashmi73.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-02 05:03] SathyaJayabal commented on #5308
The topcoder profile page is displaying a blank page
<img width="1440" alt="Screenshot 2021-04-02 at 10 32 56 AM" src="https://user-images.githubusercontent.com/58783823/113382304-cee28680-939e-11eb-99d8-6e6cb24b49f5.png">

[2021-04-02 05:04] luizrrodrigues commented on #5308
@fikzzzy Please check issue above.

[2021-04-02 05:34] fikzzzy commented on #5308
@luizrrodrigues checking

[2021-04-02 05:35] fikzzzy commented on #5308
@luizrrodrigues which branch does it use?

[2021-04-02 05:38] luizrrodrigues commented on #5308
@fikzzzy Please test locally with your branch

[2021-04-02 05:55] luizrrodrigues commented on #5331
@gets0ul Your solution not working well with nested list, check:
![image](https://user-images.githubusercontent.com/7029641/113385514-ab97e700-935e-11eb-8df3-b8b7ddab47af.png)

We need to have something like this:
![image](https://user-images.githubusercontent.com/7029641/113385566-c66a5b80-935e-11eb-85ac-d9fbbd6b90ae.png)

[2021-04-02 06:52] luizrrodrigues commented on #5312
@fikzzzy Looks like payment go to `mfikria` please contact support in help.topcoder.com and ask to change your link Github account.

[2021-04-02 06:52] fikzzzy commented on #5308
@luizrrodrigues fixed in https://github.com/topcoder-platform/topcoder-react-lib/pull/307 The stats in default profile page is fetched without groupIds so we should not split the requests in default profile page

[2021-04-02 06:54] fikzzzy commented on #5312
@luizrrodrigues already contact it, thanks

[2021-04-02 08:10] SathyaJayabal commented on #5433
verified on beta
https://user-images.githubusercontent.com/58783823/113396303-f0506c00-93b8-11eb-80eb-7d3945a83aef.mov

[2021-04-02 08:16] gets0ul commented on #5331
@luizrrodrigues Pushed new commit to the PR. It should be fixed now.

[2021-04-02 08:50] SathyaJayabal commented on #5329
verified on beta
<img width="1440" alt="Screenshot 2021-04-02 at 2 20 07 PM" src="https://user-images.githubusercontent.com/58783823/113399868-8e930080-93be-11eb-9b58-19afebc295f7.png">

[2021-04-02 08:53] sandhiyakavi commented on #5248
Verified on qa and beta Env. Winners screen is displaying wnen directly accessed through url.

![image](https://user-images.githubusercontent.com/55895538/113397005-5a780980-93d7-11eb-9a01-a4b567fd2675.png)
![image](https://user-images.githubusercontent.com/55895538/113397048-69f75280-93d7-11eb-89c0-6b9a7a4b4fa4.png)

[2021-04-02 09:03] SathyaJayabal commented on #5421
@dedywahyudi , seems good now
<img width="1440" alt="Screenshot 2021-04-02 at 2 31 31 PM" src="https://user-images.githubusercontent.com/58783823/113400892-29d8a580-93c0-11eb-8394-7484606577b0.png">
<img width="1440" alt="Screenshot 2021-04-02 at 2 31 35 PM" src="https://user-images.githubusercontent.com/58783823/113400917-33faa400-93c0-11eb-9a5e-89c6ee87488c.png">
<img width="1440" alt="Screensho

[2021-04-02 09:03] #5421 closed

[2021-04-02 09:12] SathyaJayabal commented on #5312
getting an error when there are more than 500 submissions @luizrrodrigues
<img width="1440" alt="Screenshot 2021-04-02 at 2 41 05 PM" src="https://user-images.githubusercontent.com/58783823/113401772-8be5da80-93c1-11eb-887a-6cf7fc5fe9cb.png">

[2021-04-02 09:29] luizrrodrigues commented on #5312
@fikzzzy please check issue above, challenge link:
https://www.topcoder.com/challenges/f22bdbe1-ad44-4db8-9440-9f0cd1e7532d?tab=submissions

API have limit of 500 perPage, so if total submission is > 500 need get in multiple calls, check as currently submissions from MM works.

[2021-04-02 10:11] SathyaJayabal commented on #5432
verified on staging (develop branch)
<img width="1438" alt="Screenshot 2021-04-02 at 3 40 38 PM" src="https://user-images.githubusercontent.com/58783823/113406872-dbc89f80-93c9-11eb-8c13-5d55f52b7c37.png">

[2021-04-02 10:13] SathyaJayabal commented on #5433
verified on staging(develop branch)

https://user-images.githubusercontent.com/58783823/113407014-1f230e00-93ca-11eb-8bab-151d2287b942.mov

[2021-04-02 10:15] SathyaJayabal commented on #5329
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-04-02 at 3 44 22 PM" src="https://user-images.githubusercontent.com/58783823/113407188-71642f00-93ca-11eb-800d-5b33d5892e17.png">

[2021-04-02 10:18] SathyaJayabal commented on #5248
Verified on Staging (develop branch) . Winners screen is displaying when directly accessed through url.
<img width="1440" alt="Screenshot 2021-04-02 at 3 47 42 PM" src="https://user-images.githubusercontent.com/58783823/113407375-cc962180-93ca-11eb-93ec-43715bc8c387.png">
<img width="1440" alt="Screenshot 2021-04-02 at 3 47 45 PM" src="https://user-images.githubusercontent.com/58783823/113407397-d

[2021-04-02 13:58] SathyaJayabal commented on #5432
verified in prod
<img width="1437" alt="Screenshot 2021-04-02 at 7 27 20 PM" src="https://user-images.githubusercontent.com/58783823/113421959-8ef4c100-93e9-11eb-9e7c-7cecb283d36d.png">

[2021-04-02 13:58] #5432 closed

[2021-04-02 14:00] SathyaJayabal commented on #5433
verified on prod

https://user-images.githubusercontent.com/58783823/113422076-c2375000-93e9-11eb-978a-fb4b45b6374a.mov

[2021-04-02 14:00] #5433 closed

[2021-04-02 14:08] SathyaJayabal commented on #5329
verified on prod
<img width="1440" alt="Screenshot 2021-04-02 at 7 37 22 PM" src="https://user-images.githubusercontent.com/58783823/113422773-e34c7080-93ea-11eb-8135-b6f8c5fa6fdd.png">

[2021-04-02 14:08] #5329 closed

[2021-04-02 14:09] SathyaJayabal commented on #5248
verified on prod
<img width="1440" alt="Screenshot 2021-04-02 at 7 39 11 PM" src="https://user-images.githubusercontent.com/58783823/113422908-23abee80-93eb-11eb-8ab1-de1eed6c45be.png">

[2021-04-02 14:09] #5248 closed

[2021-04-04 03:36] luizrrodrigues commented on #5458
Challenge https://www.topcoder.com/challenges/91a1cf63-61e0-4188-b56f-a00aed21a992 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-04 11:32] nursoltan-s commented on #5458
PR: https://github.com/topcoder-platform/community-app/pull/5465

[2021-04-04 11:32] luizrrodrigues commented on #5454
Challenge https://www.topcoder.com/challenges/3804a62b-9e00-4ef3-9877-df454d62900a has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-04 14:56] nursoltan-s commented on #5454
@luizrrodrigues selecting sub community filter shows no result. Should we report this as bug?
https://monosnap.com/direct/Ao4oOL16oysr9jDozKNrwYbjWPzf2T

[2021-04-04 15:00] nursoltan-s commented on #5454
PR: https://github.com/topcoder-platform/community-app/pull/5465/commits

[2021-04-04 15:01] luizrrodrigues commented on #5455
Challenge https://www.topcoder.com/challenges/66506ee6-a404-415f-b807-10d2f50a35c7 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-04 15:10] nursoltan-s commented on #5455
@luizrrodrigues
1) Old script selects date input, and checks if number of filters applied. However we don't have filter number indicator. How can we test new test script

- One suggestion, We can click "Past month" and checks challenges date is in past month.

2) Please look at below screen record, when pressing "Past month", there is two challenges showing "Invalid Date".
    Should we log it as

[2021-04-04 15:15] luizrrodrigues commented on #5456
Challenge https://www.topcoder.com/challenges/e92f487b-f864-41cd-9ea7-ec5cd04df098 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-04 15:25] nursoltan-s commented on #5456
@luizrrodrigues there is no "Keyword" filter anymore. So should we delete keyword verification step?
If so this test will be same as TC_009

[2021-04-04 15:25] luizrrodrigues commented on #5452
Challenge https://www.topcoder.com/challenges/9b6356e9-ed86-4ea3-a9b2-a465bcff6122 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-04 16:07] nursoltan-s commented on #5452
PR: https://github.com/topcoder-platform/community-app/pull/5465

[2021-04-04 16:12] luizrrodrigues commented on #5457
Challenge https://www.topcoder.com/challenges/8f5c43ce-566b-4e33-9b1d-8e7038c78eaa has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-04 16:16] nursoltan-s commented on #5457
PR: https://github.com/topcoder-platform/community-app/pull/5465

[2021-04-04 16:17] luizrrodrigues commented on #5451
Challenge https://www.topcoder.com/challenges/a68f8fde-33be-482d-aebf-5f69ed10e73a has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-04 16:37] nursoltan-s commented on #5451
@luizrrodrigues I think TC_014 is no longer valid. Because there is no cross symbol inside the textbox ?

[2021-04-04 16:38] nursoltan-s commented on #5451
PR: https://github.com/topcoder-platform/community-app/pull/5465

[2021-04-05 08:14] luizrrodrigues commented on #5456
@nursoltan-s Yes, remove `Keyword` field, but we still need check for: `Type/Sub community/Date range fields`

[2021-04-05 08:16] luizrrodrigues commented on #5455
@nursoltan-s

1. Yes, your suggestion looks good.
2. Yes, please log the issue. Thanks.

[2021-04-05 08:18] luizrrodrigues commented on #5454
@nursoltan-s Try login with user `TonyJ/appirio123`

[2021-04-05 10:06] nursoltan-s commented on #5454
@luizrrodrigues I get "Key must be a buffer" error after login. Do you have same error?

[2021-04-05 10:40] luizrrodrigues commented on #5454
@nursoltan-s

1. If this is part of not logged section, please keep on this.
2. This is issue with currently branch in dev, I'll deploy develop branch on dev. (please check again in 20min)

[2021-04-05 10:44] nursoltan-s commented on #5454
@luizrrodrigues Yes, it is part of not logged in section

[2021-04-06 05:32] sandhiyakavi commented on #5453
@kkartunov When I tried to Refer the Gig, I am getting error message "Failed to get your referralId."

Account used: tester1234

![image](https://user-images.githubusercontent.com/55895538/113662853-e5147d80-96e3-11eb-9f5c-97589d7b151f.png)

Other than the above, the fields for the api responses are correct

<img width="924" alt="recruitcrm_1" src="https://user-images.githubusercontent.com/5589553

[2021-04-06 06:04] kkartunov opened #5466 "Add search state in URL for gig listing page"
When searching should update the URL so links to specific results are possiible.

[2021-04-06 06:17] kkartunov commented on #5453
@sandhiyakavi this appears to be env issue. Test env does not have all keys needed.
![Screenshot from 2021-04-06 09-13-47](https://user-images.githubusercontent.com/5585002/113667011-d8c6fb00-96b8-11eb-8f6b-26dd6997f5b8.png)

Let's test this on dev to make sure it works. It is deploying currently. Please test in ~15min...

[2021-04-06 07:14] sandhiyakavi commented on #5448
@kkartunov In Design (https://marvelapp.com/prototype/f0i4ece/screen/78025759) the heading is in single line but the pop up is going to second line in Test Env.

![image](https://user-images.githubusercontent.com/55895538/113672506-d6819280-96f2-11eb-8bd8-f383d2d62e2d.png)
![image](https://user-images.githubusercontent.com/55895538/113672572-eb5e2600-96f2-11eb-8a88-fc92268fd0e7.png)

[2021-04-06 07:46] sandhiyakavi commented on #5453
Verified on Dev Env.
1. Able to refer persons in Dev Env without any error.

<img width="960" alt="refer_person_devenv" src="https://user-images.githubusercontent.com/55895538/113676124-0c287a80-96f7-11eb-96e7-5be81859b0a8.png">

2. The fields for the api responses are correct
https://www.topcoder-dev.com/api/recruit/jobs?job_status=1
<img width="923" alt="recruitcrm_api_1" src="https://user-image

[2021-04-06 08:22] kkartunov commented on #5448
@sandhiyakavi what is the screen resolution used?

[2021-04-06 08:28] kkartunov commented on #5448
The design referred is for 1440px and above. It is fine to go to more lines for screens smaller than 1440px. We can processed with that...

[2021-04-06 08:34] sandhiyakavi commented on #5448
@kkartunov Yes, my screen resolution is lower than 1440px. I will mark the issue as pass.

[2021-04-06 09:11] sandhiyakavi commented on #5466
@kkartunov The Search state in URL is displayed when a text is searched using Search textbox.

<img width="954" alt="url_search_added_loggedin" src="https://user-images.githubusercontent.com/55895538/113687492-57488a80-9703-11eb-9b95-50f21a7eded2.png">

The Search results are displayed correctly when accessed directly through URL.

<img width="960" alt="url_searcj_2" src="https://user-images.githu

[2021-04-06 13:29] luizrrodrigues commented on #5449
@rashmi73 Any status in this one?

[2021-04-06 16:19] SathyaJayabal commented on #5351
@RishiRajSahu

@RishiRajSahu , last few completed challenges. 10 /10 not tagged.
https://www.topcoder.com/challenges/3f40be0a-ba43-44ce-b8b0-023ba39ca586
https://www.topcoder.com/challenges/2e22cac1-b1ef-42d3-b318-126dcf071e63
https://www.topcoder.com/challenges/20a94a9f-1e97-4a94-b7c4-58f1036bfa17
https://www.topcoder.com/challenges/175ea2f4-e21f-4322-b03b-1d73fdec33fb
https://www.topcoder.com/ch

[2021-04-06 16:34] Oanh-and-only-Oanh opened #5467 "Outage banner"
Deploy a banner across the top of CA listings page and details pages. Let's deployment it asap this week so members can plan accordingly.
Take down banner April 12PM EST

Message should say, "Alert: We will be doing testing work on our Platform on April 12 between 7:30-9:30 UTC-4. We will do our best to ensure a smooth experience for our users but please be aware there may be unforeseen issues dur

[2021-04-07 15:18] jmpld40 commented on #5467
Can I update to this content as below and can we say what pages, not community platform?

Message should say, "Alert: We will be doing testing work on our Community Platform on April 12 between 7:30-9:30 UTC-4. We will do our best to ensure a smooth experience for our users but please be aware there may be unforeseen issues during that time. Thank you!"

Can we see what this will look like?

[2021-04-08 13:05] rashmi73 commented on #5349
@luizrrodrigues it is not reproducible

[2021-04-08 13:06] luizrrodrigues commented on #5449
Challenge https://www.topcoder.com/challenges/fe8e4ac5-772b-4cb0-88b5-c4cc11d7fbc2 rashmi73 has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-08 15:11] luizrrodrigues commented on #5416
@Gauravseta Any status in this one?

[2021-04-08 19:41] Oanh-and-only-Oanh commented on #5467
I'm ok with this. @jmpld40 @hokienick?

[2021-04-08 22:49] jmpld40 commented on #5467
No no keep timings, just include full date/day. Thanks!

On Thu, Apr 8, 2021 at 16:57 Oanh-and-only-Oanh ***@***.***>
wrote:

--
Sent from my Gmail app so please excuse any errors.

[2021-04-09 04:52] luizrrodrigues commented on #5467
@SathyaJayabal Deployed to Beta env
https://beta-community-app.topcoder.com/challenges

cc @Oanh-and-only-Oanh @jmpld40

[2021-04-09 05:01] sandhiyakavi commented on #5467
Verified on Beta Env. Displayed as expected.

<img width="957" alt="without_login_cL" src="https://user-images.githubusercontent.com/55895538/114130640-f788f400-993b-11eb-882d-0dcf933028eb.png">
<img width="959" alt="with_login_cd_msg" src="https://user-images.githubusercontent.com/55895538/114130645-fbb51180-993b-11eb-8d7b-1f126043b5b0.png">

[2021-04-09 05:11] luizrrodrigues commented on #5416
Challenge https://www.topcoder.com/challenges/e5ec9bda-7e42-461d-836a-72e0a4e09775 gauravseta has been unassigned.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-09 06:07] SathyaJayabal commented on #5467
verified on staging (develop branch)
<img width="1439" alt="Screenshot 2021-04-09 at 11 36 54 AM" src="https://user-images.githubusercontent.com/58783823/114136197-f6e66280-9927-11eb-9788-649ba1ab8c7b.png">
<img width="1440" alt="Screenshot 2021-04-09 at 11 37 08 AM" src="https://user-images.githubusercontent.com/58783823/114136214-f9e15300-9927-11eb-8829-f5ed1b6b06cf.png">

[2021-04-09 06:14] SathyaJayabal commented on #5466
verified that the Search state in URL is displayed when a text is searched using Search text box.
<img width="1440" alt="Screenshot 2021-04-09 at 11 42 30 AM" src="https://user-images.githubusercontent.com/58783823/114136778-e2569a00-9928-11eb-81dc-131886b1c384.png">

The Search results are displayed correctly when accessed directly through URL.
<img width="1440" alt="Screenshot 2021-04-09 at 11 4

[2021-04-09 06:21] SathyaJayabal commented on #5453
verified on staging
<img width="1440" alt="Screenshot 2021-04-09 at 11 48 01 AM" src="https://user-images.githubusercontent.com/58783823/114137368-b5ef4d80-9929-11eb-9e8f-27f7a95c2621.png">
<img width="1440" alt="Screenshot 2021-04-09 at 11 49 02 AM" src="https://user-images.githubusercontent.com/58783823/114137381-bb4c9800-9929-11eb-8bb5-43695a921faa.png">
<img width="1440" alt="Screenshot 2021-0

[2021-04-09 06:24] SathyaJayabal commented on #5448
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-04-09 at 11 52 54 AM" src="https://user-images.githubusercontent.com/58783823/114137742-429a0b80-992a-11eb-907a-9b516175f13d.png">

[2021-04-09 09:43] sandhiyakavi commented on #5467
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/55895538/114161671-501fb780-9963-11eb-85f0-940a0ef6f809.png)
![image](https://user-images.githubusercontent.com/55895538/114161774-675ea500-9963-11eb-87b9-8e0471e3a4f3.png)

[2021-04-09 09:50] sandhiyakavi commented on #5466
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/55895538/114162288-ef44af00-9963-11eb-85a3-51c1034dd33c.png)

Able to access using url
![image](https://user-images.githubusercontent.com/55895538/114162759-5eba9e80-9964-11eb-9810-cd4463d4137b.png)

[2021-04-09 09:58] sandhiyakavi commented on #5448
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/55895538/114163206-e0aac780-9964-11eb-8a66-ded18860bcca.png)

[2021-04-09 10:17] sandhiyakavi commented on #5453
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/55895538/114165568-9e36ba00-9967-11eb-88b4-3a86c13933b0.png)
![image](https://user-images.githubusercontent.com/55895538/114165737-d5a56680-9967-11eb-96e4-3aae13e08a64.png)
![image](https://user-images.githubusercontent.com/55895538/114165873-fe2d6080-9967-11eb-8fdf-924b13381414.png)
![image](https://user-images.githubuserco

[2021-04-09 11:23] #5448 closed

[2021-04-09 11:24] #5453 closed

[2021-04-09 11:24] #5466 closed

[2021-04-09 11:27] lakshmiathreya commented on #5467
@SathyaJayabal @Oanh-and-only-Oanh thanks for this banner! However, pls note that the test is scheduled for 6 pm IST - after Topgear business hours - which is 8.30 EDT - UCT-4 ...

[2021-04-09 12:14] SathyaJayabal commented on #5467
<img width="1440" alt="Screenshot 2021-04-09 at 5 44 10 PM" src="https://user-images.githubusercontent.com/58783823/114178348-3e3a1680-995b-11eb-89af-385ffacc0f15.png">
<img width="1440" alt="Screenshot 2021-04-09 at 5 44 16 PM" src="https://user-images.githubusercontent.com/58783823/114178363-42feca80-995b-11eb-8658-169869cdf5e1.png">

[2021-04-09 13:09] SathyaJayabal commented on #5467
updated time in prod
<img width="1440" alt="Screenshot 2021-04-09 at 6 38 24 PM" src="https://user-images.githubusercontent.com/58783823/114185048-e69fa900-9962-11eb-8b08-7a9084f6f4bd.png">

[2021-04-09 13:09] #5467 closed

[2021-04-10 16:31] luizrrodrigues commented on #5449
Challenge https://www.topcoder.com/challenges/fe8e4ac5-772b-4cb0-88b5-c4cc11d7fbc2 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-04-12 07:12] kkartunov opened #5476 "Gig listing marketing"
Implement support for:
- tags for gigs: https://marvelapp.com/prototype/27i3a2cg/screen/78281998/handoff
- hotlist of gigs on the right side: https://marvelapp.com/prototype/27i3a2cg/screen/76301096/handoff

[2021-04-12 14:56] luizrrodrigues opened #5477 "Remove Outage Banner"
Reference: #5467

[2021-04-12 15:23] SathyaJayabal commented on #5477
verified on staging
<img width="1440" alt="Screenshot 2021-04-12 at 8 50 16 PM" src="https://user-images.githubusercontent.com/58783823/114419259-e6a4e080-9bd0-11eb-81e0-fdc4b20ef9fb.png">
<img width="1440" alt="Screenshot 2021-04-12 at 8 50 21 PM" src="https://user-images.githubusercontent.com/58783823/114419332-f58b9300-9bd0-11eb-8a09-40c70aea586f.png">

[2021-04-12 15:50] SathyaJayabal commented on #5477
verified on prod
<img width="1440" alt="Screenshot 2021-04-12 at 9 18 49 PM" src="https://user-images.githubusercontent.com/58783823/114423349-ba8b5e80-9bd4-11eb-81ea-1491c7d26538.png">
<img width="1440" alt="Screenshot 2021-04-12 at 9 18 57 PM" src="https://user-images.githubusercontent.com/58783823/114423412-caa33e00-9bd4-11eb-964d-5bd3f94e2e36.png">

[2021-04-12 15:50] #5477 closed

[2021-04-12 20:12] ajefts commented on #5313
@luizrrodrigues Just checking when  this one will be released?  I keep seeing the milestone adjusted, but not sure what that means for the dates.  Thanks.

[2021-04-12 22:07] luizrrodrigues commented on #5313
Hey @ajefts sorry delay on this. I forget to update status here, we deployed this to QA, but failed, implementation have an issue, I'll include this to next release Thursday.

[2021-04-12 22:11] Oanh-and-only-Oanh commented on #5313
thanks for the update @luizrrodrigues

[2021-04-13 11:31] SathyaJayabal commented on #5476
verified on test
tags
<img width="1440" alt="Screenshot 2021-04-13 at 4 45 30 PM" src="https://user-images.githubusercontent.com/58783823/114545607-c846ef80-9c79-11eb-9252-97f3e2f3549c.png">
hotlist
<img width="1440" alt="Screenshot 2021-04-13 at 4 50 20 PM" src="https://user-images.githubusercontent.com/58783823/114545610-ca10b300-9c79-11eb-9d66-c574e7c69222.png">
hotlist not displayed for some u

[2021-04-13 12:58] ajefts commented on #5418
@Oanh-and-only-Oanh Any idea when this will get picked back up?  Thanks.

[2021-04-13 12:59] ajefts commented on #5308
@Oanh-and-only-Oanh Do we know when this will get tested and released?  Thanks.

[2021-04-13 13:31] ajefts opened #5480 "Marathon Ratings Issues"
**Describe the bug**

We have to do manual tasks to run the ratings for MM after every match. There is a legacy processor which does fill the tables but not properly. One of that table is long_component_result.

**Issue 1:**
Every-time after a match, I create insert queries for that table, we fill it correctly, then Erinn corrects a few more tables like long_component_state, finally runs ratings a

[2021-04-14 06:29] SathyaJayabal commented on #5361
Verified the following on dev
I have verified the following scenarios e2e:
User wins a public challenge with skill A -->
Topgear challenge with skill A is recommended
Public challenge with skill A is recommended
2. User wins a topgear challenge with skill B  -->
Topgear challenge with skill B is recommended
Public challenge with skill B is recommended

[2021-04-15 07:08] SathyaJayabal opened #5481 "Challenge details page not loading"
We are getting some api errors that cause an error on the challenge details page
<img width="1440" alt="Screenshot 2021-04-15 at 11 37 25 AM" src="https://user-images.githubusercontent.com/58783823/114828278-555b8700-9de7-11eb-8a9f-900d90c9faa6.png">

<img width="1440" alt="Screenshot 2021-04-15 at 12 37 03 PM" src="https://user-images.githubusercontent.com/58783823/114828340-66a49380-9de7-11eb-98

[2021-04-15 07:37] SathyaJayabal commented on #5481
This is fixed now
<img width="1440" alt="Screenshot 2021-04-15 at 1 07 16 PM" src="https://user-images.githubusercontent.com/58783823/114831907-88077e80-9deb-11eb-8788-9c443a086357.png">

[2021-04-15 07:37] #5481 closed

[2021-04-15 07:43] SathyaJayabal opened #5482 "Topgear challenge details page not loading"
1. Go to Listings page: User can see Topgear challenges as they are a member of wipro-all group (user: picachui)
<img width="1440" alt="Screenshot 2021-04-15 at 1 13 35 PM" src="https://user-images.githubusercontent.com/58783823/114832706-69ee4e00-9dec-11eb-83b1-49499d884fe9.png">

2. Click on any one topgear challenge

Challenge details page does not load, and there is no response form challenge

[2021-04-15 11:46] maxceem opened #5484 "Don't allow filter by "Task" when Recommender is enabled"
**Is your feature request related to a problem? Please describe.**
On the challenge listing page can enable Recommender option to see challenge recommended to the current user based on the user skills

At the moment Recommender API doesn't recommend Private Tasks as per requirements. So having "task" option misleads here as tasks would never get recommended.

![image](https://user-images.githubuse

[2021-04-15 11:55] SathyaJayabal commented on #5313
verified on staging

Network tab there are be 2 requests POST to https://api.segment.io/v1/i, one will send it to segment and one will send only to chameleon (with request payload { integrations: { All: false, Chameleon: true }})
<img width="906" alt="Screenshot 2021-04-15 at 5 25 24 PM" src="https://user-images.githubusercontent.com/58783823/114865234-95cefb00-9e0f-11eb-8abc-83fae02cd7f2.png">
<i

[2021-04-15 12:12] luizrrodrigues commented on #5482
@SathyaJayabal Can you click in error call and then click in `preview`?

![image](https://user-images.githubusercontent.com/7029641/114867054-b3c63c80-9dca-11eb-9d8a-ba15affb77f6.png)

[2021-04-15 12:17] SathyaJayabal commented on #5482
@luizrrodrigues , works now
<img width="1440" alt="Screenshot 2021-04-15 at 5 46 02 PM" src="https://user-images.githubusercontent.com/58783823/114867543-9321d500-9e12-11eb-9a51-7d481f363983.png">
<img width="1440" alt="Screenshot 2021-04-15 at 5 46 38 PM" src="https://user-images.githubusercontent.com/58783823/114867562-99b04c80-9e12-11eb-8394-500ba739881e.png">
<img width="1440" alt="Screenshot

[2021-04-15 12:17] #5482 closed

[2021-04-15 12:23] luizrrodrigues commented on #5308
@ajefts Sorry delay here, looks like member delete him account, so no able to apply the PR, I'll check the changes and apply the hotfix directly.

[2021-04-15 12:23] SathyaJayabal commented on #5476
verified on staging.

Tags
<img width="1440" alt="Screenshot 2021-04-15 at 5 48 40 PM" src="https://user-images.githubusercontent.com/58783823/114868298-60c4a780-9e13-11eb-9651-9c5c48a9351a.png">

hotlist
<img width="1440" alt="Screenshot 2021-04-15 at 5 52 11 PM" src="https://user-images.githubusercontent.com/58783823/114868328-691ce280-9e13-11eb-81f6-748737387dab.png">

[2021-04-15 12:57] SathyaJayabal commented on #5476
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-04-15 at 6 26 12 PM" src="https://user-images.githubusercontent.com/58783823/114872744-3aedd180-9e18-11eb-8721-257c3ab82f81.png">
<img width="1440" alt="Screenshot 2021-04-15 at 6 27 03 PM" src="https://user-images.githubusercontent.com/58783823/114872769-3fb28580-9e18-11eb-90f7-85406e3c19cc.png">

[2021-04-15 13:00] SathyaJayabal commented on #5313
verified on staging(develop branch)

Network tab there are be 2 requests POST to https://api.segment.io/v1/i, one will send it to segment and one will send only to chameleon (with request payload { integrations: { All: false, Chameleon: true }})
<img width="825" alt="Screenshot 2021-04-15 at 6 28 40 PM" src="https://user-images.githubusercontent.com/58783823/114872985-75f00500-9e18-11eb-811e-21d10

[2021-04-15 14:01] SathyaJayabal commented on #5313
verified on prod
Network tab there are 2 requests POST to https://api.segment.io/v1/i, one will send it to segment and one will send only to chameleon (with request payload { integrations: { All: false, Chameleon: true }})
<img width="829" alt="Screenshot 2021-04-15 at 7 28 18 PM" src="https://user-images.githubusercontent.com/58783823/114881737-e6028900-9e20-11eb-8932-0f8cde989a3c.png">
<img widt

[2021-04-15 14:02] SathyaJayabal commented on #5476
Tags
<img width="1440" alt="Screenshot 2021-04-15 at 7 31 42 PM" src="https://user-images.githubusercontent.com/58783823/114882130-442f6c00-9e21-11eb-836f-3fb6c87a729e.png">
![Uploading Screenshot 2021-04-15 at 7.31.55 PM.png…]()

[2021-04-15 14:02] #5476 closed

[2021-04-15 14:35] luizrrodrigues commented on #5313
@SathyaJayabal I'll reopen this one until @ajefts check.

@ajefts This one was release, please let me know if working well in your side.

Thanks.

[2021-04-19 01:28] m-yadav opened #5486 "Profile details section overlaps the footer on the page"
**Describe the bug**
The profile page's left hand section which contains the profile picture , handle name and the tracks one competes in overflows over the page footer.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ''https://www.topcoder.com/members/manish_yadav" or for any profile of your choice
2. Scroll down to see the left hand section overlapping the footer section on the page

[2021-04-20 11:22] luizrrodrigues opened #5487 "Remove CORS from tc-communities"
Remove CORS from `tc-communities` call to allow Earn Micro App works well.

[2021-04-20 12:16] SathyaJayabal commented on #5487
Verified on staging (develop)
Subcommunities are loading fine
<img width="1433" alt="Screenshot 2021-04-20 at 5 46 13 PM" src="https://user-images.githubusercontent.com/58783823/115394343-52560180-a200-11eb-8b2e-f1284136850b.png">

[2021-04-20 13:23] SathyaJayabal commented on #5487
Verified on prod
Subcommunities are loading fine
<img width="1440" alt="Screenshot 2021-04-20 at 6 52 13 PM" src="https://user-images.githubusercontent.com/58783823/115403000-9bf71a00-a209-11eb-860a-d10972693c78.png">

[2021-04-20 13:23] #5487 closed

[2021-04-22 15:47] Oanh-and-only-Oanh opened #5490 "[$50] Add banner on Listings Page to introduce MFE"
1. Add a banner at the top of the Challenge Listings page here https://www.topcoder.com/challenges?
that says,

"Click here if you'd like to visit the new BETA Challenge Listings site."

[2021-04-22 16:23] Oanh-and-only-Oanh commented on #5490
On the current legacy Listings page, maybe just something like
![image](https://user-images.githubusercontent.com/47536078/115749840-5db64380-a34c-11eb-97d0-a8d88acef512.png)

[2021-04-22 16:25] dedywahyudi commented on #5490
I see, which one the link? "Click here" word or " new BETA Challenge Listings site" and what is the url?

[2021-04-22 16:27] Oanh-and-only-Oanh commented on #5490
URL: https://platform.topcoder.com/earn/find/challenges
Let's make that whole banner clickable.

@Dara-K, any objections?

[2021-04-22 16:47] Dara-K commented on #5490
@Oanh-and-only-Oanh  Can we make it light green or blue? to be more of an informational thing, rather than an alert/ warning thing -  what yellow usually stands up for

[2021-04-23 21:55] dedywahyudi commented on #5490
@Oanh-and-only-Oanh Please check this design

![06_1_Find-Work-Challenges](https://user-images.githubusercontent.com/4476442/115933522-3b8e0400-a4b9-11eb-98f3-b9b4f85d1b25.png)

[2021-04-24 00:01] Oanh-and-only-Oanh commented on #5490
@dedywahyudi, it's on the wrong app. Can you add banner to current challenge listings page and not the EARN app?

[2021-04-24 12:47] dedywahyudi commented on #5490
@Oanh-and-only-Oanh

Please recheck this updated design

![06_0_A-Banner on Community App listings page (2)](https://user-images.githubusercontent.com/4476442/115959264-9107f680-a535-11eb-8e30-bd31ac882efa.png)
![06_0_A-Banner on Community App listings page (1)](https://user-images.githubusercontent.com/4476442/115959266-95341400-a535-11eb-8436-55f27e09efa9.png)
![06_0_A-Banner on Community App li

[2021-04-26 14:24] Oanh-and-only-Oanh commented on #5490
In terms of placement, looks good.
1) will the banner continue to stay there on the page until user clicks on the X?

[2021-04-26 14:25] dedywahyudi commented on #5490
@Oanh-and-only-Oanh Yes, correct.

[2021-04-26 22:07] Dara-K commented on #5490
This looks fine to me.

[2021-04-26 22:51] jmgasper opened #5491 "Footer issue"
We're attempting to replicate the footer for the community app in the discussions app as well (https://discussions.topcoder.com).  We ran into some minor integration issues due to Vanilla (the forums software) not liking some things about the community app footer.

Here was the comment from our forums developer:

Need your help to fix an issue with the footer.  `auth0-spa-js` script adds an iframe

[2021-04-28 08:44] kkartunov opened #5492 "Update text on application form"
![Screen Shot 2021-04-27 at 1 43 09 PM](https://user-images.githubusercontent.com/5585002/116374475-fb12eb00-a816-11eb-84eb-4ecb12766be1.png)

update "Upload Your..." text to:

"Please upload your resume/CV. Double-check that all of your tech skills are listed in your resume/CV and add them to the tech skills section below."

[2021-04-28 08:48] kkartunov opened #5493 "Update the duration icon"
![image](https://user-images.githubusercontent.com/5585002/116375002-87251280-a817-11eb-9d8e-d272b6012ea5.png)

update the duration icon (sand clock) to calendar icon as per:

![image](https://user-images.githubusercontent.com/5585002/116375133-a4f27780-a817-11eb-83d2-516ddc6ccc45.png)

[2021-04-28 10:12] SathyaJayabal commented on #5493
verified on test
<img width="1292" alt="Screenshot 2021-04-28 at 3 42 05 PM" src="https://user-images.githubusercontent.com/58783823/116387341-5903fa80-a838-11eb-8b5f-32aaad5fc3a4.png">

[2021-04-28 11:59] SathyaJayabal commented on #5447
@kkartunov , I can see the image updated for design and dev contests. But for Qa and DS challenges I see the dev image instead of the Qa and DS  images
Design:
<img width="1271" alt="Screenshot 2021-04-28 at 5 08 33 PM" src="https://user-images.githubusercontent.com/58783823/116399972-1dbcf800-a847-11eb-9d78-927fa631f3d5.png">
Dev
<img width="1254" alt="Screenshot 2021-04-28 at 5 09 58 PM" src="ht

[2021-04-28 12:04] SathyaJayabal commented on #5492
The updated text  when the user already had applied before is:
Please upload your resume/CV. Double-check that all of your tech skills are listed in your resume/CV and add them to the tech skills section below, Test CV.docx
<img width="884" alt="Screenshot 2021-04-28 at 5 33 29 PM" src="https://user-images.githubusercontent.com/58783823/116400617-e3a02600-a847-11eb-88e7-c5c24762a56c.png">

Shouldn

[2021-04-28 15:22] rdarshane opened #5494 "unable to access the profile details and payments"
**Describe the bug**
There are error dialogs displayed when trying to access profile and payments information.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/my-dashboard'
2. There are error pop-ups displayed.
3.  Click on 'Payments'
4. The page does not load.

**Screenshots**
![image](https://user-images.githubusercontent.com/11310897/116429563-a184dd80-a863

[2021-04-28 16:01] kkartunov commented on #5492
@SathyaJayabal let's keep format as it was before, with the comma.

[2021-04-28 16:17] Oanh-and-only-Oanh commented on #5480
Issue 2: remove subtrack "dev Marathon Match"
Issue 3: hold issue for now.
Issue 4: map old link to new link and redirect

[2021-04-28 18:25] Oanh-and-only-Oanh opened #5495 "[$50] Hide "Dev Marathon Match" subtrack on profile page"
**Describe the bug**
404 error page when clicking into the ratings subtrack for Development Marathon Match on profile page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/members/wleite
2. click on "Develop Marathon Match" subtrack
![image](https://user-images.githubusercontent.com/47536078/116453441-bcc7fc80-a813-11eb-8d09-b1efcc826cea.png)
3. see 404 error pa

[2021-04-30 19:12] luizrrodrigues commented on #5490
Challenge https://www.topcoder.com/challenges/200023cb-5e13-4017-ba2a-fb9d674f7b60 has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-01 00:51] nursoltan-s commented on #5490
@bug-bash-helper assign me

[2021-05-01 00:51] luizrrodrigues commented on #5490
Challenge https://www.topcoder.com/challenges/200023cb-5e13-4017-ba2a-fb9d674f7b60 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-01 03:46] nursoltan-s commented on #5490
@bug-bash-helper https://github.com/topcoder-platform/community-app/pull/5496 is ready for review

[2021-05-03 14:31] luizrrodrigues commented on #5490
@SathyaJayabal Deploying to Dev and Stag.
https://app.circleci.com/pipelines/github/topcoder-platform/community-app/2867/workflows/90edef7d-2668-4d27-8da1-dab56d6001af

[2021-05-03 14:46] SathyaJayabal commented on #5490
@luizrrodrigues , the whole banner must be clickable
<img width="1434" alt="Screenshot 2021-05-03 at 8 15 33 PM" src="https://user-images.githubusercontent.com/58783823/116891504-695b1180-ac4c-11eb-952e-a74931d16b88.png">

[2021-05-03 14:57] Oanh-and-only-Oanh commented on #5490
@luizrrodrigues please fix the typo as well on the message. `Click here if you'd like to visit the new Beta Challenge Listings site
`
![image](https://user-images.githubusercontent.com/47536078/116892867-2b76d280-abe5-11eb-853c-9127b3a3b866.png)

[2021-05-03 15:58] luizrrodrigues commented on #5490
@SathyaJayabal Deploying hotfix: https://app.circleci.com/pipelines/github/topcoder-platform/community-app?branch=nursoltan-s-issue-5490

[2021-05-03 16:18] SathyaJayabal commented on #5490
verified on Staging
<img width="1440" alt="Screenshot 2021-05-03 at 9 47 48 PM" src="https://user-images.githubusercontent.com/58783823/116902832-42570c80-ac59-11eb-97aa-2ed604ec82f7.png">

[2021-05-03 16:47] SathyaJayabal commented on #5490
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-05-03 at 10 16 47 PM" src="https://user-images.githubusercontent.com/58783823/116906028-5bfa5300-ac5d-11eb-8982-98f175bf303c.png">

[2021-05-03 17:29] SathyaJayabal commented on #5490
verified on prod
<img width="1440" alt="Screenshot 2021-05-03 at 10 58 08 PM" src="https://user-images.githubusercontent.com/58783823/116910320-1ccf0080-ac63-11eb-9b6e-7c1d7d4dd762.png">

[2021-05-03 17:29] luizrrodrigues commented on #5490
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-04 09:08] luizrrodrigues commented on #5308
@SathyaJayabal Deployed to Stag and Dev env

[2021-05-04 11:28] SathyaJayabal commented on #5416
@luizrrodrigues , we need to fix this soon, Its blocking the v5 pure task (WM)

[2021-05-04 13:28] kkartunov opened #5498 "Fix failed gig application - edge case"
Problem: `salary_expectation` accepts spaces wich breaks the application process.
Solution: Application should pass if value is number, nomatter the spaces which should be trimed when calling the API.

[2021-05-04 14:59] kkartunov commented on #5447
@SathyaJayabal those issues found are fixed. Please, re-test, thanks!

[2021-05-04 14:59] kkartunov commented on #5447
@SathyaJayabal it is now deployed on **beta**

[2021-05-04 16:18] Oanh-and-only-Oanh opened #5499 "Update Topgear homepage banner"
update the banner image in topgear.topcoder.com home page with attached image

[2021-05-04 16:29] #5499 closed

[2021-05-04 21:16] kkartunov opened #5500 "Gig tags update + featured gigs via toggle"
Update tagging process for gigs so that tagged gigs are not always sorted at the top unless explicitly set via toggle in recruitCRM

[2021-05-04 21:27] luizrrodrigues commented on #5308
cc @drasticdpk @sandhiyakavi ☝️

[2021-05-05 06:19] sandhiyakavi commented on #5447
@kkartunov For below QA and DS challenge which has prize amount $0 , the images are not loading
https://beta-community-app.topcoder.com/challenges/48406f89-3b18-488e-bccf-b7c7e6e8dd0b
![image](https://user-images.githubusercontent.com/55895538/117103104-ab9f6280-adb4-11eb-8be7-a5c4f0a6d04f.png)

https://beta-community-app.topcoder.com/challenges/118cb7f0-25e9-40e5-83ee-bd6fb3514e1d
![image](https:

[2021-05-05 07:35] sandhiyakavi commented on #5492
Verified on Beta Env.

![image](https://user-images.githubusercontent.com/55895538/117109429-9d0a7880-adbf-11eb-88e0-60ee929f02db.png)
![image](https://user-images.githubusercontent.com/55895538/117109604-dfcc5080-adbf-11eb-85b8-2e0a2ecbf4d1.png)

[2021-05-05 08:20] sandhiyakavi commented on #5308
@luizrrodrigues In Dev Env, if we try to access the profile page of the members in Leaderboard page its displaying 404 HTTP error.

![image](https://user-images.githubusercontent.com/55895538/117110798-a4cb1c80-adc1-11eb-8ea8-b0552e885be2.png)

Able to access the profile page of the common users TonyJ, Jcori and dan_developer. The Topcoder profile page is also loading without any error for these u

[2021-05-05 10:35] urwithat opened #5501 "[$70]Member Settings Page not displaying Members Country"
**Describe the bug**
Member Settings Page not displaying new Member Country on UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign Up / Registration for a new Member, providing your preferred Country - 'https://www.topcoder.com/login`
2. Activate the member account, via the process of email.
3. Login with the new member credentials - 'https://www.topcoder.com/login`
3. Go to 'https://ww

[2021-05-05 11:37] kkartunov commented on #5500
@SathyaJayabal @sandhiyakavi this is on beta ready for QA

[2021-05-05 12:25] sandhiyakavi commented on #5500
Verified in Beta Env.

Tagged gigs which are toggled on in recruitcrm are displayed at the top.
https://beta-community-app.topcoder.com/gigs/26751764
 https://beta-community-app.topcoder.com/gigs/26744449
![image](https://user-images.githubusercontent.com/55895538/117139748-909a1600-ade7-11eb-9b5b-361f2563a790.png)
![image](https://user-images.githubusercontent.com/55895538/117139787-9bed4180-ade7

[2021-05-06 02:21] luizrrodrigues commented on #5308
@sandhiyakavi this issue with DEV env, missing some users.

[2021-05-06 06:49] sandhiyakavi commented on #5498
Verified in Beta Env. Application is getting submitted successfully even if the Salary expectation has space in it.

https://user-images.githubusercontent.com/55895538/117253775-8c6f0680-ae82-11eb-84aa-7c82cf324073.mp4

https://user-images.githubusercontent.com/55895538/117253781-8f69f700-ae82-11eb-866c-ee30a21a21c3.mp4

[2021-05-06 13:15] luizrrodrigues commented on #5500
@kkartunov please raise PR to this one and other ready issues.
Thanks.

[2021-05-07 01:40] sandhiyakavi commented on #5308
@luizrrodrigues Getting 404 HTTP error in Beta Env.

<img width="1680" alt="Screenshot 2021-05-06 at 9 58 25 PM" src="https://user-images.githubusercontent.com/55895538/117385745-9e06eb80-af20-11eb-9a20-a25c9215e43f.png">

[2021-05-07 01:44] sandhiyakavi commented on #5493
Verified on Staging Env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/117386101-3ef5a680-af21-11eb-8afd-eda94afe2985.png)

[2021-05-07 01:53] sandhiyakavi commented on #5500
Verified on Staging Env. Working as expected

<img width="958" alt="test_1" src="https://user-images.githubusercontent.com/55895538/117386768-6b5df280-af22-11eb-973c-fabd99a84041.png">
<img width="960" alt="api_1" src="https://user-images.githubusercontent.com/55895538/117386788-7022a680-af22-11eb-8f3a-8cb0001440d9.png">
<img width="958" alt="gig_tag_2" src="https://user-images.githubusercontent.c

[2021-05-07 01:59] sandhiyakavi commented on #5492
Verified on Staging Env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/117386977-dc050f00-af22-11eb-9e19-545ab4e7ab63.png)

[2021-05-07 02:08] sandhiyakavi commented on #5447
Verified on Staging Env.

<img width="960" alt="F2F_thunmb" src="https://user-images.githubusercontent.com/55895538/117387797-7d409500-af24-11eb-8f31-aa9cba6cf5bd.png">
<img width="960" alt="challenge_thumb" src="https://user-images.githubusercontent.com/55895538/117387810-80d41c00-af24-11eb-9b06-5a4602dbcea5.png">
<img width="960" alt="QA_thumnail" src="https://user-images.githubusercontent.com/5

[2021-05-07 02:14] sandhiyakavi commented on #5498
Verified on Staging Env. Working as expected

https://user-images.githubusercontent.com/55895538/117388258-664e7280-af25-11eb-92c1-ee6a5f8c949d.mp4

[2021-05-07 03:40] sandhiyakavi opened #5506 "Gig page: Some values under Location dropdown is duplicated"
Description:

Values " Any Location", "India Only", "United states, India Canada"(differed by comma)  under Location dropdown are duplicated.

![image](https://user-images.githubusercontent.com/55895538/117394435-23929780-af31-11eb-97e9-3344c9990a55.png)
![image](https://user-images.githubusercontent.com/55895538/117394475-35743a80-af31-11eb-9c43-5a68cc2d5de0.png)

[2021-05-07 04:59] nursoltan-s commented on #5490
@SathyaJayabal @luizrrodrigues

Hi, this one is closed without payment. Can you please make the payment? Thanks in advance.

[2021-05-07 05:08] luizrrodrigues commented on #5490
Challenge https://www.topcoder.com/challenges/373c6e8f-aeb1-4281-b57d-7c10a799cb2b has been created for this ticket.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-07 05:08] #5490 closed

[2021-05-07 05:11] luizrrodrigues commented on #5490
Payment task has been updated: https://www.topcoder.com/challenges/373c6e8f-aeb1-4281-b57d-7c10a799cb2b
*Payments Complete*
Winner: nursoltan-s
Copilot: luizrrodrigues
Challenge `373c6e8f-aeb1-4281-b57d-7c10a799cb2b` has been paid and closed.<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-07 06:09] m-yadav opened #5507 "Dead Links on TCO19 Website"
**Describe the bug**
Dead links are observed on tco19 website's competition rules page. This is happening for all the links under the Competition Specific Rules section

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://tco19.topcoder.com/competition-rules'
2. Scroll down to the section of Competition Specific Rules and try to click on any of the hyperlinks.

![image](https://use

[2021-05-07 06:12] luizrrodrigues commented on #5490
Sorry, @nursoltan-s done.

[2021-05-07 07:31] sandhiyakavi commented on #5493
Verified on Prod Env. Working as expected

![image](https://user-images.githubusercontent.com/55895538/117414070-b04d4d80-af51-11eb-9b74-5d783f3e28dd.png)

[2021-05-07 07:38] sandhiyakavi commented on #5500
Verified on Prod Env. Working as expected

<img width="960" alt="Prod_1" src="https://user-images.githubusercontent.com/55895538/117414907-a841dd80-af52-11eb-8e34-1a0c0ebb81b1.png">
<img width="960" alt="Prod_2" src="https://user-images.githubusercontent.com/55895538/117414918-abd56480-af52-11eb-89d6-a848a723a587.png">
<img width="959" alt="Prod_3" src="https://user-images.githubusercontent.com/55

[2021-05-07 07:45] sandhiyakavi commented on #5492
Verified on Prod Env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/117415687-8e54ca80-af53-11eb-893f-bc96320c2170.png)
![image](https://user-images.githubusercontent.com/55895538/117415770-a4fb2180-af53-11eb-8f75-c340455cdbc3.png)

[2021-05-07 07:53] sandhiyakavi commented on #5447
Verified on Prod Env. Working as expected

<img width="956" alt="thumb_1" src="https://user-images.githubusercontent.com/55895538/117416836-bc86da00-af54-11eb-917b-0f85003c6bad.png">
<img width="958" alt="thumb_2" src="https://user-images.githubusercontent.com/55895538/117416845-bee93400-af54-11eb-8afa-95f7eb0fa997.png">
<img width="960" alt="thumb_3" src="https://user-images.githubusercontent.com

[2021-05-07 07:58] sandhiyakavi commented on #5498
Verified on Prod Env. Working as expected

https://user-images.githubusercontent.com/55895538/117417427-4b93f200-af55-11eb-9892-c0a57a9a49d3.mp4

[2021-05-07 08:21] #5498 closed

[2021-05-07 08:21] #5447 closed

[2021-05-07 08:22] #5492 closed

[2021-05-07 08:22] #5500 closed

[2021-05-07 08:22] #5493 closed

[2021-05-07 12:43] kkartunov opened #5509 "Prevent people already placed on a gig from applying to a gig"
as per title.
Look & feel to match:
![Gig-Work-Topcoder-Community-Topcoder](https://user-images.githubusercontent.com/5585002/117787811-78931e00-b24f-11eb-8a40-9075f89d2c0d.png)

[2021-05-10 23:49] luizrrodrigues commented on #5308
@sandhiyakavi Can you share "Preview" tab?

[2021-05-11 04:43] SathyaJayabal commented on #5308
@lakshmiathreya , @luizrrodrigues , I see only this error for the call https://fast.trychameleon.com/observe/v2/profiles

<img width="1440" alt="Screenshot 2021-05-11 at 10 12 57 AM" src="https://user-images.githubusercontent.com/58783823/117759484-7fb32f80-b241-11eb-9279-0c596a40eafa.png">

[2021-05-11 09:49] SathyaJayabal commented on #5509
@kkartunov , verified on beta.

User already placed in a gig
<img width="1437" alt="Screenshot 2021-05-11 at 3 16 14 PM" src="https://user-images.githubusercontent.com/58783823/117795804-23193a00-b26c-11eb-8def-c8017bbb28dd.png">

User not yet placed in any gig
<img width="1440" alt="Screenshot 2021-05-11 at 3 17 55 PM" src="https://user-images.githubusercontent.com/58783823/117795887-31675600-b26

[2021-05-11 13:42] luizrrodrigues commented on #5308
@SathyaJayabal You need access this via wipro community:
https://beta-community-app.topcoder.com/__community__/wipro/members/narayana/

[2021-05-11 15:39] Oanh-and-only-Oanh commented on #5308
I'M GETTING A 404 ERROR PAGE WHEN I CLICK ON THAT LINK. (SORRY MY KEYBOARD
IS BROKEN SO I CAN ONLY TYPE IN CAPS)

On Tue, May 11, 2021 at 6:42 AM Luiz Ricardo Rodrigues <
***@***.***> wrote:

[2021-05-11 15:44] luizrrodrigues commented on #5308
@Oanh-and-only-Oanh Is possible add my account (Prod) to TopGear group? `luizrrodrigues`

[2021-05-11 15:57] SathyaJayabal commented on #5308
oh yes, sorry, will try again

[2021-05-11 15:59] SathyaJayabal commented on #5308
@luizrrodrigues , can u put the fix back on beta please?

[2021-05-11 17:06] Oanh-and-only-Oanh commented on #5308
IT WORKED FOR ME ON BETA.

On Tue, May 11, 2021 at 9:56 AM Luiz Ricardo Rodrigues <
***@***.***> wrote:

[2021-05-11 17:08] Oanh-and-only-Oanh opened #5510 "FIX MY CHALLENGES BUCKET ON LISTINGS PAGE"
BUG: THE MY CHALLENGES BUCKET ON THE CHALLENGE LISTINGS PAGE IS NOT WORKING

EXPECTED BEHAVIOR: MY CHALLENGES BUCKET SHOULD LISTING ALL CHALLENGES USER IS REGISTERED FOR

[2021-05-12 02:59] SathyaJayabal commented on #5308
It looks good for me too. But i dont see nay challenge data for the user.
<img width="1440" alt="Screenshot 2021-05-12 at 8 28 40 AM" src="https://user-images.githubusercontent.com/58783823/117911862-1cd29e80-b2fc-11eb-8d4d-058eb021bd0d.png">

[2021-05-12 04:06] SathyaJayabal opened #5512 "TopGear Profile page not displaying challenge history of the user"
TopGear Profile page not displaying challenge history of the user, even through the user seems to have participated in challenges.

<img width="312" alt="Screenshot 2021-05-12 at 9 34 35 AM" src="https://user-images.githubusercontent.com/58783823/117916776-6ffd1f00-b305-11eb-9135-d3ae916f8d86.png">
<img width="1438" alt="Screenshot 2021-05-12 at 9 35 07 AM" src="https://user-images.githubuserconte

[2021-05-12 12:41] kkartunov opened #5513 "A/B gig listing v2 - centered hotlist"
Update the Hotlist position to be after the featured gigs in the listing.
Ref design: https://marvelapp.com/prototype/27i3a2cg/screen/79287138

[2021-05-12 13:30] luizrrodrigues commented on #5308
@Oanh-and-only-Oanh Any luck to add my user to TopGear?

[2021-05-12 13:50] dedywahyudi commented on #5510
@Oanh-and-only-Oanh

After recheck It look current Challenge Bucket is fine.
I can see all challenge that i registered.

Screenshot below on Prod environment. Thoughts?

![Screen Shot 2021-05-12 at 20 49 11](https://user-images.githubusercontent.com/4476442/117986241-a2d60000-b363-11eb-8455-53c067f9f478.png)

[2021-05-12 14:32] SathyaJayabal commented on #5513
verified
<img width="1440" alt="Screenshot 2021-05-12 at 8 01 02 PM" src="https://user-images.githubusercontent.com/58783823/117992949-ec6f1c80-b35c-11eb-807d-2765b7ee6ca7.png">

[2021-05-12 16:21] SathyaJayabal commented on #5510
It works fine for me too. @lakshmiathreya @sushilshinde , can you please check with your users, as it may be a case only for @Oanh-and-only-Oanh , or it could be for all admin users?

[2021-05-12 17:55] Oanh-and-only-Oanh commented on #5308
not yet.

[2021-05-12 17:56] Oanh-and-only-Oanh commented on #5308
can we continue to resolve this in the meantime?

[2021-05-13 02:46] luizrrodrigues commented on #5308
@Oanh-and-only-Oanh Yes,

@SathyaJayabal Can you check if more TopGear profiles looks good (Prod vs Beta), maybe top 5 profiles in Leaderboard.

[2021-05-13 03:55] SathyaJayabal commented on #5308
@luizrrodrigues , the groups cals are good for the leaderboard top 5 users.
<img width="1440" alt="Screenshot 2021-05-13 at 9 20 02 AM" src="https://user-images.githubusercontent.com/58783823/118075055-e6b11f80-b3cc-11eb-87f1-80e9f17463bb.png">
<img width="1440" alt="Screenshot 2021-05-13 at 9 20 50 AM" src="https://user-images.githubusercontent.com/58783823/118075076-ee70c400-b3cc-11eb-863a-838d9

[2021-05-13 07:31] kkartunov opened #5514 "URLs to tabs not working properly"
1. Go to https://www.topcoder.com/community/member-programs/webinars
2. Click on "Past Webinars" and copy the URL from browser address
3. Paste it new tab and navigate to it
4. Expected is page to load and switch to past automatically

[2021-05-13 14:56] SathyaJayabal commented on #5308
verified on staging
<img width="1440" alt="Screenshot 2021-05-13 at 8 24 49 PM" src="https://user-images.githubusercontent.com/58783823/118143880-708ed600-b429-11eb-917f-aaa14c4dce52.png">
<img width="1440" alt="Screenshot 2021-05-13 at 8 25 15 PM" src="https://user-images.githubusercontent.com/58783823/118143897-75ec2080-b429-11eb-999a-6d325edaf8a0.png">

[2021-05-13 15:13] SathyaJayabal commented on #5509
verified on staging
user who is placed
<img width="1440" alt="Screenshot 2021-05-13 at 8 42 19 PM" src="https://user-images.githubusercontent.com/58783823/118146095-e4ca7900-b42b-11eb-97af-a98d9b3e56f8.png">
user who is not placed
<img width="1440" alt="Screenshot 2021-05-13 at 8 42 56 PM" src="https://user-images.githubusercontent.com/58783823/118146116-eac05a00-b42b-11eb-960b-6fc9b779b421.png">

[2021-05-13 15:17] SathyaJayabal commented on #5513
verified on staging
<img width="1440" alt="Screenshot 2021-05-13 at 8 45 32 PM" src="https://user-images.githubusercontent.com/58783823/118146675-76d28180-b42c-11eb-9ceb-b8076cb4e446.png">

[2021-05-13 16:24] SathyaJayabal commented on #5308
verified on prod
<img width="1440" alt="Screenshot 2021-05-13 at 9 52 32 PM" src="https://user-images.githubusercontent.com/58783823/118155214-9b7f2700-b435-11eb-92d0-9c9762fffec8.png">
<img width="1440" alt="Screenshot 2021-05-13 at 9 52 48 PM" src="https://user-images.githubusercontent.com/58783823/118155228-a0dc7180-b435-11eb-9866-77d1a7bc757a.png">

[2021-05-13 16:24] #5308 closed

[2021-05-13 16:24] luizrrodrigues commented on #5308
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for luizrrodrigues via Topcoder X```

[2021-05-13 16:26] SathyaJayabal commented on #5513
verified on prod
<img width="1440" alt="Screenshot 2021-05-13 at 9 55 33 PM" src="https://user-images.githubusercontent.com/58783823/118155564-fa44a080-b435-11eb-83eb-4fcc2d93228f.png">

[2021-05-13 16:26] #5513 closed

[2021-05-13 16:28] SathyaJayabal commented on #5509
verified on prod.
user who is already placed
<img width="1440" alt="Screenshot 2021-05-13 at 9 56 37 PM" src="https://user-images.githubusercontent.com/58783823/118155811-4099ff80-b436-11eb-8d2e-e6ac867eda06.png">
user who is not placed
<img width="1440" alt="Screenshot 2021-05-13 at 9 57 03 PM" src="https://user-images.githubusercontent.com/58783823/118155846-4a236780-b436-11eb-8036-304720d6f938.

[2021-05-13 16:28] #5509 closed

[2021-05-13 16:39] SathyaJayabal opened #5519 "Listings page: Challenge title overlaps with purse amount"
Challenge title overlaps with purse amount
<img width="978" alt="Screenshot 2021-05-13 at 10 06 37 PM" src="https://user-images.githubusercontent.com/58783823/118157143-d2eed300-b437-11eb-89a8-f7bc47c5def1.png">

[2021-05-18 06:36] kkartunov opened #5520 "UI fixes for gig details page - mobile viewports"
- Buttons size are disproportional
https://monosnap.com/file/TstRieXOAatcNZOQKIjHPoc3PxEJjp
- right-side content stretches outside view on mobile

[2021-05-18 06:40] kkartunov opened #5521 "Thrive filter - authors update"
-  replace default text in the dropdown with "Type author name or handle"
https://monosnap.com/file/6MwIRAtI98fJUzPkaKbk5hFcYoYknD
- switch from names to TC handles for the authors dropdown. Apply only if author's handle is set in Contentful, if not fall back to names as it is currently

[2021-05-18 15:59] mahestro opened #5522 "Changing password doesn't require email confirmation"
**Describe the bug**
When I change the password it won’t ask for any type of security confirmation such as email verification.

Is that security bypass intentional? It doesn’t seem to be a conventional practice.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/settings/account
2. Change passwords
3. Click on submit

**Expected behavior**
I should receive an emai

[2021-05-19 09:58] sandhiyakavi commented on #5520
Verified on Dev Env. Button sizes are proportional now in mobile.

![mobile_view](https://user-images.githubusercontent.com/55895538/118793863-f7cdc500-b8d3-11eb-9ebd-7c0c95fac814.jpg)

Mobile : iphone 12 mini

[2021-05-19 16:50] cagdas001 commented on #4316
@SathyaJayabal

Here are a few (recent) challenges that I won with the ReactJS tag,

https://www.topcoder.com/challenges/31eed499-3ff0-487f-bfd0-ac2a38548e26 (task)
https://www.topcoder.com/challenges/253ea4f2-36e3-4344-af59-75e7355a19a0 (task)
https://www.topcoder.com/challenges/2280b822-6af9-41ec-8d8a-588962fe031c (challenge)
https://www.topcoder.com/challenges/6d5b8104-2d2c-48eb-abd6-e1873a81d0

[2021-05-20 03:52] sandhiyakavi commented on #5514
Verified on Dev qa Env. Page is loading correctly with Past Webinars selected

https://user-images.githubusercontent.com/55895538/118916570-344c0000-b96a-11eb-92f5-0c12fb3ef142.mp4

[2021-05-21 04:55] sandhiyakavi commented on #5520
Verified on Staging Env.

![unnamed](https://user-images.githubusercontent.com/55895538/119084087-24045580-ba3c-11eb-84cb-d9ac911f3225.jpg)

[2021-05-21 04:58] sandhiyakavi commented on #5514
Verified on staging env.

https://user-images.githubusercontent.com/55895538/119084347-92491800-ba3c-11eb-9f2f-8fea172d6ff8.mp4

[2021-05-21 14:28] #5520 closed

[2021-05-21 14:32] SathyaJayabal commented on #5514
verified on prod

https://user-images.githubusercontent.com/58783823/119153902-48c5f080-ba6f-11eb-9011-575730684e33.mov

[2021-05-21 14:32] #5514 closed

[2021-05-21 18:00] Oanh-and-only-Oanh opened #5526 "add sign up to navigation"
Update the top navigation on https://www.topcoder.com/community/learn.
1. If the user is logged out, there should be  Sign Up and Log in buttons
2. If the user clicks on SIGN ON, member should be routed to the account creation page.
3. the reURL should be https://accounts-auth0.topcoder.com/?retUrl=https://www.topcoder.com/start&mode=signUp