[2021-11-18 10:52] SathyaJayabal commented on #5764
verified on prod
<img width="501" alt="Screenshot 2021-11-18 at 4 21 07 PM" src="https://user-images.githubusercontent.com/58783823/142401902-6cf0be5f-fcee-4470-849d-dc6a216a3559.png">

[2021-11-18 10:52] #5764 closed

[2021-11-18 10:55] SathyaJayabal commented on #5808
verified on prod
1.
![thrive1_prod](https://user-images.githubusercontent.com/58783823/142402380-99b4c82f-ad98-4267-8494-eea50db4bc3a.jpeg)
2. verified
3.
<img width="1425" alt="Screenshot 2021-11-18 at 4 25 29 PM" src="https://user-images.githubusercontent.com/58783823/142402536-12ca2b82-daed-4972-a8a1-6c4bf479bad4.png">

[2021-11-18 10:55] #5808 closed

[2021-11-18 11:36] LieutenantRoger commented on #5807
Challenge https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59 has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 11:37] LieutenantRoger commented on #5802
Challenge https://www.topcoder.com/challenges/9e454cce-392c-43e6-a99e-c881924fcf1c has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-18 11:39] LieutenantRoger commented on #5802
@yoution  Let's use `Model + Manufacturer` as unique key check here.  Thanks

[2021-11-18 12:17] LieutenantRoger commented on #5800
![image](https://user-images.githubusercontent.com/2875203/142413855-e606f481-8e6f-47e1-8898-961a265c8138.png)

[2021-11-18 15:18] yoution commented on #5802
@LieutenantRoger please review again

[2021-11-19 04:03] codejamtc commented on #5798
Fixed :ok:
![bandicam 2021-11-19 09-30-01-448](https://user-images.githubusercontent.com/42398485/142562924-df17bbeb-781e-4393-ba56-b1e2ce59516b.jpg)

[2021-11-19 04:04] codejamtc commented on #5800
Since we are hiding the menu `Linked Account` as per the https://github.com/topcoder-platform/community-app/issues/5798
This is not testable at the moment

[2021-11-19 04:08] codejamtc opened #5822 "Delete icons is too larged on the "Your hobbies" page"
![bandicam 2021-11-19 09-37-26-734](https://user-images.githubusercontent.com/42398485/142563313-d3f299d3-98ee-46cc-a87c-690649e71099.jpg)

- Microsoft Edge

[2021-11-19 04:08] codejamtc commented on #5786
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142563121-6d2da514-1ed4-49c8-b207-1a8299d4ee6e.mp4

[2021-11-19 05:03] LieutenantRoger commented on #5800
Yes's it's confirmed. @codejamtc

[2021-11-19 05:04] LieutenantRoger commented on #5800
But let's confirm this ticket, so once the Linked Account is reopen, we have the fix in-place. I have provided the snapshot about the fix above.

[2021-11-19 05:09] LieutenantRoger commented on #5802
@yoution We merged the PR before, I think you might need to recreate a ticket for the further fix.

[2021-11-19 05:11] LieutenantRoger commented on #5796
Challenge https://www.topcoder.com/challenges/b16c606e-8865-426f-b643-17018a4a860a has been assigned to yoution.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 05:15] shivam-51 commented on #5781
@bug-bash-helper assign

[2021-11-19 05:16] shivam-51 commented on #5798
@bug-bash-helper unassign

[2021-11-19 05:16] LieutenantRoger commented on #5798
Challenge https://www.topcoder.com/challenges/522b1440-6b27-420c-87a2-5133cad3e1bd shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 05:16] shivam-51 commented on #5781
@bug-bash-helper assign

[2021-11-19 05:16] LieutenantRoger commented on #5781
Challenge https://www.topcoder.com/challenges/7cf3a9f3-6b0e-450a-93b2-507b22d8c98e PkDurlabhji has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 05:16] LieutenantRoger commented on #5781
Challenge https://www.topcoder.com/challenges/7cf3a9f3-6b0e-450a-93b2-507b22d8c98e has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 05:17] yoution commented on #5802
@bug-bash-helper #5823 is ready for review

[2021-11-19 05:17] yoution commented on #5802
@LieutenantRoger please review

[2021-11-19 05:21] shivam-51 commented on #5781
@bug-bash-helper unassign

[2021-11-19 05:21] LieutenantRoger commented on #5781
Challenge https://www.topcoder.com/challenges/7cf3a9f3-6b0e-450a-93b2-507b22d8c98e shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 05:21] shivam-51 commented on #5781
@bug-bash-helper assign

[2021-11-19 05:21] LieutenantRoger commented on #5781
Challenge https://www.topcoder.com/challenges/7cf3a9f3-6b0e-450a-93b2-507b22d8c98e has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 05:23] LieutenantRoger commented on #5781
Challenge https://www.topcoder.com/challenges/7cf3a9f3-6b0e-450a-93b2-507b22d8c98e shivam51 has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 05:24] shivam-51 commented on #5781
@bug-bash-helper assign

[2021-11-19 05:27] shivam-51 commented on #5781
@bug-bash-helper unassign

[2021-11-19 05:27] shivam-51 commented on #5781
@bug-bash-helper assign

[2021-11-19 05:27] LieutenantRoger commented on #5781
Challenge https://www.topcoder.com/challenges/7cf3a9f3-6b0e-450a-93b2-507b22d8c98e has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 07:17] shivam-51 commented on #5781
@bug-bash-helper #5824 is ready for review

[2021-11-19 15:39] kkartunov opened #5825 "Gig details - can't send email referral more than once"
Steps to reproduce:
1. go to https://www.topcoder.com/gigs/16341500556800013350dQL or any other gig
2. Use the form to send relerral by email
![image](https://user-images.githubusercontent.com/5585002/142649240-0cebf089-a0c4-4020-817e-ddce2d2d9870.png)
3. Go to another gig and try send to same email used in step 2 -> Error triggers.
![Screenshot from 2021-11-19 17-33-58](https://user-images.github

[2021-11-19 16:07] LieutenantRoger commented on #5781
https://user-images.githubusercontent.com/2875203/142654142-1105d1b8-ee34-4911-87e8-ff97e1d804aa.mp4

The fix is not completely working, see the video, the error message should not display if we refresh the page

[2021-11-19 16:11] LieutenantRoger commented on #5798
Challenge https://www.topcoder.com/challenges/522b1440-6b27-420c-87a2-5133cad3e1bd has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 16:36] codejamtc commented on #5802
Fixed :ok:

https://user-images.githubusercontent.com/42398485/142658545-b00b9ac4-c820-4c6b-94f6-49f938e43025.mp4

[2021-11-19 16:37] LieutenantRoger commented on #5798
Payment task has been updated: https://www.topcoder.com/challenges/522b1440-6b27-420c-87a2-5133cad3e1bd
*Payments Complete*
Winner: shivam51
Copilot: lieutenantroger
Challenge `522b1440-6b27-420c-87a2-5133cad3e1bd` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-19 19:12] shivam-51 commented on #5781
@bug-bash-helper #5824 is ready for review

[2021-11-20 04:24] LieutenantRoger commented on #5792
We disable this feature, so this is no longer an issue

[2021-11-20 04:24] #5792 closed

[2021-11-20 04:41] LieutenantRoger commented on #5781
Not working, even though the fields are populated, the error message still displaying

https://user-images.githubusercontent.com/2875203/142714623-2ee33bee-2812-4442-84f7-353a3ca39e97.mp4

[2021-11-20 07:28] LieutenantRoger opened #5828 "Add Loading Indicator when the challenge API is searching"
Current:

Currently, when we changed any filter, we will call the API to get the challenge data with latest updated Query

Expected:

When the API is trying to get the data from backend, we should display a loading indicator to let user is aware of that the API is loading data.   This can happen when a user visits challenge page initially, or the user changed any filter that causing the reloading

[2021-11-20 07:31] #5828 closed

[2021-11-20 16:17] LieutenantRoger commented on #5795
Let's restrict the frontend can only upload normal pictures such as: 'jpg, png, jpeg' files

[2021-11-20 16:17] LieutenantRoger commented on #5795
Challenge https://www.topcoder.com/challenges/bdb20225-cb77-4665-b0b3-2c9a8d8cbb9a has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-20 17:40] FilipRazek commented on #5795
@bug-bash-helper assign

[2021-11-20 19:24] FilipRazek commented on #5795
@bug-bash-helper [{link to pull request}](https://github.com/topcoder-platform/community-app/pull/5829) is ready for review

[2021-11-21 12:39] LieutenantRoger commented on #5795
https://user-images.githubusercontent.com/2875203/142762132-53e6af10-ee69-4f42-b282-c476cbef9e0e.mp4

1. The fix doesn't work, please see the recording on my local.
2. Please create your working branch based on `ca-profile-bug-bash` branch,  you seems creating the branch based on 'develop' branch, also your PR is targeting the `develop` branch , which are not correct

[2021-11-21 16:04] shivam-51 commented on #5781
@bug-bash-helper #5824 is ready for review.

[2021-11-21 16:09] shivam-51 commented on #5781
Can you please re-review? I will unassign myself if it isn't acceptable.

[2021-11-22 04:22] SathyaJayabal commented on #5798
verified on staging (develop branch)
<img width="1440" alt="Screenshot 2021-11-22 at 9 51 26 AM" src="https://user-images.githubusercontent.com/58783823/142800724-18716be2-83a0-40cf-bcc7-4a7244e79e94.png">

[2021-11-22 04:30] SathyaJayabal commented on #5783
@LieutenantRoger @codejamtc , do you think we should allow `space`? At present we only allow these `a-zA-Z0-9,.` ?

[2021-11-22 04:34] LieutenantRoger commented on #5783
Hmmm, probably not good to have space for FirstName, do we have member having space in the firstName ?

[2021-11-22 04:37] SathyaJayabal commented on #5786
verified on staging

https://user-images.githubusercontent.com/58783823/142801887-2c6f2cb8-2fe3-40a5-a1cd-a50a75f36f36.mov

[2021-11-22 04:49] SathyaJayabal commented on #5796
Still see this issue when you zoom into 200% and the mobile view is displayed. @LieutenantRoger

https://user-images.githubusercontent.com/58783823/142802767-079f1300-8975-40f4-b907-4c7243ef3e67.mov

[2021-11-22 04:54] SathyaJayabal commented on #5800
unable to test this as we have hidden the linked accounts for now.

[2021-11-22 04:57] SathyaJayabal commented on #5801
verified on staging
<img width="1440" alt="Screenshot 2021-11-22 at 10 26 10 AM" src="https://user-images.githubusercontent.com/58783823/142803240-262f86a6-ef8c-45cc-bae2-1289def958ec.png">
@LieutenantRoger , need to apply the fix also to the `work` where we also  have start date and end date that are not mandatory.

[2021-11-22 05:09] SathyaJayabal commented on #5802
@LieutenantRoger , we cant use the model+manufacturer as unique key check, because for desktops and laptops, we only have the "any" options that the user can use to add multiple devices. cc @codejamtc
For example, user should be able to add multiple desktops with different Operating Systems.

[2021-11-22 05:14] SathyaJayabal commented on #5807
unable to test this as the linked accounts are hidden now

[2021-11-22 05:22] SathyaJayabal commented on #5783
@LieutenantRoger , you know when u have double names for first name like, John Fred Smith, or Mary Ann Smith.

[2021-11-22 05:29] SathyaJayabal commented on #5783
@LieutenantRoger probably allow `-` too, as we have names like Ava-Mae, Ella-Ann etc

[2021-11-22 06:10] SathyaJayabal commented on #5802
@LieutenantRoger , looks good now.

[2021-11-22 06:33] SathyaJayabal opened #5832 "Unable to clear the spoken/written level dropdown values while adding/editing a language"
Unable to clear the spoken/written level  dropdown values while adding/editing a language

https://user-images.githubusercontent.com/58783823/142812953-5a37a01a-73f5-414b-a456-b30e43932a05.mov

[2021-11-22 09:16] kkartunov opened #5833 "Thrive - spooky bugs - 4"
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/304
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/342
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/3
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/10
https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/270

[2021-11-22 11:39] SathyaJayabal commented on #5828
https://github.com/topcoder-platform/micro-frontends-challenges-app/issues/182
transferred here.

[2021-11-22 12:16] LieutenantRoger commented on #5783
ok, let's add 'space' and '-' as the allowed characters

[2021-11-22 12:58] LieutenantRoger commented on #5796
@SathyaJayabal This is expected since switching from Web view into Mobile view will utilize a differnt component, hence the original component state will loss as expected.

I think let's accept this for now, it's a very rare scenario that a user will switch from webview into mobileview when updating the work info in his own profile page.

[2021-11-22 14:05] shivam-51 commented on #5795
@bug-bash-helper assign

[2021-11-22 14:06] shivam-51 commented on #5795
Is this issue not open for pickup anymore?

[2021-11-22 15:23] LieutenantRoger commented on #5781
Yes, this time, it looks correct to me. Thanks.

[2021-11-23 03:34] SathyaJayabal commented on #5783
Verified on staging

[2021-11-23 07:17] coderhacker commented on #5798
This is passed on dev
![image](https://user-images.githubusercontent.com/62358241/142983892-a801acbb-0ff3-4a7f-bbce-3651d1084c6e.png)

[2021-11-23 08:16] coderhacker commented on #5783
this is passed on to production

https://user-images.githubusercontent.com/62358241/142989837-cd7863c7-ca42-4114-87fc-20451aaa5f75.mp4

.

[2021-11-23 08:22] coderhacker commented on #5798
This is passed on to production

![image](https://user-images.githubusercontent.com/62358241/142990492-6451a97d-5bc8-4446-af64-b81d622ffd76.png)

[2021-11-23 08:22] #5798 closed

[2021-11-23 08:24] codejamtc commented on #5800
Blocked the testing because of https://github.com/topcoder-platform/community-app/issues/5798#issuecomment-976249885

[2021-11-23 08:24] codejamtc commented on #5807
Blocked the testing because of https://github.com/topcoder-platform/community-app/issues/5798#issuecomment-976249885

[2021-11-23 08:48] coderhacker opened #5836 "edit icon is small to compare to delete"
**Describe the bug**
Go to this url https://www.topcoder.com/settings/profile#hobbies

See edit icon is too small.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/settings/profile#hobbies'
2. see edit icon for issue

**Expected behavior**
Edit icon should be as per delete icon

**Screenshots**
If applicable, add screenshots to help explain your problem.
![imag

[2021-11-23 08:52] coderhacker commented on #5786
This is passed on to production
![image](https://user-images.githubusercontent.com/62358241/142994380-c2befc08-d634-40ed-9b27-03295e32f3bb.png)

Created new issue https://github.com/topcoder-platform/community-app/issues/5836

[2021-11-23 08:52] #5786 closed

[2021-11-23 08:52] LieutenantRoger commented on #5786
Payment task has been updated: https://www.topcoder.com/challenges/43fb54db-20ef-4c76-916e-88a0126da48f
*Payments Complete*
Winner: yoution
Copilot: lieutenantroger
Challenge `43fb54db-20ef-4c76-916e-88a0126da48f` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 08:55] codejamtc commented on #5822
Duplicate of https://github.com/topcoder-platform/community-app/issues/5335

[2021-11-23 08:55] #5822 closed

[2021-11-23 08:55] codejamtc commented on #5836
Duplicate of https://github.com/topcoder-platform/community-app/issues/5335

[2021-11-23 08:55] #5836 closed

[2021-11-23 09:16] coderhacker commented on #5796
This is passed on to production

https://user-images.githubusercontent.com/62358241/142998006-e5c1d161-ab53-451e-9ffd-129a8befd102.mp4

n

[2021-11-23 09:16] #5796 closed

[2021-11-23 09:17] LieutenantRoger commented on #5796
Payment task has been updated: https://www.topcoder.com/challenges/b16c606e-8865-426f-b643-17018a4a860a
*Payments Complete*
Winner: yoution
Copilot: lieutenantroger
Challenge `b16c606e-8865-426f-b643-17018a4a860a` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 09:40] kkartunov commented on #5825
@SathyaJayabal this is deploying on beta env. Please check...

[2021-11-23 09:46] coderhacker commented on #5801
this is passed on to production

https://user-images.githubusercontent.com/62358241/143002128-e22470a3-a9a6-4c18-8634-1a63123447ad.mp4

n

[2021-11-23 10:01] coderhacker commented on #5802
This is pass on production

![image](https://user-images.githubusercontent.com/62358241/143004466-c98a3eb8-939c-4748-9b3f-32ac1cd1b4b9.png)

[2021-11-23 10:01] #5802 closed

[2021-11-23 10:02] LieutenantRoger commented on #5802
Payment task has been updated: https://www.topcoder.com/challenges/9e454cce-392c-43e6-a99e-c881924fcf1c
*Payments Complete*
Winner: yoution
Copilot: lieutenantroger
Challenge `9e454cce-392c-43e6-a99e-c881924fcf1c` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 10:16] SathyaJayabal commented on #5825
verified on beta:
1. referred email form gig detail page
<img width="1440" alt="Screenshot 2021-11-23 at 3 39 40 PM" src="https://user-images.githubusercontent.com/58783823/143006070-cff0a6c1-e064-406d-bf7f-47289384dd5a.png">

2. referral reflected on growsurf
![Screenshot from 2021-11-23 12-10-57](https://user-images.githubusercontent.com/58783823/143006132-a1469770-f73a-4686-ab1b-d59c700d4a44.pn

[2021-11-23 11:33] coderhacker commented on #5800
Closing this issue

[2021-11-23 11:33] #5800 closed

[2021-11-23 11:33] LieutenantRoger commented on #5800
Payment task has been updated: https://www.topcoder.com/challenges/97c122c2-8400-4545-b60c-43c2bba8b309
*Payments Complete*
Winner: yoution
Copilot: lieutenantroger
Challenge `97c122c2-8400-4545-b60c-43c2bba8b309` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 11:34] coderhacker commented on #5807
Closing this issue

[2021-11-23 11:35] LieutenantRoger commented on #5807
Payment task has been updated: https://www.topcoder.com/challenges/6f9ab0d9-030f-4207-8dfe-5f044c493b59
*Payments Complete*
Winner: yoution
Copilot: lieutenantroger
Challenge `6f9ab0d9-030f-4207-8dfe-5f044c493b59` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 13:07] LieutenantRoger commented on #5796
@coderhacker  please don't remove tcx_Paid label

[2021-11-23 13:18] LieutenantRoger commented on #5801
Challenge https://www.topcoder.com/challenges/ce2ca03e-c748-4af4-9dd8-b4c512530d16 has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 13:19] LieutenantRoger commented on #5801
Challenge https://www.topcoder.com/challenges/ce2ca03e-c748-4af4-9dd8-b4c512530d16 LieutenantRoger has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-23 13:20] LieutenantRoger commented on #5801
@fikzzzy What's your topcoder handle ? The x.topcoder can't proceed your payment, since it seems can't assign you

[2021-11-23 13:24] #5807 closed

[2021-11-23 13:58] LieutenantRoger commented on #5783
payment proceeded directly

[2021-11-23 13:58] #5783 closed

[2021-11-23 13:59] LieutenantRoger commented on #5801
payment proceeded directly

[2021-11-23 13:59] #5801 closed

[2021-11-24 11:25] coderhacker commented on #5781
This is passed on dev

https://user-images.githubusercontent.com/62358241/143229735-6afcb996-f816-4916-bf4a-e8a39b8a936a.mp4

[2021-11-25 12:29] LieutenantRoger commented on #5795
Resigning @FilipRazek as theres' not progress.

@shivam-51 I will assign you, and please let me know if you will work on this. :)

[2021-11-25 12:30] LieutenantRoger commented on #5795
@shivam-51 In case I missed to respond in the ticket, can message me via slack. It's not easy for me to see the comments among so many emails.

[2021-11-25 13:03] shivam-51 commented on #5795
Yes, I can. Thank you.

[2021-11-25 14:51] shivam-51 commented on #5795
@bug-bash-helper #5837 is ready for review

[2021-11-27 01:31] codejamtc commented on #5795
@shivam-51 @LieutenantRoger Not sure this is fixed

https://user-images.githubusercontent.com/42398485/143664078-c654d69e-2acc-4c8c-bf2b-ac79e5854708.mp4

[2021-11-27 04:07] LieutenantRoger commented on #5795
Oh @codejamtc please use test env for testing. I didn’t deploy it to dev to just make sure dev env are clean. Here you can checkout which env has deployed which branch. Our fix branch is on test env

https://community-app-dev-dashboard.herokuapp.com/#/dashboard

[2021-11-27 04:11] codejamtc commented on #5795
Fixed :ok: https://test-community-app.topcoder-dev.com/settings/profile#basic-info

https://user-images.githubusercontent.com/42398485/143667587-a3996615-e3cd-4a11-aeab-652dc6943c3e.mp4

[2021-11-27 09:37] LieutenantRoger commented on #5785
Not reproducable

[2021-11-27 09:37] #5785 closed

[2021-11-27 09:38] LieutenantRoger commented on #5782
Not reproducable

[2021-11-27 09:38] #5782 closed

[2021-11-28 09:48] LieutenantRoger opened #5840 "[Chrome] Save Basic Info error"

[2021-11-28 09:49] LieutenantRoger opened #5841 "[Chrome] Save Basic Info error"

[2021-11-28 09:50] LieutenantRoger opened #5842 "[Chrome] Save Basic Info error"

[2021-11-28 09:51] LieutenantRoger opened #5843 "Should be able to clean date input if needed"

[2021-11-28 09:51] LieutenantRoger opened #5844 "todays date accept as DOB"

[2021-11-28 09:51] LieutenantRoger opened #5845 "dribble connect"

[2021-11-28 09:51] LieutenantRoger opened #5846 "Can not enter Device Manufacturer, only have two option Any and HP"

[2021-11-28 09:51] LieutenantRoger opened #5847 "Error message shows up for second on the Account tab"

[2021-11-28 09:51] LieutenantRoger opened #5848 "Linked account- added new url showing loading data"

[2021-11-28 09:51] LieutenantRoger opened #5849 "Cross is not working in the Add a new language in the drop-down of Spoken Level and Written Level"

[2021-11-28 09:51] LieutenantRoger opened #5850 "[Web- Edge] User is not able to add and save multiple skills at same time"

[2021-11-28 09:51] LieutenantRoger opened #5851 "Updated Github icon, but icon didn't show"

[2021-11-28 09:51] LieutenantRoger opened #5852 "No space between the external link and the text in the "Heads Up" message when deleting an external link"

[2021-11-28 09:51] LieutenantRoger opened #5853 "Language gets re-ordered after saving"

[2021-11-28 09:51] LieutenantRoger opened #5854 "[Web- Edge] App is not turning the button to __dd Workplace to your list_ if user delete the work in the edit mode"

[2021-11-28 09:51] LieutenantRoger opened #5855 "'Add a new external link' does not allow long domain name extensions longer that 5 chars"

[2021-11-28 09:51] LieutenantRoger opened #5856 "Deleting Service Providers while editing, showing "Edit service provider to your list""

[2021-11-28 09:51] LieutenantRoger opened #5857 "Deleting Service Providers while editing, showing "Edit software to your list""

[2021-11-28 09:51] LieutenantRoger opened #5858 "Devices Dropdown "down caret" icon is not clickable"

[2021-11-28 09:51] LieutenantRoger opened #5859 "Not provision to delete multiple skills at once"

[2021-11-28 09:51] LieutenantRoger opened #5860 "Edit icon feels unresponsive in Tools -> Your Devices, When Edit icon is clicked screen should scroll to the Edit Device Section"

[2021-11-28 09:51] LieutenantRoger opened #5861 "Bitbucket linked account."

[2021-11-28 09:51] LieutenantRoger opened #5862 "Click on the Type and try to enter * and observe the drop-down auto close"

[2021-11-28 09:54] #5862 closed

[2021-11-28 09:54] #5861 closed

[2021-11-28 09:54] #5860 closed

[2021-11-28 09:54] #5859 closed

[2021-11-28 09:54] #5858 closed

[2021-11-28 09:54] #5857 closed

[2021-11-28 09:54] #5855 closed

[2021-11-28 09:55] #5840 closed

[2021-11-28 09:55] #5841 closed

[2021-11-28 09:55] #5842 closed

[2021-11-28 09:55] #5843 closed

[2021-11-28 09:55] #5844 closed

[2021-11-28 09:55] #5845 closed

[2021-11-28 09:56] #5856 closed

[2021-11-28 09:56] #5854 closed

[2021-11-28 09:56] #5853 closed

[2021-11-28 09:56] #5852 closed

[2021-11-28 09:56] #5851 closed

[2021-11-28 09:56] #5850 closed

[2021-11-28 09:56] #5849 closed

[2021-11-28 09:56] #5848 closed

[2021-11-28 09:56] #5847 closed

[2021-11-28 09:57] #5846 closed

[2021-11-28 10:00] LieutenantRoger opened #5863 "[Chrome] Save Basic Info error"
**Steps to Reproduce**

Open the link [https://www.topcoder.com/settings/profile](https://www.topcoder.com/settings/profile)<br/>
Fill some input<br/>

_**Actual Result(s)**<br/>_
Cannot save basic info

_**Expected Result(s)**<br/>_
Basic info should can be saved

_**Screenshot/Screencast**<br/>_
![2021-10-22_21-47-55](/uploads/6e3d208d716f66700cdcd09911bf603a/2021-10-22_21-47-55.mp4)
<br/>
<br/>

[2021-11-28 10:00] LieutenantRoger opened #5864 "[$5] Should be able to clean date input if needed"
Go to https://www.topcoder.com/settings/profile#work

Set a Start Date or End Date.

Try remove the date set as you want to clean it.

Not possible to clean the date input once set.

Expected: should be able to clean it if needed.

![Screenshot_from_2021-10-22_17-51-06](/uploads/ec4fa3aac926a6c654b979b44f9ef85e/Screenshot_from_2021-10-22_17-51-06.png)

[2021-11-28 10:00] LieutenantRoger opened #5865 "todays date accept as DOB"
**Issue title:**
todays date accept as DOB

**Steps to reproduce:**
1.	 open https://www.topcoder.com/settings/profile#basic-info
2. click on DOB
3. provide todays date as DOB
4. save the details

**Actual result:**
 accepting todays date as DOB

**Expected result: **
18years below should not allowed. And there should be filter to add for 18years and above.

**Bug URL: **
https://www.topcoder.com/

[2021-11-28 10:00] LieutenantRoger opened #5866 "dribble connect"
## Steps:

https://www.topcoder.com/settings/account
Go to dribble connect
i failed to connect

## Result(s) :

![22.10.2021_21.59.44_REC](/uploads/5cf8333718048b5b6e9cb12d2ffcc79d/22.10.2021_21.59.44_REC.mp4)

## Environment Details :
- **Device(s):** Desktop
- **Operating System:** Windows 11 Pro 21H2, Build 22000.258
- **Browser:**
 - **Chrome** 94.0.4606.81 (Official Build) (64-bit)
 - **Firef

[2021-11-28 10:00] LieutenantRoger opened #5867 "[$5] Can not enter Device Manufacturer, only have two option Any and HP"
Can not enter Device Manufacturer, only have two option Any and HP
https://www.topcoder.com/settings/tools?
Choose Laptop and select manufacturer, why dropdown onlye have two option: Any and HP.
I try to type ASUS then getting error, blank my previous choosen.
See the video
https://drive.google.com/file/d/1S6McCOYNo95gPFj2fnvTlVUwYtJESo-p/view?usp=sharing

Laptop | Windows 10 | Chorem Browser

[2021-11-28 10:00] LieutenantRoger opened #5868 "[$5] Error message shows up for second on the Account tab"
1. Open your profile.
2. click on the Account tab
3. Observe

Some error message shows up then disappears.

![Screenshot_2021-10-22_at_17.04.16](/uploads/ea7a18789de9d5c8f80cfa0ff7ea8329/Screenshot_2021-10-22_at_17.04.16.png)

Device: Laptop
OS: MacOS Catalina
Browser: Safari

[2021-11-28 10:00] LieutenantRoger opened #5869 "Linked account- added new url showing loading data"
**Issue title:**
Linked account- added new url showing loading data

**Steps to reproduce:**
1.	open accounts tab in settings page
2.     click on linked account
3.   add a new link
4. see the link added successfully

**Actual result:**
 link added, but showing loading data message in the link

**Expected result: **
Should not show loading data.

**Bug URL: **

https://www.topcoder.com/settings/ac

[2021-11-28 10:01] LieutenantRoger opened #5870 "[$5] Cross is not working in the Add a new language in the drop-down of Spoken Level and Written Level"
**Steps to Reproduce**

1. Go to the https://www.topcoder.com/settings/profile
2. go to the language and select the Spoken Level and Written Level from drop-down
3. Click on cross and observe it's has not action

**Actual Result(s)**
Cross is not working in the Add a new language in the drop-down of Spoken Level and Written Level

**Expected Result(s)**
Should be has remove if press cross

**Scree

[2021-11-28 10:01] LieutenantRoger opened #5871 "[Web- Edge] User is not able to add and save multiple skills at same time"
Summary :
[Web- Edge] User is not able to add and save multiple skills at same time

Steps to reproduce:
1.	Open the Edit Profile | TopCoder
2.	Click Skills
3.	Add multiple skills and save

Actual:
User is not able to add and save multiple skills at same time

Expected:
App should allow User is to add and save multiple skills at same time

Environment:
_	Device(s): Windows
_	Resolution: 1920_1080

[2021-11-28 10:01] LieutenantRoger opened #5872 "Updated Github icon, but icon didn't show"
Description of the issue
1. URL: https://www.topcoder.com/members/aditm17
2. Updated Github, but icon didn't show, refresh twice still not showing any icon.
3. Additional details:None

Screenshots

![Screen_Shot_2021-10-22_at_22.11.30](/uploads/0d9bb189ae6e32d09f39095204b43aea/Screen_Shot_2021-10-22_at_22.11.30.png)

[2021-11-28 10:01] LieutenantRoger opened #5873 "No space between the external link and the text in the "Heads Up" message when deleting an external link"
### Steps to Reproduce
1. Login to https://topcoder.com/
1. Go to ypur profile settings
1. Go to Account tab
1. Add an external link
1. Click on the delete icon on the added external link
1. Notice the error message

### Screenshots or Screen Capture
![Screen_Recording_2021-10-22_at_8.41.50_PM](/uploads/53a42adcda1fe5e322cd49970a9c927d/Screen_Recording_2021-10-22_at_8.41.50_PM.mov)

![Screenshot_2

[2021-11-28 10:01] LieutenantRoger opened #5874 "[$5] Language gets re-ordered after saving"
## Steps
Go to https://www.topcoder.com/settings/profile#language
Add Afar as language to the list
Add Abkhazian as language to the list
Add Avestan as language to the list
Click Edit for Avestan and click "Edit language to your list"
Click Edit for Abkhazian and click "Edit language to your list", observe list behavior
Do the same for Afar and observe list behavior

## Expected Result
Nothing sho

[2021-11-28 10:01] LieutenantRoger opened #5875 "[$10] [Web- Edge] App is not turning the button to __dd Workplace to your list_ if user delete the work in the edit mode"
Summary :
[Web- Edge] App is not turning the button to __dd Workplace to your list_ if user delete the work in the edit mode

Steps to reproduce:
1.	Open the Edit Profile | TopCoder
2.	Click Work
3.	Enter add details and click save
4.	Click Edit button
5.	Click Delete button and delete the work
6.	Observe the button

Actual:
App is not turning the button to __dd Workplace to your list_ if user del

[2021-11-28 10:01] LieutenantRoger opened #5876 "'Add a new external link' does not allow long domain name extensions longer that 5 chars"
**Description**

'Add a new external link' does not allow long domain name extensions longer that 5 chars

**Device:**

Laptop

**Operating System**:

Windows 10

**Browser:**

Chrome Version 95.0.4638.54 (Official Build) (64-bit)

**Steps to reproduce :**
1. login to topcoder
2. go to https://www.topcoder.com/settings/account#linked-accounts
3. try adding 'xyz.engineer' or any longer domain name

[2021-11-28 10:01] LieutenantRoger opened #5877 "[$10] Deleting Service Providers while editing, showing "Edit service provider to your list""
Steps:

1. Open the Edit Profile
2. Click Tools -> Service Providers
3. Enter all details and click __dd_ button
4. Click Edit
5. Click Delete button and delete the entries
6. Observe the __dit service provider to your list_ button

Expected Result: It should clear input

Actual Result: It cannot clear

Environment: Device: Laptop OS: MacOS Browser: Chrome

https://monosnap.com/file/EUOyAUc9NydyHf

[2021-11-28 10:01] LieutenantRoger opened #5878 "[$10] Deleting Software while editing, showing "Edit software to your list""
Steps:

1. Open the Edit Profile
2. Click Tools -> Software
3. Enter all details and click __dd_ button
4. Click Edit
5. Click Delete button and delete the entries
6. Observe the __dit software to your list_ button

Expected Result: It should clear input

Actual Result: It cannot clear

Environment: Device: Laptop OS: MacOS Browser: Chrome

https://monosnap.com/file/sF6NJXeoF9VQ6HErJu3wV3euIhiKS1

[2021-11-28 10:01] LieutenantRoger opened #5879 "[$5] Devices Dropdown "down caret" icon is not clickable"
Steps:

1. Open the Edit Profile
2. Click Tools -> Devices
3. Try to click on exactly "down caret" icon.

Expected Result: It open dropdown

Actual Result: It is not clickable, areas other than icon is clickable

Environment: Device: Laptop OS: MacOS Browser: Chrome

https://monosnap.com/file/jN9OO2koYL6k4QUGf4FhjqaeydmJrW

[2021-11-28 10:01] LieutenantRoger opened #5880 "Not provision to delete multiple skills at once"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/settings/profile#skills
2. Remove skills

_**Actual Result(s)**<br/>_
able to remove one at a time

_**Expected Result(s)**<br/>_
select function to remove multiple skills

**Environment Details**

_**Device(s):**_
Laptop<br/>
_**Operating System:**_
Windows 10<br/>
_**Browser:**_
Google Chrome : 95.0.4638.54 (Official Build) (64-bit)

[2021-11-28 10:01] LieutenantRoger opened #5881 "Edit icon feels unresponsive in Tools -> Your Devices, When Edit icon is clicked screen should scroll to the Edit Device Section"
### Steps to Reproduce
1. Login to https://topcoder.com/
1. Go to Your Profile -> Settings -> Tools
1. Make sure you have some devices added to your account
1. Or, add few devices
1. Click on the Edit icon on one of the devices
1. Notice the behavior

### Screenshots or Screen Capture
![Screen_Recording_2021-10-22_at_9.06.11_PM](/uploads/93332fb011d46d96c3d8d1d63963a144/Screen_Recording_2021-10-22

[2021-11-28 10:02] LieutenantRoger opened #5882 "Bitbucket linked account."
**Steps to Reproduce**
Profile Setting / Account / Linked Account

**Actual Result(s)**
When I try to linked account to bitbucket, the message showing up "This 3rd party vendor has not provided a privacy policy or term of use. Atlassian's Policy is not applicable to the use of this App.

**Expected Result(s)**
If the linked account feature it's not working correctly, should be pulling off this fea

[2021-11-28 10:02] LieutenantRoger opened #5883 "[$5] Click on the Type and try to enter * and observe the drop-down auto close"
**Steps to Reproduce**

1. Go to the https://www.topcoder.com/settings/tools
2. Click on the Type and try to enter * and observe the drop-down auto close

**Actual Result(s)**
 Click on the Type and try to enter * and observe the drop-down auto close

**Expected Result(s)**
Should not close when try to type *

**Screen shot**
![20211022_210905](/uploads/4c6b488c4f8cb7cd245ac64f8ce20078/20211022_21

[2021-11-28 10:02] LieutenantRoger opened #5884 "[$20] [Web- Edge] Toggle button is verry slow in loading"
Summary :
[Web- Edge] Toggle button is verry slow in loading

Steps to reproduce:
1.	Open the https://www.topcoder.com/settings/preferences and Go to EMail
2.	Toggle multiple option quickly

Actual:
Toggle button is very slow in loading

Expected:
Toggle button should work fast in loading

Environment:
_	Device(s): Windows
_	Resolution: 1920_1080
_	Operating System: Windows 10
_	Browser(s): Chrome

[2021-11-28 10:02] LieutenantRoger opened #5885 "[$5] Tools > Subscription text box behaves as a search field"
## Steps
Go to https://www.topcoder.com/settings/tools#subscriptions
In the Name textbox, enter anything and press Return/Enter
Observe the page behavior and page URL

## Expected Result
Nothing should happen

## Actual Result
The Name textbox behaves as a search field when pressing enter

## Screenshot/Screencast
![sub_name_search](/uploads/7292022f7bd411a20bb3c4255322150a/sub_name_search.mp4)

#

[2021-11-28 10:02] LieutenantRoger opened #5886 "[$10] (Edge) Error Validation Message is Missing"
Steps to Reproduce
- go to https://www.topcoder.com/settings/profile
- Click on Tools
- Click on Software
- Put Blank Space in Starting of the Name Field
- Click on Add Software to the List Button

Actual Result(s)
It is not displaying any Validation message or error message

Expected Result(s)
It Should display some validation message

Environment Details

Device(s): Laptop

Operating System: Win

[2021-11-28 10:02] LieutenantRoger opened #5887 "Unable to add link with special domains"
**Steps to Reproduce**
1. Go to https://www.topcoder.com/settings/account#linked-accounts
2. Input an external link with a special TLD under the *Add a new external link* section
3. Click on the Add link button

**Actual Result(s)**

URLs with special TLDs are not being recognized as valid URLs (i.e. Home.barclays, linau.solutions, inferno.fitness)

Blocked URL:

![Screen_Shot_2021-10-23_at_12.08.

[2021-11-28 10:02] LieutenantRoger opened #5888 "[$10] emoji are hidden from Short bio"
**Steps to Reproduce**
Go to https://www.topcoder.com/settings/profile
Then add some Emoji to your Short bio, Then save. Now go to your public profile.

![image](/uploads/e490310fbd303fe7ede05155adec38f8/image.png)

Now go back to https://www.topcoder.com/settings/profile and you will see that those emojies are not displayed. You can't see it.

![image](/uploads/a55b280064ccb2bd3fed572454256336/im

[2021-11-29 04:50] codejamtc commented on #5781
@shivam-51 @LieutenantRoger I can still see the validation message when we refresh the page :x:

https://user-images.githubusercontent.com/42398485/143810687-b8239017-d1ac-42f2-a335-1c58b5aeabb3.mp4

[2021-11-29 04:57] codejamtc commented on #5795
Checked in Dev :ok:

Invalid Files

https://user-images.githubusercontent.com/42398485/143811258-d468f1fd-449e-4468-9ae3-f5bc63b2a4dd.mp4

Valid Files:

https://user-images.githubusercontent.com/42398485/143811272-c87ae1e5-11d9-4f90-8082-c4b15c4deb64.mp4

[2021-11-29 06:01] LieutenantRoger commented on #5781
@shivam-51  Please take a look above

[2021-11-29 09:44] kkartunov commented on #5833
@SathyaJayabal this is ready for QA and deploying on beta, please check...

[2021-11-29 13:26] codejamtc commented on #5781
Fixed in Test

https://user-images.githubusercontent.com/42398485/143876095-e057a09b-ca57-47ab-be78-52a2a50f966d.mp4

[2021-11-29 13:39] shivam-51 commented on #5781
I am confused. @codejamtc dev check result surprises me. @coderhacker review video is what's expected. You can unassign me if the current PR is not accepted :)

[2021-11-29 13:50] codejamtc commented on #5781
Fixed on  Dev and Staging

https://user-images.githubusercontent.com/42398485/143879715-31d1d59e-4a6a-4d6e-81b8-a6812808f0db.mp4

[2021-11-29 13:54] codejamtc commented on #5795
Checked in Staging :ok:

https://user-images.githubusercontent.com/42398485/143880262-f0a12ecc-2937-46dc-86bb-b0be717038f3.mp4

[2021-11-29 16:43] LieutenantRoger commented on #5863
Looks like an API issue, which we won't fix for now

[2021-11-29 16:44] LieutenantRoger commented on #5887
wont' fix for now

[2021-11-29 16:47] LieutenantRoger commented on #5886
Should not allow name to be empty after trim

[2021-11-30 00:41] codejamtc commented on #5833
All fixed :ok:

- https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/304#note_746951508
- https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/342#note_746952203
- https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/3#note_746952618
- https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/10#note_746952896
- https://gitlab.com/topcoder-thrive/spooky-bugs/-/issues/270#note_746953736
-

[2021-11-30 04:55] LieutenantRoger commented on #5878
can't reproduce

[2021-11-30 05:15] LieutenantRoger commented on #5874
Seems can't reproduce

[2021-11-30 05:29] LieutenantRoger commented on #5871
Need to check whether the API supports to update multiple skills, if the API doesn't support, then we don't fix this

[2021-11-30 12:06] codejamtc commented on #5825
**Staging Environment:**

https://staging-community-app.topcoder.com/gigs

Email used `codejamgigstaging@mailinator.com`

- https://staging-community-app.topcoder.com/gigs/16379472242210013350rlg
- https://staging-community-app.topcoder.com/gigs/16305973203140013350VLM

![bandicam 2021-11-30 17-35-38-870](https://user-images.githubusercontent.com/42398485/144044426-5df31634-d0d2-4f05-aad8-dd70d5c1

[2021-11-30 12:25] codejamtc commented on #5825
@kkartunov Possible to get the `growsurf` records for above items

[2021-11-30 12:51] LieutenantRoger commented on #5884
1. Should switch the button firstly, then if the api is failed, we switch it back.
2. Should add debounce for the toggle button, in case the user switched the button quickly, our UI will still be functional.

[2021-11-30 12:56] LieutenantRoger commented on #5867
It's expected behavior.

However, in this ticket when a member inputted some characters, then clicked the 'Enter' on the keyboard, we should prevent the screen to reload.

[2021-11-30 13:30] LieutenantRoger commented on #5888
Challenge https://www.topcoder.com/challenges/de08ecbc-090f-44a1-8519-1c6481bcbbe9 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:30] #5887 closed

[2021-11-30 13:31] LieutenantRoger commented on #5886
Challenge https://www.topcoder.com/challenges/810ec1e7-267e-4482-b17b-70ff2530dfe1 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:32] LieutenantRoger commented on #5885
Challenge https://www.topcoder.com/challenges/c05652b1-e15b-40ac-92cb-1d51eeeb0581 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:32] LieutenantRoger commented on #5883
Challenge https://www.topcoder.com/challenges/3fe7c7b5-d709-4bcf-9401-0f5ab7bf5388 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:33] LieutenantRoger commented on #5879
Challenge https://www.topcoder.com/challenges/49c68c46-22ad-4d66-ae80-ed18ab950be1 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:33] LieutenantRoger commented on #5878
Challenge https://www.topcoder.com/challenges/370fe075-5406-4d83-b683-bd2060ec8055 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:34] LieutenantRoger commented on #5877
Challenge https://www.topcoder.com/challenges/e89b6396-bdda-4157-83d9-9b922dacbaf3 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:35] LieutenantRoger commented on #5875
Challenge https://www.topcoder.com/challenges/45bd1568-09a3-4246-b604-fa26c6c9d908 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:36] LieutenantRoger commented on #5870
Challenge https://www.topcoder.com/challenges/fb5ade94-0318-4c99-8563-ff41502592d4 has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:36] LieutenantRoger commented on #5868
Challenge https://www.topcoder.com/challenges/9ff06697-183e-4aae-9651-1ea1728c2e3b has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:37] LieutenantRoger commented on #5867
Challenge https://www.topcoder.com/challenges/9866132d-5a53-4542-9da1-573b5bfda96a has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 13:38] LieutenantRoger commented on #5864
Challenge https://www.topcoder.com/challenges/e41e4737-fd72-4106-8674-5174f602d57b has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 14:16] #5865 closed

[2021-11-30 14:16] #5866 closed

[2021-11-30 14:16] #5869 closed

[2021-11-30 14:16] #5872 closed

[2021-11-30 14:16] #5873 closed

[2021-11-30 14:16] #5876 closed

[2021-11-30 14:16] #5880 closed

[2021-11-30 14:16] #5881 closed

[2021-11-30 14:16] #5882 closed

[2021-11-30 14:29] praveeno commented on #5884
@bug-bash-helper assign

[2021-11-30 14:29] LieutenantRoger commented on #5884
Challenge https://www.topcoder.com/challenges/e88f1c40-33c2-4849-ac0e-cf60a0a4b9ab has been assigned to praveeno.pro.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 14:32] shivam-51 commented on #5886
@bug-bash-helper assign

[2021-11-30 14:32] shivam-51 commented on #5781
@bug-bash-helper unassign

[2021-11-30 14:33] shivam-51 commented on #5795
@bug-bash-helper unassign

[2021-11-30 14:33] shivam-51 commented on #5886
@bug-bash-helper assign

[2021-11-30 14:33] LieutenantRoger commented on #5886
Challenge https://www.topcoder.com/challenges/810ec1e7-267e-4482-b17b-70ff2530dfe1 has been assigned to shivam51.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 14:37] LieutenantRoger commented on #5781
[400]: Failed to remove resource from the challenge. Detail: Cannot delete resources of a completed challenge!<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 14:52] LieutenantRoger commented on #5795
[400]: Failed to remove resource from the challenge. Detail: Cannot delete resources of a completed challenge!<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 15:44] kkartunov commented on #5825
@codejamtc attached. Looks correct, only one entry is saved for `codejamgigstaging@mailinator.com`

![Screenshot from 2021-11-30 17-42-40](https://user-images.githubusercontent.com/5585002/144079221-449d1674-3b5c-432e-a393-05c3c67b16e0.png)

[2021-11-30 16:21] kkartunov opened #5892 "Thrive RSS feed"
Develop web feed under /api/feeds/thrive that conforms with RSS standard.
Feed shoud show latest 20 articles from Thrive.
Sould pass W3C validation https://validator.w3.org/feed/#validate_by_uri

[2021-11-30 16:22] codejamtc commented on #5795
Fixed in Prod  :ok:

https://user-images.githubusercontent.com/42398485/144086344-8d57fd86-3aee-4478-8b8d-d6bc7103e8af.mp4

[2021-11-30 16:24] codejamtc commented on #5781
Verified in Prod  :ok:

https://user-images.githubusercontent.com/42398485/144086610-5576a14b-ff5b-4dbd-9d88-1973d571f8fb.mp4

[2021-11-30 16:32] codejamtc commented on #5825
Prod Environment:

https://www.topcoder.com/gigs

Email used codejamgigprod@mailinator.com

https://www.topcoder.com/gigs/16379472242210013350rlg
https://www.topcoder.com/gigs/16305973203140013350VLM

https://user-images.githubusercontent.com/42398485/144088105-aaa0e0c0-cf91-48d9-9dd4-4aaf5462bd40.mp4

@kkartunov Possible to get the growsurf records for above items

[2021-11-30 16:35] kkartunov commented on #5825
@codejamtc attached
![Screenshot from 2021-11-30 18-35-19](https://user-images.githubusercontent.com/5585002/144088621-b4907546-e053-48f1-bc68-fe03f36f84f3.png)

[2021-11-30 16:40] gets0ul commented on #5878
@bug-bash-helper assign

[2021-11-30 16:40] LieutenantRoger commented on #5878
Challenge https://www.topcoder.com/challenges/370fe075-5406-4d83-b683-bd2060ec8055 has been assigned to gets0ul.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-11-30 16:45] #5825 closed

[2021-11-30 16:45] #5833 closed

[2021-11-30 17:05] #5795 closed

[2021-11-30 17:06] #5781 closed

[2021-11-30 17:20] gets0ul commented on #5878
@bug-bash-helper https://github.com/topcoder-platform/community-app/pull/5893 is ready for review

[2021-11-30 17:45] gets0ul commented on #5885
@bug-bash-helper assign

[2021-11-30 18:20] gets0ul commented on #5885
@bug-bash-helper https://github.com/topcoder-platform/community-app/pull/5894 is ready for review

[2021-12-01 03:56] shivam-51 commented on #5886
@LieutenantRoger can you please point me to one web page where we can see the required functionality?

[2021-12-01 11:51] CDharmateja commented on #5879
@bug-bash-helper assign

[2021-12-01 11:51] LieutenantRoger commented on #5879
Challenge https://www.topcoder.com/challenges/49c68c46-22ad-4d66-ae80-ed18ab950be1 has been assigned to cdharmateja.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 13:13] CDharmateja commented on #5879
@bug-bash-helper https://github.com/topcoder-platform/community-app/pull/5895 is ready for review

[2021-12-01 13:14] CDharmateja commented on #5883
@bug-bash-helper assign

[2021-12-01 13:15] LieutenantRoger commented on #5883
Challenge https://www.topcoder.com/challenges/3fe7c7b5-d709-4bcf-9401-0f5ab7bf5388 has been assigned to cdharmateja.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 13:23] gets0ul commented on #5874
@bug-bash-helper assign

[2021-12-01 13:23] LieutenantRoger commented on #5874
Challenge https://www.topcoder.com/challenges/a3aaab95-fe16-4e8e-bdea-584e7a1cc7e7 has been assigned to gets0ul.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 13:38] gets0ul commented on #5874
@bug-bash-helper https://github.com/topcoder-platform/community-app/pull/5896 is ready for review

[2021-12-01 15:17] LieutenantRoger commented on #5878
https://user-images.githubusercontent.com/2875203/144261077-0f613274-6ade-462a-ab77-7fd93a706d37.mp4

@gets0ul THe fix seems not working, please see the recording.

[2021-12-01 15:18] LieutenantRoger commented on #5878
We fixed similar issue for `hobby' under profile tab, please refer to the similar implementation there.

[2021-12-01 15:38] gets0ul commented on #5878
@LieutenantRoger
It is actually already fixed. It is for 'Software' tab per issue description.

This issue's title is little bit confusing.
The issue title begins with "Service Providers" but then it followed by "showing "Edit software to your list"" which can only be found in "Software" tab.

Both the issue description and posted video in https://monosnap.com/file/sF6NJXeoF9VQ6HErJu3wV3euIhiKS1 a

[2021-12-01 15:40] CDharmateja commented on #5870
@bug-bash-helper assign

[2021-12-01 15:42] CDharmateja commented on #5870
@bug-bash-helper https://github.com/topcoder-platform/community-app/pull/5898 is ready for review

[2021-12-01 15:47] CDharmateja commented on #5870
@LieutenantRoger I am having problem with bug bash helper. Can you assign me this issue?

[2021-12-01 16:57] LieutenantRoger commented on #5877
Challenge https://www.topcoder.com/challenges/e89b6396-bdda-4157-83d9-9b922dacbaf3 has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 17:05] LieutenantRoger commented on #5875
Challenge https://www.topcoder.com/challenges/45bd1568-09a3-4246-b604-fa26c6c9d908 has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 17:05] LieutenantRoger commented on #5875
Challenge https://www.topcoder.com/challenges/45bd1568-09a3-4246-b604-fa26c6c9d908 LieutenantRoger has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 17:05] LieutenantRoger commented on #5875
Challenge https://www.topcoder.com/challenges/45bd1568-09a3-4246-b604-fa26c6c9d908 has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 17:16] LieutenantRoger commented on #5878
Thanks for clarify, I updated this ticket.

[2021-12-01 17:21] LieutenantRoger opened #5899 "[$10] Deleting Subscription while editing, showing "Edit subscription to your list""
Steps:

Open the Edit Profile
Click Tools -> Subscription
Enter all details and click _dd button
Click Edit
Click Delete button and delete the entries
Observe the _dit subscription to your list button
Expected Result: It should clear input

Actual Result: It cannot clear

Environment: Device: Laptop OS: MacOS Browser: Chrome

[2021-12-01 17:21] LieutenantRoger commented on #5899
Challenge https://www.topcoder.com/challenges/fd51f95f-4a72-4a0c-82cf-4ecebf3e419c has been created for this ticket.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 17:22] LieutenantRoger commented on #5899
Challenge https://www.topcoder.com/challenges/fd51f95f-4a72-4a0c-82cf-4ecebf3e419c has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 17:22] LieutenantRoger commented on #5899
Challenge https://www.topcoder.com/challenges/fd51f95f-4a72-4a0c-82cf-4ecebf3e419c LieutenantRoger has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 17:29] LieutenantRoger commented on #5868
Challenge https://www.topcoder.com/challenges/9ff06697-183e-4aae-9651-1ea1728c2e3b has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 17:37] LieutenantRoger commented on #5867
Challenge https://www.topcoder.com/challenges/9866132d-5a53-4542-9da1-573b5bfda96a has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 17:49] LieutenantRoger commented on #5870
Sure

[2021-12-01 17:50] LieutenantRoger commented on #5870
Challenge https://www.topcoder.com/challenges/fb5ade94-0318-4c99-8563-ff41502592d4 has been assigned to cdharmateja.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-01 17:53] LieutenantRoger commented on #5870
@CDharmateja  Could you please tell your topcoder handle, please ?

[2021-12-01 17:57] LieutenantRoger commented on #5884
Since @praveeno  is not quite, responsive. I'm opening this ticket for other members to pick up.

[2021-12-01 17:57] LieutenantRoger commented on #5884
Challenge https://www.topcoder.com/challenges/e88f1c40-33c2-4849-ac0e-cf60a0a4b9ab praveeno.pro has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-02 02:37] CDharmateja commented on #5870
@LieutenantRoger my topcoder handle `cdharmateja`

[2021-12-02 02:55] fikzzzy commented on #5888
@bug-bash-helper assign

[2021-12-02 03:47] codejamtc commented on #5885
Fixed :ok: https://test-community-app.topcoder-dev.com/settings/tools#subscriptions

https://user-images.githubusercontent.com/42398485/144354111-3ceebb17-95d8-414f-9698-85542519cc1d.mp4

[2021-12-02 03:50] codejamtc commented on #5883
Fixed https://test-community-app.topcoder-dev.com/settings/tools#devices  :ok:

https://user-images.githubusercontent.com/42398485/144354452-dfa1d0e7-0285-4455-8a68-f536bcb9aae2.mp4

[2021-12-02 03:52] codejamtc commented on #5879
@LieutenantRoger @CDharmateja I think this should apply to `Manufacturer`, `Model` and `Operating System` too

https://test-community-app.topcoder-dev.com/settings/tools#devices

https://user-images.githubusercontent.com/42398485/144354608-4d75f8a8-6c7f-406c-9649-c70d925041e9.mp4

[2021-12-02 03:56] codejamtc commented on #5878
Fixed on `Test` https://test-community-app.topcoder-dev.com/settings/tools#software  :ok:

https://user-images.githubusercontent.com/42398485/144354963-9a541e4b-2c94-4e09-ae73-b483ca24b84f.mp4

[2021-12-02 04:00] codejamtc commented on #5877
Fixed in `Test` https://test-community-app.topcoder-dev.com/settings/tools#service-providers  :ok:

https://user-images.githubusercontent.com/42398485/144355263-69493dff-1d7c-4fcc-b241-5eafc73f0263.mp4

[2021-12-02 04:01] codejamtc commented on #5899
Fixed in `Test` https://test-community-app.topcoder-dev.com/settings/tools#subscriptions  :ok:

https://user-images.githubusercontent.com/42398485/144355386-f4496a97-efbc-42fc-8e1f-7f2d029c2ba5.mp4

[2021-12-02 04:04] codejamtc commented on #5874
Fixed in `Test` https://test-community-app.topcoder-dev.com/settings/profile#language  :ok:

https://user-images.githubusercontent.com/42398485/144355589-ae5efbda-178f-4585-9c78-c0a90559435d.mp4

[2021-12-02 04:06] codejamtc commented on #5867
Fixed https://github.com/topcoder-platform/community-app/issues/5867#issuecomment-982610575 in `Test` https://test-community-app.topcoder-dev.com/settings/tools#devices

https://user-images.githubusercontent.com/42398485/144355819-64faa59e-40cf-4471-802d-56384e4fd8a6.mp4

[2021-12-02 04:08] codejamtc commented on #5870
Fixed in `Test` https://test-community-app.topcoder-dev.com/settings/profile  :ok:

https://user-images.githubusercontent.com/42398485/144356002-5b99af4f-dd62-4276-81d5-263715b633a2.mp4

[2021-12-02 04:11] fikzzzy commented on #5888
@bug-bash-helper unassign

[2021-12-02 04:11] fikzzzy commented on #5888
@LieutenantRoger unassign because i can not reproduce in https://www.topcoder-dev.com/settings/profile/

[2021-12-02 04:12] fikzzzy commented on #5864
@bug-bash-helper assign

[2021-12-02 04:15] codejamtc commented on #5875
Fixed in `Test` https://test-community-app.topcoder-dev.com/settings/profile#work  :ok:

https://user-images.githubusercontent.com/42398485/144356551-ccb9ae2a-5051-478b-88a1-2ed7a378d34f.mp4

[2021-12-02 04:22] codejamtc commented on #5868
Can't reproduce it on Windows https://test-community-app.topcoder-dev.com/settings/account

https://user-images.githubusercontent.com/42398485/144357162-14b59034-a10c-41a2-9037-fbb8467c234c.mp4

[2021-12-02 04:37] LieutenantRoger commented on #5879
Please select a Type firstly

[2021-12-02 04:38] LieutenantRoger commented on #5879
Manufacture field will be filled value when type is selected, then afterwards you then should be able to click the dropdown to select a manufacture

[2021-12-02 04:39] codejamtc commented on #5879
Fixed in `Test` https://test-community-app.topcoder-dev.com/settings/tools#devices  :ok:

https://user-images.githubusercontent.com/42398485/144358734-6018b7b1-740c-4199-b696-f29973ad0411.mp4

[2021-12-02 05:07] LieutenantRoger commented on #5888
Hmm, okay, Let me try to reproduce this too, later.

[2021-12-02 10:25] shivam-51 commented on #5886
@bug-bash-helper #5901 is ready for review.

[2021-12-02 10:43] fikzzzy commented on #5864
@bug-bash-helper https://github.com/topcoder-platform/community-app/pull/5902 is ready for review

[2021-12-02 14:39] maxceem opened #5903 "Show "no verified skills" message and highest paying challenge for users without skills matched challenges"
## Context

We have a feature to show recommended challenges based on skills match https://monosnap.com/file/AdjBXbZRwUs2eqR6BzR8jR9knRvvlQ

But if user doesn't have any verified skills, or there are no challenges matching verified user skills, then user doesn't get any recommendation and see message

![image](https://user-images.githubusercontent.com/146016/144442490-6667948d-ecc4-4130-a7cd-e021f

[2021-12-02 14:40] maxceem commented on #5903
This was implemented via challenge https://www.topcoder.com/challenges/6756db6f-55c9-400d-908c-9124fc109540?tab=details and private task to fulfill updated requirements after the challenge https://www.topcoder.com/challenges/b9726a84-4ae9-4b37-9e0d-66516cade104

For DEV deployment PRs has to be merged in the next order:
- Challenge Recommender API https://github.com/topcoder-platform/challenge-rec

[2021-12-02 15:28] #5888 closed

[2021-12-02 15:28] LieutenantRoger commented on #5888
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-02 18:01] shivam-51 commented on #5886
@bug-bash-helper #5901 is ready for review.

[2021-12-03 00:02] luizrrodrigues commented on #5903
@maxceem FYI: Updated **topcoder-react-lib** PR in description (because need a branch inside repo to create a test-release)

from: https://github.com/topcoder-platform/topcoder-react-lib/pull/318
to: https://github.com/topcoder-platform/topcoder-react-lib/pull/319

[2021-12-03 00:15] fikzzzy commented on #5884
@bug-bash-helper assign

[2021-12-03 00:17] fikzzzy commented on #5884
Hi @LieutenantRoger why I cannot assign to this one?

[2021-12-03 00:21] fikzzzy commented on #5884
@bug-bash-helper assign

[2021-12-03 02:57] Gauravseta commented on #5884
@bug-bash-helper assign

[2021-12-03 02:57] LieutenantRoger commented on #5884
Challenge https://www.topcoder.com/challenges/e88f1c40-33c2-4849-ac0e-cf60a0a4b9ab has been assigned to gauravseta.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-03 14:45] codejamtc commented on #5886
@LieutenantRoger Please check; leading spaces are retained https://test-community-app.topcoder-dev.com/settings/tools#software

https://user-images.githubusercontent.com/42398485/144621783-4267f936-0ed4-4139-ab88-91719be4d5f6.mp4

https://user-images.githubusercontent.com/42398485/144621790-84ab4264-6e7c-4c72-aed7-5ebdc7c8c780.mp4

[2021-12-03 14:46] codejamtc commented on #5864
Fixed in `Test` https://test-community-app.topcoder-dev.com/settings/profile#work  :ok:

https://user-images.githubusercontent.com/42398485/144621943-02953de7-e52a-4f33-b983-10f2db98f44e.mp4

[2021-12-03 15:14] shivam-51 commented on #5886
@bug-bash-helper #5906 ready for review

[2021-12-03 15:19] codejamtc commented on #5903
@maxceem https://staging-community-app.topcoder.com/challenges?bucket=openForRegistration&tracks[DS]=true&tracks[Des]=true&tracks[Dev]=true&tracks[QA]=true&types[]=CH&types[]=F2F&types[]=TSK

customerUser/appirio123

- I am not getting any challenges when I turn ON the toggle

https://user-images.githubusercontent.com/42398485/144626310-92666671-2dc2-4707-8750-78d7e543f1f8.mp4

[2021-12-03 15:26] LieutenantRoger commented on #5886
I think we can allow leading space as long as it's not empty after trim the spaces.  We simply want to forbidden user who types in empty spaces for the Name field. @codejamtc

[2021-12-03 15:30] codejamtc commented on #5886
@LieutenantRoger You mean when user is editing the field displaying it as `<Spaces> AA` is fine?
Yes, user can't enter white spaces; it is validated

https://user-images.githubusercontent.com/42398485/144628550-d516f1c0-a50c-497f-baec-8c7542872ccd.mp4

[2021-12-03 15:32] LieutenantRoger commented on #5886
Yeah, that's correct, so we won't allow empty spaces completely

[2021-12-04 12:36] #5789 closed

[2021-12-04 12:37] LieutenantRoger commented on #5790
We won't fix v3 api issue

[2021-12-04 12:37] #5790 closed

[2021-12-04 12:37] LieutenantRoger commented on #5784
can't reproduce

[2021-12-04 12:37] #5784 closed

[2021-12-04 12:38] LieutenantRoger commented on #5780
won't fix v3 api issue

[2021-12-04 12:38] #5780 closed

[2021-12-04 12:38] #5787 closed

[2021-12-04 12:39] LieutenantRoger commented on #5884
@Gauravseta please update your progress or please unassign, thanks.

[2021-12-04 12:39] LieutenantRoger commented on #5871
We won't fix this

[2021-12-04 12:39] #5871 closed

[2021-12-04 12:40] #5863 closed

[2021-12-04 12:40] #5799 closed

[2021-12-04 12:40] #5797 closed

[2021-12-04 12:41] #5794 closed

[2021-12-04 12:41] #5793 closed

[2021-12-04 12:42] #5791 closed

[2021-12-04 12:42] #5788 closed

[2021-12-04 12:42] LieutenantRoger commented on #5803
not an issue

[2021-12-04 12:42] #5803 closed

[2021-12-04 13:30] maxceem commented on #5903
Hey, @codejamtc somehow I cannot log in with this user https://monosnap.com/file/yPoWHMqf0h1j56lO6NESHS9cYe4j0o.

Maybe it has another password?

[2021-12-04 13:33] maxceem commented on #5903
@codejamtc I've got it.

We only deployed our API update to DEV.

So for now it only works on DEV it doesn't work on Staging.

Could you please test it on DEV only.

[2021-12-04 13:35] codejamtc commented on #5903
@maxceem `Dev` it works https://github.com/topcoder-platform/community-app/issues/5903#issuecomment-985597378

[2021-12-04 13:36] maxceem commented on #5903
Great, then everything looks good.

[2021-12-04 15:13] LieutenantRoger commented on #5884
Ok, we will fix this internally

[2021-12-04 15:13] LieutenantRoger commented on #5884
Challenge https://www.topcoder.com/challenges/e88f1c40-33c2-4849-ac0e-cf60a0a4b9ab gauravseta has been unassigned.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-04 15:14] LieutenantRoger commented on #5884
Challenge https://www.topcoder.com/challenges/e88f1c40-33c2-4849-ac0e-cf60a0a4b9ab has been assigned to LieutenantRoger.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-05 02:07] codejamtc commented on #5884
@LieutenantRoger I can see the toggle switches are reflecting quickly now but when we turn ON/OFF few buttons simultanoiusly and then switch to a different screen and comes again to the `E-Mail Preferences` will display different settings

https://user-images.githubusercontent.com/42398485/144730704-7f18fc19-8ea3-44e8-817c-f411d0f1017f.mp4

[2021-12-05 02:58] LieutenantRoger commented on #5884
Ok,  updated, now it only accept the very last switch if user switch multiple options in 1 sec.

E.g. if you switched 1, 2, 3 buttons in 1 second, we only accept the switch of the button 3.

[2021-12-05 03:56] codejamtc commented on #5884
@LieutenantRoger Please check the delay is `accepted`; then we are ok

https://user-images.githubusercontent.com/42398485/144732813-b2364fd5-4704-4bd4-9157-ea8b00d5dcb1.mp4

[2021-12-05 04:38] LieutenantRoger commented on #5884
Thanks for the recording. Yes, it's expected for now.

[2021-12-06 10:06] kkartunov opened #5911 "MM Leaderboard"
Add new theme for Contentful MM Leaderboard based on design:
![image](https://user-images.githubusercontent.com/5585002/144827112-6ef748a2-dec4-4c67-b12d-a1a30a45dc09.png)
mobile
![image](https://user-images.githubusercontent.com/5585002/144827168-2c7113e9-8b67-46b6-8510-541cb3d30a0a.png)

[2021-12-06 14:48] kkartunov commented on #5892
@SathyaJayabal deployed on staging https://staging-community-app.topcoder.com/api/feeds/thrive please check...

[2021-12-06 22:05] luizrrodrigues commented on #5892
@SathyaJayabal Stag env have develop branch now ( to smoke testing )

Deployed `thrive-rss` to QA env.

https://qa-community-app.topcoder-dev.com/api/feeds/thrive

[2021-12-07 04:55] codejamtc commented on #5903
Verified in `Dev` (develop branch)   :ok:

tester1234/appirio123 (has one challenge recommended)

https://user-images.githubusercontent.com/42398485/144967844-101c60d9-b4b6-451d-8e13-a6ccad124d19.mp4

dan_developer/dantopcoder123 (doesn't have any recommended challenges) https://www.figma.com/file/7FveQImIT3iQsw71fkCtpx/Recommended-Challenges?node-id=0%3A1
- The challenges are listed Desc from the

[2021-12-07 05:17] sandhiyakavi commented on #5892
Verified in QA Env.

![image](https://user-images.githubusercontent.com/55895538/144970830-1d92bc0f-4b43-4981-8a79-6dacc76f56c9.png)

[2021-12-07 07:50] LieutenantRoger commented on #5886
Payment task has been updated: https://www.topcoder.com/challenges/810ec1e7-267e-4482-b17b-70ff2530dfe1
*Payments Complete*
Winner: shivam51
Copilot: lieutenantroger
Challenge `810ec1e7-267e-4482-b17b-70ff2530dfe1` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-07 08:00] codejamtc commented on #5903
Verified in Prod  :ok:

- User with `skills` used my own account  :ok:

https://user-images.githubusercontent.com/42398485/144989602-968621b6-c0f4-4e0c-93dd-3f20e178b375.mp4

- User without skills (new prod account)  :ok:

https://user-images.githubusercontent.com/42398485/144989576-5374c00c-13b1-4794-a34e-e7ac19ea7803.mp4

![bandicam 2021-12-07 13-29-35-315](https://user-images.githubusercontent.

[2021-12-07 08:01] #5903 closed

[2021-12-07 11:01] kkartunov commented on #5911
QA link: https://beta-community-app.topcoder.com/examples/contentful/viewport/5B3ZQikEG0q3J4RzLuw4g1

[2021-12-07 11:10] sandhiyakavi commented on #5892
Verified in Staging Env.

![image](https://user-images.githubusercontent.com/55895538/145018605-8732035f-b1c8-460a-8861-892e11d7dc2c.png)

[2021-12-07 11:11] coderhacker commented on #5886
This is not fixed on the stage

https://user-images.githubusercontent.com/62358241/145018338-8c1faa7c-8054-44f8-9047-7f04c49e35e3.mp4

[2021-12-07 11:49] coderhacker commented on #5899
Passed on Stage

https://user-images.githubusercontent.com/62358241/145023957-b6d98047-99db-411b-b740-3a68ae876abd.mp4

[2021-12-07 12:00] coderhacker commented on #5878
Passed on Stage
https://user-images.githubusercontent.com/62358241/145025348-0236aa2d-df08-423c-8a2d-7a68e6383b9f.mp4

[2021-12-07 13:08] coderhacker commented on #5883
Passed on stage

https://user-images.githubusercontent.com/62358241/145034845-0b340273-26f8-4d3f-ba80-826d99d44519.mp4

e

[2021-12-07 13:14] coderhacker commented on #5877
Passed on stage

https://user-images.githubusercontent.com/62358241/145035588-5fd93051-e34d-481b-908a-d472fc8c61c4.mp4

[2021-12-07 13:19] coderhacker commented on #5874
passed on stage

https://user-images.githubusercontent.com/62358241/145036331-28c4dd1f-9e39-4747-b1e9-47ac8471eb6c.mp4

[2021-12-07 13:23] coderhacker commented on #5870
Stage passed

https://user-images.githubusercontent.com/62358241/145036822-d3b6d374-544a-4956-843c-70636b89a957.mp4

[2021-12-07 13:50] coderhacker commented on #5879
Passed on stage

https://user-images.githubusercontent.com/62358241/145040989-b078985d-b4e1-4a67-9c59-61633367a6af.mp4

[2021-12-07 14:33] coderhacker commented on #5864
Passed on stage

https://user-images.githubusercontent.com/62358241/145048233-693c9e16-ac95-4883-9055-f7535f91bfbc.mp4

[2021-12-07 14:38] coderhacker commented on #5885
This is passed on stage

https://user-images.githubusercontent.com/62358241/145049022-469effc5-70fc-4c28-aced-3b38ff865efd.mp4

[2021-12-07 14:48] coderhacker commented on #5884
This is passed on stage

https://user-images.githubusercontent.com/62358241/145050816-cfb083b5-2335-4a1e-88fd-e1351a09fb00.mp4

[2021-12-07 14:54] coderhacker commented on #5875
This is passed on stage

https://user-images.githubusercontent.com/62358241/145051879-5189ccaa-ab16-40b4-987d-25ad5112b93a.mp4

[2021-12-07 15:14] coderhacker commented on #5867
This is passed on stage

https://user-images.githubusercontent.com/62358241/145055336-fae42c5a-1e0d-4f02-ac4d-c8292d31feee.mp4

[2021-12-07 15:29] coderhacker commented on #5868
This is fixed on the stage.
![image](https://user-images.githubusercontent.com/62358241/145057961-39fe7cea-9cbc-49fa-8074-9109a4d2ca35.png)

[2021-12-08 03:58] SathyaJayabal commented on #5885
@coderhacker , please go through the  issue description and comments. The verification video is not capturing the actual fix.

[2021-12-08 03:59] SathyaJayabal commented on #5867
@coderhacker , please go through the issue description and comments. The verification video is not capturing the actual fix.

[2021-12-08 03:59] SathyaJayabal commented on #5864
@coderhacker , please go through the issue description and comments. The verification video is not capturing the actual fix.

[2021-12-08 04:40] coderhacker commented on #5864
@SathyaJayabal , sorry for the inconvenience,  However, I have updated the latest video. I have changed my video capturing tool. seems like it's not capturing the whole steps.

[2021-12-08 05:14] coderhacker commented on #5867
@SathyaJayabal , updated with a new video.

[2021-12-08 05:34] coderhacker commented on #5885
Updated with new video

[2021-12-08 05:57] luizrrodrigues opened #5915 "Automated Smoke Testing - Fix timeline test form challenge sample"

[2021-12-08 05:58] luizrrodrigues commented on #5915
https://13987-84477388-gh.circle-artifacts.com/0/automated-smoke-test/test-results/TestResult.html

[2021-12-08 06:39] sandhiyakavi commented on #5892
Verified in Prod Env.

![image](https://user-images.githubusercontent.com/55895538/145160681-534a3541-9e71-402e-94d9-540e7ea5540e.png)

[2021-12-08 06:40] #5892 closed

[2021-12-08 08:05] SathyaJayabal commented on #5915
verified
<img width="1431" alt="Screenshot 2021-12-08 at 1 35 27 PM" src="https://user-images.githubusercontent.com/58783823/145171476-a061546e-3b07-4969-ad48-33a3871bc574.png">

[2021-12-08 08:05] #5915 closed

[2021-12-08 09:29] coderhacker commented on #5886
Working fine on production :

https://user-images.githubusercontent.com/62358241/145183689-538d88a9-5af0-4842-88d8-39fb6fd8719b.mp4

[2021-12-08 09:31] #5886 closed

[2021-12-08 10:04] SathyaJayabal commented on #5885
verified on prod

https://user-images.githubusercontent.com/58783823/145189122-6b56b9a1-0071-4723-b3e1-3d4f5266d5fd.mov

[2021-12-08 10:04] #5885 closed

[2021-12-08 10:04] LieutenantRoger commented on #5885
Payment task has been updated: https://www.topcoder.com/challenges/c05652b1-e15b-40ac-92cb-1d51eeeb0581
*Payments Complete*
Winner: gets0ul
Copilot: lieutenantroger
Challenge `c05652b1-e15b-40ac-92cb-1d51eeeb0581` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-08 11:53] coderhacker commented on #5877
Passed on production

https://user-images.githubusercontent.com/62358241/145204177-bd10b4cb-e2c0-4839-8094-ab230b2f97a3.mp4

[2021-12-08 11:54] #5877 closed

[2021-12-08 11:54] LieutenantRoger commented on #5877
Payment task has been updated: https://www.topcoder.com/challenges/e89b6396-bdda-4157-83d9-9b922dacbaf3
*Payments Complete*
Winner: LieutenantRoger
Challenge `e89b6396-bdda-4157-83d9-9b922dacbaf3` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-08 11:58] coderhacker commented on #5883
Passed on production

https://user-images.githubusercontent.com/62358241/145204821-12d88b14-2182-4c49-87fa-13338f780baf.mp4

[2021-12-08 11:58] #5883 closed

[2021-12-08 11:58] LieutenantRoger commented on #5883
Payment task has been updated: https://www.topcoder.com/challenges/3fe7c7b5-d709-4bcf-9401-0f5ab7bf5388
*Payments Complete*
Winner: cdharmateja
Copilot: lieutenantroger
Challenge `3fe7c7b5-d709-4bcf-9401-0f5ab7bf5388` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-08 12:21] coderhacker commented on #5875
Passed on prod

https://user-images.githubusercontent.com/62358241/145207480-5a50ba96-b1b6-40b3-942c-7903ede1a048.mp4

[2021-12-08 12:21] #5875 closed

[2021-12-08 12:21] LieutenantRoger commented on #5875
Payment task has been updated: https://www.topcoder.com/challenges/45bd1568-09a3-4246-b604-fa26c6c9d908
*Payments Complete*
Winner: LieutenantRoger
Challenge `45bd1568-09a3-4246-b604-fa26c6c9d908` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-08 12:28] coderhacker commented on #5870
this is passed on to production

https://user-images.githubusercontent.com/62358241/145208509-e4a6bd43-f3c7-43de-a63e-34adc89ab2be.mp4

[2021-12-08 12:28] #5870 closed

[2021-12-08 12:29] LieutenantRoger commented on #5870
Payment task has been updated: https://www.topcoder.com/challenges/fb5ade94-0318-4c99-8563-ff41502592d4
*Payments Complete*
Winner: cdharmateja
Copilot: lieutenantroger
Challenge `fb5ade94-0318-4c99-8563-ff41502592d4` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-08 12:41] coderhacker commented on #5878
This is passed on production:

https://user-images.githubusercontent.com/62358241/145209925-a2db8098-8fda-401b-9707-07f581bcad1b.mp4

[2021-12-08 12:41] #5878 closed

[2021-12-08 12:41] LieutenantRoger commented on #5878
Payment task has been updated: https://www.topcoder.com/challenges/370fe075-5406-4d83-b683-bd2060ec8055
*Payments Complete*
Winner: gets0ul
Copilot: lieutenantroger
Challenge `370fe075-5406-4d83-b683-bd2060ec8055` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-08 12:44] coderhacker commented on #5879
This is passed on to production

https://user-images.githubusercontent.com/62358241/145210436-5fdf8c8b-1f43-4b91-81ff-0f7b0e92d8cc.mp4

[2021-12-08 12:44] #5879 closed

[2021-12-08 12:44] LieutenantRoger commented on #5879
Payment task has been updated: https://www.topcoder.com/challenges/49c68c46-22ad-4d66-ae80-ed18ab950be1
*Payments Complete*
Winner: cdharmateja
Copilot: lieutenantroger
Challenge `49c68c46-22ad-4d66-ae80-ed18ab950be1` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-08 12:53] coderhacker commented on #5867
This is passed on to production

https://user-images.githubusercontent.com/62358241/145211413-20b9344d-f622-4b51-9529-c7fc313845c3.mp4

[2021-12-08 12:53] #5867 closed

[2021-12-08 12:53] LieutenantRoger commented on #5867
Payment task has been updated: https://www.topcoder.com/challenges/9866132d-5a53-4542-9da1-573b5bfda96a
*Payments Complete*
Winner: LieutenantRoger
Challenge `9866132d-5a53-4542-9da1-573b5bfda96a` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-08 13:02] coderhacker commented on #5868
This is passed on to production

![image](https://user-images.githubusercontent.com/62358241/145211970-75337933-7401-41c8-a179-f90d5ac0fe4b.png)

[2021-12-08 13:02] #5868 closed

[2021-12-08 13:03] LieutenantRoger commented on #5868
Payment task has been updated: https://www.topcoder.com/challenges/9ff06697-183e-4aae-9651-1ea1728c2e3b
*Payments Complete*
Winner: LieutenantRoger
Challenge `9ff06697-183e-4aae-9651-1ea1728c2e3b` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-08 13:38] coderhacker commented on #5899
This is passed on to production

https://user-images.githubusercontent.com/62358241/145217805-e7ba7a2c-71e1-47d7-9a9b-3529ec33564e.mp4

[2021-12-08 13:38] LieutenantRoger commented on #5899
Payment task has been updated: https://www.topcoder.com/challenges/fd51f95f-4a72-4a0c-82cf-4ecebf3e419c
*Payments Complete*
Winner: LieutenantRoger
Challenge `fd51f95f-4a72-4a0c-82cf-4ecebf3e419c` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-08 13:43] coderhacker commented on #5874
This is passed on to production

https://user-images.githubusercontent.com/62358241/145218499-f003c4f7-9ad1-4e11-bffb-5cebea28fee9.mp4

[2021-12-08 13:43] #5874 closed

[2021-12-08 13:44] LieutenantRoger commented on #5874
Payment task has been updated: https://www.topcoder.com/challenges/a3aaab95-fe16-4e8e-bdea-584e7a1cc7e7
*Payments Complete*
Winner: gets0ul
Copilot: lieutenantroger
Challenge `a3aaab95-fe16-4e8e-bdea-584e7a1cc7e7` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-08 13:47] coderhacker commented on #5864
this is passed on to production

https://user-images.githubusercontent.com/62358241/145219157-3aff6e01-938a-4400-a7b1-11bd7cbd823e.mp4

[2021-12-08 13:47] #5864 closed

[2021-12-08 13:52] coderhacker commented on #5884
This is passed on to production

https://user-images.githubusercontent.com/62358241/145219620-70b5d891-d473-419d-9fdd-f75ed91b7ea6.mp4

[2021-12-08 13:52] #5884 closed

[2021-12-08 13:53] LieutenantRoger commented on #5884
Payment task has been updated: https://www.topcoder.com/challenges/e88f1c40-33c2-4849-ac0e-cf60a0a4b9ab
*Payments Complete*
Winner: LieutenantRoger
Challenge `e88f1c40-33c2-4849-ac0e-cf60a0a4b9ab` has been paid and closed.<br/><br/>```This is an automated message for lieutenantroger via Topcoder X```

[2021-12-09 03:54] SathyaJayabal commented on #5911
verified on beta
<img width="453" alt="Screenshot 2021-12-09 at 9 22 08 AM" src="https://user-images.githubusercontent.com/58783823/145331588-ee650e50-15b4-4ad8-9a05-c12f9f3c7a3b.png">
<img width="580" alt="Screenshot 2021-12-09 at 9 21 31 AM" src="https://user-images.githubusercontent.com/58783823/145331603-3f318c0f-0e67-4705-946f-577df93f0f19.png">
@kkartunov where does the leaderboard go? on th

[2021-12-09 05:30] kkartunov commented on #5911
@SathyaJayabal challenge details page, it is live MM data. Thanks!

[2021-12-10 10:34] rakibansary opened #5918 "Settings page update to use v5 member api"
The onboarding app uses v5 member Api to save member traits. These traits should appear exactly as they were saved in the onboarding app in Community App. Similarly for existing users the traits visible in settings page of the community app should be available in the onboarding app. There were some inconsistencies due to use of v3 and v5.

This is now fixed in https://github.com/topcoder-platform/

[2021-12-10 11:42] sandhiyakavi opened #5919 "Some Basic Info fields not showing up for exisiting users."
Description:

The basic info fields First name, Last name, Address, Address2, City, State, Zip are not showing up from v5 member traits for existing users.

Dev Env: (GET data from v5)

![image](https://user-images.githubusercontent.com/55895538/145568763-599aa95d-f6c2-4f1c-aa28-78a7a1ca86cd.png)

Test Env (GET fata from v3)

![image](https://user-images.githubusercontent.com/55895538/145568821-3d

[2021-12-11 02:48] SathyaJayabal opened #5921 "The DASHBOARD tab should be visible only for MM"
The DASHBOARD tab should be visible only for MMs. At present it is displayed for all data science challenges.

example:
https://staging-community-app.topcoder.com/challenges/46fc6a80-57ee-4581-ac57-8e520152bf45?tab=mm_dashboard
<img width="1440" alt="Screenshot 2021-12-11 at 8 17 59 AM" src="https://user-images.githubusercontent.com/58783823/145661256-34c10348-2566-4380-93dd-db326ac569fd.png">

[2021-12-11 02:53] SathyaJayabal opened #5922 "Show a loading indicator before the dashboard loads"
Show a loading indicator before the  dashboard loads. At present a message "Dashboard Data is not available" is displyed before the chart loads.

https://user-images.githubusercontent.com/58783823/145661379-9e17c6da-4e1f-43de-a644-0dde86ace4b7.mov

[2021-12-11 03:06] SathyaJayabal opened #5923 "Dashboard displaying a blank page for some Marathon Matches"
https://staging-community-app.topcoder.com/challenges/116fc3d9-a4e0-4a93-8ef1-a075ae16ee88
<img width="1440" alt="Screenshot 2021-12-11 at 8 33 13 AM" src="https://user-images.githubusercontent.com/58783823/145661654-c67bc4ae-0298-45ad-a1a8-55ebccbe59b2.png">

[2021-12-11 03:19] SathyaJayabal opened #5924 "Final Scores : Feature request"
The Dashboard displays the chart of the user's provisional scores. This is fine when the challenge is running. But once the challenge is completed, it will be good to have a chart with the final scores of the submitters.

[2021-12-11 03:21] SathyaJayabal opened #5925 "The entire page must not reload when we go to the dashboard tab"
When accessing the dashboard for the first time, the entire page reloads before the dashboard is loaded.

https://user-images.githubusercontent.com/58783823/145662041-8d3809af-6000-4358-81aa-297883e6de83.mov

[2021-12-11 03:30] SathyaJayabal opened #5926 "MM Dashboard should not be available for the not logged in users"
MM Dashboard should not be available for the not logged in users. At present its available for not logged in users too.
<img width="1440" alt="Screenshot 2021-12-11 at 8 59 31 AM" src="https://user-images.githubusercontent.com/58783823/145662244-d312c312-4661-4f3e-b0b8-31e45358f527.png">

[2021-12-11 03:35] SathyaJayabal opened #5927 "When accessing the MM dashboard directly through the URL for other challenge types, user must be redirected to the details tab"
When accessing the MM dashboard directly through the URL for other challenge types, user must be redirected to the details tab
example:
https://staging-community-app.topcoder.com/challenges/981cacac-d437-46b0-8adc-813dd158eb84?tab=mm_dashboard
https://staging-community-app.topcoder.com/challenges/c51f7063-40bd-4e68-ace1-8b5fcb93452d?tab=mm_dashboard
At present we display the dashboard
<img width="

[2021-12-11 03:40] SathyaJayabal commented on #5926
Closing this as it should be available for all users as per clarification here
https://topcoder.slack.com/archives/C02PLFH3VJ8/p1639193264079400

[2021-12-11 03:40] #5926 closed

[2021-12-11 03:47] SathyaJayabal opened #5928 "Baseline and Award Metrics"
Do we need to display the base line and award metrics at  50 and 70 respectively ?
<img width="1436" alt="Screenshot 2021-12-11 at 9 19 17 AM" src="https://user-images.githubusercontent.com/58783823/145662730-9cafc9ed-908b-4122-ab89-4a07ae9a76ac.png">

[2021-12-11 03:57] SathyaJayabal opened #5929 "Default profile pic is not rendered properly"
When the member has not added their profile picture, the default image is not rendered properly

<img width="291" alt="Screenshot 2021-12-11 at 9 25 36 AM" src="https://user-images.githubusercontent.com/58783823/145662936-8c06e459-f6d0-412c-8a20-52141768c0e0.png">
example of the default image
<img width="419" alt="Screenshot 2021-12-11 at 9 25 43 AM" src="https://user-images.githubusercontent.com/

[2021-12-11 04:11] SathyaJayabal opened #5930 "The recommended thrive articles must display on the same row"
The recommended thrive articles must display on the same row as in production
https://staging-community-app.topcoder.com/challenges/eab61248-dcf2-4a3b-aa72-62c703d9a7dd
vs
https://www.topcoder.com/challenges/eab61248-dcf2-4a3b-aa72-62c703d9a7dd
<img width="1440" alt="Screenshot 2021-12-11 at 9 41 04 AM" src="https://user-images.githubusercontent.com/58783823/145663326-91ca97f8-83da-4db3-9642-f1c78

[2021-12-11 05:33] SathyaJayabal commented on #5923
another example:
https://staging-community-app.topcoder.com/challenges/c522c9e3-29d3-4788-98db-05748f0842dc?tab=mm_dashboard

[2021-12-11 09:48] #5930 closed

[2021-12-11 09:50] ThomasKranitsas commented on #5928
This is supported. If the challenge object contains a baseline/awardLine metadata value, it’ll be displayed.

[2021-12-11 09:52] ThomasKranitsas commented on #5925
I don’t think this actually happens from my code. Instead, this already happens when you open a challenge

[2021-12-11 09:53] ThomasKranitsas commented on #5924
I agree, though, based on the requirements, I was expected to show the score from the review object that has metadata regardless of the review type ID

[2021-12-11 10:00] SathyaJayabal commented on #5925
right, let me remove the MM_Dashboard label.

[2021-12-13 06:37] sandhiyakavi opened #5931 "Settings page : The date related field values are not displayed due to different date format"
Description:

The date related field values of Education and Work profile settings are not displayed as it is saved in different date format.

1. For Education Settings, the date saved is not displayed since the date format is different.

<img width="960" alt="dateformat" src="https://user-images.githubusercontent.com/55895538/145763444-e1c226d0-c286-42e1-a60d-156f911396bc.png">

Existing format :

[2021-12-13 06:38] rmitchell-iii commented on #5921
Agreed.

[2021-12-13 06:40] rmitchell-iii commented on #5922
Agreed. Let's make two changes here:
* Change the text to say "Dashboard data loading"
* Show a spinner beneath the text

[2021-12-13 06:41] rmitchell-iii commented on #5923
@ThomasKranitsas is this a bug or do these marathon matches not have data available? If they don't have data available I suggest we detect this situation and show a message "Data not available".

[2021-12-13 06:44] SathyaJayabal commented on #5923
@rmitchell-iii , I think there is something wrong with the data for this specific challenge. The error seems to be  "String value sent to series.data, expected Number"

[2021-12-13 06:44] rmitchell-iii commented on #5924
@SathyaJayabal , good suggestion. I've captured in our internal Jira https://topcoder.atlassian.net/browse/PLAT-223 for prioritization. We will implement when it rises in priority.

[2021-12-13 06:44] #5924 closed

[2021-12-13 06:45] rmitchell-iii commented on #5927
Agreed. If there is an attempt to access the dashboard for a non-MM challenge we should redirect to that challenge's details tab.

[2021-12-13 06:47] rmitchell-iii commented on #5928
@SathyaJayabal , the metadata value that causes the Award line to show is not present in the underlying data by default. It must be added manually. In the future we may add a feature to enable it to be added through the user interface.

@ThomasKranitsas can you provide a postman demonstrating how to set the awardLine value in the metadata so @SathyaJayabal can verify it appears?

@SathyaJayabal af

[2021-12-13 06:49] rmitchell-iii commented on #5929
@ThomasKranitsas if this is trivial to fix would you please fix this? If non-trivial we can leave as-is.

[2021-12-13 06:50] sandhiyakavi opened #5932 "Work Profile settings: The fields are not getting cleared even after the entries are saved."
Description:

The fields are not getting cleared even after the entries are saved.

https://user-images.githubusercontent.com/55895538/145765275-8e7be5d2-ef0b-4cca-bdfa-fdb1c9b26442.mp4

[2021-12-13 06:55] sandhiyakavi opened #5933 "Settings page: User name and country are not saved for first time Signup"
Description:

As per https://github.com/topcoder-platform/micro-frontends-onboarding-app/issues/147#issuecomment-990823941

[2021-12-13 06:58] rmitchell-iii commented on #5923
@SathyaJayabal is this unique to this challenge or do other MM challenges have this same issue? i.e. are there multiple formats for the data that need to be supported or can this issue be ignored since this is malformed MM data?

[2021-12-13 07:23] SathyaJayabal commented on #5923
@rmitchell-iii , I saw the issue just for this challenge. We will need to investigate the cause of the bad data in this challenge, so we know if there is a chance for this happening  again, or if its just a one off scenario.

[2021-12-13 07:25] ThomasKranitsas commented on #5921
@rmitchell-iii  @SathyaJayabal  How do we differentiate marathon matches from regular data science challenges? Is there a specific tag or something? I followed the instructions from the original challenge that were `challenge.track === 'Data Science' && challenge.type === 'Challenge'`

[2021-12-13 07:26] ThomasKranitsas commented on #5922
We usually just show the spinner. Should we also include the text?

[2021-12-13 07:27] rmitchell-iii commented on #5921
I'm not sure. If there is not another tag that is specific to MM then we may have to live with this tab showing up for non-MM data science challenges.

[2021-12-13 07:27] ThomasKranitsas commented on #5923
That specific challenge has some data with `null` scores or `-1`. I'll default those to `0` to avoid issues while displaying the chart

[2021-12-13 07:28] rmitchell-iii commented on #5922
Just the spinner is good.

[2021-12-13 07:28] sandhiyakavi opened #5934 "Settings Page: Skills settings uses v3 member api."
Description:

All other settings apart from Skills settings are moved to v5 member api.

<img width="959" alt="skills_v3" src="https://user-images.githubusercontent.com/55895538/145769870-e328eba3-4332-4b3a-85a6-08ad01125b90.png">

[2021-12-13 07:32] SathyaJayabal commented on #5921
@ThomasKranitsas @rmitchell-iii , the Marathon matches have the tag Marathon match
<img width="977" alt="Screenshot 2021-12-13 at 1 01 55 PM" src="https://user-images.githubusercontent.com/58783823/145770436-4022ddfe-0d08-49ff-8e7e-351e92c9f50f.png">

[2021-12-13 07:32] ThomasKranitsas commented on #5921
Thanks @SathyaJayabal

[2021-12-13 07:34] SathyaJayabal commented on #5921
https://github.com/topcoder-platform/community-app/blob/61a254c46f0952b5266664ab4860035c99ca2489/src/shared/utils/challenge.js#L10
I think this helper is used to identify a marathon match

[2021-12-13 08:09] ThomasKranitsas commented on #5928
[MM Dashboard.postman_collection.json.zip](https://github.com/topcoder-platform/community-app/files/7701997/MM.Dashboard.postman_collection.json.zip)

[2021-12-13 08:26] SathyaJayabal commented on #5927
verified

https://user-images.githubusercontent.com/58783823/145777395-f325538a-2128-47ec-8731-35dfa05e28f9.mov

[2021-12-13 08:27] SathyaJayabal commented on #5923
verified
<img width="1440" alt="Screenshot 2021-12-13 at 1 57 31 PM" src="https://user-images.githubusercontent.com/58783823/145777543-89b35819-7525-46f2-93c9-fce94aca167c.png">

[2021-12-13 08:28] ThomasKranitsas opened #5935 "Build MM Dashboard"
- Build an MVP version of the dashboard that is currently setup manually. This MVP version would:
  - Provide a link labeled “Dashboard” shown on the challenge page for all MM challenges.
  - Clicking the “Dashboard” link will open the dashboard in a new tab.
- The dashboard will show:
  -Title
  - The graph (see Data Science Dashboard )
  - The data points for submissions color coded by member ra

[2021-12-13 08:30] SathyaJayabal commented on #5921
verified
<img width="1440" alt="Screenshot 2021-12-13 at 1 58 35 PM" src="https://user-images.githubusercontent.com/58783823/145777694-b134c2bb-fa3f-49bc-b554-6492466e227c.png">

[2021-12-13 08:30] SathyaJayabal commented on #5921
verified
<img width="1440" alt="Screenshot 2021-12-13 at 1 58 35 PM" src="https://user-images.githubusercontent.com/58783823/145777694-b134c2bb-fa3f-49bc-b554-6492466e227c.png">

[2021-12-13 08:30] SathyaJayabal commented on #5921
verified
<img width="1440" alt="Screenshot 2021-12-13 at 1 58 35 PM" src="https://user-images.githubusercontent.com/58783823/145777694-b134c2bb-fa3f-49bc-b554-6492466e227c.png">

[2021-12-13 08:36] SathyaJayabal commented on #5928
verified
<img width="1440" alt="Screenshot 2021-12-13 at 2 04 42 PM" src="https://user-images.githubusercontent.com/58783823/145778701-32a82c4f-0ec0-45c3-bfdf-2c2a46c479d4.png">

[2021-12-13 08:38] SathyaJayabal commented on #5929
verified
<img width="1440" alt="Screenshot 2021-12-13 at 2 07 59 PM" src="https://user-images.githubusercontent.com/58783823/145778984-a5622417-5541-4085-9bb2-071b2b488360.png">

[2021-12-13 09:43] SathyaJayabal commented on #5922
verified

https://user-images.githubusercontent.com/58783823/145788645-3db157df-c917-46a6-839c-52cc738bddc9.mov

[2021-12-13 10:26] SathyaJayabal commented on #5935
verified on staging
<img width="1440" alt="Screenshot 2021-12-13 at 3 56 11 PM" src="https://user-images.githubusercontent.com/58783823/145795521-4eeb007d-d144-4c66-a28a-da9ef41e00cd.png">

[2021-12-13 10:28] SathyaJayabal commented on #5929
verified on staging
<img width="297" alt="Screenshot 2021-12-13 at 3 58 01 PM" src="https://user-images.githubusercontent.com/58783823/145795882-59928e39-8704-4d59-afc5-d8cefcf01c61.png">

[2021-12-13 10:30] SathyaJayabal commented on #5928
verified on staging
<img width="1440" alt="Screenshot 2021-12-13 at 3 59 59 PM" src="https://user-images.githubusercontent.com/58783823/145796172-946859c2-4053-407e-a366-e6f7c408f51c.png">

[2021-12-13 10:32] SathyaJayabal commented on #5927
verified on staging

https://user-images.githubusercontent.com/58783823/145796377-b62d6b77-4ce6-450f-bbb2-ba3cda7c1d1c.mov

[2021-12-13 10:32] SathyaJayabal commented on #5923
verified on staging
<img width="1440" alt="Screenshot 2021-12-13 at 4 02 31 PM" src="https://user-images.githubusercontent.com/58783823/145796556-41666e49-72c1-4b69-b65e-9bea29056466.png">

[2021-12-13 10:37] SathyaJayabal commented on #5921
verified on staging
<img width="1440" alt="Screenshot 2021-12-13 at 4 03 41 PM" src="https://user-images.githubusercontent.com/58783823/145796758-b5783269-ec24-4a99-ac6b-2f79570cb02b.png">

[2021-12-13 11:06] SathyaJayabal commented on #5911
verified on staging
<img width="1440" alt="Screenshot 2021-12-13 at 4 35 38 PM" src="https://user-images.githubusercontent.com/58783823/145801518-73951c73-fe00-41a7-ba35-2573146bb524.png">

<img width="633" alt="Screenshot 2021-12-13 at 4 36 16 PM" src="https://user-images.githubusercontent.com/58783823/145801616-015b202f-3235-4534-8639-87c513f0395f.png">

[2021-12-13 11:31] SathyaJayabal commented on #5922
verified on staging

https://user-images.githubusercontent.com/58783823/145797118-8295f49c-8dc0-4f25-b18d-c4978995ff82.mov

[2021-12-13 12:47] SathyaJayabal commented on #5935
verified on prod
<img width="1440" alt="Screenshot 2021-12-13 at 6 17 14 PM" src="https://user-images.githubusercontent.com/58783823/145815213-0d966849-f4ac-4f43-b91d-f62c0da94bf6.png">

[2021-12-13 12:47] #5935 closed

[2021-12-13 12:48] SathyaJayabal commented on #5921
verified on prod
<img width="1440" alt="Screenshot 2021-12-13 at 6 18 13 PM" src="https://user-images.githubusercontent.com/58783823/145815324-de3f9834-5a3b-476b-a8e3-d06320eeb709.png">

[2021-12-13 12:48] #5921 closed

[2021-12-13 12:50] SathyaJayabal commented on #5922
verified on prod

https://user-images.githubusercontent.com/58783823/145815559-3b5013bd-81c9-4675-a104-630bc492a140.mov

[2021-12-13 12:50] #5922 closed

[2021-12-13 12:51] SathyaJayabal commented on #5923
verified on prod
<img width="1440" alt="Screenshot 2021-12-13 at 6 21 12 PM" src="https://user-images.githubusercontent.com/58783823/145815729-b80f042f-16cf-4806-8011-b911b3185413.png">

[2021-12-13 12:51] #5923 closed

[2021-12-13 12:53] SathyaJayabal commented on #5927
verified on prod

https://user-images.githubusercontent.com/58783823/145815939-5474c872-434c-47bf-b0db-5655b9ce7b41.mov

[2021-12-13 12:53] #5927 closed

[2021-12-13 12:55] SathyaJayabal commented on #5928
verified on prod
<img width="1436" alt="Screenshot 2021-12-13 at 6 24 34 PM" src="https://user-images.githubusercontent.com/58783823/145816230-9191940c-1197-4af6-bbda-d56995da3b29.png">

[2021-12-13 12:55] #5928 closed

[2021-12-13 12:56] SathyaJayabal commented on #5929
verified on prod
<img width="342" alt="Screenshot 2021-12-13 at 6 25 53 PM" src="https://user-images.githubusercontent.com/58783823/145816362-012ca74f-6200-4a7d-8f43-db248e697e4f.png">

[2021-12-13 12:56] #5929 closed

[2021-12-13 12:57] SathyaJayabal commented on #5911
verified on prod
<img width="1440" alt="Screenshot 2021-12-13 at 6 27 00 PM" src="https://user-images.githubusercontent.com/58783823/145816510-13d1439c-5d95-46b2-815a-be2fe14ce702.png">

[2021-12-13 13:07] #5911 closed

[2021-12-15 07:20] sandhiyakavi commented on #5918
Verified in Dev Env and following issues are logged.

https://github.com/topcoder-platform/community-app/issues/5934
https://github.com/topcoder-platform/community-app/issues/5933
https://github.com/topcoder-platform/community-app/issues/5931
https://github.com/topcoder-platform/community-app/issues/5919

[2021-12-15 11:45] lakshmiathreya opened #5940 "Topgear intermittently inaccessible"
Reported by @RiteshTC, Reproducible in QA: Topgear doesn’t seem accessible. Rebooted Groups api. It works for a few minutes before throwing the back stage error.

<img width="1680" alt="Screenshot 2021-12-15 at 4 49 09 PM" src="https://user-images.githubusercontent.com/51733042/146180830-306516b2-84e1-4a6b-9c11-7f041cf588e4.png">

[2021-12-15 11:47] lakshmiathreya commented on #5940
<img width="1190" alt="Screenshot 2021-12-15 at 4 19 14 PM" src="https://user-images.githubusercontent.com/51733042/146180987-0ef6eccf-57b6-4a73-bd48-b43a6c3966ab.png">

[2021-12-16 04:05] lakshmiathreya commented on #5940
Closing based on update from @rmitchell-iii "Based on a meeting I had with TopGear earlier today I believe this is resolved from their end." https://topcoder.slack.com/archives/G1W6YEFRQ/p1639599452150100

[2021-12-16 09:06] lakshmiathreya commented on #5940
Issue is reappearing ...

[2021-12-16 09:19] lakshmiathreya commented on #5940
cc @ThomasKranitsas - current Level III support Rep ...

[2021-12-16 12:29] ThomasKranitsas commented on #5940
This is a result of the performance issue of the Groups API. I have created this https://github.com/topcoder-platform/groups-api/issues/97 for tracking so I'm closing this one

[2021-12-16 12:29] #5940 closed

[2022-01-03 09:49] SathyaJayabal opened #5944 "Dev env: v3 standard terms are signed for users in v5 but not in v3"
Dev env: v3 standard terms are signed for users in v5 but not in v3
This causes successful registration in v5, but not in v4, hence the registrants are not registered in v4 (OR).

workaround: Un sign the standard terms for the user using admin tool. sign the terms again in v5, This time thee termsare signed in v3 too.

[2022-01-04 03:37] SathyaJayabal opened #5945 "Exclude Onboarding flow for users registering from gigs pages"
Exclude Onboarding flow for users registering from gigs pages

[2022-01-04 03:40] SathyaJayabal commented on #5945
https://github.com/topcoder-platform/community-app/pull/5946

[2022-01-04 04:14] SathyaJayabal commented on #5945
verified on dev. when users registers from the gigs listings or gigs details pages, they skip the onboarding flow.

[2022-01-04 06:38] sandhiyakavi commented on #5934
The skills are now using the v5 api in Dev Env.

<img width="960" alt="skills_1" src="https://user-images.githubusercontent.com/55895538/148019146-b78a46e7-ed65-4671-ad79-cb01c314f198.png">
<img width="957" alt="skills_2" src="https://user-images.githubusercontent.com/55895538/148019153-e6048f2c-37ca-4cf1-8818-8b6a40797d03.png">

[2022-01-04 06:40] sandhiyakavi commented on #5933
Verified in Dev Env. It is getting displayed now.

![image](https://user-images.githubusercontent.com/55895538/148019362-8c282cc6-c8ce-47e8-b015-f8c2d6726fdf.png)
![image](https://user-images.githubusercontent.com/55895538/148019393-3ba355c0-7b6f-474c-bbce-c5dd763a1daf.png)

[2022-01-04 07:08] sandhiyakavi commented on #5931
This issue is partially fixed now.
The dates are displaying now if the user refreshes the page and tries to edit the newly added entry.

Steps to Reproduce the issue:

1. Add new Work/Education related details with dates.
2. Click save button.
3. Without refreshing, Click the Edit icon for the added entry.
4. Observe the date related fields.

https://user-images.githubusercontent.com/55895538/1480

[2022-01-04 07:25] SathyaJayabal opened #5947 "Settings page must not require user to enter short bio"
Settings page must not require user to enter short bio
<img width="1440" alt="Screenshot 2022-01-04 at 12 54 21 PM" src="https://user-images.githubusercontent.com/58783823/148023620-a7b212ac-4b2e-402a-adf2-eb11a1d3108c.png">

[2022-01-04 07:26] SathyaJayabal opened #5948 "Settings page gives an error while saving without adding a profile photo"
Settings page gives an error while saving without adding a profile photo
<img width="1440" alt="Screenshot 2022-01-04 at 12 55 42 PM" src="https://user-images.githubusercontent.com/58783823/148023918-09a6dc65-ba25-4a17-88e1-3db8e68d2382.png">

[2022-01-04 07:35] sandhiyakavi commented on #5919
Verified in Dev Env. Existing basic info fields are displaying now.

<img width="960" alt="dan_developer" src="https://user-images.githubusercontent.com/55895538/148024824-8795cb42-e6e5-45e3-8587-c07fe9392d32.png">

[2022-01-04 08:35] sandhiyakavi opened #5949 "Not able to remove the entered address related fields."
Description:

User is not able to remove the already entered address related fields Address, Address2, City, state and zip. If removed and tried to save . It is showing error.

![image](https://user-images.githubusercontent.com/55895538/148031179-2ff0d866-cbbf-4531-8df8-5c443fe73218.png)

[2022-01-04 08:44] sandhiyakavi opened #5950 "Two success messages are displayed in the Basic info settings page."
Description:
Two success messages are displayed in the Basic info settings page.

<img width="960" alt="2successmsg" src="https://user-images.githubusercontent.com/55895538/148032394-0c9998e0-1323-479f-bb9d-54ddb8111c1f.png">

[2022-01-05 13:31] SathyaJayabal commented on #5949
verified on dev

https://user-images.githubusercontent.com/58783823/148225611-1ea6b4b0-d2d1-4fe0-951b-5f5803ef2e36.mov

[2022-01-06 03:59] sandhiyakavi commented on #5950
Verified in Dev Env.

![image](https://user-images.githubusercontent.com/55895538/148326166-cc7274a5-bf18-4907-a0d0-b1bf86a2708f.png)

[2022-01-06 04:07] sandhiyakavi commented on #5948
Verified in Dev Env. Able to save without adding profile photo

[2022-01-06 04:09] sandhiyakavi commented on #5947
Verified in Dev env. Short bio is not a mandatory field now

[2022-01-07 05:51] SathyaJayabal opened #5953 "Unable to add skills for thee first time from settings page"
Unable to add skills for thee first time from settings page. The PATCH  call is made, but a POST call must be made as there are no skills yet for the user
<img width="1440" alt="Screenshot 2022-01-07 at 11 19 33 AM" src="https://user-images.githubusercontent.com/58783823/148498367-c4af4d2f-9fdb-429e-b6d4-7965e12ca103.png">

[2022-01-07 09:05] sandhiyakavi opened #5954 "Error while trying to save the edited birth date field"
Description:

[2022-01-07 09:16] sandhiyakavi opened #5955 "Country and birth date entries disappears and reappears after refresh."
Description:

The entries for the fields Country and birth date fields are disappearing sometimes and appears after we refresh the page.

<img width="960" alt="country" src="https://user-images.githubusercontent.com/55895538/148521195-69cdad54-307a-4f1d-b831-822f33f63ec8.png">

[2022-01-07 10:02] sandhiyakavi opened #5956 "The profile picture in the Settings page is uploading for a long time"
Description:

If the user uploads a profile photo in the onboard app and try to update the same in Settings page, it is uploading for a long time. (loading continuously).
Note: If we refresh and try to add the same profile photo again it is uploading fine.

Steps to Reproduce:

1. Upload a profile photo in the Onboarding app.
2. Complete the onboarding flow.
3. Then in Community app settings page,

[2022-01-08 10:21] nursoltan-s commented on #5953
PR: https://github.com/topcoder-platform/topcoder-react-lib/pull/330

[2022-01-10 05:32] SathyaJayabal commented on #5953
verified on dev, user is able to add skills for the first time on settings page
<img width="1440" alt="Screenshot 2022-01-10 at 11 00 45 AM" src="https://user-images.githubusercontent.com/58783823/148722034-d48ee51a-b1a3-47a2-819f-48d9a52395db.png">

[2022-01-10 06:18] SathyaJayabal commented on #5918
qa pass on dev

[2022-01-10 08:41] SathyaJayabal commented on #5953
verified on staging
<img width="1440" alt="Screenshot 2022-01-10 at 2 10 44 PM" src="https://user-images.githubusercontent.com/58783823/148738052-7e73c89d-76fc-4d49-bc15-e30b7ab9edc0.png">

[2022-01-10 08:42] SathyaJayabal commented on #5950
verified on staging
<img width="1440" alt="Screenshot 2022-01-10 at 2 11 47 PM" src="https://user-images.githubusercontent.com/58783823/148738157-510976a7-bf29-4762-b2ce-0d607e36cef1.png">

[2022-01-10 08:45] SathyaJayabal commented on #5949
verified on staging
<img width="1440" alt="Screenshot 2022-01-10 at 2 14 19 PM" src="https://user-images.githubusercontent.com/58783823/148738470-be7cdbad-85c4-4891-a5bf-a35965c33fee.png">
<img width="1440" alt="Screenshot 2022-01-10 at 2 14 37 PM" src="https://user-images.githubusercontent.com/58783823/148738498-0b41924c-c8f6-4bc0-8107-f889081c53a7.png">

[2022-01-10 08:46] sandhiyakavi commented on #5919
Verified in Staging Env. The details are displaying for exisiting user.

[2022-01-10 08:47] SathyaJayabal commented on #5948
verified on staging
<img width="1440" alt="Screenshot 2022-01-10 at 2 11 47 PM" src="https://user-images.githubusercontent.com/58783823/148738643-a605cbbf-e57f-418b-af40-fdc5fafaa258.png">

[2022-01-10 08:47] SathyaJayabal commented on #5947
verified on staging
<img width="1440" alt="Screenshot 2022-01-10 at 2 11 47 PM" src="https://user-images.githubusercontent.com/58783823/148738749-6de4a8a5-7e19-4d3b-89b8-3ce32aab7e5b.png">

[2022-01-10 08:48] SathyaJayabal commented on #5934
verified on staging
<img width="1440" alt="Screenshot 2022-01-10 at 2 10 41 PM" src="https://user-images.githubusercontent.com/58783823/148738841-d5257c74-6e5f-48c4-a5fd-e4b81aa88974.png">

[2022-01-10 08:54] SathyaJayabal commented on #5918
qa pass on staging

[2022-01-10 08:57] sandhiyakavi commented on #5931
Verified in Staging Env. The dates are displayed after refresh.

[2022-01-10 09:00] sandhiyakavi opened #5964 "Settings page: The added date related fields are displayed only after refresh"
Description:

Refer https://github.com/topcoder-platform/community-app/issues/5931#issuecomment-1004572570

[2022-01-10 10:06] SathyaJayabal commented on #5950
verified on prod
<img width="1440" alt="Screenshot 2022-01-10 at 3 36 00 PM" src="https://user-images.githubusercontent.com/58783823/148748380-b3a0f861-e941-4e44-a9cf-d384fced5873.png">

[2022-01-10 10:06] #5950 closed

[2022-01-10 10:07] SathyaJayabal commented on #5948
verified on  prod
<img width="1440" alt="Screenshot 2022-01-10 at 3 36 00 PM" src="https://user-images.githubusercontent.com/58783823/148748447-ea0e00cf-6e61-434b-a2ec-81dc4f606b64.png">

[2022-01-10 10:07] #5948 closed

[2022-01-10 10:07] sandhiyakavi commented on #5953
Verified on Prod Env. Able to add skills first time.

![image](https://user-images.githubusercontent.com/55895538/148748555-f4f38559-ae31-45d7-bde2-6673f6e54832.png)

[2022-01-10 10:08] #5953 closed

[2022-01-10 10:09] SathyaJayabal commented on #5949
verified on prod

https://user-images.githubusercontent.com/58783823/148748689-f1143882-eb4e-463d-a99b-22f987025bba.mov

[2022-01-10 10:09] #5949 closed

[2022-01-10 10:10] sandhiyakavi commented on #5919
Verified in Prod Env.

![image](https://user-images.githubusercontent.com/55895538/148748865-8728d300-cb79-42b6-b2b6-e1b6df08ada0.png)

[2022-01-10 10:10] #5919 closed

[2022-01-10 10:10] SathyaJayabal commented on #5947
verified on prod

https://user-images.githubusercontent.com/58783823/148748861-a7aa164d-6787-4ed3-85b4-43ece1e51c8f.mov

[2022-01-10 10:10] #5947 closed

[2022-01-10 10:11] SathyaJayabal commented on #5934
verified on prod
<img width="1440" alt="Screenshot 2022-01-10 at 3 40 59 PM" src="https://user-images.githubusercontent.com/58783823/148748993-2764d439-3d0e-42cc-b385-6ff584dee549.png">

[2022-01-10 10:11] #5934 closed

[2022-01-10 10:12] sandhiyakavi commented on #5931
Verified in Prod Env. The dates are displayed after refresh.

[2022-01-10 10:12] #5931 closed

[2022-01-10 10:12] SathyaJayabal commented on #5954
Note: this  happens for the first tome user tries to save the basic info. But on further tries,  data is saved correctly.

[2022-01-10 10:14] SathyaJayabal commented on #5933
verified on prod
<img width="1440" alt="Screenshot 2022-01-10 at 3 43 24 PM" src="https://user-images.githubusercontent.com/58783823/148749326-6c309c74-e429-4d24-971b-ce3dce4ce296.png">

[2022-01-10 10:14] #5933 closed

[2022-01-10 13:22] SathyaJayabal commented on #5918
verified on prod

[2022-01-10 13:22] #5918 closed

[2022-01-10 13:22] SathyaJayabal commented on #5945
verified on prod
https://docs.google.com/spreadsheets/d/1TIDLE1J-K8wRFYAzIGsCIEYgtqJZDZ2rg7ClTOw4gec/edit#gid=1453183067

[2022-01-10 13:22] #5945 closed

[2022-01-10 18:11] kkartunov opened #5965 "Remove Challenge Pipeline link from footer"
As per title. Pgane was deprecated.

[2022-01-10 18:24] kkartunov opened #5966 "Allow rating colors in Lookers"
Add support for colors If rating is provided by API response.
https://www.topcoder.com/community/statistics

[2022-01-11 08:21] kkartunov commented on #5966
@SathyaJayabal deployed on bete: https://beta-community-app.topcoder.com/examples/contentful/contentblock/2HDwAYdizt2VDmZeQWIRwv

[2022-01-11 08:21] kkartunov commented on #5965
@SathyaJayabal deployed on beta.

[2022-01-11 08:37] kkartunov opened #5967 "New email preference - NASA Community"
Organize and add new email preference - NASA Community to https://www.topcoder.com/settings/preferences

[2022-01-11 09:46] SathyaJayabal commented on #5965
verified on beta
<img width="1440" alt="Screenshot 2022-01-11 at 3 15 57 PM" src="https://user-images.githubusercontent.com/58783823/148919452-a5ae2835-09c0-4943-8b22-785b129c607b.png">

[2022-01-11 09:49] SathyaJayabal commented on #5966
verified on beta
<img width="1434" alt="Screenshot 2022-01-11 at 3 19 28 PM" src="https://user-images.githubusercontent.com/58783823/148919938-65de5682-9068-48b5-a8e4-5483990d2e44.png">

[2022-01-11 10:31] nursoltan-s commented on #5964
PR: https://github.com/topcoder-platform/community-app/pull/5968

[2022-01-12 09:58] kkartunov commented on #5967
@SathyaJayabal deployed on beta for QA...

[2022-01-12 11:46] SathyaJayabal commented on #5967
verified on  beta
<img width="1439" alt="Screenshot 2022-01-12 at 5 13 44 PM" src="https://user-images.githubusercontent.com/58783823/149134329-6da03191-4f70-4c2e-aadd-097d98533ecd.png">
![image (39)](https://user-images.githubusercontent.com/58783823/149134465-514ecc24-8c84-4f39-aae3-0e0df1199921.png)

[2022-01-13 04:23] luizrrodrigues opened #5971 "Challenge Listing - Filter by tags/skills"
**Describe the bug**
With updated search feature in `challenge-api`, tags not searchable via `query` anymore, need use `tags[]` field.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to challenge listing page;
2. Click on any tag in challenge list;
3. Tag will be add to `query` search;
4. Only challenges with this tag in body will be returned.

**Expected behavior**
Need be able by tags

[2022-01-13 04:24] luizrrodrigues commented on #5971
@SathyaJayabal @Oanh-and-only-Oanh

This is issue about failing Automated Smoke Testing :
 `[TC-020] should verify that when user selects a challenge "tag", only challenges under the selected tag are shown`

[2022-01-13 04:30] luizrrodrigues commented on #5580
@SathyaJayabal @Oanh-and-only-Oanh

This issue is related with falling Automated Smoke Testing:
`[TC_006] should verify whether the user is able to search for a challenge by using the Search challenges textbox`

@ThomasKranitsas Deployed a fix to Challenge API: https://github.com/topcoder-platform/challenge-api/issues/425 , but looks like search by challenge title not working well.

Challenge Samp

[2022-01-13 06:37] luizrrodrigues commented on #5580
We have a ticket in challenge api to track that: https://github.com/topcoder-platform/challenge-api/issues/390

[2022-01-13 06:46] sandhiyakavi commented on #5965
Verified on Staging Env.

![image](https://user-images.githubusercontent.com/55895538/149279331-4efac474-472f-4e48-92f2-db6b0d74ac0e.png)

[2022-01-13 06:49] SathyaJayabal commented on #5967
verified on staging (develop branch)
<img width="1435" alt="Screenshot 2022-01-13 at 12 14 18 PM" src="https://user-images.githubusercontent.com/58783823/149279601-9bfa601a-e77d-438e-b024-48c988c74e26.png">
![image (40)](https://user-images.githubusercontent.com/58783823/149279618-a95c5647-b2df-43bc-ac9f-ca17bbd67e5a.png)

[2022-01-13 06:59] sandhiyakavi commented on #5966
Verified on Staging Env.

![image](https://user-images.githubusercontent.com/55895538/149280884-2492d6f9-6cf9-47bc-b304-1af8f467ad35.png)

[2022-01-13 07:41] sandhiyakavi commented on #5966
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/55895538/149286683-f19448b4-9d51-4305-bcdb-5afa4d0e9249.png)

[2022-01-13 07:41] SathyaJayabal commented on #5967
verified on prod

<img width="1440" alt="Screenshot 2022-01-13 at 1 10 11 PM" src="https://user-images.githubusercontent.com/58783823/149286691-8cb9ecf4-e16b-443b-a414-0f629b5fb22b.png">

[2022-01-13 07:41] #5967 closed

[2022-01-13 07:41] #5966 closed

[2022-01-13 07:43] sandhiyakavi commented on #5965
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/55895538/149286977-2dad3bd7-b453-43f6-bce6-eba0ab9b8724.png)

[2022-01-13 07:43] #5965 closed

[2022-01-16 16:14] nursoltan-s commented on #5954
PR: https://github.com/topcoder-platform/community-app/pull/5974

[2022-01-17 12:38] kkartunov opened #5975 "Implement "Load More" feature for Contentful viewports"

[2022-01-17 14:15] kkartunov commented on #5975
@SathyaJayabal deployed on beta, QA link here: http://beta-community-app.topcoder.com/examples/contentful/viewport/5zmBFXjKodaCdh2T7PZsE0

[2022-01-18 11:56] SathyaJayabal opened #5976 "Unable to edit basic info from profile settings page"
Unable to edit basic info from profile settings page.
Go to https://www.topcoder.com/settings/profile
Edit short Bio and save, an error is displayed for the call
[code]
<img width="1435" alt="Screenshot 2022-01-18 at 5 23 40 PM" src="https://user-images.githubusercontent.com/58783823/149932990-de243e48-c5f0-4924-a404-f0c759eed79d.png">

cc @rakibansary

[2022-01-18 12:53] nursoltan-s commented on #5976
@SathyaJayabal I think that's related to this:
https://github.com/topcoder-platform/community-app/pull/5974

[2022-01-18 14:01] lakshmiathreya opened #5977 "Topgear: new Members unable to access Challenges"
Occurring since Jan 12:

-- If a new member accesses a Topgear challenge directly - it hangs on Auth0 itself.
-- When supports manually adds Standard Terms for them in Admin, login goes through.
-- But for old members - even without Standard terms signup, access works fine!

Could this be an impact of the Onboarding fixes last week?

![image009](https://user-images.githubusercontent.com/51733042/1

[2022-01-18 14:01] lakshmiathreya commented on #5977
cc @RiteshTC @SathyaJayabal

[2022-01-18 14:13] SathyaJayabal commented on #5977
cc @rakibansary

[2022-01-19 06:28] sachin-maheshwari commented on #5977
@rakibansary There was issue “login_count” value logic on “User_Private_Policy“ rule at AUTH0. I increased the login_count value to 10 from 3. Now it's added "terms" for new Topgear Signup.

[2022-01-20 08:15] kkartunov opened #5981 "Update twitter:title meta for Thrive articles"
![image](https://user-images.githubusercontent.com/5585002/150299175-5d782932-c31f-4fa2-a25b-9935275cc3e5.png)

Twitter title should be atricle title, not just Topcoder.

[2022-01-20 08:23] SathyaJayabal commented on #5975
verified on beta

https://user-images.githubusercontent.com/58783823/150300386-c8e1af7d-84d3-42c5-8ff2-70ae60c9b437.mov

[2022-01-20 08:48] SathyaJayabal opened #5982 "Show a tag for self service challenges"
Show a tag for self service challenges

[2022-01-20 09:42] sandhiyakavi commented on #5981
Verified in Beta Env.

![image](https://user-images.githubusercontent.com/55895538/150313245-89c51de4-cf17-4217-9ba1-a4383184df11.png)
![image](https://user-images.githubusercontent.com/55895538/150313369-f5638e2e-9b61-4985-b709-b3f6437865ce.png)

[2022-01-20 09:44] SathyaJayabal commented on #5982
verified on dev for the challenge details page:
<img width="1440" alt="Screenshot 2022-01-20 at 3 13 46 PM" src="https://user-images.githubusercontent.com/58783823/150313759-8db4ccb9-65e9-433c-815b-f702732a54d2.png">

[2022-01-20 14:00] lakshmiathreya commented on #5977
The root cause is not known yet - we are continuing to get escalations - reindexing for each user seems to solve the Access problem. It doesn’t seem to be a Terms setting issue as inferred earlier. Continuing to investigate ...

[2022-01-21 06:19] lakshmiathreya commented on #5977
@SathyaJayabal @rakibansary - we are continuing to get escalations on this - today - a User who signed up in Dec '21 and had Terms set also got stuck ... @sachin-maheshwari has validated that the User got past Auth0 stage ... and potentially is failing the Onboarding checklist for some reason ... need your insights regarding this pls ...

[2022-01-21 06:22] rakibansary commented on #5977
@lakshmiathreya I'll investigate to see if this is because of the onboarding checklist rule.

[2022-01-21 09:25] sandhiyakavi commented on #5975
Verified on Staging Env.

https://user-images.githubusercontent.com/55895538/150501655-1cbe750c-6711-4b3a-8f0f-41f883673f71.mp4

[2022-01-21 09:29] sandhiyakavi commented on #5981
Verified in Staging Env.

![image](https://user-images.githubusercontent.com/55895538/150502379-45e9c4db-b634-4ab0-a4b6-eccdb0f4c0ed.png)

[2022-01-21 09:41] sandhiyakavi commented on #5982
Verified in Dev Env.

![image](https://user-images.githubusercontent.com/55895538/150503983-3610f919-d569-48d0-90f0-f6c86c2b31e3.png)

[2022-01-21 10:16] sandhiyakavi commented on #5975
Verified in Prod Env.

https://user-images.githubusercontent.com/55895538/150509560-f806aeb5-c8cf-4b41-bdfc-661445dbfd07.mp4

[2022-01-21 10:17] #5975 closed

[2022-01-21 10:17] sandhiyakavi commented on #5982
Released to Prod Env.

[2022-01-21 10:17] #5982 closed

[2022-01-21 10:22] sandhiyakavi commented on #5981
Verified in Prod Env.

![image](https://user-images.githubusercontent.com/55895538/150510691-608bf5d2-5141-4b3b-a4e3-076edc3627c6.png)

[2022-01-21 10:22] #5981 closed

[2022-01-21 12:33] SathyaJayabal commented on #5977
@lakshmiathreya , this should be fixed, verified on prod by testing team. Lets close after we get confirmation form topgear users

[2022-01-21 12:34] SathyaJayabal opened #5985 "Social signup users from google and github must be taken to Onboarding flow"
Social signup users from google and github must be taken to Onboarding flow

[2022-01-21 16:13] duncandblfc opened #5986 "Access to topcode payments page has issues with complex passwords"
After logging into topcoder on access the payements section you may be presented with an error page and unable to continue dependent on your password.  Note the same can also be seeen on first activating a top coder account and trying to fill in the tax form.

**To Reproduce**
1. Set your top coder password to a complex one, specifically say 30 chars or more and include the '$' symbol.  (It may ju

[2022-01-22 07:26] irfanrosandi opened #5988 "Feedback for Payment"
Hi Topcoder Team,

I have a few feedbacks for the payment experience, I hope this can be considered as part of improving the topcoder platform experience, this is my honest feedback as an active topcoder member.

1. When I am requesting a payment through PACT, it would be great if there are 2 Factors of Aunthetication, whether it is to email or phone, it creates peace of mind for me as the user so

[2022-01-24 07:41] lakshmiathreya commented on #5977
Will close after confirmation from Topgear ... Issue was fixed by reverting Onboarding for Topgear on 1/21/22 ...

[2022-01-24 07:44] lakshmiathreya commented on #5985
In order to resolve the Topgear access issues, Onboarding was reverted for Topgear and Social signups ... Need to re-implement Onboarding for Social now ... cc @Oanh-and-only-Oanh @rakibansary

[2022-01-24 07:44] lakshmiathreya commented on #5985
https://github.com/topcoder-platform/community-app/issues/5977

[2022-01-25 04:12] coderhacker opened #5990 "Logout option is not showing"
**Describe the bug**
Once the user login is successful, its redirects here https://www.topcoder-dev.com/start.
Once you click the user name, there no logout option is showing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://accounts-auth0.topcoder-dev.com/?retUrl=https://www.topcoder-dev.com/start&mode=signUp' and login with user account
2. Click on username there is logout op

[2022-01-25 07:13] kkartunov commented on #5990
Fixed.

[2022-01-25 07:13] #5990 closed

[2022-01-25 08:09] coderhacker commented on #5990
This is working fine on both env. dev and production.

Dev Passed:
![image](https://user-images.githubusercontent.com/62358241/150936979-444aa6d5-7d49-4e9e-8129-4810417678b1.png)

Prod Passed:
![image](https://user-images.githubusercontent.com/62358241/150937031-93209b58-5a19-4d7d-82de-7e19b4a29e6d.png)

[2022-01-25 08:33] kkartunov opened #5991 "Remove Admins link from TC footer"
as per title
![image](https://user-images.githubusercontent.com/5585002/150940675-5411fe07-b462-492c-ad5f-415b0cbb5fbe.png)

[2022-01-27 13:34] kkartunov commented on #5991
@SathyaJayabal please check...

[2022-01-28 06:37] SathyaJayabal commented on #5991
verified
<img width="1437" alt="Screenshot 2022-01-28 at 12 05 31 PM" src="https://user-images.githubusercontent.com/58783823/151499447-2f6462c0-5e01-4818-ae96-2420bffce9ca.png">

<img width="1436" alt="Screenshot 2022-01-28 at 12 06 10 PM" src="https://user-images.githubusercontent.com/58783823/151499473-b84a0dda-3b72-4d83-aa36-3f5baa09b200.png">
Note: Will need to remove form the forums footer t

[2022-01-28 07:33] kkartunov commented on #5991
@SathyaJayabal thanks! I think forums footer will update when we release, let's see...

[2022-01-28 08:08] SathyaJayabal commented on #5991
@kkartunov , forums footer just replicates the CA footer, but is actually a different one.

[2022-01-28 12:12] SathyaJayabal opened #5993 "Few Submissions are not available in Online review"
For a design self service challenge, few submissions are not found in legacy (OR). But all submissions are found in v5. This could be a generic issue and not specific to self service challenges

Example: Note only one submission user tester1234 is present in OR
https://www.topcoder-dev.com/challenges/5a9ecdba-450d-483c-8081-a583117d0c0c (1 out of 8 submissions missing)
<img width="962" alt="Screen

[2022-01-31 07:56] SathyaJayabal opened #5994 "Self Service challenges are not visible to not logged in users"
Self Service challenges are not visible to not logged in users
<img width="1440" alt="Screenshot 2022-01-31 at 1 25 53 PM" src="https://user-images.githubusercontent.com/58783823/151757398-215f0e8d-eb6a-476b-9bfb-487c6f670a4e.png">
<img width="1440" alt="Screenshot 2022-01-31 at 1 25 57 PM" src="https://user-images.githubusercontent.com/58783823/151757417-7d1784c0-7e2d-47c9-87ed-6aab448c91ac.png">

[2022-01-31 16:15] Oanh-and-only-Oanh commented on #5994
Issue for Post-MVP

[2022-02-01 05:07] SathyaJayabal opened #5995 "Submissions not available"
Submissions not available in dev
The submissions api is not returning any submissions for challenges.
For new challenges: User is able to submit, but they are not able to see their submissions:
example: https://www.topcoder-dev.com/challenges/9adba132-27cc-4bcb-8c02-18a57056d721

https://user-images.githubusercontent.com/58783823/151915314-0ebb4e54-419a-43fd-8f11-9c323c978dad.mov

For older challe

[2022-02-02 05:51] SathyaJayabal commented on #5995
Fixed by starting ES submission  processor

[2022-02-02 05:51] #5995 closed

[2022-02-02 07:32] sdgun opened #5996 "The status of the Self service challenge is 'Draft' even after the challenge is launched"
**Describe the bug**
The status of the Self service challenge is 'Draft' even after the challenge is launched

**To Reproduce**
1. Create a Self service challenge from https://platform.topcoder-dev.com/self-service/
2. Go to Work manager and self  assign and approve and launch the challenge
3. Check the status in challenge details page

**Expected behavior**
The status of the challenge should be d

[2022-02-02 07:45] #5996 closed

[2022-02-03 06:50] codejamtc commented on #5993
Today I have experienced the same issue for one of my challenge
- https://www.topcoder-dev.com/challenges/3ee4ec6d-7b15-4f34-874e-4721257bb423?tab=registrants
- https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30060800

[2022-02-04 06:19] sdgun opened #5998 "Support for self service"
Support for self service

[2022-02-04 09:25] SathyaJayabal opened #5999 "Chameleon modals displayed randomly on listings page"
Chameleon modals displayed randomly on listings page on Feb 2nd around 10PM IST. They were removed automatically after few hours. Investigation required on the cause of these.

[2022-02-08 09:18] SathyaJayabal opened #6002 "Exclude onboarding flow for users registering from challenge pages"
Exclude onboarding flow for users registering from challenge pages

[2022-02-08 09:19] SathyaJayabal commented on #5998
done

[2022-02-08 10:15] kkartunov opened #6003 "Add discord to Nav"
Top and bottom nav

[2022-02-10 09:44] coderhacker opened #6006 "Header Menu breaking on Tab Keyboard Intraction both envriroment Prod and Dev"
**Describe the bug**
The menu option is breaking when I am trying to access from the Tab keyboard.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://topcoder.com/) or (https://topcoder-dev.com/)
2. Press Tab Key to try access header Menu
See attached screenshot for both Env.

**Expected behavior**
The menu option is breaking when I am trying to access from the Tab keyboard. this

[2022-02-11 04:25] SathyaJayabal commented on #6003
verified on beta. Link opens in a new tab on both desktop and mobile
<img width="1438" alt="Screenshot 2022-02-11 at 9 53 40 AM" src="https://user-images.githubusercontent.com/58783823/153537449-11c6555e-2714-4c25-8cb0-79ea5def0113.png">
<img width="1438" alt="Screenshot 2022-02-11 at 9 53 57 AM" src="https://user-images.githubusercontent.com/58783823/153537464-03e065e6-3840-4a65-bec4-e91e934b4600

[2022-02-11 14:30] codejamtc opened #6011 "The Password reset flow is not align with the Wipro Passpord policy standards"
- https://community-app.topcoder-dev.com/settings/account
-
![bandicam 2022-02-11 19-59-53-975](https://user-images.githubusercontent.com/42398485/153609802-403969ec-b395-4965-9b55-521eb5abadf7.jpg)

[2022-02-14 08:24] sandhiyakavi commented on #6003
Verified in Staging Env.

![image](https://user-images.githubusercontent.com/55895538/153824075-6b91bd41-e695-404e-8365-e037844f64b2.png)
![image](https://user-images.githubusercontent.com/55895538/153824123-106ed8c6-53e3-420a-b3b5-dc6232befa05.png)

Mobile:
![IMG-9267](https://user-images.githubusercontent.com/55895538/153826696-e8787462-f3b9-4110-bf6c-a5a767e95e3f.PNG)
![IMG-9268](https://user-i

[2022-02-14 08:27] sandhiyakavi commented on #5991
Verified in Staging Env.

![image](https://user-images.githubusercontent.com/55895538/153827025-c89f320e-0827-4335-8763-021276eef55c.png)

[2022-02-14 10:12] sandhiyakavi commented on #5991
Verified in Prod Env. Working as expected.

[2022-02-14 10:15] sandhiyakavi opened #6018 "Remove Admins link from the Forum Footer"
Description:

The Admins link is removed from the Footer except from the Forum page Footer.

Reference: https://github.com/topcoder-platform/community-app/issues/5991#issuecomment-1023929545

![image](https://user-images.githubusercontent.com/55895538/153844760-70bad23d-6477-4e4e-a14e-4533d7941d22.png)

[2022-02-14 10:16] #5991 closed

[2022-02-14 10:34] sandhiyakavi opened #6019 "Discord link missing in the Header and Footer of Forums page"
Description:

Discord link missing in the Header and Footer of Forums page

![image](https://user-images.githubusercontent.com/55895538/153847681-200e9ea2-6bfb-45a3-b88c-802358b20b35.png)
![image](https://user-images.githubusercontent.com/55895538/153847744-fd3d94dd-8d27-47c3-988b-547bd0830d45.png)

[2022-02-16 03:41] SathyaJayabal commented on #5954
@rakibansary , getting the following error now
<img width="1432" alt="Screenshot 2022-02-16 at 9 10 04 AM" src="https://user-images.githubusercontent.com/58783823/154191946-fd19d848-166b-4b39-9426-c61b8908df9b.png">

[2022-02-16 07:59] sandhiyakavi commented on #5994
Verified in Dev Env. Able to view the self service challenges in Challenge listing page  for not logged in users

![image](https://user-images.githubusercontent.com/55895538/154220843-4d4e3d33-9752-43d1-9059-639c951ef0cc.png)

related jira issue: https://topcoder.atlassian.net/browse/PLAT-683

[2022-02-16 12:51] SathyaJayabal commented on #6019
verified
<img width="1440" alt="Screenshot 2022-02-16 at 6 20 36 PM" src="https://user-images.githubusercontent.com/58783823/154268225-f6142c40-64b0-422f-9fdc-61ab53357227.png">

[2022-02-16 12:51] SathyaJayabal commented on #6018
verified
<img width="1440" alt="Screenshot 2022-02-16 at 6 21 38 PM" src="https://user-images.githubusercontent.com/58783823/154268343-a42b9f66-ef92-4f6f-a552-9bd46b217231.png">

[2022-02-16 13:10] SathyaJayabal commented on #5976
https://topcoder.atlassian.net/browse/PLAT-669

[2022-02-16 13:12] coderhacker commented on #5976
QA Comments: This is not working on the dev environment, please see attached video and screenshot

https://user-images.githubusercontent.com/62358241/154271537-2126bfb5-9f96-437a-a4ca-4d88365e3f83.mp4

![image](https://user-images.githubusercontent.com/62358241/154271558-f280d1d4-b801-485e-8358-9a17e4785f81.png)

[2022-02-16 13:13] coderhacker commented on #5954
QA comments: For exiting users this is working fine

https://user-images.githubusercontent.com/62358241/154271809-37e89036-a3da-47b4-9ed0-0f0c6630108b.mp4

[2022-02-17 05:19] SathyaJayabal commented on #5976
This one is  verified
https://github.com/topcoder-platform/community-app/issues/5954#issuecomment-1041064797

[2022-02-17 05:19] SathyaJayabal commented on #5954
This one still fails
https://github.com/topcoder-platform/community-app/issues/5976#issuecomment-1041477591

[2022-02-17 05:48] sandhiyakavi commented on #5976
Verified in Staging Env. Error not displayed

![image](https://user-images.githubusercontent.com/55895538/154413224-ca81285d-58c5-4cc0-a216-7d544824af13.png)

[2022-02-17 07:41] sandhiyakavi commented on #5976
Verified in Prod Env. Working as expected

![image](https://user-images.githubusercontent.com/55895538/154426640-f4da7000-6517-462d-aed6-8ab20d9c63ef.png)

[2022-02-17 07:46] #5976 closed

[2022-02-17 11:51] kkartunov opened #6028 "Add parameters to all navigation items"
Top Nav: https://www.topcoder.com/community/?ref=nav

Bottom Nav(All footer): https://www.topcoder.com/community/?ref=navb

[2022-02-18 09:29] SathyaJayabal opened #6029 "Member Profile : the User handle should be treated like an invalid one"
Member Profile : the User handle should be treated like an invalid one

https://topcoder.atlassian.net/browse/PLAT-687
Community App shows user profile as active, even if the user is suspended via the admin tool.  eg the user handle `liyakat` was suspended for spamming, but shows up as Active in Community app

[2022-02-20 16:39] aropan opened #6031 "There are incorrect flag codes on https://tco22.topcoder.com/regional-events"
**Describe the bug**
There is incorrect flag code for Reunion (should be flag-icon-re instead flag-icon-sl) on https://tco22.topcoder.com/regional-events/africa-and-western-asia.
There is incorrect flag code for Moldova (should be flag-icon-md instead flag-icon-mo) on https://tco22.topcoder.com/regional-events/europe-and-central-asia.
There is incorrect flag code for Slovenia (should be flag-icon-

[2022-02-22 07:43] kkartunov commented on #6028
@SathyaJayabal fyi please...

[2022-02-22 08:36] sandhiyakavi commented on #6028
@kkartunov Observed the below points,

1. In the footer, "Talk to Sales" link is giving 404 error page as it is now not redirected to https://go.topcoder.com/contact/ after adding the parameter.

https://user-images.githubusercontent.com/55895538/155092325-8300e207-7317-43ee-9054-ed482fdc497c.mp4

2. For the pages below the URL has the nav parameter when hovered over but when we go to the page, th

[2022-02-22 09:37] sandhiyakavi opened #6033 "Dev Env: Not able to access all the sub pages under the Track menu"
Description:

In Dev Env, the user is not able to access all the sub pages ( Competitive programming, Data science, Design, development, QA ) under the Track menu in the Header.

![image](https://user-images.githubusercontent.com/55895538/155104319-854dca55-dff6-4215-96cc-f8da6c42cd90.png)
![image (22)](https://user-images.githubusercontent.com/55895538/155104362-dfc8981f-1f75-4445-b756-15e3a3b8cd

[2022-02-22 09:45] kkartunov commented on #6028
Hey @sandhiyakavi thanks!

1. is fixed.
2. Yes it is okay. We want to track the clicks on those links thus the paramenter.

[2022-02-22 09:45] kkartunov commented on #6028
@sandhiyakavi fix is deploying on beta now...

[2022-02-22 10:37] sandhiyakavi commented on #6028
Above issue is resolved.

<img width="960" alt="talk_to_sales" src="https://user-images.githubusercontent.com/55895538/155114605-ba6295b6-70fb-4f5d-9483-4504e753146b.png">

@kkartunov For My profile, the URL is not displaying the parameter.

![image](https://user-images.githubusercontent.com/55895538/155115029-c9b42b12-e1e8-4f91-ab8f-c766eff0cf66.png)

Also the URL for the Topcoder logo is not hav

[2022-02-22 19:27] kkartunov commented on #6028
@sandhiyakavi there won't be ref=xxx needed on profile & logo, they excluded.

[2022-02-23 03:35] sandhiyakavi commented on #6028
verified in Beta Env. Working as expected

[2022-03-01 16:27] Oanh-and-only-Oanh commented on #5994
resolved.

[2022-03-07 09:43] kkartunov opened #6041 "Update 404 error page"
as per title
https://marvelapp.com/prototype/7dg07ij/screen/85359372
no searchbar and search functionality should be included.

[2022-03-07 19:20] kkartunov commented on #6041
Deployed on beta. @SathyaJayabal please check...

[2022-03-08 05:01] sandhiyakavi commented on #6041
Verified in Beta Env. Working as expected

https://user-images.githubusercontent.com/55895538/157169350-a332604c-f041-42ee-b4d5-184510e9b831.mp4

[2022-03-09 07:16] sandhiyakavi commented on #6041
Verified in Staging Env.

![image](https://user-images.githubusercontent.com/55895538/157391441-576bb2b6-5025-4ac6-accc-dee5f4f9c227.png)

[2022-03-09 07:33] sandhiyakavi commented on #6028
Verified in Staging Env. Working as expected.

[2022-03-09 10:14] sandhiyakavi commented on #6041
Verified in Prod Env. Working as expected

![image](https://user-images.githubusercontent.com/55895538/157421102-b3867536-3ff4-4030-b8fd-0449cf1feb9b.png)

[2022-03-09 10:33] sandhiyakavi commented on #6028
Verified in Prod Env. Working as expected

[2022-03-09 10:37] #6041 closed

[2022-03-09 10:37] #6028 closed

[2022-03-18 12:13] kkartunov opened #6048 "Implement Hall of Fame redesign"
Scope TCO Hall of Fames: https://www.topcoder.com/community/hall-of-fame/tco/21

Design: https://marvelapp.com/prototype/69f39fc/screen/85665798

JIRA: https://topcoder.atlassian.net/browse/CO-71?atlOrigin=eyJpIjoiOGMxOTZiNDJlMzNlNGM5YmJiODhkOGViMDFjZDBjOWQiLCJwIjoiaiJ9

[2022-03-21 13:41] kkartunov opened #6051 "Add discord button to Thrive articles"
Design: https://marvelapp.com/prototype/69f39fc/screen/85778895/handoff

[2022-03-29 06:34] SathyaJayabal opened #6058 "Thrive article images seem to bee cut off"
Thrive article images seem to bee cut off. Full image is visible only when thee zoom is 50%
<img width="1437" alt="Screenshot 2022-03-29 at 7 56 53 AM" src="https://user-images.githubusercontent.com/58783823/160548166-ae368a30-1dc2-4f72-9ddf-b9ec255db687.png">

<img width="1430" alt="Screenshot 2022-03-29 at 12 04 32 PM" src="https://user-images.githubusercontent.com/58783823/160548385-448224dc-74

[2022-03-29 07:19] luizrrodrigues opened #6059 "Disable download of infected submissions"

[2022-03-30 04:57] SathyaJayabal opened #6063 "THRIVE Articles not accessible to Topgear"
https://topcoder.atlassian.net/browse/PLAT-922

Topgear user is getting a blank page when trying to open the recommended Thrive articles that are embedded in the challenge page.

[2022-03-30 10:33] codejamtc commented on #6059
Submission Review page UI change

- Dev Environment - We have some issues so we can’t test the message very effectively because of the failing submission api

https://user-images.githubusercontent.com/42398485/160812206-513a1e77-0100-492f-b107-c7fca0b968bc.mp4

**In Staging**

In the Community Submission page we will see Scanning... when the submission is in scanning and then if it is an invalid s

[2022-03-31 20:54] thefirstmo opened #6065 "test bug for zapping"

[2022-03-31 20:57] thefirstmo opened #6066 "new test bug for zapping"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-03-31 20:59] #6066 closed

[2022-03-31 21:00] #6065 closed

[2022-04-01 15:01] youdare opened #6067 "Left and Ring Button should be center aligned"
**Describe the bug**
Left and Ring Button should be center aligned

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/
2.	Scroll down and see Left and Ring Button

**Actual behavior**
Left and Ring Button is not center aligned

**Expected behavior**
Left and Ring Button should be center aligned

**Desktop (please complete the following information):**
 - OS: Windows 11 Home
 -

[2022-04-01 15:06] youdare opened #6068 "Talk to Sale Form does not throw error for Company and What can we help with fields, while submitting without any content"
**Describe the bug**
Talk to Sale Form does not throw error for Company and What can we help with fields, while submitting without any content

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/
2.	Go to get Started with Data Sceince
3.	Click Lets Talks
4.	Enter all details and leave Company and What can we help with fields empty
5.	Click Submit

**Actual behavior**
Talk to Sal

[2022-04-01 15:09] youdare opened #6069 "Talk to Sale Form does not throw error if we try to submit 2nd time"
**Describe the bug**
Talk to Sale Form does not throw error if we try to submit 2nd time

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/
2.	Go to get Started with Data Sceince
3.	Click Lets Talks
4.	Enter all details
5.	Remove all enter details
6.	Click Submit

**Actual behavior**
Talk to Sale Form does not throw error if we try to submit 2nd time

**Expected behavior**
Tal

[2022-04-01 15:09] #6068 closed

[2022-04-01 15:11] gthrone2021 opened #6070 "Edge :On Click of Privacy policy getting 404"
1. Go to 'https://www.topcoder.com/'
2. Click on Privacy policy link

Issue: Getting 404 error

**Expected behavior**
Privacy page should display

**Screenshots**
![image](https://user-images.githubusercontent.com/88379172/161291542-3f47177a-b69a-4c30-af32-0b4f0a649771.png)

**Desktop (please complete the following information):**
 - OS: [Windows 10 Pro]
 - Browser [chrome , Edge]
 - Version [chro

[2022-04-01 15:12] draco-malfoy opened #6071 "[Web] [Chrome] - Lets talk button has call to action"
- **Device**:  Laptop

- **Operating System:** Windows 10

- **Browser**:  Chrome Version 100.0.4896.60 (Official Build) (64-bit)

**- Steps to reproduce:**
1.  go to https://www.topcoder.com/data-science/data-advisory/
2. click on Lets talk button

**- Actual result:**
Button has no action

**- Expected results:**
Button should do associated action (eg. redirecting, opening a popup)

**- Testing

[2022-04-01 15:15] draco-malfoy opened #6072 "[Web] [Chrome] - Page does not scroll when Lets talk button is clicked a few times"
- **Device**:  Laptop

- **Operating System:** Windows 10

- **Browser**:  Chrome Version 100.0.4896.60 (Official Build) (64-bit)

**- Steps to reproduce:**
1.  go to https://www.topcoder.com/data-science/data-advisory/
2. click on Lets talk button a few times
3.  try scrolling

**- Actual result:**
Page does not scroll when Lets talk button is clicked

**- Expected results:**
Page should scroll b

[2022-04-01 15:16] draco-malfoy commented on #6072
**Update**: Same for the Lets talk button available in card 'PRODUCT SNAPSHOT'

[2022-04-01 15:16] youdare opened #6073 "Lets Talk Form get misaligned when we expand “What can we help with you” filed enter long description"
**Describe the bug**
Lets Talk Form get misaligned when we expand “What can we help with you” filed enter long description

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/ ( Do Login With Valid Credentials)
2.	Go to get Started with Data Science
3.	Click Lets Talks
4.	Expand “What can we help with you” filed
5.	Enter long description with multiple lines
6.	Observe UI
7.	Clic

[2022-04-01 15:20] draco-malfoy opened #6074 "[Web] [Chrome] - Accordion close button does not work"
- **Device**:  Laptop

- **Operating System:** Windows 10

- **Browser**:  Chrome Version 100.0.4896.60 (Official Build) (64-bit)

**- Steps to reproduce:**
1.  go to https://www.topcoder.com/data-science/
2. scroll to section where 'DATA SCIENCE FAQS' is there
3. open a question and try closing it

**- Actual result:**
 Accordion close button does not work

**- Expected results:**
 Accordion clos

[2022-04-01 15:20] youdare opened #6075 "App is automatically scrolling up and down while clicking “Lets Talk” button"
**Describe the bug**
App is automatically scrolling up and down while clicking “Lets Talk” button

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/data-exploration/
2.	 ( Do Login With Valid Credentials)
3.	Go to get Started with Data Science
4.	Click Lets Talks on top of the page
5.	Observe the UI
6.	Scroll bottom of the page
7.	Click “Lets Talk”
8.	Observe the UI

**Actual

[2022-04-01 15:22] youdare commented on #6067
Expected: button should be alighted properly  ( Center or on top of image)

[2022-04-01 15:27] draco-malfoy opened #6076 "[Mobile] [Chrome] - Data analytics page has white spaces"
- **Device**:  Laptop

- **Operating System:** Windows 10

- **Browser**:  Chrome Version 100.0.4896.60 (Official Build) (64-bit)

**- Steps to reproduce:**
1.  go to https://www.topcoder.com/blog/case-study-types/data-analytics/
2.  scroll to bottom

**- Actual result:**
Data analytics page has white spaces

**- Expected results:**
Should not  have white space

**- Testing collateral:**

https://

[2022-04-01 15:27] youdare opened #6077 "Data Analytics button is so small and not properly visible to user"
**Describe the bug**
Data Analytics button is so small and not properly visible to user

**To Reproduce**
1.	Login in to https://www.topcoder.com/case-studies/spacenet/
2.	 ( Do Login With Valid Credentials)
3.	Observe the Data Analytics button
4.	Observe the UI

**Actual behavior**
Data Analytics button is so small and not properly visible to user

**Expected behavior**
Data Analytics button shou

[2022-04-01 15:30] draco-malfoy opened #6078 "[Web] [Chrome] - Clicking near outside of filter modal does not close it"
- **Device**:  Laptop

- **Operating System:** Windows 10

- **Browser**:  Chrome Version 100.0.4896.60 (Official Build) (64-bit)

**- Steps to reproduce:**
1.  go to https://www.topcoder.com/blog/case-study-types/data-analytics/
2. click on the filter icon
3. click on near surrounding areas, it does not close

**- Actual result:**
Clicking near outside of filter modal does not close it

**- Expec

[2022-04-01 15:31] youdare opened #6079 "Spacenet Logo is going out of window"
**Describe the bug**
Spacenet Logo is going out of window

**To Reproduce**
1.	Login in to https://www.topcoder.com/case-studies/spacenet/
2.	 ( Do Login With Valid Credentials)
3.	Observe the Spacenet Logo
4.	Observe the UI

**Actual behavior**
Spacenet Logo is going out of window

**Expected behavior**
Spacenet Logo should not go out of window

**Desktop (please complete the following informatio

[2022-04-01 15:38] draco-malfoy opened #6080 "[Web] [Chrome] - Currently selected filter icon is wrong"
- **Operating System:** Windows 10

- **Browser**:  Chrome Version 100.0.4896.60 (Official Build) (64-bit)

**- Steps to reproduce:**
1.  go to https://www.topcoder.com/blog/case-study-types/data-analytics/
2. scroll to data analytics section
3. click on grid and line displays
4. the selected items turn gray, which is opposite

**- Actual result:**
Button has no action

**- Expected results:**
Whe

[2022-04-01 15:38] youdare opened #6081 "https://www.topcoder.com/data-science/  Big Image is not fitting inside the window , top or bottom is cutting off"
**Describe the bug**
https://www.topcoder.com/data-science/  Big Image is not fitting inside the window , top or bottom is cutting off

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/
2.	 ( Do Login With Valid Credentials)
3.	Scroll and go to big image screen
4.	Observe the UI

**Actual behavior**
https://www.topcoder.com/data-science/  Big Image is not fitting inside the

[2022-04-01 15:39] gthrone2021 opened #6082 "Web [Edge] - "^" icon is not squeezing.Details are not getting hidden"
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/data-science/'
2. Goto Data Science FAQ
3. Scroll down to Expand / Shrink the details below

Issue : Last "^" icon content is not getting hidden.

**Expected behavior**
Details should get hidden on click of "^" icon

![Screencast 2022-04-01 21-04-00](https://user-images.githubusercontent.com/88379172/161296467-c23b6914-959d-4aab-9

[2022-04-01 15:40] draco-malfoy opened #6083 "[Web] [Chrome] - Data analytics card are not displayed left to right"
- **Device**:  Laptop

- **Operating System:** Windows 10

- **Browser**:  Chrome Version 100.0.4896.60 (Official Build) (64-bit)

**- Steps to reproduce:**
1.  go to https://www.topcoder.com/blog/case-study-types/data-analytics/
2. scroll to section 'DATA ANALYTICS', see the cards are aligned right to left

**- Actual result:**
Data analytics card are not displayed left to right

**- Expected res

[2022-04-01 15:40] rprakash20 opened #6084 "[Web][Chrome][Functional] "Join the Community" link available in the footer is broken"
**Describe the bug**
"Join the Community" link available in the footer is broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/data-science/data-advisory/ or any of the testing URLs
2. Scroll down to the footer section
3. Click on "Join the Community"
4. Notice the behavior

**Expected behavior**
Clicking should open a new page with proper contents

**Screens

[2022-04-01 15:41] LeboThulare-bit opened #6085 "Android, Homepage"
**Bug Description**
The Topcoder logo icon is placed to the left in homepage before signup.

Device - Android 8
Browser - chrome " 99.0.48"

Steps to reproduce the behavior:
1. Click on homepage link
2. Land on the homepage
3. Look at the top part of the page
4. Locate the Topcoder logo icon

Expected Results:
The Topcoder logo icon should be positioned at the center.

Actual Results:
The Topcoder

[2022-04-01 15:41] rprakash20 commented on #6084
https://user-images.githubusercontent.com/5712602/161296798-5ceeb9b0-f7c6-4a34-a017-430f10bb559a.mov

[2022-04-01 15:44] radhamrutham opened #6086 "DATA SCIENCE FAQS expand collapse not working -: /data-science/"
**Describe the bug**
DATA SCIENCE FAQS expand collapse not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://www.topcoder.com/data-science/)
2. Scroll down to DATA SCIENCE FAQS area
4. Expand questions and try to collapse

**Expected behavior**
After expanding when try to collapse, collapse is not working

**Screenshots**

https://user-images.githubusercontent.com/984454

[2022-04-01 15:45] youdare opened #6087 "When you double click “ Lets Talk” button app is invoking the 3 dot menu"
**Describe the bug**
Edge - When you double click “ Lets Talk” button app is invoking the 3 dot menu

**To Reproduce**
1.	Login in to Find Me Data - Topcoder
2.	 ( Do Login With Valid Credentials)
3.	Double click the “Lets Talk” button
4.	Observe the UI

**Actual behavior**
When you double click “ Lets Talk” button app is invoking the 3 dot menu

**Expected behavior**
When you double click “ Lets

[2022-04-01 15:46] draco-malfoy opened #6088 "[Web] [Chrome] - After playing the video, page becomes non scrollable"
- **Device**:  Laptop

- **Operating System:** Windows 10

- **Browser**:  Chrome Version 100.0.4896.60 (Official Build) (64-bit)

**- Steps to reproduce:**
1.  go to https://www.topcoder.com/data-science/
2. scroll below and click on View case study on the SpaceNet card
3. click on Data analytics tag
4. click on Harvard tumor hunt View case study
5. scroll below, click on Play video button

**- A

[2022-04-01 15:48] rprakash20 opened #6089 "[Web][Chrome][Functional] clicking on "Join the community" button on topcoder homepage leads to 404 for a logged in user"
**Describe the bug**
clicking on "Join the community" button on topcoder homepage leads to 404 for a logged in user

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/
2. Login to your topcoder account
3. Click on 'Join the community' available on the Homepage topcoder.com
4. Notice the behavior
5. It redirects to 404 page

**Expected behavior**
For a logged in us

[2022-04-01 15:51] ashree1 opened #6090 "In talk to sales form Message "This field is required is going off"
**In talk to sales form Message "This field is required is going off.**
When user click on submit button without any input in talk to sales form, app displays "This field is required" for field What are you interested in? but if user again click on submit button this message is going off.

**To Reproduce**
Steps to reproduce the behavior:
 1. Open the url https://www.topcoder.com/
   2. Scroll dow

[2022-04-01 15:51] benioktopiansah opened #6091 "The Carousel images have too big in browser view, most cover all the screen"
**Issue Title :**
The Carousel images have too big in browser view, most cover all the screen
**Device:**  Laptop
**Operating System:** Windows 10
**Browser:** Google Chrome Version 100.0.4896.60 (Official Build) (64-bit)
**Steps to reproduce:**
Go to https://www.topcoder.com/data-science/
Scroll into below Project & Professional Service, Have several carousel image

**Actual result:**
The Carouse

[2022-04-01 15:52] radhamrutham opened #6092 "DATA SCIENCE FAQS - Expand not working when clicking at the edges"
**Describe the bug**
DATA SCIENCE FAQS - Expand not working when clicking at the edges

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://www.topcoder.com/data-science/)
2. Scroll down to DATA SCIENCE FAQS area
3. Try to click on the edjes of each rows of questions.

**Expected behavior**
Each question should expand on clicking even in the edges.

**Actual Result***
When clicking

[2022-04-01 15:53] akiransa opened #6093 "[Web] [Safari] Unable to scroll left."
Issue Title : [Web] [Safari] Unable to scroll left.
- Device: Laptop
- Browser:  Safari Version 15.2 (17612.3.6.1.6)
- Operating system : Mac OS Monterey Version 12.1

Steps to Reproduce:
https://www.topcoder.com/data-science/data-advisory/

-Scroll to the right
-And then scroll to the left

Actual Results:
- Not able to scroll to the left

Expected Results:
- Should be able to scroll to the left.

[2022-04-01 15:54] ashree1 opened #6094 "In talk to sales form Message "This field is required " is not displaying for all required fields."
**Describe the bug**
When there is multiple click on submit button without any input in talk to sales form,selects value for field What are you interested in field and then clicks on submit button app is not able to display message "This field is required" for all other remaining mandatory fields.
**To Reproduce**
Steps to reproduce the behavior:
1. Open the url https://www.topcoder.com/
  2. Scro

[2022-04-01 15:54] youdare opened #6095 "Edge – App is highlighting entire “Lets Talk” form while double clicking the “Let Talk” button ( while clicking 2nd time do long click and don release left click and drag cursor to form)"
**Describe the bug**
Edge – App is highlighting entire “Lets Talk” form while double clicking the “Let Talk” button ( while clicking 2nd time do long click and don release left click and drag cursor to form)

**To Reproduce**
1.	Login in to Find Me Data - Topcoder
2.	 ( Do Login With Valid Credentials)
3.	Double click and while clicking 2nd time do long click and don release left click and drag cu

[2022-04-01 15:55] rprakash20 opened #6096 "[Web][Chrome][UX]Clicking on "Let's talk" scrolls content on the main page either up or down"
**Describe the bug**
Clicking on "Let's talk" scrolls content on the main page either up or down

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/data-science/ or other data science links
2. Scroll to a section where you see "Let's talk" button
3. Click on Let's talk
4. Notice the behavior
5. Notice the main page scrolling

**Expected behavior**
main page should

[2022-04-01 15:55] draco-malfoy opened #6097 "[Web] [Chrome] - Broken links on INJURY SURVEILLANCE page"
- **Device**:  Laptop

- **Operating System:** Windows 10

- **Browser**:  Chrome Version 100.0.4896.60 (Official Build) (64-bit)

**- Steps to reproduce:**

1.  go to https://www.topcoder.com/data-science/
2. scroll below and click on View case study on the SpaceNet card
3. click on Data analytics tag
4. click on INJURY SURVEILLANCE View case study
5. scroll below to THE IMPACT section and click

[2022-04-01 15:57] ashabailu opened #6098 "[Web][Chrome] Notification icon in the profile modal is not visible correctly"
Weight: 2
**Describe the bug**
Notification Bell icon near the profile Avatar in the profile modal is not visible correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch "https://www.topcoder.com/"
2. Click on 'Login'
3. Click on arrow icon near user name on left  top navigation bar
4. Check the notification icon near the profile avatar

**Expected behavior**
Notification bell shou

[2022-04-01 15:58] youdare opened #6099 "FireFox – This Field Required error message is different in in Edge"
**Describe the bug**
FireFox – This Field Required error message is different in in Edge

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/find-me-data/
2.	 ( Do Login With Valid Credentials)
3.	Click  “Lets Talk” button
4.	Don’t enter any details
5.	Click Submit button
6.	Observe error message between Firefox and Edge

**Actual behavior**
FireFox – This Field Required error m

[2022-04-01 16:01] akiransa opened #6100 "[Web] [Safari] carousel size is too big for the Mac screen."
**Issue Title :** [Web] [Safari] carousel size is too big for the Mac screen.
- Device: Laptop, MacBook Air (13-inch, 2017)
- Browser:  Safari Version 15.2 (17612.3.6.1.6)
- Operating system : Mac OS Monterey Version 12.1

**Steps to Reproduce:**
https://www.topcoder.com/data-science/data-advisory/

-Scroll down
-carousel size is too big for the Mac screen

**Actual Results:**
- carousel size is t

[2022-04-01 16:01] draco-malfoy opened #6101 "[Mobile] [Chrome] - Button collapsing with cards"
- **Device**:  Laptop

- **Operating System:** Windows 10

- **Browser**:  Chrome Version 100.0.4896.60 (Official Build) (64-bit)

**- Steps to reproduce:**
1.  go to https://www.topcoder.com/how-it-works/?ref=nav
2. scroll below and see button on cards

**- Actual result:**
Button collapsing with cards

**- Expected results:**
Should not collapse

**- Testing collateral:**

https://user-images.gi

[2022-04-01 16:02] radhamrutham opened #6102 "Lets talk pop up - what you are interested in drop down getting hidden while scrolling down the page"
**Describe the bug**
Lets talk pop up - what you are interested in drop down getting hidden while scrolling down the page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://www.topcoder.com/data-science/find-me-data/)
2. Scroll down to  Lets talk button and click on the "Lets talk button"
3. Pop up comes asking some questions
4. with pop up opens scroll down the page and click on

[2022-04-01 16:02] youdare opened #6103 "Edge – This Field Required is not alighted properly and "Submit" button will overlap with error message"
**Describe the bug**
Edge – This Field Required is not alighted properly  and "Submit" button will overlap with error message

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/find-me-data/
2.	 ( Do Login With Valid Credentials)
3.	Click  “Lets Talk” button
4.	Don’t enter any details
5.	Click Submit button
6.	Try to populate error message in all fields and see
7.	Observe error

[2022-04-01 16:03] shivaprakash9 opened #6104 "as soon as web page opens, there is an unintended text display flashing at the bottom left corner"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/
2. See error at the bottom left corner of the screen. Some unintended texts keep flashing

**Expected behavior**
No unintended text flashing should happen

**Screenshots**
video is attached

**Desktop (please complete the following informati

[2022-04-01 16:04] ashree1 opened #6105 "Hover effect is not prefectly seen for left and right arrow."
**Describe the bug**
When user hover over the left and right arrow, the hover effect is not shown perfectly.
**To Reproduce**
Steps to reproduce the behavior:
 1. Open the url https://www.topcoder.com/data-science/
 2. Scroll down and hover mouse over the left and right arrow just below the banner and observe.

**Expected behavior**
When user  hover mouse over the left and right arrow, user expect

[2022-04-01 16:08] akiransa opened #6106 "[Web] [Chrome] Leaderboard not displaying info."
**Issue Title :** [Web] [Chrome] Leaderboard not displaying info.
**Device:** Laptop
**Operating System:** Windows
**Browser:** Chrome
**Steps to reproduce:**

- Login and go to URL - https://www.topcoder.com/home?ref=nav
- Select various programs on the extreme right TCOStage 4

**Actual result:**
- When results are not present, there is no indication as to whether results are not there or compet

[2022-04-01 16:08] radhamrutham opened #6107 "page is not accessed in given link"
**Describe the bug**
Contact Us link is not accessed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://www.topcoder.com/how-it-works/?ref=nav)
2. Click on and more in TRUSTED BY icons
3. Scroll down to WIZARD.FIT
4. scroll down to the bottom
5. click on the contact us link
6. page not found

**Expected behavior**
the page should be accessible

**Desktop (please complete the foll

[2022-04-01 16:09] akiransa opened #6108 "[Web] [Safari] overlapping of text"
*Issue Title :* [Web] [Safari] overlapping of text

- Device: Laptop, MacBook Air (13-inch, 2017)

- Browser:  Safari Version 15.2 (17612.3.6.1.6)

- Operating system : Mac OS Monterey Version 12.1

![Screenshot 2022-04-01 at 9 32 49 PM](https://user-images.githubusercontent.com/9376922/161318016-2efc9f4d-91d9-4fe1-bf5e-d0b24431a551.png)

*Steps to Reproduce:*

https://www.topcoder.com/data-scienc

[2022-04-01 16:09] draco-malfoy opened #6109 "[Mobile] [Chrome] - Search icon is not aligned"
- **Device**:  Laptop

- **Operating System:** Windows 10

- **Browser**:  Chrome Version 100.0.4896.60 (Official Build) (64-bit)

**- Steps to reproduce:**
1.  go to https://www.topcoder.com/how-it-works/?ref=nav
2. scroll below and click on [AND MORE](https://www.topcoder.com/case-studies/)
3. 3. see the search icon not aligned

**- Actual result:**
Search icon not aligned

**- Expected results:

[2022-04-01 16:09] rprakash20 opened #6110 "[Web][Chrome][Functional] Podcasts doesn't start playing in the new window (as video) on clicking either "Listen to Podcast" or the play button"
**Describe the bug**
Podcasts doesn't stop play by itself in the new window on clicking either "Listen to Podcast" or the play button. User has to click again on the play button in the podcast window

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/'
2. Scroll down to 'OUR CUSTOMERS’ SUCCESS' section
3. Click on the play button or listen to podcast on one of av

[2022-04-01 16:10] youdare opened #6111 "Overlap issue in https://www.topcoder.com/how-it-works/?ref=nav"
**Describe the bug**
Overlap issue in https://www.topcoder.com/how-it-works/?ref=nav

**To Reproduce**
1.	Login in to https://www.topcoder.com/how-it-works/?ref=nav
2.	 ( Do Login With Valid Credentials)
3.	Observe UI

**Actual behavior**
Overlap issue in https://www.topcoder.com/how-it-works/?ref=nav

**Expected behavior**
App should not overlap

This issue not happening in firefox

**Desktop (pl

[2022-04-01 16:11] youdare commented on #6111
https://user-images.githubusercontent.com/31862600/161301774-e5e368eb-09f3-4045-bbfb-6317b0383417.mp4

[2022-04-01 16:12] ashree1 opened #6112 "Not able to collapse all faqs"
**Describe the bug**
Initially all the faqs are in collapse mode, but when user expanded any one s/he can not revert back to initial position
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/data-science/
2. Scroll down the screen and reach data science faqs.
3. Expand any one faqs.

**Expected behavior**
As a user I should able to collapse the expanded faqs.

**

[2022-04-01 16:12] akiransa opened #6113 "[Web] [Safari] Highlighted boxes for Arrows for navigation are not there after refresh of the page."
*Issue Title :* [Web] [Safari] Highlighted boxes for Arrows for navigation are not there after refresh of the page.

- Device: Laptop, MacBook Air (13-inch, 2017)

- Browser:  Safari Version 15.2 (17612.3.6.1.6)

- Operating system : Mac OS Monterey Version 12.1

*Steps to Reproduce:*

https://www.topcoder.com/data-science/data-advisory/

-Accessibility adjustments

-Turn on Cognitive disability p

[2022-04-01 16:12] rprakash20 opened #6114 "[Web][Chrome][Functional] Podcasts doesn't stop playing even after closing the podcast window"
**Describe the bug**
Podcasts doesn't stop playing even after closing the podcast window

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/'
2. Scroll down to 'OUR CUSTOMERS’ SUCCESS' section
3. Click on the play button or listen to podcast on one of available podcasts
4. Notice the behavior
5. Click on play button again
6. Wait for the podcast to start
7. Close

[2022-04-01 16:13] akiransa opened #6115 "[Web] [Chrome] Notifications seems outdated"
**Issue Title :** [Web] [Chrome] Notifications seems outdated
**Device:** Laptop
**Operating System:** Windows
**Browser:** Chrome
**Steps to reproduce:**

- Login and go to URL - https://www.topcoder.com/home?ref=nav
- Click on notifications

**Actual result:**
- 1 year back notification results are returned

![bandicam 2022-04-01 21-41-31-502](https://user-images.githubusercontent.com/9376922/16

[2022-04-01 16:13] shivaprakash9 opened #6116 "The link does not work - "topcoder.com/taas""
**Describe the bug**
The following link as shown in the video does not open

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '(https://www.topcoder.com/data-science/)'
2. Click on the "resources" drop down menu and then click "video repository"
3. then in the following page click the following link - "topcoder.com/taas"
4. See error

**Expected behavior**
the page should open

**Screens

[2022-04-01 16:14] radhamrutham opened #6117 "Success message pop up breaks when long name is given -: in how it works page --> LAUNCH A COMPETITION"
**Describe the bug**
Success message pop up breaks when long name is given -: in how it works page --> LAUNCH A COMPETITION

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/how-it-works/?ref=nav
2. Click on get started in LAUNCH A COMPETITION
3. In the next page give a long name and give other mandatory fields and click on start
4. A confirmation pop up comes bu

[2022-04-01 16:14] LeboThulare-bit opened #6118 "[Mobile][Android][Data Science homepage]"
**Describe the bug**
On Data Science FAQs section, when you select one question and it expands, when you click the green icon on the right side to scale down, it doesn't work, you will have to  select another question to scale down the previous one.

Device: Mobile
Operating System: Andriod 8
Browser: Chrome 99.0.48 version

Steps to Reproduce:
1. Click on the Data Science path homepage link
2. Sc

[2022-04-01 16:15] akiransa opened #6119 "[Web] [Chrome] Topcoder Time not in User Timezone"
**Issue Title :** [Web] [Chrome] Topcoder Time not in User Timezone
**Device:** Laptop
**Operating System:** Windows
**Browser:** Chrome
**Steps to reproduce:**

- Login and go to URL - https://www.topcoder.com/home?ref=nav

**Actual result:**
- Not in UserTimezone
![image](https://user-images.githubusercontent.com/9376922/161302468-eaf1662f-e0a7-48f9-a9bf-a02a09a922fc.png)

**Expected results:**

[2022-04-01 16:16] youdare opened #6120 "Logo and header is separated in the bottom of the “Lets Talk” section"
**Describe the bug**
Logo and header is separated in the bottom of the “Lets Talk” section

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/data-advisory/
2.	 ( Do Login With Valid Credentials)
3.	Scroll down and view the bottom section of the “Lets talk”
4.	Observe UI

**Actual behavior**
Logo and header is separated in the bottom of the “Lets Talk” section

**Expected behav

[2022-04-01 16:18] radhamrutham opened #6121 "Expandable text box when expanded comes under the image - Input test not readable"
**Describe the bug**
Expandable text box when expanded comes under the image  - Input test not readable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://www.topcoder.com/how-it-works/?ref=nav)
2. Click on get started button to open a new page
3. In the new page try to expand the expandable input text field
4. input field after expanding is going behind the image. If text is ent

[2022-04-01 16:18] benioktopiansah opened #6122 "The Carousel images have blue text as sub title but is not a link / can not click"
**Issue Title :**
The Caurousel images have blue text as sub title but not a link
**Device:**  Laptop
**Operating System:** Windows 10
**Browser:** Google Chrome Version 100.0.4896.60 (Official Build) (64-bit)
**Steps to reproduce:**
Go to https://www.topcoder.com/data-science/data-advisory/
Scroll below carousel image

**Actual result:**
The Carousel images have blue text as sub title but is not

[2022-04-01 16:19] akiransa opened #6123 "[Web] [Chrome] Back Button Traversal for payments from ref=nav page"
**Issue Title :** [Web] [Chrome] Back Button Traversal for payments from ref=nav page
**Device:** Laptop
**Operating System:** Windows
**Browser:** Chrome
**Steps to reproduce:**

- Login and go to URL - https://www.topcoder.com/home?ref=nav
- Click on payments

**Actual result:**
- No back button from payments screen and a new window opening

https://user-images.githubusercontent.com/9376922/1613

[2022-04-01 16:20] youdare opened #6124 "Display message “Thank You” is having lot of empty space"
**Describe the bug**
Display message “Thank You” is having lot of empty space

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/data-advisory/
2.	 ( Do Login With Valid Credentials)
3.	Click the  “Lets talk”
4.	Fill the form and submit
5.	App display message “Thank You
6.	Observe UI

**Actual behavior**
Display message “Thank You” is having lot of empty space

**Expected behav

[2022-04-01 16:22] akiransa opened #6125 "[Web] [Chrome] Search not working in nav page"
**Issue Title :** [Web] [Chrome] Search not working
**Device:** Laptop
**Operating System:** Windows
**Browser:** Chrome
**Steps to reproduce:**

- Login and go to URL - https://www.topcoder.com/home?ref=nav
- Click on search
- type in data science
- hit search

**Actual result:**
- Search failed
-

https://user-images.githubusercontent.com/9376922/161303510-0d92f7b1-4ea2-4c18-8712-db0055b052f0.mp

[2022-04-01 16:24] ashabailu opened #6126 "[Web][Chrome][UI]Avatar is not visible in The My profile page"
**Describe the bug**
Avatar beside username in profile section is not visible in My profile section

To Reproduce
Steps to reproduce the behavior:

Launch "https://www.topcoder.com/"
Click on 'Login'
Click on arrow icon near user name on left top navigation bar
Click on My profile in the Profile modal
Check the Avatar near the user name

Expected behavior
Avatar with say first 2 letters of name(if

[2022-04-01 16:25] youdare opened #6127 "Auto scroll image banner is not enabled in the web"
**Describe the bug**
Auto scroll image banner is not enabled in the web

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/
2.	 ( Do Login With Valid Credentials)
3.	Observe the auto running banner UI

**Actual behavior**
Auto scroll image banner is not enabled in the web

**Expected behavior**
Auto scroll image banner should be enabled in the web

**Desktop (please complete th

[2022-04-01 16:25] shivaprakash9 opened #6128 "some of the content in the page - "https://www.topcoder.com/releases/?ref=nav" does not display"
**Describe the bug**
some of the content in the page does not display

**To Reproduce**
Steps to reproduce the behavior:
1.Go to '(https://www.topcoder.com/data-science/)'
2.Click on the "resources" drop down menu and then click "video repository"
3.Try searching for something in the video search box
4. then the theme of the page turns dark (irrespective of the result)
5. Now, you click on the "re

[2022-04-01 16:27] akiransa opened #6129 "[Web] [Safari] Unable to navigate to the submenu from main menu"
*Issue Title :* [Web] [Safari] Unable to navigate to the submenu from main menu

- Device: Laptop, MacBook Air (13-inch, 2017)

- Browser:  Safari Version 15.2 (17612.3.6.1.6)

- Operating system : Mac OS Monterey Version 12.1

*Steps to Reproduce:*

https://www.topcoder.com/data-science/data-advisory/

-Accessibility adjustments

-Turn on Blind Users

-Go to the main menu

Click Industries
Try to

[2022-04-01 16:27] benioktopiansah opened #6130 "The description text is not aligned with the title of the list"
**Issue Title :**
The description text is not aligned with the title of the list
**Device:**  Laptop
**Operating System:** Windows 10
**Browser:** Google Chrome Version 100.0.4896.60 (Official Build) (64-bit)
**Steps to reproduce:**
Go to https://www.topcoder.com/data-science/data-exploration/
Scroll below the numbering list.

**Actual result:**
The alignment of the description text for the number

[2022-04-01 16:27] youdare opened #6131 "Top banner is not available in https://www.topcoder.com/data-science/"
**Describe the bug**
Top banner is not available in https://www.topcoder.com/data-science/

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/
2.	 ( Do Login With Valid Credentials)
3.	Top banner is not available

**Actual behavior**
Top banner is not available

**Expected behavior**
Top banner should match as we see in web

**Smartphone (please complete the following informati

[2022-04-01 16:31] akiransa opened #6132 "[Web] [Chrome] Search on User Details - not clear for user - UX bug"
**Issue Title :** [Web] [Chrome] Search on User Details - not clear for user - UX bug
**Device:** Laptop
**Operating System:** Windows
**Browser:** Chrome
**Steps to reproduce:**

- Login and go to URL - https://www.topcoder.com/home?ref=nav
- Click on search
- type in blessy - or any other user
- hit search

**Actual result:**
- Return of members not indicating clearly that user can be clicked to

[2022-04-01 16:32] youdare opened #6133 "Big Banner scroll is not smooth , some time user have scroll left or right 2 times to navigate"
**Describe the bug**
Big Banner scroll is not smooth , some time user have scroll left or right  2 times to navigate

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/
2.	 ( Do Login With Valid Credentials)
3.	Go to big banner
4.	Swipe left and right
5.	Repeat step 4 5 times

**Actual behavior**
Big Banner scroll is not smooth , some time user have scroll left or right  2 time

[2022-04-01 16:32] akiransa opened #6134 "[Web] [Safari] “Technology” quick link in the customers section is highlighted with an incomplete orange outline box"
*Issue Title :* [Web] [Safari] Unable to navigate to the submenu from main menu

- Device: Laptop, MacBook Air (13-inch, 2017)

- Browser:  Safari Version 15.2 (17612.3.6.1.6)

- Operating system : Mac OS Monterey Version 12.1

*Steps to Reproduce:*

[https://www.topcoder.com/case-studies/microsoft/](https://www.topcoder.com/data-science/data-advisory/)

-Accessibility adjustments

-Turn on Blind

[2022-04-01 16:34] jcampos1981 opened #6135 "[Pc] [Mozilla Firefox] - Back button doesnt work, data-science->Pricing->data-science"
**Device** PC

**Operating System**: Windows 10 64 bits

**Browser**: Firefox 98.0.2 (64-bit)

**Steps to reproduce:**
1. go to https://www.topcoder.com/data-science/
2. Click on Pricing link at top navigation bar.
3. Click on web browser Back button to navitage previous data-science page.

**Actual result**
- URL text change to https://www.topcoder.com/data-science/ but still is displaying the Pr

[2022-04-01 16:35] ashabailu opened #6136 "[Web]{Chrome][Functional] Collapse button is not working in Data science"
Weight:4.00

**Describe the bug**
After expanding the FAQs under Data science section, collapse functionality  is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/data-science/'
2. Scroll down to Data Science FAQs section
3. Click on Expand icon of anyone FAQ
4. Click again on Collapse icon

**Expected behavior**
On clicking collapse icon, the respe

[2022-04-01 16:36] ashree1 opened #6137 "Unable to auto load already field values in "Book a Demo" form."
**Describe the bug**
when I logged in to the website and click on Book a demo menu, app displays a form "Book your topcoder platform demo" but in this form already registered field values such as first name, last name and work email are not retrieved.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the url https://www.topcoder.com/
 2. Login using valid credentials.
3. Click on book a d

[2022-04-01 16:36] akiransa opened #6138 "[Web] [Chrome] Help - Support or Thrive articles- Appropriate Indication"
**Issue Title :** [Web] [Chrome] Help - Support or Thrive articles- Appropriate Indication
**Device:** Laptop
**Operating System:** Windows
**Browser:** Chrome
**Steps to reproduce:**

- Login and go to URL - https://www.topcoder.com/home?ref=nav
- Click on profile
- Click on Help

**Actual result:**
- Redirected to Help Articles - Thrive
-
![bandicam 2022-04-01 22-03-43-838](https://user-images.g

[2022-04-01 16:37] akiransa opened #6139 "[Web] [Safari] three Buttons are not highlighted for cognitive disability profile."
*Issue Title :* [Web] [Safari] three Buttons are not highlighted for cognitive disability profile.

- Device: Laptop, MacBook Air (13-inch, 2017)

- Browser:  Safari Version 15.2 (17612.3.6.1.6)

- Operating system : Mac OS Monterey Version 12.1

*Steps to Reproduce:*

[https://www.topcoder.com/pricing/?ref=nav](https://www.topcoder.com/data-science/data-advisory/)

-Accessibility adjustments

-Tu

[2022-04-01 16:37] ashree1 opened #6140 "User name goes off on click on the Book a demo menu"
**Describe the bug**
when I logged in to the website and click on Book a demo menu, my user name goes off from the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the url https://www.topcoder.com/
 2. Login using valid credentials.
3. Click on book a demo menu and observe.

**Expected behavior**
As a user when I logged into the website and click on book a demo menu, I expect my

[2022-04-01 16:38] radhamrutham opened #6141 "TALK TO SALES - Close button clickable well outside the cross icon"
**Describe the bug**
TALK TO SALES - Close button clickable well outside the cross icon

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  (https://www.topcoder.com/data-science/data-advisory/)
2. Click on "Lets talk" link
3. TALK TO SALES pop up comes
4. try to access the close button of the pop up. close button is accessible well outside the cross icon

**Expected behavior**
Cross butt

[2022-04-01 16:38] shivaprakash9 opened #6142 "'Privacy policy' link does not open"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '(https://www.topcoder.com/data-science/)'
2. Go to the bottom of the page and then click "privacy policy"
3. The link does not open

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots

[2022-04-01 16:42] akiransa opened #6143 "[Web] [Chrome] Pop up of Customer stories, not getting closed on Escape button"
**Issue Title :** [Web] [Chrome] Pop up of Customer stories, not getting closed on Escape button
**Device:** Laptop
**Operating System:** Windows
**Browser:** Chrome
**Steps to reproduce:**

- Login and go to URL - https://www.topcoder.com/
- Scroll down to Our customer's stories
- Click on any of them
- Press escape , after it loads.

**Actual result:**
- Nothing happening and works only with mou

[2022-04-01 16:42] akiransa opened #6144 "[Web] [Safari] Get the free report link not working."
*Issue Title :* [Web] [Safari] Get the free report link not working.

- Device: Laptop, MacBook Air (13-inch, 2017)

- Browser:  Safari Version 15.2 (17612.3.6.1.6)

- Operating system : Mac OS Monterey Version 12.1

*Steps to Reproduce:*

https://www.topcoder.com/data-science/data-advisory/

https://user-images.githubusercontent.com/9376922/161321205-236dccdc-6dfe-4807-996a-1f7f3ff4c712.mov

Main

[2022-04-01 16:44] radhamrutham opened #6145 "TALK TO SALES pop up coming clicking out side the link"
**Describe the bug**
TALK TO SALES pop up coming clicking out side the link

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://www.topcoder.com/)
2. Scroll down to WHAT CAN I DO AT TOPCODER?
3. Click on "UX/ UI DESIGN" pop up comes. Click on DATA SCIENCE column, pop up not comes

**Expected behavior**
Pop up should come only when clicked on the "Lets talk" link

**Screenshots**

[2022-04-01 16:47] youdare opened #6146 "From the biggest Text is not aligned properly"
**Describe the bug**
From the biggest Text is not aligned properly

**To Reproduce**
1.	Login in to https://www.topcoder.com/how-it-works/?ref=nav
2.	 ( Do Login With Valid Credentials)
3.	Go to section “From the biggest Text is not aligned properly”
4.	Observer UI

**Actual behavior**
From the biggest Text is not aligned properly

**Expected behavior**
From the biggest Text should aligned properl

[2022-04-01 16:47] akiransa opened #6147 "[Web] [Chrome] Pop up of Customer stories, close button not relevant?"
**Issue Title :** [Web] [Chrome] Pop up of Customer stories, close button not relevant?
**Device:** Laptop
**Operating System:** Windows
**Browser:** Chrome
**Steps to reproduce:**

- Login and go to URL - https://www.topcoder.com/
- Scroll down to Our customer's stories
- Click on any of them
- Click anywhere on the popped dialog

https://user-images.githubusercontent.com/9376922/161307037-6fc9c7

[2022-04-01 16:47] rprakash20 opened #6148 "[Web][Chrome][Functional] Clicking on learn more on "Problem statement & Data Advisory" card redirect to the same page"
**Describe the bug**
Clicking on learn more on "Problem statement & Data Advisory" card redirect to the same page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/data-science/data-advisory/'
2. Scroll down to "GET STARTED WITH DATA SCIENCE AT TOPCODER" section
3. Notice the card "Problem statement & Data Advisory"
4. Hover over it and click on "Learn more"
5.

[2022-04-01 16:50] youdare opened #6149 "“And More” is not Hyperlinked , looks like text with underlined"
**Describe the bug**
“And More” is not Hyperlinked , looks like text with underlined

**To Reproduce**
1.	Login in to https://www.topcoder.com/how-it-works/?ref=nav
2.	 ( Do Login With Valid Credentials)
3.	Go to section “Trust By”
4.	Observer link “And More”

**Actual behavior**
“And More” is not Hyperlinked , looks like text with underlined

**Expected behavior**
“And More” should be Hyperlinked

[2022-04-01 16:50] ashabailu opened #6150 "[Web][Chrome][Functional] On scrolling to the respective section below case study, page is becoming blank"
Weight: 4.0

**Describe the bug**
In the Data analytics section, on scrolling to the section just below the Case study carousel, the info/images are getting blank and on moving down the info is appearing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/data-science/'
2. Login with credentials
3. Scroll down to section just above the Data Science FAQs where some

[2022-04-01 16:54] rprakash20 opened #6151 "[Web][Safari][Functional] Some images are not loading under "TRUSTED BY" on topcoder.com in Safari"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com
2. scroll to TRUSTED BY section
3. Notice the company icons under it
4. Not all images are loading

**Expected behavior**
All images must load

**Screenshots**
<img width="1440" alt="Screenshot 2022-04-01 at 10 21 25 PM" src="https://user-images.githubusercontent.com/5712602/161307925-e2cc5c0

[2022-04-01 16:54] benioktopiansah opened #6152 "The vertical space between element is not balance"
**Issue Title :**
The vertical space between element is not balance
**Device:**  Laptop
**Operating System:** Windows 10
**Browser:** Google Chrome Version 100.0.4896.60 (Official Build) (64-bit)
**Steps to reproduce:**
Go to https://www.topcoder.com/data-science/
Scroll below to "TRUSTED BY and WHY CHOOSE TOPCODER FOR DATA SCIENCE?

**Actual result:**
The vertical space between element is not bal

[2022-04-01 16:56] youdare opened #6153 "In Bottom of the page, we don’t have one space margin and scroll bar is slightly overlapping text"
**Describe the bug**
In Bottom of the page, we don’t have one space margin and scroll bar is slightly overlapping text

**To Reproduce**
1.	Login in to https://www.topcoder.com/how-it-works/?ref=nav
2.	 ( Do Login With Valid Credentials)
3.	Scroll down and view page

**Actual behavior**
In Bottom of the page, we should have one space margin

**Expected behavior**
In Bottom of the page, we don’t ha

[2022-04-01 16:56] akiransa opened #6154 "[Web] [Safari] Highlights appear with cognitive disability mode on only after refreshing the page"
*Issue Title :* [Web] [Safari] Highlights appear with cognitive disability mode on only after refreshing the page

- Device: Laptop, MacBook Air (13-inch, 2017)

- Browser:  Safari Version 15.2 (17612.3.6.1.6)

- Operating system : Mac OS Monterey Version 12.1

*Steps to Reproduce:*

https://www.topcoder.com/data-science/data-advisory/

Accessibility adjustments
Turn on cognitive disability profil

[2022-04-01 16:57] rprakash20 commented on #6151
Some images under "TRUSTED BY" is not loading across all pages in scope.

[2022-04-01 16:58] akiransa opened #6155 "[Web] [Chrome] Discord at multiple places - not relevant?"
**Issue Title :** [Web] [Chrome] Discord at multiple places - not relevant?
**Device:** Laptop
**Operating System:** Windows
**Browser:** Chrome
**Steps to reproduce:**

- Login and go to URL - https://www.topcoder.com/home?ref=nav

**Actual result:**
- Discord in title bar

**Expected results:**
- Since already Join us on Discord is evidently visible, can remove from title
-
![image](https://user

[2022-04-01 16:59] radhamrutham opened #6156 "In Mobile the Listen to podcast content is not scroll down"
**Describe the bug**
In Mobile the Listen to podcast content is not scroll down

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://www.topcoder.com/)
2. scroll down to OUR CUSTOMERS’ SUCCESS
3. Click on listen to the podcast button
4. scroll down the button it is not scrolling down

**Expected behavior**
The text should scroll down to bottom

**Smartphone (please complete the fol

[2022-04-01 16:59] akiransa opened #6157 "[Web] [Safari] Trusted by carousel is stuck and not moving with cognitive disability profile on."
*Issue Title :* [Web] [Safari] Trusted by carousel is stuck and not moving with cognitive disability profile on.

- Device: Laptop, MacBook Air (13-inch, 2017)

- Browser:  Safari Version 15.2 (17612.3.6.1.6)

- Operating system : Mac OS Monterey Version 12.1

*Steps to Reproduce:*

[https://www.topcoder.com/security/?ref=nav](https://www.topcoder.com/data-science/data-advisory/)

Accessibility ad

[2022-04-01 17:00] akiransa opened #6158 "[Web] [Chrome] Pop up out of place when page is scrolled down."
**Issue Title :** [Web] [Chrome] Pop up out of place
**Device:** Laptop
**Operating System:** Windows
**Browser:** Chrome
**Steps to reproduce:**

- Login and go to URL - https://www.topcoder.com/data-science/data-exploration/
- Click on Let's talk
- Click on what are you interested in

**Actual result:**
- Pop up out of place

https://user-images.githubusercontent.com/9376922/161309917-0746385c-d

[2022-04-01 17:00] benioktopiansah opened #6159 "The banner of carousel image and PROJECTS & PROFESSIONAL SERVICES is not aligned"
**Issue Title :**
The banner of carousel image and PROJECTS & PROFESSIONAL SERVICES is not aligned
**Device:**  Laptop
**Operating System:** Windows 10
**Browser:** Google Chrome Version 100.0.4896.60 (Official Build) (64-bit)
**Steps to reproduce:**
Go to https://www.topcoder.com/data-science/data-exploration/
Scroll to GET STARTED WITH DATA SCIENCE AT TOPCODER and PROJECTS & PROFESSIONAL SERVICE

[2022-04-01 17:01] youdare opened #6160 "Trusted by is not center aligned in the https://www.topcoder.com/data-science/find-me-data/"
**Describe the bug**
Trusted by is not center aligned in the

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/find-me-data/
2.	 ( Do Login With Valid Credentials)
3.	Observe header “Trusted By”

**Actual behavior**
Trusted by is not center aligned in the

**Expected behavior**
Trusted by should be center aligned in the

This issue is seen in Web and Mobile

**Smartphone (plea

[2022-04-01 17:02] rprakash20 opened #6161 "[Web][Safari][Functional] Video and Podcast background images are not loading"
**Describe the bug**
Video and Podcast images are not loading on topcoder.com under "OUR CUSTOMERS’ SUCCESS" section

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com'
2. Scroll to "OUR CUSTOMERS’ SUCCESS" section
3. Notice the video and podcast tiles
4. Background images are not loading for videos and podcast tiles

**Expected behavior**
Background images shoul

[2022-04-01 17:02] ashree1 opened #6162 "Back navigation is not working for data-science/data-advisory"
**Describe the bug**
When user clicks on Press room and navigate back to data-science/data-advisory screen, app changes the url in title bar but the content are still displaying of press.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://www.topcoder.com/data-science/data-advisory/
 2. Login using valid credentials.
3. Click on Resources from main menu and select Press Room.
4. Cl

[2022-04-01 17:03] mesh98 opened #6163 "[web][Chrome][Data Science Home Page]"
**Describe the bug**
When the home page is still loading, you could able to see a pop-up of javascript file path at the left bottom corner.

Device: Laptop
OS: Windows 10 Pro
Browser: version 100.0.4896.60

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any of the links provided
2. place the cursor near the left bottom corner
3. Notice pop up stating "**Loading [MathJax]/extensions/***

[2022-04-01 17:05] draco-malfoy opened #6164 "[Web] [Chrome] - Clear all filters is shown, when no filters are selected"
- **Device**:  Laptop

- **Operating System:** Windows 10

- **Browser**:  Chrome Version 100.0.4896.60 (Official Build) (64-bit)

**- Steps to reproduce:**
1.  go to https://www.topcoder.com
2. click on My community
3. click on View all in Thrive articles card
4. click on Advanced math in competitive programming
5. click on Clear filters
6. see clear filter is still visible and clickable when no

[2022-04-01 17:05] youdare opened #6165 "Lets Talk Button color is not consistent in page , in top page show button color as blue and in bottom as”White”"
**Describe the bug**
Lets Talk Button color is not consistent in page , in top page show button color as blue and in bottom as”White”

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/find-me-data/
2.	 ( Do Login With Valid Credentials)
3.	Observe header “Trusted By”

**Actual behavior**
Lets Talk Button color is not consistent in page , in top page show button color as blue a

[2022-04-01 17:06] jcampos1981 opened #6166 "[Pc] [Mozilla Firefox] - Get started with data science at topcoder Section looks like an image gallery rather than Data Science Products"
**Device** PC

**Operating System**: Windows 10 64 bits

**Browser**: Firefox 98.0.2 (64-bit)

**Steps to reproduce:**
1. go to https://www.topcoder.com/data-science/
2. Click on View Products Button Link
3. Observe Get Started With Data Science At Topcoder Section

**Actual result**
- Apparently, image gallery is used to show important Products related to Data Science at Topcoder, lost in the mid

[2022-04-01 17:07] ashree1 opened #6167 "Back navigation is not working for data-science/find-me-data"
**Describe the bug**
When user clicks on Press room and navigate back to data-science/find-me-data screen, app changes the url in title bar but the content are still displaying of press.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://www.topcoder.com/data-science/find-me-data/
2. Login using valid credentials.
3. Click on Resources from main menu and select Press Room.
4. Click

[2022-04-01 17:07] benioktopiansah opened #6168 "The product banner of carousel image not proper format during loading the content"
**Issue Title :**
The product banner of carousel image not proper format during loading the content
**Device:**  Laptop
**Operating System:** Windows 10
**Browser:** Google Chrome Version 100.0.4896.60 (Official Build) (64-bit)
**Steps to reproduce:**
Go to https://www.topcoder.com/data-science/
Scroll to GET STARTED WITH DATA SCIENCE AT TOPCODER
**Actual result:**
The product banner of carousel i

[2022-04-01 17:07] jcampos1981 commented on #6166
Enhancements/Suggestions

[2022-04-01 17:10] youdare opened #6169 "Common UX – Clear text “X” button is not available text field"
**Describe the bug**
Common UX – Clear text “X” button is not available text field

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/find-me-data/
2.	 ( Do Login With Valid Credentials)
3.	Click “Lets Talk”
4.	App open the Talk to sales
5.	Enter and try clear

**Actual behavior**
User have click back space to clear

**Expected behavior**
Common – Clear text “X” button is not a

[2022-04-01 17:11] akiransa opened #6170 "[Web] [Safari]Highlight boxes overlap"
*Issue Title :* [Web] [Safari]Highlight boxes overlap

- Device: Laptop, MacBook Air (13-inch, 2017)

- Browser:  Safari Version 15.2 (17612.3.6.1.6)

- Operating system : Mac OS Monterey Version 12.1

*Steps to Reproduce:*

[https://www.topcoder.com/security/?ref=nav](https://www.topcoder.com/data-science/data-advisory/)

Accessibility adjustments
Turn on cognitive disability profile on
Main Menu

[2022-04-01 17:11] ashabailu opened #6171 "[Web][Chrome][Functional]: No validation for valid phonenumber"
**Describe the bug**
Validation for phone number is not given on entering number which is greater than 10 digits with - symbol

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[...](https://www.topcoder.com/)'
2. Login with appropriate user
3. Click on Contact Us from the bottom most section
4. Enter all valid details like First, Last NAme, Email, Company name
5. In phone number enter

[2022-04-01 17:11] akiransa opened #6172 "[Web] [Safari]Video clip doesnt play with cognitive disablity profile on."
*Issue Title :* [Web] [Safari]Video clip doesnt play with cognitive disablity profile on.

- Device: Laptop, MacBook Air (13-inch, 2017)

- Browser:  Safari Version 15.2 (17612.3.6.1.6)

- Operating system : Mac OS Monterey Version 12.1

*Steps to Reproduce:*

[https://www.topcoder.com/security/?ref=nav](https://www.topcoder.com/data-science/data-advisory/)

Accessibility adjustments
Turn on cogni

[2022-04-01 17:13] rprakash20 opened #6173 "[Web][Safari][UI] Pages containing carousel sliders can be scrolled horizontally"
**Describe the bug**
Pages containing carousel sliders can be scrolled horizontally

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a page which has carousel slider for e.g https://www.topcoder.com/data-science/
2. Scroll down to section where there are carousel slider for e.g. " GET STARTED WITH DATA SCIENCE AT TOPCODER"
3. Try to scroll the page horizontally
4. see the page being scr

[2022-04-01 17:13] akiransa opened #6174 "[Web] [Chrome] Pop up out of place for Talk to us.. multiple places"
**Issue Title :** [Web] [Chrome] Pop up out of place
**Device:** Laptop
**Operating System:** Windows
**Browser:** Chrome
**Steps to reproduce:**

- Login and go to URL - https://www.topcoder.com/data-science/data-exploration/
- Click on Let's talk in various places

**Actual result:**
- Pop up out of place
- In some cases, non-responsive UI

https://user-images.githubusercontent.com/9376922/16131

[2022-04-01 17:15] akiransa opened #6175 "[Web] [Chrome] Broken link of "Privacy Policy" on exploration page"
**Issue Title :** [Web] [Chrome] Broken link of "Privacy Policy" on exploration page
**Device:** Laptop
**Operating System:** Windows
**Browser:** Chrome
**Steps to reproduce:**

- Login and go to URL - https://www.topcoder.com/data-science/data-exploration/
- Click on Privacy policy at the end

**Actual result:**
- Broken Link

https://user-images.githubusercontent.com/9376922/161311112-c43ae7b1-

[2022-04-01 17:16] radhamrutham opened #6176 "TALK TO SALES button not working"
**Describe the bug**
TALK TO SALES button not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['...'](https://www.topcoder.com/case-studies/spacenet/)
2. Scroll down to bottom
4. click on TALK TO SALES it is not working

**Expected behavior**
it should navigate to the page

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser Chrome
 - Version 96.0

[2022-04-01 17:17] draco-malfoy opened #6177 "[Web] [Chrome] - Broken link for taas"
**Device**:  Laptop

- **Operating System:** Windows 10

- **Browser**:  Chrome Version 100.0.4896.60 (Official Build) (64-bit)

**- Steps to reproduce:**
1.  go to https://www.topcoder.com\
2. from the top navbar, click on Resources > Video repository
3. click on taas link

**- Actual result:**
 Broken link for taas

**- Expected results:**
Link should work

**- Testing collateral:**

https://use

[2022-04-01 17:17] akiransa opened #6178 "[Web] [Safari] Close icon and text on the video player window doesnt align properly in cognitive disability profile on"
*Issue Title :* [Web] [Safari] Close icon and text on the video player window doesnt align properly in cognitive disability profile on

- Device: Laptop, MacBook Air (13-inch, 2017)

- Browser:  Safari Version 15.2 (17612.3.6.1.6)

- Operating system : Mac OS Monterey Version 12.1

*Steps to Reproduce:*

[[https://www.topcoder.com/security/?ref=nav](https://www.topcoder.com/data-science/data-advis

[2022-04-01 17:19] youdare opened #6179 "While filling form , app is not scrolling down the form down"
**Describe the bug**
While filling form , Partial Content is hidden when keyboard is and  user is unable to scroll

**To Reproduce**
1.	Login in to https://www.topcoder.com/data-science/find-me-data/
2.	 ( Do Login With Valid Credentials)
3.	Click “Lets Talk”
4.	App open the Talk to sales
5. Scroll side down and reach bottom of the page
6.	Enter details and try to scroll form
7.	Observe the UI

**

[2022-04-01 17:21] jcampos1981 opened #6180 "[Pc] - Case of Study section in data-science have no title"
**Device** PC

**Operating System**: Windows 10 64 bits

**Browser**: Firefox 98.0.2 (64-bit)

**Steps to reproduce:**
1. go to https://www.topcoder.com/data-science/
2. Scroll down to Case of Study gallery section below Projects & Professional Services

**Actual result**
- Gallery Case of Study have no title like Get Started With Data Science At Topcoder

**Expected results**
- Would be great if