[2020-04-14 05:07] crazyk07 commented on #4213
Contest https://www.topcoder.com/challenges/30122232 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-14 05:08] crazyk07 commented on #4213
Contest https://www.topcoder.com/challenges/30122232 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-14 05:23] SathyaJayabal commented on #4231
Raising the priority as it also prevents new users from verifying their email and completing the registration process
cc @sushilshinde

[2020-04-14 05:27] SathyaJayabal commented on #4237
@Oanh-and-only-Oanh @nithyaasworld , sometimes the profile data does not load on the first attempt. It happens occasionally.

[2020-04-14 05:53] kkartunov commented on #4158
@sandhiyakavi yes it is expected links to direct to dev. They are env based and will direct to prod on prod.

I pushed a fix for the overlap issue. Please, re-test when deployment ready.

[2020-04-14 06:22] sandhiyakavi commented on #4091
Additional Information:

Browser: Chrome Incognito
Browser size: 1280*610
screen size: 1280*720

[2020-04-14 06:33] sushilshinde commented on #4231
Need to solve these four hours.

[2020-04-14 06:35] crazyk07 commented on #4231
Contest https://www.topcoder.com/challenges/30122237 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-14 06:38] crazyk07 commented on #4231
Contest https://www.topcoder.com/challenges/30122237 has been updated - it has been assigned to khushimehta03.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-14 06:41] sushilshinde commented on #4231
@skyhit will co-pilot this issue

[2020-04-14 06:49] skyhit commented on #4174
Fix the privacy policy link, https://www.topcoder.com/community/how-it-works/privacy-policy/ should be replaced by https://www.topcoder.com/privacy-policy/

[2020-04-14 06:50] sandhiyakavi commented on #4158
Restested the issue. Working as expected

![image](https://user-images.githubusercontent.com/55895538/79194497-9c770b00-7e67-11ea-8d38-e7d03e190201.png)

[2020-04-14 06:55] crazyk07 commented on #4174
Contest https://www.topcoder.com/challenges/30122243 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-14 06:56] skyhit commented on #4080
@sushilshinde @Oanh-and-only-Oanh I can view the profile without problem, like

https://www.topcoder.com/members/Computer_Col
https://www.topcoder.com/members/Emp1730

are we need to support url like `https://www.topcoder.com/member/Emp1730`, use `member/` instead of `members`?

[2020-04-14 07:06] SathyaJayabal commented on #4192
Verified on beta(develop branch)
[thrive link.mov 2.zip](https://github.com/topcoder-platform/community-app/files/4473660/thrive.link.mov.2.zip)

[2020-04-14 08:24] SathyaJayabal opened #4242 "Comcast:Settings link from user menu gives an error"
Settings link from user menu gives "document is not defined" error.
<img width="1422" alt="Screenshot 2020-04-14 at 1 51 46 PM" src="https://user-images.githubusercontent.com/58783823/79202401-31253d00-7e57-11ea-937e-61112e27ed98.png">
This issue will be fixed as part of this ticket:
https://github.com/topcoder-platform/community-app/issues/4231

FYI: @kkartunov @Oanh-and-only-Oanh

[2020-04-14 08:31] SathyaJayabal commented on #4206
Verified on beta(develop branch)
@kkartunov , there is one challenge that is displaying a blank page. Maybe it has bad data. All other challenge detail pages are working fine.
https://beta-community-app.topcoder.com/__community__/comcast/work/30122226

[challenge link .mov.zip](https://github.com/topcoder-platform/community-app/files/4474077/challenge.link.mov.zip)

[2020-04-14 09:03] SathyaJayabal commented on #4206
@Oanh-and-only-Oanh , can we close out the below challenge as the challenge details page is not displayed for this one challenge, cc @kkartunov
https://beta-community-app.topcoder.com/__community__/comcast/work/30122226

[2020-04-14 09:05] kkartunov commented on #4236
Done.

[2020-04-14 10:21] sandhiyakavi commented on #4192
Verified in Prod
[nav_link_Thrive.zip](https://github.com/topcoder-platform/community-app/files/4474687/nav_link_Thrive.zip)

[2020-04-14 10:23] #4192 closed

[2020-04-14 10:41] sandhiyakavi commented on #4206
Verified on Prod.

[4206_Prod_test.zip](https://github.com/topcoder-platform/community-app/files/4474758/4206_Prod_test.zip)

[2020-04-14 10:45] PrakashDurlabhji commented on #4083
@skyhit I can clearly see its visible at https://www.topcoder.com/members/arnavvats

can you please check once again and confirm

[2020-04-14 10:46] #4206 closed

[2020-04-14 10:50] skyhit commented on #4083
@PrakashDurlabhji ohh, this is related to our backend data sync problem.

@Oanh-and-only-Oanh @sushilshinde  latestly, we resolve by using DynamoDB, so no code fix needed from community app, how should we do?

[2020-04-14 12:38] skyhit commented on #4231
@khushimehta03 how is this going? we'd like this be done quickly

[2020-04-14 12:50] crazyk07 commented on #4231
Contest https://www.topcoder.com/challenges/30122237 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-14 12:51] PrakashDurlabhji commented on #4231
@skyhit i will submit in one hour. I am actively working

[2020-04-14 12:52] Dara-K opened #4244 "[$60]Member rating color not reflected on profile"
**Describe the bug**
The profile of a member is not showing up the rating color for his handle: https://www.topcoder.com/members/tourist

It should show the best rating a member has from all the different tracks he participates.

This is an old time issue, affecting members for many tracks. Hope we can solve it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/m

[2020-04-14 12:55] crazyk07 commented on #4174
Contest https://www.topcoder.com/challenges/30122243 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-14 13:06] sandhiyakavi opened #4245 "Challenge listings page: Incorrect registrants count in Open for review challenges."
Description:
Incorrect registrants count is displayed for open for review challenges in Challenge listings page.

Steps:

1. Go to 'https://www.topcoder.com/challenges?'
2. Click on open for review in right side menu section.
3. Check the registrants count for a challenge.
4. Click the challenge.
5. Check the registrant count in Challenge details page.

Expected behavior:
Registrants count for the

[2020-04-14 13:30] sandhiyakavi opened #4246 "Device settings: Able to add same device specifications, no warning message shown."
Description:
Able to add the same device specifications in device settings and no warning message is displayed.

Steps:

1. Go to 'https://www.topcoder.com/settings/tools'
2. Add a device with all 4 specifications.
3. Add the same device with 3 specifications.
4. Edit the 3 specification added to same 4 specification added first and save.

Expected behavior:
A warning message should be shown and u

[2020-04-14 13:41] LieutenantRoger commented on #4134
@SathyaJayabal

[2020-04-14 13:45] LieutenantRoger commented on #4082
The code that will change would correlated, so login as public user scenario needs to be tested for the same.

[2020-04-14 13:48] LieutenantRoger commented on #4137
@lakshmiathreya  please close if the ticket is resolved. It's been long time now.

[2020-04-14 14:38] PrakashDurlabhji commented on #4231
@skyhit it is completed raising MR

[2020-04-14 14:40] PrakashDurlabhji commented on #4231
@skyhit it is done in https://github.com/topcoder-platform/community-app/pull/4247

[2020-04-14 15:37] LieutenantRoger commented on #4144
![image](https://user-images.githubusercontent.com/2875203/79243450-36f73e80-7ea8-11ea-8c61-5940d341c057.png)

![image](https://user-images.githubusercontent.com/2875203/79243769-a79e5b00-7ea8-11ea-8c3c-8840a883415c.png)

Hi @jonimazumder  I can't reproduce the blank screen problem.  But I believe the console error has been resolved after the fix.

May I know which Country you are in ?  I'm based

[2020-04-14 16:01] Oanh-and-only-Oanh commented on #4130
@SathyaJayabal, can you check to see if this is still an issue in PROD?

[2020-04-14 16:07] #4134 closed

[2020-04-14 16:30] SathyaJayabal commented on #4130
@Oanh-and-only-Oanh , this issue is fixed on production
<img width="1424" alt="Screenshot 2020-04-14 at 9 59 38 PM" src="https://user-images.githubusercontent.com/58783823/79249702-49b74680-7e9b-11ea-90d7-66bfd9c755f8.png">

[2020-04-14 16:41] SathyaJayabal commented on #4137
@LieutenantRoger ,the stats data is still not visible for top gear users in production. @lakshmiathreya can u verify this please. Clicking on any user from the topgear leaderboard should show the profile page with stats.

[2020-04-14 16:42] SathyaJayabal commented on #4086
@Oanh-and-only-Oanh, this is tracked here
https://github.com/topcoder-platform/community-app/issues/4137

[2020-04-14 16:42] #4086 closed

[2020-04-14 16:42] SathyaJayabal commented on #4086
cc @LieutenantRoger

[2020-04-14 16:51] hokienick commented on #4158
The youtube link should be: https://www.youtube.com/c/TopcoderOfficial

Also can we remove the tooltip over the social icons?
<img width="597" alt="Screen Shot 2020-04-14 at 9 51 09 AM" src="https://user-images.githubusercontent.com/1373998/79251816-8b150b00-7e35-11ea-9db3-3dfb42340b93.png">

[2020-04-14 16:54] SathyaJayabal commented on #4137
@LieutenantRoger the below user must have stats data in topgear but the stats are not showing up
<img width="1440" alt="Screenshot 2020-04-14 at 10 23 24 PM" src="https://user-images.githubusercontent.com/58783823/79252016-97817e00-7e9e-11ea-8e20-38b231a9812c.png">

[2020-04-14 16:58] hokienick commented on #4159
Good to go.

[2020-04-14 16:59] hokienick commented on #3956
Good to go!

[2020-04-14 17:19] kkartunov commented on #4241
@aaabbott error with https://www.topcoder.com/challenges/30122226

[2020-04-14 17:20] kkartunov commented on #4241
cc @Oanh-and-only-Oanh

[2020-04-14 18:58] narekcat commented on #4174
Hello @Oanh-and-only-Oanh , @skyhit , @crazyk07  to fix this issue I need to create PR to https://github.com/appirio-tech/accounts-app, because the pages mentioned in this issue rendered in TC accounts app. Can I create PR to https://github.com/appirio-tech/accounts-app ?

[2020-04-14 20:35] hokienick commented on #4239
Overview can point to this url: https://www.topcoder.com/community/learn

[2020-04-14 22:18] crazyk07 commented on #4213
Contest https://www.topcoder.com/challenges/30122232 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-14 22:49] rashmi73 commented on #4234
@skyhit HELP center alreaady using thrive url so did not replace it, and also I have added two new fields, RATINGS & BONUSES and PAYMENT POLICY in bottom part of challenge.

I hope this is expectation, kindly verify

https://github.com/topcoder-platform/community-app/pull/4250

[2020-04-14 23:38] skyhit commented on #4174
@narekcat yes, please.

[2020-04-15 01:12] narekcat commented on #4174
@skyhit PR for this issue https://github.com/appirio-tech/accounts-app/pull/341.

[2020-04-15 04:32] SathyaJayabal commented on #4082
@LieutenantRoger
1. Challenge pages
Submissions tab - Member handle link is incorrect
2. Past challenges listings page, the public profile opens in the same tab.

3. Leaderboard page: Link is correct, but we are getting a 404 error. This may be because the leaderboard seems to display data from the production and not dev backend. Should work in Beta/Production.

Works fine in other cases.
Video
ht

[2020-04-15 04:34] SathyaJayabal commented on #4082
Would that mean testing everyplace  the member handle appears on the topcoder community site?

[2020-04-15 05:36] Jobee1 opened #4252 "[$45] [Dashboard]- Clicking on the Learn more tab from the SRMS tab displays 404 error page."
Attached video for reference:
[issue2.zip](https://github.com/topcoder-platform/community-app/files/4479271/issue2.zip)

[2020-04-15 05:40] skyhit commented on #4174
@narekcat the change looks fine.

[2020-04-15 05:57] SathyaJayabal commented on #4231
verified on beta

[2020-04-15 05:57] SathyaJayabal commented on #4174
verified on beta

[2020-04-15 06:07] SathyaJayabal commented on #4231
[settings 1.mov.zip](https://github.com/topcoder-platform/community-app/files/4479388/settings.1.mov.zip)

[2020-04-15 06:37] skyhit commented on #4234
@hokienick @sushilshinde  @Oanh-and-only-Oanh  some clarification needed.
1. the change is specific to challenge detail page?
2. should we remove the Help Center link? or we should display them somewhere else in the challenge detail page?

[2020-04-15 07:30] SathyaJayabal commented on #4242
Closing this as its been fixed as part of #4231

[2020-04-15 07:30] #4242 closed

[2020-04-15 07:36] SathyaJayabal commented on #4231
verified on production
[settings 2.mov.zip](https://github.com/topcoder-platform/community-app/files/4479706/settings.2.mov.zip)

[2020-04-15 07:36] #4231 closed

[2020-04-15 07:36] crazyk07 commented on #4231
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122237<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-15 09:23] Dara-K commented on #4144
Can you try accessing the Topcoder in incognito mode too @jonimazumder ?

@LieutenantRoger I know we are solving site problems here, but i was wondering if we can help Joni by maybe working closer to him, 1-1? maybe connecting to his computer and seeing what the issue is would help better? at least to find a work around for him to submit as he's emailing support nowadays for every challenge he wan

[2020-04-15 09:58] kkartunov commented on #4205
@aaabbott this now no longer needed, right? Can we close it?

[2020-04-15 10:00] kkartunov commented on #4184
@SathyaJayabal this is now obsolete. I thin you should close it.

[2020-04-15 10:23] #4184 closed

[2020-04-15 10:26] SathyaJayabal commented on #4178
verified on prod
<img width="1432" alt="Screenshot 2020-04-15 at 3 55 02 PM" src="https://user-images.githubusercontent.com/58783823/79327145-92b9da00-7f31-11ea-8400-ca08e8936ca7.png">
<img width="1429" alt="Screenshot 2020-04-15 at 3 55 24 PM" src="https://user-images.githubusercontent.com/58783823/79327161-977e8e00-7f31-11ea-8a97-da5af3df6213.png">

[2020-04-15 10:26] #4178 closed

[2020-04-15 10:28] SathyaJayabal commented on #4236
verified on prod
<img width="1430" alt="Screenshot 2020-04-15 at 3 58 09 PM" src="https://user-images.githubusercontent.com/58783823/79327383-f8a66180-7f31-11ea-8b2a-09f34bb711f4.png">

[2020-04-15 10:28] #4236 closed

[2020-04-15 10:34] SathyaJayabal commented on #4241
30121969 used instead of 30122226 (as there was an error https://github.com/topcoder-platform/community-app/issues/4241#issuecomment-613571037)

Verified on production
<img width="1432" alt="Screenshot 2020-04-15 at 4 03 57 PM" src="https://user-images.githubusercontent.com/58783823/79327828-bc273580-7f32-11ea-9f46-f4c3580a88b7.png">

[2020-04-15 10:34] #4241 closed

[2020-04-15 12:53] LieutenantRoger commented on #4082
@SathyaJayabal  Correct

[2020-04-15 12:57] LieutenantRoger commented on #4137
@SathyaJayabal  got it.  I just remembered the production data under topgear are still under processing, I  think this is the reason that no data is returned, we can keep the ticket as open now, thanks.

[2020-04-15 13:03] LieutenantRoger commented on #4144
@Dara-K  do other members from design challenges receiving issues like @jonimazumder  ?

If No, then there must be some local setup either computer or network on @jonimazumder 's environment.

[2020-04-15 13:15] LieutenantRoger commented on #4082
Video is not accessible, requested has been sent.  Better to change the setting into viewable via this link.

[2020-04-15 13:30] #4161 closed

[2020-04-15 13:30] crazyk07 commented on #4161
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-15 13:38] harshitmehta123 commented on #4144
Hey @LieutenantRoger I will connect 1:1 with @jonimazumder and find what the issue is to help you better. Will get back here on the issue in 2/3 days :)

[2020-04-15 14:17] Oanh-and-only-Oanh commented on #4083
@skyhit, please work with @RishiRajSahu and @urwithat on this.

[2020-04-15 14:32] Oanh-and-only-Oanh commented on #4080
@m-yadav, the URL root you are using is incorrect.  Use https://www.topcoder.com/member not https://www.topcoder.com/members

Closing this ticket

[2020-04-15 14:32] #4080 closed

[2020-04-15 14:41] LieutenantRoger commented on #4082
@SathyaJayabal
1. Fixed
2. Fixed

The dev is occupied, I have deployed the fix under `test env` for verifying.  Thanks.

[2020-04-15 15:03] skyhit commented on #4239
the changes should be in legacy website (https://github.com/topcoder-platform/tc-website)

[2020-04-15 15:04] crazyk07 commented on #3622
Contest https://www.topcoder.com/challenges/30122325 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-15 15:07] crazyk07 commented on #4239
Contest https://www.topcoder.com/challenges/30122326 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-15 15:32] Oanh-and-only-Oanh commented on #4083
@skyhit this got resolved in the backend.

[2020-04-15 15:36] #4083 closed

[2020-04-15 15:36] crazyk07 commented on #4083
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-15 15:43] crazyk07 commented on #3622
Contest https://www.topcoder.com/challenges/30122325 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-15 15:56] aaabbott commented on #4205
Correct, we can close

On Wed, Apr 15, 2020 at 5:58 AM Kiril Kartunov <notifications@github.com>
wrote:

--

<https://www.topcoder.com/>

Andrew Abbott

Global Sales Director

617-501-7995  | LinkedIn <https://www.linkedin.com/in/aaabbott/>

www.topcoder.com  | @topcoder <http://twitter.com/topcoder>

[2020-04-15 16:03] crazyk07 commented on #4239
Contest https://www.topcoder.com/challenges/30122326 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-15 16:03] sumitdaga commented on #4239
@skyhit  which branch in legacy website https://github.com/topcoder-platform/tc-website ?

thanks

[2020-04-15 17:52] hokienick commented on #4234
@skyhit
1. Yes, this is specific to the challenge details page.  I only explored a development challenge, but there could be other types of challenges with different static content at the bottom.  My ask was just to change the urls to those links as specified.

2. All links to the "Help Center" should be re-linked to: https://www.topcoder.com/thrive/tracks?track=Topcoder&tax=Help%20Articles

As an

[2020-04-15 18:20] SathyaJayabal commented on #4158
verified on test env

[2020-04-15 20:01] Oanh-and-only-Oanh commented on #4234
@skyhit, let me get back to you on the verbiage.

[2020-04-15 21:19] narekcat commented on #3622
I added X button to clear the search. This is the PR for this issue: https://github.com/topcoder-platform/community-app/pull/4255. The CircleCI test's fails, because of automatically generated class names. Is it normal ? How can it be fixed ?

[2020-04-15 22:52] PrakashDurlabhji commented on #4213
@skyhit just some more time

[2020-04-15 23:34] crazyk07 commented on #4244
Contest https://www.topcoder.com/challenges/30122351 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-15 23:43] crazyk07 commented on #4166
Contest https://www.topcoder.com/challenges/30122352 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-15 23:45] skyhit commented on #4234
@rashmi73 please revise your change according to the requirement above.

[2020-04-16 00:05] skyhit commented on #4213
@PrakashDurlabhji no problem, please do as quickly as you can

[2020-04-16 03:38] skyhit commented on #3622
@narekcat the functionality seems working (https://monosnap.com/file/h5WGTTOl4uSF5apMZw1pyzMqZU9Yj6), but the tests failed, please check why.

[2020-04-16 04:16] SathyaJayabal commented on #4158
[footer.mov.zip](https://github.com/topcoder-platform/community-app/files/4484874/footer.mov.zip)

[2020-04-16 04:18] SathyaJayabal opened #4256 "[$60] Challenge Details : Incorrect checkpoint/final submission counts for design contest"
The checkpont and final submissions count in the challenge details page is incorrect.

Please see below example:
https://www.topcoder.com/challenges/30121515?tab=submissions
Checkpoint = 7
Final = 21

But in Direct/Online Review
https://www.topcoder.com/direct/contest/submissions.action?projectId=30121515&formData.viewType=GRID&formData.roundType=FINAL
https://software.topcoder.com/review/actions/

[2020-04-16 04:48] sushilshinde opened #4257 "[$70]MM details not opening for legacy matches"
Steps :
1. Click on this https://www.topcoder.com/challenges/17037
2. It shows blank page after re-load

[2020-04-16 04:51] crazyk07 commented on #4257
Contest https://www.topcoder.com/challenges/30122362 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-16 04:52] crazyk07 commented on #4257
Contest https://www.topcoder.com/challenges/30122362 has been updated - luizrrodrigues has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-16 05:03] SathyaJayabal opened #4258 "Chellenge Details page : Console error"
The following error is displayed on the challenge details page.

![EdgeX Foundry(TM) Ideation Challenge 2020-04-16 09-20-30](https://user-images.githubusercontent.com/58783823/79416623-b3377200-7fcd-11ea-89b0-985e0536e94f.png)

[2020-04-16 05:05] rashmi73 commented on #4234
@skyhit updating in few minutes

[2020-04-16 05:50] sumitdaga commented on #4239
@skyhit https://github.com/topcoder-platform/tc-website/pull/37
i assumed dev branch

[2020-04-16 05:56] crazyk07 commented on #4257
Contest https://www.topcoder.com/challenges/30122362 has been updated - luizrrodrigues has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-16 05:58] crazyk07 commented on #4257
Contest https://www.topcoder.com/challenges/30122362 has been updated - luizrrodrigues has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-16 05:59] crazyk07 commented on #4257
Contest https://www.topcoder.com/challenges/30122362 has been updated - luizrrodrigues has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-16 06:01] crazyk07 commented on #4257
Contest https://www.topcoder.com/challenges/30122362 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-16 06:20] sandhiyakavi opened #4260 "Update nav to reflect thrive links for tracks pages"
Description:

Update nav to reflect thrive links for tracks pages - https://github.com/topcoder-platform/navigation-component/issues/168

[2020-04-16 06:21] sandhiyakavi opened #4261 "Ability to navigate back to THRIVE homepage from an article"
Description:

Ability to navigate back to THRIVE homepage from an article - https://github.com/topcoder-platform/navigation-component/issues/170

[2020-04-16 06:44] SathyaJayabal commented on #4257
@sushilshinde @luizrrodrigues , blank page still showing up.
[legacy mm.mov.zip](https://github.com/topcoder-platform/community-app/files/4485308/legacy.mm.mov.zip)

[2020-04-16 07:14] sandhiyakavi opened #4262 "Marathon match stats: Getting error message when trying to access MM challenges stats."
Description:

Getting error message when trying to access MM challenges stats.

Steps:

1. Go to 'https://www.topcoder.com/members/tourist/details/?track=DATA_SCIENCE&subTrack=MARATHON_MATCH&tab=challenges'

Expected behavior:

User should be able to view the past MM challenges and no error message should be displayed.

Screenshot:

![image](https://user-images.githubusercontent.com/55895538/79426

[2020-04-16 07:30] narekcat commented on #3622
@skyhit Ok, working on it.

[2020-04-16 08:11] Dara-K commented on #4144
Thank you @harshitmehta123!

@jonimazumder Can you write here which are the other members you said are facing same issue please?

[2020-04-16 08:40] narekcat commented on #3622
@skyhit I fixed tests issues.

[2020-04-16 08:52] sushilshinde commented on #4137
@LieutenantRoger need pr for this

[2020-04-16 09:10] SathyaJayabal commented on #4137
marking this as hold until backend data is ready for topgear stats history on prod
cc @LieutenantRoger @Oanh-and-only-Oanh

[2020-04-16 09:46] lakshmiathreya commented on #4144
@SathyaJayabal - is this Issues resolved - in that case pls close it. Else move it to a later milestone? Thx!

[2020-04-16 09:57] Jobee1 commented on #4159
Tested in Beta environment. Working as expected.

Competitive Programming

![Competitive Programming](https://user-images.githubusercontent.com/48575864/79442820-c3187b80-7ff8-11ea-9909-0f4a868a02c0.png)

Data Science

![Data Science](https://user-images.githubusercontent.com/48575864/79442844-cc094d00-7ff8-11ea-9cf1-33a7b9d3304d.png)

Design

![DEsign](https://user-images.githubusercontent.com/48

[2020-04-16 10:00] Jobee1 commented on #4167
Tested in Beta environment, Working as expected.

![Screenshot_1](https://user-images.githubusercontent.com/48575864/79443246-52259380-7ff9-11ea-9285-bc4afb126aed.png)

[2020-04-16 10:01] sandhiyakavi commented on #4261
Verified in beta.Working as expected.

[#4261.zip](https://github.com/topcoder-platform/community-app/files/4486305/4261.zip)

[2020-04-16 10:10] sandhiyakavi commented on #4260
Verified on beta.Working as expected

Before login :
[#4260_before_login.zip](https://github.com/topcoder-platform/community-app/files/4486328/4260_before_login.zip)

After login:

[#4260_after_login.zip](https://github.com/topcoder-platform/community-app/files/4486331/4260_after_login.zip)

[2020-04-16 10:12] Jobee1 commented on #3956
Tested in Beta Environment. Ellipsis consist of 3 dots in Search and Article title.

![Screenshot_3](https://user-images.githubusercontent.com/48575864/79444480-f2c88300-7ffa-11ea-8b66-173b0a2755e3.png)

Featured Articles:
![Screenshot_4](https://user-images.githubusercontent.com/48575864/79444522-fe1bae80-7ffa-11ea-8a66-ea5318ea3446.png)

[2020-04-16 10:47] sandhiyakavi commented on #4158
Verified on beta Env. working as expected.

[#4158.zip](https://github.com/topcoder-platform/community-app/files/4486521/4158.zip)

[2020-04-16 12:16] Jobee1 opened #4263 "After successful submission, "Back to Challenges" and "Submit Again" button is not displayed."
After successful submission of any challenges,  "Back to Challenges" and "Submit Again" button is not displayed. It is being hidden.

Video/Image for reference:
![Screenshot_7](https://user-images.githubusercontent.com/48575864/79455418-8bb3ca00-800c-11ea-8ec7-92414aed9f67.png)

[issue1.zip](https://github.com/topcoder-platform/community-app/files/4486946/issue1.zip)

[2020-04-16 12:25] sandhiyakavi opened #4264 "My Profile page: Forum posts got hidden in the Footer while scrolling down."
Description:
Forum posts got hidden in the Footer while scrolling down in the My Profile page.

Steps:
1. Go to 'https://beta-community-app.topcoder.com/members/SandhiyaA'
2. Scroll down to the page.

Expected behavior:

The user should be able to view the Forum posts link while scrolling to the bottom of the page.

Screenshots:

<img width="945" alt="forumpost" src="https://user-images.githubuser

[2020-04-16 12:54] SathyaJayabal commented on #4257
<img width="1440" alt="Screenshot 2020-04-16 at 6 23 14 PM" src="https://user-images.githubusercontent.com/58783823/79458392-5c528c80-800f-11ea-8ffb-d558bb1ca6ee.png">

[2020-04-16 13:01] skyhit commented on #4239
@sumitdaga feedback provided.

[2020-04-16 13:07] crazyk07 commented on #4244
Contest https://www.topcoder.com/challenges/30122351 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-16 13:54] SathyaJayabal commented on #4257
verified on production
<img width="1440" alt="Screenshot 2020-04-16 at 7 24 01 PM" src="https://user-images.githubusercontent.com/58783823/79464575-db4bc300-8017-11ea-9482-0eb0591ff5cf.png">

[2020-04-16 13:54] crazyk07 commented on #4257
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-16 13:58] SathyaJayabal commented on #4159
verified on prod
<img width="1440" alt="Screenshot 2020-04-16 at 7 27 03 PM" src="https://user-images.githubusercontent.com/58783823/79464886-49908580-8018-11ea-9685-22e09411a0b7.png">

[2020-04-16 13:58] #4159 closed

[2020-04-16 13:58] SathyaJayabal commented on #4167
verified on prod
<img width="1440" alt="Screenshot 2020-04-16 at 7 28 15 PM" src="https://user-images.githubusercontent.com/58783823/79465030-747ad980-8018-11ea-9a88-5e14235d4f55.png">

[2020-04-16 13:58] #4167 closed

[2020-04-16 14:04] SathyaJayabal commented on #3956
verified on production
<img width="1440" alt="Screenshot 2020-04-16 at 7 30 21 PM" src="https://user-images.githubusercontent.com/58783823/79465486-05ea4b80-8019-11ea-844e-1a453db9c0ca.png">
<img width="1414" alt="Screenshot 2020-04-16 at 7 32 04 PM" src="https://user-images.githubusercontent.com/58783823/79465561-1e5a6600-8019-11ea-97e1-41d96f9a2c2a.png">

[2020-04-16 14:04] #3956 closed

[2020-04-16 14:14] SathyaJayabal commented on #4260
verified on prod

after login
[tracks nav_AL.mov.zip](https://github.com/topcoder-platform/community-app/files/4487596/tracks.nav_AL.mov.zip)

[2020-04-16 14:14] SathyaJayabal commented on #4260
verified on prod

after login
[tracks nav_AL.mov.zip](https://github.com/topcoder-platform/community-app/files/4487596/tracks.nav_AL.mov.zip)

[2020-04-16 14:14] SathyaJayabal commented on #4261
verified on prod

[2020-04-16 14:19] SathyaJayabal commented on #4260
before login
[tracks nav.mov.zip](https://github.com/topcoder-platform/community-app/files/4487658/tracks.nav.mov.zip)

[2020-04-16 14:19] #4260 closed

[2020-04-16 14:21] SathyaJayabal commented on #4158
verified on prod
<img width="1440" alt="Screenshot 2020-04-16 at 7 48 57 PM" src="https://user-images.githubusercontent.com/58783823/79467622-96299000-801b-11ea-907f-321a0b7682c5.png">

[2020-04-16 14:21] #4158 closed

[2020-04-16 14:21] SathyaJayabal commented on #4261
[thrive nav.mov.zip](https://github.com/topcoder-platform/community-app/files/4487660/thrive.nav.mov.zip)

[2020-04-16 14:22] #4205 closed

[2020-04-16 14:27] kkartunov commented on #4198
@SathyaJayabal font is as per design see:
![Screenshot from 2020-04-16 17-26-28](https://user-images.githubusercontent.com/5585002/79468401-8e5ff080-8007-11ea-873f-53825a945fd5.png)

I think you can close this one.

[2020-04-16 14:30] kkartunov commented on #4181
@SathyaJayabal this is fixed. Please check.

[2020-04-16 14:34] #4257 closed

[2020-04-16 14:35] crazyk07 commented on #4257
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122362<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-16 14:35] #4198 closed

[2020-04-16 14:36] #4181 closed

[2020-04-16 14:38] sushilshinde commented on #4257
Thanks @luizrrodrigues

[2020-04-16 14:40] sumitdaga commented on #4239
@skyhit please check my response on the PR!

[2020-04-16 14:53] kkartunov commented on #4264
@sandhiyakavi NO. This is not expected behavior. As you know we hide it because of this https://github.com/topcoder-platform/community-app/issues/4158

[2020-04-16 14:53] #4264 closed

[2020-04-16 14:54] kkartunov commented on #4263
@SathyaJayabal why do you assign tickets to me?

[2020-04-16 15:44] narekcat commented on #4244
There is back end issue, when getting member info it always returns `null` for the best rating. Need I fix this issue ?

[2020-04-16 17:02] narekcat commented on #4244
@skyhit @Oanh-and-only-Oanh @Dara-K I fixed issue, see pull request https://github.com/topcoder-platform/community-app/pull/4267

[2020-04-16 17:03] crazyk07 commented on #4166
Contest https://www.topcoder.com/challenges/30122352 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-16 18:02] narekcat commented on #4166
Hi. Please give me Forums legacy app repository.

[2020-04-16 18:53] narekcat commented on #4166
I searched in Topcoder Platform and found out this repository: https://github.com/topcoder-platform/tc-website-master, where the issue is located. Also there are many privacy policy old urls, I changed only in footer. Need I to change it in all fiels ? This is PR https://github.com/topcoder-platform/tc-website-master/pull/1.

[2020-04-16 20:11] Dara-K opened #4268 "[$30] Challenge details arrow icons not displaying well"
**Describe the bug**
The arrow icons on the challenge details page, for registrants tab are not displaying well anymore

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/challenges/30122200?tab=registrants
2. Check the headers of the table Username, Registration date, etc. there is some strange sign there, instead of the old arrows

**Expected behavior**
Expect t

[2020-04-16 21:22] rashmi73 commented on #4234
@skyhit new PR https://github.com/topcoder-platform/community-app/pull/4269

[2020-04-17 04:23] sandhiyakavi commented on #3622
If the text content is more, the 'x' button is overlapping with the text.

<img width="960" alt="x button" src="https://user-images.githubusercontent.com/55895538/79531798-52cc3180-80ae-11ea-8c11-226937aa4627.PNG">

cc: @crazyk07

[2020-04-17 05:16] skyhit commented on #4244
![image](https://user-images.githubusercontent.com/58106/79534574-88bce600-80ad-11ea-8f54-30c4c323c81e.png)
verified locally

[2020-04-17 05:18] SathyaJayabal commented on #4082
@LieutenantRoger ,
The challenge details page winners tab is displaying a JS error "window not defined" when accessed directly(both in topgear and in topcoder site). This issue is not present in production.

<img width="1438" alt="Screenshot 2020-04-17 at 10 47 43 AM" src="https://user-images.githubusercontent.com/58783823/79534694-e4c93f80-8098-11ea-89ef-38c66b4f17e1.png">

[2020-04-17 05:26] SathyaJayabal commented on #4082
@LieutenantRoger @sushilshinde another issue we see is the way the links behave based on the url format. Clicking on the member handle opens a new tab for the second url. So like @LieutenantRoger said the fix does not work with the second url format.
https://www.topcoder-dev.com/challenges/30056507?tab=registrants
https://community-app.topcoder-dev.com/challenges/30056507?tab=registrants

Is this

[2020-04-17 05:34] skyhit commented on #4213
@PrakashDurlabhji how is it going?

[2020-04-17 05:39] skyhit commented on #4166
@sushilshinde @Oanh-and-only-Oanh the code change looks fine, we should try to deploy and verify, how can I do?

[2020-04-17 05:52] skyhit commented on #4244
![image](https://user-images.githubusercontent.com/58106/79536383-81e4a200-80b2-11ea-9400-f14b1308e62f.png)

[2020-04-17 06:00] skyhit commented on #3622
@narekcat check above, some fix needed.

[2020-04-17 06:06] skyhit commented on #4234
@rashmi73 test failed, please fix.

[2020-04-17 06:33] SathyaJayabal commented on #4244
Verified on test env. The handle colour reflects the member's best rating
<img width="1440" alt="Screenshot 2020-04-17 at 12 01 04 PM" src="https://user-images.githubusercontent.com/58783823/79539034-28c14200-80a3-11ea-8ef5-33c90e6934fc.png">

[2020-04-17 06:53] SathyaJayabal commented on #4082
Topgear pages
-> Challenge Details: Registrants, Submission and Winners- Opens in new tab - Pass
-> Profile->Stats history: all the link opens in new tab - Pass
-> Leaderboard: Opens in same tab but displays 404 https error - Will this work on production @LieutenantRoger ?

Topcoder pages
All pages opens in the same tab except for
-> Profile->Stats history: Opens in new tab (same as existing behav

[2020-04-17 07:02] narekcat commented on #3622
@skyhit Ok.

[2020-04-17 07:39] rashmi73 commented on #4234
@skyhit PR updated and tests passing kindly review #4269

[2020-04-17 08:22] narekcat commented on #3622
@skyhit I have fixed a bug due to which the 'x' button overlapped with the text. Please see PR https://github.com/topcoder-platform/community-app/pull/4270

[2020-04-17 11:35] LieutenantRoger commented on #4082
1. The leaderboard member-handle under topgear domain will open up in a new tab. Please see the code when I check this page: https://monosnap.com/file/TeD7luiCkCXnWMhYOIyBEJXenKCMZb.

I don't have access to production data, presumably the 404 error will disappear on production as 404 indicates the member even doesn't have a profile in backend.

2. Hmm, according the new navigation rule, it should

[2020-04-17 12:56] SathyaJayabal commented on #4263
Issue is not solved. Please see screenshot
<img width="1440" alt="Screenshot 2020-04-17 at 6 25 52 PM" src="https://user-images.githubusercontent.com/58783823/79571529-f3cfe200-80d8-11ea-875b-fb0966e4e940.png">

[2020-04-17 13:00] SathyaJayabal commented on #4061
Verified on test env
<img width="1440" alt="Screenshot 2020-04-17 at 6 29 12 PM" src="https://user-images.githubusercontent.com/58783823/79571796-6ccf3980-80d9-11ea-87a5-b5df8ee9d49d.png">

[2020-04-17 13:10] SathyaJayabal commented on #4082
https://github.com/topcoder-platform/community-app/issues/4082#issuecomment-615047842
-fixed
[winners tab.mov.zip](https://github.com/topcoder-platform/community-app/files/4493075/winners.tab.mov.zip)

[2020-04-17 14:14] SathyaJayabal commented on #4263
not resolved yet
<img width="1440" alt="Screenshot 2020-04-17 at 7 42 59 PM" src="https://user-images.githubusercontent.com/58783823/79578319-b45ac300-80e3-11ea-810a-c048ec72a7a2.png">

[2020-04-17 15:01] Oanh-and-only-Oanh opened #4272 "Zurich videos added to portal"
Added training videos to Zurich portal
See below
![image](https://user-images.githubusercontent.com/47536078/79583280-c1df6100-8081-11ea-83d6-23c9d02cb3c3.png)

6 training videos will be added to the "How it Works" page here https://zurich.topcoder.com/learn

The videos should be in 2 rows of 3 videos in the following order:
![image](https://user-images.githubusercontent.com/47536078/79583681-3e72

[2020-04-17 15:09] sushilshinde opened #4273 "[$50]Github action : Create a github action workflow for PR lint fail notification"
If the PR from the org or member's org fails `npm run test`,

then add a comment to the PR automatically pointing to the lint failure.

@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors

PR to https://github.com/topcoder-platform/community-app/tree/workflow-improvement

[2020-04-17 15:11] Oanh-and-only-Oanh commented on #4272
@kkartunov, I'm unable to added the movie files here so will send them to you directly via slack.

[2020-04-17 15:13] crazyk07 commented on #4273
Contest https://www.topcoder.com/challenges/30122471 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-17 16:24] crazyk07 commented on #4273
Contest https://www.topcoder.com/challenges/30122471 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-18 01:44] Oanh-and-only-Oanh commented on #3622
@skyhit, verified in test environment.

[2020-04-18 05:36] skyhit commented on #4234
@rashmi73 some test failed, after I merged your changes to branch, please help fix it - https://circleci.com/gh/topcoder-platform/community-app/8398

[2020-04-18 07:46] rashmi73 commented on #4234
@skyhit checking

[2020-04-18 10:05] rashmi73 commented on #4273
@sushilshinde issue is investigated and came to know that

1.adding label on PR made from fork will not work as it is not supported due to security reasons. here is link https://github.com/actions/labeler

can you please suggest what to do? only to add comments in PR then

[2020-04-18 13:40] LieutenantRoger commented on #4082
Thanks @SathyaJayabal

I have merged the `develop` branch code into this feature-branch for this ticket and deployed the code onto `dev env`, please test it on Monday.

Thanks

[2020-04-18 13:41] sushilshinde commented on #4273
Can you just PR for "comment" without the "label action"?

[2020-04-19 02:55] skyhit commented on #4213
@PrakashDurlabhji I will assign you, since no update for days.

[2020-04-19 04:02] crazyk07 commented on #4213
Contest https://www.topcoder.com/challenges/30122232 has been updated - it has been assigned to cagdas001.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-19 22:30] rashmi73 commented on #4273
@sushilshinde yes working

[2020-04-20 02:47] skyhit commented on #4213
@cagdas001 any feedback for this issue?

[2020-04-20 02:52] skyhit commented on #4234
@rashmi73 any update?

[2020-04-20 04:02] harshitmehta123 opened #4275 "Profile Picture not visible on Public Profile"
**Describe the bug**
Many members reported they don't have their profile photos visible anymore on their profiles. example - tourist, birdofpreyru, Egor and many more!

**To Reproduce**
Steps to reproduce the behaviour:
1. Open any member's public profile - https://www.topcoder.com/members/tourist/
2. See no profile photo

**Expected behavior**
Their images are visible on forums and other parts of

[2020-04-20 04:29] sandhiyakavi commented on #4082
@LieutenantRoger  If we click the member handle from the member search results, it is directing to the member profile from the legacy page.

Attached video for the same.

![image](https://user-images.githubusercontent.com/55895538/79713983-6378e380-830a-11ea-9799-883c08f724ef.png)

[member_search_legacypage.zip](https://github.com/topcoder-platform/community-app/files/4501236/member_search_legacyp

[2020-04-20 04:39] rashmi73 commented on #4234
@skyhit ohh sorry  typed comment but forgot to press comment button, my comment was that it is not related to my change mostly, as my PR was perfect which had passed linting. but source branch itself had issues which got error after merging.

[2020-04-20 05:09] skyhit commented on #4234
@rashmi73 I am not sure for this.

1. the dev branch is working.
2. when I merge dev branch into the feature branch, and made some changes, like https://github.com/topcoder-platform/community-app/pull/4269/files#diff-8cd0679d241d761456dfd1d4fc1ace66R146, to strip out the domain,

https://github.com/topcoder-platform/community-app/compare/develop...hot-fix-content-at-bottom-of-challenge-details#dif

[2020-04-20 05:24] rashmi73 commented on #4234
@skyhit yes found it what is the issue going to above link pasted by you.

1. just visit above link.
2. check this file  __tests__/shared/components/__snapshots__/TopcoderFooter.jsx.snap
3. in which new code is added.
4. whereas my PR did not have that code.
5. it is added by someone else.
6. if we remove that green additional block then all will be fine

[2020-04-20 05:27] skyhit commented on #4234
@rashmi73 is probably diff problem, because you can see it here - https://github.com/topcoder-platform/community-app/blob/hot-fix-content-at-bottom-of-challenge-details/__tests__/shared/components/__snapshots__/TopcoderFooter.jsx.snap#L8-L54

[2020-04-20 05:49] skyhit commented on #4234
@rashmi73 I think I fixed it:)

[2020-04-20 05:51] rashmi73 commented on #4234
@skyhit yes that code was newly added, and even circleci said remove that to fix it

[2020-04-20 06:11] cagdas001 commented on #4213
@skyhit I was having some issues at `npm install` step so released it. I might take it again soon if remains open.

[2020-04-20 06:41] sandhiyakavi commented on #4082
Other than the above issue, everything is good

Topgear page:
1. Challenge Details: Registrants, Submission and Winners- Opens in new tab - Pass
2. Profile->Stats history: all the link opens in new tab - Pass
3. Leaderboard: Opens in new tab but displays 404 HTTP error (need to test in Prod)

Topcoder page:
1. Challenge Details: Registrants, Submission and Winners- Opens in same tab - Pass
2. Prof

[2020-04-20 06:49] sandhiyakavi commented on #4234
verified in Test Environment.Working as expected.

[payment_policies.zip](https://github.com/topcoder-platform/community-app/files/4501640/payment_policies.zip)

[reliability_bonus.zip](https://github.com/topcoder-platform/community-app/files/4501644/reliability_bonus.zip)

[2020-04-20 07:03] crazyk07 commented on #4213
Contest https://www.topcoder.com/challenges/30122232 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-20 08:15] sandhiyakavi commented on #4263
Verified in Test Environment.Able to view the Back to challenge and submit again button.

![image](https://user-images.githubusercontent.com/55895538/79729346-4e13b180-832a-11ea-8214-99d26238c1af.png)

[2020-04-20 10:10] harshitmehta123 opened #4277 "Marathon Match Leaderboard Enhancement"
**Is your feature request related to a problem? Please describe.**
It would be nice to replace the debug submission scores with something more meaningful. First, when you submit you get a 100 (from virus scan), this should be like "S" for submitted. Then during testing, you get 1 (the result of example review), this should be "T" for testing. If the submission failed you get -1, which should be "F

[2020-04-20 10:37] sandhiyakavi commented on #4052
Verified in Test Environment.Working as expected.

<img width="950" alt="articles_parsed_HTML" src="https://user-images.githubusercontent.com/55895538/79742755-44944480-833e-11ea-8618-c1bf0f4e4e27.PNG">

<img width="952" alt="track_search_page" src="https://user-images.githubusercontent.com/55895538/79742783-5544ba80-833e-11ea-96e4-b873518957fd.PNG">

[2020-04-20 10:41] sushilshinde commented on #4273
@rashmi73 please don't assign ticket if you can't PR even after 3 days. Somebody else can work during that period.

Please don't waste time in follow up.

[2020-04-20 10:49] rashmi73 commented on #4273
@sushilshinde i am able to push comment on PR, but unable to push it on status of npm run test, so reading docs and trying possible solution.sorry for the delay. I will open it up, someone can do it more faster as it taking more time to me

[2020-04-20 11:13] sandhiyakavi opened #4278 "Challenge Listing page: Search challenges textbox is not displayed in Mobile view"
Description:
Search challenges textbox of challenge listings page is not displayed in Mobile view.

Steps to reproduce:

1. Go to 'https://www.topcoder.com/challenges' in any mobile phone.
2. Check if search challenges textbox is displayed.

Expected behavior:
User should be able to view the search challenges textbox.

Screenshot:

<img width="506" alt="search_challenge_textbox" src="https://user-

[2020-04-20 11:36] sandhiyakavi opened #4279 "[$60] Subcommunities : Past Challenges are not displayed if directly accessed through url."
Description:
Past challenges are not displayed if accessed directly through url in Blockchain and Cognitive community.
url : https://blockchain.topcoder.com/challenges?communityId=blockchain&bucket=past
https://cognitive.topcoder.com/challenges?communityId=cognitive&bucket=past

Steps to Reproduce:

1. Go to 'https://blockchain.topcoder.com/challenges?communityId=blockchain&bucket=past'
2. Check i

[2020-04-20 14:37] Oanh-and-only-Oanh commented on #4166
@skyhit, we need to put this one on hold and take off TCX since the issues is on a a legacy app we're looking to deprecate in the near future anyways.

[2020-04-20 14:37] crazyk07 commented on #4166
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122352<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-20 14:38] saksham189 opened #4280 "No Email Preferences visible"
**Describe the bug**
I want to get email notifications for SRM. However when I go to settings -> Preferences -> email preferences
there are no settings or options available and the screen is blank.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to topcoder
2. Click on the arrow beside your username (in top right corner) and select settings.
3. Select Preferences and Email Preferences

[2020-04-20 15:19] LieutenantRoger commented on #4082
@SathyaJayabal   It's environment issue, because the search page on dev environment is routing to legacy app, but the search in production page is still inside community-app.

We are not using legacy search page in production, so we don't need to fix the legacy page.  I guess @sushilshinde  will have to update the search route on the dev environment to be served inside community-app as well.

Here

[2020-04-20 15:23] #4166 closed

[2020-04-20 23:55] skyhit commented on #4166
@Oanh-and-only-Oanh the PR for tc-website is not merged and deployed.

[2020-04-21 03:40] sushilshinde commented on #4263
@kkartunov can you PR to develop branch, please

[2020-04-21 03:42] sushilshinde commented on #4244
@skyhit please attach PR

[2020-04-21 03:44] Oanh-and-only-Oanh commented on #4263
placing on hold because "A certain user is not able to submit, but we are not able to reproduce the problem. Harshit has offered to work with the user one on one and try to find out more. No one else has the issue. But that user has been mailing support for everytime they submit."

[2020-04-21 03:44] Oanh-and-only-Oanh commented on #4144
placing on hold because "A certain user is not able to submit, but we are not able to reproduce the problem. Harshit has offered to work with the user one on one and try to find out more. No one else has the issue. But that user has been mailing support for everytime they submit."

[2020-04-21 03:56] #2436 closed

[2020-04-21 03:57] SathyaJayabal commented on #4082
@LieutenantRoger marking this as pass as per previous comment

[2020-04-21 04:03] SathyaJayabal commented on #4144
https://github.com/topcoder-platform/community-app/issues/4144#issuecomment-614046150

[2020-04-21 04:10] sushilshinde commented on #4273
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors

[2020-04-21 04:43] crazyk07 commented on #3622
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-21 04:52] sushilshinde opened #4281 "[$100]Compile the list of the API that community-app uses"

[2020-04-21 04:57] crazyk07 commented on #4281
Contest https://www.topcoder.com/challenges/30122669 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-21 04:57] crazyk07 commented on #4281
Contest https://www.topcoder.com/challenges/30122669 has been updated - it has been assigned to FireIce.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-21 05:03] crazyk07 commented on #4244
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122351<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-21 05:12] sandhiyakavi commented on #4174
verified in Dev environment.Working as expected.

Attached video for the same.
[privacy_policy_link.zip](https://github.com/topcoder-platform/community-app/files/4507756/privacy_policy_link.zip)

[2020-04-21 05:18] sushilshinde commented on #4082
@LieutenantRoger please raise PR to develop

[2020-04-21 05:25] sushilshinde commented on #4281
Thanks @skyhit

https://docs.google.com/spreadsheets/u/2/d/1QbP-NpWd7mU-JuKoH3mwaoLMfFC0ZwpzyxpAyl06on0/edit#gid=0

[2020-04-21 05:25] #4281 closed

[2020-04-21 05:26] crazyk07 commented on #4281
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122669<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-21 05:32] kkartunov commented on #4091
@SathyaJayabal @Oanh-and-only-Oanh unable to reproduce this one. It is all working for us. Suggesting to move that to the backlog.

[2020-04-21 05:36] SathyaJayabal commented on #4091
@kkartunov, I had observed one thing regarding this issue. When I do a hard tap on the trackpad it does not work, but a soft tap works.

[2020-04-21 06:37] sandhiyakavi commented on #4244
Verified in Beta env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/79833210-ee7adc00-83e5-11ea-80d8-22701777642f.png)

![image](https://user-images.githubusercontent.com/55895538/79833248-fe92bb80-83e5-11ea-92bc-7a340bd7964a.png)

[2020-04-21 06:48] sandhiyakavi commented on #4234
Tested in Beta Env. working as expected.

[payment_policy.zip](https://github.com/topcoder-platform/community-app/files/4508177/payment_policy.zip)
[reliability_bonus.zip](https://github.com/topcoder-platform/community-app/files/4508179/reliability_bonus.zip)

[2020-04-21 06:57] sandhiyakavi commented on #4061
Verified on beta Env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/79834928-d0fb4180-83e8-11ea-8daa-7c301342e120.png)

[2020-04-21 07:04] kkartunov commented on #4272
@Oanh-and-only-Oanh https://community-app.topcoder.com/examples/contentful/viewport/5wvD0VxpYWqwSAYQMy4qco?space=zurich

[2020-04-21 07:15] sandhiyakavi commented on #4052
Verified in Beta. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/79836378-086aed80-83eb-11ea-82ea-b9ba85666d64.png)

![image](https://user-images.githubusercontent.com/55895538/79836555-40723080-83eb-11ea-80ce-c30dd4c52969.png)

[2020-04-21 07:28] sandhiyakavi commented on #3622
Tested in Beta Env.Working as expected.

[search_textbox_clear_button.zip](https://github.com/topcoder-platform/community-app/files/4508331/search_textbox_clear_button.zip)

[2020-04-21 08:17] SathyaJayabal opened #4283 "Add link Changlog to footer in About Section"
Changelog - https://www.topcoder.com/community/changelog

[2020-04-21 08:25] sandhiyakavi commented on #4283
verified in Beta Env.Working as expected.

<img width="938" alt="footer" src="https://user-images.githubusercontent.com/55895538/79843259-ff7f1980-83f4-11ea-82bc-777dc912cdee.PNG">

![image](https://user-images.githubusercontent.com/55895538/79843272-0574fa80-83f5-11ea-89b3-dd84af4b46ce.png)

[2020-04-21 08:33] sandhiyakavi commented on #4263
verified in Beta Env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/79831019-92ae5400-83e1-11ea-82d3-3ce4653d79cb.png)

[2020-04-21 11:30] rashmi73 commented on #4213
@skyhit mostly it is issue from backend submission api.

possible solutions are :

1. we are using v3 api, whereas submission api instance also uses v5 api, hence switching to v5 api may help.
2. or submission api delete method has some issue which needs to be solved then.

currently I am unable to upload or delete a file in my local instance, may be dev FILESTACK keys are required.

1. i am doing

[2020-04-21 12:09] Jobee1 commented on #4283
Tested and verified in Production.
![Screenshot_8](https://user-images.githubusercontent.com/48575864/79864369-14f64280-83f9-11ea-96ef-f41b37327dcd.png)

![Screenshot_9](https://user-images.githubusercontent.com/48575864/79864380-1a538d00-83f9-11ea-853d-165a0b894dd3.png)

[2020-04-21 12:17] jonimazumder commented on #4144
@Dara-K  in one of the challenge forums egislr also mentioned the same issue

[2020-04-21 12:20] Jobee1 commented on #4263
Tested and verified in Production.
![Screenshot_10](https://user-images.githubusercontent.com/48575864/79865270-a0bc9e80-83fa-11ea-95a7-929c794f8da9.png)

[2020-04-21 12:29] #4283 closed

[2020-04-21 12:29] #4263 closed

[2020-04-21 12:30] Jobee1 commented on #4244
Tested and verified in Production environment.
![Screenshot_11](https://user-images.githubusercontent.com/48575864/79866141-09584b00-83fc-11ea-8bcd-af4acf8cd3ad.png)

![Screenshot_12](https://user-images.githubusercontent.com/48575864/79866148-0c533b80-83fc-11ea-9857-001dcb509448.png)

[2020-04-21 12:33] #4244 closed

[2020-04-21 12:47] Jobee1 commented on #4234
Tested and verified in Production Environment.

[payment_policy.zip](https://github.com/topcoder-platform/community-app/files/4510034/payment_policy.zip)
[realibility_bonus.zip](https://github.com/topcoder-platform/community-app/files/4510035/realibility_bonus.zip)

[2020-04-21 12:49] #4234 closed

[2020-04-21 12:50] crazyk07 commented on #4234
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122231<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-21 12:56] Jobee1 commented on #4061
Tested and verified in Production environment.
![Screenshot_14](https://user-images.githubusercontent.com/48575864/79868464-a8cb0d00-83ff-11ea-8c67-c41fbfef9641.png)

[2020-04-21 12:58] #4061 closed

[2020-04-21 13:03] Jobee1 commented on #4052
Tested and verified in production environment.
![Screenshot_15](https://user-images.githubusercontent.com/48575864/79868986-740b8580-8400-11ea-9d08-58d7e971edc2.png)

![Screenshot_16](https://user-images.githubusercontent.com/48575864/79868999-779f0c80-8400-11ea-9a59-8ce4fbdcccb5.png)

[2020-04-21 13:04] #4052 closed

[2020-04-21 13:12] Jobee1 commented on #3622
Tested and verified in Production environment.

[X_button_in_search.zip](https://github.com/topcoder-platform/community-app/files/4510170/X_button_in_search.zip)

[2020-04-21 13:13] crazyk07 commented on #3622
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-21 13:19] #3622 closed

[2020-04-21 13:20] crazyk07 commented on #3622
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122325<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-21 13:32] skyhit commented on #4213
@sushilshinde @Oanh-and-only-Oanh can you help with this?

[2020-04-21 18:03] hokienick commented on #4091
@SathyaJayabal Yes, I can replicate what you mean here.  What a strange bug!

[2020-04-21 20:17] hokienick opened #4286 "Fix content on the bottom of challenge details"
Related to #4234

Update the payments paragraph to say

Topcoder will compensate members in accordance with our standard payment policies, unless otherwise specified in this challenge. For information on payment policies, setting up your profile to receive payments, and general payment questions, please refer to [Payment Policies and Instructions](https://www.topcoder.com/thrive/articles/Payment%2

[2020-04-22 04:18] SathyaJayabal commented on #4280
@saksham189 This section will be added shortly
https://github.com/topcoder-platform/community-app/issues/4165

[2020-04-22 04:18] #4280 closed

[2020-04-22 04:19] SathyaJayabal commented on #4280
FYI: https://github.com/topcoder-platform/community-app/issues/3641

[2020-04-22 06:52] SathyaJayabal commented on #4222
@lakshmiathreya , even older submissions added 10 days back are not showing up.

[2020-04-22 07:06] Dara-K commented on #4244
@SathyaJayabal Can we please have the handle color of the member to be red, as the rating color, not dark pink for now?

[2020-04-22 07:07] Dara-K commented on #4144
Thanks @jonimazumder !

@SathyaJayabal  I am attaching the screenshot Joni shared with me by email
![image](https://user-images.githubusercontent.com/25185079/79951297-19663e00-8481-11ea-837d-0935347694d2.png)

[2020-04-22 07:23] sandhiyakavi commented on #4174
Verified in Production Environment.Working as expected.

[registration_privacypolicy.zip](https://github.com/topcoder-platform/community-app/files/4514418/registration_privacypolicy.zip)
[Login_privacypolicy.zip](https://github.com/topcoder-platform/community-app/files/4514419/Login_privacypolicy.zip)

[2020-04-22 08:00] SathyaJayabal opened #4287 "Topcoder Home page redirects to splash page when accessed for the first time"
Topcoder Home page redirects to splash page when accessed for the first time.
This could be a redirection after login/ logout, or clicking on the topcoder logo from the header or directly accessing the homepage from the url.
[splash.mov.zip](https://github.com/topcoder-platform/community-app/files/4514549/splash.mov.zip)
[splash2.mov.zip](https://github.com/topcoder-platform/community-app/files/45

[2020-04-22 08:12] drasticdpk opened #4288 "howing +1 submission no. For Bug Hunt Challenge"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Challenge listing page 'https://www.topcoder.com/challenges'
2. Select the challenge with tag **Bug Hunt** eg 'https://www.topcoder.com/challenges/30108180?tab=submissions'
3. Observe the total submission no. label and submitter rows on table section.
4. Always shoin

[2020-04-22 08:41] SathyaJayabal commented on #4288
https://github.com/topcoder-platform/community-app/issues/4209

[2020-04-22 08:41] SathyaJayabal commented on #4209
closing this as its tracked here
https://github.com/topcoder-platform/community-app/issues/4288

[2020-04-22 08:41] #4209 closed

[2020-04-22 08:55] SathyaJayabal opened #4289 "Member Profile : member handle colour does not match the exact rating colour"
Member Profile : member handle colour does not match the exact rating colour

examples:
<img width="1433" alt="Screenshot 2020-04-22 at 2 22 37 PM" src="https://user-images.githubusercontent.com/58783823/79961925-ff3e5700-84a4-11ea-9a40-3ac1abde22cc.png">
<img width="1391" alt="Screenshot 2020-04-22 at 2 23 20 PM" src="https://user-images.githubusercontent.com/58783823/79961937-02394780-84a5-11ea-

[2020-04-22 09:05] SathyaJayabal commented on #4082
Verified on dev env(develop branch)
Topgear pages:
Challenge Details: Registrants, Submission and Winners- Opens in new tab - Pass
Profile->Stats history: all the link opens in new tab - Pass
Leaderboard: Opens in new tab-verified this one on beta.
[topgear leaderboard.mov.zip](https://github.com/topcoder-platform/community-app/files/4514986/topgear.leaderboard.mov.zip)

Topcoder pages:
Challenge

[2020-04-22 13:41] Jobee1 opened #4291 "[$45]Clicking on the "Develop Marathon Match" from the profile displays 404 HTTP error."
When the user clicks on the "Develop Marathon Match" from the user profile, 404 HTTP error message is displayed.

Attached screenshot/video for reference:
![Screenshot_21](https://user-images.githubusercontent.com/48575864/79988952-fe221f80-84ce-11ea-86d2-7d11f04975b3.png)

[404_error.zip](https://github.com/topcoder-platform/community-app/files/4516418/404_error.zip)

[2020-04-22 13:47] SathyaJayabal opened #4293 "[$30]Profile Page: Development Activity has some incorrect sections"
Profile Page: Development Activity has some incorrect sections
Example
<img width="1435" alt="Screenshot 2020-04-22 at 7 15 49 PM" src="https://user-images.githubusercontent.com/58783823/79989769-df6f5900-84cd-11ea-80a8-cd33fa79889e.png">

[2020-04-22 15:12] Oanh-and-only-Oanh commented on #4213
@skyhit let me get back to you on this

[2020-04-22 17:14] Oanh-and-only-Oanh opened #4294 "[$40] UI bug with dates window on profile settings page"
Bug description:
1) go to https://www.topcoder.com/settings/profile/#work
2) When trying to pick the dates of my job, the date-choice window is falling below and behind the bottom of the page in my Chrome, and does not allow to make the choice

Expected behavior:
1) go to https://www.topcoder.com/settings/profile/#work
2) When trying to pick the dates of my job, the date-choice window should be fu

[2020-04-24 05:46] harshitmehta123 commented on #4244
Yeah similar is the issue with green see the screenshots below
<img width="1055" alt="Screen Shot 2020-04-24 at 13 41 58" src="https://user-images.githubusercontent.com/6296738/80178920-edd68580-8631-11ea-94ac-b38ca09d5e1f.png">

lazy_fox = #12C188
996 = rgb(45, 126, 45)

<img width="1242" alt="Screen Shot 2020-04-24 at 13 39 24" src="https://user-images.githubusercontent.com/6296738/80178912-e9aa

[2020-04-24 06:57] kkartunov commented on #4272
@Oanh-and-only-Oanh this is done. Want to close?

[2020-04-24 09:39] SathyaJayabal commented on #4244
@harshitmehta123 @Dara-K @Oanh-and-only-Oanh
we have a new issue to track this
https://github.com/topcoder-platform/community-app/issues/4289

[2020-04-24 11:24] sandhiyakavi commented on #4082
@LieutenantRoger @Oanh-and-only-Oanh  Need clarification for the below.

In the tco20 pages,
Leaderboard page: https://tco20.topcoder.com/competition-overview/qa/leaderboard
Regional Leaderboard page: https://tco20.topcoder.com/regional-events/southern-asia/leaderboard
Opens in new tab with the url like https://tco20.topcoder.com/members/cyberjag/ . is that the expected behaviour?

[Leaderboard_pa

[2020-04-24 12:30] LieutenantRoger commented on #4082
Hi @sandhiyakavi

I think this is expected behavior.  tco20.topcoder.com can be treated as a sub-community as well, as it is for tco20 only.

@Oanh-and-only-Oanh  please comment more if you have otherwise opinion. :)

[2020-04-24 12:40] sandhiyakavi commented on #4082
Except the above clarification.Everything else is working fine.

Topgear pages:
Challenge Details: Registrants, Submission and Winners- Opens in new tab - Pass
Leaderboard: Opens in new tab - Pass

Topcoder pages:
Challenge Details: Registrants, Submission and Winners- Opens in same tab - Pass
Profile->Stats history: all the link opens in same tab - Pass
Member search->opens in same tab - Pass

[2020-04-24 14:46] #4082 closed

[2020-04-25 12:25] skyhit commented on #4174
@sandhiyakavi @Oanh-and-only-Oanh @sushilshinde  should this be closed to pay the member?

[2020-04-25 13:56] crazyk07 commented on #4174
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-27 05:27] Jobee1 opened #4295 "[Dashboard] All the filter options are not displayed when clicking on any filter with 0 challenges."
In the filter, when there is even only one challenges, all the list in the filter is displayed but if there is 0 challenges, the list is hidden.

Attached screenshot with challenges and without any challenges
**With Challenges**
![Screenshot_25](https://user-images.githubusercontent.com/48575864/80336685-b2c59380-8877-11ea-9dac-c0622831d6af.png)

**Without challenges**:
![Screenshot_24](https://us

[2020-04-27 05:55] sushilshinde commented on #4213
@skyhit @Oanh-and-only-Oanh

https://github.com/topcoder-platform/submissions-api/issues/175

Need help from @callmekatootie

[2020-04-27 07:23] Dara-K commented on #4289
Please add these colors for member ratings - both large and small texts:
Blue: #4c50d9
Gray: #555555
Green: #258205
Red: #ea1900
Yellow: #F2C900
https://github.com/topcoder-platform/community-app/issues/4289

[2020-04-27 09:00] skyhit commented on #4239
Close for payment

[2020-04-27 09:05] crazyk07 commented on #4239
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-27 13:35] lakshmiathreya commented on #4082
@SathyaJayabal - why isnt this set to Pass?

[2020-04-27 14:55] Oanh-and-only-Oanh commented on #4272
complete.

[2020-04-27 14:55] #4272 closed

[2020-04-27 15:03] Oanh-and-only-Oanh opened #4297 "Add "Practice" to drop down navigation"
Add "Practice" to drop down navigation next to Gig Work
![image](https://user-images.githubusercontent.com/47536078/80387787-e3003880-885d-11ea-9a8b-134b289c47b4.png)

- Page is visible to all users (members and non-members). But only registered members can register for the practice challenges and compete
- When a user clicks on "Practice", direct user to new URL: https://www.topcoder.com/communit

[2020-04-28 02:55] Oanh-and-only-Oanh opened #4298 "Past MM challenge details not loading"
URLs aren't working
https://www.topcoder.com/challenges/15948
https://www.topcoder.com/challenges/16040

[2020-04-28 03:04] skyhit commented on #4291
please use https://github.com/topcoder-platform/community-app/tree/fix-develop-mm-not-found branch for development.

[2020-04-28 03:04] Oanh-and-only-Oanh opened #4299 "Profile page is getting 404 error"
Getting an error looking up a member profile

Go to https://www.topcoder.com/members/igoroshko
See 404 error

[2020-04-28 03:06] skyhit commented on #4293
please use https://github.com/topcoder-platform/community-app/tree/profile-incorrect-sections for development

[2020-04-28 03:07] crazyk07 commented on #4291
Contest https://www.topcoder.com/challenges/30123536 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-28 03:08] skyhit commented on #4298
@Oanh-and-only-Oanh this seems like backend api issue `https://api.topcoder.com/v4/challenges/15948`

[2020-04-28 03:08] crazyk07 commented on #4293
Contest https://www.topcoder.com/challenges/30123537 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-28 03:09] skyhit commented on #4299
@Oanh-and-only-Oanh this is related to v3 member api, like https://api.topcoder.com/v3/members/igoroshko

should I work with @urwithat to figure this out?

[2020-04-28 04:45] SathyaJayabal opened #4300 "Joining Public Communities from Community site: update Groups API from V3 to V5"
When a member joins a public community from the community site, the V3 groups api call is used. This must be updated to V5 groups api call.

<img width="1434" alt="Screenshot 2020-04-28 at 10 14 38 AM" src="https://user-images.githubusercontent.com/58783823/80448195-24194b00-8939-11ea-9a57-07391bdaf030.png">
<img width="1440" alt="Screenshot 2020-04-28 at 9 17 39 AM" src="https://user-images.githu

[2020-04-28 05:56] crazyk07 commented on #4293
Contest https://www.topcoder.com/challenges/30123537 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-28 06:57] SathyaJayabal commented on #4300
@sushilshinde in production, not able to join the group using the Join button
<img width="1437" alt="Screenshot 2020-04-28 at 12 26 47 PM" src="https://user-images.githubusercontent.com/58783823/80456672-a1e65200-894b-11ea-8d5b-5deec308fcf7.png">
<img width="553" alt="Screenshot 2020-04-28 at 12 27 03 PM" src="https://user-images.githubusercontent.com/58783823/80456677-a448ac00-894b-11ea-91fc-b6b0

[2020-04-28 07:58] kkartunov commented on #3969
Yes. Fix for #3972 will fix this as well.

[2020-04-28 08:00] kkartunov commented on #3968
Yes, fix for #3972 will fix this one as well

[2020-04-28 09:08] narekcat commented on #4293
@SathyaJayabal @skyhit - The problem is that beck-end returns those incorrect sections and front-end displays its. I think that the problem is with database. If we make a request to https://api.topcoder.com/v3/members/picachui/stats then we will see those incorrect sections. What I need to do ? I can add filter in community-app. Is it ok ?

[2020-04-28 09:09] narekcat commented on #4291
@Jobee1 @skyhit @SathyaJayabal  - I am already working on another issue of this repository. Can I work on this issue too ?

[2020-04-28 09:14] SathyaJayabal commented on #4294
<img width="1440" alt="Screenshot 2020-04-28 at 2 43 21 PM" src="https://user-images.githubusercontent.com/58783823/80469824-bed85080-895e-11ea-97ca-bfc99ad1d4bc.png">

[2020-04-28 10:31] Jobee1 commented on #4294
The issue persists for Skill dropdown too.
![Screenshot_31](https://user-images.githubusercontent.com/48575864/80477451-a7ec2b00-896b-11ea-8f5b-32c9356a8759.png)

[2020-04-28 13:13] SathyaJayabal commented on #4154
@LieutenantRoger , the events are tracked only after the user navigates to the notifications page and refreshes it once.

[2020-04-28 13:31] luizrrodrigues commented on #4154
@SathyaJayabal Please try clear browser cache.

Here working well:
[Screen Recording 2020-04-28 at 10.27.48.mov.zip](https://github.com/topcoder-platform/community-app/files/4546049/Screen.Recording.2020-04-28.at.10.27.48.mov.zip)

[2020-04-28 13:42] SathyaJayabal commented on #4154
@luizrrodrigues , it works now. Thank you.
Verified on Beta( develop branch)
<img width="1130" alt="Screenshot 2020-04-28 at 7 09 54 PM" src="https://user-images.githubusercontent.com/58783823/80494288-21901300-8984-11ea-88b7-0b6c9c6172ed.png">

[2020-04-28 14:00] narekcat commented on #4293
@SathyaJayabal @skyhit @Oanh-and-only-Oanh - I found out that there are function  `utils/memberStats/isValidTrack`, that checks the `track` and `subTrack` combination and I can use this function for filtering. Also there are some other sections, that are incorrect in my opinion:
1. WIDGET_OR_MOBILE_SCREEN_DESIGN
2. APPLICATION_FRONT_END_DESIGN
3. PRINT_OR_PRESENTATION
4. IDEA_GENERATION
5. LOGO_DE

[2020-04-28 14:26] narekcat commented on #4293
I finished this issue. Please see pull request https://github.com/topcoder-platform/community-app/pull/4301

[2020-04-28 14:28] narekcat commented on #4291
I finished issue [4293 ](https://github.com/topcoder-platform/community-app/issues/4293).  I'll start this one.

[2020-04-28 14:28] crazyk07 commented on #4291
Contest https://www.topcoder.com/challenges/30123536 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-04-28 14:32] narekcat commented on #4291
To fix this issue, I just need to add case `DEVELOP_MARATHON_MATCH` in `utils/memberStarts/isValidTrack` function and I already added this case in this pull request https://github.com/topcoder-platform/community-app/pull/4301.

[2020-04-28 14:37] narekcat commented on #4291
@Jobee1 @Oanh-and-only-Oanh @skyhit - Please see pull request https://github.com/topcoder-platform/community-app/pull/4302

[2020-04-28 16:10] #4299 closed

[2020-04-28 16:16] Oanh-and-only-Oanh commented on #4299
closing because this is not a handle...

[2020-04-29 03:45] Oanh-and-only-Oanh opened #4304 "Add Sign Up and Log In buttons to navigation"
Challenge: http://www.topcoder.com/challenges/30123629

[2020-04-29 03:50] Oanh-and-only-Oanh opened #4305 "Update account activation emails"

[2020-04-29 03:51] Oanh-and-only-Oanh opened #4306 "New Customer/Member registration page"

[2020-04-29 03:52] Oanh-and-only-Oanh opened #4307 "Update design of Registration form and Log In pages"
Challenge: http://www.topcoder.com/challenges/30123846

[2020-04-29 04:31] charan2628 opened #4308 "Thrive page filter by date is not working"
**Describe the bug**
In Thrive page when I'm applying filter by date it's not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Please visit this [URL](https://www.topcoder.com/thrive/tracks?track=Competitive%20Programming&author=All%20authors&startDate=2020-03-01T17%3A30%3A00%2B05%3A30&endDate=2020-04-27T15%3A27%3A30%2B05%3A30&tax=SRM%20Editorials).

**Expected behavior**
I should ge

[2020-04-29 06:26] sushilshinde opened #4309 "GA Tracking Code Change"
1. Move GAIDs for prod and dev profiles to env vars instead of config file.
2. Move all the GA code to community-app from topcoder-react-lib
Get rid of this dependency cycle
![Webgraphviz 2020-04-29 11-54-23](https://user-images.githubusercontent.com/683231/80566593-f3a4e000-8a10-11ea-9c26-49d8c49c5483.png)

[2020-04-29 07:39] sushilshinde opened #4310 "Update the json payload with v5 standards for POST api"
https://github.com/topcoder-platform/groups-api/issues/34

[2020-04-29 07:47] sushilshinde commented on #3575
It can't be completed before this fix
https://github.com/topcoder-platform/submissions-api/issues/175

[2020-04-29 14:07] narekcat commented on #4174
@crazyk07 @skyhit . Any update on this issue ?

[2020-04-30 02:36] Oanh-and-only-Oanh commented on #4293
@urwithat, can you help with backend api support?

[2020-04-30 03:01] Oanh-and-only-Oanh commented on #4307
Challenge link: https://www.topcoder.com/challenges/30123846

[2020-04-30 03:38] sandhiyakavi opened #4312 "Topcoder Community's Hall of fame pages are down."
Description:

The hall of fame page : https://www.topcoder.com/community/hall-of-fame/tco is broken.

![image](https://user-images.githubusercontent.com/55895538/80669416-52388f80-8adf-11ea-9bd5-097e3d13333e.png)

[2020-04-30 04:27] sandhiyakavi commented on #4312
Verified in Beta. Working as expected

![image](https://user-images.githubusercontent.com/55895538/80671967-4ac8b480-8ae6-11ea-80a7-7076572fbf08.png)

[2020-04-30 06:43] sandhiyakavi commented on #4312
Verified on Beta (develop branch). Working as expected.

![image](https://user-images.githubusercontent.com/55895538/80680229-51acf280-8af9-11ea-944b-bf243baeb876.png)

[2020-04-30 08:05] urwithat commented on #4293
@RishiRajSahu - We can see WEB_DESIGNS, WIREFRAMES, etc. under DEVELOP.
they should be under DESIGN

[2020-04-30 08:32] sumitdaga commented on #4239
@skyhit @Oanh-and-only-Oanh FYI, the issue is closed without being paid out.

[2020-04-30 12:02] kkartunov commented on #4050
Notes for QA:
- "TCO Points" should be just "Points"

[2020-04-30 12:44] SathyaJayabal commented on #4312
verified on prod

[2020-04-30 12:44] SathyaJayabal commented on #4312
<img width="1440" alt="Screenshot 2020-04-30 at 6 13 48 PM" src="https://user-images.githubusercontent.com/58783823/80711695-65af1f00-8b0e-11ea-9063-f4d89c573df3.png">

[2020-04-30 13:04] Jobee1 commented on #4286
Verified in Test Environment:
![4286_test](https://user-images.githubusercontent.com/48575864/80713414-1ddec680-8b13-11ea-8088-01f13cf97c38.png)

[2020-04-30 13:26] Jobee1 commented on #3969
Verified in Test Environment. The topic name and the details in the topic are same.

Attached video for reference:
[3969_test_env.zip](https://github.com/topcoder-platform/community-app/files/4558528/3969_test_env.zip)

[2020-04-30 13:30] harshitmehta123 commented on #2213
Hey, @Oanh-and-only-Oanh I wanted to check in on this, especially with the recent increase on SRM participation and new members, this is even now more critical.

cc: @adroc-tc

[2020-04-30 13:44] Jobee1 commented on #3960
Verified in Test Environment.

Attached video for reference:
[3960_test_env.zip](https://github.com/topcoder-platform/community-app/files/4558653/3960_test_env.zip)

[2020-04-30 14:11] Jobee1 commented on #3972
When opening the both links, different articles is loaded.
Verified in Test Environment.

Attached screenshot for reference:
DESIGN PATTERNS IN C++ PART 1
![Part 1](https://user-images.githubusercontent.com/48575864/80720314-76669180-8b1c-11ea-9c1b-188b2316dc2b.png)

DESIGN PATTERNS IN C++ PART 2
![Part 2](https://user-images.githubusercontent.com/48575864/80720376-88e0cb00-8b1c-11ea-9f40-3d2a9257

[2020-04-30 14:31] SathyaJayabal commented on #3972
The fix is when you try search for DESIGN PATTERNS IN C++ PART 1 and then DESIGN PATTERNS IN C++ PART 2 it always opens same article but should make a difference

[2020-04-30 14:58] Jobee1 commented on #3968
When I clicked on "Invariance, Covariance and Contravariance types in C# - Part 1" the details and the title is same as that of Part 2.

Attached video for reference:
[3968.zip](https://github.com/topcoder-platform/community-app/files/4559106/3968.zip)

[2020-04-30 15:04] luizrrodrigues commented on #4309
@sushilshinde branch `ga-hotfix` ready to deploy.

[2020-04-30 15:15] ajefts opened #4316 "React Skill not showing as verified"
**Describe the bug**
The "React.js" skill is not showing on profiles as verified even in cases where they have successfully competed on a challenge with React.js tagged.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder.com/members/diazz
2. Click on 'Show More" skills
3. Scroll down to 'React.js'
4. See that there is no blue badge indicating it's verified.

This see

[2020-04-30 15:16] ajefts commented on #4316
@Oanh-and-only-Oanh @sushilshinde @urwithat Can you help with this one?  We have a lot of TaaS leads for React resources and this is slowing us down a lot since we can't accurately search for React developers.

[2020-04-30 16:55] luizrrodrigues opened #4317 "Community site getting 404 cloudfront URL"
**Describe the bug**
Sometimes when a user access community site is broken, it looks like missing CSS styles.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.topcoder.com
2. Click on COMMUNITY
3. Sometimes page looks broken
4. See the errors in the browser console

**Screenshots**
![Screen Shot 2020-04-30 at 13 55 36](https://user-images.githubusercontent.com/7029641/80737747-561dd

[2020-05-01 04:11] SathyaJayabal opened #4318 "User handle is not displayed"
The user handle and profile picture is not displayed in the header
<img width="1430" alt="Screenshot 2020-05-01 at 9 39 12 AM" src="https://user-images.githubusercontent.com/58783823/80781366-ac912900-8b8f-11ea-85f0-db8132c16818.png">

[2020-05-01 04:17] SathyaJayabal opened #4319 "Challenge Listings: Ongoing and Open for Registration counts Issue"
A challenge must be either in Open for registration or Ongoing. But we find most of  the challenges in both the buckets
<img width="427" alt="Screenshot 2020-05-01 at 9 43 55 AM" src="https://user-images.githubusercontent.com/58783823/80781604-959f0680-8b90-11ea-8d11-6399f8c4caf4.png">
@LieutenantRoger, you can move this to API repo is this is an API issue.

[2020-05-01 04:22] SathyaJayabal opened #4320 "Number of registrants tootltip displays "Undefined Total Registrants""
Number of registrants tootltip displays "Undefined  Total Registrants"
<img width="1430" alt="Screenshot 2020-05-01 at 9 50 42 AM" src="https://user-images.githubusercontent.com/58783823/80781812-6937ba00-8b91-11ea-923f-4b5fe64e53c9.png">

[2020-05-01 04:24] SathyaJayabal opened #4321 "Challenge details: Register Button not active even though challenges is in registration phase"
Challenge details: Register Button not active even though challenges is in registration phase

<img width="1428" alt="Screenshot 2020-05-01 at 9 53 16 AM" src="https://user-images.githubusercontent.com/58783823/80781889-b1ef7300-8b91-11ea-873c-4bca46740347.png">

[2020-05-01 04:33] SathyaJayabal opened #4322 "Challenge Listing: Track filters are not working"
The tracks filters are not working as expected. Only the data science contest are  getting filtered.
[Uploading track filters.mov.zip…]()

<img width="1440" alt="Screenshot 2020-05-01 at 10 00 35 AM" src="https://user-images.githubusercontent.com/58783823/80782174-a94b6c80-8b92-11ea-87a9-729a069dd9c7.png">
<img width="1440" alt="Screenshot 2020-05-01 at 10 00 45 AM" src="https://user-images.github

[2020-05-01 04:58] SathyaJayabal opened #4324 "Challenge Listings: Sub tracks filter not working"
Challenge  Listings: Sub tracks filter not working

<img width="1440" alt="Screenshot 2020-05-01 at 10 24 27 AM" src="https://user-images.githubusercontent.com/58783823/80783017-fe3cb200-8b95-11ea-952e-311ed842255d.png">
<img width="1440" alt="Screenshot 2020-05-01 at 10 24 35 AM" src="https://user-images.githubusercontent.com/58783823/80783042-10b6eb80-8b96-11ea-9ba9-10098cc5b809.png">

[2020-05-01 05:04] Jobee1 commented on #4050
When the user clicks on the member's name new tab is opened with user details.

Attached video for reference:
[4050.zip](https://github.com/topcoder-platform/community-app/files/4562568/4050.zip)

[2020-05-01 05:05] sandhiyakavi opened #4325 "My Dashboard Page issue"
Description:
Getting "Failed to load SRMs" error on accessing the dashboard page.

Steps to Reproduce:
1. Login to topcoder.
2. Go to the url " https://www.topcoder-dev.com/my-dashboard"

Actual behaviour:
Getting "Failed to load SRMs" error is shown.

Screenshot:
![image](https://user-images.githubusercontent.com/55895538/80783445-d0b33100-8bb4-11ea-8f37-10f68f2bfd8b.png)

[2020-05-01 05:17] Jobee1 commented on #4058
There is issue in this one.
In the design of the newsletter, there is "Load More" button to load the number of articles but in the test environment, there is scroll bar to scroll the number of articles.

**Attached screenshot for the reference:
As mentioned in the design**:
![Screenshot_38](https://user-images.githubusercontent.com/48575864/80783919-13680f80-8b9b-11ea-9b21-b08045fe3aef.png)

**As

[2020-05-01 05:28] sandhiyakavi opened #4326 "Footer: The old Footer is displayed in the Community pages."
Description:
The old Footer is displayed in the Community pages.

Actual Behaviour:
New footer should be displayed in the Community pages.

Screenshot:
<img width="951" alt="footer" src="https://user-images.githubusercontent.com/55895538/80784394-dfe7ae00-8bb7-11ea-9522-a85a07ec1bcc.PNG">

[2020-05-01 05:34] sandhiyakavi commented on #4325
Adding to the above issue.Clicking the SRMs tab in the Dashboard is loading for a long time.

![image](https://user-images.githubusercontent.com/55895538/80784669-d3b02080-8bb8-11ea-8b93-afc25450884e.png)

[2020-05-01 05:49] SathyaJayabal commented on #4320
fixed
<img width="1440" alt="Screenshot 2020-05-01 at 11 15 07 AM" src="https://user-images.githubusercontent.com/58783823/80785182-09dfa700-8b9d-11ea-881c-2c8d4f549b37.png">

[2020-05-01 05:49] #4320 closed

[2020-05-01 05:52] SathyaJayabal opened #4327 "Member Profile page is not loading"
Member Profile page is not loading
<img width="1440" alt="Screenshot 2020-05-01 at 11 20 55 AM" src="https://user-images.githubusercontent.com/58783823/80785441-e49f6880-8b9d-11ea-81ef-f53d781a7d5b.png">

[2020-05-01 05:58] SathyaJayabal commented on #4327
works now

[2020-05-01 05:58] #4327 closed

[2020-05-01 06:09] #4326 closed

[2020-05-01 06:14] sandhiyakavi opened #4328 "Profile history stats : Challenges tab Issues"
Description:
Clicking Challenges tab displays a blank screen in My profile history stats.

Steps to Reproduce:
1. Go to "https://www.topcoder-dev.com/members/dan_developer"
2. Click the Code section under Development activity.
3. Click the Challenges tab.

Video:
[history_stats_blank screen.zip](https://github.com/topcoder-platform/community-app/files/4562689/history_stats_blank.screen.zip)

[2020-05-01 06:15] SathyaJayabal opened #4329 "Profile Settings -> Accounts page is throwing a 404 error"
Profile Settings -> Accounts page is throwing a 404 error

<img width="1440" alt="Screenshot 2020-05-01 at 11 44 00 AM" src="https://user-images.githubusercontent.com/58783823/80786391-22ea5700-8ba1-11ea-9e9c-9d766dd9718a.png">

[2020-05-01 06:21] SathyaJayabal opened #4330 "Challenge Listings: Open for review is loading a blank page"
Challenge Listings: Open for review is loading a blank page
<img width="1440" alt="Screenshot 2020-05-01 at 11 51 23 AM" src="https://user-images.githubusercontent.com/58783823/80786723-1d414100-8ba2-11ea-8853-0feb35f62e50.png">

[2020-05-01 06:29] sandhiyakavi opened #4331 "My Profile history stats: Rating history graph is not displaying the rating of the user."
Description:
Rating history graph is not displaying the rating of the user in the My Profile history stats.

Steps to Reproduce:

1. Go to "https://www.topcoder-dev.com/members/dan_developer"
2. Click the Code section under Development activity.
3. Check the Rating history graph.

Screenshot:
![image](https://user-images.githubusercontent.com/55895538/80787074-67391f80-8bc0-11ea-9eab-859e5df660c5.

[2020-05-01 06:29] Jobee1 commented on #4318
The sub-menus under "Community" is also not displayed accordingly after the user is logged in. "Overview" and "How it Works" is displayed while "Dashboard" "My Profile" and "Payments" should have been displayed.

![Screenshot_40](https://user-images.githubusercontent.com/48575864/80787124-4fa06d80-8ba5-11ea-9874-17e74add234a.png)

[2020-05-01 06:35] SathyaJayabal opened #4332 "feature-challenge-v5 branch does not have the latest code from develop"
We can see very old features like the old footer, old devices page etc.
<img width="1440" alt="Screenshot 2020-05-01 at 12 04 49 PM" src="https://user-images.githubusercontent.com/58783823/80787372-00a60880-8ba4-11ea-92e0-37b004565d62.png">

<img width="1440" alt="Screenshot 2020-05-01 at 12 04 37 PM" src="https://user-images.githubusercontent.com/58783823/80787363-fb48be00-8ba3-11ea-9383-0e876139

[2020-05-01 06:36] sandhiyakavi opened #4333 "My Profile history stats: Active challenges count issues"
Description:
Active challenges count is displayed in the Profile history stats, though there are no active challenges for the user.

Screenshot:

Profile history stats page:
<img width="948" alt="active_challenges" src="https://user-images.githubusercontent.com/55895538/80787356-4d4c0c80-8bc1-11ea-8ef7-25df8b3f6bb2.PNG">

My Challenges count in Challenge listing page:
<img width="956" alt="my_chal

[2020-05-01 06:41] SathyaJayabal commented on #4332
marking this as on hold for now

[2020-05-01 06:46] Jobee1 opened #4334 "Settings- Education: "Failed to update user trait" message displayed when adding new education, editing and deleting existing one."
While adding a new education or either editing or deleting the exiting one, "Failed to update user trait" message is displayed.

Steps to Reproduce:
1) Go to https://www.topcoder-dev.com/settings/profile#education
2) Fill the values with required field.
3) Click on "Add Education to You List".

Attached screenshot for reference:
![Screenshot_41](https://user-images.githubusercontent.com/48575864/8

[2020-05-01 06:48] SathyaJayabal opened #4335 "Challenge Listings: Incomplete challenge data"
Challenge data has been loaded from 2019-01-01 forward https://topcoder.slack.com/archives/CCXM6QZQC/p1588315066203200

But we dont see any challenges in past challenges, nor any registrants or submissions for any challenges

<img width="1440" alt="Screenshot 2020-05-01 at 12 17 44 PM" src="https://user-images.githubusercontent.com/58783823/80788075-cc334c00-8ba5-11ea-98e5-0babbaea1e5d.png">
<img

[2020-05-01 07:09] SathyaJayabal commented on #4334
The error is displayed only for certain users. Works fine for TonyJ, not for dan_developer
<img width="1440" alt="Screenshot 2020-05-01 at 12 37 42 PM" src="https://user-images.githubusercontent.com/58783823/80789169-c9862600-8ba8-11ea-9fe8-a65ea8b246e3.png">

[2020-05-01 07:26] kkartunov commented on #3968
@dushyantb @Jobee1 this one. I renamed the articles to:
- https://test-community-app.topcoder-dev.com/thrive/articles/Invariance,%20Covariance%20and%20Contravariance%20types%20in%20C%20Sharp%20-%20Part%20Two
- https://test-community-app.topcoder-dev.com/thrive/articles/Invariance,%20Covariance%20and%20Contravariance%20types%20in%20C%20Sharp%20-%20Part%20One

[2020-05-01 07:33] kkartunov commented on #4050
@Jobee1 yes this is the expected behavior.
Some leaderboards do not have details/history thus they open member profile on click. Modal should open for challenge history details. Check:
- http://tco20.topcoder.com/competition-overview/development/leaderboard
- http://tco20.topcoder.com/competition-overview/algorithm/leaderboard
cc @SathyaJayabal

[2020-05-01 07:35] kkartunov commented on #4058
@Jobee1 @SathyaJayabal There won't be "Load More" button. It is out of scope as we decided to load all data in one call and skip load more functionality.

[2020-05-01 07:39] kkartunov commented on #4317
![Screenshot from 2020-05-01 10-30-33](https://user-images.githubusercontent.com/5585002/80790609-00077500-8b98-11ea-94f6-44e9d3efe0b7.png)

[2020-05-01 08:00] Jobee1 commented on #3968
Verified in Test Environment. Different articles are displayed when clicked on different links.

Attached video for reference:
[3968.zip](https://github.com/topcoder-platform/community-app/files/4562959/3968.zip)

[2020-05-01 08:16] Jobee1 commented on #4050
Verified in Test Environment.

Attached video for reference.
[4050.zip](https://github.com/topcoder-platform/community-app/files/4562986/4050.zip)

[2020-05-01 08:20] Jobee1 commented on #4058
Verifying this on the basis of the comment in Test environment.

Attached video for reference.
[4058.zip](https://github.com/topcoder-platform/community-app/files/4562998/4058.zip)

[2020-05-01 08:36] sandhiyakavi commented on #4335
Adding to the above issue.The current status in the Challenge details page is displayed as Registration for all challenges, irrespective of their status.

![image](https://user-images.githubusercontent.com/55895538/80793509-4679c580-8bd2-11ea-956f-11dfa322a34d.png)

[2020-05-01 14:37] adroc-tc commented on #4317
Still seeing this issue @Oanh-and-only-Oanh

[2020-05-01 14:45] ajefts opened #4336 "[$75] Marathon Leaderboard Showing 100 for failed submission"
**Describe the bug**
In certain cases a MM submission is failing to run.  The Virus scan returns 100, but the next review doesn't succeed.  The leaderboard is displaying 100 as their submission score, which is incorrect.  It should be marked as a fail on the leaderboard.

If you check the API calls that get submissions (i.e. https://api.topcoder.com/v5/submissions?challengeId=30120970&page=1&perPa

[2020-05-01 14:45] ajefts commented on #4336
cc: @dushyantb @cwdcwd

[2020-05-01 14:46] ajefts commented on #4336
@Oanh-and-only-Oanh @sushilshinde Can we get a quick fix in for this one?  It's causing a lot of problems on live marathon matches.

[2020-05-01 14:49] cwdcwd commented on #4336
the community app should look up the reviewType of `Virus Scan` at the `/v5/reviewTypes` endpoint and ignore all reviews of that type's Id

[2020-05-01 14:49] dushyantb commented on #4336
[code]

[2020-05-01 14:50] cwdcwd commented on #4336
Note, **please** don't just hard code that Id in to solve this

[2020-05-01 17:32] crazyk07 commented on #4336
Contest https://www.topcoder.com/challenges/30124030 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-01 17:33] crazyk07 commented on #4336
Contest https://www.topcoder.com/challenges/30124030 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-02 03:12] luizrrodrigues commented on #4336
Hey @narekcat, checking progress here, how things are going?

Thanks

[2020-05-02 05:08] narekcat commented on #4336
@luizrrodrigues I am working on it. I will finish it in next 6 hours.

[2020-05-02 09:58] narekcat commented on #4336
@luizrrodrigues - I tried to reproduce this bug, but I couldn't find an example of submission that succeed virus scan, but failed next review and in submissions list it's score is 100. Yesterday I could reproduce this bug, but today its working as expected. I also checked some other challenge submissions, but couldn't reproduce the bug.

[2020-05-02 16:20] luizrrodrigues commented on #4336
@narekcat Okay, I'll recheck and back to you shortly.

[2020-05-04 05:28] kkartunov opened #4338 "My dashboard blank page"
**Describe the bug**
https://www.topcoder.com/my-dashboard shows blank page. Needs reload/refresh to appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Open new tab in Chrome
2. Go to https://www.topcoder.com/my-dashboard
3. See error - blank page is shown
4. Refresh page to reload

**Expected behavior**
Page to appear directly.

**Screenshots**
https://drive.google.com/file/d/1uMcpGjLD

[2020-05-04 09:06] SathyaJayabal commented on #4338
Also happens for the challenge listings page occasionally.

[2020-05-04 09:06] SathyaJayabal commented on #4338
cc @Oanh-and-only-Oanh

[2020-05-04 10:41] luizrrodrigues commented on #4336
@narekcat I'm able to reproduce the issue in this challeng:
https://www.topcoder.com/challenges/30123519?tab=submissions

![Screen Shot 2020-05-04 at 07 40 47](https://user-images.githubusercontent.com/7029641/80957969-95924700-8dda-11ea-8e54-9de094ae45c8.png)

![Screen Shot 2020-05-04 at 07 39 15](https://user-images.githubusercontent.com/7029641/80957974-988d3780-8dda-11ea-9ef3-5213b2ae0262.png)

[2020-05-04 10:49] narekcat commented on #4336
@luizrrodrigues Ok, I am already working on this issue.

[2020-05-04 15:16] Oanh-and-only-Oanh commented on #4305
Email temples here: https://docs.google.com/document/d/1x1kyVx8jk40B9TODOEIw7Wyk4clFWoceP4XjI363Hf8/edit

[2020-05-04 17:27] sumitdaga commented on #4239
@skyhit any update here ?

[2020-05-04 20:00] hokienick opened #4339 "Challenge Details link to help center instead of Thrive"
Here we go

[2020-05-04 20:09] Oanh-and-only-Oanh commented on #4339
@hokienick what's the URL?

[2020-05-04 20:20] hokienick commented on #4339
Any Design Challenge URL like this: https://www.topcoder.com/thrive/articles/Design%20Challenge%20Types

But still on hold as I realize I need more updates from the team.

[2020-05-04 20:36] narekcat commented on #4336
@luizrrodrigues I have debugged application and found out that it already ignores all reviews of Virus Scan (see https://github.com/topcoder-platform/topcoder-react-lib/blob/develop/src/utils/submission.js#L137). But in production it uses development `typeId` (see https://github.com/topcoder-platform/topcoder-react-lib/blob/develop/config/development.json#L2)
![wrong_provisional_score_production](

[2020-05-05 05:58] skyhit commented on #4307
@Oanh-and-only-Oanh PR is here - https://github.com/appirio-tech/accounts-app/pull/344

[2020-05-05 06:48] sandhiyakavi opened #4340 "Edge browser[Challenge Details]: The Prize amount in the Key information is displayed only for first five places."
Description:
The Prize amount in the Key information section of the challenge details page displays only the first five prizes.

Expected behaviour:
The Prizes for all ranks should be displayed.

Screenshot:

Microsoft Edge browser:
<img width="957" alt="Prize_amount_Edge" src="https://user-images.githubusercontent.com/55895538/81040972-8b11a380-8ee7-11ea-9306-95d8e526aa5b.PNG">

Google Chrome:
<i

[2020-05-05 07:13] RishiRajSahu commented on #4293
@urwithat as discussed, they were there since beginning and we haven't made any update to that loader since years, you could check the query https://github.com/appirio-tech/ap-supply-etl/blob/master/member-stats/src/main/resources/development-challenge-stats.sql for the particular user you are facing this issue. Let me know if you need any other info.

[2020-05-05 07:50] sandhiyakavi opened #4341 "Edge Browser: The default text in Find member by username or skill textbox is in black colour"
Description:
The default text in Find member by username or skill textbox is in black colour

Expected behavior:
The default text in Find member by username or skill textbox should be in grey colour and of normal size.

Screenshot:

Microsoft Edge:
<img width="958" alt="81044547-881ab100-8eef-11ea-8c9e-f9f33f06b66f" src="https://user-images.githubusercontent.com/55895538/81045007-4c341b80-8ef0-11e

[2020-05-05 09:18] sandhiyakavi opened #4342 "Edge browser: Recommended challenges are not displayed in Challenge details page."
Description:
Recommended challenges are not displayed in Challenge details page.

Screenshot:

Microsoft Edge:

<img width="951" alt="edge_recommended challenges" src="https://user-images.githubusercontent.com/55895538/81051306-74c21280-8efc-11ea-91ab-5d133a017585.PNG">

![image](https://user-images.githubusercontent.com/55895538/81051323-7d1a4d80-8efc-11ea-91b1-25690026cb2f.png)

Google Chrome:

[2020-05-05 09:32] kkartunov opened #4343 "Sorting on statistics looker tables"
Statistics sort column does not sort the rank along with everything else.

1. Go to https://www.topcoder.com/community/statistics. We have:
[code]
2. Click Development pill then Challenge/Technology
3. Sort by Count

Expected: Rank should sort along with everything else.

[2020-05-05 09:33] kkartunov opened #4344 "URLs not bolded when within markdown tags"
Example: https://www.topcoder.com/community/changelog

Notice how the links are not bolded with the rest of it's area.

[2020-05-05 11:18] sandhiyakavi commented on #4307
@skyhit  Verified in Dev Environment.Below are the issues identified in Registration page.

1. Unused down arrow near the Topcoder logo.
2. Broken textboxes (boxes of textbox are not complete).
3. Country Label is missing.
4. Down arrow icon not displayed in Country dropdown.(Mentioned in design document).
5. Password Label is missing.
6. Confirm Password textbox is missing.
7. Alignment issue in

[2020-05-05 11:23] Jobee1 commented on #4307
Tested in Dev Environment.
Following are the issues found:
1. Textbox for Username is broken.
2. Password visibility icon is present above the password field.
3. Placeholder for the Password field is not present.
4. No label for Password and Username field.
5. There is a blue line under the password field which is present even after clearing the cache.
6. There is no "Forgot your Password?" link.

[2020-05-05 11:37] sandhiyakavi commented on #4344
Verified in Test Env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/81061909-228aec80-8f10-11ea-8b19-41d8c56665f4.png)

[2020-05-05 14:35] Oanh-and-only-Oanh commented on #4213
On hold.

[2020-05-05 14:41] crazyk07 commented on #4213
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-05 14:48] rashmi73 commented on #4213
@skyhit @crazyk07 Am I paid for this to investigate regarding version change?

[2020-05-05 15:10] Oanh-and-only-Oanh commented on #4213
@rashmi73 yes. We're working billing issue but you'll be paid.

[2020-05-05 15:18] adroc-tc commented on #4317
@Oanh-and-only-Oanh @mtwomey this issue still seems to be happening - clearing cache is not a fix.
- I get "white" blank pages on some of the pages (randomly) and some after clearing cache either reappear or stay white. It is not consistent.

[2020-05-05 15:35] luizrrodrigues commented on #4336
@narekcat Cool, nice catch. Currently, we have an issue with `topcoder-react-lib` config file, the Prod server using development config file, we already have a ticket to this issue.

I'll do some checks today and back to you.

[2020-05-05 15:40] Oanh-and-only-Oanh commented on #4307
@skyhit, please make fixes for the issues listed. @SathyaJayabal @Jobee1, please make sure to also test all links including social logins. thanks

[2020-05-05 16:03] luizrrodrigues opened #4345 "topcoder-react-lib using Development config file in Production"
@sushilshinde This ticket to track the issue we discuss before.

[2020-05-05 16:03] luizrrodrigues commented on #4345
Maybe related with this commit: https://github.com/topcoder-platform/topcoder-react-lib/commit/6435cd4f5754cdee0237ccec6dffe91601d481e9

[2020-05-05 16:46] Oanh-and-only-Oanh opened #4347 "[$40] Open Blog page on separate tab"
When user clicks on BLOG on the navigation menu, open page in separate tab.

![image](https://user-images.githubusercontent.com/47536078/81092382-5be23e80-8eb5-11ea-867d-a42c775c1bba.png)

[2020-05-05 17:31] narekcat commented on #4336
@luizrrodrigues Ok.

[2020-05-06 02:39] SathyaJayabal commented on #4154
This GA events are tracked in the test account and not on the production account

[2020-05-06 02:55] SathyaJayabal commented on #4312
Reopened this as this change was reverted.
https://topcoder.slack.com/archives/C53KB3T7Z/p1588700782350900

[2020-05-06 02:57] SathyaJayabal commented on #4312
cc @LieutenantRoger @Oanh-and-only-Oanh we will need to fix this, as original fix was reverted and the Hall of Fame pages are again broken.
https://topcoder.slack.com/archives/C53KB3T7Z/p1588700782350900
<img width="1440" alt="Screenshot 2020-05-06 at 8 26 35 AM" src="https://user-images.githubusercontent.com/58783823/81134754-5814f180-8f73-11ea-94ba-ffac0430d28f.png">

[2020-05-06 03:07] SathyaJayabal commented on #4338
@Oanh-and-only-Oanh , also observed here by Adam.
https://github.com/topcoder-platform/community-app/issues/4317#issuecomment-624118536

[2020-05-06 03:09] SathyaJayabal commented on #4154
related to #4345

[2020-05-06 05:37] luizrrodrigues commented on #4154
@SathyaJayabal we removed GA from `topcoder-react-lib` and moved to `community-app`, this ready and waiting for @sushilshinde

[2020-05-06 06:04] narekcat commented on #4174
Hello @skyhit @Oanh-and-only-Oanh . What will be with this issue ? Please reply.

[2020-05-06 07:04] sandhiyakavi opened #4348 "Challenge Details: Two tooltip with same content displayed on hovering over the Question mark near Review scorecard link."
Description:
Two tooltip with same content is displayed on hovering over the Question mark near Review scorecard link in the Challenge details page.

Screenshot:
<img width="960" alt="image (1)" src="https://user-images.githubusercontent.com/55895538/81146361-173ccd00-8fb3-11ea-8190-e152a06d6e44.png">

[2020-05-06 07:44] sandhiyakavi opened #4349 "Edge browser: Accessing Topcoder homepage URL directing to Splash screen."
Description:
Accessing Topcoder homepage URL directing to Splash screen "https://www.topcoder.com/splash/".

It happens in below conditions,
  1. If accessing the homepage through URL "https://www.topcoder.com".
  2. After logging into Topcoder.
  3. After logging out of Topcoder.
  4. Clicking the Business in the navigation menu.

Videos:
[Accessing through URL.zip](https://github.com/topcoder-pl

[2020-05-06 07:45] sandhiyakavi commented on #4349
Reference: https://github.com/topcoder-platform/community-app/issues/4287

[2020-05-06 15:27] Oanh-and-only-Oanh commented on #4338
@SathyaJayabal, can you confirm it's still happening after Matt's revert yesterday?

[2020-05-06 15:30] Oanh-and-only-Oanh commented on #4348
@sandhiyakavi, is the challenge API related?

[2020-05-06 15:31] Oanh-and-only-Oanh commented on #4174
We're working on the payment issues. Thanks for waiting @narekcat

[2020-05-06 15:51] SathyaJayabal commented on #4338
@Oanh-and-only-Oanh ,this  seems to be  a different issue than the rendering issue. This one is still happening occasionally.

[2020-05-06 16:07] skyhit commented on #4307
@Oanh-and-only-Oanh @sushilshinde FYI, I discussed with @kkartunov, I think the problem is mostly related to caching for static files.

[2020-05-06 16:10] Oanh-and-only-Oanh commented on #4307
Ok, can we resolve?

On Wed, May 6, 2020 at 9:08 AM skyhit <notifications@github.com> wrote:

--

<https://www.topcoder.com/>

*Oanh Tran*

Product Manager, Community App

732-353-9457

www.topcoder.com  | @topcoder <http://twitter.com/topcoder>

[2020-05-06 17:00] Oanh-and-only-Oanh opened #4350 "Member data rights button"

[2020-05-06 17:42] crazyk07 commented on #4213
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-06 17:43] #4213 closed

[2020-05-06 17:43] crazyk07 commented on #4213
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122232<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-06 18:24] narekcat commented on #4174
@Oanh-and-only-Oanh Ok, thanks for reply.

[2020-05-06 18:59] #4174 closed

[2020-05-06 18:59] crazyk07 commented on #4174
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122243<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-07 03:39] sandhiyakavi commented on #4348
@Oanh-and-only-Oanh No it is not related to challenge API

[2020-05-07 07:47] SathyaJayabal commented on #3507
Happens when the backend api is down. Not an issue with the community app.
@sushilshinde

[2020-05-07 07:47] #3507 closed

[2020-05-07 07:51] SathyaJayabal commented on #3361
tracked here #3278

[2020-05-07 07:53] SathyaJayabal commented on #3316
Closing this as we do not have this section now.

[2020-05-07 07:53] #3316 closed

[2020-05-07 07:59] SathyaJayabal commented on #4317
@Oanh-and-only-Oanh , this was fixed with the CF hotfix
https://github.com/topcoder-platform/community-app/commit/fac841270b12f5570bf08139492a25e36cf888a6

@adroc-tc the blank pages is tracked here
#4338

[2020-05-07 07:59] #4317 closed

[2020-05-07 08:03] SathyaJayabal commented on #3392
adding the on hold label

[2020-05-07 08:05] SathyaJayabal commented on #3214
reducing the priority

[2020-05-07 08:08] SathyaJayabal commented on #4262
tracked here #2359

[2020-05-07 08:08] #4262 closed

[2020-05-07 10:34] sandhiyakavi opened #4352 "Challenge Detail: Alignment varies in the Winners tab if the userhandle name is long."
Description:
Alignment varies in the Winners tab of the Challenge details page if the user handle name is long.

Screenshot:
<img width="958" alt="winner_alignment_issue" src="https://user-images.githubusercontent.com/55895538/81284793-8d1b6400-9099-11ea-92db-fdbfab36a1c3.PNG">

[2020-05-07 11:37] kkartunov opened #4353 "Add terms page to footer"
Link https://www.topcoder.com/community/terms as "Terms" in the footer. It should be the last Item under "About".

[2020-05-07 13:13] kkartunov opened #4354 "Thrive article URLs to support hyphens"
We plan to deprecate spaces in Thrive article URLs. So links like https://www.topcoder.com/thrive/articles/Setting%20Up%20Topcoder%20Java%20Applet%20Arena%20&%20Kawigi%20Editor will turn into a more friendly format with hyphens.

Expected: Thrive article URLs to support hyphens and spaces (%20).

Test demo article with hyphens slug set to it:
https://test-community-app.topcoder-dev.com/thrive/arti

[2020-05-07 14:34] Jobee1 commented on #4353
Verified in Test environment.

Attached screenshot for reference:
![Screenshot_2](https://user-images.githubusercontent.com/48575864/81306991-da9acf80-909f-11ea-9787-292a7aa7f044.png)

[2020-05-07 14:42] Jobee1 commented on #4354
Verified in Test environment:

Attached screenshot for reference:
With hyphens:
![Screenshot_3](https://user-images.githubusercontent.com/48575864/81307556-86441f80-90a0-11ea-8bbb-fd6589cb91ad.png)

With spaces:
![Screenshot_4](https://user-images.githubusercontent.com/48575864/81307619-9825c280-90a0-11ea-9b71-263aa2b88bf5.png)

[2020-05-07 15:20] SathyaJayabal commented on #2213
In summary we have the following  issues on the Past SRMS tabs on member profile
Member tested (https://www.topcoder.com/members/tourist/details/?track=DATA_SCIENCE&subTrack=SRM&tab=Past%20srm)
1. The SRM Cards do not display the points or placement info.
The stats history API returns these details
2. The past SRMs count is displayed wrong. The page shows 295 and Stats history api returns 259
3. T

[2020-05-08 04:51] SathyaJayabal commented on #4154
verified on test  env (`ga-hotfix` branch)
<img width="1132" alt="Screenshot 2020-05-08 at 10 19 40 AM" src="https://user-images.githubusercontent.com/58783823/81371481-90eccc00-9115-11ea-9ff8-73d4db8de91c.png">

[2020-05-08 04:53] SathyaJayabal commented on #4309
verified on test env (`ga-hotfix` branch)
<img width="1132" alt="Screenshot 2020-05-08 at 10 19 40 AM" src="https://user-images.githubusercontent.com/58783823/81371607-ede88200-9115-11ea-9d38-da24c40fa657.png">

[2020-05-08 05:05] SathyaJayabal commented on #4154
@luizrrodrigues we will  close this one along with #4309

[2020-05-08 05:08] SathyaJayabal commented on #4310
The challenge listings page was not loading for logged in users
https://topcoder.slack.com/archives/C53KB3T7Z/p1588149197295200?thread_ts=1588146011.293400&cid=C53KB3T7Z

[2020-05-08 06:56] SathyaJayabal commented on #4309
verified on beta env (`ga-hotfix` branch)
The events are tracked in the prod GA account. @luizrrodrigues is that fine?
<img width="1425" alt="Screenshot 2020-05-08 at 12 24 31 PM" src="https://user-images.githubusercontent.com/58783823/81379661-247ac880-9127-11ea-9d5c-a351bea53582.png">

[2020-05-08 08:55] skyhit commented on #4307
@sandhiyakavi @Jobee1 the deployment issue is fixed, can you retest? and for the pending issues, I can carry out as tasks.

@Oanh-and-only-Oanh FYI

[2020-05-08 09:33] SathyaJayabal commented on #4338
@mtwomey @luizrrodrigues @Oanh-and-only-Oanh
Tested  the `ga-hotfix`branch on beta env for the blank screen issue. The blank screen issue was
 encountered in the below places. When  we click on the browser back button from the blank screen the previous page also displays a blank screen. All other  pages were displayed correctly and no new issues found during the smoke test.
Sub community pages:
1.

[2020-05-08 09:59] harshitmehta123 commented on #2213
Thanks @SathyaJayabal for the detailed investigation :)

[2020-05-08 11:10] sandhiyakavi commented on #4307
Verified in Test Environment.

Login Page:
Login functionality and all the links are working fine.Found some discrepancies on comparing with the design (https://marvelapp.com/aeachji/screen/68473373) provided.
<img width="960" alt="Login_part1" src="https://user-images.githubusercontent.com/55895538/81399377-db963480-9165-11ea-8193-97aa02748bd7.png">

<img width="960" alt="Login_part2" src="https:

[2020-05-08 11:22] skyhit commented on #4307
@sandhiyakavi check this - https://marvelapp.com/aeachji/screen/68473371, but not completed

[2020-05-08 12:12] sandhiyakavi commented on #4307
@skyhit Checked the design ( https://marvelapp.com/aeachji/screen/68473371) but it doesn't have samples related to Error message

[2020-05-08 15:08] luizrrodrigues commented on #4309
@SathyaJayabal Yes, that is working as expected.

**Test** or **Dev** env = Tracking in Develop GA account
**Beta** env = Tracking in Production GA account

[2020-05-08 15:18] Oanh-and-only-Oanh commented on #4307
@sandhiyakavi @skyhit, no design for error message. Let's just use the current design in production.

@skyhit, please fix UI issues mentioned above.

[2020-05-08 17:29] luizrrodrigues commented on #4338
@SathyaJayabal

1. and 2. Can you please try clear cache and try again, looks for error you had shared and looks like the issue with CDN url.

[2020-05-08 17:30] LieutenantRoger commented on #2213
@topcoder-platform/topcodercompetitors Hi all, this ticket is open for pickup.

[2020-05-08 17:35] luizrrodrigues commented on #4336
@Oanh-and-only-Oanh @narekcat
The ticket to track the issue with `topcoder-react-lib` using Develop config in Production is this one: https://github.com/topcoder-platform/community-app/issues/4345

Already take a look and probably found the issue, I'll do some local test right now and give feedback on the ticket.

[2020-05-08 17:41] Oanh-and-only-Oanh commented on #4298
from James, "This has nothing to do with ui or v5. This is data that is stored in a spot that we weren’t migrating from because I wasn’t aware it existed. I’m working with thomas to do the one-time script to migrate this data forward. Once that’s done, it’ll be part of the v5 roll out."

[2020-05-08 17:45] Oanh-and-only-Oanh commented on #4336
@luizrrodrigues @narekcat, we need to resolve this asap. Please put your attention to this. thanks

[2020-05-08 17:46] luizrrodrigues commented on #4338
@SathyaJayabal

3. I see the issue, but it looks like this not related to the original issue related here.

I think we need to create a new issue to track the issue when trying access the Submission page via the Dashboard page.

So we can release the `ga-hotfix` to **community-app** to the recent release.

@Oanh-and-only-Oanh

[2020-05-08 17:47] luizrrodrigues commented on #4336
@Oanh-and-only-Oanh I'm checking fix to #4345 right now.

[2020-05-08 17:49] narekcat commented on #4336
@luizrrodrigues @Oanh-and-only-Oanh Ok.

[2020-05-08 17:53] SathyaJayabal commented on #4338
@luizrrodrigues
We already have an issue for 3.
I cant seem to reproduce 1 and 2. Let us go ahead with this and open a new issue in case we see 1 and 2 again. We don't want to delay the hotfix.
cc @Oanh-and-only-Oanh

[2020-05-08 19:10] LieutenantRoger commented on #2213
The work should be done against hot-fix-srm-data

[2020-05-08 19:10] narekcat commented on #2213
@LieutenantRoger Ok

[2020-05-08 22:46] luizrrodrigues commented on #4345
@Oanh-and-only-Oanh Issue found.

The origin of the issue was in this commit: https://github.com/topcoder-platform/topcoder-react-lib/commit/2106478707389fdbe0451ed25601d7efabedbce6#

This removed `NODE_ENV=` from package.json

[2020-05-08 22:46] luizrrodrigues commented on #4336
@Oanh-and-only-Oanh @narekcat

Issue found, please check: https://github.com/topcoder-platform/community-app/issues/4345#issuecomment-626051766

I'll prepare the branch run QA.

[2020-05-08 22:48] Oanh-and-only-Oanh commented on #4336
Great job @luizrrodrigues! Thanks

[2020-05-08 22:50] Oanh-and-only-Oanh commented on #4336
Let’s aim to close this ASAP. Tony and Glenn will be very happy know.

[2020-05-09 00:49] luizrrodrigues commented on #4336
![image](https://user-images.githubusercontent.com/7029641/81459330-c2957f80-9175-11ea-8b81-52af243ae525.png)

[2020-05-09 06:12] SathyaJayabal commented on #4309
@luizrrodrigues the change tab event is not tracked and we are getting a console error
<img width="1440" alt="Screenshot 2020-05-09 at 11 40 28 AM" src="https://user-images.githubusercontent.com/58783823/81465771-00cc8680-91ea-11ea-8b29-52faae05c757.png">

[2020-05-09 06:29] SathyaJayabal opened #4355 "Settings: Entered input disappears on resizing the window"
1. Go to any of the profile settings pages:
example: https://www.topcoder.com/settings/tools#software
2. Input data
3. Resize the window

actual:entered data is cleared
expected: entered data must not be cleared

[input.mov.zip](https://github.com/topcoder-platform/community-app/files/4602817/input.mov.zip)

[2020-05-09 07:51] SathyaJayabal commented on #4309
verified on beta (develop branch)
<img width="1437" alt="Screenshot 2020-05-09 at 1 20 06 PM" src="https://user-images.githubusercontent.com/58783823/81467673-f74a1b00-91f7-11ea-8399-8d4eb6e22ad0.png">

<img width="1440" alt="Screenshot 2020-05-09 at 1 19 52 PM" src="https://user-images.githubusercontent.com/58783823/81467668-ec8f8600-91f7-11ea-975b-926f51edcf58.png">

[2020-05-09 08:05] SathyaJayabal commented on #4309
verified on test(develop branch)
<img width="1138" alt="Screenshot 2020-05-09 at 1 35 02 PM" src="https://user-images.githubusercontent.com/58783823/81467964-f2866680-91f9-11ea-9466-369acb0fa822.png">

[2020-05-09 18:16] narekcat commented on #2213
Hi @LieutenantRoger. I have spend whole day, but couldn't fix this issue. I'll put it back for other competitors.

[2020-05-09 20:36] luizrrodrigues commented on #4336
@SathyaJayabal This one ready to QA in Beta env.

You can check with this challenge:
https://beta-community-app.topcoder.com/challenges/30123533?tab=submissions
https://www.topcoder.com/challenges/30123533?tab=submissions

[2020-05-10 03:22] LieutenantRoger commented on #2213
No problem,  thanks for the update. @narekcat

[2020-05-10 12:42] PrakashDurlabhji commented on #2213
@LieutenantRoger @SathyaJayabal @Oanh-and-only-Oanh I can solve it, also proposing solution/doubt which I found after going through the code and flow line by line.

there are 3 apis in use

1. Stats api - **https://api.topcoder.com/v3/members/tourist/stats**
2. History api - **https://api.topcoder.com/v3/members/tourist/stats/history**
3. where SRM comes from in past srm tab - **https://api.topcod

[2020-05-10 12:59] LieutenantRoger commented on #2213
Hi @PrakashDurlabhji

Thanks for the detail update.

I want to clarify that, we are in the process of retiring v3 and v4 api.
And v5 will be used going forward.  Above questions may or may not exist in v5.

I purpose we postpone the problem until the v5 API migration is finished, then we re-verify the issues under this ticket. So I suggest @PrakashDurlabhji please don't continue fix the problem ag

[2020-05-10 13:02] PrakashDurlabhji commented on #2213
@LieutenantRoger can I get atleast some prize for this detailed efforts? thanks

[2020-05-11 01:25] skyhit commented on #4307
@sandhiyakavi new changes are in dev, please recheck.

and per talking to @Oanh-and-only-Oanh and @Dara-K we will use text `Log In` instead of `Login`, so if it is still left anywhere, we need to change that.

[2020-05-11 05:26] sandhiyakavi commented on #4307
Verified in Test Environment.

Login Page:
1. Login functionality and all the links are working fine.
2. The Social media names in the page are displayed in Capital letter whereas in design (https://marvelapp.com/aeachji/screen/68473373) it is not like that.Same in Registration page also.

<img width="960" alt="login_socialmedia" src="https://user-images.githubusercontent.com/55895538/81526701-51c

[2020-05-11 05:32] SathyaJayabal commented on #4336
@luizrrodrigues , verified on beta
The virus scan review  score is not displayed.
<img width="516" alt="Screenshot 2020-05-11 at 11 00 21 AM" src="https://user-images.githubusercontent.com/58783823/81527008-d4924080-9376-11ea-830a-5aec50fbc14e.png">
<img width="1440" alt="Screenshot 2020-05-11 at 11 01 19 AM" src="https://user-images.githubusercontent.com/58783823/81527011-d52ad700-9376-11ea-9484-

[2020-05-11 06:02] SathyaJayabal commented on #4345
@luizrrodrigues , how de we verify this issue. Will verification of #4336 cover this one too?

[2020-05-11 11:08] luizrrodrigues commented on #4345
Yes, this one fix #4336 issue.

To verify, just check the AV Scan ID, `topcoder-react-lib` have a configuration file to dev and prod env.

**topcoder-react-lib**
[code]

[2020-05-11 11:17] SathyaJayabal commented on #4345
verified on beta.
<img width="516" alt="Screenshot 2020-05-11 at 11 00 21 AM" src="https://user-images.githubusercontent.com/58783823/81555972-2226a180-93a7-11ea-836e-0be5df0f77f1.png">

<img width="993" alt="Screenshot 2020-05-11 at 4 46 25 PM" src="https://user-images.githubusercontent.com/58783823/81555959-1b982a00-93a7-11ea-9f17-3da32eb5b64a.png">

[2020-05-11 14:58] Oanh-and-only-Oanh commented on #4293
@gondzo , per your discussion with @RishiRajSahu, please provide backend support.

[2020-05-11 15:18] narekcat commented on #4291
@skyhit @Oanh-and-only-Oanh - Any update on this issue ?

[2020-05-11 16:08] SathyaJayabal commented on #4336
@luizrrodrigues, we should also ignore the unknown review type, because  this will cause the issue to come back when the submissions processor is released (since submissions processor is on dev env and we still see the  issue in dev)
cc @Oanh-and-only-Oanh

[2020-05-11 16:18] Oanh-and-only-Oanh commented on #4336
We’ll verify again in PROD since it shouldn’t be a problem there.

On Mon, May 11, 2020 at 9:08 AM SathyaJayabal <notifications@github.com>
wrote:

--

<https://www.topcoder.com/>

*Oanh Tran*

Product Manager, Community App

732-353-9457

www.topcoder.com  | @topcoder <http://twitter.com/topcoder>

[2020-05-11 21:10] Oanh-and-only-Oanh commented on #4350
@jswheeler fyi

[2020-05-12 00:25] skyhit commented on #4307
@sandhiyakavi made some UI update, can you recheck?

[2020-05-12 04:02] sandhiyakavi commented on #4307
@skyhit Login and Registration process are working fine but not able to Logout of the application in Dev Environment.
It is directing to the Prod URL www.topcoder.com

Attached video for reference
[Logout_process_failing.zip](https://github.com/topcoder-platform/community-app/files/4613314/Logout_process_failing.zip)

[Registrationpage_pass.zip](https://github.com/topcoder-platform/community-app/f

[2020-05-12 06:46] SathyaJayabal commented on #4338
Verified on beta (develop branch). Completed a smoke test. Tested the following scenarios for the blank screen issue:

- Logout and login and then access the page

- Be inactive in a page for 10 mins(for token expiry) and then refresh  the page

- Access the pages directly through the URL

- Clear the cache and access the page

- Test in incognito mode

[2020-05-12 08:34] SathyaJayabal opened #4360 "Topgear site not loading: 502 error"
https://topgear.topcoder.com/  always  throws  a 502 error sometimes after  the community app release. The issue  resolves itself after some time

<img width="1440" alt="Screenshot 2020-05-12 at 2 03 16 PM" src="https://user-images.githubusercontent.com/58783823/81661235-71c5a580-9459-11ea-9831-abd54d373057.png">

[2020-05-12 09:00] SathyaJayabal commented on #4309
verified on prod.
<img width="1440" alt="Screenshot 2020-05-12 at 12 43 45 PM" src="https://user-images.githubusercontent.com/58783823/81662839-c538f300-945b-11ea-9e44-4148ec4bef32.png">

[2020-05-12 09:00] #4309 closed

[2020-05-12 09:02] SathyaJayabal commented on #4338
Verified on prod.

[2020-05-12 09:02] #4338 closed

[2020-05-12 09:18] Dara-K commented on #4307
@Oanh-and-only-Oanh  @sandhiyakavi  @skyhit  The last page of the design is showing the different states of component which includes the error state as well: https://marvelapp.com/aeachji/screen/68473374. Please update the code to reflect that.

[2020-05-12 09:42] SathyaJayabal commented on #4336
Verified on beta (develop branch)
<img width="626" alt="81527000-d1975000-9376-11ea-994e-d8fbe15b8407" src="https://user-images.githubusercontent.com/58783823/81668805-d1747e80-9462-11ea-9891-f84fe99dfe8a.png">
<img width="1440" alt="Screenshot 2020-05-12 at 3 09 10 PM" src="https://user-images.githubusercontent.com/58783823/81668816-d5a09c00-9462-11ea-9f6b-04e20731ba21.png">

[2020-05-12 09:45] SathyaJayabal commented on #4345
Verified on beta (develop branch)
<img width="993" alt="81555959-1b982a00-93a7-11ea-9f17-3da32eb5b64a" src="https://user-images.githubusercontent.com/58783823/81669068-43e55e80-9463-11ea-8c4b-895d29d608fd.png">
<img width="1440" alt="Screenshot 2020-05-12 at 3 13 17 PM" src="https://user-images.githubusercontent.com/58783823/81669078-48117c00-9463-11ea-8017-64461f67e1c8.png">

[2020-05-12 11:57] sandhiyakavi opened #4361 "Communities Page: Getting "Failed to fetch sub-communities listing" error occasionally."
Description:

Getting "Failed to fetch sub-communities listing" error occasionally in the following pages.
1. Challenge listing page
2. Challenge detail page and
3.On clicking the My Communities tab of Dashboard page.

Screenshot:
![image (3)](https://user-images.githubusercontent.com/55895538/81685465-06002e80-9493-11ea-996b-8cced5883ecb.png)

[2020-05-12 12:01] SathyaJayabal commented on #4361
@dushyantb groups api seems to down many times and we get this error, Is this  a front-end or api issue?
cc @lakshmiathreya @sushilshinde

[2020-05-12 12:16] #4312 closed

[2020-05-12 12:17] SathyaJayabal commented on #4154
closed through #4309

[2020-05-12 12:17] #4154 closed

[2020-05-12 15:00] lakshmiathreya commented on #4361
cc @Oanh-and-only-Oanh

[2020-05-12 15:43] Oanh-and-only-Oanh commented on #2213
closing to pay member partial prize for work and then re-opening ticket as it is not resolved yet.

[2020-05-12 15:56] Oanh-and-only-Oanh commented on #2213
FYI, the point is during the challenge api v5 integration, this page will be worked on so it could be fixed. not that all these apis (member, stats, challenge) are at fault, the page uses these apis to get the data. the best thing would be to see how the page works after v5 challenge api integration, and then decide on a fix.
so going live with v5 challenge api may not automatically mean this will

[2020-05-12 16:10] Oanh-and-only-Oanh commented on #4361
@lakshmiathreya and @SathyaJayabal, FYI, this "My communities" section of the dashboard will NOT be in the new version of the dashboard. If this is an issue on the challenge listings page, then we should resolve. But if this is just occurring on the current dashboard, we will not resolve as work on new dashboard will begin in few weeks.

[2020-05-12 16:13] SathyaJayabal commented on #4361
@Oanh-and-only-Oanh this issue happens on the challenge listings and details page too.

[2020-05-12 16:26] PrakashDurlabhji commented on #2213
@Oanh-and-only-Oanh @LieutenantRoger thanks for the prize , and  would also like to surely continue on this after v5 api integration if issue persists.

[2020-05-12 16:26] dushyantb commented on #4361
I'm not having any idea about this, also from the screenshot it is not clear whether that is `groups-api` which is causing the problem or not

[2020-05-12 18:53] sumitdaga commented on #4239
@skyhit @Oanh-and-only-Oanh  any update ?

[2020-05-12 20:14] mtwomey commented on #4350
Note clicking "the button" that we're adding should just generate an email. The language should probably me more along the lines of "Click here to send an email to support to request review ro removal of your information. Support will need to follow up to clarify what the user wants exactly. Otherwise, we'll need two buttons (one for request data and one for delete) or a whole new form and we prob

[2020-05-12 21:56] mtwomey commented on #4306
As for the page where user's choose - let’s just build it into the marketing site. quesks should be able to help here. It just need to offer the two options and direct the user to accounts app with the appropriate return URL set.

[2020-05-13 00:41] skyhit commented on #4307
@Dara-K thanks, I will make the change.

@sandhiyakavi for Logout, I guess that is more related to dev environment setup, not related to latest change.

[2020-05-13 05:08] gondzo commented on #4316
@Oanh-and-only-Oanh I'm not sure which data loader manages skills verification. Any ideas @ajefts @RishiRajSahu ?

[2020-05-13 05:26] skyhit commented on #4304
@sushilshinde code changes is ready for review, https://github.com/topcoder-platform/navigation-component/pull/174.

@Oanh-and-only-Oanh  FYI

[2020-05-13 06:39] RishiRajSahu commented on #4316
@gondzo Are they part of loaders in first place, I mean does loaders push skills data to dynamo ?

@urwithat Which table in dynamo is responsible for skills data and how does that tables gets populated ?

[2020-05-13 11:02] sandhiyakavi commented on #4336
verified in Production.Working as Expected.

<img width="960" alt="mm" src="https://user-images.githubusercontent.com/55895538/81804754-9c485900-9554-11ea-8b8d-d4c0743df06c.png">

[2020-05-13 11:03] sandhiyakavi commented on #4345
Verified in Production Env. Working as Expected.

[2020-05-13 11:05] crazyk07 commented on #4336
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-13 11:05] #4345 closed

[2020-05-13 11:09] #4336 closed

[2020-05-13 11:10] crazyk07 commented on #4336
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124030<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-13 12:27] luizrrodrigues commented on #4297
@Oanh-and-only-Oanh Can you confirm if URL is right, looks like not present in Dev:
https://www.topcoder-dev.com/community/practice

[2020-05-13 13:20] narekcat commented on #4291
@skyhit Any updates on this issue. Please reply.

[2020-05-13 13:21] narekcat commented on #4293
@Oanh-and-only-Oanh @skyhit    Can I get my payment ?

[2020-05-13 15:50] skyhit commented on #4307
@Dara-K @sandhiyakavi some update applied, please retest, thanks

[2020-05-13 16:11] mtwomey opened #4363 "Remove / replace specific AWS CF reference in config / env var"
**Is your feature request related to a problem? Please describe.**

When CF distribution changes the application breaks. This is currently defined both in code (production.js) and in the S3 env variable files:

[code]

**Describe the solution you'd like**
Remove from both config and s3 env (code changes may be needed)

**Describe alternatives you've considered**
A clear and concise description of

[2020-05-13 16:14] Oanh-and-only-Oanh commented on #4293
closing to pay member partial payment and then reopening

[2020-05-13 16:15] crazyk07 commented on #4293
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123537<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-13 16:19] narekcat commented on #4291
@Oanh-and-only-Oanh What will be with this issue ?

[2020-05-13 17:19] sachin-maheshwari commented on #4350
@mtwomey i think we can use tc-email for sending mail to support@topcoder.com. But there is no direct api call for tc-email (its kafka consumer), in this case we can develop new member-api call to take this request and publish it to particular Kafka topic, from there tc-email service will send the mail to support@topcoder.com. make sense ?

[2020-05-13 17:29] luizrrodrigues commented on #4297
The navigation is ready in `nav-practice` branch:
https://github.com/topcoder-platform/community-app/pull/4364

On ~HOLD until we have page ready too.

![Screen Shot 2020-05-13 at 14 23 11](https://user-images.githubusercontent.com/7029641/81844865-1ca39580-9526-11ea-85a4-a5a80265512f.png)
![Screen Shot 2020-05-13 at 14 22 10](https://user-images.githubusercontent.com/7029641/81844868-1dd4c280-952

[2020-05-13 17:38] Oanh-and-only-Oanh commented on #4101
please hold work on this until end of June

[2020-05-13 19:52] Oanh-and-only-Oanh commented on #4361
please hold work on this until end of June.

[2020-05-13 19:53] Oanh-and-only-Oanh commented on #4293
hold on this until end of June

[2020-05-13 19:54] Oanh-and-only-Oanh commented on #4239
closing this issue to pay out member but then reopening. Hold work until end of June.

[2020-05-13 19:55] crazyk07 commented on #4239
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122326<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-14 01:54] skyhit commented on #4291
@narekcat sorry for late response, we are struggled to QA this in our beta environment, I will work on this proactive to solve or provide response.

[2020-05-14 05:36] sandhiyakavi commented on #4307
@skyhit  Verified the applied changes.Need clarification regarding the error message displayed in Login page.

In Existing Login page if the username is incorrect, a redline will be displayed in the textbox along with message but in current design the box is not highlighted in red colour.Is it the expected behaviour?

<img width="957" alt="comparison" src="https://user-images.githubusercontent.com

[2020-05-14 06:10] sandhiyakavi opened #4365 "[$55] Account Settings: Error message is displayed while trying to change the Email address first time"
Description:
Error message "ERROR: Failed to update user profile!" is displayed while trying to change the Email address first time but the error message is not shown after refreshing the page.

Steps to Reproduce:

1. Clear all the Cache in the browser.
2. Login to Topcoder.
3. Go to "https://www.topcoder.com/settings/account"
4. Click Change Email button.
5. Enter a new valid Email.
6. Click Sen

[2020-05-14 07:44] lakshmiathreya commented on #4363
@mtwomey - this should be P1 - IMO - AWS CF not being referenced in code would have prevented the recent hotfix ...
cc @SathyaJayabal

[2020-05-14 08:46] Dara-K commented on #4307
Hi @sandhiyakavi

We should be using the second  layout for errors (we're following Google Material Design). Please tag me if you have any such issues.

In addition, I went in details over the look of the registration and login pages and fond some visual issues. cc @Oanh-and-only-Oanh  @skyhit
1.	Labels:  if we have a label with 2 or more words, let’s keep the secondary words to start with lower c

[2020-05-14 08:55] skyhit commented on #4307
@Oanh-and-only-Oanh should I work on another fix?

[2020-05-14 13:09] SathyaJayabal commented on #4333
The my challenges in the listings page is not displaying the correct count

[2020-05-14 13:23] SathyaJayabal opened #4366 "Error on registering to a challenge"
1. Go to the challenge details page of any open to register challenge
2. Click on register button

expected: member is registered to  challenge. No error message displayed.
actual: error message is displayed, But on refreshing the page, the member is registered.
<img width="1608" alt="Screenshot 2020-05-14 at 6 44 21 PM" src="https://user-images.githubusercontent.com/58783823/81939618-2dcad000-961

[2020-05-14 13:25] SathyaJayabal commented on #4366
This happens occasionally.

[2020-05-14 17:20] Oanh-and-only-Oanh commented on #4307
@skyhit we can't do another design fix at this point. @SathyaJayabal please confirm that besides these design bugs, all functionality is fine.

[2020-05-14 17:26] urwithat commented on #4316
@RishiRajSahu  - There are two tables - MemberAggregatedSkills & MemberEnteredSkills
MemberEnteredSkills - Gets updated via https://api.topcoder.com/v3/members/upbeat/skills get / post
MemberAggregatedSkills -  contains details on skills that have been added from participating in. Not sure how this is added!

[2020-05-14 17:52] Dara-K commented on #4307
:(  Can we at least change the red color to what we have for the brand? #EF476F @Oanh-and-only-Oanh

[2020-05-14 18:12] Oanh-and-only-Oanh commented on #4307
@Dara-K not sure if you're aware but we'll be moving to Auth0 which comes with its own set of design restrictions. we will only have these new designs in place for a few months until the switch over.

[2020-05-14 19:41] Dara-K commented on #4307
No, I wasn't aware of that. Thanks for the note.

[2020-05-15 04:33] sandhiyakavi commented on #4307
@skyhit @Oanh-and-only-Oanh  Verified in Dev Environment.Both Registration and Login functionality are working fine.

[new_registration_pass.zip](https://github.com/topcoder-platform/community-app/files/4632223/new_registration_pass.zip)
[new_login_pass.zip](https://github.com/topcoder-platform/community-app/files/4632225/new_login_pass.zip)

[2020-05-15 05:31] sandhiyakavi commented on #4335
The above mentioned issues still exists in Dev Environment.

[2020-05-15 05:33] Jobee1 commented on #4319
Tested in dev Environment.
The count is displayed only for "All Challenges" and no count is displayed for other.

![Screenshot_12](https://user-images.githubusercontent.com/48575864/82015058-9f029580-969d-11ea-8f79-8c1bc647a682.png)

[2020-05-15 05:34] Jobee1 commented on #4318
This issue still persists in Dev environment.

[2020-05-15 05:52] Jobee1 commented on #4321
This issue still exists in Dev environment.

[2020-05-15 05:55] sandhiyakavi commented on #4325
Retested in Dev environment.My dashboard page is displaying blank screen.

[2020-05-15 05:59] Jobee1 opened #4367 "Challenge Listing: Disabling individual tracks from the filter displays blank page."
Challenge Listing: Disabling either "Data Science" or "Development" or "Design" from the filter displays blank page.

Attached Screenshot/Video for reference:

![Screenshot_13](https://user-images.githubusercontent.com/48575864/82016741-6795e800-96a1-11ea-92c7-317e685e145d.png)

[data_science_blank_page.zip](https://github.com/topcoder-platform/community-app/files/4632526/data_science_blank_page.z

[2020-05-15 06:00] sandhiyakavi commented on #4333
Retested the issue in Dev Environment.Getting the error "Failed to get member active challenges" on clicking the history stats section.

![image](https://user-images.githubusercontent.com/55895538/82016820-cddc3400-96bc-11ea-9f8c-2e5724b9fc3d.png)

[2020-05-15 06:09] sandhiyakavi commented on #4328
Retested the issue.The challenges are not getting displayed in the Profile history stats now.

![image](https://user-images.githubusercontent.com/55895538/82017352-ed279100-96bd-11ea-86fa-b789810ac6f5.png)

[2020-05-15 06:15] sandhiyakavi commented on #4330
Retested in Dev Environment.Issue still exists.

[2020-05-15 06:33] nursoltan-s opened #4368 "Challenge Listing: Clear Filters Button not deleting localStorage."
**Description**
In Challenge Listing Page "Clear filters" button clears filters in front-end, but does not clear from localStorage.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/challenges'
2. Open pane by clicking 'Filters' button
3. change start and end date/
4. Clear filter by clicking "Clear Filters" button.
4. Refresh the page. Filter preserved.

**Expected behavior**
After pa

[2020-05-15 06:34] sandhiyakavi commented on #4329
Retested in Dev Environment. Issue still exists.

[2020-05-15 07:07] #4367 closed

[2020-05-15 07:07] Jobee1 commented on #4322
Tested in dev environment.

Challenge Listing: Disabling either "Data Science" or "Development" or "Design" from the filter displays blank page.

Attached Screenshot/Video for reference:
![Screenshot_13](https://user-images.githubusercontent.com/48575864/82021654-ef342480-96aa-11ea-92a6-6b132434cf9c.png)

[data_science_blank_page.zip](https://github.com/topcoder-platform/community-app/files/463275

[2020-05-15 07:59] sandhiyakavi commented on #4324
Retested the issue.Sub track filter is working fine now.

![image](https://user-images.githubusercontent.com/55895538/82026143-4a770e80-96cd-11ea-9393-7688283ca91f.png)

Hence closing the issue.

[2020-05-15 07:59] #4324 closed

[2020-05-15 09:44] SathyaJayabal commented on #4332
branch has been synced with develop

[2020-05-15 09:44] #4332 closed

[2020-05-15 11:24] sandhiyakavi commented on #4307
Verified in Dev Environment. working as expected.

[Registration_dev_pass.zip](https://github.com/topcoder-platform/community-app/files/4634031/Registration_dev_pass.zip)
[Login_Dev_pass.zip](https://github.com/topcoder-platform/community-app/files/4634034/Login_Dev_pass.zip)

[2020-05-15 14:59] SathyaJayabal opened #4369 "Marathon Match Provisional Score: Ignore All unknown review types"
In API calls that get submissions (i.e. https://api.topcoder.com/v5/submissions?challengeId=30120970&page=1&perPage=500), you'll see a review array. The app needs to check the typeID to determine the review type. The scores posted on the leaderboard should not be the typeID that maps to AV Scan. You'll notice some submissions have 1 review record while others have multiple review records. The app

[2020-05-15 16:09] PSWanjari opened #4370 "Not able to select date from date-selector in profile#work while editing Organisation end and start date"
**Describe the bug**
When you navigate to Profile->Work page, and try to add a company. In this process of adding a organisation when you try to add "Company End " and "Company start" Date , you are unable to do so as some of the dates hide behind the footer of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Profile->Work page
2. Click on "Add Work experience"
3.Select "End d

[2020-05-18 06:40] 0xf17 opened #4371 "Unable to delete submissions"
**Describe the bug**
Submissions are not getting deleted after delete request.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any challenge page (that you are already registered and made a submission for)
2. Click on View Submissions
3. Select a submission that you wish to delete
4. Confirm delete

**Expected behavior**
Submission should get deleted and disappear from the my submissio

[2020-05-18 15:44] Oanh-and-only-Oanh commented on #4371
Thanks for reporting. Correct, this is a known feature that's not working. We have this on our roadmap.

[2020-05-18 17:30] Oanh-and-only-Oanh opened #4373 "Hackerone issue"
Remove this newsletter subscription feature.
![image](https://user-images.githubusercontent.com/47536078/82254652-15a2cb80-9908-11ea-9c6d-2c001282b467.png)

[2020-05-18 17:33] jswheeler commented on #4373
https://topcoder.atlassian.net/browse/VULN-1809

[2020-05-18 18:15] Oanh-and-only-Oanh commented on #4306
link in staging is https://www.topcoder.com/staging/memberaccount/
password is m3mb3r4cc0unt

[2020-05-18 19:44] hokienick opened #4374 "Add Events Calendar to Footer"
We need to add the Events Calendar to the footer.

- "Events Calendar"
- Place under "Community"
- Link to: topcoder.com/community/events
- Make sure this column is alphabetized

[2020-05-19 09:00] SathyaJayabal commented on #4307
verified on  prod
<img width="1440" alt="Screenshot 2020-05-19 at 2 24 42 PM" src="https://user-images.githubusercontent.com/58783823/82306803-240ee700-99dd-11ea-88f0-7eb3321949f0.png">
<img width="1440" alt="Screenshot 2020-05-19 at 2 24 52 PM" src="https://user-images.githubusercontent.com/58783823/82306845-34bf5d00-99dd-11ea-9fcd-a0354dde0e49.png">

[2020-05-19 09:19] #4307 closed

[2020-05-19 09:26] SathyaJayabal commented on #4286
verified on beta(develop branch)
<img width="1440" alt="Screenshot 2020-05-19 at 2 54 19 PM" src="https://user-images.githubusercontent.com/58783823/82309392-b369c980-99e0-11ea-8827-60a81991ae2c.png">

[2020-05-19 10:52] SathyaJayabal commented on #3972
verified on beta(develop branch)
[3972.mov.zip](https://github.com/topcoder-platform/community-app/files/4649539/3972.mov.zip)

[2020-05-19 11:04] Dara-K commented on #4307
Hey @SathyaJayabal
The textboxes should not change their colors once they are filled. Should stay white as before.

[2020-05-19 12:37] SathyaJayabal opened #4375 "[$50]Challenge Listings: Challenge count"
Only 15 challenges are displayed
<img width="1440" alt="Screenshot 2020-05-19 at 6 06 29 PM" src="https://user-images.githubusercontent.com/58783823/82327083-8080ff00-99fb-11ea-95e1-d631acff6c9c.png">

[2020-05-19 12:48] SathyaJayabal opened #4376 "Challenge Listing: No challenges found message displayed before challenges are loaded"
Challenge Listing: No challenges found message displayed before challenges are loaded
[challenge loading.mov.zip](https://github.com/topcoder-platform/community-app/files/4650473/challenge.loading.mov.zip)

[2020-05-19 12:56] SathyaJayabal opened #4377 "[$50]Challenge Listings: All challenges are shown in Open for Registration even though some are in Ongoing Challenges. No challenges in My Challenges"
All challenges are shown in Open for Registration even though some are in Ongoing Challenges. No challenges in My Challenges
<img width="1440" alt="Screenshot 2020-05-19 at 6 23 59 PM" src="https://user-images.githubusercontent.com/58783823/82328908-1ae24200-99fe-11ea-8afc-ad10e210e0c4.png">

[2020-05-19 12:56] SathyaJayabal opened #4378 "[$50]My Dashboard: Blank page is displayed"
On accessing the dashboard, "Failed to get Financial Info" and "Failed to load SRMs" errors are displayed followed by a blank page.
[dashboard.mov.zip](https://github.com/topcoder-platform/community-app/files/4650532/dashboard.mov.zip)

[2020-05-19 12:59] SathyaJayabal opened #4379 "[$40]Challenge Listings: MM challenge link loading legacy page"
MM challenge link loading legacy page
<img width="1440" alt="Screenshot 2020-05-19 at 6 27 32 PM" src="https://user-images.githubusercontent.com/58783823/82329108-71e81700-99fe-11ea-932e-bb48806e59c8.png">

[2020-05-19 13:02] SathyaJayabal opened #4380 "[$90]Challenge Details: Unable to register"
Getting an error when trying to register.
[regsiter.mov.zip](https://github.com/topcoder-platform/community-app/files/4650590/regsiter.mov.zip)

[2020-05-19 13:05] SathyaJayabal opened #4381 "[$60]Challenge Details: Only details tab present"
Only details tab present in All Challenges:
<img width="1440" alt="Screenshot 2020-05-19 at 6 34 31 PM" src="https://user-images.githubusercontent.com/58783823/82329764-6cd79780-99ff-11ea-9b54-4ac2bae7f014.png">

Clicking on Winners tabs in past challenges loads a blank page
<img width="1440" alt="Screenshot 2020-05-19 at 6 35 11 PM" src="https://user-images.githubusercontent.com/58783823/82329827

[2020-05-19 13:06] SathyaJayabal opened #4382 "Challenge details: Only details tab present"
Challenge details: Only details tab present
<img width="1440" alt="Screenshot 2020-05-19 at 6 31 50 PM" src="https://user-images.githubusercontent.com/58783823/82329493-0783a680-99ff-11ea-8cab-84dedbf70e4c.png">

[2020-05-19 13:11] SathyaJayabal opened #4383 "[$50]Member Profile: Stats History"
accessing the stats history page displays error "Failed to get member active challenges"
https://test-community-app.topcoder-dev.com/members/dan_developer/details/?track=DEVELOP&subTrack=CODE
<img width="1440" alt="Screenshot 2020-05-19 at 6 40 50 PM" src="https://user-images.githubusercontent.com/58783823/82330370-63026400-9a00-11ea-82ac-01feadc455e5.png">

[2020-05-19 13:48] SathyaJayabal opened #4384 "[$100]Challenge Listings: My Challenges Bucket Section not displayed"
My Challenges section not displayed.
<img width="1440" alt="Screenshot 2020-05-19 at 7 18 00 PM" src="https://user-images.githubusercontent.com/58783823/82334344-795eee80-9a05-11ea-8cf4-382dfe2ca591.png">

[2020-05-19 22:04] mtwomey commented on #4350
Ok - I had an internal discussion on this with a couple of folks. I think for this, instead of creating a new service - we should just wire the button up in Community-App (backend) and let community-app use it's own m2m token to generate the email by calling tc-bus-api. Thoughts on that @sachin-maheshwari ?

[2020-05-20 06:05] sachin-maheshwari commented on #4350
@mtwomey I am fine with any one way(either from community-app or from member-api, internally this app can use tc-bus to send message on kafka-topic).

At tc-email end , i need to map the kafka-topic and sendgrid-template for sending mail.

[2020-05-20 06:36] SathyaJayabal commented on #3969
verified on beta (develop branch)
[3969.mov.zip](https://github.com/topcoder-platform/community-app/files/4655013/3969.mov.zip)

[2020-05-20 06:39] SathyaJayabal commented on #3968
Verified on beta(develop branch)
[3968.mov.zip](https://github.com/topcoder-platform/community-app/files/4655019/3968.mov.zip)

[2020-05-20 06:43] SathyaJayabal commented on #3960
verified on beta (develop branch)
[3960.mov.zip](https://github.com/topcoder-platform/community-app/files/4655025/3960.mov.zip)

[2020-05-20 06:45] SathyaJayabal commented on #4050
verified on beta(develop branch)
<img width="1440" alt="Screenshot 2020-05-20 at 12 12 34 PM" src="https://user-images.githubusercontent.com/58783823/82413588-3fd4c480-9a93-11ea-90ca-e9e89a69a248.png">

[2020-05-20 06:45] SathyaJayabal commented on #4058
verified on beta(develop branch)
<img width="1440" alt="Screenshot 2020-05-20 at 12 15 10 PM" src="https://user-images.githubusercontent.com/58783823/82413771-93471280-9a93-11ea-9c28-aacf2db3f752.png">

[2020-05-20 06:47] SathyaJayabal commented on #4344
Verified on beta(develop branch)
<img width="1440" alt="Screenshot 2020-05-20 at 12 17 07 PM" src="https://user-images.githubusercontent.com/58783823/82413932-e02ae900-9a93-11ea-964d-73044256302f.png">

[2020-05-20 08:01] SathyaJayabal commented on #4370
tracked here
https://github.com/topcoder-platform/community-app/issues/4294

[2020-05-20 08:01] #4370 closed

[2020-05-20 15:34] skyhit commented on #4350
@mtwomey @sachin-maheshwari what I can step in and help with?

[2020-05-20 15:59] Oanh-and-only-Oanh commented on #4350
@skyhit, I think once sachins and Matt finalize the logic and backend, we would like you to help with developing front end button on members profile settings page. I will get you more details on language.

[2020-05-21 02:09] mtwomey opened #4386 "Test - deleteme"
Delete this.
- [ ] Thing 1

![image](https://app.gitkraken.com/api/glo/boards/5ec5e214a24f5a001182d49c/attachments/5ec5e3aea24f5a001182d4e3)

[2020-05-21 02:14] mtwomey commented on #4386
Comment 1

[2020-05-21 02:14] #4386 closed

[2020-05-21 04:30] mtwomey commented on #4350
Ok - @sachin-maheshwari if you can get the tc-email and kafka setup. @Oanh-and-only-Oanh let's add this to community-app board for the firing of kafka event.

[2020-05-21 07:40] SathyaJayabal commented on #4165
verified that this is reverted on develop branch (beta env)
<img width="1440" alt="Screenshot 2020-05-21 at 1 09 39 PM" src="https://user-images.githubusercontent.com/58783823/82535415-6f9fcd00-9b64-11ea-9d4c-a3a79c330bc9.png">

[2020-05-21 08:14] SathyaJayabal opened #4389 "Talk to Sales link from community app footer goes to 404"
Talk to Sales link from community app footer goes to 404
https://www.topcoder.com/contact-us/
<img width="1440" alt="Screenshot 2020-05-21 at 1 39 43 PM" src="https://user-images.githubusercontent.com/58783823/82538151-e76ff680-9b68-11ea-8036-f795458e8e54.png">

[2020-05-21 10:01] sushilshinde opened #4390 "Cloud front caching issues"
Browsers caching old CDN url, and breaking pages

[2020-05-21 10:47] SathyaJayabal commented on #4286
verified on prod
<img width="1440" alt="Screenshot 2020-05-21 at 4 14 19 PM" src="https://user-images.githubusercontent.com/58783823/82551629-2bb9c180-9b7e-11ea-8afd-1cb154217294.png">

[2020-05-21 10:47] #4286 closed

[2020-05-21 10:54] SathyaJayabal commented on #4050
verified on prod
<img width="1440" alt="Screenshot 2020-05-21 at 4 22 38 PM" src="https://user-images.githubusercontent.com/58783823/82552225-56f0e080-9b7f-11ea-8325-edb9f9570070.png">

[2020-05-21 10:54] #4050 closed

[2020-05-21 10:54] SathyaJayabal commented on #3972
verified on prod
[3972.mov.zip](https://github.com/topcoder-platform/community-app/files/4662010/3972.mov.zip)

[2020-05-21 10:54] #3972 closed

[2020-05-21 11:03] SathyaJayabal commented on #3960
verified on prod

[3960.mov.zip](https://github.com/topcoder-platform/community-app/files/4662033/3960.mov.zip)

[2020-05-21 11:03] #3960 closed

[2020-05-21 11:03] SathyaJayabal commented on #4058
verified on prod
<img width="1440" alt="Screenshot 2020-05-21 at 4 25 33 PM" src="https://user-images.githubusercontent.com/58783823/82552461-c666d000-9b7f-11ea-97ea-d0cc47a34da4.png">

[2020-05-21 11:03] #4058 closed

[2020-05-21 11:05] SathyaJayabal commented on #4344
verified on prod
<img width="1440" alt="Screenshot 2020-05-21 at 4 34 27 PM" src="https://user-images.githubusercontent.com/58783823/82553065-f82c6680-9b80-11ea-9093-c6ca4402f95d.png">

[2020-05-21 11:05] #4344 closed

[2020-05-21 11:10] SathyaJayabal commented on #3969
verified on prod
[3969.mov.zip](https://github.com/topcoder-platform/community-app/files/4662091/3969.mov.zip)

[2020-05-21 11:10] #3969 closed

[2020-05-21 11:19] sushilshinde commented on #4390
resolved by @mtwomey

[2020-05-21 11:19] #4390 closed

[2020-05-21 11:20] SathyaJayabal commented on #3968
verified on prod
[3968.mov.zip](https://github.com/topcoder-platform/community-app/files/4662102/3968.mov.zip)

[2020-05-21 11:20] #3968 closed

[2020-05-21 19:44] 88wasgreat opened #4391 "Google Web Browser Classification"
When I go to the TCO page I get a  message from my web browser stating that the site is "not secure."

[2020-05-22 02:46] sushilshinde commented on #4384
When I did merge myself it is working

https://github.com/topcoder-platform/community-app/tree/feature-challenge-v5-sushil
https://github.com/topcoder-platform/topcoder-react-lib/tree/feature-challenge-v5-sushil

[2020-05-22 02:50] crazyk07 commented on #4384
Contest https://www.topcoder.com/challenges/30126379 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 02:50] crazyk07 commented on #4384
Contest https://www.topcoder.com/challenges/30126379 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 03:03] crazyk07 commented on #4381
Contest https://www.topcoder.com/challenges/30126380 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 03:03] crazyk07 commented on #4381
Contest https://www.topcoder.com/challenges/30126380 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 03:05] crazyk07 commented on #4380
Contest https://www.topcoder.com/challenges/30126381 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 03:05] crazyk07 commented on #4380
Contest https://www.topcoder.com/challenges/30126381 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 03:06] crazyk07 commented on #4379
Contest https://www.topcoder.com/challenges/30126382 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 03:06] crazyk07 commented on #4379
Contest https://www.topcoder.com/challenges/30126382 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 03:16] crazyk07 commented on #4378
Contest https://www.topcoder.com/challenges/30126383 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 03:16] crazyk07 commented on #4378
Contest https://www.topcoder.com/challenges/30126383 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 03:17] crazyk07 commented on #4375
Contest https://www.topcoder.com/challenges/30126384 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 03:17] crazyk07 commented on #4375
Contest https://www.topcoder.com/challenges/30126384 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 03:33] crazyk07 commented on #4376
Contest https://www.topcoder.com/challenges/30126385 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 03:33] crazyk07 commented on #4376
Contest https://www.topcoder.com/challenges/30126385 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 09:43] SathyaJayabal opened #4392 "Challenge Listings: V5 Challenge api call failing for logged in users"
Challenge Listings: V5 Challenge api call failing for logged in users

https://test-community-app.topcoder-dev.com/challenges
https://test-community-app.topcoder-dev.com/__community__/blockchain/challenges?communityId=blockchain

<img width="1440" alt="Screenshot 2020-05-22 at 3 11 37 PM" src="https://user-images.githubusercontent.com/58783823/82654644-ae09ba80-9c3e-11ea-9f2f-4b8d72b51f06.png">

[2020-05-22 10:22] sushilshinde commented on #4392
This is API issues

https://github.com/topcoder-platform/challenge-api/issues/130

[2020-05-22 11:04] SathyaJayabal opened #4393 "[$50]Challenge Listings: Challenges not loading for subcommunities"
Challenge Listings: Challenges not loading for sub communities
User: TonyJ/appirio123
Example
https://test-community-app.topcoder-dev.com/__community__/blockchain/challenges?communityId=blockchain
<img width="1440" alt="Screenshot 2020-05-22 at 4 32 02 PM" src="https://user-images.githubusercontent.com/58783823/82661593-f37fb500-9c49-11ea-9c45-8a1c596a38b9.png">
<img width="1440" alt="Screenshot 2

[2020-05-22 12:05] SathyaJayabal opened #4394 "TCO Leaderboard: Challenge links on TCO leaderboards must be in the new format"
https://test-community-app.topcoder-dev.com/__community__/tco20/competition-overview/development/leaderboard
User: TonyJ/appirio123
Click on any member handle and a Completed Challenges History pop-up is displayed.
Clicking on the links shows a "Failed to load challenge error". The challenge link must be in the new format.
Actual format: https://test-community-app.topcoder-dev.com/challenges/30122

[2020-05-22 13:16] ThomasKranitsas commented on #4379
PR https://github.com/topcoder-platform/community-app/pull/4396

[2020-05-22 13:33] crazyk07 commented on #4394
Contest https://www.topcoder.com/challenges/30126448 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 13:35] crazyk07 commented on #4394
Contest https://www.topcoder.com/challenges/30126448 has been updated - luizrrodrigues has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 14:43] crazyk07 commented on #4394
Contest https://www.topcoder.com/challenges/30126448 has been updated - luizrrodrigues has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 15:07] crazyk07 commented on #4394
@mtwomey, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 15:07] crazyk07 commented on #4394
Contest https://www.topcoder.com/challenges/30126448 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-22 16:32] mtwomey opened #4397 "deleteme-test02"

[2020-05-22 16:33] #4397 closed

[2020-05-22 17:58] RishiRajSahu commented on #4316
@Oanh-and-only-Oanh and @ajefts I dived around this issue and found out that `aws emr` is responsible for verifying and aggregating the user skills. So basically it works on MR architecture by hadoop and number of jobs are sechuled under the emr cluster. Below are the details regarding that -
1. The jobs scheduling for emr cluster is done via aws datapipeline
2. The required jars and other files a

[2020-05-22 19:17] 88wasgreat opened #4398 ""All Challenges" Link Not Loading"
When I go to the "All Challenges" tab by logging into the website I get a message stating "no live challenges found in all challenges." However, when I go to the "All Challenges" tab through the link that I found in one of the welcome emails that I was sent I get an "All Challenges" page that is populated with challenges. Why the difference?

[2020-05-23 10:57] crazyk07 commented on #4376
Contest https://www.topcoder.com/challenges/30126385 has been updated - sr_jr has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-23 10:59] crazyk07 commented on #4376
Contest https://www.topcoder.com/challenges/30126385 has been updated - sr_jr has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-23 10:59] crazyk07 commented on #4376
Contest https://www.topcoder.com/challenges/30126385 has been updated - sr_jr has been unassigned.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-23 11:01] crazyk07 commented on #4376
Contest https://www.topcoder.com/challenges/30126385 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-23 11:20] sushilshinde commented on #4398
@88wasgreat please share steps and other details

[2020-05-23 11:36] lakshmiathreya commented on #4379
MM type challenge link loading correctly on Test:
<img width="1662" alt="Screenshot 2020-05-23 at 5 04 29 PM" src="https://user-images.githubusercontent.com/51733042/82729738-95b99e80-9d17-11ea-8239-d7ef2cdbad41.png">

[2020-05-23 22:28] 88wasgreat commented on #4398
When I login to Topcoder.com and then click on "community" the challenges
were not populating.  However, when I open the email send to me from
Topcoder titled  “What You Can Do At Topcoder” and then click on the
"challenges" link under the data science category I get taken to a
populated challenges page.  However, today when I logged on directly I was
taken to a challenges page that was populated.

[2020-05-24 05:30] simranb86 commented on #4376
hi @sushilshinde the code looks fine here, I was able to replicate the issue like 6-8 hrs back when working on this, but not now, looks like it was backend data issue.

Please see this -
[Issue_4376.mov.zip](https://github.com/topcoder-platform/community-app/files/4672991/Issue_4376.mov.zip)

[2020-05-24 10:55] sushilshinde commented on #4376
Sure, thanks @simranb86

[2020-05-24 10:55] sushilshinde commented on #4376
@SathyaJayabal can you please confirm

[2020-05-24 10:59] sushilshinde commented on #4383
@ThomasKranitsas probably related to
https://github.com/topcoder-platform/community-app/issues/4384

[2020-05-25 02:32] simranb86 commented on #4376
@SathyaJayabal  had a chance to re-verify this ?

[2020-05-25 04:32] SathyaJayabal commented on #4376
@simranb86 , Yes, I too do not see the message now before loading. Now the first challenge is displayed first and the rest of the challenges display after a couple of seconds. (like in your video)

[2020-05-25 04:44] lakshmiathreya commented on #4376
The lag is not acceptable:
[ChallengeLoading25May.mov.zip](https://github.com/topcoder-platform/community-app/files/4675240/ChallengeLoading25May.mov.zip)

[2020-05-25 04:44] lakshmiathreya commented on #4376
should we close this and log a new issue for the Lag?

[2020-05-25 05:35] SathyaJayabal commented on #4376
@simranb86 , sometimes it just stops after loading the first challenges (happens rarely).

<img width="1440" alt="Screenshot 2020-05-25 at 11 02 18 AM" src="https://user-images.githubusercontent.com/58783823/82781404-54400500-9e77-11ea-87f0-0e43a054da00.png">

[2020-05-25 05:46] SathyaJayabal opened #4401 "[$40]Challenge Listings: Open for Registration bucket-Sort By not working"
Challenge Listings: Sort By not working

https://test-community-app.topcoder-dev.com/challenges?bucket=openForRegistration
User: dan_developer/dantopcoder123
cc @lakshmiathreya
[sort.mov.zip](https://github.com/topcoder-platform/community-app/files/4675373/sort.mov.zip)

[2020-05-25 05:49] SathyaJayabal opened #4402 "[$50]Open for review bucket- keyword filter not working"
Challenge Listings: Open for review bucket- keyword filter not working
https://test-community-app.topcoder-dev.com/challenges?bucket=reviewOpportunities
User: dan_developer/appirio123
cc : @lakshmiathreya
[keyword.mov.zip](https://github.com/topcoder-platform/community-app/files/4675390/keyword.mov.zip)

[2020-05-25 06:20] SathyaJayabal opened #4403 "[$50]Challenge Listings: Open for review bucket - Sub track filter is not working"
Challenge Listings: Open for review bucket - Sub track filter is not working

https://test-community-app.topcoder-dev.com/challenges?bucket=reviewOpportunities
user:dan_developer/dantopcoder123
[subtrack.mov.zip](https://github.com/topcoder-platform/community-app/files/4675494/subtrack.mov.zip)

[2020-05-25 06:24] SathyaJayabal opened #4404 "[$40]Challenge Listings: Some challenges do not have the sub track details"
https://test-community-app.topcoder-dev.com/challenges?bucket=past
https://test-community-app.topcoder-dev.com/challenges?bucket=openForRegistration

user: dan_developer/dantopcoder123

cc: @lakshmiathreya

<img width="1440" alt="Screenshot 2020-05-25 at 11 52 43 AM" src="https://user-images.githubusercontent.com/58783823/82784571-6d987f80-9e7e-11ea-9ed1-6c712cd8eac5.png">
<img width="1440" alt="S

[2020-05-25 06:31] SathyaJayabal opened #4405 "[$20]Challenge Listings: "Points" should be "Purse""
Challenge Listings: Past contests bucket - "Points" should be "Purse"
https://test-community-app.topcoder-dev.com/challenges?bucket=past
https://test-community-app.topcoder-dev.com/challenges?
user: dan_developer/appirio123

<img width="1440" alt="Screenshot 2020-05-25 at 11 59 29 AM" src="https://user-images.githubusercontent.com/58783823/82785029-6cb41d80-9e7f-11ea-8aa2-e78cffa18e44.png">

[2020-05-25 06:42] SathyaJayabal opened #4406 "[$60]Challenge Listings: Past Contests Bucket : Challenges listed don't match the past contests on V4 challenge api"
Challenge Listings: Past Contests Bucket  : Challenges listed don't match the past contests on V4 challenge api
v5 url:Challenge Listings: Past Contests Bucket  : Challenges listed don't match the past contests on V4 challenge api
v4 url:https://qa-community-app.topcoder-dev.com/challenges?bucket=past
user:dan_developer/appirio123

<img width="1440" alt="Screenshot 2020-05-25 at 12 05 13 PM" src="

[2020-05-25 06:42] SathyaJayabal commented on #4406
cc @lakshmiathreya

[2020-05-25 06:54] SathyaJayabal opened #4407 "[$40]Challenge Listings: Past Contests Bucket- Sort by not working"
Challenge Listings: Past Contests Bucket- Sort by not working (works only for Sort by: Title A-Z)
https://test-community-app.topcoder-dev.com/challenges?bucket=past
User: dan_developer/dantopcoder123

[Past_sort.mov.zip](https://github.com/topcoder-platform/community-app/files/4675621/Past_sort.mov.zip)

[2020-05-25 07:02] SathyaJayabal opened #4408 "[$80]Challenge Listings: clicking on #of registrants or submissions loads a blank page"
Challenge Listings: Past Contests Bucket- clicking on #of registrants or submissions loads a blank page. This is related to #4381 . Clicking on # of registrants should open the challenge details page with the registrants tab selected. Clicking on # of submissions should open the challenge details page with the submissions tab selected. Since these tabs are not present on the challenge details page

[2020-05-25 07:11] simranb86 commented on #4376
@SathyaJayabal what you see is right - it is part of the impl, it is not lag or bug, it is backend data issue if we need to fix it, as it is being sent to front end. We make several backend calls and first one is coming back with only this challenges which has  `registrationPhase` as open. If you debug and see the console you would see something like below in first api response:

[code]

Or try th

[2020-05-25 08:02] sushilshinde commented on #4406
@SathyaJayabal needs complete data, @rootelement is working on it.

[2020-05-25 08:06] crazyk07 commented on #4404
Contest https://www.topcoder.com/challenges/30126532 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-25 08:08] crazyk07 commented on #4404
Contest https://www.topcoder.com/challenges/30126532 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-25 08:09] crazyk07 commented on #4403
Contest https://www.topcoder.com/challenges/30126533 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-25 08:09] crazyk07 commented on #4403
Contest https://www.topcoder.com/challenges/30126533 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-25 08:11] SathyaJayabal opened #4409 "[$60]Challenge Listings: Open for review bucket: filter by date loads a blank page"
Challenge Listings: Open for review bucket: filter by date loads a blank page
https://test-community-app.topcoder-dev.com/challenges?bucket=reviewOpportunities
user: dan_developer/appirio123
cc: @lakshmiathreya
[date filter.mov.zip](https://github.com/topcoder-platform/community-app/files/4676020/date.filter.mov.zip)

[2020-05-25 08:11] sushilshinde commented on #4376
@simranb86 why it not showing table placement holder animation?

Can we fix that?

[2020-05-25 08:21] SathyaJayabal opened #4410 "[$50]Open for review bucket- track details incorrect for some challenges"
v5 URL: https://test-community-app.topcoder-dev.com/challenges?bucket=reviewOpportunities
user: dan_developer/dantopcoder123
v4 url: https://qa-community-app.topcoder-dev.com/challenges?bucket=reviewOpportunities

1. go to review opportunities page
2. filter by track Data Science

In the V4 url, you can see the following challenge displayed
https://qa-community-app.topcoder-dev.com/challenges/3004

[2020-05-25 08:21] crazyk07 commented on #4409
Contest https://www.topcoder.com/challenges/30126534 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-25 08:21] crazyk07 commented on #4409
Contest https://www.topcoder.com/challenges/30126534 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-25 08:23] crazyk07 commented on #4407
Contest https://www.topcoder.com/challenges/30126535 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-25 08:23] crazyk07 commented on #4407
Contest https://www.topcoder.com/challenges/30126535 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-25 08:28] crazyk07 commented on #4410
Contest https://www.topcoder.com/challenges/30126536 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-25 08:28] crazyk07 commented on #4410
Contest https://www.topcoder.com/challenges/30126536 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-25 09:24] SathyaJayabal opened #4411 "[$50]Challenge Details: Recommended Challenges and Recommended THRIVE Articles not displayed"
https://test-community-app.topcoder-dev.com/challenges/a917675b-950f-4f62-aa72-d543f49798e1
user: dan_developer/dantopcoder123
1. Recommended thrive artcicles: For the same tags, we see recommended thrive articles in v4
https://qa-community-app.topcoder-dev.com/challenges/30050691
<img width="1440" alt="Screenshot 2020-05-25 at 2 48 48 PM" src="https://user-images.githubusercontent.com/58783823/82

[2020-05-25 09:30] crazyk07 commented on #4411
Contest https://www.topcoder.com/challenges/30126545 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-25 09:30] crazyk07 commented on #4411
Contest https://www.topcoder.com/challenges/30126545 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-25 09:33] SathyaJayabal opened #4412 "[$40]Challenge Details: Screening and Review scorecards Urls do not have "scid" value"
https://test-community-app.topcoder-dev.com/challenges/a917675b-950f-4f62-aa72-d543f49798e1
user: dan_developer/appirio123

When user clicks on the Screening scorecard and review scorecard links, it must redirect to the respective Online Review scorecards.

<img width="1440" alt="Screenshot 2020-05-25 at 3 01 14 PM" src="https://user-images.githubusercontent.com/58783823/82800086-b5c49b80-9e98-11e

[2020-05-25 10:06] simranb86 commented on #4403
@sushilshinde Please review

https://github.com/topcoder-platform/topcoder-react-lib/pull/167
https://github.com/topcoder-platform/community-app/pull/4413

[2020-05-25 11:29] lakshmiathreya opened #4414 "[$50]Member Search doesnt return results"
Go to https://test-community-app.topcoder-dev.com/members/search/?q=cori_copilot - this returns no results although this user has Info available.
Search works correctly for the same user in Dev (v4) environment.
Please see screenshots -
<img width="1674" alt="Screenshot 2020-05-25 at 4 53 28 PM" src="https://user-images.githubusercontent.com/51733042/82809158-14921100-9ea9-11ea-971e-a295ac5f3bdd.p

[2020-05-25 13:19] SathyaJayabal commented on #4414
@lakshmiathreya , i too see the issue, but seems to happen in both  the V4 and V5 environments occasionally. I sometimes get the error "Could not determine if search term is a tag"

<img width="1440" alt="Screenshot 2020-05-25 at 6 47 19 PM" src="https://user-images.githubusercontent.com/58783823/82816195-4fe80c00-9eb8-11ea-972d-fa578b65c21b.png">

<img width="1440" alt="Screenshot 2020-05-25 at 6

[2020-05-25 17:20] simranb86 commented on #4376
Yes, i think we can. Let me address this in end - once other tickets are done.

[2020-05-25 17:57] simranb86 commented on #4409
@sushilshinde PR for the same - https://github.com/topcoder-platform/topcoder-react-lib/pull/168

[2020-05-25 19:24] Oanh-and-only-Oanh commented on #4392
@lakshmiathreya @SathyaJayabal, this ticket has been marked with QA Pass. Does that mean the API issue has been resolved?

[2020-05-25 19:36] luizrrodrigues commented on #4378
@sushilshinde PR's:
**topcoder-react-lib**: https://github.com/topcoder-platform/topcoder-react-lib/pull/169
**community-app**: https://github.com/topcoder-platform/community-app/pull/4415

About issues:
- Financial:
   - This was an issue with passing `null` params to call
- SRMs:
   - I have done multiples changes here to fix that
   - the existing code has a weird logical, first call challenge

[2020-05-25 20:34] simranb86 commented on #4410
@sushilshinde  PRs created for the same

- https://github.com/topcoder-platform/community-app/pull/4416
- https://github.com/topcoder-platform/topcoder-react-lib/pull/170

[2020-05-25 23:11] simranb86 commented on #4404
@sushilshinde for this I would need a mapping for TEST_SUITES and DEVELOPMENT. I have added for development using the best to my knowledge but we would need what we want to show for TEST_SUITES and update the file src/shared/components/challenge-listing/Tooltips/TrackAbbreviationTooltip/index.jsx

Please look at PR - https://github.com/topcoder-platform/community-app/pull/4417

[2020-05-26 02:18] crazyk07 commented on #4412
Contest https://www.topcoder.com/challenges/30126635 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-26 02:18] crazyk07 commented on #4412
Contest https://www.topcoder.com/challenges/30126635 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-26 02:48] sushilshinde opened #4418 "Disable Service worker"
Disable browser caching code

[2020-05-26 05:31] SathyaJayabal opened #4420 "[$40]Member Profile: Stats History- Rating history graph, Challenge URL is in incorrect format"
https://test-community-app.topcoder-dev.com/members/Standlove/details/?track=DEVELOP&subTrack=DESIGN
User: jcori/appirio1234

Mouse over on the  Rating history graph data points and click on challenge name

Expected URL Format: https://test-community-app.topcoder-dev.com/challenges/018d629e-f550-4ed4-bedd-0972433de5ad
Actual URL Format: https://test-community-app.topcoder-dev.com/challenges/300004

[2020-05-26 06:48] simranb86 commented on #4404
@sushilshinde any update here ?

[2020-05-26 06:52] sushilshinde commented on #4404
@SathyaJayabal @lakshmiathreya @Oanh-and-only-Oanh can you help us out here?

[2020-05-26 07:02] simranb86 commented on #4407
@sushilshinde PRs for the same
- https://github.com/topcoder-platform/topcoder-react-lib/pull/171
- https://github.com/topcoder-platform/community-app/pull/4422

[2020-05-26 07:12] simranb86 commented on #4412
@sushilshinde this is backend issue, we need to fix the challenge-api data for the challenge, example:
https://api.topcoder-dev.com/v5/challenges/13127ac2-6a2e-44ca-a8cb-0dee5c94fd32 doesn't returns metadata for `type = screeningScorecardId`. Once we fix backend to return the metadata, this will work perfect. I did see this working for few of challenges when work on Code Challenge last, but don't

[2020-05-26 07:34] sushilshinde commented on #4412
Thanks @simranb86

[2020-05-26 08:24] #4382 closed

[2020-05-26 08:25] #4335 closed

[2020-05-26 08:25] #4333 closed

[2020-05-26 08:25] #4330 closed

[2020-05-26 08:25] #4329 closed

[2020-05-26 08:25] #4328 closed

[2020-05-26 08:25] #4325 closed

[2020-05-26 08:25] #4322 closed

[2020-05-26 08:26] #4321 closed

[2020-05-26 08:26] #4319 closed

[2020-05-26 08:26] #4318 closed

[2020-05-26 09:27] SathyaJayabal commented on #4406
@sushilshinde , this is not data issue. The challenges don'
![Uploading Screenshot 2020-05-26 at 2.56.41 PM.png…]()
t match on prod back-end too.
cc @lakshmiathreya
<img width="1440" alt="Screenshot 2020-05-26 at 2 56 37 PM" src="https://user-images.githubusercontent.com/58783823/82884354-3e0e7380-9f61-11ea-9668-7bf03a7788db.png">

[2020-05-26 10:18] SathyaJayabal commented on #4420
Also applicable for other sub tracks

[2020-05-26 10:29] #4418 closed

[2020-05-26 10:30] crazyk07 commented on #4420
Contest https://www.topcoder.com/challenges/30126688 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-26 10:30] sushilshinde commented on #4420
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

[2020-05-26 10:35] crazyk07 commented on #4408
Contest https://www.topcoder.com/challenges/30126691 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-26 10:35] crazyk07 commented on #4408
Contest https://www.topcoder.com/challenges/30126691 has been updated - it has been assigned to luizrrodrigues.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-26 10:42] sushilshinde commented on #4411
@simranb86 I dont see PR?

[2020-05-26 10:48] crazyk07 commented on #4420
Contest https://www.topcoder.com/challenges/30126688 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-26 11:23] sushilshinde commented on #4414
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

[2020-05-26 11:25] crazyk07 commented on #4414
Contest https://www.topcoder.com/challenges/30126714 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-26 11:26] sushilshinde commented on #4402
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

[2020-05-26 11:29] crazyk07 commented on #4402
Contest https://www.topcoder.com/challenges/30126719 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-26 11:31] crazyk07 commented on #4401
Contest https://www.topcoder.com/challenges/30126726 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-26 11:31] crazyk07 commented on #4401
Contest https://www.topcoder.com/challenges/30126726 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-26 11:49] crazyk07 commented on #4414
Contest https://www.topcoder.com/challenges/30126714 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-26 12:52] crazyk07 commented on #4402
Contest https://www.topcoder.com/challenges/30126719 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-26 13:19] narekcat commented on #4414
@lakshmiathreya @SathyaJayabal @sushilshinde - The problem is with URL. When you go to https://test-community-app.topcoder-dev.com/members/search/?q=cori_copilot, you land to member page with name "search" and part of URL `?q=cori_copilot` is ignored. But when you go to https://test-community-app.topcoder-dev.com/search/members/?q=cori_copilot, you land to search result page. There are user with n

[2020-05-26 13:30] ajefts commented on #4316
@RishiRajSahu Is there a particular part of the job that is taking a long time that we can tune?

[2020-05-26 13:48] lakshmiathreya commented on #4403
<img width="1665" alt="Screenshot 2020-05-26 at 7 15 20 PM" src="https://user-images.githubusercontent.com/51733042/82908502-b0914a80-9f85-11ea-90ca-a81ae955b4db.png">
![Uploading Screenshot 2020-05-26 at 7.15.35 PM.png…]()

[2020-05-26 13:58] lakshmiathreya commented on #4403
<img width="1666" alt="Screenshot 2020-05-26 at 7 15 35 PM" src="https://user-images.githubusercontent.com/51733042/82909330-c18e8b80-9f86-11ea-957b-866e61036ec8.png">

[2020-05-26 14:24] RishiRajSahu commented on #4316
@ajefts Yep `export` is taking a lot which never completes even after providing duration of ~6 hours, even importing user entered skills takes 1 hours(though it completes successfully) but would always increase with increase in users. So we need tune -
1. Hive query to import user entered skills
2. Hive `export` for aggregated skills to dynamo

[2020-05-26 14:28] RishiRajSahu commented on #4316
@ajefts Also,
- There is no support of Delta on these jobs, they run for all data we have every-time. Maybe we can optimize it to run based on delta but have to check how that affects the skills being verified.

[2020-05-26 15:15] sushilshinde commented on #4402
@rashmi73 please PR in 8 hours

[2020-05-26 15:16] sushilshinde commented on #4420
@PrakashDurlabhji please PR in 8 hours

[2020-05-26 15:24] sushilshinde commented on #4410
@simranb86 PR is failing test please test and PR again.

[2020-05-26 15:31] rootelement commented on #4412
This is not a challenge API issue. Scorecard information is not part of the challenge object. For now, you'll have to call the v4 challenge api endpoint with the legacyId to get that information until the scorecard api is stood up. At that point, you'll have to call the scorecard api, so having the UI do this now will be easy to change in the future.
cc: @cwdcwd

[2020-05-26 15:32] Oanh-and-only-Oanh commented on #4376
hi @simranb86, FYI this ticket has been reassigned to P1.

[2020-05-26 15:57] rootelement commented on #4412
Please disregard my last comment. We have to get these properties into the legacy object for now. The scorecard api will have a scorecardId on the challenge object in the future. I'll create a new issue for this on challenge api

[2020-05-26 17:40] simranb86 commented on #4376
ok taking this on priority, thanks for flagging.

[2020-05-26 17:42] simranb86 commented on #4411
https://github.com/topcoder-platform/community-app/pull/4423

[2020-05-26 17:56] PrakashDurlabhji commented on #4420
@sushilshinde are we allowed to change member-api repo? as it may require change over that repo I will explain in detail in below comment

[2020-05-26 18:26] PrakashDurlabhji commented on #4420
@sushilshinde

1. Each and every point on rating history graph represents following object as given in red box.

<img width="624" alt="Capture" src="https://user-images.githubusercontent.com/28830240/82934997-0841ad00-9faa-11ea-927f-c6e611cdf804.PNG">

2. and "challengeId" field is used to construct the url on tooltip as mentioned in code https://github.com/topcoder-platform/community-app/blob/970

[2020-05-26 22:43] rashmi73 commented on #4402
@sushilshinde PR https://github.com/topcoder-platform/topcoder-react-lib/pull/172

no frontend changes required

[2020-05-26 23:57] luizrrodrigues commented on #4380
@sushilshinde PR: https://github.com/topcoder-platform/topcoder-react-lib/pull/173

About issue:
- Params `memberId` and `roleId` not passed to API request
- Created a function to get `roleId` from **resources-api**
- API was missing filter by `name`, this already fixed here https://github.com/topcoder-platform/resources-api/issues/25

The PR about fix issue to register / unregister to challenge,

[2020-05-27 00:04] luizrrodrigues commented on #4381
@sushilshinde fyi:
Checking with @rootelement how we get challenge registrants in V5 API.

[2020-05-27 00:58] rootelement commented on #4381
@luizrrodrigues Resources API:
https://api.topcoder-dev.com/v5/resources?challengeId=<uuid> will give you an array of the memberIds.

[2020-05-27 01:57] luizrrodrigues commented on #4381
@rootelement but this endpoint needed a token, I think we’ll need to open this to not logged user, right?

[2020-05-27 02:45] rootelement commented on #4412
These properties have been added to the legacy object in dev:
http://api.topcoder-dev.com/v5/challenges/471e320a-63a4-4bed-b7a0-2d378afa4738

I will migrate Prod in a little bit.

[2020-05-27 03:41] simranb86 commented on #4401
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/4424

[2020-05-27 03:44] simranb86 commented on #4404
@lakshmiathreya @SathyaJayabal @Oanh-and-only-Oanh any updates on this ? This is blocker to move this to closure as I have fixed for DEVELOPMENT  but need content for TEST_SUITES

[2020-05-27 04:49] PrakashDurlabhji commented on #4420
@rootelement my previous comment

[2020-05-27 05:11] SathyaJayabal commented on #4404
@simranb86 , use the text "Develop test cases to be used to validate apps, website, etc." for Test Suites

[2020-05-27 05:13] simranb86 commented on #4412
Thanks, @sushilshinde to use these, there will be code change, will make them and raise PR.

[2020-05-27 05:34] mtwomey commented on #4378
@sushilshinde This one is ready for initial testing or?

[2020-05-27 05:36] mtwomey commented on #4408
@luizrrodrigues Do you have an ETA on this one?

[2020-05-27 05:39] simranb86 commented on #4412
@sushilshinde PR for using the change @rootelement has pushed in, do most of the challenges still don't see Screening score id in API response, so plz flag QA to test using challenge which has both.

[2020-05-27 05:43] simranb86 commented on #4412
PR https://github.com/topcoder-platform/community-app/pull/4425

[2020-05-27 05:51] SathyaJayabal commented on #4112
@sushilshinde , this issue is not just with data science track. When we select a date range a few years in the past, the search times out (due to the configured 30 secs).

<img width="1440" alt="Screenshot 2020-05-27 at 11 13 39 AM" src="https://user-images.githubusercontent.com/58783823/82982518-fc86d280-a00b-11ea-85ec-d97f1b8552d0.png">
<img width="1440" alt="Screenshot 2020-05-27 at 11 14 45 AM

[2020-05-27 05:58] simranb86 commented on #4404
PR https://github.com/topcoder-platform/community-app/pull/4417

[2020-05-27 06:10] sushilshinde commented on #4380
@SathyaJayabal @lakshmiathreya we will need to open another issue that @luizrrodrigues mentioned above, after I deploy fix you can create that issue.

[2020-05-27 06:10] crazyk07 commented on #4380
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-27 06:16] crazyk07 commented on #4405
Contest https://www.topcoder.com/challenges/30126866 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-27 06:16] crazyk07 commented on #4405
Contest https://www.topcoder.com/challenges/30126866 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-27 06:28] simranb86 commented on #4410
Sorry @sushilshinde , PR fixed here - https://github.com/topcoder-platform/topcoder-react-lib/pull/174

[2020-05-27 06:35] simranb86 commented on #4405
@sushilshinde PR https://github.com/topcoder-platform/community-app/pull/4426

[2020-05-27 06:57] sushilshinde commented on #4414
@SathyaJayabal @lakshmiathreya

https://qa-community-app.topcoder-dev.com/members/search/?q=cori_copilot

this is not also working, which has a current develop branch

[2020-05-27 07:34] SathyaJayabal commented on #4414
@lakshmiathreya @sushilshinde , the  url used here is incorrect
https://qa-community-app.topcoder-dev.com/members/search/?q=cori_copilot or
https://test-community-app.topcoder-dev.com/members/search/?q=cori_copilot

the correct url is
https://test-community-app.topcoder-dev.com/search/members?q=cori_copilot
https://qa-community-app.topcoder-dev.com/search/members?q=cori_copilot

Closing this as it

[2020-05-27 07:34] crazyk07 commented on #4414
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-27 07:35] SathyaJayabal commented on #4375
@ThomasKranitsas , can you please provide an ETA for this ticket ?

[2020-05-27 07:36] SathyaJayabal commented on #4376
@simranb86 , can  we have an ETA for this ticket please?

[2020-05-27 07:36] SathyaJayabal commented on #4377
@ThomasKranitsas , can we have an ETA for this ticket please?

[2020-05-27 07:36] ThomasKranitsas commented on #4375
I was without internet connection yesterday. Will work to provide a solution today

[2020-05-27 07:41] SathyaJayabal commented on #4383
@ThomasKranitsas ,can  we have an ETA for this ticket please?

[2020-05-27 07:42] panjikharisma opened #4427 "Link to challenge listing from old header in the forum doesn't work."
**Description**
Link to challenge listing from old header in the forum doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://apps.topcoder.com/forums/
2. Hover on 'Compete'
3. Click on 'Design Challenges' or 'Development Challenges'
4. See error

**Expected behavior**
Should show the challenge listing page.

**Screenshots**
https://drive.google.com/file/d/1bq_tCdV1SeMtT

[2020-05-27 07:42] SathyaJayabal commented on #4384
@ThomasKranitsas , can we  have an ETA for this one please?

[2020-05-27 07:43] SathyaJayabal commented on #4392
@Oanh-and-only-Oanh , this issue has been solved.

[2020-05-27 07:43] #4392 closed

[2020-05-27 07:43] SathyaJayabal commented on #4393
@ThomasKranitsas can we have an ETA for this please?

[2020-05-27 07:44] SathyaJayabal commented on #4394
@luizrrodrigues,canweahve an  ETA for this one please?

[2020-05-27 08:15] sushilshinde commented on #4414
@narekcat is it possible to fix url on frontend?

[2020-05-27 08:17] #4414 closed

[2020-05-27 08:17] crazyk07 commented on #4414
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-27 08:53] sushilshinde commented on #4420
Thanks @PrakashDurlabhji for analysis let's wait for @rootelement to reply.

[2020-05-27 09:16] SathyaJayabal opened #4428 "[$60]Challenge Details: Challenge links section does not match V4"
V5 URL: https://test-community-app.topcoder-dev.com/challenges/a917675b-950f-4f62-aa72-d543f49798e1

V4 URL: https://qa-community-app.topcoder-dev.com/challenges/30051802
user: dan_developer/dantopcoder123
The challenge Links section for V4 and V5 versions are  different.
<img width="1440" alt="Screenshot 2020-05-27 at 2 43 03 PM" src="https://user-images.githubusercontent.com/58783823/83000807-82

[2020-05-27 09:21] SathyaJayabal opened #4429 "Challenge Details: Final Submission Guidelines is missing"
Challenge Details: Final Submission Guidelines is missing in V5 version
V5 URL: https://test-community-app.topcoder-dev.com/challenges/465d9fd6-d7a8-42fb-8a33-c0070c9adaf2
V4 URL:https://qa-community-app.topcoder-dev.com/challenges/30056664
<img width="1440" alt="Screenshot 2020-05-27 at 2 49 42 PM" src="https://user-images.githubusercontent.com/58783823/83001482-7083a380-a029-11ea-9ddd-68418c4d2e

[2020-05-27 09:27] SathyaJayabal commented on #4428
Another example:
V5 URL: https://test-community-app.topcoder-dev.com/challenges/465d9fd6-d7a8-42fb-8a33-c0070c9adaf2
<img width="1440" alt="Screenshot 2020-05-27 at 2 55 48 PM" src="https://user-images.githubusercontent.com/58783823/83002123-48e10b00-a02a-11ea-9699-2998ca18b23d.png">
V4 URL:https://qa-community-app.topcoder-dev.com/challenges/30056664
<img width="1440" alt="Screenshot 2020-05-27 a

[2020-05-27 09:33] SathyaJayabal commented on #4412
verified on test env.
[scorecardid.mov.zip](https://github.com/topcoder-platform/community-app/files/4687831/scorecardid.mov.zip)
[scorecardid1.mov.zip](https://github.com/topcoder-platform/community-app/files/4687843/scorecardid1.mov.zip)

[2020-05-27 10:01] sushilshinde commented on #4420
@PrakashDurlabhji this call is failing

https://api.topcoder-dev.com/v5/challenges?perPage=50&page=1&status=Active&memberId=Standlove

can you please pass id instead of the handle?

[2020-05-27 10:02] sushilshinde commented on #4420
@rootelement @urwithat  please help here

All stats are brought by this call
`https://api.topcoder-dev.com/v3/members/Standlove/stats`

Which returns only legacy challenge Ids (in challenge API v5 context).

In order to work this correctly, it has to return new IDs.

or

We should have an endpoint that returns the new id for legacy id

`v5/challenges/?legacyId=12345`, then it can be handled in fro

[2020-05-27 10:16] SathyaJayabal commented on #4411
Verified in test env. Recommended challenges also include challenges that the user is registered to. This should not be the case. This should be fixed along with #4384.
@sushilshinde @lakshmiathreya
<img width="1440" alt="Screenshot 2020-05-27 at 3 40 52 PM" src="https://user-images.githubusercontent.com/58783823/83007016-ac6e3700-a030-11ea-8d9a-bf72e897a053.png">

[2020-05-27 10:33] PrakashDurlabhji commented on #4420
@sushilshinde **can you please pass id instead of the handle?**

 sure I will, can you please tell me on which page is it failing? this will give me more idea

[2020-05-27 10:35] sushilshinde commented on #4428
API issues

[2020-05-27 10:36] SathyaJayabal commented on #4410
verified on test  env
<img width="1440" alt="Screenshot 2020-05-27 at 4 05 04 PM" src="https://user-images.githubusercontent.com/58783823/83009113-dd03a000-a033-11ea-865e-85de6fe80031.png">

[2020-05-27 10:36] sushilshinde commented on #4420
@PrakashDurlabhji check console

https://github.com/topcoder-platform/community-app/issues/4420#issue-624611413

[2020-05-27 10:49] crazyk07 commented on #4428
Contest https://www.topcoder.com/challenges/30126884 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-27 10:50] SathyaJayabal commented on #4409
verified on test env
<img width="1440" alt="Screenshot 2020-05-27 at 4 17 36 PM" src="https://user-images.githubusercontent.com/58783823/83010423-dbd37280-a035-11ea-8209-735b74cb84e2.png">

[2020-05-27 10:54] sushilshinde commented on #4429
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

Submit in 8 hours and PR to

https://github.com/topcoder-platform/community-app/tree/integration-v5-challenge-api
https://github.com/topcoder-platform/topcoder-react-lib/tree/integration-v5-challenge-api

[2020-05-27 10:56] crazyk07 commented on #4429
Contest https://www.topcoder.com/challenges/30126887 has been created for this ticket.<br/><br/>```This is an automated message for crazyk via Topcoder X```

[2020-05-27 10:58] lakshmiathreya commented on #4380
Fails to Register for an unregistered user:
<img width="1368" alt="Screenshot 2020-05-27 at 4 22 41 PM" src="https://user-images.githubusercontent.com/51733042/83011129-03770a80-a037-11ea-9e13-2908744e48e6.png">
<img width="1375" alt="Screenshot 2020-05-27 at 4 22 54 PM" src="https://user-images.githubusercontent.com/51733042/83011140-07a32800-a037-11ea-83f7-75ccde1602bf.png">
<img width="1413" al