[2018-09-16 20:08] PereViki opened #1523 "UX/Accessibility issue - External link textbox has no label at all for screen readers"
**Describe the bug**
If I want to browse the site with a screen reader (VoiceOver), the External Link textbox has no label tag for the screen reader to read out loud, so I don't know what I have to type in.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on your screen reader (VoiceOver)
2. Go to 'https://www.topcoder-dev.com/settings/account'
3. Click on 'Linked Account'
4. Navigate in

[2018-09-16 20:15] PereViki opened #1524 "UX/accessibility Issue - Cannot reach the Linked Accounts with a screen reader navigation"
**Describe the bug**
If I try to browse the site with a screen reader (VoiceOver) I cannot add linked accounts as they are not reachable with the navigation of the screen reader.

**To Reproduce**
Steps to reproduce the behavior:

1. Turn on your screen reader (VoiceOver)
2. Go to 'https://www.topcoder-dev.com/settings/account'
3. Click on 'Linked Account'
4. Try to navigate with the screen reader

[2018-09-16 20:33] PereViki opened #1525 "UX Issue - Increased cognitive load due to the labels on the side on desktop"
**Describe the bug**
When the user browses the site on a desktop, the field labels are on the right of the field, not on the top, as on the mobile version. This increases the cognitive load as users cannot scan the form at the same fixation. Placing the label on the top would also allow using longer labels (e.g. same naming of the 'Primary Interest of Topcoder' on every device type)

**To Reproduc

[2018-09-16 21:31] PereViki opened #1526 "UX Issue - Hint text disappears upon clicking into the field."
**Describe the bug**
When I try to fill in a field, the hint text disappears immediately when I click into the field, which increases the load on my short term memory. It is a good UX practice to keep the hint text until the user actually starts to type in the textbox, aka overwriting the hint.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profi

[2018-09-17 04:36] AkkiAkash22 opened #1527 "Broken Link : "ERROR 401 | Error: deleted_client | The OAuth client was deleted.""
**Description :**
Upon clicking on the "Google" icon in the "https://accounts.topcoder-dev.com/member" link, present under "OR LOG IN WITH" is leading to ERROR 401.

**Repro Steps :**
1. Launch Microsoft Edge/IE and navigate to the following link "https://accounts.topcoder-dev.com/member".
2. Click on 'Google' icon present under "OR LOG IN WITH"

**Expected behavior :**
A pop-up window must be lau

[2018-09-17 08:22] Arunkumar8992 opened #1528 "Unable to Save the Basic Info Details"
Description :
After entering the Input details in Basic Info page , unable to save it. Getting error message

Repro Steps :

Launch Chrome / Microsoft Edge/IE and navigate to the following link "https://www.topcoder-dev.com/settings/profile"

Under BASIC INFO tab, Enter the details.

Once Entered , while clicking "Save Changes" button getting Error window.

Expected behavior :
The inputs should be

[2018-09-17 12:59] ajefts commented on #1308
@sumitdaga

1.  The submit page should be available to the winner when a Final Fix phase is open.  It will cycle to Final Review after the submission, at which point the page should be unavailable.  It may become available again if Final Review fails and another Final Fix phase opens.

2. For both dev and design, only 1 submission per final fix phase is permitted.

3. I believe the submission type

[2018-09-17 15:57] jcoxspsu opened #1530 "[$20] [Firefox][Windows 10]Dashboard: "ERROR: Failed to load RSS feed""
Error dialog box appears when navigating to dashboard both when clicking the link from the menu or entering the url.  Error occurs immediately when the page loads and is happening every time

Frequency 10/10

https://www.topcoder-dev.com/my-dashboard

Text of the dialog box:

"ERROR: Failed to load RSS feed

We are sorry that you have encountered this problem. Please, contact our support ‌support@

[2018-09-17 17:41] NehaSharma02 opened #1531 "The image link is broken on Development homepage"
There is a broken image in the tutorials section at the bottom of the Development Homepage.
(https://www.topcoder.com/community/development/)

![image](https://user-images.githubusercontent.com/37835397/45639742-6a0bfd00-bace-11e8-8be8-ba32819211ab.png)

@birdofpreyru
cc @ajefts

[2018-09-18 12:26] JayaDhaka opened #1532 "[$80] Checkpoint feedback is not visible in checkpoints TAB!"
Unable to view checkpoint feedback here https://www.topcoder.com/challenges/30070635/?type=design&noncache=true&tab=checkpoints
![image](https://user-images.githubusercontent.com/34749364/45687317-194ae180-bb6c-11e8-8350-8f1b6ca59c7c.png)

Pls check and fix it.

[2018-09-18 13:51] ajefts commented on #1308
@sumitdaga When a user visits https://www.topcoder-dev.com/challenges/30052994/submit and does not have permission to submit or the phase isn't open, can we please show a message on the page that says "Submissions are not permitted at this time."

Currently the page displays and when I hit submit (it looks active) nothing happens.

cc: @cwdcwd

[2018-09-18 14:10] ajefts opened #1533 "Agree to terms from terms page"
We currently have a page to display a given set of terms.  Let's add the ability for a logged in user to agree to the terms by adding a checkbox at the bottom and an "Accept" button.

Checkbox label:  "I understand and agree."

Here is an example of the page we need to add the button to:
https://www.topcoder.com/challenges/terms/detail/21303

[2018-09-18 14:10] ajefts commented on #1533
@birdofpreyru is this one you'd want to take?

[2018-09-18 14:44] cwdcwd commented on #1308
@sumitdaga almost there, I think. see @ajefts comments ☝️

[2018-09-18 15:37] #1143 closed

[2018-09-18 15:41] #1227 closed

[2018-09-18 15:55] #579 closed

[2018-09-18 19:38] harshitmehta123 commented on #1288
Hi @urwithat Any updates on this? :)

More and more members are reporting the issue.

[2018-09-18 20:16] ajefts commented on #1288
@ThomasKranitsas Can you add this one to the bug bash as well please?

[2018-09-18 20:19] ThomasKranitsas commented on #1288
Contest https://www.topcoder.com/challenges/30071288 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-18 20:19] ThomasKranitsas commented on #1288
Contest https://www.topcoder.com/challenges/30071288 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-18 20:20] ThomasKranitsas commented on #1288
@topcoder-platform/topcodercompetitors anyone wants to pick this up?

The fix needed is:
- [ ] For SRMs, change the URL to `https://community.topcoder.com/stat?c=round_overview&rd={{SRM}}`
- [ ] For Marathon Matches, change the URL to `https://community.topcoder.com/tc?module=MatchDetails&rd={{MarathonMatch}}`

where {{SRM}} and {{MarathonMatch}} are the IDs

[2018-09-18 20:31] gets0ul commented on #1288
Please assign me

[2018-09-18 20:31] ThomasKranitsas commented on #1288
Contest https://www.topcoder.com/challenges/30071288 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-18 20:43] birdofpreyru commented on #1533
OK, the challenge is scheduled: https://www.topcoder.com/challenges/30071290

[2018-09-18 22:08] ajefts commented on #1533
Thanks!

[2018-09-19 06:15] sumitdaga commented on #1308
not sure i understand this point @ajefts  ...do you mean we should not allow a final fixer to submit again when the he/she has successfully submitted ?

[2018-09-19 10:50] PA384814 opened #1535 "P1: Error ' 404 HTTP Error '"
**Describe the bug**
Getting error after opening the preferences tab in below link.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.topcoder-dev.com/settings/profile'
2. Click on 'Preferences Tab'
3. See error

**Expected behavior**
It should ask a list of preferences that users want to give.

**Screenshots**
See the attached screenshot.
![screenshot 482](https://user-imag

[2018-09-19 11:42] birdofpreyru opened #1536 "Missing Site Map"
**Describe the bug**
There is the _Site Map_ link in the footer of Topcoder website. It leads to nowhere now (404 HTTP page).

**Expected behavior**
Proper _Site Map_ page should be created, or all _Site Map_ links should be removed.

[2018-09-19 15:05] ThomasKranitsas commented on #1299
@ajefts do we have a min age to register at Topcoder? I guess yesterday's date should also not be valid.

[2018-09-19 15:08] ThomasKranitsas commented on #1301
Works in production. Not a bug in the site. It's a bug in the dev db

cc @cwdcwd @urwithat

[2018-09-19 15:08] #1301 closed

[2018-09-19 15:12] ThomasKranitsas commented on #1304
Cannot reproduce. Maybe it's because of dirty existing data in the db that's causing this error on the backend.

[2018-09-19 15:13] #1304 closed

[2018-09-19 15:15] ThomasKranitsas commented on #1305
This is inconsistent between different browsers. It should be consistent and we should use the same datepicker component we use in https://www.topcoder.com/challenges

[2018-09-19 15:17] ThomasKranitsas commented on #1306
We should not show that error if the user canceled the action

[2018-09-19 15:19] ThomasKranitsas commented on #1309
cannot reproduce

[2018-09-19 15:19] #1309 closed

[2018-09-19 15:20] ThomasKranitsas commented on #1310
Duplicate of #1306

[2018-09-19 15:20] #1310 closed

[2018-09-19 15:31] ThomasKranitsas commented on #1327
cannot reproduce

[2018-09-19 15:31] #1327 closed

[2018-09-19 15:36] ThomasKranitsas commented on #1332
This field gets populated from the country you selected when registering for Topcoder. It can't be empty so this is not a valid issue

[2018-09-19 15:36] #1332 closed

[2018-09-19 15:39] ThomasKranitsas commented on #1338
this was possibly due to a backend issue at that time. It seems to be working now so it's not a frontend issue

[2018-09-19 15:39] #1338 closed

[2018-09-19 15:41] ThomasKranitsas commented on #1341
cannot reproduce. I tried with all device types

[2018-09-19 15:41] #1341 closed

[2018-09-19 16:10] ThomasKranitsas commented on #1346
duplicate

[2018-09-19 16:10] #1346 closed

[2018-09-19 16:29] ThomasKranitsas commented on #1350
This may be an issue with accounts that don't have the personalization trait yet. Needs to be investigated and fixed if needed

[2018-09-19 16:33] ajefts opened #1537 "Testing 1"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-09-19 16:33] ThomasKranitsas commented on #1355
There is some lag when deleting an entry... The happens when you delete an entry, then the view wrongly renders the same entry while it was removed in the db and then you try to remove it again.

[2018-09-19 16:34] ajefts commented on #1537
@mtwomey just testing soemthing...

[2018-09-19 16:35] ThomasKranitsas commented on #1356
cannot reproduce

[2018-09-19 16:35] #1356 closed

[2018-09-19 16:39] ajefts opened #1538 "Terms agreement for assigned task flow"
This is the description.  Git change.  Here is the summary of goals/reqs for this feature. xxxxx

[2018-09-19 16:39] ajefts commented on #1538
Link to feature: https://tcprod.productboard.com/feature-board/planning/features/1275963

[2018-09-19 16:42] ajefts commented on #1538
comment in git

[2018-09-19 16:53] ThomasKranitsas commented on #1365
duplicate of #1305

[2018-09-19 16:53] #1365 closed

[2018-09-19 16:54] ThomasKranitsas commented on #1367
Interesting one!

[2018-09-19 16:57] ThomasKranitsas commented on #1367
@ajefts although this is a valid issue, I'm not sure if we can/should fix that.

There are 2 ways to fix that and both sound like overkill to me:
1. Only `POST` the new object and add it to the existing array instead of `POST` the updated array. But this would require quite some work on the frontend and updates on the backend.
2. Use WebSockets to refresh the data in another device 🙃

I don't real

[2018-09-19 16:59] ThomasKranitsas commented on #1368
cannot reproduce

[2018-09-19 16:59] #1368 closed

[2018-09-19 17:01] ThomasKranitsas commented on #1372
I cannot reproduce that

[2018-09-19 17:01] #1372 closed

[2018-09-19 17:03] ThomasKranitsas commented on #1376
duplicate of #1305

[2018-09-19 17:03] #1376 closed

[2018-09-19 17:04] ThomasKranitsas commented on #1377
duplicate

[2018-09-19 17:04] #1377 closed

[2018-09-19 17:07] ThomasKranitsas commented on #1379
@dedywahyudi fyi

[2018-09-19 17:33] ThomasKranitsas commented on #1380
this works fine on my end

[2018-09-19 17:33] #1380 closed

[2018-09-19 17:37] ThomasKranitsas commented on #1383
cannot reproduce

[2018-09-19 17:37] #1383 closed

[2018-09-19 17:39] ThomasKranitsas commented on #1388
The DOB field seems to be broken. Duplicate of #1305

[2018-09-19 17:39] #1388 closed

[2018-09-19 17:48] #1538 closed

[2018-09-19 18:08] ThomasKranitsas commented on #1348
duplicate

[2018-09-19 18:08] #1348 closed

[2018-09-19 18:28] ThomasKranitsas commented on #1389
Not sure if this can be fixed though.

[2018-09-19 18:30] ThomasKranitsas commented on #1392
@vic-topcoder thoughts?

[2018-09-19 18:32] ThomasKranitsas commented on #1393
Agree. It would make more sense to show the error right above the save/add button

[2018-09-19 18:35] ThomasKranitsas commented on #1396
that's not really an invalid URL... It's being recognized as a chain of subdomains.

[2018-09-19 18:35] #1396 closed

[2018-09-19 18:37] ThomasKranitsas commented on #1397
I don't think this is an issue... It's not a radio button thus it kinda makes sense to me to not being able to change the options with tab button.

[2018-09-19 18:38] ThomasKranitsas commented on #1398
I don't think this is an issue... It's not a radio button thus it kinda makes sense to me to not being able to change the options with tab button.

[2018-09-19 18:41] PereViki commented on #1397
@ThomasKranitsas
I am referring to accessibility issues, like when people with disability would like to browse the site with a screen reader. They would not be able to do so.

[2018-09-19 18:58] PereViki commented on #1398
WCAG 2.0 Guidelines about keyboard accessibility: https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0#keyboard-operation

[2018-09-19 18:59] PereViki commented on #1397
WCAG 2.0 Guidelines about keyboard accessibility: https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0#keyboard-operation

[2018-09-20 08:12] ThomasKranitsas commented on #1402
cannot reproduce

[2018-09-20 08:12] #1402 closed

[2018-09-20 08:26] ThomasKranitsas commented on #1407
It's actually a font issue as the letter `P` overlaps with the `:`

cc @vic-topcoder

[2018-09-20 10:18] ThomasKranitsas commented on #1409
invalid issue. The input is visible at the top.

[2018-09-20 10:18] #1409 closed

[2018-09-20 10:30] ThomasKranitsas commented on #1418
this is a common issue in the app thus can't be counted as valid issue for this bug hunt targetting the settings page.

[2018-09-20 10:30] #1418 closed

[2018-09-20 10:30] ThomasKranitsas commented on #1419
duplicate

[2018-09-20 10:30] #1419 closed

[2018-09-20 10:33] ThomasKranitsas commented on #1423
duplicate

[2018-09-20 10:33] #1423 closed

[2018-09-20 10:34] #1288 closed

[2018-09-20 10:35] ThomasKranitsas commented on #1288
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071288<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 10:53] #1291 closed

[2018-09-20 10:53] ThomasKranitsas commented on #1291
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30070987<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 11:08] ThomasKranitsas commented on #1425
duplicate

[2018-09-20 11:08] #1425 closed

[2018-09-20 11:40] ThomasKranitsas commented on #1432
duplicate

[2018-09-20 11:40] #1432 closed

[2018-09-20 11:47] ThomasKranitsas commented on #1441
duplicate

[2018-09-20 11:47] #1441 closed

[2018-09-20 11:47] ThomasKranitsas commented on #1442
cc @vic-topcoder

[2018-09-20 11:47] ThomasKranitsas commented on #1443
duplicate

[2018-09-20 11:47] #1443 closed

[2018-09-20 11:48] ThomasKranitsas commented on #1445
not a valid issue

[2018-09-20 11:48] #1445 closed

[2018-09-20 11:56] ThomasKranitsas commented on #1447
cannot reproduce

[2018-09-20 11:56] #1447 closed

[2018-09-20 13:42] ajefts commented on #1308
@sumitdaga In that case, I'm referring to when I am the winner of the challenge, but Final Fix is not open.  Currently, it's letting me load the submission page attempt to submit.  We should show a message on the page that "Submissions are not permitted at this time." on the page and not give the option to submit.

[2018-09-20 13:58] ThomasKranitsas opened #1539 "[$10] Settings page - icons issue"
From the changes made in this PR https://github.com/topcoder-platform/community-app/pull/1292/files some icons (SVGs) cannot be loaded and the Account page crashes with the following error:

<img width="1452" alt="screen shot 2018-09-20 at 16 57 26" src="https://user-images.githubusercontent.com/4612921/45823418-59d66680-bcf6-11e8-8fb6-2895427fe8d2.png">

You need to rename the icons to match the

[2018-09-20 13:59] ThomasKranitsas commented on #1539
@topcoder-platform/topcodercompetitors this is open for pickup.

We need this one fixed ASAP. Do not take it if you don't plan to fix it immediately.

[2018-09-20 14:00] Gauravseta commented on #1539
@ThomasKranitsas assign it to me i will do it now

[2018-09-20 14:00] ThomasKranitsas commented on #1539
sure

[2018-09-20 14:02] Gauravseta commented on #1539
@ThomasKranitsas need to raise PR against develop branch?

[2018-09-20 14:02] ThomasKranitsas commented on #1539
yes, please

[2018-09-20 14:04] #1290 closed

[2018-09-20 14:04] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:04] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:04] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:05] ThomasKranitsas commented on #1290
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30070986<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:06] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:06] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:06] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:06] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:06] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:16] ThomasKranitsas commented on #1459
cannot reproduce. I created a new account and I was able to access the preference page without issues

[2018-09-20 14:16] #1459 closed

[2018-09-20 14:17] Gauravseta commented on #1539
@ThomasKranitsas just 5 min more. raising PR

[2018-09-20 14:29] ThomasKranitsas commented on #1466
@karinakohl are you using some 3rd party extension on your browser? Anything that manages passwords or generates passwords? I'm not seeing that icon on my chrome. I'm also using MacOS High Sierra

[2018-09-20 14:29] #1466 closed

[2018-09-20 14:30] ThomasKranitsas commented on #1467
duplicate. This was already reported

[2018-09-20 14:30] #1467 closed

[2018-09-20 14:32] Gauravseta commented on #1539
@ThomasKranitsas Pr riased #1540

[2018-09-20 14:35] ThomasKranitsas commented on #1539
Thanks! The fix is correct.. I'll merge the PR once the test pass

[2018-09-20 14:35] Gauravseta commented on #1539
@ThomasKranitsas its breaking still i guess .just a minute dont test it. i am checking again

[2018-09-20 14:38] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:40] Gauravseta commented on #1539
@ThomasKranitsas is account tab visible at ur end?

[2018-09-20 14:40] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:40] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:40] ThomasKranitsas commented on #1539
Payment failed: [500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:46] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:46] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:46] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 14:46] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 15:17] Gauravseta commented on #1539
@ThomasKranitsas its working fine on again npm run dev. thanks

[2018-09-20 15:28] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 15:28] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 15:52] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 15:53] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 15:53] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 16:02] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 16:02] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 16:02] ThomasKranitsas commented on #1539
Payment failed: [500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 16:02] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 16:08] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 16:08] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 16:08] ThomasKranitsas commented on #1539
[500]: Challenge for the updated issue 1539 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 16:13] sumitdaga commented on #1308
@ajefts @cwdcwd
i have created a new PR #1541 because the old PR was closed!
please note that both the PR's will need to be merged to [this branch](https://github.com/topcoder-platform/community-app/tree/1308_finalFixSupport)
let me know if it works!

thanks

[2018-09-20 16:46] ThomasKranitsas commented on #1469
this is expected behavior as those pages haven't been moved to the new site yet

[2018-09-20 16:46] #1469 closed

[2018-09-20 16:47] ThomasKranitsas commented on #1471
duplicate of #1470

The issue is essentially the same

[2018-09-20 16:47] #1471 closed

[2018-09-20 16:55] ThomasKranitsas commented on #1475
duplicate

[2018-09-20 16:55] #1475 closed

[2018-09-20 16:57] ThomasKranitsas commented on #1477
we should filter out the skills that are already in the members profile

[2018-09-20 16:59] ThomasKranitsas commented on #1479
duplicate

[2018-09-20 16:59] #1479 closed

[2018-09-20 17:01] ThomasKranitsas commented on #1481
we need to add more skills to the list

cc @ajefts

[2018-09-20 17:42] ThomasKranitsas commented on #1485
duplicate of #1483

[2018-09-20 17:42] #1485 closed

[2018-09-20 17:44] ThomasKranitsas commented on #1487
Since we now have a more compact way to display the settings page, we should update the breakpoints to render the tablet (collapsed sidebar) view on tablet portrait + landscape

[2018-09-20 17:44] ThomasKranitsas commented on #1488
Not a valid issue... It's an issue on the development backend/db

[2018-09-20 17:45] ThomasKranitsas commented on #1490
@urwithat @cwdcwd should you add this to the db?

[2018-09-20 17:48] sdgun commented on #1488
@ThomasKranitsas This can be seen on the production as well

[2018-09-20 17:50] ThomasKranitsas commented on #1491
It works by pressing the `Enter` key but indeed that's not very obvious... We need to add an `Add` button

[2018-09-20 17:51] ThomasKranitsas commented on #1492
I think that's expected behavior... I can't think of another way to render the full text without looking weird.

[2018-09-20 17:51] #1492 closed

[2018-09-20 17:53] ThomasKranitsas commented on #1488
@cwdcwd @urwithat @ajefts skills `Test 1` and `Tony_Test` do exist in prod

[2018-09-20 17:54] ThomasKranitsas commented on #1493
duplicate

[2018-09-20 17:54] #1493 closed

[2018-09-20 18:45] ThomasKranitsas commented on #1494
duplicate

[2018-09-20 18:45] #1494 closed

[2018-09-20 18:46] ThomasKranitsas commented on #1495
what's under the blue box? `www.wikipedia.com` works fine when I try it

[2018-09-20 18:46] #1495 closed

[2018-09-20 18:46] ThomasKranitsas commented on #1496
duplicate

[2018-09-20 18:46] #1496 closed

[2018-09-20 18:47] ThomasKranitsas commented on #1497
duplicate

[2018-09-20 18:47] #1497 closed

[2018-09-20 18:49] ThomasKranitsas commented on #1500
duplicate

[2018-09-20 18:49] #1500 closed

[2018-09-20 18:58] ThomasKranitsas commented on #1504
cannot reproduce

[2018-09-20 18:58] #1504 closed

[2018-09-20 19:01] ThomasKranitsas commented on #1506
The payments page hasn't been moved to the new site yet. This is not a valid issue

[2018-09-20 19:01] #1506 closed

[2018-09-20 19:07] ThomasKranitsas commented on #1508
duplicate

[2018-09-20 19:07] #1508 closed

[2018-09-20 19:07] ThomasKranitsas commented on #1509
duplicate

[2018-09-20 19:07] #1509 closed

[2018-09-20 19:08] ThomasKranitsas commented on #1510
@ajefts @vic-topcoder thoughts?

[2018-09-20 19:16] ThomasKranitsas commented on #1512
duplicate

[2018-09-20 19:16] #1512 closed

[2018-09-20 19:18] ThomasKranitsas commented on #1514
duplicate

[2018-09-20 19:18] #1514 closed

[2018-09-20 19:18] ThomasKranitsas commented on #1515
duplicate

[2018-09-20 19:18] #1515 closed

[2018-09-20 19:48] ThomasKranitsas commented on #1518
@vic-topcoder thoughts?

[2018-09-20 19:57] ThomasKranitsas commented on #1525
that was based on the design so it's not a valid issue

[2018-09-20 19:57] #1525 closed

[2018-09-20 20:00] ThomasKranitsas commented on #1528
there's not enough information on the issue description on how to reproduce the issue. I tried with multiple users, both existing and new and everything worked

[2018-09-20 20:00] #1528 closed

[2018-09-20 20:48] NehaSharma02 commented on #1531
The image links are also broken here:

https://www.topcoder.com/community/development
https://www.topcoder.com/community/design
https://www.topcoder.com/community/data-science
https://www.topcoder.com/community/competitive-programming

[2018-09-20 21:29] ThomasKranitsas commented on #1539
Contest https://www.topcoder.com/challenges/30071433 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 21:34] ThomasKranitsas commented on #1539
Contest https://www.topcoder.com/challenges/30071433 has been updated - it has been assigned to lazybaer.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 21:34] ThomasKranitsas commented on #1539
Contest https://www.topcoder.com/challenges/30071433 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-20 21:43] #1539 closed

[2018-09-20 21:43] ThomasKranitsas commented on #1539
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071433<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 04:45] urwithat commented on #1301
Working in production

[2018-09-21 04:47] urwithat commented on #1460
@dedywahyudi Lets add the 2-step verification.

cc @ThomasKranitsas, @cwdcwd

[2018-09-21 04:51] urwithat commented on #1490
@ThomasKranitsas This is the error.
{"id":"-2491f2d3:165f91f07b8:-3ada","result":{"success":true,"status":400,"metadata":null,"content":"[\"Tag id 2 is not valid\"]"},"version":"v3"}

Where is the list of Skills displayed in drop down populated from? hope its not hardcoded and are there any other skills missed out?

cc @cwdcwd

[2018-09-21 04:53] urwithat commented on #1488
@ThomasKranitsas
This similar to https://github.com/topcoder-platform/community-app/issues/1490#issuecomment-423272873.
I believe the data for skills are hard coded on the front end, so we are facing data difference on front end and backend!

cc @cwdcwd @ajefts

[2018-09-21 12:57] birdofpreyru commented on #1531
Fixed by e42463336adaf9f54a599d7d11680a5256c29a6e, but not yet in prod

[2018-09-21 12:57] birdofpreyru commented on #1285
Fixed by e42463336adaf9f54a599d7d11680a5256c29a6e, but not yet in prod

[2018-09-21 15:43] ThomasKranitsas opened #1543 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2018-09-21 17:10] ThomasKranitsas commented on #1501
Update the component to collapse when clicking outside of the dropdown menu

[2018-09-21 17:11] ThomasKranitsas commented on #1486
We should not show the already added skills on the dropdown menu

[2018-09-21 17:12] nauhil commented on #1491
I want to pick up this

[2018-09-21 17:13] ThomasKranitsas commented on #1491
Sure!

[2018-09-21 17:14] ThomasKranitsas commented on #1465
This should be fixed everywhere in the settings page where we have a textarea field

[2018-09-21 17:16] hokienick opened #1544 "[$100] Redirect option in Contentful - URGENT"
**Is your feature request related to a problem? Please describe.**
Yes, we needed to move tutorials from "Data Science" to Competitive Programming" by changing the url.  We believe people may be bookmarking these pages as we've received many support tickets about not being able to access them.

ex: https://www.topcoder.com/community/data-science/data-science-tutorials/dynamic-programming-from-novi

[2018-09-21 17:29] khushimehta03 commented on #1366
@ThomasKranitsas please assing to me. m not able to assign it. thanks. I started working on it

[2018-09-21 17:30] ThomasKranitsas commented on #1366
Did you use the link I provided on the challenge forum? I can't find you in the assignees list

[2018-09-21 17:34] sumitdaga commented on #1484
@ThomasKranitsas @sdgun
the skills section does not work against development db but works against production
but i cannot reproduce this issue against production ....

[2018-09-21 17:35] ThomasKranitsas commented on #1484
I just tried and it worked the 1st time but I was able to reproduce the issue on the 2nd time

[2018-09-21 17:36] ThomasKranitsas commented on #1305
The datepicker we use has many issues. We need to replace it with the one we use on the www.topcoder.com/challenges page (see in the filters)

[2018-09-21 17:38] sumitdaga commented on #1484
@ThomasKranitsas
ok so there is an issue when you try to remove skills fast one after the other!
what should be the behaviour in this case, as the confirm popup is pretty slow ?

[2018-09-21 17:40] khushimehta03 commented on #1366
@ThomasKranitsas can u please provide me challenge link ? I don't find any..i saw this repo once hence watching it since long. can u please paste link?

[2018-09-21 17:41] ThomasKranitsas commented on #1366
here you go https://www.topcoder.com/challenges/30071536

[2018-09-21 17:41] ThomasKranitsas commented on #1484
I can think of 2 solutions:

1. Modify the notification text to include all removed items. Something like a summary of the actions.
Example:
[code]

2. Be able to show multiple notifications. This may flood the screen but it would be better than not showing some of the notifications.

You can implement any of the 2 solutions or suggest a better one.

[2018-09-21 17:43] ThomasKranitsas commented on #1544
@ajefts @hokienick want me to include that on the bug bash?

[2018-09-21 17:44] ThomasKranitsas commented on #1543
@topcoder-platform/topcodercompetitors we're currently running this Bug Bash challenge: https://www.topcoder.com/challenges/30071536

Make sure to register on the challenge and use the link from the forum to register with Topcoder-X otherwise you can't work on the tickets that are open for pickup.

Thank you!

[2018-09-21 17:55] ThomasKranitsas commented on #1366
let me know once you've registered on the challenge and used the link from the forum

[2018-09-21 18:01] khushimehta03 commented on #1366
@ThomasKranitsas not able to register.its disabled in grey. even submit is disabled in grey. wont be able to see challenge forum unless I can register. for time being can u please assign to me thanks

[2018-09-21 18:04] ThomasKranitsas commented on #1366
Should be fixed now. Please give it a try

[2018-09-21 18:07] khushimehta03 commented on #1366
{"message":"Failed to add team member. 422 error making request PUT https://api.github.com/teams/2454329/memberships/khushimehta03: \"Unprocessable Entity\".","code":"Unprocessable Entity"}

this is displayed on screen on authorizing github

[2018-09-21 18:09] ThomasKranitsas commented on #1366
Please check your email. You should've received an email to join our organization. Accept the invitation and then use the link again to register with Topcoder-X

cc @cwdcwd

[2018-09-21 18:11] arun1595 commented on #1474
@ThomasKranitsas I would like to take a stab at this one.

[2018-09-21 18:12] khushimehta03 commented on #1366
@ThomasKranitsas no such email in my inbox no invitation yet

[2018-09-21 18:16] Gauravseta commented on #1473
@ThomasKranitsas can u please provide new credentials of user? i have tonyJ , but is there any else user?

[2018-09-21 18:17] ThomasKranitsas commented on #1473
You can create a new account if you want. I don't have any other credentials right now.

[2018-09-21 18:21] khushimehta03 commented on #1366
@ThomasKranitsas any help?

[2018-09-21 18:26] ajefts commented on #1299
Let's just make sure it's in the future...

[2018-09-21 18:28] ThomasKranitsas commented on #1299
I'm not sure what you mean. The date of birth shouldn't be a future date :)

[2018-09-21 18:35] jomadoye commented on #1415
I would like to work on this @ThomasKranitsas

[2018-09-21 18:36] ThomasKranitsas commented on #1415
Sure! First you'll have to register on this challenge https://www.topcoder.com/challenges/30071536/?type=develop and use the link from the forum to register to our Topcoder-X platform. Then I can assign you to this ticket

[2018-09-21 18:41] Gauravseta commented on #1473
@ThomasKranitsas can you please help, am i watching at right place?

1. i logged in as usual, pointed to localhost:3000.
2. all links are present , to go different pages.
3. i clicked "Settings profile page", redirected to "http://localhost:3000/settings/profile"
4. clicked on skills. no skilss prsent henc trying to add new.
5. but on adding , error dialog appears.
6. so how to see skills if no sk

[2018-09-21 18:43] ThomasKranitsas commented on #1473
Adding skills doesn't currently work in dev.. You need to try against production.

[2018-09-21 18:45] sumitdaga commented on #1314
@ThomasKranitsas
this looks fine against production http://take.ms/V9yfr

[2018-09-21 18:47] sumitdaga commented on #1313
@ThomasKranitsas
even this looks fine against production

[2018-09-21 18:48] Gauravseta commented on #1473
@ThomasKranitsas TonyJ/appirio123
it says incorrect user name password.
i logged in at topcoder.com , and also tried at accounts.topcoder.com

[2018-09-21 18:49] ThomasKranitsas commented on #1473
It's normal 🙂 I don't think Tony wants to share his password for the production site ;)

You should use your account for testing against production.

[2018-09-21 18:54] Gauravseta commented on #1473
@ThomasKranitsas ok i used mine production email id password for logging in.
it says incorrect user id password and also refreshed page at localhost:3000
can you pplease help?

[2018-09-21 19:04] Gauravseta commented on #1473
@ThomasKranitsas i logged in on dev with a dummy user. it still shows error popup if i try to add skills

[2018-09-21 19:07] jomadoye commented on #1415
@ThomasKranitsas
<img width="1249" alt="screen shot 2018-09-21 at 3 06 29 pm" src="https://user-images.githubusercontent.com/26272732/45901145-f872ce00-bdaf-11e8-8ad2-0a0dedb4a019.png">

That is what I get on the topcoder-X link

[2018-09-21 19:10] ThomasKranitsas commented on #1415
cc @cwdcwd

[2018-09-21 19:12] gurmeetb commented on #1474
@ThomasKranitsas how does it work ?  Do ppl comment or take up tickets ?

[2018-09-21 19:13] khushimehta03 commented on #1366
@ThomasKranitsas solved ? as m near to complete this issue . shall I raise MR once completed?

[2018-09-21 19:16] ThomasKranitsas commented on #1474
@topcoder-platform/topcodercompetitors So, few ppl can self-assign to the tickets while some others can't.

If you can self-assign and change the labels, perfect! if not, comment on the ticket that you're working on it and I'll do the rest.

Same rules apply to everyone.
- 1 ticket at a time
- 24h to fix the ticket

[2018-09-21 19:20] gurmeetb commented on #1450
@ThomasKranitsas Good idea would be to provide Cancel Button here ? 🤔

[2018-09-21 19:21] ThomasKranitsas commented on #1366
yes, please see my comment here https://github.com/topcoder-platform/community-app/issues/1474#issuecomment-423643732

[2018-09-21 19:35] sumitdaga commented on #1415
@ThomasKranitsas
i am sorry i did not see the comments
should i leave this issue ?

[2018-09-21 19:36] narekcat commented on #1324
@ThomasKranitsas Please assign this issue to me.

[2018-09-21 19:39] gurmeetb commented on #1450
@cwdcwd any specific reason for un-assigning me ? I am working on this.

[2018-09-21 19:39] ThomasKranitsas commented on #1450
@gurmeetb don't worry! @cwdcwd is an admin ;)

[2018-09-21 19:39] cwdcwd commented on #1450
yes. pay not attention to that. I'm debugging the automation that's supposed to create the challenges/payments for this but currently are throwing errors

[2018-09-21 19:40] cwdcwd commented on #1450
you're still on the job @gurmeetb =)

[2018-09-21 19:40] gurmeetb commented on #1450
ah sorry about it then, I reverted your change. I will ignore that ahead...

[2018-09-21 19:41] sumitdaga commented on #1323
@ThomasKranitsas  @PereViki
this looks fine on device mode (ipad tablet) on chrome
is this reproducible only on an actual device ?

[2018-09-21 19:44] narekcat commented on #1324
@ThomasKranitsas Ok I have self assigned it to me.

[2018-09-21 19:51] cwdcwd commented on #1450
I'm going to pull off your assigned user too @gurmeetb but will put you back on after I see what happens in the logs

[2018-09-21 20:42] ThomasKranitsas commented on #1450
Contest https://www.topcoder.com/challenges/30071539 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:43] ThomasKranitsas commented on #1450
Contest https://www.topcoder.com/challenges/30071539 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:44] cwdcwd commented on #1450
@ThomasKranitsas looks like it's working now that I removed a record that had a null challengeId in the db. odd because the record had nothing to do with this repo or even github (it was a gitlab ticket)
CC: @jmgasper

[2018-09-21 20:45] cwdcwd commented on #1484
@suppermancool pls ignore as I tinker with the labels and assignment

[2018-09-21 20:46] ThomasKranitsas commented on #1484
Contest https://www.topcoder.com/challenges/30071540 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:47] sumitdaga commented on #1308
@cwdcwd
do these fixes work as expected ? any feedback

[2018-09-21 20:47] ThomasKranitsas commented on #1484
Contest https://www.topcoder.com/challenges/30071540 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:48] ThomasKranitsas commented on #1415
Contest https://www.topcoder.com/challenges/30071541 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:48] ThomasKranitsas commented on #1415
Contest https://www.topcoder.com/challenges/30071541 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:49] ThomasKranitsas commented on #1344
Contest https://www.topcoder.com/challenges/30071542 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:50] ThomasKranitsas commented on #1344
Contest https://www.topcoder.com/challenges/30071542 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:50] cwdcwd commented on #1308
@ajefts was testing. @ajefts ?

[2018-09-21 20:52] ThomasKranitsas commented on #1324
Contest https://www.topcoder.com/challenges/30071543 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:52] ThomasKranitsas commented on #1543
@topcoder-platform/topcodercompetitors do not modify the labels. Our system is going to take care of that.

[2018-09-21 20:54] ThomasKranitsas commented on #1324
Contest https://www.topcoder.com/challenges/30071543 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:54] ThomasKranitsas commented on #1323
Contest https://www.topcoder.com/challenges/30071544 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:54] ThomasKranitsas commented on #1323
Contest https://www.topcoder.com/challenges/30071544 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:56] ThomasKranitsas commented on #1330
Contest https://www.topcoder.com/challenges/30071545 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:56] ThomasKranitsas commented on #1330
Contest https://www.topcoder.com/challenges/30071545 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:57] ThomasKranitsas commented on #1307
Contest https://www.topcoder.com/challenges/30071546 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:57] ThomasKranitsas commented on #1307
Contest https://www.topcoder.com/challenges/30071546 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:58] ThomasKranitsas commented on #1474
Contest https://www.topcoder.com/challenges/30071547 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:59] ThomasKranitsas commented on #1352
Contest https://www.topcoder.com/challenges/30071548 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 20:59] gurmeetb commented on #1307
@Gauravseta you are holding 2 tickets - this and #1473 - as per bug bash rule you cannot take 2 tickets.

@ThomasKranitsas please see☝️ - Kindly assign me one of them

[2018-09-21 20:59] ThomasKranitsas commented on #1352
Contest https://www.topcoder.com/challenges/30071548 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:00] ThomasKranitsas commented on #1452
Contest https://www.topcoder.com/challenges/30071549 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:00] ThomasKranitsas commented on #1452
Contest https://www.topcoder.com/challenges/30071549 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:01] ThomasKranitsas commented on #1305
Contest https://www.topcoder.com/challenges/30071550 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:01] ThomasKranitsas commented on #1305
Contest https://www.topcoder.com/challenges/30071550 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:01] gurmeetb commented on #1473
@ThomasKranitsas I see @Gauravseta moved this to OPEN For Pickup but looks like he missed his assignment release. Can I pick this up ?

[2018-09-21 21:02] ThomasKranitsas commented on #1465
Contest https://www.topcoder.com/challenges/30071551 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:02] ThomasKranitsas commented on #1465
Contest https://www.topcoder.com/challenges/30071551 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:02] ThomasKranitsas commented on #1473
sure

[2018-09-21 21:02] ThomasKranitsas commented on #1473
Contest https://www.topcoder.com/challenges/30071552 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:02] ThomasKranitsas commented on #1473
Contest https://www.topcoder.com/challenges/30071552 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:03] jomadoye commented on #1415
@ThomasKranitsas Seems someone else has already been assigned.
Please can you manually add me to the repo, since the link is not working.

[2018-09-21 21:03] ThomasKranitsas commented on #1486
Contest https://www.topcoder.com/challenges/30071553 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:04] ThomasKranitsas commented on #1486
Contest https://www.topcoder.com/challenges/30071553 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:04] ThomasKranitsas commented on #1415
@cwdcwd ☝️

[2018-09-21 21:04] ThomasKranitsas commented on #1454
Contest https://www.topcoder.com/challenges/30071554 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:05] ThomasKranitsas commented on #1454
Contest https://www.topcoder.com/challenges/30071554 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:07] ThomasKranitsas commented on #1430
Contest https://www.topcoder.com/challenges/30071555 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:08] ThomasKranitsas commented on #1430
Contest https://www.topcoder.com/challenges/30071555 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:09] ThomasKranitsas commented on #1498
Contest https://www.topcoder.com/challenges/30071556 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:10] ThomasKranitsas commented on #1498
Contest https://www.topcoder.com/challenges/30071556 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:10] ThomasKranitsas commented on #1381
Contest https://www.topcoder.com/challenges/30071557 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:10] ThomasKranitsas commented on #1381
Contest https://www.topcoder.com/challenges/30071557 has been updated - it has been assigned to kevin.crain.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:12] ThomasKranitsas commented on #1491
Contest https://www.topcoder.com/challenges/30071558 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:12] ThomasKranitsas commented on #1491
Contest https://www.topcoder.com/challenges/30071558 has been updated - it has been assigned to nauhil.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:14] cwdcwd commented on #1308
@sumitdaga I confirmed with @ajefts. Nice work!

[2018-09-21 21:20] ThomasKranitsas commented on #1308
Contest https://www.topcoder.com/challenges/30071110 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:21] arun1595 commented on #1474
@ThomasKranitsas I'm having a hard time at setting up the dev environment with production backend (adding & removing skills doesn't work in dev backend).

If anyone else wants to fix this issue, please go ahead!

[2018-09-21 21:29] ThomasKranitsas commented on #1308
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:32] gurmeetb commented on #1474
@ThomasKranitsas How do we validate this issue ? On production get Unauthorized - see here https://youtu.be/4JD9b8rzruQ

on development, it is not supported.

[2018-09-21 21:50] ThomasKranitsas commented on #1473
Contest https://www.topcoder.com/challenges/30071552 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-21 21:58] KevinLeigh commented on #1381
@ThomasKranitsas @PereViki

Hey Guys,

I think this is mostly an API issue as I am getting HTTP status code `504` for  `PUT https://api.topcoder-dev.com/v3/users/40152856/preferences/email`.

Please advise.

[2018-09-21 22:17] Gauravseta commented on #1307
@gurmeetb i did not take two tickets. i did mark open my previous ticket. u can check it if m wrong.

[2018-09-21 22:33] Gauravseta commented on #1307
@ThomasKranitsas

below is url for deleting weblink:

** const res = await this.private.api.delete(`/members/${userHandle}/externalLinks/${webLinkHandle}`, JSON.stringify(body)); **

so i need similar endpoint for deleting avatar e.g:

** /members/${userHandle}/photoUrl **

kindly correct me if m wrong.
also is there any swagger file which mentions API format if any?

[2018-09-21 22:46] Gauravseta commented on #1307
@ThomasKranitsas Also few minor doubts:
1.Is watch  removed on project? because after saving the changes , app doesnt rebuild immeidately, which earlier used to .
2. console.log statements arent working on project. is there any configuration done on repo? i dont find any such , can you please help thanks.

[2018-09-21 23:17] nahidshahin commented on #1473
@ThomasKranitsas I want to work on it, I guess no one is working right now.

[2018-09-21 23:59] nahidshahin commented on #1473
What to do?

Requirement is not clear
@ThomasKranitsas you update the description, please?

[2018-09-22 01:28] gets0ul commented on #1305
Can I use other day picker component as the current one in challenge filters does not support month/year selection?
Like @blueprintjs/datetime or react-day-picker?

[2018-09-22 10:44] ThomasKranitsas commented on #1473
Contest https://www.topcoder.com/challenges/30071552 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 10:51] PrakashDurlabhji commented on #1498
@ThomasKranitsas Pr done #1560

[2018-09-22 11:38] birdofpreyru commented on #1544
@ThomasKranitsas yeah, you probably do, as I ended up completely overloaded with different stuff, so hardly will be able to move this one in the nearest days.

[2018-09-22 12:13] rashmi73 commented on #1430
@ThomasKranitsas is anything going on at backend?
suddenly console error comes that token is invalid.

Also needed a minor clarification:
1.what if user enters same email again? in which way error should be shown and what is the text to be shown?

[2018-09-22 13:08] rashmi73 commented on #1430
@ThomasKranitsas #1563 pls check it. thanks .MR done

[2018-09-22 13:15] khushimehta03 commented on #1366
@ThomasKranitsas I wont be able to complete it within timeframe.hence making it open for pickup.

[2018-09-22 13:27] sumitdaga commented on #1366
@ThomasKranitsas
how should this be handled?
which should be the allowed years a user can enter ?

[2018-09-22 13:29] ThomasKranitsas commented on #1366
@sumitdaga since it's a DOB, we just need to make sure it's a date in the past

[2018-09-22 13:29] ThomasKranitsas commented on #1366
please disregard the labels. I'm trying to fix TCX

[2018-09-22 13:30] ThomasKranitsas commented on #1381
@KevinLeigh are you getting the same error now?

[2018-09-22 13:30] #1324 closed

[2018-09-22 13:31] ThomasKranitsas commented on #1324
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071543<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:32] #1473 closed

[2018-09-22 13:32] ThomasKranitsas commented on #1473
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071552<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:33] #1498 closed

[2018-09-22 13:33] ThomasKranitsas commented on #1498
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071556<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:34] nahidshahin commented on #1544
I want to work on it.

[2018-09-22 13:34] ThomasKranitsas commented on #1323
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:34] #1323 closed

[2018-09-22 13:35] ThomasKranitsas commented on #1323
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071544<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:35] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:35] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:35] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:35] ThomasKranitsas commented on #1544
are you registered on this challenge https://www.topcoder.com/challenges/30071536 ?
please register and use the link from the forum to register to our Topcoder-X platform

[2018-09-22 13:40] #1450 closed

[2018-09-22 13:40] gurmeetb commented on #1544
Thomas : Can i pickup this while i am waiting on clarity on other ticket blocker? I am registered

[2018-09-22 13:41] ThomasKranitsas commented on #1450
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071539<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:41] ThomasKranitsas commented on #1544
@gurmeetb let's give @nahidshahin some time to register. If he doesn't, it's yours

[2018-09-22 13:42] #1344 closed

[2018-09-22 13:42] ThomasKranitsas commented on #1344
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071542<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:43] #1330 closed

[2018-09-22 13:43] rashmi73 commented on #1366
@ThomasKranitsas it was with me as khushi made it open for pickup, then how can sumitdaga take it? sumit u can see clearly its taken by me, then how can u unassign me?

[2018-09-22 13:43] ThomasKranitsas commented on #1330
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071545<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:43] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:44] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:44] ThomasKranitsas commented on #1366
@rashmi73 maybe the page didn't refresh on @sumitdaga's browser ;)

BTW, please do not modify the labels. Our system will take care of the labels.

[2018-09-22 13:45] ThomasKranitsas commented on #1366
@cwdcwd this one is also stuck :( Can you clear the db, please?

[2018-09-22 13:46] rashmi73 commented on #1366
@ThomasKranitsas m sure page was refreshed on sumitdaga end , because he deliberatly unassigned me, u can check it above as he was 3 minutes late than me (I assigned 30 mins ago, and sumitdaga unassigned me and assigned himself 27mins ago). @sumitdaga kindly do not violate rules thanks

[2018-09-22 13:47] sumitdaga commented on #1366
oh sorry for the confusion!
it was a genuine mistake, i will unassign myself and assign you!

[2018-09-22 13:48] ThomasKranitsas commented on #1366
@rashmi73 it's a very well known issue with GitHub ;)

It happened quite many times to me before so I'm 100% sure @sumitdaga didn't violate the rules but he just wasn't aware you already have taken the ticket.

[2018-09-22 13:50] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:50] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:50] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-22 13:50] Gauravseta commented on #1307
@ThomasKranitsas please provide url so I can raise PR on "topcoder-react-lib" repo. will raise Pr within 15mins , once clarified. thanks. waiting

[2018-09-22 13:55] ThomasKranitsas commented on #1307
1. Not sure
2. Not sure

Regarding the URL, can you try `PUT /members/{handle}/photo`? I'm not 100% sure if that's the one thought.

[2018-09-22 13:56] Gauravseta commented on #1307
@ThomasKranitsas I guess
1.it shud be DELETE and not PUT.
2.also deleteweblink is on similar lines, shall I mimick that with url u mentioned?

[2018-09-22 13:58] Gauravseta commented on #1307
@ThomasKranitsas can you please provide backend repo url of this , so I can check in swagger if anything is mentioned in it, also if any backend person can provide url then it wud be good. thanks
Am I on correct path?

[2018-09-22 13:58] ThomasKranitsas commented on #1307
https://github.com/appirio-tech/ap-member-microservice

[2018-09-22 13:59] rashmi73 commented on #1366
@sumitdaga thanks I understand it.

@ThomasKranitsas

[2018-09-22 14:00] gurmeetb commented on #1474
@ThomasKranitsas can you throw some light here :point_up:

[2018-09-22 14:11] ThomasKranitsas commented on #1474
@gurmeetb please run `export CONTENTFUL_CDN_API_KEY=9509cc6b93e546e7cb1e6b8b9fe494da6f398206a7658eebed1267d07c1f5cf7 && export CONTENTFUL_PREVIEW_API_KEY=ca4d1d7000d03a6513ba7d2e97b63f13e0dc718af44d756cbd390a174fbe448d && export CONTENTFUL_SPACE_ID=b5f1djy59z3a` before you start the app. That's because of contentful config issue

[2018-09-22 14:18] gurmeetb commented on #1474
Thanks @ThomasKranitsas - let me try that...

[2018-09-22 14:52] nahidshahin commented on #1544
I've registered, but can't get access to repo
getting

[code]

[2018-09-22 16:07] ThomasKranitsas commented on #1544
@hokienick ☝️

[2018-09-22 16:08] KevinLeigh commented on #1381
@ThomasKranitsas Hey there, yes I am still getting the same error

[2018-09-22 16:22] sdgun opened #1564 "Adding some QA related Skills to the Skills drop down"
There are few QA related Tools and Skills in the drop down list, I would suggest adding below items to the drop down as well. cc @ThomasKranitsas @cwdcwd @ajefts

**Skills**
---------------------------
Manual Testing
Automation Testing
Mobile Testing
Functional Testing
API Testing
Performance Testing
Load Testing
Usability Testing
Compatibility Testing
Security Testing

**Tools [Free]**
----------

[2018-09-22 16:49] gurmeetb commented on #1474
@ThomasKranitsas i am actively working on this, should be able to push MR in few hrs, am able to replicate the issue, working on fix

[2018-09-22 16:56] #1531 closed

[2018-09-22 16:57] #1285 closed

[2018-09-22 17:17] akmarif commented on #1305
Hi, I want to work on it

[2018-09-22 17:48] prasadadarkar30 commented on #1501
@ThomasKranitsas it is difficult. releasing it. it is open now.

[2018-09-22 20:36] gurmeetb commented on #1474
@ThomasKranitsas FYI - this looks like a very simple issue but is very complex as the logic is wrong on add/delete skills, I am working on re-writing the logic which will also fix other Skills page tickets. This will need some additional time as this works only against Production and have to add logging to debug, which is taking more time.

[2018-09-22 22:03] ThomasKranitsas commented on #1564
cc @ajefts

[2018-09-22 22:10] Gauravseta commented on #1307
@ThomasKranitsas i saw in repo having swaggr file, i do not find any api for delete photourl, but still i will raise PR on 'topcoder-react-lib' with whatever i can and i hope this issue shall  be with  me as genuine efforts are taken and seems to be time taking to find out where problem lies. thanks

[2018-09-22 22:38] ThomasKranitsas commented on #1307
Yes, please create a PR if you found the issue. Let me know if the effort was more that what’s in the ticket prize right now and I’ll bump up the prize

[2018-09-22 22:42] ThomasKranitsas commented on #1501
Guys, please do not modify the labels when you self-assign to any ticket. Our system will take care of that

[2018-09-22 22:44] ThomasKranitsas commented on #1305
Like I said previously, some ppl don’t have access to self-assign. If you comment on the ticket that you’re working on it, it’s yours... thanks everyone for following the rules

[2018-09-22 22:52] PrakashDurlabhji commented on #1501
@ThomasKranitsas
1.did I do correct by add and removing labels?
2. or I just need to assign myself and it is done?
I am confused

[2018-09-22 23:04] ThomasKranitsas commented on #1501
You just need to assign yourself to the ticket and that’s it

[2018-09-23 01:00] birdofpreyru commented on #1533
@ajefts ready in dev

[2018-09-23 09:51] nahidshahin commented on #1544
@ThomasKranitsas asked a question at Forum http://apps.topcoder.com/forums/?module=Thread&threadID=924096&start=0&mc=1#2292289, need a reply, please.

[2018-09-23 11:46] Dara-K opened #1566 "New Profile Settings - Data not moved"
As I've checked my new Profile Settings page, I noticed that the data I had on Basic Info already completed on previous profile, is not there anymore.
![profile settings](https://user-images.githubusercontent.com/25185079/45927687-6e596f80-bf3f-11e8-8dd9-e6098f99b4ce.png)

[2018-09-23 12:02] rashmi73 commented on #1366
@ThomasKranitsas PR done. #1567

[2018-09-23 12:14] nahidshahin commented on #1544
@ThomasKranitsas please allow me few more hours, I was stuck at dev env setup

[2018-09-23 12:14] ThomasKranitsas commented on #1544
sure

[2018-09-23 19:13] PrakashDurlabhji commented on #1501
@ThomasKranitsas
1.are we allowed to upgrade the "react-select" from 1.1.0 to 1.2.0?
2.because on searching for the solution i came across github issue raise on library repo for it, where even others faced same issue and in their next release it was fixed probably.
3. so if after upgrading the version , if all functionality working well , then will it be allowed?
because m done with this issue mos

[2018-09-23 19:39] PrakashDurlabhji commented on #1501
@ThomasKranitsas PR done. #1568

[2018-09-23 20:27] PrakashDurlabhji commented on #1415
@ThomasKranitsas can i get this if jomadoye fails to complete it? as its already 2 days and no update from him? so can i take it?

[2018-09-24 02:30] akmarif commented on #1305
Current one in challenge filters is a date-range-picker and we already have a component for that. But we need a data-picker for this particular case. Can we use https://www.npmjs.com/package/react-datepicker or similar kind of library?

[2018-09-24 06:50] KevinLeigh commented on #1381
@ThomasKranitsas Any update on the above ?

[2018-09-24 08:01] sushilshinde opened #1569 "PWA is not working"
@ThomasKranitsas PWA isn't working after I merged the PR. Can you check with @liuliquan ?

1. Offline isn't working
2. Every time I refresh, it installs new SW.

[2018-09-24 08:52] liuliquan commented on #1569
How is it deployed? In chrome console log, did you see something like this http://take.ms/cViR9 in chrome console log?

It works when visit from http://localhost:3000.

If it is visited from a domain (like local.topcoder.com), it has to be HTTPS secured.

[2018-09-24 08:57] sushilshinde commented on #1569
@liuliquan can you check with this deployment

https://beta-community-app.topcoder.com/challenges

branch is https://github.com/topcoder-platform/community-app/tree/mm-feature-experiment

[2018-09-24 09:14] liuliquan commented on #1569
I see it, fails because "Uncaught TypeError: i.registerQuotaErrorCallback is not a function"

Related to https://github.com/GoogleChrome/workbox/issues/1642

Maybe upgrade workbox-webpack-plugin to latest 3.6.1 will fix it

[2018-09-24 09:17] gurmeetb commented on #1544
@nahidshahin Are you still on it ?

@ThomasKranitsas do suggest if this can be taken ☝️ since it is more than 2 days now ?

[2018-09-24 09:32] liuliquan commented on #1569
Ah, the package-lock.json is not updated to lock the version, that's why it gets installed with the buggy v3.5.0 ...

[2018-09-24 09:34] sushilshinde commented on #1569
Now working on your local?

Just upgraded workbox?

[2018-09-24 10:03] liuliquan commented on #1569
Yes, upgraded workbox works. It is a bug of v3.5 workbox. Either 3.4.1 (the version I used in dev) or latest 3.6.1 will work.

[2018-09-24 10:10] nahidshahin commented on #1544
@gurmeetb I'm stuck, you can take it

[2018-09-24 10:13] gurmeetb commented on #1544
Sure - thanks for flagging.

[2018-09-24 11:31] JayaDhaka opened #1571 "[$10] The DOB field is subtracting 1 day after submitting the changes on profile page"
Please check and resolve, the Birth Date field is subtracting 1 day after submitting the page

Steps to reproduce the behavior:

1. Go to URL https://www.topcoder.com/settings/profile
2. Edit the DOB field, adding one day from 07/12/1988 to 07/13/1988.
3. Click on submit then the date is back to 12.

![inkededge-before_li](https://user-images.githubusercontent.com/34749364/45994303-a0d6aa00-c0b0-1

[2018-09-24 12:04] sushilshinde commented on #1569
@liuliquan @ThomasKranitsas

Here is the PWA lighthouse audit, not very good it seems. What are we missing here?

<img width="1001" alt="screen shot 2018-09-24 at 5 33 12 pm" src="https://user-images.githubusercontent.com/683231/45951141-029b0380-c020-11e8-9f0d-122615de5dcd.png">

[2018-09-24 14:03] ajefts commented on #1571
@ThomasKranitsas can we add this to the bug bash please?

[2018-09-24 14:05] PrakashDurlabhji commented on #1571
@ajefts can i take it? @ThomasKranitsas is it allowed to take it as of now?

[2018-09-24 14:12] ThomasKranitsas commented on #1571
@PrakashDurlabhji yes, you can work on it

[2018-09-24 14:13] PrakashDurlabhji commented on #1571
@ThomasKranitsas thanks. will complete immediatly

[2018-09-24 14:17] ThomasKranitsas commented on #1544
@gurmeetb please disregard the labels.. This is still yours. I'm just trying to fix the tcx issue

[2018-09-24 14:55] gurmeetb commented on #1544
@ThomasKranitsas MR is already pushed in, so no worries.

[2018-09-24 15:50] liuliquan commented on #1569
1: For page load, uncheck the "Clear Storage" button when audit. The cached storage is the key to make it faster.

This may also depends on network speed.

2, 3, 4: The manifest was added to topcoder-react-utils in 0.7.6 version. But looks it is not there in the deployed 0.7.8 version.

5: Not sure about this

[2018-09-24 15:54] ThomasKranitsas commented on #1415
Contest https://www.topcoder.com/challenges/30071541 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-24 15:55] rashmi73 commented on #1415
@ThomasKranitsas assigning to myself as jomadaye has no response.thanks

[2018-09-24 15:56] liuliquan commented on #1569
I think you can lock topcoder-react-utils to 0.7.7 version to test this. The PWA manifest staff was not included in 0.7.8

[2018-09-24 16:00] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-24 16:07] nahidshahin commented on #1491
@nauhil are you working on it? If not @ThomasKranitsas I want to try.

[2018-09-24 18:39] hokienick commented on #1271
@birdofpreyru has run a challenge to complete this.

[2018-09-24 18:39] #1271 closed

[2018-09-24 19:06] hokienick opened #1572 "Country does not persist from Registration to Profile"
**Describe the solution you'd like**
When registering for a new account, it asks for Country.  Once activated I went to my profile to just change my interested track to Data Science,  I attempted to save but it seemed as if nothing was happening.  I scrolled up to find that I had an error that says the Country field cannot be blank.

The country field should already be populated from Registration.

[2018-09-24 19:07] ThomasKranitsas commented on #1572
@hokienick any specific country or all countries?

[2018-09-24 19:09] hokienick opened #1573 "Add "Competitive Programming" as a track to Settings page"
**Describe the solution you'd like**
On Settings page, there are 3 tracks to choose from to show what the user is interested in.  There should be a 4th choice labeled "Competitive Programming"

**Additional context**
The site has evolved into separating Competitive Programming from Data Science.  We should make changes elsewhere when we run into it.

[2018-09-24 19:13] ThomasKranitsas commented on #1573
cc @ajefts @cwdcwd

[2018-09-24 19:48] Gauravseta commented on #1307
@ThomasKranitsas Pr has been raised at "topcoder-react-lib" and link to that PR is

https://github.com/topcoder-platform/topcoder-react-lib/pull/24

can you please look into it, and make the endpoint available and test it so that i get confirmation that mine logic was correct.

[2018-09-24 22:41] nauhil commented on #1491
@nahidshahin I raised 3days ago.

PR https://github.com/topcoder-platform/community-app/pull/1547

[2018-09-25 01:08] RiteshTC commented on #1295
cc: @cwdcwd

[2018-09-25 02:53] nahidshahin commented on #1491
@nauhil, sorry I was confused as review label wasn't there

[2018-09-25 04:52] akmarif commented on #1305
@ThomasKranitsas :point_up:

[2018-09-25 05:48] gets0ul commented on #1283
"All 3 levels of divs should set their padding-bottom to 0"

Should we also do this for all 3 levels of divs in Banner?

[2018-09-25 07:06] gets0ul commented on #1283
@ThomasKranitsas should I remove the OpenForPickup label? I read somewhere the only thing we need to do is assigning ourselves.

[2018-09-25 13:09] PrakashDurlabhji commented on #1571
@thomaskranitsas PR within hr near to complete it

[2018-09-25 17:50] cwdcwd opened #1575 "[$50] Submission Response Error Handling"
**Description of bug**
Currently, when the submission API receives a `POST` of a submission the API checks that the user has the proper role applied to their JWT in order to POST. When the user does _not_ have the right role (or the roles are missing) the API returns a 403. The front end Community App is not handling this 403 correctly (and likely not handling any error codes) and is hiding the is

[2018-09-25 17:51] cwdcwd commented on #1575
@sumitdaga any interest in this?

[2018-09-25 17:53] cwdcwd commented on #1575
![](https://github.trello.services/images/mini-trello-icon.png) [Topgear user submission issue](https://trello.com/c/HCTmj7OI/59-topgear-user-submission-issue)

[2018-09-25 17:57] ThomasKranitsas commented on #1575
[500]: Challenge for the updated issue 1575 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 18:01] sumitdaga commented on #1575
Sure @cwdcwd. .. thanks for asking!
It's almost midnight here ... I will check it and give you an update tomorrow!

[2018-09-25 18:09] nahidshahin commented on #1575
Is it still open for pickup?

[2018-09-25 18:28] ThomasKranitsas commented on #1575
[500]: Challenge for the updated issue 1575 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 18:28] ThomasKranitsas commented on #1544
Thanks @gurmeetb ! This is fixed but I'll close it once TCX is fixed.

cc @cwdcwd

[2018-09-25 18:28] ThomasKranitsas commented on #1575
[500]: Challenge for the updated issue 1575 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 18:30] ThomasKranitsas commented on #1544
[500]: Challenge for the updated issue 1544 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 18:31] ThomasKranitsas commented on #1544
[500]: Challenge for the updated issue 1544 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 18:31] ThomasKranitsas commented on #1544
[500]: Challenge for the updated issue 1544 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 18:37] ThomasKranitsas commented on #1501
Contest https://www.topcoder.com/challenges/30071774 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 18:37] ThomasKranitsas commented on #1501
Please disregard the labels

[2018-09-25 18:38] ThomasKranitsas commented on #1501
Contest https://www.topcoder.com/challenges/30071774 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 18:39] #1501 closed

[2018-09-25 18:58] ThomasKranitsas commented on #1313
Contest https://www.topcoder.com/challenges/30071775 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 18:58] ThomasKranitsas commented on #1313
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 18:58] ThomasKranitsas commented on #1313
Contest https://www.topcoder.com/challenges/30071775 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 18:59] #1352 closed

[2018-09-25 18:59] ThomasKranitsas commented on #1352
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071548<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 18:59] #1452 closed

[2018-09-25 19:00] ThomasKranitsas commented on #1452
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071549<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 19:00] #1454 closed

[2018-09-25 19:01] ThomasKranitsas commented on #1454
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071554<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 19:01] #1465 closed

[2018-09-25 19:05] ThomasKranitsas commented on #1313
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30071775 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-25 19:08] PrakashDurlabhji commented on #1571
@ThomasKranitsas after investigating from every side. also checking topcder-react-lib,it is working well. can you please check once again.if working well?

[2018-09-25 19:59] Gauravseta commented on #1305
@ThomasKranitsas can i work on this?

[2018-09-25 21:20] rashmi73 commented on #1415
@ThomasKranitsas here is screenshot of my implementation.
<img width="361" alt="1415" src="https://user-images.githubusercontent.com/41687423/46043888-da51f880-c136-11e8-927f-0048b638f5b9.png">

[2018-09-25 21:20] rashmi73 commented on #1415
@ThomasKranitsas raising PR for it.

[2018-09-25 21:41] rashmi73 commented on #1415
@ThomasKranitsas PR done. #1576

[2018-09-26 03:46] ThomasKranitsas commented on #1575
Contest https://www.topcoder.com/challenges/30071799 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 03:48] ThomasKranitsas commented on #1575
Contest https://www.topcoder.com/challenges/30071799 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 03:50] ThomasKranitsas commented on #1575
Contest https://www.topcoder.com/challenges/30071799 has been updated - it has been assigned to lazybaer.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 03:51] cwdcwd commented on #1575
it looks like @gurmeetb assigned and then unassigned themselves so @nahidshahin yes, we're open for pickup.

[2018-09-26 04:09] ThomasKranitsas commented on #1575
Contest https://www.topcoder.com/challenges/30071799 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 04:11] gurmeetb commented on #1575
@cwdcwd Yes I unassigned considering this was not open for pickup since you mentioned @sumitdaga to pick up this.

In order to avoid such confusion, I would suggest we just mark open for pickup and let developers self-assign if they are interested. Kindly suggest if I should continue since @nahidshahin had asked post @sumitdaga comment.

Kindly suggest so I will start work on this then.

[2018-09-26 04:18] nahidshahin commented on #1575
I can't self assign , so just to wait for copilot

[2018-09-26 04:18] nahidshahin commented on #1575
Anyway, seems it issue has assigned

[2018-09-26 04:19] gurmeetb commented on #1575
go ahead @nahidshahin - it's yours.

[2018-09-26 04:32] nahidshahin commented on #1575
Thanks I'll try

[2018-09-26 04:34] birdofpreyru commented on #1282
I believe, it was resolved by the recent fix related to broken links to some of images coming from CMS.

[2018-09-26 04:34] #1282 closed

[2018-09-26 04:36] sumitdaga commented on #1575
@cwdcwd

Should I not work on it then?

[2018-09-26 06:51] akmarif commented on #1305
I'm waiting for your ans @ThomasKranitsas

[2018-09-26 07:12] ThomasKranitsas commented on #1305
@akmarif this component doesn't really match with the overall design of the app. If you can modify the styles to make it match, then it should be fine.
Also, make sure it works and looks good on mobile too.

[2018-09-26 08:13] #1544 closed

[2018-09-26 08:13] ThomasKranitsas commented on #1544
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071777<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 08:14] ThomasKranitsas commented on #1544
@hokienick this has been resolved.
You can hit the following URL https://community-app.topcoder-dev.com/community/data-science/data-science-tutorials/dynamic-programming-from-novice-to-advanced/ to verify the fix.

The app will redirect you to the correct page.

[2018-09-26 08:27] ThomasKranitsas commented on #1283
Contest https://www.topcoder.com/challenges/30071816 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 08:27] ThomasKranitsas commented on #1283
Contest https://www.topcoder.com/challenges/30071816 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 08:27] #1283 closed

[2018-09-26 08:28] ThomasKranitsas commented on #1283
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071816<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 08:33] PrakashDurlabhji commented on #1571
@ThomasKranitsas no problem thanks

[2018-09-26 08:53] #1484 closed

[2018-09-26 08:53] ThomasKranitsas commented on #1484
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071540<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 09:02] #1486 closed

[2018-09-26 10:11] #1491 closed

[2018-09-26 10:12] ThomasKranitsas commented on #1491
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071558<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 10:26] ThomasKranitsas commented on #1474
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071547<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 10:35] ThomasKranitsas commented on #1513
This has been fixed

[2018-09-26 10:35] #1513 closed

[2018-09-26 10:40] ThomasKranitsas commented on #1490
@urwithat we get the skills from https://api.topcoder-dev.com/v3/tags/?domain=SKILLS&status=APPROVED

[2018-09-26 10:42] ThomasKranitsas commented on #1487
Contest https://www.topcoder.com/challenges/30071830 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 10:42] ThomasKranitsas commented on #1487
Contest https://www.topcoder.com/challenges/30071830 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 10:43] ThomasKranitsas commented on #1478
Contest https://www.topcoder.com/challenges/30071831 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 10:43] ThomasKranitsas commented on #1478
Contest https://www.topcoder.com/challenges/30071831 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 10:43] ThomasKranitsas commented on #1472
Contest https://www.topcoder.com/challenges/30071832 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 10:43] ThomasKranitsas commented on #1472
Contest https://www.topcoder.com/challenges/30071832 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 10:43] ThomasKranitsas commented on #1477
Contest https://www.topcoder.com/challenges/30071833 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 10:43] ThomasKranitsas commented on #1477
Contest https://www.topcoder.com/challenges/30071833 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 10:44] ThomasKranitsas commented on #1477
Contest https://www.topcoder.com/challenges/30071833 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 10:48] ThomasKranitsas commented on #1480
Contest https://www.topcoder.com/challenges/30071834 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 10:48] ThomasKranitsas commented on #1480
Contest https://www.topcoder.com/challenges/30071834 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 10:54] ThomasKranitsas commented on #1487
Contest https://www.topcoder.com/challenges/30071830 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 11:06] sumitdaga commented on #1487
@ThomasKranitsas

should this be done to all settings tabs as part of this issue?

[2018-09-26 11:40] ThomasKranitsas commented on #1472
Contest https://www.topcoder.com/challenges/30071832 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 11:54] ThomasKranitsas commented on #1480
Contest https://www.topcoder.com/challenges/30071834 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 11:55] sumitdaga commented on #1472
PR #1577

[2018-09-26 11:55] ThomasKranitsas commented on #1478
Contest https://www.topcoder.com/challenges/30071831 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 11:56] ThomasKranitsas commented on #1487
Contest https://www.topcoder.com/challenges/30071830 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:03] rashmi73 commented on #1487
@ThomasKranitsas can you please add comment while adding label openforpickup. because on commnting i get notification mail. but when just labels are modified i never get email.can you please comment if possibl. thansk

[2018-09-26 12:05] sumitdaga commented on #1487
@ThomasKranitsas
can we add more breakpoints [here](https://github.com/topcoder-platform/topcoder-react-utils/blob/master/src/styles/_mixins/media.scss)  to make things easier for this issue ?

[2018-09-26 12:06] rashmi73 commented on #1487
@ThomasKranitsas can you please take note that, sumitdaga took another issue while workidng on this issue.
u can see timings of both issues he assinged to himself and raise PR for another one.
is this allowed?

[2018-09-26 12:08] sumitdaga commented on #1487
@rashmi73
please check again, i assigned this one to me, unassigned this one, took another , raised PR for that one and then assigned this to myself again!
whats wrong with that?

[2018-09-26 12:08] ThomasKranitsas commented on #1487
@sumitdaga yes, please. I'll increase the price.

@rashmi73 noted. I'll add a comment next time.
The other ticket that's on @sumitdaga's name is in Review which means he can work on a new ticket.

[2018-09-26 12:09] ThomasKranitsas commented on #1487
Contest https://www.topcoder.com/challenges/30071830 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:17] ThomasKranitsas commented on #1366
please disregard the labels

[2018-09-26 12:20] gets0ul commented on #1477
Adding skills is not working.

Sending PATCH https://api.topcoder-dev.com/v3/members/${handle}/skills to backend always ends with error 400 response.

`{
	"id": "42536b7:1660af22332:-4f08",
	"result": {
		"success": true,
		"status": 400,
		"metadata": null,
		"content": "[\"Tag id 104 is not valid\"]"
	},
	"version": "v3"
}`

It happened for every skill.

[2018-09-26 12:31] ThomasKranitsas commented on #1110
@cwdcwd this is also stuck

[2018-09-26 12:31] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:31] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:31] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:31] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:32] ThomasKranitsas commented on #1313
@cwdcwd this one too

[2018-09-26 12:32] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:32] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:36] ThomasKranitsas commented on #1366
Payment failed: [500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:42] ThomasKranitsas commented on #1366
[500]: Challenge for the updated issue 1366 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:44] ThomasKranitsas commented on #1366
@cwdcwd i need help on this one too

[2018-09-26 12:48] ThomasKranitsas commented on #1299
this is fixed

[2018-09-26 12:48] #1299 closed

[2018-09-26 12:49] ThomasKranitsas commented on #1334
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-26 12:49] ThomasKranitsas commented on #1349
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-26 12:50] ThomasKranitsas commented on #1349
Contest https://www.topcoder.com/challenges/30071857 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:50] ThomasKranitsas commented on #1349
Contest https://www.topcoder.com/challenges/30071857 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:51] ThomasKranitsas commented on #1350
@topcoder-platform/topcodercompetitors new ticket open for pickup

[2018-09-26 12:51] ThomasKranitsas commented on #1350
Contest https://www.topcoder.com/challenges/30071858 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:51] ThomasKranitsas commented on #1350
Contest https://www.topcoder.com/challenges/30071858 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:52] ThomasKranitsas commented on #1355
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-26 12:52] ThomasKranitsas commented on #1355
Contest https://www.topcoder.com/challenges/30071859 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:52] ThomasKranitsas commented on #1355
Contest https://www.topcoder.com/challenges/30071859 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:53] ThomasKranitsas commented on #1363
The accepted length should be consistent everywhere

[2018-09-26 12:53] ThomasKranitsas commented on #1363
Contest https://www.topcoder.com/challenges/30071860 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:53] ThomasKranitsas commented on #1363
Contest https://www.topcoder.com/challenges/30071860 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:54] ThomasKranitsas commented on #1363
Contest https://www.topcoder.com/challenges/30071860 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:55] ThomasKranitsas commented on #1334
[500]: Challenge for the updated issue 1334 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:55] ThomasKranitsas commented on #1381
Sorry, I missed the notification about this one.

@cwdcwd @urwithat which is the service for the email preferences?

[2018-09-26 12:55] ThomasKranitsas commented on #1334
[500]: Challenge for the updated issue 1334 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:55] ThomasKranitsas commented on #1334
[500]: Challenge for the updated issue 1334 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:58] ThomasKranitsas commented on #1382
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-26 12:58] ThomasKranitsas commented on #1382
Contest https://www.topcoder.com/challenges/30071861 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:58] ThomasKranitsas commented on #1382
Contest https://www.topcoder.com/challenges/30071861 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:59] ThomasKranitsas commented on #1382
Contest https://www.topcoder.com/challenges/30071861 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:59] ThomasKranitsas commented on #1384
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-26 12:59] ThomasKranitsas commented on #1350
Contest https://www.topcoder.com/challenges/30071858 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:59] ThomasKranitsas commented on #1384
Contest https://www.topcoder.com/challenges/30071862 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:59] ThomasKranitsas commented on #1384
Contest https://www.topcoder.com/challenges/30071862 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:59] ThomasKranitsas commented on #1411
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-26 12:59] ThomasKranitsas commented on #1411
Contest https://www.topcoder.com/challenges/30071863 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 12:59] ThomasKranitsas commented on #1411
Contest https://www.topcoder.com/challenges/30071863 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:01] khushimehta03 commented on #1411
@ThomasKranitsas can u please assign to me? m still not able to assign myself thanks

[2018-09-26 13:01] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:02] prasadadarkar30 commented on #1349
@ThomasKranitsas i want to work on this. thanks.

[2018-09-26 13:02] ThomasKranitsas commented on #1472
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071832<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:03] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:04] ThomasKranitsas commented on #1468
Contest https://www.topcoder.com/challenges/30071864 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:04] ThomasKranitsas commented on #1468
Contest https://www.topcoder.com/challenges/30071864 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:04] ThomasKranitsas commented on #1468
@topcoder-platform/topcodercompetitors this is open for pickup.

[2018-09-26 13:04] ThomasKranitsas commented on #1470
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-26 13:04] ThomasKranitsas commented on #1470
Contest https://www.topcoder.com/challenges/30071865 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:04] ThomasKranitsas commented on #1470
Contest https://www.topcoder.com/challenges/30071865 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:05] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:05] ThomasKranitsas commented on #1411
you can start working on it.

@cwdcwd can you please add @khushimehta03 to the org?

[2018-09-26 13:07] ThomasKranitsas commented on #1349
@prasadadarkar30 are you registered on this https://www.topcoder.com/challenges/30071536 bug bash challenge?

[2018-09-26 13:07] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:07] ThomasKranitsas commented on #1472
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:09] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:10] ThomasKranitsas commented on #1468
Contest https://www.topcoder.com/challenges/30071864 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:12] ThomasKranitsas opened #1578 "[$15] Follow-up - Fix failed test in develop"
fix the failing test in develop branch

[2018-09-26 13:12] ThomasKranitsas commented on #1470
Contest https://www.topcoder.com/challenges/30071865 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:13] ThomasKranitsas commented on #1578
https://circleci.com/gh/topcoder-platform/community-app/2653

[2018-09-26 13:19] ThomasKranitsas commented on #1578
[500]: Challenge for the updated issue 1578 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:27] Gauravseta commented on #1470
@ThomasKranitsas  #1580

[2018-09-26 13:27] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:30] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:32] prasadadarkar30 commented on #1349
@ThomasKranitsas ys I did so. shall I do once again? checking it.also link to register not working yet.

[2018-09-26 13:32] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:32] ThomasKranitsas commented on #1472
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:33] ThomasKranitsas commented on #1349
You can start working on the ticket.

@cwdcwd can you please add @prasadadarkar30 ?

[2018-09-26 13:34] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:38] rashmi73 commented on #1578
@ThomasKranitsas request you to tell to sumitdaga to complete issues which are with him first and then take others so all get equal chances. thanks.

[2018-09-26 13:38] ThomasKranitsas commented on #1334
[500]: Challenge for the updated issue 1334 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:43] ThomasKranitsas commented on #1382
Contest https://www.topcoder.com/challenges/30071861 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:44] ThomasKranitsas commented on #1578
@rashmi73 - @sumitdaga's original PR was valid but broken because someone pushed directly to the `develop` branch. This is not a new ticket but just an additional payment for the extra effort needed to fix what someone else has broken.

I'm giving equal chances to everyone.

[2018-09-26 13:45] ThomasKranitsas commented on #1578
I'll tag all tickets that are "bug bash tickets" as we (copilots/admins) also use Topcoder-X for private tasks or to pay members.

[2018-09-26 13:45] ThomasKranitsas commented on #1578
@topcoder-platform/topcodercompetitors please take a note from my message above.

[2018-09-26 13:48] ThomasKranitsas commented on #1411
Contest https://www.topcoder.com/challenges/30071863 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:49] ThomasKranitsas commented on #1334
[500]: Challenge for the updated issue 1334 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:50] sumitdaga commented on #1472
@ThomasKranitsas
fresh PR #1582

[2018-09-26 13:51] khushimehta03 commented on #1411
@sumitdaga can u please unassign ureself as it is with me. please chck comments above.

[2018-09-26 13:52] sumitdaga commented on #1411
oh sorry ..did not see the comments!

[2018-09-26 13:54] ThomasKranitsas commented on #1487
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 13:54] simranb86 commented on #1468
@ThomasKranitsas i see lot of issues reported with node 8.2.1, do i have to use any specific node version to build the project ? Kindly suggest.

[2018-09-26 13:56] ThomasKranitsas commented on #1468
there is a `.nvmrc` file in the repo which defines the exact versions of node/npm you need to use.

If you have nvm installed you can run `nvm use` and it should pick the correct versions automatically.

[2018-09-26 13:56] rashmi73 commented on #1578
@thomaskranitsas i understood this ticket is for sumitdaga when u assigned him.but my comment was in general for sumit and not specific to this ticket

[2018-09-26 14:02] ThomasKranitsas commented on #1487
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30071830 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 14:05] Gauravseta commented on #1382
@ThomasKranitsas it is working well now. can you please check once again. though small effort but i gave some time to it. still i am keeping it to myself and picking other tickets thanks

[2018-09-26 14:06] ThomasKranitsas commented on #1384
Contest https://www.topcoder.com/challenges/30071862 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 14:11] sumitdaga commented on #1382
@ThomasKranitsas
@Gauravseta
this is an issue that happens in apple devices ...
do you mind if i take it as you are already assigned to some other issue ?

[2018-09-26 14:13] ThomasKranitsas commented on #1382
Contest https://www.topcoder.com/challenges/30071861 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 14:15] Gauravseta commented on #1382
@sumitdaga u can take it no problem if u r able to reproduce it thanks.  but @ThomasKranitsas if its fixed already then please consider me to be assigned . thanks

[2018-09-26 14:20] sumitdaga commented on #1382
@ThomasKranitsas
this was actually fixed by this PR #1559
@Gauravseta  my bad!

[2018-09-26 14:22] sumitdaga commented on #1382
@Gauravseta
if its fixed already ...how does it matter who is assigned!

[2018-09-26 14:27] #1382 closed

[2018-09-26 14:27] ThomasKranitsas commented on #1382
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 14:27] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 14:28] ThomasKranitsas commented on #1355
Contest https://www.topcoder.com/challenges/30071859 has been updated - it has been assigned to asmn.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 14:30] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 14:32] Gauravseta commented on #1384
@ThomasKranitsas can u please check this too. i guess its working. nothing disappears and also no link has been sent to my email which i entered in new email.

[2018-09-26 14:34] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 14:34] ThomasKranitsas commented on #1472
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 14:36] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 14:38] Gauravseta commented on #1384
@ThomasKranitsas its working well.

[2018-09-26 14:38] #1384 closed

[2018-09-26 14:39] ThomasKranitsas commented on #1384
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071862<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 14:49] ThomasKranitsas opened #1583 "[$10] Fix large space between buttons in the account page"
<img width="1396" alt="screenshot 2018-09-26 at 17 47 39" src="https://user-images.githubusercontent.com/4612921/46088140-753ce800-c1b4-11e8-92e9-94736a810c5d.png">

The space between the 2 buttons should be reduced.

[2018-09-26 14:50] ThomasKranitsas commented on #1583
@topcoder-platform/topcodercompetitors new ticket

[2018-09-26 14:55] ThomasKranitsas commented on #1583
[500]: Challenge for the updated issue 1583 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 14:58] ThomasKranitsas commented on #1583
[500]: Challenge for the updated issue 1583 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 15:27] cwdcwd commented on #1575
@nahidshahin did you register for repo access using the topcoder-x link?

@gurmeetb yes, members should assign themselves and not touch labels as the automation will move the labels

[2018-09-26 15:34] ThomasKranitsas commented on #1583
[500]: Challenge for the updated issue 1583 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 15:35] ThomasKranitsas commented on #1583
Contest https://www.topcoder.com/challenges/30071869 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 15:35] cwdcwd commented on #1575
@nahidshahin [this url](https://x.topcoder.com/api/v1/github/teams/registration/7d2c8c34-4d06-49ee-b107-06e3e4f34e43-1537549493947)

[2018-09-26 15:36] ThomasKranitsas commented on #1583
Contest https://www.topcoder.com/challenges/30071869 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 15:36] ThomasKranitsas commented on #1583
Contest https://www.topcoder.com/challenges/30071869 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 15:39] ThomasKranitsas commented on #1334
Contest https://www.topcoder.com/challenges/30071870 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 15:40] ThomasKranitsas commented on #1334
Contest https://www.topcoder.com/challenges/30071870 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 15:40] ThomasKranitsas commented on #1334
Contest https://www.topcoder.com/challenges/30071870 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 15:46] rashmi73 commented on #1350
@ThomasKranitsas I was working on it, and its working good . I even saw topcoder-react-lib , all seems fine.

[2018-09-26 15:50] ThomasKranitsas commented on #1472
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30071832 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 15:51] cwdcwd commented on #1472
FYI manually closed this in Direct/OR to execute payment, @ThomasKranitsas

[2018-09-26 15:51] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 15:53] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 15:55] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 15:58] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 15:58] ThomasKranitsas commented on #1472
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30071832 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 16:00] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 16:12] ThomasKranitsas commented on #1472
Payment failed: [500]: Challenge for the updated issue 1472 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 16:12] ThomasKranitsas commented on #1472
Payment failed: [500]: Challenge for the updated issue 1472 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 17:29] gurmeetb commented on #1363
@ThomasKranitsas could you guide me on backend access / swagger ? this has to do with back-end code, I tried removing one char at a time from 64 chars I used as new password but login doesn't works. Might have to do with backend logic of processing it.

[2018-09-26 18:02] khushimehta03 commented on #1411
@ThomasKranitsas wont be able to make it within 24hrs due to other work .hence making it open.

[2018-09-26 18:03] ThomasKranitsas commented on #1411
Contest https://www.topcoder.com/challenges/30071863 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 18:17] simranb86 commented on #1468
@ThomasKranitsas Are we saying we need to make `Country` optional? If yes, then we will need to fix `JOIN US` flow too, as we have made it mandatory there now.  See 👇

![countryfix](https://user-images.githubusercontent.com/40840038/46100137-535c5900-c1e6-11e8-8182-ef08ade2e943.jpg)

`I think we should force to update country, while we are moving to new application.`  Kindly suggest how we want to

[2018-09-26 18:20] sumitdaga commented on #1411
@rashmi73
are you assigning this to yourself or unassigning ?

[2018-09-26 18:28] rashmi73 commented on #1411
@sumitdaga why u never understand that by reading comments?
cant u see clearly that i assigned myself immediatly once it was open for pickup.
please unassign yourself and do not violate the bug bash rules , so that i assign myself.

[2018-09-26 18:31] ThomasKranitsas commented on #1411
Contest https://www.topcoder.com/challenges/30071863 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 18:31] rashmi73 commented on #1411
@sumitdaga shall i unassign u or u unassigning yourself? kindly comment immediately.
@ThomasKranitsas kindly please take note of this. this is second time sumitdaga did this without reading comments clearly. thanks

[2018-09-26 18:31] sumitdaga commented on #1411
i am again sorry ...
for some reason i am confusing names !

[2018-09-26 18:41] sumitdaga commented on #1575
@cwdcwd
so finally, who is on it then :)

[2018-09-26 19:51] akmarif commented on #1305
@ThomasKranitsas I'm close to finish the issue. Writing a new component using existing library. Please give me few more hours. Thanks

[2018-09-26 20:18] ThomasKranitsas commented on #1487
Contest https://www.topcoder.com/challenges/30071830 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 20:30] ThomasKranitsas commented on #1487
Payment failed: [500]: Challenge for the updated issue 1487 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 20:35] ThomasKranitsas commented on #1487
Contest https://www.topcoder.com/challenges/30071876 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 20:36] ThomasKranitsas commented on #1487
Contest https://www.topcoder.com/challenges/30071876 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 21:49] rashmi73 commented on #1411
@ThomasKranitsas ready for review #1587

[2018-09-26 22:47] ThomasKranitsas commented on #1487
Contest https://www.topcoder.com/challenges/30071876 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 22:57] #1487 closed

[2018-09-26 22:57] ThomasKranitsas commented on #1487
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071876<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 23:18] ThomasKranitsas commented on #1575
Contest https://www.topcoder.com/challenges/30071799 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 23:28] ThomasKranitsas commented on #1472
Contest https://www.topcoder.com/challenges/30071878 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 23:29] cwdcwd commented on #1472
@zjuasmn I unassigned you as I think @sumitdaga resolved this one already but our payment automation is having some bugs

[2018-09-26 23:32] ThomasKranitsas commented on #1472
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 23:38] ThomasKranitsas commented on #1578
Contest https://www.topcoder.com/challenges/30071881 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 23:39] ThomasKranitsas commented on #1578
Contest https://www.topcoder.com/challenges/30071881 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 23:50] ThomasKranitsas commented on #1334
Contest https://www.topcoder.com/challenges/30071870 has been updated - it has been assigned to asmn.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-26 23:59] zjuasmn commented on #1334
cannot reproduce the issue

[2018-09-27 00:46] cwdcwd commented on #1349
@ThomasKranitsas  added by @prasadadarkar30 and several others need to accept the Org invite

![image](https://user-images.githubusercontent.com/1504607/46117092-3cf5d380-c1cd-11e8-8ad6-e7764e8adfa1.png)

[2018-09-27 00:49] cwdcwd commented on #1305
@ThomasKranitsas has @akmarif added themselves via the TCX access link?

[2018-09-27 01:02] ThomasKranitsas commented on #1366
Contest https://www.topcoder.com/challenges/30071882 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 01:06] ThomasKranitsas commented on #1313
Contest https://www.topcoder.com/challenges/30071883 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 01:10] ThomasKranitsas commented on #1313
Contest https://www.topcoder.com/challenges/30071883 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 01:11] #1313 closed

[2018-09-27 01:12] ThomasKranitsas commented on #1313
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071883<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 01:27] ThomasKranitsas commented on #1110
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 01:29] ThomasKranitsas commented on #1110
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 01:29] ThomasKranitsas commented on #1110
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30069992 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 01:31] ThomasKranitsas commented on #1110
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 01:33] #1110 closed

[2018-09-27 01:49] ThomasKranitsas commented on #1334
Contest https://www.topcoder.com/challenges/30071870 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 02:48] suppermancool commented on #1334
@ThomasKranitsas
i added new module for fixing orientation
`blueimp-load-image`
please run
`npm i`
before running

[2018-09-27 03:01] dedywahyudi commented on #1379
@ThomasKranitsas
sorry delay, here's the updated icon and related MR
https://github.com/topcoder-platform/community-app/pull/1589

![screenshot 2018-09-27 09 55 03](https://user-images.githubusercontent.com/4476442/46120968-d2c84780-c23b-11e8-847e-948db8bff25c.png)

[2018-09-27 04:13] dedywahyudi commented on #1460
@ThomasKranitsas @urwithat
I need some clarifications here for 2-steps verification:

- Verify the action in the old email

- Verify the new email address

'Preferences' tab is inaccessible when user changes the email to a non-existing one
- @sdgun What error you see when access the Preference tab?

[2018-09-27 04:41] akmarif commented on #1305
I can't reg to the repo

[2018-09-27 04:41] sdgun commented on #1460
@dedywahyudi 404 Error > https://www.screencast.com/t/pGicRc1jc

[2018-09-27 05:09] simranb86 commented on #1468
@ThomasKranitsas did you had a chance to look at this? Kindly confirm and will push in fix for making it optional, if we need it that way.

[2018-09-27 05:15] dedywahyudi commented on #1460
@sdgun Thanks!
Did you receive email message after click the verification button?

[2018-09-27 05:31] dedywahyudi commented on #1460
Not following? email you listed are same sdgun@sdgun.com. That email active?
New email should different right?

[2018-09-27 05:35] sdgun commented on #1460
No fake email > sdgun@sdgun.com

[2018-09-27 07:46] sumitdaga commented on #1575
@cwdcwd
please check the PR #1591

it should fix the issue but i am not sure if this is the best way to do it though ...
please check the code changes too ...just to be sure that it does not break anything else or that it is the correct way to handle this!

[2018-09-27 10:42] ThomasKranitsas commented on #1363
I'm not sure which is the microservice for this one but the frontend for the registration page should be this one https://github.com/appirio-tech/accounts-app

[2018-09-27 13:00] ThomasKranitsas commented on #1468
No, the country is a required field.

What you need to investigate and fix is why the settings page doesn't pick the Country the user has selected in the registration flow.

[2018-09-27 13:03] ThomasKranitsas commented on #1379
Thanks @dedywahyudi !

[2018-09-27 13:06] nahidshahin commented on #1379
@ThomasKranitsas can I pick this issue please?

[2018-09-27 13:06] ThomasKranitsas commented on #1379
it's already fixed.
This was a private task for @dedywahyudi

[2018-09-27 13:07] #1334 closed

[2018-09-27 13:08] ThomasKranitsas commented on #1379
[500]: Challenge for the updated issue 1379 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 13:08] ThomasKranitsas commented on #1334
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071870<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 13:08] ThomasKranitsas commented on #1379
[500]: Challenge for the updated issue 1379 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 13:09] ThomasKranitsas commented on #1379
[500]: Challenge for the updated issue 1379 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 13:09] ThomasKranitsas commented on #1379
[500]: Challenge for the updated issue 1379 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 13:14] ajefts opened #1592 "design profile stat pages are breaking"
Here is an example:  https://www.topcoder.com/members/iamtong/details/?track=DEVELOP&subTrack=WEB_DESIGNS

It seems that when you drill in to some tracks the page doesn't load.

[2018-09-27 13:15] ajefts commented on #1592
@ThomasKranitsas @urwithat Can we add this to the bash?

[2018-09-27 13:16] ThomasKranitsas commented on #1592
@ajefts sure!

[2018-09-27 13:16] ThomasKranitsas commented on #1592
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-27 13:19] ThomasKranitsas commented on #1379
[500]: Challenge for the updated issue 1379 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 13:19] ThomasKranitsas commented on #1379
[500]: Challenge for the updated issue 1379 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 13:19] ThomasKranitsas commented on #1379
[500]: Challenge for the updated issue 1379 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 13:28] simranb86 commented on #1468
@ThomasKranitsas Thanks, i just verified - it picks up fine and when i change it, it changes it fine too. So, next time i sign in and land onto Settings Screen i see the new country which i saved last time.

So, this seems to be working fine now. Please validate once and confirm, if you still see issues.

[2018-09-27 13:29] PrakashDurlabhji commented on #1478
@ThomasKranitsas working on it PR soon

[2018-09-27 13:29] ThomasKranitsas commented on #1472
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30071878 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 13:30] ThomasKranitsas commented on #1571
@tuliocasagrande that's interesting... 🤔

Which OS/browser are you using?

[2018-09-27 13:33] simranb86 commented on #1468
`Expected behavior
If I create my account without the need to include country and I can navigate through topcoder without update it, it should not me mandatory when you go to your profile settigs page`

@ThomasKranitsas looks like we should close this - ☝️ expected behavior by reportee...

[2018-09-27 13:35] #1411 closed

[2018-09-27 13:36] ThomasKranitsas commented on #1411
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071863<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 13:40] ThomasKranitsas commented on #1468
I remember we've faced that issue again in the past. Specifically when choosing `USA`. I'll soon make some backend changes that may fix this.

I'll put this one on hold.

[2018-09-27 13:44] ThomasKranitsas commented on #1350
@PereViki can you please help us reproduce the issue?

[2018-09-27 13:44] sumitdaga commented on #1592
@ThomasKranitsas @ajefts
i think this is an issue with the production database ...
it is returning design sub-tracks for development activity ....
the url you pasted is essentially wrong ...notice `track=DEVELOP` when it should be `DESIGN`

refer http://take.ms/K1fNj

[2018-09-27 13:51] ajefts commented on #1308
@ThomasKranitsas @sumitdaga it seems this isn't working.   Here is my test case:

https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30052994

TonyJ is the winner.  It's currently in Final Fix.  When TonyJ tries to submit from the challenge page he doesn't see the "Submit" button and the message on the submit page is "Submissions are not permitted at this time."

[2018-09-27 14:58] sumitdaga commented on #1308
@ajefts
i just checked ....i don't think its because of my changes as part of this issue!
in the challenge details page the challenge prop has an empty `currentPhases` property, possibly because the current date is much past the final fix date (not sure though)

[2018-09-27 15:13] ThomasKranitsas commented on #1379
Contest https://www.topcoder.com/challenges/30071922 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 15:13] ThomasKranitsas commented on #1379
Contest https://www.topcoder.com/challenges/30071923 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 15:14] ThomasKranitsas commented on #1379
Contest https://www.topcoder.com/challenges/30071923 has been updated - it has been assigned to lunarkid.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 15:14] tuliocasagrande commented on #1571
I've tested on Windows 10 with chrome and edge, and on Linux Mint 19 with chrome.

[2018-09-27 15:15] #1379 closed

[2018-09-27 15:16] ThomasKranitsas commented on #1379
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071923<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-27 15:41] gurmeetb commented on #1363
Thanks @ThomasKranitsas - running out of time so opening up for others as I will not be available for next 4 days.

[2018-09-27 15:42] ThomasKranitsas commented on #1571
@tuliocasagrande can you please make watch your network tab (in chrome), get the request payload from the `PUT https://api.topcoder-dev.com/v3/members/{USERNAME}/traits` and check if the `birthDate` from the request payload matches with what you've entered?

<img width="1452" alt="screenshot 2018-09-27 at 18 40 24" src="https://user-images.githubusercontent.com/4612921/46157698-fbc0fa80-c284-11e8-

[2018-09-27 15:50] jomadoye commented on #1363
Please can I work on this

[2018-09-27 15:51] jomadoye commented on #1363
@ThomasKranitsas I still have issues joining this repo via the link, please assign to me, thanks.

[2018-09-27 15:51] ThomasKranitsas commented on #1363
@cwdcwd - @jomadoye is still not in the team? I can't see him in the assignee list.

@jomadoye did you get an invitation in your email?

[2018-09-27 15:52] jomadoye commented on #1363
no I did not.

[2018-09-27 16:05] simranb86 commented on #1468
@ThomasKranitsas FYI - i did USA and then Virgin to test as options and it worked fine.

[2018-09-27 19:02] tuliocasagrande commented on #1571
@ThomasKranitsas, the payload matches with what I have entered, however, the order is different than in your screenshot.

When entering 08/12/1988 as you did, I get:
![image](https://user-images.githubusercontent.com/1420513/46168329-89452000-c26e-11e8-9ff9-75ac33192f1f.png)

[2018-09-27 20:41] hokienick opened #1594 "Update Footer"
**Describe the bug**
The footer is not up to date or aligned with the Community, so let's change that!

**Please Remove "Sitemap" as a link**

**Here is what should be in the footer along with their links:**
About Us
https://www.topcoder.com/community/about

Contact Us
https://www.topcoder.com/community/contact

Help Center
https://help.topcoder.com/

Privacy Policy
https://www.topcoder.com/commun

[2018-09-27 20:43] ajefts commented on #1594
@ThomasKranitsas please add this one to the bash.

[2018-09-27 20:48] Gauravseta commented on #1594
@ThomasKranitsas can i take it? or it can be only once labels are added? can you please assign it to me if possible, once u add label. thanks

[2018-09-27 23:18] NehaSharma02 opened #1595 "Error on connect.topcoder.com"
On the link connect.topcoder.com, Error 404 on Get Started and Help menu.

Steps to reproduce:

1. Login to connect.topcoder.com
2. Click on GetStarted and Help menu.

[2018-09-28 06:42] JayaDhaka commented on #1595
Wrong repo, so closing the issue.

[2018-09-28 06:42] #1595 closed

[2018-09-28 06:51] jomadoye commented on #1363
I am unable to solve this ticket. someone else can attempt it. thanks.

[2018-09-28 06:54] ThomasKranitsas commented on #1363
Contest https://www.topcoder.com/challenges/30071860 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 08:27] sumitdaga commented on #1592
@ajefts
you can even check here https://api.topcoder.com/v3/members/iamtong/stats
the api is returning wrong data ...nothing wrong on the community app side

[2018-09-28 12:31] ThomasKranitsas commented on #1571
Thanks @tuliocasagrande! I've resolved the issue and should be deployed in dev shortly.

[2018-09-28 12:31] #1571 closed

[2018-09-28 13:35] ThomasKranitsas commented on #1594
@Gauravseta sure, I'll assign you on this one. Let's wait for TCX to create the challenge before I add you. You can start working on it though

[2018-09-28 13:36] ThomasKranitsas commented on #1594
@Gauravseta I see you're working on https://github.com/topcoder-platform/community-app/issues/1363

[2018-09-28 13:37] sumitdaga commented on #1594
oh ..again didn't see the comments !

[2018-09-28 13:37] ThomasKranitsas commented on #1594
@sumitdaga you can work on this since @Gauravseta has another one

[2018-09-28 13:38] sumitdaga commented on #1594
oh great thanks @ThomasKranitsas

[2018-09-28 13:40] ThomasKranitsas commented on #1594
[500]: Challenge for the updated issue 1594 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 13:40] ThomasKranitsas commented on #1594
[500]: Challenge for the updated issue 1594 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 13:41] ThomasKranitsas commented on #1594
[500]: Challenge for the updated issue 1594 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 13:42] ThomasKranitsas commented on #1594
please disregard the changes here... @sumitdaga is still working on this ticket. I'm just trying to fix the tcx issue

[2018-09-28 13:43] ThomasKranitsas commented on #1594
[500]: Challenge for the updated issue 1594 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 13:48] ThomasKranitsas commented on #1594
[500]: Challenge for the updated issue 1594 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 13:48] ThomasKranitsas commented on #1594
[500]: Challenge for the updated issue 1594 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 13:49] ThomasKranitsas commented on #1594
[500]: Challenge for the updated issue 1594 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 14:03] ThomasKranitsas commented on #1594
Contest https://www.topcoder.com/challenges/30071991 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 14:04] ThomasKranitsas commented on #1594
Contest https://www.topcoder.com/challenges/30071991 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 14:35] ThomasKranitsas commented on #1502
Contest https://www.topcoder.com/challenges/30071995 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 14:35] ThomasKranitsas commented on #1502
Contest https://www.topcoder.com/challenges/30071995 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 14:42] nahidshahin commented on #1349
@rashmi73 are you working on it? Otherwise I want to try.

[2018-09-28 14:45] cwdcwd commented on #1575
thanks @sumitdaga
will check it out

[2018-09-28 14:45] ThomasKranitsas commented on #1594
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 14:45] ThomasKranitsas commented on #1594
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071991<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 14:46] rashmi73 commented on #1349
@nahidshahin @ThomasKranitsas Pr within few hrs. workign actively.

[2018-09-28 14:47] ThomasKranitsas commented on #1594
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 14:47] ThomasKranitsas commented on #1502
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-28 14:47] ThomasKranitsas commented on #1502
Contest https://www.topcoder.com/challenges/30071995 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 14:49] ThomasKranitsas commented on #1594
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 14:51] ThomasKranitsas commented on #1594
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 14:52] ThomasKranitsas commented on #1594
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30071991 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 14:54] ThomasKranitsas commented on #1594
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:00] ThomasKranitsas commented on #1431
This will be fixed once we replace the birthdate input implementation

[2018-09-28 15:00] #1431 closed

[2018-09-28 15:01] cwdcwd commented on #1575
@sumitdaga I don't think that's going to do it. We need to handle the non-200 HTTP status codes that come back from the API. The error is not going to come back in the payload like in the v3 API. v5 APIs return an error message and an HTTP status code

[2018-09-28 15:03] ThomasKranitsas commented on #1328
Contest https://www.topcoder.com/challenges/30071997 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:03] ThomasKranitsas commented on #1328
Contest https://www.topcoder.com/challenges/30071997 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:03] ThomasKranitsas commented on #1328
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-28 15:04] ThomasKranitsas commented on #1328
Contest https://www.topcoder.com/challenges/30071997 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:04] ThomasKranitsas commented on #1414
[500]: Challenge for the updated issue 1414 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:04] ThomasKranitsas commented on #1414
[500]: Challenge for the updated issue 1414 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:05] nahidshahin commented on #1478
@ThomasKranitsas I want to work on it

[2018-09-28 15:06] ThomasKranitsas commented on #1478
@nahidshahin I see there's a pending invitation... Please check your email and accept the invitation. Then I'll assign you to the ticket.

[2018-09-28 15:06] khushimehta03 commented on #1414
@ThomasKranitsas i want to work on this.

[2018-09-28 15:07] ThomasKranitsas commented on #1414
@prasadadarkar30, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:09] khushimehta03 commented on #1414
@ThomasKranitsas please assing to me as i was one who commented first.

[2018-09-28 15:10] ThomasKranitsas commented on #1414
Contest https://www.topcoder.com/challenges/30071998 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:10] sumitdaga commented on #1575
@cwdcwd
i made these changes based on what the backend is currently returning!
how to test with the v5 API ?

[2018-09-28 15:10] ThomasKranitsas commented on #1414
Contest https://www.topcoder.com/challenges/30071998 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:12] nahidshahin commented on #1478
@ThomasKranitsas is it possible to send it again. I'm not able to find

[2018-09-28 15:32] ThomasKranitsas commented on #1414
@khushimehta03 make sure to register on our bug bash challenge and register with the link from the challenge forum. https://www.topcoder.com/challenges/30071536

[2018-09-28 15:40] khushimehta03 commented on #1414
@ThomasKranitsas its still giving same error as before.
{"message":"Failed to add team member. 422 error making request PUT https://api.github.com/teams/2454329/memberships/khushimehta03: \"Unprocessable Entity\".","code":"Unprocessable Entity"}

[2018-09-28 15:40] ThomasKranitsas commented on #1414
@cwdcwd ☝️

[2018-09-28 15:48] ThomasKranitsas commented on #1300
This should be fixed in all subpages

[2018-09-28 15:49] ThomasKranitsas commented on #1300
Contest https://www.topcoder.com/challenges/30071999 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:49] ThomasKranitsas commented on #1300
Contest https://www.topcoder.com/challenges/30071999 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:49] ThomasKranitsas commented on #1300
@topcoder-platform/topcodercompetitors new ticket

[2018-09-28 15:50] ThomasKranitsas commented on #1300
@prasadadarkar30, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:50] prasadadarkar30 commented on #1300
@ThomasKranitsas i hope i will be allowed to work on this as i was first one to comment on it.

[2018-09-28 15:50] ThomasKranitsas commented on #1302
Contest https://www.topcoder.com/challenges/30072000 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:50] ThomasKranitsas commented on #1302
Contest https://www.topcoder.com/challenges/30072000 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:50] ThomasKranitsas commented on #1302
@topcoder-platform/topcodercompetitors new ticket

[2018-09-28 15:51] ThomasKranitsas commented on #1300
@prasadadarkar30, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:51] cwdcwd commented on #1575
what's that URL look like? This should already be posting to the V5 version of the submissions API.
the v3 APIs have that `payload.result.success` structure. The V5 API does not, that's why I mentioned it.

[2018-09-28 15:52] cwdcwd commented on #1575
Where can you check the HTTP Status of a call in this code?

[2018-09-28 15:53] ThomasKranitsas commented on #1300
let's wait for @cwdcwd to add you to the repo. Then you can work on it

[2018-09-28 15:55] ThomasKranitsas commented on #1300
Contest https://www.topcoder.com/challenges/30071999 has been updated - it has been assigned to prasadadarkar30.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 15:56] prasadadarkar30 commented on #1300
@ThomasKranitsas i added myself to repo after registering and accepting 2.2 agreement.

[2018-09-28 15:56] ThomasKranitsas commented on #1300
awesome!

[2018-09-28 15:57] akmarif commented on #1302
@ThomasKranitsas I want to work on it

[2018-09-28 15:59] ThomasKranitsas commented on #1302
Please register on this https://www.topcoder.com/challenges/30071536 challenge and use the link from the challenge forum to register to our Topcoder-X platform so you can pick this ticket

[2018-09-28 16:00] akmarif commented on #1302
Tried but error occurred

[2018-09-28 16:01] ThomasKranitsas commented on #1319
Contest https://www.topcoder.com/challenges/30072003 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:01] ThomasKranitsas commented on #1319
Contest https://www.topcoder.com/challenges/30072003 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:01] ThomasKranitsas commented on #1302
@cwdcwd ☝️

[2018-09-28 16:01] ThomasKranitsas commented on #1319
@topcoder-platform/topcodercompetitors new ticket

[2018-09-28 16:02] ThomasKranitsas commented on #1312
Contest https://www.topcoder.com/challenges/30072004 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:02] ThomasKranitsas commented on #1312
Contest https://www.topcoder.com/challenges/30072004 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:02] ThomasKranitsas commented on #1312
@topcoder-platform/topcodercompetitors new ticket

[2018-09-28 16:03] ThomasKranitsas commented on #1321
Seems like this has been resolved

[2018-09-28 16:03] #1321 closed

[2018-09-28 16:04] ThomasKranitsas commented on #1322
@topcoder-platform/topcodercompetitors new ticket

This should be fixed for all dropdown menus

[2018-09-28 16:04] ThomasKranitsas commented on #1322
Contest https://www.topcoder.com/challenges/30072005 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:04] ThomasKranitsas commented on #1322
Contest https://www.topcoder.com/challenges/30072005 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:07] ThomasKranitsas commented on #1325
can't reproduce anymore

[2018-09-28 16:07] #1325 closed

[2018-09-28 16:07] ThomasKranitsas commented on #1326
Contest https://www.topcoder.com/challenges/30072006 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:07] ThomasKranitsas commented on #1326
This should be fixed in all subpages

[2018-09-28 16:07] ThomasKranitsas commented on #1326
Contest https://www.topcoder.com/challenges/30072006 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:07] ThomasKranitsas commented on #1326
@topcoder-platform/topcodercompetitors new ticket

[2018-09-28 16:08] ThomasKranitsas commented on #1331
@topcoder-platform/topcodercompetitors new ticket

[2018-09-28 16:09] ThomasKranitsas commented on #1331
Contest https://www.topcoder.com/challenges/30072007 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:09] ThomasKranitsas commented on #1331
Contest https://www.topcoder.com/challenges/30072007 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:16] sumitdaga commented on #1328
PR #1597

[2018-09-28 16:16] ThomasKranitsas commented on #1322
Contest https://www.topcoder.com/challenges/30072005 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:19] ThomasKranitsas commented on #1333
@topcoder-platform/topcodercompetitors new ticket!

Make sure you also rename the svg icon if needed otherwise we'll get an error

[2018-09-28 16:19] ThomasKranitsas commented on #1333
Contest https://www.topcoder.com/challenges/30072009 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:19] ThomasKranitsas commented on #1333
Contest https://www.topcoder.com/challenges/30072009 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:27] ThomasKranitsas commented on #1328
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:27] ThomasKranitsas commented on #1340
fixed

[2018-09-28 16:27] #1340 closed

[2018-09-28 16:27] ThomasKranitsas commented on #1339
fixed

[2018-09-28 16:27] #1339 closed

[2018-09-28 16:29] ThomasKranitsas commented on #1328
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:29] ThomasKranitsas commented on #1337
can't reproduce

[2018-09-28 16:29] #1337 closed

[2018-09-28 16:31] ThomasKranitsas commented on #1328
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:31] ThomasKranitsas commented on #1328
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:33] ThomasKranitsas commented on #1328
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:34] akmarif commented on #1302
@ThomasKranitsas issued a PR https://github.com/topcoder-platform/community-app/pull/1598

[2018-09-28 16:35] akmarif commented on #1312
@ThomasKranitsas I want to fix it

[2018-09-28 16:37] PrakashDurlabhji commented on #1502
@ThomasKranitsas it is working perfectly. i saw the code.

[2018-09-28 16:38] #1502 closed

[2018-09-28 16:38] ThomasKranitsas commented on #1502
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071995<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:41] ThomasKranitsas commented on #1319
Contest https://www.topcoder.com/challenges/30072003 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:46] PrakashDurlabhji commented on #1319
@ThomasKranitsas PR ready #1599

[2018-09-28 16:47] ThomasKranitsas commented on #1333
Contest https://www.topcoder.com/challenges/30072009 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:48] akmarif commented on #1312
@ThomasKranitsas can't regenerate the problem, may be already fixed.

[2018-09-28 16:51] akmarif commented on #1326
@ThomasKranitsas I want to try this issue

[2018-09-28 16:52] hokienick opened #1600 "[$70] Newsletter Signup Button Does Not Work"
**Describe the bug**
A new feature was introduced on Thursday.  This feature worked in the dev version of the community-app but is not now working in production

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.topcoder.com/community/member-programs/topcoder-open/tco-tuesdays
2. Click on 'Subscribe to TCO Newsletter" button
3. Click on "Sign Up" Button
4. Notice Nothing Happe

[2018-09-28 16:52] hokienick commented on #1600
@ThomasKranitsas Please add to Bug Bash!

[2018-09-28 16:53] PrakashDurlabhji commented on #1333
@ThomasKranitsas PR done #1601

[2018-09-28 16:54] ThomasKranitsas commented on #1600
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-28 16:54] ThomasKranitsas commented on #1600
Contest https://www.topcoder.com/challenges/30072013 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:54] ThomasKranitsas commented on #1600
Contest https://www.topcoder.com/challenges/30072013 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 16:59] PrakashDurlabhji commented on #1326
@akmarif how many issues u wana try? because on every issue u ocmmenting i wana try, @ThomasKranitsas can u please help in knowing whether i can take this issue? thanks

[2018-09-28 16:59] ThomasKranitsas commented on #1331
Contest https://www.topcoder.com/challenges/30072007 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 17:02] PrakashDurlabhji commented on #1331
@ThomasKranitsas it is working perefctly fine. i saw it just now in code.

[2018-09-28 17:02] ThomasKranitsas commented on #1335
Contest https://www.topcoder.com/challenges/30072010 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 17:03] akmarif commented on #1326
@PrakashDurlabhji I raised PR in the previous issue

[2018-09-28 17:04] PrakashDurlabhji commented on #1326
@akmarif then please comment that PR raised. and give link to it , so its easy to track it. thanks

[2018-09-28 17:05] akmarif commented on #1326
I gave, https://github.com/topcoder-platform/community-app/issues/1302, please check before asking

[2018-09-28 17:28] ThomasKranitsas commented on #1600
Contest https://www.topcoder.com/challenges/30072013 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 17:34] ThomasKranitsas commented on #1322
Contest https://www.topcoder.com/challenges/30072005 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 18:00] sumitdaga commented on #1575
that's strange, it is now POSTing to the V5 API , but when i started work on this issue i am almost sure that it was POSTing to V3 API

as of now the V5 API always returns `502: Bad Gateway` error !

[2018-09-28 19:07] ajefts commented on #1262
@ThomasKranitsas can you add this to the bash please?

[2018-09-28 19:09] akmarif commented on #1326
@ThomasKranitsas opened a PR https://github.com/topcoder-platform/community-app/pull/1604

[2018-09-28 19:29] nahidshahin commented on #1478
@ThomasKranitsas Skill add is not working. Getting 400 while calling https://api.topcoder-dev.com/v3/members/nahidshahin1/skills, error message is `Tag id 121 is not valid`. Any idea why?

[2018-09-28 19:42] sumitdaga commented on #1312
@ThomasKranitsas
i remember fixing this in the PRs #1552  and #1554
but i am not sure if it fixed for all sub-pages

[2018-09-28 20:01] ThomasKranitsas commented on #1478
Skills only work in prod... you need to run the app against the prod API

[2018-09-28 20:02] ThomasKranitsas commented on #1262
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-28 20:03] ThomasKranitsas commented on #1262
Contest https://www.topcoder.com/challenges/30072016 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 20:03] ThomasKranitsas commented on #1262
Contest https://www.topcoder.com/challenges/30072016 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 20:05] ThomasKranitsas commented on #1262
Contest https://www.topcoder.com/challenges/30072016 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-28 22:57] rashmi73 commented on #1349
@ThomasKranitsas #1605

[2018-09-29 01:40] ThomasKranitsas commented on #1600
Contest https://www.topcoder.com/challenges/30072013 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 10:15] Gauravseta commented on #1363
@ThomasKranitsas
credentials TonyJ/appirio123 is not working, any new credentials?

[2018-09-29 10:16] ThomasKranitsas commented on #1363
interesting...

@topcoder-platform/topcodercompetitors did anyone changed the credentials?

Maybe there's an issue with the backend..?

[2018-09-29 10:16] ThomasKranitsas commented on #1363
You can setup a new testing account

[2018-09-29 10:34] #1600 closed

[2018-09-29 10:34] ThomasKranitsas commented on #1600
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072013<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 10:54] #1470 closed

[2018-09-29 10:55] ThomasKranitsas commented on #1470
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071865<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 10:56] #1583 closed

[2018-09-29 10:56] ThomasKranitsas commented on #1583
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071869<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 10:57] #1477 closed

[2018-09-29 10:57] ThomasKranitsas commented on #1477
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071833<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 11:00] ThomasKranitsas commented on #1302
This has been fixed but can't be paid as you are not yet registered with Topcoder-X.

@cwdcwd can you please help?

[2018-09-29 11:03] #1319 closed

[2018-09-29 11:03] ThomasKranitsas commented on #1319
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072003<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 11:06] #1333 closed

[2018-09-29 11:06] ThomasKranitsas commented on #1333
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072009<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 11:08] Gauravseta commented on #1363
@ThomasKranitsas i analyzed it by creating 3 accounts (e.g A,B,C).

Actually it is some issue with backend i feel and also some with front end.

1. I am not able to change password for a/c A.
2. I am not able to change password for a/c B.
3. I am able to successfully change password for a/c C.

Also,
Case 1: For a/c C , if purposefully i enter wrong current password and enter some new passowrd and

[2018-09-29 11:09] ThomasKranitsas commented on #1363
@dedywahyudi can you please take a look on this?

[2018-09-29 11:12] #1322 closed

[2018-09-29 11:13] ThomasKranitsas commented on #1322
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072005<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 11:18] Gauravseta commented on #1363
@ThomasKranitsas now i will create D account and try it once again.I feel it shud work.

[2018-09-29 11:47] akmarif commented on #1302
@cwdcwd I'm getting `{"message":"Failed to add team member. 422 error making request PUT https://api.github.com/teams/2454329/memberships/akmarif: \"Unprocessable Entity\".","code":"Unprocessable Entity"}`

[2018-09-29 11:49] Gauravseta commented on #1363
@ThomasKranitsas it is working perfectly well as of now.

[2018-09-29 12:08] ThomasKranitsas commented on #1343
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 12:13] ThomasKranitsas commented on #1343
@rashmi73 this is yours but I'll add you back once tcx processes this ticket

[2018-09-29 12:13] ThomasKranitsas commented on #1594
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30071991 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:13] rashmi73 commented on #1343
@ThomasKranitsas sure np. till then i will keep PR ready

[2018-09-29 12:15] ThomasKranitsas commented on #1343
[500]: Challenge for the updated issue 1343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:15] ThomasKranitsas commented on #1343
[500]: Challenge for the updated issue 1343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:16] ThomasKranitsas commented on #1400
remove the empty space.

[2018-09-29 12:16] ThomasKranitsas commented on #1413
Contest https://www.topcoder.com/challenges/30072022 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:16] ThomasKranitsas commented on #1400
Contest https://www.topcoder.com/challenges/30072023 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:16] ThomasKranitsas commented on #1413
Contest https://www.topcoder.com/challenges/30072022 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:16] ThomasKranitsas commented on #1400
Contest https://www.topcoder.com/challenges/30072023 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:17] ThomasKranitsas commented on #1399
Contest https://www.topcoder.com/challenges/30072024 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:17] ThomasKranitsas commented on #1399
Contest https://www.topcoder.com/challenges/30072024 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:17] ThomasKranitsas commented on #1343
[500]: Challenge for the updated issue 1343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:18] ThomasKranitsas commented on #1394
This should be fixed in `0.6.1` of topcoder-react-lib

[2018-09-29 12:18] #1394 closed

[2018-09-29 12:18] ThomasKranitsas commented on #1399
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 12:18] ThomasKranitsas commented on #1400
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 12:18] ThomasKranitsas commented on #1390
Contest https://www.topcoder.com/challenges/30072025 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:18] ThomasKranitsas commented on #1390
Contest https://www.topcoder.com/challenges/30072025 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:18] ThomasKranitsas commented on #1413
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 12:19] ThomasKranitsas commented on #1390
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 12:19] ThomasKranitsas commented on #1343
[500]: Challenge for the updated issue 1343 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:27] ThomasKranitsas commented on #1400
sure

[2018-09-29 12:28] ThomasKranitsas commented on #1400
Contest https://www.topcoder.com/challenges/30072023 has been updated - it has been assigned to prasadadarkar30.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:29] prasadadarkar30 commented on #1400
@ThomasKranitsas it is with me now.  i was first . rashm can take others

[2018-09-29 12:30] ThomasKranitsas commented on #1371
Contest https://www.topcoder.com/challenges/30072030 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:32] ThomasKranitsas commented on #1369
Contest https://www.topcoder.com/challenges/30072031 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:33] ThomasKranitsas commented on #1374
Contest https://www.topcoder.com/challenges/30072028 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:34] jomadoye commented on #1385
I will work on this @ThomasKranitsas

[2018-09-29 12:36] jomadoye commented on #1362
I will work on this @ThomasKranitsas

[2018-09-29 12:37] jomadoye commented on #1362
Please assign me when you can @ThomasKranitsas

[2018-09-29 12:38] nahidshahin commented on #1478
The issue is a bit tricky, someone please try it. I'm leaving it.

[2018-09-29 12:38] nahidshahin commented on #1385
@ThomasKranitsas I want to work on it

[2018-09-29 12:41] ThomasKranitsas commented on #1364
Contest https://www.topcoder.com/challenges/30072032 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:41] Gauravseta commented on #1371
@ThomasKranitsas #1608

[2018-09-29 12:44] ThomasKranitsas commented on #1387
Contest https://www.topcoder.com/challenges/30072026 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:45] sumitdaga commented on #1373
PR #1609

[2018-09-29 12:45] ThomasKranitsas commented on #1357
Contest https://www.topcoder.com/challenges/30072035 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:52] #1390 closed

[2018-09-29 12:53] ThomasKranitsas commented on #1390
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072025<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:53] ThomasKranitsas commented on #1362
@cwdcwd what's the status with @jomadoye ? I still can't add him to a ticket

[2018-09-29 12:54] ThomasKranitsas commented on #1478
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 12:54] ThomasKranitsas commented on #1373
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:55] #1371 closed

[2018-09-29 12:55] ThomasKranitsas commented on #1371
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072030<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:57] ThomasKranitsas commented on #1426
Contest https://www.topcoder.com/challenges/30072037 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 12:57] ThomasKranitsas commented on #1426
Contest https://www.topcoder.com/challenges/30072037 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:00] ThomasKranitsas commented on #1426
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:00] ThomasKranitsas commented on #1427
Contest https://www.topcoder.com/challenges/30072038 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:00] ThomasKranitsas commented on #1427
Contest https://www.topcoder.com/challenges/30072038 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:00] ThomasKranitsas commented on #1427
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:00] ThomasKranitsas commented on #1428
Contest https://www.topcoder.com/challenges/30072039 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:00] ThomasKranitsas commented on #1428
Contest https://www.topcoder.com/challenges/30072039 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:00] ThomasKranitsas commented on #1428
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:01] ThomasKranitsas commented on #1429
Contest https://www.topcoder.com/challenges/30072040 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:01] ThomasKranitsas commented on #1429
Contest https://www.topcoder.com/challenges/30072040 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:01] ThomasKranitsas commented on #1429
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:01] ThomasKranitsas commented on #1433
Contest https://www.topcoder.com/challenges/30072041 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:01] ThomasKranitsas commented on #1433
Contest https://www.topcoder.com/challenges/30072041 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:01] nahidshahin commented on #1426
@ThomasKranitsas want to pick it

[2018-09-29 13:01] ThomasKranitsas commented on #1373
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30072029 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:01] ThomasKranitsas commented on #1436
Contest https://www.topcoder.com/challenges/30072042 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:02] ThomasKranitsas commented on #1436
Contest https://www.topcoder.com/challenges/30072042 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:02] ThomasKranitsas commented on #1437
Contest https://www.topcoder.com/challenges/30072043 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:02] ThomasKranitsas commented on #1437
Contest https://www.topcoder.com/challenges/30072043 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:02] ThomasKranitsas commented on #1433
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:02] ThomasKranitsas commented on #1444
Contest https://www.topcoder.com/challenges/30072044 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:02] ThomasKranitsas commented on #1444
Contest https://www.topcoder.com/challenges/30072044 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:02] ThomasKranitsas commented on #1436
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:02] ThomasKranitsas commented on #1446
Contest https://www.topcoder.com/challenges/30072045 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:02] ThomasKranitsas commented on #1437
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:02] ThomasKranitsas commented on #1446
Contest https://www.topcoder.com/challenges/30072045 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:02] ThomasKranitsas commented on #1444
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:02] ThomasKranitsas commented on #1446
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:04] ThomasKranitsas commented on #1449
let's use `Email` everywhere

[2018-09-29 13:04] ThomasKranitsas commented on #1449
Contest https://www.topcoder.com/challenges/30072046 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:04] ThomasKranitsas commented on #1449
Contest https://www.topcoder.com/challenges/30072046 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:04] ThomasKranitsas commented on #1451
Contest https://www.topcoder.com/challenges/30072047 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:04] ThomasKranitsas commented on #1451
Contest https://www.topcoder.com/challenges/30072047 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:04] ThomasKranitsas commented on #1449
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:04] ThomasKranitsas commented on #1453
Contest https://www.topcoder.com/challenges/30072048 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:04] ThomasKranitsas commented on #1453
Contest https://www.topcoder.com/challenges/30072048 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:05] ThomasKranitsas commented on #1451
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:05] ThomasKranitsas commented on #1453
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:06] jomadoye commented on #1362
I have check my spam and all I did not receive any email

[2018-09-29 13:10] akmarif commented on #1399
@ThomasKranitsas not reproducible at given browser, my be already fixed

[2018-09-29 13:11] ThomasKranitsas commented on #1457
Contest https://www.topcoder.com/challenges/30072049 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:11] ThomasKranitsas commented on #1457
Contest https://www.topcoder.com/challenges/30072049 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:11] akmarif commented on #1453
@ThomasKranitsas want to work on it

[2018-09-29 13:11] ThomasKranitsas commented on #1463
Contest https://www.topcoder.com/challenges/30072050 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:11] ThomasKranitsas commented on #1463
Contest https://www.topcoder.com/challenges/30072050 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:12] ThomasKranitsas commented on #1457
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:12] ThomasKranitsas commented on #1476
Contest https://www.topcoder.com/challenges/30072051 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:12] ThomasKranitsas commented on #1476
Contest https://www.topcoder.com/challenges/30072051 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:12] ThomasKranitsas commented on #1463
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:12] ThomasKranitsas commented on #1476
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:13] ThomasKranitsas commented on #1482
Contest https://www.topcoder.com/challenges/30072052 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:13] ThomasKranitsas commented on #1483
Contest https://www.topcoder.com/challenges/30072053 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:13] ThomasKranitsas commented on #1482
Contest https://www.topcoder.com/challenges/30072052 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:13] ThomasKranitsas commented on #1483
Contest https://www.topcoder.com/challenges/30072053 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:13] ThomasKranitsas commented on #1489
Contest https://www.topcoder.com/challenges/30072054 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:13] ThomasKranitsas commented on #1489
Contest https://www.topcoder.com/challenges/30072054 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:13] ThomasKranitsas commented on #1482
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:13] ThomasKranitsas commented on #1483
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:13] ThomasKranitsas commented on #1503
Contest https://www.topcoder.com/challenges/30072055 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:13] ThomasKranitsas commented on #1503
Contest https://www.topcoder.com/challenges/30072055 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:13] ThomasKranitsas commented on #1489
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:13] ThomasKranitsas commented on #1503
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:13] ThomasKranitsas commented on #1463
Contest https://www.topcoder.com/challenges/30072050 has been updated - it has been assigned to gets0ul.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:14] ThomasKranitsas commented on #1505
Contest https://www.topcoder.com/challenges/30072056 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:14] ThomasKranitsas commented on #1505
Contest https://www.topcoder.com/challenges/30072056 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:14] ThomasKranitsas commented on #1503
Contest https://www.topcoder.com/challenges/30072055 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:14] ThomasKranitsas commented on #1505
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:14] ThomasKranitsas commented on #1507
Contest https://www.topcoder.com/challenges/30072057 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:14] ThomasKranitsas commented on #1507
Contest https://www.topcoder.com/challenges/30072057 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:15] ThomasKranitsas commented on #1507
@topcoder-platform/topcodercompetitors this is open for pickup

[2018-09-29 13:15] sumitdaga commented on #1387
PR #1611

[2018-09-29 13:16] ThomasKranitsas commented on #1505
Contest https://www.topcoder.com/challenges/30072056 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:17] ThomasKranitsas commented on #1362
@cwdcwd ☝️

[2018-09-29 13:18] Gauravseta commented on #1503
@ThomasKranitsas #1612

[2018-09-29 13:27] Gauravseta commented on #1457
@ThomasKranitsas need changes on topcoder-react-ui-kit, do u want me to change it there? or manage hereitself?

[2018-09-29 13:28] ThomasKranitsas commented on #1387
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:30] ThomasKranitsas commented on #1489
Contest https://www.topcoder.com/challenges/30072054 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:30] akmarif commented on #1446
@ThomasKranitsas I want to pick it now

[2018-09-29 13:30] ThomasKranitsas commented on #1387
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:31] ThomasKranitsas commented on #1387
Payment failed: [400]: Failed to activate challenge. Detail: The provide challenge with id 30072026 is not in DRAFT status<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:33] ThomasKranitsas commented on #1387
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:39] Gauravseta commented on #1457
@ThomasKranitsas found solution doin it.

[2018-09-29 13:43] Gauravseta commented on #1457
@ThomasKranitsas #1616

[2018-09-29 13:44] sumitdaga commented on #1505
ok @ThomasKranitsas so i checked
there is some code written to keep the focus on the input field even when show button is toggled ..
this issue is happening because of that ...
and i am not sure if both are possible at the same time ...
we can remove this issue but then when the show button is clicked then the input field will blur

please suggest , what do you prefer?

[2018-09-29 13:45] ThomasKranitsas commented on #1437
Contest https://www.topcoder.com/challenges/30072043 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:47] Gauravseta commented on #1446
@ThomasKranitsas its realy confusing akmarif working on which , he comments on every issue, but forgots  to add pr link in some issues, how to guess whether he working simultaneously or not? thanks. iwanted to work on it but i see his same comment on other issues too without PR link

[2018-09-29 13:49] sumitdaga commented on #1505
meanwhile i am taking another issue
i hope thats ok ?

[2018-09-29 13:49] ThomasKranitsas commented on #1428
Contest https://www.topcoder.com/challenges/30072039 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:56] sumitdaga commented on #1428
PR #1617

[2018-09-29 13:57] ThomasKranitsas commented on #1429
Contest https://www.topcoder.com/challenges/30072040 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 13:58] ThomasKranitsas commented on #1420
Contest https://www.topcoder.com/challenges/30072058 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:01] akmarif commented on #1446
@Gauravseta I raised PR in the previous issue I worked on.

[2018-09-29 14:01] ThomasKranitsas commented on #1343
Contest https://www.topcoder.com/challenges/30072059 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:01] ThomasKranitsas commented on #1343
Contest https://www.topcoder.com/challenges/30072059 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:02] sumitdaga commented on #1429
PR #1618

[2018-09-29 14:05] ThomasKranitsas commented on #1420
Contest https://www.topcoder.com/challenges/30072058 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:08] Gauravseta commented on #1437
@ThomasKranitsas  #1619

[2018-09-29 14:10] sumitdaga commented on #1420
PR #1620

[2018-09-29 14:12] ThomasKranitsas commented on #1433
Contest https://www.topcoder.com/challenges/30072041 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:13] ThomasKranitsas commented on #1444
Contest https://www.topcoder.com/challenges/30072044 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:18] sumitdaga commented on #1444
PR #1621
@ThomasKranitsas
mind that you will now need to check this in mobile layout because tablet is showing desktop layout now!

[2018-09-29 14:27] akmarif commented on #1483
@ThomasKranitsas I want to pick it

[2018-09-29 14:30] sumitdaga commented on #1505
PR #1624

[2018-09-29 14:33] ThomasKranitsas commented on #1427
Contest https://www.topcoder.com/challenges/30072038 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:34] Gauravseta commented on #1482
@ThomasKranitsas #1625

[2018-09-29 14:34] ThomasKranitsas commented on #1433
Contest https://www.topcoder.com/challenges/30072041 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:35] ThomasKranitsas commented on #1385
Contest https://www.topcoder.com/challenges/30072027 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:44] ThomasKranitsas commented on #1476
Contest https://www.topcoder.com/challenges/30072051 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:44] suppermancool commented on #1427
done in https://github.com/topcoder-platform/community-app/pull/1626

[2018-09-29 14:47] Gauravseta commented on #1433
@ThomasKranitsas seems to be working fine.

[2018-09-29 14:48] ThomasKranitsas commented on #1361
Contest https://www.topcoder.com/challenges/30072034 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:48] ThomasKranitsas commented on #1433
Contest https://www.topcoder.com/challenges/30072041 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2018-09-29 14:48] #1433 closed

[2018-09-29 14:49] ThomasKranitsas commented on #1433
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30072041<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```